Repository kyma-project/eventing-auth-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Path conditions:
  pull-eventing-auth-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
  pull-eventing-auth-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-auth-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

Update CODEOWNERS (#28)
  CODEOWNERS
Due: none

Add certs url to the Eventing webhook auth secret data
  .gitignore
  README.md
  controllers/eventingauth_controller_test.go
  controllers/stubs_test.go
  internal/ias/client.go
  internal/ias/client_test.go
  internal/ias/internal/oidc/mocks/client.go
  internal/ias/internal/oidc/oidc-client.go
  internal/ias/types.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Test auto-bump
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

Test auto-bump (#30)
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

Use explicit mock clients
  internal/ias/client_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Add certs url to the Eventing webhook auth secret data (#29)
  .gitignore
  README.md
  controllers/eventingauth_controller_test.go
  controllers/stubs_test.go
  internal/ias/client.go
  internal/ias/client_test.go
  internal/ias/internal/oidc/mocks/client.go
  internal/ias/internal/oidc/oidc-client.go
  internal/ias/types.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Test Eventing Auth Manager Auto-Bump
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

Retry if SKR k8s secret cannot be deleted
  controllers/eventingauth_controller.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Delete IAS app if skr cluster is gone
  controllers/eventingauth_controller.go
  controllers/eventingauth_controller_test.go
  controllers/kyma_controller_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

dummy commit
  controllers/suite_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Sort the imports
  controllers/kyma_controller_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Delete IAS Application if SKR cluster is not f ound (#35)
  controllers/eventingauth_controller.go
  controllers/eventingauth_controller_test.go
  controllers/kyma_controller_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

REUSE metadata proposal
  .reuse/dep5
  LICENSES/Apache-2.0.txt
Due: none

reuse compliance
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Due: none

add security scan configuration
  sec-scanners-config.yaml
Due: none

increase default timeout
  controllers/suite_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

reuse compliance (#45)
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Due: none

Add unit test as github action
  .github/workflows/unit-test.yml
Due: none

Add trigger for gha
  .github/workflows/unit-test.yml
Due: none

Test timeout
  controllers/suite_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Test
  controllers/eventingauth_controller_test.go
  controllers/kyma_controller_test.go
  controllers/suite_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

fix module name
  sec-scanners-config.yaml
Due: none

Fix flaky delete test
  controllers/eventingauth_controller_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Fix flaky delete test (#48)
  controllers/eventingauth_controller_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Undo
  controllers/eventingauth_controller_test.go
  controllers/kyma_controller_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Run unit tests with github action (#47)
  .github/workflows/unit-test.yml
Due: none

add security scan configuration (#46)
  controllers/suite_test.go
  sec-scanners-config.yaml
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

bump golang to 1.21.1
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

add dependabot.yml
  .github/dependabot.yml
Due: none

change go version to v1.21
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

add dependabot.yml (#52)
  .github/dependabot.yml
Due: none

change repo for external images
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

bump golang to 1.21.1 (#51)
  Dockerfile
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

bump ginkgo, gomega and testify
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

bump k8s.io packages on patch level
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

bump utils
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

replace deprecated k8s.io/utils/pointer with k8s.io/utils/ptr
  controllers/suite_test.go
  go.sum
  internal/ias/client_test.go
  internal/ias/internal/oidc/oidc-client_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

bump dependencies (#62)
  controllers/suite_test.go
  go.mod
  go.sum
  internal/ias/client_test.go
  internal/ias/internal/oidc/oidc-client_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

bump gcr.io/kubebuilder/kube-rbac-proxy to v0.14.1
  config/default/manager_auth_proxy_patch.yaml
Due: none
