Repository kyma-project/eventing-auth-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Path conditions:
  pull-eventing-auth-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
  pull-eventing-auth-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-auth-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

update build job waiting logic in release pipeline (#219)
  .github/workflows/create-release.yml
Due: none

update token used in release pipeline
  .github/workflows/create-release.yml
Due: none

updated
  .github/workflows/create-release.yml
Due: none

chore: update token used in release pipeline (#220)
  .github/workflows/create-release.yml
Due: none

Upgrade golang-jwt to fix security issue
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Upgrade dependencies
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Upgrade golang-jwt to fix security issue (#235)
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

chore: upgrade packages (#236)
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

chore: bump dependencies
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

bumped lifecycle-manager package
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_eventingauths.yaml
  config/crd/external/operator.kyma-project.io_kymas.yaml
  config/crd/external/operator.kyma-project.io_manifests.yaml
  config/crd/external/operator.kyma-project.io_modulereleasemetas.yaml
  config/crd/external/operator.kyma-project.io_moduletemplates.yaml
  config/crd/external/operator.kyma-project.io_watchers.yaml
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

removed new CRD
  config/crd/external/operator.kyma-project.io_modulereleasemetas.yaml
Due: none

chore: bump dependencies (#250)
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_eventingauths.yaml
  config/crd/external/operator.kyma-project.io_kymas.yaml
  config/crd/external/operator.kyma-project.io_manifests.yaml
  config/crd/external/operator.kyma-project.io_moduletemplates.yaml
  config/crd/external/operator.kyma-project.io_watchers.yaml
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

bump golang version and golang image
  Dockerfile
  go.mod
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

bump go dependencies
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

deps: bump go dependencies, go image and go version (#256)
  Dockerfile
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

updated sec-scanners-config format
  hack/scripts/create_scan_config.sh
  sec-scanners-config.yaml
Due: none

updated sec-scanners-config format (#257)
  hack/scripts/create_scan_config.sh
  sec-scanners-config.yaml
Due: none

remove the rc-tag
  sec-scanners-config.yaml
Due: none

remove the rc-tag (#264)
  sec-scanners-config.yaml
Due: none

bump base image
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

bump go version
  go.mod
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

bump all dependencies
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

chore: bump dependencies (#279)
  Dockerfile
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

docs: restructre the documentation
  README.md
  doc/controller-flow.svg
  doc/overview.svg
  docs/contributor/README.md
  docs/contributor/assets/controller-flow.drawio.svg
  docs/contributor/assets/overview.drawio.svg
  docs/contributor/decision-records.md
Due: none

Update
  README.md
Due: none

Apply suggestions from lr
  README.md
  docs/contributor/README.md
  docs/contributor/assets/controller-flow.drawio.svg
  docs/contributor/assets/overview.drawio.svg
  docs/contributor/decision-records.md
Due: none

Update
  docs/contributor/assets/controller-flow.drawio.svg
Due: none

Update
  docs/contributor/README.md
  docs/contributor/assets/controller-flow.drawio.svg
  docs/contributor/decision-records.md
Due: none

Update
  README.md
  docs/contributor/README.md
Due: none

docs: restructure the documentation (#312)
  README.md
  doc/controller-flow.svg
  doc/overview.svg
  docs/contributor/README.md
  docs/contributor/assets/controller-flow.drawio.svg
  docs/contributor/assets/overview.drawio.svg
  docs/contributor/decision-records.md
Due: none

make image fips compliant
  Dockerfile
  config/crd/external/operator.kyma-project.io_modulereleasemetas.yaml
  config/crd/external/operator.kyma-project.io_watchers.yaml
  scripts/docker/entrypoint.sh
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

change distroles to alpina
  Dockerfile
  scripts/docker/entrypoint.sh
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

enable fips only
  Dockerfile
  config/crd/external/operator.kyma-project.io_modulereleasemetas.yaml
  config/crd/external/operator.kyma-project.io_watchers.yaml
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

enable fips only (#315)
  Dockerfile
  config/crd/external/operator.kyma-project.io_modulereleasemetas.yaml
  config/crd/external/operator.kyma-project.io_watchers.yaml
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

Update sec-scanners-config: 1.0.3
  sec-scanners-config.yaml
Due: none

bump release tag in sec-scan
  sec-scanners-config.yaml
Due: none

bump release tag in sec-scan (#319)
  sec-scanners-config.yaml
Due: none

go version bump to 1.26.0
  Makefile
  go.mod
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

build image version bump
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

chore: go version bump to 1.26.0 (#320)
  Dockerfile
  Makefile
  go.mod
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build
