Repository kyma-project/eventing-auth-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

pull-eventing-auth-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-auth-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pull-eventing-auth-manager-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-auth-manager-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:v20230323-a1ac96db
      securityContext:
  ...

post-eventing-auth-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-eventing-auth-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

bump gcr.io/kubebuilder/kube-rbac-proxy to v0.14.1 (#63)
  config/default/manager_auth_proxy_patch.yaml
Due: none

comment out kube-rbac-proxy
  config/default/kustomization.yaml
Due: none

comment out kube-rbac-proxy (#64)
  config/default/kustomization.yaml
Due: none

bump the sec-scanner-config
  sec-scanners-config.yaml
Due: none

bump the sec-scanner-config (#65)
  sec-scanners-config.yaml
Due: none

change the dir to prod
  sec-scanners-config.yaml
Due: none

change the dir to prod (#66)
  sec-scanners-config.yaml
Due: none

Bump all dependencies.
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Regenerate ias code.
  internal/ias/internal/api/ias.gen.go
  internal/ias/internal/api/mocks/client_with_responses_interface.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Replace deprecated functions in controller-runtime.
  cmd/main.go
  controllers/suite_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Sort imports.
  api/v1alpha1/status.go
  api/v1alpha1/status_test.go
  controllers/kyma_controller.go
  controllers/stubs_test.go
  internal/ias/client.go
  internal/ias/client_test.go
  internal/ias/ias_config.go
  internal/ias/ias_config_test.go
  internal/ias/internal/mocks/client_mock.go
  internal/skr/client.go
  internal/skr/client_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Add missing mock funcs.
  internal/ias/internal/mocks/client_mock.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Bump dependencies.
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Change module reference.
  controllers/kyma_controller_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Format.
  cmd/main.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Bump dependencies (#72)
  api/v1alpha1/status.go
  api/v1alpha1/status_test.go
  cmd/main.go
  controllers/kyma_controller.go
  controllers/kyma_controller_test.go
  controllers/stubs_test.go
  controllers/suite_test.go
  go.mod
  go.sum
  internal/ias/client.go
  internal/ias/client_test.go
  internal/ias/ias_config.go
  internal/ias/ias_config_test.go
  internal/ias/internal/api/ias.gen.go
  internal/ias/internal/api/mocks/client_with_responses_interface.go
  internal/ias/internal/mocks/client_mock.go
  internal/skr/client.go
  internal/skr/client_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Bumpd the golang image in the Dockerfile
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

Bumpd the golang image in the Dockerfile (#73)
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

Update sec-scanner-config.
  sec-scanners-config.yaml
Due: none

Update sec-scanner-config. (#75)
  sec-scanners-config.yaml
Due: none

Update image in sec-scanner-config
  sec-scanners-config.yaml
Due: none

Update image
  sec-scanners-config.yaml
Due: none

Update image in security-config (#89)
  sec-scanners-config.yaml
Due: none

Delete rbac-proxy resources as it cause security issues
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
Due: none

Bump k8s.io: apimachinery, api and client-go to 0.29.0
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Bump image in sec scanner config
  sec-scanners-config.yaml
Due: none

Bump image in sec scanner config (#97)
  sec-scanners-config.yaml
Due: none

Bump GOLANG to 1.21.5 in Dockerfile
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

bump golang:1.21.4-alpine3.18
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

Bump GOLANG to 1.21.5 in Dockerfile (#98)
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

Bump image in sec scanner config (#99)
  sec-scanners-config.yaml
Due: none

test commit
  cmd/main.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Upgrade dependencies
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Upgrade go versions for lint and unit test pipelines
  .github/workflows/lint.yml
  .github/workflows/unit-test.yml
Due: none

Ugrade golangci-lint
  .github/workflows/lint.yml
Due: none

Upgrade eam dependencies (#112)
  .github/workflows/lint.yml
  .github/workflows/unit-test.yml
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Add lint config
  .gitignore
  Makefile
Due: none

Path conditions:
  pull-eventing-auth-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
  pull-eventing-auth-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-auth-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
