Repository kyma-project/eventing-auth-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Path conditions:
  pull-eventing-auth-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
  pull-eventing-auth-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-auth-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

Bump sec-scanners-config.yaml to 0.0.1 (#158)
  sec-scanners-config.yaml
Due: none

Bump sec-scanners-config.yaml to 1.0.0
  sec-scanners-config.yaml
Due: none

Bump sec-scanners-config.yaml to 1.0.0 (#159)
  sec-scanners-config.yaml
Due: none

chore: enabled validate labels step in create release workflow
  .github/release.yml
  .github/workflows/create-release.yml
Due: none

update go version
  Dockerfile
  go.mod
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

update go version (#161)
  Dockerfile
  go.mod
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

chore: bumped go version to 1.22 in wrokflows
  .github/workflows/create-release.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint.yml
  .github/workflows/unit-test.yml
Due: none

changed
  .github/workflows/unit-test.yml
Due: none

changed
  Makefile
Due: none

changed
  .github/workflows/create-release.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint.yml
Due: none

changed
  .github/workflows/create-release.yml
Due: none

chore: refactored go version in workflows (#162)
  .github/workflows/create-release.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint.yml
  .github/workflows/unit-test.yml
  Makefile
Due: none

fix: updates CR status when application secret already exists on cluster
  controllers/eventingauth_controller.go
  controllers/eventingauth_controller_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

fix: updates CR status when application secret already exists on cluster (#164)
  controllers/eventingauth_controller.go
  controllers/eventingauth_controller_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

chore: enabled validate labels step in create release workflow (#160)
  .github/release.yml
  .github/workflows/create-release.yml
Due: none

Bump sec-scanners-config.yaml to 1.0.1
  sec-scanners-config.yaml
Due: none

Bump sec-scanners-config.yaml to 1.0.1 (#165)
  sec-scanners-config.yaml
Due: none

update linter to 1.57
  .github/workflows/create-release.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint.yml
  .github/workflows/unit-test.yml
  .golangci.yaml
  Makefile
  internal/ias/client_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Upgrade Go and modules for dependaBot PRs
  Dockerfile
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Upgrade Go and modules for dependaBot PRs (#194)
  Dockerfile
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Clean-up unnecessary modules
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Clean-up unnecessary modules (#195)
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

chore: bump dependencies
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

chore: bump dependencies (#204)
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

bump builder image
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

bump golang version
  go.mod
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

chore: bump dependencies (#205)
  Dockerfile
  go.mod
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Bump sec-scanners-config.yaml to 1.0.2
  sec-scanners-config.yaml
Due: none

Bump sec-scanners-config.yaml to 1.0.2 (#207)
  sec-scanners-config.yaml
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md (#211)
  CONTRIBUTING.md
Due: none

docs: Add mandatory sections to README.md
  README.md
Due: none

docs: Add mandatory sections to README.md (#212)
  README.md
Due: none

added github action based build jobs
  .github/workflows/pull-build-image.yaml
  .github/workflows/push-build-image.yaml
  .github/workflows/tag-build-image.yaml
Due: none

added github action based build jobs (#217)
  .github/workflows/pull-build-image.yaml
  .github/workflows/push-build-image.yaml
  .github/workflows/tag-build-image.yaml
Due: none

changed Dockerfile working directory
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

removed test job in build image
  .github/workflows/pull-build-image.yaml
Due: none

fix: changed Dockerfile working directory (#218)
  .github/workflows/pull-build-image.yaml
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

update build job waiting logic in release pipeline
  .github/workflows/create-release.yml
Due: none
