Repository kyma-project/eventing-auth-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Path conditions:
  pull-eventing-auth-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
  pull-eventing-auth-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-auth-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: none

Update sec-scanners-config.yaml (#321)
  sec-scanners-config.yaml
Due: none

bump go version to 1.26.2
  go.mod
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

bump go version in builder image
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

chore: bump go version (#324)
  Dockerfile
  go.mod
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

add --platform=$BUILDPLATFORM param to Dockerfile
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

add --platform=$BUILDPLATFORM param to Dockerfile (#325)
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

bump golang and lifecycle-manager/api versions
  config/crd/external/operator.kyma-project.io_kymas.yaml
  config/crd/external/operator.kyma-project.io_manifests.yaml
  config/crd/external/operator.kyma-project.io_modulereleasemetas.yaml
  config/crd/external/operator.kyma-project.io_moduletemplates.yaml
  config/crd/external/operator.kyma-project.io_watchers.yaml
  go.mod
  go.sum
  internal/ias/internal/mocks/client_mock.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

update Docker buulder image ref
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

add env protection gate for pull-request-target
  .github/workflows/pull-build-image.yaml
Due: none

bump k8s test version
  Makefile
Due: none

remove sec-scan from release process
  .github/workflows/create-release.yml
  hack/scripts/check_publish_release_prerequisites.sh
  hack/scripts/create_scan_config.sh
  hack/scripts/create_sec_scanner_bump_pr.sh
  sec-scanners-config.yaml
Due: none

bump k3d version to 5.8.3
  Makefile
Due: none

remove title check gh wf
  .github/workflows/lint-conventional-prs.yml
Due: none

remove slack webhook url var (#333)
  .github/workflows/integration-test.yml
Due: none

component config ocm build
  component-config.yaml
Due: none

component config ocm build (#337)
  component-config.yaml
Due: none

Add png diagrams
  docs/contributor/README.md
  docs/contributor/assets/controller-flow.drawio.png
  docs/contributor/assets/overview.drawio.png
Due: none

Add png diagrams (#338)
  docs/contributor/README.md
  docs/contributor/assets/controller-flow.drawio.png
  docs/contributor/assets/overview.drawio.png
Due: none

fix(release): route inputs.name through env var to prevent shell injection
  .github/workflows/create-release.yml
Due: none

bump golang;x-net/etc lib
  Dockerfile
  Makefile
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

fix docker image pull
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

chore: bump golang;x-net/etc lib (#340)
  Dockerfile
  Makefile
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build
