Repository kyma-project/eventing-auth-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Path conditions:
  pull-eventing-auth-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
  pull-eventing-auth-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-auth-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

Fix lint issues
  .gitignore
  api/v1alpha1/eventingauth_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/status_test.go
  cmd/main.go
  controllers/eventingauth_controller.go
  controllers/eventingauth_controller_test.go
  controllers/kyma_controller.go
  controllers/kyma_controller_test.go
  controllers/stubs_test.go
  controllers/suite_test.go
  internal/ias/client.go
  internal/ias/client_test.go
  internal/ias/ias_config.go
  internal/ias/internal/oidc/oidc-client_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Fix lint issues (#114)
  .gitignore
  Makefile
  api/v1alpha1/eventingauth_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/status_test.go
  cmd/main.go
  controllers/eventingauth_controller.go
  controllers/eventingauth_controller_test.go
  controllers/kyma_controller.go
  controllers/kyma_controller_test.go
  controllers/stubs_test.go
  controllers/suite_test.go
  internal/ias/client.go
  internal/ias/client_test.go
  internal/ias/ias_config.go
  internal/ias/internal/oidc/oidc-client_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Fix lint issues by importas linter
  api/v1alpha1/eventingauth_types.go
  api/v1alpha1/status.go
  api/v1alpha1/status_test.go
  cmd/main.go
  controllers/eventingauth_controller.go
  controllers/eventingauth_controller_test.go
  controllers/kyma_controller.go
  controllers/kyma_controller_test.go
  controllers/stubs_test.go
  controllers/suite_test.go
  internal/ias/client.go
  internal/ias/client_test.go
  internal/ias/ias_config.go
  internal/ias/ias_config_test.go
  internal/ias/internal/mocks/client_mock.go
  internal/ias/types.go
  internal/skr/client.go
  internal/skr/client_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Update imports for klm
  cmd/main.go
  controllers/kyma_controller.go
  controllers/kyma_controller_test.go
  controllers/suite_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Fix lint issues by importas linter (#115)
  api/v1alpha1/eventingauth_types.go
  api/v1alpha1/status.go
  api/v1alpha1/status_test.go
  cmd/main.go
  controllers/eventingauth_controller.go
  controllers/eventingauth_controller_test.go
  controllers/kyma_controller.go
  controllers/kyma_controller_test.go
  controllers/stubs_test.go
  controllers/suite_test.go
  internal/ias/client.go
  internal/ias/client_test.go
  internal/ias/ias_config.go
  internal/ias/ias_config_test.go
  internal/ias/internal/mocks/client_mock.go
  internal/ias/types.go
  internal/skr/client.go
  internal/skr/client_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Fix lint issues for goerr113
  api/v1alpha1/status.go
  api/v1alpha1/status_test.go
  controllers/eventingauth_controller.go
  controllers/eventingauth_controller_test.go
  controllers/kyma_controller.go
  controllers/stubs_test.go
  internal/ias/client.go
  internal/ias/client_test.go
  internal/ias/ias_config.go
  internal/ias/ias_config_test.go
  internal/ias/internal/oidc/oidc-client.go
  internal/ias/internal/oidc/oidc-client_test.go
  internal/skr/client.go
  internal/skr/client_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Fix lint issues for gochecknoinits
  api/v1alpha1/eventingauth_types.go
  cmd/main.go
  cmd/main_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Fix lint issues for gofumpt
  api/v1alpha1/status_test.go
  cmd/main.go
  controllers/eventingauth_controller_test.go
  controllers/stubs_test.go
  controllers/suite_test.go
  internal/ias/client.go
  internal/skr/client_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Fix lint issues for gochecknoglobals
  api/v1alpha1/eventingauth_types.go
  api/v1alpha1/groupversion_info.go
  cmd/main.go
  internal/ias/client.go
  internal/ias/ias_config.go
  internal/skr/client.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Fix lint issues for stylecheck
  api/v1alpha1/eventingauth_types.go
  api/v1alpha1/status_test.go
  controllers/eventingauth_controller.go
  controllers/kyma_controller_test.go
  controllers/stubs_test.go
  controllers/suite_test.go
  internal/ias/client.go
  internal/ias/client_test.go
  internal/ias/ias_config_test.go
  internal/ias/internal/api/SCI_Application_Directory.yaml
  internal/ias/internal/api/ias.gen.go
  internal/ias/internal/oidc/oidc-client.go
  internal/ias/internal/oidc/oidc-client_test.go
  internal/ias/types.go
  internal/skr/client.go
  internal/skr/client_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Fix lint issues for funlen
  controllers/eventingauth_controller.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Fix lint issues for nestif
  controllers/eventingauth_controller.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Fix lint issues (#116)
  api/v1alpha1/eventingauth_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/status.go
  api/v1alpha1/status_test.go
  cmd/main.go
  cmd/main_test.go
  controllers/eventingauth_controller.go
  controllers/eventingauth_controller_test.go
  controllers/kyma_controller.go
  controllers/kyma_controller_test.go
  controllers/stubs_test.go
  controllers/suite_test.go
  internal/ias/client.go
  internal/ias/client_test.go
  internal/ias/ias_config.go
  internal/ias/ias_config_test.go
  internal/ias/internal/api/SCI_Application_Directory.yaml
  internal/ias/internal/api/ias.gen.go
  internal/ias/internal/oidc/oidc-client.go
  internal/ias/internal/oidc/oidc-client_test.go
  internal/ias/types.go
  internal/skr/client.go
  internal/skr/client_test.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Update code linter job
  .github/workflows/lint.yml
Due: none

Update lint config URI
  .github/workflows/lint.yml
Due: none

Fix lint issues for godox
  controllers/eventingauth_controller.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Update code linter job (#117)
  .github/workflows/lint.yml
  controllers/eventingauth_controller.go
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

add rules for pr titles
  .github/dependabot.yml
  .github/workflows/lint-conventional-prs.yml
Due: none

fix regex link
  .github/workflows/lint-conventional-prs.yml
Due: none

feat: add rules for PRs (#119)
  .github/dependabot.yml
  .github/workflows/lint-conventional-prs.yml
Due: none

chore: update deps
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

chore: update crd doc
  config/crd/bases/operator.kyma-project.io_eventingauths.yaml
Due: none

chore: update go version for lint and unit-test jobs
  .github/workflows/lint.yml
  .github/workflows/unit-test.yml
Due: none

chore: update controller-tools to v0.14.0
  Makefile
Due: none

chore: change dependabot config to weekly schedule
  .github/dependabot.yml
Due: none

Bump version in workflows
  .github/workflows/lint.yml
  .github/workflows/unit-test.yml
Due: none

Bump version of controller-gen and kustomize
  Makefile
Due: none

Bump version in go.mod
  go.mod
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

chore: change dependabot config to weekly schedule (#127)
  .github/dependabot.yml
Due: none

Bump Go version in mod file
  go.mod
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Fix schedule of dependabot
  .github/dependabot.yml
Due: none

Fix schedule of dependabot (#130)
  .github/dependabot.yml
Due: none

introduce IAS integration test
  .github/workflows/integration-test.yml
  Makefile
  config/crd/bases/operator.kyma-project.io_eventingauths.yaml
  hack/provision-k3d.sh
Due: none

introduce IAS integration test (#131)
  .github/workflows/integration-test.yml
  Makefile
  config/crd/bases/operator.kyma-project.io_eventingauths.yaml
  hack/provision-k3d.sh
Due: none

fix: update klm version
  README.md
  cmd/main.go
  config/crd/bases/operator.kyma-project.io_eventingauths.yaml
  config/crd/external/operator.kyma-project.io_kymas.yaml
  config/samples/kustomization.yaml
  config/samples/operator_v1beta2_kyma.yaml
  controllers/kyma_controller.go
  controllers/kyma_controller_test.go
  controllers/suite_test.go
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

Experimental: downgrade go to 1.21
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

Revert "Experimental: downgrade go to 1.21"
  Dockerfile
Due: pull-eventing-auth-manager-build, post-eventing-auth-manager-build

update klm version
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

fix: update klm version (#133)
  README.md
  cmd/main.go
  config/crd/external/operator.kyma-project.io_kymas.yaml
  config/samples/kustomization.yaml
  config/samples/operator_v1beta2_kyma.yaml
  controllers/kyma_controller.go
  controllers/kyma_controller_test.go
  controllers/suite_test.go
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build

introduce target for external-CRD generation
  Makefile
  config/crd/external/operator.kyma-project.io_kymas.yaml
  config/crd/external/operator.kyma-project.io_manifests.yaml
  config/crd/external/operator.kyma-project.io_moduletemplates.yaml
  config/crd/external/operator.kyma-project.io_watchers.yaml
  go.mod
  go.sum
Due: pull-eventing-auth-manager-build, pull-eventing-auth-manager-unit-test, post-eventing-auth-manager-build
