Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

reduce retention of reconciliations to 4days (#1454)
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

alter last error to default as ''
  components/schema-migrator/migrations/provisioner/202202241500_operation_alter_last_error.up.sql
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

rename the migration file
  components/schema-migrator/migrations/provisioner/202203171600_operation_alter_last_error.up.sql
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

updated the version
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

update the old last error to empty ''
  components/schema-migrator/migrations/provisioner/202203171600_operation_alter_last_error.up.sql
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

set not null
  components/provisioner/assets/database/provisioner.sql
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bump Provisioners base images
  components/provisioner/Dockerfile
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bump Provisioners image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

added down
  components/schema-migrator/migrations/provisioner/202203171600_operation_alter_last_error.down.sql
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

Bump Reconciler
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump Provisioners base images (#1463)
  components/provisioner/Dockerfile
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

disable service monitor to bypass deploy AuthorizationPolicy and ServiceMonitor
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

add service monitor to component reconciler (#1428)
  resources/kcp/charts/component-reconcilers/charts/rma/templates/deployment.yaml
  resources/kcp/charts/component-reconcilers/templates/authorization.yaml
  resources/kcp/charts/component-reconcilers/templates/deployment.yaml
  resources/kcp/charts/component-reconcilers/templates/policy.yaml
  resources/kcp/charts/component-reconcilers/templates/service-monitor.yaml
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

tidy
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Add reconciler dashboard
  resources/kcp/charts/mothership-reconciler/files/dashboard.json
  resources/kcp/charts/mothership-reconciler/templates/dashboard.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

KCP CLI: update dependencies, get token compatible with SKR operator kubeconfig (#1444)
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/credential/manager.go
  tools/cli/pkg/logger/logger.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Bumping Reconciler
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bumping Reconciler (#1461)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

add istio reconciler (#1459)
  resources/kcp/charts/mothership-reconciler/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Normalize user input for isserURL
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
Due: none

Normalize user input for isserURL (#1473)
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
Due: none

update help info
  tools/cli/pkg/command/reconciliation_purge.go
Due: pre-main-kcp-cli

Added Subscription Cleanup Job in KEB
  components/kyma-environment-broker/cmd/subscriptioncleanup/cloudprovider/aws.go
  components/kyma-environment-broker/cmd/subscriptioncleanup/cloudprovider/azure.go
  components/kyma-environment-broker/cmd/subscriptioncleanup/cloudprovider/factory.go
  components/kyma-environment-broker/cmd/subscriptioncleanup/cloudprovider/gcp.go
  components/kyma-environment-broker/cmd/subscriptioncleanup/cloudprovider/mocks/ProviderFactory.go
  components/kyma-environment-broker/cmd/subscriptioncleanup/job/cleaner.go
  components/kyma-environment-broker/cmd/subscriptioncleanup/job/cleaner_test.go
  components/kyma-environment-broker/cmd/subscriptioncleanup/main.go
  components/kyma-environment-broker/cmd/subscriptioncleanup/model/types.go
Due: none

Remane istio
  tools/reconciler/e2e-test/template-kyma-main.json
Due: none

Remane istio (#1475)
  tools/reconciler/e2e-test/template-kyma-main.json
Due: none

Normalize user input for isserURL-image bump
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Added Subscription Cleanup Job in KEB
  components/kyma-environment-broker/Dockerfile.scj
  components/kyma-environment-broker/Makefile
  components/kyma-environment-broker/cmd/subscriptioncleanup/main.go
  scripts/generic_make_go.mk
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Compilation fix in makefile
  components/kyma-environment-broker/Makefile
Due: none

disable dashboard to bypass pipeline check
  resources/kcp/charts/mothership-reconciler/templates/dashboard.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Update resources/kcp/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Compilation fix in makefile
  components/kyma-environment-broker/Dockerfile.scj
Due: none

Changes in chart
  resources/kcp/charts/kyma-environment-broker/templates/subscription-cleanup-job.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

newhash
  components/reconciler/makefile
Due: none

Dockerfile fix
  components/kyma-environment-broker/Dockerfile.scj
Due: none

Bumping Reconciler (#1467)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add grafana dashboard to monitor exposed metrics (#1465)
  resources/kcp/charts/mothership-reconciler/files/dashboard.json
  resources/kcp/charts/mothership-reconciler/templates/dashboard.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

updated provisioner version
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts
