Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, post-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

Update values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bumping Reconciler (#1625)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

feat: cleaner config helm values (#1630)
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Replace legacy console URL with Kyma Dashboard (#1571)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/instance_get_test.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
  components/kyma-environment-broker/internal/dashboard/config.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

kubeconfig-service: fix vulnerabilities
  components/kubeconfig-service/Dockerfile
  components/kubeconfig-service/Makefile
  components/kubeconfig-service/go.mod
  components/kubeconfig-service/go.sum
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-main-provisioner-whitesource-scan

fix provisioner ref
  components/kubeconfig-service/go.mod
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-main-provisioner-whitesource-scan

fix provisioner ref
  components/kubeconfig-service/go.mod
  components/kubeconfig-service/go.sum
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-main-provisioner-whitesource-scan

bump image
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

kubeconfig-service: fix vulnerabilities (#1638)
  components/kubeconfig-service/Dockerfile
  components/kubeconfig-service/Makefile
  components/kubeconfig-service/go.mod
  components/kubeconfig-service/go.sum
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

remove gardener extensions
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
  components/kyma-metrics-collector/pkg/process/event_stream.go
  resources/kcp/values.yaml
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

Bumping Reconciler
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bumping Reconciler:\n\nNo eu.gcr.io/kyma-project/incubator/reconciler/ changes.\n\n
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Enable NAT Gateway in Provisioner (#1561)
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/model/infrastructure.go
  components/provisioner/internal/model/infrastructure/azure/infrastructure.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

bump gardender extension aws (#1634)
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
  resources/kcp/values.yaml
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

fix the wrong number in upgrade cluster/kyma pannels
  resources/kcp/charts/kyma-environment-broker/files/dashboard.json
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

indent updated
  resources/kcp/charts/kyma-environment-broker/files/dashboard.json
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

move canceled number out of progressing pannel
  resources/kcp/charts/kyma-environment-broker/files/dashboard.json
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix the wrong numbers on kcp-kyma-environment-broker-dashboard for upgraded clusters (#1650)
  resources/kcp/charts/kyma-environment-broker/files/dashboard.json
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

bump
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

bump (#1654)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Create deprovision package
  components/kyma-environment-broker/common/deprovision/client.go
  components/kyma-environment-broker/common/deprovision/model.go
Due: none

Fix logrus import
  components/kyma-environment-broker/common/deprovision/client.go
Due: none

Fix runtimes handler tests
  components/kyma-environment-broker/internal/runtime/handler_test.go
Due: none

Edit extractShootNameAndDomain() to extract domain only, change name to extractShootDomain()
  components/kyma-environment-broker/internal/model.go
Due: none

Remove unnecessary extractShootNameAndDomain() method and tests
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/suspension/handler_test.go
Due: none

Bump KEB img
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix shootName fetch in orchestrations handler
  components/kyma-environment-broker/internal/orchestration/runtime_lister.go
Due: none

Fix shootName fetch in /runtimes handler
  components/kyma-environment-broker/internal/runtime/converter.go
  components/kyma-environment-broker/internal/runtime/handler.go
Due: none

Get instance details from last op when fetching instances
  components/kyma-environment-broker/internal/orchestration/runtime_lister.go
  components/kyma-environment-broker/internal/runtime/converter.go
  components/kyma-environment-broker/internal/runtime/handler.go
  components/kyma-environment-broker/internal/runtime/handler_test.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
Due: none

Fix shootName fetch (#1655)
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/runtime/converter.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/kyma-environment-broker/internal/suspension/handler_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Expose Detailed Metrics for Reconciler Audit Log Sidecar (#1633)
  resources/kcp/charts/mothership-reconciler/templates/authorization.yaml
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
  resources/kcp/charts/mothership-reconciler/templates/service-monitor.yaml
  resources/kcp/charts/mothership-reconciler/templates/service.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Skip GetKubeconfig step when kubeconfig is not provided
  components/kyma-environment-broker/internal/process/deprovisioning/get_kubeconfig_step.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Refactor error handling in deprovisioning steps
  components/kyma-environment-broker/internal/process/deprovisioning/get_kubeconfig_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/utils.go
Due: none

Skip GetKubeconfig step in deprovisioning when kubeconfig is not provided (#1658)
  components/kyma-environment-broker/internal/process/deprovisioning/get_kubeconfig_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/utils.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts
