Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-new-kyma-environment-broker, pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-provisioner-integration-tests, pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-control-plane-validate-dockerfiles, pre-main-kcp-cli, pre-main-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build, pull-control-plane-checkconfig, pull-control-plane-pjconfigtest, pull-control-plane-pjtester, pull-control-plane-vpathguard

pull-kubeconfig-service-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-kubeconfig-service-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

post-kubeconfig-service-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kubeconfig-service-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
  ...

pull-keb-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pull-keb-cleanup-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-cleanup-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pull-keb-subaccount-cleanup-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-subaccount-cleanup-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-keb-trial-cleanup-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-trial-cleanup-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pull-keb-deprovision-retrigger-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-deprovision-retrigger-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-keb-runtime-reconciler-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-runtime-reconciler-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

updates unit tests
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

removes not needed comment
  components/provisioner/internal/model/gardener_config_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Update components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

sets EnableStaticTokenKubeconfig to false during 1.27.0+ upgrades (#3272)
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

bumps provisioner
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

bumps provisioner (#3274)
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

wip
  tests/e2e/provisioning/pkg/client/runtime/runtime_client.go
Due: pre-control-plane-tests-e2e-provisioning, pre-control-plane-tests, post-control-plane-tests

Use kubeconfig from secret e2etest (#3266)
  tests/e2e/provisioning/pkg/client/runtime/runtime_client.go
  tests/e2e/provisioning/test/test_suite.go
Due: pre-control-plane-tests-e2e-provisioning, pre-control-plane-tests, post-control-plane-tests

Bumping Reconciler
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Bumping Reconciler (#3270)
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Bumping Reconciler (#3279)
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

The new URL to Compass System on DEV (#3260)
  components/provisioner/e2e_test/test.sh
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Bumping Reconciler (#3281)
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Bumping Reconciler (#3282)
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Added support for CCEE infra
  components/kyma-metrics-collector/pkg/process/event_stream.go
  components/kyma-metrics-collector/pkg/process/public_cloud_info.go
  resources/kcp/charts/kyma-metrics-collector/templates/public-cloud-info-config-map.yaml
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-main-kcp-development-artifacts

Bumping Reconciler (#3285)
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Update values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Regenerate mocks
  components/provisioner/internal/api/mocks/TenantUpdater.go
  components/provisioner/internal/api/mocks/Validator.go
  components/provisioner/internal/director/mocks/DirectorClient.go
  components/provisioner/internal/gardener/mocks/Client.go
  components/provisioner/internal/gardener/mocks/ShootClient.go
  components/provisioner/internal/graphql/mocks/Client.go
  components/provisioner/internal/metrics/mocks/OperationsStatsGetter.go
  components/provisioner/internal/oauth/mocks/Client.go
  components/provisioner/internal/operations/queue/mocks/KubeconfigProvider.go
  components/provisioner/internal/operations/queue/mocks/OperationQueue.go
  components/provisioner/internal/operations/stages/deprovisioning/mocks/GardenerClient.go
  components/provisioner/internal/operations/stages/provisioning/mocks/DynamicKubeconfigProvider.go
  components/provisioner/internal/operations/stages/provisioning/mocks/GardenerClient.go
  components/provisioner/internal/operations/stages/shootupgrade/mocks/KubeconfigProvider.go
  components/provisioner/internal/provisioning/mocks/Provisioner.go
  components/provisioner/internal/provisioning/mocks/Service.go
  components/provisioner/internal/provisioning/mocks/ShootProvider.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/Factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadWriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
  components/provisioner/internal/runtime/mocks/Configurator.go
  components/provisioner/internal/util/k8s/mocks/K8sClientProvider.go
  components/provisioner/internal/uuid/mocks/UUIDGenerator.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Bump graphql and director
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/gqlgen.sh
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-provisioner-integration-tests, pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Regenerate graphql
  components/provisioner/hack/gqlgen.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

aligning kcp-cli dependencies as well
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

implement caches for shoot secrets
  components/kyma-metrics-collector/cmd/main.go
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
  components/kyma-metrics-collector/pkg/cache/kubeconfig.go
  components/kyma-metrics-collector/pkg/process/process.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

fix tests
  components/kyma-metrics-collector/pkg/cache/kubeconfig.go
  components/kyma-metrics-collector/pkg/process/process.go
  components/kyma-metrics-collector/pkg/process/process_test.go
  components/kyma-metrics-collector/pkg/testing/helpers.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli

remove unused code
  components/kyma-metrics-collector/cmd/main.go
  components/kyma-metrics-collector/pkg/process/process.go
  components/kyma-metrics-collector/pkg/process/process_test.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli

add rbac for KMC
  resources/kcp/charts/kyma-metrics-collector/templates/role.yaml
  resources/kcp/charts/kyma-metrics-collector/templates/rolebinding.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

implement caches for shoot secrets (#3288)
  components/kyma-metrics-collector/cmd/main.go
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
  components/kyma-metrics-collector/pkg/cache/kubeconfig.go
  components/kyma-metrics-collector/pkg/process/process.go
  components/kyma-metrics-collector/pkg/process/process_test.go
  components/kyma-metrics-collector/pkg/testing/helpers.go
  resources/kcp/charts/kyma-metrics-collector/templates/role.yaml
  resources/kcp/charts/kyma-metrics-collector/templates/rolebinding.yaml
  resources/kcp/values.yaml
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-cli, pre-main-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

Bumpe KMC image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Bumpe KMC image (#3290)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Add gardener-cluster flag
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/runtime.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Fix KMC chart
  resources/kcp/charts/kyma-metrics-collector/templates/rolebinding.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Fix KMC chart (#3292)
  resources/kcp/charts/kyma-metrics-collector/templates/rolebinding.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

OpenStack regions restrictions
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/testdata/config.json
  components/provisioner/internal/api/validator.go
  components/provisioner/internal/api/validator_test.go
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-provisioner-integration-tests, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-main-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

added openstack vnet count
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
  components/kyma-metrics-collector/pkg/process/event_stream.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Fix imports
  components/provisioner/internal/api/validator.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Path conditions:
  pull-kubeconfig-service-build: any of: ^components/kubeconfig-service
  post-kubeconfig-service-build: any of: ^components/kubeconfig-service
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pull-keb-build: any of: ^components/kyma-environment-broker
  pull-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  pull-keb-runtime-reconciler-job-build: any of: ^components/kyma-environment-broker
  post-keb-build: any of: ^components/kyma-environment-broker
  post-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  post-keb-runtime-reconciler-job-build: any of: ^components/kyma-environment-broker
  pre-control-plane-components-kyma-environment-broker: any of: ^components/kyma-environment-broker/|^scripts/
  pre-new-kyma-environment-broker: any of: ^kyma-environment-broker/|^scripts/
  pull-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  post-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pull-provisioner-build: any of: ^components/provisioner
  post-provisioner-build: any of: ^components/provisioner
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-main-provisioner-integration-tests: any of: components/provisioner/((go.mod|go.sum)$|/(.*.go|Makefile|Dockerfile|.*.sh))
  pull-schema-migrator-build: any of: ^components/schema-migrator
  post-schema-migrator-build: any of: ^components/schema-migrator
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-control-plane-reconciler-e2e: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-e2e-latest-release: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-control-plane-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-kcp-cli: any of: ^tools/cli|^components
  pre-main-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
  pull-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-control-plane-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-control-plane-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-control-plane-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-control-plane-vpathguard: any of: ^(vpath/pjtester.yaml)
