Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

pre-control-plane-components-kubeconfig-service:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210407-70afe459
      securityContext:
        privileged: true
  ...

post-control-plane-components-kubeconfig-service:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210407-70afe459
      securityContext:
        privileged: true
  ...

pre-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

pre-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

post-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

pre-master-control-plane-gke-provisioner-integration:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20201208-8f23a167-k8s1.16
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

pre-master-control-plane-integration:
  labels:
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210407-70afe459
  ...

Fix operation storage in keb
  components/kyma-environment-broker/internal/storage/dbmodel/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

Fix keb operation storage
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Fix operation storage in keb (#649)
  components/kyma-environment-broker/internal/storage/dbmodel/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Upgrade alpine version
  components/provisioner/Dockerfile
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bump image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Upgrade GQL schema
  components/provisioner/pkg/gqlschema/schema.graphql
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Regenerate go schema
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Upgrade Alpine version in Runtime Provisioner (#650)
  components/provisioner/Dockerfile
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Rename master to main
  docs/kyma-environment-broker/03-05-authorization.md
Due: none

Rename master to main (#652)
  docs/kyma-environment-broker/03-05-authorization.md
Due: none

Add PrerequisiteResourcesInput to ComponentConfigurationInput
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Disable testing Azure Event Hubs in e2e provisioning test
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-skr.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-suspension.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

sync deps
  components/kyma-environment-broker/Gopkg.lock
Due: none

remove excessive method layer
  components/kyma-environment-broker/cmd/broker/suite_test.go
Due: none

Apply suggestions from CR
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager_test.go
  components/kyma-environment-broker/internal/process/queue.go
  components/kyma-environment-broker/internal/provisioner/fake_client.go
Due: none

Add e2e provisioning queue test
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/ias/builder.go
  components/kyma-environment-broker/internal/process/provisioning/cls_audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/sm_overrides.go
  components/kyma-environment-broker/internal/provisioner/fake_client.go
  components/kyma-environment-broker/internal/servicemanager/fake.go
Due: none

remove excessive method from provisioner client
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/provisioner/fake_client.go
Due: none

minor fixes
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/provisioning/cls_audit_log_step_test.go
Due: none

bump image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

use helper method from RuntimeOptions
  components/kyma-environment-broker/cmd/broker/suite_test.go
Due: none

Fix conflicts
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
Due: none

Decrease timeouts
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
Due: none

Disable testing Azure Event Hubs in e2e provisioning test (#653)
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-skr.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-suspension.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Cleanup of Azure EH provisioning tests
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-skr.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-suspension.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
  tests/e2e/provisioning/README.md
  tests/e2e/provisioning/internal/hyperscaler/azure/client.go
  tests/e2e/provisioning/internal/hyperscaler/azure/config.go
  tests/e2e/provisioning/internal/hyperscaler/azure/env.go
  tests/e2e/provisioning/internal/hyperscaler/azure/provider.go
  tests/e2e/provisioning/internal/hyperscaler/azure/tags.go
  tests/e2e/provisioning/test/e2e_provisioning_test.go
  tests/e2e/provisioning/test/test_suite.go
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Fix dep issues
  tests/e2e/provisioning/Gopkg.lock
Due: pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Bump image for e2e provisioning test
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Add e2e provisioning queue test (#645)
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/ias/builder.go
  components/kyma-environment-broker/internal/process/provisioning/cls_audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/cls_audit_log_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/sm_overrides.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager_test.go
  components/kyma-environment-broker/internal/process/queue.go
  components/kyma-environment-broker/internal/servicemanager/fake.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Add assertions to keb provisioning queue test
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/director/fake.go
Due: none

Deprovision Azure Event-Hub at upgrade
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Solve make imports
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Add assertions to keb provisioning queue test (#656)
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/director/fake.go
Due: none

Review Corrections
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/deprovisioning/connectivity_deprovision.go
  components/kyma-environment-broker/internal/process/deprovisioning/connectivity_unbind.go
  components/kyma-environment-broker/internal/process/deprovisioning/connectivity_unbind_test.go
  components/kyma-environment-broker/internal/process/provisioning/connectivity_bind.go
  components/kyma-environment-broker/internal/process/provisioning/connectivity_bind_test.go
  components/kyma-environment-broker/internal/process/provisioning/connectivity_provision.go
  components/kyma-environment-broker/internal/process/provisioning/connectivity_provision_test.go
  components/kyma-environment-broker/internal/process/provisioning/service_manager_provisioner.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/connectivity_bind.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/connectivity_bind_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/connectivity_provision.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/connectivity_provision_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/service_manager_offering_step.go
Due: none

Review Corrections
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Add a skip flag
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
Due: none

Update KYMA_VERSION to 1.20.0
  installation/resources/KYMA_VERSION
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Deprovision Azure Event-Hub at upgrade (#658)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
Due: none

Fix tests
  components/kyma-environment-broker/cmd/broker/suite_test.go
Due: none

Remove further
  components/kyma-environment-broker/internal/auditlog/config.go
  components/kyma-environment-broker/internal/auditlog/templates/extra_conf_kyma.go
Due: none

Remove further
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/servicemanager/fake.go
Due: none

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
