Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test, pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pull-kyma-metrics-collector-test, pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-control-plane-validate-dockerfiles, pre-main-kcp-cli, pre-main-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, pull-test-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests, pre-control-plane-validate-inrepo-prow-configs, pull-control-plane-pjconfigtest, pull-control-plane-pjtester, pull-control-plane-vpathguard

Path conditions:
  pull-kubeconfig-service-build: any of: ^components/kubeconfig-service
  post-kubeconfig-service-build: any of: ^components/kubeconfig-service
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pull-keb-build: any of: ^components/kyma-environment-broker
  pull-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  post-keb-build: any of: ^components/kyma-environment-broker
  post-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  pull-kyma-environment-broker-test: any of: ^components/kyma-environment-broker/|^scripts/
  pull-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  post-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  pull-kyma-metrics-collector-test: any of: ^components/kyma-metrics-collector/|^scripts/
  pull-provisioner-build: any of: ^components/provisioner
  post-provisioner-build: any of: ^components/provisioner
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pull-schema-migrator-build: any of: ^components/schema-migrator
  post-schema-migrator-build: any of: ^components/schema-migrator
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-control-plane-reconciler-e2e: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-e2e-latest-release: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-control-plane-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-kcp-cli: any of: ^tools/cli
  pre-main-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pull-test-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
  pre-control-plane-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-control-plane-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-control-plane-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-control-plane-vpathguard: any of: ^(vpath/pjtester.yaml)

fml
  tests/e2e/provisioning/test/test_suite.go
Due: pre-control-plane-tests-e2e-provisioning, pre-control-plane-tests, post-control-plane-tests

wip
  tests/e2e/provisioning/test/e2e_provisioning_test.go
Due: pre-control-plane-tests-e2e-provisioning, pre-control-plane-tests, post-control-plane-tests

wip
  docs/kyma-environment-broker/03-05-authorization.md
Due: none

bump keb
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Bumping Reconciler (#2696)
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Bump Golang and Alpine image versions in provisioner-tests (#2699)
  resources/kcp/values.yaml
  tests/provisioner-tests/Dockerfile
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-control-plane-validate-dockerfiles, pre-main-kcp-development-artifacts, pull-test-provisioner-tests, pre-control-plane-tests, post-control-plane-tests

docs
  docs/kyma-environment-broker/03-05-authorization.md
Due: none

Trigger image build
  tests/provisioner-tests/Dockerfile
Due: pre-control-plane-validate-dockerfiles, pull-test-provisioner-tests, pre-control-plane-tests, post-control-plane-tests

Bump image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Update docs/kyma-environment-broker/03-05-authorization.md
  docs/kyma-environment-broker/03-05-authorization.md
Due: none

remove tracing component
  components/kyma-environment-broker/cmd/broker/testdata/kyma-installer-cluster.yaml
  components/kyma-environment-broker/internal/runtime/testdata/kyma-components.yaml
  components/kyma-environment-broker/internal/runtime/testdata/kyma-installer-cluster.yaml
  tools/reconciler/e2e-test/template-kyma-main.json
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

Generate production images on new Artifact Registry for Provisioner tests (#2706)
  resources/kcp/values.yaml
  tests/provisioner-tests/Dockerfile
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-control-plane-validate-dockerfiles, pre-main-kcp-development-artifacts, pull-test-provisioner-tests, pre-control-plane-tests, post-control-plane-tests

Set a kyma version in the mocked orchestration params
  components/kyma-environment-broker/cmd/broker/orchestration_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

Check version instead of display version
  components/kyma-environment-broker/cmd/broker/orchestration_test.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

remove tracing component (#2708)
  components/kyma-environment-broker/cmd/broker/testdata/kyma-installer-cluster.yaml
  components/kyma-environment-broker/internal/runtime/testdata/kyma-components.yaml
  components/kyma-environment-broker/internal/runtime/testdata/kyma-installer-cluster.yaml
  tools/reconciler/e2e-test/template-kyma-main.json
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

Migrate components
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/charts/kyma-metrics-collector/values.yaml
  resources/kcp/charts/provisioner/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Bump images
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Remove cleanup job
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

bump global version of kmc
  resources/kcp/charts/kyma-metrics-collector/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

automatically generate documentation for the metrics
  components/kyma-metrics-collector/Makefile
  components/kyma-metrics-collector/README.md
  components/kyma-metrics-collector/hack/metrics.md.tpl
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pull-kyma-metrics-collector-test

add generated documentation
  components/kyma-metrics-collector/metrics.md
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pull-kyma-metrics-collector-test

Migrate KEB, provisioner and KMC images to artifact registry (#2712)
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/charts/kyma-metrics-collector/values.yaml
  resources/kcp/charts/provisioner/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

use eventing group in codeowners file
  CODEOWNERS
Due: none

remove unnecessary permissions
  CODEOWNERS
Due: none

mv kyma-environments-cleanup out of chart to utils
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
  utils/kyma-environments-cleanup-job/environments-cleanup-job.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Temporarily keep environmentsCleanup flag
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Add readme
  utils/kyma-environments-cleanup-job/README.md
Due: none

Add script for applying the cronjob
  utils/kyma-environments-cleanup-job/apply.sh
  utils/kyma-environments-cleanup-job/environments-cleanup-job.yaml
Due: none

Replace const string with vars in apply.sh
  utils/kyma-environments-cleanup-job/apply.sh
Due: none

Apply suggestion from code review
  utils/kyma-environments-cleanup-job/README.md
  utils/kyma-environments-cleanup-job/kyma-environments-cleanup-job.yaml
Due: none

Bump images to the latest ver
  utils/kyma-environments-cleanup-job/kyma-environments-cleanup-job.yaml
Due: none

Improve cronjob manifest readability
  utils/kyma-environments-cleanup-job/kyma-environments-cleanup-job.yaml
Due: none

Add kyma- prefix to job mentions
  utils/kyma-environments-cleanup-job/apply.sh
  utils/kyma-environments-cleanup-job/kyma-environments-cleanup-job.yaml
Due: none

yaml corrections
  utils/kyma-environments-cleanup-job/environments-cleanup-job.yaml
Due: none

Move Kyma Environments Cleanup job out of KCP chart (#2709)
  resources/kcp/charts/kyma-environment-broker/values.yaml
  utils/kyma-environments-cleanup-job/README.md
  utils/kyma-environments-cleanup-job/apply.sh
  utils/kyma-environments-cleanup-job/kyma-environments-cleanup-job.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Update reconciler images to latest and from new registry
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Bumping Reconciler
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

removes service catalog clean-up from provisioner
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/resource_cleanup.go
  components/provisioner/internal/installation/resource_cleanup_test.go
  components/provisioner/internal/operations/stages/deprovisioning/cleanup_cluster.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan
