Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, post-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests, pre-control-plane-validate-inrepo-prow-configs

Path conditions:
  pull-kubeconfig-service-build: any of: ^components/kubeconfig-service
  post-kubeconfig-service-build: any of: ^components/kubeconfig-service
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pull-keb-build: any of: ^components/kyma-environment-broker
  pull-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-build: any of: ^components/kyma-environment-broker
  post-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pull-provisioner-build: any of: ^components/provisioner
  post-provisioner-build: any of: ^components/provisioner
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pull-schema-migrator-build: any of: ^components/schema-migrator
  post-schema-migrator-build: any of: ^components/schema-migrator
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
  pre-control-plane-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)

wip
  components/kyma-environment-broker/internal/process/deprovisioning/check_kyma_resource_deleted_step_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

wip
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

Adjust timeouts in deletion kyma (#2282)
  components/kyma-environment-broker/internal/process/deprovisioning/check_kyma_resource_deleted_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_kyma_resource_deleted_step_test.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Apply suggestions from code review
  docs/kyma-environment-broker/02-01-architecture.md
  docs/kyma-environment-broker/03-01-service-description.md
  docs/kyma-environment-broker/03-03-runtime-operations.md
Due: none

initial version
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

initial version (#2277)
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump kyma_environment_broker images to PR-2283
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

keb: increase tracing events retention policy to 2 weeks
  components/kyma-environment-broker/internal/events/interface.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

keb: best effort reconstruct runtime details for deleted instances from operations
  components/kyma-environment-broker/common/runtime/client.go
  components/kyma-environment-broker/common/runtime/model.go
  components/kyma-environment-broker/internal/runtime/handler.go
  components/kyma-environment-broker/internal/storage/dbmodel/instance.go
  components/kyma-environment-broker/internal/storage/dbmodel/operation.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

kcp: get some information about deleted instances
  tools/cli/pkg/command/runtime.go
Due: pre-main-kcp-cli

Add error filtering
  components/schema-migrator/main.go
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

Option for KCP to display at least partial information for deprovisioned instances (#2283)
  components/kyma-environment-broker/common/runtime/client.go
  components/kyma-environment-broker/common/runtime/model.go
  components/kyma-environment-broker/internal/events/interface.go
  components/kyma-environment-broker/internal/runtime/handler.go
  components/kyma-environment-broker/internal/storage/dbmodel/instance.go
  components/kyma-environment-broker/internal/storage/dbmodel/operation.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
  tools/cli/pkg/command/runtime.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts

Update Dockerfile for kubeconfig-service to use scratch image (#2257)
  components/kubeconfig-service/Dockerfile
  resources/oidc-kubeconfig-service/values.yaml
Due: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Apply suggestions from code review
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

KEB docs update (#2267)
  docs/kyma-environment-broker/02-01-architecture.md
  docs/kyma-environment-broker/03-01-service-description.md
  docs/kyma-environment-broker/03-03-runtime-operations.md
  docs/kyma-environment-broker/assets/keb-arch.drawio
  docs/kyma-environment-broker/assets/keb-arch.svg
  docs/kyma-environment-broker/assets/keb-architecture.svg
Due: none

Apply annotations for kyma CR
  components/kyma-environment-broker/internal/process/provisioning/apply_kyma_step.go
  components/kyma-environment-broker/internal/process/steps/lifecycle_manager.go
  components/kyma-environment-broker/internal/process/steps/lifecycle_manager_kubeconfig.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

wip
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Apply annotations for kyma CR (#2285)
  components/kyma-environment-broker/internal/process/provisioning/apply_kyma_step.go
  components/kyma-environment-broker/internal/process/steps/lifecycle_manager.go
  components/kyma-environment-broker/internal/process/steps/lifecycle_manager_kubeconfig.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump kyma_environment_broker images to PR-2286
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

kcp: change runtime `--include-deleted` to `--only-deleted`
  components/kyma-environment-broker/common/runtime/client.go
  components/kyma-environment-broker/common/runtime/model.go
  components/kyma-environment-broker/internal/runtime/handler.go
  components/kyma-environment-broker/internal/storage/dbmodel/instance.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
  tools/cli/pkg/command/runtime.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-main-kcp-cli

Change variable names
  components/schema-migrator/main.go
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

Fix test naming
  components/schema-migrator/main_test.go
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

add test case
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_kyma_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

schedule in future
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

adpat cli to --scheduleAfter parameter
  tools/cli/pkg/command/upgrade.go
Due: pre-main-kcp-cli

Rename test
  components/schema-migrator/main_test.go
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

Change functions to methods
  components/schema-migrator/main.go
  components/schema-migrator/main_test.go
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

remove Maja from codeowners
  CODEOWNERS
  OWNERS_ALIASES
Due: none

Change KCP runtime flag `--include-deleted` to `--only-deleted` (#2286)
  components/kyma-environment-broker/common/runtime/client.go
  components/kyma-environment-broker/common/runtime/model.go
  components/kyma-environment-broker/internal/runtime/handler.go
  components/kyma-environment-broker/internal/storage/dbmodel/instance.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
  tools/cli/pkg/command/runtime.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts

kcp: skip fetching events for too many instances
  tools/cli/pkg/command/runtime.go
Due: pre-main-kcp-cli

go mod tidy
  components/kyma-environment-broker/go.mod
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-main-provisioner-whitesource-scan

nits from code review
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/error/temporary_error_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

dependabot: run script in git worktree
  scripts/dependabot_helper.bash
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, post-control-plane-tests-provisioner-tests, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

bump image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

remove Maja from codeowners (#2287)
  CODEOWNERS
  OWNERS_ALIASES
Due: none

Update go modules
  components/schema-migrator/go.mod
  components/schema-migrator/go.sum
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-provisioner-whitesource-scan

Fix typo in KEB AWS service plan documentation
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

Fix Update for preview
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_without_kyma_step.go
  components/kyma-environment-broker/internal/process/update/conditions.go
  components/kyma-environment-broker/internal/process/update/init_kyma_step.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build
