Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

Allow for tenant updates
  components/provisioner/cmd/main.go
  components/provisioner/go.sum
  components/provisioner/internal/api/mocks/TenantUpdater.go
  components/provisioner/internal/api/mocks/Validator.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/api/tenant_updater.go
  components/provisioner/internal/api/tenant_updater_test.go
  components/provisioner/internal/api/validator.go
  components/provisioner/internal/api/validator_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

Add exposureClassName parameter to provisioning and upgrade mutations
  components/provisioner/internal/api/mocks/TenantUpdater.go
  components/provisioner/internal/api/mocks/Validator.go
  components/provisioner/internal/api/tenant_updater.go
  components/provisioner/internal/api/tenant_updater_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadWriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSession.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

small fix in test
  components/provisioner/internal/api/tenant_updater_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

fix test
  components/provisioner/internal/api/tenant_updater_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Add missing cluster statuses to the `kcp` command line tool (#1173)
  components/reconciler/makefile
  components/reconciler/pkg/automock/client.go
  components/reconciler/pkg/client_gen.go
  components/reconciler/pkg/types_gen.go
  tools/cli/pkg/command/reconciliations.go
Due: pre-main-kcp-cli

bugfix
  components/provisioner/internal/api/resolver.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Return reconciliation runs from precise timebox (#1164)
  tools/cli/pkg/command/reconciliations.go
  tools/cli/pkg/command/reconciliations_test.go
  tools/cli/pkg/timestamp/timestamp.go
  tools/cli/pkg/timestamp/timestamp_test.go
Due: pre-main-kcp-cli

regenerate mock
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

fix test
  components/provisioner/internal/api/resolver_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Configurable deployment strategy for mothership-reconciler
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

test adjust
  components/provisioner/internal/api/resolver_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

imports
  components/provisioner/internal/api/resolver_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

one more test fix
  components/provisioner/internal/api/resolver_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

change error type
  components/provisioner/internal/api/resolver_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Configurable deployment strategy for mothership-reconciler (#1199)
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

some test adjustments
  components/provisioner/internal/api/resolver_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bumping Reconciler
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

bufgix
  components/provisioner/internal/api/resolver_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

testfix
  components/provisioner/internal/api/resolver_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

fix a bug in HibernateCluster mutation
  components/provisioner/internal/api/resolver_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

bump reconciler images to 8f7ef39c
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

bump reconciler images to 8f7ef39c (#1200)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix determining current Kyma version by operations
  components/kyma-environment-broker/internal/runtime/handler.go
Due: none

bump KEB version
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix nit
  components/kyma-environment-broker/internal/runtime/handler.go
Due: none

Fix determining current Kyma version by operations (#1202)
  components/kyma-environment-broker/internal/runtime/handler.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

tests added for retry cmd
  components/kyma-environment-broker/common/orchestration/client.go
  components/kyma-environment-broker/common/orchestration/client_test.go
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/internal/metrics/operation_result.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/retry.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  tools/cli/pkg/command/orchestration.go
  tools/cli/pkg/command/orchestration_test.go
Due: pre-main-kcp-cli

Bump reconciler coponent
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump reconciler coponent (#1205)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Change subscription cleanup schedule to daily
  resources/kcp/charts/kyma-environment-broker/templates/subscription-cleanup-job.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix goimports reported error
  tools/cli/pkg/command/orchestration_test.go
Due: pre-main-kcp-cli

pass the goimports check
  components/kyma-environment-broker/internal/orchestration/handlers/retry.go
Due: none

operation filter updated
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
Due: none

refactor the logging
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/retry.go
Due: none

removed the print info
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster.go
Due: none

Bump kyma_environment_broker to PR-1206
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Explicitly fail KEB update operations on irrecoverable errors
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/update/apply_reconciler_configuration.go
  components/kyma-environment-broker/internal/process/update/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/update/sc_migration.go
  components/kyma-environment-broker/internal/process/update/sc_migration_check_step.go
Due: none

Explicitly fail KEB update operations on irrecoverable errors (#1206)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/update/apply_reconciler_configuration.go
  components/kyma-environment-broker/internal/process/update/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/update/sc_migration.go
  components/kyma-environment-broker/internal/process/update/sc_migration_check_step.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Check reconciler status in update queue only when required
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/update/apply_reconciler_configuration.go
  components/kyma-environment-broker/internal/process/update/conditions.go
Due: none
