Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

pre-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-control-plane-components-kyma-metrics-collector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210601-24c60b5a
      securityContext:
        privileged: true
  ...

post-control-plane-components-kyma-metrics-collector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210601-24c60b5a
      securityContext:
        privileged: true
  ...

pre-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

pre-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

post-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

Mock Removal
  tools/cli/pkg/ers/command/migrate_all.go
Due: pre-main-kcp-cli

ERS CLI - Migration and Logs Commands (#1436)
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/ers/client/api.go
  tools/cli/pkg/ers/client/client.go
  tools/cli/pkg/ers/client/http.go
  tools/cli/pkg/ers/command/broker.go
  tools/cli/pkg/ers/command/client_utils.go
  tools/cli/pkg/ers/command/colors.go
  tools/cli/pkg/ers/command/instances.go
  tools/cli/pkg/ers/command/logs.go
  tools/cli/pkg/ers/command/migrate_all.go
  tools/cli/pkg/ers/command/migration.go
  tools/cli/pkg/ers/command/root.go
  tools/cli/pkg/ers/command/status.go
  tools/cli/pkg/ers/fetcher/file.go
  tools/cli/pkg/ers/model.go
  tools/cli/pkg/ers/options.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Code review remarks #2
  components/kyma-environment-broker/Dockerfile.scj
Due: none

Fake ers client in ers tool
  tools/cli/pkg/ers/client/fake.go
  tools/cli/pkg/ers/command/migrate_all.go
  tools/cli/pkg/ers/command/migration.go
Due: pre-main-kcp-cli

wip
  tools/cli/pkg/ers/client/fake.go
  tools/cli/pkg/ers/command/migrate_all.go
  tools/cli/pkg/ers/command/migration.go
Due: pre-main-kcp-cli

wip
  tools/cli/pkg/ers/command/migration.go
Due: pre-main-kcp-cli

Fake ers client in ers tool (#1504)
  tools/cli/pkg/ers/client/fake.go
  tools/cli/pkg/ers/command/migrate_all.go
Due: pre-main-kcp-cli

Remove unnecessary messages in ers tool
  tools/cli/pkg/ers/client/http.go
  tools/cli/pkg/ers/command/instances.go
Due: pre-main-kcp-cli

Remove unnecessary messages in ers tool (#1505)
  tools/cli/pkg/ers/client/http.go
  tools/cli/pkg/ers/command/instances.go
Due: pre-main-kcp-cli

Simple Stats
  tools/cli/pkg/ers/command/migrate_all.go
  tools/cli/pkg/ers/command/stats.go
Due: pre-main-kcp-cli

Simple Stats (#1507)
  tools/cli/pkg/ers/command/migrate_all.go
  tools/cli/pkg/ers/command/stats.go
Due: pre-main-kcp-cli

kcp-cli orchestration sends slack info message (#1431)
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/send_slack_notification.go
  tools/cli/pkg/command/upgrade_cluster.go
  tools/cli/pkg/command/upgrade_kyma.go
Due: pre-main-kcp-cli

Correct DB mapping
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

update dashboard (#1480)
  resources/kcp/charts/mothership-reconciler/files/dashboard.json
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

feature: customer notification
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/internal/notification/builder.go
  components/kyma-environment-broker/internal/notification/bundle.go
  components/kyma-environment-broker/internal/notification/bundle_test.go
  components/kyma-environment-broker/internal/notification/client.go
  components/kyma-environment-broker/internal/notification/client_test.go
  components/kyma-environment-broker/internal/notification/fake_client.go
  components/kyma-environment-broker/internal/notification/mocks/Bundle.go
  components/kyma-environment-broker/internal/notification/mocks/BundleBuilder.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/initialisation_test.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/send_notification.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/send_notification_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/send_notification.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/send_notification_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Update service-monitor.yaml
  resources/kcp/charts/kyma-environment-broker/templates/service-monitor.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add Env Var to component reconciler deployment.yaml
  resources/kcp/charts/component-reconcilers/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Set features in all reconciler instances
  resources/kcp/charts/component-reconcilers/templates/deployment.yaml
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add Shoot Networking Filter Extension to the Provisioners API (#1478)
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/internal/util/pointers.go
  components/provisioner/internal/util/testkit/shoot.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
  components/schema-migrator/migrations/provisioner/202203231500_add_shoot_networking_filter_disabled.down.sql
  components/schema-migrator/migrations/provisioner/202203231500_add_shoot_networking_filter_disabled.up.sql
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Retries
  tools/cli/pkg/ers/client/http.go
  tools/cli/pkg/ers/command/logs.go
  tools/cli/pkg/ers/command/migrate_all.go
  tools/cli/pkg/ers/command/stats.go
  tools/cli/pkg/ers/command/status.go
  tools/cli/pkg/ers/model.go
Due: pre-main-kcp-cli

Fix aws lite regions
  components/kyma-environment-broker/internal/provider/aws_provider.go
Due: none

wip
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix aws lite regions (#1513)
  components/kyma-environment-broker/internal/provider/aws_provider.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

WIP go mod
  components/kyma-environment-broker/go.sum
Due: pre-main-provisioner-whitesource-scan

Script to bump gardener copy-dependency
  scripts/bump_gardener.bash
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

scrapeTimeout added (#1437)
  resources/kcp/charts/kyma-environment-broker/templates/service-monitor.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix for problem with querying shoots by secret binding name
  components/kyma-environment-broker/cmd/subscriptioncleanup/job/cleaner.go
Due: none

Add option to configure features in component reconciler deployment (#1506)
  resources/kcp/charts/component-reconcilers/templates/deployment.yaml
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix DNS config in DB (#1481)
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/schema-migrator/migrations/provisioner/202203222101_add_dns_config.down.sql
  components/schema-migrator/migrations/provisioner/202203222101_add_dns_config.up.sql
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bumping Reconciler
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bumping Reconciler (#1477)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

feat: enable new cleaner script on mothership
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

remove older purge reconciliations arg
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Removed subscription clean-up job component
  components/subscription-cleanup-job/Dockerfile
  components/subscription-cleanup-job/Makefile
  components/subscription-cleanup-job/cmd/main.go
  components/subscription-cleanup-job/go.mod
  components/subscription-cleanup-job/go.sum
  components/subscription-cleanup-job/internal/cloudprovider/aws.go
  components/subscription-cleanup-job/internal/cloudprovider/azure.go
  components/subscription-cleanup-job/internal/cloudprovider/factory.go
  components/subscription-cleanup-job/internal/cloudprovider/gcp.go
  components/subscription-cleanup-job/internal/cloudprovider/mocks/ProviderFactory.go
  components/subscription-cleanup-job/internal/job/cleaner.go
  components/subscription-cleanup-job/internal/job/cleaner_test.go
  components/subscription-cleanup-job/internal/model/types.go
Due: pre-main-provisioner-whitesource-scan

Changed job group
  resources/kcp/charts/kyma-environment-broker/templates/subscription-cleanup-job.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

feat: enable new cleaner script on mothership (#1488)
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Corrected Messages
  tools/cli/pkg/ers/command/migrate_all.go
Due: pre-main-kcp-cli

Go Sum Correction
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Printf Correction
  tools/cli/pkg/ers/command/migrate_all.go
Due: pre-main-kcp-cli

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
