Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

Simple Retries Mechanism, Condition Based Processing & Refactoring (#1512)
  tools/cli/go.sum
  tools/cli/pkg/ers/client/http.go
  tools/cli/pkg/ers/command/logs.go
  tools/cli/pkg/ers/command/migrate_all.go
  tools/cli/pkg/ers/command/stats.go
  tools/cli/pkg/ers/command/status.go
  tools/cli/pkg/ers/model.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Revert "Fix DNS config in DB (#1481)"
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/schema-migrator/migrations/provisioner/202203222101_add_dns_config.down.sql
  components/schema-migrator/migrations/provisioner/202203222101_add_dns_config.up.sql
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

change migration order
  components/schema-migrator/migrations/provisioner/202204041000_add_dns_config.up.sql
  components/schema-migrator/migrations/provisioner/202204241000_add_dns_config.down.sql
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

align values.yaml file with PR
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Revert "Fix DNS config in DB (#1481)" (#1517)
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/schema-migrator/migrations/provisioner/202203222101_add_dns_config.down.sql
  components/schema-migrator/migrations/provisioner/202203222101_add_dns_config.up.sql
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

append cluster env when sending slack msg
  tools/cli/pkg/command/send_slack_notification.go
Due: pre-main-kcp-cli

change migration order
  components/schema-migrator/migrations/provisioner/202204041200_add_dns_config.down.sql
  components/schema-migrator/migrations/provisioner/202204041200_add_dns_config.up.sql
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

change migration order for dns config
  components/schema-migrator/migrations/provisioner/202204041200_add_dns_config.down.sql
  components/schema-migrator/migrations/provisioner/202204041200_add_dns_config.up.sql
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

align values.yaml file with PR #2
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Missing Nil Check
  tools/cli/pkg/ers/command/migrate_all.go
Due: pre-main-kcp-cli

Restore fix for DNS config in DB with changed db migration order (#1523)
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/schema-migrator/migrations/provisioner/202204041200_add_dns_config.down.sql
  components/schema-migrator/migrations/provisioner/202204041200_add_dns_config.up.sql
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Review Remarks
  tools/cli/pkg/ers/command/migrate_all.go
Due: pre-main-kcp-cli

Test job
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/ers/command/migrate_all.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

go mod tidy
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Go Tidy
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Missing Nil Check (#1524)
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/ers/command/migrate_all.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Bumping Reconciler
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bumping Reconciler (#1519)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

append cluster env when sending slack msg (#1520)
  tools/cli/pkg/command/send_slack_notification.go
Due: pre-main-kcp-cli

Bumping Reconciler (#1530)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Increased Timeout
  tools/cli/pkg/ers/command/migrate_all.go
Due: pre-main-kcp-cli

Type Correction
  tools/cli/pkg/ers/command/migrate_all.go
Due: pre-main-kcp-cli

ERS CLI - Increased Timeout (#1531)
  tools/cli/pkg/ers/command/migrate_all.go
Due: pre-main-kcp-cli

Regex Logs Correction
  tools/cli/pkg/ers/command/status.go
Due: pre-main-kcp-cli

Regex Logs Correction (#1532)
  tools/cli/pkg/ers/command/status.go
Due: pre-main-kcp-cli

bump deps
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-provisioner-whitesource-scan

bump image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Corrected Unnecessary WaitGroup Calls
  tools/cli/pkg/ers/command/migrate_all.go
Due: pre-main-kcp-cli

Corrected Unnecessary WaitGroup Calls (#1535)
  tools/cli/pkg/ers/command/migrate_all.go
Due: pre-main-kcp-cli

bump dependencies in kmc (#1534)
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
  resources/kcp/values.yaml
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

Bumping Reconciler (#1533)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Go Mod Update
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
Due: pre-main-provisioner-whitesource-scan

Go Mod Update (#1538)
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
Due: pre-main-provisioner-whitesource-scan

Values Update
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Values Update (#1539)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

replace helm to newest 2.x version
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-provisioner-whitesource-scan

replace helm to newest 2.x version (#1541)
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-provisioner-whitesource-scan
