Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, post-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests, pre-control-plane-validate-inrepo-prow-configs

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
  pre-control-plane-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)

update the GetOperationStatsForOrchestration()
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

update NewOperationForPendingRetrying()
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
Due: none

update orchestration_handler_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
Due: none

fix conflict in operation
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

fix trace issue
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

reset log.info
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

rm unused github.com/prometheus/common/log
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

fix log issue
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

update ListUpgradeClusterOperationsByOrchestrationID()
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

add trace in listFailedOperations()
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

improve ListUpgradeKymaOperationsByOrchestrationID()
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

update resolveOperations()
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
Due: none

add trace in RetryOperations()
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

fix bug in searchFilter()
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

add testcase in upgrade_kyma/cluster_test.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
Due: none

reset filter.States
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

update ListUpgradeKymaOperationsByOrchestrationID()
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

modify orchestrationStateUpdate()
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_retry.go
Due: none

add o.State = orchestration.Retrying in waitForCompletion()
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_retry.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: none

update waitForCompletion()
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: none

append in Description
  components/kyma-environment-broker/common/orchestration/client_test.go
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/internal/orchestration/handlers/cluster_retry.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_retry.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  tools/cli/pkg/command/orchestration.go
  tools/cli/pkg/command/orchestration_test.go
Due: pre-main-kcp-cli

add traces in fetchFailedStatusForOrchestration()
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

add trace in calFailedStatusForOrchestration()
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
Due: none

update showUpgradeKymaOperationDTOByOrchestrationID()
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

fix TestOperation/Upgrade_Kyma
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

fix retrying in waitForCompletion()
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: none

add traces for RetryShoots
  components/kyma-environment-broker/internal/orchestration/handlers/cluster_retry.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_retry.go
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/orchestration.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

check operation queue shuttingDown() in parallel.go
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
Due: none

rm trace log
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
Due: none

restore go.mod
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

fix build pre-main-kcp-cli failure
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

mannually fix merge conflict
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

verify strategy.Insert()
  tools/cli/pkg/command/orchestration.go
Due: pre-main-kcp-cli

rm attribute of .RetryOperations
  components/kyma-environment-broker/common/orchestration/client_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/cluster_retry.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_retry.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  tools/cli/pkg/command/orchestration.go
Due: pre-main-kcp-cli

rm retried operations when orchestration in progress
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: none

rm RetryOperations in testcases
  components/kyma-environment-broker/common/orchestration/client_test.go
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  tools/cli/pkg/command/orchestration_test.go
Due: pre-main-kcp-cli

test strategy.Execute()
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_retry.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
Due: none

modify operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

rebase main branch
  tools/cli/go.mod
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Corrected Hidden Error & Invalid Rm Command
  components/kyma-environment-broker/internal/storage/tests_utils.go
Due: none
