Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan

pre-control-plane-components-kubeconfig-service:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210407-70afe459
      securityContext:
        privileged: true
  ...

post-control-plane-components-kubeconfig-service:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210407-70afe459
      securityContext:
        privileged: true
  ...

pre-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

pre-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

post-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

pre-master-control-plane-gke-provisioner-integration:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20201208-8f23a167-k8s1.16
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

pre-main-control-plane-integration:
  labels:
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210407-70afe459
  ...

add AWSPlanID for metrics (#711)
  components/kyma-environment-broker/internal/metrics/operations_collector.go
Due: none

Add retries for create operators bindings step
  components/provisioner/go.sum
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings_test.go
  components/provisioner/internal/util/retry.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

Bump Provisioners image
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Set cloud provider type in AVS evaluation names correctly
  components/kyma-environment-broker/internal/avs/model.go
Due: none

Bump KEB version
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Correct namespace name
  components/kyma-metrics-collector/cmd/main.go
  components/kyma-metrics-collector/pkg/edp/metrics.go
  components/kyma-metrics-collector/pkg/keb/metrics.go
  components/kyma-metrics-collector/pkg/process/metrics.go
Due: none

Adjust azure_lite plan schema (#710)
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/testdata/azure-lite-schema.json
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Restore azure_lite plan schema
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/testdata/azure-lite-schema.json
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

WIP check the empty status
  components/provisioner/go.sum
  components/provisioner/internal/operations/stages/provisioning/install_kyma.go
  components/provisioner/internal/operations/stages/provisioning/install_kyma_test.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_installation.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

Set cloud provider type in AVS evaluation names correctly (#713)
  components/kyma-environment-broker/internal/avs/model.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Update the comment
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/operations/stages/provisioning/install_kyma.go
  components/provisioner/internal/operations/stages/provisioning/install_kyma_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bump Provisioner
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Recreate AVS evaluations during unsuspension
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/avs/eval_assistant.go
  components/kyma-environment-broker/internal/avs/external_eval_assistant.go
  components/kyma-environment-broker/internal/avs/internal_eval_assistant.go
Due: none

Log to show external tester service
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Remove TODO comment
  components/provisioner/internal/operations/stages/provisioning/install_kyma.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Recreate AVS evaluations during unsuspension (#716)
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/avs/eval_assistant.go
  components/kyma-environment-broker/internal/avs/external_eval_assistant.go
  components/kyma-environment-broker/internal/avs/internal_eval_assistant.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Split KEB provisioning Initialisation step
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/director/fake.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/check_runtime_step.go
  components/kyma-environment-broker/internal/process/provisioning/check_runtime_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/external_eval_step.go
  components/kyma-environment-broker/internal/process/provisioning/external_eval_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/ias_type.go
  components/kyma-environment-broker/internal/process/provisioning/ias_type_step.go
  components/kyma-environment-broker/internal/process/provisioning/ias_type_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_updater_test.go
  components/kyma-environment-broker/internal/process/provisioning/manager.go
  components/kyma-environment-broker/internal/process/provisioning/manager_test.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds_test.go
  components/kyma-environment-broker/internal/process/provisioning/runtime_tags_step.go
  components/kyma-environment-broker/internal/process/provisioning/runtime_tags_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager_test.go
  components/kyma-environment-broker/internal/process/provisioning/start_step.go
  components/kyma-environment-broker/internal/process/provisioning/start_step_test.go
  docs/kyma-environment-broker/03-03-runtime-operations.md
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager_test.go
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

wip
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

wip
  components/kyma-environment-broker/internal/process/provisioning/staged_manager.go
Due: none

wip
  components/kyma-environment-broker/internal/fixture/fixture.go
Due: none

Post review
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/check_dashboard_url_step.go
  components/kyma-environment-broker/internal/process/provisioning/check_dashboard_url_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/check_runtime_step.go
  components/kyma-environment-broker/internal/process/provisioning/check_runtime_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/ias_type_step.go
  components/kyma-environment-broker/internal/process/provisioning/ias_type_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds_test.go
  components/kyma-environment-broker/internal/process/provisioning/start_step.go
  components/kyma-environment-broker/internal/suspension/handler.go
Due: none

wip
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/manager.go
Due: none

wip
  components/kyma-environment-broker/internal/process/provisioning/check_runtime_step.go
Due: none

wip
  components/kyma-environment-broker/internal/model.go
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Set bigger workers amount for provisioning
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Set default speed factor in the manager to 1
  components/kyma-environment-broker/internal/process/provisioning/staged_manager.go
Due: none

fix logging
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
Due: none

wip
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
Due: pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Fix docs
  docs/kyma-environment-broker/03-03-runtime-operations.md
Due: none

Keb split provisioning initialisation (#663)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/director/fake.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/check_dashboard_url_step.go
  components/kyma-environment-broker/internal/process/provisioning/check_dashboard_url_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/check_runtime_step.go
  components/kyma-environment-broker/internal/process/provisioning/check_runtime_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/external_eval_step.go
  components/kyma-environment-broker/internal/process/provisioning/external_eval_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/ias_type_step.go
  components/kyma-environment-broker/internal/process/provisioning/ias_type_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_updater_test.go
  components/kyma-environment-broker/internal/process/provisioning/manager.go
  components/kyma-environment-broker/internal/process/provisioning/manager_test.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds_test.go
  components/kyma-environment-broker/internal/process/provisioning/runtime_tags_step.go
  components/kyma-environment-broker/internal/process/provisioning/runtime_tags_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager_test.go
  components/kyma-environment-broker/internal/process/provisioning/start_step.go
  components/kyma-environment-broker/internal/process/provisioning/start_step_test.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/suspension/handler.go
  docs/kyma-environment-broker/03-03-runtime-operations.md
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

New global flag: shell
  tools/cli/cmd/main/etstttt.sh
Due: none

New global flag: shell
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/taskrun.go
Due: none

New global flag - shell
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/taskrun.go
Due: none

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
