Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

Make OrchestrationConfig omitable
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: none

Delete unnecessary key value pairs from config
  components/kyma-environment-broker/cmd/broker/main.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Remove skipping orchestrationConfig completely
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/orchestration/config.go
Due: none

Change env var name
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/services.go
  components/kyma-environment-broker/internal/broker/services_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Adjust tests
  components/kyma-environment-broker/internal/broker/plans_schema.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/services_test.go
  components/kyma-environment-broker/internal/broker/testdata/aws-ha-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/aws-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/azure-ha-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/azure-lite-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/azure-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/azure-trial-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/free-aws-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/free-azure-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/gcp-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/openstack-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-aws-ha-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-aws-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-ha-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-lite-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-trial-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-free-aws-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-free-azure-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-gcp-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-openstack-schema-additional-params.json
Due: none

Add administrators property to schemas
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_schema.go
Due: none

Update reconciler image version
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add administrators param in schemas (#977)
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_schema.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/services.go
  components/kyma-environment-broker/internal/broker/services_test.go
  components/kyma-environment-broker/internal/broker/testdata/aws-ha-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/aws-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/azure-ha-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/azure-lite-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/azure-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/azure-trial-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/free-aws-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/free-azure-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/gcp-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/openstack-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-aws-ha-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-aws-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-ha-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-lite-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-trial-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-free-aws-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-free-azure-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-gcp-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-openstack-schema-additional-params.json
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Update reconciler image version (#979)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

finish tests
  tools/cli/pkg/command/reconciliations.go
  tools/cli/pkg/command/reconciliations_disable.go
  tools/cli/pkg/command/reconciliations_disable_test.go
  tools/cli/pkg/command/reconciliations_enable.go
  tools/cli/pkg/command/reconciliations_enable_test.go
  tools/cli/pkg/command/root.go
Due: pre-main-kcp-cli

add manual validation for the mothership-url parameter
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/reconciliations_disable.go
  tools/cli/pkg/command/reconciliations_enable.go
Due: pre-main-kcp-cli

RuntimeAgent is configured even without installation
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/runtime/configuration_test.go
  components/provisioner/internal/runtime/configurator.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Image bump
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Make kyma preview version also skippable
  components/kyma-environment-broker/internal/orchestration/config.go
Due: none

Set kymapreview version also in the new config
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Configurator creates namespace when not yet exists
  components/provisioner/internal/runtime/configurator.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

missed err handling
  components/provisioner/internal/runtime/configurator.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

delete manual validation of motherhip url
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/reconciliations_disable.go
  tools/cli/pkg/command/reconciliations_enable.go
Due: pre-main-kcp-cli

simplify namespace creation
  components/provisioner/internal/runtime/configurator.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Fix setting namespace to empty string
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

change shortcut for the shoot parameter to c
  tools/cli/pkg/command/reconciliations_disable.go
  tools/cli/pkg/command/reconciliations_enable.go
Due: pre-main-kcp-cli

Change StatusResponse struct to have targets and details info (#866)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/orchestration_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/internal/orchestration/config.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler_test.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add kyma and k8s version columns on orchestration response
  tools/cli/pkg/command/orchestration.go
Due: pre-main-kcp-cli

Fix format
  tools/cli/pkg/command/orchestration.go
Due: pre-main-kcp-cli

RuntimeAgent is configured even without installation (#981)
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/runtime/configuration_test.go
  components/provisioner/internal/runtime/configurator.go
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add kyma and k8s version coolumns to kcp orchestration response
  tools/cli/pkg/command/orchestration.go
Due: pre-main-kcp-cli

WIP: add debug code
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

WIP: Custom Domain with DNS Provider
  components/kyma-environment-broker/common/gardener/config.go
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
Due: pre-main-provisioner-whitesource-scan

Add columns for k8s and kyma version
  tools/cli/pkg/command/orchestration.go
Due: pre-main-kcp-cli

Get the latest keb
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Dump Reconciler request
  components/kyma-environment-broker/internal/reconciler/client.go
Due: none

KEB dumps Requests to the reconciler
  components/kyma-environment-broker/internal/reconciler/client.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/reconciler/client.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

wip
  components/kyma-environment-broker/internal/reconciler/client.go
Due: none

https://github.com/kyma-incubator/reconciler/pull/229/files
  resources/kcp/charts/component-reconcilers/templates/rbac.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts
