Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum

New global flag - shell
  tools/cli/pkg/command/taskrun.go
Due: none

Remove two counter increases to make tests work
  components/kyma-metrics-collector/pkg/keb/client.go
Due: none

add aws metrics in grafana dashboard
  resources/kcp/charts/kyma-environment-broker/files/dashboard.json
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

add e2e test for aws (#615)
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-aws.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Retrigger Kyma upgrade if installation is in error state
  components/provisioner/internal/operations/stages/upgrade/upgrade_kyma.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bump provisioner image version
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Missing error state
  components/provisioner/internal/operations/stages/upgrade/upgrade_kyma.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Adapt unit test to the new behavior
  components/provisioner/internal/operations/stages/upgrade/upgrade_kyma_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Make auditlog optional (#701)
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/auditlog/config.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/audit_log.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/audit_log_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix Installation status checking while provisioning a Runtime (#715)
  components/provisioner/go.sum
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/operations/stages/provisioning/install_kyma.go
  components/provisioner/internal/operations/stages/provisioning/install_kyma_test.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_installation.go
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

upgrade kcp clusters to 1.21.1
  installation/resources/KYMA_VERSION
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

upgrade kcp clusters to kyma 1.21.1
  installation/resources/KYMA_VERSION
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

add aws metrics in grafana dashboard (#718)
  resources/kcp/charts/kyma-environment-broker/files/dashboard.json
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

New schema
  components/provisioner/go.sum
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

Revert go.sum
  components/provisioner/go.sum
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

Update schema
  components/provisioner/go.sum
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

Generate graphql
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
Due: none

Bump alpine base image to 3.13.5
  components/kyma-environment-broker/Dockerfile.cleanup
  components/kyma-environment-broker/Dockerfile.sac
Due: none

Bump images versions in values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump alpine base image to 3.13.5 (#723)
  components/kyma-environment-broker/Dockerfile.cleanup
  components/kyma-environment-broker/Dockerfile.sac
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix image tags in jobs
  resources/kcp/values.yaml
  tests/e2e/provisioning/Dockerfile
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Bump e2e-provisioning test image
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix image tags in jobs (#724)
  resources/kcp/values.yaml
  tests/e2e/provisioning/Dockerfile
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Update schema
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Generate graphql
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
Due: none

Generate graphql
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
Due: none

Schema
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Fix e2e provisioning test
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

upgrade kcp clusters to kyma 1.21.1 (#721)
  installation/resources/KYMA_VERSION
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix e2e provisioning test (#725)
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Make shell local flag only, expose option in KCP config file. Fix shell arguments construction
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/taskrun.go
Due: none

Expose upgrade cluster operation results in metrics
  components/kyma-environment-broker/internal/metrics/metrics.go
  components/kyma-environment-broker/internal/metrics/operation_result.go
Due: none

Bump KEB image version
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

typo
  tools/cli/pkg/command/upgrade.go
Due: none

showOneOrchestration support cluster upgrade type
  tools/cli/pkg/command/orchestration.go
Due: none

Expose upgrade cluster operation results in metrics (#726)
  components/kyma-environment-broker/internal/metrics/metrics.go
  components/kyma-environment-broker/internal/metrics/operation_result.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

more friendly output of orch type
  tools/cli/pkg/command/orchestration.go
Due: none

Cluster upgrade orchestration - cli implementation (#680)
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/orchestration.go
  tools/cli/pkg/command/upgrade.go
  tools/cli/pkg/command/upgrade_cluster.go
Due: pre-main-provisioner-whitesource-scan

Shell flag (#727)
  tools/cli/pkg/command/taskrun.go
Due: none

aws schema change
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/model/infrastructure.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner
