Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

fixing failing tests
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bump image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Modify openstack provider configuration for CCEE
  components/kyma-environment-broker/go.sum
  components/kyma-environment-broker/internal/provider/openstack_provider.go
Due: pre-main-provisioner-whitesource-scan

add new previewPlanID
  components/kyma-environment-broker/internal/broker/plans.go
Due: none

add plan mappings add planID check
  components/kyma-environment-broker/internal/broker/plans.go
Due: none

add environment variable kymaPreviewVersion
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion.go
Due: none

Development after second round of code review. Handling new operation type PROVISION_NO_INSTALL and DEPROVISIONING_NO_INSTALL
  components/provisioner/Dockerfile
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Development after initial code review. Handling new operation types PROVISION_NO_INSTALL and DEPROVISION_NO_INSTALL
  components/schema-migrator/migrations/provisioner/202139121058_add_provisioning_no_install_operation.up.sql
  components/schema-migrator/migrations/provisioner/202139121059_add_provisioning_no_install_operation.down.sql
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

Restore broken dockerfile.
  components/provisioner/Dockerfile
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Small fixes
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/provisioning/service.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Add some semantic fixes
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/metrics/in_progress_operations.go
  components/provisioner/internal/metrics/in_progress_operations_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Fix migration
  components/schema-migrator/migrations/provisioner/202139061413_drop_not_null_constraint_active_kyma_config_id.down.sql
  components/schema-migrator/migrations/provisioner/202139121058_add_provisioning_no_install_operation.up.sql
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

add new kymaPreviewVersion value to helm chart
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add even more fixes
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/metrics/in_progress_operations_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

add documentation
  docs/kyma-environment-broker/03-08-kyma-versions.md
Due: none

fix RuntimeVersionConfigurator invocations
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion_test.go
Due: none

add tests
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion_test.go
Due: none

Use planID as template variable in KEB dashboard (#879)
  resources/kcp/charts/kyma-environment-broker/files/dashboard.json
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Try to test it with sql
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/provisioning/service.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Update description of KMC
  components/kyma-metrics-collector/README.md
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector

Update description of KMC (#901)
  components/kyma-metrics-collector/README.md
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector

add previewVersion logic for accountMapping
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion.go
Due: none

fix docs
  docs/kyma-environment-broker/03-08-kyma-versions.md
Due: none

Add reconciler client to KEB
  components/kyma-environment-broker/internal/reconciler/client.go
  components/kyma-environment-broker/internal/reconciler/client_int_test.go
  components/kyma-environment-broker/internal/reconciler/client_test.go
  components/kyma-environment-broker/internal/reconciler/contract.go
  components/kyma-environment-broker/internal/reconciler/fake.go
  components/kyma-environment-broker/internal/reconciler/test/cluster.json
  components/kyma-environment-broker/internal/reconciler/test/createCluster.json
Due: none

Make format
  components/kyma-environment-broker/internal/reconciler/fake.go
Due: none

Fix running queue in test
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/gardener/shoot_reconciler.go
  components/provisioner/internal/provisioning/service.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Add some logs and comments
  components/provisioner/internal/gardener/auditlogging.go
  components/provisioner/internal/gardener/shoot_reconciler.go
  components/provisioner/internal/model/types.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Run make imports local
  components/provisioner/internal/model/types.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

fix tests
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion_test.go
Due: none

adjust note
  docs/kyma-environment-broker/03-08-kyma-versions.md
Due: none

remove unnecessary line
  docs/kyma-environment-broker/03-08-kyma-versions.md
Due: none

Apply suggestions from CR
  components/kyma-environment-broker/internal/reconciler/client.go
  components/kyma-environment-broker/internal/reconciler/client_int_test.go
  components/kyma-environment-broker/internal/reconciler/fake.go
  components/kyma-environment-broker/internal/reconciler/test/createCluster.json
Due: none

Add reconciler client to KEB (#902)
  components/kyma-environment-broker/internal/reconciler/client.go
  components/kyma-environment-broker/internal/reconciler/client_int_test.go
  components/kyma-environment-broker/internal/reconciler/client_test.go
  components/kyma-environment-broker/internal/reconciler/contract.go
  components/kyma-environment-broker/internal/reconciler/fake.go
  components/kyma-environment-broker/internal/reconciler/test/cluster.json
  components/kyma-environment-broker/internal/reconciler/test/createCluster.json
Due: none

Removed config file writing
  tools/cli/pkg/command/login.go
Due: pre-main-kcp-cli

Removed config file writing (#903)
  tools/cli/pkg/command/login.go
Due: pre-main-kcp-cli

Update docs/kyma-environment-broker/03-08-kyma-versions.md
  docs/kyma-environment-broker/03-08-kyma-versions.md
Due: none

Add unit tests and fix the resolver one
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

KEB input creator for preview plan
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/automock/provisioner_input_creator.go
  components/kyma-environment-broker/internal/process/provisioning/base_provision_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/simple_provisioner_input_creator_test.go
Due: none

Align with latest master
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_binding_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
Due: none

Update resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts
