Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

add db schema migrations
  components/schema-migrator/migrations/kyma-environment-broker/202112071502_add_instance_subscriptionGAID.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202112071502_add_instance_subscriptionGAID.up.sql
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

subscriptionglobalaccountID is empty on init
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance_test.go
Due: none

rm debug
  components/kyma-environment-broker/internal/broker/instance_update_test.go
Due: none

fix feature flag
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
Due: none

add filter to memory storage
  components/kyma-environment-broker/internal/storage/driver/memory/instance.go
Due: none

wip
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
Due: none

fix update logic
  components/kyma-environment-broker/internal/broker/instance_update.go
Due: none

add subscriptionGAID to schema
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/storage/postsql/write.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
Due: none

add default subAccountMovementEnabled to true
  components/kyma-environment-broker/internal/broker/instance_update.go
Due: none

fix schema
  components/schema-migrator/migrations/kyma-environment-broker/202112071502_add_instance_subscriptionGAID.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202112071502_add_instance_subscriptionGAID.up.sql
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

cleanup
  components/kyma-environment-broker/internal/model.go
Due: none

wip
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
Due: none

add feature flag subaccount movement enabled
  components/kyma-environment-broker/internal/broker/instance_update.go
Due: none

add runtimeDTO
  components/kyma-environment-broker/common/runtime/model.go
Due: none

add SubscriptionGlobalAccountID to DB tests
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance_test.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
Due: none

Go Tidy Modifications
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
Due: pre-main-provisioner-whitesource-scan

Adding last operation tests and return 404 if instance or operation does not exist
  components/kyma-environment-broker/cmd/broker/last_operation_test.go
  components/kyma-environment-broker/internal/broker/instance_last_operation.go
Due: none

Fixing return 400 when operationID exists and instanceID does not
  components/kyma-environment-broker/cmd/broker/last_operation_test.go
  components/kyma-environment-broker/internal/broker/instance_last_operation.go
Due: none

Run go fmt
  components/kyma-environment-broker/cmd/broker/last_operation_test.go
  components/kyma-environment-broker/internal/broker/instance_last_operation.go
Due: none

Update swagger yaml
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

bump to reconciler image 1ff7cd81
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

KCP CLI: username is not allowed to be set by USERNAME environment valriable (#1218)
  tools/cli/pkg/command/options.go
Due: pre-main-kcp-cli

Update filters in reconciliations help
  tools/cli/pkg/command/reconciliations.go
Due: pre-main-kcp-cli

bump to reconciler image 1ff7cd81 (#1224)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

add jellyfish team to code owners
  CODEOWNERS
Due: none

Update filters in reconciliations help (#1225)
  tools/cli/pkg/command/reconciliations.go
Due: pre-main-kcp-cli

add jellyfish team to code owners (#1226)
  CODEOWNERS
Due: none

1814 support move of subaccounts (#1179)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/common/runtime/model.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/runtime/converter.go
  components/kyma-environment-broker/internal/storage/dbmodel/instance.go
  components/kyma-environment-broker/internal/storage/driver/memory/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance_test.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
  components/kyma-environment-broker/internal/storage/postsql/write.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
  components/schema-migrator/migrations/kyma-environment-broker/202112071502_add_instance_subscriptionGAID.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202112071502_add_instance_subscriptionGAID.up.sql
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

Bump KEB version
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Return 404 when instance does not exist (#1223)
  components/kyma-environment-broker/cmd/broker/last_operation_test.go
  components/kyma-environment-broker/internal/broker/instance_last_operation.go
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Switch to AWS m5 machines
  components/kyma-environment-broker/internal/broker/plans.go
Due: none

bump
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  components/kyma-environment-broker/internal/provider/aws_provider.go
Due: none

Remove console approvers from OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

wip
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

Bumping Reconciler
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

version bump image for keb schema_migrator
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Adjust schema migration files; bump schema-migrator image
  components/schema-migrator/migrations/kyma-environment-broker/202143071502_add_instance_subscriptionGAID.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202143071502_add_instance_subscriptionGAID.up.sql
  resources/kcp/values.yaml
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Adjust schema migration files; bump schema-migrator image (#1228)
  components/schema-migrator/migrations/kyma-environment-broker/202143071502_add_instance_subscriptionGAID.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202143071502_add_instance_subscriptionGAID.up.sql
  resources/kcp/values.yaml
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/internal/provider/aws_provider.go
Due: none
