Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-provisioner-integration-tests, pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-control-plane-validate-dockerfiles, pre-main-kcp-cli, pre-main-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build, pull-control-plane-checkconfig, pull-control-plane-pjconfigtest, pull-control-plane-pjtester, pull-control-plane-vpathguard

Path conditions:
  pull-kubeconfig-service-build: any of: ^components/kubeconfig-service
  post-kubeconfig-service-build: any of: ^components/kubeconfig-service
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pull-keb-build: any of: ^components/kyma-environment-broker
  pull-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  pull-keb-runtime-reconciler-job-build: any of: ^components/kyma-environment-broker
  post-keb-build: any of: ^components/kyma-environment-broker
  post-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  post-keb-runtime-reconciler-job-build: any of: ^components/kyma-environment-broker
  pre-control-plane-components-kyma-environment-broker: any of: ^components/kyma-environment-broker/|^scripts/
  pull-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  post-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pull-provisioner-build: any of: ^components/provisioner
  post-provisioner-build: any of: ^components/provisioner
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-main-provisioner-integration-tests: any of: components/provisioner/((go.mod|go.sum)$|/(.*.go|Makefile|Dockerfile|.*.sh))
  pull-schema-migrator-build: any of: ^components/schema-migrator
  post-schema-migrator-build: any of: ^components/schema-migrator
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-control-plane-reconciler-e2e: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-e2e-latest-release: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-control-plane-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-kcp-cli: any of: ^tools/cli|^components
  pre-main-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
  pull-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-control-plane-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-control-plane-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-control-plane-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-control-plane-vpathguard: any of: ^(vpath/pjtester.yaml)

Update reconciler to image v20230816-6b351968 - use Istio operator as installation method for Istio (#3007)
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

adds persistance in provisioner for pods_cidr and services_cidr
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  resources/kcp/charts/provisioner/migrations/202308180833_add_pods_cidr_and_services_cidr_entry.down.sql
  resources/kcp/charts/provisioner/migrations/202308180833_add_pods_cidr_and_services_cidr_entry.up.sql
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-main-kcp-development-artifacts

adapts documentation to podsCidr and servicesCidr field in provisioner
  docs/provisioner/08-02-provisioning-gardener.md
  docs/provisioner/08-04-runtime-status.md
Due: none

Update values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

reuse compliance (#2999)
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Due: none

Method for getting dynamic kubeconfig implemented
  components/provisioner/cmd/main.go
  components/provisioner/internal/gardener/kubeconfig_provider.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Fetching dynamic kubeconfig in Connect Agent step
  components/provisioner/internal/operations/stages/provisioning/connect_agent.go
  components/provisioner/internal/operations/stages/provisioning/connect_agent_test.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Missing file added
  components/provisioner/internal/operations/stages/provisioning/mocks/DynamicKubeconfigProvider.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Connect Agent Test changes
  components/provisioner/internal/operations/stages/provisioning/connect_agent_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Renaming in kubeconfig Provider
  components/provisioner/internal/gardener/kubeconfig_provider.go
  components/provisioner/internal/operations/stages/provisioning/connect_agent.go
  components/provisioner/internal/operations/stages/provisioning/connect_agent_test.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings_test.go
  components/provisioner/internal/operations/stages/provisioning/mocks/DynamicKubeconfigProvider.go
  components/provisioner/internal/operations/stages/provisioning/mocks/StaticKubeconfigProvider.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_creation.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_creation_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Compilation fix
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/provisioning/connect_agent.go
  components/provisioner/internal/operations/stages/shootupgrade/mocks/KubeconfigProvider.go
  components/provisioner/internal/operations/stages/shootupgrade/wait_for_shoot_upgrade.go
  components/provisioner/internal/operations/stages/shootupgrade/wait_for_shoot_upgrade_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Test refactored
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Missing file added
  components/provisioner/internal/operations/queue/mocks/KubeconfigProvider.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Some parts of the test commented out
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Image bumped
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Wait for Agent to Connect step removed
  components/provisioner/internal/operations/stages/provisioning/wait_for_agent_to_connect.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_agent_to_connect_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Remove Deprovisioning queue for Kyma 1.0 installation (#2967)
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/metrics/in_progress_operations.go
  components/provisioner/internal/metrics/in_progress_operations_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/provisioning/mocks/Provisioner.go
  components/provisioner/internal/provisioning/mocks/Service.go
  components/provisioner/internal/provisioning/mocks/ShootProvider.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-main-kcp-development-artifacts

Fix for panic in EditShootConfig when natGateway is nil
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Remove HibernateCluster operation (#2978)
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/mocks/Provisioner.go
  components/provisioner/internal/provisioning/mocks/Service.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
  resources/kcp/charts/provisioner/values.yaml
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-main-kcp-development-artifacts

Fix for Azure Zones crash WIP
  components/provisioner/internal/model/gardener_config_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Add internal label for Kyma resource
  components/kyma-environment-broker/internal/process/steps/lifecycle_manager.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

documents that we can't overlap with gardener seed clusters ranges
  components/provisioner/pkg/gqlschema/schema.graphql
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Crash with Azure zones fixed
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

create sa in kube-system
  components/kubeconfig-service/pkg/runtime/runtime.go
Due: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, pre-main-kcp-cli

Minor renaming
  components/provisioner/internal/model/gardener_config_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

create sa in kube-system (#3022)
  components/kubeconfig-service/pkg/runtime/runtime.go
Due: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, pre-main-kcp-cli

Code review #1
  components/provisioner/internal/model/gardener_config_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Unit test fix
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_domain_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Provisioner: fix for panic in UpgradeShoot (#3016)
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  resources/kcp/charts/provisioner/values.yaml
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-main-kcp-development-artifacts

Adds ip ranges fields to provisioner (#2968)
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/e2e_test/requests/provision.graphql
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
  docs/provisioner/08-02-provisioning-gardener.md
  docs/provisioner/08-04-runtime-status.md
  resources/kcp/charts/provisioner/migrations/202308180833_add_pods_cidr_and_services_cidr_entry.down.sql
  resources/kcp/charts/provisioner/migrations/202308180833_add_pods_cidr_and_services_cidr_entry.up.sql
  resources/kcp/charts/provisioner/values.yaml
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-main-kcp-development-artifacts

Check license
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/process/provisioning/apply_kyma_step_test.go
  components/kyma-environment-broker/internal/process/steps/lifecycle_manager.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

updates provisioner readme with tips on running tests
  components/provisioner/README.md
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Change unit tests
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/process/provisioning/apply_kyma_step_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

Bumping Reconciler
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Networking params
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_schema.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/provider/aws_provider.go
  components/kyma-environment-broker/internal/provider/aws_provider_test.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/azure_provider_test.go
  components/kyma-environment-broker/internal/provider/gcp_provider.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-main-kcp-development-artifacts, pre-main-provisioner-whitesource-scan, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

wip
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_without_kyma_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

Started implementing unit test
  components/cluster-inventory/cmd/main.go
  components/cluster-inventory/internal/controller/cluster_controller.go
  components/cluster-inventory/internal/controller/cluster_controller_test.go
  components/cluster-inventory/internal/controller/suite_test.go
Due: pre-main-kcp-cli
