Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

Bump images
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix dockerfile linting - 2 (#1346)
  .hadolint.yaml
  components/provisioner/Dockerfile
  components/schema-migrator/Dockerfile
  components/subscription-cleanup-job/Dockerfile
  resources/kcp/values.yaml
  tests/e2e/provisioning/Dockerfile
  tests/provisioner-tests/Dockerfile
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests, post-control-plane-tests

Bump images
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

mothersip-reconciler: configurable liveness/readiness probes (#1347)
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Install OpenSSL lib from edge
  components/kyma-environment-broker/Dockerfile.sac
  components/schema-migrator/Dockerfile
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

Bump kyma_environment_subaccount_cleanup_job and schema_migrator images to PR-1348
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Initial commit of the ers cli tool
  tools/cli/cmd/ers/main.go
  tools/cli/pkg/ers/command/instances.go
  tools/cli/pkg/ers/command/migration.go
  tools/cli/pkg/ers/command/options.go
  tools/cli/pkg/ers/command/root.go
Due: pre-main-kcp-cli

wip
  tools/cli/cmd/ers/main.go
  tools/cli/pkg/ers/command/instances.go
  tools/cli/pkg/ers/command/migration.go
  tools/cli/pkg/ers/command/options.go
  tools/cli/pkg/ers/command/root.go
Due: pre-main-kcp-cli

Use HTTPS for alpine repos
  components/kyma-environment-broker/Dockerfile.sac
  components/schema-migrator/Dockerfile
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

Fix shoot filter response
  tools/cli/pkg/command/reconciliations.go
Due: pre-main-kcp-cli

Deprovisioning operations should be creasted as Pending
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/deregister_cluster.go
  tools/cli/pkg/ers/client.go
Due: pre-main-kcp-cli

wip
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  tools/cli/pkg/ers/client.go
Due: pre-main-kcp-cli

wip
  components/kyma-environment-broker/internal/broker/instance_deprovision_test.go
Due: none

add unti test
  tools/cli/pkg/command/reconciliations_test.go
Due: pre-main-kcp-cli

Fix shoot filter response (#1351)
  tools/cli/pkg/command/reconciliations.go
  tools/cli/pkg/command/reconciliations_test.go
Due: pre-main-kcp-cli

Deprovisioning operations should be created as Pending (#1352)
  components/kyma-environment-broker/internal/broker/instance_deprovision_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/deregister_cluster.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Install OpenSSL lib from edge in various KEB components (#1348)
  components/kyma-environment-broker/Dockerfile.sac
  components/schema-migrator/Dockerfile
  resources/kcp/values.yaml
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix dockerfile linting - 1 (#1345)
  components/kubeconfig-service/Dockerfile
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Update CODEOWNERS (gophers)
  CODEOWNERS
Due: none

Update CODEOWNERS (gophers) (#1353)
  CODEOWNERS
Due: none

Bumping Reconciler
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump director
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/director/directorclient_test.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/service_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

Fix deprecations
  components/provisioner/cmd/main.go
  components/provisioner/gqlgen.sh
  components/provisioner/internal/apperrors/presenter.go
  components/provisioner/internal/director/directorclient.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_domain.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Reformat files
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/internal/apperrors/presenter.go
  components/provisioner/internal/director/directorclient.go
  components/provisioner/internal/director/directorclient_test.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/service_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

Allow POST and GET in graphql
  components/provisioner/cmd/main.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bump reconciler: reconcile/delete race condition
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump reconciler: reconcile/delete race condition (#1354)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Azure Lite with production profile
  components/kyma-environment-broker/internal/provider/azure_provider.go
Due: none

Initial commit of the ers cli tool (#1350)
  tools/cli/cmd/ers/main.go
  tools/cli/pkg/ers/command/instances.go
  tools/cli/pkg/ers/command/migration.go
  tools/cli/pkg/ers/command/options.go
  tools/cli/pkg/ers/command/root.go
Due: pre-main-kcp-cli

Update docker and docker/distribution libraries to latest versions
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

running go mod tidy tool
  components/provisioner/go.sum
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

update crypto and text to latest versions
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

Test dockerfile
  tests/e2e/provisioning/Dockerfile
Due: pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests, post-control-plane-tests

bump of gardener to version 1.40 and dependency fixes (remove prometheus logger)
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/operations/stages/provisioning/wait_for_agent_to_connect.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_domain.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

go mod tidy
  components/provisioner/go.sum
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

Add a startupProbe
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

initial provisioning errors done
  components/kyma-environment-broker/internal/avs/client.go
  components/kyma-environment-broker/internal/avs/config.go
  components/kyma-environment-broker/internal/edp/client.go
  components/kyma-environment-broker/internal/edp/errors.go
  components/kyma-environment-broker/internal/error/errors.go
  components/kyma-environment-broker/internal/error/errors_test.go
  components/kyma-environment-broker/internal/error/temporary_error_test.go
  components/kyma-environment-broker/internal/metrics/operation_result.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovision_operation_test.go
  components/kyma-environment-broker/internal/process/provision_operation_test.go
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration.go
  components/kyma-environment-broker/internal/process/provisioning/check_runtime_step.go
  components/kyma-environment-broker/internal/process/upgrade_cluster_operation_test.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/query.go
  components/kyma-environment-broker/internal/reconciler/client.go
  components/kyma-environment-broker/internal/reconciler/contract.go
  components/kyma-environment-broker/internal/storage/dberr/errors.go
  components/kyma-environment-broker/internal/storage/dberr/errors_test.go
  components/kyma-environment-broker/internal/third_party/machinebox/graphql/graphql.go
Due: none
