Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

pre-control-plane-components-kubeconfig-service:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210407-70afe459
      securityContext:
        privileged: true
  ...

post-control-plane-components-kubeconfig-service:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210407-70afe459
      securityContext:
        privileged: true
  ...

pre-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

pre-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

post-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

pre-master-control-plane-gke-provisioner-integration:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20201208-8f23a167-k8s1.16
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

pre-master-control-plane-integration:
  labels:
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210407-70afe459
  ...

wip
  components/kyma-environment-broker/cmd/broker/suite_test.go
Due: none

wip
  components/kyma-environment-broker/internal/model.go
Due: none

schema change
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/model/infrastructure.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/provider_config_test.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

KEB: Move shootName recovering to an Instance model (#687)
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/suspension/handler.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

fix test
  components/provisioner/internal/model/gardener_config_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Add DB secret key config to subaccount cleaner job
  components/kyma-environment-broker/internal/model.go
  resources/kcp/charts/kyma-environment-broker/templates/subaccount-cleanup-job.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

wip
  resources/kcp/charts/kyma-environment-broker/templates/subaccount-cleanup-job.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Add DB secret key config to subaccount cleaner job (#690)
  resources/kcp/charts/kyma-environment-broker/templates/subaccount-cleanup-job.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

missing interface for client common (#679)
  components/kyma-environment-broker/common/orchestration/client.go
Due: none

Add service monitor
  resources/kcp/charts/kyma-metrics-collector/templates/service-monitor.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Changed base image to distroless
  components/kyma-metrics-collector/Dockerfile
Due: none

Fix typo
  components/kyma-metrics-collector/pkg/process/process.go
Due: none

Bump kmc image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Bump provisioner image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Added tunas to codeowners
  CODEOWNERS
Due: none

Disable rate changed
  components/kyma-metrics-collector/pkg/process/process.go
Due: none

Add tunas to codeowners for KMC (#693)
  CODEOWNERS
Due: none

Bump provisioner image (#692)
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Added tunas to codeowners (#694)
  CODEOWNERS
Due: none

Changed base image to distroless (#691)
  components/kyma-metrics-collector/Dockerfile
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Bump image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Bump image (#695)
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Add Azure HA plan
  components/kyma-environment-broker/common/hyperscaler/azure/env.go
  components/kyma-environment-broker/common/hyperscaler/azure/env_test.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/plans_validator.go
  components/kyma-environment-broker/internal/broker/plans_validator_test.go
  components/kyma-environment-broker/internal/broker/testdata/azure-ha-schema.json
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/input/builder_test.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/runtime/disabled_components.go
  resources/kcp/charts/kyma-environment-broker/files/catalog.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Add tests for azure_ha plan
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/services_test.go
  components/kyma-environment-broker/internal/broker/testdata/azure-ha-schema.json
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/azure_provider_test.go
  components/kyma-environment-broker/internal/provider/common.go
Due: none

Add AzureHAPlanID to account provider
  components/kyma-environment-broker/common/hyperscaler/account_provider.go
Due: none

Bump KEB image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Add zonesCount parameter to provisioning input
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
Due: none

Add resolver tests changes
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/testkit/gqlschema.go
  components/provisioner/internal/provisioning/testkit/model.go
  components/provisioner/internal/provisioning/testkit/testdata.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Add zonesCount parameter to schema for Azure_HA plan
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_schema.go
  components/kyma-environment-broker/internal/broker/testdata/azure-ha-schema.json
Due: none

Fix config in resolver integration
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bump Golang version in Provisioner
  components/provisioner/Dockerfile
  components/provisioner/Makefile
  components/provisioner/go.mod
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-provisioner-whitesource-scan

Bump Provisioners image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Change default zoneCount to 2 for Azure_HA plan
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/testdata/azure-ha-schema.json
Due: none

Tuned readme
  components/kyma-metrics-collector/README.md
Due: none

Bump Golang version in Provisioner (#697)
  components/provisioner/Dockerfile
  components/provisioner/Makefile
  components/provisioner/go.mod
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-integration, pre-master-kcp-development-artifacts, pre-master-provisioner-whitesource-scan

Tuned readme (#698)
  components/kyma-metrics-collector/README.md
Due: none

Add Azure HA plan (#671)
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/hyperscaler/account_provider.go
  components/kyma-environment-broker/common/hyperscaler/azure/env.go
  components/kyma-environment-broker/common/hyperscaler/azure/env_test.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_schema.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/plans_validator.go
  components/kyma-environment-broker/internal/broker/plans_validator_test.go
  components/kyma-environment-broker/internal/broker/services_test.go
  components/kyma-environment-broker/internal/broker/testdata/azure-ha-schema.json
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/input/builder_test.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/azure_provider_test.go
  components/kyma-environment-broker/internal/provider/common.go
  components/kyma-environment-broker/internal/runtime/disabled_components.go
  resources/kcp/charts/kyma-environment-broker/files/catalog.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
