Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, post-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

pre-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-kyma-kms-sign-key: 'true'
  ...

post-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-kyma-kms-sign-key: 'true'
  ...

pre-control-plane-components-kyma-metrics-collector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210601-24c60b5a
      securityContext:
        privileged: true
  ...

post-control-plane-components-kyma-metrics-collector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210601-24c60b5a
      securityContext:
        privileged: true
  ...

pre-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

pre-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

post-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

Add nil check for pointer
  components/kyma-metrics-collector/pkg/process/process.go
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector

Address review comments
  components/kyma-metrics-collector/pkg/process/process.go
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector

Add runtimeID to log message
  components/kyma-metrics-collector/pkg/cache/record.go
  components/kyma-metrics-collector/pkg/logger/logger.go
  components/kyma-metrics-collector/pkg/process/process.go
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector

Bump kmc version
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add runtimeID to log message (#1763)
  components/kyma-metrics-collector/pkg/cache/record.go
  components/kyma-metrics-collector/pkg/logger/logger.go
  components/kyma-metrics-collector/pkg/process/process.go
  resources/kcp/values.yaml
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Remove major ver check for migration condition
  components/kyma-environment-broker/internal/process/update/conditions.go
Due: none

Remove conditions for Kyma versions
  components/kyma-environment-broker/internal/process/update/conditions.go
Due: none

Bump KEB img
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Disable flaky tests
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_kyma_test.go
Due: none

bump the golang image to golang1.18.3:alpine3.16 in KMC (#1764)
  components/kyma-metrics-collector/Dockerfile
  resources/kcp/values.yaml
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

bump gardener dependencies
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-provisioner-whitesource-scan

go mod tidy
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-provisioner-whitesource-scan

bump image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump dependencies kmc (#1765)
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
  resources/kcp/values.yaml
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

Simplify Dependabot config
  .github/dependabot-config.yaml
  .github/dependabot.tmpl
  .github/dependabot.yml
Due: none

Close body after http do func call
  components/kyma-environment-broker/common/deprovision/client.go
Due: none

Include whatever info is present to query runtimeID
  tools/cli/pkg/command/deprovision.go
Due: pre-main-kcp-cli

bump gardener to 1.48.1
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-provisioner-whitesource-scan

Version Bumps
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
Due: pre-main-provisioner-whitesource-scan

Version Bumps (#1769)
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
Due: pre-main-provisioner-whitesource-scan

Run make imports
  components/kyma-environment-broker/common/deprovision/client.go
  components/kyma-environment-broker/common/deprovision/model.go
Due: none

Use the input value instead of already converted config
  components/provisioner/internal/provisioning/service.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bumping Reconciler:\n\nNo eu.gcr.io/kyma-project/incubator/reconciler/ changes.\n\n
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bumping Reconciler:\n\nNo eu.gcr.io/kyma-project/incubator/reconciler/ changes.\n\n (#1759)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Ignored Error
  tools/cli/pkg/ers/fetcher/initial.go
Due: pre-main-kcp-cli

BTP oprtator credentials in docs
  docs/kyma-environment-broker/08-01-provisioning-kyma-environment.md
Due: none

wip
  docs/kyma-environment-broker/08-01-provisioning-kyma-environment.md
Due: none

Remove unnecessary Kyma versions conditions (#1766)
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_kyma_test.go
  components/kyma-environment-broker/internal/process/update/conditions.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add speed up for orchestration
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/orchestration/ext.go
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
Due: none

Adjust tests to include speed factor
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
Due: none

Speed up orchestration for tests (#1773)
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/orchestration/ext.go
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
Due: none

Add ComponentsProvider
  components/kyma-environment-broker/internal/runtime/components_provider.go
Due: none

sort imports in main.go
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Add getKymaComponents()
  components/kyma-environment-broker/internal/iosafety/iosafety.go
  components/kyma-environment-broker/internal/runtime/components_provider.go
  components/kyma-environment-broker/internal/runtime/provider.go
Due: none

Add kymaComponentsProvider
  components/kyma-environment-broker/internal/runtime/components_provider.go
Due: none

Test ComponentsProvider errors
  components/kyma-environment-broker/internal/runtime/components_provider_fake.go
  components/kyma-environment-broker/internal/runtime/components_provider_test.go
Due: none

Change ComponentListProvider interface and deprecate v1alpha1.KymaComponent
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/update/manager.go
  components/kyma-environment-broker/internal/runtime/components_provider.go
Due: none

FakeComponentsProvider - HTTPDoer
  components/kyma-environment-broker/internal/runtime/components_provider.go
  components/kyma-environment-broker/internal/runtime/components_provider_fake.go
Due: none

Generate ComponentListProvider mock using mockery
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/input/automock/component_list_provider.go
Due: none

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
