Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, post-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests, pre-control-plane-validate-inrepo-prow-configs

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
  pre-control-plane-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)

New Plan and Corrections
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
  components/kyma-environment-broker/internal/process/provisioning/get_kubeconfig_step.go
  components/kyma-environment-broker/internal/provider/owncluster_provider.go
  components/kyma-environment-broker/internal/runtime/components/components.go
  components/kyma-environment-broker/internal/runtime/disabled_components.go
Due: none

renaming test functions
  components/kyma-environment-broker/internal/process/deprovisioning/release_subscription_step_test.go
Due: none

Update docs/kyma-environment-broker/03-03-runtime-operations.md
  docs/kyma-environment-broker/03-03-runtime-operations.md
Due: none

Apply suggestions from code review
  docs/kyma-environment-broker/03-03-runtime-operations.md
Due: none

Fix table
  docs/kyma-environment-broker/03-03-runtime-operations.md
Due: none

Bumping Reconciler:\n\nNo eu.gcr.io/kyma-project/incubator/reconciler/ changes.\n\n
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Deprovisioning init step (#2025)
  components/kyma-environment-broker/internal/process/deprovisioning/init.go
  components/kyma-environment-broker/internal/process/deprovisioning/init_test.go
Due: none

Bumping Reconciler:\n\nNo eu.gcr.io/kyma-project/incubator/reconciler/ changes.\n\n (#2018)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Release hyperscaler subscription step (#2027)
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/process/deprovisioning/release_subscription_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/release_subscription_step_test.go
Due: none

Operation improvements (#2008)
  components/kyma-environment-broker/common/runtime/model.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/model_test.go
  components/kyma-environment-broker/internal/process/staged_manager_test.go
  components/kyma-environment-broker/internal/process/update/manager_test.go
  components/kyma-environment-broker/internal/runtime/converter.go
  components/kyma-environment-broker/internal/runtime/converter_test.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation_test.go
  docs/kyma-environment-broker/03-03-runtime-operations.md
  resources/kcp/charts/kyma-environment-broker/values.yaml
  tools/cli/pkg/command/runtime.go
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts

Bump go buildpack to v20220809-002bc8cf3
  components/kyma-environment-broker/Makefile
Due: none

Bump kyma_environment_broker images to PR-2017
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

KCP CLI go mod tidy
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

keb: fakeClient compatible with controller-runtime 0.13.0
  components/kyma-environment-broker/internal/config/reader_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/btp_operator_cleanup_test.go
Due: none

initial implementation
  components/kyma-environment-broker/internal/process/deprovisioning/release_subscription_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_instance_permanently_step.go
Due: none

crappy version but compilable
  components/kyma-environment-broker/internal/process/deprovisioning/remove_instance_permanently_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_instance_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_instance_step_test.go
Due: none

Enabling Runtime State Storage
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_without_kyma_step.go
Due: none

Shoot Extraction
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/dto.go
Due: none

Runtime Generation Moved to Create Runtime
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
Due: none

Omit Provisioner Call for Deprovisioning
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime.go
Due: none

roughly refactored
  components/kyma-environment-broker/internal/process/deprovisioning/remove_instance_step.go
Due: none

next approximation
  components/kyma-environment-broker/internal/process/deprovisioning/remove_instance_step.go
Due: none

deduplicate on reasonable level
  components/kyma-environment-broker/internal/process/deprovisioning/remove_instance_step.go
Due: none

minor layout changes and articles added to messages
  components/kyma-environment-broker/internal/process/deprovisioning/remove_instance_step.go
Due: none

happy path covered
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_instance_step_test.go
Due: none

two test cases added
  components/kyma-environment-broker/internal/process/deprovisioning/remove_instance_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_instance_step_test.go
Due: none

Bump GOLANG to 1.19 for KMC
  components/kyma-metrics-collector/Dockerfile
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-provisioner-whitesource-scan

bump kmc image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

reverting literal in switch clause to restore missing metrics
  components/kyma-environment-broker/internal/metrics/step_result.go
Due: none
