Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-control-plane-validate-dockerfiles, pre-main-kcp-cli, pre-main-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, post-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests, pre-control-plane-validate-inrepo-prow-configs, pull-control-plane-pjconfigtest, pull-control-plane-pjtester, pull-control-plane-vpathguard

pull-kubeconfig-service-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-kubeconfig-service-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20221027-dce4769a4
  ...

post-kubeconfig-service-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kubeconfig-service-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20221027-dce4769a4
  ...

pre-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-kyma-kms-sign-key: 'true'
  ...

pull-keb-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20221109-d1ac84d4b
      command:
  ...

pull-keb-cleanup-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-cleanup-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20221109-d1ac84d4b
  ...

pull-keb-subaccount-cleanup-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-subaccount-cleanup-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-keb-subscription-cleanup-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-subscription-cleanup-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-keb-trial-cleanup-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-trial-cleanup-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20221109-d1ac84d4b
  ...

post-keb-subaccount-cleanup-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-keb-subaccount-cleanup-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

removed unnecessary part of comment
  components/kyma-environment-broker/cmd/deprovisionretrigger/main.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker

values.yaml updated
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Bumping up deprovision retrigger job (#2482)
  components/kyma-environment-broker/cmd/deprovisionretrigger/main.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Remove compass-system old dependencies
  components/kyma-environment-broker/cmd/broker/testdata/managed-runtime-components.yaml
  components/kyma-environment-broker/internal/runtime/components_provider_test.go
  components/kyma-environment-broker/internal/runtime/testdata/additional-runtime-components.yaml
  components/kyma-environment-broker/internal/runtime/testdata/managed-runtime-components.yaml
  docs/internal/runtime-upgrade.md
  docs/provisioner/08-02-provisioning-gardener.md
  installation/resources/installer-cr-compass-dependencies.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  tests/provisioner-tests/test/testkit/compass/director/oauth/client_test.go
  tests/provisioner-tests/test/testkit/inputs.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts, pre-control-plane-tests-provisioner-tests, post-control-plane-tests-provisioner-tests, pre-control-plane-tests, post-control-plane-tests

Update KMC security context (#2478)
  resources/kcp/charts/kyma-metrics-collector/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Update code owners
  CODEOWNERS
  OWNERS
  OWNERS_ALIASES
Due: none

Production plan with minimum nodes 3
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/testdata/aws-schema-additional-params-eu.json
  components/kyma-environment-broker/internal/broker/testdata/aws-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/aws-schema-eu.json
  components/kyma-environment-broker/internal/broker/testdata/aws-schema.json
  components/kyma-environment-broker/internal/broker/testdata/azure-schema-additional-params-eu.json
  components/kyma-environment-broker/internal/broker/testdata/azure-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/azure-schema-eu.json
  components/kyma-environment-broker/internal/broker/testdata/azure-schema.json
  components/kyma-environment-broker/internal/broker/testdata/gcp-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/gcp-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-aws-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-aws-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-gcp-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-gcp-schema.json
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker

wip
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Fix a typo
  OWNERS_ALIASES
Due: none

Update code owners (#2486)
  CODEOWNERS
  OWNERS
  OWNERS_ALIASES
Due: none

Add a code owner
  CODEOWNERS
  OWNERS
Due: none

Add a code owner (#2490)
  CODEOWNERS
  OWNERS
Due: none

Production plan with minimum nodes 3 (#2485)
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/testdata/aws-schema-additional-params-eu.json
  components/kyma-environment-broker/internal/broker/testdata/aws-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/aws-schema-eu.json
  components/kyma-environment-broker/internal/broker/testdata/aws-schema.json
  components/kyma-environment-broker/internal/broker/testdata/azure-schema-additional-params-eu.json
  components/kyma-environment-broker/internal/broker/testdata/azure-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/azure-schema-eu.json
  components/kyma-environment-broker/internal/broker/testdata/azure-schema.json
  components/kyma-environment-broker/internal/broker/testdata/gcp-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/gcp-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-aws-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-aws-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-gcp-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/update-gcp-schema.json
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

allow re-deprovision after deprovisin succeeded
  components/kyma-environment-broker/internal/broker/instance_deprovision.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker

values updated
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Use gopher group in CODEOWNERS instead of enumerating its members
  CODEOWNERS
Due: none

condition extracted
  components/kyma-environment-broker/internal/broker/instance_deprovision.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker

function name adjusted - review remark
  components/kyma-environment-broker/internal/broker/instance_deprovision.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker

Allow re-deprovision after successful deprovision (#2491)
  components/kyma-environment-broker/internal/broker/instance_deprovision.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Update values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

checks corrected and docs added
  components/kyma-environment-broker/internal/broker/instance_deprovision.go
  docs/kyma-environment-broker/03-16-deprovision-retrigger-cronjob.md
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker

time corrected
  docs/kyma-environment-broker/03-16-deprovision-retrigger-cronjob.md
Due: none

do not change logic for failed operations
  components/kyma-environment-broker/internal/broker/instance_deprovision.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker

refactor - simplified logic
  components/kyma-environment-broker/internal/broker/instance_deprovision.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker

Use gopher group in CODEOWNERS instead of enumerating its members (#2492)
  CODEOWNERS
Due: none

copy-pasted text corrected
  docs/kyma-environment-broker/03-16-deprovision-retrigger-cronjob.md
Due: none

reorganizing paragraphs
  docs/kyma-environment-broker/03-16-deprovision-retrigger-cronjob.md
Due: none

reorganizing paragraphs again
  docs/kyma-environment-broker/03-16-deprovision-retrigger-cronjob.md
Due: none

dry run as NOTE
  docs/kyma-environment-broker/03-16-deprovision-retrigger-cronjob.md
Due: none

No article
  docs/kyma-environment-broker/03-16-deprovision-retrigger-cronjob.md
Due: none

not used function removed
  components/kyma-environment-broker/internal/broker/instance_deprovision.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker

Update docs/kyma-environment-broker/03-16-deprovision-retrigger-cronjob.md
  docs/kyma-environment-broker/03-16-deprovision-retrigger-cronjob.md
Due: none

review remarks
  docs/kyma-environment-broker/03-16-deprovision-retrigger-cronjob.md
Due: none

Additional check to skip redeprovisioning (#2493)
  components/kyma-environment-broker/internal/broker/instance_deprovision.go
  docs/kyma-environment-broker/03-16-deprovision-retrigger-cronjob.md
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Set and read instance deleted_at field
  components/kyma-environment-broker/common/runtime/model.go
  components/kyma-environment-broker/internal/runtime/converter.go
  components/kyma-environment-broker/internal/storage/postsql/write.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-environment-broker

Path conditions:
  pull-kubeconfig-service-build: any of: ^components/kubeconfig-service
  post-kubeconfig-service-build: any of: ^components/kubeconfig-service
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pull-keb-build: any of: ^components/kyma-environment-broker
  pull-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-build: any of: ^components/kyma-environment-broker
  post-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  pre-control-plane-components-kyma-environment-broker: any of: ^components/kyma-environment-broker/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pull-provisioner-build: any of: ^components/provisioner
  post-provisioner-build: any of: ^components/provisioner
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pull-schema-migrator-build: any of: ^components/schema-migrator
  post-schema-migrator-build: any of: ^components/schema-migrator
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-control-plane-reconciler-e2e: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-e2e-latest-release: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-control-plane-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-kcp-cli: any of: ^tools/cli
  pre-main-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
  pre-control-plane-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-control-plane-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-control-plane-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-control-plane-vpathguard: any of: ^(vpath/pjtester.yaml)
