Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

Invalid Change
  components/kyma-environment-broker/internal/reconciler/client.go
Due: none

Imports Correction
  components/kyma-environment-broker/internal/reconciler/client.go
Due: none

Revert "enabled sidecar injection"
  resources/kcp/charts/kyma-metrics-collector/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

enabled sidecar injection
  resources/kcp/charts/kyma-metrics-collector/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

bump KMC image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

reducing poll duration
  resources/kcp/charts/kyma-metrics-collector/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

allow -state retrying
  tools/cli/pkg/command/orchestration.go
Due: pre-main-kcp-cli

Imports Corrections
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/component_input_helpers.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/deregister_cluster_test.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/base_provision_test.go
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration.go
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
  components/kyma-environment-broker/internal/process/update/apply_reconciler_configuration.go
  components/kyma-environment-broker/internal/process/update/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/update/manager.go
  components/kyma-environment-broker/internal/process/update/sc_migration_check_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/apply_cluster_configuration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/check_cluster_configuration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/simple_provisioner_input_creator_test.go
  components/kyma-environment-broker/internal/reconciler/client.go
  components/kyma-environment-broker/internal/storage/driver/memory/runtime_state_test.go
  components/kyma-environment-broker/internal/storage/driver/postsql/runtime_state.go
  components/kyma-environment-broker/internal/storage/driver/postsql/runtimestate_test.go
Due: none

Bumping Reconciler
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

update schedule number in queue when retrying op during in progress orchestration
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: none

Version Bump
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bumping Reconciler (#1241)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

temp
  resources/kcp/charts/kyma-metrics-collector/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Update links and diagrams in KEB
  docs/kyma-control-plane/01-01-overview.md
  docs/kyma-environment-broker/01-01-overview.md
  docs/kyma-environment-broker/02-01-architecture.md
  docs/kyma-environment-broker/02-02-broker-endpoints.md
  docs/kyma-environment-broker/03-01-service-description.md
  docs/kyma-environment-broker/03-02-runtime-components.md
  docs/kyma-environment-broker/03-03-runtime-operations.md
  docs/kyma-environment-broker/03-04-hyperscaler-account-pool.md
  docs/kyma-environment-broker/03-05-authorization.md
  docs/kyma-environment-broker/03-06-runtime-overrides.md
  docs/kyma-environment-broker/03-07-environments-cleanup.md
  docs/kyma-environment-broker/03-08-kyma-versions.md
  docs/kyma-environment-broker/03-09-subaccount-cleanup-cronjob.md
  docs/kyma-environment-broker/03-10-orchestration.md
  docs/kyma-environment-broker/03-11-swagger.md
  docs/kyma-environment-broker/03-12-custom-oidc-configuration.md
  docs/kyma-environment-broker/03-13-custom-administrators.md
  docs/kyma-environment-broker/08-01-provisioning-kyma-environment.md
  docs/kyma-environment-broker/08-02-deprovisioning-kyma-environment.md
  docs/kyma-environment-broker/08-03-operation-status.md
  docs/kyma-environment-broker/08-04-instance-details.md
  docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
  docs/kyma-environment-broker/08-06-orchestration-status.md
  docs/kyma-environment-broker/assets/hap-flow.svg
  docs/kyma-environment-broker/assets/keb-architecture.svg
  docs/kyma-environment-broker/assets/runtime-components.svg
Due: none

Retried Reconciler Errors & Reconciler Contract Usage (#1222)
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_kyma_test.go
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
  components/kyma-environment-broker/internal/component_input_helpers.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/deregister_cluster_test.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/base_provision_test.go
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration.go
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
  components/kyma-environment-broker/internal/process/update/apply_reconciler_configuration.go
  components/kyma-environment-broker/internal/process/update/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/update/manager.go
  components/kyma-environment-broker/internal/process/update/sc_migration.go
  components/kyma-environment-broker/internal/process/update/sc_migration_check_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/apply_cluster_configuration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/check_cluster_configuration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/simple_provisioner_input_creator_test.go
  components/kyma-environment-broker/internal/provisioning/automock/provisioner_input_creator.go
  components/kyma-environment-broker/internal/reconciler/client.go
  components/kyma-environment-broker/internal/reconciler/client_test.go
  components/kyma-environment-broker/internal/reconciler/contract.go
  components/kyma-environment-broker/internal/reconciler/fake.go
  components/kyma-environment-broker/internal/storage/driver/memory/runtime_state_test.go
  components/kyma-environment-broker/internal/storage/driver/postsql/runtime_state.go
  components/kyma-environment-broker/internal/storage/driver/postsql/runtimestate_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

Update diagrams
  docs/kyma-environment-broker/assets/hap-flow.svg
  docs/kyma-environment-broker/assets/keb-architecture.svg
Due: none

Apply suggestions from code review
  docs/kyma-environment-broker/03-08-kyma-versions.md
  docs/kyma-environment-broker/03-10-orchestration.md
  docs/kyma-environment-broker/08-01-provisioning-kyma-environment.md
  docs/kyma-environment-broker/08-02-deprovisioning-kyma-environment.md
Due: none

Add review suggestions
  docs/kyma-environment-broker/03-10-orchestration.md
  docs/kyma-environment-broker/08-06-orchestration-status.md
Due: none

Update links and diagrams in KEB (#1242)
  docs/kyma-control-plane/01-01-overview.md
  docs/kyma-environment-broker/01-01-overview.md
  docs/kyma-environment-broker/02-01-architecture.md
  docs/kyma-environment-broker/02-02-broker-endpoints.md
  docs/kyma-environment-broker/03-01-service-description.md
  docs/kyma-environment-broker/03-02-runtime-components.md
  docs/kyma-environment-broker/03-03-runtime-operations.md
  docs/kyma-environment-broker/03-04-hyperscaler-account-pool.md
  docs/kyma-environment-broker/03-05-authorization.md
  docs/kyma-environment-broker/03-06-runtime-overrides.md
  docs/kyma-environment-broker/03-07-environments-cleanup.md
  docs/kyma-environment-broker/03-08-kyma-versions.md
  docs/kyma-environment-broker/03-09-subaccount-cleanup-cronjob.md
  docs/kyma-environment-broker/03-10-orchestration.md
  docs/kyma-environment-broker/03-11-swagger.md
  docs/kyma-environment-broker/03-12-custom-oidc-configuration.md
  docs/kyma-environment-broker/03-13-custom-administrators.md
  docs/kyma-environment-broker/08-01-provisioning-kyma-environment.md
  docs/kyma-environment-broker/08-02-deprovisioning-kyma-environment.md
  docs/kyma-environment-broker/08-03-operation-status.md
  docs/kyma-environment-broker/08-04-instance-details.md
  docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
  docs/kyma-environment-broker/08-06-orchestration-status.md
  docs/kyma-environment-broker/assets/hap-flow.svg
  docs/kyma-environment-broker/assets/keb-architecture.svg
  docs/kyma-environment-broker/assets/runtime-components.svg
Due: none

Extraction of PollImmediate Functions
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

Cleans up OWNERS and CODEOWNERS
  CODEOWNERS
  OWNERS
Due: none

Cleans up OWNERS and CODEOWNERS (#1245)
  CODEOWNERS
  OWNERS
Due: none

Cleans up OWNERS from resources/kcp
  resources/kcp/OWNERS
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Suspension process cleans the ClusterConfigVersion
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/deregister_cluster.go
  components/kyma-environment-broker/internal/reconciler/fake.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Suspension process cleans the ClusterConfigVersion (#1247)
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/deregister_cluster.go
  components/kyma-environment-broker/internal/reconciler/fake.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Cleans up OWNERS from resources/kcp (#1246)
  resources/kcp/OWNERS
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Clean CLustertConfigurationVersion after the deletion is completed
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/deregister_cluster.go
Due: none

bump
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration_test.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/reconciler/fake.go
Due: none

Clean CLustertConfigurationVersion after the deletion is completed (#1248)
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/deregister_cluster.go
  components/kyma-environment-broker/internal/reconciler/fake.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

no change to the in progress orchestration description when retrying triggered
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: none

keb version updated
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

go mod tidy
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Cluster deregistration must clean ClusterConfigurationVersion if done.
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration.go
Due: none

gen oapi
  components/reconciler/makefile
  components/reconciler/pkg/automock/client.go
  components/reconciler/pkg/client_gen.go
  components/reconciler/pkg/types_gen.go
Due: none

Cluster deregistration must clean ClusterConfigurationVersion if done. (#1249)
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts
