Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, post-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

bump
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

update with comments
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/secret_cm_overrides.go
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides.go
Due: none

modify runtimeoverrides_test.go
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides_test.go
Due: none

update 03-06-runtime-overrides.md
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides_test.go
Due: none

update secret_cm_overrides.go
  components/kyma-environment-broker/internal/process/provisioning/automock/runtime_overrides_appender.go
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides.go
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/secret_cm_overrides.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/secret_cm_overrides_test.go
Due: none

rm unused variables and update docment
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides.go
Due: none

improve override param queue
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides.go
Due: none

fix traces
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides.go
Due: none

change name to Overrides_From_Secrets_And_Config_Step_upgrade
  components/kyma-environment-broker/internal/process/upgrade_kyma/secret_cm_overrides.go
Due: none

parsing lables of override-account/subaccount-id
  components/kyma-environment-broker/internal/runtimeoverrides/automock/input_appender.go
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides.go
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides_test.go
Due: none

add trace in input.go/AppendOverrides()
  components/kyma-environment-broker/internal/process/input/input.go
Due: none

fix map iteration issue
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides.go
Due: none

add trace
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides.go
  components/kyma-environment-broker/internal/runtimeoverrides/automock/input_appender.go
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides.go
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides_test.go
Due: none

adjust runtimeoverrides.go
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides.go
Due: none

use logrus to trace
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides.go
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides_test.go
Due: none

update upgrade_kyma/automock/runtime_overrides_appender.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/runtime_overrides_appender.go
Due: none

add trace in upgrade_kyma/secret_cm_overrides.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/secret_cm_overrides.go
Due: none

rm unused trace log
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides.go
Due: none

add trace in AppendGlobalOverrides
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides.go
Due: none

add cases in runtimeoverrides_test.go
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides.go
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides_test.go
Due: none

udpate /03-06-runtime-overrides.md
  docs/kyma-environment-broker/03-06-runtime-overrides.md
Due: none

update kyma_environment_broker version: PR-1781
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Code Review
  components/kyma-environment-broker/internal/metrics/operation_result.go
Due: none

gardener provider config validation
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/provider-config-migrator/migrator_db_integration_test.go
  components/provisioner/internal/provisioning/service.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Use InstanceId instead of runtimeId
  tools/cli/pkg/command/deprovision.go
  tools/cli/pkg/command/root.go
Due: pre-main-kcp-cli

Allow authenticated access to KEB /runtimes to specified principals
  resources/kcp/charts/kyma-environment-broker/templates/authorization-policy.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Allow authenticated access to KEB /runtimes to specified principals (#1827)
  resources/kcp/charts/kyma-environment-broker/templates/authorization-policy.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Pass keb url for to deprovision package
  tools/cli/pkg/command/deprovision.go
Due: pre-main-kcp-cli

bump gardener further
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-provisioner-whitesource-scan

provisioner: add support for Azure multi AZ, having dedicated subnet per zone (#1815)
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/model/infrastructure.go
  components/provisioner/internal/model/infrastructure/azure/infrastructure.go
  components/provisioner/internal/provider-config-migrator/migrator_db_integration_test.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add logs to debug
  components/kyma-environment-broker/common/deprovision/client.go
Due: none

Introducing body template for Kyma2.4.x
  tools/reconciler/e2e-test/template-kyma-2-4-x.json
Due: none

Introducing body template for Kyma2.4.x (#1829)
  tools/reconciler/e2e-test/template-kyma-2-4-x.json
Due: none

fixed rc operation debug bug
  tools/cli/pkg/command/operation_debug_logs.go
  tools/cli/pkg/command/reconciliation_debug_logs.go
Due: pre-main-kcp-cli

go mod tidy
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Change logs for debugging purposes
  components/kyma-environment-broker/common/deprovision/client.go
Due: none

Bumping Reconciler:\n\nNo eu.gcr.io/kyma-project/incubator/reconciler/ changes.\n\n
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fixing failing tests
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

fixed kcp cli bug
  tools/cli/pkg/command/operation_debug_logs.go
  tools/cli/pkg/command/reconciliation_debug_logs.go
Due: pre-main-kcp-cli

Bumping Reconciler:\n\nNo eu.gcr.io/kyma-project/incubator/reconciler/ changes.\n\n (#1786)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts
