Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

Remove unused Service Manager Offering steps in KEB (#982)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/connectivity_deprovision.go
  components/kyma-environment-broker/internal/process/deprovisioning/connectivity_deprovision_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/connectivity_unbind.go
  components/kyma-environment-broker/internal/process/deprovisioning/connectivity_unbind_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_deprovision_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_deprovision_step_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_int_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_unbind_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_unbind_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/connectivity_bind.go
  components/kyma-environment-broker/internal/process/provisioning/connectivity_bind_test.go
  components/kyma-environment-broker/internal/process/provisioning/connectivity_provision.go
  components/kyma-environment-broker/internal/process/provisioning/connectivity_provision_test.go
  components/kyma-environment-broker/internal/process/provisioning/service_manager_offering_step.go
  components/kyma-environment-broker/internal/process/provisioning/service_manager_offering_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/service_manager_provisioner.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_binding_step.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_provisioning_step.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_provisioning_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/connectivity_bind.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/connectivity_bind_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/connectivity_provision.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/connectivity_provision_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/service_manager_offering_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/service_manager_offering_step_test.go
  components/kyma-environment-broker/internal/servicemanager/xsuaa/parameters.go
  components/kyma-environment-broker/internal/servicemanager/xsuaa/parameters_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add test for GetLastByRuntimeID()
  components/kyma-environment-broker/internal/storage/driver/memory/runtime_state.go
  components/kyma-environment-broker/internal/storage/driver/memory/runtime_state_test.go
Due: none

Add reconciler payload to RuntimeState; update RuntimeStates interface
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/storage/dbmodel/runtime_state.go
  components/kyma-environment-broker/internal/storage/driver/memory/runtime_state.go
  components/kyma-environment-broker/internal/storage/driver/postsql/runtime_state.go
  components/kyma-environment-broker/internal/storage/ext.go
Due: none

Add constructor for RuntimeState with Reconciler payload
  components/kyma-environment-broker/internal/model.go
Due: none

Include Reconciler payload saving in provisioning steps
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration_step_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Include RuntimeState constructor with reconciler payload in provisioning process
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration_step_test.go
Due: none

Fix RuntimeState struct, adjust constructor, add method to get latest RuntimeState with reconciler input
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/storage/dbmodel/runtime_state.go
  components/kyma-environment-broker/internal/storage/driver/memory/runtime_state.go
  components/kyma-environment-broker/internal/storage/driver/memory/runtime_state_test.go
  components/kyma-environment-broker/internal/storage/driver/postsql/runtime_state.go
  components/kyma-environment-broker/internal/storage/ext.go
Due: none

bump
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix nil panic on kyma upgrade command
  tools/cli/go.sum
  tools/cli/pkg/command/upgrade_kyma.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Reconciler payload persistence (memory) (#987)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration_step_test.go
  components/kyma-environment-broker/internal/storage/dbmodel/runtime_state.go
  components/kyma-environment-broker/internal/storage/driver/memory/runtime_state.go
  components/kyma-environment-broker/internal/storage/driver/memory/runtime_state_test.go
  components/kyma-environment-broker/internal/storage/driver/postsql/runtime_state.go
  components/kyma-environment-broker/internal/storage/ext.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

bump (#998)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Show correct runtime target field on target column
  tools/cli/pkg/command/orchestration.go
Due: pre-main-kcp-cli

Add log when operation succeeded
  components/kyma-environment-broker/internal/process/provisioning/staged_manager.go
Due: none

Apply suggestions from code review
  components/reconciler/README.MD
Due: none

make dnsconfig nullable in provisioner
  components/kyma-environment-broker/internal/provisioner/client_test.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

updated the go.mod for provisioner
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
Due: pre-main-provisioner-whitesource-scan

Update go.sum with latest go release
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Implement commands which allow users to disable and enable reconciliation for a cluster (#971)
  .gitignore
  CODEOWNERS
  components/reconciler/README.MD
  components/reconciler/go.mod
  components/reconciler/go.sum
  components/reconciler/makefile
  components/reconciler/pkg/client_gen.go
  components/reconciler/pkg/provider.go
  components/reconciler/pkg/provider_test.go
  components/reconciler/pkg/types_gen.go
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/reconciliations.go
  tools/cli/pkg/command/reconciliations_disable.go
  tools/cli/pkg/command/reconciliations_disable_test.go
  tools/cli/pkg/command/reconciliations_enable.go
  tools/cli/pkg/command/reconciliations_enable_test.go
  tools/cli/pkg/command/root.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Add reconciliations command
  components/reconciler/makefile
  components/reconciler/pkg/client_gen.go
  components/reconciler/pkg/types_gen.go
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/reconciliations.go
  tools/cli/pkg/command/reconciliations_disable.go
  tools/cli/pkg/command/reconciliations_enable.go
  tools/cli/pkg/command/reconciliations_test.go
  tools/cli/pkg/command/taskrun.go
Due: pre-main-kcp-cli

Use existing function for targets info
  tools/cli/pkg/command/orchestration.go
Due: pre-main-kcp-cli

DEfine lite plan for EDP
  components/kyma-environment-broker/internal/process/provisioning/edp_registration.go
  components/kyma-environment-broker/internal/process/provisioning/edp_registration_test.go
Due: none

wip
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

DEfine lite plan for EDP (#1003)
  components/kyma-environment-broker/internal/process/provisioning/edp_registration.go
  components/kyma-environment-broker/internal/process/provisioning/edp_registration_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add log when operation succeeded (#1000)
  components/kyma-environment-broker/internal/process/provisioning/staged_manager.go
Due: none

bump (#1004)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix indention for list of pre-components
  resources/kcp/charts/mothership-reconciler/files/reconciler.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix indention for list of pre-components (#1005)
  resources/kcp/charts/mothership-reconciler/files/reconciler.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add kyma and k8s version to orch. details
  tools/cli/pkg/command/orchestration.go
Due: pre-main-kcp-cli

Fix go.mod merge conflict
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Fix reconciliations_enable.go to use newest KEB version
  tools/cli/pkg/command/reconciliations_enable.go
Due: pre-main-kcp-cli

add reconciliations command tests; code cleanup
  components/reconciler/makefile
  components/reconciler/pkg/automock/client.go
  components/reconciler/pkg/provider.go
  components/reconciler/pkg/provider_test.go
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/automock/keb_client.go
  tools/cli/pkg/command/completion.go
  tools/cli/pkg/command/reconciliations.go
  tools/cli/pkg/command/reconciliations_test.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Add reconciliations info command
  components/mothership/README.MD
  components/mothership/go.mod
  components/mothership/go.sum
  components/mothership/makefile
  components/mothership/pkg/client_gen.go
  components/mothership/pkg/provider.go
  components/mothership/pkg/provider_test.go
  components/mothership/pkg/types_gen.go
  tools/cli/pkg/command/reconciliation_info.go
  tools/cli/pkg/command/reconciliations.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

refactor reconciliation info command (prepare for unit tests)
  tools/cli/pkg/command/reconciliation_info.go
Due: pre-main-kcp-cli

revert values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

remove oauth values
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

delete oauth client
  resources/kcp/charts/mothership-reconciler/templates/oauth-client.yaml
  resources/kcp/charts/mothership-reconciler/templates/oauthkeeper-rule.yaml
  resources/kcp/charts/mothership-reconciler/templates/virtualservice.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

draft CRs
  resources/kcp/charts/mothership-reconciler/templates/oauth-client.yaml
  resources/kcp/charts/mothership-reconciler/templates/oauth-secret.yaml
  resources/kcp/charts/mothership-reconciler/templates/oauthkeeper-rule.yaml
  resources/kcp/charts/mothership-reconciler/templates/virtualservice.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

delete oauth secret
  resources/kcp/charts/mothership-reconciler/templates/oauth-secret.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

add reconciliation info command unit tests
  tools/cli/pkg/command/reconciliation_info_test.go
  tools/cli/pkg/command/reconciliations_test.go
Due: pre-main-kcp-cli
