Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

pre-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-control-plane-components-kyma-metrics-collector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210601-24c60b5a
      securityContext:
        privileged: true
  ...

post-control-plane-components-kyma-metrics-collector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210601-24c60b5a
      securityContext:
        privileged: true
  ...

pre-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

pre-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

post-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

Bump kyma_environment_broker to PR-1207
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Check reconciler status in update queue only when required (#1207)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/update/apply_reconciler_configuration.go
  components/kyma-environment-broker/internal/process/update/conditions.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Encrypt BTP Operator ERS credentials
  components/kyma-environment-broker/internal/storage/driver/postsql/ext.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/encrypt.go
Due: none

Bump kyma_environment_broker to PR-1184
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Encrypt BTP Operator ERS credentials (#1184)
  components/kyma-environment-broker/internal/storage/driver/postsql/ext.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/encrypt.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Change subscription cleanup schedule to daily (#1208)
  resources/kcp/charts/kyma-environment-broker/templates/subscription-cleanup-job.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Strip namespace from templates of selected kinds
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bumping Reconciler
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

added POST for keb-orchestrations
  components/kyma-environment-broker/internal/orchestration/handlers/retry.go
  resources/kcp/charts/kyma-environment-broker/templates/oathkeeper-rule.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

template typo error
  tools/cli/pkg/command/orchestration.go
Due: pre-main-kcp-cli

Use docker tags from main
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Strip namespace from templates of selected kinds (#1210)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Remove crabtree from codeowners
  CODEOWNERS
Due: none

Remove crabtree from codeowners (#1211)
  CODEOWNERS
Due: none

bump to image tag 943e0e86
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

bump to image tag 943e0e86 (#1213)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Change default Azure region to eastus
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/azure_provider_test.go
Due: none

Change default Azure region to eastus (#1215)
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/azure_provider_test.go
Due: none

Update reconciler images
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

filter out deprovision/suspend operation
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/retry.go
  tools/cli/pkg/command/orchestration.go
Due: pre-main-kcp-cli

Disable sc-migration component for upgrade queue on kyma2
  components/kyma-environment-broker/internal/process/upgrade_kyma/apply_cluster_configuration.go
Due: none

Bump kyma_environment_broker to PR-1217
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Update reconciler with the final images
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Disable sc-migration component for upgrade queue on kyma2 (#1217)
  components/kyma-environment-broker/internal/process/upgrade_kyma/apply_cluster_configuration.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Update reconciler images (#1216)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Removing e2e TestDefinitions
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-free-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-ha-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-skr.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-suspension.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/rbac.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/upg-tst-aws-prov.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

KEB takes updateAt/modifiedAt field for runtime status from last operation
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/appinfo/runtime_info.go
  components/kyma-environment-broker/internal/appinfo/runtime_info_test.go
  components/kyma-environment-broker/internal/appinfo/testdata/TestRuntimeInfoHandlerSuccess/instances_with_deprovision_operation.golden.json
  components/kyma-environment-broker/internal/appinfo/testdata/TestRuntimeInfoHandlerSuccess/instances_with_provision_and_deprovision_operations.golden.json
  components/kyma-environment-broker/internal/appinfo/testdata/TestRuntimeInfoHandlerSuccess/instances_with_provision_operation.golden.json
  components/kyma-environment-broker/internal/runtime/handler.go
Due: none

Bump KEB image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

KCP CLI: username is not allowed to be set by USERNAME environment valriable
  tools/cli/pkg/command/options.go
Due: pre-main-kcp-cli

Reorganized the structure of the resolver tests
  components/provisioner/internal/api/resolver_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

KEB takes updateAt/modifiedAt field for runtime status from last operation (#1214)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/appinfo/runtime_info.go
  components/kyma-environment-broker/internal/appinfo/runtime_info_test.go
  components/kyma-environment-broker/internal/appinfo/testdata/TestRuntimeInfoHandlerSuccess/instances_with_deprovision_operation.golden.json
  components/kyma-environment-broker/internal/appinfo/testdata/TestRuntimeInfoHandlerSuccess/instances_with_provision_and_deprovision_operations.golden.json
  components/kyma-environment-broker/internal/appinfo/testdata/TestRuntimeInfoHandlerSuccess/instances_with_provision_operation.golden.json
  components/kyma-environment-broker/internal/runtime/handler.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

bump reconciler images to bb1616d4
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

bump reconciler images to bb1616d4 (#1219)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Retried Reconciler Errors & Reconciler Contract
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
  components/kyma-environment-broker/internal/component_input_helpers.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/deregister_cluster_test.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration.go
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
  components/kyma-environment-broker/internal/process/update/apply_reconciler_configuration.go
  components/kyma-environment-broker/internal/process/update/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/update/manager.go
  components/kyma-environment-broker/internal/process/update/sc_migration.go
  components/kyma-environment-broker/internal/process/update/sc_migration_check_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/apply_cluster_configuration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/check_cluster_configuration.go
  components/kyma-environment-broker/internal/provisioning/automock/provisioner_input_creator.go
  components/kyma-environment-broker/internal/reconciler/client.go
  components/kyma-environment-broker/internal/reconciler/client_test.go
  components/kyma-environment-broker/internal/reconciler/contract.go
  components/kyma-environment-broker/internal/reconciler/fake.go
  components/kyma-environment-broker/internal/storage/driver/memory/runtime_state_test.go
  components/kyma-environment-broker/internal/storage/driver/postsql/runtime_state.go
Due: pre-main-provisioner-whitesource-scan

Bump image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Allow Provisioner to update tenant (#1198)
  components/provisioner/cmd/main.go
  components/provisioner/go.sum
  components/provisioner/internal/api/mocks/TenantUpdater.go
  components/provisioner/internal/api/mocks/Validator.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/api/tenant_updater.go
  components/provisioner/internal/api/tenant_updater_test.go
  components/provisioner/internal/api/validator.go
  components/provisioner/internal/api/validator_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadWriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

Tests Corrections
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_kyma_test.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/base_provision_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/simple_provisioner_input_creator_test.go
  components/kyma-environment-broker/internal/reconciler/client_test.go
  components/kyma-environment-broker/internal/reconciler/contract.go
  components/kyma-environment-broker/internal/storage/driver/postsql/runtimestate_test.go
Due: none

add test for GAID update
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
Due: none

two
  components/kyma-environment-broker/internal/storage/dbmodel/instance.go
Due: none

expose SubscriptionGlobalAccountID to runtime DTO
  components/kyma-environment-broker/internal/runtime/converter.go
Due: none

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
