Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, post-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

Bump kyma_environment_broker images to PR-1793
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Consecutive updates and upgrades with license type
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/component_input_helpers.go
  components/kyma-environment-broker/internal/process/update/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/update/initialisation_step.go
  components/kyma-environment-broker/internal/process/update/upgrade_shoot_step.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/upgrade_cluster_step.go
  components/kyma-environment-broker/internal/provisioner/fake_client.go
Due: none

Reload Test
  components/kyma-environment-broker/internal/storage/tests_utils.go
Due: none

bugfix: delete non-existent ConfigMap during initialization
  components/kubeconfig-service/pkg/runtime/runtime_kcp.go
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

enable feature flag for reconciler debug logging
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add ap's allowing oathkeeper traffic
  resources/kcp/charts/kyma-environment-broker/templates/_helpers.tpl
  resources/kcp/charts/kyma-environment-broker/templates/authorization-policy.yaml
  resources/kcp/charts/kyma-environment-broker/templates/virtualservice.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Remove leftover
  resources/kcp/charts/kyma-environment-broker/templates/_helpers.tpl
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add feature flag
  resources/kcp/charts/kyma-environment-broker/templates/request-authentication.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add feature flag
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Refactoring
  resources/kcp/charts/kyma-environment-broker/templates/authorization-policy.yaml
  resources/kcp/charts/kyma-environment-broker/templates/virtualservice-istio.yaml
  resources/kcp/charts/kyma-environment-broker/templates/virtualservice.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix typo
  resources/kcp/charts/kyma-environment-broker/templates/virtualservice-istio.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix typo
  resources/kcp/charts/kyma-environment-broker/out.txt
  resources/kcp/charts/kyma-environment-broker/out.yaml
  resources/kcp/charts/kyma-environment-broker/templates/request-authentication.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Remove test outputs
  resources/kcp/charts/kyma-environment-broker/out.txt
  resources/kcp/charts/kyma-environment-broker/out.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Consecutive updates and upgrades with license type (#1793)
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/component_input_helpers.go
  components/kyma-environment-broker/internal/process/update/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/update/initialisation_step.go
  components/kyma-environment-broker/internal/process/update/upgrade_shoot_step.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/upgrade_cluster_step.go
  components/kyma-environment-broker/internal/provisioner/fake_client.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump kyma_environment_broker images to PR-1784
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Log basic properties of provisioner returned kubeconfig
  components/kyma-environment-broker/internal/process/deprovisioning/get_kubeconfig_step.go
  components/kyma-environment-broker/internal/process/provisioning/get_kubeconfig_step.go
  components/kyma-environment-broker/internal/process/update/get_kubeconfig_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/get_kubeconfig_step.go
Due: none

Remove rafter component from main e2e test template
  tools/reconciler/e2e-test/template-kyma-main.json
Due: none

Remove rafter component from main e2e test template (#1799)
  tools/reconciler/e2e-test/template-kyma-main.json
Due: none

bump k8s.io packages patch level
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-provisioner-whitesource-scan

add another replace for go-restful
  components/kyma-metrics-collector/go.mod
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-provisioner-whitesource-scan

bump image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add swagger to charts
  resources/kcp/charts/kyma-environment-broker/templates/authorization-policy.yaml
  resources/kcp/charts/kyma-environment-broker/templates/virtualservice-istio.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Remove depricated components from reconciler e2e test for kyma main
  tools/reconciler/e2e-test/template-kyma-main.json
Due: none

bugfix: delete non-existent ConfigMap during initialization (#1795)
  components/kubeconfig-service/pkg/runtime/runtime_kcp.go
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Remove depricated components from reconciler e2e test for kyma main (#1803)
  tools/reconciler/e2e-test/template-kyma-main.json
Due: none

Set istio as new security handler
  resources/kcp/charts/kyma-environment-broker/templates/authorization-policy.yaml
  resources/kcp/charts/kyma-environment-broker/templates/oathkeeper-rule.yaml
  resources/kcp/charts/kyma-environment-broker/templates/virtualservice-istio.yaml
  resources/kcp/charts/kyma-environment-broker/templates/virtualservice.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Remove ifs
  resources/kcp/charts/kyma-environment-broker/templates/authorization-policy.yaml
  resources/kcp/charts/kyma-environment-broker/templates/request-authentication.yaml
  resources/kcp/charts/kyma-environment-broker/templates/virtualservice.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Rearange VS
  resources/kcp/charts/kyma-environment-broker/templates/virtualservice.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Remove -
  resources/kcp/charts/kyma-environment-broker/templates/virtualservice.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Expose metrics to kcp-system
  resources/kcp/charts/kyma-environment-broker/templates/authorization-policy.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

remove oathkeeper leftovers
  resources/kcp/charts/kyma-environment-broker/templates/authorization-policy.yaml
  resources/kcp/values.yaml
  tools/cli/kubeconfig.yaml
  tools/cli/o.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts

remove oleftover
  tools/cli/kubeconfig.yaml
  tools/cli/o.yaml
Due: pre-main-kcp-cli

enable feature flag for reconciler debug logging (#1796)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add kyma-system to metrics
  resources/kcp/charts/kyma-environment-broker/templates/authorization-policy.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Allow access to metrics from whole cluster
  resources/kcp/charts/kyma-environment-broker/templates/authorization-policy.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix typo
  resources/kcp/charts/kyma-environment-broker/templates/authorization-policy.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

allow trafic to metrics
  resources/kcp/charts/kyma-environment-broker/templates/authorization-policy.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Traffic only internal
  resources/kcp/charts/kyma-environment-broker/templates/authorization-policy.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts
