Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

generate oapi
  components/reconciler/makefile
  components/reconciler/pkg/automock/client.go
  components/reconciler/pkg/client_gen.go
  components/reconciler/pkg/types_gen.go
Due: none

go mod tidy
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

regenerate oapi
  components/reconciler/makefile
  components/reconciler/pkg/automock/client.go
  components/reconciler/pkg/client_gen.go
  components/reconciler/pkg/types_gen.go
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

do
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

do (#1177)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Change operation description on successful update (#1162)
  components/kyma-environment-broker/internal/process/update/manager.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

add kwiatekus to the CODEOWNERS
  CODEOWNERS
Due: none

add kwiatekus to the CODEOWNERS (#1180)
  CODEOWNERS
Due: none

bump to 0b69711d
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

support multiple --operation for ops
  tools/cli/pkg/command/orchestration.go
  tools/cli/pkg/command/orchestration_test.go
Due: pre-main-kcp-cli

Bump KEB to PR-825
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add conditions to update queue
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/update/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/update/conditions.go
  components/kyma-environment-broker/internal/process/update/manager.go
  components/kyma-environment-broker/internal/process/update/manager_test.go
  components/kyma-environment-broker/internal/process/update/sc_migration.go
Due: none

Add storage to runtime version configurator
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion_test.go
Due: none

Refactor update queue to fetch last runtime_state and modify the payload
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/update/apply_reconciler_configuration.go
  components/kyma-environment-broker/internal/process/update/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/update/conditions.go
  components/kyma-environment-broker/internal/process/update/initialisation_step.go
  components/kyma-environment-broker/internal/process/update/manager.go
  components/kyma-environment-broker/internal/process/update/sc_migration.go
  components/kyma-environment-broker/internal/process/update/sc_migration_check_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/conditions.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion.go
  components/kyma-environment-broker/internal/storage/driver/memory/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
Due: none

Add migration trigger to payload and persist it in instance details
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/model.go
Due: none

Reject btp-operator migration for kyma 1.x
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
  components/kyma-environment-broker/internal/model.go
Due: none

Trigger reconciler updates only when required
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/update/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/update/conditions.go
  components/kyma-environment-broker/internal/process/update/sc_migration.go
  components/kyma-environment-broker/internal/process/update/sc_migration_check_step.go
Due: none

Get SKR kubeconfig for update operation
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/update/get_kubeconfig_step.go
  components/kyma-environment-broker/internal/process/update/initialisation_step.go
Due: none

Code cleanup
  components/kyma-environment-broker/internal/model.go
Due: none

Post rebase changes
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/conditions.go
Due: none

Get latest runtime_state with kyma version
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/process/update/init_kyma_step.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion.go
  components/kyma-environment-broker/internal/storage/driver/memory/runtime_state.go
  components/kyma-environment-broker/internal/storage/driver/postsql/runtime_state.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/postsql/factory.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
Due: none

Internal component helpers
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/component_input_helpers.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/sm_overrides.go
  components/kyma-environment-broker/internal/process/update/initialisation_step.go
  components/kyma-environment-broker/internal/process/update/sc_migration_check_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/btp_operator_overrides.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion.go
Due: none

Implement BTP operator overrides in RuntimeInput
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/sm_overrides.go
  components/kyma-environment-broker/internal/process/update/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/update/conditions.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/conditions.go
Due: none

SVCAT to BTP operator migration e2e test
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/testdata/additional-runtime-components.yaml
  components/kyma-environment-broker/cmd/broker/testdata/kyma-components.yaml
  components/kyma-environment-broker/cmd/broker/testdata/managed-runtime-components.yaml
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/process/provisioning/sm_overrides_test.go
  components/kyma-environment-broker/internal/process/update/initialisation_step_test.go
  components/kyma-environment-broker/internal/process/update/sc_migration_check_step.go
Due: none

Fetch BTPOperator cluster_id from SKR ConfigMap kyma-system/cluster-info
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/component_input_helpers.go
  components/kyma-environment-broker/internal/process/update/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/update/manager.go
  components/kyma-environment-broker/internal/process/update/sc_migration_check_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/btp_operator_overrides.go
Due: none

Fix reconciler components name
  components/kyma-environment-broker/cmd/broker/update_test.go
Due: none

Set kyma version and last operation in runtime stage
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/update/initialisation_step.go
  components/kyma-environment-broker/internal/process/update/initialisation_step_test.go
Due: none

Enhancements in reconciler update queue
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/update/conditions.go
Due: none

Fetch last 10 runtime states for getting kyma version
  components/kyma-environment-broker/internal/storage/driver/postsql/runtime_state.go
  components/kyma-environment-broker/internal/storage/postsql/factory.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
Due: none

Persist provisioning parameters in instance details
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/process/update/initialisation_step.go
Due: none

Rename BTP migration feature guard condition
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Reflect KEB update changes in unit tests
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step_test.go
Due: none

Disable SC Migration step for upgrade queue
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step.go
Due: none

Rename NewCheckSCMigrationDone to NewCheckReconcilerStatus
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/update/sc_migration_check_step.go
Due: none

Improve resiliency for migration update operations
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/process/update/init_kyma_step.go
  components/kyma-environment-broker/internal/process/update/initialisation_step.go
  components/kyma-environment-broker/internal/storage/driver/memory/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/runtime_state.go
  components/kyma-environment-broker/internal/storage/postsql/factory.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
Due: none

Protect the BTP Operator migration steps by feature flag
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
Due: none

Save cluster configuration in update operation
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/process/update/apply_reconciler_configuration.go
Due: none

Don't persist RequiresReconcilerUpdate in update operation db
  components/kyma-environment-broker/internal/model.go
Due: none

Reuse kyma version for update operation from previous processing of the operation
  components/kyma-environment-broker/internal/process/update/init_kyma_step.go
Due: none

Improve logging and visibility in KEB update queue
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/update/conditions.go
  components/kyma-environment-broker/internal/process/update/sc_migration_check_step.go
Due: none
