Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

change avs monitor naming convention on create (#804)
  components/kyma-environment-broker/internal/avs/model.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Rename gardener and skr metrics Refactor skr metrics Add unit tests for alerts
  components/kyma-metrics-collector/Makefile
  components/kyma-metrics-collector/pkg/gardener/commons/metrics.go
  components/kyma-metrics-collector/pkg/gardener/secret/client.go
  components/kyma-metrics-collector/pkg/gardener/secret/client_test.go
  components/kyma-metrics-collector/pkg/gardener/shoot/client.go
  components/kyma-metrics-collector/pkg/gardener/shoot/client_test.go
  components/kyma-metrics-collector/pkg/skr/commons/metrics.go
  components/kyma-metrics-collector/pkg/skr/node/client.go
  components/kyma-metrics-collector/pkg/skr/node/client_test.go
  components/kyma-metrics-collector/pkg/skr/pvc/client.go
  components/kyma-metrics-collector/pkg/skr/pvc/client_test.go
  components/kyma-metrics-collector/pkg/skr/svc/client.go
  components/kyma-metrics-collector/pkg/skr/svc/client_test.go
  resources/kcp/charts/kyma-metrics-collector/prometheus/alerts.yaml
  resources/kcp/charts/kyma-metrics-collector/prometheus/alerts_test.yaml
  resources/kcp/charts/kyma-metrics-collector/templates/prometheusrule.yaml
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Adjust Readme
  components/kyma-metrics-collector/README.md
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector

Fine tunings
  components/kyma-metrics-collector/pkg/edp/client.go
  components/kyma-metrics-collector/pkg/gardener/commons/metrics.go
  components/kyma-metrics-collector/pkg/gardener/secret/client.go
  components/kyma-metrics-collector/pkg/gardener/secret/client_test.go
  components/kyma-metrics-collector/pkg/gardener/shoot/client.go
  components/kyma-metrics-collector/pkg/gardener/shoot/client_test.go
  components/kyma-metrics-collector/pkg/skr/commons/metrics.go
  components/kyma-metrics-collector/pkg/skr/node/client.go
  components/kyma-metrics-collector/pkg/skr/node/client_test.go
  components/kyma-metrics-collector/pkg/skr/pvc/client.go
  components/kyma-metrics-collector/pkg/skr/pvc/client_test.go
  components/kyma-metrics-collector/pkg/skr/svc/client.go
  components/kyma-metrics-collector/pkg/skr/svc/client_test.go
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector

Apply suggestions from code review
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

Update docs/kyma-environment-broker/03-01-service-description.md
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

After review
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

Update KEB service description docs (#809)
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

Added versioning to E2E tests with new upgrade test template
  resources/kcp/charts/kyma-environment-broker/templates/tests/upg-tst-aws-prov.yaml
  tests/e2e/provisioning/test/e2e_upgrade_test.go
  tests/e2e/provisioning/test/test_suite.go
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests, post-control-plane-tests

Fine tunings
  resources/kcp/charts/kyma-metrics-collector/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Change Azure HA AutoscalerMax parameter in docs
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

Adjust AutoscalerMax.Maximum parameter for AWS HA plan
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/testdata/aws-ha-schema.json
Due: none

Add info about maximum value for AutoscalerMax
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

Add auto generate property to KEB plans schemas (#823)
  components/kyma-environment-broker/internal/broker/plans_schema.go
  components/kyma-environment-broker/internal/broker/testdata/aws-ha-schema.json
  components/kyma-environment-broker/internal/broker/testdata/aws-schema.json
  components/kyma-environment-broker/internal/broker/testdata/azure-ha-schema.json
  components/kyma-environment-broker/internal/broker/testdata/azure-lite-schema.json
  components/kyma-environment-broker/internal/broker/testdata/azure-schema.json
  components/kyma-environment-broker/internal/broker/testdata/azure-trial-schema.json
  components/kyma-environment-broker/internal/broker/testdata/free-aws-schema.json
  components/kyma-environment-broker/internal/broker/testdata/free-azure-schema.json
  components/kyma-environment-broker/internal/broker/testdata/gcp-schema.json
  components/kyma-environment-broker/internal/broker/testdata/openstack-schema.json
Due: none

More fine tunings
  components/kyma-metrics-collector/pkg/edp/client_test.go
  resources/kcp/charts/kyma-metrics-collector/prometheus/alerts.yaml
  resources/kcp/charts/kyma-metrics-collector/prometheus/alerts_test.yaml
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime_test.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime.go
Due: none

Define deprovisioning timeout in KEB
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/input/input.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix unused imports
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: none

Fix unittests
  components/kyma-environment-broker/internal/orchestration/manager/manager_test.go
Due: none

Add policy reading functionality
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/common/orchestration/ext.go
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster.go
Due: none

Add reschedule and initial planning logic
  components/kyma-environment-broker/common/orchestration/ext.go
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/manager_test.go
Due: none

Fix pod crash due to a unittest
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
Due: none

Fix format related requirements of Go
  components/kyma-environment-broker/common/orchestration/ext.go
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/manager_test.go
Due: none

Fix format on unittests
  components/kyma-environment-broker/internal/orchestration/manager/manager_test.go
Due: none

Fix calculating day difference logic
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: none

Move helper functions under common directory
  components/kyma-environment-broker/common/orchestration/ext.go
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: none

Metrics and Alerting for Metris (#667)
  components/kyma-metrics-collector/Makefile
  components/kyma-metrics-collector/README.md
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
  components/kyma-metrics-collector/pkg/edp/client.go
  components/kyma-metrics-collector/pkg/edp/client_test.go
  components/kyma-metrics-collector/pkg/edp/metrics.go
  components/kyma-metrics-collector/pkg/gardener/commons/metrics.go
  components/kyma-metrics-collector/pkg/gardener/secret/client.go
  components/kyma-metrics-collector/pkg/gardener/secret/client_test.go
  components/kyma-metrics-collector/pkg/gardener/shoot/client.go
  components/kyma-metrics-collector/pkg/gardener/shoot/client_test.go
  components/kyma-metrics-collector/pkg/keb/client.go
  components/kyma-metrics-collector/pkg/keb/client_test.go
  components/kyma-metrics-collector/pkg/keb/metrics.go
  components/kyma-metrics-collector/pkg/process/metrics.go
  components/kyma-metrics-collector/pkg/process/process.go
  components/kyma-metrics-collector/pkg/process/process_test.go
  components/kyma-metrics-collector/pkg/skr/commons/metrics.go
  components/kyma-metrics-collector/pkg/skr/node/client.go
  components/kyma-metrics-collector/pkg/skr/node/client_test.go
  components/kyma-metrics-collector/pkg/skr/pvc/client.go
  components/kyma-metrics-collector/pkg/skr/pvc/client_test.go
  components/kyma-metrics-collector/pkg/skr/svc/client.go
  components/kyma-metrics-collector/pkg/skr/svc/client_test.go
  resources/kcp/charts/kyma-metrics-collector/prometheus/alerts.yaml
  resources/kcp/charts/kyma-metrics-collector/prometheus/alerts_test.yaml
  resources/kcp/charts/kyma-metrics-collector/templates/_helpers.tpl
  resources/kcp/charts/kyma-metrics-collector/templates/prometheusrule.yaml
  resources/kcp/charts/kyma-metrics-collector/templates/service-monitor.yaml
  resources/kcp/charts/kyma-metrics-collector/values.yaml
  resources/kcp/values.yaml
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

Change Azure HA AutoscalerMax parameter in docs (#827)
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/testdata/aws-ha-schema.json
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

Define deprovisioning timeout in KEB (#828)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime_test.go
  components/kyma-environment-broker/internal/process/input/input.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Make default trial provider in KEB configurable
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Move freemium SKRs from production AVS group to trial AVS group
  components/kyma-environment-broker/internal/avs/internal_eval_assistant.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/process/provisioning/external_eval_step.go
Due: none

Bump KEB version
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Make default trial provider in KEB configurable (#829)
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add template for OIDC default vaules in KEB's ConfigMap
  resources/kcp/charts/kyma-environment-broker/templates/app-config.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Remove IssuerURL regexp validation
  components/kyma-environment-broker/internal/broker/instance_create.go
Due: none

Add OIDCConfigDTO with default values as argument to NewInputBuilderFactory()
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/process/input/builder_test.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/upgrade_cluster_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step_test.go
Due: none

Apply suggestions from code review
  docs/kyma-environment-broker/03-12-custom-oidc-configuration.md
Due: none
