Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum

Return NotFound on KEB instance get when instance is missing
  components/kyma-environment-broker/internal/broker/instance_get.go
  components/kyma-environment-broker/internal/broker/instance_get_test.go
Due: none

Check status of the operation in KEB instance GET
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/instance_get.go
  components/kyma-environment-broker/internal/broker/instance_get_test.go
Due: none

Bump KEB version to PR-753
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Return NotFound on KEB instance get when instance is missing (#753)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/instance_get.go
  components/kyma-environment-broker/internal/broker/instance_get_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

migration job fixes and db integration test
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/go.mod
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/job/migrator.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/job/migrator_db_integration_test.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/job/migrator_test.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/model/types.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/persistence/dbconnection/factory.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/persistence/dbconnection/read.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/persistence/dbconnection/write.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/testutils/uuid.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/util/pointers.go
Due: pre-main-provisioner-whitesource-scan

Refreshed CLI dependencies
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-main-provisioner-whitesource-scan

Removed Instance ID from operation response object as to it wont be containing the instance ID
  tools/cli/pkg/command/orchestration.go
Due: none

Update cluster
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/components/schema-migrator/migrations/provisioner/202131051400_oidc_config.down.sql
  components/provisioner/components/schema-migrator/migrations/provisioner/202131051400_oidc_config.up.sql
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
  components/schema-migrator/migrations/provisioner/202131051400_oidc_config.down.sql
  components/schema-migrator/migrations/provisioner/202131051400_oidc_config.up.sql
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

Fix
  components/provisioner/internal/provisioning/input_converter.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Example create cluster with oidc revert
  components/provisioner/internal/api/resolver.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bump schema migrator base alpine image
  components/schema-migrator/Dockerfile
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

wip
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Upgrase shoot
  components/provisioner/internal/model/gardener_config.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Fix tests
  components/provisioner/internal/api/resolver_integration_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bump schema migrator base alpine image (#773)
  components/schema-migrator/Dockerfile
  resources/kcp/values.yaml
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix tests
  components/provisioner/internal/api/resolver_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Updated Go deps
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-main-provisioner-whitesource-scan

Temp solution
  components/provisioner/internal/api/resolver_integration_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

gnostic v0.5.1
  tools/cli/go.mod
Due: pre-main-provisioner-whitesource-scan

Test
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/util/testkit/shoot.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Fox before review
  components/provisioner/internal/util/testkit/shoot.go
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Makefile for KEB should check go mod tidy for empty response
  components/kyma-environment-broker/Makefile
Due: none

Makefile for KEB should check go mod tidy for empty response (#774)
  components/kyma-environment-broker/Makefile
Due: none

Use stored provider in KEB deprovisioning
  components/kyma-environment-broker/common/hyperscaler/account_provider.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
Due: none

bump
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides.go
Due: none

Update KEB image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add possibility to specify overrides version
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides.go
  components/kyma-environment-broker/internal/runtimeoverrides/runtimeoverrides.go
Due: none

Restrict changing overrides ver for DEV env
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides.go
Due: none

change avs monitor naming convention on create
  components/kyma-environment-broker/internal/avs/model.go
Due: none

Test runtime provisioning with specified overrides
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix k8s.io/kube-openapi for old incompatible gnostic
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-main-provisioner-whitesource-scan

Added instanceID to cli (#758)
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/orchestration.go
Due: pre-main-provisioner-whitesource-scan

dockerfile and stuff
  tools/provisioner-tools/provider-config-migration-job/Dockerfile
  tools/provisioner-tools/provider-config-migration-job/Makefile
  tools/provisioner-tools/provider-config-migration-job/cmd/main.go
  tools/provisioner-tools/provider-config-migration-job/go.mod
  tools/provisioner-tools/provider-config-migration-job/go.sum
  tools/provisioner-tools/provider-config-migration-job/internal/job/migrator.go
  tools/provisioner-tools/provider-config-migration-job/internal/job/migrator_db_integration_test.go
  tools/provisioner-tools/provider-config-migration-job/internal/job/migrator_test.go
  tools/provisioner-tools/provider-config-migration-job/internal/model/types.go
  tools/provisioner-tools/provider-config-migration-job/internal/persistence/dbconnection/connection.go
  tools/provisioner-tools/provider-config-migration-job/internal/persistence/dbconnection/factory.go
  tools/provisioner-tools/provider-config-migration-job/internal/persistence/dbconnection/mocks/Factory.go
  tools/provisioner-tools/provider-config-migration-job/internal/persistence/dbconnection/mocks/ReadSession.go
  tools/provisioner-tools/provider-config-migration-job/internal/persistence/dbconnection/mocks/ReadWriteSession.go
  tools/provisioner-tools/provider-config-migration-job/internal/persistence/dbconnection/mocks/WriteSession.go
  tools/provisioner-tools/provider-config-migration-job/internal/persistence/dbconnection/mocks/WriteSessionWithinTransaction.go
  tools/provisioner-tools/provider-config-migration-job/internal/persistence/dbconnection/read.go
  tools/provisioner-tools/provider-config-migration-job/internal/persistence/dbconnection/write.go
  tools/provisioner-tools/provider-config-migration-job/internal/persistence/dberrors/types.go
  tools/provisioner-tools/provider-config-migration-job/internal/persistence/dberrors/types_test.go
  tools/provisioner-tools/provider-config-migration-job/internal/testutils/database.go
  tools/provisioner-tools/provider-config-migration-job/internal/testutils/uuid.go
  tools/provisioner-tools/provider-config-migration-job/internal/util/json.go
  tools/provisioner-tools/provider-config-migration-job/internal/util/pointers.go
Due: pre-main-provisioner-whitesource-scan

move to components and imports
  components/provider-config-migration-job/Dockerfile
  components/provider-config-migration-job/Makefile
  components/provider-config-migration-job/cmd/main.go
  components/provider-config-migration-job/go.mod
  components/provider-config-migration-job/go.sum
  components/provider-config-migration-job/internal/job/migrator.go
  components/provider-config-migration-job/internal/job/migrator_db_integration_test.go
  components/provider-config-migration-job/internal/job/migrator_test.go
  components/provider-config-migration-job/internal/model/types.go
  components/provider-config-migration-job/internal/persistence/dbconnection/connection.go
  components/provider-config-migration-job/internal/persistence/dbconnection/factory.go
  components/provider-config-migration-job/internal/persistence/dbconnection/mocks/Factory.go
  components/provider-config-migration-job/internal/persistence/dbconnection/mocks/ReadSession.go
  components/provider-config-migration-job/internal/persistence/dbconnection/mocks/ReadWriteSession.go
  components/provider-config-migration-job/internal/persistence/dbconnection/mocks/WriteSession.go
  components/provider-config-migration-job/internal/persistence/dbconnection/mocks/WriteSessionWithinTransaction.go
  components/provider-config-migration-job/internal/persistence/dbconnection/read.go
  components/provider-config-migration-job/internal/persistence/dbconnection/write.go
  components/provider-config-migration-job/internal/persistence/dberrors/types.go
  components/provider-config-migration-job/internal/persistence/dberrors/types_test.go
  components/provider-config-migration-job/internal/testutils/database.go
  components/provider-config-migration-job/internal/testutils/uuid.go
  components/provider-config-migration-job/internal/util/json.go
  components/provider-config-migration-job/internal/util/pointers.go
  tools/provisioner-tools/provider-config-migration-job/Dockerfile
Due: pre-main-provisioner-whitesource-scan

Use stored provider in KEB deprovisioning (#775)
  components/kyma-environment-broker/common/hyperscaler/account_provider.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Modified azure testdefinition based on the aws one
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts
