Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test, pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pull-kyma-metrics-collector-test, pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-control-plane-validate-dockerfiles, pre-main-kcp-cli, pre-main-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, pull-test-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests, pre-control-plane-validate-inrepo-prow-configs, pull-control-plane-pjconfigtest, pull-control-plane-pjtester, pull-control-plane-vpathguard

Path conditions:
  pull-kubeconfig-service-build: any of: ^components/kubeconfig-service
  post-kubeconfig-service-build: any of: ^components/kubeconfig-service
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pull-keb-build: any of: ^components/kyma-environment-broker
  pull-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  post-keb-build: any of: ^components/kyma-environment-broker
  post-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  pull-kyma-environment-broker-test: any of: ^components/kyma-environment-broker/|^scripts/
  pull-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  post-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  pull-kyma-metrics-collector-test: any of: ^components/kyma-metrics-collector/|^scripts/
  pull-provisioner-build: any of: ^components/provisioner
  post-provisioner-build: any of: ^components/provisioner
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pull-schema-migrator-build: any of: ^components/schema-migrator
  post-schema-migrator-build: any of: ^components/schema-migrator
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-control-plane-reconciler-e2e: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-e2e-latest-release: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-control-plane-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-kcp-cli: any of: ^tools/cli
  pre-main-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pull-test-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
  pre-control-plane-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-control-plane-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-control-plane-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-control-plane-vpathguard: any of: ^(vpath/pjtester.yaml)

Move display version change elsewhere
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

Bump golang imgs
  components/kyma-environment-broker/Dockerfile.job
  components/kyma-environment-broker/Dockerfile.keb
  tests/e2e/provisioning/Dockerfile
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test, pre-control-plane-validate-dockerfiles, pre-control-plane-tests-e2e-provisioning, pre-control-plane-tests, post-control-plane-tests

Revert changes in unittests
  components/kyma-environment-broker/cmd/broker/orchestration_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

Bump golang imgs (#2734)
  components/kyma-environment-broker/Dockerfile.job
  components/kyma-environment-broker/Dockerfile.keb
  tests/e2e/provisioning/Dockerfile
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test, pre-control-plane-validate-dockerfiles, pre-control-plane-tests-e2e-provisioning, pre-control-plane-tests, post-control-plane-tests

Bump KEB related images to the latest ver. (v20230509-34c5d99a)
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
  utils/kyma-environments-cleanup-job/kyma-environments-cleanup-job.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Revert issuerURL normalisation
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

reverts to DEV PR in order to see if it will help with duplication in the provisioner image URLs
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

reverts to DEV PR in order to see if it will help with duplication in the provisioner image URLs (#2737)
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

stoping using of deprecated field EnableBasicAuthentication from shoot
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bump KEB related images to the latest ver. (v20230509-34c5d99a) (#2735)
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
  utils/kyma-environments-cleanup-job/kyma-environments-cleanup-job.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

fixes template for the provioner image url
  resources/kcp/charts/provisioner/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

update of the repo path to correct one
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

modifies a comment just to trigger tests on a CI
  components/provisioner/cmd/main.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, post-control-plane-components-provisioner

adds quoatations where image URL is concatenated
  resources/kcp/charts/provisioner/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

fix of the image path
  resources/kcp/charts/provisioner/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

leave slash intact
  components/kyma-environment-broker/internal/process/input/input.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

fixes template for the provioner image url (#2739)
  components/provisioner/cmd/main.go
  resources/kcp/charts/provisioner/templates/deployment.yaml
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Revert issuerURL normalisation (#2736)
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

Revert issuerURL normalisation - KEB image bump
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

switches slash sign in provisioner template to unencoded version
  resources/kcp/charts/provisioner/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Revert issuerURL normalisation - KEB image bump (#2741)
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

switches slash sign in provisioner template to unencoded version (#2742)
  resources/kcp/charts/provisioner/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

test-remove
  README.md
Due: none

test-remove
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

get kyma version from template
  components/kyma-environment-broker/internal/process/provisioning/apply_kyma_step.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

empty line
  components/kyma-environment-broker/internal/process/provisioning/apply_kyma_step.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

Get kyma resource version from template (#2749)
  components/kyma-environment-broker/internal/process/provisioning/apply_kyma_step.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

bump KEB version
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

bump KEB version (#2750)
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

KEB jobs without authorization requirements
  components/kyma-environment-broker/internal/broker/client.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

test-remove
  tools/reconciler/e2e-test/template-kyma-main.json
Due: none

remove excessive logging
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

remove excessive logging (#2755)
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

Fix unittest without breaking logic
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, pull-kyma-environment-broker-test

restore tracing for reconciler tests
  tools/reconciler/e2e-test/template-kyma-main.json
Due: none

changing URL
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

changing URL (#2757)
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Bump KEB related images to the latest ver (v20230512-1e4cab22)
  resources/kcp/charts/kyma-environment-broker/values.yaml
  utils/kyma-environments-cleanup-job/kyma-environments-cleanup-job.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Bump KEB related images to the latest ver (v20230512-1e4cab22) (#2762)
  resources/kcp/charts/kyma-environment-broker/values.yaml
  utils/kyma-environments-cleanup-job/kyma-environments-cleanup-job.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Stoping using of deprecated field EnableBasicAuthentication from shoot (#2738)
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  resources/kcp/charts/provisioner/values.yaml
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts
