Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, post-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests, pre-control-plane-validate-inrepo-prow-configs

pull-kubeconfig-service-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-kubeconfig-service-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20221027-dce4769a4
  ...

post-kubeconfig-service-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kubeconfig-service-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20221027-dce4769a4
  ...

pre-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-kyma-kms-sign-key: 'true'
  ...

post-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-kyma-kms-sign-key: 'true'
  ...

pull-keb-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220926-52bb5a7f0
      command:
  ...

pull-keb-cleanup-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-cleanup-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220926-52bb5a7f0
      command:
  ...

pull-keb-subaccount-cleanup-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-subaccount-cleanup-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220926-52bb5a7f0
  ...

pull-keb-subscription-cleanup-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-subscription-cleanup-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220926-52bb5a7f0
  ...

Change the administrator binding label to something more appropriate (#2209)
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings.go
  resources/kcp/values.yaml
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

review
  components/kyma-environment-broker/internal/error/errors_test.go
  components/kyma-environment-broker/internal/error/temporary_error.go
  components/kyma-environment-broker/internal/ias/client.go
  components/kyma-environment-broker/internal/notification/client.go
  components/kyma-environment-broker/internal/orchestration/handlers/cluster_handler.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

Tracing events helper on operation struct in KEB (#2239)
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/staged_manager.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  components/kyma-environment-broker/internal/process/steps/kyma_template.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

wip
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

wip
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

wip
  components/kyma-environment-broker/internal/process/provisioning/apply_kyma_step.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

wip
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/internal/process/provisioning/apply_kyma_step.go
  components/kyma-environment-broker/internal/process/steps/kyma_template.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

Initialize kyma template in thhe operation
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/internal/process/provisioning/apply_kyma_step.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/steps/kyma_template.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

wip
  components/kyma-environment-broker/internal/process/provisioning/apply_kyma_step_test.go
  components/kyma-environment-broker/internal/process/steps/kyma_template_test.go
  components/kyma-environment-broker/internal/process/update/initialisation_step_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

wip
  components/kyma-environment-broker/internal/process/provisioning/apply_kyma_step_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

wip
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

wip
  components/kyma-environment-broker/internal/process/update/initialisation_step_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

wip
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

wip
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix for test
  components/kyma-environment-broker/internal/error/temporary_error.go
  components/kyma-environment-broker/internal/process/deprovisioning/release_subscription_step_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

Update Dockerfile
  components/kubeconfig-service/Dockerfile
Due: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service

fix typo Tempalate => Template
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/steps/kyma_template.go
  components/kyma-environment-broker/internal/process/steps/kyma_template_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

Initialize kyma template (#2250)
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/provisioning/apply_kyma_step.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/steps/kyma_template.go
  components/kyma-environment-broker/internal/process/steps/kyma_template_test.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix CVE-2022-32149
  components/kubeconfig-service/go.mod
  components/kubeconfig-service/go.sum
Due: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-main-provisioner-whitesource-scan

keb: rbac to manage secrets
  resources/kcp/charts/kyma-environment-broker/templates/rbac.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

keb: rbac to manage secrets (#2261)
  resources/kcp/charts/kyma-environment-broker/templates/rbac.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump kyma_environment_broker images to PR-2254
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

keb: hook legacy deprovisioning_duration_minutes metric to staged_manager
  components/kyma-environment-broker/internal/metrics/metrics.go
  components/kyma-environment-broker/internal/metrics/operation_duration.go
  components/kyma-environment-broker/internal/process/events.go
  components/kyma-environment-broker/internal/process/staged_manager.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

Hook legacy deprovisioning duration metric to staged manager (#2254)
  components/kyma-environment-broker/internal/metrics/metrics.go
  components/kyma-environment-broker/internal/metrics/operation_duration.go
  components/kyma-environment-broker/internal/process/events.go
  components/kyma-environment-broker/internal/process/staged_manager.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Enhance upgrade command to promt the user to continue (#2166)
  tools/cli/pkg/command/orchestration.go
  tools/cli/pkg/command/upgrade.go
  tools/cli/pkg/command/upgrade_cluster.go
  tools/cli/pkg/command/upgrade_kyma.go
Due: pre-main-kcp-cli

bump dependencies
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-provisioner-whitesource-scan

bump image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix CVE-2022-32149 (#2260)
  components/kubeconfig-service/go.mod
  components/kubeconfig-service/go.sum
Due: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-main-provisioner-whitesource-scan

keb: clusterrole to manage secrets in all namespaces
  resources/kcp/charts/kyma-environment-broker/templates/rbac.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bumping Reconciler:\n\nNo eu.gcr.io/kyma-project/incubator/reconciler/ changes.\n\n
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Move image definitions to subcharts
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/kyma-metrics-collector/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
  resources/kcp/charts/provisioner/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Move image definitions to subcharts (#2218)
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/kyma-metrics-collector/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
  resources/kcp/charts/provisioner/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump KEB img
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Refactor - move responsibility of getting KEB config for custom Kyma versions to ConfigMapReader
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/config/provider.go
  components/kyma-environment-broker/internal/config/provider_test.go
  components/kyma-environment-broker/internal/config/reader.go
  components/kyma-environment-broker/internal/config/reader_test.go
  components/kyma-environment-broker/internal/config/testdata/keb-config.yaml
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

Use default Kyma version for KEB config when custom version is passed
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/config/provider.go
  components/kyma-environment-broker/internal/config/provider_test.go
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build

Update docs
  docs/kyma-environment-broker/03-14-broker-configuration-for-given-version-and-plan.md
Due: none

KEB config defaults for missing custom Kyma version configs (#2251)
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/config/provider.go
  components/kyma-environment-broker/internal/config/provider_test.go
  components/kyma-environment-broker/internal/config/reader.go
  components/kyma-environment-broker/internal/config/reader_test.go
  components/kyma-environment-broker/internal/config/testdata/keb-config.yaml
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration_test.go
  docs/kyma-environment-broker/03-14-broker-configuration-for-given-version-and-plan.md
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-subscription-cleanup-job-build, pull-keb-trial-cleanup-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-subscription-cleanup-job-build, post-keb-trial-cleanup-job-build, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Path conditions:
  pull-kubeconfig-service-build: any of: ^components/kubeconfig-service
  post-kubeconfig-service-build: any of: ^components/kubeconfig-service
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pull-keb-build: any of: ^components/kyma-environment-broker
  pull-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-build: any of: ^components/kyma-environment-broker
  post-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pull-provisioner-build: any of: ^components/provisioner
  post-provisioner-build: any of: ^components/provisioner
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pull-schema-migrator-build: any of: ^components/schema-migrator
  post-schema-migrator-build: any of: ^components/schema-migrator
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
  pre-control-plane-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
