Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

pre-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-control-plane-components-kyma-metrics-collector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210601-24c60b5a
      securityContext:
        privileged: true
  ...

post-control-plane-components-kyma-metrics-collector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210601-24c60b5a
      securityContext:
        privileged: true
  ...

pre-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

pre-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

post-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

Makeshift check for valid autoscaler parameters in KEB (#958)
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/instance_get_test.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/process/input/automock/creator_for_plan.go
  components/kyma-environment-broker/internal/process/input/automock/disabled_components_provider.go
  components/kyma-environment-broker/internal/process/input/automock/hyperscaler_input_provider.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/component_list_provider.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/components_disabler.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/creator_for_plan.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/disabled_components_provider.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/hyperscaler_input_provider.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/optional_component_service.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/runtime_overrides_appender.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/runtime_version_configurator_for_upgrade.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/step_condition.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix monitoring steps
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
  components/kyma-environment-broker/internal/process/deprovisioning/monitoring_uninstall.go
  components/kyma-environment-broker/internal/process/provisioning/monitoring_integration.go
  components/kyma-environment-broker/internal/process/provisioning/monitoring_integration_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/monitoring_upgrade.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/monitoring_upgrade_test.go
Due: none

WIP: example for autogenerated swagger
  components/kyma-environment-broker/internal/broker/instance_create.go
Due: none

Fix tests, bump version
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

update chart (#963)
  resources/kcp/charts/component-reconcilers/templates/deployment.yaml
  resources/kcp/charts/mothership-reconciler/files/reconciler.yaml
  resources/kcp/charts/mothership-reconciler/templates/_helpers.tpl
  resources/kcp/charts/mothership-reconciler/templates/cr-configmap.yaml
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

don't fail deprovision ooperation in monitoring step
  components/kyma-environment-broker/internal/process/deprovisioning/monitoring_uninstall.go
Due: none

Fix monitoring steps (#964)
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
  components/kyma-environment-broker/internal/process/deprovisioning/monitoring_uninstall.go
  components/kyma-environment-broker/internal/process/provisioning/monitoring_integration.go
  components/kyma-environment-broker/internal/process/provisioning/monitoring_integration_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/monitoring_upgrade.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/monitoring_upgrade_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add feature flag for adding OIDC parameters in plans schemas
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/broker.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add OIDC params to UpdateProperties in schemas
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_schema.go
Due: none

Add OIDC params to ProvisioningProperties in schemas
  components/kyma-environment-broker/internal/appinfo/runtime_info.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_schema.go
  components/kyma-environment-broker/internal/broker/services.go
Due: none

Add oidc to controls order in schema
  components/kyma-environment-broker/internal/broker/plans.go
Due: none

Add new test cases for schemas with OIDC
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/testdata/aws-ha-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/aws-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/azure-ha-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/azure-lite-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/azure-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/azure-trial-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/free-aws-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/free-azure-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/gcp-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/openstack-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/update-aws-ha-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/update-aws-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-ha-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-lite-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-trial-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/update-free-aws-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/update-free-azure-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/update-gcp-schema-oidc.json
  components/kyma-environment-broker/internal/broker/testdata/update-openstack-schema-oidc.json
Due: none

Bump KEB img ver
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Adjust tests
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/services_test.go
Due: none

fix makefile curl
  components/mothership/makefile
Due: none

regenerate oapi client
  components/mothership/pkg/client_gen.go
  components/mothership/pkg/types_gen.go
Due: none

go mod tidy
  components/mothership/go.mod
  components/mothership/go.sum
Due: pre-main-provisioner-whitesource-scan

keb: default plan id from instance details for update when request doesn't pass any
  components/kyma-environment-broker/internal/broker/instance_update.go
Due: none

keb: default plan id from instance details for update when request doesn't pass any (#968)
  components/kyma-environment-broker/internal/broker/instance_update.go
Due: none

Bump kyma_environment_broker to PR-968
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump kyma_environment_broker to PR-968 (#969)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

keb changes for the custom domain support
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/input/builder_test.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
  components/kyma-environment-broker/internal/runtime/oidc_values.go
  components/kyma-environment-broker/internal/runtime/oidc_values_test.go
  components/kyma-environment-broker/internal/runtime/testdata/dns-values.yaml
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
  resources/kcp/charts/kyma-environment-broker/templates/app-config.yaml
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

disable m00g3n functions
  tools/cli/pkg/command/reconciliations.go
  tools/cli/pkg/command/reconciliations_test.go
Due: pre-main-kcp-cli

implement draft
  tools/cli/go.sum
  tools/cli/pkg/command/reconcilations_disable.go
  tools/cli/pkg/command/reconcilations_enable.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

provisioner changes for dns providers added
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

keb template updated
  resources/kcp/charts/kyma-environment-broker/templates/app-config.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Set global configs for inventory input
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/automock/provisioner_input_creator.go
  components/kyma-environment-broker/internal/process/provisioning/base_provision_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
Due: none

bump
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  components/kyma-environment-broker/internal/process/upgrade_kyma/simple_provisioner_input_creator_test.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
Due: none

wip
  components/kyma-environment-broker/internal/process/input/input_test.go
Due: none

Set global configs for inventory input (#967)
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/automock/provisioner_input_creator.go
  components/kyma-environment-broker/internal/process/provisioning/base_provision_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/simple_provisioner_input_creator_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

updated the test with NewInputBuilderFactory
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/update/upgrade_shoot_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/upgrade_cluster_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step_test.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
Due: none

regenerate client
  components/mothership/makefile
  components/mothership/pkg/client_gen.go
  components/mothership/pkg/types_gen.go
Due: none

enable commented code
  tools/cli/go.mod
  tools/cli/pkg/command/reconciliations.go
  tools/cli/pkg/command/reconciliations_test.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

add tests; update shole logic
  tools/cli/pkg/command/reconciliations.go
  tools/cli/pkg/command/reconciliations_disable.go
  tools/cli/pkg/command/reconciliations_disable_test.go
  tools/cli/pkg/command/reconciliations_enable.go
  tools/cli/pkg/command/reconciliations_enable_test.go
Due: pre-main-kcp-cli

added dns test data
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
Due: none

added the dns test data
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_without_kyma_test.go
Due: none

adjusted the test config shootname in config
  components/kyma-environment-broker/cmd/broker/broker_gotest.txt
  components/kyma-environment-broker/cmd/broker/suite_test.go
Due: none

adjusted the test config shootname in config
  components/kyma-environment-broker/cmd/broker/broker_gotest.txt
  components/kyma-environment-broker/internal/process/input/input_test.go
Due: none

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
