Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, post-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests, pre-control-plane-validate-inrepo-prow-configs

pre-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-kyma-kms-sign-key: 'true'
  ...

post-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-kyma-kms-sign-key: 'true'
  ...

pre-control-plane-components-kyma-metrics-collector:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-control-plane-components-kyma-metrics-collector
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-kyma-kms-sign-key: 'true'
  ...

post-control-plane-components-kyma-metrics-collector:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-control-plane-components-kyma-metrics-collector
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-kyma-kms-sign-key: 'true'
  ...

pre-control-plane-components-provisioner:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-control-plane-components-provisioner
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-kyma-kms-sign-key: 'true'
  ...

post-control-plane-components-provisioner:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-control-plane-components-provisioner
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-kyma-kms-sign-key: 'true'
  ...

pre-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

post-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

cli tools: non-repetitive definition of build targets
  tools/cli/Makefile
Due: pre-main-kcp-cli

cli tools: non-repetitive definition of build targets (#2065)
  tools/cli/Makefile
Due: pre-main-kcp-cli

Logging improved for trial cleanup job (#2064)
  components/kyma-environment-broker/cmd/trialcleanup/main.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Update docs
  docs/kyma-environment-broker/03-03-runtime-operations.md
Due: none

Update CODEOWNERS (#2061)
  CODEOWNERS
Due: none

bumping go & k8s version for kubeconfig-service
  components/kubeconfig-service/Dockerfile
  components/kubeconfig-service/go.mod
  components/kubeconfig-service/go.sum
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-main-provisioner-whitesource-scan

bumping version
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fixing cli dependencies
  tools/cli/go.mod
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

bumping go & k8s version for kubeconfig-service (#2068)
  components/kubeconfig-service/Dockerfile
  components/kubeconfig-service/go.mod
  components/kubeconfig-service/go.sum
  resources/oidc-kubeconfig-service/values.yaml
  tools/cli/go.mod
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

keb: aggregate error from operation manager when marking operation as failed
  components/kyma-environment-broker/internal/process/deprovisioning/check_runtime_removal_step_test.go
  components/kyma-environment-broker/internal/process/operation_manager.go
Due: none

Bump kyma_environment_broker images to PR-2069
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Aggregate error from operation manager when marking operation as failed (#2069)
  components/kyma-environment-broker/internal/process/deprovisioning/check_runtime_removal_step_test.go
  components/kyma-environment-broker/internal/process/operation_manager.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Use common staged manager
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/avs_evaluations.go
  components/kyma-environment-broker/internal/process/deprovisioning/btp_operator_cleanup.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/deregister_cluster.go
  components/kyma-environment-broker/internal/process/deprovisioning/edp_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/ias_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime.go
  components/kyma-environment-broker/internal/process/deprovisioning/utils.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/deprovisioning_suite_test.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/deprovisioning_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/deprovisioning_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/process/deprovisioning/avs_evaluations_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/btp_operator_cleanup_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/deregister_cluster_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/edp_deregistration_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ias_deregistration_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/init.go
  components/kyma-environment-broker/internal/process/deprovisioning/init_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_instance_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime_test.go
  components/kyma-environment-broker/internal/process/operation_manager.go
  components/kyma-environment-broker/internal/process/update/initialisation_step.go
  components/kyma-environment-broker/internal/storage/dberr/errors_test.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/deprovisioning_suite_test.go
  components/kyma-environment-broker/internal/process/operation_manager.go
Due: none

wip
  components/kyma-environment-broker/internal/appinfo/runtime_info_test.go
  components/kyma-environment-broker/internal/kubeconfig/handler_test.go
  components/kyma-environment-broker/internal/runtime/handler_test.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/suspension/handler_test.go
Due: none

bump
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime.go
Due: none

Use common staged manager (#2049)
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/deprovisioning_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/appinfo/runtime_info_test.go
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/kubeconfig/handler_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/avs_evaluations.go
  components/kyma-environment-broker/internal/process/deprovisioning/avs_evaluations_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/btp_operator_cleanup.go
  components/kyma-environment-broker/internal/process/deprovisioning/btp_operator_cleanup_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/deregister_cluster.go
  components/kyma-environment-broker/internal/process/deprovisioning/deregister_cluster_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/edp_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/edp_deregistration_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ias_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/ias_deregistration_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/init.go
  components/kyma-environment-broker/internal/process/deprovisioning/init_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_instance_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/utils.go
  components/kyma-environment-broker/internal/process/operation_manager.go
  components/kyma-environment-broker/internal/process/update/initialisation_step.go
  components/kyma-environment-broker/internal/runtime/handler_test.go
  components/kyma-environment-broker/internal/storage/dberr/errors_test.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/suspension/handler_test.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump kyma_environment_broker images to PR-2072
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

keb: revert operation manager to legacy error wrapping
  components/kyma-environment-broker/internal/process/operation_manager.go
Due: none

Revert KEB operation manager to legacy error wrapping (#2072)
  components/kyma-environment-broker/internal/process/operation_manager.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Provide kubeconfig for own cluster
  components/kyma-environment-broker/internal/kubeconfig/automock/kc_builder.go
  components/kyma-environment-broker/internal/kubeconfig/builder.go
  components/kyma-environment-broker/internal/kubeconfig/builder_test.go
  components/kyma-environment-broker/internal/kubeconfig/handler.go
  components/kyma-environment-broker/internal/kubeconfig/handler_test.go
Due: none

wip
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  components/kyma-environment-broker/internal/kubeconfig/handler_test.go
Due: none

Provide kubeconfig for own cluster (#2071)
  components/kyma-environment-broker/internal/kubeconfig/automock/kc_builder.go
  components/kyma-environment-broker/internal/kubeconfig/builder.go
  components/kyma-environment-broker/internal/kubeconfig/builder_test.go
  components/kyma-environment-broker/internal/kubeconfig/handler.go
  components/kyma-environment-broker/internal/kubeconfig/handler_test.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

REvert reconciler to valid image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

REvert reconciler to valid image (#2074)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix Remove runtime step
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime.go
Due: none

Fix Remove runtime step (#2075)
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix check removal step
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_runtime_removal_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_runtime_removal_step_test.go
Due: none

wip
  components/kyma-environment-broker/internal/process/deprovisioning/check_runtime_removal_step_test.go
Due: none

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
  pre-control-plane-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
