Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

Update reconciler to include nil state change fix
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Update reconciler to include nil state change fix (#1051)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add makefile for reconciler
  README.md
  tools/reconciler/Makefile
  tools/reconciler/reconciler.yaml
Due: none

Delete
  tools/reconciler/reconciler.yaml
Due: none

Improve
  README.md
Due: none

Improve
  resources/kcp/templates/migrator-job.yaml
  resources/kcp/values.yaml
  tools/reconciler/Makefile
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Include reconciler resource replace change
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Include reconciler resource replace change (#1054)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump kyma version to 1.24.8
  installation/resources/KYMA_VERSION
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Update codeowners
  CODEOWNERS
Due: none

Fix typos
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
Due: none

Add function for resolving override's value type for global overrides
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
Due: none

Add sorting to assertion when comparing arrays with overrides
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
Due: none

Remove TestDefinition from e2e tests - prov skr, trial, upg azure & upg tst aws prov
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-skr.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-suspension.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/upg-tst-aws-prov.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Update README.md
  README.md
Due: none

Bump KEB image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Remove TestDefinition from e2e tests - cleanups
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-free-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-ha-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-skr.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-suspension.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/upg-tst-aws-prov.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix boolean global overrides (#1057)
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix security issues by upgrading dependencies
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

Add makefile for reconciler (#1052)
  CODEOWNERS
  README.md
  resources/kcp/templates/migrator-job.yaml
  resources/kcp/values.yaml
  tools/reconciler/Makefile
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump kyma version to 1.24.8 (#1055)
  installation/resources/KYMA_VERSION
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump buildpack-golang-toolbox img i makefile
  components/kyma-environment-broker/Makefile
Due: none

Fix containerd security issue (#1053)
  components/kyma-environment-broker/Makefile
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

Change asia region for GCP
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/testdata/gcp-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/gcp-schema.json
  components/kyma-environment-broker/internal/provider/gcp_provider.go
Due: none

Change Asia region for GCP plan in KEB (#1061)
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/testdata/gcp-schema-additional-params.json
  components/kyma-environment-broker/internal/broker/testdata/gcp-schema.json
  components/kyma-environment-broker/internal/provider/gcp_provider.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Move test scripts for reconciler
  tools/reconciler/e2e-test/get-reconcile-status.sh
  tools/reconciler/e2e-test/reconcile-kyma.sh
  tools/reconciler/e2e-test/request-reconcile.sh
  tools/reconciler/e2e-test/template.json
Due: none

Request Email and OpenID scopes in oidc-login
  components/kubeconfig-service/pkg/transformer/kubeconfig.go
  components/kubeconfig-service/pkg/transformer/transformer_test.go
  components/kyma-environment-broker/internal/kubeconfig/builder_test.go
  components/kyma-environment-broker/internal/kubeconfig/kubeconfig.go
  resources/kcp/values.yaml
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Remove TestDefinition from e2e tests
  resources/kcp/charts/kyma-environment-broker/templates/tests-jobs/e2e-provisioning-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-jobs/e2e-provisioning-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-jobs/e2e-provisioning-free-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-jobs/e2e-provisioning-gcp.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-jobs/e2e-provisioning-ha-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-jobs/e2e-provisioning-skr.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-jobs/e2e-provisioning-suspension.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-jobs/e2e-upgrade-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-jobs/rbac.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-jobs/upg-tst-aws-prov.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Renaming folder with jobs and bringing TestDefinitions back
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-free-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-ha-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-skr.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-suspension.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/upg-tst-aws-prov.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Preserve pod-preset certs via custom reconciler
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Duplicating tests folder
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-free-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-gcp.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-ha-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-skr.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-suspension.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-upgrade-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/rbac.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/upg-tst-aws-prov.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Changing TestDefinition to Jobs
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-free-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-gcp.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-ha-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-skr.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-suspension.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-upgrade-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/upg-tst-aws-prov.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Changing config names in ha-aws-cleanup & free-aws-cleanup
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-free-aws.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests-new/e2e-provisioning-ha-aws.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Preserve pod-preset certs via custom reconciler (#1064)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Request Email and OpenID scopes in oidc-login (#1063)
  components/kubeconfig-service/pkg/transformer/kubeconfig.go
  components/kubeconfig-service/pkg/transformer/transformer_test.go
  components/kyma-environment-broker/internal/kubeconfig/builder_test.go
  components/kyma-environment-broker/internal/kubeconfig/kubeconfig.go
  resources/kcp/values.yaml
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Move test scripts for reconciler (#1065)
  tools/reconciler/e2e-test/get-reconcile-status.sh
  tools/reconciler/e2e-test/reconcile-kyma.sh
  tools/reconciler/e2e-test/request-reconcile.sh
  tools/reconciler/e2e-test/template.json
Due: none

bump mothership
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

change the rescheduleDelay to 0
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: none

updated the keb version
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts
