Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

pre-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-control-plane-components-kyma-metrics-collector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210601-24c60b5a
      securityContext:
        privileged: true
  ...

post-control-plane-components-kyma-metrics-collector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210601-24c60b5a
      securityContext:
        privileged: true
  ...

pre-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

pre-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

post-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

Bumping Reconciler (#1212)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Replacing fixed tables in tests with sql statements from schema migrator
  components/kyma-environment-broker/internal/cis/e2e/tests_utils.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
Due: none

Remove unneeded comments
  components/kyma-environment-broker/internal/cis/e2e/tests_utils.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
Due: none

Do not use dirty Secret Bindings
  components/kyma-environment-broker/common/hyperscaler/account_pool.go
  components/kyma-environment-broker/common/hyperscaler/account_pool_test.go
Due: none

Bump KEB
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Applying changes suggested in review
  components/kyma-environment-broker/internal/cis/e2e/tests_utils.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
Due: none

KEB DB tests use SQL statements defined in the schema migrator instead of test_utils (#1231)
  components/kyma-environment-broker/internal/cis/e2e/tests_utils.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
Due: none

Switch to AWS m5 machines (#1220)
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/provider/aws_provider.go
  docs/kyma-environment-broker/03-01-service-description.md
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

refactor the retry handler codes, add retrying ops to queue
  components/kyma-environment-broker/common/orchestration/automock/strategy.go
  components/kyma-environment-broker/common/orchestration/ext.go
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/internal/orchestration/handlers/cluster_retry.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_retry.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/retry.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
Due: none

pass goimports check
  components/kyma-environment-broker/internal/orchestration/handlers/cluster_retry.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_retry.go
Due: none

suspend subscription-cleanup-job until the delete bug is fixed
  resources/kcp/charts/kyma-environment-broker/templates/subscription-cleanup-job.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

workaround: disable dashboard-checker in e2e tests for kyma 2.0
  tests/e2e/provisioning/test/e2e_provisioning_test.go
  tests/e2e/provisioning/test/e2e_suspension_test.go
Due: pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests, post-control-plane-tests

Remove console approvers from OWNERS_ALIASES (#1227)
  OWNERS_ALIASES
Due: none

refactor the tests
  components/kyma-environment-broker/internal/orchestration/handlers/cluster_retry.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_retry.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
Due: none

Bump e2e_provisioning image version to PR-1235
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

use old version
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Extended Retry Timeout
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration.go
  components/kyma-environment-broker/internal/process/update/sc_migration_check_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/check_cluster_configuration.go
Due: none

use current
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

use old version (#1236)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

use old image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix format
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix format (#1239)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

update image tag
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

workaround: disable dashboard-checker in e2e tests for kyma 2.0 (#1235)
  resources/kcp/values.yaml
  tests/e2e/provisioning/test/e2e_provisioning_test.go
  tests/e2e/provisioning/test/e2e_suspension_test.go
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests, post-control-plane-tests

correct the state used before queuing the orchestration
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_retry.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
Due: none

allow -state retrying
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_retry.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: none

Bumping Reconciler
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  components/kyma-environment-broker/cmd/broker/suite_test.go
Due: none

wip
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration.go
Due: none

Delete cluster config on reconciliation timeoput
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration.go
  components/kyma-environment-broker/internal/reconciler/client.go
Due: none

wip
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bumping Reconciler (#1233)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Delete cluster config on reconciliation timeout (#1237)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration.go
  components/kyma-environment-broker/internal/reconciler/client.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Run Subscription Cleanup Job twice a day
  resources/kcp/charts/kyma-environment-broker/templates/subscription-cleanup-job.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Review Remarks
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_kyma_test.go
  components/kyma-environment-broker/internal/component_input_helpers.go
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/check_cluster_deregistration_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/deregister_cluster_test.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/base_provision_test.go
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration.go
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
  components/kyma-environment-broker/internal/process/update/apply_reconciler_configuration.go
  components/kyma-environment-broker/internal/process/update/btp_operator_overrides.go
  components/kyma-environment-broker/internal/process/update/manager.go
  components/kyma-environment-broker/internal/process/update/sc_migration.go
  components/kyma-environment-broker/internal/process/update/sc_migration_check_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/apply_cluster_configuration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/check_cluster_configuration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/simple_provisioner_input_creator_test.go
  components/kyma-environment-broker/internal/reconciler/client.go
  components/kyma-environment-broker/internal/reconciler/client_test.go
  components/kyma-environment-broker/internal/reconciler/contract.go
  components/kyma-environment-broker/internal/reconciler/fake.go
  components/kyma-environment-broker/internal/storage/driver/memory/runtime_state_test.go
  components/kyma-environment-broker/internal/storage/driver/postsql/runtime_state.go
  components/kyma-environment-broker/internal/storage/driver/postsql/runtimestate_test.go
Due: none

Review Remarks
  components/kyma-environment-broker/internal/process/provisioning/check_cluster_configuration.go
  components/kyma-environment-broker/internal/process/update/sc_migration_check_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/check_cluster_configuration.go
Due: none

Review Remarks
  components/kyma-environment-broker/internal/reconciler/client.go
Due: none

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
