Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-provisioner-integration-tests, pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-control-plane-validate-dockerfiles, pre-main-kcp-cli, pre-main-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build, pull-control-plane-checkconfig, pull-control-plane-pjconfigtest, pull-control-plane-pjtester, pull-control-plane-vpathguard

Path conditions:
  pull-kubeconfig-service-build: any of: ^components/kubeconfig-service
  post-kubeconfig-service-build: any of: ^components/kubeconfig-service
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pull-keb-build: any of: ^components/kyma-environment-broker
  pull-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  pull-keb-runtime-reconciler-job-build: any of: ^components/kyma-environment-broker
  post-keb-build: any of: ^components/kyma-environment-broker
  post-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  post-keb-runtime-reconciler-job-build: any of: ^components/kyma-environment-broker
  pre-control-plane-components-kyma-environment-broker: any of: ^components/kyma-environment-broker/|^scripts/
  pull-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  post-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pull-provisioner-build: any of: ^components/provisioner
  post-provisioner-build: any of: ^components/provisioner
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-main-provisioner-integration-tests: any of: components/provisioner/((go.mod|go.sum)$|/(.*.go|Makefile|Dockerfile|.*.sh))
  pull-schema-migrator-build: any of: ^components/schema-migrator
  post-schema-migrator-build: any of: ^components/schema-migrator
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-control-plane-reconciler-e2e: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-e2e-latest-release: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-control-plane-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-kcp-cli: any of: ^tools/cli|^components
  pre-main-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
  pull-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-control-plane-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-control-plane-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-control-plane-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-control-plane-vpathguard: any of: ^(vpath/pjtester.yaml)

document a follow-up in the code for cids fields storage in provisioner database
  components/provisioner/pkg/gqlschema/schema.graphql
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Adds option VMServiceScrape generation
  resources/kcp/charts/component-reconcilers/templates/service-monitor.yaml
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/kyma-environment-broker/templates/service-monitor.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/charts/kyma-metrics-collector/templates/service-monitor.yaml
  resources/kcp/charts/kyma-metrics-collector/templates/service.yaml
  resources/kcp/charts/kyma-metrics-collector/values.yaml
  resources/kcp/charts/mothership-reconciler/templates/service-monitor.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
  resources/kcp/charts/provisioner/templates/service-monitor.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

document a follow-up in the code for cids fields storage in provisioner database (#3039)
  components/provisioner/pkg/gqlschema/schema.graphql
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Render env-var for skipped components (#3034)
  resources/kcp/charts/component-reconcilers/templates/deployment.yaml
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

go mod tidy
  components/kyma-environment-broker/go.mod
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pre-main-provisioner-whitesource-scan, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

Add new fields in structs
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/avs/config.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

Add object in ConfigMap to store GA IDs
  resources/kcp/charts/kyma-environment-broker/templates/app-config.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Fix read GA IDs from YAML and add unit test
  components/kyma-environment-broker/internal/avs/config.go
  components/kyma-environment-broker/internal/avs/config_test.go
  components/kyma-environment-broker/internal/avs/testdata/avs_maintenance_mode_always_disabled_ga_ids.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

Add AvS maintenance mode config in chart template
  resources/kcp/charts/kyma-environment-broker/templates/app-config.yaml
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Add test cases in upgrade_kyma init step
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

Add test case for setting AvS evals statuses to maintenance during upgrade cluster op
  components/kyma-environment-broker/internal/process/upgrade_cluster/initialisation_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

Add checks before applying AvS maintenance status
  components/kyma-environment-broker/internal/process/upgrade_cluster/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/avs_maintenance.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/check_cluster_configuration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

Add method to check if maintenance mode is applicable for given GA ID
  components/kyma-environment-broker/internal/avs/evaluation_manager.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

Add method to read GA IDs
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/avs/config.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

Add avs maintenance settings in values.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Add tests cases for keeping AvS evals statuses active
  components/kyma-environment-broker/internal/process/upgrade_cluster/initialisation_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

Fix default for AvS maintenance mode always disabled GA IDs
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Fix KEB ConfigMap template
  resources/kcp/charts/kyma-environment-broker/templates/app-config.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

KEB AvS Maintenance Mode config (#3028)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/internal/avs/config.go
  components/kyma-environment-broker/internal/avs/config_test.go
  components/kyma-environment-broker/internal/avs/evaluation_manager.go
  components/kyma-environment-broker/internal/avs/testdata/avs_maintenance_mode_always_disabled_ga_ids.yaml
  components/kyma-environment-broker/internal/process/upgrade_cluster/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/initialisation_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/avs_maintenance.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/check_cluster_configuration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  resources/kcp/charts/kyma-environment-broker/templates/app-config.yaml
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-main-kcp-development-artifacts, pre-main-provisioner-whitesource-scan, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

Adds option VMServiceScrape generation (#3040)
  resources/kcp/charts/component-reconcilers/templates/service-monitor.yaml
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/kyma-environment-broker/templates/service-monitor.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/charts/kyma-metrics-collector/templates/service-monitor.yaml
  resources/kcp/charts/kyma-metrics-collector/templates/service.yaml
  resources/kcp/charts/kyma-metrics-collector/values.yaml
  resources/kcp/charts/mothership-reconciler/templates/service-monitor.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
  resources/kcp/charts/provisioner/templates/service-monitor.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Bump dependabot PRs
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
  tools/reconciler/body.json
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Started implementing dynamic kubeconfig rotation
  components/cluster-inventory/internal/controller/cluster_controller_test.go
Due: pre-main-kcp-cli

mod vendor
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Remove added file
  tools/reconciler/body.json
Due: none

Unit test fix
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Bump KEB imgs to the latest ver. v20230901-053636e6
  resources/kcp/charts/kyma-environment-broker/values.yaml
  utils/kyma-environments-cleanup-job/kyma-environments-cleanup-job.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Bump KEB imgs to the latest ver. v20230901-053636e6 (#3043)
  resources/kcp/charts/kyma-environment-broker/values.yaml
  utils/kyma-environments-cleanup-job/kyma-environments-cleanup-job.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Rotation test refactored
  components/cluster-inventory/internal/controller/cluster_controller.go
  components/cluster-inventory/internal/controller/cluster_controller_test.go
Due: pre-main-kcp-cli

Secret rotation and deletion implemented
  components/cluster-inventory/PROJECT
  components/cluster-inventory/api/v1beta1/cluster_types.go
  components/cluster-inventory/api/v1beta1/zz_generated.deepcopy.go
  components/cluster-inventory/config/crd/bases/clusterinventory.kyma-project.io_clusters.yaml
  components/cluster-inventory/internal/controller/cluster_controller.go
  components/cluster-inventory/internal/controller/cluster_controller_test.go
  components/cluster-inventory/internal/controller/suite_test.go
Due: pre-main-kcp-cli

Minor cleanup
  components/cluster-inventory/PROJECT
  components/cluster-inventory/internal/controller/cluster_controller.go
Due: pre-main-kcp-cli

Cluster CRD is cluster scoped
  components/cluster-inventory/PROJECT
  components/cluster-inventory/api/v1beta1/cluster_types.go
  components/cluster-inventory/config/crd/bases/clusterinventory.kyma-project.io_clusters.yaml
Due: pre-main-kcp-cli

wip
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-main-kcp-development-artifacts, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

Sample of cluster CR prepared
  components/cluster-inventory/config/samples/clusterinventory_v1beta1_cluster.yaml
Due: pre-main-kcp-cli

update provisioner image to v20230830-022128f8 prod
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

update provisioner image to v20230830-022128f8 prod (#3046)
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

wip
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

Adjust the diagram to the content guidelines (#3036)
  docs/kyma-environment-broker/02-01-architecture.md
  docs/kyma-environment-broker/assets/keb-arch.drawio
  docs/kyma-environment-broker/assets/keb-arch.svg
Due: none

max Ip range suffix 24
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/provider/aws_provider.go
  components/kyma-environment-broker/internal/provider/aws_provider_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build

wip
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/provider/aws_provider.go
  components/kyma-environment-broker/internal/provider/aws_provider_test.go
Due: pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-main-kcp-cli, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build
