Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, post-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests, pre-control-plane-validate-inrepo-prow-configs

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
  pre-control-plane-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)

Bumping Reconciler:\n\nNo eu.gcr.io/kyma-project/incubator/reconciler/ changes.\n\n
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix
  components/kyma-environment-broker/internal/broker/instance_update.go
Due: none

Consume expired
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
  components/kyma-environment-broker/internal/dto.go
Due: none

wip
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
Due: none

bump
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  components/kyma-environment-broker/internal/broker/instance_update.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/broker/instance_update.go
Due: none

Test PR
  tools/cli/pkg/command/runtime.go
Due: pre-main-kcp-cli

Test PR
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Bumping Reconciler:\n\nNo eu.gcr.io/kyma-project/incubator/reconciler/ changes.\n\n (#1943)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

multi-zone feature flag, omit autoscaler params during cluster upgrade
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_kyma_test.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/input/builder_test.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/upgrade_cluster_step_test.go
  components/kyma-environment-broker/internal/provider/aws_provider.go
  components/kyma-environment-broker/internal/provider/aws_provider_test.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/azure_provider_test.go
  components/kyma-environment-broker/internal/provider/gcp_provider.go
  components/kyma-environment-broker/internal/provider/gcp_provider_test.go
  docs/kyma-environment-broker/03-01-service-description.md
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Consume expired (#1922)
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
  components/kyma-environment-broker/internal/dto.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add deprovision command to kcp cli (#1692)
  tools/cli/pkg/command/deprovision.go
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/root.go
Due: pre-main-kcp-cli

wip
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Allow to expire failed instsances (#1945)
  components/kyma-environment-broker/internal/broker/instance_update.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Extracted Halting
  components/kyma-environment-broker/cmd/environmentscleanup/main.go
  components/schema-migrator/main.go
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

Fix update endpoint error handling
  components/kyma-environment-broker/internal/broker/instance_update.go
Due: none

ibump
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Changed Schema Migrator Module Declaration Path
  components/schema-migrator/go.mod
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-provisioner-whitesource-scan

Fix update endpoint, error must not be null
  components/kyma-environment-broker/internal/broker/instance_update.go
Due: none

Fix update endpoint, error must not be null (#1950)
  components/kyma-environment-broker/internal/broker/instance_update.go
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Changed Schema Migrator Module Declaration Path (#1949)
  components/schema-migrator/go.mod
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-provisioner-whitesource-scan

Run go mod vendor and tidy
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Configurable interval for expiration evaluation (#1937)
  components/kyma-environment-broker/cmd/trialcleanup/main.go
  resources/kcp/charts/kyma-environment-broker/templates/trial-cleanup-job.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Correcting All Places where GCloudSql/Istio Halted
  components/kyma-environment-broker/cmd/accountcleanup/main.go
  components/kyma-environment-broker/cmd/environmentscleanup/main.go
  components/kyma-environment-broker/cmd/trialcleanup/main.go
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
  components/schema-migrator/go.mod
  components/schema-migrator/main.go
  resources/kcp/charts/kyma-environment-broker/templates/environments-cleanup-job.yaml
  resources/kcp/charts/kyma-environment-broker/templates/subaccount-cleanup-job.yaml
  resources/kcp/charts/kyma-environment-broker/templates/trial-cleanup-job.yaml
  resources/kcp/templates/migrator-job.yaml
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

improve orchestration retry cmd
  components/kyma-environment-broker/common/orchestration/client_test.go
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/internal/orchestration/handlers/cluster_retry.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_retry.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
  components/kyma-environment-broker/internal/storage/dbmodel/operation.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
  tools/cli/pkg/command/orchestration.go
  tools/cli/pkg/command/orchestration_test.go
Due: pre-main-kcp-cli

update test cases
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
Due: none

updated o.description
  components/kyma-environment-broker/internal/orchestration/handlers/cluster_retry.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: none

Add prompting on cancel and retry operations on kcp cli (#1863)
  tools/cli/pkg/command/orchestration.go
Due: pre-main-kcp-cli

Typo Correction
  components/kyma-environment-broker/cmd/trialcleanup/main.go
Due: none

fix unit testcase
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/internal/orchestration/handlers/cluster_retry.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
Due: none

setting expiration period in hours
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

values updated with pr reference
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

reverted values updated with pr reference
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts
