Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

disable reco components by default
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add reconciler to control-plane (#945)
  resources/kcp/charts/component-reconcilers/Chart.yaml
  resources/kcp/charts/component-reconcilers/templates/deployment.yaml
  resources/kcp/charts/component-reconcilers/templates/rbac.yaml
  resources/kcp/charts/component-reconcilers/templates/service.yaml
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/.helmignore
  resources/kcp/charts/mothership-reconciler/Chart.yaml
  resources/kcp/charts/mothership-reconciler/files/reconciler.yaml
  resources/kcp/charts/mothership-reconciler/templates/_helpers.tpl
  resources/kcp/charts/mothership-reconciler/templates/cr-configmap.yaml
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
  resources/kcp/charts/mothership-reconciler/templates/mr-encryption-key-secret.yaml
  resources/kcp/charts/mothership-reconciler/templates/mr-secret.yaml
  resources/kcp/charts/mothership-reconciler/templates/service.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
  resources/kcp/requirements.yaml
  resources/kcp/values.yaml
  tools/kcp-installer/kcp.Dockerfile
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Document KEB update parameters
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

bump alpine to eu.gcr.io/kyma-project/external/alpine:3.14.2
  components/kubeconfig-service/Dockerfile
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service

bump alpine to eu.gcr.io/kyma-project/external/alpine:3.14.2 (#948)
  components/kubeconfig-service/Dockerfile
Due: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service

Update docs/kyma-environment-broker/03-01-service-description.md
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

Document KEB update parameters (#947)
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

reverted back model_gen
  components/provisioner/pkg/gqlschema/models_gen.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

fix reco images
  resources/kcp/charts/component-reconcilers/templates/deployment.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

keb: unit tests for update plans schema
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/testdata/update-aws-ha-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-aws-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-ha-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-lite-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-trial-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-free-aws-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-free-azure-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-gcp-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-openstack-schema.json
Due: none

fix reco images (#949)
  resources/kcp/charts/component-reconcilers/templates/deployment.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix reco args
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix reco args (#951)
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix secret key
  resources/kcp/charts/mothership-reconciler/templates/mr-encryption-key-secret.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix secret key (#952)
  resources/kcp/charts/mothership-reconciler/templates/mr-encryption-key-secret.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix postres secret
  resources/kcp/charts/mothership-reconciler/files/reconciler.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

fix postres secret (#954)
  resources/kcp/charts/mothership-reconciler/files/reconciler.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

update kubeconfig-service image after alpine bump
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Remove code for governor PoC
  docs/internal/investigations/runtime-governor-poc/runtime/component/.gitignore
  docs/internal/investigations/runtime-governor-poc/runtime/component/Dockerfile
  docs/internal/investigations/runtime-governor-poc/runtime/component/cmd/main.go
  docs/internal/investigations/runtime-governor-poc/runtime/component/deploy.sh
  docs/internal/investigations/runtime-governor-poc/runtime/component/go.mod
  docs/internal/investigations/runtime-governor-poc/runtime/component/go.sum
  docs/internal/investigations/runtime-governor-poc/runtime/component/internal/dapr/client.go
  docs/internal/investigations/runtime-governor-poc/runtime/component/internal/kcp/client.go
Due: pre-main-provisioner-whitesource-scan

cleanup indentation of graphqlizer templates
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
Due: none

add exposureClassName to graphqlizer
  components/kyma-environment-broker/internal/provider/openstack_provider.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
Due: none

fix json indentation in graphqlizer tests
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
Due: none

fix indentation of graphqlizer openstack template
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
Due: none

Add exposure class name to graphqlizer (#953)
  components/kyma-environment-broker/internal/provider/openstack_provider.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
Due: none

set keb value
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

keb: unit tests for update plans schema (#950)
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/testdata/update-aws-ha-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-aws-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-ha-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-lite-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-azure-trial-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-free-aws-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-free-azure-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-gcp-schema.json
  components/kyma-environment-broker/internal/broker/testdata/update-openstack-schema.json
Due: none

set keb value (#957)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

update kubeconfig-service image after alpine bump (#955)
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump kyma_environment_broker to PR-958
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

keb: makeshift check for valid autoscaler parameters
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/fixture/fixture.go
Due: none

Remove code for governor PoC (#956)
  docs/internal/investigations/runtime-governor-poc/runtime/component/.gitignore
  docs/internal/investigations/runtime-governor-poc/runtime/component/Dockerfile
  docs/internal/investigations/runtime-governor-poc/runtime/component/cmd/main.go
  docs/internal/investigations/runtime-governor-poc/runtime/component/deploy.sh
  docs/internal/investigations/runtime-governor-poc/runtime/component/go.mod
  docs/internal/investigations/runtime-governor-poc/runtime/component/go.sum
  docs/internal/investigations/runtime-governor-poc/runtime/component/internal/dapr/client.go
  docs/internal/investigations/runtime-governor-poc/runtime/component/internal/kcp/client.go
Due: pre-main-provisioner-whitesource-scan

upgrade chart
  resources/kcp/charts/mothership-reconciler/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

upgrade reco images
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

update codeowners
  CODEOWNERS
Due: none

update codeowners v2
  CODEOWNERS
Due: none

Let Reconciler Team take control over their charts (#960)
  CODEOWNERS
Due: none

Rename istio prereq to istio-configuration (#959)
  resources/kcp/charts/mothership-reconciler/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

[gen] mockery KEB CreatorForPlan
  components/kyma-environment-broker/internal/process/input/automock/creator_for_plan.go
  components/kyma-environment-broker/internal/process/input/automock/disabled_components_provider.go
  components/kyma-environment-broker/internal/process/input/automock/hyperscaler_input_provider.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/component_list_provider.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/components_disabler.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/creator_for_plan.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/disabled_components_provider.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/hyperscaler_input_provider.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/optional_component_service.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/runtime_overrides_appender.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/runtime_version_configurator_for_upgrade.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/step_condition.go
Due: none

keb: add plan defaults to KEB entrypoint
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/instance_get_test.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/process/input/builder.go
Due: none

update chart
  resources/kcp/charts/component-reconcilers/templates/deployment.yaml
  resources/kcp/charts/mothership-reconciler/files/reconciler.yaml
  resources/kcp/charts/mothership-reconciler/templates/_helpers.tpl
  resources/kcp/charts/mothership-reconciler/templates/cr-configmap.yaml
  resources/kcp/charts/mothership-reconciler/templates/deployment.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts
