Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

pre-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-control-plane: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-control-plane-components-kyma-metrics-collector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210601-24c60b5a
      securityContext:
        privileged: true
  ...

post-control-plane-components-kyma-metrics-collector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210601-24c60b5a
      securityContext:
        privileged: true
  ...

pre-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

pre-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

post-control-plane-components-schema-migrator:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      securityContext:
        privileged: true
  ...

Update k8s versions in the tests
  components/provisioner/internal/api/resolver_integration_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bumping Reconciler
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Replace k8s versions in the tests even more
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/validator_test.go
  components/provisioner/internal/provisioning/input_converter_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Do it again but even even more
  components/provisioner/internal/provisioning/input_converter_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bumping Reconciler (#1548)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Libraries Updates
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
Due: pre-main-provisioner-whitesource-scan

Updated Go Mod
  components/kyma-environment-broker/go.mod
Due: pre-main-provisioner-whitesource-scan

Dependencies Upgrades
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
Due: pre-main-provisioner-whitesource-scan

K8S Client Update
  components/kyma-environment-broker/go.mod
Due: pre-main-provisioner-whitesource-scan

Inject env vars to component reconciler from chart values
  resources/kcp/charts/component-reconcilers/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix for problem with querying shoots by secret binding name
  resources/kcp/charts/component-reconcilers/charts/connectivity-proxy/Chart.yaml
  resources/kcp/charts/component-reconcilers/charts/connectivity-proxy/templates/deployment.yaml
  resources/kcp/charts/component-reconcilers/charts/connectivity-proxy/templates/rbac.yaml
  resources/kcp/charts/component-reconcilers/charts/connectivity-proxy/templates/service.yaml
  resources/kcp/charts/component-reconcilers/charts/connectivity-proxy/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Revert changes
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

align values.yaml file with PR
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix in deployment
  resources/kcp/charts/component-reconcilers/charts/connectivity-proxy/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Deployment fix
  resources/kcp/charts/component-reconcilers/charts/connectivity-proxy/templates/deployment.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

initial done
  components/kyma-environment-broker/internal/metrics/operation_result.go
  components/kyma-environment-broker/internal/process/deprovisioning/manager.go
  components/provisioner/internal/installation/resource_cleanup.go
  components/provisioner/internal/operations/executor_test.go
  components/provisioner/internal/operations/stages/deprovisioning/wait_for_cluster_deletion_test.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Update go-version version
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

wip
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/last_operation_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/orchestration_test.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_kyma_test.go
  components/kyma-environment-broker/common/orchestration/ext.go
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/check_cluster_configuration.go
  components/kyma-environment-broker/internal/reconciler/fake.go
Due: none

Do not call Provisioner in case of svcat migration
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/update_test.go
Due: none

Compare the k8s versions correctly in Provisioner (#1573)
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/validator_test.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/service.go
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

Zone may be ommited now
  components/provisioner/internal/model/infrastructure/azure/infrastructure.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Zone may be ommited now
  components/provisioner/internal/model/infrastructure.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

provisioner changes for error categorization
  components/provisioner/internal/apperrors/apperrors.go
  components/provisioner/internal/director/directorclient.go
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/resource_cleanup.go
  components/provisioner/internal/operations/executor.go
  components/provisioner/internal/operations/executor_test.go
  components/provisioner/internal/operations/stages/deprovisioning/cleanup_cluster.go
  components/provisioner/internal/operations/stages/deprovisioning/cleanup_cluster_test.go
  components/provisioner/internal/operations/stages/deprovisioning/delete_cluster.go
  components/provisioner/internal/operations/stages/deprovisioning/delete_cluster_test.go
  components/provisioner/internal/operations/stages/deprovisioning/trigger_kyma_uninstall.go
  components/provisioner/internal/operations/stages/deprovisioning/trigger_kyma_uninstall_test.go
  components/provisioner/internal/operations/stages/deprovisioning/wait_for_cluster_deletion.go
  components/provisioner/internal/operations/stages/deprovisioning/wait_for_cluster_deletion_test.go
  components/provisioner/internal/operations/stages/provisioning/install_kyma.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

update provisioner version
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix test
  components/provisioner/internal/model/gardener_config_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

point to the provisioner version with the changes before #1581 is merged
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

wip
  components/kyma-environment-broker/cmd/broker/upgrade_kyma_test.go
Due: none

wip
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Do not call Provisioner in case of svcat migration (#1580)
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/cmd/broker/upgrade_kyma_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Packages Upgrade
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
Due: pre-main-provisioner-whitesource-scan

go.sum updated
  components/kyma-environment-broker/go.sum
Due: pre-main-provisioner-whitesource-scan

Use dynamic interface for gardener api
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/taskrun.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

wip
  tools/cli/pkg/command/taskrun.go
Due: pre-main-kcp-cli

bump go-mod
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-main-provisioner-whitesource-scan

bump img
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Use dynamic interface for gardener api (#1584)
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/taskrun.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Fix ERS switch command
  tools/cli/pkg/ers/client/client.go
  tools/cli/pkg/ers/client/http.go
  tools/cli/pkg/ers/command/broker.go
Due: pre-main-kcp-cli

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
