Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-new-kyma-environment-broker, pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-provisioner-integration-tests, pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-control-plane-validate-dockerfiles, pre-main-kcp-cli, pre-main-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build, pull-control-plane-checkconfig, pull-control-plane-pjconfigtest, pull-control-plane-pjtester, pull-control-plane-vpathguard

Path conditions:
  pull-kubeconfig-service-build: any of: ^components/kubeconfig-service
  post-kubeconfig-service-build: any of: ^components/kubeconfig-service
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pull-keb-build: any of: ^components/kyma-environment-broker
  pull-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  pull-keb-runtime-reconciler-job-build: any of: ^components/kyma-environment-broker
  post-keb-build: any of: ^components/kyma-environment-broker
  post-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  post-keb-runtime-reconciler-job-build: any of: ^components/kyma-environment-broker
  pre-control-plane-components-kyma-environment-broker: any of: ^components/kyma-environment-broker/|^scripts/
  pre-new-kyma-environment-broker: any of: ^kyma-environment-broker/|^scripts/
  pull-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  post-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pull-provisioner-build: any of: ^components/provisioner
  post-provisioner-build: any of: ^components/provisioner
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-main-provisioner-integration-tests: any of: components/provisioner/((go.mod|go.sum)$|/(.*.go|Makefile|Dockerfile|.*.sh))
  pull-schema-migrator-build: any of: ^components/schema-migrator
  post-schema-migrator-build: any of: ^components/schema-migrator
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-control-plane-reconciler-e2e: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-e2e-latest-release: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-control-plane-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-kcp-cli: any of: ^tools/cli|^components
  pre-main-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
  pull-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-control-plane-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-control-plane-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-control-plane-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-control-plane-vpathguard: any of: ^(vpath/pjtester.yaml)

Fix typo
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Bump Provisioner image (CCEE regions) (#3318)
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Update istio gw config for kubeconfig service
  resources/oidc-kubeconfig-service/Chart.yaml
  resources/oidc-kubeconfig-service/templates/virutalservice.yaml
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Add the required helm function for the template value
  resources/oidc-kubeconfig-service/templates/virutalservice.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Adopt provisioner and reconciler to istio gw changes
  resources/kcp/charts/mothership-reconciler/templates/virtualservice.yaml
  resources/kcp/charts/provisioner/templates/virtual-service.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

ignore cp when crd exists (#3304)
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Changed machine types to lowercase in KMC
  components/kyma-metrics-collector/pkg/process/public_cloud_info.go
  components/kyma-metrics-collector/pkg/process/public_cloud_info_test.go
  components/kyma-metrics-collector/pkg/testing/fixtures/static_providers.json
  resources/kcp/charts/kyma-metrics-collector/templates/public-cloud-info-config-map.yaml
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-main-kcp-development-artifacts

revert toLower and updated tests
  components/kyma-metrics-collector/pkg/process/public_cloud_info.go
  components/kyma-metrics-collector/pkg/process/public_cloud_info_test.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli

Changed machine types to lowercase in KMC (#3321)
  components/kyma-metrics-collector/pkg/process/public_cloud_info.go
  components/kyma-metrics-collector/pkg/process/public_cloud_info_test.go
  components/kyma-metrics-collector/pkg/testing/fixtures/static_providers.json
  resources/kcp/charts/kyma-metrics-collector/templates/public-cloud-info-config-map.yaml
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-main-kcp-development-artifacts

Bump KMC image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Bump KMC image (#3322)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Provisioner adds OpenStack parameters
  components/provisioner/internal/model/gardener_config.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Fix imports
  components/provisioner/internal/model/gardener_config.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Update istio gateway config for templates (#3319)
  resources/kcp/charts/mothership-reconciler/templates/virtualservice.yaml
  resources/kcp/charts/provisioner/templates/virtual-service.yaml
  resources/kcp/values.yaml
  resources/oidc-kubeconfig-service/Chart.yaml
  resources/oidc-kubeconfig-service/templates/virutalservice.yaml
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

remove gardener package
  components/kyma-metrics-collector/README.md
  components/kyma-metrics-collector/cmd/main.go
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/go.sum
  components/kyma-metrics-collector/metrics.md
  components/kyma-metrics-collector/pkg/cache/kubeconfig.go
  components/kyma-metrics-collector/pkg/cache/record.go
  components/kyma-metrics-collector/pkg/edp/client.go
  components/kyma-metrics-collector/pkg/edp/client_test.go
  components/kyma-metrics-collector/pkg/gardener/commons/helpers.go
  components/kyma-metrics-collector/pkg/gardener/commons/metrics.go
  components/kyma-metrics-collector/pkg/gardener/shoot/client.go
  components/kyma-metrics-collector/pkg/gardener/shoot/client_test.go
  components/kyma-metrics-collector/pkg/k8s/commons/helpers.go
  components/kyma-metrics-collector/pkg/keb/client.go
  components/kyma-metrics-collector/pkg/keb/client_test.go
  components/kyma-metrics-collector/pkg/logger/logger.go
  components/kyma-metrics-collector/pkg/process/event_stream.go
  components/kyma-metrics-collector/pkg/process/event_stream_test.go
  components/kyma-metrics-collector/pkg/process/process.go
  components/kyma-metrics-collector/pkg/process/process_test.go
  components/kyma-metrics-collector/pkg/process/public_cloud_info.go
  components/kyma-metrics-collector/pkg/process/public_cloud_info_test.go
  components/kyma-metrics-collector/pkg/service/server.go
  components/kyma-metrics-collector/pkg/skr/node/client.go
  components/kyma-metrics-collector/pkg/skr/node/client_test.go
  components/kyma-metrics-collector/pkg/skr/node/fake.go
  components/kyma-metrics-collector/pkg/skr/pvc/client.go
  components/kyma-metrics-collector/pkg/skr/pvc/client_test.go
  components/kyma-metrics-collector/pkg/skr/pvc/fake.go
  components/kyma-metrics-collector/pkg/skr/svc/client.go
  components/kyma-metrics-collector/pkg/skr/svc/client_test.go
  components/kyma-metrics-collector/pkg/skr/svc/fake.go
  components/kyma-metrics-collector/pkg/testing/helpers.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

run gci
  components/kyma-metrics-collector/cmd/main.go
  components/kyma-metrics-collector/pkg/edp/client.go
  components/kyma-metrics-collector/pkg/edp/client_test.go
  components/kyma-metrics-collector/pkg/keb/client.go
  components/kyma-metrics-collector/pkg/keb/client_test.go
  components/kyma-metrics-collector/pkg/process/event_stream.go
  components/kyma-metrics-collector/pkg/process/event_stream_test.go
  components/kyma-metrics-collector/pkg/process/process.go
  components/kyma-metrics-collector/pkg/process/process_test.go
  components/kyma-metrics-collector/pkg/process/public_cloud_info.go
  components/kyma-metrics-collector/pkg/process/public_cloud_info_test.go
  components/kyma-metrics-collector/pkg/service/server.go
  components/kyma-metrics-collector/pkg/skr/node/client.go
  components/kyma-metrics-collector/pkg/skr/node/client_test.go
  components/kyma-metrics-collector/pkg/skr/node/fake.go
  components/kyma-metrics-collector/pkg/skr/pvc/client.go
  components/kyma-metrics-collector/pkg/skr/pvc/client_test.go
  components/kyma-metrics-collector/pkg/skr/pvc/fake.go
  components/kyma-metrics-collector/pkg/skr/svc/client.go
  components/kyma-metrics-collector/pkg/skr/svc/client_test.go
  components/kyma-metrics-collector/pkg/skr/svc/fake.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli

FloatingIP is now optional parameter in GraphQL request
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Fix code
  components/provisioner/internal/model/gardener_config.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

rename SetupSchemeOrDie to SetupScheme
  components/kyma-metrics-collector/pkg/k8s/commons/helpers.go
  components/kyma-metrics-collector/pkg/skr/node/client_test.go
  components/kyma-metrics-collector/pkg/skr/node/fake.go
  components/kyma-metrics-collector/pkg/skr/pvc/client_test.go
  components/kyma-metrics-collector/pkg/skr/pvc/fake.go
  components/kyma-metrics-collector/pkg/skr/svc/client_test.go
  components/kyma-metrics-collector/pkg/skr/svc/fake.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli

Fix vulnerability in runc
  components/provisioner/go.mod
  components/provisioner/go.sum
  tools/cli/go.mod
  tools/cli/go.sum
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-provisioner-integration-tests, pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Go tidy cli
  tools/cli/go.sum
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Fix vulnerability in runc (#3332)
  components/provisioner/go.mod
  components/provisioner/go.sum
  tools/cli/go.mod
  tools/cli/go.sum
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-provisioner-integration-tests, pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Update Provisioner image
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Update Provisioner image (#3333)
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Add logging
  components/kyma-metrics-collector/pkg/process/process.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli

Improve tracking of clusters
  components/kyma-metrics-collector/pkg/process/process.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli

Update Warden reconciler
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Add metric for tracked clusters with status
  components/kyma-metrics-collector/pkg/process/metrics.go
  components/kyma-metrics-collector/pkg/process/process.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli

Add metrics for all cluster statuses
  components/kyma-metrics-collector/pkg/process/process.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli

Add Jellyfish for component reconcilers
  CODEOWNERS
Due: none

Add Jellyfish for component reconcilers (#3341)
  CODEOWNERS
Due: none

Update Warden reconciler (#3339)
  resources/kcp/charts/component-reconcilers/values.yaml
  resources/kcp/charts/mothership-reconciler/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

added metrics in KMC
  components/kyma-metrics-collector/pkg/cache/record.go
  components/kyma-metrics-collector/pkg/edp/client.go
  components/kyma-metrics-collector/pkg/edp/client_test.go
  components/kyma-metrics-collector/pkg/edp/metrics.go
  components/kyma-metrics-collector/pkg/keb/client.go
  components/kyma-metrics-collector/pkg/keb/metrics.go
  components/kyma-metrics-collector/pkg/process/metrics.go
  components/kyma-metrics-collector/pkg/process/process.go
  components/kyma-metrics-collector/pkg/process/process_test.go
  components/kyma-metrics-collector/pkg/skr/commons/metrics.go
  components/kyma-metrics-collector/pkg/skr/node/client.go
  components/kyma-metrics-collector/pkg/skr/node/config.go
  components/kyma-metrics-collector/pkg/skr/pvc/client.go
  components/kyma-metrics-collector/pkg/skr/pvc/config.go
  components/kyma-metrics-collector/pkg/skr/svc/client.go
  components/kyma-metrics-collector/pkg/skr/svc/config.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli

added tests
  components/kyma-metrics-collector/pkg/edp/client_test.go
  components/kyma-metrics-collector/pkg/edp/metrics.go
  components/kyma-metrics-collector/pkg/keb/client_test.go
  components/kyma-metrics-collector/pkg/keb/metrics.go
  components/kyma-metrics-collector/pkg/testing/helpers.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli

added tests
  components/kyma-metrics-collector/pkg/skr/commons/metrics.go
  components/kyma-metrics-collector/pkg/skr/node/client_test.go
  components/kyma-metrics-collector/pkg/skr/node/fake.go
  components/kyma-metrics-collector/pkg/skr/pvc/client.go
  components/kyma-metrics-collector/pkg/skr/pvc/client_test.go
  components/kyma-metrics-collector/pkg/skr/pvc/fake.go
  components/kyma-metrics-collector/pkg/skr/svc/client.go
  components/kyma-metrics-collector/pkg/skr/svc/client_test.go
  components/kyma-metrics-collector/pkg/skr/svc/fake.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli

The Provisioner adds OpenStack parameters (#3323)
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

cleanup after emergency change
  components/kyma-metrics-collector/cmd/main.go
  components/kyma-metrics-collector/env/config.go
  components/kyma-metrics-collector/options/options.go
  components/kyma-metrics-collector/pkg/cache/kubeconfig.go
  components/kyma-metrics-collector/pkg/edp/client.go
  components/kyma-metrics-collector/pkg/edp/client_test.go
  components/kyma-metrics-collector/pkg/edp/config.go
  components/kyma-metrics-collector/pkg/edp/consumption_metrics.go
  components/kyma-metrics-collector/pkg/gardener/commons/metrics.go
  components/kyma-metrics-collector/pkg/gardener/secret/client.go
  components/kyma-metrics-collector/pkg/gardener/secret/client_test.go
  components/kyma-metrics-collector/pkg/gardener/shoot/client.go
  components/kyma-metrics-collector/pkg/gardener/shoot/client_test.go
  components/kyma-metrics-collector/pkg/keb/client.go
  components/kyma-metrics-collector/pkg/keb/client_test.go
  components/kyma-metrics-collector/pkg/keb/config.go
  components/kyma-metrics-collector/pkg/logger/logger.go
  components/kyma-metrics-collector/pkg/process/event_stream.go
  components/kyma-metrics-collector/pkg/process/event_stream_test.go
  components/kyma-metrics-collector/pkg/process/metrics.go
  components/kyma-metrics-collector/pkg/process/process.go
  components/kyma-metrics-collector/pkg/process/process_test.go
  components/kyma-metrics-collector/pkg/process/public_cloud_info.go
  components/kyma-metrics-collector/pkg/process/public_cloud_info_test.go
  components/kyma-metrics-collector/pkg/service/server.go
  components/kyma-metrics-collector/pkg/skr/commons/metrics.go
  components/kyma-metrics-collector/pkg/skr/node/client.go
  components/kyma-metrics-collector/pkg/skr/node/client_test.go
  components/kyma-metrics-collector/pkg/skr/node/config.go
  components/kyma-metrics-collector/pkg/skr/pvc/client.go
  components/kyma-metrics-collector/pkg/skr/pvc/client_test.go
  components/kyma-metrics-collector/pkg/skr/pvc/config.go
  components/kyma-metrics-collector/pkg/skr/svc/client.go
  components/kyma-metrics-collector/pkg/skr/svc/client_test.go
  components/kyma-metrics-collector/pkg/skr/svc/config.go
  components/kyma-metrics-collector/pkg/testing/helpers.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli

add lint-config
  components/kyma-metrics-collector/.golangci.yaml
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli

run gci on files
  components/kyma-metrics-collector/cmd/main.go
  components/kyma-metrics-collector/pkg/edp/client.go
  components/kyma-metrics-collector/pkg/process/process.go
  components/kyma-metrics-collector/pkg/process/process_test.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli

remove gardener package
  components/kyma-metrics-collector/README.md
  components/kyma-metrics-collector/cmd/main.go
  components/kyma-metrics-collector/go.mod
  components/kyma-metrics-collector/metrics.md
  components/kyma-metrics-collector/pkg/cache/kubeconfig.go
  components/kyma-metrics-collector/pkg/cache/record.go
  components/kyma-metrics-collector/pkg/edp/client.go
  components/kyma-metrics-collector/pkg/edp/client_test.go
  components/kyma-metrics-collector/pkg/gardener/commons/helpers.go
  components/kyma-metrics-collector/pkg/gardener/commons/metrics.go
  components/kyma-metrics-collector/pkg/gardener/shoot/client.go
  components/kyma-metrics-collector/pkg/gardener/shoot/client_test.go
  components/kyma-metrics-collector/pkg/k8s/commons/helpers.go
  components/kyma-metrics-collector/pkg/keb/client.go
  components/kyma-metrics-collector/pkg/keb/client_test.go
  components/kyma-metrics-collector/pkg/logger/logger.go
  components/kyma-metrics-collector/pkg/process/event_stream.go
  components/kyma-metrics-collector/pkg/process/event_stream_test.go
  components/kyma-metrics-collector/pkg/process/process.go
  components/kyma-metrics-collector/pkg/process/process_test.go
  components/kyma-metrics-collector/pkg/process/public_cloud_info.go
  components/kyma-metrics-collector/pkg/process/public_cloud_info_test.go
  components/kyma-metrics-collector/pkg/service/server.go
  components/kyma-metrics-collector/pkg/skr/node/client.go
  components/kyma-metrics-collector/pkg/skr/node/client_test.go
  components/kyma-metrics-collector/pkg/skr/node/fake.go
  components/kyma-metrics-collector/pkg/skr/pvc/client.go
  components/kyma-metrics-collector/pkg/skr/pvc/client_test.go
  components/kyma-metrics-collector/pkg/skr/pvc/fake.go
  components/kyma-metrics-collector/pkg/skr/svc/client.go
  components/kyma-metrics-collector/pkg/skr/svc/client_test.go
  components/kyma-metrics-collector/pkg/skr/svc/fake.go
  components/kyma-metrics-collector/pkg/testing/helpers.go
Due: pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pre-main-kcp-cli, pre-main-provisioner-whitesource-scan
