Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum

Fix subaccount cleaner job
  resources/kcp/charts/kyma-environment-broker/templates/subaccount-cleanup-job.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

last fixes
  components/kyma-environment-broker/files/swagger/index.html
Due: none

Fix subaccount cleaner job (#700)
  resources/kcp/charts/kyma-environment-broker/templates/subaccount-cleanup-job.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Make auditlog optional
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/auditlog/config.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

make imports
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/auditlog/config.go
Due: none

Hydroform Version Bump
  components/provisioner/go.mod
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

fix description, extend upgrade command
  tools/cli/pkg/command/upgrade.go
  tools/cli/pkg/command/upgrade_cluster.go
Due: none

bump control-plane version
  tools/cli/go.mod
Due: pre-main-provisioner-whitesource-scan

bump version...
  tools/cli/go.sum
Due: pre-main-provisioner-whitesource-scan

Add logs for KEB in case of error with Provisioner operations
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
Due: none

wip
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
Due: none

wip
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Cluster upgrade orchestration, part 3 (#629)
  components/kyma-environment-broker/common/runtime/model.go
  components/kyma-environment-broker/internal/runtime/converter.go
  components/kyma-environment-broker/internal/runtime/handler.go
Due: none

Keb more logs (#703)
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Hydroform Version Bump (#702)
  components/provisioner/go.mod
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

go mod tidy result
  tools/cli/go.sum
Due: pre-main-provisioner-whitesource-scan

Add svc for kmc
  resources/kcp/charts/kyma-metrics-collector/templates/deployment.yaml
  resources/kcp/charts/kyma-metrics-collector/templates/service.yaml
  resources/kcp/charts/kyma-metrics-collector/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

KEB do not finish pending provisioning operations
  components/kyma-environment-broker/internal/process/provisioning/manager.go
Due: none

bump
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

KEB do not finish pending provisioning operations (#706)
  components/kyma-environment-broker/internal/process/provisioning/manager.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Rethink the logic
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/audit_log.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/audit_log_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Add svc for kmc (#705)
  resources/kcp/charts/kyma-metrics-collector/templates/deployment.yaml
  resources/kcp/charts/kyma-metrics-collector/templates/service.yaml
  resources/kcp/charts/kyma-metrics-collector/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Remove AWS us-west-1b Availability Zone
  components/kyma-environment-broker/internal/provider/aws_provider.go
Due: none

Freemium plan
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/hyperscaler/account_provider.go
  components/kyma-environment-broker/internal/appinfo/runtime_info.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/plans_validator.go
  components/kyma-environment-broker/internal/broker/plans_validator_test.go
  components/kyma-environment-broker/internal/broker/services.go
  components/kyma-environment-broker/internal/broker/services_test.go
  components/kyma-environment-broker/internal/broker/testdata/free-aws-schema.json
  components/kyma-environment-broker/internal/broker/testdata/free-azure-schema.json
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/middleware/export.go
  components/kyma-environment-broker/internal/middleware/provider.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/input/builder_test.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/upgrade_cluster_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step_test.go
  components/kyma-environment-broker/internal/provider/aws_provider.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/freemium_input.go
  components/kyma-environment-broker/internal/provider/freemium_input_test.go
  components/kyma-environment-broker/internal/runtime/disabled_components.go
  resources/kcp/charts/kyma-environment-broker/files/catalog.yaml
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

wip
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/hyperscaler/account_provider.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/hyperscaler/account_provider.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Remove AWS us-west-1b Availability Zone (#707)
  components/kyma-environment-broker/internal/provider/aws_provider.go
Due: none

Add DeprovisioningSuite
  components/kyma-environment-broker/cmd/broker/deprovisioning_suite_test.go
  components/kyma-environment-broker/cmd/broker/deprovisioning_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/provisioner/fake_client.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Increase tests execution speed
  components/kyma-environment-broker/cmd/broker/deprovisioning_suite_test.go
Due: none

Freemium (#696)
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/provisioning_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/hyperscaler/account_provider.go
  components/kyma-environment-broker/internal/appinfo/runtime_info.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/plans_validator.go
  components/kyma-environment-broker/internal/broker/plans_validator_test.go
  components/kyma-environment-broker/internal/broker/services.go
  components/kyma-environment-broker/internal/broker/services_test.go
  components/kyma-environment-broker/internal/broker/testdata/free-aws-schema.json
  components/kyma-environment-broker/internal/broker/testdata/free-azure-schema.json
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/middleware/export.go
  components/kyma-environment-broker/internal/middleware/provider.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/input/builder_test.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/upgrade_cluster_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step_test.go
  components/kyma-environment-broker/internal/provider/aws_provider.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/freemium_input.go
  components/kyma-environment-broker/internal/provider/freemium_input_test.go
  components/kyma-environment-broker/internal/runtime/disabled_components.go
  resources/kcp/charts/kyma-environment-broker/files/catalog.yaml
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Runtime deprovisioning test (#660)
  components/kyma-environment-broker/cmd/broker/deprovisioning_suite_test.go
  components/kyma-environment-broker/cmd/broker/deprovisioning_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/provisioner/fake_client.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Adjust azure_lite plan schema
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/testdata/azure-lite-schema.json
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

add AWSPlanID for metrics
  components/kyma-environment-broker/internal/metrics/operations_collector.go
Due: none
