Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  post-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-kcp-cli: any of: ^tools/cli
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/

Bump kyma_environment_broker to PR-920
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

keb: update endpoint for autoscaler options
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/update/upgrade_shoot_step.go
Due: none

keb: add test for autoscaler params update
  components/kyma-environment-broker/cmd/broker/update_test.go
Due: none

Update swagger file for patch instances endpoint
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add ownership privilidges to wookiee team for kcp
  CODEOWNERS
Due: none

code cleanup
  tools/cli/pkg/command/reconciliations.go
Due: pre-main-kcp-cli

Administrate reconciler remotely via CLI using REST API
  CODEOWNERS
  components/mothership/go.mod
  components/mothership/go.sum
  components/mothership/pkg/automock/client.go
  components/mothership/pkg/automock/provider.go
  components/mothership/pkg/client.go
  components/mothership/pkg/client_test.go
  components/mothership/pkg/provider.go
  components/mothership/pkg/provider_test.go
  components/mothership/pkg/types.go
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/reconciliations.go
  tools/cli/pkg/command/reconciliations_test.go
  tools/cli/pkg/command/root.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

code cleanup
  components/mothership/docs/.gitignore
  components/mothership/docs/external_api.yaml
  components/mothership/docs/external_api.yaml.backup
  components/mothership/makefile
  components/mothership/pkg/automock/client.go
  components/mothership/pkg/automock/provider.go
  components/mothership/pkg/client_gen.go
  components/mothership/pkg/types_gen.go
  tools/cli/pkg/command/reconciliations.go
  tools/cli/pkg/command/reconciliations_test.go
Due: pre-main-kcp-cli

integrate oapi client with kcp
  components/mothership/docs/external_api.yaml
  components/mothership/docs/external_api.yaml.backup
  components/mothership/go.mod
  components/mothership/go.sum
  components/mothership/makefile
  components/mothership/pkg/client.go
  components/mothership/pkg/client_gen.go
  components/mothership/pkg/client_test.go
  components/mothership/pkg/types.go
  components/mothership/pkg/types_gen.go
  tools/cli/go.sum
  tools/cli/pkg/command/reconciliations.go
  tools/cli/pkg/command/reconciliations_test.go
Due: pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

remove external api doc
  components/mothership/docs/.gitignore
  components/mothership/docs/external_api.yaml
Due: none

update client
  .gitignore
  components/mothership/docs/.gitignore
  components/mothership/pkg/client_gen.go
  components/mothership/pkg/types_gen.go
  tools/cli/pkg/command/reconciliations.go
  tools/cli/pkg/command/reconciliations_test.go
Due: pre-main-kcp-cli

Fix unit tests
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/orchestration_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler_test.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
Due: none

Fix make imports
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster_test.go
Due: none

Fix unit tests by adding Kyma and Kubernetes parameters on orchestration config
  components/kyma-environment-broker/cmd/broker/orchestration_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
Due: none

Update endpoint for autoscaler options for KEB (#920)
  components/kyma-environment-broker/cmd/broker/update_test.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/update/upgrade_shoot_step.go
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

feature: VictoriaMetrics integration as component
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/deprovisioning_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/monitoring/mocks/Client.go
  components/kyma-environment-broker/internal/monitoring/monitoring.go
  components/kyma-environment-broker/internal/process/deprovisioning/monitoring_uninstall.go
  components/kyma-environment-broker/internal/process/deprovisioning/monitoring_uninstall_test.go
  components/kyma-environment-broker/internal/process/provisioning/monitoring_integration.go
  components/kyma-environment-broker/internal/process/provisioning/monitoring_integration_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/monitoring_upgrade.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/monitoring_upgrade_test.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/templates/monitoring.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

feature: VictoriaMetrics integration as component (#894)
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/deprovisioning_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/go.mod
  components/kyma-environment-broker/go.sum
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/monitoring/mocks/Client.go
  components/kyma-environment-broker/internal/monitoring/monitoring.go
  components/kyma-environment-broker/internal/process/deprovisioning/monitoring_uninstall.go
  components/kyma-environment-broker/internal/process/deprovisioning/monitoring_uninstall_test.go
  components/kyma-environment-broker/internal/process/provisioning/monitoring_integration.go
  components/kyma-environment-broker/internal/process/provisioning/monitoring_integration_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/monitoring_upgrade.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/monitoring_upgrade_test.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/templates/monitoring.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-main-provisioner-whitesource-scan

update client
  components/mothership/README.MD
  components/mothership/makefile
  components/mothership/pkg/types_gen.go
  tools/cli/pkg/command/reconciliations.go
  tools/cli/pkg/command/reconciliations_test.go
Due: pre-main-kcp-cli

fix payload in keb upgrade docs
  docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
Due: none

fix payload in keb upgrade docs (#933)
  docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
Due: none

add mothership-api-url global flag
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/reconciliations.go
  tools/cli/pkg/command/reconciliations_test.go
  tools/cli/pkg/command/root.go
Due: pre-main-kcp-cli

FixKEB monitoring ingegration step issues
  components/kyma-environment-broker/internal/monitoring/monitoring.go
  components/kyma-environment-broker/internal/process/deprovisioning/monitoring_uninstall.go
  components/kyma-environment-broker/internal/process/provisioning/monitoring_integration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/monitoring_upgrade.go
  resources/kcp/charts/kyma-environment-broker/templates/monitoring.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Bump KEB image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  components/kyma-environment-broker/internal/process/provisioning/get_kubeconfig_step.go
Due: none

Documentation
  components/kyma-environment-broker/internal/process/provisioning/create_cluster_configuration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/apply_cluster_configuration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/get_kubeconfig_step.go
  docs/kyma-environment-broker/02-01-architecture.md
  docs/kyma-environment-broker/03-01-service-description.md
  docs/kyma-environment-broker/03-03-runtime-operations.md
  docs/kyma-environment-broker/08-06-orchestration-status.md
  docs/kyma-environment-broker/assets/keb-architecture.svg
Due: none

wip
  components/kyma-environment-broker/internal/process/provisioning/staged_manager_test.go
Due: none

Apply suggestions from code review
  docs/kyma-environment-broker/03-03-runtime-operations.md
  docs/kyma-environment-broker/08-06-orchestration-status.md
Due: none

fixes 1
  components/kyma-environment-broker/internal/reconciler/client.go
  components/kyma-environment-broker/internal/runtime/provider.go
Due: none

update diagram
  components/kyma-environment-broker/internal/process/upgrade_kyma/apply_cluster_configuration.go
  docs/kyma-environment-broker/assets/keb-architecture.svg
Due: none

fix 2
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/broker_suite_test.go
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Fix KEB monitoring integration step issues (#934)
  components/kyma-environment-broker/internal/monitoring/monitoring.go
  components/kyma-environment-broker/internal/process/deprovisioning/monitoring_uninstall.go
  components/kyma-environment-broker/internal/process/provisioning/monitoring_integration.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/monitoring_upgrade.go
  resources/kcp/charts/kyma-environment-broker/templates/monitoring.yaml
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

regenerate mothership client; extend rc cmd print table with status field
  components/mothership/makefile
  components/mothership/pkg/types_gen.go
  tools/cli/pkg/command/reconciliations.go
Due: pre-main-kcp-cli

Overwrite kyma and kubernetes versions only they are prev empty
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
Due: none

Change version control place to avoid a logical error
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
Due: none

Bump keb image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

update base image to update go
  components/kyma-metrics-collector/Dockerfile
Due: pre-control-plane-components-kyma-metrics-collector, post-control-plane-components-kyma-metrics-collector

bump image
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts
