Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-kubeconfig-service, post-control-plane-components-kubeconfig-service, pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-main-provisioner-whitesource-scan

Path conditions:
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  post-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum

E2e free AWS testing pipeline
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-free-aws.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Schema
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Add overrides with userID
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
Due: none

Bump KEB image
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Mark user_id field in CIS context as mandatory
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
Due: none

Fix after rebase with master
  components/kyma-environment-broker/internal/broker/instance_create_test.go
Due: none

Return NotFound on KEB instance updates when instance is missing (#736)
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
Due: pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

bump image
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-free-aws.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wip
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-free-aws.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Generate graphql
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/provisioner/client.go
Due: none

Generate graphql
  components/kyma-environment-broker/Gopkg.toml
Due: none

Schema
  components/provisioner/internal/model/types.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Tests
  components/kyma-environment-broker/internal/broker/instance_create_test.go
Due: none

Tests
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
Due: none

Tests
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/service_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

E2e free AWS testing pipeline (#742)
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-free-aws.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Implement handlers for cluster upgrade operations (#734)
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Feature flag
  components/provisioner/cmd/main.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings.go
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix after review
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
Due: none

migration job impl
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/cmd/main.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/go.mod
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/go.sum
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/job/migrator.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/job/migrator_db_integration_test.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/persistence/dbconnection/connection.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/persistence/dbconnection/factory.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/persistence/dbconnection/read.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/persistence/dbconnection/write.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/testutils/database.go
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/internal/util/json.go
Due: pre-main-provisioner-whitesource-scan

Feature flag
  components/provisioner/cmd/main.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Fix deprovisioning op handler for /runtimes
  components/kyma-environment-broker/internal/runtime/handler.go
  components/kyma-environment-broker/internal/runtime/handler_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Add logs to e2e tests
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
Due: pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Bump image
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix after review
  components/kyma-environment-broker/internal/process/input/input_test.go
Due: none

Add logs to e2e tests (#744)
  resources/kcp/values.yaml
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Tests for userId
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
Due: pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Fix e2e pipeline KEB client
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
Due: pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

wip
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Fix deprovisioning op handler for /runtimes (#728)
  components/kyma-environment-broker/internal/runtime/handler.go
  components/kyma-environment-broker/internal/runtime/handler_test.go
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

Doc
  docs/kyma-environment-broker/08-01-provisioning-kyma-environment.md
Due: none

Fix e2e pipeline KEB client (#745)
  resources/kcp/values.yaml
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Add Prometheus rules
  components/kyma-metrics-collector/pkg/edp/client.go
  components/kyma-metrics-collector/pkg/edp/metrics.go
  components/kyma-metrics-collector/pkg/keb/client.go
  components/kyma-metrics-collector/pkg/keb/metrics.go
  components/kyma-metrics-collector/pkg/process/metrics.go
  components/kyma-metrics-collector/pkg/process/process.go
  resources/kcp/charts/kyma-metrics-collector/templates/prometheusrule.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

tests
  tools/provisioner-tools/provisioners-provider-specific-config-migrating-job/go.mod
Due: pre-main-provisioner-whitesource-scan

Fix after review
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/internal/model/kyma_config.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/schema-migrator/migrations/provisioner/202117051400_add_administrators.up.sql
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-main-control-plane-integration, pre-master-kcp-development-artifacts

wait when rate limit exceeded
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_creation.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_creation_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-main-provisioner-whitesource-scan

img bump
  resources/kcp/values.yaml
Due: pre-main-control-plane-integration, pre-master-kcp-development-artifacts

remove unused parameter
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_creation.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner
