Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-new-kyma-environment-broker, pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-provisioner-integration-tests, pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-control-plane-validate-dockerfiles, pre-main-kcp-cli, pre-main-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build, pre-main-provisioner-e2e-tests, pull-e2e-provisioning-test-build, post-e2e-provisioning-test-build, pull-provisioner-tests-build, post-provisioner-tests-build, pull-control-plane-checkconfig, pull-control-plane-pjconfigtest, pull-control-plane-pjtester, pull-control-plane-vpathguard

pull-kubeconfig-service-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-kubeconfig-service-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

post-kubeconfig-service-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kubeconfig-service-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-control-plane-components-kubeconfig-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-control-plane-components-kubeconfig-service
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
  ...

pull-keb-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pull-keb-cleanup-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-cleanup-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pull-keb-subaccount-cleanup-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-subaccount-cleanup-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-keb-trial-cleanup-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-trial-cleanup-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pull-keb-deprovision-retrigger-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-deprovision-retrigger-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-keb-runtime-reconciler-job-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-keb-runtime-reconciler-job-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

Bump director, bump gqlgen, regenerate mocks and gql
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/gqlgen.sh
  components/provisioner/hack/gqlgen.go
  components/provisioner/hack/regenerate-mocks.sh
  components/provisioner/internal/api/mocks/TenantUpdater.go
  components/provisioner/internal/api/mocks/Validator.go
  components/provisioner/internal/director/mocks/DirectorClient.go
  components/provisioner/internal/gardener/mocks/Client.go
  components/provisioner/internal/gardener/mocks/ShootClient.go
  components/provisioner/internal/graphql/mocks/Client.go
  components/provisioner/internal/metrics/mocks/OperationsStatsGetter.go
  components/provisioner/internal/oauth/mocks/Client.go
  components/provisioner/internal/operations/queue/mocks/KubeconfigProvider.go
  components/provisioner/internal/operations/queue/mocks/OperationQueue.go
  components/provisioner/internal/operations/stages/deprovisioning/mocks/GardenerClient.go
  components/provisioner/internal/operations/stages/provisioning/mocks/DynamicKubeconfigProvider.go
  components/provisioner/internal/operations/stages/provisioning/mocks/GardenerClient.go
  components/provisioner/internal/operations/stages/shootupgrade/mocks/KubeconfigProvider.go
  components/provisioner/internal/provisioning/mocks/Provisioner.go
  components/provisioner/internal/provisioning/mocks/Service.go
  components/provisioner/internal/provisioning/mocks/ShootProvider.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/Factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadWriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
  components/provisioner/internal/runtime/mocks/Configurator.go
  components/provisioner/internal/util/k8s/mocks/K8sClientProvider.go
  components/provisioner/internal/uuid/mocks/UUIDGenerator.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema_gen.go
  components/provisioner/tools.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-provisioner-integration-tests, pre-main-kcp-cli, pre-main-provisioner-whitesource-scan, pre-main-provisioner-e2e-tests

Bump director, bump gqlgen, regenerate mocks and gql (#3287)
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/gqlgen.sh
  components/provisioner/hack/gqlgen.go
  components/provisioner/hack/regenerate-mocks.sh
  components/provisioner/internal/api/mocks/TenantUpdater.go
  components/provisioner/internal/api/mocks/Validator.go
  components/provisioner/internal/director/mocks/DirectorClient.go
  components/provisioner/internal/gardener/mocks/Client.go
  components/provisioner/internal/gardener/mocks/ShootClient.go
  components/provisioner/internal/graphql/mocks/Client.go
  components/provisioner/internal/metrics/mocks/OperationsStatsGetter.go
  components/provisioner/internal/oauth/mocks/Client.go
  components/provisioner/internal/operations/queue/mocks/KubeconfigProvider.go
  components/provisioner/internal/operations/queue/mocks/OperationQueue.go
  components/provisioner/internal/operations/stages/deprovisioning/mocks/GardenerClient.go
  components/provisioner/internal/operations/stages/provisioning/mocks/DynamicKubeconfigProvider.go
  components/provisioner/internal/operations/stages/provisioning/mocks/GardenerClient.go
  components/provisioner/internal/operations/stages/shootupgrade/mocks/KubeconfigProvider.go
  components/provisioner/internal/provisioning/mocks/Provisioner.go
  components/provisioner/internal/provisioning/mocks/Service.go
  components/provisioner/internal/provisioning/mocks/ShootProvider.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/Factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadWriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
  components/provisioner/internal/runtime/mocks/Configurator.go
  components/provisioner/internal/util/k8s/mocks/K8sClientProvider.go
  components/provisioner/internal/uuid/mocks/UUIDGenerator.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema_gen.go
  components/provisioner/tools.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-provisioner-integration-tests, pre-main-kcp-cli, pre-main-provisioner-whitesource-scan, pre-main-provisioner-e2e-tests

Skipp compass-runtime-agent component.
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Bump provisioner image
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Bump provisioner image (#3427)
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

provisioner: add support for configuring AWS IMDSv2 access method
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/model/infrastructure.go
  components/provisioner/internal/model/infrastructure/aws/worker.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/service_test.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

address comments
  components/provisioner/internal/model/gardener_config.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

provisioner: add support for configuring AWS IMDSv2 access method (#3429)
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/model/infrastructure.go
  components/provisioner/internal/model/infrastructure/aws/worker.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/service_test.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Bump provisioner in kcp chart to v20240429-ea75326a
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Bump provisioner in kcp chart to v20240429-ea75326a (#3430)
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

update dependencies in go.mod
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-provisioner-integration-tests, pre-main-kcp-cli, pre-main-provisioner-whitesource-scan, pre-main-provisioner-e2e-tests

fixing unit tests for mocked uuids
  components/provisioner/internal/provisioning/service_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

fixing unit tests and removing not used compassID
  components/provisioner/internal/provisioning/graphql_converter_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

fixing db tests - remove compassID
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

fix of unit test to use mocked uuids for db testing
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

removing unused deployment configuration options
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-cli, pre-main-kcp-development-artifacts, pre-main-provisioner-e2e-tests

removing unused env variables from e2e tests
  components/provisioner/e2e_test/test.sh
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

remove unused method after removal of director oauth client
  components/provisioner/cmd/init.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

remove graphql client used for director integration
  components/provisioner/internal/apperrors/apperrors.go
  components/provisioner/internal/graphql/client.go
  components/provisioner/internal/graphql/gql_client_testkit.go
  components/provisioner/internal/graphql/mocks/Client.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

remove oauth client used for director integration
  components/provisioner/internal/oauth/client.go
  components/provisioner/internal/oauth/client_test.go
  components/provisioner/internal/oauth/mocks/Client.go
  components/provisioner/internal/oauth/types.go
  components/provisioner/internal/oauth/types_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

remove unused file closer.go used for oauth client
  components/provisioner/internal/util/closer.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

update provisioner image to version v20240507-ff9c0545 prod
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

update provisioner image to version v20240507-ff9c0545 prod (#3432)
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Skipp compass-runtime-agent component. (#3426)
  resources/kcp/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-main-kcp-development-artifacts

Break tests
  components/provisioner/e2e_test/main_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Simplify kill logic
  components/provisioner/e2e_test/test.sh
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Add renovate.json
  renovate.json
Due: none

Remove obsolete L2/L3 operator bindings from provisioner
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

review suggestions
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Remove obsolete L2/L3 operator bindings from provisioner (#3438)
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Bump provisioner in kcp chart
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Bump provisioner in kcp chart (#3439)
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

ShootAndSeedSameRegion Field
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

ShootAndSeedSameRegion Field (#3440)
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Correct Field Placement
  components/provisioner/pkg/gqlschema/schema.graphql
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli

Schema Generation
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Correction for #344 - shootAndSeedSameRegion in GardenerConfigInput (#3443)
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Path conditions:
  pull-kubeconfig-service-build: any of: ^components/kubeconfig-service
  post-kubeconfig-service-build: any of: ^components/kubeconfig-service
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pull-keb-build: any of: ^components/kyma-environment-broker
  pull-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  pull-keb-runtime-reconciler-job-build: any of: ^components/kyma-environment-broker
  post-keb-build: any of: ^components/kyma-environment-broker
  post-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  post-keb-runtime-reconciler-job-build: any of: ^components/kyma-environment-broker
  pre-control-plane-components-kyma-environment-broker: any of: ^components/kyma-environment-broker/|^scripts/
  pre-new-kyma-environment-broker: any of: ^kyma-environment-broker/|^scripts/
  pull-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  post-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pull-provisioner-build: any of: ^components/provisioner
  post-provisioner-build: any of: ^components/provisioner
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-main-provisioner-integration-tests: any of: components/provisioner/((go.mod|go.sum)$|/(.*.go|Makefile|Dockerfile|.*.sh))
  pull-schema-migrator-build: any of: ^components/schema-migrator
  post-schema-migrator-build: any of: ^components/schema-migrator
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-control-plane-reconciler-e2e: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-e2e-latest-release: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-control-plane-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-kcp-cli: any of: ^tools/cli|^components
  pre-main-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
  pull-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  pre-main-provisioner-e2e-tests: any of: components/provisioner/(Makefile|Dockerfile|.*\.sh|.*\.go|go.mod|go.sum)$
  pull-e2e-provisioning-test-build: any of: ^tests/e2e/provisioning/|^scripts/
  post-e2e-provisioning-test-build: any of: ^tests/e2e/provisioning/|^scripts/
  pull-provisioner-tests-build: any of: ^tests/provisioner-tests/|^scripts/
  post-provisioner-tests-build: any of: ^tests/provisioner-tests/|^scripts/
  pull-control-plane-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-control-plane-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-control-plane-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-control-plane-vpathguard: any of: ^(vpath/pjtester.yaml)
