Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeconfig-service-build, post-kubeconfig-service-build, pre-control-plane-components-kubeconfig-service, pull-keb-build, pull-keb-cleanup-job-build, pull-keb-subaccount-cleanup-job-build, pull-keb-trial-cleanup-job-build, pull-keb-deprovision-retrigger-job-build, pull-keb-runtime-reconciler-job-build, post-keb-build, post-keb-cleanup-job-build, post-keb-subaccount-cleanup-job-build, post-keb-trial-cleanup-job-build, post-keb-deprovision-retrigger-job-build, post-keb-runtime-reconciler-job-build, pre-control-plane-components-kyma-environment-broker, pre-new-kyma-environment-broker, pull-kyma-metrics-collector-build, post-kyma-metrics-collector-build, pre-control-plane-components-kyma-metrics-collector, pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-provisioner-integration-tests, pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-control-plane-reconciler-e2e, pre-main-control-plane-reconciler-e2e-latest-release, pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener, pre-control-plane-validate-dockerfiles, pre-main-kcp-cli, pre-main-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, pre-control-plane-tests-provisioner-tests, pre-main-provisioner-whitesource-scan, pre-control-plane-components-connector, post-control-plane-components-connector, pre-control-plane-components-tenant-fetcher, post-control-plane-components-tenant-fetcher, pre-control-plane-tests, post-control-plane-tests, pull-keb-subscription-cleanup-job-build, post-keb-subscription-cleanup-job-build, pre-main-provisioner-e2e-tests, pull-e2e-provisioning-test-build, post-e2e-provisioning-test-build, pull-provisioner-tests-build, post-provisioner-tests-build, pull-control-plane-checkconfig, pull-control-plane-pjconfigtest, pull-control-plane-pjtester, pull-control-plane-vpathguard

Path conditions:
  pull-kubeconfig-service-build: any of: ^components/kubeconfig-service
  post-kubeconfig-service-build: any of: ^components/kubeconfig-service
  pre-control-plane-components-kubeconfig-service: any of: ^components/kubeconfig-service/|^scripts/
  pull-keb-build: any of: ^components/kyma-environment-broker
  pull-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  pull-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  pull-keb-runtime-reconciler-job-build: any of: ^components/kyma-environment-broker
  post-keb-build: any of: ^components/kyma-environment-broker
  post-keb-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subaccount-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-trial-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-deprovision-retrigger-job-build: any of: ^components/kyma-environment-broker
  post-keb-runtime-reconciler-job-build: any of: ^components/kyma-environment-broker
  pre-control-plane-components-kyma-environment-broker: any of: ^components/kyma-environment-broker/|^scripts/
  pre-new-kyma-environment-broker: any of: ^kyma-environment-broker/|^scripts/
  pull-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  post-kyma-metrics-collector-build: any of: ^components/kyma-metrics-collector
  pre-control-plane-components-kyma-metrics-collector: any of: ^components/kyma-metrics-collector/|^scripts/
  pull-provisioner-build: any of: ^components/provisioner
  post-provisioner-build: any of: ^components/provisioner
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-main-provisioner-integration-tests: any of: components/provisioner/((go.mod|go.sum)$|/(.*.go|Makefile|Dockerfile|.*.sh))
  pull-schema-migrator-build: any of: ^components/schema-migrator
  post-schema-migrator-build: any of: ^components/schema-migrator
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-main-control-plane-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-main-control-plane-integration: any of: ^(resources|installation)/
  pre-main-control-plane-reconciler-e2e: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-e2e-latest-release: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener: any of: ^resources/kcp/values.yaml|^resources/kcp/charts/mothership-reconciler/|^resources/kcp/charts/component-reconcilers/
  pre-control-plane-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-kcp-cli: any of: ^tools/cli|^components
  pre-main-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-control-plane-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-main-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-control-plane-components-connector: any of: ^components/connector/|^scripts/
  post-control-plane-components-connector: any of: ^components/connector/|^scripts/
  pre-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  post-control-plane-components-tenant-fetcher: any of: ^components/tenant-fetcher/|^scripts/
  pre-control-plane-tests: any of: ^tests/|^scripts/
  post-control-plane-tests: any of: ^tests/|^scripts/
  pull-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  post-keb-subscription-cleanup-job-build: any of: ^components/kyma-environment-broker
  pre-main-provisioner-e2e-tests: any of: components/provisioner/(Makefile|Dockerfile|.*\.sh|.*\.go|go.mod|go.sum)$
  pull-e2e-provisioning-test-build: any of: ^tests/e2e/provisioning/|^scripts/
  post-e2e-provisioning-test-build: any of: ^tests/e2e/provisioning/|^scripts/
  pull-provisioner-tests-build: any of: ^tests/provisioner-tests/|^scripts/
  post-provisioner-tests-build: any of: ^tests/provisioner-tests/|^scripts/
  pull-control-plane-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-control-plane-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-control-plane-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-control-plane-vpathguard: any of: ^(vpath/pjtester.yaml)

Correct PVC type for storing shoots
  resources/kcp/charts/provisioner/templates/pvc.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Change storage class, and change the flag to global
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/templates/pvc.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Changed volume type to standard-rwo
  resources/kcp/charts/provisioner/templates/pvc.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Add Toleration section for selected region
  components/provisioner/internal/gardener/provisioner.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Increased volume size
  resources/kcp/charts/provisioner/templates/pvc.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Added Persistent Volume Claim reference (#3454)
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/templates/pvc.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Add Toleration section for selected region (#3461)
  components/provisioner/internal/gardener/provisioner.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

chore: bump Provisioner image
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

chore: bump Provisioner image (#3462)
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Initial version of graphql middleware
  components/provisioner/internal/api/middlewares/raw_graphql.go
  components/provisioner/internal/util/pv_writer.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Minor fixes
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/middlewares/raw_graphql.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Saving file to Persistent Volume
  components/provisioner/internal/util/pv_writer.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

change the way of saving Gardener Shoot to PV
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/util/pv_writer.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

delete unnecessary files
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/middlewares/raw_graphql.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

fix naming
  components/provisioner/internal/util/pv_writer.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Added storing graphQL query
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/util/pv_writer.go
  components/provisioner/internal/util/shoot_spec_dump.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Compilation error
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Compilation error
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Compilation error
  components/provisioner/internal/api/resolver.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Minor refactor
  components/provisioner/internal/util/shoot_spec_dump.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Unit test fix
  components/provisioner/internal/api/resolver_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Functions for dumping spec and graphql moved to testkit package
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/util/testkit/dump.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Fixes in GraphQL dump
  components/provisioner/internal/api/resolver.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Fixes in GraphQL dump
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/gardener/provisioner.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Added logging
  components/provisioner/internal/api/resolver.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Added logs for debugging
  components/provisioner/cmd/main.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Fixed issue with dumping GraphQL
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Fixed issue with dumping GraphQL
  components/provisioner/internal/api/resolver.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Introduced TestDataWriter
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/util/testkit/dump.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Compilation fix
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/gardener/provisioner_test.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Minor refactoring
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/gardener/provisioner.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Names of the dumped files aligned with KIM
  components/provisioner/internal/util/testkit/dump.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

feat: Saving Graphql mutation object to Persistent Volume (#3460)
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/util/testkit/dump.go
Due: pull-provisioner-build, post-provisioner-build, pre-control-plane-components-provisioner, pre-main-kcp-cli, pre-main-provisioner-e2e-tests

Bump image (GraphQL query dump)
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Bump image (GraphQL query dump) (#3463)
  resources/kcp/charts/provisioner/values.yaml
Due: pre-main-control-plane-gke-integration, pre-main-control-plane-gke-provisioner-integration, pre-main-control-plane-integration, pre-main-kcp-development-artifacts

Migrate schema-migrator pipelines
  .github/workflows/schema-migrator.yaml
Due: none

Migrate schema-migrator pipelines (#3464)
  .github/workflows/schema-migrator.yaml
Due: none

Update golang version in schema-migrator
  components/schema-migrator/Dockerfile
  components/schema-migrator/go.mod
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, pre-control-plane-validate-dockerfiles, pre-main-kcp-cli, pre-main-provisioner-whitesource-scan

Test
  .github/workflows/test.yaml
Due: none

Test
  components/schema-migrator/Dockerfile
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-control-plane-components-schema-migrator, pre-control-plane-validate-dockerfiles, pre-main-kcp-cli
