Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-cluster-infra:v20190528-8897828
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
          cpu: 50m
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Fix most of the issues from cr
  components/schema-migrator/migrations/director/202003041248_allow_tenant_deletion.down.sql
  components/schema-migrator/migrations/director/202003041248_allow_tenant_deletion.up.sql
  tests/director/api/tenants_api_test.go
  tests/director/go.mod
Due: none

Simplify tenant setup
  tests/director/api/application_api_test.go
  tests/director/api/eventing_test.go
  tests/director/api/fixtures_queries_test.go
  tests/director/api/labeling_api_test.go
  tests/director/api/main_test.go
  tests/director/api/runtime_api_test.go
  tests/director/api/tenant_setup.go
  tests/director/api/tenants_api_test.go
  tests/director/api/testctx.go
  tests/director/api/validation_test.go
Due: none

revert
  installation/scripts/testing.sh
Due: pre-master-compass-integration

Add default commerce app template and move gqlizer
  chart/compass/values.yaml
  components/director/internal/domain/apptemplate/converter.go
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/pkg/graphql/graphqlizer/fields.go
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
  components/director/pkg/graphql/graphqlizer/graphqlizer_test.go
  components/schema-migrator/migrations/director/202003041400_add_commerce_template.down.sql
  components/schema-migrator/migrations/director/202003041400_add_commerce_template.up.sql
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

remove empty line
  installation/scripts/testing.sh
Due: pre-master-compass-integration

Perform cleanup after integration tests (#917)
  chart/compass/templates/director-api-test.yaml
  chart/compass/values.yaml
  components/schema-migrator/migrations/director/202003041248_allow_tenant_deletion.down.sql
  components/schema-migrator/migrations/director/202003041248_allow_tenant_deletion.up.sql
  components/schema-migrator/seeds/director/add_tenants.sql
  tests/director/api/application_api_test.go
  tests/director/api/eventing_test.go
  tests/director/api/fixtures_queries_test.go
  tests/director/api/labeling_api_test.go
  tests/director/api/main_test.go
  tests/director/api/runtime_api_test.go
  tests/director/api/tenant_setup.go
  tests/director/api/tenants_api_test.go
  tests/director/api/testctx.go
  tests/director/api/validation_test.go
  tests/director/gen-examples.sh
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-compass-integration

Remove nodeCount field from KEB
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_validator_test.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/input/input_test.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/gcp_provider.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
Due: none

Update values.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration

Remove nodeCount field from KEB (#934)
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_validator_test.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/input/input_test.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/gcp_provider.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
Due: none

Add Support for Service Manager Creds Override Modes
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/values.yaml
  components/kyma-environment-broker/assets/sm.png
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/automock/provision_input_creator.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/sm_overrides.go
  components/kyma-environment-broker/internal/process/provisioning/sm_overrides_config.go
  components/kyma-environment-broker/internal/process/provisioning/sm_overrides_test.go
Due: pre-master-compass-integration

Apply fixes after review
  chart/compass/charts/kyma-environment-broker/values.yaml
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/process/provisioning/sm_overrides.go
  components/kyma-environment-broker/internal/process/provisioning/sm_overrides_config.go
  components/kyma-environment-broker/internal/process/provisioning/sm_overrides_test.go
Due: pre-master-compass-integration

Improve Azure Provisioning Step by adding installation overrides
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/README.md
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/provisioner.go
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/test.env
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/verify.sh
  components/kyma-environment-broker/internal/event-hub/azure/namespace.go
  components/kyma-environment-broker/internal/event-hub/event_hub_step.go
Due: none

extension of retry period for retrieve target secret name to 10 minutes
  chart/compass/charts/kyma-environment-broker/values.yaml
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds_test.go
Due: pre-master-compass-integration

build fix with go fmt format
  components/kyma-environment-broker/internal/process/provisioning/input/input_test.go
Due: none

remove AWS plan
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds.go
Due: none

Propagate artifacts environment variables in compass pipelines (#926)
  installation/scripts/prow/deploy-and-test.sh
  installation/scripts/testing.sh
Due: pre-master-compass-integration

Add migration with default commerce Application Template (#911)
  chart/compass/values.yaml
  components/director/internal/domain/apptemplate/converter.go
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/pkg/graphql/graphqlizer/fields.go
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
  components/director/pkg/graphql/graphqlizer/graphqlizer_test.go
  components/schema-migrator/migrations/director/202003041400_add_commerce_template.down.sql
  components/schema-migrator/migrations/director/202003041400_add_commerce_template.up.sql
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Move gqlizer to director
  chart/compass/values.yaml
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
  components/connectivity-adapter/internal/appregistry/appdetails/middleware.go
  components/connectivity-adapter/internal/appregistry/appdetails/middleware_test.go
  components/connectivity-adapter/internal/appregistry/director/cli.go
  components/connectivity-adapter/internal/appregistry/service/manager_factory.go
  components/director/examples/query-application-templates/query-application-templates.graphql
  tests/connectivity-adapter/go.mod
  tests/connectivity-adapter/go.sum
  tests/connectivity-adapter/test/testkit/director/client.go
  tests/director/api/application_templates_api_test.go
  tests/director/api/fixtures_request_test.go
  tests/director/api/testctx.go
  tests/director/gateway-integration/testctx.go
  tests/director/go.mod
  tests/director/go.sum
  tests/director/pkg/gql/fields.go
  tests/director/pkg/gql/graphqlizer.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Apply review comments v1
  docs/compass/02-03-app-runtime-flow.md
  docs/compass/03-02-labels.md
  docs/compass/assets/app-configuration-update.svg
  docs/compass/assets/runtime-configuration-update.svg
Due: none

Move a section
  docs/compass/03-02-labels.md
Due: none

fix small bug about logging resolved secret name
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds.go
Due: none

Add first test for eventhub step
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/event-hub/azure/namespace.go
  components/kyma-environment-broker/internal/event-hub/event_hub_step.go
  components/kyma-environment-broker/internal/event-hub/event_hub_step_test.go
Due: none

Disable azure client for now and start testing overrides
  components/kyma-environment-broker/internal/event-hub/event_hub_step.go
Due: none

Add Support for Service Manager Credentials Override Modes (#921)
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/values.yaml
  components/kyma-environment-broker/assets/sm.png
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/automock/provision_input_creator.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/sm_overrides.go
  components/kyma-environment-broker/internal/process/provisioning/sm_overrides_config.go
  components/kyma-environment-broker/internal/process/provisioning/sm_overrides_test.go
Due: pre-master-compass-integration

Align KEB chart with the one from Kyma repo
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/templates/pre-upgrade-job.yaml
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
Due: pre-master-compass-integration

Move gqlizer to director (#935)
  chart/compass/values.yaml
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
  components/connectivity-adapter/internal/appregistry/appdetails/middleware.go
  components/connectivity-adapter/internal/appregistry/appdetails/middleware_test.go
  components/connectivity-adapter/internal/appregistry/director/cli.go
  components/connectivity-adapter/internal/appregistry/service/manager_factory.go
  components/director/examples/query-application-templates/query-application-templates.graphql
  tests/connectivity-adapter/go.mod
  tests/connectivity-adapter/go.sum
  tests/connectivity-adapter/test/testkit/director/client.go
  tests/director/api/application_templates_api_test.go
  tests/director/api/fixtures_request_test.go
  tests/director/api/testctx.go
  tests/director/gateway-integration/testctx.go
  tests/director/go.mod
  tests/director/go.sum
  tests/director/pkg/gql/fields.go
  tests/director/pkg/gql/graphqlizer.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

fix import issues
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/event-hub/event_hub_step.go
Due: none

Delete even more not used code
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/util.go
Due: none

Test overrides
  components/kyma-environment-broker/internal/event-hub/event_hub_step.go
  components/kyma-environment-broker/internal/event-hub/event_hub_step_test.go
Due: none

Add/delete some comments
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/event-hub/event_hub_step.go
Due: none

Update e2e-provisioning.yaml
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning.yaml
Due: pre-master-compass-integration

Run Provisioner end-to-end test on Gardener (#613)
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/templates/tests/test-provisioner.yaml
  chart/compass/charts/provisioner/values.yaml
  chart/compass/values.yaml
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/scripts/entrypoint.sh
  tests/provisioner-tests/scripts/run_localy.sh
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/main_test.go
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/assertions/helpers.go
  tests/provisioner-tests/test/testkit/assertions/operation.go
  tests/provisioner-tests/test/testkit/compass/provisioner/client.go
  tests/provisioner-tests/test/testkit/compass/provisioner/graphqlizer.go
  tests/provisioner-tests/test/testkit/compass/provisioner/query.go
  tests/provisioner-tests/test/testkit/config.go
  tests/provisioner-tests/test/testkit/graphql/client.go
  tests/provisioner-tests/test/testkit/util.go
Due: pre-master-compass-integration

Apply rest of the review comments
  docs/compass/03-02-labels.md
Due: none

Add a tip
  docs/compass/03-02-labels.md
Due: none

Remove a line
  docs/compass/03-02-labels.md
Due: none

Fix provisioning parameter
  chart/compass/values.yaml
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
Due: pre-master-compass-integration

Hyperscaler credential pool proposal (#565)
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/templates/secrets.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/values.yaml
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/gardener/client.go
  components/kyma-environment-broker/internal/gardener/config.go
  components/kyma-environment-broker/internal/hyperscaler/account_pool.go
  components/kyma-environment-broker/internal/hyperscaler/account_pool_test.go
  components/kyma-environment-broker/internal/hyperscaler/account_provider.go
  components/kyma-environment-broker/internal/hyperscaler/account_provider_test.go
  components/kyma-environment-broker/internal/hyperscaler/automock/account_provider.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder.go
  components/kyma-environment-broker/internal/process/provisioning/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
Due: pre-master-compass-integration

Handle empty credentials for Packages
  chart/compass/values.yaml
  components/director/pkg/graphql/api_validation_test.go
  components/director/pkg/graphql/auth_validation.go
  components/director/pkg/graphql/auth_validation_test.go
  components/director/pkg/graphql/fetchrequest_validation_test.go
  components/director/pkg/graphql/package_validation_test.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/pkg/graphql/webhook_validation_test.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

cacert in compass to separate secret
  chart/compass/charts/connector/templates/certs-setup-job.yaml
  chart/compass/charts/gateway/templates/gateway-certs-mtls-cacert.yaml
  chart/compass/charts/gateway/templates/gateway-certs-mtls.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
