Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/

Minor refactoring
  tests/connectivity-adapter/test/testkit/director/client.go
Due: none

Increase timeout to 90 min
  tests/provisioner-tests/test/provisioner/suite.go
Due: none

Adapting provisioning broker endpoint to operations
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/automock/input_builder_for_plan.go
  components/kyma-environment-broker/internal/broker/automock/queue.go
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_integration_test.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/instance_last_operation.go
  components/kyma-environment-broker/internal/broker/instance_last_operation_test.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/services.go
  components/kyma-environment-broker/internal/broker/services_test.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/process/manager.go
  components/kyma-environment-broker/internal/process/provisioning/automock/optional_component_names_provider.go
  components/kyma-environment-broker/internal/process/provisioning/automock/optional_component_service.go
  components/kyma-environment-broker/internal/process/provisioning/builder.go
  components/kyma-environment-broker/internal/process/provisioning/builder_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/runtime_status.go
  components/kyma-environment-broker/internal/process/queue.go
Due: none

improve provisioning steps
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/manager.go
  components/kyma-environment-broker/internal/process/operation.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/runtime_status.go
  components/kyma-environment-broker/internal/process/queue.go
Due: none

Handle broker provisioning operation
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/dumper.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/instance_last_operation.go
  components/kyma-environment-broker/internal/broker/instance_last_operation_test.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/runtime_status.go
  components/kyma-environment-broker/internal/storage/dberr/errors.go
  components/kyma-environment-broker/internal/storage/dberr/errors_test.go
  components/kyma-environment-broker/internal/storage/dbsession/factory.go
  components/kyma-environment-broker/internal/storage/dbsession/read.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/ext.go
Due: none

Add steps test
  components/kyma-environment-broker/internal/broker/testdata/TestBrokerProvisioningScenario.golden.graphql
  components/kyma-environment-broker/internal/process/provisioning/automock/provisioner_client.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
Due: none

improve provisioner input creator
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/automock/plan_validator.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_integration_test.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/services_test.go
  components/kyma-environment-broker/internal/broker/testdata/TestBrokerProvisioningScenario.golden.graphql
  components/kyma-environment-broker/internal/broker/testdata/managed-runtime-components.yaml
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/manager.go
  components/kyma-environment-broker/internal/process/manager_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/init_input.go
  components/kyma-environment-broker/internal/process/provisioning/input/automock/optional_component_names_provider.go
  components/kyma-environment-broker/internal/process/provisioning/input/automock/optional_component_service.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/runtime_status.go
  components/kyma-environment-broker/internal/ptr/ptr.go
Due: none

Fix steps run method log argument interface
  components/kyma-environment-broker/internal/process/manager.go
  components/kyma-environment-broker/internal/process/manager_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/init_input.go
  components/kyma-environment-broker/internal/process/provisioning/runtime_status.go
Due: none

continue work on HAP integration with KEB
  chart/compass/values.yaml
  components/kyma-environment-broker/internal/broker/instance_create_integration_test.go
  components/kyma-environment-broker/internal/hyperscaler/hypescaler_step.go
  components/kyma-environment-broker/internal/model.go
  installation/cmd/run.sh
Due: pre-master-compass-integration

fix after rebase
  components/kyma-environment-broker/internal/broker/instance_create_integration_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/builder.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/input/input_test.go
Due: none

Retry syncing JWKS while token validation error
  components/director/internal/authenticator/export_test.go
  components/director/internal/authenticator/middleware.go
  components/director/internal/authenticator/middleware_test.go
  components/director/internal/authenticator/testdata/jwks-public2.json
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump Director image
  chart/compass/values.yaml
Due: pre-master-compass-integration

Connectivity adapter tests retry (#875)
  chart/compass/charts/connectivity-adapter/templates/tests/tests.yaml
  chart/compass/values.yaml
  tests/connectivity-adapter/go.mod
  tests/connectivity-adapter/go.sum
  tests/connectivity-adapter/test/api/connector_test.go
  tests/connectivity-adapter/test/testkit/config.go
  tests/connectivity-adapter/test/testkit/director/client.go
Due: pre-master-compass-integration

Add steps test - runtime status
  components/kyma-environment-broker/internal/process/provisioning/automock/director_client.go
  components/kyma-environment-broker/internal/process/provisioning/automock/provisioner_client.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/runtime_status.go
  components/kyma-environment-broker/internal/process/provisioning/runtime_status_test.go
  components/kyma-environment-broker/internal/provisioner/automock/client.go
  components/kyma-environment-broker/internal/provisioner/client.go
Due: none

Fix runtime config type assertion
  tests/provisioner-tests/test/provisioner/e2e_test.go
Due: none

Improve code after review
  chart/compass/values.yaml
  components/director/internal/authenticator/middleware.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Add PoC for Azure EventHubs Namespace provisioner
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/README.md
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/azure/cleanup.go
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/azure/config.go
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/azure/env.go
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/azure/group.go
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/azure/iam.go
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/azure/namespace.go
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/k8s/k8s.go
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/provisioner.go
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/test.env
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/verify.sh
Due: none

change superuser group name
  chart/compass/charts/director/static-groups.yaml
Due: pre-master-compass-integration

Fix typo in KEB values
  chart/compass/charts/kyma-environment-broker/values.yaml
Due: pre-master-compass-integration

Update README.md
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/README.md
Due: none

Change Kyma runtime version in KEB
  chart/compass/charts/kyma-environment-broker/values.yaml
Due: pre-master-compass-integration

Retry syncing JWKS while token validation error (#879)
  chart/compass/values.yaml
  components/director/internal/authenticator/export_test.go
  components/director/internal/authenticator/middleware.go
  components/director/internal/authenticator/middleware_test.go
  components/director/internal/authenticator/testdata/jwks-public2.json
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Apply suggestions from code review
  components/director/internal/domain/packageinstanceauth/service_test.go
  components/director/pkg/graphql/package_validation_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix integration tests
  chart/compass/values.yaml
  tests/director/api/validation_test.go
Due: pre-master-compass-integration

Implement RequestInstanceAuthCreation and SetPackageInstanceAuth
  chart/compass/values.yaml
  components/director/internal/domain/package/converter.go
  components/director/internal/domain/package/fixtures_test.go
  components/director/internal/domain/package/repository_test.go
  components/director/internal/domain/package/service_test.go
  components/director/internal/domain/packageinstanceauth/automock/converter.go
  components/director/internal/domain/packageinstanceauth/automock/package_service.go
  components/director/internal/domain/packageinstanceauth/automock/service.go
  components/director/internal/domain/packageinstanceauth/converter.go
  components/director/internal/domain/packageinstanceauth/converter_test.go
  components/director/internal/domain/packageinstanceauth/fixtures_test.go
  components/director/internal/domain/packageinstanceauth/resolver.go
  components/director/internal/domain/packageinstanceauth/resolver_test.go
  components/director/internal/domain/packageinstanceauth/service.go
  components/director/internal/domain/packageinstanceauth/service_test.go
  components/director/internal/model/package.go
  components/director/internal/model/package_instance_auth.go
  components/director/internal/model/package_instance_auth_test.go
  components/director/pkg/graphql/json.go
  components/director/pkg/graphql/json_schema.go
  components/director/pkg/graphql/json_schema_test.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/package_validation.go
  components/director/pkg/graphql/package_validation_test.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Adjust migrator and tenant fetcher jobs
  chart/compass/templates/migrator-job.yaml
  chart/compass/templates/tenant-fetcher-job.yaml
Due: pre-master-compass-integration

Add review fixes
  components/director/internal/domain/packageinstanceauth/automock/service.go
  components/director/internal/domain/packageinstanceauth/resolver.go
  components/director/internal/domain/packageinstanceauth/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix typo in KEB values; Bump Kyma Runtime version to 1.10.0 (#880)
  chart/compass/charts/kyma-environment-broker/values.yaml
Due: pre-master-compass-integration

Add Package Instance Auth creation request and auth set mutations (#874)
  chart/compass/templates/migrator-job.yaml
  chart/compass/templates/tenant-fetcher-job.yaml
  chart/compass/values.yaml
  components/director/internal/domain/package/converter.go
  components/director/internal/domain/package/fixtures_test.go
  components/director/internal/domain/package/repository_test.go
  components/director/internal/domain/package/service_test.go
  components/director/internal/domain/packageinstanceauth/automock/converter.go
  components/director/internal/domain/packageinstanceauth/automock/package_service.go
  components/director/internal/domain/packageinstanceauth/automock/service.go
  components/director/internal/domain/packageinstanceauth/converter.go
  components/director/internal/domain/packageinstanceauth/converter_test.go
  components/director/internal/domain/packageinstanceauth/fixtures_test.go
  components/director/internal/domain/packageinstanceauth/resolver.go
  components/director/internal/domain/packageinstanceauth/resolver_test.go
  components/director/internal/domain/packageinstanceauth/service.go
  components/director/internal/domain/packageinstanceauth/service_test.go
  components/director/internal/model/package.go
  components/director/internal/model/package_instance_auth.go
  components/director/internal/model/package_instance_auth_test.go
  components/director/pkg/graphql/json.go
  components/director/pkg/graphql/json_schema.go
  components/director/pkg/graphql/json_schema_test.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/package_validation.go
  components/director/pkg/graphql/package_validation_test.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  tests/director/api/validation_test.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Add CR's fixes batch
  tests/e2e/provisioning/internal/director/client.go
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
Due: none

Fix passing director client containing sync.Mutex
  tests/e2e/provisioning/internal/director/client.go
  tests/e2e/provisioning/pkg/client/runtime/runtime_client.go
  tests/e2e/provisioning/test/test_suite.go
Due: none

Fix error 'read on closed response body'
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
Due: none

Apply the review comments
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/k8s/k8s.go
  components/kyma-environment-broker/cmd/poc-eventhubs-provisioner/provisioner.go
Due: none

Use machine D4_v3
  tests/provisioner-tests/test/testkit/util.go
Due: none

running go imports
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/builder.go
  components/kyma-environment-broker/internal/broker/builder_test.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_integration_test.go
  components/kyma-environment-broker/internal/model.go
Due: none

Group user login (#824)
  chart/compass/charts/director/static-groups.yaml
  chart/compass/charts/director/templates/configmap-static-groups.yaml
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/internal/tenantmapping/automock/static_group_repository.go
  components/director/internal/tenantmapping/mapper_for_user.go
  components/director/internal/tenantmapping/mapper_for_user_test.go
  components/director/internal/tenantmapping/model.go
  components/director/internal/tenantmapping/model_test.go
  components/director/internal/tenantmapping/staticgroup.go
  components/director/internal/tenantmapping/staticgroup_test.go
  components/director/internal/tenantmapping/staticuser_test.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

fix
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/runtime_status.go
Due: none

Remove go.mod and go.sum from root directory (#876)
  go.mod
  go.sum
Due: none

Add static groups file for local run in director
  components/director/hack/static-groups-local.yaml
  components/director/run.sh
  tests/director/gen-examples.sh
Due: pre-master-compass-components-director, post-master-compass-components-director

Add static groups file for local run in director (#881)
  components/director/hack/static-groups-local.yaml
  components/director/run.sh
  tests/director/gen-examples.sh
Due: pre-master-compass-components-director, post-master-compass-components-director
