Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-integration-stable-cli: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

Fix after cr
  installation/cmd/run.sh
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add KEB provisioner client test (#1421)
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/internal/provisioner/automock/client.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/client_test.go
  components/kyma-environment-broker/internal/provisioner/fake_client.go
Due: none

fix run.sh
  installation/cmd/run.sh
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add KymaInstaller artifacts to Compass Artifacts (#1426)
  installation/cmd/run.sh
  installation/resources/installer-cr-kyma-dependencies.yaml
  installation/resources/installer-overrides-api-gateway.yaml
  installation/scripts/generate-compass-installer-artifacts.sh
  installation/scripts/installer.sh
  installation/scripts/is-kyma-installed.sh
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Test Compass GKE Int job
  installation/resources/KYMA_VERSION
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Unify values
  chart/compass/charts/oidc-kubeconfig-service/templates/deployment.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add temporary deepEqual
  components/kyma-environment-broker/internal/dto.go
Due: none

Update KEB to support extended Avs configuration
  chart/compass/charts/kyma-environment-broker/templates/_helpers.tpl
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/templates/secrets.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add KYMA_VERSION readme
  installation/resources/readme.md
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Experiment - move kubeconfig service from subchart to separate chart
  chart/compass/requirements.yaml
  chart/compass/values.yaml
  chart/oidc-kubeconfig-service/.helmignore
  chart/oidc-kubeconfig-service/Chart.yaml
  chart/oidc-kubeconfig-service/templates/_helpers.tpl
  chart/oidc-kubeconfig-service/templates/deployment.yaml
  chart/oidc-kubeconfig-service/templates/service.yaml
  chart/oidc-kubeconfig-service/templates/serviceaccount.yaml
  chart/oidc-kubeconfig-service/values.yaml
  installation/resources/installer-config-local.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

disable autoupdate for Gardener clusters
  components/provisioner/internal/model/gardener_config.go
Due: none

disable autoupdate
  components/provisioner/internal/model/gardener_config_test.go
Due: none

Experiment - cleanup
  chart/compass/charts/oidc-kubeconfig-service/.helmignore
  chart/compass/charts/oidc-kubeconfig-service/Chart.yaml
  chart/compass/charts/oidc-kubeconfig-service/templates/_helpers.tpl
  chart/compass/charts/oidc-kubeconfig-service/templates/deployment.yaml
  chart/compass/charts/oidc-kubeconfig-service/templates/service.yaml
  chart/compass/charts/oidc-kubeconfig-service/templates/serviceaccount.yaml
  chart/compass/charts/oidc-kubeconfig-service/values.yaml
  chart/compass/requirements.yaml
  chart/compass/values.yaml
  chart/oidc-kubeconfig-service/templates/deployment.yaml
  chart/oidc-kubeconfig-service/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Update readme
  installation/resources/readme.md
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Fix headers
  installation/resources/readme.md
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Disable autoupdate for Gardener clusters (#1437)
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
Due: none

Update KEB to support extended Avs configuration (#1435)
  chart/compass/charts/kyma-environment-broker/templates/_helpers.tpl
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/templates/secrets.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Update to alpine-3.12
  components/connectivity-adapter/Dockerfile
  components/connector/Dockerfile
  components/director/Dockerfile
  components/external-services-mock/Dockerfile
  components/gateway/Dockerfile
  components/healthchecker/Dockerfile
  components/kyma-environment-broker/Dockerfile
  components/metris/Dockerfile
  components/pairing-adapter/Dockerfile
  components/provisioner/Dockerfile
  components/schema-migrator/Dockerfile
Due: pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway

Bump values.yaml and kubectl image
  chart/compass/templates/agent-configuration-job.yaml
  chart/compass/templates/registration-job.yaml
  chart/compass/values.yaml
  components/kyma-environment-broker/internal/runtime/testdata/kyma-installer-cluster.yaml
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/tiller.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Show only initialized tenants in compass cockpit (#1431)
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

fix docs
  docs/director/03-error-handling.md
Due: none

Cleanup values
  chart/oidc-kubeconfig-service/values.yaml
  installation/resources/installer-config-local.yaml.tpl
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Fix typo
  installation/resources/installer-config-local.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

add usage of helpers to repository and fix tests`
  chart/compass/values.yaml
  components/director/internal/domain/labeldef/entity.go
  components/director/internal/domain/labeldef/repository.go
  components/director/internal/domain/labeldef/repository_test.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

add usage of helpers to repository and fix tests` (#1415)
  chart/compass/values.yaml
  components/director/internal/domain/labeldef/entity.go
  components/director/internal/domain/labeldef/repository.go
  components/director/internal/domain/labeldef/repository_test.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

Update installation/resources/readme.md
  installation/resources/readme.md
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Fix after cr
  installation/resources/readme.md
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Change list to a table
  installation/resources/readme.md
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add s
  installation/resources/readme.md
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Review fix
  components/kubeconfig-service/pkg/authn/middleware.go
  components/kubeconfig-service/pkg/authn/middleware_test.go
Due: none

Update base images to alpine-3.12 (#1434)
  chart/compass/templates/agent-configuration-job.yaml
  chart/compass/templates/registration-job.yaml
  chart/compass/values.yaml
  components/connectivity-adapter/Dockerfile
  components/connector/Dockerfile
  components/director/Dockerfile
  components/external-services-mock/Dockerfile
  components/gateway/Dockerfile
  components/healthchecker/Dockerfile
  components/kyma-environment-broker/Dockerfile
  components/kyma-environment-broker/internal/runtime/testdata/kyma-installer-cluster.yaml
  components/metris/Dockerfile
  components/pairing-adapter/Dockerfile
  components/provisioner/Dockerfile
  components/schema-migrator/Dockerfile
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/tiller.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway

add apperrors to auth middleware
  chart/compass/values.yaml
  components/director/internal/authenticator/middleware.go
  components/director/internal/authenticator/middleware_test.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

Update codeowners, make values more transparent
  CODEOWNERS
  chart/oidc-kubeconfig-service/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

add apperrors to auth middleware (#1430)
  chart/compass/values.yaml
  components/director/internal/authenticator/middleware.go
  components/director/internal/authenticator/middleware_test.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

revert image
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Update kyma cli usage with the new flag
  installation/cmd/run.sh
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Apply suggestions from code review
  installation/resources/readme.md
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli
