Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/

Add comment for URL in OAuthCredentialData
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix service test
  components/director/internal/domain/oauth20/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update scopes configuration
  chart/compass/charts/director/config.yaml
  chart/compass/charts/director/scopes.yaml
  chart/compass/charts/director/templates/configmap.yaml
  chart/compass/charts/director/templates/deployment.yaml
  components/director/hack/scopesdecorator/plugin.go
  components/director/internal/domain/oauth20/resolver.go
  components/director/internal/domain/oauth20/service.go
  components/director/internal/domain/systemauth/resolver_test.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Fix configmap name
  chart/compass/charts/director/templates/deployment.yaml
Due: pre-master-compass-integration

Check error from io.Copy
  components/director/internal/domain/oauth20/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Improve code after review
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/templates/test.yaml
  chart/compass/values.yaml
  components/director/README.md
  components/director/cmd/main.go
  components/director/hack/scopesdecorator/testdata/expected.graphql
  components/director/internal/domain/oauth20/automock/service.go
  components/director/internal/domain/oauth20/config.go
  components/director/internal/domain/oauth20/resolver.go
  components/director/internal/domain/oauth20/resolver_test.go
  components/director/internal/domain/oauth20/service.go
  components/director/internal/domain/oauth20/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/systemauth/automock/o_auth20_service.go
  components/director/internal/domain/systemauth/resolver.go
  components/director/internal/domain/systemauth/resolver_test.go
  components/director/run.sh
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/director/testctx.go
  tests/end-to-end/gen-examples.sh
  tests/end-to-end/run.sh
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Update GraphQL schema
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Provisioner now using non-mock resolver
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/templates/role-binding.yaml
  components/provisioner/Gopkg.lock
  components/provisioner/cmd/main.go
Due: pre-master-compass-integration

Update the docs
  README.md
  docs/README.md
  docs/architecture/assets/architecture.svg
  docs/architecture/assets/components-high-level.svg
  docs/architecture/assets/components.svg
  docs/architecture/assets/grouping.svg
  docs/architecture/assets/scenarios.svg
  docs/architecture/basic-architecture.md
  docs/architecture/components.md
  docs/architecture/high-level-components.md
  docs/architecture/mp-components.md
Due: none

Create missing tests
  components/director/internal/domain/systemauth/resolver_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add logic
  chart/compass/charts/director/config.yaml
  chart/compass/values.yaml
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/integrationsystem/automock/converter.go
  components/director/internal/domain/integrationsystem/automock/integration_system_converter.go
  components/director/internal/domain/integrationsystem/automock/integration_system_repository.go
  components/director/internal/domain/integrationsystem/automock/integration_system_service.go
  components/director/internal/domain/integrationsystem/automock/system_auth_converter.go
  components/director/internal/domain/integrationsystem/automock/system_auth_service.go
  components/director/internal/domain/integrationsystem/automock/uid_service.go
  components/director/internal/domain/integrationsystem/converter.go
  components/director/internal/domain/integrationsystem/converter_test.go
  components/director/internal/domain/integrationsystem/entity.go
  components/director/internal/domain/integrationsystem/fixtures_test.go
  components/director/internal/domain/integrationsystem/repository.go
  components/director/internal/domain/integrationsystem/repository_test.go
  components/director/internal/domain/integrationsystem/resolver.go
  components/director/internal/domain/integrationsystem/resolver_test.go
  components/director/internal/domain/integrationsystem/service.go
  components/director/internal/domain/integrationsystem/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/model/integrationsystem.go
  components/director/internal/model/integrationsystem_test.go
  components/director/pkg/graphql/config.yaml
  components/director/pkg/graphql/integration_system.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/schema-migrator/migrations/201910111320_add_description_to_int_sys.down.sql
  components/schema-migrator/migrations/201910111320_add_description_to_int_sys.up.sql
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Adjust Integration System service interface
  components/director/internal/domain/oauth20/automock/integration_system_service.go
  components/director/internal/domain/oauth20/resolver.go
  components/director/internal/domain/oauth20/resolver_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add Integration System domain and GQL types (#358)
  chart/compass/charts/director/config.yaml
  chart/compass/values.yaml
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/integrationsystem/automock/converter.go
  components/director/internal/domain/integrationsystem/automock/integration_system_converter.go
  components/director/internal/domain/integrationsystem/automock/integration_system_repository.go
  components/director/internal/domain/integrationsystem/automock/integration_system_service.go
  components/director/internal/domain/integrationsystem/automock/system_auth_converter.go
  components/director/internal/domain/integrationsystem/automock/system_auth_service.go
  components/director/internal/domain/integrationsystem/automock/uid_service.go
  components/director/internal/domain/integrationsystem/converter.go
  components/director/internal/domain/integrationsystem/converter_test.go
  components/director/internal/domain/integrationsystem/entity.go
  components/director/internal/domain/integrationsystem/fixtures_test.go
  components/director/internal/domain/integrationsystem/repository.go
  components/director/internal/domain/integrationsystem/repository_test.go
  components/director/internal/domain/integrationsystem/resolver.go
  components/director/internal/domain/integrationsystem/resolver_test.go
  components/director/internal/domain/integrationsystem/service.go
  components/director/internal/domain/integrationsystem/service_test.go
  components/director/internal/domain/oauth20/automock/integration_system_service.go
  components/director/internal/domain/oauth20/resolver.go
  components/director/internal/domain/oauth20/resolver_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/model/integrationsystem.go
  components/director/internal/model/integrationsystem_test.go
  components/director/pkg/graphql/config.yaml
  components/director/pkg/graphql/integration_system.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/schema-migrator/migrations/201910111320_add_description_to_int_sys.down.sql
  components/schema-migrator/migrations/201910111320_add_description_to_int_sys.up.sql
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Fix authenticator tests
  components/director/internal/authenticator/middleware_test.go
  components/director/internal/authenticator/testdata/invalid.json
Due: pre-master-compass-components-director, post-master-compass-components-director

Add retries and timeout to Hydrators (#371)
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration

Provide invalid xml file
  components/director/internal/authenticator/testdata/invalid.json
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix authenticator tests in director component (#377)
  components/director/internal/authenticator/middleware_test.go
  components/director/internal/authenticator/testdata/invalid.json
Due: pre-master-compass-components-director, post-master-compass-components-director

Refactoring plus unit test for Persistence service
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/persistence/dbsession/factory.go
  components/provisioner/internal/persistence/dbsession/mocks/Factory.go
  components/provisioner/internal/persistence/dbsession/mocks/ReadSession.go
  components/provisioner/internal/persistence/dbsession/mocks/WriteSession.go
  components/provisioner/internal/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
  components/provisioner/internal/persistence/dbsession/read.go
  components/provisioner/internal/persistence/dbsession/write.go
  components/provisioner/internal/persistence/operation.go
  components/provisioner/internal/persistence/runtime.go
  components/provisioner/internal/persistence/runtime_test.go
  components/provisioner/internal/provisioning/converters.go
  components/provisioner/internal/provisioning/converters_test.go
  components/provisioner/internal/provisioning/service.go
Due: none

Add not equal operator
  components/director/internal/domain/label/translator.go
Due: pre-master-compass-components-director, post-master-compass-components-director

bumb values
  chart/compass/values.yaml
Due: pre-master-compass-integration

Compilation fix
  components/provisioner/Gopkg.lock
  components/provisioner/before-commit.sh
  components/provisioner/cmd/init.go
  components/provisioner/internal/persistence/database/schema_initializer.go
  components/provisioner/internal/persistence/dbsession/factory.go
  components/provisioner/internal/persistence/dbsession/mocks/Factory.go
  components/provisioner/internal/persistence/dbsession/mocks/ReadSession.go
  components/provisioner/internal/persistence/dbsession/mocks/WriteSession.go
  components/provisioner/internal/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
  components/provisioner/internal/persistence/dbsession/write.go
  components/provisioner/internal/persistence/mocks/RuntimeService.go
  components/provisioner/internal/persistence/runtime.go
  components/provisioner/internal/persistence/runtime_test.go
  components/provisioner/internal/provisioning/converters_test.go
Due: none

Add partial updates investigation
  docs/README.md
  docs/investigations/graphql-partial-updates/graphql-partial-updates.md
Due: none

Operation files in model renamed
  components/provisioner/internal/model/types.go
  components/provisioner/internal/persistence/database/schema_initializer.go
  components/provisioner/internal/persistence/dbsession/write.go
  components/provisioner/internal/persistence/runtime.go
  components/provisioner/internal/persistence/runtime_test.go
  components/provisioner/internal/provisioning/converters.go
  components/provisioner/internal/provisioning/converters_test.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

Add decision
  docs/README.md
  docs/investigations/graphql-complex-updates/graphql-complex-updates.md
Due: none

Rename conclusion section to summary and add new conclusion
  docs/README.md
  docs/investigations/graphql-complex-updates/graphql-complex-updates.md
Due: none

Compilation fix
  components/provisioner/Dockerfile
  components/provisioner/before-commit.sh
Due: none

Mocks fixed to use pointer method receivers plus fixes in dependencies
  components/provisioner/Gopkg.lock
  components/provisioner/cmd/main.go
  components/provisioner/internal/hydroform/client.go
  components/provisioner/internal/hydroform/mocks/Client.go
  components/provisioner/internal/persistence/database/schema_initializer.go
  components/provisioner/internal/persistence/dbsession/factory.go
  components/provisioner/internal/persistence/mocks/OperationService.go
  components/provisioner/internal/persistence/operation.go
  components/provisioner/internal/persistence/runtime.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

Fix retries config
  chart/compass/values.yaml
Due: pre-master-compass-integration

Missing method calls added to resolver and provisioning.service
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/provisioning/service.go
Due: none

Fix getting System Auths
  components/director/internal/domain/oauth20/automock/system_auth_service.go
  components/director/internal/domain/oauth20/resolver.go
  components/director/internal/domain/oauth20/resolver_test.go
  components/director/internal/domain/systemauth/automock/system_auth_service.go
  components/director/internal/domain/systemauth/resolver.go
  components/director/internal/domain/systemauth/resolver_test.go
  components/director/internal/domain/systemauth/service.go
  components/director/internal/domain/systemauth/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add api definition resolver
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add api definition resolver
  chart/compass/charts/director/scopes.yaml
  components/director/internal/domain/api/resolver_test.go
  components/director/internal/domain/eventapi/resolver.go
  components/director/internal/domain/eventapi/resolver_test.go
  components/director/internal/domain/root_resolver.go
  tests/end-to-end/director/api_definitions_api_test.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Schema updated and missing methods implemented
  components/provisioner/internal/api/mockresolver.go
  components/provisioner/internal/api/mockresolver_test.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/persistence/runtime_test.go
  components/provisioner/internal/provisioning/converters.go
  components/provisioner/internal/provisioning/converters_test.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: none

Add log for connecting to DB
  components/director/internal/persistence/persistence.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump Director
  chart/compass/values.yaml
Due: pre-master-compass-integration

Add fixes after CR
  docs/README.md
  docs/investigations/graphql-complex-updates/graphql-complex-updates.md
Due: none

Remove new line
  docs/investigations/graphql-complex-updates/graphql-complex-updates.md
Due: none

Fixed the config.yaml file
  chart/compass/charts/director/config.yaml
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Compilation fix
  components/provisioner/internal/provisioning/converters_test.go
Due: none
