Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

pre-master-compass-development-artifacts:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20190604-d08e7fe
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build-compass-development-artifacts.sh
  ...

pre-master-compass-gke-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20200817-1.14.0-rc1-75-g625c1054-k8s1.16
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Revert change
  components/tenant-fetcher/cmd/main.go
Due: none

Update ops controller version
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Update e2e tests as well
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fix account creation (#1782)
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/pkg/authenticator/key_iterator.go
  components/tenant-fetcher/go.mod
  components/tenant-fetcher/go.sum
  components/tenant-fetcher/internal/authenticator/middleware.go
  components/tenant-fetcher/internal/authenticator/middleware_test.go
  components/tenant-fetcher/internal/tenant/handler.go
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Fix pre-compass-components-director
  components/director/pkg/operation/directive_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Adapt logging library in Connectivity Adapter (#1791)
  chart/compass/values.yaml
  components/connectivity-adapter/cmd/main.go
  components/connectivity-adapter/internal/appregistry/appdetails/middleware.go
  components/connectivity-adapter/internal/appregistry/appdetails/middleware_test.go
  components/connectivity-adapter/internal/appregistry/appregistry.go
  components/connectivity-adapter/internal/appregistry/service/handler.go
  components/connectivity-adapter/internal/appregistry/service/handler_test.go
  components/connectivity-adapter/internal/connectorservice/api/certificates.go
  components/connectivity-adapter/internal/connectorservice/api/certificates_test.go
  components/connectivity-adapter/internal/connectorservice/api/info.go
  components/connectivity-adapter/internal/connectorservice/api/info_test.go
  components/connectivity-adapter/internal/connectorservice/api/revocations.go
  components/connectivity-adapter/internal/connectorservice/api/revocations_test.go
  components/connectivity-adapter/internal/connectorservice/connector.go
  components/connectivity-adapter/pkg/res/success.go
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Allow system ops if no webhooks available (#1766)
  chart/compass/values.yaml
  components/director/pkg/operation/directive.go
  components/director/pkg/operation/directive_test.go
  components/operations-controller/api/v1alpha1/operation_types.go
  components/operations-controller/controllers/assertions_test.go
  components/operations-controller/controllers/operation_controller.go
  components/operations-controller/controllers/operation_controller_test.go
  components/operations-controller/go.mod
  components/operations-controller/go.sum
  components/operations-controller/internal/k8s/status/manager.go
  components/operations-controller/internal/k8s/status/manager_test.go
  tests/external-services-mock/tests/async_api_delete_test.go
  tests/go.mod
  tests/go.sum
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Adapt new e2e structure
  chart/compass/templates/tests/ord-aggregator/ord-aggregator-test.yaml
  chart/compass/values.yaml
  tests/Dockerfile
  tests/go.mod
  tests/go.sum
  tests/ord-aggregator/Dockerfile
  tests/ord-aggregator/Makefile
  tests/ord-aggregator/go.mod
  tests/ord-aggregator/go.sum
  tests/ord-aggregator/tests/handler_test.go
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Fix tests
  components/director/cmd/scopessynchronizer/main.go
  components/director/internal/domain/oauth20/service.go
  components/director/internal/scopesync/service.go
  tests/Makefile
  tests/director/tests/sensitive_data_strip_test.go
  tests/gateway/tests/compass_auth_test.go
  tests/gateway/tests/integration_system_scope_test.go
  tests/pkg/idtokenprovider/auth.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Fix build
  components/director/internal/scopesync/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix configuration
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Address PR comments
  components/director/cmd/director/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/eventing/service.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/automock/entity_converter.go
  components/director/internal/domain/runtime/converter.go
  components/director/internal/domain/runtime/entity.go
  components/director/internal/domain/runtime/entity_test.go
  components/director/internal/domain/runtime/repository.go
  components/director/internal/domain/runtime/repository_test.go
  components/director/internal/domain/runtime_context/repository_test.go
  tests/director/tests/application_api_test.go
  tests/pkg/fixtures/application_queries.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Use correct versions for unrelated components
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Add applicationId to tests
  tests/director/tests/application_api_test.go
Due: pre-compass-tests, post-compass-tests

Add tenant to test
  tests/director/tests/application_api_test.go
Due: pre-compass-tests, post-compass-tests

Extract common test function to pkg
  chart/compass/templates/tests/ord-aggregator/ord-aggregator-test.yaml
  tests/ord-aggregator/tests/handler_test.go
  tests/ord-aggregator/tests/main_test.go
  tests/ord-service/tests/api_test.go
  tests/pkg/request/make_request.go
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-tests, post-compass-tests

Edit comment
  components/external-services-mock/internal/ord-aggregator/template.go
Due: none

Make imports
  tests/ord-aggregator/tests/handler_test.go
  tests/ord-service/tests/api_test.go
  tests/pkg/request/make_request.go
Due: pre-compass-tests, post-compass-tests

Make imports
  components/external-services-mock/cmd/main.go
  components/external-services-mock/internal/ord-aggregator/handler.go
Due: none

Update values.yaml
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

get dexToken once in main_test.go
  tests/director/tests/application_api_test.go
  tests/director/tests/application_templates_api_test.go
  tests/director/tests/automatic_scenario_assignment_test.go
  tests/director/tests/bundle_api_test.go
  tests/director/tests/bundle_instance_auth_test.go
  tests/director/tests/eventing_test.go
  tests/director/tests/fetch_request_test.go
  tests/director/tests/integration_system_api_test.go
  tests/director/tests/labeling_api_test.go
  tests/director/tests/main_test.go
  tests/director/tests/oauth20_test.go
  tests/director/tests/runtime_api_test.go
  tests/director/tests/scopes_test.go
  tests/director/tests/tenants_api_test.go
  tests/director/tests/token_api_test.go
  tests/director/tests/validation_test.go
Due: pre-compass-tests, post-compass-tests

get dexToken once in external-services-mock/main_test.go
  tests/external-services-mock/tests/async_api_delete_test.go
  tests/external-services-mock/tests/auditlog_integration_test.go
  tests/external-services-mock/tests/fetch_request_test.go
  tests/external-services-mock/tests/main_test.go
Due: pre-compass-tests, post-compass-tests

get dexToken once in gateway/main_test.go
  tests/gateway/tests/automatic_status_update_test.go
  tests/gateway/tests/compass_auth_test.go
  tests/gateway/tests/integration_system_scope_test.go
  tests/gateway/tests/main_test.go
  tests/gateway/tests/playground_test.go
  tests/gateway/tests/tenants_test.go
  tests/gateway/tests/viewer_test.go
Due: pre-compass-tests, post-compass-tests

fix deploy-test-on-minikube target
  tests/Makefile
Due: pre-compass-tests, post-compass-tests

fix run target
  tests/connectivity-adapter/Makefile
  tests/connector/Makefile
  tests/director/Makefile
  tests/external-services-mock/Makefile
  tests/gateway/Makefile
  tests/operations-controller/Makefile
  tests/ord-service/Makefile
  tests/system-broker/Makefile
  tests/tenant-fetcher/Makefile
Due: pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

update PR version for e2e-test
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

make imports
  tests/external-services-mock/tests/async_api_delete_test.go
Due: pre-compass-tests, post-compass-tests

Address pr comments
  components/director/internal/domain/application/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Create API entryPoints view
  components/schema-migrator/migrations/director/20210317104233_adopt_ord_rc2.down.sql
  components/schema-migrator/migrations/director/20210317104233_adopt_ord_rc2.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

[HOTFIX] Fix account creation
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/pkg/authenticator/key_iterator.go
  components/tenant-fetcher/go.mod
  components/tenant-fetcher/go.sum
  components/tenant-fetcher/internal/authenticator/middleware.go
  components/tenant-fetcher/internal/authenticator/middleware_test.go
  components/tenant-fetcher/internal/tenant/handler.go
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Update components version
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

delete leftovers
  tests/director/tests/main_test.go
  tests/go.sum
Due: pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Refactor code and adapt unit tests
  components/director/cmd/scopessynchronizer/main.go
  components/director/internal/domain/systemauth/repository.go
  components/director/internal/scopes_sync/automock/o_auth_service.go
  components/director/internal/scopes_sync/automock/system_auth_repo.go
  components/director/internal/scopes_sync/service.go
  components/director/internal/scopes_sync/service_test.go
  components/director/internal/scopesync/service_test.go
  tests/director/tests/sensitive_data_strip_test.go
  tests/pkg/fixtures/application_template_requests.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

fix import
  tests/external-services-mock/tests/async_api_delete_test.go
  tests/go.mod
  tests/go.sum
Due: pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Address pr comments
  chart/compass/values.yaml
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  tests/director/tests/application_api_test.go
  tests/director/tests/labeling_api_test.go
  tests/pkg/fixtures/application_queries.go
  tests/pkg/tenant/tenant_setup.go
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Add EnvoyFilter for request payload size limiting.
  chart/compass/templates/limit-request-payload-size.yaml
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Add test for calling compass gateway with too big request payload size.
  chart/compass/templates/tests/istio/istio-test.yaml
  tests/Dockerfile
  tests/Makefile
  tests/istio/Makefile
  tests/istio/tests/main_test.go
  tests/istio/tests/request_payload_limit_test.go
  tests/pkg/config/istio.go
  tests/pkg/fixtures/big_requests.go
  tests/pkg/gql/gqlclient.go
  tests/pkg/idtokenprovider/idtokenprovider.go
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-tests, post-compass-tests

log request id in timeout handler
  components/director/pkg/handler/timeout_handler.go
  components/director/pkg/log/request.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add test for calling compass MTLS gateway with too big request payload size.
  tests/istio/tests/request_payload_limit_test.go
  tests/pkg/authentication/cert.go
  tests/system-broker/tests/auth_test.go
Due: pre-compass-tests, post-compass-tests

Path conditions:
  pre-master-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-master-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
