Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-master-provisioner-whitesource-scan

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20190823-24e14d1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-master-compass-integration-stable-cli:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20190823-24e14d1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

make fmt-local
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/event_hub_step.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step.go
Due: none

Add convention about deprovisioning to documentation
  components/kyma-environment-broker/internal/process/deprovision_operation.go
  components/kyma-environment-broker/internal/process/deprovision_operation_test.go
  docs/kyma-environment-broker/03-03-runtime-provisioning-and-deprovisioning.md
Due: none

Update gopkg.in/yaml.v2 package (#1156)
  chart/compass/values.yaml
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
  components/connector/Gopkg.lock
  components/connector/Gopkg.toml
  components/director/go.mod
  components/director/go.sum
  components/gateway/go.mod
  components/gateway/go.sum
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/pairing-adapter/go.mod
  components/pairing-adapter/go.sum
  components/provisioner/go.mod
  components/provisioner/go.sum
  tests/connectivity-adapter/go.mod
  tests/connectivity-adapter/go.sum
  tests/connector-tests/Gopkg.lock
  tests/connector-tests/Gopkg.toml
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-provisioner-whitesource-scan

Apply fixes after review
  components/kyma-environment-broker/internal/appinfo/dto.go
  components/kyma-environment-broker/internal/appinfo/runtime_info.go
  components/kyma-environment-broker/internal/storage/dbsession/factory.go
  components/kyma-environment-broker/internal/storage/dbsession/read.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/schema-migrator/migrations/kyma-environment-broker/202004032115_add_additonal_runtime_info.up.sql
Due: none

Update buildpack to have Go 1.13.x
  components/kyma-environment-broker/Makefile
Due: none

Push first working version of deleting resource group by tag
  components/kyma-environment-broker/internal/hyperscaler/azure/client.go
  components/kyma-environment-broker/internal/hyperscaler/azure/client_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/event_hub_step.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
Due: none

Fix chart variable name
  chart/compass/charts/connector/templates/deployment.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Apply suggestions from code review
  tests/e2e/provisioning/pkg/client/v1_client/configmap.go
  tests/e2e/provisioning/pkg/client/v1_client/secret.go
Due: none

after review
  tests/e2e/provisioning/pkg/client/runtime/runtime_client.go
  tests/e2e/provisioning/pkg/client/v1_client/configmap.go
Due: none

Make Connectors secrets keys configurable (#1162)
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/values.yaml
  components/connector/config/components.go
  components/connector/config/config.go
  components/connector/internal/certificates/service.go
  components/connector/internal/certificates/service_test.go
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector

after review
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Update components/kyma-environment-broker/internal/process/deprovision_operation.go
  components/kyma-environment-broker/internal/process/deprovision_operation.go
Due: none

after review
  tests/e2e/provisioning/README.md
Due: none

Update docs/kyma-environment-broker/03-03-runtime-provisioning-and-deprovisioning.md
  docs/kyma-environment-broker/03-03-runtime-provisioning-and-deprovisioning.md
Due: none

Apply suggestions from code review
  tests/e2e/provisioning/README.md
Due: none

Update tests/e2e/provisioning/README.md
  tests/e2e/provisioning/README.md
Due: none

Split e2e-provisioning test into two steps (#1139)
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  chart/compass/charts/kyma-environment-broker/templates/tests/rbac.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/values.yaml
  tests/e2e/provisioning/README.md
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
  tests/e2e/provisioning/pkg/client/runtime/runtime_client.go
  tests/e2e/provisioning/pkg/client/v1_client/configmap.go
  tests/e2e/provisioning/pkg/client/v1_client/secret.go
  tests/e2e/provisioning/test/e2e_provisioning_test.go
  tests/e2e/provisioning/test/test_suite.go
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add convention about deprovisioning to documentation (#1164)
  components/kyma-environment-broker/internal/process/deprovision_operation.go
  components/kyma-environment-broker/internal/process/deprovision_operation_test.go
  docs/kyma-environment-broker/03-03-runtime-provisioning-and-deprovisioning.md
Due: none

add implementation
  components/director/internal/domain/scenarioassignment/automock/assignment_engine.go
  components/director/internal/domain/scenarioassignment/automock/assignment_engine_service.go
  components/director/internal/domain/scenarioassignment/engine.go
  components/director/internal/domain/scenarioassignment/service.go
  components/director/internal/domain/scenarioassignment/service_test.go
  components/director/pkg/persistence/config.go
  components/director/pkg/persistence/config_test.go
  components/director/run.sh
  tests/director/api/automatic_scenario_assignment_test.go
  tests/director/api/fixtures_queries_test.go
  tests/director/api/main_test.go
  tests/director/gen-examples.sh
Due: pre-master-compass-components-director, post-master-compass-components-director

fix tests
  chart/compass/values.yaml
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/scenarioassignment/automock/assignment_engine.go
  components/director/internal/domain/scenarioassignment/engine.go
  components/director/internal/domain/scenarioassignment/engine_test.go
  components/director/internal/domain/scenarioassignment/service.go
  components/director/internal/domain/scenarioassignment/service_test.go
  tests/director/api/application_api_test.go
  tests/director/api/automatic_scenario_assignment_test.go
  tests/director/api/fixtures_queries_test.go
  tests/director/api/labeling_api_test.go
  tests/director/api/main_test.go
  tests/director/api/runtime_api_test.go
  tests/director/api/tenant_setup.go
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

fix run.sh
  components/director/run.sh
Due: pre-master-compass-components-director, post-master-compass-components-director

revert renaming
  tests/director/api/application_api_test.go
  tests/director/api/automatic_scenario_assignment_test.go
  tests/director/api/labeling_api_test.go
  tests/director/api/runtime_api_test.go
  tests/director/api/tenant_setup.go
Due: none

fix after review
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/scenarioassignment/automock/assignment_engine.go
  components/director/internal/domain/scenarioassignment/automock/repository.go
  components/director/internal/domain/scenarioassignment/engine.go
  components/director/internal/domain/scenarioassignment/engine_test.go
  components/director/internal/domain/scenarioassignment/repository.go
  components/director/internal/domain/scenarioassignment/repository_test.go
  components/director/internal/domain/scenarioassignment/service.go
  components/director/internal/domain/scenarioassignment/service_test.go
  tests/director/api/automatic_scenario_assignment_test.go
  tests/director/api/fixtures_queries_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Cleanup
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_integration_with_hydroform_test.go
  components/provisioner/internal/gardener/step_provisioning_in_progress.go
  components/provisioner/internal/installation/release/downloader.go
  components/provisioner/internal/operations/executor.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/install_kyma.go
  components/provisioner/internal/operations/stages/upgrade_kyma.go
  components/provisioner/internal/operations/stages/wait_for_installation.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
Due: none

Document provisioning steps
  docs/kyma-environment-broker/03-03-runtime-provisioning-and-deprovisioning.md
Due: none

Fix e2e-provisioning job
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  chart/compass/charts/kyma-environment-broker/templates/tests/rbac.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Trigger upgrade tests
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/installation_test.go
Due: none

Update Oathkeeper rules to allow port in host header
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Fix e2e-provisioning job (#1167)
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  chart/compass/charts/kyma-environment-broker/templates/tests/rbac.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

fix gomod
  tests/director/api/automatic_scenario_assignment_test.go
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-provisioner-whitesource-scan

Update Oathkeeper rules to allow port in host header (#1168)
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

fix adding new scenario
  components/director/internal/domain/label/repository.go
  components/director/internal/domain/label/repository_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/scenarioassignment/automock/label_repository.go
  components/director/internal/domain/scenarioassignment/engine.go
  components/director/internal/domain/scenarioassignment/engine_test.go
  components/director/internal/domain/scenarioassignment/service_test.go
  components/director/pkg/persistence/config.go
  components/director/pkg/persistence/config_test.go
  tests/director/api/automatic_scenario_assignment_test.go
  tests/director/api/fixtures_queries_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Adjust LMS timeouts
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/internal/lms/client.go
  components/kyma-environment-broker/internal/lms/client_int_test.go
  components/kyma-environment-broker/internal/lms/tenant.go
  components/kyma-environment-broker/internal/lms/tenant_test.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/lms_tenant_step.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
Due: none

fix tesst
  tests/director/api/automatic_scenario_assignment_test.go
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-provisioner-whitesource-scan

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-integration-stable-cli: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
