Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

pre-main-compass-development-artifacts:
  labels:
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-development-artifacts-bucket: 'true'
    preset-sa-gcr-push: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
  ...

pre-main-compass-gke-benchmark:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-gke-benchmark
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-cluster-version: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-gke-integration: 'true'
  ...

pre-main-compass-gke-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-gke-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-cluster-version: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-gke-integration: 'true'
  ...

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-main-compass-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

Add unit tests
  components/director/internal/authenticator/claims/automock/runtime_service.go
  components/director/pkg/certloader/automock/manager.go
  components/director/pkg/certloader/cache.go
  components/director/pkg/certloader/loader.go
  components/director/pkg/certloader/loader_test.go
  components/director/pkg/namespacedname/namespacedname.go
  components/director/pkg/namespacedname/namespacedname_test.go
  components/operations-controller/go.mod
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Fix ext svc mock test
  components/external-services-mock/internal/cert/handler_test.go
Due: pre-compass-components-external-services-mock, post-compass-components-external-services-mock

Add unit tests
  components/director/pkg/certloader/cache_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Leave Dex PeerAuth alone, patch kiali-server
  installation/scripts/prom-mtls-patch.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

fix aggregator chart
  chart/compass/templates/ord-aggregator-job.yaml
  installation/resources/installer-config-gke-integration.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Make imports & Bump PR versions
  chart/compass/values.yaml
  components/director/internal/domain/formation/service_test.go
  components/director/internal/domain/runtime/service_test.go
  components/director/internal/domain/scenarioassignment/engine.go
  components/director/internal/domain/tenant/repository.go
  components/director/internal/domain/tenant/repository_test.go
  components/director/internal/model/bundle_instance_auth_test.go
  components/director/internal/model/runtime_test.go
  components/director/internal/model/webhook_test.go
  components/director/internal/open_resource_discovery/interfaces.go
  components/director/internal/open_resource_discovery/service.go
  components/director/internal/open_resource_discovery/service_test.go
  components/director/internal/runtimemapping/handler_test.go
  components/director/internal/tenantfetchersvc/provisioner.go
  components/director/internal/tenantfetchersvc/subscriber.go
  components/director/internal/tenantfetchersvc/subscriber_test.go
  tests/director/tests/automatic_scenario_assignment_test.go
  tests/pkg/fixtures/label_definitions_queries.go
  tests/pkg/tenant/tenant_setup.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

enable metrics for local installation
  installation/resources/installer-config-local.yaml.tpl
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Add test for operations controller.
  chart/compass/templates/tests/external-services-mock/external-services-mock-test.yaml
  tests/external-services-mock/tests/async_api_delete_test.go
  tests/external-services-mock/tests/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-tests, post-compass-tests

Add gke benchmark overrides file
  installation/resources/installer-config-gke-benchmark.yaml.tpl
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

fix wrong symbol in overrides file
  installation/resources/installer-config-gke-integration.yaml.tpl
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Add gke benchmark overrides file (#2116)
  installation/resources/installer-config-gke-benchmark.yaml.tpl
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Remove duplicated code
  tests/system-fetcher/tests/handler_test.go
Due: pre-compass-tests, post-compass-tests

Regenerate mocks
  components/director/internal/domain/formation/automock/automatic_formation_assignment_service.go
  components/director/internal/domain/formation/automock/label_def_repository.go
  components/director/internal/domain/formation/automock/label_def_service.go
  components/director/internal/domain/formation/automock/label_repository.go
  components/director/internal/domain/formation/automock/label_service.go
  components/director/internal/domain/formation/automock/tenant_service.go
  components/director/internal/domain/formation/automock/uid_service.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formation/service_test.go
  components/director/internal/domain/runtime/automock/label_repository.go
  components/director/internal/domain/runtime/automock/label_upsert_service.go
  components/director/internal/domain/runtime/automock/runtime_repository.go
  components/director/internal/domain/runtime/automock/scenario_assignment_engine.go
  components/director/internal/domain/runtime/automock/scenarios_service.go
  components/director/internal/domain/runtime/automock/tenant_service.go
  components/director/internal/domain/runtime/automock/uid_service.go
  components/director/internal/domain/runtime/service.go
  components/director/internal/domain/runtime/service_test.go
  components/director/internal/domain/runtime_context/automock/entity_converter.go
  components/director/internal/domain/runtime_context/automock/label_repository.go
  components/director/internal/domain/runtime_context/automock/label_upsert_service.go
  components/director/internal/domain/runtime_context/automock/runtime_context_converter.go
  components/director/internal/domain/runtime_context/automock/runtime_context_repository.go
  components/director/internal/domain/runtime_context/automock/runtime_context_service.go
  components/director/internal/domain/runtime_context/automock/uid_service.go
  components/director/internal/domain/runtime_context/repository.go
  components/director/internal/domain/scenarioassignment/automock/asa_service.go
  components/director/internal/domain/scenarioassignment/automock/assignment_engine.go
  components/director/internal/domain/scenarioassignment/automock/entity_converter.go
  components/director/internal/domain/scenarioassignment/automock/gql_converter.go
  components/director/internal/domain/scenarioassignment/automock/label_repository.go
  components/director/internal/domain/scenarioassignment/automock/label_upsert_service.go
  components/director/internal/domain/scenarioassignment/automock/repository.go
  components/director/internal/domain/scenarioassignment/automock/runtime_repository.go
  components/director/internal/domain/scenarioassignment/automock/scenarios_def_service.go
  components/director/internal/domain/scenarioassignment/automock/tenant_service.go
  components/director/internal/domain/scenarioassignment/engine.go
  components/director/internal/domain/scenarioassignment/resolver.go
  components/director/internal/domain/scenarioassignment/resolver_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

edit adapter charts
  chart/compass/charts/ns-adapter/templates/deployment.yaml
  chart/compass/charts/ns-adapter/templates/rback.yaml
  chart/compass/charts/ns-adapter/templates/virtual-service.yaml
  chart/compass/charts/ns-adapter/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

add two request limit filters
  chart/compass/templates/filters/request-limit-filter-big-limit.yaml
  chart/compass/templates/filters/request-limit-filter-small-limit.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

refactor proxying requests to adapter in gateway
  components/gateway/cmd/main.go
  components/gateway/pkg/proxy/adptertransport.go
  components/gateway/pkg/proxy/proxy.go
Due: pre-compass-components-gateway, post-compass-components-gateway

edit gateway charts
  chart/compass/charts/gateway/templates/deployment.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

fix adapter configuration
  components/director/cmd/ns-adapter/main.go
  components/director/internal/nsadapter/adapter/configuration.go
Due: pre-master-compass-components-director, post-master-compass-components-director

add ORY rule
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

initial e2e tests
  tests/ns-adapter/Makefile
  tests/ns-adapter/tests/delta_report_test.go
  tests/ns-adapter/tests/full_report_test.go
  tests/ns-adapter/tests/main_test.go
Due: pre-compass-tests, post-compass-tests

add test tenants to values
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Comment out all unsecured in Kyma
  installation/scripts/prom-mtls-patch.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Adjust ord-aggregator job to use certificate cache
  chart/compass/charts/director/templates/external-certificate-rotation-job.yaml
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
  chart/compass/templates/ord-aggregator-job.yaml
  chart/compass/templates/system-fetcher-job.yaml
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/go.mod
  components/director/internal/domain/fetchrequest/service.go
  components/director/internal/domain/fetchrequest/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/open_resource_discovery/accessstrategy/access_strategy.go
  components/director/internal/open_resource_discovery/accessstrategy/automock/executor.go
  components/director/internal/open_resource_discovery/accessstrategy/cmp_mtls_access_strategy.go
  components/director/internal/open_resource_discovery/accessstrategy/executor_provider.go
  components/director/internal/open_resource_discovery/accessstrategy/open_access_strategy.go
  components/director/internal/open_resource_discovery/accessstrategy/open_access_strategy_test.go
  components/director/internal/open_resource_discovery/client.go
  components/director/internal/open_resource_discovery/client_test.go
  components/director/pkg/cert/certsvc_client.go
  components/director/pkg/cert/certsvc_client_test.go
  components/director/pkg/certloader/automock/manager.go
  components/director/pkg/certloader/cache.go
  components/director/pkg/certloader/loader.go
  components/operations-controller/go.mod
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Remove comments
  components/director/internal/open_resource_discovery/accessstrategy/executor_provider.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Rework move subaccount feature
  chart/compass/templates/tenant-fetcher-job.yaml
  chart/compass/values.yaml
  components/director/cmd/tenantfetcher-job/main.go
  components/director/hack/config-local.yaml
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/resolver_test.go
  components/director/internal/model/businesstenantmapping.go
  components/director/internal/tenantfetcher/automock/director_graph_ql_client.go
  components/director/internal/tenantfetcher/automock/event_api_client.go
  components/director/internal/tenantfetcher/automock/kube_client.go
  components/director/internal/tenantfetcher/automock/label_service.go
  components/director/internal/tenantfetcher/automock/metrics_pusher.go
  components/director/internal/tenantfetcher/automock/runtime_service.go
  components/director/internal/tenantfetcher/automock/tenant_sync_service.go
  components/director/internal/tenantfetcher/event_page.go
  components/director/internal/tenantfetcher/event_page_test.go
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantfetcher/service_test.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/pkg/graphql_client/director_client.go
  components/director/pkg/graphql_client/director_client_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

go mod update
  components/director/go.mod
  components/director/go.sum
  components/operations-controller/go.mod
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

update go.sum file
  tests/go.sum
Due: pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Fix e2e tests
  chart/compass/templates/tests/tenant-fetcher-job/tenant-fetcher-job-test.yaml
  tests/go.sum
  tests/pkg/k8s/jobs.go
  tests/tenant-fetcher-job/tests/handler_test.go
  tests/tenant-fetcher-job/tests/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Rename movedRuntime to movedSubaccount
  chart/compass/templates/tenant-fetcher-job.yaml
  chart/compass/values.yaml
  components/director/cmd/tenantfetcher-job/main.go
  components/director/internal/tenantfetcher/event_page.go
  components/director/internal/tenantfetcher/event_page_test.go
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantfetcher/service_test.go
  installation/resources/installer-config-gke-integration.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  tests/tenant-fetcher-job/tests/handler_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Adjust configuration
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/templates/ord-aggregator-job.yaml
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

use concrete version of the cronjob image
  chart/compass/charts/director/templates/external-certificate-rotation-job.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Add test for move subaccount with formation
  tests/pkg/k8s/jobs.go
  tests/tenant-fetcher-job/tests/handler_test.go
Due: pre-compass-tests, post-compass-tests

Fix syntax error
  chart/compass/charts/director/templates/external-certificate-rotation-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
