Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/

Adjust more views.
  components/schema-migrator/migrations/director/20210915134043_add_providers_to_views.down.sql
  components/schema-migrator/migrations/director/20210915134043_add_providers_to_views.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Adjust specifications view.
  components/schema-migrator/migrations/director/20210915134043_add_providers_to_views.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Add director url env variable
  chart/compass/templates/bench/ord-service/ord-service-bench.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Add director url to config
  tests/ord-service/bench/main_test.go
Due: pre-compass-tests, post-compass-tests

Tenant Fetcher job improvements (#2013)
  chart/compass/values.yaml
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantfetcher/service_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

add subscription consumer id property
  chart/compass/templates/tests/tenant-fetcher/tenant-fetcher-test.yaml
  tests/tenant-fetcher/tests/handler_test.go
  tests/tenant-fetcher/tests/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Change require len statement
  tests/ord-service/bench/system_bundles_test.go
Due: pre-compass-tests, post-compass-tests

fix e2e tests
  tests/tenant-fetcher/tests/handler_test.go
Due: pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Adjust require len statement
  tests/ord-service/bench/system_bundles_test.go
Due: pre-compass-tests, post-compass-tests

add new e2e test
  chart/compass/templates/tests/tenant-fetcher/tenant-fetcher-test.yaml
  tests/tenant-fetcher/tests/handler_test.go
  tests/tenant-fetcher/tests/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Handle labels array label values.
  components/schema-migrator/migrations/director/20210915134043_add_providers_to_views.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

add subscription flow e2e tests
  chart/compass/templates/tests/tenant-fetcher/tenant-fetcher-test.yaml
  tests/tenant-fetcher/tests/handler_test.go
  tests/tenant-fetcher/tests/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Add upsert and unsafe create tenant logic
  components/director/cmd/tenantfetcher-svc/main.go
  components/director/internal/domain/tenant/automock/tenant_mapping_repository.go
  components/director/internal/domain/tenant/converter.go
  components/director/internal/domain/tenant/repository.go
  components/director/internal/domain/tenant/repository_test.go
  components/director/internal/domain/tenant/service.go
  components/director/internal/domain/tenant/service_test.go
  components/director/internal/repo/unsafe_create.go
  components/director/internal/repo/unsafe_create_test.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/pkg/graphql/tenant.go
  components/director/run.sh
Due: pre-master-compass-components-director, post-master-compass-components-director

Use upserter in tenant fetcher job
  components/director/internal/tenantfetcher/automock/tenant_service.go
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantfetcher/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update director version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Add better comment for UnsafeCreate
  components/director/internal/domain/tenant/repository.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Minor improvements
  chart/compass/templates/bench/ord-service/ord-service-bench.yaml
  tests/ord-service/bench/system_bundles_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-tests, post-compass-tests

refactor code, add unit tests
  components/director/cmd/tenantfetcher-svc/main.go
  components/director/internal/tenantfetchersvc/automock/tenant_provisioner.go
  components/director/internal/tenantfetchersvc/automock/tenant_subscriber.go
  components/director/internal/tenantfetchersvc/handler.go
  components/director/internal/tenantfetchersvc/handler_test.go
  components/director/internal/tenantfetchersvc/provisioner.go
  components/director/internal/tenantfetchersvc/provisioner_test.go
  components/director/internal/tenantfetchersvc/subscriber.go
  components/director/internal/tenantfetchersvc/subscriber_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

make linter happy
  components/director/internal/tenantfetchersvc/handler.go
  components/director/internal/tenantfetchersvc/handler_test.go
  components/director/internal/tenantfetchersvc/subscriber.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Adress PR comments
  tests/ord-service/bench/system_bundles_test.go
  tests/ord-service/tests/api_test.go
  tests/pkg/clients/int_system_client.go
Due: pre-compass-tests, post-compass-tests

Adress PR comment
  tests/ord-service/bench/system_bundles_test.go
Due: pre-compass-tests, post-compass-tests

Increase appsCount to 15
  tests/ord-service/bench/system_bundles_test.go
Due: pre-compass-tests, post-compass-tests

Fix wrong order of down migrations.
  components/schema-migrator/migrations/director/20210915134043_add_providers_to_views.down.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Add benchmark test for ord-service (#2022)
  chart/compass/templates/bench/ord-service/ord-service-bench.yaml
  chart/compass/values.yaml
  tests/Dockerfile
  tests/ord-service/bench/main_test.go
  tests/ord-service/bench/system_bundles_test.go
  tests/ord-service/tests/api_test.go
  tests/pkg/clients/int_system_client.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-tests, post-compass-tests

apply review comments
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/templates/tests/tenant-fetcher/tenant-fetcher-test.yaml
  chart/compass/values.yaml
  components/director/cmd/tenantfetcher-svc/main.go
  components/director/internal/domain/runtime/repository.go
  components/director/internal/domain/runtime/service.go
  components/director/internal/tenantfetchersvc/handler.go
  components/director/internal/tenantfetchersvc/handler_test.go
  components/director/internal/tenantfetchersvc/subscriber.go
  components/director/internal/tenantfetchersvc/subscriber_test.go
  tests/tenant-fetcher/tests/handler_test.go
  tests/tenant-fetcher/tests/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

fix renaming
  components/director/internal/tenantfetchersvc/subscriber.go
  tests/tenant-fetcher/tests/handler_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

fix renaming for real
  components/director/internal/tenantfetchersvc/handler.go
  components/director/internal/tenantfetchersvc/handler_test.go
  components/director/internal/tenantfetchersvc/provisioner.go
  components/director/internal/tenantfetchersvc/subscriber.go
  components/director/internal/tenantfetchersvc/subscriber_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Apply review comments
  components/director/internal/domain/tenant/service.go
  components/director/internal/domain/tenant/service_test.go
  components/director/internal/repo/unsafe_create.go
  components/director/internal/tenantfetcher/automock/tenant_service.go
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantfetcher/service_test.go
  components/director/run.sh
Due: pre-master-compass-components-director, post-master-compass-components-director

Remove CTEs and use functions directly instead.
  components/schema-migrator/migrations/director/20210915134043_add_providers_to_views.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Fix test message
  components/director/internal/domain/tenant/repository_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

renaming
  components/director/internal/domain/label/query.go
  components/director/internal/domain/runtime/repository.go
  components/director/internal/tenantfetchersvc/subscriber.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Handle non-valid uuids
  components/schema-migrator/migrations/director/20210915134043_add_providers_to_views.down.sql
  components/schema-migrator/migrations/director/20210915134043_add_providers_to_views.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

subscription flows docs
  components/director/cmd/tenantfetcher-svc/README.md
Due: pre-master-compass-components-director, post-master-compass-components-director

subscription flows environment variables
  components/director/cmd/tenantfetcher-svc/README.md
Due: pre-master-compass-components-director, post-master-compass-components-director

Subscription flow labelling (#2023)
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/templates/tests/tenant-fetcher/tenant-fetcher-test.yaml
  chart/compass/values.yaml
  components/director/cmd/tenantfetcher-svc/main.go
  components/director/internal/domain/label/query.go
  components/director/internal/domain/runtime/automock/runtime_repository.go
  components/director/internal/domain/runtime/repository.go
  components/director/internal/domain/runtime/repository_test.go
  components/director/internal/domain/runtime/service.go
  components/director/internal/domain/runtime/service_test.go
  components/director/internal/tenantfetchersvc/automock/runtime_service.go
  components/director/internal/tenantfetchersvc/automock/tenant_provisioner.go
  components/director/internal/tenantfetchersvc/automock/tenant_subscriber.go
  components/director/internal/tenantfetchersvc/handler.go
  components/director/internal/tenantfetchersvc/handler_test.go
  components/director/internal/tenantfetchersvc/provisioner.go
  components/director/internal/tenantfetchersvc/provisioner_test.go
  components/director/internal/tenantfetchersvc/subscriber.go
  components/director/internal/tenantfetchersvc/subscriber_test.go
  tests/tenant-fetcher/tests/handler_test.go
  tests/tenant-fetcher/tests/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Make filtration in function.
  components/schema-migrator/migrations/director/20210915134043_add_providers_to_views.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Add Upsert logic for Tenants (#2026)
  chart/compass/values.yaml
  components/director/cmd/tenantfetcher-svc/main.go
  components/director/internal/domain/tenant/automock/tenant_mapping_repository.go
  components/director/internal/domain/tenant/converter.go
  components/director/internal/domain/tenant/repository.go
  components/director/internal/domain/tenant/repository_test.go
  components/director/internal/domain/tenant/service.go
  components/director/internal/domain/tenant/service_test.go
  components/director/internal/repo/unsafe_create.go
  components/director/internal/repo/unsafe_create_test.go
  components/director/internal/tenantfetcher/automock/tenant_service.go
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantfetcher/service_test.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/pkg/graphql/tenant.go
  components/director/run.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Update deps in system-broker
  components/system-broker/go.mod
  components/system-broker/go.sum
Due: pre-compass-components-system-broker, post-compass-components-system-broker, pre-master-provisioner-whitesource-scan

Improve documentation
  components/director/cmd/tenantfetcher-svc/README.md
Due: pre-master-compass-components-director, post-master-compass-components-director
