Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/

Add parameter to configure TLS skip
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/values.yaml
Due: pre-master-compass-integration

Fix goimports
  tests/provisioner-tests/test/provisioner/e2e_test.go
Due: none

Cosmetic changes
  tests/provisioner-tests/test/provisioner/e2e_test.go
Due: none

Iniatl refactor
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/util.go
Due: none

Add printf for debug
  tests/provisioner-tests/test/provisioner/e2e_test.go
Due: none

Fix creating provisioning input
  tests/provisioner-tests/test/provisioner/e2e_test.go
Due: none

Change -timeout flag in entrypoint to -test.timeout
  tests/provisioner-tests/scripts/entrypoint.sh
Due: none

Update dependencies
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
Due: none

Works
  components/director/internal/tenantmapping/mapper_for_user.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix Director migrations failing on upgrade (#834)
  chart/compass/values.yaml
  components/schema-migrator/migrations/director/202001221149_add_tenant_storage.down.sql
  components/schema-migrator/migrations/director/202001311508_migrate_tenants.up.sql
  components/schema-migrator/migrations/director/202002071200_add_package_definitions.down.sql
  components/schema-migrator/migrations/director/202002071200_add_package_definitions.up.sql
Due: pre-master-compass-integration

Code copy pasted from Connector Service tests
  tests/connectivity-adapter/test/api/connector_test.go
  tests/connectivity-adapter/test/testkit/certs.go
  tests/connectivity-adapter/test/testkit/config.go
  tests/connectivity-adapter/test/testkit/connectorclient.go
  tests/connectivity-adapter/test/testkit/director/client.go
  tests/connectivity-adapter/test/testkit/model.go
  tests/connectivity-adapter/test/testkit/securedconnectorclient.go
Due: none

Consume list of groups
  components/director/internal/tenantmapping/mapper_for_user.go
  components/director/internal/tenantmapping/model.go
  components/director/internal/tenantmapping/staticgroup.go
Due: pre-master-compass-components-director, post-master-compass-components-director

remove comment
  components/director/internal/tenantmapping/staticgroup.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Remove unwanted changes
  components/director/Makefile
  components/director/internal/persistence/persistence.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Move MP overrides from global to component overrides
  components/kyma-environment-broker/internal/broker/builder.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
Due: none

Tests running in progress
  tests/connectivity-adapter/test/api/connector_test.go
Due: none

Imports
  tests/connectivity-adapter/test/api/connector_test.go
  tests/connectivity-adapter/test/testkit/connectorclient.go
  tests/connectivity-adapter/test/testkit/director/client.go
Due: none

Test for invalid token working.
  tests/connectivity-adapter/test/api/connector_test.go
Due: none

Store users data in session storage instead of local storage
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration

Map group tenant to internal tenant
  components/director/internal/tenantmapping/mapper_for_user.go
  components/director/internal/tenantmapping/model.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update Console draft image
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration

One not passing test left
  tests/connectivity-adapter/test/api/connector_test.go
  tests/connectivity-adapter/test/testkit/config.go
  tests/connectivity-adapter/test/testkit/connectorclient.go
Due: none

Fix MP overrides
  components/kyma-environment-broker/internal/broker/builder.go
  components/kyma-environment-broker/internal/broker/testdata/TestBrokerProvisioningScenario.golden.graphql
Due: none

Update image
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration

Fix mapper_for_user_test
  components/director/internal/tenantmapping/automock/static_group_repository.go
  components/director/internal/tenantmapping/mapper_for_user.go
  components/director/internal/tenantmapping/mapper_for_user_test.go
  components/director/internal/tenantmapping/staticgroup.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Regenerate golden file
  components/kyma-environment-broker/internal/broker/testdata/TestBrokerProvisioningScenario.golden.graphql
Due: none

Add fetching Installation CR based on specified version
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/config.go
  tests/provisioner-tests/test/testkit/util.go
Due: none

Change to passing URL, not version
  tests/provisioner-tests/test/testkit/util.go
Due: none

Formating
  components/director/internal/tenantmapping/mapper_for_user_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

KEB Operation storage
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/storage/dberr/errors.go
  components/kyma-environment-broker/internal/storage/dbsession/factory.go
  components/kyma-environment-broker/internal/storage/dbsession/read.go
  components/kyma-environment-broker/internal/storage/dbsession/write.go
  components/kyma-environment-broker/internal/storage/driver/memory/instance.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation_test.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/postsql/init.go
  components/kyma-environment-broker/internal/storage/storage.go
  components/kyma-environment-broker/internal/storage/storage_test.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
  components/schema-migrator/migrations/kyma-environment-broker/202002121000_add_operations.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202002121000_add_operations.up.sql
Due: none

Tests for staticGroup.go
  components/director/internal/tenantmapping/staticgroup_test.go
  components/director/internal/tenantmapping/staticuser_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Refactor closures and their names
  components/connectivity-adapter/internal/connectorservice/api/info.go
  components/connectivity-adapter/internal/connectorservice/api/info_test.go
  components/connectivity-adapter/internal/connectorservice/connector.go
  components/connectivity-adapter/internal/connectorservice/model/model.go
Due: none

Add test for GetGroups model_test.go and staticGroup test
  components/director/internal/tenantmapping/model_test.go
  components/director/internal/tenantmapping/staticgroup_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Integrate director endpoint
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration

Add test for GetGroups model_test.go and staticGroup test
  components/director/internal/tenantmapping/staticgroup_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Correct Connectivity Adapter signingRequest/info response (#801)
  chart/compass/charts/connectivity-adapter/templates/oathkeeper-rules.yaml
  chart/compass/values.yaml
  components/connectivity-adapter/internal/connectorservice/api/info.go
  components/connectivity-adapter/internal/connectorservice/api/info_test.go
  components/connectivity-adapter/internal/connectorservice/api/managementinfo.go
  components/connectivity-adapter/internal/connectorservice/api/managementinfo_test.go
  components/connectivity-adapter/internal/connectorservice/api/signingrequestinfo.go
  components/connectivity-adapter/internal/connectorservice/api/signingrequestinfo_test.go
  components/connectivity-adapter/internal/connectorservice/connector.go
  components/connectivity-adapter/internal/connectorservice/director/client.go
  components/connectivity-adapter/internal/connectorservice/model/model.go
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/handler_test.go
  components/director/internal/tenantmapping/mapper_for_system_auth.go
  components/director/internal/tenantmapping/model.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

add configmag-static-group
  chart/compass/charts/director/templates/configmap-static-groups.yaml
Due: pre-master-compass-integration

Provisioner database migrations (#802)
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/values.yaml
  chart/compass/templates/migrator-job.yaml
  chart/compass/values.yaml
  components/provisioner/README.md
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_integration_with_hydroform_test.go
  components/provisioner/internal/persistence/database/schema_initializer.go
  components/provisioner/internal/persistence/database/schema_initializer_test.go
  components/schema-migrator/create_migration.sh
  components/schema-migrator/migrations/provisioner/202002051322_initialize_schema.down.sql
  components/schema-migrator/migrations/provisioner/202002051322_initialize_schema.up.sql
  components/schema-migrator/validate.sh
  docs/provisioner/05-01-app-entry-parameters.md
  go.mod
  go.sum
Due: pre-master-compass-integration

Add TestRuntimes to TestSuite
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/util.go
Due: none
