Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pull-operations-controller-build, pull-connector-build, pull-director-build, pull-hydrator-build, pull-system-broker-build, pull-external-services-mock-build, pull-connectivity-adapter-build, pull-pairing-adapter-build, pull-gateway-build, pull-schema-migrator-build, pull-tests-build, post-operations-controller-build, post-connector-build, post-director-build, post-hydrator-build, post-system-broker-build, post-external-services-mock-build, post-connectivity-adapter-build, post-pairing-adapter-build, post-gateway-build, post-schema-migrator-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pull-connectivity-adapter-lint, pull-connectivity-adapter-unit-test, pull-connector-unit-test, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-compass-components-gateway, post-compass-components-gateway, pull-operations-controller-lint, pull-operations-controller-unit-test, pull-pairing-adapter-unit-test, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher, pull-compass-checkconfig, pull-compass-pjconfigtest, pull-compass-pjtester, pull-compass-vpathguard

pull-operations-controller-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-operations-controller-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-connector-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-connector-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-director-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-director-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
      command:
  ...

pull-hydrator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-hydrator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
      command:
  ...

pull-system-broker-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-system-broker-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-external-services-mock-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-external-services-mock-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-connectivity-adapter-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-connectivity-adapter-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-pairing-adapter-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-pairing-adapter-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

post-external-services-mock-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-external-services-mock-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

dummy change
  components/schema-migrator/Dockerfile
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

bump PR number
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

remove println
  components/director/internal/open_resource_discovery/client.go
  components/director/pkg/accessstrategy/cmp_mtls_access_strategy.go
  components/director/pkg/accessstrategy/open_access_strategy.go
  components/director/pkg/accessstrategy/open_access_strategy_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix lint
  components/director/pkg/accessstrategy/cmp_mtls_access_strategy.go
  components/director/pkg/accessstrategy/open_access_strategy.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix unit test
  components/director/internal/open_resource_discovery/client_test.go
  components/director/internal/open_resource_discovery/service.go
  components/director/internal/open_resource_discovery/service_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update formation_api_test.go
  tests/director/tests/formation_api_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

remove test cat
  installation/scripts/install-ory.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Add comment and fix env var value
  chart/compass/values.yaml
  components/director/internal/open_resource_discovery/ord_document.go
Due: pull-director-build, post-director-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump

fix crashing benchmark tests
  installation/scripts/prow/jobs/compass-gke-benchmark.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Fix env var
  chart/compass/templates/tests/ord-aggregator/ord-aggregator-test.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

create ns
  installation/scripts/prow/jobs/compass-gke-benchmark.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Add e2e test
  components/director/examples/README.md
  components/director/examples/query-application/query-application-by-local-tenant-id-and-app-template-id.graphql
  components/director/hack/config-local.yaml
  tests/director/tests/application_api_test.go
  tests/pkg/fixtures/application_requests.go
Due: pull-director-build, pull-tests-build, post-director-build, post-tests-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Fix typo
  components/director/hack/config-local.yaml
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update graphql schema
  components/director/pkg/graphql/schema.graphql
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

do not fail
  installation/scripts/prow/jobs/compass-gke-benchmark.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Update schema gen
  components/director/pkg/graphql/schema_gen.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix imports
  components/external-services-mock/internal/subscription/handler_test.go
Due: pull-external-services-mock-build, post-external-services-mock-build, pull-external-services-mock-lint, pull-external-services-mock-unit-test

change k8s version
  installation/scripts/prow/jobs/compass-gke-benchmark.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

move values to helm
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/director/templates/oauth-clients-scopes-sync-job.yaml
  chart/compass/charts/kyma-adapter/templates/deployment.yaml
  chart/compass/charts/ns-adapter/templates/deployment.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

remove unused files and charts
  chart/ory/charts/hydra/Chart.yaml
  chart/ory/charts/hydra/charts/hydra-maester/.helmignore
  chart/ory/charts/hydra/charts/hydra-maester/Chart.yaml
  chart/ory/charts/hydra/charts/hydra-maester/templates/_helpers.tpl
  chart/ory/charts/hydra/charts/hydra-maester/templates/deployment.yaml
  chart/ory/charts/hydra/charts/hydra-maester/templates/pdb.yaml
  chart/ory/charts/hydra/charts/hydra-maester/templates/rbac-global.yaml
  chart/ory/charts/hydra/charts/hydra-maester/templates/rbac-namespaces.yaml
  chart/ory/charts/hydra/charts/hydra-maester/templates/rbac.yaml
  chart/ory/charts/hydra/charts/hydra-maester/templates/service-metrics.yaml
  chart/ory/charts/hydra/charts/hydra-maester/values.yaml
  chart/ory/files/secret-migration.sh
  chart/ory/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

change k8s version (#3202)
  installation/scripts/prow/jobs/compass-gke-benchmark.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

main branch adaptations
  tests/director/tests/formation_api_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

Update e2e tests version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Update local config
  components/director/hack/config-local.yaml
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

apply review comments
  installation/cmd/run.sh
  installation/scripts/install-ory.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Unit tests
  components/director/internal/domain/webhook/fixtures_test.go
  components/director/internal/domain/webhook/repository_test.go
  components/director/internal/domain/webhook/resolver_test.go
  components/director/internal/domain/webhook/service_test.go
  components/director/run.sh
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

change back mount ca to run
  installation/cmd/run.sh
  installation/scripts/install-ory.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

make imports
  tests/external-services-mock/tests/auditlog_integration_test.go
  tests/ord-aggregator/tests/handler_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

Address PR comment
  components/director/internal/open_resource_discovery/service.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix unit test
  components/director/internal/open_resource_discovery/service_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

adapt operator + e2e tests + ESM
  components/director/internal/destinationcreator/service.go
  components/director/internal/destinationcreator/service_test.go
  components/director/internal/destinationcreator/types.go
  components/director/internal/domain/certsubjectmapping/repository.go
  components/director/internal/domain/certsubjectmapping/resolver.go
  components/director/internal/domain/destination/service.go
  components/director/internal/domain/destination/service_test.go
  components/director/internal/domain/formationconstraint/operators/constraint_engine.go
  components/director/internal/domain/formationconstraint/operators/destination_creator_operator.go
  components/director/internal/domain/formationconstraint/operators/destination_creator_operator_test.go
  components/external-services-mock/internal/destinationcreator/handler.go
  components/external-services-mock/internal/destinationcreator/types.go
  components/external-services-mock/internal/formationnotification/handler.go
  components/external-services-mock/pkg/destinationcreator/types.go
  tests/director/tests/formation_api_test.go
  tests/external-services-mock/tests/auditlog_integration_test.go
  tests/pkg/fixtures/formation_assignment_queries.go
Due: pull-director-build, pull-external-services-mock-build, pull-tests-build, post-director-build, post-external-services-mock-build, post-tests-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-compass-tests, post-compass-tests

bump components versions
  components/external-services-mock/go.mod
  components/external-services-mock/go.sum
  tests/go.mod
  tests/go.sum
Due: pull-external-services-mock-build, pull-tests-build, post-external-services-mock-build, post-tests-build, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

bump components versions
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

make linter happy
  components/director/internal/destinationcreator/service.go
  components/director/internal/destinationcreator/types.go
  components/director/internal/domain/destination/service.go
  components/director/internal/domain/formationconstraint/operators/destination_creator_operator.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Do not Override localTenantID when it is provided from placeholder
  components/director/internal/domain/subscription/service.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Get app by local tenant id and app template id (#3198)
  chart/compass/charts/director/config.yaml
  chart/compass/values.yaml
  components/director/examples/README.md
  components/director/examples/query-application/query-application-by-local-tenant-id-and-app-template-id.graphql
  components/director/hack/config-local.yaml
  components/director/internal/domain/application/automock/application_repository.go
  components/director/internal/domain/application/automock/application_service.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/application/repository_test.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/resolver_test.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  tests/director/tests/application_api_test.go
  tests/pkg/fixtures/application_requests.go
Due: pull-director-build, pull-tests-build, post-director-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

Path conditions:
  pull-operations-controller-build: any of: ^components/operations-controller/
  pull-connector-build: any of: ^components/connector/
  pull-director-build: any of: ^components/director/
  pull-hydrator-build: any of: ^components/hydrator/
  pull-system-broker-build: any of: ^components/system-broker/
  pull-external-services-mock-build: any of: ^components/external-services-mock/
  pull-connectivity-adapter-build: any of: ^components/connectivity-adapter/
  pull-pairing-adapter-build: any of: ^components/pairing-adapter/
  pull-gateway-build: any of: ^components/gateway/
  pull-schema-migrator-build: any of: ^components/schema-migrator/
  pull-tests-build: any of: ^tests/
  post-operations-controller-build: any of: ^components/operations-controller/
  post-connector-build: any of: ^components/connector/
  post-director-build: any of: ^components/director/
  post-hydrator-build: any of: ^components/hydrator/
  post-system-broker-build: any of: ^components/system-broker/
  post-external-services-mock-build: (any of: ^components/system-broker/) or (any of: ^components/external-services-mock/)
  post-connectivity-adapter-build: (any of: ^components/system-broker/) or (any of: ^components/connectivity-adapter/)
  post-pairing-adapter-build: any of: ^components/pairing-adapter/
  post-gateway-build: any of: ^components/gateway/
  post-schema-migrator-build: any of: ^components/schema-migrator/
  post-tests-build: any of: ^tests/
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration-test: any of: ^(chart|installation)/
  pre-main-compass-integration-with-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-main-compass-smoke-test: any of: ^(chart|installation)/
  pull-connectivity-adapter-lint: any of: ^components/connectivity-adapter/(.*\.go$|.golangcilint.yaml)
  pull-connectivity-adapter-unit-test: any of: ^components/connectivity-adapter/.*\.go$
  pull-connector-unit-test: any of: ^components/connector/.*\.go$
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pull-external-services-mock-lint: any of: ^components/external-services-mock/(.*\.go$|.golangcilint.yaml)
  pull-external-services-mock-unit-test: any of: ^components/external-services-mock/.*\.go$
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pull-operations-controller-lint: any of: ^components/operations-controller/(.*\.go$|.golangcilint.yaml)
  pull-operations-controller-unit-test: any of: ^components/operations-controller/.*\.go$
  pull-pairing-adapter-unit-test: any of: ^components/pairing-adapter/.*\.go$
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-main-compass-schema-migrator-validate: any of: ^components/schema-migrator/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-main-compass-vm-clean-with-dump: any of: ^(chart|installation)/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  pull-compass-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-compass-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-compass-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-compass-vpathguard: any of: ^(vpath/pjtester.yaml)
