Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-cluster-infra:v20190528-8897828
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
          cpu: 50m
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-compass-tests-end-to-end:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-tests-end-to-end:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

rebase
  components/director/internal/domain/label/repository_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

bump image
  chart/compass/values.yaml
Due: pre-master-compass-integration

Move schema to PKG
  components/connector/cmd/main.go
  components/connector/gqlgen.sh
  components/connector/internal/api/resolver.go
  components/connector/internal/gqlschema/resolver.go
  components/connector/pkg/gqlschema/config.yaml
  components/connector/pkg/gqlschema/models_gen.go
  components/connector/pkg/gqlschema/schema.graphql
  components/connector/pkg/gqlschema/schema_gen.go
Due: none

Change images to reference 1.4.1
  chart/compass/values.yaml
Due: pre-master-compass-integration

Revert deletion of internal schema
  components/connector/cmd/main.go
  components/connector/internal/api/gqlschema/config.yaml
  components/connector/internal/api/gqlschema/models_gen.go
  components/connector/internal/api/gqlschema/resolver.go
  components/connector/internal/api/gqlschema/schema.graphql
  components/connector/internal/api/gqlschema/schema_gen.go
  components/connector/internal/api/resolver.go
  components/connector/pkg/gqlschema/resolver.go
Due: none

Divide resolvers
  components/connector/cmd/main.go
  components/connector/internal/api/gqlschema/config.yaml
  components/connector/internal/api/gqlschema/models_gen.go
  components/connector/internal/api/gqlschema/resolver.go
  components/connector/internal/api/gqlschema/schema.graphql
  components/connector/internal/api/gqlschema/schema_gen.go
  components/connector/internal/api/resolver.go
  components/connector/pkg/gqlschema/resolver.go
Due: none

Add pkg to dockerfile
  components/connector/Dockerfile
Due: none

Divide resolvers even more
  components/connector/internal/api/certificateResolver.go
  components/connector/internal/api/resolver.go
  components/connector/internal/api/tokenResolver.go
Due: none

Minify resolver
  components/connector/cmd/main.go
  components/connector/internal/api/resolver.go
Due: none

Add interfaces
  components/connector/cmd/main.go
  components/connector/internal/api/certificateResolver.go
  components/connector/internal/api/tokenResolver.go
  components/connector/pkg/gqlschema/schema.graphql
  components/connector/pkg/gqlschema/schema_gen.go
Due: none

Add mockery generate comment
  components/connector/internal/api/certificateResolver.go
  components/connector/internal/api/tokenResolver.go
Due: none

Update connector API (#229)
  components/connector/Dockerfile
  components/connector/cmd/main.go
  components/connector/gqlgen.sh
  components/connector/internal/api/certificateResolver.go
  components/connector/internal/api/resolver.go
  components/connector/internal/api/tokenResolver.go
  components/connector/internal/gqlschema/resolver.go
  components/connector/pkg/gqlschema/config.yaml
  components/connector/pkg/gqlschema/models_gen.go
  components/connector/pkg/gqlschema/schema.graphql
  components/connector/pkg/gqlschema/schema_gen.go
Due: none

Implement cascade delete for labeling (#220)
  chart/compass/values.yaml
  components/director/internal/domain/label/repository.go
  components/director/internal/domain/label/repository_test.go
  components/director/internal/domain/labeldef/automock/label_repository.go
  components/director/internal/domain/labeldef/service.go
  components/director/internal/domain/labeldef/service_test.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

first impl of labels cascade delete
  components/director/internal/domain/labeldef/service.go
  components/director/internal/domain/labeldef/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

rebase
  tests/end-to-end/director/application_api_test.go
  tests/end-to-end/director/fixtures_queries_test.go
  tests/end-to-end/director/labeling_api_test.go
Due: pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

review fixes
  components/director/internal/domain/labeldef/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

first impl of labels cascade delete integration test
  tests/end-to-end/director/application_api_test.go
  tests/end-to-end/director/fixtures_queries_test.go
  tests/end-to-end/director/labeling_api_test.go
Due: pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

review fixes
  components/director/internal/domain/labeldef/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

added DeleteByKey method
  components/director/internal/domain/labeldef/service.go
  components/director/internal/domain/labeldef/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

review fixes
  tests/end-to-end/director/labeling_api_test.go
Due: pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Test cascading delete for labeling (#221)
  chart/compass/values.yaml
  tests/end-to-end/director/fixtures_queries_test.go
  tests/end-to-end/director/labeling_api_test.go
Due: pre-master-compass-integration, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Update models with FetchRequestID
  components/director/internal/model/api.go
  components/director/internal/model/api_test.go
  components/director/internal/model/document.go
  components/director/internal/model/document_test.go
  components/director/internal/model/eventapi.go
  components/director/internal/model/eventapi_test.go
  components/director/internal/model/fetchrequest.go
  components/director/internal/model/fetchrequest_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Extend Deleter: DeleteOne and DeletMany
  components/director/internal/domain/runtime/repository.go
  components/director/internal/repo/delete.go
  components/director/internal/repo/delete_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Extend Deleter: DeleteOne and DeleteMany (#230)
  chart/compass/values.yaml
  components/director/internal/domain/runtime/repository.go
  components/director/internal/repo/delete.go
  components/director/internal/repo/delete_test.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Add Authentication Context Middleware
  components/connector/Gopkg.lock
  components/connector/cmd/main.go
  components/connector/internal/apperrors/apperrors.go
  components/connector/internal/apperrors/apperrors_test.go
  components/connector/internal/authentication/cert_header_parser.go
  components/connector/internal/authentication/cert_header_parser_test.go
  components/connector/internal/authentication/context.go
  components/connector/internal/authentication/context_middleware.go
  components/connector/internal/authentication/context_middleware_test.go
  components/connector/internal/authentication/context_test.go
  components/connector/internal/authentication/mocks/CertificateHeaderParser.go
  components/connector/internal/authentication/subject_extraction.go
  components/connector/internal/authentication/subject_extraction_test.go
  components/connector/internal/httperrors/httperrors.go
  components/connector/internal/tokens/cache.go
  components/connector/internal/tokens/generator.go
  components/connector/internal/tokens/generator_test.go
  components/connector/internal/tokens/mocks/Creator.go
  components/connector/internal/tokens/mocks/Manager.go
  components/connector/internal/tokens/mocks/Service.go
  components/connector/internal/tokens/mocks/TokenCache.go
  components/connector/internal/tokens/model.go
  components/connector/internal/tokens/service.go
  components/connector/internal/tokens/service_test.go
Due: none

Update dependencies
  components/connector/Gopkg.lock
Due: none

Use latest compass cockpit image
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration

Rename lister
  components/director/internal/repo/list_pageable.go
  components/director/internal/repo/list_pageable_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add upsert
  components/director/internal/repo/upsert.go
  components/director/internal/repo/upsert_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add new lister
  components/director/internal/repo/list.go
  components/director/internal/repo/list_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update migrations and bump values
  chart/compass/values.yaml
  components/schema-migrator/migrations/201908141300_initialize_schema.up.sql
Due: pre-master-compass-integration

Add empty repository for FetchRequest
  components/director/internal/domain/application/automock/fetch_request_repository.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/fetchrequest/repository.go
  components/director/internal/domain/runtime/repository.go
  components/director/internal/domain/runtime/repository_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Implement FetchRequest for Documents
  components/director/internal/domain/api/automock/api_service.go
  components/director/internal/domain/api/automock/fetch_request_repository.go
  components/director/internal/domain/api/fixtures_test.go
  components/director/internal/domain/document/automock/document_service.go
  components/director/internal/domain/document/automock/fetch_request_repository.go
  components/director/internal/domain/document/converter.go
  components/director/internal/domain/document/resolver.go
  components/director/internal/domain/document/service.go
  components/director/internal/domain/eventapi/automock/event_api_service.go
  components/director/internal/domain/eventapi/automock/fetch_request_repository.go
  components/director/internal/domain/eventapi/fixtures_test.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/graphql/api.go
  components/director/pkg/graphql/event_api.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Remove http errors
  components/connector/internal/httperrors/httperrors.go
Due: none

review fixes
  components/director/internal/repo/list_pageable_test.go
  components/director/internal/repo/list_test.go
  components/director/internal/repo/upsert.go
  components/director/internal/repo/upsert_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add Authentication Context Middleware to Connector (#232)
  components/connector/Gopkg.lock
  components/connector/cmd/main.go
  components/connector/internal/apperrors/apperrors.go
  components/connector/internal/apperrors/apperrors_test.go
  components/connector/internal/authentication/cert_header_parser.go
  components/connector/internal/authentication/cert_header_parser_test.go
  components/connector/internal/authentication/context.go
  components/connector/internal/authentication/context_middleware.go
  components/connector/internal/authentication/context_middleware_test.go
  components/connector/internal/authentication/context_test.go
  components/connector/internal/authentication/mocks/CertificateHeaderParser.go
  components/connector/internal/authentication/subject_extraction.go
  components/connector/internal/authentication/subject_extraction_test.go
  components/connector/internal/tokens/cache.go
  components/connector/internal/tokens/generator.go
  components/connector/internal/tokens/generator_test.go
  components/connector/internal/tokens/mocks/Creator.go
  components/connector/internal/tokens/mocks/Manager.go
  components/connector/internal/tokens/mocks/Service.go
  components/connector/internal/tokens/mocks/TokenCache.go
  components/connector/internal/tokens/model.go
  components/connector/internal/tokens/service.go
  components/connector/internal/tokens/service_test.go
Due: none

Handle FetchRequest Create and Update for API and EventAPI
  components/director/internal/domain/api/converter.go
  components/director/internal/domain/api/converter_test.go
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/api/resolver_test.go
  components/director/internal/domain/api/service.go
  components/director/internal/domain/api/service_test.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/eventapi/converter.go
  components/director/internal/domain/eventapi/converter_test.go
  components/director/internal/domain/eventapi/resolver.go
  components/director/internal/domain/eventapi/resolver_test.go
  components/director/internal/domain/eventapi/service.go
  components/director/internal/domain/eventapi/service_test.go
  components/director/internal/domain/fetchrequest/repository.go
Due: pre-master-compass-components-director, post-master-compass-components-director

save work
  components/director/internal/domain/runtime/repository.go
  components/director/internal/repo/list.go
  components/director/internal/repo/list_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
