Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20190823-24e14d1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-master-compass-integration-stable-cli:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20190823-24e14d1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-tests-end-to-end:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Apply suggestions from code review
  docs/director/03-statuses.md
Due: none

Add review comment
  docs/director/03-statuses.md
Due: none

.
  docs/director/03-statuses.md
Due: none

Extend documentation about statuses in the Director (#1360)
  docs/director/02-01-director-component.md
  docs/director/03-default-eventing-for-application.md
  docs/director/03-fetch-requests.md
  docs/director/03-statuses.md
  docs/director/automatic-status-update.md
Due: none

Refactor main()
  components/director/cmd/director/main.go
  components/director/pkg/persistence/persistence.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Upgrade Terraform version in Runtime Provisioner (#1357)
  chart/compass/values.yaml
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-provisioner-whitesource-scan

Add a prefix for the created Azure resources
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step.go
Due: none

Add a comment about the reason to add a prefix
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step.go
Due: none

Code review remarks part one
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/gardener/annotations.go
  components/provisioner/internal/gardener/shoot_controller.go
  components/provisioner/internal/gardener/shoot_reconciler.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/operations/executor_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/deprovisioning/deprovision_cluster.go
  components/provisioner/internal/operations/stages/deprovisioning/deprovision_cluster_test.go
  components/provisioner/internal/operations/stages/deprovisioning/trigger_kyma_uninstall.go
  components/provisioner/internal/operations/stages/deprovisioning/trigger_kyma_uninstall_test.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_creation.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_creation_test.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_domain.go
Due: none

fix audit logs
  components/provisioner/internal/gardener/shoot_reconciler.go
Due: none

bump image
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Update Provisioner mutations in tutorials
  docs/provisioner/08-02-provisioning-gardener.md
  docs/provisioner/08-04-runtime-status.md
Due: none

Removed the seed field from mutations
  docs/provisioner/08-02-provisioning-gardener.md
Due: none

Fix readme
  components/director/README.md
Due: pre-master-compass-components-director, post-master-compass-components-director

Review changes
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  tests/e2e/provisioning/test/upgrade_test_suite.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Collect metrics from Director (#1338)
  chart/compass/values.yaml
  components/director/README.md
  components/director/cmd/director/main.go
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/oauth20/config.go
  components/director/internal/domain/oauth20/service.go
  components/director/internal/domain/oauth20/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/metrics/collector.go
  components/director/pkg/persistence/automock/transactioner.go
  components/director/pkg/persistence/persistence.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Update the Runtime Provisioner documentation (#1367)
  docs/provisioner/08-02-provisioning-gardener.md
  docs/provisioner/08-04-runtime-status.md
Due: none

Add a prefix for the created Azure resources (#1363)
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step.go
Due: none

Add E2e upgrade test (#1353)
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  tests/e2e/provisioning/Gopkg.lock
  tests/e2e/provisioning/internal/provisioner/client.go
  tests/e2e/provisioning/internal/provisioner/components_provider.go
  tests/e2e/provisioning/internal/provisioner/graphqlizer.go
  tests/e2e/provisioning/internal/provisioner/query.go
  tests/e2e/provisioning/internal/provisioner/upgrade_client.go
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
  tests/e2e/provisioning/pkg/client/runtime/runtime_client.go
  tests/e2e/provisioning/test/e2e_provisioning_test.go
  tests/e2e/provisioning/test/e2e_upgrade_test.go
  tests/e2e/provisioning/test/test_suite.go
  tests/e2e/provisioning/test/upgrade_test_suite.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add identifier field support to Connectivity Adapter (#1344)
  chart/compass/values.yaml
  components/connectivity-adapter/internal/appregistry/appregistry.go
  components/connectivity-adapter/internal/appregistry/director/cli.go
  components/connectivity-adapter/internal/appregistry/director/cli_test.go
  components/connectivity-adapter/internal/appregistry/service/automock/app_labeler.go
  components/connectivity-adapter/internal/appregistry/service/automock/converter.go
  components/connectivity-adapter/internal/appregistry/service/automock/director_client.go
  components/connectivity-adapter/internal/appregistry/service/automock/request_context_provider.go
  components/connectivity-adapter/internal/appregistry/service/automock/validator.go
  components/connectivity-adapter/internal/appregistry/service/converter.go
  components/connectivity-adapter/internal/appregistry/service/converter_test.go
  components/connectivity-adapter/internal/appregistry/service/fixtures_test.go
  components/connectivity-adapter/internal/appregistry/service/handler.go
  components/connectivity-adapter/internal/appregistry/service/handler_test.go
  components/connectivity-adapter/internal/appregistry/service/label.go
  components/connectivity-adapter/internal/appregistry/service/label_test.go
  components/connectivity-adapter/internal/appregistry/service/req_context_provider.go
  components/connectivity-adapter/internal/appregistry/service/validation/servicedetailsvalidation.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Fix if issue
  components/director/internal/authenticator/middleware.go
  components/director/internal/domain/api/service_test.go
  components/director/internal/domain/application/resolver_test.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/internal/domain/apptemplate/service_test.go
  components/director/internal/domain/document/service_test.go
  components/director/internal/domain/eventdef/service_test.go
  components/director/internal/domain/eventing/fixtures_test.go
  components/director/internal/domain/eventing/resolver_test.go
  components/director/internal/domain/integrationsystem/resolver_test.go
  components/director/internal/domain/integrationsystem/service_test.go
  components/director/internal/domain/label/service_test.go
  components/director/internal/domain/labeldef/resolver_test.go
  components/director/internal/domain/labeldef/scenarios_service_test.go
  components/director/internal/domain/oauth20/service.go
  components/director/internal/domain/package/service_test.go
  components/director/internal/domain/packageinstanceauth/service_test.go
  components/director/internal/domain/runtime/resolver_test.go
  components/director/internal/domain/runtime/service_test.go
  components/director/internal/domain/scenarioassignment/fixtures_test.go
  components/director/internal/domain/scenarioassignment/service_test.go
  components/director/internal/domain/systemauth/service.go
  components/director/internal/domain/systemauth/service_test.go
  components/director/internal/domain/tenant/service_test.go
  components/director/internal/domain/tenant/tenant.go
  components/director/internal/domain/tenant/tenant_test.go
  components/director/internal/domain/webhook/service_test.go
  components/director/internal/model/system_auth.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add wrong external tenant error
  chart/compass/values.yaml
  components/director/internal/authenticator/middleware.go
  components/director/internal/domain/tenant/tenant.go
  components/director/internal/tenantmapping/mapper_for_user.go
  components/director/pkg/apperrors/errors.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

Fix oauth20 domain
  components/director/internal/authenticator/middleware.go
  components/director/internal/domain/systemauth/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update integration tests
  tests/director/gateway-integration/tenants_test.go
  tests/director/go.mod
Due: pre-master-provisioner-whitesource-scan

Fix if
  components/director/internal/domain/oauth20/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix getting credentials for integration system
  components/director/internal/domain/oauth20/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump images
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Rename noTenantError
  components/director/internal/domain/api/service_test.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/domain/document/service_test.go
  components/director/internal/domain/eventdef/service_test.go
  components/director/internal/domain/runtime/service_test.go
  components/director/internal/domain/tenant/tenant.go
  components/director/internal/domain/webhook/service_test.go
  components/director/pkg/apperrors/errors.go
  components/director/pkg/apperrors/errors_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix if
  components/director/internal/domain/systemauth/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update director in tests
  components/director/examples/add-api-definition-to-package/add-api-definition-to-package.graphql
  components/director/examples/add-document-to-package/add-document-to-package.graphql
  components/director/examples/add-event-definition-to-package/add-event-definition-to-package.graphql
  components/director/examples/add-package/add-package.graphql
  components/director/examples/delete-package/delete-package.graphql
  components/director/examples/query-api-definition/query-api-definition.graphql
  components/director/examples/query-api-definitions/query-api-definitions.graphql
  components/director/examples/query-application/query-application.graphql
  components/director/examples/query-applications-for-runtime/query-applications-for-runtime.graphql
  components/director/examples/query-applications/query-applications-with-label-filter.graphql
  components/director/examples/query-applications/query-applications.graphql
  components/director/examples/query-document/query-document.graphql
  components/director/examples/query-documents/query-documents.graphql
  components/director/examples/query-event-definition/query-event-definition.graphql
  components/director/examples/query-event-definitions/query-event-definitions.graphql
  components/director/examples/query-package/query-package.graphql
  components/director/examples/query-packages/query-packages.graphql
  components/director/examples/refetch-api-spec/refetch-api-spec.graphql
  components/director/examples/register-application-from-template/register-application-from-template.graphql
  components/director/examples/register-application/register-application-with-packages.graphql
  components/director/examples/register-application/register-application-with-status.graphql
  components/director/examples/register-application/register-application-with-webhooks.graphql
  components/director/examples/register-application/register-application.graphql
  components/director/examples/update-api-definition/update-api-definition.graphql
  components/director/examples/update-application/update-application.graphql
  components/director/examples/update-event-definition/update-event-definition.graphql
  components/director/examples/update-package/update-package.graphql
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Add integration tests
  chart/compass/values.yaml
  tests/director/gateway-integration/tenants_test.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

WIP
  chart/compass/values.yaml
  components/director/internal/authenticator/claims.go
  components/director/internal/authenticator/middleware.go
  components/director/internal/domain/tenant/tenant.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

Add unit tests for new errors
  components/director/examples/README.md
  components/director/examples/refetch-api-spec/refetch-api-spec.graphql
  components/director/pkg/apperrors/errors.go
  components/director/pkg/apperrors/errors_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Code review remarks part 2 : changed deprovisioning logic
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/deprovisioning/delete_cluster.go
  components/provisioner/internal/operations/stages/deprovisioning/delete_cluster_test.go
  components/provisioner/internal/operations/stages/deprovisioning/wait_for_cluster_deletion.go
  components/provisioner/internal/operations/stages/deprovisioning/wait_for_cluster_deletion_test.go
Due: none

Decrease kyma installation timeout
  chart/compass/charts/provisioner/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Code review remarks part 3
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/values.yaml
  components/provisioner/cmd/main.go
  components/provisioner/cmd/migrate_provisioning_operations.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadWriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Fix for migration code
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
Due: none

Path conditions:
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-integration-stable-cli: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
