Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pull-operations-controller-build, pull-connector-build, pull-director-build, pull-hydrator-build, pull-system-broker-build, pull-external-services-mock-build, pull-connectivity-adapter-build, pull-pairing-adapter-build, pull-gateway-build, pull-schema-migrator-build, pull-tests-build, post-operations-controller-build, post-connector-build, post-director-build, post-hydrator-build, post-system-broker-build, post-external-services-mock-build, post-connectivity-adapter-build, post-pairing-adapter-build, post-gateway-build, post-schema-migrator-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pull-connectivity-adapter-lint, pull-connectivity-adapter-unit-test, pull-connector-unit-test, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-compass-components-gateway, post-compass-components-gateway, pull-operations-controller-lint, pull-operations-controller-unit-test, pull-pairing-adapter-unit-test, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher, pull-compass-checkconfig, pull-compass-pjconfigtest, pull-compass-pjtester, pull-compass-vpathguard

pull-operations-controller-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-operations-controller-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-connector-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-connector-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-director-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-director-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
      command:
  ...

pull-hydrator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-hydrator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
      command:
  ...

pull-system-broker-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-system-broker-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-external-services-mock-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-external-services-mock-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-connectivity-adapter-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-connectivity-adapter-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-pairing-adapter-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-pairing-adapter-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

post-external-services-mock-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-external-services-mock-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

fix unit tests
  components/director/internal/domain/formation/automock/tenant_fetcher.go
  components/director/internal/domain/formation/resolver.go
  components/director/internal/domain/formation/resolver_test.go
  components/director/internal/domain/runtime/automock/tenant_fetcher.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/resolver_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

[HOTFIX] Retry hydrator on initial load (#3415)
  chart/compass/values.yaml
  components/hydrator/cmd/main.go
  components/hydrator/internal/certsubjectmapping/loader.go
  components/hydrator/internal/certsubjectmapping/loader_test.go
Due: pull-hydrator-build, post-hydrator-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Make partOfProduct optional for Packages
  components/director/internal/open_resource_discovery/validation.go
  components/director/internal/open_resource_discovery/validation_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update hydrator version and dir with prod values
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Edit comment
  components/hydrator/internal/certsubjectmapping/loader.go
Due: pull-hydrator-build, post-hydrator-build

minor adjustments
  components/external-services-mock/internal/formationnotification/handler.go
  tests/director/tests/notifications/application_subscription_notifications_test.go
Due: pull-external-services-mock-build, pull-tests-build, post-external-services-mock-build, post-tests-build, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-compass-tests, post-compass-tests

fix
  tests/director/tests/notifications/application_only_notifications_new_format_test.go
  tests/director/tests/notifications/application_only_notifications_test.go
  tests/director/tests/notifications/fixtures_test.go
  tests/director/tests/notifications/runtime_notification_subscription_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

gcloud proxy changes
  chart/gcloud-sqlproxy/.helmignore
  chart/gcloud-sqlproxy/Chart.yaml
  chart/gcloud-sqlproxy/README.md
  chart/gcloud-sqlproxy/templates/_helpers.tpl
  chart/gcloud-sqlproxy/templates/deployment.yaml
  chart/gcloud-sqlproxy/templates/gcpserviceaccount.yaml
  chart/gcloud-sqlproxy/templates/horizontalpodautoscaler.yaml
  chart/gcloud-sqlproxy/templates/networkpolicy.yaml
  chart/gcloud-sqlproxy/templates/pdb.yaml
  chart/gcloud-sqlproxy/templates/role.yaml
  chart/gcloud-sqlproxy/templates/rolebinding.yaml
  chart/gcloud-sqlproxy/templates/secrets.yaml
  chart/gcloud-sqlproxy/templates/serviceaccount.yaml
  chart/gcloud-sqlproxy/templates/svc-statefulset.yaml
  chart/gcloud-sqlproxy/templates/svc.yaml
  chart/gcloud-sqlproxy/values.yaml
  chart/ory/Chart.lock
  chart/ory/Chart.yaml
  chart/ory/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Retry hydrator on initial load (#3414)
  chart/compass/values.yaml
  components/hydrator/cmd/main.go
  components/hydrator/internal/certsubjectmapping/cache.go
  components/hydrator/internal/certsubjectmapping/loader.go
  components/hydrator/internal/certsubjectmapping/loader_test.go
  components/hydrator/internal/connectortokenresolver/validation_hydrator.go
  components/hydrator/internal/director/client.go
  components/hydrator/internal/runtimemapping/handler.go
  components/hydrator/internal/tenantmapping/access_level_context_provider.go
  components/hydrator/internal/tenantmapping/handler.go
  components/hydrator/internal/tenantmapping/model.go
  components/hydrator/internal/tenantmapping/staticgroup.go
Due: pull-hydrator-build, post-hydrator-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Add related entity types to capability
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/capability/converter.go
  components/director/internal/domain/capability/entity.go
  components/director/internal/domain/capability/fixtures_test.go
  components/director/internal/domain/capability/repository.go
  components/director/internal/domain/capability/repository_test.go
  components/director/internal/model/capability.go
  components/director/internal/open_resource_discovery/fixtures_test.go
  components/director/internal/open_resource_discovery/validation.go
  components/director/internal/open_resource_discovery/validation_test.go
  components/schema-migrator/migrations/director/20231024104055_add-entity-type-mapping.down.sql
  components/schema-migrator/migrations/director/20231024104055_add-entity-type-mapping.up.sql
Due: pull-director-build, pull-schema-migrator-build, post-director-build, post-schema-migrator-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-master-provisioner-whitesource-scan

Adjust released components versions
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Make version optional for ORD ID in tombstone
  components/director/internal/open_resource_discovery/validation.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add processor unit test and enhance some things + currently adapting ord aggregator service unit tests
  components/director/internal/domain/integrationdependency/automock/integration_dependency_converter.go
  components/director/internal/domain/integrationdependency/automock/uid_service.go
  components/director/internal/domain/integrationdependency/automock/version_converter.go
  components/director/internal/domain/integrationdependency/service.go
  components/director/internal/open_resource_discovery/automock/integration_dependency_processor.go
  components/director/internal/open_resource_discovery/automock/integration_dependency_service.go
  components/director/internal/open_resource_discovery/fixtures_test.go
  components/director/internal/open_resource_discovery/processor/automock/integration_dependency_service.go
  components/director/internal/open_resource_discovery/processor/integration_dependency.go
  components/director/internal/open_resource_discovery/processor/integration_dependency_test.go
  components/director/internal/open_resource_discovery/service.go
  components/director/internal/open_resource_discovery/service_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Adjust released components versions (#3418)
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

remove sql proxy
  chart/gcloud-sqlproxy/.helmignore
  chart/gcloud-sqlproxy/Chart.yaml
  chart/gcloud-sqlproxy/README.md
  chart/gcloud-sqlproxy/templates/_helpers.tpl
  chart/gcloud-sqlproxy/templates/deployment.yaml
  chart/gcloud-sqlproxy/templates/gcpserviceaccount.yaml
  chart/gcloud-sqlproxy/templates/horizontalpodautoscaler.yaml
  chart/gcloud-sqlproxy/templates/networkpolicy.yaml
  chart/gcloud-sqlproxy/templates/pdb.yaml
  chart/gcloud-sqlproxy/templates/role.yaml
  chart/gcloud-sqlproxy/templates/rolebinding.yaml
  chart/gcloud-sqlproxy/templates/secrets.yaml
  chart/gcloud-sqlproxy/templates/serviceaccount.yaml
  chart/gcloud-sqlproxy/templates/svc-statefulset.yaml
  chart/gcloud-sqlproxy/templates/svc.yaml
  chart/gcloud-sqlproxy/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

change API version and remove destionationrule
  chart/ory/templates/db-gcloud-dr.yaml
  chart/ory/templates/hydra-virtualservice.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

fix validation and adjust tests
  components/director/internal/open_resource_discovery/fixtures_test.go
  components/director/internal/open_resource_discovery/ord_document.go
  components/director/internal/open_resource_discovery/service.go
  components/director/internal/open_resource_discovery/service_test.go
  components/director/internal/open_resource_discovery/validation.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

remove leftovers
  components/director/internal/destinationcreator/service.go
  components/director/internal/destinationcreator/types.go
  components/external-services-mock/internal/destinationcreator/types.go
Due: pull-director-build, pull-external-services-mock-build, post-director-build, post-external-services-mock-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test

update chart to v0.36.0
  chart/ory/Chart.lock
  chart/ory/Chart.yaml
  chart/ory/charts/hydra-0.35.0.tgz
  chart/ory/charts/hydra-0.36.0.tgz
  chart/ory/charts/oathkeeper/Chart.yaml
  chart/ory/charts/oathkeeper/charts/oathkeeper-maester/Chart.yaml
  chart/ory/charts/oathkeeper/templates/deployment-sidecar.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

add comments
  chart/ory/charts/oathkeeper/templates/cronjob.yaml
  chart/ory/charts/oathkeeper/templates/pre-install-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Enhance URL calculation in the destination creator operator (#3413)
  chart/compass/values.yaml
  components/director/internal/destinationcreator/fixtures_test.go
  components/director/internal/destinationcreator/service.go
  components/director/internal/destinationcreator/service_test.go
  components/director/internal/destinationcreator/types.go
  components/director/internal/domain/formationconstraint/operators/destination_creator_operator.go
  components/external-services-mock/internal/destinationcreator/types.go
  components/external-services-mock/internal/formationnotification/handler.go
  tests/director/tests/notifications/application_subscription_notifications_test.go
Due: pull-director-build, pull-external-services-mock-build, pull-tests-build, post-director-build, post-external-services-mock-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

address comments
  components/director/pkg/formationconstraint/validation.go
  components/director/pkg/templatehelper/helper.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix compass values
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

add deprecation date field to entity type + minor adjustments
  components/director/internal/domain/entitytype/converter.go
  components/director/internal/domain/entitytype/entity.go
  components/director/internal/domain/entitytype/fixtures_test.go
  components/director/internal/domain/entitytype/repository.go
  components/director/internal/domain/entitytype/repository_test.go
  components/director/internal/model/entitytype.go
  components/director/internal/open_resource_discovery/fixtures_test.go
  components/director/internal/open_resource_discovery/processor/integration_dependency_test.go
  components/director/internal/open_resource_discovery/validation.go
  components/director/internal/open_resource_discovery/validation_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

address comments
  components/director/pkg/formationconstraint/validation.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

substitute tenant
  chart/compass/charts/director/templates/configmap-default-tenant-labels-config.yaml
  chart/compass/charts/director/templates/tenant-loader-job-default.yaml
  chart/compass/values.yaml
  components/director/cmd/tenantloader/main.go
  components/director/internal/domain/tenant/service.go
  components/hydrator/cmd/main.go
  components/hydrator/internal/director/automock/client.go
  components/hydrator/internal/director/client.go
  components/hydrator/internal/director/query.go
  components/hydrator/internal/tenantmapping/access_level_context_provider.go
  components/hydrator/internal/tenantmapping/access_level_context_provider_test.go
  components/hydrator/internal/tenantmapping/authenticator_context_provider.go
  components/hydrator/internal/tenantmapping/authenticator_context_provider_test.go
  components/hydrator/internal/tenantmapping/automock/director_client.go
  components/hydrator/internal/tenantmapping/cert_service_context_provider.go
  components/hydrator/internal/tenantmapping/cert_service_context_provider_test.go
  components/hydrator/internal/tenantmapping/consumer_context_provider.go
  components/hydrator/internal/tenantmapping/consumer_context_provider_test.go
  components/hydrator/internal/tenantmapping/handler.go
  components/hydrator/internal/tenantmapping/handler_test.go
  components/hydrator/internal/tenantmapping/model.go
  components/hydrator/internal/tenantmapping/system_auth_context_provider.go
  components/hydrator/internal/tenantmapping/system_auth_context_provider_test.go
  components/hydrator/internal/tenantmapping/user_context_provider.go
  components/hydrator/internal/tenantmapping/user_context_provider_test.go
  tests/director/tests/tenant_isolation_test.go
  tests/pkg/tenant/tenant_setup.go
Due: pull-director-build, pull-hydrator-build, pull-tests-build, post-director-build, post-hydrator-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

cleanup
  chart/compass/charts/director/templates/tenant-loader-job-default.yaml
  chart/compass/values.yaml
  components/director/cmd/tenantloader/main.go
Due: pull-director-build, post-director-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump

add defer in test
  tests/director/tests/tenant_isolation_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

cleanup
  tests/director/tests/tenant_isolation_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

Director changes
  components/director/internal/domain/tenant/converter.go
  components/director/internal/domain/tenant/fixtures_test.go
  components/director/internal/domain/tenant/service.go
  components/director/internal/domain/tenant/service_test.go
  components/director/internal/model/businesstenantmapping.go
  components/director/internal/tenantfetchersvc/resync/event_page.go
  components/director/internal/tenantfetchersvc/resync/types.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

ext svc mock changes
  components/external-services-mock/cmd/main.go
  components/external-services-mock/internal/tenantfetcher/handler.go
Due: pull-external-services-mock-build, post-external-services-mock-build, pull-external-services-mock-lint, pull-external-services-mock-unit-test

adapt deployment
  chart/compass/charts/external-services-mock/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Update versions
  chart/compass/values.yaml
  tests/go.mod
  tests/go.sum
Due: pull-tests-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Update versions
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Add FormationAssignmentTemplateInput to join point details (#3410)
  chart/compass/values.yaml
  components/director/internal/domain/formationassignment/notifications.go
  components/director/internal/domain/formationassignment/notifications_test.go
  components/director/pkg/formationconstraint/join_point_details.go
  components/director/pkg/formationconstraint/validation.go
  components/director/pkg/graphql/formation_constraint_validation.go
  components/director/pkg/templatehelper/helper.go
  tests/director/tests/notifications/application_only_notifications_new_format_test.go
Due: pull-director-build, pull-tests-build, post-director-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

revert gcloud changes
  chart/ory/Chart.lock
  chart/ory/Chart.yaml
  chart/ory/charts/gcloud-sqlproxy/.helmignore
  chart/ory/charts/gcloud-sqlproxy/Chart.yaml
  chart/ory/charts/gcloud-sqlproxy/README.md
  chart/ory/charts/gcloud-sqlproxy/templates/_helpers.tpl
  chart/ory/charts/gcloud-sqlproxy/templates/deployment.yaml
  chart/ory/charts/gcloud-sqlproxy/templates/gcpserviceaccount.yaml
  chart/ory/charts/gcloud-sqlproxy/templates/horizontalpodautoscaler.yaml
  chart/ory/charts/gcloud-sqlproxy/templates/networkpolicy.yaml
  chart/ory/charts/gcloud-sqlproxy/templates/pdb.yaml
  chart/ory/charts/gcloud-sqlproxy/templates/role.yaml
  chart/ory/charts/gcloud-sqlproxy/templates/rolebinding.yaml
  chart/ory/charts/gcloud-sqlproxy/templates/secrets.yaml
  chart/ory/charts/gcloud-sqlproxy/templates/serviceaccount.yaml
  chart/ory/charts/gcloud-sqlproxy/templates/svc.yaml
  chart/ory/charts/gcloud-sqlproxy/values.yaml
  chart/ory/charts/oathkeeper/templates/pre-install-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Add model, service and repo implementation for Aspect
  components/director/cmd/ordaggregator/main.go
  components/director/internal/domain/aspect/converter.go
  components/director/internal/domain/aspect/entity.go
  components/director/internal/domain/aspect/repository.go
  components/director/internal/domain/aspect/service.go
  components/director/internal/domain/integrationdependency/converter.go
  components/director/internal/domain/integrationdependency/entity.go
  components/director/internal/domain/integrationdependency/repository.go
  components/director/internal/model/aspect.go
  components/director/internal/model/integration_dependency.go
  components/director/internal/open_resource_discovery/processor/integration_dependency.go
  components/director/internal/open_resource_discovery/validation.go
  components/director/pkg/resource/resource.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add missing image
  chart/ory/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

cleanup
  components/hydrator/internal/tenantmapping/model.go
Due: pull-hydrator-build, post-hydrator-build

Path conditions:
  pull-operations-controller-build: any of: ^components/operations-controller/
  pull-connector-build: any of: ^components/connector/
  pull-director-build: any of: ^components/director/
  pull-hydrator-build: any of: ^components/hydrator/
  pull-system-broker-build: any of: ^components/system-broker/
  pull-external-services-mock-build: any of: ^components/external-services-mock/
  pull-connectivity-adapter-build: any of: ^components/connectivity-adapter/
  pull-pairing-adapter-build: any of: ^components/pairing-adapter/
  pull-gateway-build: any of: ^components/gateway/
  pull-schema-migrator-build: any of: ^components/schema-migrator/
  pull-tests-build: any of: ^tests/
  post-operations-controller-build: any of: ^components/operations-controller/
  post-connector-build: any of: ^components/connector/
  post-director-build: any of: ^components/director/
  post-hydrator-build: any of: ^components/hydrator/
  post-system-broker-build: any of: ^components/system-broker/
  post-external-services-mock-build: (any of: ^components/system-broker/) or (any of: ^components/external-services-mock/)
  post-connectivity-adapter-build: (any of: ^components/system-broker/) or (any of: ^components/connectivity-adapter/)
  post-pairing-adapter-build: any of: ^components/pairing-adapter/
  post-gateway-build: any of: ^components/gateway/
  post-schema-migrator-build: any of: ^components/schema-migrator/
  post-tests-build: any of: ^tests/
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration-test: any of: ^(chart|installation)/
  pre-main-compass-integration-with-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-main-compass-smoke-test: any of: ^(chart|installation)/
  pull-connectivity-adapter-lint: any of: ^components/connectivity-adapter/(.*\.go$|.golangcilint.yaml)
  pull-connectivity-adapter-unit-test: any of: ^components/connectivity-adapter/.*\.go$
  pull-connector-unit-test: any of: ^components/connector/.*\.go$
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pull-external-services-mock-lint: any of: ^components/external-services-mock/(.*\.go$|.golangcilint.yaml)
  pull-external-services-mock-unit-test: any of: ^components/external-services-mock/.*\.go$
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pull-operations-controller-lint: any of: ^components/operations-controller/(.*\.go$|.golangcilint.yaml)
  pull-operations-controller-unit-test: any of: ^components/operations-controller/.*\.go$
  pull-pairing-adapter-unit-test: any of: ^components/pairing-adapter/.*\.go$
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-main-compass-schema-migrator-validate: any of: ^components/schema-migrator/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-main-compass-vm-clean-with-dump: any of: ^(chart|installation)/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  pull-compass-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-compass-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-compass-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-compass-vpathguard: any of: ^(vpath/pjtester.yaml)
