Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20190823-24e14d1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-master-compass-integration-stable-cli:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20190823-24e14d1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-tests-end-to-end:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Remove GCP - migrations
  components/schema-migrator/migrations/provisioner/202006251135_remove_gcp_provisioning.down.sql
  components/schema-migrator/migrations/provisioner/202006251135_remove_gcp_provisioning.up.sql
  components/schema-migrator/migrations/provisioner/202006251135_remove_terraform_state_and_credentials_secret.down.sql
Due: none

Update docs
  components/provisioner/README.md
  docs/provisioner/05-01-app-entry-parameters.md
Due: none

Remove bottleneck in Connector (#1441)
  chart/compass/values.yaml
  components/connector/cmd/main.go
  components/connector/config/components.go
  components/connector/internal/certificates/cache.go
  components/connector/internal/certificates/loader.go
  components/connector/internal/certificates/service.go
  components/connector/internal/certificates/service_test.go
  components/connector/pkg/graphql/clientset/clientset_main_test.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector

Format
  components/provisioner/internal/api/fake/gardener_client.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_test.go
Due: none

Fix readin Shoot purpose
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
Due: none

Bump image of Provisioner
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Fix reading Shoot purpose (#1462)
  chart/compass/values.yaml
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Update queries
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/query.go
  docs/provisioner/08-04-runtime-status.md
  tests/e2e/provisioning/Gopkg.lock
  tests/e2e/provisioning/Gopkg.toml
  tests/e2e/provisioning/internal/provisioner/query.go
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/testkit/compass/provisioner/graphqlizer.go
  tests/provisioner-tests/test/testkit/compass/provisioner/query.go
Due: pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

Cleanup
  tests/provisioner-tests/test/testkit/compass/provisioner/graphqlizer.go
Due: pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

Remove GCP from tests
  chart/compass/charts/provisioner/values.yaml
  tests/provisioner-tests/test/testkit/config.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

continue working on cluster gardener shoot cluster upgrade
  components/provisioner/cmd/main.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/shootupgrade/upgrade_shoot.go
  components/provisioner/internal/operations/stages/shootupgrade/upgrade_shoot_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/util/pointers.go
Due: none

Add unmarshalling
  components/provisioner/pkg/gqlschema/provider_config.go
  components/provisioner/pkg/gqlschema/provider_config_test.go
Due: none

Update deps
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  tests/e2e/provisioning/Gopkg.lock
  tests/e2e/provisioning/Gopkg.toml
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/test/provisioner/suite.go
Due: pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

Add LicenceType field to GardenerConfig
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/internal/gardener/annotations.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/hydroform/service_test.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gcp_config.go
  components/provisioner/internal/model/provider.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
  components/schema-migrator/migrations/provisioner/202006261510_add_type_for_gardener_config.down.sql
  components/schema-migrator/migrations/provisioner/202006261510_add_type_for_gardener_config.up.sql
Due: none

Try to fix Github
  components/provisioner/internal/api/fake/gardener_client.go
Due: none

Update deps
  tests/provisioner-tests/Gopkg.lock
Due: pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

Fix tests
  components/kyma-environment-broker/internal/hyperscaler/account_provider.go
  components/kyma-environment-broker/internal/hyperscaler/account_provider_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/provisioner/client_test.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
Due: none

Fix imports
  tests/provisioner-tests/test/provisioner/suite.go
Due: pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

continue working on cluster gardener shoot cluster upgrade
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/internal/provisioning/service.go
Due: none

continue working on cluster gardener shoot cluster upgrade
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/provisioning/service.go
Due: none

continue working on cluster gardener shoot cluster upgrade
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/shootupgrade/upgrade_shoot.go
Due: none

continue working on cluster gardener shoot cluster upgrade
  components/provisioner/internal/api/validator.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/shootupgrade/upgrade_shoot.go
  components/provisioner/internal/operations/stages/shootupgrade/upgrade_shoot_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/service.go
Due: none

Remove fork reference
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: pre-master-provisioner-whitesource-scan

Clean deps
  components/provisioner/go.sum
Due: pre-master-provisioner-whitesource-scan

continue working on cluster gardener shoot cluster upgrade
  components/provisioner/cmd/main.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/hydroform/provisioner.go
  components/provisioner/internal/provisioning/service.go
Due: none

wip
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
Due: pre-master-provisioner-whitesource-scan

Update installation SDK (#1450)
  chart/compass/values.yaml
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-provisioner-whitesource-scan

Clean deps
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: pre-master-provisioner-whitesource-scan

Bump images
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add label to job template
  chart/compass/charts/kyma-environment-broker/templates/environments-cleanup-job.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add curl to cleanup docker image
  components/kyma-environment-broker/Dockerfile.cleanup
Due: none

Add additional logging
  components/kyma-environment-broker/internal/environmentscleanup/service.go
Due: none

Apply suggestions after CR #1
  chart/compass/charts/kyma-environment-broker/templates/environments-cleanup-job.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  components/kyma-environment-broker/cmd/environmentscleanup/main.go
  components/kyma-environment-broker/internal/environmentscleanup/automock/BrokerClient.go
  components/kyma-environment-broker/internal/environmentscleanup/automock/GardenerClient.go
  components/kyma-environment-broker/internal/environmentscleanup/broker/client.go
  components/kyma-environment-broker/internal/environmentscleanup/broker/client_test.go
  components/kyma-environment-broker/internal/environmentscleanup/service.go
  components/kyma-environment-broker/internal/environmentscleanup/service_test.go
  components/kyma-environment-broker/internal/storage/dbsession/factory.go
  components/kyma-environment-broker/internal/storage/dbsession/read.go
  components/kyma-environment-broker/internal/storage/driver/memory/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/kyma-environment-broker/internal/storage/ext.go
  docs/kyma-environment-broker/03-07-environments-cleanup.md
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

fix indent in Makefile
  components/kyma-environment-broker/Makefile
Due: none

Add environments cleanup to KEB
  chart/compass/charts/kyma-environment-broker/templates/environments-cleanup-job.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/values.yaml
  components/kyma-environment-broker/Dockerfile
  components/kyma-environment-broker/cmd/environmentscleanup/README.md
  components/kyma-environment-broker/cmd/environmentscleanup/main.go
  components/kyma-environment-broker/internal/director/client.go
  components/kyma-environment-broker/internal/director/client_test.go
  components/kyma-environment-broker/internal/director/query.go
  components/kyma-environment-broker/internal/environmentscleanup/broker/client.go
  components/kyma-environment-broker/internal/environmentscleanup/service.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Remove leftover db query
  components/kyma-environment-broker/internal/storage/dbsession/factory.go
  components/kyma-environment-broker/internal/storage/dbsession/read.go
Due: none

Apply suggestions from code review - docs
  docs/kyma-environment-broker/03-07-environments-cleanup.md
Due: none

Path conditions:
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-integration-stable-cli: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
