Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher, pre-compass-validate-inrepo-prow-configs

pre-main-compass-development-artifacts:
  labels:
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-development-artifacts-bucket: 'true'
    preset-sa-gcr-push: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
  ...

pre-main-compass-gke-benchmark:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-gke-benchmark
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-cluster-version: 'true'
    preset-docker-push-repository-gke-integration: 'true'
  ...

pre-main-compass-gke-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-gke-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-cluster-version: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-gke-integration: 'true'
  ...

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-main-compass-integration-no-dump:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-integration-no-dump
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-main-compass-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

Update ord-service
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Update ord-service (#2670)
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

adapt existing assign and unassign tests
  components/director/internal/domain/formation/assign_formation_test.go
  components/director/internal/domain/formation/automock/application_repository.go
  components/director/internal/domain/formation/automock/application_template_repository.go
  components/director/internal/domain/formation/automock/formation_assignment_service.go
  components/director/internal/domain/formation/automock/notifications_service.go
  components/director/internal/domain/formation/automock/runtime_context_repository.go
  components/director/internal/domain/formation/automock/runtime_repository.go
  components/director/internal/domain/formation/automock/webhook_repository.go
  components/director/internal/domain/formation/fixtures_test.go
  components/director/internal/domain/formation/notifications_test.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formation/service_test.go
  components/director/internal/domain/formation/unassign_formation_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

adapt formation service tests
  components/director/internal/domain/formation/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

extend label filter
  components/director/internal/domain/label/query.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add new unit tests
  components/director/internal/domain/formation/assign_formation_test.go
  components/director/internal/domain/formation/unassign_formation_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add logic based on struct
  components/director/internal/domain/label/query.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

adapt e2e test
  tests/director/tests/formation_api_test.go
Due: pre-compass-tests, post-compass-tests

Add unit test
  components/director/internal/domain/label/query_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add runtime and runtime repository unit tests
  components/director/internal/domain/runtime/repository_test.go
  components/director/internal/domain/runtime_context/repository.go
  components/director/internal/domain/runtime_context/repository_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

API validation rules adjusted
  components/director/internal/open_resource_discovery/validation.go
  components/director/internal/open_resource_discovery/validation_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update values
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Check for real json
  components/director/internal/domain/label/query.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Make linter happy
  components/director/internal/domain/label/query.go
  components/director/internal/domain/label/query_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add unit tests
  components/director/internal/domain/formationassignment/automock/application_repository.go
  components/director/internal/domain/formationassignment/automock/formation_assignment_converter.go
  components/director/internal/domain/formationassignment/automock/runtime_context_repository.go
  components/director/internal/domain/formationassignment/automock/runtime_repository.go
  components/director/internal/domain/formationassignment/automock/template_input.go
  components/director/internal/domain/formationassignment/automock/uid_service.go
  components/director/internal/domain/formationassignment/fixtures_test.go
  components/director/internal/domain/formationassignment/service.go
  components/director/internal/domain/formationassignment/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add more unit tests and remove debug logs
  components/director/internal/domain/formation/automock/runtime_context_repository.go
  components/director/internal/domain/formation/automock/runtime_repository.go
  components/director/internal/domain/formation/notifications.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formationassignment/automock/application_repository.go
  components/director/internal/domain/formationassignment/automock/entity_converter.go
  components/director/internal/domain/formationassignment/automock/runtime_context_repository.go
  components/director/internal/domain/formationassignment/automock/runtime_repository.go
  components/director/internal/domain/formationassignment/converter.go
  components/director/internal/domain/formationassignment/converter_test.go
  components/director/internal/domain/formationassignment/fixtures_test.go
  components/director/internal/domain/formationassignment/service.go
  components/director/internal/domain/formationassignment/service_test.go
  components/director/internal/model/formation_assignment.go
  components/director/pkg/webhook/types.go
  components/director/pkg/webhook_client/client.go
  tests/director/tests/formation_api_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

bump operations controller director version
  chart/compass/values.yaml
  components/operations-controller/go.mod
  components/operations-controller/go.sum
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-master-provisioner-whitesource-scan

make lint happy
  components/director/internal/domain/formationassignment/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

API validation rules adjusted (#2671)
  chart/compass/values.yaml
  components/director/internal/open_resource_discovery/validation.go
  components/director/internal/open_resource_discovery/validation_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update director dependecy in hydrator
  components/hydrator/go.mod
  components/hydrator/go.sum
Due: pre-master-provisioner-whitesource-scan

fix webhook client
  components/director/pkg/webhook_client/client.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Extend label filter query (#2672)
  chart/compass/values.yaml
  components/director/internal/domain/label/query.go
  components/director/internal/domain/label/query_test.go
  components/director/internal/open_resource_discovery/validation.go
  components/director/internal/open_resource_discovery/validation_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

bump director version in other components
  components/connectivity-adapter/go.mod
  components/connector/go.mod
  components/external-services-mock/go.mod
  components/gateway/go.mod
  components/hydrator/go.mod
  components/operations-controller/go.mod
  components/operations-controller/go.sum
  components/pairing-adapter/go.mod
  components/system-broker/go.mod
  components/system-broker/go.sum
  tests/go.mod
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

go mod tidy
  components/connectivity-adapter/go.sum
  components/connector/go.mod
  components/connector/go.sum
  components/external-services-mock/go.sum
  components/gateway/go.sum
  components/hydrator/go.sum
  components/pairing-adapter/go.sum
  tests/go.sum
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

go get
  components/connector/go.mod
  components/connector/go.sum
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-provisioner-whitesource-scan

fix go.mod
  components/connector/go.mod
  components/connector/go.sum
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-provisioner-whitesource-scan

Remove leftover
  components/director/pkg/cert/certutils.go
  components/director/pkg/cert/certutils_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add unit test
  components/director/internal/repo/list.go
  components/director/internal/repo/list_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add unit tests for ListAllForObject
  components/director/internal/domain/formationassignment/repository_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Validate ORD service and Compass Console
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Remove leftover
  components/director/pkg/cert/certutils.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Allow Technical Client authentication (#2644)
  chart/compass/charts/hydrator/templates/deployment.yaml
  chart/compass/charts/hydrator/values.yaml
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/values.yaml
  components/director/internal/authenticator/claims/validator.go
  components/director/pkg/cert/certutils.go
  components/director/pkg/cert/certutils_test.go
  components/director/pkg/consumer/consumer.go
  components/director/pkg/model/system_auth.go
  components/hydrator/cmd/main.go
  components/hydrator/go.mod
  components/hydrator/go.sum
  components/hydrator/internal/subject/cert_subject.go
  components/hydrator/internal/subject/cert_subject_test.go
  components/hydrator/internal/tenantmapping/cert_service_context_provider.go
  tests/director/tests/application_templates_api_test.go
  tests/director/tests/application_templates_subscription_test.go
  tests/director/tests/certificates_access_test.go
  tests/director/tests/technical_client_test.go
  tests/go.mod
  tests/ord-service/tests/subscription_flow_test.go
  tests/pkg/certs/certprovider/ext_cert_provider.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Validate ORD service and Compass Console (#2673)
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Change webhook
  tests/external-services-mock/tests/README.md
Due: pre-compass-tests, post-compass-tests

Change webhook (#2674)
  tests/external-services-mock/tests/README.md
Due: pre-compass-tests, post-compass-tests

Refactor Technical Client test
  tests/director/tests/technical_client_test.go
Due: pre-compass-tests, post-compass-tests

Validation PR for test-ngram changes
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Tweak
  tests/director/tests/technical_client_test.go
Due: pre-compass-tests, post-compass-tests

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  pre-compass-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
