Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pull-operations-controller-build, pull-connector-build, pull-director-build, pull-hydrator-build, pull-system-broker-build, pull-external-services-mock-build, pull-connectivity-adapter-build, pull-pairing-adapter-build, pull-gateway-build, pull-schema-migrator-build, pull-tests-build, post-operations-controller-build, post-connector-build, post-director-build, post-hydrator-build, post-system-broker-build, post-external-services-mock-build, post-connectivity-adapter-build, post-pairing-adapter-build, post-gateway-build, post-schema-migrator-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pull-connectivity-adapter-lint, pull-connectivity-adapter-unit-test, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-compass-components-gateway, post-compass-components-gateway, pull-operations-controller-lint, pull-operations-controller-unit-test, pull-pairing-adapter-unit-test, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher, pre-compass-validate-inrepo-prow-configs, pull-compass-pjtester, pull-compass-vpathguard

pull-operations-controller-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-operations-controller-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-connector-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-connector-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-director-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-director-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
      command:
  ...

pull-hydrator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-hydrator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
      command:
  ...

pull-system-broker-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-system-broker-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-external-services-mock-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-external-services-mock-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-connectivity-adapter-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-connectivity-adapter-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-pairing-adapter-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-pairing-adapter-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

post-external-services-mock-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-external-services-mock-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

make imports
  components/director/cmd/director/main.go
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/internal/domain/apptemplate/config.go
  components/director/internal/domain/formation/asa_engine.go
  components/director/internal/domain/formation/asa_engine_test.go
  components/director/internal/domain/formation/fixtures_test.go
  components/director/internal/domain/formation/notificationbuilder.go
  components/director/internal/domain/formation/notificationbuilder_test.go
  components/director/internal/domain/formation/notifications.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formation/service_test.go
  components/director/internal/domain/formation/unassign_formation_test.go
  components/director/internal/domain/formationassignment/notifications.go
  components/director/internal/domain/formationassignment/notifications_test.go
  components/director/internal/domain/formationconstraint/constraintEngine.go
  components/director/internal/domain/formationconstraint/constraintOperators.go
  components/director/internal/domain/formationconstraint/constraint_engine_test.go
  components/director/internal/domain/formationconstraint/constraint_operators_test.go
  components/director/internal/domain/formationconstraint/converter_test.go
  components/director/internal/domain/formationconstraint/repository.go
  components/director/internal/domain/formationconstraint/repository_test.go
  components/director/internal/domain/formationconstraint/resolver.go
  components/director/internal/domain/formationconstraint/resolver_test.go
  components/director/internal/domain/formationconstraint/service.go
  components/director/internal/domain/formationconstraint/service_test.go
  components/director/internal/domain/formationtemplateconstraintreferences/converter_test.go
  components/director/internal/domain/formationtemplateconstraintreferences/repository.go
  components/director/internal/domain/formationtemplateconstraintreferences/repository_test.go
  components/director/internal/domain/formationtemplateconstraintreferences/resolver.go
  components/director/internal/domain/formationtemplateconstraintreferences/resolver_test.go
  components/director/internal/domain/formationtemplateconstraintreferences/service.go
  components/director/internal/domain/formationtemplateconstraintreferences/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/tenantfetchersvc/resync/builder.go
  components/director/pkg/formationconstraint/parse_template.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Introduce instances label
  components/director/internal/domain/subscription/fixtures_test.go
  components/director/internal/domain/subscription/service.go
  components/director/internal/domain/subscription/service_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

make linter happy
  components/director/internal/domain/subscription/service.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix casting
  components/director/internal/domain/subscription/service.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix logs
  components/director/internal/domain/subscription/service.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Only 1 job can be tested with 1 PR
  vpath/pjtester.yaml
Due: pull-compass-pjtester, pull-compass-vpathguard

fix logs + adopt unit tests
  components/director/internal/domain/subscription/service.go
  components/director/internal/domain/subscription/service_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

make lint happy
  components/director/internal/domain/formation/asa_engine.go
  components/director/internal/domain/formation/notificationbuilder.go
  components/director/internal/domain/formation/notificationbuilder_test.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formationconstraint/automock/automatic_scenario_assignment_service.go
  components/director/internal/domain/formationconstraint/constraintEngine.go
  components/director/internal/domain/formationconstraint/constraintOperators.go
  components/director/internal/domain/formationconstraint/constraint_engine_test.go
  components/director/internal/domain/formationconstraint/constraint_operators_test.go
  components/director/internal/domain/formationconstraint/fixtures_test.go
  components/director/internal/domain/formationtemplateconstraintreferences/service.go
  components/director/internal/model/formation_constraint.go
  components/director/internal/model/formation_template_constraint_references.go
  components/director/pkg/formationconstraint/joinPointLocation.go
  components/director/pkg/formationconstraint/parse_template.go
  components/director/pkg/graphql/formation_constraint_validation.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  tests/director/tests/formation_constraint_api_test.go
Due: pull-director-build, pull-tests-build, post-director-build, post-tests-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

adapt graphqlizer
  components/director/pkg/graphql/graphqlizer/fields.go
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

make lint happy
  components/director/internal/domain/formationconstraint/constraintEngine.go
  components/director/internal/domain/formationconstraint/constraintOperators.go
  components/director/pkg/formationconstraint/formationConstraintInput.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Relax input validation of tenant mapping status API
  components/director/internal/domain/apptemplate/config.go
  components/director/internal/formationmapping/handler.go
  components/director/internal/formationmapping/handler_test.go
  components/external-services-mock/internal/notification/handler.go
  tests/director/tests/formation_api_test.go
Due: pull-director-build, pull-external-services-mock-build, pull-tests-build, post-director-build, post-external-services-mock-build, post-tests-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-compass-tests, post-compass-tests

bump components versions
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

[HOTFIX] Relax input validation of tenant mapping status API
  chart/compass/values.yaml
  components/director/internal/formationmapping/handler.go
  components/director/internal/formationmapping/handler_test.go
  components/external-services-mock/internal/notification/handler.go
  tests/director/tests/formation_api_test.go
Due: pull-director-build, pull-external-services-mock-build, pull-tests-build, post-director-build, post-external-services-mock-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

adapt e2e tests
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formationtemplateconstraintreferences/service.go
  tests/director/tests/formation_constraint_api_test.go
  tests/go.mod
  tests/go.sum
Due: pull-director-build, pull-tests-build, post-director-build, post-tests-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

generate examples
  components/director/examples/README.md
  components/director/examples/attach-constraint-to-formation-template/attach-constraint-to-formation-template.graphql
  components/director/examples/create-formation-constraint/create-formation-constraint.graphql
  components/director/examples/delete-formation-constraint/delete-formation-constraint.graphql
  components/director/examples/detach-constraint-from-frmation-template/detach-constraint-from-frmation-template.graphql
  components/director/examples/list-formation-constraints-for-formation-template/list-formation-constraints-for-formation-template.graphql
  components/director/examples/list-formation-constraints/list-formation-constraints.graphql
  components/director/examples/query-tenants/query-tenants.graphql
  components/director/examples/update-application-template/update-application-template.graphql
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix unit test
  components/director/internal/domain/formationtemplateconstraintreferences/service_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add formationTemplateID to webhook fields provider
  components/director/pkg/graphql/graphqlizer/fields.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

[HOTFIX] Relax input validation of tenant mapping status API (#2843)
  chart/compass/values.yaml
  components/director/internal/formationmapping/handler.go
  components/director/internal/formationmapping/handler_test.go
  components/external-services-mock/internal/notification/handler.go
  tests/director/tests/formation_api_test.go
Due: pull-director-build, pull-external-services-mock-build, pull-tests-build, post-director-build, post-external-services-mock-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

Update CODEOWNERS
  CODEOWNERS
Due: none

Update CODEOWNERS (#2844)
  CODEOWNERS
Due: none

adapt e2e tests
  chart/compass/values.yaml
  tests/director/tests/application_templates_subscription_test.go
  tests/director/tests/formation_mapping_api_test.go
Due: pull-tests-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

add test check
  tests/director/tests/application_templates_subscription_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

Adjust validate script for arm and amd arch builds
  components/schema-migrator/validate.sh
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Update values
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Adjust validate script
  .gitignore
  components/schema-migrator/Makefile
  components/schema-migrator/validate.sh
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Adjust validate script for arm and amd arch builds (#2845)
  .gitignore
  chart/compass/values.yaml
  components/schema-migrator/Makefile
  components/schema-migrator/validate.sh
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, post-main-compass-vm-clean-with-dump

gqlgen
  components/director/pkg/graphql/schema.graphql
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Relax input validation of tenant mapping status API (#2842)
  chart/compass/values.yaml
  components/director/internal/domain/apptemplate/config.go
  components/director/internal/formationmapping/handler.go
  components/director/internal/formationmapping/handler_test.go
  components/external-services-mock/internal/notification/handler.go
  tests/director/tests/formation_api_test.go
Due: pull-director-build, pull-external-services-mock-build, pull-tests-build, post-director-build, post-external-services-mock-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

gqlgen
  components/director/pkg/graphql/schema_gen.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

apply review comments
  components/director/internal/domain/subscription/service.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix utests + adapt e2e test
  components/director/internal/domain/subscription/service_test.go
  tests/director/tests/runtime_contexts_api_test.go
Due: pull-director-build, pull-tests-build, post-director-build, post-tests-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

extend e2e test
  tests/director/tests/runtime_contexts_api_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

Add version to GQLizer
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

add db check constraints and create formation constraint
  components/schema-migrator/migrations/director/20230120090249_introduce_formation_constraints.up.sql
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

addapt list formation constraints tests to respect already existing constraints
  tests/director/tests/formation_api_test.go
  tests/director/tests/formation_constraint_api_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

Path conditions:
  pull-operations-controller-build: any of: ^components/operations-controller/
  pull-connector-build: any of: ^components/connector/
  pull-director-build: any of: ^components/director/
  pull-hydrator-build: any of: ^components/hydrator/
  pull-system-broker-build: any of: ^components/system-broker/
  pull-external-services-mock-build: any of: ^components/external-services-mock/
  pull-connectivity-adapter-build: any of: ^components/connectivity-adapter/
  pull-pairing-adapter-build: any of: ^components/pairing-adapter/
  pull-gateway-build: any of: ^components/gateway/
  pull-schema-migrator-build: any of: ^components/schema-migrator/
  pull-tests-build: any of: ^tests/
  post-operations-controller-build: any of: ^components/operations-controller/
  post-connector-build: any of: ^components/connector/
  post-director-build: any of: ^components/director/
  post-hydrator-build: any of: ^components/hydrator/
  post-system-broker-build: any of: ^components/system-broker/
  post-external-services-mock-build: (any of: ^components/system-broker/) or (any of: ^components/external-services-mock/)
  post-connectivity-adapter-build: (any of: ^components/system-broker/) or (any of: ^components/connectivity-adapter/)
  post-pairing-adapter-build: any of: ^components/pairing-adapter/
  post-gateway-build: any of: ^components/gateway/
  post-schema-migrator-build: any of: ^components/schema-migrator/
  post-tests-build: any of: ^tests/
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-main-compass-smoke-test: any of: ^(chart|installation)/
  pull-connectivity-adapter-lint: any of: ^components/connectivity-adapter/(.*\.go$|.golangcilint.yaml)
  pull-connectivity-adapter-unit-test: any of: ^components/connectivity-adapter/.*\.go$
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pull-external-services-mock-lint: any of: ^components/external-services-mock/(.*\.go$|.golangcilint.yaml)
  pull-external-services-mock-unit-test: any of: ^components/external-services-mock/.*\.go$
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pull-operations-controller-lint: any of: ^components/operations-controller/(.*\.go$|.golangcilint.yaml)
  pull-operations-controller-unit-test: any of: ^components/operations-controller/.*\.go$
  pull-pairing-adapter-unit-test: any of: ^components/pairing-adapter/.*\.go$
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-main-compass-schema-migrator-validate: any of: ^components/schema-migrator/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-main-compass-vm-clean-with-dump: any of: ^(chart|installation)/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  pre-compass-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-compass-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-compass-vpathguard: any of: ^(vpath/pjtester.yaml)
