Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan

pre-master-compass-gke-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20200817-1.14.0-rc1-75-g625c1054-k8s1.16
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

Replace latest-published source flag with master (#1631)
  installation/scripts/install-kyma.sh
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Make go imports
  components/director/cmd/director/main.go
  components/director/internal/authenticator/jwks_fetch.go
  components/director/internal/authenticator/middleware.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/internal/domain/onetimetoken/service.go
  components/director/internal/domain/systemauth/repository.go
  components/director/internal/domain/systemauth/service.go
  components/director/internal/error_presenter/presenter_test.go
  components/director/internal/healthz/handler.go
  components/director/internal/metrics/pusher.go
  components/director/internal/runtimemapping/handler_test.go
  components/director/internal/runtimemapping/keys_cache.go
  components/director/internal/runtimemapping/keys_cache_test.go
  components/director/internal/runtimemapping/token_verifier.go
  components/director/internal/runtimemapping/token_verifier_test.go
  components/director/internal/statusupdate/handler_test.go
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/mapper_for_system_auth.go
  components/director/internal/tenantmapping/mapper_for_user.go
  components/director/internal/tenantmapping/staticgroup_test.go
  components/director/pkg/correlation/middleware.go
  components/director/pkg/persistence/persistence.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update director version
  chart/compass/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fix chart
  chart/compass/templates/tenant-fetcher-job.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Parametrize tenant fetcher chart configmap namespace
  chart/compass/templates/tenant-fetcher-job.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fix tenant fetcher chart
  chart/compass/templates/tenant-fetcher-job.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Adjust configuration
  chart/compass/charts/connector/templates/certs-setup-job.yaml
  chart/compass/charts/connector/templates/certs-setup-role-binding.yaml
  chart/compass/templates/copy-cert-manager-cacert-job.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Pass claims with consumerId to PreLog
  components/gateway/pkg/proxy/transport.go
Due: pre-compass-components-gateway, post-compass-components-gateway

Add check for consumerId
  components/gateway/pkg/proxy/transport_test.go
Due: pre-compass-components-gateway, post-compass-components-gateway

Parametrize compass word
  chart/compass/templates/tenant-fetcher-job.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Ensure normalization uniqueness among application names upon registration
  components/director/internal/domain/application/automock/application_repository.go
  components/director/internal/domain/application/automock/integration_system_repository.go
  components/director/internal/domain/application/automock/label_repository.go
  components/director/internal/domain/application/automock/label_upsert_service.go
  components/director/internal/domain/application/automock/runtime_repository.go
  components/director/internal/domain/application/automock/scenarios_service.go
  components/director/internal/domain/application/automock/webhook_repository.go
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/application/repository_test.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/apperrors/consts.go
  components/director/pkg/apperrors/errors.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add e2e test
  tests/director/api/application_api_test.go
Due: none

Fix copy job
  chart/compass/templates/copy-cert-manager-cacert-job.yaml
  docs/connector/08-01-establish-secure-connection-with-compass.md
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

minor adjustmnets
  chart/compass/templates/copy-cert-manager-cacert-job.yaml
  chart/compass/values.yaml
  components/connector/internal/certificates/certificates.go
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector

Prevent configmap overriding with condition if configmap already exists
  chart/compass/templates/tenant-fetcher-job.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Parametrize configmap name
  chart/compass/templates/tenant-fetcher-job.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Add checks for consumerId and consumerType in tests
  tests/director/external-services-mock-integration/auditlog_integration_test.go
Due: none

Update gateway version
  chart/compass/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Delete unused commented code
  components/director/cmd/tenantfetcher/main.go
  components/director/cmd/tenantloader/main.go
  components/director/internal/domain/fetchrequest/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

create copy job only if needed
  chart/compass/templates/copy-cert-manager-cacert-job.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Introduce a better fetching mechanism
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantfetcher/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update test version
  chart/compass/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Make importa
  tests/director/external-services-mock-integration/auditlog_integration_test.go
Due: none

Fix imports
  components/director/internal/tenantfetcher/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add labels to resources
  chart/compass/templates/tenant-fetcher-job.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Add cluster issuer and certs
  chart/compass/templates/certificates.yaml
  chart/compass/templates/clusterissuer.yaml
  chart/compass/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Refactor Kubernetes-related APIs
  components/director/internal/tenantfetcher/kubernetes.go
  components/director/pkg/kubernetes/client.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Remove obsolete configurations
  chart/compass/charts/pairing-adapter/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fix deployment name
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Rename adapter1 to adapter0 to indeicate it's just a template
  chart/compass/charts/pairing-adapter/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Adjust helm charts
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
  chart/compass/charts/pairing-adapter/templates/virtual-service.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Adjust Pairing Adapter to create new deployments per adapter configuration
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
  chart/compass/charts/pairing-adapter/templates/destination-rule.yaml
  chart/compass/charts/pairing-adapter/templates/virtual-service.yaml
  chart/compass/charts/pairing-adapter/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fix deployment
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Update charts to use instead of config.name
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
  chart/compass/charts/pairing-adapter/templates/destination-rule.yaml
  chart/compass/charts/pairing-adapter/templates/virtual-service.yaml
  chart/compass/charts/pairing-adapter/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fix multiple deployments file
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fix deployment labels
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Adjust Pairing Adapter to create new deployments per adapter configuration (#1635)
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
  chart/compass/charts/pairing-adapter/templates/destination-rule.yaml
  chart/compass/charts/pairing-adapter/templates/virtual-service.yaml
  chart/compass/charts/pairing-adapter/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Add normalizer and tests
  components/director/cmd/director/main.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/normalizer/normalizer.go
  components/director/pkg/normalizer/normalizer_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Path conditions:
  pre-master-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
