Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20190823-24e14d1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-master-compass-integration-stable-cli:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20190823-24e14d1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-tests-end-to-end:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Add inUse metadata for Tenants query in Director
  components/director/internal/domain/labeldef/repository.go
  components/director/internal/domain/package/repository.go
  components/director/internal/domain/tenant/converter.go
  components/director/internal/domain/tenant/converter_test.go
  components/director/internal/domain/tenant/entity.go
  components/director/internal/domain/tenant/fixtures_test.go
  components/director/internal/domain/tenant/repository.go
  components/director/internal/domain/tenant/repository_test.go
  components/director/internal/model/businesstenantmapping.go
  components/director/pkg/graphql/graphqlizer/fields.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/pkg/str/strings.go
  components/director/pkg/str/strings_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update integration tests
  components/director/examples/query-tenants/query-tenants.graphql
  components/director/pkg/graphql/graphqlizer/fields.go
  tests/director/api/tenants_api_test.go
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Update go mod for Director tests
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-provisioner-whitesource-scan

Improve code
  components/director/internal/domain/tenant/fixtures_test.go
  components/director/internal/domain/tenant/repository.go
  tests/director/api/assertions.go
  tests/director/api/tenants_api_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump the images
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Certificate chain order changed (#1394)
  chart/compass/values.yaml
  components/connector/internal/certificates/service.go
  components/connector/internal/certificates/service_test.go
  tests/connector-tests/test/apitests/apitests_test.go
  tests/connector-tests/test/testkit/certificates.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector

Foramt
  components/provisioner/internal/installation/release/file_downloader.go
Due: none

Add integration test for initialized and not initialized tenants
  tests/director/api/assertions.go
  tests/director/api/tenant_setup.go
  tests/director/api/tenants_api_test.go
Due: none

Add tags to dashboard
  chart/compass/charts/provisioner/files/dashboard.json
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Initialize one of the tenants
  tests/director/api/application_api_test.go
  tests/director/api/tenant_setup.go
  tests/director/api/tenants_api_test.go
Due: none

Change "inUse" column name to "initialized"
  components/director/internal/domain/tenant/converter.go
  components/director/internal/domain/tenant/converter_test.go
  components/director/internal/domain/tenant/entity.go
  components/director/internal/domain/tenant/fixtures_test.go
  components/director/internal/domain/tenant/repository.go
  components/director/internal/domain/tenant/repository_test.go
  components/director/internal/model/businesstenantmapping.go
  components/director/pkg/graphql/graphqlizer/fields.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update tests
  tests/director/api/assertions.go
  tests/director/api/tenants_api_test.go
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-provisioner-whitesource-scan

Initial Metrics for Provisioner (#1399)
  chart/compass/charts/provisioner/files/dashboard.json
  chart/compass/charts/provisioner/templates/dashboard.yaml
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/templates/metrics-policy.yaml
  chart/compass/charts/provisioner/templates/service-monitor.yaml
  chart/compass/charts/provisioner/templates/service.yaml
  chart/compass/charts/provisioner/values.yaml
  chart/compass/requirements.yaml
  chart/compass/values.yaml
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/metrics/in_progress_operations.go
  components/provisioner/internal/metrics/in_progress_operations_test.go
  components/provisioner/internal/metrics/metrics.go
  components/provisioner/internal/metrics/mocks/OperationsStatsGetter.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadWriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-provisioner-whitesource-scan

Fix tests
  components/director/examples/query-integration-systems/query-integration-systems.graphql
  components/director/examples/query-tenants/query-tenants.graphql
  tests/director/api/application_api_test.go
  tests/director/api/tenants_api_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Do not create LabelDefinition for simple application
  tests/director/api/application_api_test.go
  tests/director/api/tenants_api_test.go
Due: none

Some changes
  components/provisioner/hack/gqlgen.go
Due: none

Update gqlschema
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add "initialized" metadata field for Tenants query in Director (#1404)
  chart/compass/values.yaml
  components/director/examples/query-integration-systems/query-integration-systems.graphql
  components/director/examples/query-tenants/query-tenants.graphql
  components/director/internal/domain/labeldef/repository.go
  components/director/internal/domain/package/repository.go
  components/director/internal/domain/tenant/converter.go
  components/director/internal/domain/tenant/converter_test.go
  components/director/internal/domain/tenant/entity.go
  components/director/internal/domain/tenant/fixtures_test.go
  components/director/internal/domain/tenant/repository.go
  components/director/internal/domain/tenant/repository_test.go
  components/director/internal/model/businesstenantmapping.go
  components/director/pkg/graphql/graphqlizer/fields.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/pkg/str/strings.go
  components/director/pkg/str/strings_test.go
  tests/director/api/application_api_test.go
  tests/director/api/assertions.go
  tests/director/api/tenant_setup.go
  tests/director/api/tenants_api_test.go
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Update dependency to Director in Director API test
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-provisioner-whitesource-scan

Bump Director tests image
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Update dependency to Director in Director API test (#1411)
  chart/compass/values.yaml
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-provisioner-whitesource-scan

Add retries to Audit Log integration tests
  tests/director/api/testctx.go
  tests/director/external-services-mock-integration/fixtures_request.go
  tests/director/external-services-mock-integration/testctx.go
  tests/director/gateway-integration/testctx.go
  tests/director/pkg/retrier/retrier.go
Due: none

Update KEB dashboard
  chart/compass/charts/kyma-environment-broker/files/dashboard.json
  chart/compass/charts/kyma-environment-broker/templates/dashboard.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Update KEB dashboard (#1396)
  chart/compass/charts/kyma-environment-broker/files/dashboard.json
  chart/compass/charts/kyma-environment-broker/templates/dashboard.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add release label to the resources
  chart/compass/charts/connector/templates/certs-setup-job.yaml
  chart/compass/charts/connector/templates/certs-setup-role-binding.yaml
  chart/compass/charts/connector/templates/configmap.yaml
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/charts/connector/templates/role-binding.yaml
  chart/compass/charts/connector/templates/service-account.yaml
  chart/compass/charts/connector/templates/service-role-binding.yaml
  chart/compass/charts/connector/templates/service.yaml
  chart/compass/charts/connector/templates/tests/role-binding.yaml
  chart/compass/charts/connector/templates/tests/service-account.yaml
  chart/compass/charts/connector/templates/tests/test-connector.yaml
  chart/compass/charts/connector/templates/virtual-service.yaml
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/templates/gardener-creds-secret.yaml
  chart/compass/charts/provisioner/templates/role-binding.yaml
  chart/compass/charts/provisioner/templates/service-account.yaml
  chart/compass/charts/provisioner/templates/service.yaml
  chart/compass/charts/provisioner/templates/tests/role-binding.yaml
  chart/compass/charts/provisioner/templates/tests/service-account.yaml
  chart/compass/charts/provisioner/templates/tests/test-provisioner.yaml
  chart/compass/charts/provisioner/templates/virtual-service.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Refactor also Connectivity Adapter
  chart/compass/charts/connectivity-adapter/templates/deployment.yaml
  chart/compass/charts/connectivity-adapter/templates/oathkeeper-rules.yaml
  chart/compass/charts/connectivity-adapter/templates/service.yaml
  chart/compass/charts/connectivity-adapter/templates/tests/service-account.yaml
  chart/compass/charts/connectivity-adapter/templates/tests/tests.yaml
  chart/compass/charts/connectivity-adapter/templates/virtualservice-mtls.yaml
  chart/compass/charts/connectivity-adapter/templates/virtualservice.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Fix the template with resources
  chart/compass/charts/connectivity-adapter/templates/deployment.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add labels to the new service
  chart/compass/charts/provisioner/templates/service.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Refactor Runtime Provisioner and Connector charts (#1397)
  chart/compass/charts/connectivity-adapter/templates/deployment.yaml
  chart/compass/charts/connectivity-adapter/templates/oathkeeper-rules.yaml
  chart/compass/charts/connectivity-adapter/templates/service.yaml
  chart/compass/charts/connectivity-adapter/templates/tests/service-account.yaml
  chart/compass/charts/connectivity-adapter/templates/tests/tests.yaml
  chart/compass/charts/connectivity-adapter/templates/virtualservice-mtls.yaml
  chart/compass/charts/connectivity-adapter/templates/virtualservice.yaml
  chart/compass/charts/connector/templates/certs-setup-job.yaml
  chart/compass/charts/connector/templates/certs-setup-role-binding.yaml
  chart/compass/charts/connector/templates/configmap.yaml
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/charts/connector/templates/role-binding.yaml
  chart/compass/charts/connector/templates/service-account.yaml
  chart/compass/charts/connector/templates/service-role-binding.yaml
  chart/compass/charts/connector/templates/service.yaml
  chart/compass/charts/connector/templates/tests/role-binding.yaml
  chart/compass/charts/connector/templates/tests/service-account.yaml
  chart/compass/charts/connector/templates/tests/test-connector.yaml
  chart/compass/charts/connector/templates/virtual-service.yaml
  chart/compass/charts/connector/values.yaml
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/templates/gardener-creds-secret.yaml
  chart/compass/charts/provisioner/templates/role-binding.yaml
  chart/compass/charts/provisioner/templates/service-account.yaml
  chart/compass/charts/provisioner/templates/service.yaml
  chart/compass/charts/provisioner/templates/tests/role-binding.yaml
  chart/compass/charts/provisioner/templates/tests/service-account.yaml
  chart/compass/charts/provisioner/templates/tests/test-provisioner.yaml
  chart/compass/charts/provisioner/templates/virtual-service.yaml
  chart/compass/charts/provisioner/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Unify Connector charts
  chart/compass/charts/connector/templates/certs-setup-job.yaml
  chart/compass/charts/connector/templates/configmap.yaml
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/charts/connector/templates/role-binding.yaml
  chart/compass/charts/connector/templates/tests/role-binding.yaml
  chart/compass/charts/connector/templates/tests/test-connector.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Refactor values
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Quote boolean
  chart/compass/charts/connector/templates/configmap.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Use eq instead of plain boolean
  chart/compass/charts/connector/templates/configmap.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Not use template at all
  chart/compass/charts/connector/templates/configmap.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Get rid of templates whereever it is possible
  chart/compass/charts/connector/templates/certs-setup-job.yaml
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/charts/connector/templates/role-binding.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add disableLegacyConnectivity value
  chart/compass/charts/connector/templates/configmap.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Refactor template
  chart/compass/charts/connector/templates/configmap.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Unify Connector charts (#1413)
  chart/compass/charts/connector/templates/certs-setup-job.yaml
  chart/compass/charts/connector/templates/configmap.yaml
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/charts/connector/templates/role-binding.yaml
  chart/compass/charts/connector/templates/tests/role-binding.yaml
  chart/compass/charts/connector/templates/tests/test-connector.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Introduce separate Compass proposal
  docs/internal/proposals/README.md
  docs/internal/proposals/separate-compass/separate-compass.md
Due: none

Update document
  docs/internal/proposals/separate-compass/separate-compass.md
Due: none

Path conditions:
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-integration-stable-cli: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
