Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-master-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

Fix wrong logger methods
  components/connector/internal/authentication/authenticator.go
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/eventdef/resolver.go
  components/director/internal/domain/package/resolver.go
Due: pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director

remove boilerplate
  components/system-broker/pkg/http/client.go
  components/system-broker/pkg/oauth/token_provider.go
Due: none

Fix nil pointer issue
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/eventdef/resolver.go
Due: pre-master-compass-components-director, post-master-compass-components-director

fix stuff, error handling for client, etc
  components/system-broker/cmd/main.go
  components/system-broker/internal/director/client.go
  components/system-broker/internal/osb/catalog_converter.go
  components/system-broker/pkg/http/client.go
  components/system-broker/pkg/http/error_transport.go
  components/system-broker/pkg/http/secured_transport.go
  components/system-broker/pkg/oauth/token_provider.go
Due: none

fix dockerfile
  components/system-broker/Dockerfile
Due: none

add missing scopes
  components/system-broker/pkg/oauth/token_provider.go
Due: none

Update Compass chart with latest PR
  chart/compass/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Improve logs readability
  components/connector/internal/api/certificate_resolver.go
  components/connector/internal/certificates/service.go
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/eventdef/resolver.go
  components/director/internal/domain/package/resolver.go
Due: pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director

Address PR comments
  components/connector/internal/api/certificate_resolver.go
  components/connector/internal/api/token_resolver.go
  components/connector/internal/certificates/service.go
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/eventdef/resolver.go
Due: pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director

Address PR comments
  components/connector/internal/api/certificate_resolver.go
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/eventdef/resolver.go
  components/director/internal/domain/package/resolver.go
Due: pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director

fix charts
  chart/compass/charts/system-broker/templates/deployment.yaml
  chart/compass/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

add specs api and specs catalog metadata
  components/system-broker/cmd/main.go
  components/system-broker/internal/director/client.go
  components/system-broker/internal/director/types.go
  components/system-broker/internal/osb/api.go
  components/system-broker/internal/osb/broker.go
  components/system-broker/internal/osb/catalog.go
  components/system-broker/internal/osb/catalog_converter.go
  components/system-broker/internal/specs/api.go
  components/system-broker/pkg/server/config.go
  components/system-broker/pkg/server/server.go
Due: none

insttall on full kyma
  installation/cmd/kyma/disable-legacy-connectivity-override.yaml
  installation/cmd/kyma/installer-config-local.yaml.tpl
  installation/cmd/kyma/installer-cr-cluster-runtime.yaml.tpl
  installation/cmd/run.sh
  installation/resources/installer-config-local-compass-with-full-kyma.yaml
  installation/resources/installer-cr-kyma-dependencies.yaml
  installation/scripts/installer.sh
  installation/scripts/tiller-tls.sh
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

fix specifications
  components/system-broker/cmd/main.go
  components/system-broker/internal/osb/broker.go
  components/system-broker/internal/osb/catalog.go
  components/system-broker/internal/osb/catalog_converter.go
Due: none

add automated dev installation for full kyma + compass
  chart/compass/values.yaml
  docs/compass/04-01-installation.md
  installation/cmd/run.sh
  installation/resources/installer-config-local-compass-with-full-kyma.yaml
  installation/resources/kyma/installer-cr-kyma-dependencies.yaml
  installation/resources/kyma/installer-cr-kyma.yaml
  installation/resources/kyma/installer-overrides-api-gateway.yaml
  installation/resources/kyma/installer-overrides-compass-gateway.yaml
  installation/resources/kyma/installer-overrides-disable-legacy-connectivity.yaml
  installation/resources/kyma/installer-overrides-istio.yaml
  installation/resources/kyma/installer-overrides-kyma-config-local.yaml
  installation/scripts/install-kyma.sh
  installation/scripts/install-minimal-kyma.sh
  installation/scripts/installer.sh
  installation/scripts/run-compass-installer.sh
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

enable broker and comment out kyma
  chart/compass/values.yaml
  installation/cmd/run.sh
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

add full kyma option to local dev installation
  docs/compass/04-01-installation.md
  installation/cmd/run.sh
  installation/resources/installer-config-local-compass-with-full-kyma.yaml
  installation/resources/kyma/installer-cr-kyma-dependencies.yaml
  installation/resources/kyma/installer-cr-kyma.yaml
  installation/resources/kyma/installer-overrides-api-gateway.yaml
  installation/resources/kyma/installer-overrides-compass-gateway.yaml
  installation/resources/kyma/installer-overrides-disable-legacy-connectivity.yaml
  installation/resources/kyma/installer-overrides-istio.yaml
  installation/resources/kyma/installer-overrides-kyma-config-local.yaml
  installation/scripts/install-kyma.sh
  installation/scripts/install-minimal-kyma.sh
  installation/scripts/installer.sh
  installation/scripts/run-compass-installer.sh
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

fix failing prow pre job
  installation/scripts/generate-compass-installer-artifacts.sh
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

remove default vm driver
  installation/cmd/run.sh
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fix document style
  docs/internal/investigations/secure-resolvers/secure-resolvers-v2.md
Due: none

uncomment kyma deploy
  installation/cmd/run.sh
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

address comments
  docs/compass/04-01-installation.md
  installation/cmd/run.sh
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fixed .md file
  docs/compass/04-01-installation.md
Due: none

Add installation dir
  CODEOWNERS
Due: none

Add team members to main owners
  CODEOWNERS
Due: none

Add installation directory (#1531)
  CODEOWNERS
Due: none

Add automated setup of kyma and compass in local dev (#1530)
  docs/compass/04-01-installation.md
  installation/cmd/run.sh
  installation/resources/installer-config-local-compass-with-full-kyma.yaml
  installation/resources/kyma/installer-cr-kyma-dependencies.yaml
  installation/resources/kyma/installer-cr-kyma.yaml
  installation/resources/kyma/installer-overrides-api-gateway.yaml
  installation/resources/kyma/installer-overrides-compass-gateway.yaml
  installation/resources/kyma/installer-overrides-disable-legacy-connectivity.yaml
  installation/resources/kyma/installer-overrides-istio.yaml
  installation/resources/kyma/installer-overrides-kyma-config-local.yaml
  installation/scripts/generate-compass-installer-artifacts.sh
  installation/scripts/install-kyma.sh
  installation/scripts/install-minimal-kyma.sh
  installation/scripts/installer.sh
  installation/scripts/run-compass-installer.sh
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Bump Kyma version after Fluent-Bit adaptation
  installation/resources/KYMA_VERSION
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Bump Kyma version after Fluent-Bit adaptation (#1532)
  installation/resources/KYMA_VERSION
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

add README.md
  components/system-broker/README.md
  components/system-broker/run.sh
Due: none

Fixed document style
  docs/internal/investigations/secure-resolvers/secure-resolvers-v2.md
Due: none

Remove redundant errors from the logs
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/eventdef/resolver.go
  components/director/internal/domain/package/resolver.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Initial DB migration changes
  components/schema-migrator/migrations/director/202009011737_introduce_bundles.down.sql
  components/schema-migrator/migrations/director/202009011737_introduce_bundles.up.sql
Due: none

Add event definitions migration
  components/schema-migrator/migrations/director/202009011737_introduce_bundles.up.sql
Due: none

Add status code check to tenant fetcher
  components/director/internal/tenantfetcher/client.go
  components/director/internal/tenantfetcher/client_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Align up migration with latest Open Discovery spec
  components/schema-migrator/migrations/director/202009011737_introduce_bundles.up.sql
Due: none

Update package_instance_auths table
  components/schema-migrator/migrations/director/202009011737_introduce_bundles.up.sql
Due: none

Refactor Packages to Bundles and APIDefinitions in GraphQL schema
  components/director/examples/add-api-definition-to-package/add-api-definition-to-package.graphql
  components/director/examples/add-document-to-package/add-document-to-package.graphql
  components/director/examples/add-event-definition-to-package/add-event-definition-to-package.graphql
  components/director/examples/add-package/add-package.graphql
  components/director/examples/delete-package-instance-auth/delete-package-instance-auth.graphql
  components/director/examples/delete-package/delete-package.graphql
  components/director/examples/request-package-instance-auth-creation/request-package-instance-auth-creation.graphql
  components/director/examples/request-package-instance-auth-deletion/request-package-instance-auth-deletion.graphql
  components/director/examples/set-package-instance-auth/set-package-instance-auth.graphql
  components/director/examples/update-package/update-package.graphql
  components/director/pkg/graphql/package.go
  components/director/pkg/graphql/schema.graphql
  components/schema-migrator/migrations/director/202009011737_introduce_bundles.up.sql
  docs/compass/03-packages-api.md
  docs/compass/03-packages-credential-requests.md
Due: pre-master-compass-components-director, post-master-compass-components-director

Add status code check to tenant fetcher (#1533)
  components/director/internal/tenantfetcher/client.go
  components/director/internal/tenantfetcher/client_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Rename packages to bundles in Compass
  components/connectivity-adapter/internal/appregistry/director/cli.go
  components/connectivity-adapter/internal/appregistry/director/cli_test.go
  components/director/examples/add-api-definition-to-package/add-api-definition-to-package.graphql
  components/director/examples/add-document-to-package/add-document-to-package.graphql
  components/director/examples/add-event-definition-to-package/add-event-definition-to-package.graphql
  components/director/examples/query-api-definitions/query-api-definitions.graphql
  components/director/examples/query-applications-for-runtime/query-applications-for-runtime.graphql
  components/director/examples/query-event-definition/query-event-definition.graphql
  components/director/examples/register-application/register-application-with-status.graphql
  components/director/examples/register-application/register-application-with-webhooks.graphql
  components/director/examples/register-application/register-application.graphql
  components/director/hack/config-local.yaml
  components/director/internal/domain/api/converter_test.go
  components/director/internal/domain/api/repository.go
  components/director/internal/domain/api/repository_test.go
  components/director/internal/domain/application/converter.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/service_test.go
  components/director/pkg/graphql/models_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director
