Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-integration-stable-cli: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/

Apply suggestions from code review
  docs/compass/02-03-app-runtime-flow.md
Due: none

init
  chart/compass/charts/cockpit/values.yaml
  chart/compass/values.yaml
  components/director/examples/create-application-template/create-application-template.graphql
  components/director/examples/register-application/register-application-with-webhooks.graphql
  components/director/examples/register-application/register-application.graphql
  components/director/examples/update-runtime/update-runtime.graphql
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/pkg/graphql/application.go
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
  components/director/pkg/graphql/graphqlizer/graphqlizer_test.go
  components/director/pkg/graphql/labels.go
  components/director/pkg/graphql/labels_test.go
  components/director/pkg/graphql/runtime.go
  components/director/pkg/scalar/scalar.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/provisioner/internal/director/graphqlizer.go
  components/provisioner/internal/director/graphqlizer_test.go
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

Add list test
  components/connectivity-adapter/internal/appregistry/service/handler_test.go
Due: none

Add rest of the comments
  docs/compass/02-03-app-runtime-flow.md
Due: none

bump connectivty adapter
  tests/connectivity-adapter/go.mod
  tests/connectivity-adapter/go.sum
  tests/director/go.mod
  tests/director/go.sum
Due: none

fix tests
  tests/director/go.sum
Due: none

fix connectivity-adapter tests
  tests/connectivity-adapter/go.mod
  tests/connectivity-adapter/go.sum
Due: none

bump connectivty adapter
  chart/compass/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

fix connectivity adapter
  tests/connectivity-adapter/go.mod
  tests/connectivity-adapter/go.sum
Due: none

bump connectivity adapter gomod
  tests/connectivity-adapter/go.mod
  tests/connectivity-adapter/go.sum
Due: none

init
  chart/compass/values.yaml
  components/director/examples/create-application-template/create-application-template.graphql
  components/director/examples/register-application/register-application-with-webhooks.graphql
  components/director/examples/register-application/register-application.graphql
  components/director/examples/update-runtime/update-runtime.graphql
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/pkg/graphql/application.go
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
  components/director/pkg/graphql/graphqlizer/graphqlizer_test.go
  components/director/pkg/graphql/labels.go
  components/director/pkg/graphql/labels_test.go
  components/director/pkg/graphql/runtime.go
  components/director/pkg/scalar/scalar.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/provisioner/internal/director/graphqlizer.go
  components/provisioner/internal/director/graphqlizer_test.go
  tests/director/api/application_api_test.go
  tests/director/api/assertions.go
  tests/director/api/labeling_api_test.go
  tests/director/api/runtime_api_test.go
  tests/director/go.mod
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

fix labels
  chart/compass/values.yaml
  tests/connectivity-adapter/go.mod
  tests/connectivity-adapter/go.sum
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

fix director tests
  components/director/internal/domain/onetimetoken/coverter_test.go
  components/director/internal/model/eventing_test.go
  components/director/internal/tenantfetcher/client_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

fix replace
  tests/director/go.mod
  tests/director/go.sum
Due: none

fix connectivity-adapter tests
  tests/connectivity-adapter/go.sum
Due: none

fix director tests
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/onetimetoken/coverter_test.go
  components/director/internal/model/eventing_test.go
  components/director/internal/tenantfetcher/client_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

fix
  components/director/examples/register-application/register-application-with-packages.graphql
  tests/director/api/application_api_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Glue code to create Azure storage account
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/provisioning/setup_backup.go
  components/kyma-environment-broker/internal/process/provisioning/setup_backup_test.go
Due: none

bump ui image
  chart/compass/charts/cockpit/templates/deployment.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Implement changes in KEB
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/server.go
Due: none

Implement oauth in KEB
  chart/compass/charts/director/static-groups.yaml
  chart/compass/charts/director/static-users.yaml
  chart/compass/charts/kyma-environment-broker/templates/oathkeeper-rule.yaml
  chart/compass/charts/kyma-environment-broker/templates/oauth-client.yaml
  components/director/hack/static-users-local.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

Remove virtual service and oauthkeeper rule as they will be generated by gateway controller
  chart/compass/charts/kyma-environment-broker/templates/api-rule.yaml
  chart/compass/charts/kyma-environment-broker/templates/oathkeeper-rule.yaml
  chart/compass/charts/kyma-environment-broker/templates/oauth-client.yaml
  chart/compass/charts/kyma-environment-broker/templates/virtualservice.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Fix chart
  chart/compass/charts/director/static-groups.yaml
  chart/compass/charts/director/static-users.yaml
  chart/compass/values.yaml
  components/director/hack/static-users-local.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

Update Compass documentation (#835)
  docs/README.md
  docs/archive/README.md
  docs/archive/assets/client-certificate-flow.svg
  docs/archive/establishing-trusted-connection.md
  docs/compass/02-03-app-runtime-flow.md
  docs/compass/02-03-app-runtime-flows.md
  docs/compass/03-02-labeling.md
  docs/compass/03-02-labels.md
  docs/compass/03-supported-apis.md
  docs/compass/assets/api-registration.svg
  docs/compass/assets/app-configuration-update.svg
  docs/compass/assets/app-pairing.svg
  docs/compass/assets/runtime-configuration-update.svg
  docs/compass/assets/runtime-creation.svg
  docs/compass/assets/runtime-notification.svg
  docs/investigations/provisioning-custom-configuration.md
Due: none

Fix Dep/fmt/import Issues
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/internal/event-hub/azure/namespace.go
  components/kyma-environment-broker/internal/event-hub/event_hub_step.go
Due: none

Code Cleanup, Implement some TODOs
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/internal/event-hub/azure/env.go
  components/kyma-environment-broker/internal/event-hub/azure/iam.go
  components/kyma-environment-broker/internal/event-hub/event_hub_step.go
  components/kyma-environment-broker/internal/event-hub/event_hub_step_test.go
  components/kyma-environment-broker/internal/event-hub/k8s/k8s.go
Due: none

Add Reference to issues in some TODOs
  components/kyma-environment-broker/internal/event-hub/azure/env.go
  components/kyma-environment-broker/internal/event-hub/event_hub_step.go
  components/kyma-environment-broker/internal/event-hub/event_hub_step_test.go
Due: none

Gateway add logging (#943)
  chart/compass/charts/gateway/templates/deployment.yaml
  chart/compass/values.yaml
  components/gateway/Dockerfile
  components/gateway/Gopkg.lock
  components/gateway/Gopkg.toml
  components/gateway/Makefile
  components/gateway/cmd/main.go
  components/gateway/go.mod
  components/gateway/go.sum
  components/gateway/internal/auditlog/automock/auditlog_client.go
  components/gateway/internal/auditlog/automock/time_service.go
  components/gateway/internal/auditlog/automock/uuid_service.go
  components/gateway/internal/auditlog/client.go
  components/gateway/internal/auditlog/client_test.go
  components/gateway/internal/auditlog/model/auditlog.go
  components/gateway/internal/auditlog/model/graphqlresponse.go
  components/gateway/internal/auditlog/model/response.go
  components/gateway/internal/auditlog/service.go
  components/gateway/internal/auditlog/service_test.go
  components/gateway/internal/auditlog/worker.go
  components/gateway/internal/time/service.go
  components/gateway/internal/uuid/service.go
  components/gateway/pkg/httpcommon/http.go
  components/gateway/pkg/proxy/automock/auditlog_service.go
  components/gateway/pkg/proxy/automock/round_trip.go
  components/gateway/pkg/proxy/proxy.go
  components/gateway/pkg/proxy/transport.go
  components/gateway/pkg/proxy/transport_test.go
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-compass-components-gateway, post-compass-components-gateway

Update default settings for Gardener(Azure)
  components/kyma-environment-broker/internal/provider/azure_provider.go
Due: none

Fix Package description conversion
  components/director/internal/domain/package/converter.go
  components/director/internal/domain/package/converter_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update default settings for Gardener(Azure) (#970)
  components/kyma-environment-broker/internal/provider/azure_provider.go
Due: none

Bump
  chart/compass/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

bump cockpit image not to store personal data in session storage
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Update image
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Improve test readability by using fixtures
  components/kyma-environment-broker/internal/event-hub/event_hub_step.go
  components/kyma-environment-broker/internal/event-hub/event_hub_step_test.go
Due: none

Add Test_StepPersistEventHubsNamespaceError test
  components/kyma-environment-broker/internal/event-hub/azure/namespace.go
  components/kyma-environment-broker/internal/event-hub/event_hub_step.go
  components/kyma-environment-broker/internal/event-hub/event_hub_step_test.go
Due: none

Add @rafalpotempa to Codeowners
  CODEOWNERS
Due: none

Add Test_StepListKeysError
  components/kyma-environment-broker/internal/event-hub/event_hub_step.go
  components/kyma-environment-broker/internal/event-hub/event_hub_step_test.go
Due: none
