Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/

apply comments
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formation/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

make imports
  components/director/internal/domain/formation/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add additional Application Provider onboarding validation
  components/director/internal/domain/apptemplate/apptmpltest/selfreg_manager.go
  components/director/internal/domain/apptemplate/automock/self_register_manager.go
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/runtime/automock/self_register_manager.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/rtmtest/selfreg_manager.go
  components/director/internal/selfregmanager/selfreg_manager.go
  components/director/internal/selfregmanager/selfreg_manager_test.go
  installation/resources/installer-config-gke-benchmark.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  tests/director/tests/application_api_test.go
  tests/director/tests/application_templates_api_test.go
  tests/director/tests/certificates_access_test.go
  tests/director/tests/sensitive_data_strip_test.go
  tests/director/tests/validation_test.go
  tests/external-services-mock/tests/async_api_delete_test.go
  tests/ord-service/tests/api_test.go
  tests/pairing-adapter/tests/mtls_flow_test.go
  tests/pkg/fixtures/application_template_requests.go
  tests/system-fetcher/tests/handler_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

format the code
  components/director/internal/selfregmanager/selfreg_manager.go
  tests/director/tests/application_api_test.go
  tests/external-services-mock/tests/async_api_delete_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

make linter happy
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/selfregmanager/selfreg_manager.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

make runtimeTyp label immutable and adjust tests
  chart/compass/templates/bench/director/director-bench.yaml
  components/director/internal/domain/runtime/service_test.go
  components/director/internal/features/features.go
  components/director/internal/subscription/service.go
  tests/director/tests/runtime_api_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Extend model
  components/director/cmd/ns-adapter/main.go
  components/director/internal/domain/apptemplate/automock/application_template_service.go
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/internal/domain/apptemplate/service.go
  components/director/internal/domain/apptemplate/service_test.go
  components/director/internal/model/app_template.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

adopt change with main branch
  tests/director/tests/application_templates_external_cert_api_test.go
Due: pre-compass-tests, post-compass-tests

Fix tests and add logic in self reg mgr
  chart/compass/templates/bench/director/director-bench.yaml
  chart/compass/templates/tests/connectivity-adapter/connectivity-adapter-test.yaml
  chart/compass/templates/tests/connector/connector-test.yaml
  chart/compass/templates/tests/istio/istio-test.yaml
  chart/compass/templates/tests/system-broker/system-broker-test.yaml
  chart/compass/templates/tests/tenant-fetcher-job/tenant-fetcher-job-test.yaml
  components/director/internal/selfregmanager/selfreg_manager.go
  tests/connectivity-adapter/tests/app_registry_test.go
  tests/connectivity-adapter/tests/main_test.go
  tests/connector/tests/apitests_test.go
  tests/connector/tests/apps_for_runtime_test.go
  tests/connector/tests/hydrator_api_test.go
  tests/director/bench/application_api_test.go
  tests/director/bench/main_test.go
  tests/director/tests/runtime_api_test.go
  tests/gateway/tests/automatic_status_update_test.go
  tests/gateway/tests/viewer_test.go
  tests/istio/tests/request_payload_limit_test.go
  tests/pkg/config/connector.go
  tests/pkg/config/istio.go
  tests/pkg/config/system_broker.go
  tests/system-broker/tests/auth_test.go
  tests/tenant-fetcher-job/tests/handler_test.go
  tests/tenant-fetcher-job/tests/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Fix self reg flow for app templates (#2396)
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/values.yaml
  components/director/internal/domain/apptemplate/automock/application_template_service.go
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/internal/domain/apptemplate/service.go
  components/director/internal/domain/apptemplate/service_test.go
  components/director/internal/model/app_template.go
  tests/director/tests/application_templates_api_test.go
  tests/director/tests/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Fix director local setup
  components/director/cmd/director/main.go
  components/director/internal/domain/formation/resolver.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/automock/formation_service.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/scenarioassignment/resolver.go
  components/director/internal/domain/tenant/automock/fetcher_on_demand.go
  components/director/internal/domain/tenant/fetcher_on_demand.go
  components/director/internal/domain/tenant/fetcher_on_demand_test.go
  components/director/internal/domain/tenant/resolver.go
  components/director/run.sh
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Tweak
  components/director/cmd/director/main.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix linter
  components/director/internal/domain/tenant/fetcher_on_demand.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

format the code
  components/director/internal/domain/apptemplate/resolver.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

remove todos
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/selfregmanager/selfreg_manager.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add tests
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  components/director/internal/selfregmanager/selfreg_manager_test.go
  tests/ord-service/tests/api_test.go
  tests/ord-service/tests/main_test.go
  tests/ord-service/tests/subscription_flow_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

subscription implementation
  chart/compass/templates/tests/tenant-fetcher/tenant-fetcher-test.yaml
  components/director/cmd/tenantfetcher-svc/main.go
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/subscription/automock/subscription_service.go
  components/director/internal/domain/subscription/fixtures_test.go
  components/director/internal/domain/subscription/resolver.go
  components/director/internal/domain/subscription/resolver_test.go
  components/director/internal/domain/subscription/service.go
  components/director/internal/domain/subscription/service_test.go
  components/director/internal/domain/tenant/tenant.go
  components/director/internal/tenantfetchersvc/handler.go
  components/director/internal/tenantfetchersvc/provisioner.go
  components/director/internal/tenantfetchersvc/subscriber.go
  components/director/pkg/graphql_client/director_client.go
  tests/pkg/tenantfetcher/tenant_helper.go
  tests/tenant-fetcher/tests/handler_test.go
  tests/tenant-fetcher/tests/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Update README.md
  components/director/README.md
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix tests and add logic in self reg mgr (#2399)
  chart/compass/templates/bench/director/director-bench.yaml
  chart/compass/templates/tests/connectivity-adapter/connectivity-adapter-test.yaml
  chart/compass/templates/tests/connector/connector-test.yaml
  chart/compass/templates/tests/istio/istio-test.yaml
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/templates/tests/system-broker/system-broker-test.yaml
  chart/compass/templates/tests/tenant-fetcher-job/tenant-fetcher-job-test.yaml
  chart/compass/values.yaml
  components/director/internal/selfregmanager/selfreg_manager.go
  components/director/internal/selfregmanager/selfreg_manager_test.go
  tests/connectivity-adapter/tests/app_registry_test.go
  tests/connectivity-adapter/tests/main_test.go
  tests/connector/tests/apitests_test.go
  tests/connector/tests/apps_for_runtime_test.go
  tests/connector/tests/hydrator_api_test.go
  tests/director/bench/application_api_test.go
  tests/director/bench/main_test.go
  tests/director/tests/runtime_api_test.go
  tests/gateway/tests/automatic_status_update_test.go
  tests/gateway/tests/viewer_test.go
  tests/istio/tests/request_payload_limit_test.go
  tests/ord-service/tests/api_test.go
  tests/ord-service/tests/main_test.go
  tests/ord-service/tests/subscription_flow_test.go
  tests/pkg/config/connector.go
  tests/pkg/config/istio.go
  tests/pkg/config/system_broker.go
  tests/system-broker/tests/auth_test.go
  tests/tenant-fetcher-job/tests/handler_test.go
  tests/tenant-fetcher-job/tests/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

fix conflicts
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  components/director/internal/selfregmanager/selfreg_manager_test.go
  tests/ord-service/tests/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Add labels so runtime can be found
  components/director/internal/domain/subscription/service_test.go
  tests/tenant-fetcher/tests/handler_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Remove cron job files
  components/director/internal/tenantfetchersvc/automock/event_api_client.go
  components/director/internal/tenantfetchersvc/automock/kube_client.go
  components/director/internal/tenantfetchersvc/automock/label_repo.go
  components/director/internal/tenantfetchersvc/automock/runtime_service.go
  components/director/internal/tenantfetchersvc/automock/tenant_storage_service.go
  components/director/internal/tenantfetchersvc/client.go
  components/director/internal/tenantfetchersvc/client_test.go
  components/director/internal/tenantfetchersvc/event_page.go
  components/director/internal/tenantfetchersvc/event_page_test.go
  components/director/internal/tenantfetchersvc/export_test.go
  components/director/internal/tenantfetchersvc/fixtures_test.go
  components/director/internal/tenantfetchersvc/kubernetes.go
  components/director/internal/tenantfetchersvc/model.go
  components/director/internal/tenantfetchersvc/service.go
  components/director/internal/tenantfetchersvc/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Cleanup as preparation of test execution
  tests/director/tests/application_templates_api_test.go
Due: pre-compass-tests, post-compass-tests

Adapt Application Label API to use Formations API (#2386)
  chart/compass/values.yaml
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/internal/domain/application/automock/formation_service.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/domain/root_resolver.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update versions
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Formatting directive fix
  tests/director/tests/application_templates_api_test.go
Due: pre-compass-tests, post-compass-tests

Remove tenant fetcher jobs files from cmd and internal packages
  components/director/cmd/tenantfetcher-job/OWNERS
  components/director/cmd/tenantfetcher-job/README.md
  components/director/cmd/tenantfetcher-job/main.go
  components/director/cmd/tenantfetcher-svc/main.go
  components/director/internal/metrics/reporter.go
  components/director/internal/tenantfetcher/OWNERS
  components/director/internal/tenantfetcher/automock/director_graph_ql_client.go
  components/director/internal/tenantfetcher/automock/label_def_converter.go
  components/director/internal/tenantfetcher/automock/metrics_pusher.go
  components/director/internal/tenantfetcher/automock/tenant_converter.go
  components/director/internal/tenantfetcher/automock/tenant_sync_service.go
  components/director/internal/tenantfetchersvc/automock/director_graph_ql_client.go
  components/director/internal/tenantfetchersvc/automock/event_api_client.go
  components/director/internal/tenantfetchersvc/automock/tenant_converter.go
  components/director/internal/tenantfetchersvc/client.go
  components/director/internal/tenantfetchersvc/client_test.go
  components/director/internal/tenantfetchersvc/event_page.go
  components/director/internal/tenantfetchersvc/event_page_test.go
  components/director/internal/tenantfetchersvc/export_test.go
  components/director/internal/tenantfetchersvc/fixtures_test.go
  components/director/internal/tenantfetchersvc/handler.go
  components/director/internal/tenantfetchersvc/kubernetes.go
  components/director/internal/tenantfetchersvc/model.go
  components/director/internal/tenantfetchersvc/provisioner.go
  components/director/internal/tenantfetchersvc/service.go
  components/director/internal/tenantfetchersvc/service_test.go
  components/director/internal/tenantfetchersvc/subscriber_test.go
  components/director/internal/tenantfetchersvc/tenant_fetcher.go
  components/director/internal/tenantfetchersvc/tenant_fetcher_job_config.go
  components/director/internal/tenantfetchersvc/tenant_fetcher_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Formatting directive fix 2
  tests/director/tests/application_templates_api_test.go
Due: pre-compass-tests, post-compass-tests

Add tests and regenerate mocks
  components/director/internal/domain/apptemplate/automock/application_template_service.go
  components/director/internal/domain/apptemplate/repository_test.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/internal/domain/apptemplate/service_test.go
  components/director/internal/domain/runtime/automock/formation_service.go
  components/director/internal/domain/runtime/resolver_test.go
  components/director/internal/tenantfetchersvc/automock/director_graph_ql_client.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update values.yaml
  chart/compass/values.yaml
  components/director/internal/domain/tenant/tenant.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Return deleted interfaces
  components/director/internal/domain/formation/resolver.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/scenarioassignment/automock/runtime_repository.go
  components/director/internal/domain/scenarioassignment/automock/tenant_fetcher.go
  components/director/internal/domain/scenarioassignment/fixtures_test.go
  components/director/internal/domain/scenarioassignment/resolver.go
  components/director/internal/domain/tenant/automock/fetcher.go
  components/director/internal/domain/tenant/automock/fetcher_on_demand.go
  components/director/internal/domain/tenant/fetcher_on_demand.go
  components/director/internal/domain/tenant/resolver.go
  components/director/internal/domain/tenant/resolver_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Regenerate mocks
  components/director/internal/domain/apptemplate/automock/application_template_service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

check for xsappname label + test
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

revert accidentally deleted test
  components/director/internal/domain/application/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

make imports
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director
