Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/

update doc
  docs/architecture/input-validation.md
Due: none

fix after cr
  components/director/internal/model/application_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update Connector documentation in Architecture docs
  docs/connector/02-01-connector-service.md
  docs/connector/assets/001-connection-flow.svg
Due: none

Update Connector documentation in Architecture docs
  docs/connector/02-01-connector-service.md
Due: none

Apply reiew suggestions
  docs/connector/02-01-connector-service.md
Due: none

Update Connector documentation in Architecture docs (#592)
  docs/connector/02-01-connector-service.md
  docs/connector/assets/001-connection-flow.svg
Due: none

Remove GH templates
  components/kyma-environment-broker/.github/ISSUE_TEMPLATE/bug-report.md
  components/kyma-environment-broker/.github/ISSUE_TEMPLATE/feature-request.md
  components/kyma-environment-broker/.github/ISSUE_TEMPLATE/security-vulnerability.md
  components/kyma-environment-broker/.github/issue-template.md
  components/kyma-environment-broker/.github/pull-request-template.md
  components/kyma-environment-broker/.github/stale.yml
  components/kyma-environment-broker/README.md
  components/kyma-environment-broker/docs/README.md
Due: none

Fix errors
  components/kyma-environment-broker/Dockerfile
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/aws_provider.go
  components/kyma-environment-broker/internal/broker/azure_provider.go
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/builder.go
  components/kyma-environment-broker/internal/broker/builder_test.go
  components/kyma-environment-broker/internal/broker/gcp_provider.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
Due: none

Use image from pipeline
  chart/compass/charts/kyma-environment-broker/values.yaml
  components/kyma-environment-broker/README.md
Due: pre-master-compass-integration

Add codeowners
  CODEOWNERS
  components/kyma-environment-broker/README.md
Due: none

Add makefile
  components/kyma-environment-broker/Makefile
Due: none

Apply suggestions from code review
  components/director/internal/domain/application/service.go
  components/director/internal/model/application.go
  components/director/internal/model/application_test.go
  components/director/pkg/graphql/app_validation_test.go
  docs/architecture/input-validation.md
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix after review
  chart/compass/charts/kyma-environment-broker/Chart.yaml
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/values.yaml
  components/kyma-environment-broker/Dockerfile
  components/kyma-environment-broker/README.md
  components/kyma-environment-broker/hack/scripts/README.md
  components/kyma-environment-broker/hack/scripts/k8s-gke-create-cloud-router.sh
  components/kyma-environment-broker/hack/scripts/k8s-gke-create-cluster-private.sh
  components/kyma-environment-broker/hack/scripts/kyma-lite/kyma-after-install-set-dns.sh
  components/kyma-environment-broker/hack/scripts/kyma-lite/kyma-before-install-setup-dns.sh
  components/kyma-environment-broker/hack/scripts/kyma-lite/kyma-install.sh
  components/kyma-environment-broker/hack/scripts/kyma-lite/kyma-installer.yaml
  components/kyma-environment-broker/hack/scripts/kyma-lite/tiller.yaml
  components/kyma-environment-broker/hack/scripts/utilities.sh
  components/kyma-environment-broker/hack/scripts/vars.sh
  docs/kyma-environment-broker/README.md
  docs/kyma-environment-broker/assets/sm.png
  docs/kyma-environment-broker/dictionary.md
Due: pre-master-compass-integration

Add provider dispaly name field to app (#564)
  components/director/internal/domain/application/converter.go
  components/director/internal/domain/application/converter_test.go
  components/director/internal/domain/application/entity.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/application/repository_test.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/apptemplate/graphqlizer.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/internal/model/application.go
  components/director/internal/model/application_test.go
  components/director/pkg/graphql/app_validation.go
  components/director/pkg/graphql/app_validation_test.go
  components/director/pkg/graphql/application.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/schema-migrator/migrations/201912131700_add_providername_app.down.sql
  components/schema-migrator/migrations/201912131700_add_providername_app.up.sql
  docs/architecture/input-validation.md
Due: pre-master-compass-components-director, post-master-compass-components-director

add e2e tests
  chart/compass/values.yaml
  components/director/examples/create-application-template/create-application-template.graphql
  components/director/examples/query-application/query-api-runtime-auths.graphql
  components/director/examples/query-application/query-application.graphql
  components/director/examples/query-applications-for-runtime/query-applications-for-runtime.graphql
  components/director/examples/query-applications/query-applications-with-label-filter.graphql
  components/director/examples/query-applications/query-applications.graphql
  components/director/examples/register-application-from-template/register-application-from-template.graphql
  components/director/examples/register-application/register-application-with-api-definitions.graphql
  components/director/examples/register-application/register-application-with-documents.graphql
  components/director/examples/register-application/register-application-with-event-definitions.graphql
  components/director/examples/register-application/register-application-with-webhooks.graphql
  components/director/examples/register-application/register-application.graphql
  components/director/examples/update-application-template/update-application-template.graphql
  components/director/examples/update-application/update-application.graphql
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/Gopkg.toml
  tests/end-to-end/director/application_api_test.go
  tests/end-to-end/director/application_templates_api_test.go
  tests/end-to-end/director/assertions.go
  tests/end-to-end/director/fixtures.go
  tests/end-to-end/director/labeling_api_test.go
  tests/end-to-end/director/testctx.go
  tests/end-to-end/director/validation_test.go
  tests/end-to-end/e2e/auth_test.go
  tests/end-to-end/e2e/playground_test.go
  tests/end-to-end/e2e/tenant_mapping_handler_test.go
  tests/end-to-end/pkg/gql/fields.go
  tests/end-to-end/pkg/gql/graphqlizer.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

add e2e tests (#567)
  chart/compass/values.yaml
  components/director/examples/create-application-template/create-application-template.graphql
  components/director/examples/query-application/query-api-runtime-auths.graphql
  components/director/examples/query-application/query-application.graphql
  components/director/examples/query-applications-for-runtime/query-applications-for-runtime.graphql
  components/director/examples/query-applications/query-applications-with-label-filter.graphql
  components/director/examples/query-applications/query-applications.graphql
  components/director/examples/register-application-from-template/register-application-from-template.graphql
  components/director/examples/register-application/register-application-with-api-definitions.graphql
  components/director/examples/register-application/register-application-with-documents.graphql
  components/director/examples/register-application/register-application-with-event-definitions.graphql
  components/director/examples/register-application/register-application-with-webhooks.graphql
  components/director/examples/register-application/register-application.graphql
  components/director/examples/update-application-template/update-application-template.graphql
  components/director/examples/update-application/update-application.graphql
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/Gopkg.toml
  tests/end-to-end/director/application_api_test.go
  tests/end-to-end/director/application_templates_api_test.go
  tests/end-to-end/director/assertions.go
  tests/end-to-end/director/fixtures.go
  tests/end-to-end/director/labeling_api_test.go
  tests/end-to-end/director/testctx.go
  tests/end-to-end/director/validation_test.go
  tests/end-to-end/e2e/auth_test.go
  tests/end-to-end/e2e/playground_test.go
  tests/end-to-end/e2e/tenant_mapping_handler_test.go
  tests/end-to-end/pkg/gql/fields.go
  tests/end-to-end/pkg/gql/graphqlizer.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Apply suggestions from code review
  components/kyma-environment-broker/README.md
  docs/kyma-environment-broker/README.md
Due: none

Fix docs
  components/kyma-environment-broker/README.md
  docs/kyma-environment-broker/README.md
  docs/kyma-environment-broker/dictionary.md
Due: none

Apply suggestions from code review
  components/kyma-environment-broker/README.md
Due: none

WIP on Hyperscaler AccountProvider. Added more unit tests
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/provisioning/converters/input_converter.go
  components/provisioner/internal/provisioning/converters/input_converter_test.go
  components/provisioner/internal/provisioning/hyperscaler/account_pool.go
  components/provisioner/internal/provisioning/hyperscaler/account_pool_test.go
  components/provisioner/internal/provisioning/hyperscaler/account_provider.go
  components/provisioner/internal/provisioning/hyperscaler/account_provider_test.go
  components/provisioner/internal/provisioning/hyperscaler/mocks/AccountProvider.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

Add codeowner for component
  CODEOWNERS
Due: none

tweak unit test to increase code coverage
  components/provisioner/internal/provisioning/hyperscaler/account_provider_test.go
Due: none

Add Kyma environment broker component (#554)
  CODEOWNERS
  chart/compass/charts/kyma-environment-broker/.helmignore
  chart/compass/charts/kyma-environment-broker/Chart.yaml
  chart/compass/charts/kyma-environment-broker/templates/NOTES.txt
  chart/compass/charts/kyma-environment-broker/templates/_helpers.tpl
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/templates/secrets.yaml
  chart/compass/charts/kyma-environment-broker/templates/service.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/values.yaml
  components/kyma-environment-broker/.dockerignore
  components/kyma-environment-broker/.gitignore
  components/kyma-environment-broker/CODE_OF_CONDUCT.md
  components/kyma-environment-broker/CONTRIBUTING.md
  components/kyma-environment-broker/Dockerfile
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/LICENSE
  components/kyma-environment-broker/Makefile
  components/kyma-environment-broker/NOTICE.md
  components/kyma-environment-broker/README.md
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/aws_provider.go
  components/kyma-environment-broker/internal/broker/azure_provider.go
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/builder.go
  components/kyma-environment-broker/internal/broker/builder_test.go
  components/kyma-environment-broker/internal/broker/dumper.go
  components/kyma-environment-broker/internal/broker/gcp_provider.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/query.go
  docs/kyma-environment-broker/README.md
  docs/kyma-environment-broker/assets/sm.png
Due: pre-master-compass-integration

rename provider display name field
  components/director/internal/domain/application/converter.go
  components/director/internal/domain/application/converter_test.go
  components/director/internal/domain/application/entity.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/application/repository_test.go
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/apptemplate/graphqlizer.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/internal/model/application.go
  components/director/internal/model/application_test.go
  components/director/pkg/graphql/app_validation.go
  components/director/pkg/graphql/app_validation_test.go
  components/director/pkg/graphql/application.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/schema-migrator/migrations/201912131700_add_providername_app.down.sql
  components/schema-migrator/migrations/201912131700_add_providername_app.up.sql
Due: pre-master-compass-components-director, post-master-compass-components-director

fix after cr
  components/schema-migrator/migrations/201912131700_add_providername_app.up.sql
Due: none

fix migration
  components/schema-migrator/migrations/201912131700_add_providername_app.down.sql
  components/schema-migrator/migrations/201912301515_fix_providername_app.down.sql
  components/schema-migrator/migrations/201912301515_fix_providername_app.up.sql
Due: none

tweak TODO tenant name from tenant2 to tenant-name
  components/provisioner/internal/provisioning/hyperscaler/account_provider.go
Due: none

rename validation func
  components/director/pkg/graphql/app_validation_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Rename provider display name field (#595)
  components/director/internal/domain/application/converter.go
  components/director/internal/domain/application/converter_test.go
  components/director/internal/domain/application/entity.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/application/repository_test.go
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/apptemplate/graphqlizer.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/internal/model/application.go
  components/director/internal/model/application_test.go
  components/director/pkg/graphql/app_validation.go
  components/director/pkg/graphql/app_validation_test.go
  components/director/pkg/graphql/application.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/schema-migrator/migrations/201912301515_fix_providername_app.down.sql
  components/schema-migrator/migrations/201912301515_fix_providername_app.up.sql
Due: pre-master-compass-components-director, post-master-compass-components-director

fix tests
  chart/compass/values.yaml
  components/director/examples/create-application-template/create-application-template.graphql
  components/director/examples/query-application/query-api-runtime-auths.graphql
  components/director/examples/query-application/query-application.graphql
  components/director/examples/query-applications-for-runtime/query-applications-for-runtime.graphql
  components/director/examples/query-applications/query-applications-with-label-filter.graphql
  components/director/examples/query-applications/query-applications.graphql
  components/director/examples/register-application-from-template/register-application-from-template.graphql
  components/director/examples/register-application/register-application-with-api-definitions.graphql
  components/director/examples/register-application/register-application-with-documents.graphql
  components/director/examples/register-application/register-application-with-event-definitions.graphql
  components/director/examples/register-application/register-application-with-webhooks.graphql
  components/director/examples/register-application/register-application.graphql
  components/director/examples/update-application-template/update-application-template.graphql
  components/director/examples/update-application/update-application.graphql
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/director/application_api_test.go
  tests/end-to-end/director/application_templates_api_test.go
  tests/end-to-end/director/assertions.go
  tests/end-to-end/director/fixtures.go
  tests/end-to-end/director/labeling_api_test.go
  tests/end-to-end/director/validation_test.go
  tests/end-to-end/e2e/auth_test.go
  tests/end-to-end/e2e/playground_test.go
  tests/end-to-end/e2e/tenant_mapping_handler_test.go
  tests/end-to-end/pkg/gql/fields.go
  tests/end-to-end/pkg/gql/graphqlizer.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

fix tests (#597)
  chart/compass/values.yaml
  components/director/examples/create-application-template/create-application-template.graphql
  components/director/examples/query-application/query-api-runtime-auths.graphql
  components/director/examples/query-application/query-application.graphql
  components/director/examples/query-applications-for-runtime/query-applications-for-runtime.graphql
  components/director/examples/query-applications/query-applications-with-label-filter.graphql
  components/director/examples/query-applications/query-applications.graphql
  components/director/examples/register-application-from-template/register-application-from-template.graphql
  components/director/examples/register-application/register-application-with-api-definitions.graphql
  components/director/examples/register-application/register-application-with-documents.graphql
  components/director/examples/register-application/register-application-with-event-definitions.graphql
  components/director/examples/register-application/register-application-with-webhooks.graphql
  components/director/examples/register-application/register-application.graphql
  components/director/examples/update-application-template/update-application-template.graphql
  components/director/examples/update-application/update-application.graphql
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/director/application_api_test.go
  tests/end-to-end/director/application_templates_api_test.go
  tests/end-to-end/director/assertions.go
  tests/end-to-end/director/fixtures.go
  tests/end-to-end/director/labeling_api_test.go
  tests/end-to-end/director/validation_test.go
  tests/end-to-end/e2e/auth_test.go
  tests/end-to-end/e2e/playground_test.go
  tests/end-to-end/e2e/tenant_mapping_handler_test.go
  tests/end-to-end/pkg/gql/fields.go
  tests/end-to-end/pkg/gql/graphqlizer.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

update-doc
  docs/architecture/input-validation.md
Due: none

update-doc (#601)
  docs/architecture/input-validation.md
Due: none

Move components docs to their directories
  docs/README.md
  docs/compass/02-01-components.md
  docs/compass/02-03-app-runtime-flows.md
  docs/compass/03-01-security.md
  docs/compass/03-api-credentials-flows.md
  docs/compass/03-labeling.md
  docs/compass/03-supported-apis.md
  docs/integration-system/auto-app-management.md
  docs/integration-system/integration-systems.md
  docs/runtime-agent/runtime-agent-contract.md
Due: none

Relocate .md files
  docs/compass/03-02-labeling.md
  docs/compass/03-api-packages.md
  docs/compass/03-event-flows-proposal.md
  docs/compass/03-input-parameters-on-runtime.md
  docs/compass/03-input-validation.md
  docs/compass/03-provisioning-custom-configuration.md
  docs/compass/03-support-for-legacy-rest-api.md
  docs/director/assets/director-architecture.svg
  docs/director/default-eventing-for-application.md
  docs/director/director-component.md
  docs/integration-system/assets/integration-system-registration.svg
  docs/provisioner/provisioning-api.md
Due: none

Update README files
  docs/README.md
  docs/archive/README.md
  docs/terminology.md
Due: none

Fix a typo
  docs/archive/README.md
Due: none
