Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pull-operations-controller-build, pull-connector-build, pull-director-build, pull-hydrator-build, pull-system-broker-build, pull-external-services-mock-build, pull-connectivity-adapter-build, pull-pairing-adapter-build, pull-gateway-build, pull-schema-migrator-build, pull-tests-build, post-operations-controller-build, post-connector-build, post-director-build, post-hydrator-build, post-system-broker-build, post-external-services-mock-build, post-connectivity-adapter-build, post-pairing-adapter-build, post-gateway-build, post-schema-migrator-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pull-connectivity-adapter-lint, pull-connectivity-adapter-unit-test, pull-connector-unit-test, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-compass-components-gateway, post-compass-components-gateway, pull-operations-controller-lint, pull-operations-controller-unit-test, pull-pairing-adapter-unit-test, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher, pre-compass-validate-inrepo-prow-configs, pull-compass-pjconfigtest, pull-compass-pjtester, pull-compass-vpathguard

Path conditions:
  pull-operations-controller-build: any of: ^components/operations-controller/
  pull-connector-build: any of: ^components/connector/
  pull-director-build: any of: ^components/director/
  pull-hydrator-build: any of: ^components/hydrator/
  pull-system-broker-build: any of: ^components/system-broker/
  pull-external-services-mock-build: any of: ^components/external-services-mock/
  pull-connectivity-adapter-build: any of: ^components/connectivity-adapter/
  pull-pairing-adapter-build: any of: ^components/pairing-adapter/
  pull-gateway-build: any of: ^components/gateway/
  pull-schema-migrator-build: any of: ^components/schema-migrator/
  pull-tests-build: any of: ^tests/
  post-operations-controller-build: any of: ^components/operations-controller/
  post-connector-build: any of: ^components/connector/
  post-director-build: any of: ^components/director/
  post-hydrator-build: any of: ^components/hydrator/
  post-system-broker-build: any of: ^components/system-broker/
  post-external-services-mock-build: (any of: ^components/system-broker/) or (any of: ^components/external-services-mock/)
  post-connectivity-adapter-build: (any of: ^components/system-broker/) or (any of: ^components/connectivity-adapter/)
  post-pairing-adapter-build: any of: ^components/pairing-adapter/
  post-gateway-build: any of: ^components/gateway/
  post-schema-migrator-build: any of: ^components/schema-migrator/
  post-tests-build: any of: ^tests/
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-main-compass-smoke-test: any of: ^(chart|installation)/
  pull-connectivity-adapter-lint: any of: ^components/connectivity-adapter/(.*\.go$|.golangcilint.yaml)
  pull-connectivity-adapter-unit-test: any of: ^components/connectivity-adapter/.*\.go$
  pull-connector-unit-test: any of: ^components/connector/.*\.go$
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pull-external-services-mock-lint: any of: ^components/external-services-mock/(.*\.go$|.golangcilint.yaml)
  pull-external-services-mock-unit-test: any of: ^components/external-services-mock/.*\.go$
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pull-operations-controller-lint: any of: ^components/operations-controller/(.*\.go$|.golangcilint.yaml)
  pull-operations-controller-unit-test: any of: ^components/operations-controller/.*\.go$
  pull-pairing-adapter-unit-test: any of: ^components/pairing-adapter/.*\.go$
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-main-compass-schema-migrator-validate: any of: ^components/schema-migrator/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-main-compass-vm-clean-with-dump: any of: ^(chart|installation)/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  pre-compass-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-compass-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-compass-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-compass-vpathguard: any of: ^(vpath/pjtester.yaml)

Fix managed key
  components/director/internal/domain/application/service.go
  components/director/internal/domain/apptemplate/resolver.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix imports
  components/director/internal/domain/apptemplate/resolver.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add unit test
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/apptemplate/resolver_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

remove not needed func
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/apptemplate/resolver_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Remove image
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Dynamically replace bia (#3140)
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/operations-manager/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/internal/domain/bundle/automock/bundle_instance_auth_service.go
  components/director/internal/domain/bundle/fixtures_test.go
  components/director/internal/domain/bundle/resolver.go
  components/director/internal/domain/bundle/service.go
  components/director/internal/domain/bundle/service_test.go
  components/director/internal/domain/bundleinstanceauth/repository.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/consumer/consumertest/consumertest.go
  tests/director/tests/application_api_test.go
  tests/pkg/fixtures/auth_requests.go
  tests/pkg/fixtures/bundles_queries.go
Due: pull-director-build, pull-tests-build, post-director-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

fix e2e tests and add configuration
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/values.yaml
  tests/director/tests/main_test.go
  tests/director/tests/runtime_contexts_api_test.go
Due: pull-tests-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

update deps
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
  components/connector/go.mod
  components/connector/go.sum
  components/director/go.mod
  components/director/go.sum
  components/external-services-mock/go.mod
  components/external-services-mock/go.sum
  components/gateway/go.mod
  components/gateway/go.sum
  components/hydrator/go.mod
  components/hydrator/go.sum
  components/operations-controller/go.mod
  components/operations-controller/go.sum
  components/pairing-adapter/go.mod
  components/pairing-adapter/go.sum
  components/system-broker/go.mod
  components/system-broker/go.sum
  tests/go.mod
  tests/go.sum
Due: pull-operations-controller-build, pull-connector-build, pull-director-build, pull-hydrator-build, pull-system-broker-build, pull-external-services-mock-build, pull-connectivity-adapter-build, pull-pairing-adapter-build, pull-gateway-build, pull-tests-build, post-operations-controller-build, post-connector-build, post-director-build, post-hydrator-build, post-system-broker-build, post-external-services-mock-build, post-connectivity-adapter-build, post-pairing-adapter-build, post-gateway-build, post-tests-build, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Implementation.
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formationassignment/notifications.go
  components/director/internal/domain/formationassignment/service.go
  components/director/internal/domain/runtime/service.go
  components/kyma-adapter/internal/handler/handler.go
  components/kyma-adapter/internal/tenant_mapping_request/model.go
  components/schema-migrator/migrations/director/20230630154541_add_reset_option_to_kyma_formation_template.down.sql
  components/schema-migrator/migrations/director/20230630154541_add_reset_option_to_kyma_formation_template.up.sql
  tests/director/tests/kyma_tenant_mapping_adapter_test.go
  tests/pkg/fixtures/application_requests.go
Due: pull-director-build, pull-schema-migrator-build, pull-tests-build, post-director-build, post-schema-migrator-build, post-tests-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-tests, post-compass-tests

Add cert read scope for MAP (#3155)
  chart/compass/values.yaml
  components/director/internal/domain/application/service.go
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/apptemplate/resolver_test.go
Due: pull-director-build, post-director-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump

Remove leftover.
  tests/director/tests/eventing_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

change scripts location
  installation/scripts/prow/jobs/clean-vm-compass.sh
  installation/scripts/prow/jobs/compass-gke-benchmark.sh
  installation/scripts/prow/jobs/provision-vm-compass-smoke-test.sh
  installation/scripts/prow/jobs/provision-vm-compass.sh
  installation/scripts/prow/jobs/validate-compass-generic.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

add scope
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

fix managed label
  components/director/internal/domain/apptemplate/resolver.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

update version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

redact user data before logging
  components/hydrator/internal/tenantmapping/access_level_context_provider.go
  components/hydrator/internal/tenantmapping/authenticator_context_provider.go
  components/hydrator/internal/tenantmapping/cert_service_context_provider.go
  components/hydrator/internal/tenantmapping/consumer_context_provider.go
  components/hydrator/internal/tenantmapping/model.go
  components/hydrator/internal/tenantmapping/system_auth_context_provider.go
  components/hydrator/internal/tenantmapping/user_context_provider.go
Due: pull-hydrator-build, post-hydrator-build

adjust PR version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

adapt unit tests
  components/hydrator/internal/tenantmapping/user_context_provider_test.go
Due: pull-hydrator-build, post-hydrator-build

cleanup and improvements
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/cmd/tenantfetcher-svc/main.go
  components/director/internal/domain/tenant/fetcher_on_demand.go
  components/director/internal/domain/tenant/resolver.go
  components/director/internal/systemfetcher/client.go
  components/director/internal/tenantfetchersvc/handler.go
  components/director/internal/tenantfetchersvc/resync/synchronizer.go
  components/director/pkg/apperrors/errors.go
Due: pull-director-build, post-director-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump

remove leftover comments
  components/director/internal/tenantfetchersvc/handler.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

adjust director unit tests
  components/director/internal/domain/tenant/fetcher_on_demand_test.go
  components/director/internal/tenantfetchersvc/handler_test.go
  components/director/internal/tenantfetchersvc/resync/synchronizer_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add ProwJob scripts (#3151)
  installation/scripts/prow/jobs/clean-vm-compass.sh
  installation/scripts/prow/jobs/compass-gke-benchmark.sh
  installation/scripts/prow/jobs/provision-vm-compass-smoke-test.sh
  installation/scripts/prow/jobs/provision-vm-compass.sh
  installation/scripts/prow/jobs/validate-compass-generic.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Make linter happy.
  components/kyma-adapter/cmd/main.go
  components/kyma-adapter/internal/gqlclient/gqlclient.go
  components/kyma-adapter/internal/handler/handler.go
  components/kyma-adapter/internal/types/tenant_mapping.go
Due: none

fix error
  components/director/internal/tenantfetchersvc/handler.go
  components/director/internal/tenantfetchersvc/resync/synchronizer.go
  components/director/pkg/apperrors/consts.go
  components/director/pkg/apperrors/errors.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add log
  components/director/internal/tenantfetchersvc/resync/synchronizer.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix unit test
  components/director/internal/tenantfetchersvc/handler_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add retry logic, add more resiliency and make linter happy.
  components/kyma-adapter/go.mod
  components/kyma-adapter/go.sum
  components/kyma-adapter/internal/gqlclient/gqlclient.go
  components/kyma-adapter/internal/handler/handler.go
  components/kyma-adapter/internal/types/tenant_mapping.go
Due: pre-master-provisioner-whitesource-scan

Make linter happy.
  components/kyma-adapter/internal/gqlclient/gqlclient.go
Due: none

redact user data before logging (#3159)
  chart/compass/values.yaml
  components/hydrator/internal/tenantmapping/access_level_context_provider.go
  components/hydrator/internal/tenantmapping/authenticator_context_provider.go
  components/hydrator/internal/tenantmapping/cert_service_context_provider.go
  components/hydrator/internal/tenantmapping/consumer_context_provider.go
  components/hydrator/internal/tenantmapping/model.go
  components/hydrator/internal/tenantmapping/system_auth_context_provider.go
  components/hydrator/internal/tenantmapping/user_context_provider.go
  components/hydrator/internal/tenantmapping/user_context_provider_test.go
Due: pull-hydrator-build, post-hydrator-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Add director unit tests and make linter happy.
  components/director/cmd/director/main.go
  components/director/internal/domain/formationassignment/notifications_test.go
  components/director/internal/domain/formationassignment/service.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/service.go
  components/director/internal/features/features.go
  components/director/internal/tenantfetchersvc/resync/builder.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update values.yaml
  chart/compass/values.yaml
  components/director/internal/domain/runtime/service_test.go
Due: pull-director-build, post-director-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump

Add external svc mock unit tests.
  components/external-services-mock/internal/notification/handler_test.go
Due: pull-external-services-mock-build, post-external-services-mock-build, pull-external-services-mock-lint, pull-external-services-mock-unit-test

e2e test impl
  components/director/internal/tenantfetchersvc/handler.go
  components/director/internal/tenantfetchersvc/resync/client.go
  components/director/internal/tenantfetchersvc/resync/tenant_manager.go
  components/director/pkg/apperrors/errors.go
  components/external-services-mock/internal/tenantfetcher/handler.go
  tests/tenant-fetcher/tests/handler_test.go
Due: pull-director-build, pull-external-services-mock-build, pull-tests-build, post-director-build, post-external-services-mock-build, post-tests-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Extract the gql client into an interface.
  components/kyma-adapter/cmd/main.go
  components/kyma-adapter/internal/gqlclient/gqlclient.go
Due: none

Fix fetch tenant on demand to work with empty parent (#3125)
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/cmd/tenantfetcher-svc/main.go
  components/director/internal/domain/tenant/fetcher_on_demand.go
  components/director/internal/domain/tenant/fetcher_on_demand_test.go
  components/director/internal/domain/tenant/resolver.go
  components/director/internal/tenantfetchersvc/handler.go
  components/director/internal/tenantfetchersvc/handler_test.go
  components/director/internal/tenantfetchersvc/resync/synchronizer.go
  components/director/internal/tenantfetchersvc/resync/synchronizer_test.go
  components/director/pkg/apperrors/consts.go
  components/director/pkg/apperrors/errors.go
Due: pull-director-build, post-director-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump

update versions
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Add adapter handler unit tests.
  components/kyma-adapter/cmd/main.go
  components/kyma-adapter/go.mod
  components/kyma-adapter/go.sum
  components/kyma-adapter/internal/gqlclient/gqlclient.go
  components/kyma-adapter/internal/handler/automock/client.go
  components/kyma-adapter/internal/handler/handler.go
  components/kyma-adapter/internal/handler/handler_test.go
Due: pre-master-provisioner-whitesource-scan

update versions (#3160)
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Fix typo.
  components/kyma-adapter/internal/handler/handler_test.go
Due: none
