Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Path conditions:
  pre-master-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-master-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/

Fix ListServices handler
  tests/connectivity-adapter/test/api/app_registry_test.go
  tests/connectivity-adapter/test/testkit/connectivity-adapter/model.go
  tests/connectivity-adapter/test/testkit/connectivity-adapter/securedclient.go
Due: none

Fix Makefile
  components/connectivity-adapter/Makefile
Due: none

Fix AppRegistry tests
  components/connectivity-adapter/cmd/main.go
  tests/connectivity-adapter/test/api/app_registry_test.go
  tests/connectivity-adapter/test/testkit/connectivity-adapter/securedclient.go
Due: none

Tweak go.mods
  tests/connectivity-adapter/go.mod
Due: pre-master-provisioner-whitesource-scan

Add ORD Test
  tests/ord-service/tests/api_test.go
Due: none

Revert makefile
  components/connectivity-adapter/Makefile
Due: none

Fix Director tests
  components/director/pkg/apperrors/errors.go
  components/director/pkg/persistence/sql_error_mapper_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update values.yaml
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fix imports
  components/director/internal/model/package_instance_auth.go
  components/system-broker/pkg/server/server_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-system-broker, post-compass-components-system-broker

Fix director e2e test
  tests/director/gateway-integration/fixtures_request.go
Due: none

Fix leftovers for backwards compatibility
  components/director/internal/packagetobundles/handler.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump version of buildpack-goland-toolbox in all components
  components/connectivity-adapter/Makefile
  components/connector/Makefile
  components/director/Makefile
  components/external-services-mock/Makefile
  components/gateway/Makefile
  components/healthchecker/Makefile
  components/pairing-adapter/Makefile
  components/schema-migrator/Makefile
  components/tenant-fetcher/Makefile
  tests/connectivity-adapter/Makefile
  tests/connector-tests/Makefile
  tests/director/Makefile
  tests/ord-service/Makefile
  tests/tenant-fetcher/Makefile
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Update ORD service version
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Revise log level
  components/gateway/cmd/main.go
Due: pre-compass-components-gateway, post-compass-components-gateway

Fix imports order
  components/gateway/cmd/main.go
  components/gateway/internal/auditlog/client.go
  components/gateway/internal/auditlog/service.go
  components/gateway/internal/auditlog/worker.go
  components/gateway/pkg/httpcommon/http.go
  components/gateway/pkg/proxy/transport.go
Due: pre-compass-components-gateway, post-compass-components-gateway

Graceful shutdown of main server
  components/gateway/cmd/main.go
Due: pre-compass-components-gateway, post-compass-components-gateway

Add request logger middleware to router
  components/gateway/cmd/main.go
Due: pre-compass-components-gateway, post-compass-components-gateway

adjust log type
  components/gateway/cmd/main.go
Due: pre-compass-components-gateway, post-compass-components-gateway

Add env variable for log level
  chart/compass/charts/gateway/templates/deployment.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Change logger with the director's one
  components/gateway/cmd/main.go
  components/gateway/internal/auditlog/client.go
  components/gateway/internal/auditlog/service.go
  components/gateway/internal/auditlog/worker.go
  components/gateway/pkg/httpcommon/http.go
  components/gateway/pkg/proxy/transport.go
Due: pre-compass-components-gateway, post-compass-components-gateway

Revise log levels
  components/gateway/cmd/main.go
  components/gateway/internal/auditlog/client.go
  components/gateway/internal/auditlog/service.go
  components/gateway/internal/auditlog/worker.go
  components/gateway/pkg/httpcommon/http.go
  components/gateway/pkg/proxy/transport.go
Due: pre-compass-components-gateway, post-compass-components-gateway

Remove not needed log level override
  chart/compass/charts/gateway/templates/deployment.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

update image number
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Use global context for shutdown
  components/gateway/cmd/main.go
  components/gateway/internal/auditlog/worker.go
Due: pre-compass-components-gateway, post-compass-components-gateway

Change log type
  components/gateway/pkg/proxy/transport.go
Due: pre-compass-components-gateway, post-compass-components-gateway

Rename leftover Pkg to Bndl
  components/director/internal/domain/api/converter.go
  components/director/internal/domain/api/entity.go
  components/director/internal/domain/api/fixtures_test.go
  components/director/internal/domain/api/resolver_test.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/bundle/converter_test.go
  components/director/internal/domain/bundle/repository_test.go
  components/director/internal/domain/bundle/resolver.go
  components/director/internal/domain/bundleinstanceauth/resolver_test.go
  components/director/internal/domain/document/converter.go
  components/director/internal/domain/document/converter_test.go
  components/director/internal/domain/document/entity.go
  components/director/internal/domain/document/fixtures_test.go
  components/director/internal/domain/document/repository_test.go
  components/director/internal/domain/document/resolver_test.go
  components/director/internal/domain/eventdef/converter.go
  components/director/internal/domain/eventdef/entity.go
  components/director/internal/domain/eventdef/fixtures_test.go
  components/director/internal/domain/eventdef/resolver_test.go
  components/director/pkg/log/error_hook.go
  components/director/pkg/scenario/directive_test.go
  tests/director/api/application_api_test.go
  tests/director/api/assertions.go
  tests/director/api/bundle_api_test.go
  tests/director/api/bundle_instance_auth_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Make imports and fix db alias
  components/director/internal/domain/api/converter.go
  components/director/internal/domain/api/entity.go
  components/director/internal/domain/api/fixtures_test.go
  components/director/internal/domain/api/resolver_test.go
  components/director/internal/domain/bundle/repository.go
  components/director/internal/domain/bundle/repository_test.go
  components/director/internal/domain/bundleinstanceauth/resolver_test.go
  components/director/internal/domain/document/converter.go
  components/director/internal/domain/document/converter_test.go
  components/director/internal/domain/document/entity.go
  components/director/internal/domain/document/fixtures_test.go
  components/director/internal/domain/document/resolver_test.go
  components/director/internal/domain/eventdef/converter.go
  components/director/internal/domain/eventdef/entity.go
  components/director/internal/domain/eventdef/fixtures_test.go
  components/director/internal/domain/eventdef/resolver_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Make imports
  tests/director/api/application_api_test.go
Due: none

Update ORD service version (#1701)
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fix tests
  components/director/internal/domain/bundle/repository.go
  components/director/pkg/log/error_hook.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Mount Director folder in System Broker component tests
  components/system-broker/Makefile
Due: pre-compass-components-system-broker, post-compass-components-system-broker

Address PR comments
  components/director/cmd/director/main.go
  components/director/internal/domain/bundle/repository_test.go
  components/director/internal/packagetobundles/handler.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Make imports
  components/director/internal/packagetobundles/handler.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Handle unhandled errors
  components/system-broker/internal/osb/bind_get_test.go
  components/system-broker/internal/osb/catalog_test.go
  components/system-broker/internal/osb/map_converter_test.go
  components/system-broker/pkg/env/env.go
  components/system-broker/pkg/env/env_test.go
  components/system-broker/tests/binding_test/binding_create_test.go
  components/system-broker/tests/binding_test/binding_delete_test.go
  components/system-broker/tests/binding_test/binding_get_test.go
  components/system-broker/tests/binding_test/binding_last_op_test.go
  components/system-broker/tests/common/common.go
  components/system-broker/tests/common/fake_router.go
  components/system-broker/tests/common/test_context.go
  components/system-broker/tests/instance_test/instance_create_test.go
Due: pre-compass-components-system-broker, post-compass-components-system-broker

Change cleanup of env_test test
  components/system-broker/pkg/env/env_test.go
Due: pre-compass-components-system-broker, post-compass-components-system-broker

Disable gqlgen step for System Broker
  components/system-broker/Makefile
Due: pre-compass-components-system-broker, post-compass-components-system-broker

add graceful shutdown
  components/gateway/cmd/main.go
Due: pre-compass-components-gateway, post-compass-components-gateway

Update go to 1.15.7 on all components (#1698)
  chart/compass/values.yaml
  components/connectivity-adapter/Dockerfile
  components/connectivity-adapter/Makefile
  components/connector/Dockerfile
  components/connector/Makefile
  components/director/Dockerfile
  components/director/Makefile
  components/external-services-mock/Dockerfile
  components/external-services-mock/Makefile
  components/gateway/Dockerfile
  components/gateway/Makefile
  components/healthchecker/Dockerfile
  components/healthchecker/Makefile
  components/pairing-adapter/Dockerfile
  components/pairing-adapter/Makefile
  components/schema-migrator/Makefile
  components/tenant-fetcher/Dockerfile
  components/tenant-fetcher/Makefile
  tests/connectivity-adapter/Dockerfile
  tests/connectivity-adapter/Makefile
  tests/connector-tests/Dockerfile
  tests/connector-tests/Makefile
  tests/director/Dockerfile
  tests/director/Makefile
  tests/ord-service/Dockerfile
  tests/ord-service/Makefile
  tests/tenant-fetcher/Dockerfile
  tests/tenant-fetcher/Makefile
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Increase Go versions
  components/system-broker/Dockerfile
  components/system-broker/Makefile
Due: pre-compass-components-system-broker, post-compass-components-system-broker
