Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-integration-stable-cli: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

initial commit for metris component (#1241)
  CODEOWNERS
  chart/compass/charts/metris/.helmignore
  chart/compass/charts/metris/Chart.yaml
  chart/compass/charts/metris/templates/_helpers.tpl
  chart/compass/charts/metris/templates/deployment.yaml
  chart/compass/charts/metris/templates/secrets.yaml
  chart/compass/charts/metris/templates/service-account.yaml
  chart/compass/charts/metris/templates/service.yaml
  chart/compass/charts/metris/templates/servicemonitor.yaml
  chart/compass/charts/metris/values.yaml
  chart/compass/requirements.yaml
  chart/compass/values.yaml
  components/metris/.dockerignore
  components/metris/.gitignore
  components/metris/Dockerfile
  components/metris/Makefile
  components/metris/README.md
  components/metris/cmd/metris/main.go
  components/metris/go.mod
  components/metris/go.sum
  components/metris/internal/edp/client.go
  components/metris/internal/edp/client_test.go
  components/metris/internal/gardener/client.go
  components/metris/internal/gardener/client_test.go
  components/metris/internal/gardener/controller.go
  components/metris/internal/gardener/controller_test.go
  components/metris/internal/gardener/handlers.go
  components/metris/internal/metrics/metrics.go
  components/metris/internal/provider/azure/azure.go
  components/metris/internal/provider/azure/clients.go
  components/metris/internal/provider/azure/metrics.go
  components/metris/internal/provider/azure/model.go
  components/metris/internal/provider/azure/resources.go
  components/metris/internal/provider/azure/utils.go
  components/metris/internal/provider/provider.go
  components/metris/internal/server/server.go
  components/metris/internal/server/server_test.go
  components/metris/internal/utils/utils.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-provisioner-whitesource-scan

Apply suggestions from code review
  docs/director/fetch-requests.md
Due: none

KEB custom LMS environment
  components/kyma-environment-broker/internal/lms/client.go
Due: none

make it actually annotate on reconcile
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/testdata/config.json
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/gardener/shoot_reconciler.go
Due: none

make imports
  components/provisioner/internal/gardener/shoot_reconciler.go
Due: none

wip
  components/kyma-environment-broker/internal/lms/client_test.go
Due: none

wip
  components/kyma-environment-broker/internal/lms/client.go
Due: none

wip
  components/kyma-environment-broker/internal/avs/delegator.go
Due: none

Set default auth IdP in it's own client call. Configure default IDP as part of ConfigureServiceProvider
  components/kyma-environment-broker/internal/ias/bundle.go
  components/kyma-environment-broker/internal/ias/bundle_test.go
  components/kyma-environment-broker/internal/ias/client.go
  components/kyma-environment-broker/internal/ias/client_test.go
  components/kyma-environment-broker/internal/ias/fake_client.go
  components/kyma-environment-broker/internal/ias/model.go
Due: none

KEB custom LMS environment (#1275)
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/lms/client.go
  components/kyma-environment-broker/internal/lms/client_test.go
Due: none

Change KEB logs to JSON
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_deprovision.go
  components/kyma-environment-broker/internal/health/server.go
  components/kyma-environment-broker/internal/process/deprovisioning/manager.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step.go
  components/kyma-environment-broker/internal/process/provisioning/manager.go
  components/kyma-environment-broker/internal/storage/postsql/init.go
  components/kyma-environment-broker/internal/storage/storage.go
  components/kyma-environment-broker/internal/storage/storage_test.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
Due: none

add int tests
  chart/compass/templates/external-services-mock-integration-test.yaml
  chart/compass/values.yaml
  components/external-services-mock/go.mod
  components/external-services-mock/go.sum
  components/external-services-mock/internal/auditlog/configurationchange/handler.go
  installation/resources/minikube-values.yaml
  installation/scripts/testing-auditlog-temp.sh
  tests/director/Dockerfile
  tests/director/external-services-mock-integration/README.md
  tests/director/external-services-mock-integration/auditlog_integration_test.go
  tests/director/external-services-mock-integration/fixtures_queries.go
  tests/director/external-services-mock-integration/fixtures_request.go
  tests/director/external-services-mock-integration/test_main_test.go
  tests/director/external-services-mock-integration/testctx.go
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-provisioner-whitesource-scan

remove tls from director
  components/director/internal/domain/root_resolver.go
Due: pre-master-compass-components-director, post-master-compass-components-director

use pgx driver
  components/director/cmd/director/main.go
  components/director/go.mod
  components/director/go.sum
  components/director/pkg/persistence/persistence.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Update tests/director/external-services-mock-integration/README.md
  tests/director/external-services-mock-integration/README.md
Due: none

Apply suggestions from code review
  tests/director/external-services-mock-integration/README.md
Due: none

Define Azure allowed regions
  components/kyma-environment-broker/internal/broker/plans.go
Due: none

Few more fixes
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
Due: none

Fix the director call problem
  tests/provisioner-tests/test/testkit/compass/director/client.go
Due: pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

wip
  components/kyma-environment-broker/internal/broker/plans_test.go
Due: none

Add troubleshooting for Application default eventing
  docs/director/default-eventing-for-application.md
Due: none

Update release
  chart/compass/charts/provisioner/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

go fmt
  components/kyma-environment-broker/internal/auditlog/config.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
Due: none

Update gopkg.lock
  components/kyma-environment-broker/Gopkg.lock
Due: none

review changes
  components/provisioner/internal/gardener/shoot_reconciler.go
Due: none

Update release even more
  chart/compass/charts/provisioner/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

further review changes
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/gardener/shoot_controller.go
  components/provisioner/internal/gardener/shoot_reconciler.go
Due: none

fix and cleanup
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/gardener/shoot_controller.go
Due: none

further cleanup
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/shoot_reconciler.go
Due: none

Define Azure allowed regions (#1282)
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
Due: none

Fix unit tests
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
Due: none

Apply suggestions from code review
  docs/director/default-eventing-for-application.md
Due: none

wip
  components/director/internal/authenticator/middleware_test.go
  docs/director/10-01-troubleshooting.md
  docs/director/default-eventing-for-application.md
Due: pre-master-compass-components-director, post-master-compass-components-director

pass logger in the function call
  components/provisioner/internal/gardener/shoot_reconciler.go
Due: none

log messages
  components/provisioner/internal/gardener/shoot_reconciler.go
Due: none

wip
  components/director/internal/authenticator/middleware_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director
