Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

pre-main-compass-development-artifacts:
  labels:
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-development-artifacts-bucket: 'true'
    preset-sa-gcr-push: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
  ...

pre-main-compass-gke-benchmark:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-gke-benchmark
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-cluster-version: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-gke-integration: 'true'
  ...

pre-main-compass-gke-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-gke-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-cluster-version: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-gke-integration: 'true'
  ...

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-main-compass-integration-no-dump:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-integration-no-dump
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-main-compass-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

run tenant-loader post-upgrade
  chart/compass/charts/director/templates/tenant-loader-job-default.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

add skip pattern configuration for ord-service tests
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Update README.md
  components/director/cmd/tenantfetcher-job/README.md
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Install ns adapter as helm post hook
  chart/compass/charts/ns-adapter/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Update README.md
  components/director/cmd/tenantfetcher-svc/README.md
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update README.md
  tests/README.md
Due: pre-compass-tests, post-compass-tests

enable skip pattern
  tests/ord-service/tests/subscription_flow_test.go
Due: pre-compass-tests, post-compass-tests

Add logs from jobs started from e2e tests (#2282)
  chart/compass/templates/system-fetcher-job.yaml
  chart/compass/templates/tenant-fetcher-job.yaml
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/templates/tests/system-fetcher/system-fetcher-test.yaml
  chart/compass/templates/tests/tenant-fetcher-job/tenant-fetcher-job-test.yaml
  chart/compass/values.yaml
  tests/pkg/certs/certprovider/ext_cert_provider.go
  tests/pkg/k8s/jobs.go
  tests/system-fetcher/tests/handler_test.go
  tests/system-fetcher/tests/main_test.go
  tests/tenant-fetcher-job/tests/handler_test.go
  tests/tenant-fetcher-job/tests/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-tests, post-compass-tests

adjust PR version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Add new tenant fetcher on demand API to fecth event details from CIS by subaccout - in progress
  components/director/cmd/tenantfetcher-ondemand/OWNERS
  components/director/cmd/tenantfetcher-ondemand/README.md
  components/director/cmd/tenantfetcher-ondemand/main.go
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantfetchersvc/handler.go
  components/director/internal/tenantfetchersvc/tenant_fecther.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

apply review comments
  chart/compass/charts/ns-adapter/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

fix tenantmapping handler test
  components/hydrator/internal/tenantmapping/automock/director_client.go
  components/hydrator/internal/tenantmapping/handler_test.go
Due: none

Install ns adapter as helm post hook (#2292)
  chart/compass/charts/ns-adapter/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Address comments
  chart/compass/templates/filters/limit-request-payload-size.yaml
  docs/compass/03-01-security.md
  docs/compass/03-02-filters.md
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Update JWT flow
  docs/compass/03-01-security.md
Due: none

Remove tenancy comment for ORD Svc
  docs/discovery-components/02-application-resource-discovery-components.md
Due: none

Address comments
  docs/compass/03-03-automatic-scenario-assignment.md
  docs/compass/assets/automatic-scenario-assign.svg
Due: none

Diagram adjustment
  docs/compass/assets/automatic-scenario-assign.svg
Due: none

Update the flow for already existing runtime
  docs/compass/03-03-automatic-scenario-assignment.md
Due: none

Small clarification
  docs/compass/03-03-automatic-scenario-assignment.md
Due: none

Add readiness probe to Notification Service Adapter (#2291)
  chart/compass/charts/ns-adapter/templates/deployment.yaml
  chart/compass/charts/ns-adapter/values.yaml
  chart/compass/values.yaml
  components/director/cmd/ns-adapter/main.go
  components/director/internal/nsadapter/adapter/configuration.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Apply comments from Vankata
  docs/connector/08-01-establish-secure-connection-with-compass.md
  docs/connector/08-02-maintain-secure-connection-with-compass.md
  docs/integration-system/integration-systems.md
Due: none

fixed path
  components/director/README.md
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix mutation and token
  components/director/README.md
  components/external-services-mock/README.md
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock

Change token issuing logic
  components/external-services-mock/internal/oauth/token_handler.go
  components/external-services-mock/internal/oauth/token_handler_test.go
Due: pre-compass-components-external-services-mock, post-compass-components-external-services-mock

Bump values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Update dependencies
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

fixed path (#2295)
  components/director/README.md
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update images
  chart/compass/values.yaml
  components/connectivity-adapter/Dockerfile
  components/connector/Dockerfile
  components/director/Dockerfile
  components/external-services-mock/Dockerfile
  components/gateway/Dockerfile
  components/operations-controller/Dockerfile
  components/pairing-adapter/Dockerfile
  components/schema-migrator/Dockerfile
  components/system-broker/Dockerfile
  tests/Dockerfile
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests

apply system fetcher findings
  chart/compass/templates/system-fetcher-job.yaml
  chart/compass/values.yaml
  components/director/internal/systemfetcher/client.go
  components/director/internal/systemfetcher/client_test.go
  components/director/internal/systemfetcher/model.go
  components/director/internal/systemfetcher/service.go
  components/director/internal/systemfetcher/service_test.go
  components/director/internal/systemfetcher/template.go
  components/external-services-mock/internal/systemfetcher/handler.go
  installation/resources/installer-config-gke-benchmark.yaml.tpl
  installation/resources/installer-config-gke-integration.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  tests/system-fetcher/tests/handler_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests

Update golang
  components/connectivity-adapter/Makefile
  components/connector/Makefile
  components/director/Makefile
  components/external-services-mock/Makefile
  components/gateway/Makefile
  components/operations-controller/Makefile
  components/pairing-adapter/Makefile
  components/schema-migrator/Makefile
  components/system-broker/Makefile
  tests/Makefile
  tests/connectivity-adapter/Makefile
  tests/connector/Makefile
  tests/director/Makefile
  tests/external-services-mock/Makefile
  tests/gateway/Makefile
  tests/istio/Makefile
  tests/ns-adapter/Makefile
  tests/ord-aggregator/Makefile
  tests/ord-service/Makefile
  tests/pairing-adapter/Makefile
  tests/system-broker/Makefile
  tests/system-fetcher/Makefile
  tests/tenant-fetcher-job/Makefile
  tests/tenant-fetcher/Makefile
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Fix for base image
  components/connectivity-adapter/Makefile
  components/connector/Makefile
  components/connector/hack/regenerate-mocks.sh
  components/director/Makefile
  components/external-services-mock/Makefile
  components/gateway/Makefile
  components/operations-controller/Makefile
  components/pairing-adapter/Makefile
  components/schema-migrator/Makefile
  components/system-broker/Makefile
  tests/Makefile
  tests/connectivity-adapter/Makefile
  tests/connector/Makefile
  tests/director/Makefile
  tests/external-services-mock/Makefile
  tests/gateway/Makefile
  tests/istio/Makefile
  tests/ns-adapter/Makefile
  tests/ord-aggregator/Makefile
  tests/ord-service/Makefile
  tests/pairing-adapter/Makefile
  tests/system-broker/Makefile
  tests/system-fetcher/Makefile
  tests/tenant-fetcher-job/Makefile
  tests/tenant-fetcher/Makefile
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

fix system-fetcher unit test
  components/director/internal/systemfetcher/template_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

update pr number in values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Revert to Go 1.17
  components/connectivity-adapter/Dockerfile
  components/connectivity-adapter/Makefile
  components/connector/Dockerfile
  components/connector/Makefile
  components/connector/hack/regenerate-mocks.sh
  components/director/Dockerfile
  components/director/Makefile
  components/external-services-mock/Dockerfile
  components/external-services-mock/Makefile
  components/gateway/Dockerfile
  components/gateway/Makefile
  components/operations-controller/Dockerfile
  components/operations-controller/Makefile
  components/pairing-adapter/Dockerfile
  components/pairing-adapter/Makefile
  components/schema-migrator/Makefile
  components/system-broker/Dockerfile
  components/system-broker/Makefile
  tests/Dockerfile
  tests/Makefile
  tests/connectivity-adapter/Makefile
  tests/connector/Makefile
  tests/director/Makefile
  tests/external-services-mock/Makefile
  tests/gateway/Makefile
  tests/istio/Makefile
  tests/ns-adapter/Makefile
  tests/ord-aggregator/Makefile
  tests/ord-service/Makefile
  tests/pairing-adapter/Makefile
  tests/system-broker/Makefile
  tests/system-fetcher/Makefile
  tests/tenant-fetcher-job/Makefile
  tests/tenant-fetcher/Makefile
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Increase golang version for tests
  tests/Dockerfile
  tests/Makefile
Due: pre-compass-tests, post-compass-tests

Bump ord-service component version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Update Go to 1.18 for conn-adapt
  components/connectivity-adapter/Dockerfile
  components/connectivity-adapter/Makefile
Due: none

Update Go to 1.18 for ext-svc-mock
  components/external-services-mock/Dockerfile
  components/external-services-mock/Makefile
Due: pre-compass-components-external-services-mock, post-compass-components-external-services-mock

Update Go to 1.18 for gateway
  components/gateway/Dockerfile
  components/gateway/Makefile
Due: pre-compass-components-gateway, post-compass-components-gateway

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
