Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-cluster-infra:v20190528-8897828
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
          cpu: 50m
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-compass-tests-end-to-end:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-tests-end-to-end:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Update chart/compass/values.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration

Mock provisioner tests (#334)
  chart/compass/charts/provisioner/templates/tests/test-provisioner.yaml
  chart/compass/values.yaml
  installation/scripts/testing.sh
  tests/provisioner-tests/Dockerfile
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/Makefile
  tests/provisioner-tests/before-commit.sh
  tests/provisioner-tests/scripts/entrypoint.sh
  tests/provisioner-tests/test/apitests/apitests_test.go
  tests/provisioner-tests/test/testkit/client.go
  tests/provisioner-tests/test/testkit/config.go
  tests/provisioner-tests/test/testkit/graphqlizer.go
  tests/provisioner-tests/test/testkit/query.go
Due: pre-master-compass-integration

Resolved conflicts
  chart/compass/values.yaml
Due: pre-master-compass-integration

Fix create
  components/director/internal/domain/systemauth/service.go
  components/director/internal/domain/systemauth/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

rebase
  components/director/Gopkg.lock
  components/director/gqlgen.sh
  components/director/hack/gqlgen.go
  components/director/hack/scopesdecorator/formatter.go
  components/director/hack/scopesdecorator/formatter_order.go
  components/director/hack/scopesdecorator/plugin.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/scope/automock/info_printer.go
  components/director/pkg/scope/automock/loader.go
  components/director/pkg/scope/automock/ticker.go
Due: pre-master-compass-components-director, post-master-compass-components-director

wip
  components/director/Gopkg.lock
  components/director/hack/scopesdecorator/plugin.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

after code review
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

cleanup
  components/director/pkg/scope/automock/info_printer.go
  components/director/pkg/scope/automock/loader.go
  components/director/pkg/scope/automock/ticker.go
Due: pre-master-compass-components-director, post-master-compass-components-director

formatting
  components/director/hack/scopesdecorator/plugin.go
Due: pre-master-compass-components-director, post-master-compass-components-director

TennantMapping handler set all available scopes if request is secured with certificate
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/handler_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

add tests
  chart/compass/charts/director/scopes.yaml
  components/director/hack/scopesdecorator/formatter.go
  components/director/hack/scopesdecorator/formatter_order.go
  components/director/hack/scopesdecorator/formatter_order_test.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

after code review
  chart/compass/charts/director/scopes.yaml
  components/director/hack/gqlgen.go
  components/director/hack/scopesdecorator/formatter.go
  components/director/hack/scopesdecorator/plugin.go
  components/director/hack/scopesdecorator/plugin_test.go
  components/director/hack/scopesdecorator/testdata/config.yaml
  components/director/hack/scopesdecorator/testdata/expected.graphql
  components/director/hack/scopesdecorator/testdata/input.graphql
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/handler_test.go
  components/director/pkg/graphql/schema.graphql
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

get rid of fmt.Println
  components/director/hack/scopesdecorator/plugin_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

and scopes defined
  chart/compass/charts/director/scopes.yaml
  components/director/hack/gqlgen.go
  components/director/hack/scopesdecorator/plugin.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

rebase
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Generate scopes directive automatically via plugin (#333)
  chart/compass/charts/director/scopes.yaml
  components/director/Gopkg.lock
  components/director/gqlgen.sh
  components/director/hack/gqlgen.go
  components/director/hack/scopesdecorator/formatter.go
  components/director/hack/scopesdecorator/formatter_order.go
  components/director/hack/scopesdecorator/formatter_order_test.go
  components/director/hack/scopesdecorator/plugin.go
  components/director/hack/scopesdecorator/plugin_test.go
  components/director/hack/scopesdecorator/testdata/config.yaml
  components/director/hack/scopesdecorator/testdata/expected.graphql
  components/director/hack/scopesdecorator/testdata/input.graphql
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/handler_test.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Remove agent auth
  chart/compass/values.yaml
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/converter.go
  components/director/internal/domain/runtime/converter_test.go
  components/director/internal/domain/runtime/entity.go
  components/director/internal/domain/runtime/entity_test.go
  components/director/internal/domain/runtime/fixtures_test.go
  components/director/internal/domain/runtime/repository.go
  components/director/internal/domain/runtime/repository_test.go
  components/director/internal/domain/runtime/service.go
  components/director/internal/domain/runtime/service_test.go
  components/director/internal/model/runtime.go
  components/director/internal/model/runtime_test.go
  components/director/pkg/graphql/runtime.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/schema-migrator/migrations/201909251045_remove_agent_auth.down.sql
  components/schema-migrator/migrations/201909251045_remove_agent_auth.up.sql
  examples/create-runtime.graphql
  examples/delete-runtime.graphql
  examples/query-runtime.graphql
  examples/query-runtimes-with-label-filter.graphql
  examples/query-runtimes-with-pagination.graphql
  examples/query-runtimes.graphql
  examples/update-runtime.graphql
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/director/application_api_test.go
  tests/end-to-end/director/fields.go
  tests/end-to-end/director/fixtures_queries_test.go
  tests/end-to-end/director/labeling_api_test.go
  tests/end-to-end/director/runtime_api_test.go
  tests/end-to-end/director/runtime_auth_test.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Remove agent auth (#323)
  chart/compass/values.yaml
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/converter.go
  components/director/internal/domain/runtime/converter_test.go
  components/director/internal/domain/runtime/entity.go
  components/director/internal/domain/runtime/entity_test.go
  components/director/internal/domain/runtime/fixtures_test.go
  components/director/internal/domain/runtime/repository.go
  components/director/internal/domain/runtime/repository_test.go
  components/director/internal/domain/runtime/service.go
  components/director/internal/domain/runtime/service_test.go
  components/director/internal/model/runtime.go
  components/director/internal/model/runtime_test.go
  components/director/pkg/graphql/runtime.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/schema-migrator/migrations/201909251045_remove_agent_auth.down.sql
  components/schema-migrator/migrations/201909251045_remove_agent_auth.up.sql
  examples/create-runtime.graphql
  examples/delete-runtime.graphql
  examples/query-runtime.graphql
  examples/query-runtimes-with-label-filter.graphql
  examples/query-runtimes-with-pagination.graphql
  examples/query-runtimes.graphql
  examples/update-runtime.graphql
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/director/application_api_test.go
  tests/end-to-end/director/fields.go
  tests/end-to-end/director/fixtures_queries_test.go
  tests/end-to-end/director/labeling_api_test.go
  tests/end-to-end/director/runtime_api_test.go
  tests/end-to-end/director/runtime_auth_test.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Moved rule
  chart/compass/charts/connector/templates/oathkeeper-rule.yaml
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
Due: pre-master-compass-integration

Cleanup values
  chart/compass/charts/connector/values.yaml
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
Due: pre-master-compass-integration

Fix mutator URL
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration

Certificates in Compass Director (#335)
  chart/compass/charts/connector/templates/certs-setup-job.yaml
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/charts/connector/templates/oathkeeper-rule.yaml
  chart/compass/charts/connector/templates/tests/test-connector.yaml
  chart/compass/charts/connector/values.yaml
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
  chart/compass/values.yaml
  tests/connector-tests/test/apitests/apitests_test.go
  tests/connector-tests/test/apitests/oathkeeper_security_test.go
  tests/connector-tests/test/testkit/config.go
Due: pre-master-compass-integration

Introduce HTTP middleware for Director
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/Gopkg.lock
  components/director/Gopkg.toml
  components/director/cmd/main.go
  components/director/internal/authenticator/claims.go
  components/director/internal/authenticator/jwks_fetch.go
  components/director/internal/authenticator/middleware.go
  components/director/internal/authenticator/middleware_test.go
  components/director/internal/authenticator/testdata/jwks-private.json
  components/director/internal/authenticator/testdata/jwks-private2.json
  components/director/internal/authenticator/testdata/jwks-public.json
  components/director/run.sh
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Always add full scopes when there are not defined
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/handler_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Remove scoping overrides to compass component only
  installation/resources/installer-overrides-compass-gateway.yaml
Due: pre-master-compass-integration

Add GetAllScopes method for ScopeProvider
  components/director/pkg/scope/provider.go
  components/director/pkg/scope/provider_test.go
  components/director/pkg/scope/testdata/invalid2.yaml
  components/director/pkg/scope/testdata/invalid3.yaml
  components/director/pkg/scope/testdata/valid2.yaml
Due: pre-master-compass-components-director, post-master-compass-components-director

Adress review comments
  chart/compass/charts/director/templates/deployment.yaml
  components/director/cmd/main.go
  components/director/hack/default-jwks.json
  components/director/internal/authenticator/jwks_fetch.go
  components/director/internal/authenticator/middleware.go
  components/director/internal/authenticator/middleware_test.go
  components/director/run.sh
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

add domain overrides for Dex and Ory
  installation/resources/installer-overrides-compass-gateway.yaml
Due: pre-master-compass-integration

Prepare HTTP middleware for Director (#324)
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/Gopkg.lock
  components/director/Gopkg.toml
  components/director/cmd/main.go
  components/director/hack/default-jwks.json
  components/director/internal/authenticator/claims.go
  components/director/internal/authenticator/jwks_fetch.go
  components/director/internal/authenticator/middleware.go
  components/director/internal/authenticator/middleware_test.go
  components/director/internal/authenticator/testdata/jwks-private.json
  components/director/internal/authenticator/testdata/jwks-private2.json
  components/director/internal/authenticator/testdata/jwks-public.json
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/handler_test.go
  components/director/pkg/scope/provider.go
  components/director/pkg/scope/provider_test.go
  components/director/pkg/scope/testdata/invalid2.yaml
  components/director/pkg/scope/testdata/invalid3.yaml
  components/director/pkg/scope/testdata/valid2.yaml
  components/director/run.sh
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Add domain overrides for Dex and Ory (#338)
  installation/resources/installer-overrides-compass-gateway.yaml
Due: pre-master-compass-integration

add working version of token mutations, add test for service, resolver and converter
  chart/compass/charts/director/scopes.yaml
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/Gopkg.lock
  components/director/Gopkg.toml
  components/director/cmd/main.go
  components/director/internal/domain/application/automock/system_auth_converter.go
  components/director/internal/domain/application/automock/system_auth_service.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/resolver_test.go
  components/director/internal/domain/config.go
  components/director/internal/domain/onetimetoken/automock/graph_ql_client.go
  components/director/internal/domain/onetimetoken/automock/system_auth_service.go
  components/director/internal/domain/onetimetoken/automock/token_converter.go
  components/director/internal/domain/onetimetoken/automock/token_service.go
  components/director/internal/domain/onetimetoken/config.go
  components/director/internal/domain/onetimetoken/converter.go
  components/director/internal/domain/onetimetoken/coverter_test.go
  components/director/internal/domain/onetimetoken/model.go
  components/director/internal/domain/onetimetoken/resolver.go
  components/director/internal/domain/onetimetoken/resolver_test.go
  components/director/internal/domain/onetimetoken/service.go
  components/director/internal/domain/onetimetoken/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/graphql_client/client.go
  components/director/internal/model/one_time_token.go
  components/director/pkg/graphql/application.go
  components/director/pkg/graphql/config.yaml
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/run.sh
  tests/end-to-end/gen-examples.sh
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

use domain overrides during installation
  installation/cmd/run.sh
Due: pre-master-compass-integration

Use domain overrides during installation (#340)
  installation/cmd/run.sh
Due: pre-master-compass-integration

add working version of token mutations, add test for service, resolver and converter (#331)
  chart/compass/charts/director/scopes.yaml
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/Gopkg.lock
  components/director/Gopkg.toml
  components/director/cmd/main.go
  components/director/internal/domain/application/automock/system_auth_converter.go
  components/director/internal/domain/application/automock/system_auth_service.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/resolver_test.go
  components/director/internal/domain/config.go
  components/director/internal/domain/onetimetoken/automock/graph_ql_client.go
  components/director/internal/domain/onetimetoken/automock/system_auth_service.go
  components/director/internal/domain/onetimetoken/automock/token_converter.go
  components/director/internal/domain/onetimetoken/automock/token_service.go
  components/director/internal/domain/onetimetoken/config.go
  components/director/internal/domain/onetimetoken/converter.go
  components/director/internal/domain/onetimetoken/coverter_test.go
  components/director/internal/domain/onetimetoken/model.go
  components/director/internal/domain/onetimetoken/resolver.go
  components/director/internal/domain/onetimetoken/resolver_test.go
  components/director/internal/domain/onetimetoken/service.go
  components/director/internal/domain/onetimetoken/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/graphql_client/client.go
  components/director/internal/model/one_time_token.go
  components/director/pkg/graphql/application.go
  components/director/pkg/graphql/config.yaml
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/run.sh
  tests/end-to-end/gen-examples.sh
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Update integration tests for secured Director
  chart/compass/templates/test.yaml
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/Gopkg.toml
  tests/end-to-end/director/application_api_test.go
  tests/end-to-end/director/common_test.go
  tests/end-to-end/director/examplesaver.go
  tests/end-to-end/director/fixtures.go
  tests/end-to-end/director/fixtures_queries_test.go
  tests/end-to-end/director/fixtures_request_test.go
  tests/end-to-end/director/gqlclient.go
  tests/end-to-end/director/graphqlizer.go
  tests/end-to-end/director/labeling_api_test.go
  tests/end-to-end/director/ptr.go
  tests/end-to-end/director/runtime_api_test.go
  tests/end-to-end/director/runtime_auth_test.go
  tests/end-to-end/director/scopes_test.go
  tests/end-to-end/director/testctx.go
  tests/end-to-end/pkg/jwtbuilder/jwtbuilder.go
  tests/end-to-end/pkg/ptr/ptr.go
Due: pre-master-compass-integration, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Mount scope ConfigMap
  chart/compass/templates/test.yaml
  chart/compass/values.yaml
  tests/end-to-end/director/scopes_test.go
  tests/end-to-end/director/testctx.go
Due: pre-master-compass-integration, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Use new Director
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/director/values.yaml
  chart/compass/values.yaml
  components/director/cmd/main.go
  components/director/internal/authenticator/middleware.go
  components/director/internal/domain/config.go
  components/director/internal/tenantmapping/handler.go
  installation/resources/installer-overrides-compass-gateway.yaml
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/director/testctx.go
  tests/end-to-end/run.sh
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Fix tests
  components/director/cmd/main.go
  tests/end-to-end/README.md
  tests/end-to-end/director/scopes_test.go
  tests/end-to-end/gen-examples.sh
  tests/end-to-end/run.sh
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Use OathKeeper on `compass-gateway` host
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/director/values.yaml
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
  chart/compass/charts/gateway/templates/virtualservice-secure.yaml
  chart/compass/charts/gateway/templates/virtualservice.yaml
  chart/compass/templates/test.yaml
  chart/compass/values.yaml
  installation/cmd/run.sh
  installation/resources/installer-overrides-compass-gateway.yaml
Due: pre-master-compass-integration

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
