Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-integration-stable-cli: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

add external services readme
  components/external-services-mock/README.md
Due: none

Ensure dependencies
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
Due: none

Add doc how to register package without creds
  docs/compass/03-packages-credential-requests.md
Due: none

Update docs/compass/03-packages-credential-requests.md
  docs/compass/03-packages-credential-requests.md
Due: none

Add doc how to register package without creds (#1294)
  docs/compass/03-packages-credential-requests.md
Due: none

Changes based on review comments
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/values.yaml
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

wip
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

wip
  components/kyma-environment-broker/internal/process/provisioning/lms_tenant_step_test.go
Due: none

Wip
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

LMS optional or mandatory
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/lms_tenant_step.go
Due: none

wip
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step_test.go
Due: none

Make lms mandatory or optional
  components/kyma-environment-broker/internal/lms/client.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/lms_tenant_step.go
  components/kyma-environment-broker/internal/process/provisioning/lms_tenant_step_test.go
Due: none

wip
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Added EH Namespace test for e2e provisioning
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  tests/e2e/provisioning/Gopkg.lock
  tests/e2e/provisioning/README.md
  tests/e2e/provisioning/internal/gardener/client.go
  tests/e2e/provisioning/internal/gardener/config.go
  tests/e2e/provisioning/internal/hyperscaler/account_pool.go
  tests/e2e/provisioning/internal/hyperscaler/account_provider.go
  tests/e2e/provisioning/internal/hyperscaler/azure/client.go
  tests/e2e/provisioning/internal/hyperscaler/azure/config.go
  tests/e2e/provisioning/internal/hyperscaler/azure/env.go
  tests/e2e/provisioning/internal/hyperscaler/azure/provider.go
  tests/e2e/provisioning/internal/hyperscaler/azure/tags.go
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
  tests/e2e/provisioning/test/e2e_provisioning_test.go
  tests/e2e/provisioning/test/test_suite.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Lms optional or mandatory (#1274)
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/values.yaml
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/lms/client.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/lms_tenant_step.go
  components/kyma-environment-broker/internal/process/provisioning/lms_tenant_step_test.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Execute formatter
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/pkg/gqlschema/cluster_config_test.go
Due: none

TODO
  components/provisioner/pkg/gqlschema/cluster_config_test.go
Due: none

Fix GQL JSON umarshaling
  components/provisioner/internal/model/infrastructure/azure/control_plane.go
  components/provisioner/internal/model/infrastructure/gcp/control_plane.go
  components/provisioner/pkg/gqlschema/cluster_config.go
  components/provisioner/pkg/gqlschema/cluster_config_test.go
Due: none

Make zones in GCP required
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: none

schema changed
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/infrastructure.go
  components/provisioner/internal/model/infrastructure/gcp/control_plane.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: none

Update upgrade mutation documentation
  docs/internal/runtime-upgrade.md
Due: none

Modify gql schema, update model, modify implementation, modify tests - part 1
  components/provisioner/internal/api/resolver_integration_with_hydroform_test.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/model/infrastructure.go
  components/provisioner/internal/model/infrastructure/azure/control_plane.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: none

small fix
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/model/infrastructure.go
  components/provisioner/internal/model/infrastructure/azure/control_plane.go
  components/provisioner/internal/model/infrastructure/gcp/control_plane.go
Due: none

Fix formatter issues
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter_test.go
Due: none

Add test cases for Azure when no zones passed
  components/provisioner/internal/api/resolver_integration_with_hydroform_test.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/pkg/gqlschema/cluster_config_test.go
Due: none

test fix
  components/provisioner/internal/gardener/provisioner_test.go
Due: none

Add example
  components/director/examples/README.md
  components/director/examples/refetch-api-spec/refetch-api-spec.graphql
  components/director/pkg/graphql/graphqlizer/fields.go
  tests/director/api/fetch_request_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Run gqlgen
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump images
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add zones handling to Provisioner
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/common.go
  components/kyma-environment-broker/internal/provider/gcp_provider.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/fake_client.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
Due: none

Fix zones enums
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
Due: none

Fix deps
  components/kyma-environment-broker/Gopkg.toml
Due: none

Revert documentation changes
  docs/internal/runtime-upgrade.md
Due: none

Add availability zones to the provisioning mutation (#1277)
  components/provisioner/internal/api/resolver_integration_with_hydroform_test.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/model/infrastructure.go
  components/provisioner/internal/model/infrastructure/azure/control_plane.go
  components/provisioner/internal/model/infrastructure/gcp/control_plane.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/pkg/gqlschema/cluster_config.go
  components/provisioner/pkg/gqlschema/cluster_config_test.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: none

Bump Provisioner
  components/kyma-environment-broker/Gopkg.toml
Due: none

Ensure deps
  components/kyma-environment-broker/Gopkg.lock
Due: none

Clean up comments
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
Due: none

Add zones handling to the Runtime Provisioner in KEB (#1296)
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/common.go
  components/kyma-environment-broker/internal/provider/gcp_provider.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/fake_client.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
Due: none

Fix
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  components/kyma-environment-broker/internal/gardener/client.go
  tests/e2e/provisioning/Gopkg.lock
  tests/e2e/provisioning/internal/gardener/client.go
  tests/e2e/provisioning/internal/hyperscaler/account_pool.go
  tests/e2e/provisioning/internal/hyperscaler/account_provider.go
  tests/e2e/provisioning/internal/hyperscaler/azure/client.go
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
  tests/e2e/provisioning/test/test_suite.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Fixed charts
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli
