Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pull-operations-controller-build, pull-connector-build, pull-director-build, pull-hydrator-build, pull-system-broker-build, pull-external-services-mock-build, pull-connectivity-adapter-build, pull-pairing-adapter-build, pull-gateway-build, pull-schema-migrator-build, pull-tests-build, post-operations-controller-build, post-connector-build, post-director-build, post-hydrator-build, post-system-broker-build, post-external-services-mock-build, post-connectivity-adapter-build, post-pairing-adapter-build, post-gateway-build, post-schema-migrator-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pull-connectivity-adapter-lint, pull-connectivity-adapter-unit-test, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-compass-components-gateway, post-compass-components-gateway, pull-operations-controller-lint, pull-operations-controller-unit-test, pull-pairing-adapter-unit-test, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher, pre-compass-validate-inrepo-prow-configs, pull-compass-pjtester, pull-compass-vpathguard

Path conditions:
  pull-operations-controller-build: any of: ^components/operations-controller/
  pull-connector-build: any of: ^components/connector/
  pull-director-build: any of: ^components/director/
  pull-hydrator-build: any of: ^components/hydrator/
  pull-system-broker-build: any of: ^components/system-broker/
  pull-external-services-mock-build: any of: ^components/external-services-mock/
  pull-connectivity-adapter-build: any of: ^components/connectivity-adapter/
  pull-pairing-adapter-build: any of: ^components/pairing-adapter/
  pull-gateway-build: any of: ^components/gateway/
  pull-schema-migrator-build: any of: ^components/schema-migrator/
  pull-tests-build: any of: ^tests/
  post-operations-controller-build: any of: ^components/operations-controller/
  post-connector-build: any of: ^components/connector/
  post-director-build: any of: ^components/director/
  post-hydrator-build: any of: ^components/hydrator/
  post-system-broker-build: any of: ^components/system-broker/
  post-external-services-mock-build: (any of: ^components/system-broker/) or (any of: ^components/external-services-mock/)
  post-connectivity-adapter-build: (any of: ^components/system-broker/) or (any of: ^components/connectivity-adapter/)
  post-pairing-adapter-build: any of: ^components/pairing-adapter/
  post-gateway-build: any of: ^components/gateway/
  post-schema-migrator-build: any of: ^components/schema-migrator/
  post-tests-build: any of: ^tests/
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-main-compass-smoke-test: any of: ^(chart|installation)/
  pull-connectivity-adapter-lint: any of: ^components/connectivity-adapter/(.*\.go$|.golangcilint.yaml)
  pull-connectivity-adapter-unit-test: any of: ^components/connectivity-adapter/.*\.go$
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pull-external-services-mock-lint: any of: ^components/external-services-mock/(.*\.go$|.golangcilint.yaml)
  pull-external-services-mock-unit-test: any of: ^components/external-services-mock/.*\.go$
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pull-operations-controller-lint: any of: ^components/operations-controller/(.*\.go$|.golangcilint.yaml)
  pull-operations-controller-unit-test: any of: ^components/operations-controller/.*\.go$
  pull-pairing-adapter-unit-test: any of: ^components/pairing-adapter/.*\.go$
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-main-compass-schema-migrator-validate: any of: ^components/schema-migrator/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-main-compass-vm-clean-with-dump: any of: ^(chart|installation)/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  pre-compass-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-compass-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-compass-vpathguard: any of: ^(vpath/pjtester.yaml)

Schema Migrator adjustment
  components/schema-migrator/Dockerfile
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Bump version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Schema Migrator adjustment 2
  components/schema-migrator/Dockerfile
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Use correlation ID as client user if not provided in pairing flow (#2834)
  chart/compass/values.yaml
  components/director/internal/domain/onetimetoken/service.go
Due: pull-director-build, post-director-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump

Schema Migrator adjustment 3
  components/schema-migrator/Dockerfile
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Schema Migrator adjustment 4
  components/schema-migrator/Dockerfile
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

add unit tests
  components/director/internal/domain/formationconstraint/automock/automatic_formation_assignment_service.go
  components/director/internal/domain/formationconstraint/automock/entity_converter.go
  components/director/internal/domain/formationconstraint/automock/formation_constraint_converter.go
  components/director/internal/domain/formationconstraint/automock/formation_constraint_repository.go
  components/director/internal/domain/formationconstraint/automock/formation_constraint_service.go
  components/director/internal/domain/formationconstraint/automock/formation_constraint_svc.go
  components/director/internal/domain/formationconstraint/automock/formation_repository.go
  components/director/internal/domain/formationconstraint/automock/formation_template_constraint_reference_repository.go
  components/director/internal/domain/formationconstraint/automock/label_repository.go
  components/director/internal/domain/formationconstraint/automock/tenant_service.go
  components/director/internal/domain/formationconstraint/automock/uid_service.go
  components/director/internal/domain/formationconstraint/constraintEngine.go
  components/director/internal/domain/formationconstraint/converter.go
  components/director/internal/domain/formationconstraint/converter_test.go
  components/director/internal/domain/formationconstraint/entity.go
  components/director/internal/domain/formationconstraint/fixtures_test.go
  components/director/internal/domain/formationconstraint/repository.go
  components/director/internal/domain/formationconstraint/repository_test.go
  components/director/internal/domain/formationconstraint/resolver.go
  components/director/internal/domain/formationconstraint/resolver_test.go
  components/director/internal/domain/formationconstraint/service_test.go
  components/director/internal/domain/formationtemplateconstraintreferences/automock/entity_converter.go
  components/director/internal/domain/formationtemplateconstraintreferences/converter.go
  components/director/internal/domain/formationtemplateconstraintreferences/converter_test.go
  components/director/internal/domain/formationtemplateconstraintreferences/fixtures_test.go
  components/director/internal/domain/formationtemplateconstraintreferences/repository.go
  components/director/internal/domain/formationtemplateconstraintreferences/repository_test.go
  components/director/pkg/graphql/formation_constraint_validation.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Ensure customer personal data is not logged (#2831)
  chart/compass/values.yaml
  components/director/internal/authenticator/claims/validator.go
  components/director/internal/authenticator/middleware.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/packagetobundles/handler.go
  components/hydrator/internal/tenantmapping/handler.go
Due: pull-director-build, pull-hydrator-build, post-director-build, post-hydrator-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump

Add director
  components/director/Dockerfile
  vpath/pjtester.yaml
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-compass-pjtester, pull-compass-vpathguard

Add director job to pjtester
  vpath/pjtester.yaml
Due: pull-compass-pjtester, pull-compass-vpathguard

Allow application template consumers to report status for formation notifications to their applications
  components/director/internal/formationmapping/auth_middleware.go
  components/director/internal/formationmapping/auth_middleware_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add OWNERS file to formationmapping package
  CODEOWNERS
  components/director/internal/formationmapping/OWNERS
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

address comments
  components/director/internal/domain/formation/notificationbuilder.go
  components/director/internal/domain/formation/notifications.go
  components/director/internal/domain/formation/repository.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formationassignment/notifications.go
  components/director/internal/domain/formationconstraint/automock/formation_constraint_repository.go
  components/director/internal/domain/formationconstraint/automock/formation_constraint_svc.go
  components/director/internal/domain/formationconstraint/constraintEngine.go
  components/director/internal/domain/formationconstraint/constraintOperators.go
  components/director/internal/domain/formationconstraint/constraint_engine_test.go
  components/director/internal/domain/formationconstraint/export_test.go
  components/director/internal/domain/formationconstraint/fixtures_test.go
  components/director/internal/domain/formationconstraint/repository.go
  components/director/internal/domain/formationconstraint/service.go
  components/director/internal/domain/formationtemplate/entity.go
  components/director/internal/domain/formationtemplateconstraintreferences/converter.go
  components/director/internal/domain/formationtemplateconstraintreferences/entity.go
  components/director/internal/domain/formationtemplateconstraintreferences/fixtures_test.go
  components/director/internal/domain/formationtemplateconstraintreferences/repository.go
  components/director/internal/domain/formationtemplateconstraintreferences/repository_test.go
  components/director/internal/domain/formationtemplateconstraintreferences/resolver.go
  components/director/internal/domain/formationtemplateconstraintreferences/service.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/model/formation_template_constraint_references.go
  components/director/pkg/formationconstraint/formationConstraintInput.go
  components/director/pkg/formationconstraint/joinPointDetails.go
  components/director/pkg/formationconstraint/parse_template.go
  components/director/pkg/graphql/formation_constraint_input/formationConstraintInput.go
  components/director/pkg/graphql/formation_constraint_validation.go
  components/director/pkg/graphql/graphqlizer/fields.go
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/run
  components/schema-migrator/migrations/director/20230120090249_introduce_formation_constraints.down.sql
  components/schema-migrator/migrations/director/20230120090249_introduce_formation_constraints.up.sql
Due: pull-director-build, pull-schema-migrator-build, post-director-build, post-schema-migrator-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Create datadir
  installation/scripts/install-db.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

validate constraints against details structure based on location
  components/director/internal/domain/formation/notificationbuilder.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formationconstraint/automock/formation_constraint_repository.go
  components/director/internal/domain/formationconstraint/automock/formation_constraint_svc.go
  components/director/internal/domain/formationconstraint/constraintEngine.go
  components/director/internal/domain/formationconstraint/constraint_engine_test.go
  components/director/internal/domain/formationconstraint/fixtures_test.go
  components/director/internal/domain/formationconstraint/repository.go
  components/director/internal/domain/formationconstraint/service.go
  components/director/pkg/formationconstraint/joinPointLocation.go
  components/director/pkg/graphql/formation_constraint_validation.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

remove operator scope field
  components/director/internal/domain/formationconstraint/converter.go
  components/director/internal/domain/formationconstraint/entity.go
  components/director/internal/domain/formationconstraint/fixtures_test.go
  components/director/internal/domain/formationconstraint/repository_test.go
  components/director/internal/model/formation_constraint.go
  components/director/pkg/formationconstraint/formationConstraintInput.go
  components/director/pkg/formationconstraint/joinPointDetails.go
  components/director/pkg/graphql/formation_constraint_validation.go
  components/director/pkg/graphql/graphqlizer/fields.go
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

adjsut PR number
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Allow application template consumers to report status for formation notifications to their applications (#2835)
  CODEOWNERS
  chart/compass/values.yaml
  components/director/internal/formationmapping/OWNERS
  components/director/internal/formationmapping/auth_middleware.go
  components/director/internal/formationmapping/auth_middleware_test.go
  installation/scripts/install-db.sh
Due: pull-director-build, post-director-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump

Introduce certificate subject mapping API
  CODEOWNERS
  chart/compass/charts/director/config.yaml
  chart/compass/charts/hydrator/static-groups.yaml
  chart/compass/values.yaml
  components/director/hack/config-local.yaml
  components/director/internal/domain/certsubjectmapping/OWNERS
  components/director/internal/domain/certsubjectmapping/automock/cert_mapping_repository.go
  components/director/internal/domain/certsubjectmapping/automock/cert_subject_mapping_service.go
  components/director/internal/domain/certsubjectmapping/automock/converter.go
  components/director/internal/domain/certsubjectmapping/automock/entity_converter.go
  components/director/internal/domain/certsubjectmapping/automock/uid_service.go
  components/director/internal/domain/certsubjectmapping/converter.go
  components/director/internal/domain/certsubjectmapping/converter_test.go
  components/director/internal/domain/certsubjectmapping/entity.go
  components/director/internal/domain/certsubjectmapping/fixtures_test.go
  components/director/internal/domain/certsubjectmapping/repository.go
  components/director/internal/domain/certsubjectmapping/repository_test.go
  components/director/internal/domain/certsubjectmapping/resolver.go
  components/director/internal/domain/certsubjectmapping/resolver_test.go
  components/director/internal/domain/certsubjectmapping/service.go
  components/director/internal/domain/certsubjectmapping/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/formationmapping/handler.go
  components/director/internal/formationmapping/handler_test.go
  components/director/internal/model/cert_subject_mapping.go
  components/director/pkg/graphql/cert_subject_mapping_validation.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/pkg/inputvalidation/validators_cert_subject.go
  components/director/pkg/inputvalidation/validators_cert_subject_test.go
  components/director/pkg/resource/resource.go
  components/schema-migrator/migrations/director/20230119093834_introduce-cert-subject-mapping-entity.down.sql
  components/schema-migrator/migrations/director/20230119093834_introduce-cert-subject-mapping-entity.up.sql
Due: pull-director-build, pull-schema-migrator-build, post-director-build, post-schema-migrator-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, post-main-compass-vm-clean-with-dump

do not return error when notification generation fails
  components/director/internal/domain/formation/notifications.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix migration
  components/schema-migrator/migrations/director/20230120090249_introduce_formation_constraints.up.sql
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Adjust Dockerfiles for cross-compilation (#2830)
  chart/compass/values.yaml
  components/connectivity-adapter/Dockerfile
  components/connector/Dockerfile
  components/director/Dockerfile
  components/external-services-mock/Dockerfile
  components/gateway/Dockerfile
  components/hydrator/Dockerfile
  components/operations-controller/Dockerfile
  components/pairing-adapter/Dockerfile
  components/schema-migrator/Dockerfile
  components/system-broker/Dockerfile
  tests/Dockerfile
Due: pull-operations-controller-build, pull-connector-build, pull-director-build, pull-hydrator-build, pull-system-broker-build, pull-external-services-mock-build, pull-connectivity-adapter-build, pull-pairing-adapter-build, pull-gateway-build, pull-schema-migrator-build, pull-tests-build, post-operations-controller-build, post-connector-build, post-director-build, post-hydrator-build, post-system-broker-build, post-external-services-mock-build, post-connectivity-adapter-build, post-pairing-adapter-build, post-gateway-build, post-schema-migrator-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

fix
  components/director/internal/domain/formationconstraint/repository.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

adapt e2e test
  chart/compass/charts/director/config.yaml
  tests/director/tests/formation_api_test.go
  tests/director/tests/formation_constraint_api_test.go
  tests/go.mod
  tests/go.sum
  tests/pkg/fixtures/constraint_reference_queries.go
  tests/pkg/fixtures/constraint_reference_requests.go
  tests/pkg/fixtures/formation_constraint_queries.go
  tests/pkg/fixtures/formation_constraint_requests.go
Due: pull-tests-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

fix graphqlizer
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Address PR comments
  components/director/internal/domain/formation/fixtures_test.go
  components/director/internal/domain/formation/notifications_test.go
  components/director/internal/domain/formationassignment/fixtures_test.go
  components/director/internal/domain/formationassignment/notifications_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add implementation
  chart/compass/charts/director/templates/configmap-tenant-mapping-config.yaml
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/internal/domain/apptemplate/service.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/graphql/schema_gen.go
Due: pull-director-build, post-director-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump, pre-master-provisioner-whitesource-scan

fix go.mod and go.sum
  components/director/cmd/director/main.go
  components/director/go.mod
  components/director/go.sum
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

make linter happy
  components/director/internal/domain/apptemplate/resolver_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Add another e2e test
  tests/director/tests/application_tenancy_synchronization_test.go
  tests/pkg/fixtures/fixtures.go
  tests/pkg/fixtures/tenant_requests.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

Fix lint error
  components/director/internal/domain/tenant/repository_test.go
  components/director/internal/repo/tenant_access_m2m.go
  components/director/pkg/applicationtenancy/directive.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

revert change in director-test.yaml
  chart/compass/templates/tests/director/director-test.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

update go.mod and go.sum
  components/director/go.mod
  components/director/go.sum
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

fix unit tests
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/apptemplate/resolver_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

add properties in run.sh
  components/director/run.sh
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director
