Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-cluster-infra:v20190528-8897828
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
          cpu: 50m
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Add Control plane configuration
  components/provisioner/internal/gardener/annotations_test.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/model/infrastructure.go
  components/provisioner/internal/model/infrastructure/aws/aws.go
  components/provisioner/internal/model/infrastructure/aws/control_plane.go
  components/provisioner/internal/model/infrastructure/azure/azure.go
  components/provisioner/internal/model/infrastructure/azure/control_plane.go
  components/provisioner/internal/model/infrastructure/gcp/control_plane.go
  components/provisioner/internal/model/infrastructure/gcp/gcp.go
  components/provisioner/internal/provisioning/service.go
Due: none

Code review remarks
  components/connectivity-adapter/cmd/main.go
Due: none

Cleanup
  components/provisioner/go.mod
  components/provisioner/internal/gardener/shoot_controller.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/model/infrastructure.go
  components/provisioner/internal/model/infrastructure/aws/infrastructure.go
  components/provisioner/internal/model/infrastructure/azure/infrastructure.go
  components/provisioner/internal/model/infrastructure/gcp/infrastructure.go
Due: none

Minor refactor
  components/connectivity-adapter/cmd/main.go
Due: none

Goimports
  components/provisioner/internal/gardener/annotations_test.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/model/infrastructure.go
Due: none

Fetch tenants in the UI via compass api (#768)
  chart/compass/charts/cockpit/templates/configmap.yaml
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration

Update compass UI with legacy connector URL
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration

wip
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration

Remove default tenant from Account provider. Using tenants from calls to retrieve credentials. Adjusting unit tests to changes. Removing warnings.
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/provisioning/hyperscaler/account_provider.go
  components/provisioner/internal/provisioning/hyperscaler/account_provider_test.go
  components/provisioner/internal/provisioning/hyperscaler/mocks/AccountProvider.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

Update compass UI with legacy connector URL (#758)
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration

Remove crd from env test
  components/provisioner/internal/gardener/gardener_main_test.go
Due: none

Fix data in event and api spec marshallin in graphqilzer (#770)
  chart/compass/values.yaml
  components/director/examples/register-application/register-application-with-api-definitions.graphql
  components/director/examples/register-application/register-application-with-event-definitions.graphql
  tests/director/api/application_api_test.go
  tests/director/pkg/gql/graphqlizer.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

update gomod director tests
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
Due: none

Remove pagination
  components/director/internal/domain/tenant/automock/tenant_mapping_repository.go
  components/director/internal/domain/tenant/fixtures_test.go
  components/director/internal/domain/tenant/repository.go
  components/director/internal/domain/tenant/repository_test.go
  components/director/internal/domain/tenant/service.go
  components/director/internal/domain/tenant/service_test.go
  go.mod
  go.sum
Due: pre-master-compass-components-director, post-master-compass-components-director

Add unit tests
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/tenant/automock/business_tenant_mapping_converter.go
  components/director/internal/domain/tenant/automock/business_tenant_mapping_service.go
  components/director/internal/domain/tenant/converter.go
  components/director/internal/domain/tenant/fixtures_test.go
  components/director/internal/domain/tenant/resolver.go
  components/director/internal/domain/tenant/resolver_test.go
  go.sum
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump director
  chart/compass/values.yaml
Due: pre-master-compass-integration

Add e2e tests
  chart/compass/values.yaml
  components/director/examples/README.md
  components/director/examples/query-tenants/query-tenants.graphql
  go.mod
  go.sum
  tests/director/api/fixtures_request_test.go
  tests/director/api/tenants_api_test.go
  tests/director/go.mod
  tests/director/go.sum
  tests/director/pkg/gql/fields.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

update values
  chart/compass/values.yaml
Due: pre-master-compass-integration

Fix gqlgen
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix comment
  components/director/internal/domain/tenant/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix issues mentioned in the cr
  chart/compass/charts/director/config.yaml
  chart/compass/charts/director/static-users.yaml
  components/director/hack/config-local.yaml
  components/director/hack/static-users-local.yaml
  components/director/internal/domain/tenant/resolver.go
  components/director/internal/domain/tenant/resolver_test.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Add scopes
  chart/compass/templates/director-api-test.yaml
  chart/compass/templates/director-gateway-integration-test.yaml
  tests/director/gen-examples.sh
  tests/director/run.sh
Due: pre-master-compass-integration

Update gomod director tests for connectivity adapter (#776)
  chart/compass/values.yaml
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
Due: pre-master-compass-integration

Fix tenants
  chart/compass/values.yaml
Due: pre-master-compass-integration

Update runtimeStatus mutation
  docs/provisioner/08-02-provisioning-gardener.md
  docs/provisioner/08-04-runtime-status.md
Due: none

Fix for events path
  components/connectivity-adapter/go.sum
  components/connectivity-adapter/internal/connectorservice/api/certificates_test.go
  components/connectivity-adapter/internal/connectorservice/api/managementinfo_test.go
  components/connectivity-adapter/internal/connectorservice/api/middlewares/context.go
  components/connectivity-adapter/internal/connectorservice/api/revocations_test.go
  components/connectivity-adapter/internal/connectorservice/api/signingrequestinfo_test.go
  components/connectivity-adapter/internal/connectorservice/model/model.go
Due: none

fix #1
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/builder.go
  components/kyma-environment-broker/internal/broker/dumper.go
  components/kyma-environment-broker/internal/broker/last_operation.go
  components/kyma-environment-broker/internal/broker/services.go
Due: none

Add info about attaching tenant header
  docs/provisioner/01-01-provisioner-overview.md
  docs/provisioner/08-02-provisioning-gardener.md
Due: none

Add tenant resolver (#771)
  chart/compass/charts/director/config.yaml
  chart/compass/charts/director/static-users.yaml
  chart/compass/templates/director-api-test.yaml
  chart/compass/templates/director-gateway-integration-test.yaml
  chart/compass/values.yaml
  components/director/examples/README.md
  components/director/examples/query-tenants/query-tenants.graphql
  components/director/hack/config-local.yaml
  components/director/hack/static-users-local.yaml
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/tenant/automock/business_tenant_mapping_converter.go
  components/director/internal/domain/tenant/automock/business_tenant_mapping_service.go
  components/director/internal/domain/tenant/automock/tenant_mapping_repository.go
  components/director/internal/domain/tenant/converter.go
  components/director/internal/domain/tenant/fixtures_test.go
  components/director/internal/domain/tenant/repository.go
  components/director/internal/domain/tenant/repository_test.go
  components/director/internal/domain/tenant/resolver.go
  components/director/internal/domain/tenant/resolver_test.go
  components/director/internal/domain/tenant/service.go
  components/director/internal/domain/tenant/service_test.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  go.mod
  go.sum
  tests/director/api/fixtures_request_test.go
  tests/director/api/tenants_api_test.go
  tests/director/gen-examples.sh
  tests/director/go.mod
  tests/director/go.sum
  tests/director/pkg/gql/fields.go
  tests/director/run.sh
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Add info about attaching tenant header
  docs/provisioner/08-04-runtime-status.md
Due: none

Migrate db
  components/schema-migrator/migrations/director/202001311508_migrate_tenants.down.sql
  components/schema-migrator/migrations/director/202001311508_migrate_tenants.up.sql
Due: none

Bump images
  chart/compass/values.yaml
Due: pre-master-compass-integration

wip
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/go.sum
  components/director/internal/domain/tenant/repository.go
  components/director/internal/tenantmapping/automock/object_context_for_user_provider.go
  components/director/internal/tenantmapping/automock/tenant_repository.go
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/handler_test.go
  components/director/internal/tenantmapping/mapper_for_system_auth.go
  components/director/internal/tenantmapping/mapper_for_system_auth_test.go
  components/director/internal/tenantmapping/mapper_for_user.go
  components/director/internal/tenantmapping/mapper_for_user_test.go
  components/director/internal/tenantmapping/model.go
  components/director/internal/tenantmapping/model_test.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Update provisioning mutations
  docs/provisioner/08-02-provisioning-gardener.md
Due: none

Cleanup
  components/provisioner/internal/gardener/client.go
  components/provisioner/internal/gardener/gardener_main_test.go
  components/provisioner/internal/model/gardener_config.go
Due: none

fix #2
  components/kyma-environment-broker/internal/broker/bind_create.go
  components/kyma-environment-broker/internal/broker/bind_get.go
  components/kyma-environment-broker/internal/broker/bind_last_operation.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/instance_deprovision.go
  components/kyma-environment-broker/internal/broker/instance_get.go
  components/kyma-environment-broker/internal/broker/instance_last_operation.go
  components/kyma-environment-broker/internal/broker/instance_last_operation_test.go
Due: none

Connectivity adapter: renewal and revocation added (#734)
  chart/compass/values.yaml
  components/connectivity-adapter/cmd/main.go
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
  components/connectivity-adapter/internal/connector/api/managementinfo.go
  components/connectivity-adapter/internal/connector/api/managementinfo_test.go
  components/connectivity-adapter/internal/connector/api/middlewares/baseurls.go
  components/connectivity-adapter/internal/connector/api/middlewares/baseurls_test.go
  components/connectivity-adapter/internal/connector/connector.go
  components/connectivity-adapter/internal/connector/eventservicebaseurl.go
  components/connectivity-adapter/internal/connector/graphql/automock/client.go
  components/connectivity-adapter/internal/connector/graphql/client.go
  components/connectivity-adapter/internal/connectorservice/api/certificates.go
  components/connectivity-adapter/internal/connectorservice/api/certificates_test.go
  components/connectivity-adapter/internal/connectorservice/api/managementinfo.go
  components/connectivity-adapter/internal/connectorservice/api/managementinfo_test.go
  components/connectivity-adapter/internal/connectorservice/api/middlewares/authorization.go
  components/connectivity-adapter/internal/connectorservice/api/middlewares/authorization_test.go
  components/connectivity-adapter/internal/connectorservice/api/middlewares/automock/runtime_base_url_provider.go
  components/connectivity-adapter/internal/connectorservice/api/middlewares/context.go
  components/connectivity-adapter/internal/connectorservice/api/revocations.go
  components/connectivity-adapter/internal/connectorservice/api/revocations_test.go
  components/connectivity-adapter/internal/connectorservice/api/signingrequestinfo.go
  components/connectivity-adapter/internal/connectorservice/api/signingrequestinfo_test.go
  components/connectivity-adapter/internal/connectorservice/connector.go
  components/connectivity-adapter/internal/connectorservice/connector/automock/client.go
  components/connectivity-adapter/internal/connectorservice/connector/client.go
  components/connectivity-adapter/internal/connectorservice/connector/converter.go
  components/connectivity-adapter/internal/connectorservice/connector/errors.go
  components/connectivity-adapter/internal/connectorservice/connector/query.go
  components/connectivity-adapter/internal/connectorservice/director/automock/client.go
  components/connectivity-adapter/internal/connectorservice/director/automock/client_provider.go
  components/connectivity-adapter/internal/connectorservice/director/client.go
  components/connectivity-adapter/internal/connectorservice/director/clientprovider.go
  components/connectivity-adapter/internal/connectorservice/director/query.go
  components/connectivity-adapter/internal/connectorservice/model/model.go
  components/connectivity-adapter/pkg/reqerror/reqerror.go
Due: pre-master-compass-integration

adpater meet varkes
  chart/compass/values.yaml
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
  components/connectivity-adapter/internal/appregistry/appdetails/middleware.go
  components/connectivity-adapter/internal/appregistry/service/converter.go
  components/connectivity-adapter/internal/appregistry/service/converter_test.go
  components/connectivity-adapter/internal/appregistry/service/handler.go
  components/connectivity-adapter/internal/appregistry/service/manager.go
  components/connectivity-adapter/pkg/gqlcli/gqlcli.go
  go.mod
  go.sum
Due: pre-master-compass-integration

handle cloudsql-proxy
  chart/compass/charts/director/templates/tenant-loader-job.yaml
  chart/compass/templates/tenant-fetcher-job.yaml
Due: pre-master-compass-integration

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
