Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher, pre-compass-validate-inrepo-prow-configs

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  pre-compass-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)

Fix tests
  tests/director/tests/application_templates_api_test.go
  tests/director/tests/main_test.go
  tests/pkg/certs/certprovider/ext_cert_provider.go
  tests/pkg/tenant/tenant_setup.go
Due: pre-compass-tests, post-compass-tests

Adapt charts
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Update e2e version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Remove region label from more runtime & app template tests
  tests/director/tests/runtime_api_test.go
  tests/director/tests/runtime_contexts_api_test.go
  tests/director/tests/sensitive_data_strip_test.go
  tests/external-services-mock/tests/async_api_delete_test.go
  tests/ord-service/tests/api_test.go
  tests/ord-service/tests/subscription_flow_test.go
  tests/pairing-adapter/tests/mtls_flow_test.go
Due: pre-compass-tests, post-compass-tests

make imports
  tests/director/tests/runtime_contexts_api_test.go
Due: pre-compass-tests, post-compass-tests

add missing arguments
  components/external-services-mock/cmd/main.go
  tests/ord-aggregator/tests/main_test.go
Due: pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests

make imports
  components/external-services-mock/cmd/main.go
  tests/ord-aggregator/tests/main_test.go
Due: pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests

Fix env name
  chart/compass/templates/tests/director/director-test.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

make imports + comment second test
  tests/ord-aggregator/tests/handler_test.go
Due: pre-compass-tests, post-compass-tests

Update provider region2
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Fix test
  tests/director/tests/application_templates_api_test.go
Due: pre-compass-tests, post-compass-tests

Adjust config
  chart/compass/templates/tests/director/director-test.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Update docs
  docs/compass/04-01-installation.md
Due: none

Update
  docs/compass/04-01-installation.md
Due: none

For self registration flows open transaction before Self Reg Manager is invoked
  components/director/internal/domain/apptemplate/apptmpltest/selfreg_manager.go
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/resolver_test.go
  components/director/internal/domain/runtime/rtmtest/selfreg_manager.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Restart TF on each installationb
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Stop providing region in system fetcher tests
  tests/system-fetcher/tests/handler_test.go
Due: pre-compass-tests, post-compass-tests

Webhook template input model
  components/director/internal/domain/formation/service.go
  components/director/internal/model/formation.go
  components/director/pkg/graphql/webhook_validation.go
  components/director/pkg/operation/directive.go
  components/director/pkg/operation/directive_test.go
  components/director/pkg/webhook/application_lifecycle.go
  components/director/pkg/webhook/formation_configuration_change.go
  components/director/pkg/webhook/types.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Bump director in ops controller
  components/operations-controller/api/v1alpha1/operation_types.go
  components/operations-controller/go.mod
  components/operations-controller/go.sum
Due: pre-master-provisioner-whitesource-scan

Restart TF on each installationb (#2490)
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Move webhook client to director part 1
  components/director/go.mod
  components/director/go.sum
  components/director/pkg/webhook/client.go
  components/director/pkg/webhook/client_test.go
  components/director/pkg/webhook/config.go
  components/director/pkg/webhook/config_test.go
  components/director/pkg/webhook/types.go
  components/operations-controller/cmd/main.go
  components/operations-controller/controllers/operation_controller.go
  components/operations-controller/controllers/operation_controller_integration_test.go
  components/operations-controller/controllers/operation_controller_test.go
  components/operations-controller/internal/config/config.go
  components/operations-controller/internal/errors/errors.go
  components/operations-controller/internal/webhook/types.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Update additional-prometheus-rules.yaml
  chart/compass/templates/additional-prometheus-rules.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

fix external services mock trusted tenant
  chart/compass/charts/external-services-mock/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Update additional-prometheus-rules.yaml (#2491)
  chart/compass/templates/additional-prometheus-rules.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Move webhook client to director part 2
  chart/compass/charts/operations-controller/templates/deployment.yaml
  components/director/pkg/webhook/client.go
  components/director/pkg/webhook/client_test.go
  components/director/pkg/webhook/types.go
  components/operations-controller/api/v1alpha1/operation_types.go
  components/operations-controller/cmd/main.go
  components/operations-controller/controllers/operation_controller.go
  components/operations-controller/controllers/types.go
  components/operations-controller/go.mod
  components/operations-controller/go.sum
  components/operations-controller/internal/config/config.go
  components/operations-controller/internal/config/external_client_config.go
  components/operations-controller/internal/errors/errors.go
  components/operations-controller/internal/webhook/config.go
  components/operations-controller/internal/webhook/config_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Add Global Subaccount label key to config
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/internal/authenticator/claims/validator.go
  components/director/internal/authenticator/claims/validators_test.go
  components/director/internal/features/features.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix indentation in yaml
  chart/compass/charts/operations-controller/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

add migration to make webhook templates text
  components/schema-migrator/migrations/director/20220718151925_make-webhook-templates-string.down.sql
  components/schema-migrator/migrations/director/20220718151925_make-webhook-templates-string.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Fix app template subscriptions with second region (#2488)
  chart/compass/charts/external-services-mock/templates/deployment.yaml
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/values.yaml
  tests/director/tests/application_templates_api_test.go
  tests/director/tests/main_test.go
  tests/pkg/certs/certprovider/ext_cert_provider.go
  tests/pkg/tenant/tenant_setup.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-tests, post-compass-tests

Update labels
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/internal/authenticator/claims/validator.go
  components/director/internal/authenticator/claims/validators_test.go
  components/director/internal/domain/apptemplate/automock/application_template_service.go
  components/director/internal/domain/subscription/service.go
  components/director/internal/domain/subscription/service_test.go
  components/director/internal/features/features.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

move webhook client to seperate package
  components/director/pkg/webhook_client/client.go
  components/director/pkg/webhook_client/client_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

bump director version in operations controller
  components/operations-controller/go.mod
  components/operations-controller/go.sum
  components/operations-controller/internal/errors/errors.go
Due: pre-master-provisioner-whitesource-scan

remove cascade from drop view
  components/schema-migrator/migrations/director/20220718151925_make-webhook-templates-string.down.sql
  components/schema-migrator/migrations/director/20220718151925_make-webhook-templates-string.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Fix director cert client for region 2 configuration
  tests/director/tests/application_templates_api_test.go
Due: pre-compass-tests, post-compass-tests

update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Move webhook client to director part 3
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/subscription/service.go
  components/director/pkg/graphql/webhook_validation.go
  components/director/pkg/graphql/webhook_validation_test.go
  components/director/pkg/webhook/types.go
  components/director/pkg/webhook_client/client.go
  components/director/pkg/webhook_client/client_test.go
  components/director/pkg/webhook_client/types.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Move webhook client to director - final :D
  components/director/internal/domain/subscription/service.go
  components/director/pkg/graphql/webhook_validation.go
  components/director/pkg/graphql/webhook_validation_test.go
  components/director/pkg/webhook/formation_configuration_change.go
  components/director/pkg/webhook_client/client.go
  components/director/pkg/webhook_client/client_test.go
  components/director/pkg/webhook_client/types.go
  components/operations-controller/cmd/main.go
  components/operations-controller/controllers/assertions_test.go
  components/operations-controller/controllers/controllersfakes/fake_webhook_client.go
  components/operations-controller/controllers/operation_controller.go
  components/operations-controller/controllers/operation_controller_integration_test.go
  components/operations-controller/controllers/operation_controller_test.go
  components/operations-controller/controllers/types.go
  components/operations-controller/go.mod
  components/operations-controller/go.sum
  components/operations-controller/internal/config/config.go
  components/operations-controller/internal/webhook/config_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Minor tweaks
  components/director/hack/jwt_generator.sh
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add new secret
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration
