Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Path conditions:
  pre-master-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/

Revert "Graphequlizer allows to omit not needed props"
  components/director/pkg/graphql/graphqlizer/fields.go
  components/system-broker/go.mod
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-system-broker, post-compass-components-system-broker, pre-master-provisioner-whitesource-scan

Revert "Add test for graphqlizer"
  components/director/pkg/graphql/graphqlizer/fields_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Enhance graphqlizer to omit fields from query (#1654)
  chart/compass/values.yaml
  components/director/pkg/graphql/graphqlizer/fields.go
  components/director/pkg/graphql/graphqlizer/fields_test.go
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

add catalog converter tests
  components/system-broker/go.mod
  components/system-broker/go.sum
  components/system-broker/internal/osb/catalog_converter_test.go
Due: pre-compass-components-system-broker, post-compass-components-system-broker, pre-master-provisioner-whitesource-scan

Tweaks
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/charts/tenant-fetcher/templates/virtual-service.yaml
  components/tenant-fetcher/Makefile
  components/tenant-fetcher/cmd/main.go
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Introduce Tenant Fetcher standalone component
  chart/compass/charts/tenant-fetcher/.helmignore
  chart/compass/charts/tenant-fetcher/Chart.yaml
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/charts/tenant-fetcher/templates/service.yaml
  chart/compass/charts/tenant-fetcher/templates/virtual-service.yaml
  chart/compass/charts/tenant-fetcher/values.yaml
  chart/compass/values.yaml
  components/tenant-fetcher/Dockerfile
  components/tenant-fetcher/Makefile
  components/tenant-fetcher/README.md
  components/tenant-fetcher/cmd/main.go
  components/tenant-fetcher/go.mod
  components/tenant-fetcher/go.sum
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-provisioner-whitesource-scan

Add e2e tests
  chart/compass/charts/tenant-fetcher/templates/tests/tenant-fetcher-test.yaml
  chart/compass/charts/tenant-fetcher/values.yaml
  chart/compass/values.yaml
  components/tenant-fetcher/Makefile
  tests/tenant-fetcher/Dockerfile
  tests/tenant-fetcher/Makefile
  tests/tenant-fetcher/go.mod
  tests/tenant-fetcher/go.sum
  tests/tenant-fetcher/tests/hadler_test.go
  tests/tenant-fetcher/wait-for-tenant-fetcher.sh
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Modify routes
  chart/compass/charts/gateway/templates/virtualservice.yaml
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/charts/tenant-fetcher/templates/tests/tenant-fetcher-test.yaml
  chart/compass/charts/tenant-fetcher/templates/virtual-service.yaml
  chart/compass/charts/tenant-fetcher/values.yaml
  chart/compass/values.yaml
  components/tenant-fetcher/cmd/main.go
  tests/tenant-fetcher/tests/hadler_test.go
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Extract all prefixes into global values.yaml
  chart/compass/charts/cockpit/templates/configmap.yaml
  chart/compass/charts/connectivity-adapter/templates/deployment.yaml
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/charts/connector/templates/tests/test-connector.yaml
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
  chart/compass/charts/gateway/templates/virtualservice-mtls.yaml
  chart/compass/charts/gateway/templates/virtualservice-secure.yaml
  chart/compass/charts/gateway/templates/virtualservice.yaml
  chart/compass/templates/agent-configuration-job.yaml
  chart/compass/templates/director-gateway-integration-test.yaml
  chart/compass/templates/gateway-external-services-integration.yaml
  chart/compass/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Address PR review comments
  components/tenant-fetcher/cmd/main.go
  installation/resources/kyma/installer-cr-kyma-dependencies.yaml
  tests/tenant-fetcher/tests/handler_test.go
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Minor tweaks
  chart/compass/charts/gateway/templates/virtualservice.yaml
  chart/compass/charts/tenant-fetcher/templates/tests/tenant-fetcher-test.yaml
  tests/tenant-fetcher/tests/hadler_test.go
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Restore mistakenly deleted dependencies
  installation/resources/kyma/installer-cr-kyma-dependencies.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Update test image name
  chart/compass/charts/tenant-fetcher/templates/tests/tenant-fetcher-test.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Revert readme
  components/tenant-fetcher/README.md
Due: none

Remove obsolete rootAPI configuration
  chart/compass/charts/tenant-fetcher/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Introduce Tenant Fetcher standalone component (#1652)
  chart/compass/charts/cockpit/templates/configmap.yaml
  chart/compass/charts/connectivity-adapter/templates/deployment.yaml
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/charts/connector/templates/tests/test-connector.yaml
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
  chart/compass/charts/gateway/templates/virtualservice-mtls.yaml
  chart/compass/charts/gateway/templates/virtualservice-secure.yaml
  chart/compass/charts/gateway/templates/virtualservice.yaml
  chart/compass/charts/tenant-fetcher/.helmignore
  chart/compass/charts/tenant-fetcher/Chart.yaml
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/charts/tenant-fetcher/templates/service.yaml
  chart/compass/charts/tenant-fetcher/templates/tests/tenant-fetcher-test.yaml
  chart/compass/charts/tenant-fetcher/values.yaml
  chart/compass/templates/agent-configuration-job.yaml
  chart/compass/templates/director-gateway-integration-test.yaml
  chart/compass/templates/gateway-external-services-integration.yaml
  chart/compass/values.yaml
  components/tenant-fetcher/Dockerfile
  components/tenant-fetcher/Makefile
  components/tenant-fetcher/cmd/main.go
  components/tenant-fetcher/go.mod
  components/tenant-fetcher/go.sum
  tests/tenant-fetcher/Dockerfile
  tests/tenant-fetcher/Makefile
  tests/tenant-fetcher/go.mod
  tests/tenant-fetcher/go.sum
  tests/tenant-fetcher/tests/handler_test.go
  tests/tenant-fetcher/wait-for-tenant-fetcher.sh
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Add more tests
  components/director/pkg/authenticator/authenticator.go
  components/director/pkg/authenticator/authenticator_test.go
  components/director/pkg/authenticator/types_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Handle errorss in tests
  components/director/pkg/authenticator/authenticator_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update chart typo
  chart/compass/charts/gateway/templates/oathkeeper-authenticator-rules.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Initial implementation
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/gateway/templates/oathkeeper-authenticator-rules.yaml
  chart/compass/charts/gateway/templates/virtualservice-authenticators.yaml
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/internal/oathkeeper/model.go
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/handler_test.go
  components/director/internal/tenantmapping/mapper_for_user.go
  components/director/internal/tenantmapping/mapper_for_user_test.go
  components/director/pkg/authenticator/authenticator.go
  components/director/pkg/authenticator/types.go
  components/director/pkg/scope/directive.go
  components/director/pkg/scope/directive_test.go
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Add tests
  chart/compass/values.yaml
  components/director/internal/oathkeeper/model.go
  components/director/internal/oathkeeper/model_test.go
  components/director/internal/tenantmapping/handler_test.go
  components/director/internal/tenantmapping/mapper_for_user.go
  components/director/internal/tenantmapping/mapper_for_user_test.go
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Tweak tests & bump director image
  chart/compass/values.yaml
  components/director/pkg/authenticator/authenticator_test.go
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Fix helm chart
  chart/compass/charts/director/templates/deployment.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Improve Authenticator propagation logic
  components/director/go.mod
  components/director/go.sum
  components/director/internal/oathkeeper/model.go
  components/director/internal/oathkeeper/model_test.go
  components/director/internal/tenantmapping/automock/object_context_for_system_auth_provider.go
  components/director/internal/tenantmapping/automock/object_context_for_user_provider.go
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/handler_test.go
  components/director/internal/tenantmapping/mapper_for_system_auth.go
  components/director/internal/tenantmapping/mapper_for_system_auth_test.go
  components/director/internal/tenantmapping/mapper_for_user.go
  components/director/internal/tenantmapping/mapper_for_user_test.go
  components/director/pkg/apperrors/errortype_string.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Fix vs and oathkeeper rule name
  chart/compass/charts/gateway/templates/oathkeeper-authenticator-rules.yaml
  chart/compass/charts/gateway/templates/virtualservice-authenticators.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Unify ObjectContextProvider interfaces
  components/director/internal/tenantmapping/automock/object_context_provider.go
  components/director/internal/tenantmapping/handler.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Tweak charts
  chart/compass/charts/director/templates/deployment.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Chart tweaks
  chart/compass/charts/director/templates/deployment.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Tweak charts
  chart/compass/charts/gateway/templates/oathkeeper-authenticator-rules.yaml
  chart/compass/charts/gateway/templates/virtualservice-authenticators.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fix helm charts
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/gateway/templates/oathkeeper-authenticator-rules.yaml
  chart/compass/charts/gateway/templates/virtualservice-authenticators.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Strip scope prefixes in Tenant Mapping hydrator instead of HasScopes directive
  components/director/cmd/director/main.go
  components/director/internal/oathkeeper/model.go
  components/director/internal/oathkeeper/model_test.go
  components/director/internal/tenantmapping/mapper_for_user.go
  components/director/pkg/scope/directive.go
  components/director/pkg/scope/directive_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Ensure authenticator matching happens before default logic
  components/director/internal/oathkeeper/model.go
  components/director/internal/oathkeeper/model_test.go
  components/director/internal/tenantmapping/handler_test.go
  components/director/internal/tenantmapping/mapper_for_user.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Refactor ObjectContextProviders
  components/director/cmd/director/main.go
  components/director/internal/tenantmapping/authenticator_context_provider.go
  components/director/internal/tenantmapping/authenticator_context_provider_test.go
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/handler_test.go
  components/director/internal/tenantmapping/system_auth_context_provider.go
  components/director/internal/tenantmapping/system_auth_context_provider_test.go
  components/director/internal/tenantmapping/user_context_provider.go
  components/director/internal/tenantmapping/user_context_provider_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix imports linter
  components/director/pkg/scope/directive.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add authenticator gatewayHost configuration variable
  chart/compass/charts/gateway/templates/oathkeeper-authenticator-rules.yaml
  chart/compass/charts/gateway/templates/virtualservice-authenticators.yaml
  chart/compass/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Remove unnecessary authenticators from Object Context Providers
  components/director/cmd/director/main.go
  components/director/internal/tenantmapping/authenticator_context_provider.go
  components/director/internal/tenantmapping/authenticator_context_provider_test.go
  components/director/internal/tenantmapping/user_context_provider.go
  components/director/internal/tenantmapping/user_context_provider_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Remove unnecessary Virtual Service matcher
  chart/compass/charts/gateway/templates/virtualservice-authenticators.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Custom OAthkeeper Authenticator for JWT validation
  chart/compass/charts/gateway/templates/oathkeeper-authenticator-rules.yaml
  chart/compass/charts/gateway/templates/virtualservice-authenticators.yaml
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/go.mod
  components/director/go.sum
  components/director/internal/authnmappinghandler/automock/req_data_parser.go
  components/director/internal/authnmappinghandler/handler.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/tenantmapping/automock/object_context_for_system_auth_provider.go
  components/director/internal/tenantmapping/automock/object_context_for_user_provider.go
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/handler_test.go
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Add Authentication hydrator tests
  components/director/internal/authnmappinghandler/automock/req_data_parser.go
  components/director/internal/authnmappinghandler/handler.go
  components/director/internal/authnmappinghandler/handler_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add more tests
  components/director/cmd/director/main.go
  components/director/internal/authnmappinghandler/automock/token_data.go
  components/director/internal/authnmappinghandler/automock/token_verifier.go
  components/director/internal/authnmappinghandler/handler.go
  components/director/internal/authnmappinghandler/handler_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director
