Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-integration-stable-cli: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

cleanup
  installation/cmd/run-auditlog-temp.sh
  installation/cmd/run.sh
  installation/scripts/prow/deploy-and-test-auditlog-temp.sh
  installation/scripts/testing-auditlog-temp.sh
  installation/scripts/testing.sh
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Resolve conflicts
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
Due: none

Create Secrets as configuration of Runtime Agent (#1259)
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_integration_with_hydroform_test.go
  components/provisioner/internal/runtime/clientbuilder/clientbuilder.go
  components/provisioner/internal/runtime/clientbuilder/mocks/ConfigMapClientBuilder.go
  components/provisioner/internal/runtime/configuration_test.go
  components/provisioner/internal/runtime/configurator.go
  components/provisioner/internal/util/k8s/client_provider.go
  components/provisioner/internal/util/k8s/mocks/K8sClientProvider.go
Due: none

More refactorings
  tests/e2e/provisioning/internal/gardener/client.go
  tests/e2e/provisioning/internal/hyperscaler/account_pool.go
  tests/e2e/provisioning/internal/hyperscaler/azure/env.go
  tests/e2e/provisioning/test/test_suite.go
Due: none

Add refetchAPISpec example (#1292)
  chart/compass/values.yaml
  components/director/examples/README.md
  components/director/examples/refetch-api-spec/refetch-api-spec.graphql
  components/director/pkg/graphql/graphqlizer/fields.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  tests/director/api/fetch_request_test.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

Increase timeout
  components/provisioner/internal/installation/installation.go
Due: none

Bump image
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Ignore the licenses directory
  components/kyma-environment-broker/.gitignore
Due: none

Increase Tiller wait time in Provisioner (#1300)
  chart/compass/values.yaml
  components/provisioner/internal/installation/installation.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Ensure deps
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
Due: pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

Fix KEB architecture diagram
  docs/kyma-environment-broker/02-01-architecture.md
  docs/kyma-environment-broker/assets/keb-architecture.svg
Due: none

maintenance window setting added
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/values.yaml
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/testdata/maintwindow.json
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/gardener/testdata/maintwindow.json
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-provisioner-whitesource-scan

charts update and imports
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/values.yaml
  components/provisioner/cmd/main.go
  components/provisioner/internal/gardener/provisioner.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

imports
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/operations/executor.go
Due: none

Imporove Logging for retries
  components/kyma-environment-broker/internal/process/deprovision_operation.go
Due: none

Update e2e Provisioner tests after zone changed to zones
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/testkit/inputs.go
Due: pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

Add maintenance window to Provisioner (#1265)
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/values.yaml
  chart/compass/values.yaml
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/testdata/maintwindow.json
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/gardener/testdata/maintwindow.json
  components/provisioner/internal/operations/executor.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-provisioner-whitesource-scan

Bump provisioner test image
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Fix migrations order
  components/schema-migrator/migrations/director/202005071312_alter_runtimes_status_condition.down.sql
  components/schema-migrator/migrations/director/202005071312_alter_runtimes_status_condition.up.sql
Due: none

Update codeowners
  CODEOWNERS
  OWNERS
Due: none

fix metris locking issues
  chart/compass/charts/metris/templates/_helpers.tpl
  chart/compass/charts/metris/templates/deployment.yaml
  chart/compass/charts/metris/templates/secrets.yaml
  chart/compass/charts/metris/templates/service-account.yaml
  chart/compass/charts/metris/templates/service.yaml
  chart/compass/charts/metris/templates/servicemonitor.yaml
  chart/compass/charts/metris/values.yaml
  components/metris/go.mod
  components/metris/go.sum
  components/metris/internal/gardener/controller_test.go
  components/metris/internal/gardener/handlers.go
  components/metris/internal/metrics/metrics.go
  components/metris/internal/provider/azure/azure.go
  components/metris/internal/provider/azure/metrics.go
  components/metris/internal/provider/azure/model.go
  components/metris/internal/provider/azure/resources.go
  components/metris/internal/provider/provider.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-provisioner-whitesource-scan

Remove basic authentication from KEB
  chart/compass/charts/kyma-environment-broker/templates/api-rule.yaml
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/templates/secrets.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  components/kyma-environment-broker/cmd/broker/main.go
  docs/kyma-environment-broker/03-05-authorization.md
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

fix metris locking issues (#1297)
  chart/compass/charts/metris/templates/_helpers.tpl
  chart/compass/charts/metris/templates/deployment.yaml
  chart/compass/charts/metris/templates/secrets.yaml
  chart/compass/charts/metris/templates/service-account.yaml
  chart/compass/charts/metris/templates/service.yaml
  chart/compass/charts/metris/templates/servicemonitor.yaml
  chart/compass/charts/metris/values.yaml
  components/metris/go.mod
  components/metris/go.sum
  components/metris/internal/gardener/controller_test.go
  components/metris/internal/gardener/handlers.go
  components/metris/internal/metrics/metrics.go
  components/metris/internal/provider/azure/azure.go
  components/metris/internal/provider/azure/metrics.go
  components/metris/internal/provider/azure/model.go
  components/metris/internal/provider/azure/resources.go
  components/metris/internal/provider/provider.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-provisioner-whitesource-scan

Add few more changes
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
Due: none

Fix refetchAPISpec mutation
  components/director/internal/domain/api/service.go
  components/director/internal/domain/api/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump images
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Update Provisioner documentation after zone changed to list of zones
  docs/internal/runtime-upgrade.md
  docs/provisioner/08-02-provisioning-gardener.md
  docs/provisioner/provisioning-api.md
Due: none

Fix migrations order (#1308)
  chart/compass/values.yaml
  components/schema-migrator/migrations/director/202005071312_alter_runtimes_status_condition.down.sql
  components/schema-migrator/migrations/director/202005071312_alter_runtimes_status_condition.up.sql
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Remove nodeCount from provisioning mutation examples
  docs/provisioner/08-02-provisioning-gardener.md
Due: none

Revert an accidental change in a proposal
  docs/provisioner/provisioning-api.md
Due: none

Update codeowners (#1307)
  CODEOWNERS
  OWNERS
Due: none

Fix refetchAPISpec mutation (#1311)
  chart/compass/values.yaml
  components/director/internal/domain/api/service.go
  components/director/internal/domain/api/service_test.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

Filter out applications in the runtime based on application type
  chart/compass/charts/director/config.yaml
  chart/compass/charts/director/templates/configmap-configuration.yaml
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/director/values.yaml
  components/director/README.md
  components/director/cmd/director/main.go
  components/director/hack/config-local.yaml
  components/director/internal/domain/root_resolver.go
  components/director/pkg/config/errors.go
  components/director/pkg/config/hiddenapps.go
  components/director/pkg/config/provider.go
  components/director/pkg/config/provider_test.go
  components/director/pkg/config/scopes.go
  components/director/pkg/config/scopes_test.go
  components/director/pkg/config/testdata/invalid.yaml
  components/director/pkg/config/testdata/valid.yaml
  components/director/pkg/scope/provider.go
  components/director/pkg/scope/provider_test.go
  components/director/pkg/scope/testdata/invalid2.yaml
  components/director/pkg/scope/testdata/invalid3.yaml
  components/director/pkg/scope/testdata/valid.yaml
  components/director/pkg/scope/testdata/valid2.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

wip
  chart/compass/charts/director/values.yaml
  chart/compass/values.yaml
  components/director/hack/config-local.yaml
  components/director/internal/domain/application/automock/application_hide_cfg_provider.go
  components/director/internal/domain/application/automock/application_repository.go
  components/director/internal/domain/application/automock/webhook_repository.go
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/application/repository_test.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/domain/label/query.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/config/errors.go
  components/director/pkg/config/hiddenapps.go
  components/director/pkg/config/hiddenapps_test.go
  components/director/pkg/config/provider.go
  components/director/pkg/config/scopes.go
  components/director/pkg/config/testdata/invalid-hide-selectors-invalid-format.yaml
  components/director/pkg/config/testdata/valid-hide-selectors-empty.yaml
  components/director/pkg/config/testdata/valid.yaml
  components/director/run.sh
  tests/director/gen-examples.sh
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

Add unit test for subquery
  components/director/internal/domain/label/query_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Refactor FilterQuery and Subquery
  components/director/internal/domain/label/query.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Refactor errors
  components/director/pkg/apperrors/errors.go
  components/director/pkg/apperrors/errors_test.go
  components/director/pkg/config/errors.go
  components/director/pkg/config/hiddenapps.go
  components/director/pkg/config/provider.go
  components/director/pkg/config/scopes.go
  components/director/pkg/config/scopes_test.go
  components/director/pkg/scope/context.go
  components/director/pkg/scope/context_test.go
  components/director/pkg/scope/directive.go
  components/director/pkg/scope/directive_test.go
  components/director/pkg/scope/errors.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix formatting
  components/director/README.md
  docs/director/03-01-hide-applications-from-runtimes.md
Due: pre-master-compass-components-director, post-master-compass-components-director

Apply suggestions from code review
  components/director/README.md
  docs/director/03-01-hiding-application-for-runtime.md
Due: pre-master-compass-components-director, post-master-compass-components-director
