Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

pre-master-compass-development-artifacts:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20190604-d08e7fe
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build-compass-development-artifacts.sh
  ...

pre-master-compass-gke-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20200817-1.14.0-rc1-75-g625c1054-k8s1.16
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20210225-a8b55dc9
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Revert
  tests/director/tests/application_api_test.go
  tests/director/tests/labeling_api_test.go
Due: pre-compass-tests, post-compass-tests

delete leftover logs
  tests/external-services-mock/tests/async_api_delete_test.go
Due: pre-compass-tests, post-compass-tests

Aggregator adaptations
  components/director/internal/open_resource_discovery/fixtures_test.go
  components/director/internal/open_resource_discovery/service.go
  components/director/internal/open_resource_discovery/validation.go
  components/director/internal/open_resource_discovery/validation_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

address PR comments
  tests/director/tests/main_test.go
Due: pre-compass-tests, post-compass-tests

make imports
  tests/director/tests/main_test.go
Due: pre-compass-tests, post-compass-tests

Revert to stable version
  chart/compass/values.yaml
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  tests/director/tests/application_api_test.go
  tests/director/tests/labeling_api_test.go
  tests/pkg/fixtures/application_queries.go
  tests/pkg/tenant/tenant_setup.go
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Address part of comments
  chart/compass/values.yaml
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  tests/director/tests/application_api_test.go
  tests/director/tests/labeling_api_test.go
  tests/pkg/fixtures/application_queries.go
  tests/pkg/tenant/tenant_setup.go
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Tweaks
  components/director/internal/open_resource_discovery/fixtures_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

go.mod director version bump
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
  components/connectivity-adapter/internal/appregistry/service/converter.go
  components/connector/go.mod
  components/connector/go.sum
  components/gateway/go.mod
  components/gateway/go.sum
  components/operations-controller/go.mod
  components/operations-controller/go.sum
  components/pairing-adapter/go.mod
  components/pairing-adapter/go.sum
  components/system-broker/go.mod
  components/system-broker/go.sum
  components/system-broker/internal/osb/types.go
  tests/go.mod
  tests/go.sum
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Update async_api_delete_test.go
  tests/external-services-mock/tests/async_api_delete_test.go
Due: pre-compass-tests, post-compass-tests

fix build errors
  components/connectivity-adapter/internal/appregistry/service/converter_test.go
  components/pairing-adapter/internal/adapter/client_test.go
  tests/pkg/assertions/assertions.go
Due: pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-tests, post-compass-tests

Update values.yaml
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fix PR versions
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Address part of comments
  components/director/internal/domain/application/service.go
  tests/director/tests/application_api_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Move env package to director
  components/director/go.mod
  components/director/go.sum
  components/director/pkg/env/description.go
  components/director/pkg/env/env.go
  components/director/pkg/env/env_test.go
  components/system-broker/cmd/main.go
  components/system-broker/go.mod
  components/system-broker/go.sum
  components/system-broker/internal/config/config.go
  components/system-broker/pkg/env/envfakes/fake_environment.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-system-broker, post-compass-components-system-broker, pre-master-provisioner-whitesource-scan

Fix grapqlizer template for int fields
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Adjust director version
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Update deps
  tests/go.mod
  tests/go.sum
Due: pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Adjust test to new deps
  tests/connectivity-adapter/tests/app_registry_test.go
  tests/connectivity-adapter/tests/connector_test.go
  tests/director/tests/application_api_test.go
  tests/director/tests/automatic_scenario_assignment_test.go
  tests/director/tests/labeling_api_test.go
  tests/director/tests/runtime_api_test.go
  tests/gateway/tests/automatic_status_update_test.go
  tests/gateway/tests/viewer_test.go
  tests/go.sum
  tests/pkg/assertions/assertions.go
  tests/pkg/fixtures/application_requests.go
  tests/pkg/fixtures/application_template_requests.go
  tests/pkg/fixtures/runtime_requests.go
Due: pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Fix test
  components/director/internal/domain/application/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

API tests stabilisation
  tests/pkg/fixtures/auth_requests.go
  tests/pkg/fixtures/bundle_requests.go
Due: pre-compass-tests, post-compass-tests

Import fixes
  tests/pkg/fixtures/auth_requests.go
Due: pre-compass-tests, post-compass-tests

Fix deletion flow
  components/director/internal/domain/application/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add new tests to oauth20 service
  components/director/internal/domain/oauth20/service.go
  components/director/internal/domain/oauth20/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Change error message
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  tests/director/tests/application_api_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Decrease request dexToken count for e2e tests (#1793)
  chart/compass/values.yaml
  tests/Makefile
  tests/connectivity-adapter/Makefile
  tests/connector/Makefile
  tests/director/Makefile
  tests/director/tests/application_api_test.go
  tests/director/tests/application_templates_api_test.go
  tests/director/tests/automatic_scenario_assignment_test.go
  tests/director/tests/bundle_api_test.go
  tests/director/tests/bundle_instance_auth_test.go
  tests/director/tests/eventing_test.go
  tests/director/tests/fetch_request_test.go
  tests/director/tests/integration_system_api_test.go
  tests/director/tests/labeling_api_test.go
  tests/director/tests/main_test.go
  tests/director/tests/oauth20_test.go
  tests/director/tests/runtime_api_test.go
  tests/director/tests/scopes_test.go
  tests/director/tests/tenants_api_test.go
  tests/director/tests/token_api_test.go
  tests/director/tests/validation_test.go
  tests/external-services-mock/Makefile
  tests/external-services-mock/tests/async_api_delete_test.go
  tests/external-services-mock/tests/auditlog_integration_test.go
  tests/external-services-mock/tests/fetch_request_test.go
  tests/external-services-mock/tests/main_test.go
  tests/gateway/Makefile
  tests/gateway/tests/automatic_status_update_test.go
  tests/gateway/tests/compass_auth_test.go
  tests/gateway/tests/integration_system_scope_test.go
  tests/gateway/tests/main_test.go
  tests/gateway/tests/playground_test.go
  tests/gateway/tests/tenants_test.go
  tests/gateway/tests/viewer_test.go
  tests/go.mod
  tests/go.sum
  tests/operations-controller/Makefile
  tests/ord-service/Makefile
  tests/system-broker/Makefile
  tests/tenant-fetcher/Makefile
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Cleanup makefile and unnecessary files from Operations Controller component 2 (#1799)
  components/operations-controller/Dockerfile
  components/operations-controller/Makefile
  components/operations-controller/cmd/main.go
  components/operations-controller/config/certmanager/certificate.yaml
  components/operations-controller/config/certmanager/kustomization.yaml
  components/operations-controller/config/certmanager/kustomizeconfig.yaml
  components/operations-controller/config/crd/kustomization.yaml
  components/operations-controller/config/crd/kustomizeconfig.yaml
  components/operations-controller/config/crd/patches/cainjection_in_operations.yaml
  components/operations-controller/config/crd/patches/webhook_in_operations.yaml
  components/operations-controller/config/default/kustomization.yaml
  components/operations-controller/config/default/manager_auth_proxy_patch.yaml
  components/operations-controller/config/default/manager_webhook_patch.yaml
  components/operations-controller/config/default/webhookcainjection_patch.yaml
  components/operations-controller/config/manager/kustomization.yaml
  components/operations-controller/config/manager/manager.yaml
  components/operations-controller/config/prometheus/kustomization.yaml
  components/operations-controller/config/prometheus/monitor.yaml
  components/operations-controller/config/rbac/auth_proxy_client_clusterrole.yaml
  components/operations-controller/config/rbac/auth_proxy_role.yaml
  components/operations-controller/config/rbac/auth_proxy_role_binding.yaml
  components/operations-controller/config/rbac/auth_proxy_service.yaml
  components/operations-controller/config/rbac/kustomization.yaml
  components/operations-controller/config/rbac/leader_election_role.yaml
  components/operations-controller/config/rbac/leader_election_role_binding.yaml
  components/operations-controller/config/rbac/operation_editor_role.yaml
  components/operations-controller/config/rbac/operation_viewer_role.yaml
  components/operations-controller/config/rbac/role.yaml
  components/operations-controller/config/rbac/role_binding.yaml
  components/operations-controller/config/webhook/kustomization.yaml
  components/operations-controller/config/webhook/kustomizeconfig.yaml
  components/operations-controller/config/webhook/service.yaml
  components/operations-controller/go.mod
Due: pre-master-provisioner-whitesource-scan

change ord-service PR number reference
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

fix versions
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Address comments
  tests/istio/tests/request_payload_limit_test.go
  tests/pkg/fixtures/big_requests.go
Due: pre-compass-tests, post-compass-tests

Address comments
  tests/ord-aggregator/Makefile
  tests/ord-aggregator/tests/handler_test.go
  tests/pkg/assertions/assertions.go
  tests/pkg/fixtures/application_requests.go
Due: pre-compass-tests, post-compass-tests

fix imports
  tests/director/tests/application_api_test.go
Due: pre-compass-tests, post-compass-tests

[HOTFIX] Fix account creation (#1794)
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/pkg/authenticator/key_iterator.go
  components/tenant-fetcher/go.mod
  components/tenant-fetcher/go.sum
  components/tenant-fetcher/internal/authenticator/middleware.go
  components/tenant-fetcher/internal/authenticator/middleware_test.go
  components/tenant-fetcher/internal/tenant/handler.go
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

change ord-service PR number reference (#1800)
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Remove dex token temp solution
  tests/pkg/idtokenprovider/auth.go
Due: pre-compass-tests, post-compass-tests

Change deprecated filter name
  chart/compass/templates/limit-request-payload-size.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fix tests
  tests/director/tests/application_api_test.go
Due: pre-compass-tests, post-compass-tests

Fix component numbers
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fix compass installation error due to secret existence
  chart/compass/charts/external-services-mock/templates/basic-credentials-secret.yaml
  chart/compass/charts/external-services-mock/templates/deployment.yaml
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
  chart/compass/charts/external-services-mock/templates/service.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Fix test
  tests/director/tests/application_api_test.go
Due: pre-compass-tests, post-compass-tests

Path conditions:
  pre-master-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-master-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
