Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

pre-master-compass-development-artifacts:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20190604-d08e7fe
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build-compass-development-artifacts.sh
  ...

pre-master-compass-gke-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20200817-1.14.0-rc1-75-g625c1054-k8s1.16
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Replace hardcoded sa name for connector tests
  chart/compass/charts/connector/templates/tests/role-binding.yaml
  chart/compass/charts/connector/templates/tests/service-account.yaml
  chart/compass/charts/connector/templates/tests/test-connector.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

replace hardcoded namespaces with reference to values.yaml
  chart/compass/charts/connector/templates/tests/role-binding.yaml
  chart/compass/charts/postgresql/templates/secrets.yaml
  chart/compass/templates/connectivity-adapter-service-account.yaml
  chart/compass/templates/connector-service-account.yaml
  chart/compass/templates/test-definitions/connectivity-adapter-test.yaml
  chart/compass/templates/test-definitions/connector-test.yaml
  chart/compass/templates/test-definitions/director-test.yaml
  chart/compass/templates/test-definitions/external-services-mock-test.yaml
  chart/compass/templates/test-definitions/gateway-test.yaml
  chart/compass/templates/test-definitions/operations-controller.yaml
  chart/compass/templates/test-definitions/ord-service-test.yaml
  chart/compass/templates/test-definitions/system-broker-test.yaml
  chart/compass/templates/test-definitions/tenant-fetcher-test.yaml
  chart/compass/values.yaml
  tests/external-services-mock/tests/async_api_delete_test.go
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-tests, post-compass-tests

Remove GetByID method
  components/connector/go.mod
  components/connector/go.sum
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/onetimetoken/automock/system_auth_service.go
  components/director/internal/domain/onetimetoken/service.go
  components/director/internal/domain/onetimetoken/service_test.go
  components/director/internal/domain/systemauth/service.go
  components/director/internal/domain/systemauth/service_test.go
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Add GO111MODULE variable in gqlgen scripts
  components/connector/gqlgen.sh
  components/director/gqlgen.sh
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director

Fix bug in app webhook resolver. Address comments.
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/apptemplate/converter.go
  components/schema-migrator/migrations/director/20210302174853_add_app_template_to_webhooks.up.sql
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Add unit test for app webhook resolver.
  components/director/internal/domain/application/resolver_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

change test target
  tests/Makefile
Due: pre-compass-tests, post-compass-tests

rename test target
  tests/Makefile
Due: pre-compass-tests, post-compass-tests

Address operation controller review feedback
  components/director/cmd/director/main.go
  components/director/internal/model/application.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/pkg/operation/api.go
  components/director/pkg/operation/api_test.go
  components/director/pkg/operation/directive.go
  components/director/pkg/operation/directive_test.go
  components/director/pkg/operation/middleware.go
  components/director/pkg/operation/middleware_test.go
  components/director/pkg/operation/operation.go
  components/director/pkg/operation/update_operation_handler.go
  components/director/pkg/operation/update_operation_handler_test.go
  components/operations-controller/internal/director/client.go
  tests/system-broker/go.mod
  tests/system-broker/go.sum
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Update components versions
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Update go.mod and go.sum files
  components/director/go.mod
  components/director/go.sum
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Add more directive tests
  components/director/pkg/operation/directive.go
  components/director/pkg/operation/directive_test.go
  tests/director/external-services-mock-integration/fixtures_request.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Address part of the review comments
  components/director/pkg/apperrors/consts.go
  components/director/pkg/apperrors/errors.go
  components/director/pkg/apperrors/errors_test.go
  components/director/pkg/operation/api.go
  components/director/pkg/operation/directive.go
  components/director/pkg/operation/directive_test.go
  components/director/pkg/operation/operation.go
  components/director/pkg/operation/update_operation_handler.go
  components/director/pkg/str/strings.go
  tests/director/external-services-mock-integration/async_api_delete_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Extract operations endpoint into configuration
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/operations-controller/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/operations-controller/internal/director/client.go
  components/operations-controller/internal/director/config.go
  components/operations-controller/main.go
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

rename test target for each component
  tests/connectivity-adapter/Makefile
  tests/connector/Makefile
  tests/director/Makefile
  tests/external-services-mock/Makefile
  tests/gateway/Makefile
  tests/operations-controller/Makefile
  tests/ord-service/Makefile
  tests/system-broker/Makefile
  tests/tenant-fetcher/Makefile
Due: pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Reuse aggregator cron schedule
  chart/compass/templates/ord-aggregator-test.yaml
  tests/ord-aggregator/go.mod
  tests/ord-aggregator/go.sum
  tests/ord-aggregator/tests/handler_test.go
  tests/ord-aggregator/tests/main_test.go
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Fix rebase/merge problem
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/application/converter.go
  components/director/pkg/operation/api.go
  components/operations-controller/internal/director/client_test.go
  components/schema-migrator/migrations/director/202103111609_alter_application_status_condition.down.sql
  components/schema-migrator/migrations/director/202103111609_alter_application_status_condition.up.sql
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-master-provisioner-whitesource-scan

Chart tweaks
  chart/compass/templates/ord-aggregator-job.yaml
  chart/compass/templates/ord-aggregator-test.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

downgrade k8s dependencies
  components/director/go.mod
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Adapt application converters and e2e tests
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/operations-controller/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/internal/domain/application/converter.go
  components/director/pkg/operation/directive.go
  components/operations-controller/go.sum
  tests/director/external-services-mock-integration/async_api_delete_test.go
  tests/director/external-services-mock-integration/fixtures_request.go
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Fix converters
  components/director/go.mod
  components/director/internal/domain/application/converter.go
  components/director/pkg/operation/directive.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Remove internal address variables
  components/operations-controller/internal/director/config.go
Due: none

Downgrade connector's k8s deps
  components/connector/go.mod
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-provisioner-whitesource-scan

Downgrade director's k8s deps
  components/director/go.mod
  components/director/go.sum
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Fix connector tests
  components/connector/go.sum
  components/connector/internal/certificates/loader.go
  components/connector/internal/revocation/loader.go
  components/connector/internal/revocation/loader_test.go
  components/connector/internal/revocation/mocks/Manager.go
  components/connector/internal/revocation/repository.go
  components/connector/internal/revocation/repository_test.go
  components/connector/internal/secrets/mocks/Manager.go
  components/connector/internal/secrets/mocks/Repository.go
  components/connector/internal/secrets/repository.go
  components/connector/internal/secrets/repository_test.go
  components/connector/pkg/graphql/clientset/clientset_test.go
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-provisioner-whitesource-scan

Fix operation-contoller tests
  components/director/go.sum
  components/operations-controller/internal/director/client.go
  components/operations-controller/internal/director/client_test.go
  components/operations-controller/internal/director/config_test.go
  components/operations-controller/main.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Update connector component version
  chart/compass/values.yaml
  components/schema-migrator/migrations/director/20210311160954_alter_application_status_condition.down.sql
  components/schema-migrator/migrations/director/20210311160954_alter_application_status_condition.up.sql
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Bump schema migrator
  chart/compass/values.yaml
Due: pre-master-compass-development-artifacts, pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Tweaks
  components/external-services-mock/internal/ord-aggregator/template.go
  tests/ord-aggregator/tests/handler_test.go
Due: pre-compass-tests, post-compass-tests

Adapt migrations
  components/schema-migrator/migrations/director/20210312135243_ord-webhook-type.down.sql
  components/schema-migrator/migrations/director/20210312135243_ord-webhook-type.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Adapt webhook changes
  components/director/cmd/ordaggregator/main.go
  components/director/internal/open_resource_discovery/automock/webhook_service.go
  components/director/internal/open_resource_discovery/fixtures_test.go
  components/director/internal/open_resource_discovery/interfaces.go
  components/director/internal/open_resource_discovery/service.go
  components/director/internal/open_resource_discovery/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix imports
  components/director/internal/model/application.go
Due: pre-master-compass-components-director, post-master-compass-components-director

split fixtures into multiple files
  tests/director/tests/fetch_request_test.go
  tests/director/tests/labeling_api_test.go
  tests/external-services-mock/tests/async_api_delete_test.go
  tests/gateway/tests/automatic_status_update_test.go
  tests/gateway/tests/compass_auth_test.go
  tests/gateway/tests/integration_system_scope_test.go
  tests/gateway/tests/playground_test.go
  tests/gateway/tests/tenants_test.go
  tests/gateway/tests/viewer_test.go
  tests/ord-service/tests/api_test.go
  tests/pkg/fixtures/api_definition_requests.go
  tests/pkg/fixtures/api_requests.go
  tests/pkg/fixtures/application_queries.go
  tests/pkg/fixtures/application_requests.go
  tests/pkg/fixtures/application_template_queries.go
  tests/pkg/fixtures/application_template_requests.go
  tests/pkg/fixtures/auth_requests.go
  tests/pkg/fixtures/bundle_requests.go
  tests/pkg/fixtures/bundles_queries.go
  tests/pkg/fixtures/fixtures.go
  tests/pkg/fixtures/fixtures_queries.go
  tests/pkg/fixtures/integration_system_queries.go
  tests/pkg/fixtures/integration_system_requests.go
  tests/pkg/fixtures/label_definitions_queries.go
  tests/pkg/fixtures/label_requests.go
  tests/pkg/fixtures/runtime_queries.go
  tests/pkg/fixtures/runtime_requests.go
  tests/pkg/fixtures/scenario_assignment_requests.go
  tests/pkg/fixtures/scenarios_queries.go
  tests/pkg/fixtures/webhook_requests.go
  tests/system-broker/tests/auth_test.go
Due: pre-compass-tests, post-compass-tests

Adapt webhook changes
  components/director/internal/open_resource_discovery/automock/webhook_service.go
  components/director/internal/open_resource_discovery/interfaces.go
  components/director/internal/open_resource_discovery/service.go
  components/director/internal/open_resource_discovery/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Cleanup makefile and unnecessary files
  components/operations-controller/Makefile
  components/operations-controller/config/certmanager/certificate.yaml
  components/operations-controller/config/certmanager/kustomization.yaml
  components/operations-controller/config/certmanager/kustomizeconfig.yaml
  components/operations-controller/config/crd/kustomization.yaml
  components/operations-controller/config/crd/kustomizeconfig.yaml
  components/operations-controller/config/crd/patches/cainjection_in_operations.yaml
  components/operations-controller/config/crd/patches/webhook_in_operations.yaml
  components/operations-controller/config/default/kustomization.yaml
  components/operations-controller/config/default/manager_auth_proxy_patch.yaml
  components/operations-controller/config/default/manager_webhook_patch.yaml
  components/operations-controller/config/default/webhookcainjection_patch.yaml
  components/operations-controller/config/manager/kustomization.yaml
  components/operations-controller/config/manager/manager.yaml
  components/operations-controller/config/prometheus/kustomization.yaml
  components/operations-controller/config/prometheus/monitor.yaml
  components/operations-controller/config/rbac/auth_proxy_client_clusterrole.yaml
  components/operations-controller/config/rbac/auth_proxy_role.yaml
  components/operations-controller/config/rbac/auth_proxy_role_binding.yaml
  components/operations-controller/config/rbac/auth_proxy_service.yaml
  components/operations-controller/config/rbac/kustomization.yaml
  components/operations-controller/config/rbac/leader_election_role.yaml
  components/operations-controller/config/rbac/leader_election_role_binding.yaml
  components/operations-controller/config/rbac/operation_editor_role.yaml
  components/operations-controller/config/rbac/operation_viewer_role.yaml
  components/operations-controller/config/rbac/role.yaml
  components/operations-controller/config/rbac/role_binding.yaml
  components/operations-controller/config/webhook/kustomization.yaml
  components/operations-controller/config/webhook/kustomizeconfig.yaml
  components/operations-controller/config/webhook/service.yaml
  components/operations-controller/go.mod
Due: pre-master-provisioner-whitesource-scan

Remove GOBIN env var setting
  components/operations-controller/Makefile
Due: none

Path conditions:
  pre-master-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-master-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
