Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

pre-main-compass-development-artifacts:
  labels:
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-development-artifacts-bucket: 'true'
    preset-sa-gcr-push: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
  ...

pre-main-compass-gke-benchmark:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-gke-benchmark
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-cluster-version: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-gke-integration: 'true'
  ...

pre-main-compass-gke-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-gke-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-cluster-version: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-gke-integration: 'true'
  ...

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-main-compass-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

rback configuration
  chart/compass/charts/director/templates/external-certificate-rotation-job.yaml
  chart/compass/charts/director/templates/rbac.yaml
  chart/compass/templates/ord-aggregator-job.yaml
  chart/compass/templates/system-fetcher-job.yaml
  components/director/pkg/certloader/loader.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Add trap for proxy
  chart/compass/charts/director/templates/external-certificate-rotation-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Enable PA on local env by default
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
  chart/compass/charts/pairing-adapter/values.yaml
  chart/compass/values.yaml
  components/external-services-mock/cmd/main.go
  components/pairing-adapter/cmd/main.go
  components/pairing-adapter/internal/adapter/model.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter

Rename scopes per consumer property
  chart/compass/charts/director/config.yaml
  components/director/internal/domain/oauth20/service.go
  components/director/internal/domain/oauth20/service_test.go
  components/director/internal/tenantmapping/model.go
  components/director/internal/tenantmapping/system_auth_context_provider.go
  components/director/internal/tenantmapping/system_auth_context_provider_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Initial commit
  components/director/internal/domain/application/automock/application_repository.go
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/systemfetcher/automock/systems_service.go
  components/director/internal/systemfetcher/service.go
  components/director/internal/systemfetcher/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Address comments from meeting
  components/director/internal/domain/api/entity.go
  components/director/internal/domain/api/repository_test.go
  components/director/internal/domain/application/entity.go
  components/director/internal/domain/application/repository_test.go
  components/director/internal/domain/bundle/entity.go
  components/director/internal/domain/bundle/repository_test.go
  components/director/internal/domain/bundleinstanceauth/entity.go
  components/director/internal/domain/bundleinstanceauth/repository_test.go
  components/director/internal/domain/document/entity.go
  components/director/internal/domain/eventdef/entity.go
  components/director/internal/domain/eventdef/repository_test.go
  components/director/internal/domain/fetchrequest/entity.go
  components/director/internal/domain/fetchrequest/repository_test.go
  components/director/internal/domain/label/entity.go
  components/director/internal/domain/label/repository_test.go
  components/director/internal/domain/ordvendor/entity.go
  components/director/internal/domain/ordvendor/repository_test.go
  components/director/internal/domain/package/entity.go
  components/director/internal/domain/package/repository_test.go
  components/director/internal/domain/product/entity.go
  components/director/internal/domain/product/repository_test.go
  components/director/internal/domain/runtime/entity.go
  components/director/internal/domain/runtime/repository_test.go
  components/director/internal/domain/runtime/service.go
  components/director/internal/domain/runtime_context/entity.go
  components/director/internal/domain/runtime_context/repository_test.go
  components/director/internal/domain/scenarioassignment/engine.go
  components/director/internal/domain/spec/entity.go
  components/director/internal/domain/spec/repository_test.go
  components/director/internal/domain/tombstone/entity.go
  components/director/internal/domain/tombstone/repository_test.go
  components/director/internal/domain/webhook/entity.go
  components/director/internal/domain/webhook/repository_test.go
  components/director/internal/repo/conditions.go
  components/director/internal/repo/fixtures_test.go
  components/director/internal/repo/sql_types.go
  components/director/internal/repo/testdb/generic_repo_update_tests.go
  components/director/internal/repo/update.go
  components/director/internal/repo/update_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Initial impl
  chart/compass/charts/director/config.yaml
  components/connector/config/config.go
  components/connector/config/servers.go
  components/connector/go.mod
  components/connector/pkg/oathkeeper/automock/certificate_header_parser.go
  components/connector/pkg/oathkeeper/cert_header_parser.go
  components/connector/pkg/oathkeeper/mocks/CertificateHeaderParser.go
  components/connector/pkg/oathkeeper/validation_hydrator.go
  components/connector/pkg/oathkeeper/validation_hydrator_test.go
  components/director/cmd/director/main.go
  components/director/internal/oathkeeper/model.go
  components/director/internal/tenantmapping/cert_service_context_provider.go
  components/director/pkg/cert/certutils.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

apply review comments
  components/director/internal/domain/fetchrequest/service_test.go
  components/director/internal/open_resource_discovery/accessstrategy/cmp_mtls_access_strategy.go
  components/director/internal/open_resource_discovery/accessstrategy/open_access_strategy_test.go
  components/director/internal/open_resource_discovery/client_test.go
  components/director/pkg/certloader/cache.go
  components/director/pkg/certloader/cache_test.go
  components/director/pkg/certloader/loader.go
  components/director/pkg/certloader/loader_test.go
  components/director/pkg/namespacedname/namespacedname.go
  components/director/pkg/namespacedname/namespacedname_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Minor improvement
  components/director/internal/domain/application/repository.go
Due: pre-master-compass-components-director, post-master-compass-components-director

use rwmutex
  components/director/pkg/certloader/cache.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add missing configuration for local PA
  chart/compass/charts/pairing-adapter/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Add tenant column in conflicting columns constraint
  components/director/internal/domain/application/repository.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add external certificate rotation cronjob (#2112)
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/director/templates/external-certificate-rotation-job.yaml
  chart/compass/charts/director/templates/rbac.yaml
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
  chart/compass/templates/ord-aggregator-job.yaml
  chart/compass/templates/system-fetcher-job.yaml
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/fetchrequest/service.go
  components/director/internal/domain/fetchrequest/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/open_resource_discovery/accessstrategy/access_strategy.go
  components/director/internal/open_resource_discovery/accessstrategy/automock/executor.go
  components/director/internal/open_resource_discovery/accessstrategy/cmp_mtls_access_strategy.go
  components/director/internal/open_resource_discovery/accessstrategy/executor_provider.go
  components/director/internal/open_resource_discovery/accessstrategy/open_access_strategy.go
  components/director/internal/open_resource_discovery/accessstrategy/open_access_strategy_test.go
  components/director/internal/open_resource_discovery/client.go
  components/director/internal/open_resource_discovery/client_test.go
  components/director/pkg/cert/certsvc_client.go
  components/director/pkg/cert/certsvc_client_test.go
  components/director/pkg/certloader/automock/manager.go
  components/director/pkg/certloader/cache.go
  components/director/pkg/certloader/loader.go
  components/director/pkg/certloader/loader_test.go
  components/director/pkg/namespacedname/namespacedname.go
  components/director/pkg/namespacedname/namespacedname_test.go
  components/external-services-mock/internal/cert/handler.go
  components/external-services-mock/internal/cert/handler_test.go
  components/operations-controller/go.mod
  tests/go.sum
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Address PR comments
  chart/compass/values.yaml
  components/director/internal/domain/api/service.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/apptemplate/service.go
  components/director/internal/domain/bundle/service.go
  components/director/internal/domain/bundleinstanceauth/service.go
  components/director/internal/domain/document/service.go
  components/director/internal/domain/eventdef/service.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/label/service.go
  components/director/internal/domain/ordvendor/service.go
  components/director/internal/domain/package/service.go
  components/director/internal/domain/product/service.go
  components/director/internal/domain/runtime/service.go
  components/director/internal/domain/runtime_context/service.go
  components/director/internal/domain/scenarioassignment/service.go
  components/director/internal/domain/spec/service.go
  components/director/internal/domain/tombstone/service.go
  components/director/internal/domain/webhook/service.go
  components/director/internal/tenantfetcher/service.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Utilize library fot certificate cache
  chart/compass/charts/operations-controller/templates/deployment.yaml
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
  components/director/cmd/director/main.go
  components/director/go.mod
  components/operations-controller/cmd/main.go
  components/operations-controller/internal/config/config.go
  components/operations-controller/internal/utils/automock/certificate_cache.go
  components/operations-controller/internal/utils/clients.go
  components/pairing-adapter/cmd/main.go
  components/pairing-adapter/internal/adapter/model.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-provisioner-whitesource-scan

Fix mod files
  components/operations-controller/go.mod
  components/pairing-adapter/go.mod
  components/pairing-adapter/go.sum
Due: pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-provisioner-whitesource-scan

Add DB constraint for system_number
  chart/compass/values.yaml
  components/director/internal/domain/application/repository.go
  components/schema-migrator/migrations/director/20211129131339_unique_system_number.down.sql
  components/schema-migrator/migrations/director/20211129131339_unique_system_number.up.sql
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Fix mod file of operations controller
  components/operations-controller/go.mod
Due: pre-master-provisioner-whitesource-scan

Fix mod files
  components/operations-controller/go.sum
  tests/go.mod
  tests/go.sum
Due: pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Address PR comments
  components/director/internal/domain/application/automock/webhook_service.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/eventdef/automock/event_api_repository.go
  components/director/internal/domain/eventdef/automock/spec_service.go
  components/director/internal/domain/eventdef/service.go
  components/director/internal/domain/label/repository.go
  components/director/internal/domain/scenarioassignment/engine_test.go
  components/director/internal/domain/scenarioassignment/resolver_test.go
  components/director/internal/domain/tenant/service.go
  components/director/internal/repo/testdb/generic_repo_create_tests.go
  components/director/internal/repo/testdb/generic_repo_delete_tests.go
  components/director/internal/repo/testdb/generic_repo_exist_tests.go
  components/director/internal/repo/testdb/generic_repo_get_tests.go
  components/director/internal/repo/testdb/generic_repo_list_pageable_tests.go
  components/director/internal/repo/testdb/generic_repo_list_tests.go
  components/director/internal/repo/testdb/generic_repo_update_tests.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix helm values references.
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
  chart/compass/charts/pairing-adapter/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Add some unit tests
  components/director/internal/domain/application/repository_test.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix rbac for PA and OC
  chart/compass/charts/operations-controller/templates/rbac.yaml
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
  chart/compass/charts/pairing-adapter/templates/rbac.yaml
  components/pairing-adapter/internal/adapter/model.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter

Address PR comments
  components/director/internal/domain/api/automock/spec_service.go
  components/director/internal/domain/api/service.go
  components/director/internal/domain/bundle/resolver.go
  components/director/internal/model/label.go
  components/director/internal/repo/list_union.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Reimplement move subaccount trigger in go
  components/director/internal/domain/tenant/fixtures_test.go
  components/director/internal/domain/tenant/repository.go
  components/director/internal/domain/tenant/repository_test.go
  components/director/internal/repo/create.go
  components/director/internal/repo/tenant_access_m2m.go
  components/director/pkg/resource/resource.go
  components/schema-migrator/migrations/director/20211122114401_storage-redesign.down.sql
  components/schema-migrator/migrations/director/20211122114401_storage-redesign.up.sql
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Address PR comments
  components/director/internal/domain/api/service.go
  components/director/internal/repo/delete.go
  components/director/internal/repo/testdb/generic_repo_list_tests.go
  components/director/internal/repo/update.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add missing fields for auth in fields provider
  components/director/pkg/graphql/graphqlizer/fields.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump director in values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Update yamls
  chart/compass/charts/operations-controller/templates/deployment.yaml
  chart/compass/templates/tests/external-services-mock/external-services-mock-test.yaml
  chart/compass/values.yaml
  components/operations-controller/go.mod
  components/operations-controller/go.sum
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-provisioner-whitesource-scan

Fix bugs in operations controller
  components/operations-controller/internal/webhook/client.go
Due: none

wip
  components/director/pkg/auth/mtls_token_provider.go
  components/director/pkg/auth/types.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Minor performance optimizations
  components/director/internal/repo/conditions.go
  components/director/internal/repo/query_builder.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix operations controller test
  tests/external-services-mock/tests/async_api_delete_test.go
  tests/external-services-mock/tests/sync_api_delete_test.go
  tests/pkg/webhook/webhook.go
Due: pre-compass-tests, post-compass-tests

Add consumerID in auth context
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/values.yaml
  components/connector/config/config.go
  components/connector/config/servers.go
  components/connector/go.mod
  components/connector/pkg/oathkeeper/automock/certificate_header_parser.go
  components/connector/pkg/oathkeeper/cert_header_parser.go
  components/connector/pkg/oathkeeper/cert_header_parser_test.go
  components/connector/pkg/oathkeeper/validation_hydrator.go
  components/connector/pkg/oathkeeper/validation_hydrator_test.go
  components/director/cmd/director/main.go
  components/director/internal/oathkeeper/model.go
  components/director/internal/tenantmapping/cert_service_context_provider.go
  components/director/pkg/cert/certutils.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Fix environment name
  chart/compass/charts/connector/templates/deployment.yaml
  components/connector/go.mod
  components/connector/go.sum
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-provisioner-whitesource-scan

Initial implementation of pairing-adapter e2e test
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
  chart/compass/templates/tests/pairing-adapter/pairing-adapter-test.yaml
  chart/compass/templates/tests/pairing-adapter/service.yaml
  chart/compass/templates/tests/pairing-adapter/virtualservice.yaml
  tests/Dockerfile
  tests/pairing-adapter/Makefile
  tests/pairing-adapter/tests/main_test.go
  tests/pairing-adapter/tests/mtls_flow_test.go
  tests/pkg/config/pairing-adapter.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-tests, post-compass-tests

Add unit tests for certHeaderParser and validationHydrator
  components/connector/config/config.go
  components/connector/go.mod
  components/connector/go.sum
  components/connector/pkg/oathkeeper/cert_header_parser_test.go
  components/connector/pkg/oathkeeper/validation_hydrator.go
  components/connector/pkg/oathkeeper/validation_hydrator_test.go
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
