Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

Update docs/compass/08-01-basic-flow-tutorial.md
  docs/compass/08-01-basic-flow-tutorial.md
Due: none

Update the Compass tutorial (#1517)
  docs/compass/08-01-basic-flow-tutorial.md
  docs/compass/assets/function.yaml
Due: none

Adjust readmes
  components/director/cmd/tenantfetcher/README.md
  components/director/internal/tenantfetcher/README.md
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix Package and PackageInstanceAuth tables foreign keys
  components/schema-migrator/migrations/director/202008141052_fix_package_deletion.down.sql
  components/schema-migrator/migrations/director/202008141052_fix_package_deletion.up.sql
Due: none

initial on charts
  chart/compass/charts/system-broker/.helmignore
  chart/compass/charts/system-broker/Chart.yaml
  chart/compass/charts/system-broker/templates/deployment.yaml
  chart/compass/charts/system-broker/templates/rbac.yaml
  chart/compass/charts/system-broker/templates/service-account.yaml
  chart/compass/charts/system-broker/templates/service.yaml
  chart/compass/charts/system-broker/values.yaml
  chart/compass/requirements.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Remove init container releated to tiller and helm2
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Remove init container releated to tiller and helm2 (#1522)
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Add new team members
  CODEOWNERS
Due: none

fix stack traces and error location
  components/system-broker/internal/director/client.go
  components/system-broker/internal/osb/catalog.go
  components/system-broker/internal/osb/instance_create.go
  components/system-broker/pkg/graphql/client.go
  components/system-broker/pkg/log/error_hook.go
Due: none

fix catalog api
  components/system-broker/internal/director/client.go
  components/system-broker/internal/director/query_provider.go
  components/system-broker/pkg/graphql/client.go
  test.yaml
Due: none

fix correlation id propagation to lager adapter used for brokerapi
  components/system-broker/go.mod
  components/system-broker/go.sum
  components/system-broker/pkg/log/configure.go
  components/system-broker/pkg/log/request.go
Due: pre-master-provisioner-whitesource-scan

Bump kyma ref to 1.14.0
  installation/resources/KYMA_VERSION
  installation/resources/tiller.yaml
  installation/scripts/install-tiller.sh
  installation/scripts/installer.sh
  tools/compass-installer/compass.Dockerfile
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Parameterize tenant fetcher job (#1504)
  chart/compass/templates/tenant-fetcher-job.yaml
  chart/compass/templates/tenant-fetcher-secret.yaml
  chart/compass/values.yaml
  components/director/cmd/tenantfetcher/README.md
  components/director/cmd/tenantfetcher/main.go
  components/director/go.mod
  components/director/go.sum
  components/director/internal/tenantfetcher/README.md
  components/director/internal/tenantfetcher/automock/converter.go
  components/director/internal/tenantfetcher/automock/event_api_client.go
  components/director/internal/tenantfetcher/automock/tenant_storage_service.go
  components/director/internal/tenantfetcher/client.go
  components/director/internal/tenantfetcher/client_test.go
  components/director/internal/tenantfetcher/converter.go
  components/director/internal/tenantfetcher/converter_test.go
  components/director/internal/tenantfetcher/fixtures_test.go
  components/director/internal/tenantfetcher/model.go
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantfetcher/service_test.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

fix error location logging
  components/system-broker/pkg/log/configure.go
  components/system-broker/pkg/log/error_hook.go
Due: none

add base64 encoding to op query
  components/system-broker/internal/osb/instance_create.go
  components/system-broker/internal/osb/instance_delete.go
  components/system-broker/internal/osb/instance_last_op.go
  components/system-broker/pkg/server/config.go
Due: none

improve bindings flow and change bindings format
  components/system-broker/internal/director/client.go
  components/system-broker/internal/director/types.go
  components/system-broker/internal/osb/bind_create.go
  components/system-broker/internal/osb/types.go
  components/system-broker/pkg/oauth/token_provider_from_value.go
Due: none

fix deprovision npe and add panic recovery middleware
  components/system-broker/go.sum
  components/system-broker/internal/osb/api.go
  components/system-broker/internal/osb/instance_delete.go
  components/system-broker/pkg/oauth/token_provider.go
  components/system-broker/pkg/panic_recovery/recovery.go
Due: pre-master-provisioner-whitesource-scan

Use correct values in chart
  chart/compass/templates/tenant-fetcher-job.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Add new team members (#1523)
  CODEOWNERS
Due: none

Fix Package and PackageInstanceAuth tables foreign keys (#1521)
  components/schema-migrator/migrations/director/202008141052_fix_package_deletion.down.sql
  components/schema-migrator/migrations/director/202008141052_fix_package_deletion.up.sql
Due: none

Update director image version
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

fix compile error
  components/system-broker/cmd/main.go
Due: none

merge charts from global_applications and add virtualservice for gateway access
  chart/compass/charts/gateway/templates/virtualservice.yaml
  chart/compass/charts/system-broker/templates/deployment.yaml
  chart/compass/charts/system-broker/templates/service.yaml
  chart/compass/charts/system-broker/values.yaml
  chart/compass/values.yaml
  components/system-broker/cmd/main.go
  components/system-broker/internal/osb/api.go
  components/system-broker/pkg/server/config.go
  components/system-broker/pkg/server/server.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

add run locally todo
  components/system-broker/cmd/main.go
Due: none

fix chart values
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

add $ in tenant-fetcher-job.yaml
  chart/compass/templates/tenant-fetcher-job.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

fix formatting of virtualservice and serviceaccount in deployment
  chart/compass/charts/gateway/templates/virtualservice.yaml
  chart/compass/charts/system-broker/templates/deployment.yaml
  chart/compass/charts/system-broker/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

add host aliases for minikube in deployment
  chart/compass/charts/system-broker/templates/deployment.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

fix docker image on charts
  chart/compass/charts/system-broker/templates/deployment.yaml
  chart/compass/charts/system-broker/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Update kyma version after removing tiller
  installation/resources/KYMA_VERSION
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Update kyma version after removing tiller (#1527)
  installation/resources/KYMA_VERSION
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

comment out probes
  chart/compass/charts/system-broker/templates/deployment.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

fix scopes
  components/system-broker/pkg/oauth/token_provider.go
  installation/resources/installer-cr-kyma-dependencies.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Use correct values in chart (#1525)
  chart/compass/templates/tenant-fetcher-job.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Remove tiller leftovers
  installation/resources/tiller.yaml
  installation/scripts/install-tiller.sh
  installation/scripts/installer.sh
  installation/scripts/tiller-tls.sh
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

wip
  tools/compass-installer/compass.Dockerfile
Due: none

Remove tiller leftovers (#1528)
  installation/resources/tiller.yaml
  installation/scripts/install-tiller.sh
  installation/scripts/installer.sh
  installation/scripts/tiller-tls.sh
  tools/compass-installer/compass.Dockerfile
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

bug fixes on apis + token provider
  components/system-broker/Makefile
  components/system-broker/cmd/main.go
  components/system-broker/go.sum
  components/system-broker/internal/osb/catalog.go
  components/system-broker/internal/osb/instance_last_op.go
  components/system-broker/pkg/oauth/token_provider.go
Due: pre-master-provisioner-whitesource-scan

Add logs regarding Application connection flow
  components/connector/internal/api/certificate_resolver.go
  components/connector/internal/api/token_resolver.go
  components/connector/internal/authentication/authenticator.go
  components/connector/internal/certificates/service.go
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/eventdef/resolver.go
  components/director/internal/domain/package/resolver.go
Due: pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director
