Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20190823-24e14d1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-master-compass-integration-stable-cli:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20190823-24e14d1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Fix app and runtime status update with initial value (#1057)
  chart/compass/values.yaml
  components/director/internal/domain/application/converter.go
  components/director/internal/domain/application/converter_test.go
  components/director/internal/domain/runtime/converter.go
  components/director/internal/domain/runtime/converter_test.go
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

remove provider prefix in cluster names
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
Due: none

adjust tests
  components/provisioner/internal/provisioning/input_converter_test.go
Due: none

remove provider prefix in cluster names (#1060)
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
Due: none

bump provisioner
  chart/compass/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

bump provisioner (#1061)
  chart/compass/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Do not hardcode 'DownloadPreReleases'
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
Due: none

Align Provisioner chart
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/templates/gardener-creds-secret.yaml
  chart/compass/charts/provisioner/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

scaffold
  components/director/internal/domain/scenarioassignment/converter.go
  components/director/internal/domain/scenarioassignment/converter_test.go
  components/director/internal/domain/scenarioassignment/repository.go
  components/director/internal/domain/scenarioassignment/resolver.go
  components/director/internal/domain/scenarioassignment/resolver_test.go
  components/director/internal/domain/scenarioassignment/service.go
  components/director/internal/domain/scenarioassignment/service_test.go
  components/director/internal/model/application.go
  components/director/internal/model/scenarioassignment.go
Due: pre-master-compass-components-director, post-master-compass-components-director

impl
  components/director/go.sum
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/scenarioassignement/converter.go
  components/director/internal/domain/scenarioassignement/converter_test.go
  components/director/internal/domain/scenarioassignement/repository.go
  components/director/internal/domain/scenarioassignement/repository_test.go
  components/director/internal/domain/scenarioassignement/resolver.go
  components/director/internal/domain/scenarioassignement/resolver_test.go
  components/director/internal/domain/scenarioassignement/service.go
  components/director/internal/domain/scenarioassignement/service_test.go
  components/director/internal/domain/scenarioassignment/automock/converter.go
  components/director/internal/domain/scenarioassignment/automock/entity_converter.go
  components/director/internal/domain/scenarioassignment/automock/repository.go
  components/director/internal/domain/scenarioassignment/automock/service.go
  components/director/internal/domain/scenarioassignment/converter.go
  components/director/internal/domain/scenarioassignment/converter_test.go
  components/director/internal/domain/scenarioassignment/entity.go
  components/director/internal/domain/scenarioassignment/fixtures_test.go
  components/director/internal/domain/scenarioassignment/repository.go
  components/director/internal/domain/scenarioassignment/repository_test.go
  components/director/internal/domain/scenarioassignment/resolver.go
  components/director/internal/domain/scenarioassignment/resolver_test.go
  components/director/internal/domain/scenarioassignment/service.go
  components/director/internal/domain/scenarioassignment/service_test.go
  components/director/internal/model/application.go
Due: pre-master-compass-components-director, post-master-compass-components-director

scaffold
  components/director/internal/domain/scenarioassignement/automock/entity_converter.go
  components/director/internal/domain/scenarioassignement/converter.go
  components/director/internal/domain/scenarioassignement/converter_test.go
  components/director/internal/domain/scenarioassignement/repository.go
  components/director/internal/domain/scenarioassignement/repository_test.go
  components/director/internal/domain/scenarioassignement/resolver.go
  components/director/internal/domain/scenarioassignement/resolver_test.go
  components/director/internal/domain/scenarioassignement/service.go
  components/director/internal/domain/scenarioassignement/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

and bump image
  chart/compass/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

impl
  components/director/internal/domain/scenarioassignment/service.go
  components/director/internal/domain/scenarioassignment/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

after code review
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/scenarioassignment/automock/converter.go
  components/director/internal/domain/scenarioassignment/converter.go
  components/director/internal/domain/scenarioassignment/converter_test.go
  components/director/internal/domain/scenarioassignment/resolver.go
  components/director/internal/domain/scenarioassignment/resolver_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump image for KEB (#1059)
  chart/compass/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

after code review
  components/director/internal/domain/scenarioassignment/resolver_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Implement mutation for creating AutomaticScenarioAssignment (#1043)
  chart/compass/values.yaml
  components/director/go.sum
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/scenarioassignment/automock/converter.go
  components/director/internal/domain/scenarioassignment/automock/entity_converter.go
  components/director/internal/domain/scenarioassignment/automock/repository.go
  components/director/internal/domain/scenarioassignment/automock/service.go
  components/director/internal/domain/scenarioassignment/converter.go
  components/director/internal/domain/scenarioassignment/converter_test.go
  components/director/internal/domain/scenarioassignment/entity.go
  components/director/internal/domain/scenarioassignment/fixtures_test.go
  components/director/internal/domain/scenarioassignment/repository.go
  components/director/internal/domain/scenarioassignment/repository_test.go
  components/director/internal/domain/scenarioassignment/resolver.go
  components/director/internal/domain/scenarioassignment/resolver_test.go
  components/director/internal/domain/scenarioassignment/service.go
  components/director/internal/domain/scenarioassignment/service_test.go
  components/director/internal/model/scenarioassignment.go
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

Fix overrides CM in KEB
  chart/compass/charts/kyma-environment-broker/templates/provisioning-runtime-overrides.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add few more namespaces
  components/kyma-environment-broker/internal/process/provisioning/logging_overrides.go
  components/kyma-environment-broker/internal/process/provisioning/logging_overrides_test.go
Due: none

Add monitoring overrides
  components/kyma-environment-broker/internal/process/provisioning/monitoring_overrides.go
  components/kyma-environment-broker/internal/process/provisioning/monitoring_overrides_test.go
Due: none

Change type
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/scenarioassignment/automock/converter.go
  components/director/internal/domain/scenarioassignment/automock/service.go
  components/director/internal/domain/scenarioassignment/converter.go
  components/director/internal/domain/scenarioassignment/converter_test.go
  components/director/internal/domain/scenarioassignment/resolver.go
  components/director/internal/domain/scenarioassignment/resolver_test.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

bump images
  chart/compass/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

unit tests
  components/kyma-environment-broker/internal/process/provisioning/monitoring_overrides.go
  components/kyma-environment-broker/internal/process/provisioning/monitoring_overrides_test.go
Due: none

reenable uaenorth
  components/kyma-environment-broker/internal/hyperscaler/azure/config.go
Due: none

fix auditlog jwt message
  components/gateway/cmd/main.go
  components/gateway/internal/auditlog/automock/auditlog_message_factory.go
  components/gateway/internal/auditlog/client.go
  components/gateway/internal/auditlog/client_test.go
  components/gateway/internal/auditlog/factory.go
  components/gateway/internal/auditlog/factory_test.go
  components/gateway/internal/auditlog/fixtures_test.go
  components/gateway/internal/auditlog/service.go
  components/gateway/internal/auditlog/service_test.go
Due: pre-compass-components-gateway, post-compass-components-gateway

Provisioner downloads pre releases (#1062)
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/templates/gardener-creds-secret.yaml
  chart/compass/charts/provisioner/values.yaml
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

bump gateway
  chart/compass/values.yaml
  components/gateway/cmd/main.go
  components/gateway/internal/auditlog/client.go
  components/gateway/internal/auditlog/client_test.go
  components/gateway/internal/auditlog/factory.go
  components/gateway/internal/auditlog/factory_test.go
  components/gateway/internal/auditlog/fixtures_test.go
  components/gateway/internal/auditlog/service_test.go
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-compass-components-gateway, post-compass-components-gateway

refactor vars
  components/gateway/internal/auditlog/client_test.go
  components/gateway/internal/auditlog/fixtures_test.go
  components/gateway/internal/auditlog/service.go
  components/gateway/internal/auditlog/service_test.go
Due: pre-compass-components-gateway, post-compass-components-gateway

Add LabelSelectorInput type (#1072)
  chart/compass/values.yaml
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/scenarioassignment/automock/converter.go
  components/director/internal/domain/scenarioassignment/automock/service.go
  components/director/internal/domain/scenarioassignment/converter.go
  components/director/internal/domain/scenarioassignment/converter_test.go
  components/director/internal/domain/scenarioassignment/resolver.go
  components/director/internal/domain/scenarioassignment/resolver_test.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

extracted consts
  components/gateway/internal/auditlog/factory.go
Due: pre-compass-components-gateway, post-compass-components-gateway

wip
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/scenarioassignment/mock/mock.go
  components/director/internal/domain/scenarioassignment/resolver.go
Due: pre-master-compass-components-director, post-master-compass-components-director

wip
  chart/compass/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

wip
  components/director/internal/domain/scenarioassignment/mock/mock.go
Due: pre-master-compass-components-director, post-master-compass-components-director

wip
  components/director/internal/domain/scenarioassignment/resolver.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add additional static group names to Director
  chart/compass/charts/director/static-groups.yaml
  chart/compass/charts/director/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add additional static group names to Director (#1079)
  chart/compass/charts/director/static-groups.yaml
  chart/compass/charts/director/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add mocked queries and mutations for AutomaticScenarioAssignment area (#1078)
  chart/compass/values.yaml
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/scenarioassignment/mock/mock.go
  components/director/internal/domain/scenarioassignment/resolver.go
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

Fix overrides CM in KEB (#1067)
  chart/compass/charts/kyma-environment-broker/templates/provisioning-runtime-overrides.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

wip
  components/director/internal/repo/common.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-integration-stable-cli: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
