Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-integration-stable-cli: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

refactor
  components/director/pkg/customerrors/errors.go
  components/director/pkg/customerrors/presenter.go
Due: pre-master-compass-components-director, post-master-compass-components-director

add docs
  docs/internal/proposals/error-handling/error-handling.md
  docs/internal/proposals/error-handling/error-handling.svg
Due: none

Bump image
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Update dashboard
  chart/compass/charts/provisioner/files/dashboard.json
  chart/compass/charts/provisioner/templates/dashboard.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Remove cbs dependency (#1400)
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/go.mod
  components/director/go.sum
  components/director/pkg/executor/executor.go
  components/director/pkg/executor/executor_test.go
  components/director/pkg/signal/signal.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Remove uua-instance removing step from e2e test (#1391)
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
  tests/e2e/provisioning/Gopkg.lock
  tests/e2e/provisioning/pkg/client/runtime/runtime_client.go
  tests/e2e/provisioning/test/test_suite.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Bump compass in connectivity-adapter
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
Due: pre-master-provisioner-whitesource-scan

fix
  tests/director/gateway-integration/tenants_test.go
Due: none

Fix director tests (#1401)
  chart/compass/values.yaml
  tests/director/api/assertions.go
  tests/director/api/integration_system_api_test.go
  tests/director/gateway-integration/tenants_test.go
  tests/director/gen-examples.sh
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

fi after review
  docs/internal/proposals/error-handling/error-handling.md
  docs/internal/proposals/error-handling/error-handling.svg
Due: none

add tenant not found and tenant is required err
  components/director/pkg/customerrors/builder.go
  components/director/pkg/customerrors/consts.go
  components/director/pkg/customerrors/errors.go
  components/director/pkg/customerrors/errortype_string.go
Due: pre-master-compass-components-director, post-master-compass-components-director

fix internal err msg
  components/director/pkg/customerrors/builder.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix dashboard name
  chart/compass/charts/provisioner/files/dashboard.json
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Bumb image
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Update compass dependency in connectivity-adapter (#1403)
  chart/compass/values.yaml
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-provisioner-whitesource-scan

Update helm labels
  chart/compass/charts/connector/templates/certs-setup-job.yaml
  chart/compass/charts/connector/templates/certs-setup-role-binding.yaml
  chart/compass/charts/connector/templates/configmap.yaml
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/charts/connector/templates/role-binding.yaml
  chart/compass/charts/connector/templates/service-account.yaml
  chart/compass/charts/connector/templates/service-role-binding.yaml
  chart/compass/charts/connector/templates/service.yaml
  chart/compass/charts/connector/templates/tests/role-binding.yaml
  chart/compass/charts/connector/templates/tests/service-account.yaml
  chart/compass/charts/connector/templates/tests/test-connector.yaml
  chart/compass/charts/connector/templates/virtual-service.yaml
  chart/compass/charts/connector/values.yaml
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/templates/gardener-creds-secret.yaml
  chart/compass/charts/provisioner/templates/role-binding.yaml
  chart/compass/charts/provisioner/templates/service-account.yaml
  chart/compass/charts/provisioner/templates/service.yaml
  chart/compass/charts/provisioner/templates/tests/role-binding.yaml
  chart/compass/charts/provisioner/templates/tests/service-account.yaml
  chart/compass/charts/provisioner/templates/tests/test-provisioner.yaml
  chart/compass/charts/provisioner/templates/virtual-service.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

add resource type to getter and creator
  components/director/internal/domain/api/repository.go
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/apptemplate/repository.go
  components/director/internal/domain/document/repository.go
  components/director/internal/domain/eventdef/repository.go
  components/director/internal/domain/fetchrequest/repository.go
  components/director/internal/domain/integrationsystem/repository.go
  components/director/internal/domain/package/repository.go
  components/director/internal/domain/packageinstanceauth/repository.go
  components/director/internal/domain/runtime/repository.go
  components/director/internal/domain/scenarioassignment/repository.go
  components/director/internal/domain/systemauth/repository.go
  components/director/internal/domain/tenant/repository.go
  components/director/internal/domain/webhook/repository.go
  components/director/internal/repo/create.go
  components/director/internal/repo/get.go
  components/director/pkg/customerrors/builder.go
  components/director/pkg/customerrors/consts.go
  components/director/pkg/customerrors/errors.go
  components/director/pkg/customerrors/presenter.go
  components/director/pkg/customerrors/sql_mapper.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix resources values
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/charts/connector/values.yaml
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

fix readme
  docs/internal/proposals/error-handling/error-handling.md
Due: none

Remove unexpected operand
  chart/compass/charts/connector/templates/certs-setup-job.yaml
  chart/compass/charts/connector/templates/certs-setup-role-binding.yaml
  chart/compass/charts/connector/templates/configmap.yaml
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/charts/connector/templates/role-binding.yaml
  chart/compass/charts/connector/templates/service-account.yaml
  chart/compass/charts/connector/templates/service-role-binding.yaml
  chart/compass/charts/connector/templates/service.yaml
  chart/compass/charts/connector/templates/tests/role-binding.yaml
  chart/compass/charts/connector/templates/tests/service-account.yaml
  chart/compass/charts/connector/templates/tests/test-connector.yaml
  chart/compass/charts/connector/templates/virtual-service.yaml
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/templates/gardener-creds-secret.yaml
  chart/compass/charts/provisioner/templates/role-binding.yaml
  chart/compass/charts/provisioner/templates/service-account.yaml
  chart/compass/charts/provisioner/templates/service.yaml
  chart/compass/charts/provisioner/templates/tests/role-binding.yaml
  chart/compass/charts/provisioner/templates/tests/service-account.yaml
  chart/compass/charts/provisioner/templates/tests/test-provisioner.yaml
  chart/compass/charts/provisioner/templates/virtual-service.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Delete labels from ServiceRole
  chart/compass/charts/connector/templates/service-role-binding.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add labels to ServiceRole but in a different way
  chart/compass/charts/connector/templates/service-role-binding.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Move labels from service account to metadata
  chart/compass/charts/connector/templates/service-account.yaml
  chart/compass/charts/connector/templates/tests/service-account.yaml
  chart/compass/charts/provisioner/templates/service-account.yaml
  chart/compass/charts/provisioner/templates/tests/service-account.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Apply suggestions from code review
  docs/internal/proposals/error-handling/error-handling.md
Due: none

Change kubernetes names to tests
  chart/compass/charts/connector/templates/tests/role-binding.yaml
  chart/compass/charts/connector/templates/tests/service-account.yaml
  chart/compass/charts/connector/templates/tests/test-connector.yaml
  chart/compass/charts/provisioner/templates/tests/role-binding.yaml
  chart/compass/charts/provisioner/templates/tests/service-account.yaml
  chart/compass/charts/provisioner/templates/tests/test-provisioner.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Update docs/internal/proposals/error-handling/error-handling.md
  docs/internal/proposals/error-handling/error-handling.md
Due: none

Add error handling proposal documents (#1402)
  docs/internal/proposals/error-handling/error-handling.md
  docs/internal/proposals/error-handling/error-handling.svg
Due: none

Allow Tiller artifact to not exist
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/release/downloader.go
  components/provisioner/internal/installation/release/downloader_test.go
  components/provisioner/internal/installation/release/file_downloader.go
  components/provisioner/internal/installation/release/on_demand.go
  components/provisioner/internal/installation/release/on_demand_test.go
Due: pre-master-provisioner-whitesource-scan

Update Runtime Upgrade Readme
  docs/internal/runtime-upgrade.md
Due: none

Update Runtime Upgrade Readme (#1407)
  docs/internal/runtime-upgrade.md
Due: none

Code review remarks
  components/connector/internal/certificates/service.go
Due: pre-master-compass-components-connector, post-master-compass-components-connector

Removed prints
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/metrics/in_progress_operations.go
Due: pre-master-provisioner-whitesource-scan

Apply suggestions from code review
  components/provisioner/internal/metrics/in_progress_operations.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
Due: none

Update dependency to Director in Director tests
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-provisioner-whitesource-scan

Fix formatting in gqlFieldsProvider
  components/director/pkg/graphql/graphqlizer/fields.go
Due: pre-master-compass-components-director, post-master-compass-components-director
