Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/

add test for context middleware
  components/connector/internal/authentication/context_middleware.go
  components/connector/internal/authentication/context_middleware_test.go
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector

Strip extra fields in authenticator
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
  chart/compass/values.yaml
  components/director/internal/authnmappinghandler/handler.go
  components/director/internal/authnmappinghandler/handler_test.go
  components/director/pkg/authenticator/authenticator.go
  components/director/pkg/authenticator/types.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Bump director version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Bump director version
  chart/compass/values.yaml
  components/director/internal/tenantmapping/system_auth_context_provider_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Add managed flag for cert svc secret
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Replace extra count check with authenticator_coordinates check
  components/director/internal/tenantmapping/system_auth_context_provider.go
  components/director/internal/tenantmapping/system_auth_context_provider_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Adapt auditlog
  chart/compass/charts/external-services-mock/templates/deployment.yaml
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
  chart/compass/charts/gateway/templates/deployment.yaml
  chart/compass/values.yaml
  components/gateway/cmd/main.go
  components/gateway/internal/auditlog/config.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-gateway, post-compass-components-gateway

Adjust function
  components/schema-migrator/migrations/director/20211014114000_update_views.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Remove unused code
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix chart
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Adapt cert svc
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
  chart/compass/templates/ord-aggregator-job.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Minor updates
  installation/cmd/run.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Adapt tenant fetcher job
  chart/compass/templates/tenant-fetcher-job.yaml
  chart/compass/templates/tenant-fetcher-secret.yaml
  chart/compass/values.yaml
  components/director/internal/tenantfetcher/client.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Adjust SQL function
  components/schema-migrator/migrations/director/20211014114000_update_views.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Add comment in System Auth context provider matcher
  components/director/internal/tenantmapping/system_auth_context_provider.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Adapt system fetcher job
  chart/compass/templates/system-fetcher-job.yaml
  chart/compass/values.yaml
  components/director/internal/systemfetcher/client.go
  installation/resources/installer-config-local.yaml.tpl
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Adjust tests
  tests/ord-service/tests/api_test.go
Due: pre-compass-tests, post-compass-tests

Update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Add check for Extra fields length
  components/director/internal/tenantmapping/system_auth_context_provider.go
  components/director/internal/tenantmapping/system_auth_context_provider_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Use correct director version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

update readme files
  components/schema-migrator/README.md
  docs/compass/04-01-installation.md
  installation/cmd/run.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Bump PR version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Add check for authenticator_coordinates in SystemAuth ctx provider matcher (#2073)
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
  chart/compass/values.yaml
  components/director/internal/tenantmapping/system_auth_context_provider.go
  components/director/internal/tenantmapping/system_auth_context_provider_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Replace leftover name
  chart/compass/charts/gateway/templates/oathkeeper-authenticator-rules.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Rename property
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Regenerate mocks and add unit tests
  components/director/internal/domain/application/automock/application_repository.go
  components/director/internal/domain/application/automock/application_service.go
  components/director/internal/domain/application/automock/system_auth_service.go
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/application/repository_test.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/resolver_test.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/domain/tenant/automock/tenant_mapping_repository.go
  components/director/internal/open_resource_discovery/automock/client.go
  components/director/internal/open_resource_discovery/automock/label_repository.go
  components/director/internal/tenantfetcher/automock/tenant_service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add domain property to director bench
  chart/compass/templates/bench/director/director-bench.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Update op-controller dep
  components/director/go.mod
  components/director/go.sum
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Update compass-console version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

[v1.18.0] Add check for authenticator_coordinates in SystemAuth ctx provider matcher (#2076)
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
  chart/compass/values.yaml
  components/director/internal/tenantmapping/system_auth_context_provider.go
  components/director/internal/tenantmapping/system_auth_context_provider_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Update e2e tests in sync mode
  chart/compass/values.yaml
  tests/director/tests/application_api_test.go
  tests/go.sum
  tests/pkg/fixtures/application_requests.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Update 04-01-installation.md
  docs/compass/04-01-installation.md
Due: none

Change image pull policy
  chart/compass/templates/update-expected-schema-version-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Fix charts
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration
