Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/

Remove trim suffix logic
  components/director/internal/cis/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Refactor logic
  components/director/internal/dircleaner/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix error when parent is missing
  components/director/internal/dircleaner/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix imports
  components/director/internal/cis/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Address PR comments
  components/director/internal/open_resource_discovery/automock/global_registry_service.go
  components/director/internal/open_resource_discovery/global_registry.go
  components/director/internal/open_resource_discovery/global_registry_test.go
  components/director/internal/open_resource_discovery/service.go
  components/director/internal/open_resource_discovery/service_test.go
  components/schema-migrator/migrations/director/20220106093539_ord-global-registry.up.sql
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

fix
  chart/compass/charts/cockpit/templates/deployment.yaml
  chart/compass/charts/connectivity-adapter/templates/deployment.yaml
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/external-services-mock/templates/deployment.yaml
  chart/compass/charts/gateway/templates/deployment.yaml
  chart/compass/charts/ns-adapter/templates/deployment.yaml
  chart/compass/charts/operations-controller/templates/deployment.yaml
  chart/compass/charts/ord-service/templates/deployment.yaml
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
  chart/compass/charts/system-broker/templates/deployment.yaml
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/templates/filters/request-limit-filter-2mb.yaml
  chart/compass/templates/filters/request-limit-filter-5mb.yaml
  chart/compass/templates/tests/istio/istio-test.yaml
  chart/compass/templates/tests/ns-adapter/ns-adapter-test.yaml
  chart/compass/values.yaml
  components/director/internal/authnmappinghandler/handler.go
  components/director/internal/authnmappinghandler/handler_test.go
  components/director/internal/domain/application/converter.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/nsadapter/handler/exposed_systems_handler.go
  components/director/internal/nsadapter/handler/exposed_systems_handler_test.go
  components/director/pkg/graphql/application.go
  components/director/pkg/graphql/graphqlizer/fields.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/gateway/cmd/main.go
  components/gateway/pkg/proxy/adaptertransport_test.go
  components/gateway/pkg/proxy/adptertransport.go
  tests/director/tests/application_api_test.go
  tests/go.mod
  tests/istio/tests/request_payload_limit_test.go
  tests/ns-adapter/tests/delta_report_test.go
  tests/ns-adapter/tests/full_report_test.go
  tests/ns-adapter/tests/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Fix cascade subaccount deletion
  components/director/internal/dircleaner/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Tweaks
  components/director/internal/dircleaner/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add istio request limit test
  chart/compass/charts/external-services-mock/templates/deployment.yaml
  components/director/cmd/ns-adapter/main.go
  tests/go.mod
  tests/go.sum
  tests/istio/tests/request_payload_limit_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Add logic for getting tenant details from different regions
  components/director/cmd/directorycleaner/main.go
  components/director/internal/cis/kubernetes.go
  components/director/internal/cis/service.go
  components/director/internal/dircleaner/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Adaptaion in ext svc mock
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/external-services-mock/templates/deployment.yaml
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/templates/tests/external-services-mock/external-services-mock-test.yaml
  chart/compass/templates/tests/ord-aggregator/ord-aggregator-test.yaml
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/templates/tests/ord-service/role-binding.yaml
  chart/compass/templates/tests/tenant-fetcher/tenant-fetcher-test.yaml
  chart/compass/values.yaml
  components/director/internal/tenantfetchersvc/handler.go
  components/external-services-mock/cmd/main.go
  components/external-services-mock/internal/cert/handler.go
  components/external-services-mock/internal/oauth/token_handler.go
  components/external-services-mock/internal/oauth/token_handler_test.go
  components/external-services-mock/internal/subscription/config.go
  components/external-services-mock/internal/subscription/handler.go
  tests/ord-service/tests/main_test.go
  tests/ord-service/tests/subscription_flow_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests

Fix wrong method invocation
  components/director/internal/cis/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Make imports
  components/director/cmd/directorycleaner/main.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix unit test
  components/external-services-mock/internal/oauth/token_handler_test.go
Due: pre-compass-components-external-services-mock, post-compass-components-external-services-mock

fix linter issues
  components/director/cmd/ns-adapter/main.go
  components/director/internal/authnmappinghandler/handler.go
  components/director/internal/authnmappinghandler/handler_test.go
  components/director/internal/domain/application/entity.go
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/application/repository_test.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/domain/tenant/repository.go
  components/director/internal/domain/tenant/service.go
  components/director/internal/model/application.go
  components/director/internal/model/scc.go
  components/director/internal/nsadapter/adapter/configuration.go
  components/director/internal/nsadapter/handler/exposed_systems_handler.go
  components/director/internal/nsadapter/handler/exposed_systems_handler_test.go
  components/director/internal/nsadapter/httputil/model.go
  components/director/internal/nsadapter/httputil/response.go
  components/director/internal/nsadapter/nsmodel/model.go
  components/director/internal/nsadapter/nsmodel/model_test.go
  components/director/internal/repo/upsert.go
  components/director/pkg/handler/timeout_handler.go
  components/gateway/cmd/main.go
  components/gateway/pkg/proxy/adptertransport.go
  components/gateway/pkg/proxy/transport_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway

reorder migrations
  components/schema-migrator/migrations/director/20220112165915_add_system_status_field_to_applications.down.sql
  components/schema-migrator/migrations/director/20220112165915_add_system_status_field_to_applications.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

fix adapter e2e tests
  tests/go.mod
  tests/go.sum
  tests/ns-adapter/tests/delta_report_test.go
  tests/ns-adapter/tests/full_report_test.go
Due: pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Change env names
  components/director/internal/cis/kubernetes.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Vulnerabilities fix (#2166)
  chart/compass/values.yaml
  components/connectivity-adapter/Dockerfile
  components/connector/Dockerfile
  components/director/Dockerfile
  components/external-services-mock/Dockerfile
  components/gateway/Dockerfile
  components/operations-controller/Dockerfile
  components/pairing-adapter/Dockerfile
  components/schema-migrator/Dockerfile
  components/system-broker/Dockerfile
  tests/Dockerfile
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests

Fix unexported config fields
  components/director/cmd/directorycleaner/main.go
  components/director/internal/dircleaner/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add retry logic
  components/director/internal/cis/kubernetes.go
  components/director/internal/cis/service.go
  components/director/internal/cis/tokenClient.go
  components/director/internal/cis/transport.go
  components/director/internal/dircleaner/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix imports and linter
  components/director/internal/cis/kubernetes.go
  components/director/internal/cis/tokenClient.go
  components/director/internal/cis/transport.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

make imports
  tests/istio/tests/request_payload_limit_test.go
  tests/ns-adapter/tests/delta_report_test.go
  tests/ns-adapter/tests/full_report_test.go
  tests/ns-adapter/tests/main_test.go
Due: pre-compass-tests, post-compass-tests

Enable Auditlog tests on real env
  chart/compass/charts/external-services-mock/templates/auditlog-configmap.yaml
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
  chart/compass/templates/tests/external-services-mock/external-services-mock-test.yaml
  chart/compass/values.yaml
  components/external-services-mock/go.sum
  components/external-services-mock/internal/auditlog/configurationchange/config.go
  components/external-services-mock/internal/auditlog/configurationchange/configuration_test.go
  components/external-services-mock/internal/auditlog/configurationchange/handler.go
  components/external-services-mock/internal/auditlog/configurationchange/service.go
  docs/compass/09-01-e2e-test-design.md
  installation/resources/installer-config-gke-benchmark.yaml.tpl
  installation/resources/installer-config-gke-integration.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  tests/external-services-mock/tests/auditlog_integration_test.go
  tests/external-services-mock/tests/main_test.go
  tests/pkg/config/auditlog.go
  tests/pkg/fixtures/fixtures.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Some improvements
  components/director/cmd/directorycleaner/main.go
  components/director/internal/cis/kubernetes.go
  components/director/internal/cis/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix potential issue with http body close
  components/director/internal/cis/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Enable MTLS communication with Google Cloud SQL (#2154)
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/director/templates/oauth-clients-scopes-sync-job.yaml
  chart/compass/charts/director/templates/rbac.yaml
  chart/compass/charts/director/templates/tenant-loader-cronjob-external.yaml
  chart/compass/charts/director/templates/tenant-loader-job-default.yaml
  chart/compass/charts/ord-service/templates/deployment.yaml
  chart/compass/charts/ord-service/templates/rbac.yaml
  chart/compass/charts/prometheus-postgres-exporter/templates/deployment.yaml
  chart/compass/charts/prometheus-postgres-exporter/templates/serviceaccount.yaml
  chart/compass/charts/tenant-fetcher/templates/deployment.yaml
  chart/compass/charts/tenant-fetcher/templates/rbac.yaml
  chart/compass/configure-managed-gcp-postgresql.md
  chart/compass/templates/managed-postgresql-secret.yaml
  chart/compass/templates/migrator-down-job.yaml
  chart/compass/templates/migrator-job.yaml
  chart/compass/templates/ord-aggregator-job.yaml
  chart/compass/templates/system-fetcher-job.yaml
  chart/compass/templates/tenant-fetcher-job.yaml
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/templates/tests/director/service-account.yaml
  chart/compass/templates/tests/istio/istio-test.yaml
  chart/compass/templates/tests/istio/rbac.yaml
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/templates/tests/ord-service/service-account.yaml
  chart/compass/templates/tests/system-fetcher/service-account.yaml
  chart/compass/templates/tests/system-fetcher/system-fetcher-test.yaml
  chart/compass/templates/tests/tenant-fetcher-job/service-account.yaml
  chart/compass/templates/tests/tenant-fetcher-job/tenant-fetcher-job-test.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Check tenantAccess and tweaks
  components/director/internal/cis/kubernetes.go
  components/director/internal/dircleaner/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Make imports
  components/director/internal/cis/kubernetes.go
  components/director/internal/dircleaner/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

token adaptation in ext svc mock
  chart/compass/charts/external-services-mock/templates/basic-credentials-secret.yaml
  chart/compass/charts/external-services-mock/templates/deployment.yaml
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
  chart/compass/templates/tests/external-services-mock/external-services-mock-test.yaml
  chart/compass/templates/tests/ord-aggregator/ord-aggregator-test.yaml
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/values.yaml
  components/external-services-mock/cmd/main.go
  components/external-services-mock/internal/cert/handler.go
  components/external-services-mock/internal/oauth/token_handler.go
  components/external-services-mock/internal/oauth/token_handler_test.go
  components/external-services-mock/internal/subscription/handler.go
  installation/resources/installer-config-gke-benchmark.yaml.tpl
  installation/resources/installer-config-gke-integration.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  tests/ord-service/tests/main_test.go
  tests/ord-service/tests/subscription_flow_test.go
  tests/pkg/tenantfetcher/tenant_helper.go
  tests/pkg/token/token_utils.go
  tests/tenant-fetcher/tests/handler_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

refactor registerAppTemplate to return error
  components/director/cmd/ns-adapter/main.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

rollback authnmapping handler changes
  components/director/internal/authnmappinghandler/handler.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Minor tweak
  chart/compass/templates/tests/external-services-mock/external-services-mock-test.yaml
  tests/pkg/fixtures/fixtures.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-tests, post-compass-tests

Fix url
  tests/external-services-mock/tests/auditlog_integration_test.go
Due: pre-compass-tests, post-compass-tests

Additional prod toggling logic and reverting tenantAccess check
  components/director/cmd/directorycleaner/main.go
  components/director/internal/cis/kubernetes.go
  components/director/internal/cis/service.go
  components/director/internal/dircleaner/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Rework env configuration wiring
  chart/compass/templates/tests/external-services-mock/external-services-mock-test.yaml
  chart/compass/templates/tests/external-services-mock/secret.yaml
  chart/compass/values.yaml
  tests/external-services-mock/tests/auditlog_integration_test.go
  tests/pkg/config/auditlog.go
  tests/pkg/fixtures/fixtures.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-tests, post-compass-tests

audit log fix
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  components/external-services-mock/internal/oauth/token_handler.go
  tests/external-services-mock/tests/auditlog_integration_test.go
  tests/ord-service/tests/main_test.go
  tests/ord-service/tests/subscription_flow_test.go
  tests/pkg/fixtures/fixtures.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests

add new hydrators to rule and move the rule before gateway
  chart/compass/charts/gateway/templates/deployment.yaml
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
  chart/compass/charts/gateway/templates/virtualservice-authenticators.yaml
  chart/compass/charts/ns-adapter/templates/deployment.yaml
  chart/compass/charts/ns-adapter/templates/service.yaml
  chart/compass/charts/ns-adapter/templates/virtual-service.yaml
  chart/compass/charts/ns-adapter/values.yaml
  chart/compass/templates/internal-communication-policies.yaml
  chart/compass/values.yaml
  components/gateway/pkg/proxy/adptertransport.go
  components/gateway/pkg/proxy/transport.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-gateway, post-compass-components-gateway
