Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher, pre-compass-validate-inrepo-prow-configs

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  pre-compass-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)

fix go mod for connector
  components/connector/go.mod
  components/connector/go.sum
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-provisioner-whitesource-scan

Update Compass installation docs (#2489)
  chart/compass/templates/agent-configuration-job.yaml
  chart/compass/templates/internal-communication-policies.yaml
  chart/compass/templates/migrator-pvc.yaml
  chart/compass/values.yaml
  docs/compass/04-01-installation.md
  installation/resources/kyma/kyma-overrides-full.yaml
  installation/resources/kyma/kyma-overrides-minimal.yaml
  installation/scripts/install-compass.sh
  installation/scripts/install-kyma.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Initial implementation.
  components/external-services-mock/internal/selfreg/handler.go
  components/external-services-mock/internal/subscription/handler.go
  tests/director/tests/runtime_contexts_api_test.go
Due: pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests

Initial implementation.
  components/director/Makefile
  components/external-services-mock/Makefile
  scripts/generic_make_go.mk
Due: pre-compass-components-connector, post-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Initial implementation. (#2502)
  components/director/Makefile
  components/external-services-mock/Makefile
  scripts/generic_make_go.mk
Due: pre-compass-components-connector, post-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

fix pairing adapter deployment.yaml
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Finish implementation.
  components/external-services-mock/internal/selfreg/handler.go
  components/external-services-mock/internal/subscription/handler.go
  tests/director/tests/runtime_contexts_api_test.go
Due: pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests

Update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Adapt ext-svc-mock self-reg cleanup (#2503)
  chart/compass/values.yaml
  components/external-services-mock/internal/selfreg/handler.go
  components/external-services-mock/internal/subscription/handler.go
  tests/director/tests/runtime_contexts_api_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests

add unit tests for assign formation with notifications
  components/director/internal/domain/formation/fixtures_test.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formation/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Cleanup & adaptations regarding kyma2.0
  .dockerignore
  README.md
  chart/compass/README.md
  docs/compass/09-01-e2e-test-design.md
  installation/cmd/run.sh
  installation/resources/readme.md
  installation/scripts/install-kyma.sh
  tools/compass-installer/Makefile
  tools/compass-installer/compass.Dockerfile
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

add unit tests for unassign formation with notifications
  components/director/internal/domain/formation/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix http clients
  components/director/cmd/director/main.go
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/auth/clients.go
  components/director/pkg/http/secured_transport.go
  components/director/pkg/http/secured_transport_test.go
  components/operations-controller/cmd/main.go
  components/operations-controller/internal/utils/clients.go
  components/operations-controller/internal/utils/clients_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix refs in ops controller
  components/operations-controller/go.mod
  components/operations-controller/go.sum
Due: pre-master-provisioner-whitesource-scan

Fix linter issues
  components/director/internal/domain/formation/service_test.go
  components/director/pkg/http/secured_transport_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

make imports
  components/operations-controller/cmd/main.go
Due: none

Change order of subscription operations
  components/director/internal/domain/subscription/service.go
  components/director/internal/domain/subscription/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

apply review comments
  tests/director/tests/formation_api_test.go
  tests/pkg/fixtures/formation_queries.go
Due: pre-compass-tests, post-compass-tests

add unit tests for assign formation with notifications for runtimes
  components/director/internal/domain/formation/fixtures_test.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formation/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add unit tests for unassign formation with notifications for runtimes
  components/director/internal/domain/formation/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix migration timestamp
  components/external-services-mock/internal/selfreg/handler.go
  components/schema-migrator/migrations/director/20220726151925_make-webhook-templates-string.down.sql
  components/schema-migrator/migrations/director/20220726151925_make-webhook-templates-string.up.sql
Due: pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

add unit tests for assign formation with notifications for runtime contexts
  components/director/internal/domain/formation/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix director reference in tests
  components/director/internal/domain/formation/fixtures_test.go
  tests/go.mod
  tests/go.sum
  tests/pkg/clients/hydrator_client.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

readd assign formation mocks to current tests
  components/director/internal/domain/formation/service_test.go
  tests/go.sum
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Fix compilation error in tests and return not unique error for second assign
  components/director/internal/domain/formation/service.go
  components/director/pkg/apperrors/consts.go
  components/director/pkg/apperrors/errors.go
  tests/go.sum
  tests/pairing-adapter/tests/mtls_flow_test.go
  tests/tenant-fetcher/tests/main_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Bump director
  tests/go.mod
  tests/go.sum
Due: pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

readd unassign formation mocks to current tests
  components/director/internal/domain/formation/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Make DB dumps environment/DB specific (#2456)
  chart/compass/values.yaml
  components/schema-migrator/run.sh
  components/schema-migrator/update-expected-schema-version.sh
  installation/cmd/run.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

adapt existing unit tests
  components/director/internal/domain/formation/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

update go.mod and go.sum
  tests/go.mod
  tests/go.sum
Due: pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

add final tests
  components/director/internal/domain/formation/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Support ORD Aggregation with Tenant Header (#2500)
  chart/compass/charts/external-services-mock/templates/deployment.yaml
  chart/compass/charts/external-services-mock/templates/service.yaml
  chart/compass/templates/tests/ord-aggregator/ord-aggregator-test.yaml
  chart/compass/values.yaml
  components/director/cmd/ordaggregator/main.go
  components/director/internal/domain/apptemplate/automock/application_template_service.go
  components/director/internal/domain/fetchrequest/service.go
  components/director/internal/domain/fetchrequest/service_test.go
  components/director/internal/domain/webhook/automock/webhook_repository.go
  components/director/internal/domain/webhook/repository.go
  components/director/internal/domain/webhook/service.go
  components/director/internal/open_resource_discovery/automock/tenant_service.go
  components/director/internal/open_resource_discovery/automock/webhook_service.go
  components/director/internal/open_resource_discovery/client.go
  components/director/internal/open_resource_discovery/client_test.go
  components/director/internal/open_resource_discovery/fixtures_test.go
  components/director/internal/open_resource_discovery/interfaces.go
  components/director/internal/open_resource_discovery/service.go
  components/director/internal/open_resource_discovery/service_test.go
  components/director/pkg/accessstrategy/access_strategy.go
  components/director/pkg/accessstrategy/automock/executor.go
  components/director/pkg/accessstrategy/cmp_mtls_access_strategy.go
  components/director/pkg/accessstrategy/executor_provider.go
  components/director/pkg/accessstrategy/open_access_strategy.go
  components/director/pkg/accessstrategy/open_access_strategy_test.go
  components/director/pkg/http/request.go
  components/director/pkg/http/request_test.go
  components/external-services-mock/cmd/main.go
  components/external-services-mock/internal/ord-aggregator/globalregistry/template.go
  components/external-services-mock/internal/ord-aggregator/handler.go
  components/external-services-mock/internal/subscription/handler.go
  tests/go.mod
  tests/go.sum
  tests/ord-aggregator/tests/handler_test.go
  tests/ord-aggregator/tests/main_test.go
  tests/ord-aggregator/tests/registry_client.go
  tests/pkg/fixtures/application_template_requests.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

cleanup test cases from unused mocks
  components/director/internal/domain/formation/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

remove unnecessary new lines
  components/director/internal/domain/formation/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update README.md
  README.md
Due: none

Update 09-01-e2e-test-design.md
  docs/compass/09-01-e2e-test-design.md
Due: none

Fix tests
  tests/director/tests/formation_api_test.go
  tests/go.mod
  tests/go.sum
Due: pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

add missed repository tests
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/apptemplate/repository.go
  components/director/internal/domain/apptemplate/repository_test.go
  components/director/internal/domain/runtime/repository_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix runtime/runtime contexts ASA processing
  chart/compass/values.yaml
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formation/service_test.go
  components/director/internal/domain/runtime_context/service.go
  components/director/internal/domain/subscription/service.go
  tests/director/tests/formation_api_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests
