Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-cluster-infra:v20190528-8897828
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
          cpu: 50m
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Implementation of CRUD operations for Packages (#841)
  chart/compass/values.yaml
  components/director/internal/domain/application/automock/package_converter.go
  components/director/internal/domain/application/automock/package_service.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/resolver_test.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/eventing/service.go
  components/director/internal/domain/package/automock/auth_converter.go
  components/director/internal/domain/package/automock/entity_converter.go
  components/director/internal/domain/package/automock/package_converter.go
  components/director/internal/domain/package/automock/package_repository.go
  components/director/internal/domain/package/automock/package_service.go
  components/director/internal/domain/package/automock/uid_service.go
  components/director/internal/domain/package/converter.go
  components/director/internal/domain/package/converter_test.go
  components/director/internal/domain/package/entity.go
  components/director/internal/domain/package/fixtures_test.go
  components/director/internal/domain/package/mock/package.go
  components/director/internal/domain/package/repository.go
  components/director/internal/domain/package/repository_test.go
  components/director/internal/domain/package/resolver.go
  components/director/internal/domain/package/resolver_test.go
  components/director/internal/domain/package/service.go
  components/director/internal/domain/package/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/model/package.go
  components/director/internal/model/package_test.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Draft One-time token authentication flow
  docs/compass/03-01-security.md
  docs/compass/assets/security-architecture.svg
Due: none

Implement delete method for PackageInstanceAuth
  chart/compass/values.yaml
  components/director/hack/config-local.yaml
  components/director/internal/domain/package/converter.go
  components/director/internal/domain/packageinstanceauth/automock/converter.go
  components/director/internal/domain/packageinstanceauth/automock/repository.go
  components/director/internal/domain/packageinstanceauth/automock/service.go
  components/director/internal/domain/packageinstanceauth/automock/uid_service.go
  components/director/internal/domain/packageinstanceauth/resolver.go
  components/director/internal/domain/packageinstanceauth/resolver_test.go
  components/director/internal/domain/packageinstanceauth/service.go
  components/director/internal/domain/packageinstanceauth/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/model/package_instance_auth.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  docs/compass/03-packages-credential-requests.md
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Make Auth Style configurable
  components/pairing-adapter/cmd/main.go
  components/pairing-adapter/internal/adapter/model.go
Due: none

Implement delete method for PackageInstanceAuth (#855)
  chart/compass/values.yaml
  components/director/hack/config-local.yaml
  components/director/internal/domain/package/converter.go
  components/director/internal/domain/packageinstanceauth/automock/converter.go
  components/director/internal/domain/packageinstanceauth/automock/repository.go
  components/director/internal/domain/packageinstanceauth/automock/service.go
  components/director/internal/domain/packageinstanceauth/automock/uid_service.go
  components/director/internal/domain/packageinstanceauth/resolver.go
  components/director/internal/domain/packageinstanceauth/resolver_test.go
  components/director/internal/domain/packageinstanceauth/service.go
  components/director/internal/domain/packageinstanceauth/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/model/package_instance_auth.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  docs/compass/03-packages-credential-requests.md
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Connectivity adapter acceptance tests (#831)
  chart/compass/charts/connectivity-adapter/templates/tests/tests.yaml
  chart/compass/values.yaml
  components/connectivity-adapter/internal/connectorservice/api/certificates.go
  components/connectivity-adapter/internal/connectorservice/api/info.go
  components/connectivity-adapter/internal/connectorservice/api/info_test.go
  components/connectivity-adapter/internal/connectorservice/api/revocations.go
  components/connectivity-adapter/internal/connectorservice/connector.go
  components/connectivity-adapter/internal/connectorservice/connector/client.go
  components/connectivity-adapter/internal/connectorservice/connector/converter.go
  components/connectivity-adapter/internal/connectorservice/connector/errors.go
  components/connectivity-adapter/internal/connectorservice/director/client.go
  components/connectivity-adapter/internal/connectorservice/model/converter.go
  components/connectivity-adapter/internal/connectorservice/model/infoprovider.go
  components/connectivity-adapter/internal/connectorservice/model/model.go
  installation/scripts/testing.sh
  tests/connectivity-adapter/Makefile
  tests/connectivity-adapter/go.mod
  tests/connectivity-adapter/go.sum
  tests/connectivity-adapter/scripts/run_local.sh
  tests/connectivity-adapter/test/api/connector_test.go
  tests/connectivity-adapter/test/testkit/config.go
  tests/connectivity-adapter/test/testkit/connector/certs.go
  tests/connectivity-adapter/test/testkit/connector/client.go
  tests/connectivity-adapter/test/testkit/connector/model.go
  tests/connectivity-adapter/test/testkit/connector/securedclient.go
  tests/connectivity-adapter/test/testkit/director/client.go
  tests/connectivity-adapter/test/testkit/director/query.go
Due: pre-master-compass-integration

Move testRuntime to separate file
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/runtime.go
  tests/provisioner-tests/test/provisioner/suite.go
Due: none

Fix for running Connectivity Adapter tests on cluster
  chart/compass/charts/connectivity-adapter/templates/tests/tests.yaml
Due: pre-master-compass-integration

Fix for running Connectivity Adapter tests on cluster (#868)
  chart/compass/charts/connectivity-adapter/templates/tests/tests.yaml
Due: pre-master-compass-integration

Implement repository, converter and models for Package Instance Auth API
  chart/compass/values.yaml
  components/director/internal/domain/packageinstanceauth/automock/auth_converter.go
  components/director/internal/domain/packageinstanceauth/automock/entity_converter.go
  components/director/internal/domain/packageinstanceauth/converter.go
  components/director/internal/domain/packageinstanceauth/converter_test.go
  components/director/internal/domain/packageinstanceauth/entity.go
  components/director/internal/domain/packageinstanceauth/fixtures_test.go
  components/director/internal/domain/packageinstanceauth/repository.go
  components/director/internal/domain/packageinstanceauth/repository_test.go
  components/director/internal/domain/packageinstanceauth/resolver.go
  components/director/internal/model/package_instance_auth.go
  components/director/internal/model/package_instance_auth_test.go
  components/director/pkg/graphql/config.yaml
  components/director/pkg/graphql/json.go
  components/director/pkg/graphql/json_test.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/package_validation_test.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Fix conflicts
  components/director/internal/domain/packageinstanceauth/converter.go
  components/director/internal/domain/packageinstanceauth/converter_test.go
  components/director/internal/domain/packageinstanceauth/fixtures_test.go
  components/director/internal/domain/packageinstanceauth/resolver_test.go
  components/director/internal/domain/packageinstanceauth/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

refactor mapper for user
  components/director/internal/tenantmapping/mapper_for_user.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Changes after review
  components/director/internal/tenantmapping/mapper_for_user.go
  components/director/internal/tenantmapping/mapper_for_user_test.go
  components/director/internal/tenantmapping/staticgroup.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump values
  chart/compass/values.yaml
Due: pre-master-compass-integration

Fix fetch request api spec
  components/connectivity-adapter/internal/appregistry/service/converter.go
  components/connectivity-adapter/internal/appregistry/service/converter_test.go
Due: none

wip
  components/director/internal/tenantmapping/mapper_for_user.go
Due: pre-master-compass-components-director, post-master-compass-components-director

wip
  components/director/internal/consumer/consumer.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Modify status setter
  components/director/internal/model/package_instance_auth.go
  components/director/internal/model/package_instance_auth_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

- allow specify oauth style via helm values - display response from external TMS in case of errors
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
  chart/compass/charts/pairing-adapter/values.yaml
  chart/compass/values.yaml
  components/pairing-adapter/internal/adapter/client.go
  components/pairing-adapter/internal/adapter/client_test.go
Due: pre-master-compass-integration

Implement repository, converter and models for Package Instance Auth API (#862)
  chart/compass/values.yaml
  components/director/internal/domain/packageinstanceauth/automock/auth_converter.go
  components/director/internal/domain/packageinstanceauth/automock/entity_converter.go
  components/director/internal/domain/packageinstanceauth/converter.go
  components/director/internal/domain/packageinstanceauth/converter_test.go
  components/director/internal/domain/packageinstanceauth/entity.go
  components/director/internal/domain/packageinstanceauth/fixtures_test.go
  components/director/internal/domain/packageinstanceauth/repository.go
  components/director/internal/domain/packageinstanceauth/repository_test.go
  components/director/internal/domain/packageinstanceauth/resolver.go
  components/director/internal/domain/packageinstanceauth/resolver_test.go
  components/director/internal/domain/packageinstanceauth/service_test.go
  components/director/internal/model/package_instance_auth.go
  components/director/internal/model/package_instance_auth_test.go
  components/director/pkg/graphql/config.yaml
  components/director/pkg/graphql/json.go
  components/director/pkg/graphql/json_test.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/package_validation_test.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

change Director image
  chart/compass/values.yaml
Due: pre-master-compass-integration

Add a document describing Hyperscaler Account Pool
  docs/kyma-environment-broker/03-03-hyperscaler-account-pool.md
Due: none

[Pairing Adapter] Make Auth Style configurable (#867)
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
  chart/compass/charts/pairing-adapter/values.yaml
  chart/compass/values.yaml
  components/pairing-adapter/cmd/main.go
  components/pairing-adapter/internal/adapter/client.go
  components/pairing-adapter/internal/adapter/client_test.go
  components/pairing-adapter/internal/adapter/model.go
Due: pre-master-compass-integration

Change logging overrides for disabling loki
  components/kyma-environment-broker/internal/broker/instance_create_integration_test.go
  components/kyma-environment-broker/internal/broker/testdata/TestBrokerProvisioningScenario.golden.graphql
  components/kyma-environment-broker/internal/runtime/loki_disabler.go
  components/kyma-environment-broker/internal/runtime/loki_disabler_test.go
Due: none

Apply review suggestions
  docs/kyma-environment-broker/03-03-hyperscaler-account-pool.md
Due: none

initial intergation of HAP with Kyma Environment Broker
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/builder.go
  components/kyma-environment-broker/internal/broker/builder_test.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_integration_test.go
  components/kyma-environment-broker/internal/gardener/client.go
  components/kyma-environment-broker/internal/gardener/config.go
  components/kyma-environment-broker/internal/hyperscaler/account_pool.go
  components/kyma-environment-broker/internal/hyperscaler/account_pool_test.go
  components/kyma-environment-broker/internal/hyperscaler/account_provider.go
  components/kyma-environment-broker/internal/hyperscaler/account_provider_test.go
  components/kyma-environment-broker/internal/hyperscaler/mocks/AccountProvider.go
Due: pre-master-compass-integration

Fix fetch request api spec (#865)
  chart/compass/values.yaml
  components/connectivity-adapter/internal/appregistry/service/converter.go
  components/connectivity-adapter/internal/appregistry/service/converter_test.go
Due: pre-master-compass-integration

Simplyfy
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/runtime.go
  tests/provisioner-tests/test/provisioner/suite.go
Due: none

Config logging
  tests/provisioner-tests/test/testkit/config.go
Due: none

Imports
  tests/provisioner-tests/test/provisioner/e2e_test.go
Due: none

Add opt component
  tests/e2e/provisioning/internal/director/client.go
  tests/e2e/provisioning/pkg/client/broker/broker_client.go
  tests/e2e/provisioning/test/test_suite.go
Due: none

Fix logging in director client
  tests/e2e/provisioning/internal/director/client.go
Due: none

Init wait group
  tests/provisioner-tests/test/provisioner/e2e_test.go
Due: none

add resolvers for package instance auth
  components/director/internal/domain/package/automock/package_instance_auth_converter.go
  components/director/internal/domain/package/automock/package_instance_auth_service.go
  components/director/internal/domain/package/fixtures_test.go
  components/director/internal/domain/package/resolver.go
  components/director/internal/domain/package/resolver_test.go
  components/director/internal/domain/packageinstanceauth/automock/repository.go
  components/director/internal/domain/packageinstanceauth/repository.go
  components/director/internal/domain/packageinstanceauth/repository_test.go
  components/director/internal/domain/packageinstanceauth/service.go
  components/director/internal/domain/packageinstanceauth/service_test.go
  components/director/internal/domain/root_resolver.go
Due: pre-master-compass-components-director, post-master-compass-components-director

bump image
  chart/compass/values.yaml
  components/director/internal/domain/root_resolver.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

typo fixes
  components/director/internal/domain/package/resolver_test.go
  components/director/internal/domain/packageinstanceauth/repository_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix runtime name
  tests/provisioner-tests/test/provisioner/e2e_test.go
Due: none

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
