Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/

Apply review suggestions
  components/connector/docs/08-01-establish-secure-connection-with-compass.md
Due: pre-master-compass-components-connector, post-master-compass-components-connector

Mention scopes for OAuth flow
  docs/architecture/authentication-and-authorization.md
Due: none

use compass director as tenant mapping service
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration

reset healthchecker image
  chart/compass/values.yaml
Due: pre-master-compass-integration

change mapping service port
  chart/compass/values.yaml
Due: pre-master-compass-integration

Switch the architecture diagram, apply minor lg fixes
  docs/architecture/assets/security-architecture.svg
  docs/architecture/authentication-and-authorization.md
Due: none

Post review changes
  components/provisioner/internal/api/mockresolver.go
  components/provisioner/internal/api/mockresolver_test.go
Due: none

Update proposal with clarifications
  docs/architecture/authentication-and-authorization.md
Due: none

Apply review suggestions
  components/connector/docs/02-01-connector-service.md
  components/connector/docs/08-01-establish-secure-connection-with-compass.md
  components/connector/docs/08-02-maintain-secure-connection-with-compass.md
  components/connector/docs/api/connectorapi.yaml
Due: pre-master-compass-components-connector, post-master-compass-components-connector

deps updated
  components/provisioner/Gopkg.lock
  components/provisioner/internal/api/mockresolver.go
  components/provisioner/internal/api/mockresolver_test.go
Due: none

dockerfile updated
  components/provisioner/Dockerfile
Due: none

post-review change
  components/provisioner/internal/api/mockresolver.go
Due: none

schema updated
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: none

Charts updated
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/values.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration

Describe Tenant Mapping Handler
  docs/architecture/authentication-and-authorization.md
Due: none

Create Connector documentation (#308)
  components/connector/docs/02-01-connector-service.md
  components/connector/docs/08-01-establish-secure-connection-with-compass.md
  components/connector/docs/08-02-maintain-secure-connection-with-compass.md
  components/connector/docs/api/connectorapi.yaml
  components/connector/docs/assets/001-connection-flow.svg
Due: pre-master-compass-components-connector, post-master-compass-components-connector

Improve logging for mock tenant mapping handler
  components/director/cmd/main.go
  components/director/internal/tenantmapping/handler.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Ignore log files
  components/director/.gitignore
Due: pre-master-compass-components-director, post-master-compass-components-director

Secure compass with JWT and OAuth (#310)
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
  chart/compass/charts/gateway/templates/virtualservice-secure.yaml
  chart/compass/charts/gateway/values.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration

Port fixed
  chart/compass/charts/provisioner/templates/service.yaml
Due: pre-master-compass-integration

Pass JSON as string in Director (#296)
  chart/compass/values.yaml
  components/director/internal/domain/label/translator_test.go
  components/director/internal/domain/labeldef/automock/converter.go
  components/director/internal/domain/labeldef/automock/entity_converter.go
  components/director/internal/domain/labeldef/automock/model_converter.go
  components/director/internal/domain/labeldef/converter.go
  components/director/internal/domain/labeldef/converter_test.go
  components/director/internal/domain/labeldef/repository.go
  components/director/internal/domain/labeldef/repository_test.go
  components/director/internal/domain/labeldef/resolver.go
  components/director/internal/domain/labeldef/resolver_test.go
  components/director/internal/domain/labeldef/service_test.go
  components/director/pkg/graphql/config.yaml
  components/director/pkg/graphql/json.go
  components/director/pkg/graphql/json_schema.go
  components/director/pkg/graphql/json_schema_test.go
  components/director/pkg/graphql/json_test.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

fix test e2e
  examples/create-label-definition.graphql
  examples/update-label-definition.graphql
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/Gopkg.toml
  tests/end-to-end/director/assertions.go
  tests/end-to-end/director/fixtures_queries_test.go
  tests/end-to-end/director/graphqlizer_test.go
  tests/end-to-end/director/labeling_api_test.go
Due: pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

fix
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/director/graphqlizer_test.go
  tests/end-to-end/director/labeling_api_test.go
Due: pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

uncommented assertion
  tests/end-to-end/director/assertions.go
Due: pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

switch to master
  tests/end-to-end/Gopkg.toml
Due: pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

adjust e2e tests
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/director/labeling_api_test.go
Due: pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Service account added
  chart/compass/charts/provisioner/templates/service-account.yaml
Due: pre-master-compass-integration

Fix schema as string e2e tests (#298)
  examples/create-label-definition.graphql
  examples/update-label-definition.graphql
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/director/fixtures_queries_test.go
  tests/end-to-end/director/graphqlizer_test.go
  tests/end-to-end/director/labeling_api_test.go
Due: pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Bump compass ui image
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration

Add client certificate flows
  docs/architecture/assets/cert-security-diagram-connector.svg
  docs/architecture/assets/certificate-security-diagram-director.svg
  docs/architecture/authentication-and-authorization.md
Due: none

Add client certificate flows
  docs/architecture/authentication-and-authorization.md
Due: none

Add client certificate flows
  docs/architecture/assets/certificate-security-diagram-connector.svg
Due: none

Path fixed
  chart/compass/charts/provisioner/templates/deployment.yaml
Due: pre-master-compass-integration

add runtime one time token
  chart/compass/charts/director/templates/deployment.yaml
  components/director/cmd/main.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/graphql_client/client.go
  components/director/internal/token/automock/graph_ql_client.go
  components/director/internal/token/model.go
  components/director/internal/token/service.go
  components/director/internal/token/service_test.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Fix a typo: CRS -> CSR
  components/connector/docs/08-01-establish-secure-connection-with-compass.md
  components/connector/docs/08-02-maintain-secure-connection-with-compass.md
Due: pre-master-compass-components-connector, post-master-compass-components-connector

Chart fixed
  chart/compass/values.yaml
Due: pre-master-compass-integration

Add mock tenant mapping handler for Director (#315)
  components/director/.gitignore
  components/director/cmd/main.go
  components/director/internal/tenantmapping/handler.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix a typo: CRS -> CSR (#320)
  components/connector/docs/08-01-establish-secure-connection-with-compass.md
  components/connector/docs/08-02-maintain-secure-connection-with-compass.md
Due: pre-master-compass-components-connector, post-master-compass-components-connector

Bump compass ui image (#318)
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration

Update chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/templates/deployment.yaml
Due: pre-master-compass-integration
