Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/

Fix the issues mentioned in the cr
  components/director/internal/domain/application/service.go
  tests/end-to-end/director/application_api_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Bring back QueryIntegrationSystem test
  tests/end-to-end/director/integration_system_api_test.go
Due: pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Bump image values
  chart/compass/values.yaml
Due: pre-master-compass-integration

Fix the issue mentioned in the cr
  components/director/internal/domain/application/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Adjust unit tests
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/mocks/ArtifactsProvider.go
  components/provisioner/internal/installation/mocks/Service.go
  components/provisioner/internal/provisioning/converters/graphql_converter_test.go
  components/provisioner/internal/provisioning/converters/input_converter.go
  components/provisioner/internal/provisioning/converters/input_converter_test.go
  components/provisioner/internal/provisioning/persistence/mocks/Service.go
  components/provisioner/internal/provisioning/persistence/service.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

Fix root resolver
  components/director/internal/domain/root_resolver.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Cleanup WIP
  components/provisioner/cmd/init.go
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/installation_test.go
  components/provisioner/internal/installation/release/downloader.go
  components/provisioner/internal/installation/release/mocks/Repository.go
  components/provisioner/internal/installation/release/model.go
  components/provisioner/internal/installation/release/repository.go
  components/provisioner/internal/provisioning/converters/input_converter.go
  components/provisioner/internal/provisioning/converters/input_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

Adjust tests
  components/provisioner/internal/provisioning/service_test.go
Due: none

Downloader component impl
  components/provisioner/internal/installation/release/downloader.go
  components/provisioner/internal/installation/release/mocks/Repository.go
  components/provisioner/internal/installation/release/repository.go
  components/provisioner/internal/model/types.go
Due: none

Fix applications/runtimes choosers in create scenario modal (#495)
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration

Update draft version
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration

Migrate to modules to resolve dependencies:
  components/provisioner/Dockerfile
  components/provisioner/Gopkg.lock
  components/provisioner/Gopkg.toml
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/hydroform/service_test.go
  components/provisioner/internal/installation/release/repository.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/model/gcp_config.go
  components/provisioner/internal/model/gcp_config_test.go
  components/provisioner/internal/persistence/database/schema_initializer.go
  components/provisioner/internal/provisioning/converters/input_converter.go
  components/provisioner/internal/provisioning/converters/input_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/util/pointers.go
Due: none

Update existing app creation logic (#499)
  chart/compass/values.yaml
  components/director/internal/domain/application/automock/application_repository.go
  components/director/internal/domain/application/automock/integration_system_repository.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/domain/integrationsystem/automock/application_service.go
  components/director/internal/domain/integrationsystem/resolver.go
  components/director/internal/domain/integrationsystem/resolver_test.go
  components/director/internal/domain/root_resolver.go
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/director/application_api_test.go
  tests/end-to-end/director/assertions.go
  tests/end-to-end/director/fixtures_queries_test.go
  tests/end-to-end/pkg/gql/graphqlizer.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

add missing scopes
  chart/compass/templates/director-test.yaml
  chart/compass/templates/e2e-compass-test.yaml
Due: pre-master-compass-integration

add integration tests and examples for application templates domain
  chart/compass/values.yaml
  components/director/examples/README.md
  components/director/examples/create-application-template/create-application-template.graphql
  components/director/examples/delete-application-template/delete-application-template.graphql
  components/director/examples/query-application-template/query-application-template.graphql
  components/director/examples/query-application-templates/query-application-templates.graphql
  components/director/examples/update-application-template/update-application-template.graphql
  tests/end-to-end/director/application_templates_api_test.go
  tests/end-to-end/director/assertions.go
  tests/end-to-end/director/fixtures.go
  tests/end-to-end/director/fixtures_queries_test.go
  tests/end-to-end/director/fixtures_request_test.go
  tests/end-to-end/gen-examples.sh
  tests/end-to-end/pkg/gql/fields.go
  tests/end-to-end/pkg/gql/graphqlizer.go
  tests/end-to-end/run.sh
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

gqlgen
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

bump director and remove unused scopes
  chart/compass/values.yaml
  components/director/hack/config-local.yaml
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

rebase
  tests/end-to-end/Gopkg.lock
Due: pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

fix err message
  scripts/generic_make_go.mk
Due: pre-compass-components-gateway, post-compass-components-gateway

Bump improvement draft image
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration

Adjust Dockerfile
  components/provisioner/Dockerfile
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/internal/hydroform/service.go
  components/provisioner/internal/hydroform/service_test.go
  components/provisioner/internal/installation/release/mocks/Repository.go
  components/provisioner/internal/installation/release/repository.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/internal/provisioning/persistence/mocks/Service.go
  components/provisioner/internal/provisioning/persistence/service.go
  components/provisioner/internal/provisioning/persistence/service_test.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

Downloader component tests
  components/provisioner/internal/installation/release/downloader.go
  components/provisioner/internal/installation/release/downloader_test.go
  components/provisioner/internal/installation/release/repository.go
Due: none

Build image without copying vendor
  components/provisioner/Dockerfile
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: none

Update Hydroform dependency
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: none

Handle empty state
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/installation/installation.go
Due: none

Add logs to installation
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/installation_test.go
  components/provisioner/internal/installation/mocks/Service.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

review fixes
  chart/compass/charts/director/config.yaml
  chart/compass/charts/director/static-users.yaml
  components/director/examples/create-application-template/create-application-template.graphql
  components/director/examples/update-application-template/update-application-template.graphql
  components/director/hack/static-users-local.yaml
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/apptemplate/graphqlizer.go
  tests/end-to-end/director/application_templates_api_test.go
  tests/end-to-end/director/assertions.go
  tests/end-to-end/director/fixtures.go
  tests/end-to-end/pkg/gql/graphqlizer.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Downloader starts with main goroutine
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
Due: none

TODO added
  components/provisioner/internal/installation/release/downloader.go
Due: none

Adjustments
  components/provisioner/Makefile
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/hydroform/service.go
  components/provisioner/internal/hydroform/service_test.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/model/gcp_config.go
  components/provisioner/internal/model/gcp_config_test.go
  components/provisioner/internal/model/provider.go
  components/provisioner/internal/provisioning/converters/graphql_converter_test.go
  components/provisioner/internal/provisioning/persistence/service_test.go
Due: none

add curl to schema-migrator
  components/schema-migrator/Dockerfile
Due: none

bump schema-migrator image version
  chart/compass/values.yaml
Due: pre-master-compass-integration

Add curl to schema-migrator image (#521)
  chart/compass/values.yaml
  components/schema-migrator/Dockerfile
Due: pre-master-compass-integration

Fix fetching Cluster
  components/provisioner/internal/provisioning/persistence/service.go
  components/provisioner/internal/provisioning/persistence/service_test.go
  components/provisioner/internal/provisioning/service.go
Due: none

Refactor tests
  components/provisioner/internal/provisioning/persistence/service_test.go
  components/provisioner/pkg/gqlschema/config.yaml
Due: none

review fixes
  components/director/pkg/graphql/auth_validation.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add auth and webhook input validation
  chart/compass/values.yaml
  components/director/Gopkg.lock
  components/director/examples/add-webhook/add-application-webhook.graphql
  components/director/examples/update-webhook/update-application-webhook.graphql
  components/director/pkg/graphql/auth_test.go
  components/director/pkg/graphql/auth_validation.go
  components/director/pkg/graphql/auth_validation_test.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/pkg/graphql/webhook_validation.go
  components/director/pkg/graphql/webhook_validation_test.go
  components/director/pkg/inputvalidation/directive.go
  components/director/pkg/inputvalidation/directive_test.go
  components/director/pkg/inputvalidation/inputvalidationtest/validator_fixtures.go
  components/director/pkg/inputvalidation/validators_pointer.go
  components/director/pkg/inputvalidation/validators_pointer_test.go
  tests/end-to-end/director/application_api_test.go
  tests/end-to-end/director/fixtures_request_test.go
  tests/end-to-end/director/validation_test.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Adjustments
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/provisioning/converters/graphql_converter.go
  components/provisioner/internal/provisioning/converters/graphql_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/pkg/gqlschema/config.yaml
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: none

Add OathKeeper rules for GQL playground in director
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
  chart/compass/templates/e2e-compass-test.yaml
  chart/compass/values.yaml
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/e2e/fixtures_queries_test.go
  tests/end-to-end/e2e/fixtures_request_test.go
  tests/end-to-end/e2e/playground_test.go
  tests/end-to-end/pkg/connector/certificate.go
  tests/end-to-end/pkg/connector/client.go
  tests/end-to-end/pkg/connector/queries.go
Due: pre-master-compass-integration, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Add OathKeeper rules for GQL playground in director (#512)
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
  chart/compass/templates/e2e-compass-test.yaml
  chart/compass/values.yaml
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/e2e/fixtures_queries_test.go
  tests/end-to-end/e2e/fixtures_request_test.go
  tests/end-to-end/e2e/playground_test.go
  tests/end-to-end/pkg/connector/certificate.go
  tests/end-to-end/pkg/connector/client.go
  tests/end-to-end/pkg/connector/queries.go
Due: pre-master-compass-integration, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end
