Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/

Fix e2e tests
  components/external-services-mock/internal/ord-aggregator/template.go
  tests/ord-aggregator/tests/handler_test.go
  tests/pkg/assertions/assertions.go
Due: pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests

Add environemnt variable to direcotr's run.sh.
  components/director/run.sh
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add environemnt variable to direcotr's run.sh. (#2159)
  components/director/run.sh
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Regenerate gql schemag
  components/director/pkg/graphql/schema_gen.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Tweak
  tests/ord-aggregator/tests/handler_test.go
Due: pre-compass-tests, post-compass-tests

Change clone suffix to id.
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/selfreg_manager.go
  components/director/internal/domain/runtime/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Bump values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Fix onboarding tenant tests
  tests/pkg/fixtures/tenant_queries.go
  tests/tenant-fetcher/tests/handler_test.go
Due: pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Fix tests
  tests/director/tests/tenants_api_test.go
Due: pre-compass-tests, post-compass-tests

Add annotation for tenant fetcher jobs
  chart/compass/templates/tenant-fetcher-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Remove leftover
  components/director/internal/open_resource_discovery/validation.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update tests accordingly
  tests/tenant-fetcher/tests/handler_test.go
Due: pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Fix imports
  tests/tenant-fetcher/tests/handler_test.go
Due: pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Fix unit tests
  components/director/internal/domain/runtime/automock/bundle_instance_auth_service.go
  components/director/internal/domain/runtime/automock/eventing_service.go
  components/director/internal/domain/runtime/automock/o_auth20_service.go
  components/director/internal/domain/runtime/automock/runtime_converter.go
  components/director/internal/domain/runtime/automock/runtime_service.go
  components/director/internal/domain/runtime/automock/scenario_assignment_service.go
  components/director/internal/domain/runtime/automock/self_register_manager.go
  components/director/internal/domain/runtime/automock/system_auth_converter.go
  components/director/internal/domain/runtime/automock/system_auth_service.go
  components/director/internal/domain/runtime/resolver_test.go
  components/director/internal/domain/runtime/rtmtest/selfreg_manager.go
  components/director/internal/domain/runtime/selfreg_manager_test.go
  components/director/internal/domain/runtime/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Regenerate examples and extract common code
  components/director/examples/query-tenants/query-tenants.graphql
  components/director/internal/domain/tenant/repository.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add go docs
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/tenant/repository.go
  components/director/internal/domain/tenant/resolver.go
  components/director/internal/model/businesstenantmapping.go
  components/director/internal/repo/list_pageable.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Removes tgorgol from OWNERS and CODEOWNERS
  CODEOWNERS
  chart/compass/OWNERS
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Removes Szymongib from OWNERS & CODEOWNERS
  chart/compass/OWNERS
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Removes rafalpotem from OWNERS & CODEOWNERS
  chart/compass/OWNERS
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Removes @rafalpotempa from OWNERS & CODEOWNERS
  CODEOWNERS
Due: none

Removes rafalpotempa from OWNERS & CODEOWNERS
  CODEOWNERS
Due: none

Fix linter issues.
  components/director/internal/domain/runtime/resolver_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update external dependencies
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
  components/connector/go.mod
  components/connector/go.sum
  components/director/go.mod
  components/director/go.sum
  components/external-services-mock/go.mod
  components/external-services-mock/go.sum
  components/gateway/go.mod
  components/gateway/go.sum
  components/operations-controller/go.mod
  components/operations-controller/go.sum
  components/pairing-adapter/go.mod
  components/pairing-adapter/go.sum
  components/system-broker/go.mod
  components/system-broker/go.sum
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-system-broker, post-compass-components-system-broker, pre-master-provisioner-whitesource-scan

Update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Adress PR comments
  components/director/internal/info/handler.go
  components/director/internal/open_resource_discovery/validation_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Remove leftover
  components/director/internal/open_resource_discovery/fixtures_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Address comments
  components/director/internal/domain/formation/frmtest/uuid.go
  components/director/internal/domain/formation/service_test.go
  components/director/internal/domain/label/lbltest/uuid.go
  components/director/internal/domain/label/service_test.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/rtmtest/uuid.go
  components/director/internal/domain/runtime/service_test.go
  tests/ord-service/tests/subscription_flow_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Add Like condition and OR / AND Where clause tree
  components/director/internal/domain/application/repository_test.go
  components/director/internal/domain/runtime/repository_test.go
  components/director/internal/domain/runtime_context/repository_test.go
  components/director/internal/domain/tenant/repository.go
  components/director/internal/domain/tenant/repository_test.go
  components/director/internal/repo/conditions.go
  components/director/internal/repo/list_pageable.go
  components/director/internal/repo/list_pageable_test.go
  components/director/internal/repo/query_builder.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix new linter errors.
  components/director/internal/domain/formation/frmtest/uuid.go
  components/director/internal/domain/label/lbltest/uuid.go
  components/director/internal/domain/runtime/rtmtest/uuid.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Improve up migration
  components/schema-migrator/migrations/director/20211221215747_ord_documentation_labels.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Revert github.com/go-logr/logr
  components/operations-controller/go.mod
  components/operations-controller/go.sum
Due: pre-master-provisioner-whitesource-scan

Connectivity Adapter updates
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
Due: pre-master-provisioner-whitesource-scan

Connector updates
  components/connector/go.mod
  components/connector/go.sum
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-provisioner-whitesource-scan

Improve external certs authentication handling for integration systems (#2143)
  chart/compass/values.yaml
  components/connector/config/servers.go
  components/connector/go.mod
  components/connector/go.sum
  components/connector/internal/subject/subject.go
  components/connector/internal/subject/subject_test.go
  components/connector/pkg/oathkeeper/cert_header_parser.go
  components/connector/pkg/oathkeeper/cert_header_parser_test.go
  components/connector/pkg/oathkeeper/validation_hydrator_test.go
  components/director/cmd/director/main.go
  components/director/internal/authenticator/claims/automock/integration_system_service.go
  components/director/internal/authenticator/claims/validator.go
  components/director/internal/authenticator/claims/validators_test.go
  components/director/internal/oathkeeper/model.go
  components/director/internal/tenantmapping/access_level_context_provider.go
  components/director/internal/tenantmapping/access_level_context_provider_test.go
  components/director/internal/tenantmapping/authenticator_context_provider.go
  components/director/internal/tenantmapping/cert_service_context_provider.go
  components/director/internal/tenantmapping/cert_service_context_provider_test.go
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/model.go
  components/director/internal/tenantmapping/system_auth_context_provider.go
  components/director/internal/tenantmapping/user_context_provider.go
  components/director/pkg/cert/certutils.go
  tests/director/tests/certificates_access_test.go
  tests/director/tests/runtime_api_test.go
  tests/ord-service/tests/subscription_flow_test.go
  tests/pkg/tenant/tenant_setup.go
  tests/pkg/testctx/testctx.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Revert system-broker updtes
  components/system-broker/go.mod
  components/system-broker/go.sum
Due: pre-compass-components-system-broker, post-compass-components-system-broker, pre-master-provisioner-whitesource-scan

Gateway updates
  components/gateway/go.mod
  components/gateway/go.sum
Due: pre-compass-components-gateway, post-compass-components-gateway, pre-master-provisioner-whitesource-scan

minor change
  tests/ord-service/tests/subscription_flow_test.go
Due: pre-compass-tests, post-compass-tests

ExtSvc mock updates
  components/external-services-mock/go.mod
  components/external-services-mock/go.sum
Due: pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-master-provisioner-whitesource-scan

Adress pr comment
  chart/compass/charts/director/templates/rbac.yaml
  chart/compass/templates/ord-aggregator-job.yaml
  chart/compass/templates/system-fetcher-job.yaml
  chart/compass/templates/tenant-fetcher-job.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration
