Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

pre-main-compass-development-artifacts:
  labels:
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-development-artifacts-bucket: 'true'
    preset-sa-gcr-push: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
  ...

pre-main-compass-gke-benchmark:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-gke-benchmark
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-cluster-version: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-gke-integration: 'true'
  ...

pre-main-compass-gke-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-gke-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-cluster-version: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-gke-integration: 'true'
  ...

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-main-compass-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

address PR comments
  components/director/internal/tenantmapping/authenticator_context_provider.go
  components/director/internal/tenantmapping/handler.go
  components/gateway/pkg/proxy/transport.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway

Transport #2055
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantfetcher/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Service account token transport with header name
  components/director/pkg/http/service_acccount_token_transport.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Address PR comments + fix unit tests
  chart/compass/values.yaml
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/fetchrequest/service.go
  components/director/internal/domain/label/repository.go
  components/director/internal/model/application.go
  components/director/internal/open_resource_discovery/automock/label_repository.go
  components/director/internal/open_resource_discovery/client.go
  components/director/internal/open_resource_discovery/fixtures_test.go
  components/director/internal/open_resource_discovery/interfaces.go
  components/director/internal/open_resource_discovery/service.go
  components/director/internal/open_resource_discovery/service_test.go
  components/director/pkg/http/request.go
  components/director/pkg/http/request_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

add UnmarshalJSON method to Claims
  components/director/internal/authenticator/claims/claims.go
  components/director/internal/authenticator/middleware.go
  components/director/internal/tenantmapping/handler.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Transport #2055 (#2056)
  chart/compass/values.yaml
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantfetcher/service_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

make imports
  components/director/internal/authenticator/claims/claims.go
  components/director/internal/oathkeeper/model_test.go
  components/director/internal/tenantmapping/handler.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Introduce optional placeholders
  components/director/internal/domain/application/converter.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/apptemplate/converter.go
  components/director/internal/domain/apptemplate/service.go
  components/director/internal/domain/apptemplate/service_test.go
  components/director/internal/model/app_template.go
  components/director/internal/systemfetcher/service.go
  components/director/internal/systemfetcher/service_test.go
  components/director/pkg/graphql/application.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Certificate issuer mock in external services mock
  chart/compass/charts/external-services-mock/templates/deployment.yaml
  chart/compass/templates/ord-aggregator-job.yaml
  chart/compass/values.yaml
  components/director/internal/open_resource_discovery/accessstrategy/cmp_mtls_access_strategy.go
  components/director/pkg/cert/certsvc_client.go
  components/external-services-mock/cmd/main.go
  components/external-services-mock/go.mod
  components/external-services-mock/go.sum
  components/external-services-mock/internal/cert/handler.go
  components/external-services-mock/internal/cert/handler_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-master-provisioner-whitesource-scan

Bump PR version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Make imports
  components/connector/config/servers.go
  components/connector/pkg/oathkeeper/cert_header_parser_test.go
  components/connector/pkg/oathkeeper/subject_extraction.go
  components/external-services-mock/cmd/main.go
  components/external-services-mock/internal/cert/handler.go
  components/external-services-mock/internal/cert/handler_test.go
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-external-services-mock, post-compass-components-external-services-mock

Minor tweaks
  components/connector/go.sum
  components/external-services-mock/internal/cert/handler.go
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-master-provisioner-whitesource-scan

Minor tweaks
  components/connector/go.mod
  components/connector/go.sum
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-provisioner-whitesource-scan

fix
  components/director/internal/authenticator/claims/claims.go
  components/director/internal/tenantmapping/handler.go
Due: pre-master-compass-components-director, post-master-compass-components-director

fix
  components/director/internal/authenticator/middleware.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Minor tweaks
  components/connector/go.mod
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-provisioner-whitesource-scan

Minor tweaks
  components/director/go.mod
  components/director/go.sum
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Linter fix
  components/director/internal/open_resource_discovery/client_test.go
  components/director/internal/open_resource_discovery/service.go
  components/director/pkg/http/request.go
  components/director/pkg/http/request_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add needed fields to graphqlizer
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix copypasta
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Use boolean instead of string in gqlized optional
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add system number to graphqlizer
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add api endpoint to director
  components/director/cmd/director/main.go
  components/director/pkg/httputils/response.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Adjust director run.sh
  components/director/run.sh
Due: pre-master-compass-components-director, post-master-compass-components-director

Adapt System Fetcher E2E test
  tests/go.mod
  tests/go.sum
  tests/pkg/fixtures/application_template_requests.go
  tests/system-fetcher/tests/handler_test.go
Due: pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Make info endpoint more generic
  components/director/cmd/director/main.go
  components/director/run.sh
Due: pre-master-compass-components-director, post-master-compass-components-director

Improve parsing event page
  components/director/internal/domain/label/service.go
  components/director/internal/tenantfetcher/event_page.go
  components/director/internal/tenantfetcher/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add envvars to deployment
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Yet another gqlizer fix
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update Migrations
  components/schema-migrator/migrations/director/20211006103800_update_tenant_mapping_views.down.sql
  components/schema-migrator/migrations/director/20211006103800_update_tenant_mapping_views.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

hmm
  components/director/pkg/graphql/graphqlizer/fields.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix
  components/director/pkg/graphql/graphqlizer/fields.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix E2E test
  components/director/internal/systemfetcher/service.go
  tests/go.mod
  tests/go.sum
  tests/system-fetcher/tests/handler_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Add e2e test and expose on host starting with director
  chart/compass/charts/director/templates/virtual-service.yaml
  chart/compass/templates/internal-communication-policies.yaml
  chart/compass/templates/tests/director/director-test.yaml
  components/director/cmd/director/main.go
  components/director/internal/info/handler.go
  tests/director/tests/info_api_test.go
  tests/pkg/config/director.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
