Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-cluster-infra:v20190528-8897828
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
          cpu: 50m
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Apply suggestions from code review
  components/kyma-environment-broker/README.md
Due: none

Document KEB in Compass (#714)
  components/kyma-environment-broker/README.md
  docs/kyma-environment-broker/01-01-overview.md
  docs/kyma-environment-broker/02-01-architecture.md
  docs/kyma-environment-broker/03-01-service-description.md
  docs/kyma-environment-broker/assets/keb-architecture.svg
Due: none

Add label name:appname while creating, updating application (#730)
  chart/compass/values.yaml
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  tests/director/api/application_api_test.go
  tests/director/api/assertions.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

middleware works
  components/connectivity-adapter/cmd/main.go
  components/connectivity-adapter/internal/appregistry/appdetails/middleware.go
  components/connectivity-adapter/internal/appregistry/appregistry.go
  components/connectivity-adapter/internal/appregistry/service/handler.go
Due: none

wip
  components/connectivity-adapter/internal/appregistry/appdetails/middleware.go
  components/connectivity-adapter/internal/appregistry/appdetails/middleware_test.go
  components/connectivity-adapter/internal/appregistry/appregistry.go
  components/connectivity-adapter/internal/appregistry/service/handler.go
Due: none

success test works
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/internal/appregistry/appdetails/middleware.go
  components/connectivity-adapter/internal/appregistry/appdetails/middleware_test.go
Due: none

fix #8
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/director/client.go
  components/kyma-environment-broker/internal/director/client_test.go
Due: none

converter - changed contract
  components/connectivity-adapter/internal/appregistry/model/converted.go
  components/connectivity-adapter/internal/appregistry/service/converter.go
  components/connectivity-adapter/internal/appregistry/service/converter_test.go
Due: none

add tests for middleware
  components/connectivity-adapter/internal/appregistry/appdetails/automock/graph_ql_request_builder.go
  components/connectivity-adapter/internal/appregistry/appdetails/middleware.go
  components/connectivity-adapter/internal/appregistry/appdetails/middleware_test.go
  components/connectivity-adapter/internal/appregistry/appregistry.go
  components/connectivity-adapter/internal/appregistry/service/automock/gql_fields_provider.go
  components/connectivity-adapter/internal/appregistry/service/graphql.go
Due: none

fix #9 - debug
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/director/client.go
  components/kyma-environment-broker/internal/director/client_test.go
Due: none

bump value
  chart/compass/values.yaml
Due: pre-master-compass-integration

fix healt endpoint adn add test for middleware
  components/connectivity-adapter/cmd/main.go
  components/connectivity-adapter/internal/appregistry/appdetails/middleware_test.go
  components/connectivity-adapter/internal/appregistry/service/graphql.go
  components/connectivity-adapter/internal/appregistry/service/handler.go
Due: none

clean up the code
  components/connectivity-adapter/internal/appregistry/appdetails/middleware.go
  components/connectivity-adapter/internal/appregistry/service/handler.go
Due: none

fix imports
  components/connectivity-adapter/internal/appregistry/appdetails/middleware.go
  components/connectivity-adapter/internal/appregistry/appdetails/middleware_test.go
  components/connectivity-adapter/internal/appregistry/appregistry.go
  components/connectivity-adapter/internal/appregistry/service/handler.go
Due: none

fix err check
  components/connectivity-adapter/internal/appregistry/service/handler.go
Due: none

converter - changed contract
  components/connectivity-adapter/internal/appregistry/service/converter.go
Due: none

Fixes to make tests Connector Tests running
  chart/compass/charts/connectivity-adapter/templates/tests/test-connector.yaml
  chart/compass/values.yaml
  components/connectivity-adapter/internal/appregistry/service/handler_test.go
  components/connectivity-adapter/internal/connector/api/managementinfo_test.go
  components/connectivity-adapter/internal/connector/api/middlewares/authorization.go
  components/connectivity-adapter/internal/connector/api/middlewares/baseurls.go
  components/connectivity-adapter/internal/connector/api/signinginforequestinfo_test.go
  components/connectivity-adapter/internal/connector/graphql/errors.go
  components/connectivity-adapter/internal/connector/model/model.go
  components/connectivity-adapter/pkg/reqerror/reqerror.go
  components/connector/internal/api/certificate_resolver.go
Due: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector

Added test for revocation
  components/connectivity-adapter/internal/connector/api/internaltoken.go
  components/connectivity-adapter/internal/connector/api/managementinfo_test.go
  components/connectivity-adapter/internal/connector/api/middlewares/authorization.go
  components/connectivity-adapter/internal/connector/api/revocations_test.go
  components/connectivity-adapter/internal/connector/api/signinginforequestinfo_test.go
  components/connectivity-adapter/internal/connector/graphql/errors.go
  components/connectivity-adapter/internal/connector/model/model.go
Due: none

fix #10
  chart/compass/values.yaml
  components/kyma-environment-broker/internal/director/client.go
  components/schema-migrator/postgres/Dockerfile
  components/schema-migrator/postgres/multiple-postgresql-databases.sh
  components/schema-migrator/validate.sh
Due: pre-master-compass-integration

fix after review
  components/connectivity-adapter/internal/appregistry/appdetails/middleware.go
  components/connectivity-adapter/internal/appregistry/service/handler.go
Due: none

converter simplified after code review
  components/connectivity-adapter/internal/appregistry/service/converter.go
Due: none

fix #11
  chart/compass/templates/migrator-job.yaml
  components/schema-migrator/multiple-postgresql-databases.sh
  components/schema-migrator/postgres/Dockerfile
  components/schema-migrator/validate.sh
Due: pre-master-compass-integration

[Connectivity Adapter] Converter - changed contract (#727)
  components/connectivity-adapter/internal/appregistry/model/converted.go
  components/connectivity-adapter/internal/appregistry/service/converter.go
  components/connectivity-adapter/internal/appregistry/service/converter_test.go
Due: none

Clean up
  chart/compass/charts/connectivity-adapter/templates/deployment.yaml
  components/connectivity-adapter/internal/connector/api/certificates_test.go
  components/connectivity-adapter/internal/connector/api/internaltoken.go
  components/connectivity-adapter/internal/connector/api/internaltoken_test.go
  components/connectivity-adapter/internal/connector/api/managementinfo.go
  components/connectivity-adapter/internal/connector/api/managementinfo_test.go
  components/connectivity-adapter/internal/connector/api/revocations_test.go
  components/connectivity-adapter/internal/connector/api/signinginforequestinfo_test.go
  components/connectivity-adapter/internal/connector/connector.go
Due: pre-master-compass-integration

Provisioner creates ConfigMap with Runtime configuration (#693)
  chart/compass/values.yaml
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/api/middlewares/tenant.go
  components/provisioner/internal/api/mocks/Validator.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/api/validator.go
  components/provisioner/internal/api/validator_test.go
  components/provisioner/internal/director/directorclient.go
  components/provisioner/internal/director/directorclient_test.go
  components/provisioner/internal/director/mocks/DirectorClient.go
  components/provisioner/internal/director/model.go
  components/provisioner/internal/director/query.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/mocks/Service.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/Factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/internal/provisioning/persistence/mocks/Service.go
  components/provisioner/internal/provisioning/persistence/service.go
  components/provisioner/internal/provisioning/runtimes/clientbuilder/clientbuilder.go
  components/provisioner/internal/provisioning/runtimes/clientbuilder/mocks/ConfigMapClientBuilder.go
  components/provisioner/internal/provisioning/runtimes/configuration.go
  components/provisioner/internal/provisioning/runtimes/configuration_test.go
  components/provisioner/internal/provisioning/runtimes/mocks/ConfigProvider.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
  components/provisioner/internal/util/errors.go
Due: pre-master-compass-integration

Connectivity middleware (#737)
  chart/compass/values.yaml
  components/connectivity-adapter/cmd/main.go
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/internal/appregistry/appdetails/automock/graph_ql_request_builder.go
  components/connectivity-adapter/internal/appregistry/appdetails/middleware.go
  components/connectivity-adapter/internal/appregistry/appdetails/middleware_test.go
  components/connectivity-adapter/internal/appregistry/appregistry.go
  components/connectivity-adapter/internal/appregistry/service/automock/gql_fields_provider.go
  components/connectivity-adapter/internal/appregistry/service/graphql.go
  components/connectivity-adapter/internal/appregistry/service/handler.go
Due: pre-master-compass-integration

wip
  components/director/internal/authenticator/claims.go
  components/director/internal/authenticator/middleware.go
  components/director/internal/authenticator/middleware_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

wip
  chart/compass/values.yaml
Due: pre-master-compass-integration

wip
  tests/director/gateway-integration/tenant_mapping_handler_test.go
Due: none

wip
  chart/compass/values.yaml
  tests/director/api/fixtures_queries_test.go
  tests/director/api/integration_system_api_test.go
  tests/director/api/testctx.go
Due: pre-master-compass-integration

Handle creating Service in Connectivity Adapter
  chart/compass/values.yaml
  components/connectivity-adapter/internal/appregistry/appregistry.go
  components/connectivity-adapter/internal/appregistry/service/automock/converter.go
  components/connectivity-adapter/internal/appregistry/service/automock/gql_fields_provider.go
  components/connectivity-adapter/internal/appregistry/service/automock/graph_q_lizer.go
  components/connectivity-adapter/internal/appregistry/service/automock/graph_ql_requester.go
  components/connectivity-adapter/internal/appregistry/service/automock/service_manager.go
  components/connectivity-adapter/internal/appregistry/service/automock/service_manager_provider.go
  components/connectivity-adapter/internal/appregistry/service/automock/uid_service.go
  components/connectivity-adapter/internal/appregistry/service/fixtures_test.go
  components/connectivity-adapter/internal/appregistry/service/graphql.go
  components/connectivity-adapter/internal/appregistry/service/graphql_test.go
  components/connectivity-adapter/internal/appregistry/service/handler.go
  components/connectivity-adapter/internal/appregistry/service/handler_test.go
  components/connectivity-adapter/internal/appregistry/service/label.go
  components/connectivity-adapter/internal/appregistry/service/manager.go
  components/connectivity-adapter/internal/appregistry/service/manager_provider.go
  components/connectivity-adapter/internal/appregistry/uid/service.go
Due: pre-master-compass-integration

Migrate to new Converter
  components/connectivity-adapter/internal/appregistry/appregistry.go
  components/connectivity-adapter/internal/appregistry/service/automock/converter.go
  components/connectivity-adapter/internal/appregistry/service/automock/service_manager.go
  components/connectivity-adapter/internal/appregistry/service/converter.go
  components/connectivity-adapter/internal/appregistry/service/converter_test.go
  components/connectivity-adapter/internal/appregistry/service/graphql.go
  components/connectivity-adapter/internal/appregistry/service/graphql_request_builder.go
  components/connectivity-adapter/internal/appregistry/service/handler.go
  components/connectivity-adapter/internal/appregistry/service/manager.go
  components/connectivity-adapter/internal/appregistry/service/manager_provider.go
Due: none

Add support for providing optional components
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/automock/optional_component_names_provider.go
  components/kyma-environment-broker/internal/broker/automock/optional_component_service.go
  components/kyma-environment-broker/internal/broker/aws_provider.go
  components/kyma-environment-broker/internal/broker/azure_provider.go
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/broker_test.go
  components/kyma-environment-broker/internal/broker/builder.go
  components/kyma-environment-broker/internal/broker/builder_test.go
  components/kyma-environment-broker/internal/broker/dumper.go
  components/kyma-environment-broker/internal/broker/gcp_provider.go
  components/kyma-environment-broker/internal/broker/testdata/managed-runtime-components.yaml
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/iosafety/iosafety.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/ptr/ptr.go
  components/kyma-environment-broker/internal/runtime/generic_component_disabler.go
  components/kyma-environment-broker/internal/runtime/loki_disabler.go
  components/kyma-environment-broker/internal/runtime/opt_components_service.go
  components/kyma-environment-broker/internal/runtime/provider.go
  components/kyma-environment-broker/internal/runtime/provider_test.go
  components/kyma-environment-broker/internal/runtime/testdata/managed-runtime-components.yaml
Due: none

Fix Helm Chart for KEB
  chart/compass/charts/kyma-environment-broker/templates/app-config.yaml
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/values.yaml
  components/kyma-environment-broker/internal/broker/testdata/managed-runtime-components.yaml
Due: pre-master-compass-integration

Add tmpl render for KymaConfigToGraphQL
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
Due: none

Update chart
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
  components/kyma-environment-broker/internal/runtime/provider_test.go
Due: pre-master-compass-integration

Fix fmt and imports
  components/kyma-environment-broker/internal/broker/builder_test.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
Due: none

Add opt to override SM credentials
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/builder.go
  components/kyma-environment-broker/internal/model.go
Due: none

Apply minor fixes
  chart/compass/charts/kyma-environment-broker/values.yaml
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/runtime/loki_disabler.go
Due: pre-master-compass-integration

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
