Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/

Make targetSecret optional
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: none

Prepare config
  components/director/pkg/graphql/config.yaml
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/package.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

extending unit tests for HAP to use different tenant values
  components/provisioner/internal/provisioning/input_converter_test.go
Due: none

make targetSecret obligatory
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: none

Add missing resolvers
  components/director/internal/domain/root_resolver.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Implement changes on Provisioner
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/persistence/database/schema_initializer.go
  components/provisioner/internal/persistence/database/schema_initializer_test.go
  components/schema-migrator/create_migration.sh
Due: none

Add pageable Packages
  components/director/internal/domain/root_resolver.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update oathkeeper overrides (#795)
  chart/compass/values.yaml
Due: pre-master-compass-integration

update helm chart for pr values
  chart/compass/values.yaml
Due: pre-master-compass-integration

Update unit tests
  components/connectivity-adapter/internal/connectorservice/api/signingrequestinfo_test.go
  components/connectivity-adapter/internal/connectorservice/connector.go
Due: none

Add Client ID from Token
  chart/compass/charts/connectivity-adapter/templates/oathkeeper-rules.yaml
  components/connectivity-adapter/internal/connectorservice/api/signingrequestinfo.go
  components/connectivity-adapter/internal/connectorservice/connector.go
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/mapper_for_system_auth.go
  components/director/internal/tenantmapping/model.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Add simple implementation of director call in srInfo
  components/connectivity-adapter/internal/connectorservice/api/signingrequestinfo.go
  components/connectivity-adapter/internal/connectorservice/connector.go
  components/connectivity-adapter/internal/connectorservice/director/client.go
Due: none

Update images
  chart/compass/values.yaml
  components/connectivity-adapter/internal/connectorservice/api/signingrequestinfo_test.go
Due: pre-master-compass-integration

Add migration job
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/values.yaml
  chart/compass/templates/migrator-job.yaml
  chart/compass/values.yaml
  components/provisioner/README.md
  components/provisioner/cmd/main.go
  docs/provisioner/05-01-app-entry-parameters.md
  go.mod
  go.sum
Due: pre-master-compass-integration

Align KEB with new Provisioner API
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  components/kyma-environment-broker/internal/broker/builder.go
  components/kyma-environment-broker/internal/broker/builder_test.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
Due: pre-master-compass-integration

Cleanup queries
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/query.go
Due: none

Fixes
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/internal/broker/builder.go
  components/kyma-environment-broker/internal/broker/builder_test.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
Due: none

make format
  components/kyma-environment-broker/internal/broker/builder.go
Due: none

Resolve conflicts
  components/kyma-environment-broker/internal/broker/instance_create.go
Due: none

Format
  components/kyma-environment-broker/internal/broker/instance_create.go
Due: none

Add tenant mapping test in director
  components/connectivity-adapter/internal/connectorservice/connector.go
  components/director/internal/tenantmapping/handler_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add guards to enable external management of secrets
  chart/compass/charts/gateway/templates/gateway-certs-mtls.yaml
  chart/compass/charts/gateway/templates/gateway-certs.yaml
  chart/compass/charts/gateway/values.yaml
  chart/compass/charts/kyma-environment-broker/templates/secrets.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/charts/provisioner/templates/gardener-creds-secret.yaml
  chart/compass/charts/provisioner/values.yaml
  chart/compass/templates/managed-postgresql-secret.yaml
  chart/compass/templates/tenant-fetcher-secret.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration

Prepare mocks for all new GraphQL resolvers
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/apiinstanceauth/resolver.go
  components/director/internal/domain/apipackage/mock/api.go
  components/director/internal/domain/apipackage/mock/apiinstanceauth.go
  components/director/internal/domain/apipackage/mock/doc.go
  components/director/internal/domain/apipackage/mock/event.go
  components/director/internal/domain/apipackage/mock/package.go
  components/director/internal/domain/apipackage/resolver.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/document/resolver.go
  components/director/internal/domain/eventdef/resolver.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/graphql/api.go
  components/director/pkg/graphql/document.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/package.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update broker to new api (#769)
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/internal/broker/builder.go
  components/kyma-environment-broker/internal/broker/builder_test.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/query.go
Due: pre-master-compass-integration

Apply suggestions from code review
  components/provisioner/README.md
Due: none

Refactor code
  components/connectivity-adapter/internal/connectorservice/api/managementinfo.go
  components/connectivity-adapter/internal/connectorservice/api/signingrequestinfo.go
  components/connectivity-adapter/internal/connectorservice/connector.go
  components/director/internal/tenantmapping/mapper_for_system_auth.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add guards to enable external management of secrets (#811)
  chart/compass/charts/gateway/templates/gateway-certs-mtls.yaml
  chart/compass/charts/gateway/templates/gateway-certs.yaml
  chart/compass/charts/gateway/values.yaml
  chart/compass/charts/kyma-environment-broker/templates/secrets.yaml
  chart/compass/charts/kyma-environment-broker/values.yaml
  chart/compass/charts/provisioner/templates/gardener-creds-secret.yaml
  chart/compass/charts/provisioner/values.yaml
  chart/compass/templates/managed-postgresql-secret.yaml
  chart/compass/templates/tenant-fetcher-secret.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration

Update scopes
  chart/compass/charts/director/config.yaml
  components/director/hack/config-local.yaml
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Override unmarshaling for Cluster Config (#794)
  components/provisioner/internal/util/pointers.go
  components/provisioner/pkg/gqlschema/cluster_config.go
  components/provisioner/pkg/gqlschema/cluster_config_test.go
Due: none

remove comments before code merge
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/provisioning/hyperscaler/account_pool.go
  components/provisioner/internal/provisioning/hyperscaler/account_provider.go
Due: none

Enable fake clients in KEB
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/instance_last_operation_test.go
  components/kyma-environment-broker/internal/director/fake_client.go
  components/kyma-environment-broker/internal/provisioner/fake_client.go
Due: none

Merge two handlers into one
  components/connectivity-adapter/internal/connectorservice/api/info.go
  components/connectivity-adapter/internal/connectorservice/api/info_test.go
  components/connectivity-adapter/internal/connectorservice/api/managementinfo_test.go
  components/connectivity-adapter/internal/connectorservice/api/signingrequestinfo.go
  components/connectivity-adapter/internal/connectorservice/api/signingrequestinfo_test.go
  components/connectivity-adapter/internal/connectorservice/connector.go
  components/connectivity-adapter/internal/connectorservice/model/model.go
Due: none

Improve code
  chart/compass/values.yaml
  components/director/internal/domain/apiinstanceauth/resolver.go
  components/director/internal/domain/apipackage/mock/package.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Add required validation
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/package_validation.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Sync back compass chart changes from kyma
  chart/compass/charts/cockpit/OWNERS
  chart/compass/charts/cockpit/templates/compass-apps-microfrontend.yaml
  chart/compass/charts/cockpit/templates/compass-microfrontend.yaml
  chart/compass/charts/director/templates/tenant-loader-job.yaml
  chart/compass/charts/kyma-environment-broker/templates/app-config.yaml
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/templates/pre-upgrade-job.yaml
  chart/compass/templates/agent-configuration-job.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration

Do not use Tenant middleware on Playground endpoint
  components/provisioner/cmd/main.go
Due: none

Update and rename 04-01-runtime-components.md to 03-01-runtime-components.md
  components/kyma-environment-broker/README.md
  docs/kyma-environment-broker/03-02-runtime-components.md
  docs/kyma-environment-broker/04-01-runtime-components.md
Due: none

Add tests coverage for the opt components functionality
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Makefile
  components/kyma-environment-broker/internal/broker/broker_integration_test.go
  components/kyma-environment-broker/internal/broker/builder_test.go
  components/kyma-environment-broker/internal/broker/testdata/TestBrokerProvisioningScenario.golden.graphql
  components/kyma-environment-broker/internal/broker/testdata/managed-runtime-components.yaml
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
  components/kyma-environment-broker/internal/runtime/export_test.go
  components/kyma-environment-broker/internal/runtime/generic_component_disabler_test.go
  components/kyma-environment-broker/internal/runtime/loki_disabler_test.go
  components/kyma-environment-broker/internal/runtime/provider.go
  components/kyma-environment-broker/internal/runtime/provider_test.go
  components/kyma-environment-broker/internal/runtime/testdata/kyma-installer-cluster.yaml
  components/kyma-environment-broker/internal/storage/storage_test.go
Due: none

Update 03-02-runtime-components.md
  docs/kyma-environment-broker/03-02-runtime-components.md
Due: none
