Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pull-operations-controller-build, pull-connector-build, pull-director-build, pull-hydrator-build, pull-system-broker-build, pull-external-services-mock-build, pull-connectivity-adapter-build, pull-pairing-adapter-build, pull-gateway-build, pull-schema-migrator-build, pull-tests-build, post-operations-controller-build, post-connector-build, post-director-build, post-hydrator-build, post-system-broker-build, post-external-services-mock-build, post-connectivity-adapter-build, post-pairing-adapter-build, post-gateway-build, post-schema-migrator-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pull-connectivity-adapter-lint, pull-connectivity-adapter-unit-test, pull-connector-unit-test, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-compass-components-gateway, post-compass-components-gateway, pull-operations-controller-lint, pull-operations-controller-unit-test, pull-pairing-adapter-unit-test, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher, pull-director-lint, pull-director-unit-test, pull-hydrator-unit-test, pull-ias-adapter-build, pull-ias-adapter-unit-test, post-ias-adapter-build, pull-instance-creator-build, pull-instance-creator-lint, pull-instance-creator-unit-test, post-instance-creator-build, pull-kyma-adapter-build, pull-kyma-adapter-lint, pull-kyma-adapter-unit-test, post-kyma-adapter-build, pre-main-compass-director-gqlgen-validate, pull-schema-migrator-build-compass, post-schema-migrator-build-compass, pull-compass-checkconfig, pull-compass-pjconfigtest, pull-compass-pjtester, pull-compass-vpathguard

pull-operations-controller-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-operations-controller-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-connector-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-connector-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-director-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-director-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
      command:
  ...

pull-hydrator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-hydrator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
      command:
  ...

pull-system-broker-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-system-broker-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-external-services-mock-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-external-services-mock-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-connectivity-adapter-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-connectivity-adapter-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-pairing-adapter-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-pairing-adapter-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

post-external-services-mock-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-external-services-mock-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

bump values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

additional test fix
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  tests/director/tests/application/application_templates_subscription_test.go
  tests/ord-service/tests/api_test.go
  tests/ord-service/tests/main_test.go
Due: pull-tests-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

make linter happy
  components/director/internal/domain/formation/fixtures_test.go
  components/director/internal/domain/formationassignment/fixtures_test.go
  components/director/pkg/correlation/middleware.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

fix scope
  chart/compass/charts/hydrator/static-groups.yaml
  components/director/hack/config-local.yaml
  components/director/hack/jwt_generator.sh
Due: pull-director-build, post-director-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump, pre-main-compass-director-gqlgen-validate

manage assignment operations lifecycle
  components/director/cmd/director/main.go
  components/director/internal/domain/formation/service.go
  components/director/internal/formationmapping/handler.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Fix test to use same OU subaccount as in the certSecuredGraphQLClient (#3846)
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/values.yaml
  tests/director/tests/application/application_api_test.go
  tests/director/tests/application/application_templates_subscription_test.go
  tests/ord-service/tests/api_test.go
  tests/ord-service/tests/main_test.go
Due: pull-tests-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

make linter happy
  components/director/internal/domain/formation/fixtures_test.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formationassignment/fixtures_test.go
  components/director/internal/formationmapping/handler.go
  components/director/pkg/persistence/txtest/txtest.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Fix job name
  tests/director/tests/application/application_api_test.go
  tests/ord-service/tests/api_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

values
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

minor change
  components/director/internal/domain/formationassignment/fixtures_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

bump components versions
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
  components/connector/go.mod
  components/connector/go.sum
  components/default-tenant-mapping-handler/go.mod
  components/default-tenant-mapping-handler/go.sum
  components/external-services-mock/go.mod
  components/external-services-mock/go.sum
  components/gateway/go.mod
  components/gateway/go.sum
  components/hydrator/go.mod
  components/hydrator/go.sum
  components/instance-creator/go.mod
  components/instance-creator/go.sum
  components/kyma-adapter/go.mod
  components/kyma-adapter/go.sum
  components/operations-controller/go.mod
  components/operations-controller/go.sum
  components/pairing-adapter/go.mod
  components/pairing-adapter/go.sum
  tests/go.mod
  tests/go.sum
Due: pull-operations-controller-build, pull-connector-build, pull-hydrator-build, pull-external-services-mock-build, pull-connectivity-adapter-build, pull-pairing-adapter-build, pull-gateway-build, pull-tests-build, post-operations-controller-build, post-connector-build, post-hydrator-build, post-external-services-mock-build, post-connectivity-adapter-build, post-pairing-adapter-build, post-gateway-build, post-tests-build, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan, pull-instance-creator-build, post-instance-creator-build, pull-kyma-adapter-build, post-kyma-adapter-build

make linter happy
  components/director/internal/domain/formation/fixtures_test.go
  components/director/internal/domain/formationassignment/fixtures_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

swap variables
  tests/director/tests/application/application_api_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

Fix job name (#3848)
  chart/compass/values.yaml
  tests/director/tests/application/application_api_test.go
  tests/ord-service/tests/api_test.go
Due: pull-tests-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

adapt root_resolver
  components/director/internal/domain/root_resolver.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Fix region consumption of a system instance in the ORD Service calls (#3843)
  chart/compass/values.yaml
  components/schema-migrator/migrations/director/20240422143028_ord-fix-region-value-of-systems.down.sql
  components/schema-migrator/migrations/director/20240422143028_ord-fix-region-value-of-systems.up.sql
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, post-main-compass-vm-clean-with-dump, pull-schema-migrator-build-compass, post-schema-migrator-build-compass

Update config.go
  components/default-tenant-mapping-handler/internal/config/config.go
Due: none

finish operations in central place
  components/director/cmd/director/main.go
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formationassignment/resolver.go
  components/director/internal/domain/formationassignment/status_service.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/tenantfetchersvc/resync/builder.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

add e2e test
  tests/director/tests/application/application_api_test.go
  tests/go.mod
  tests/go.sum
  tests/pkg/fixtures/application_requests.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Revert "finish operations in central place"
  components/director/cmd/director/main.go
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formationassignment/resolver.go
  components/director/internal/domain/formationassignment/status_service.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/tenantfetchersvc/resync/builder.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

make imports and go mod tidy
  tests/director/tests/application/application_api_test.go
  tests/go.sum
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

remove operation creation in one unassign case
  components/director/internal/domain/formation/service.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

finish operations in central place - ProcessFormationAssignmentPair
  components/director/cmd/director/main.go
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/internal/domain/formationassignment/resolver.go
  components/director/internal/domain/formationassignment/service.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/tenantfetchersvc/resync/builder.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

encode consumer info in error message
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/apptemplate/resolver_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

make linter happy
  components/director/internal/domain/apptemplate/resolver_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Fix failing e2e tests
  tests/director/tests/application/application_api_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

bump components versions
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

adapt e2e test
  chart/compass/values.yaml
  tests/director/tests/application/application_templates_api_test.go
Due: pull-tests-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

fix test
  tests/ord-service/tests/api_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

Introduce Global Applications API (#3812)
  chart/compass/charts/director/config.yaml
  chart/compass/charts/hydrator/static-groups.yaml
  chart/compass/values.yaml
  components/director/hack/config-local.yaml
  components/director/hack/jwt_generator.sh
  components/director/internal/domain/application/automock/application_repository.go
  components/director/internal/domain/application/automock/application_service.go
  components/director/internal/domain/application/automock/application_with_tenants_converter.go
  components/director/internal/domain/application/automock/tenant_converter.go
  components/director/internal/domain/application/converter.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/application/repository_test.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/resolver_test.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/tenant/repository.go
  components/director/internal/model/application.go
  components/director/internal/repo/list.go
  components/director/internal/repo/testdb/generic_repo_create_tests.go
  components/director/internal/repo/testdb/generic_repo_list_pageable_tests.go
  components/director/pkg/graphql/graphqlizer/fields.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/pkg/tenant/entity.go
  tests/director/tests/application/application_api_test.go
  tests/go.mod
  tests/go.sum
  tests/pkg/fixtures/application_requests.go
Due: pull-director-build, pull-tests-build, post-director-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Remove some operations-controller alerts
  chart/compass/templates/additional-prometheus-rules.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Add global app read scope to tenant_discovery_operator
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Fix failing e2e tests (#3850)
  chart/compass/values.yaml
  tests/director/tests/application/application_api_test.go
  tests/ord-service/tests/api_test.go
Due: pull-tests-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

Add global app read scope to tenant_discovery_operator (#3851)
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

merge main branch
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
  components/connector/go.mod
  components/connector/go.sum
  components/default-tenant-mapping-handler/go.mod
  components/default-tenant-mapping-handler/go.sum
  components/gateway/go.mod
  components/gateway/go.sum
  components/instance-creator/go.mod
  components/instance-creator/go.sum
  components/kyma-adapter/go.mod
  components/kyma-adapter/go.sum
  components/operations-controller/go.mod
  components/operations-controller/go.sum
  components/pairing-adapter/go.mod
  components/pairing-adapter/go.sum
  tests/go.mod
  tests/go.sum
Due: pull-operations-controller-build, pull-connector-build, pull-connectivity-adapter-build, pull-pairing-adapter-build, pull-gateway-build, pull-tests-build, post-operations-controller-build, post-connector-build, post-connectivity-adapter-build, post-pairing-adapter-build, post-gateway-build, post-tests-build, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan, pull-instance-creator-build, post-instance-creator-build, pull-kyma-adapter-build, post-kyma-adapter-build

poc dest fetcher property
  components/director/internal/model/destination.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Path conditions:
  pull-operations-controller-build: any of: ^components/operations-controller/
  pull-connector-build: any of: ^components/connector/
  pull-director-build: any of: ^components/director/
  pull-hydrator-build: any of: ^components/hydrator/
  pull-system-broker-build: any of: ^components/system-broker/
  pull-external-services-mock-build: any of: ^components/external-services-mock/
  pull-connectivity-adapter-build: any of: ^components/connectivity-adapter/
  pull-pairing-adapter-build: any of: ^components/pairing-adapter/
  pull-gateway-build: any of: ^components/gateway/
  pull-schema-migrator-build: any of: ^components/schema-migrator/
  pull-tests-build: any of: ^tests/
  post-operations-controller-build: any of: ^components/operations-controller/
  post-connector-build: any of: ^components/connector/
  post-director-build: any of: ^components/director/
  post-hydrator-build: any of: ^components/hydrator/
  post-system-broker-build: any of: ^components/system-broker/
  post-external-services-mock-build: (any of: ^components/system-broker/) or (any of: ^components/external-services-mock/)
  post-connectivity-adapter-build: (any of: ^components/system-broker/) or (any of: ^components/connectivity-adapter/)
  post-pairing-adapter-build: any of: ^components/pairing-adapter/
  post-gateway-build: any of: ^components/gateway/
  post-schema-migrator-build: any of: ^components/schema-migrator/
  post-tests-build: any of: ^tests/
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration-test: any of: ^(chart|installation)/
  pre-main-compass-integration-with-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-main-compass-smoke-test: any of: ^(chart|installation)/
  pull-connectivity-adapter-lint: any of: ^components/connectivity-adapter/(.*\.go$|.golangcilint.yaml)
  pull-connectivity-adapter-unit-test: any of: ^components/connectivity-adapter/.*\.go$
  pull-connector-unit-test: any of: ^components/connector/.*\.go$
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pull-external-services-mock-lint: any of: ^components/external-services-mock/(.*\.go$|.golangcilint.yaml)
  pull-external-services-mock-unit-test: any of: ^components/external-services-mock/.*\.go$
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pull-operations-controller-lint: any of: ^components/operations-controller/(.*\.go$|.golangcilint.yaml)
  pull-operations-controller-unit-test: any of: ^components/operations-controller/.*\.go$
  pull-pairing-adapter-unit-test: any of: ^components/pairing-adapter/.*\.go$
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-main-compass-schema-migrator-validate: any of: ^components/schema-migrator/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-main-compass-vm-clean-with-dump: any of: ^(chart|installation)/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  pull-director-lint: any of: ^components/director/(.*\.go$|.golangcilint.yaml)
  pull-director-unit-test: any of: ^components/director/.*\.go$
  pull-hydrator-unit-test: any of: ^components/hydrator/.*\.go$
  pull-ias-adapter-build: any of: ^components/ias-adapter/
  pull-ias-adapter-unit-test: any of: ^components/ias-adapter/.*\.go$
  post-ias-adapter-build: any of: ^components/ias-adapter/
  pull-instance-creator-build: any of: ^components/instance-creator/
  pull-instance-creator-lint: any of: ^components/instance-creator/(.*\.go$|.golangcilint.yaml)
  pull-instance-creator-unit-test: any of: ^components/instance-creator/.*\.go$
  post-instance-creator-build: any of: ^components/instance-creator/
  pull-kyma-adapter-build: any of: ^components/kyma-adapter/
  pull-kyma-adapter-lint: any of: ^components/kyma-adapter/(.*\.go$|.golangcilint.yaml)
  pull-kyma-adapter-unit-test: any of: ^components/kyma-adapter/.*\.go$
  post-kyma-adapter-build: any of: ^components/kyma-adapter/
  pre-main-compass-director-gqlgen-validate: any of: ^components/director/
  pull-schema-migrator-build-compass: any of: ^components/schema-migrator/
  post-schema-migrator-build-compass: any of: ^components/schema-migrator/
  pull-compass-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-compass-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-compass-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-compass-vpathguard: any of: ^(vpath/pjtester.yaml)
