Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher, pre-compass-validate-inrepo-prow-configs

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  pre-compass-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)

Rename migrations for increasing short description size
  components/schema-migrator/migrations/director/20220921130000_ord_increase_short_description_size.down.sql
  components/schema-migrator/migrations/director/20220921130000_ord_increase_short_description_size.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

apply review comment
  components/director/pkg/config/selfreg_config.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Log the error in event resourceDefinition validation instead commenting it out
  components/director/internal/open_resource_discovery/validation.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

adapt test
  components/director/pkg/certloader/loader_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

go mod in connector
  components/connector/go.mod
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-provisioner-whitesource-scan

go gets
  components/connector/go.mod
  components/connector/go.sum
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-provisioner-whitesource-scan

go sum
  components/connector/go.sum
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-provisioner-whitesource-scan

Minor improvement
  components/director/internal/authenticator/claims/validator.go
  components/director/pkg/consumer/consumer.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

go sum
  components/operations-controller/go.sum
Due: pre-master-provisioner-whitesource-scan

adapt sys broker
  tests/pkg/testctx/broker/system_broker_testctx.go
Due: pre-compass-tests, post-compass-tests

adapt connector e2e test
  tests/connector/tests/main_test.go
Due: pre-compass-tests, post-compass-tests

Soften certain ORD aggregation validation rules temporarily for S/4 systems (#2641)
  chart/compass/values.yaml
  components/director/internal/open_resource_discovery/ord_document.go
  components/director/internal/open_resource_discovery/validation.go
  components/director/internal/open_resource_discovery/validation_test.go
  components/schema-migrator/migrations/director/20220921130000_ord_increase_short_description_size.down.sql
  components/schema-migrator/migrations/director/20220921130000_ord_increase_short_description_size.up.sql
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

adapt tests
  components/director/internal/info/handler.go
  components/director/pkg/auth/mtls_token_provider_test.go
  tests/director/bench/main_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

adapt e2e test
  tests/director/tests/formation_api_test.go
  tests/director/tests/info_api_test.go
Due: pre-compass-tests, post-compass-tests

Update values.yaml
  chart/compass/values.yaml
  components/director/internal/authenticator/claims/validator.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

adapt e2e test
  tests/istio/tests/request_payload_limit_test.go
  tests/ord-service/bench/main_test.go
  tests/ord-service/tests/api_test.go
Due: pre-compass-tests, post-compass-tests

Add wait for helm to scripts
  installation/scripts/install-compass.sh
  installation/scripts/install-db.sh
  installation/scripts/uninstall-compass.sh
  installation/scripts/utils.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

adaptations
  components/operations-controller/internal/utils/automock/certificate_cache.go
  components/operations-controller/internal/utils/clients_test.go
Due: none

Fix bug.
  tests/director/tests/application_api_test.go
Due: pre-compass-tests, post-compass-tests

adapt test
  components/operations-controller/internal/utils/clients_test.go
Due: none

imports
  components/operations-controller/internal/utils/clients.go
Due: none

Enrich self register labels for runtimes (#2640)
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/external-services-mock/templates/region-instances-credentials.yaml
  chart/compass/charts/external-services-mock/templates/saas-app-names-secret.yaml
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/values.yaml
  components/director/internal/domain/runtime/service_test.go
  components/director/internal/features/features.go
  components/director/internal/selfregmanager/selfreg_manager.go
  components/director/internal/selfregmanager/selfreg_manager_test.go
  components/director/internal/selfregmanager/testdata/TestSelfRegisterManager_PrepareRuntimeForSelfRegistration.golden
  components/director/internal/selfregmanager/testdata/TestSelfRegisterManager_SaaSAppName.golden
  components/director/pkg/config/selfreg_config.go
  components/director/run.sh
  installation/resources/compass-overrides-gke-benchmark.yaml
  installation/resources/compass-overrides-local.yaml
  tests/director/tests/formation_api_test.go
  tests/director/tests/main_test.go
  tests/director/tests/runtime_api_test.go
  tests/director/tests/runtime_contexts_api_test.go
  tests/ord-service/tests/main_test.go
  tests/ord-service/tests/subscription_flow_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

Fix e2e tests.
  tests/director/tests/application_api_test.go
  tests/director/tests/eventing_test.go
  tests/pkg/fixtures/application_requests.go
Due: pre-compass-tests, post-compass-tests

add $
  chart/compass/templates/tests/pairing-adapter/pairing-adapter-test.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

update director
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
  components/connector/go.mod
  components/connector/go.sum
  components/gateway/go.mod
  components/gateway/go.sum
  components/operations-controller/go.mod
  components/operations-controller/go.sum
  components/pairing-adapter/go.mod
  components/pairing-adapter/go.sum
  components/system-broker/go.mod
  components/system-broker/go.sum
  tests/go.mod
  tests/go.sum
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

go get
  components/connectivity-adapter/go.sum
  components/pairing-adapter/go.sum
  components/system-broker/go.sum
Due: pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-system-broker, post-compass-components-system-broker, pre-master-provisioner-whitesource-scan

hate this
  components/pairing-adapter/cmd/main.go
Due: pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter

Remove k3d installation from local director script
  components/director/run.sh
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

bump components versions
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Add separate regex for OU region
  chart/compass/charts/hydrator/templates/deployment.yaml
  chart/compass/charts/hydrator/values.yaml
  components/director/pkg/cert/certutils.go
  components/hydrator/cmd/main.go
  components/hydrator/go.sum
  components/hydrator/internal/subject/cert_subject.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Bump director version in hydrator
  components/hydrator/go.mod
  components/hydrator/go.sum
Due: pre-master-provisioner-whitesource-scan

update values.yaml and adapt a test
  chart/compass/values.yaml
  components/system-broker/pkg/director/client_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-system-broker, post-compass-components-system-broker

go get
  tests/go.sum
Due: pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Fix unit tests
  components/director/pkg/cert/certutils.go
  components/director/pkg/cert/certutils_test.go
  components/hydrator/internal/subject/cert_subject_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

chance certCache struct and adapt evertyhing around it
  chart/compass/charts/director/templates/deployment.yaml
  components/director/cmd/director/main.go
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/internal/domain/fetchrequest/service_test.go
  components/director/internal/info/handler.go
  components/director/internal/nsadapter/adapter/configuration.go
  components/director/internal/open_resource_discovery/client_test.go
  components/director/internal/open_resource_discovery/fixtures_test.go
  components/director/internal/selfregmanager/caller_provider.go
  components/director/internal/selfregmanager/caller_provider_test.go
  components/director/pkg/accessstrategy/cmp_mtls_access_strategy.go
  components/director/pkg/accessstrategy/executor_provider.go
  components/director/pkg/accessstrategy/open_access_strategy_test.go
  components/director/pkg/auth/clients.go
  components/director/pkg/auth/mtls_token_provider.go
  components/director/pkg/auth/mtls_token_provider_test.go
  components/director/pkg/auth/types.go
  components/director/pkg/certloader/cache.go
  components/director/pkg/certloader/loader.go
  components/director/pkg/certloader/loader_test.go
  components/director/pkg/config/selfreg_config.go
  components/director/pkg/oauth/config.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

revert k3d installation for the smoke test
  components/director/run.sh
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Bump director version
  components/hydrator/go.mod
  components/hydrator/go.sum
Due: pre-master-provisioner-whitesource-scan

reg mocks
  components/director/internal/domain/formation/automock/label_def_service.go
  components/director/internal/domain/labeldef/automock/service.go
  components/director/internal/domain/scenarioassignment/automock/scenarios_def_service.go
  components/director/pkg/auth/automock/certificate_cache.go
  components/operations-controller/internal/utils/automock/certificate_cache.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

adaptations for new certCache struct and other things + charts variables
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/operations-controller/templates/deployment.yaml
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
  components/operations-controller/cmd/main.go
  components/operations-controller/go.mod
  components/operations-controller/go.sum
  components/operations-controller/internal/config/config.go
  components/operations-controller/internal/utils/clients.go
  components/operations-controller/internal/utils/clients_test.go
  components/pairing-adapter/cmd/main.go
  components/pairing-adapter/go.mod
  components/pairing-adapter/go.sum
  components/pairing-adapter/internal/adapter/model.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-provisioner-whitesource-scan
