Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-cluster-infra:v20190528-8897828
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
          cpu: 50m
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-compass-tests-end-to-end:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-tests-end-to-end:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Fix dependencies
  components/provisioner/Gopkg.lock
  components/provisioner/Gopkg.toml
  components/provisioner/internal/hydroform/client.go
Due: none

Bump image of tests
  chart/compass/values.yaml
Due: pre-master-compass-integration

Fix image path
  chart/compass/values.yaml
Due: pre-master-compass-integration

Add missing fmt statement in tenantmapping handler (#356)
  chart/compass/values.yaml
  components/director/internal/tenantmapping/handler.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Change fields with helpers in repos to private
  components/director/internal/domain/api/repository.go
  components/director/internal/domain/apiruntimeauth/repository.go
  components/director/internal/domain/application/repository.go
  components/director/internal/domain/document/repository.go
  components/director/internal/domain/eventapi/repository.go
  components/director/internal/domain/fetchrequest/repository.go
  components/director/internal/domain/label/repository.go
  components/director/internal/domain/runtime/repository.go
  components/director/internal/domain/systemauth/repository.go
  components/director/internal/domain/webhook/repository.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Adjust to Cloud SQL
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/requirements.yaml
  components/provisioner/cmd/main.go
  components/provisioner/internal/database/schema_initializer.go
Due: pre-master-compass-integration

Model updated to the newest version
  components/provisioner/Gopkg.lock
  components/provisioner/Gopkg.toml
  components/provisioner/internal/model/types.go
  components/provisioner/internal/persistence/repository.go
  components/provisioner/internal/persistence/runtime.go
Due: none

Fix initialization check
  components/provisioner/internal/database/schema_initializer.go
Due: none

Remove tenant middleware from gateway
  components/gateway/cmd/main.go
  components/gateway/internal/tenant/tenant.go
  components/gateway/internal/tenant/tenant_test.go
Due: none

Bump gateway
  chart/compass/values.yaml
Due: pre-master-compass-integration

Align doc
  chart/compass/configure-managed-gcp-postgresql.md
Due: pre-master-compass-integration

gopkg fix
  components/gateway/Gopkg.lock
Due: none

Goimports fix
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/hydroform/client.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/persistence/dberrors/types_test.go
  components/provisioner/internal/persistence/repository.go
Due: none

Remove tenant middleware from gateway component (#363)
  chart/compass/values.yaml
  components/gateway/Gopkg.lock
  components/gateway/cmd/main.go
  components/gateway/internal/tenant/tenant.go
  components/gateway/internal/tenant/tenant_test.go
Due: pre-master-compass-integration

Provisioning switched to new model
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/hydroform/client.go
  components/provisioner/internal/model/types.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: none

Prepare database schema for Provisioner (#352)
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/postgresql/templates/init-db-config-map.yaml
  chart/compass/charts/postgresql/templates/secrets.yaml
  chart/compass/charts/postgresql/values.yaml
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/values.yaml
  chart/compass/configure-managed-gcp-postgresql.md
  chart/compass/requirements.yaml
  chart/compass/templates/managed-postgresql-secret.yaml
  chart/compass/templates/migrator-job.yaml
  chart/compass/values.yaml
  components/provisioner/Dockerfile
  components/provisioner/Gopkg.lock
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/mockresolver.go
  components/provisioner/internal/database/schema_initializer.go
  components/provisioner/pkg/gqlschema/additional_properties.go
  components/provisioner/pkg/gqlschema/cluster_config.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/test/apitests/apitests_test.go
  tests/provisioner-tests/test/testkit/graphqlizer.go
  tests/provisioner-tests/test/testkit/query.go
Due: pre-master-compass-integration

Unit tests added
  components/provisioner/Gopkg.lock
  components/provisioner/internal/api/mockresolver_test.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/hydroform/mocks/Client.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/persistence/mocks/OperationService.go
  components/provisioner/internal/persistence/mocks/RuntimeService.go
Due: none

Persistence component added and model updated.
  components/provisioner/Gopkg.lock
  components/provisioner/Gopkg.toml
  components/provisioner/internal/api/mockresolver_test.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/database/schema_initializer.go
  components/provisioner/internal/hydroform/client.go
  components/provisioner/internal/hydroform/mocks/Client.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/persistence/dberrors/types.go
  components/provisioner/internal/persistence/dberrors/types_test.go
  components/provisioner/internal/persistence/mocks/OperationService.go
  components/provisioner/internal/persistence/mocks/RuntimeService.go
  components/provisioner/internal/persistence/operation.go
  components/provisioner/internal/persistence/repository.go
  components/provisioner/internal/persistence/runtime.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: none

Return null instead of an error on single item queries and review the API consistency
  components/director/internal/domain/api/service.go
  components/director/internal/domain/api/service_test.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/document/service.go
  components/director/internal/domain/document/service_test.go
  components/director/internal/domain/eventapi/service.go
  components/director/internal/domain/eventapi/service_test.go
  components/director/internal/domain/labeldef/repository.go
  components/director/internal/domain/labeldef/resolver.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/repo/create.go
  components/director/internal/repo/create_test.go
  components/director/internal/repo/get.go
  components/director/internal/repo/get_test.go
  components/director/internal/repo/update.go
  components/director/internal/repo/update_test.go
  components/director/internal/repo/upsert.go
  components/director/internal/repo/upsert_test.go
  components/director/pkg/apperrors/errors.go
  components/director/pkg/apperrors/errors_test.go
  components/director/pkg/graphql/schema.graphql
Due: pre-master-compass-components-director, post-master-compass-components-director

Add the identifiers back in
  chart/compass/values.yaml
  components/director/internal/domain/application/service.go
  components/director/internal/repo/create.go
  components/director/internal/repo/get.go
  components/director/internal/repo/get_test.go
  components/director/internal/repo/update.go
  components/director/internal/repo/update_test.go
  components/director/internal/repo/upsert.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Move the error checking from resolvers to services
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/domain/label/repository.go
  components/director/internal/domain/labeldef/repository_test.go
  components/director/internal/domain/labeldef/resolver.go
  components/director/internal/domain/labeldef/resolver_test.go
  components/director/internal/domain/labeldef/service.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Remove error checking from application service
  components/director/internal/domain/application/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Remove todo
  components/director/internal/domain/application/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Move the logic back to resolvers
  components/connector/Gopkg.lock
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/domain/labeldef/resolver.go
  components/director/internal/domain/labeldef/resolver_test.go
  components/director/internal/domain/labeldef/service.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/service.go
Due: pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director

Fix end to end tests
  components/director/internal/domain/labeldef/repository.go
  tests/end-to-end/director/application_api_test.go
  tests/end-to-end/director/runtime_api_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Fix goimports
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/labeldef/resolver.go
  components/director/internal/domain/labeldef/resolver_test.go
  components/director/internal/domain/runtime/resolver.go
  components/director/pkg/apperrors/errors.go
Due: pre-master-compass-components-director, post-master-compass-components-director

format imports
  components/director/internal/domain/api/service.go
  components/director/internal/domain/api/service_test.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/domain/document/service.go
  components/director/internal/domain/document/service_test.go
  components/director/internal/domain/eventapi/service.go
  components/director/internal/domain/eventapi/service_test.go
  components/director/internal/domain/label/repository.go
  components/director/internal/domain/labeldef/repository.go
  components/director/internal/domain/labeldef/repository_test.go
  components/director/internal/domain/labeldef/resolver.go
  components/director/internal/domain/labeldef/service.go
  components/director/internal/domain/runtime/service.go
  components/director/internal/repo/create.go
  components/director/internal/repo/create_test.go
  components/director/internal/repo/get.go
  components/director/internal/repo/get_test.go
  components/director/internal/repo/update.go
  components/director/internal/repo/update_test.go
  components/director/internal/repo/upsert.go
  components/director/internal/repo/upsert_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix unit tests
  components/director/internal/domain/labeldef/repository_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Implemented setting provisioning status
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/internal/database/schema_initializer.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/persistence/repository.go
  components/provisioner/internal/persistence/runtime.go
Due: none

Model updated
  components/provisioner/internal/model/types.go
  components/provisioner/internal/persistence/repository.go
Due: none

Update alpine base image to 3.10
  components/connector/Dockerfile
  components/director/Dockerfile
  components/gateway/Dockerfile
  components/healthchecker/Dockerfile
  components/provisioner/Dockerfile
  components/schema-migrator/Dockerfile
  tests/connector-tests/Dockerfile
  tests/end-to-end/Dockerfile
  tests/provisioner-tests/Dockerfile
Due: pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Bump images in chart
  chart/compass/values.yaml
Due: pre-master-compass-integration

Retries and tests added
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

Fix e2e build
  tests/end-to-end/gen-examples.sh
Due: pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

deps updated
  components/provisioner/Gopkg.lock
Due: none

Fix gen examples sh
  tests/end-to-end/gen-examples.sh
Due: pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Some small fixes
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/database/schema_initializer.go
  components/provisioner/internal/persistence/repository.go
  components/provisioner/internal/persistence/runtime.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

Imports fixed
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

Bump e2e image version
  chart/compass/values.yaml
Due: pre-master-compass-integration

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
