Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/

Added test definition in chart
  chart/compass/charts/connectivity-adapter/templates/deployment.yaml
  chart/compass/charts/connectivity-adapter/templates/oathkeeper-rules.yaml
  chart/compass/charts/connectivity-adapter/templates/service.yaml
  chart/compass/charts/connectivity-adapter/templates/tests/role-binding.yaml
  chart/compass/charts/connectivity-adapter/templates/tests/service-account.yaml
  chart/compass/charts/connectivity-adapter/templates/tests/test-connector.yaml
  chart/compass/values.yaml
  components/connectivity-adapter/internal/connector/graphql/client.go
Due: pre-master-compass-integration

Update codeowners
  CODEOWNERS
Due: none

Add rest of the parameters
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

fix after review
  components/connectivity-adapter/internal/appregistry/service/converter.go
  components/connectivity-adapter/internal/appregistry/service/converter_test.go
Due: none

After review
  CODEOWNERS
Due: none

Test invoked by Octopus
  chart/compass/charts/connectivity-adapter/templates/tests/role-binding.yaml
  chart/compass/charts/connectivity-adapter/templates/tests/test-connector.yaml
Due: pre-master-compass-integration

add DefaultTenant to pass to HAP
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/provisioning/converters/input_converter_test.go
  components/provisioner/internal/provisioning/hyperscaler/account_pool.go
  components/provisioner/internal/provisioning/hyperscaler/account_provider.go
  components/provisioner/internal/provisioning/hyperscaler/account_provider_test.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

fix merge conflicts
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
Due: none

fix merge conflicts
  components/provisioner/internal/provisioning/service_test.go
Due: none

down to 2 TODOs
  components/provisioner/cmd/init.go
Due: none

update go modules files (changes from Intellij module sync)
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: none

after running make fmt
  components/provisioner/cmd/init.go
  components/provisioner/internal/provisioning/hyperscaler/account_pool.go
  components/provisioner/internal/provisioning/hyperscaler/account_provider.go
  components/provisioner/internal/provisioning/hyperscaler/account_provider_test.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

Adjustments to chart
  chart/compass/charts/connectivity-adapter/templates/policy.yaml
  chart/compass/charts/connectivity-adapter/templates/service.yaml
Due: pre-master-compass-integration

wip
  components/director/pkg/graphql/api_validation.go
  components/director/pkg/graphql/api_validation_test.go
  components/director/pkg/graphql/app_template_validation.go
  components/director/pkg/graphql/app_validation.go
  components/director/pkg/graphql/event_api_validation.go
  components/director/pkg/graphql/integrationsys_validation.go
  components/director/pkg/graphql/runtime_validation.go
  components/director/pkg/inputvalidation/validators_map_test.go
  components/director/pkg/inputvalidation/validators_string.go
  components/director/pkg/inputvalidation/validators_string_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

wip
  chart/compass/values.yaml
Due: pre-master-compass-integration

wip
  components/director/pkg/graphql/api_validation_test.go
  components/director/pkg/graphql/event_api_validation.go
  components/director/pkg/graphql/event_api_validation_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Code review remarks
  components/connectivity-adapter/internal/connector/api.go
  components/connectivity-adapter/internal/connector/connector.go
  components/connectivity-adapter/internal/connector/eventservicebaseurl.go
  components/connectivity-adapter/internal/connector/model/model.go
Due: none

Code review remarks
  chart/compass/charts/connectivity-adapter/templates/deployment.yaml
  components/connectivity-adapter/README.md
  components/connectivity-adapter/internal/connector/connector.go
Due: pre-master-compass-integration

Converter graphql <-> REST types (#716)
  components/connectivity-adapter/internal/appregistry/service/converter.go
  components/connectivity-adapter/internal/appregistry/service/converter_test.go
Due: none

Connectivity Adapter: Generating certs with token (#658)
  chart/compass/charts/connectivity-adapter/templates/deployment.yaml
  chart/compass/values.yaml
  components/connectivity-adapter/README.md
  components/connectivity-adapter/cmd/main.go
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
  components/connectivity-adapter/internal/connector/api/certificates.go
  components/connectivity-adapter/internal/connector/api/certificates_test.go
  components/connectivity-adapter/internal/connector/api/managementinfo.go
  components/connectivity-adapter/internal/connector/api/managementinfo_test.go
  components/connectivity-adapter/internal/connector/api/middlewares/authorization.go
  components/connectivity-adapter/internal/connector/api/middlewares/authorization_test.go
  components/connectivity-adapter/internal/connector/api/middlewares/automock/runtime_base_url_provider.go
  components/connectivity-adapter/internal/connector/api/middlewares/baseurls.go
  components/connectivity-adapter/internal/connector/api/middlewares/baseurls_test.go
  components/connectivity-adapter/internal/connector/api/middlewares/context.go
  components/connectivity-adapter/internal/connector/api/signinginforequestinfo_test.go
  components/connectivity-adapter/internal/connector/api/signingrequestinfo.go
  components/connectivity-adapter/internal/connector/connector.go
  components/connectivity-adapter/internal/connector/eventservicebaseurl.go
  components/connectivity-adapter/internal/connector/graphql/automock/client.go
  components/connectivity-adapter/internal/connector/graphql/client.go
  components/connectivity-adapter/internal/connector/graphql/converter.go
  components/connectivity-adapter/internal/connector/graphql/query.go
  components/connectivity-adapter/internal/connector/model/model.go
  components/connectivity-adapter/pkg/apperrors/apperrors.go
Due: pre-master-compass-integration

Support app name in adapter paths
  chart/compass/charts/connectivity-adapter/templates/oathkeeper-rules.yaml
Due: pre-master-compass-integration

Fix pre-upgrade job in keb chart
  chart/compass/charts/kyma-environment-broker/templates/pre-upgrade-job.yaml
Due: pre-master-compass-integration

documentation update
  docs/compass/03-input-validation.md
Due: none

DetailsToGraphQLInput changed to DetailsToConvertedServiceDetails
  components/connectivity-adapter/internal/appregistry/service/converter.go
  components/connectivity-adapter/internal/appregistry/service/converter_test.go
Due: none

DetailsToGraphQLInput changed to DetailsToConvertedServiceDetails
  components/connectivity-adapter/internal/appregistry/service/converter.go
Due: none

First version of renewal and revocation
  components/connectivity-adapter/internal/connector/api.go
  components/connectivity-adapter/internal/connector/api/certificates_test.go
  components/connectivity-adapter/internal/connector/api/internaltoken.go
  components/connectivity-adapter/internal/connector/api/managementinfo_test.go
  components/connectivity-adapter/internal/connector/api/revocations.go
  components/connectivity-adapter/internal/connector/api/signinginforequestinfo_test.go
  components/connectivity-adapter/internal/connector/graphql/automock/client.go
  components/connectivity-adapter/internal/connector/graphql/client.go
  components/connectivity-adapter/internal/connector/graphql/errors.go
  components/connectivity-adapter/internal/connector/graphql/query.go
Due: none

Save and Load Application Details in context
  components/connectivity-adapter/internal/appregistry/appdetails/app.go
  components/connectivity-adapter/internal/appregistry/appdetails/app_test.go
  components/connectivity-adapter/internal/appregistry/appdetails/middleware.go
Due: none

Fix pre-upgrade job in keb chart (#724)
  chart/compass/charts/kyma-environment-broker/templates/pre-upgrade-job.yaml
Due: pre-master-compass-integration

Update KEB codeowners (#722)
  CODEOWNERS
Due: none

Apply suggestions from code review
  components/kyma-environment-broker/internal/storage/dbsession/read.go
  components/kyma-environment-broker/internal/storage/dbsession/write.go
Due: none

wip
  docs/compass/03-input-validation.md
Due: none

Postreview changes
  components/provisioner/internal/director/directorclient.go
Due: none

Update docs/compass/03-input-validation.md
  docs/compass/03-input-validation.md
Due: none

After review
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
Due: none

Improve code
  components/connectivity-adapter/internal/appregistry/appdetails/app.go
  components/connectivity-adapter/internal/appregistry/appdetails/app_test.go
Due: none

Bump image
  chart/compass/values.yaml
Due: pre-master-compass-integration

Save and Load Application Details in context (#729)
  components/connectivity-adapter/internal/appregistry/appdetails/app.go
  components/connectivity-adapter/internal/appregistry/appdetails/app_test.go
  components/connectivity-adapter/internal/appregistry/appdetails/middleware.go
Due: none

Postmerge adjusts
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/validator_test.go
  components/provisioner/internal/director/directorclient.go
  components/provisioner/internal/director/directorclient_test.go
  components/provisioner/internal/director/mocks/DirectorClient.go
  components/provisioner/internal/director/model.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

Make API name validation to allow ASCII printable chars (#710)
  chart/compass/values.yaml
  components/director/pkg/graphql/api_validation.go
  components/director/pkg/graphql/api_validation_test.go
  components/director/pkg/graphql/app_template_validation.go
  components/director/pkg/graphql/app_validation.go
  components/director/pkg/graphql/event_api_validation.go
  components/director/pkg/graphql/event_api_validation_test.go
  components/director/pkg/graphql/integrationsys_validation.go
  components/director/pkg/graphql/runtime_validation.go
  components/director/pkg/inputvalidation/validators_map_test.go
  components/director/pkg/inputvalidation/validators_string.go
  components/director/pkg/inputvalidation/validators_string_test.go
  docs/compass/03-input-validation.md
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

during service test fixing
  components/director/internal/domain/eventing/converter_test.go
  components/director/internal/domain/eventing/fixtures_test.go
  components/director/internal/domain/eventing/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director
