Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

pre-main-compass-development-artifacts:
  labels:
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-development-artifacts-bucket: 'true'
    preset-sa-gcr-push: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
  ...

pre-main-compass-gke-benchmark:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-gke-benchmark
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-cluster-version: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-gke-integration: 'true'
  ...

pre-main-compass-gke-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-gke-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-cluster-version: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-gke-integration: 'true'
  ...

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-main-compass-integration-no-dump:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-integration-no-dump
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-main-compass-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

update director component version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

fix typos (#2345)
  chart/compass/values.yaml
  tests/pairing-adapter/tests/mtls_flow_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-tests, post-compass-tests

Merge labels
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/root_resolver.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Use helm upgrade instead of helm install
  installation/scripts/install-compass.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

[HOTFIX] Fixing pairing adapter and add new E2E test (#2347)
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/director/templates/rbac.yaml
  chart/compass/charts/pairing-adapter/templates/adapters-configmap.yaml
  chart/compass/templates/tests/pairing-adapter/pairing-adapter-test.yaml
  chart/compass/values.yaml
  components/director/cmd/director/main.go
  components/director/go.sum
  components/director/internal/domain/onetimetoken/service.go
  components/director/internal/domain/onetimetoken/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/adapters/adapters.go
  components/director/pkg/config/pairing_adapter.go
  components/director/pkg/kubernetes/automock/watcher.go
  components/director/pkg/kubernetes/watcher.go
  components/director/run.sh
  installation/resources/installer-config-gke-benchmark.yaml.tpl
  tests/pairing-adapter/tests/mtls_flow_test.go
  tests/pkg/config/pairing-adapter.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

fix typo
  components/director/internal/domain/application/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

update e2e test version in values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Add header to unsubscribe requests in test
  components/external-services-mock/internal/subscription/handler.go
  tests/ord-service/tests/subscription_flow_test.go
Due: pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests

Fix wrong gql request.
  components/director/pkg/graphql_client/director_client.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix wrong propagated provider subaccount in e2e test.
  tests/ord-service/tests/subscription_flow_test.go
Due: pre-compass-tests, post-compass-tests

Support label merge
  components/director/internal/domain/application/automock/label_repository.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Cleanup script
  components/director/run.sh
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix unit tests in external services mock. Add new unit tests.
  components/external-services-mock/internal/subscription/handler_test.go
Due: pre-compass-components-external-services-mock, post-compass-components-external-services-mock

Update base url for ucl systems (#2343)
  chart/compass/values.yaml
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/application/converter.go
  components/director/internal/domain/application/converter_test.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/service_test.go
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  tests/director/tests/application_api_test.go
  tests/go.mod
  tests/go.sum
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

migration WIP
  chart/compass/values.yaml
  components/schema-migrator/migrations/director/20220412121333_runtime_context_as_top_level_entity.down.sql
  components/schema-migrator/migrations/director/20220412121333_runtime_context_as_top_level_entity.up.sql
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Revert migration WIP
  chart/compass/values.yaml
  components/schema-migrator/migrations/director/20220412121333_runtime_context_as_top_level_entity.down.sql
  components/schema-migrator/migrations/director/20220412121333_runtime_context_as_top_level_entity.up.sql
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Tenant fecther deployment jobs e2e tests
  tests/tenant-fetcher-job/tests/handler_test.go
Due: pre-compass-tests, post-compass-tests

remove group configuration from director
  chart/compass/charts/director/static-groups.yaml
  chart/compass/charts/director/templates/configmap-static-groups.yaml
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/director/values.yaml
  components/director/run.sh
  docs/compass/03-01-security.md
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

[HOTFIX] Remove group configuration from director
  chart/compass/charts/director/static-groups.yaml
  chart/compass/charts/director/templates/configmap-static-groups.yaml
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/director/values.yaml
  chart/compass/values.yaml
  components/director/run.sh
  docs/compass/03-01-security.md
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add annotation to hydrator deployment
  chart/compass/charts/hydrator/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Update e2e tests
  components/director/internal/domain/application/automock/label_repository.go
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  tests/director/tests/application_api_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

remove unused code
  components/director/internal/domain/application/fixtures_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Get latest dest app
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add label for 5mb limit
  chart/compass/charts/hydrator/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Fix error message
  components/director/internal/domain/apptemplate/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

spaces -> tabs
  components/director/pkg/graphql/graphqlizer/fields.go
  components/director/pkg/graphql/graphqlizer/graphqlizer.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

update go.mod and go.sum
  tests/go.mod
  tests/go.sum
Due: pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Add test
  installation/scripts/prow/ord-test.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Quote token and make curl silent
  installation/scripts/prow/ord-test.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Adjust token
  components/director/hack/jwt_generator.sh
  installation/scripts/prow/ord-test.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Splits in token
  installation/scripts/prow/ord-test.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

GQL query file adjustments
  installation/scripts/prow/ord-test.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Curl should not be always silent
  installation/scripts/prow/ord-test.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Adjust paths
  installation/scripts/prow/ord-test.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Adjust paths 2
  installation/scripts/prow/ord-test.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Do not use file for GQL Query
  installation/scripts/prow/ord-test.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Fix checks
  installation/scripts/prow/ord-test.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
