Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/

Handle deletion of application - remove runtime labels
  components/director/internal/domain/application/automock/eventing_service.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/resolver_test.go
  components/director/internal/domain/eventing/automock/label_repository.go
  components/director/internal/domain/eventing/service.go
  components/director/internal/domain/eventing/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

bump
  chart/compass/values.yaml
Due: pre-master-compass-integration

Configuration in installation
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/cmd/init.go
  components/provisioner/go.mod
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/installation_test.go
  components/provisioner/internal/installation/mocks/ArtifactsProvider.go
  components/provisioner/internal/installation/mocks/Service.go
  components/provisioner/internal/model/kyma_config.go
  components/provisioner/internal/persistence/testutils/database.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/internal/provisioning/persistence/service.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: none

Handle deletion of application - remove runtime eventing labels (#572)
  chart/compass/values.yaml
  components/director/internal/domain/application/automock/eventing_service.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/resolver_test.go
  components/director/internal/domain/eventing/automock/label_repository.go
  components/director/internal/domain/eventing/service.go
  components/director/internal/domain/eventing/service_test.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Replace enum with string
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/installation/installation_test.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: none

Fix for registration job
  chart/compass/charts/provisioner/templates/registration-job.yaml
Due: pre-master-compass-integration

Fix run.sh script
  installation/cmd/run.sh
Due: pre-master-compass-integration

Fix run.sh script (#576)
  installation/cmd/run.sh
Due: pre-master-compass-integration

fixes of graphQL call of registration of intergation system
  chart/compass/charts/provisioner/templates/registration-job.yaml
Due: pre-master-compass-integration

Fix in rolebinding
  chart/compass/charts/provisioner/templates/registration-job.yaml
Due: pre-master-compass-integration

Add TWs as CODEOWNERS of all .md files
  CODEOWNERS
Due: none

Fix validation for Event Definition spec
  components/director/pkg/graphql/event_api_validation.go
  components/director/pkg/graphql/event_api_validation_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump image
  chart/compass/values.yaml
Due: pre-master-compass-integration

Fix docs
  docs/architecture/input-validation.md
Due: none

^^'
  CODEOWNERS
Due: none

Final fix I hope
  CODEOWNERS
Due: none

Add TWs as CODEOWNERS of all .md files (#580)
  CODEOWNERS
Due: none

Fix validation for Event Definition spec (#579)
  chart/compass/values.yaml
  components/director/pkg/graphql/event_api_validation.go
  components/director/pkg/graphql/event_api_validation_test.go
  docs/architecture/input-validation.md
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Fix in rolebinding
  components/provisioner/internal/oauth/client.go
Due: none

Formatting fixed
  components/provisioner/internal/provisioning/service.go
Due: none

fixing mocking error
  components/provisioner/internal/provisioning/service_test.go
Due: none

Move Connector docs from the components directory to the main docs directory
  docs/connector/02-01-connector-service.md
  docs/connector/08-01-establish-secure-connection-with-compass.md
  docs/connector/08-02-maintain-secure-connection-with-compass.md
  docs/connector/08-03-revoke-client-certificate.md
  docs/connector/assets/001-connection-flow.svg
Due: none

Move and modify tutorial for establishing secure connection
  components/connector/docs/02-01-connector-service.md
  components/connector/docs/08-01-establish-secure-connection-with-compass.md
  docs/tutorials/08-01-establish-secure-connection-with-compass.md
  docs/tutorials/08-02-maintain-secure-connection-with-compass.md
Due: pre-master-compass-components-connector, post-master-compass-components-connector

Move and modify tutorial for maintaining secure connection and renewing client certificate
  docs/tutorials/08-01-establish-secure-connection-with-compass.md
  docs/tutorials/08-02-maintain-secure-connection-with-compass.md
Due: none

Add certificate revocation tutorial
  docs/tutorials/08-02-maintain-secure-connection-with-compass.md
  docs/tutorials/08-03-revoke-client-certificate.md
Due: none

Apply review suggestions: change metadata to H1 headers
  docs/connector/08-01-establish-secure-connection-with-compass.md
  docs/connector/08-02-maintain-secure-connection-with-compass.md
  docs/connector/08-03-revoke-client-certificate.md
Due: none

Apply review suggestions: reorder prerequisites
  docs/connector/08-02-maintain-secure-connection-with-compass.md
  docs/connector/08-03-revoke-client-certificate.md
Due: none

Apply review suggestions: remove redundant links
  docs/connector/08-01-establish-secure-connection-with-compass.md
  docs/connector/08-02-maintain-secure-connection-with-compass.md
  docs/connector/08-03-revoke-client-certificate.md
Due: none

Apply review suggestions: fix Compass version requirement formatting
  docs/connector/08-01-establish-secure-connection-with-compass.md
  docs/connector/08-02-maintain-secure-connection-with-compass.md
  docs/connector/08-03-revoke-client-certificate.md
Due: none

Apply review suggestions
  docs/connector/08-01-establish-secure-connection-with-compass.md
  docs/connector/08-02-maintain-secure-connection-with-compass.md
Due: none

Apply review suggestion: Emphasize the need for connection-token header in the call
  docs/connector/08-01-establish-secure-connection-with-compass.md
Due: none

Apply review suggestions
  docs/connector/08-01-establish-secure-connection-with-compass.md
Due: none

wip
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

wip
  components/director/internal/domain/eventing/automock/eventing_service.go
  components/director/internal/domain/eventing/resolver.go
  components/director/internal/domain/eventing/resolver_test.go
  components/director/internal/domain/root_resolver.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add eventing config in gql
  chart/compass/charts/director/config.yaml
  chart/compass/charts/director/static-users.yaml
  chart/compass/values.yaml
  components/director/examples/README.md
  components/director/examples/register-application/delete-default-eventing-for-application.graphql
  components/director/examples/register-application/set-default-eventing-for-application.graphql
  components/director/hack/config-local.yaml
  components/director/internal/domain/eventing/automock/eventing_service.go
  components/director/internal/domain/eventing/fixtures_test.go
  components/director/internal/domain/eventing/resolver.go
  components/director/internal/domain/eventing/resolver_test.go
  components/director/internal/domain/eventing/service.go
  components/director/internal/domain/eventing/service_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/repository.go
  components/director/pkg/graphql/application.go
  components/director/pkg/graphql/runtime.go
  tests/end-to-end/Gopkg.lock
  tests/end-to-end/Gopkg.toml
  tests/end-to-end/director/eventing_test.go
  tests/end-to-end/director/fixtures_queries_test.go
  tests/end-to-end/director/fixtures_request_test.go
  tests/end-to-end/director/testctx.go
  tests/end-to-end/gen-examples.sh
  tests/end-to-end/pkg/gql/fields.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

wip
  chart/compass/values.yaml
Due: pre-master-compass-integration

wip
  tests/end-to-end/run.sh
Due: pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

wip
  chart/compass/templates/e2e-compass-test.yaml
  components/director/internal/domain/eventing/automock/eventing_service.go
  components/director/internal/domain/eventing/resolver.go
  components/director/internal/domain/eventing/resolver_test.go
  components/director/internal/domain/eventing/service.go
  components/director/internal/domain/eventing/service_test.go
  components/director/internal/domain/root_resolver.go
  tests/end-to-end/director/application_api_test.go
  tests/end-to-end/director/eventing_test.go
  tests/end-to-end/director/oauth20_test.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

wip
  components/director/internal/domain/runtime/repository_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director
