Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher, pre-compass-validate-inrepo-prow-configs

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  pre-compass-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)

make imports
  components/director/cmd/director/main.go
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/internal/domain/formation/notifications.go
  components/director/internal/domain/formation/service.go
  components/director/internal/tenantfetchersvc/resync/builder.go
  components/external-services-mock/internal/notification/handler.go
  tests/pkg/fixtures/formation_assignment_queries.go
  tests/pkg/fixtures/formation_assignment_requests.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests

format the code
  components/director/internal/open_resource_discovery/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Fix long-living DB transactions in ORD Aggregator (#2663)
  chart/compass/values.yaml
  components/director/internal/open_resource_discovery/automock/application_service.go
  components/director/internal/open_resource_discovery/interfaces.go
  components/director/internal/open_resource_discovery/service.go
  components/director/internal/open_resource_discovery/service_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Set timeout for tenant destination sync
  components/director/cmd/destinationfetcher-svc/main.go
  components/director/internal/destinationfetchersvc/client.go
  components/director/internal/destinationfetchersvc/syncjob.go
  components/director/pkg/cronjob/cronjob.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

bump version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

fix running sync on duplicate tenants
  components/director/internal/domain/tenant/repository.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fixes
  components/director/pkg/cronjob/cronjob.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Log progress for synced tenants
  chart/compass/charts/destination-fetcher/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/cmd/destinationfetcher-svc/main.go
  components/director/internal/destinationfetchersvc/syncjob.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Improve logs
  components/director/internal/destinationfetchersvc/client.go
  components/director/internal/destinationfetchersvc/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add more logs for testing
  components/director/internal/destinationfetchersvc/client.go
  components/director/internal/destinationfetchersvc/service.go
  components/director/internal/destinationfetchersvc/syncjob.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Refactor logs
  chart/compass/values.yaml
  components/director/cmd/destinationfetcher-svc/main.go
  components/director/internal/destinationfetchersvc/client.go
  components/director/internal/destinationfetchersvc/client_test.go
  components/director/internal/destinationfetchersvc/handler.go
  components/director/internal/destinationfetchersvc/service.go
  components/director/internal/destinationfetchersvc/syncjob.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix fetching dest pages
  components/director/internal/destinationfetchersvc/client.go
  components/director/internal/destinationfetchersvc/client_test.go
  components/director/internal/destinationfetchersvc/service.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Make log relative to timeout
  components/director/internal/destinationfetchersvc/client.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Improvements
  components/director/internal/destinationfetchersvc/service.go
  components/director/internal/destinationfetchersvc/syncjob.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add additional logs to test (to be removed)
  components/director/internal/destinationfetchersvc/client.go
  components/director/internal/destinationfetchersvc/syncjob.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix duplicate code
  components/director/internal/destinationfetchersvc/client.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add x-request-id to outbound requests
  components/director/internal/destinationfetchersvc/client.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add correlation ID, log pages count
  components/director/internal/destinationfetchersvc/client.go
  components/director/internal/destinationfetchersvc/syncjob.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Improve logs
  components/director/internal/destinationfetchersvc/service.go
  components/director/internal/destinationfetchersvc/syncjob.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix tests
  components/director/internal/destinationfetchersvc/service_test.go
  components/director/internal/destinationfetchersvc/syncjob.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Add test for zero page response from destination service
  components/director/internal/destinationfetchersvc/service.go
  components/director/internal/destinationfetchersvc/service_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Log long destination calls
  components/director/internal/destinationfetchersvc/client.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Apply comments
  components/director/internal/destinationfetchersvc/handler.go
  components/director/internal/destinationfetchersvc/syncjob.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

determine assignFormation state
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formationassignment/automock/formation_assignment_repository.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Adjust the certificate used for ext svc
  chart/compass/charts/director/templates/ext-svc-certificate-rotation-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Adjust values
  chart/compass/charts/director/templates/ext-svc-certificate-rotation-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Adjust the certificate used for communication with Ext service
  chart/compass/charts/director/templates/ext-svc-certificate-rotation-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Update ext-svc-certificate-rotation-job.yaml
  chart/compass/charts/director/templates/ext-svc-certificate-rotation-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Adjust the certificate used for communication with Ext service (#2667)
  chart/compass/charts/director/templates/ext-svc-certificate-rotation-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Adjust the certificate used for communication with Ext service (#2668)
  chart/compass/charts/director/templates/ext-svc-certificate-rotation-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Set timeout for tenant destination sync (#2653)
  chart/compass/charts/destination-fetcher/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/cmd/destinationfetcher-svc/main.go
  components/director/internal/destinationfetchersvc/client.go
  components/director/internal/destinationfetchersvc/client_test.go
  components/director/internal/destinationfetchersvc/handler.go
  components/director/internal/destinationfetchersvc/service.go
  components/director/internal/destinationfetchersvc/service_test.go
  components/director/internal/destinationfetchersvc/syncjob.go
  components/director/internal/domain/tenant/repository.go
  components/director/pkg/cronjob/cronjob.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Bump director version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

debug
  components/director/internal/domain/formation/notifications.go
  components/director/internal/domain/formation/service.go
  components/director/pkg/webhook/types.go
  components/director/pkg/webhook_client/client.go
  components/external-services-mock/internal/notification/handler.go
  tests/director/tests/formation_api_test.go
  tests/go.sum
  tests/pkg/fixtures/formation_assignment_queries.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Set timeout for tenant destination sync (#2653) (#2669)
  chart/compass/charts/destination-fetcher/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/cmd/destinationfetcher-svc/main.go
  components/director/internal/destinationfetchersvc/client.go
  components/director/internal/destinationfetchersvc/client_test.go
  components/director/internal/destinationfetchersvc/handler.go
  components/director/internal/destinationfetchersvc/service.go
  components/director/internal/destinationfetchersvc/service_test.go
  components/director/internal/destinationfetchersvc/syncjob.go
  components/director/internal/domain/tenant/repository.go
  components/director/pkg/cronjob/cronjob.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

enrich current e2e tests
  components/director/internal/domain/formation/service.go
  components/director/pkg/webhook/types.go
  components/director/pkg/webhook_client/client.go
  tests/director/tests/formation_api_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests

add formation assignments e2e test
  components/director/internal/domain/formation/notifications.go
  components/director/internal/domain/formation/service.go
  components/director/pkg/webhook_client/client.go
  components/external-services-mock/cmd/main.go
  tests/director/tests/formation_api_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-tests, post-compass-tests

move creating and maintenance of formation assignments to formation assaignment service
  components/director/cmd/director/main.go
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formationassignment/service.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/tenantfetchersvc/resync/builder.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

remove webhook validation
  components/director/pkg/webhook/types.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director
