Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20190823-24e14d1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-master-compass-integration-stable-cli:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20190823-24e14d1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-tests-end-to-end:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

wip
  components/director/internal/authenticator/middleware_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Annotations based on seeds instead of regions (#1276)
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/testdata/config.json
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/gardener/shoot_controller.go
  components/provisioner/internal/gardener/shoot_reconciler.go
Due: none

Update tests/director/external-services-mock-integration/README.md
  tests/director/external-services-mock-integration/README.md
Due: none

review fixes
  chart/compass/templates/gateway-auditlog-integration-test.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Allow configuring multiple SPs in IAS. Configure SP for SKR dex (#1261)
  components/kyma-environment-broker/internal/ias/automock/bundle.go
  components/kyma-environment-broker/internal/ias/automock/bundle_builder.go
  components/kyma-environment-broker/internal/ias/builder.go
  components/kyma-environment-broker/internal/ias/bundle.go
  components/kyma-environment-broker/internal/ias/bundle_test.go
  components/kyma-environment-broker/internal/ias/client.go
  components/kyma-environment-broker/internal/ias/client_test.go
  components/kyma-environment-broker/internal/ias/fake_client.go
  components/kyma-environment-broker/internal/ias/input.go
  components/kyma-environment-broker/internal/ias/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/ias_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/ias_deregistration_test.go
  components/kyma-environment-broker/internal/process/provisioning/ias_registration.go
  components/kyma-environment-broker/internal/process/provisioning/ias_registration_test.go
  components/kyma-environment-broker/internal/process/provisioning/ias_type.go
  components/kyma-environment-broker/internal/process/provisioning/ias_type_test.go
Due: none

Refactor test due to review suggestions
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/compass/director/oauth/client.go
  tests/provisioner-tests/test/testkit/config.go
Due: pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

bump image version
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

review fixes
  installation/scripts/testing-auditlog-temp.sh
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Run dep ensure
  tests/provisioner-tests/Gopkg.lock
Due: pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

remove unsused values
  chart/compass/charts/kyma-environment-broker/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Apply suggestions from code review
  docs/director/10-01-troubleshooting.md
Due: none

Revert "bump image version"
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

correctly bump image version
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Bump Provisioner image version (#1284)
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Fix config
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
Due: none

Auditlog integration tests (#1250)
  chart/compass/templates/gateway-auditlog-integration-test.yaml
  chart/compass/values.yaml
  components/external-services-mock/go.mod
  components/external-services-mock/go.sum
  components/external-services-mock/internal/auditlog/configurationchange/handler.go
  installation/resources/minikube-values.yaml
  installation/scripts/testing-auditlog-temp.sh
  tests/director/Dockerfile
  tests/director/external-services-mock-integration/README.md
  tests/director/external-services-mock-integration/auditlog_integration_test.go
  tests/director/external-services-mock-integration/fixtures_queries.go
  tests/director/external-services-mock-integration/fixtures_request.go
  tests/director/external-services-mock-integration/test_main_test.go
  tests/director/external-services-mock-integration/testctx.go
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-provisioner-whitesource-scan

Update Director with provisioning Runtime information (#1222)
  chart/compass/values.yaml
  components/director/internal/domain/runtime/converter.go
  components/director/internal/domain/runtime/converter_test.go
  components/director/internal/model/runtime.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_integration_with_hydroform_test.go
  components/provisioner/internal/director/directorclient.go
  components/provisioner/internal/director/directorclient_test.go
  components/provisioner/internal/director/mocks/DirectorClient.go
  components/provisioner/internal/director/model.go
  components/provisioner/internal/director/query.go
  components/provisioner/internal/gardener/annotations.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/shoot_reconciler.go
  components/provisioner/internal/gardener/step_provisioning_failed_step.go
  components/provisioner/internal/gardener/step_provisioning_in_progress.go
  components/provisioner/internal/gardener/step_provisioning_initial.go
  components/provisioner/internal/graphql/gql_client_testkit.go
  components/provisioner/internal/operations/executor.go
  components/provisioner/internal/operations/executor_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/wait_for_agent_to_connect.go
  components/provisioner/internal/operations/stages/wait_for_agent_to_connect_test.go
  components/schema-migrator/migrations/director/202004220821_alter_runtimes_status_condition.down.sql
  components/schema-migrator/migrations/director/202004220821_alter_runtimes_status_condition.up.sql
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Remove fork from dependencies
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: pre-master-provisioner-whitesource-scan

Update Director PKG to master
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: pre-master-provisioner-whitesource-scan

Add troubleshooting for Application default eventing (#1283)
  docs/director/10-01-troubleshooting.md
  docs/director/default-eventing-for-application.md
Due: none

Add Runtime labeling acceptance test (#1252)
  chart/compass/charts/provisioner/templates/tests/test-provisioner.yaml
  chart/compass/charts/provisioner/values.yaml
  chart/compass/values.yaml
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/Makefile
  tests/provisioner-tests/scripts/run_localy.sh
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/main_test.go
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/compass/director/client.go
  tests/provisioner-tests/test/testkit/compass/director/oauth/client.go
  tests/provisioner-tests/test/testkit/compass/director/oauth/client_test.go
  tests/provisioner-tests/test/testkit/compass/director/oauth/types.go
  tests/provisioner-tests/test/testkit/compass/director/oauth/types_test.go
  tests/provisioner-tests/test/testkit/compass/director/query.go
  tests/provisioner-tests/test/testkit/config.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

after review
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step.go
  components/kyma-environment-broker/internal/storage/storage.go
Due: none

Remove fork from Provisioner dependencies (#1285)
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: pre-master-provisioner-whitesource-scan

Update scripts/generic_make_go.mk
  scripts/generic_make_go.mk
Due: pre-compass-components-gateway, post-compass-components-gateway, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

Refactor Make targets
  scripts/generic_make_go.mk
Due: pre-compass-components-gateway, post-compass-components-gateway, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

Add redeploy Makefile rule
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
  scripts/generic_make_go.mk
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

Forbid Minikube redeployment of Schema Migrator
  components/schema-migrator/Makefile
Due: none

Remove import
  components/provisioner/internal/gardener/provisioner_test.go
Due: none

fix runtimeID log context
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime.go
Due: none

improve provisioning log
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
Due: none

add runtimeID context to checking the last operation steps
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
Due: none

Add missing quotes in certain error test expectations
  components/director/internal/domain/onetimetoken/coverter_test.go
  components/director/internal/model/eventing_test.go
  components/director/internal/runtimemapping/token_verifier_test.go
  components/director/internal/tenantfetcher/client_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update Dockerfiles for each Compaass component to use Go 1.14
  components/connectivity-adapter/Dockerfile
  components/connector/Dockerfile
  components/director/Dockerfile
  components/external-services-mock/Dockerfile
  components/gateway/Dockerfile
  components/healthchecker/Dockerfile
  components/kyma-environment-broker/Dockerfile
  components/provisioner/Dockerfile
  tests/connectivity-adapter/Dockerfile
  tests/connector-tests/Dockerfile
  tests/director/Dockerfile
  tests/e2e/provisioning/Dockerfile
  tests/provisioner-tests/Dockerfile
Due: pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

Update buildpack-golang-toolbox Docker image in Compass components
  components/connectivity-adapter/Makefile
  components/connector/Makefile
  components/director/Makefile
  components/external-services-mock/Makefile
  components/gateway/Makefile
  components/healthchecker/Makefile
  components/kyma-environment-broker/Makefile
  components/pairing-adapter/Makefile
  components/provisioner/Makefile
  components/schema-migrator/Makefile
  tests/connectivity-adapter/Makefile
  tests/connector-tests/Makefile
  tests/director/Makefile
  tests/e2e/provisioning/Makefile
Due: pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway

Update Compass chart to reference the latest PR
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Update Provisioner Makefile buildpack to PR image
  components/provisioner/Makefile
Due: none

Update Provisioner Makefile buildpack to newest buildpack-golang-kubebuilder2 image
  components/provisioner/Makefile
Due: none

Build Compass components with Go 1.14 (#1270)
  chart/compass/values.yaml
  components/connectivity-adapter/Dockerfile
  components/connectivity-adapter/Makefile
  components/connector/Dockerfile
  components/connector/Makefile
  components/director/Dockerfile
  components/director/Makefile
  components/director/internal/domain/onetimetoken/coverter_test.go
  components/director/internal/model/eventing_test.go
  components/director/internal/runtimemapping/token_verifier_test.go
  components/director/internal/tenantfetcher/client_test.go
  components/external-services-mock/Dockerfile
  components/external-services-mock/Makefile
  components/gateway/Dockerfile
  components/gateway/Makefile
  components/healthchecker/Dockerfile
  components/healthchecker/Makefile
  components/kyma-environment-broker/Dockerfile
  components/kyma-environment-broker/Makefile
  components/pairing-adapter/Makefile
  components/provisioner/Dockerfile
  components/provisioner/Makefile
  components/schema-migrator/Makefile
  tests/connectivity-adapter/Dockerfile
  tests/connectivity-adapter/Makefile
  tests/connector-tests/Dockerfile
  tests/connector-tests/Makefile
  tests/director/Dockerfile
  tests/director/Makefile
  tests/e2e/provisioning/Dockerfile
  tests/e2e/provisioning/Makefile
  tests/provisioner-tests/Dockerfile
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

Provide Make targets for Minikube local development (#1272)
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
  components/schema-migrator/Makefile
  scripts/generic_make_go.mk
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

Path conditions:
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-integration-stable-cli: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
