Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

pre-main-compass-development-artifacts:
  labels:
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-development-artifacts-bucket: 'true'
    preset-sa-gcr-push: 'true'
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
  ...

pre-main-compass-gke-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-gke-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-cluster-version: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-gke-integration: 'true'
  ...

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-main-compass-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-compass-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-connector:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-provisioner-whitesource-scan:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/wssagent:v20200325-924b0a14
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

Initial commit
  chart/compass/charts/director/templates/tenant-loader-cronjob-external.yaml
  chart/compass/charts/director/templates/tenant-loader-job-default.yaml
  chart/compass/templates/ord-aggregator-job.yaml
  chart/compass/templates/system-fetcher-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Use the correct unix timestamp format in requests
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantfetcher/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update components version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Initial commit (#1968)
  chart/compass/charts/director/templates/tenant-loader-cronjob-external.yaml
  chart/compass/charts/director/templates/tenant-loader-job-default.yaml
  chart/compass/templates/ord-aggregator-job.yaml
  chart/compass/templates/system-fetcher-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Update README.md
  components/schema-migrator/README.md
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Use the correct unix timestamp format in requests (#1969)
  chart/compass/values.yaml
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantfetcher/service_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

adjust migration version
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

commit transaction
  components/director/internal/healthz/ready.go
  components/director/internal/healthz/ready_test.go
  tests/go.sum
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Refactor existing code
  components/director/internal/authenticator_fetcher/claims.go
  components/director/internal/authenticator_fetcher/middleware.go
  components/director/internal/authenticator_fetcher/middleware_test.go
  components/director/internal/tenant/handler.go
  components/director/internal/tenantfetcher/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add distinct in SA flow
  components/schema-migrator/migrations/director/20210730100823_add_tenant_mapping_views.up.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Improve migration script arguments
  chart/compass/templates/migrator-down-job.yaml
  chart/compass/templates/migrator-job.yaml
  chart/compass/values.yaml
  components/schema-migrator/run.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Add pv path to migration script args
  chart/compass/templates/migrator-down-job.yaml
  chart/compass/templates/migrator-job.yaml
  components/schema-migrator/run.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Add defer in system-broker test
  tests/go.sum
  tests/system-broker/tests/auth_test.go
Due: pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

add job to upadate expected schema version
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/templates/configmap-schema-version.yaml
  chart/compass/templates/update-schema-version-configmap-job.yaml
  chart/compass/templates/update-schema-version-configmap-pvc.yaml
  chart/compass/values.yaml
  components/schema-migrator/Dockerfile
  components/schema-migrator/update-migration-version.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

adjust PR number
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Down migrations (#1948)
  chart/compass/templates/migrator-down-job.yaml
  chart/compass/templates/migrator-job.yaml
  chart/compass/templates/migrator-pvc.yaml
  chart/compass/values.yaml
  components/schema-migrator/Dockerfile
  components/schema-migrator/README.md
  components/schema-migrator/run.sh
  components/schema-migrator/validate.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

copy script into image
  components/schema-migrator/Dockerfile
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

add pre-install annotation to resources
  chart/compass/templates/configmap-schema-version.yaml
  chart/compass/templates/update-schema-version-configmap-job.yaml
  chart/compass/templates/update-schema-version-configmap-pvc.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

add service account
  chart/compass/templates/update-schema-version-configmap-job.yaml
  components/schema-migrator/update-migration-version.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

rename resources, modify job args
  chart/compass/templates/expected-schema-version-configmap.yaml
  chart/compass/templates/migrator-job.yaml
  chart/compass/templates/update-expected-schema-version-job.yaml
  chart/compass/templates/update-schema-version-configmap-pvc.yaml
  chart/compass/values.yaml
  components/schema-migrator/Dockerfile
  components/schema-migrator/update-expected-schema-version.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

fix script name
  chart/compass/templates/update-expected-schema-version-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

fix cm name
  chart/compass/charts/director/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

configure ord-service to get expected schema version from configmap
  chart/compass/charts/ord-service/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

configure job to be triggered pre-upgrade
  chart/compass/templates/expected-schema-version-configmap.yaml
  chart/compass/templates/migrator-job.yaml
  chart/compass/templates/update-expected-schema-version-job.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

remove migrator job annotations
  chart/compass/templates/migrator-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

add managed by label
  chart/compass/templates/migrator-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

fix template
  chart/compass/templates/migrator-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Fix more late defers.
  tests/connector/tests/hydrator_api_test.go
  tests/director/tests/application_api_test.go
  tests/director/tests/integration_system_api_test.go
  tests/external-services-mock/tests/async_api_delete_test.go
Due: pre-compass-tests, post-compass-tests

remove labels
  chart/compass/templates/migrator-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

add delete policy
  chart/compass/templates/update-expected-schema-version-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

add pre-rollback hook to resources and modify delete policy of the job
  chart/compass/templates/update-expected-schema-version-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

update buildpacks
  components/connectivity-adapter/Makefile
  components/connector/Makefile
  components/director/Makefile
  components/external-services-mock/Makefile
  components/gateway/Makefile
  components/pairing-adapter/Makefile
  components/schema-migrator/Makefile
  components/system-broker/Makefile
  components/tenant-fetcher/Makefile
  tests/Makefile
  tests/connectivity-adapter/Makefile
  tests/connector/Makefile
  tests/director/Makefile
  tests/external-services-mock/Makefile
  tests/gateway/Makefile
  tests/istio/Makefile
  tests/operations-controller/Makefile
  tests/ord-aggregator/Makefile
  tests/ord-service/Makefile
  tests/system-broker/Makefile
  tests/system-fetcher/Makefile
  tests/tenant-fetcher/Makefile
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Bump PR versions
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

update deps
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
  components/connector/go.mod
  components/connector/go.sum
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/oauth20/service.go
  components/external-services-mock/go.mod
  components/external-services-mock/go.sum
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

update buildpack
  components/operations-controller/Makefile
Due: none

Fix identation
  chart/compass/templates/migrator-down-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Fix identation (#1973)
  chart/compass/templates/migrator-down-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Extend leader election role of operations controller to access leases
  chart/compass/charts/operations-controller/templates/rbac.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
