Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-integration-stable-cli: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

Timeout for test increased
  tests/provisioner-tests/scripts/entrypoint.sh
Due: pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

Certificate chain order changed
  components/connector/internal/certificates/service.go
  components/connector/internal/certificates/service_test.go
Due: pre-master-compass-components-connector, post-master-compass-components-connector

fix transaction log in tenant mapping
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/handler_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

remove not used code
  components/director/internal/tenantmapping/handler_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Apply suggestions from code review
  chart/compass/OWNERS
  chart/compass/charts/director/templates/service-monitor.yaml
  chart/compass/charts/director/templates/service.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Provisioning timeout increased
  tests/provisioner-tests/test/provisioner/suite.go
Due: pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

Image updated
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Acceptance test for certificate order added
  tests/connector-tests/test/apitests/apitests_test.go
Due: none

Refactor charts
  chart/compass/charts/connector/templates/certs-setup-job.yaml
  chart/compass/charts/connector/templates/certs-setup-role-binding.yaml
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/charts/connector/templates/role-binding.yaml
  chart/compass/charts/connector/templates/tests/role-binding.yaml
  chart/compass/charts/connector/templates/tests/test-connector.yaml
  chart/compass/charts/connector/values.yaml
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/templates/role-binding.yaml
  chart/compass/charts/provisioner/templates/tests/test-provisioner.yaml
  chart/compass/charts/provisioner/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Delete resource after the hook is successfully executed
  chart/compass/charts/connector/templates/certs-setup-job.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Connector test image updated
  chart/compass/values.yaml
  tests/connector-tests/test/apitests/apitests_test.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add signal and executor in director to remove dependency to kyma
  components/director/cmd/director/main.go
  components/director/go.mod
  components/director/go.sum
  components/director/pkg/executor/executor.go
  components/director/pkg/executor/executor_test.go
  components/director/pkg/signal/signal.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Minor refactor in Connector acceptance tests
  tests/connector-tests/test/apitests/apitests_test.go
  tests/connector-tests/test/testkit/certificates.go
Due: none

Change connectivity adapter to fork
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
Due: pre-master-provisioner-whitesource-scan

Get local director
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
Due: pre-master-provisioner-whitesource-scan

Fix transtaction rollback log (#1378)
  chart/compass/values.yaml
  components/director/cmd/tenantloader/main.go
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/resolver_test.go
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/internal/domain/document/resolver.go
  components/director/internal/domain/document/resolver_test.go
  components/director/internal/domain/eventdef/resolver.go
  components/director/internal/domain/eventdef/resolver_test.go
  components/director/internal/domain/eventing/resolver.go
  components/director/internal/domain/integrationsystem/resolver.go
  components/director/internal/domain/integrationsystem/resolver_test.go
  components/director/internal/domain/labeldef/resolver.go
  components/director/internal/domain/labeldef/resolver_test.go
  components/director/internal/domain/oauth20/resolver.go
  components/director/internal/domain/onetimetoken/resolver.go
  components/director/internal/domain/package/resolver.go
  components/director/internal/domain/package/resolver_test.go
  components/director/internal/domain/packageinstanceauth/resolver.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/resolver_test.go
  components/director/internal/domain/scenarioassignment/resolver.go
  components/director/internal/domain/systemauth/resolver.go
  components/director/internal/domain/tenant/resolver.go
  components/director/internal/domain/webhook/resolver.go
  components/director/internal/runtimemapping/handler.go
  components/director/internal/statusupdate/handler.go
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantmapping/handler.go
  components/director/internal/tenantmapping/handler_test.go
  components/director/pkg/persistence/automock/transactioner.go
  components/director/pkg/persistence/persistence.go
  components/director/pkg/persistence/txtest/txtest.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

add sql mapping and implemented in get and create
  components/director/cmd/director/main.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/repo/create.go
  components/director/internal/repo/get.go
  components/director/pkg/customerrors/builder.go
  components/director/pkg/customerrors/converter.go
  components/director/pkg/customerrors/error_codes.go
  components/director/pkg/customerrors/errors.go
  components/director/pkg/customerrors/graphql_errors.go
  components/director/pkg/customerrors/internal.go
  components/director/pkg/customerrors/internal_test.go
  components/director/pkg/customerrors/middleware.go
  components/director/pkg/customerrors/presenter.go
  components/director/pkg/customerrors/resolver.go
  components/director/pkg/customerrors/sql_mapper.go
  components/director/pkg/graphql/app_validation.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/director/pkg/persistence/const.go
  components/director/pkg/tmp_resolver/resolver.go
Due: pre-master-compass-components-director, post-master-compass-components-director

apply suggestions from review
  components/director/README.md
  components/director/cmd/director/main.go
  components/director/pkg/customerrors/builder.go
  components/director/pkg/customerrors/consts.go
  components/director/pkg/customerrors/error_codes.go
  components/director/pkg/customerrors/errors.go
  components/director/pkg/customerrors/middleware.go
  components/director/pkg/customerrors/panic_handler.go
  components/director/pkg/customerrors/presenter.go
  components/director/pkg/customerrors/sql_mapper.go
  components/director/pkg/graphql/app_validation.go
  components/director/pkg/tmp_resolver/resolver.go
  docs/internal/proposals/error-handling/error-handling.md
Due: pre-master-compass-components-director, post-master-compass-components-director

add doc which describe error handling flow
  docs/internal/proposals/error-handling/error-handling.md
  docs/internal/proposals/error-handling/error-handling.svg
Due: none

wip
  components/director/cmd/director/main.go
  components/director/go.sum
  components/director/hack/config-local.yaml
  components/director/internal/domain/root_resolver.go
  components/director/pkg/customerrors/converter.go
  components/director/pkg/customerrors/graphql_errors.go
  components/director/pkg/customerrors/internal.go
  components/director/pkg/customerrors/internal_test.go
  components/director/pkg/customerrors/middleware.go
  components/director/pkg/customerrors/presenter.go
  components/director/pkg/customerrors/resolver.go
  components/director/pkg/customerrors/status_codes.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

fix total count field
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/integrationsystem/resolver.go
  components/director/internal/domain/package/resolver.go
  components/director/internal/model/businesstenantmapping.go
Due: pre-master-compass-components-director, post-master-compass-components-director

bump image
  chart/compass/values.yaml
  components/director/internal/domain/application/resolver.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

refactor
  components/director/cmd/director/main.go
  components/director/go.mod
  components/director/pkg/customerrors/consts.go
  components/director/pkg/customerrors/errors.go
  components/director/pkg/customerrors/errortype_string.go
  components/director/pkg/customerrors/panic_handler.go
  components/director/pkg/customerrors/presenter.go
  components/director/pkg/customerrors/sql_mapper.go
  docs/internal/proposals/error-handling/error-handling.md
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Fix total count in the Director domains (#1398)
  chart/compass/values.yaml
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/integrationsystem/resolver.go
  components/director/internal/domain/package/resolver.go
  components/director/internal/model/businesstenantmapping.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

Initial version
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/templates/metrics-policy.yaml
  chart/compass/charts/provisioner/templates/service-monitor.yaml
  chart/compass/charts/provisioner/templates/service.yaml
  chart/compass/charts/provisioner/values.yaml
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/internal/metrics/in_progress_operations.go
  components/provisioner/internal/metrics/in_progress_operations_test.go
  components/provisioner/internal/metrics/metrics.go
  components/provisioner/internal/metrics/mocks/OperationsStatsGetter.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadWriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-provisioner-whitesource-scan

Add dashboard
  chart/compass/charts/provisioner/templates/dashboard.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Format
  components/provisioner/cmd/main.go
  components/provisioner/internal/metrics/in_progress_operations.go
  components/provisioner/internal/metrics/in_progress_operations_test.go
Due: none

Fix dashboard
  chart/compass/charts/provisioner/templates/dashboard.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

fix
  tests/director/api/integration_system_api_test.go
Due: none

Don't bump director in connectivity-adapter yet
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
Due: pre-master-provisioner-whitesource-scan

fix
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Run make imports
  components/director/cmd/director/main.go
Due: pre-master-compass-components-director, post-master-compass-components-director

fix
  tests/director/api/assertions.go
  tests/director/api/integration_system_api_test.go
  tests/director/gen-examples.sh
Due: none

fix
  tests/director/api/assertions.go
Due: none

Move dashboard to files directory
  chart/compass/charts/provisioner/files/dashboard.json
  chart/compass/charts/provisioner/templates/dashboard.yaml
  chart/compass/requirements.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

refactor
  components/director/internal/repo/create.go
  components/director/internal/repo/get.go
  components/director/pkg/customerrors/builder.go
  components/director/pkg/customerrors/consts.go
  components/director/pkg/customerrors/errors.go
  components/director/pkg/customerrors/errortype_string.go
  components/director/pkg/customerrors/panic_handler.go
  components/director/pkg/customerrors/presenter.go
  components/director/pkg/customerrors/sql_mapper.go
  components/director/pkg/tmp_resolver/resolver.go
  docs/internal/proposals/error-handling/error-handling.md
Due: pre-master-compass-components-director, post-master-compass-components-director

Remove uua-instance removing step from e2e test
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  chart/compass/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
  tests/e2e/provisioning/Gopkg.lock
  tests/e2e/provisioning/pkg/client/runtime/runtime_client.go
  tests/e2e/provisioning/test/test_suite.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

remove docs
  docs/internal/proposals/error-handling/error-handling.md
  docs/internal/proposals/error-handling/error-handling.svg
Due: none
