Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pull-operations-controller-build, pull-connector-build, pull-director-build, pull-hydrator-build, pull-system-broker-build, pull-external-services-mock-build, pull-connectivity-adapter-build, pull-pairing-adapter-build, pull-gateway-build, pull-schema-migrator-build, pull-tests-build, post-operations-controller-build, post-connector-build, post-director-build, post-hydrator-build, post-system-broker-build, post-external-services-mock-build, post-connectivity-adapter-build, post-pairing-adapter-build, post-gateway-build, post-schema-migrator-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pull-connectivity-adapter-lint, pull-connectivity-adapter-unit-test, pull-connector-unit-test, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-compass-components-gateway, post-compass-components-gateway, pull-operations-controller-lint, pull-operations-controller-unit-test, pull-pairing-adapter-unit-test, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher, pull-compass-checkconfig, pull-compass-pjconfigtest, pull-compass-pjtester, pull-compass-vpathguard

Path conditions:
  pull-operations-controller-build: any of: ^components/operations-controller/
  pull-connector-build: any of: ^components/connector/
  pull-director-build: any of: ^components/director/
  pull-hydrator-build: any of: ^components/hydrator/
  pull-system-broker-build: any of: ^components/system-broker/
  pull-external-services-mock-build: any of: ^components/external-services-mock/
  pull-connectivity-adapter-build: any of: ^components/connectivity-adapter/
  pull-pairing-adapter-build: any of: ^components/pairing-adapter/
  pull-gateway-build: any of: ^components/gateway/
  pull-schema-migrator-build: any of: ^components/schema-migrator/
  pull-tests-build: any of: ^tests/
  post-operations-controller-build: any of: ^components/operations-controller/
  post-connector-build: any of: ^components/connector/
  post-director-build: any of: ^components/director/
  post-hydrator-build: any of: ^components/hydrator/
  post-system-broker-build: any of: ^components/system-broker/
  post-external-services-mock-build: (any of: ^components/system-broker/) or (any of: ^components/external-services-mock/)
  post-connectivity-adapter-build: (any of: ^components/system-broker/) or (any of: ^components/connectivity-adapter/)
  post-pairing-adapter-build: any of: ^components/pairing-adapter/
  post-gateway-build: any of: ^components/gateway/
  post-schema-migrator-build: any of: ^components/schema-migrator/
  post-tests-build: any of: ^tests/
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration-test: any of: ^(chart|installation)/
  pre-main-compass-integration-with-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-main-compass-smoke-test: any of: ^(chart|installation)/
  pull-connectivity-adapter-lint: any of: ^components/connectivity-adapter/(.*\.go$|.golangcilint.yaml)
  pull-connectivity-adapter-unit-test: any of: ^components/connectivity-adapter/.*\.go$
  pull-connector-unit-test: any of: ^components/connector/.*\.go$
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pull-external-services-mock-lint: any of: ^components/external-services-mock/(.*\.go$|.golangcilint.yaml)
  pull-external-services-mock-unit-test: any of: ^components/external-services-mock/.*\.go$
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pull-operations-controller-lint: any of: ^components/operations-controller/(.*\.go$|.golangcilint.yaml)
  pull-operations-controller-unit-test: any of: ^components/operations-controller/.*\.go$
  pull-pairing-adapter-unit-test: any of: ^components/pairing-adapter/.*\.go$
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-main-compass-schema-migrator-validate: any of: ^components/schema-migrator/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-main-compass-vm-clean-with-dump: any of: ^(chart|installation)/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  pull-compass-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-compass-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-compass-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-compass-vpathguard: any of: ^(vpath/pjtester.yaml)

Fix aggregate handler, add handler unit tests
  components/director/cmd/ordaggregator/main.go
  components/director/internal/open_resource_discovery/automock/operations_manager.go
  components/director/internal/open_resource_discovery/handler.go
  components/director/internal/open_resource_discovery/handler_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix channels
  components/director/cmd/ordaggregator/main.go
  components/director/internal/open_resource_discovery/handler.go
  components/director/internal/open_resource_discovery/handler_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix channels 2
  components/director/cmd/ordaggregator/main.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add timestamp to migration to fix tests
  components/schema-migrator/migrations/director/20230913103035_add-global-disable-loop-notifications-constraint.up.sql
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

fix channels 3
  components/director/cmd/ordaggregator/main.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

logs
  components/director/pkg/auth-middleware/middleware.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

test
  chart/compass/values.yaml
  components/hydrator/internal/tenantmapping/authenticator_context_provider.go
Due: pull-hydrator-build, post-hydrator-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

add new ctx provider
  components/hydrator/internal/tenantmapping/demo_ctx_provider.go
  components/hydrator/internal/tenantmapping/handler.go
Due: pull-hydrator-build, post-hydrator-build

add new ctx provider
  components/hydrator/internal/tenantmapping/demo_ctx_provider.go
  components/hydrator/pkg/tenantmapping/const.go
Due: pull-hydrator-build, post-hydrator-build

add new ctx provider
  components/hydrator/internal/tenantmapping/handler.go
Due: pull-hydrator-build, post-hydrator-build

add new ctx provider
  components/hydrator/internal/tenantmapping/authenticator_context_provider.go
  components/hydrator/internal/tenantmapping/handler.go
Due: pull-hydrator-build, post-hydrator-build

add new ctx provider
  components/hydrator/cmd/main.go
  components/hydrator/internal/tenantmapping/authenticator_context_provider.go
Due: pull-hydrator-build, post-hydrator-build

add new ctx provider
  components/hydrator/pkg/tenantmapping/const.go
Due: pull-hydrator-build, post-hydrator-build

add new ctx provider
  components/hydrator/internal/tenantmapping/demo_ctx_provider.go
Due: pull-hydrator-build, post-hydrator-build

add new ctx provider
  components/hydrator/cmd/main.go
Due: pull-hydrator-build, post-hydrator-build

add new ctx provider
  components/hydrator/internal/tenantmapping/authenticator_context_provider.go
Due: pull-hydrator-build, post-hydrator-build

add new ctx provider
  components/director/pkg/auth-middleware/middleware.go
  components/hydrator/internal/tenantmapping/authenticator_context_provider.go
Due: pull-director-build, pull-hydrator-build, post-director-build, post-hydrator-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add new ctx provider
  components/director/pkg/scope/directive.go
  components/hydrator/internal/tenantmapping/authenticator_context_provider.go
  components/hydrator/internal/tenantmapping/demo_ctx_provider.go
  components/hydrator/pkg/authenticator/authenticator.go
  components/hydrator/pkg/authenticator/types.go
  components/hydrator/pkg/oathkeeper/model.go
Due: pull-director-build, pull-hydrator-build, post-director-build, post-hydrator-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add new ctx provider
  components/hydrator/pkg/oathkeeper/model.go
Due: pull-hydrator-build, post-hydrator-build

fix
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

fix
  components/hydrator/internal/tenantmapping/demo_ctx_provider.go
  components/hydrator/internal/tenantmapping/handler.go
Due: pull-hydrator-build, post-hydrator-build

fix
  components/hydrator/internal/tenantmapping/demo_ctx_provider.go
Due: pull-hydrator-build, post-hydrator-build

fix
  components/hydrator/cmd/main.go
Due: pull-hydrator-build, post-hydrator-build

fix
  components/director/internal/domain/onetimetoken/service.go
  components/director/internal/domain/tenant/tenant.go
  components/director/pkg/idtokenclaims/claims.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

fix
  chart/compass/values.yaml
  components/hydrator/go.mod
  components/hydrator/go.sum
Due: pull-hydrator-build, post-hydrator-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump, pre-master-provisioner-whitesource-scan

IAS Adapter, missing IAS app: return 404 for assign, ignore for unassign (#3298)
  chart/compass/values.yaml
  components/ias-adapter/internal/api/internal/handlers/handlers_test.go
  components/ias-adapter/internal/api/internal/handlers/tenant_mapping.go
  components/ias-adapter/internal/api/internal/handlers/tenant_mapping_test.go
  components/ias-adapter/internal/api/internal/response.go
  components/ias-adapter/internal/errors/errors.go
  components/ias-adapter/internal/service/ias/service.go
  components/ias-adapter/internal/service/ias/service_test.go
  components/ias-adapter/internal/service/tenant_mapping.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

change cli version
  installation/scripts/prow/jobs/compass-gke-benchmark.sh
  installation/scripts/prow/jobs/provision-compass.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Initial implementation.
  components/director/cmd/director/main.go
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/internal/domain/certsubjectmapping/repository.go
  components/director/internal/domain/certsubjectmapping/repository_test.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/webhook/datainputbuilder/automock/cert_subject_input_builder.go
  components/director/internal/domain/webhook/datainputbuilder/automock/cert_subject_repository.go
  components/director/internal/domain/webhook/datainputbuilder/builder.go
  components/director/internal/domain/webhook/datainputbuilder/builder_test.go
  components/director/internal/domain/webhook/datainputbuilder/cert_subject_builder.go
  components/director/internal/domain/webhook/datainputbuilder/cert_subject_builder_test.go
  components/director/internal/domain/webhook/datainputbuilder/fixtures_test.go
  components/director/pkg/graphql/webhook_validation.go
  components/director/pkg/webhook/formation_configuration_change.go
  tests/director/tests/cert_subject_mapping_test.go
  tests/director/tests/formation_api_test.go
  tests/go.mod
Due: pull-director-build, pull-tests-build, post-director-build, post-tests-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

Make linter happy.
  components/director/internal/domain/webhook/datainputbuilder/cert_subject_builder.go
  components/director/pkg/webhook/formation_configuration_change.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Update values.yaml
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

fix leftover and patches
  installation/resources/kyma/kyma-overrides-minimal.yaml
  installation/scripts/install-kyma.sh
  installation/scripts/prom-mtls-patch.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

remove unused flag
  installation/scripts/prow/jobs/compass-gke-benchmark.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

Initial skeleton of the new component
  chart/compass/charts/default-tenant-mapping-handler/.helmignore
  chart/compass/charts/default-tenant-mapping-handler/Chart.yaml
  chart/compass/charts/default-tenant-mapping-handler/OWNERS
  chart/compass/charts/default-tenant-mapping-handler/templates/_helpers.tpl
  chart/compass/charts/default-tenant-mapping-handler/templates/deployment.yaml
  chart/compass/charts/default-tenant-mapping-handler/templates/horizontal-pod-autoscaler.yaml
  chart/compass/charts/default-tenant-mapping-handler/templates/service-account.yaml
  chart/compass/charts/default-tenant-mapping-handler/templates/service.yaml
  chart/compass/charts/default-tenant-mapping-handler/values.yaml
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
  chart/compass/values.yaml
  components/default-tenant-mapping-handler/.gitignore
  components/default-tenant-mapping-handler/Dockerfile
  components/default-tenant-mapping-handler/Makefile
  components/default-tenant-mapping-handler/OWNERS
  components/default-tenant-mapping-handler/cmd/main.go
  components/default-tenant-mapping-handler/go.mod
  components/default-tenant-mapping-handler/go.sum
  components/default-tenant-mapping-handler/golangci.yml
  components/default-tenant-mapping-handler/internal/claims/validate.go
  components/default-tenant-mapping-handler/internal/config/config.go
  components/default-tenant-mapping-handler/internal/handler/handler.go
  components/default-tenant-mapping-handler/internal/healthz/handler.go
  components/default-tenant-mapping-handler/internal/healthz/handler_test.go
  components/default-tenant-mapping-handler/internal/tenant/fixtures_test.go
  components/default-tenant-mapping-handler/internal/tenant/tenantInfo.go
  components/default-tenant-mapping-handler/internal/tenant/validator.go
  components/default-tenant-mapping-handler/internal/tenant/validator_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump, pre-master-provisioner-whitesource-scan

enrich tests with notification asserts
  tests/director/tests/formation_api_test.go
  tests/director/tests/formation_constraint_api_test.go
  tests/pkg/fixtures/formation_assignment_notifications_constants.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

adapt unit test and remove unnecessary constraints
  components/director/internal/domain/formationassignment/service_test.go
  components/schema-migrator/migrations/director/20230913103035_add-global-disable-loop-notifications-constraint.up.sql
Due: pull-director-build, pull-schema-migrator-build, post-director-build, post-schema-migrator-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Fix E2E destination test's setup and configuration
  chart/compass/templates/provider-destination-oauth-secret.yaml
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/values.yaml
  components/external-services-mock/cmd/main.go
  components/external-services-mock/internal/provider/handler.go
  components/external-services-mock/internal/provider/handler_test.go
  installation/resources/compass-overrides-gke-benchmark.yaml
  installation/resources/compass-overrides-local.yaml
  tests/director/tests/application_templates_subscription_test.go
  tests/director/tests/formation_api_test.go
  tests/director/tests/formation_mapping_api_test.go
  tests/director/tests/main_test.go
  tests/director/tests/runtime_contexts_api_test.go
  tests/ord-aggregator/tests/handler_test.go
  tests/ord-service/tests/subscription_flow_test.go
  tests/pkg/clients/destination_client.go
  tests/pkg/config/director.go
Due: pull-external-services-mock-build, pull-tests-build, post-external-services-mock-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pull-external-services-mock-lint, pull-external-services-mock-unit-test, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests

bump components versions
  chart/compass/values.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, post-main-compass-vm-clean-with-dump

add unit tests
  components/director/internal/domain/formationconstraint/operators/do_not_generate_formation_assignment_notification_for_loops_test.go
  components/director/internal/domain/formationconstraint/operators/fixtures_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director
