Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher, pre-compass-validate-inrepo-prow-configs

Path conditions:
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-compass-components-connector: any of: ^components/connector/|^scripts/
  post-compass-components-connector: any of: ^components/connector/|^scripts/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  post-compass-components-external-services-mock: any of: ^components/external-services-mock/|^scripts/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  pre-compass-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)

make imports
  components/director/internal/domain/fetchrequest/service_test.go
  components/director/internal/open_resource_discovery/fixtures_test.go
  components/director/internal/selfregmanager/caller_provider_test.go
  components/director/pkg/accessstrategy/open_access_strategy_test.go
  components/director/pkg/auth/mtls_token_provider_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Tweak
  components/hydrator/internal/subject/cert_subject_test.go
Due: none

add env variable for tests and adapt e2e tests
  chart/compass/templates/tests/connectivity-adapter/connectivity-adapter-test.yaml
  chart/compass/templates/tests/connector/connector-test.yaml
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/templates/tests/gateway/gateway-test.yaml
  chart/compass/templates/tests/istio/istio-test.yaml
  chart/compass/templates/tests/ns-adapter/ns-adapter-test.yaml
  chart/compass/templates/tests/ord-aggregator/ord-aggregator-test.yaml
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/templates/tests/pairing-adapter/pairing-adapter-test.yaml
  chart/compass/templates/tests/system-fetcher/system-fetcher-test.yaml
  chart/compass/templates/tests/tenant-fetcher/tenant-fetcher-test.yaml
  tests/connectivity-adapter/tests/main_test.go
  tests/connector/tests/main_test.go
  tests/director/tests/info_api_test.go
  tests/director/tests/main_test.go
  tests/gateway/tests/main_test.go
  tests/go.mod
  tests/go.sum
  tests/istio/tests/main_test.go
  tests/istio/tests/request_payload_limit_test.go
  tests/ns-adapter/tests/main_test.go
  tests/ord-aggregator/tests/handler_test.go
  tests/ord-aggregator/tests/main_test.go
  tests/ord-service/bench/main_test.go
  tests/ord-service/tests/main_test.go
  tests/pairing-adapter/tests/main_test.go
  tests/pkg/certs/certprovider/ext_cert_provider.go
  tests/pkg/config/connector.go
  tests/pkg/config/istio.go
  tests/pkg/config/pairing-adapter.go
  tests/system-fetcher/tests/main_test.go
  tests/tenant-fetcher/tests/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

make imports
  tests/ns-adapter/tests/main_test.go
  tests/ord-aggregator/tests/main_test.go
  tests/ord-service/bench/main_test.go
  tests/ord-service/tests/main_test.go
  tests/pkg/certs/certprovider/ext_cert_provider.go
  tests/pkg/config/istio.go
  tests/pkg/config/pairing-adapter.go
  tests/system-fetcher/tests/main_test.go
  tests/tenant-fetcher/tests/main_test.go
Due: pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

add sys broker env var
  chart/compass/templates/tests/system-broker/system-broker-test.yaml
  tests/pkg/config/system_broker.go
  tests/pkg/testctx/broker/system_broker_testctx.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-tests, post-compass-tests

bench env var
  chart/compass/templates/bench/director/director-bench.yaml
  chart/compass/templates/bench/ord-service/ord-service-bench.yaml
  tests/director/bench/main_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-tests, post-compass-tests

make imp
  tests/director/bench/main_test.go
Due: pre-compass-tests, post-compass-tests

Update k3d CLI in the local director script (#2645)
  chart/compass/values.yaml
  components/director/run.sh
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

adapt e2e test
  chart/compass/templates/tests/external-services-mock/external-services-mock-test.yaml
  tests/director/tests/formation_api_test.go
  tests/external-services-mock/tests/main_test.go
  tests/ord-service/tests/api_test.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-tests, post-compass-tests

imports
  tests/external-services-mock/tests/main_test.go
Due: pre-compass-tests, post-compass-tests

add $
  chart/compass/templates/tests/pairing-adapter/pairing-adapter-test.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

add more $
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

fix charts
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/operations-controller/templates/deployment.yaml
  chart/compass/templates/tests/ord-aggregator/ord-aggregator-test.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

upgrade
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
  components/connector/go.mod
  components/connector/go.sum
  components/pairing-adapter/go.mod
  components/pairing-adapter/go.sum
  components/system-broker/go.mod
  components/system-broker/go.sum
Due: pre-compass-components-connector, post-compass-components-connector, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-system-broker, post-compass-components-system-broker, pre-master-provisioner-whitesource-scan

last $ ...
  chart/compass/charts/pairing-adapter/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

fix chart
  chart/compass/charts/operations-controller/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Remove redundat OU number check logic
  components/director/pkg/cert/certutils.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

Bump director version
  components/hydrator/go.mod
  components/hydrator/go.sum
Due: pre-master-provisioner-whitesource-scan

Add e2e test
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/values.yaml
  components/director/pkg/cert/certutils_test.go
  components/hydrator/internal/tenantmapping/cert_service_context_provider.go
  tests/director/tests/application_templates_api_test.go
  tests/director/tests/application_templates_subscription_test.go
  tests/director/tests/certificates_access_test.go
  tests/director/tests/technical_client_test.go
  tests/go.mod
  tests/go.sum
  tests/ord-service/tests/subscription_flow_test.go
  tests/pkg/certs/certprovider/ext_cert_provider.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

fix addresing wrong chart names
  chart/compass/charts/director/templates/ext-svc-certificate-rotation-job.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

using wrong field
  chart/compass/charts/director/templates/deployment.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

add overrides
  installation/resources/compass-overrides-local.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Refactoring
  components/director/pkg/cert/certutils.go
  components/director/pkg/cert/certutils_test.go
  tests/director/tests/technical_client_test.go
  tests/go.mod
  tests/go.sum
  tests/pkg/certs/certprovider/ext_cert_provider.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

add more configurations
  chart/compass/values.yaml
  installation/resources/compass-overrides-gke-benchmark.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

fix typo
  installation/resources/compass-overrides-gke-benchmark.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Improve documentation for Tenants Aggregator (#2472)
  docs/tenants-aggregator/01-overview.md
  docs/tenants-aggregator/assets/tenancy-model.svg
  docs/tenants-aggregator/assets/tenant-on-demand.svg
  docs/tenants-aggregator/assets/tenant-regions.svg
Due: none

replace buildx with img
  scripts/generic_make_go.mk
Due: pre-compass-components-connector, post-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-compass-components-external-services-mock, post-compass-components-external-services-mock, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

add role binding
  chart/compass/charts/director/templates/rbac.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

add value in director run.sh
  components/director/run.sh
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

add APP_ prefix
  components/director/cmd/director/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/internal/info/handler.go
  components/director/internal/nsadapter/adapter/configuration.go
  components/director/pkg/config/selfreg_config.go
  components/director/pkg/oauth/config.go
  components/operations-controller/internal/config/config.go
  components/pairing-adapter/internal/adapter/model.go
  tests/connectivity-adapter/tests/main_test.go
  tests/director/bench/main_test.go
  tests/external-services-mock/tests/main_test.go
  tests/gateway/tests/main_test.go
  tests/ns-adapter/tests/main_test.go
  tests/ord-aggregator/tests/main_test.go
  tests/ord-service/bench/main_test.go
  tests/ord-service/tests/main_test.go
  tests/pkg/certs/certprovider/ext_cert_provider.go
  tests/pkg/config/connector.go
  tests/pkg/config/istio.go
  tests/pkg/config/pairing-adapter.go
  tests/pkg/config/system_broker.go
  tests/system-fetcher/tests/main_test.go
  tests/tenant-fetcher/tests/main_test.go
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-tests, post-compass-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

one more property in run script
  components/director/run.sh
Due: pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director

remove role binding
  chart/compass/charts/director/templates/rbac.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Remove cloud-sql proxies and DB env variables in TestDefinitions.
  chart/compass/templates/bench/director/director-bench.yaml
  chart/compass/templates/bench/ord-service/ord-service-bench.yaml
  chart/compass/templates/tests/director/director-test.yaml
  chart/compass/templates/tests/ns-adapter/ns-adapter-test.yaml
  chart/compass/templates/tests/ord-service/ord-service-test.yaml
  chart/compass/templates/tests/pairing-adapter/pairing-adapter-test.yaml
  chart/compass/templates/tests/system-fetcher/system-fetcher-test.yaml
  chart/compass/templates/tests/tenant-fetcher/tenant-fetcher-test.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

add configuration in ext svc mock
  chart/compass/charts/external-services-mock/templates/oauth-credentials-secret.yaml
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

Remove more leftovers.
  tests/director/bench/main_test.go
  tests/pkg/tenant/tenant_setup.go
Due: pre-compass-tests, post-compass-tests

add configs
  chart/compass/charts/ns-adapter/templates/deployment.yaml
  chart/compass/charts/operations-controller/templates/deployment.yaml
  components/operations-controller/internal/config/config.go
  components/operations-controller/internal/config/ext_svc_client_config.go
  components/operations-controller/internal/config/external_client_config.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

fix
  components/operations-controller/cmd/main.go
Due: none

fix conf
  chart/compass/charts/operations-controller/templates/deployment.yaml
  components/operations-controller/cmd/main.go
  components/operations-controller/internal/config/config.go
  components/operations-controller/internal/config/ext_svc_client_config.go
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration

imports
  components/operations-controller/cmd/main.go
Due: none

go get and updated values.yaml
  chart/compass/values.yaml
  components/operations-controller/go.mod
  components/operations-controller/go.sum
Due: pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration, pre-master-provisioner-whitesource-scan
