Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-cluster-infra:v20190528-8897828
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
          cpu: 50m
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

upd11
  components/director/internal/tenantmapping/model.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Resolve conflicts
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
Due: none

beautify GetGroups & add staticgroup.go
  components/director/internal/tenantmapping/model.go
  components/director/internal/tenantmapping/staticgroup.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix for pairing issue (#829)
  chart/compass/values.yaml
  components/connectivity-adapter/internal/connectorservice/connector/query.go
  components/connectivity-adapter/internal/connectorservice/connector/query_test.go
Due: pre-master-compass-integration

Add global overrides to GQLizer
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
Due: none

upd12 (important)
  chart/compass/charts/director/static-groups.yaml
  chart/compass/charts/director/templates/deployment.yaml
  components/director/cmd/director/main.go
  components/director/internal/tenantmapping/mapper_for_user.go
  components/director/internal/tenantmapping/staticgroup.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Preparing environment for test implemented
  tests/connectivity-adapter/test/api/connector_test.go
  tests/connectivity-adapter/test/testkit/director/client.go
  tests/connectivity-adapter/test/testkit/director/query.go
Due: none

Fix Director migrations failing on upgrade
  components/schema-migrator/migrations/director/202001221149_add_tenant_storage.down.sql
  components/schema-migrator/migrations/director/202001311508_migrate_tenants.up.sql
  components/schema-migrator/migrations/director/202002071200_add_package_definitions.down.sql
  components/schema-migrator/migrations/director/202002071200_add_package_definitions.up.sql
Due: none

Registering applications with internal tenant working
  tests/connectivity-adapter/go.mod
  tests/connectivity-adapter/test/api/connector_test.go
  tests/connectivity-adapter/test/testkit/config.go
  tests/connectivity-adapter/test/testkit/director/client.go
  tests/connectivity-adapter/test/testkit/director/query.go
Due: none

Bump values
  chart/compass/values.yaml
Due: pre-master-compass-integration

fix errors & update deployment template
  chart/compass/charts/director/templates/deployment.yaml
  components/director/cmd/director/main.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

clean up mapper_for_user.go
  components/director/internal/tenantmapping/mapper_for_user.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add providers table to testSuite
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/config.go
Due: none

Parallelise execution for different providers
  tests/provisioner-tests/test/provisioner/e2e_test.go
Due: none

Some fixes in Provisioner tests on Gardener
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/assertions/helpers.go
  tests/provisioner-tests/test/testkit/assertions/operation.go
  tests/provisioner-tests/test/testkit/compass/provisioner/client.go
  tests/provisioner-tests/test/testkit/compass/provisioner/graphqlizer.go
  tests/provisioner-tests/test/testkit/config.go
Due: none

Update .toml
  tests/provisioner-tests/Gopkg.toml
Due: none

Clean after rebase
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/compass/provisioner/graphqlizer.go
Due: none

Provisioner tests on Gardener
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/compass/provisioner/client.go
  tests/provisioner-tests/test/testkit/compass/provisioner/graphqlizer.go
  tests/provisioner-tests/test/testkit/config.go
Due: none

Add gardener credentials to chart values
  chart/compass/charts/provisioner/values.yaml
Due: pre-master-compass-integration

Add providers to testSuite
  tests/provisioner-tests/test/provisioner/suite.go
Due: none

Add Azure SpecificConfig to template
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/compass/provisioner/graphqlizer.go
Due: none

Adjust the e2e tests to the new schema. They still dont work tho
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/testkit/compass/provisioner/client.go
  tests/provisioner-tests/test/testkit/compass/provisioner/graphqlizer.go
  tests/provisioner-tests/test/testkit/compass/provisioner/query.go
Due: none

Some fixes in Provisioner tests on Gardener
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/compass/provisioner/graphqlizer.go
Due: none

Fixes
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/testkit/compass/provisioner/client.go
  tests/provisioner-tests/test/testkit/compass/provisioner/query.go
  tests/provisioner-tests/test/testkit/config.go
  tests/provisioner-tests/test/testkit/graphql/client.go
Due: none

Adjusting tests
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/config.go
Due: none

Tests update
  chart/compass/charts/provisioner/templates/tests/test-provisioner.yaml
  chart/compass/charts/provisioner/values.yaml
  tests/provisioner-tests/scripts/entrypoint.sh
  tests/provisioner-tests/scripts/run_localy.sh
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/compass/provisioner/client.go
  tests/provisioner-tests/test/testkit/compass/provisioner/graphqlizer.go
  tests/provisioner-tests/test/testkit/compass/provisioner/query.go
  tests/provisioner-tests/test/testkit/config.go
Due: pre-master-compass-integration

Add goroutines and fetching Installer CR
  components/provisioner/internal/util/0
  tests/provisioner-tests/test/provisioner/e2e_test.go
Due: none

Add Gardener E2E test
  tests/provisioner-tests/test/provisioner/e2e_test.go
Due: none

Switch test flow to GCP on Gardener
  tests/provisioner-tests/test/provisioner/suite.go
Due: none

Add APP_GARDENER_CREDENTIALS to test-provisioner.yaml
  chart/compass/charts/provisioner/templates/tests/test-provisioner.yaml
Due: pre-master-compass-integration

Add Parsing Installation CR
  components/provisioner/internal/util/0
  go.mod
  go.sum
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/testkit/util.go
Due: none

Adjust tests
  go.mod
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/scripts/run_localy.sh
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/testkit/compass/provisioner/client.go
Due: none

Adjustments
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/testkit/config.go
Due: none

Bring dep into sync
  chart/compass/values.yaml
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/test/provisioner/suite.go
Due: pre-master-compass-integration

Update logging messages
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/suite.go
Due: none

Enable concurency for Provisioner test definition
  chart/compass/charts/provisioner/templates/tests/test-provisioner.yaml
Due: pre-master-compass-integration

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
