Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-integration-stable-cli: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

Fix review comments from Piotr 2
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/deprovisioning/event_hub_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
Due: none

Clean up the test
  chart/compass/charts/provisioner/templates/tests/test-provisioner.yaml
  chart/compass/charts/provisioner/values.yaml
  tests/provisioner-tests/scripts/run_localy.sh
  tests/provisioner-tests/test/provisioner/main_test.go
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/compass/director/client.go
  tests/provisioner-tests/test/testkit/compass/director/oauth/client.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests

Add subaccount info to logs to edp registration step
  components/kyma-environment-broker/internal/process/provisioning/edp_registration.go
Due: none

Fix KEB steps behavior (#1267)
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/edp/client.go
  components/kyma-environment-broker/internal/ias/bundle.go
  components/kyma-environment-broker/internal/ias/client.go
  components/kyma-environment-broker/internal/ias/client_test.go
  components/kyma-environment-broker/internal/process/provisioning/edp_registration.go
Due: none

Few more fixes
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
Due: none

revert remove_runtime
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime.go
  components/kyma-environment-broker/internal/process/deprovisioning/util.go
Due: none

1065 deprovisioning of event hubs from keb (#1145)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/hyperscaler/azure/client.go
  components/kyma-environment-broker/internal/hyperscaler/azure/provider.go
  components/kyma-environment-broker/internal/hyperscaler/azure/testing/testing.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/azure/event_hub.go
  components/kyma-environment-broker/internal/process/deprovision_operation.go
  components/kyma-environment-broker/internal/process/deprovisioning/errors.go
  components/kyma-environment-broker/internal/process/deprovisioning/event_hub_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime.go
  components/kyma-environment-broker/internal/process/provision_operation.go
  components/kyma-environment-broker/internal/process/provision_operation_test.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
Due: none

Address comments
  components/connectivity-adapter/go.sum
  components/kyma-environment-broker/internal/ias/automock/bundle.go
  components/kyma-environment-broker/internal/ias/automock/bundle_builder.go
  components/kyma-environment-broker/internal/ias/builder.go
  components/kyma-environment-broker/internal/ias/bundle.go
  components/kyma-environment-broker/internal/ias/bundle_test.go
  components/kyma-environment-broker/internal/ias/client_test.go
  components/kyma-environment-broker/internal/ias/fake_client.go
  components/kyma-environment-broker/internal/ias/input.go
  components/kyma-environment-broker/internal/ias/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/ias_deregistration.go
  components/kyma-environment-broker/internal/process/deprovisioning/ias_deregistration_test.go
  components/kyma-environment-broker/internal/process/provisioning/ias_registration.go
  components/kyma-environment-broker/internal/process/provisioning/ias_registration_test.go
  components/kyma-environment-broker/internal/process/provisioning/ias_type.go
  components/kyma-environment-broker/internal/process/provisioning/ias_type_test.go
Due: pre-master-provisioner-whitesource-scan

Add a few unit tests
  components/director/internal/domain/api/service.go
  components/director/internal/domain/api/service_test.go
  components/director/internal/domain/package/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

WIP
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/api/automock/fetch_request_service.go
  components/director/internal/domain/api/service.go
  components/director/internal/domain/application/service.go
  components/director/internal/domain/application/service_test.go
  components/director/internal/domain/fetchrequest/converter.go
  components/director/internal/domain/fetchrequest/entity.go
  components/director/internal/domain/fetchrequest/repository.go
  components/director/internal/domain/fetchrequest/repository_test.go
  components/director/internal/domain/fetchrequest/service.go
  components/director/internal/domain/fetchrequest/service_test.go
  components/director/internal/domain/package/automock/fetch_request_service.go
  components/director/internal/domain/package/service.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/model/fetchrequest.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
  components/schema-migrator/migrations/director/202004290921_add_status_message.down.sql
  components/schema-migrator/migrations/director/202004290921_add_status_message.up.sql
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Fix after cr
  components/director/internal/domain/api/automock/fetch_request_repository.go
  components/director/internal/domain/api/automock/fetch_request_service.go
  components/director/internal/domain/api/service.go
  components/director/internal/domain/api/service_test.go
  components/director/internal/domain/fetchrequest/service.go
  components/director/internal/domain/fetchrequest/service_test.go
  components/director/internal/domain/package/automock/fetch_request_repository.go
  components/director/internal/domain/package/automock/fetch_request_service.go
  components/director/internal/domain/package/service.go
  components/director/internal/domain/package/service_test.go
  components/director/internal/domain/root_resolver.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix refetch api spec
  components/director/internal/domain/api/automock/api_converter.go
  components/director/internal/domain/api/converter.go
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/api/resolver_test.go
  tests/director/api/fetch_request_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add e2e tests
  chart/compass/values.yaml
  components/director/go.mod
  components/director/go.sum
  components/director/internal/domain/api/automock/fetch_request_service.go
  components/director/internal/domain/api/fixtures_test.go
  components/director/internal/domain/api/service.go
  components/director/internal/domain/api/service_test.go
  components/director/internal/domain/fetchrequest/service.go
  components/director/internal/domain/fetchrequest/service_test.go
  components/director/internal/domain/package/automock/fetch_request_repository.go
  components/director/internal/domain/package/automock/fetch_request_service.go
  components/director/internal/domain/package/fixtures_test.go
  components/director/internal/domain/package/service.go
  components/director/internal/domain/package/service_test.go
  components/director/internal/domain/root_resolver.go
  tests/director/api/fetch_request_test.go
  tests/director/api/fixtures_queries_test.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Renaming
  components/director/internal/domain/api/service.go
  components/director/internal/domain/package/service.go
  tests/director/api/fetch_request_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix most of the issues
  components/director/internal/domain/api/automock/fetch_request_service.go
  components/director/internal/domain/api/service.go
  components/director/internal/domain/api/service_test.go
  components/director/internal/domain/fetchrequest/export_test.go
  components/director/internal/domain/fetchrequest/service.go
  components/director/internal/domain/fetchrequest/service_test.go
  components/director/internal/domain/package/automock/fetch_request_service.go
  components/director/internal/domain/package/service.go
  components/director/internal/domain/package/service_test.go
  components/director/internal/statusupdate/export_test.go
  components/director/internal/statusupdate/repo.go
  tests/director/api/fetch_request_test.go
  tests/director/api/fixtures_request_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix unit tests
  components/director/internal/domain/api/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

wip
  components/director/internal/domain/api/automock/api_repository.go
  components/director/internal/domain/api/automock/fetch_request_repository.go
  components/director/internal/domain/api/automock/fetch_request_service.go
  components/director/internal/domain/api/service.go
  components/director/internal/domain/api/service_test.go
  components/director/internal/domain/fetchrequest/automock/fetch_request_repository.go
  components/director/internal/domain/fetchrequest/service.go
  components/director/internal/domain/package/automock/api_repository.go
  components/director/internal/domain/package/service.go
  components/director/internal/domain/package/service_test.go
  components/director/internal/domain/root_resolver.go
Due: pre-master-compass-components-director, post-master-compass-components-director

More unit tests
  components/director/internal/domain/api/service_test.go
  components/director/internal/domain/package/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump images
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add more unit tests
  components/director/internal/domain/api/service_test.go
  components/director/internal/domain/package/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Wip
  components/director/internal/domain/fetchrequest/repository.go
  components/director/internal/domain/fetchrequest/service.go
  components/director/internal/domain/package/automock/api_repository.go
  components/director/internal/domain/package/automock/document_repository.go
  components/director/internal/domain/package/automock/event_api_repository.go
  components/director/internal/domain/package/automock/fetch_request_repository.go
  components/director/internal/domain/package/automock/fetch_request_service.go
  components/director/internal/domain/package/automock/package_repository.go
  components/director/internal/domain/package/service.go
  components/director/internal/domain/root_resolver.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix unit tests
  components/director/go.sum
  components/director/internal/domain/package/service.go
  components/director/internal/domain/package/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Fix body close
  components/director/internal/domain/fetchrequest/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump schema migrator
  chart/compass/values.yaml
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

Remove MarkRuntimeAsDeleted method
  components/provisioner/internal/provisioning/mocks/Service.go
  components/provisioner/internal/provisioning/service.go
Due: none

Activate stale bot
  .github/stale.yml
Due: none

More regions
  components/kyma-environment-broker/internal/broker/plans.go
Due: none

Mark cluster as deleted if Gardener shoot does not exist (#1244)
  chart/compass/values.yaml
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli

wip
  components/kyma-environment-broker/internal/broker/plans_test.go
Due: none

Add the config for serviceentry
  components/kyma-environment-broker/internal/auditlog/config.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
Due: none

Fix issues mentioned in cr
  components/director/internal/domain/api/service.go
  components/director/internal/domain/fetchrequest/repository.go
  docs/director/fetch-requests.md
  tests/director/api/fetch_request_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Apply suggestions from code review
  docs/director/fetch-requests.md
Due: none

Fix Provisioner db issues
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/installation_test.go
  components/provisioner/internal/model/kyma_config.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/read_test.go
  components/provisioner/internal/util/pointers.go
Due: none

Update the markdown
  docs/director/fetch-requests.md
Due: none

Fix imports
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/installation_test.go
Due: none

Update gqlschema
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

annotate on reconcile
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/gardener/shoot_controller.go
  components/provisioner/internal/gardener/shoot_reconciler.go
Due: none

initial commit for metris component
  CODEOWNERS
  chart/compass/charts/metris/.helmignore
  chart/compass/charts/metris/Chart.yaml
  chart/compass/charts/metris/templates/_helpers.tpl
  chart/compass/charts/metris/templates/deployment.yaml
  chart/compass/charts/metris/templates/secrets.yaml
  chart/compass/charts/metris/templates/service-account.yaml
  chart/compass/charts/metris/templates/service.yaml
  chart/compass/charts/metris/templates/servicemonitor.yaml
  chart/compass/charts/metris/values.yaml
  chart/compass/requirements.yaml
  chart/compass/values.yaml
  components/metris/.dockerignore
  components/metris/.gitignore
  components/metris/Dockerfile
  components/metris/Makefile
  components/metris/README.md
  components/metris/cmd/metris/main.go
  components/metris/go.mod
  components/metris/go.sum
  components/metris/internal/edp/client.go
  components/metris/internal/edp/client_test.go
  components/metris/internal/gardener/client.go
  components/metris/internal/gardener/client_test.go
  components/metris/internal/gardener/controller.go
  components/metris/internal/gardener/controller_test.go
  components/metris/internal/gardener/handlers.go
  components/metris/internal/metrics/metrics.go
  components/metris/internal/provider/azure/azure.go
  components/metris/internal/provider/azure/clients.go
  components/metris/internal/provider/azure/metrics.go
  components/metris/internal/provider/azure/model.go
  components/metris/internal/provider/azure/resources.go
  components/metris/internal/provider/azure/utils.go
  components/metris/internal/provider/provider.go
  components/metris/internal/server/server.go
  components/metris/internal/server/server_test.go
  components/metris/internal/utils/utils.go
Due: pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-provisioner-whitesource-scan

Apply suggestions from code review
  components/director/internal/domain/fetchrequest/service.go
  docs/director/fetch-requests.md
  tests/director/api/fetch_request_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add test for application with api definition with fetch request
  tests/director/api/fetch_request_test.go
  tests/director/api/fixtures_queries_test.go
Due: none
