Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

pre-master-compass-gke-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20200817-1.14.0-rc1-75-g625c1054-k8s1.16
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

pre-master-compass-integration-auditlog-temp:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass-auditlog-temp.sh
      resources:
        requests:
  ...

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-compass-components-gateway:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

Fix down migration failure
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.down.sql
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Add E2E tests + refactoring
  chart/compass/charts/ord-service/templates/deployment.yaml
  chart/compass/charts/ord-service/templates/tests/ord-service-test.yaml
  chart/compass/values.yaml
  components/schema-migrator/migrations/director/202012081537_ord-service-initial.up.sql
  tests/ord-service/Dockerfile
  tests/ord-service/Makefile
  tests/ord-service/go.mod
  tests/ord-service/go.sum
  tests/ord-service/pkg/fixtures.go
  tests/ord-service/tests/api_test.go
  tests/ord-service/tests/main_test.go
  tests/ord-service/wait-for-components.sh
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-master-provisioner-whitesource-scan

Configure CloudSQL DB connection
  chart/compass/charts/ord-service/templates/deployment.yaml
  chart/compass/charts/ord-service/values.yaml
  chart/compass/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Extract Gateway tests TestContext's GQLFieldsProvider
  tests/director/gateway-integration/fixtures_request.go
  tests/director/gateway-integration/testctx.go
Due: none

Disable Debug support and fix run.sh
  components/ord-service/run.sh
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/controller/ODataController.java
  tests/tenant-fetcher/Dockerfile
Due: pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Fix imports linter issue
  tests/ord-service/pkg/fixtures.go
  tests/ord-service/tests/api_test.go
Due: none

Remove ORD Service code base
  components/ord-service/Dockerfile
  components/ord-service/Makefile
  components/ord-service/pom.xml
  components/ord-service/run.sh
  components/ord-service/scripts/build.sh
  components/ord-service/scripts/commons.sh
  components/ord-service/scripts/install_dependencies.sh
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/ORDServiceApplication.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/CustomErrorProcessor.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/CustomJPAEdmMetadataPostProcessor.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/EclipseLinkJpaConfiguration.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/config/ODataJPAConfiguration.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/controller/ODataController.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/controller/SpecificationsController.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/JsonPostProcessFilter.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/aggregator/JsonArrayElementsAggregator.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/filter/wrappers/JsonResponseWrapper.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/repository/ApiSpecRepository.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/repository/EventSpecRepository.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/JPAPostgresDatabaseProcessorImpl.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIDefinition.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APIResourceLink.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/APISpecificationEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/ArrayElement.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/ChangelogEntry.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventDefinition.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/EventSpecificationEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/Label.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/Link.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/PackageEntity.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/PackageLink.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/Provider.java
  components/ord-service/src/main/java/com/sap/cloud/cmp/ord/service/storage/model/converter/UrlConverter.java
  components/ord-service/src/main/resources/application.yml
  components/ord-service/src/test/java/com/sap/cloud/cmp/ord/service/config/CustomErrorProcessorTest.java
  components/ord-service/src/test/java/com/sap/cloud/cmp/ord/service/filter/aggregator/JsonArrayElementsAggregatorTest.java
  components/ord-service/src/test/java/com/sap/cloud/cmp/ord/service/storage/model/converter/UrlConverterTest.java
  components/ord-service/src/test/resources/application.yml
Due: none

Add missing chart values and properties
  chart/compass/charts/gateway/templates/virtualservice.yaml
  chart/compass/charts/ord-service/templates/deployment.yaml
  chart/compass/charts/ord-service/templates/service-account.yaml
  chart/compass/charts/ord-service/templates/service.yaml
  chart/compass/charts/ord-service/values.yaml
  chart/compass/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Use switches instead of if/else
  tests/ord-service/tests/api_test.go
Due: none

Add more E2E tests - paging, filtering, projection, ordering
  tests/ord-service/tests/api_test.go
Due: none

Fix tests and modify versioning migration
  components/schema-migrator/migrations/director/202012081537_ord_service_initial.down.sql
  components/schema-migrator/migrations/director/202012081537_ord_service_initial.up.sql
  tests/ord-service/tests/api_test.go
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Tweaks
  components/schema-migrator/migrations/director/202012081537_ord_service_initial.up.sql
  tests/ord-service/tests/api_test.go
Due: pre-compass-components-schema-migrator, post-compass-components-schema-migrator

fix tests
  components/external-services-mock/cmd/main.go
  tests/director/external-services-mock-integration/fetch_request_test.go
Due: none

fix tests
  tests/director/external-services-mock-integration/auditlog_integration_test.go
  tests/director/external-services-mock-integration/fixtures_request.go
Due: none

make imports
  tests/director/external-services-mock-integration/fixtures_request.go
Due: none

Return to original API Deprecation notion
  chart/compass/values.yaml
  components/schema-migrator/migrations/director/202012081537_ord_service_initial.up.sql
  tests/director/api/fixtures.go
  tests/ord-service/pkg/fixtures.go
  tests/ord-service/tests/api_test.go
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Bump alpine version
  components/connectivity-adapter/Dockerfile
  components/director/Dockerfile
  components/external-services-mock/Dockerfile
  components/gateway/Dockerfile
  components/healthchecker/Dockerfile
  components/pairing-adapter/Dockerfile
  components/schema-migrator/Dockerfile
  components/tenant-fetcher/Dockerfile
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-schema-migrator, post-compass-components-schema-migrator

Fix missing ctx in one of the resolvers of the director
  components/director/internal/domain/packageinstanceauth/resolver.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix issues caused by merge
  tests/director/api/main_test.go
  tests/director/api/package_instance_auth_test.go
Due: none

Fix unit Director tests
  components/director/internal/domain/packageinstanceauth/resolver_test.go
  components/director/internal/domain/packageinstanceauth/service.go
  components/director/internal/model/package_instance_auth_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix go.mod file
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-provisioner-whitesource-scan

Use patch version
  components/connectivity-adapter/Dockerfile
  components/connector/Dockerfile
  components/director/Dockerfile
  components/external-services-mock/Dockerfile
  components/gateway/Dockerfile
  components/healthchecker/Dockerfile
  components/pairing-adapter/Dockerfile
  components/schema-migrator/Dockerfile
  components/tenant-fetcher/Dockerfile
  tests/connectivity-adapter/Dockerfile
  tests/connector-tests/Dockerfile
  tests/director/Dockerfile
  tests/tenant-fetcher/Dockerfile
Due: pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Bump component versions in chart
  chart/compass/values.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Secure osb endpoints with client certs
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
  chart/compass/charts/gateway/templates/virtualservice-mtls.yaml
  chart/compass/charts/system-broker/templates/deployment.yaml
  chart/compass/values.yaml
  components/system-broker/cmd/main.go
  components/system-broker/pkg/graphql/config.go
  components/system-broker/pkg/http/config.go
  components/system-broker/pkg/http/config_test.go
  components/system-broker/pkg/http/forward_headers.go
  components/system-broker/pkg/http/forward_headers_test.go
  components/system-broker/pkg/http/httpfakes/fake_token_provider.go
  components/system-broker/pkg/http/secured_transport.go
  components/system-broker/pkg/http/secured_transport_test.go
  components/system-broker/pkg/oauth/config.go
  components/system-broker/pkg/oauth/config_test.go
  components/system-broker/pkg/oauth/token_provider.go
  components/system-broker/pkg/oauth/token_provider_from_header.go
  components/system-broker/pkg/oauth/token_provider_from_header_test.go
  components/system-broker/pkg/oauth/token_provider_from_secret.go
  components/system-broker/pkg/oauth/token_provider_from_secret_test.go
  components/system-broker/pkg/oauth/token_provider_from_value.go
  components/system-broker/pkg/oauth/token_provider_test.go
  components/system-broker/pkg/server/server.go
  components/system-broker/pkg/server/server_test.go
  components/system-broker/run.sh
  components/system-broker/tests/common/test_context.go
  installation/scripts/installer.sh
  tests/system-broker/Dockerfile
  tests/system-broker/Makefile
  tests/system-broker/go.mod
  tests/system-broker/go.sum
  tests/system-broker/tests/apitests/auth_test.go
  tests/system-broker/tests/apitests/main_test.go
  tests/system-broker/tests/testkit/config.go
  tests/system-broker/tests/testkit/testctx.go
  tests/system-broker/wait-for-components.sh
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-compass-components-system-broker, post-compass-components-system-broker, pre-master-provisioner-whitesource-scan

Secure ORD Service with Hydra credentials
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
  chart/compass/charts/gateway/templates/virtualservice.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Remove tiller-sh from installer script
  installation/scripts/installer.sh
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Bump alpine version (#1674)
  chart/compass/values.yaml
  components/connector/Dockerfile
  components/director/Dockerfile
  components/external-services-mock/Dockerfile
  components/gateway/Dockerfile
  components/healthchecker/Dockerfile
  components/pairing-adapter/Dockerfile
  components/schema-migrator/Dockerfile
  components/tenant-fetcher/Dockerfile
  tests/connectivity-adapter/Dockerfile
  tests/connector-tests/Dockerfile
  tests/director/Dockerfile
  tests/tenant-fetcher/Dockerfile
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Secure requests made by e2e-tests
  tests/ord-service/go.mod
  tests/ord-service/pkg/fixtures.go
  tests/ord-service/tests/api_test.go
Due: pre-master-provisioner-whitesource-scan

Fix yaml indentation
  chart/compass/charts/gateway/templates/oathkeeper-rules.yaml
Due: pre-master-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-master-compass-integration

Add GenerateRuntimeCertificate function
  tests/connector-tests/test/apitests/apitests_test.go
Due: pre-compass-tests-connector-tests, post-compass-tests-connector-tests

Dummy commit
  tests/ord-service/tests/api_test.go
Due: none

Remove leftover test.yaml file
  test.yaml
Due: none

make imports
  tests/ord-service/pkg/fixtures.go
  tests/ord-service/tests/api_test.go
Due: none

make errcheck
  tests/ord-service/go.mod
  tests/ord-service/go.sum
  tests/ord-service/tests/api_test.go
Due: pre-master-provisioner-whitesource-scan

fix tests
  tests/ord-service/tests/api_test.go
Due: none

Bump client-go version
  components/director/go.mod
  components/director/go.sum
  components/director/internal/tenantfetcher/kubernetes.go
  components/director/pkg/inputvalidation/validators_string_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-provisioner-whitesource-scan

Skip tests in gqlgen-check
  scripts/generic_make_go.mk
Due: pre-compass-components-gateway, post-compass-components-gateway, pre-compass-components-pairing-adapter, post-compass-components-pairing-adapter, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher

Adapt k8s client interface
  components/director/internal/tenantfetcher/automock/kube_client.go
  components/director/internal/tenantfetcher/kubernetes.go
  components/director/internal/tenantfetcher/service.go
  components/director/internal/tenantfetcher/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Path conditions:
  pre-master-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  post-compass-components-pairing-adapter: any of: ^components/pairing-adapter/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/
  post-compass-components-system-broker: any of: ^components/system-broker/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
