Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/

HB sends optional components in json schema
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/broker_test.go
  components/kyma-environment-broker/internal/dto.go
Due: none

Apply suggestions from code review
  components/connectivity-adapter/README.md
Due: none

Fix hostaliases for provisioner and broker
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/values.yaml
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/director/config.go
  components/kyma-environment-broker/internal/director/oauth/client.go
Due: pre-master-compass-integration

Fix after review
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/director/oauth/client.go
  components/kyma-environment-broker/internal/director/oauth/client_test.go
Due: pre-master-compass-integration

resolve dependencies
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/director/oauth/client.go
  components/kyma-environment-broker/internal/director/oauth/client_test.go
Due: none

fix units
  components/kyma-environment-broker/internal/director/oauth/client_test.go
Due: none

HB sends optional components in json schema (#663)
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/broker_test.go
  components/kyma-environment-broker/internal/dto.go
Due: none

Document KEB in Compass
  docs/kyma-environment-broker/01-01-overview.md
  docs/kyma-environment-broker/02-01-architecture.md
Due: none

after review
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/templates/registration-job.yaml
  chart/compass/values.yaml
Due: pre-master-compass-integration

Register KEB as an integration system (#635)
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
  chart/compass/charts/kyma-environment-broker/templates/rbac.yaml
  chart/compass/charts/provisioner/templates/deployment.yaml
  chart/compass/charts/provisioner/values.yaml
  chart/compass/templates/registration-job.yaml
  chart/compass/values.yaml
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/director/client.go
  components/kyma-environment-broker/internal/director/config.go
  components/kyma-environment-broker/internal/director/oauth/client.go
  components/kyma-environment-broker/internal/director/oauth/client_test.go
  components/kyma-environment-broker/internal/director/oauth/types.go
  components/kyma-environment-broker/internal/director/oauth/types_test.go
Due: pre-master-compass-integration

Remove seed param from azure config
  chart/compass/values.yaml
  components/kyma-environment-broker/internal/broker/aws_provider.go
  components/kyma-environment-broker/internal/broker/azure_provider.go
  components/kyma-environment-broker/internal/broker/gcp_provider.go
Due: pre-master-compass-integration

Add proxysql container to kyma environment broker deployment
  chart/compass/charts/kyma-environment-broker/templates/deployment.yaml
Due: pre-master-compass-integration

Merge remote-tracking branch 'upstream/master' into connector-service-rest-to-graphql
  components/connectivity-adapter/cmd/main.go
  components/connectivity-adapter/go.sum
  components/connectivity-adapter/internal/connector/api.go
  components/connectivity-adapter/internal/connector/api/certificates.go
  components/connectivity-adapter/internal/connector/api/signinginforequestinfo_test.go
  components/connectivity-adapter/internal/connector/api/signingrequestinfo.go
  components/connectivity-adapter/internal/connector/compass/client.go
  components/connectivity-adapter/internal/connector/convertor.go
  components/connectivity-adapter/internal/connector/graphql/automock/client.go
  components/connectivity-adapter/internal/connector/graphql/client.go
  components/connectivity-adapter/internal/connector/graphql/converter.go
  components/connectivity-adapter/internal/connector/graphql/query.go
  components/connectivity-adapter/internal/connector/model/types.go
Due: none

Test for Signing Request Info handler created
  components/connectivity-adapter/internal/connector/api/signinginforequestinfo_test.go
Due: none

Fake provisioner client configurable
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/provisioner/fake_client.go
Due: none

Adding Przemyslaw Golicz(koala7659) as a codeowener of Compass components
  CODEOWNERS
  OWNERS
Due: none

Middlewares added
  components/connectivity-adapter/internal/connector/api/middlewares/baseurls.go
  components/connectivity-adapter/internal/connector/api/middlewares/baseurls_test.go
  components/connectivity-adapter/internal/connector/api/middlewares/clientfromtoken.go
  components/connectivity-adapter/internal/connector/api/middlewares/clientfromtoken_test.go
  components/connectivity-adapter/internal/connector/api/middlewares/context.go
  components/connectivity-adapter/internal/connector/api/signinginforequestinfo_test.go
  components/connectivity-adapter/internal/connector/api/signingrequestinfo.go
  components/connectivity-adapter/internal/connector/model/types.go
Due: none

Missing file
  components/connectivity-adapter/internal/connector/api/middlewares/automock/runtime_base_url_provider.go
  installation/cmd/run.sh
Due: pre-master-compass-integration

Adding Przemyslaw Golicz(koala7659) as a codeowener of Compass components (#690)
  CODEOWNERS
  OWNERS
Due: none

wip
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/provisioner/fake_client.go
Due: none

Add legacyConnectorURL property in requestOneTimeTokenForApplication (#662)
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/values.yaml
  components/director/README.md
  components/director/internal/domain/onetimetoken/automock/token_converter.go
  components/director/internal/domain/onetimetoken/config.go
  components/director/internal/domain/onetimetoken/converter.go
  components/director/internal/domain/onetimetoken/coverter_test.go
  components/director/internal/domain/onetimetoken/resolver.go
  components/director/internal/domain/onetimetoken/resolver_test.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/graphql/config.yaml
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/one_time_token.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

wip
  chart/compass/values.yaml
  tests/director/api/fixtures_queries_test.go
  tests/director/api/fixtures_request_test.go
  tests/director/api/token_api_test.go
  tests/director/gateway-integration/fixtures_queries.go
  tests/director/gateway-integration/fixtures_request.go
  tests/director/gateway-integration/playground_test.go
  tests/director/go.mod
  tests/director/go.sum
  tests/director/pkg/gql/fields.go
Due: pre-master-compass-integration

wip
  tests/director/go.mod
Due: none

wip
  tests/director/go.mod
  tests/director/go.sum
Due: none

Signing Request Info refactored to use context
  components/connectivity-adapter/internal/connector/api.go
  components/connectivity-adapter/internal/connector/api/middlewares/clientId.go
  components/connectivity-adapter/internal/connector/api/middlewares/clientId_test.go
  components/connectivity-adapter/internal/connector/api/middlewares/context.go
  components/connectivity-adapter/internal/connector/api/signinginforequestinfo_test.go
  components/connectivity-adapter/internal/connector/api/signingrequestinfo.go
  components/connectivity-adapter/internal/connector/model/types.go
  components/connectivity-adapter/pkg/apperrors/apperrors.go
Due: none

wip
  tests/director/gen-examples.sh
  tests/director/go.mod
  tests/director/go.sum
Due: none

Rewriting history
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/middlewares/tenant.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/director/directorclient.go
  components/provisioner/internal/director/directorclient_test.go
  components/provisioner/internal/director/mocks/DirectorClient.go
  components/provisioner/internal/director/model.go
  components/provisioner/internal/director/query.go
  components/provisioner/internal/provisioning/mocks/Service.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

Tenant validation added
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/cmd/init.go
  components/provisioner/internal/api/mocks/Validator.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/api/validator.go
  components/provisioner/internal/api/validator_test.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/Factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/internal/provisioning/persistence/mocks/Service.go
  components/provisioner/internal/provisioning/persistence/service.go
  components/provisioner/internal/provisioning/service.go
Due: none

Added config map building
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/api/middlewares/tenant.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/provisioning/runtimes/clientbuilder/clientbuilder.go
  components/provisioner/internal/provisioning/runtimes/clientbuilder/mocks/ConfigMapClientBuilder.go
  components/provisioner/internal/provisioning/runtimes/configuration.go
  components/provisioner/internal/provisioning/runtimes/configuration_test.go
  components/provisioner/internal/provisioning/runtimes/mocks/ConfigProvider.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
  components/provisioner/internal/util/errors.go
Due: none

Query fix
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/director/query.go
Due: none

fmt
  components/provisioner/internal/provisioning/service.go
Due: none

wip
  components/director/run.sh
Due: pre-master-compass-components-director, post-master-compass-components-director

tests fixed
  components/provisioner/internal/director/directorclient_test.go
Due: none

Align E2E for legacyConnectorURL property in one-time token for the application (#671)
  chart/compass/values.yaml
  components/director/run.sh
  tests/director/api/fixtures_queries_test.go
  tests/director/api/fixtures_request_test.go
  tests/director/api/token_api_test.go
  tests/director/gateway-integration/fixtures_queries.go
  tests/director/gateway-integration/fixtures_request.go
  tests/director/gateway-integration/playground_test.go
  tests/director/gen-examples.sh
  tests/director/go.mod
  tests/director/go.sum
  tests/director/pkg/gql/fields.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Refactored Client and middlewares to pass headers
  components/connectivity-adapter/internal/connector/api/certificates.go
  components/connectivity-adapter/internal/connector/api/certificates_test.go
  components/connectivity-adapter/internal/connector/api/middlewares/authorization.go
  components/connectivity-adapter/internal/connector/api/middlewares/authorization_test.go
  components/connectivity-adapter/internal/connector/api/middlewares/clientId.go
  components/connectivity-adapter/internal/connector/api/middlewares/clientId_test.go
  components/connectivity-adapter/internal/connector/api/middlewares/context.go
  components/connectivity-adapter/internal/connector/api/signinginforequestinfo_test.go
  components/connectivity-adapter/internal/connector/api/signingrequestinfo.go
  components/connectivity-adapter/internal/connector/graphql/automock/client.go
  components/connectivity-adapter/internal/connector/graphql/client.go
  components/connectivity-adapter/internal/connector/model/types.go
Due: none

wip
  chart/compass/values.yaml
  components/director/internal/domain/runtime/service.go
  components/director/internal/domain/runtime/service_test.go
  tests/director/api/assertions.go
  tests/director/api/runtime_api_test.go
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director
