Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

pre-master-compass-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-cluster-infra:v20190528-8897828
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-compass.sh
      resources:
        requests:
          memory: 100Mi
          cpu: 50m
  ...

pre-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-compass-components-connector:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

pre-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-director:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-components-runtime-agent:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-compass-tests-end-to-end:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-compass-tests-end-to-end:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Change mtls to tls
  chart/compass/charts/director/templates/deployment.yaml
Due: pre-master-compass-integration

Secure Connector Service generate token mutations (#391)
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/charts/connector/templates/service-role-binding.yaml
  chart/compass/charts/connector/templates/service.yaml
  chart/compass/charts/connector/templates/tests/test-connector.yaml
  chart/compass/charts/connector/values.yaml
  chart/compass/charts/director/templates/deployment.yaml
  chart/compass/charts/director/templates/service-account.yaml
  chart/compass/charts/gateway/templates/deployment.yaml
  chart/compass/values.yaml
  components/connector/cmd/main.go
  components/connector/gqlgen.sh
  components/connector/internal/api/certificate_resolver.go
  components/connector/internal/api/resolver.go
  components/connector/internal/api/token_resolver.go
  components/connector/internal/certificates/model.go
  components/connector/pkg/graphql/externalschema/config.yaml
  components/connector/pkg/graphql/externalschema/models_gen.go
  components/connector/pkg/graphql/externalschema/schema.graphql
  components/connector/pkg/graphql/externalschema/schema_gen.go
  components/connector/pkg/graphql/internalschema/config.yaml
  components/connector/pkg/graphql/internalschema/schema.graphql
  components/connector/pkg/graphql/internalschema/schema_gen.go
  tests/connector-tests/Gopkg.lock
  tests/connector-tests/Gopkg.toml
  tests/connector-tests/test/apitests/apitests_test.go
  tests/connector-tests/test/apitests/hydrator_api_test.go
  tests/connector-tests/test/testkit/config.go
  tests/connector-tests/test/testkit/connector/cert_secured_client.go
  tests/connector-tests/test/testkit/connector/internal_client.go
  tests/connector-tests/test/testkit/connector/token_secured_client.go
Due: pre-master-compass-integration, pre-master-compass-components-connector, post-master-compass-components-connector

Delete fork from toml
  tests/connector-tests/Gopkg.lock
  tests/connector-tests/Gopkg.toml
Due: none

update proposal
  docs/investigations/secure-auth-resolvers.md
Due: none

Bump draft version
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration

Delete fork from Connector Test toml (#421)
  tests/connector-tests/Gopkg.lock
  tests/connector-tests/Gopkg.toml
Due: none

Move the queries into application
  components/director/internal/domain/api/resolver.go
  components/director/internal/domain/api/resolver_test.go
  components/director/internal/domain/application/automock/api_service.go
  components/director/internal/domain/application/automock/event_api_service.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/resolver_test.go
  components/director/internal/domain/eventapi/resolver.go
  components/director/internal/domain/eventapi/resolver_test.go
  components/director/internal/domain/root_resolver.go
  components/director/pkg/graphql/application.go
  components/director/pkg/graphql/config.yaml
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

First version of the proposal
  docs/architecture/provisioning-custom-configuration.md
Due: none

init
  docs/README.md
  docs/architecture/app-class-and-template.md
  docs/architecture/assets/app-class.svg
  docs/architecture/assets/app-vs-template-vs-class.svg
  docs/architecture/assets/integration-system-registration.svg
  docs/architecture/components.md
  docs/architecture/integration-systems.md
  docs/terminology.md
Due: none

remove empty file
  docs/terminology.md
Due: none

wip
  docs/architecture/app-class-and-template.md
Due: none

wip
  components/director/pkg/graphql/schema.graphql
  docs/architecture/app-class-and-template.md
Due: pre-master-compass-components-director, post-master-compass-components-director

totally changed
  components/director/pkg/graphql/schema.graphql
  docs/README.md
  docs/architecture/app-management.md
  docs/architecture/components.md
Due: pre-master-compass-components-director, post-master-compass-components-director

revert schema.graphql
  components/director/pkg/graphql/schema.graphql
Due: pre-master-compass-components-director, post-master-compass-components-director

wip
  docs/architecture/assets/integration-system-registration.svg
Due: none

docu in progress
  components/director/pkg/graphql/schema.graphql
  docs/architecture/app-class-and-template.md
Due: pre-master-compass-components-director, post-master-compass-components-director

wip
  docs/architecture/app-class-and-template.md
  docs/architecture/app-management.md
  docs/architecture/assets/app-class.svg
  docs/architecture/assets/app-vs-template-vs-class.svg
Due: none

revert changes to schema.graphql
  components/director/pkg/graphql/schema.graphql
Due: pre-master-compass-components-director, post-master-compass-components-director

Fix unit and integration tests
  components/director/internal/domain/application/fixtures_test.go
  components/director/internal/domain/application/resolver_test.go
  examples/query-api.graphql
  examples/query-event-api.graphql
  tests/end-to-end/director/api_definitions_api_test.go
  tests/end-to-end/director/application_api_test.go
  tests/end-to-end/director/event_api_definitions_api_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end

Bum image versions
  chart/compass/values.yaml
Due: pre-master-compass-integration

Add regex pattern for scenario label enum values
  components/director/internal/model/labeldef_test.go
  components/director/internal/model/scenarios.go
Due: pre-master-compass-components-director, post-master-compass-components-director

bump
  chart/compass/values.yaml
Due: pre-master-compass-integration

Update schema validation
  components/director/internal/model/scenarios.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Improve document after reviews
  docs/architecture/app-management.md
Due: none

Fix the db queries
  components/director/internal/domain/api/automock/api_repository.go
  components/director/internal/domain/api/repository.go
  components/director/internal/domain/api/service.go
  components/director/internal/domain/application/automock/api_service.go
  components/director/internal/domain/application/automock/event_api_service.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/resolver_test.go
  components/director/internal/domain/eventapi/automock/event_api_repository.go
  components/director/internal/domain/eventapi/repository.go
  components/director/internal/domain/eventapi/service.go
  components/director/internal/domain/root_resolver.go
Due: pre-master-compass-components-director, post-master-compass-components-director

review changes
  components/director/internal/model/labeldef_test.go
  components/director/internal/model/scenarios.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update docs/architecture/app-management.md
  docs/architecture/app-management.md
Due: none

add missing tag
  docs/architecture/integration-systems.md
Due: none

Rename GetOrDefault method into GetForApplication
  components/director/internal/domain/api/automock/api_repository.go
  components/director/internal/domain/api/repository.go
  components/director/internal/domain/api/service.go
  components/director/internal/domain/application/automock/api_service.go
  components/director/internal/domain/application/automock/event_api_service.go
  components/director/internal/domain/application/resolver.go
  components/director/internal/domain/application/resolver_test.go
  components/director/internal/domain/eventapi/automock/event_api_repository.go
  components/director/internal/domain/eventapi/repository.go
  components/director/internal/domain/eventapi/service.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add unit tests for services
  components/director/internal/domain/api/service_test.go
  components/director/internal/domain/eventapi/service_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add sensitive data examples
  docs/architecture/provisioning-custom-configuration.md
Due: none

Add unit tests for repositories
  components/director/internal/domain/api/repository_test.go
  components/director/internal/domain/eventapi/repository_test.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Update image version
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration

fix grammar
  docs/investigations/secure-auth-resolvers.md
Due: none

Add example call
  docs/architecture/provisioning-custom-configuration.md
Due: none

Adjust comment
  docs/architecture/provisioning-custom-configuration.md
Due: none

Adjust
  docs/architecture/provisioning-custom-configuration.md
Due: none

Add "
  docs/architecture/provisioning-custom-configuration.md
Due: none

Add regex pattern for scenario label enum values (#427)
  chart/compass/values.yaml
  components/director/internal/model/labeldef_test.go
  components/director/internal/model/scenarios.go
Due: pre-master-compass-integration, pre-master-compass-components-director, post-master-compass-components-director

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
