Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-master-compass-integration: any of: ^(chart|installation)/
  pre-master-compass-integration-stable-cli: any of: ^(chart|installation)/
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

WIP
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/director/directorclient.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/shoot_controller.go
  components/provisioner/internal/gardener/shoot_reconciler.go
  components/provisioner/internal/gardener/step_deprovisioning_in_progress.go
  components/provisioner/internal/gardener/step_installation_in_progress.go
  components/provisioner/internal/gardener/step_provisioning_failed_step.go
  components/provisioner/internal/gardener/step_provisioning_finished.go
  components/provisioner/internal/gardener/step_provisioning_in_progress.go
  components/provisioner/internal/hydroform/provisioner.go
  components/provisioner/internal/installation/installation_client.go
  components/provisioner/internal/installation/installation_client_test.go
  components/provisioner/internal/installation/installation_queue.go
  components/provisioner/internal/installation/steps/connect_agent.go
  components/provisioner/internal/installation/steps/executor.go
  components/provisioner/internal/installation/steps/install_kyma.go
  components/provisioner/internal/installation/steps/wait_for_installation.go
  components/provisioner/internal/installation/upgrade/upgrade_kyma.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/util/pointers.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
  components/schema-migrator/migrations/provisioner/202004021035_add_operation_stage_and_last_transition.down.sql
  components/schema-migrator/migrations/provisioner/202004021035_add_operation_stage_and_last_transition.up.sql
Due: pre-master-provisioner-whitesource-scan

Add some unit tests
  components/provisioner/cmd/main.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/operation/executor.go
  components/provisioner/internal/operation/executor_test.go
  components/provisioner/internal/operation/stage.go
  components/provisioner/internal/operation/stages/connect_agent.go
  components/provisioner/internal/operation/stages/connect_agent_test.go
  components/provisioner/internal/operation/stages/install_kyma.go
  components/provisioner/internal/operation/stages/install_kyma_test.go
  components/provisioner/internal/operation/stages/upgrade_kyma.go
  components/provisioner/internal/operation/stages/upgrade_kyma_test.go
  components/provisioner/internal/operation/stages/wait_for_installation.go
  components/provisioner/internal/operation/stages/wait_for_installation_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadWriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
Due: none

Adjust tests and Database
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/api/mocks/Validator.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_integration_with_hydroform_test.go
  components/provisioner/internal/api/validator.go
  components/provisioner/internal/api/validator_test.go
  components/provisioner/internal/gardener/annotations.go
  components/provisioner/internal/gardener/annotations_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/gardener/shoot_reconciler.go
  components/provisioner/internal/gardener/step_deprovisioning_in_progress.go
  components/provisioner/internal/gardener/step_provisioning_failed_step.go
  components/provisioner/internal/gardener/step_provisioning_in_progress.go
  components/provisioner/internal/hydroform/provisioner_test.go
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/installation_test.go
  components/provisioner/internal/installation/mocks/Service.go
  components/provisioner/internal/model/kyma_config.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/operations/stages/install_kyma.go
  components/provisioner/internal/operations/stages/install_kyma_test.go
  components/provisioner/internal/operations/stages/upgrade_kyma.go
  components/provisioner/internal/operations/stages/wait_for_installation.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadWriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
  components/provisioner/internal/util/k8s/k8s.go
  components/schema-migrator/migrations/provisioner/202004021035_add_runtime_upgrade.down.sql
  components/schema-migrator/migrations/provisioner/202004021035_add_runtime_upgrade.up.sql
Due: pre-master-provisioner-whitesource-scan

Move packages
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/gardener/shoot_controller.go
  components/provisioner/internal/gardener/shoot_reconciler.go
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/installation_test.go
  components/provisioner/internal/operation/executor.go
  components/provisioner/internal/operation/queue.go
  components/provisioner/internal/operation/stage.go
  components/provisioner/internal/operation/stages/connect_agent.go
  components/provisioner/internal/operation/stages/install_kyma.go
  components/provisioner/internal/operation/stages/upgrade_kyma.go
  components/provisioner/internal/operation/stages/wait_for_installation.go
Due: none

Create Upgrade queue
  components/provisioner/cmd/main.go
  components/provisioner/internal/installation/installation_queue.go
  components/provisioner/internal/installation/steps/executor.go
  components/provisioner/internal/installation/steps/upgrade_kyma.go
Due: none

Cleanup
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
Due: none

Rename mutation
  components/provisioner/go.sum
  components/provisioner/internal/api/mocks/Validator.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/api/validator.go
  components/provisioner/internal/api/validator_test.go
  components/provisioner/internal/provisioning/mocks/Service.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: pre-master-provisioner-whitesource-scan

Modify API
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/go.sum
  components/provisioner/internal/api/mocks/Validator.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/api/validator.go
  components/provisioner/internal/api/validator_test.go
  components/provisioner/internal/gardener/shoot_controller.go
  components/provisioner/internal/gardener/shoot_reconciler.go
  components/provisioner/internal/model/runtime_upgrade.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/operations/executor.go
  components/provisioner/internal/operations/executor_test.go
  components/provisioner/internal/operations/queue.go
  components/provisioner/internal/operations/stage.go
  components/provisioner/internal/operations/stages/connect_agent.go
  components/provisioner/internal/operations/stages/connect_agent_test.go
  components/provisioner/internal/operations/stages/install_kyma.go
  components/provisioner/internal/operations/stages/install_kyma_test.go
  components/provisioner/internal/operations/stages/upgrade_kyma.go
  components/provisioner/internal/operations/stages/upgrade_kyma_test.go
  components/provisioner/internal/operations/stages/wait_for_installation.go
  components/provisioner/internal/operations/stages/wait_for_installation_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
  components/schema-migrator/migrations/provisioner/202004021035_add_operation_stage_and_last_transition.down.sql
  components/schema-migrator/migrations/provisioner/202004021035_add_operation_stage_and_last_transition.up.sql
  components/schema-migrator/migrations/provisioner/202004021035_add_runtime_upgrade.down.sql
  components/schema-migrator/migrations/provisioner/202004021035_add_runtime_upgrade.up.sql
Due: pre-master-provisioner-whitesource-scan

Add some unit tests
  components/provisioner/internal/operations/mocks/OperationQueue.go
  components/provisioner/internal/operations/queue.go
  components/provisioner/internal/provisioning/mocks/Service.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadWriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
Due: none

Adjust installation tests
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/gardener/shoot_reconciler.go
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/installation_test.go
  components/provisioner/internal/operations/stages/update_upgrade_state.go
Due: pre-master-provisioner-whitesource-scan

Sort listed runtimes by name (#1129)
  chart/compass/values.yaml
  components/director/internal/domain/runtime/repository.go
  components/director/internal/domain/runtime/repository_test.go
  components/schema-migrator/migrations/director/202004071241_add_runtimes_by_name_index.down.sql
  components/schema-migrator/migrations/director/202004071241_add_runtimes_by_name_index.up.sql
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

Increase timeout for Kyma installation
  chart/compass/charts/provisioner/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Increase timeout for Kyma installation (#1154)
  chart/compass/charts/provisioner/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

add docs
  tests/e2e/provisioning/README.md
Due: none

Add failure handlers
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/model/runtime_upgrade.go
  components/provisioner/internal/operations/executor.go
  components/provisioner/internal/operations/executor_test.go
  components/provisioner/internal/operations/failure/noop_handler.go
  components/provisioner/internal/operations/failure/upgrade_failure_handler.go
  components/provisioner/internal/operations/queues_constructor.go
  components/provisioner/internal/operations/types.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
  components/schema-migrator/migrations/provisioner/202004021035_add_runtime_upgrade.up.sql
Due: pre-master-provisioner-whitesource-scan

Tag Azure resource group and namespace with the Kyma runtime properties (#1126)
  components/kyma-environment-broker/internal/hyperscaler/azure/client.go
  components/kyma-environment-broker/internal/hyperscaler/azure/tags.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
Due: none

Use uuid-ossp to generate uuids during migration
  chart/compass/charts/postgresql/values.yaml
  components/schema-migrator/migrations/director/202007041321_add_name_labels_to_runtimes.down.sql
  components/schema-migrator/migrations/director/202007041321_add_name_labels_to_runtimes.up.sql
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Update upgrade step implemented
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/internal/model/types.go
  components/provisioner/internal/operations/executor.go
  components/provisioner/internal/operations/failure/upgrade_failure_handler.go
  components/provisioner/internal/operations/stages/connect_agent.go
  components/provisioner/internal/operations/stages/connect_agent_test.go
  components/provisioner/internal/operations/stages/install_kyma.go
  components/provisioner/internal/operations/stages/install_kyma_test.go
  components/provisioner/internal/operations/stages/update_upgrade_state.go
  components/provisioner/internal/operations/stages/update_upgrade_step_test.go
  components/provisioner/internal/operations/stages/upgrade_kyma.go
  components/provisioner/internal/operations/stages/wait_for_installation.go
  components/provisioner/internal/operations/stages/wait_for_installation_test.go
  components/provisioner/internal/operations/types.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadWriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
Due: pre-master-provisioner-whitesource-scan

remove shared code consolidation attempt
  components/kyma-environment-broker/internal/process/azure/event_hub.go
  components/kyma-environment-broker/internal/process/deprovisioning/event_hub_step.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
Due: none

Bump also production postgres
  chart/compass/charts/postgresql/values-production.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Cleanup
  components/provisioner/cmd/main.go
  components/provisioner/go.mod
  components/provisioner/internal/operations/executor_test.go
  components/provisioner/internal/operations/failure/upgrade_failure_handler.go
  components/provisioner/internal/operations/stages/update_upgrade_state.go
  components/provisioner/internal/operations/stages/update_upgrade_step_test.go
Due: pre-master-provisioner-whitesource-scan

Refactoring
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_integration_with_hydroform_test.go
  components/provisioner/internal/gardener/shoot_controller.go
  components/provisioner/internal/gardener/shoot_reconciler.go
  components/provisioner/internal/gardener/step_provisioning_in_progress.go
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/installation_test.go
  components/provisioner/internal/operations/executor.go
  components/provisioner/internal/operations/executor_test.go
  components/provisioner/internal/operations/queue/queue.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/queues_constructor.go
  components/provisioner/internal/operations/stages/connect_agent.go
  components/provisioner/internal/operations/stages/connect_agent_test.go
  components/provisioner/internal/operations/stages/install_kyma.go
  components/provisioner/internal/operations/stages/install_kyma_test.go
  components/provisioner/internal/operations/stages/update_upgrade_step_test.go
  components/provisioner/internal/operations/stages/upgrade_kyma.go
  components/provisioner/internal/operations/stages/wait_for_installation.go
  components/provisioner/internal/operations/stages/wait_for_installation_test.go
  components/provisioner/internal/operations/types.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadWriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/WriteSessionWithinTransaction.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
  components/provisioner/internal/util/k8s/k8s.go
  components/provisioner/internal/util/pointers.go
Due: none

Fall back to gce-proxy:1.14 for job sidecars
  chart/compass/charts/director/templates/tenant-loader-job.yaml
  chart/compass/templates/migrator-job.yaml
  chart/compass/templates/tenant-fetcher-job.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Configure startingDeadlineSeconds in Tenant Fetcher
  chart/compass/templates/tenant-fetcher-job.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Add searchPhrase to runtimes query
  components/director/internal/domain/eventing/service.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/repository.go
  components/director/internal/domain/runtime/repository_test.go
  components/director/internal/domain/runtime/resolver.go
  components/director/internal/domain/runtime/service.go
  components/director/internal/domain/runtime/service_test.go
  components/director/pkg/graphql/schema.graphql
  components/director/pkg/graphql/schema_gen.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Add Upgrade RollBack
  components/provisioner/internal/api/mocks/Validator.go
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/api/validator.go
  components/provisioner/internal/api/validator_test.go
  components/provisioner/internal/provisioning/mocks/Service.go
  components/provisioner/internal/provisioning/persistence/dbsession/factory.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/mocks/ReadWriteSession.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/service.go
  components/provisioner/internal/provisioning/service_test.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
Due: none

Add tests
  components/provisioner/internal/api/resolver_test.go
Due: none

Configure startingDeadlineSeconds in Tenant Fetcher (#1157)
  chart/compass/templates/tenant-fetcher-job.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Include version with fix
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Create scenarios LD on get
  components/director/internal/domain/labeldef/automock/scenarios_service.go
  components/director/internal/domain/labeldef/service.go
  components/director/internal/domain/labeldef/service_test.go
  components/director/internal/domain/root_resolver.go
  tests/director/api/labeling_api_test.go
  tests/director/api/tenant_setup.go
Due: pre-master-compass-components-director, post-master-compass-components-director

Bump
  chart/compass/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Make secret keys configurable
  chart/compass/charts/connector/templates/deployment.yaml
  chart/compass/values.yaml
  components/connector/config/components.go
  components/connector/config/config.go
  components/connector/internal/certificates/service.go
  components/connector/internal/certificates/service_test.go
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector

Bump image
  chart/compass/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Create scenarios Label Definition on get (#1161)
  chart/compass/values.yaml
  components/director/internal/domain/labeldef/automock/scenarios_service.go
  components/director/internal/domain/labeldef/service.go
  components/director/internal/domain/labeldef/service_test.go
  components/director/internal/domain/root_resolver.go
  tests/director/api/labeling_api_test.go
  tests/director/api/tenant_setup.go
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-director, post-master-compass-components-director

Make rootCA key optional
  chart/compass/charts/connector/templates/deployment.yaml
  components/connector/config/config.go
  components/connector/internal/certificates/service.go
  components/connector/internal/certificates/service_test.go
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector

Update gopkg.in/yaml.v2 package
  chart/compass/values.yaml
  components/connectivity-adapter/go.mod
  components/connectivity-adapter/go.sum
  components/connector/Gopkg.lock
  components/connector/Gopkg.toml
  components/director/go.mod
  components/director/go.sum
  components/gateway/go.mod
  components/gateway/go.sum
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/pairing-adapter/go.mod
  components/pairing-adapter/go.sum
  components/provisioner/go.mod
  components/provisioner/go.sum
  tests/connectivity-adapter/go.mod
  tests/connectivity-adapter/go.sum
  tests/connector-tests/Gopkg.lock
  tests/connector-tests/Gopkg.toml
  tests/director/go.mod
  tests/director/go.sum
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli, pre-master-compass-components-connector, post-master-compass-components-connector, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-components-gateway, post-compass-components-gateway, pre-master-provisioner-whitesource-scan

upgrade step tests
  components/provisioner/internal/operations/stages/upgrade_kyma_test.go
Due: none

convert async api v1 in compass cockpit
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli

Luigi bump (#1143)
  chart/compass/charts/cockpit/templates/configmap.yaml
  chart/compass/charts/cockpit/values.yaml
Due: pre-master-compass-integration, pre-master-compass-integration-stable-cli
