Repository kyma-incubator/compass: changes, and which Prow jobs are due for each by the changed paths.
All: pull-operations-controller-build, pull-connector-build, pull-director-build, pull-hydrator-build, pull-system-broker-build, pull-external-services-mock-build, pull-connectivity-adapter-build, pull-pairing-adapter-build, pull-gateway-build, pull-schema-migrator-build, pull-tests-build, post-operations-controller-build, post-connector-build, post-director-build, post-hydrator-build, post-system-broker-build, post-external-services-mock-build, post-connectivity-adapter-build, post-pairing-adapter-build, post-gateway-build, post-schema-migrator-build, post-tests-build, pre-main-compass-development-artifacts, pre-main-compass-gke-benchmark, pre-main-compass-gke-integration, pre-master-compass-integration-auditlog-temp, pre-main-compass-integration-no-dump, pre-main-compass-integration-test, pre-main-compass-integration-with-dump, pre-main-compass-integration, pre-main-compass-smoke-test, pull-connectivity-adapter-lint, pull-connectivity-adapter-unit-test, pull-connector-unit-test, pre-master-compass-components-connector, post-master-compass-components-connector, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-compass-components-gateway, post-compass-components-gateway, pull-operations-controller-lint, pull-operations-controller-unit-test, pull-pairing-adapter-unit-test, pre-master-compass-components-runtime-agent, post-master-compass-components-runtime-agent, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-components-system-broker, post-compass-components-system-broker, post-main-compass-vm-clean-with-dump, pre-compass-tests, post-compass-tests, pre-compass-tests-connector-tests, post-compass-tests-connector-tests, pre-master-compass-tests-end-to-end, post-master-compass-tests-end-to-end, pre-compass-tests-provisioner-tests, post-compass-tests-provisioner-tests, pre-master-provisioner-whitesource-scan, pre-compass-tests-tenant-fetcher, post-compass-tests-tenant-fetcher, pull-director-lint, pull-director-unit-test, pull-gateway-unit-test, pull-hydrator-unit-test, pull-ias-adapter-build, pull-ias-adapter-unit-test, post-ias-adapter-build, pull-instance-creator-build, pull-instance-creator-lint, pull-instance-creator-unit-test, post-instance-creator-build, pull-kyma-adapter-build, pull-kyma-adapter-lint, pull-kyma-adapter-unit-test, post-kyma-adapter-build, pre-main-compass-director-gqlgen-validate, pull-schema-migrator-build-compass, post-schema-migrator-build-compass, pull-compass-checkconfig, pull-compass-pjconfigtest, pull-compass-pjtester, pull-compass-vpathguard

pull-operations-controller-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-operations-controller-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-connector-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-connector-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-director-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-director-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
      command:
  ...

pull-hydrator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-hydrator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
      command:
  ...

pull-system-broker-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-system-broker-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-external-services-mock-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-external-services-mock-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-connectivity-adapter-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-connectivity-adapter-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

pull-pairing-adapter-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-pairing-adapter-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220928-3d2ace1b4-buildkit
  ...

post-external-services-mock-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-external-services-mock-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

Remove unused code (#3911)
  components/director/cmd/director/main.go
  components/director/cmd/ns-adapter/main.go
  components/director/cmd/ordaggregator/main.go
  components/director/cmd/systemfetcher/main.go
  components/director/internal/domain/formationassignment/resolver.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/scenarioassignment/service.go
  components/director/internal/domain/scenarioassignment/service_test.go
  components/director/internal/tenantfetchersvc/resync/builder.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Implement CSM support for managed app templates'
  components/director/cmd/systemfetcher/main.go
  components/director/internal/domain/certsubjectmapping/automock/cert_mapping_repository.go
  components/director/internal/domain/certsubjectmapping/service.go
  components/director/internal/domain/certsubjectmapping/service_test.go
  components/director/internal/systemfetcher/automock/cert_subj_mapping_service.go
  components/director/internal/systemfetcher/loader.go
  components/director/internal/systemfetcher/loader_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

generate one mock file
  components/director/internal/systemfetcher/automock/kube_client.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

make linter happy
  components/director/internal/domain/application/service_test.go
  components/director/internal/systemfetcher/loader.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

address PR comments
  components/director/internal/domain/eventing/service.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

remove redundant logs
  components/director/internal/systemfetcher/loader.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

adjust implementation and unit tests
  components/director/internal/systemfetcher/fixtures_test.go
  components/director/internal/systemfetcher/kubernetes.go
  components/director/internal/systemfetcher/loader.go
  components/director/internal/systemfetcher/loader_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Initial impl
  components/director/cmd/ordaggregator/main.go
  components/director/internal/open_resource_discovery/client.go
  components/director/internal/open_resource_discovery/global_registry.go
  components/director/internal/open_resource_discovery/sanitizer.go
  components/director/internal/open_resource_discovery/service.go
  components/director/internal/open_resource_discovery/validator.go
  components/director/pkg/model/open_resource_discovery.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Initial e2e tests
  components/external-services-mock/cmd/main.go
  components/external-services-mock/internal/ord-aggregator/handler.go
  components/external-services-mock/internal/ord-metadata-validator/handler.go
  tests/ord-aggregator/tests/handler_test.go
  tests/ord-aggregator/tests/main_test.go
Due: pull-external-services-mock-build, pull-tests-build, post-external-services-mock-build, post-tests-build, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-compass-tests, post-compass-tests

setup handlers
  components/director/internal/open_resource_discovery/validation_client.go
  components/director/internal/open_resource_discovery/validator.go
  components/external-services-mock/cmd/main.go
  components/external-services-mock/go.mod
  components/external-services-mock/go.sum
  components/external-services-mock/internal/ord-aggregator/handler.go
  components/external-services-mock/internal/ord-metadata-validator/handler.go
Due: pull-director-build, pull-external-services-mock-build, post-director-build, post-external-services-mock-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-master-provisioner-whitesource-scan, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

adjust error message
  components/director/internal/systemfetcher/kubernetes.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

make linter happy
  components/director/internal/model/auth.go
  components/director/internal/systemfetcher/loader.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

fix merge
  components/director/internal/domain/eventing/service.go
  components/director/internal/domain/root_resolver.go
  components/director/internal/domain/runtime/repository.go
  components/director/internal/domain/runtime/repository_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

e2e test
  components/external-services-mock/cmd/main.go
  components/external-services-mock/internal/api-metadata-validator/handler.go
  components/external-services-mock/internal/ord-aggregator/template.go
  tests/go.mod
  tests/go.sum
  tests/ord-aggregator/tests/handler_test.go
  tests/ord-aggregator/tests/main_test.go
Due: pull-external-services-mock-build, pull-tests-build, post-external-services-mock-build, post-tests-build, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

address PR comments
  components/director/internal/domain/formation/resolver.go
  components/director/internal/domain/formation/resolver_test.go
  components/director/internal/domain/runtime/service_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Implementation
  components/director/internal/domain/apptemplate/resolver.go
  components/director/internal/domain/apptemplate/service.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

fix current unit tests
  components/director/internal/open_resource_discovery/automock/validator.go
  components/director/internal/open_resource_discovery/automock/validator_client.go
  components/director/internal/open_resource_discovery/global_registry_test.go
  components/director/internal/open_resource_discovery/sanitizer.go
  components/director/internal/open_resource_discovery/service_test.go
  components/director/internal/open_resource_discovery/validator_test.go
  tests/pkg/clients/api_metadata_validator_client.go
Due: pull-director-build, pull-tests-build, post-director-build, post-tests-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-compass-tests, post-compass-tests, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

update gomod
  tests/go.mod
  tests/go.sum
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

godoc
  components/external-services-mock/cmd/main.go
  components/external-services-mock/internal/api-metadata-validator/handler.go
  tests/pkg/clients/api_metadata_validator_client.go
Due: pull-external-services-mock-build, pull-tests-build, post-external-services-mock-build, post-tests-build, pull-external-services-mock-lint, pull-external-services-mock-unit-test, pre-compass-tests, post-compass-tests

enhance e2e tests
  tests/ord-aggregator/tests/handler_test.go
  tests/pkg/clients/api_metadata_validator_client.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

add unit tests
  components/director/internal/open_resource_discovery/fixtures_test.go
  components/director/internal/open_resource_discovery/validator_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

get ValidationError out
  components/director/internal/open_resource_discovery/automock/validator_client.go
  components/director/internal/open_resource_discovery/fixtures_test.go
  components/director/internal/open_resource_discovery/validation_client.go
  components/director/internal/open_resource_discovery/validation_client_test.go
  components/director/internal/open_resource_discovery/validator.go
  components/director/internal/open_resource_discovery/validator_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Unit tests
  components/director/internal/domain/apptemplate/fixtures_test.go
  components/director/internal/domain/apptemplate/resolver_test.go
  components/director/internal/domain/apptemplate/service_test.go
  components/director/internal/model/app_template.go
  components/director/internal/model/app_template_test.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Init label key in system fetcher
  components/director/cmd/systemfetcher/main.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Refactoring
  components/director/internal/domain/apptemplate/service.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Init
  components/director/go.mod
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formationconstraint/operators/constraint_engine.go
  components/director/internal/domain/formationconstraint/operators/does_not_contain_resource_of_subtype_operator.go
  components/director/internal/domain/formationconstraint/operators/fixtures_test.go
  components/director/internal/domain/formationconstraint/operators/initial_config_validator_operator.go
  components/director/internal/domain/formationconstraint/operators/initial_config_validator_operator_test.go
  components/director/internal/domain/formationconstraint/operators/utils.go
  components/director/internal/domain/formationtemplateconstraintreferences/repository.go
  components/director/internal/model/formation_constraint.go
  components/director/pkg/formationconstraint/formation_constraint_input.go
  components/director/pkg/formationconstraint/join_point_details.go
  components/director/pkg/formationconstraint/join_point_location.go
  components/director/pkg/formationconstraint/validation.go
  components/director/pkg/graphql/formation_constraint_validation.go
  components/director/pkg/graphql/models_gen.go
  components/director/pkg/graphql/schema.graphql
  components/schema-migrator/migrations/director/20240611114746_add-new-constraint-operations.down.sql
  components/schema-migrator/migrations/director/20240611114746_add-new-constraint-operations.up.sql
  tests/director/tests/notifications/application_only_notifications_new_format_test.go
  tests/go.mod
  tests/pkg/fixtures/formation_assignment_notifications_constants.go
  tests/pkg/notifications/operations/remove_constraint.go
Due: pull-director-build, pull-schema-migrator-build, pull-tests-build, post-director-build, post-schema-migrator-build, post-tests-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate, pull-schema-migrator-build-compass, post-schema-migrator-build-compass

Rename operator
  components/director/internal/domain/application/automock/runtime_repository.go
  components/director/internal/domain/formation/assign_formation_test.go
  components/director/internal/domain/formation/fixtures_test.go
  components/director/internal/domain/formation/service.go
  components/director/internal/domain/formationconstraint/operators/constraint_engine.go
  components/director/internal/domain/formationconstraint/operators/fixtures_test.go
  components/director/internal/domain/formationconstraint/operators/json_schema_validator_operator.go
  components/director/internal/domain/formationconstraint/operators/json_schema_validator_operator_test.go
  components/director/internal/domain/formationtemplate/repository_test.go
  components/director/internal/domain/formationtemplateconstraintreferences/repository_test.go
  components/director/internal/repo/testdb/generic_repo_delete_tests.go
  components/director/pkg/formationconstraint/formation_constraint_input.go
  components/director/pkg/formationconstraint/join_point_details.go
  components/director/pkg/formationconstraint/validation.go
  components/schema-migrator/migrations/director/20240611114746_add-new-constraint-operations.up.sql
  tests/director/tests/notifications/application_only_notifications_new_format_test.go
  tests/go.mod
  tests/pkg/notifications/operations/remove_constraint.go
Due: pull-director-build, pull-schema-migrator-build, pull-tests-build, post-director-build, post-schema-migrator-build, post-tests-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate, pull-schema-migrator-build-compass, post-schema-migrator-build-compass

bump components versions
  tests/go.mod
  tests/go.sum
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests, pre-master-provisioner-whitesource-scan

make linter happy
  components/director/internal/domain/formationconstraint/operators/json_schema_validator_operator.go
  components/director/pkg/formationconstraint/formation_constraint_input.go
  components/director/pkg/formationconstraint/join_point_details.go
  components/director/pkg/formationconstraint/join_point_location.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

make linter happy
  components/schema-migrator/migrations/director/20240611114746_add-new-constraint-operations.down.sql
Due: pull-schema-migrator-build, post-schema-migrator-build, pre-main-compass-schema-migrator-validate, pre-compass-components-schema-migrator, post-compass-components-schema-migrator, pull-schema-migrator-build-compass, post-schema-migrator-build-compass

initial implem
  tests/system-fetcher/tests/handler_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

adjust leadingSystemTypeId key...
  tests/system-fetcher/tests/handler_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

support global ignorelist
  components/director/cmd/ordaggregator/main.go
  components/director/internal/open_resource_discovery/validator.go
  components/director/internal/open_resource_discovery/validator_test.go
  components/director/pkg/str/strings.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

fix lint
  components/director/pkg/str/strings.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

adjust leadingSystemTypeId key... (#3919)
  tests/system-fetcher/tests/handler_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

Adjust deployment identifier for systems (#3918)
  tests/system-fetcher/tests/handler_test.go
Due: pull-tests-build, post-tests-build, pre-compass-tests, post-compass-tests

remove post notification generation
  components/director/internal/domain/formation/assign_formation_test.go
  components/director/internal/domain/formation/fixtures_test.go
  components/director/internal/domain/formation/notificationbuilder.go
  components/director/internal/domain/formation/notificationbuilder_test.go
  components/director/internal/domain/formation/service_test.go
  components/director/internal/domain/formation/unassign_formation_test.go
  components/director/pkg/formationconstraint/join_point_location.go
  components/director/pkg/formationconstraint/validation.go
Due: pull-director-build, post-director-build, pre-compass-components-director, post-compass-components-director, pre-master-compass-components-director, post-master-compass-components-director, pull-director-lint, pull-director-unit-test, pre-main-compass-director-gqlgen-validate

Path conditions:
  pull-operations-controller-build: any of: ^components/operations-controller/
  pull-connector-build: any of: ^components/connector/
  pull-director-build: any of: ^components/director/
  pull-hydrator-build: any of: ^components/hydrator/
  pull-system-broker-build: any of: ^components/system-broker/
  pull-external-services-mock-build: any of: ^components/external-services-mock/
  pull-connectivity-adapter-build: any of: ^components/connectivity-adapter/
  pull-pairing-adapter-build: any of: ^components/pairing-adapter/
  pull-gateway-build: any of: ^components/gateway/
  pull-schema-migrator-build: any of: ^components/schema-migrator/
  pull-tests-build: any of: ^tests/
  post-operations-controller-build: any of: ^components/operations-controller/
  post-connector-build: any of: ^components/connector/
  post-director-build: any of: ^components/director/
  post-hydrator-build: any of: ^components/hydrator/
  post-system-broker-build: any of: ^components/system-broker/
  post-external-services-mock-build: (any of: ^components/system-broker/) or (any of: ^components/external-services-mock/)
  post-connectivity-adapter-build: (any of: ^components/system-broker/) or (any of: ^components/connectivity-adapter/)
  post-pairing-adapter-build: any of: ^components/pairing-adapter/
  post-gateway-build: any of: ^components/gateway/
  post-schema-migrator-build: any of: ^components/schema-migrator/
  post-tests-build: any of: ^tests/
  pre-main-compass-development-artifacts: any of: ^installation|^chart|^tools/compass-installer
  pre-main-compass-gke-benchmark: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-compass-gke-integration: any of: ^((chart\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-compass-integration-auditlog-temp: any of: ^(chart|installation)/
  pre-main-compass-integration-no-dump: any of: ^(chart|installation)/
  pre-main-compass-integration-test: any of: ^(chart|installation)/
  pre-main-compass-integration-with-dump: any of: ^(chart|installation)/
  pre-main-compass-integration: any of: ^(chart|installation)/
  pre-main-compass-smoke-test: any of: ^(chart|installation)/
  pull-connectivity-adapter-lint: any of: ^components/connectivity-adapter/(.*\.go$|.golangcilint.yaml)
  pull-connectivity-adapter-unit-test: any of: ^components/connectivity-adapter/.*\.go$
  pull-connector-unit-test: any of: ^components/connector/.*\.go$
  pre-master-compass-components-connector: any of: ^components/connector/
  post-master-compass-components-connector: any of: ^components/connector/
  pre-compass-components-director: any of: ^components/director/|^scripts/
  post-compass-components-director: any of: ^components/director/|^scripts/
  pre-master-compass-components-director: any of: ^components/director/
  post-master-compass-components-director: any of: ^components/director/
  pull-external-services-mock-lint: any of: ^components/external-services-mock/(.*\.go$|.golangcilint.yaml)
  pull-external-services-mock-unit-test: any of: ^components/external-services-mock/.*\.go$
  pre-compass-components-gateway: any of: ^components/gateway/|^scripts/
  post-compass-components-gateway: any of: ^components/gateway/|^scripts/
  pull-operations-controller-lint: any of: ^components/operations-controller/(.*\.go$|.golangcilint.yaml)
  pull-operations-controller-unit-test: any of: ^components/operations-controller/.*\.go$
  pull-pairing-adapter-unit-test: any of: ^components/pairing-adapter/.*\.go$
  pre-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  post-master-compass-components-runtime-agent: any of: ^components/runtime-agent/
  pre-main-compass-schema-migrator-validate: any of: ^components/schema-migrator/
  pre-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-compass-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-compass-components-system-broker: any of: ^components/system-broker/|^scripts/
  post-main-compass-vm-clean-with-dump: any of: ^(chart|installation)/
  pre-compass-tests: any of: ^tests/|^scripts/
  post-compass-tests: any of: ^tests/|^scripts/
  pre-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  post-compass-tests-connector-tests: any of: ^tests/connector-tests/|^scripts/
  pre-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  post-master-compass-tests-end-to-end: any of: ^tests/end-to-end/
  pre-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  post-compass-tests-provisioner-tests: any of: ^tests/provisioner-tests/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
  pre-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  post-compass-tests-tenant-fetcher: any of: ^tests/tenant-fetcher/|^scripts/
  pull-director-lint: any of: ^components/director/(.*\.go$|.golangcilint.yaml)
  pull-director-unit-test: any of: ^components/director/.*\.go$
  pull-gateway-unit-test: any of: ^components/gateway/.*\.go$
  pull-hydrator-unit-test: any of: ^components/hydrator/.*\.go$
  pull-ias-adapter-build: any of: ^components/ias-adapter/
  pull-ias-adapter-unit-test: any of: ^components/ias-adapter/.*\.go$
  post-ias-adapter-build: any of: ^components/ias-adapter/
  pull-instance-creator-build: any of: ^components/instance-creator/
  pull-instance-creator-lint: any of: ^components/instance-creator/(.*\.go$|.golangcilint.yaml)
  pull-instance-creator-unit-test: any of: ^components/instance-creator/.*\.go$
  post-instance-creator-build: any of: ^components/instance-creator/
  pull-kyma-adapter-build: any of: ^components/kyma-adapter/
  pull-kyma-adapter-lint: any of: ^components/kyma-adapter/(.*\.go$|.golangcilint.yaml)
  pull-kyma-adapter-unit-test: any of: ^components/kyma-adapter/.*\.go$
  post-kyma-adapter-build: any of: ^components/kyma-adapter/
  pre-main-compass-director-gqlgen-validate: any of: ^components/director/
  pull-schema-migrator-build-compass: any of: ^components/schema-migrator/
  post-schema-migrator-build-compass: any of: ^components/schema-migrator/
  pull-compass-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-compass-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-compass-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-compass-vpathguard: any of: ^(vpath/pjtester.yaml)
