Repository kyma-incubator/reconciler: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-ory-reconciler-eval-integration, pre-main-ory-reconciler-prod-integration, pre-main-reconciler-validate-dockerfiles, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration, pre-reconciler-validate-inrepo-prow-configs, pull-reconciler-pjconfigtest, pull-reconciler-pjtester, pull-reconciler-vpathguard

pre-main-reconciler-cli-integration-kyma-main-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-cli-integration-kyma-main-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  ...

pre-main-reconciler-cli-integration-kyma-latest-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-cli-integration-kyma-latest-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pull-main-cli-integration-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-main-cli-integration-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-main-cli-integration-k3d-latest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-main-cli-integration-k3d-latest
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-main-cli-kyma-release-upgrade-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-main-cli-kyma-release-upgrade-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  decorate: true
  spec:
  ...

pull-main-reconciler-integration-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-main-reconciler-integration-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-reconciler-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      command:
      - /bin/sh
      args:
  ...

pre-main-reconciler-integration-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-integration-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pull-reconciler-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-reconciler-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
  ...

debug
  scripts/prow/cli-integration-release-upgrade.sh
Due: none

debug other pipeline
  scripts/prow/cli-integration-latest.sh
  scripts/prow/cli-integration-release-upgrade.sh
Due: none

remove token from cli-integration-latest.sh
  scripts/prow/cli-integration-latest.sh
Due: none

add new lines to scripts
  scripts/prow/cli-integration-latest.sh
  scripts/prow/cli-integration-release-upgrade.sh
  scripts/prow/cli-integration.sh
  scripts/prow/reconciler-integration.sh
Due: none

Add scripts for Jellyfish prow jobs (#1372)
  scripts/prow/cli-integration-latest.sh
  scripts/prow/cli-integration-release-upgrade.sh
  scripts/prow/cli-integration.sh
  scripts/prow/reconciler-integration.sh
Due: none

Apply bootstrap EnvoyFilter before proxy reset
  go.mod
  pkg/reconciler/instances/istio/action.go
  pkg/reconciler/instances/istio/clientset/provider.go
  pkg/reconciler/instances/istio/envoy/envoy_action.go
  pkg/reconciler/instances/istio/envoy/envoy_action_test.go
  pkg/reconciler/instances/istio/istio.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Update HPA version to v2
  pkg/reconciler/service/hpainterceptor.go
  pkg/reconciler/service/test/hpainterceptor.yaml
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Update hpa to v2
  pkg/reconciler/service/hpainterceptor.go
  pkg/reconciler/service/test/hpainterceptor.yaml
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Apply bootstrap EnvoyFilter before proxy reset (#1375)
  go.mod
  pkg/reconciler/instances/istio/action.go
  pkg/reconciler/instances/istio/clientset/provider.go
  pkg/reconciler/instances/istio/envoy/envoy_action.go
  pkg/reconciler/instances/istio/envoy/envoy_action_test.go
  pkg/reconciler/instances/istio/istio.go
  pkg/reconciler/service/hpainterceptor.go
  pkg/reconciler/service/test/hpainterceptor.yaml
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Skip components by env-var
  pkg/model/clusterconfigentity.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Add logging when skipping by env-var
  pkg/model/clusterconfigentity.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Ensure envVar name is compliant
  pkg/model/clusterconfigentity.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

improve logging
  pkg/model/clusterconfigentity.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

fix typo
  pkg/model/clusterconfigentity.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Add unit test
  pkg/model/clusterconfigentity.go
  pkg/model/clusterconfigentity_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Skip components by env-var (#1377)
  pkg/model/clusterconfigentity.go
  pkg/model/clusterconfigentity_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Update Dockerfile.cr
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Update Dockerfile.cr (#1378)
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Stop outdated service proxies from failing the reconciliation and preventing proxy reset.
  pkg/reconciler/instances/istio/action.go
  pkg/reconciler/instances/istio/action_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Stop outdated service proxies from failing the reconciliation and preventing proxy reset. (#1380)
  pkg/reconciler/instances/istio/action.go
  pkg/reconciler/instances/istio/action_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Allow expanded pvc reconciliations
  pkg/reconciler/instances/connectivityproxy/command_test.go
  pkg/reconciler/service/install.go
  pkg/reconciler/service/pvcinterceptor.go
  pkg/reconciler/service/pvcinterceptor_test.go
  pkg/reconciler/service/test/pvcinterceptor-pvc.yaml
  pkg/reconciler/service/test/pvcinterceptor-sfs.yaml
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Allow expanded pvc reconciliations (#1381)
  pkg/reconciler/instances/connectivityproxy/command_test.go
  pkg/reconciler/service/install.go
  pkg/reconciler/service/pvcinterceptor.go
  pkg/reconciler/service/pvcinterceptor_test.go
  pkg/reconciler/service/test/pvcinterceptor-pvc.yaml
  pkg/reconciler/service/test/pvcinterceptor-sfs.yaml
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Fallback to 1.0.0
  pkg/reconciler/instances/istio/action.go
  pkg/reconciler/instances/istio/get/get.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Fix lint issue
  pkg/reconciler/instances/istio/action.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Readd testsg
  pkg/reconciler/instances/istio/tests/helpers.go
  pkg/reconciler/instances/istio/tests/integration_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Fix lint issue
  pkg/reconciler/instances/istio/get/get.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Fix GOSEC issue
  pkg/reconciler/instances/istio/action.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Update readme
  pkg/reconciler/instances/istio/README.md
Due: none

Remove istioctl from dockerfile
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Apply suggestions from code review
  pkg/reconciler/instances/istio/README.md
Due: none

Add tests
  go.mod
  go.sum
  pkg/reconciler/instances/istio/action.go
  pkg/reconciler/instances/istio/get/get_test.go
  pkg/reconciler/instances/istio/get/istio-default-cr.yaml
  pkg/reconciler/instances/istio/get/istio-manager.yaml
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Add tests and restrict to kyma-ns
  go.mod
  go.sum
  pkg/reconciler/instances/istio/action.go
  pkg/reconciler/instances/istio/get/get_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

add nataliasitko to code owners
  CODEOWNERS
Due: none

Update warning state
  pkg/reconciler/instances/istio/action.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

remove darek from code owners
  CODEOWNERS
Due: none

Edit code owners (#1385)
  CODEOWNERS
Due: none

Ignore CRDs of skipped components
  pkg/model/clusterconfigentity.go
  pkg/model/clusterconfigentity_test.go
  pkg/reconciler/service/install.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Path conditions:
  pre-main-reconciler-cli-integration-kyma-main-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-integration-kyma-latest-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-cli-integration-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-cli-integration-k3d-latest: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-cli-kyma-release-upgrade-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-reconciler-integration-k3d: any of: ^(go.mod$|go.sum$)|((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-lint: any of: ^(.*\.go$|.golangci.yaml)
  pre-main-reconciler-integration-k3d: any of: ^(go.mod$|go.sum$)|((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-publish-pr-cli: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-latest-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-ory-reconciler-eval-integration: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-ory-reconciler-prod-integration: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-reconciler-validate-go-mod: any of: ^go\.mod$
  post-latest-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  post-main-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-reconciler-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-reconciler-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-reconciler-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-reconciler-vpathguard: any of: ^(vpath/pjtester.yaml)
