Repository kyma-incubator/reconciler: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-latest-istio-reconciler-integration-k3d, pre-main-istio-reconciler-integration-k3d, pre-main-ory-reconciler-eval-integration-k3d, pre-main-ory-reconciler-prod-integration-gcp, pre-main-reconciler-validate-dockerfiles, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration-k3d, post-main-istio-reconciler-integration-k3d, pull-reconciler-checkconfig, pull-reconciler-pjconfigtest, pull-reconciler-pjtester, pull-reconciler-vpathguard

Path conditions:
  pre-main-reconciler-cli-integration-kyma-main-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-integration-kyma-latest-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-cli-integration-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-cli-integration-k3d-latest: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-cli-kyma-release-upgrade-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-reconciler-integration-k3d: any of: ^(go.mod$|go.sum$)|((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-lint: any of: ^(.*\.go$|.golangci.yaml)
  pre-main-reconciler-publish-pr-cli: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-latest-istio-reconciler-integration-k3d: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-istio-reconciler-integration-k3d: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-ory-reconciler-eval-integration-k3d: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-ory-reconciler-prod-integration-gcp: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-reconciler-validate-go-mod: any of: ^go\.mod$
  post-latest-istio-reconciler-integration-k3d: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  post-main-istio-reconciler-integration-k3d: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pull-reconciler-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-reconciler-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-reconciler-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-reconciler-vpathguard: any of: ^(vpath/pjtester.yaml)

fix linting issue
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Implement review comments
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Revert pkg upgrades
  go.mod
  go.sum
  pkg/db/transaction.go
  pkg/reconciler/instances/rma/integration_action.go
  pkg/reconciler/kubernetes/simplerestclientgetter.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-validate-go-mod

remove more pkg upgrades
  go.mod
  go.sum
Due: pull-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Rename input parameter
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

disable touch on hit to avoid endless caching
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

add missing error handling
  pkg/cache/kubeConfig.go
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

drop single-line method
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Adjust fmt placehoder to use %w
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

feat: Cache Kubeconfigs (#1433)
  cmd/reconciler/test/service/cmd.go
  go.mod
  go.sum
  pkg/cache/kubeConfig.go
  pkg/cluster/inventory.go
  pkg/db/transaction.go
  pkg/reconciler/instances/rma/integration_action.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-validate-go-mod

fixing npe
  pkg/cache/kubeConfig.go
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Replace %w with %s in error log
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

replace %w placeholders
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Fix cache lookup NPE error (#1434)
  pkg/cache/kubeConfig.go
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Upgrade k8s to 1.29.1
  go.mod
  go.sum
Due: pull-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Upgrade k8s to 1.29.1
  pkg/reconciler/kubernetes/simplerestclientgetter.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Bump golang.org/x/crypto
  go.mod
  go.sum
Due: pull-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Upgrade k8s to 1.29.1 (#1435)
  go.mod
  go.sum
  pkg/reconciler/kubernetes/simplerestclientgetter.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-validate-go-mod

Fix vulnerabilities (#1436)
  go.mod
  go.sum
Due: pull-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Have configurable TTL
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Have configurable TTL for KubeConfig cache (#1439)
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

delete clusters in delete_error state
  pkg/cluster/inventory.go
  pkg/cluster/mock.go
  pkg/scheduler/service/transition.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Remote direct deletion when delete_error
  pkg/scheduler/service/transition.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Fix typo
  pkg/scheduler/service/transition.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Don't fail if kubeconfig cannot be found
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

set empty kubeconfig string
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Don't fail if kubeconfig cannot be found (#1441)
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Fail if empty kubeconfig found
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Set caching to 30 min
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

adsut error
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

fix typo
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Cache also nonexisting kubeconfigs (#1442)
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Reduce log noise
  pkg/cache/kubeConfig.go
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Bump github.com/go-git/go-git/v5
  go.mod
  go.sum
Due: pull-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Reduce log noise (#1443)
  pkg/cache/kubeConfig.go
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Bump github.com/go-git/go-git/v5 (#1444)
  go.mod
  go.sum
Due: pull-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

add jitter
  pkg/cache/kubeConfig.go
  pkg/cache/kubecConfig_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Adjust fct name
  pkg/cache/kubeConfig.go
  pkg/cache/kubecConfig_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli
