Repository kyma-incubator/reconciler: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-latest-istio-reconciler-integration-k3d, pre-main-istio-reconciler-integration-k3d, pre-main-ory-reconciler-eval-integration-k3d, pre-main-ory-reconciler-prod-integration-gcp, pre-main-reconciler-validate-dockerfiles, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration-k3d, post-main-istio-reconciler-integration-k3d, pull-reconciler-checkconfig, pull-reconciler-pjconfigtest, pull-reconciler-pjtester, pull-reconciler-vpathguard

Path conditions:
  pre-main-reconciler-cli-integration-kyma-main-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-integration-kyma-latest-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-cli-integration-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-cli-integration-k3d-latest: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-cli-kyma-release-upgrade-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-reconciler-integration-k3d: any of: ^(go.mod$|go.sum$)|((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-lint: any of: ^(.*\.go$|.golangci.yaml)
  pre-main-reconciler-publish-pr-cli: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-latest-istio-reconciler-integration-k3d: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-istio-reconciler-integration-k3d: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-ory-reconciler-eval-integration-k3d: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-ory-reconciler-prod-integration-gcp: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-reconciler-validate-go-mod: any of: ^go\.mod$
  post-latest-istio-reconciler-integration-k3d: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  post-main-istio-reconciler-integration-k3d: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pull-reconciler-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-reconciler-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-reconciler-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-reconciler-vpathguard: any of: ^(vpath/pjtester.yaml)

add test for env-var skip-comp logic
  pkg/reconciler/service/install.go
  pkg/reconciler/service/install_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

add logging
  pkg/reconciler/service/install.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

add correlation ID
  pkg/reconciler/service/install.go
  pkg/reconciler/service/install_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

sap-btp-service-operator are removed
  cmd/reconciler/start/service/component_integration_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

sap-btp-service-operator are removed (#1389)
  cmd/reconciler/start/service/component_integration_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Inject kubeconfig from secret
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Make usage of k8s-client optional
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Improve log messages
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

ignore CRDs of skipped components (#1388)
  pkg/model/clusterconfigentity.go
  pkg/model/clusterconfigentity_test.go
  pkg/reconciler/service/install.go
  pkg/reconciler/service/install_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

upgrade go mod
  go.mod
  go.sum
  pkg/db/postgres_container.go
  pkg/kubernetes/clientbuilder.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-validate-go-mod

downgrade testcontainers-go
  go.mod
  go.sum
Due: pull-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

upgrade testcontainers-go to latest supported version
  go.mod
  go.sum
Due: pull-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

use latest docker
  go.mod
  go.sum
Due: pull-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

user docker work with go 1.20.6+
  go.mod
  go.sum
Due: pull-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

upgrade go mod (#1391)
  go.mod
  go.sum
  pkg/db/postgres_container.go
  pkg/kubernetes/clientbuilder.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-validate-go-mod

Add handling for skipping Hydra migration if Hydra is not enabled. Add handling to create secrets in migration namespace hydra-deprecated if it exists.
  pkg/reconciler/instances/ory/action.go
  pkg/reconciler/instances/ory/action_test.go
  pkg/reconciler/instances/ory/db/db.go
  pkg/reconciler/instances/ory/db/db_test.go
  pkg/reconciler/instances/ory/db/model.go
  pkg/reconciler/instances/ory/deprecation/namespace.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-ory-reconciler-eval-integration-k3d, pre-main-ory-reconciler-prod-integration-gcp

Exclude Ory Oathkeepr JWKS from skipping and add tests for skip
  pkg/reconciler/instances/ory/action.go
  pkg/reconciler/instances/ory/action_test.go
  pkg/reconciler/instances/ory/db/db_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-ory-reconciler-eval-integration-k3d, pre-main-ory-reconciler-prod-integration-gcp

Add test to verify database secret namespace
  pkg/reconciler/instances/ory/action_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-ory-reconciler-eval-integration-k3d, pre-main-ory-reconciler-prod-integration-gcp

Fix linting issues
  pkg/reconciler/instances/ory/action.go
  pkg/reconciler/instances/ory/action_test.go
  pkg/reconciler/instances/ory/db/db.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-ory-reconciler-eval-integration-k3d, pre-main-ory-reconciler-prod-integration-gcp

Adapt integration tests
  pkg/reconciler/instances/ory/test/ory_integration_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-ory-reconciler-eval-integration-k3d, pre-main-ory-reconciler-prod-integration-gcp

Fix failing integration test
  pkg/reconciler/instances/ory/test/ory_integration_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-ory-reconciler-eval-integration-k3d, pre-main-ory-reconciler-prod-integration-gcp

Hydra migration (#1392)
  pkg/reconciler/instances/ory/action.go
  pkg/reconciler/instances/ory/action_test.go
  pkg/reconciler/instances/ory/db/db.go
  pkg/reconciler/instances/ory/db/db_test.go
  pkg/reconciler/instances/ory/db/model.go
  pkg/reconciler/instances/ory/deprecation/namespace.go
  pkg/reconciler/instances/ory/test/ory_integration_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-ory-reconciler-eval-integration-k3d, pre-main-ory-reconciler-prod-integration-gcp

update Dockerfile use golang:1.21.1-alpine3.17
  Dockerfile.cr
  Dockerfile.mr
Due: pre-latest-istio-reconciler-integration-k3d, pre-main-istio-reconciler-integration-k3d, post-latest-istio-reconciler-integration-k3d, post-main-istio-reconciler-integration-k3d

remove not needed istio int test
  pkg/reconciler/instances/istio/tests/integration_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-latest-istio-reconciler-integration-k3d, pre-main-istio-reconciler-integration-k3d, post-latest-istio-reconciler-integration-k3d, post-main-istio-reconciler-integration-k3d

update Dockerfile (#1398)
  Dockerfile.cr
  Dockerfile.mr
  pkg/reconciler/instances/istio/tests/integration_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-latest-istio-reconciler-integration-k3d, pre-main-istio-reconciler-integration-k3d, post-latest-istio-reconciler-integration-k3d, post-main-istio-reconciler-integration-k3d

Do not block Istio reconciler if Istio CR in Error state
  pkg/reconciler/instances/istio/action.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-latest-istio-reconciler-integration-k3d, pre-main-istio-reconciler-integration-k3d, post-latest-istio-reconciler-integration-k3d, post-main-istio-reconciler-integration-k3d

Update pkg/reconciler/instances/istio/action.go
  pkg/reconciler/instances/istio/action.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-latest-istio-reconciler-integration-k3d, pre-main-istio-reconciler-integration-k3d, post-latest-istio-reconciler-integration-k3d, post-main-istio-reconciler-integration-k3d

Do not block Istio reconciler if Istio CR in Error state (#1399)
  pkg/reconciler/instances/istio/action.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-latest-istio-reconciler-integration-k3d, pre-main-istio-reconciler-integration-k3d, post-latest-istio-reconciler-integration-k3d, post-main-istio-reconciler-integration-k3d

Bump golang.org/x/net
  go.mod
  go.sum
Due: pull-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Bump golang.org/x/net (#1402)
  go.mod
  go.sum
Due: pull-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Skip reconcile when Istio CRDs are missing
  pkg/reconciler/instances/connectivityproxy/action.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Clean up after modularizing api-gateway
  pkg/reconciler/instances/clusteressentials/action.go
  pkg/reconciler/instances/clusteressentials/clusteressentials.go
  pkg/reconciler/instances/loader.go
  pkg/reconciler/instances/ory/action.go
  pkg/reconciler/instances/ory/action_test.go
  pkg/reconciler/instances/ory/db/db.go
  pkg/reconciler/instances/ory/db/db_test.go
  pkg/reconciler/instances/ory/db/model.go
  pkg/reconciler/instances/ory/deprecation/namespace.go
  pkg/reconciler/instances/ory/hydra/mocks/syncer.go
  pkg/reconciler/instances/ory/hydra/syncer.go
  pkg/reconciler/instances/ory/hydra/syncer_test.go
  pkg/reconciler/instances/ory/jwks/jwks.go
  pkg/reconciler/instances/ory/jwks/jwks_test.go
  pkg/reconciler/instances/ory/k8s/mocks/ory_finalizers_handler.go
  pkg/reconciler/instances/ory/k8s/mocks/rollout.go
  pkg/reconciler/instances/ory/k8s/ory_crds.go
  pkg/reconciler/instances/ory/k8s/rollout.go
  pkg/reconciler/instances/ory/ory.go
  pkg/reconciler/instances/ory/test/helpers.go
  pkg/reconciler/instances/ory/test/ory_integration_test.go
  pkg/reconciler/instances/ory/test/resources/test-ory/Chart.yaml
  pkg/reconciler/instances/ory/test/resources/test-ory/profile.yaml
  pkg/reconciler/instances/ory/test/resources/test-ory/values.yaml
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-ory-reconciler-eval-integration-k3d, pre-main-ory-reconciler-prod-integration-gcp

adding unit tests for skip reconcliation when istio CRDs are missing
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

remove not necessary logging
  pkg/reconciler/instances/connectivityproxy/action.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

refine logging for skipping reconciliation when Istio DRS are missing
  pkg/reconciler/instances/connectivityproxy/action.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

fix typo
  pkg/reconciler/instances/connectivityproxy/action.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Update Makefile
  Makefile
Due: none

adjust secret-name pattern
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

adjust secret-key name
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli
