Repository kyma-incubator/reconciler: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-latest-istio-reconciler-integration-k3d, pre-main-istio-reconciler-integration-k3d, pre-main-ory-reconciler-eval-integration-k3d, pre-main-ory-reconciler-prod-integration-gcp, pre-main-reconciler-validate-dockerfiles, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration-k3d, post-main-istio-reconciler-integration-k3d, pull-reconciler-checkconfig, pull-reconciler-pjconfigtest, pull-reconciler-pjtester, pull-reconciler-vpathguard

pre-main-reconciler-cli-integration-kyma-main-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-cli-integration-kyma-main-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  ...

pre-main-reconciler-cli-integration-kyma-latest-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-cli-integration-kyma-latest-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pull-main-cli-integration-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-main-cli-integration-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-main-cli-integration-k3d-latest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-main-cli-integration-k3d-latest
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-main-cli-kyma-release-upgrade-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-main-cli-kyma-release-upgrade-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-main-reconciler-integration-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-main-reconciler-integration-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-reconciler-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
        privileged: false
  ...

pre-main-reconciler-publish-pr-cli:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-publish-pr-cli
    prow.k8s.io/pubsub.topic: prowjobs
    preset-gc-project-env: 'true'
    preset-kyma-cli-pr-unstable: 'true'
    preset-sa-vm-kyma-integration: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-latest-istio-reconciler-integration-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-latest-istio-reconciler-integration-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

improving log messages
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

fix in-cluster client creation
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

fix bug in warn-formatting
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

fix bugs when accessing kubeconfig-secret
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Adjust comments and log messages
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Adjust log level when overwriting kubeconfig
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

remove execution of FI-tests
  scripts/prow/cli-integration-latest.sh
  scripts/prow/cli-integration-release-upgrade.sh
  scripts/prow/cli-integration.sh
Due: none

remove execution of FI-tests (#1413)
  scripts/prow/cli-integration-latest.sh
  scripts/prow/cli-integration-release-upgrade.sh
  scripts/prow/cli-integration.sh
Due: none

Go mod tidy
  go.mod
  go.sum
Due: pull-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Clean up after modularizing api-gateway (#1411)
  Makefile
  go.mod
  go.sum
  pkg/reconciler/instances/clusteressentials/action.go
  pkg/reconciler/instances/clusteressentials/clusteressentials.go
  pkg/reconciler/instances/loader.go
  pkg/reconciler/instances/ory/action.go
  pkg/reconciler/instances/ory/action_test.go
  pkg/reconciler/instances/ory/db/db.go
  pkg/reconciler/instances/ory/db/db_test.go
  pkg/reconciler/instances/ory/db/model.go
  pkg/reconciler/instances/ory/deprecation/namespace.go
  pkg/reconciler/instances/ory/hydra/mocks/syncer.go
  pkg/reconciler/instances/ory/hydra/syncer.go
  pkg/reconciler/instances/ory/hydra/syncer_test.go
  pkg/reconciler/instances/ory/jwks/jwks.go
  pkg/reconciler/instances/ory/jwks/jwks_test.go
  pkg/reconciler/instances/ory/k8s/mocks/ory_finalizers_handler.go
  pkg/reconciler/instances/ory/k8s/mocks/rollout.go
  pkg/reconciler/instances/ory/k8s/ory_crds.go
  pkg/reconciler/instances/ory/k8s/rollout.go
  pkg/reconciler/instances/ory/ory.go
  pkg/reconciler/instances/ory/test/helpers.go
  pkg/reconciler/instances/ory/test/ory_integration_test.go
  pkg/reconciler/instances/ory/test/resources/test-ory/Chart.yaml
  pkg/reconciler/instances/ory/test/resources/test-ory/profile.yaml
  pkg/reconciler/instances/ory/test/resources/test-ory/values.yaml
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-ory-reconciler-eval-integration-k3d, pre-main-ory-reconciler-prod-integration-gcp, pre-main-reconciler-validate-go-mod

Skip reconcile when Istio CRDs are missing (#1403)
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

remove fast integration tests
  scripts/prow/cli-integration-latest.sh
  scripts/prow/cli-integration-release-upgrade.sh
  scripts/prow/cli-integration.sh
Due: none

Remove merge comments
  scripts/prow/cli-integration-latest.sh
  scripts/prow/cli-integration-release-upgrade.sh
Due: none

Remove fast-integration
  scripts/prow/cli-integration.sh
Due: none

Remove fast integration tests (#1414)
  scripts/prow/cli-integration-latest.sh
  scripts/prow/cli-integration-release-upgrade.sh
  scripts/prow/cli-integration.sh
Due: none

Get kubeconfig from secret (#1406)
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Remove Istio
  go.mod
  go.sum
  pkg/reconciler/instances/istio/OWNERS
  pkg/reconciler/instances/istio/README.md
  pkg/reconciler/instances/istio/action.go
  pkg/reconciler/instances/istio/actions/aggregate_action.go
  pkg/reconciler/instances/istio/actions/aggregate_action_test.go
  pkg/reconciler/instances/istio/get/get.go
  pkg/reconciler/instances/istio/get/get_test.go
  pkg/reconciler/instances/istio/get/istio-default-cr.yaml
  pkg/reconciler/instances/istio/get/istio-manager.yaml
  pkg/reconciler/instances/istio/istio.go
  pkg/reconciler/instances/istio/tests/helpers.go
  pkg/reconciler/instances/loader.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-latest-istio-reconciler-integration-k3d, pre-main-istio-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration-k3d, post-main-istio-reconciler-integration-k3d

Update CODEOWNERS
  CODEOWNERS
Due: none

Remove preComponents that doesn't exist anymore
  configs/reconciler.yaml
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli

Adapt provider test to still test filtering CRDs after CRDs of istio and api-gateway were removed.
  pkg/reconciler/chart/provider_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Remove Istio (#1415)
  CODEOWNERS
  configs/reconciler.yaml
  go.mod
  go.sum
  pkg/reconciler/chart/provider_test.go
  pkg/reconciler/instances/istio/OWNERS
  pkg/reconciler/instances/istio/README.md
  pkg/reconciler/instances/istio/action.go
  pkg/reconciler/instances/istio/actions/aggregate_action.go
  pkg/reconciler/instances/istio/actions/aggregate_action_test.go
  pkg/reconciler/instances/istio/get/get.go
  pkg/reconciler/instances/istio/get/get_test.go
  pkg/reconciler/instances/istio/get/istio-default-cr.yaml
  pkg/reconciler/instances/istio/get/istio-manager.yaml
  pkg/reconciler/instances/istio/istio.go
  pkg/reconciler/instances/istio/tests/helpers.go
  pkg/reconciler/instances/loader.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-latest-istio-reconciler-integration-k3d, pre-main-istio-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration-k3d, post-main-istio-reconciler-integration-k3d

remove error on empty component list
  pkg/scheduler/reconciliation/error.go
  pkg/scheduler/reconciliation/inmemory.go
  pkg/scheduler/reconciliation/persistent.go
  pkg/scheduler/service/transition.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Fix for Istio checks
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Fix for Istio checks (#1419)
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

further clean up
  pkg/cluster/inventory.go
  pkg/scheduler/reconciliation/error.go
  pkg/scheduler/service/transition.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

fix: Remove error on empty component list (#1416)
  pkg/cluster/inventory.go
  pkg/scheduler/reconciliation/error.go
  pkg/scheduler/reconciliation/inmemory.go
  pkg/scheduler/reconciliation/persistent.go
  pkg/scheduler/service/transition.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

allow empty precomponents
  pkg/scheduler/config/config.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

allow empty precomponent (#1424)
  pkg/scheduler/config/config.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Use golang:1.21.5
  Dockerfile.cr
  Dockerfile.mr
Due: pre-latest-istio-reconciler-integration-k3d, pre-main-istio-reconciler-integration-k3d, post-latest-istio-reconciler-integration-k3d, post-main-istio-reconciler-integration-k3d

Use golang:1.21.5 (#1427)
  Dockerfile.cr
  Dockerfile.mr
Due: pre-latest-istio-reconciler-integration-k3d, pre-main-istio-reconciler-integration-k3d, post-latest-istio-reconciler-integration-k3d, post-main-istio-reconciler-integration-k3d

Upgrade build image
  Dockerfile.cr
  Dockerfile.mr
Due: pre-latest-istio-reconciler-integration-k3d, pre-main-istio-reconciler-integration-k3d, post-latest-istio-reconciler-integration-k3d, post-main-istio-reconciler-integration-k3d

Upgrade build image (#1428)
  Dockerfile.cr
  Dockerfile.mr
Due: pre-latest-istio-reconciler-integration-k3d, pre-main-istio-reconciler-integration-k3d, post-latest-istio-reconciler-integration-k3d, post-main-istio-reconciler-integration-k3d

add missing kubeconfig overwrites
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

add missing kubeconfig overwrites (#1429)
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

adding cache
  go.mod
  go.sum
  pkg/cluster/inventory.go
  pkg/cluster/inventory_test.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-validate-go-mod

adjust default ttl
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

improve logging
  go.mod
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-validate-go-mod

First KubeCOnfig Cache implementation
  go.mod
  go.sum
  pkg/cache/kubeConfig.go
  pkg/cluster/inventory.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-validate-go-mod

Fix linting
  cmd/reconciler/test/service/cmd.go
  go.mod
  go.sum
  pkg/db/transaction.go
  pkg/reconciler/instances/rma/integration_action.go
  pkg/reconciler/kubernetes/simplerestclientgetter.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-validate-go-mod

Set ttl to 5min, plus always delete expired
  pkg/cache/kubeConfig.go
Due: pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-integration-kyma-latest-k3d, pull-main-cli-integration-k3d, pull-main-cli-integration-k3d-latest, pull-main-cli-kyma-release-upgrade-k3d, pull-main-reconciler-integration-k3d, pre-main-reconciler-lint, pre-main-reconciler-publish-pr-cli

Path conditions:
  pre-main-reconciler-cli-integration-kyma-main-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-integration-kyma-latest-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-cli-integration-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-cli-integration-k3d-latest: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-cli-kyma-release-upgrade-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-main-reconciler-integration-k3d: any of: ^(go.mod$|go.sum$)|((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-lint: any of: ^(.*\.go$|.golangci.yaml)
  pre-main-reconciler-publish-pr-cli: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-latest-istio-reconciler-integration-k3d: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-istio-reconciler-integration-k3d: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-ory-reconciler-eval-integration-k3d: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-ory-reconciler-prod-integration-gcp: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-reconciler-validate-go-mod: any of: ^go\.mod$
  post-latest-istio-reconciler-integration-k3d: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  post-main-istio-reconciler-integration-k3d: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pull-reconciler-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-reconciler-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-reconciler-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-reconciler-vpathguard: any of: ^(vpath/pjtester.yaml)
