Repository kyma-incubator/reconciler: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-ory-reconciler-eval-integration, pre-main-ory-reconciler-prod-integration, pre-main-reconciler-validate-dockerfiles, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration, pre-reconciler-validate-inrepo-prow-configs, pull-reconciler-pjconfigtest, pull-reconciler-pjtester, pull-reconciler-vpathguard

Path conditions:
  pre-main-reconciler-integration-k3d: any of: ^(go.mod$|go.sum$)|((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-publish-pr-cli: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-integration-kyma-latest-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-integration-kyma-main-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-latest-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-ory-reconciler-eval-integration: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-ory-reconciler-prod-integration: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-reconciler-validate-go-mod: any of: ^go\.mod$
  post-latest-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  post-main-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-reconciler-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-reconciler-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-reconciler-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-reconciler-vpathguard: any of: ^(vpath/pjtester.yaml)

fix linter error - error check from Secrets.Create
  pkg/reconciler/instances/connectivityproxy/secrets/secrets_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

add fix for linter
  pkg/reconciler/instances/connectivityproxy/connectivityclient/connectivityclient.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Update Dockerfile.cr
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Update Dockerfile.cr (#1321)
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

fix problem with skiping annotated components during installation
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/command_test.go
  pkg/reconciler/instances/connectivityproxy/mocks/commands.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Add a watcher on pods when deleting the NATS sts.
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Add logging message.
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Format some comments.
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

change logged message level about removing component from debug to info
  pkg/reconciler/instances/connectivityproxy/action.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Add tests to the NATS deletion preaction.
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Bump linter version and move excludes to config file
  go.mod
  scripts/.golangci.yml
  scripts/lint.sh
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Test on pipeline
  scripts/lint.sh
Due: none

Remove KEDA from reconciler config as its not part of old reconciler
  configs/reconciler-unittest.yaml
  configs/reconciler.yaml
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Test on pipeloine
  scripts/lint.sh
Due: none

Test --concurrency 2
  scripts/lint.sh
Due: none

Try reduced linter set
  scripts/.golangci.yml
  scripts/lint.sh
Due: none

Remove lint concurrency
  scripts/lint.sh
Due: none

Temporarily disable linting step
  scripts/lint.sh
Due: none

Disable linting script temporary to unblock release
  scripts/lint.sh
Due: none

new line
  pkg/reconciler/git/resolve.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

apply suggestions from code review
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/command_test.go
  pkg/reconciler/instances/connectivityproxy/mocks/commands.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

stop retry because of some ignorable errors
  pkg/reconciler/service/runner.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Remove parallelization from test with race condition
  pkg/reconciler/git/clone_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Remove notexisting linting commands
  scripts/lint.sh
Due: none

Fix test with race-condition & disable lint script temporarily (#1325)
  pkg/reconciler/git/clone_test.go
  scripts/lint.sh
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Add a watcher on pods when deleting the NATS sts. (#1322)
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy.go
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

apply suggestions from code review
  pkg/reconciler/instances/connectivityproxy/action_test.go
  pkg/reconciler/instances/connectivityproxy/connectivityclient/connectivityclient.go
  pkg/reconciler/instances/connectivityproxy/connectivityclient/connectivityclient_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

apply suggestions from code review #3
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/connectivityclient/connectivityclient.go
  pkg/reconciler/instances/connectivityproxy/connectivityclient/connectivityclient_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Applying code review suggestions
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/connectivityclient/connectivityclient.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

regenerate loader mock to remove method FindBindingCatalog
  pkg/reconciler/instances/connectivityproxy/mocks/loader.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

typo fix for handling of missing values while reading from the map
  pkg/reconciler/instances/connectivityproxy/command.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

stop retry because of some ignorable errors (#1327)
  pkg/reconciler/service/runner.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Add migration logic for transition from old to new reconciler (#1312)
  cmd/mothership/mothership/start/scheduler.go
  configs/reconciler-unittest.yaml
  configs/reconciler.yaml
  pkg/model/clusterconfigentity.go
  pkg/model/clusterconfigentity_test.go
  pkg/model/test/crd_comp1.yaml
  pkg/model/test/crd_pre2.yaml
  pkg/model/test/kubeconfig_invalid.yaml
  pkg/model/test/kubeconfig_valid.yaml
  pkg/scheduler/config/config.go
  pkg/scheduler/service/scheduler.go
  pkg/scheduler/service/transition.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

upgrade opencontainers/runc to fix CVE-2023-27561
  go.mod
  go.sum
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

upgrade opencontainers/runc to fix CVE-2023-27561 (#1329)
  go.mod
  go.sum
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Use config file for disabling linters. Delete hack/lint.sh
  .golangci.yml
  Makefile
  scripts/lint.sh
Due: none

Exclude mock and test files. Fix remaining lint issues.
  .golangci.yml
  Makefile
  cmd/mothership/config/create/cmd.go
  cmd/mothership/config/get/value/cmd.go
  internal/cli/reconciler/options.go
  pkg/db/sqlite.go
  pkg/interpreter/yaegi.go
  pkg/reconciler/chart/factory.go
  pkg/reconciler/instances/cleaner/pkg/cleanup/cli.go
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy.go
  pkg/reconciler/instances/istio/merge/merge.go
  pkg/reconciler/instances/istio/reset/pod/reset/action.go
  pkg/reconciler/service/clusterwideresourceinterceptor.go
  pkg/scheduler/reconciliation/inmemory.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Refresh connectivity proxy credentials (#1317)
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/command_test.go
  pkg/reconciler/instances/connectivityproxy/connectivityclient/connectivityclient.go
  pkg/reconciler/instances/connectivityproxy/connectivityclient/connectivityclient_test.go
  pkg/reconciler/instances/connectivityproxy/connectivityclient/mocks/connectivity_client.go
  pkg/reconciler/instances/connectivityproxy/connectivityproxy.go
  pkg/reconciler/instances/connectivityproxy/connectivityproxy_test.go
  pkg/reconciler/instances/connectivityproxy/fromsecret.go
  pkg/reconciler/instances/connectivityproxy/fromsecret_test.go
  pkg/reconciler/instances/connectivityproxy/fromurl.go
  pkg/reconciler/instances/connectivityproxy/fromurl_test.go
  pkg/reconciler/instances/connectivityproxy/loader.go
  pkg/reconciler/instances/connectivityproxy/loader_test.go
  pkg/reconciler/instances/connectivityproxy/map.go
  pkg/reconciler/instances/connectivityproxy/map_test.go
  pkg/reconciler/instances/connectivityproxy/mocks/commands.go
  pkg/reconciler/instances/connectivityproxy/mocks/loader.go
  pkg/reconciler/instances/connectivityproxy/rendering/chartproviderwithauthentication.go
  pkg/reconciler/instances/connectivityproxy/rendering/chartproviderwithauthentication_test.go
  pkg/reconciler/instances/connectivityproxy/rendering/chartproviderwithfiltering_test.go
  pkg/reconciler/instances/connectivityproxy/rendering/manifestfilters.go
  pkg/reconciler/instances/connectivityproxy/rendering/manifestfilters_test.go
  pkg/reconciler/instances/connectivityproxy/secretcopy.go
  pkg/reconciler/instances/connectivityproxy/secretcopy_test.go
  pkg/reconciler/instances/connectivityproxy/secrets/secrets.go
  pkg/reconciler/instances/connectivityproxy/secrets/secrets_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Ping pipelines
  cmd/mothership/mothership/start/http.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d
