Repository kyma-incubator/reconciler: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-ory-reconciler-eval-integration, pre-main-ory-reconciler-prod-integration, pre-main-reconciler-validate-dockerfiles, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration, pre-reconciler-validate-inrepo-prow-configs, pull-reconciler-pjtester, pull-reconciler-vpathguard

Path conditions:
  pre-main-reconciler-integration-k3d: any of: ^(go.mod$|go.sum$)|((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-publish-pr-cli: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-integration-kyma-latest-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-integration-kyma-main-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-latest-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-ory-reconciler-eval-integration: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-ory-reconciler-prod-integration: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-reconciler-validate-go-mod: any of: ^go\.mod$
  post-latest-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  post-main-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-reconciler-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-reconciler-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-reconciler-vpathguard: any of: ^(vpath/pjtester.yaml)

chore: remove vulnerable go yaml lib in istio reconciler
  go.mod
  go.sum
  pkg/reconciler/instances/istio/ingress-gateway/config.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

chore: bump image alpine and golang patches
  Dockerfile.cr
  Dockerfile.mr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

chore: bump image alpine and golang patches (#1276)
  Dockerfile.cr
  Dockerfile.mr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

chore: remove vulnerable go yaml lib in istio reconciler (#1275)
  go.mod
  go.sum
  pkg/reconciler/instances/istio/ingress-gateway/config.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

temporarly disable git clone env variable for debugging
  pkg/reconciler/git/clone.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

temporarly change module name to fork
  go.mod
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

temporarly save manifest
  go.mod
  go.sum
  pkg/reconciler/instances/connectivityproxy/rendering/chartproviderwithfiltering.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-main-reconciler-validate-go-mod

update containerd to latest
  go.mod
  go.sum
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

update go mod compat to match go version
  Makefile
Due: none

update go-git to latest
  go.mod
  go.sum
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Fix security vulnerabilites (#1280)
  Makefile
  go.mod
  go.sum
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Cleanup dependencies to the kyma-integration ns
  pkg/reconciler/instances/cleaner/action.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Cleanup dependencies to the kyma-integration ns (#1285)
  pkg/reconciler/instances/cleaner/action.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Remove PodPreset related code
  pkg/reconciler/instances/clusteressentials/action.go
  pkg/reconciler/instances/clusteressentials/action_test.go
  pkg/reconciler/instances/clusteressentials/clusteressentials.go
  pkg/reconciler/instances/loader.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Revert "remove eventing reconciler (#1254)"
  CODEOWNERS
  cmd/mothership/mothership/start/mothership_integration_helpers_test.go
  cmd/reconciler/start/service/component_integration_test.go
  pkg/reconciler/instances/eventing/action/action.go
  pkg/reconciler/instances/eventing/action/step.go
  pkg/reconciler/instances/eventing/eventing.go
  pkg/reconciler/instances/eventing/eventing_test.go
  pkg/reconciler/instances/eventing/log/log.go
  pkg/reconciler/instances/eventing/postaction/postaction.go
  pkg/reconciler/instances/eventing/preaction/preaction.go
  pkg/reconciler/instances/loader.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

updated codeowners
  CODEOWNERS
Due: none

added pre-action
  configs/reconciler.yaml
  pkg/reconciler/instances/eventing/preaction/common.go
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy.go
  pkg/reconciler/instances/eventing/preaction/preaction.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

added pre-action
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy.go
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

updated lint fixes
  cmd/mothership/mothership/start/mothership_integration_helpers_test.go
  cmd/reconciler/start/service/component_integration_test.go
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy_test.go
  pkg/reconciler/instances/loader.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

updated go mod
  go.mod
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

lint fix
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy.go
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Remove PodPreset related code (#1286)
  pkg/reconciler/instances/clusteressentials/action.go
  pkg/reconciler/instances/clusteressentials/action_test.go
  pkg/reconciler/instances/clusteressentials/clusteressentials.go
  pkg/reconciler/instances/loader.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Apply suggestions from code review
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

addressed review comments
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy.go
  pkg/reconciler/instances/eventing/preaction/preaction.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Update istio to 1.16.2 and remove 1.14
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Update istio to 1.16.2 and remove 1.14 (#1289)
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

trivial cluster-essentials reconciler
  pkg/reconciler/instances/clusteressentials/action.go
  pkg/reconciler/instances/clusteressentials/clusteressentials.go
  pkg/reconciler/instances/loader.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

trivial cluster-essentials reconciler (#1290)
  pkg/reconciler/instances/clusteressentials/action.go
  pkg/reconciler/instances/clusteressentials/clusteressentials.go
  pkg/reconciler/instances/loader.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Added eventing reconciler and added a pre-action (#1287)
  CODEOWNERS
  cmd/mothership/mothership/start/mothership_integration_helpers_test.go
  cmd/reconciler/start/service/component_integration_test.go
  configs/reconciler.yaml
  go.mod
  pkg/reconciler/instances/eventing/action/action.go
  pkg/reconciler/instances/eventing/action/step.go
  pkg/reconciler/instances/eventing/eventing.go
  pkg/reconciler/instances/eventing/eventing_test.go
  pkg/reconciler/instances/eventing/log/log.go
  pkg/reconciler/instances/eventing/postaction/postaction.go
  pkg/reconciler/instances/eventing/preaction/common.go
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy.go
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy_test.go
  pkg/reconciler/instances/eventing/preaction/preaction.go
  pkg/reconciler/instances/loader.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-main-reconciler-validate-go-mod

Update integration_action.go, configmap.yaml, adater.go, and client.go
  pkg/reconciler/instances/rma/integration_action.go
  pkg/reconciler/instances/rma/testdata/templates/configmap.yaml
  pkg/reconciler/kubernetes/adapter.go
  pkg/reconciler/kubernetes/client.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Update adapter.go
  pkg/reconciler/kubernetes/adapter.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Update Values.yaml
  pkg/reconciler/instances/rma/testdata/values.yaml
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Update integration_action_test.go , client.go
  pkg/reconciler/instances/rma/integration_action_test.go
  pkg/reconciler/kubernetes/mocks/client.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Revert "Update integration_action_test.go , client.go"
  pkg/reconciler/instances/rma/integration_action_test.go
  pkg/reconciler/kubernetes/mocks/client.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

update mocks/client.go and integration_action_test.go
  pkg/reconciler/instances/rma/integration_action_test.go
  pkg/reconciler/kubernetes/mocks/client.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Update integration_action_test.go
  pkg/reconciler/instances/rma/integration_action_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Update configmap.yaml
  pkg/reconciler/instances/rma/testdata/templates/configmap.yaml
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Temporarily disable istio reconcilation due to upgrade issue
  pkg/reconciler/instances/istio/istio.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Just disable proxy-reset, istio install we want to keep for new instances
  pkg/reconciler/instances/istio/istio.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration
