Repository kyma-incubator/reconciler: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-ory-reconciler-eval-integration, pre-main-ory-reconciler-prod-integration, pre-main-reconciler-validate-dockerfiles, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration, pre-reconciler-validate-inrepo-prow-configs, pull-reconciler-pjconfigtest, pull-reconciler-pjtester, pull-reconciler-vpathguard

pre-main-reconciler-integration-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-integration-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-main-reconciler-publish-pr-cli:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-publish-pr-cli
    prow.k8s.io/pubsub.topic: prowjobs
    preset-gc-project-env: 'true'
    preset-kyma-cli-pr-unstable: 'true'
    preset-sa-vm-kyma-integration: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-reconciler-cli-integration-kyma-latest-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-cli-integration-kyma-latest-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-reconciler-cli-integration-kyma-main-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-cli-integration-kyma-main-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-latest-istio-reconciler-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-latest-istio-reconciler-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-main-istio-reconciler-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-istio-reconciler-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-main-ory-reconciler-eval-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-ory-reconciler-eval-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

Enable lint target (#1331)
  .golangci.yml
  Makefile
  cmd/mothership/config/create/cmd.go
  cmd/mothership/config/get/value/cmd.go
  cmd/mothership/mothership/start/http.go
  internal/cli/reconciler/options.go
  pkg/db/sqlite.go
  pkg/interpreter/yaegi.go
  pkg/reconciler/chart/factory.go
  pkg/reconciler/instances/cleaner/pkg/cleanup/cli.go
  pkg/reconciler/instances/eventing/preaction/handlenatspodmanagementpolicy.go
  pkg/reconciler/instances/istio/merge/merge.go
  pkg/reconciler/instances/istio/reset/pod/reset/action.go
  pkg/reconciler/service/clusterwideresourceinterceptor.go
  pkg/scheduler/reconciliation/inmemory.go
  scripts/lint.sh
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Update connectivity-proxy reconciler to handle version 2.8.0
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/mocks/commands.go
  pkg/reconciler/instances/connectivityproxy/rendering/chartproviderwithauthentication.go
  pkg/reconciler/instances/connectivityproxy/secrets/secrets.go
  pkg/ssl/create_certificate.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Check if Istio was successful installed more resilient (retries)
  pkg/reconciler/instances/istio/actions/performer.go
  pkg/reconciler/instances/istio/actions/performer_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

adding support for nested JSON as value used in binding credential secret when spec.secretRootKey is set
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/command_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Check if Istio was successful installed more resilient (retries) (#1336)
  pkg/reconciler/instances/istio/actions/performer.go
  pkg/reconciler/instances/istio/actions/performer_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

fix certificate encoding
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/secrets/secrets.go
  pkg/ssl/create_certificate.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

simplify a way of getting binding secret
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/loader.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

remove obsolete unit test for case where binding secret was returned as nil
  pkg/reconciler/instances/connectivityproxy/action_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Connectivity-proxy reconciler: Adding support for nested JSON in binding credential secret when spec.secretRootKey is set (#1337)
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/command_test.go
  pkg/reconciler/instances/connectivityproxy/loader.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

remove path override
  pkg/reconciler/instances/serverless/action.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

fix test
  pkg/reconciler/instances/serverless/action_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Remove docker registry path override (#1341)
  pkg/reconciler/instances/serverless/action.go
  pkg/reconciler/instances/serverless/action_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Bump Istio to 1.17.2
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

add connectivity-proxy-service-key secret creation
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/mocks/commands.go
  pkg/reconciler/instances/connectivityproxy/secrets/secrets.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

remove tracing as its now being removed from kyma
  docs/howto.md
Due: none

remove tracing as its now being removed from kyma (#1343)
  docs/howto.md
Due: none

Remove istioctl 1.15.3
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Bump Istio to 1.17.2 (#1342)
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Update registry for autobump
  scripts/prow/autobump-config/control-plane-autobump-reconciler-config.yaml
Due: none

ignore a component if the lookup failed
  pkg/model/clusterconfigentity.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

ignore a component if the lookup failed (#1345)
  pkg/model/clusterconfigentity.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Bump build layer golang version
  Dockerfile.cr
  Dockerfile.mr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Bump build layer golang version (#1346)
  Dockerfile.cr
  Dockerfile.mr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

do not return reconciliatuon error if binding secret is missing
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/loader.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

fixing unit test
  pkg/reconciler/instances/connectivityproxy/action_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Do not return reconciliation error if binding secret is missing (#1347)
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
  pkg/reconciler/instances/connectivityproxy/loader.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

refactor
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/secrets/secrets.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

refactor populate configs
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/command_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

refactor connectivity-proxy run method
  pkg/reconciler/instances/connectivityproxy/action.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Added creation of Mappings Config Map to the Reconciler
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/configmaps/config.go
  pkg/reconciler/instances/connectivityproxy/rendering/chartproviderwithauthentication.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Add secret creation for mapping operator
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/command_test.go
  pkg/reconciler/instances/connectivityproxy/mocks/commands.go
  pkg/reconciler/instances/connectivityproxy/secrets/secrets.go
  pkg/reconciler/instances/connectivityproxy/secrets/secrets_test.go
  pkg/ssl/create_certificate.go
  pkg/ssl/create_certificate_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Support service mapping part1 (#1349)
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/command_test.go
  pkg/reconciler/instances/connectivityproxy/mocks/commands.go
  pkg/reconciler/instances/connectivityproxy/secrets/secrets.go
  pkg/reconciler/instances/connectivityproxy/secrets/secrets_test.go
  pkg/ssl/create_certificate.go
  pkg/ssl/create_certificate_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Add configmap creation for mapping operator
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/command_test.go
  pkg/reconciler/instances/connectivityproxy/configmaps/repository.go
  pkg/reconciler/instances/connectivityproxy/configmaps/repository_test.go
  pkg/reconciler/instances/connectivityproxy/mocks/commands.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Add configmap creation for mapping operator (#1350)
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/command_test.go
  pkg/reconciler/instances/connectivityproxy/configmaps/repository.go
  pkg/reconciler/instances/connectivityproxy/configmaps/repository_test.go
  pkg/reconciler/instances/connectivityproxy/mocks/commands.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Add warden label to the istio-system namespace
  pkg/reconciler/service/nsinterceptor.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Update codeowners for connectivity-proxy
  CODEOWNERS
Due: none

Adds/updates AWS LB timeout setting via annotation
  pkg/reconciler/instances/istio/action_test.go
  pkg/reconciler/instances/istio/actions/performer.go
  pkg/reconciler/instances/istio/actions/performer_ig_test.go
  pkg/reconciler/instances/istio/actions/performer_test.go
  pkg/reconciler/instances/istio/ingress-gateway/deployment.go
  pkg/reconciler/instances/istio/ingress-gateway/deployment_test.go
  pkg/reconciler/instances/istio/istio_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

const format
  pkg/reconciler/instances/istio/ingress-gateway/deployment.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Remove Istio 1.16.3 client lib from Reconciler
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Remove Istio 1.16.3 client lib from Reconciler (#1354)
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Path conditions:
  pre-main-reconciler-integration-k3d: any of: ^(go.mod$|go.sum$)|((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-publish-pr-cli: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-integration-kyma-latest-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-integration-kyma-main-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-latest-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-ory-reconciler-eval-integration: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-ory-reconciler-prod-integration: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-reconciler-validate-go-mod: any of: ^go\.mod$
  post-latest-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  post-main-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-reconciler-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-reconciler-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-reconciler-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-reconciler-vpathguard: any of: ^(vpath/pjtester.yaml)
