Repository kyma-incubator/reconciler: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-ory-reconciler-eval-integration, pre-main-ory-reconciler-prod-integration, pre-main-reconciler-validate-dockerfiles, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration, pre-reconciler-validate-inrepo-prow-configs, pull-reconciler-pjconfigtest, pull-reconciler-pjtester, pull-reconciler-vpathguard

pre-main-reconciler-integration-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-integration-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-main-reconciler-publish-pr-cli:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-publish-pr-cli
    prow.k8s.io/pubsub.topic: prowjobs
    preset-gc-project-env: 'true'
    preset-kyma-cli-pr-unstable: 'true'
    preset-sa-vm-kyma-integration: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-reconciler-cli-integration-kyma-latest-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-cli-integration-kyma-latest-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-reconciler-cli-integration-kyma-main-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-cli-integration-kyma-main-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-latest-istio-reconciler-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-latest-istio-reconciler-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-main-istio-reconciler-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-istio-reconciler-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-main-ory-reconciler-eval-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-ory-reconciler-eval-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

CRD filter by 'storage==true'
  pkg/reconciler/instances/cleaner/action.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

CRD filter by 'storage==true' (#1296)
  pkg/reconciler/instances/cleaner/action.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

fix security vulnerabilities
  go.mod
  go.sum
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Add handling of exit codes for cmd executions to not only rely on returned error
  pkg/reconciler/instances/istio/istioctl/executor/cmd_executor.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Fix linting issue
  pkg/reconciler/instances/istio/istioctl/executor/cmd_executor.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

fix security vulnerabilities (#1300)
  go.mod
  go.sum
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Use 'storage' CRD version
  pkg/reconciler/instances/cleaner/pkg/cleanup/crd.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Improve error handling of istioctl invocations (#1301)
  pkg/reconciler/instances/istio/istioctl/executor/cmd_executor.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Initial changes
  pkg/reconciler/instances/istio/action.go
  pkg/reconciler/instances/istio/action_test.go
  pkg/reconciler/instances/istio/actions/mocks/commander_resolver.go
  pkg/reconciler/instances/istio/actions/mocks/istio_performer.go
  pkg/reconciler/instances/istio/actions/performer.go
  pkg/reconciler/instances/istio/actions/performer_test.go
  pkg/reconciler/instances/istio/istioctl/commander_test.go
  pkg/reconciler/instances/istio/reset/data/gatherer.go
  pkg/reconciler/instances/istio/reset/data/mocks/Gatherer.go
  pkg/reconciler/instances/istio/reset/proxy/mocks/istio_proxy_reset.go
  pkg/reconciler/instances/istio/reset/proxy/proxy.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

go.mod
  go.mod
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Use 'storage' CRD version (#1304)
  pkg/reconciler/instances/cleaner/pkg/cleanup/crd.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Set go to 1.19
  Makefile
  go.mod
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Adapt code owners
  CODEOWNERS
Due: none

Refactor
  go.mod
  go.sum
  pkg/reconciler/instances/istio/action.go
  pkg/reconciler/instances/istio/action_test.go
  pkg/reconciler/instances/istio/actions/mocks/commander_resolver.go
  pkg/reconciler/instances/istio/actions/mocks/istio_performer.go
  pkg/reconciler/instances/istio/actions/performer.go
  pkg/reconciler/instances/istio/actions/performer_ig_test.go
  pkg/reconciler/instances/istio/actions/performer_test.go
  pkg/reconciler/instances/istio/bootstrap.go
  pkg/reconciler/instances/istio/istio.go
  pkg/reconciler/instances/istio/istio_test.go
  pkg/reconciler/instances/istio/istioctl/resolver.go
  pkg/reconciler/instances/istio/reset/data/gatherer.go
  pkg/reconciler/instances/istio/reset/data/gatherer_test.go
  pkg/reconciler/instances/istio/reset/data/mocks/Gatherer.go
  pkg/reconciler/instances/istio/reset/proxy/mocks/istio_proxy_reset.go
  pkg/reconciler/instances/istio/reset/proxy/proxy.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Fix lint
  pkg/reconciler/instances/istio/reset/data/gatherer_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

noVersion
  pkg/reconciler/instances/istio/reset/data/gatherer.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

first attempt for the fix
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/rendering/manifestfilters.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

remove checking release
  pkg/reconciler/git/clone.go
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/command.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Update integration_action.go, integration_action_test.go, configmap.yaml, values.yaml
  pkg/reconciler/instances/rma/integration_action.go
  pkg/reconciler/instances/rma/integration_action_test.go
  pkg/reconciler/instances/rma/testdata/templates/configmap.yaml
  pkg/reconciler/instances/rma/testdata/values.yaml
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Revert go supported version changes
  Makefile
  go.mod
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-validate-go-mod

Fix owners
  CODEOWNERS
Due: none

Adapt code owners (#1308)
  CODEOWNERS
Due: none

Update integration_action.go
  pkg/reconciler/instances/rma/integration_action.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Fix for versions check when there is pre-release part in target version
  pkg/reconciler/instances/istio/action.go
  pkg/reconciler/instances/istio/action_test.go
  pkg/reconciler/instances/istio/reset/data/gatherer.go
  pkg/reconciler/instances/istio/reset/data/gatherer_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Do version check on update as well
  pkg/reconciler/instances/istio/actions/performer.go
  pkg/reconciler/instances/istio/actions/performer_ig_test.go
  pkg/reconciler/instances/istio/actions/performer_test.go
  pkg/reconciler/instances/istio/istio_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Exclude terminating istio-system pods when verifying istio version
  pkg/reconciler/instances/istio/reset/data/gatherer.go
  pkg/reconciler/instances/istio/reset/data/gatherer_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Small refactoring
  pkg/reconciler/instances/istio/action.go
  pkg/reconciler/instances/istio/action_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Istio reconciler reset proxy more resielient, verify Istio install (#1307)
  go.mod
  go.sum
  pkg/reconciler/instances/istio/action.go
  pkg/reconciler/instances/istio/action_test.go
  pkg/reconciler/instances/istio/actions/mocks/istio_performer.go
  pkg/reconciler/instances/istio/actions/performer.go
  pkg/reconciler/instances/istio/actions/performer_ig_test.go
  pkg/reconciler/instances/istio/actions/performer_test.go
  pkg/reconciler/instances/istio/bootstrap.go
  pkg/reconciler/instances/istio/istio.go
  pkg/reconciler/instances/istio/istio_test.go
  pkg/reconciler/instances/istio/istioctl/commander_test.go
  pkg/reconciler/instances/istio/istioctl/resolver.go
  pkg/reconciler/instances/istio/reset/data/gatherer.go
  pkg/reconciler/instances/istio/reset/data/gatherer_test.go
  pkg/reconciler/instances/istio/reset/data/mocks/Gatherer.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Add support for CRD configurations
  cmd/mothership/mothership/start/scheduler.go
  configs/reconciler-unittest.yaml
  configs/reconciler.yaml
  pkg/model/clusterconfigentity.go
  pkg/scheduler/config/config.go
  pkg/scheduler/service/scheduler.go
  pkg/scheduler/service/transition.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Update integration_action.go, integration_action_test.go, configmap.yaml, values.yaml (#1310)
  pkg/reconciler/instances/rma/integration_action.go
  pkg/reconciler/instances/rma/integration_action_test.go
  pkg/reconciler/instances/rma/testdata/templates/configmap.yaml
  pkg/reconciler/instances/rma/testdata/values.yaml
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Add support for CRD lookups
  pkg/model/clusterconfigentity.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Clean up duplicated webhooks when istioctl fails
  pkg/reconciler/instances/istio/actions/performer.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Add unit test to ignore components which have CRDs on target cluster
  configs/reconciler-unittest.yaml
  configs/reconciler.yaml
  pkg/model/clusterconfigentity.go
  pkg/model/clusterconfigentity_test.go
  pkg/model/test/crd_comp1.yaml
  pkg/model/test/crd_pre2.yaml
  pkg/scheduler/config/config.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Clean up duplicated webhooks when istioctl fails
  go.mod
  go.sum
  pkg/reconciler/instances/istio/actions/performer.go
  pkg/reconciler/instances/istio/webhooks/webhooks.go
  pkg/reconciler/instances/istio/webhooks/webhooks_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Add retries and improve comparison
  pkg/reconciler/instances/istio/actions/performer.go
  pkg/reconciler/instances/istio/webhooks/webhooks.go
  pkg/reconciler/instances/istio/webhooks/webhooks_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Add a comment
  pkg/reconciler/instances/istio/actions/performer.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Fix tests
  pkg/reconciler/instances/istio/actions/performer.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Ignore test case if integration-tests are disabled as it's using K8s client internally now
  pkg/model/clusterconfigentity_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Minor fix tests
  pkg/reconciler/instances/istio/webhooks/webhooks_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

use jellyfish team as default code owner
  CODEOWNERS
Due: none

Path conditions:
  pre-main-reconciler-integration-k3d: any of: ^(go.mod$|go.sum$)|((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-publish-pr-cli: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-integration-kyma-latest-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-integration-kyma-main-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-latest-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-ory-reconciler-eval-integration: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-ory-reconciler-prod-integration: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-reconciler-validate-go-mod: any of: ^go\.mod$
  post-latest-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  post-main-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-reconciler-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-reconciler-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-reconciler-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-reconciler-vpathguard: any of: ^(vpath/pjtester.yaml)
