Repository kyma-incubator/reconciler: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-ory-reconciler-eval-integration, pre-main-ory-reconciler-prod-integration, pre-main-reconciler-validate-dockerfiles, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration, pre-reconciler-validate-inrepo-prow-configs, pull-reconciler-pjconfigtest, pull-reconciler-pjtester, pull-reconciler-vpathguard

pre-main-reconciler-integration-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-integration-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-main-reconciler-publish-pr-cli:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-publish-pr-cli
    prow.k8s.io/pubsub.topic: prowjobs
    preset-gc-project-env: 'true'
    preset-kyma-cli-pr-unstable: 'true'
    preset-sa-vm-kyma-integration: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-reconciler-cli-integration-kyma-latest-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-cli-integration-kyma-latest-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-reconciler-cli-integration-kyma-main-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-cli-integration-kyma-main-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-latest-istio-reconciler-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-latest-istio-reconciler-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-main-istio-reconciler-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-istio-reconciler-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  ...

pre-main-ory-reconciler-eval-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-ory-reconciler-eval-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

Add option to ignore migrated components
  pkg/model/clusterconfigentity.go
  pkg/model/clusterconfigentity_test.go
  pkg/scheduler/invoker/remoteinvoker_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Update CODEOWNERS
  CODEOWNERS
Due: none

Add option to ignore migrated components
  pkg/model/clusterconfigentity.go
  pkg/model/clusterconfigentity_test.go
  pkg/scheduler/invoker/remoteinvoker_test.go
  pkg/test/integration.go
  pkg/test/integration_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Add comment
  pkg/model/clusterconfigentity.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

bugfix: cannot set envvars in parallel executed test.
  pkg/reconciler/git/clone_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

consider only integratin-test flag for unit-tests
  pkg/model/clusterconfigentity.go
  pkg/model/clusterconfigentity_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Bump Istio to 1.17
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Keep Istio 1.15.3
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Review update
  pkg/reconciler/instances/istio/actions/performer.go
  pkg/reconciler/instances/istio/webhooks/webhooks.go
  pkg/reconciler/instances/istio/webhooks/webhooks_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Seperate errors
  pkg/reconciler/instances/istio/actions/performer.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

To make the test more resilient to GO 1.20 changes we only check if the version is in the returned string that is built from stdout and stderr.
  pkg/reconciler/instances/istio/istioctl/commander_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

To make the test more resilient to GO 1.20 changes we only check if the version is in the returned string that is built from stdout and stderr. (#1315)
  pkg/reconciler/instances/istio/istioctl/commander_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Remove checks for integration tests and rely on non-existing kubeconfig file
  pkg/model/clusterconfigentity.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Update to Istio 1.17.1
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Bump Istio to 1.17.1 (#1314)
  Dockerfile.cr
Due: pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Log an error from deletion of conflicted tag
  pkg/reconciler/instances/istio/actions/performer.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Improve check for invalid kubeconfig to avoid false-positive test-cases
  pkg/model/clusterconfigentity.go
  pkg/model/clusterconfigentity_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

fix linting issue
  pkg/model/clusterconfigentity_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Bugfix - negate json&yaml check
  pkg/model/clusterconfigentity.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

fix linting issue with fct name
  pkg/model/clusterconfigentity.go
  pkg/model/clusterconfigentity_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Improve kubeconfig test
  pkg/model/clusterconfigentity.go
  pkg/model/clusterconfigentity_test.go
  pkg/model/test/kubeconfig_invalid.yaml
  pkg/model/test/kubeconfig_valid.yaml
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Revert unnecessary change
  pkg/test/integration.go
  pkg/test/integration_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Revert unnecessary change
  pkg/test/integration.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

use jellyfish team as default code owner (#1313)
  CODEOWNERS
Due: none

start refactoring of secret generation code
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/connectivityproxy.go
  pkg/reconciler/instances/connectivityproxy/rendering/manifestfilters.go
  pkg/reconciler/instances/connectivityproxy/rendering/manifestfilters_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Change to trigger
  pkg/reconciler/instances/istio/actions/test-utils/ingress-gateway-client.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

Clean up duplicated webhooks when istioctl fails (#1311)
  go.mod
  go.sum
  pkg/reconciler/instances/istio/actions/performer.go
  pkg/reconciler/instances/istio/webhooks/webhooks.go
  pkg/reconciler/instances/istio/webhooks/webhooks_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d, pre-latest-istio-reconciler-integration, pre-main-istio-reconciler-integration, pre-main-reconciler-validate-go-mod, post-latest-istio-reconciler-integration, post-main-istio-reconciler-integration

refresh credentials and refactoring of Istio CA secret creation
  pkg/reconciler/git/clone.go
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/command_test.go
  pkg/reconciler/instances/connectivityproxy/connectivityclient.go
  pkg/reconciler/instances/connectivityproxy/connectivityproxy.go
  pkg/reconciler/instances/connectivityproxy/loader.go
  pkg/reconciler/instances/connectivityproxy/secrets.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

separation of getting ca caert from creating secret
  pkg/reconciler/instances/connectivityproxy/command.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

new unit tests structure
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/command_test.go
  pkg/reconciler/instances/connectivityproxy/connectivityclient.go
  pkg/reconciler/instances/connectivityproxy/mocks/commands.go
  pkg/reconciler/instances/connectivityproxy/mocks/connectivity_client.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

continue working on unit tests for commands
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/command_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

continue working on unit tests for connectivity-proxy reconciler
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/command_test.go
  pkg/reconciler/instances/connectivityproxy/connectivityclient/connectivityclient.go
  pkg/reconciler/instances/connectivityproxy/connectivityclient/connectivityclient_test.go
  pkg/reconciler/instances/connectivityproxy/connectivityclient/mocks/connectivity_client.go
  pkg/reconciler/instances/connectivityproxy/fromurl.go
  pkg/reconciler/instances/connectivityproxy/fromurl_test.go
  pkg/reconciler/instances/connectivityproxy/mocks/commands.go
  pkg/reconciler/instances/connectivityproxy/secrets/secrets.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Fixing unit test, refactoring, simplification and goimports run
  pkg/reconciler/instances/connectivityproxy/action.go
  pkg/reconciler/instances/connectivityproxy/action_test.go
  pkg/reconciler/instances/connectivityproxy/command.go
  pkg/reconciler/instances/connectivityproxy/command_test.go
  pkg/reconciler/instances/connectivityproxy/connectivityclient/connectivityclient.go
  pkg/reconciler/instances/connectivityproxy/connectivityclient/connectivityclient_test.go
  pkg/reconciler/instances/connectivityproxy/connectivityproxy.go
  pkg/reconciler/instances/connectivityproxy/connectivityproxy_test.go
  pkg/reconciler/instances/connectivityproxy/fromsecret.go
  pkg/reconciler/instances/connectivityproxy/fromsecret_test.go
  pkg/reconciler/instances/connectivityproxy/loader_test.go
  pkg/reconciler/instances/connectivityproxy/map.go
  pkg/reconciler/instances/connectivityproxy/map_test.go
  pkg/reconciler/instances/connectivityproxy/mocks/commands.go
  pkg/reconciler/instances/connectivityproxy/rendering/chartproviderwithauthentication.go
  pkg/reconciler/instances/connectivityproxy/rendering/chartproviderwithauthentication_test.go
  pkg/reconciler/instances/connectivityproxy/rendering/chartproviderwithfiltering_test.go
  pkg/reconciler/instances/connectivityproxy/rendering/manifestfilters_test.go
  pkg/reconciler/instances/connectivityproxy/secretcopy.go
  pkg/reconciler/instances/connectivityproxy/secretcopy_test.go
  pkg/reconciler/instances/connectivityproxy/secrets/secrets.go
  pkg/reconciler/instances/connectivityproxy/secrets/secrets_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

return nil error when success for getIstioSecretCfg function and removing non reachable code
  pkg/reconciler/instances/connectivityproxy/command.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

remove comment
  pkg/reconciler/instances/connectivityproxy/action.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

remove not used code fromsecret
  pkg/reconciler/instances/connectivityproxy/fromsecret.go
  pkg/reconciler/instances/connectivityproxy/fromsecret_test.go
Due: pre-main-reconciler-integration-k3d, pre-main-reconciler-publish-pr-cli, pre-main-reconciler-cli-integration-kyma-latest-k3d, pre-main-reconciler-cli-integration-kyma-main-k3d, pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d

Path conditions:
  pre-main-reconciler-integration-k3d: any of: ^(go.mod$|go.sum$)|((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-publish-pr-cli: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-integration-kyma-latest-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-integration-kyma-main-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-cli-kyma-prev-to-last-release-upgrade-k3d: any of: ^((cmd\S+|configs\S+|internal\S+|pkg\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-latest-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-main-ory-reconciler-eval-integration: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-ory-reconciler-prod-integration: any of: ^((pkg/reconciler/instances/ory\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-reconciler-validate-dockerfiles: any of: .*Dockerfile$
  pre-main-reconciler-validate-go-mod: any of: ^go\.mod$
  post-latest-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  post-main-istio-reconciler-integration: any of: ^((pkg/reconciler/instances/istio\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))|Dockerfile\.cr$
  pre-reconciler-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-reconciler-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-reconciler-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-reconciler-vpathguard: any of: ^(vpath/pjtester.yaml)
