Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

KEB: Implement SQL storage for CLS (#550)
  components/kyma-environment-broker/internal/cls/automock/deprovisioner_storage.go
  components/kyma-environment-broker/internal/cls/automock/provisioner_storage.go
  components/kyma-environment-broker/internal/cls/client_test.go
  components/kyma-environment-broker/internal/cls/config_test.go
  components/kyma-environment-broker/internal/cls/deprovisioner.go
  components/kyma-environment-broker/internal/cls/deprovisioner_test.go
  components/kyma-environment-broker/internal/cls/provisioner.go
  components/kyma-environment-broker/internal/cls/provisioner_test.go
  components/kyma-environment-broker/internal/cls/service_manager_utils_test.go
  components/kyma-environment-broker/internal/cls_instance.go
  components/kyma-environment-broker/internal/cls_instance_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/cls_deprovision_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/cls_deprovision_step_test.go
  components/kyma-environment-broker/internal/storage/dbmodel/cls.go
  components/kyma-environment-broker/internal/storage/driver/memory/cls_instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/cls_instance.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/postsql/factory.go
  components/kyma-environment-broker/internal/storage/postsql/init.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
  components/kyma-environment-broker/internal/storage/postsql/write.go
  components/kyma-environment-broker/internal/storage/storage.go
  components/kyma-environment-broker/internal/storage/storage_test.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
  components/schema-migrator/migrations/kyma-environment-broker/202101131045_add_cls_instances.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202101131045_add_cls_instances.up.sql
Due: none

Use the new audit log step
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Integrate CLS steps into KEB
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

debug
  components/kyma-environment-broker/internal/process/deprovisioning/cls_unbinding_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/manager.go
Due: none

try inMem and psql
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Add orchestration type to swagger
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
Due: pre-master-control-plane-integration

Improve
  components/kyma-environment-broker/internal/process/provisioning/cls_binding_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_binding.go
Due: none

Disable forward plugin
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_binding.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_binding_test.go
Due: none

Orchestration of cluster (shoot) upgrades, part 1 (#569)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/orchestration_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/handlers/cluster_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/cluster_handler_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter.go
  components/kyma-environment-broker/internal/orchestration/handlers/handlers.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler_test.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/manager.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_cluster_test.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma.go
  components/kyma-environment-broker/internal/orchestration/manager/upgrade_kyma_test.go
  components/kyma-environment-broker/internal/orchestration/runtime_lister.go
  components/kyma-environment-broker/internal/process/upgrade_cluster/manager.go
  components/kyma-environment-broker/internal/storage/dbmodel/operation.go
  components/kyma-environment-broker/internal/storage/dbmodel/orchestration.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/memory/orchestration.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/orchestration.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
  components/kyma-environment-broker/internal/storage/postsql/write.go
  components/kyma-environment-broker/internal/storage/storage_test.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
  components/schema-migrator/migrations/kyma-environment-broker/202103011331_orchestration_type.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202103011331_orchestration_type.up.sql
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix for hibernation test (#570)
  resources/kcp/values.yaml
  tests/provisioner-tests/test/provisioner/hibernation_test.go
Due: pre-master-control-plane-integration

Refactor part of the unit tests
  components/kyma-environment-broker/common/hyperscaler/account_pool_test.go
  components/kyma-environment-broker/common/hyperscaler/shared_pool_test.go
Due: none

Refactor all HAP unit tests for the happy path
  components/kyma-environment-broker/common/hyperscaler/account_pool_test.go
  components/kyma-environment-broker/common/hyperscaler/account_provider.go
  components/kyma-environment-broker/common/hyperscaler/account_provider_test.go
  components/kyma-environment-broker/common/hyperscaler/automock/account_provider.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation_test.go
Due: none

Run make imports local
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/common/hyperscaler/account_pool.go
  components/kyma-environment-broker/common/hyperscaler/account_pool_test.go
Due: none

Bump KEB image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

wip
  components/kyma-environment-broker/internal/broker/plans.go
Due: none

Enable AWS in KEB
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/plans_validator.go
  components/kyma-environment-broker/internal/broker/services_test.go
  components/kyma-environment-broker/internal/broker/testdata/aws-schema.json
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds.go
  components/kyma-environment-broker/internal/provider/aws_provider.go
  components/kyma-environment-broker/internal/provider/aws_provider_test.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/runtime/disabled_components.go
Due: none

wip
  components/kyma-environment-broker/internal/broker/testdata/aws-schema.json
Due: none

wip (after review)
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/process/input/builder.go
  resources/kcp/charts/kyma-environment-broker/files/catalog.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

wip
  components/kyma-environment-broker/internal/process/input/builder.go
Due: none

Enable AWS in KEB (#551)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/plans_validator.go
  components/kyma-environment-broker/internal/broker/services_test.go
  components/kyma-environment-broker/internal/broker/testdata/aws-schema.json
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds.go
  components/kyma-environment-broker/internal/provider/aws_provider.go
  components/kyma-environment-broker/internal/provider/aws_provider_test.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/runtime/disabled_components.go
  resources/kcp/charts/kyma-environment-broker/files/catalog.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Upgrade jwt-go in subscription-cleanup-job
  components/subscription-cleanup-job/go.mod
  components/subscription-cleanup-job/go.sum
Due: pre-master-provisioner-whitesource-scan

cls documentation
  docs/kyma-environment-broker/04-01-cls-architecture.md
  docs/kyma-environment-broker/04-02-cls-account-setup.md
  docs/kyma-environment-broker/assets/cls-acc.jpeg
  docs/kyma-environment-broker/assets/cls-arch.svg
Due: none

Don't fail upgrade if AVS evaluation is not found
  components/kyma-environment-broker/internal/avs/client.go
Due: none

Bump version
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Add changes to the integration tests
  components/kyma-environment-broker/common/hyperscaler/account_pool.go
  resources/kcp/values.yaml
  tests/e2e/provisioning/Gopkg.lock
  tests/e2e/provisioning/Gopkg.toml
  tests/e2e/provisioning/internal/hyperscaler/account_pool.go
  tests/e2e/provisioning/test/test_suite.go
Due: pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Don't fail upgrade if AVS evaluation is not found (#576)
  components/kyma-environment-broker/internal/avs/client.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix tenant name in integration tests
  tests/e2e/provisioning/internal/hyperscaler/account_pool.go
Due: pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Fix dep dependencies
  tests/e2e/provisioning/Gopkg.lock
Due: pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Run imports local
  tests/e2e/provisioning/internal/hyperscaler/account_pool.go
  tests/e2e/provisioning/test/test_suite.go
Due: pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

remove unnecessary test cases from resolver_integration_test.go
  components/provisioner/internal/api/resolver_integration_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bump image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

add legacy method
  components/kyma-environment-broker/internal/process/provision_operation.go
Due: none

Retry update conflicts in KEB
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/process/provision_operation.go
  components/kyma-environment-broker/internal/process/provisioning/cls_offering_step.go
  components/kyma-environment-broker/internal/process/provisioning/cls_provision_step.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/ems_bind.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step.go
  components/kyma-environment-broker/internal/process/provisioning/lms_tenant_step.go
  components/kyma-environment-broker/internal/process/provisioning/service_manager_offering_step.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_binding_step.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_provisioning_step.go
Due: none

implement changes in steps
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/process/deprovision_operation.go
  components/kyma-environment-broker/internal/process/deprovisioning/cls_deprovision_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/cls_unbinding_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_unbind.go
  components/kyma-environment-broker/internal/process/deprovisioning/errors.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_deprovision_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_unbind_step.go
  components/kyma-environment-broker/internal/process/provision_operation.go
  components/kyma-environment-broker/internal/process/provisioning/cls_binding_step.go
  components/kyma-environment-broker/internal/process/provisioning/cls_offering_step.go
  components/kyma-environment-broker/internal/process/provisioning/cls_provision_step.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/edp_registration.go
  components/kyma-environment-broker/internal/process/provisioning/ems_bind.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step.go
  components/kyma-environment-broker/internal/process/provisioning/ias_registration.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step.go
  components/kyma-environment-broker/internal/process/provisioning/lms_tenant_step.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds.go
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides.go
  components/kyma-environment-broker/internal/process/provisioning/service_manager_offering_step.go
  components/kyma-environment-broker/internal/process/provisioning/sm_overrides.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_binding_step.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_provisioning_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/ems_bind.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/ems_provision.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/secret_cm_overrides.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/service_manager_offering_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma_operation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma_operation_test.go
Due: none

upg
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Upgrade 'jwt-go' in subscription-cleanup-job (#574)
  components/subscription-cleanup-job/go.mod
  components/subscription-cleanup-job/go.sum
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-provisioner-whitesource-scan

Move subscription cleanup job to secret bindings
  components/kyma-environment-broker/common/hyperscaler/account_pool_test.go
  components/subscription-cleanup-job/cmd/main.go
  components/subscription-cleanup-job/go.mod
  components/subscription-cleanup-job/go.sum
  components/subscription-cleanup-job/internal/job/cleaner.go
  components/subscription-cleanup-job/internal/job/cleaner_test.go
Due: pre-master-provisioner-whitesource-scan

Run go mod tidy
  components/subscription-cleanup-job/go.mod
  components/subscription-cleanup-job/go.sum
Due: pre-master-provisioner-whitesource-scan

Bump subscription cleanup job
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Refactor subscription cleanup job
  components/subscription-cleanup-job/cmd/main.go
  components/subscription-cleanup-job/internal/job/cleaner.go
  components/subscription-cleanup-job/internal/job/cleaner_test.go
Due: none
