Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

pre-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

pre-master-control-plane-gke-provisioner-integration:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20200513-93bafa15-k8s1.16
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

pre-master-control-plane-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-control-plane.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-control-plane-tests-e2e-provisioning:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-tests-e2e-provisioning:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-provisioner-whitesource-scan:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/wssagent:v20200917-6588f400
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

Bump schema migrator
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Change in data model: cluster name is no longer unique
  components/schema-migrator/migrations/provisioner/202113011137_cluster_name_not_unique.down.sql
  components/schema-migrator/migrations/provisioner/202113011317_cluster_name_not_unique.up.sql
Due: none

Migrator image bump
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Test stack trace
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
Due: none

Bump image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Remove test, change message
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/queue.go
Due: none

refactor updator
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/avs/client.go
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/avs/eval_assistant.go
  components/kyma-environment-broker/internal/avs/external_eval_assistant.go
  components/kyma-environment-broker/internal/avs/internal_eval_assistant.go
  components/kyma-environment-broker/internal/avs/model.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/evaluation_manager.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/internal_eval_updater.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step.go
Due: none

fix status configs on junk data
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/avs/external_eval_assistant.go
  components/kyma-environment-broker/internal/avs/internal_eval_assistant.go
Due: none

add tests
  components/kyma-environment-broker/internal/avs/client_test.go
  components/kyma-environment-broker/internal/avs/delegator_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step_test.go
Due: none

add kcp cli about completion
  docs/cli/commands/kcp_completion.md
  tools/cli/pkg/command/completion.go
  tools/cli/pkg/command/root.go
Due: none

Fix building components list for upgrade
  components/kyma-environment-broker/internal/process/input/builder.go
Due: none

Bump version
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix building components list for upgrade (#442)
  components/kyma-environment-broker/internal/process/input/builder.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

after review
  components/kyma-environment-broker/internal/process/queue.go
Due: none

Remove updateoperationparams from postgres
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/postsql/factory.go
  components/kyma-environment-broker/internal/storage/postsql/write.go
Due: none

Migrator image bump
  components/provisioner/assets/database/provisioner.sql
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-integration

Reset CreatedAt during deprovision reprocessing
  components/kyma-environment-broker/internal/broker/instance_deprovision.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

remove unused params
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step.go
Due: none

fix erroneous monitor status checks on upgrade
  components/kyma-environment-broker/internal/process/upgrade_kyma/evaluation_manager.go
Due: none

fix tests
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step_test.go
Due: none

bump version
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Revert "bump version"
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Check orchestration state in upgrade initialisation (#438)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step_test.go
Due: none

Update image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

fix imports
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
Due: none

fix calls from master
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
Due: none

Remove legacy operations (#432)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/migrations/parameters.go
  components/kyma-environment-broker/internal/migrations/parameters_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/postsql/factory.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
  components/kyma-environment-broker/internal/storage/postsql/write.go
  components/schema-migrator/migrations/kyma-environment-broker/202101131044_add_not_null_provisioning_parameters.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202101131044_add_not_null_provisioning_parameters.up.sql
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

remove unused avs types
  components/kyma-environment-broker/internal/model.go
Due: none

Use sequential http plugin (#402)
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Go modules clean up
  tests/provisioner-tests/go.mod
  tests/provisioner-tests/go.sum
Due: pre-master-provisioner-whitesource-scan

Compilation fix
  resources/kcp/charts/provisioner/templates/tests/test-hibernation.yaml
  tests/provisioner-tests/test/testkit/control-plane/provisioner/client.go
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

Provisioner data model change: cluster name is no longer unique (#440)
  components/provisioner/assets/database/provisioner.sql
  components/schema-migrator/migrations/provisioner/202113011137_cluster_name_not_unique.down.sql
  components/schema-migrator/migrations/provisioner/202113011317_cluster_name_not_unique.up.sql
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-integration

refactor completion.go
  docs/cli/commands/kcp_completion.md
  tools/cli/pkg/command/completion.go
Due: none

Align schemas in KEB swagger
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
Due: pre-master-control-plane-integration

Dump KEB stack traces (#436)
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/internal/process/queue.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Update based on latest logging chart changes
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step_test.go
Due: none

Bump curl in e2e provisioning test
  resources/kcp/values.yaml
  tests/e2e/provisioning/Dockerfile
Due: pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

fix InMaintenance for invalid monitors
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/avs/eval_assistant.go
  components/kyma-environment-broker/internal/avs/external_eval_assistant.go
  components/kyma-environment-broker/internal/avs/internal_eval_assistant.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/evaluation_manager.go
Due: none

fix possible infinite retry for invalid monitors
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/evaluation_manager.go
Due: none

Path conditions:
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
