Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

Bump KEB image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix imports
  components/kyma-environment-broker/internal/broker/instance_create_test.go
Due: none

Bump the provisioner tests to the existing test image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix after CR#1
  components/kyma-environment-broker/README.md
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
Due: none

Fix after CR#2
  components/kyma-environment-broker/README.md
Due: none

correcting images for provisioner and provisioner tests
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Correcting images for provisioner and provisioner tests after merging #368 (#373)
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix after CR#3
  components/kyma-environment-broker/README.md
Due: none

Change the cloudsql proxy commands
  resources/kcp/charts/kyma-environment-broker/templates/environments-cleanup-job.yaml
  resources/kcp/charts/kyma-environment-broker/templates/subaccount-cleanup-job.yaml
  resources/kcp/templates/migrator-job.yaml
Due: pre-master-control-plane-integration

Generate shoot URL in KEB (#370)
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/README.md
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/common/gardener/config.go
  components/kyma-environment-broker/common/gardener/shoot_name.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/automock/provisioner_input_creator.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/provisioner_input_creator.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer.go
  components/kyma-environment-broker/internal/provisioner/graphqlizer_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Disable Istio for provisioner migrator job
  resources/kcp/templates/migrator-job.yaml
Due: pre-master-control-plane-integration

Disable Istio in both jobs
  resources/kcp/templates/migrator-job.yaml
Due: pre-master-control-plane-integration

CLI: taskrun command
  docs/cli/commands/kcp.md
  docs/cli/commands/kcp_kubeconfig.md
  docs/cli/commands/kcp_login.md
  docs/cli/commands/kcp_orchestrations.md
  docs/cli/commands/kcp_runtimes.md
  docs/cli/commands/kcp_taskrun.md
  docs/cli/commands/kcp_upgrade.md
  docs/cli/commands/kcp_upgrade_kyma.md
  tools/cli/cmd/gendocs/gendocs.go
  tools/cli/cmd/main/main.go
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/kubeconfig.go
  tools/cli/pkg/command/login.go
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/orchestration.go
  tools/cli/pkg/command/root.go
  tools/cli/pkg/command/runtime.go
  tools/cli/pkg/command/taskrun.go
  tools/cli/pkg/command/upgrade.go
  tools/cli/pkg/command/upgrade_kyma.go
  tools/cli/pkg/logger/logger.go
Due: pre-master-provisioner-whitesource-scan

Revert logic
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/gcp_provider.go
Due: none

Add tests
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
Due: none

Update autoscaler
  components/kyma-environment-broker/internal/process/input/input.go
Due: none

Bump image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

after review
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/common/orchestration/ext.go
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/common/orchestration/strategies/parallel_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/handlers/cancel.go
  components/kyma-environment-broker/internal/orchestration/handlers/cancel_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/handlers.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  components/kyma-environment-broker/internal/storage/dbsession/dbmodel/orchestration.go
  components/kyma-environment-broker/internal/storage/driver/memory/orchestration.go
  components/kyma-environment-broker/internal/storage/driver/postsql/orchestration.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/storage_test.go
  docs/kyma-environment-broker/03-10-orchestration.md
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
Due: pre-master-control-plane-integration

Set one node for Trial SKRs (#371)
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/gcp_provider.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

introduce ratelimiting
  components/metris/internal/provider/azure/azure.go
  components/metris/internal/provider/azure/azure_test.go
  components/metris/internal/provider/azure/clients_test.go
  components/metris/internal/provider/azure/instance_test.go
  components/metris/internal/provider/azure/types.go
  components/metris/internal/provider/types.go
Due: none

Refactor evaluation update process
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/avs/client.go
  components/kyma-environment-broker/internal/avs/client_test.go
  components/kyma-environment-broker/internal/avs/config.go
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_test.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_updater.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_updater_test.go
  components/kyma-environment-broker/internal/provisioner/automock/client.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/fake_client.go
  components/kyma-environment-broker/internal/provisioner/query.go
  components/kyma-environment-broker/internal/ptr/ptr.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-master-control-plane-integration

Add updating process for internal AVS evaluation
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/avs/client.go
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_updater.go
Due: none

Implement feature flag for adding additional tags
  components/kyma-environment-broker/internal/avs/config.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_test.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_updater.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_updater_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-master-control-plane-integration

Fix envs in deployment
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
Due: pre-master-control-plane-integration

Apply changes from CR
  components/kyma-environment-broker/README.md
  components/kyma-environment-broker/internal/avs/client.go
  components/kyma-environment-broker/internal/avs/client_test.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_test.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_updater_test.go
Due: none

Remove named returns
  components/kyma-environment-broker/internal/avs/client.go
Due: none

Replace updating evaluation with Add Tag API usage
  components/kyma-environment-broker/internal/avs/client.go
  components/kyma-environment-broker/internal/avs/client_test.go
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_test.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_updater.go
Due: none

Add fixes to readme
  components/kyma-environment-broker/README.md
Due: none

Apply suggestions from code review
  docs/kyma-environment-broker/03-10-orchestration.md
Due: none

Fix dead link in KEB service description
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

after review
  components/kyma-environment-broker/internal/orchestration/handlers/cancel.go
  components/kyma-environment-broker/internal/orchestration/handlers/cancel_test.go
Due: none

improve tracing
  components/metris/internal/provider/azure/azure.go
  components/metris/internal/provider/azure/instance.go
Due: none

Add annotation only if database is not embedded
  resources/kcp/templates/migrator-job.yaml
Due: pre-master-control-plane-integration

fix tests
  components/metris/internal/provider/azure/azure_test.go
Due: none

Fix dead link in KEB service description (#375)
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

Add Tags to internal AVS evaluation (#361)
  components/kyma-environment-broker/README.md
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/avs/client.go
  components/kyma-environment-broker/internal/avs/client_test.go
  components/kyma-environment-broker/internal/avs/config.go
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_test.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_updater.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_updater_test.go
  components/kyma-environment-broker/internal/provisioner/automock/client.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/fake_client.go
  components/kyma-environment-broker/internal/provisioner/query.go
  components/kyma-environment-broker/internal/ptr/ptr.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Bump the cloud-sql-proxy to v1191 (#369)
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/templates/environments-cleanup-job.yaml
  resources/kcp/charts/kyma-environment-broker/templates/subaccount-cleanup-job.yaml
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/templates/migrator-job.yaml
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

go fmt
  components/metris/internal/provider/azure/azure_test.go
Due: none

Add feature flag for disabling evaluation profile
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/input/builder_test.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step_test.go
Due: none
