Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

Fixes connector certificate revocation (#267)
  installation/resources/COMPASS_VERSION
Due: pre-master-control-plane-integration

Runtimes filtering, client (#257)
  components/kyma-environment-broker/common/pagination/pagination.go
  components/kyma-environment-broker/common/runtime/client.go
  components/kyma-environment-broker/common/runtime/client_test.go
  components/kyma-environment-broker/common/runtime/model.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/runtime/automock/converter.go
  components/kyma-environment-broker/internal/runtime/converter.go
  components/kyma-environment-broker/internal/runtime/handler.go
  components/kyma-environment-broker/internal/runtime/handler_test.go
  components/kyma-environment-broker/internal/storage/dbsession/dbmodel/instance.go
  components/kyma-environment-broker/internal/storage/dbsession/factory.go
  components/kyma-environment-broker/internal/storage/dbsession/read.go
  components/kyma-environment-broker/internal/storage/dbsession/write.go
  components/kyma-environment-broker/internal/storage/driver/memory/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/storage_test.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
  components/schema-migrator/migrations/kyma-environment-broker/202010131417_add_provider_region_to_instance.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202010131417_add_provider_region_to_instance.up.sql
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Apply suggestions from code review
  docs/kyma-environment-broker/03-06-runtime-overrides.md
Due: none

Change failure information for the operation in create runtime step
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
Due: none

Bump KEB image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Change failure information for the operation in create runtime step (#274)
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

wip
  docs/kyma-environment-broker/03-06-runtime-overrides.md
Due: none

SKR CLI: kubeconfig command
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/cmd/cli/skr/kubeconfig.go
  components/kyma-environment-broker/cmd/cli/skr/options.go
Due: none

Rename skr CLI to kcp CLI
  components/kyma-environment-broker/Makefile.cli
  components/kyma-environment-broker/cmd/cli/command/kubeconfig.go
  components/kyma-environment-broker/cmd/cli/command/login.go
  components/kyma-environment-broker/cmd/cli/command/options.go
  components/kyma-environment-broker/cmd/cli/command/orchestration.go
  components/kyma-environment-broker/cmd/cli/command/root.go
  components/kyma-environment-broker/cmd/cli/command/runtime.go
  components/kyma-environment-broker/cmd/cli/command/taskrun.go
  components/kyma-environment-broker/cmd/cli/command/upgrade.go
  components/kyma-environment-broker/cmd/cli/command/upgrade_kyma.go
  components/kyma-environment-broker/cmd/cli/gendocs/gendocs.go
  components/kyma-environment-broker/cmd/cli/main.go
  docs/cli/01-01-overview.md
  docs/cli/02-01-usage.md
  docs/cli/commands/kcp.md
  docs/cli/commands/kcp_kubeconfig.md
  docs/cli/commands/kcp_login.md
  docs/cli/commands/kcp_orchestrations.md
  docs/cli/commands/kcp_runtimes.md
  docs/cli/commands/kcp_taskrun.md
  docs/cli/commands/kcp_upgrade.md
  docs/cli/commands/kcp_upgrade_kyma.md
  docs/cli/commands/skr.md
  docs/cli/commands/skr_kubeconfig.md
  docs/cli/commands/skr_login.md
  docs/cli/commands/skr_orchestrations.md
  docs/cli/commands/skr_runtimes.md
  docs/cli/commands/skr_upgrade.md
  docs/cli/commands/skr_upgrade_kyma.md
Due: none

Add planID field to KEB logs
  components/kyma-environment-broker/internal/broker/instance_deprovision.go
  components/kyma-environment-broker/internal/broker/instance_deprovision_test.go
  components/kyma-environment-broker/internal/process/provisioning/manager.go
  components/kyma-environment-broker/internal/process/provisioning/manager_test.go
Due: none

Apply suggestions from code review
  docs/kyma-environment-broker/03-10-orchestration.md
  docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
  docs/kyma-environment-broker/08-06-orchestration-status.md
Due: none

Fix after review
  docs/kyma-environment-broker/03-10-orchestration.md
  docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
Due: none

bump KEB image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

fix problem with director returning no tenant found error
  components/provisioner/go.mod
  components/provisioner/internal/apperrors/apperrors.go
  components/provisioner/internal/director/directorclient.go
  components/provisioner/internal/director/directorclient_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-provisioner-whitesource-scan

image bump
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Add planID field to KEB logs (#276)
  components/kyma-environment-broker/internal/broker/instance_deprovision.go
  components/kyma-environment-broker/internal/broker/instance_deprovision_test.go
  components/kyma-environment-broker/internal/process/provisioning/manager.go
  components/kyma-environment-broker/internal/process/provisioning/manager_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Runtimes endpoint with a collection of upgrade operations
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/common/runtime/model.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler_test.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/runtime/converter.go
  components/kyma-environment-broker/internal/runtime/handler.go
  components/kyma-environment-broker/internal/runtime/handler_test.go
  components/kyma-environment-broker/internal/storage/dbsession/factory.go
  components/kyma-environment-broker/internal/storage/dbsession/read.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/storage_test.go
Due: none

SKR CLI: kubeconfig command (#275)
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/cmd/cli/skr/kubeconfig.go
  components/kyma-environment-broker/cmd/cli/skr/options.go
Due: none

Bump kyma version to 1.15.1
  installation/resources/KYMA_VERSION
Due: pre-master-control-plane-integration

Add authuser to download link
  installation/scripts/generate-installer-artifacts.sh
Due: pre-master-control-plane-integration

Change kyma version
  installation/resources/KYMA_VERSION
Due: pre-master-control-plane-integration

Change google.cloud to googleapis
  installation/scripts/generate-installer-artifacts.sh
Due: pre-master-control-plane-integration

Change to one of the newest masters
  installation/resources/KYMA_VERSION
Due: pre-master-control-plane-integration

Apply suggestions from code review
  docs/kyma-environment-broker/08-06-orchestration-status.md
Due: none

Update docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
  docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
Due: none

after review
  docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
Due: none

new mechanism for extracting audit log tenant
  components/provisioner/internal/gardener/shoot_reconciler.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

after review
  docs/kyma-environment-broker/03-10-orchestration.md
  docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
  docs/kyma-environment-broker/08-06-orchestration-status.md
Due: none

after review
  docs/kyma-environment-broker/08-06-orchestration-status.md
Due: none

Change Kyma Version
  installation/resources/KYMA_VERSION
Due: pre-master-control-plane-integration

Adjust documentation after orchestration changes (#272)
  components/kyma-environment-broker/internal/model.go
  docs/kyma-environment-broker/03-10-orchestration.md
  docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
  docs/kyma-environment-broker/08-06-orchestration-status.md
Due: none

KCP CLI: runtimes command
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/cmd/cli/command/runtime.go
  components/kyma-environment-broker/cmd/cli/printer/json.go
  components/kyma-environment-broker/cmd/cli/printer/table.go
Due: none

Revert kyma version
  installation/resources/KYMA_VERSION
Due: pre-master-control-plane-integration
