Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

pre-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

pre-master-control-plane-gke-provisioner-integration:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20200513-93bafa15-k8s1.16
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

pre-master-control-plane-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-control-plane.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-control-plane-tests-e2e-provisioning:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-tests-e2e-provisioning:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-provisioner-whitesource-scan:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/wssagent:v20200917-6588f400
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

Fix the logic for upgrade cls flow
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_binding.go
Due: none

rework logic in cls provisioning
  components/kyma-environment-broker/internal/process/deprovisioning/cls_unbinding_step.go
  components/kyma-environment-broker/internal/process/provisioning/cls_binding_step.go
  components/kyma-environment-broker/internal/process/provisioning/cls_provision_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_binding.go
Due: none

add garadener-metrics dashboard
  resources/kcp/charts/kyma-environment-broker/files/gardener-dashboard.json
  resources/kcp/charts/kyma-environment-broker/templates/gardener-dashboard.yaml
Due: pre-master-control-plane-integration

fix
  components/kyma-environment-broker/internal/process/deprovisioning/cls_unbinding_step.go
Due: none

fix
  components/kyma-environment-broker/internal/process/deprovisioning/cls_unbinding_step_test.go
Due: none

Apply suggestions from code review
  docs/kyma-environment-broker/02-03-cls-integration.md
  docs/kyma-environment-broker/03-12-cls-account-setup.md
Due: none

fix
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_binding.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_binding_test.go
Due: none

Bump alpine version and migrator tool version for schema-migrator job
  components/schema-migrator/Dockerfile
Due: none

Bump schema-migrator image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix deprovisioning of suspended trial runtimes
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
Due: none

Bump image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Leftovers
  components/kyma-environment-broker/internal/process/provisioning/cls_binding_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_binding.go
Due: none

Bump alpine version and migrator tool version for schema-migrator job (#589)
  components/schema-migrator/Dockerfile
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix fluentbit forward for 1.19
  components/kyma-environment-broker/internal/process/provisioning/cls_audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/cls_audit_log_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/cls_binding_step_test.go
Due: none

Bump KEB go libraries
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
Due: none

Bump KEB image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix upgrade audit log
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_audit_log.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_audit_log_test.go
Due: none

Bump KEB go libraries (#591)
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Remove finished migrations
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/migrations/README.md
  components/kyma-environment-broker/internal/migrations/instance_parameters.go
  components/kyma-environment-broker/internal/migrations/instance_parameters_rollback.go
  components/kyma-environment-broker/internal/migrations/instance_parameters_rollback_test.go
  components/kyma-environment-broker/internal/migrations/instance_parameters_test.go
  components/kyma-environment-broker/internal/migrations/instancedetails.go
  components/kyma-environment-broker/internal/migrations/instancedetails_test.go
  components/kyma-environment-broker/internal/migrations/operation_user_id.go
  components/kyma-environment-broker/internal/migrations/operation_user_id_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Turn off debug logging
  components/kyma-environment-broker/internal/auditlog/templates/extra_conf_kyma_1_19.go
  components/kyma-environment-broker/internal/cls/templates/extra_conf_kyma.go
Due: none

Dummy change
  components/kyma-environment-broker/internal/process/deprovisioning/cls_unbinding_step_test.go
Due: none

Fix tests
  components/kyma-environment-broker/internal/process/provisioning/cls_audit_log_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/cls_binding_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_audit_log_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_binding_test.go
Due: none

fixes
  docs/kyma-environment-broker/02-03-cls-integration.md
Due: none

Re-enable LMS flags by default
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

fix log
  components/provisioner/internal/installation/resource_cleanup.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Align dependencies
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
Due: none

Delete function after review and add secretbinding role
  components/kyma-environment-broker/common/gardener/client.go
  resources/kcp/charts/kyma-environment-broker/templates/rbac.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/rbac.yaml
Due: pre-master-control-plane-integration

Run dep ensure
  components/kyma-environment-broker/Gopkg.lock
Due: none

Remove clusterbrokers finalizers before uninstallation (#580)
  components/provisioner/internal/installation/resource_cleanup.go
  components/provisioner/internal/installation/resource_cleanup_test.go
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-integration

Improve CLS log messages
  components/kyma-environment-broker/internal/cls/client.go
  components/kyma-environment-broker/internal/cls/config.go
  components/kyma-environment-broker/internal/cls/deprovisioner.go
  components/kyma-environment-broker/internal/cls/kyma_version_check.go
  components/kyma-environment-broker/internal/cls/overrides.go
  components/kyma-environment-broker/internal/cls/provisioner.go
  components/kyma-environment-broker/internal/process/provisioning/cls_audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/cls_binding_step.go
  components/kyma-environment-broker/internal/process/provisioning/cls_offering_step.go
  components/kyma-environment-broker/internal/process/provisioning/cls_provision_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_audit_log.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_binding.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_offering.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_provision.go
Due: none

Fix tests
  components/kyma-environment-broker/internal/cls/config_test.go
  components/kyma-environment-broker/internal/process/provisioning/cls_audit_log_step_test.go
Due: none

Fix skrRegion value
  components/kyma-environment-broker/internal/process/provisioning/cls_provision_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_provision.go
Due: none

Fix test
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_audit_log_test.go
Due: none

refactor gardener metrics panel
  resources/kcp/charts/kyma-environment-broker/files/gardener-dashboard.json
Due: pre-master-control-plane-integration

Adjust the chart
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/deprovisioning/cls_deprovision_step_int_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-master-control-plane-integration

Bump testcontainers-go in KEB (#593)
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Improve
  components/kyma-environment-broker/internal/process/provisioning/cls_binding_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_binding.go
Due: none

Improve CLS log messages (#594)
  components/kyma-environment-broker/internal/cls/client.go
  components/kyma-environment-broker/internal/cls/config.go
  components/kyma-environment-broker/internal/cls/config_test.go
  components/kyma-environment-broker/internal/cls/deprovisioner.go
  components/kyma-environment-broker/internal/cls/kyma_version_check.go
  components/kyma-environment-broker/internal/cls/overrides.go
  components/kyma-environment-broker/internal/cls/provisioner.go
  components/kyma-environment-broker/internal/process/provisioning/cls_audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/cls_audit_log_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/cls_binding_step.go
  components/kyma-environment-broker/internal/process/provisioning/cls_offering_step.go
  components/kyma-environment-broker/internal/process/provisioning/cls_provision_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_audit_log.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_audit_log_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_binding.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_offering.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/cls_provision.go
Due: none

Path conditions:
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
