Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-master-kcp-development-artifacts, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  post-control-plane-components-schema-migrator: any of: ^components/schema-migrator/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-master-kcp-development-artifacts: any of: ^installation|^resources|^tools/kcp-installer
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

post review
  components/provisioner/internal/gardener/auditlogging.go
  components/provisioner/internal/gardener/auditlogging_test.go
  components/provisioner/internal/gardener/shoot_reconciler.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

add implementation for memory
  components/kyma-environment-broker/internal/storage/driver/memory/cls_instance.go
Due: none

fix test
  components/provisioner/internal/gardener/auditlogging_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Revert "Add more snippets for AWS e2e test"
  tests/provisioner-tests/test/testkit/config.go
  tests/provisioner-tests/test/testkit/control-plane/provisioner/graphqlizer.go
  tests/provisioner-tests/test/testkit/inputs.go
  tests/provisioner-tests/test/testkit/util.go
Due: none

KEB with manager and stages
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/manager_test.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager_test.go
  components/kyma-environment-broker/internal/storage/dbmodel/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/postsql/write.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
  components/schema-migrator/migrations/kyma-environment-broker/202104010820_add_finished_stages.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202104010820_add_finished_stages.up.sql
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

using new installation API as future
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/parallel_installation.go
  components/provisioner/internal/operations/stages/provisioning/install_kyma.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_installation.go
  components/provisioner/internal/operations/stages/upgrade/upgrade_kyma.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-provisioner-whitesource-scan

Revert "update templates: add AwsSecret to GardenerConfig"
  resources/kcp/charts/provisioner/templates/tests/test-hibernation.yaml
  resources/kcp/charts/provisioner/templates/tests/test-provisioner.yaml
  resources/kcp/charts/provisioner/values.yaml
  tests/provisioner-tests/test/testkit/config.go
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-master-kcp-development-artifacts

update e2e-aws testdefinition
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-aws.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

New way of setting audit logging tenant (#633)
  components/provisioner/internal/api/fake/seeds/gardener_client.go
  components/provisioner/internal/api/fake/shoots/gardener_client.go
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/testdata/config.json
  components/provisioner/internal/api/testdata/crd/seed.crd.yaml
  components/provisioner/internal/gardener/auditlogging.go
  components/provisioner/internal/gardener/auditlogging_test.go
  components/provisioner/internal/gardener/shoot_controller.go
  components/provisioner/internal/gardener/shoot_reconciler.go
  components/provisioner/internal/gardener/testdata/config.json
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Add adjustment to the runtime name
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
Due: none

Add new log overrides for upgrade flow
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/audit_log.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/audit_log_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/lms_activation_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/lms_activation_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/lms_cert.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/lms_cert_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/skip_for_trial_step_test.go
Due: none

move all lms related stuff to a same file
  components/kyma-environment-broker/internal/process/upgrade_kyma/lms_activation_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/skip_for_trial_step_test.go
Due: none

updated to newest docker image for cloudsql
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Bump KEB image
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

wip
  components/kyma-environment-broker/internal/process/provisioning/manager_test.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager_test.go
Due: none

updated to newest docker image for cloudsql (#643)
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Make tests green
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/orchestration_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/audit_log.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/audit_log_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/lms_cert.go
Due: none

make imports
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
Due: none

fixes
  components/kyma-environment-broker/internal/process/upgrade_kyma/lms_cert_test.go
Due: none

async install
  components/provisioner/internal/installation/parallel_installation.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_installation.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

upgrade hydroform parller install version
  components/provisioner/go.mod
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-provisioner-whitesource-scan

update go.sum
  components/provisioner/go.sum
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-provisioner-whitesource-scan

Using M5 machine types for AWS
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/testdata/aws-schema.json
  components/kyma-environment-broker/internal/provider/aws_provider.go
  docs/provisioner/08-02-provisioning-gardener.md
Due: none

wip
  components/kyma-environment-broker/internal/process/provisioning/staged_manager.go
Due: none

Add adjustment to the runtime name (#641)
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

wip
  components/kyma-environment-broker/internal/process/provisioning/staged_manager.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager_test.go
Due: none

regexp fix
  components/provisioner/internal/gardener/auditlogging.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

img bump
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Make audit log regexp more broad (#646)
  components/provisioner/internal/gardener/auditlogging.go
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Using M5 machine types for AWS (#644)
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/testdata/aws-schema.json
  components/kyma-environment-broker/internal/provider/aws_provider.go
  docs/provisioner/08-02-provisioning-gardener.md
Due: none

Keb with staged steps (#639)
  components/kyma-environment-broker/internal/fixture/fixture.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/manager_test.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager.go
  components/kyma-environment-broker/internal/process/provisioning/staged_manager_test.go
  components/kyma-environment-broker/internal/storage/dbmodel/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/postsql/write.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
  components/schema-migrator/migrations/kyma-environment-broker/202104010820_add_finished_stages.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202104010820_add_finished_stages.up.sql
Due: pre-control-plane-components-schema-migrator, post-control-plane-components-schema-migrator

remove lms and make it work for 1.20 only
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/audit_log.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/audit_log_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/lms_activation_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/lms_activation_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/lms_cert.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/lms_cert_test.go
Due: none

Bump schema migrator
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Bump schema migrator (#647)
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Review corrections
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/connectivity_provision.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision.go
  components/kyma-environment-broker/internal/process/provisioning/simple_provision.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/connectivity_bind.go
Due: none

Make gardener ns configurable
  resources/kcp/charts/kyma-metrics-collector/templates/deployment.yaml
  resources/kcp/charts/kyma-metrics-collector/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

bump image version
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Make gardener ns configurable (#648)
  resources/kcp/charts/kyma-metrics-collector/templates/deployment.yaml
  resources/kcp/charts/kyma-metrics-collector/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts

Add audit log overrides for upgrade flow (#642)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/orchestration_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/audit_log.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/audit_log_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/step.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration, pre-master-kcp-development-artifacts
