Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

wip
  components/schema-migrator/Dockerfile
Due: none

wip
  components/kyma-environment-broker/Dockerfile.cleanup
  components/kyma-environment-broker/Dockerfile.sac
Due: none

Remove @mszostok from CODEOWNERS
  CODEOWNERS
Due: none

Bump alpine to 3.12.3 in KEB images (#407)
  components/kyma-environment-broker/Dockerfile.cleanup
  components/kyma-environment-broker/Dockerfile.sac
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Remove @mszostok from CODEOWNERS (#409)
  CODEOWNERS
Due: none

Bump alpine to 3.12.3 in schema migrator image (#408)
  components/schema-migrator/Dockerfile
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Add Gopher team to all files as CODEOWNERS
  CODEOWNERS
Due: none

Add Gopher team to all files as CODEOWNERS (#410)
  CODEOWNERS
Due: none

after review
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/metrics/operation_result.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/automock/runtime_version_configurator_for_provisioning.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion_test.go
  components/kyma-environment-broker/internal/storage/ext.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Append operations table with provisioning parameters (#393)
  components/schema-migrator/migrations/kyma-environment-broker/202012150900_add_provisioning_parameters_to_operation.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202012150900_add_provisioning_parameters_to_operation.up.sql
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix provisioning parameters type
  components/kyma-environment-broker/internal/migrations/parameters.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/storage/dbmodel/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
  components/kyma-environment-broker/internal/storage/postsql/write.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix DB operations
  components/kyma-environment-broker/internal/migrations/parameters.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/postsql/write.go
Due: none

Fix provisioning parameters type (#411)
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/storage/dbmodel/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
  components/kyma-environment-broker/internal/storage/postsql/write.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Add -- to taskrun documentation (#406)
  docs/cli/commands/kcp_taskrun.md
  tools/cli/cmd/gendocs/gendocs.go
  tools/cli/pkg/command/taskrun.go
Due: none

Initial commit
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/em_unbind.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_dprov_int_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_unbind_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_bind.go
  components/kyma-environment-broker/internal/process/provisioning/ems_bind_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_prov_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision_test.go
Due: none

KEB instance model with versioning
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/storage/driver/memory/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/postsql/write.go
  components/kyma-environment-broker/internal/storage/storage_test.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
  components/schema-migrator/migrations/kyma-environment-broker/202012151612_add_version_to_instance.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202012151612_add_version_to_instance.up.sql
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Add int tests
  components/kyma-environment-broker/internal/process/deprovisioning/ems_dprov_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_prov_int_test.go
Due: none

Update integration tests
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_dprov_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_bind.go
  components/kyma-environment-broker/internal/process/provisioning/ems_prov_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision.go
Due: none

Add eventing overrides
  components/kyma-environment-broker/internal/process/deprovisioning/ems_unbind.go
  components/kyma-environment-broker/internal/process/provisioning/ems_bind.go
  components/kyma-environment-broker/internal/process/provisioning/ems_prov_int_test.go
  components/kyma-environment-broker/internal/runtime/components/components.go
Due: none

Use generic get offerings step
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_unbind.go
  components/kyma-environment-broker/internal/process/provisioning/ems_bind.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision_test.go
Due: none

Solve check-imports issues
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_dprov_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_bind.go
  components/kyma-environment-broker/internal/process/provisioning/ems_prov_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision_test.go
  components/kyma-environment-broker/internal/runtime/components/components.go
Due: none

Persist EMS overrides in DB
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_dprov_int_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_unbind.go
  components/kyma-environment-broker/internal/process/provisioning/ems_bind.go
  components/kyma-environment-broker/internal/process/provisioning/ems_bind_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_prov_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision.go
Due: none

Add new unit tests for binding
  components/kyma-environment-broker/internal/process/provisioning/ems_bind.go
  components/kyma-environment-broker/internal/process/provisioning/ems_bind_test.go
Due: none

Add unit tests for unbind and deprovision
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_unbind_test.go
  components/kyma-environment-broker/internal/servicemanager/fake.go
Due: none

Add EMS data to the deprovisionig step
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
Due: none

Solve comments
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_unbind.go
  components/kyma-environment-broker/internal/process/provisioning/ems_bind.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision.go
Due: none

KEB instance model with versioning (#395)
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/storage/driver/memory/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/postsql/write.go
  components/kyma-environment-broker/internal/storage/storage_test.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
  components/schema-migrator/migrations/kyma-environment-broker/202012151612_add_version_to_instance.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202012151612_add_version_to_instance.up.sql
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Solve conflicts
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_dprov_int_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_unbind_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_prov_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision_test.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_int_test.go
Due: none

Set custom cloudsql-proxy image
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/templates/environments-cleanup-job.yaml
  resources/kcp/charts/kyma-environment-broker/templates/subaccount-cleanup-job.yaml
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/templates/migrator-job.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

Add EMS provisioning/deprovisioning (#386)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_dprov_int_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_unbind.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_unbind_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/ems_bind.go
  components/kyma-environment-broker/internal/process/provisioning/ems_bind_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_prov_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision_test.go
  components/kyma-environment-broker/internal/runtime/components/components.go
  components/kyma-environment-broker/internal/servicemanager/fake.go
Due: none

Add InstanceDetails field to Operation
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/edp_deregistration_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_unbind_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_deprovision_step_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_unbind_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision_test.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_updater_test.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/lms_tenant_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_provisioning_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step_test.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/postsql/factory.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
  components/kyma-environment-broker/internal/storage/storage.go
  components/kyma-environment-broker/internal/storage/storage_test.go
Due: none

Bump KEB image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Apply suggestions from CR #1
  components/kyma-environment-broker/internal/process/deprovisioning/edp_deregistration_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision_test.go
  components/kyma-environment-broker/internal/storage/storage_test.go
Due: none

Add InstanceDetails field to Operation (#413)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/edp_deregistration_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_deprovision_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_unbind_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_deprovision_step_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_unbind_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/ems_provision_test.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_updater_test.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/lms_tenant_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_provisioning_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step_test.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/postsql/factory.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
  components/kyma-environment-broker/internal/storage/storage.go
  components/kyma-environment-broker/internal/storage/storage_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Add wrapper for creating external eval
  components/kyma-environment-broker/internal/process/provisioning/external_eval.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
Due: none

Fix avs external evaluation creation
  components/kyma-environment-broker/internal/process/provisioning/external_eval.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
Due: none

Apply changes from CR #1
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

add plan column to runtime. output also make it a filtering flag (#396)
  docs/cli/commands/kcp_runtimes.md
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/runtime.go
Due: pre-master-provisioner-whitesource-scan

Add timeout for operations processing
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
Due: none
