Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

pre-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

pre-master-control-plane-gke-provisioner-integration:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20200513-93bafa15-k8s1.16
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

pre-master-control-plane-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-control-plane.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-control-plane-tests-e2e-provisioning:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-tests-e2e-provisioning:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-provisioner-whitesource-scan:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/wssagent:v20200917-6588f400
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

Add envs to deployments
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-master-control-plane-integration

Bump image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix test
  components/kyma-environment-broker/cmd/broker/suite_test.go
Due: none

Changes after docs review
  docs/cli/commands/kcp.md
  docs/cli/commands/kcp_kubeconfig.md
  docs/cli/commands/kcp_login.md
  docs/cli/commands/kcp_orchestrations.md
  docs/cli/commands/kcp_runtimes.md
  docs/cli/commands/kcp_taskrun.md
  docs/cli/commands/kcp_upgrade.md
  docs/cli/commands/kcp_upgrade_kyma.md
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/taskrun.go
Due: none

CLI: taskrun command (#374)
  docs/cli/commands/kcp.md
  docs/cli/commands/kcp_kubeconfig.md
  docs/cli/commands/kcp_login.md
  docs/cli/commands/kcp_orchestrations.md
  docs/cli/commands/kcp_runtimes.md
  docs/cli/commands/kcp_taskrun.md
  docs/cli/commands/kcp_upgrade.md
  docs/cli/commands/kcp_upgrade_kyma.md
  tools/cli/cmd/gendocs/gendocs.go
  tools/cli/cmd/main/main.go
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/kubeconfig.go
  tools/cli/pkg/command/login.go
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/orchestration.go
  tools/cli/pkg/command/root.go
  tools/cli/pkg/command/runtime.go
  tools/cli/pkg/command/taskrun.go
  tools/cli/pkg/command/upgrade.go
  tools/cli/pkg/command/upgrade_kyma.go
  tools/cli/pkg/logger/logger.go
Due: pre-master-provisioner-whitesource-scan

add more tests
  components/metris/internal/provider/azure/azure.go
  components/metris/internal/provider/azure/azure_test.go
  components/metris/internal/provider/types.go
Due: none

fix review comments
  components/metris/internal/provider/azure/azure.go
Due: none

after review
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/handlers/cancel.go
  components/kyma-environment-broker/internal/orchestration/handlers/cancel_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  docs/kyma-environment-broker/03-10-orchestration.md
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
  resources/kcp/charts/kyma-environment-broker/templates/virtualservice.yaml
Due: pre-master-control-plane-integration

fix review comments
  components/metris/internal/provider/azure/azure.go
  components/metris/internal/provider/azure/clients_test.go
  components/metris/internal/provider/azure/types.go
Due: none

add new options to Readme
  components/metris/README.md
  components/metris/internal/provider/azure/azure.go
  components/metris/internal/provider/azure/clients_test.go
Due: none

fix review comments
  components/metris/internal/provider/azure/azure.go
  components/metris/internal/provider/azure/azure_test.go
  components/metris/internal/provider/azure/clients.go
  components/metris/internal/provider/azure/clients_test.go
  components/metris/internal/provider/azure/instance_test.go
  components/metris/internal/provider/azure/types.go
Due: none

Apply suggestions from code review
  docs/kyma-environment-broker/03-10-orchestration.md
Due: none

Update docs/kyma-environment-broker/03-10-orchestration.md
  docs/kyma-environment-broker/03-10-orchestration.md
Due: none

Rename env
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/input/input.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-master-control-plane-integration

Enhancements to CLI orchestrations command
  tools/cli/pkg/command/orchestration.go
Due: none

docs changes
  docs/cli/commands/kcp_orchestrations.md
  tools/cli/pkg/command/orchestration.go
Due: none

changes after docs review
  docs/cli/commands/kcp_orchestrations.md
  tools/cli/pkg/command/orchestration.go
Due: none

Enhancements to CLI orchestrations command (#378)
  docs/cli/commands/kcp_orchestrations.md
  tools/cli/pkg/command/orchestration.go
Due: none

Allow canceling in progress orchestrations (#355)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/common/orchestration/ext.go
  components/kyma-environment-broker/common/orchestration/strategies/parallel.go
  components/kyma-environment-broker/common/orchestration/strategies/parallel_test.go
  components/kyma-environment-broker/common/orchestration/strategy_parallel_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/handlers/cancel.go
  components/kyma-environment-broker/internal/orchestration/handlers/cancel_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/handlers.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/manager.go
  components/kyma-environment-broker/internal/process/upgrade_kyma_operation.go
  components/kyma-environment-broker/internal/storage/dbsession/dbmodel/orchestration.go
  components/kyma-environment-broker/internal/storage/driver/memory/orchestration.go
  components/kyma-environment-broker/internal/storage/driver/postsql/orchestration.go
  docs/kyma-environment-broker/03-10-orchestration.md
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
  resources/kcp/charts/kyma-environment-broker/templates/virtualservice.yaml
Due: pre-master-control-plane-integration

Disable istio sidecar for cronjobs with external database
  resources/kcp/charts/kyma-environment-broker/templates/environments-cleanup-job.yaml
  resources/kcp/charts/kyma-environment-broker/templates/subaccount-cleanup-job.yaml
Due: pre-master-control-plane-integration

Disable istio sidecar for cronjobs with external database (#380)
  resources/kcp/charts/kyma-environment-broker/templates/environments-cleanup-job.yaml
  resources/kcp/charts/kyma-environment-broker/templates/subaccount-cleanup-job.yaml
Due: pre-master-control-plane-integration

Update components/metris/README.md
  components/metris/README.md
Due: none

update help text
  components/metris/internal/provider/types.go
Due: none

fix after CR#1
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/input/builder_test.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-master-control-plane-integration

Fix after CR#2
  components/kyma-environment-broker/internal/process/input/builder_test.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
Due: none

Fix after CR#3
  components/kyma-environment-broker/internal/process/input/input_test.go
Due: none

Fix after CR#4
  components/kyma-environment-broker/README.md
Due: none

Put EvaluationProfile on feature flag (#377)
  components/kyma-environment-broker/README.md
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix parameter value for KEB deployment
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
Due: pre-master-control-plane-integration

Fix parameter value for KEB deployment (#381)
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
Due: pre-master-control-plane-integration

KEB enhancements for orchestrations
  components/kyma-environment-broker/common/orchestration/client.go
  components/kyma-environment-broker/common/orchestration/client_test.go
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/common/orchestration/resolver.go
  components/kyma-environment-broker/common/orchestration/resolver_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/orchestration_handler_test.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/storage_test.go
  resources/kcp/charts/kyma-environment-broker/templates/policy.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

XSUAA offering step
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_deprovision_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_deprovision_step_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_int_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_unbind_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_unbind_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/service_manager_offering_step.go
  components/kyma-environment-broker/internal/process/provisioning/service_manager_offering_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/uaa_step.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_binding_step.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_provisioning_step.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_provisioning_step_test.go
  components/kyma-environment-broker/internal/servicemanager/client.go
  components/kyma-environment-broker/internal/servicemanager/fake.go
  components/kyma-environment-broker/internal/servicemanager/xsuaa/parameters.go
  components/kyma-environment-broker/internal/servicemanager/xsuaa/parameters_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

XSUAA offering step (#366)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_deprovision_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_deprovision_step_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_int_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_unbind_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_unbind_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/service_manager_offering_step.go
  components/kyma-environment-broker/internal/process/provisioning/service_manager_offering_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/uaa_step.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_binding_step.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_provisioning_step.go
  components/kyma-environment-broker/internal/process/provisioning/xsuaa_provisioning_step_test.go
  components/kyma-environment-broker/internal/servicemanager/client.go
  components/kyma-environment-broker/internal/servicemanager/fake.go
  components/kyma-environment-broker/internal/servicemanager/xsuaa/parameters.go
  components/kyma-environment-broker/internal/servicemanager/xsuaa/parameters_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix KEB upgrade component list
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/input/builder_test.go
Due: none

Fmt & imports
  components/kyma-environment-broker/internal/process/input/builder_test.go
Due: none

fix test
  components/kyma-environment-broker/internal/process/input/input_test.go
Due: none

wip
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step_test.go
Due: none

wip
  components/kyma-environment-broker/internal/process/input/builder_test.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
Due: none

update metris chart values
  resources/kcp/charts/metris/templates/deployment.yaml
  resources/kcp/charts/metris/values.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

fix swagger syntax error
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
Due: pre-master-control-plane-integration

Path conditions:
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
