Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

Revert changes to kcp cli before server side code is merged
  tools/cli/pkg/command/runtime.go
Due: none

Fix for RuntimeStatus
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

add coloumn PLAN to KCP CLI runtime cmd output & add plan as KCP CLI runtime cmd flag
  tools/cli/pkg/command/runtime.go
Due: none

Enable internal AVS for trials in separate group
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/avs/config.go
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/avs/eval_assistant.go
  components/kyma-environment-broker/internal/avs/external_eval_assistant.go
  components/kyma-environment-broker/internal/avs/internal_eval_assistant.go
  components/kyma-environment-broker/internal/avs/model.go
  components/kyma-environment-broker/internal/avs/model_configurator.go
  components/kyma-environment-broker/internal/avs/model_test.go
  components/kyma-environment-broker/internal/runtime/disabled_components.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/templates/secrets.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix for hibernation step
  components/provisioner/internal/api/resolver.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/hibernation/wait_for_hibernation.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/service.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

update docs/cli/commands/kcp_runtimes.md with
  docs/cli/commands/kcp_runtimes.md
Due: none

Add Plans to client_test params
  components/kyma-environment-broker/common/runtime/client_test.go
Due: none

Fix for hibernation step
  components/provisioner/cmd/main.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Do not quit cloudsql if its not there
  resources/kcp/templates/migrator-job.yaml
Due: pre-master-control-plane-integration

Add plans to runtime listParams (#394)
  components/kyma-environment-broker/common/runtime/client.go
  components/kyma-environment-broker/common/runtime/client_test.go
  components/kyma-environment-broker/common/runtime/model.go
  components/kyma-environment-broker/internal/runtime/handler.go
Due: none

Ad do it in both jobs
  resources/kcp/templates/migrator-job.yaml
Due: pre-master-control-plane-integration

Do it in a better way
  resources/kcp/templates/migrator-job.yaml
Due: pre-master-control-plane-integration

Fix for hibernation step
  components/provisioner/internal/model/types.go
  components/provisioner/internal/provisioning/service.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bump test kubernetes version
  resources/kcp/charts/provisioner/values.yaml
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

Parametrize Migrator quit command (#385)
  resources/kcp/charts/provisioner/values.yaml
  resources/kcp/templates/migrator-job.yaml
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

Fix orchestration statistics for in progress operations
  tools/cli/pkg/command/orchestration.go
Due: none

Fix orchestration statistics for in progress operations (#400)
  tools/cli/pkg/command/orchestration.go
Due: none

Update dependecy version for github.com/kyma-project/control-plane
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-master-provisioner-whitesource-scan

switching timestamp to utc
  tools/cli/go.mod
  tools/cli/go.sum
Due: pre-master-provisioner-whitesource-scan

Use sequential http plugin
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
Due: none

Missing unit tests added
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/resolver_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/provisioning/service_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Missing files added
  components/provisioner/internal/gardener/mocks/Client.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Fix in unit test for hibernation
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Version mapping for PR must be lowercase
  components/kyma-environment-broker/internal/process/input/builder_test.go
  components/kyma-environment-broker/internal/runtime/provider.go
  docs/kyma-environment-broker/03-08-kyma-versions.md
Due: none

Bump KEB version
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Enable internal AVS for trials in separate group (#397)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/avs/config.go
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/avs/eval_assistant.go
  components/kyma-environment-broker/internal/avs/external_eval_assistant.go
  components/kyma-environment-broker/internal/avs/internal_eval_assistant.go
  components/kyma-environment-broker/internal/avs/model.go
  components/kyma-environment-broker/internal/avs/model_configurator.go
  components/kyma-environment-broker/internal/avs/model_test.go
  components/kyma-environment-broker/internal/runtime/disabled_components.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/templates/secrets.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

KEB - ERS improvements
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/services.go
  components/kyma-environment-broker/internal/broker/services_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-master-control-plane-integration

Bump KEB image
  components/kyma-environment-broker/internal/broker/services.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

KEB - ERS improvements (#398)
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/services.go
  components/kyma-environment-broker/internal/broker/services_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

run migration in main
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/parameters/main.go
Due: none

fixes
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/metrics/step_result.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/encrypt_test.go
  components/kyma-environment-broker/internal/storage/storage.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-master-control-plane-integration

add -- to taskrun documentation
  docs/cli/commands/kcp_taskrun.md
  tools/cli/cmd/gendocs/gendocs.go
  tools/cli/pkg/command/taskrun.go
Due: none

after review
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/avs/model.go
  components/kyma-environment-broker/internal/migrations/parameters.go
  components/kyma-environment-broker/internal/migrations/parameters_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/deprovisioning/skip_for_trial_step.go
  components/kyma-environment-broker/internal/process/deprovisioning/skip_for_trial_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/enable_for_trial_step.go
  components/kyma-environment-broker/internal/process/provisioning/enable_for_trial_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/lms_activation_step.go
  components/kyma-environment-broker/internal/process/provisioning/lms_activation_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/natss_step.go
  components/kyma-environment-broker/internal/process/provisioning/natss_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds.go
  components/kyma-environment-broker/internal/process/provisioning/skip_for_trial_step.go
  components/kyma-environment-broker/internal/process/provisioning/skip_for_trial_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/ext.go
Due: none

Bump alpine to 3.12.3
  components/kyma-environment-broker/Dockerfile.cleanup
  components/kyma-environment-broker/Dockerfile.sac
Due: none

wip
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Bump alpine to 3.12.3
  components/schema-migrator/Dockerfile
Due: none
