Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

pre-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

pre-master-control-plane-gke-provisioner-integration:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20200513-93bafa15-k8s1.16
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

pre-master-control-plane-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-control-plane.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-control-plane-tests-e2e-provisioning:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-tests-e2e-provisioning:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-provisioner-whitesource-scan:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/wssagent:v20200917-6588f400
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

declaring the AVS api key as sensitive data
  components/kyma-environment-broker/internal/avs/internal_eval_assistant.go
Due: none

test fix
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_test.go
Due: none

updated image version in chart
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Added check for hibernation in Trigger Installation
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/deprovisioning/cleanup_cluster.go
  components/provisioner/internal/operations/stages/deprovisioning/cleanup_cluster_test.go
  components/provisioner/internal/operations/stages/deprovisioning/trigger_kyma_uninstall.go
  components/provisioner/internal/operations/stages/deprovisioning/trigger_kyma_uninstall_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Additional logic on Kyma upgrade (#455)
  components/kyma-environment-broker/internal/avs/client_test.go
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/avs/delegator_test.go
  components/kyma-environment-broker/internal/avs/mock_server.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/evaluation_manager.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Allowes to KEB handles PATCH requests (instance update)
  resources/kcp/charts/kyma-environment-broker/templates/oathkeeper-rule.yaml
Due: pre-master-control-plane-integration

Allowes to KEB handles PATCH requests (instance update) (#456)
  resources/kcp/charts/kyma-environment-broker/templates/oathkeeper-rule.yaml
Due: pre-master-control-plane-integration

tabs and spaces
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
Due: none

fix
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
Due: none

Enable InstanceDetails migration
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
Due: pre-master-control-plane-integration

Enable InstanceDetails migration (#457)
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
Due: pre-master-control-plane-integration

pass the sequentialhttp version only for right kyma Version
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
Due: none

indentation
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
Due: none

fix
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
Due: none

Image bump
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

go.mod updated
  tests/provisioner-tests/go.mod
  tests/provisioner-tests/go.sum
Due: pre-master-provisioner-whitesource-scan

Provide a feature flag to enable sequentialhttp fluentbit
  components/kyma-environment-broker/internal/auditlog/config.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

indentation fix
  components/kyma-environment-broker/internal/auditlog/config.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
Due: none

declaring the AVS api key as sensitive data (#454)
  components/kyma-environment-broker/internal/avs/internal_eval_assistant.go
  components/kyma-environment-broker/internal/process/provisioning/internal_eval_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

refactor kcp completion cmd
  kcp_completion.md
  tools/cli/pkg/command/completion.go
Due: none

rm kcp_completion.md
  kcp_completion.md
Due: none

modify comments of kcp completion cmd
  docs/cli/commands/kcp_completion.md
  tools/cli/pkg/command/completion.go
Due: none

debug
  components/kyma-environment-broker/cmd/broker/main.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

indentation
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

fixes
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/auditlog/config.go
Due: none

dummy
  components/metris-poc/cmd/main.go
  components/metris-poc/config/deployment.yaml
  components/metris-poc/go.mod
  components/metris-poc/go.sum
  components/metris-poc/pkg/env/config.go
  components/metris-poc/pkg/gardener/connnector.go
  components/metris-poc/pkg/keb/connector.go
  components/metris-poc/pkg/skr/connector.go
  components/metris-poc/pkg/system-info/consolidate.go
  components/metris-poc/pkg/system-info/system-info.go
Due: pre-master-provisioner-whitesource-scan

Apply suggestions from code review
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
Due: none

Get Runtimes
  components/metris-poc/cmd/main.go
  components/metris-poc/go.mod
  components/metris-poc/go.sum
  components/metris-poc/pkg/keb/connector.go
  components/metris-poc/pkg/keb/types.go
Due: pre-master-provisioner-whitesource-scan

Provide a feature flag to enable sequentialhttp fluentbit (#461)
  components/kyma-environment-broker/internal/auditlog/config.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Bump image using PR 461
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

change avs monitor naming convention on create
  components/kyma-environment-broker/internal/avs/model.go
Due: none

bump version
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

wip
  docs/kyma-environment-broker/assets/suspension.svg
Due: none

KEB supports suspension
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/appinfo/runtime_info.go
  components/kyma-environment-broker/internal/appinfo/runtime_info_test.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/instance_deprovision.go
  components/kyma-environment-broker/internal/broker/instance_get.go
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/dto.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/manager.go
  components/kyma-environment-broker/internal/process/input/builder.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/runtime/converter.go
  components/kyma-environment-broker/internal/runtime/handler_test.go
  components/kyma-environment-broker/internal/storage/dbmodel/instance.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/postsql/factory.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
  components/kyma-environment-broker/internal/storage/postsql/write.go
  components/kyma-environment-broker/internal/storage/storage_test.go
  components/kyma-environment-broker/internal/suspension/handler.go
  components/kyma-environment-broker/internal/suspension/handler_test.go
  docs/kyma-environment-broker/03-12-suspension.md
  docs/kyma-environment-broker/assets/suspension.svg
Due: none

wip
  components/kyma-environment-broker/internal/process/input/builder.go
Due: none

wip
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  docs/kyma-environment-broker/03-12-suspension.md
  docs/kyma-environment-broker/assets/suspension.svg
Due: none

wip
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/instance_get.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/suspension/handler.go
  components/kyma-environment-broker/internal/suspension/handler_test.go
Due: none

wip
  components/kyma-environment-broker/internal/broker/instance_update.go
Due: none

wip
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

wip
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation_test.go
Due: none

Path conditions:
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
