Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

Change the URL to download release artifacts (#279)
  installation/resources/KYMA_VERSION
  installation/scripts/generate-installer-artifacts.sh
Due: pre-master-control-plane-integration

Expose kyma upgrade operation state in API
  components/kyma-environment-broker/internal/orchestration/dto.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter.go
Due: none

Implement strategies in KEB
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler_test.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/orchestration/strategy_instant.go
  components/kyma-environment-broker/internal/orchestration/strategy_instant_test.go
  components/kyma-environment-broker/internal/orchestration/strategy_parallel.go
  components/kyma-environment-broker/internal/orchestration/strategy_parallel_test.go
Due: none

Fix after review
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler.go
  components/kyma-environment-broker/internal/orchestration/strategy_parallel.go
  components/kyma-environment-broker/internal/process/queue.go
Due: none

Fixes
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler_test.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager_test.go
  components/kyma-environment-broker/internal/orchestration/strategy_parallel.go
  components/kyma-environment-broker/internal/orchestration/strategy_parallel_test.go
Due: none

Fix after reviewx2
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler_test.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/orchestration/strategy_parallel.go
  components/kyma-environment-broker/internal/orchestration/strategy_parallel_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Add description to operation response
  components/kyma-environment-broker/internal/orchestration/dto.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma_operation.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

minor changes to docs
  components/kyma-environment-broker/cmd/cli/command/options.go
  components/kyma-environment-broker/cmd/cli/command/root.go
  components/kyma-environment-broker/cmd/cli/gendocs/gendocs.go
  docs/cli/02-01-usage.md
  docs/cli/commands/kcp.md
  docs/cli/commands/kcp_kubeconfig.md
  docs/cli/commands/kcp_login.md
  docs/cli/commands/kcp_orchestrations.md
  docs/cli/commands/kcp_runtimes.md
  docs/cli/commands/kcp_taskrun.md
  docs/cli/commands/kcp_upgrade.md
  docs/cli/commands/kcp_upgrade_kyma.md
Due: none

Implement strategies in KEB (#266)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler_test.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager_test.go
  components/kyma-environment-broker/internal/orchestration/strategy_instant.go
  components/kyma-environment-broker/internal/orchestration/strategy_instant_test.go
  components/kyma-environment-broker/internal/orchestration/strategy_parallel.go
  components/kyma-environment-broker/internal/orchestration/strategy_parallel_test.go
  components/kyma-environment-broker/internal/process/queue.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

post review changes
  components/provisioner/internal/apperrors/apperrors.go
  components/provisioner/internal/director/directorclient.go
  components/provisioner/internal/director/directorclient_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

New mechanism for extracting audit log tenant (#280)
  components/provisioner/internal/gardener/shoot_reconciler.go
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-integration

Expose kyma upgrade operation state in API (#282)
  components/kyma-environment-broker/internal/orchestration/dto.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma_operation.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Limit list of last upgrade kyma operations on runtimes endpoint (#273)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/common/runtime/model.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler_test.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/runtime/converter.go
  components/kyma-environment-broker/internal/runtime/handler.go
  components/kyma-environment-broker/internal/runtime/handler_test.go
  components/kyma-environment-broker/internal/storage/dbsession/factory.go
  components/kyma-environment-broker/internal/storage/dbsession/read.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/storage_test.go
Due: none

Fix problem with failing deprovisioning when Director returns 'Tenant not found' error (#277)
  components/provisioner/go.mod
  components/provisioner/internal/apperrors/apperrors.go
  components/provisioner/internal/director/directorclient.go
  components/provisioner/internal/director/directorclient_test.go
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-integration, pre-master-provisioner-whitesource-scan

Modify deprovisioning manager behaviour when there is no corresponding provisioning operation
  components/kyma-environment-broker/internal/process/deprovisioning/manager.go
Due: none

Bump KEB image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix deprovisioning manager error loop (#283)
  components/kyma-environment-broker/internal/process/deprovisioning/manager.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Add stalebot to the control-plane repo
  .github/stale.yml
Due: none

Add stalebot to the control-plane repo (#284)
  .github/stale.yml
Due: none

Add new step
  components/provisioner/cmd/main.go
  components/provisioner/internal/model/types.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Bump Azure sdk in KEB
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

wip
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
Due: none

Keb bump azure sdk (#285)
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Add tests
  components/provisioner/cmd/main.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings_test.go
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

Bump image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Run every make check
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/operations/queue/queues_constructor.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings.go
  components/provisioner/internal/operations/stages/provisioning/create_operators_bindings_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Extend metrics labels in KEB
  components/kyma-environment-broker/internal/metrics/operation_result.go
  components/kyma-environment-broker/internal/metrics/step_result.go
Due: none

Docs changes after review
  components/kyma-environment-broker/cmd/cli/command/kubeconfig.go
  components/kyma-environment-broker/cmd/cli/command/login.go
  components/kyma-environment-broker/cmd/cli/command/options.go
  components/kyma-environment-broker/cmd/cli/command/orchestration.go
  components/kyma-environment-broker/cmd/cli/command/root.go
  components/kyma-environment-broker/cmd/cli/command/runtime.go
  components/kyma-environment-broker/cmd/cli/command/taskrun.go
  components/kyma-environment-broker/cmd/cli/command/upgrade.go
  components/kyma-environment-broker/cmd/cli/command/upgrade_kyma.go
  components/kyma-environment-broker/cmd/cli/gendocs/gendocs.go
  components/kyma-environment-broker/cmd/cli/logger/logger.go
  docs/cli/01-01-overview.md
  docs/cli/02-01-usage.md
  docs/cli/commands/kcp.md
  docs/cli/commands/kcp_kubeconfig.md
  docs/cli/commands/kcp_login.md
  docs/cli/commands/kcp_orchestrations.md
  docs/cli/commands/kcp_runtimes.md
  docs/cli/commands/kcp_taskrun.md
  docs/cli/commands/kcp_upgrade.md
  docs/cli/commands/kcp_upgrade_kyma.md
Due: none

Docs changes after review
  components/kyma-environment-broker/cmd/cli/gendocs/gendocs.go
  docs/cli/commands/kcp_kubeconfig.md
  docs/cli/commands/kcp_login.md
  docs/cli/commands/kcp_orchestrations.md
  docs/cli/commands/kcp_runtimes.md
  docs/cli/commands/kcp_taskrun.md
  docs/cli/commands/kcp_upgrade.md
  docs/cli/commands/kcp_upgrade_kyma.md
Due: none

Docs changes after review
  docs/cli/02-01-usage.md
Due: none

OIDC auth for /runtimes endpoint
  resources/kcp/charts/kyma-environment-broker/templates/oathkeeper-rule.yaml
  resources/kcp/charts/kyma-environment-broker/templates/policy.yaml
  resources/kcp/charts/kyma-environment-broker/templates/virtualservice.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-master-control-plane-integration

Fix upgrade queue in KEB
  components/kyma-environment-broker/internal/orchestration/strategy_parallel.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix upgrade queue in KEB (#289)
  components/kyma-environment-broker/internal/orchestration/strategy_parallel.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Changes after review
  components/kyma-environment-broker/cmd/cli/command/kubeconfig.go
  components/kyma-environment-broker/cmd/cli/command/options.go
  components/kyma-environment-broker/cmd/cli/command/orchestration.go
  components/kyma-environment-broker/cmd/cli/command/root.go
  components/kyma-environment-broker/cmd/cli/command/runtime.go
  components/kyma-environment-broker/cmd/cli/command/taskrun.go
  components/kyma-environment-broker/cmd/cli/command/upgrade_kyma.go
  docs/cli/01-01-overview.md
  docs/cli/02-01-usage.md
  docs/cli/commands/kcp.md
  docs/cli/commands/kcp_kubeconfig.md
  docs/cli/commands/kcp_login.md
  docs/cli/commands/kcp_orchestrations.md
  docs/cli/commands/kcp_runtimes.md
  docs/cli/commands/kcp_taskrun.md
  docs/cli/commands/kcp_upgrade.md
  docs/cli/commands/kcp_upgrade_kyma.md
Due: none

fix swagger console errors
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
Due: pre-master-control-plane-integration

after review
  components/kyma-environment-broker/cmd/broker/main.go
  docs/kyma-environment-broker/08-07-swagger.md
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
  resources/kcp/charts/kyma-environment-broker/templates/oathkeeper-rule.yaml
  resources/kcp/charts/kyma-environment-broker/templates/virtualservice.yaml
Due: pre-master-control-plane-integration

Apply suggestions from code review
  docs/kyma-environment-broker/03-11-swagger.md
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
Due: pre-master-control-plane-integration

fix docs
  docs/kyma-environment-broker/03-10-orchestration.md
Due: none

Implement swagger for KEB
  components/kyma-environment-broker/Dockerfile.keb
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/files/swagger/favicon-16x16.png
  components/kyma-environment-broker/files/swagger/favicon-32x32.png
  components/kyma-environment-broker/files/swagger/index.html
  components/kyma-environment-broker/files/swagger/oauth2-redirect.html
  components/kyma-environment-broker/files/swagger/swagger-ui-bundle.js
  components/kyma-environment-broker/files/swagger/swagger-ui-es-bundle-core.js
  components/kyma-environment-broker/files/swagger/swagger-ui-es-bundle.js
  components/kyma-environment-broker/files/swagger/swagger-ui-standalone-preset.js
  components/kyma-environment-broker/files/swagger/swagger-ui.css
  components/kyma-environment-broker/files/swagger/swagger-ui.js
  docs/kyma-environment-broker/08-07-swagger.md
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/templates/oathkeeper-rule.yaml
  resources/kcp/charts/kyma-environment-broker/templates/swagger.yaml
  resources/kcp/charts/kyma-environment-broker/templates/virtualservice.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Apply suggestions from code review
  docs/kyma-environment-broker/03-10-orchestration.md
  docs/kyma-environment-broker/08-07-swagger.md
Due: none
