Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

pre-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-components-provisioner:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
      command:
  ...

pre-master-control-plane-gke-provisioner-integration:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20200513-93bafa15-k8s1.16
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

pre-master-control-plane-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-control-plane.sh
      resources:
        requests:
          memory: 100Mi
  ...

pre-control-plane-tests-e2e-provisioning:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-control-plane-tests-e2e-provisioning:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-control-plane: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-provisioner-whitesource-scan:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/wssagent:v20200917-6588f400
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

Attempt to clean up the ClsProvisioningStep
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/provisioning/cls_prov_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/cls_provisioning_step.go
Due: none

fix keb listig instances
  components/kyma-environment-broker/internal/storage/dbmodel/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/kyma-environment-broker/internal/storage/postsql/factory.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
  components/kyma-environment-broker/internal/storage/storage_test.go
Due: none

WIP: cleaning up provisioning
  components/kyma-environment-broker/internal/cls/client.go
  components/kyma-environment-broker/internal/cls/client_test.go
  components/kyma-environment-broker/internal/cls/config.go
  components/kyma-environment-broker/internal/cls/instance.go
  components/kyma-environment-broker/internal/process/provisioning/cls_prov_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/cls_provisioning_step.go
  components/kyma-environment-broker/internal/storage/driver/memory/cls_instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/cls_instance.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/postsql/factory.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
Due: none

Fix params
  components/kyma-environment-broker/internal/cls/client.go
Due: none

wip
  components/kyma-environment-broker/internal/storage/storage_test.go
Due: none

WIP: improve logging and naming
  components/kyma-environment-broker/internal/cls/manager.go
  components/kyma-environment-broker/internal/process/provisioning/cls_provisioning_step.go
Due: none

bump KEB image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Some more changes
  components/kyma-environment-broker/internal/cls/client.go
  components/kyma-environment-broker/internal/cls/manager.go
  components/kyma-environment-broker/internal/process/provisioning/cls_prov_int_test.go
  components/kyma-environment-broker/internal/servicemanager/client.go
Due: none

WIP: deprovisioning step
  components/kyma-environment-broker/internal/cls/service_manager.go
  components/kyma-environment-broker/internal/process/deprovisioning/cls_deprovision.go
  components/kyma-environment-broker/internal/process/deprovisioning/cls_deprovision_in_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/ems_dprov_int_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/deprovisioning/xsuaa_int_test.go
  components/kyma-environment-broker/internal/process/provisioning/cls_offering_step.go
  components/kyma-environment-broker/internal/process/provisioning/cls_provisioning_step.go
Due: none

fix keb listing instances (#490)
  components/kyma-environment-broker/internal/storage/dbmodel/instance.go
  components/kyma-environment-broker/internal/storage/driver/postsql/instance.go
  components/kyma-environment-broker/internal/storage/postsql/factory.go
  components/kyma-environment-broker/internal/storage/postsql/read.go
  components/kyma-environment-broker/internal/storage/storage_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Hibernation test resilence (#473)
  components/kyma-environment-broker/cmd/environmentscleanup/main.go
  components/kyma-environment-broker/internal/environmentscleanup/automock/BrokerClient.go
  components/kyma-environment-broker/internal/environmentscleanup/automock/GardenerClient.go
  components/kyma-environment-broker/internal/environmentscleanup/automock/ProvisionerClient.go
  components/kyma-environment-broker/internal/environmentscleanup/service.go
  components/kyma-environment-broker/internal/environmentscleanup/service_test.go
  resources/kcp/charts/kyma-environment-broker/templates/environments-cleanup-job.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/charts/provisioner/templates/tests/test-hibernation.yaml
  resources/kcp/charts/provisioner/values.yaml
  resources/kcp/values.yaml
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/hibernation_test.go
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/provisioner/upgrade_shoot_test.go
  tests/provisioner-tests/test/provisioner/upgrade_test.go
  tests/provisioner-tests/test/testkit/config.go
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

Adjust KCP to Kyma 1.17
  installation/resources/COMPASS_VERSION
  installation/resources/KYMA_VERSION
  resources/kcp/charts/kyma-environment-broker/templates/policy.yaml
  tools/kcp-installer/kcp.Dockerfile
Due: pre-master-control-plane-integration

Revert debug code
  components/kyma-environment-broker/internal/servicemanager/client.go
Due: none

runtimes add admin group
  resources/kcp/charts/kyma-environment-broker/templates/oathkeeper-rule.yaml
Due: pre-master-control-plane-integration

[Do not merge] Check if needed
  tools/kcp-installer/Makefile
Due: none

bump version
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix suspension when last deprovisioning not exist
  components/kyma-environment-broker/internal/suspension/handler.go
Due: none

Apply suggestions
  components/kyma-environment-broker/internal/suspension/handler.go
Due: none

improvements of unit tests of cluster creatiuon step after code review
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_creation_test.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

Tidy Provisioners go sum
  components/provisioner/go.sum
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-provisioner-whitesource-scan

Allow changing trial limit per GA
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-master-control-plane-integration

adjust tests
  components/kyma-environment-broker/internal/broker/instance_create_test.go
Due: none

add version param on upgrade
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
Due: none

add swagger docs
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  resources/kcp/charts/kyma-environment-broker/files/swagger.yaml
Due: pre-master-control-plane-integration

Saving gardener shoot cluster seed to the database (#475)
  components/provisioner/internal/api/fake/gardener_client.go
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/api/testdata/config.json
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_creation.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_cluster_creation_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner

use custom= instead of custom-columns=
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/orchestration.go
  tools/cli/pkg/command/runtime.go
Due: none

use custom.go instead of customcolunm.go
  docs/cli/commands/kcp_orchestrations.md
  docs/cli/commands/kcp_runtimes.md
  tools/cli/pkg/printer/custom.go
Due: none

rm blank space in options.go
  tools/cli/pkg/command/options.go
Due: none

Allow changing trial limit per GA (#476)
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-master-control-plane-integration

Adjust KEB plans schemas
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/testdata/azure-lite-schema.json
  components/kyma-environment-broker/internal/broker/testdata/azure-schema.json
  components/kyma-environment-broker/internal/broker/testdata/azure-trial-schema.json
  components/kyma-environment-broker/internal/broker/testdata/gcp-schema.json
Due: none

Adjust KEB plans schemas
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_validator_test.go
  components/kyma-environment-broker/internal/broker/services.go
  components/kyma-environment-broker/internal/broker/testdata/azure-lite-schema.json
  components/kyma-environment-broker/internal/broker/testdata/azure-schema.json
  components/kyma-environment-broker/internal/broker/testdata/azure-trial-schema.json
  components/kyma-environment-broker/internal/broker/testdata/gcp-schema.json
  components/kyma-environment-broker/internal/process/input/automock/optional_component_names_provider.go
Due: none

Adjust KEB plans schemas
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/plans_validator_test.go
  components/kyma-environment-broker/internal/broker/services.go
  components/kyma-environment-broker/internal/broker/services_test.go
Due: none

Adjust KCP to Kyma 1.17 (#493)
  installation/resources/COMPASS_VERSION
  installation/resources/KYMA_VERSION
  resources/kcp/charts/kyma-environment-broker/templates/policy.yaml
  tools/kcp-installer/kcp.Dockerfile
Due: pre-master-control-plane-integration

Look at operations to see if the instance is active or not
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
Due: none

wip
  components/kyma-environment-broker/internal/broker/instance_update.go
  components/kyma-environment-broker/internal/broker/instance_update_test.go
Due: none

wip
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Bump hcsshim
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-provisioner-whitesource-scan

wip
  components/kyma-environment-broker/internal/broker/instance_update_test.go
Due: none

Path conditions:
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum
