Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  post-control-plane-components-provisioner: any of: ^components/provisioner/|^scripts/
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

Make orchestration states external (#344)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/orchestration_test.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/cmd/cli/command/orchestration.go
  components/kyma-environment-broker/common/orchestration/dto.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Generate random azure zone
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/azure_provider_test.go
  components/kyma-environment-broker/internal/provider/common.go
Due: none

bump image
  components/kyma-environment-broker/cmd/broker/main.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Remove tabs
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
Due: none

Move KCP CLI out from KEB
  CODEOWNERS
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/Makefile.cli
  tools/cli/Makefile
  tools/cli/cmd/gendocs/gendocs.go
  tools/cli/cmd/main/main.go
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/kubeconfig.go
  tools/cli/pkg/command/login.go
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/orchestration.go
  tools/cli/pkg/command/root.go
  tools/cli/pkg/command/runtime.go
  tools/cli/pkg/command/taskrun.go
  tools/cli/pkg/command/upgrade.go
  tools/cli/pkg/command/upgrade_kyma.go
  tools/cli/pkg/credential/manager.go
  tools/cli/pkg/logger/logger.go
  tools/cli/pkg/printer/json.go
  tools/cli/pkg/printer/table.go
Due: pre-master-provisioner-whitesource-scan

Save console URL from provisioner gardenerClusterDomain label
  components/kyma-environment-broker/common/director/client.go
  components/kyma-environment-broker/common/director/client_test.go
  components/kyma-environment-broker/common/director/query.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix go-mod-check target
  tools/cli/Makefile
Due: none

Add Roman P to CODEOWNERS
  CODEOWNERS
Due: none

Fix in migration
  components/schema-migrator/migrations/provisioner/202011131137_add_profile_to_kyma_config.down.sql
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Move KCP CLI out from KEB (#348)
  CODEOWNERS
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/Makefile.cli
  tools/cli/Makefile
  tools/cli/cmd/gendocs/gendocs.go
  tools/cli/cmd/main/main.go
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/pkg/command/kubeconfig.go
  tools/cli/pkg/command/login.go
  tools/cli/pkg/command/options.go
  tools/cli/pkg/command/orchestration.go
  tools/cli/pkg/command/root.go
  tools/cli/pkg/command/runtime.go
  tools/cli/pkg/command/taskrun.go
  tools/cli/pkg/command/upgrade.go
  tools/cli/pkg/command/upgrade_kyma.go
  tools/cli/pkg/credential/manager.go
  tools/cli/pkg/logger/logger.go
  tools/cli/pkg/printer/json.go
  tools/cli/pkg/printer/table.go
Due: pre-master-provisioner-whitesource-scan

Get Kyma version per GA for upgrade
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/runtime_version_configurator_for_upgrade.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/secret_cm_overrides.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

bump version
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix unit tests
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/secret_cm_overrides_test.go
Due: none

update mockery version
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/runtime_version_configurator_for_upgrade.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/secret_cm_overrides.go
Due: none

Generate a random azure zone (#343)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/azure_provider_test.go
  components/kyma-environment-broker/internal/provider/common.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Get Kyma version per GA for upgrade (#351)
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/automock/runtime_version_configurator_for_upgrade.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/secret_cm_overrides.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/secret_cm_overrides_test.go
  components/kyma-environment-broker/internal/runtimeversion/runtimeversion.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Profiles in Provisioner (#326)
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/cmd/main.go
  components/provisioner/cmd/migrate_provisioning_operations.go
  components/provisioner/go.mod
  components/provisioner/go.sum
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/installation/installation.go
  components/provisioner/internal/installation/installation_test.go
  components/provisioner/internal/installation/mocks/Service.go
  components/provisioner/internal/model/kyma_config.go
  components/provisioner/internal/operations/stages/provisioning/install_kyma.go
  components/provisioner/internal/operations/stages/provisioning/install_kyma_test.go
  components/provisioner/internal/operations/stages/upgrade/upgrade_kyma.go
  components/provisioner/internal/operations/stages/upgrade/upgrade_kyma_test.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/read_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/internal/provisioning/service_test.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
  components/schema-migrator/migrations/provisioner/202011131137_add_profile_to_kyma_config.down.sql
  components/schema-migrator/migrations/provisioner/202011131137_add_profile_to_kyma_config.up.sql
  resources/kcp/values.yaml
Due: pre-control-plane-components-provisioner, post-control-plane-components-provisioner, pre-master-control-plane-integration, pre-master-provisioner-whitesource-scan

replace latest-published source flag with master
  installation/cmd/run.sh
Due: pre-master-control-plane-integration

Remove postgres-client binary
  components/schema-migrator/Dockerfile
Due: none

Update postgres-client binary
  components/schema-migrator/Dockerfile
Due: none

wip
  components/schema-migrator/Dockerfile
Due: none

wip
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Add random suffix to all plans
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
Due: none

Updates dependencies in schema-migrator (#353)
  components/schema-migrator/Dockerfile
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Bump image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Add random name suffix to all plans (#349)
  components/kyma-environment-broker/internal/process/input/input.go
  components/kyma-environment-broker/internal/process/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Shorten the random suffix
  components/kyma-environment-broker/internal/process/input/input.go
Due: none

Bump images
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Shorten the random suffix in runtime names (#354)
  components/kyma-environment-broker/internal/process/input/input.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Make orchestration resolver and strategy external
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/orchestration/automock/runtime_resolver.go
  components/kyma-environment-broker/common/orchestration/automock/strategy.go
  components/kyma-environment-broker/common/orchestration/ext.go
  components/kyma-environment-broker/common/orchestration/resolver.go
  components/kyma-environment-broker/common/orchestration/resolver_test.go
  components/kyma-environment-broker/common/orchestration/runtime_lister_mock.go
  components/kyma-environment-broker/common/orchestration/strategy_parallel.go
  components/kyma-environment-broker/common/orchestration/strategy_parallel_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/automock/instance_lister.go
  components/kyma-environment-broker/internal/orchestration/automock/strategy.go
  components/kyma-environment-broker/internal/orchestration/ext.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler_test.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager_test.go
  components/kyma-environment-broker/internal/orchestration/resolver_test.go
  components/kyma-environment-broker/internal/orchestration/runtime_lister.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/manager.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/manager_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma_operation_test.go
  components/kyma-environment-broker/internal/runtime/automock/converter.go
  components/kyma-environment-broker/internal/runtime/converter.go
  components/kyma-environment-broker/internal/runtime/handler.go
  components/kyma-environment-broker/internal/storage/driver/memory/instance.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
Due: none

Fix storage test
  components/kyma-environment-broker/internal/storage/storage_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix credential manager crash after package upgrade
  tools/cli/pkg/credential/manager.go
Due: none

Fix credential manager crash after package upgrade (#357)
  tools/cli/pkg/credential/manager.go
Due: none

adding some fixes to help on azure request throlling
  components/metris/cmd/metris/main.go
  components/metris/go.mod
  components/metris/go.sum
  components/metris/internal/log/log.go
  components/metris/internal/log/noop.go
  components/metris/internal/log/zap.go
  components/metris/internal/provider/azure/azure.go
  components/metris/internal/provider/azure/azure_test.go
  components/metris/internal/provider/azure/clients.go
  components/metris/internal/provider/azure/clients_test.go
  components/metris/internal/provider/azure/instance.go
  components/metris/internal/provider/azure/instance_test.go
  components/metris/internal/provider/azure/mocks/AuthConfig.go
  components/metris/internal/provider/azure/mocks/Client.go
  components/metris/internal/provider/azure/types.go
  components/metris/internal/provider/azure/utils.go
  components/metris/internal/provider/types.go
  components/metris/internal/tracing/zipkin.go
Due: pre-master-provisioner-whitesource-scan

Rename latest-published and latest source types to master (#352)
  installation/cmd/run.sh
Due: pre-master-control-plane-integration

Changes after review
  components/kyma-environment-broker/common/orchestration/resolver.go
Due: none

Add further filters to the fluentbit to filter out non audit data (#345)
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step.go
  components/kyma-environment-broker/internal/process/provisioning/audit_log_step_test.go
Due: none

Make orchestration resolver and strategy external (#356)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/cmd/broker/suite_test.go
  components/kyma-environment-broker/common/orchestration/automock/runtime_resolver.go
  components/kyma-environment-broker/common/orchestration/automock/strategy.go
  components/kyma-environment-broker/common/orchestration/ext.go
  components/kyma-environment-broker/common/orchestration/resolver.go
  components/kyma-environment-broker/common/orchestration/resolver_test.go
  components/kyma-environment-broker/common/orchestration/runtime_lister_mock.go
  components/kyma-environment-broker/common/orchestration/strategy_parallel.go
  components/kyma-environment-broker/common/orchestration/strategy_parallel_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/automock/instance_lister.go
  components/kyma-environment-broker/internal/orchestration/automock/strategy.go
  components/kyma-environment-broker/internal/orchestration/ext.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler_test.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager_test.go
  components/kyma-environment-broker/internal/orchestration/resolver_test.go
  components/kyma-environment-broker/internal/orchestration/runtime_lister.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/initialisation_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/manager.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/manager_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step_test.go
  components/kyma-environment-broker/internal/process/upgrade_kyma_operation_test.go
  components/kyma-environment-broker/internal/runtime/automock/converter.go
  components/kyma-environment-broker/internal/runtime/converter.go
  components/kyma-environment-broker/internal/runtime/handler.go
  components/kyma-environment-broker/internal/storage/driver/memory/instance.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/storage_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Trim last characters from runtime name if its too long
  components/kyma-environment-broker/internal/process/input/input.go
Due: none
