Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

remove nodejs16 (#1482)
  core-ui/src/components/Functions/config.js
  core-ui/src/components/Functions/constants.js
  core-ui/src/components/Functions/helpers/runtime/runtime.js
  core-ui/src/components/Functions/helpers/runtime/test/runtime.test.js
  docs/extensibility/form-widgets.md
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Fixed readOnly name input
  core-ui/src/components/Extensibility/components-form/NameRenderer.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Some changes to ext docs
  docs/extensibility/assets/display-widgets/Plain.png
  docs/extensibility/assets/display-widgets/ResourceRefs.png
  docs/extensibility/assets/form-widgets/CodeEditor.png
  docs/extensibility/assets/form-widgets/ResourceRefs.png
  docs/extensibility/assets/form-widgets/Text.png
  docs/extensibility/display-widgets.md
  docs/extensibility/form-widgets.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

EXT: Fixed read-only name input in form (#1483)
  core-ui/src/components/Extensibility/components-form/NameRenderer.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

updated ext docs
  docs/extensibility/README.md
  docs/extensibility/configmap-sections.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

read extensibility for namespaced users
  core/src/luigi-config/customResources.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

added allowedit to functions
  core-ui/src/resources/Functions/FunctionCreate.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix editing functions via UI Form
  core-ui/src/resources/Functions/FunctionCreate.js
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove consolelog
  core-ui/src/resources/Functions/FunctionCreate.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

applied suggestions from code review
  docs/extensibility/README.md
  docs/extensibility/display-widgets.md
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

change the doc title
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

repair resourceUrl
  core-ui/src/resources/Functions/FunctionCreate.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

added test for editing function
  tests/tests/namespace/run-prepare-functions.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

wip
  core-ui/src/components/Clusters/views/ClusterList.js
  core/src/assets/defaultConfig.json
  core/src/assets/kubeconfig/multi.yaml
  core/src/luigi-config/kubeconfig-id/index.js
  core/src/luigi-config/kubeconfig-id/loadKubeconfigById.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

update README.md tutorials
  docs/extensibility/README.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

fix formatting
  docs/extensibility/README.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

fix formatting again
  docs/extensibility/README.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

restore production version
  core/src/assets/defaultConfig.json
  core/src/assets/kubeconfig/multi.yaml
  core/src/luigi-config/kubeconfig-id/index.js
  resources/web/deployment.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Adjust e2e tests
  tests/tests/namespace/test-config-maps.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Use pluralize
  core-ui/src/shared/components/ControlledBy/ControlledBy.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update docs/extensibility/display-widgets.md
  docs/extensibility/display-widgets.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Add ControlledBy widgets, fix empty group bug (#1466)
  core-ui/src/components/Extensibility/components/ControlledBy.js
  core-ui/src/components/Extensibility/components/index.js
  core-ui/src/components/Extensibility/helpers.js
  core-ui/src/shared/components/ControlledBy/ControlledBy.js
  core/src/luigi-config/navigation/customPaths.js
  docs/extensibility/assets/display-widgets/ControlledBy.png
  docs/extensibility/assets/display-widgets/ControlledByKind.png
  docs/extensibility/display-widgets.md
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

apply suggestion from code review
  docs/extensibility/README.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Review fix, fix warnings
  core-ui/src/shared/ResourceForm/fields/RichEditorDataField/RichEditorSection.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Review fixes
  core-ui/src/shared/ResourceForm/fields/RichEditorDataField/RichEditorSection.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Apply suggestions from code review
  docs/extensibility/README.md
  docs/extensibility/display-widgets.md
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Apply suggestions from code review
  docs/extensibility/README.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

fix getIframeBody
  tests/support/iframe-commands.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Refactor Edit Config Map to allow code editors (#1468)
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Clusters/components/KubeconfigUpload/KubeconfigUpload.js
  core-ui/src/components/Extensibility/components-form/MonacoRenderer.js
  core-ui/src/resources/ConfigMaps/ConfigMapCreate.js
  core-ui/src/shared/ResourceForm/fields/Editor.js
  core-ui/src/shared/ResourceForm/fields/RichEditorDataField/RichEditorDataField.js
  core-ui/src/shared/ResourceForm/fields/RichEditorDataField/RichEditorSection.js
  core-ui/src/shared/ResourceForm/fields/RichEditorDataField/RichEditorSection.scss
  core-ui/src/shared/ResourceForm/fields/index.js
  core-ui/src/shared/components/Dropdown/Dropdown.scss
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/ReadonlyEditorPanel.js
  core-ui/src/shared/utils/detectLanguage.js
  core-ui/src/styles/index.scss
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  tests/tests/namespace/test-config-maps.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

In progress
  core-ui/src/components/Extensibility/components/Widget.js
  core-ui/src/components/Extensibility/helpers.js
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update README.md
  docs/extensibility/README.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Update resources.md
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

updated ext docs (#1485)
  docs/extensibility/README.md
  docs/extensibility/display-widgets.md
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

simple list widget wip
  core-ui/src/components/Extensibility/components-form/SimpleList.js
  core-ui/src/components/Extensibility/components-form/StringRenderer.js
  core-ui/src/components/Extensibility/components-form/index.js
  core-ui/src/shared/ResourceForm/components/FormField.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

apply clonedeep
  core-ui/src/resources/Functions/FunctionCreate.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

moved resourceUrl to namespace details
  core-ui/src/resources/Deployments/DeploymentCreate.js
  core-ui/src/resources/Functions/FunctionCreate.js
  core-ui/src/resources/Namespaces/DeployNewWorkload.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Rename useObjectState
  core-ui/src/command-pallette/CommandPaletteProvider.js
  core-ui/src/shared/useObjectState.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
