Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$

Bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Update Dockerfile.local
  Dockerfile.local
Due: post-busola-local

No <<<
  Dockerfile.local
Due: post-busola-local

Add jq
  Dockerfile.local
Due: post-busola-local

Update core/src/i18n/en.yaml
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Wrap logs
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

implement a protected resource feature
  core-ui/src/components/Predefined/Create/ConfigMaps/helpers.js
  core/src/luigi-config/features.js
  shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

disable actions on protected entries
  shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump image version
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

use protected resources in resource details
  shared/components/PageHeader/PageHeader.scss
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  shared/hooks/index.js
  shared/hooks/useProtectedResources.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add a view for jobs creation (#498)
  core-ui/src/components/Predefined/Create/CronJobs/CronJobs.create.js
  core-ui/src/components/Predefined/Create/Jobs/Containers.js
  core-ui/src/components/Predefined/Create/Jobs/ContainersSection.js
  core-ui/src/components/Predefined/Create/Jobs/ContainersSection.scss
  core-ui/src/components/Predefined/Create/Jobs/CronJobs.create.js
  core-ui/src/components/Predefined/Create/Jobs/Jobs.create.js
  core-ui/src/components/Predefined/Create/Jobs/ScheduleSection.js
  core-ui/src/components/Predefined/Create/Jobs/SpecSection.js
  core-ui/src/components/Predefined/Create/Jobs/templates.js
  core-ui/src/components/Predefined/Create/index.js
  core-ui/src/components/Predefined/Details/Job/JobCompletions.js
  core-ui/src/components/Predefined/List/Deployments.list.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

add yaml preview
  core/src/i18n/en.yaml
  shared/components/ListActions/ListActions.js
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  shared/contexts/YamlEditorContext/EditorActions.js
  shared/contexts/YamlEditorContext/YamlContent.js
  shared/contexts/YamlEditorContext/YamlEditorContext.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix prettier
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Apply suggestions from code review
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Stateful Set defintion change
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add workload components definitions (#504)
  core-ui/src/components/Predefined/List/ApiRules.list.js
  core-ui/src/components/Predefined/List/CronJobs.list.js
  core-ui/src/components/Predefined/List/DaemonSets.list.js
  core-ui/src/components/Predefined/List/Deployments.list.js
  core-ui/src/components/Predefined/List/Function/Functions.list.js
  core-ui/src/components/Predefined/List/Gateways.list.js
  core-ui/src/components/Predefined/List/Jobs.list.js
  core-ui/src/components/Predefined/List/Pod/Pods.list.js
  core-ui/src/components/Predefined/List/ReplicaSets.list.js
  core-ui/src/components/Predefined/List/ServiceBindings.list.js
  core-ui/src/components/Predefined/List/ServiceInstances.list.js
  core-ui/src/components/Predefined/List/StatefulSets.list.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  shared/components/Link/Link.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Protected resources (#509)
  core-ui/src/components/Predefined/Create/ConfigMaps/helpers.js
  core/src/i18n/en.yaml
  core/src/luigi-config/features.js
  resources/web/deployment.yaml
  shared/components/ListActions/ListActions.js
  shared/components/PageHeader/PageHeader.scss
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  shared/contexts/YamlEditorContext/EditorActions.js
  shared/contexts/YamlEditorContext/YamlContent.js
  shared/contexts/YamlEditorContext/YamlEditorContext.js
  shared/hooks/index.js
  shared/hooks/useProtectedResources.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

use create forms for editing resources
  core-ui/src/components/App/App.js
  core-ui/src/components/Predefined/Create/ConfigMaps/ConfigMaps.create.js
  core-ui/src/components/Predefined/Create/Secrets/Secrets.create.js
  core-ui/src/components/Predefined/Details/ConfigMap/ConfigMap.details.js
  core-ui/src/components/Predefined/Details/Secret/Secret.details.js
  core/src/i18n/en.yaml
  shared/components/ResourceDetails/ResourceDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

refactor oauth wip
  core-ui/src/components/Predefined/Create/OAuthClients/OAuthClients.create.js
  core-ui/src/components/Predefined/Create/OAuthClients/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

use edit dialog in lists as well
  shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Enable observability for Docker Busola (#508)
  Dockerfile.local
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.scss
  core/src/assets/config/config.json
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

add Service definition
  core-ui/src/components/Predefined/List/Services.list.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

update deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Service definition correction
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add Service definition (#512)
  core-ui/src/components/Predefined/List/Services.list.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

readd all preexisting fields + auth method
  core-ui/src/components/Predefined/Create/OAuthClients/OAuthClients.create.js
  core-ui/src/components/Predefined/Create/OAuthClients/helpers.js
  core-ui/src/shared/ResourceForm/components/FormComponents.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Push
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRulesList/ApiRulesList.js
  core-ui/src/components/ApiRules/constants.js
  core-ui/src/components/Predefined/Create/ApiRules/ApiRules.create.js
  core-ui/src/components/Predefined/Create/ApiRules/GatewayDropdown.js
  core-ui/src/components/Predefined/Create/ApiRules/HostDropdown.js
  core-ui/src/components/Predefined/Create/ApiRules/JwtStrategyConfig.js
  core-ui/src/components/Predefined/Create/ApiRules/Rules.js
  core-ui/src/components/Predefined/Create/ApiRules/ServiceDropdown.js
  core-ui/src/components/Predefined/Create/ApiRules/templates.js
  core-ui/src/components/Predefined/Create/ServiceBindings/SecretRefForm/SecretRefForm.js
  core-ui/src/components/Predefined/Create/index.js
  core-ui/src/components/Predefined/List/ApiRules.list.js
  core-ui/src/shared/ResourceForm/ResourceForm.js
  core-ui/src/shared/ResourceForm/components/FormComponents.js
  core-ui/src/shared/ResourceForm/components/Inputs.js
  core/src/i18n/en.yaml
  shared/components/Dropdown/Dropdown.js
  shared/components/K8sNameInput/K8sNameInput.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add extra fields for oauth2
  core-ui/src/components/Predefined/Create/OAuthClients/OAuthClients.create.js
  core-ui/src/components/Predefined/Create/OAuthClients/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

wip
  core-ui/src/components/Predefined/Create/ApiRules/ApiRules.create.js
  core-ui/src/components/Predefined/Create/ApiRules/HostDropdown.js
  core-ui/src/components/Predefined/Create/ApiRules/JwtStrategyConfig.js
  core-ui/src/components/Predefined/Create/ApiRules/Rules.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add missing i18n
  core-ui/src/components/Predefined/Create/OAuthClients/OAuthClients.create.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add integration components defintions
  core-ui/src/components/Predefined/List/AddonsConfigurations.list.js
  core-ui/src/components/Predefined/List/Application/Applications.list.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

wip still
  core-ui/src/components/Predefined/Create/ApiRules/AccessStrategyForm.js
  core-ui/src/components/Predefined/Create/ApiRules/ApiRules.create.js
  core-ui/src/components/Predefined/Create/ApiRules/HostDropdown.js
  core-ui/src/components/Predefined/Create/ApiRules/Rules.js
  core-ui/src/components/Predefined/Create/ApiRules/ServiceDropdown.js
  core-ui/src/components/Predefined/Create/ApiRules/templates.js
  core-ui/src/components/Predefined/Create/ServiceBindings/SecretRefForm/SecretRefForm.js
  core-ui/src/shared/ResourceForm/ResourceForm.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add integration components defintions (#513)
  core-ui/src/components/Predefined/List/AddonsConfigurations.list.js
  core-ui/src/components/Predefined/List/Application/Applications.list.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test
