Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

Repair tests
  tests/tests/cluster/test-custom-resources.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Repair tests
  tests/tests/namespace/test-custom-resources.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix paths
  core-ui/src/components/App/App.js
  core-ui/src/components/Extensibility/useGetCRbyPath.js
  core/src/assets/customResources/customResources.json
  core/src/assets/customResources/customResources2.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Apply requested changes
  core-ui/src/resources/Events/EventList.js
  core-ui/src/resources/createResourceRoutes.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Added opening search with shortcut to custom resources test
  tests/tests/cluster/test-custom-resources.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove react favicon
  core-ui/public/favicon.ico
  core-ui/public/index.html
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

try again
  Dockerfile
Due: none

Make sure img builds
  core-ui/src/resources/Deployments/DeploymentList.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Open search shortcut (#1240)
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/components/CustomResources/CRDList.js
  core-ui/src/components/CustomResources/CustomResources.js
  core-ui/src/components/CustomResources/CustomResourcesByGroup.js
  core-ui/src/components/CustomResources/GroupingListPage.js
  core-ui/src/components/CustomResources/GroupingListPage/GroupingListPage.scss
  core-ui/src/components/HelmReleases/HelmReleasesList.js
  core-ui/src/hooks/useCustomMessageListener.js
  core-ui/src/resources/Events/EventList.js
  core-ui/src/resources/createResourceRoutes.js
  core-ui/src/shared/components/GenericList/GenericList.js
  core-ui/src/shared/components/GenericList/SearchInput.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
  core/src/luigi-config/communication.js
  resources/web/deployment.yaml
  tests/tests/cluster/test-custom-resources.spec.js
  tests/tests/namespace/test-custom-resources.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Handle target cluster res
  core-ui/src/components/App/App.js
  core/src/assets/customResources/customResources.json
  core/src/luigi-config/customResources.js
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Added envs
  core-ui/src/shared/components/PodTemplate/PodTemplate.js
  core-ui/src/shared/components/PodTemplate/PodTemplate.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix structure
  core-ui/src/components/Extensibility/extensibilityCreate.js
  core-ui/src/components/Extensibility/extensibilityDetails.js
  core-ui/src/components/Extensibility/extensibilityList.js
  core-ui/src/components/Extensibility/useGetCRbyPath.js
  core/src/assets/customResources/customResources.json
  core/src/luigi-config/navigation/customPaths.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add route for buckets
  core-ui/src/components/App/App.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Added mounts with table style
  core-ui/src/shared/components/PodTemplate/PodTemplate.js
  core-ui/src/shared/components/PodTemplate/PodTemplate.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add dynamic routes
  core-ui/src/components/App/App.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix breadcrumbd=s
  core-ui/src/components/Extensibility/extensibilityDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Added translations, secrets to envs and empty placeholders
  core-ui/src/shared/components/PodTemplate/PodTemplate.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove manifest
  core-ui/public/index.html
  core-ui/public/manifest.json
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

pid
  Dockerfile
Due: none

Try to fix pid issue
  Dockerfile
  nginx/nginx.conf
Due: post-busola-integration-test-k3s, pre-busola-ui-test

adjust time period in nginx
  nginx/nginx.conf
Due: post-busola-integration-test-k3s, pre-busola-ui-test

again
  Dockerfile
  nginx/nginx.pid
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Changed command and args font, added pod template to jobs and cronjobs
  core-ui/src/resources/CronJobs/CronJobDetails.js
  core-ui/src/resources/Deployments/DeploymentDetails.js
  core-ui/src/resources/Jobs/JobDetails.js
  core-ui/src/shared/components/PodTemplate/PodTemplate.js
  core-ui/src/shared/components/PodTemplate/PodTemplate.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Added translations
  core-ui/src/shared/components/PodTemplate/PodTemplate.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Removed empty placeholder
  core-ui/src/shared/components/PodTemplate/PodTemplate.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

again
  nginx/nginx.conf
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Adjust translations
  core-ui/src/components/Extensibility/components/CreateDetailPanel.js
  core-ui/src/components/Extensibility/components/CreateExtensibilityList.js
  core-ui/src/components/Extensibility/components/CreateMonacoReadOnlyEditor.js
  core-ui/src/components/Extensibility/components/ResourceSchema.js
  core-ui/src/components/Extensibility/components/helpers.js
  core-ui/src/components/Extensibility/extensibilityDetails.js
  core-ui/src/components/Extensibility/extensibilityList.js
  core/src/assets/customResources/customResources.json
  core/src/assets/customTranslations/customTranslations.json
  core/src/luigi-config/customResources.js
  core/src/luigi-config/navigation/customPaths.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Rev
  Dockerfile
Due: none

code refactor
  core-ui/src/components/Extensibility/components/ResourceSchema.js
  core/src/luigi-config/navigation/customPaths.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Semantic fix
  core-ui/src/shared/components/PodTemplate/PodTemplate.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Blind dev tryes to repair cypress
  tests/tests/namespace/test-cron-jobs.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add PodTemplate for other resources
  core-ui/src/resources/DaemonSets/DaemonSetDetails.js
  core-ui/src/resources/ReplicaSets/ReplicaSetDetails.js
  core-ui/src/resources/StatefulSets/StatefulSetDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update nginx/nginx.conf
  nginx/nginx.conf
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Add file where panel-grid class exists
  core-ui/src/resources/DnsProviders/DnsProviderDetails.js
  core-ui/src/resources/Issuers/IssuerDomains.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add system-wide fetch request queuing
  core-ui/src/shared/hooks/BackendAPI/useFetch.js
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Move panel-grid class to the index.scss
  core-ui/src/index.scss
  core-ui/src/resources/DnsProviders/DnsProviderDetails.js
  core-ui/src/resources/Issuers/IssuerDomains.js
  core-ui/src/resources/Namespaces/NamespaceDetails.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
