Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs, pull-busola-pjtester, pull-busola-vpathguard

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

removed test from cypress.json
  tests/integration/cypress.json
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix properties override (#2273)
  core-ui/src/components/Extensibility/plugins/SchemaRulesInjector.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

missing .gitkeep
  public/themes/@sap-theming/.gitkeep
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

adjusted to new Tests
  tests/integration/cypress.json
  tests/integration/tests/namespace/test-dns-entries.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

forgot to remove the yaml file :)
  examples/resources/configuration/dns-entries.yaml
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Dnsproviders as extension (#2238)
  public/i18n/en.yaml
  resources/web/deployment.yaml
  src/resources/DnsProviders/DnsProviderCreate.js
  src/resources/DnsProviders/DnsProviderDetails.js
  src/resources/DnsProviders/DnsProviderList.js
  src/resources/DnsProviders/ProviderTypeDropdown.js
  src/resources/DnsProviders/index.js
  src/resources/DnsProviders/templates.js
  src/resources/index.js
  tests/integration/cypress.json
  tests/integration/tests/namespace/test-dns-providers.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

test is failing although it's there
  tests/integration/tests/extensibility/ext-test-variables.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

removed one line because otherwise test is failing although it's there
  tests/integration/tests/extensibility/ext-test-variables.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Bump minimatch and minimist
  backend/package-lock.json
  package-lock.json
  tests/integration/package-lock.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, post-busola-web-and-backend, pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

removed unneccesary lines
  public/i18n/en.yaml
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Bump images
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

?
  src/resources/index.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Bump minimatch and minimist
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local

added configuration for dnsEntries (#2211)
  public/i18n/en.yaml
  resources/web/deployment.yaml
  src/resources/DnsEntries/DNSNameRef.js
  src/resources/DnsEntries/DnsEntryCreate.js
  src/resources/DnsEntries/DnsEntryDetails.js
  src/resources/DnsEntries/DnsEntryList.js
  src/resources/DnsEntries/TargetsRef.js
  src/resources/DnsEntries/TargetsRef.scss
  src/resources/DnsEntries/helpers.js
  src/resources/DnsEntries/index.js
  src/resources/index.js
  tests/integration/cypress.json
  tests/integration/tests/extensibility/ext-test-variables.spec.js
  tests/integration/tests/namespace/test-dns-entries.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

removed placeholder from AuthenticationDropdown
  src/components/Clusters/views/EditCluster/AuthenticationDropdown.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

removed Issuers from index.js
  src/resources/index.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Bump codeql (#2245)
  .github/workflows/codeql-analysis.yml
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Bump minimatch and minimist (#2276)
  backend/package-lock.json
  package-lock.json
  package.json
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
  tests/integration/package-lock.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

fix auth update on cluster switch
  src/components/App/ClusterRoutes.js
  src/components/App/resourceSchemas/useResourceSchemas.ts
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

bump image version
  resources/web/deployment.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

fix auth when adding clusters
  src/components/App/ClusterRoutes.js
  src/components/Clusters/components/AddClusterWizard.js
  src/components/Clusters/views/EditCluster/EditCluster.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

removed old codebase
  src/resources/Certificates/CertificateCreate.js
  src/resources/Certificates/CertificateCreate.scss
  src/resources/Certificates/CertificateDetails.js
  src/resources/Certificates/CertificateList.js
  src/resources/Certificates/CertificateRefs.js
  src/resources/Certificates/CertificateRefs.scss
  src/resources/Certificates/IssuerLink.js
  src/resources/Certificates/SecretLink.js
  src/resources/Certificates/index.js
  src/resources/Certificates/templates.js
  tests/integration/tests/namespace/test-certificates.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix auth update on cluster switch (#2277)
  resources/web/deployment.yaml
  src/components/App/ClusterRoutes.js
  src/components/App/resourceSchemas/useResourceSchemas.ts
  src/components/Clusters/components/AddClusterWizard.js
  src/components/Clusters/views/EditCluster/EditCluster.js
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

try to fix required, not working for childerns
  src/components/Extensibility/components-form/GenericList.js
  src/components/Extensibility/components-form/index.js
  src/shared/ResourceForm/components/CollapsibleSection.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

fix version
  src/sidebar/Footer/useGetBusolaVersion.ts
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

bump
  resources/web/deployment.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

fix version (#2280)
  resources/web/deployment.yaml
  src/sidebar/Footer/useGetBusolaVersion.ts
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

fix required, thanks to big brain of Agata
  src/components/Extensibility/components-form/GenericList.js
  src/shared/ResourceForm/components/CollapsibleSection.js
  src/shared/ResourceForm/components/CollapsibleSection.scss
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

remove clg
  src/components/Extensibility/components-form/index.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

adjust docs
  docs/extensibility/form-section.md
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Sort items in side nav
  src/state/navigation/assignToCategories.ts
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Bump images
  resources/web/deployment.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

add "decode" option to panel
  src/components/Extensibility/components/Panel.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Sort items in side nav (#2281)
  resources/web/deployment.yaml
  src/state/navigation/assignToCategories.ts
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

update docs and schema
  docs/extensibility/display-section.md
  public/schemas/schema-details.yaml
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Add component for multi checkboxes
  src/components/Extensibility/components-form/MultiCheckbox.js
  src/components/Extensibility/components-form/index.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-smoke-test-docker: any of: ^resources/|^tests/
  post-busola-smoke-test-docker: any of: /
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-lighthouse: any of: ^resources/|^lighthouse/|^nginx/
  post-busola-lighthouse: any of: ^resources/|^lighthouse/|^nginx/
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-busola-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-busola-vpathguard: any of: ^(vpath/pjtester.yaml)
