Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs, pull-busola-pjtester, pull-busola-vpathguard

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

add behavior and translations
  public/i18n/en.yaml
  src/resources/HorizontalPodAutoscalers/HorizontalPodAutoscalerDetails.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

remove search in genericlist
  src/resources/HorizontalPodAutoscalers/HorizontalPodAutoscalerDetails.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

blind fix test
  tests/integration/tests/namespace/test-HPA.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Update ExternalLink.js
  src/components/Extensibility/components/ExternalLink.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

change implementation
  docs/extensibility/form-section.md
  public/i18n/en.yaml
  public/schemas/schema-form.yaml
  src/components/Extensibility/components-form/StringRenderer.js
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

update docs
  docs/extensibility/form-section.md
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

bump deployment
  resources/web/deployment.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

fix: remove needless variable
  src/resources/ServiceAccounts/TokenRequestModal/TokenRequestModal.tsx
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

removed old codebase
  public/i18n/en.yaml
  resources/web/deployment.yaml
  src/resources/index.js
  tests/integration/cypress.json
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

Adjust multi checkboxes
  docs/extensibility/assets/form-widgets/MultiCheckbox.png
  docs/extensibility/form-section.md
  examples/testing/configuration/test-resource-configmap.yaml
  src/components/Extensibility/components-form/MultiCheckbox.js
  src/shared/ResourceForm/components/FormField.js
  src/shared/ResourceForm/components/FormField.scss
  src/shared/ResourceForm/inputs/Checkboxes.js
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Bump images
  resources/web/deployment.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

fix: remove create button, memoize function
  src/resources/ServiceAccounts/TokenRequestModal/TokenRequestModal.tsx
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

feat: change create token to generate token
  public/i18n/en.yaml
  src/resources/ServiceAccounts/ServiceAccountDetails.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

adjust depluy to v2 HPA, change displaying scaleTargetRef, fix tests
  examples/apps/whoami/all.yaml
  resources/backend/hpa.yaml
  resources/web/hpa.yaml
  src/resources/HorizontalPodAutoscalers/HorizontalPodAutoscalerDetails.js
  tests/integration/tests/namespace/test-HPA.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

Remove unused import
  src/shared/ResourceForm/inputs/Checkboxes.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

adjust more in deploy
  examples/apps/whoami/all.yaml
  resources/backend/hpa.yaml
  resources/web/hpa.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

Review changes
  src/components/Extensibility/components-form/MultiCheckbox.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

feat: add useCreateKubeconfig hook
  src/hooks/useCreateKubeconfig.ts
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Remove unused import
  src/components/Extensibility/components-form/MultiCheckbox.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

decode only decodables
  src/components/Extensibility/components-form/StringRenderer.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

trigger or presets
  src/components/Extensibility/ExtensibilityCreate.js
  src/components/Extensibility/contexts/Trigger.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

fix: comparing name and urlPath of two extensions
  src/state/navigation/extensionsAtom.ts
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

simplify logic a little
  src/state/navigation/extensionsAtom.ts
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

feat: rename hook
  src/resources/ServiceAccounts/TokenRequestModal/TokenRequestModal.tsx
  src/resources/ServiceAccounts/TokenRequestModal/useCreateTokenRequest.ts
  src/resources/ServiceAccounts/TokenRequestModal/useGenerateTokenRequest.ts
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

feat: add editor and buttons for creating token
  src/resources/ServiceAccounts/ServiceAccountDetails.js
  src/resources/ServiceAccounts/TokenRequestModal/TokenRequestModal.scss
  src/resources/ServiceAccounts/TokenRequestModal/TokenRequestModal.tsx
  src/resources/ServiceAccounts/TokenRequestModal/useGenerateTokenRequest.ts
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

validate all base64 decoding
  src/components/Extensibility/components-form/StringRenderer.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

try to fix test
  tests/integration/tests/namespace/test-navigation.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

handle validation
  src/components/Extensibility/components-form/MultiCheckbox.js
  src/shared/ResourceForm/inputs/Checkboxes.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Have description next to label
  src/shared/ResourceForm/inputs/Checkboxes.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Uncomment tests
  tests/integration/tests/extensibility/ext-test-variables.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Adjust screenshot
  docs/extensibility/assets/form-widgets/MultiCheckbox.png
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

feat: add generating token on mount
  public/i18n/en.yaml
  src/resources/ServiceAccounts/TokenRequestModal/TokenRequestModal.tsx
  src/resources/ServiceAccounts/TokenRequestModal/useGenerateTokenRequest.ts
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

fix: success notification translation
  public/i18n/en.yaml
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

feat: disable buttons when there was a failure
  src/resources/ServiceAccounts/TokenRequestModal/TokenRequestModal.tsx
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

cleaning
  src/resources/ServiceAccounts/TokenRequestModal/TokenRequestModal.tsx
  src/resources/ServiceAccounts/TokenRequestModal/useGenerateTokenRequest.ts
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

adjust commencts
  public/i18n/en.yaml
  src/resources/HorizontalPodAutoscalers/HorizontalPodAutoscalerDetails.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

feat: add closing modal with escape
  src/resources/ServiceAccounts/TokenRequestModal/TokenRequestModal.tsx
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

test: adjust SA tests
  tests/integration/tests/namespace/test-service-accounts.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

move behavior to separate file
  src/resources/HorizontalPodAutoscalers/HPABehavior.js
  src/resources/HorizontalPodAutoscalers/HorizontalPodAutoscalerDetails.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-smoke-test-docker: any of: ^resources/|^tests/
  post-busola-smoke-test-docker: any of: /
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-lighthouse: any of: ^resources/|^lighthouse/|^nginx/
  post-busola-lighthouse: any of: ^resources/|^lighthouse/|^nginx/
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-busola-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-busola-vpathguard: any of: ^(vpath/pjtester.yaml)
