Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

done
  core/src/assets/config/config.json
  core/src/luigi-config/auth/auth.js
  core/src/luigi-config/auth/sso.js
  core/src/luigi-config/cluster-management/clusters-storage.js
  core/src/luigi-config/init-params/params-version.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/previous-location.js
  core/src/luigi-config/navigation/queries.js
  core/src/luigi-config/navigation/static-navigation-model.js
  core/src/luigi-config/utils/showAlert.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

unify resource refs and setValue in ResourceForm
  core-ui/src/components/Predefined/Create/Certificates/Certificates.create.js
  core-ui/src/components/Predefined/Create/DNSProviders/DNSProviders.create.js
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  core-ui/src/components/Predefined/Create/Gateways/Gateways.create.js
  core-ui/src/components/Predefined/Create/Issuers/Issuers.create.js
  core-ui/src/shared/ResourceForm/ResourceForm.js
  core-ui/src/shared/ResourceForm/components/FormComponents.js
  core-ui/src/shared/components/ResourceRef/ExternalResourceRef.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

use combobox for resource refs
  core-ui/src/index.scss
  core-ui/src/shared/components/ResourceRef/ExternalResourceRef.js
  core-ui/src/shared/components/ResourceRef/ExternalResourceRef.scss
  core/src/i18n/en.yaml
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

bump backend image version
  resources/backend/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Remove init params from README
  README.md
Due: pre-master-busola-governance, pre-main-busola-governance

Code review fixes
  core/src/luigi-config/kubeconfig-id.js
  core/src/luigi-config/kubeconfig-id/constants.js
  core/src/luigi-config/kubeconfig-id/kubeconfig-id.js
  shared/constants/constants.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Fix imports
  core-ui/src/components/Clusters/shared.js
  core/src/luigi-config/cluster-management/cluster-management.js
  core/src/luigi-config/kubeconfig-id/kubeconfig-id.js
  core/src/luigi-config/luigi-config.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

More cleanup
  core/src/luigi-config/kubeconfig-id/kubeconfig-id.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Add add service accounts section to en yaml
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Add service account tab in luigi's navigation
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Add service account list
  core-ui/src/components/Predefined/Details/ServiceAccount/ServiceAccount.details.js
  core-ui/src/components/Predefined/List/index.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Add service account details
  core-ui/src/components/Predefined/Details/index.js
  core-ui/src/components/Predefined/List/ServiceAccount/ServiceAccounts.list.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Fix kk-id
  core/src/luigi-config/kubeconfig-id.js
  core/src/luigi-config/kubeconfig-id/kubeconfig-id.js
  tests/tests/login-kubeconfigID.spec.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

update fundamental-react version
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web

add some yaml logic
  core-ui/src/components/Predefined/Create/Certificates/Certificates.create.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

add an error on a failed decode
  core-ui/src/components/Predefined/Create/Certificates/Certificates.create.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

ignore exhaustive-deps
  core-ui/src/components/Predefined/Create/Certificates/Certificates.create.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Add OIDC flow to Cypress tess
  core-ui/src/components/Clusters/components/AuthForm.js
  tests/cypress.json
  tests/support/login-commands.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Upgrade web deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Remove select
  core-ui/src/shared/components/K8sResourceSelect.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Bump fundamental and use Combobox input
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  core-ui/src/shared/components/K8sResourceSelect.js
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

backend bump
  resources/backend/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Upgrade Cypress to 8.5.0 version (#433)
  tests/package-lock.json
  tests/package.json
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Dont send empty authorization header
  backend/common.js
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Bump
  resources/backend/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Update packages
  package-lock.json
Due: none

Add missing if
  core/src/luigi-config/kubeconfig-id/kubeconfig-id.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Revert "Update packages"
  package-lock.json
Due: none

Fix title during exposing a function
  core-ui/src/components/App/App.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Update README.md
  README.md
Due: pre-master-busola-governance, pre-main-busola-governance

Don't send empty authorization header (#446)
  backend/common.js
  resources/backend/deployment.yaml
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add test
  core/src/i18n/en.yaml
  core/src/luigi-config/kubeconfig-id/kubeconfig-id.js
  tests/tests/login-kubeconfigID.spec.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Update core/src/i18n/en.yaml
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Fix "
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Remove init encode params (#440)
  Dockerfile
  README.md
  core-ui/src/components/Clusters/params-version.js
  core-ui/src/components/Clusters/shared.js
  core-ui/src/components/Clusters/views/AddCluster/AddCluster.js
  core-ui/src/components/Clusters/views/ClusterList.js
  core/src/assets/config/config.json
  core/src/i18n/en.yaml
  core/src/luigi-config/cluster-management/cluster-management.js
  core/src/luigi-config/init-params/init-params.js
  core/src/luigi-config/init-params/params-version.js
  core/src/luigi-config/init-params/tests/params-version.test.js
  core/src/luigi-config/kubeconfig-id.js
  core/src/luigi-config/kubeconfig-id/constants.js
  core/src/luigi-config/kubeconfig-id/kubeconfig-id.js
  core/src/luigi-config/luigi-config.js
  package-lock.json
  package.json
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
  shared/constants/constants.js
  tests/cypress.json
  tests/package-lock.json
  tests/package.json
  tests/support/enkode.js
  tests/tests/cluster-configuration.spec.js
  tests/tests/login-enkode.spec.js
  tests/tests/login-kubeconfigID.spec.js
Due: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Change actions' names be translated and add icon property to that
  core-ui/src/components/ApiRules/ApiRulesList/ApiRulesList.js
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/LambdaVariables.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.js
  core-ui/src/components/Predefined/Details/Application/NamespaceBindings.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.js
  shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

secrets wip
  core-ui/src/components/Predefined/Create/Secrets/CreateSecretForm.js
  core-ui/src/components/Predefined/Details/Secret/EditSecretForm.js
  core-ui/src/shared/ResourceForm/components/FormComponents.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Add commit hash(version) to Busola UI
  Makefile
  core/src/assets/config/version.json
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
