Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$

Change protected resources icon
  shared/hooks/useProtectedResources.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump image
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

allow importing multiple contexts
  core-ui/src/components/Clusters/components/AddClusterWizard.js
  core-ui/src/components/Clusters/components/ContextChooser/ContextChooser.js
  core-ui/src/components/Clusters/shared.js
  core/src/i18n/en.yaml
  core/src/luigi-config/communication.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump image version
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Make ChartContent search behaviour nicer
  core-ui/src/components/Predefined/Details/Secret/helm/ChartContent.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Disable readonly mode in catalog (#873)
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingModal.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.js
  resources/web/configmap.yaml
  resources/web/deployment.yaml
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingModal.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingUsageForm/CreateServiceBindingUsageModal.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceTable.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Use lighter import
  core-ui/src/components/Predefined/Details/Secret/helm/decodeHelmRelease.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix e2e test
  tests/tests/reduced-permissions.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Revert "Fix e2e test"
  tests/tests/reduced-permissions.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix e2e tests
  tests/tests/reduced-permissions.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add confirmation to the deletion of clusters and env variables (#875)
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/CreateVariable/CreateVariable.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/LambdaVariables.js
  core-ui/src/components/Predefined/List/Events.list.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  shared/hooks/useDeleteResource.js
  tests/tests/reduced-permissions.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Change protected resources icon (#877)
  resources/web/deployment.yaml
  shared/hooks/useProtectedResources.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix small buttons on namespace details
  core-ui/src/components/Predefined/Details/Namespace/DeployNewWorkload.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Handle deep linking with kubeconfig ID, figz #841 (#859)
  core/src/luigi-config/cluster-management/cluster-management.js
  core/src/luigi-config/kubeconfig-id/index.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/previous-location.js
  resources/web/deployment.yaml
  tests/support/login-commands.js
  tests/tests/add-cluster-disabled.spec.js
  tests/tests/login-kubeconfigID.spec.js
  tests/tests/reduced-permissions.spec.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Deprecate nodejs12
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/runtime/test/runtime.test.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

image bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Apply suggestions from code review
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Deprecate nodejs12 (#880)
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/runtime/test/runtime.test.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Plural form of some of the options in Cron Job, Job, Gateway, Oath2 Client, and DNE Entry views (#872)
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  tests/support/login-commands.js
  tests/tests/add-cluster-disabled.spec.js
  tests/tests/invalid-kubeconfig.spec.js
  tests/tests/multiple-context-kubeconfig.spec.js
  tests/tests/other-logins.spec.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix small buttons on namespace details (#881)
  core-ui/src/components/Predefined/Details/Namespace/DeployNewWorkload.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

CHANGES
  core-ui/src/components/HelmReleases/decodeHelmRelease.js
  core-ui/src/components/Predefined/Details/Secret/helm/HelmReleaseData.js
  core-ui/src/components/Predefined/Details/Secret/helm/tests/HelmReleaseData.test.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Move stuff around
  core-ui/src/components/HelmReleases/ChartContent.js
  core-ui/src/components/HelmReleases/HelmReleaseData.js
  core-ui/src/components/HelmReleases/HelmReleaseStatus.js
  core-ui/src/components/HelmReleases/ReleaseDataPanel.js
  core-ui/src/components/HelmReleases/tests/HelmReleaseData.test.js
  core-ui/src/components/HelmReleases/tests/ReleaseDataPanel.test.js
  core-ui/src/components/Predefined/Details/Secret/Secret.details.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Introduce edit cluster feature
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/components/Clusters/views/EditCluster/AuthenticationDropdown.js
  core-ui/src/components/Clusters/views/EditCluster/EditCluster.js
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
  core/src/i18n/en.yaml
  tests/cypress.json
  tests/tests/edit-cluster.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

use context name instead of cluster name
  core-ui/src/components/Clusters/views/ClusterList.js
  core/src/luigi-config/cluster-management/cluster-management.js
  core/src/luigi-config/communication.js
  core/src/luigi-config/kubeconfig-id/index.js
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

En corrections
  core-ui/src/components/Clusters/views/EditCluster/EditCluster.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix unit tests
  core-ui/src/components/HelmReleases/tests/HelmReleaseData.test.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

solve auth validation for multi-contexts
  core-ui/src/components/Clusters/shared.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

WIP
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/command-pallette/CommandPalletteUI/handlers/clusterResourceHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/helpers.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/namespacedResourceHandler.js
  core-ui/src/components/App/App.js
  core-ui/src/components/HelmReleases/HelmReleasesDetails.js
  core-ui/src/components/HelmReleases/HelmReleasesList.js
  core-ui/src/components/HelmReleases/decodeHelmRelease.js
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update translations
  core-ui/src/components/HelmReleases/ChartContent.js
  core-ui/src/components/HelmReleases/HelmReleaseData.js
  core-ui/src/components/HelmReleases/HelmReleaseStatus.js
  core-ui/src/components/HelmReleases/ReleaseDataPanel.js
  core-ui/src/components/HelmReleases/tests/HelmReleaseData.test.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update en.yaml
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Still WIP
  core-ui/src/command-pallette/CommandPalletteUI/handlers/crdHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/helmReleaseHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/index.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/namespacedResourceHandler.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Show Helm release on Secret details (#871)
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/HelmReleases/ChartContent.js
  core-ui/src/components/HelmReleases/HelmReleaseData.js
  core-ui/src/components/HelmReleases/HelmReleaseStatus.js
  core-ui/src/components/HelmReleases/ReleaseDataPanel.js
  core-ui/src/components/HelmReleases/decodeHelmRelease.js
  core-ui/src/components/HelmReleases/tests/HelmReleaseData.test.js
  core-ui/src/components/HelmReleases/tests/ReleaseDataPanel.test.js
  core-ui/src/components/Predefined/Details/Secret/Secret.details.js
  core-ui/src/shared/components/ReadonlyEditorPanel.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix command palette, add helmreleases
  core-ui/src/command-pallette/CommandPalletteUI/ResultsList/ResultsList.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/clusterResourceHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/crdHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/helmReleaseHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/logsHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/namespacedResourceHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/nodesHandler.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

code refactor
  core-ui/src/components/Clusters/views/ClusterList.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Introduce edit cluster option on the cluster list (#883)
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/components/Clusters/views/EditCluster/AuthenticationDropdown.js
  core-ui/src/components/Clusters/views/EditCluster/EditCluster.js
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  tests/cypress.json
  tests/tests/edit-cluster.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Progrss
  core-ui/src/components/HelmReleases/HelmReleaseData.js
  core-ui/src/components/HelmReleases/HelmReleasesDetails.js
  core-ui/src/components/HelmReleases/tests/HelmReleaseData.test.js
  core-ui/src/components/Predefined/Details/Secret/Secret.details.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

heh
  core-ui/src/components/HelmReleases/HelmReleasesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Finish
  core-ui/src/command-pallette/CommandPalletteUI/handlers/clusterResourceHandler.js
  core-ui/src/components/HelmReleases/Dupsko.js
  core-ui/src/components/HelmReleases/HelmReleaseData.js
  core-ui/src/components/HelmReleases/HelmReleaseDataPanel.scss
  core-ui/src/components/HelmReleases/HelmReleaseStatus.js
  core-ui/src/components/HelmReleases/HelmReleasesDetails.js
  core-ui/src/components/HelmReleases/HelmReleasesList.js
  core-ui/src/components/HelmReleases/ReleaseDataPanel.js
  core-ui/src/components/HelmReleases/tests/HelmReleaseData.test.js
  core-ui/src/components/Predefined/Details/Secret/Secret.details.js
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test
