Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, pre-master-busola-governance, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-governance, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build, pull-busola-checkconfig, pull-busola-pjconfigtest, pull-busola-pjtester, pull-busola-vpathguard

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20230804-a5b27764
      securityContext:
  ...

pre-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-busola-e2e-cluster-k3d:
  labels:
    preset-k3d-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
  decorate: true
  spec:
    tolerations:
    - key: dedicated
      operator: Equal
      value: high-cpu
      effect: NoSchedule
    nodeSelector:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

revert some previous changes
  backend/common.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build

fix acc workflow
  .github/workflows/accessibility-tests.yml
Due: pull-busola-e2e-cluster-k3d, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

remove hardcoded layout
  src/resources/CustomResourceDefinitions/CRCreate.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: CustomResources afterCreatefn (#3790)
  .github/workflows/accessibility-tests.yml
  src/resources/CustomResourceDefinitions/CRCreate.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: modules view double edit
  src/shared/components/DynamicPageComponent/DynamicPageComponent.js
  src/shared/hooks/usePrepareLayout.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: Bump compression, jose, pino-http, uuid, core-js
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

cleanup
  src/shared/hooks/usePrepareLayout.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: move layout handling
  src/shared/components/DynamicPageComponent/DynamicPageComponent.js
  src/state/useAfterInitHook.ts
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix companion css
  src/components/KymaCompanion/components/KymaCompanion.scss
  src/components/KymaCompanion/components/KymaCompanion.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Fix resizing
  src/command-pallette/CommandPalletteUI/CommandPaletteSearchBar.tsx
  src/command-pallette/CommandPalletteUI/CommandPaletteUI.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Tidy up
  src/command-pallette/CommandPalletteUI/CommandPaletteSearchBar.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: Add showEdit parameter (#3786)
  src/shared/ResourceForm/useCreateResource.js
  src/shared/components/DynamicPageComponent/DynamicPageComponent.js
  src/shared/components/GenericList/GenericList.js
  src/shared/components/ResourceCreate/ResourceCreate.js
  src/shared/components/ResourcesList/ResourcesList.js
  src/shared/hooks/usePrepareLayout.js
  src/state/columnLayoutAtom.ts
  src/state/useAfterInitHook.ts
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: Bump compression, jose, pino-http, uuid, core-js (#3791)
  backend/package-lock.json
  backend/package.json
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

Review fixes
  src/command-pallette/CommandPalletteUI/CommandPaletteSearchBar.tsx
  src/command-pallette/CommandPalletteUI/CommandPaletteUI.scss
  src/command-pallette/CommandPalletteUI/CommandPaletteUI.tsx
  src/header/Header.scss
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: Fix command palette (#3777)
  src/command-pallette/CommandPaletteProvider.tsx
  src/command-pallette/CommandPalletteUI/CommandPaletteSearchBar.scss
  src/command-pallette/CommandPalletteUI/CommandPaletteSearchBar.tsx
  src/command-pallette/CommandPalletteUI/CommandPaletteUI.scss
  src/command-pallette/CommandPalletteUI/CommandPaletteUI.tsx
  src/header/Header.scss
  src/index.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: handle error when final chunk is received
  src/components/KymaCompanion/api/getChatResponse.ts
  src/components/KymaCompanion/api/getFollowUpQuestions.ts
  src/components/KymaCompanion/components/Chat/Chat.tsx
  src/components/KymaCompanion/components/Chat/messages/ErrorMessage.tsx
  src/components/KymaCompanion/components/Chat/messages/Message.tsx
  src/components/KymaCompanion/components/KymaCompanion.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: adjust errorMessage ui
  src/components/KymaCompanion/components/Chat/messages/ErrorMessage.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: add function to retry previous prompt
  src/components/KymaCompanion/components/Chat/Chat.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: adding resource to the forms
  src/components/KymaCompanion/components/Chat/messages/CodePanel.tsx
  src/components/KymaCompanion/components/Chat/messages/Message.tsx
  src/components/KymaCompanion/utils/formatMarkdown.ts
  src/shared/ResourceForm/components/ResourceForm.js
  src/shared/components/DynamicPageComponent/DynamicPageComponent.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: Bump i18next, i18next-http-backend, react-i18next and typecript
  package-lock.json
  package.json
  src/components/Extensibility/helpers/getExtensibilityPath.ts
  src/shared/components/EmptyListComponent/EmptyListComponent.tsx
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

chore: Bump i18next, i18next-http-backend, react-i18next and typecript (#3789)
  package-lock.json
  package.json
  src/components/Extensibility/helpers/getExtensibilityPath.ts
  src/shared/components/EmptyListComponent/EmptyListComponent.tsx
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

remove handleError from followups, display error notices next to users messages
  src/components/KymaCompanion/api/getFollowUpQuestions.ts
  src/components/KymaCompanion/components/Chat/Chat.scss
  src/components/KymaCompanion/components/Chat/Chat.tsx
  src/components/KymaCompanion/components/Chat/messages/ErrorMessage.tsx
  src/components/KymaCompanion/components/Chat/messages/Message.scss
  src/components/KymaCompanion/components/Chat/messages/Message.tsx
  src/components/KymaCompanion/components/Chat/messages/TasksList.scss
  src/components/KymaCompanion/components/Chat/messages/TasksList.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

add ability to use several matchers
  src/components/KymaCompanion/components/Chat/Chat.tsx
  src/components/KymaCompanion/components/Chat/messages/Message.tsx
  src/components/KymaCompanion/components/Chat/messages/formatter/HeaderMatcher.tsx
  src/components/KymaCompanion/components/Chat/messages/formatter/TextFormatter.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

small refactor
  src/components/KymaCompanion/components/Chat/messages/Message.tsx
  src/components/KymaCompanion/components/Chat/messages/formatter/HeaderMatcher.tsx
  src/components/KymaCompanion/components/Chat/messages/formatter/TextFormatter.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

remove consolelogs
  src/components/KymaCompanion/components/Chat/messages/Message.tsx
  src/components/KymaCompanion/components/Chat/messages/formatter/TextFormatter.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

impove algorithm
  src/components/KymaCompanion/components/Chat/messages/Message.tsx
  src/components/KymaCompanion/components/Chat/messages/formatter/TextFormatter.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

wip
  src/components/KymaCompanion/components/Chat/messages/Message.tsx
  src/components/KymaCompanion/components/Chat/messages/formatter/HeaderMatcher.tsx
  src/components/KymaCompanion/components/Chat/messages/formatter/TextFormatter.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

parser works
  src/components/KymaCompanion/components/Chat/messages/Message.tsx
  src/components/KymaCompanion/components/Chat/messages/formatter/HeaderMatcher.tsx
  src/components/KymaCompanion/components/Chat/messages/formatter/TextFormatter.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: Css of modules overview card (#3784)
  src/components/KymaCompanion/components/KymaCompanion.scss
  src/components/KymaCompanion/components/KymaCompanion.tsx
  src/shared/components/ResourceDetails/ResourceDetails.scss
  src/shared/components/ResourceDetails/ResourceDetailsCard.js
  src/shared/components/ResourceStatusCard/ResourceStatusCard.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: Bump cronstrue
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

chore: Bump peculiar/x509 and fix paths for tests
  .github/workflows/pull-integration-cluster-k3d.yml
  .github/workflows/pull-integration-namespace-k3d.yml
  .github/workflows/pull-kyma-integration-tests.yml
  .github/workflows/pull-smoke-test-prod.yml
  .github/workflows/pull-smoke-test-stage.yml
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

fix path for acc tests
  .github/workflows/accessibility-tests.yml
Due: pull-busola-e2e-cluster-k3d, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

bump p-queue
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

bump types/jsonpath
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

bump http-status-codes
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

bump rfc6902
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

bump datasert/cronjs-parser
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

get credentials from secretManager instead of envs
  backend/companion/getKcpToken.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build

adjusted error messages
  backend/companion/getKcpToken.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build

PR corrections
  src/components/KymaModules/support.ts
  src/shared/hooks/useDeleteResource.js
  src/shared/hooks/useDeleteResource.scss
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pull-busola-e2e-cluster-k3d: unless all of: .*.md
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-integration-cluster-k3d: (any of: ^resources/|^tests/|^nginx/) or (any of: ^resources/|^tests/|^nginx/|^src/)
  pull-busola-integration-namespace-k3d: (any of: ^resources/|^tests/|^nginx/) or (any of: ^resources/|^tests/|^nginx/|^src/)
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-web-deployment-check: any of: ^public/|^src/|^scripts/|^shared/|^package.json
  pull-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-smoke-test-docker: any of: ^resources/|^tests/
  post-busola-smoke-test-docker: any of: /
  pre-busola-integration-test-k3s-cluster: any of: ^resources/|^tests/|^nginx/
  pre-busola-integration-test-k3s-namespace: any of: ^resources/|^tests/|^nginx/
  post-busola-integration-test-k3s-cluster: any of: /
  post-busola-integration-test-k3s-namespace: any of: /
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pull-busola-lighthouse: (any of: ^resources/|^lighthouse/|^nginx/) or (any of: ^resources/|^lighthouse/|^nginx/|^src/)
  pre-busola-ui-test: any of: /
  pull-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-backend-build: any of: ^backend/|^package.json
  post-busola-backend-build: any of: ^backend/|^package.json
  pull-busola-web-build: any of: ^public/|^src/|^package.json|^Makefile|^Dockerfile$
  post-busola-web-build: any of: ^public/|^src/|^package.json|^Makefile|^Dockerfile$
  pull-busola-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-busola-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-busola-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-busola-vpathguard: any of: ^(vpath/pjtester.yaml)
