Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, pre-master-busola-governance, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-governance, pull-busola-checkconfig, pull-busola-pjconfigtest, pull-busola-pjtester, pull-busola-vpathguard

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20230804-a5b27764
      securityContext:
  ...

pre-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-busola-e2e-cluster-k3d:
  labels:
    preset-k3d-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
  decorate: true
  spec:
    tolerations:
    - key: dedicated
      operator: Equal
      value: high-cpu
      effect: NoSchedule
    nodeSelector:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

adjust the rest of the internal links
  src/components/Clusters/views/ClusterList.js
  src/components/CustomResources/CustomResourcesOfType.js
  src/components/Extensibility/components-form/Modules/Modules.js
  src/components/Extensibility/components/ResourceLink.js
  src/components/Extensibility/components/ResourceRefs.js
  src/components/HelmReleases/HelmReleasesDetails.js
  src/components/HelmReleases/HelmReleasesList.js
  src/components/HelmReleases/OtherReleaseVersions.js
  src/components/HelmReleases/ReleaseDataPanel.js
  src/hooks/useMessageList.js
  src/resources/CronJobs/CronJobDetails.js
  src/resources/Events/EventDetails.js
  src/resources/Ingresses/DefaultBackendPanel.js
  src/resources/Ingresses/Rules.js
  src/resources/PersistentVolumeClaims/PersistentVolumeClaimDetails.js
  src/resources/PersistentVolumes/PersistentVolumeDetails.js
  src/resources/PersistentVolumes/PersistentVolumeList.js
  src/resources/Pods/PodDetails.js
  src/resources/Pods/PodList.js
  src/resources/RoleBindings/GenericRoleBindingList.js
  src/resources/RoleBindings/RoleRef.js
  src/resources/RoleBindings/SubjectLink.js
  src/shared/components/ControlledBy/ControlledBy.js
  src/shared/components/CountingCard/CountingCard.scss
  src/shared/components/CountingCard/CountingCard.tsx
  src/shared/components/ExternalLink/ExternalLink.tsx
  src/shared/components/PodTemplate/components.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

test??
  src/components/App/ExtensibilityRoutes.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

feat: show protected resources, show yaml instead of edit on events and when disable edit
  public/i18n/en.yaml
  src/components/BusolaExtensions/BusolaExtensionEdit.js
  src/components/Extensibility/ExtensibilityCreate.js
  src/components/HelmReleases/index.tsx
  src/resources/ClusterRoleBindings/ClusterRoleBindingCreate.js
  src/resources/ClusterRoles/ClusterRoleCreate.js
  src/resources/ConfigMaps/ConfigMapCreate.js
  src/resources/CronJobs/CronJobCreate.js
  src/resources/CustomResourceDefinitions/CRCreate.js
  src/resources/Deployments/DeploymentCreate.js
  src/resources/Events/EventCreate.js
  src/resources/Events/EventDetails.js
  src/resources/Events/index.tsx
  src/resources/Jobs/JobCreate.js
  src/resources/Namespaces/NamespaceCreate.js
  src/resources/ReplicaSets/ReplicaSetCreate.js
  src/resources/RoleBindings/RoleBindingCreate.js
  src/resources/Roles/RoleCreate.js
  src/resources/Secrets/SecretCreate.js
  src/resources/ServiceAccounts/ServiceAccountCreate.js
  src/resources/helpers.js
  src/shared/components/DynamicPageComponent/DynamicPageComponent.js
  src/shared/components/ResourceCreate/ResourceCreate.js
  src/shared/components/ResourceDetails/ResourceDetails.js
  src/shared/hooks/useProtectedResources.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

Fix helm releases on -all- namespaces
  src/components/HelmReleases/HelmReleasesDetails.js
  src/components/HelmReleases/HelmReleasesList.js
  src/resources/other/helmReleases.routes.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

adjust unit test
  src/shared/components/ControlledBy/test/ControlledBy.test.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

adjust cypress test
  src/components/CustomResources/CustomResourcesByGroup.js
  tests/integration/tests/cluster/test-cluster-role-bindings.spec.js
  tests/integration/tests/namespace/test-jobs.spec.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

adjust cypress test
  tests/integration/support/commands.js
  tests/integration/tests/namespace/test-jobs.spec.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Show yaml on helm releases, rename eventCreate to eventYaml
  src/components/HelmReleases/HelmReleasesDetails.js
  src/components/HelmReleases/HelmReleasesYaml.js
  src/resources/Events/EventDetails.js
  src/resources/Events/EventYaml.js
  src/resources/Events/index.tsx
  src/resources/other/helmReleases.routes.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

adjust comments
  src/components/Clusters/views/ClusterList.js
  src/shared/components/ControlledBy/ControlledBy.js
  src/shared/components/CountingCard/CountingCard.scss
  src/shared/components/CountingCard/CountingCard.tsx
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

Cleanup
  src/components/HelmReleases/HelmReleasesYaml.js
  src/resources/other/helmReleases.routes.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

review fix
  src/components/App/ExtensibilityRoutes.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

columns closing on refresh fix
  src/components/CustomResources/CustomResources.js
  src/components/CustomResources/CustomResourcesOfType.js
  src/resources/createResourceRoutes.js
  src/resources/other/CustomResourceDetails.routes.js
  src/resources/other/CustomResourceListOfType.routes.js
  src/resources/other/CustomResourcesByGroup.routes.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

cleanup
  src/resources/createResourceRoutes.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

fix: react-router links (#2805)
  src/components/BusolaExtensions/BusolaExtensionDetails.js
  src/components/BusolaExtensions/BusolaExtensionList.js
  src/components/Clusters/views/ClusterList.js
  src/components/Clusters/views/ClusterOverview/ClusterNodes.js
  src/components/CustomResources/CustomResourcesByGroup.js
  src/components/CustomResources/CustomResourcesOfType.js
  src/components/Extensibility/components-form/Modules/Modules.js
  src/components/Extensibility/components/APIRules/APIRuleHost.js
  src/components/Extensibility/components/ResourceLink.js
  src/components/Extensibility/components/ResourceRefs.js
  src/components/Extensibility/helpers/index.js
  src/components/HelmReleases/HelmReleasesDetails.js
  src/components/HelmReleases/HelmReleasesList.js
  src/components/HelmReleases/OtherReleaseVersions.js
  src/components/HelmReleases/ReleaseDataPanel.js
  src/hooks/useMessageList.js
  src/resources/CronJobs/CronJobDetails.js
  src/resources/Events/EventDetails.js
  src/resources/Ingresses/DefaultBackendPanel.js
  src/resources/Ingresses/Rules.js
  src/resources/PersistentVolumeClaims/PersistentVolumeClaimDetails.js
  src/resources/PersistentVolumes/PersistentVolumeDetails.js
  src/resources/PersistentVolumes/PersistentVolumeList.js
  src/resources/Pods/PodDetails.js
  src/resources/Pods/PodList.js
  src/resources/RoleBindings/GenericRoleBindingList.js
  src/resources/RoleBindings/RoleRef.js
  src/resources/RoleBindings/SubjectLink.js
  src/shared/components/ControlledBy/ControlledBy.js
  src/shared/components/ControlledBy/test/ControlledBy.test.js
  src/shared/components/CountingCard/CountingCard.tsx
  src/shared/components/Description/Description.js
  src/shared/components/EmptyListComponent/EmptyListComponent.tsx
  src/shared/components/ExternalLink/CopiableLink.js
  src/shared/components/ExternalLink/ExternalLink.tsx
  src/shared/components/Link/Link.tsx
  src/shared/components/PodTemplate/components.js
  tests/integration/support/commands.js
  tests/integration/tests/cluster/test-cluster-role-bindings.spec.js
  tests/integration/tests/namespace/test-jobs.spec.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix columns disappearing on refresh
  src/resources/other/CustomResourcesByGroup.routes.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

customcoderenderer, dynamic compoennt and custom component
  CustomComponent.js
  package-lock.json
  package.json
  src/components/Extensibility/components/CustomCode/CustomCodeRenderer.js
  src/components/Extensibility/components/CustomCode/DynamicGitHubComponent.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

transform to commonJS
  CustomComponent.js
Due: pull-busola-e2e-cluster-k3d

test fix?
  tests/integration/support/paste-to-monaco.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

replaced search combobox by input and cleaned up code
  src/components/Clusters/views/ClusterOverview/ClusterNodes.js
  src/components/CustomResources/CustomResources.js
  src/components/CustomResources/GroupingListPage.js
  src/components/Extensibility/components/Table.js
  src/components/HelmReleases/HelmReleasesList.js
  src/resources/Pods/ContainersLogs.js
  src/resources/Pods/ContainersLogs.scss
  src/resources/createResourceRoutes.js
  src/shared/components/GenericList/GenericList.js
  src/shared/components/GenericList/GenericList.scss
  src/shared/components/GenericList/SearchInput.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

Show yamlOnly resource properly, Show protected resource properly
  src/resources/CustomResourceDefinitions/CustomResourceDefinitionCreate.js
  src/resources/DaemonSets/DaemonSetCreate.js
  src/resources/Ingresses/IngressCreate.js
  src/resources/LimitRanges/LimitRangeCreate.js
  src/resources/NetworkPolicies/NetworkPolicyCreate.js
  src/resources/PersistentVolumeClaims/PersistentVolumeClaimCreate.js
  src/resources/PersistentVolumes/PersistentVolumeCreate.js
  src/resources/Pods/PodCreate.js
  src/resources/ResourceQuotas/ResourceQuotaCreate.js
  src/resources/StatefulSets/StatefulSetCreate.js
  src/resources/StorageClasses/StorageClassCreate.js
  src/shared/ResourceForm/components/ResourceForm.js
  src/shared/components/ResourceCreate/ResourceCreate.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

maybe test fix pt 2
  tests/integration/support/paste-to-monaco.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fixed tests
  tests/integration/support/commands.js
  tests/integration/support/inspect-list.js
  tests/integration/tests/cluster/test-custom-resources.spec.js
  tests/integration/tests/cluster/test-navigation-features.spec.js
  tests/integration/tests/namespace/test-custom-resources.spec.js
  tests/integration/tests/namespace/test-reduced-permissions--configuration.spec.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fixed job-test
  tests/integration/tests/namespace/test-jobs.spec.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

test fix again
  tests/integration/support/paste-to-monaco.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

removed breadcrumbs
  src/components/BusolaExtensions/BusolaExtensionDetails.js
  src/components/CustomResources/CustomResourcesOfType.js
  src/components/Extensibility/ExtensibilityDetails.js
  src/components/HelmReleases/HelmReleasesDetails.js
  src/components/Nodes/NodeDetailsHeader.js
  src/resources/CustomResourceDefinitions/CustomResources.details.js
  src/resources/Namespaces/AllNamespacesDetails.js
  src/resources/Pods/ContainersLogs.js
  src/shared/components/DynamicPageComponent/DynamicPageComponent.js
  src/shared/components/DynamicPageComponent/test/DynamicPageComponent.js
  src/shared/components/ResourceDetails/ResourceDetails.js
  src/shared/components/ResourceNotFound/ResourceNotFound.js
  src/shared/components/ResourceNotFound/test/ResourceNotFound.test.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

add eveything what I have with babel
  babel.config.json
  package-lock.json
  package.json
  public/extensions/extensions.yaml
  src/components/Extensibility/components/CustomCode/CustomCodeRenderer.js
  src/components/Extensibility/components/CustomCode/DynamicGitHubComponent.js
  src/components/Extensibility/components/index.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

fixed cluster tests
  tests/integration/tests/cluster/test-command-palette.spec.js
  tests/integration/tests/cluster/test-navigation-features.spec.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

something is working
  public/defaultConfig.yaml
  src/components/Preferences/EditViewSettings.tsx
  src/components/Preferences/Preferences.tsx
  src/shared/ResourceForm/components/ModeSelector.js
  src/shared/ResourceForm/components/ResourceForm.js
  src/shared/components/ResourceDetails/ResourceDetails.js
  src/state/preferences/editViewAtom.ts
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

fix: namespace tests
  tests/integration/support/commands.js
  tests/integration/tests/namespace/test-reduced-permissions.spec.js
  tests/integration/tests/namespace/z-run-after.spec.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

removed breadcrumbs (#2810)
  src/components/BusolaExtensions/BusolaExtensionDetails.js
  src/components/CustomResources/CustomResourcesOfType.js
  src/components/Extensibility/ExtensibilityDetails.js
  src/components/HelmReleases/HelmReleasesDetails.js
  src/components/Nodes/NodeDetailsHeader.js
  src/resources/CustomResourceDefinitions/CustomResources.details.js
  src/resources/Namespaces/AllNamespacesDetails.js
  src/resources/Pods/ContainersLogs.js
  src/shared/components/DynamicPageComponent/DynamicPageComponent.js
  src/shared/components/DynamicPageComponent/test/DynamicPageComponent.js
  src/shared/components/ResourceDetails/ResourceDetails.js
  src/shared/components/ResourceNotFound/ResourceNotFound.js
  src/shared/components/ResourceNotFound/test/ResourceNotFound.test.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

CR refresh fix
  src/components/CustomResources/CustomResources.js
  src/resources/CustomResourceDefinitions/useCustomResourceUrl.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

Set column-content to height 100%
  src/components/App/ExtensibilityRoutes.js
  src/resources/createResourceRoutes.js
  src/resources/other/BusolaExtensions.routes.js
  src/resources/other/CustomResourcesByGroup.routes.js
  src/resources/other/helmReleases.routes.js
  src/styles/index.scss
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

Replace card with css shadow, fix layout for kubeconfig wizard
  src/components/Clusters/components/KubeconfigUpload/KubeconfigUpload.scss
  src/shared/ResourceForm/components/ResourceForm.js
  src/shared/ResourceForm/components/ResourceForm.scss
  src/styles/index.scss
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

change modes names
  src/components/Preferences/EditViewSettings.tsx
  src/shared/ResourceForm/components/ModeSelector.js
  src/shared/ResourceForm/components/ResourceForm.js
  src/shared/components/ResourceDetails/ResourceDetails.js
  src/state/preferences/editViewAtom.ts
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

fix: view is jumping with column layout on some views (#2803)
  src/components/App/ExtensibilityRoutes.js
  src/components/CustomResources/CustomResources.js
  src/components/CustomResources/CustomResourcesOfType.js
  src/resources/CustomResourceDefinitions/CustomResources.details.js
  src/resources/CustomResourceDefinitions/useCustomResourceUrl.js
  src/resources/createResourceRoutes.js
  src/resources/other/CustomResourceDetails.routes.js
  src/resources/other/CustomResourceListOfType.routes.js
  src/resources/other/CustomResourcesByGroup.routes.js
  src/shared/components/GenericList/GenericList.js
  tests/integration/support/commands.js
  tests/integration/support/paste-to-monaco.js
  tests/integration/tests/cluster/test-custom-resources.spec.js
  tests/integration/tests/extensibility/ext-test-services.spec.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix: tabs position in details view
  src/components/Extensibility/ExtensibilityDetails.js
  src/components/Extensibility/components/Tabs.js
  src/components/Extensibility/components/Widget.js
  src/shared/components/ResourceDetails/ResourceDetails.js
  src/shared/components/ResourceDetails/ResourceDetails.scss
  src/shared/components/ResourceDetails/ResourceDetailsCard.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

Layout for inpage edit form
  src/shared/ResourceForm/components/ResourceForm.js
  src/shared/ResourceForm/components/ResourceForm.scss
  src/shared/components/DynamicPageComponent/DynamicPageComponent.scss
  src/shared/components/ResourceCreate/ResourceCreate.js
  src/shared/components/ResourceCreate/ResourceCreate.scss
  src/shared/hooks/useProtectedResources.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

Margin change
  src/shared/ResourceForm/components/ResourceForm.scss
  src/shared/components/ResourceCreate/ResourceCreate.js
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pull-busola-e2e-cluster-k3d: unless all of: .*.md
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-integration-cluster-k3d: any of: ^resources/|^tests/|^nginx/
  pull-busola-integration-namespace-k3d: any of: ^resources/|^tests/|^nginx/
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-web-deployment-check: any of: ^public/|^src/|^scripts/|^shared/|^package.json
  pull-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-smoke-test-docker: any of: ^resources/|^tests/
  post-busola-smoke-test-docker: any of: /
  pre-busola-integration-test-k3s-cluster: any of: ^resources/|^tests/|^nginx/
  pre-busola-integration-test-k3s-namespace: any of: ^resources/|^tests/|^nginx/
  post-busola-integration-test-k3s-cluster: any of: /
  post-busola-integration-test-k3s-namespace: any of: /
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pull-busola-lighthouse: any of: ^resources/|^lighthouse/|^nginx/
  pre-busola-ui-test: any of: /
  pull-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-busola-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-busola-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-busola-vpathguard: any of: ^(vpath/pjtester.yaml)
