Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, pre-master-busola-governance, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-governance, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build, pull-busola-checkconfig, pull-busola-pjconfigtest, pull-busola-pjtester, pull-busola-vpathguard

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pull-busola-e2e-cluster-k3d: unless all of: .*.md
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-integration-cluster-k3d: (any of: ^resources/|^tests/|^nginx/) or (any of: ^resources/|^tests/|^nginx/|^src/)
  pull-busola-integration-namespace-k3d: (any of: ^resources/|^tests/|^nginx/) or (any of: ^resources/|^tests/|^nginx/|^src/)
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-web-deployment-check: any of: ^public/|^src/|^scripts/|^shared/|^package.json
  pull-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-smoke-test-docker: any of: ^resources/|^tests/
  post-busola-smoke-test-docker: any of: /
  pre-busola-integration-test-k3s-cluster: any of: ^resources/|^tests/|^nginx/
  pre-busola-integration-test-k3s-namespace: any of: ^resources/|^tests/|^nginx/
  post-busola-integration-test-k3s-cluster: any of: /
  post-busola-integration-test-k3s-namespace: any of: /
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pull-busola-lighthouse: (any of: ^resources/|^lighthouse/|^nginx/) or (any of: ^resources/|^lighthouse/|^nginx/|^src/)
  pre-busola-ui-test: any of: /
  pull-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-backend-build: any of: ^backend/|^package.json
  post-busola-backend-build: any of: ^backend/|^package.json
  pull-busola-web-build: any of: ^public/|^src/|^package.json|^Makefile|^Dockerfile$
  post-busola-web-build: any of: ^public/|^src/|^package.json|^Makefile|^Dockerfile$
  pull-busola-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-busola-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-busola-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-busola-vpathguard: any of: ^(vpath/pjtester.yaml)

review adjustments
  backend/kubernetes/handler.js
  backend/kubernetes/handler.test.js
  backend/proxy.js
  backend/utils/network-utils.js
  backend/utils/network-utils.test.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build

fix: Hide empty groups of hidden extensibility Columns widgets
  src/components/Extensibility/components/Columns.scss
  src/components/Extensibility/components/Columns.tsx
  src/components/Extensibility/components/Widget.tsx
  src/components/Extensibility/components/tests/Columns.cy.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: Keep panel corners rounded with sticky headers
  src/shared/components/GenericList/GenericList.scss
  src/shared/components/GenericList/GenericList.tsx
  src/shared/components/UI5Panel/UI5Panel.scss
  src/shared/components/UI5Panel/UI5Panel.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

refactor: Fix spacing and layout of detail-view display forms
  src/AGENTS.md
  src/components/Clusters/views/ClusterOverview/ClusterDetails.tsx
  src/components/Clusters/views/ClusterOverview/ClusterInfoFields.tsx
  src/components/Clusters/views/ClusterOverview/ClusterOverview.scss
  src/shared/ResourceForm/components/FormField.scss
  src/shared/ResourceForm/components/FormField.tsx
  src/shared/components/HintButton/HintButton.scss
  src/shared/components/HintButton/HintButton.tsx
  src/shared/components/ResourceDetails/ResourceComponent.tsx
  src/shared/components/ResourceDetails/ResourceCustomStatusColumns.tsx
  src/shared/components/ResourceDetails/ResourceDetailsCard.scss
  src/shared/components/ResourceDetails/ResourceDetailsCard.tsx
  src/shared/components/ResourceDetails/ResourceDetailsCardContent.tsx
  src/shared/components/ResourceDetails/ResourceDetailsForm.tsx
  src/shared/components/ResourceStatusCard/ResourceStatusCard.scss
Due: pull-busola-e2e-cluster-k3d, pre-master-busola-governance, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-governance, pull-busola-web-build, post-busola-web-build

fix ordering
  src/shared/components/ResourceDetails/ResourceDetailsCard.scss
  src/shared/components/ResourceDetails/ResourceDetailsForm.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Move navigationBar to breadcrumbs slot
  src/shared/components/DynamicPageComponent/DynamicPageComponent.scss
  src/shared/components/DynamicPageComponent/DynamicPageComponent.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Adjust the style of breadcrumbs slot. No border and no padding
  src/shared/components/DynamicPageComponent/DynamicPageComponent.scss
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Corrected version of node.js in readme files
  backend/README.md
  kyma/README.md
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-master-busola-governance, post-busola-web-and-backend, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-governance, pull-busola-backend-build, post-busola-backend-build

fix: Markdown not rendering code blocks properly (#5391)
  src/components/Extensibility/components/Markdown.scss
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: Confirmation dialog for deleting high-risk resources
  public/defaultConfig.yaml
  src/shared/components/ResourceDetails/ResourceActions.tsx
  src/shared/components/ResourceDetails/ResourceComponent.tsx
  src/shared/components/ResourcesList/ResourceListRenderer.tsx
  src/shared/hooks/tests/useForceConfirmDelete.test.ts
  src/shared/hooks/useForceConfirmDelete.ts
  src/state/types.ts
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

refactor: Unify Javascript module ecosystem in backend (#5392)
  Dockerfile
  Dockerfile.fips
  backend/.gitignore
  backend/Dockerfile
  backend/README.md
  backend/babel.config.json
  backend/companion/TokenManager.js
  backend/companion/companionRouter.js
  backend/companion/getKcpToken.js
  backend/docker-desktop-substitution.js
  backend/index.js
  backend/jwtCheck.js
  backend/kubernetes/handler.js
  backend/logging/index.js
  backend/logging/slowRequestLogger.js
  backend/package-lock.json
  backend/package.json
  backend/proxy.js
  backend/src/config/config.js
  backend/src/terminal/connection.js
  backend/src/terminal/connection.reconnect.test.js
  backend/src/terminal/connection.test.js
  backend/src/terminal/handler.js
  backend/src/terminal/protocolHeaderParser.js
  backend/src/terminal/protocolHeaderParser.test.js
  backend/statics.js
  backend/utils/active-env.js
  backend/utils/network-utils.test.js
  backend/webpack.config.js
  eslint.config.ts
  kyma/README.md
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pull-busola-e2e-cluster-k3d, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-governance, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

apply suggestion
  public/i18n/en.yaml
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: Recover gracefully from a stopped login after session expiry (#5357)
  public/i18n/en.yaml
  src/components/App/ClusterRoutes.jsx
  src/components/App/resourceSchemas/useResourceSchemas.loopGuard.test.ts
  src/components/App/resourceSchemas/useResourceSchemas.ts
  src/state/authDataAtom.ts
  src/state/clusterAtom.ts
  src/state/ssoDataAtom.tsx
  src/state/test/authHandlerReauthLoop.test.ts
  src/state/test/ssoLoginFlow.test.ts
  src/state/test/useReauthenticate.test.ts
  src/state/useReauthenticate.ts
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build
