Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

redesign the columns component
  core-ui/src/components/Extensibility/components/Columns.js
  core-ui/src/components/Extensibility/components/Columns.scss
  docs/extensibility/display-widgets.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Fix upload yaml editor
  core-ui/src/shared/components/MonacoEditorESM/hooks/useOnBlur.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useOnFocus.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

strengthen a css rule
  core-ui/src/components/Extensibility/components/Table.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

EXT: custom lang for CodeViewer (#1533)
  core-ui/src/components/Extensibility/components/CodeViewer.js
  core/src/i18n/en.yaml
  docs/extensibility/display-widgets.md
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

strengthen a css rule even more
  core-ui/src/components/Extensibility/components/Table.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

dont overwrite content from parent if error
  core-ui/src/resources/Namespaces/YamlUpload/YamlUpload.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useUpdateValueOnParentChange.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

expandable table (#1543)
  core-ui/src/components/Extensibility/components/Columns.js
  core-ui/src/components/Extensibility/components/Columns.scss
  core-ui/src/components/Extensibility/components/Table.js
  core-ui/src/components/Extensibility/components/Table.scss
  core-ui/src/shared/components/GenericList/GenericList.scss
  docs/extensibility/display-widgets.md
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Fix tests
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  tests/tests/namespace/test-daemon-sets.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

test
  core-ui/src/components/Extensibility/components/Widget.js
  core-ui/src/shared/components/LayoutPanelRow/LayoutPanelRow.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fixed legend graphs in pods details
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterNodes/ResourceCommitment/CommitmentGraph.js
  core-ui/src/shared/components/GraphLegend/GraphLegend.js
  core-ui/src/shared/components/GraphLegend/GraphLegend.scss
  core-ui/src/shared/components/StatsGraph/StatsPanel.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Added graphlegend component to the dual and single graphs separately
  core-ui/src/shared/components/StatsGraph/StatsPanel.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

+- logging
  backend/index.js
  backend/tracking.js
  core-ui/src/components/App/App.js
  core-ui/src/hooks/useTracking.js
  docs/features.md
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Add id & timestamp
  backend/tracking.js
  core-ui/src/components/App/App.js
  core-ui/src/hooks/useTracking.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Use better log format
  core-ui/src/hooks/useTracking.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix monaco, use new config map views (#1534)
  core-ui/src/components/Clusters/components/KubeconfigUpload/KubeconfigUpload.js
  core-ui/src/components/Extensibility/components-form/MonacoRenderer.js
  core-ui/src/resources/ConfigMaps/ConfigMapCreate.js
  core-ui/src/resources/Namespaces/YamlUpload/YamlUpload.js
  core-ui/src/shared/ResourceForm/fields/Editor.js
  core-ui/src/shared/ResourceForm/fields/RichEditorDataField/RichEditorDataField.js
  core-ui/src/shared/ResourceForm/fields/RichEditorDataField/RichEditorSection.js
  core-ui/src/shared/ResourceForm/fields/RichEditorDataField/RichEditorSection.scss
  core-ui/src/shared/ResourceForm/fields/index.js
  core-ui/src/shared/components/Dropdown/Dropdown.scss
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/autocompletion/getSchemaLink.js
  core-ui/src/shared/components/MonacoEditorESM/autocompletion/monaco-autocomplete.worker.js
  core-ui/src/shared/components/MonacoEditorESM/autocompletion/useAutocompleteWorker.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useCreateEditor.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useDisplayWarnings.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useOnBlur.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useOnChange.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useOnFocus.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useOnMount.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useUpdateValueOnParentChange.js
  core-ui/src/styles/index.scss
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  tests/tests/namespace/test-config-maps.spec.js
  tests/tests/namespace/test-daemon-sets.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Prepend X-Log
  backend/tracking.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, post-busola-web-and-backend, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

testing
  core-ui/src/shared/components/GraphLegend/GraphLegend.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Added second useeffect to handle theme changes
  core-ui/src/shared/components/GraphLegend/GraphLegend.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

changed bar color
  core-ui/src/shared/components/StatsGraph/StatsPanel.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

cleaning
  core-ui/src/shared/components/GraphLegend/GraphLegend.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

simplified colors
  core-ui/src/shared/components/GraphLegend/GraphLegend.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fixed Graph tooltip and added a Legend (#1535)
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterNodes/ResourceCommitment/CommitmentGraph.js
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterNodes/ResourceCommitment/GraphLegend/GraphLegend.js
  core-ui/src/shared/components/GraphLegend/GraphLegend.js
  core-ui/src/shared/components/GraphLegend/GraphLegend.scss
  core-ui/src/shared/components/StatsGraph/StatsPanel.js
  core-ui/src/shared/components/StatsGraph/StatsPanel.scss
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix Sentry issue 3405173281 - Cannot read properties of undefined (reading 'ready')
  core-ui/src/shared/components/BTPResourceStatus.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix Sentry issue 3372178676 - Cannot read properties of undefined (reading 'nodes')
  core/src/luigi-config/utils/configChanged.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add fist draft test
  core-ui/src/components/Extensibility/ExtensibilityList.js
  core-ui/src/components/Extensibility/ExtensibilityList.spec.js
  core-ui/src/components/Extensibility/ExtensibilityListCore.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add custom placeholders, fix not visible booleans
  core-ui/src/components/Extensibility/ExtensibilityDetails.js
  core-ui/src/components/Extensibility/ExtensibilityList.js
  core-ui/src/components/Extensibility/components/Badge.js
  core-ui/src/components/Extensibility/components/ControlledBy.js
  core-ui/src/components/Extensibility/components/JoinedArray.js
  core-ui/src/components/Extensibility/components/Text.js
  core-ui/src/components/Extensibility/components/Widget.js
  core-ui/src/components/Extensibility/helpers.js
  core-ui/src/shared/components/LayoutPanelRow/LayoutPanelRow.js
  core-ui/src/shared/utils/helpers.js
  docs/extensibility/display-widgets.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

remove unusued prop
  core-ui/src/components/Extensibility/ExtensibilityDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add fist draft test pt2
  core-ui/src/components/Extensibility/ExtensibilityList.js
  core-ui/src/components/Extensibility/ExtensibilityList.spec.js
  core-ui/src/components/Extensibility/ExtensibilityListCore.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix Sentry issue 3404737519 - Cannot read properties of undefined (reading 'get')
  core-ui/src/components/Extensibility/components-form/SimpleList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Revert changes to list file
  core-ui/src/components/Extensibility/ExtensibilityList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Image bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

To be reverted anyway
  core/src/i18n/en.yaml
  core/src/luigi-config/feature-checks.js
  core/src/luigi-config/navigation/static-navigation-model.js
  core/src/luigi-config/utils/extractGroupVersions.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Time for debug build
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterOverview.js
  core-ui/src/hooks/useSentry.js
  core-ui/src/hooks/useVersionWarning.js
  core-ui/src/shared/components/ResourceDetails/ResourceDetails.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump
  Dockerfile
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Lint fix
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

move kubeconfigID logic to core-ui
  core-ui/src/components/App/App.js
  core-ui/src/components/App/useLoginWithKubeconfigID.js
  core-ui/src/components/Clusters/components/AddClusterWizard.js
  core-ui/src/components/Clusters/components/addByContext.js
  core/src/assets/ kubeconfig/multi.yaml
  core/src/assets/cos.yaml
  core/src/assets/defaultConfig.json
  core/src/assets/multi.yaml
  core/src/luigi-config/kubeconfig-id/index.js
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

improve page refresh
  core-ui/src/components/App/useLoginWithKubeconfigID.js
  core/src/luigi-config/communication.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

restore previous settings
  core-ui/src/components/App/App.js
  core/src/assets/ kubeconfig/multi.yaml
  core/src/assets/cos.yaml
  core/src/assets/defaultConfig.json
  core/src/assets/multi.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Break gateways
  core-ui/src/hooks/useVersionWarning.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Remove debugs
  Dockerfile
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterOverview.js
  core-ui/src/hooks/useSentry.js
  core-ui/src/hooks/useVersionWarning.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
