Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

Test
  tests/tests/test-dashboard-version.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Display categories on the list view, details view and crds with relat… (#760)
  core-ui/src/components/Predefined/Create/CustomResourceDefinitions/templates.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitions.details.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/RelatedCRDsList.js
  core-ui/src/components/Predefined/List/CustomResourceDefinitions.list.js
  core-ui/src/shared/components/Tokens.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  shared/components/Labels/Labels.scss
  shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

min viable version
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Predefined/Create/Jobs/Jobs.create.js
  core-ui/src/shared/ResourceForm/fields/Editor.js
  core-ui/src/shared/ResourceForm/fields/useEditorHelper.js
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Test
  core/src/luigi-config/nav-footer.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

wip
  core-ui/src/shared/ResourceForm/fields/Editor.js
  core-ui/src/shared/ResourceForm/fields/monaco-yaml-worker.js
  core-ui/src/shared/ResourceForm/fields/useEditorHelper.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

woah
  core-ui/src/components/App/CompassContext.js
  core-ui/src/components/App/CompassUI.js
  core-ui/src/components/App/components.js
  core-ui/src/components/App/handlers/clusterwideResourceHandler.js
  core-ui/src/components/App/handlers/helpers.js
  core-ui/src/components/App/handlers/index.js
  core-ui/src/components/App/handlers/namespacedResourceHandler.js
  core-ui/src/components/App/handlers/nodesHandler.js
  core-ui/src/components/App/handlers/nonResourceHandler.js
  core-ui/src/components/App/handlers/resourceHandlers.js
  core-ui/src/components/App/search.js
  core-ui/src/components/App/todo.js
  core-ui/src/components/Predefined/List/RoleBindings.list.js
  core-ui/src/hooks/useCustomMessageListener.js
  core-ui/src/hooks/useEventListener.js
  core/src/luigi-config/navigation/navigation-data-init.js
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/SearchInput.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Revert
  tests/cypress.json
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Enable all tests
  tests/cypress.json
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Move stuff around
  core-ui/src/components/App/App.js
  core-ui/src/components/App/search.js
  core-ui/src/contexts/Compass/CompassContext.js
  core-ui/src/contexts/Compass/CompassUI/CompassUI.js
  core-ui/src/contexts/Compass/CompassUI/CompassUI.scss
  core-ui/src/contexts/Compass/CompassUI/components.js
  core-ui/src/contexts/Compass/CompassUI/handlers/clusterwideResourceHandler.js
  core-ui/src/contexts/Compass/CompassUI/handlers/helpers.js
  core-ui/src/contexts/Compass/CompassUI/handlers/index.js
  core-ui/src/contexts/Compass/CompassUI/handlers/namespacedResourceHandler.js
  core-ui/src/contexts/Compass/CompassUI/handlers/nodesHandler.js
  core-ui/src/contexts/Compass/CompassUI/handlers/nonResourceHandler.js
  core-ui/src/index.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add regex patterns to check eventtype and eventname
  core-ui/src/components/Predefined/Create/EventSubscriptions/EventSubscriptions.create.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add translations
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

minireview
  core-ui/src/contexts/Compass/CompassUI/handlers/clusterwideResourceHandler.js
  core-ui/src/contexts/Compass/CompassUI/handlers/helpers.js
  core-ui/src/contexts/Compass/CompassUI/handlers/namespacedResourceHandler.js
  core-ui/src/contexts/Compass/CompassUI/handlers/nodesHandler.js
  core-ui/src/contexts/Compass/CompassUI/handlers/nonResourceHandler.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix
  core-ui/src/components/Predefined/List/CustomResourceDefinitions.list.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Repair yaml
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Adjust both lists
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitions.details.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bring event-type-simple back
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Repair YAML
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Review changes
  shared/contexts/YamlEditorContext/EditorActions.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix CRD search (#770)
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitions.details.js
  core-ui/src/components/Predefined/List/CustomResourceDefinitions.list.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Modify template, add messages for the sink and eventtype
  core-ui/src/components/Predefined/Create/EventSubscriptions/EventSubscriptions.create.js
  core-ui/src/components/Predefined/Create/EventSubscriptions/templates.js
  core-ui/src/shared/ResourceForm/components/FormField.js
  core-ui/src/shared/ResourceForm/fields/TextArrayInput.scss
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

building complex objects
  core-ui/src/shared/components/SchemaViewer/Constraints.js
  core-ui/src/shared/components/SchemaViewer/ObjectField.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

actually working form
  core-ui/src/shared/components/SchemaViewer/Constraints.js
  core-ui/src/shared/components/SchemaViewer/ObjectField.js
  core-ui/src/shared/components/SchemaViewer/SchemaViewer.scss
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

mostly styling
  core-ui/src/shared/components/SchemaViewer/ObjectField.js
  core-ui/src/shared/components/SchemaViewer/SchemaViewer.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix
  core/src/luigi-config/nav-footer.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Apply suggestions from code review
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Remove leftovers
  tests/support/index.js
  tests/tests/test-dashboard-version.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix async problem
  core-ui/src/contexts/Compass/CompassUI/CompassUI.js
  core-ui/src/contexts/Compass/CompassUI/handlers/clusterwideResourceHandler.js
  core-ui/src/contexts/Compass/CompassUI/handlers/index.js
  core-ui/src/contexts/Compass/CompassUI/handlers/namespacedResourceHandler.js
  core-ui/src/contexts/Compass/CompassUI/handlers/nodesHandler.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Hide read only lines from editor (#765)
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  shared/contexts/YamlEditorContext/EditorActions.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

save
  core-ui/config-overrides.js
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Predefined/Create/Jobs/Jobs.create.js
  core-ui/src/components/Predefined/Create/Secrets/helpers.js
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
  core-ui/src/shared/ResourceForm/fields/Editor.js
  core-ui/src/shared/ResourceForm/fields/monaco-yaml-worker.js
  core-ui/src/shared/ResourceForm/fields/useEditorHelper.js
  core-ui/src/shared/components/ResourceRef/ExternalResourceRef.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

event type validation
  core-ui/src/components/Predefined/Create/EventSubscriptions/EventSubscriptions.create.js
  core-ui/src/shared/ResourceForm/fields/TextArrayInput.js
  core-ui/src/shared/ResourceForm/inputs/Text.js
  core-ui/src/shared/ResourceForm/inputs/Text.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Chanhed placeholders and tooltips
  core-ui/src/components/Predefined/Create/EventSubscriptions/EventSubscriptions.create.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Changed placeholders in tests
  tests/tests/in-cluster-eventing.spec.js
  tests/tests/run-after.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

cleaning, changing names and improve regex
  core-ui/src/components/Predefined/Create/EventSubscriptions/EventSubscriptions.create.js
  core-ui/src/shared/ResourceForm/components/FormField.js
  core-ui/src/shared/ResourceForm/fields/TextArrayInput.js
  core-ui/src/shared/ResourceForm/fields/TextArrayInput.scss
  core-ui/src/shared/ResourceForm/inputs/Text.js
  core-ui/src/shared/ResourceForm/inputs/Text.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Rename event-subscription to subscription
  core-ui/src/components/Predefined/Create/EventSubscriptions/EventSubscriptions.create.js
  core-ui/src/components/Predefined/Details/EventSubscriptions/EventSubscriptionConditions.js
  core-ui/src/components/Predefined/Details/EventSubscriptions/EventSubscriptions.details.js
  core-ui/src/components/Predefined/List/EventSubscription/EventSubscriptions.list.js
  core-ui/src/shared/components/EventSubscriptionConditionStatus.js
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

change regex and naming convention
  core-ui/src/components/Predefined/Create/EventSubscriptions/EventSubscriptions.create.js
  core-ui/src/components/Predefined/Details/EventSubscriptions/EventSubscriptions.details.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Rename Event Subsciption in tests
  tests/tests/in-cluster-eventing.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
