Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$

Repair
  tests/tests/namespace/test-daemon-sets.spec.js
  tests/tests/namespace/test-roles.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Final repair
  tests/tests/namespace/test-daemon-sets.spec.js
  tests/tests/namespace/test-roles.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Update repository owners
  CODEOWNERS
  OWNERS_ALIASES
Due: none

Update repository owners (#1120)
  CODEOWNERS
  OWNERS_ALIASES
Due: none

Update repository owners
  OWNERS
  OWNERS_ALIASES
  core/src/i18n/OWNERS
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Remove empty line
  OWNERS_ALIASES
Due: none

Fix owners aliases
  OWNERS_ALIASES
  core/src/i18n/OWNERS
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Added inspecting with deleting to cluster tests
  tests/cypress.json
  tests/tests/cluster/test-persistent-volumes.spec.js
  tests/tests/cluster/test-storage-classes.spec.js
  tests/tests/namespace/test-persistent-volume-claims.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Upgrade of web deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

add prometheus graphs to namespace overview
  core-ui/src/components/Predefined/Details/Namespace/Namespace.details.js
  core-ui/src/shared/components/StatsGraph/StatsPanel.js
  core-ui/src/shared/hooks/usePrometheus.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove waait
  core-ui/src/service-catalog-ui/setupTests.js
  package-lock.json
  package.json
  shared/components/KeyValueForm/test/KeyValueForm.test.js
  shared/hooks/BackendAPI/tests/useGet.test.js
Due: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump backend deployment
  resources/backend/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Update repository owners (#1121)
  OWNERS
  OWNERS_ALIASES
  core/src/i18n/OWNERS
  resources/web/deployment.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix useGet test (#1105)
  core-ui/src/service-catalog-ui/setupTests.js
  core-ui/src/shared-repo/components/KeyValueForm/test/KeyValueForm.test.js
  core-ui/src/shared-repo/hooks/BackendAPI/tests/useGet.test.js
  core-ui/src/shared-repo/hooks/BackendAPI/useGet.js
  package-lock.json
  package.json
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

cache a bit more aggressively
  core-ui/src/components/Predefined/Create/Roles/useResourcesForApiGroups.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Added deleting SC
  tests/tests/cluster/test-storage-classes.spec.js
  tests/tests/namespace/test-persistent-volume-claims.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Changed it
  tests/tests/cluster/test-storage-classes.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

bump image version
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

checkout perf
  lighthouse/lighthouse.spec.js
Due: post-busola-integration-test-k3s, pre-busola-ui-test

raise namespace memory limit and test timeout (#1118)
  tests/cypress.json
  tests/tests/namespace/run-before.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Remove perf
  lighthouse/lighthouse.spec.js
Due: post-busola-integration-test-k3s, pre-busola-ui-test

restore nodes view
  core-ui/src/shared/components/StatsGraph/StatsPanel.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

modify babel to run luigijs with hash
  core/.babelrc
  core/.gitignore
  core/src/template.html
  core/webpack.config.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Remove nodes graph from pod level (#1117)
  core-ui/src/shared/components/StatsGraph/StatsPanel.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

add plugin to babel
  core/.babelrc
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

wip
  core-ui/src/components/App/App.js
  core-ui/src/components/App/CRDGroupList.js
  core-ui/src/components/App/CustomResourcesGroup.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CRCreate.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/templates.js
  core-ui/src/components/Predefined/List/CustomResourceDefinitions.list.js
  core-ui/src/index.scss
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
  shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Lighthouse CI (#1072)
  lighthouse/.gitignore
  lighthouse/README.md
  lighthouse/fixtures/.gitkeep
  lighthouse/lighthouse.spec.js
  lighthouse/package-lock.json
  lighthouse/package.json
  lighthouse/playwright.config.js
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

wip: routes made
  core-ui/src/components/App/App.js
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/components/HelmReleases/HelmReleasesDetails.js
  core-ui/src/components/HelmReleases/HelmReleasesList.js
  core-ui/src/components/NoPermissions/NoPermissions.js
  core-ui/src/components/Nodes/NodeDetails/NodeDetails.js
  core-ui/src/components/Predefined/Details/Application/ApplicationServicesDetails/ApplicationServicesDetails.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
  core-ui/src/routing/other/CRDetails.js
  core-ui/src/routing/other/appServiceDetails.js
  core-ui/src/routing/other/clusters.js
  core-ui/src/routing/other/containerDetails.js
  core-ui/src/routing/other/helmReleaseDetails.js
  core-ui/src/routing/other/helmReleasesList.js
  core-ui/src/routing/other/noPermissions.js
  core-ui/src/routing/other/nodeOverview.js
  core-ui/src/routing/other/preferences.js
  core-ui/src/routing/resources.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

code refactor
  core-ui/src/components/App/App.js
  core-ui/src/routing/other.js
  core-ui/src/routing/other/CRDetails.routes.js
  core-ui/src/routing/other/appServiceDetails.routes.js
  core-ui/src/routing/other/clusters.routes.js
  core-ui/src/routing/other/containerDetails.routes.js
  core-ui/src/routing/other/helmReleaseDetails.routes.js
  core-ui/src/routing/other/helmReleasesList.routes.js
  core-ui/src/routing/other/noPermissions.routes.js
  core-ui/src/routing/other/nodeOverview.routes.js
  core-ui/src/routing/other/preferences.routes.js
  core-ui/src/routing/resources.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Handle Luigi lib
  core/package-lock.json
  core/package.json
  core/webpack.config.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add default prometheus address
  core-ui/src/shared/components/StatsGraph/StatsPanel.js
  core-ui/src/shared/hooks/usePrometheus.js
  core/src/assets/defaultConfig.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Changed deletefromgenericlist and delete deletion from namespaces tests
  tests/cypress.json
  tests/support/commands.js
  tests/tests/cluster/run-after.spec.js
  tests/tests/cluster/test-persistent-volumes.spec.js
  tests/tests/cluster/test-storage-classes.spec.js
  tests/tests/namespace/test-HPA.spec.js
  tests/tests/namespace/test-api-rules.spec.js
  tests/tests/namespace/test-authorization-policies.spec.js
  tests/tests/namespace/test-certificates.spec.js
  tests/tests/namespace/test-config-maps.spec.js
  tests/tests/namespace/test-cron-jobs.spec.js
  tests/tests/namespace/test-daemon-sets.spec.js
  tests/tests/namespace/test-destination-rules.spec.js
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
  tests/tests/namespace/test-gateways.spec.js
  tests/tests/namespace/test-git-repositories.spec.js
  tests/tests/namespace/test-in-cluster-eventing.spec.js
  tests/tests/namespace/test-ingresses.spec.js
  tests/tests/namespace/test-issuers.spec.js
  tests/tests/namespace/test-jobs.spec.js
  tests/tests/namespace/test-network-policies.spec.js
  tests/tests/namespace/test-oauth2.spec.js
  tests/tests/namespace/test-reduced-permissions.spec.js
  tests/tests/namespace/test-replica-sets.spec.js
  tests/tests/namespace/test-roles.spec.js
  tests/tests/namespace/test-secrets.spec.js
  tests/tests/namespace/test-service-accounts.spec.js
  tests/tests/namespace/test-service-entries.spec.js
  tests/tests/namespace/test-sidecars.spec.js
  tests/tests/namespace/test-stateful-sets.spec.js
  tests/tests/namespace/test-virtual-services.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Bring back cypress
  tests/cypress.json
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Added a
  tests/support/inspect-list.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix copy-luigi
  core/package.json
  core/webpack.config.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Changed leftNav to IframeBody
  tests/support/inspect-list.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix blocked requests
  core-ui/src/shared-repo/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test
