Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-integration-test-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-integration-test-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

post-busola-integration-test-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-integration-test-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'false'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

Add some lambda translations
  core-ui/src/components/EntryNotFound/EntryNotFound.js
  core-ui/src/components/Lambdas/components/LabelsInput/LabelsInput.js
  core-ui/src/components/Lambdas/components/ResourceNameInput/ResourceNameInput.js
  core-ui/src/components/Lambdas/constants.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Make it work
  core-ui/src/components/Clusters/views/ClusterStorageType.js
  core/src/luigi-config/cluster-management/cluster-management.js
  core/src/luigi-config/cluster-management/clusters-storage.js
  core/src/luigi-config/utils/target-cluster-config.js
  resources/web/configmap.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Bump
  core/src/luigi-config/cluster-management/clusters-storage.js
  core/src/luigi-config/utils/target-cluster-config.js
  resources/web/deployment.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add e2e tests
  tests/tests/cluster-configuration.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add translations
  core-ui/src/components/Clusters/views/AddCluster/ChooseStorage.js
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterOverviewHeader.js
  core-ui/src/components/Clusters/views/ClusterStorageType.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
  core/src/luigi-config/cluster-management/cluster-management.js
  core/src/luigi-config/cluster-management/clusters-storage.js
  core/src/luigi-config/navigation/navigation-data-init.js
  shared/components/ResourceDetails/ResourceDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Fix language change
  core/src/luigi-config/communication.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Fix translation
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Fix e2e tests
  core/src/luigi-config/navigation/navigation-data-init.js
  tests/tests/cluster-configuration.spec.js
  tests/tests/download-a-kubeconfig.spec.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add translations for Nodes
  core-ui/src/components/Nodes/MachineInfo/MachineInfo.js
  core-ui/src/components/Nodes/NodeDetails/NodeDetails.js
  core-ui/src/components/Nodes/NodeDetailsHeader.js
  core-ui/src/components/Nodes/NodeResources/NodeResources.js
  core-ui/src/components/Nodes/NodeWarnings.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Self review
  core-ui/src/components/Clusters/views/AddCluster/ChooseStorage.js
  core/src/luigi-config/cluster-management/cluster-management.js
  core/src/luigi-config/cluster-management/clusters-storage.js
  core/src/luigi-config/luigi-config.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Remove @kubernetes/client-node from dependencies
  backend/package-lock.json
  backend/package.json
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Remove vulnerable npm package tar (#343)
  backend/package-lock.json
  backend/package.json
  resources/backend/deployment.yaml
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Translations part final
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/InjectedVariables.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/LambdaVariables.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/VariableInputs/CustomVariableInput.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/VariableInputs/ResourceVariableInput.js
  core-ui/src/components/Lambdas/constants.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Upgrade Cypress to 8.3.0 version
  tests/package-lock.json
  tests/package.json
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Apply suggestions from code review
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Review changes
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/InjectedVariables.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/LambdaVariables.js
  core/src/i18n/pl.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Review changes
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/CreateVariable/CreateVariable.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariable/EditVariable.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

bump fundamental-react version
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core, post-busola-core, post-busola-web-and-backend

Update core/src/i18n/en.yaml
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

bump BE image version
  resources/backend/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add different override warning message for create variable modal
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/VariableInputs/CustomVariableInput.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/VariableInputs/ResourceVariableInput.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Add NoPermissions
  core-ui/src/components/NoPermissions/NoPermissions.js
  core-ui/src/components/Predefined/Create/AddonsConfigurations/AddonsConfigurations.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

capitalize title
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Injected variables (#335)
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeTab.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/CreateVariable/CreateVariable.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariable/EditVariable.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/InjectedVariables.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/VariableForm/VariableModal.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/VariableInputs/CustomVariableInput.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/VariableInputs/ResourceVariableInput.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/VariableInputs/VariableInputs.scss
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindingsWrapper.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/serializeVariables.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/test/serializeVariables.test.js
  core-ui/src/components/Lambdas/helpers/testing/mockData.js
  core-ui/src/components/Lambdas/hooks/useGetBindingsCombined.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Initial
  core-ui/src/components/Predefined/Create/Deployments.create.js
  core-ui/src/components/Predefined/Create/index.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/BasicData.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/CreateWorkloadForm.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/CreateWorkloadForm.scss
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/ScalingData.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/ServiceData.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/helpers.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/test/BasicData.test.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/test/ServiceData.test.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/test/__snapshots__/helpers.test.js.snap
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/test/helpers.test.js
  core-ui/src/components/Predefined/Details/Namespace/DeployNewWorkload.js
  core-ui/src/components/Predefined/List/CreateDeploymentForm/CreateDeploymentForm.js
  core-ui/src/components/Predefined/List/CreateDeploymentForm/helpers.js
  core-ui/src/components/Predefined/List/Deployments.list.js
  core-ui/src/shared/components/CreateModal/CollapsibleSection/CollapsibleSection.js
  core-ui/src/shared/components/CreateModal/CollapsibleSection/CollapsibleSection.scss
  core-ui/src/shared/components/CreateModal/CreateModal.js
  core-ui/src/shared/components/CreateModal/CreateModal.scss
  core-ui/src/shared/components/CreateModal/Editor.js
  core-ui/src/shared/components/CreateModal/ModeSelector/ModeSelector.js
  core-ui/src/shared/components/CreateModal/ModeSelector/ModeSelector.scss
  core-ui/src/shared/components/CreateModal/Presets.js
  shared/components/Dropdown/Dropdown.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Self review v1
  core-ui/src/components/Predefined/List/CreateDeploymentForm/AdvancedForm.js
  core-ui/src/components/Predefined/List/CreateDeploymentForm/CreateDeploymentForm.js
  core-ui/src/components/Predefined/List/CreateDeploymentForm/SimpleForm.js
  core-ui/src/components/Predefined/List/CreateDeploymentForm/helpers.js
  core-ui/src/shared/components/CreateModal/CollapsibleSection/CollapsibleSection.js
  core-ui/src/shared/components/CreateModal/CreateModal.js
  core-ui/src/shared/components/CreateModal/CreateModal.scss
  core-ui/src/shared/components/CreateModal/ModeSelector/ModeSelector.js
  core-ui/src/shared/components/CreateModal/Presets.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Update core-ui/src/components/Clusters/views/ClusterStorageType.js
  core-ui/src/components/Clusters/views/ClusterStorageType.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Review fixes
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
  core/src/luigi-config/cluster-management/clusters-storage.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Fix tests
  core-ui/src/components/Predefined/Create/AddonsConfigurations/AddonsConfigurations.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Fix UI tests
  tests/tests/cluster-configuration.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Adjust e2e tests
  tests/tests/create-a-deployment.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Style and tooltips adjustements
  core-ui/src/components/Predefined/Details/Namespace/DeployNewWorkload.js
  core-ui/src/components/Predefined/List/Deployments.list.js
  core-ui/src/shared/components/CreateDeploymentForm/AdvancedForm.js
  core-ui/src/shared/components/CreateDeploymentForm/AdvancedForm.scss
  core-ui/src/shared/components/CreateDeploymentForm/CreateDeploymentForm.js
  core-ui/src/shared/components/CreateDeploymentForm/SimpleForm.js
  core-ui/src/shared/components/CreateDeploymentForm/helpers.js
  core-ui/src/shared/components/CreateModal/CollapsibleSection/CollapsibleSection.scss
  core-ui/src/shared/components/CreateModal/CreateModal.js
  core-ui/src/shared/components/CreateModal/CreateModal.scss
  shared/components/TextFormItem/TextFormItem.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

DNS Providers details and DNS Entries list
  core-ui/src/components/Predefined/Details/DNSProviders.details.js
  core-ui/src/components/Predefined/Details/index.js
  core-ui/src/components/Predefined/List/DNSEntries.list.js
  core-ui/src/components/Predefined/List/index.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Fix 'delete confirmation' settings
  core-ui/src/components/Preferences/ConfirmationSettings.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
