Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

Fixed the docs
  docs/extensibility/display-widgets.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

update docs and examples to use the "children" parameter in forms
  docs/extensibility/form-widgets.md
  examples/pizzas/configuration/pizza-orders-configmap.yaml
  examples/pizzas/configuration/pizzas-configmap.yaml
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

added jsonata to form and enum
  core-ui/src/components/Extensibility/SchemaRulesInjector.js
  core-ui/src/components/Extensibility/components-form/NameRenderer.js
  core-ui/src/components/Extensibility/helpers.js
  examples/resources/configuration/gateways.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

added enum and children in FormGroups in docs
  docs/extensibility/assets/form-widgets/Dropdown.png
  docs/extensibility/form-widgets.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

added children in FormGroups in docs
  docs/extensibility/form-widgets.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

added translations
  examples/resources/configuration/gateways.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Fixed jsonata
  core-ui/src/components/Extensibility/useJsonata.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix limited permissions view
  core-ui/src/shared/components/ResourceGraph/getResourceGraphConfig.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

organize busola own config
  core/src/luigi-config/customResources.js
  core/src/luigi-config/customResources/destinationRules.js
  core/src/luigi-config/customResources/index.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

code refactor
  core/src/luigi-config/customResources/destinationRules.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

EXT: Resource Graph (#1746)
  core-ui/src/components/Extensibility/contexts/DataSources.js
  core-ui/src/resources/APIRules/index.js
  core-ui/src/resources/ClusterRoleBindings/index.js
  core-ui/src/resources/ClusterRoles/index.js
  core-ui/src/resources/ConfigMaps/index.js
  core-ui/src/resources/CronJobs/index.js
  core-ui/src/resources/DaemonSets/index.js
  core-ui/src/resources/Deployments/DeploymentDetails.js
  core-ui/src/resources/Deployments/index.js
  core-ui/src/resources/Functions/index.js
  core-ui/src/resources/Gateways/index.js
  core-ui/src/resources/HorizontalPodAutoscalers/index.js
  core-ui/src/resources/Ingresses/index.js
  core-ui/src/resources/Jobs/index.js
  core-ui/src/resources/NetworkPolicies/index.js
  core-ui/src/resources/OAuth2Clients/index.js
  core-ui/src/resources/PersistentVolumeClaims/index.js
  core-ui/src/resources/PersistentVolumes/index.js
  core-ui/src/resources/Pods/index.js
  core-ui/src/resources/ReplicaSets/index.js
  core-ui/src/resources/RoleBindings/index.js
  core-ui/src/resources/Roles/index.js
  core-ui/src/resources/Secrets/index.js
  core-ui/src/resources/ServiceAccounts/index.js
  core-ui/src/resources/Services/index.js
  core-ui/src/resources/StatefulSets/index.js
  core-ui/src/resources/StorageClasses/index.js
  core-ui/src/resources/Subscriptions/index.js
  core-ui/src/resources/VirtualServices/index.js
  core-ui/src/resources/helpers.js
  core-ui/src/shared/components/ResourceGraph/buildGraph/buildStructuralGraph.js
  core-ui/src/shared/components/ResourceGraph/buildGraph/helpers.js
  core-ui/src/shared/components/ResourceGraph/getResourceGraphConfig.js
  core-ui/src/shared/components/ResourceGraph/useRelatedResources.js
  docs/extensibility/assets/ResourceGraph.png
  docs/extensibility/resources.md
  examples/pizzas/configuration/pizza-orders-configmap.yaml
  examples/pizzas/configuration/pizzas-configmap.yaml
  examples/resources/configuration/services.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Test for testing
  tests/cypress.json
  tests/tests/cluster/test-git-repos.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fixed ResourceLink widget
  core-ui/src/components/Extensibility/components/ResourceLink.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Added sorting to the pizzas and services ConfigMaps
  examples/pizzas/configuration/pizzas-configmap.yaml
  examples/resources/configuration/services.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

prettify
  core/src/assets/config/config.json
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

allow placeholders in stringrenderer and small fix in resourcerefs
  core-ui/src/components/Extensibility/components-form/ResourceRefRenderer.js
  core-ui/src/components/Extensibility/components-form/StringRenderer.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix example
  docs/extensibility/display-widgets.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Prettier
  core-ui/src/components/Extensibility/components/Table.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fixed test
  core-ui/src/components/Extensibility/components/tests/Table.test.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

align config-map to source and allow translations for placeholders
  core-ui/src/components/Extensibility/components-form/StringRenderer.js
  core-ui/src/components/Extensibility/contexts/DataSources.js
  examples/resources/configuration/gateways.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fixed pizza test
  tests/tests/cluster/test-pizzas.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix test
  tests/tests/namespace/test-destination-rules.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

WIP form
  core-ui/src/components/Extensibility/components-form/GenericList.js
  examples/istio/virtual-services-configmap.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

trying to repair jsonata dataSources
  core-ui/src/components/Extensibility/contexts/DataSources.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Remove certs and gitrepos
  examples/README.md
  examples/resources/README.md
  examples/resources/configuration/certificates.yaml
  examples/resources/configuration/gitrepositories.yaml
  examples/resources/samples/certificate.yaml
  examples/resources/samples/gitrepository.yaml
  examples/services/README.md
  examples/services/configuration/services.yaml
  examples/services/samples.yaml
  tests/tests/cluster/ext-test-services.spec.js
Due: pre-master-busola-governance, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

fix missing child fields
  core-ui/src/components/Extensibility/SchemaRulesInjector.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

somee changes in yaml
  examples/resources/configuration/gateways.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Namespace changes etc
  examples/services/configuration/services.yaml
  examples/services/samples.yaml
  tests/tests/cluster/ext-test-services.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Added TCP and TLS sections to the VS form
  examples/istio/virtual-services-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

bump image version
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fixed names and working on HTTP routes
  examples/istio/virtual-services-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Added HTTP routes
  examples/istio/virtual-services-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

allow jsonata filtering to ResourceRenderer
  core-ui/src/components/Extensibility/components-form/ResourceRenderer.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix code editor
  core-ui/src/components/Extensibility/components-form/MonacoRenderer.js
  core/src/luigi-config/customResources/destinationRules.js
  tests/tests/namespace/test-destination-rules.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Finish tests, fix some edge cases
  core-ui/src/components/Extensibility/helpers.js
  core-ui/src/components/Extensibility/useJsonata.js
  examples/services/configuration/services.yaml
  examples/services/samples.yaml
  tests/tests/cluster/ext-test-services.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

save path as source
  core-ui/src/components/BusolaExtensions/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Removed needless log
  core-ui/src/components/Extensibility/components-form/GenericList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
