Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

Bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Lower the threshold value, fix missing containers crashing the app bug
  core-ui/src/shared/components/PodTemplate/PodTemplate.js
  core-ui/src/shared/components/PodTemplate/components.js
  core-ui/src/shared/hooks/useIntersectionObserver.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Adjust class names
  core-ui/src/components/Functions/FunctionDetails/FunctionDetails.js
  core-ui/src/components/Functions/FunctionDetails/FunctionDetails.scss
  core-ui/src/components/Functions/FunctionDetails/FunctionDetailsWrapper.js
  core-ui/src/components/Functions/FunctionDetails/Tabs/Code/CodeAndDependencies/CodeAndDependencies.js
  core-ui/src/components/Functions/FunctionDetails/Tabs/Code/CodeAndDependencies/CodeAndDependencies.scss
  core-ui/src/components/Functions/FunctionDetails/Tabs/Code/FunctionVariables/FunctionEnvs.scss
  core-ui/src/components/Functions/FunctionDetails/Tabs/Code/FunctionVariables/FunctionVariables.js
  core-ui/src/components/Functions/FunctionDetails/Tabs/Code/FunctionVariables/InjectedVariables.js
  core-ui/src/components/Functions/FunctionDetails/Tabs/Code/FunctionVariables/VariableForm/VariableModal.js
  core-ui/src/components/Functions/FunctionDetails/Tabs/Code/RepositoryConfig/RepositoryConfig.js
  core-ui/src/components/Functions/FunctionDetails/Tabs/Code/RepositoryConfig/RepositoryConfig.scss
  core-ui/src/components/Functions/FunctionDetails/Tabs/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Functions/FunctionDetails/Tabs/ResourceManagement/ResourceManagement.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix
  core-ui/src/shared/components/ResourceDetails/ResourceDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Load graphs when 20% of the graph container is visible (#1266)
  core-ui/src/shared/components/PodTemplate/PodTemplate.js
  core-ui/src/shared/components/PodTemplate/components.js
  core-ui/src/shared/hooks/useIntersectionObserver.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add prometheus queries with units
  core-ui/src/resources/PersistentVolumes/PersistentVolumeDetails.js
  core-ui/src/shared/hooks/usePrometheus.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Minor fixes
  core/src/assets/defaultConfig.json
  core/src/luigi-config/cluster-management/cluster-management.js
  core/src/luigi-config/feature-checks.js
  core/src/luigi-config/feature-discovery.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Trying to do something special, but it doesn't work
  core-ui/src/resources/Deployments/DeploymentCreate.js
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
  core-ui/src/shared/ResourceForm/useCreateResource.js
  core-ui/src/shared/components/ModalWithForm/ModalWithForm.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Calculate config
  core/src/luigi-config/communication.js
  core/src/luigi-config/feature-discovery.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Modify queries and statspanel
  core-ui/src/resources/PersistentVolumeClaims/PersistentVolumeClaimDetails.js
  core-ui/src/shared/components/StatsGraph/StatsPanel.js
  core-ui/src/shared/hooks/usePrometheus.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add an option to upload resources at a namespace level
  core-ui/src/resources/Namespaces/DeployNewWorkload.js
  core-ui/src/resources/Namespaces/NamespaceDetails.js
  core-ui/src/resources/Namespaces/YamlUpload/YamlUploadDialog.js
  core-ui/src/resources/Namespaces/YamlUpload/useUploadResources.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add a warning
  core-ui/src/resources/Namespaces/YamlUpload/YamlResourcesList.js
  core-ui/src/resources/Namespaces/YamlUpload/YamlUploadDialog.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update core-ui/src/components/Clusters/views/EditCluster/EditCluster.js
  core-ui/src/components/Clusters/views/EditCluster/EditCluster.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Text style: Apply suggestions from code review
  docs/install-kyma-dashboard-manually.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

added more instructions about tls setup
  docs/install-kyma-dashboard-manually.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Fix small bug
  core-ui/src/resources/Namespaces/YamlUpload/YamlResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Switch from tooltip to message strip
  core-ui/src/resources/Namespaces/YamlUpload/YamlResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

wip
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/resources/Jobs/JobCreate.js
  core-ui/src/resources/Pods/PodCreate.js
  core-ui/src/resources/Pods/templates.js
  core-ui/src/shared/ResourceForm/components/Label.js
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
  core-ui/src/shared/ResourceForm/fields/Editor.js
  core-ui/src/shared/ResourceForm/fields/K8sNameField.js
  core-ui/src/shared/components/K8sNameInput/K8sNameInput.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.scss
  core-ui/src/shared/components/MonacoEditorESM/monaco-yaml.worker.js
  core-ui/src/shared/components/MonacoEditorESM/useEditorHelper.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

error handling and loading
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.scss
  core-ui/src/shared/components/MonacoEditorESM/monaco-yaml.worker.js
  core-ui/src/shared/components/MonacoEditorESM/useEditorHelper.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

code refactor
  core-ui/src/resources/Jobs/JobCreate.js
  core-ui/src/resources/Pods/PodCreate.js
  core-ui/src/resources/Pods/templates.js
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/monaco-autocomplete.worker.js
  core-ui/src/shared/components/MonacoEditorESM/useAutocompleteWorker.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

ajv commented out
  core-ui/src/shared/ResourceForm/fields/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/monaco-yaml.worker.js
  core/src/assets/defaultConfig.json
  docs/features.md
  nginx/core-ui.conf
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

code refactor
  core-ui/src/shared/components/MonacoEditorESM/monaco-autocomplete.worker.js
  core-ui/src/shared/components/MonacoEditorESM/useAutocompleteWorker.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add a warning for a namespace provided to the cluster-wide resource
  core-ui/src/resources/Namespaces/YamlUpload/YamlResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

disable autocomplete feature
  core/src/assets/defaultConfig.json
  docs/features.md
Due: pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Ignore a namespace in the url if its cluster-wide
  core-ui/src/resources/Namespaces/YamlUpload/YamlResourcesList.js
  core-ui/src/resources/Namespaces/YamlUpload/helpers.js
  core-ui/src/resources/Namespaces/YamlUpload/useUploadResources.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update docs/install-kyma-dashboard-manually.md
  docs/install-kyma-dashboard-manually.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Add SSL Option to Backend Service (#1011)
  backend/index.js
  docs/install-kyma-dashboard-manually.md
  resources/backend/deployment.yaml
  resources/istio/destinationrule-busola-backend.yaml
  resources/istio/kustomization.yaml
Due: pre-busola-backend-deployment-check, pre-master-busola-governance, post-busola-web-and-backend, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

restore ariaLabels
  core-ui/src/shared/ResourceForm/components/Label.js
  core-ui/src/shared/ResourceForm/fields/K8sNameField.js
  core-ui/src/shared/components/K8sNameInput/K8sNameInput.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core/src/assets/defaultConfig.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Small translation change
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump fundamental to partially fix scroll on modal open
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local

Bump also backend after fundamental update
  resources/backend/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix linter
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix bug, remove one warning
  core-ui/src/resources/Namespaces/YamlUpload/YamlResourcesList.js
  core-ui/src/resources/Namespaces/YamlUpload/useUploadResources.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Remove unused variable
  core-ui/src/resources/Namespaces/YamlUpload/YamlResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update core/src/i18n/en.yaml
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add an option to upload resources at a namespace level (#1271)
  core-ui/src/resources/Namespaces/DeployNewWorkload.js
  core-ui/src/resources/Namespaces/NamespaceDetails.js
  core-ui/src/resources/Namespaces/YamlUpload/YamlResourcesList.js
  core-ui/src/resources/Namespaces/YamlUpload/YamlUploadDialog.js
  core-ui/src/resources/Namespaces/YamlUpload/helpers.js
  core-ui/src/resources/Namespaces/YamlUpload/useUploadResources.js
  core/src/i18n/en.yaml
  package-lock.json
  package.json
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove required
  core-ui/src/components/Clusters/components/AuthForm.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

wip
  core-ui/src/resources/CustomResourceDefinitions/CustomResourceDefinitionCreate.js
  core-ui/src/resources/Namespaces/NamespaceCreate.js
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.scss
  core-ui/src/shared/components/MonacoEditorESM/monaco-autocomplete.worker.js
  core-ui/src/shared/components/MonacoEditorESM/useAutocompleteWorker.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
