Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

temporarily disable validation
  core-ui/src/components/Extensibility/ExtensibilityDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix codeviewer
  core-ui/src/components/Extensibility/components/CodeViewer.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

update the translation string (inside a comment)
  core-ui/src/components/Extensibility/ExtensibilityDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Added a list view for VS
  examples/istio/virtual-services-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Fix compilation errors
  core-ui/src/components/Extensibility/ExtensibilityDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Cleanup, self review
  core-ui/src/components/Extensibility/contexts/DataSources.js
  core-ui/src/shared/components/ResourceGraph/buildGraph/buildStructuralGraph.js
  core-ui/src/shared/components/ResourceGraph/buildGraph/helpers.js
  core-ui/src/shared/components/ResourceGraph/useRelatedResources.js
  core-ui/src/shared/utils/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

ext destination rules
  core/src/assets/config/config.json
  core/src/assets/customResources/customResources.json
  docs/extensibility/resources.md
  resources/web/deployment.yaml
  tests/tests/namespace/test-destination-rules.spec.js
Due: pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

remove destination rules
  core-ui/src/resources/DestinationRules/ConnectionPoolHTTP.js
  core-ui/src/resources/DestinationRules/ConnectionPoolTCP.js
  core-ui/src/resources/DestinationRules/DestinationRuleCreate.js
  core-ui/src/resources/DestinationRules/DestinationRuleDetails.js
  core-ui/src/resources/DestinationRules/DestinationRuleList.js
  core-ui/src/resources/DestinationRules/DestinationRuleRefs.js
  core-ui/src/resources/DestinationRules/DestinationRuleRefs.scss
  core-ui/src/resources/DestinationRules/LoadBalancer.js
  core-ui/src/resources/DestinationRules/OutlierDetection.js
  core-ui/src/resources/DestinationRules/Subset.js
  core-ui/src/resources/DestinationRules/TlsSettings.js
  core-ui/src/resources/DestinationRules/TrafficPolicy.js
  core-ui/src/resources/DestinationRules/index.js
  core-ui/src/resources/DestinationRules/templates.js
  core-ui/src/resources/index.js
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

First iteration of colors
  core-ui/src/resources/helpers.js
  core-ui/src/shared/components/ResourceGraph/getResourceGraphConfig.js
  examples/pizzas/configuration/pizza-orders-configmap.yaml
  examples/pizzas/configuration/pizzas-configmap.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix re-rendering of pizza orders
  core-ui/src/components/Extensibility/components/Widget.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Simple form
  examples/istio/virtual-services-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Adjust docs
  docs/extensibility/display-widgets.md
  docs/extensibility/form-widgets.md
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Removed comment
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

first gateways configuration
  examples/resources/configuration/gateways.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Fix tests
  core-ui/src/shared/components/ResourceDetails/ResourceDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Revert some docs changes, adjust examples
  core-ui/src/components/Extensibility/SchemaRulesInjector.js
  docs/extensibility/form-widgets.md
  docs/extensibility/resources.md
  examples/resources/configuration/gitrepositories.yaml
  examples/resources/configuration/services.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Fix gitrepos example
  examples/resources/configuration/gitrepositories.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

load busola ext when ext disabled
  core/src/assets/config/config.json
  core/src/assets/customResources/customResources.json
  core/src/luigi-config/customResources.js
  core/src/luigi-config/customResources/destinationRules.js
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix tests, remove leftover
  core-ui/src/components/Extensibility/components/tests/Table.test.js
  core-ui/src/shared/components/ListActions/ListActions.js
  core-ui/src/shared/components/ListActions/test/ListActions.test.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

added form config and fix gatewaySelector
  core-ui/src/resources/Gateways/GatewaySelector.js
  examples/resources/configuration/gateways.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Adjust ResourceList docs
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

DOCS
  core-ui/src/shared/components/ResourceGraph/getResourceGraphConfig.js
  docs/extensibility/assets/ResourceGraph.png
  docs/extensibility/resources.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

unify translations
  core-ui/src/components/Extensibility/components-form/CollapsibleRenderer.js
  core-ui/src/components/Extensibility/components-form/GenericList.js
  core-ui/src/components/Extensibility/components-form/KeyValuePairRenderer.js
  core-ui/src/components/Extensibility/components-form/MonacoRenderer.js
  core-ui/src/components/Extensibility/components-form/NumberRenderer.js
  core-ui/src/components/Extensibility/components-form/ResourceRenderer.js
  core-ui/src/components/Extensibility/components-form/SimpleList.js
  core-ui/src/components/Extensibility/components-form/StringRenderer.js
  core-ui/src/components/Extensibility/components-form/SwitchRenderer.js
  core-ui/src/components/Extensibility/helpers.js
  tests/tests/cluster/test-pizzas.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix missing and invalid translations
  core-ui/src/components/Extensibility/components-form/SimpleList.js
  core-ui/src/components/Extensibility/helpers.js
  core-ui/src/index.js
  docs/extensibility/resources.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

clean up code
  core-ui/src/components/Extensibility/components-form/SimpleList.js
  core-ui/src/components/Extensibility/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

extract useJsonata + fix tests
  core-ui/src/components/Extensibility/components/Widget.js
  core-ui/src/components/Extensibility/components/tests/Widget.test.js
  core-ui/src/components/Extensibility/useJsonata.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix data source fetchers
  core-ui/src/components/Extensibility/useJsonata.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove old console.log
  core-ui/src/components/Extensibility/useJsonata.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix path.join issues
  core-ui/src/components/Extensibility/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix fetching data sources
  core-ui/src/components/Extensibility/useJsonata.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add controlled by title
  examples/pizzas/configuration/pizzas-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

fix resourcelist in examples
  examples/pizzas/configuration/pizzas-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Add missing comma
  examples/pizzas/configuration/pizzas-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Fix linter
  core-ui/src/components/Extensibility/useJsonata.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

added name widget, jsonataWrapper and selectorMatchByLabels function
  core-ui/src/components/Extensibility/components-form/NameRenderer.js
  core-ui/src/components/Extensibility/contexts/DataSources.js
  core-ui/src/components/Extensibility/helpers.js
  core-ui/src/components/Extensibility/jsonataWrapper.js
  examples/resources/configuration/gateways.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix adding
  core-ui/src/components/Extensibility/components/ResourceList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add category and name
  examples/pizzas/configuration/pizza-orders-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Add category and name but better
  examples/pizzas/configuration/pizza-orders-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

update docs
  docs/extensibility/display-widgets.md
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
