Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs, pull-busola-pjconfigtest, pull-busola-pjtester, pull-busola-vpathguard

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-local: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-smoke-test-docker: any of: ^resources/|^tests/
  post-busola-smoke-test-docker: any of: /
  pre-busola-integration-test-k3s-cluster: any of: ^resources/|^tests/|^nginx/
  pre-busola-integration-test-k3s-namespace: any of: ^resources/|^tests/|^nginx/
  post-busola-integration-test-k3s-cluster: any of: /
  post-busola-integration-test-k3s-namespace: any of: /
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-lighthouse: any of: ^resources/|^lighthouse/|^nginx/
  post-busola-lighthouse: any of: ^resources/|^lighthouse/|^nginx/
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-busola-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-busola-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-busola-vpathguard: any of: ^(vpath/pjtester.yaml)

add "switch context" option
  src/command-pallette/CommandPalletteUI/handlers/clusterResourceHandler.ts
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

add all namespaces to help
  public/i18n/en.yaml
  src/command-pallette/CommandPalletteUI/handlers/nonResourceHandler.ts
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

In progress
  src/components/Clusters/views/ClusterOverview/ClusterOverview.js
  src/components/Extensibility/ExtensibilityWidgets.js
  src/components/Extensibility/useGetWidget.js
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

reorder entries
  src/command-pallette/CommandPalletteUI/handlers/clusterResourceHandler.ts
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

update dynamicValue docs
  docs/extensibility/form-section.md
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Update public/i18n/en.yaml
  public/i18n/en.yaml
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

fix tests
  tests/integration/tests/cluster/test-command-palette.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix a silly error
  src/resources/Namespaces/NamespaceDetails.js
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

Multi namespace (#2354)
  public/i18n/en.yaml
  resources/web/deployment.yaml
  src/command-pallette/CommandPalletteUI/handlers/clusterResourceHandler.ts
  src/command-pallette/CommandPalletteUI/handlers/namespacedResourceHandler.ts
  src/command-pallette/CommandPalletteUI/handlers/nonResourceHandler.ts
  src/components/App/NamespaceRoutes.tsx
  src/components/CustomResources/CustomResources.js
  src/header/Header.tsx
  src/header/NamespaceDropdown/NamespaceDropdown.tsx
  src/resources/Namespaces/AllNamespacesDetails.js
  src/resources/Namespaces/NamespaceDetails.js
  src/resources/Namespaces/NamespaceWorkloads/NamespaceWorkloads.js
  src/resources/Namespaces/ResourcesUsage.js
  src/resources/helpers.js
  src/shared/components/ResourcesList/ResourcesList.js
  tests/integration/tests/cluster/test-command-palette.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

update docs
  docs/extensibility/form-section.md
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

In progress
  src/components/Extensibility/ExtensibilityWidgets.js
  src/components/Extensibility/useGetWidget.js
  src/resources/helpers.js
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

fix switch context on cluster overview
  src/command-pallette/CommandPalletteUI/handlers/clusterResourceHandler.ts
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

bump
  resources/web/deployment.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

remove debug things
  src/components/CustomResources/CustomResources.js
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

In progress
  src/components/Extensibility/ExtensibilityWidgets.js
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

Remove namespace from custom resources view
  src/components/CustomResources/CustomResources.js
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

Bump images
  resources/web/deployment.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

update dynamicValue docs (#2357)
  docs/extensibility/form-section.md
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

remove debug (#2361)
  resources/web/deployment.yaml
  src/components/CustomResources/CustomResources.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

Allow widgets
  src/components/Extensibility/ExtensibilityWidgets.js
  src/components/Extensibility/components-widget/Widget.js
  src/components/Extensibility/components-widget/index.js
  src/components/Extensibility/useGetWidget.js
  src/resources/Deployments/DeploymentDetails.js
  src/resources/Pods/PodDetails.js
  src/state/navigation/extensionsAtom.ts
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

remove clg
  src/command-pallette/CommandPalletteUI/handlers/clusterResourceHandler.ts
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

fix switch context on cluster overview (#2360)
  resources/web/deployment.yaml
  src/command-pallette/CommandPalletteUI/handlers/clusterResourceHandler.ts
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

fix all permissions preset
  src/resources/Roles/helpers.js
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

add kubernetes pod security standard rules
  src/shared/hooks/useValidateResourceBySchema/podSecuritySchema.js
  src/shared/hooks/useValidateResourceBySchema/policies.js
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

Have list of targets instead of slot and destination
  examples/widgets/apirules.yaml
  examples/widgets/functions.yaml
  src/components/Extensibility/ExtensibilityWidgets.js
  src/components/Extensibility/useGetWidget.js
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

Small fix
  src/components/Extensibility/ExtensibilityWidgets.js
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

fix all permissions Role preset (#2365)
  resources/web/deployment.yaml
  src/resources/Roles/helpers.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

add yaml and multi-file loaders
  loader-test/babel.config.js
  loader-test/compiler.js
  loader-test/example.multi-file.json
  loader-test/example.multi-file.yml
  loader-test/file1.json
  loader-test/file1.yml
  loader-test/file2.json
  loader-test/loader.test.js
  loader-test/package.json
  loaders/multi-file.js
  loaders/yaml-loader.js
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

add dependency and comments
  loaders/multi-file.js
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

improved yaml triggers and validation wip
  src/components/Extensibility/ExtensibilityCreate.js
  src/components/Extensibility/contexts/Trigger.js
  src/components/Extensibility/hooks/useVariables.js
  src/components/Extensibility/plugins/VisibilityHandler.js
  src/shared/ResourceForm/components/ResourceForm.js
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

bump image version
  resources/web/deployment.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

Review changes
  docs/extensibility/widgets-section.md
  src/components/Clusters/views/ClusterOverview/ClusterOverview.js
  src/components/Extensibility/ExtensibilityWidgets.js
  src/resources/Deployments/DeploymentDetails.js
  src/resources/Pods/PodDetails.js
  src/state/types.ts
Due: pre-master-busola-governance, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

bump deployment
  resources/web/deployment.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

first implement of canI
  public/extensions/extensions.yaml
  src/components/Extensibility/helpers/jsonataWrapper.ts
Due: pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

Removed old codebase of ServiceInstances (#2303)
  public/i18n/en.yaml
  resources/web/deployment.yaml
  src/resources/ServiceInstances/ServiceBindingList.js
  src/resources/ServiceInstances/ServiceInstanceCreate.js
  src/resources/ServiceInstances/ServiceInstanceData.js
  src/resources/ServiceInstances/ServiceInstanceDetails.js
  src/resources/ServiceInstances/ServiceInstanceList.js
  src/resources/ServiceInstances/helpers.js
  src/resources/ServiceInstances/index.js
  src/resources/index.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

add schema, add displaying widgets for every resource and extensibility
  docs/extensibility/widgets-section.md
  public/schemas/schema-widgets.yaml
  src/components/Extensibility/ExtensibilityWidgets.js
  src/components/Extensibility/components-widget/Widget.js
  src/components/Extensibility/components-widget/index.js
  src/resources/Deployments/DeploymentDetails.js
  src/resources/Pods/PodDetails.js
  src/shared/components/ResourceDetails/ResourceDetails.js
Due: pre-master-busola-governance, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance
