Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$

Istio virtual services (#729)
  core-ui/src/components/Predefined/Create/VirtualServices/VirtualServices.create.js
  core-ui/src/components/Predefined/Create/VirtualServices/templates.js
  core-ui/src/components/Predefined/Create/index.js
  core-ui/src/components/Predefined/Details/ApiRule/ApiRules.details.js
  core-ui/src/components/Predefined/Details/ApiRule/Services.js
  core-ui/src/components/Predefined/Details/VirtualServices/HttpRoutes.js
  core-ui/src/components/Predefined/Details/VirtualServices/ServiceGateways.js
  core-ui/src/components/Predefined/Details/VirtualServices/ServiceHosts.js
  core-ui/src/components/Predefined/Details/VirtualServices/TcpRoutes.js
  core-ui/src/components/Predefined/Details/VirtualServices/TlsRoutes.js
  core-ui/src/components/Predefined/Details/VirtualServices/VirtualServices.details.js
  core-ui/src/components/Predefined/Details/VirtualServices/VirtualServicesDetails.scss
  core-ui/src/components/Predefined/Details/VirtualServices/common.js
  core-ui/src/components/Predefined/Details/index.js
  core-ui/src/components/Predefined/List/VirtualServices.list.js
  core-ui/src/components/Predefined/List/index.js
  core-ui/src/shared/components/DefinitionList/DefinitionList.scss
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/deployment.yaml
  tests/cypress.json
  tests/fixtures/test-virtual-service.yaml
  tests/tests/test-virtual-services.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Update spec
  tests/tests/test-protected-resources.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Added validation for event type
  core-ui/src/components/Predefined/Create/EventSubscriptions/EventSubscriptions.create.js
  core-ui/src/components/Predefined/Create/EventSubscriptions/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Adjust styling
  core-ui/src/components/Predefined/List/CustomResourceDefinitions.list.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Use Tokens
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitions.details.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/RelatedCRDsList.js
  core-ui/src/components/Predefined/List/CustomResourceDefinitions.list.js
  core-ui/src/shared/components/Categories/Categories.js
  core-ui/src/shared/components/Categories/Categories.scss
  core-ui/src/shared/components/Tokens.js
  core/src/i18n/en.yaml
  shared/components/Labels/Labels.scss
  shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update core/src/i18n/en.yaml
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

No break word for AdditionalPrinterColumns
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Small fix
  core/src/luigi-config/nav-footer.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

New creation modal for event subscriptions (#751)
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Predefined/Create/ApiRules/ApiRules.create.js
  core-ui/src/components/Predefined/Create/EventSubscriptions/EventSubscriptions.create.js
  core-ui/src/components/Predefined/Create/EventSubscriptions/helpers.js
  core-ui/src/components/Predefined/Create/EventSubscriptions/templates.js
  core-ui/src/components/Predefined/Create/index.js
  core-ui/src/components/Predefined/Details/EventSubscriptions/EventSubscriptionConditions.js
  core-ui/src/components/Predefined/Details/EventSubscriptions/EventSubscriptions.details.js
  core-ui/src/components/Predefined/Details/Service/Service.details.js
  core-ui/src/components/Predefined/List/EventSubscription/EventSubscriptions.list.js
  core-ui/src/components/Predefined/List/EventSubscription/EventSubscriptions.scss
  core-ui/src/components/Predefined/List/index.js
  core-ui/src/shared/ResourceForm/components/ModeSelector.js
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
  core-ui/src/shared/ResourceForm/useCreateResource.js
  core-ui/src/shared/components/EventSubscriptions/CreateEventSubscriptionForm.js
  core-ui/src/shared/components/EventSubscriptions/CreateEventSubscriptionForm.scss
  core-ui/src/shared/components/EventSubscriptions/CreateEventSubscriptionModal.js
  core-ui/src/shared/components/EventSubscriptions/EventSubscriptions.js
  core-ui/src/shared/components/EventSubscriptions/createSubscriptionInput.js
  core-ui/src/shared/components/EventSubscriptionsList.js
  core/src/i18n/en.yaml
  core/src/luigi-config/nav-footer.js
  resources/web/deployment.yaml
  tests/fixtures/test-eventsubscription.yaml
  tests/support/loadFile.js
  tests/tests/in-cluster-eventing.spec.js
  tests/tests/run-after.spec.js
  tests/tests/run-before.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Added pluras and singular form
  core-ui/src/shared/components/RunningPodsStatus.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Removed running from singular
  core-ui/src/shared/components/RunningPodsStatus.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Initial version
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingForm.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingModal.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingUsageForm/CreateServiceBindingUsageForm.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingUsageForm/CreateServiceBindingUsageModal.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.js
  service-catalog-ui/src/index.scss
Due: post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump
  resources/web/deployment.yaml
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingForm.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingUsageForm/CreateServiceBindingUsageModal.js
Due: post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Added plural and singular form for running pods (#762)
  core-ui/src/shared/components/RunningPodsStatus.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Work in progress
  shared/contexts/YamlEditorContext/EditorActions.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Secret Name is not required
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingForm.js
Due: post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Yay first commit
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/App/App.js
  core-ui/src/components/App/Compass.scss
  core-ui/src/components/App/CompassContext.js
  core-ui/src/components/App/CompassUI.js
  core-ui/src/index.js
  core/src/luigi-config/communication.js
  shared/hooks/BackendAPI/index.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add list, create & delete for ServiceBindings (#763)
  resources/web/deployment.yaml
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingForm.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingModal.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingUsageForm/CreateServiceBindingUsageForm.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingUsageForm/CreateServiceBindingUsageModal.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.js
  service-catalog-ui/src/index.scss
Due: post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Disable flaky test
  core-ui/src/components/App/components.js
  core-ui/src/components/App/handlers/index.js
  core-ui/src/components/App/handlers/nonResourceHandler.js
  core-ui/src/components/App/handlers/resourceHandler.js
  core-ui/src/components/App/todo.js
  core/src/luigi-config/global-search/index.js
  core/src/luigi-config/global-search/search.js
  tests/cypress.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Revert "Update core/src/i18n/en.yaml"
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Revert "Revert "Update core/src/i18n/en.yaml""
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Revert "Disable flaky test"
  core-ui/src/components/App/components.js
  core-ui/src/components/App/handlers/index.js
  core-ui/src/components/App/handlers/nonResourceHandler.js
  core-ui/src/components/App/handlers/resourceHandler.js
  core-ui/src/components/App/todo.js
  core/src/luigi-config/global-search/index.js
  core/src/luigi-config/global-search/search.js
  tests/cypress.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Disable flaky test again
  tests/cypress.json
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Protect Applications on SKRs (#758)
  core-ui/src/components/Predefined/Details/Application/ConnectApplicationModal.js
  core-ui/src/components/Predefined/Details/Application/CreateBindingModal/CreateBindingModal.js
  core-ui/src/components/Predefined/Details/Application/tests/useIsSKR.test.js
  core-ui/src/components/Predefined/Details/Application/useIsSKR.js
  core-ui/src/components/Predefined/List/Application/CreateApplicationModal.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  tests/cypress.json
  tests/tests/test-protected-resources.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Show / hide read only fields in yaml editor
  core/src/i18n/en.yaml
  shared/contexts/YamlEditorContext/EditorActions.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump image
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Prettier
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Wait for the footer to show up
  tests/cypress.json
  tests/tests/test-dashboard-version.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

visualize crds refactor wip
  core-ui/src/shared/components/SchemaViewer/Constraints.js
  core-ui/src/shared/components/SchemaViewer/ObjectField.js
  core-ui/src/shared/components/SchemaViewer/SchemaViewer.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

stash
  core-ui/src/components/App/CompassContext.js
  core-ui/src/components/App/CompassUI.js
  core-ui/src/components/App/components.js
  core-ui/src/components/App/handlers/nonResourceHandler.js
  core/src/luigi-config/cluster-management/cluster-management.js
  core/src/luigi-config/communication.js
  core/src/luigi-config/global-search/handlers/helpers.js
  core/src/luigi-config/global-search/handlers/index.js
  core/src/luigi-config/global-search/handlers/nonResourceHandler.js
  core/src/luigi-config/global-search/handlers/resourceHandlers.js
  core/src/luigi-config/global-search/index.js
  core/src/luigi-config/global-search/search.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

wip
  core-ui/src/components/App/handlers/helpers.js
  core-ui/src/components/App/handlers/index.js
  core-ui/src/components/App/handlers/nonResourceHandler.js
  core-ui/src/components/App/handlers/resourceHandler.js
  core-ui/src/components/App/handlers/resourceHandlers.js
  core/src/luigi-config/communication.js
  core/src/luigi-config/global-search/handlers/index.js
  core/src/luigi-config/global-search/handlers/nonResourceHandler.js
  core/src/luigi-config/global-search/index.js
  core/src/luigi-config/global-search/search.js
  core/src/luigi-config/luigi-config.js
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Test
  tests/cypress.json
  tests/support/index.js
  tests/tests/test-dashboard-version.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test
