Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)

Update docs/extensibility/jsonata.md
  docs/extensibility/jsonata.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Review fix
  docs/extensibility/jsonata.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Creates a node generator to convert DR to yaml (#1933)
  core/src/luigi-config/customResources/destinationRules/.gitignore
  core/src/luigi-config/customResources/destinationRules/details/connectionPool.mjs
  core/src/luigi-config/customResources/destinationRules/details/index.mjs
  core/src/luigi-config/customResources/destinationRules/details/loadBalancer.mjs
  core/src/luigi-config/customResources/destinationRules/details/outlierDetection.mjs
  core/src/luigi-config/customResources/destinationRules/details/portLevelSettings.mjs
  core/src/luigi-config/customResources/destinationRules/details/subsets.mjs
  core/src/luigi-config/customResources/destinationRules/details/tls.mjs
  core/src/luigi-config/customResources/destinationRules/details/trafficPolicy.mjs
  core/src/luigi-config/customResources/destinationRules/details/tunnel.mjs
  core/src/luigi-config/customResources/destinationRules/form/index.mjs
  core/src/luigi-config/customResources/destinationRules/form/subsets.mjs
  core/src/luigi-config/customResources/destinationRules/form/trafficPolicy/connectionPool.mjs
  core/src/luigi-config/customResources/destinationRules/form/trafficPolicy/loadBalancer.mjs
  core/src/luigi-config/customResources/destinationRules/form/trafficPolicy/outlierDetection.mjs
  core/src/luigi-config/customResources/destinationRules/form/trafficPolicy/portLevelSettings.mjs
  core/src/luigi-config/customResources/destinationRules/form/trafficPolicy/tls.mjs
  core/src/luigi-config/customResources/destinationRules/form/trafficPolicy/tunnel.mjs
  core/src/luigi-config/customResources/destinationRules/generator.mjs
  core/src/luigi-config/customResources/destinationRules/index.mjs
  core/src/luigi-config/customResources/destinationRules/translations.mjs
  core/src/luigi-config/customResources/index.js
  examples/resources/istio/destination-rules.yaml
  resources/web/deployment.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Update docs/extensibility/display-section.md
  docs/extensibility/display-section.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

align tests
  core/src/luigi-config/utils/target-cluster-config.js
  tests/tests/cluster/test-login-kubeconfigID.spec.js
  tests/tests/cluster/test-navigation-features.spec.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove jq from dockerfile
  Dockerfile.local
Due: pre-busola-local, post-busola-local

Extensibility: ResourcesList widget uses the List view from other Ext. resources if exist (#1910)
  core-ui/src/components/Extensibility/ExtensibilityCreate.js
  core-ui/src/components/Extensibility/ExtensibilityList.js
  core-ui/src/components/Extensibility/components/ResourceList.js
  core-ui/src/components/Extensibility/useGetCRbyPath.js
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
  core-ui/src/shared/ResourceForm/tests/useCreateResource.test.js
  core-ui/src/shared/ResourceForm/useCreateResource.js
  core-ui/src/shared/components/ControlledBy/ControlledBy.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
  core-ui/src/shared/hooks/navigate.js
  core/src/luigi-config/cluster-management/cluster-management.js
  docs/extensibility/display-section.md
  examples/pizzas/configuration/pizzas-configmap.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

feat: rename pageSize state file and add dontConfirmDelete state
  core-ui/src/state/dontConfirmDeleteAtom.ts
  core-ui/src/state/pageSizeAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

sort imports in GenericList
  core-ui/src/shared/components/GenericList/GenericList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

sort imports in OtherSettings
  core-ui/src/components/Preferences/OtherSettings.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

wip neutralize luigi context updates
  core-ui/src/components/App/App.js
  core-ui/src/components/App/resourceSchemas/useResourceSchemas.ts
  core-ui/src/sidebar/Sidebar.js
  core-ui/src/sidebar/useCreateNavigation.js
  core-ui/src/sidebar/useFetchExtensions.js
  core-ui/src/sidebar/useFetchPermissions.js
  core-ui/src/state/areEqual.ts
  core-ui/src/state/configFeaturesAtom.ts
  core/src/luigi-config/customResources.js
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Jsonata scoping (#1911)
  core-ui/src/components/Extensibility/ExtensibilityDetails.js
  core-ui/src/components/Extensibility/ExtensibilityList.js
  core-ui/src/components/Extensibility/components-form/AlertRenderer.js
  core-ui/src/components/Extensibility/components-form/MonacoRenderer.js
  core-ui/src/components/Extensibility/components-form/ResourceRefRenderer.js
  core-ui/src/components/Extensibility/components-form/ResourceRenderer.js
  core-ui/src/components/Extensibility/components/Badge.js
  core-ui/src/components/Extensibility/components/CodeViewer.js
  core-ui/src/components/Extensibility/components/EventList.js
  core-ui/src/components/Extensibility/components/ExternalLink.js
  core-ui/src/components/Extensibility/components/JoinedArray.js
  core-ui/src/components/Extensibility/components/ResourceLink.js
  core-ui/src/components/Extensibility/components/ResourceList.js
  core-ui/src/components/Extensibility/components/Table.js
  core-ui/src/components/Extensibility/components/Widget.js
  core-ui/src/components/Extensibility/components/hooks/useJsonataEvaluate.js
  core-ui/src/components/Extensibility/components/tests/Badge.test.js
  core-ui/src/components/Extensibility/components/tests/CodeViewer.test.js
  core-ui/src/components/Extensibility/components/tests/ResourceLink.test.js
  core-ui/src/components/Extensibility/components/tests/Table.test.js
  core-ui/src/components/Extensibility/components/tests/Widget.test.js
  core-ui/src/components/Extensibility/helpers/index.js
  core-ui/src/components/Extensibility/helpers/sortBy.js
  core-ui/src/components/Extensibility/hooks/useJsonata.js
  docs/extensibility/datasources-section.md
  docs/extensibility/display-section.md
  docs/extensibility/form-section.md
  docs/extensibility/jsonata.md
  docs/extensibility/resources.md
  examples/pizzas/configuration/pizzas-configmap.yaml
  examples/resources/configuration/subscriptions.yaml
  examples/resources/istio/authorization-policies.yaml
  examples/resources/istio/gateways.yaml
  examples/resources/istio/service-entries.yaml
  examples/resources/istio/sidecars.yaml
  examples/resources/istio/virtual-services.yaml
  examples/resources/serverless/functions.yaml
  examples/services/configuration.yaml
  resources/web/deployment.yaml
  tests/tests/extensibility/ext-test-pizzas.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

install @types/lodash
  core-ui/package-lock.json
  core-ui/package.json
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

feat: change dontConfirmDelete handler to use Recoil instead of Luigi
  core-ui/src/components/Preferences/ConfirmationSettings.js
  core-ui/src/shared/hooks/useDeleteResource.js
  core/src/luigi-config/communication.js
  core/src/luigi-config/luigi-config.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix: rename variable
  core-ui/src/state/dontConfirmDeleteAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Revert "allow datasources in variables in dynamicValue"
  core-ui/src/components/Extensibility/hooks/useVariables.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Sort imports
  core-ui/src/components/Preferences/Preferences.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

feat: change disableResourceProtection global state from Luigi to Recoil
  core-ui/src/components/Preferences/ProtectedSettings.js
  core-ui/src/shared/hooks/useProtectedResources.js
  core-ui/src/state/disableResourceProtectionAtom.ts
  core/src/luigi-config/communication.js
  core/src/luigi-config/luigi-config.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Change configs from json to yaml (#1932)
  Dockerfile.local
  Makefile
  backend/config/config.json
  backend/config/config.yaml
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/settings/defaultConfig.json
  backend/settings/defaultConfig.yaml
  core/src/assets/config/config.yaml
  core/src/assets/defaultConfig.json
  core/src/assets/defaultConfig.yaml
  core/src/assets/version.json
  core/src/assets/version.yaml
  core/src/luigi-config/busola-cluster-params.js
  core/src/luigi-config/nav-footer.js
  core/src/luigi-config/utils/target-cluster-config.js
  examples/resources/istio/sidecars.yaml
  nginx/nginx.conf
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
  tests/tests/cluster/test-login-kubeconfigID.spec.js
  tests/tests/cluster/test-navigation-features.spec.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Gateway as input
  examples/resources/gateway/apirules.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

feat: add translations to the Preferences dialog
  core-ui/src/components/Preferences/Preferences.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add workaround for no existing yaml on stage and prod
  backend/config/config.yaml
  backend/index.js
  core/src/luigi-config/busola-cluster-params.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bumps
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove console log
  core/src/luigi-config/busola-cluster-params.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix linter
  core/src/assets/config/config.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add workaround for no existing yaml on stage and prod (#1940)
  backend/config/config.yaml
  backend/index.js
  core/src/assets/config/config.yaml
  core/src/luigi-config/busola-cluster-params.js
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

menu sorting functions wip
  core-ui/src/components/App/App.js
  core-ui/src/components/App/useLuigiContextMigrator.js
  core-ui/src/resources/Jobs/index.js
  core-ui/src/sidebar/Sidebar.js
  core-ui/src/sidebar/useCreateCompleteNavList.js
  core-ui/src/sidebar/useCreateNavigation.js
  core-ui/src/sidebar/useFetchExtensions.js
  core-ui/src/sidebar/useFetchPermissions.js
  core-ui/src/sidebar/useFilterNavList.js
  core-ui/src/state/activeClusterNameAtom.ts
  core-ui/src/state/activeNamespaceIdAtom.ts
  core-ui/src/state/areEqual.ts
  core-ui/src/state/authDataAtom.ts
  core-ui/src/state/configFeaturesAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add check content type
  core/src/luigi-config/busola-cluster-params.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix
  core/src/luigi-config/busola-cluster-params.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update busola-cluster-params.js
  core/src/luigi-config/busola-cluster-params.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test
