Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-integration-test-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-integration-test-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

post-busola-integration-test-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-integration-test-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'false'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

Delete failing tests for test
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Create gateway (#379)
  core-ui/src/components/Predefined/Create/Gateways/CreateGatewayForm.js
  core-ui/src/components/Predefined/Create/Gateways/CreateGatewayForm.scss
  core-ui/src/components/Predefined/Create/Gateways/GatewaySelectorInput/GatewaySelectorInput.js
  core-ui/src/components/Predefined/Create/Gateways/GatewaySelectorInput/GatewaySelectorInput.scss
  core-ui/src/components/Predefined/Create/Gateways/Gateways.create.js
  core-ui/src/components/Predefined/Create/Gateways/HostsForm.js
  core-ui/src/components/Predefined/Create/Gateways/PortsForm.js
  core-ui/src/components/Predefined/Create/Gateways/ServersForm.js
  core-ui/src/components/Predefined/Create/Gateways/SimpleForm.js
  core-ui/src/components/Predefined/Create/Gateways/TlsForm.js
  core-ui/src/components/Predefined/Create/Gateways/helpers.js
  core-ui/src/components/Predefined/Create/index.js
  core-ui/src/components/Predefined/Details/Gateway/GatewayServers.js
  core-ui/src/shared/components/CreateForm/CollapsibleSection/CollapsibleSection.js
  core-ui/src/shared/components/CreateForm/CreateForm.scss
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/deployment.yaml
  shared/components/StringInput/StringInput.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Disable AccessStrategyForm test
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Remove duplicated key
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

add tooltips to statuses and common name to certificate list
  core-ui/src/components/Predefined/Details/Certificate/Certificate.details.js
  core-ui/src/components/Predefined/Details/Certificate/CertificateStatus.js
  core-ui/src/components/Predefined/Details/Issuer/Issuer.details.js
  core-ui/src/components/Predefined/Details/Issuer/IssuerStatus.js
  core-ui/src/components/Predefined/List/Certificates.list.js
  core-ui/src/components/Predefined/List/Issuers.list.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Formatting fix
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Disable temporary part of cyporess tests for CRDs
  tests/package-lock.json
  tests/package.json
  tests/tests/test-crds.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Revert "Formatting fix"
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

API Rules meet gateways (#381)
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.scss
  core-ui/src/components/ApiRules/ApiRuleForm/GatewayDropdown.js
  core-ui/src/components/ApiRules/ApiRuleForm/HostnameDropdown.js
  core-ui/src/components/ApiRules/ApiRulesList/components.js
  core-ui/src/components/ApiRules/helpers.js
  core-ui/src/components/ApiRules/hooks/useGetGatewayDomain.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ApiRules/ApiRules.js
  core-ui/src/components/Predefined/Details/ApiRules.details.js
  core-ui/src/components/Predefined/List/ApiRules.list.js
  core-ui/src/index.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  tests/support/views/api-rules-view.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add create DNS entries
  core-ui/src/components/Predefined/Create/DNSEntries/AdvancedForm.js
  core-ui/src/components/Predefined/Create/DNSEntries/CreateDNSEntryForm.js
  core-ui/src/components/Predefined/Create/DNSEntries/DNSEntries.create.js
  core-ui/src/components/Predefined/Create/DNSEntries/SimpleForm.js
  core-ui/src/components/Predefined/Create/DNSEntries/helpers.js
  core-ui/src/components/Predefined/Create/index.js
  core-ui/src/components/Predefined/Details/DNSEntries.details.js
  shared/utils/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

idk
  core-ui/src/components/Predefined/List/DNSEntries.list.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Move dns name
  core-ui/src/components/Predefined/Create/DNSEntries/AdvancedForm.js
  core-ui/src/components/Predefined/Create/DNSEntries/SimpleForm.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Add create DNS providers
  core-ui/src/components/Predefined/Create/DNSProviders/AdvancedForm.js
  core-ui/src/components/Predefined/Create/DNSProviders/CreateDNSProviderForm.js
  core-ui/src/components/Predefined/Create/DNSProviders/DNSProviders.create.js
  core-ui/src/components/Predefined/Create/DNSProviders/SimpleForm.js
  core-ui/src/components/Predefined/Create/DNSProviders/helpers.js
  core-ui/src/components/Predefined/Create/index.js
  core-ui/src/shared/components/ResourceRef/ExternalResourceRef.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Update SimpleForm.js
  core-ui/src/components/Predefined/Create/DNSProviders/SimpleForm.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

shut up linter
  core-ui/src/components/Predefined/Create/DNSProviders/AdvancedForm.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Fix
  core-ui/src/components/Predefined/Create/DNSProviders/AdvancedForm.js
  core-ui/src/components/Predefined/Create/DNSProviders/CreateDNSProviderForm.js
  core-ui/src/components/Predefined/Create/DNSProviders/CreateDNSProviderForm.scss
  core-ui/src/components/Predefined/Create/DNSProviders/SimpleForm.js
  core-ui/src/components/Predefined/Create/DNSProviders/helpers.js
  core-ui/src/shared/components/CreateForm/CreateForm.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Update AdvancedForm.js
  core-ui/src/components/Predefined/Create/DNSEntries/AdvancedForm.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Add create DNS providers (#389)
  core-ui/src/components/Predefined/Create/DNSProviders/AdvancedForm.js
  core-ui/src/components/Predefined/Create/DNSProviders/CreateDNSProviderForm.js
  core-ui/src/components/Predefined/Create/DNSProviders/CreateDNSProviderForm.scss
  core-ui/src/components/Predefined/Create/DNSProviders/DNSProviders.create.js
  core-ui/src/components/Predefined/Create/DNSProviders/SimpleForm.js
  core-ui/src/components/Predefined/Create/DNSProviders/helpers.js
  core-ui/src/components/Predefined/Create/index.js
  core-ui/src/shared/components/CreateForm/CreateForm.js
  core-ui/src/shared/components/ResourceRef/ExternalResourceRef.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add fields
  core-ui/src/components/Predefined/Create/DNSEntries/SimpleForm.js
  core-ui/src/components/Predefined/Create/DNSEntries/helpers.js
  core-ui/src/components/Predefined/Create/DNSProviders/ProviderTypeDropdown.js
  core-ui/src/components/Predefined/Create/DNSProviders/SimpleForm.js
  core-ui/src/components/Predefined/Create/DNSProviders/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Add create DNS entries (#388)
  core-ui/src/components/Predefined/Create/DNSEntries/AdvancedForm.js
  core-ui/src/components/Predefined/Create/DNSEntries/CreateDNSEntryForm.js
  core-ui/src/components/Predefined/Create/DNSEntries/DNSEntries.create.js
  core-ui/src/components/Predefined/Create/DNSEntries/SimpleForm.js
  core-ui/src/components/Predefined/Create/DNSEntries/helpers.js
  core-ui/src/components/Predefined/Create/DNSProviders/ProviderTypeDropdown.js
  core-ui/src/components/Predefined/Create/DNSProviders/SimpleForm.js
  core-ui/src/components/Predefined/Create/DNSProviders/helpers.js
  core-ui/src/components/Predefined/Create/index.js
  core-ui/src/components/Predefined/Details/DNSEntries.details.js
  core-ui/src/components/Predefined/List/DNSEntries.list.js
  resources/web/deployment.yaml
  shared/utils/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Remove duplicated keys
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Certificates and issuers (#387)
  core-ui/src/components/Predefined/Details/Certificate/Certificate.details.js
  core-ui/src/components/Predefined/Details/Certificate/CertificateRefs.js
  core-ui/src/components/Predefined/Details/Certificate/CertificateStatus.js
  core-ui/src/components/Predefined/Details/Certificate/IssuerLink.js
  core-ui/src/components/Predefined/Details/Certificate/SecretLink.js
  core-ui/src/components/Predefined/Details/Issuer/Issuer.details.js
  core-ui/src/components/Predefined/Details/Issuer/IssuerStatus.js
  core-ui/src/components/Predefined/List/Certificates.list.js
  core-ui/src/components/Predefined/List/Issuers.list.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Show Injected variables component only when catalog is present
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeTab.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Bump image
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix Additional Printer Colums
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
  tests/tests/test-crds.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix rendering of function crd details view
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Upgrade web deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Show Injected variables component only when catalog is present (#390)
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeTab.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Upgrade alpine to 3.14.2
  Dockerfile
  Dockerfile.local
  backend/Dockerfile
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Upgrade backend deployment
  resources/backend/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add logger for target k8s API server
  backend/common.js
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Impreve the logger
  backend/common.js
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Revert backend alpine upgrade
  backend/Dockerfile
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Revert nodejs
  Dockerfile
  Dockerfile.local
Due: none

Revert alpine
  Dockerfile
  Dockerfile.local
Due: none

Add wait
  tests/tests/test-crds.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add cosign signing step
  Makefile
Due: none

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
