Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$

only one schema at once
  core-ui/src/resources/Namespaces/NamespaceCreate.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.scss
  core-ui/src/shared/components/MonacoEditorESM/monaco-autocomplete.worker.js
  core-ui/src/shared/components/MonacoEditorESM/useAutocompleteWorker.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix too many connections in the SA graphs
  core-ui/src/resources/ServiceAccounts/index.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Update docs/features.md
  docs/features.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

code refactor
  core-ui/src/resources/Namespaces/NamespaceCreate.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.scss
  core-ui/src/shared/components/MonacoEditorESM/useAutocompleteWorker.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

disable autocompletion
  core/src/assets/defaultConfig.json
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix too many connections in the SA graphs (#1277)
  core-ui/src/resources/ServiceAccounts/index.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Closing the spike
  core-ui/src/shared/components/StatsGraph/StatsPanel.js
  core-ui/src/shared/hooks/useFeature.js
  core-ui/src/shared/hooks/usePrometheus.js
  core/src/luigi-config/communication.js
  core/src/luigi-config/constants.js
  core/src/luigi-config/feature-checks.js
  core/src/luigi-config/feature-discovery.js
  core/src/luigi-config/features.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
  core/src/luigi-config/utils/target-cluster-config.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add more comments
  core-ui/src/shared/hooks/BackendAPI/useFetch.js
  core/src/luigi-config/constants.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update constants.js
  core/src/luigi-config/constants.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump moment library
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local

Bump moment library
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

wip
  core-ui/src/resources/CronJobs/CronJobCreate.js
  core-ui/src/service-catalog-ui/components/ModalWithForm/ModalWithForm.js
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
  core-ui/src/shared/ResourceForm/useCreateResource.js
  core-ui/src/shared/components/ModalWithForm/ModalWithForm.js
  core-ui/src/shared/components/ResourceDetails/ResourceDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump deployment
  resources/backend/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

wip
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/App/App.js
  core-ui/src/components/App/todo
  core-ui/src/fetch-cache.js
  core-ui/src/resources/RoleBindings/index.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
  core-ui/src/shared/hooks/BackendAPI/useGet.js
  core/src/luigi-config/cluster-management/cluster-management.js
  core/src/luigi-config/fetch-cache.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/queries.js
  core/src/luigi-config/utils/target-cluster-config.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix fetch on namespace change
  core-ui/src/shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

a
  core-ui/src/components/App/todo
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add readonly
  core-ui/src/resources/CustomResourceDefinitions/CRCreate.js
  core-ui/src/resources/Jobs/JobCreate.js
  core-ui/src/resources/Jobs/JobDetails.js
  core-ui/src/resources/Jobs/SpecSection.js
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/useAutocompleteWorker.js
  core/src/assets/defaultConfig.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bug fix
  core-ui/src/resources/Namespaces/NamespaceCreate.js
  core-ui/src/shared/ResourceForm/fields/Editor.scss
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/monaco-autocomplete.worker.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump react-fundamental-styles that bumps moment
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local

Remove statscomponent from pv
  core-ui/src/resources/PersistentVolumes/PersistentVolumeDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Separate url
  core-ui/src/components/App/todo
  core-ui/src/resources/createResourceRoutes.js
  core-ui/src/shared/components/ResourceDetails/ResourceDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add support for non-public OIDC clients (#1262)
  core-ui/src/components/Clusters/components/AuthForm.js
  core-ui/src/components/Clusters/components/oidc-params.js
  core-ui/src/components/Clusters/components/test/oidc-params.test.js
  core-ui/src/components/Clusters/views/EditCluster/EditCluster.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
  core/src/luigi-config/auth/auth.js
  core/src/luigi-config/auth/oidc-params.js
  core/src/luigi-config/auth/sso.js
  docs/features.md
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Fix some sentry errors
  core-ui/src/command-pallette/CommandPaletteProvider.js
  core-ui/src/components/Functions/FunctionDetails/Tabs/ResourceManagement/ResourceManagement.js
  core-ui/src/resources/AddonsConfigurations/GenericAddonsConfigurationDetails.js
  core-ui/src/shared/components/BTPResourceStatus.js
  core-ui/src/shared/components/GenericList/GenericList.js
  core/src/luigi-config/communication.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

code refactor
  core-ui/src/resources/Jobs/JobCreate.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Monaco autocomplete (#1265)
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/resources/CustomResourceDefinitions/CRCreate.js
  core-ui/src/resources/CustomResourceDefinitions/CustomResourceDefinitionCreate.js
  core-ui/src/resources/Jobs/JobCreate.js
  core-ui/src/resources/Jobs/JobDetails.js
  core-ui/src/resources/Jobs/SpecSection.js
  core-ui/src/resources/Namespaces/NamespaceCreate.js
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
  core-ui/src/shared/ResourceForm/fields/Editor.js
  core-ui/src/shared/ResourceForm/fields/Editor.scss
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.scss
  core-ui/src/shared/components/MonacoEditorESM/monaco-autocomplete.worker.js
  core-ui/src/shared/components/MonacoEditorESM/useAutocompleteWorker.js
  core/src/assets/defaultConfig.json
  core/src/i18n/en.yaml
  docs/features.md
  nginx/core-ui.conf
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Fix queries, first iteration of working graphs
  core-ui/src/resources/PersistentVolumeClaims/PersistentVolumeClaimDetails.js
  core-ui/src/shared/components/StatsGraph/StatsPanel.js
  core-ui/src/shared/hooks/usePrometheus.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Try out gardener stuff
  core-ui/src/components/Extensibility/components/CreateDetailPanel.js
  core/src/assets/customResources/customResources.json
  core/src/luigi-config/customResources.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Dont test
  Dockerfile
Due: none

Add translations for labels
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add template
  core-ui/src/components/Extensibility/extensibilityCreate.js
  core/src/assets/customResources/customResources.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Remove the setting to accept unauthorized
  backend/index.js
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

prototype working
  core-ui/src/resources/ConfigMaps/ConfigMapCreate.js
  core-ui/src/service-catalog-ui/components/ModalWithForm/ModalWithForm.js
  core-ui/src/shared/ResourceForm/useCreateResource.js
  core-ui/src/shared/components/ModalWithForm/ModalWithForm.js
  core-ui/src/shared/components/ResourceDetails/ResourceDetails.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

pattern
  core-ui/src/resources/ConfigMaps/ConfigMapCreate.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump fundamental
  core-ui/src/shared/components/ModalWithForm/ModalWithForm.js
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump deployments
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Modify translations, change the structure of StatsPanel, add title to the Stats Component on PVCs.
  core-ui/src/resources/PersistentVolumeClaims/PersistentVolumeClaimDetails.js
  core-ui/src/shared/components/StatsGraph/StatsPanel.js
  core-ui/src/shared/components/StatsGraph/StatsPanel.scss
  core-ui/src/shared/hooks/usePrometheus.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test
