Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

Replace credential-name tooltip
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Add link to description
  core-ui/src/components/Predefined/List/Gateways.list.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Remove top bar
  core/src/index.css
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

bump fundamental-react version
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web

bump be image version
  resources/backend/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove unnecessary code
  core-ui/src/components/Clusters/components/AddClusterWizard.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Not so yeah
  core-ui/src/shared/ResourceForm/useCreateResource.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Pass proper abort controller, small code changes
  shared/hooks/BackendAPI/useFetch.js
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

add eslint config to package.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web

Fix 2 visual bugs
  core-ui/src/components/Predefined/List/Gateways.list.js
  core-ui/src/index.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Gateway Create 2, but also deployment fixes (#412)
  core-ui/src/components/Predefined/Create/DNSProviders/DNSProviders.create.js
  core-ui/src/components/Predefined/Create/Deployments/Containers.js
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  core-ui/src/components/Predefined/Create/Gateways/CreateGatewayForm.js
  core-ui/src/components/Predefined/Create/Gateways/CreateGatewayForm.scss
  core-ui/src/components/Predefined/Create/Gateways/Forms/HostsForm.js
  core-ui/src/components/Predefined/Create/Gateways/Forms/PortsForm.js
  core-ui/src/components/Predefined/Create/Gateways/Forms/ServersForm.js
  core-ui/src/components/Predefined/Create/Gateways/Forms/TlsForm.js
  core-ui/src/components/Predefined/Create/Gateways/GatewaySelectorInput/GatewaySelectorInput.js
  core-ui/src/components/Predefined/Create/Gateways/GatewaySelectorInput/GatewaySelectorInput.scss
  core-ui/src/components/Predefined/Create/Gateways/Gateways.create.js
  core-ui/src/components/Predefined/Create/Gateways/HostsForm.js
  core-ui/src/components/Predefined/Create/Gateways/PortsForm.js
  core-ui/src/components/Predefined/Create/Gateways/ServersForm.js
  core-ui/src/components/Predefined/Create/Gateways/SimpleForm.js
  core-ui/src/components/Predefined/Create/Gateways/TlsForm.js
  core-ui/src/components/Predefined/Create/Gateways/helpers.js
  core-ui/src/components/Predefined/Create/Gateways/templates.js
  core-ui/src/components/Predefined/List/Gateways.list.js
  core-ui/src/index.scss
  core-ui/src/shared/ResourceForm/ResourceForm.js
  core-ui/src/shared/ResourceForm/components/FormComponents.js
  core-ui/src/shared/ResourceForm/components/FormComponents.scss
  core-ui/src/shared/ResourceForm/components/Inputs.js
  core-ui/src/shared/components/K8sResourceSelect.js
  core-ui/src/shared/components/K8sResourceSelect.scss
  core-ui/src/shared/components/Select/Select.js
  core-ui/src/shared/components/Select/Select.scss
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  shared/components/ModalWithForm/ModalWithForm.js
  shared/components/Tooltip/Tooltip.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Move yaml-sort to devDependencies (#429)
  package-lock.json
  package.json
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-backend-deployment-check, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Suggestions from code review
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Update en.yaml
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Update core/src/i18n/en.yaml
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

add next/previous step labels
  core-ui/src/components/Clusters/components/AddClusterDialog.scss
  core-ui/src/components/Clusters/components/AddClusterWizard.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Make private key ref required when it needs to. Rename labels of secretRef and IssuerRef
  core-ui/src/components/Predefined/Create/DNSProviders/DNSProviders.create.js
  core-ui/src/components/Predefined/Create/Issuers/Issuers.create.js
  core-ui/src/shared/components/ResourceRef/ExternalResourceRef.js
  core-ui/src/shared/components/ResourceRef/IssuerRef.js
  core-ui/src/shared/components/ResourceRef/SecretRef.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Fix pending logs (#426)
  resources/web/deployment.yaml
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Apply suggestions from code review
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Use X-K8s-Authorization
  backend/common.js
  core/src/luigi-config/navigation/queries.js
  shared/hooks/BackendAPI/createHeaders.js
Due: pre-busola-backend-deployment-check, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Upgrade Cypress to 8.5.0 version
  tests/package-lock.json
  tests/package.json
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Bumpty
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Make sections open by default on simple view and closed on advanced, add other small adjustments
  core-ui/src/components/Predefined/Create/Issuers/IssuerTypeDropdown.js
  core-ui/src/components/Predefined/Create/Issuers/Issuers.create.js
  core-ui/src/shared/ResourceForm/ResourceForm.js
  core-ui/src/shared/ResourceForm/components/FormComponents.js
  core-ui/src/shared/ResourceForm/useCreateResource.js
  core-ui/src/shared/components/ResourceRef/ExternalResourceRef.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Rework domains translations
  core-ui/src/components/Predefined/Create/DNSProviders/DNSProviders.create.js
  core-ui/src/components/Predefined/Create/Issuers/Issuers.create.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Move auth to custom header (#432)
  backend/common.js
  core/src/luigi-config/navigation/queries.js
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
  shared/hooks/BackendAPI/createHeaders.js
Due: pre-busola-backend-deployment-check, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

To much for example
  core-ui/src/components/Predefined/Create/Issuers/Issuers.create.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Fix console errors
  core-ui/src/components/Predefined/Create/Issuers/Issuers.create.js
  core-ui/src/shared/ResourceForm/components/FormComponents.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

disable CORS at the ingress level
  resources/ingress.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Enable by default init params for Docker images
  Dockerfile
  Dockerfile.local
Due: none

Enable tests again
  Dockerfile.local
Due: none

Add validation, fix secretRet field, other review changes
  core-ui/src/components/Predefined/Create/Issuers/Issuers.create.js
  core-ui/src/components/Predefined/Create/Issuers/helpers.js
  core-ui/src/components/Predefined/Create/Issuers/templates.js
  core-ui/src/shared/ResourceForm/components/FormComponents.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Remove init encode params
  Dockerfile
  core/src/assets/config/config.json
  core/src/luigi-config/init-params/init-params.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Small fix
  core-ui/src/components/Predefined/Create/Issuers/Issuers.create.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Fix cronjobs view
  core-ui/src/shared/components/CronJob/CronJobSchedule.js
  shared/contexts/ThemeContext.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
