Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

Added disableCreate to the proptypes
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Added allowCreate to the docs
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix pizzas form example
  examples/pizzas/configuration/pizzas-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Review adjustments
  core-ui/src/components/Extensibility/useGetCRbyPath.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix pizzas form example (#1657)
  examples/pizzas/configuration/pizzas-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

fix names and normalize details/lists api
  core-ui/src/components/BusolaExtensions/BusolaExtensionDetails.js
  core-ui/src/components/BusolaExtensions/BusolaExtensionList.js
  core-ui/src/resources/StorageClasses/StorageClassDetails.js
  core-ui/src/resources/Subscriptions/SubscriptionDetails.js
  core-ui/src/shared/components/ResourceDetails/ResourceDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add missing resourceName
  core-ui/src/resources/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update docs/extensibility/resources.md
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

fix breadcrumbs
  core-ui/src/components/BusolaExtensions/BusolaExtensionDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add description
  core-ui/src/components/BusolaExtensions/BusolaExtensionList.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update docs/extensibility/display-widgets.md
  docs/extensibility/display-widgets.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Update docs/features.md
  docs/features.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Review fixes
  docs/extensibility/display-widgets.md
  docs/features.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Pass props to Table
  core-ui/src/components/Extensibility/components/Table.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix namespace and resource name conflict for extensibility (#1649)
  core-ui/src/components/Extensibility/tests/useGetCRDByPath.test.js
  core-ui/src/components/Extensibility/useGetCRbyPath.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

ResourceLink component (#1641)
  core-ui/src/components/Extensibility/ExtensibilityDetails.js
  core-ui/src/components/Extensibility/ExtensibilityList.js
  core-ui/src/components/Extensibility/components/Panel.js
  core-ui/src/components/Extensibility/components/ResourceLink.js
  core-ui/src/components/Extensibility/components/Table.js
  core-ui/src/components/Extensibility/components/Widget.js
  core-ui/src/components/Extensibility/components/index.js
  core-ui/src/components/Extensibility/components/tests/ResourceLink.test.js
  core-ui/src/components/Extensibility/helpers.js
  core/src/luigi-config/luigi-config.js
  docs/extensibility/assets/display-widgets/ResourceLink.png
  docs/extensibility/display-widgets.md
  docs/features.md
  examples/pizzas/configuration/pizzas-configmap.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Fix resourceLink docs
  docs/extensibility/display-widgets.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Fix resourceLink docs (#1658)
  docs/extensibility/display-widgets.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

changed method
  core/src/luigi-config/kubeconfig-id/loadKubeconfigById.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

added button for default kubeconfig
  core-ui/src/components/App/useLoginWithKubeconfigID.js
  core-ui/src/components/Clusters/views/ClusterList.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
  core/src/luigi-config/communication.js
  core/src/luigi-config/kubeconfig-id/loadKubeconfigById.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Update examples/resources/samples/gitrepository.yaml
  examples/resources/samples/gitrepository.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Fix CC & cronjobs at beta
  examples/apps/jobs/fibonacci-cronjob.yaml
  examples/apps/jobs/fibonacci.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Adjust namespace in resources dir
  examples/resources/configuration/certificates.yaml
  examples/resources/configuration/gitrepositories.yaml
  examples/resources/configuration/services.yaml
  examples/resources/samples/certificate.yaml
  examples/resources/samples/gitrepository.yaml
  examples/resources/samples/service.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

grumpy-chain -> busola
  examples/resources/samples/gitrepository.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

EXT take schema from OpenAPI (#1634)
  core-ui/src/components/App/App.js
  core-ui/src/components/App/AppContext.js
  core-ui/src/components/App/resourceSchemas/resourceSchemaWorkerApi.js
  core-ui/src/components/App/resourceSchemas/resourceSchemas.worker.js
  core-ui/src/components/App/resourceSchemas/useResourceSchemas.js
  core-ui/src/components/Extensibility/ExtensibilityCreate.js
  core-ui/src/hooks/useGetSchema.js
  core-ui/src/resources/CustomResourceDefinitions/ExtensibilityStarterModal/helpers.js
  core-ui/src/shared/components/MonacoEditorESM/autocompletion/useAutocompleteWorker.js
  core-ui/src/shared/hooks/BackendAPI/useFetch.js
  core/src/i18n/en.yaml
  docs/extensibility/resources.md
  examples/pizzas/configuration/pizza-orders-configmap.yaml
  examples/pizzas/configuration/pizzas-configmap.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Remove schema from resources in resources dir
  examples/resources/configuration/certificates.yaml
  examples/resources/configuration/gitrepositories.yaml
  examples/resources/configuration/services.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Dedupe controlledby
  core-ui/src/components/Extensibility/components/ControlledBy.js
  core-ui/src/components/Extensibility/components/index.js
  core-ui/src/components/Extensibility/components/tests/ControlledBy.test.js
  core-ui/src/resources/ConfigMaps/ConfigMapList.js
  core-ui/src/resources/DaemonSets/DaemonSetList.js
  core-ui/src/resources/Deployments/DeploymentList.js
  core-ui/src/resources/Pods/PodList.js
  core-ui/src/resources/ReplicaSets/ReplicaSetList.js
  core-ui/src/resources/Secrets/SecretList.js
  core-ui/src/resources/ServiceBindings/ServiceBindingList.js
  core-ui/src/resources/Services/ServiceList.js
  core-ui/src/resources/StatefulSets/StatefulSetList.js
  core-ui/src/shared/components/ControlledBy/ControlledBy.js
  core-ui/src/shared/components/ControlledBy/ControlledBy.scss
  docs/extensibility/assets/display-widgets/ControlledBy--kindOnly.png
  docs/extensibility/display-widgets.md
  examples/pizzas/configuration/pizzas-configmap.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Update examples/apps/httpbin/README.md
  examples/apps/httpbin/README.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Update examples/apps/microservices-demo/README.md
  examples/apps/microservices-demo/README.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Update examples/apps/whoami/README.md
  examples/apps/whoami/README.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Fix typo
  examples/apps/microservices-demo/README.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Simplify relations
  core-ui/src/components/Extensibility/components/ResourceList.js
  core-ui/src/components/Extensibility/contexts/RelationsContext.js
  docs/extensibility/resources.md
  examples/pizzas/configuration/pizzas-configmap.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
