Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

Review changes
  tests/tests/test-protected-resources.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Revert change to have both tooltip message and status message
  shared/components/StatusBadge/StatusBadge.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix resourceKind for dnsProviders
  core-ui/src/components/Predefined/Details/DNSProviders.details.js
  core-ui/src/components/Predefined/List/DNSProviders.list.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Big change
  shared/components/StatusBadge/StatusBadge.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Hide tooltip if no message
  shared/components/ResourceStatus/ResourceStatus.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix blur issue at the git repos URL field (#675)
  core-ui/src/components/Predefined/Create/GitRepositories/GitRepositories.create.js
  resources/web/deployment.yaml
  tests/tests/test-git-repositories.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

translate statuses for workload resources
  core-ui/src/components/Predefined/Details/Pod/PodStatus.js
  core-ui/src/components/Predefined/List/Deployments.list.js
  core-ui/src/components/Predefined/List/ReplicaSets.list.js
  core/src/i18n/en.yaml
  shared/components/StatusBadge/StatusBadge.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump image version
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Update core/src/i18n/en.yaml
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update docs/features.md
  docs/features.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Migrate service catalog and service management views to new translatable labels (#674)
  core-ui/src/components/Predefined/Details/AddonsConfiguration.details.js
  core-ui/src/components/Predefined/Details/ServiceBinding/ServiceBinding.details.js
  core-ui/src/components/Predefined/Details/ServiceInstance/ServiceInstance.details.js
  core-ui/src/components/Predefined/List/AddonsConfigurations.list.js
  core-ui/src/components/Predefined/List/ServiceBindings.list.js
  core-ui/src/components/Predefined/List/ServiceBrokers.list.js
  core-ui/src/components/Predefined/List/ServiceInstances.list.js
  core-ui/src/shared/components/BTPResourceStatus.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.js
  service-catalog-ui/src/shared/ServiceInstanceStatus.js
  shared/components/StatusBadge/StatusBadge.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Protect resources controlled by (#678)
  docs/features.md
  resources/web/deployment.yaml
  shared/hooks/useProtectedResources.js
  tests/cypress.json
  tests/tests/test-protected-resources.spec.js
Due: pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Add a possibility to edit a deployment
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  tests/tests/create-a-deployment.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix displaying advanced yaml editor in edit view
  core-ui/src/components/Predefined/Create/Jobs/Jobs.create.js
  core-ui/src/components/Predefined/Create/Namespaces/Namespaces.create.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix placeholders names in create addons configurations modals
  core-ui/src/components/Predefined/Create/AddonsConfigurations/AddonsConfigurations.create.js
  core-ui/src/components/Predefined/Create/AddonsConfigurations/AddonsConfigurations.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

introduce an ISTIO feature for istio resources
  core/src/luigi-config/kubeconfig-id/constants.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

introduce a yaml only mode for resource form
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Translations yaml fix
  core-ui/src/components/Predefined/Create/AddonsConfigurations/AddonsConfigurations.create.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add addon failed description, remove unused code
  core-ui/src/components/Predefined/Details/AddonsConfiguration.details.js
  core-ui/src/components/Predefined/Details/GitRepositories.details.js
  core-ui/src/components/Predefined/List/GitRepository/GitRepositories.list.js
  core/src/i18n/en.yaml
  shared/components/ResourceStatus/ResourceStatus.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

First version
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterOverviewHeader.js
  core-ui/src/components/Clusters/views/ClusterOverview/useKymaVersionQuery.js
  core/src/i18n/en.yaml
  core/src/luigi-config/kubeconfig-id/constants.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Remove double colons
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

virtual services wip
  core-ui/src/components/Predefined/Details/VirtualServices/VirtualServices.details.js
  core-ui/src/components/Predefined/Details/index.js
  core-ui/src/components/Predefined/List/VirtualServices.list.js
  core-ui/src/components/Predefined/List/index.js
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update README, bump
  docs/features.md
  resources/web/deployment.yaml
Due: pre-master-busola-governance, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Translate configuration views labels (#676)
  core-ui/src/components/Predefined/Details/AddonsConfiguration.details.js
  core-ui/src/components/Predefined/Details/Certificate/Certificate.details.js
  core-ui/src/components/Predefined/Details/Certificate/CertificateStatus.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/DNSEntries.details.js
  core-ui/src/components/Predefined/Details/DNSProviders.details.js
  core-ui/src/components/Predefined/Details/GitRepositories.details.js
  core-ui/src/components/Predefined/Details/Issuer/Issuer.details.js
  core-ui/src/components/Predefined/Details/Issuer/IssuerStatus.js
  core-ui/src/components/Predefined/List/AddonsConfigurations.list.js
  core-ui/src/components/Predefined/List/Certificates.list.js
  core-ui/src/components/Predefined/List/DNSEntries.list.js
  core-ui/src/components/Predefined/List/DNSProviders.list.js
  core-ui/src/components/Predefined/List/GitRepository/GitRepositories.list.js
  core-ui/src/components/Predefined/List/Issuers.list.js
  core-ui/src/shared/components/OAuth2ClientStatus/OAuth2ClientStatus.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  shared/components/ResourceStatus/ResourceStatus.js
  shared/components/StatusBadge/StatusBadge.js
  shared/index.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

update docs
  docs/features.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Remove service option od deploymnts edit
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

reorder docs
  docs/features.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Add e2e tests
  tests/cypress.json
  tests/tests/kyma-version.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Reorder feature docs
  docs/features.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
