Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, pre-master-busola-governance, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-governance, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build, pull-busola-checkconfig, pull-busola-pjconfigtest, pull-busola-pjtester, pull-busola-vpathguard

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pull-busola-e2e-cluster-k3d: unless all of: .*.md
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-integration-cluster-k3d: (any of: ^resources/|^tests/|^nginx/) or (any of: ^resources/|^tests/|^nginx/|^src/)
  pull-busola-integration-namespace-k3d: (any of: ^resources/|^tests/|^nginx/) or (any of: ^resources/|^tests/|^nginx/|^src/)
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-web-deployment-check: any of: ^public/|^src/|^scripts/|^shared/|^package.json
  pull-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-smoke-test-docker: any of: ^resources/|^tests/
  post-busola-smoke-test-docker: any of: /
  pre-busola-integration-test-k3s-cluster: any of: ^resources/|^tests/|^nginx/
  pre-busola-integration-test-k3s-namespace: any of: ^resources/|^tests/|^nginx/
  post-busola-integration-test-k3s-cluster: any of: /
  post-busola-integration-test-k3s-namespace: any of: /
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pull-busola-lighthouse: (any of: ^resources/|^lighthouse/|^nginx/) or (any of: ^resources/|^lighthouse/|^nginx/|^src/)
  pre-busola-ui-test: any of: /
  pull-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-backend-build: any of: ^backend/|^package.json
  post-busola-backend-build: any of: ^backend/|^package.json
  pull-busola-web-build: any of: ^public/|^src/|^package.json|^Makefile|^Dockerfile$
  post-busola-web-build: any of: ^public/|^src/|^package.json|^Makefile|^Dockerfile$
  pull-busola-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-busola-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-busola-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-busola-vpathguard: any of: ^(vpath/pjtester.yaml)

chore: lint fix
  src/components/KymaModules/KymaModulesCreate.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: accessibility of search input (#3403)
  src/shared/components/GenericList/SearchInput.js
  src/shared/components/GenericList/SearchInput.scss
  src/shared/components/UI5Panel/UI5Panel.scss
  src/shared/components/UI5Panel/UI5Panel.tsx
  tests/integration/support/commands.js
  tests/integration/support/inspect-list.js
  tests/integration/tests/accessibility/test-acc-cron-jobs.spec.js
  tests/integration/tests/accessibility/test-acc-custom-resoureces.spec.js
  tests/integration/tests/accessibility/test-acc-extensions.spec.js
  tests/integration/tests/accessibility/test-acc-pizzas.spec.js
  tests/integration/tests/cluster/test-custom-resources.spec.js
  tests/integration/tests/cluster/test-navigation-features.spec.js
  tests/integration/tests/extensibility/ext-test-extensibility.spec.js
  tests/integration/tests/extensibility/ext-test-pizzas.spec.js
  tests/integration/tests/extensibility/ext-test-services.spec.js
  tests/integration/tests/extensibility/ext-test-variables.spec.js
  tests/integration/tests/kyma-cluster/test-kyma-modules.spec.js
  tests/integration/tests/kyma-namespace/test-oauth2.spec.js
  tests/integration/tests/namespace/test-custom-resources.spec.js
  tests/integration/tests/namespace/test-reduced-permissions--configuration.spec.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: adjust badges type names
  src/components/Clusters/views/ClusterOverview/ClusterNodes.js
  src/components/Extensibility/components/Badge.js
  src/components/Extensibility/components/tests/Badge.test.js
  src/components/HelmReleases/HelmReleaseStatus.js
  src/components/KymaModules/KymaModulesList.js
  src/components/KymaModules/components/ModuleStatus.tsx
  src/resources/CustomResourceDefinitions/CurrentCRDVersion.js
  src/resources/Ingresses/IngressDetails.js
  src/resources/Jobs/JobCompletions.js
  src/resources/Jobs/JobConditions.js
  src/resources/Namespaces/NamespaceStatus.js
  src/resources/PersistentVolumes/PersistentVolumeStatus.js
  src/resources/Pods/ContainerStatus.js
  src/resources/Pods/PodRestarts.js
  src/resources/Pods/PodStatus.js
  src/shared/components/BTPResourceStatus.js
  src/shared/components/ExpandableListItem/ExpandableListItem.tsx
  src/shared/components/PersistentVolumeClaimStatus.js
  src/shared/components/PopoverBadge/PopoverBadge.tsx
  src/shared/components/RunningPodsStatus.js
  src/shared/components/StatusBadge/StatusBadge.js
  src/shared/components/SubscriptionConditionStatus.js
  src/shared/components/TooltipBadge/TooltipBadge.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

review chenages
  public/i18n/en.yaml
  src/components/KymaModules/KymaModulesCreate.js
  src/components/KymaModules/ManagedWarnings.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

move channel warning to separate file
  src/components/KymaModules/ChannelWarning.tsx
  src/components/KymaModules/KymaModulesCreate.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

move unmanaged info to separate file
  src/components/KymaModules/KymaModulesCreate.js
  src/components/KymaModules/UnmanagedModuleInfo.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

review chenages
  src/components/KymaModules/ChannelWarning.tsx
  src/components/KymaModules/KymaModulesCreate.js
  src/components/KymaModules/ManagedWarnings.tsx
  src/components/KymaModules/UnmanagedModuleInfo.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix path for artifacts
  .github/workflows/pull-kyma-integration-tests.yml
Due: pull-busola-e2e-cluster-k3d, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

fix empty modules
  src/components/KymaModules/UnmanagedModuleInfo.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: partially fix tables
  src/shared/components/GenericList/GenericList.js
  src/shared/components/GenericList/components.js
  src/shared/components/PodTemplate/components.js
  src/shared/components/ResourcesList/ResourcesList.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: add 'size' to headers
  src/components/Clusters/views/ClusterOverview/ClusterOverview.js
  src/components/Clusters/views/ClusterOverview/ClusterStats.js
  src/components/Clusters/views/EditCluster/EditCluster.js
  src/components/Extensibility/components/FeaturedCard/FeaturedCard.js
  src/components/Nodes/NodeDetails/NodeDetails.js
  src/resources/CustomResourceDefinitions/CurrentCRDVersion.js
  src/resources/Namespaces/AllNamespacesDetails.js
  src/resources/Namespaces/YamlUpload/YamlResourcesList.js
  src/resources/ResourceQuotas/ResourceQuotaDetails.tsx
  src/shared/components/ResourceDetails/ResourceDetails.js
  src/shared/components/ResourceHealthCard/ResourceHealthCard.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: adjust dynamicPage
  src/shared/ResourceForm/components/ModeSelector.js
  src/shared/ResourceForm/components/ResourceForm.scss
  src/shared/components/DynamicPageComponent/DynamicPageComponent.js
  src/shared/components/DynamicPageComponent/DynamicPageComponent.scss
  src/shared/components/StatusBadge/StatusBadge.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

wip
  src/components/Externals/Externals.js
  src/shared/components/ResourcesList/ResourcesList.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Set cookies
  package-lock.json
  package.json
  src/shared/hooks/BackendAPI/createHeaders.ts
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

add support for cookies in backend
  backend/common.js
  backend/index.js
  backend/package-lock.json
  backend/package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build

add all needed cookies
  src/components/Externals/Externals.js
  src/shared/hooks/BackendAPI/createHeaders.ts
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: not selectable tokens
  src/shared/components/Tokens.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

suport html type
  backend/common.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build

fix: adjust Preferences modal
  src/shared/components/TileButton/TileButton.tsx
  src/shared/components/VerticalTabs/VerticalTabs.scss
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: small adjustments
  src/components/KymaModules/ModulesCard.js
  src/header/Header.tsx
  src/shared/components/Labels/Labels.js
  src/sidebar/SidebarNavigation.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: fix empty list
  src/shared/components/EmptyListComponent/EmptyListComponent.tsx
  src/shared/components/GenericList/GenericList.js
  src/shared/components/GenericList/GenericList.scss
  src/shared/components/GenericList/components.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix csses for edit
  src/components/KymaModules/KymaModulesCreate.scss
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: added proper clearing of leftover intervals
  src/shared/hooks/BackendAPI/useGet.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: add checkbox to display managed modules (#3427)
  .github/workflows/pull-kyma-integration-tests.yml
  public/i18n/en.yaml
  src/components/KymaModules/ChannelWarning.tsx
  src/components/KymaModules/KymaModulesCreate.js
  src/components/KymaModules/KymaModulesCreate.scss
  src/components/KymaModules/ManagedWarnings.tsx
  src/components/KymaModules/UnmanagedModuleInfo.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: change logo acc name & fix theme
  src/components/App/App.tsx
  src/header/Header.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: change imports for Toolbar
  src/header/Header.tsx
  src/shared/ResourceForm/components/CollapsibleSection.js
  src/shared/components/DynamicPageComponent/DynamicPageComponent.js
  src/shared/components/ResourceGraph/ResourceGraph.tsx
  src/shared/components/UI5Panel/UI5Panel.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: added URI encoding of contextname to URL navigation
  src/command-pallette/CommandPalletteUI/handlers/clusterResourceHandler.ts
  src/command-pallette/CommandPalletteUI/handlers/crHandler.ts
  src/command-pallette/CommandPalletteUI/handlers/crListHandler.ts
  src/command-pallette/CommandPalletteUI/handlers/crdHandler.ts
  src/command-pallette/CommandPalletteUI/handlers/helmReleaseHandler.ts
  src/command-pallette/CommandPalletteUI/handlers/logsHandler.ts
  src/command-pallette/CommandPalletteUI/handlers/namespacedResourceHandler.ts
  src/command-pallette/CommandPalletteUI/handlers/nodesHandler.ts
  src/command-pallette/CommandPalletteUI/handlers/nonResourceHandler.ts
  src/components/Clusters/shared.ts
  src/components/Clusters/views/ClusterList.js
  src/header/Header.tsx
  src/hooks/useUrl.ts
  src/resources/Namespaces/NamespaceList.js
  src/shared/hooks/useDeleteResource.js
  src/state/authDataAtom.ts
  src/state/useAfterInitHook.ts
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix content-type
  backend/common.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build

remove comment
  backend/common.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build

Clear externals file
  src/components/Externals/Externals.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: update packages
  package-lock.json
  package.json
  src/setupTests.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

chore: bump ui5-react
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

Clear externals
  src/components/Externals/Externals.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Get rid of error
  src/shared/hooks/BackendAPI/createHeaders.ts
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: added proper clearing of leftover intervals (#3434)
  src/shared/hooks/BackendAPI/useGet.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: adjust tests to not use enzyme
  src/components/Extensibility/components/CodeViewer.js
  src/components/Extensibility/components/Columns.js
  src/components/Extensibility/components/tests/Badge.test.js
  src/components/Extensibility/components/tests/CodeViewer.test.js
  src/components/Extensibility/components/tests/Columns.test.js
  src/components/Extensibility/components/tests/ControlledBy.test.js
  src/components/Extensibility/components/tests/Table.test.js
  src/setupTests.js
  src/testing/enzymeUtils.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: fix dependencies
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

fix: remove unused
  src/components/Extensibility/components/tests/ControlledBy.test.js
  src/components/Extensibility/components/tests/Table.test.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: remove not existing import
  src/components/KymaModules/ModulesCard.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: add compatibility package
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build
