Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs, pull-busola-pjtester, pull-busola-vpathguard

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-busola-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-busola-vpathguard: any of: ^(vpath/pjtester.yaml)

removed unnecessary properties
  examples/resources/configuration/dns-providers.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

create configmap for dns-providers (#2091)
  examples/resources/configuration/dns-providers.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

two more luigiclients gone
  core-ui/src/components/EntryNotFound/EntryNotFound.js
  core-ui/src/resources/ServiceBindings/ServiceBindingData.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix permissions test
  tests/tests/namespace/test-reduced-permissions.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix: kubecofnigID and adjust tests
  core-ui/src/components/App/ClusterRoutes.js
  core-ui/src/components/App/useLoginWithKubeconfigID.ts
  tests/tests/cluster/test-login-kubeconfigID.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix: useUrl scope
  core-ui/src/hooks/useUrl.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

set env isDocker
  Dockerfile.local
  core-ui/Makefile
  core-ui/config-overrides.js
  core-ui/package.json
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix: cluster configuration test
  tests/tests/cluster/test-cluster-configuration.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix: multiple context kubeconfig test
  tests/tests/cluster/test-multiple-context-kubeconfig.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix: multiple context
  tests/tests/cluster/test-multiple-context-kubeconfig.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix API Rules test, adjust edit to not have APIRule with Error msg
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix navigating to API Rules
  tests/support/views/api-rules-view.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Bump images
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix backend calls
  backend/index.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, post-busola-web-and-backend, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bring back old images
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix busola in docker image (#2138)
  Dockerfile.local
  backend/index.js
  core-ui/Makefile
  core-ui/config-overrides.js
  core-ui/package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix: lighthouse tests
  lighthouse/lighthouse.spec.js
Due: post-busola-integration-test-k3s, pre-busola-ui-test

fix variable docs
  docs/extensibility/form-section.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

workaround multiple context
  tests/tests/cluster/test-multiple-context-kubeconfig.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix search input on APIRule list view
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix api rules
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix redirection
  core-ui/src/components/Clusters/shared.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix variable docs (#2140)
  docs/extensibility/form-section.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

fix: reduced perissions
  tests/tests/namespace/test-reduced-permissions.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove useShowNodeParamsError - it's already implemented
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/shared/hooks/useShowNodeParamsError.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove luigi!!!
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/setupTests.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add timeout
  tests/tests/namespace/test-reduced-permissions.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add wait
  tests/tests/namespace/test-reduced-permissions.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

update functions to include function templates on language change
  examples/resources/serverless/functions.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

fix: node details cluster overview
  tests/tests/cluster/test-cluster-overview.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Luigiless luigiclient (#2143)
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/components/EntryNotFound/EntryNotFound.js
  core-ui/src/resources/ServiceBindings/ServiceBindingData.js
  core-ui/src/setupTests.js
  core-ui/src/shared/hooks/useShowNodeParamsError.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Enable unit tests
  Dockerfile
Due: pre-busola-web, post-busola-web

re-add resetting vars on yaml change, reset vars on preset change
  core-ui/src/components/Extensibility/ExtensibilityCreate.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump image version
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove disableCreate
  examples/resources/serverless/functions.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Update core-ui/public/i18n/en.yaml
  core-ui/public/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

update functions to include function templates on language change (#2147)
  examples/resources/serverless/functions.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test
