Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

Tets
  core-ui/src/components/Extensibility/hooks/useVariables.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Who knows
  tests/tests/namespace/run-prepare-functions.spec.js
  tests/tests/namespace/test-api-rules.spec.js
  tests/tests/namespace/test-deployments.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
  tests/tests/namespace/test-service-entries.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fixes
  core-ui/src/components/Extensibility/ExtensibilityList.js
  core-ui/src/resources/Services/ApiRulesList.js
  core-ui/src/resources/Services/ServiceDetails.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
  examples/resources/gateway/apirules.yaml
  tests/support/views/api-rules-view.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove destination rules from core-ui
  core-ui/src/resources/DestinationRules/ConnectionPoolHTTP.js
  core-ui/src/resources/DestinationRules/ConnectionPoolTCP.js
  core-ui/src/resources/DestinationRules/DestinationRuleCreate.js
  core-ui/src/resources/DestinationRules/DestinationRuleDetails.js
  core-ui/src/resources/DestinationRules/DestinationRuleList.js
  core-ui/src/resources/DestinationRules/DestinationRuleRefs.js
  core-ui/src/resources/DestinationRules/DestinationRuleRefs.scss
  core-ui/src/resources/DestinationRules/LoadBalancer.js
  core-ui/src/resources/DestinationRules/OutlierDetection.js
  core-ui/src/resources/DestinationRules/Subset.js
  core-ui/src/resources/DestinationRules/TlsSettings.js
  core-ui/src/resources/DestinationRules/TrafficPolicy.js
  core-ui/src/resources/DestinationRules/index.js
  core-ui/src/resources/DestinationRules/templates.js
  core-ui/src/resources/index.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Bulletproof the cluster config test
  tests/tests/cluster/test-cluster-configuration.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix: test deployment to check pods number
  tests/tests/namespace/test-deployments.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

perfect changes
  lighthouse/fixtures/.gitkeep
  nginx/core-ui.conf
  nginx/core.conf
  nginx/mime.types
  nginx/nginx.conf
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Fix tests
  examples/resources/gateway/apirules.yaml
  tests/support/views/api-rules-view.js
  tests/tests/namespace/test-in-cluster-eventing.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Try bulletproof dns providers?
  tests/tests/namespace/test-dns-providers.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix
  tests/tests/namespace/test-in-cluster-eventing.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Bump functions
  core-ui/src/components/Extensibility/components/APIRules/APIRuleHost.js
  examples/resources/serverless/functions.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove dr from nav
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

move dns providers to extension
  examples/configuration/dns-providers.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Fix tests
  tests/support/views/api-rules-view.js
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Allow enabling multiple extensions in tests
  tests/support/mockConfig.js
  tests/tests/namespace/run-prepare-functions.spec.js
  tests/tests/namespace/test-api-rules.spec.js
  tests/tests/namespace/test-authorization-policies.spec.js
  tests/tests/namespace/test-gateways.spec.js
  tests/tests/namespace/test-in-cluster-eventing.spec.js
  tests/tests/namespace/test-service-entries.spec.js
  tests/tests/namespace/test-sidecars.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove dr from translations
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Delete unused import
  core-ui/src/components/Extensibility/components/APIRules/APIRuleHost.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Blur doesn't work
  tests/support/views/api-rules-view.js
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fiz tests
  tests/support/views/api-rules-view.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix resource version on edit
  core-ui/src/shared/ResourceForm/useCreateResource.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix resource version on edit (#2052)
  core-ui/src/shared/ResourceForm/useCreateResource.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Adjust api-rule creation
  tests/support/views/api-rules-view.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix finding status
  tests/tests/namespace/test-in-cluster-eventing.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Change the subdomain, uncomment the code
  tests/support/views/api-rules-view.js
  tests/tests/namespace/test-in-cluster-eventing.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix name
  tests/tests/namespace/test-in-cluster-eventing.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add input info for host and required tor rules
  examples/resources/gateway/apirules.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Fix autocompletion of port
  examples/resources/gateway/apirules.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Add GET method
  tests/support/views/api-rules-view.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Rename regex variable to fqdnRegex, remove optional chaining
  core-ui/src/components/Extensibility/components/APIRules/APIRuleHost.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Remove optional chaining
  core-ui/src/components/Extensibility/components/APIRules/APIRuleHost.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Clear unused imports
  core-ui/src/resources/Services/ApiRulesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix creation of api-rules
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Remove placeholder
  tests/support/views/api-rules-view.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix: clean serive api rule list
  core-ui/src/resources/Services/ApiRulesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
