Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)

Changed location and name of the file
  examples/resources/configuration/istio/virtual-services.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

adjust namespace
  core-ui/src/resources/Namespaces/NamespaceCreate.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

added to deployment
  core-ui/src/resources/Deployments/DeploymentCreate.js
  core-ui/src/resources/Namespaces/NamespaceCreate.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Changed namespace
  examples/resources/configuration/istio/virtual-services.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

hook extracted
  core-ui/src/resources/Deployments/DeploymentCreate.js
  core-ui/src/resources/Namespaces/NamespaceCreate.js
  core-ui/src/shared/hooks/useSidecarInjection.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove from jobs, extract logic
  core-ui/src/resources/Deployments/DeploymentCreate.js
  core-ui/src/resources/Jobs/JobCreate.js
  core-ui/src/resources/Namespaces/NamespaceCreate.js
  core-ui/src/shared/hooks/useSidecarInjection.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

update docs
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

label always explicitly stated
  core-ui/src/resources/Deployments/DeploymentCreate.js
  core-ui/src/resources/Namespaces/NamespaceCreate.js
  core-ui/src/shared/hooks/useSidecarInjection.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

update templates
  core-ui/src/resources/Deployments/templates.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Update docs/extensibility/resources.md
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Apply suggestions from code review
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

code refactor
  core-ui/src/resources/Jobs/JobCreate.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Extensibility: Custom form fields (#1790)
  core-ui/src/components/Extensibility/ExtensibilityCreate.js
  core-ui/src/components/Extensibility/ResourceSchema.js
  core-ui/src/components/Extensibility/SchemaRulesInjector.js
  core-ui/src/components/Extensibility/components-form/StringRenderer.js
  core-ui/src/components/Extensibility/jsonataWrapper.js
  docs/extensibility/resources.md
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

hide if no istio
  core-ui/src/resources/Deployments/DeploymentCreate.js
  core-ui/src/resources/Namespaces/NamespaceCreate.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

no simple flag
  core-ui/src/resources/Deployments/DeploymentCreate.js
  core-ui/src/resources/Namespaces/NamespaceCreate.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add tls
  examples/resources/configuration/istio/sidecars.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Review changes
  examples/resources/configuration/istio/sidecars.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Reverse sidecar (#1816)
  core-ui/src/resources/Deployments/DeploymentCreate.js
  core-ui/src/resources/Deployments/templates.js
  core-ui/src/resources/Jobs/JobCreate.js
  core-ui/src/resources/Namespaces/NamespaceCreate.js
  core-ui/src/shared/hooks/useSidecarInjection.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add showinfo and tooltip to the string renderer
  core-ui/src/components/Extensibility/components-form/StringRenderer.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add showinfo and tooltip to the bool and keyvaluepair renderers
  core-ui/src/components/Extensibility/components-form/KeyValuePairRenderer.js
  core-ui/src/components/Extensibility/components-form/StringRenderer.js
  core-ui/src/components/Extensibility/components-form/SwitchRenderer.js
  core-ui/src/components/Extensibility/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Get rid of translations
  examples/resources/configuration/istio/sidecars.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Add showinfo and tooltip to the number renderer
  core-ui/src/components/Extensibility/components-form/NumberRenderer.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fixes for workload selector and tls
  examples/resources/configuration/istio/sidecars.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Add showinfo and tooltip to the name renderer (I dont know what happened to csses yet)
  core-ui/src/components/Extensibility/components-form/NameRenderer.js
  core-ui/src/shared/ResourceForm/fields/K8sNameField.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Ext sidecars (#1792)
  examples/resources/configuration/istio/sidecars.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Fix k8s name input
  core-ui/src/shared/components/K8sNameInput/K8sNameInput.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix
  core-ui/src/components/Functions/FunctionDetails/Tabs/Code/CodeAndDependencies/CodeAndDependencies.js
  core-ui/src/components/Functions/helpers/runtime/runtime.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

update resources
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Improve Sample Code of Kyma Functions
  core-ui/src/components/Functions/config.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Update docs
  docs/extensibility/README.md
  docs/extensibility/assets/form-widgets/CodeEditor.png
  docs/extensibility/assets/form-widgets/Dropdown.png
  docs/extensibility/assets/form-widgets/Dropdown2.png
  docs/extensibility/assets/form-widgets/KeyValue.png
  docs/extensibility/form-widgets.md
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Change show info to input info
  core-ui/src/components/Extensibility/components-form/NameRenderer.js
  core-ui/src/components/Extensibility/helpers.js
  core-ui/src/resources/APIRules/Rules.js
  core-ui/src/resources/GitRepositories/GitRepositoryCreate.js
  core-ui/src/resources/Subscriptions/FiltersSection.js
  core-ui/src/resources/Subscriptions/SubscriptionCreate.js
  core-ui/src/shared/ResourceForm/components/FormField.js
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
  core-ui/src/shared/ResourceForm/fields/K8sNameField.js
  core-ui/src/shared/ResourceForm/fields/MultiInput.js
  docs/extensibility/form-widgets.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Add it also to the simple list
  core-ui/src/components/Extensibility/components-form/SimpleList.js
  docs/extensibility/form-widgets.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix source for created extensions
  core-ui/src/components/BusolaExtensions/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix secret creation
  core-ui/src/shared/ResourceForm/fields/DataField.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test
