Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)

Apirules never ending story (#2082)
  core-ui/src/components/Extensibility/ExtensibilityList.js
  core-ui/src/components/Extensibility/components/ResourceList.js
  core-ui/src/resources/Services/ApiRulesList.js
  core-ui/src/resources/Services/ServiceDetails.js
  core-ui/src/shared/components/SubscriptionsList.js
  examples/resources/gateway/apirules.yaml
  examples/resources/serverless/functions.yaml
  resources/web/deployment.yaml
  tests/tests/namespace/test-api-rules.spec.js
  tests/tests/namespace/test-in-cluster-eventing.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Show extensibility nodes in the sidebar
  core-ui/public/defaultConfig.yaml
  core-ui/src/state/navigation/extensibilityNodesSelector.ts
  core-ui/src/state/resourceList/resourceListSelector.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Move getting ext nodes to a different place
  core-ui/src/state/navigation/sidebarNavigationNodesSelector.ts
  core-ui/src/state/resourceList/resourceListSelector.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

create configmap for dns-providers
  examples/resources/configuration/dns-providers.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Luigiless lists (#2089)
  core-ui/src/resources/createResourceRoutes.js
  core-ui/src/resources/helpers.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Luigiless cluster link (#2087)
  core-ui/src/components/Clusters/views/ClusterOverview/clusterDetailsNode.ts
  core-ui/src/hooks/useUrl.ts
  core-ui/src/resources/createResourceRoutes.js
  core-ui/src/sidebar/NavItem.tsx
  core-ui/src/state/types.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix details
  core-ui/src/header/Header.scss
  core-ui/src/resources/helpers.js
  core-ui/src/shared/components/ResourceGraph/ResourceGraph.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

create configmap for dns-providers & added tooltip for error-badge
  examples/resources/configuration/dns-providers.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Use hook to only initiate the calls
  core-ui/src/components/App/App.js
  core-ui/src/components/App/useLuigiContextMigrator.js
  core-ui/src/hooks/useFeature.ts
  core-ui/src/sidebar/SidebarNavigation.tsx
  core-ui/src/state/configurationAtom.ts
  core-ui/src/state/configurationSelector.ts
  core-ui/src/state/navigation/clusterAndNsNodesSelector.ts
  core-ui/src/state/navigation/externalNodesSelector.ts
  core-ui/src/state/navigation/sidebarNavigationNodesSelector.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove sso
  core-ui/src/components/App/useLuigiContextMigrator.js
  core-ui/src/shared/hooks/BackendAPI/createHeaders.ts
  core-ui/src/shared/hooks/BackendAPI/useFetch.ts
  core-ui/src/state/clusterConfigSelector.ts
  core-ui/src/state/ssoDataAtom.ts
  core-ui/src/state/types.ts
  core-ui/src/state/utils/getFetchFn.ts
  docs/features.md
  resources/web/configmap.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Disable warning
  core-ui/src/state/configurationAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Luigiless details (#2092)
  core-ui/src/header/Header.scss
  core-ui/src/resources/helpers.js
  core-ui/src/shared/components/ResourceGraph/ResourceGraph.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove jwt
  backend/index.js
  backend/jwtCheck.js
  backend/package-lock.json
  backend/package.json
  backend/settings/defaultConfig.yaml
  core-ui/src/shared/hooks/BackendAPI/checkForTokenExpiration.ts
  core-ui/src/shared/hooks/BackendAPI/useFetch.ts
  docs/features.md
  package-lock.json
  package.json
  resources/web/configmap.yaml
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

remove unused imports
  core-ui/src/resources/createResourceRoutes.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
  core-ui/src/sidebar/Footer/useGetLegalLinks.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove unused imports (#2094)
  core-ui/src/resources/createResourceRoutes.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
  core-ui/src/sidebar/Footer/useGetLegalLinks.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix async enums (#2069)
  core-ui/src/components/Extensibility/components-form/StringRenderer.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Move the function to the app
  core-ui/src/components/App/App.js
  core-ui/src/sidebar/SidebarNavigation.tsx
  core-ui/src/state/configurationAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

React on auth change
  core-ui/src/state/configurationAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Extensibility and busola configs (#2086)
  core-ui/public/config/defaultConfig.yaml
  core-ui/public/defaultConfig.yaml
  core-ui/src/components/App/App.js
  core-ui/src/components/App/ContentWrapper/ContentWrapper.tsx
  core-ui/src/components/App/useConfigContextMigrator.js
  core-ui/src/components/App/useLuigiContextMigrator.js
  core-ui/src/header/useAvailableNamespaces.ts
  core-ui/src/hooks/useFeature.ts
  core-ui/src/hooks/useUrl.js
  core-ui/src/shared/contexts/ConfigContext.js
  core-ui/src/shared/contexts/Microfrontend.js
  core-ui/src/shared/hooks/BackendAPI/useFetch.ts
  core-ui/src/sidebar/Sidebar.scss
  core-ui/src/sidebar/Sidebar.tsx
  core-ui/src/state/clusterConfigSelector.ts
  core-ui/src/state/configAtom.ts
  core-ui/src/state/configFeatures/configFeaturesSelector.ts
  core-ui/src/state/configFeatures/lazyConfigFeaturesAtom.ts
  core-ui/src/state/configurationAtom.ts
  core-ui/src/state/extResourcesAtom.ts
  core-ui/src/state/navigation/clusterAndNsNodesSelector.ts
  core-ui/src/state/navigation/extensibilityNodesSelector.ts
  core-ui/src/state/navigation/externalNodesSelector.ts
  core-ui/src/state/navigation/sidebarNavigationNodesSelector.ts
  core-ui/src/state/resourceList/resourceListSelector.ts
  core-ui/src/state/utils/getBackendInfo.ts
  core-ui/src/state/utils/getFetchFn.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Namespace-only
  core-ui/src/components/Clusters/shared.ts
  core-ui/src/state/authDataAtom.ts
  core-ui/src/types/kubeconfig.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix pull
  core-ui/src/components/App/useLuigiContextMigrator.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix kk-id path
  core-ui/src/components/App/ClusterRoutes.js
  core-ui/src/index.js
  core-ui/src/state/authDataAtom.ts
  core-ui/src/state/configurationAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove jwks-rsa
  backend/package-lock.json
  backend/package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, post-busola-web-and-backend, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Remove SSO (#2093)
  backend/index.js
  backend/jwtCheck.js
  backend/package-lock.json
  backend/package.json
  backend/settings/defaultConfig.yaml
  core-ui/src/shared/hooks/BackendAPI/checkForTokenExpiration.ts
  core-ui/src/shared/hooks/BackendAPI/createHeaders.ts
  core-ui/src/shared/hooks/BackendAPI/useFetch.ts
  core-ui/src/state/clusterConfigSelector.ts
  core-ui/src/state/ssoDataAtom.ts
  core-ui/src/state/types.ts
  core-ui/src/state/utils/getFetchFn.ts
  docs/features.md
  package-lock.json
  package.json
  resources/web/configmap.yaml
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

wip
  core-ui/src/components/Clusters/shared.ts
  core-ui/src/components/NoPermissions/NoPermissions.tsx
  core-ui/src/sidebar/Sidebar.tsx
  core-ui/src/state/permissionSetsSelector.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Display storage info on ClusterOverview Page
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterOverviewHeader.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Handle external routes partially
  core-ui/src/components/App/App.js
  core-ui/src/components/App/ClusterRoutes.js
  core-ui/src/components/App/ExtensibilityRoutes.js
  core-ui/src/state/navigation/extensibilityNodeAtom.ts
  core-ui/src/state/navigation/extensibilityNodesSelector.ts
  core-ui/src/state/navigation/sidebarNavigationNodesSelector.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix
  core-ui/src/components/NoPermissions/NoPermissions.tsx
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix cluster list routes
  core-ui/src/components/App/ExtensibilityRoutes.js
  core-ui/src/components/App/NamespaceRoutes.js
  core-ui/src/components/Extensibility/ExtensibilityList.js
  core-ui/src/components/Extensibility/useGetCRbyPath.js
  core-ui/src/resources/helpers.js
  core-ui/src/state/navigation/extensibilityNodeAtom.ts
  core-ui/src/state/navigation/sidebarNavigationNodesSelector.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix actions in general for list view
  core-ui/src/components/Extensibility/ExtensibilityList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

chnage || to ??
  core-ui/src/components/Extensibility/ExtensibilityList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix for ext without urlPath
  core-ui/src/components/App/ExtensibilityRoutes.js
  core-ui/src/components/Extensibility/useGetCRbyPath.js
  core-ui/src/resources/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix actions in general for list view (#2097)
  core-ui/src/components/Extensibility/ExtensibilityList.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix navigate fn
  core-ui/src/components/Extensibility/ExtensibilityDetails.js
  core-ui/src/resources/helpers.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix extensibility links
  core-ui/src/components/Extensibility/ExtensibilityDetails.js
  core-ui/src/components/Extensibility/ExtensibilityList.js
  core-ui/src/components/Extensibility/components/ResourceList.js
  core-ui/src/resources/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Pluralize
  core-ui/src/components/App/ExtensibilityRoutes.js
  core-ui/src/components/Extensibility/useGetCRbyPath.js
  core-ui/src/state/resourceList/mapExtResourceToNavNode.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix extensibility lists (#2098)
  core-ui/src/components/App/App.js
  core-ui/src/components/App/ClusterRoutes.js
  core-ui/src/components/App/ExtensibilityRoutes.js
  core-ui/src/components/App/NamespaceRoutes.js
  core-ui/src/components/Extensibility/ExtensibilityDetails.js
  core-ui/src/components/Extensibility/ExtensibilityList.js
  core-ui/src/components/Extensibility/components/ResourceList.js
  core-ui/src/components/Extensibility/useGetCRbyPath.js
  core-ui/src/resources/helpers.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
  core-ui/src/state/navigation/extensibilityNodeAtom.ts
  core-ui/src/state/navigation/extensibilityNodesSelector.ts
  core-ui/src/state/navigation/sidebarNavigationNodesSelector.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

HandleResetEndpoint
  core-ui/src/components/App/App.js
  core-ui/src/components/Clusters/shared.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

rename
  core-ui/src/components/App/App.js
  core-ui/src/components/Clusters/shared.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test
