Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

Review change
  .nvmrc
  core-ui/src/components/Predefined/Create/Jobs/CronJobs.create.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Review change
  .nvmrc
  core-ui/src/components/Predefined/Create/Jobs/Jobs.create.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Use symlink instead of new file
  backend/config/config.json
  core/src/assets/config/config.json
Due: pre-busola-backend-deployment-check, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add possibility to disable sidecars for jobs and cronjobs (#940)
  core-ui/src/components/Predefined/Create/Jobs/CronJobs.create.js
  core-ui/src/components/Predefined/Create/Jobs/Jobs.create.js
  core-ui/src/components/Predefined/Create/Jobs/templates.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Bump but not only
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add docs
  docs/features.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Fix linter
  core/src/assets/config/config.json
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Explain more
  docs/features.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Add JWT protection for backend (#937)
  backend/config/config.json
  backend/index.js
  backend/jwtCheck.js
  backend/package-lock.json
  backend/package.json
  core/src/assets/config/config.json
  docs/features.md
  resources/backend/deployment.yaml
  resources/web/configmap.yaml
  resources/web/deployment.yaml
Due: pre-busola-backend-deployment-check, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Added navgateTo function and replace it to specs
  tests/support/delete-in-details.js
  tests/support/monaco.js
  tests/support/navigate-to.js
  tests/tests/certificates.spec.js
  tests/tests/cluster-configuration.spec.js
  tests/tests/create-a-role.spec.js
  tests/tests/create-an-api-rule.spec.js
  tests/tests/create-configuration-resources.spec.js
  tests/tests/in-cluster-eventing.spec.js
  tests/tests/reduced-permissions.spec.js
  tests/tests/run-after.spec.js
  tests/tests/run-before.spec.js
  tests/tests/test-HPA.spec.js
  tests/tests/test-application.spec.js
  tests/tests/test-cluster-role-bindings.spec.js
  tests/tests/test-config-maps.spec.js
  tests/tests/test-cron-jobs.spec.js
  tests/tests/test-custom-resource-definitions.spec.js
  tests/tests/test-daemon-sets.spec.js
  tests/tests/test-dns-entries.spec.js
  tests/tests/test-dns-providers.spec.js
  tests/tests/test-gateways.spec.js
  tests/tests/test-git-repositories.spec.js
  tests/tests/test-ingresses.spec.js
  tests/tests/test-issuers.spec.js
  tests/tests/test-jobs.spec.js
  tests/tests/test-oauth2.spec.js
  tests/tests/test-persistent-volume-claims.spec.js
  tests/tests/test-persistent-volumes.spec.js
  tests/tests/test-protected-resources.spec.js
  tests/tests/test-replica-sets.spec.js
  tests/tests/test-secrets.spec.js
  tests/tests/test-service-accounts.spec.js
  tests/tests/test-statefulsets.spec.js
  tests/tests/test-storage-classes.spec.js
  tests/tests/test-virtual-services.spec.js
  tests/tests/test.settings.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add error boundry to monaco editors
  core-ui/src/components/Clusters/components/AddClusterWizard.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  shared/components/ErrorBoundary/ErrorBoundary.js
  shared/contexts/YamlEditorContext/YamlContent.js
  shared/index.js
  shared/utils/getComponentForResource.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Added navgateTo function and replace it to specs
  tests/support/navigate-to.js
  tests/tests/run-after.spec.js
  tests/tests/run-before.spec.js
  tests/tests/test-HPA.spec.js
  tests/tests/test-api-rules.spec.js
  tests/tests/test-applications.spec.js
  tests/tests/test-certificates.spec.js
  tests/tests/test-cluster-configuration.spec.js
  tests/tests/test-cluster-role-bindings.spec.js
  tests/tests/test-config-maps.spec.js
  tests/tests/test-cron-jobs.spec.js
  tests/tests/test-custom-resource-definitions.spec.js
  tests/tests/test-daemon-sets.spec.js
  tests/tests/test-destination-rules.spec.js
  tests/tests/test-dns-entries.spec.js
  tests/tests/test-dns-providers.spec.js
  tests/tests/test-gateways.spec.js
  tests/tests/test-git-repositories.spec.js
  tests/tests/test-in-cluster-eventing.spec.js
  tests/tests/test-ingresses.spec.js
  tests/tests/test-issuers.spec.js
  tests/tests/test-jobs.spec.js
  tests/tests/test-oauth2.spec.js
  tests/tests/test-persistent-volume-claims.spec.js
  tests/tests/test-persistent-volumes.spec.js
  tests/tests/test-protected-resources.spec.js
  tests/tests/test-reduced-permissions.spec.js
  tests/tests/test-replica-sets.spec.js
  tests/tests/test-roles.spec.js
  tests/tests/test-secrets.spec.js
  tests/tests/test-service-accounts.spec.js
  tests/tests/test-settings.spec.js
  tests/tests/test-stateful-sets.spec.js
  tests/tests/test-storage-classes.spec.js
  tests/tests/test-virtual-services.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Navdate to navigate
  tests/tests/test-config-maps.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add deeplinks for secrets and persistent volume claims
  core-ui/src/components/Predefined/Details/Pod/Pod.details.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump image
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Added import
  tests/support/index.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Removed unnecesary load function files
  tests/support/loadCRD.js
  tests/support/loadDR.js
  tests/support/loadFile.js
  tests/support/loadHPA.js
  tests/support/loadIngress.js
  tests/support/loadKubeconfigFile.js
  tests/support/loadPV.js
  tests/support/loadPVC.js
  tests/tests/test-HPA.spec.js
  tests/tests/test-custom-resource-definitions.spec.js
  tests/tests/test-destination-rules.spec.js
  tests/tests/test-dns-entries.spec.js
  tests/tests/test-ingresses.spec.js
  tests/tests/test-multiple-context-kubeconfig.spec.js
  tests/tests/test-persistent-volume-claims.spec.js
  tests/tests/test-persistent-volumes.spec.js
  tests/tests/test-storage-classes.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Change loadKubeconfig to loadfile
  tests/support/loadKubeconfigFile.js
  tests/support/login-commands.js
  tests/tests/test-in-cluster-eventing.spec.js
  tests/tests/test-login-kubeconfigID.spec.js
  tests/tests/test-multiple-context-kubeconfig.spec.js
  tests/tests/test-other-login-options.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Added delete in details function
  tests/support/commands.js
  tests/tests/test-cluster-role-bindings.spec.js
  tests/tests/test-custom-resource-definitions.spec.js
  tests/tests/test-in-cluster-eventing.spec.js
  tests/tests/test-reduced-permissions.spec.js
  tests/tests/test-service-accounts.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Replace visible
  tests/support/views/api-rules-view.js
  tests/support/views/functions-view.js
  tests/tests/test-dns-providers.spec.js
  tests/tests/test-gateways.spec.js
  tests/tests/test-git-repositories.spec.js
  tests/tests/test-roles.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Repair ingress tests
  tests/tests/test-ingresses.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Everybody makes mistakes
  tests/tests/test-reduced-permissions.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add sidecars to the luigi navigation
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Change monaco test flow
  tests/support/commands.js
  tests/support/paste-to-monaco.js
  tests/support/views/functions-view.js
  tests/tests/test-HPA.spec.js
  tests/tests/test-custom-resource-definitions.spec.js
  tests/tests/test-destination-rules.spec.js
  tests/tests/test-persistent-volume-claims.spec.js
  tests/tests/test-persistent-volumes.spec.js
  tests/tests/test-storage-classes.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add sidecar create via yaml feature
  core-ui/src/components/Predefined/Create/Sidecars/Sidecars.create.js
  core-ui/src/components/Predefined/Create/Sidecars/templates.js
  core-ui/src/components/Predefined/Create/index.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Refactor, basic version
  core-ui/src/components/Predefined/Details/Namespace/YamlUpload/YamlFileUploader.js
  core-ui/src/components/Predefined/Details/Namespace/YamlUpload/YamlResourcesList.js
  core-ui/src/components/Predefined/Details/Namespace/YamlUpload/YamlSend.js
  core-ui/src/components/Predefined/Details/Namespace/YamlUpload/YamlUpload.js
  core-ui/src/components/Predefined/Details/Namespace/YamlUpload/YamlUploadDialog.js
  core-ui/src/components/Predefined/Details/Namespace/YamlUpload/YamlUploadDialog.scss
  core-ui/src/components/Predefined/Details/Namespace/YamlUpload/YamlUploadWizard.js
  core-ui/src/components/Predefined/Details/Namespace/YamlUpload/YamlValidate.js
  core-ui/src/components/Predefined/Details/Namespace/YamlUpload/useResourceType.js
  core-ui/src/components/Predefined/Details/Namespace/YamlUpload/useUploadResources.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Repair monaco flow
  tests/support/index.js
  tests/support/paste-to-monaco.js
  tests/support/views/functions-view.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

code refactor
  core/src/i18n/en.yaml
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  shared/utils/getComponentForResource.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Change Back to Namespaces to Back to Cluster Overview, add namespaces overview to namespaces dropdown
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
  tests/tests/run-before.spec.js
  tests/tests/test-applications.spec.js
  tests/tests/test-reduced-permissions.spec.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Forgot to save some files
  tests/tests/test-api-rules.spec.js
  tests/tests/test-events.spec.js
  tests/tests/test-ingresses.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Remove unnecesary exports
  tests/tests/test-custom-resource-definitions.spec.js
  tests/tests/test-multiple-context-kubeconfig.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Blind dev tryes to repair cypress
  tests/support/paste-to-monaco.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Cleanup
  core-ui/src/components/Predefined/Details/Namespace/YamlUpload/YamlResourcesList.js
  core-ui/src/components/Predefined/Details/Namespace/YamlUpload/YamlUpload.js
  core-ui/src/components/Predefined/Details/Namespace/YamlUpload/YamlUploadDialog.js
  core-ui/src/components/Predefined/Details/Namespace/YamlUpload/useUploadResources.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Better idea
  tests/support/paste-to-monaco.js
  tests/tests/test-custom-resource-definitions.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Move create outside wrap
  tests/tests/test-custom-resource-definitions.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Debugging
  tests/cypress.json
  tests/tests/test-custom-resource-definitions.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

More debugging
  tests/tests/test-custom-resource-definitions.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add icon
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/navigation-helpers.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add links to CRs with custom busola pages
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
