Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

feat: add trycatch when parsing JSON
  core-ui/src/state/utils/effects.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix: preferences data-test-id
  core/src/luigi-config/settings.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

feat: add basic themeAtom
  core-ui/src/state/preferences/themeAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

feat: add logic to change theme in Luigi and React
  core-ui/src/components/Preferences/ThemeChooser.js
  core-ui/src/shared/contexts/Microfrontend.js
  core-ui/src/state/preferences/themeAtom.ts
  core-ui/src/state/utils/effects.ts
  core/src/luigi-config/communication.js
  core/src/luigi-config/utils/theme.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

feat: wip getting theme from localstorage on init
  core-ui/src/components/App/App.js
  core-ui/src/shared/contexts/ThemeContext.js
  core-ui/src/state/preferences/themeAtom.ts
  core-ui/src/state/utils/effects.ts
  core/src/luigi-config/utils/theme.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove the rest of VS and add extensibility list to APIRules for VS
  core-ui/src/components/Extensibility/ExtensibilityList.js
  core-ui/src/resources/APIRules/Services.js
  core-ui/src/resources/VirtualServices/VirtualServiceCreate.js
  core-ui/src/resources/VirtualServices/VirtualServiceList.js
  core-ui/src/resources/VirtualServices/templates.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

feat: replace useTheme usage with recoil theme value
  core-ui/src/components/Extensibility/ExtensibilityErrBoundary.js
  core-ui/src/hooks/useCssVariables.js
  core-ui/src/shared/components/GraphLegend/GraphLegend.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useCreateEditor.js
  core-ui/src/shared/components/ReadonlyEditorPanel.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix resourceList in ApiRules
  core-ui/src/resources/APIRules/Services.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

change alert to cosole error in try ctach
  core-ui/src/components/Extensibility/components/ResourceList.js
  core-ui/src/resources/APIRules/Services.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

separate dependencies rerendering atoms unnecessarily
  core-ui/src/components/App/useLuigiContextMigrator.js
  core-ui/src/sidebar/SidebarNavigation.js
  core-ui/src/state/configFeatures/lazyConfigFeaturesAtom.ts
  core-ui/src/state/navigation/clusterAndNsNodesSelector.ts
  core-ui/src/state/openapi/openapiAtom.ts
  core-ui/src/state/openapi/openapiPathIdSelector.ts
  core-ui/src/state/resourceList/resourceListSelector.ts
  core-ui/src/state/types.ts
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

code refactor
  core-ui/src/sidebar/SidebarNavigation.js
  core-ui/src/state/extResourcesAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Work on expanded categories, add draft header
  core-ui/src/components/App/App.js
  core-ui/src/components/App/App.scss
  core-ui/src/header/Header.js
  core-ui/src/header/Header.scss
  core-ui/src/sidebar/SidebarNavigation.js
  core-ui/src/state/navigation/expandedCategoriesAtom.ts
  core-ui/src/state/utils/effects.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

feat: working solution when initializing theme
  core-ui/src/state/preferences/themeAtom.ts
  core-ui/src/state/utils/effects.ts
  core/src/luigi-config/utils/theme.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix: cleaning effects and themeAtom
  core-ui/src/state/preferences/themeAtom.ts
  core-ui/src/state/utils/effects.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add trycatch
  core-ui/src/state/utils/effects.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

align sidecars test
  tests/tests/namespace/test-sidecars.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove unnecesary things from sidecards test
  tests/fixtures/test-sidecar.yaml
  tests/tests/namespace/test-sidecars.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove sidecars
  core-ui/src/resources/Sidecars/IstioListeners.js
  core-ui/src/resources/Sidecars/IstioListeners.scss
  core-ui/src/resources/Sidecars/SidecarCreate.js
  core-ui/src/resources/Sidecars/SidecarDetails.js
  core-ui/src/resources/Sidecars/SidecarList.js
  core-ui/src/resources/Sidecars/index.js
  core-ui/src/resources/Sidecars/templates.js
  core-ui/src/resources/index.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

align tests
  tests/fixtures/test-sidecar.yaml
  tests/tests/namespace/test-sidecars.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove sidecars from navigation
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove service entries
  core-ui/src/resources/ServiceEntries/Endpoints.js
  core-ui/src/resources/ServiceEntries/ServiceEntryCreate.js
  core-ui/src/resources/ServiceEntries/ServiceEntryDetails.js
  core-ui/src/resources/ServiceEntries/ServiceEntryList.js
  core-ui/src/resources/ServiceEntries/index.js
  core-ui/src/resources/ServiceEntries/templates.js
  core-ui/src/resources/index.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix test
  tests/tests/namespace/test-sidecars.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add top nav dropdown
  core-ui/src/components/App/App.scss
  core-ui/src/components/App/useLuigiContextMigrator.js
  core-ui/src/header/Header.js
  core-ui/src/sidebar/SidebarNavigation.js
  core-ui/src/state/activeClusterNameAtom.ts
  core-ui/src/state/clustersAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Open settings, fix keys
  core-ui/src/components/App/App.scss
  core-ui/src/header/Header.js
  core-ui/src/header/Header.scss
  core-ui/src/sidebar/SidebarNavigation.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

really dump fix
  tests/tests/namespace/test-sidecars.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

observability nodes merged in
  core-ui/src/shared/hooks/BackendAPI/useFetch.ts
  core-ui/src/state/navigation/categories.ts
  core-ui/src/state/navigation/observabilityNodesSelector.ts
  core-ui/src/state/navigation/sidebarNavigationNodesSelector.ts
  core-ui/src/state/types.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Use recoil for namespaceid
  core-ui/src/sidebar/SidebarNavigation.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove theme context
  core-ui/src/shared/contexts/ThemeContext.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

rewrite ThemeChooser and TileButton components to Typescript
  core-ui/src/components/Preferences/ThemeChooser.tsx
  core-ui/src/shared/components/TileButton/TileButton.tsx
  core-ui/src/state/preferences/themeAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix: localStorageEffect and Appjs
  core-ui/src/components/App/App.js
  core-ui/src/state/utils/effects.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix: language settings and storing to localStorage
  core-ui/src/components/Preferences/LanguageSettings.tsx
  core/src/luigi-config/communication.js
  core/src/luigi-config/luigi-config.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

get rid of infinite loops
  core-ui/src/components/Extensibility/hooks/useJsonata.js
  core-ui/src/components/Extensibility/hooks/useVariables.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Docs
  docs/extensibility/form-section.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

fix tests
  tests/tests/namespace/test-sidecars.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
