Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs, pull-busola-pjtester, pull-busola-vpathguard

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

feat: improve useAvailableNamespaces to skip fetching data, add proper label in NamespaceDropdown
  core-ui/src/header/Header.tsx
  core-ui/src/header/NamespaceDropdown/NamespaceDropdown.tsx
  core-ui/src/hooks/useAvailableNamespaces.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

fix: handle missing namespace on resourceslist
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

adopted the tests and removed code base and little improvements DNSEntries
  core-ui/public/i18n/en.yaml
  core-ui/src/resources/DnsEntries/DNSNameRef.js
  core-ui/src/resources/DnsEntries/DnsEntryCreate.js
  core-ui/src/resources/DnsEntries/DnsEntryDetails.js
  core-ui/src/resources/DnsEntries/DnsEntryList.js
  core-ui/src/resources/DnsEntries/TargetsRef.js
  core-ui/src/resources/DnsEntries/TargetsRef.scss
  core-ui/src/resources/DnsEntries/helpers.js
  core-ui/src/resources/DnsEntries/index.js
  core-ui/src/resources/index.js
  examples/resources/configuration/dns-entries.yaml
  tests/tests/namespace/test-dns-entries.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix lint errors, remove unnecessary changes
  core-ui/src/components/App/ClusterRoutes.js
  core-ui/src/components/App/resourceSchemas/useResourceSchemas.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Fix getting schemas after cluster change (#2231)
  core-ui/src/components/App/resourceSchemas/useResourceSchemas.ts
  core-ui/src/state/authDataAtom.ts
  core-ui/src/state/openapi/openapiLastFetchedAtom.ts
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

changed the image value
  resources/web/deployment.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

bump image version
  resources/web/deployment.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

use loadable state
  core-ui/src/components/App/resourceSchemas/useResourceSchemas.ts
  core-ui/src/state/openapi/openapiPathIdSelector.ts
  core-ui/src/state/openapi/openapiSelector.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

fix switching between clusters
  core-ui/src/components/App/resourceSchemas/useResourceSchemas.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Adjust permissions, add tests
  core-ui/src/state/navigation/extensionsAtom.ts
  core-ui/src/state/navigation/filters/permissions.ts
  tests/cypress.json
  tests/support/commands.js
  tests/tests/namespace/test-reduced-permissions--configuration.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

bump
  resources/web/deployment.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

properly handle the "required" value in resource ref
  core-ui/src/components/Extensibility/components-form/ResourceRefRenderer.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

configmap for issuers and adjusted tests
  examples/resources/configuration/issuers.yaml
  tests/tests/namespace/test-issuers.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

removed old codebase
  core-ui/public/i18n/en.yaml
  core-ui/src/components/Clusters/views/EditCluster/AuthenticationDropdown.js
  core-ui/src/resources/Issuers/IssuerCreate.js
  core-ui/src/resources/Issuers/IssuerDetails.js
  core-ui/src/resources/Issuers/IssuerDomains.js
  core-ui/src/resources/Issuers/IssuerList.js
  core-ui/src/resources/Issuers/IssuerTypeDropdown.js
  core-ui/src/resources/Issuers/helpers.js
  core-ui/src/resources/Issuers/index.js
  core-ui/src/resources/Issuers/templates.js
  core-ui/src/resources/index.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

bump deployment
  resources/web/deployment.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

fix: bring back old things
  core-ui/src/header/Header.tsx
  core-ui/src/hooks/useAvailableNamespaces.ts
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

generalize required
  core-ui/src/components/Extensibility/components-form/MonacoRenderer.js
  core-ui/src/components/Extensibility/components-form/SimpleList.js
  core-ui/src/components/Extensibility/components-form/index.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

adjusted tests
  tests/tests/namespace/test-dns-providers.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

removed old codebase
  core-ui/public/i18n/en.yaml
  core-ui/src/resources/DnsProviders/DnsProviderCreate.js
  core-ui/src/resources/DnsProviders/DnsProviderDetails.js
  core-ui/src/resources/DnsProviders/DnsProviderList.js
  core-ui/src/resources/DnsProviders/ProviderTypeDropdown.js
  core-ui/src/resources/DnsProviders/index.js
  core-ui/src/resources/DnsProviders/templates.js
  core-ui/src/resources/index.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Goodbye
  core-ui/src/state/navigation/extensionsAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

feat: add types to NotificationContext
  core-ui/src/shared/contexts/ErrorModal/ErrorModal.tsx
  core-ui/src/shared/contexts/NotificationContext.tsx
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

remove notification context js
  core-ui/src/shared/contexts/NotificationContext.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Set data-testid for variable fields
  core-ui/src/components/Extensibility/components-form/Jsonata.js
  core-ui/src/components/Extensibility/components-form/MultiType.js
  core-ui/src/components/Extensibility/components-form/NumberRenderer.js
  core-ui/src/components/Extensibility/components-form/ResourceRenderer.js
  core-ui/src/components/Extensibility/components-form/StringRenderer.js
  core-ui/src/components/Extensibility/components-form/SwitchRenderer.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

Add configmap and crd for testing resource
  examples/testing/configuration/test-resource-configmap.yaml
  examples/testing/configuration/test-resource-crd.yaml
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

fixed path issue with SimpleList and adjusted tests
  examples/resources/configuration/dns-providers.yaml
  tests/tests/namespace/test-dns-providers.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix: navigating to not existing resurce
  core-ui/src/components/App/NamespaceRoutes.tsx
  core-ui/src/shared/contexts/NotificationContext.tsx
  core-ui/src/state/navigation/extensionsAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

fix improts order
  core-ui/src/header/Header.tsx
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

add new lines in Header file
  core-ui/src/header/Header.tsx
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

fix extensibility isEnabled
  core-ui/public/defaultConfig.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

fix: WIP, add comments in polish from Piotr
  core-ui/src/state/navigation/extensionsAtom.ts
  tests/tests/namespace/test-reduced-permissions--configuration.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

configmap
  examples/resources/configuration/servicebindigs.yaml
Due: post-busola-smoke-test-docker, post-busola-integration-test-k3s, pre-busola-ui-test

properly handle the "required" value in resource ref (#2236)
  core-ui/src/components/Extensibility/components-form/MonacoRenderer.js
  core-ui/src/components/Extensibility/components-form/ResourceRefRenderer.js
  core-ui/src/components/Extensibility/components-form/SimpleList.js
  core-ui/src/components/Extensibility/components-form/index.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

remove Daria and Piotr as CODEOWNERS :sadcat: it was a pleasure to work with both of you
  CODEOWNERS
Due: none

small test adjustment
  tests/tests/namespace/test-dns-providers.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove Daria and Piotr as CODEOWNERS :sadcat: it was a pleasure to work with both of you (#2239)
  CODEOWNERS
Due: none

whoops, wrong deployment number
  resources/web/deployment.yaml
Due: pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-lighthouse, post-busola-lighthouse, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-smoke-test-docker: any of: ^resources/|^tests/
  post-busola-smoke-test-docker: any of: /
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-lighthouse: any of: ^resources/|^lighthouse/|^nginx/
  post-busola-lighthouse: any of: ^resources/|^lighthouse/|^nginx/
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-busola-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-busola-vpathguard: any of: ^(vpath/pjtester.yaml)
