Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-integration-test-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-integration-test-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

post-busola-integration-test-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-integration-test-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'false'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

Improve wait
  tests/tests/test-crds.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add wait and change code from 500 to 502
  backend/common.js
  tests/tests/test-crds.spec.js
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Upgrade alpine
  Dockerfile
  Dockerfile.local
  backend/Dockerfile
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

three-times-a-charm
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  core-ui/src/components/Predefined/Create/Deployments/ResourceForm.js
  core-ui/src/shared/components/CreateForm/CollapsibleSection/CollapsibleSection.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

WIP so hard again
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  core-ui/src/components/Predefined/Create/Deployments/ResourceForm.js
  core-ui/src/shared/components/CreateForm/CollapsibleSection/CollapsibleSection.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Upgrade alpine to 3.14.2 & improve backend logger (#392)
  Dockerfile
  Dockerfile.local
  backend/Dockerfile
  backend/common.js
  resources/backend/deployment.yaml
  tests/tests/test-crds.spec.js
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Tie up some loose ends, renderEditor concept
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  core-ui/src/components/Predefined/Create/Deployments/ResourceForm.js
  core-ui/src/components/Predefined/Details/Namespace/DeployNewWorkload.js
  core-ui/src/index.scss
  core-ui/src/shared/components/CreateForm/CreateForm.scss
  shared/components/K8sNameInput/K8sNameInput.js
  shared/components/ResourcesList/ResourcesList.js
  shared/components/ResourcesList/ResourcesList.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Add i18n for DNS providers and entries
  core-ui/src/components/Predefined/Create/DNSEntries/AdvancedForm.js
  core-ui/src/components/Predefined/Create/DNSEntries/CreateDNSEntryForm.js
  core-ui/src/components/Predefined/Create/DNSEntries/SimpleForm.js
  core-ui/src/components/Predefined/Create/DNSProviders/AdvancedForm.js
  core-ui/src/components/Predefined/Create/DNSProviders/CreateDNSProviderForm.js
  core-ui/src/components/Predefined/Create/DNSProviders/ProviderTypeDropdown.js
  core-ui/src/components/Predefined/Create/DNSProviders/SimpleForm.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Upgrade web deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Rename version to apc
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Handle labels
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  core-ui/src/components/Predefined/Create/Deployments/ResourceForm.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Add cosign signing step
  Makefile
Due: none

test
  Makefile
Due: none

Add cosign signing step (#393)
  Makefile
Due: none

Yeah, progress I guess
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.scss
  core-ui/src/components/Predefined/Create/Deployments/ResourceForm.js
  core-ui/src/shared/components/CreateForm/Editor/Editor.js
  core-ui/src/shared/components/CreateForm/Editor/Editor.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Remove faulty mock
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Bump image
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Remove commented line
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Remove spaces
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Enable access strategy test (#397)
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Don't remove status from code
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

All the small things
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  core-ui/src/components/Predefined/Create/Deployments/ResourceForm.js
  core-ui/src/components/Predefined/Create/Deployments/ResourceForm.scss
  core-ui/src/shared/components/CreateForm/CollapsibleSection/CollapsibleSection.js
  core-ui/src/shared/components/CreateForm/Editor/Editor.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix console errors
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
  shared/components/GenericList/GenericList.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Polishing!
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/VariableForm/VariableModal.js
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  core-ui/src/components/Predefined/Create/Deployments/ResourceForm.js
  core-ui/src/components/Predefined/Create/Deployments/ResourceForm.scss
  core-ui/src/components/Predefined/Details/ConfigMap/ConfigMap.details.js
  core-ui/src/components/Predefined/Details/Namespace/DeployNewWorkload.js
  core-ui/src/components/Predefined/Details/Secret/Secret.details.js
  core-ui/src/index.scss
  core-ui/src/shared/components/CreateForm/CollapsibleSection/CollapsibleSection.js
  core-ui/src/shared/components/CreateForm/CollapsibleSection/CollapsibleSection.scss
  core-ui/src/shared/components/CreateForm/Editor/Editor.js
  shared/components/ResourcesList/ResourcesList.js
  shared/components/ResourcesList/ResourcesList.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Revert changes in GenericList
  shared/components/GenericList/GenericList.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Fix Cypress test for CRDs (#391)
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
  resources/web/deployment.yaml
  tests/tests/test-crds.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add pino-http logger to the backend
  backend/common.js
  backend/package-lock.json
  backend/package.json
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Upgrade backend deployment
  resources/backend/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix review comments
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Move templates to separate file, add handling for non-objects
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.scss
  core-ui/src/components/Predefined/Create/Deployments/templates.js
  core-ui/src/shared/components/CreateForm/Editor/Editor.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Reorder things
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  core-ui/src/components/Predefined/Create/ResourceForm/ResourceForm.js
  core-ui/src/components/Predefined/Create/ResourceForm/ResourceForm.scss
  core-ui/src/components/Predefined/Create/ResourceForm/components/Editor.js
  core-ui/src/components/Predefined/Create/ResourceForm/components/Editor.scss
  core-ui/src/components/Predefined/Create/ResourceForm/components/FormComponents.js
  core-ui/src/components/Predefined/Create/ResourceForm/components/FormComponents.scss
  core-ui/src/components/Predefined/Create/ResourceForm/components/ModeSelector.js
  core-ui/src/components/Predefined/Create/ResourceForm/components/ModeSelector.scss
  core-ui/src/components/Predefined/Create/ResourceForm/components/Presets.js
  core-ui/src/shared/components/CreateForm/CollapsibleSection/CollapsibleSection.js
  core-ui/src/shared/components/CreateForm/CreateForm.scss
  core-ui/src/shared/components/CreateForm/Editor/Editor.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Format
  core-ui/src/components/Predefined/Create/ResourceForm/components/Editor.scss
  core-ui/src/components/Predefined/Create/ResourceForm/components/FormComponents.scss
  core-ui/src/components/Predefined/Create/ResourceForm/components/ModeSelector.scss
  core-ui/src/shared/components/CreateForm/CollapsibleSection/CollapsibleSection.scss
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Improve editor styles
  core-ui/src/components/Predefined/Create/ResourceForm/components/Editor.js
  core-ui/src/components/Predefined/Create/ResourceForm/components/Editor.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Add filter of sensitive data
  backend/common.js
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Handle presets, remove some deployment stuff
  core-ui/src/components/Predefined/Create/Deployments/AdvancedForm.js
  core-ui/src/components/Predefined/Create/Deployments/AdvancedForm.scss
  core-ui/src/components/Predefined/Create/Deployments/Containers.js
  core-ui/src/components/Predefined/Create/Deployments/CreateDeploymentForm.js
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  core-ui/src/components/Predefined/Create/Deployments/SimpleForm.js
  core-ui/src/components/Predefined/Create/Deployments/helpers.js
  core-ui/src/components/Predefined/Create/Deployments/templates.js
  core-ui/src/components/Predefined/Create/ResourceForm/ResourceForm.js
  shared/components/ModalWithForm/ModalWithForm.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Fix requests
  backend/common.js
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Add working filtering
  backend/common.js
Due: pre-busola-backend-deployment-check, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
