Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$

Set default values
  core-ui/src/components/Clusters/components/AuthForm.js
  core-ui/src/components/Clusters/components/oidc-params.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

implement basic jobs
  core-ui/src/components/Predefined/Details/Job/Job.details.js
  core-ui/src/components/Predefined/Details/ResourcePods.js
  core-ui/src/components/Predefined/Details/index.js
  core-ui/src/components/Predefined/List/Jobs.list.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

fix import
  core-ui/src/components/Predefined/Details/Job/Job.details.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Revert overzealous changes, fix stupid naming
  core-ui/src/components/Predefined/Details/CronJobs/CronJob.details.js
  core-ui/src/components/Predefined/Details/CronJobs/CronJobJobs.js
  core-ui/src/components/Predefined/Details/Deployment.details.js
  core-ui/src/components/Predefined/Details/DeploymentPods.js
  core-ui/src/components/Predefined/Details/index.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

SCHEDUE
  core-ui/src/components/Predefined/Details/CronJobs/CronJob.details.js
  core-ui/src/components/Predefined/List/CronJobs.list.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Fix descriptions
  core-ui/src/components/Predefined/Details/CronJobs/CronJobConcurrencyPolicy.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Add translations
  core-ui/src/components/Predefined/Details/CronJobs/CronJob.details.js
  core-ui/src/components/Predefined/Details/CronJobs/CronJobConcurrencyPolicy.js
  core-ui/src/components/Predefined/List/CronJobs.list.js
  core-ui/src/shared/components/CronJob/CronJobLastScheduleTime.js
  core-ui/src/shared/components/CronJob/CronJobSchedule.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

reorg jobs
  core-ui/src/components/Predefined/Details/Job/Job.details.js
  core-ui/src/components/Predefined/Details/Job/JobCompletions.js
  core-ui/src/components/Predefined/List/Jobs.list.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Cron Jobs (#317)
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Predefined/Details/CronJobs/CronJob.details.js
  core-ui/src/components/Predefined/Details/CronJobs/CronJobConcurrencyPolicy.js
  core-ui/src/components/Predefined/Details/CronJobs/CronJobJobs.js
  core-ui/src/components/Predefined/Details/index.js
  core-ui/src/components/Predefined/List/CronJobs.list.js
  core-ui/src/components/Predefined/List/index.js
  core-ui/src/shared/components/CronJob/CronJobLastScheduleTime.js
  core-ui/src/shared/components/CronJob/CronJobSchedule.js
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/deployment.yaml
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  shared/contexts/YamlEditorContext/isValidYaml.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Refactor yaml file
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
  service-catalog-ui/src/components/ServiceClassList/ServiceClassList.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Sort yaml entries
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Sort yaml
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

improve job details
  core-ui/src/components/Predefined/Details/CronJobs/CronJobJobs.js
  core-ui/src/components/Predefined/Details/Job/Job.details.js
  core-ui/src/components/Predefined/Details/Job/JobConditions.js
  core-ui/src/components/Predefined/List/Jobs.list.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

remove console.log
  core-ui/src/components/Predefined/Details/Job/JobConditions.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

improve conditions list
  core-ui/src/components/Predefined/Details/Job/JobConditions.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

use ResourcePods for replica sets
  core-ui/src/components/Predefined/Details/Job/Job.details.js
  core-ui/src/components/Predefined/Details/Replicaset.details.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

image version bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

link to last job in cron job
  core-ui/src/components/Predefined/Details/CronJobs/CronJob.details.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

remove unnecessary imports
  core-ui/src/components/Predefined/Details/CronJobs/CronJob.details.js
  core-ui/src/components/Predefined/Details/Replicaset.details.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

fix configuration not being updated immediately
  core/src/luigi-config/communication.js
  core/src/luigi-config/utils/feature-toggles.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Small renaming
  core-ui/src/components/Clusters/components/AuthForm.js
  core-ui/src/components/Clusters/components/ClusterConfiguration.js
  core-ui/src/components/Clusters/components/ContextChooser/ContextChooser.js
  core-ui/src/components/Clusters/components/KubeconfigUpload/KubeconfigTextArea/KubeconfigTextArea.js
  core-ui/src/components/Clusters/components/KubeconfigUpload/KubeconfigUpload.js
  core-ui/src/components/Clusters/views/AddCluster/AddCluster.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

move checkbox inside the delete confirmation dialog
  shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Set custom validation
  core-ui/src/components/Clusters/components/AuthForm.js
  core-ui/src/components/Clusters/components/ClusterConfiguration.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Job workloads (#319)
  core-ui/src/components/Predefined/Details/CronJobs/CronJob.details.js
  core-ui/src/components/Predefined/Details/CronJobs/CronJobJobs.js
  core-ui/src/components/Predefined/Details/Deployment.details.js
  core-ui/src/components/Predefined/Details/Job/Job.details.js
  core-ui/src/components/Predefined/Details/Job/JobCompletions.js
  core-ui/src/components/Predefined/Details/Job/JobConditions.js
  core-ui/src/components/Predefined/Details/Replicaset.details.js
  core-ui/src/components/Predefined/Details/ResourcePods.js
  core-ui/src/components/Predefined/Details/index.js
  core-ui/src/components/Predefined/List/Jobs.list.js
  core-ui/src/components/Predefined/List/index.js
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

use css variable for the luigi menu background
  core/src/index.css
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

bump image
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

bump backend
  resources/backend/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

add translations to ResourcesList
  core-ui/src/shared/getComponents.js
  core/src/i18n/en.yaml
  shared/components/ResourcesList/ResourcesList.js
  shared/utils/getComponentForResource.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

change delete button colour
  shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Update core/src/i18n/en.yaml
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Move menu texts to i18n yaml file (#315)
  CODEOWNERS
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/deployment.yaml
  service-catalog-ui/src/components/ServiceClassList/ServiceClassList.js
  shared/components/K8sNameInput/K8sNameInput.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Delete confirmation (#316)
  core-ui/src/components/Predefined/List/Namespaces.list.js
  core-ui/src/components/Preferences/ConfirmationSettings.js
  core-ui/src/components/Preferences/LanguageSettings.js
  core-ui/src/components/Preferences/NamespaceSettings.js
  core-ui/src/components/Preferences/Preferences.js
  core-ui/src/components/Preferences/test/NamespaceSettings.test.js
  core-ui/src/shared/getComponents.js
  core/src/i18n/en.yaml
  core/src/luigi-config/communication.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/utils/feature-toggles.js
  core/src/luigi-config/utils/hidden-namespaces-toggle.js
  resources/web/deployment.yaml
  shared/components/ListActions/ListActions.js
  shared/components/ResourcesList/ResourcesList.js
  shared/hooks/index.js
  shared/hooks/test/useFeatureToggle.test.js
  shared/hooks/useFeatureToggle.js
  shared/hooks/useShowHiddenNamespaces.js
  shared/utils/getComponentForResource.js
  tests/tests/run-after.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

create a stateful sets list
  core-ui/src/components/Predefined/List/StatefulSets.list.js
  core-ui/src/components/Predefined/List/index.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

create basic stateful sets details
  core-ui/src/components/Predefined/Details/StatefulSet/StatefulSets.details.js
  core-ui/src/components/Predefined/Details/index.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Improve Luigi error title and content in case one of these is missing
  shared/contexts/NotificationContext.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

use notifySuccess for incomplete kubeconfig
  core-ui/src/components/Clusters/views/AddCluster/AddCluster.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

remove console log
  shared/contexts/NotificationContext.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test

Polish dark theming (#318)
  core-ui/public/themes/dark.css
  core-ui/public/themes/light_dark.css
  core-ui/src/components/Clusters/views/AddCluster/AddCluster.js
  core-ui/src/index.scss
  core/package-lock.json
  core/package.json
  core/src/index.css
  package-lock.json
  package.json
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
  service-catalog-ui/public/themes/dark.css
  service-catalog-ui/public/themes/light_dark.css
  service-catalog-ui/src/index.scss
  shared/components/CircleProgress/CircleProgress.js
  shared/components/Notification/Notification.js
  shared/components/Notification/Notification.scss
  shared/components/Tabs/Tab.js
  shared/contexts/NotificationContext.js
  shared/contexts/ThemeContext.js
  shared/contexts/YamlEditorContext/YamlEditorContext.scss
Due: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

add some meaningful content (replica counts)
  core-ui/src/components/Predefined/Details/StatefulSet/StatefulSetReplicas.js
  core-ui/src/components/Predefined/Details/StatefulSet/StatefulSets.details.js
  core-ui/src/components/Predefined/List/StatefulSets.list.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, post-busola-integration-test-k3s, pre-busola-ui-test
