Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$

Update docs/extensibility/resources.md
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Apply suggestion
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Fix focus listener bug
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Remove console log
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

editor listeners work
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Test logging
  backend/index.js
  core-ui/src/components/App/App.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

editor refactor
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/autocompletion/getSchemaLink.js
  core-ui/src/shared/components/MonacoEditorESM/autocompletion/monaco-autocomplete.worker.js
  core-ui/src/shared/components/MonacoEditorESM/autocompletion/useAutocompleteWorker.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useCreateEditor.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useDisplayWarnings.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useOnBlur.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useOnChange.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useOnFocus.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useOnMount.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useUpdateValueOnParentChange.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Extensibility - show connected resources (#1495)
  backend/package-lock.json
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/command-pallette/CommandPaletteProvider.js
  core-ui/src/components/Extensibility/ExtensibilityDetails.js
  core-ui/src/components/Extensibility/ExtensibilityList.js
  core-ui/src/components/Extensibility/components/Columns.js
  core-ui/src/components/Extensibility/components/PendingWrapper.js
  core-ui/src/components/Extensibility/components/Plain.js
  core-ui/src/components/Extensibility/components/ResourceList.js
  core-ui/src/components/Extensibility/components/Widget.js
  core-ui/src/components/Extensibility/components/index.js
  core-ui/src/components/Extensibility/contexts/RelationsContext.js
  core-ui/src/components/Extensibility/helpers.js
  core-ui/src/shared/components/ControlledBy/ControlledBy.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
  core-ui/src/shared/components/Spinner/Spinner.js
  core-ui/src/shared/useObjectState.js
  docs/extensibility/display-widgets.md
  docs/extensibility/resources.md
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

bug fix focus listener
  core-ui/src/shared/components/MonacoEditorESM/hooks/useOnChange.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Changed translations
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Improved translations and moved GraphLegend component to the shared components
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterNodes/ResourceCommitment/CommitmentGraph.js
  core-ui/src/shared/components/GraphLegend/GraphLegend.js
  core-ui/src/shared/components/GraphLegend/GraphLegend.scss
  core-ui/src/shared/components/StatsGraph/StatsPanel.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

custom error message
  core-ui/src/components/Extensibility/components/CodeViewer.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Remove default prop
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterNodes/ResourceCommitment/CommitmentGraph.js
  core-ui/src/shared/components/GraphLegend/GraphLegend.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

expandable table
  core-ui/src/components/Extensibility/components/Table.js
  core-ui/src/components/Extensibility/components/Table.scss
  docs/extensibility/display-widgets.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

bump image version
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Revert changes to backend
  backend/package-lock.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, post-busola-web-and-backend, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix crashing view
  core-ui/src/resources/Namespaces/YamlUpload/YamlUpload.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Change spinner props
  core-ui/src/resources/Namespaces/YamlUpload/FilteredResourcesDetails/FilteredResourcesDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix monaco editor height (#1519)
  core-ui/src/components/Clusters/components/AddClusterDialog.scss
  core-ui/src/components/Clusters/components/KubeconfigUpload/KubeconfigUpload.js
  core-ui/src/components/Clusters/components/KubeconfigUpload/KubeconfigUpload.scss
  core-ui/src/shared/components/MonacoEditorESM/Editor.scss
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fit to display widget docs
  docs/extensibility/display-widgets.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Update docs/extensibility/form-widgets.md
  docs/extensibility/form-widgets.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

use useNotification in codeViewer
  core-ui/src/components/Extensibility/components/CodeViewer.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix error
  core-ui/src/components/Extensibility/components/JoinedArray.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Resource widget (#1516)
  core-ui/src/components/Extensibility/components-form/ResourceRenderer.js
  core-ui/src/components/Extensibility/components-form/index.js
  docs/extensibility/form-widgets.md
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Move json and yaml to the top of the list
  core-ui/src/shared/ResourceForm/fields/RichEditorDataField/RichEditorSection.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

change `extraChildren` to `collapsible`
  core-ui/src/components/Extensibility/components/Table.js
  core-ui/src/shared/components/GenericList/GenericList.scss
  docs/extensibility/display-widgets.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Add widget that display joined array entries (#1529)
  core-ui/src/components/Extensibility/components/JoinedArray.js
  core-ui/src/components/Extensibility/components/index.js
  core/src/i18n/en.yaml
  docs/extensibility/assets/display-widgets/JoinedArray.png
  docs/extensibility/display-widgets.md
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

remove css instead of commenting out
  core-ui/src/shared/components/GenericList/GenericList.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test
