Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, pre-master-busola-governance, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-governance, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build, pull-busola-checkconfig, pull-busola-pjconfigtest, pull-busola-pjtester, pull-busola-vpathguard

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pull-busola-e2e-cluster-k3d: unless all of: .*.md
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-integration-cluster-k3d: (any of: ^resources/|^tests/|^nginx/) or (any of: ^resources/|^tests/|^nginx/|^src/)
  pull-busola-integration-namespace-k3d: (any of: ^resources/|^tests/|^nginx/) or (any of: ^resources/|^tests/|^nginx/|^src/)
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-web-deployment-check: any of: ^public/|^src/|^scripts/|^shared/|^package.json
  pull-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-smoke-test-docker: any of: ^resources/|^tests/
  post-busola-smoke-test-docker: any of: /
  pre-busola-integration-test-k3s-cluster: any of: ^resources/|^tests/|^nginx/
  pre-busola-integration-test-k3s-namespace: any of: ^resources/|^tests/|^nginx/
  post-busola-integration-test-k3s-cluster: any of: /
  post-busola-integration-test-k3s-namespace: any of: /
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pull-busola-lighthouse: (any of: ^resources/|^lighthouse/|^nginx/) or (any of: ^resources/|^lighthouse/|^nginx/|^src/)
  pre-busola-ui-test: any of: /
  pull-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-backend-build: any of: ^backend/|^package.json
  post-busola-backend-build: any of: ^backend/|^package.json
  pull-busola-web-build: any of: ^public/|^src/|^package.json|^Makefile|^Dockerfile$
  post-busola-web-build: any of: ^public/|^src/|^package.json|^Makefile|^Dockerfile$
  pull-busola-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-busola-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-busola-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-busola-vpathguard: any of: ^(vpath/pjtester.yaml)

chore: Add kubeconfig for kubeconfigID to gitignore
  .gitignore
Due: pull-busola-e2e-cluster-k3d

PR corrections
  src/components/Extensibility/components/Table.js
  src/components/Extensibility/components/Table.scss
  src/shared/components/GenericList/GenericList.js
  src/shared/components/GenericList/components.js
  src/shared/components/ResourcesList/ResourcesList.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: Add kubeconfig for kubeconfigID to gitignore (#3839)
  .gitignore
Due: pull-busola-e2e-cluster-k3d

fix namespace tests
  src/resources/RoleBindings/SubjectForm.js
  tests/integration/tests/namespace/test-namespace-overview.spec.js
  tests/integration/tests/namespace/test-reduced-permissions.spec.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: outsourced some code
  backend/proxy.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build

remove static imports and trying to fix reduced permissions test
  src/components/KymaModules/KymaModulesList.js
  src/resources/other.js
  tests/integration/support/commands.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

wip
  src/state/navigation/filters/areNodeFeaturesEnabled.ts
  src/web-components/DynamicPageWebComponent.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

bring back wait
  tests/integration/support/commands.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

I hope, the finall fix for reduced perimssions
  tests/integration/support/commands.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

add ids to divs
  examples/busola-web-components/ui.html
  src/components/Extensibility/ExtensibilityList.js
  src/web-components/createWebComponent.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Removing unnecessary scroll
  src/shared/components/UI5Panel/UI5Panel.scss
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Fixed header tool clipping
  src/shared/components/UI5Panel/UI5Panel.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: copying resource
  src/shared/ResourceForm/components/ResourceForm.js
  src/shared/components/ResourcesList/ResourcesList.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: review adjustments
  src/shared/ResourceForm/fields/Editor.js
  src/shared/components/MonacoEditorESM/autocompletion/useAutocompleteWorker.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Fix modules statuses
  src/components/KymaModules/components/ModulesListRows.tsx
  src/components/KymaModules/support.ts
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: schemaId
  src/shared/components/MonacoEditorESM/autocompletion/useAutocompleteWorker.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: Add "Place" button to Kyma Companion (#3793)
  public/i18n/en.yaml
  src/components/App/ExtensibilityRoutes.js
  src/components/KymaCompanion/components/Chat/messages/CodePanel.scss
  src/components/KymaCompanion/components/Chat/messages/CodePanel.tsx
  src/components/KymaCompanion/utils/formatMarkdown.tsx
  src/resources/createResourceRoutes.js
  src/resources/other/BusolaExtensions.routes.js
  src/resources/other/CustomResources.routes.js
  src/resources/other/helmReleases.routes.js
  src/resources/other/kymaModules.routes.js
  src/shared/ResourceForm/components/ResourceForm.js
  src/shared/components/CopiableText/CopiableText.js
  src/shared/components/DynamicPageComponent/DynamicPageComponent.js
  src/shared/components/ResourcesList/ResourcesList.js
  src/shared/contexts/YamlEditorContext/EditorActions.js
  src/shared/hooks/usePrepareLayout.js
  src/state/columnLayoutAtom.ts
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: Secure proxy endpoint (#3813)
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/proxy.js
  vite.config.mts
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build

Duplicate key fixed
  src/sidebar/CategoryItem.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

idk if this will fix, but locally works
  tests/integration/support/navigate-to.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Style correction
  src/components/Extensibility/components/Table.scss
  src/shared/components/UI5Panel/UI5Panel.scss
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

adjust codepanel
  src/components/KymaCompanion/components/Chat/messages/CodePanel.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

PR correction
  src/components/Extensibility/components/Table.scss
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: Monaco Editor is stuck in loading state after page refresh (#3838)
  src/hooks/useGetSchema.js
  src/shared/ResourceForm/components/ResourceForm.js
  src/shared/ResourceForm/fields/Editor.js
  src/shared/components/MonacoEditorESM/Editor.js
  src/shared/components/MonacoEditorESM/autocompletion/useAutocompleteWorker.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

couple of smaller fixes
  src/components/App/App.tsx
  src/sidebar/CategoryItem.tsx
  src/sidebar/Sidebar.scss
  src/sidebar/SidebarNavigation.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

make folder structure more modular
  src/components/KymaCompanion/api/getChatResponse.ts
  src/components/KymaCompanion/components/Chat/Bubbles/Bubbles.scss
  src/components/KymaCompanion/components/Chat/Bubbles/Bubbles.tsx
  src/components/KymaCompanion/components/Chat/Chat.tsx
  src/components/KymaCompanion/components/Chat/Message/Message.scss
  src/components/KymaCompanion/components/Chat/Message/Message.tsx
  src/components/KymaCompanion/components/Chat/Message/marked.scss
  src/components/KymaCompanion/components/Chat/messages/TasksList.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

add first component and unit tests
  cypress/cypress.d.ts
  src/components/KymaCompanion/components/Chat/Bubbles/Bubbles.cy.tsx
  src/components/KymaCompanion/components/Chat/Message/Message.cy.tsx
  src/components/KymaCompanion/utils/formatMarkdown.test.ts
  src/components/KymaCompanion/utils/formatMarkdown.tsx
  tsconfig.json
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

add workaround for height problem
  src/web-components/createWebComponent.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

style correction
  src/command-pallette/CommandPalletteUI/CommandPaletteSearchBar.scss
  src/command-pallette/CommandPalletteUI/CommandPaletteUI.scss
  src/components/App/ContentWrapper/ContentWrapper.scss
  src/components/Clusters/components/AddClusterWizard.scss
  src/components/Extensibility/components/Table.scss
  src/resources/Namespaces/YamlUpload/ResourceValidationResult.js
  src/shared/components/GenericList/GenericList.js
  src/sidebar/Sidebar.scss
  src/styles/index.scss
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Correct style
  src/components/Extensibility/components/Table.scss
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Style correction
  src/components/Extensibility/components/Table.scss
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Fix modules statuses (#3843)
  src/components/KymaModules/components/ModulesListRows.tsx
  src/components/KymaModules/support.ts
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

correct padding
  src/shared/components/UI5Panel/UI5Panel.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

remove limitranges to test CI
  src/resources/LimitRanges/index.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

test: add tasklist component test
  src/components/KymaCompanion/components/Chat/Message/Message.tsx
  src/components/KymaCompanion/components/Chat/Message/marked.scss
  src/components/KymaCompanion/components/Chat/Message/markedExtension.tsx
  src/components/KymaCompanion/components/Chat/TaskList/TasksList.cy.tsx
  src/components/KymaCompanion/components/Chat/TaskList/TasksList.scss
  src/components/KymaCompanion/components/Chat/TaskList/TasksList.tsx
  src/components/KymaCompanion/utils/formatMarkdown.test.ts
  src/components/KymaCompanion/utils/formatMarkdown.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: Bump ui5 webcomponent 2.8 (#3798)
  package-lock.json
  package.json
  src/command-pallette/CommandPalletteUI/CommandPaletteSearchBar.scss
  src/command-pallette/CommandPalletteUI/CommandPaletteUI.scss
  src/components/App/App.tsx
  src/components/App/ContentWrapper/ContentWrapper.scss
  src/components/App/UI5Imports.js
  src/components/Clusters/components/AddClusterWizard.scss
  src/components/Extensibility/components/Table.js
  src/components/Extensibility/components/Table.scss
  src/components/Extensibility/components/tests/Table.cy.js
  src/resources/Namespaces/YamlUpload/ResourceValidationResult.js
  src/shared/components/GenericList/GenericList.js
  src/shared/components/GenericList/GenericList.scss
  src/shared/components/GenericList/components.js
  src/shared/components/GenericList/test/GenericList.cy.js
  src/shared/components/ModalWithForm/ModalWithForm.js
  src/shared/components/PodTemplate/components.js
  src/shared/components/ResourcesList/ResourcesList.js
  src/shared/components/UI5Panel/UI5Panel.scss
  src/sidebar/Sidebar.scss
  src/styles/index.scss
  tests/integration/tests/cluster/test-custom-resources.spec.js
  tests/integration/tests/namespace/test-custom-resources.spec.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

fix previous merge
  src/sidebar/SidebarNavigation.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

bring back index for LR
  src/resources/LimitRanges/index.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix namespacedropdown one more time
  src/sidebar/SidebarNavigation.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build
