Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)

Bring back translation
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

more removing
  core-ui/src/components/ApiRules/ApiRulesList.js
  core-ui/src/components/Extensibility/ExtensibilityErrBoundary.js
  core-ui/src/components/Functions/FunctionDetails/Tabs/Replicas.js
  core-ui/src/resources/APIRules/Services.js
  core-ui/src/resources/CronJobs/CronJobJobs.js
  core-ui/src/resources/CustomResourceDefinitions/RelatedCRDsList.js
  core-ui/src/resources/HorizontalPodAutoscalers/helpers.js
  core-ui/src/resources/Namespaces/NamespaceDetails.js
  core-ui/src/resources/Secrets/DecodeSecretSwitch.js
  core-ui/src/resources/ServiceAccounts/GenericSecrets.js
  core-ui/src/resources/ServiceInstances/ServiceBindingList.js
  core-ui/src/resources/StorageClasses/PersistentVolumeClaimsList.js
  core-ui/src/resources/StorageClasses/PersistentVolumesList.js
  core-ui/src/shared/components/RelatedPods.js
  core-ui/src/shared/components/SubscriptionsList.js
  core-ui/src/shared/hooks/useRestartResource.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix usetranslation usage in hpa helpers
  core-ui/src/resources/HorizontalPodAutoscalers/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Simplified validateVariables
  core-ui/src/components/Functions/FunctionDetails/Tabs/Code/FunctionVariables/FunctionVariables.js
  core-ui/src/components/Functions/FunctionDetails/Tabs/Code/FunctionVariables/test/validation.test.js
  core-ui/src/components/Functions/FunctionDetails/Tabs/Code/FunctionVariables/validation.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fixed translations
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Filter 2 items instead of list
  core-ui/src/components/Extensibility/contexts/DataSources.js
  docs/extensibility/resources.md
  examples/pizzas/configuration/pizza-orders-configmap.yaml
  examples/pizzas/configuration/pizzas-configmap.yaml
  examples/resources/configuration/services.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

prototype works
  core-ui/src/components/App/resourceSchemas/resourceSchemas.worker.js
  core-ui/src/hooks/useGetSchema.js
  core-ui/src/resources/Namespaces/NamespaceCreate.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.scss
  core-ui/src/shared/components/MonacoEditorESM/autocompletion/getSchemaLink.js
  core-ui/src/shared/components/MonacoEditorESM/autocompletion/useAutocompleteWorker.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

handle multiple autocompletion monacos
  core-ui/src/components/App/resourceSchemas/resourceSchemas.worker.js
  core-ui/src/resources/Namespaces/NamespaceCreate.js
  core-ui/src/shared/ResourceForm/components/ResourceForm.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/autocompletion/getSchemaLink.js
  core-ui/src/shared/components/MonacoEditorESM/autocompletion/useAutocompleteWorker.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useCreateEditor.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Removed addons from the navigation
  core/src/luigi-config/constants.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

removed addonsConfigurations dir
  core-ui/src/resources/AddonsConfigurations/AddonsConfigurationCreate.js
  core-ui/src/resources/AddonsConfigurations/AddonsConfigurationDetails.js
  core-ui/src/resources/AddonsConfigurations/AddonsConfigurationList.js
  core-ui/src/resources/AddonsConfigurations/GenericAddonsConfigurationCreate.js
  core-ui/src/resources/AddonsConfigurations/GenericAddonsConfigurationCreate.scss
  core-ui/src/resources/AddonsConfigurations/GenericAddonsConfigurationDetails.js
  core-ui/src/resources/AddonsConfigurations/GenericAddonsConfigurationList.js
  core-ui/src/resources/AddonsConfigurations/index.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Removed ClusterAddonsConfigurations directory
  core-ui/src/resources/ClusterAddonsConfigurations/ClusterAddonsConfigurationCreate.js
  core-ui/src/resources/ClusterAddonsConfigurations/ClusterAddonsConfigurationDetails.js
  core-ui/src/resources/ClusterAddonsConfigurations/ClusterAddonsConfigurationList.js
  core-ui/src/resources/ClusterAddonsConfigurations/index.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Removed addons translations
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Removed addons from the features file
  docs/features.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Removed the rest of addons files
  core-ui/src/components/Predefined/Create/AddonsConfigurations/AddonsConfigurations.scss
  core-ui/src/resources/index.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Ajv removal
  core-ui/package-lock.json
  core-ui/package.json
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Dompurify removal
  core-ui/package-lock.json
  core-ui/package.json
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Review changes
  core-ui/src/components/Extensibility/components/ResourceRefs.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Removed applications mappings etc.
  core-ui/src/resources/Applications/ApplicationServices.js
  core-ui/src/resources/Applications/BindableServicesList.js
  core-ui/src/resources/Applications/CreateBindingModal/CreateBindingModal.js
  core-ui/src/resources/Applications/CreateBindingModal/CreateBindingModal.scss
  core-ui/src/resources/Applications/CreateBindingModal/createApplicationBinding.js
  core-ui/src/resources/Applications/CreateBindingModal/test/CreateApplicationBinding.test.js
  core-ui/src/resources/Applications/CreateBindingModal/test/__snapshots__/CreateApplicationBinding.test.js.snap
  core-ui/src/resources/Applications/EditNamespaceBinding.js
  core-ui/src/resources/Applications/NamespaceBindings.js
  core-ui/src/resources/Applications/ServiceListItem.js
  core-ui/src/resources/Applications/ServicesBoundModal.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Removed moment and semver packages
  core-ui/package-lock.json
  core-ui/package.json
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Removed cross-fetch package
  core-ui/package-lock.json
  core-ui/package.json
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

added force to test
  tests/tests/namespace/run-after.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Removed handlebars and regenerator-runtime packages
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local

refactor
  core-ui/src/shared/components/MonacoEditorESM/autocompletion/useAutocompleteWorker.js
  tests/tests/namespace/run-after.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

bump deployment backend
  resources/backend/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Namespaces ResourceRef (#1748)
  core-ui/src/components/Extensibility/components/ResourceRefs.js
  core-ui/src/shared/helpers/universalLinks.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Many monacos (#1752)
  core-ui/src/components/App/resourceSchemas/resourceSchemas.worker.js
  core-ui/src/hooks/useGetSchema.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.js
  core-ui/src/shared/components/MonacoEditorESM/Editor.scss
  core-ui/src/shared/components/MonacoEditorESM/autocompletion/getSchemaLink.js
  core-ui/src/shared/components/MonacoEditorESM/autocompletion/useAutocompleteWorker.js
  core-ui/src/shared/components/MonacoEditorESM/hooks/useCreateEditor.js
  resources/web/deployment.yaml
  tests/tests/namespace/run-after.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Remove unsafe-eval from nginx
  nginx/core-ui.conf
Due: post-busola-integration-test-k3s, pre-busola-ui-test

fix function variables
  core-ui/src/components/Functions/FunctionDetails/Tabs/Code/FunctionVariables/FunctionVariables.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Remove duplicated filters
  core-ui/src/components/Extensibility/ExtensibilityList.js
  core-ui/src/resources/Events/EventList.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix for run-after namespace test (#1742)
  tests/tests/namespace/run-after.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

apply camelCase to remaining elements (#1747)
  README.md
  core-ui/src/components/Extensibility/errors.md
  core/src/i18n/en.yaml
  docs/extensibility/README.md
  docs/extensibility/display-widgets.md
  examples/pizzas/README.md
  examples/resources/README.md
  resources/web/deployment.yaml
  tests/tests/namespace/test-dns-entries.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Add prop types
  core-ui/src/components/Extensibility/ExtensibilityDetails.js
  core-ui/src/shared/components/GenericList/GenericList.js
  core-ui/src/shared/components/ResourceDetails/ResourceDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Cleanup after sc removal
  core-ui/src/components/Extensibility/components/Table.js
  core-ui/src/components/Functions/FunctionDetails/Tabs/Code/FunctionVariables/FunctionVariables.js
  core-ui/src/resources/Applications/ApplicationServices.js
  core-ui/src/resources/Applications/ApplicationServicesDetails/ApplicationServicesDetails.js
  core-ui/src/resources/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/resources/HorizontalPodAutoscalers/HPASubcomponent.js
  core-ui/src/shared/components/GenericList/GenericList.js
  core-ui/src/shared/components/GenericList/test/GenericList.test.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Refactor the hell out of builtin relations
  core-ui/src/components/Extensibility/contexts/DataSources.js
  core-ui/src/resources/APIRules/index.js
  core-ui/src/resources/ClusterRoleBindings/index.js
  core-ui/src/resources/ClusterRoles/index.js
  core-ui/src/resources/DaemonSets/index.js
  core-ui/src/resources/Deployments/DeploymentDetails.js
  core-ui/src/resources/Deployments/index.js
  core-ui/src/resources/Gateways/index.js
  core-ui/src/resources/Ingresses/index.js
  core-ui/src/resources/Jobs/index.js
  core-ui/src/resources/NetworkPolicies/index.js
  core-ui/src/resources/OAuth2Clients/index.js
  core-ui/src/resources/PersistentVolumeClaims/index.js
  core-ui/src/resources/PersistentVolumes/index.js
  core-ui/src/resources/Pods/index.js
  core-ui/src/resources/RoleBindings/index.js
  core-ui/src/resources/Roles/index.js
  core-ui/src/resources/Secrets/index.js
  core-ui/src/resources/ServiceAccounts/index.js
  core-ui/src/resources/Services/index.js
  core-ui/src/resources/StatefulSets/index.js
  core-ui/src/resources/StorageClasses/index.js
  core-ui/src/resources/Subscriptions/index.js
  core-ui/src/resources/VirtualServices/index.js
  core-ui/src/resources/helpers.js
  core-ui/src/shared/components/ResourceDetails/ResourceDetails.js
  core-ui/src/shared/components/ResourceGraph/buildGraph/buildStructuralGraph.js
  core-ui/src/shared/components/ResourceGraph/buildGraph/helpers.js
  core-ui/src/shared/components/ResourceGraph/useRelatedResources.js
  core-ui/src/shared/helpers/getResourceDefs.js
  core-ui/src/shared/utils/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Handle related resources
  core-ui/src/resources/helpers.js
  core-ui/src/shared/components/ResourceGraph/getResourceGraphConfig.js
  core-ui/src/shared/helpers/getResourceDefs.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

update examples and change internal naming
  core-ui/src/components/Extensibility/ExtensibilityDetails.js
  core/src/luigi-config/customResources.js
  core/src/luigi-config/navigation/navigation-data-init.js
  examples/pizzas/configuration/pizza-orders-configmap.yaml
  examples/pizzas/configuration/pizzas-configmap.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test
