Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, pre-master-busola-governance, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-governance, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build, pull-busola-checkconfig, pull-busola-pjconfigtest, pull-busola-pjtester, pull-busola-vpathguard

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pull-busola-e2e-cluster-k3d: unless all of: .*.md
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-integration-cluster-k3d: (any of: ^resources/|^tests/|^nginx/) or (any of: ^resources/|^tests/|^nginx/|^src/)
  pull-busola-integration-namespace-k3d: (any of: ^resources/|^tests/|^nginx/) or (any of: ^resources/|^tests/|^nginx/|^src/)
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-web-deployment-check: any of: ^public/|^src/|^scripts/|^shared/|^package.json
  pull-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-smoke-test-docker: any of: ^resources/|^tests/
  post-busola-smoke-test-docker: any of: /
  pre-busola-integration-test-k3s-cluster: any of: ^resources/|^tests/|^nginx/
  pre-busola-integration-test-k3s-namespace: any of: ^resources/|^tests/|^nginx/
  post-busola-integration-test-k3s-cluster: any of: /
  post-busola-integration-test-k3s-namespace: any of: /
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pull-busola-lighthouse: (any of: ^resources/|^lighthouse/|^nginx/) or (any of: ^resources/|^lighthouse/|^nginx/|^src/)
  pre-busola-ui-test: any of: /
  pull-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-backend-build: any of: ^backend/|^package.json
  post-busola-backend-build: any of: ^backend/|^package.json
  pull-busola-web-build: any of: ^public/|^src/|^package.json|^Makefile|^Dockerfile$
  post-busola-web-build: any of: ^public/|^src/|^package.json|^Makefile|^Dockerfile$
  pull-busola-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-busola-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-busola-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-busola-vpathguard: any of: ^(vpath/pjtester.yaml)

Fix undefined
  src/components/Extensibility/ExtensibilityErrBoundary.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Change version for service subscriptions
  kyma/extensions/discovery-and-network/services.yaml
  src/components/Extensibility/components/Widget.jsx
  src/components/Extensibility/plugins/VisibilityHandler.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: Remove unused jsdom package (#4463)
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

fix immutability
  eslint.config.ts
  src/components/BusolaExtensions/ColumnsInput.tsx
  src/components/Clusters/views/ClusterOverview/ClusterValidation/ClusterValidation.tsx
  src/components/Clusters/views/ClusterOverview/ClusterValidation/ResourceLoader.ts
  src/components/Extensibility/ExtensibilityDetails.jsx
  src/components/Extensibility/ExtensibilityList.jsx
  src/components/Extensibility/components/ResourceList.jsx
  src/components/Modules/KymaModulesEdit.jsx
  src/resources/Jobs/ScheduleSection.jsx
  src/resources/Roles/RuleInput.jsx
  src/resources/ServiceAccounts/ServiceAccountCreate.jsx
  src/shared/ResourceForm/fields/KeyValueField.jsx
  src/shared/ResourceForm/fields/MultiInput.jsx
  src/shared/ResourceForm/useCreateResource.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: Subscription resource is not displayed in the Services view (#4453)
  kyma/extensions/discovery-and-network/services.yaml
Due: pull-busola-e2e-cluster-k3d, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

refactor: fix set-state in effect errors
  public/defaultConfig.yaml
  src/components/KymaCompanion/components/KymaCompanion.tsx
  src/components/KymaCompanion/hooks/useTokenValidation.ts
  src/components/Modules/KymaModulesAddModule.jsx
  src/components/Modules/ModulesList.jsx
  src/components/Modules/community/providers/CommunitModulesInstalationProvider.tsx
  src/header/Feedback/FeedbackPopover.tsx
  src/header/SnowFeature.tsx
  src/resources/CronJobs/CronJobCreate.jsx
  src/resources/CustomResourceDefinitions/CRCreate.jsx
  src/resources/DaemonSets/DaemonSetCreate.jsx
  src/resources/Deployments/DeploymentCreate.jsx
  src/resources/Ingresses/IngressCreate.jsx
  src/resources/Jobs/JobCreate.jsx
  src/resources/LimitRanges/LimitRangeCreate.jsx
  src/resources/Namespaces/YamlUpload/YamlUploadDialog.jsx
  src/resources/NetworkPolicies/NetworkPolicyCreate.jsx
  src/resources/Pods/PodCreate.jsx
  src/resources/ResourceQuotas/ResourceQuotaCreate.jsx
  src/resources/Roles/GenericRoleCreate.jsx
  src/resources/Secrets/SecretCreate.jsx
  src/resources/StatefulSets/StatefulSetCreate.jsx
  src/shared/ResourceForm/components/CollapsibleSection.jsx
  src/shared/components/DynamicPageComponent/DynamicPageComponent.jsx
  src/shared/components/FileInput/FileInput.jsx
  src/shared/components/ResourcesList/ResourcesList.jsx
  src/sidebar/NavItem.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: revert changes in defaultConfig
  public/defaultConfig.yaml
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

refactor: remove additional setTimeout
  src/components/Modules/community/providers/CommunitModulesInstalationProvider.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: bug resource not found on all-namespaces
  src/shared/components/DynamicPageComponent/DynamicPageComponent.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

enhance resource graph
  package-lock.json
  package.json
  src/shared/components/ResourceGraph/DetailsCard/DetailsCard.scss
  src/shared/components/ResourceGraph/GraphvizComponent.tsx
  src/shared/components/ResourceGraph/ResourceGraph.scss
  src/shared/components/ResourceGraph/useRelatedResources.ts
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

change by change testing
  eslint.config.ts
  src/components/BusolaExtensions/ColumnsInput.tsx
  src/components/Clusters/views/ClusterOverview/ClusterValidation/ClusterValidation.tsx
  src/components/Clusters/views/ClusterOverview/ClusterValidation/ResourceLoader.ts
  src/components/Extensibility/ExtensibilityDetails.jsx
  src/components/Extensibility/ExtensibilityList.jsx
  src/components/Extensibility/components/ResourceList.jsx
  src/components/Modules/KymaModulesEdit.jsx
  src/resources/Jobs/ScheduleSection.jsx
  src/resources/Roles/RuleInput.jsx
  src/resources/ServiceAccounts/ServiceAccountCreate.jsx
  src/shared/ResourceForm/fields/KeyValueField.jsx
  src/shared/ResourceForm/fields/MultiInput.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

test: cover all-namespace refresh in tests
  package-lock.json
  tests/integration/tests/namespace/test-navigation.spec.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

change by change testing
  src/resources/Roles/RuleInput.jsx
  src/resources/ServiceAccounts/ServiceAccountCreate.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

test: fix unit tests
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

change by change testing
  src/shared/ResourceForm/fields/KeyValueField.jsx
  src/shared/ResourceForm/fields/MultiInput.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

test changes after fail
  src/shared/ResourceForm/fields/MultiInput.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

cleaner code
  src/shared/components/DynamicPageComponent/DynamicPageComponent.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: Enable no-prototype-builtins eslint rule
  eslint.config.ts
  src/components/App/resourceSchemas/resourceSchemas.worker.js
  src/components/Extensibility/hooks/useVariables.js
  src/resources/ResourceQuotas/ResourceQuotaLimits.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: Clean up npm warnings (#4440)
  Dockerfile.web
  package-lock.json
  package.json
  src/components/Clusters/components/KubeconfigUpload/KubeconfigUpload.scss
  src/components/KymaCompanion/components/Chat/CodePanel/CodePanel.cy.tsx
  src/components/KymaCompanion/components/Chat/CodePanel/CodePanel.tsx
  src/index.tsx
  src/resources/CronJobs/CronJobConcurrencyPolicy.jsx
  src/resources/RoleBindings/GenericRoleBindingList.jsx
  src/resources/RoleBindings/RoleRef.jsx
  src/resources/Roles/RuleTitle.jsx
  src/setupTests.js
  src/shared/ResourceForm/inputs/Checkboxes.jsx
  src/shared/components/CopyButton/CopyButton.tsx
  src/shared/components/DynamicPageComponent/DynamicPageComponent.jsx
  src/shared/components/ResourceGraph/DetailsCard/DetailsCard.scss
  src/shared/components/ResourceGraph/GraphvizComponent.tsx
  src/shared/components/ResourceGraph/ResourceGraph.scss
  src/shared/components/ResourceGraph/useRelatedResources.ts
  src/shared/components/StatusBadge/StatusBadge.jsx
  src/shared/components/Tooltip/Tooltip.jsx
  src/shared/components/Tooltip/Tooltip.scss
  src/shared/contexts/YamlEditorContext/EditorActions.jsx
  src/styles/index.scss
  tests/integration/tests/cluster/test-cluster-role-bindings.spec.js
  tests/integration/tests/namespace/test-events.spec.js
  tests/integration/tests/namespace/test-navigation.spec.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

fix: fix useEffect set-state errors
  src/components/Modules/providers/KymaModuleProvider.jsx
  src/resources/Pods/ContainersLogs.jsx
  src/shared/components/ResourcesList/ResourcesList.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: fix eslint errors
  src/components/Modules/providers/KymaModuleProvider.jsx
  src/shared/components/DynamicPageComponent/test/DynamicPageComponent.jsx
  src/shared/components/ResourceGraph/GraphvizComponent.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Added missing isProtected prop to components. Disabling functionality depending on the isProtected value.
  src/components/Modules/ModulesList.jsx
  src/components/Modules/components/KymaModulesList.tsx
  src/shared/components/ResourceCreate/ResourceCreate.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix DynamicPageComponent
  src/shared/components/DynamicPageComponent/test/DynamicPageComponent.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: Add merge for eslint check on PR
  .github/workflows/lint-check-pr.yml
Due: pull-busola-e2e-cluster-k3d, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

chore: Enable no-empty and typescript-eslint/no-empty-object-type (#4462)
  eslint.config.ts
  src/components/Modules/deleteModulesHelpers.tsx
  src/shared/components/DynamicPageComponent/test/DynamicPageComponent.jsx
  src/state/types.ts
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: Add merge for eslint check on PR (#4468)
  .github/workflows/lint-check-pr.yml
Due: pull-busola-e2e-cluster-k3d, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test

chore: Enable no-prototype-builtins eslint rule (#4465)
  eslint.config.ts
  src/components/App/resourceSchemas/resourceSchemas.worker.js
  src/components/Extensibility/hooks/useVariables.js
  src/resources/ResourceQuotas/ResourceQuotaLimits.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Protected icons added and disabled buttons
  src/components/Modules/components/KymaModulesList.tsx
  src/components/Modules/components/ModulesListRows.tsx
  src/components/Modules/providers/KymaModuleProvider.jsx
  src/shared/components/ResourceCreate/ResourceCreate.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: turn off no-unused-vars rule
  eslint.config.ts
  src/shared/components/DynamicPageComponent/test/DynamicPageComponent.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Check if entire list is protected
  src/components/Extensibility/ExtensibilityDetails.jsx
  src/resources/CustomResourceDefinitions/CustomResources.details.jsx
  src/resources/other/kymaModules.routes.jsx
  src/shared/components/ResourceDetails/ResourceDetails.jsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: remove setTimeout in effect in useTokenValidation
  src/components/KymaCompanion/hooks/useTokenValidation.ts
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: version mismatch issues for community modules
  public/i18n/en.yaml
  src/components/Modules/community/CommunityModulesAddModule.tsx
  src/components/Modules/community/CommunityModulesEdit.tsx
  src/components/Modules/community/communityModulesHelpers.ts
  src/components/Modules/community/providers/CommunityModuleProvider.tsx
  src/components/Modules/components/ModulesListRows.tsx
  src/components/Modules/deleteModulesHelpers.tsx
  src/components/Modules/hooks.ts
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: hide uploading modules from add view
  src/components/Modules/community/CommunityModulesAddModule.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build
