Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, pre-master-busola-governance, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-governance, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build, pull-busola-checkconfig, pull-busola-pjconfigtest, pull-busola-pjtester, pull-busola-vpathguard

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20230804-a5b27764
      securityContext:
  ...

pre-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-busola-e2e-cluster-k3d:
  labels:
    preset-k3d-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
  decorate: true
  spec:
    tolerations:
    - key: dedicated
      operator: Equal
      value: high-cpu
      effect: NoSchedule
    nodeSelector:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

feat: Add visibility to status
  src/components/Extensibility/ExtensibilityDetails.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: jsonpath import
  src/components/App/resourceSchemas/resourceSchemas.worker.js
  src/components/BusolaExtensions/BusolaExtensionEdit.js
  src/components/Clusters/components/AuthForm.js
  src/components/CustomResources/CustomResources.js
  src/components/Extensibility/ExtensibilityCreate.js
  src/components/Extensibility/ExtensibilityWizard.js
  src/components/Extensibility/components-form/NameRenderer.js
  src/components/Extensibility/contexts/DataSources.tsx
  src/components/Extensibility/contexts/VarStore.js
  src/components/Extensibility/hooks/useVariables.js
  src/components/Extensibility/migration.js
  src/components/Extensibility/plugins/CustomFieldInjector.js
  src/resources/CronJobs/CronJobCreate.js
  src/resources/CustomResourceDefinitions/templates.js
  src/resources/Deployments/DeploymentCreate.js
  src/resources/Jobs/JobCreate.js
  src/resources/Namespaces/MemoryQuotas.js
  src/resources/Namespaces/NamespaceCreate.js
  src/resources/ReplicaSets/ReplicaSetCreate.js
  src/resources/RoleBindings/GenericRoleBindingCreate.js
  src/resources/Roles/RuleInput.js
  src/resources/ServiceAccounts/ServiceAccountCreate.js
  src/shared/ResourceForm/components/ResourceForm.js
  src/shared/ResourceForm/components/Wrapper.js
  src/shared/ResourceForm/fields/RuntimeResources.js
  src/shared/components/Deployment/Containers.js
  src/shared/components/Deployment/ContainersViews.js
  src/shared/components/ResourcesList/ResourcesList.js
  src/shared/hooks/useProtectedResources.js
  src/shared/hooks/useRestartResource.js
  src/shared/hooks/useSidecarInjection.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: trying to fix docker build
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

fix: bug onRowClick with duplicate names
  src/shared/components/GenericList/GenericList.js
  src/shared/components/ResourcesList/ResourcesList.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: renamed variables
  src/resources/Events/EventDetails.js
  src/shared/components/ResourceDetails/ResourceDetails.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

changed custom to resource views
  src/components/HelmReleases/ChartContent.js
  src/components/HelmReleases/HelmReleaseData.js
  src/components/HelmReleases/HelmReleasesDetails.js
  src/components/HelmReleases/HelmReleasesList.js
  src/components/HelmReleases/ReleaseDataPanel.js
  src/components/HelmReleases/index.tsx
  src/resources/LimitRanges/LimitRangeDetails.tsx
  src/resources/Secrets/SecretDetails.js
  src/shared/components/ReadonlyEditorPanel.js
  src/shared/components/ResourceDetails/ResourceDetails.js
  src/shared/components/ResourcesList/ResourcesList.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: add website icon
  index.html
  public/assets/favicon-16x16.png
  public/assets/favicon-32x32.png
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: I hope it's necesary
  index.html
Due: pull-busola-e2e-cluster-k3d

chore: I hope this will fix build
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

chore: I hope this will speed up the build
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

fix: data-testID to data-testid
  src/components/Clusters/views/ClusterOverview/ClusterNodes.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: revert speeding up build
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build

review adjustments
  public/i18n/en.yaml
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: bug onRowClick with duplicate names (#3339)
  src/shared/components/GenericList/GenericList.js
  src/shared/components/ResourcesList/ResourcesList.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

cleanup
  public/i18n/en.yaml
  src/components/HelmReleases/HelmReleaseData.js
  src/components/HelmReleases/HelmReleasesDetails.js
  src/components/HelmReleases/HelmReleasesList.js
  src/components/HelmReleases/OtherReleaseVersions.js
  src/components/HelmReleases/ReleaseDataPanel.js
  src/resources/LimitRanges/LimitRangeDetails.tsx
  src/shared/components/ResourceDetails/ResourceDetails.js
  src/shared/components/ResourcesList/ResourcesList.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

cleanup pt.2
  src/components/HelmReleases/HelmReleaseData.js
  src/components/HelmReleases/HelmReleasesDetails.js
  src/components/HelmReleases/OtherReleaseVersions.js
  src/shared/components/ResourceDetails/ResourceDetails.js
  src/shared/components/ResourcesList/ResourcesList.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

add appVersion
  public/i18n/en.yaml
  src/components/HelmReleases/HelmReleaseData.js
  src/components/HelmReleases/HelmReleasesDetails.js
  src/components/HelmReleases/ReleaseDataPanel.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

add chart info
  public/i18n/en.yaml
  src/components/HelmReleases/ReleaseDataPanel.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

remove unused
  src/components/HelmReleases/index.tsx
  src/resources/Secrets/SecretDetails.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

added disableOnEdit for KeyValuePair widget
  public/schemas/schema-form.yaml
  src/components/Extensibility/components-form/KeyValuePairRenderer.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

updated schema-form.yaml for keyvalue pair
  public/schemas/schema-form.yaml
Due: pull-busola-e2e-cluster-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fixed kvp always disabling
  src/components/Extensibility/components-form/KeyValuePairRenderer.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

added disabling of key value pairs entry on edit
  src/components/Extensibility/components-form/KeyValuePairRenderer.js
  src/shared/ResourceForm/fields/KeyValueField.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

added disabling of delete button on edit
  src/shared/ResourceForm/fields/MultiInput.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

added disableOnEdit for KeyValuePair docs
  docs/extensibility/60-form-widgets.md
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-governance

fix: rearranged metadata information and added reportinComponent
  public/i18n/en.yaml
  src/resources/Events/EventDetails.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: create Resource Quotas views (#3336)
  public/i18n/en.yaml
  src/resources/LimitRanges/LimitRangeSpecification.tsx
  src/resources/Namespaces/NamespaceDetails.js
  src/resources/ResourceQuotas/ResourceQuotaCreate.js
  src/resources/ResourceQuotas/ResourceQuotaDetails.scss
  src/resources/ResourceQuotas/ResourceQuotaDetails.tsx
  src/resources/ResourceQuotas/ResourceQuotaLimits.tsx
  src/resources/ResourceQuotas/ResourceQuotaList.tsx
  src/resources/ResourceQuotas/ResourceQuotasList.tsx
  src/resources/ResourceQuotas/index.tsx
  src/resources/index.js
  src/shared/components/UI5Panel/UI5Panel.tsx
  tests/integration/cypress.config.js
  tests/integration/fixtures/test-resource-quotas.yaml
  tests/integration/tests/namespace/test-namespace-overview.spec.js
  tests/integration/tests/namespace/test-resource-quotas.spec.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix secret
  src/components/HelmReleases/ReleaseDataPanel.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

move secret
  src/components/HelmReleases/ReleaseDataPanel.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: added additional statistical cards to namespace overview
  src/resources/Namespaces/AllNamespacesDetails.js
  src/resources/Namespaces/NamespaceDetails.js
  src/resources/Namespaces/NamespaceWorkloads/NamespaceWorkloads.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: enhance Helm Releases (#3341)
  public/i18n/en.yaml
  src/components/HelmReleases/ChartContent.js
  src/components/HelmReleases/HelmReleaseData.js
  src/components/HelmReleases/HelmReleasesDetails.js
  src/components/HelmReleases/HelmReleasesList.js
  src/components/HelmReleases/ReleaseDataPanel.js
  src/resources/Secrets/SecretDetails.js
  src/shared/components/ReadonlyEditorPanel.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: enhance events (#3338)
  public/i18n/en.yaml
  src/resources/Events/EventDetails.js
  src/shared/components/ResourceDetails/ResourceDetails.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: Add visibility to status (#3340)
  src/components/Extensibility/ExtensibilityDetails.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: remove unused commands and smoke test config
  tests/integration/cypress-smoke.js
  tests/integration/package.json
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

feat: enhanced all namespaces details
  src/resources/Namespaces/AllNamespacesDetails.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

chore: remove unused commands and smoke test config (#3343)
  tests/integration/cypress-smoke.js
  tests/integration/package.json
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

feat: disableCreate of resourceQuotas on all namespaces overview
  src/resources/Namespaces/AllNamespacesDetails.js
  src/resources/ResourceQuotas/ResourceQuotasList.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

adjust kustomize
  resources/apply-resources-istio.sh
  resources/apply-resources.sh
  resources/base/backend/deployment.yaml
  resources/base/backend/hpa.yaml
  resources/base/backend/kustomization.yaml
  resources/base/backend/service.yaml
  resources/base/environment.env
  resources/base/extensions-patch/builtin-resource-extensions.configmap.yaml
  resources/base/extensions-patch/kustomization.yaml
  resources/base/extensions-patch/web-deployment.patch.yaml
  resources/base/ingress.tpl.yaml
  resources/base/ingressClass.yaml
  resources/base/kustomization.yaml
  resources/base/resource-validation/rule-sets/datree/rules.yaml
  resources/base/resource-validation/rule-sets/default/policies.yaml
  resources/base/resource-validation/rule-sets/kubernetes-pod-security-standards/policies.yaml
  resources/base/resource-validation/rule-sets/kubernetes-pod-security-standards/rules.yaml
  resources/base/resource-validation/rulesetSchema.json
  resources/base/web/configmap.yaml
  resources/base/web/deployment.yaml
  resources/base/web/hpa.yaml
  resources/base/web/kustomization.yaml
  resources/base/web/service.yaml
  resources/environments/dev/environment.env
  resources/environments/dev/kustomization.yaml
  resources/environments/prod/environment.env
  resources/environments/prod/kustomization.yaml
  resources/environments/stage/environment.env
  resources/environments/stage/kustomization.yaml
  resources/istio/kustomization.yaml
  resources/istio/virtualservice-busola.tpl.yaml
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test

remove unused file
  resources/base/environment.env
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pull-busola-e2e-cluster-k3d: unless all of: .*.md
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-integration-cluster-k3d: (any of: ^resources/|^tests/|^nginx/) or (any of: ^resources/|^tests/|^nginx/|^src/)
  pull-busola-integration-namespace-k3d: (any of: ^resources/|^tests/|^nginx/) or (any of: ^resources/|^tests/|^nginx/|^src/)
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-web-deployment-check: any of: ^public/|^src/|^scripts/|^shared/|^package.json
  pull-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-smoke-test-docker: any of: ^resources/|^tests/
  post-busola-smoke-test-docker: any of: /
  pre-busola-integration-test-k3s-cluster: any of: ^resources/|^tests/|^nginx/
  pre-busola-integration-test-k3s-namespace: any of: ^resources/|^tests/|^nginx/
  post-busola-integration-test-k3s-cluster: any of: /
  post-busola-integration-test-k3s-namespace: any of: /
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pull-busola-lighthouse: (any of: ^resources/|^lighthouse/|^nginx/) or (any of: ^resources/|^lighthouse/|^nginx/|^src/)
  pre-busola-ui-test: any of: /
  pull-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-backend-build: any of: ^backend/|^package.json
  post-busola-backend-build: any of: ^backend/|^package.json
  pull-busola-web-build: any of: ^public/|^src/|^package.json|^Makefile|^Dockerfile$
  post-busola-web-build: any of: ^public/|^src/|^package.json|^Makefile|^Dockerfile$
  pull-busola-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-busola-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-busola-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-busola-vpathguard: any of: ^(vpath/pjtester.yaml)
