Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pull-busola-e2e-cluster-k3d, pre-master-busola-governance, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-governance, pull-busola-backend-build, post-busola-backend-build, pull-busola-web-build, post-busola-web-build, pull-busola-checkconfig, pull-busola-pjconfigtest, pull-busola-pjtester, pull-busola-vpathguard

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pull-busola-e2e-cluster-k3d: unless all of: .*.md
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-integration-cluster-k3d: (any of: ^resources/|^tests/|^nginx/) or (any of: ^resources/|^tests/|^nginx/|^src/)
  pull-busola-integration-namespace-k3d: (any of: ^resources/|^tests/|^nginx/) or (any of: ^resources/|^tests/|^nginx/|^src/)
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-web-deployment-check: any of: ^public/|^src/|^scripts/|^shared/|^package.json
  pull-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local-build: any of: ^backend/|^public/|^src/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-smoke-test-docker: any of: ^resources/|^tests/
  post-busola-smoke-test-docker: any of: /
  pre-busola-integration-test-k3s-cluster: any of: ^resources/|^tests/|^nginx/
  pre-busola-integration-test-k3s-namespace: any of: ^resources/|^tests/|^nginx/
  post-busola-integration-test-k3s-cluster: any of: /
  post-busola-integration-test-k3s-namespace: any of: /
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pull-busola-lighthouse: (any of: ^resources/|^lighthouse/|^nginx/) or (any of: ^resources/|^lighthouse/|^nginx/|^src/)
  pre-busola-ui-test: any of: /
  pull-busola-governance: any of: milv.config.yaml|.md$
  pull-busola-backend-build: any of: ^backend/|^package.json
  post-busola-backend-build: any of: ^backend/|^package.json
  pull-busola-web-build: any of: ^public/|^src/|^package.json|^Makefile|^Dockerfile$
  post-busola-web-build: any of: ^public/|^src/|^package.json|^Makefile|^Dockerfile$
  pull-busola-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-busola-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-busola-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-busola-vpathguard: any of: ^(vpath/pjtester.yaml)

feat: integrated dns lookup for private IP addresses
  backend/proxy.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pull-busola-e2e-cluster-k3d, post-busola-web-and-backend, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-backend-build, post-busola-backend-build

adjust padding
  src/components/KymaCompanion/components/Chat/messages/Message.scss
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Add style for selection and header for popin
  src/components/App/App.tsx
  src/components/App/UI5Imports.js
  src/shared/components/GenericList/GenericList.js
  src/shared/components/GenericList/GenericList.scss
  src/shared/components/GenericList/components.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

disable formatiing and remove unneded styles
  src/components/KymaCompanion/components/Chat/Chat.tsx
  src/components/KymaCompanion/components/Chat/messages/Message.scss
  src/components/KymaCompanion/components/Chat/messages/Message.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

adjust table data background
  src/components/KymaCompanion/components/Chat/messages/marked.scss
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Adjust columns width
  src/shared/components/GenericList/components.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Test correction
  src/shared/components/GenericList/test/GenericList.cy.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Add Readme and command palette doc
  docs/user/01-20-command-palette.md
  docs/user/README.md
  docs/user/assets/dashboard.png
  docs/user/assets/navigation-ns.png
  docs/user/assets/navigation-resources.png
  docs/user/assets/quick-navi.png
  docs/user/assets/switch-context.png
Due: pull-busola-e2e-cluster-k3d, pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-governance

Add points
  docs/user/01-20-command-palette.md
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-governance

Add indentation
  docs/user/01-20-command-palette.md
  docs/user/README.md
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-governance

fix: code adjustments
  src/components/KymaCompanion/components/Chat/messages/CodePanel.tsx
  src/components/KymaCompanion/utils/formatMarkdown.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: lint fix
  src/shared/ResourceForm/components/ResourceForm.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: change apply to place
  public/i18n/en.yaml
  src/components/KymaCompanion/components/Chat/messages/CodePanel.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Test correction
  src/components/Extensibility/components/tests/Table.cy.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Change title
  docs/user/01-20-command-palette.md
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-governance

Test correction
  src/shared/components/GenericList/components.js
  tests/integration/tests/cluster/test-custom-resources.spec.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

feat: Add styling to markdown (#3809)
  src/components/KymaCompanion/components/Chat/Chat.scss
  src/components/KymaCompanion/components/Chat/Chat.tsx
  src/components/KymaCompanion/components/Chat/messages/Message.scss
  src/components/KymaCompanion/components/Chat/messages/Message.tsx
  src/components/KymaCompanion/components/Chat/messages/marked.scss
  src/components/KymaCompanion/components/Chat/messages/markedExtension.tsx
  src/components/KymaCompanion/utils/formatMarkdown.tsx
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Test correction
  src/components/Extensibility/components/tests/Table.cy.js
  src/shared/components/GenericList/components.js
  tests/integration/tests/namespace/test-custom-resources.spec.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, pre-busola-smoke-test-docker, post-busola-smoke-test-docker, pre-busola-integration-test-k3s-cluster, pre-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: Correct state update after namespace edit (#3811)
  src/components/App/ExtensibilityRoutes.js
  src/components/CustomResources/CustomResources.js
  src/components/CustomResources/CustomResourcesOfType.js
  src/components/CustomResources/GroupingListPage.js
  src/components/Extensibility/ExtensibilityDetails.js
  src/components/KymaModules/KymaModulesAddModule.js
  src/components/KymaModules/KymaModulesList.js
  src/resources/CustomResourceDefinitions/CustomResources.details.js
  src/resources/Namespaces/NamespaceCreate.js
  src/resources/createResourceRoutes.js
  src/resources/other/BusolaExtensions.routes.js
  src/resources/other/CustomResources.routes.js
  src/shared/components/DynamicPageComponent/DynamicPageComponent.js
  src/shared/components/GenericList/SearchInput.scss
  src/shared/components/ResourceCreate/ResourceCreate.js
  src/shared/components/ResourceDetails/ResourceDetails.js
  src/shared/components/ResourcesList/ResourcesList.js
  src/shared/components/UI5Panel/UI5Panel.scss
  src/shared/hooks/useDeleteResource.js
  src/shared/hooks/usePrepareLayout.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

implementation
  public/i18n/en.yaml
  src/components/Clusters/views/ClusterOverview/ClusterStats.js
  src/resources/Namespaces/NamespaceWorkloads/NamespaceWorkloadsHelpers.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Correction for test
  src/shared/components/GenericList/components.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

small fixes
  src/components/Clusters/views/ClusterOverview/ClusterStats.js
  src/resources/Namespaces/NamespaceWorkloads/NamespaceWorkloadsHelpers.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

add unit tests and add information to node detail view
  public/i18n/en.yaml
  src/components/Nodes/MachineInfo/MachineInfo.js
  src/components/Nodes/NodeDetails/NodeDetails.js
  src/resources/Namespaces/NamespaceWorkloads/NamespaceWorkloadsHelpers.test.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

rename gpus to nvidia gpus
  public/i18n/en.yaml
  src/components/Clusters/views/ClusterOverview/ClusterStats.js
  src/components/Nodes/MachineInfo/MachineInfo.js
  src/components/Nodes/NodeDetails/NodeDetails.js
  src/resources/Namespaces/NamespaceWorkloads/NamespaceWorkloadsHelpers.js
  src/resources/Namespaces/NamespaceWorkloads/NamespaceWorkloadsHelpers.test.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Update docs/user/01-20-command-palette.md
  docs/user/01-20-command-palette.md
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-governance

feat: add proxy endpoint to viteconfig
  vite.config.mts
Due: pull-busola-e2e-cluster-k3d

impove code
  src/components/Clusters/views/ClusterOverview/ClusterStats.js
  src/components/Nodes/MachineInfo/MachineInfo.js
  src/components/Nodes/NodeDetails/NodeDetails.js
  src/components/Nodes/nodeHelpers.test.ts
  src/components/Nodes/nodeHelpers.ts
  src/resources/Namespaces/NamespaceWorkloads/NamespaceWorkloadsHelpers.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Add Kyma Companion docs
  docs/user/kyma-companion-examples.md
  docs/user/kyma-companion.md
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-governance

Apply suggestions from IwonaLanger review
  docs/user/01-20-command-palette.md
  docs/user/README.md
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-governance

Apply styleguides
  docs/user/01-20-command-palette.md
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-governance

feat: Add gpu counter on cluster overview (#3825)
  public/i18n/en.yaml
  src/components/Clusters/views/ClusterOverview/ClusterStats.js
  src/components/Nodes/MachineInfo/MachineInfo.js
  src/components/Nodes/NodeDetails/NodeDetails.js
  src/components/Nodes/nodeHelpers.test.ts
  src/components/Nodes/nodeHelpers.ts
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

Add Readme and command palette doc (#3818)
  docs/user/01-20-command-palette.md
  docs/user/README.md
  docs/user/assets/dashboard.png
  docs/user/assets/navigation-ns.png
  docs/user/assets/navigation-resources.png
  docs/user/assets/quick-navi.png
  docs/user/assets/switch-context.png
Due: pull-busola-e2e-cluster-k3d, pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-governance

Add Kyma Companion docs
  docs/user/01-30-kyma-companion.md
  docs/user/01-31-kyma-companion-examples.md
  docs/user/assets/kyma-companion.png
Due: pull-busola-e2e-cluster-k3d, pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-governance

Add sidebar
  docs/user/_sidebar.md
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-governance

Add sidebar (#3828)
  docs/user/_sidebar.md
Due: pre-master-busola-governance, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pre-busola-ui-test, pull-busola-governance

fix: stuck in loading
  src/hooks/useGetSchema.js
  src/shared/ResourceForm/components/ResourceForm.js
  src/shared/components/MonacoEditorESM/Editor.js
  src/shared/components/MonacoEditorESM/autocompletion/useAutocompleteWorker.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: cleanup
  src/shared/components/MonacoEditorESM/Editor.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

fix: no schemas
  src/hooks/useGetSchema.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build

review adjustments
  src/components/KymaCompanion/components/Chat/messages/CodePanel.tsx
  src/components/KymaCompanion/utils/formatMarkdown.tsx
  src/shared/components/CopiableText/CopiableText.js
  src/shared/contexts/YamlEditorContext/EditorActions.js
Due: pull-busola-e2e-cluster-k3d, pull-busola-integration-cluster-k3d, pull-busola-integration-namespace-k3d, pre-busola-web-deployment-check, pull-busola-local-build, post-busola-local-build, post-busola-smoke-test-docker, post-busola-integration-test-k3s-cluster, post-busola-integration-test-k3s-namespace, post-busola-integration-test-k3s, pull-busola-lighthouse, pre-busola-ui-test, pull-busola-web-build, post-busola-web-build
