Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)

feature: error handling when validating schema, new schema json file
  core-ui/src/shared/hooks/useValidateResourceBySchema/schemav2.json
  core-ui/src/shared/hooks/useValidateResourceBySchema/useValidateResourceBySchema.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

applied suggestions
  docs/extensibility/display-section.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

debug
  Dockerfile.local
Due: pre-busola-local, post-busola-local

Fix
  .gitignore
  core/src/assets/extensions/extensions.yaml
  resources/extensions-patch/builtin-resource-extensions.configmap.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Adjust istio examples
  Dockerfile.local
  examples/resources/istio/authorization-policies.yaml
  examples/resources/istio/gateways.yaml
  examples/resources/istio/service-entries.yaml
  examples/resources/istio/sidecars.yaml
  examples/resources/istio/virtual-services.yaml
Due: pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Cleanup
  core-ui/src/components/App/resourceSchemas/useResourceSchemas.js
  core/src/assets/extensions/extensions.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add extensibility feature docs
  docs/features.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

improve $item handling in display arrays (#1888)
  core-ui/src/components/Extensibility/components/ExternalLink.js
  core-ui/src/components/Extensibility/components/Table.js
  core-ui/src/components/Extensibility/components/Widget.js
  core-ui/src/shared/components/Link/Link.js
  core/src/i18n/en.yaml
  docs/extensibility/assets/display-widgets/ExternalLink.png
  docs/extensibility/assets/display-widgets/ExternalLink2.png
  docs/extensibility/display-section.md
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Update docs/extensibility/display-section.md
  docs/extensibility/display-section.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

applied suggestions
  docs/extensibility/display-section.md
  docs/extensibility/form-section.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Update docs/extensibility/form-section.md
  docs/extensibility/form-section.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

removed source from form
  docs/extensibility/form-section.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Update docs/features.md
  docs/features.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Add extensibility feature documentation (#1900)
  docs/features.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Make clientSecret field non-required
  core-ui/src/components/Clusters/views/EditCluster/EditCluster.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

rename type to severity
  core-ui/src/components/Extensibility/components-form/AlertRenderer.js
  core-ui/src/components/Extensibility/components/Alert.js
  docs/extensibility/display-section.md
  docs/extensibility/form-section.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Add widget for notofications (#1859)
  core-ui/src/components/Extensibility/components-form/AlertRenderer.js
  core-ui/src/components/Extensibility/components-form/index.js
  core-ui/src/components/Extensibility/components/Alert.js
  core-ui/src/components/Extensibility/components/index.js
  core-ui/src/components/Extensibility/hooks/useVariables.js
  core-ui/src/components/Extensibility/plugins/CustomFieldInjector.js
  docs/extensibility/assets/form-widgets/Alert.png
  docs/extensibility/display-section.md
  docs/extensibility/form-section.md
  examples/resources/istio/gateways.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Extensibility: Possibility to search for resources in the List widgets (#1874)
  core-ui/src/components/BusolaExtensions/BusolaExtensionList.js
  core-ui/src/components/CustomResources/CustomResources.js
  core-ui/src/components/Extensibility/ExtensibilityList.js
  core-ui/src/components/Extensibility/components/ResourceList.js
  core-ui/src/components/Extensibility/components/Table.js
  core-ui/src/components/Extensibility/components/helpers.js
  core-ui/src/components/Extensibility/components/tests/Table.test.js
  core-ui/src/components/Extensibility/helpers/index.js
  core-ui/src/shared/components/GenericList/helpers.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
  docs/extensibility/display-section.md
  examples/pizzas/configuration/pizza-orders-configmap.yaml
  examples/pizzas/configuration/pizzas-configmap.yaml
  examples/resources/istio/authorization-policies.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

fix: rename matchByResource to matchEvents
  core-ui/src/components/Extensibility/helpers/jsonataWrapper.js
  docs/extensibility/display-section.md
  docs/extensibility/jsonata.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

fix: rename EventList in the functions.yaml
  examples/resources/serverless/functions.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

fix: remove needless line from jsonata.md
  docs/extensibility/jsonata.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Add a beautiful loader
  core-ui/src/commons/helpers.js
  core/src/luigi-config/cluster-management/cluster-management.js
  core/src/luigi-config/loading-state/index.js
  core/src/template.html
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add initial loading state, reuse openapi call in core-ui
  core-ui/src/components/App/resourceSchemas/useResourceSchemas.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/clusterOpenApi.js
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

refactor extensibility EventList
  core-ui/src/components/Extensibility/components/EventList.js
  core-ui/src/components/Extensibility/components/hooks/useJsonataEvaluate.js
  core-ui/src/resources/Events/EventList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Cleaning and fix using evaluate function
  core-ui/src/components/Extensibility/components/EventList.js
  core-ui/src/components/Extensibility/components/hooks/useJsonataEvaluate.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update docs/extensibility/jsonata.md
  docs/extensibility/jsonata.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

fix: rename event to Event
  docs/extensibility/display-section.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

adjusted suggestions
  docs/extensibility/display-section.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

fix docs
  docs/extensibility/jsonata.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Apply suggestions from code review
  docs/extensibility/jsonata.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

prettify useJsonata and useJsonataEvaluate
  core-ui/src/components/Extensibility/components/hooks/useJsonataEvaluate.js
  core-ui/src/components/Extensibility/hooks/useJsonata.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test
