Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

Even better
  core/src/luigi-config/customResources.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

feat: Remove custom Select and replace it with Fundamental one
  core-ui/src/components/Preferences/OtherSettings.tsx
  core-ui/src/resources/Gateways/Forms/PortsForm.js
  core-ui/src/resources/RoleBindings/SubjectForm.js
  core-ui/src/shared/components/Select/Select.tsx
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove workaround
  backend/config-yaml/config.yaml
  backend/config/config.yaml
  backend/index.js
  core/src/assets/config/config.yaml
  core/src/luigi-config/busola-cluster-params.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bumps and change config directory
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

separate filter nav functions
  core-ui/src/state/navigation/fetchPermissions.ts
  core-ui/src/state/navigation/filterExistingAndAllowedNodes.js
  core-ui/src/state/navigation/filters/filterExistingNodes.ts
  core-ui/src/state/navigation/filters/filterNodesWithDisabledFeatures.ts
  core-ui/src/state/navigation/filters/filterPermittedNodes.ts
  core-ui/src/state/navigation/filters/filterScopeNodes.ts
  core-ui/src/state/navigation/filters/permissions.js
  core-ui/src/state/navigation/navigationNodesSelector.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add permission tests
  core-ui/src/state/navigation/filters/permissions.test.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Sentry fix 17.10.22 (#1945)
  core-ui/src/components/ApiRules/components.js
  core/src/luigi-config/customResources.js
  core/src/luigi-config/navigation/clusterOpenApi.js
  core/src/luigi-config/navigation/queries.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix: remove fullWidth properties and an old import
  core-ui/src/resources/Gateways/Forms/PortsForm.js
  core-ui/src/resources/RoleBindings/SubjectForm.js
  core-ui/src/shared/components/GenericList/test/GenericList.test.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix kubekonfig id test
  tests/tests/cluster/test-login-kubeconfigID.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix: test that use preferences
  core-ui/src/components/Preferences/Preferences.js
  tests/tests/cluster/test-cluster-configuration.spec.js
  tests/tests/namespace/test-daemon-sets.spec.js
  tests/tests/namespace/test-protected-resources.spec.js
  tests/tests/namespace/test-settings.spec.js
  tests/tests/namespace/test-stateful-sets.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

In progress
  examples/resources/gateway/apirules.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

move permissionset to selector
  core-ui/src/state/activeNamespaceIdAtom.ts
  core-ui/src/state/navigation/fetchPermissions.ts
  core-ui/src/state/navigation/filters/filterPermittedNodes.ts
  core-ui/src/state/navigation/navigationNodesSelector.ts
  core-ui/src/state/permissionSetsAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix: test that use preferences
  tests/tests/cluster/test-command-palette.spec.js
  tests/tests/namespace/test-protected-resources.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix: move displaying Preferences Modal to Recoil and adjust CommandPallete
  core-ui/src/command-pallette/CommandPalletteUI/handlers/nonResourceHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/useSearchResults.js
  core-ui/src/components/Preferences/Preferences.js
  core-ui/src/state/isPreferencesModalOpenAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix: bring brack Select component
  core-ui/src/resources/Gateways/Forms/PortsForm.js
  core-ui/src/resources/RoleBindings/SubjectForm.js
  core-ui/src/shared/components/Select/Select.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

feat: move backdrop handling to the effect in recoils' atom
  core-ui/src/components/Preferences/Preferences.js
  core-ui/src/state/isPreferencesModalOpenAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

feat: improve types
  core-ui/src/state/disableResourceProtectionAtom.ts
  core-ui/src/state/dontConfirmDeleteAtom.ts
  core-ui/src/state/isPreferencesModalOpenAtom.ts
  core-ui/src/state/pageSizeAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove workaround for json to yaml (#1962)
  backend/config-yaml/config.yaml
  backend/config/config.yaml
  backend/index.js
  core/src/assets/config/config.yaml
  core/src/luigi-config/busola-cluster-params.js
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
  tests/tests/cluster/test-login-kubeconfigID.spec.js
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add code guidelines for devs
  CONTRIBUTING.md
Due: pre-master-busola-governance, pre-main-busola-governance

Update core-ui/src/shared/components/Select/Select.js
  core-ui/src/shared/components/Select/Select.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Review fixes
  core-ui/src/components/Extensibility/components-form/SimpleList.js
  core-ui/src/resources/Deployments/DeploymentCreate.js
  core-ui/src/resources/Deployments/DeploymentCreate.scss
  core-ui/src/resources/ReplicaSets/ReplicaSetCreate.js
  core-ui/src/resources/ReplicaSets/ReplicaSetCreate.scss
  core-ui/src/shared/ResourceForm/components/CollapsibleSection.scss
  core-ui/src/shared/ResourceForm/components/ResourceForm.scss
  core-ui/src/shared/ResourceForm/fields/K8sNameField.scss
  core-ui/src/shared/ResourceForm/fields/MultiInput.scss
  core-ui/src/shared/ResourceForm/fields/RuntimeResources.scss
  core-ui/src/shared/ResourceForm/fields/TextArrayInput.js
  core-ui/src/shared/ResourceForm/fields/TextArrayInput.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Review fixes 2
  core-ui/src/components/Preferences/OtherSettings.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

feat: add custom types and change names
  core-ui/src/command-pallette/CommandPalletteUI/useSearchResults.js
  core-ui/src/components/Preferences/Preferences.js
  core-ui/src/state/disableResourceProtectionAtom.ts
  core-ui/src/state/dontConfirmDeleteAtom.ts
  core-ui/src/state/isPreferencesModalOpenAtom.ts
  core-ui/src/state/pageSizeAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

review comments
  core-ui/src/resources/Jobs/index.js
  core-ui/src/shared/hooks/BackendAPI/useFetch.ts
  core-ui/src/sidebar/SidebarNavigation.js
  core-ui/src/state/authDataAtom.ts
  core-ui/src/state/clusterAtom.ts
  core-ui/src/state/clusterConfigAtom.ts
  core-ui/src/state/configAtom.ts
  core-ui/src/state/navigation/assignToCategories.ts
  core-ui/src/state/navigation/navigationNodesSelector.ts
  core-ui/src/state/permissionSetsAtom.ts
  core-ui/src/state/resourceList/busolaResourcesToNavNodes.ts
  core-ui/src/state/ssoDataAtom.ts
  core-ui/src/state/utils/getFetchFn.ts
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

apply review comments
  core-ui/src/components/App/useConfigContextMigrator.js
  core-ui/src/components/App/useLuigiContextMigrator.js
  core-ui/src/state/permissionSetsAtom.ts
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Do not default function runtime
  core-ui/src/resources/Functions/helpers.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

align docs to new yaml configs
  docs/features.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

remove deprecated nodejs12 (and nodejs10)
  core-ui/src/components/Functions/config.js
  core-ui/src/components/Functions/constants.js
  core-ui/src/components/Functions/helpers/runtime/runtime.js
  core-ui/src/components/Functions/helpers/runtime/test/runtime.test.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump image
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove deprecated nodejs12
  examples/resources/serverless/functions.yaml
  tests/tests/namespace/run-prepare-functions.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

WIP
  examples/resources/gateway/apirules.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

fix: tests that uses preferences
  tests/tests/cluster/test-cluster-configuration.spec.js
  tests/tests/cluster/test-command-palette.spec.js
  tests/tests/namespace/test-protected-resources.spec.js
Due: pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix: guess pageSize works now
  core-ui/src/shared/components/GenericList/GenericList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

align docs to new yaml configs (#1967)
  docs/features.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

uncomment Sidebar information
  core-ui/src/sidebar/SidebarNavigation.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

install js-yaml types
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local

install fundamentall-react types
  core-ui/package-lock.json
  core-ui/package.json
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  post-busola-web: any of: ^core/|^core-ui/|^shared/|^package.json|^Makefile|^Dockerfile$
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
