Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-backend, post-busola-backend, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance, pre-busola-validate-inrepo-prow-configs

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-backend: any of: ^backend/|^package.json
  post-busola-backend: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  pre-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^tests/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)

introduce visibility
  core-ui/src/components/Extensibility/SchemaRulesInjector.js
  core-ui/src/components/Extensibility/jsonataWrapper.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Added a TCP section in the details view
  examples/istio/virtual-services-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

added resourcelink to credentialName in details and fix resourceLink
  core-ui/src/components/Extensibility/components/ResourceLink.js
  examples/resources/configuration/gateways.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

removed ugly substring
  core-ui/src/components/Extensibility/components/ResourceLink.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

added header panel in configmap
  examples/resources/configuration/gateways.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

added specific separator break to JoinedArray
  core-ui/src/components/Extensibility/components/JoinedArray.js
  examples/resources/configuration/gateways.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

added visibility to labels in panel header
  examples/resources/configuration/gateways.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

ext to overwrite navigation
  core/src/luigi-config/navigation/mergeInExtensibilityNav.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix arrays + implement array variables
  core-ui/src/components/Extensibility/ResourceSchema.js
  core-ui/src/components/Extensibility/SchemaRulesInjector.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump image version
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Added Routes Headers to the HTTP in VS
  examples/istio/virtual-services-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Added Redirect details
  examples/istio/virtual-services-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Added Delegate, Rewrite, Retries details information
  examples/istio/virtual-services-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

Added the rest of the HTTP properties
  examples/istio/virtual-services-configmap.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

clean up code
  core-ui/src/components/Extensibility/ResourceSchema.js
  core-ui/src/components/Extensibility/SchemaRulesInjector.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix Table docs
  docs/extensibility/display-widgets.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Fixed a ResourceLink widget
  core-ui/src/components/Extensibility/components/ResourceLink.js
  docs/extensibility/display-widgets.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

bump deployment
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Sidecars
  examples/istio/sidecars.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

added info about Panel header in docs
  docs/extensibility/display-widgets.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

restore old customResources loading
  core/src/assets/customResources/customResources.json
  core/src/luigi-config/customResources.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

clean up code
  core-ui/src/resources/DestinationRules/LoadBalancer.js
  core/src/luigi-config/customResources/destinationRules.js
  core/src/luigi-config/customResources/index.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

scoped variables
  core-ui/src/components/Extensibility/ExtensibilityCreate.js
  core-ui/src/components/Extensibility/ResourceSchema.js
  core-ui/src/components/Extensibility/SchemaRulesInjector.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

update docs
  docs/extensibility/resources.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

add subcomponent to joined array
  core-ui/src/components/Extensibility/components/JoinedArray.js
  core/src/assets/customResources/customResources.json
  docs/extensibility/display-widgets.md
  tests/tests/namespace/test-destination-rules.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

fixes after branch restoration
  core-ui/src/components/Extensibility/components/JoinedArray.js
  core-ui/src/resources/DestinationRules/DestinationRuleList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

removed clg
  core-ui/src/components/Extensibility/components-form/ResourceRenderer.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

moved gateways to istio folder in examples and change name in general config
  examples/resources/configuration/istio/gateways.yaml
Due: post-busola-integration-test-k3s, pre-busola-ui-test

align docs to #1768
  docs/extensibility/form-widgets.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Fix dataSources
  core-ui/src/components/Extensibility/contexts/DataSources.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix joined array unit test
  core-ui/src/components/Extensibility/components/tests/JoinedArray.test.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix ResourceList docs
  docs/extensibility/display-widgets.md
Due: pre-master-busola-governance, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

code refactor
  core/src/luigi-config/navigation/mergeInExtensibilityNav.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

update docs and examples to use the "children" parameter in forms (#1768)
  core-ui/src/components/Extensibility/SchemaRulesInjector.js
  docs/extensibility/form-widgets.md
  examples/pizzas/configuration/pizza-orders-configmap.yaml
  examples/pizzas/configuration/pizzas-configmap.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Fix ResourceLink widget and Table's docs (#1791)
  core-ui/src/components/Extensibility/components/ResourceLink.js
  core-ui/src/components/Extensibility/contexts/DataSources.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
  docs/extensibility/display-widgets.md
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

applied suggestions and added break parameter to joinedarray docs
  core-ui/src/components/Extensibility/components/JoinedArray.js
  core-ui/src/components/Extensibility/jsonataWrapper.js
  docs/extensibility/display-widgets.md
  docs/extensibility/resources.md
  examples/resources/configuration/istio/gateways.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-local, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance
