Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

add messages and download filenames
  core-ui/src/components/Clusters/components/AuthForm.js
  core-ui/src/components/Clusters/components/ContextChooser/ContextChooser.js
  core-ui/src/components/Clusters/views/ClusterList.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

update tests
  tests/support/loadKubeconfigFile.js
  tests/tests/multiple-context-kubeconfig.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove unnecessary import
  core-ui/src/components/Clusters/components/AuthForm.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix tests
  tests/tests/download-a-kubeconfig.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix deleting (and tests)
  core-ui/src/components/Clusters/views/ClusterList.js
  tests/tests/reduced-permissions.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix unit test
  core-ui/src/components/HelmReleases/HelmReleaseData.js
  core-ui/src/components/HelmReleases/tests/HelmReleaseData.test.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

fix tests
  tests/tests/other-logins.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Split function tests
  tests/cypress.json
  tests/support/views/functions-view.js
  tests/tests/create-an-api-rule.spec.js
  tests/tests/create-functions.spec.js
  tests/tests/in-cluster-eventing.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

dedupsko
  core-ui/src/components/HelmReleases/HelmReleasesDetails.js
  core-ui/src/components/HelmReleases/OtherReleases.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove stray commented out code
  core-ui/src/components/Clusters/views/ClusterList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Change default timeouts and removed manual timeouts in tests
  tests/cypress.json
  tests/tests/create-a-deployment.spec.js
  tests/tests/create-a-role.spec.js
  tests/tests/test-HPA.spec.js
  tests/tests/test-daemon-sets.spec.js
  tests/tests/test-dashboard-version.spec.js
  tests/tests/test-destination-rules.spec.js
  tests/tests/test-dns-providers.spec.js
  tests/tests/test-ingresses.spec.js
  tests/tests/test-jobs.spec.js
  tests/tests/test-namespace-overview.spec.js
  tests/tests/test-persistent-volume-claims.spec.js
  tests/tests/test-persistent-volumes.spec.js
  tests/tests/test-protected-resources.spec.js
  tests/tests/test-replica-sets.spec.js
  tests/tests/test-service-accounts.spec.js
  tests/tests/test.settings.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Split function tests
  tests/tests/create-functions.spec.js
  tests/tests/in-cluster-eventing.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Run all tests
  tests/cypress.json
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Tets
  tests/plugins/index.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

didn't work
  tests/package-lock.json
  tests/package.json
  tests/plugins/index.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Move function testing to be done later
  tests/cypress.json
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Remove unnecessary argument
  tests/tests/create-functions.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Review fixes
  core-ui/src/components/HelmReleases/HelmReleaseStatus.js
  core-ui/src/components/HelmReleases/HelmReleasesDetails.js
  core-ui/src/components/HelmReleases/HelmReleasesList.js
  core-ui/src/components/HelmReleases/OtherReleaseVersions.js
  core-ui/src/components/HelmReleases/findRecentRelease.js
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix linter dammit
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Split function tests (#889)
  tests/cypress.json
  tests/support/views/functions-view.js
  tests/tests/create-an-api-rule.spec.js
  tests/tests/create-functions.spec.js
  tests/tests/in-cluster-eventing.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Review fixes 2, move translation stuff to headers section
  core-ui/src/components/HelmReleases/ChartContent.js
  core-ui/src/components/HelmReleases/HelmReleaseData.js
  core-ui/src/components/HelmReleases/HelmReleaseStatus.js
  core-ui/src/components/HelmReleases/HelmReleasesDetails.js
  core-ui/src/components/HelmReleases/HelmReleasesList.js
  core-ui/src/components/HelmReleases/OtherReleaseVersions.js
  core-ui/src/components/HelmReleases/ReleaseDataPanel.js
  core-ui/src/components/HelmReleases/tests/HelmReleaseData.test.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

stats poc
  core-ui/src/components/Predefined/Details/Pod/CpuStats.js
  core-ui/src/components/Predefined/Details/Pod/Pod.details.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix status on list
  core-ui/src/components/HelmReleases/HelmReleasesList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Simplify!
  core-ui/src/components/HelmReleases/HelmReleasesDetails.js
  core-ui/src/components/HelmReleases/HelmReleasesList.js
  core-ui/src/components/HelmReleases/findRecentRelease.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Update core/src/i18n/en.yaml
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix translations
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Adjust search, remove custom groupBy
  core-ui/src/command-pallette/CommandPalletteUI/handlers/helmReleaseHandler.js
  core-ui/src/components/HelmReleases/HelmReleasesList.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Dedupe test
  tests/cypress.json
  tests/tests/smoke-tests.spec.js
  tests/tests/test-namespace-overview.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

More timeouts changes
  tests/cypress-smoke.json
  tests/cypress.json
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix editing, deleting and tests
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/components/Clusters/views/EditCluster/EditCluster.js
  tests/tests/edit-cluster.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix css in timeframe-fn-logs
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.scss
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Change default timeouts and removed manual timeouts in tests (#891)
  tests/cypress-smoke.json
  tests/cypress.json
  tests/tests/create-a-deployment.spec.js
  tests/tests/create-a-role.spec.js
  tests/tests/test-HPA.spec.js
  tests/tests/test-daemon-sets.spec.js
  tests/tests/test-dashboard-version.spec.js
  tests/tests/test-destination-rules.spec.js
  tests/tests/test-dns-providers.spec.js
  tests/tests/test-ingresses.spec.js
  tests/tests/test-jobs.spec.js
  tests/tests/test-namespace-overview.spec.js
  tests/tests/test-persistent-volume-claims.spec.js
  tests/tests/test-persistent-volumes.spec.js
  tests/tests/test-protected-resources.spec.js
  tests/tests/test-replica-sets.spec.js
  tests/tests/test-service-accounts.spec.js
  tests/tests/test.settings.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add title for helm releases
  core-ui/src/components/App/App.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump luigi-client
  package-lock.json
  package.json
Due: pre-busola-backend-deployment-check, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local

Make renders not components
  core-ui/src/components/App/App.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix css in timeframe-fn-logs (#895)
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.scss
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
