Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$

Small fixes (#416)
  core-ui/src/components/Predefined/Details/ConfigMap/ConfigMap.details.js
  resources/web/deployment.yaml
  shared/components/GenericList/actionHandlers/simpleDelete.js
  shared/components/GenericList/actionHandlers/test/handleDelete.test.js
  shared/components/GenericList/test/GenericList.test.js
  shared/components/KeyValueForm/test/KeyValueForm.test.js
  shared/components/LabelSelectorInput/test/LabelSelectorInput.test.js
  shared/components/ResourceNotFound/test/ResourceNotFound.test.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix ModalWithForm translations
  shared/components/ModalWithForm/ModalWithForm.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Fix server creation (#419)
  core-ui/src/components/Predefined/Create/Deployments/templates.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Add secrets with filtering
  core-ui/src/components/Predefined/Create/Gateways/Forms/TlsForm.js
  core-ui/src/shared/components/K8sResourceSelect.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Gettin' there
  core-ui/src/components/Predefined/Create/Gateways/Forms/ServersForm.js
  core-ui/src/components/Predefined/Create/Gateways/Forms/TlsForm.js
  core-ui/src/components/Predefined/Create/Gateways/Gateways.create.js
  core-ui/src/components/Predefined/Create/Gateways/helpers.js
  core-ui/src/shared/ResourceForm/components/FormComponents.js
  core-ui/src/shared/ResourceForm/components/FormComponents.scss
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Resource form tweaks (#417)
  core-ui/src/components/Predefined/Create/DNSProviders/DNSProviders.create.js
  core-ui/src/components/Predefined/Create/Deployments/Containers.js
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  core-ui/src/components/Predefined/Create/Deployments/templates.js
  core-ui/src/shared/ResourceForm/ResourceForm.js
  core-ui/src/shared/ResourceForm/components/FormComponents.js
  core-ui/src/shared/ResourceForm/components/Inputs.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Fix
  core-ui/src/components/Predefined/Create/Gateways/Forms/TlsForm.js
  core-ui/src/shared/ResourceForm/ResourceForm.js
  core-ui/src/shared/ResourceForm/components/FormComponents.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

remove add/remove cluster options when inside a cluster
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

remove kubeconfig download from top nav
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
  core/src/luigi-config/navigation/navigation-data-init.js
  tests/tests/download-a-kubeconfig.spec.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix cluster creation in integration tests
  tests/support/login-commands.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Drawing towards close
  core-ui/src/components/Predefined/Create/Deployments/Deployments.create.js
  core-ui/src/components/Predefined/Create/Gateways/Forms/PortsForm.js
  core-ui/src/components/Predefined/Create/Gateways/Forms/TlsForm.js
  core-ui/src/components/Predefined/Create/Gateways/helpers.js
  core-ui/src/shared/ResourceForm/ResourceForm.js
  core-ui/src/shared/ResourceForm/components/FormComponents.js
  core-ui/src/shared/ResourceForm/components/Inputs.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

update i18n
  core-ui/src/components/Clusters/components/AddClusterWizard.js
  core-ui/src/components/Clusters/components/AddClusterWizard.scss
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

integrade config info into README
  README.md
  busola_configuration.md
Due: pre-master-busola-governance, pre-main-busola-governance

Update core/src/i18n/en.yaml
  core/src/i18n/en.yaml
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Self review
  core-ui/src/components/Predefined/Create/Gateways/Forms/HostsForm.js
  core-ui/src/components/Predefined/Create/Gateways/Forms/PortsForm.js
  core-ui/src/components/Predefined/Create/Gateways/Forms/ServersForm.js
  core-ui/src/components/Predefined/Create/Gateways/Forms/TlsForm.js
  core-ui/src/components/Predefined/Create/Gateways/Gateways.create.js
  core-ui/src/components/Predefined/Create/Gateways/helpers.js
  core-ui/src/components/Predefined/Create/Gateways/templates.js
  core-ui/src/shared/ResourceForm/components/FormComponents.js
  core/src/i18n/en.yaml
  shared/components/Tooltip/Tooltip.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

screaming snakes
  core-ui/src/shared/ResourceForm/components/FormComponents.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Unify CM naming
  resources/web/configmap.yaml
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

fix most tests
  core-ui/src/components/Clusters/components/AuthForm.js
  core-ui/src/components/Clusters/components/KubeconfigUpload/KubeconfigUpload.js
  core-ui/src/components/Clusters/shared.js
  core/src/i18n/en.yaml
  tests/tests/invalid-kubeconfig.spec.js
  tests/tests/login-enkode.spec.js
  tests/tests/other-logins.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

first draft Busola configuration (#364)
  README.md
Due: pre-master-busola-governance, pre-main-busola-governance

That was scary
  core-ui/src/components/Predefined/Create/Gateways/Forms/PortsForm.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

fix tests after locale change
  tests/tests/login-enkode.spec.js
  tests/tests/other-logins.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

hack
  README.md
Due: pre-master-busola-governance, pre-main-busola-governance

unhack
  README.md
Due: pre-master-busola-governance, pre-main-busola-governance

readme fix
  README.md
Due: pre-master-busola-governance, pre-main-busola-governance

add styling to single resource form
  core-ui/src/shared/ResourceForm/ResourceForm.js
  core-ui/src/shared/ResourceForm/ResourceForm.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Rename defaultStorage to storage
  Dockerfile.local
  core-ui/src/components/Clusters/components/AddClusterWizard.js
  core/src/luigi-config/cluster-management/clusters-storage.js
  resources/web/configmap.yaml
  tests/tests/cluster-configuration.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove a stray console.log
  core-ui/src/components/Clusters/views/AddCluster/AddCluster.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

MVP
  core-ui/src/components/Predefined/Details/Shoots/Shoots.details.js
  core-ui/src/components/Predefined/Details/index.js
  core-ui/src/components/Predefined/List/Shoots/Shoots.list.js
  core-ui/src/components/Predefined/List/index.js
  core/src/assets/config/config.json
  core/src/i18n/en.yaml
  core/src/luigi-config/init-params/constants.js
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/configmap.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

I dunno what icon should we get
  backend/common.js
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterOverviewHeader.js
  core-ui/src/components/Predefined/Details/CronJobs/CronJob.details.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/Shoots/ShootHibernationSchedule.js
  core-ui/src/components/Predefined/Details/Shoots/Shoots.details.js
  core-ui/src/components/Predefined/Details/Shoots/useDeleteHibernationSchedule.js
  core-ui/src/components/Predefined/List/CronJobs.list.js
  core-ui/src/components/Predefined/List/Shoots/Shoots.list.js
  core-ui/src/shared/components/CronJobSchedule.js
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/backend/deployment.yaml
  shared/components/GenericList/actionHandlers/simpleDelete.js
Due: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Create, bare minimum
  core-ui/src/components/Predefined/Create/Shoots/Shoots.create.js
  core-ui/src/components/Predefined/Create/Shoots/templates.js
  core-ui/src/components/Predefined/Create/index.js
  core-ui/src/components/Predefined/Details/Shoots/ShootHibernationSchedule.js
  core-ui/src/components/Predefined/List/Shoots/Shoots.list.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

MORE
  core-ui/src/components/Predefined/Create/Shoots/Shoots.create.js
  core-ui/src/components/Predefined/Create/Shoots/helpers.js
  core-ui/src/components/Predefined/Create/Shoots/templates.js
  core-ui/src/components/Predefined/Details/Shoots/Shoots.details.js
  core-ui/src/shared/ResourceForm/ResourceForm.js
  core-ui/src/shared/ResourceForm/components/FormComponents.js
  core-ui/src/shared/ResourceForm/components/FormComponents.scss
  core-ui/src/shared/components/Select/Select.js
  core-ui/src/shared/components/Select/Select.scss
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Remove logs
  core-ui/src/components/Predefined/Create/Shoots/Shoots.create.js
  core-ui/src/components/Predefined/Details/Shoots/ShootHibernationSchedule.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Refactor
  core-ui/src/components/Predefined/Create/Issuers/IssuerTypeDropdown.js
  core-ui/src/components/Predefined/Create/Issuers/Issuers.create.js
  core-ui/src/components/Predefined/Create/Issuers/templates.js
  core-ui/src/shared/ResourceForm/components/FormComponents.js
  core-ui/src/shared/components/ResourceRef/ExternalResourceRef.js
  core/src/i18n/en.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Fix non-https validation
  core-ui/src/components/Predefined/Create/Gateways/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Draft that doesnt work
  shared/hooks/BackendAPI/useFetch.js
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test

Fix translations for instance creations
  core-ui/src/components/Predefined/Create/ServiceBindings/ServiceBindings.create.js
  core-ui/src/components/Predefined/Create/ServiceInstances/ServiceInstances.create.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-integration-test-k3s, pre-busola-ui-test
