Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-backend-deployment-check, pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test, pre-main-busola-governance

pre-busola-backend-deployment-check:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-backend-deployment-check
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

post-busola-web-and-backend:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web-and-backend
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-busola-web:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-web
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

Remove additional regex
  core-ui/src/components/Predefined/Create/Gateways/Forms/PortsForm.js
  core-ui/src/components/Predefined/Create/RoleBindings/RoleBindings.js
  core-ui/src/shared/components/Deployment/Containers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

wip
  core-ui/src/components/App/App.js
  core-ui/src/components/Extensibility/details.js
  core-ui/src/components/Extensibility/loadConfigFile.js
  core/src/assets/customResources/customResources.json
  core/src/luigi-config/customResources.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/navigation-helpers.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix lint
  core-ui/src/components/Predefined/Create/AddonsConfigurations/AddonsConfigurations.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix lint
  core-ui/src/shared/components/Deployment/Containers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add stats for deployments (#1151)
  core-ui/src/components/Predefined/Details/Deployment/Deployment.details.js
  core-ui/src/components/Predefined/Details/Pod/PodStatsGraph.js
  core-ui/src/shared/components/StatsGraph/StatsGraph.js
  core-ui/src/shared/components/StatsGraph/StatsPanel.js
  core-ui/src/shared/components/StatsGraph/StatsPanel.scss
  core-ui/src/shared/hooks/usePrometheus.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Draft of namespace navigation
  core/src/assets/customResources/customResources.json
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Small fix
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

test route
  core-ui/src/components/App/App.js
  core-ui/src/components/Extensibility/details.js
  core-ui/src/components/Extensibility/loadConfigFile.js
  core-ui/src/shared/components/ResourceDetails/ResourceDetails.js
  core/src/assets/customResources/customResources.json
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add more resources
  core-ui/src/components/Predefined/Details/OAuth2Clients/OAuthClientSpecPanel.scss
  core-ui/src/resources/DnsEntries/DNSNameRef.js
  core-ui/src/resources/DnsEntries/DnsEntryCreate.js
  core-ui/src/resources/DnsEntries/DnsEntryDetails.js
  core-ui/src/resources/DnsEntries/DnsEntryList.js
  core-ui/src/resources/DnsEntries/TargetsRef.js
  core-ui/src/resources/DnsEntries/TargetsRef.scss
  core-ui/src/resources/DnsEntries/helpers.js
  core-ui/src/resources/DnsEntries/index.js
  core-ui/src/resources/DnsProviders/DnsProviderCreate.js
  core-ui/src/resources/DnsProviders/DnsProviderDetails.js
  core-ui/src/resources/DnsProviders/DnsProviderList.js
  core-ui/src/resources/DnsProviders/ProviderTypeDropdown.js
  core-ui/src/resources/DnsProviders/index.js
  core-ui/src/resources/DnsProviders/templates.js
  core-ui/src/resources/Issuers/IssuerCreate.js
  core-ui/src/resources/Issuers/IssuerDetails.js
  core-ui/src/resources/Issuers/IssuerDomains.js
  core-ui/src/resources/Issuers/IssuerList.js
  core-ui/src/resources/Issuers/IssuerTypeDropdown.js
  core-ui/src/resources/Issuers/helpers.js
  core-ui/src/resources/Issuers/index.js
  core-ui/src/resources/Issuers/templates.js
  core-ui/src/resources/OAuth2Clients/OAuth2ClientCreate.js
  core-ui/src/resources/OAuth2Clients/OAuth2ClientDetails.js
  core-ui/src/resources/OAuth2Clients/OAuth2ClientList.js
  core-ui/src/resources/OAuth2Clients/OAuthClientSpecPanel.js
  core-ui/src/resources/OAuth2Clients/OAuthClientSpecPanel.scss
  core-ui/src/resources/OAuth2Clients/helpers.js
  core-ui/src/resources/OAuth2Clients/index.js
  core-ui/src/resources/index.js
  core-ui/src/resources/namespaceResources/dnsEntries.routes.js
  core-ui/src/resources/namespaceResources/dnsProviders.routes.js
  core-ui/src/resources/namespaceResources/issuers.routes.js
  core-ui/src/resources/namespaceResources/oAuth2Clients.routes.js
  core-ui/src/resources/transitionalRoutes.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

prepare extensibilityList
  core-ui/src/components/App/App.js
  core-ui/src/components/Extensibility/extensibilityList.js
  core-ui/src/components/Extensibility/useGetCRbyPath.js
  core-ui/src/routing/createResourceRoutes.js
  core/src/assets/customResources/customResources.json
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add config maps and certificates
  core-ui/src/components/Predefined/Details/Certificate/CertificateRefs.scss
  core-ui/src/resources/Certificates/CertificateCreate.js
  core-ui/src/resources/Certificates/CertificateCreate.scss
  core-ui/src/resources/Certificates/CertificateDetails.js
  core-ui/src/resources/Certificates/CertificateList.js
  core-ui/src/resources/Certificates/CertificateRefs.js
  core-ui/src/resources/Certificates/CertificateRefs.scss
  core-ui/src/resources/Certificates/IssuerLink.js
  core-ui/src/resources/Certificates/SecretLink.js
  core-ui/src/resources/Certificates/helpers.js
  core-ui/src/resources/Certificates/index.js
  core-ui/src/resources/Certificates/templates.js
  core-ui/src/resources/ConfigMaps/ConfigMapCreate.js
  core-ui/src/resources/ConfigMaps/ConfigMapDetails.js
  core-ui/src/resources/ConfigMaps/ConfigMapList.js
  core-ui/src/resources/ConfigMaps/helpers.js
  core-ui/src/resources/ConfigMaps/index.js
  core-ui/src/resources/index.js
  core-ui/src/resources/namespaceResources/certificates.routes.js
  core-ui/src/resources/namespaceResources/configMaps.routes.js
  core-ui/src/resources/transitionalRoutes.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add crds
  core-ui/src/components/CustomResources/CustomResources.js
  core-ui/src/components/Predefined/Create/CustomResourceDefinitions/templates.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/templates.js
  core-ui/src/resources/CustomResourceDefinitions/CRCreate.js
  core-ui/src/resources/CustomResourceDefinitions/CurrentCRDVersion.js
  core-ui/src/resources/CustomResourceDefinitions/CurrentCRDVersion.scss
  core-ui/src/resources/CustomResourceDefinitions/CustomResourceDefinitionCreate.js
  core-ui/src/resources/CustomResourceDefinitions/CustomResourceDefinitionDetails.js
  core-ui/src/resources/CustomResourceDefinitions/CustomResourceDefinitionList.js
  core-ui/src/resources/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/resources/CustomResourceDefinitions/CustomResources.details.js
  core-ui/src/resources/CustomResourceDefinitions/RelatedCRDsList.js
  core-ui/src/resources/CustomResourceDefinitions/index.js
  core-ui/src/resources/CustomResourceDefinitions/templates.js
  core-ui/src/resources/CustomResourceDefinitions/useNavigateToCustomResource.js
  core-ui/src/resources/clusterResources/customResourceDefinitionsCl.routes.js
  core-ui/src/resources/index.js
  core-ui/src/resources/namespaceResources/customResourceDefinitionsNs.routes.js
  core-ui/src/resources/other.js
  core-ui/src/resources/other/CustomResourceDetails.routes.js
  core-ui/src/resources/transitionalRoutes.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add custom paths also for cluster resources
  core/src/luigi-config/navigation/customResources.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

add service accounts, subscriptions, git repositories
  core-ui/src/resources/GitRepositories/GitRepositoryCreate.js
  core-ui/src/resources/GitRepositories/GitRepositoryDetails.js
  core-ui/src/resources/GitRepositories/GitRepositoryList.js
  core-ui/src/resources/GitRepositories/helpers.js
  core-ui/src/resources/GitRepositories/index.js
  core-ui/src/resources/ServiceAccounts/GenericSecrets.js
  core-ui/src/resources/ServiceAccounts/SecretForm.js
  core-ui/src/resources/ServiceAccounts/ServiceAccountCreate.js
  core-ui/src/resources/ServiceAccounts/ServiceAccountDetails.js
  core-ui/src/resources/ServiceAccounts/ServiceAccountList.js
  core-ui/src/resources/ServiceAccounts/helpers.js
  core-ui/src/resources/ServiceAccounts/index.js
  core-ui/src/resources/ServiceAccounts/templates.js
  core-ui/src/resources/ServiceAccounts/useDownloadSecretKubeconfig.js
  core-ui/src/resources/Subscriptions/EventFilters.scss
  core-ui/src/resources/Subscriptions/FiltersSection.js
  core-ui/src/resources/Subscriptions/SubscriptionConditions.js
  core-ui/src/resources/Subscriptions/SubscriptionCreate.js
  core-ui/src/resources/Subscriptions/SubscriptionDetails.js
  core-ui/src/resources/Subscriptions/SubscriptionList.js
  core-ui/src/resources/Subscriptions/Subscriptions.scss
  core-ui/src/resources/Subscriptions/helpers.js
  core-ui/src/resources/Subscriptions/index.js
  core-ui/src/resources/Subscriptions/templates.js
  core-ui/src/resources/index.js
  core-ui/src/resources/namespaceResources/gitRepositories.routes.js
  core-ui/src/resources/namespaceResources/serviceAccounts.routes.js
  core-ui/src/resources/namespaceResources/subscriptions.routes.js
  core-ui/src/resources/transitionalRoutes.js
  core-ui/src/shared/components/SubscriptionsList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Handle special case for a single ns
  core-ui/src/command-pallette/CommandPalletteUI/ResultsList/ResultsList.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/clusterResourceHandler.js
  core/src/i18n/en.yaml
  core/src/luigi-config/communication.js
  core/src/luigi-config/navigation/navigation-helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add custom paths also for cluster resources, but better
  core/src/luigi-config/navigation/customPaths.js
  core/src/luigi-config/navigation/customResources.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Moved notification to ClusterList
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/shared/hooks/useDeleteResource.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Remove needless if statement
  core-ui/src/shared/components/ResourceGraph/DetailsCard/DetailsCard.scss
  core-ui/src/shared/components/ResourceGraph/ResourceGraph.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Added confirmation to deletemessagebox
  core-ui/src/components/Clusters/views/ClusterList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Apply review fixes, fix test
  core-ui/src/components/Predefined/Create/Gateways/Forms/PortsForm.js
  core-ui/src/components/Predefined/Create/RoleBindings/RoleBindings.js
  core-ui/src/components/Predefined/Create/RoleBindings/RoleBindings.scss
  core-ui/src/shared/ResourceForm/fields/K8sNameField.js
  core-ui/src/shared/components/Deployment/Containers.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Add memoization to graphviz
  core-ui/src/shared/components/ResourceGraph/GraphvizComponent.js
  core-ui/src/shared/components/ResourceGraph/ResourceGraph.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove if
  core-ui/src/shared/components/ResourceGraph/ResourceGraph.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Fix styles
  core-ui/src/components/Predefined/Create/AddonsConfigurations/AddonsConfigurations.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Added cluster delete and connect confirmation (#1197)
  core-ui/src/components/Clusters/views/ClusterList.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Remove unused field
  core-ui/src/components/Predefined/Create/AddonsConfigurations/AddonsConfigurations.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

extensibility details
  core-ui/src/components/App/App.js
  core-ui/src/components/Extensibility/extensibilityDetails.js
  core-ui/src/components/Extensibility/extensibilityList.js
  core-ui/src/shared/components/ResourceDetails/ResourceDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Introduce a name generator (#1209)
  core-ui/src/components/ApiRules/ApiRulesList.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Predefined/Create/AddonsConfigurations/AddonsConfigurations.js
  core-ui/src/components/Predefined/Create/AddonsConfigurations/AddonsConfigurations.scss
  core-ui/src/components/Predefined/Create/ApiRules/ApiRules.create.js
  core-ui/src/components/Predefined/Create/Functions/Functions.create.js
  core-ui/src/components/Predefined/Create/Functions/helpers.js
  core-ui/src/components/Predefined/Create/Gateways/Forms/PortsForm.js
  core-ui/src/components/Predefined/Create/Jobs/Containers.js
  core-ui/src/components/Predefined/Create/Jobs/Jobs.create.js
  core-ui/src/components/Predefined/Create/RoleBindings/RoleBindings.js
  core-ui/src/components/Predefined/Create/Secrets/Secrets.create.js
  core-ui/src/components/Predefined/Create/Subscriptions/Subscriptions.create.js
  core-ui/src/components/Predefined/Details/CronJobs/CronJobJobs.js
  core-ui/src/components/Predefined/Details/Service/Service.details.js
  core-ui/src/components/Predefined/Details/ServiceAccount/GenericSecrets.js
  core-ui/src/components/Predefined/Details/ServiceAccount/ServiceAccount.details.js
  core-ui/src/shared/ResourceForm/components/CollapsibleSection.js
  core-ui/src/shared/ResourceForm/fields/K8sNameField.js
  core-ui/src/shared/ResourceForm/fields/K8sNameField.scss
  core-ui/src/shared/components/Deployment/Containers.js
  core-ui/src/shared/components/K8sNameInput/K8sNameInput.js
  core-ui/src/shared/components/SubscriptionsList.js
  core-ui/src/shared/utils/randomNamesGenerator/words.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  tests/support/views/functions-view.js
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

Simple create
  core-ui/src/components/Extensibility/extensibilityCreate.js
  core-ui/src/components/Extensibility/extensibilityList.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

import memo
  core-ui/src/shared/components/ResourceGraph/GraphvizComponent.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Handle CRs on Command Palette (#1212)
  core-ui/src/command-pallette/CommandPalletteUI/components/components.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/clusterResourceHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/crHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/crListHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/index.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/namespacedResourceHandler.js
  core-ui/src/components/CustomResources/CustomResources.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitions.details.js
  core-ui/src/shared/utils/helpers.js
  core/src/i18n/en.yaml
  resources/web/deployment.yaml
  tests/tests/cluster/test-command-palette.spec.js
  tests/tests/cluster/test-custom-resources.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

working state
  core-ui/src/command-pallette/CommandPalletteUI/handlers/clusterResourceHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/crHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/helpers.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/namespacedResourceHandler.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Lil big refactor
  core-ui/src/command-pallette/CommandPalletteUI/components/components.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/clusterResourceHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/crHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/crListHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/crdHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/helpers.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/logsHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/namespacedResourceHandler.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/nodesHandler.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Remove log
  core-ui/src/command-pallette/CommandPalletteUI/components/components.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Handle multiple shortnames for CRD
  core-ui/src/command-pallette/CommandPalletteUI/components/components.js
  core-ui/src/command-pallette/CommandPalletteUI/handlers/crHandler.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Bump
  resources/web/deployment.yaml
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

remove iscardopened state
  core-ui/src/shared/components/ResourceGraph/ResourceGraph.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

remove needless question marks
  core-ui/src/shared/components/ResourceGraph/DetailsCard/DetailsCard.js
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Adjust tests
  tests/tests/cluster/test-command-palette.spec.js
Due: pre-busola-integration-test-k3s, post-busola-integration-test-k3s, pre-busola-ui-test

move buttons to right
  core-ui/src/shared/components/ResourceGraph/DetailsCard/DetailsCard.scss
Due: pre-busola-core-ui, post-busola-core-ui, post-busola-web-and-backend, pre-busola-web, post-busola-web, post-busola-local, post-busola-integration-test-k3s, pre-busola-ui-test

Path conditions:
  pre-busola-backend-deployment-check: any of: ^backend/|^package.json
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  post-busola-web-and-backend: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json
  pre-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-web: any of: ^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile
  post-busola-local: any of: ^backend/|^core/|^core-ui/|^service-catalog-ui/|^shared/|^package.json|^Makefile|^Dockerfile.local
  pre-busola-integration-test-k3s: any of: ^resources/|^tests/
  post-busola-integration-test-k3s: any of: /
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
