Repository kyma-incubator/knative-kafka: changes, and which Prow jobs are due for each by the changed paths.
All: pre-knative-kafka-components-controller, post-knative-kafka-components-controller, pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

prow/jobs/incubator/knative-kafka/controller.yaml:

# Code generated by rendertemplates. DO NOT EDIT. 


test_infra_ref: &test_infra_ref
  org: kyma-project
  repo: test-infra
  path_alias: github.com/kyma-project/test-infra

job_template: &job_template
  decorate: true
  path_alias: github.com/kyma-incubator/knative-kafka
  max_concurrency: 10
  labels:
    preset-dind-enabled: "true"
    preset-sa-gcr-push: "true"
    preset-docker-push-repository-incubator: "true"
  extra_refs:
    - <<: *test_infra_ref
      base_ref: master
  branches:
    - ^master$
    - ^release-.*$
  run_if_changed: "^components/controller/"
  spec:
    containers:
      - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
        securityContext:
          privileged: true
        command:
          - "/home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build-generic.sh"
        args:
          - "/home/prow/go/src/github.com/kyma-incubator/knative-kafka/components/controller"
        resources:
          requests:
            memory: 1.5Gi
            cpu: 0.8

presubmits: # runs on PRs
  kyma-incubator/knative-kafka:
    - name: pre-knative-kafka-components-controller
      skip_report: false
      optional: false
      <<: *job_template

postsubmits:
  kyma-incubator/knative-kafka:
    - name: post-knative-kafka-components-controller
      <<: *job_template

prow/jobs/incubator/knative-kafka/knative-kafka-common.yaml:

# Code generated by rendertemplates. DO NOT EDIT. 

test_infra_ref: &test_infra_ref
  org: kyma-project
  repo: test-infra
  path_alias: github.com/kyma-project/test-infra

job_template: &job_template
  skip_report: false
  decorate: true
  max_concurrency: 10

job_labels_template: &job_labels_template
  preset-dind-enabled: "true"
  preset-sa-gcr-push: "true"
  preset-docker-push-repository-incubator: "true"

container_template: &container_template
  securityContext:
    privileged: true
  command:
    - "/home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh"
  resources:
    requests:
      memory: 1.5Gi
      cpu: 0.8

presubmits: # runs on PRs
  kyma-incubator/knative-kafka:
    - name: pre-master-knative-kafka-components-common
      branches:
        - ^master$
      <<: *job_template
      optional: true
      path_alias: github.com/kyma-incubator/knative-kafka
      spec:
        containers:
          - <<: *container_template
            image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.12
            args:
              - "/home/prow/go/src/github.com/kyma-incubator/knative-kafka/components/common"
      run_if_changed: "^components/common/"
      extra_refs:
        - <<: *test_infra_ref
          base_ref: master
      labels:
        <<: *job_labels_template
        preset-build-pr: "true"

postsubmits:
  kyma-incubator/knative-kafka:
    - name: post-master-knative-kafka-components-common
      branches:
        - ^master$
      <<: *job_template
      path_alias: github.com/kyma-incubator/knative-kafka
      spec:
        containers:
          - <<: *container_template
            image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.12
            args:
              - "/home/prow/go/src/github.com/kyma-incubator/knative-kafka/components/common"
      run_if_changed: "^components/common/"
      extra_refs:
        - <<: *test_infra_ref
          base_ref: master
      prow.kyma-project.io/slack.skipReport: "true"
      labels:
        <<: *job_labels_template
        preset-build-master: "true"

update channel dep, run tests
  components/channel/Gopkg.lock
  components/channel/Gopkg.toml
  components/channel/Makefile
  components/channel/vendor/knative.dev/eventing/config/400-config-br-default-channel.yaml
  components/channel/vendor/knative.dev/eventing/config/400-config-br-defaults.yaml
  components/channel/vendor/knative.dev/eventing/config/channels/in-memory-channel-ns/100-config-event-dispatcher.yaml
  components/channel/vendor/knative.dev/eventing/config/channels/in-memory-channel-ns/200-addressable-resolver-clusterrole.yaml
  components/channel/vendor/knative.dev/eventing/config/channels/in-memory-channel-ns/200-channelable-manipulator-clusterrole.yaml
  components/channel/vendor/knative.dev/eventing/config/channels/in-memory-channel-ns/200-dispatcher-clusterrole.yaml
  components/channel/vendor/knative.dev/eventing/config/channels/in-memory-channel-ns/200-serviceaccount.yaml
  components/channel/vendor/knative.dev/eventing/config/channels/in-memory-channel-ns/201-clusterrolebinding.yaml
  components/channel/vendor/knative.dev/eventing/config/channels/in-memory-channel-ns/300-in-memory-channel.yaml
  components/channel/vendor/knative.dev/eventing/config/config-leader-election.yaml
  components/channel/vendor/knative.dev/eventing/pkg/apis/duck/v1alpha1/channel_defaulter.go
  components/channel/vendor/knative.dev/eventing/pkg/apis/duck/v1alpha1/channel_template_types.go
  components/channel/vendor/knative.dev/eventing/pkg/apis/duck/v1alpha1/channelable_combined_types.go
  components/channel/vendor/knative.dev/eventing/pkg/apis/duck/v1alpha1/delivery_conversion.go
  components/channel/vendor/knative.dev/eventing/pkg/apis/duck/v1alpha1/delivery_types.go
  components/channel/vendor/knative.dev/eventing/pkg/apis/duck/v1alpha1/subscribable_types.go
  components/channel/vendor/knative.dev/eventing/pkg/apis/duck/v1alpha1/zz_generated.deepcopy.go
  components/channel/vendor/knative.dev/eventing/pkg/apis/duck/v1beta1/delivery_conversion.go
Due: none

update common Makefile, run tests
  components/common/Makefile
Due: pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

update dispatcher dep, run tests
  components/dispatcher/Gopkg.lock
  components/dispatcher/Gopkg.toml
  components/dispatcher/Makefile
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/alias.go
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/pkg/cloudevents/transport/http/context.go
  components/dispatcher/vendor/knative.dev/eventing/config/201-eventing-serviceaccount.yaml
  components/dispatcher/vendor/knative.dev/eventing/config/201-webhook-serviceaccount.yaml
  components/dispatcher/vendor/knative.dev/eventing/config/300-flows-parallel.yaml
  components/dispatcher/vendor/knative.dev/eventing/config/300-flows-sequence.yaml
  components/dispatcher/vendor/knative.dev/eventing/config/400-config-br-default-channel.yaml
  components/dispatcher/vendor/knative.dev/eventing/config/400-config-br-defaults.yaml
  components/dispatcher/vendor/knative.dev/eventing/config/config-leader-election.yaml
  components/dispatcher/vendor/knative.dev/eventing/pkg/apis/duck/v1alpha1/channel_defaulter.go
  components/dispatcher/vendor/knative.dev/eventing/pkg/apis/duck/v1alpha1/channel_template_types.go
  components/dispatcher/vendor/knative.dev/eventing/pkg/apis/duck/v1alpha1/channelable_combined_types.go
  components/dispatcher/vendor/knative.dev/eventing/pkg/apis/duck/v1alpha1/delivery_conversion.go
  components/dispatcher/vendor/knative.dev/eventing/pkg/apis/duck/v1alpha1/delivery_types.go
  components/dispatcher/vendor/knative.dev/eventing/pkg/apis/duck/v1alpha1/subscribable_types.go
  components/dispatcher/vendor/knative.dev/eventing/pkg/apis/duck/v1alpha1/zz_generated.deepcopy.go
  components/dispatcher/vendor/knative.dev/eventing/pkg/apis/duck/v1beta1/delivery_conversion.go
Due: none

add ci-release Makefile target
  components/channel/Makefile
  components/common/Makefile
  components/controller/Makefile
  components/dispatcher/Makefile
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller, pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

Backport pr94 (#101)
  components/channel/Makefile
  components/common/Makefile
  components/common/pkg/kafka/constants/constants.go
  components/common/pkg/kafka/consumer/consumer.go
  components/common/pkg/kafka/consumer/consumer_test.go
  components/controller/Makefile
  components/dispatcher/Makefile
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller, pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

update dispatchers /common dependency and log offset store errors
  components/channel/Makefile
  components/common/Makefile
  components/controller/Makefile
  components/dispatcher/Gopkg.lock
  components/dispatcher/Gopkg.toml
  components/dispatcher/Makefile
  components/dispatcher/internal/dispatcher/dispatcher.go
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/go.mod
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/go.sum
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/pkg/cloudevents/event_marshal.go
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/pkg/cloudevents/eventcontext.go
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/pkg/cloudevents/eventcontext_v1.go
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/pkg/cloudevents/extensions.go
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/pkg/cloudevents/transport/http/transport.go
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/pkg/cloudevents/types/value.go
  components/dispatcher/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/constants/constants.go
  components/dispatcher/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/consumer/consumer.go
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller, pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

update/reset channel to use release-0.12 common dependency
  components/channel/Gopkg.lock
  components/channel/Gopkg.toml
  components/channel/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/constants/constants.go
Due: none

update helm chart to use v0.12.1
  resources/knative-kafka/values.yaml
Due: none

update controllers /common dependency
  components/controller/Gopkg.lock
  components/controller/Gopkg.toml
  components/controller/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/constants/constants.go
  components/controller/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/consumer/consumer.go
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller

Backport pr95 (#102)
  components/channel/Gopkg.lock
  components/channel/Gopkg.toml
  components/channel/Makefile
  components/channel/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/constants/constants.go
  components/common/Makefile
  components/controller/Gopkg.lock
  components/controller/Gopkg.toml
  components/controller/Makefile
  components/controller/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/constants/constants.go
  components/controller/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/consumer/consumer.go
  components/dispatcher/Gopkg.lock
  components/dispatcher/Gopkg.toml
  components/dispatcher/Makefile
  components/dispatcher/internal/dispatcher/dispatcher.go
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/go.mod
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/go.sum
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/pkg/cloudevents/event_marshal.go
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/pkg/cloudevents/eventcontext.go
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/pkg/cloudevents/eventcontext_v1.go
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/pkg/cloudevents/extensions.go
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/pkg/cloudevents/transport/http/transport.go
  components/dispatcher/vendor/github.com/cloudevents/sdk-go/pkg/cloudevents/types/value.go
  components/dispatcher/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/constants/constants.go
  components/dispatcher/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/consumer/consumer.go
  resources/knative-kafka/values.yaml
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller, pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

move channel/dispatcher to eventing v0.13.5
  components/channel/Gopkg.lock
  components/channel/Gopkg.toml
  components/dispatcher/Gopkg.lock
  components/dispatcher/Gopkg.toml
Due: none

update makefile versions to v0.13.5
  components/channel/Makefile
  components/common/Makefile
  components/controller/Makefile
  components/dispatcher/Makefile
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller, pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

add new ci-release target
  components/channel/Makefile
  components/common/Makefile
  components/controller/Makefile
  components/dispatcher/Makefile
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller, pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

PR feedback - use version v0.13.0
  components/channel/Makefile
  components/common/Makefile
  components/controller/Makefile
  components/dispatcher/Makefile
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller, pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

PR feedback - use version v0.13.0
  resources/knative-kafka/values.yaml
Due: none

revert master to latest
  components/channel/Makefile
  components/common/Makefile
  components/controller/Makefile
  components/dispatcher/Makefile
  resources/knative-kafka/values.yaml
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller, pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

revert master to latest (#105)
  components/channel/Makefile
  components/common/Makefile
  components/controller/Makefile
  components/dispatcher/Makefile
  resources/knative-kafka/values.yaml
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller, pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

update componets with latest master common
  components/channel/Gopkg.lock
  components/channel/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/constants/constants.go
  components/controller/Gopkg.lock
  components/controller/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/constants/constants.go
  components/controller/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/consumer/consumer.go
  components/dispatcher/Gopkg.lock
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller

Kafkachannel crd consolidation (#107)
  components/channel/Gopkg.lock
  components/channel/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/constants/constants.go
  components/controller/Gopkg.lock
  components/controller/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/constants/constants.go
  components/controller/vendor/github.com/kyma-incubator/knative-kafka/components/common/pkg/kafka/consumer/consumer.go
  components/dispatcher/Gopkg.lock
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller

convert channel component
  components/channel/internal/channel/channel_test.go
  components/channel/internal/constants/constants.go
Due: none

convert to new crd, misc cleanup
  components/controller/pkg/controller/kafkachannel/channel.go
  components/controller/pkg/controller/kafkachannel/reconciler.go
  components/controller/pkg/controller/kafkasecret/kafkachannel.go
  components/controller/pkg/util/channel_test.go
  components/dispatcher/internal/client/client.go
  components/dispatcher/internal/testing/kafkachannel.go
  resources/knative-kafka/templates/kafkachannel-crd.yaml
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller

removing deprecated use of Base
  components/controller/pkg/controller/kafkachannel/channel.go
  components/controller/pkg/controller/kafkachannel/controller.go
  components/controller/pkg/controller/kafkachannel/dispatcher.go
  components/controller/pkg/controller/kafkachannel/kafkachannel.go
  components/controller/pkg/controller/kafkachannel/reconciler.go
  components/controller/pkg/controller/kafkachannel/reconciler_test.go
  components/controller/pkg/controller/kafkachannel/topic.go
  components/controller/pkg/controller/kafkachannel/topic_test.go
  components/controller/pkg/controller/kafkasecret/channel.go
  components/controller/pkg/controller/kafkasecret/controller.go
  components/controller/pkg/controller/kafkasecret/kafkachannel.go
  components/controller/pkg/controller/kafkasecret/reconciler.go
  components/controller/pkg/controller/kafkasecret/reconciler_test.go
  components/controller/pkg/kafkasecretinjection/reconciler.go
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller

env updates
  components/dispatcher/local-env.sh
Due: none

ignore intellij saved run configurations dir
  .gitignore
Due: none

cleanup dispatcher TODOs a bit
  components/dispatcher/internal/client/client.go
Due: none

README cleanup
  README.md
  pkg/channel/README.md
  pkg/controller/README.md
  pkg/dispatcher/README.md
Due: none

README cleanup
  README.md
Due: none

fix crd rbac
  resources/knative-kafka/templates/rbac.yaml
Due: none

fix crd rbac (#116)
  resources/knative-kafka/templates/rbac.yaml
Due: none

update dockerfile test target usage
  build/channel/Dockerfile
  build/controller/Dockerfile
  build/dispatcher/Dockerfile
Due: none
