Repository kyma-incubator/knative-kafka: changes, and which Prow jobs are due for each by the changed paths.
All: pre-knative-kafka-components-controller, post-knative-kafka-components-controller, pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

pre-knative-kafka-components-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-knative-kafka-components-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-incubator: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

pre-master-knative-kafka-components-common:
  decorate: true
  optional: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-knative-kafka-components-common:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

convert channel to knative messagereceiver and cloudevents sdk-go v2
  cmd/channel/main.go
  pkg/channel/message/message.go
  pkg/channel/producer/producer.go
  pkg/channel/producer/producer_test.go
  pkg/channel/test/constants.go
  pkg/channel/test/event.go
Due: none

initial dispatcher refactor
  pkg/dispatcher/client/client.go
  pkg/dispatcher/client/client_test.go
  pkg/dispatcher/controller/kafkachannel.go
  pkg/dispatcher/dispatcher/dispatcher.go
  pkg/dispatcher/dispatcher/dispatcher_test.go
  pkg/dispatcher/subscription/subscription.go
Due: none

refactor dispatcher client package away
  cmd/dispatcher/main.go
  pkg/dispatcher/controller/kafkachannel.go
  pkg/dispatcher/controller/kafkachannel_test.go
  pkg/dispatcher/dispatcher/dispatcher.go
  pkg/dispatcher/dispatcher/dispatcher_test.go
  pkg/dispatcher/dispatcher/retry.go
  pkg/dispatcher/dispatcher/retry_test.go
  pkg/dispatcher/subscription/subscription.go
Due: none

Address initial PR feedback.
  cmd/channel/main.go
  cmd/dispatcher/main.go
  pkg/channel/channel/channel_test.go
  pkg/channel/producer/producer.go
  pkg/channel/producer/producer_test.go
  pkg/common/health/health.go
  pkg/common/health/health_test.go
  pkg/common/prometheus/README.md
  pkg/dispatcher/dispatcher/dispatcher_test.go
Due: none

Address initial PR feedback.
  pkg/channel/channel/channel.go
  pkg/channel/channel/channel_test.go
Due: none

Retry requests on 400
  components/dispatcher/internal/client/client.go
  components/dispatcher/internal/client/client_test.go
Due: none

Retry requests on 400
  Makefile
  components/channel/Makefile
  components/common/Makefile
  components/controller/Makefile
  components/dispatcher/Makefile
  resources/knative-kafka/values.yaml
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller, pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

Retry requests on 400 (#122)
  Makefile
  components/channel/Makefile
  components/common/Makefile
  components/controller/Makefile
  components/dispatcher/Makefile
  components/dispatcher/internal/client/client.go
  components/dispatcher/internal/client/client_test.go
  resources/knative-kafka/values.yaml
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller, pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

Knative sandbox pr 1 (#121)
  cmd/channel/main.go
  cmd/dispatcher/main.go
  pkg/channel/channel/channel.go
  pkg/channel/producer/producer.go
  pkg/channel/producer/producer_test.go
  pkg/common/health/health.go
  pkg/common/health/health_test.go
  pkg/common/prometheus/README.md
  pkg/dispatcher/dispatcher/dispatcher_test.go
Due: none

Retry requests on 400
  components/controller/Dockerfile
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller

Retry on 400 (#123)
  components/controller/Dockerfile
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller

update dep to remove ce sdk-go v1
  Gopkg.lock
Due: none

Adjust retry logic
  components/dispatcher/internal/client/client.go
  components/dispatcher/internal/client/client_test.go
Due: none

Adjust retry logic
  components/dispatcher/internal/client/client_test.go
Due: none

Retry on 400 (#124)
  components/dispatcher/internal/client/client.go
  components/dispatcher/internal/client/client_test.go
Due: none

more v0.12.2 fixes for dispatcher retry
  pkg/dispatcher/dispatcher/retry.go
  pkg/dispatcher/dispatcher/retry_test.go
Due: none

Cloudevent v2 (#126)
  Gopkg.lock
  build/controller/Dockerfile
  cmd/channel/main.go
  cmd/dispatcher/main.go
  pkg/channel/message/message.go
  pkg/channel/producer/producer.go
  pkg/channel/producer/producer_test.go
  pkg/channel/test/constants.go
  pkg/channel/test/event.go
  pkg/dispatcher/client/client.go
  pkg/dispatcher/client/client_test.go
  pkg/dispatcher/controller/kafkachannel.go
  pkg/dispatcher/controller/kafkachannel_test.go
  pkg/dispatcher/dispatcher/dispatcher.go
  pkg/dispatcher/dispatcher/dispatcher_test.go
  pkg/dispatcher/dispatcher/retry.go
  pkg/dispatcher/dispatcher/retry_test.go
Due: none

set versions for v0.14.0 release
  Makefile
  resources/knative-kafka/values.yaml
Due: none

set versions for v0.14.0 release (#127)
  Makefile
  resources/knative-kafka/values.yaml
Due: none

revert master back to latest
  Makefile
  README.md
  resources/knative-kafka/values.yaml
Due: none

Create v0.14.0 release (#128)
  Makefile
  README.md
  resources/knative-kafka/values.yaml
Due: none

Expose SyncPeriod To Force Reconciliation
  components/controller/cmd/main.go
  components/controller/local-env.sh
  components/controller/pkg/env/environment.go
  components/controller/pkg/env/environment_test.go
  resources/knative-kafka/templates/deployment.yaml
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller

increase default syncperiod
  components/controller/pkg/env/environment.go
  resources/knative-kafka/templates/deployment.yaml
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller

PR feedback, adjust comment
  components/controller/pkg/env/environment.go
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller

Expose SyncPeriod To Force Reconciliation (#130)
  components/controller/cmd/main.go
  components/controller/local-env.sh
  components/controller/pkg/env/environment.go
  components/controller/pkg/env/environment_test.go
  resources/knative-kafka/templates/deployment.yaml
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller

Change the Docker files to use Non-root images
  build/channel/Dockerfile
  build/controller/Dockerfile
  build/dispatcher/Dockerfile
Due: none

Non root docker images and upgrade version to v0.12.5
  components/channel/Dockerfile
  components/channel/Makefile
  components/common/Makefile
  components/controller/Dockerfile
  components/controller/Makefile
  components/dispatcher/Dockerfile
  components/dispatcher/Makefile
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller, pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

Non root docker images and upgrade version to v0.12.5 (#132)
  components/channel/Dockerfile
  components/channel/Makefile
  components/common/Makefile
  components/controller/Dockerfile
  components/controller/Makefile
  components/dispatcher/Dockerfile
  components/dispatcher/Makefile
Due: pre-knative-kafka-components-controller, post-knative-kafka-components-controller, pre-master-knative-kafka-components-common, post-master-knative-kafka-components-common

Path conditions:
  pre-knative-kafka-components-controller: any of: ^components/controller/
  post-knative-kafka-components-controller: any of: ^components/controller/
  pre-master-knative-kafka-components-common: any of: ^components/common/
  post-master-knative-kafka-components-common: any of: ^components/common/
