Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

pre-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Update core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/constants.js
Due: pre-console-core-ui, post-console-core-ui

Handle multiple login methods & invalid login data
  tests/cypress/integration/console-smoke-tests.spec.js
  tests/cypress/support/commands.js
  tests/cypress/support/iframe-commands.js
  tests/cypress/support/index.js
Due: pre-master-console-tests, post-master-console-tests

Add Functions test, simplify getIframeBody
  tests/cypress/integration/console-smoke-tests.spec.js
  tests/cypress/support/commands.js
Due: pre-master-console-tests, post-master-console-tests

do not return from reloadPage fn
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Reorganize tests structure
  tests/cypress.json
  tests/cypress/fixtures/example.json
  tests/package.json
  tests/plugins/index.js
  tests/support/commands.js
  tests/support/iframe-commands.js
  tests/support/index.js
  tests/tests.js
  tests/tests/console-smoke-tests.spec.js
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

reset loadedData once namespace is changed
  core-ui/src/components/ApiRules/gql/useApiRulesQuery.js
Due: pre-console-core-ui, post-console-core-ui

update python runtime version
  core-ui/src/components/Lambdas/config.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/runtime/runtime.js
  core-ui/src/components/Lambdas/helpers/runtime/test/runtime.test.js
Due: pre-console-core-ui, post-console-core-ui

Update core-ui/src/components/Lambdas/helpers/runtime/runtime.js
  core-ui/src/components/Lambdas/helpers/runtime/runtime.js
Due: pre-console-core-ui, post-console-core-ui

More tests
  tests/plugins/index.js
  tests/support/commands.js
  tests/tests/console-smoke-tests.spec.js
Due: pre-master-console-tests, post-master-console-tests

Adjust multiple login
  tests/support/commands.js
Due: pre-master-console-tests, post-master-console-tests

Increase timeout
  tests/cypress.json
Due: pre-master-console-tests, post-master-console-tests

Fix ServicesDropdown, adjust tests
  core-ui/src/components/ApiRules/ApiRuleForm/ServicesDropdown/ServicesDropdown.js
  core-ui/src/components/ApiRules/ApiRuleForm/ServicesDropdown/test/ServicesDropdown.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/test/NamespaceGrid.test.js
Due: pre-console-core-ui, post-console-core-ui

Fix single login
  tests/support/commands.js
  tests/tests/console-smoke-tests.spec.js
Due: pre-master-console-tests, post-master-console-tests

Test addons
  tests/tests/console-smoke-tests.spec.js
Due: pre-master-console-tests, post-master-console-tests

Comment out unstable test
  tests/tests/console-smoke-tests.spec.js
Due: pre-master-console-tests, post-master-console-tests

Change docker image
  tests/Dockerfile
Due: pre-master-console-tests, post-master-console-tests

Addons ui fixes
  core-ui/src/components/ApiRules/ApiRulesList/ApiRuleList.scss
  core-ui/src/components/ApiRules/ApiRulesList/components.js
  core-ui/src/index.scss
  shared/components/ListActions/ListActions.scss
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

Test only chrome
  tests/package.json
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Use included image
  tests/Dockerfile
Due: pre-master-console-tests, post-master-console-tests

Update Dockerfile
  tests/Dockerfile
Due: pre-master-console-tests, post-master-console-tests

Addons ui fixes
  core-ui/src/components/ApiRules/ApiRulesList/ApiRuleList.scss
  core-ui/src/components/ApiRules/ApiRulesList/components.js
  core-ui/src/index.scss
Due: pre-console-core-ui, post-console-core-ui

Remove testcafe stuff, update docs
  tests/.testcaferc.json
  tests/README.md
  tests/helpers.js
  tests/package-lock.json
  tests/package.json
  tests/tests.js
Due: console-governance, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Update tests/README.md
  tests/README.md
Due: console-governance, pre-master-console-tests, post-master-console-tests

move the button to left nav
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Use gql in resource upload
  core-ui/src/components/NamespaceDetails/DeployResourceModal/DeployResourceModal.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/deployResourceHelpers.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/test/DeployResourceModal.test.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/test/deployResourceHelpers.test.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/test/mocks.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceDetailsHeader.js
  core-ui/src/gql/mutations.js
  core/src/app/content/namespaces/services/namespaces.service.spec.ts
  core/src/app/content/namespaces/services/namespaces.service.ts
  core/src/app/shared/components/resource-uploader/services/resource-upload.service.ts
  core/src/app/shared/components/resource-uploader/uploader/uploader.component.ts
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

Update DeployResourceModal.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/DeployResourceModal.js
Due: pre-console-core-ui, post-console-core-ui

Add proper handling for resource upload error
  core/src/app/shared/components/resource-uploader/resource-uploader-modal/resource-uploader-modal.component.ts
Due: pre-master-console-core, post-master-console-core

remove loading cluster config while building
  core-ui/package.json
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-whitesource-scan

remove lodad-cluster-config from all build commands
  add-ons/package.json
  compass/package.json
  content/package.json
  core/package.json
  logging/package.json
  service-catalog-ui/package.json
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-master-console-content, post-master-console-content, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

use new Luigi in core-ui and Core
  core-ui/package-lock.json
  core-ui/package.json
  core/package-lock.json
  core/package.json
  package-lock.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

disallow unsafe-eval and unsafe-inline in Core
  core/nginx/nginx.conf
Due: pre-master-console-core, post-master-console-core

fix the switch behaviour
  core-ui/src/components/NamespaceList/NamespaceList.js
  core/src/app/content/settings/preferences/preferences.component.ts
  core/src/app/shared/constants/constants.ts
  core/src/luigi-config/communication.js
  core/src/luigi-config/luigi-config.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

switch to hook
  core-ui/src/components/NamespaceList/NamespaceList.js
  shared/hooks/index.js
  shared/hooks/useShowSystemNamespaces.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

add script-src-elem directive to service catalog
  service-catalog-ui/nginx.conf
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Add documentation issue template
  .github/ISSUE_TEMPLATE/documentation-improvement.md
Due: console-governance

remove unnecessary code from Core
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.ts
Due: pre-master-console-core, post-master-console-core

Add tests, little big fixes
  core-ui/src/components/Permissions/ClusterRoleBindingList/test/ClusterRoleBindingList.test.js
  core-ui/src/components/Permissions/ClusterRoleList/ClusterRoleList.js
  core-ui/src/components/Permissions/ClusterRoleList/test/ClusterRoleList.test.js
  core-ui/src/components/Permissions/RoleBindingList/RoleBindingList.js
  core-ui/src/components/Permissions/RoleBindingList/test/RoleBindingList.test.js
  core-ui/src/components/Permissions/RoleDetails/ClusterRoleDetails.js
  core-ui/src/components/Permissions/RoleDetails/RoleDetails.js
  core-ui/src/components/Permissions/RoleDetails/test/ClusterRoleDetails.test.js
  core-ui/src/components/Permissions/RoleDetails/test/RoleDetails.test.js
  core-ui/src/components/Permissions/RoleList/RoleList.js
  core-ui/src/components/Permissions/RoleList/test/RoleList.test.js
  core-ui/src/components/Permissions/Shared/RoleCombobox/RoleCombobox.js
  core-ui/src/components/Permissions/Shared/RoleCombobox/test/RoleCombobox.test.js
  core-ui/src/setupTests.js
Due: pre-console-core-ui, post-console-core-ui

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
