Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests, pre-console-tests, post-console-tests, pre-master-console-protecode-guard

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-console-content: any of: ^content/|^components/|^package.json
  post-console-content: any of: ^content/|^components/|^package.json
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
  pre-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  post-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  pre-master-console-protecode-guard: any of: ^((components\S+|installation\S+|tools/kyma-installer\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))

Fix apirule status
  core-ui/src/components/ApiRules/ApiRuleStatus/ApiRuleStatus.js
  shared/components/GenericList/components.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Fix apirule status
  shared/components/GenericList/components.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Comment broken tests
  core-ui/src/components/ApiRules/AccessStrategies/test/AccessStrategies.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/ServicesDropdown/test/ServicesDropdown.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/ServicesDropdown/test/__snapshots__/ServicesDropdown.test.js.snap
  core-ui/src/components/ApiRules/ApiRuleForm/test/ApiRuleForm.test.js
  core-ui/src/components/ApiRules/ApiRuleStatus/test/ApiRuleStatus.test.js
  core-ui/src/components/ApiRules/ApiRulesList/test/ApiRulesListWrapper.test.js
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  core-ui/src/components/ApiRules/EditApiRule/test/EditApiRule.test.js
  core-ui/src/components/ApiRules/gql/test/useApiRulesQuery.test.js
  core-ui/src/components/ApiRules/gql/test/useDeleteApiRule.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/test/CodeAndDependencies.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/RepositoryConfig/tests/RepositoryConfig.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ApiRules/test/ApiRules.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/CreateServiceBindingForm.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/CreateServiceBindingModal.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindingsWrapper.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/test/ResourceManagement.test.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetails.test.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetailsWrapper.test.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useUpdateLambda.test.js
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useServiceBindingUsagesQuery.test.js
Due: pre-console-core-ui, post-console-core-ui

WIP
  core-ui/package.json
  core-ui/public/index.html
  core-ui/src/components/App/App.js
  core-ui/src/index.js
  core-ui/src/index.scss
  core/package.json
  core/src/index.html
  core/src/luigi-config/auth.js
  core/src/luigi-config/config.js
  core/src/luigi-config/navigation/static-navigation-model.js
  core/src/luigi-config/settings.js
  pamela/.gitignore
  pamela/index.js
  shared/utils/getClusterConfig.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

Update index.js
  pamela/index.js
Due: none

Review changes
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/ServicesDropdown/ServicesDropdown.js
  core-ui/src/components/ApiRules/ApiRulesList/ApiRulesListWrapper.js
  core-ui/src/components/ApiRules/EditApiRule/EditApiRule.js
  core-ui/src/components/ApiRules/gql/mocks/useApiRulesQuery.js
  core-ui/src/components/ApiRules/gql/test/useApiRulesQuery.test.js
  core-ui/src/components/ApiRules/gql/useApiRulesQuery.js
  core-ui/src/components/ApiRules/gql/useDeleteApiRule.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsWrapper.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/CodeAndDependencies.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeTab.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesModal.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/LambdaVariables.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/RepositoryConfig/RepositoryConfig.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagementTab.js
  core-ui/src/components/Lambdas/components/DropdownInput/DropdownInput.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useUpdateLambda.js
  core-ui/src/components/Lambdas/gql/hooks/queries/useServiceQuery.js
  core-ui/src/components/Predefined/Details/Function.details.js
Due: pre-console-core-ui, post-console-core-ui

Little cleanup
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindingsWrapper.js
Due: pre-console-core-ui, post-console-core-ui

Delete functions and apirules temporary static navigation node
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Comment missing test
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingForm.js
  core-ui/src/components/Lambdas/LambdasList/Lambdas/test/CreateLambdaModal.test.js
Due: pre-console-core-ui, post-console-core-ui

wip
  core-ui/package.json
  core-ui/src/index.js
  core/src/luigi-config/communication.js
  core/src/luigi-config/init-params.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/settings.js
  pamela/.gitignore
  pamela/index.js
  pamela/package.json
  shared/hooks/PamelaAPI/useGet.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

Restore auth.js
  core/src/luigi-config/auth.js
Due: pre-master-console-core, post-master-console-core

Restore settings.js
  core/src/luigi-config/settings.js
Due: pre-master-console-core, post-master-console-core

Reduce even more
  core-ui/src/index.js
  pamela/index.js
  pamela/package.json
  shared/hooks/PamelaAPI/useGet.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

Fix cluster role bindings
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Resolve port issue
  pamela/index.js
  pamela/package.json
Due: pre-master-console-whitesource-scan

Remove deprecated fields from MILV config
  milv.config.yaml
Due: console-governance

Review changes
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRulesList/components.js
  core-ui/src/components/ApiRules/EditApiRule/EditApiRule.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ApiRules/ApiRules.js
Due: pre-console-core-ui, post-console-core-ui

delete unused import
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
Due: pre-console-core-ui, post-console-core-ui

Popup
  core-ui/src/components/Lambdas/LambdasList/Lambdas/CreateLambdaForm.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/createLambdaInput.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateLambda.js
  core-ui/src/components/Lambdas/gql/mutations.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/BasicData.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/CreateWorkloadForm.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/CreateWorkloadForm.scss
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/ScalingData.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/ServiceData.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/helpers.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/test/BasicData.test.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/test/ScalingData.test.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/test/ServiceData.test.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/test/__snapshots__/helpers.test.js.snap
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/test/helpers.test.js
  core-ui/src/components/Predefined/Details/Namespace/DeployNewWorkload.js
  core-ui/src/components/Predefined/Details/Namespace/Namespace.details.js
  core-ui/src/components/Predefined/Details/index.js
Due: pre-console-core-ui, post-console-core-ui

Remove useGenericCreate
  shared/hooks/PamelaAPI/index.js
  shared/hooks/PamelaAPI/useGenericCreate.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Cleanup
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useCreateLambda.test.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceDetailsHeader.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceDetailsHeader.scss
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceLabels/NamespaceLabels.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceLabels/test/NamespaceLabels.test.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceLabels/test/mocks.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/test/NamespaceDetailsHeader.test.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/test/mocks.js
Due: pre-console-core-ui, post-console-core-ui

Create for OAuth clients
  core-ui/src/components/OAuthClients/Create/CreateOAuthClient.js
  core-ui/src/components/OAuthClients/Create/test/CreateOAuthClient.test.js
  core-ui/src/components/OAuthClients/Create/test/mocks.js
  core-ui/src/components/OAuthClients/Details/OAuthClientDetails.js
  core-ui/src/components/OAuthClients/Details/OAuthClientHeader.js
  core-ui/src/components/OAuthClients/Details/OAuthClientSpecPanel.js
  core-ui/src/components/OAuthClients/Details/Secret/OAuthClientSecret.js
  core-ui/src/components/OAuthClients/Details/Secret/OAuthClientSecret.scss
  core-ui/src/components/OAuthClients/Details/Secret/test/OAuthClientSecret.test.js
  core-ui/src/components/OAuthClients/Details/Secret/test/mocks.js
  core-ui/src/components/OAuthClients/Details/test/OAuthClientDetails.test.js
  core-ui/src/components/OAuthClients/Details/test/OAuthClientHeader.test.js
  core-ui/src/components/OAuthClients/Details/test/OAuthClientSpecPanel.test.js
  core-ui/src/components/OAuthClients/Details/test/mocks.js
  core-ui/src/components/OAuthClients/Form/OAuthClientForm.js
  core-ui/src/components/OAuthClients/Form/OAuthClientForm.scss
  core-ui/src/components/OAuthClients/Form/test/CheckboxFormControl.test.js
  core-ui/src/components/OAuthClients/Form/test/OAuthClientForm.test.js
  core-ui/src/components/OAuthClients/Form/test/mocks.js
  core-ui/src/components/OAuthClients/List/OAuthClientLink.js
  core-ui/src/components/OAuthClients/List/OAuthClientsList.js
  core-ui/src/components/OAuthClients/List/test/OAuthClientsList.test.js
  core-ui/src/components/OAuthClients/List/test/mocks.js
  core-ui/src/components/OAuthClients/Status/OAuthClientStatus.js
  core-ui/src/components/OAuthClients/Status/test/OAuthClientStatus.test.js
  core-ui/src/components/OAuthClients/common.js
  core-ui/src/components/Predefined/Create/OAuthClients/CheckboxFormControl.js
  core-ui/src/components/Predefined/Create/OAuthClients/OAuthClients.create.js
  core-ui/src/components/Predefined/Create/OAuthClients/createOAuthClient.js
  core-ui/src/components/Predefined/Create/OAuthClients/test/CheckboxFormControl.test.js
  core-ui/src/components/Predefined/Create/OAuthClients/test/__snapshots__/createOAuthClient.test.js.snap
  core-ui/src/components/Predefined/Create/OAuthClients/test/createOAuthClient.test.js
  core-ui/src/components/Predefined/Create/index.js
  core-ui/src/index.scss
  shared/components/ResourcesList/ResourcesList.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Fix
  core-ui/src/components/Predefined/Create/OAuthClients/OAuthClients.create.js
  core-ui/src/components/Predefined/Create/OAuthClients/helpers.js
Due: pre-console-core-ui, post-console-core-ui

ClusterRoleBinding Create
  core-ui/src/components/Predefined/Create/ClusterRoleBindings.create.js
  core-ui/src/components/Predefined/Create/RoleBindings/RoleCombobox.js
  core-ui/src/components/Predefined/Create/RoleBindings/RoleCombobox.scss
  core-ui/src/components/Predefined/Create/index.js
  shared/components/ResourcesList/ResourcesList.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Fix modal bug
  shared/components/ResourcesList/ResourcesList.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Remove presets from Runtime Profile
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/ScalingData.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/test/ScalingData.test.js
Due: pre-console-core-ui, post-console-core-ui

Rename label scope to scopes
  core-ui/src/components/Predefined/Create/OAuthClients/OAuthClients.create.js
Due: pre-console-core-ui, post-console-core-ui

Fix pod statuses
  core-ui/src/components/Predefined/List/Pods.list.js
Due: pre-console-core-ui, post-console-core-ui

Get list of CR and R
  core-ui/src/components/Predefined/Create/RoleBindings.create.js
  core-ui/src/components/Predefined/Create/RoleBindings/RoleBindings.js
  core-ui/src/components/Predefined/Create/RoleBindings/RoleCombobox.js
  core-ui/src/components/Predefined/Create/index.js
Due: pre-console-core-ui, post-console-core-ui

Watch files during dev, remove consoleViewGroup
  core/package-lock.json
  core/package.json
  core/src/luigi-config/navigation/microfrontend-converter.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
  core/webpack.config.js
Due: pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

MORE CHANGES
  core/src/styles/fiori-fundamentals-overrides.scss
  core/src/version.html
Due: pre-master-console-core, post-master-console-core

Apply prettier
  core/.babelrc
  core/.prettierignore
  core/README.md
  core/package-lock.json
  core/package.json
  core/src/assets/static-views.js
  core/src/logout.html
  core/src/luigi-config/auth.js
  core/src/luigi-config/communication.js
  core/src/luigi-config/config.js
  core/src/luigi-config/init-params.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/luigi-event-handlers.js
  core/src/luigi-config/navigation/local-development-node-converter.js
  core/src/luigi-config/navigation/microfrontend-converter.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/navigation-helpers.js
  core/src/luigi-config/navigation/permissions.js
  core/src/luigi-config/navigation/queries.js
  core/src/luigi-config/navigation/rbac-rules-matcher.js
  core/src/luigi-config/navigation/rbac-rules-matcher.test.js
  core/src/luigi-config/navigation/static-navigation-model.js
  core/src/luigi-config/settings.js
  core/src/nopermissions.html
  core/webpack.config.js
Due: console-governance, pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

Fix for prod
  core/Dockerfile
  core/src/index.html
  resources/web/deployment.yaml
Due: pre-master-console-core, post-master-console-core

Add decoding
  core-ui/src/components/App/App.js
  shared/hooks/navigate.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Set proper kind
  core-ui/src/components/Predefined/Create/RoleBindings/RoleBindings.js
Due: pre-console-core-ui, post-console-core-ui

Add details for apirules with create and edit
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRulesList/components.js
  core-ui/src/components/Predefined/Details/ApiRules.details.js
  core-ui/src/components/Predefined/Details/index.js
  core-ui/src/components/Predefined/List/ApiRules.list.js
  core-ui/src/components/Predefined/List/index.js
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Review fixes, remove codeowners
  .clusterConfig.gen
  .gitignore
  .prettierignore
  CODEOWNERS
  add-ons/package.json
  core-ui/package.json
  core/package.json
  localhost
  logging/package.json
  pamela/package.json
  scripts/load-cluster-config.sh
  scripts/pre-build-docker-image.sh
  service-catalog-ui/package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan
