Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests, pre-console-tests, post-console-tests, pre-master-console-protecode-guard

pre-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-console-core-ui:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

Use proper instance schema
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceInput.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/mutations.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/queries.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/test/gqlMocks.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Fix selecting plan
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Fix labels
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Revert isAddon/isService functions. add TODO comments
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/src/helpers/index.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Simplify isAddon/isService functions
  service-catalog-ui/src/helpers/index.js
  service-catalog-ui/src/helpers/search.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Simplify isAddon/isService functions
  service-catalog-ui/src/helpers/index.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Handle k3d, fix cmf resolving
  core/src/luigi-config/navigation/microfrontend-converter.js
  pamela/npx-setup.js
  pamela/package-lock.json
  pamela/package.json
Due: pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

Update README for npx
  README.md
Due: console-governance

Add temporary fallback for k8sApiUrl
  core/src/luigi-config/init-params.js
Due: pre-master-console-core, post-master-console-core

Linter goddamit
  core/src/luigi-config/navigation/microfrontend-converter.js
Due: pre-master-console-core, post-master-console-core

Edit codeowners
  CODEOWNERS
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

Resolve domain stuff on local IAS
  core/src/luigi-config/config.js
  core/src/luigi-config/navigation/local-development-node-converter.js
  core/src/luigi-config/navigation/microfrontend-converter.js
  shared/utils/getClusterConfig.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Adjust apirules
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRulesList/components.js
  core-ui/src/components/ApiRules/helpers.js
  core-ui/src/components/ApiRules/useGetGatewayDomain/useGetGatewayDomain.js
  core-ui/src/components/Predefined/List/ApiRules.list.js
  core/src/luigi-config/init-params.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

Restore resources/web/ingress.yaml
  resources/web/ingress.yaml
Due: none

2 more files
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ApiRules/ApiRules.js
  core-ui/src/components/Predefined/Details/ApiRules.details.js
Due: pre-console-core-ui, post-console-core-ui

Fix
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  shared/utils/getClusterConfig.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Update images
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: none

Deprecate nodejs10 fn runtime
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/runtime/test/runtime.test.js
Due: pre-console-core-ui, post-console-core-ui

Upgrade jsoneditor due to CVE-2020-23849
  add-ons/package-lock.json
  common/package-lock.json
  compass/package-lock.json
  components/generic-documentation/package-lock.json
  components/react/package-lock.json
  components/shared/package-lock.json
  core-ui/package-lock.json
  core/package-lock.json
  logging/package-lock.json
  package-lock.json
  package.json
  service-catalog-ui/package-lock.json
  shared/package-lock.json
  shared/package.json
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests, pre-master-console-protecode-guard

Generate dependencies using npm 6.14.11
  add-ons/package-lock.json
  common/package-lock.json
  compass/package-lock.json
  components/generic-documentation/package-lock.json
  components/react/package-lock.json
  components/shared/package-lock.json
  core-ui/package-lock.json
  core/package-lock.json
  logging/package-lock.json
  package-lock.json
  service-catalog-ui/package-lock.json
  shared/package-lock.json
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests, pre-master-console-protecode-guard

Remove pamela folder
  pamela/Makefile
Due: none

Upgrade alpine version to 3.13.4
  add-ons/Dockerfile
  compass/Dockerfile
  core-ui/Dockerfile
  core/Dockerfile
  logging/Dockerfile
  service-catalog-ui/Dockerfile
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui

remove node10 from supported runtimes
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/runtime/runtime.js
  core-ui/src/components/Lambdas/helpers/runtime/test/runtime.test.js
Due: pre-console-core-ui, post-console-core-ui

add warnings for node js 10 functions
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsWrapper.js
Due: pre-console-core-ui, post-console-core-ui

fix linting problems
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsWrapper.js
  core-ui/src/components/Lambdas/helpers/runtime/runtime.js
Due: pre-console-core-ui, post-console-core-ui

remove-node10-add-node14
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/runtime/runtime.js
  core-ui/src/components/Lambdas/helpers/runtime/test/runtime.test.js
Due: pre-console-core-ui, post-console-core-ui

Fix the broken link
  README.md
Due: console-governance

Add default deps and code
  core-ui/src/components/Lambdas/LambdasList/Lambdas/CreateLambdaForm.js
  core-ui/src/components/Lambdas/config.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateLambda.js
Due: pre-console-core-ui, post-console-core-ui

Fix default
  core-ui/src/components/Lambdas/helpers/runtime/runtime.js
Due: pre-console-core-ui, post-console-core-ui

Notify
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsWrapper.js
Due: pre-console-core-ui, post-console-core-ui

Fix notify
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsWrapper.js
Due: pre-console-core-ui, post-console-core-ui

Add notifyWarning, move notification into useEffect
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsWrapper.js
  shared/contexts/NotificationContext.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Upgrade merge to fix CVE-2020-28499 vulnerability
  components/react/package-lock.json
  package-lock.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests, pre-master-console-protecode-guard

Update alpine to 3.13.5
  add-ons/Dockerfile
  compass/Dockerfile
  core-ui/Dockerfile
  core/Dockerfile
  logging/Dockerfile
  logging/package-lock.json
  package-lock.json
  service-catalog-ui/Dockerfile
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

Upgrade alpine to 3.14.0 version
  add-ons/Dockerfile
  compass/Dockerfile
  core-ui/Dockerfile
  core/Dockerfile
  logging/Dockerfile
  service-catalog-ui/Dockerfile
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-console-content: any of: ^content/|^components/|^package.json
  post-console-content: any of: ^content/|^components/|^package.json
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
  pre-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  post-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  pre-master-console-protecode-guard: any of: ^((components\S+|installation\S+|tools/kyma-installer\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
