Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests, pre-console-tests, post-console-tests

pre-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Bring back previous testing command
  tests/package.json
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests, pre-console-tests, post-console-tests

Remove content from tslint
  tslint.json
Due: none

Open Grafana instead of modal
  core/src/app/content/namespaces/operation/pods/pods.component.ts
Due: pre-master-console-core, post-master-console-core

Require at least one method
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/accessStrategyTypes.js
Due: pre-console-core-ui, post-console-core-ui

Add tests
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/ApiRuleForm.test.js
Due: pre-console-core-ui, post-console-core-ui

Update variable names
  shared/hooks/ScalpAPI/useSubscription.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Improve error handling for 401 and 403
  core-ui/src/components/Pods/PodList/PodList.js
  shared/hooks/ScalpAPI/config.js
  shared/hooks/ScalpAPI/useGet.js
  shared/hooks/ScalpAPI/useMutation.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

fix subscriptions - ADDED type event not coming
  core-ui/src/components/Pods/PodList/PodList.js
  shared/hooks/ScalpAPI/index.js
  shared/hooks/ScalpAPI/useSubscription.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

improve undefined token handling
  shared/hooks/ScalpAPI/useGet.js
  shared/hooks/ScalpAPI/useSubscription.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Add delete mutation to services
  core-ui/src/components/Services/ServiceDetails/ServiceDetailsHeader/ServiceDetailsHeader.js
  core-ui/src/components/Services/ServicesList/ServicesList.js
  core-ui/src/gql/mutations.js
Due: pre-console-core-ui, post-console-core-ui

Event subscriptions WIP
  .clusterConfig.default
  content/src/components/Content.tsx
  core-ui/src/apollo.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/BebLambdaEventSubscription.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/LambdaEventsWrapper.js
  core-ui/src/components/Services/ServiceDetails/ServiceDetails.js
  core-ui/src/components/Services/ServiceDetails/ServiceEventTriggers/BebServiceEventSubscription.js
  core-ui/src/components/Services/ServiceDetails/ServiceEventTriggers/ServiceEventTriggers.js
  core-ui/src/components/Services/ServiceDetails/ServiceEventTriggers/ServiceEventsWrapper.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
  orders-service.yaml
  serviceinstance-cr.yaml
Due: pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui

rename PamelaAPI folder in shared
  shared/hooks/PamelaAPI/config.js
  shared/hooks/PamelaAPI/index.js
  shared/hooks/PamelaAPI/useGet.js
  shared/hooks/PamelaAPI/useMutation.js
  shared/hooks/PamelaAPI/useSubscription.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

use jsonpatch for update
  core-ui/src/components/Pods/PodList/PodList.js
  package-lock.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

use correct import path
  shared/hooks/index.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Event subscriptions for lambdas
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/BebLambdaEventSubscription.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/CreateSubscriptionModal.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/CreateSubscriptionModal.scss
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/helpers.js
  core-ui/src/gql/mutations.js
Due: pre-console-core-ui, post-console-core-ui

Display error message in the notification
  core-ui/src/components/Pods/PodList/PodList.js
  shared/hooks/PamelaAPI/config.js
  shared/hooks/PamelaAPI/useGet.js
  shared/hooks/PamelaAPI/useMutation.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Remove uploader component
  core/src/app/app.module.ts
  core/src/app/shared/components/resource-uploader/resource-uploader-component/resource-uploader.component.html
  core/src/app/shared/components/resource-uploader/resource-uploader-component/resource-uploader.component.scss
  core/src/app/shared/components/resource-uploader/resource-uploader-component/resource-uploader.component.spec.ts
  core/src/app/shared/components/resource-uploader/resource-uploader-component/resource-uploader.component.ts
  core/src/app/shared/components/resource-uploader/resource-uploader-modal/resource-uploader-modal.component.html
  core/src/app/shared/components/resource-uploader/resource-uploader-modal/resource-uploader-modal.component.spec.ts
  core/src/app/shared/components/resource-uploader/resource-uploader-modal/resource-uploader-modal.component.ts
  core/src/app/shared/components/resource-uploader/services/resource-upload.service.ts
  core/src/app/shared/components/resource-uploader/uploader/uploader.component.html
  core/src/app/shared/components/resource-uploader/uploader/uploader.component.scss
  core/src/app/shared/components/resource-uploader/uploader/uploader.component.spec.ts
  core/src/app/shared/components/resource-uploader/uploader/uploader.component.ts
Due: pre-master-console-core, post-master-console-core

Remove unused package
  core/package-lock.json
  core/package.json
  package-lock.json
Due: pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

Add regex for search
  components/angular/generic-list/src/app/modules/list/list-search/list-search.component.ts
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Disable apps smoke test
  tests/tests/console-smoke-tests.spec.js
Due: pre-master-console-tests, post-master-console-tests, pre-console-tests, post-console-tests

Fix taret _blank issue
  components/generic-documentation/src/render-engines/open-api/components/OperationTag.tsx
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Change BebLambdaEventSubscription to shared component BebEventSubscription and use it on Services view
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/LambdaEventsWrapper.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/helpers.js
  core-ui/src/components/Services/ServiceDetails/ServiceEventTriggers/BebServiceEventSubscription.js
  core-ui/src/components/Services/ServiceDetails/ServiceEventTriggers/ServiceEventsWrapper.js
  core-ui/src/components/Services/ServiceDetails/ServiceEventTriggers/helpers.js
  core-ui/src/components/Services/constants.js
  core-ui/src/shared/components/EventSubscriptions/BebEventSubscription.js
  core-ui/src/shared/components/EventSubscriptions/CreateSubscriptionModal.js
  core-ui/src/shared/components/EventSubscriptions/CreateSubscriptionModal.scss
  core-ui/src/shared/components/EventSubscriptions/helpers.js
Due: pre-console-core-ui, post-console-core-ui

Use subscriptions
  core-ui/src/apollo.js
  core-ui/src/components/Services/ServiceDetails/ServiceEventTriggers/helpers.js
  core-ui/src/gql/subscriptions.js
  core-ui/src/shared/components/EventSubscriptions/BebEventSubscription.js
  core-ui/src/shared/components/EventSubscriptions/CreateSubscriptionModal.js
Due: pre-console-core-ui, post-console-core-ui

Define constant variables
  core-ui/src/shared/components/EventSubscriptions/CreateSubscriptionModal.js
  core-ui/src/shared/constants.js
Due: pre-console-core-ui, post-console-core-ui

Tests for CreateSubscriptionModal
  core-ui/src/shared/components/EventSubscriptions/test/CreateSubscriptionModal.test.js
Due: pre-console-core-ui, post-console-core-ui

Add tests for BebEventSubscription
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/gql/queries.js
  core-ui/src/gql/subscriptions.js
  core-ui/src/shared/components/EventSubscriptions/BebEventSubscription.js
  core-ui/src/shared/components/EventSubscriptions/CreateSubscriptionModal.js
  core-ui/src/shared/components/EventSubscriptions/test/BebEventSubscription.test.js
  core-ui/src/shared/components/EventSubscriptions/test/mocks.js
Due: pre-console-core-ui, post-console-core-ui

Fix LambdaDetails
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetails.test.js
Due: pre-console-core-ui, post-console-core-ui

Restore ServiceEventTriggers.js
  core-ui/src/components/Services/ServiceDetails/ServiceEventTriggers/ServiceEventTriggers.js
Due: pre-console-core-ui, post-console-core-ui

cleanup
  core-ui/src/gql/queries.js
  orders-service.yaml
  serviceinstance-cr.yaml
Due: pre-console-core-ui, post-console-core-ui

Fix missing namespace
  core-ui/src/shared/components/EventSubscriptions/BebEventSubscription.js
  core-ui/src/shared/components/EventSubscriptions/test/BebEventSubscription.test.js
  core-ui/src/shared/components/EventSubscriptions/test/mocks.js
Due: pre-console-core-ui, post-console-core-ui

Update CODEOWNERS
  CODEOWNERS
Due: none

Add "Deploy new workload" dropdown
  core-ui/src/components/Lambdas/LambdasList/Lambdas/CreateLambdaModal.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateLambda.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/DeployResourceModal.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/test/DeployResourceModal.test.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceDetailsHeader.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceDetailsHeader.scss
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/test/NamespaceDetailsHeader.test.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/test/mocks.js
Due: pre-console-core-ui, post-console-core-ui

Add title to notification.notifyError
  core-ui/src/shared/components/EventSubscriptions/CreateSubscriptionModal.js
  core-ui/src/shared/constants.js
Due: pre-console-core-ui, post-console-core-ui

Update .clusterConfig.default
  .clusterConfig.default
Due: none

Bulletproof API rules
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
Due: pre-console-core-ui, post-console-core-ui

Update core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceDetailsHeader.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceDetailsHeader.js
Due: pre-console-core-ui, post-console-core-ui

Rework navigation structure
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Update tests
  tests/tests/console-smoke-tests.spec.js
Due: pre-master-console-tests, post-master-console-tests, pre-console-tests, post-console-tests

Adjust naming, introduce readonly API rules
  core-ui/src/components/ApiRules/ApiRuleDetails/ApiRuleDetails.js
  core-ui/src/components/ApiRules/ApiRuleDetails/test/ApiRuleDetails.test.js
  core-ui/src/components/ApiRules/ApiRulesList/ApiRulesList.js
  core-ui/src/gql/queries.js
  core-ui/src/shared/components/EventSubscriptions/BebEventSubscription.js
  core-ui/src/shared/components/EventSubscriptions/test/mocks.js
  shared/components/ListActions/ListActions.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Sanitize search input in angular generic list
  components/angular/generic-list/src/app/modules/list/list-search/list-search.component.ts
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-console-content: any of: ^content/|^components/|^package.json
  post-console-content: any of: ^content/|^components/|^package.json
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
  pre-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  post-console-tests: any of: ^tests/|^components/|^shared/|^package.json
