Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests, pre-console-tests, post-console-tests

pre-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Sanitize input in edit apps
  components/angular/generic-list/src/app/modules/list/list-search/list-search.component.ts
  core/src/app/content/settings/applications/edit-application-modal/edit-application-modal.component.ts
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

WIP
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/ResourceManagement.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/CreateWorkloadForm.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/CreateWorkloadForm.scss
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceDetailsHeader.js
  shared/components/ModalWithForm/ModalWithForm.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Fix readme
  components/react/README.md
  components/react/docs/build/1.3ae25e80.js
  components/react/docs/build/bundle.2b16510c.js
  components/react/docs/index.html
  components/react/package.json
  components/react/styleguide.config.js
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

Initial version of deploy modal
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/BasicData.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/CreateWorkloadForm.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/CreateWorkloadForm.scss
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/ScalingData.js
Due: pre-console-core-ui, post-console-core-ui

use generic create
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/BasicData.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/CreateWorkloadForm.js
  shared/hooks/PamelaAPI/index.js
  shared/hooks/PamelaAPI/useGenericCreate.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Add deployments list to core-ui
  core-ui/src/components/App/App.js
  core-ui/src/components/Deployments/DeploymentList/DeploymentList.js
  core-ui/src/components/Deployments/Deployments.js
  core-ui/src/shared/constants.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

Remove replicas, create service
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/BasicData.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/CreateWorkloadForm.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/ScalingData.js
Due: pre-console-core-ui, post-console-core-ui

Set header title
  core-ui/src/components/Deployments/Deployments.js
  core-ui/src/components/Pods/Pods.js
  core-ui/src/components/Pods/constants.js
Due: pre-console-core-ui, post-console-core-ui

Resolved todos
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/BasicData.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/CreateWorkloadForm.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/CreateWorkloadForm.scss
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/ServiceData.js
Due: pre-console-core-ui, post-console-core-ui

Restore ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/ResourceManagement.js
Due: pre-console-core-ui, post-console-core-ui

Remove console.log, use valid address
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/CreateWorkloadForm.js
  shared/hooks/PamelaAPI/useGenericCreate.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Add tests
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/BasicData.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/CreateWorkloadForm.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/ServiceData.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/helpers.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/test/BasicData.test.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/test/ScalingData.test.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/test/ServiceData.test.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/test/__snapshots__/helpers.test.js.snap
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/test/helpers.test.js
Due: pre-console-core-ui, post-console-core-ui

Improve error handling
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/CreateWorkloadForm.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/ServiceData.js
Due: pre-console-core-ui, post-console-core-ui

Fix hook
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/ScalingData.js
Due: pre-console-core-ui, post-console-core-ui

improve non-json error handling
  shared/hooks/PamelaAPI/config.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

test commit
  service-catalog-ui/Dockerfile
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

finish service-catalog-ui
  service-catalog-ui/Dockerfile
  service-catalog-ui/package.json
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

update base image in other microfrontends
  add-ons/Dockerfile
  core-ui/Dockerfile
  core/Dockerfile
  logging/Dockerfile
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

add "make" to core
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

bring back old base image for Core
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Review fixes
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/CreateWorkloadForm.js
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/CreateWorkloadForm.scss
  core-ui/src/components/NamespaceDetails/CreateWorkloadForm/helpers.js
Due: pre-console-core-ui, post-console-core-ui

Adjust endpoints
  core-ui/src/components/Deployments/DeploymentList/DeploymentList.js
  core-ui/src/components/Pods/PodList/PodList.js
  shared/hooks/PamelaAPI/useGet.js
  shared/hooks/PamelaAPI/useMutation.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

remove react-styleguidist
  components/react/package-lock.json
  components/react/package.json
  package-lock.json
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

Remove merge from components/react
  components/react/package-lock.json
  components/react/package.json
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

Resolve some of root dependency issues
  package-lock.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

Create a generic resources list with Pamela
  core-ui/src/components/App/App.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
Due: pre-console-core-ui, post-console-core-ui

Remove pods and deployments lists
  core-ui/src/components/Deployments/DeploymentList/DeploymentList.js
  core-ui/src/components/Deployments/Deployments.js
  core-ui/src/components/Pods/PodList/PodList.js
  core-ui/src/components/Pods/Pods.js
Due: pre-console-core-ui, post-console-core-ui

Small renaming
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
Due: pre-console-core-ui, post-console-core-ui

Use luigi context
  core-ui/src/components/App/App.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

Bump dc-async-api-render-engine
  components/generic-documentation/package-lock.json
  components/generic-documentation/package.json
  package-lock.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

Adjust path, add corejs2
  components/generic-documentation/src/index.tsx
  components/react/package-lock.json
  components/react/package.json
  package-lock.json
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

disable subscriptions
  shared/hooks/PamelaAPI/useSubscription.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Fix subscriptions, minor improvements
  core-ui/src/components/App/App.js
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
  core/src/luigi-config/navigation/static-navigation-model.js
  shared/components/PageHeader/PageHeader.js
  shared/components/PageHeader/test/PageHeader.test.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Minor fix
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
Due: pre-console-core-ui, post-console-core-ui

Apply rename
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Services/ServiceDetails/ServiceDetails.js
Due: pre-console-core-ui, post-console-core-ui

Apply a workaround or a missing context issue
  core-ui/src/components/App/App.js
Due: pre-console-core-ui, post-console-core-ui

Fix test
  core-ui/src/shared/components/ResourcesList/ResourcesList.js
  shared/components/PageHeader/PageHeader.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Fix test 2
  shared/components/PageHeader/test/PageHeader.test.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Revert "Rewrite deployments list to react, use Pamela backend (#2078)"
  core-ui/src/components/App/App.js
  core-ui/src/components/Deployments/DeploymentList/DeploymentList.js
  core-ui/src/components/Deployments/Deployments.js
  core-ui/src/components/Pods/PodList/PodList.js
  core-ui/src/components/Pods/Pods.js
  core-ui/src/components/Pods/constants.js
  core-ui/src/shared/constants.js
  core/src/luigi-config/navigation/static-navigation-model.js
  shared/hooks/PamelaAPI/config.js
  shared/hooks/PamelaAPI/useGet.js
  shared/hooks/PamelaAPI/useMutation.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Revert "Use Pamela on pod list (#2055)"
  .clusterConfig.default
  core-ui/src/components/App/App.js
  core-ui/src/components/Pods/PodList/PodList.js
  core-ui/src/components/Pods/Pods.js
  core-ui/src/components/Pods/constants.js
  core-ui/src/shared/constants.js
  core/src/app/app.module.ts
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.html
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/pods/pods-header-renderer/pods-header-renderer.component.html
  core/src/app/content/namespaces/operation/pods/pods-header-renderer/pods-header-renderer.component.scss
  core/src/app/content/namespaces/operation/pods/pods-header-renderer/pods-header-renderer.component.spec.ts
  core/src/app/content/namespaces/operation/pods/pods-header-renderer/pods-header-renderer.component.ts
  core/src/app/content/namespaces/operation/pods/pods.component.spec.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  core/src/app/navigation/app-routing.module.ts
  core/src/luigi-config/navigation/static-navigation-model.js
  package-lock.json
  package.json
  shared/contexts/ConfigContext.js
  shared/contexts/ConfigContext.test.js
  shared/hooks/PamelaAPI/config.js
  shared/hooks/PamelaAPI/index.js
  shared/hooks/PamelaAPI/useGet.js
  shared/hooks/PamelaAPI/useMutation.js
  shared/hooks/PamelaAPI/useSubscription.js
  shared/hooks/index.js
  shared/package-lock.json
  shared/package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-console-content: any of: ^content/|^components/|^package.json
  post-console-content: any of: ^content/|^components/|^package.json
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
  pre-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  post-console-tests: any of: ^tests/|^components/|^shared/|^package.json
