Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests, pre-console-tests, post-console-tests, pre-master-console-protecode-guard

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-console-content: any of: ^content/|^components/|^package.json
  post-console-content: any of: ^content/|^components/|^package.json
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
  pre-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  post-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  pre-master-console-protecode-guard: any of: ^((components\S+|installation\S+|tools/kyma-installer\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))

Fix permissions validation (#2108)
  core-ui/src/components/Permissions/ClusterRoleBindingList/CreateClusterRoleBindingModal.js
  core-ui/src/components/Permissions/RoleBindingList/CreateRoleBindingModal.js
  core-ui/src/components/Permissions/Shared/InvalidGroupMessage.js
Due: pre-console-core-ui, post-console-core-ui

Add useGet
  shared/hooks/PamelaAPI/index.js
  shared/hooks/PamelaAPI/useGet.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Add navigate to resource/namespace
  shared/components/ResourcesList/ResourcesList.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Generic details prototype
  core-ui/src/components/Predefined/Replicaset.details.js
  core-ui/src/components/Predefined/Replicasets.list.js
  core/src/luigi-config/navigation/static-navigation-model.js
  shared/components/ResourceDetails/ResourceDetails.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Generic details prototype
  core-ui/src/components/App/App.js
Due: pre-console-core-ui, post-console-core-ui

Predefined list on replicasetsDetails
  core-ui/src/components/Predefined/Replicaset.details.js
Due: pre-console-core-ui, post-console-core-ui

Fix nav return after page reload
  core/src/luigi-config/auth/index.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-helpers.js
Due: pre-master-console-core, post-master-console-core

Handle resource delete, add limit ranges for namespaces
  core-ui/src/components/Predefined/Replicaset.details.js
  core-ui/src/components/Predefined/index.js
  shared/components/HeaderLabelsEditor/HeaderLabelsEditor.js
  shared/components/ResourceDetails/ResourceDetails.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Handle resource delete, add limit ranges for namespaces
  core-ui/src/components/Predefined/Namespace.details.js
Due: pre-console-core-ui, post-console-core-ui

Add compression to query params
  core/package-lock.json
  core/package.json
  core/src/luigi-config/auth/auth-params.js
  core/src/luigi-config/auth/index.js
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

Add pods view, Add title for compact tables
  core-ui/src/components/Predefined/Namespace.details.js
  core-ui/src/components/Predefined/Replicaset.details.js
  core/src/luigi-config/navigation/static-navigation-model.js
  shared/components/ResourcesList/ResourcesList.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Fix delete mutation, apply patch with nav fix
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-helpers.js
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Remove ws link
  core-ui/src/apollo.js
Due: pre-console-core-ui, post-console-core-ui

Use children
  core-ui/src/components/Predefined/Namespace.details.js
  core-ui/src/components/Predefined/Replicaset.details.js
  shared/components/ResourceDetails/ResourceDetails.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Remove edit, redirect to list after delete
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  shared/hooks/index.js
  shared/hooks/navigate.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Remove replicaset.list
  core-ui/src/components/Predefined/Replicasets.list.js
Due: pre-console-core-ui, post-console-core-ui

Remove replicaset.list
  core-ui/src/components/Predefined/index.js
Due: pre-console-core-ui, post-console-core-ui

remove /home from namespace overview path
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Add routing to configmaps and secrets
  core/src/luigi-config/navigation/static-navigation-model.js
  shared/components/ResourceDetails/ResourceDetails.js
  shared/hooks/PamelaAPI/useGet.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Add secrets custom details
  core-ui/src/components/Predefined/Secret.details.js
  core-ui/src/components/Predefined/index.js
  core-ui/src/shared/components/Secret/SecretData.js
  core-ui/src/shared/components/Secret/SecretData.scss
  core-ui/src/shared/components/Secret/test/SecretData.test.js
  shared/components/ResourceDetails/ResourceDetails.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

WIP
  core-ui/src/components/App/App.js
  core-ui/src/components/Predefined/Deployment.details.js
  core-ui/src/components/Predefined/Namespace.details.js
  core-ui/src/components/Predefined/Pods.details.js
  core-ui/src/components/Predefined/Pods.list.js
  core-ui/src/components/Predefined/Replicaset.details.js
  core-ui/src/components/Predefined/Replicasets.list.js
  core-ui/src/components/Predefined/index.js
  core/src/luigi-config/navigation/static-navigation-model.js
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  shared/hooks/PamelaAPI/config.js
  shared/hooks/PamelaAPI/useGet.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Finish deployments, finally!
  core-ui/src/components/Predefined/Deployment.details.js
  core-ui/src/components/Predefined/DeploymentPods.js
Due: pre-console-core-ui, post-console-core-ui

showcase
  core-ui/src/components/NamespaceList/NamespaceList.js
  core-ui/src/components/Predefined/Service.details.js
  core-ui/src/components/Predefined/index.js
  core/nginx/nginx.conf
  core/src/luigi-config/navigation/queries.js
  shared/hooks/PamelaAPI/config.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Add generic details for oauthclients and permissions
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Remove sub.dockerignores
  .dockerignore
  add-ons/.dockerignore
  core-ui/.dockerignore
  core/.dockerignore
  core/Dockerfile
  service-catalog-ui/.dockerignore
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui

Restore Dockerfile
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Cleanup & reorganize
  core-ui/src/components/App/App.js
  core-ui/src/components/Predefined/Details/Deployment.details.js
  core-ui/src/components/Predefined/Details/DeploymentPods.js
  core-ui/src/components/Predefined/Details/Namespace.details.js
  core-ui/src/components/Predefined/Details/Replicaset.details.js
  core-ui/src/components/Predefined/Details/Secret.details.js
  core-ui/src/components/Predefined/Details/Service.details.js
  core-ui/src/components/Predefined/Details/index.js
  core-ui/src/components/Predefined/List/Pods.list.js
  core-ui/src/components/Predefined/List/index.js
  core-ui/src/components/Predefined/Pods.details.js
  core-ui/src/components/Predefined/Replicasets.list.js
  core-ui/src/components/Predefined/index.js
  core-ui/src/shared/abc.js
  core-ui/src/shared/constants.js
Due: pre-console-core-ui, post-console-core-ui

Remove console.logs
  core-ui/src/components/App/App.js
  core-ui/src/components/Predefined/Details/Replicaset.details.js
Due: pre-console-core-ui, post-console-core-ui

Fix monaco editor, build fixes
  core-ui/nginx.conf
  core-ui/src/apollo.js
  core-ui/src/components/Predefined/Details/DeploymentPods.js
Due: pre-console-core-ui, post-console-core-ui

Revert Dockerfile, remane shared/abc to shared/getComponents
  core-ui/src/components/App/App.js
  core-ui/src/components/Predefined/Details/DeploymentPods.js
  core-ui/src/components/Predefined/Details/Namespace.details.js
  core-ui/src/components/Predefined/Details/Replicaset.details.js
  core-ui/src/components/Predefined/Details/Service.details.js
  core-ui/src/shared/getComponents.js
  core/Dockerfile
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

Remove NamespaceList component
  core-ui/src/components/NamespaceList/NamespaceList.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.scss
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/NamespaceDetailsCard.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/getPodsRatioColor.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/mocks.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespacesGrid.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespacesGrid.scss
  core-ui/src/components/NamespaceList/NamespacesGrid/test/NamespaceGrid.test.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespaceFilters/NamespaceFilters.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespaceFilters/test/NamespaceFilters.test.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.scss
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/NamespaceListHeader.test.js
  core-ui/src/components/NamespaceList/storage.js
Due: pre-console-core-ui, post-console-core-ui

Allow for scope customisation
  core/src/luigi-config/auth/auth-params.js
  core/src/luigi-config/auth/index.js
Due: pre-master-console-core, post-master-console-core

Set nginx worker_processes to 1 in console
  add-ons/nginx.conf
  compass/nginx.conf
  core-ui/nginx.conf
  service-catalog-ui/nginx.conf
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

Allow for scope customisation
  core/nginx/nginx.conf
  core/src/luigi-config/auth/auth-params.js
  core/src/luigi-config/auth/index.js
Due: pre-master-console-core, post-master-console-core

Set nginx worker_processes to 1 in console (#2128)
  add-ons/nginx.conf
  compass/nginx.conf
  core-ui/nginx.conf
  service-catalog-ui/nginx.conf
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

Default scope
  core/src/luigi-config/auth/auth-params.js
Due: pre-master-console-core, post-master-console-core

Add roles and role bindings to nav
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core
