Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests, pre-console-tests, post-console-tests, pre-master-console-protecode-guard

pre-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

adjust more nav nodes
  core-ui/src/components/App/App.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

refactor
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/LambdaVariables.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/validation.js
Due: pre-console-core-ui, post-console-core-ui

fix unit tests
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/test/LambdaVariables.test.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/test/serializeVariables.test.js
  core-ui/src/components/Lambdas/helpers/testing/mockData.js
Due: pre-console-core-ui, post-console-core-ui

use queryParams instead of context
  core-ui/src/components/App/App.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

use generic list for namespaces and permissions
  core-ui/src/components/App/App.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

fix unit tests
  core-ui/src/components/Lambdas/helpers/lambdaVariables/test/serializeVariables.test.js
  core-ui/src/components/Lambdas/helpers/testing/mockData.js
Due: pre-console-core-ui, post-console-core-ui

fix unit tests
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetails.test.js
Due: pre-console-core-ui, post-console-core-ui

fix unit tests
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
Due: pre-console-core-ui, post-console-core-ui

fix
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
Due: pre-console-core-ui, post-console-core-ui

Initial commit
  core-ui/src/components/NamespaceDetails/NamespaceDetails.js
  core-ui/src/components/NamespaceList/NamespaceList.js
  core/package.json
  core/src/luigi-config/auth.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/queries.js
  core/src/luigi-config/navigation/test/util.test.js
  core/src/luigi-config/navigation/util.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

unit tests
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/test/LambdaVariables.test.js
Due: pre-console-core-ui, post-console-core-ui

fix
  core-ui/src/components/Lambdas/gql/hooks/mutations/useUpdateLambda.js
Due: pre-console-core-ui, post-console-core-ui

use clusterroles as Global Permissions
  core-ui/src/components/App/App.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

clean up linter warnings
  core-ui/src/components/App/App.js
  core-ui/src/components/Predefined/Replicaset.details.js
  core-ui/src/components/Predefined/Replicasets.list.js
Due: pre-console-core-ui, post-console-core-ui

fix minor bugs
  core-ui/src/components/App/App.js
Due: pre-console-core-ui, post-console-core-ui

fix unmounted state modification error
  shared/hooks/PamelaAPI/useGet.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

fix data reloading problems
  shared/hooks/PamelaAPI/useGet.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

improve error handling
  shared/hooks/PamelaAPI/useGet.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

cleanup
  shared/hooks/PamelaAPI/useGet.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Use api server for creating (cluster)roleBindings (#2093)
  .clusterConfig.default
  core-ui/src/components/Permissions/ClusterRoleBindingList/ClusterRoleBindingList.js
  core-ui/src/components/Permissions/ClusterRoleBindingList/CreateClusterRoleBindingModal.js
  core-ui/src/components/Permissions/ClusterRoleBindingList/test/ClusterRoleBindingList.test.js
  core-ui/src/components/Permissions/ClusterRoleBindingList/test/CreateClusterRoleBindingModal.test.js
  core-ui/src/components/Permissions/RoleBindingList/CreateRoleBindingModal.js
  core-ui/src/components/Permissions/RoleBindingList/RoleBindingList.js
  core-ui/src/components/Permissions/RoleBindingList/test/CreateRoleBindingModal.test.js
  core-ui/src/components/Permissions/RoleBindingList/test/RoleBindingList.test.js
  core-ui/src/components/Permissions/helpers.js
Due: pre-console-core-ui, post-console-core-ui

fix polling
  shared/hooks/PamelaAPI/useGet.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

review fixes
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/LambdaVariables.js
  core-ui/src/components/Lambdas/constants.js
Due: pre-console-core-ui, post-console-core-ui

Make generic pods list
  core-ui/src/components/Predefined/Pods.list.js
Due: pre-console-core-ui, post-console-core-ui

Apply suggestions from code review
  core-ui/src/components/Lambdas/constants.js
Due: pre-console-core-ui, post-console-core-ui

tw review
  core-ui/src/components/Lambdas/constants.js
Due: pre-console-core-ui, post-console-core-ui

Fix patches
  shared/hooks/PamelaAPI/useMutation.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Unhardcode OIDC params
  core/package-lock.json
  core/package.json
  core/src/luigi-config/auth/auth-params.js
  core/src/luigi-config/auth/index.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/navigation-helpers.js
  core/src/luigi-config/navigation/permissions.js
Due: pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

Move more logic to auth-params
  core/src/luigi-config/auth/auth-params.js
  core/src/luigi-config/auth/index.js
Due: pre-master-console-core, post-master-console-core

Fix running status
  core-ui/src/components/Predefined/Pods.list.js
Due: pre-console-core-ui, post-console-core-ui

Remove JWT parsing
  core/package-lock.json
  core/package.json
  core/src/luigi-config/auth/index.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/permissions.js
Due: pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

Update core/src/luigi-config/auth/index.js
  core/src/luigi-config/auth/index.js
Due: pre-master-console-core, post-master-console-core

Apply renaming
  core/src/luigi-config/auth/auth-params.js
Due: pre-master-console-core, post-master-console-core

Fix permissions validation
  core-ui/src/components/Permissions/ClusterRoleBindingList/CreateClusterRoleBindingModal.js
  core-ui/src/components/Permissions/Shared/InvalidGroupMessage.js
Due: pre-console-core-ui, post-console-core-ui

Decasesensitivitize group
  core-ui/src/components/Permissions/ClusterRoleBindingList/CreateClusterRoleBindingModal.js
Due: pre-console-core-ui, post-console-core-ui

Update core-ui/src/components/Permissions/Shared/InvalidGroupMessage.js
  core-ui/src/components/Permissions/Shared/InvalidGroupMessage.js
Due: pre-console-core-ui, post-console-core-ui

Handle digit at start
  core-ui/src/components/Permissions/ClusterRoleBindingList/CreateClusterRoleBindingModal.js
Due: pre-console-core-ui, post-console-core-ui

Remove validation altogether
  core-ui/src/components/Permissions/ClusterRoleBindingList/CreateClusterRoleBindingModal.js
  core-ui/src/components/Permissions/RoleBindingList/CreateRoleBindingModal.js
  core-ui/src/components/Permissions/Shared/InvalidGroupMessage.js
Due: pre-console-core-ui, post-console-core-ui

Fix permissions validation (#2108)
  core-ui/src/components/Permissions/ClusterRoleBindingList/CreateClusterRoleBindingModal.js
  core-ui/src/components/Permissions/RoleBindingList/CreateRoleBindingModal.js
  core-ui/src/components/Permissions/Shared/InvalidGroupMessage.js
Due: pre-console-core-ui, post-console-core-ui

remvove /home from view urls
  core-ui/src/components/App/App.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-console-content: any of: ^content/|^components/|^package.json
  post-console-content: any of: ^content/|^components/|^package.json
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
  pre-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  post-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  pre-master-console-protecode-guard: any of: ^((components\S+|installation\S+|tools/kyma-installer\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
