Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

pre-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Disable test
  core-ui/src/components/Permissions/ClusterRoleBindingList/test/CreateClusterRoleBindingModal.test.js
Due: pre-console-core-ui, post-console-core-ui

.
  core-ui/src/components/Permissions/ClusterRoleBindingList/test/CreateClusterRoleBindingModal.test.js
Due: pre-console-core-ui, post-console-core-ui

.
  core-ui/src/components/Permissions/RoleBindingList/test/CreateRoleBindingModal.test.js
Due: pre-console-core-ui, post-console-core-ui

.
  core-ui/src/components/Lambdas/LambdasList/Repositories/RepositoryForm.js
Due: pre-console-core-ui, post-console-core-ui

.
  core-ui/src/components/Lambdas/LambdasList/Lambdas/CreateLambdaForm.js
Due: pre-console-core-ui, post-console-core-ui

.
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/RepositoryConfig/RepositoryConfig.js
Due: pre-console-core-ui, post-console-core-ui

control sideDrawer via hook
  core-ui/src/components/NamespaceList/NamespaceList.js
  shared/components/SideDrawer/SideDrawer.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

move hook to hooks place
  shared/components/SideDrawer/SideDrawer.js
  shared/hooks/index.js
  shared/hooks/useSideDrawer.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

make title bigger
  core-ui/src/components/NamespaceList/NamespaceList.js
  shared/components/SideDrawer/SideDrawer.scss
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

beautify code
  core-ui/src/components/NamespaceList/NamespaceList.js
  shared/components/SideDrawer/SideDrawer.js
  shared/components/SideDrawer/SideDrawer.scss
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

add some basic tests
  shared/components/SideDrawer/test/SideDrawer.test.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

reset namespaceList
  core-ui/src/components/NamespaceList/NamespaceList.js
Due: pre-console-core-ui, post-console-core-ui

Review changes
  core-ui/src/components/Secrets/Details/Json/SecretJson.js
  core-ui/src/components/Secrets/Details/SecretHeader.js
  core-ui/src/gql/queries.js
Due: pre-console-core-ui, post-console-core-ui

Review changes
  core-ui/src/components/Secrets/Details/SecretHeader.js
  core-ui/src/components/Secrets/Details/test/mocks.js
Due: pre-console-core-ui, post-console-core-ui

Review changes
  core-ui/src/components/Secrets/Details/Secret/SecretData.js
  core-ui/src/components/Secrets/Details/SecretHeader.js
  shared/components/PageHeader/PageHeader.js
  shared/components/PageHeader/PageHeader.scss
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

Review changes
  core-ui/src/components/Secrets/Details/Secret/test/SecretData.test.js
Due: pre-console-core-ui, post-console-core-ui

Fix rendering docs in docs-ui
  components/generic-documentation/src/loader/loader.ts
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

close modal instead of doing a redirect
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/EditApiRule/EditApiRule.js
Due: pre-console-core-ui, post-console-core-ui

use script-src instead of script-src-elem
  core-ui/nginx.conf
Due: pre-console-core-ui, post-console-core-ui

bump node-fetch to latest version
  compass/package-lock.json
  compass/package.json
  logging/package-lock.json
  logging/package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-logging, post-master-console-logging, pre-master-console-whitesource-scan

Unify service-catalog
  service-catalog-ui/src/components/ServiceClassDetails/ProvisionOnlyOnceInfo/ProvisionOnlyOnceInfo.component.js
  service-catalog-ui/src/components/ServiceClassDetails/ProvisionOnlyOnceInfo/styled.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/styled.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/InstanceParametersModal.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.scss
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/StatusPanel.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/styled.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/test/ServiceInstanceInfo.test.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/test/StatusPanel.test.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/test/__snapshots__/StatusPanel.test.js.snap
  service-catalog-ui/src/components/ServiceInstanceDetails/test/ServiceInstanceDetails.test.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceRowRenderer.js
  service-catalog-ui/src/helpers/constants.js
  service-catalog-ui/src/index.scss
  service-catalog-ui/src/shared/ServiceInstanceStatus.js
  shared/components/Modal/Modal.js
  shared/components/PageHeader/PageHeader.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

use script-src instead of script-src-elem in catalog
  service-catalog-ui/nginx.conf
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Rework ModalWithForm opening button
  shared/components/ModalWithForm/ModalWithForm.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

bump node-fetch everywhere
  components/generic-documentation/package-lock.json
  components/generic-documentation/package.json
  logging/package-lock.json
  package-lock.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

Self review fixes
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/InstanceParametersModal.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

update logging package-lock
  logging/package-lock.json
Due: pre-master-console-logging, post-master-console-logging, pre-master-console-whitesource-scan

I wish 'colspan=all' existed
  core-ui/src/shared/components/EventTriggers/CreateEventTriggerForm.js
  core-ui/src/shared/components/EventTriggers/EventTriggers.js
Due: pre-console-core-ui, post-console-core-ui

Review fix
  core-ui/src/shared/components/EventTriggers/CreateEventTriggerModal.js
Due: pre-console-core-ui, post-console-core-ui

Rename function container - adjust UI
  core-ui/src/components/Lambdas/config.js
Due: pre-console-core-ui, post-console-core-ui

useMemo dependency solution
  shared/hooks/test/useShowSystemNamespaces.test.js
  shared/hooks/useShowSystemNamespaces.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

simpler solution
  shared/hooks/useShowSystemNamespaces.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

Fix bug, fake services
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
  core/src/app/content/namespaces/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.html
Due: pre-master-console-core, post-master-console-core

Remove fake services, use ngElse
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
Due: pre-master-console-core, post-master-console-core

rename test
  shared/components/SideDrawer/test/SideDrawer.test.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

Ensure valid padding on nav
  core/src/index.html
Due: pre-master-console-core, post-master-console-core

More semantic lists in table
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
  core/src/app/content/namespaces/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.html
  core/src/styles.scss
Due: pre-master-console-core, post-master-console-core

More semantic lists in table
  core/src/app/content/namespaces/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.html
Due: pre-master-console-core, post-master-console-core

Remove duplicate namespace name
  core/src/app/content/settings/applications/application-details/application-details.component.html
Due: pre-master-console-core, post-master-console-core

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-console-content: any of: ^content/|^components/|^package.json
  post-console-content: any of: ^content/|^components/|^package.json
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
