Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/

Restore SchemaData.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/SchemaData.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

...
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

allow unsafe-eval
  service-catalog-ui/nginx.conf
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

await reloadPage()
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Review changes
  core-ui/src/components/OAuthClients/Create/test/CreateOAuthClient.test.js
  core-ui/src/components/OAuthClients/Details/OAuthClientDetails.js
  core-ui/src/components/OAuthClients/Details/Secret/OAuthClientSecret.js
  core-ui/src/components/OAuthClients/Details/Secret/test/OAuthClientSecret.test.js
  core-ui/src/components/OAuthClients/Details/Secret/test/mocks.js
  core-ui/src/components/OAuthClients/Details/test/mocks.js
  core-ui/src/components/OAuthClients/Form/OAuthClientForm.js
  core-ui/src/components/OAuthClients/Form/test/OAuthClientForm.test.js
  core-ui/src/gql/subscriptions.js
  shared/index.js
  shared/utils/handleSubscriptionEvent.js
  shared/utils/test/handleSubscriptionEvent.test.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

use node:alpine3.12
  tests/Dockerfile
Due: pre-master-console-tests, post-master-console-tests

WIP
  core-ui/src/components/NamespaceDetails/NamespaceDetails.js
  core-ui/src/components/NamespaceList/NamespaceList.js
  core/src/app/app.module.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.ts
  core/src/app/content/namespaces/configuration/resources/resources.component.ts
  core/src/app/content/namespaces/operation/configmaps/configmaps.component.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  core/src/app/content/namespaces/operation/replica-sets/replica-sets.component.ts
  core/src/app/content/namespaces/operation/secrets/secrets.component.ts
  core/src/app/content/namespaces/operation/services/services.component.ts
  core/src/app/shared/components/permissions/permissions.component.ts
  core/src/app/shared/services/window-title.service.ts
  core/src/luigi-config/communication.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/settings.js
  service-catalog-ui/src/components/App/App.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceList.js
  shared/hooks/index.js
  shared/hooks/useWindowTitle.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui

hide shellbar title
  core/src/index.html
  core/src/luigi-config/communication.js
Due: pre-master-console-core, post-master-console-core

Remove withTitle usages
  core/src/luigi-config/communication.js
  service-catalog-ui/src/components/App/App.js
Due: pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui

squash
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.scss
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaLabels.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/CodeAndDependencies.js
  core-ui/src/components/Lambdas/LambdasList/CreateLambdaForm.js
  core-ui/src/components/Lambdas/LambdasList/LambdasList.js
  core-ui/src/components/Lambdas/LambdasList/RuntimeDropdown.js
  core-ui/src/components/Lambdas/config.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateLambda.js
  core-ui/src/components/Lambdas/gql/queries.js
  core-ui/src/components/Lambdas/gql/subscriptions.js
  core-ui/src/components/Lambdas/helpers/misc/index.js
  core-ui/src/components/Lambdas/helpers/misc/runtimeMappingHelpers.js
  core-ui/src/components/Lambdas/helpers/misc/test/runtimeMappingHelpers.test.js
  core-ui/webpack.config.js
  lerna.json
Due: pre-console-core-ui, post-console-core-ui

rename useWindowTitle
  core-ui/src/components/NamespaceDetails/NamespaceDetails.js
  core-ui/src/components/NamespaceList/NamespaceList.js
  service-catalog-ui/src/components/App/App.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceList.js
  shared/hooks/index.js
  shared/hooks/setWindowTitle.js
  shared/hooks/useWindowTitle.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

WIP2
  core/src/luigi-config/communication.js
  service-catalog-ui/src/components/App/App.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceList.js
  shared/hooks/index.js
  shared/hooks/setWindowTitle.js
  shared/hooks/useWindowTitle.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui

Handle empty range limits
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-range-entry-renderer/limit-range-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-range-entry-renderer/limit-range-entry-renderer.component.ts
Due: pre-master-console-core, post-master-console-core

Finish window titles
  add-ons/src/components/Toolbar/Toolbar.component.tsx
  add-ons/src/constants.ts
  content/src/core/App.tsx
  core-ui/src/components/App/App.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/NamespaceDetails/NamespaceDetails.js
  core-ui/src/components/NamespaceList/NamespaceList.js
  core/src/app/content/namespaces/configuration/resources/resources.component.ts
  core/src/app/content/namespaces/operation/configmaps/configmaps.component.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  core/src/app/content/namespaces/operation/replica-sets/replica-sets.component.ts
  core/src/app/content/namespaces/operation/secrets/secret-detail/secret-detail.component.ts
  core/src/app/content/namespaces/operation/secrets/secrets.component.ts
  core/src/app/content/namespaces/operation/services/services.component.ts
  core/src/app/content/settings/applications/application-details/application-details.component.ts
  core/src/app/content/settings/applications/applications.component.ts
  core/src/app/content/settings/preferences/preferences.component.ts
  core/src/app/shared/components/permissions/permissions.component.ts
  core/src/app/shared/components/permissions/role-details/role-details.component.ts
  logging/src/components/LogsContainer.js
  service-catalog-ui/src/components/App/App.js
  shared/hooks/useWindowTitle.js
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-content, post-master-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui

Restore limit-ranges.component.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.ts
Due: pre-master-console-core, post-master-console-core

Restore index.html
  core/src/index.html
Due: pre-master-console-core, post-master-console-core

Fix core tests
  core/src/app/content/namespaces/configuration/resources/resources.component.spec.ts
  core/src/app/content/namespaces/operation/configmaps/configmaps.component.spec.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.spec.ts
  core/src/app/content/namespaces/operation/pods/pods.component.spec.ts
  core/src/app/content/namespaces/operation/replica-sets/replica-sets.component.spec.ts
  core/src/app/content/namespaces/operation/secrets/secret-detail/secret-detail.component.spec.ts
  core/src/app/content/namespaces/operation/secrets/secrets.component.spec.ts
  core/src/app/content/namespaces/operation/services/services.component.spec.ts
  core/src/app/content/settings/applications/application-details/application-details.component.spec.ts
Due: pre-master-console-core, post-master-console-core

next round of updates
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/CodeAndDependencies.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useUpdateLambda.js
  core-ui/src/components/Lambdas/helpers/misc/runtimeMappingHelpers.js
  core-ui/src/components/Lambdas/helpers/testing/mockData.js
  lerna.json
Due: pre-console-core-ui, post-console-core-ui

move texts to constants js
  core-ui/src/components/Lambdas/LambdasList/RuntimeDropdown.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/misc/runtimeMappingHelpers.js
Due: pre-console-core-ui, post-console-core-ui

update helpers.js getKeyByValue fn
  core-ui/src/components/Lambdas/LambdasList/RuntimeDropdown.js
  core-ui/src/components/Lambdas/LambdasList/helpers.js
  core-ui/src/components/Lambdas/LambdasList/test/helpers.test.js
Due: pre-console-core-ui, post-console-core-ui

one more test-case
  core-ui/src/components/Lambdas/LambdasList/test/helpers.test.js
Due: pre-console-core-ui, post-console-core-ui

squash
  core-ui/src/components/Lambdas/LambdasList/CreateLambdaForm.js
Due: pre-console-core-ui, post-console-core-ui

squash
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
  core-ui/src/components/Lambdas/LambdasList/CreateLambdaForm.js
Due: pre-console-core-ui, post-console-core-ui

Improve NS workloads and oauth docs link
  core-ui/src/components/NamespaceDetails/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/OAuthClients/List/OAuthClientsList.js
  core-ui/src/shared/constants.js
Due: pre-console-core-ui, post-console-core-ui

Move titles to constants, bring back hidden title
  core-ui/src/components/App/App.js
  core-ui/src/shared/constants.js
  core/src/index.html
  service-catalog-ui/src/components/App/App.js
  service-catalog-ui/src/shared/constants.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui

First iteration
  tests/config.js
  tests/cypress.json
  tests/cypress/fixtures/example.json
  tests/cypress/integration/console-smoke-tests.spec.js
  tests/cypress/plugins/index.js
  tests/cypress/support/commands.js
  tests/cypress/support/index.js
  tests/package-lock.json
  tests/package.json
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Use cypress/included image
  tests/.dockerignore
  tests/Dockerfile
Due: pre-master-console-tests, post-master-console-tests

address review comments
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/CodeAndDependencies.js
  core-ui/src/components/Lambdas/LambdasList/CreateLambdaForm.js
  core-ui/src/components/Lambdas/LambdasList/LambdasList.js
  core-ui/src/components/Lambdas/LambdasList/RuntimeDropdown.js
  core-ui/src/components/Lambdas/LambdasList/helpers.js
  core-ui/src/components/Lambdas/LambdasList/test/helpers.test.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateLambda.js
  core-ui/src/components/Lambdas/helpers/misc/index.js
  core-ui/src/components/Lambdas/helpers/runtime/index.js
  core-ui/src/components/Lambdas/helpers/runtime/runtime.js
  core-ui/src/components/Lambdas/helpers/runtime/test/runtime.test.js
Due: pre-console-core-ui, post-console-core-ui

fix nasty bug
  core-ui/src/components/Lambdas/helpers/runtime/runtime.js
Due: pre-console-core-ui, post-console-core-ui

review
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
  core-ui/src/components/Lambdas/config.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/testing/mockData.js
Due: pre-console-core-ui, post-console-core-ui

Debugs
  tests/cypress/integration/console-smoke-tests.spec.js
  tests/cypress/plugins/index.js
  tests/cypress/support/commands.js
Due: pre-master-console-tests, post-master-console-tests

Fix namespaces dropdown
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.scss
Due: pre-console-core-ui, post-console-core-ui

update column to serach by
  core-ui/src/components/Lambdas/LambdasList/LambdasList.js
Due: pre-console-core-ui, post-console-core-ui

Disable video recording
  tests/Dockerfile
  tests/cypress.json
  tests/cypress/integration/console-smoke-tests.spec.js
  tests/cypress/support/commands.js
  tests/package.json
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Remove adding unused tests etc host
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

Update OAuthClientsList.js
  core-ui/src/components/OAuthClients/List/OAuthClientsList.js
Due: pre-console-core-ui, post-console-core-ui

downgrade chrome, add firefox
  tests/Dockerfile
  tests/package.json
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Disable running as root for firefox
  tests/Dockerfile
Due: pre-master-console-tests, post-master-console-tests
