Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests, pre-console-tests, post-console-tests

pre-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Restore static-navigation-model.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Disable oauth clients & docs
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Show system namespaces switch
  core/src/app/content/settings/preferences/preferences.component.ts
Due: pre-master-console-core, post-master-console-core

console changes
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Cleanup core nginx
  core/nginx/conf.d/default.conf
  core/nginx/fastcgi_params
  core/nginx/koi-utf
  core/nginx/koi-win
  core/nginx/modules
  core/nginx/nginx.conf
  core/nginx/scgi_params
  core/nginx/uwsgi_params
  core/nginx/win-utf
Due: pre-master-console-core, post-master-console-core

Remove dexFQDNUri from core config
  core/src/app/app.config.ts
Due: pre-master-console-core, post-master-console-core

Restore core/nginx/conf.d/default.conf
  core/nginx/conf.d/default.conf
Due: pre-master-console-core, post-master-console-core

Reduce default.conf
  core/nginx/conf.d/default.conf
Due: pre-master-console-core, post-master-console-core

Add text and marigin
  shared/components/CopiableText/CopiableText.js
  shared/components/Link/CopiableLink.js
  shared/components/SideDrawer/SideDrawer.js
  shared/components/SideDrawer/SideDrawer.scss
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Try to heal navigation
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Use one drawer component
  core-ui/src/components/ApiRules/ApiRuleDetails/ApiRuleDetails.js
  shared/components/SideDrawer/SideDrawerEditor.js
  shared/hooks/useSideDrawer.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

move yaml conversion to SideDrawer component
  core-ui/src/components/ApiRules/ApiRuleDetails/ApiRuleDetails.js
  shared/components/SideDrawer/SideDrawer.js
  shared/hooks/useSideDrawer.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Fixes, remove unused code
  shared/components/SideDrawer/SideDrawer.js
  shared/components/SideDrawer/SideDrawerEditor.js
  shared/hooks/index.js
  shared/hooks/useSideDrawer.js
  shared/hooks/useSideDrawerEditor.js
  shared/index.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Fix navigation
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

Remove old test
  core-ui/src/components/ApiRules/ApiRuleDetails/ApiRuleDetails.js
  shared/components/SideDrawer/test/SideDrawerEditor.test.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Add proptypes
  core-ui/src/components/ApiRules/ApiRuleDetails/ApiRuleDetails.js
  shared/components/SideDrawer/SideDrawer.js
  shared/hooks/useSideDrawer.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Add simple test
  core-ui/src/components/ApiRules/ApiRuleDetails/ApiRuleDetails.js
  core-ui/src/components/ApiRules/ApiRuleDetails/test/ApiRuleDetails.test.js
Due: pre-console-core-ui, post-console-core-ui

Set valid viewgroups
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Remove smoke tests for logs
  tests/config.js
  tests/tests/console-smoke-tests.spec.js
Due: pre-master-console-tests, post-master-console-tests, pre-console-tests, post-console-tests

Enable logs conditionally, adjust smoke tests
  core/src/luigi-config/navigation/navigation-data-init.js
  tests/config.js
  tests/tests/console-smoke-tests.spec.js
Due: pre-master-console-core, post-master-console-core, pre-master-console-tests, post-master-console-tests, pre-console-tests, post-console-tests

Fix subscription
  core-ui/src/components/NamespaceList/NamespaceList.js
  core-ui/src/components/NamespaceList/test/wsHandler.test.js
  core-ui/src/components/NamespaceList/wsHandler.js
Due: pre-console-core-ui, post-console-core-ui

Revert "Fix subscription"
  core-ui/src/components/NamespaceList/NamespaceList.js
  core-ui/src/components/NamespaceList/test/wsHandler.test.js
  core-ui/src/components/NamespaceList/wsHandler.js
Due: pre-console-core-ui, post-console-core-ui

Add Logs button
  core-ui/src/components/NamespaceDetails/DeployResourceModal/DeployResourceModal.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceDetailsHeader.js
  shared/components/Link/Link.js
  shared/components/LogsLink/LogsLink.js
  shared/components/LogsLink/test/LogsLink.test.js
  shared/index.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Fix tests
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/test/NamespaceDetailsHeader.test.js
  shared/components/LogsLink/test/LogsLink.test.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Fix eslint
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceDetailsHeader.js
Due: pre-console-core-ui, post-console-core-ui

Change proptypes
  shared/components/SideDrawer/SideDrawer.js
  shared/hooks/useSideDrawer.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Review changes
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceDetailsHeader.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/test/NamespaceDetailsHeader.test.js
  shared/components/LogsLink/LogsLink.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Review changes
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceDetailsHeader.js
  shared/components/LogsLink/test/LogsLink.test.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Review changes
  shared/components/LogsLink/LogsLink.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Display limitRanges
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.scss
  core-ui/src/components/NamespaceDetails/NamespaceApplications/NamespaceApplications.js
  core-ui/src/components/NamespaceDetails/NamespaceApplications/NamespaceApplications.scss
  core-ui/src/components/NamespaceDetails/NamespaceDetails.js
  core-ui/src/components/NamespaceDetails/NamespaceDetails.scss
  core-ui/src/components/NamespaceDetails/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/NamespaceDetails/NamespaceWorkloads/NamespaceWorkloads.scss
  core-ui/src/gql/queries.js
Due: pre-console-core-ui, post-console-core-ui

Use node image in core dockerfile
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Add make
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Add chromium
  core-ui/Dockerfile
Due: pre-console-core-ui, post-console-core-ui

Add chromium to the right container
  core-ui/Dockerfile
  core/Dockerfile
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

Run tests on chromium
  core/karma.conf.js
Due: pre-master-console-core, post-master-console-core

Add envs
  core/Dockerfile
  core/karma.conf.js
Due: pre-master-console-core, post-master-console-core

Test
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

display both tables in the grid
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.scss
  core-ui/src/components/NamespaceDetails/NamespaceApplications/NamespaceApplications.scss
  core-ui/src/components/NamespaceDetails/NamespaceDetails.js
  core-ui/src/components/NamespaceDetails/NamespaceDetails.scss
  core-ui/src/components/NamespaceDetails/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/NamespaceDetails/NamespaceWorkloads/NamespaceWorkloads.scss
  core-ui/src/components/NamespaceDetails/ResourceQuotas/ResourceQuotas.js
  core-ui/src/gql/queries.js
  shared/components/GenericList/GenericList.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Build resources for function in Function detaiils view
  core-ui/package.json
  core-ui/src/apollo.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ConfigurationTab.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaResources.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/shared.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/LambdaReplicas.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/LambdaResources.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/ResourceManagement.scss
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/TableElements/Input.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/TableElements/Row.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/shared.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/test/ResourceManagement.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagementTab.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetails.test.js
  core-ui/src/components/Lambdas/LambdasList/Lambdas/LambdasList.js
  core-ui/src/components/Lambdas/components/DropdownInput/DropdownInput.js
  core-ui/src/components/Lambdas/components/DropdownInput/DropdownInput.scss
  core-ui/src/components/Lambdas/config.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateLambda.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useUpdateLambda.js
  core-ui/src/components/Lambdas/gql/queries.js
  core-ui/src/components/Lambdas/gql/subscriptions.js
  core-ui/src/components/Lambdas/helpers/misc/useConfigData.js
  core-ui/src/components/Lambdas/helpers/testing/mockData.js
  core/package.json
  core/src/luigi-config/communication.js
  core/src/luigi-config/settings.js
  lerna.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-console-content: any of: ^content/|^components/|^package.json
  post-console-content: any of: ^content/|^components/|^package.json
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
  pre-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  post-console-tests: any of: ^tests/|^components/|^shared/|^package.json
