Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/

Fix tests
  service-catalog-ui/src/components/ServiceInstanceList/test/ServiceInstanceList.test.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

upd
  tests/.testcaferc.json
  tests/helpers.js
  tests/package-lock.json
  tests/package.json
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

skip docs test
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

check pathname before switching to iframe
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

I'm out of motivation
  tests/.testcaferc.json
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

this commit won't change anything
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

WIP
  core-ui/src/components/App/App.js
  core-ui/src/components/OAuthClients/Create/CreateOAuthClient.js
  core-ui/src/components/OAuthClients/Details/OAuthClientDetails.js
  core-ui/src/components/OAuthClients/Details/OAuthClientSecret.js
  core-ui/src/components/OAuthClients/Edit/EditOAuthClient.js
  core-ui/src/components/OAuthClients/List/OAuthClientLink.js
  core-ui/src/components/OAuthClients/List/OAuthClientsList.js
  core-ui/src/components/OAuthClients/Status/OAuthClientStatus.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

Capitilize maps for consistency with the rest
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Add client form
  core-ui/src/components/OAuthClients/Create/CreateOAuthClient.js
  core-ui/src/components/OAuthClients/Form/OAuthClientForm.js
  core-ui/src/components/OAuthClients/Form/OAuthClientForm.scss
Due: pre-console-core-ui, post-console-core-ui

Add details view, mutations WIP
  core-ui/src/apollo.js
  core-ui/src/components/App/App.js
  core-ui/src/components/NamespaceDetails/NamespaceWorkloads/namespaceWorkloadsHelpers.js
  core-ui/src/components/OAuthClients/Details/OAuthClientDetails.js
  core-ui/src/components/OAuthClients/Details/OAuthClientSecret.js
  core-ui/src/components/OAuthClients/Details/OAuthClientSpecPanel.js
  core-ui/src/components/OAuthClients/Details/Secret/OAuthClientSecret.js
  core-ui/src/components/OAuthClients/Details/Secret/OAuthClientSecret.scss
  core-ui/src/components/OAuthClients/Edit/EditOAuthClient.js
  core-ui/src/components/OAuthClients/Form/CheckboxFormControl.js
  core-ui/src/components/OAuthClients/Form/OAuthClientForm.js
  core-ui/src/components/OAuthClients/Form/OAuthClientForm.scss
  core-ui/src/components/OAuthClients/List/OAuthClientsList.js
  core-ui/src/components/OAuthClients/common.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/subscriptions.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

Split details
  core-ui/src/components/OAuthClients/Details/OAuthClientDetails.js
  core-ui/src/components/OAuthClients/Details/OAuthClientHeader.js
  core-ui/src/components/OAuthClients/Details/Secret/OAuthClientSecret.js
  core-ui/src/components/OAuthClients/List/OAuthClientsList.js
  core-ui/src/gql/queries.js
Due: pre-console-core-ui, post-console-core-ui

Add tests v1
  core-ui/src/components/OAuthClients/Details/OAuthClientHeader.js
  core-ui/src/components/OAuthClients/Details/Secret/test/OAuthClientSecret.test.js
  core-ui/src/components/OAuthClients/Details/Secret/test/mocks.js
  core-ui/src/components/OAuthClients/Details/test/OAuthClientDetails.test.js
  core-ui/src/components/OAuthClients/Details/test/OAuthClientHeader.test.js
  core-ui/src/components/OAuthClients/Details/test/OAuthClientSpecPanel.test.js
  core-ui/src/components/OAuthClients/Status/OAuthClientStatus.js
  core-ui/src/components/OAuthClients/Status/test/OAuthClientStatus.test.js
  core-ui/src/gql/subscriptions.js
  core-ui/src/gql/test/handleSubscriptionArrayEvent.test.js
Due: pre-console-core-ui, post-console-core-ui

Create oauth
  core-ui/src/components/OAuthClients/Create/CreateOAuthClient.js
  core-ui/src/components/OAuthClients/Form/OAuthClientForm.js
  core-ui/src/gql/mutations.js
Due: pre-console-core-ui, post-console-core-ui

Small fix
  core-ui/src/components/OAuthClients/Create/CreateOAuthClient.js
Due: pre-console-core-ui, post-console-core-ui

update jsoneditor in compass
  compass/package-lock.json
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-whitesource-scan

update ajv in react-components
  components/react/package-lock.json
  components/react/package.json
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

update ajv in root modules
  package-lock.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

update react-scripts and remove duplicated dependencies
  package-lock.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

reload page on the beginning of retry
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Fix form & simpleDelete, more tests
  core-ui/src/components/NamespaceDetails/NamespaceWorkloads/namespaceWorkloadsHelpers.js
  core-ui/src/components/OAuthClients/Create/CreateOAuthClient.js
  core-ui/src/components/OAuthClients/Create/test/CreateOAuthClient.test.js
  core-ui/src/components/OAuthClients/Create/test/mocks.js
  core-ui/src/components/OAuthClients/Details/OAuthClientDetails.js
  core-ui/src/components/OAuthClients/Details/Secret/OAuthClientSecret.scss
  core-ui/src/components/OAuthClients/Details/test/OAuthClientDetails.test.js
  core-ui/src/components/OAuthClients/Details/test/OAuthClientHeader.test.js
  core-ui/src/components/OAuthClients/Details/test/mocks.js
  core-ui/src/components/OAuthClients/Form/OAuthClientForm.js
  core-ui/src/components/OAuthClients/Form/OAuthClientForm.scss
  core-ui/src/components/OAuthClients/Form/test/CheckboxFormControl.test.js
  core-ui/src/components/OAuthClients/Form/test/OAuthClientForm.test.js
  core-ui/src/components/OAuthClients/List/OAuthClientsList.js
  core-ui/src/components/OAuthClients/List/test/OAuthClientsList.test.js
  core-ui/src/components/OAuthClients/List/test/mocks.js
  core-ui/src/gql/queries.js
  core-ui/src/gql/subscriptions.js
  shared/components/GenericList/actionHandlers/simpleDelete.js
  shared/index.js
  shared/utils/handleSubscriptionArrayEvent.js
  shared/utils/test/handleSubscriptionArrayEvent.test.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

Add OAuth Clients list description
  core-ui/src/components/OAuthClients/List/OAuthClientsList.js
  shared/components/PageHeader/PageHeader.js
  shared/components/PageHeader/PageHeader.scss
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

Add secret encoding
  core-ui/src/components/OAuthClients/Details/Secret/OAuthClientSecret.js
  core-ui/src/components/OAuthClients/Details/Secret/test/OAuthClientSecret.test.js
Due: pre-console-core-ui, post-console-core-ui

Fix double fetch
  service-catalog-ui/src/builder.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Add secret information
  core-ui/src/components/OAuthClients/Create/CreateOAuthClient.js
  core-ui/src/components/OAuthClients/Create/test/CreateOAuthClient.test.js
  core-ui/src/components/OAuthClients/Details/OAuthClientDetails.js
  core-ui/src/components/OAuthClients/Form/OAuthClientForm.js
  core-ui/src/components/OAuthClients/Form/test/OAuthClientForm.test.js
  core-ui/src/components/OAuthClients/Form/test/mocks.js
  core-ui/src/gql/queries.js
  shared/components/K8sNameInput/K8sNameInput.js
  shared/index.js
  shared/utils/handleSubscriptionArrayEvent.js
  shared/utils/test/handleSubscriptionArrayEvent.test.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

increase waitAfterFail and retries
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

reload page every 3 failed retries
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

remove unsafe-inline and unsafe-eval in nxinx.comf
  core-ui/nginx.conf
Due: pre-console-core-ui, post-console-core-ui

Adjust query and subscription
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/NamespaceDetailsCard.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespacesGrid.js
  core-ui/src/components/NamespaceList/NamespacesGrid/getPodsCounts.js
  core-ui/src/components/NamespaceList/NamespacesGrid/test/NamespaceGrid.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/test/getPodsCounts.test.js
  core-ui/src/gql/queries.js
  core-ui/src/gql/subscriptions.js
Due: pre-console-core-ui, post-console-core-ui

use strict CSP in core-ui
  core-ui/Dockerfile
  core-ui/nginx.conf
  core-ui/package.json
  core-ui/public/index.html
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-whitesource-scan

remove NONCE stuff
  core-ui/Dockerfile
  core-ui/nginx.conf
Due: pre-console-core-ui, post-console-core-ui

remove obsolete lambda config.js file
  lambda/src/assets/config/config.js
Due: none

use strict CSP in other microfrotends
  add-ons/nginx.conf
  add-ons/package.json
  content/nginx.conf
  content/package.json
  logging/nginx.conf
  logging/package.json
  service-catalog-ui/nginx.conf
  service-catalog-ui/package.json
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-content, post-master-console-content, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

fix typo in core-ui
  core-ui/nginx.conf
Due: pre-console-core-ui, post-console-core-ui

bring back unsafe-inline styles
  core-ui/nginx.conf
Due: pre-console-core-ui, post-console-core-ui

Resolve elliptic
  package-lock.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

bring back unsafe-inline styles in other MFs
  add-ons/nginx.conf
  content/nginx.conf
  logging/nginx.conf
  service-catalog-ui/nginx.conf
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-content, post-master-console-content, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui

remove obsolete line
  core-ui/Dockerfile
  core-ui/public/index.html
Due: pre-console-core-ui, post-console-core-ui

Add "collapsible" to category nodes, update smoke tests
  core/src/luigi-config/navigation/static-navigation-model.js
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-core, post-master-console-core, pre-master-console-tests, post-master-console-tests

update react globally
  core-ui/package-lock.json
  core-ui/package.json
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-whitesource-scan

update monaco-editor
  package-lock.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan
