Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests, pre-console-tests, post-console-tests, pre-master-console-protecode-guard

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-console-content: any of: ^content/|^components/|^package.json
  post-console-content: any of: ^content/|^components/|^package.json
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
  pre-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  post-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  pre-master-console-protecode-guard: any of: ^((components\S+|installation\S+|tools/kyma-installer\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))

Remove clusterConfig.gen
  .clusterConfig.gen
Due: none

Remove console.log
  core-ui/src/components/Predefined/List/ApiRules.list.js
Due: pre-console-core-ui, post-console-core-ui

Use sirv instead of webpack serve
  core/package-lock.json
  core/package.json
  core/webpack.config.js
Due: pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

WIP
  core/src/luigi-config/auth.js
Due: pre-master-console-core, post-master-console-core

Add create function and connect repository
  core-ui/src/components/Predefined/Details/Namespace/DeployNewWorkload.js
  core-ui/src/components/Predefined/List/Function/CreateNewFunction.js
  core-ui/src/components/Predefined/List/Function/Functions.list.js
  core-ui/src/components/Predefined/List/Functions.list.js
  core-ui/src/components/Predefined/List/GitRepository/CreateNewRepository.js
  core-ui/src/components/Predefined/List/GitRepository/GitRepositories.list.js
  core-ui/src/components/Predefined/List/index.js
  shared/components/ResourcesList/ResourcesList.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Debug services. Fix domain on apirules list
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRulesList/components.js
  core-ui/src/components/ApiRules/helpers.js
Due: pre-console-core-ui, post-console-core-ui

Debug ServicesDropdown, use k8sApiUrl instead of getApiUrl for apiRules
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/test/JwtDetails.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/ServicesDropdown/ServicesDropdown.js
  logging/src/components/Header/test/Header.test.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-logging, post-master-console-logging

Handle auth0 case
  core/src/luigi-config/auth.js
Due: pre-master-console-core, post-master-console-core

Debugging
  core-ui/src/components/ApiRules/ApiRuleForm/ServicesDropdown/ServicesDropdown.js
Due: pre-console-core-ui, post-console-core-ui

Remove kyma version
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/queries.js
Due: pre-master-console-core, post-master-console-core

Update core/README.md
  core/README.md
Due: console-governance, pre-master-console-core, post-master-console-core

Apply prettier
  core/src/luigi-config/navigation/microfrontend-converter.js
Due: pre-master-console-core, post-master-console-core

Add proper title for edit and check if serviceName in undefined string
  core-ui/src/components/ApiRules/ApiRuleForm/ServicesDropdown/ServicesDropdown.js
  core-ui/src/components/Predefined/Details/ApiRules.details.js
Due: pre-console-core-ui, post-console-core-ui

Revert "Remove kyma version from the init call (#2151)"
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/queries.js
Due: pre-master-console-core, post-master-console-core

Remove console.logs
  core-ui/src/components/ApiRules/ApiRuleForm/ServicesDropdown/ServicesDropdown.js
Due: pre-console-core-ui, post-console-core-ui

Remove console.logs
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
Due: pre-console-core-ui, post-console-core-ui

Uhhh do it again but better
  pamela/npx-setup.js
  pamela/package.json
  pamela/webpack-npx.config.js
Due: pre-master-console-whitesource-scan

Adjust shared
  pamela/package-lock.json
  shared/utils/getClusterConfig.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

Adjust core
  core/src/luigi-config/config.js
  core/src/luigi-config/init-params.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-helpers.js
Due: pre-master-console-core, post-master-console-core

Adjust core-ui
  core-ui/public/index.html
  core-ui/src/components/App/App.js
  core-ui/src/index.js
Due: pre-console-core-ui, post-console-core-ui

shared looks a little bit better now
  core-ui/src/components/App/App.js
  shared/utils/getClusterConfig.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Fix standard Console
  pamela/index.js
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: none

Clean up
  core-ui/src/components/Predefined/List/GitRepository/CreateNewRepository.js
  core-ui/src/components/Predefined/List/GitRepository/GitRepositories.list.js
Due: pre-console-core-ui, post-console-core-ui

Simple details for serviceClasses
  service-catalog-ui/src/components/App/App.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  service-catalog-ui/src/components/ServiceClassList/Cards/Cards.component.js
  service-catalog-ui/src/helpers/index.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Fix page reload
  core/src/luigi-config/navigation/navigation-helpers.js
Due: pre-master-console-core, post-master-console-core

Use valid version
  pamela/package.json
Due: pre-master-console-whitesource-scan

Get instances list
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetails.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Code cleanup pt 1
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetails.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Fix labels selector, create not yet working create modal
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceInput.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.container.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetails.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Small fixes
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Navigate to apirules details from service details
  core-ui/src/components/Predefined/Details/Service.details.js
  shared/components/ResourcesList/ResourcesList.js
  shared/hooks/navigate.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Fix connect repository and cleanup repositories unused files
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ApiRules/ApiRules.js
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/components/Lambdas/LambdasList/Lambdas/LambdasList.js
  core-ui/src/components/Lambdas/LambdasList/Repositories/RepositoriesList.js
  core-ui/src/components/Lambdas/LambdasList/Repositories/RepositoryModal.js
  core-ui/src/components/Lambdas/LambdasList/Repositories/test/RepositoriesList.test.js
  core-ui/src/components/Lambdas/LambdasList/Repositories/test/RepositoryModal.test.js
  core-ui/src/components/Lambdas/LambdasList/Wrapper.js
  core-ui/src/components/Lambdas/LambdasList/Wrapper.scss
  core-ui/src/components/Lambdas/gql/hooks/mutations/index.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useCreateRepository.test.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateLambda.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateRepository.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useDeleteRepository.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useUpdateRepository.js
  core-ui/src/components/Predefined/Details/Namespace/DeployNewWorkload.js
  core-ui/src/components/Predefined/List/Function/Functions.list.js
  core-ui/src/components/Predefined/List/GitRepository/CreateNewRepository.js
Due: pre-console-core-ui, post-console-core-ui

Remove unused tests
  core-ui/src/components/Lambdas/LambdasList/Lambdas/test/LambdasList.test.js
  core-ui/src/components/Lambdas/LambdasList/Repositories/test/RepositoryModal.test.js
  core-ui/src/components/Lambdas/LambdasList/test/Wrapper.test.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useCreateRepository.test.js
Due: pre-console-core-ui, post-console-core-ui

Fix changing plans
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Remove onSuccessCallback
  core-ui/src/components/Lambdas/LambdasList/Repositories/RepositoryModal.js
  core-ui/src/components/Predefined/List/GitRepository/CreateNewRepository.js
Due: pre-console-core-ui, post-console-core-ui
