Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/

Bulletproof brokers list
  service-catalog-ui/src/components/App/App.js
  service-catalog-ui/src/components/ServiceBrokers/ServiceBrokers.component.js
  service-catalog-ui/src/components/ServiceBrokers/ServiceBrokers.component.scss
  service-catalog-ui/src/components/ServiceBrokers/ServiceBrokers.container.js
  service-catalog-ui/src/components/ServiceBrokers/ServiceBrokers.js
  service-catalog-ui/src/components/ServiceBrokers/styled.js
  service-catalog-ui/src/components/ServiceBrokers/test/ServiceBrokers.test.js
  service-catalog-ui/src/components/ServiceBrokers/test/mocks.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

add jsdelivr.net to script sources
  core-ui/nginx.conf
Due: pre-console-core-ui, post-console-core-ui

add monaco editor cdn to CSP
  core-ui/nginx.conf
Due: pre-console-core-ui, post-console-core-ui

Revert "update monaco-editor"
  package-lock.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

Revert "update react globally"
  core-ui/package-lock.json
  core-ui/package.json
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-whitesource-scan

Update codeowners
  CODEOWNERS
  OWNERS_ALIASES
Due: none

add one sha to exceptions
  core-ui/nginx.conf
Due: pre-console-core-ui, post-console-core-ui

Add lil eye icon to button on secret panel
  core-ui/src/components/OAuthClients/Details/Secret/OAuthClientSecret.js
Due: pre-console-core-ui, post-console-core-ui

Add lil eye icon to button on secret panel
  core-ui/src/components/OAuthClients/Create/CreateOAuthClient.js
  core-ui/src/components/OAuthClients/Create/test/CreateOAuthClient.test.js
  core-ui/src/components/OAuthClients/Details/OAuthClientHeader.js
  core-ui/src/components/OAuthClients/Details/Secret/test/OAuthClientSecret.test.js
  core-ui/src/components/OAuthClients/Form/OAuthClientForm.js
  core-ui/src/components/OAuthClients/Form/OAuthClientForm.scss
  core-ui/src/components/OAuthClients/Form/test/OAuthClientForm.test.js
  core-ui/src/components/OAuthClients/List/OAuthClientsList.js
  core-ui/src/shared/constants.js
  shared/components/PageHeader/PageHeader.js
  shared/components/PageHeader/PageHeader.scss
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

Add user info messages when some parts of service details view are not displayed
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Update tests.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

make spec amount badge not a link
  service-catalog-ui/src/components/ServiceClassPlansList/ServiceClassPlansList.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

update package-locks
  components/react/package-lock.json
  package-lock.json
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

add aria role
  service-catalog-ui/src/components/ServiceClassPlansList/ServiceClassPlansList.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

remove random css rules for GridContainer & adjust default paddin g
  components/generic-documentation/src/layouts/ContentUI.tsx
  components/generic-documentation/src/layouts/styled.ts
  components/generic-documentation/src/renderers/Group.renderer.tsx
  components/shared/src/Grid/index.ts
  content/src/core/App.tsx
  content/src/core/styled.ts
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-content, post-master-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

that was quick
  service-catalog-ui/src/components/ServiceClassPlansList/ServiceClassPlansList.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Make Deconde/Encode button light
  core-ui/src/components/OAuthClients/Details/Secret/OAuthClientSecret.js
Due: pre-console-core-ui, post-console-core-ui

adjust paddings and margins in Content
  content/src/core/App.tsx
Due: pre-master-console-content, post-master-console-content

test
  core-ui/src/components/OAuthClients/Create/test/CreateOAuthClient.test.js
  service-catalog-ui/Dockerfile
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindingsStep.component.js
Due: pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

a
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

b
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

b
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

c
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

c
  core-ui/src/components/OAuthClients/Create/test/CreateOAuthClient.test.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
Due: pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

d
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Fix create credentails w/o any parameters required
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Restore BindingsStep.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindingsStep.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Restore Dockerfile
  service-catalog-ui/Dockerfile
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

e
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

f
  service-catalog-ui/Dockerfile
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

g
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

A
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/SchemaData.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Restore BindApplicationModal.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

B
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/SchemaData.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

C
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/SchemaData.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

X
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Restore SchemaData.component.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Restore SchemaData.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/SchemaData.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Y
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/SchemaData.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui
