Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

pre-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Add more tests
  core-ui/src/components/Permissions/ClusterRoleBindingList/test/ClusterRoleBindingList.test.js
  core-ui/src/components/Permissions/ClusterRoleBindingList/test/CreateClusterRoleBindingModal.test.js
  core-ui/src/components/Permissions/ClusterRoleBindingList/test/mocks.js
  core-ui/src/components/Permissions/RoleBindingList/test/CreateRoleBindingModal.test.js
  core-ui/src/components/Permissions/RoleBindingList/test/RoleBindingList.test.js
  core-ui/src/components/Permissions/RoleBindingList/test/mocks.js
Due: pre-console-core-ui, post-console-core-ui

add script-src-elem to core-ui
  core-ui/nginx.conf
Due: pre-console-core-ui, post-console-core-ui

add monaco to worker-src
  core-ui/nginx.conf
Due: pre-console-core-ui, post-console-core-ui

move static html JS to separate file
  core/src/assets/static-views.js
  core/src/logout.html
  core/src/nopermissions.html
Due: pre-master-console-core, post-master-console-core

bump luigi to preview version
  core/package-lock.json
  core/package.json
  package-lock.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

remove inline event handlers for static html
  core/src/assets/static-views.js
  core/src/logout.html
  core/src/nopermissions.html
Due: pre-master-console-core, post-master-console-core

wrap adding button events into try-catch
  core/src/assets/static-views.js
Due: pre-master-console-core, post-master-console-core

MASSIVELY optimize useSystemNamespaces hook
  shared/hooks/useShowSystemNamespaces.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

Re-sort role bindings
  core-ui/src/components/Permissions/ClusterRoleBindingList/ClusterRoleBindingList.js
  core-ui/src/components/Permissions/RoleBindingList/RoleBindingList.js
Due: pre-console-core-ui, post-console-core-ui

Re-sort role bindings
  core-ui/src/components/Permissions/RoleBindingList/RoleBindingList.js
Due: pre-console-core-ui, post-console-core-ui

Draft
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/EventTriggersWrapper.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateManyEventTriggers.js
  core-ui/src/components/Lambdas/gql/queries.js
  core-ui/src/components/Lambdas/gql/subscriptions.js
  core-ui/src/components/Lambdas/helpers/eventTriggers/createSubscriberRef.js
  core-ui/src/shared/components/EventTriggers/CreateEventTriggerForm.js
  core-ui/src/shared/components/EventTriggers/EventTriggers.js
  shared/components/Input/Input.js
  shared/index.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

Change the regexp to accept more characters
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
Due: pre-console-core-ui, post-console-core-ui

Adjust frontend
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/EventTriggersWrapper.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateManyEventTriggers.js
  core-ui/src/components/Lambdas/gql/hooks/queries/useEventTriggersQuery.js
  core-ui/src/components/Lambdas/gql/queries.js
  core-ui/src/components/Lambdas/gql/subscriptions.js
  core-ui/src/components/Lambdas/helpers/eventTriggers/createSubscriberRef.js
  core-ui/src/components/Services/ServiceDetails/ServiceDetailsHeader/ServiceDetailsHeader.js
  core-ui/src/components/Services/ServiceDetails/ServiceEventTriggers/ServiceEventTriggers.js
  core-ui/src/shared/components/EventTriggers/CreateEventTriggerForm.js
  core-ui/src/shared/components/EventTriggers/CreateEventTriggerForm.scss
  core-ui/src/shared/components/EventTriggers/CreateEventTriggerModal.js
  core-ui/src/shared/components/EventTriggers/EventTriggers.js
Due: pre-console-core-ui, post-console-core-ui

Remove unnecessary changes
  core-ui/src/shared/components/EventTriggers/CreateEventTriggerForm.js
  core-ui/src/shared/components/EventTriggers/CreateEventTriggerForm.scss
  shared/components/Input/Input.js
  shared/index.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

Fix tests
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/test/EventTriggersWrapper.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/test/ConfigurationTab.test.js
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useEventTriggersQuery.test.js
  core-ui/src/components/Lambdas/helpers/testing/mockData.js
  core-ui/src/shared/components/EventTriggers/test/CreateEventTriggerModal.test.js
Due: pre-console-core-ui, post-console-core-ui

add more chars to the description
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
Due: pre-console-core-ui, post-console-core-ui

Rewrite secrets
  core-ui/src/components/App/App.js
  core-ui/src/components/Secrets/Details/Json/SecretJson.js
  core-ui/src/components/Secrets/Details/Json/SecretJson.scss
  core-ui/src/components/Secrets/Details/Json/test/SecretJson.test.js
  core-ui/src/components/Secrets/Details/Secret/SecretData.js
  core-ui/src/components/Secrets/Details/Secret/SecretData.scss
  core-ui/src/components/Secrets/Details/Secret/test/SecretData.test.js
  core-ui/src/components/Secrets/Details/Secret/test/mocks.js
  core-ui/src/components/Secrets/Details/SecretDetails.js
  core-ui/src/components/Secrets/Details/SecretHeader.js
  core-ui/src/components/Secrets/Details/test/SecretDetails.test.js
  core-ui/src/components/Secrets/Details/test/SecretHeader.test.js
  core-ui/src/components/Secrets/Details/test/mocks.js
  core-ui/src/components/Secrets/List/SecretList.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
  core-ui/src/gql/subscriptions.js
  core-ui/src/shared/constants.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

Remove old secrets
  core/src/app/app.module.ts
  core/src/app/content/namespaces/operation/secrets/secret-detail/secret-detail.component.html
  core/src/app/content/namespaces/operation/secrets/secret-detail/secret-detail.component.scss
  core/src/app/content/namespaces/operation/secrets/secret-detail/secret-detail.component.spec.ts
  core/src/app/content/namespaces/operation/secrets/secret-detail/secret-detail.component.ts
  core/src/app/content/namespaces/operation/secrets/secrets-entry-renderer/secrets-entry-renderer.component.html
  core/src/app/content/namespaces/operation/secrets/secrets-entry-renderer/secrets-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/secrets/secrets-header-renderer/secrets-header-renderer.component.html
  core/src/app/content/namespaces/operation/secrets/secrets-header-renderer/secrets-header-renderer.component.ts
  core/src/app/content/namespaces/operation/secrets/secrets.component.spec.ts
  core/src/app/content/namespaces/operation/secrets/secrets.component.ts
  core/src/app/navigation/app-routing.module.ts
Due: pre-master-console-core, post-master-console-core

Rewrite services to react
  components/react/package-lock.json
  core-ui/src/components/App/App.js
  core-ui/src/components/Services/ServiceDetails/ServiceDetailsHeader/ServiceDetailsHeader.js
  core-ui/src/components/Services/ServicesList/ServicesList.js
  core-ui/src/gql/queries.js
  core/src/luigi-config/navigation/static-navigation-model.js
  shared/components/GenericList/GenericList.js
  shared/components/ListActions/ListActions.js
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

Remove old angular code
  core-ui/src/components/App/App.js
  core-ui/src/components/Services/Services.js
  core-ui/src/components/Services/ServicesList/ServicesList.js
  core-ui/src/components/Services/constants.js
  core/src/app/app.module.ts
  core/src/app/content/namespaces/operation/services/services-entry-renderer/services-entry-renderer.component.html
  core/src/app/content/namespaces/operation/services/services-entry-renderer/services-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/services/services-header-renderer/services-header-renderer.component.html
  core/src/app/content/namespaces/operation/services/services-header-renderer/services-header-renderer.component.ts
  core/src/app/content/namespaces/operation/services/services.component.spec.ts
  core/src/app/content/namespaces/operation/services/services.component.ts
  core/src/app/navigation/app-routing.module.ts
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

looks like it works
  core-ui/src/components/NamespaceList/NamespaceList.js
  shared/components/SideDrawer/SideDrawer.js
  shared/components/SideDrawer/SideDrawer.scss
  shared/index.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

finish this up, now it works
  core-ui/src/components/NamespaceList/NamespaceList.js
  shared/components/SideDrawer/SideDrawer.js
  shared/components/SideDrawer/SideDrawer.scss
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

Fix navigation
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Add tests
  core-ui/src/components/Services/ServicesList/test/ServicesList.test.js
Due: pre-console-core-ui, post-console-core-ui

Review fixes: rename headers, handle single port
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useEventTriggersQuery.test.js
  core-ui/src/shared/components/EventTriggers/CreateEventTriggerForm.js
  core-ui/src/shared/components/EventTriggers/CreateEventTriggerForm.scss
  core-ui/src/shared/components/EventTriggers/CreateEventTriggerModal.js
  core-ui/src/shared/components/EventTriggers/EventTriggers.js
  core-ui/src/shared/constants.js
Due: pre-console-core-ui, post-console-core-ui

make it full height
  core-ui/src/components/NamespaceList/NamespaceList.js
  shared/components/SideDrawer/SideDrawer.js
  shared/components/SideDrawer/SideDrawer.scss
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui

update Luigi
  core/package-lock.json
  core/package.json
  package-lock.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

Add test for service age fiels
  core-ui/src/components/Services/ServicesList/test/ServicesList.test.js
Due: pre-console-core-ui, post-console-core-ui

Update core-ui/src/components/Services/ServicesList/ServicesList.js
  core-ui/src/components/Services/ServicesList/ServicesList.js
Due: pre-console-core-ui, post-console-core-ui

Review fixes
  core-ui/src/components/Services/ServicesList/ServicesList.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

Fix apirules tests
  core-ui/src/testing/servicesMocks.js
Due: pre-console-core-ui, post-console-core-ui

Unify lambdas
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.scss
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaStatusCard.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/test/LambdaStatusCard.test.js
  core-ui/src/components/Lambdas/LambdaStatusBadge/LambdaStatusBadge.js
  core-ui/src/components/Lambdas/LambdasList/LambdasList.js
Due: pre-console-core-ui, post-console-core-ui

Add expand/collapse option when data are to long
  core-ui/src/components/Secrets/Details/Secret/SecretData.js
  core-ui/src/components/Secrets/Details/Secret/SecretData.scss
  core-ui/src/components/Secrets/Details/Secret/test/mocks.js
Due: pre-console-core-ui, post-console-core-ui

Don't show creation time
  core-ui/src/components/Secrets/Details/SecretHeader.js
  core-ui/src/components/Secrets/Details/test/SecretHeader.test.js
  core-ui/src/gql/queries.js
Due: pre-console-core-ui, post-console-core-ui

Unify applications
  components/react/package-lock.json
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.ts
  core/src/app/content/settings/applications/applications-entry-renderer/applications-entry-renderer.component.ts
  core/src/app/content/settings/applications/services/applications.service.ts
  package-lock.json
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan

first round of updates
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaResources.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/shared.js
  core-ui/src/components/Lambdas/gql/queries.js
  core-ui/src/components/Lambdas/gql/subscriptions.js
Due: pre-console-core-ui, post-console-core-ui

working version of UI
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaResources.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/shared.js
Due: pre-console-core-ui, post-console-core-ui

Delete unused import
  core-ui/src/components/Secrets/Details/Secret/SecretData.js
Due: pre-console-core-ui, post-console-core-ui

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-console-content: any of: ^content/|^components/|^package.json
  post-console-content: any of: ^content/|^components/|^package.json
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
