Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

pre-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Remove unused code
  core/src/app/content/settings/applications/application-details/application-binding-service.ts
  core/src/luigi-config/config.js
Due: pre-master-console-core, post-master-console-core

WIP on fixing tests
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useCreateManyEventTriggers.test.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateManyEventTriggers.js
  core-ui/src/components/Services/ServiceDetails/EventTriggers/test/EventTriggersWrapper.test.js
  core-ui/src/components/Services/ServiceDetails/ServiceDetails.js
  core-ui/src/components/Services/ServiceDetails/ServiceEventTriggers/ServiceEventTriggers.js
Due: pre-console-core-ui, post-console-core-ui

fix createManyEventTriggers test
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useCreateManyEventTriggers.test.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateManyEventTriggers.js
Due: pre-console-core-ui, post-console-core-ui

move ModalWithForm's button prop type to CustomPropTypes & add tests for it
  shared/components/ModalWithForm/ModalWithForm.js
  shared/typechecking/CustomPropTypes.js
  shared/typechecking/test/CustomPropTypes.test.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui

Use more specific query
  core-ui/src/components/Services/ServiceDetails/ServiceApiRules/ServiceApiRules.js
  core-ui/src/components/Services/ServiceDetails/ServiceApiRules/test/ServiceApiRules.test.js
  core-ui/src/components/Services/ServiceDetails/ServiceApiRules/test/mocks.js
  core-ui/src/gql/queries.js
Due: pre-console-core-ui, post-console-core-ui

Fix instances crashing
  service-catalog-ui/src/apollo.js
Due: none

Adjust styling
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.scss
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.html
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.scss
Due: pre-master-console-core, post-master-console-core

Clear error in json-editor-modal after "Cancel"
  core/src/app/shared/components/json-editor-modal/json-editor-modal.component.ts
Due: pre-master-console-core, post-master-console-core

Fix bug with mishaped object in beautifySchema
  core-ui/src/components/Lambdas/helpers/eventTriggers/beautifyEventSchema.js
  core-ui/src/components/Lambdas/helpers/eventTriggers/test/beautifyEventSchema.test.js
Due: pre-console-core-ui, post-console-core-ui

fix initial validity of CreateInstanceModal
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
Due: none

fix tests
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
Due: none

update after review
  core-ui/src/components/Lambdas/helpers/eventTriggers/beautifyEventSchema.js
Due: pre-console-core-ui, post-console-core-ui

rewrite problematic test using @testing-library
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  core-ui/src/components/CreateNamespaceForm/test/CreateNamespaceForm.test.js
Due: pre-console-core-ui, post-console-core-ui

fix eslint warning
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
Due: pre-console-core-ui, post-console-core-ui

fix typo
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
Due: pre-console-core-ui, post-console-core-ui

remove unused imports
  core-ui/src/components/CreateNamespaceForm/test/CreateNamespaceForm.test.js
Due: pre-console-core-ui, post-console-core-ui

remove unused variable
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useCreateManyEventTriggers.test.js
Due: pre-console-core-ui, post-console-core-ui

Make AccessStrategy control more resilient
  core-ui/src/components/ApiRules/AccessStrategy/AccessStrategy.js
  core-ui/src/components/ApiRules/AccessStrategy/test/AccessStrategy.test.js
  core-ui/src/components/ApiRules/accessStrategyTypes.js
Due: pre-console-core-ui, post-console-core-ui

use correct API version
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/EventTriggersWrapper.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Services/ServiceDetails/ServiceEventTriggers/ServiceEventTriggers.js
  core-ui/src/components/Services/constants.js
  core-ui/src/shared/constants.js
Due: pre-console-core-ui, post-console-core-ui

use useEventTriggersQuery hook
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/EventTriggersWrapper.js
  core-ui/src/components/Lambdas/gql/hooks/queries/useEventTriggersQuery.js
  core-ui/src/components/Services/ServiceDetails/ServiceEventTriggers/ServiceEventTriggers.js
Due: pre-console-core-ui, post-console-core-ui

Change auth texts
  compass/src/components/ApiPackages/ApiPackageDetails/AuthList/AuthList.js
  compass/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/EditApiPackageForm.js
  compass/src/components/ApiPackages/ApiPackagesHelpers.js
  compass/src/components/ApiPackages/CreateApiPackageForm/CreateApiPackageForm.js
  compass/src/components/ApiPackages/test/ApiPackagesHelper.test.js
  shared/components/CredentialForms/CredentialsForm.js
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-console-core-ui, post-console-core-ui

Review changes
  shared/components/CredentialForms/BasicCredentialsForm.js
  shared/components/CredentialForms/CredentialsForm.js
  shared/components/CredentialForms/OAuthCredentialsForm.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui

display EventTriggers area conditionaly
  core-ui/src/components/Services/ServiceDetails/ServiceDetails.js
Due: pre-console-core-ui, post-console-core-ui

fix tests
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useEventTriggersQuery.test.js
Due: pre-console-core-ui, post-console-core-ui

remove lambda-related stuff from constants
  core-ui/src/shared/constants.js
Due: pre-console-core-ui, post-console-core-ui

do not use createSubscriberRef hook
  core-ui/src/components/Services/ServiceDetails/ServiceEventTriggers/ServiceEventTriggers.js
Due: pre-console-core-ui, post-console-core-ui

return null from customPropTypes.button checker fn
  shared/typechecking/CustomPropTypes.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui

fix customPropTypes test
  shared/typechecking/test/CustomPropTypes.test.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui

extract resource kind to constants
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/EventTriggersWrapper.js
  core-ui/src/components/Lambdas/constants.js
Due: pre-console-core-ui, post-console-core-ui

Fix multiple calls on search
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.ts
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

Remove lolo suffix
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
Due: none

change one of constants
  core-ui/src/shared/constants.js
Due: pre-console-core-ui, post-console-core-ui

Update another constant
  core-ui/src/components/Services/constants.js
Due: pre-console-core-ui, post-console-core-ui

add success notifications to addons
  add-ons/src/index.tsx
  add-ons/src/services/Subscriptions.service.ts
Due: pre-console-add-ons, post-console-add-ons

Fix logs view
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetails.test.js
  core-ui/src/components/Lambdas/helpers/lambdas/index.js
  core-ui/src/components/Lambdas/helpers/lambdas/logsViewHelpers.js
  core-ui/src/components/Lambdas/helpers/misc/test/useLogsView.test.js
  core-ui/src/components/Lambdas/helpers/misc/useLogsView.js
Due: pre-console-core-ui, post-console-core-ui

Update Nginx to alpine version
  add-ons/Dockerfile
  compass/Dockerfile
  content/Dockerfile
  core-ui/Dockerfile
  core/Dockerfile
  logging/Dockerfile
  service-catalog-ui/Dockerfile
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-master-console-content, post-master-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

test
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Set mainline repo
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Fix missing command
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
