Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests, pre-console-tests, post-console-tests

pre-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

.
  core-ui/package.json
  core-ui/src/apollo.js
  core/package.json
  core/src/luigi-config/communication.js
  core/src/luigi-config/settings.js
  lerna.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

Remove tests
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/test/ConfigurationTab.test.js
Due: pre-console-core-ui, post-console-core-ui

Update tests
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetails.test.js
Due: pre-console-core-ui, post-console-core-ui

.
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/shared.js
Due: pre-console-core-ui, post-console-core-ui

.
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
Due: pre-console-core-ui, post-console-core-ui

Fix texts
  core-ui/src/components/Lambdas/constants.js
Due: pre-console-core-ui, post-console-core-ui

Fallback to empty object
  core-ui/src/components/Lambdas/helpers/lambdaVariables/serializeVariables.js
Due: pre-console-core-ui, post-console-core-ui

Bump DOMPurify
  components/generic-documentation/package-lock.json
  components/generic-documentation/src/render-engines/markdown/custom-renderers/ListItem.tsx
  package-lock.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

the drawer works
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
Due: pre-console-core-ui, post-console-core-ui

save button works
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
Due: pre-console-core-ui, post-console-core-ui

redo the drawer using a separate hook
  core-ui/public/index.html
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
  shared/components/SideDrawer/SideDrawer.js
  shared/hooks/index.js
  shared/hooks/useSideDrawer.js
  shared/hooks/useYamlEditorDrawer.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

update mutation works more or less
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
  core-ui/src/components/NamespaceDetails/NamespaceDetails.js
  core-ui/src/gql/mutations.js
  shared/components/SideDrawer/SideDrawer.js
  shared/hooks/useYamlEditorDrawer.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Update mutation finished
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
  shared/components/Notification/Notification.scss
  shared/components/SideDrawer/SideDrawer.js
  shared/hooks/useYamlEditorDrawer.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Fix the execute of monaco inline script
  core-ui/nginx.conf
Due: pre-console-core-ui, post-console-core-ui

Add logs
  core-ui/Dockerfile
  core-ui/src/components/NamespaceDetails/DeployResourceModal/deployResourceHelpers.js
Due: pre-console-core-ui, post-console-core-ui

Check for name instead of type, adjust tests
  core-ui/Dockerfile
  core-ui/src/components/NamespaceDetails/DeployResourceModal/deployResourceHelpers.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/test/deployResourceHelpers.test.js
Due: pre-console-core-ui, post-console-core-ui

Ignore file extension case
  core-ui/src/components/NamespaceDetails/DeployResourceModal/deployResourceHelpers.js
Due: pre-console-core-ui, post-console-core-ui

Use node in core
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Add make
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

disable checking if namespace-quota exceeded
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
  core/src/app/content/namespaces/namespaces-container/namespaces-container.component.ts
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

remove old resources
  core/src/app/app.module.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-range-entry-renderer/limit-range-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-range-entry-renderer/limit-range-entry-renderer.component.spec.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-range-entry-renderer/limit-range-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-range-header-renderer/limit-range-header-renderer.component.html
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-range-header-renderer/limit-range-header-renderer.component.spec.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-range-header-renderer/limit-range-header-renderer.component.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.html
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.spec.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quota-entry-renderer/resource-quota-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quota-entry-renderer/resource-quota-entry-renderer.component.spec.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quota-entry-renderer/resource-quota-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quota-header-renderer/resource-quota-header-renderer.component.html
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quota-header-renderer/resource-quota-header-renderer.component.spec.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quota-header-renderer/resource-quota-header-renderer.component.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.html
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.spec.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.ts
  core/src/app/content/namespaces/configuration/resources/resources.component.html
  core/src/app/content/namespaces/configuration/resources/resources.component.scss
  core/src/app/content/namespaces/configuration/resources/resources.component.spec.ts
  core/src/app/content/namespaces/configuration/resources/resources.component.ts
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Add chromium
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

remove some more old stuff
  core/src/app/navigation/app-routing.module.ts
Due: pre-master-console-core, post-master-console-core

Set CHROME_BIN
  components/angular/generic-list/karma.conf.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Restore Dockerfile
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Restore karma.conf.js
  components/angular/generic-list/karma.conf.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

test change
  core-ui/Dockerfile
  core/Dockerfile
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

change useYamlEditor to a context
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
  core-ui/src/components/NamespaceDetails/NamespaceDetails.js
  core-ui/src/components/NamespaceDetails/ResourceQuotas/ResourceQuotas.js
  core-ui/src/gql/queries.js
  shared/contexts/YamlEditorContext.js
  shared/hooks/index.js
  shared/index.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

fix wrong data types
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
  core-ui/src/components/NamespaceDetails/NamespaceDetails.js
  core-ui/src/components/NamespaceDetails/ResourceQuotas/ResourceQuotas.js
  core-ui/src/gql/mutations.js
Due: pre-console-core-ui, post-console-core-ui

fix tests
  core-ui/src/components/CreateNamespaceForm/test/gqlMocks.js
Due: pre-console-core-ui, post-console-core-ui

fix onComplete behaviour
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
  core-ui/src/components/NamespaceDetails/ResourceQuotas/ResourceQuotas.js
Due: pre-console-core-ui, post-console-core-ui

close drawer on Save success
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
  core-ui/src/components/NamespaceDetails/ResourceQuotas/ResourceQuotas.js
  shared/contexts/YamlEditorContext.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Use chromium-buiilder in dockerfile
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Add a missing space
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

remove cpu & mem icons
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
Due: pre-console-core-ui, post-console-core-ui

display dash on empty fields
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
  core-ui/src/components/NamespaceDetails/ResourceQuotas/ResourceQuotas.js
Due: pre-console-core-ui, post-console-core-ui

Don't install dev dependencies od prod
  core/Makefile
Due: pre-master-console-core, post-master-console-core

Add angliar/cli
  core/Makefile
Due: pre-master-console-core, post-master-console-core

Test
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-console-content: any of: ^content/|^components/|^package.json
  post-console-content: any of: ^content/|^components/|^package.json
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
  pre-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  post-console-tests: any of: ^tests/|^components/|^shared/|^package.json
