Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests, pre-console-tests, post-console-tests

pre-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

add newline to bound services list
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
Due: pre-master-console-core, post-master-console-core

Add flags for cypress:test:cluster
  tests/package.json
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests, pre-console-tests, post-console-tests

Add basic pods template
  core-ui/src/components/Pods/PodList/PodList.js
  core-ui/src/components/Pods/PodList/test/ServicesList.test.js
  core-ui/src/components/Pods/Pods.js
  core-ui/src/components/Pods/constants.js
Due: pre-console-core-ui, post-console-core-ui

remove Pods from Core
  core/src/app/app.module.ts
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.html
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/pods/pods-header-renderer/pods-header-renderer.component.html
  core/src/app/content/namespaces/operation/pods/pods-header-renderer/pods-header-renderer.component.scss
  core/src/app/content/namespaces/operation/pods/pods-header-renderer/pods-header-renderer.component.spec.ts
  core/src/app/content/namespaces/operation/pods/pods-header-renderer/pods-header-renderer.component.ts
  core/src/app/content/namespaces/operation/pods/pods.component.spec.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
Due: pre-master-console-core, post-master-console-core

Fix CircleProgress
  core-ui/src/shared/components/CircleProgress/CircleProgress.js
  core-ui/src/shared/components/CircleProgress/CircleProgress.scss
Due: pre-console-core-ui, post-console-core-ui

finish routing
  core-ui/src/components/App/App.js
  core-ui/src/components/Pods/PodList/PodList.js
  core-ui/src/components/Pods/Pods.js
  core-ui/src/shared/constants.js
  core/src/app/navigation/app-routing.module.ts
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

add scalp url to clusterConfig
  .clusterConfig.default
Due: none

display pod names
  core-ui/src/components/Pods/PodList/PodList.js
  shared/contexts/ConfigContext.js
  shared/hooks/ScalpAPI/config.js
  shared/hooks/ScalpAPI/index.js
  shared/hooks/ScalpAPI/useGet.js
  shared/hooks/ScalpAPI/useMutation.js
  shared/hooks/ScalpAPI/useSubscription.js
  shared/hooks/index.js
  shared/package-lock.json
  shared/package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

add json to drawer
  core-ui/src/components/Pods/PodList/PodList.js
Due: pre-console-core-ui, post-console-core-ui

send update mutation on edit
  core-ui/src/components/Pods/PodList/PodList.js
  shared/hooks/ScalpAPI/useGet.js
  shared/hooks/ScalpAPI/useMutation.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Clear auth data on token expired, fix a typo
  core/src/assets/static-views.js
  core/src/nopermissions.html
Due: pre-master-console-core, post-master-console-core

Bump react-styleguidist
  components/react/package-lock.json
  components/react/package.json
  package-lock.json
  package.json
Due: pre-console-add-ons, post-console-add-ons, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

Restore nopermissions.html
  core/src/nopermissions.html
Due: pre-master-console-core, post-master-console-core

Restore static-views.js
  core/src/assets/static-views.js
Due: pre-master-console-core, post-master-console-core

Do not fill 0/0
  core-ui/src/shared/components/CircleProgress/CircleProgress.js
Due: pre-console-core-ui, post-console-core-ui

Fix the TW alias in **Assignees**
  .github/ISSUE_TEMPLATE/documentation-improvement.md
Due: console-governance

Fix fragmentMatcher
  service-catalog-ui/src/apollo.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Set allow as default access strategy
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/ApiRuleForm.test.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/test/mocks.js
Due: pre-console-core-ui, post-console-core-ui

make mutation working
  core-ui/src/components/Pods/PodList/PodList.js
Due: pre-console-core-ui, post-console-core-ui

polish updating pod
  core-ui/src/components/Pods/PodList/PodList.js
  shared/hooks/ScalpAPI/useMutation.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

use delete mutation
  core-ui/src/components/Pods/PodList/PodList.js
  shared/hooks/ScalpAPI/useMutation.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

use older socket.io-client
  shared/package-lock.json
  shared/package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

use subscription on pod list
  core-ui/src/components/Pods/PodList/PodList.js
  shared/hooks/ScalpAPI/useSubscription.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

store pods as array instead of request result
  core-ui/src/components/Pods/PodList/PodList.js
  shared/hooks/ScalpAPI/useGet.js
  shared/hooks/ScalpAPI/useSubscription.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

use correct columns and values in the table
  core-ui/src/components/Pods/PodList/PodList.js
Due: pre-console-core-ui, post-console-core-ui

fix subscription
  core-ui/src/components/Pods/PodList/PodList.js
Due: pre-console-core-ui, post-console-core-ui

use correct nav item text
  core-ui/src/components/Pods/PodList/PodList.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

remove obsolete test
  core-ui/src/components/Pods/PodList/test/ServicesList.test.js
Due: pre-console-core-ui, post-console-core-ui

temporarily disable /shared tests
  shared/package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

fix tests
  shared/contexts/ConfigContext.test.js
  shared/package.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

change backend url name to pamela
  .clusterConfig.default
  shared/hooks/ScalpAPI/config.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Fix catalog search, optimize filter
  service-catalog-ui/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/src/components/ServiceClassList/ServiceClassToolbar/ServiceClassToolbar.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceList.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceToolbar/SearchDropdown.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceToolbar/ServiceInstanceToolbar.component.js
  service-catalog-ui/src/helpers/search.js
  service-catalog-ui/src/shared/SearchDropdown.component.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Fix smol text on Firefox
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Fix event propagation on FF, remove redundant file
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ConfigurationTab.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingForm.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
Due: pre-console-core-ui, post-console-core-ui

generic-doc cleanup
  components/generic-documentation/src/index.tsx
  components/generic-documentation/src/layouts/ContentUI.tsx
  components/generic-documentation/src/layouts/index.ts
  components/generic-documentation/src/layouts/styled.ts
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Remove docs navigation nodes
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-master-console-core, post-master-console-core

Remove docs smoke tests
  tests/config.js
  tests/tests/console-smoke-tests.spec.js
Due: pre-master-console-tests, post-master-console-tests, pre-console-tests, post-console-tests

Remove content-ui from README
  README.md
Due: console-governance

Fix TS errors
  components/generic-documentation/src/index.tsx
  components/generic-documentation/src/loader/loader.ts
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-console-content: any of: ^content/|^components/|^package.json
  post-console-content: any of: ^content/|^components/|^package.json
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
  pre-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  post-console-tests: any of: ^tests/|^components/|^shared/|^package.json
