Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: pre-console-add-ons, post-console-add-ons, prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests, pre-console-tests, post-console-tests

pre-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

post-console-add-ons:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
  ...

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Test
  core/Makefile
Due: pre-master-console-core, post-master-console-core

toggle Save button state depending on yaml errors
  shared/contexts/YamlEditorContext.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

set grid columns to fixed width
  core-ui/src/components/NamespaceDetails/NamespaceDetails.scss
  shared/contexts/YamlEditorContext.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

add some responsiveness
  core-ui/src/components/NamespaceDetails/NamespaceDetails.scss
Due: pre-console-core-ui, post-console-core-ui

Bump angular to 8
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.ts
  components/angular/generic-list/src/app/modules/list/plain-list/plain-list.component.ts
  components/angular/generic-list/src/app/modules/list/plain-table/plain-table.component.ts
  core/angular.json
  core/package-lock.json
  core/package.json
  core/src/app/content/namespaces/configuration/resources/resources.component.ts
  core/src/app/content/namespaces/namespaces-container/namespaces-container.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/namespaces/operation/abstract-kubernetes-element-list.component.ts
  core/src/app/content/settings/applications/application-details/application-details.component.ts
  core/src/app/content/settings/applications/application-details/bindings-details-modal/bindings-details-modal.component.ts
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.ts
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.ts
  core/src/app/content/settings/applications/applications.component.ts
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.ts
  core/src/app/content/settings/applications/edit-application-modal/edit-application-modal.component.ts
  core/src/app/shared/components/confirmation-modal/confirmation-modal.component.ts
  core/src/app/shared/components/copy2clipboard-modal/copy2clipboard-modal.component.ts
  core/src/app/shared/components/information-modal/information-modal.component.ts
  core/src/app/shared/components/json-editor-modal/json-editor-modal.component.ts
  core/src/app/shared/components/labels-input/labels-input.component.ts
  core/src/app/shared/components/resource-uploader/resource-uploader-component/resource-uploader.component.ts
  core/src/app/shared/components/resource-uploader/resource-uploader-modal/resource-uploader-modal.component.ts
  core/src/app/shared/components/resource-uploader/uploader/uploader.component.ts
  core/src/polyfills.ts
  core/tsconfig.json
  core/tslint.json
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

add limitRanges test
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
  core-ui/src/components/NamespaceDetails/LimitRanges/test/LimitRanges.test.js
  core-ui/src/components/NamespaceDetails/ResourceQuotas/ResourceQuotas.js
Due: pre-console-core-ui, post-console-core-ui

add ResourceQuotas test
  core-ui/src/components/NamespaceDetails/ResourceQuotas/ResourceQuotas.js
  core-ui/src/components/NamespaceDetails/ResourceQuotas/test/ResourceQuotas.test.js
Due: pre-console-core-ui, post-console-core-ui

update dependencies
  core/package-lock.json
  core/package.json
  package-lock.json
Due: pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

Change webpack
  core/webpack-extra.config.js
Due: pre-master-console-core, post-master-console-core

Fix tests partially
  core/angular.json
  core/src/app/auth/token.interceptor.spec.ts
Due: pre-master-console-core, post-master-console-core

Disable test temporarly
  core/src/app/shared/components/labels-input/labels-input.component.spec.ts
Due: pre-master-console-core, post-master-console-core

improve closing drawer on error
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
  core-ui/src/components/NamespaceDetails/ResourceQuotas/ResourceQuotas.js
  shared/contexts/YamlEditorContext.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

widen the drawer
  shared/contexts/YamlEditorContext.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

add escape key listener
  shared/components/SideDrawer/SideDrawer.js
  shared/components/SideDrawer/SideDrawer.scss
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Make linter happy
  core/src/polyfills.ts
Due: pre-master-console-core, post-master-console-core

Edit host
  core/src/app/shared/components/edit-resource/edit-resource.component.ts
Due: pre-master-console-core, post-master-console-core

Update Dockerfile
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

review changes
  core-ui/src/components/NamespaceDetails/LimitRanges/LimitRanges.js
  core-ui/src/components/NamespaceDetails/ResourceQuotas/ResourceQuotas.js
  core-ui/src/gql/queries.js
  shared/contexts/YamlEditorContext.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

remove empty Resources.ts file
  core/src/app/content/namespaces/configuration/resources/resources.component.ts
Due: pre-master-console-core, post-master-console-core

Update json poiter
  core-ui/package-lock.json
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-whitesource-scan

Fix routing to ServiceClassPlansList
  service-catalog-ui/src/components/App/App.js
Due: pre-console-service-catalog-ui, post-console-service-catalog-ui

Use drawer for service details view
  core-ui/src/components/Services/ServiceDetails/ServiceDetails.js
  core-ui/src/components/Services/ServiceDetails/ServiceDetailsHeader/ServiceDetailsHeader.js
  core-ui/src/shared/components/ResourceSpecModal/ResourceSpecModal.js
  core-ui/src/shared/components/ResourceSpecModal/test/ResourceSpecModal.test.js
Due: pre-console-core-ui, post-console-core-ui

Add copy button to YAML drawer
  shared/contexts/YamlEditorContext.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-core-ui, post-console-core-ui, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-console-tests, post-console-tests

Use drawer for service list view
  core-ui/src/components/Services/ServiceDetails/ServiceDetailsHeader/ServiceDetailsHeader.js
  core-ui/src/components/Services/Services.js
  core-ui/src/components/Services/ServicesList/ServicesList.js
  core-ui/src/components/Services/ServicesList/test/ServicesList.test.js
  core-ui/src/gql/queries.js
  core-ui/src/testing/servicesMocks.js
Due: pre-console-core-ui, post-console-core-ui

Spec download
  core/src/luigi-config/settings.js
  package-lock.json
  package.json
  shared/contexts/YamlEditorContext.js
Due: pre-console-add-ons, post-console-add-ons, pre-console-content, post-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-console-service-catalog-ui, post-console-service-catalog-ui, pre-master-console-whitesource-scan, pre-console-tests, post-console-tests

Add drawer with secret edit on secrets list and detail
  core-ui/src/components/App/App.js
  core-ui/src/components/Secrets/Details/Json/SecretJson.js
  core-ui/src/components/Secrets/Details/Json/SecretJson.scss
  core-ui/src/components/Secrets/Details/Json/test/SecretJson.test.js
  core-ui/src/components/Secrets/Details/SecretDetails.js
  core-ui/src/components/Secrets/Details/SecretHeader.js
  core-ui/src/components/Secrets/Details/test/SecretDetails.test.js
  core-ui/src/components/Secrets/List/SecretList.js
  core-ui/src/components/Secrets/List/test/SecretList.test.js
  core-ui/src/components/Secrets/Secrets.js
  core-ui/src/gql/queries.js
Due: pre-console-core-ui, post-console-core-ui

Add await to tests
  core-ui/src/components/Secrets/Details/test/SecretDetails.test.js
  core-ui/src/components/Secrets/Details/test/mocks.js
Due: pre-console-core-ui, post-console-core-ui

Add await to tests
  core-ui/src/components/Secrets/Details/test/SecretDetails.test.js
Due: pre-console-core-ui, post-console-core-ui

Update core-ui/src/components/Secrets/Secrets.js
  core-ui/src/components/Secrets/Secrets.js
Due: pre-console-core-ui, post-console-core-ui

Update core-ui/src/components/Secrets/Details/SecretHeader.js
  core-ui/src/components/Secrets/Details/SecretHeader.js
Due: pre-console-core-ui, post-console-core-ui

Update core-ui/src/components/Secrets/List/SecretList.js
  core-ui/src/components/Secrets/List/SecretList.js
Due: pre-console-core-ui, post-console-core-ui

Rename function
  core-ui/src/components/Secrets/List/SecretList.js
Due: pre-console-core-ui, post-console-core-ui

It works!
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/Editor.js
Due: pre-console-core-ui, post-console-core-ui

clean up
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/Editor.js
Due: pre-console-core-ui, post-console-core-ui

apply fix to DiffEditor also
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/Editor.js
Due: pre-console-core-ui, post-console-core-ui

make it outdated-browser-proof
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/Editor.js
Due: pre-console-core-ui, post-console-core-ui

remnove exhaustive deps error
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/Editor.js
Due: pre-console-core-ui, post-console-core-ui

add { and } for if and else
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/Editor.js
Due: pre-console-core-ui, post-console-core-ui

Path conditions:
  pre-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  post-console-add-ons: any of: ^add-ons/|^components/|^shared/|^package.json
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-console-content: any of: ^content/|^components/|^package.json
  post-console-content: any of: ^content/|^components/|^package.json
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  post-console-service-catalog-ui: any of: ^service-catalog-ui/|^components/|^shared/|^package.json
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
  pre-console-tests: any of: ^tests/|^components/|^shared/|^package.json
  post-console-tests: any of: ^tests/|^components/|^shared/|^package.json
