Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

pre-busola-ui-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-ui-test
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-busola-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-busola-governance
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
  ...

Rollback
  core-ui/Makefile
  core/Makefile
  service-catalog-ui/Makefile
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Adjust tests
  tests/tests/login-enkode.spec.js
Due: pre-busola-ui-test

Add a column, use uppercase
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitions.details.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.list.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

add test of the ClusterConfiguration component
  core-ui/src/components/Clusters/components/ClusterConfiguration.js
  core-ui/src/components/Clusters/components/test/ClusterConfiguration.test.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Small renaming
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.scss
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitions.details.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

fire hasKubeconfigAuth only if context is already chosen
  core-ui/src/components/Clusters/components/ClusterConfiguration.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

add tests for parseOIDCparams
  core-ui/src/components/Clusters/components/test/ClusterConfiguration.test.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

bump image
  resources/web/deployment.yaml
Due: pre-busola-ui-test

remove commented out logs usage
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

disable exhaustive deps check for useeffects
  core-ui/src/components/Clusters/components/ClusterConfiguration.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Optimize requests on Function details view (#235)
  core-ui/src/components/ApiRules/ApiRulesList/ApiRulesListWrapper.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeTab.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/PodList/PodList.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ApiRules/ApiRules.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventSubscriptions/EventSubscriptionsWrapper.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingModal.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindingsWrapper.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Replicas.js
  resources/web/deployment.yaml
  shared/components/ModalWithForm/ModalWithForm.js
  shared/components/ResourcesList/ResourcesList.js
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Add additional columns to resources list
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

adjust the in-cluster-eventing test to use built-in Function logs
  tests/tests/in-cluster-eventing.spec.js
Due: pre-busola-ui-test

Use Function built in logs button
  tests/tests/in-cluster-eventing.spec.js
Due: pre-busola-ui-test

Bump resources
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-ui-test

revert isCompact feature from ResourceList
  shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

force the ingress to use https
  resources/web/ingress--single.yaml
  resources/web/ingress.yaml
Due: pre-busola-ui-test

use fruits instead of hair colors
  core-ui/src/components/Clusters/components/test/ClusterConfiguration.test.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Add Additional Printer Columns to the list
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Adjust categories
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

fix being unable to edit input vallues
  core-ui/src/components/Clusters/components/AuthForm.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Rename Dockerfile-all to get that sweet code completion
  Dockerfile.local
Due: none

bump images
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Use Function built in logs button in tests (#244)
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
  shared/components/ResourcesList/ResourcesList.js
  tests/tests/in-cluster-eventing.spec.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Add a description
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.scss
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Add a support for boolean
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Remove unused var, use Spinner instead of loading text
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
  shared/components/ResourceDetails/ResourceDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Fix UI tests
  tests/tests/create-configuration-resources.spec.js
  tests/tests/smoke-tests.spec.js
Due: pre-busola-ui-test

force the ingress to use https (#245)
  resources/web/ingress--single.yaml
  resources/web/ingress.yaml
Due: pre-busola-ui-test

Fix backend on cluster
  Dockerfile.local
  backend/index.js
Due: pre-busola-ui-test

Auto-fill OIDC data when available in the kubeconfig (#240)
  core-ui/src/components/Clusters/components/AuthForm.js
  core-ui/src/components/Clusters/components/ClusterConfiguration.js
  core-ui/src/components/Clusters/components/test/ClusterConfiguration.test.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Add served and storage badges
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Show additionalPrinterColumns even if empty
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Fix pod status meanwhile
  core-ui/src/components/Predefined/Details/Pod/PodStatus.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Upgrade Cypress to 7.6.0 version
  tests/package-lock.json
  tests/package.json
Due: pre-busola-ui-test

Fix jsonpath
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Single deployment (#236)
  Dockerfile.local
  Makefile
  backend/common.js
  backend/index.js
  core/Makefile
  core/package.json
  core/src/luigi-config/config.js
  core/webpack.config.js
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Remove rolebinding
  resources/kubernetes-dashboard-admin.yaml
  resources/kustomization.yaml
Due: pre-busola-ui-test

Remove kustomization.yaml
  resources/kustomization.yaml
Due: pre-busola-ui-test

Revert "Remove kustomization.yaml"
  resources/kustomization.yaml
Due: pre-busola-ui-test

Path conditions:
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
