Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

pre-busola-ui-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-ui-test
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-busola-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-busola-governance
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
  ...

Prettier time
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Improve handling bad OIDC config
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/shared/useShowNodeParamsError.js
  core/src/luigi-config/auth/auth.js
  core/src/luigi-config/communication.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Bumps
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Check if user had permissions to get customresourcesdefinitions (#193)
  core-ui/src/components/Predefined/Details/Namespace/DeployNewWorkload.js
  core-ui/src/components/Predefined/List/Function/Functions.list.js
  core/src/luigi-config/init-params.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/deployment.yaml
  shared/constants/constants.js
  tests/support/enkode.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Namespace preselection (#185)
  core/src/luigi-config/cluster-management.js
  core/src/luigi-config/init-params.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/permissions.js
  core/src/luigi-config/navigation/previous-location.js
  core/src/luigi-config/navigation/queries.js
  core/src/luigi-config/navigation/static-navigation-model.js
  core/src/luigi-config/navigation/test/permissions.test.js
  resources/web/deployment.yaml
  tests/support/enkode.js
  tests/tests/login-enkode.spec.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Improve README
  tests/README.md
Due: pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

Add UI tests, remove unnecessarly duplicated code
  backend/npx.js
  tests/cypress.json
  tests/support/enkode.js
  tests/tests/login-enkode.spec.js
Due: pre-busola-ui-test

don't make screenshot at start (#199)
  tests/tests/run-before.spec.js
Due: pre-busola-ui-test

Update core-ui/src/components/Predefined/Details/Application/CreateBindingModal/CreateBindingModal.js
  core-ui/src/components/Predefined/Details/Application/CreateBindingModal/CreateBindingModal.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Fix linter
  core-ui/src/components/Predefined/Details/Application/CreateBindingModal/CreateBindingModal.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Fix empty hidden namespaces issue, Use defaults only if hiddenNamespaces are empty (#196)
  backend/npx.js
  core-ui/src/components/Clusters/shared.js
  core-ui/src/components/Predefined/Details/Application/CreateBindingModal/CreateBindingModal.js
  core-ui/src/components/Predefined/List/Namespaces.list.js
  core/src/luigi-config/init-params.js
  core/src/luigi-config/navigation/navigation-data-init.js
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
  shared/constants/constants.js
  tests/support/enkode.js
  tests/tests/login-enkode.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

improve useGetHook
  core-ui/src/components/Nodes/nodeQueries.js
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Adjust to rules of hooks
  core-ui/src/shared/useShowNodeParamsError.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Get proper replica set
  core-ui/src/components/Predefined/Details/DeploymentPods.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Fix getting namespace from config in tests
  tests/tests/login-enkode.spec.js
Due: pre-busola-ui-test

Apply suggestions from code review
  tests/README.md
Due: pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

Add padding to service ports
  core-ui/src/components/Predefined/Details/Service/Service.details.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Bump resources
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Update README for Cypress tests and fix md linter (#195)
  .github/ISSUE_TEMPLATE/documentation-improvement.md
  .github/ISSUE_TEMPLATE/security-vulnerability.md
  .github/pull-request-template.md
  CONTRIBUTING.md
  NOTICE.md
  package-lock.json
  package.json
  tests/README.md
Due: pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

Bump image
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Get proper replica set to filter pods (#203)
  core-ui/src/components/Predefined/Details/DeploymentPods.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Add padding for buttons, remove old classes
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/RepositoryConfig/RepositoryConfig.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Predefined/Details/Pod/ContainersData.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Make sure bottom padding is visible
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Split the tasks
  tests/tests/login-enkode.spec.js
Due: pre-busola-ui-test

Fix getting namespace from config in tests (#204)
  tests/tests/login-enkode.spec.js
Due: pre-busola-ui-test

replace setImmediate with setTimeout
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-ui-test

Fix margins for panels on config map details
  core-ui/src/components/Predefined/Details/ConfigMap/ConfigMap.details.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Fix textarea in data tab on create config map modal
  shared/components/KeyValueForm/KeyValueForm.js
  shared/components/KeyValueForm/KeyValueForm.scss
Due: pre-busola-ui-test

Fix tabs on create config map modal
  core-ui/src/shared/components/ConfigMap/ConfigMapForm.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Bump images
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Don't overwrite global classes
  core-ui/src/components/Predefined/Details/Service/Service.details.js
  core-ui/src/components/Predefined/Details/Service/Service.details.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Add padding to service ports (#205)
  core-ui/src/components/Predefined/Details/Service/Service.details.js
  core-ui/src/components/Predefined/Details/Service/Service.details.scss
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Show prettier error
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterNodes/ClusterNodes.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Add spinner
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterNodes/ClusterNodes.js
  shared/components/Spinner/Spinner.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

remove isHookMounted
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-ui-test

Bump resources
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Add default width to variables modal
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesModal.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Use react-shared ModalWithForm
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesModal.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingModal.js
  core-ui/src/components/Lambdas/LambdasList/Repositories/RepositoryModal.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Path conditions:
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^scripts/
  post-busola-core: any of: ^core/|^scripts/
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
