Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance

pre-busola-core-ui:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-busola-core-ui:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-busola-core:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-busola-core:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

Fix serviceInstance creation (#78)
  resources/web/deployment-service-catalog.yaml
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
Due: none

Fix checkboxes on Safari
  core-ui/src/index.scss
Due: pre-busola-core-ui, post-busola-core-ui

Fix undefined status bug
  service-catalog-ui/src/shared/ServiceInstanceStatus.js
Due: none

Don't display envs if secret not present
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.js
Due: pre-busola-core-ui, post-busola-core-ui

Filter instances that are not bindable
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingModal.js
Due: pre-busola-core-ui, post-busola-core-ui

Use usageKind.medata.name instead of usageKind.medata.name.spec.resource.kind
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingModal/CreateServiceBindingForm.js
Due: none

Bump images
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: none

Skip queries if data is not yet present
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
Due: none

updated to newest docker base image
  core-ui/Dockerfile
  core/Dockerfile
  logging/Dockerfile
  service-catalog-ui/Dockerfile
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

updated to newest docker base image (#81)
  core-ui/Dockerfile
  core/Dockerfile
  logging/Dockerfile
  service-catalog-ui/Dockerfile
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Fix error when instanse doesn't have servicePlanRef
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingModal.js
Due: pre-busola-core-ui, post-busola-core-ui

Fix displaying bindings if secret not present (#80)
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingModal.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.js
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingModal/CreateServiceBindingForm.js
Due: pre-busola-core-ui, post-busola-core-ui

Change idToken to authData
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Bump image
  resources/web/deployment-service-catalog.yaml
Due: none

add missing prefix to the eventType property
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventSubscriptions/EventSubscriptionsWrapper.js
Due: pre-busola-core-ui, post-busola-core-ui

Fix minor Catalog bugs (#79)
  resources/web/deployment-service-catalog.yaml
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/src/shared/ServiceInstanceStatus.js
Due: none

bump image
  resources/web/deployment.yaml
Due: none

those are the actual changes
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventSubscriptions/EventSubscriptionsWrapper.js
  core-ui/src/shared/components/EventSubscriptions/EventSubscriptions.js
Due: pre-busola-core-ui, post-busola-core-ui

Simple logs
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.scss
Due: pre-busola-core-ui, post-busola-core-ui

Improve logs view a little bit
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
Due: pre-busola-core-ui, post-busola-core-ui

inject the suffix in the form
  core-ui/src/shared/components/EventSubscriptions/CreateEventSubscriptionForm.js
  core-ui/src/shared/components/EventSubscriptions/EventSubscriptions.js
Due: pre-busola-core-ui, post-busola-core-ui

Add serviceClass labels to instance, check correct labels to determine tab
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
  service-catalog-ui/src/helpers/index.js
Due: none

useNotification > showAlert
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
Due: pre-busola-core-ui, post-busola-core-ui

Bump image
  resources/web/deployment.yaml
Due: none

Fix secrets details
  core-ui/src/shared/components/Secret/SecretData.js
Due: pre-busola-core-ui, post-busola-core-ui

Fix tests
  core-ui/src/shared/components/Secret/test/SecretData.test.js
Due: pre-busola-core-ui, post-busola-core-ui

Fix Function's Subscription creation (#82)
  core-ui/src/shared/components/EventSubscriptions/CreateEventSubscriptionForm.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui

circleProgress: add nice background shade
  shared/components/CircleProgress/CircleProgress.js
  shared/components/CircleProgress/CircleProgress.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

display limits and requests usage
  core-ui/src/components/Predefined/Details/Namespace/Namespace.details.js
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/Predefined/Details/Namespace/ResourcesUsage.js
Due: pre-busola-core-ui, post-busola-core-ui

Show error on api rule create/edit error (#76)
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/index.scss
  core-ui/src/shared/components/Secret/SecretData.js
  core-ui/src/shared/components/Secret/test/SecretData.test.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui

Fix
  core/src/luigi-config/navigation/queries.js
Due: pre-busola-core, post-busola-core

Remove console.log
  service-catalog-ui/src/helpers/index.js
Due: none

Show instances in correct tab (#83)
  resources/web/deployment-service-catalog.yaml
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
  service-catalog-ui/src/helpers/index.js
Due: none

Update csses
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.scss
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

fix circleProgress inner area space
  shared/components/CircleProgress/CircleProgress.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Small hook cleanuo
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Check both plan and class for spec.bindable
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingModal.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
Due: pre-busola-core-ui, post-busola-core-ui

add initial animation
  shared/components/CircleProgress/CircleProgress.js
  shared/components/CircleProgress/CircleProgress.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Path conditions:
  pre-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
