Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

pre-busola-core-ui:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-busola-core-ui:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-busola-core:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-busola-core:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

pre-busola-ui-test:
  labels:
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  decorate: true
  spec:
    containers:
    - image: null

pre-main-busola-governance:
  labels:
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

Type function content
  tests/fixtures/handler.js
  tests/tests/busola-create-a-function.spec.js
Due: pre-busola-ui-test

Add function delete notification
  shared/components/GenericList/actionHandlers/simpleDelete.js
  shared/components/ResourceDetails/ResourceDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Show messages on apirules create/update
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core/src/luigi-config/communication.js
  shared/contexts/MicrofrontendContext.js
  shared/hooks/BackendAPI/useFetch.js
  shared/hooks/BackendAPI/usePost.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Bulletproof navigation
  core/src/luigi-config/cluster-management.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Resolve modules comment, remove unused file
  core-ui/src/components/Clusters/shared.js
  core/src/luigi-config/constants.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Update core/src/luigi-config/settings.js
  core/src/luigi-config/settings.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Resolve feature toggles comment
  core/src/luigi-config/utils/system-namespaces-toggle.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Lint-fix
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

oh no
  core-ui/src/components/Clusters/components/KubeconfigUpload.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Resolve aria-hidden comment
  shared/components/FileInput/FileInput.js
  shared/components/FileInput/FileInput.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Multicluster (#134)
  core-ui/src/components/App/App.js
  core-ui/src/components/Clusters/components/AuthForm/AuthForm.js
  core-ui/src/components/Clusters/components/AuthForm/AuthForm.scss
  core-ui/src/components/Clusters/components/KubeconfigTextArea/KubeconfigTextArea.js
  core-ui/src/components/Clusters/components/KubeconfigTextArea/KubeconfigTextArea.scss
  core-ui/src/components/Clusters/components/KubeconfigUpload.js
  core-ui/src/components/Clusters/shared.js
  core-ui/src/components/Clusters/views/AddCluster/AddCluster.js
  core-ui/src/components/Clusters/views/AddCluster/AddCluster.scss
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/shared/constants.js
  core/src/assets/login.js
  core/src/index.html
  core/src/login.html
  core/src/logout.html
  core/src/luigi-config/auth.js
  core/src/luigi-config/auth/auth-storage.js
  core/src/luigi-config/auth/auth.js
  core/src/luigi-config/cluster-management.js
  core/src/luigi-config/communication.js
  core/src/luigi-config/constants.js
  core/src/luigi-config/init-params.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/navigation-helpers.js
  core/src/luigi-config/navigation/previous-location.js
  core/src/luigi-config/navigation/queries.js
  core/src/luigi-config/navigation/static-navigation-model.js
  core/src/luigi-config/settings.js
  core/src/luigi-config/utils/system-namespaces-toggle.js
  core/webpack.config.js
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
  shared/components/FileInput/FileInput.js
  shared/components/FileInput/FileInput.scss
  shared/hooks/navigate.js
  tests/tests/busola-login-failed.spec.js
  tests/tests/busola-smoke-tests.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Check if deployment/service exist
  tests/cypress.json
  tests/tests/busola-create-a-deployment.spec.js
Due: pre-busola-ui-test

Fix missing notifications
  core-ui/src/components/ApiRules/hooks/useDeleteApiRule.js
  core-ui/src/components/Predefined/Details/Application/NamespaceBindings.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceList.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceTable.js
  shared/components/GenericList/actionHandlers/simpleDelete.js
  shared/hooks/BackendAPI/useMutation.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

It's quite good, but can we do better?
  core-ui/src/components/ApiRules/ApiRulesList/ApiRulesList.js
  core-ui/src/components/Predefined/Details/ApiRules.details.js
  core-ui/src/components/Predefined/Details/Service/Service.details.js
  core-ui/src/components/Predefined/List/ApiRules.list.js
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Small fiori fix
  core-ui/src/components/Predefined/Details/AddonsConfiguration.details.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Restore ApiRulesList.js
  core-ui/src/components/ApiRules/ApiRulesList/ApiRulesList.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Restore ApiRules.details.js
  core-ui/src/components/Predefined/Details/ApiRules.details.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Restore ApiRules.list.js
  core-ui/src/components/Predefined/List/ApiRules.list.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

YES WE CAN also bump images
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/ApiRuleForm.test.js
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  core-ui/src/components/ApiRules/EditApiRule/test/EditApiRule.test.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetailsWrapper.test.js
  core-ui/src/components/Lambdas/LambdasList/Lambdas/CreateLambdaForm.js
  core-ui/src/components/Lambdas/LambdasList/Repositories/RepositoryForm.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
  shared/components/ResourcesList/ResourcesList.js
  shared/hooks/navigate.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Make it EVEN BETTER
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/Lambdas/LambdasList/Lambdas/CreateLambdaForm.js
  core-ui/src/components/Lambdas/LambdasList/Repositories/RepositoryForm.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Unify messages
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.js
  core-ui/src/components/Lambdas/hooks/useCreateLambda.js
  core-ui/src/components/Lambdas/hooks/useCreateRepository.js
  core-ui/src/components/Lambdas/hooks/useUpdateLambda.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  core-ui/src/components/Predefined/Create/Secrets/DecodeSecretSwitch.js
  core-ui/src/components/Predefined/Details/Application/CreateBindingModal/CreateBindingModal.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/CreateWorkloadForm.js
  core-ui/src/shared/components/EventSubscriptions/EventSubscriptions.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/constants.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  shared/components/GenericList/actionHandlers/simpleDelete.js
  shared/components/ModalWithForm/ModalWithForm.js
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  shared/hooks/useCreateServiceBindingUsage.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Small cleanup
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Bump resources
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Type the function
  tests/tests/busola-create-a-function.spec.js
Due: pre-busola-ui-test

Adjust Cypress config
  tests/cypress.json
  tests/tests/busola-create-a-function.spec.js
Due: pre-busola-ui-test

Fix main merge
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Fox main merge
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/queries.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Use dark background
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Rework navigation structure
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleFormHeader/ApiRuleFormHeader.js
  core-ui/src/components/ApiRules/ApiRulesList/ApiRulesList.js
  core-ui/src/components/ApiRules/ApiRulesList/components.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.js
  core-ui/src/components/Lambdas/hooks/useCreateLambda.js
  core-ui/src/components/Predefined/Details/ApiRules.details.js
  core-ui/src/components/Predefined/Details/Application/ApplicationServices.js
  core-ui/src/components/Predefined/Details/Application/NamespaceBindings.js
  core-ui/src/components/Predefined/Details/ConfigMap/ConfigMap.details.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/CreateWorkloadForm.js
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/Predefined/Details/OAuth2Clients/OAuthClientSpecPanel.js
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
  core-ui/src/components/Predefined/Details/Pod/Pod.details.js
  core-ui/src/components/Predefined/Details/RoleBindings/RoleBindings.js
  core-ui/src/components/Predefined/Details/Roles/Rules.js
  core-ui/src/components/Predefined/List/ApiRules.list.js
  core-ui/src/components/Predefined/List/Function/Functions.list.js
  core-ui/src/components/Predefined/List/GitRepository/GitRepositories.list.js
  core/src/luigi-config/navigation/static-navigation-model.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInstancesTable/ServiceClassInstancesTable.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceRowRenderer.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceTable.js
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/StringInput/StringInput.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Lint fix
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Cleanup whitespace changes
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
  shared/components/ResourceDetails/ResourceDetails.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Fix ns details lowercase breadcrumb
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Show timestamps toggle
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Goddamit console log, bump resources
  core-ui/src/components/ApiRules/ApiRulesList/components.js
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Crete the function
  core/src/luigi-config/luigi-config.js
  tests/support/commands.js
  tests/tests/busola-create-a-function.spec.js
  tests/tests/busola-smoke-tests.spec.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Rework navigation contexts (#139)
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleFormHeader/ApiRuleFormHeader.js
  core-ui/src/components/ApiRules/ApiRulesList/ApiRulesList.js
  core-ui/src/components/ApiRules/ApiRulesList/components.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.js
  core-ui/src/components/Lambdas/hooks/useCreateLambda.js
  core-ui/src/components/Predefined/Details/ApiRules.details.js
  core-ui/src/components/Predefined/Details/Application/ApplicationServices.js
  core-ui/src/components/Predefined/Details/Application/NamespaceBindings.js
  core-ui/src/components/Predefined/Details/ConfigMap/ConfigMap.details.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/CreateWorkloadForm.js
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/Predefined/Details/OAuth2Clients/OAuthClientSpecPanel.js
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
  core-ui/src/components/Predefined/Details/Pod/Pod.details.js
  core-ui/src/components/Predefined/Details/RoleBindings/RoleBindings.js
  core-ui/src/components/Predefined/Details/Roles/Rules.js
  core-ui/src/components/Predefined/List/ApiRules.list.js
  core-ui/src/components/Predefined/List/Function/Functions.list.js
  core-ui/src/components/Predefined/List/GitRepository/GitRepositories.list.js
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInstancesTable/ServiceClassInstancesTable.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceRowRenderer.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceTable.js
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/StringInput/StringInput.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Change function dependencies plus a little refactor
  tests/fixtures/orders-function-dependencies.json
  tests/fixtures/orders-function.js
  tests/support/commands.js
  tests/tests/busola-create-a-function.spec.js
Due: pre-busola-ui-test

Add Save to a file option
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Upgrade Cypress to 7.3.0 version
  tests/package-lock.json
  tests/package.json
Due: pre-busola-ui-test

Review changes
  tests/cypress.json
  tests/tests/busola-create-a-deployment.spec.js
Due: pre-busola-ui-test

Path conditions:
  pre-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
