Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

Path conditions:
  pre-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$

Bump images to newest versions
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Fix navigation to pods details
  shared/hooks/navigate.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Bump resources
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Test
  tests/tests/download-a-kubeconfig.spec.js
Due: pre-busola-ui-test

fix and simplify useGetStream hook
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

simplify containerLogs
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Fix hidden namespaces
  core-ui/src/components/Predefined/Details/Application/CreateBindingModal/CreateBindingModal.js
  core-ui/src/components/Predefined/List/Namespaces.list.js
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Check if user had permissions to get customresourcesdefinitions
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Bump images to newest versions (#190)
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-ui-test

improve useGetStream even more
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

update cypress
  tests/package-lock.json
  tests/package.json
Due: pre-busola-ui-test

improve in-cluster-eventing suite
  tests/tests/in-cluster-eventing.spec.js
Due: pre-busola-ui-test

skip faulty test
  tests/tests/login-enkode.spec.js
Due: pre-busola-ui-test

enable all tests
  tests/cypress.json
Due: pre-busola-ui-test

Fix enkode tests
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  tests/fixtures/kubeconfig.yaml
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

enable test
  tests/tests/login-enkode.spec.js
Due: pre-busola-ui-test

bump images
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Restore kubeconfig.yaml
  tests/fixtures/kubeconfig.yaml
Due: pre-busola-ui-test

Update README for Cypress tests and fix md linter
  .github/ISSUE_TEMPLATE/documentation-improvement.md
  .github/ISSUE_TEMPLATE/security-vulnerability.md
  .github/pull-request-template.md
  CONTRIBUTING.md
  NOTICE.md
  package-lock.json
  package.json
  tests/README.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

Update a year
  NOTICE.md
Due: pre-master-busola-governance, pre-main-busola-governance

Remove gitrepositories module, make CRDs call if available
  core-ui/src/components/Predefined/Details/Namespace/DeployNewWorkload.js
  core-ui/src/components/Predefined/List/Function/Functions.list.js
  core/src/luigi-config/init-params.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
  shared/constants/constants.js
  tests/support/enkode.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Bump images
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Fix typo
  tests/README.md
Due: pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

improve dynamic namespace name mechanism
  tests/config.js
  tests/plugins/index.js
  tests/support/commands.js
  tests/tests/run-before.spec.js
Due: pre-busola-ui-test

make run-after.spec get the namespace in a new way
  tests/tests/run-after.spec.js
Due: pre-busola-ui-test

Use default only when empty
  core-ui/src/components/Clusters/shared.js
  core/src/luigi-config/init-params.js
  shared/constants/constants.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Bump resources
  core/src/luigi-config/init-params.js
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Create screenshots folder for every Cypress run
  tests/tests/run-before.spec.js
Due: pre-busola-ui-test

Adjust permissions query
  core/src/luigi-config/cluster-management.js
  core/src/luigi-config/init-params.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/queries.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Add UI test
  tests/support/enkode.js
  tests/tests/login-enkode.spec.js
Due: pre-busola-ui-test

Add a UI test
  tests/cypress.json
  tests/tests/create-a-deployment.spec.js
Due: pre-busola-ui-test

Create screenshots folder for every Cypress run (#197)
  tests/tests/run-before.spec.js
Due: pre-busola-ui-test

Mini rename
  core/src/luigi-config/cluster-management.js
  tests/support/enkode.js
  tests/tests/login-enkode.spec.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Fix navigation to pods details (#191)
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
  shared/hooks/navigate.js
  tests/cypress.json
  tests/tests/create-a-deployment.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

unskip the enkode test
  tests/tests/login-enkode.spec.js
Due: pre-busola-ui-test

don't make screenshot at start
  tests/tests/run-before.spec.js
Due: pre-busola-ui-test

Update core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Check logs for the test Function (#184)
  core-ui/src/components/Predefined/Details/Pod/ContainersData.js
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
  shared/hooks/BackendAPI/useGet.js
  tests/config.js
  tests/cypress.json
  tests/package-lock.json
  tests/package.json
  tests/plugins/index.js
  tests/support/commands.js
  tests/tests/create-a-function.spec.js
  tests/tests/in-cluster-eventing.spec.js
  tests/tests/run-after.spec.js
  tests/tests/run-before.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test
