Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance

pre-busola-core-ui:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-busola-core-ui:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-busola-core:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-busola-core:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

code cleanup
  core-ui/src/components/Predefined/Details/Namespace/ResourcesUsage.js
  shared/components/CircleProgress/CircleProgress.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

align the charts in one row
  core-ui/src/components/Predefined/Details/Namespace/Namespace.details.js
  core-ui/src/components/Predefined/Details/Namespace/Namespace.details.scss
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/Predefined/Details/Namespace/ResourcesUsage.js
Due: pre-busola-core-ui, post-busola-core-ui

clean up code
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/Predefined/Details/Namespace/ResourcesUsage.js
  shared/components/CircleProgress/CircleProgress.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Add warning before reload
  core/src/luigi-config/communication.js
  shared/hooks/BackendAPI/checkForTokenExpiration.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Change to confirmation modal
  core/src/luigi-config/communication.js
Due: pre-busola-core, post-busola-core

Add textarea
  core/src/login.html
Due: pre-busola-core, post-busola-core

Don't refresh page on token expiration
  core/src/luigi-config/communication.js
  shared/hooks/BackendAPI/checkForTokenExpiration.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Styles for dragndrop
  core/src/assets/login.js
  core/src/login.html
Due: pre-busola-core, post-busola-core

Finish file upload
  core/src/login.html
Due: pre-busola-core, post-busola-core

Check both plan and class for spec.bindable (#84)
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingModal.js
  resources/web/deployment-service-catalog.yaml
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
Due: pre-busola-core-ui, post-busola-core-ui

Add handling for textarea
  core/src/assets/login.js
  core/src/login.html
Due: pre-busola-core, post-busola-core

Lint fix
  core/src/assets/login.js
  core/src/login.html
Due: pre-busola-core, post-busola-core

Adjust messages
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core, post-busola-core

Handle token expire (#74)
  core/src/luigi-config/communication.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/queries.js
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
  shared/hooks/BackendAPI/checkForTokenExpiration.js
  shared/hooks/BackendAPI/useFetch.js
  shared/hooks/BackendAPI/useGet.js
  shared/hooks/BackendAPI/useMutation.js
  shared/hooks/BackendAPI/usePost.js
  shared/package-lock.json
  shared/package.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Navigate back if config is invalid
  core/src/luigi-config/auth.js
Due: pre-busola-core, post-busola-core

clean up the cursor-pointer thing
  shared/components/CircleProgress/CircleProgress.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Adjust charts to smaller viewports
  core-ui/src/components/Predefined/Details/Namespace/Namespace.details.scss
  shared/components/CircleProgress/CircleProgress.js
  shared/components/CircleProgress/CircleProgress.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Namespace resource consumption charts (#85)
  core-ui/src/components/Predefined/Details/Namespace/Namespace.details.js
  core-ui/src/components/Predefined/Details/Namespace/Namespace.details.scss
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/Predefined/Details/Namespace/ResourcesUsage.js
  shared/components/CircleProgress/CircleProgress.js
  shared/components/CircleProgress/CircleProgress.scss
  shared/hooks/BackendAPI/config.js
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

fix additional render on breadcrubmb click
  shared/components/PageHeader/PageHeader.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

fix MicrofrontendContext re-updating with the same value
  shared/contexts/MicrofrontendContext.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

useGet: move isHookMounted handling to a separate hook
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

improve getComponentForList
  core-ui/src/components/App/App.js
  core-ui/src/shared/getComponents.js
  shared/utils/getComponentForResource.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

make getComponentFor a react component
  core-ui/src/components/App/App.js
  core-ui/src/components/Predefined/Details/DeploymentPods.js
  core-ui/src/components/Predefined/Details/Namespace/Namespace.details.js
  core-ui/src/components/Predefined/Details/Replicaset.details.js
  core-ui/src/shared/getComponents.js
  shared/utils/getComponentForResource.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Add back button, small visual improvements
  core/src/assets/login.js
  core/src/login.html
Due: pre-busola-core, post-busola-core

Update image
  resources/web/deployment.yaml
Due: none

Update deployment.yaml
  resources/web/deployment.yaml
Due: none

Update Luigi
  package-lock.json
  package.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

bump images
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: none

bump images (#88)
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: none

Review changes
  core/src/assets/login.js
Due: pre-busola-core, post-busola-core

Make login prettier (#86)
  core/src/assets/login.js
  core/src/login.html
  core/src/luigi-config/auth.js
  resources/web/deployment.yaml
Due: pre-busola-core, post-busola-core

Propagate error message
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/queries.js
  core/src/nopermissions.html
Due: pre-busola-core, post-busola-core

Resiliency for 500 responses
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core, post-busola-core

rework predefined renderers mechanizm to not use higher order functions
  core-ui/src/components/Predefined/List/Deployments.list.js
  core-ui/src/components/Predefined/List/Pod/Pods.list.js
  shared/utils/getComponentForResource.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

don't store queryParams as state in RoutedResource[...] components
  core-ui/src/components/App/App.js
Due: pre-busola-core-ui, post-busola-core-ui

make useGet not reacting on authData changes
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Revert "rework predefined renderers mechanizm to not use higher order functions"
  core-ui/src/components/Predefined/List/Deployments.list.js
  core-ui/src/components/Predefined/List/Pod/Pods.list.js
  shared/utils/getComponentForResource.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Add email to default scopes
  core/src/assets/login.js
Due: pre-busola-core, post-busola-core

Fix FF bugs
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
  core-ui/src/components/Lambdas/LambdasList/Lambdas/CreateLambdaForm.js
  core-ui/src/components/Predefined/Create/AddonsConfigurations/AddonsConfigurations.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/CreateWorkloadForm.js
  core-ui/src/components/Predefined/List/Application/CreateApplicationModal.js
  shared/components/ModalWithForm/ModalWithForm.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

formatting
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-busola-core, post-busola-core

Path conditions:
  pre-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
