Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance

pre-busola-core-ui:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-busola-core-ui:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-busola-core:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-busola-core:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

Update README.md
  README.md
Due: pre-master-busola-governance

Update backend/README.md
  backend/README.md
Due: pre-master-busola-governance

Update core-ui/README.md
  core-ui/README.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-master-busola-governance

Update core/README.md
  core/README.md
Due: pre-busola-core, post-busola-core, pre-master-busola-governance

Update service-catalog-ui/README.md
  service-catalog-ui/README.md
Due: pre-master-busola-governance

remove "that's it"
  CONTRIBUTING.md
  README.md
  components/generic-documentation/README.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance

Fix pagination (#62)
  resources/web/deployment.yaml
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/Pagination/Pagination.js
  shared/components/GenericList/Pagination/Pagination.scss
  shared/components/GenericList/Pagination/test/Pagination.test.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

introducing HPA (#59)
  core/nginx/nginx.conf
  resources/backend/deployment.yaml
  resources/backend/hpa.yaml
  resources/backend/kustomization.yaml
  resources/web/deployment.yaml
  resources/web/hpa.yaml
  resources/web/kustomization.yaml
Due: pre-busola-core, post-busola-core

display header
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
Due: none

service class link
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
Due: none

display service plan
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/InstanceParametersModal.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
Due: none

header done
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/InstanceParametersModal.js
Due: none

download serviceClass
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
Due: none

display documentationUrl and supportUrl
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
Due: none

Add healthy resources graphs to namespace overview
  core-ui/src/components/Predefined/Details/Namespace/Namespace.details.js
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloadsHelpers.js
  core-ui/src/shared/components/CircleProgress/test/CircleProgress.test.js
  shared/components/CircleProgress/CircleProgress.js
  shared/components/CircleProgress/CircleProgress.scss
  shared/index.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

display labels; redirec with proper tab
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
Due: none

handle empty schema parameters
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/InstanceParametersModal.js
Due: none

Lint fixed
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
Due: pre-busola-core-ui, post-busola-core-ui

Add connected apps list
  core-ui/src/components/Predefined/Details/Namespace/Namespace.details.js
  shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Update resources
  resources/web/deployment.yaml
Due: none

add comments for labels
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
Due: none

move npx section to usage
  README.md
Due: pre-master-busola-governance

rename npx build header
  README.md
Due: pre-master-busola-governance

remove "the busola" leftovers
  README.md
  backend/README.md
  core-ui/README.md
  core/README.md
  service-catalog-ui/README.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance

Path conditions:
  pre-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
