Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

pre-busola-core-ui:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-busola-core-ui:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-busola-core:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-busola-core:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

pre-busola-ui-test:
  labels:
    preset-build-pr: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  decorate: true
  spec:
    containers:
    - image: null

pre-main-busola-governance:
  labels:
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

Fix data state
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Fix api rules modal (#137)
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/ApiRuleForm.test.js
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  core-ui/src/components/ApiRules/EditApiRule/test/EditApiRule.test.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetailsWrapper.test.js
  core-ui/src/components/Lambdas/LambdasList/Lambdas/CreateLambdaForm.js
  core-ui/src/components/Lambdas/LambdasList/Repositories/RepositoryForm.js
  core-ui/src/components/Predefined/Details/Service/Service.details.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
  shared/components/ResourcesList/ResourcesList.js
  shared/hooks/navigate.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Add a new line to the end of each log
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Update login flow
  tests/tests/busola-create-a-deployment.spec.js
Due: pre-busola-ui-test

Fix bad merge
  core/src/luigi-config/init-params.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

bump
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Fix problem with loading of namespaces lsit
  tests/tests/busola-create-a-function.spec.js
Due: pre-busola-ui-test

Temporary fix for loading namespaces
  tests/tests/busola-create-a-deployment.spec.js
Due: pre-busola-ui-test

Remove current cluster on autth error
  core/src/luigi-config/auth/auth.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Fix nav context
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Fix modules for init params (#141)
  core/src/luigi-config/auth/auth.js
  core/src/luigi-config/init-params.js
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/deployment.yaml
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Review changes
  tests/tests/busola-create-a-deployment.spec.js
Due: pre-busola-ui-test

Test deployments (#138)
  core-ui/src/index.scss
  service-catalog-ui/src/index.scss
  tests/cypress.json
  tests/tests/busola-create-a-deployment.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Upgrade Cypress to 7.3.0 version
  tests/Dockerfile
Due: pre-busola-ui-test

Fix multiple context change, add disabled option
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
  core/src/luigi-config/navigation/static-navigation-model.js
  shared/components/GenericList/SearchInput.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Rework usegetstream, bring back contexts
  core/src/luigi-config/navigation/static-navigation-model.js
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Add small paddings
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Upgrade alpine to 3.13.5 version
  backend/Dockerfile
  core-ui/Dockerfile
  logging/Dockerfile
  service-catalog-ui/Dockerfile
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Logs UI changes, Fix logs connection closed issue (#132)
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.scss
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/SearchInput.js
  shared/hooks/BackendAPI/useGet.js
  shared/index.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Fix deployments tests
  tests/tests/busola-create-a-deployment.spec.js
Due: pre-busola-ui-test

UI TEST: Create a Function (#140)
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/queries.js
  shared/hooks/BackendAPI/createHeaders.js
  tests/Dockerfile
  tests/cypress.json
  tests/fixtures/orders-function-dependencies.json
  tests/fixtures/orders-function.js
  tests/package-lock.json
  tests/package.json
  tests/support/commands.js
  tests/tests/busola-create-a-function.spec.js
  tests/tests/busola-login-failed.spec.js
  tests/tests/busola-smoke-tests.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

move cypress to optional dependency
  tests/package-lock.json
  tests/package.json
Due: pre-busola-ui-test

Use correct message
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  shared/components/ModalWithForm/ModalWithForm.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Set longer time to show error
  shared/contexts/NotificationContext.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

move cypress to optional dependency (#143)
  tests/package-lock.json
  tests/package.json
Due: pre-busola-ui-test

Fix error display, use resource Type in messages
  shared/components/GenericList/actionHandlers/simpleDelete.js
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  shared/components/ResourcesList/helpers.js
  shared/hooks/BackendAPI/config.js
  shared/utils/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Remove LAMBDAS_MESSAGES
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingForm.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/hooks/useCreateLambda.js
  core-ui/src/components/Lambdas/hooks/useCreateRepository.js
  core-ui/src/components/Lambdas/hooks/useUpdateLambda.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingModal/CreateServiceBindingForm.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.js
  shared/hooks/useCreateServiceBindingUsage.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

So, lets start with refactor, move setInitValues to navigation-data-init
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/permissions.js
  core/src/luigi-config/navigation/queries.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Upgrade alpine to 3.13.5 version (#142)
  backend/Dockerfile
  core-ui/Dockerfile
  logging/Dockerfile
  service-catalog-ui/Dockerfile
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Use white background
  shared/components/Notification/Notification.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Unused var
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.js
Due: pre-busola-ui-test

Bump resources
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Fix test
  shared/components/GenericList/actionHandlers/test/handleDelete.test.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Fix test but better
  shared/components/GenericList/actionHandlers/test/handleDelete.test.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Use white color
  shared/components/Notification/Notification.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Fix redirect to list on namespace delete
  shared/hooks/navigate.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

you see no change
  tests/package.json
Due: pre-busola-ui-test

gitignore downloaded function code
  .gitignore
Due: none

add start:local command
  tests/README.md
  tests/package.json
Due: pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

Don't close the notification when trying to copy the message
  shared/components/Notification/Notification.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Path conditions:
  pre-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
