Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

pre-busola-ui-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-ui-test
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-busola-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-busola-governance
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
  ...

Handle Kyma 1.0 clusters (#276)
  backend/Dockerfile
  backend/certs.pem
  backend/common.js
  backend/package.json
  core-ui/src/components/Predefined/Details/Namespace/ResourcesUsage.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/queries.js
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
  shared/hooks/BackendAPI/createHeaders.js
  shared/hooks/BackendAPI/useFetch.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Revert "What about lazy components?"
  core-ui/src/components/App/App.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/shared.js
  core-ui/src/index.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Revert "Hmm, lets try sth else"
  core-ui/src/components/App/App.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Revert "Not enough!"
  core-ui/src/components/App/App.js
  core-ui/src/components/Clusters/views/AddCluster/AddCluster.js
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterOverview.js
  core-ui/src/components/NoPermissions/NoPermissions.js
  core-ui/src/components/Nodes/NodeDetails/NodeDetails.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Upgrade Cypress to 7.7.0 version
  tests/package-lock.json
  tests/package.json
Due: pre-busola-ui-test

Upgrade Cypress to 7.7.0 version (#281)
  tests/package-lock.json
  tests/package.json
Due: pre-busola-ui-test

Replace JSONEditor with monaco
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
  shared/components/JSONEditor/JSONEditor.js
  shared/index.js
  shared/package-lock.json
  shared/package.json
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Rework Instances Creation
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/PlanColumnContent.js
Due: pre-busola-ui-test

Remove unused file
  service-catalog-ui/src/components/ServiceClassDetails/PlanSelector/PlanSelector.js
Due: pre-busola-ui-test

Rework Service Binding, Fix always disabled add service binding button
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingModal.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Edit variables
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesModal.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/LambdaVariables.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/SingleVariableInput.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/validation.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/constants.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/newVariableModel.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/serializeVariables.js
  core-ui/src/index.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Combine imports
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
Due: pre-busola-ui-test

Edit variables
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesModal.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/SingleVariableInput.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/serializeVariables.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Restyle the drawer (#274)
  resources/web/deployment.yaml
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  shared/components/SideDrawer/SideDrawer.js
  shared/components/SideDrawer/SideDrawer.scss
  shared/contexts/YamlEditorContext.js
  shared/contexts/YamlEditorContext/EditorActions.js
  shared/contexts/YamlEditorContext/EditorActions.scss
  shared/contexts/YamlEditorContext/YamlContent.js
  shared/contexts/YamlEditorContext/YamlEditorContext.js
  shared/contexts/YamlEditorContext/YamlEditorContext.scss
  shared/contexts/YamlEditorContext/isValidYaml.js
  shared/index.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Rework Service Binding modal to use Dropdowns
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingForm.js
  shared/components/Dropdown/Dropdown.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Rework Service Instance Bindings modal in SC to use Dropdowns
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingModal/CreateServiceBindingForm.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.js
Due: pre-busola-ui-test

Rework Service Instance Bindings modal in SC to use Dropdowns part 2
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingModal/CreateServiceBindingForm.js
Due: pre-busola-ui-test

First load optimisations (#280)
  core/src/luigi-config/auth/auth.js
  core/src/luigi-config/init-params/init-params.js
  core/src/luigi-config/kubeconfig-id.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/static-navigation-model.js
  core/webpack.config.js
  resources/web/deployment.yaml
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
  shared/components/JSONEditor/JSONEditor.js
  shared/contexts/YamlEditorContext/YamlEditorContext.js
  shared/index.js
  shared/package-lock.json
  shared/package.json
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Remove unused consts
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingForm.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Bump backend
  resources/backend/deployment.yaml
Due: pre-busola-ui-test

Disable tests
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
  tests/support/views/api-rules-view.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Working version
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/SingleVariableInput.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/serializeVariables.js
  shared/components/Dropdown/Dropdown.js
  shared/components/Dropdown/Dropdown.scss
  shared/components/GenericList/GenericList.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Skip tests for now
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/test/LambdaVariables.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/test/validation.test.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/test/serializeVariables.test.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Small fix
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/SingleVariableInput.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Fix tests
  shared/components/Dropdown/Dropdown.js
  tests/support/views/api-rules-view.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

remove title dependency from ResourceCircle
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Validation
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/SingleVariableInput.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/validation.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/constants.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Update tests
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/SingleVariableInput.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/test/LambdaVariables.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/test/validation.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/validation.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/test/serializeVariables.test.js
  core-ui/src/components/Lambdas/helpers/testing/mockData.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Bump images
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Remove flaky test
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/test/LambdaVariables.test.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

bump
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Remove console.logs
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Adjust Access Strategies dropdown marigin
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Adjust unit tests
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Unify dropdowns (#273)
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.scss
  core-ui/src/components/ApiRules/ApiRuleForm/ServicesDropdown/ServicesDropdown.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingModal.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/LambdaResources.js
  core-ui/src/components/Lambdas/LambdasList/Lambdas/CreateLambdaForm.js
  core-ui/src/components/Lambdas/LambdasList/Repositories/RepositoryForm.js
  core-ui/src/components/Lambdas/components/DropdownInput/DropdownInput.js
  core-ui/src/components/Lambdas/components/DropdownInput/DropdownInput.scss
  core-ui/src/components/Lambdas/components/LabelsInput/LabelsInput.js
  core-ui/src/components/Lambdas/components/ResourceNameInput/ResourceNameInput.js
  core-ui/src/components/Lambdas/components/index.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/BasicData.js
  core-ui/src/index.scss
  package-lock.json
  package.json
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/PlanColumnContent.js
  service-catalog-ui/src/components/ServiceClassDetails/PlanSelector/PlanSelector.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingModal/CreateServiceBindingForm.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.js
  shared/components/Dropdown/Dropdown.js
  shared/components/Dropdown/Dropdown.scss
  shared/components/Tooltip/Tooltip.js
  shared/hooks/BackendAPI/useGet.js
  tests/support/views/api-rules-view.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

remove title dependency from ResourceCircle (#285)
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Path conditions:
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
