Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance

pre-busola-core-ui:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-busola-core-ui:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-busola-core:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

post-busola-core:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

improve status rendering
  service-catalog-ui/src/shared/ServiceInstanceStatus.js
Due: none

remove getBadgeTypeForStatus
  service-catalog-ui/src/helpers/getBadgeTypeForStatus.js
  service-catalog-ui/src/shared/ServiceInstanceStatus.js
Due: none

move randomNamesGenerator to shared
  shared/index.js
  shared/utils/helpers.js
  shared/utils/randomNamesGenerator/randomNamesGenerator.js
  shared/utils/randomNamesGenerator/words.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

remove the Checkbox test
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateServiceBindingModal/CreateServiceBindingForm.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceTable.js
  shared/components/Checkbox/test/Checkbox.test.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

disable servicePlans poling
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetails.js
Due: none

fix invalid plan selected
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
Due: none

Bump images, fix CSP
  core/nginx/nginx.conf
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
Due: pre-busola-core, post-busola-core

Update formatting
  core/src/login.html
Due: pre-busola-core, post-busola-core

display resourceUsage circle (not working yet)
  core-ui/src/components/Predefined/Details/Namespace/Namespace.details.js
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/ResourcesUsage.js
Due: pre-busola-core-ui, post-busola-core-ui

improve useGet hook and error parsing
  shared/hooks/BackendAPI/config.js
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

remove console.log
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingForm.js
Due: pre-busola-core-ui, post-busola-core-ui

remove INSTANCE NOT BINDABLE message before the instance is created
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
Due: none

display real usage
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/ResourcesUsage.js
Due: pre-busola-core-ui, post-busola-core-ui

display nice text in the circle
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/ResourcesUsage.js
  shared/components/CircleProgress/CircleProgress.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

remove unused var
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
Due: none

display human readable values on the chart
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/ResourcesUsage.js
  shared/components/CircleProgress/CircleProgress.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Fix plan selection
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
Due: none

Bump image
  resources/web/deployment-service-catalog.yaml
Due: none

Fix plan selection (#73)
  resources/web/deployment-service-catalog.yaml
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
Due: none

Show network errors in Luigi core init
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/queries.js
Due: pre-busola-core, post-busola-core

allow any color for circleProgress
  shared/components/CircleProgress/CircleProgress.js
  shared/components/CircleProgress/CircleProgress.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

dynamically scale circleProgress text basing on its length
  shared/components/CircleProgress/CircleProgress.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Change master to main
  .github/pull-request-template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: pre-master-busola-governance

{fi,np}x
  backend/npx.js
Due: none

Change master to main (#75)
  .github/pull-request-template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: pre-master-busola-governance

Make it work
  core/src/luigi-config/communication.js
  shared/hooks/BackendAPI/tokenExpirationGuard.js
  shared/hooks/BackendAPI/useGet.js
  shared/hooks/BackendAPI/useMutation.js
  shared/hooks/BackendAPI/usePost.js
  shared/package-lock.json
  shared/package.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

simplify the circleProgress a lot!
  shared/components/CircleProgress/CircleProgress.js
  shared/components/CircleProgress/CircleProgress.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Change the order
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.js
Due: pre-busola-core-ui, post-busola-core-ui

Make it better
  shared/hooks/BackendAPI/checkForTokenExpiration.js
  shared/hooks/BackendAPI/useFetch.js
  shared/hooks/BackendAPI/useGet.js
  shared/hooks/BackendAPI/useMutation.js
  shared/hooks/BackendAPI/usePost.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Login flow (#67)
  backend/common.js
  backend/index.js
  backend/npx-setup.js
  backend/npx.js
  backend/package-lock.json
  backend/package.json
  backend/utils/kubeconfig.js
  backend/webpack-npx.config.js
  core-ui/src/components/Preferences/Preferences.js
  core-ui/src/components/Preferences/test/ClusterSettings.test.js
  core/nginx/nginx.conf
  core/src/assets/login.js
  core/src/assets/settings.svg
  core/src/assets/signout.svg
  core/src/assets/static-views.js
  core/src/login.html
  core/src/logout.html
  core/src/luigi-config/auth.js
  core/src/luigi-config/init-params.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/navigation-helpers.js
  core/src/luigi-config/navigation/queries.js
  core/src/nopermissions.html
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
  shared/hooks/BackendAPI/createHeaders.js
  shared/hooks/BackendAPI/useGet.js
  shared/hooks/BackendAPI/useMutation.js
  shared/hooks/BackendAPI/usePost.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

make circleProgress able to use any size
  shared/components/CircleProgress/CircleProgress.js
  shared/components/CircleProgress/CircleProgress.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Restore pull-request-template.md
  .github/pull-request-template.md
  resources/web/deployment-service-catalog.yaml
Due: pre-master-busola-governance

Show error on api rule create/edit error
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
Due: pre-busola-core-ui, post-busola-core-ui

move Resource consumption to a separate panel
  core-ui/src/components/Predefined/Details/Namespace/Namespace.details.js
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/Predefined/Details/Namespace/ResourcesUsage.js
Due: pre-busola-core-ui, post-busola-core-ui

bump images to the latest tag from master
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: none

bump images to the latest tag from master (#77)
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: none

Do not provide serviceClassRef and servicePlanRef on the instance creation
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
Due: none

bump image
  resources/web/deployment-service-catalog.yaml
Due: none

Path conditions:
  pre-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
