Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

Path conditions:
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$

Add UI tests
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitions.details.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
  shared/components/ResourcesList/ResourcesList.js
  tests/cypress.json
  tests/tests/test-crds.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Remove ingress status field
  resources/ingress.yaml
Due: pre-busola-ui-test

Add more tests
  tests/tests/test-crds.spec.js
Due: pre-busola-ui-test

Cleanup Dockerfiles, Makefiles etc of microfrontends (#242)
  Makefile
  core-ui/Dockerfile
  core-ui/Makefile
  core-ui/nginx.conf
  core/Dockerfile
  core/Makefile
  core/nginx/conf.d/default.conf
  core/nginx/mime.types
  core/nginx/nginx.conf
  logging/Dockerfile
  logging/Makefile
  logging/nginx.conf
  resources/ingress.yaml
  resources/kubernetes-dashboard-admin.yaml
  resources/kustomization.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment-single.yaml
  resources/web/deployment.yaml
  resources/web/ingress.yaml
  resources/web/kustomization.yaml
  resources/web/service-core-ui.yaml
  resources/web/service-core.yaml
  resources/web/service-service-catalog.yaml
  service-catalog-ui/Dockerfile
  service-catalog-ui/Makefile
  service-catalog-ui/nginx.conf
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Handle errors on the lists
  shared/components/ResourcesList/ResourcesList.js
  shared/utils/helpers.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Handle errors on cluster overview
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterNodes/ClusterNodes.js
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterOverviewHeader.js
  shared/components/ErrorPanel/ErrorPanel.js
  shared/components/PageHeader/PageHeader.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Don't get the data if version is not served, small improvements
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
  shared/components/ResourcesList/ResourcesList.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Upgrade Cypress to 7.6.0 version (#246)
  tests/package-lock.json
  tests/package.json
Due: pre-busola-ui-test

Wider left na v
  core/src/index.html
  core/src/index.scss
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Move csses to the separate file
  core/src/index.html
  core/src/index.scss
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Change scss to css
  core/src/index.css
  core/src/index.html
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Fix bad OIDC cluster redirection
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/previous-location.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Bump
  core/src/luigi-config/luigi-config.js
  resources/web/deployment.yaml
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Crds lists (#231)
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/App/App.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.scss
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitions.details.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResources.details.js
  core-ui/src/components/Predefined/Details/Pod/PodStatus.js
  core-ui/src/components/Predefined/Details/index.js
  core-ui/src/components/Predefined/List/CustomResourceDefinitions.list.js
  core-ui/src/components/Predefined/List/index.js
  core-ui/src/shared/helpers/getResourceUrl.js
  core/src/index.css
  core/src/index.html
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
  shared/components/Labels/Labels.js
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  shared/hooks/navigate.js
  tests/cypress.json
  tests/tests/create-configuration-resources.spec.js
  tests/tests/smoke-tests.spec.js
  tests/tests/test-crds.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Nice work, tests
  core/src/luigi-config/luigi-config.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Simplify the error handling solution
  shared/components/GenericList/GenericList.js
  shared/components/ResourcesList/ResourcesList.js
  shared/utils/helpers.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Handle in details
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/PodList/PodList.js
  shared/components/ResourceDetails/ResourceDetails.js
  shared/utils/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Fuse DetailsError and NoResourceFound into one component
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetails.container.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourceNotFound/ResourceNotFound.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Remove DetailsError component
  shared/components/DetailsError/DetailsError.js
  shared/components/DetailsError/test/DetailsError.test.js
  shared/index.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Adjust tests
  shared/components/ResourceNotFound/test/ResourceNotFound.test.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Fix merge errors
  shared/components/ResourceDetails/ResourceDetails.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

First version
  core-ui/src/components/Clusters/params-version.js
  core-ui/src/components/Clusters/shared.js
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/components/Clusters/views/ClusterList.scss
  core/src/luigi-config/cluster-management.js
  core/src/luigi-config/init-params.js
  core/src/luigi-config/utils/params-version.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Bump
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Prow test pull request
  core/README.md
Due: pre-busola-core, post-busola-core, pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

Use Luigi error if possible, dont delete cluster
  core/src/luigi-config/init-params.js
  core/src/luigi-config/utils/params-version.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Use semver
  core-ui/src/components/Clusters/params-version.js
  core/src/luigi-config/cluster-management.js
  core/src/luigi-config/utils/params-version.js
  package-lock.json
  package.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Remove console.logs
  shared/components/GenericList/GenericList.js
  shared/utils/helpers.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Fix bad OIDC cluster redirection (#247)
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/previous-location.js
  resources/web/deployment.yaml
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Bump image
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Add UI tests
  tests/support/enkode.js
  tests/tests/login-enkode.spec.js
Due: pre-busola-ui-test

Downgrade packages to fix monaco
  lerna.json
  package-lock.json
  package.json
Due: pre-busola-core, post-busola-core

Test commit
  resources/backend/deployment.yaml
Due: pre-busola-ui-test

Update nginx
  nginx/nginx.conf
Due: pre-busola-ui-test

Add error handling
  core-ui/src/components/Clusters/params-version.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/utils/params-version.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Do not use column
  core-ui/src/components/Clusters/params-version.js
  core-ui/src/components/Clusters/views/ClusterList.js
  core/src/luigi-config/utils/params-version.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Bump lerna back
  lerna.json
  package-lock.json
  package.json
Due: pre-busola-core, post-busola-core

Update readme for test
  core/README.md
Due: pre-busola-core, post-busola-core, pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

Change tests
  core/README.md
  resources/backend/deployment.yaml
Due: pre-busola-core, post-busola-core, pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

Change tests
  tests/tests/create-a-deployment.spec.js
Due: pre-busola-ui-test

Fix monaco
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/Editor.js
  core-ui/src/components/Predefined/Details/ConfigMap/ConfigMap.details.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/index.js
  service-catalog-ui/src/index.js
  shared/index.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test
