Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, pre-main-busola-governance

Path conditions:
  pre-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  post-busola-core-ui: any of: ^core-ui/|^components/|^shared/|^package.json
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pre-main-busola-governance: any of: milv.config.yaml|.md$

improve search input
  core-ui/src/components/Predefined/Create/OAuthClients/OAuthClients.create.js
  core-ui/src/components/Predefined/Details/Application/BindableServicesList.js
  core-ui/src/components/Predefined/Details/Application/ConnectApplicationModal.js
  core-ui/src/components/Predefined/Details/Application/ServiceListItem.js
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/CreateWorkloadForm.js
  core-ui/src/fiori-helpers.scss
  core-ui/src/index.scss
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/GenericList.scss
  shared/components/GenericList/Pagination/Pagination.js
  shared/components/GenericList/SearchInput.js
  shared/components/PageHeader/PageHeader.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

move 'em (files) on, head em' up
  core-ui/src/components/Predefined/Create/ConfigMaps.create.js
  core-ui/src/components/Predefined/Create/Secrets/SecretForm.js
  core-ui/src/components/Predefined/Create/Secrets/SecretForm.scss
  core-ui/src/components/Predefined/Details/ConfigMap/ConfigMap.details.js
  core-ui/src/components/Predefined/Details/ConfigMap/EditConfigMapForm.js
  core-ui/src/components/Predefined/Details/Secret/EditSecretForm.js
  core-ui/src/components/Predefined/Details/Secret/Secret.details.js
  core-ui/src/index.scss
  core-ui/src/shared/components/ConfigMap/ConfigMapForm.js
  core-ui/src/shared/components/ConfigMap/createConfigMapInput.js
  resources/web/deployment.yaml
  shared/components/KeyValueForm/KeyValueForm.js
  shared/components/KeyValueForm/KeyValueForm.scss
  shared/components/KeyValueForm/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Fix shared/ tests
  shared/components/LabelSelectorInput/test/LabelSelectorInput.test.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Fix memory & quotas creation, fix progress circles (#108)
  core-ui/src/components/Predefined/Create/Namespaces/Namespaces.create.js
  core-ui/src/components/Predefined/Details/Namespace/ResourcesUsage.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui

fix PageHeader font size
  core-ui/src/fiori-helpers.scss
  shared/components/Labels/Labels.js
  shared/components/PageHeader/PageHeader.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

use new color variables
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.scss
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/ResourceManagement.scss
  core-ui/src/components/Predefined/Details/Application/CreateBindingModal/CreateBindingModal.scss
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/CreateWorkloadForm.scss
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/Predefined/Details/Namespace/ResourcesUsage.js
  core-ui/src/components/Predefined/Details/Pod/ContainersLogs.scss
  core-ui/src/index.scss
  core-ui/src/shared/components/EventSubscriptions/CreateEventSubscriptionForm.scss
  logging/src/App.scss
  logging/src/components/Header/Header.scss
  logging/src/components/LogTable/LogTable.scss
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.scss
  logging/src/components/Shared/LabelsInput/DropdownRenderer/DropdownRenderer.scss
  service-catalog-ui/src/components/ServiceClassList/Cards/Card.scss
  service-catalog-ui/src/index.scss
  shared/components/CircleProgress/CircleProgress.js
  shared/components/CircleProgress/CircleProgress.scss
  shared/components/FileInput/FileInput.scss
  shared/components/GenericList/Pagination/Pagination.scss
  shared/components/InputWithPrefix/InputWithPrefix.scss
  shared/components/InputWithSuffix/InputWithSuffix.scss
  shared/components/LabelSelectorInput/LabelSelectorInput.scss
  shared/components/ListActions/ListActions.scss
  shared/components/Notification/Notification.scss
  shared/components/PageHeader/PageHeader.scss
  shared/components/SideDrawer/SideDrawer.scss
  shared/components/StringInput/StringInput.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

First final touches
  core-ui/src/components/Predefined/Create/Secrets/DecodeSecretSwitch.js
  core-ui/src/components/Predefined/Create/Secrets/SecretForm.js
  core-ui/src/components/Predefined/Create/Secrets/helpers.js
  core-ui/src/components/Predefined/Details/ConfigMap/ConfigMap.details.js
  core-ui/src/components/Predefined/Details/ConfigMap/EditConfigMapForm.js
  core-ui/src/components/Predefined/Details/Secret/Secret.details.js
  core-ui/src/index.scss
  core-ui/src/shared/components/ConfigMap/ConfigMapForm.js
  shared/components/KeyValueForm/KeyValueForm.js
  shared/components/KeyValueForm/KeyValueForm.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

fix readonly token hover
  core-ui/src/index.scss
  shared/components/GenericList/GenericList.scss
  shared/components/GenericList/Pagination/Pagination.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Fix toggles
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/CodeAndDependencies.scss
  core-ui/src/index.scss
Due: pre-busola-core-ui, post-busola-core-ui

Update resources
  resources/web/deployment.yaml
Due: none

improve yaml editor styling
  shared/components/GenericList/GenericList.scss
  shared/components/SideDrawer/SideDrawer.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

improve labelselector
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.scss
  core-ui/src/components/Predefined/Create/AddonsConfigurations/AddonsConfigurations.js
  core-ui/src/components/Predefined/Create/Namespaces/CreateNamespace.scss
  core-ui/src/components/Predefined/Create/Namespaces/Namespaces.create.js
  core-ui/src/index.scss
  logging/src/components/Shared/ResultsOptionsDropdown/ResultOptionsDropdown.scss
  shared/components/InputWithPrefix/InputWithPrefix.scss
  shared/components/InputWithSuffix/InputWithSuffix.scss
  shared/components/LabelSelectorInput/LabelSelectorInput.scss
  shared/components/StringInput/StringInput.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Edge cases are tricky
  core-ui/src/components/Predefined/Create/Secrets/DecodeSecretSwitch.js
  core-ui/src/components/Predefined/Create/Secrets/helpers.js
  core-ui/src/shared/components/Secret/SecretData.js
  core-ui/src/shared/helpers/index.js
  core-ui/src/shared/helpers/safeBase64.js
Due: pre-busola-core-ui, post-busola-core-ui

improve labelSelector
  core-ui/src/components/Predefined/Details/Namespace/CreateWorkloadForm/CreateWorkloadForm.scss
  core-ui/src/index.scss
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.scss
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/JSONSchema/index.js
  shared/components/InputWithPrefix/InputWithPrefix.scss
  shared/components/InputWithSuffix/InputWithSuffix.scss
  shared/components/LabelSelectorInput/LabelSelectorInput.scss
  shared/components/StringInput/StringInput.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Fix create bindings modal
  core-ui/src/components/Predefined/Details/Application/CreateBindingModal/CreateBindingModal.js
  core-ui/src/components/Predefined/Details/Application/CreateBindingModal/CreateBindingModal.scss
Due: pre-busola-core-ui, post-busola-core-ui

improve createNamespace inputs
  core-ui/src/components/Predefined/Create/Namespaces/Namespaces.create.js
Due: pre-busola-core-ui, post-busola-core-ui

remove unused css
  core-ui/src/index.scss
Due: pre-busola-core-ui, post-busola-core-ui

Fix width bug
  core-ui/src/components/Predefined/Create/RoleBindings/RoleCombobox.scss
  core-ui/src/index.scss
Due: pre-busola-core-ui, post-busola-core-ui

improve serviceCatalog tabs
  service-catalog-ui/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/src/components/ServiceClassList/styled.js
  service-catalog-ui/src/fiori-helpers.scss
  service-catalog-ui/src/index.js
  service-catalog-ui/src/index.scss
  shared/components/Tabs/Tab.js
  shared/components/Tabs/Tab.scss
  shared/components/Tabs/Tabs.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Add some tests
  core-ui/src/components/Predefined/Create/Secrets/DecodeSecretSwitch.js
  core-ui/src/components/Predefined/Create/Secrets/test/DecodeSecretSwitch.test.js
  core-ui/src/shared/helpers/tests/__snapshots__/safeBase64.test.js.snap
  core-ui/src/shared/helpers/tests/safeBase64.test.js
  shared/components/KeyValueForm/KeyValueForm.js
  shared/components/KeyValueForm/test/KeyValueForm.test.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

improve Catalog
  core-ui/src/index.scss
  service-catalog-ui/src/components/ServiceClassList/styled.js
  service-catalog-ui/src/index.scss
  shared/components/Tabs/Tabs.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

improve instances
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceList.js
  service-catalog-ui/src/components/ServiceInstanceList/styled.js
Due: none

markdownlint: ignore luigi-core code
  package.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

actually remove fiori-fundamentals
  core-ui/src/index.js
  package-lock.json
  package.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

use Refs to store NamespaceCreate checkbox state
  core-ui/src/components/Predefined/Create/Namespaces/Namespaces.create.js
Due: pre-busola-core-ui, post-busola-core-ui

point Core linter to luigi-config folder only
  .prettierignore
  core/package.json
  package.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

fix tabs test
  shared/components/Tabs/Tab.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Add tooltip
  shared/components/KeyValueForm/KeyValueForm.js
  shared/components/KeyValueForm/KeyValueForm.scss
  shared/components/KeyValueForm/test/KeyValueForm.test.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

(Config Map, Secrets) x (create, update) (#110)
  core-ui/src/components/Predefined/Create/ConfigMaps.create.js
  core-ui/src/components/Predefined/Create/Secrets/DecodeSecretSwitch.js
  core-ui/src/components/Predefined/Create/Secrets/SecretForm.js
  core-ui/src/components/Predefined/Create/Secrets/SecretForm.scss
  core-ui/src/components/Predefined/Create/Secrets/Secrets.create.js
  core-ui/src/components/Predefined/Create/Secrets/helpers.js
  core-ui/src/components/Predefined/Create/Secrets/test/DecodeSecretSwitch.test.js
  core-ui/src/components/Predefined/Create/index.js
  core-ui/src/components/Predefined/Details/ConfigMap.details.js
  core-ui/src/components/Predefined/Details/ConfigMap/ConfigMap.details.js
  core-ui/src/components/Predefined/Details/ConfigMap/EditConfigMapForm.js
  core-ui/src/components/Predefined/Details/Secret.details.js
  core-ui/src/components/Predefined/Details/Secret/EditSecretForm.js
  core-ui/src/components/Predefined/Details/Secret/Secret.details.js
  core-ui/src/components/Predefined/Details/index.js
  core-ui/src/index.scss
  core-ui/src/shared/components/ConfigMap/ConfigMapForm.js
  core-ui/src/shared/components/ConfigMap/createConfigMapInput.js
  core-ui/src/shared/components/Secret/SecretData.js
  core-ui/src/shared/components/Secret/test/SecretData.test.js
  core-ui/src/shared/helpers/index.js
  core-ui/src/shared/helpers/safeBase64.js
  core-ui/src/shared/helpers/tests/__snapshots__/safeBase64.test.js.snap
  core-ui/src/shared/helpers/tests/safeBase64.test.js
  resources/web/deployment.yaml
  shared/components/K8sNameInput/K8sNameInput.js
  shared/components/KeyValueForm/KeyValueForm.js
  shared/components/KeyValueForm/KeyValueForm.scss
  shared/components/KeyValueForm/helpers.js
  shared/components/KeyValueForm/test/KeyValueForm.test.js
  shared/components/LabelSelectorInput/LabelSelectorInput.js
  shared/components/LabelSelectorInput/test/LabelSelectorInput.test.js
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  shared/index.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

remove StringInput.scss
  shared/components/StringInput/StringInput.js
  shared/components/StringInput/StringInput.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

correct "smmall" to "small"
  core-ui/src/components/Predefined/Details/Namespace/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/Predefined/Details/Namespace/ResourcesUsage.js
  logging/src/components/Shared/SearchInput/SearchInput.js
  logging/src/components/Shared/SearchInput/test/__snapshots__/SearchInput.test.js.snap
  shared/contexts/YamlEditorContext.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

remove core/assets/luigi-core
  core/src/assets/luigi-core/1a8b1e7c16263a2093a34bc26a692018.woff2
  core/src/assets/luigi-core/26d0999bfda5b56fecf02a22b0685fa2.woff2
  core/src/assets/luigi-core/2b66a818e8209212cdf65ca0bc358814.woff
  core/src/assets/luigi-core/2f902ee22bcb8f1afe36a066239a2982.woff
  core/src/assets/luigi-core/82ab29fb9e36946cb76e17e88cfbe497.woff2
  core/src/assets/luigi-core/8c721c891b28469786d15b0d9422b0f2.woff2
  core/src/assets/luigi-core/README.md
  core/src/assets/luigi-core/ba643c1f6813b14436d805e59ddd947b.woff
  core/src/assets/luigi-core/c9df9f6e8ff5d0c6bc4286aa45de9621.woff
  core/src/assets/luigi-core/luigi.css
  core/src/assets/luigi-core/luigi.js
  core/src/assets/luigi-core/luigi.svelte.map.js
  core/src/assets/luigi-core/package.json
Due: pre-busola-core, post-busola-core, pre-master-busola-governance, pre-main-busola-governance

Revert "point Core linter to luigi-config folder only"
  .prettierignore
  core/package.json
  package.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Update core-ui/src/components/Predefined/Create/OAuthClients/OAuthClients.create.js
  core-ui/src/components/Predefined/Create/OAuthClients/OAuthClients.create.js
Due: pre-busola-core-ui, post-busola-core-ui

Update README.md
  components/generic-documentation/README.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, pre-main-busola-governance

Change master to main (leftovers)
  components/generic-documentation/README.md
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, pre-main-busola-governance

improve CreateInstanceForm
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/CreateInstanceForm.scss
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceForm/SchemaData.js
  shared/components/K8sNameInput/K8sNameInput.js
  shared/components/TextFormItem/TextFormItem.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core

Improve function resources tab
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/LambdaResources.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/shared.js
Due: pre-busola-core-ui, post-busola-core-ui

Fix toggles (#112)
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/CodeAndDependencies.scss
  core-ui/src/index.scss
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui

adjust "connect application modal" textarea
  core-ui/src/components/Predefined/Details/Application/ConnectApplicationModal.js
Due: pre-busola-core-ui, post-busola-core-ui
