Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

pre-busola-ui-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-ui-test
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-busola-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-busola-governance
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
  ...

Bumptt
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Move monaco/react from root to shared
  package-lock.json
  package.json
  shared/package-lock.json
  shared/package.json
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Remove MonacoWebpackPlugin
  core-ui/webpack.config.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Fix monaco (#254)
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/Editor.js
  core-ui/src/components/Predefined/Details/ConfigMap/ConfigMap.details.js
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
  core-ui/src/index.js
  core-ui/webpack.config.js
  package-lock.json
  package.json
  resources/web/deployment.yaml
  service-catalog-ui/src/index.js
  shared/index.js
  shared/package-lock.json
  shared/package.json
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

I don't think so
  tests/support/enkode.js
Due: pre-busola-ui-test

Reordering, nicer warning message
  core-ui/src/components/Clusters/shared.js
  core/src/luigi-config/cluster-management.js
  core/src/luigi-config/init-params/constants.js
  core/src/luigi-config/init-params/init-params.js
  core/src/luigi-config/init-params/params-version.js
  core/src/luigi-config/luigi-config.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Remove auth from params
  core-ui/src/components/Clusters/components/ClusterConfiguration.js
  core-ui/src/components/Clusters/components/oidc-params.js
  core-ui/src/components/Clusters/shared.js
  core-ui/src/components/Clusters/views/AddCluster/AddCluster.js
  core/src/luigi-config/auth/auth.js
  core/src/luigi-config/auth/oidc-params.js
  core/src/luigi-config/auth/parseOIDCParams.js
  core/src/luigi-config/cluster-management.js
  core/src/luigi-config/init-params.js
  core/src/luigi-config/luigi-config.js
  tests/fixtures/kubeconfig.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Bump
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Restore kubeconfig.yaml
  tests/fixtures/kubeconfig.yaml
Due: pre-busola-ui-test

Cleanup
  core-ui/src/components/Clusters/shared.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Delete parseOIDCParams.js
  core/src/luigi-config/auth/parseOIDCParams.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Fix formatting, add tests
  core/src/luigi-config/init-params/params-version.js
  core/src/luigi-config/init-params/tests/params-version.test.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Config versioning (#249)
  core-ui/src/components/Clusters/params-version.js
  core-ui/src/components/Clusters/shared.js
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/components/Clusters/views/ClusterList.scss
  core/src/luigi-config/cluster-management.js
  core/src/luigi-config/init-params/constants.js
  core/src/luigi-config/init-params/init-params.js
  core/src/luigi-config/init-params/params-version.js
  core/src/luigi-config/init-params/tests/params-version.test.js
  core/src/luigi-config/luigi-config.js
  package-lock.json
  package.json
  resources/web/deployment.yaml
  tests/support/enkode.js
  tests/tests/login-enkode.spec.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Adjust ClusterConfiguration
  core-ui/src/components/Clusters/components/ClusterConfiguration.js
  core-ui/src/components/Clusters/components/KubeconfigUpload/KubeconfigTextArea/KubeconfigTextArea.js
  core-ui/src/components/Clusters/components/test/ClusterConfiguration.test.js
  core-ui/src/components/Clusters/components/test/oidc-params.test.js
  core-ui/src/components/Clusters/shared.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

First go
  core/src/assets/config/config.js
  core/src/index.html
  resources/web/configmap.yaml
  resources/web/deployment.yaml
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Update shared/components/ResourceNotFound/ResourceNotFound.js
  shared/components/ResourceNotFound/ResourceNotFound.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Use getErrorMessage in ErrorPanel
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterNodes/ClusterNodes.js
  shared/components/ErrorPanel/ErrorPanel.js
  shared/utils/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Fix version
  core-ui/src/components/Clusters/params-version.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Actually use configmap, fix versions
  core-ui/src/components/Clusters/params-version.js
  core/src/assets/config/config.js
  core/src/luigi-config/cluster-management.js
  core/src/luigi-config/init-params/params-version.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Use default message on generic list
  shared/components/GenericList/GenericList.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Bring back import
  shared/components/GenericList/GenericList.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Error handling (#248)
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterNodes/ClusterNodes.js
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterOverviewHeader.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/PodList/PodList.js
  resources/web/deployment.yaml
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetails.container.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  shared/components/DetailsError/DetailsError.js
  shared/components/DetailsError/test/DetailsError.test.js
  shared/components/ErrorPanel/ErrorPanel.js
  shared/components/GenericList/GenericList.js
  shared/components/PageHeader/PageHeader.scss
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourceNotFound/ResourceNotFound.js
  shared/components/ResourceNotFound/test/ResourceNotFound.test.js
  shared/components/ResourcesList/ResourcesList.js
  shared/index.js
  shared/utils/helpers.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

async all the way
  core-ui/src/components/Clusters/shared.js
  core/src/assets/config/config.js
  core/src/assets/config/config.json
  core/src/index.html
  core/src/luigi-config/auth/auth.js
  core/src/luigi-config/cluster-management.js
  core/src/luigi-config/cluster-params.js
  core/src/luigi-config/communication.js
  core/src/luigi-config/init-params/init-params.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/queries.js
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/configmap.yaml
  resources/web/deployment.yaml
  shared/constants/constants.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Fix
  core/src/luigi-config/cluster-management.js
  resources/web/configmap.yaml
  resources/web/deployment.yaml
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Add configmap to Kustomize
  resources/web/kustomization.yaml
Due: pre-busola-ui-test

Fix bad merge
  core/src/luigi-config/init-params/init-params.js
  tests/fixtures/kubeconfig.yaml
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Remove NS
  resources/web/configmap.yaml
  resources/web/deployment.yaml
  tests/fixtures/kubeconfig.yaml
Due: pre-busola-ui-test

Remove auth from params (#256)
  core-ui/src/components/Clusters/components/ClusterConfiguration.js
  core-ui/src/components/Clusters/components/KubeconfigUpload/KubeconfigTextArea/KubeconfigTextArea.js
  core-ui/src/components/Clusters/components/oidc-params.js
  core-ui/src/components/Clusters/components/test/ClusterConfiguration.test.js
  core-ui/src/components/Clusters/components/test/oidc-params.test.js
  core-ui/src/components/Clusters/params-version.js
  core-ui/src/components/Clusters/shared.js
  core-ui/src/components/Clusters/views/AddCluster/AddCluster.js
  core/src/luigi-config/auth/auth.js
  core/src/luigi-config/auth/oidc-params.js
  core/src/luigi-config/cluster-management.js
  core/src/luigi-config/init-params/init-params.js
  core/src/luigi-config/luigi-config.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Adjustementos
  core/src/luigi-config/auth/auth.js
  core/src/luigi-config/cluster-management.js
  tests/fixtures/kubeconfig.yaml
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Use object
  resources/web/configmap.yaml
Due: pre-busola-ui-test

Revert "Use object"
  resources/web/configmap.yaml
Due: pre-busola-ui-test

First version!
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Clusters/shared.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Predefined/Details/Namespace/DeployNewWorkload.js
  core-ui/src/components/Predefined/Details/Namespace/Namespace.details.js
  core-ui/src/components/Predefined/Details/Service/Service.details.js
  core-ui/src/components/Predefined/List/Function/Functions.list.js
  core/src/luigi-config/features.js
  core/src/luigi-config/init-params/constants.js
  core/src/luigi-config/init-params/init-params.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/permissions.js
  core/src/luigi-config/navigation/static-navigation-model.js
  package-lock.json
  package.json
  shared/constants/constants.js
  shared/index.js
  shared/utils/modulesExist.js
  tests/support/enkode.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Better
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Predefined/Details/Namespace/DeployNewWorkload.js
  core-ui/src/components/Predefined/Details/Namespace/Namespace.details.js
  core-ui/src/components/Predefined/Details/Service/Service.details.js
  core-ui/src/components/Predefined/List/Function/Functions.list.js
  core/src/luigi-config/features.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Use version from /shared
  core-ui/src/components/Clusters/params-version.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Fix removing active cluster
  core/src/luigi-config/auth/auth.js
  core/src/luigi-config/cluster-management.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Bump images
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Add color coding to CRD schema
  core-ui/src/components/Predefined/Details/CustomResourceDefinitions/CustomResourceDefinitionVersions.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Add color coding to CRD schema
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Use configmap (#258)
  core-ui/src/components/Clusters/shared.js
  core/src/assets/config/config.json
  core/src/luigi-config/auth/auth.js
  core/src/luigi-config/cluster-management.js
  core/src/luigi-config/cluster-params.js
  core/src/luigi-config/communication.js
  core/src/luigi-config/init-params/init-params.js
  core/src/luigi-config/init-params/params-version.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/queries.js
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/configmap.yaml
  resources/web/deployment.yaml
  resources/web/kustomization.yaml
  shared/constants/constants.js
  tests/fixtures/kubeconfig.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Path conditions:
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^components/|^shared/|^package.json
  post-busola-core: any of: ^core/|^components/|^shared/|^package.json
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
