Repository kyma-project/busola: changes, and which Prow jobs are due for each by the changed paths.
All: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-master-busola-governance, pre-busola-ui-test, pre-main-busola-governance

pre-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core-ui:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core-ui
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

post-busola-core:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-busola-core
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-master-busola-governance:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
  ...

pre-busola-ui-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-busola-ui-test
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-busola-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-busola-governance
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
  ...

Improve handling auth errors (#200)
  core-ui/src/components/Clusters/views/ClusterList.js
  core-ui/src/shared/useShowNodeParamsError.js
  core/src/luigi-config/auth/auth.js
  core/src/luigi-config/communication.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Remove ModalWithForm from core-ui
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  core-ui/src/components/ModalWithForm/test/ModalWithForm.test.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

bump resources
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Testing
  shared/hooks/BackendAPI/config.js
  shared/hooks/BackendAPI/useFetch.js
Due: pre-busola-ui-test

Improve useGetHook (#202)
  core-ui/src/components/Nodes/nodeQueries.js
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
  shared/hooks/BackendAPI/useGet.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Testing 2wq
  shared/hooks/BackendAPI/config.js
Due: pre-busola-ui-test

Fix tests
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/test/LambdaVariables.test.js
  shared/components/ModalWithForm/ModalWithForm.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Typo
  shared/hooks/BackendAPI/config.js
Due: pre-busola-ui-test

Remove testing logs, return status code if no message
  shared/hooks/BackendAPI/config.js
  shared/hooks/BackendAPI/useFetch.js
Due: pre-busola-ui-test

Remove outline from the labels input
  shared/components/LabelSelectorInput/LabelSelectorInput.scss
Due: pre-busola-ui-test

Functions configmaps UI (#208)
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.scss
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/RepositoryConfig/RepositoryConfig.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/ResourceManagement/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Predefined/Details/ConfigMap/ConfigMap.details.js
  core-ui/src/components/Predefined/Details/Pod/ContainersData.js
  core-ui/src/shared/components/ConfigMap/ConfigMapForm.js
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
  shared/components/KeyValueForm/KeyValueForm.js
  shared/components/KeyValueForm/KeyValueForm.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Bump resources
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Add a generic error message
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterNodes/ClusterNodes.js
  shared/hooks/BackendAPI/config.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Remove pagination if not needed
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterNodes/ClusterNodes.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Bump
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Fix deployments
  core-ui/src/components/Predefined/Details/Deployment.details.js
  core-ui/src/components/Predefined/Details/DeploymentPods.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Bump image
  resources/web/deployment.yaml
Due: pre-busola-ui-test

First tests
  core-ui/package.json
  core-ui/src/index.js
  core/src/luigi-config/config.js
  service-catalog-ui/package.json
  shared/utils/getClusterConfig.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Fix deployments (#214)
  core-ui/src/components/Predefined/Details/Deployment.details.js
  core-ui/src/components/Predefined/Details/DeploymentPods.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Move optionalDependencies to devDependencies
  package.json
Due: none

Bump images
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Small risk, high reward
  core-ui/src/index.js
  core/src/luigi-config/config.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-core, post-busola-core, pre-busola-ui-test

Fix monaco, update ingress
  core/.gitignore
  core/src/luigi-config/config.js
  core/webpack.config.js
  resources/web/ingress.yaml
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Adjust paths on cluster
  core/.gitignore
  core/webpack.config.js
  shared/utils/setupMonaco.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Upgrade wepack, node-sass and react-scripts
  package-lock.json
  package.json
  shared/package-lock.json
  shared/package.json
Due: pre-busola-ui-test

Bumps
  resources/web/deployment-service-catalog.yaml
  shared/utils/setupMonaco.js
  tests/fixtures/kubeconfig.yaml
Due: pre-busola-ui-test

Bump images
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Disable panel padding for env variables modal
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/LambdaEnvs.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Rename class and move to main index.scss
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesModal.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/LambdaEnvs.scss
  core-ui/src/index.scss
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Remove outline from the labels input (#212)
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
  shared/components/LabelSelectorInput/LabelSelectorInput.scss
Due: pre-busola-ui-test

Downgrade react-scripts
  README.md
  package-lock.json
  package.json
Due: pre-master-busola-governance, pre-main-busola-governance

gotta go fast I guess
  core/src/luigi-config/config.js
  resources/web/ingress.yaml
  shared/utils/getClusterConfig.js
  tests/config.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Fix ingress path
  resources/apply-resources.sh
  resources/web/ingress.yaml
Due: pre-busola-ui-test

Fix catalog path
  core/src/luigi-config/config.js
  resources/apply-resources.sh
  resources/web/ingress.yaml
  service-catalog-ui/src/index.js
Due: pre-busola-core, post-busola-core, pre-busola-ui-test

Update index.js
  core-ui/src/index.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Update docker images
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
Due: pre-busola-ui-test

Make variables modal wider (#210)
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesModal.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/test/LambdaVariables.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/CreateServiceBindingModal.js
  core-ui/src/components/Lambdas/LambdasList/Repositories/RepositoryModal.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  core-ui/src/components/ModalWithForm/test/ModalWithForm.test.js
  core-ui/src/index.scss
  resources/backend/deployment.yaml
  resources/web/deployment-service-catalog.yaml
  resources/web/deployment.yaml
  shared/components/ModalWithForm/ModalWithForm.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Move Error component outside
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterNodes/ClusterNodes.js
  shared/components/ErrorPanel/ErrorPanel.js
  shared/index.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Make it better
  core-ui/src/index.js
  service-catalog-ui/src/index.js
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Remove pagination if is not needed (#213)
  core-ui/src/components/Clusters/views/ClusterOverview/ClusterNodes/ClusterNodes.js
  resources/web/deployment.yaml
Due: pre-busola-core-ui, post-busola-core-ui, pre-busola-ui-test

Path conditions:
  pre-busola-core-ui: any of: ^core-ui/|^scripts/
  post-busola-core-ui: any of: ^core-ui/|^scripts/
  pre-busola-core: any of: ^core/|^scripts/
  post-busola-core: any of: ^core/|^scripts/
  pre-master-busola-governance: any of: milv.config.yaml|.md$
  pre-busola-ui-test: any of: /
  pre-main-busola-governance: any of: milv.config.yaml|.md$
