Repository kyma-project/third-party-images: changes, and which Prow jobs are due for each by the changed paths.
All: pull-third-party-images-checkconfig, pull-third-party-images-pjconfigtest, pull-third-party-images-pjtester, pull-third-party-images-vpathguard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-k8s-tools, post-main-tpi-cloudsql-proxy, post-main-tpi-k8s-tools, pre-main-third-party-images-protecode-guard, pre-main-tpi-alertmanager, pre-main-tpi-configmap-reload, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kaniko-executer, pre-main-tpi-kube-state-metrics, pre-main-tpi-otel-collector, post-main-tpi-alertmanager, post-main-tpi-configmap-reload, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kaniko-executer, post-main-tpi-kube-state-metrics, post-main-tpi-otel-collector

Path conditions:
  pull-third-party-images-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-third-party-images-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-third-party-images-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-third-party-images-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  pre-main-tpi-k8s-tools: any of: ^k8s-tools/
  post-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  post-main-tpi-k8s-tools: any of: ^k8s-tools/
  pre-main-third-party-images-protecode-guard: any of: ^((.*)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-tpi-alertmanager: any of: ^alertmanager/
  pre-main-tpi-configmap-reload: any of: ^configmap-reload/
  pre-main-tpi-docker-registry: any of: ^docker-registry/
  pre-main-tpi-fluent-bit: any of: ^fluent-bit/
  pre-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  pre-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  pre-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  pre-main-tpi-grafana: any of: ^grafana/
  pre-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  pre-main-tpi-kube-state-metrics: any of: ^kube-state-metrics/
  pre-main-tpi-otel-collector: any of: ^otel-collector/
  post-main-tpi-alertmanager: any of: ^alertmanager/
  post-main-tpi-configmap-reload: any of: ^configmap-reload/
  post-main-tpi-docker-registry: any of: ^docker-registry/
  post-main-tpi-fluent-bit: any of: ^fluent-bit/
  post-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  post-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  post-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  post-main-tpi-grafana: any of: ^grafana/
  post-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  post-main-tpi-kube-state-metrics: any of: ^kube-state-metrics/
  post-main-tpi-otel-collector: any of: ^otel-collector/

docs: Add mandatory sections to README.md
  README.md
Due: none

docs: Add mandatory sections to README.md (#453)
  README.md
Due: none

Delete cloudsql-proxy directory
  cloudsql-proxy/Dockerfile
  cloudsql-proxy/Makefile
  cloudsql-proxy/README.md
  cloudsql-proxy/envs
Due: pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy, pre-main-third-party-images-protecode-guard

Delete cloudsql-proxy directory (#454)
  cloudsql-proxy/Dockerfile
  cloudsql-proxy/Makefile
  cloudsql-proxy/README.md
  cloudsql-proxy/envs
Due: pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy, pre-main-third-party-images-protecode-guard

Delete k8s-tools directory
  k8s-tools/Dockerfile
  k8s-tools/Makefile
  k8s-tools/README.md
Due: pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools, pre-main-third-party-images-protecode-guard

Delete k8s-tools directory (#455)
  k8s-tools/Dockerfile
  k8s-tools/Makefile
  k8s-tools/README.md
Due: pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools, pre-main-third-party-images-protecode-guard

cleanup self-monitor
  .github/workflows/build-telemetry-self-monitor-image.yml
  CODEOWNERS
  telemetry-self-monitor/Dockerfile
  telemetry-self-monitor/README.md
  telemetry-self-monitor/envs
  telemetry-self-monitor/plugins.yml
Due: pre-main-third-party-images-protecode-guard

cleanup self-monitor (#456)
  .github/workflows/build-telemetry-self-monitor-image.yml
  CODEOWNERS
  telemetry-self-monitor/Dockerfile
  telemetry-self-monitor/README.md
  telemetry-self-monitor/envs
  telemetry-self-monitor/plugins.yml
Due: pre-main-third-party-images-protecode-guard
