Repository kyma-project/third-party-images: changes, and which Prow jobs are due for each by the changed paths.
All: pull-third-party-images-checkconfig, pull-third-party-images-pjconfigtest, pull-third-party-images-pjtester, pull-third-party-images-vpathguard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-k8s-tools, pre-main-tpi-kaniko-executer, pre-main-tpi-otel-collector, pre-main-tpi-telemetry-self-monitor, post-main-tpi-cloudsql-proxy, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-k8s-tools, post-main-tpi-kaniko-executer, post-main-tpi-otel-collector, post-main-tpi-telemetry-self-monitor, pre-main-third-party-images-protecode-guard, pre-main-tpi-alertmanager, pre-main-tpi-configmap-reload, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kube-state-metrics, post-main-tpi-alertmanager, post-main-tpi-configmap-reload, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kube-state-metrics

pull-third-party-images-checkconfig:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-third-party-images-checkconfig
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/k8s-prow/checkconfig:v20240408-838d843f
      securityContext:
  ...

pull-third-party-images-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-third-party-images-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20240429-870ea518
  ...

pull-third-party-images-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-third-party-images-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20240409-b4c75728
  ...

pull-third-party-images-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-third-party-images-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20240409-60850d30
  ...

pre-main-tpi-cloudsql-proxy:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-cloudsql-proxy
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-docker-registry:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-docker-registry
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-fluent-bit:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-fluent-bit
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/image-builder:v20240409-55d111d1
  ...

pre-main-tpi-k8s-tools:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-k8s-tools
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/image-builder:v20240409-55d111d1
  ...

pre-main-tpi-kaniko-executer:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-kaniko-executer
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

update to otel-collector 0.102.1
  otel-collector/envs
Due: pre-main-tpi-otel-collector, post-main-tpi-otel-collector, pre-main-third-party-images-protecode-guard

dedicated version for otel-collector contrib
  otel-collector/builder-config.yaml
  otel-collector/envs
Due: pre-main-tpi-otel-collector, post-main-tpi-otel-collector, pre-main-third-party-images-protecode-guard

dedicated version for otel-collector contrib
  otel-collector/Dockerfile
Due: pre-main-tpi-otel-collector, post-main-tpi-otel-collector, pre-main-third-party-images-protecode-guard

fix
  otel-collector/Dockerfile
Due: pre-main-tpi-otel-collector, post-main-tpi-otel-collector, pre-main-third-party-images-protecode-guard

update to otel-collector 0.102.1 (#436)
  otel-collector/Dockerfile
  otel-collector/builder-config.yaml
  otel-collector/envs
Due: pre-main-tpi-otel-collector, post-main-tpi-otel-collector, pre-main-third-party-images-protecode-guard

update to fluent-bit 3.0.7
  fluent-bit/envs
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit, pre-main-third-party-images-protecode-guard

update to fluent-bit 3.0.7 (#437)
  fluent-bit/envs
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit, pre-main-third-party-images-protecode-guard

update to prometheus LTS version 2.53.0 for telemetry-self-monitor
  telemetry-self-monitor/envs
Due: pre-main-tpi-telemetry-self-monitor, post-main-tpi-telemetry-self-monitor, pre-main-third-party-images-protecode-guard

update to prometheus LTS version 2.53.0 for telemetry-self-monitor (#438)
  telemetry-self-monitor/envs
Due: pre-main-tpi-telemetry-self-monitor, post-main-tpi-telemetry-self-monitor, pre-main-third-party-images-protecode-guard

remove otel-collector
  CODEOWNERS
  otel-collector/Dockerfile
  otel-collector/README.md
  otel-collector/builder-config.yaml
  otel-collector/envs
Due: pre-main-tpi-otel-collector, post-main-tpi-otel-collector, pre-main-third-party-images-protecode-guard

add workflows for fluentbit and selfmonitor
  .github/workflows/post-submit-fluentbit-build.yml
  .github/workflows/post-submit-self-monitor-build.yml
  .github/workflows/pre-submit-fluentbit-build.yml
  .github/workflows/pre-submit-self-monitor-build.yml
Due: pre-main-third-party-images-protecode-guard

unify pre and post submit workflows
  .github/workflows/build-fluentbit-image.yml
  .github/workflows/build-telemetry-self-monitor-image.yml
  .github/workflows/post-submit-fluentbit-build.yml
  .github/workflows/pre-submit-fluentbit-build.yml
Due: pre-main-third-party-images-protecode-guard

chore: Migrate third party images for fluent-bit and telemetry-self-monitor to Github Actions (#440)
  .github/workflows/build-fluentbit-image.yml
  .github/workflows/build-telemetry-self-monitor-image.yml
Due: pre-main-third-party-images-protecode-guard

chore: Fix builder tag typo, add more PR condition types
  .github/workflows/build-fluentbit-image.yml
  .github/workflows/build-telemetry-self-monitor-image.yml
Due: pre-main-third-party-images-protecode-guard

chore: Fix builder tag typo, add more PR condition types (#442)
  .github/workflows/build-fluentbit-image.yml
  .github/workflows/build-telemetry-self-monitor-image.yml
Due: pre-main-third-party-images-protecode-guard

switched fetch file order to fix pr workflow
  .github/workflows/build-fluentbit-image.yml
  .github/workflows/build-telemetry-self-monitor-image.yml
Due: pre-main-third-party-images-protecode-guard

switched fetch file order to fix pr workflow (#443)
  .github/workflows/build-fluentbit-image.yml
  .github/workflows/build-telemetry-self-monitor-image.yml
Due: pre-main-third-party-images-protecode-guard

bump fluent bit to 3.1.0
  fluent-bit/envs
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit, pre-main-third-party-images-protecode-guard

update new patch 3.1.1
  fluent-bit/envs
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit, pre-main-third-party-images-protecode-guard

bump fluent bit to 3.1.1 (#441)
  fluent-bit/envs
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit, pre-main-third-party-images-protecode-guard

build 3.1.0 image to test
  fluent-bit/envs
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit, pre-main-third-party-images-protecode-guard

remove otel-collector (#439)
  CODEOWNERS
  otel-collector/Dockerfile
  otel-collector/README.md
  otel-collector/builder-config.yaml
  otel-collector/envs
Due: pre-main-tpi-otel-collector, post-main-tpi-otel-collector, pre-main-third-party-images-protecode-guard

remove otters components
  docker-registry/Dockerfile
  docker-registry/README.md
  docker-registry/envs
  kaniko-executer/Dockerfile
  kaniko-executer/README.md
  kaniko-executer/envs
Due: pre-main-tpi-docker-registry, pre-main-tpi-kaniko-executer, post-main-tpi-docker-registry, post-main-tpi-kaniko-executer, pre-main-third-party-images-protecode-guard

remove otters components (#446)
  docker-registry/Dockerfile
  docker-registry/README.md
  docker-registry/envs
  kaniko-executer/Dockerfile
  kaniko-executer/README.md
  kaniko-executer/envs
Due: pre-main-tpi-docker-registry, pre-main-tpi-kaniko-executer, post-main-tpi-docker-registry, post-main-tpi-kaniko-executer, pre-main-third-party-images-protecode-guard

bump fluent bit to 3.1.3
  fluent-bit/envs
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit, pre-main-third-party-images-protecode-guard

use fluent-bit mirror from internal registry
  fluent-bit/Dockerfile
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit, pre-main-third-party-images-protecode-guard

bump fluent bit to 3.1.3 (#445)
  fluent-bit/Dockerfile
  fluent-bit/envs
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit, pre-main-third-party-images-protecode-guard

update self-monitor to prometheus 2.53.1
  telemetry-self-monitor/envs
Due: pre-main-tpi-telemetry-self-monitor, post-main-tpi-telemetry-self-monitor, pre-main-third-party-images-protecode-guard

fix self-monitor workflow
  .github/workflows/build-telemetry-self-monitor-image.yml
Due: pre-main-third-party-images-protecode-guard

fix self-monitor workflow (#448)
  .github/workflows/build-telemetry-self-monitor-image.yml
Due: pre-main-third-party-images-protecode-guard

fix
  telemetry-self-monitor/Dockerfile
Due: pre-main-tpi-telemetry-self-monitor, post-main-tpi-telemetry-self-monitor, pre-main-third-party-images-protecode-guard

fix self-monitor workflow
  .github/workflows/build-fluentbit-image.yml
  .github/workflows/build-telemetry-self-monitor-image.yml
Due: pre-main-third-party-images-protecode-guard

fix self-monitor workflow (#449)
  .github/workflows/build-fluentbit-image.yml
  .github/workflows/build-telemetry-self-monitor-image.yml
Due: pre-main-third-party-images-protecode-guard

update self-monitor to prometheus 2.53.1 (#447)
  telemetry-self-monitor/envs
Due: pre-main-tpi-telemetry-self-monitor, post-main-tpi-telemetry-self-monitor, pre-main-third-party-images-protecode-guard

update self-monitor image to prometheus 2.53.2
  telemetry-self-monitor/envs
Due: pre-main-tpi-telemetry-self-monitor, post-main-tpi-telemetry-self-monitor, pre-main-third-party-images-protecode-guard

update self-monitor image to prometheus 2.53.2 (#451)
  telemetry-self-monitor/envs
Due: pre-main-tpi-telemetry-self-monitor, post-main-tpi-telemetry-self-monitor, pre-main-third-party-images-protecode-guard

remove fluent-bit image as the upstream image gets used directly
  .github/workflows/build-fluentbit-image.yml
  CODEOWNERS
  fluent-bit/Dockerfile
  fluent-bit/README.md
  fluent-bit/envs
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit, pre-main-third-party-images-protecode-guard

remove fluent-bit image as the upstream image gets used directly (#452)
  .github/workflows/build-fluentbit-image.yml
  CODEOWNERS
  fluent-bit/Dockerfile
  fluent-bit/README.md
  fluent-bit/envs
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit, pre-main-third-party-images-protecode-guard

Path conditions:
  pull-third-party-images-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-third-party-images-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-third-party-images-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-third-party-images-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  pre-main-tpi-docker-registry: any of: ^docker-registry/
  pre-main-tpi-fluent-bit: any of: ^fluent-bit/
  pre-main-tpi-k8s-tools: any of: ^k8s-tools/
  pre-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  pre-main-tpi-otel-collector: any of: ^otel-collector/
  pre-main-tpi-telemetry-self-monitor: any of: ^telemetry-self-monitor/
  post-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  post-main-tpi-docker-registry: any of: ^docker-registry/
  post-main-tpi-fluent-bit: any of: ^fluent-bit/
  post-main-tpi-k8s-tools: any of: ^k8s-tools/
  post-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  post-main-tpi-otel-collector: any of: ^otel-collector/
  post-main-tpi-telemetry-self-monitor: any of: ^telemetry-self-monitor/
  pre-main-third-party-images-protecode-guard: any of: ^((.*)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-tpi-alertmanager: any of: ^alertmanager/
  pre-main-tpi-configmap-reload: any of: ^configmap-reload/
  pre-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  pre-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  pre-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  pre-main-tpi-grafana: any of: ^grafana/
  pre-main-tpi-kube-state-metrics: any of: ^kube-state-metrics/
  post-main-tpi-alertmanager: any of: ^alertmanager/
  post-main-tpi-configmap-reload: any of: ^configmap-reload/
  post-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  post-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  post-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  post-main-tpi-grafana: any of: ^grafana/
  post-main-tpi-kube-state-metrics: any of: ^kube-state-metrics/
