Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning, pre-master-provisioner-whitesource-scan

Path conditions:
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  pre-master-provisioner-whitesource-scan: any of: go.mod|go.sum

Add temporrary debug logging
  components/kyma-environment-broker/common/director/client.go
  components/kyma-environment-broker/common/director/config.go
Due: none

gofmt files
  components/kyma-environment-broker/common/director/config.go
Due: none

Refactor director client to use oauth wrapper
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/common/director/automock/OauthClient.go
  components/kyma-environment-broker/common/director/client.go
  components/kyma-environment-broker/common/director/client_test.go
  components/kyma-environment-broker/common/director/config.go
  components/kyma-environment-broker/common/director/oauth/client.go
  components/kyma-environment-broker/common/director/oauth/client_test.go
  components/kyma-environment-broker/common/director/oauth/types.go
  components/kyma-environment-broker/common/director/oauth/types_test.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
Due: pre-master-control-plane-integration

Apply suggestions from CR#2
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/common/director/client.go
  components/kyma-environment-broker/common/director/client_test.go
Due: none

Bump subaccount-cleaner job image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Refactor director client in KEB (#217)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/common/director/automock/OauthClient.go
  components/kyma-environment-broker/common/director/client.go
  components/kyma-environment-broker/common/director/client_test.go
  components/kyma-environment-broker/common/director/config.go
  components/kyma-environment-broker/common/director/fake_client.go
  components/kyma-environment-broker/common/director/oauth/client.go
  components/kyma-environment-broker/common/director/oauth/client_test.go
  components/kyma-environment-broker/common/director/oauth/types.go
  components/kyma-environment-broker/common/director/oauth/types_test.go
  components/kyma-environment-broker/internal/ias/bundle.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step.go
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Adapt CIS client ver1 to the new response format (#262)
  components/kyma-environment-broker/internal/cis/client_ver_1.go
  components/kyma-environment-broker/internal/cis/client_ver_1_test.go
  components/kyma-environment-broker/internal/cis/model.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Extend runtime resolver with planName (#260)
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/resolver.go
  components/kyma-environment-broker/internal/orchestration/resolver_test.go
Due: none

Upgrade HTTP clients - treat connection error as a temporary
  components/kyma-environment-broker/internal/avs/client.go
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/edp/client.go
  components/kyma-environment-broker/internal/ias/client.go
  components/kyma-environment-broker/internal/lms/client.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step.go
  components/kyma-environment-broker/internal/process/provisioning/lms_tenant_step.go
Due: none

Bump KEB image version
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

fix imports
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step.go
Due: none

fix after CR#1
  components/kyma-environment-broker/internal/avs/client.go
Due: none

Make OIDC issuer configurable
  resources/oidc-kubeconfig-service/templates/deployment.yaml
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-master-control-plane-integration

fix after CR#2
  components/kyma-environment-broker/internal/avs/client.go
  components/kyma-environment-broker/internal/edp/client.go
  components/kyma-environment-broker/internal/ias/client.go
  components/kyma-environment-broker/internal/lms/client.go
Due: none

Changes after review
  resources/oidc-kubeconfig-service/templates/deployment.yaml
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-master-control-plane-integration

Changes after review
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-master-control-plane-integration

Make OIDC issuer configurable (#264)
  resources/oidc-kubeconfig-service/templates/deployment.yaml
  resources/oidc-kubeconfig-service/values.yaml
Due: pre-master-control-plane-integration

Upgrade HTTP clients - treat connection error as a temporary (#258)
  components/kyma-environment-broker/internal/avs/client.go
  components/kyma-environment-broker/internal/avs/delegator.go
  components/kyma-environment-broker/internal/edp/client.go
  components/kyma-environment-broker/internal/ias/client.go
  components/kyma-environment-broker/internal/lms/client.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step.go
  components/kyma-environment-broker/internal/process/provisioning/lms_tenant_step.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

proper matching of shoot in domain name
  components/kyma-environment-broker/internal/runtime/handler.go
  components/kyma-environment-broker/internal/storage/dbsession/read.go
  components/kyma-environment-broker/internal/storage/driver/memory/instance.go
Due: none

Add error to log
  components/kyma-environment-broker/internal/process/deprovisioning/manager.go
Due: none

Fix fetching ProvisioningParameters
  components/kyma-environment-broker/internal/process/deprovisioning/manager.go
  components/kyma-environment-broker/internal/process/deprovisioning/manager_test.go
Due: none

Add PlanID to deprovision operation logs
  components/kyma-environment-broker/internal/process/deprovisioning/manager.go
  components/kyma-environment-broker/internal/process/deprovisioning/manager_test.go
  components/kyma-environment-broker/internal/process/provisioning/manager.go
Due: none

Bump e2e provisioning test image version
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Update director client in e2e tests
  components/kyma-environment-broker/README.md
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
  tests/e2e/provisioning/Gopkg.lock
  tests/e2e/provisioning/Gopkg.toml
  tests/e2e/provisioning/README.md
  tests/e2e/provisioning/test/test_suite.go
Due: pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Upgrade to Kyma 1.16.0-rc2 (verify functionality)
  installation/resources/KYMA_VERSION
Due: pre-master-control-plane-integration

Apply suggestions from code review
  components/kyma-environment-broker/internal/storage/dbsession/read.go
Due: none

After review
  components/kyma-environment-broker/common/pagination/pagination.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler.go
  components/kyma-environment-broker/internal/storage/dbsession/read.go
Due: none

Add PlanID to deprovision operation logs (#256)
  components/kyma-environment-broker/internal/process/deprovisioning/manager.go
  components/kyma-environment-broker/internal/process/deprovisioning/manager_test.go
  components/kyma-environment-broker/internal/process/provisioning/manager.go
Due: none

Update director client in e2e tests (#263)
  components/kyma-environment-broker/README.md
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
  resources/kcp/values.yaml
  tests/e2e/provisioning/Gopkg.lock
  tests/e2e/provisioning/Gopkg.toml
  tests/e2e/provisioning/README.md
  tests/e2e/provisioning/test/test_suite.go
Due: pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Bump image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Implement API for upgrade operations (#254)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/common/pagination/pagination.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/orchestration/dto.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter.go
  components/kyma-environment-broker/internal/orchestration/handlers/converter_test.go
  components/kyma-environment-broker/internal/orchestration/handlers/handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler.go
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler_test.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/process/upgrade_kyma/upgrade_kyma_step.go
  components/kyma-environment-broker/internal/runtime/handler.go
  components/kyma-environment-broker/internal/runtime/model.go
  components/kyma-environment-broker/internal/storage/dbsession/factory.go
  components/kyma-environment-broker/internal/storage/dbsession/read.go
  components/kyma-environment-broker/internal/storage/driver/memory/instance.go
  components/kyma-environment-broker/internal/storage/driver/memory/operation.go
  components/kyma-environment-broker/internal/storage/driver/memory/orchestration.go
  components/kyma-environment-broker/internal/storage/driver/memory/runtime_state.go
  components/kyma-environment-broker/internal/storage/driver/postsql/operation.go
  components/kyma-environment-broker/internal/storage/driver/postsql/orchestration.go
  components/kyma-environment-broker/internal/storage/driver/postsql/runtime_state.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/storage_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fixes connector certificate revocation
  installation/resources/COMPASS_VERSION
Due: pre-master-control-plane-integration

Remove token refresing functionality from AvS client
  components/kyma-environment-broker/internal/avs/client.go
Due: none

Bump KEB image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Remove token refreshing functionality from AvS client (#268)
  components/kyma-environment-broker/internal/avs/client.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

store provider_region in new instance field
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/runtime/converter.go
  components/kyma-environment-broker/internal/runtime/handler_test.go
  components/kyma-environment-broker/internal/storage/dbsession/read.go
  components/kyma-environment-broker/internal/storage/dbsession/write.go
  components/kyma-environment-broker/internal/storage/driver/memory/instance.go
  components/kyma-environment-broker/internal/storage/storage_test.go
  components/kyma-environment-broker/internal/storage/tests_utils.go
  components/schema-migrator/migrations/kyma-environment-broker/202010131417_add_provider_region_to_instance.down.sql
  components/schema-migrator/migrations/kyma-environment-broker/202010131417_add_provider_region_to_instance.up.sql
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

fix storage test
  components/kyma-environment-broker/internal/storage/dbsession/read.go
Due: none

SKR CLI: internal documentation
  components/kyma-environment-broker/Makefile.cli
  components/kyma-environment-broker/cmd/cli/gendocs/gendocs.go
  docs/cli/01-01-overview.md
  docs/cli/02-01-usage.md
  docs/cli/commands/skr.md
  docs/cli/commands/skr_kubeconfig.md
  docs/cli/commands/skr_login.md
  docs/cli/commands/skr_orchestrations.md
  docs/cli/commands/skr_runtimes.md
  docs/cli/commands/skr_taskrun.md
  docs/cli/commands/skr_upgrade.md
  docs/cli/commands/skr_upgrade_kyma.md
Due: none

Adjust documentation after orchestration changes
  components/kyma-environment-broker/internal/model.go
  docs/kyma-environment-broker/03-10-orchestration.md
  docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
  docs/kyma-environment-broker/08-06-orchestration-status.md
Due: none

Update doc for runtime overrides in KEB
  docs/kyma-environment-broker/03-06-runtime-overrides.md
Due: none
