Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration, pre-control-plane-tests-e2e-provisioning, post-control-plane-tests-e2e-provisioning

Path conditions:
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
  pre-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/
  post-control-plane-tests-e2e-provisioning: any of: ^tests/e2e/provisioning/|^scripts/

Apply suggestions from code review
  docs/kyma-environment-broker/03-05-authorization.md
  docs/kyma-environment-broker/03-10-orchestration.md
  docs/kyma-environment-broker/08-03-orchestration-status.md
  docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
Due: none

After review
  docs/kyma-environment-broker/03-03-runtime-operations.md
  docs/kyma-environment-broker/03-10-orchestration.md
  docs/kyma-environment-broker/08-06-orchestration-status.md
Due: none

Update 03-03-runtime-operations.md
  docs/kyma-environment-broker/03-03-runtime-operations.md
Due: none

Create documentation about upgrade
  docs/kyma-environment-broker/03-05-authorization.md
  docs/kyma-environment-broker/03-10-orchestration.md
  docs/kyma-environment-broker/08-01-provisioning-kyma-environment.md
  docs/kyma-environment-broker/08-03-orchestration-status.md
  docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
Due: none

After review
  docs/README.md
  docs/kyma-environment-broker/08-03-orchestration-status.md
Due: none

Apply suggestions from code review
  docs/kyma-environment-broker/03-05-authorization.md
  docs/kyma-environment-broker/03-10-orchestration.md
Due: none

Update 03-10-orchestration.md
  docs/kyma-environment-broker/03-10-orchestration.md
Due: none

Update docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
  docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
Due: none

after review
  docs/kyma-environment-broker/03-10-orchestration.md
Due: none

after review
  docs/kyma-environment-broker/03-03-runtime-operations.md
Due: none

Apply suggestions from code review
  docs/kyma-environment-broker/03-10-orchestration.md
Due: none

Update docs/kyma-environment-broker/08-06-orchestration-status.md
  docs/kyma-environment-broker/08-06-orchestration-status.md
Due: none

Create documentation about upgrade (#170)
  docs/kyma-environment-broker/03-03-runtime-operations.md
  docs/kyma-environment-broker/03-05-authorization.md
  docs/kyma-environment-broker/03-10-orchestration.md
  docs/kyma-environment-broker/08-01-provisioning-kyma-environment.md
  docs/kyma-environment-broker/08-05-orchestrate-kyma-upgrade.md
  docs/kyma-environment-broker/08-06-orchestration-status.md
Due: none

Golang image from gcr used
  components/provisioner/Dockerfile
Due: none

Image bump
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Disable internal AVS monitoring for Trial Plan
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Upgrade fork dependency
  components/provisioner/go.mod
Due: none

Remove fork
  components/provisioner/go.mod
Due: none

Use images from GCR in Dockerfiles (#190)
  components/provisioner/Dockerfile
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Run AVS removal step for trial runtimes
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Disable internal AVS monitoring for Trial Plan (#192)
  components/kyma-environment-broker/cmd/broker/main.go
Due: none

Allow configuring external compass URLs
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/templates/tests/test-provisioner.yaml
  resources/kcp/values.yaml
  resources/oidc-kubeconfig-service/templates/deployment.yaml
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

fixing metric port
  resources/kcp/charts/metris/templates/service.yaml
Due: pre-master-control-plane-integration

fixing metric port (#195)
  resources/kcp/charts/metris/templates/service.yaml
Due: pre-master-control-plane-integration

enable zones, use one zone by default
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/gcp_provider.go
  docs/kyma-environment-broker/03-01-service-description.md
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

KEB fails fast if the error is permanent
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/client_test.go
  components/kyma-environment-broker/internal/third_party/machinebox/graphql/LICENSE
  components/kyma-environment-broker/internal/third_party/machinebox/graphql/README.md
  components/kyma-environment-broker/internal/third_party/machinebox/graphql/graphql.go
  components/kyma-environment-broker/internal/third_party/machinebox/graphql/graphql_json_test.go
  components/kyma-environment-broker/internal/third_party/machinebox/graphql/graphql_multipart_test.go
Due: none

bump image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Bump provisioner image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Bump Provisioner and Provisioner Tests images (#199)
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Specify external default domain insterad of internal
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Use compass-gateway.domain only if set
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/templates/tests/test-provisioner.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

Reprocess orchestration on start
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/orchestration/kyma/manager.go
  components/kyma-environment-broker/internal/storage/dbsession/factory.go
  components/kyma-environment-broker/internal/storage/dbsession/read.go
  components/kyma-environment-broker/internal/storage/driver/memory/orchestration.go
  components/kyma-environment-broker/internal/storage/driver/postsql/orchestration.go
  components/kyma-environment-broker/internal/storage/ext.go
  components/kyma-environment-broker/internal/storage/storage_test.go
Due: none

Fix helm value
  resources/kcp/charts/kyma-environment-broker/templates/deployment.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-azure.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-provisioning-gcp.yaml
  resources/kcp/charts/kyma-environment-broker/templates/tests/e2e-upgrade-azure.yaml
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/templates/tests/test-provisioner.yaml
  resources/kcp/values.yaml
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

rename method
  components/kyma-environment-broker/internal/storage/dbsession/factory.go
  components/kyma-environment-broker/internal/storage/dbsession/read.go
  components/kyma-environment-broker/internal/storage/driver/postsql/orchestration.go
Due: none

Keb fails fast (#183)
  components/kyma-environment-broker/Gopkg.lock
  components/kyma-environment-broker/Gopkg.toml
  components/kyma-environment-broker/internal/process/provisioning/create_runtime.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/provisioner/client.go
  components/kyma-environment-broker/internal/provisioner/client_test.go
  components/kyma-environment-broker/internal/third_party/machinebox/graphql/LICENSE
  components/kyma-environment-broker/internal/third_party/machinebox/graphql/README.md
  components/kyma-environment-broker/internal/third_party/machinebox/graphql/graphql.go
  components/kyma-environment-broker/internal/third_party/machinebox/graphql/graphql_json_test.go
  components/kyma-environment-broker/internal/third_party/machinebox/graphql/graphql_multipart_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Enable bulk orchestration requests
  components/kyma-environment-broker/internal/orchestration/handlers/kyma_handler.go
Due: none

Replace text with v033 version
  components/provisioner/go.mod
  components/provisioner/go.sum
Due: none
