Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

pre-master-control-plane-gke-provisioner-integration:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20200513-93bafa15-k8s1.16
      securityContext:
        privileged: true
      command:
      - bash
      args:
      - -c
  ...

pre-master-control-plane-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder2:v20200124-69faeef6
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-control-plane.sh
      resources:
        requests:
          memory: 100Mi
  ...

KEB: inputCreator.EnableCOmponent method
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/automock/provision_input_creator.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder.go
  components/kyma-environment-broker/internal/process/provisioning/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step_test.go
Due: none

Bump KEB image (#92)
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Update upgradeShoot() mutation description (#94)
  docs/provisioner/provisioning-api.md
Due: none

Default Kyma overrides for Trial
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides.go
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides_test.go
Due: none

wip
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides_test.go
Due: none

KEB: inputCreator.EnableCOmponent method (#79)
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/automock/provision_input_creator.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder.go
  components/kyma-environment-broker/internal/process/provisioning/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step_test.go
Due: none

Update Dockerfile
  components/provisioner/Dockerfile
Due: none

Default Kyma settings for Trial (#97)
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides.go
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides_test.go
Due: none

Service refactor
  components/kyma-environment-broker/internal/environmentscleanup/service.go
Due: none

Fix wrong namespace in tests
  tests/provisioner-tests/test/testkit/compass/director/oauth/client_test.go
Due: none

wip
  docs/internal/investigations/assets/governor-poc-stage-1.svg
  docs/internal/investigations/assets/governor-poc-stage-2.svg
  docs/internal/investigations/runtime-governor-poc.md
  docs/internal/investigations/runtime-governor-poc/README.md
  docs/internal/investigations/runtime-governor-poc/cleanup.sh
  docs/internal/investigations/runtime-governor-poc/governor/chart/Chart.yaml
  docs/internal/investigations/runtime-governor-poc/governor/chart/templates/configmap.yaml
  docs/internal/investigations/runtime-governor-poc/governor/chart/templates/ingress.yaml
  docs/internal/investigations/runtime-governor-poc/governor/chart/templates/virtualservice.yaml
  docs/internal/investigations/runtime-governor-poc/governor/chart/values.yaml
  docs/internal/investigations/runtime-governor-poc/governor/component/README.md
  docs/internal/investigations/runtime-governor-poc/governor/component/deploy.sh
  docs/internal/investigations/runtime-governor-poc/governor/component/hack/config.yaml
  docs/internal/investigations/runtime-governor-poc/governor/redis-svc.yaml
  docs/internal/investigations/runtime-governor-poc/runtime/chart/.helmignore
  docs/internal/investigations/runtime-governor-poc/runtime/chart/Chart.yaml
  docs/internal/investigations/runtime-governor-poc/runtime/chart/templates/_helpers.tpl
  docs/internal/investigations/runtime-governor-poc/runtime/chart/templates/deployments.yaml
  docs/internal/investigations/runtime-governor-poc/runtime/chart/templates/rbac.yaml
  docs/internal/investigations/runtime-governor-poc/runtime/chart/values.yaml
  docs/internal/investigations/runtime-governor-poc/runtime/component/.gitignore
  docs/internal/investigations/runtime-governor-poc/runtime/component/Dockerfile
  docs/internal/investigations/runtime-governor-poc/runtime/component/cmd/main.go
  docs/internal/investigations/runtime-governor-poc/runtime/component/deploy.sh
  docs/internal/investigations/runtime-governor-poc/runtime/component/go.mod
  docs/internal/investigations/runtime-governor-poc/runtime/component/go.sum
  docs/internal/investigations/runtime-governor-poc/runtime/component/internal/dapr/client.go
  docs/internal/investigations/runtime-governor-poc/runtime/component/internal/kcp/client.go
  docs/internal/investigations/runtime-governor-poc/runtime/node.yaml
  docs/internal/investigations/runtime-governor-poc/setup-governor.sh
  docs/internal/investigations/runtime-governor-poc/setup-runtime1-agent.sh
  docs/internal/investigations/runtime-governor-poc/setup-runtime1.sh
  docs/internal/investigations/runtime-governor-poc/setup-runtime2-agent.sh
  docs/internal/investigations/runtime-governor-poc/setup-runtime2.sh
Due: none

wip
  docs/internal/investigations/runtime-governor-poc.md
Due: none

wip
  docs/internal/investigations/runtime-governor-poc/governor/component/README.md
Due: none

Add Azure Trial plan
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/plans_validator.go
  components/kyma-environment-broker/internal/broker/plans_validator_test.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder_test.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds_test.go
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides_test.go
  components/kyma-environment-broker/internal/process/provisioning/skip_for_trial_step_test.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/gcp_provider.go
Due: none

Bump values
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Bump image versions
  resources/kcp/values.yaml
  tests/provisioner-tests/test/testkit/compass/director/oauth/client_test.go
Due: pre-master-control-plane-integration

bump compass version, increase memory limit for compass-installer
  installation/resources/COMPASS_VERSION
Due: pre-master-control-plane-integration

Increase kcp-installer container memory limit to 2Gi (#93)
  installation/resources/installer.yaml
Due: pre-master-control-plane-integration

bump compass version, increase memory limit for compass-installer (#99)
  installation/resources/COMPASS_VERSION
Due: pre-master-control-plane-integration

Add AzureTrial plan (#98)
  components/kyma-environment-broker/internal/broker/broker.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/plans_validator.go
  components/kyma-environment-broker/internal/broker/plans_validator_test.go
  components/kyma-environment-broker/internal/process/provisioning/initialisation.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder_test.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds.go
  components/kyma-environment-broker/internal/process/provisioning/resolve_creds_test.go
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides_test.go
  components/kyma-environment-broker/internal/process/provisioning/skip_for_trial_step_test.go
  components/kyma-environment-broker/internal/provider/azure_provider.go
  components/kyma-environment-broker/internal/provider/gcp_provider.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Fix panic on Environments Cleanup job (#83)
  components/kyma-environment-broker/cmd/environmentscleanup/main.go
  components/kyma-environment-broker/internal/environmentscleanup/service.go
  components/kyma-environment-broker/internal/environmentscleanup/service_test.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Add new shoot annotations concerning KCP
  components/provisioner/internal/api/resolver_integration_test.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/gardener/annotations.go
  components/provisioner/internal/gardener/annotations_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
Due: none

Adjust test
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
Due: none

Ajust annotation in KEB
  components/kyma-environment-broker/internal/environmentscleanup/service.go
Due: none

Update docs/internal/investigations/runtime-governor-poc.md
  docs/internal/investigations/runtime-governor-poc.md
Due: none

Apply suggestions from code review
  docs/internal/investigations/runtime-governor-poc.md
Due: none

Control Plane Agent POC with dapr (#57)
  docs/internal/investigations/assets/governor-poc-stage-1.svg
  docs/internal/investigations/assets/governor-poc-stage-2.svg
  docs/internal/investigations/runtime-governor-poc.md
  docs/internal/investigations/runtime-governor-poc/README.md
  docs/internal/investigations/runtime-governor-poc/cleanup.sh
  docs/internal/investigations/runtime-governor-poc/governor/chart/Chart.yaml
  docs/internal/investigations/runtime-governor-poc/governor/chart/templates/configmap.yaml
  docs/internal/investigations/runtime-governor-poc/governor/chart/templates/ingress.yaml
  docs/internal/investigations/runtime-governor-poc/governor/chart/templates/virtualservice.yaml
  docs/internal/investigations/runtime-governor-poc/governor/chart/values.yaml
  docs/internal/investigations/runtime-governor-poc/governor/component/README.md
  docs/internal/investigations/runtime-governor-poc/governor/component/deploy.sh
  docs/internal/investigations/runtime-governor-poc/governor/component/hack/config.yaml
  docs/internal/investigations/runtime-governor-poc/governor/redis-svc.yaml
  docs/internal/investigations/runtime-governor-poc/runtime/chart/.helmignore
  docs/internal/investigations/runtime-governor-poc/runtime/chart/Chart.yaml
  docs/internal/investigations/runtime-governor-poc/runtime/chart/templates/_helpers.tpl
  docs/internal/investigations/runtime-governor-poc/runtime/chart/templates/deployments.yaml
  docs/internal/investigations/runtime-governor-poc/runtime/chart/templates/rbac.yaml
  docs/internal/investigations/runtime-governor-poc/runtime/chart/values.yaml
  docs/internal/investigations/runtime-governor-poc/runtime/component/.gitignore
  docs/internal/investigations/runtime-governor-poc/runtime/component/Dockerfile
  docs/internal/investigations/runtime-governor-poc/runtime/component/cmd/main.go
  docs/internal/investigations/runtime-governor-poc/runtime/component/deploy.sh
  docs/internal/investigations/runtime-governor-poc/runtime/component/go.mod
  docs/internal/investigations/runtime-governor-poc/runtime/component/go.sum
  docs/internal/investigations/runtime-governor-poc/runtime/component/internal/dapr/client.go
  docs/internal/investigations/runtime-governor-poc/runtime/component/internal/kcp/client.go
  docs/internal/investigations/runtime-governor-poc/runtime/node.yaml
  docs/internal/investigations/runtime-governor-poc/setup-governor.sh
  docs/internal/investigations/runtime-governor-poc/setup-runtime1-agent.sh
  docs/internal/investigations/runtime-governor-poc/setup-runtime1.sh
  docs/internal/investigations/runtime-governor-poc/setup-runtime2-agent.sh
  docs/internal/investigations/runtime-governor-poc/setup-runtime2.sh
Due: none

Test errors mapping
  components/provisioner/internal/director/directorclient_test.go
  components/provisioner/internal/graphql/gql_client_testkit.go
Due: none

Run make imports
  components/provisioner/internal/director/directorclient_test.go
Due: none

bump kyma_verison to master-9ec03fed
  installation/resources/KYMA_VERSION
Due: pre-master-control-plane-integration

Remove Compass references from Provisioner component (#70)
  components/kyma-environment-broker/internal/environmentscleanup/service.go
  components/provisioner/README.md
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/gardener/annotations.go
  components/provisioner/internal/gardener/annotations_test.go
  components/provisioner/internal/gardener/provisioner.go
  components/provisioner/internal/gardener/provisioner_test.go
  components/provisioner/internal/installation/resource_cleanup_test.go
  components/provisioner/internal/metrics/in_progress_operations_test.go
  components/provisioner/internal/metrics/metrics.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/oauth/client_test.go
  components/provisioner/internal/operations/stages/provisioning/wait_for_agent_to_connect_test.go
  components/provisioner/internal/runtime/configuration_test.go
  docs/provisioner/01-01-provisioner-overview.md
  docs/provisioner/08-02-provisioning-gardener.md
  resources/kcp/charts/provisioner/files/dashboard.json
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/values.yaml
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/scripts/run_localy.sh
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/upgrade_shoot_test.go
  tests/provisioner-tests/test/provisioner/upgrade_test.go
  tests/provisioner-tests/test/testkit/config.go
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

Cast the error code to float first
  components/provisioner/internal/director/directorclient.go
  components/provisioner/internal/director/directorclient_test.go
Due: none

Clean up
  components/provisioner/internal/director/directorclient.go
Due: none

Change step AVS owner in KEB documentation
  docs/kyma-environment-broker/03-03-runtime-provisioning-and-deprovisioning.md
Due: none

Change step AVS owner in KEB documentation (#103)
  docs/kyma-environment-broker/03-03-runtime-provisioning-and-deprovisioning.md
Due: none

Update KYMA_VERSION
  installation/resources/KYMA_VERSION
Due: pre-master-control-plane-integration

Update KYMA_VERSION (#105)
  installation/resources/KYMA_VERSION
Due: pre-master-control-plane-integration

KEB: Use Lite settings for Trial plan
  components/kyma-environment-broker/internal/broker/instance_create.go
  components/kyma-environment-broker/internal/process/provisioning/secret_cm_overrides.go
Due: none

wip
  components/kyma-environment-broker/internal/broker/instance_create_test.go
Due: none

Path conditions:
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/
