Repository kyma-project/control-plane: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

Path conditions:
  pre-master-control-plane-gke-provisioner-integration: any of: ^resources/kcp/charts/provisioner/
  pre-master-control-plane-integration: any of: ^(resources|installation)/

Add finishing process when step return 0 time
  components/kyma-environment-broker/internal/process/deprovisioning/manager.go
Due: none

Apply changes from CR #1
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/manager.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime_test.go
Due: none

Fix logger usage
  components/kyma-environment-broker/internal/process/provisioning/manager.go
Due: none

Bump KEB image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Added waiting for resource group deletion.
  components/subscription-cleanup-job/internal/cloudprovider/azure.go
Due: none

One TODO added.
  components/kyma-environment-broker/internal/hyperscaler/account_pool.go
Due: none

fix component names
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/plans_validator_test.go
Due: none

pass provider to builder
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/input_test.go
  components/kyma-environment-broker/internal/runtime/disabled_components.go
Due: none

refactor
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/input_test.go
  components/kyma-environment-broker/internal/runtime/disabled_components.go
Due: none

Add also the integrations test
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/testkit/compass/provisioner/graphqlizer.go
  tests/provisioner-tests/test/testkit/compass/provisioner/query.go
Due: none

Bump test image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Clean up
  components/provisioner/internal/provisioning/input_converter_test.go
  resources/kcp/charts/provisioner/values.yaml
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

Enhance test even more
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/testkit/util.go
Due: none

Fix typo
  tests/provisioner-tests/test/testkit/util.go
Due: none

Run every possible make verify
  tests/provisioner-tests/test/testkit/util.go
Due: none

fix docs
  docs/kyma-environment-broker/03-01-service-description.md
  docs/kyma-environment-broker/03-02-runtime-components.md
Due: none

fix docs
  components/kyma-environment-broker/internal/runtime/disabled_components_service.go
  components/kyma-environment-broker/internal/runtime/generic_component_disabler.go
  components/kyma-environment-broker/internal/runtime/generic_component_disabler_test.go
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

Fix deprovisioning process stuck in KEB (#101)
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation_test.go
  components/kyma-environment-broker/internal/process/deprovisioning/manager.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime.go
  components/kyma-environment-broker/internal/process/deprovisioning/remove_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/manager.go
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Require no error in the upgrade test
  tests/provisioner-tests/test/provisioner/upgrade_shoot_test.go
Due: none

Fix Provisioner tests
  components/provisioner/Dockerfile
  components/provisioner/internal/installation/release/provider_test.go
  components/provisioner/internal/operations/executor.go
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/templates/tests/test-provisioner.yaml
  resources/kcp/charts/provisioner/values.yaml
  tests/provisioner-tests/Dockerfile
  tests/provisioner-tests/scripts/entrypoint.sh
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/provisioner/upgrade_shoot_test.go
  tests/provisioner-tests/test/testkit/compass/provisioner/query.go
  tests/provisioner-tests/test/testkit/config.go
  tests/provisioner-tests/test/testkit/inputs.go
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

Cleanup
  tests/provisioner-tests/Dockerfile
  tests/provisioner-tests/test/provisioner/suite.go
Due: none

Cleanup
  tests/provisioner-tests/test/testkit/config.go
Due: none

Set image pull policy to always
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/charts/metris/values.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

Add '
  resources/kcp/charts/provisioner/templates/tests/test-provisioner.yaml
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

Clean things up
  tests/provisioner-tests/test/provisioner/e2e_test.go
Due: none

Bump images
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Code review remarks
  components/kyma-environment-broker/internal/hyperscaler/account_pool.go
  components/kyma-environment-broker/internal/hyperscaler/account_pool_test.go
  components/kyma-environment-broker/internal/hyperscaler/account_provider.go
  components/kyma-environment-broker/internal/hyperscaler/account_provider_test.go
  components/kyma-environment-broker/internal/hyperscaler/automock/account_provider.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation.go
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation_test.go
  components/subscription-cleanup-job/internal/job/cleaner.go
Due: none

Apply suggestions from code review
  docs/kyma-environment-broker/03-01-service-description.md
  docs/kyma-environment-broker/03-02-runtime-components.md
Due: none

Compilation fix
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation_test.go
Due: none

refactor docs
  docs/kyma-environment-broker/03-01-service-description.md
Due: none

Make allow privileged containers configurable (#109)
  components/provisioner/assets/database/provisioner.sql
  components/provisioner/cmd/init.go
  components/provisioner/cmd/main.go
  components/provisioner/internal/api/resolver_integration_with_gardener_test.go
  components/provisioner/internal/model/gardener_config.go
  components/provisioner/internal/model/gardener_config_test.go
  components/provisioner/internal/provisioning/graphql_converter.go
  components/provisioner/internal/provisioning/graphql_converter_test.go
  components/provisioner/internal/provisioning/input_converter.go
  components/provisioner/internal/provisioning/input_converter_test.go
  components/provisioner/internal/provisioning/persistence/dbsession/read.go
  components/provisioner/internal/provisioning/persistence/dbsession/write.go
  components/provisioner/internal/provisioning/service_test.go
  components/provisioner/pkg/gqlschema/models_gen.go
  components/provisioner/pkg/gqlschema/schema.graphql
  components/provisioner/pkg/gqlschema/schema_gen.go
  components/schema-migrator/migrations/provisioner/202008061314_add_allow_privileged_containers_to_gardener_config.down.sql
  components/schema-migrator/migrations/provisioner/202008061314_add_allow_privileged_containers_to_gardener_config.up.sql
  resources/kcp/charts/provisioner/templates/deployment.yaml
  resources/kcp/charts/provisioner/values.yaml
  resources/kcp/values.yaml
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
  tests/provisioner-tests/test/provisioner/e2e_test.go
  tests/provisioner-tests/test/provisioner/suite.go
  tests/provisioner-tests/test/provisioner/upgrade_shoot_test.go
  tests/provisioner-tests/test/testkit/compass/provisioner/graphqlizer.go
  tests/provisioner-tests/test/testkit/compass/provisioner/query.go
  tests/provisioner-tests/test/testkit/util.go
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

fix after review
  components/kyma-environment-broker/cmd/broker/main.go
  docs/kyma-environment-broker/03-01-service-description.md
  docs/kyma-environment-broker/03-02-runtime-components.md
Due: none

Remove fork
  tests/provisioner-tests/Gopkg.lock
  tests/provisioner-tests/Gopkg.toml
Due: none

Bump the image
  resources/kcp/values.yaml
Due: pre-master-control-plane-integration

Unit test fix
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation_test.go
Due: none

Go imports
  components/kyma-environment-broker/internal/process/deprovisioning/initialisation_test.go
Due: none

Disable components per plan (#117)
  components/kyma-environment-broker/cmd/broker/main.go
  components/kyma-environment-broker/internal/broker/instance_create_test.go
  components/kyma-environment-broker/internal/broker/plans.go
  components/kyma-environment-broker/internal/broker/plans_test.go
  components/kyma-environment-broker/internal/broker/plans_validator_test.go
  components/kyma-environment-broker/internal/model.go
  components/kyma-environment-broker/internal/process/provisioning/automock/provision_input_creator.go
  components/kyma-environment-broker/internal/process/provisioning/create_runtime_test.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step.go
  components/kyma-environment-broker/internal/process/provisioning/event_hub_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder.go
  components/kyma-environment-broker/internal/process/provisioning/input/builder_test.go
  components/kyma-environment-broker/internal/process/provisioning/input/input.go
  components/kyma-environment-broker/internal/process/provisioning/input/input_test.go
  components/kyma-environment-broker/internal/process/provisioning/knative_natss_step.go
  components/kyma-environment-broker/internal/process/provisioning/knative_natss_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/lms_cert_step_test.go
  components/kyma-environment-broker/internal/process/provisioning/natss_step.go
  components/kyma-environment-broker/internal/process/provisioning/natss_step_test.go
  components/kyma-environment-broker/internal/runtime/components/components.go
  components/kyma-environment-broker/internal/runtime/disabled_components.go
  components/kyma-environment-broker/internal/runtime/disabled_components_service.go
  components/kyma-environment-broker/internal/runtime/generic_component_disabler.go
  components/kyma-environment-broker/internal/runtime/generic_component_disabler_test.go
  components/kyma-environment-broker/internal/runtime/opt_components_service.go
  docs/kyma-environment-broker/03-01-service-description.md
  docs/kyma-environment-broker/03-02-runtime-components.md
Due: none

Set image pull policy to always (#125)
  resources/kcp/charts/kyma-environment-broker/values.yaml
  resources/kcp/charts/metris/values.yaml
  resources/kcp/charts/provisioner/values.yaml
Due: pre-master-control-plane-gke-provisioner-integration, pre-master-control-plane-integration

UPDATE KYMA_VERSION to master-71e350b4
  installation/resources/KYMA_VERSION
Due: pre-master-control-plane-integration
