Repository kyma-incubator/varkes: changes, and which Prow jobs are due for each by the changed paths.
All: varkes-odata-mock, varkes-openapi-mock

prow/jobs/incubator/varkes/odata-mock/odata-mock.yaml:

job_template: &job_template
  skip_report: false
  run_if_changed: "^odata-mock/"
  decorate: true
  path_alias: github.com/kyma-incubator/varkes
  max_concurrency: 10
  extra_refs:
    - org: kyma-project
      repo: test-infra
      base_ref: master
      path_alias: github.com/kyma-project/test-infra
  spec:
    containers:
      - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
        securityContext:
          privileged: true
        command:
          - "/home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh"
        args:
          - "/home/prow/go/src/github.com/kyma-incubator/varkes/odata-mock"
    resources:
      requests:
        memory: 1.5Gi
        cpu: 0.8
      limits:
        memory: 2Gi
        cpu: 1.4

job_labels_template: &job_labels_template
  preset-dind-enabled: "true"
  preset-sa-gcr-push: "true"
  preset-docker-push-repository-incubator: "true"

presubmits: # runs on PRs
  kyma-incubator/varkes:
    - name: varkes-odata-mock
      branches:
        - master
      <<: *job_template
      labels:
        <<: *job_labels_template
        preset-build-pr: "true"

postsubmits:
  kyma-incubator/varkes:
    - name: varkes-odata-mock
      branches:
        - master
      <<: *job_template
      labels:
        <<: *job_labels_template
        preset-build-master: "true"

prow/jobs/incubator/varkes/openapi-mock/openapi-mock.yaml:

job_template: &job_template
  skip_report: false
  decorate: true
  path_alias: github.com/kyma-incubator/varkes
  max_concurrency: 10
  extra_refs:
    - org: kyma-project
      repo: test-infra
      base_ref: master
      path_alias: github.com/kyma-project/test-infra
  spec:
    containers:
      - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
        securityContext:
          privileged: true
        command:
          - "/home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh"
        args:
          - "/home/prow/go/src/github.com/kyma-incubator/varkes/openapi-mock"

job_labels_template: &job_labels_template
  preset-dind-enabled: "true"
  preset-sa-gcr-push: "true"
  preset-docker-push-repository-incubator: "true"

presubmits: # runs on PRs
  kyma-incubator/varkes:
    - name: varkes-openapi-mock
      always_run: true
      branches:
        - master
      run_if_changed: "^openapi-mock/"
      <<: *job_template
      labels:
        <<: *job_labels_template
        preset-build-pr: "true"

postsubmits:
  kyma-incubator/varkes:
    - name: varkes-openapi-mock
      branches:
        - master
      <<: *job_template
      labels:
        <<: *job_labels_template
        preset-build-master: "true"

creating events array in config file
  app-connector-client/ec-events.json
  app-connector-client/server/server.js
  app-connector-client/server/views/index.html
  app-connector-client/varkes_config.js
Due: none

adding events to config validation
  app-connector-client/server/server.js
Due: none

adding token for npm push
  .gitignore
  app-connector-client/.npmrc
  odata-mock/.npmrc
  openapi-mock/.npmrc
Due: varkes-odata-mock, varkes-openapi-mock

fixxing odata testing problem
  odata-mock/package.json
  odata-mock/server/server.js
  odata-mock/test/test_odata.js
Due: varkes-odata-mock

update app-connector-client : add /app path tpo get ui
  app-connector-client/package.json
  app-connector-client/server/server.js
  examples/combined-odata-mock/app.js
  examples/combined-odata-mock/package-lock.json
  examples/combined-odata-mock/package.json
  openapi-mock/package.json
Due: varkes-openapi-mock

change spec_path to relative path
  odata-mock/config.js
Due: varkes-odata-mock

update odata test with prow
  Jenkinsfile
  odata-mock/Dockerfile
  odata-mock/test/test_odata.js
  openapi-mock/package.json
Due: varkes-odata-mock, varkes-openapi-mock

updating package desc for openapi
  openapi-mock/package.json
Due: varkes-openapi-mock

pate npmignore
  app-connector-client/package.json
  odata-mock/.npmignore
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-odata-mock, varkes-openapi-mock

fixing exception
  openapi-mock/api/mocks/mock_controller.js
Due: varkes-openapi-mock

some fixes
  odata-mock/common/utility/utility.js
  openapi-mock/api/utility/utility.js
Due: varkes-odata-mock, varkes-openapi-mock

update package version
  app-connector-client/package.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-odata-mock, varkes-openapi-mock

updating token to repo
  app-connector-client/.npmrc
  app-connector-client/package.json
  odata-mock/.npmrc
  openapi-mock/.npmrc
Due: varkes-odata-mock, varkes-openapi-mock

introducing asic logging and cleanup
  app-connector-client/Jenkinsfile.groovy
  app-connector-client/Makefile
  app-connector-client/README.md
  app-connector-client/ec-events.json
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/prestart.js
  app-connector-client/server/api.js
  app-connector-client/server/app.js
  app-connector-client/server/config.js
  app-connector-client/server/connector.js
  app-connector-client/server/logger.js
  app-connector-client/server/middleware.js
  app-connector-client/server/resources/api.js
  app-connector-client/server/resources/swagger.yaml
  app-connector-client/server/server.js
  app-connector-client/server/views/index.html
  app-connector-client/test/courses.yaml
  app-connector-client/test/events.json
  app-connector-client/test/integration/create_service.js
  app-connector-client/test/integration/delete-all-services.js
  app-connector-client/test/integration/varkes.config.json
  app-connector-client/test/schools.yaml
  app-connector-client/test/test_connector.js
  app-connector-client/test/varkes_config.js
  app-connector-client/tools/cli.js
  app-connector-client/tools/prestart.js
  app-connector-client/varkes_config.js
  examples/combined-odata-mock/app.js
  examples/combined-openapi-mock/app.js
  examples/combined-openapi-mock/odata-config.js
  examples/odata-mock-app/config.js
  examples/openapi-mock-app/config.js
  openapi-mock/app.js
Due: varkes-openapi-mock

introducing basic logging and cleanup
  app-connector-client/package.json
  app-connector-client/tools/cli.js
  openapi-mock/package.json
Due: varkes-openapi-mock

introducing basic logging and cleanup
  app-connector-client/package.json
Due: none

introducing basic logging and cleanup
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/keys.js
Due: none

update package version
  app-connector-client/package.json
Due: none

introducing basic logging and cleanupintroducing basic logging and cleanup
  app-connector-client/package.json
  app-connector-client/server/api.js
Due: none

introducing basic logging and cleanup
  app-connector-client/package.json
  app-connector-client/server/api.js
  app-connector-client/server/app.js
Due: none

introducing basic logging and cleanup
  app-connector-client/package.json
  app-connector-client/server/api.js
  app-connector-client/server/app.js
  app-connector-client/server/views/index.html
Due: none

introducing basic logging and cleanup
  app-connector-client/server/app.js
  app-connector-client/server/connector.js
  app-connector-client/test/test_connector.js
  app-connector-client/tools/cli.js
Due: none

restructuring
  app-connector-client/.npmignore
  app-connector-client/package.json
  app-connector-client/server/api.js
  app-connector-client/server/app.js
  app-connector-client/server/connector.js
  app-connector-client/server/keys.js
  app-connector-client/server/middleware.js
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/server.js
  openapi-mock/.npmignore
  openapi-mock/Jenkinsfile.groovy
  openapi-mock/README.md
  openapi-mock/api/mocks/mock_controller.js
  openapi-mock/app.js
  openapi-mock/package-lock.json
  openapi-mock/package.json
  openapi-mock/schools.yaml
  openapi-mock/server/app.js
  openapi-mock/server/logger.js
  openapi-mock/server/mock_controller.js
  openapi-mock/server/resources/OAuth_template.yaml
  openapi-mock/server/server.js
  openapi-mock/server/utility.js
  openapi-mock/test/Endpoint_template.yaml
  openapi-mock/test/config.js
  openapi-mock/test/courses.yaml
  openapi-mock/test/pets.yaml
  openapi-mock/test/test_openapi.js
Due: varkes-openapi-mock

restructuring
  openapi-mock/.npmignore
Due: varkes-openapi-mock

restructuring
  openapi-mock/test/test_openapi.js
Due: varkes-openapi-mock

restructuring
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/resources/console.html
  examples/combined-odata-mock/README.md
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/Dockerfile
  examples/combined-openapi-mock/README.md
  examples/combined-openapi-mock/app.js
  examples/combined-openapi-mock/config.js
  examples/combined-openapi-mock/courses.yaml
  examples/combined-openapi-mock/odata-config.js
  examples/combined-openapi-mock/package-lock.json
  examples/combined-openapi-mock/package.json
  examples/combined-openapi-mock/schools.yaml
  examples/odata-mock-app/README.md
  examples/odata-mock-app/package.json
  examples/openapi-mock-app/Dockerfile
  examples/openapi-mock-app/OAuth_template.yaml
  examples/openapi-mock-app/README.md
  examples/openapi-mock-app/app.js
  examples/openapi-mock-app/config.js
  examples/openapi-mock-app/package-lock.json
  examples/openapi-mock-app/package.json
  examples/openapi-mock-app/swagger.yaml
  odata-mock/.npmignore
  odata-mock/Jenkinsfile.groovy
  odata-mock/config.js
  odata-mock/test/config.js
  odata-mock/test/data.json
  openapi-mock/package.json
  openapi-mock/server/mock_controller.js
  openapi-mock/server/resources/console_template.html
Due: varkes-odata-mock, varkes-openapi-mock

add disconnect button
  app-connector-client/server/views/index.html
Due: none

change key size to 2048
  app-connector-client/server/keys.js
Due: none

fixed restart problems
  app-connector-client/server/connector.js
Due: none

adjusted page titles for the console
  app-connector-client/server/resources/console.html
  openapi-mock/server/mock_controller.js
  openapi-mock/server/resources/console_template.html
Due: varkes-openapi-mock

remove title endpoint
  app-connector-client/package-lock.json
  app-connector-client/server/app.js
  app-connector-client/server/connector.js
  app-connector-client/server/views/index.html
Due: none

make apis modular
  app-connector-client/server/apis.js
  app-connector-client/server/app.js
Due: none

make connector moduler
  app-connector-client/server/app.js
  app-connector-client/server/connector.js
Due: none

small fixes
  app-connector-client/server/app.js
  openapi-mock/server/app.js
Due: varkes-openapi-mock

small fixes
  app-connector-client/server/app.js
  app-connector-client/server/connector.js
  openapi-mock/server/app.js
Due: varkes-openapi-mock

cleanup
  app-connector-client/server/app.js
  app-connector-client/server/connector.js
Due: none

bla
  .gitignore
Due: none

bla
  odata-mock/server/app.js
  odata-mock/server/boot/routes.js
  odata-mock/server/parser.js
  odata-mock/server/resources/datasources.json
  odata-mock/server/resources/model-config.json
  odata-mock/server/resources/modelConfigTemplate.json
  odata-mock/server/server.js
  odata-mock/server/utility.js
Due: varkes-odata-mock
