Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-gitserver-build, post-gitserver-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-registry-gc-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-controller-python39-build

pre-serverless-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-git-auth-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-git-auth-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-serverless-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-serverless-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v18-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v18-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v20-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v20-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-python39-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-python39-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-python312-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-python312-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-java17-jvm-alpha-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-java17-jvm-alpha-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

Update docs/user/technical-reference/03-10-buildless-serverless.md
  docs/user/technical-reference/03-10-buildless-serverless.md
Due: none

chore: bump registry to 3.0.0
  config/serverless/charts/docker-registry/templates/deployment.yaml
  sec-scanners-config.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

chore: bump registry to 3.0.0 (#1786)
  config/serverless/charts/docker-registry/templates/deployment.yaml
  sec-scanners-config.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

fix: bump registry to 3.0.0
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

fix: bump registry to 3.0.0 (#1787)
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Remove deprecated build-engine: buildx
  .github/workflows/_build.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Remove build-engine: buildx (#1788)
  .github/workflows/_build.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Add info about enabling buildless mode in serverless configuration file
  docs/user/00-20-configure-serverless.md
Due: none

Add buildless serverless technical ref docs (#1774)
  docs/user/_sidebar.md
  docs/user/technical-reference/03-10-buildless-serverless.md
Due: none

kustomize_script
  hack/tools.mk
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

remove_notes
  hack/tools.mk
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

remove_emptylines
  hack/tools.mk
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Add authorization to target downloading Kustomize installation script (#1792)
  hack/tools.mk
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Update docs/user/00-20-configure-serverless.md
  docs/user/00-20-configure-serverless.md
Due: none

Adjust docs
  docs/user/00-20-configure-serverless.md
Due: none

Add info about enabling buildless mode in serverless configuration file (#1789)
  docs/user/00-20-configure-serverless.md
Due: none

rework charts to have a flat list of images
  config/buildless-serverless/Chart.yaml
  config/buildless-serverless/templates/busola-serverless-extension.yaml
  config/buildless-serverless/templates/cli-extension.yaml
  config/buildless-serverless/templates/cluster-role-binding.yaml
  config/buildless-serverless/templates/cluster-role.yaml
  config/buildless-serverless/templates/configmap.yaml
  config/buildless-serverless/templates/crds.yaml
  config/buildless-serverless/templates/deployment.yaml
  config/buildless-serverless/templates/leader-election-role-binding.yaml
  config/buildless-serverless/templates/leader-election-role.yaml
  config/buildless-serverless/templates/network-policies.yaml
  config/buildless-serverless/templates/service-account.yaml
  config/buildless-serverless/templates/service.yaml
  config/buildless-serverless/values.yaml
  config/operator/base/deployment/deployment.yaml
  config/serverless/charts/docker-registry/templates/deployment.yaml
  config/serverless/charts/webhook/templates/deployment.yaml
  config/serverless/templates/_helpers.tpl
  config/serverless/templates/deployment.yaml
  config/serverless/templates/runtimes.yaml
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

update sec-scanner updater
  .github/scripts/upgrade-sec-scanners-config.sh
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

fix version updater to include labels
  hack/replace_serverless_chart_images.sh
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-operator-build: unless all of: ^docs/|^examples/
  post-serverless-operator-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-nodejs-v18-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v20-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-python39-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-python312-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-java17-jvm-alpha-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v18-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v20-build: unless all of: ^docs/|^examples/
  post-serverless-runtimes-python39-build: unless all of: ^docs/|^examples/
  post-serverless-runtimes-python312-build: unless all of: ^docs/|^examples/
  post-serverless-runtimes-java17-jvm-alpha-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  pre-serverless-webhook-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  pre-serverless-jobinit-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  post-serverless-controller-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  post-serverless-webhook-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  post-serverless-jobinit-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  pre-gitserver-build: (any of: ^tests/gitserver/) or (any of: ^tests/gitserver)
  post-gitserver-build: any of: ^tests/gitserver/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: (any of: ^components/serverless/) or (any of: ^components/serverless/.*\.go$)
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  post-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
