Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-gitserver-build, post-gitserver-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, post-serverless-controller-python39-build

pre-serverless-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-git-auth-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-git-auth-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-serverless-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-serverless-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v16-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v16-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v18-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v18-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-python39-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-python39-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-java17-jvm-alpha-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-java17-jvm-alpha-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-serverless-runtimes-nodejs-v16-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-serverless-runtimes-nodejs-v16-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

fix CI
  .github/workflows/operator-verify.yaml
  .github/workflows/serverless-verify.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build

fix CI v2
  .github/workflows/operator-verify.yaml
  .github/workflows/serverless-verify.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build

Remove replace_serverless_chart_images
  .github/workflows/create-release.yaml
  components/operator/Dockerfile
  hack/replace_serverless_chart_images.sh
Due: pre-serverless-operator-build, post-serverless-operator-build

rename serverless->dockerregistry in served state function
  components/operator/controllers/serverless_controller.go
  components/operator/internal/state/served_filter.go
  components/operator/internal/state/utils.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-operator-lint

Apply suggestions from code review
  README.md
  components/operator/README.md
  components/serverless/README.md
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test

rename serverless->dockerregistry in init state
  components/operator/api/v1alpha1/dockerregistry_types.go
  components/operator/internal/state/add_finalizer.go
  components/operator/internal/state/fsm.go
  components/operator/internal/state/remove_finalizer.go
  components/operator/internal/state/served_filter.go
  components/operator/internal/state/served_filter_test.go
  components/operator/internal/state/update_status.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-operator-lint

rename serverless->dockerregistry in states
  components/operator/internal/registry/secret.go
  components/operator/internal/registry/secret_test.go
  components/operator/internal/registry/test_helpers.go
  components/operator/internal/state/add_finalizer_test.go
  components/operator/internal/state/apply.go
  components/operator/internal/state/apply_test.go
  components/operator/internal/state/delete.go
  components/operator/internal/state/delete_test.go
  components/operator/internal/state/emit_event_test.go
  components/operator/internal/state/fsm.go
  components/operator/internal/state/fsm_test.go
  components/operator/internal/state/optional_dependencies.go
  components/operator/internal/state/registry.go
  components/operator/internal/state/registry_test.go
  components/operator/internal/state/served_filter_test.go
  components/operator/internal/state/state_test.go
  components/operator/internal/state/verify_test.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-operator-lint

promote-workflow
  .github/workflows/promote-to-release-channel.yaml
  Makefile
  module-config-template.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build

cleanup
  .github/workflows/promote-to-release-channel.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build

bump Dockerfiles
  components/operator/Dockerfile
  components/serverless/deploy/webhook/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test

Improve makefiles (#845)
  Makefile
  README.md
  components/operator/Makefile
  components/operator/README.md
  components/serverless/Makefile
  components/serverless/README.md
  hack/makefile-strategy.md
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test

Upgrade project go version (#870)
  .github/workflows/operator-verify.yaml
  .github/workflows/serverless-verify.yaml
  components/operator/Dockerfile
  components/operator/internal/state/state_test.go
  components/serverless/deploy/webhook/Dockerfile
  go.mod
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-operator-lint, pre-serverless-controller-unit-test

remove_comments
  .github/workflows/promote-to-release-channel.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build

move-make
  .github/workflows/promote-to-release-channel.yaml
  Makefile
  hack/Makefile
Due: pre-serverless-operator-build, post-serverless-operator-build

fix-make-use
  .github/workflows/promote-to-release-channel.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build

Serverless Promote Release Workflow (#871)
  .github/workflows/promote-to-release-channel.yaml
  hack/Makefile
  module-config-template.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build

chore: Bump nodejs runtimes base images
  components/runtimes/nodejs/nodejs18/Dockerfile
  components/runtimes/nodejs/nodejs20/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build

chore: Bump nodejs runtimes base images (#872)
  components/runtimes/nodejs/nodejs18/Dockerfile
  components/runtimes/nodejs/nodejs20/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build

cleanup unused consts
  components/operator/internal/registry/secret.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-operator-lint

Disable custom user docker registry configuration that bypasses serverless CR spec (#868)
  components/operator/internal/registry/secret.go
  components/operator/internal/registry/secret_test.go
  components/operator/internal/registry/test_helpers.go
  components/operator/internal/state/registry.go
  components/operator/internal/state/registry_test.go
  components/serverless/internal/controllers/serverless/config.go
  components/serverless/internal/controllers/serverless/function_reconcile.go
  components/serverless/internal/controllers/serverless/function_reconcile_test.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test

Enable gitleaks check
  .github/workflows/pull-gitleaks.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build

uinish pr
  components/runtimes/python/python312/Dockerfile
  components/runtimes/python/python39/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build

first impl
  Makefile
  hack/build_all.sh
  hack/docker-compose.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build

add description
  Makefile
Due: pre-serverless-operator-build, post-serverless-operator-build

Upgrade python runtimes dependencies (#874)
  components/runtimes/python/python312/Dockerfile
  components/runtimes/python/python39/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build

Add configuration to have dependancies as string
  config/serverless/templates/busola-serverless-extension.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build

rename serverless->dockerregistry in code (part)
  .gitignore
  CODEOWNERS
  components/operator/controllers/serverless_controller.go
  components/operator/controllers/serverless_controller_test.go
  components/operator/controllers/suite_test.go
  components/operator/controllers/testhelper_test.go
  components/operator/main.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-operator-lint

Remove images of serverless and delete prio class from values.yaml
  config/serverless/templates/priorityclass.yaml
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build

Serverless local target (#850)
  Makefile
  hack/build_all.sh
  hack/docker-compose.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build

Enable gitleaks check (#873)
  .github/workflows/pull-gitleaks.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build

Cleanup values.yaml from unused status fields and serverless webhook
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build

Remove unused fields form status
  components/operator/api/v1alpha1/dockerregistry_types.go
  components/operator/controllers/serverless_controller_test.go
  components/operator/internal/chart/flags.go
  components/operator/internal/chart/flags_test.go
  components/operator/internal/state/controller_configuration.go
  components/operator/internal/state/controller_configuration_test.go
  config/operator/base/crd/bases/operator.kyma-project.io_dockerregistries.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-operator-lint

Add Halamix2 to codeowners
  CODEOWNERS
Due: pre-serverless-operator-build, post-serverless-operator-build

Add Halamix2 to codeowners (#876)
  CODEOWNERS
Due: pre-serverless-operator-build, post-serverless-operator-build

add missing space
  .github/scripts/release.sh
Due: pre-serverless-operator-build, post-serverless-operator-build

Add missing space (#877)
  .github/scripts/release.sh
Due: pre-serverless-operator-build, post-serverless-operator-build

Update deprecated Port fields
  components/operator/main.go
  components/serverless/cmd/manager/main.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test

Update deprecated Port fields (#878)
  components/operator/main.go
  components/serverless/cmd/manager/main.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test

use go 1.22 in release action
  .github/workflows/create-release.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-operator-build: unless all of: ^docs/|^examples/
  post-serverless-operator-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-python39-build: (any of: ^components/runtimes/python39/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-python39-build: any of: ^components/runtimes/python39/
  post-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: any of: ^components/serverless/
  pre-serverless-webhook-build: any of: ^components/serverless/
  pre-serverless-jobinit-build: any of: ^components/serverless/
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-controller-build: any of: ^components/serverless/
  post-serverless-webhook-build: any of: ^components/serverless/
  post-serverless-jobinit-build: any of: ^components/serverless/
  post-serverless-registry-gc-build: any of: ^components/serverless/
  pre-gitserver-build: (any of: ^tests/gitserver/) or (any of: ^tests/gitserver)
  post-gitserver-build: any of: ^tests/gitserver/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: (any of: ^components/serverless/) or (any of: ^components/serverless/.*\.go$)
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
