Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, post-serverless-module-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-gitserver-build, post-serverless-controller-python39-build, post-gitserver-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-module-build: any of: ^config/operator/.*$|^sec-scanners-config.yaml$|^.version$|^module-config-template.yaml$
  post-serverless-module-build: any of: ^config/operator/.*$|^sec-scanners-config.yaml$|^.version$|^module-config-template.yaml$
  pre-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-python39-build: (any of: ^components/runtimes/python39/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-python39-build: any of: ^components/runtimes/python39/
  post-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: any of: ^components/serverless/
  pre-serverless-webhook-build: any of: ^components/serverless/
  pre-serverless-jobinit-build: any of: ^components/serverless/
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-controller-build: any of: ^components/serverless/
  post-serverless-webhook-build: any of: ^components/serverless/
  post-serverless-jobinit-build: any of: ^components/serverless/
  post-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: any of: ^components/serverless/.*\.go$
  pre-gitserver-build: any of: ^tests/gitserver
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
  post-gitserver-build: any of: ^tests/gitserver/

bump images
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s

shorten_dir
  components/serverless/hack/poc_script_replace_images.sh
  components/serverless/hack/poc_script_replace_local_images.sh
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

fix bad type
  components/serverless/internal/controllers/serverless/validation.go
  components/serverless/internal/controllers/serverless/validation_test.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

bump rc tag
  sec-scanners-config.yaml
Due: pre-serverless-module-build, post-serverless-module-build

bump rc tag (#470)
  sec-scanners-config.yaml
Due: pre-serverless-module-build, post-serverless-module-build

Validate envs in runtime (#469)
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/controllers/serverless/validation.go
  components/serverless/internal/controllers/serverless/validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  config/serverless/templates/crds.yaml
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

simple validation
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  config/serverless/templates/crds.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

bump iamges
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s

Simple validation (#471)
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  config/serverless/templates/crds.yaml
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

do
  components/operator/hack/local/Makefile
  components/serverless/hack/poc_script_replace_local_images.sh
  docker-compose.yml
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

remove moduletemplate
  .github/scripts/release.sh
Due: none

Remove the `moduletemplate.yaml` asset from release (#472)
  .github/scripts/release.sh
Due: none

Remove the `moduletemplate.yaml` asset from release (#473)
  .github/scripts/release.sh
Due: none

unmute
  components/operator/hack/local/Makefile
Due: none

Use branch name instead of latest word (#467)
  sec-scanners-config.yaml
Due: pre-serverless-module-build, post-serverless-module-build

No need to generate module-template as release asset (#461)
  docs/contributor/01-10-manual-installation-on-k3d.md
Due: none

remove env validation from webhook - it was moved to x-kubernetes-validataion and to controller
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

improve verify images script
  .github/scripts/verify-serverless-manifest-images.sh
Due: none

improve verify images script (#475)
  .github/scripts/verify-serverless-manifest-images.sh
Due: none

remove .version file
  .github/scripts/check_release_tag.sh
  .github/workflows/create-release.yaml
  .github/workflows/gardener-integration.yaml
  components/operator/Makefile
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
  config/operator/operator/kustomization.yaml
Due: pre-serverless-module-build, post-serverless-module-build

remove .version file
  .version
Due: pre-serverless-module-build, post-serverless-module-build

remove env validation test used by webhook
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation_test.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

improve manifest rendering
  components/operator/hack/ci/Makefile
  config/operator/operator/kustomization.yaml
Due: pre-serverless-module-build, post-serverless-module-build

remove env validation from webhook (#476)
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation_test.go
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

regenerate kustomize
  config/operator/operator/kustomization.yaml
Due: pre-serverless-module-build, post-serverless-module-build

fix kustomize
  config/operator/operator/kustomization.yaml
Due: pre-serverless-module-build, post-serverless-module-build

Remove the `.version` file (#477)
  .github/scripts/check_release_tag.sh
  .github/workflows/create-release.yaml
  .github/workflows/gardener-integration.yaml
  .version
  components/operator/Makefile
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
  config/operator/operator/kustomization.yaml
Due: pre-serverless-module-build, post-serverless-module-build

remove resources validation from webhook - it was moved to controller
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

remove resources validation from webhook (#478)
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

move_job
  .github/scripts/release.sh
  .github/workflows/create-release.yaml
Due: none

Remove sidebars
  docs/user/resources/_sidebar.md
  docs/user/technical-reference/_sidebar.md
  docs/user/troubleshooting-guides/_sidebar.md
  docs/user/tutorials/_sidebar.md
Due: none

remove template.labels and template.annotations validations from webhook
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/controllers/serverless/system_state.go
  components/serverless/internal/controllers/serverless/system_state_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation_test.go
  config/serverless/templates/crds.yaml
  config/serverless/values.yaml
  docs/user/resources/06-10-function-cr.md
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Remove templates from function's api (#481)
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/controllers/serverless/system_state.go
  components/serverless/internal/controllers/serverless/system_state_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation_test.go
  config/serverless/templates/crds.yaml
  config/serverless/values.yaml
  docs/user/resources/06-10-function-cr.md
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

add x-kubernetes-validations tests for not supported template field in function api
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

add x-kubernetes-validations tests template field (#482)
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

remove resource validation from webhook
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation_test.go
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test
