Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-gitserver-build, post-serverless-controller-python39-build, post-gitserver-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-module-build: unless all of: ^docs/|^examples/
  pre-serverless-operator-build: unless all of: ^docs/|^examples/
  post-serverless-module-build: unless all of: ^docs/|^examples/
  post-serverless-operator-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-python39-build: (any of: ^components/runtimes/python39/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-python39-build: any of: ^components/runtimes/python39/
  post-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: any of: ^components/serverless/
  pre-serverless-webhook-build: any of: ^components/serverless/
  pre-serverless-jobinit-build: any of: ^components/serverless/
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-controller-build: any of: ^components/serverless/
  post-serverless-webhook-build: any of: ^components/serverless/
  post-serverless-jobinit-build: any of: ^components/serverless/
  post-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: (any of: ^components/serverless/) or (any of: ^components/serverless/.*\.go$)
  pre-gitserver-build: any of: ^tests/gitserver
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
  post-gitserver-build: any of: ^tests/gitserver/

adjust job to new changes
  .github/workflows/operator-verify.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

use not deprecated machine
  hack/gardener.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

use main Makefile
  .github/workflows/operator-verify.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Move gardener to GitHub actions (#753)
  .github/workflows/operator-verify.yaml
  hack/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

add explaination
  hack/gardener.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Adjust Python image building (#781)
  .github/dependabot.yml
  components/runtimes/python/kubeless/.gitignore
  components/runtimes/python/kubeless/README.md
  components/runtimes/python/kubeless/ce.py
  components/runtimes/python/kubeless/kubeless.py
  components/runtimes/python/kubeless/tracing.py
  components/runtimes/python/python312/.dockerignore
  components/runtimes/python/python312/Dockerfile
  components/runtimes/python/python312/requirements.txt
  components/runtimes/python/python39/.dockerignore
  components/runtimes/python/python39/Dockerfile
  components/runtimes/python/python39/requirements.txt
  sec-scanners-config.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Use not deprecated machine in gardener tests (#786)
  hack/gardener.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Add Python 3.12 runtime
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/controllers/serverless/build_resources_test.go
  components/serverless/internal/controllers/serverless/runtime/runtime.go
  components/serverless/internal/controllers/serverless/runtime/runtime_test.go
  components/serverless/internal/controllers/serverless/utils.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/runtime_validation.go
  config/serverless/templates/busola-serverless-extension.yaml
  config/serverless/templates/crds.yaml
  config/serverless/templates/runtimes.yaml
  config/serverless/values.yaml
  docs/user/resources/06-10-function-cr.md
  docs/user/technical-reference/05-20-env-variables.md
  docs/user/technical-reference/07-60-function-configuration-file.md
  docs/user/technical-reference/07-70-function-specification.md
  tests/serverless-bench/fixtures/functions/python312-l.yaml
  tests/serverless-bench/fixtures/functions/python312-m.yaml
  tests/serverless-bench/fixtures/functions/python312-s.yaml
  tests/serverless-bench/fixtures/functions/python312-xl.yaml
  tests/serverless-bench/run-benchmarks.sh
  tests/serverless/internal/testsuite/api_gateway.go
  tests/serverless/internal/testsuite/cloud_events.go
  tests/serverless/internal/testsuite/light_runtimes.go
  tests/serverless/internal/testsuite/tracing.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

fix slack channel address
  docs/user/troubleshooting-guides/README.md
Due: none

fix slack channel address (#791)
  docs/user/troubleshooting-guides/README.md
Due: none

Add Python 3.12 runtime (#783)
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/controllers/serverless/build_resources_test.go
  components/serverless/internal/controllers/serverless/runtime/runtime.go
  components/serverless/internal/controllers/serverless/runtime/runtime_test.go
  components/serverless/internal/controllers/serverless/utils.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/runtime_validation.go
  config/serverless/templates/busola-serverless-extension.yaml
  config/serverless/templates/crds.yaml
  config/serverless/templates/runtimes.yaml
  config/serverless/values.yaml
  docs/user/resources/06-10-function-cr.md
  docs/user/technical-reference/05-20-env-variables.md
  docs/user/technical-reference/07-60-function-configuration-file.md
  docs/user/technical-reference/07-70-function-specification.md
  tests/serverless-bench/fixtures/functions/python312-l.yaml
  tests/serverless-bench/fixtures/functions/python312-m.yaml
  tests/serverless-bench/fixtures/functions/python312-s.yaml
  tests/serverless-bench/fixtures/functions/python312-xl.yaml
  tests/serverless-bench/run-benchmarks.sh
  tests/serverless/internal/testsuite/api_gateway.go
  tests/serverless/internal/testsuite/cloud_events.go
  tests/serverless/internal/testsuite/light_runtimes.go
  tests/serverless/internal/testsuite/tracing.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

fix typo in makefile variable
  hack/gardener.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

runtimes: Add nodejs20 image
  .github/dependabot.yml
  components/runtimes/nodejs/nodejs20/Dockerfile
  components/runtimes/nodejs/nodejs20/package.json
  sec-scanners-config.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build

fix
  components/serverless/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test

upgrade go
  go.mod
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

point envtest to fixed directory
  components/operator/Makefile
  components/operator/controllers/suite_test.go
  components/serverless/Makefile
  components/serverless/internal/controllers/serverless/suite_test.go
  hack/tools.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test

improve explaination
  hack/tools.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

revert go bump
  go.mod
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

add reasoning
  hack/tools.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

fix typo in makefile variable (#790)
  hack/gardener.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

fix gardener linux version
  hack/gardener.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

fix gardener linux version (#794)
  hack/gardener.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Synchronize envtest bins (#782)
  components/operator/Makefile
  components/operator/controllers/suite_test.go
  components/serverless/Makefile
  components/serverless/internal/controllers/serverless/suite_test.go
  hack/tools.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test

first attempt
  components/serverless/internal/controllers/serverless/utils.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

impove impll
  components/serverless/internal/controllers/serverless/utils.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

implementation 2
  components/serverless/internal/controllers/serverless/utils.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

polishing of makefiles
  Makefile
  components/operator/Makefile
  hack/Makefile
  hack/k3d.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

polishing of makefiles (#795)
  Makefile
  components/operator/Makefile
  hack/Makefile
  hack/k3d.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

upgrade dependencies
  config/serverless/values.yaml
  sec-scanners-config.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Make Python 3.12 default, deprecate 3.9
  components/serverless/.golangci.yaml
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/hack/controller.env
  components/serverless/internal/controllers/serverless/build_resources_test.go
  components/serverless/internal/controllers/serverless/metrics/function_metrics_test.go
  components/serverless/internal/controllers/serverless/validation_test.go
  components/serverless/internal/webhook/fixtures_test.go
  components/serverless/internal/webhook/validating_webhook_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  config/serverless/templates/busola-serverless-extension.yaml
  config/serverless/templates/crds.yaml
  docs/user/resources/06-10-function-cr.md
  docs/user/technical-reference/05-20-env-variables.md
  docs/user/technical-reference/07-10-sample-functions.md
  docs/user/technical-reference/07-60-function-configuration-file.md
  docs/user/technical-reference/07-70-function-specification.md
  docs/user/tutorials/01-110-override-runtime-image.md
  docs/user/tutorials/01-140-use-secret-mounts.md
  docs/user/tutorials/01-30-manage-functions-with-kyma-cli.md
  docs/user/tutorials/01-50-sync-function-with-gitops.md
  examples/python-text2img/config.yaml
  examples/python-text2img/resources/function.yaml
  tests/serverless/internal/resources/runtimes/python.go
  tests/serverless/internal/testsuite/cloud_events.go
  tests/serverless/internal/testsuite/gitauth.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

adjust project README
  README.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

adjust project README (#797)
  README.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

fix test runtiem preset
  components/serverless/internal/controllers/serverless/build_resources_test.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

adjust testing strategy
  docs/contributor/04-10-testing-strategy.md
Due: none

Update docs/contributor/04-10-testing-strategy.md
  docs/contributor/04-10-testing-strategy.md
Due: none

adjust testing strategy (#798)
  docs/contributor/04-10-testing-strategy.md
Due: none

fix tests
  components/serverless/internal/controllers/serverless/build_resources_test.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Fix unit tests on Mac
  hack/tools.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build
