Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-unit-test, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-gitserver-build, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, post-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-controller-python39-build, post-gitserver-build

pre-serverless-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-git-auth-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-git-auth-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-controller-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-controller-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20231121-05130964
  ...

pre-serverless-controller-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-controller-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-serverless-webhook-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-webhook-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-serverless-jobinit-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-jobinit-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-serverless-registry-gc-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-registry-gc-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: true
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-java17-jvm-alpha-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-java17-jvm-alpha-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v16-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v16-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

fix typo
  components/operator/main.go
Due: none

fix_tests
  components/operator/internal/state/registry_test.go
Due: none

fix formatting
  docs/user/00-50-limitations.md
Due: none

change tabs in sample functions
  docs/user/technical-reference/07-10-sample-functions.md
Due: none

fix_tests2
  components/serverless/internal/controllers/kubernetes/shared_test.go
Due: pre-serverless-controller-unit-test, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

change tabs in function specification
  docs/user/technical-reference/07-70-function-specification.md
Due: none

revert validation removal from webhook
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
Due: pre-serverless-controller-unit-test, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Dynamically exclude namespaces (#430)
  components/operator/internal/chart/flags.go
  components/operator/internal/chart/flags_test.go
  components/operator/internal/state/registry.go
  components/operator/internal/state/registry_test.go
  components/serverless/internal/controllers/kubernetes/shared.go
  components/serverless/internal/controllers/kubernetes/shared_test.go
Due: pre-serverless-controller-unit-test, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

dummy commit
  components/serverless/.golangci.yaml
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

remove linter config
  components/serverless/.golangci.yaml
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

change tabs in create inline function
  docs/user/tutorials/01-10-create-inline-function.md
Due: none

change tabs in create git function
  docs/user/tutorials/01-11-create-git-function.md
Due: none

change tabs in expose function
  docs/user/tutorials/01-20-expose-function.md
Due: none

change tabs in debug function
  docs/user/tutorials/01-40-debug-function.md
Due: none

change tabs in set external registry
  docs/user/tutorials/01-60-set-external-registry.md
Due: none

change tabs in log into private packages reg
  docs/user/tutorials/01-80-log-into-private-packages-registry.md
Due: none

remove tabs in set asynchronous conn
  docs/user/tutorials/01-90-set-asynchronous-connection.md
Due: none

change tabs in function traces
  docs/user/tutorials/01-100-customize-function-traces.md
Due: none

change tabs in override runtime image
  docs/user/tutorials/01-110-override-runtime-image.md
Due: none

change tabs in inject envs
  docs/user/tutorials/01-120-inject-envs.md
Due: none

change tabs in external scalers
  docs/user/tutorials/01-130-use-external-scalers.md
Due: none

Convert html tabs /toggles into docsify tags in the Serverless repo (#431)
  docs/user/00-50-limitations.md
  docs/user/technical-reference/07-10-sample-functions.md
  docs/user/technical-reference/07-70-function-specification.md
  docs/user/tutorials/01-10-create-inline-function.md
  docs/user/tutorials/01-100-customize-function-traces.md
  docs/user/tutorials/01-11-create-git-function.md
  docs/user/tutorials/01-110-override-runtime-image.md
  docs/user/tutorials/01-120-inject-envs.md
  docs/user/tutorials/01-130-use-external-scalers.md
  docs/user/tutorials/01-20-expose-function.md
  docs/user/tutorials/01-40-debug-function.md
  docs/user/tutorials/01-60-set-external-registry.md
  docs/user/tutorials/01-80-log-into-private-packages-registry.md
  docs/user/tutorials/01-90-set-asynchronous-connection.md
Due: none

Add validation for build and function resoruces (#429)
  components/serverless/Makefile
  components/serverless/internal/controllers/serverless/function_reconcile.go
  components/serverless/internal/controllers/serverless/validation.go
  components/serverless/internal/controllers/serverless/validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-unit-test, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

adjust tests
  components/serverless/internal/controllers/serverless/validation.go
  components/serverless/internal/controllers/serverless/validation_test.go
Due: pre-serverless-controller-unit-test, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

add target to disable operator
  components/serverless/Makefile
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

simplify implementation
  components/serverless/internal/controllers/serverless/validation.go
  components/serverless/internal/controllers/serverless/validation_test.go
Due: pre-serverless-controller-unit-test, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

bump images
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s

add more tests
  components/serverless/internal/controllers/serverless/validation_test.go
Due: pre-serverless-controller-unit-test, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

initial impl with minimum values
  components/serverless/internal/controllers/serverless/utils.go
  components/serverless/internal/controllers/serverless/validation.go
  components/serverless/internal/controllers/serverless/validation_test.go
Due: pre-serverless-controller-unit-test, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Fix Eventing link
  docs/user/README.md
Due: none

Fix Eventing link in the Serverless documentation (#436)
  docs/user/README.md
Due: none

Controller validation (#433)
  components/serverless/Makefile
  components/serverless/internal/controllers/serverless/utils.go
  components/serverless/internal/controllers/serverless/validation.go
  components/serverless/internal/controllers/serverless/validation_test.go
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-unit-test, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Cleanup `GitRepository` orphan resources (#425)
  components/operator/internal/gitrepository/cleanup.go
  components/operator/internal/gitrepository/cleanup_test.go
  components/operator/main.go
Due: none

fix makefile test
  components/serverless/Makefile
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

fix structue
  components/serverless/Makefile
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

remove old things from makefile
  components/serverless/Makefile
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

fix makefile
  components/serverless/Makefile
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

fix
  components/serverless/Makefile
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-controller-unit-test: any of: ^components/serverless/.*\.go$
  pre-serverless-controller-build: any of: ^components/serverless/
  pre-serverless-webhook-build: any of: ^components/serverless/
  pre-serverless-jobinit-build: any of: ^components/serverless/
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-runtimes-java17-jvm-alpha-build: any of: ^components/runtimes/java17
  pre-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  pre-serverless-runtimes-nodejs-v18-build: any of: ^components/runtimes/nodejs
  pre-serverless-runtimes-python39-build: any of: ^components/runtimes/python39
  pre-gitserver-build: any of: ^tests/gitserver
  pre-serverless-controller-lint: any of: ^components/serverless/(.*\.go$|.golangcilint.yaml)
  post-serverless-controller-build: any of: ^components/serverless/
  post-serverless-webhook-build: any of: ^components/serverless/
  post-serverless-jobinit-build: any of: ^components/serverless/
  post-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-runtimes-java17-jvm-alpha-build: any of: ^components/runtimes/java17
  post-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  post-serverless-runtimes-nodejs-v18-build: any of: ^components/runtimes/nodejs
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
  post-gitserver-build: any of: ^tests/gitserver/
