Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-gitserver-build, post-gitserver-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, post-serverless-controller-python39-build

pre-serverless-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-git-auth-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-git-auth-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-serverless-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-serverless-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-serverless-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-serverless-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v16-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v16-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v18-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v18-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-python39-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-python39-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-java17-jvm-alpha-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-java17-jvm-alpha-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

Bump Sec Scanner Config (#846)
  sec-scanners-config.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

remove readme
  components/operator/README.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Remove not used env (#841)
  components/operator/controllers/serverless_controller.go
  components/operator/controllers/suite_test.go
  components/operator/internal/config/config.go
  components/operator/internal/state/fsm.go
  components/operator/internal/state/new.go
  components/operator/main.go
  config/operator/base/deployment/deployment.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

update readmes
  Makefile
  README.md
  components/operator/README.md
  components/serverless/Makefile
  components/serverless/README.md
  hack/makefile-strategy.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Merge main to 1.4 (#851)
  components/operator/controllers/serverless_controller.go
  components/operator/controllers/suite_test.go
  components/operator/internal/config/config.go
  components/operator/internal/state/fsm.go
  components/operator/internal/state/new.go
  components/operator/main.go
  config/operator/base/deployment/deployment.yaml
  sec-scanners-config.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

upgrade dependencies
  config/serverless/values.yaml
  sec-scanners-config.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Cleanup function webhook from helm chart values
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Cleanup function webhook from helm chart values (#853)
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Upgrade the helm dependency version
  components/operator/internal/chart/client_getter.go
  components/operator/internal/chart/pvc_test.go
  go.mod
  go.sum
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Upgrade the helm dependency version (#854)
  components/operator/internal/chart/client_getter.go
  components/operator/internal/chart/pvc_test.go
  go.mod
  go.sum
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Cherry-pick: Upgrade the helm dependency version (#854) (#855)
  components/operator/internal/chart/client_getter.go
  components/operator/internal/chart/pvc_test.go
  go.mod
  go.sum
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

add description of one env
  components/operator/README.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

fix install main
  components/operator/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

improve install makefiles descriptions
  components/operator/Makefile
  components/operator/README.md
  components/serverless/Makefile
  components/serverless/README.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test

Delete unused things
  components/operator/api/v1alpha1/groupversion_info.go
  components/operator/internal/state/controller_configuration.go
  components/operator/internal/state/state.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

remove unused serverless configs
  config/serverless/Chart.yaml
  config/serverless/charts/webhook/Chart.yaml
  config/serverless/charts/webhook/README.md
  config/serverless/charts/webhook/templates/_helpers.tpl
  config/serverless/charts/webhook/templates/cluster-role-binding.yaml
  config/serverless/charts/webhook/templates/cluster-role.yaml
  config/serverless/charts/webhook/templates/config-observability.yaml
  config/serverless/charts/webhook/templates/configmap.yaml
  config/serverless/charts/webhook/templates/deployment.yaml
  config/serverless/charts/webhook/templates/secret.yaml
  config/serverless/charts/webhook/templates/service-account.yaml
  config/serverless/charts/webhook/templates/service.yaml
  config/serverless/charts/webhook/templates/webhooks.yaml
  config/serverless/charts/webhook/values.yaml
  config/serverless/templates/busola-serverless-extension.yaml
  config/serverless/templates/cluster-role-binding.yaml
  config/serverless/templates/cluster-role.yaml
  config/serverless/templates/configmap.yaml
  config/serverless/templates/crds.yaml
  config/serverless/templates/deployment.yaml
  config/serverless/templates/leader-election-role-binding.yaml
  config/serverless/templates/leader-election-role.yaml
  config/serverless/templates/runtimes.yaml
  config/serverless/templates/service-accounts.yaml
  config/serverless/templates/service.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Copy secret controller
  components/operator/internal/controllers/kubernetes/secret_controller.go
  components/operator/internal/controllers/kubernetes/secret_service.go
  components/operator/main.go
  go.mod
  go.sum
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

add deploy local
  components/operator/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Copy shared file
  components/operator/internal/controllers/kubernetes/shared.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Add missing files, shared, resource
  components/operator/internal/controllers/kubernetes/shared.go
  components/operator/internal/resource/resource.go
  components/operator/main.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

fix secret_service import
  components/operator/internal/controllers/kubernetes/secret_service.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

fix imports
  components/operator/main.go
  config/operator/base/rbac/role.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Adjust main for secret controller
  components/operator/main.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Copy namespace
  components/operator/internal/controllers/kubernetes/namespace_controller.go
  components/operator/main.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Copy configmap and serviceaccout service
  components/operator/internal/controllers/kubernetes/configmap_service.go
  components/operator/internal/controllers/kubernetes/serviceaccount_service.go
  components/operator/main.go
  config/operator/base/rbac/role.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Cleanup dependabot and secret_service from serverless
  .github/dependabot.yml
  components/operator/internal/controllers/kubernetes/secret_service.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Cleanup gh actions
  .github/workflows/serverless-verify.yaml
  go.mod
  go.sum
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

adjust rbacs
  components/operator/controllers/serverless_controller_rbac.go
  config/operator/base/rbac/role.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Disable docker registry configuration via labelled secret
  components/operator/internal/registry/secret.go
  components/operator/internal/registry/secret_test.go
  components/operator/internal/registry/test_helpers.go
  components/operator/internal/state/registry.go
  components/operator/internal/state/registry_test.go
  components/serverless/internal/controllers/serverless/config.go
  components/serverless/internal/controllers/serverless/function_reconcile.go
  components/serverless/internal/controllers/serverless/function_reconcile_test.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test

Checking for dockerregistry
  components/operator/Makefile
  components/operator/hack/verify_dockerregistry_status.sh
  components/operator/hack/verify_serverless_status.sh
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Rename operator to dockerregistry-operator
  components/operator/Makefile
  config/operator/base/kustomization.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Rename components/operator Makefile
  Makefile
  components/operator/Makefile
  hack/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

migrate to go 1.22
  components/operator/internal/state/state_test.go
  go.mod
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Cleanup makefiles
  Makefile
  hack/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-module-build: unless all of: ^docs/|^examples/
  pre-serverless-operator-build: unless all of: ^docs/|^examples/
  post-serverless-module-build: unless all of: ^docs/|^examples/
  post-serverless-operator-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-python39-build: (any of: ^components/runtimes/python39/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-python39-build: any of: ^components/runtimes/python39/
  post-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: any of: ^components/serverless/
  pre-serverless-webhook-build: any of: ^components/serverless/
  pre-serverless-jobinit-build: any of: ^components/serverless/
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-controller-build: any of: ^components/serverless/
  post-serverless-webhook-build: any of: ^components/serverless/
  post-serverless-jobinit-build: any of: ^components/serverless/
  post-serverless-registry-gc-build: any of: ^components/serverless/
  pre-gitserver-build: (any of: ^tests/gitserver/) or (any of: ^tests/gitserver)
  post-gitserver-build: any of: ^tests/gitserver/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: (any of: ^components/serverless/) or (any of: ^components/serverless/.*\.go$)
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
