Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-gitserver-build, post-gitserver-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-registry-gc-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-controller-python39-build

pre-serverless-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-git-auth-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-git-auth-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-serverless-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-serverless-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v18-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v18-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v20-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v20-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-python39-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-python39-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-python312-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-python312-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-java17-jvm-alpha-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-java17-jvm-alpha-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

recover_test
  tests/serverless/internal/testsuite/light_runtimes.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

movetonode
  tests/serverless/internal/testsuite/light_runtimes.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Remove Nodejs18 (#1213)
  .github/dependabot.yml
  .github/workflows/_build.yaml
  components/runtimes/nodejs/nodejs18/Dockerfile
  components/runtimes/nodejs/nodejs18/package.json
  components/serverless/.golangci.yaml
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/controllers/serverless/build_resources_test.go
  components/serverless/internal/controllers/serverless/runtime/runtime.go
  components/serverless/internal/controllers/serverless/runtime/runtime_test.go
  components/serverless/internal/controllers/serverless/utils.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/runtime_validation.go
  config/serverless/templates/busola-serverless-extension.yaml
  config/serverless/templates/crds.yaml
  config/serverless/templates/runtimes.yaml
  config/serverless/values.yaml
  docs/user/resources/06-10-function-cr.md
  docs/user/technical-reference/05-20-env-variables.md
  docs/user/technical-reference/07-60-function-configuration-file.md
  docs/user/technical-reference/07-70-function-specification.md
  hack/docker-compose.yaml
  sec-scanners-config.yaml
  tests/serverless-bench/fixtures/functions/nodejs18-l.yaml
  tests/serverless-bench/fixtures/functions/nodejs18-m.yaml
  tests/serverless-bench/fixtures/functions/nodejs18-s.yaml
  tests/serverless-bench/fixtures/functions/nodejs18-xl.yaml
  tests/serverless-bench/fixtures/functions/nodejs18-xs.yaml
  tests/serverless-bench/run-benchmarks.sh
  tests/serverless/internal/testsuite/api_gateway.go
  tests/serverless/internal/testsuite/cloud_events.go
  tests/serverless/internal/testsuite/light_runtimes.go
  tests/serverless/internal/testsuite/tracing.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-registry-gc-build, post-serverless-runtimes-nodejs-v16-build

add nodejs22 support
  .github/dependabot.yml
  .github/workflows/_build.yaml
  components/runtimes/nodejs/nodejs22/Dockerfile
  components/runtimes/nodejs/nodejs22/package.json
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/design/extend_function_spec_proposal.md
  components/serverless/internal/controllers/serverless/build_resources_test.go
  components/serverless/internal/controllers/serverless/fixtures_test.go
  components/serverless/internal/controllers/serverless/function_reconcile_gitops_test.go
  components/serverless/internal/controllers/serverless/function_reconcile_test.go
  components/serverless/internal/controllers/serverless/gitops_test.go
  components/serverless/internal/controllers/serverless/runtime/nodejs_test.go
  components/serverless/internal/controllers/serverless/runtime/runtime.go
  components/serverless/internal/controllers/serverless/runtime/runtime_test.go
  components/serverless/internal/controllers/serverless/utils.go
  components/serverless/internal/controllers/serverless/utils_test.go
  components/serverless/internal/controllers/serverless/validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/runtime_validation.go
  config/serverless/templates/busola-serverless-extension.yaml
  config/serverless/templates/crds.yaml
  config/serverless/templates/runtimes.yaml
  config/serverless/values.yaml
  sec-scanners-config.yaml
  tests/serverless-bench/fixtures/functions/nodejs22-l.yaml
  tests/serverless-bench/fixtures/functions/nodejs22-m.yaml
  tests/serverless-bench/fixtures/functions/nodejs22-s.yaml
  tests/serverless-bench/fixtures/functions/nodejs22-xl.yaml
  tests/serverless-bench/fixtures/functions/nodejs22-xs.yaml
  tests/serverless-bench/run-benchmarks.sh
  tests/serverless/internal/testsuite/api_gateway.go
  tests/serverless/internal/testsuite/cloud_events.go
  tests/serverless/internal/testsuite/gitauth.go
  tests/serverless/internal/testsuite/gitops.go
  tests/serverless/internal/testsuite/hana_client.go
  tests/serverless/internal/testsuite/light_runtimes.go
  tests/serverless/internal/testsuite/tracing.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-registry-gc-build, post-serverless-runtimes-nodejs-v16-build

fix tests
  components/serverless/internal/controllers/serverless/utils_test.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

Fix nodejs18 references
  tests/serverless/internal/testsuite/hana_client.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Fix nodejs18 references (#1220)
  tests/serverless/internal/testsuite/hana_client.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

add nodejs22 image
  .github/dependabot.yml
  .github/workflows/_build.yaml
  components/runtimes/nodejs/nodejs22/Dockerfile
  components/runtimes/nodejs/nodejs22/package.json
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v16-build

sec
  sec-scanners-config.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

comment
  components/runtimes/nodejs/nodejs22/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v16-build

add comment
  .github/workflows/_build.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

add nodejs22 image (#1219)
  .github/dependabot.yml
  .github/workflows/_build.yaml
  components/runtimes/nodejs/nodejs22/Dockerfile
  components/runtimes/nodejs/nodejs22/package.json
  sec-scanners-config.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v16-build

fix node image
  components/runtimes/nodejs/nodejs22/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v16-build

fix node 22 image (#1221)
  components/runtimes/nodejs/nodejs22/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v16-build

Add image syncer job
  .github/workflows/sync-external-images.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Add image syncer job (#1222)
  .github/workflows/sync-external-images.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Add image syncer config
  external-images.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Add image syncer config (#1223)
  external-images.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Add deprecation notices to operator
  components/operator/.golangci.yaml
  components/operator/api/v1alpha1/serverless_types.go
  config/operator/base/crd/bases/operator.kyma-project.io_serverlesses.yaml
  docs/user/00-20-configure-serverless.md
  docs/user/resources/06-20-serverless-cr.md
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-operator-lint

Add deprecation notices
  components/serverless/.golangci.yaml
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/design/scaling_functions.md
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  config/serverless/templates/crds.yaml
  docs/user/resources/06-10-function-cr.md
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

Update current nodejs version in docs
  docs/user/technical-reference/07-10-sample-functions.md
Due: none

Update current nodejs version in docs (#1231)
  docs/user/technical-reference/07-10-sample-functions.md
Due: none

Fix requeue by passing whole object not requeue false
  components/serverless/internal/controllers/serverless/validation.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

Prevent requeueing after 1s when the validation failed (#1235)
  components/serverless/internal/controllers/serverless/validation.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

capitalize Function
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  config/serverless/templates/crds.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

capitalize Serverless
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  config/serverless/templates/crds.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

suggestions
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/design/scaling_functions.md
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  config/serverless/templates/crds.yaml
  docs/user/resources/06-10-function-cr.md
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

when -> where
  components/operator/api/v1alpha1/serverless_types.go
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  config/operator/base/crd/bases/operator.kyma-project.io_serverlesses.yaml
  config/serverless/templates/crds.yaml
  docs/user/00-20-configure-serverless.md
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

suggestions
  docs/user/00-20-configure-serverless.md
  docs/user/resources/06-20-serverless-cr.md
Due: none

Add deprecation notices (#1229)
  components/serverless/.golangci.yaml
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/design/scaling_functions.md
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  config/serverless/templates/crds.yaml
  docs/user/resources/06-10-function-cr.md
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

Update docs/user/resources/06-20-serverless-cr.md
  docs/user/resources/06-20-serverless-cr.md
Due: none

Add deprecation notices to operator (#1230)
  components/operator/.golangci.yaml
  components/operator/api/v1alpha1/serverless_types.go
  config/operator/base/crd/bases/operator.kyma-project.io_serverlesses.yaml
  docs/user/00-20-configure-serverless.md
  docs/user/resources/06-20-serverless-cr.md
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-operator-lint

bump gardener k8s version
  hack/gardener.mk
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

bump gardener k8s version (#1238)
  hack/gardener.mk
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Remove Python version from the runtime header
  docs/user/technical-reference/07-10-sample-functions.md
Due: none

Remove Python version from the runtime header (#1248)
  docs/user/technical-reference/07-10-sample-functions.md
Due: none

limit caching secrets by label
  components/serverless/cmd/manager/main.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

limit caching secrets by label (#1250)
  components/serverless/cmd/manager/main.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-operator-build: unless all of: ^docs/|^examples/
  post-serverless-operator-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-nodejs-v18-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v20-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-python39-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-python312-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-java17-jvm-alpha-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v18-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v20-build: unless all of: ^docs/|^examples/
  post-serverless-runtimes-python39-build: unless all of: ^docs/|^examples/
  post-serverless-runtimes-python312-build: unless all of: ^docs/|^examples/
  post-serverless-runtimes-java17-jvm-alpha-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  pre-serverless-webhook-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  pre-serverless-jobinit-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  post-serverless-controller-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  post-serverless-webhook-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  post-serverless-jobinit-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  pre-gitserver-build: (any of: ^tests/gitserver/) or (any of: ^tests/gitserver)
  post-gitserver-build: any of: ^tests/gitserver/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: (any of: ^components/serverless/) or (any of: ^components/serverless/.*\.go$)
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  post-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
