Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-gitserver-build, post-gitserver-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-registry-gc-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-controller-python39-build

pre-serverless-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-git-auth-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-git-auth-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-serverless-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-serverless-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v18-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v18-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v20-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v20-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-python39-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-python39-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-python312-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-python312-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-java17-jvm-alpha-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-java17-jvm-alpha-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

update ssc
  sec-scanners-config.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

reuse registry-init
  config/serverless/charts/docker-registry/templates/deployment.yaml
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

use right images
  components/runtimes/python/python312/Dockerfile
  components/runtimes/python/python39/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Use synced images (#1068)
  components/operator/Dockerfile
  components/runtimes/nodejs/nodejs18/Dockerfile
  components/runtimes/nodejs/nodejs20/Dockerfile
  components/runtimes/python/python312/Dockerfile
  components/runtimes/python/python39/Dockerfile
  components/serverless/deploy/jobinit/Dockerfile
  components/serverless/deploy/manager/Dockerfile
  components/serverless/deploy/webhook/Dockerfile
  config/serverless/charts/docker-registry/templates/deployment.yaml
  config/serverless/values.yaml
  sec-scanners-config.yaml
  tests/gitserver/Dockerfile
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-gitserver-build, post-gitserver-build, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-registry-gc-build, post-serverless-runtimes-nodejs-v16-build

Hana client contract test hardening
  tests/serverless/internal/resources/runtimes/nodejs.go
  tests/serverless/internal/testsuite/hana_client.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Hana client contract test hardening - code review
  tests/serverless/internal/resources/runtimes/nodejs.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Hana client contract test hardening (#1074)
  tests/serverless/internal/resources/runtimes/nodejs.go
  tests/serverless/internal/testsuite/hana_client.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

always run required workflows
  .github/workflows/images-verify.yaml
  .github/workflows/integration-tests-pull.yaml
  .github/workflows/lint.yaml
  .github/workflows/unit-tests.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Always run most important jobs (#1078)
  .github/workflows/images-verify.yaml
  .github/workflows/integration-tests-pull.yaml
  .github/workflows/lint.yaml
  .github/workflows/unit-tests.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Improve the docu issue template
  .github/ISSUE_TEMPLATE/documentation-improvement.md
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

add workflow_call event to all workflows
  .github/workflows/build-pull.yaml
  .github/workflows/build-push-release.yaml
  .github/workflows/gitleaks.yaml
  .github/workflows/images-verify.yaml
  .github/workflows/integration-tests-pull.yaml
  .github/workflows/integration-tests-push.yaml
  .github/workflows/lint.yaml
  .github/workflows/markdown.yaml
  .github/workflows/unit-tests.yaml
  .github/workflows/upgrade-tests.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

init master workflow
  .github/workflows/pull.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Init common pull workflow (#1079)
  .github/workflows/build-pull.yaml
  .github/workflows/build-push-release.yaml
  .github/workflows/gitleaks.yaml
  .github/workflows/images-verify.yaml
  .github/workflows/integration-tests-pull.yaml
  .github/workflows/integration-tests-push.yaml
  .github/workflows/lint.yaml
  .github/workflows/markdown.yaml
  .github/workflows/pull.yaml
  .github/workflows/unit-tests.yaml
  .github/workflows/upgrade-tests.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

add jobs to pull workflow
  .github/workflows/markdown.yaml
  .github/workflows/pull.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

push workflow
  .github/workflows/push.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

release workflow
  .github/workflows/release.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Add ordered workflows for each event (#1080)
  .github/workflows/markdown.yaml
  .github/workflows/pull.yaml
  .github/workflows/push.yaml
  .github/workflows/release.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Update the APIRule tutorial
  docs/user/tutorials/01-20-expose-function.md
Due: none

add the if successful message
  docs/user/tutorials/01-20-expose-function.md
Due: none

Update docs/user/tutorials/01-20-expose-function.md
  docs/user/tutorials/01-20-expose-function.md
Due: none

update the objectives
  docs/user/tutorials/01-20-expose-function.md
Due: none

Update the tutorial Expose a Function with an APIRule (#1062)
  docs/user/tutorials/01-20-expose-function.md
Due: none

rename subworkflows
  .github/workflows/_build-pull.yaml
  .github/workflows/_build-push-release.yaml
  .github/workflows/_gitleaks.yaml
  .github/workflows/_images-verify.yaml
  .github/workflows/_integration-tests-pull.yaml
  .github/workflows/_integration-tests-push.yaml
  .github/workflows/_unit-tests.yaml
  .github/workflows/_upgrade-tests.yaml
  .github/workflows/pull.yaml
  .github/workflows/push.yaml
  .github/workflows/release.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

remove direct triggers from subworkflows
  .github/workflows/_build-pull.yaml
  .github/workflows/_build-push-release.yaml
  .github/workflows/_gitleaks.yaml
  .github/workflows/_images-verify.yaml
  .github/workflows/_integration-tests-pull.yaml
  .github/workflows/_integration-tests-push.yaml
  .github/workflows/_unit-tests.yaml
  .github/workflows/_upgrade-tests.yaml
  .github/workflows/lint.yaml
  .github/workflows/markdown.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Rename gh workflows (#1081)
  .github/workflows/_build-pull.yaml
  .github/workflows/_build-push-release.yaml
  .github/workflows/_gitleaks.yaml
  .github/workflows/_images-verify.yaml
  .github/workflows/_integration-tests-pull.yaml
  .github/workflows/_integration-tests-push.yaml
  .github/workflows/_unit-tests.yaml
  .github/workflows/_upgrade-tests.yaml
  .github/workflows/integration-tests-pull.yaml
  .github/workflows/lint.yaml
  .github/workflows/markdown.yaml
  .github/workflows/pull.yaml
  .github/workflows/push.yaml
  .github/workflows/release.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

merge integration-tests gh workflows
  .github/workflows/_integration-tests-pull.yaml
  .github/workflows/_integration-tests.yaml
  .github/workflows/pull.yaml
  .github/workflows/push.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

merge build gh workflows
  .github/workflows/_build-push-release.yaml
  .github/workflows/_build.yaml
  .github/workflows/_integration-tests.yaml
  .github/workflows/pull.yaml
  .github/workflows/push.yaml
  .github/workflows/release.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

merge gh workflows (#1082)
  .github/workflows/_build-push-release.yaml
  .github/workflows/_build.yaml
  .github/workflows/_integration-tests-pull.yaml
  .github/workflows/_integration-tests.yaml
  .github/workflows/pull.yaml
  .github/workflows/push.yaml
  .github/workflows/release.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

call lint and markdown gh workflows from push and pull workflows
  .github/workflows/_lint.yaml
  .github/workflows/_markdown.yaml
  .github/workflows/pull.yaml
  .github/workflows/push.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Revert "merge gh workflows (#1082)"
  .github/workflows/_build-pull.yaml
  .github/workflows/_build-push-release.yaml
  .github/workflows/_integration-tests-pull.yaml
  .github/workflows/_integration-tests-push.yaml
  .github/workflows/pull.yaml
  .github/workflows/push.yaml
  .github/workflows/release.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Revert "merge gh workflows (#1082)" (#1084)
  .github/workflows/_build-pull.yaml
  .github/workflows/_build-push-release.yaml
  .github/workflows/_integration-tests-pull.yaml
  .github/workflows/_integration-tests-push.yaml
  .github/workflows/pull.yaml
  .github/workflows/push.yaml
  .github/workflows/release.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Fix broken links
  docs/contributor/04-10-testing-strategy.md
Due: none

Fix broken links (#1085)
  docs/contributor/04-10-testing-strategy.md
Due: none

merge integration-tests gh workflows (#1086)
  .github/workflows/_integration-tests-pull.yaml
  .github/workflows/_integration-tests.yaml
  .github/workflows/pull.yaml
  .github/workflows/push.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

merge build gh workflows (#1087)
  .github/workflows/_build-push-release.yaml
  .github/workflows/_build.yaml
  .github/workflows/_integration-tests.yaml
  .github/workflows/pull.yaml
  .github/workflows/push.yaml
  .github/workflows/release.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

allow paralell run for unit-test and build gh workflows
  .github/workflows/pull.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

add commented build-gitserver gh job
  .github/workflows/_build.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-operator-build: unless all of: ^docs/|^examples/
  post-serverless-operator-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-nodejs-v18-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v20-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-python39-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-python312-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-java17-jvm-alpha-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v18-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v20-build: unless all of: ^docs/|^examples/
  post-serverless-runtimes-python39-build: unless all of: ^docs/|^examples/
  post-serverless-runtimes-python312-build: unless all of: ^docs/|^examples/
  post-serverless-runtimes-java17-jvm-alpha-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  pre-serverless-webhook-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  pre-serverless-jobinit-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  post-serverless-controller-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  post-serverless-webhook-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  post-serverless-jobinit-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  pre-gitserver-build: (any of: ^tests/gitserver/) or (any of: ^tests/gitserver)
  post-gitserver-build: any of: ^tests/gitserver/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: (any of: ^components/serverless/) or (any of: ^components/serverless/.*\.go$)
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  post-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
