Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, post-serverless-module-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-gitserver-build, post-serverless-controller-python39-build, post-gitserver-build

pre-serverless-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-git-auth-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-git-auth-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-serverless-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-serverless-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v16-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v16-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v18-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v18-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-python39-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-python39-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-java17-jvm-alpha-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-java17-jvm-alpha-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-serverless-runtimes-nodejs-v16-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-serverless-runtimes-nodejs-v16-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-registry-gc-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-registry-gc-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: true
  decorate: true
  spec:
    containers:
  ...

Cleanup the registry garbage collector from serverless resources (#497)
  config/serverless/charts/docker-registry/templates/cronjob.yaml
  config/serverless/charts/docker-registry/templates/deployment.yaml
  config/serverless/charts/docker-registry/templates/rbac.yaml
  config/serverless/charts/docker-registry/values.yaml
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s

update the main readme
  README.md
Due: none

Apply suggestions from IwonaLanger review
  README.md
  docs/user/00-50-limitations.md
  docs/user/08-10-best-practices.md
  docs/user/_sidebar.md
  docs/user/technical-reference/04-10-architecture.md
  docs/user/troubleshooting-guides/03-40-function-build-failing-k3d.md
  docs/user/tutorials/01-10-create-inline-function.md
  docs/user/tutorials/01-20-expose-function.md
  docs/user/tutorials/01-50-sync-function-with-gitops.md
  docs/user/tutorials/01-80-log-into-private-packages-registry.md
Due: none

apply remaining suggestions from IwonaLanger review
  docs/user/troubleshooting-guides/03-10-cannot-build-functions.md
  docs/user/tutorials/01-30-manage-functions-with-kyma-cli.md
  docs/user/tutorials/01-50-sync-function-with-gitops.md
  docs/user/tutorials/01-60-set-external-registry.md
  docs/user/tutorials/01-90-set-asynchronous-connection.md
  tests/serverless/README.md
Due: none

fix warning reported by linter (#500)
  components/serverless/internal/controllers/serverless/validation.go
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

move validation of inline source dependencies from webhook to controller
  components/serverless/internal/controllers/serverless/validation.go
  components/serverless/internal/controllers/serverless/validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation_test.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

bump images
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s

apply remaining suggestion
  components/serverless/README.md
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Adjust Serverless to new guidelines (#499)
  README.md
  components/serverless/README.md
  docs/contributor/03-10-scripts-not-working.md
  docs/user/00-10-from-code-to-function.md
  docs/user/00-20-configure-serverless.md
  docs/user/00-30-development-toolkit.md
  docs/user/00-40-security-considerations.md
  docs/user/00-50-limitations.md
  docs/user/08-10-best-practices.md
  docs/user/_sidebar.md
  docs/user/resources/06-10-function-cr.md
  docs/user/resources/06-20-serverless-cr.md
  docs/user/technical-reference/04-10-architecture.md
  docs/user/technical-reference/04-20-internal-registry.md
  docs/user/technical-reference/05-20-env-variables.md
  docs/user/technical-reference/07-20-function-processing-stages.md
  docs/user/technical-reference/07-40-git-source-type.md
  docs/user/technical-reference/07-60-function-configuration-file.md
  docs/user/technical-reference/07-70-function-specification.md
  docs/user/technical-reference/07-80-available-presets.md
  docs/user/technical-reference/README.md
  docs/user/troubleshooting-guides/03-10-cannot-build-functions.md
  docs/user/troubleshooting-guides/03-20-failing-function-container.md
  docs/user/troubleshooting-guides/03-40-function-build-failing-k3d.md
  docs/user/troubleshooting-guides/03-50-serverless-periodically-restaring.md
  docs/user/tutorials/01-10-create-inline-function.md
  docs/user/tutorials/01-100-customize-function-traces.md
  docs/user/tutorials/01-11-create-git-function.md
  docs/user/tutorials/01-110-override-runtime-image.md
  docs/user/tutorials/01-120-inject-envs.md
  docs/user/tutorials/01-130-use-external-scalers.md
  docs/user/tutorials/01-140-use-secret-mounts.md
  docs/user/tutorials/01-20-expose-function.md
  docs/user/tutorials/01-50-sync-function-with-gitops.md
  docs/user/tutorials/01-60-set-external-registry.md
  docs/user/tutorials/01-80-log-into-private-packages-registry.md
  docs/user/tutorials/01-90-set-asynchronous-connection.md
  tests/serverless/README.md
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Replace k8s-tools with basic kubectl image (#494)
  config/serverless/charts/webhook/templates/deployment.yaml
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s

move validation of inline source dependencies (#502)
  components/serverless/internal/controllers/serverless/validation.go
  components/serverless/internal/controllers/serverless/validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation_test.go
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Auto-instrumentation for outgoing requests from python runtimes
  components/runtimes/python39/Dockerfile
  components/runtimes/python39/kubeless/kubeless.py
  components/runtimes/python39/kubeless/requirements.txt
  components/runtimes/python39/kubeless/tracing.py
  config/serverless/values.yaml
  docs/user/tutorials/01-100-customize-function-traces.md
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-runtimes-python39-build, post-serverless-runtimes-python39-build, post-serverless-controller-python39-build

Auto-instrumentation for outgoing requests from python runtimes (#505)
  components/runtimes/python39/Dockerfile
  components/runtimes/python39/kubeless/kubeless.py
  components/runtimes/python39/kubeless/requirements.txt
  components/runtimes/python39/kubeless/tracing.py
  config/serverless/values.yaml
  docs/user/tutorials/01-100-customize-function-traces.md
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-runtimes-python39-build, post-serverless-runtimes-python39-build, post-serverless-controller-python39-build

use FUNC_NAME to setup otel svc name
  components/runtimes/java17/src/main/java/io/project/kyma/serverless/Main.java
  components/runtimes/nodejs/server.js
  components/runtimes/python39/kubeless/kubeless.py
  components/serverless/internal/controllers/serverless/system_state.go
Due: pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, post-serverless-controller-python39-build

improve controller code
  components/serverless/internal/controllers/serverless/system_state.go
  components/serverless/internal/controllers/serverless/utils.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

fix python otlp service name
  components/runtimes/python39/kubeless/kubeless.py
Due: pre-serverless-runtimes-python39-build, post-serverless-runtimes-python39-build, post-serverless-controller-python39-build

Use FUNC_NAME to setup otel svc name (#503)
  components/runtimes/java17/src/main/java/io/project/kyma/serverless/Main.java
  components/runtimes/nodejs/server.js
  components/runtimes/python39/kubeless/kubeless.py
  components/serverless/internal/controllers/serverless/system_state.go
  components/serverless/internal/controllers/serverless/utils.go
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, post-serverless-controller-python39-build

use same tpi images in sec-scanners-config and values
  sec-scanners-config.yaml
Due: pre-serverless-module-build, post-serverless-module-build

move validation of labels and annotations from webhook to controller
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/controllers/serverless/fsm.go
  components/serverless/internal/controllers/serverless/validation.go
  components/serverless/internal/controllers/serverless/validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  config/serverless/templates/crds.yaml
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Use same tpi images in sec-scanners-config and values (#507)
  sec-scanners-config.yaml
Due: pre-serverless-module-build, post-serverless-module-build

Validate labels and annotations to controller (#504)
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/controllers/serverless/fsm.go
  components/serverless/internal/controllers/serverless/validation.go
  components/serverless/internal/controllers/serverless/validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  config/serverless/templates/crds.yaml
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

use_svcTargetPort
  components/serverless/internal/controllers/serverless/system_state.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

change_port
  config/operator/operator/kustomization.yaml
Due: pre-serverless-module-build, post-serverless-module-build

Revert "change_port"
  config/operator/operator/kustomization.yaml
Due: pre-serverless-module-build, post-serverless-module-build

Merge to main
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s

rebuild_svc
  components/serverless/internal/controllers/serverless/utils.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Revert "rebuild_svc"
  components/serverless/internal/controllers/serverless/utils.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

remove checking function type in webhook (it was moved to x-kubernetes-validations)
  components/serverless/internal/webhook/validating_webhook_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

remove checking function type in webhook (#509)
  components/serverless/internal/webhook/validating_webhook_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Merge to main
  .github/workflows/gardener-integration.yaml
  components/operator/hack/ci/Makefile
  components/operator/hack/ci/script_replace_images.sh
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s

dynamic_changes
  components/operator/hack/ci/Makefile
  components/operator/hack/ci/script_replace_images.sh
Due: none

commit values bump
  .github/workflows/create-release.yaml
Due: none

bump sec-scanners-config
  .github/scripts/upgrade-sec-scanners-config.sh
  .github/workflows/create-release.yaml
Due: none

Automate integration tests (#510)
  .github/workflows/gardener-integration.yaml
  components/operator/hack/ci/Makefile
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s

fix yq args
  .github/scripts/upgrade-sec-scanners-config.sh
Due: none

Release values autobump (#511)
  .github/scripts/upgrade-sec-scanners-config.sh
  .github/workflows/create-release.yaml
Due: none

create workflow
  .github/scripts/verify-image-changes.sh
  .github/workflows/pr-verify-main-images.yaml
Due: none

remove-steps
  .github/scripts/check_image.sh
  .github/scripts/verify-serverless-manifest-images.sh
  .github/workflows/create-release.yaml
  components/operator/hack/ci/Makefile
Due: none

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-module-build: any of: ^config/operator/.*$|^sec-scanners-config.yaml$|^.version$|^module-config-template.yaml$
  post-serverless-module-build: any of: ^config/operator/.*$|^sec-scanners-config.yaml$|^.version$|^module-config-template.yaml$
  pre-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-python39-build: (any of: ^components/runtimes/python39/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-python39-build: any of: ^components/runtimes/python39/
  post-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: any of: ^components/serverless/
  pre-serverless-webhook-build: any of: ^components/serverless/
  pre-serverless-jobinit-build: any of: ^components/serverless/
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-controller-build: any of: ^components/serverless/
  post-serverless-webhook-build: any of: ^components/serverless/
  post-serverless-jobinit-build: any of: ^components/serverless/
  post-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: any of: ^components/serverless/.*\.go$
  pre-gitserver-build: any of: ^tests/gitserver
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
  post-gitserver-build: any of: ^tests/gitserver/
