Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-gitserver-build, post-serverless-controller-python39-build, post-gitserver-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-module-build: unless all of: ^docs/|^examples/
  pre-serverless-operator-build: unless all of: ^docs/|^examples/
  post-serverless-module-build: unless all of: ^docs/|^examples/
  post-serverless-operator-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-python39-build: (any of: ^components/runtimes/python39/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-python39-build: any of: ^components/runtimes/python39/
  post-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: any of: ^components/serverless/
  pre-serverless-webhook-build: any of: ^components/serverless/
  pre-serverless-jobinit-build: any of: ^components/serverless/
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-controller-build: any of: ^components/serverless/
  post-serverless-webhook-build: any of: ^components/serverless/
  post-serverless-jobinit-build: any of: ^components/serverless/
  post-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: any of: ^components/serverless/.*\.go$
  pre-gitserver-build: any of: ^tests/gitserver
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
  post-gitserver-build: any of: ^tests/gitserver/

Validate scaleConfig boundaries (#552)
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  config/serverless/templates/crds.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Remove registry cleaner (#554)
  components/serverless/cmd/registry-gc/main.go
  components/serverless/deploy/registry-gc/Dockerfile
  components/serverless/go.mod
  components/serverless/go.sum
  components/serverless/internal/registry/nested_set.go
  components/serverless/internal/registry/nested_set_test.go
  components/serverless/internal/registry/registry.go
  components/serverless/internal/registry/registry_test.go
  components/serverless/internal/registry/repository.go
  components/serverless/internal/registry/utils.go
  components/serverless/internal/registry/utils_test.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

quickfix
  components/operator/hack/common/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Update module name in components/operator
  components/operator/controllers/serverless_controller.go
  components/operator/controllers/serverless_controller_test.go
  components/operator/controllers/suite_test.go
  components/operator/controllers/testhelper_test.go
  components/operator/go.mod
  components/operator/internal/chart/install.go
  components/operator/internal/state/add_finalizer_test.go
  components/operator/internal/state/apply.go
  components/operator/internal/state/apply_test.go
  components/operator/internal/state/controller_configuration.go
  components/operator/internal/state/controller_configuration_test.go
  components/operator/internal/state/delete.go
  components/operator/internal/state/delete_test.go
  components/operator/internal/state/emit_event_test.go
  components/operator/internal/state/fsm.go
  components/operator/internal/state/fsm_test.go
  components/operator/internal/state/initialize_test.go
  components/operator/internal/state/new.go
  components/operator/internal/state/optional_dependencies.go
  components/operator/internal/state/optional_dependencies_test.go
  components/operator/internal/state/registry.go
  components/operator/internal/state/registry_test.go
  components/operator/internal/state/remove_finalizer_test.go
  components/operator/internal/state/served_filter.go
  components/operator/internal/state/served_filter_test.go
  components/operator/internal/state/serverless_utils.go
  components/operator/internal/state/state.go
  components/operator/internal/state/state_test.go
  components/operator/internal/state/verify.go
  components/operator/internal/state/verify_test.go
  components/operator/main.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Fix controller tests for webhook
  components/operator/controllers/serverless_controller_test.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

expect 1 len
  components/operator/controllers/serverless_controller_test.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Remove unused files (#548)
  .github/OWNERS
  OWNERS
  OWNERS_ALIASES
  PROJECT
  components/serverless/PROJECT
  docs/OWNERS
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Fix controller tests for webhook (#555)
  components/operator/controllers/serverless_controller_test.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Update module name in components/operator (#531)
  components/operator/controllers/serverless_controller.go
  components/operator/controllers/serverless_controller_test.go
  components/operator/controllers/suite_test.go
  components/operator/controllers/testhelper_test.go
  components/operator/go.mod
  components/operator/internal/chart/install.go
  components/operator/internal/state/add_finalizer_test.go
  components/operator/internal/state/apply.go
  components/operator/internal/state/apply_test.go
  components/operator/internal/state/controller_configuration.go
  components/operator/internal/state/controller_configuration_test.go
  components/operator/internal/state/delete.go
  components/operator/internal/state/delete_test.go
  components/operator/internal/state/emit_event_test.go
  components/operator/internal/state/fsm.go
  components/operator/internal/state/fsm_test.go
  components/operator/internal/state/initialize_test.go
  components/operator/internal/state/new.go
  components/operator/internal/state/optional_dependencies.go
  components/operator/internal/state/optional_dependencies_test.go
  components/operator/internal/state/registry.go
  components/operator/internal/state/registry_test.go
  components/operator/internal/state/remove_finalizer_test.go
  components/operator/internal/state/served_filter.go
  components/operator/internal/state/served_filter_test.go
  components/operator/internal/state/serverless_utils.go
  components/operator/internal/state/state.go
  components/operator/internal/state/state_test.go
  components/operator/internal/state/verify.go
  components/operator/internal/state/verify_test.go
  components/operator/main.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Fix typo in CI test (#551)
  components/operator/hack/common/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Rename serverless import in tests
  tests/serverless/internal/resources/function/function.go
  tests/serverless/internal/resources/function/steps.go
  tests/serverless/internal/resources/runtimes/git_function.go
  tests/serverless/internal/resources/runtimes/nodejs.go
  tests/serverless/internal/resources/runtimes/python.go
  tests/serverless/internal/testsuite/api_gateway.go
  tests/serverless/internal/testsuite/cloud_events.go
  tests/serverless/internal/testsuite/gitauth.go
  tests/serverless/internal/testsuite/gitops.go
  tests/serverless/internal/testsuite/light_runtimes.go
  tests/serverless/internal/testsuite/tracing.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

go.mod
  tests/serverless/go.mod
  tests/serverless/go.sum
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Rename serverless import in tests (#556)
  tests/serverless/go.mod
  tests/serverless/go.sum
  tests/serverless/internal/resources/function/function.go
  tests/serverless/internal/resources/function/steps.go
  tests/serverless/internal/resources/runtimes/git_function.go
  tests/serverless/internal/resources/runtimes/nodejs.go
  tests/serverless/internal/resources/runtimes/python.go
  tests/serverless/internal/testsuite/api_gateway.go
  tests/serverless/internal/testsuite/cloud_events.go
  tests/serverless/internal/testsuite/gitauth.go
  tests/serverless/internal/testsuite/gitops.go
  tests/serverless/internal/testsuite/light_runtimes.go
  tests/serverless/internal/testsuite/tracing.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

add gh action serverless-operator-unit-tests
  .github/workflows/operator-verify.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

implement proper port for prometheus
  components/serverless/internal/controllers/serverless/service.go
  components/serverless/internal/controllers/serverless/service_test.go
  components/serverless/internal/controllers/serverless/system_state.go
  components/serverless/internal/controllers/serverless/utils.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

fix
  components/serverless/internal/controllers/serverless/service.go
  components/serverless/internal/controllers/serverless/service_test.go
  components/serverless/internal/controllers/serverless/utils.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

add gh action serverless-operator-unit-tests (#557)
  .github/workflows/operator-verify.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

fix unit tests
  components/serverless/internal/controllers/serverless/service_test.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

add gh action serverless-operator-verify
  .github/workflows/operator-verify.yaml
  components/operator/hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

improve code
  components/serverless/internal/controllers/serverless/service.go
  components/serverless/internal/controllers/serverless/utils.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

add gh action serverless-operator-verify (#561)
  .github/workflows/operator-verify.yaml
  components/operator/hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Bump serverleass k8s dependency to a common version
  components/serverless/go.mod
  components/serverless/go.sum
  components/serverless/internal/resource/automock/client.go
  components/serverless/internal/resource/automock/k8s_client.go
  components/serverless/internal/resource/resource.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

use the same versions between both components when possible
  components/serverless/go.mod
  components/serverless/go.sum
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Set app.kubernetes.io/name label for better function instrumentation
  components/runtimes/nodejs/lib/metrics.js
  components/runtimes/nodejs/lib/tracer.js
  components/runtimes/nodejs/server.js
  components/runtimes/python39/kubeless/kubeless.py
  components/runtimes/python39/kubeless/tracing.py
  components/serverless/internal/controllers/serverless/build_resources_test.go
  components/serverless/internal/controllers/serverless/function_reconcile_asserts_test.go
  components/serverless/internal/controllers/serverless/function_reconcile_gitops_test.go
  components/serverless/internal/controllers/serverless/system_state.go
  components/serverless/internal/controllers/serverless/system_state_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, post-serverless-controller-python39-build

readme
  README.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Update Readme.md (#564)
  README.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

improve parameters names
  components/serverless/internal/controllers/serverless/utils.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Implement proper port for prometheus (#559)
  components/serverless/internal/controllers/serverless/service.go
  components/serverless/internal/controllers/serverless/service_test.go
  components/serverless/internal/controllers/serverless/system_state.go
  components/serverless/internal/controllers/serverless/utils.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

comment
  components/serverless/go.mod
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Bump serverless k8s dependency to a common version (#563)
  components/serverless/go.mod
  components/serverless/go.sum
  components/serverless/internal/resource/automock/client.go
  components/serverless/internal/resource/automock/k8s_client.go
  components/serverless/internal/resource/resource.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

remove google container
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Remove google container (#567)
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Cleanup unused ENVS from docs
  components/serverless/README.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

migrate lint operator job
  .github/workflows/operator-verify.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

remove optional step
  .github/workflows/operator-verify.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

move gardener integration test
  .github/workflows/operator-verify.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Set app.kubernetes.io/name label for better function instrumentation (#512)
  components/runtimes/nodejs/lib/metrics.js
  components/runtimes/nodejs/lib/tracer.js
  components/runtimes/nodejs/server.js
  components/runtimes/python39/kubeless/kubeless.py
  components/runtimes/python39/kubeless/tracing.py
  components/serverless/internal/controllers/serverless/build_resources_test.go
  components/serverless/internal/controllers/serverless/function_reconcile_asserts_test.go
  components/serverless/internal/controllers/serverless/function_reconcile_gitops_test.go
  components/serverless/internal/controllers/serverless/system_state.go
  components/serverless/internal/controllers/serverless/system_state_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, post-serverless-controller-python39-build

remove old file
  .github/workflows/gardener-integration.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build
