Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-gitserver-build, post-serverless-controller-python39-build, post-gitserver-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-module-build: unless all of: ^docs/|^examples/
  pre-serverless-operator-build: unless all of: ^docs/|^examples/
  post-serverless-module-build: unless all of: ^docs/|^examples/
  post-serverless-operator-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-python39-build: (any of: ^components/runtimes/python39/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-python39-build: any of: ^components/runtimes/python39/
  post-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: any of: ^components/serverless/
  pre-serverless-webhook-build: any of: ^components/serverless/
  pre-serverless-jobinit-build: any of: ^components/serverless/
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-controller-build: any of: ^components/serverless/
  post-serverless-webhook-build: any of: ^components/serverless/
  post-serverless-jobinit-build: any of: ^components/serverless/
  post-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: (any of: ^components/serverless/) or (any of: ^components/serverless/.*\.go$)
  pre-gitserver-build: any of: ^tests/gitserver
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
  post-gitserver-build: any of: ^tests/gitserver/

Fix gardener job (#744)
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
  hack/tools/gardener.Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

merge operator dockerfiles into one dockerfile
  components/operator/Dockerfile
  components/operator/Dockerfile.dev
  components/operator/Dockerfile.release
  components/operator/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

add Dockerfile.dev required by test-infra
  components/operator/Dockerfile.dev
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

merge operator dockerfiles into one dockerfile (#750)
  components/operator/Dockerfile
  components/operator/Dockerfile.dev
  components/operator/Dockerfile.release
  components/operator/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

first impl
  .github/workflows/operator-verify.yaml
  .github/workflows/serverless-verify.yaml
  Makefile
  components/operator/Makefile
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
  hack/tests/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

fix make
  hack/tests/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

improve naming
  .github/workflows/operator-verify.yaml
  .github/workflows/serverless-verify.yaml
  components/operator/Makefile
  hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Handle /favicon.ico requests the same as in nodejs runtimes
  components/runtimes/python39/kubeless/kubeless.py
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-runtimes-python39-build, post-serverless-runtimes-python39-build, post-serverless-controller-python39-build

fix tests
  .github/workflows/serverless-verify.yaml
  hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

add more docs
  Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

improve naming
  Makefile
  hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

add removal of serverless
  hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

remove unused operator dockerfiles
  components/operator/Dockerfile.dev
  components/operator/Dockerfile.release
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

code review fixes
  components/serverless/internal/logging/logger/logger.go
  components/serverless/internal/logging/tracing/helper_test.go
  components/serverless/internal/logging/tracing/middleware_test.go
  go.mod
  go.sum
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Stop using /common/logging from kyma monorepo (#742)
  components/serverless/hack/run-linters.sh
  components/serverless/internal/logging/logger/format.go
  components/serverless/internal/logging/logger/format_test.go
  components/serverless/internal/logging/logger/level.go
  components/serverless/internal/logging/logger/level_test.go
  components/serverless/internal/logging/logger/logger.go
  components/serverless/internal/logging/logger/logger_test.go
  components/serverless/internal/logging/setup.go
  components/serverless/internal/logging/tracing/helper.go
  components/serverless/internal/logging/tracing/helper_test.go
  components/serverless/internal/logging/tracing/middleware.go
  components/serverless/internal/logging/tracing/middleware_test.go
  go.mod
  go.sum
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Change the structure of makefiles (#751)
  .github/workflows/operator-verify.yaml
  .github/workflows/serverless-verify.yaml
  Makefile
  components/operator/Makefile
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
  hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

fix
  Makefile
  hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Fix tests (#758)
  Makefile
  hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

fix makefiles
  Makefile
  hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Fix makefiles 2 (#759)
  Makefile
  hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

fix
  hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Fix (#760)
  hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

remove unused operator dockerfiles (#754)
  components/operator/Dockerfile.dev
  components/operator/Dockerfile.release
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

fix (#761)
  hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

small fixes and unification in hack/ci/Makefile
  hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

rename target for replacing all serverless images
  .github/workflows/create-release.yaml
  components/operator/Dockerfile
  components/operator/hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Makefile refactor images replacing (#762)
  .github/workflows/create-release.yaml
  components/operator/Dockerfile
  components/operator/hack/ci/Makefile
  hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

extract k3d
  components/operator/Makefile
  components/operator/hack/common/Makefile
  components/operator/hack/local/Makefile
  components/serverless/Makefile
  hack/tools/k3d.Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test

Extract k3d makefile (#763)
  components/operator/Makefile
  components/operator/hack/common/Makefile
  components/operator/hack/local/Makefile
  components/serverless/Makefile
  hack/tools/k3d.Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test

use overlays
  config/operator/base/crd/bases/operator.kyma-project.io_serverlesses.yaml
  config/operator/base/crd/kustomization.yaml
  config/operator/base/crd/kustomizeconfig.yaml
  config/operator/base/deployment/deployment.yaml
  config/operator/base/deployment/kustomization.yaml
  config/operator/base/kustomization.yaml
  config/operator/base/rbac/kustomization.yaml
  config/operator/base/rbac/role.yaml
  config/operator/base/rbac/role_binding.yaml
  config/operator/base/rbac/serverless_editor_role.yaml
  config/operator/base/rbac/serverless_viewer_role.yaml
  config/operator/base/rbac/service_account.yaml
  config/operator/base/ui-extensions/kustomization.yaml
  config/operator/base/ui-extensions/serverless/details
  config/operator/base/ui-extensions/serverless/form
  config/operator/base/ui-extensions/serverless/general
  config/operator/base/ui-extensions/serverless/kustomization.yaml
  config/operator/base/ui-extensions/serverless/list
  config/operator/dev/kustomization.yaml
  config/operator/operator/kustomization.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

add kustomize tpl
  Makefile
  components/operator/Makefile
  config/operator/dev/.gitignore
  config/operator/dev/kustomization.yaml.tpl
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

fix unit tests
  components/operator/controllers/suite_test.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

fix makefile
  components/operator/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

extract images replacing to script
  components/operator/hack/ci/Makefile
  components/operator/hack/ci/replace_serverless_chart_images.sh
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Add dev overlay to operator kustomize (#764)
  Makefile
  components/operator/Makefile
  components/operator/controllers/suite_test.go
  config/operator/base/crd/bases/operator.kyma-project.io_serverlesses.yaml
  config/operator/base/crd/kustomization.yaml
  config/operator/base/crd/kustomizeconfig.yaml
  config/operator/base/deployment/deployment.yaml
  config/operator/base/deployment/kustomization.yaml
  config/operator/base/kustomization.yaml
  config/operator/base/rbac/kustomization.yaml
  config/operator/base/rbac/role.yaml
  config/operator/base/rbac/role_binding.yaml
  config/operator/base/rbac/serverless_editor_role.yaml
  config/operator/base/rbac/serverless_viewer_role.yaml
  config/operator/base/rbac/service_account.yaml
  config/operator/base/ui-extensions/kustomization.yaml
  config/operator/base/ui-extensions/serverless/details
  config/operator/base/ui-extensions/serverless/form
  config/operator/base/ui-extensions/serverless/general
  config/operator/base/ui-extensions/serverless/kustomization.yaml
  config/operator/base/ui-extensions/serverless/list
  config/operator/dev/.gitignore
  config/operator/dev/kustomization.yaml.tpl
  config/operator/operator/kustomization.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

use replace_serverless_chart_images script instead of make target
  components/operator/hack/ci/Makefile
  hack/tools/replace_serverless_chart_images.sh
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

use replace_serverless_chart_images script instead of make target
  .github/workflows/create-release.yaml
  components/operator/Dockerfile
  hack/tools/replace_serverless_chart_images.sh
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

first impl
  components/operator/Makefile
  components/operator/hack/build_local_images.sh
  components/operator/hack/common/Makefile
  components/operator/hack/local/Makefile
  components/operator/hack/makefile-strategy.md
  components/operator/hack/makefile-strategy.png
  components/operator/hack/verify_serverless_status.sh
  components/serverless/Makefile
  hack/tools/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test

fix
  components/operator/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build
