Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, post-serverless-module-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-gitserver-build, post-serverless-controller-python39-build, post-gitserver-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-module-build: any of: ^config/operator/.*$|^sec-scanners-config.yaml$|^.version$|^module-config-template.yaml$
  post-serverless-module-build: any of: ^config/operator/.*$|^sec-scanners-config.yaml$|^.version$|^module-config-template.yaml$
  pre-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-python39-build: (any of: ^components/runtimes/python39/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-python39-build: any of: ^components/runtimes/python39/
  post-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: any of: ^components/serverless/
  pre-serverless-webhook-build: any of: ^components/serverless/
  pre-serverless-jobinit-build: any of: ^components/serverless/
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-controller-build: any of: ^components/serverless/
  post-serverless-webhook-build: any of: ^components/serverless/
  post-serverless-jobinit-build: any of: ^components/serverless/
  post-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: any of: ^components/serverless/.*\.go$
  pre-gitserver-build: any of: ^tests/gitserver
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
  post-gitserver-build: any of: ^tests/gitserver/

Removed unnecessary steps from release flow (#516)
  .github/scripts/check_image.sh
  .github/scripts/verify-serverless-manifest-images.sh
  .github/workflows/create-release.yaml
  components/operator/hack/ci/Makefile
Due: none

Block PR is developer changed main tag (#513)
  .github/scripts/verify-image-changes.sh
  .github/workflows/pr-verify-main-images.yaml
Due: none

typo
  .github/workflows/create-release.yaml
Due: none

Remove job requirement from verify-head-status (#517)
  .github/workflows/create-release.yaml
Due: none

do
  .github/scripts/upgrade-sec-scanners-config.sh
  .github/workflows/create-release.yaml
Due: none

move baseDir and reference validations from webhook to x-kubernetes-validations
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/webhook/validating_webhook_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/validation_helpers.go
  config/serverless/templates/crds.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Fix release job and change script (#518)
  .github/scripts/upgrade-sec-scanners-config.sh
  .github/workflows/create-release.yaml
Due: none

fix script
  .github/scripts/upgrade-sec-scanners-config.sh
Due: none

Fix update-sec-scanners-config.sh (#519)
  .github/scripts/upgrade-sec-scanners-config.sh
Due: none

fix release checkout
  .github/workflows/create-release.yaml
Due: none

Fix release checkout (#520)
  .github/workflows/create-release.yaml
Due: none

add missing IMG env
  .github/scripts/release.sh
  .github/workflows/create-release.yaml
Due: none

Add missing IMG env to the `release.sh` file (#521)
  .github/scripts/release.sh
  .github/workflows/create-release.yaml
Due: none

use one type of indentation inside JSON
  components/serverless/internal/webhook/validating_webhook_test.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

increase verify prow status timeout
  .github/scripts/verify-serverless-jobs-status.sh
Due: none

move baseDir and reference validations to x-kubernetes-validations (#514)
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/webhook/validating_webhook_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/validation_helpers.go
  config/serverless/templates/crds.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

rename step
  .github/workflows/create-release.yaml
Due: none

Increase release verify timeouts (#522)
  .github/scripts/verify-serverless-jobs-status.sh
  .github/workflows/create-release.yaml
Due: none

create specific operator dockerfiles
  components/operator/Dockerfile.dev
  components/operator/Dockerfile.release
  components/operator/hack/ci/Makefile
Due: none

adjust_verify
  README.md
  components/operator/Makefile
  components/operator/hack/common/Makefile
  components/operator/hack/local/Makefile
Due: none

correct_target
  components/operator/hack/common/Makefile
Due: none

Create dev and release dockerfiles for operator (#523)
  README.md
  components/operator/Dockerfile.dev
  components/operator/Dockerfile.release
  components/operator/Makefile
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
  components/operator/hack/local/Makefile
Due: none

Use query params in hello world sample
  config/serverless/templates/busola-serverless-extension.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s

local_development
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
  components/operator/hack/local/Makefile
  components/operator/hack/local/build_local_images.sh
  docker-compose.yaml
Due: none

use_local
  components/operator/Dockerfile.dev
Due: none

dockerfile
  components/operator/Dockerfile.dev
Due: none

cleanup
  components/operator/Dockerfile.dev
Due: none

Label serverless resources
  config/serverless/charts/docker-registry/templates/secret.yaml
  config/serverless/templates/registry-config.yaml
  config/serverless/templates/runtimes.yaml
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s

Use query params in hello world sample (#525)
  config/serverless/templates/busola-serverless-extension.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s

Add troubleshooting for Docker + Rosetta
  components/serverless/README.md
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

fix
  components/serverless/README.md
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

remove lm targets
  components/operator/hack/local/Makefile
Due: none

add deploy-cluster target
  components/operator/hack/local/Makefile
Due: none

improve descriptions
  components/operator/hack/local/Makefile
Due: none

Automatically swap images for local development (#526)
  components/operator/Dockerfile.dev
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
  components/operator/hack/local/Makefile
  components/operator/hack/local/build_local_images.sh
  docker-compose.yaml
Due: none

use_dev
  components/operator/Makefile
  components/operator/hack/common/Makefile
  components/operator/hack/local/Makefile
Due: none

envs
  components/operator/hack/local/Makefile
Due: none

remove_make_uses
  components/operator/hack/ci/Makefile
Due: none

fix_local
  components/operator/hack/local/Makefile
Due: none
