Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-gitserver-build, post-serverless-controller-python39-build, post-gitserver-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-module-build: unless all of: ^docs/|^examples/
  pre-serverless-operator-build: unless all of: ^docs/|^examples/
  post-serverless-module-build: unless all of: ^docs/|^examples/
  post-serverless-operator-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-python39-build: (any of: ^components/runtimes/python39/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-python39-build: any of: ^components/runtimes/python39/
  post-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: any of: ^components/serverless/
  pre-serverless-webhook-build: any of: ^components/serverless/
  pre-serverless-jobinit-build: any of: ^components/serverless/
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-controller-build: any of: ^components/serverless/
  post-serverless-webhook-build: any of: ^components/serverless/
  post-serverless-jobinit-build: any of: ^components/serverless/
  post-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: (any of: ^components/serverless/) or (any of: ^components/serverless/.*\.go$)
  pre-gitserver-build: any of: ^tests/gitserver
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
  post-gitserver-build: any of: ^tests/gitserver/

Make Python 3.12 default, deprecate 3.9 (#796)
  components/serverless/.golangci.yaml
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/hack/controller.env
  components/serverless/internal/controllers/serverless/build_resources_test.go
  components/serverless/internal/controllers/serverless/metrics/function_metrics_test.go
  components/serverless/internal/controllers/serverless/validation_test.go
  components/serverless/internal/webhook/fixtures_test.go
  components/serverless/internal/webhook/validating_webhook_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  config/serverless/templates/busola-serverless-extension.yaml
  config/serverless/templates/crds.yaml
  docs/user/resources/06-10-function-cr.md
  docs/user/technical-reference/05-20-env-variables.md
  docs/user/technical-reference/07-10-sample-functions.md
  docs/user/technical-reference/07-60-function-configuration-file.md
  docs/user/technical-reference/07-70-function-specification.md
  docs/user/tutorials/01-110-override-runtime-image.md
  docs/user/tutorials/01-140-use-secret-mounts.md
  docs/user/tutorials/01-30-manage-functions-with-kyma-cli.md
  docs/user/tutorials/01-50-sync-function-with-gitops.md
  examples/python-text2img/config.yaml
  examples/python-text2img/resources/function.yaml
  tests/serverless/internal/resources/runtimes/python.go
  tests/serverless/internal/testsuite/cloud_events.go
  tests/serverless/internal/testsuite/gitauth.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

runtimes: Add nodejs20 image (#792)
  .github/dependabot.yml
  components/runtimes/nodejs/nodejs20/Dockerfile
  components/runtimes/nodejs/nodejs20/package.json
  sec-scanners-config.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build

Fix unit tests on Mac (#799)
  hack/tools.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

add makefile strategy description
  hack/makefile-strategy.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Bump controller-gen
  components/operator/api/v1alpha1/zz_generated.deepcopy.go
  config/operator/base/crd/bases/operator.kyma-project.io_serverlesses.yaml
  hack/tools.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

run make amnifests
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/config/rbac/role.yaml
  components/serverless/pkg/apis/serverless/v1alpha2/zz_generated.deepcopy.go
  config/serverless/templates/crds.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

test if correct version of controller-gen is installed
  hack/tools.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Bump controller-gen and render manifests
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/config/rbac/role.yaml
  config/serverless/templates/crds.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test

Bump controller-gen in makefile
  components/operator/api/v1alpha1/zz_generated.deepcopy.go
  config/operator/base/crd/bases/operator.kyma-project.io_serverlesses.yaml
  hack/tools.mk
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Update hack/makefile-strategy.md
  hack/makefile-strategy.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Bump controller-gen (#812)
  components/operator/api/v1alpha1/zz_generated.deepcopy.go
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/config/rbac/role.yaml
  components/serverless/pkg/apis/serverless/v1alpha2/zz_generated.deepcopy.go
  config/operator/base/crd/bases/operator.kyma-project.io_serverlesses.yaml
  config/serverless/templates/crds.yaml
  hack/tools.mk
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test

Apply suggestions from code review
  hack/makefile-strategy.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

add makefile strategy description (#811)
  hack/makefile-strategy.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Move relevant examples to the Serverless repo
  examples/custom-serverless-runtime-image/Dockerfile
  examples/custom-serverless-runtime-image/README.md
  examples/custom-serverless-runtime-image/kubeless/ce.py
  examples/custom-serverless-runtime-image/kubeless/kubeless.py
  examples/custom-serverless-runtime-image/kubeless/requirements.txt
  examples/custom-serverless-runtime-image/kubeless/tracing.py
  examples/incluster_eventing/.github/workflows/deploy.yml
  examples/incluster_eventing/Makefile
  examples/incluster_eventing/README.md
  examples/incluster_eventing/k8s-resources/emitter-fn.yaml
  examples/incluster_eventing/k8s-resources/receiver-fn.yaml
  examples/incluster_eventing/src/emitter-fn/config.yaml
  examples/incluster_eventing/src/emitter-fn/handler.js
  examples/incluster_eventing/src/emitter-fn/package.json
  examples/incluster_eventing/src/receiver-fn/config.yaml
  examples/incluster_eventing/src/receiver-fn/handler.js
  examples/incluster_eventing/src/receiver-fn/package.json
Due: none

Fix opentelemetry api import for SpanStatusCodes
  components/runtimes/nodejs/lib/helper.js
  components/runtimes/nodejs/nodejs16/package.json
  components/runtimes/nodejs/nodejs18/package.json
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build

Fix opentelemetry api import for SpanStatusCodes (#817)
  components/runtimes/nodejs/lib/helper.js
  components/runtimes/nodejs/nodejs16/package.json
  components/runtimes/nodejs/nodejs18/package.json
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build

Add nodejs20 runtime
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/controllers/serverless/build_resources_test.go
  components/serverless/internal/controllers/serverless/runtime/runtime.go
  components/serverless/internal/controllers/serverless/runtime/runtime_test.go
  components/serverless/internal/controllers/serverless/utils.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/runtime_validation.go
  config/serverless/templates/busola-serverless-extension.yaml
  config/serverless/templates/crds.yaml
  config/serverless/templates/runtimes.yaml
  config/serverless/values.yaml
  docs/user/resources/06-10-function-cr.md
  docs/user/technical-reference/05-20-env-variables.md
  docs/user/technical-reference/07-60-function-configuration-file.md
  docs/user/technical-reference/07-70-function-specification.md
  tests/serverless-bench/fixtures/functions/nodejs20-l.yaml
  tests/serverless-bench/fixtures/functions/nodejs20-m.yaml
  tests/serverless-bench/fixtures/functions/nodejs20-s.yaml
  tests/serverless-bench/fixtures/functions/nodejs20-xl.yaml
  tests/serverless-bench/fixtures/functions/nodejs20-xs.yaml
  tests/serverless-bench/run-benchmarks.sh
  tests/serverless/internal/testsuite/api_gateway.go
  tests/serverless/internal/testsuite/cloud_events.go
  tests/serverless/internal/testsuite/light_runtimes.go
  tests/serverless/internal/testsuite/tracing.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Do not keep orphaned replicaset fro function managed deployments
  components/serverless/internal/controllers/serverless/deployment_test.go
  components/serverless/internal/controllers/serverless/system_state.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Do not keep orphaned replicaset fro function managed deployments
  components/serverless/internal/controllers/serverless/deployment_test.go
  components/serverless/internal/controllers/serverless/utils.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Do not keep orphaned replicaset fro function managed deployments
  components/serverless/internal/controllers/serverless/deployment_test.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Do not keep orphaned replicaset fro function managed deployments
  components/serverless/internal/controllers/serverless/utils.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Do not keep orphaned replicaset fro function managed deployments (#820)
  components/serverless/internal/controllers/serverless/deployment_test.go
  components/serverless/internal/controllers/serverless/system_state.go
  components/serverless/internal/controllers/serverless/utils.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Remove .github folder
  examples/incluster_eventing/.github/workflows/deploy.yml
Due: none

Remove obsolete line
  examples/incluster_eventing/README.md
Due: none

Move relevant examples to the Serverless repo (#815)
  examples/custom-serverless-runtime-image/Dockerfile
  examples/custom-serverless-runtime-image/README.md
  examples/custom-serverless-runtime-image/kubeless/ce.py
  examples/custom-serverless-runtime-image/kubeless/kubeless.py
  examples/custom-serverless-runtime-image/kubeless/requirements.txt
  examples/custom-serverless-runtime-image/kubeless/tracing.py
  examples/incluster_eventing/Makefile
  examples/incluster_eventing/README.md
  examples/incluster_eventing/k8s-resources/emitter-fn.yaml
  examples/incluster_eventing/k8s-resources/receiver-fn.yaml
  examples/incluster_eventing/src/emitter-fn/config.yaml
  examples/incluster_eventing/src/emitter-fn/handler.js
  examples/incluster_eventing/src/emitter-fn/package.json
  examples/incluster_eventing/src/receiver-fn/config.yaml
  examples/incluster_eventing/src/receiver-fn/handler.js
  examples/incluster_eventing/src/receiver-fn/package.json
Due: none

Remove Nodejs16 image
  .github/dependabot.yml
  components/runtimes/nodejs/nodejs16/Dockerfile
  components/runtimes/nodejs/nodejs16/package.json
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build

Add nodejs 20 runtime (#800)
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/controllers/serverless/build_resources_test.go
  components/serverless/internal/controllers/serverless/runtime/runtime.go
  components/serverless/internal/controllers/serverless/runtime/runtime_test.go
  components/serverless/internal/controllers/serverless/utils.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/runtime_validation.go
  config/serverless/templates/busola-serverless-extension.yaml
  config/serverless/templates/crds.yaml
  config/serverless/templates/runtimes.yaml
  config/serverless/values.yaml
  docs/user/resources/06-10-function-cr.md
  docs/user/technical-reference/05-20-env-variables.md
  docs/user/technical-reference/07-60-function-configuration-file.md
  docs/user/technical-reference/07-70-function-specification.md
  tests/serverless-bench/fixtures/functions/nodejs20-l.yaml
  tests/serverless-bench/fixtures/functions/nodejs20-m.yaml
  tests/serverless-bench/fixtures/functions/nodejs20-s.yaml
  tests/serverless-bench/fixtures/functions/nodejs20-xl.yaml
  tests/serverless-bench/fixtures/functions/nodejs20-xs.yaml
  tests/serverless-bench/run-benchmarks.sh
  tests/serverless/internal/testsuite/api_gateway.go
  tests/serverless/internal/testsuite/cloud_events.go
  tests/serverless/internal/testsuite/light_runtimes.go
  tests/serverless/internal/testsuite/tracing.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

Remove Nodejs16
  components/runtimes/Makefile
  components/serverless/.golangci.yaml
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/controllers/serverless/build_resources_test.go
  components/serverless/internal/controllers/serverless/runtime/runtime.go
  components/serverless/internal/controllers/serverless/runtime/runtime_test.go
  components/serverless/internal/controllers/serverless/utils.go
  components/serverless/internal/controllers/serverless/utils_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/runtime_validation.go
  config/serverless/templates/busola-serverless-extension.yaml
  config/serverless/templates/crds.yaml
  config/serverless/templates/runtimes.yaml
  config/serverless/values.yaml
  docs/user/resources/06-10-function-cr.md
  docs/user/technical-reference/05-20-env-variables.md
  docs/user/technical-reference/07-60-function-configuration-file.md
  docs/user/technical-reference/07-70-function-specification.md
  sec-scanners-config.yaml
  tests/serverless-bench/fixtures/functions/nodejs16-l.yaml
  tests/serverless-bench/fixtures/functions/nodejs16-m.yaml
  tests/serverless-bench/fixtures/functions/nodejs16-s.yaml
  tests/serverless-bench/fixtures/functions/nodejs16-xl.yaml
  tests/serverless-bench/fixtures/functions/nodejs16-xs.yaml
  tests/serverless-bench/run-benchmarks.sh
  tests/serverless/internal/testsuite/api_gateway.go
  tests/serverless/internal/testsuite/cloud_events.go
  tests/serverless/internal/testsuite/light_runtimes.go
  tests/serverless/internal/testsuite/tracing.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

fix typo
  components/serverless/internal/controllers/serverless/runtime/runtime_test.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

remove unused Makefile
  components/runtimes/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Remove Nodejs16 (#810)
  components/runtimes/Makefile
  components/serverless/.golangci.yaml
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/controllers/serverless/build_resources_test.go
  components/serverless/internal/controllers/serverless/runtime/runtime.go
  components/serverless/internal/controllers/serverless/runtime/runtime_test.go
  components/serverless/internal/controllers/serverless/utils.go
  components/serverless/internal/controllers/serverless/utils_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/runtime_validation.go
  config/serverless/templates/busola-serverless-extension.yaml
  config/serverless/templates/crds.yaml
  config/serverless/templates/runtimes.yaml
  config/serverless/values.yaml
  docs/user/resources/06-10-function-cr.md
  docs/user/technical-reference/05-20-env-variables.md
  docs/user/technical-reference/07-60-function-configuration-file.md
  docs/user/technical-reference/07-70-function-specification.md
  sec-scanners-config.yaml
  tests/serverless-bench/fixtures/functions/nodejs16-l.yaml
  tests/serverless-bench/fixtures/functions/nodejs16-m.yaml
  tests/serverless-bench/fixtures/functions/nodejs16-s.yaml
  tests/serverless-bench/fixtures/functions/nodejs16-xl.yaml
  tests/serverless-bench/fixtures/functions/nodejs16-xs.yaml
  tests/serverless-bench/run-benchmarks.sh
  tests/serverless/internal/testsuite/api_gateway.go
  tests/serverless/internal/testsuite/cloud_events.go
  tests/serverless/internal/testsuite/light_runtimes.go
  tests/serverless/internal/testsuite/tracing.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

chore: Deprecate Nodejs18 environment
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  config/serverless/templates/busola-serverless-extension.yaml
  config/serverless/templates/crds.yaml
  docs/user/resources/06-10-function-cr.md
  docs/user/technical-reference/05-20-env-variables.md
  docs/user/technical-reference/07-60-function-configuration-file.md
  docs/user/technical-reference/07-70-function-specification.md
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test
