Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-gitserver-build, post-serverless-controller-python39-build, post-gitserver-build

pre-serverless-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-git-auth-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-git-auth-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-serverless-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-serverless-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-serverless-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-serverless-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v16-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v16-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v18-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v18-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-python39-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-python39-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-java17-jvm-alpha-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-java17-jvm-alpha-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

fix tests
  components/operator/internal/state/controller_configuration_test.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Fix 1.3 gitserver image
  tests/serverless/internal/config.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Apply suggestions from pPrecel review
  docs/contributor/04-10-testing-strategy.md
Due: none

typo
  tests/serverless/internal/config.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Fix 1.3 gitserver image (#724)
  tests/serverless/internal/config.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Adjust release-1.3.x to be able to specify if it's latest or not
  .github/scripts/publish_release.sh
  .github/workflows/create-release.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Adjust release-1.3.x to be able to specify if it's latest or not (#721)
  .github/scripts/publish_release.sh
  .github/workflows/create-release.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Apply the remaining suggestions from pPrecel review
  docs/contributor/04-10-testing-strategy.md
Due: none

Test serverless on k8s 1.28.6
  .github/workflows/operator-verify.yaml
  .github/workflows/serverless-verify.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

ignore reuse status in link checker
  README.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Test serverless on k8s 1.28.6 (#725)
  .github/workflows/operator-verify.yaml
  .github/workflows/serverless-verify.yaml
  README.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Smart function presets defaulting (#722)
  components/operator/controllers/serverless_controller_rbac.go
  components/operator/internal/state/controller_configuration.go
  components/operator/internal/state/controller_configuration_test.go
  components/operator/internal/state/optional_dependencies.go
  components/operator/internal/state/optional_dependencies_test.go
  components/operator/internal/state/state.go
  config/operator/rbac/role.yaml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

add image verify job, change comment in serverless-verify
  .github/workflows/serverless-verify.yaml
  docs/contributor/04-10-testing-strategy.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Remove image verify and build jobs
  docs/contributor/04-10-testing-strategy.md
Due: none

Apply suggestions from nataliasitko review
  docs/contributor/04-10-testing-strategy.md
Due: none

changed serverless status when duplicated to warning instead of error
  components/operator/internal/state/served_filter.go
  components/operator/internal/state/served_filter_test.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

changed serverless status when duplicated to warning instead of error (#726)
  components/operator/internal/state/served_filter.go
  components/operator/internal/state/served_filter_test.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-operator-lint

Improve the Serverless testing strategy doc (#720)
  .github/workflows/serverless-verify.yaml
  docs/contributor/04-10-testing-strategy.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

add grouping depandabot PRs by k8s.io
  .github/dependabot.yml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

add grouping depandabot PRs by k8s.io (#734)
  .github/dependabot.yml
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Change on cluster to in cluster
  README.md
  components/serverless/design/glossary_proposal.md
  components/serverless/design/internal_registry_garbage_collection.md
  docs/contributor/04-10-testing-strategy.md
  docs/user/00-30-development-toolkit.md
  docs/user/technical-reference/05-20-env-variables.md
  docs/user/technical-reference/07-60-function-configuration-file.md
  docs/user/tutorials/01-110-override-runtime-image.md
  docs/user/tutorials/01-120-inject-envs.md
  docs/user/tutorials/01-140-use-secret-mounts.md
  docs/user/tutorials/01-30-manage-functions-with-kyma-cli.md
  docs/user/tutorials/01-50-sync-function-with-gitops.md
  docs/user/tutorials/01-60-set-external-registry.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test

Change on cluster to in cluster (#736)
  README.md
  components/serverless/design/glossary_proposal.md
  components/serverless/design/internal_registry_garbage_collection.md
  docs/contributor/04-10-testing-strategy.md
  docs/user/00-30-development-toolkit.md
  docs/user/technical-reference/05-20-env-variables.md
  docs/user/technical-reference/07-60-function-configuration-file.md
  docs/user/tutorials/01-110-override-runtime-image.md
  docs/user/tutorials/01-120-inject-envs.md
  docs/user/tutorials/01-140-use-secret-mounts.md
  docs/user/tutorials/01-30-manage-functions-with-kyma-cli.md
  docs/user/tutorials/01-50-sync-function-with-gitops.md
  docs/user/tutorials/01-60-set-external-registry.md
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test

move gardener specific targets to ci
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

extract tools installer makefile
  components/operator/Makefile
  components/operator/hack/common/Makefile
  components/operator/hack/get_kyma_file_name.sh
  components/serverless/Makefile
  config/operator/crd/bases/operator.kyma-project.io_serverlesses.yaml
  config/operator/rbac/role.yaml
  hack/tools/Makefile
  hack/tools/get_kyma_file_name.sh
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test

Extract gardener target to separate makefile (#739)
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Extract tools installer makefile (#737)
  components/operator/Makefile
  components/operator/hack/common/Makefile
  components/operator/hack/get_kyma_file_name.sh
  components/serverless/Makefile
  config/operator/crd/bases/operator.kyma-project.io_serverlesses.yaml
  config/operator/rbac/role.yaml
  hack/tools/Makefile
  hack/tools/get_kyma_file_name.sh
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test

extract help from remaining makefiles
  components/operator/hack/ci/Makefile
  components/operator/hack/local/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

remove help from common
  components/operator/hack/common/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

extrac help to separate make
  components/operator/Makefile
  components/serverless/Makefile
  hack/tools/help.Makefile
  tests/gitserver/Makefile
  tests/serverless-bench/Makefile
  tests/serverless/Makefile
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-gitserver-build, post-gitserver-build

Stop using /common/logging from kyma monorepo
  components/serverless/internal/logging/logger/format.go
  components/serverless/internal/logging/logger/format_test.go
  components/serverless/internal/logging/logger/level.go
  components/serverless/internal/logging/logger/level_test.go
  components/serverless/internal/logging/logger/logger.go
  components/serverless/internal/logging/logger/logger_test.go
  components/serverless/internal/logging/setup.go
  components/serverless/internal/logging/tracing/helper.go
  components/serverless/internal/logging/tracing/helper_test.go
  components/serverless/internal/logging/tracing/middleware.go
  components/serverless/internal/logging/tracing/middleware_test.go
  go.mod
  go.sum
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

fix makefile visibility
  components/operator/Dockerfile.dev
  components/operator/Dockerfile.local
  components/operator/Dockerfile.release
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Extract help (#738)
  components/operator/Dockerfile.dev
  components/operator/Dockerfile.local
  components/operator/Dockerfile.release
  components/operator/Makefile
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
  components/operator/hack/local/Makefile
  components/serverless/Makefile
  hack/tools/help.Makefile
  tests/gitserver/Makefile
  tests/serverless-bench/Makefile
  tests/serverless/Makefile
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-gitserver-build, post-gitserver-build

extract gardener
  components/operator/hack/ci/Makefile
  hack/tools/gardener.Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

add check for project root env
  hack/tools/gardener.Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Extract gardener targets (#741)
  components/operator/hack/ci/Makefile
  hack/tools/gardener.Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

fix some linter errors
  components/serverless/hack/run-linters.sh
  components/serverless/internal/logging/logger/format.go
  components/serverless/internal/logging/logger/level.go
  components/serverless/internal/logging/logger/logger_test.go
  components/serverless/internal/logging/tracing/helper.go
  components/serverless/internal/logging/tracing/middleware.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

ignore linter warning on irrelevant key collision
  components/serverless/internal/logging/logger/logger_test.go
  components/serverless/internal/logging/tracing/helper_test.go
  components/serverless/internal/logging/tracing/middleware.go
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

include tools makefile
  components/operator/hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Include tools makefile in ci (#743)
  components/operator/hack/ci/Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

fix
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
  hack/tools/gardener.Makefile
Due: pre-serverless-module-build, pre-serverless-operator-build, post-serverless-module-build, post-serverless-operator-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-module-build: unless all of: ^docs/|^examples/
  pre-serverless-operator-build: unless all of: ^docs/|^examples/
  post-serverless-module-build: unless all of: ^docs/|^examples/
  post-serverless-operator-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-python39-build: (any of: ^components/runtimes/python39/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-python39-build: any of: ^components/runtimes/python39/
  post-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: any of: ^components/serverless/
  pre-serverless-webhook-build: any of: ^components/serverless/
  pre-serverless-jobinit-build: any of: ^components/serverless/
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-controller-build: any of: ^components/serverless/
  post-serverless-webhook-build: any of: ^components/serverless/
  post-serverless-jobinit-build: any of: ^components/serverless/
  post-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: (any of: ^components/serverless/) or (any of: ^components/serverless/.*\.go$)
  pre-gitserver-build: any of: ^tests/gitserver
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
  post-gitserver-build: any of: ^tests/gitserver/
