Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-gitserver-build, post-gitserver-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-registry-gc-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-controller-python39-build

pre-serverless-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-git-auth-integration-k3s:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-serverless-git-auth-integration-k3s
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-serverless-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-serverless-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v18-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v18-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v20-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v20-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-python39-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-python39-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-python312-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-python312-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-java17-jvm-alpha-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-java17-jvm-alpha-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

Adjust rbacs to minimum (#1560)
  components/buildless-serverless/config/rbac/role.yaml
  components/buildless-serverless/internal/controller/function_controller.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Revert "Adjust rbacs to minimum (#1560)"
  components/buildless-serverless/config/rbac/role.yaml
  components/buildless-serverless/internal/controller/function_controller.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Revert "Adjust rbacs to minimum" (#1562)
  components/buildless-serverless/config/rbac/role.yaml
  components/buildless-serverless/internal/controller/function_controller.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

fix express version
  components/runtimes/nodejs/nodejs20/package.json
  components/runtimes/nodejs/nodejs22/package.json
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v16-build

fix express version (#1563)
  components/runtimes/nodejs/nodejs20/package.json
  components/runtimes/nodejs/nodejs22/package.json
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v16-build

bump base Golang image
  external-images.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Revert "Revert "Adjust rbacs to minimum" (#1562)"
  components/buildless-serverless/config/rbac/role.yaml
  components/buildless-serverless/internal/controller/function_controller.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

bump base Golang image (#1561)
  external-images.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Revert "Revert "Adjust rbacs to minimum"" (#1565)
  components/buildless-serverless/config/rbac/role.yaml
  components/buildless-serverless/internal/controller/function_controller.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Add buildless git auth integration test (#1559)
  .github/workflows/_integration-tests.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

implement
  config/serverless/templates/cli-extension.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

improve names
  config/serverless/files/kyma-commands.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

apply suggestions
  config/serverless/files/kyma-commands.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

implement compat
  config/serverless/files/kyma-commands.yaml
  config/serverless/templates/cli-extension-compat.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

New cli extensions configmap (#1556)
  config/serverless/files/kyma-commands.yaml
  config/serverless/templates/cli-extension-compat.yaml
  config/serverless/templates/cli-extension.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Validate git repository URL
  components/buildless-serverless/internal/controller/validator/validator_test.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Add more validation functions
  components/buildless-serverless/internal/controller/validator/validator.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Validate function labels
  components/buildless-serverless/internal/controller/validator/validator_test.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Validate secret mounts test
  components/buildless-serverless/internal/controller/validator/validator_test.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Validate function annotations
  components/buildless-serverless/internal/controller/validator/validator_test.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Adjust TODO
  components/buildless-serverless/internal/controller/validator/validator.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Bump k8s version
  .github/actions/create-k3d-cluster/action.yaml
  components/buildless-serverless/Makefile
  go.mod
  go.sum
  hack/tools.mk
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Add more buildless serverless validators (#1578)
  components/buildless-serverless/internal/controller/validator/validator.go
  components/buildless-serverless/internal/controller/validator/validator_test.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

update tutorial with apirules
  docs/user/tutorials/01-20-expose-function.md
Due: none

add reading configuration from file
  components/buildless-serverless/cmd/main.go
  components/buildless-serverless/internal/config/function_config.go
  components/buildless-serverless/internal/controller/resources/deployment.go
  components/buildless-serverless/internal/controller/resources/deployment_test.go
  components/buildless-serverless/internal/controller/state/handle_deployment_test.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

add config map and example config for local use
  components/buildless-serverless/hack/function-config.yaml
  config/buildless-serverless/templates/configmap.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

add volume with configmap to controller deployment and adjust configmap
  config/buildless-serverless/templates/configmap.yaml
  config/buildless-serverless/templates/deployment.yaml
  config/buildless-serverless/values.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

add apirule v2
  docs/user/tutorials/01-20-expose-function.md
Due: none

update apirule
  docs/user/tutorials/01-20-expose-function.md
Due: none

update the function name
  docs/user/tutorials/01-20-expose-function.md
Due: none

fix deployment
  config/buildless-serverless/templates/deployment.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

add quotes to configuration yamls
  components/buildless-serverless/hack/function-config.yaml
  config/buildless-serverless/templates/configmap.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Update docs/user/tutorials/01-20-expose-function.md
  docs/user/tutorials/01-20-expose-function.md
Due: none

add reading configuration from file (#1581)
  components/buildless-serverless/cmd/main.go
  components/buildless-serverless/hack/function-config.yaml
  components/buildless-serverless/internal/config/function_config.go
  components/buildless-serverless/internal/controller/resources/deployment.go
  components/buildless-serverless/internal/controller/resources/deployment_test.go
  components/buildless-serverless/internal/controller/state/handle_deployment_test.go
  config/buildless-serverless/templates/configmap.yaml
  config/buildless-serverless/templates/deployment.yaml
  config/buildless-serverless/values.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

add configuration for function resources
  components/buildless-serverless/go.mod
  components/buildless-serverless/go.sum
  components/buildless-serverless/internal/config/function_config.go
  components/buildless-serverless/internal/controller/function_controller.go
  components/buildless-serverless/internal/controller/state/adjust_status_test.go
  config/buildless-serverless/values.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

add support for generation resources from configuration
  components/buildless-serverless/cmd/main.go
  components/buildless-serverless/hack/function-config.yaml
  components/buildless-serverless/internal/config/function_config.go
  components/buildless-serverless/internal/controller/function_controller.go
  components/buildless-serverless/internal/controller/resources/deployment.go
  components/buildless-serverless/internal/controller/resources/deployment_test.go
  config/buildless-serverless/templates/configmap.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

adjust calculating resource profile in status
  components/buildless-serverless/internal/controller/state/adjust_status.go
  components/buildless-serverless/internal/controller/state/adjust_status_test.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

fix resource comparing and local config
  components/buildless-serverless/hack/function-config.yaml
  components/buildless-serverless/internal/config/function_config.go
  components/buildless-serverless/internal/controller/state/handle_deployment.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

add support of configuration for function resources (#1579)
  components/buildless-serverless/cmd/main.go
  components/buildless-serverless/go.mod
  components/buildless-serverless/go.sum
  components/buildless-serverless/hack/function-config.yaml
  components/buildless-serverless/internal/config/function_config.go
  components/buildless-serverless/internal/controller/resources/deployment.go
  components/buildless-serverless/internal/controller/resources/deployment_test.go
  components/buildless-serverless/internal/controller/state/adjust_status.go
  components/buildless-serverless/internal/controller/state/adjust_status_test.go
  components/buildless-serverless/internal/controller/state/handle_deployment.go
  config/buildless-serverless/templates/configmap.yaml
  config/buildless-serverless/values.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-operator-build: unless all of: ^docs/|^examples/
  post-serverless-operator-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-nodejs-v18-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v20-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-python39-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-python312-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-java17-jvm-alpha-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v18-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v20-build: unless all of: ^docs/|^examples/
  post-serverless-runtimes-python39-build: unless all of: ^docs/|^examples/
  post-serverless-runtimes-python312-build: unless all of: ^docs/|^examples/
  post-serverless-runtimes-java17-jvm-alpha-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  pre-serverless-webhook-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  pre-serverless-jobinit-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  post-serverless-controller-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  post-serverless-webhook-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  post-serverless-jobinit-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  pre-gitserver-build: (any of: ^tests/gitserver/) or (any of: ^tests/gitserver)
  post-gitserver-build: any of: ^tests/gitserver/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: (any of: ^components/serverless/) or (any of: ^components/serverless/.*\.go$)
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  post-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
