Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-gitserver-build, post-gitserver-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-registry-gc-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-controller-python39-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-operator-build: unless all of: ^docs/|^examples/
  post-serverless-operator-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-nodejs-v18-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v20-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-python39-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-python312-build: unless all of: ^docs/|^examples/
  pre-serverless-runtimes-java17-jvm-alpha-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v18-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v20-build: unless all of: ^docs/|^examples/
  post-serverless-runtimes-python39-build: unless all of: ^docs/|^examples/
  post-serverless-runtimes-python312-build: unless all of: ^docs/|^examples/
  post-serverless-runtimes-java17-jvm-alpha-build: (unless all of: ^docs/|^examples/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  pre-serverless-webhook-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  pre-serverless-jobinit-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  post-serverless-controller-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  post-serverless-webhook-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  post-serverless-jobinit-build: (unless all of: ^docs/|^examples/) or (any of: ^components/serverless/)
  pre-gitserver-build: (any of: ^tests/gitserver/) or (any of: ^tests/gitserver)
  post-gitserver-build: any of: ^tests/gitserver/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: (any of: ^components/serverless/) or (any of: ^components/serverless/.*\.go$)
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  post-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39

k8s 0.29.4
  go.mod
  go.sum
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Cleanup temporary repository files
  components/serverless/internal/git/go2git.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

update testing strategy document
  docs/contributor/04-10-testing-strategy.md
Due: none

workspace_to_app
  components/operator/Dockerfile
  components/serverless/deploy/jobinit/Dockerfile
  components/serverless/deploy/manager/Dockerfile
  components/serverless/deploy/webhook/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

revert
  components/serverless/deploy/jobinit/Dockerfile
  components/serverless/deploy/manager/Dockerfile
  components/serverless/deploy/webhook/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

Change "workspace" to "app" (#919)
  components/operator/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

chore: Security updates (#917)
  components/operator/Dockerfile
  components/runtimes/nodejs/nodejs18/package.json
  components/runtimes/nodejs/nodejs20/package.json
  components/runtimes/python/python312/requirements.txt
  components/runtimes/python/python39/requirements.txt
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v16-build

Revert "Change "workspace" to "app" (#919)"
  components/operator/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Revert "Change "workspace" to "app" (#919)" (#920)
  components/operator/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Add operator integration test (#911)
  .github/workflows/operator-verify.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Bump controller-runtime and k8s (#915)
  components/operator/main.go
  components/serverless/cmd/manager/main.go
  components/serverless/cmd/webhook/main.go
  go.mod
  go.sum
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

Cleanup temporary repository files (#916)
  components/serverless/internal/git/go2git.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

Revert image workspace change
  components/operator/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

collect cluster-info
  .github/workflows/operator-verify.yaml
  tests/operator/Makefile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

revert
  .github/workflows/operator-verify.yaml
  .github/workflows/serverless-verify.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

increase timeout
  tests/operator/main.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Revert changes in GH workflow (#926)
  .github/workflows/operator-verify.yaml
  .github/workflows/serverless-verify.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

ad real local target
  .dockerignore
  Makefile
  config/serverless/charts/docker-registry/templates/deployment.yaml
  config/serverless/templates/deployment.yaml
  config/serverless/values.yaml
  hack/build_all.sh
  hack/docker-compose.yaml
  hack/k3d.mk
  hack/replace_serverless_chart_images.sh
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Revert image workspace change to release 1.4 (#922)
  components/operator/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Prapare images to be usable in ADO build jobs
  components/operator/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

remove lines from md
  docs/contributor/04-10-testing-strategy.md
Due: none

add tail to get logs
  tests/operator/Makefile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Update testing strategy document (#921)
  docs/contributor/04-10-testing-strategy.md
Due: none

Print post-test cluster-info (#924)
  .github/workflows/operator-verify.yaml
  tests/operator/Makefile
  tests/operator/main.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

move getting runtime image base to small reconcile function
  components/serverless/internal/controllers/serverless/fsm.go
  components/serverless/internal/controllers/serverless/function_reconcile.go
  components/serverless/internal/controllers/serverless/job.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

calculate tag based on baseRuntimeImage
  components/serverless/internal/controllers/serverless/build_resources_test.go
  components/serverless/internal/controllers/serverless/configmap.go
  components/serverless/internal/controllers/serverless/deployment.go
  components/serverless/internal/controllers/serverless/function_reconcile_asserts_test.go
  components/serverless/internal/controllers/serverless/function_reconcile_gitops_test.go
  components/serverless/internal/controllers/serverless/job.go
  components/serverless/internal/controllers/serverless/system_state.go
  components/serverless/internal/controllers/serverless/utils.go
  components/serverless/internal/controllers/serverless/utils_test.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

Cleanup temporary repository files (#916) in release 1.4 (#925)
  components/serverless/internal/git/go2git.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

improve tests
  components/serverless/internal/controllers/serverless/function_reconcile_gitops_test.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

upgrade dependencies
  config/serverless/values.yaml
  sec-scanners-config.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

fix tests
  components/serverless/internal/controllers/serverless/build_resources_test.go
  components/serverless/internal/controllers/serverless/function_reconcile_asserts_test.go
  components/serverless/internal/controllers/serverless/function_reconcile_gitops_test.go
  components/serverless/internal/controllers/serverless/utils_test.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test, pre-serverless-registry-gc-build, post-serverless-registry-gc-build

increate retry timeout
  tests/operator/utils/retry.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Increase operator integration test retry timeout (#930)
  tests/operator/utils/retry.go
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

upgread k8s version
  .github/workflows/operator-verify.yaml
  .github/workflows/serverless-verify.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Upgread K8S version (#931)
  .github/workflows/operator-verify.yaml
  .github/workflows/serverless-verify.yaml
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Prapare images to be usable in ADO build jobs (#927)
  components/operator/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Prepare images to be usable in ADO build jobs (#927)
  components/operator/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

Prepare images to be usable in ADO build jobs (#927) in release-1.4 (#932)
  components/operator/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build

test
  components/operator/Dockerfile
Due: pre-serverless-operator-build, post-serverless-operator-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-nodejs-v20-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-python312-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-nodejs-v20-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-python312-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build
