Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, post-serverless-module-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, post-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-operator-lint, pre-serverless-controller-unit-test, pre-gitserver-build, post-serverless-controller-python39-build, post-gitserver-build

Path conditions:
  pre-serverless-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-git-auth-integration-k3s: any of: ^((config/serverless|tests/serverless)\S+(\.[^.][^.][^.]+|\.[^.][^dD]|\.[^mM][^.]|\.[^.]$|/[^.]+))$
  pre-serverless-module-build: any of: ^config/operator/.*$|^sec-scanners-config.yaml$|^.version$|^module-config-template.yaml$
  post-serverless-module-build: any of: ^config/operator/.*$|^sec-scanners-config.yaml$|^.version$|^module-config-template.yaml$
  pre-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  pre-serverless-runtimes-python39-build: (any of: ^components/runtimes/python39/) or (any of: ^components/runtimes/python39)
  pre-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  post-serverless-runtimes-nodejs-v16-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-nodejs-v18-build: (any of: ^components/runtimes/nodejs/) or (any of: ^components/runtimes/nodejs)
  post-serverless-runtimes-python39-build: any of: ^components/runtimes/python39/
  post-serverless-runtimes-java17-jvm-alpha-build: (any of: ^components/runtimes/java17/) or (any of: ^components/runtimes/java17)
  pre-serverless-controller-build: any of: ^components/serverless/
  pre-serverless-webhook-build: any of: ^components/serverless/
  pre-serverless-jobinit-build: any of: ^components/serverless/
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-controller-build: any of: ^components/serverless/
  post-serverless-webhook-build: any of: ^components/serverless/
  post-serverless-jobinit-build: any of: ^components/serverless/
  post-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-controller-lint: (any of: ^components/serverless/(.*\.go|.golangci.yaml)$) or (any of: ^components/serverless/(.*\.go$|.golangcilint.yaml))
  pre-serverless-operator-lint: any of: ^components/operator/(.*\.go|.golangci.yaml)$
  pre-serverless-controller-unit-test: any of: ^components/serverless/.*\.go$
  pre-gitserver-build: any of: ^tests/gitserver
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
  post-gitserver-build: any of: ^tests/gitserver/

runtime_job_triggers
  components/runtimes/nodejs/README.md
  components/runtimes/python39/Dockerfile
  components/serverless/hack/poc_script_replace_images.sh
Due: pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, post-serverless-controller-python39-build

Handle no GH actions to check in release flow
  .github/scripts/verify-actions-status.sh
Due: none

improve debugging
  tests/serverless/internal/assertion/cloud_events.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s

Handle no GH actions to check in release flow (#452)
  .github/scripts/verify-actions-status.sh
Due: none

poc
  components/operator/hack/ci/Makefile
Due: none

hotfix
  .github/workflows/create-release.yaml
Due: none

Remove '-it' from docker run (#454)
  .github/workflows/create-release.yaml
Due: none

Remove redundant unit test step from release flow
  .github/workflows/create-release.yaml
  .github/workflows/run-unit-tests.yaml
Due: none

Remove '-it' from docker run (#454) (#455)
  .github/workflows/create-release.yaml
Due: none

Remove redundant unit test step from release flow (#457)
  .github/workflows/create-release.yaml
  .github/workflows/run-unit-tests.yaml
Due: none

Disable changelog generator
  .github/scripts/create_draft_release.sh
  .github/workflows/create-release.yaml
Due: none

Disable changelog generator (#459)
  .github/scripts/create_draft_release.sh
  .github/workflows/create-release.yaml
Due: none

No need to generate module-template as release asset
  .github/scripts/release.sh
Due: none

Bump rc-tag
  sec-scanners-config.yaml
Due: pre-serverless-module-build, post-serverless-module-build

remove documentation about how to use module-template in oss instalation
  docs/contributor/01-10-manual-installation-on-k3d.md
Due: none

Bump rc-tag (#462)
  sec-scanners-config.yaml
Due: pre-serverless-module-build, post-serverless-module-build

Bump tpi images used by serverless
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s

Bump tpi images used by serverles
  .version
  sec-scanners-config.yaml
Due: pre-serverless-module-build, post-serverless-module-build

Bump tpi images used by serverless 1.2 (#464)
  .version
  config/serverless/values.yaml
  sec-scanners-config.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-module-build, post-serverless-module-build

replace images for all jobs
  .github/workflows/gardener-integration.yaml
  components/operator/hack/ci/Makefile
Due: none

add valid proper validation
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  config/serverless/templates/crds.yaml
  tests/serverless/internal/resources/runtimes/git_function.go
  tests/serverless/internal/resources/runtimes/nodejs.go
  tests/serverless/internal/resources/runtimes/python.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

remove job triggers
  components/runtimes/nodejs/README.md
  components/runtimes/python39/Dockerfile
  config/serverless/values.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-runtimes-python39-build, post-serverless-controller-python39-build

fix unit test
  components/serverless/internal/controllers/serverless/suite_test.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

script_dir
  components/serverless/hack/poc_script_replace_images.sh
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Exclude module-manifest in serverless upgrade test
  components/operator/hack/ci/Makefile
Due: none

fix makefile
  components/operator/hack/ci/Makefile
Due: none

Exclude module-manifest from serverless upgrade test scenario (#465)
  components/operator/hack/ci/Makefile
Due: none

Fix redundant kyma-system namespcace (#466)
  components/operator/hack/ci/Makefile
Due: none

use branch name instead of latest word
  sec-scanners-config.yaml
Due: pre-serverless-module-build, post-serverless-module-build

Implementation of validation for resurce profile (#451)
  components/serverless/Makefile
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/controllers/serverless/function_reconcile_test.go
  components/serverless/internal/controllers/serverless/suite_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_x_validation_test.go
  config/serverless/templates/crds.yaml
  config/serverless/values.yaml
  tests/serverless/internal/assertion/cloud_events.go
  tests/serverless/internal/resources/runtimes/git_function.go
  tests/serverless/internal/resources/runtimes/nodejs.go
  tests/serverless/internal/resources/runtimes/python.go
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test

fix_script
  components/serverless/hack/poc_script_replace_images.sh
  components/serverless/hack/poc_script_replace_local_images.sh
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

implementation with tests
  components/serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/serverless/internal/controllers/serverless/validation.go
  components/serverless/internal/controllers/serverless/validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
  config/serverless/templates/crds.yaml
Due: pre-serverless-integration-k3s, pre-serverless-git-auth-integration-k3s, pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, pre-serverless-controller-lint, pre-serverless-controller-unit-test
