Repository kyma-project/website: changes, and which Prow jobs are due for each by the changed paths.
All: website-tools-documentation-generator, website-governance

prow/jobs/website/tools/documentation-generator/website-tools-documentation-generator.yaml:

job_template: &job_template
  run_if_changed: "^tools/documentation-generator/"
  decorate: true
  path_alias: github.com/kyma-project/website
  max_concurrency: 10
  extra_refs:
    - org: kyma-project
      repo: test-infra
      base_ref: master
      path_alias: github.com/kyma-project/test-infra
  spec:
    containers:
      - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
        securityContext:
          privileged: true
        command:
          - "/home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh"
        args:
          - "/home/prow/go/src/github.com/kyma-project/website/tools/documentation-generator"

job_labels_template: &job_labels_template
  preset-dind-enabled: "true"
  preset-sa-gcr-push: "true"
  preset-docker-push-repository: "true"

presubmits: # runs on PRs
  kyma-project/website:
    - name: website-tools-documentation-generator
      branches:
        - master
      labels:
        <<: *job_labels_template
        preset-build-pr: "true"
      <<: *job_template

postsubmits:
  kyma-project/website:
    - name: website-tools-documentation-generator
      branches:
        - master
      <<: *job_template
      labels:
        <<: *job_labels_template
        preset-build-master: "true"

prow/jobs/website/website-governance.yaml:

presubmits: # runs on PRs
  kyma-project/website:
    - name: website-governance
      skip_report: true
      decorate: true
      max_concurrency: 10
      branches:
        - master
      labels:
        preset-build-pr: "true"
      run_if_changed: "milv.config.yaml|.md$"
      path_alias: github.com/kyma-project/website
      extra_refs:
        - org: kyma-project
          repo: test-infra
          base_ref: master
          path_alias: github.com/kyma-project/test-infra
      spec:
        containers:
          - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
            command:
              - "/home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh"
            args:
              - "website"

periodics: # runs periodic on master
- name: website-governance-nightly
  branches:
    - master
  path_alias: github.com/kyma-project/website
  cron: "0 1 * * 1-7" # “At 01:00 on every day-of-week from Monday through Sunday.”
  extra_refs:
    - org: kyma-project
      repo: test-infra
      base_ref: master
      path_alias: github.com/kyma-project/test-infra
  spec:
    containers:
      - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
        command:
          - "/home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh"
        args:
          - "website"
          - "true"

Add overview excerpt to post about sig core
  content/blog-posts/2019-02-20-core-sig/index.md
Due: website-governance

Fix some broken links
  content/docs/fix-links.json
  gatsby/createPages/docsPages/fixLinks.js
Due: none

Improve styles for scrollbar
  src/common/styled/mixins.ts
  src/components/docs/navigation/leftNavigation/NavigationList/styled.ts
  src/components/shared/ReactMarkdown/components/Code/index.tsx
Due: none

Add padding to long line in block codes
  src/components/shared/ReactMarkdown/components/Code/index.tsx
Due: none

Remove documentation-generator-tool
  tools/documentation-generator/.eslinterrc
  tools/documentation-generator/.gitignore
  tools/documentation-generator/.prettierrc
  tools/documentation-generator/Dockerfile
  tools/documentation-generator/Makefile
  tools/documentation-generator/README.md
  tools/documentation-generator/package-lock.json
  tools/documentation-generator/package.json
  tools/documentation-generator/src/config.js
  tools/documentation-generator/src/generators/configuration.js
  tools/documentation-generator/src/generators/documentation.js
  tools/documentation-generator/src/generators/external/documentation/common/evaluator.js
  tools/documentation-generator/src/generators/external/documentation/common/helpers.js
  tools/documentation-generator/src/generators/external/documentation/common/raml.js
  tools/documentation-generator/src/generators/external/documentation/generator.js
  tools/documentation-generator/src/generators/manifest.js
  tools/documentation-generator/src/generators/navigation.js
  tools/documentation-generator/src/helpers/git.js
  tools/documentation-generator/src/helpers/github.js
  tools/documentation-generator/src/helpers/release.js
  tools/documentation-generator/src/index.js
Due: website-tools-documentation-generator, website-governance

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/assets/connectorapi.yaml
  content/docs/versions.json
Due: none

Add Tws Codeowners for fix-links.json
  CODEOWNERS
Due: none

Add overview excerpt to post about sig core (#220)
  content/blog-posts/2019-02-20-core-sig/index.md
Due: website-governance

Fix broken links in 0.7 version (#222)
  CODEOWNERS
  content/docs/fix-links.json
  gatsby/createPages/docsPages/fixLinks.js
Due: none

Fix track border-radius
  src/components/docs/navigation/leftNavigation/NavigationList/styled.ts
  src/components/shared/ReactMarkdown/components/Code/index.tsx
Due: none

Fix to 4px border radius of scrollbar track
  src/components/shared/ReactMarkdown/components/Code/index.tsx
Due: none

Publish Kyma documentation on the website
  content/docs/master/helm-broker/docs/01-01-helm-broker.md
  content/docs/master/helm-broker/docs/02-01-helm-broker.md
  content/docs/master/helm-broker/docs/05-02-helm-broker-bundles.md
  content/docs/master/kyma/docs/03-01-components.md
  content/docs/master/service-catalog/docs/13-01-service-brokers.md
  content/docs/versions.json
Due: website-governance

Improve scrollbar styles (#224)
  src/common/styled/mixins.ts
  src/components/docs/navigation/leftNavigation/NavigationList/styled.ts
  src/components/shared/ReactMarkdown/components/Code/index.tsx
Due: none

Publish Kyma documentation on the website
  content/docs/master/console/docs/03-02-ui-api-layer.md
  content/docs/versions.json
Due: website-governance

Remove documentation-generator-tool (#228)
  tools/documentation-generator/.eslinterrc
  tools/documentation-generator/.gitignore
  tools/documentation-generator/.prettierrc
  tools/documentation-generator/Dockerfile
  tools/documentation-generator/Makefile
  tools/documentation-generator/README.md
  tools/documentation-generator/package-lock.json
  tools/documentation-generator/package.json
  tools/documentation-generator/src/config.js
  tools/documentation-generator/src/generators/configuration.js
  tools/documentation-generator/src/generators/documentation.js
  tools/documentation-generator/src/generators/external/documentation/common/evaluator.js
  tools/documentation-generator/src/generators/external/documentation/common/helpers.js
  tools/documentation-generator/src/generators/external/documentation/common/raml.js
  tools/documentation-generator/src/generators/external/documentation/generator.js
  tools/documentation-generator/src/generators/manifest.js
  tools/documentation-generator/src/generators/navigation.js
  tools/documentation-generator/src/helpers/git.js
  tools/documentation-generator/src/helpers/github.js
  tools/documentation-generator/src/helpers/release.js
  tools/documentation-generator/src/index.js
Due: website-tools-documentation-generator, website-governance

Publish Kyma documentation on the website
  content/docs/master/kyma/docs/04-04-gke-installation.md
  content/docs/versions.json
Due: website-governance

Add copy to clipboard functionality
  package-lock.json
  package.json
  src/common/icons.ts
  src/common/state/GlobalState.ts
  src/common/state/index.ts
  src/common/state/nest.tsx
  src/common/state/usePopup.ts
  src/common/state/useToasts.ts
  src/components/layout/Layout.tsx
  src/components/layout/Popup.tsx
  src/components/layout/Toasts/Toasts.tsx
  src/components/layout/Toasts/styled.ts
  src/components/shared/Icon/index.tsx
  src/components/shared/ReactMarkdown/components/Code/CopyButton.tsx
  src/components/shared/ReactMarkdown/components/Code/index.tsx
  src/custom.d.ts
Due: none

Add Tooltip component
  package-lock.json
  src/common/state/usePopup.ts
  src/components/shared/ReactMarkdown/components/Code/CopyButton.tsx
  src/components/shared/Tooltip/index.tsx
  src/components/shared/Tooltip/styled.ts
  src/custom.d.ts
Due: none

Remove Toasts hooks
  src/common/state/GlobalState.ts
  src/common/state/useToasts.ts
  src/components/layout/Toasts/Toasts.tsx
  src/components/layout/Toasts/styled.ts
Due: none

After review
  content/i18n/en/utils.json
  src/common/i18n/locales.ts
  src/common/i18n/types.ts
  src/common/state/usePopup.ts
  src/components/layout/Popup.tsx
  src/components/shared/ReactMarkdown/components/Code/CopyButton.tsx
  src/components/shared/Tooltip/index.tsx
Due: none

Publish Kyma documentation on the website
  content/docs/master/kyma/docs/01-01-in-a-nutshell.md
  content/docs/master/kyma/docs/03-01-components.md
  content/docs/master/logging/docs/01-01-logging.md
  content/docs/master/logging/docs/02-01-logging.md
  content/docs/master/logging/docs/03-01-access-logs.md
  content/docs/master/logging/docs/03-01-access-oklog.md
  content/docs/master/logging/docs/03-02-configure-storage.md
  content/docs/versions.json
Due: website-governance

Add some improvements
  package-lock.json
  package.json
  src/common/state/usePopup.ts
  src/components/layout/Popup.tsx
  src/components/shared/ReactMarkdown/components/Code/index.tsx
  src/components/shared/Tooltip/styled.ts
Due: none

change size of clipboard word
  content/i18n/en/utils.json
Due: none

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/02-01-application-connector.md
  content/docs/master/application-connector/docs/02-03-proxy-service.md
  content/docs/master/application-connector/docs/03-01-ac-security.md
  content/docs/master/application-connector/docs/03-03-consume-services.md
  content/docs/master/application-connector/docs/06-01-application.md
  content/docs/master/application-connector/docs/assets/001-application-connector.svg
  content/docs/master/application-connector/docs/assets/003-architecture-proxy-service.svg
  content/docs/master/backup/docs/assets/all-backup.yaml
  content/docs/master/backup/docs/assets/system-backup.yaml
  content/docs/versions.json
Due: website-governance

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/02-01-application-connector.md
  content/docs/master/application-connector/docs/02-03-proxy-service.md
  content/docs/master/application-connector/docs/03-01-ac-security.md
  content/docs/master/application-connector/docs/03-03-consume-services.md
  content/docs/master/application-connector/docs/06-01-application.md
  content/docs/master/application-connector/docs/assets/001-application-connector.svg
  content/docs/master/application-connector/docs/assets/003-architecture-proxy-service.svg
  content/docs/versions.json
Due: website-governance

Add copy of code blocks functionality (#226)
  content/i18n/en/utils.json
  package-lock.json
  package.json
  src/common/i18n/locales.ts
  src/common/i18n/types.ts
  src/common/icons.ts
  src/common/state/GlobalState.ts
  src/common/state/index.ts
  src/common/state/nest.tsx
  src/common/state/usePopup.ts
  src/components/layout/Layout.tsx
  src/components/layout/Popup.tsx
  src/components/shared/Icon/index.tsx
  src/components/shared/ReactMarkdown/components/Code/CopyButton.tsx
  src/components/shared/ReactMarkdown/components/Code/index.tsx
  src/components/shared/Tooltip/index.tsx
  src/components/shared/Tooltip/styled.ts
  src/custom.d.ts
Due: none

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/02-01-application-connector.md
  content/docs/master/application-connector/docs/02-03-proxy-service.md
  content/docs/master/application-connector/docs/03-01-ac-security.md
  content/docs/master/application-connector/docs/03-03-consume-services.md
  content/docs/master/application-connector/docs/06-01-application.md
  content/docs/master/application-connector/docs/assets/001-application-connector.svg
  content/docs/master/application-connector/docs/assets/003-architecture-proxy-service.svg
  content/docs/master/kyma/docs/04-02-local-installation-from-release.md
  content/docs/versions.json
Due: website-governance

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/08-08-renew-client-cert.md
  content/docs/master/monitoring/docs/08-01-monitoring-custom-metrics.md
  content/docs/versions.json
Due: website-governance

fix wrong redirects to blogposts
  gatsby/createPages/blogPostPages/singleBlogPost.js
Due: none

Fix wrong redirects to blogposts (#233)
  gatsby/createPages/blogPostPages/singleBlogPost.js
Due: none

Publish Kyma documentation on the website
  content/docs/master/kyma/docs/04-02-local-installation-from-release.md
  content/docs/master/kyma/docs/04-04-gke-installation.md
  content/docs/versions.json
Due: website-governance

Publish Kyma documentation on the website
  content/docs/master/application-connector/docs/08-02-get-client-certificate.md
  content/docs/master/application-connector/docs/09-02-metadata-service.md
  content/docs/master/kyma/docs/04-04-gke-installation.md
  content/docs/master/kyma/docs/04-05-aks-installation.md
  content/docs/versions.json
Due: website-governance

Publish Kyma documentation on the website
  content/docs/master/logging/docs/01-01-logging.md
  content/docs/versions.json
Due: website-governance

Publish Kyma documentation on the website
  content/docs/master/service-catalog/docs/03-03-backup-and-restore.md
  content/docs/master/service-catalog/docs/13-01-service-brokers.md
  content/docs/versions.json
Due: website-governance

Publish Kyma documentation on the website
  content/docs/master/service-catalog/docs/07-01-cli-reference.md
  content/docs/versions.json
Due: website-governance

0.8_rn_v1
  content/blog-posts/2018-03-11-release-notes-0.8/index.md
Due: website-governance

delete conflicting rule and lint codebase
  .prettierrc
  tslint.json
Due: none
