Repository kyma-project/website: changes, and which Prow jobs are due for each by the changed paths.
All: website-tools-documentation-generator, website-governance

website-tools-documentation-generator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

website-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - website

Fix the documentation generation (#173)
  Makefile
  package-lock.json
  scripts/generate-docs.sh
  scripts/helpers/git-config.sh
  scripts/prepare-website.sh
  src/api-extensions/documentation-pages.js
  src/components/docs/DocsContent/DocsProcessor.js
  src/components/docs/navigation/VersionSwitcher.js
  src/locales/en/UI.json
  static/documentation/config.json
  tools/documentation-generator/README.md
  tools/documentation-generator/src/config.js
  tools/documentation-generator/src/generators/configuration.js
  tools/documentation-generator/src/helpers/github.js
  tools/documentation-generator/src/helpers/release.js
  tools/documentation-generator/src/index.js
Due: website-tools-documentation-generator, website-governance

Bump generator image
  scripts/generate-docs.sh
Due: none

Bump generator image (#174)
  scripts/generate-docs.sh
Due: none

Change git user identity
  Makefile
Due: none

Change git user identity (#175)
  Makefile
Due: none

Publish documentation for Kyma
  static/documentation/config.json
  static/documentation/master/root/kyma/content.json
Due: none

Add scrollSpy component, refactor navigation and fix several bugs
  src/api-extensions/links-parser.js
  src/components/blog/Post.js
  src/components/docs/DocsContent/DocsContent.component.js
  src/components/docs/DocsContent/DocsContent.container.js
  src/components/docs/DocsContent/DocsProcessor.js
  src/components/docs/DocsRoot.component.js
  src/components/docs/MainPage/MainPage.js
  src/components/docs/MainPage/styled.js
  src/components/docs/Nav/LeftNavigation/BackToTop/BackToTop.js
  src/components/docs/Nav/LeftNavigation/LeftNavigation.js
  src/components/docs/Nav/LeftNavigation/NavigationList/NavigationGroup.js
  src/components/docs/Nav/LeftNavigation/NavigationList/NavigationList.js
  src/components/docs/Nav/LeftNavigation/NavigationList/NavigationSections.js
  src/components/docs/Nav/LeftNavigation/NavigationList/styled.js
  src/components/docs/Nav/LeftNavigation/VersionSwitcher/VersionSwitcher.js
  src/components/docs/Nav/LeftNavigation/VersionSwitcher/styled.js
  src/components/docs/Nav/LeftNavigation/styled.js
  src/components/docs/Nav/RightNavigation/RightNavigation.js
  src/components/docs/Nav/ScrollSpy/ScrollSpy.js
  src/components/docs/Nav/assets/docs-icon.svg
  src/components/docs/external/Navigation/NavigationList.component.js
  src/components/docs/navigation/VersionSwitcher.js
  src/locales/en/UI.json
Due: none

Fix bug in landing page with links in Key features section
  src/components/landing/Community.js
  src/components/landing/Features.js
  src/locales/en/UI.json
  static/global.css
Due: none

Rename Nav to Navigation
  src/components/docs/MainPage/MainPage.js
  src/components/docs/Navigation/LeftNavigation/BackToTop/BackToTop.js
  src/components/docs/Navigation/LeftNavigation/LeftNavigation.js
  src/components/docs/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  src/components/docs/Navigation/LeftNavigation/NavigationList/NavigationList.js
  src/components/docs/Navigation/LeftNavigation/NavigationList/NavigationSections.js
  src/components/docs/Navigation/LeftNavigation/NavigationList/styled.js
  src/components/docs/Navigation/LeftNavigation/VersionSwitcher/VersionSwitcher.js
  src/components/docs/Navigation/LeftNavigation/VersionSwitcher/styled.js
  src/components/docs/Navigation/LeftNavigation/styled.js
  src/components/docs/Navigation/RightNavigation/RightNavigation.js
  src/components/docs/Navigation/ScrollSpy/ScrollSpy.js
  src/components/docs/Navigation/assets/docs-icon.svg
  static/global.css
Due: none

Fix version docs for assets
  src/api-extensions/documentation-pages.js
  src/api-extensions/links-parser.js
Due: none

Publish documentation for Kyma
  static/documentation/config.json
  static/documentation/master/components/service-brokers/content.json
Due: none

Publish documentation for Kyma
  static/documentation/config.json
  static/documentation/master/components/api-gateway/content.json
  static/documentation/master/components/application-connector/content.json
  static/documentation/master/components/console/content.json
  static/documentation/master/components/event-bus/content.json
  static/documentation/master/components/logging/content.json
  static/documentation/master/components/monitoring/content.json
  static/documentation/master/components/security/content.json
  static/documentation/master/components/serverless/content.json
  static/documentation/master/components/service-brokers/content.json
  static/documentation/master/components/service-mesh/content.json
  static/documentation/master/components/tracing/content.json
  static/documentation/master/navigation.json
  static/documentation/master/root/kyma/content.json
Due: none

Publish documentation for Kyma
  static/documentation/config.json
  static/documentation/master/components/console/assets/cmf-admin-section.png
  static/documentation/master/components/console/assets/mf-one-namespace.png
Due: none

Publish documentation for Kyma
  static/documentation/config.json
  static/documentation/master/components/service-catalog/content.json
  static/documentation/master/navigation.json
Due: none

Publish documentation for Kyma
  static/documentation/config.json
  static/documentation/master/components/service-catalog/content.json
Due: none

Add release notes for the Cairo release 0.6
  src/blog-posts/11-release-notes-06.md
  src/blog-posts/assets/asyncapi-rendering.png
  src/blog-posts/assets/document-references.png
  src/blog-posts/assets/excerpts.png
  src/blog-posts/assets/gcp-provider-class.png
  src/blog-posts/assets/linking.png
  src/blog-posts/assets/master-branch.png
  src/blog-posts/assets/new-navigation-structure.png
  src/blog-posts/assets/styling.png
Due: website-governance

Add a minor change
  src/blog-posts/11-release-notes-06.md
Due: website-governance

Add a link to the Luigi repository
  src/blog-posts/11-release-notes-06.md
Due: website-governance

Add further minor corrections
  src/blog-posts/11-release-notes-06.md
Due: website-governance

After review
  src/components/docs/DocsContent/DocsContent.component.js
  src/components/docs/DocsContent/DocsProcessor.js
  src/components/docs/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  src/components/docs/Navigation/LeftNavigation/NavigationList/NavigationList.js
  src/components/docs/Navigation/LeftNavigation/NavigationList/NavigationSections.js
  src/components/docs/Navigation/ScrollSpy/ScrollSpy.js
  src/constants/chainData.js
  src/constants/docs.js
  src/helpers/tokenize.js
Due: none

Add a scrollspy gift
  src/blog-posts/11-release-notes-06.md
  src/blog-posts/assets/scrollspy.gif
Due: website-governance

Add scrollSpy on docs content (#176)
  src/api-extensions/documentation-pages.js
  src/api-extensions/links-parser.js
  src/components/blog/Post.js
  src/components/docs/DocsContent/DocsContent.component.js
  src/components/docs/DocsContent/DocsContent.container.js
  src/components/docs/DocsContent/DocsProcessor.js
  src/components/docs/DocsRoot.component.js
  src/components/docs/MainPage/MainPage.js
  src/components/docs/MainPage/styled.js
  src/components/docs/Navigation/LeftNavigation/BackToTop/BackToTop.js
  src/components/docs/Navigation/LeftNavigation/LeftNavigation.js
  src/components/docs/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  src/components/docs/Navigation/LeftNavigation/NavigationList/NavigationList.js
  src/components/docs/Navigation/LeftNavigation/NavigationList/NavigationSections.js
  src/components/docs/Navigation/LeftNavigation/NavigationList/styled.js
  src/components/docs/Navigation/LeftNavigation/VersionSwitcher/VersionSwitcher.js
  src/components/docs/Navigation/LeftNavigation/VersionSwitcher/styled.js
  src/components/docs/Navigation/LeftNavigation/styled.js
  src/components/docs/Navigation/RightNavigation/RightNavigation.js
  src/components/docs/Navigation/ScrollSpy/ScrollSpy.js
  src/components/docs/Navigation/assets/docs-icon.svg
  src/components/docs/external/Navigation/NavigationList.component.js
  src/components/docs/navigation/VersionSwitcher.js
  src/components/landing/Community.js
  src/components/landing/Features.js
  src/constants/chainData.js
  src/constants/docs.js
  src/helpers/tokenize.js
  src/locales/en/UI.json
  static/global.css
Due: none

Improve styles for active nodes in navigation
  src/components/docs/Navigation/LeftNavigation/NavigationList/NavigationSections.js
  src/components/docs/Navigation/LeftNavigation/NavigationList/styled.js
Due: none

Improve styles for active nodes in navigation (#179)
  src/components/docs/Navigation/LeftNavigation/NavigationList/NavigationSections.js
  src/components/docs/Navigation/LeftNavigation/NavigationList/styled.js
Due: none

Add fixed after reviews
  src/blog-posts/11-release-notes-06.md
  src/blog-posts/assets/asyncapi-rendering.png
  src/blog-posts/assets/document-references.png
  src/blog-posts/assets/excerpts.png
  src/blog-posts/assets/linking.png
  src/blog-posts/assets/master-branch.png
  src/blog-posts/assets/new-navigation-structure.png
  src/blog-posts/assets/styling.png
Due: website-governance

Fix the incorrect section link
  src/blog-posts/11-release-notes-06.md
Due: website-governance

Add final fixes
  src/blog-posts/11-release-notes-06.md
  src/blog-posts/assets/new-navigation-structure.png
Due: website-governance

Add a typo fix
  src/blog-posts/11-release-notes-06.md
Due: website-governance

Path conditions:
  website-tools-documentation-generator: any of: ^tools/documentation-generator/
  website-governance: any of: milv.config.yaml|.md$
