Repository kyma-project/website: changes, and which Prow jobs are due for each by the changed paths.
All: website-tools-documentation-generator, website-governance

prow/jobs/website/tools/documentation-generator/website-tools-documentation-generator.yaml:

job_template: &job_template
  run_if_changed: "^tools/documentation-generator/"
  decorate: true
  path_alias: github.com/kyma-project/website
  max_concurrency: 10
  extra_refs:
    - org: kyma-project
      repo: test-infra
      base_ref: master
      path_alias: github.com/kyma-project/test-infra
  spec:
    containers:
      - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
        securityContext:
          privileged: true
        command:
          - "/home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh"
        args:
          - "/home/prow/go/src/github.com/kyma-project/website/tools/documentation-generator"

job_labels_template: &job_labels_template
  preset-dind-enabled: "true"
  preset-sa-gcr-push: "true"
  preset-docker-push-repository: "true"

presubmits: # runs on PRs
  kyma-project/website:
    - name: website-tools-documentation-generator
      branches:
        - master
      labels:
        <<: *job_labels_template
        preset-build-pr: "true"
      <<: *job_template

postsubmits:
  kyma-project/website:
    - name: website-tools-documentation-generator
      branches:
        - master
      <<: *job_template
      labels:
        <<: *job_labels_template
        preset-build-master: "true"

prow/jobs/website/website-governance.yaml:

presubmits: # runs on PRs
  kyma-project/website:
    - name: website-governance
      skip_report: true
      decorate: true
      max_concurrency: 10
      branches:
        - master
      labels:
        preset-build-pr: "true"
      run_if_changed: "milv.config.yaml|.md$"
      path_alias: github.com/kyma-project/website
      extra_refs:
        - org: kyma-project
          repo: test-infra
          base_ref: master
          path_alias: github.com/kyma-project/test-infra
      spec:
        containers:
          - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
            command:
              - "/home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh"
            args:
              - "website"

periodics: # runs periodic on master
- name: website-governance-nightly
  branches:
    - master
  path_alias: github.com/kyma-project/website
  cron: "0 1 * * 1-7" # “At 01:00 on every day-of-week from Monday through Sunday.”
  extra_refs:
    - org: kyma-project
      repo: test-infra
      base_ref: master
      path_alias: github.com/kyma-project/test-infra
  spec:
    containers:
      - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
        command:
          - "/home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh"
        args:
          - "website"
          - "true"

Some improvements
  src/blog-posts/9-release-0.6-plan.md
Due: website-governance

Update 9-release-0.6-plan.md
  src/blog-posts/9-release-0.6-plan.md
Due: website-governance

Release 0.6 blog post (#157)
  src/blog-posts/9-release-0.6-plan.md
Due: website-governance

Don't resize images to 100% width
  static/global.css
Due: none

Update 4-blog-post-kyma-at-teched.md (#119)
  src/blog-posts/4-blog-post-kyma-at-teched.md
Due: website-governance

Fix animation of features' images
  src/components/landing/features/Connectivity.js
  src/components/landing/features/Extendable.js
  src/locales/en/LandingPage.json
Due: none

Don't resize smaller images in docs (#162)
  src/components/landing/features/Connectivity.js
  src/components/landing/features/Extendable.js
  src/locales/en/LandingPage.json
  static/global.css
Due: none

Improve styles for docs and blogs
  src/components/blog/PostFooter.js
  src/components/blog/PostHeader.js
  src/components/blog/PostsWrapper.js
  src/components/content/MDContent.js
  src/components/docs/DocsContent/styled.js
  src/components/docs/external/MainPage/MainPage.component.js
  src/components/docs/navigation/VersionSwitcher.js
Due: none

After review
  src/components/docs/navigation/VersionSwitcher.js
Due: none

Improve styles for docs
  src/components/docs/external/MainPage/MainPage.component.js
  src/components/docs/external/MainPage/styled.js
  src/components/docs/navigation/VersionSwitcher.js
Due: none

Improve styles for docs and blogs (#163)
  src/components/blog/PostFooter.js
  src/components/blog/PostHeader.js
  src/components/blog/PostsWrapper.js
  src/components/content/MDContent.js
  src/components/docs/DocsContent/styled.js
  src/components/docs/external/MainPage/MainPage.component.js
  src/components/docs/external/MainPage/styled.js
  src/components/docs/navigation/VersionSwitcher.js
Due: none

Add chain for anchors
  gatsby-config.js
  package-lock.json
  package.json
  src/api-extensions/documentation-pages.js
  src/components/content/MDContent.js
  src/components/docs/DocsContent/DocsContent.component.js
  src/components/docs/DocsContent/styled.js
  src/templates/Documentation.js
  static/global.css
Due: none

Improve anchor styles
  gatsby-config.js
  src/components/docs/DocsContent/styled.js
Due: none

Add link-parser functions
  src/api-extensions/constants.js
  src/api-extensions/documentation-pages.js
  src/api-extensions/link-parser.js
  src/components/content/MDContent.js
  src/components/docs/DocsContent/styled.js
  src/components/docs/navigation/VersionSwitcher.js
Due: none

Improve link-parser function
  src/api-extensions/documentation-pages.js
  src/api-extensions/link-parser.js
Due: none

Add fixVersions function
  src/api-extensions/documentation-pages.js
  src/api-extensions/fix-versions.js
  src/api-extensions/links-parser.js
Due: none

After review
  src/api-extensions/links-parser.js
  src/api-extensions/rewrite-links.js
  src/components/docs/DocsContent/DocsContent.component.js
  static/global.css
Due: none

Improve docs generation and version checker
  scripts/generate-docs.sh
  src/api-extensions/documentation-pages.js
  src/components/docs/DocsContent/DocsProcessor.js
  src/components/docs/navigation/VersionSwitcher.js
  src/locales/en/UI.json
  static/documentation/config.json
  tools/documentation-generator/package-lock.json
  tools/documentation-generator/src/generators/configuration.js
  tools/documentation-generator/src/helpers/git.js
  tools/documentation-generator/src/helpers/github.js
  tools/documentation-generator/src/helpers/release.js
  tools/documentation-generator/src/index.js
Due: website-tools-documentation-generator

Add chain for anchors (#165)
  gatsby-config.js
  package-lock.json
  package.json
  src/api-extensions/constants.js
  src/api-extensions/documentation-pages.js
  src/api-extensions/links-parser.js
  src/api-extensions/rewrite-links.js
  src/components/content/MDContent.js
  src/components/docs/DocsContent/DocsContent.component.js
  src/components/docs/DocsContent/styled.js
  src/components/docs/navigation/VersionSwitcher.js
  src/templates/Documentation.js
  static/global.css
Due: none

Make minor improvements
  src/api-extensions/documentation-pages.js
  src/components/docs/navigation/VersionSwitcher.js
  src/locales/en/UI.json
  tools/documentation-generator/src/helpers/git.js
  tools/documentation-generator/src/index.js
Due: website-tools-documentation-generator

Add excerpt to blog posts
  gatsby-config.js
  package-lock.json
  package.json
  src/blog-posts/0-introducing.md
  src/blog-posts/1-kyma-knative-progress-report.md
  src/blog-posts/2-start-with-person-service.md
  src/blog-posts/3-replacing-kubeless-with-knative.md
  src/blog-posts/4-blog-post-kyma-at-teched.md
  src/blog-posts/5-release-notes-041.md
  src/blog-posts/6-accelerate-innovation-with-kyma.md
  src/blog-posts/7-release-notes-05.md
  src/blog-posts/8-kyma-at-kubecon.md
  src/blog-posts/9-release-0.6-plan.md
  src/blog-posts/9-xxxlutz-video.md
  src/components/blog/Post.js
  src/components/content/MDContent.js
  src/pages/blog.js
Due: website-governance

Add info about excerpt in docs and fix links in blog posts.
  docs/write-blog-posts.md
  src/blog-posts/10-release-0.6-plan.md
  src/blog-posts/7-release-notes-05.md
  src/blog-posts/8-kyma-at-kubecon.md
  src/blog-posts/9-xxxlutz-video.md
  src/pages/blog.js
Due: website-governance

Adjust milv.config.yaml and change blue border of post to lightGray
  milv.config.yaml
  src/components/blog/Post.js
  src/pages/blog.js
Due: website-governance

Update height of bottom border of blog post
  src/components/blog/Post.js
  src/config/colors.js
Due: none

Update milv.config.yaml
  milv.config.yaml
Due: website-governance

After docs review
  docs/write-blog-posts.md
Due: website-governance

Show excerpt on blog post list (#166)
  docs/write-blog-posts.md
  gatsby-config.js
  milv.config.yaml
  package-lock.json
  package.json
  src/blog-posts/0-introducing.md
  src/blog-posts/1-kyma-knative-progress-report.md
  src/blog-posts/10-release-0.6-plan.md
  src/blog-posts/2-start-with-person-service.md
  src/blog-posts/3-replacing-kubeless-with-knative.md
  src/blog-posts/4-blog-post-kyma-at-teched.md
  src/blog-posts/5-release-notes-041.md
  src/blog-posts/6-accelerate-innovation-with-kyma.md
  src/blog-posts/7-release-notes-05.md
  src/blog-posts/8-kyma-at-kubecon.md
  src/blog-posts/9-xxxlutz-video.md
  src/components/blog/Post.js
  src/components/content/MDContent.js
  src/config/colors.js
  src/pages/blog.js
Due: website-governance

Render more than just docs for official releases (#164)
  scripts/generate-docs.sh
  src/api-extensions/documentation-pages.js
  src/components/docs/DocsContent/DocsProcessor.js
  src/components/docs/navigation/VersionSwitcher.js
  src/locales/en/UI.json
  static/documentation/config.json
  tools/documentation-generator/package-lock.json
  tools/documentation-generator/src/generators/configuration.js
  tools/documentation-generator/src/helpers/git.js
  tools/documentation-generator/src/helpers/github.js
  tools/documentation-generator/src/helpers/release.js
  tools/documentation-generator/src/index.js
Due: website-tools-documentation-generator

Fix styling headers
  static/global.css
Due: none

Update gatsby-transformer-remark
  package-lock.json
  package.json
Due: none

Update posts for releases
  src/blog-posts/5-release-notes-041.md
  src/blog-posts/7-release-notes-05.md
Due: website-governance

Fix styling headers (#170)
  static/global.css
Due: none

Improve styles for blog button
  src/components/blog/PostFooter.js
  src/components/content/MDContent.js
Due: none

Update gatsby packages for render html tags in excerpt in blog posts (#171)
  package-lock.json
  package.json
  src/blog-posts/5-release-notes-041.md
  src/blog-posts/7-release-notes-05.md
  src/components/blog/PostFooter.js
  src/components/content/MDContent.js
Due: website-governance

Fix the documentation generation
  Makefile
  package-lock.json
  scripts/generate-docs.sh
  scripts/helpers/git-config.sh
  scripts/prepare-website.sh
  src/api-extensions/documentation-pages.js
  src/components/docs/DocsContent/DocsProcessor.js
  src/components/docs/navigation/VersionSwitcher.js
  src/locales/en/UI.json
  static/documentation/config.json
  tools/documentation-generator/src/config.js
  tools/documentation-generator/src/generators/configuration.js
  tools/documentation-generator/src/helpers/github.js
  tools/documentation-generator/src/helpers/release.js
  tools/documentation-generator/src/index.js
Due: website-tools-documentation-generator

Fix lock
  package-lock.json
Due: none

Adjust makefile
  Makefile
  scripts/generate-docs.sh
Due: none

Cleanup
  scripts/generate-docs.sh
  tools/documentation-generator/README.md
  tools/documentation-generator/src/config.js
Due: website-tools-documentation-generator, website-governance

Update
  package-lock.json
  tools/documentation-generator/README.md
Due: website-tools-documentation-generator, website-governance
