Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)

add name
  .github/workflows/pull-cli-lint.yml
Due: none

Testing things
  .github/workflows/tmp-test.yml
Due: none

Add gh actions lint workflow (#1715)
  .github/workflows/pull-cli-lint.yml
Due: none

Reduce timeout. Pin patch version
  .github/workflows/pull-cli-lint.yml
  .golangci.yml
Due: pull-cli-lint

Reduce timeout. Pin patch version (#1718)
  .github/workflows/pull-cli-lint.yml
  .golangci.yml
Due: pull-cli-lint

Enable cache for the setup-go action
  .github/workflows/pull-cli-lint.yml
Due: none

Enable type assertion linter (#1707)
  .golangci.yml
  Makefile
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/enable/module/mock/mock_interactor.go
  cmd/kyma/alpha/list/module/module.go
  internal/cli/alpha/module/module.go
  internal/deploy/bootstrap.go
  internal/deploy/bootstrap_test.go
  internal/deploy/kyma.go
  pkg/errs/common.go
Due: pull-cli-lint, pull-cli-integration-test

kubebuilder/project.go: Remove Unnecessary Comment
  pkg/module/kubebuilder/project.go
Due: pull-cli-lint, pull-cli-integration-test

Remove Unnecessary Comment
  pkg/module/resources.go
Due: pull-cli-lint, pull-cli-integration-test

UPdate default version
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

UPdate default version (#1720)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

fix cve cve-2022-32149
  go.mod
  go.sum
Due: pull-cli-integration-test

fix cve cve-2022-32149 (#1721)
  go.mod
  go.sum
Due: pull-cli-integration-test

Add is-cluster-scoped annotation
  cmd/kyma/alpha/create/module/module.go
  pkg/module/validation.go
Due: pull-cli-lint, pull-cli-integration-test

Add unit test
  cmd/kyma/alpha/create/module/module_test.go
  cmd/kyma/alpha/create/module/testdata/clusterScopedCRD.yaml
  cmd/kyma/alpha/create/module/testdata/namespacedScopedCRD.yaml
Due: pull-cli-lint, pull-cli-integration-test

Remove Config Layer from ModuleTemplate (#1712)
  pkg/module/kubebuilder/project.go
  pkg/module/resources.go
Due: pull-cli-lint, pull-cli-integration-test

Bump reconciler - PVC interceptor
  go.mod
  go.sum
Due: pull-cli-integration-test

Bump reconciler - PVC interceptor (#1725)
  go.mod
  go.sum
Due: pull-cli-integration-test

Update links for the domain change
  README.md
Due: none

Add is-cluster-scoped annotation for Cluster Scoped modules (#1722)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module_test.go
  cmd/kyma/alpha/create/module/testdata/clusterScopedCRD.yaml
  cmd/kyma/alpha/create/module/testdata/namespacedScopedCRD.yaml
  pkg/module/validation.go
Due: pull-cli-lint, pull-cli-integration-test

reuse compliance
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Due: none

Update reconciler to latest
  go.mod
  go.sum
Due: pull-cli-integration-test

sync main to 2.17 (#1738)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module_test.go
  cmd/kyma/alpha/create/module/testdata/clusterScopedCRD.yaml
  cmd/kyma/alpha/create/module/testdata/namespacedScopedCRD.yaml
  go.mod
  go.sum
  pkg/module/kubebuilder/project.go
  pkg/module/resources.go
  pkg/module/validation.go
Due: pull-cli-lint, pull-cli-integration-test

Update reconciler to latest (#1737)
  go.mod
  go.sum
Due: pull-cli-integration-test

Update links for the domain change (#1728)
  README.md
Due: none

reuse compliance (#1736)
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Due: none

Use simple mode as default
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/opts.go
Due: pull-cli-lint, pull-cli-integration-test

make docs
  docs/gen-docs/kyma_alpha_create_module.md
Due: none

fix comment
  cmd/kyma/alpha/create/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

Release 2.17.1
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

Release 2.17.1 (#1740)
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
  docs/gen-docs/kyma_deploy.md
  go.mod
  go.sum
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

Use simple mode as default (#1739)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/opts.go
  docs/gen-docs/kyma_alpha_create_module.md
Due: pull-cli-lint, pull-cli-integration-test

Init Legacy flags by default
  cmd/kyma/alpha/create/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

Init Legacy flags by default (#1743)
  cmd/kyma/alpha/create/module/module.go
  docs/gen-docs/kyma_alpha_create_module.md
Due: pull-cli-lint, pull-cli-integration-test

Change error log level, fail the sec scan info step if error appears
  cmd/kyma/alpha/create/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

switch back to warn instead error
  cmd/kyma/alpha/create/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

Better User-Feedback: Fail the sec scan info step if error appears (#1746)
  cmd/kyma/alpha/create/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

skip valid after add security scan layer
  cmd/kyma/alpha/create/module/module.go
  pkg/module/security_scan.go
Due: pull-cli-lint, pull-cli-integration-test
