Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)

Add missing thes
  internal/registry/image.go
  internal/registry/image_test.go
Due: pull-cli-lint, pull-cli-integration-test

Fix hints and messages (#2768)
  docs/user/_sidebar.md
  internal/authorization/rbacbuilder.go
  internal/authorization/rbacbuilder_test.go
  internal/cmd/alpha/hana/map.go
  internal/cmd/alpha/kubeconfig/generate.go
  internal/cmd/alpha/provision/provision.go
  internal/cmd/app/push.go
  internal/cmd/module/delete.go
  internal/cmd/module/manage.go
  internal/cmd/module/unmanage.go
  internal/cmdcommon/kubeconfig.go
  internal/extensions/actions/call_files_to_save.go
  internal/extensions/actions/common/configurator.go
  internal/extensions/actions/function_init.go
  internal/extensions/actions/registry_config.go
  internal/extensions/actions/registry_image-import.go
  internal/extensions/call/pod.go
  internal/extensions/commands.go
  internal/github/token.go
  internal/github/token_test.go
  internal/kubeconfig/kubeconfig.go
  internal/modules/disable.go
  internal/modules/disable_test.go
  internal/modules/enable.go
  internal/modules/enable_test.go
  internal/modules/manage.go
  internal/modules/uninstall.go
  internal/modules/uninstall_test.go
  internal/registry/config.go
  internal/registry/image.go
  internal/registry/image_test.go
Due: pull-cli-lint, pull-cli-integration-test

Reorganize diagnose commands (#2766)
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/_sidebar.ts
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_diagnose.md
  docs/user/gen-docs/kyma_alpha_diagnose_cluster.md
  docs/user/gen-docs/kyma_alpha_diagnose_istio.md
  docs/user/gen-docs/kyma_alpha_diagnose_logs.md
  gen-docs/main.go
  internal/cmd/alpha/diagnose/cluster.go
  internal/cmd/alpha/diagnose/diagnose.go
Due: pull-cli-lint, pull-cli-integration-test

Fix label selector when resolving app URL
  internal/kube/istio/istio.go
Due: pull-cli-lint, pull-cli-integration-test

Fix label selector when resolving app URL (#2770)
  internal/kube/istio/istio.go
Due: pull-cli-lint, pull-cli-integration-test

Fix label selector when resolving app URL (#2770) (#2771)
  internal/kube/istio/istio.go
Due: pull-cli-lint, pull-cli-integration-test

Include community module in e2e intergation scenario
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
  tests/btp/kyma-cleanup.sh
Due: pull-cli-integration-test

Added strict mode to diagnose logs command
  internal/cmd/alpha/diagnose/logs.go
  internal/diagnostics/logs.go
  internal/diagnostics/logs_test.go
Due: pull-cli-lint, pull-cli-integration-test

Include community module in e2e intergation scenario (#2772)
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
  tests/btp/kyma-cleanup.sh
Due: pull-cli-integration-test

Include community module in e2e intergation scenario (#2772) (#2774)
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
  tests/btp/kyma-cleanup.sh
Due: pull-cli-integration-test

Revert TF vars file name
  tests/btp/Makefile
Due: pull-cli-integration-test

Revert TF vars file name (#2775)
  tests/btp/Makefile
Due: pull-cli-integration-test

add image pulling and container starting
  go.mod
  internal/docker/build.go
  internal/docker/client.go
  internal/docker/pull.go
Due: pull-cli-lint, pull-cli-integration-test

fix conflict
  go.mod
Due: pull-cli-integration-test

add comments to unused fields
  internal/cmd/dashboard/start.go
Due: pull-cli-lint, pull-cli-integration-test

set default level for diagnose istio to warning (#2767)
  docs/user/gen-docs/kyma_alpha_diagnose_istio.md
  internal/cmd/alpha/diagnose/istio.go
  internal/cmdcommon/types/istiolevel.go
Due: pull-cli-lint, pull-cli-integration-test

add filtering istio messages by level (#2756)
  docs/user/gen-docs/kyma_alpha_diagnose_istio.md
  internal/cmd/alpha/diagnose/istio.go
  internal/cmdcommon/types/format.go
  internal/cmdcommon/types/istiolevel.go
Due: pull-cli-lint, pull-cli-integration-test

Improve `module delete` example (#2764)
  docs/user/gen-docs/kyma_module_delete.md
  internal/cmd/module/delete.go
  internal/cmd/module/pull.go
  internal/modules/enable.go
  internal/modules/enable_test.go
Due: pull-cli-lint, pull-cli-integration-test

rebase
  docs/user/gen-docs/_sidebar.ts
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_diagnose.md
  docs/user/gen-docs/kyma_alpha_diagnose_cluster.md
  docs/user/gen-docs/kyma_alpha_diagnose_istio.md
  docs/user/gen-docs/kyma_alpha_diagnose_logs.md
  gen-docs/main.go
  internal/cmd/alpha/diagnose/cluster.go
  internal/cmd/alpha/diagnose/diagnose.go
Due: pull-cli-lint, pull-cli-integration-test

Revert TF vars file name (#2776)
  tests/btp/Makefile
Due: pull-cli-integration-test

add missing docs
  docs/user/gen-docs/kyma_dashboard.md
  docs/user/gen-docs/kyma_dashboard_start.md
  docs/user/gen-docs/kyma_dashboard_stop.md
Due: none

add dashboard commands scaffolding
  docs/user/gen-docs/_sidebar.ts
  docs/user/gen-docs/kyma.md
  internal/cmd/dashboard/dashboard.go
  internal/cmd/dashboard/start.go
  internal/cmd/dashboard/stop.go
  internal/cmd/kyma.go
Due: pull-cli-lint, pull-cli-integration-test

Apply suggestions from code review
  docs/user/gen-docs/kyma_dashboard.md
  docs/user/gen-docs/kyma_dashboard_start.md
  docs/user/gen-docs/kyma_dashboard_stop.md
Due: none

apply suggestion from code review to a correct spot in code
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_dashboard.md
  docs/user/gen-docs/kyma_dashboard_start.md
  docs/user/gen-docs/kyma_dashboard_stop.md
  internal/cmd/dashboard/dashboard.go
  internal/cmd/dashboard/start.go
  internal/cmd/dashboard/stop.go
Due: pull-cli-lint, pull-cli-integration-test

Add dashboard commands scaffolding (#2779)
  docs/user/gen-docs/_sidebar.ts
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_dashboard.md
  docs/user/gen-docs/kyma_dashboard_start.md
  docs/user/gen-docs/kyma_dashboard_stop.md
  internal/cmd/dashboard/dashboard.go
  internal/cmd/dashboard/start.go
  internal/cmd/dashboard/stop.go
  internal/cmd/kyma.go
Due: pull-cli-lint, pull-cli-integration-test

remove unnecessary const
  internal/docker/pull.go
Due: pull-cli-lint, pull-cli-integration-test

add image pulling
  internal/docker/build.go
  internal/docker/client.go
  internal/docker/pull.go
Due: pull-cli-lint, pull-cli-integration-test

update docs, fix out library usage
  go.mod
  internal/docker/pull.go
Due: pull-cli-lint, pull-cli-integration-test

Add docker image pulling (#2778)
  go.mod
  internal/docker/build.go
  internal/docker/client.go
  internal/docker/pull.go
Due: pull-cli-lint, pull-cli-integration-test

add container functionality, add initial dashboard start functionality
  go.mod
  go.sum
  internal/cmd/dashboard/start.go
  internal/docker/container.go
  internal/docker/containerfollowrun.go
  internal/docker/pull.go
  internal/docker/stop.go
Due: pull-cli-lint, pull-cli-integration-test

Added tests to CatalogService
  internal/modulesv2/catalog_test.go
  internal/modulesv2/fake/clustermetadata.go
  internal/modulesv2/fake/externalmoduletemplates.go
  internal/modulesv2/fake/moduletemplates.go
  internal/modulesv2/repository/moduletemplates_test.go
  internal/modulesv2/testfactories/communitymoduletemplate.go
  internal/modulesv2/testfactories/coremoduletemplate.go
Due: pull-cli-lint, pull-cli-integration-test

Added tests to moduletemplates repository
  internal/modulesv2/dtos/catalogconfig_test.go
  internal/modulesv2/dtos/catalogresult_test.go
  internal/modulesv2/entities/testfactories/coremoduletemplate.go
  internal/modulesv2/repository/moduletemplates_test.go
Due: pull-cli-lint, pull-cli-integration-test

Added clusterMetadataRepository
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/module/catalog.go
  internal/cmd/module/module.go
  internal/modulesv2/catalog.go
  internal/modulesv2/dependencies.go
  internal/modulesv2/entities/clustermetadata.go
  internal/modulesv2/repository/clustermetadata.go
  internal/modulesv2/repository/moduletemplates.go
Due: pull-cli-lint, pull-cli-integration-test
