Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

pull-cli-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
        privileged: false
  ...

pull-cli-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-cli-checkconfig:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-checkconfig
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/k8s-prow/checkconfig:v20240408-838d843f
      securityContext:
  ...

pull-cli-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20240429-870ea518
      imagePullPolicy: Always
  ...

pull-cli-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20240906-871bfbc0
      imagePullPolicy: Always
  ...

pull-cli-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20240905-c1b27580
      imagePullPolicy: Always
  ...

Added kyma alpha authorize command
  internal/authorization/apply.go
  internal/authorization/apply_test.go
  internal/authorization/oidcbuilder.go
  internal/authorization/oidcbuilder_test.go
  internal/authorization/rbacbuilder.go
  internal/authorization/rbacbuilder_test.go
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/authorize/authorize.go
Due: pull-cli-lint, pull-cli-integration-test

Static check fix
  internal/authorization/oidcbuilder.go
Due: pull-cli-lint, pull-cli-integration-test

Fix installing community modules from rawManifests
  internal/modules/install.go
  internal/modules/install_test.go
  internal/modules/repo/moduletemplates.go
Due: pull-cli-lint, pull-cli-integration-test

Adjusted btp integration test
  .github/workflows/btp-integration-tests.yml
Due: none

Moved required parameters of OIDCBuilder to constructor
  internal/authorization/oidcbuilder.go
  internal/authorization/oidcbuilder_test.go
  internal/cmd/alpha/authorize/authorize.go
Due: pull-cli-lint, pull-cli-integration-test

Fix installing community modules from rawManifests (#2656)
  internal/modules/install.go
  internal/modules/install_test.go
  internal/modules/repo/moduletemplates.go
Due: pull-cli-lint, pull-cli-integration-test

Refactored rbacBuilder
  internal/authorization/rbacbuilder.go
Due: pull-cli-lint, pull-cli-integration-test

Added kyma alpha authorize command (#2655)
  .github/workflows/btp-integration-tests.yml
  internal/authorization/apply.go
  internal/authorization/apply_test.go
  internal/authorization/oidcbuilder.go
  internal/authorization/oidcbuilder_test.go
  internal/authorization/rbacbuilder.go
  internal/authorization/rbacbuilder_test.go
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/authorize/authorize.go
Due: pull-cli-lint, pull-cli-integration-test

lint
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

fix link regen
  docs/user/gen-docs/_sidebar.ts
Due: none

generate .ts sidebar file
  docs/user/gen-docs/_sidebar.ts
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

fix link
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

Generate .ts sidebar file (#2658)
  docs/user/gen-docs/_sidebar.ts
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

improve code
  docs/user/gen-docs/kyma_module_pull.md
  internal/cmd/module/pull.go
Due: pull-cli-lint, pull-cli-integration-test

generate docs
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/kyma_module.md
  docs/user/gen-docs/kyma_module_pull.md
Due: none

Apply suggestions from code review
  docs/user/gen-docs/kyma_module.md
  docs/user/gen-docs/kyma_module_pull.md
Due: none

Generate docs (#2657)
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/kyma_module.md
  docs/user/gen-docs/kyma_module_pull.md
  internal/cmd/module/pull.go
Due: pull-cli-lint, pull-cli-integration-test

Update_mount_flags
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_authorize.md
  docs/user/gen-docs/kyma_app_push.md
  internal/cmd/app/push.go
  internal/cmdcommon/types/mount.go
  internal/cmdcommon/types/mount_test.go
  internal/kube/resources/deployment.go
  internal/kube/resources/deployment_test.go
  tests/k3d/Makefile
  tests/k3d/test-mount-flags-simple.sh
  tests/k3d/test-mount-flags.sh
Due: pull-cli-lint, pull-cli-integration-test

Revamp app push --mount flags (#2649)
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_authorize.md
  docs/user/gen-docs/kyma_app_push.md
  internal/cmd/app/push.go
  internal/cmdcommon/types/mount.go
  internal/cmdcommon/types/mount_test.go
  internal/kube/resources/deployment.go
  internal/kube/resources/deployment_test.go
  tests/k3d/Makefile
  tests/k3d/test-mount-flags-simple.sh
  tests/k3d/test-mount-flags.sh
Due: pull-cli-lint, pull-cli-integration-test

Improved listing and removal of community modules
  internal/modules/list.go
  internal/modules/repo/moduletemplates.go
  internal/modules/repo/moduletemplates_test.go
Due: pull-cli-lint, pull-cli-integration-test

migrate
  docs/user/_sidebar.ts
  docs/user/gen-docs/_sidebar.ts
Due: none

Migrate the `_sidebar.md` file (#2664)
  docs/user/_sidebar.ts
  docs/user/gen-docs/_sidebar.ts
Due: none

module list: return state of non-default CR
  internal/modules/list.go
  internal/modules/list_test.go
Due: pull-cli-lint, pull-cli-integration-test

Improved listing and removal of community modules (#2663)
  internal/modules/list.go
  internal/modules/repo/moduletemplates.go
  internal/modules/repo/moduletemplates_test.go
Due: pull-cli-lint, pull-cli-integration-test

support the --context flag
  internal/cmdcommon/kubeconfig.go
  internal/kube/client.go
  internal/kube/config.go
Due: pull-cli-lint, pull-cli-integration-test

make docs
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_authorize.md
  docs/user/gen-docs/kyma_alpha_diagnose.md
  docs/user/gen-docs/kyma_alpha_hana.md
  docs/user/gen-docs/kyma_alpha_hana_map.md
  docs/user/gen-docs/kyma_alpha_kubeconfig.md
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  docs/user/gen-docs/kyma_alpha_provision.md
  docs/user/gen-docs/kyma_alpha_reference-instance.md
  docs/user/gen-docs/kyma_app.md
  docs/user/gen-docs/kyma_app_push.md
  docs/user/gen-docs/kyma_completion.md
  docs/user/gen-docs/kyma_completion_bash.md
  docs/user/gen-docs/kyma_completion_fish.md
  docs/user/gen-docs/kyma_completion_powershell.md
  docs/user/gen-docs/kyma_completion_zsh.md
  docs/user/gen-docs/kyma_help.md
  docs/user/gen-docs/kyma_module.md
  docs/user/gen-docs/kyma_module_add.md
  docs/user/gen-docs/kyma_module_catalog.md
  docs/user/gen-docs/kyma_module_delete.md
  docs/user/gen-docs/kyma_module_list.md
  docs/user/gen-docs/kyma_module_manage.md
  docs/user/gen-docs/kyma_module_pull.md
  docs/user/gen-docs/kyma_module_unmanage.md
  docs/user/gen-docs/kyma_version.md
Due: none

Support the `--context` flag (#2666)
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_authorize.md
  docs/user/gen-docs/kyma_alpha_diagnose.md
  docs/user/gen-docs/kyma_alpha_hana.md
  docs/user/gen-docs/kyma_alpha_hana_map.md
  docs/user/gen-docs/kyma_alpha_kubeconfig.md
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  docs/user/gen-docs/kyma_alpha_provision.md
  docs/user/gen-docs/kyma_alpha_reference-instance.md
  docs/user/gen-docs/kyma_app.md
  docs/user/gen-docs/kyma_app_push.md
  docs/user/gen-docs/kyma_completion.md
  docs/user/gen-docs/kyma_completion_bash.md
  docs/user/gen-docs/kyma_completion_fish.md
  docs/user/gen-docs/kyma_completion_powershell.md
  docs/user/gen-docs/kyma_completion_zsh.md
  docs/user/gen-docs/kyma_help.md
  docs/user/gen-docs/kyma_module.md
  docs/user/gen-docs/kyma_module_add.md
  docs/user/gen-docs/kyma_module_catalog.md
  docs/user/gen-docs/kyma_module_delete.md
  docs/user/gen-docs/kyma_module_list.md
  docs/user/gen-docs/kyma_module_manage.md
  docs/user/gen-docs/kyma_module_pull.md
  docs/user/gen-docs/kyma_module_unmanage.md
  docs/user/gen-docs/kyma_version.md
  internal/cmdcommon/kubeconfig.go
  internal/kube/client.go
  internal/kube/config.go
Due: pull-cli-lint, pull-cli-integration-test

configure securityContext
  internal/kube/resources/deployment.go
Due: pull-cli-lint, pull-cli-integration-test

tmp access
  internal/kube/resources/deployment.go
  internal/kube/resources/deployment_test.go
Due: pull-cli-lint, pull-cli-integration-test

make docs
  docs/user/gen-docs/kyma_app_push.md
Due: none

print cluster info on fail
  .github/workflows/pull.yaml
  tests/k3d/Makefile
  tests/k3d/cluster_info.sh
Due: pull-cli-integration-test

add tests
  internal/kube/resources/deployment_test.go
Due: pull-cli-lint, pull-cli-integration-test

implement insecure flag
  internal/cmd/app/push.go
  internal/kube/resources/deployment.go
  tests/k3d/integration-test-k3d.sh
Due: pull-cli-lint, pull-cli-integration-test

Configure securityContext for the app push deployment (#2662)
  .github/workflows/pull.yaml
  docs/user/gen-docs/kyma_app_push.md
  internal/cmd/app/push.go
  internal/kube/resources/deployment.go
  internal/kube/resources/deployment_test.go
  tests/k3d/Makefile
  tests/k3d/cluster_info.sh
  tests/k3d/integration-test-k3d.sh
Due: pull-cli-lint, pull-cli-integration-test

module list: return state of non-default CR (#2665)
  internal/modules/list.go
  internal/modules/list_test.go
Due: pull-cli-lint, pull-cli-integration-test

Added diagnose logs command
  internal/cmd/alpha/diagnose/diagnose.go
  internal/cmd/alpha/diagnose/logs.go
  internal/diagnostics/logs.go
  internal/diagnostics/logs_test.go
Due: pull-cli-lint, pull-cli-integration-test

service_binding_root_env
  internal/cmdcommon/types/mount_test.go
  internal/kube/resources/deployment.go
  internal/kube/resources/deployment_test.go
Due: pull-cli-lint, pull-cli-integration-test

rebase
  internal/kube/resources/deployment.go
Due: pull-cli-lint, pull-cli-integration-test

move format file
  internal/cmd/alpha/authorize/authorize.go
  internal/cmd/alpha/diagnose/diagnose.go
  internal/cmd/module/catalog.go
  internal/cmd/module/list.go
  internal/cmdcommon/types/format.go
  internal/extensions/actions/resource_create.go
  internal/extensions/actions/resource_get.go
  internal/kube/client.go
  internal/modules/render.go
Due: pull-cli-lint, pull-cli-integration-test

fix_unit
  internal/cmdcommon/types/mount_test.go
Due: pull-cli-lint, pull-cli-integration-test

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)
