Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)

Fix verify permissions (#2684)
  .github/workflows/verify.yml
Due: none

improve message
  .github/actions/standards-violation-info/action.yaml
  .github/actions/standards-violation-info/no-violation-message.md
  .github/actions/standards-violation-info/violation-message.md
  .github/workflows/verify.yml
Due: none

add enter
  .github/actions/standards-violation-info/action.yaml
Due: none

fix docs
  .github/actions/standards-violation-info/no-violation-message.md
  .github/actions/standards-violation-info/violation-message.md
Due: none

Add no validation message on verify (#2685)
  .github/actions/standards-violation-info/action.yaml
  .github/actions/standards-violation-info/no-violation-message.md
  .github/actions/standards-violation-info/violation-message.md
  .github/workflows/verify.yml
Due: none

fix
  .github/actions/standards-violation-info/action.yaml
Due: none

add env
  .github/actions/standards-violation-info/action.yaml
Due: none

Fix action negation (#2686)
  .github/actions/standards-violation-info/action.yaml
Due: none

improve
  .github/actions/standards-violation-info/action.yaml
  .github/workflows/verify.yml
Due: none

Improve verify action (#2688)
  .github/actions/standards-violation-info/action.yaml
  .github/workflows/verify.yml
Due: none

test
  internal/cmd/app/push.go
Due: pull-cli-lint, pull-cli-integration-test

add fmt.Println
  internal/cmd/app/push.go
Due: pull-cli-lint, pull-cli-integration-test

docs
  docs/user/gen-docs/kyma_app_push.md
Due: none

ok
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

Prefix adjustments for OIDC and bindings generation
  docs/user/gen-docs/kyma_alpha_authorize.md
  internal/authorization/oidcbuilder.go
  internal/authorization/oidcbuilder_test.go
  internal/authorization/rbacbuilder.go
  internal/authorization/rbacbuilder_test.go
  internal/cmd/alpha/authorize/authorize.go
Due: pull-cli-lint, pull-cli-integration-test

Additional fix for diagnose command
  internal/cmd/alpha/diagnose/diagnose.go
  internal/diagnostics/modulecustomresourcestate.go
Due: pull-cli-lint, pull-cli-integration-test

Prefix adjustments for OIDC and bindings generation (#2691)
  docs/user/gen-docs/kyma_alpha_authorize.md
  internal/authorization/oidcbuilder.go
  internal/authorization/oidcbuilder_test.go
  internal/authorization/rbacbuilder.go
  internal/authorization/rbacbuilder_test.go
  internal/cmd/alpha/authorize/authorize.go
  internal/cmd/alpha/diagnose/diagnose.go
  internal/diagnostics/modulecustomresourcestate.go
Due: pull-cli-lint, pull-cli-integration-test

do
  .github/actions/standards-violation-info/action.yaml
  .github/actions/standards-violation-info/no-violation-message.md
  .github/actions/standards-violation-info/violation-message.md
  .github/actions/verify-standards-violation/action.yaml
  .github/actions/verify-standards-violation/violation-message.md.tmpl
  .github/actions/verify-standards-violation/violation-message_tmpl.md
  .github/workflows/verify.yml
  Makefile
  hack/verify_code.sh
  hack/verify_docs.sh
Due: pull-cli-integration-test

init
  .github/actions/verify-standards-violation/action.yaml
  .github/actions/verify-standards-violation/no-violation-message.md
  .github/actions/verify-standards-violation/violation-message.md.tmpl
  hack/verify_code.sh
  hack/verify_docs.sh
Due: none

Improve out message for the verify action (#2692)
  .github/actions/standards-violation-info/action.yaml
  .github/actions/standards-violation-info/violation-message.md
  .github/actions/verify-standards-violation/action.yaml
  .github/actions/verify-standards-violation/no-violation-message.md
  .github/actions/verify-standards-violation/violation-message_tmpl.md
  .github/workflows/verify.yml
  Makefile
Due: pull-cli-integration-test

Update action.yaml
  .github/actions/verify-standards-violation/action.yaml
Due: none

Fix action (#2694)
  .github/actions/verify-standards-violation/action.yaml
Due: none

Update action (#2695)
  .github/actions/verify-standards-violation/action.yaml
Due: none

share reason between steps using file
  .github/actions/verify-standards-violation/action.yaml
Due: none

Share reason between steps using file (#2696)
  .github/actions/verify-standards-violation/action.yaml
Due: none

improve
  .github/actions/verify-standards-violation/action.yaml
  .github/actions/verify-standards-violation/violation-message_tmpl.md
Due: none

add exit 1
  .github/actions/verify-standards-violation/action.yaml
Due: none

Improve verify action message (#2700)
  .github/actions/verify-standards-violation/action.yaml
  .github/actions/verify-standards-violation/violation-message_tmpl.md
Due: none

add
  .github/actions/verify-standards-violation/action.yaml
Due: none

Improve verify comment 2 (#2701)
  .github/actions/verify-standards-violation/action.yaml
Due: none

Allow verify action to continue on error (#2702)
  .github/actions/verify-standards-violation/action.yaml
Due: none

Add set to verify last step (#2703)
  .github/actions/verify-standards-violation/action.yaml
Due: none

backdoor
  internal/cmd/module/add.go
  internal/cmd/module/pull.go
Due: pull-cli-lint, pull-cli-integration-test

fix
  internal/cmd/module/add.go
  internal/cmd/module/pull.go
Due: pull-cli-lint, pull-cli-integration-test

docs
  internal/cmd/module/pull.go
Due: pull-cli-lint, pull-cli-integration-test

ok
  internal/cmd/module/pull.go
Due: pull-cli-lint, pull-cli-integration-test

Update push.go
  internal/cmd/app/push.go
Due: pull-cli-lint, pull-cli-integration-test
