Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

pull-cli-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
        privileged: false
  ...

pull-cli-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-cli-checkconfig:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-checkconfig
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/k8s-prow/checkconfig:v20240408-838d843f
      securityContext:
  ...

pull-cli-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20240429-870ea518
      imagePullPolicy: Always
  ...

pull-cli-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20240906-871bfbc0
      imagePullPolicy: Always
  ...

pull-cli-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20240905-c1b27580
      imagePullPolicy: Always
  ...

Apply suggestions from code review
  docs/user/README.md
  docs/user/tutorials/README.md
Due: none

refactor extensions handling
  internal/cmd/alpha/alpha.go
  internal/cmdcommon/extension.go
Due: pull-cli-lint, pull-cli-integration-test

Implement `function init` command (#2420)
  internal/cmd/alpha/function/init.go
  internal/cmd/alpha/registry/config/config.go
  internal/cmd/alpha/registry/imageimport/imageimport.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

Implement Acceptance e2e tests for BTP user journey (#2318)
  .github/actions/ensure-pack/action.yaml
  .github/workflows/btp-integration-tests.yml
  .github/workflows/pull.yaml
  .gitignore
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
  tests/btp/k8s-resources/custom-docker-registry.yaml
  tests/btp/k8s-resources/db/books-hdi-initjob-template.yaml
  tests/btp/k8s-resources/db/hana-hdi-binding.yaml
  tests/btp/k8s-resources/db/hana-hdi-instance.yaml
  tests/btp/k8s-resources/db/kustomization.yaml
  tests/btp/k8s-resources/exposed-docker-registry.yaml
  tests/btp/k8s-resources/object-store-binding.yaml
  tests/btp/kyma-cleanup.sh
  tests/btp/sample-http-db-nodejs/bookstore/package.json
  tests/btp/sample-http-db-nodejs/bookstore/src/app.js
  tests/btp/sample-http-db-nodejs/bookstore/src/hana.js
  tests/btp/sample-http-db-nodejs/hdi-deploy/package.json
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/.hdiconfig
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/.hdinamespace
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/books.csv
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/books.hdbtable
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/books.hdbtabledata
  tests/btp/tf/main.tf
  tests/btp/tf/variables.tf
Due: pull-cli-integration-test

Ignore extension error on restricted args (#2422)
  internal/cmdcommon/extension.go
Due: pull-cli-lint, pull-cli-integration-test

apply suggestions
  internal/cmd/alpha/function/init.go
Due: pull-cli-lint, pull-cli-integration-test

improve init UX (#2424)
  internal/cmd/alpha/function/init.go
  internal/cmd/alpha/registry/config/config.go
  internal/cmd/alpha/registry/imageimport/imageimport.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

refactor extensions handling
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_test.go
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

Refactor extensions handling (#2427)
  internal/cmd/alpha/alpha.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_test.go
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

stable install script
  docs/user/README.md
  hack/install_cli_stable.sh
Due: none

update warnings
  docs/user/README.md
Due: none

Update docs/user/README.md
  docs/user/README.md
Due: none

Document how to install stable cli (#2431)
  docs/user/README.md
  hack/install_cli_stable.sh
Due: none

fix stable release script
  hack/install_cli_stable.sh
Due: none

Change first usage example
  README.md
  docs/user/tutorials/01-30-image-import.md
Due: none

Fix stable release script (#2432)
  hack/install_cli_stable.sh
Due: none

Apply suggestions from code review
  README.md
Due: none

Add tip how to enable autocompletion (#2423)
  docs/user/README.md
  docs/user/tutorials/README.md
Due: none

Explain v3 on main readme
  README.md
Due: none

Update README.md
  README.md
Due: none

Explain v3 on main readme (#2434)
  README.md
Due: none

Change first usage example (#2433)
  README.md
  docs/user/tutorials/01-30-image-import.md
Due: none

brew installation guide
  docs/user/README.md
Due: none

implement actionCommands; move function_init coreCommand to actionCommand
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/function/init.go
  internal/cmd/alpha/templates/actions/function_init.go
  internal/cmd/alpha/templates/types/action.go
  internal/cmd/alpha/templates/types/create.go
  internal/cmd/alpha/templates/types/flag.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

refactor parameters argument
  internal/cmd/alpha/templates/create.go
  internal/cmd/alpha/templates/delete.go
  internal/cmd/alpha/templates/parameters/set.go
  internal/cmd/alpha/templates/parameters/set_test.go
Due: pull-cli-lint, pull-cli-integration-test

implement support for flags
  internal/cmd/alpha/templates/actions/function_init.go
  internal/cmd/alpha/templates/types/action.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

Implement actionCommands functionality (#2438)
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/function/init.go
  internal/cmd/alpha/templates/actions/function_init.go
  internal/cmd/alpha/templates/create.go
  internal/cmd/alpha/templates/delete.go
  internal/cmd/alpha/templates/parameters/set.go
  internal/cmd/alpha/templates/parameters/set_test.go
  internal/cmd/alpha/templates/types/action.go
  internal/cmd/alpha/templates/types/create.go
  internal/cmd/alpha/templates/types/flag.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

Brew installation guide (#2435)
  docs/user/README.md
Due: none

migrate coreCommands to actionCommands
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/registry/config/config.go
  internal/cmd/alpha/templates/actions/actions.go
  internal/cmd/alpha/templates/actions/function_init.go
  internal/cmd/alpha/templates/actions/registry_config.go
  internal/cmd/alpha/templates/actions/registry_image-import.go
  internal/cmd/alpha/templates/parameters/default.go
  internal/cmd/alpha/templates/parameters/parameters.go
  internal/cmd/alpha/templates/types/flag.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

Migrate coreCommands to actionCommands (#2441)
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/registry/config/config.go
  internal/cmd/alpha/templates/actions/actions.go
  internal/cmd/alpha/templates/actions/function_init.go
  internal/cmd/alpha/templates/actions/registry_config.go
  internal/cmd/alpha/templates/actions/registry_image-import.go
  internal/cmd/alpha/templates/parameters/default.go
  internal/cmd/alpha/templates/parameters/parameters.go
  internal/cmd/alpha/templates/types/flag.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

migrate coreCommands to actionCommands
  internal/cmd/alpha/alpha.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_test.go
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

Get rid of the `coreCommands` (#2442)
  internal/cmd/alpha/alpha.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_test.go
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

remove compability file
  internal/cmd/alpha/templates/actions/compability.go
Due: pull-cli-lint, pull-cli-integration-test

migrate CRUD templateCommands into actionCommands
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/templates/actions/compability.go
  internal/cmd/alpha/templates/actions/resource_create.go
  internal/cmd/alpha/templates/actions/resource_delete.go
  internal/cmd/alpha/templates/actions/resource_explain.go
  internal/cmd/alpha/templates/actions/resource_get.go
Due: pull-cli-lint, pull-cli-integration-test

Migrate CRUD templateCommands into actionCommands (#2443)
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/templates/actions/resource_create.go
  internal/cmd/alpha/templates/actions/resource_delete.go
  internal/cmd/alpha/templates/actions/resource_explain.go
  internal/cmd/alpha/templates/actions/resource_get.go
Due: pull-cli-lint, pull-cli-integration-test

prototype new api
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

New extensions API (#2444)
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

refactor kymaconfig pkg
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/app/push.go
  internal/cmd/alpha/hana/map.go
  internal/cmd/alpha/kubeconfig/generate.go
  internal/cmd/alpha/module/add.go
  internal/cmd/alpha/provision/provision.go
  internal/cmd/alpha/referenceinstance/referenceinstance.go
  internal/cmd/alpha/templates/create.go
  internal/cmd/kyma.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_test.go
  internal/cmdcommon/kubeconfig.go
  internal/cmdcommon/kymaconfig.go
  internal/cmdcommon/types/map.go
  internal/flags/validate.go
  internal/flags/validate_test.go
Due: pull-cli-lint, pull-cli-integration-test

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)
