Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)

format
  docs/extensibility/create-extension.md
Due: none

Apply suggestions from code review
  docs/extensibility/create-extension.md
Due: none

add spoilers
  docs/extensibility/create-extension.md
Due: none

Add extensibility tutorial (#2477)
  docs/extensibility/README.md
  docs/extensibility/create-extension.md
Due: none

allow using token in kubeconfig generate in GH Actions
  internal/cmd/alpha/kubeconfig/generate.go
Due: pull-cli-lint, pull-cli-integration-test

allow using token in kubeconfig generate in GH Actions (#2480)
  internal/cmd/alpha/kubeconfig/generate.go
Due: pull-cli-lint, pull-cli-integration-test

Include GH OIDC authentication in the E2E test
  .github/workflows/btp-integration-tests.yml
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
  tests/btp/k8s-resources/github-oidc-trust/gh-workflow-cluster-adminbinding.yaml
  tests/btp/k8s-resources/github-oidc-trust/openidconnect.yaml
Due: pull-cli-integration-test

Ensure ACTIONS_ID_TOKEN_REQUEST_TOKEN env
  .github/workflows/btp-integration-tests.yml
  tests/btp/Makefile
Due: pull-cli-integration-test

Ensure istio injection
  tests/btp/integration-test-btp.sh
Due: none

Move it to gh action
  .github/workflows/btp-integration-tests.yml
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
Due: pull-cli-integration-test

Inspect token for debugging
  .github/workflows/btp-integration-tests.yml
Due: none

fix comments
  .github/workflows/btp-integration-tests.yml
Due: none

configure gh workflow permission
  .github/workflows/btp-integration-tests.yml
Due: none

fix jq inspection
  .github/workflows/btp-integration-tests.yml
Due: none

change usernameClaim in oidc config
  tests/btp/k8s-resources/github-oidc-trust/gh-workflow-cluster-adminbinding.yaml
  tests/btp/k8s-resources/github-oidc-trust/openidconnect.yaml
Due: none

cleanup
  .github/workflows/btp-integration-tests.yml
  tests/btp/k8s-resources/github-oidc-trust/gh-workflow-cluster-adminbinding.yaml
  tests/btp/k8s-resources/github-oidc-trust/openidconnect.yaml
Due: none

Test for generating access for trusted GH OIDC (#2484)
  .github/workflows/btp-integration-tests.yml
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
  tests/btp/k8s-resources/github-oidc-trust/gh-workflow-cluster-adminbinding.yaml
  tests/btp/k8s-resources/github-oidc-trust/openidconnect.yaml
Due: pull-cli-integration-test

dry-run support
  docs/extensibility/actions.md
  internal/extensions/actions/resource_create.go
  internal/extensions/actions/resource_delete.go
  internal/kube/fake/rootlessdynamic.go
  internal/kube/resources/service.go
  internal/kube/rootlessdynamic/client.go
  internal/kube/rootlessdynamic/client_test.go
  internal/modules/disable.go
  internal/modules/enable.go
Due: pull-cli-lint, pull-cli-integration-test

Apply suggestions from code review
  docs/extensibility/actions.md
Due: none

Update OS docs based on SKR docs
  docs/user/README.md
Due: none

DryRun extensions support (#2488)
  docs/extensibility/actions.md
  internal/extensions/actions/resource_create.go
  internal/extensions/actions/resource_delete.go
  internal/kube/fake/rootlessdynamic.go
  internal/kube/resources/service.go
  internal/kube/rootlessdynamic/client.go
  internal/kube/rootlessdynamic/client_test.go
  internal/modules/disable.go
  internal/modules/enable.go
Due: pull-cli-lint, pull-cli-integration-test

Update OS docs based on SKR docs (#2489)
  docs/user/README.md
Due: none

implement output format functionality
  internal/extensions/actions/common/configurator.go
  internal/extensions/actions/resource_create.go
  internal/extensions/actions/resource_get.go
  internal/extensions/actions/types/types.go
Due: pull-cli-lint, pull-cli-integration-test

documet
  docs/extensibility/actions.md
Due: none

fix headers
  internal/extensions/actions/resource_get.go
Due: pull-cli-lint, pull-cli-integration-test

Support for the `--output` flag (#2490)
  docs/extensibility/actions.md
  internal/extensions/actions/common/configurator.go
  internal/extensions/actions/resource_create.go
  internal/extensions/actions/resource_get.go
  internal/extensions/actions/types/types.go
Due: pull-cli-lint, pull-cli-integration-test

implement the --output flag for the module list and the module catalog commands
  internal/cmd/alpha/module/catalog.go
  internal/cmd/alpha/module/list.go
  internal/extensions/actions/resource_create.go
  internal/extensions/actions/resource_get.go
  internal/extensions/actions/types/types.go
  internal/modules/render.go
  internal/output/format.go
Due: pull-cli-lint, pull-cli-integration-test

lint
  internal/modules/render_test.go
Due: pull-cli-lint, pull-cli-integration-test

Implement the --output flag for the `module` commands group (#2493)
  internal/cmd/alpha/module/catalog.go
  internal/cmd/alpha/module/list.go
  internal/extensions/actions/resource_create.go
  internal/extensions/actions/resource_get.go
  internal/extensions/actions/types/types.go
  internal/modules/render.go
  internal/modules/render_test.go
  internal/output/format.go
Due: pull-cli-lint, pull-cli-integration-test

gen docs
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_module_catalog.md
  docs/user/gen-docs/kyma_alpha_module_list.md
  docs/user/gen-docs/kyma_completion.md
  docs/user/gen-docs/kyma_completion_bash.md
  docs/user/gen-docs/kyma_completion_fish.md
  docs/user/gen-docs/kyma_completion_powershell.md
  docs/user/gen-docs/kyma_completion_zsh.md
  docs/user/gen-docs/kyma_help.md
  docs/user/gen-docs/kyma_version.md
Due: none

Generate documentation (#2494)
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_module_catalog.md
  docs/user/gen-docs/kyma_alpha_module_list.md
  docs/user/gen-docs/kyma_completion.md
  docs/user/gen-docs/kyma_completion_bash.md
  docs/user/gen-docs/kyma_completion_fish.md
  docs/user/gen-docs/kyma_completion_powershell.md
  docs/user/gen-docs/kyma_completion_zsh.md
  docs/user/gen-docs/kyma_help.md
  docs/user/gen-docs/kyma_version.md
Due: none

gen docs
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_module.md
  docs/user/gen-docs/kyma_module.md
  docs/user/gen-docs/kyma_module_add.md
  docs/user/gen-docs/kyma_module_catalog.md
  docs/user/gen-docs/kyma_module_delete.md
  docs/user/gen-docs/kyma_module_list.md
  docs/user/gen-docs/kyma_module_manage.md
  docs/user/gen-docs/kyma_module_unmanage.md
Due: none

extract the module commands from the alpha group
  internal/cmd/alpha/alpha.go
  internal/cmd/kyma.go
  internal/cmd/module/add.go
  internal/cmd/module/catalog.go
  internal/cmd/module/delete.go
  internal/cmd/module/list.go
  internal/cmd/module/manage.go
  internal/cmd/module/module.go
  internal/cmd/module/unmanage.go
Due: pull-cli-lint, pull-cli-integration-test

migrate repo to commands out of the alpha group
  .gitignore
  internal/extensions/actions/function_init.go
  internal/registry/config.go
  tests/btp/integration-test-btp.sh
  tests/btp/kyma-cleanup.sh
Due: pull-cli-lint, pull-cli-integration-test

Extract the `module` commands from the `alpha` group (#2495)
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_module.md
  docs/user/gen-docs/kyma_module.md
  docs/user/gen-docs/kyma_module_add.md
  docs/user/gen-docs/kyma_module_catalog.md
  docs/user/gen-docs/kyma_module_delete.md
  docs/user/gen-docs/kyma_module_list.md
  docs/user/gen-docs/kyma_module_manage.md
  docs/user/gen-docs/kyma_module_unmanage.md
  internal/cmd/alpha/alpha.go
  internal/cmd/kyma.go
  internal/cmd/module/add.go
  internal/cmd/module/catalog.go
  internal/cmd/module/delete.go
  internal/cmd/module/list.go
  internal/cmd/module/manage.go
  internal/cmd/module/module.go
  internal/cmd/module/unmanage.go
Due: pull-cli-lint, pull-cli-integration-test

Migrate repo to commands out of the alpha group (#2497)
  .gitignore
  internal/extensions/actions/function_init.go
  internal/registry/config.go
  tests/btp/integration-test-btp.sh
  tests/btp/kyma-cleanup.sh
Due: pull-cli-lint, pull-cli-integration-test

extract extensions commands
  internal/cmd/alpha/alpha.go
  internal/cmd/kyma.go
Due: pull-cli-lint, pull-cli-integration-test

Extract extension commands from the `alpha` group (#2496)
  internal/cmd/alpha/alpha.go
  internal/cmd/kyma.go
Due: pull-cli-lint, pull-cli-integration-test

bump linter
  .github/workflows/lint-golangci.yml
  .golangci.yaml
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test
