Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

pull-cli-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
        privileged: false
  ...

pull-cli-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-cli-checkconfig:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-checkconfig
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20230725-371721ec95
      securityContext:
        privileged: false
        seccompProfile:
  ...

pull-cli-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20230607-587d3f6a
      imagePullPolicy: Always
  ...

pull-cli-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/prow-tools:v20230328-ea7e207a
  ...

pull-cli-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230414-8e724501
      imagePullPolicy: Always
  ...

revert isEquivalent undo
  pkg/module/oci_repo.go
Due: pull-cli-lint, pull-cli-integration-test

Implement CIS client (#1969)
  go.mod
  go.sum
  internal/btp/client.go
  internal/btp/client_test.go
Due: pull-cli-lint, pull-cli-integration-test

Fix linting issues
  internal/btp/client.go
  internal/btp/credentials_test.go
Due: pull-cli-lint, pull-cli-integration-test

Add description to Kyma command
  internal/cmd/kyma.go
Due: pull-cli-lint, pull-cli-integration-test

Fix linting issues (#1972)
  internal/btp/client.go
  internal/btp/credentials_test.go
Due: pull-cli-lint, pull-cli-integration-test

kyma provision
  internal/btp/provision.go
  internal/btp/provision_test.go
  internal/cmd/provision/provision.go
Due: pull-cli-lint, pull-cli-integration-test

chore: Bump `ocm` dependency to `v0.7.0` (#1971)
  go.mod
  go.sum
  pkg/module/oci_repo.go
Due: pull-cli-lint, pull-cli-integration-test

kyma provision (#1964)
  internal/btp/provision.go
  internal/btp/provision_test.go
  internal/cmd/provision/provision.go
Due: pull-cli-lint, pull-cli-integration-test

Update CODEOWNERS
  CODEOWNERS
Due: none

Add Python 3.12
  cmd/kyma/init/function/function.go
  docs/gen-docs/kyma_init_function.md
Due: pull-cli-lint, pull-cli-integration-test

v3: Refactor cis package
  internal/btp/auth/credentials.go
  internal/btp/auth/credentials_test.go
  internal/btp/auth/xsuaa.go
  internal/btp/auth/xsuaa_test.go
  internal/btp/cis/client.go
  internal/btp/cis/client_test.go
  internal/btp/cis/provision.go
  internal/btp/cis/provision_test.go
  internal/cmd/provision/provision.go
Due: pull-cli-lint, pull-cli-integration-test

Update CODEOWNERS (#1974)
  CODEOWNERS
Due: none

docs: fix identation
  cmd/kyma/run/function/function.go
  docs/gen-docs/kyma_init_function.md
Due: pull-cli-lint, pull-cli-integration-test

v3: Refactor cis package (#1977)
  internal/btp/auth/credentials.go
  internal/btp/auth/credentials_test.go
  internal/btp/auth/xsuaa.go
  internal/btp/auth/xsuaa_test.go
  internal/btp/cis/client.go
  internal/btp/cis/client_test.go
  internal/btp/cis/provision.go
  internal/btp/cis/provision_test.go
  internal/cmd/provision/provision.go
Due: pull-cli-lint, pull-cli-integration-test

chore: Add Python 3.12 environment (#1976)
  cmd/kyma/init/function/function.go
  cmd/kyma/run/function/function.go
  docs/gen-docs/kyma_init_function.md
Due: pull-cli-lint, pull-cli-integration-test

implement kubernetes client
  internal/kube/client.go
  internal/kube/config.go
Due: pull-cli-lint, pull-cli-integration-test

chore: Deprecate Python39 environment
  cmd/kyma/init/function/function.go
  cmd/kyma/init/function/function_test.go
  docs/gen-docs/kyma_init_function.md
Due: pull-cli-lint, pull-cli-integration-test

chore: Deprecate Python39 environment (#1983)
  cmd/kyma/init/function/function.go
  cmd/kyma/init/function/function_test.go
  docs/gen-docs/kyma_init_function.md
Due: pull-cli-lint, pull-cli-integration-test

chore: Remove Nodejs16 environment
  cmd/kyma/init/function/function.go
  cmd/kyma/run/function/function.go
  docs/gen-docs/kyma_init_function.md
Due: pull-cli-lint, pull-cli-integration-test

chore: Add Nodejs20 environment
  cmd/kyma/init/function/function.go
  cmd/kyma/run/function/function.go
  docs/gen-docs/kyma_init_function.md
Due: pull-cli-lint, pull-cli-integration-test

implement kubernetes client (#1984)
  internal/kube/client.go
  internal/kube/config.go
Due: pull-cli-lint, pull-cli-integration-test

chore: Remove Nodejs16 environment (#1985)
  cmd/kyma/init/function/function.go
  cmd/kyma/run/function/function.go
  docs/gen-docs/kyma_init_function.md
Due: pull-cli-lint, pull-cli-integration-test

draft
  chlebak.md
  internal/btp/cis/client.go
  internal/btp/cis/entitlements.go
  internal/cmd/provision/provision.go
Due: pull-cli-lint, pull-cli-integration-test

draft2
  internal/cmd/provision/provision.go
Due: pull-cli-lint, pull-cli-integration-test

import image command
  go.mod
  go.sum
  internal/cmd/imageimport/imageimport.go
  internal/cmd/kyma.go
  internal/cmd/provision/provision.go
  internal/kube/client.go
  internal/kube/config.go
  internal/registry/auth.go
  internal/registry/config.go
  internal/registry/image.go
  internal/registry/portforward/dial.go
  internal/registry/portforward/transport.go
Due: pull-cli-lint, pull-cli-integration-test

propose
  docs/contributor/concepts/error-output-format.md
Due: none

reviewv1
  internal/cmd/imageimport/imageimport.go
  internal/registry/image.go
  internal/registry/portforward/transport.go
Due: pull-cli-lint, pull-cli-integration-test

comment portforward package
  internal/registry/portforward/dial.go
  internal/registry/portforward/transport.go
Due: pull-cli-lint, pull-cli-integration-test

Implement the `image-import` command (#1991)
  go.mod
  go.sum
  internal/cmd/imageimport/imageimport.go
  internal/cmd/kyma.go
  internal/cmd/provision/provision.go
  internal/kube/client.go
  internal/kube/config.go
  internal/registry/auth.go
  internal/registry/config.go
  internal/registry/image.go
  internal/registry/portforward/dial.go
  internal/registry/portforward/transport.go
Due: pull-cli-lint, pull-cli-integration-test

chore: Add Nodejs20 environment (#1982)
  cmd/kyma/init/function/function.go
  cmd/kyma/run/function/function.go
  docs/gen-docs/kyma_init_function.md
Due: pull-cli-lint, pull-cli-integration-test

Bump hydroform
  go.mod
  go.sum
Due: pull-cli-integration-test

Bump Hydroform functions
  go.mod
  go.sum
Due: pull-cli-integration-test

Bump hydroform (#1998)
  go.mod
  go.sum
Due: pull-cli-integration-test

Bump Hydroform functions (#2000)
  go.mod
Due: pull-cli-integration-test

Make security config from config file work
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/moduleconfig_test.go
Due: pull-cli-lint, pull-cli-integration-test

apply suggestions
  docs/contributor/ADR/001-error-output-format.md
Due: none

apply suggestions v2
  docs/contributor/ADR/001-error-output-format.md
Due: none

configtest
  internal/registry/config_test.go
Due: pull-cli-lint, pull-cli-integration-test

gomod
  go.mod
  go.sum
Due: pull-cli-integration-test

removecomment
  internal/registry/config_test.go
Due: pull-cli-lint, pull-cli-integration-test

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)
