Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

pull-cli-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
        privileged: false
  ...

pull-cli-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-cli-checkconfig:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-checkconfig
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/k8s-prow/checkconfig:v20240408-838d843f
      securityContext:
  ...

pull-cli-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20240429-870ea518
      imagePullPolicy: Always
  ...

pull-cli-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20240906-871bfbc0
      imagePullPolicy: Always
  ...

pull-cli-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20240905-c1b27580
      imagePullPolicy: Always
  ...

pack bookstore
  tests/btp/integration-test-btp.sh
  tests/btp/sample-http-db-nodejs/bookstore/Dockerfile
  tests/btp/sample-http-db-nodejs/bookstore/Dockerfile-xyz
Due: pull-cli-integration-test

add dockerfile
  .gitignore
  tests/btp/sample-http-db-nodejs/bookstore/Dockerfile
  tests/btp/sample-http-db-nodejs/bookstore/package.json
Due: pull-cli-integration-test

fix envs
  .github/workflows/integration-tests.yml
Due: none

fetch sm creds via tf
  .gitignore
  tests/btp/integration-test-btp.sh
  tests/btp/tf/main.tf
  tests/btp/tf/variables.tf
Due: none

wait for apirule
  tests/btp/integration-test-btp.sh
Due: none

run on workflow dispatch
  .github/actions/ensure-pack/action.yaml
  .github/workflows/integration-tests.yml
Due: none

ensure hana-hdi entitlement via tf
  .gitignore
  tests/btp/integration-test-btp.sh
  tests/btp/k8s-resources/db/books-hdi-config.yaml
  tests/btp/k8s-resources/db/books-hdi-initjob-template.yaml
  tests/btp/k8s-resources/db/kustomization.yaml
  tests/btp/tf/main.tf
  tests/btp/tf/variables.tf
Due: none

verify bookstore app
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
Due: pull-cli-integration-test

envs
  .github/workflows/integration-tests.yml
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
Due: pull-cli-integration-test

fix envs
  tests/btp/Makefile
Due: pull-cli-integration-test

run on release branch
  .github/workflows/btp-integration-tests.yml
  .github/workflows/pull.yaml
Due: none

unify with local execution from .tfvars
  .github/workflows/btp-integration-tests.yml
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
  tests/btp/sample-http-db-nodejs/bookstore/Dockerfile-xyz
Due: pull-cli-integration-test

sleep to wait for dr config
  tests/btp/integration-test-btp.sh
Due: none

rename kyma@v3 to kyma - leftovers
  tests/btp/integration-test-btp.sh
Due: none

Handle extensions duplicates with base commands (#2414)
  gen-docs/main.go
  internal/cmd/alpha/alpha.go
  internal/cmd/kyma.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_test.go
  internal/cmdcommon/kymaconfig.go
  main.go
Due: pull-cli-lint, pull-cli-integration-test

use --image-pull-secret option
  tests/btp/integration-test-btp.sh
Due: none

Update codeowners (#2417)
  CODEOWNERS
Due: none

update codeowners
  CODEOWNERS
Due: none

Update docs codeowners (#2418)
  CODEOWNERS
Due: none

separate testing steps
  .github/workflows/btp-integration-tests.yml
  tests/btp/Makefile
Due: pull-cli-integration-test

generate tfvars on ghaction only
  .github/workflows/btp-integration-tests.yml
  tests/btp/Makefile
Due: pull-cli-integration-test

generate tfvars on ghaction only
  .github/workflows/btp-integration-tests.yml
Due: none

quick test
  .github/workflows/btp-integration-tests.yml
Due: none

cleanup
  .github/workflows/btp-integration-tests.yml
  tests/btp/kyma-cleanup.sh
Due: none

support config
  internal/cmd/alpha/registry/config/config.go
  internal/cmd/alpha/registry/imageimport/imageimport.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

add init command
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/function/init.go
Due: pull-cli-lint, pull-cli-integration-test

refactor
  internal/cmd/alpha/function/init.go
Due: pull-cli-lint, pull-cli-integration-test

typo
  internal/cmd/alpha/function/init.go
Due: pull-cli-lint, pull-cli-integration-test

typo 2
  internal/cmd/alpha/function/init.go
Due: pull-cli-lint, pull-cli-integration-test

Update internal/cmd/alpha/function/init.go
  internal/cmd/alpha/function/init.go
Due: pull-cli-lint, pull-cli-integration-test

Implement `function init` command (#2420)
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/function/init.go
  internal/cmd/alpha/registry/config/config.go
  internal/cmd/alpha/registry/imageimport/imageimport.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

Implement Acceptance e2e tests for BTP user journey (#2318)
  .github/actions/ensure-pack/action.yaml
  .github/workflows/btp-integration-tests.yml
  .github/workflows/pull.yaml
  .gitignore
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
  tests/btp/k8s-resources/custom-docker-registry.yaml
  tests/btp/k8s-resources/db/books-hdi-initjob-template.yaml
  tests/btp/k8s-resources/db/hana-hdi-binding.yaml
  tests/btp/k8s-resources/db/hana-hdi-instance.yaml
  tests/btp/k8s-resources/db/kustomization.yaml
  tests/btp/k8s-resources/exposed-docker-registry.yaml
  tests/btp/k8s-resources/object-store-binding.yaml
  tests/btp/kyma-cleanup.sh
  tests/btp/sample-http-db-nodejs/bookstore/package.json
  tests/btp/sample-http-db-nodejs/bookstore/src/app.js
  tests/btp/sample-http-db-nodejs/bookstore/src/hana.js
  tests/btp/sample-http-db-nodejs/hdi-deploy/package.json
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/.hdiconfig
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/.hdinamespace
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/books.csv
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/books.hdbtable
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/books.hdbtabledata
  tests/btp/tf/main.tf
  tests/btp/tf/variables.tf
Due: pull-cli-integration-test

ignore on restricted args
  internal/cmdcommon/extension.go
Due: pull-cli-lint, pull-cli-integration-test

Ignore extension error on restricted args (#2422)
  internal/cmdcommon/extension.go
Due: pull-cli-lint, pull-cli-integration-test

Add tip how to enable autocompletion
  docs/user/README.md
  docs/user/tutorials/README.md
Due: none

improve init UX
  internal/cmd/alpha/function/init.go
  internal/cmd/alpha/registry/config/config.go
  internal/cmd/alpha/registry/imageimport/imageimport.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_types.go
Due: pull-cli-lint, pull-cli-integration-test

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)
