Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)

Refactor unit test after upgrading KLM deps
  cmd/kyma/alpha/enable/module/mock/mock_interactor.go
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  internal/cli/alpha/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

Use working dir in action
  .github/workflows/test-e2e-create-module.yml
Due: none

Fix nil pointer reference
  cmd/kyma/alpha/create/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

revert action changes
  .github/workflows/test-e2e-create-module.yml
Due: none

Code review comments
  cmd/kyma/alpha/create/module/module.go
  pkg/module/remote.go
  pkg/module/remote_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix: Allow creating module for existing versions (#1865)
  .github/workflows/test-e2e-create-module.yml
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/verify/module/module.go
  internal/kube/mocks/KymaKube.go
  pkg/module/mocks/OciRepoAccess.go
  pkg/module/oci_repo.go
  pkg/module/remote.go
  pkg/module/remote_test.go
  tests/e2e/create_module/kyma_create_module_same_version_test.go
  tests/e2e/create_module/kyma_create_module_test.go
  tests/e2e/util.go
Due: pull-cli-lint, pull-cli-integration-test

fix wrong if condition
  cmd/kyma/alpha/create/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

set mandatory to optional
  cmd/kyma/alpha/create/module/moduleconfig.go
Due: pull-cli-lint, pull-cli-integration-test

Move mandatory to higher place
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

feat: Introduce Mandatory Spec field for ModuleTemplate (#1866)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/moduleconfig_test.go
  cmd/kyma/alpha/enable/module/mock/mock_interactor.go
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  go.mod
  go.sum
  internal/cli/alpha/module/module.go
  internal/deploy/kyma.go
  pkg/module/custom_state_check.go
  pkg/module/template.go
  pkg/module/template_test.go
  tests/e2e/create_module/kyma_create_module_test.go
  tests/e2e/deploy_enable_disable_test.go
  tests/e2e/util.go
Due: pull-cli-lint, pull-cli-integration-test

Disable mocks from security scanning
  sec-scanners-config.yaml
Due: none

scaffold.go: Fix Manifest and Default CR Generation
  cmd/kyma/alpha/create/scaffold/default_cr.go
  cmd/kyma/alpha/create/scaffold/manifest.go
  cmd/kyma/alpha/create/scaffold/opts.go
  cmd/kyma/alpha/create/scaffold/scaffold.go
  cmd/kyma/alpha/create/scaffold/security_config.go
  cmd/kyma/alpha/create/scaffold/utils.go
Due: pull-cli-lint, pull-cli-integration-test

default_cr.go: Fix Lint
  cmd/kyma/alpha/create/scaffold/default_cr.go
Due: pull-cli-lint, pull-cli-integration-test

default_cr.go: Fix Metadata Case Sensitivity Issue
  cmd/kyma/alpha/create/scaffold/default_cr.go
Due: pull-cli-lint, pull-cli-integration-test

Disable mocks from security scanning (#1872)
  sec-scanners-config.yaml
Due: none

fix: Arbitrary file access during archive extraction (Zip Slip) as well for tar extraction
  internal/deploy/istioctl/istio.go
Due: pull-cli-lint, pull-cli-integration-test

handle err
  internal/deploy/istioctl/istio.go
Due: pull-cli-lint, pull-cli-integration-test

fail early
  internal/deploy/istioctl/istio.go
Due: pull-cli-lint, pull-cli-integration-test

remove err
  internal/deploy/istioctl/istio.go
Due: pull-cli-lint, pull-cli-integration-test

test
  internal/deploy/istioctl/istio.go
Due: pull-cli-lint, pull-cli-integration-test

chore: Remove istio patching from legacy deploy
  cmd/kyma/deploy/cmd.go
  cmd/kyma/undeploy/cmd.go
  internal/deploy/istioctl/istio.go
  internal/deploy/istioctl/istio_test.go
  internal/deploy/istioctl/testdata/Chart.yaml
  internal/deploy/istioctl/testdata/corruptedChart.yaml
  internal/deploy/istioctl/testdata/istio_mock.tar
  internal/deploy/istioctl/testdata/istio_mock.tar.gz
  internal/deploy/istioctl/testdata/istio_mock.zip
Due: pull-cli-lint, pull-cli-integration-test

delete cmds
  cmd/kyma/deploy/cmd.go
  cmd/kyma/deploy/cmd_test.go
  cmd/kyma/deploy/opts.go
  cmd/kyma/deploy/opts_test.go
  cmd/kyma/deploy/testdata/dummy.txt
  cmd/kyma/deploy/testdata/fake.crt
  cmd/kyma/deploy/testdata/fake.key
  cmd/kyma/kyma.go
  cmd/kyma/undeploy/cmd.go
  cmd/kyma/undeploy/opts.go
Due: pull-cli-lint, pull-cli-integration-test

mod tidy
  go.mod
  go.sum
Due: pull-cli-integration-test

remove unused istioctl
  internal/deploy/istioctl/istio.go
  internal/deploy/istioctl/istio_test.go
  internal/deploy/istioctl/testdata/Chart.yaml
  internal/deploy/istioctl/testdata/corruptedChart.yaml
  internal/deploy/istioctl/testdata/istio_mock.tar
  internal/deploy/istioctl/testdata/istio_mock.tar.gz
  internal/deploy/istioctl/testdata/istio_mock.zip
Due: pull-cli-lint, pull-cli-integration-test

update docs
  docs/gen-docs/kyma.md
  docs/gen-docs/kyma_deploy.md
  docs/gen-docs/kyma_undeploy.md
Due: none

remove unused code
  internal/deploy/component/list.go
  internal/deploy/deploy.go
  internal/deploy/workspace.go
Due: pull-cli-lint, pull-cli-integration-test

Adds a sprint commits report
  .github/workflows/report-sprint-commits.yml
Due: none

Adds a sprint commits report (#1880)
  .github/workflows/report-sprint-commits.yml
Due: none

Reference LM api module
  go.mod
  go.sum
  tests/e2e/e2e_suite_test.go
Due: pull-cli-lint, pull-cli-integration-test

scaffold.go: Fix Empty Directory Issue
  cmd/kyma/alpha/create/scaffold/manifest.go
  cmd/kyma/alpha/create/scaffold/scaffold.go
Due: pull-cli-lint, pull-cli-integration-test

chore: Remove istio patching from legacy deploy (#1876)
  cmd/kyma/deploy/cmd.go
  cmd/kyma/undeploy/cmd.go
  internal/deploy/istioctl/istio.go
  internal/deploy/istioctl/istio_test.go
  internal/deploy/istioctl/testdata/Chart.yaml
  internal/deploy/istioctl/testdata/corruptedChart.yaml
  internal/deploy/istioctl/testdata/istio_mock.tar
  internal/deploy/istioctl/testdata/istio_mock.tar.gz
  internal/deploy/istioctl/testdata/istio_mock.zip
Due: pull-cli-lint, pull-cli-integration-test

upgrade lm api
  cmd/kyma/alpha/create/module/module.go
  go.mod
  go.sum
  internal/cli/alpha/module/module.go
  internal/deploy/kyma.go
Due: pull-cli-lint, pull-cli-integration-test

code review comments
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module_test.go
  cmd/kyma/alpha/deploy/cmd.go
  cmd/kyma/alpha/deploy/cmd_test.go
  cmd/kyma/alpha/list/module/module.go
  go.mod
  go.sum
  internal/deploy/kyma.go
  internal/deploy/module_templates.go
  internal/kustomize/kustomize_test.go
  pkg/module/template.go
  pkg/module/template_test.go
  tests/e2e/create_module/kyma_create_module_test.go
Due: pull-cli-lint, pull-cli-integration-test

code review comments
  cmd/kyma/alpha/deploy/cmd.go
  cmd/kyma/alpha/list/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

chore: Reference lifecycle manager api module (#1881)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module_test.go
  cmd/kyma/alpha/deploy/cmd.go
  cmd/kyma/alpha/deploy/cmd_test.go
  cmd/kyma/alpha/list/module/module.go
  go.mod
  go.sum
  internal/cli/alpha/module/module.go
  internal/deploy/kyma.go
  internal/deploy/module_templates.go
  internal/kustomize/kustomize_test.go
  pkg/module/template.go
  pkg/module/template_test.go
  tests/e2e/create_module/kyma_create_module_test.go
  tests/e2e/e2e_suite_test.go
Due: pull-cli-lint, pull-cli-integration-test

Release 2.20.1
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

test-e2e-create-scaffold.yml: Add Newline At The End
  .github/workflows/test-e2e-create-scaffold.yml
Due: none
