Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

pull-cli-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
        privileged: false
  ...

pull-cli-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-cli-checkconfig:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-checkconfig
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/k8s-prow/checkconfig:v20240408-838d843f
      securityContext:
  ...

pull-cli-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20240429-870ea518
      imagePullPolicy: Always
  ...

pull-cli-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20240906-871bfbc0
      imagePullPolicy: Always
  ...

pull-cli-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20240905-c1b27580
      imagePullPolicy: Always
  ...

unify flags and commands descriptions
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/app/app.go
  internal/cmd/alpha/app/push.go
  internal/cmd/alpha/hana/hana.go
  internal/cmd/alpha/hana/map.go
  internal/cmd/alpha/module/add.go
  internal/cmd/alpha/module/catalog.go
  internal/cmd/alpha/module/delete.go
  internal/cmd/alpha/module/list.go
  internal/cmd/alpha/module/manage.go
  internal/cmd/alpha/module/module.go
  internal/cmd/alpha/module/unmanage.go
  internal/cmd/alpha/oidc/oidc.go
  internal/cmd/alpha/provision/provision.go
  internal/cmd/alpha/referenceinstance/referenceinstance.go
  internal/cmd/alpha/registry/config/config.go
  internal/cmd/alpha/registry/imageimport/imageimport.go
  internal/cmd/alpha/templates/create.go
  internal/cmd/alpha/templates/create_test.go
  internal/cmd/alpha/templates/delete.go
  internal/cmd/alpha/templates/delete_test.go
  internal/cmd/alpha/templates/get.go
  internal/cmd/alpha/templates/get_test.go
  internal/cmd/kyma.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/kubeconfig.go
Due: pull-cli-lint, pull-cli-integration-test

Unify flags and commands descriptions (#2354)
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/app/app.go
  internal/cmd/alpha/app/push.go
  internal/cmd/alpha/hana/hana.go
  internal/cmd/alpha/hana/map.go
  internal/cmd/alpha/module/add.go
  internal/cmd/alpha/module/catalog.go
  internal/cmd/alpha/module/delete.go
  internal/cmd/alpha/module/list.go
  internal/cmd/alpha/module/manage.go
  internal/cmd/alpha/module/module.go
  internal/cmd/alpha/module/unmanage.go
  internal/cmd/alpha/oidc/oidc.go
  internal/cmd/alpha/provision/provision.go
  internal/cmd/alpha/referenceinstance/referenceinstance.go
  internal/cmd/alpha/registry/config/config.go
  internal/cmd/alpha/registry/imageimport/imageimport.go
  internal/cmd/alpha/templates/create.go
  internal/cmd/alpha/templates/create_test.go
  internal/cmd/alpha/templates/delete.go
  internal/cmd/alpha/templates/delete_test.go
  internal/cmd/alpha/templates/get.go
  internal/cmd/alpha/templates/get_test.go
  internal/cmd/kyma.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/kubeconfig.go
Due: pull-cli-lint, pull-cli-integration-test

support cli release
  .goreleaser-dev.yml
  .goreleaser.yml
Due: none

Introduce the `.goreleaser.yml` file (#2358)
  .goreleaser-dev.yml
  .goreleaser.yml
Due: none

bump tcell
  go.mod
  go.sum
Due: pull-cli-integration-test

Fix building issue (#2359)
  go.mod
  go.sum
Due: pull-cli-integration-test

improve generated docs
  gen-docs/main.go
  internal/cmd/kyma.go
  internal/cmdcommon/extension.go
Due: pull-cli-lint, pull-cli-integration-test

implement completion
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

fix completion
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

Minor fixes for docs generator (#2360)
  gen-docs/main.go
  internal/cmd/kyma.go
  internal/cmdcommon/extension.go
Due: pull-cli-lint, pull-cli-integration-test

add installation script
  hack/install_cli_nightly.sh
Due: none

update installation instruction
  README.md
Due: none

format md
  README.md
Due: none

Improve installation instruction (#2357)
  README.md
  hack/install_cli_nightly.sh
Due: none

as in the title
  .github/workflows/pull.yaml
  go.mod
  go.sum
Due: pull-cli-integration-test

Add workflow that verifies possibility to build cli (#2365)
  .github/workflows/pull.yaml
  go.mod
  go.sum
Due: pull-cli-integration-test

run lints and units on every PR
  .github/workflows/lint-golangci.yml
  .github/workflows/unit-test.yaml
Due: none

Run lints and units on every PR (#2364)
  .github/workflows/lint-golangci.yml
  .github/workflows/unit-test.yaml
Due: none

apply suggestions from Grzesiek
  gen-docs/main.go
  internal/cmd/alpha/access/access.go
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/app/app.go
  internal/cmd/alpha/app/push.go
  internal/cmd/alpha/hana/hana.go
  internal/cmd/alpha/hana/map.go
  internal/cmd/alpha/module/add.go
  internal/cmd/alpha/module/catalog.go
  internal/cmd/alpha/module/delete.go
  internal/cmd/alpha/module/list.go
  internal/cmd/alpha/module/manage.go
  internal/cmd/alpha/module/module.go
  internal/cmd/alpha/module/unmanage.go
  internal/cmd/alpha/oidc/oidc.go
  internal/cmd/alpha/provision/provision.go
  internal/cmd/alpha/referenceinstance/referenceinstance.go
  internal/cmd/alpha/registry/config/config.go
  internal/cmd/alpha/registry/imageimport/imageimport.go
  internal/cmd/alpha/templates/create.go
  internal/cmd/alpha/templates/create_test.go
  internal/cmd/alpha/templates/delete.go
  internal/cmd/alpha/templates/delete_test.go
  internal/cmd/alpha/templates/explain.go
  internal/cmd/alpha/templates/explain_test.go
  internal/cmd/alpha/templates/get.go
  internal/cmd/alpha/templates/get_test.go
  internal/cmd/kyma.go
  internal/cmdcommon/extension.go
Due: pull-cli-lint, pull-cli-integration-test

apply suggestions
  internal/cmd/alpha/access/access.go
  internal/cmd/alpha/app/push.go
  internal/cmd/alpha/hana/map.go
  internal/cmd/alpha/module/add.go
  internal/cmd/alpha/provision/provision.go
  internal/cmdcommon/extension.go
Due: pull-cli-lint, pull-cli-integration-test

Improve docs generator (#2363)
  gen-docs/main.go
  internal/cmd/alpha/access/access.go
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/app/app.go
  internal/cmd/alpha/app/push.go
  internal/cmd/alpha/hana/hana.go
  internal/cmd/alpha/hana/map.go
  internal/cmd/alpha/module/add.go
  internal/cmd/alpha/module/catalog.go
  internal/cmd/alpha/module/delete.go
  internal/cmd/alpha/module/list.go
  internal/cmd/alpha/module/manage.go
  internal/cmd/alpha/module/module.go
  internal/cmd/alpha/module/unmanage.go
  internal/cmd/alpha/oidc/oidc.go
  internal/cmd/alpha/provision/provision.go
  internal/cmd/alpha/referenceinstance/referenceinstance.go
  internal/cmd/alpha/registry/config/config.go
  internal/cmd/alpha/registry/imageimport/imageimport.go
  internal/cmd/alpha/templates/create.go
  internal/cmd/alpha/templates/create_test.go
  internal/cmd/alpha/templates/delete.go
  internal/cmd/alpha/templates/delete_test.go
  internal/cmd/alpha/templates/explain.go
  internal/cmd/alpha/templates/explain_test.go
  internal/cmd/alpha/templates/get.go
  internal/cmd/alpha/templates/get_test.go
  internal/cmd/kyma.go
  internal/cmdcommon/extension.go
Due: pull-cli-lint, pull-cli-integration-test

sidebar generator
  docs/user/gen-docs/_sidebar.md
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

Sidebar generator (#2366)
  docs/user/gen-docs/_sidebar.md
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

gen docs
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_access.md
  docs/user/gen-docs/kyma_alpha_app.md
  docs/user/gen-docs/kyma_alpha_app_push.md
  docs/user/gen-docs/kyma_alpha_hana.md
  docs/user/gen-docs/kyma_alpha_hana_map.md
  docs/user/gen-docs/kyma_alpha_module.md
  docs/user/gen-docs/kyma_alpha_module_add.md
  docs/user/gen-docs/kyma_alpha_module_catalog.md
  docs/user/gen-docs/kyma_alpha_module_delete.md
  docs/user/gen-docs/kyma_alpha_module_list.md
  docs/user/gen-docs/kyma_alpha_module_manage.md
  docs/user/gen-docs/kyma_alpha_module_unmanage.md
  docs/user/gen-docs/kyma_alpha_oidc.md
  docs/user/gen-docs/kyma_alpha_provision.md
  docs/user/gen-docs/kyma_alpha_reference-instance.md
  docs/user/gen-docs/kyma_completion.md
  docs/user/gen-docs/kyma_completion_bash.md
  docs/user/gen-docs/kyma_completion_fish.md
  docs/user/gen-docs/kyma_completion_powershell.md
  docs/user/gen-docs/kyma_completion_zsh.md
Due: none

Generate docs (#2369)
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_access.md
  docs/user/gen-docs/kyma_alpha_app.md
  docs/user/gen-docs/kyma_alpha_app_push.md
  docs/user/gen-docs/kyma_alpha_hana.md
  docs/user/gen-docs/kyma_alpha_hana_map.md
  docs/user/gen-docs/kyma_alpha_module.md
  docs/user/gen-docs/kyma_alpha_module_add.md
  docs/user/gen-docs/kyma_alpha_module_catalog.md
  docs/user/gen-docs/kyma_alpha_module_delete.md
  docs/user/gen-docs/kyma_alpha_module_list.md
  docs/user/gen-docs/kyma_alpha_module_manage.md
  docs/user/gen-docs/kyma_alpha_module_unmanage.md
  docs/user/gen-docs/kyma_alpha_oidc.md
  docs/user/gen-docs/kyma_alpha_provision.md
  docs/user/gen-docs/kyma_alpha_reference-instance.md
  docs/user/gen-docs/kyma_completion.md
  docs/user/gen-docs/kyma_completion_bash.md
  docs/user/gen-docs/kyma_completion_fish.md
  docs/user/gen-docs/kyma_completion_powershell.md
  docs/user/gen-docs/kyma_completion_zsh.md
Due: none

fix flag type indent 2
  Makefile
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

add flag type
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

apply suggestions
  internal/cmd/alpha/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

fix flag type indent
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

cover default value with quots
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

generate flags manually
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

Generate flags manually (#2367)
  Makefile
  gen-docs/main.go
  internal/cmd/alpha/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

improve
  .goreleaser-dev.yml
  .goreleaser.yml
Due: none

make .goreleaser.yml more release oriented
  .goreleaser.yml
Due: none

Make the `.goreleaser.yml` more release oriented (#2368)
  .goreleaser-dev.yml
  .goreleaser.yml
Due: none

fix make_latest
  .goreleaser.yml
Due: none

Fix make_latest (#2373)
  .goreleaser.yml
Due: none

fix link
  hack/install_cli_nightly.sh
Due: none

Fix nightly build link (#2374)
  hack/install_cli_nightly.sh
Due: none

handle case when extensions are duplicated
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_test.go
  internal/cmdcommon/kymaconfig.go
Due: pull-cli-lint, pull-cli-integration-test

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)
