Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

pull-cli-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
        privileged: false
  ...

pull-cli-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-cli-checkconfig:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-checkconfig
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/k8s-prow/checkconfig:v20240408-838d843f
      securityContext:
  ...

pull-cli-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20240429-870ea518
      imagePullPolicy: Always
  ...

pull-cli-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20240906-871bfbc0
      imagePullPolicy: Always
  ...

pull-cli-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20240905-c1b27580
      imagePullPolicy: Always
  ...

change bookstrore app
  tests/btp/integration-test-btp.sh
  tests/btp/k8s-resources/db/books-hdi-initjob-template.yaml
  tests/btp/sample-http-db-nodejs/bookstore/package.json
  tests/btp/sample-http-db-nodejs/bookstore/src/app.js
  tests/btp/sample-http-db-nodejs/bookstore/src/hana.js
Due: none

up to building hdi-deploy image
  .gitignore
  tests/btp/integration-test-btp.sh
  tests/btp/k8s-resources/custom-docker-registry.yaml
  tests/btp/k8s-resources/db/books-hdi-config.yaml
  tests/btp/k8s-resources/db/books-hdi-initjob-template.yaml
  tests/btp/k8s-resources/db/hana-hdi-binding.yaml
  tests/btp/k8s-resources/db/hana-hdi-instance.yaml
  tests/btp/k8s-resources/db/kustomization.yaml
  tests/btp/sample-http-db-nodejs/bookstore/app.js
  tests/btp/sample-http-db-nodejs/bookstore/hana.js
  tests/btp/sample-http-db-nodejs/hdi-deploy/package.json
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/.hdiconfig
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/.hdinamespace
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/books.csv
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/books.hdbtable
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/books.hdbtabledata
Due: none

always make minimalistic release
  .goreleaser.yml
Due: none

Always make minimalistic release (#2395)
  .goreleaser.yml
Due: none

disable changelog generation
  .goreleaser.yml
Due: none

Disable changelog generation (#2396)
  .goreleaser.yml
Due: none

Implement the `kyma version` command (#2384)
  .goreleaser.yml
  Makefile
  internal/cmd/kyma.go
  internal/cmd/version/version.go
Due: pull-cli-lint, pull-cli-integration-test

Remove unnecessary config fields (#2394)
  .goreleaser.yml
Due: none

Run builds on pull for every arch and os (#2393)
  .github/workflows/pull.yaml
Due: none

Cherry pick 3.0 (#2399)
  .github/workflows/pull.yaml
  .goreleaser.yml
  Makefile
  internal/cmd/kyma.go
  internal/cmd/version/version.go
Due: pull-cli-lint, pull-cli-integration-test

Implement Acceptance e2e tests for BTP user journey
  .gitignore
  tests/btp/integration-test-btp.sh
  tests/btp/k8s-resources/exposed-docker-registry.yaml
  tests/btp/k8s-resources/object-store-binding.yaml
Due: none

add dockerfile
  .gitignore
  tests/btp/sample-http-db-nodejs/bookstore/Dockerfile
  tests/btp/sample-http-db-nodejs/bookstore/package.json
Due: pull-cli-integration-test

add todo
  tests/btp/integration-test-btp.sh
Due: none

refactor
  internal/cmd/alpha/kubeconfig/generate.go
Due: pull-cli-lint, pull-cli-integration-test

move access cmd under the kubeconfig generate
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/kubeconfig/generate.go
  internal/cmd/alpha/kubeconfig/kubeconfig.go
Due: pull-cli-lint, pull-cli-integration-test

remove access cmd
  internal/cmd/alpha/access/access.go
  internal/cmd/alpha/alpha.go
Due: pull-cli-lint, pull-cli-integration-test

docs
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_access.md
  docs/user/gen-docs/kyma_alpha_kubeconfig.md
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  docs/user/gen-docs/kyma_version.md
  internal/cmd/alpha/kubeconfig/generate.go
Due: pull-cli-lint, pull-cli-integration-test

fix e2e tests
  tests/btp/integration-test-btp.sh
Due: none

always return clierror
  main.go
Due: pull-cli-lint, pull-cli-integration-test

apply suggestions
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_kubeconfig.md
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  internal/cmd/alpha/kubeconfig/kubeconfig.go
Due: pull-cli-lint, pull-cli-integration-test

fix tests
  tests/k3d/integration-test-k3d.sh
Due: none

add todos
  tests/btp/integration-test-btp.sh
Due: none

fetch sm creds via tf
  .gitignore
  tests/btp/integration-test-btp.sh
  tests/btp/tf/main.tf
  tests/btp/tf/variables.tf
Due: none

Return clierror.Error on any error (#2403)
  main.go
Due: pull-cli-lint, pull-cli-integration-test

ensure hana-hdi entitlement via tf
  .gitignore
  tests/btp/integration-test-btp.sh
  tests/btp/k8s-resources/db/books-hdi-config.yaml
  tests/btp/k8s-resources/db/books-hdi-initjob-template.yaml
  tests/btp/k8s-resources/db/kustomization.yaml
  tests/btp/tf/main.tf
  tests/btp/tf/variables.tf
Due: none

verify bookstore app
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
Due: pull-cli-integration-test

run on workflow dispatch
  .github/actions/ensure-pack/action.yaml
  .github/workflows/integration-tests.yml
Due: none

envs
  .github/workflows/integration-tests.yml
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
Due: pull-cli-integration-test

Implement the `kubeconfig generate` command (#2402)
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_access.md
  docs/user/gen-docs/kyma_alpha_kubeconfig.md
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  docs/user/gen-docs/kyma_version.md
  internal/cmd/alpha/access/access.go
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/kubeconfig/generate.go
  internal/cmd/alpha/kubeconfig/kubeconfig.go
  tests/btp/integration-test-btp.sh
  tests/k3d/integration-test-k3d.sh
Due: pull-cli-lint, pull-cli-integration-test

build locally with version
  Makefile
Due: pull-cli-integration-test

Build locally with version (#2407)
  Makefile
Due: pull-cli-integration-test

move oidc flow
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  docs/user/gen-docs/kyma_alpha_oidc.md
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/kubeconfig/generate.go
  internal/cmd/alpha/oidc/oidc.go
  internal/cmd/alpha/oidc/oidc_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix envs
  .github/workflows/integration-tests.yml
Due: none

fix envs
  tests/btp/Makefile
Due: pull-cli-integration-test

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)
