Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

pull-cli-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
        privileged: false
  ...

pull-cli-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-cli-checkconfig:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-checkconfig
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/k8s-prow/checkconfig:v20240408-838d843f
      securityContext:
  ...

pull-cli-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20240429-870ea518
      imagePullPolicy: Always
  ...

pull-cli-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20240906-871bfbc0
      imagePullPolicy: Always
  ...

pull-cli-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20240905-c1b27580
      imagePullPolicy: Always
  ...

remove unnecessary file that was omitted earlier
  module-test.yaml
Due: none

Rework kyma module catalog (#2631)
  internal/modules/fake/moduletemplates.go
  internal/modules/list.go
  internal/modules/list_test.go
  internal/modules/render.go
  internal/modules/render_test.go
  internal/modules/repo/moduletemplates.go
  internal/modules/repo/moduletemplates_test.go
Due: pull-cli-lint, pull-cli-integration-test

Updated module add command to handle new module origin
  internal/cmd/module/add.go
  internal/modules/install.go
  internal/modules/install_test.go
Due: pull-cli-lint, pull-cli-integration-test

Adjusted displayed table in the module catalog cmd
  internal/cmd/module/add.go
  internal/modules/list.go
  internal/modules/render.go
  internal/modules/repo/moduletemplates_test.go
Due: pull-cli-lint, pull-cli-integration-test

Updated module add command to handle module origin (#2633)
  internal/cmd/module/add.go
  internal/modules/install.go
  internal/modules/install_test.go
  internal/modules/list.go
  internal/modules/render.go
  internal/modules/repo/moduletemplates_test.go
Due: pull-cli-lint, pull-cli-integration-test

Add shorthand -n for --namespace flag
  internal/cmd/alpha/kubeconfig/generate.go
  internal/cmd/alpha/referenceinstance/referenceinstance.go
  internal/cmd/app/push.go
Due: pull-cli-lint, pull-cli-integration-test

Code review suggestions
  docs/user/gen-docs/kyma_alpha_diagnose.md
  internal/cmd/alpha/diagnose/diagnose.go
Due: pull-cli-lint, pull-cli-integration-test

regenerated docs
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_diagnose.md
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  docs/user/gen-docs/kyma_alpha_reference-instance.md
  docs/user/gen-docs/kyma_app_push.md
Due: none

Added command for pulling community modules
  internal/cmd/module/module.go
  internal/cmd/module/pull.go
  internal/modules/fake/moduletemplates.go
  internal/modules/pull.go
  internal/modules/pull_test.go
  internal/modules/repo/moduletemplates.go
Due: pull-cli-lint, pull-cli-integration-test

Add shorthand -n for --namespace flag (#2623)
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_diagnose.md
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  docs/user/gen-docs/kyma_alpha_reference-instance.md
  docs/user/gen-docs/kyma_app_push.md
  internal/cmd/alpha/diagnose/diagnose.go
  internal/cmd/alpha/kubeconfig/generate.go
  internal/cmd/alpha/referenceinstance/referenceinstance.go
  internal/cmd/app/push.go
Due: pull-cli-lint, pull-cli-integration-test

Enable machine-friendly execution of app push command
  docs/user/gen-docs/kyma_app_push.md
  internal/cmd/app/push.go
Due: pull-cli-lint, pull-cli-integration-test

Apply suggestions from code review
  docs/user/gen-docs/kyma_app_push.md
Due: none

code review
  docs/user/gen-docs/kyma_app_push.md
  internal/cmd/app/push.go
Due: pull-cli-lint, pull-cli-integration-test

Enable machine-friendly execution of app push command (#2636)
  docs/user/gen-docs/kyma_app_push.md
  internal/cmd/app/push.go
Due: pull-cli-lint, pull-cli-integration-test

draft
  internal/cmd/app/push.go
  internal/cmdcommon/env/configmap.go
  internal/cmdcommon/env/file.go
  internal/cmdcommon/env/secret.go
  internal/cmdcommon/types/sourced/env.go
  internal/cmdcommon/types/sourcedenv.go
  internal/kube/resources/deployment.go
Due: pull-cli-lint, pull-cli-integration-test

add tests
  go.mod
  go.sum
  internal/cmdcommon/env/configmap.go
  internal/cmdcommon/env/configmap_test.go
  internal/cmdcommon/env/file.go
  internal/cmdcommon/env/file_test.go
  internal/cmdcommon/env/secret.go
  internal/cmdcommon/env/secret_test.go
  internal/cmdcommon/types/sourced/env.go
  internal/cmdcommon/types/sourced/env_test.go
  internal/cmdcommon/types/sourcedenv.go
  internal/kube/resources/deployment_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix
  internal/cmdcommon/types/sourced/env.go
Due: pull-cli-lint, pull-cli-integration-test

Extend diagnose command
  internal/diagnostics/metadata.go
  internal/diagnostics/metadata_test.go
  internal/diagnostics/noderesourceinfo.go
  internal/diagnostics/noderesourceinfo_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix test
  internal/cmdcommon/env/file_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix message
  internal/cmdcommon/env/secret.go
  internal/cmdcommon/env/secret_test.go
Due: pull-cli-lint, pull-cli-integration-test

Support custom envs for the `app push` command (#2635)
  go.mod
  go.sum
  internal/cmd/app/push.go
  internal/cmdcommon/env/configmap.go
  internal/cmdcommon/env/configmap_test.go
  internal/cmdcommon/env/file.go
  internal/cmdcommon/env/file_test.go
  internal/cmdcommon/env/secret.go
  internal/cmdcommon/env/secret_test.go
  internal/cmdcommon/types/sourced/env.go
  internal/cmdcommon/types/sourced/env_test.go
  internal/cmdcommon/types/sourcedenv.go
  internal/kube/resources/deployment.go
  internal/kube/resources/deployment_test.go
Due: pull-cli-lint, pull-cli-integration-test

Added command for pulling community modules (#2634)
  internal/cmd/module/module.go
  internal/cmd/module/pull.go
  internal/modules/fake/moduletemplates.go
  internal/modules/pull.go
  internal/modules/pull_test.go
  internal/modules/repo/moduletemplates.go
Due: pull-cli-lint, pull-cli-integration-test

improve docs
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  docs/user/gen-docs/kyma_app_push.md
  docs/user/gen-docs/kyma_module_add.md
  internal/cmd/alpha/kubeconfig/generate.go
  internal/cmd/app/push.go
  internal/cmd/module/add.go
Due: pull-cli-lint, pull-cli-integration-test

update docs
  docs/user/gen-docs/kyma_app_push.md
  docs/user/gen-docs/kyma_module_add.md
Due: none

Apply suggestions from code review
  docs/user/gen-docs/kyma_app_push.md
  internal/cmd/app/push.go
Due: pull-cli-lint, pull-cli-integration-test

Document `--env*` flags for the `app push` command (#2638)
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  docs/user/gen-docs/kyma_app_push.md
  docs/user/gen-docs/kyma_module_add.md
  internal/cmd/alpha/kubeconfig/generate.go
  internal/cmd/app/push.go
  internal/cmd/module/add.go
Due: pull-cli-lint, pull-cli-integration-test

minor fixes
  internal/cmd/app/push.go
  internal/cmdcommon/envs/configmap.go
  internal/cmdcommon/envs/configmap_test.go
  internal/cmdcommon/envs/env.go
  internal/cmdcommon/envs/file.go
  internal/cmdcommon/envs/file_test.go
  internal/cmdcommon/envs/secret.go
  internal/cmdcommon/envs/secret_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix no opt value
  internal/cmd/app/push.go
Due: pull-cli-lint, pull-cli-integration-test

The `app push` minor fixes (#2640)
  internal/cmd/app/push.go
  internal/cmdcommon/envs/configmap.go
  internal/cmdcommon/envs/configmap_test.go
  internal/cmdcommon/envs/env.go
  internal/cmdcommon/envs/file.go
  internal/cmdcommon/envs/file_test.go
  internal/cmdcommon/envs/secret.go
  internal/cmdcommon/envs/secret_test.go
Due: pull-cli-lint, pull-cli-integration-test

minor fixes
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/kyma_app_push.md
  docs/user/gen-docs/kyma_module.md
  docs/user/gen-docs/kyma_module_pull.md
  internal/cmd/app/push.go
  internal/cmdcommon/envs/env.go
  internal/cmdcommon/types/env.go
  internal/cmdcommon/types/env_test.go
  internal/cmdcommon/types/sourced/env.go
Due: pull-cli-lint, pull-cli-integration-test

revert main docs
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/kyma_module.md
  docs/user/gen-docs/kyma_module_pull.md
Due: none

strict env format (#2641)
  docs/user/gen-docs/kyma_app_push.md
  internal/cmd/app/push.go
  internal/cmdcommon/envs/env.go
  internal/cmdcommon/types/env.go
  internal/cmdcommon/types/env_test.go
  internal/cmdcommon/types/sourced/env.go
Due: pull-cli-lint, pull-cli-integration-test

Extend diagnose command (#2637)
  internal/diagnostics/metadata.go
  internal/diagnostics/metadata_test.go
  internal/diagnostics/noderesourceinfo.go
  internal/diagnostics/noderesourceinfo_test.go
Due: pull-cli-lint, pull-cli-integration-test

document envs
  docs/user/tutorials/01-20-app-push-command-usage.md
Due: none

improve
  docs/user/tutorials/01-20-app-push-command-usage.md
Due: none

Update docs/user/tutorials/01-20-app-push-command-usage.md
  docs/user/tutorials/01-20-app-push-command-usage.md
Due: none

Document more app push possibilities (#2645)
  docs/user/tutorials/01-20-app-push-command-usage.md
Due: none

Added required version flag to module pull command
  internal/cmd/module/pull.go
Due: pull-cli-lint, pull-cli-integration-test

Build cli with FIPS enabled
  .github/workflows/pull.yaml
  .goreleaser.yml
  Makefile
Due: pull-cli-integration-test

Build cli with FIPS enabled (#2648)
  .github/workflows/pull.yaml
  .goreleaser.yml
  Makefile
Due: pull-cli-integration-test

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)
