Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

pull-cli-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
        privileged: false
  ...

pull-cli-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-cli-checkconfig:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-checkconfig
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/k8s-prow/checkconfig:v20240408-838d843f
      securityContext:
  ...

pull-cli-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20240429-870ea518
      imagePullPolicy: Always
  ...

pull-cli-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20240906-871bfbc0
      imagePullPolicy: Always
  ...

pull-cli-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20240905-c1b27580
      imagePullPolicy: Always
  ...

Move the `format.go` file (#2669)
  internal/cmd/alpha/authorize/authorize.go
  internal/cmd/alpha/diagnose/diagnose.go
  internal/cmd/module/catalog.go
  internal/cmd/module/list.go
  internal/cmdcommon/types/format.go
  internal/extensions/actions/resource_create.go
  internal/extensions/actions/resource_get.go
  internal/kube/client.go
  internal/modules/render.go
Due: pull-cli-lint, pull-cli-integration-test

Use SERVICE_BINDING_ROOT env only on proper flag call (#2668)
  internal/cmdcommon/types/mount_test.go
  internal/kube/resources/deployment.go
  internal/kube/resources/deployment_test.go
Due: pull-cli-lint, pull-cli-integration-test

implement out pakcage
  gen-docs/main.go
  internal/out/out.go
Due: pull-cli-lint, pull-cli-integration-test

fix msg
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

Implement standard output package (#2671)
  gen-docs/main.go
  internal/out/out.go
Due: pull-cli-lint, pull-cli-integration-test

fix: module list for community modules with multiple CRs
  internal/modules/list.go
Due: pull-cli-lint, pull-cli-integration-test

fix: module list for community modules with multiple CRs (#2673)
  internal/modules/list.go
Due: pull-cli-lint, pull-cli-integration-test

migrate extensions; add --debug flag
  internal/cmd/kyma.go
  internal/cmdcommon/debug.go
  internal/extensions/actions/call_files_to_save.go
  internal/extensions/actions/function_init.go
  internal/extensions/actions/registry_config.go
  internal/extensions/actions/registry_image-import.go
  internal/extensions/actions/resource_create.go
  internal/extensions/actions/resource_delete.go
  internal/extensions/actions/resource_explain.go
  internal/extensions/actions/resource_get.go
  internal/extensions/extensions.go
  internal/extensions/extensions_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix debug
  internal/cmdcommon/debug.go
Due: pull-cli-lint, pull-cli-integration-test

Improved rbac validations for repository authorization
  internal/authorization/apply.go
  internal/authorization/apply_test.go
  internal/authorization/rbacbuilder.go
Due: pull-cli-lint, pull-cli-integration-test

Standarize extensions output (#2672)
  internal/cmd/kyma.go
  internal/cmdcommon/debug.go
  internal/extensions/actions/call_files_to_save.go
  internal/extensions/actions/function_init.go
  internal/extensions/actions/registry_config.go
  internal/extensions/actions/registry_image-import.go
  internal/extensions/actions/resource_create.go
  internal/extensions/actions/resource_delete.go
  internal/extensions/actions/resource_explain.go
  internal/extensions/actions/resource_get.go
  internal/extensions/extensions.go
  internal/extensions/extensions_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix tests
  internal/modules/disable.go
  internal/modules/render.go
Due: pull-cli-lint, pull-cli-integration-test

Return latest community module when flag --version is not specified
  internal/modules/repo/moduletemplates.go
  internal/modules/repo/moduletemplates_test.go
Due: pull-cli-lint, pull-cli-integration-test

Add info about -v that it is optional
  internal/cmd/module/pull.go
Due: pull-cli-lint, pull-cli-integration-test

Return latest community module when flag --version is not specified (#2677)
  internal/cmd/module/pull.go
  internal/modules/repo/moduletemplates.go
  internal/modules/repo/moduletemplates_test.go
Due: pull-cli-lint, pull-cli-integration-test

stop using the os.Stdout
  internal/dockerfile/build.go
  internal/out/out.go
  internal/pack/build.go
Due: pull-cli-lint, pull-cli-integration-test

Stop using the `os.Stdout` and the `os.Stderr` (#2678)
  internal/dockerfile/build.go
  internal/out/out.go
  internal/pack/build.go
Due: pull-cli-lint, pull-cli-integration-test

stop generating hidden flags
  docs/user/gen-docs/kyma_module_pull.md
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

Remove from v from testFindLatestVersion
  internal/modules/repo/moduletemplates_test.go
Due: pull-cli-lint, pull-cli-integration-test

Added OIDC prefixes for RBAC builder
  internal/authorization/oidcbuilder.go
  internal/authorization/rbacbuilder.go
  internal/authorization/rbacbuilder_test.go
  internal/cmd/alpha/authorize/authorize.go
Due: pull-cli-lint, pull-cli-integration-test

Stop generating hidden flags (#2679)
  docs/user/gen-docs/kyma_module_pull.md
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

Use semver lib
  internal/modules/repo/moduletemplates.go
Due: pull-cli-lint, pull-cli-integration-test

Improved RBAC validations for repository authorization (#2676)
  internal/authorization/apply.go
  internal/authorization/apply_test.go
  internal/authorization/oidcbuilder.go
  internal/authorization/rbacbuilder.go
  internal/authorization/rbacbuilder_test.go
  internal/cmd/alpha/authorize/authorize.go
Due: pull-cli-lint, pull-cli-integration-test

add action
  .github/actions/pr-comment-violated-standards/action.yaml
  .github/actions/pr-comment-violated-standards/comment.md
  hack/verify.sh
Due: none

Update .github/actions/standards-violation-info/message.md
  .github/actions/standards-violation-info/message.md
Due: none

verify docs and code std out usage
  .github/workflows/pull.yaml
  Makefile
  hack/verify.sh
Due: pull-cli-integration-test

move action
  .github/actions/standards-violation-info/action.yaml
  .github/actions/standards-violation-info/message.md
  .github/workflows/pull.yaml
  .github/workflows/verify.yml
  Makefile
Due: pull-cli-integration-test

use action
  .github/actions/pr-comment-violated-standards/action.yaml
  .github/workflows/pull.yaml
Due: none

Verify docs and code (#2680)
  .github/actions/standards-violation-info/action.yaml
  .github/actions/standards-violation-info/message.md
  .github/workflows/verify.yml
  Makefile
  hack/verify.sh
Due: pull-cli-integration-test

go mod tidy
  go.mod
Due: pull-cli-integration-test

Rename vars
  internal/modules/repo/moduletemplates.go
Due: pull-cli-lint, pull-cli-integration-test

Use semver lib to find latest release version (#2681)
  go.mod
  internal/modules/repo/moduletemplates.go
  internal/modules/repo/moduletemplates_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix checkout
  .github/workflows/verify.yml
Due: none

Fix verify checkout (#2683)
  .github/workflows/verify.yml
Due: none

fix
  .github/workflows/verify.yml
Due: none

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)
