Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

pull-cli-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
        privileged: false
  ...

pull-cli-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-cli-checkconfig:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-checkconfig
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20230725-371721ec95
      securityContext:
        privileged: false
        seccompProfile:
  ...

pull-cli-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20230607-587d3f6a
      imagePullPolicy: Always
  ...

pull-cli-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/prow-tools:v20230328-ea7e207a
  ...

pull-cli-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230414-8e724501
      imagePullPolicy: Always
  ...

fix: Lint Issue
  cmd/kyma/alpha/create/module/module.go
  pkg/module/temp_files.go
  pkg/module/temp_files_test.go
Due: pull-cli-lint, pull-cli-integration-test

Review fix
  pkg/module/scaffold/scaffold.go
  pkg/module/scaffold/utils.go
Due: pull-cli-lint, pull-cli-integration-test

Review fix
  pkg/module/scaffold/utils_test.go
Due: pull-cli-lint, pull-cli-integration-test

necessary fixes
  pkg/module/resources.go
Due: pull-cli-lint, pull-cli-integration-test

Add mandatory documentation (#1904)
  cmd/kyma/alpha/create/module/module.go
  docs/gen-docs/kyma_alpha_create_module.md
Due: pull-cli-lint, pull-cli-integration-test

Remove module Validation
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module_test.go
  internal/cli/setup/envtest/setup.go
  internal/envtest/envtest.go
  pkg/module/crd_extractor.go
  pkg/module/def.go
  pkg/module/validation.go
  pkg/module/validation_test.go
Due: pull-cli-lint, pull-cli-integration-test

Fix
  cmd/kyma/alpha/create/module/module.go
  pkg/module/crd_reader.go
  pkg/module/def.go
Due: pull-cli-lint, pull-cli-integration-test

fix: Data Race in test
  pkg/module/temp_files_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix: Data Race in Test
  pkg/module/temp_files.go
  pkg/module/temp_files_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix: Parallel Testing
  pkg/module/temp_files_test.go
Due: pull-cli-lint, pull-cli-integration-test

chore: Remove Module Validation from create module command (#1909)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module_test.go
  internal/cli/setup/envtest/setup.go
  internal/envtest/envtest.go
  pkg/module/crd_reader.go
  pkg/module/def.go
  pkg/module/validation.go
  pkg/module/validation_test.go
Due: pull-cli-lint, pull-cli-integration-test

Add pull-cli-docs
  .github/workflows/pull-cli-docs.yaml
Due: none

Add pull-cli-unit-test
  .github/workflows/pull-cli-unit-test.yaml
  prow/pre-cli-e2e.sh
Due: none

Add pull-cli-build
  .github/workflows/pull-cli-build.yaml
Due: none

feat: Add Scaffold Command (#1859)
  .github/workflows/test-e2e-create-scaffold.yml
  cmd/kyma/alpha/create/create.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/scaffold/opts.go
  cmd/kyma/alpha/create/scaffold/scaffold.go
  docs/gen-docs/kyma_alpha_create.md
  docs/gen-docs/kyma_alpha_create_scaffold.md
  pkg/module/scaffold/default_cr.go
  pkg/module/scaffold/manifest.go
  pkg/module/scaffold/module_config.go
  pkg/module/scaffold/scaffold.go
  pkg/module/scaffold/security_config.go
  pkg/module/scaffold/utils.go
  pkg/module/scaffold/utils_test.go
  pkg/module/security_scan.go
  tests/e2e/Makefile
  tests/e2e/create_scaffold/scaffold_suite_test.go
  tests/e2e/create_scaffold/scaffold_test.go
Due: pull-cli-lint, pull-cli-integration-test

new lines
  .github/workflows/pull-cli-build.yaml
  .github/workflows/pull-cli-docs.yaml
  .github/workflows/pull-cli-unit-test.yaml
Due: none

chore: Cleanup pre prow jobs (#1912)
  .github/workflows/pull-cli-build.yaml
  .github/workflows/pull-cli-docs.yaml
  .github/workflows/pull-cli-unit-test.yaml
  prow/pre-cli-e2e.sh
Due: none

Set 1.27.9 as default K8s Version
  cmd/kyma/provision/cmd.go
Due: pull-cli-lint, pull-cli-integration-test

Adapt docs
  cmd/kyma/provision/gardener/aws/cmd.go
  cmd/kyma/provision/gardener/gcp/cmd.go
  docs/gen-docs/kyma_provision_gardener_aws.md
  docs/gen-docs/kyma_provision_gardener_az.md
  docs/gen-docs/kyma_provision_gardener_gcp.md
  docs/gen-docs/kyma_provision_k3d.md
Due: pull-cli-lint, pull-cli-integration-test

feat: Set 1.27.9 as default K8s Version (#1913)
  cmd/kyma/provision/cmd.go
  cmd/kyma/provision/gardener/aws/cmd.go
  cmd/kyma/provision/gardener/gcp/cmd.go
  docs/gen-docs/kyma_provision_gardener_aws.md
  docs/gen-docs/kyma_provision_gardener_az.md
  docs/gen-docs/kyma_provision_gardener_gcp.md
  docs/gen-docs/kyma_provision_k3d.md
Due: pull-cli-lint, pull-cli-integration-test

fix: PR Comments
  cmd/kyma/alpha/create/module/module.go
  pkg/module/temp_files.go
  pkg/module/tmp_files.go
  pkg/module/tmp_files_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix: HTTP mock in unit test
  pkg/module/tmp_files_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix: Lint Issue
  pkg/module/tmp_files_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix: Lint Issue
  go.mod
  go.sum
  pkg/module/tmp_files_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix: Fix Unrelated Unit Test
  internal/net/net_test.go
Due: pull-cli-lint, pull-cli-integration-test

feat: Refactor Enable And Disable Module Commands
  cmd/kyma/alpha/add/add.go
  cmd/kyma/alpha/add/module/mock/mock_interactor.go
  cmd/kyma/alpha/add/module/module.go
  cmd/kyma/alpha/add/module/module_test.go
  cmd/kyma/alpha/add/module/opts.go
  cmd/kyma/alpha/add/module/opts_test.go
  cmd/kyma/alpha/alpha.go
  cmd/kyma/alpha/delete/delete.go
  cmd/kyma/alpha/delete/module/module.go
  cmd/kyma/alpha/delete/module/module_test.go
  cmd/kyma/alpha/delete/module/opts.go
  docs/gen-docs/kyma_alpha.md
  docs/gen-docs/kyma_alpha_add.md
  docs/gen-docs/kyma_alpha_add_module.md
  docs/gen-docs/kyma_alpha_delete.md
  docs/gen-docs/kyma_alpha_delete_module.md
Due: pull-cli-lint, pull-cli-integration-test

feat: Update docs
  docs/gen-docs/kyma_alpha_add.md
  docs/gen-docs/kyma_alpha_add_module.md
  docs/gen-docs/kyma_alpha_delete.md
  docs/gen-docs/kyma_alpha_delete_module.md
Due: none

fix: Unrelated Unit Test
  internal/net/net_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix broken test
  internal/net/net_test.go
Due: pull-cli-lint, pull-cli-integration-test

feat: Add Support for Remote URLs in Module Config (#1906)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/opts.go
  internal/net/net_test.go
  pkg/module/tmp_files.go
  pkg/module/tmp_files_test.go
Due: pull-cli-lint, pull-cli-integration-test

Apply suggestions from code review
  cmd/kyma/alpha/add/module/module.go
  cmd/kyma/alpha/delete/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

docs: Update
  docs/gen-docs/kyma_alpha_add.md
  docs/gen-docs/kyma_alpha_add_module.md
  docs/gen-docs/kyma_alpha_delete.md
  docs/gen-docs/kyma_alpha_delete_module.md
Due: none

Upgrade k8s to 1.29.1
  go.mod
  go.sum
Due: pull-cli-integration-test

Change to relative paths in generated scaffold module config
  cmd/kyma/alpha/create/scaffold/opts.go
  cmd/kyma/alpha/create/scaffold/scaffold.go
  pkg/module/scaffold/default_cr.go
  pkg/module/scaffold/manifest.go
  pkg/module/scaffold/module_config.go
  pkg/module/scaffold/scaffold.go
  pkg/module/scaffold/security_config.go
Due: pull-cli-lint, pull-cli-integration-test

Change to relative paths in generated scaffold module config (#1922)
  cmd/kyma/alpha/create/scaffold/opts.go
  cmd/kyma/alpha/create/scaffold/scaffold.go
  pkg/module/scaffold/default_cr.go
  pkg/module/scaffold/manifest.go
  pkg/module/scaffold/module_config.go
  pkg/module/scaffold/scaffold.go
  pkg/module/scaffold/security_config.go
Due: pull-cli-lint, pull-cli-integration-test

fix build
  go.sum
Due: pull-cli-integration-test

deps: Upgrade k8s to 1.29.1 (#1920)
  go.mod
  go.sum
Due: pull-cli-integration-test

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)
