Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

pull-cli-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
        privileged: false
  ...

pull-cli-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-cli-checkconfig:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-checkconfig
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/k8s-prow/checkconfig:v20240408-838d843f
      securityContext:
  ...

pull-cli-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20240429-870ea518
      imagePullPolicy: Always
  ...

pull-cli-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20240906-871bfbc0
      imagePullPolicy: Always
  ...

pull-cli-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20240905-c1b27580
      imagePullPolicy: Always
  ...

pack bookstore
  tests/btp/integration-test-btp.sh
  tests/btp/sample-http-db-nodejs/bookstore/Dockerfile
  tests/btp/sample-http-db-nodejs/bookstore/Dockerfile-xyz
Due: pull-cli-integration-test

gh sha
  .github/workflows/integration-tests.yml
Due: none

OIDC for the `kubeconfig generate` command (#2405)
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  docs/user/gen-docs/kyma_alpha_oidc.md
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/kubeconfig/generate.go
  internal/cmd/alpha/oidc/oidc.go
  internal/cmd/alpha/oidc/oidc_test.go
Due: pull-cli-lint, pull-cli-integration-test

implement idea
  internal/cmd/alpha/app/push.go
  internal/cmd/alpha/hana/map.go
  internal/cmd/alpha/kubeconfig/generate.go
  internal/cmd/alpha/module/add.go
  internal/cmd/alpha/module/manage.go
  internal/cmd/alpha/provision/provision.go
  internal/cmd/alpha/referenceinstance/referenceinstance.go
  internal/cmd/alpha/templates/create.go
  internal/cmd/alpha/templates/get.go
  internal/cmdcommon/flags/validate.go
  internal/cmdcommon/flags/validate_test.go
Due: pull-cli-lint, pull-cli-integration-test

Implement flags validation (#2406)
  internal/cmd/alpha/app/push.go
  internal/cmd/alpha/hana/map.go
  internal/cmd/alpha/kubeconfig/generate.go
  internal/cmd/alpha/module/add.go
  internal/cmd/alpha/module/manage.go
  internal/cmd/alpha/provision/provision.go
  internal/cmd/alpha/referenceinstance/referenceinstance.go
  internal/cmd/alpha/templates/create.go
  internal/cmd/alpha/templates/get.go
  internal/cmdcommon/flags/validate.go
  internal/cmdcommon/flags/validate_test.go
Due: pull-cli-lint, pull-cli-integration-test

rename func
  internal/cmd/kyma.go
  internal/cmdcommon/extension.go
Due: pull-cli-lint, pull-cli-integration-test

fix typo
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_app.md
  docs/user/gen-docs/kyma_alpha_app_push.md
  docs/user/gen-docs/kyma_alpha_hana.md
  docs/user/gen-docs/kyma_alpha_hana_map.md
  docs/user/gen-docs/kyma_alpha_kubeconfig.md
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  docs/user/gen-docs/kyma_alpha_module.md
  docs/user/gen-docs/kyma_alpha_module_add.md
  docs/user/gen-docs/kyma_alpha_module_catalog.md
  docs/user/gen-docs/kyma_alpha_module_delete.md
  docs/user/gen-docs/kyma_alpha_module_list.md
  docs/user/gen-docs/kyma_alpha_module_manage.md
  docs/user/gen-docs/kyma_alpha_module_unmanage.md
  docs/user/gen-docs/kyma_alpha_provision.md
  docs/user/gen-docs/kyma_alpha_reference-instance.md
  docs/user/gen-docs/kyma_completion.md
  docs/user/gen-docs/kyma_completion_bash.md
  docs/user/gen-docs/kyma_completion_fish.md
  docs/user/gen-docs/kyma_completion_powershell.md
  docs/user/gen-docs/kyma_completion_zsh.md
  docs/user/gen-docs/kyma_help.md
  docs/user/gen-docs/kyma_version.md
  internal/cmdcommon/extension.go
Due: pull-cli-lint, pull-cli-integration-test

Update internal/cmdcommon/extension.go
  internal/cmdcommon/extension.go
Due: pull-cli-lint, pull-cli-integration-test

skip extensions
  Makefile
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_app.md
  docs/user/gen-docs/kyma_alpha_app_push.md
  docs/user/gen-docs/kyma_alpha_hana.md
  docs/user/gen-docs/kyma_alpha_hana_map.md
  docs/user/gen-docs/kyma_alpha_kubeconfig.md
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  docs/user/gen-docs/kyma_alpha_module.md
  docs/user/gen-docs/kyma_alpha_module_add.md
  docs/user/gen-docs/kyma_alpha_module_catalog.md
  docs/user/gen-docs/kyma_alpha_module_delete.md
  docs/user/gen-docs/kyma_alpha_module_list.md
  docs/user/gen-docs/kyma_alpha_module_manage.md
  docs/user/gen-docs/kyma_alpha_module_unmanage.md
  docs/user/gen-docs/kyma_alpha_provision.md
  docs/user/gen-docs/kyma_alpha_reference-instance.md
  docs/user/gen-docs/kyma_completion.md
  docs/user/gen-docs/kyma_completion_bash.md
  docs/user/gen-docs/kyma_completion_fish.md
  docs/user/gen-docs/kyma_completion_powershell.md
  docs/user/gen-docs/kyma_completion_zsh.md
  docs/user/gen-docs/kyma_help.md
  docs/user/gen-docs/kyma_version.md
  internal/cmdcommon/extension.go
Due: pull-cli-lint, pull-cli-integration-test

Add possibility to skip extensions fetching (#2409)
  Makefile
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_alpha_app.md
  docs/user/gen-docs/kyma_alpha_app_push.md
  docs/user/gen-docs/kyma_alpha_hana.md
  docs/user/gen-docs/kyma_alpha_hana_map.md
  docs/user/gen-docs/kyma_alpha_kubeconfig.md
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  docs/user/gen-docs/kyma_alpha_module.md
  docs/user/gen-docs/kyma_alpha_module_add.md
  docs/user/gen-docs/kyma_alpha_module_catalog.md
  docs/user/gen-docs/kyma_alpha_module_delete.md
  docs/user/gen-docs/kyma_alpha_module_list.md
  docs/user/gen-docs/kyma_alpha_module_manage.md
  docs/user/gen-docs/kyma_alpha_module_unmanage.md
  docs/user/gen-docs/kyma_alpha_provision.md
  docs/user/gen-docs/kyma_alpha_reference-instance.md
  docs/user/gen-docs/kyma_completion.md
  docs/user/gen-docs/kyma_completion_bash.md
  docs/user/gen-docs/kyma_completion_fish.md
  docs/user/gen-docs/kyma_completion_powershell.md
  docs/user/gen-docs/kyma_completion_zsh.md
  docs/user/gen-docs/kyma_help.md
  docs/user/gen-docs/kyma_version.md
  internal/cmd/kyma.go
  internal/cmdcommon/extension.go
Due: pull-cli-lint, pull-cli-integration-test

split code into smaller packages; add tests from the previously removed OIDC package
  internal/cmd/alpha/kubeconfig/generate.go
  internal/github/token.go
  internal/github/token_test.go
  internal/kubeconfig/cis.go
  internal/kubeconfig/kubeconfig.go
  internal/kubeconfig/kubeconfig_test.go
Due: pull-cli-lint, pull-cli-integration-test

push app from image
  .github/workflows/integration-tests.yml
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
  tests/btp/kyma-cleanup.sh
Due: pull-cli-integration-test

wait for apirule
  tests/btp/integration-test-btp.sh
Due: none

run on release branch
  .github/workflows/btp-integration-tests.yml
  .github/workflows/pull.yaml
Due: none

unify with local execution from .tfvars
  .github/workflows/btp-integration-tests.yml
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
  tests/btp/sample-http-db-nodejs/bookstore/Dockerfile-xyz
Due: pull-cli-integration-test

sleep to wait for dr config
  tests/btp/integration-test-btp.sh
Due: none

implement
  docs/user/gen-docs/kyma_alpha_app_push.md
  internal/cmd/alpha/app/push.go
Due: pull-cli-lint, pull-cli-integration-test

Add `--image-pull-secret` for the `app push` command (#2413)
  docs/user/gen-docs/kyma_alpha_app_push.md
  internal/cmd/alpha/app/push.go
Due: pull-cli-lint, pull-cli-integration-test

Refactor the `kubeconfig generate` package (#2408)
  internal/cmd/alpha/kubeconfig/generate.go
  internal/github/token.go
  internal/github/token_test.go
  internal/kubeconfig/cis.go
  internal/kubeconfig/kubeconfig.go
  internal/kubeconfig/kubeconfig_test.go
Due: pull-cli-lint, pull-cli-integration-test

get rid of the @v3 suffix
  .github/workflows/pull.yaml
  Makefile
  README.md
  docs/user/README.md
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  docs/user/tutorials/01-10-add-delete-modules.md
  docs/user/tutorials/01-11-manage-unmanage-modules.md
  docs/user/tutorials/01-20-app-push-command-usage.md
  hack/install_cli_latest.sh
  hack/install_cli_nightly.sh
  internal/cmd/alpha/kubeconfig/generate.go
  tests/btp/integration-test-btp.sh
  tests/k3d/integration-test-k3d.sh
Due: pull-cli-lint, pull-cli-integration-test

Get rid of the `@v3` suffix (#2412)
  .github/workflows/pull.yaml
  Makefile
  README.md
  docs/user/README.md
  docs/user/gen-docs/kyma_alpha_kubeconfig_generate.md
  docs/user/tutorials/01-10-add-delete-modules.md
  docs/user/tutorials/01-11-manage-unmanage-modules.md
  docs/user/tutorials/01-20-app-push-command-usage.md
  hack/install_cli_latest.sh
  hack/install_cli_nightly.sh
  internal/cmd/alpha/kubeconfig/generate.go
  tests/btp/integration-test-btp.sh
  tests/k3d/integration-test-k3d.sh
Due: pull-cli-lint, pull-cli-integration-test

update description
  docs/user/gen-docs/kyma_alpha_app_push.md
  internal/cmd/alpha/app/push.go
Due: pull-cli-lint, pull-cli-integration-test

Improve the `--image-pull-secret` description (#2416)
  docs/user/gen-docs/kyma_alpha_app_push.md
  internal/cmd/alpha/app/push.go
Due: pull-cli-lint, pull-cli-integration-test

update codeowners
  CODEOWNERS
Due: none

handle extensions duplicates with base commands
  internal/cmd/alpha/alpha.go
  internal/cmd/kyma.go
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_test.go
  internal/cmdcommon/kymaconfig.go
Due: pull-cli-lint, pull-cli-integration-test

fix styling, add missing test case
  internal/cmdcommon/extension.go
  internal/cmdcommon/extension_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix after-conflict issues
  internal/cmd/alpha/alpha.go
  internal/cmdcommon/extension.go
Due: pull-cli-lint, pull-cli-integration-test

remove unnecessary return value
  internal/cmd/alpha/alpha.go
  internal/cmd/kyma.go
  main.go
Due: pull-cli-lint, pull-cli-integration-test

fix gen-docs
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

update codeowners 2
  CODEOWNERS
Due: none

remove unnecessary test cases logic
  internal/cmdcommon/extension_test.go
Due: pull-cli-lint, pull-cli-integration-test

Implement Acceptance e2e tests for BTP user journey
  .gitignore
  tests/btp/integration-test-btp.sh
  tests/btp/k8s-resources/exposed-docker-registry.yaml
  tests/btp/k8s-resources/object-store-binding.yaml
Due: none

up to building hdi-deploy image
  .gitignore
  tests/btp/integration-test-btp.sh
  tests/btp/k8s-resources/custom-docker-registry.yaml
  tests/btp/k8s-resources/db/books-hdi-config.yaml
  tests/btp/k8s-resources/db/books-hdi-initjob-template.yaml
  tests/btp/k8s-resources/db/hana-hdi-binding.yaml
  tests/btp/k8s-resources/db/hana-hdi-instance.yaml
  tests/btp/k8s-resources/db/kustomization.yaml
  tests/btp/sample-http-db-nodejs/bookstore/app.js
  tests/btp/sample-http-db-nodejs/bookstore/hana.js
  tests/btp/sample-http-db-nodejs/hdi-deploy/package.json
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/.hdiconfig
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/.hdinamespace
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/books.csv
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/books.hdbtable
  tests/btp/sample-http-db-nodejs/hdi-deploy/src/tables/books.hdbtabledata
Due: none

fix envs
  tests/btp/Makefile
Due: pull-cli-integration-test

change bookstrore app
  tests/btp/integration-test-btp.sh
  tests/btp/k8s-resources/db/books-hdi-initjob-template.yaml
  tests/btp/sample-http-db-nodejs/bookstore/package.json
  tests/btp/sample-http-db-nodejs/bookstore/src/app.js
  tests/btp/sample-http-db-nodejs/bookstore/src/hana.js
Due: none

add todo
  tests/btp/integration-test-btp.sh
Due: none

add todos
  tests/btp/integration-test-btp.sh
Due: none

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)
