Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)

Get rid of modifiers in the `clierror` package (#2092)
  internal/btp/auth/credentials.go
  internal/btp/auth/credentials_test.go
  internal/btp/auth/xsuaa.go
  internal/btp/auth/xsuaa_test.go
  internal/btp/cis/provision.go
  internal/btp/cis/provision_test.go
  internal/clierror/check.go
  internal/clierror/error.go
  internal/clierror/error_test.go
  internal/clierror/params.go
  internal/clierror/wrap.go
  internal/clierror/wrap_test.go
  internal/cmd/access/access.go
  internal/cmd/hana/check.go
  internal/cmd/hana/credentials.go
  internal/cmd/hana/delete.go
  internal/cmd/hana/map.go
  internal/cmd/hana/provision.go
  internal/cmd/imageimport/imageimport.go
  internal/cmd/provision/provision.go
  internal/cmd/referenceinstance/referenceinstance.go
  internal/cmdcommon/kubeconfig.go
  internal/kube/client.go
  internal/kube/service.go
  internal/registry/config.go
  internal/registry/config_test.go
  internal/registry/image.go
  internal/registry/image_test.go
Due: pull-cli-lint, pull-cli-integration-test

Propose error output format (#1994)
  docs/contributor/ADR/001-error-output-format.md
Due: none

Add subacccount reference field to reference-instance (#2053)
  internal/cmd/referenceinstance/referenceinstance.go
  internal/kube/unstructured.go
Due: pull-cli-lint, pull-cli-integration-test

Test cis auth (#1960)
  go.mod
  go.sum
  internal/btp/credentials_test.go
  internal/btp/xsuaa.go
  internal/btp/xsuaa_test.go
  internal/cmd/provision/provision.go
Due: pull-cli-lint, pull-cli-integration-test

Fix secret name in hint msg (#2028)
  internal/cmd/imageimport/imageimport.go
  internal/registry/config.go
  internal/registry/config_test.go
Due: pull-cli-lint, pull-cli-integration-test

move ctx to the cmdcommon pkg (#2047)
  internal/cmd/hana/check.go
  internal/cmd/hana/credentials.go
  internal/cmd/hana/delete.go
  internal/cmd/hana/hana.go
  internal/cmd/hana/map.go
  internal/cmd/hana/provision.go
  internal/cmd/imageimport/imageimport.go
  internal/cmd/kyma.go
  internal/cmd/referenceinstance/referenceinstance.go
  internal/cmdcommon/kymaconfig.go
Due: pull-cli-lint, pull-cli-integration-test

add missing test (#2075)
  internal/kube/fake/client.go
  internal/registry/config_test.go
Due: pull-cli-lint, pull-cli-integration-test

Support DockerRegistry CR in the `image-import` command (#2072)
  internal/cmd/imageimport/imageimport.go
  internal/kube/unstructured.go
  internal/registry/config.go
  internal/registry/config_test.go
  internal/registry/types.go
Due: pull-cli-lint, pull-cli-integration-test

Add error hints to kyma provision (#2039)
  internal/btp/cis/provision.go
  internal/cmd/provision/provision.go
Due: pull-cli-lint, pull-cli-integration-test

init go module
  go.mod
Due: pull-cli-integration-test

add more clierror wrapping (#2084)
  go.mod
  go.sum
  internal/btp/auth/credentials.go
  internal/btp/auth/xsuaa.go
  internal/btp/cis/provision.go
  internal/clierror/error.go
  internal/clierror/error_test.go
  internal/clierror/wrap.go
  internal/cmd/hana/check.go
  internal/cmd/hana/credentials.go
  internal/cmd/hana/delete.go
  internal/cmd/hana/map.go
  internal/cmd/hana/provision.go
  internal/cmd/provision/provision.go
  internal/kube/client.go
  internal/kube/service.go
Due: pull-cli-lint, pull-cli-integration-test

unify commands for hana (#2018)
  internal/cmd/hana/check.go
  internal/cmd/hana/credentials.go
  internal/cmd/hana/delete.go
  internal/cmd/hana/provision.go
Due: pull-cli-lint, pull-cli-integration-test

v3: Refactor cis package (#1977)
  internal/btp/auth/credentials.go
  internal/btp/auth/credentials_test.go
  internal/btp/auth/xsuaa.go
  internal/btp/auth/xsuaa_test.go
  internal/btp/cis/client.go
  internal/btp/cis/client_test.go
  internal/btp/cis/provision.go
  internal/btp/cis/provision_test.go
  internal/cmd/provision/provision.go
Due: pull-cli-lint, pull-cli-integration-test

Add option to define owner of cluster during provisioning (#2025)
  internal/cmd/provision/provision.go
Due: pull-cli-lint, pull-cli-integration-test

Hana map hints (#2049)
  internal/cmd/hana/map.go
  internal/cmd/hana/provision.go
Due: pull-cli-lint, pull-cli-integration-test

Test the `image.go` file (#2009)
  internal/registry/image.go
  internal/registry/image_test.go
  internal/registry/portforward/transport.go
Due: pull-cli-lint, pull-cli-integration-test

Use standard error interface (#2040)
  internal/btp/auth/credentials.go
  internal/btp/auth/xsuaa.go
  internal/btp/auth/xsuaa_test.go
  internal/btp/cis/provision.go
  internal/btp/cis/provision_test.go
  internal/clierror/cli_error.go
  internal/clierror/cli_error_test.go
  internal/cmd/hana/check.go
  internal/cmd/hana/credentials.go
  internal/cmd/hana/delete.go
  internal/cmd/hana/map.go
  internal/cmd/hana/provision.go
Due: pull-cli-lint, pull-cli-integration-test

remove the .vscode dir
  .gitignore
  .vscode/Dockerfile
  .vscode/kaniko.yaml
  .vscode/launch.json
  .vscode/pvc-inspect.yaml
  .vscode/ubuntu.yaml
Due: pull-cli-integration-test

ignore the .vscode dir
  .gitignore
Due: none

Remove the `.vscode` dir (#2105)
  .vscode/Dockerfile
  .vscode/kaniko.yaml
  .vscode/launch.json
  .vscode/pvc-inspect.yaml
  .vscode/ubuntu.yaml
Due: pull-cli-integration-test

add missing files
  .golangci.yml
  .goreleaser.yml
  README.md
  sec-scanners-config.yaml
Due: pull-cli-lint

fix
  .golangci.yml
  README.md
Due: pull-cli-lint

Add missing files and badges (#2106)
  .golangci.yml
  .goreleaser.yml
  README.md
  sec-scanners-config.yaml
Due: pull-cli-lint

rename
  LICENCE
Due: none

Rename the `LICENSE` file (#2107)
  LICENCE
Due: none

Add missing license file
  LICENSES/Apache-2.0.txt
Due: none

Add missing license file (#2108)
  LICENSES/Apache-2.0.txt
Due: none

Rename license and fix link
  LICENSE
  README.md
Due: none

Rename license and fix link (#2110)
  LICENSE
  README.md
Due: none

Fix codeowners
  CODEOWNERS
Due: none

Fix codeowners (#2111)
  CODEOWNERS
Due: none

Update readme
  README.md
Due: none

Apply suggestions from code review
  README.md
Due: none

Update readme to include v3 command execution (#2109)
  README.md
Due: none

wip1
  internal/cmd/access/access.go
  internal/kube/client.go
Due: pull-cli-lint, pull-cli-integration-test

Fix typo in kubeconfig flag help
  internal/cmdcommon/kubeconfig.go
Due: pull-cli-lint, pull-cli-integration-test
