Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

pull-cli-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
        privileged: false
  ...

pull-cli-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-cli-checkconfig:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-checkconfig
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/k8s-prow/checkconfig:v20240408-838d843f
      securityContext:
  ...

pull-cli-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20240429-870ea518
      imagePullPolicy: Always
  ...

pull-cli-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20240613-c511c1f0
      imagePullPolicy: Always
  ...

pull-cli-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20240613-12c43815
      imagePullPolicy: Always
  ...

tag and release in the same action
  .github/workflows/pre-release-release.yaml
  .github/workflows/pre-release-tag.yaml
Due: none

Fix pre-release trigger (#2160)
  .github/workflows/pre-release-release.yaml
  .github/workflows/pre-release-tag.yaml
Due: none

Update pre-release message
  .goreleaser-dev.yml
Due: none

typo
  .goreleaser-dev.yml
Due: none

Lint fixes (#2159)
  internal/btp/cis/client.go
  internal/cmd/alpha/access/access.go
  internal/cmd/alpha/hana/check.go
  internal/cmd/alpha/hana/credentials.go
  internal/cmd/alpha/hana/delete.go
  internal/cmd/alpha/hana/map.go
  internal/cmd/alpha/hana/provision.go
  internal/cmd/alpha/imageimport/imageimport.go
  internal/cmd/alpha/modules/modules.go
  internal/cmd/alpha/oidc/oidc.go
  internal/cmd/kyma.go
  internal/communitymodules/render.go
  internal/kube/client.go
  internal/kube/fake/client.go
  internal/registry/config.go
  internal/registry/config_test.go
Due: pull-cli-lint, pull-cli-integration-test

Update pre-release message (#2161)
  .goreleaser-dev.yml
Due: none

restore go linter job
  .github/workflows/lint-golangci.yml
  .golangci.yml
Due: pull-cli-lint

tweak config
  .golangci.yml
Due: pull-cli-lint

disable gosec
  .golangci.yml
Due: pull-cli-lint

add lint make target
  Makefile
Due: pull-cli-integration-test

exclude stuttering
  .golangci.yml
Due: pull-cli-lint

trigger for any PR
  .github/workflows/lint-golangci.yml
Due: none

make makefiles structure closer to serverless
  Makefile
  hack/tools.mk
Due: pull-cli-integration-test

simplify
  hack/tools.mk
Due: none

comments
  Makefile
  hack/tools.mk
Due: pull-cli-integration-test

restore go linter job (#2146)
  .github/workflows/lint-golangci.yml
  .golangci.yml
  Makefile
  hack/tools.mk
Due: pull-cli-lint, pull-cli-integration-test

Document Instructions how to install kyma@v3 binary
  README.md
  hack/get-kyma-v3-alpha.sh
Due: none

Document Instructions how to install kyma@v3 binary
  README.md
Due: none

Fix used linter action version
  .github/workflows/lint-golangci.yml
Due: none

Apply suggestions from code review
  README.md
Due: none

Apply suggestions from code review
  README.md
  hack/get-kyma-v3-alpha.sh
Due: none

fix typo
  .github/workflows/lint-golangci.yml
Due: none

Fix used linter action version (#2163)
  .github/workflows/lint-golangci.yml
Due: none

Document Instructions how to install kyma@v3 binary (#2162)
  README.md
  hack/get-kyma-v3-alpha.sh
Due: none

Change control-plane field to managed
  internal/communitymodules/modules.go
  internal/communitymodules/render.go
Due: pull-cli-lint, pull-cli-integration-test

Change control-plane field to managed (#2166)
  internal/communitymodules/modules.go
  internal/communitymodules/render.go
Due: pull-cli-lint, pull-cli-integration-test

Document Instructions how to install kyma@v3 binary (#2167)
  README.md
  hack/get-kyma-v3-alpha.sh
Due: none

add test for modules managed command
  internal/communitymodules/modules.go
  internal/communitymodules/modules_test.go
  internal/communitymodules/types.go
Due: pull-cli-lint, pull-cli-integration-test

add test for modules managed command (#2164)
  internal/communitymodules/modules.go
  internal/communitymodules/modules_test.go
  internal/communitymodules/types.go
Due: pull-cli-lint, pull-cli-integration-test

update DockerRegistry CR types
  internal/registry/config.go
  internal/registry/types.go
Due: pull-cli-lint, pull-cli-integration-test

fix tests
  internal/registry/config_test.go
Due: pull-cli-lint, pull-cli-integration-test

Update DockerRegistry CR types (#2169)
  internal/registry/config.go
  internal/registry/config_test.go
  internal/registry/types.go
Due: pull-cli-lint, pull-cli-integration-test

Add deploy and undeploy commands
  internal/cmd/alpha/alpha.go
  internal/cmd/alpha/deploy/deploy.go
  internal/cmd/alpha/deploy/managed/managed.go
  internal/cmd/alpha/undeploy/managed/managed.go
  internal/cmd/alpha/undeploy/undeploy.go
  internal/kyma/kyma_type.go
Due: pull-cli-lint, pull-cli-integration-test

fix channel update
  internal/cmd/alpha/deploy/managed/managed.go
Due: pull-cli-lint, pull-cli-integration-test

simplify
  internal/cmd/alpha/deploy/managed/managed.go
  internal/cmd/alpha/undeploy/managed/managed.go
  internal/communitymodules/modules.go
  internal/kyma/kyma_type.go
Due: pull-cli-lint, pull-cli-integration-test

simplify
  internal/communitymodules/modules.go
Due: pull-cli-lint, pull-cli-integration-test

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)
