Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)

bump linter (#2499)
  .github/workflows/lint-golangci.yml
  .golangci.yaml
  gen-docs/main.go
Due: pull-cli-lint, pull-cli-integration-test

List Community Modules
  internal/modules/compability.go
Due: pull-cli-lint, pull-cli-integration-test

extract extensions commands
  README.md
  docs/extensibility/README.md
  docs/extensibility/create-extension.md
  docs/user/tutorials/01-10-add-delete-modules.md
  docs/user/tutorials/01-11-manage-unmanage-modules.md
  docs/user/tutorials/01-20-app-push-command-usage.md
  docs/user/tutorials/01-30-image-import.md
Due: none

Update README.md
  README.md
Due: none

support aarch64 and amd64 architectures
  hack/install_cli_latest.sh
  hack/install_cli_nightly.sh
  hack/install_cli_stable.sh
Due: none

Support the `aarch64` and the `amd64` architectures (#2502)
  hack/install_cli_latest.sh
  hack/install_cli_nightly.sh
  hack/install_cli_stable.sh
Due: none

change target
  .github/workflows/pull.yaml
Due: none

Secure the pull pipeline (#2503)
  .github/workflows/pull.yaml
Due: none

fix tmp dir
  hack/install_cli_latest.sh
  hack/install_cli_nightly.sh
  hack/install_cli_stable.sh
Due: none

get rid of the 'cd' command
  hack/install_cli_latest.sh
  hack/install_cli_nightly.sh
  hack/install_cli_stable.sh
Due: none

Installation script default dir (#2504)
  hack/install_cli_latest.sh
  hack/install_cli_nightly.sh
  hack/install_cli_stable.sh
Due: none

Cherry-Pick: Secure the pull pipeline (#2503) (#2505)
  .github/workflows/pull.yaml
Due: none

List Community Modules
  internal/modules/compability.go
  internal/modules/list.go
  internal/modules/list_test.go
  internal/modules/render.go
  internal/modules/render_test.go
Due: pull-cli-lint, pull-cli-integration-test

List Community Modules (#2500)
  internal/modules/compability.go
  internal/modules/list.go
  internal/modules/list_test.go
  internal/modules/render.go
  internal/modules/render_test.go
Due: pull-cli-lint, pull-cli-integration-test

Include istio label in the deployment template
  internal/kube/resources/deployment.go
Due: pull-cli-lint, pull-cli-integration-test

Include istio label in the deployment template (#2506)
  internal/kube/resources/deployment.go
Due: pull-cli-lint, pull-cli-integration-test

generate private file
  internal/extensions/actions/registry_config.go
Due: pull-cli-lint, pull-cli-integration-test

Generate private file for the `registry config` command (#2508)
  internal/extensions/actions/registry_config.go
Due: pull-cli-lint, pull-cli-integration-test

copy go-www-aithenticate-parser
  go.mod
  go.sum
  internal/btp/cis/auth.go
  internal/btp/cis/client.go
Due: pull-cli-lint, pull-cli-integration-test

Get rid of the `go-www-aithenticate-parser` package (#2509)
  go.mod
  go.sum
  internal/btp/cis/auth.go
  internal/btp/cis/client.go
Due: pull-cli-lint, pull-cli-integration-test

improve output text
  internal/extensions/actions/function_init.go
Due: pull-cli-lint, pull-cli-integration-test

protect filenames and ask if output dir is out of working directory
  internal/extensions/actions/function_init.go
Due: pull-cli-lint, pull-cli-integration-test

improve output text 2
  internal/extensions/actions/function_init.go
Due: pull-cli-lint, pull-cli-integration-test

Protect filenames and ask for configmation when output dir is out of working directory (#2510)
  internal/extensions/actions/function_init.go
Due: pull-cli-lint, pull-cli-integration-test

bump deps
  go.mod
  go.sum
Due: pull-cli-integration-test

Added tests for community module installation
  internal/btp/hana/map_test.go
  internal/cmd/module/add.go
  internal/modules/install.go
  internal/modules/install_test.go
Due: pull-cli-lint, pull-cli-integration-test

Add Community Module
  internal/cmd/module/add.go
  internal/cmdcommon/prompt/bool.go
  internal/cmdcommon/prompt/bool_test.go
  internal/cmdcommon/prompt/list.go
  internal/cmdcommon/prompt/list_test.go
  internal/flags/validate.go
  internal/flags/validate_test.go
  internal/modules/install.go
  internal/modules/list.go
Due: pull-cli-lint, pull-cli-integration-test

Fixes for linter
  internal/cmdcommon/prompt/bool.go
  internal/cmdcommon/prompt/bool_test.go
  internal/cmdcommon/prompt/list.go
  internal/modules/install.go
  internal/modules/install_test.go
Due: pull-cli-lint, pull-cli-integration-test

code review improvements
  internal/cmd/module/add.go
  internal/cmdcommon/prompt/bool.go
  internal/cmdcommon/prompt/bool_test.go
  internal/cmdcommon/prompt/list.go
  internal/cmdcommon/prompt/list_test.go
  internal/modules/install.go
  internal/modules/list.go
Due: pull-cli-lint, pull-cli-integration-test

move app push command out of the alpha group
  internal/cmd/alpha/alpha.go
  internal/cmd/app/app.go
  internal/cmd/app/push.go
  internal/cmd/kyma.go
Due: pull-cli-lint, pull-cli-integration-test

Move `app push` command out of `alpha` group (#2514)
  internal/cmd/alpha/alpha.go
  internal/cmd/app/app.go
  internal/cmd/app/push.go
  internal/cmd/kyma.go
Due: pull-cli-lint, pull-cli-integration-test

update tests
  tests/btp/integration-test-btp.sh
  tests/k3d/integration-test-k3d.sh
Due: none

Update e2e tests (#2517)
  tests/btp/integration-test-btp.sh
  tests/k3d/integration-test-k3d.sh
Due: none

Added test case for erroneous input for bool prompts
  internal/cmdcommon/prompt/bool.go
  internal/cmdcommon/prompt/bool_test.go
  internal/cmdcommon/prompt/oneofstringlist.go
  internal/cmdcommon/prompt/oneofstringlist_test.go
Due: pull-cli-lint, pull-cli-integration-test

Lint fixes
  internal/cmd/module/add.go
  internal/cmdcommon/prompt/list.go
  internal/cmdcommon/prompt/oneofstringlist.go
  internal/cmdcommon/prompt/oneofstringlist_test.go
  internal/modules/install.go
Due: pull-cli-lint, pull-cli-integration-test
