Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)

Extend manage command to consider unmanaged modules missing in Kyma CR (#2543)
  internal/cmd/module/manage.go
  internal/cmdcommon/prompt/oneofenumlist.go
  internal/cmdcommon/prompt/oneofenumlist_test.go
  internal/kube/kyma/kyma.go
  internal/modules/manage.go
  internal/modules/manage_test.go
Due: pull-cli-lint, pull-cli-integration-test

Changed community modules source to remote repository
  internal/cmd/module/add.go
  internal/cmd/module/catalog.go
  internal/cmd/module/manage.go
  internal/modules/enable.go
  internal/modules/enable_test.go
  internal/modules/fake/moduletemplates.go
  internal/modules/fake/moduletemplatesremote.go
  internal/modules/install.go
  internal/modules/install_test.go
  internal/modules/list.go
  internal/modules/list_community_test.go
  internal/modules/list_test.go
  internal/modules/manage.go
  internal/modules/repo/moduletemplates.go
  internal/modules/repo/moduletemplates_test.go
  internal/modules/repo/moduletemplatesremote.go
  internal/modules/repo/moduletemplatesremote_test.go
Due: pull-cli-lint, pull-cli-integration-test

use external endpoint if possible
  internal/cmd/app/push.go
  internal/extensions/actions/registry_image-import.go
  internal/registry/image.go
  internal/registry/image_test.go
Due: pull-cli-lint, pull-cli-integration-test

add log
  internal/cmd/app/push.go
  internal/extensions/actions/registry_image-import.go
  internal/registry/image.go
Due: pull-cli-lint, pull-cli-integration-test

fix tests
  internal/registry/image_test.go
Due: pull-cli-lint, pull-cli-integration-test

Push images using external endpoint (#2549)
  internal/cmd/app/push.go
  internal/extensions/actions/registry_image-import.go
  internal/registry/image.go
  internal/registry/image_test.go
Due: pull-cli-lint, pull-cli-integration-test

Fetching community modules from remote repository (#2547)
  internal/cmd/module/add.go
  internal/cmd/module/catalog.go
  internal/cmd/module/manage.go
  internal/modules/enable.go
  internal/modules/enable_test.go
  internal/modules/fake/moduletemplates.go
  internal/modules/fake/moduletemplatesremote.go
  internal/modules/install.go
  internal/modules/install_test.go
  internal/modules/list.go
  internal/modules/list_community_test.go
  internal/modules/list_test.go
  internal/modules/manage.go
  internal/modules/repo/moduletemplates.go
  internal/modules/repo/moduletemplates_test.go
  internal/modules/repo/moduletemplatesremote.go
  internal/modules/repo/moduletemplatesremote_test.go
Due: pull-cli-lint, pull-cli-integration-test

Bump Go dependencies
  go.mod
  go.sum
Due: pull-cli-integration-test

fix linting
  .github/workflows/lint-golangci.yml
  internal/dockerfile/build.go
  internal/dockerfile/build_test.go
Due: pull-cli-lint, pull-cli-integration-test

Bump Go dependencies (#2556)
  .github/workflows/lint-golangci.yml
  go.mod
  go.sum
  internal/dockerfile/build.go
  internal/dockerfile/build_test.go
  internal/registry/image_test.go
Due: pull-cli-lint, pull-cli-integration-test

Bump terraform module gh actions
  .github/workflows/btp-integration-tests.yml
Due: none

Bump terraform module gh actions (#2560)
  .github/workflows/btp-integration-tests.yml
Due: none

Fix CLI e2e test
  tests/btp/integration-test-btp.sh
Due: none

--auto-approve flag for module deletions
  tests/btp/kyma-cleanup.sh
Due: none

Fix CLI e2e test (#2562)
  tests/btp/integration-test-btp.sh
  tests/btp/kyma-cleanup.sh
Due: none

Resolve cluster domain in e2e btp test
  .github/workflows/btp-integration-tests.yml
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
Due: pull-cli-integration-test

Resolve cluster domain in e2e btp test (#2563)
  .github/workflows/btp-integration-tests.yml
  tests/btp/Makefile
  tests/btp/integration-test-btp.sh
Due: pull-cli-integration-test

speedup process
  internal/modules/list.go
Due: pull-cli-lint, pull-cli-integration-test

add debug logs
  internal/modules/list.go
Due: pull-cli-lint, pull-cli-integration-test

altered mutexes with channels
  internal/modules/list.go
  internal/modules/list_test.go
Due: pull-cli-lint, pull-cli-integration-test

get rid of debug logs
  internal/modules/list.go
Due: pull-cli-lint, pull-cli-integration-test

Multi thread module list (#2561)
  internal/modules/list.go
  internal/modules/list_test.go
Due: pull-cli-lint, pull-cli-integration-test

multi thread modules list
  internal/modules/list.go
Due: pull-cli-lint, pull-cli-integration-test

Speed up modules collecting (#2568)
  internal/modules/list.go
Due: pull-cli-lint, pull-cli-integration-test

Added deduplication to unmanaged core modules listing
  internal/modules/list.go
Due: pull-cli-lint, pull-cli-integration-test

Improve some of the error messages
  internal/btp/hana/hana.go
  internal/btp/hana/hana_test.go
  internal/cmd/alpha/hana/map.go
  internal/cmd/alpha/kubeconfig/generate.go
  internal/cmd/app/push.go
  internal/cmd/module/catalog.go
  internal/cmd/module/list.go
  internal/cmd/module/manage.go
  internal/cmdcommon/kubeconfig.go
  internal/dockerfile/build.go
  internal/dockerfile/build_test.go
  internal/extensions/actions/function_init.go
  internal/extensions/actions/registry_image-import.go
  internal/extensions/extensions.go
  internal/extensions/extensions_test.go
  internal/modules/disable.go
  internal/modules/disable_test.go
  internal/modules/enable.go
  internal/modules/enable_test.go
  internal/modules/list.go
  internal/modules/manage.go
  internal/modules/repo/moduletemplates.go
  internal/registry/config.go
  internal/registry/config_test.go
Due: pull-cli-lint, pull-cli-integration-test

Add hints to module add command
  internal/modules/enable.go
  internal/modules/enable_test.go
Due: pull-cli-lint, pull-cli-integration-test

Improve some of the error messages (#2570)
  internal/btp/hana/hana.go
  internal/btp/hana/hana_test.go
  internal/cmd/alpha/hana/map.go
  internal/cmd/alpha/kubeconfig/generate.go
  internal/cmd/app/push.go
  internal/cmd/module/catalog.go
  internal/cmd/module/list.go
  internal/cmd/module/manage.go
  internal/cmdcommon/kubeconfig.go
  internal/dockerfile/build.go
  internal/dockerfile/build_test.go
  internal/extensions/actions/function_init.go
  internal/extensions/actions/registry_image-import.go
  internal/extensions/extensions.go
  internal/extensions/extensions_test.go
  internal/modules/disable.go
  internal/modules/disable_test.go
  internal/modules/enable.go
  internal/modules/enable_test.go
  internal/modules/list.go
  internal/modules/manage.go
  internal/modules/repo/moduletemplates.go
  internal/registry/config.go
  internal/registry/config_test.go
Due: pull-cli-lint, pull-cli-integration-test

Added deduplication to unmanaged core modules listing (#2569)
  internal/modules/list.go
Due: pull-cli-lint, pull-cli-integration-test

Added community modules existence validation
  internal/cmd/module/add.go
  internal/modules/install.go
  internal/modules/install_test.go
Due: pull-cli-lint, pull-cli-integration-test

Added community modules existence validation (#2572)
  internal/cmd/module/add.go
  internal/modules/install.go
  internal/modules/install_test.go
Due: pull-cli-lint, pull-cli-integration-test

extract extensions commands
  README.md
  docs/extensibility/README.md
  docs/extensibility/create-extension.md
  docs/user/tutorials/01-10-add-delete-modules.md
  docs/user/tutorials/01-11-manage-unmanage-modules.md
  docs/user/tutorials/01-20-app-push-command-usage.md
  docs/user/tutorials/01-30-image-import.md
Due: none

Update README.md
  README.md
Due: none

Update docs with no-alpha commands (#2498)
  README.md
  docs/extensibility/README.md
  docs/extensibility/create-extension.md
  docs/user/tutorials/01-10-add-delete-modules.md
  docs/user/tutorials/01-11-manage-unmanage-modules.md
  docs/user/tutorials/01-20-app-push-command-usage.md
  docs/user/tutorials/01-30-image-import.md
Due: none

move the portforward package to the internal level
  internal/portforward/automock/connection.go
  internal/portforward/automock/stream.go
  internal/portforward/dial.go
  internal/portforward/retry.go
  internal/portforward/retry_test.go
  internal/portforward/transport.go
  internal/portforward/transport_mock.go
  internal/portforward/transport_test.go
  internal/registry/image.go
  internal/registry/image_test.go
Due: pull-cli-lint, pull-cli-integration-test

Move the `portforward` package to the internal level (#2573)
  internal/portforward/automock/connection.go
  internal/portforward/automock/stream.go
  internal/portforward/dial.go
  internal/portforward/retry.go
  internal/portforward/retry_test.go
  internal/portforward/transport.go
  internal/portforward/transport_mock.go
  internal/portforward/transport_test.go
  internal/registry/image.go
  internal/registry/image_test.go
Due: pull-cli-lint, pull-cli-integration-test

update docs
  docs/user/gen-docs/_sidebar.md
  docs/user/gen-docs/kyma.md
  docs/user/gen-docs/kyma_alpha.md
  docs/user/gen-docs/kyma_app.md
  docs/user/gen-docs/kyma_app_push.md
Due: none

update missing docs
  README.md
  docs/user/tutorials/01-20-app-push-command-usage.md
Due: none
