Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)

opts.go: Fix Overwrite Validation
  cmd/kyma/alpha/create/scaffold/opts.go
Due: pull-cli-lint, pull-cli-integration-test

scaffold.go: Update Command Help
  cmd/kyma/alpha/create/scaffold/scaffold.go
Due: pull-cli-lint, pull-cli-integration-test

bump reconciler
  go.mod
  go.sum
Due: pull-cli-integration-test

bump reconciler (#1886)
  go.mod
  go.sum
Due: pull-cli-integration-test

change version to 2.20
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

Update Docs
  docs/gen-docs/kyma_alpha_create_scaffold.md
Due: none

change version to 2.20.0
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

feat: Release 2.20.1 (#1887)
  docs/gen-docs/kyma_deploy.md
  go.mod
  go.sum
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

Adjusts the "Sprint Commits Test Suites" report
  .github/workflows/report-sprint-commits.yml
Due: none

Fixes a typo
  .github/workflows/report-sprint-commits.yml
Due: none

chore(report): Adjusts the "Sprint Commits Test Suites" report to report E2E and Integration tests separately (#1891)
  .github/workflows/report-sprint-commits.yml
Due: none

Unify SemVer pkg usage
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/opts.go
  go.mod
  go.sum
  internal/k3d/k3d.go
  internal/version/compatibility.go
Due: pull-cli-lint, pull-cli-integration-test

Unify SemVer pkg usage (#1895)
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/opts.go
  go.mod
  go.sum
  internal/k3d/k3d.go
  internal/version/compatibility.go
Due: pull-cli-lint, pull-cli-integration-test

Refactoring
  cmd/kyma/alpha/create/scaffold/default_cr.go
  cmd/kyma/alpha/create/scaffold/manifest.go
  cmd/kyma/alpha/create/scaffold/opts.go
  cmd/kyma/alpha/create/scaffold/scaffold.go
Due: pull-cli-lint, pull-cli-integration-test

Refactoring
  cmd/kyma/alpha/create/scaffold/scaffold.go
  cmd/kyma/alpha/create/scaffold/security_config.go
Due: pull-cli-lint, pull-cli-integration-test

Refactoring
  cmd/kyma/alpha/create/scaffold/opts.go
  cmd/kyma/alpha/create/scaffold/scaffold.go
  cmd/kyma/alpha/create/scaffold/security_config.go
Due: pull-cli-lint, pull-cli-integration-test

Refactoring
  cmd/kyma/alpha/create/scaffold/module_config.go
  cmd/kyma/alpha/create/scaffold/opts.go
  cmd/kyma/alpha/create/scaffold/scaffold.go
Due: pull-cli-lint, pull-cli-integration-test

Refactoring
  cmd/kyma/alpha/create/scaffold/opts.go
  cmd/kyma/alpha/create/scaffold/scaffold.go
  docs/gen-docs/kyma_alpha_create_scaffold.md
Due: pull-cli-lint, pull-cli-integration-test

Refactoring
  cmd/kyma/alpha/create/scaffold/module_config.go
  cmd/kyma/alpha/create/scaffold/scaffold.go
  pkg/module/scaffold/default_cr.go
  pkg/module/scaffold/manifest.go
  pkg/module/scaffold/module_config.go
  pkg/module/scaffold/opts.go
  pkg/module/scaffold/scaffold.go
  pkg/module/scaffold/security_config.go
  pkg/module/scaffold/utils.go
Due: pull-cli-lint, pull-cli-integration-test

Refactoring
  cmd/kyma/alpha/create/scaffold/opts.go
  pkg/module/scaffold/default_cr.go
  pkg/module/scaffold/manifest.go
  pkg/module/scaffold/module_config.go
  pkg/module/scaffold/opts.go
  pkg/module/scaffold/security_config.go
  pkg/module/scaffold/utils.go
Due: pull-cli-lint, pull-cli-integration-test

Refactoring
  cmd/kyma/alpha/create/scaffold/scaffold.go
Due: pull-cli-lint, pull-cli-integration-test

Refactoring
  .github/workflows/test-e2e-create-scaffold.yml
  cmd/kyma/alpha/create/scaffold/scaffold.go
Due: pull-cli-lint, pull-cli-integration-test

Add tests (WIP)
  cmd/kyma/alpha/create/scaffold/opts.go
  cmd/kyma/alpha/create/scaffold/scaffold.go
  tests/e2e/create_scaffold/scaffold_suite_test.go
  tests/e2e/create_scaffold/scaffold_test.go
Due: pull-cli-lint, pull-cli-integration-test

Add tests (WIP)
  tests/e2e/create_scaffold/scaffold_test.go
Due: pull-cli-lint, pull-cli-integration-test

deps: bump k8s.io together
  go.mod
  go.sum
Due: pull-cli-integration-test

Add tests (WIP)
  .github/workflows/test-e2e-create-scaffold.yml
  cmd/kyma/alpha/create/scaffold/opts.go
  tests/e2e/Makefile
  tests/e2e/create_scaffold/scaffold_test.go
Due: pull-cli-lint, pull-cli-integration-test

Add tests (WIP)
  .github/workflows/test-e2e-create-scaffold.yml
Due: none

Review fix
  pkg/module/scaffold/scaffold.go
  pkg/module/scaffold/utils.go
Due: pull-cli-lint, pull-cli-integration-test

necessary fixes
  pkg/module/blob/blob.go
  pkg/module/oci_repo.go
  pkg/module/remote.go
  pkg/module/security_scan.go
Due: pull-cli-lint, pull-cli-integration-test

Apply suggestions from code review
  .github/workflows/test-e2e-create-scaffold.yml
  cmd/kyma/alpha/create/scaffold/opts.go
  tests/e2e/create_scaffold/scaffold_test.go
Due: pull-cli-lint, pull-cli-integration-test

Review fix
  cmd/kyma/alpha/create/scaffold/opts.go
  cmd/kyma/alpha/create/scaffold/scaffold.go
  tests/e2e/create_scaffold/scaffold_test.go
Due: pull-cli-lint, pull-cli-integration-test

Review fix
  tests/e2e/create_scaffold/scaffold_test.go
Due: pull-cli-lint, pull-cli-integration-test

Add mandatory documentation
  cmd/kyma/alpha/create/module/module.go
  docs/gen-docs/kyma_alpha_create_module.md
Due: pull-cli-lint, pull-cli-integration-test

Review fix
  cmd/kyma/alpha/create/scaffold/opts.go
Due: pull-cli-lint, pull-cli-integration-test

Review fix
  cmd/kyma/alpha/create/scaffold/opts.go
  cmd/kyma/alpha/create/scaffold/scaffold.go
Due: pull-cli-lint, pull-cli-integration-test

feat: Add Support for Remote URLs in Module Config
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/opts.go
  go.mod
  go.sum
  pkg/module/temp_files.go
  pkg/module/temp_files_test.go
Due: pull-cli-lint, pull-cli-integration-test
