Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)

don't close the archive
  cmd/kyma/alpha/create/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

Fix unhandled errors
  cmd/kyma/alpha/list/module/opts.go
  cmd/kyma/apply/function/function.go
  cmd/kyma/apply/function/opts.go
  internal/k3d/k3d.go
Due: pull-cli-lint, pull-cli-integration-test

APlly review comments
  cmd/kyma/alpha/list/module/opts.go
  cmd/kyma/apply/function/function.go
  cmd/kyma/apply/function/opts.go
  internal/k3d/k3d.go
Due: pull-cli-lint, pull-cli-integration-test

fix misspelling
  internal/k3d/k3d.go
Due: pull-cli-lint, pull-cli-integration-test

Release 2.19.1
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

Release 2.19.1 (#1814)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

fix test
  cmd/kyma/alpha/create/module/module.go
  go.mod
  go.sum
  tests/e2e/create_module/kyma_create_module_test.go
Due: pull-cli-lint, pull-cli-integration-test

offer init component descriptor
  pkg/module/build.go
Due: pull-cli-lint, pull-cli-integration-test

create ComponentDescriptor before CreateArchive
  cmd/kyma/alpha/create/module/module.go
  pkg/module/build.go
  pkg/module/component_descriptor.go
  pkg/module/private_registry_selector.go
  pkg/module/resources.go
Due: pull-cli-lint, pull-cli-integration-test

bump golang.org/x/net
  go.mod
  go.sum
Due: pull-cli-integration-test

bump golang.org/x/net (#1815)
  go.mod
  go.sum
Due: pull-cli-integration-test

fix vulnerabilities
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/opts.go
  pkg/module/blob/blob.go
Due: pull-cli-lint, pull-cli-integration-test

fix(checkmarx): Fix unhandled errors (#1813)
  cmd/kyma/alpha/list/module/opts.go
  cmd/kyma/apply/function/function.go
  cmd/kyma/apply/function/opts.go
  internal/k3d/k3d.go
Due: pull-cli-lint, pull-cli-integration-test

Remove unecessary git source code. Refactor module.go
  cmd/kyma/alpha/create/module/module.go
  internal/files/files.go
  pkg/module/build.go
  pkg/module/gitsource/git.go
  pkg/module/gitsource/source.go
  pkg/module/resources.go
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

fix test
  tests/e2e/create_module/kyma_create_module_test.go
Due: pull-cli-lint, pull-cli-integration-test

wrap test cases
  tests/e2e/create_module/kyma_create_module_test.go
Due: pull-cli-lint, pull-cli-integration-test

update kyma to 2.19.2
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

release 2.19.2 (#1818)
  .github/workflows/lint-conventional-prs.yml
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-e2e.yml
  Makefile
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module_test.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/opts.go
  cmd/kyma/alpha/list/module/opts.go
  cmd/kyma/apply/function/function.go
  cmd/kyma/apply/function/opts.go
  docs/gen-docs/kyma_deploy.md
  go.mod
  go.sum
  internal/config/config.go
  internal/deploy/deploy.go
  internal/deploy/values/builder.go
  internal/deploy/values/values.go
  internal/deploy/values/values_test.go
  internal/k3d/k3d.go
  internal/kube/ssa.go
  pkg/errs/multierror.go
  pkg/errs/multierror_test.go
  pkg/module/blob/blob.go
  pkg/module/remote.go
  pkg/module/validation.go
  tests/e2e/Makefile
  tests/e2e/create_module/kyma_create_module_same_version_test.go
  tests/e2e/create_module/kyma_create_module_test.go
  tests/e2e/deploy_enable_disable_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/module_templates/moduletemplate_template_operator_regular.yaml
  tests/e2e/module_templates/moduletemplate_template_operator_regular_warning.yaml
  tests/e2e/util.go
Due: pull-cli-lint, pull-cli-integration-test

update kyma to 2.19.3
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

release 2.19.3 (#1819)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

apply review suggestions
  pkg/module/build.go
Due: pull-cli-lint, pull-cli-integration-test

apply review suggestions
  pkg/module/resources.go
Due: pull-cli-lint, pull-cli-integration-test

deps: Upgrade open-component-model/ocm to v0.4.0 (#1808)
  cmd/kyma/alpha/create/module/module.go
  go.mod
  go.sum
  internal/files/files.go
  pkg/module/build.go
  pkg/module/component_descriptor.go
  pkg/module/gitsource/git.go
  pkg/module/gitsource/source.go
  pkg/module/init.go
  pkg/module/private_registry_selector.go
  pkg/module/remote.go
  pkg/module/resources.go
  pkg/module/template.go
  tests/e2e/create_module/kyma_create_module_test.go
Due: pull-cli-lint, pull-cli-integration-test

release 2.20.0
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

release 2.20.0 (#1821)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

update the owner
  CODEOWNERS
Due: none

remove path
  .github/workflows/lint-golangci.yml
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-e2e.yml
Due: none

stop print out sensitive password
  internal/nice/summary.go
Due: pull-cli-lint, pull-cli-integration-test

update code owner (#1831)
  .github/workflows/lint-golangci.yml
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-e2e.yml
  CODEOWNERS
Due: none

Increase retires and curation for kustomize applying
  internal/deploy/apply.go
Due: pull-cli-lint, pull-cli-integration-test

Increase retires and curation for kustomize applying (#1833)
  internal/deploy/apply.go
Due: pull-cli-lint, pull-cli-integration-test

Adjusts the Conventional Commits GitHub Action config
  .github/workflows/lint-conventional-prs.yml
Due: none

stop print out password (#1832)
  internal/nice/summary.go
Due: pull-cli-lint, pull-cli-integration-test

Adjusts the Conventional Commits GitHub Action config (#1830)
  .github/workflows/lint-conventional-prs.yml
Due: none

Increase retry delay for kustomize applying
  internal/deploy/apply.go
Due: pull-cli-lint, pull-cli-integration-test

Increase retry count for kustomize applying
  internal/deploy/apply.go
Due: pull-cli-lint, pull-cli-integration-test

Increase retry count for kustomize applying (#1838)
  internal/deploy/apply.go
Due: pull-cli-lint, pull-cli-integration-test

Fix logging
  internal/cli/logs.go
Due: pull-cli-lint, pull-cli-integration-test

allow for docker libs bump
  go.mod
  go.sum
Due: pull-cli-integration-test

allow for Docker API negotiation
  internal/coredns/coredns.go
  pkg/docker/docker.go
Due: pull-cli-lint, pull-cli-integration-test
