Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

pull-cli-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
        privileged: false
  ...

pull-cli-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-cli-checkconfig:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-checkconfig
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/k8s-prow/checkconfig:v20240408-838d843f
      securityContext:
  ...

pull-cli-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ginkgo:v20240429-870ea518
      imagePullPolicy: Always
  ...

pull-cli-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/ko/pjtester:v20240906-871bfbc0
      imagePullPolicy: Always
  ...

pull-cli-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/alpine:v20240905-c1b27580
      imagePullPolicy: Always
  ...

apply suggestions
  docs/contributor/ADR/002-command-structure-standards.md
Due: none

Apply suggestions from code review
  docs/contributor/ADR/002-command-structure-standards.md
Due: none

document persistent flags
  docs/contributor/ADR/002-command-structure-standards.md
Due: none

Moved authorization targets to separate commands
  internal/cmd/alpha/authorize/authorize.go
Due: pull-cli-lint, pull-cli-integration-test

Added validations rolebindings validations
  internal/authorization/rbacbuilder.go
  internal/authorization/rbacbuilder_test.go
  internal/cmd/alpha/authorize/authorize.go
  internal/kube/resources/namespace.go
  internal/kube/resources/rbac.go
Due: pull-cli-lint, pull-cli-integration-test

Regenerated docs
  docs/user/gen-docs/_sidebar.ts
  docs/user/gen-docs/kyma_alpha_authorize.md
  docs/user/gen-docs/kyma_alpha_authorize_group.md
  docs/user/gen-docs/kyma_alpha_authorize_serviceaccount.md
  docs/user/gen-docs/kyma_alpha_authorize_user.md
  internal/authorization/rbacbuilder.go
Due: pull-cli-lint, pull-cli-integration-test

Propose command standards (#2751)
  docs/contributor/ADR/002-command-structure-standards.md
  internal/out/out.go
Due: pull-cli-lint, pull-cli-integration-test

Changed the order of removed resources
  internal/modules/uninstall.go
Due: pull-cli-lint, pull-cli-integration-test

Changed the order of removed resources (#2809)
  internal/modules/uninstall.go
Due: pull-cli-lint, pull-cli-integration-test

Fix for invalid channel and versions assignments
  internal/modulesv2/repository/moduletemplates.go
  internal/modulesv2/repository/moduletemplates_test.go
Due: pull-cli-lint, pull-cli-integration-test

Regenerated docs
  docs/user/gen-docs/kyma_alpha_module_catalog.md
Due: none

Added URLs deduplication to catalogConfig
  internal/cmd/alpha/module/catalog.go
  internal/modulesv2/dtos/catalogconfig.go
  internal/modulesv2/dtos/catalogconfig_test.go
Due: pull-cli-lint, pull-cli-integration-test

Include adding/deleting managed modules into e2e test scenario
  tests/btp/integration-test-btp.sh
Due: none

Include adding/deleting managed modules into e2e test scenario (#2811)
  tests/btp/integration-test-btp.sh
Due: none

Fixed channels display for module catalog command
  internal/modules/compability.go
  internal/modules/enable.go
  internal/modules/list.go
  internal/modules/list_test.go
  internal/modules/manage.go
  internal/modules/render.go
  internal/modules/render_test.go
  internal/modulesv2/repository/moduletemplates.go
  internal/modulesv2/repository/moduletemplates_test.go
Due: pull-cli-lint, pull-cli-integration-test

Added ADR doc describing new modules architecture
  docs/contributor/ADR/004-modules-package-architecture.md
Due: none

Added URLs deduplication to catalogConfig (#2808)
  docs/user/gen-docs/kyma_alpha_module_catalog.md
  internal/cmd/alpha/module/catalog.go
  internal/modulesv2/dtos/catalogconfig.go
  internal/modulesv2/dtos/catalogconfig_test.go
  internal/modulesv2/repository/moduletemplates.go
  internal/modulesv2/repository/moduletemplates_test.go
Due: pull-cli-lint, pull-cli-integration-test

Improved the --remote flag in alpha module catalog cmd
  internal/cmd/alpha/module/catalog.go
  internal/flags/boolorstrings.go
Due: pull-cli-lint, pull-cli-integration-test

Added cosmetic changes
  internal/modules/enable.go
  internal/modules/manage.go
  internal/modules/render.go
Due: pull-cli-lint, pull-cli-integration-test

Fixed channels display for module catalog command (#2814)
  internal/modules/compability.go
  internal/modules/enable.go
  internal/modules/list.go
  internal/modules/list_test.go
  internal/modules/manage.go
  internal/modules/render.go
  internal/modules/render_test.go
Due: pull-cli-lint, pull-cli-integration-test

🍒 Fixed channels display for module catalog command (#2814) (#2825)
  internal/modules/compability.go
  internal/modules/enable.go
  internal/modules/list.go
  internal/modules/list_test.go
  internal/modules/manage.go
  internal/modules/render.go
  internal/modules/render_test.go
Due: pull-cli-lint, pull-cli-integration-test

Improved the --remote flag in alpha module catalog cmd (#2824)
  internal/cmd/alpha/module/catalog.go
  internal/flags/boolorstrings.go
Due: pull-cli-lint, pull-cli-integration-test

fix missing test logic
  internal/docker/containerfollowrun_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix tests logic
  internal/docker/client_test.go
  internal/docker/containerfollowrun.go
  internal/docker/containerfollowrun_test.go
  internal/docker/pull.go
  internal/docker/pull_test.go
  internal/docker/stopcontainer.go
  internal/docker/stopcontainer_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix typo
  internal/docker/pull.go
Due: pull-cli-lint, pull-cli-integration-test

add docker package tests
  internal/docker/client_test.go
  internal/docker/containerfollowrun_test.go
  internal/docker/pull_test.go
  internal/docker/stopcontainer.go
  internal/docker/stopcontainer_test.go
Due: pull-cli-lint, pull-cli-integration-test

run make docs
  go.mod
Due: pull-cli-integration-test

Add docker package tests (#2812)
  go.mod
  internal/docker/containerfollowrun.go
  internal/docker/containerfollowrun_test.go
  internal/docker/pull.go
  internal/docker/pull_test.go
  internal/docker/stopcontainer.go
  internal/docker/stopcontainer_test.go
Due: pull-cli-lint, pull-cli-integration-test

Added ADR doc describing new modules architecture (#2815)
  docs/contributor/ADR/004-modules-package-architecture.md
Due: none

update old busola image
  internal/busola/container.go
Due: pull-cli-lint, pull-cli-integration-test

Update old busola image (#2828)
  internal/busola/container.go
Due: pull-cli-lint, pull-cli-integration-test

Updated flags definition in alpha module catalog
  internal/cmd/alpha/module/catalog.go
  internal/flags/boolorstrings.go
  internal/modulesv2/dtos/catalogconfig.go
  internal/modulesv2/dtos/catalogconfig_test.go
Due: pull-cli-lint, pull-cli-integration-test

Generated docs
  docs/user/gen-docs/kyma_alpha_module_catalog.md
Due: none

Fix e2e test
  tests/btp/integration-test-btp.sh
  tests/btp/kyma-cleanup.sh
  tests/btp/tf/main.tf
Due: none

Fix e2e test (#2830)
  tests/btp/integration-test-btp.sh
  tests/btp/kyma-cleanup.sh
  tests/btp/tf/main.tf
Due: none

Wait for release meta in e2e test
  tests/btp/integration-test-btp.sh
Due: none

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)
