Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

Path conditions:
  pull-cli-lint: (any of: ^(.*\.go$|.golangci.yaml|.golangci.yml)) or (any of: ^(.*\.go$|.golangci.yaml))
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)

debug test
  .github/workflows/test-e2e-create-module.yml
Due: none

overwrite version
  .github/workflows/test-e2e-create-module.yml
Due: none

overwrite version
  .github/workflows/test-e2e-create-module.yml
  tests/e2e/kyma_create_module_test.go
Due: pull-cli-lint, pull-cli-integration-test

remove debugging statements
  .github/workflows/test-e2e-create-module.yml
Due: none

fix
  .github/workflows/test-e2e-create-module.yml
Due: none

bring back default kyma version to main for main branch
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

bring back default kyma version to main for main branch (#1778)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

change default kyma to 2.18.0
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

update docs
  docs/gen-docs/kyma_deploy.md
Due: none

release 2.18.1 (#1779)
  .github/workflows/pull-cli-lint.yml
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-smoke.yml
  Makefile
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/moduleconfig_test.go
  cmd/kyma/alpha/create/module/opts.go
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  docs/gen-docs/kyma_alpha_create_module.md
  docs/gen-docs/kyma_deploy.md
  go.mod
  go.sum
  internal/config/config.go
  internal/deploy/bootstrap.go
  internal/files/existingfile.txt
  internal/files/files.go
  internal/files/files_test.go
  internal/nice/nice.go
  pkg/docker/docker.go
  pkg/docker/docker_test.go
  pkg/docker/mocks/Client.go
  pkg/module/build.go
  pkg/module/custom_state_check.go
  pkg/module/custom_state_check_test.go
  pkg/module/def.go
  pkg/module/git/source.go
  pkg/module/gitsource/git.go
  pkg/module/gitsource/git_test.go
  pkg/module/gitsource/source.go
  pkg/module/init.go
  pkg/module/layer.go
  pkg/module/remote.go
  pkg/module/resources.go
  pkg/module/template.go
  pkg/module/template_test.go
  tests/e2e/Makefile
  tests/e2e/kyma_create_module_test.go
  tests/e2e/util.go
Due: pull-cli-lint, pull-cli-integration-test

Configure PR Title linter to impose Conventional Commits spec
  .github/workflows/lint-conventional-prs.yml
  .github/workflows/lint-golangci.yml
Due: none

Configure dependabot to adhere to the Conventional Commits spec
  .github/dependabot.yml
Due: none

Configure markdown files links checker
  .github/workflows/lint-markdown-links.yml
  .mlc.config.json
Due: none

Configure changelog groups for the goreleaser
  .goreleaser.yml
Due: none

chore(infra): Adjust GitHub Action linters (#1780)
  .github/dependabot.yml
  .github/workflows/lint-conventional-prs.yml
  .github/workflows/lint-golangci.yml
  .github/workflows/lint-markdown-links.yml
  .goreleaser.yml
  .mlc.config.json
Due: none

Updating the security scan labels according to the new fields in the security config files (#1776)
  .github/workflows/test-e2e-create-module.yml
  pkg/module/security_scan.go
  tests/e2e/kyma_create_module_test.go
Due: pull-cli-lint, pull-cli-integration-test

Run GH ACtion also on release branches
  .github/workflows/lint-golangci.yml
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-smoke.yml
Due: none

Update reconciler version with Ory reconciler changes for Hydra migration
  go.mod
  go.sum
Due: pull-cli-integration-test

Run GH ACtion also on release branches (#1785)
  .github/workflows/lint-golangci.yml
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-smoke.yml
Due: none

fix go.sum
  go.sum
Due: pull-cli-integration-test

deps: Update reconciler version (#1786)
  go.mod
  go.sum
Due: pull-cli-integration-test

Update docs
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

chore(release): Release 2.18.2 (#1791)
  .github/dependabot.yml
  .github/workflows/lint-conventional-prs.yml
  .github/workflows/lint-golangci.yml
  .github/workflows/lint-markdown-links.yml
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-smoke.yml
  .goreleaser.yml
  .mlc.config.json
  docs/gen-docs/kyma_deploy.md
  go.mod
  go.sum
  internal/config/config.go
  pkg/module/security_scan.go
  tests/e2e/kyma_create_module_test.go
Due: pull-cli-lint, pull-cli-integration-test

Setup e2e tests action
  .github/workflows/test-e2e.yml
  .github/workflows/test-smoke.yml
Due: none

Add go file + make target
  tests/e2e/Makefile
  tests/e2e/kyma_e2e_test.go
Due: pull-cli-lint, pull-cli-integration-test

add Run E2E tests step
  .github/workflows/test-e2e.yml
Due: none

add e2e test
  tests/e2e/kyma_cli_e2e_test.go
  tests/e2e/kyma_e2e_test.go
Due: pull-cli-lint, pull-cli-integration-test

refactor existing E2E tests
  .github/workflows/test-e2e-create-module.yml
  .github/workflows/test-e2e.yml
  go.mod
  tests/e2e/Makefile
  tests/e2e/kyma_cli_e2e_test.go
  tests/e2e/kyma_create_module_test.go
Due: pull-cli-lint, pull-cli-integration-test

remove redundant step in e2e yaml
  .github/workflows/test-e2e.yml
Due: none

trigger the pipeline
  tests/e2e/kyma_cli_e2e_test.go
Due: pull-cli-lint, pull-cli-integration-test

editing go file to trigger pipeline
  tests/e2e/kyma_cli_e2e_test.go
Due: pull-cli-lint, pull-cli-integration-test

fix yaml file
  .github/workflows/test-e2e.yml
Due: none

remove unneeded expect statement
  tests/e2e/kyma_cli_e2e_test.go
Due: pull-cli-lint, pull-cli-integration-test

some fixes
  tests/e2e/kyma_create_module_test.go
Due: pull-cli-lint, pull-cli-integration-test

add suite_test.go
  tests/e2e/suite_test.go
Due: pull-cli-lint, pull-cli-integration-test

ginkgo bootstrap
  go.mod
  go.sum
  tests/e2e/suite_test.go
Due: pull-cli-lint, pull-cli-integration-test
