Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pre-cli-validate-inrepo-prow-configs, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

Path conditions:
  pull-cli-lint: any of: ^(.*\.go$|.golangci.yaml)
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pre-cli-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

Review fix
  cmd/kyma/alpha/create/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

Upgrade default k8s version for k3d provisioning
  cmd/kyma/provision/cmd.go
  docs/gen-docs/kyma_provision_gardener_aws.md
  docs/gen-docs/kyma_provision_gardener_az.md
  docs/gen-docs/kyma_provision_gardener_gcp.md
  docs/gen-docs/kyma_provision_k3d.md
Due: pull-cli-lint, pull-cli-integration-test

Review fix
  cmd/kyma/alpha/create/module/module.go
  docs/gen-docs/kyma_alpha_create_module.md
Due: pull-cli-lint, pull-cli-integration-test

Upgrade default k8s version for k3d provisioning (#1704)
  cmd/kyma/provision/cmd.go
  docs/gen-docs/kyma_provision_gardener_aws.md
  docs/gen-docs/kyma_provision_gardener_az.md
  docs/gen-docs/kyma_provision_gardener_gcp.md
  docs/gen-docs/kyma_provision_k3d.md
Due: pull-cli-lint, pull-cli-integration-test

Add publish-unstable-cli.sh
  prow/publish-unstable-cli.sh
Due: none

Docs update
  docs/gen-docs/kyma_alpha_create_module.md
Due: none

Review fix
  pkg/module/build.go
Due: pull-cli-lint, pull-cli-integration-test

Add security scanner config file for CLI (#1697)
  sec-scanners-config.yaml
Due: none

chmod +x publish-unstable-cli.sh
  prow/publish-unstable-cli.sh
Due: none

Add publish-unstable-cli script for the Prow job (#1705)
  prow/publish-unstable-cli.sh
Due: none

Fix gardener linux image compatibility
  cmd/kyma/provision/cmd.go
Due: pull-cli-lint, pull-cli-integration-test

Updated docs
  docs/gen-docs/kyma_provision_gardener_aws.md
  docs/gen-docs/kyma_provision_gardener_az.md
  docs/gen-docs/kyma_provision_gardener_gcp.md
Due: none

Fix gardener linux image compatibility (#1706)
  cmd/kyma/provision/cmd.go
  docs/gen-docs/kyma_provision_gardener_aws.md
  docs/gen-docs/kyma_provision_gardener_az.md
  docs/gen-docs/kyma_provision_gardener_gcp.md
Due: pull-cli-lint, pull-cli-integration-test

Check type assertions
  .golangci.yml
  Makefile
  cmd/kyma/alpha/enable/module/mock/mock_interactor.go
  cmd/kyma/alpha/list/module/module.go
  internal/cli/alpha/module/module.go
  internal/deploy/bootstrap.go
  internal/deploy/kyma.go
  pkg/errs/common.go
Due: pull-cli-lint, pull-cli-integration-test

remove script + add make targets
  Makefile
  prow/publish-unstable-cli.sh
Due: pull-cli-integration-test

fix make target
  Makefile
Due: pull-cli-integration-test

fix
  Makefile
Due: pull-cli-integration-test

remove new target
  Makefile
Due: pull-cli-integration-test

Revert "remove script + add make targets"
  prow/publish-unstable-cli.sh
Due: none

edit script
  prow/pre-cli-e2e.sh
  prow/publish-unstable-cli.sh
Due: none

edit script
  prow/pre-cli-e2e.sh
Due: none

remove wrong log
  prow/pre-cli-e2e.sh
Due: none

comment undeployment from script
  prow/pre-cli-e2e.sh
Due: none

add todo comment
  prow/pre-cli-e2e.sh
Due: none

Edit prow script (#1708)
  prow/pre-cli-e2e.sh
  prow/publish-unstable-cli.sh
Due: none

Update reconciler to version 31217ab6a174
  go.mod
  go.sum
Due: pull-cli-integration-test

Update reconciler to version 31217ab6a174 (#1709)
  go.mod
  go.sum
Due: pull-cli-integration-test

Change error
  pkg/errs/common.go
Due: pull-cli-lint, pull-cli-integration-test

Fix assertion within map value check
  cmd/kyma/alpha/list/module/module.go
Due: pull-cli-lint, pull-cli-integration-test
