Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pre-cli-validate-inrepo-prow-configs, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

Path conditions:
  pull-cli-lint: any of: ^(.*\.go$|.golangci.yaml)
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pre-cli-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)

Remove nodejs 14, deprecate nodejs16 (#1690)
  cmd/kyma/init/function/function.go
  cmd/kyma/run/function/function.go
  docs/gen-docs/kyma_init_function.md
  go.mod
  go.sum
Due: pull-cli-lint, pull-cli-integration-test

upgrade reconciler version
  go.mod
  go.sum
Due: pull-cli-integration-test

First working version
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/moduleconfig_test.go
  cmd/kyma/alpha/create/module/opts.go
  pkg/module/build.go
  pkg/module/def.go
  pkg/module/git/source.go
  pkg/module/resources.go
Due: pull-cli-lint, pull-cli-integration-test

Fix linter
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/moduleconfig_test.go
Due: pull-cli-lint, pull-cli-integration-test

Fix Linting Issues
  go.sum
  internal/cli/exit_code.go
Due: pull-cli-lint, pull-cli-integration-test

upgrade reconciler version (#1693)
  go.mod
  go.sum
Due: pull-cli-integration-test

Extend Default CR validation
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/opts.go
  pkg/module/build.go
  pkg/module/template.go
  pkg/module/validation.go
Due: pull-cli-lint, pull-cli-integration-test

Fix linter
  pkg/module/validation.go
Due: pull-cli-lint, pull-cli-integration-test

Docs
  cmd/kyma/alpha/create/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

Add deprecation warning, docu fixes.
  cmd/kyma/alpha/create/module/module.go
  docs/gen-docs/kyma_alpha_create.md
  docs/gen-docs/kyma_alpha_create_module.md
Due: pull-cli-lint, pull-cli-integration-test

Improve template generation
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

Cleanup
  pkg/module/resources.go
Due: pull-cli-lint, pull-cli-integration-test

Add security scanner config file
  sec-scanners-config.yaml
Due: none

add new line to file
  sec-scanners-config.yaml
Due: none

module command: Add Error Code for Kyma Warning State (#1692)
  cmd/kyma/alpha/disable/module/module.go
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  cmd/main.go
  go.mod
  go.sum
  internal/cli/alpha/module/errors.go
  internal/cli/alpha/module/module.go
  internal/cli/exit_code.go
  internal/cli/exit_code_test.go
Due: pull-cli-lint, pull-cli-integration-test

Release 2.16
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

Release 2.16 (#1698)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

review fix
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Due: pull-cli-lint, pull-cli-integration-test
