Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pre-cli-validate-inrepo-prow-configs, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

pull-cli-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      command:
      - /bin/sh
      args:
      - -c
  ...

pull-cli-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pre-cli-validate-inrepo-prow-configs:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-cli-validate-inrepo-prow-configs
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
  ...

pull-cli-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/dev/test-infra/ginkgo:PR-6825
      imagePullPolicy: Always
      securityContext:
  ...

pull-cli-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/prow-tools:v20230328-ea7e207a
  ...

pull-cli-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-cli-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230323-3ca21e41
  ...

Updating goreleaser
  .goreleaser.yml
  hack/release.sh
Due: none

Updating goreleaser (#1642)
  .goreleaser.yml
  hack/release.sh
Due: none

cred selector label should save in layer before push to oci image.
  cmd/kyma/alpha/create/module/module.go
  pkg/module/resources.go
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

cred selector label should save in layer before push to oci image. (#1643)
  cmd/kyma/alpha/create/module/module.go
  pkg/module/resources.go
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

bump reconciler
  go.mod
  go.sum
Due: pull-cli-integration-test

bump reconciler (#1644)
  go.mod
  go.sum
Due: pull-cli-integration-test

Release 2.13.2
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

Release 2.13.2 (#1647)
  .goreleaser.yml
  cmd/kyma/alpha/create/module/module.go
  docs/gen-docs/kyma_deploy.md
  go.mod
  go.sum
  hack/release.sh
  internal/config/config.go
  pkg/module/resources.go
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

Change var name
  hack/release.sh
Due: none

Add label to default kyma with alpha deploy command
  internal/deploy/kyma.go
Due: pull-cli-lint, pull-cli-integration-test

Change var name (#1649)
  hack/release.sh
Due: none

Add label to moduleTemplate with alpha create module command
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

Add sync label to samples
  cmd/kyma/alpha/list/module/testdata/kyma_sample.yaml
  cmd/kyma/alpha/list/module/testdata/template_sample.yaml
Due: none

Revert "Add sync label to samples"
  cmd/kyma/alpha/list/module/testdata/kyma_sample.yaml
  cmd/kyma/alpha/list/module/testdata/template_sample.yaml
Due: none

Change GoReleaser Variable Name to fix release cycle
  hack/release.sh
Due: none

Change GoReleaser Variable Name to fix release cycle (#1651)
  hack/release.sh
Due: none

Add sync label to default Kyma and ModuleTemplate (#1650)
  internal/deploy/kyma.go
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

Revert "Add sync label to default Kyma and ModuleTemplate (#1650)"
  internal/deploy/kyma.go
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

Revert "Add sync label to default Kyma and ModuleTemplate (#1650)" (#1652)
  internal/deploy/kyma.go
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

remove stable cli references
  Makefile
  README.md
  hack/release.sh
Due: pull-cli-integration-test

address PR comments
  Makefile
  README.md
  cmd/kyma/kyma.go
  internal/cli/version.go
Due: pull-cli-lint, pull-cli-integration-test

Update README.md
  README.md
Due: none

Revert "Update README.md"
  README.md
Due: none

address PR comments
  README.md
Due: none

Get rid of Stable CLI (#1653)
  Makefile
  README.md
  cmd/kyma/kyma.go
  hack/release.sh
  internal/cli/version.go
Due: pull-cli-lint, pull-cli-integration-test

remove module template managed-by
  cmd/kyma/alpha/list/module/testdata/template_sample.yaml
  internal/kustomize/testdata/expected/manifest.yaml
  internal/kustomize/testdata/given/alpha/template.yaml
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

Control in-kcp-mode flag using target flag + add unit test
  cmd/kyma/alpha/deploy/cmd.go
  internal/deploy/apply.go
  internal/deploy/bootstrap.go
  internal/deploy/bootstrap_test.go
  internal/deploy/module_templates.go
  internal/testdata/manifest.yaml
  internal/testdata/manifestInKcp.yaml
Due: pull-cli-lint, pull-cli-integration-test

bump hydroform image
  go.mod
  go.sum
Due: pull-cli-integration-test

remove mapstructure.Decode and use Deployment structure
  internal/deploy/bootstrap.go
Due: pull-cli-lint, pull-cli-integration-test

fix naming
  internal/deploy/bootstrap.go
Due: pull-cli-lint, pull-cli-integration-test

Check if target is remote
  cmd/kyma/alpha/deploy/cmd.go
Due: pull-cli-lint, pull-cli-integration-test

Update Kyma version and docs
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

Update Kyma version and docs (#1664)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

remove module template managed-by (#1657)
  cmd/kyma/alpha/list/module/testdata/template_sample.yaml
  internal/kustomize/testdata/expected/manifest.yaml
  internal/kustomize/testdata/given/alpha/template.yaml
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

add Makefile command to compile on Apple Silicon
  Makefile
Due: pull-cli-integration-test

add darwin-arm build instruction to global build
  Makefile
Due: pull-cli-integration-test

reorder targets and add comments
  Makefile
Due: pull-cli-integration-test

Replace references from v1beta1 to v1beta2
  cmd/kyma/alpha/deploy/cmd.go
  cmd/kyma/alpha/deploy/cmd_test.go
  cmd/kyma/alpha/disable/module/module.go
  cmd/kyma/alpha/disable/module/module_test.go
  cmd/kyma/alpha/enable/module/mock/mock_interactor.go
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  cmd/kyma/alpha/enable/module/opts.go
  cmd/kyma/alpha/list/module/module.go
  cmd/kyma/alpha/list/module/testdata/kyma_sample.yaml
  cmd/kyma/alpha/list/module/testdata/template_sample.yaml
  go.mod
  go.sum
  internal/cli/alpha/module/module.go
  internal/deploy/kyma.go
  internal/kustomize/testdata/expected/manifest.yaml
  internal/kustomize/testdata/given/alpha/template.yaml
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

change condition + PatchDeploymentWithInKcpModeFlag
  cmd/kyma/alpha/deploy/cmd.go
  internal/deploy/bootstrap.go
Due: pull-cli-lint, pull-cli-integration-test

refactor applyManifests
  internal/deploy/apply.go
  internal/deploy/bootstrap.go
  internal/deploy/bootstrap_test.go
  internal/deploy/module_templates.go
Due: pull-cli-lint, pull-cli-integration-test

Path conditions:
  pull-cli-lint: any of: ^(.*\.go$|.golangci.yaml)
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pre-cli-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)
