Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pre-cli-validate-inrepo-prow-configs, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

Path conditions:
  pull-cli-lint: any of: ^(.*\.go$|.golangci.yaml)
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pre-cli-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)

fix linting
  internal/deploy/bootstrap.go
Due: pull-cli-lint, pull-cli-integration-test

Extend Kyma bootrap with setting sync label depending on kcp-mode
  internal/deploy/kyma.go
Due: pull-cli-lint, pull-cli-integration-test

PR comments
  internal/deploy/bootstrap.go
Due: pull-cli-lint, pull-cli-integration-test

fix condition
  internal/deploy/bootstrap.go
Due: pull-cli-lint, pull-cli-integration-test

PR comments
  internal/deploy/bootstrap.go
  internal/deploy/bootstrap_test.go
Due: pull-cli-lint, pull-cli-integration-test

Control in-kcp-mode flag using target flag (#1663)
  cmd/kyma/alpha/deploy/cmd.go
  internal/deploy/apply.go
  internal/deploy/bootstrap.go
  internal/deploy/bootstrap_test.go
  internal/deploy/module_templates.go
  internal/testdata/manifest.yaml
  internal/testdata/manifestInKcp.yaml
Due: pull-cli-lint, pull-cli-integration-test

Use kcp mode value for bootstrap
  cmd/kyma/alpha/deploy/cmd.go
Due: pull-cli-lint, pull-cli-integration-test

Make v1beta2 default (#1666)
  cmd/kyma/alpha/deploy/cmd.go
  cmd/kyma/alpha/deploy/cmd_test.go
  cmd/kyma/alpha/disable/module/module.go
  cmd/kyma/alpha/disable/module/module_test.go
  cmd/kyma/alpha/enable/module/mock/mock_interactor.go
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  cmd/kyma/alpha/enable/module/opts.go
  cmd/kyma/alpha/list/module/module.go
  cmd/kyma/alpha/list/module/testdata/kyma_sample.yaml
  cmd/kyma/alpha/list/module/testdata/template_sample.yaml
  go.mod
  go.sum
  internal/cli/alpha/module/module.go
  internal/deploy/kyma.go
  internal/kustomize/testdata/expected/manifest.yaml
  internal/kustomize/testdata/given/alpha/template.yaml
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

bump hydroform image (#1660)
  go.mod
  go.sum
Due: pull-cli-integration-test

Release 2.14.1
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

Arm compiler (#1665)
  Makefile
Due: pull-cli-integration-test

Fix raw manifest with single file and no git
  pkg/module/build.go
  pkg/module/def.go
  pkg/module/git/source.go
  pkg/module/layer.go
  pkg/module/resources.go
Due: pull-cli-lint, pull-cli-integration-test

Release 2.14.1 (#1672)
  Makefile
  cmd/kyma/alpha/deploy/cmd.go
  cmd/kyma/alpha/deploy/cmd_test.go
  cmd/kyma/alpha/disable/module/module.go
  cmd/kyma/alpha/disable/module/module_test.go
  cmd/kyma/alpha/enable/module/mock/mock_interactor.go
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  cmd/kyma/alpha/enable/module/opts.go
  cmd/kyma/alpha/list/module/module.go
  cmd/kyma/alpha/list/module/testdata/kyma_sample.yaml
  cmd/kyma/alpha/list/module/testdata/template_sample.yaml
  docs/gen-docs/kyma_deploy.md
  go.mod
  go.sum
  internal/cli/alpha/module/module.go
  internal/config/config.go
  internal/deploy/apply.go
  internal/deploy/bootstrap.go
  internal/deploy/bootstrap_test.go
  internal/deploy/kyma.go
  internal/deploy/module_templates.go
  internal/kustomize/testdata/expected/manifest.yaml
  internal/kustomize/testdata/given/alpha/template.yaml
  internal/testdata/manifest.yaml
  internal/testdata/manifestInKcp.yaml
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

Release 2.14.3
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

Release 2.14.3 (#1675)
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

update kyma dashboard image to artifact registry
  pkg/dashboard/dashboard.go
Due: pull-cli-lint, pull-cli-integration-test

update kyma dashboard image to artifact registry (#1676)
  pkg/dashboard/dashboard.go
Due: pull-cli-lint, pull-cli-integration-test

Initial simple e2e tests setup
  go.mod
  go.sum
  scripts/test/e2e/alpha_command.sh
  tests/e2e/Makefile
  tests/e2e/README.md
  tests/e2e/alpha/alpha_command_test.go
  tests/e2e/alpha/testdata/alpha-ok.golden
  tests/e2e/output/output.go
  tests/e2e/suite_test.go
Due: pull-cli-lint, pull-cli-integration-test

Handle optional serverless dependencies in cli
  cmd/kyma/apply/function/function.go
  go.mod
  go.sum
Due: pull-cli-lint, pull-cli-integration-test

Apply suggestions from code review
  cmd/kyma/apply/function/function.go
Due: pull-cli-lint, pull-cli-integration-test

Bump hydroform
  go.mod
  go.sum
Due: pull-cli-integration-test

fix linter
  cmd/kyma/apply/function/function.go
Due: pull-cli-lint, pull-cli-integration-test

Bump moby and cicl versions to fix vulnerability issues
  go.mod
  go.sum
Due: pull-cli-integration-test

fix linter again
  cmd/kyma/apply/function/function.go
Due: pull-cli-lint, pull-cli-integration-test

Bump moby and cicl versions to fix vulnerability issues (#1680)
  go.mod
  go.sum
Due: pull-cli-integration-test

Update Kyma version & docs
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

Handle optional serverless dependencies in cli (#1679)
  cmd/kyma/apply/function/function.go
  go.mod
  go.sum
Due: pull-cli-lint, pull-cli-integration-test

Bump reconciler lib for Istio 1.18 client update
  go.mod
  go.sum
Due: pull-cli-integration-test

Bump reconciler lib for Istio 1.18 client update (#1682)
  go.mod
  go.sum
Due: pull-cli-integration-test

bump reconciler
  go.mod
  go.sum
Due: pull-cli-integration-test

bump reconciler (#1687)
  go.mod
  go.sum
Due: pull-cli-integration-test

use newest reconciler
  go.mod
  go.sum
Due: pull-cli-integration-test

use newest reconciler (#1688)
  go.mod
  go.sum
Due: pull-cli-integration-test

remove nodejs 14, deprecate nodejs16
  cmd/kyma/init/function/function.go
  cmd/kyma/run/function/function.go
Due: pull-cli-lint, pull-cli-integration-test

Release 2.15.1
  docs/gen-docs/kyma_deploy.md
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

Release 2.15.1 (#1691)
  cmd/kyma/apply/function/function.go
  docs/gen-docs/kyma_deploy.md
  go.mod
  go.sum
  internal/config/config.go
Due: pull-cli-lint, pull-cli-integration-test

module command: Add Error Code for Kyma Warning State
  cmd/kyma/alpha/disable/module/module.go
  cmd/kyma/alpha/enable/module/module.go
  cmd/kyma/alpha/enable/module/module_test.go
  cmd/main.go
  go.mod
  go.sum
  internal/cli/alpha/module/errors.go
  internal/cli/alpha/module/module.go
  internal/cli/exit_code.go
  internal/cli/exit_code_test.go
Due: pull-cli-lint, pull-cli-integration-test

update docs
  docs/gen-docs/kyma_init_function.md
Due: none

update hydroform
  go.mod
  go.sum
Due: pull-cli-integration-test
