Repository kyma-project/cli: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cli-lint, pull-cli-integration-test, pull-cli-checkconfig, pull-cli-pjconfigtest, pull-cli-pjtester, pull-cli-vpathguard

Path conditions:
  pull-cli-lint: any of: ^(.*\.go$|.golangci.yaml)
  pull-cli-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile
  pull-cli-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-cli-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-cli-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-cli-vpathguard: any of: ^(vpath/pjtester.yaml)

Fix some explicitly disabled type assertions
  .golangci.yml
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/list/module/module.go
  internal/deploy/bootstrap_test.go
  pkg/module/template.go
Due: pull-cli-lint, pull-cli-integration-test

Add timeout to make target
  .golangci.yml
  Makefile
Due: pull-cli-integration-test

Update cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/module.go
Due: pull-cli-lint, pull-cli-integration-test

Uncomment kyma undeploy from script
  prow/pre-cli-e2e.sh
Due: none

Debugging script
  prow/pre-cli-e2e.sh
Due: none

Debugging scriptgit
  prow/pre-cli-e2e.sh
Due: none

comment running fast integration tests temporarily
  prow/pre-cli-e2e.sh
Due: none

increase timeout
  prow/pre-cli-e2e.sh
Due: none

add verbosity to the undeploy command
  prow/pre-cli-e2e.sh
Due: none

Review fix
  docs/gen-docs/kyma_alpha_create_module.md
Due: none

rerun pipeline
  prow/pre-cli-e2e.sh
Due: none

increasing timeout
  prow/pre-cli-e2e.sh
Due: none

revert timeout change
  prow/pre-cli-e2e.sh
Due: none

add sleep after integration tests
  prow/pre-cli-e2e.sh
Due: none

Set timeout for lint step
  Makefile
Due: pull-cli-integration-test

remove timeout
  prow/pre-cli-e2e.sh
Due: none

kyma alpha create module using config file (#1694)
  cmd/kyma/alpha/create/module/module.go
  cmd/kyma/alpha/create/module/moduleconfig.go
  cmd/kyma/alpha/create/module/moduleconfig_test.go
  cmd/kyma/alpha/create/module/opts.go
  docs/gen-docs/kyma_alpha_create.md
  docs/gen-docs/kyma_alpha_create_module.md
  pkg/module/build.go
  pkg/module/def.go
  pkg/module/git/source.go
  pkg/module/resources.go
  pkg/module/template.go
  pkg/module/validation.go
Due: pull-cli-lint, pull-cli-integration-test

Remove Config Layer from ModuleTemplate
  pkg/module/kubebuilder/project.go
  pkg/module/resources.go
Due: pull-cli-lint, pull-cli-integration-test

remove fast integration tests
  prow/pre-cli-e2e.sh
Due: none

Add kyma undeploy command to pre submit job (#1711)
  prow/pre-cli-e2e.sh
Due: none

Set timeout in config file
  .golangci.yml
  Makefile
Due: pull-cli-integration-test

Try higher timeout
  .golangci.yml
Due: none

Try gha lint pipeline
  .github/workflows/golangci-lint.yml
Due: none

Try different format
  .github/workflows/golangci-lint.yml
Due: none

Just copy paste from sample
  .github/workflows/golangci-lint.yml
Due: none

Add sample from gh
  .github/workflows/golangci-lint.yml
Due: none

adapt workflow config
  .github/workflows/golangci-lint.yml
Due: none

set verbose
  .github/workflows/golangci-lint.yml
Due: none

pass verbose arg
  .github/workflows/golangci-lint.yml
Due: none

testing standard go gha
  .github/workflows/main.yml
Due: none

shorten version
  .github/workflows/golangci-lint.yml
Due: none

Remove workflow
  .github/workflows/golangci-lint.yml
  .golangci.yml
Due: none

Adapt golangci config
  .golangci.yml
Due: none

Adapt golangci config (#1714)
  .golangci.yml
Due: none

Add gh actions lint workflow
  .github/workflows/pull-cli-lint.yml
Due: none
