Repository kyma-project/kyma-dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-validate-inrepo-prow-configs, pull-kyma-dashboard-pjtester, pull-kyma-dashboard-vpathguard

pre-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

pre-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

post-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

pre-kyma-dashboard-validate-inrepo-prow-configs:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-validate-inrepo-prow-configs
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
  ...

pull-kyma-dashboard-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-kyma-dashboard-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/prow-tools:v20221208-45f25edc
  ...

pull-kyma-dashboard-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-kyma-dashboard-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
  ...

Move alerts under config
  extensions/gateway/apirules.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

deleted lines from configmap & added tests
  environments/dev/extensions.json
  extensions/configuration/dns-providers.yaml
  tests/cypress.json
  tests/tests/namespace/test-dns-providers.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

Fix tests
  extensions/gateway/apirules.yaml
  tests/fixtures/apirules-config-jwt.yaml
  tests/fixtures/apirules-config-read.yaml
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

deleted subscriptions
  extensions/configuration/subscriptions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

EOF
  tests/fixtures/apirules-config-jwt.yaml
  tests/fixtures/apirules-config-read.yaml
Due: none

Fix configuration of accessStrategies (#67)
  environments/dev/env.sh
  extensions/gateway/apirules.yaml
  tests/fixtures/apirules-config-jwt.yaml
  tests/fixtures/apirules-config-read.yaml
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

Bump stage and dev with fixed api rules
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod

adopted to review and new tests
  environments/dev/extensions.json
  extensions/configuration/dns-entries.yaml
  tests/cypress.json
  tests/tests/namespace/test-dns-entries.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

Bump stage and dev with fixed api rules (#69)
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod

fix sidecars
  extensions/istio/sidecars.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

bump dev/stage/prod
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

fix sidecars (#70)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
  extensions/istio/sidecars.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

added tests
  environments/dev/extensions.json
  tests/cypress.json
  tests/tests/namespace/test-issuers.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev

corrected path for extension
  environments/dev/extensions.json
  extensions/configuration/subscriptions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

corrected path for extension
  environments/dev/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev

Bump api rules yaml and busola images
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
  extensions/gateway/apirules.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

Fix tests
  tests/fixtures/apirules-config-jwt.yaml
  tests/fixtures/apirules-config-read.yaml
  tests/tests/namespace/test-api-rules.spec.js
Due: none

Add info
  extensions/gateway/apirules.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

Apply suggestions from code review
  extensions/gateway/apirules.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

Chsnge JWKS Urls to JWKS URLs
  extensions/gateway/apirules.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

Chsnge JWKS Urls to JWKS URLs in tests
  tests/tests/namespace/test-api-rules.spec.js
Due: none

Bump api rules yaml and busola images (#72)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
  extensions/gateway/apirules.yaml
  tests/fixtures/apirules-config-jwt.yaml
  tests/fixtures/apirules-config-read.yaml
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

adjusted env.sh
  environments/dev/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev

removed subscriptions
  extensions/configuration/subscriptions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

removed unnecessary file
  extensions/configuration/dns-providers.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

removed subscriptions.yaml
  extensions/configuration/subscriptions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

first try of configmap
  extensions/configuration/certificates.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

update of configmap
  extensions/configuration/certificates.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

configmap for dnsproviders (#57)
  environments/dev/env.sh
  environments/dev/extensions.json
  extensions/configuration/dns-providers.yaml
  extensions/configuration/subscriptions.yaml
  tests/cypress.json
  tests/tests/namespace/test-dns-providers.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

.
  tests/tests/namespace/test-api-rules.spec.js
Due: none

dev env
  environments/dev/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev

end of line :/
  tests/tests/namespace/test-api-rules.spec.js
Due: none

end of line :/
  environments/dev/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev

updated configmap again
  extensions/configuration/certificates.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

added tests
  tests/cypress.json
  tests/tests/namespace/test-certificates.spec.js
Due: none

Dns entries (#73)
  environments/dev/env.sh
  extensions/configuration/dns-entries.yaml
  tests/cypress.json
  tests/tests/namespace/test-api-rules.spec.js
  tests/tests/namespace/test-dns-entries.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

?
  extensions/configuration/certificates.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

adjusted tests
  tests/support/navigate-to.js
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
Due: none

adjusted tests
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
Due: none

adjusted tests and updated configmap
  extensions/configuration/certificates.yaml
  tests/tests/namespace/test-certificates.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

Path conditions:
  pre-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-kyma-dashboard-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-kyma-dashboard-vpathguard: any of: ^(vpath/pjtester.yaml)
