Repository kyma-project/kyma-dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-validate-inrepo-prow-configs, pull-kyma-dashboard-pjtester, pull-kyma-dashboard-vpathguard

Path conditions:
  pre-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-kyma-dashboard-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-kyma-dashboard-vpathguard: any of: ^(vpath/pjtester.yaml)

Configmap for ServiceInstances (#87)
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
  extensions/service-management/serviceinstances.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

fix: change category, urlPath and statuses
  extensions/service-management/servicebindings.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

fix: extensions json paths
  environments/stage/extensions.json
Due: none

Configmap for ServiceBindings (#85)
  extensions/service-management/servicebindings.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

fix: change badge color
  extensions/configuration/certificates.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

smoke tests for stage and prod (#90)
  .gitignore
  tests/README.md
  tests/cypress-smoke.json
  tests/package.json
  tests/support/check-extension.js
  tests/support/helpers.js
  tests/support/index.js
  tests/tests/cluster/test-check-extensions.spec.js
  tests/tests/namespace/test-check-extensions.spec.js
Due: none

test
  tests/tests/cluster/test-check-extensions.spec.js
Due: none

test
  environments/dev/env.sh
  environments/stage/env.sh
  tests/tests/cluster/test-check-extensions.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev

test: add Certificates to check extensions test
  tests/tests/namespace/test-check-extensions.spec.js
Due: none

test: add Service Bindings and Instances to check extensions test
  tests/tests/namespace/test-check-extensions.spec.js
Due: none

test: wip add tests for service management category
  tests/cypress.json
  tests/fixtures/service-binding-crd.yaml
  tests/fixtures/service-instance-crd.yaml
  tests/tests/namespace/test-check-extensions.spec.js
  tests/tests/namespace/test-service-management.spec.js
Due: none

added smoke test
  tests/tests/namespace/test-check-extensions.spec.js
Due: none

test: link ServiceInstance and Bindings to test directory
  tests/fixtures/examples/service-binding-mock-crd.yaml
  tests/fixtures/examples/service-instance-mock-crd.yaml
  tests/fixtures/examples/servicebindings.yaml
  tests/fixtures/examples/serviceinstances.yaml
Due: none

test: add Service Management tests
  tests/cypress-smoke.json
  tests/cypress.json
  tests/tests/namespace/test-check-extensions.spec.js
  tests/tests/namespace/test-service-management.spec.js
Due: none

added yaml file
  extensions/configuration/subscriptions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

test: fix file name
  tests/cypress-smoke.json
Due: none

test: check whether it works
  tests/tests/namespace/test-service-management.spec.js
Due: none

test: remove Service Management tests
  tests/tests/namespace/test-check-extensions.spec.js
Due: none

test: check whether it works v2
  tests/tests/namespace/test-check-extensions.spec.js
  tests/tests/namespace/test-service-management.spec.js
Due: none

now?
  tests/tests/namespace/test-service-management.spec.js
Due: none

import useCategory
  tests/tests/namespace/test-service-management.spec.js
Due: none

fix: visibility for selectors (#97)
  extensions/istio/authorization-policies.yaml
  extensions/istio/gateways.yaml
  extensions/istio/sidecars.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

change the order of tests
  tests/cypress-smoke.json
Due: none

configmap for certificates (#74)
  extensions/configuration/certificates.yaml
  tests/cypress.json
  tests/tests/namespace/test-certificates.spec.js
  tests/tests/namespace/test-check-extensions.spec.js
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

check if it works
  tests/fixtures/examples/service-management
  tests/fixtures/examples/servicebindings.yaml
  tests/fixtures/examples/serviceinstances.yaml
  tests/tests/namespace/test-service-management.spec.js
Due: none

try to fix something: |
  tests/tests/namespace/test-service-management.spec.js
Due: none

remove 2 lines
  tests/tests/namespace/test-service-management.spec.js
Due: none

bump images and remove service management from extensions
  environments/dev/env.sh
  environments/dev/extensions.json
  environments/prod/env.sh
  environments/prod/extensions.json
  environments/stage/env.sh
  environments/stage/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

bump images and remove service management from extensions (#101)
  environments/dev/env.sh
  environments/dev/extensions.json
  environments/prod/env.sh
  environments/prod/extensions.json
  environments/stage/env.sh
  environments/stage/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

test: adjust CRDs
  tests/fixtures/examples/service-binding-mock-crd.yaml
  tests/fixtures/examples/service-instance-mock-crd.yaml
  tests/tests/namespace/test-service-management.spec.js
Due: none

change expect 2 instead of 4
  tests/tests/namespace/test-service-management.spec.js
Due: none

maybe now?
  tests/tests/namespace/test-service-management.spec.js
Due: none

test
  tests/tests/namespace/test-service-management.spec.js
Due: none

cleanup
  tests/tests/namespace/test-service-management.spec.js
Due: none

bring back previous version
  tests/tests/namespace/test-service-management.spec.js
Due: none

added empty configmap
  extensions/discovery-and-network/horizontal-pod-autoscalers.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod
