Repository kyma-project/kyma-dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod, pull-kyma-dashboard-checkconfig, pull-kyma-dashboard-pjconfigtest, pull-kyma-dashboard-pjtester, pull-kyma-dashboard-vpathguard

pre-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

pre-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-kyma-dashboard-smoke-test-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-smoke-test-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

post-kyma-dashboard-smoke-test-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-smoke-test-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'false'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-kyma-dashboard-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-kyma-dashboard-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-kyma-dashboard-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-test
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

fix: user in dockerfile
  Dockerfile.local.builder
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

feat: bumps fix editing kyma resource
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

feat: change channel for the module, adjust deployments (#344)
  Dockerfile.local.builder
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

feat: add worflow for smoke test stage
  .github/scripts/setup-busola.sh
  .github/workflows/kyma-dashboard-dev-build.yml
  .github/workflows/pull-smoke-test-stage.yml
Due: none

feat: add worflow for smoke test stage
  .github/workflows/pull-smoke-test-stage.yml
Due: none

feat: add worflow for smoke test stage
  .github/workflows/pull-intergation-tests.yml
Due: none

feat: add worflow for smoke test stage
  .github/workflows/pull-intergation-tests.yml
  .github/workflows/pull-smoke-test-stage.yml
Due: none

fix: rename and fir setuping kyma
  .github/scripts/setup-kyma.sh
  .github/workflows/pull-smoke-test-stage.yml
Due: none

fix: remove unused code
  .github/scripts/setup-kyma.sh
Due: none

fix: env
  .github/workflows/pull-intergation-tests.yml
Due: none

add modules tests
  tests/cypress.config.js
  tests/tests/cluster/test-kyma-modules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

fix: rename run
  .github/workflows/pull-smoke-test-stage.yml
Due: none

feat: add worflow for smoke test prod
  .github/workflows/pull-smoke-test-prod.yml
Due: none

fix: rename run
  .github/workflows/pull-smoke-test-prod.yml
Due: none

test?
  .github/scripts/setup-kyma.sh
  tests/cypress.config.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

remove api-gateway module template
  .github/scripts/setup-kyma.sh
Due: none

move module templates?
  .github/scripts/setup-kyma.sh
Due: none

fix module templates
  .github/scripts/setup-kyma.sh
  extensions/modules/api-gateway-regular.yaml
  extensions/modules/eventing-fast.yaml
  extensions/modules/eventing-regular.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

fix & finish tests
  .github/scripts/setup-kyma.sh
  tests/tests/cluster/test-kyma-modules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

fix modules
  .github/scripts/setup-kyma.sh
Due: none

change eventing regular
  extensions/modules/eventing-regular.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

bump
  environments/dev/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

fix list and details test
  tests/tests/cluster/test-kyma-modules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

fix list/details and add retries
  tests/tests/cluster/test-kyma-modules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

add modules to prow
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

review fixes
  tests/tests/cluster/test-kyma-modules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

fix 'no modules' & 'release channel'
  tests/tests/cluster/test-kyma-modules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

change to regular
  tests/tests/cluster/test-kyma-modules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

fix testing no resources & change to fast
  tests/tests/cluster/test-kyma-modules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

fix: fix rename run
  .github/workflows/kyma-dashboard-dev-build.yml
Due: none

fix: EOF
  .github/workflows/kyma-dashboard-dev-build.yml
Due: none

feat: add worflow for smoke test stage and prod (#345)
  .github/scripts/setup-busola.sh
  .github/scripts/setup-kyma.sh
  .github/workflows/kyma-dashboard-dev-build.yml
  .github/workflows/pull-smoke-test-prod.yml
  .github/workflows/pull-smoke-test-stage.yml
Due: none

feat: add tests for Kyma Modules (#346)
  .github/scripts/setup-kyma.sh
  environments/dev/env.sh
  environments/stage/env.sh
  extensions/modules/api-gateway-regular.yaml
  extensions/modules/eventing-fast.yaml
  extensions/modules/eventing-regular.yaml
  tests/cypress.config.js
  tests/scripts/kyma-dashboard-integration.sh
  tests/tests/cluster/test-kyma-modules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

bump: bump busola with fix for modules
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

bump: images
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

fix: tests
  tests/tests/cluster/test-kyma-modules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

Fix tests
  tests/tests/cluster/test-kyma-modules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

Fix tests again
  tests/tests/cluster/test-kyma-modules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

Path conditions:
  pre-kyma-dashboard-dev: (any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile) or (any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/)
  post-kyma-dashboard-dev: (any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile) or (any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/)
  pre-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^/tests/cypress-smoke.json|^/tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  post-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  pull-kyma-dashboard-integration: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  pull-kyma-dashboard-smoke-test-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js|^tests/scripts/
  pull-kyma-dashboard-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-kyma-dashboard-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-kyma-dashboard-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-kyma-dashboard-vpathguard: any of: ^(vpath/pjtester.yaml)
