Repository kyma-project/kyma-dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod, pull-kyma-dashboard-checkconfig, pull-kyma-dashboard-pjconfigtest, pull-kyma-dashboard-pjtester, pull-kyma-dashboard-vpathguard

pre-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

pre-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-kyma-dashboard-smoke-test-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-smoke-test-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

post-kyma-dashboard-smoke-test-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-smoke-test-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'false'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-kyma-dashboard-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-kyma-dashboard-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-kyma-dashboard-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-test
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

revert test search false
  extensions/discovery-and-network/horizontal-pod-autoscalers.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

remove cat
  .github/workflows/kyma-dashboard-dev-build.yml
Due: none

Update kyma.yaml
  extensions/kyma/kyma.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

feat: add dockerfiles for image builder and adjust dev build on gha (#317)
  .github/workflows/kyma-dashboard-dev-build.yml
  Dockerfile.local.builder
  Dockerfile.web.builder
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

fix tags
  .github/workflows/kyma-dashboard-dev-build.yml
Due: none

fix tags for dev build
  .github/workflows/kyma-dashboard-dev-build.yml
Due: none

fix tags for dev build (#327)
  .github/workflows/kyma-dashboard-dev-build.yml
Due: none

fix: move env in dockerfiles
  Dockerfile.backend
  Dockerfile.local.builder
  Dockerfile.web.builder
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

bump image
  environments/prod/env.sh
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pull-kyma-dashboard-smoke-test-prod

bump image (#330)
  environments/prod/env.sh
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pull-kyma-dashboard-smoke-test-prod

fix: echo
  .github/workflows/kyma-dashboard-dev-build.yml
Due: none

feat: modules baner on cluster details
  environments/dev/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

feat: modules baner on cluster details (#331)
  environments/dev/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

wip
  .github/scripts/check-extensions.sh
  .github/workflows/check-extensibility.yml
Due: none

test
  .github/scripts/check-extensions.sh
  .github/workflows/check-extensibility.yml
  extensions/kyma/kyma.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

improve script
  .github/scripts/check-extensions.sh
  .github/workflows/check-extensibility.yml
Due: none

wip
  .github/workflows/check-extensibility.yml
Due: none

wip
  .github/scripts/check-extensions.sh
Due: none

another way to pass status
  .github/scripts/check-extensions.sh
  .github/workflows/check-extensibility.yml
Due: none

git github action for checking extensibility
  .github/scripts/check-extensibility.sh
  .github/workflows/check-extensibility.yml
Due: none

fir path to script
  .github/workflows/check-extensibility.yml
Due: none

chmod
  .github/workflows/check-extensibility.yml
Due: none

fix failing job
  .github/workflows/check-extensibility.yml
Due: none

adjust paths
  .github/workflows/check-extensibility.yml
  extensions/kyma/kyma.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

feat: gha for checking extensibility changes (#324)
  .github/scripts/check-extensibility.sh
  .github/workflows/check-extensibility.yml
Due: none

Update dns-entries.yaml
  extensions/configuration/dns-entries.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

test
  .github/workflows/check-extensibility.yml
Due: none

test
  .github/scripts/check-extensibility.sh
Due: none

test
  extensions/kyma/kyma.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

test
  extensions/configuration/dns-entries.yaml
  extensions/kyma/kyma.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

Path conditions:
  pre-kyma-dashboard-dev: (any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile) or (any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/)
  post-kyma-dashboard-dev: (any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile) or (any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/)
  pre-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^/tests/cypress-smoke.json|^/tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  post-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  pull-kyma-dashboard-integration: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  pull-kyma-dashboard-smoke-test-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js|^tests/scripts/
  pull-kyma-dashboard-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-kyma-dashboard-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-kyma-dashboard-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-kyma-dashboard-vpathguard: any of: ^(vpath/pjtester.yaml)
