Repository kyma-project/kyma-dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-checkconfig, pull-kyma-dashboard-pjconfigtest, pull-kyma-dashboard-pjtester, pull-kyma-dashboard-vpathguard

Path conditions:
  pre-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^/tests/cypress-smoke.json|^/tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  post-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  pull-kyma-dashboard-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-kyma-dashboard-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-kyma-dashboard-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-kyma-dashboard-vpathguard: any of: ^(vpath/pjtester.yaml)

adjust test to new add cluster wizard
  tests/support/login-commands.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix tests
  tests/tests/cluster/test-applications.spec.js
  tests/tests/namespace/a-run-before.spec.js
  tests/tests/namespace/test-authorization-policies.spec.js
  tests/tests/namespace/test-certificates.spec.js
  tests/tests/namespace/test-destination-rules.spec.js
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
  tests/tests/namespace/test-gateways.spec.js
  tests/tests/namespace/test-hpa.spec.js
  tests/tests/namespace/test-issuers.spec.js
  tests/tests/namespace/test-kyma.spec.js
  tests/tests/namespace/test-oauth2.spec.js
  tests/tests/namespace/test-service-entries.spec.js
  tests/tests/namespace/test-services.spec.js
  tests/tests/namespace/test-sidecars.spec.js
  tests/tests/namespace/test-virtual-services.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix tests
  tests/support/commands.js
  tests/support/inspect-list.js
  tests/tests/namespace/test-authorization-policies.spec.js
  tests/tests/namespace/test-certificates.spec.js
  tests/tests/namespace/test-destination-rules.spec.js
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
  tests/tests/namespace/test-gateways.spec.js
  tests/tests/namespace/test-hpa.spec.js
  tests/tests/namespace/test-issuers.spec.js
  tests/tests/namespace/test-kyma.spec.js
  tests/tests/namespace/test-oauth2.spec.js
  tests/tests/namespace/test-service-entries.spec.js
  tests/tests/namespace/test-services.spec.js
  tests/tests/namespace/test-sidecars.spec.js
  tests/tests/namespace/test-virtual-services.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix tests
  tests/support/commands.js
  tests/tests/namespace/test-oauth2.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix the rest of the tests
  tests/support/commands.js
  tests/support/inspect-list.js
  tests/tests/namespace/test-authorization-policies.spec.js
  tests/tests/namespace/test-certificates.spec.js
  tests/tests/namespace/test-destination-rules.spec.js
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
  tests/tests/namespace/test-gateways.spec.js
  tests/tests/namespace/test-hpa.spec.js
  tests/tests/namespace/test-issuers.spec.js
  tests/tests/namespace/test-kyma.spec.js
  tests/tests/namespace/test-oauth2.spec.js
  tests/tests/namespace/test-service-entries.spec.js
  tests/tests/namespace/test-services.spec.js
  tests/tests/namespace/test-sidecars.spec.js
  tests/tests/namespace/test-virtual-services.spec.js
  tests/tests/namespace/z-run-after.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

bump wait
  tests/support/inspect-list.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix
  tests/support/inspect-list.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

feat: change wizard to resourceButton (#277)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
  extensions/kyma/kyma.yaml
  tests/support/commands.js
  tests/support/inspect-list.js
  tests/support/login-commands.js
  tests/tests/cluster/test-applications.spec.js
  tests/tests/namespace/a-run-before.spec.js
  tests/tests/namespace/test-authorization-policies.spec.js
  tests/tests/namespace/test-certificates.spec.js
  tests/tests/namespace/test-destination-rules.spec.js
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
  tests/tests/namespace/test-gateways.spec.js
  tests/tests/namespace/test-hpa.spec.js
  tests/tests/namespace/test-issuers.spec.js
  tests/tests/namespace/test-kyma.spec.js
  tests/tests/namespace/test-oauth2.spec.js
  tests/tests/namespace/test-service-entries.spec.js
  tests/tests/namespace/test-services.spec.js
  tests/tests/namespace/test-sidecars.spec.js
  tests/tests/namespace/test-virtual-services.spec.js
  tests/tests/namespace/z-run-after.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Bump images
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

take commands, login command from busola and remove click on advance
  tests/support/commands.js
  tests/support/login-commands.js
  tests/tests/namespace/a-run-before.spec.js
  tests/tests/namespace/test-oauth2.spec.js
  tests/tests/namespace/test-service-entries.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Fix run before, add commands, fix authorisation policies
  tests/support/create-edit-support.js
  tests/support/helpers.js
  tests/support/index.js
  tests/support/inspect-list.js
  tests/support/inspectTab.js
  tests/tests/namespace/a-run-before.spec.js
  tests/tests/namespace/test-authorization-policies.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix run-after
  tests/tests/namespace/z-run-after.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

inspectList, VS, sidecars, services, SE, oauth, issuers
  tests/support/inspect-list.js
  tests/tests/namespace/test-issuers.spec.js
  tests/tests/namespace/test-oauth2.spec.js
  tests/tests/namespace/test-service-entries.spec.js
  tests/tests/namespace/test-services.spec.js
  tests/tests/namespace/test-sidecars.spec.js
  tests/tests/namespace/test-virtual-services.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

dns entries, gateways, hpa, one more exception
  tests/support/exceptions.js
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-gateways.spec.js
  tests/tests/namespace/test-hpa.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

dns providers, ap, certificates, dr
  tests/tests/namespace/test-authorization-policies.spec.js
  tests/tests/namespace/test-certificates.spec.js
  tests/tests/namespace/test-destination-rules.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Fix virtual services
  tests/tests/namespace/test-virtual-services.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

column layout and test adjustments (#271)
  environments/dev/config.yaml
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
  tests/support/commands.js
  tests/support/create-edit-support.js
  tests/support/exceptions.js
  tests/support/helpers.js
  tests/support/index.js
  tests/support/inspect-list.js
  tests/support/inspectTab.js
  tests/support/login-commands.js
  tests/tests/namespace/a-run-before.spec.js
  tests/tests/namespace/test-authorization-policies.spec.js
  tests/tests/namespace/test-certificates.spec.js
  tests/tests/namespace/test-destination-rules.spec.js
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
  tests/tests/namespace/test-gateways.spec.js
  tests/tests/namespace/test-hpa.spec.js
  tests/tests/namespace/test-issuers.spec.js
  tests/tests/namespace/test-oauth2.spec.js
  tests/tests/namespace/test-service-entries.spec.js
  tests/tests/namespace/test-services.spec.js
  tests/tests/namespace/test-sidecars.spec.js
  tests/tests/namespace/test-virtual-services.spec.js
  tests/tests/namespace/z-run-after.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bumps
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bumps (#278)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

enable column layout on stage
  environments/stage/config.yaml
Due: pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage

enable column layout on prod
  environments/prod/config.yaml
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod

feat: enable column layout for stage and prod (#279)
  environments/prod/config.yaml
  environments/stage/config.yaml
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage

bump
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bump (#280)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

empty space
  environments/prod/env.sh
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod

bump
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage

fix: sidenav paddings (#281)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

fix serive instanes, bindings and application docs links
  extensions/applicationconnector/applications.yaml
  extensions/service-management/servicebindings.yaml
  extensions/service-management/serviceinstances.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

fix serive instanes, bindings and application docs links (#282)
  extensions/applicationconnector/applications.yaml
  extensions/service-management/servicebindings.yaml
  extensions/service-management/serviceinstances.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bumps (#283)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Bump busola
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Bump busola (#284)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

add customUrl
  extensions/kyma/kyma.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

rename
  extensions/kyma/kyma.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

feat: adjusted FeatureCard banners
  extensions/kyma/kyma.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test
