Repository kyma-project/kyma-dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-checkconfig, pull-kyma-dashboard-pjconfigtest, pull-kyma-dashboard-pjtester, pull-kyma-dashboard-vpathguard

pre-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

pre-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-kyma-dashboard-smoke-test-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-smoke-test-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

post-kyma-dashboard-smoke-test-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-smoke-test-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'false'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-kyma-dashboard-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-kyma-dashboard-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-kyma-dashboard-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-test
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

Add more information on timeout value in display section
  extensions/gateway/apirules.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Click on last rule
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

first
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Collapse rules
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Update extensions/gateway/apirules.yaml
  extensions/gateway/apirules.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Adds timeout property to APIRule UI extension (#220)
  extensions/gateway/apirules.yaml
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

fix: service instances and bidings language
  extensions/service-management/servicebindings.yaml
  extensions/service-management/serviceinstances.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

fix: service instances and bidings language (#222)
  extensions/service-management/servicebindings.yaml
  extensions/service-management/serviceinstances.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

remove enum
  extensions/configuration/dns-entries.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

fix test for dns entries
  tests/tests/namespace/test-dns-entries.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

remove enum for target adress (#223)
  extensions/configuration/dns-entries.yaml
  tests/tests/namespace/test-dns-entries.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

change source and state
  extensions/kyma/kyma.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bumps
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bumps (#225)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

change source and state (#224)
  extensions/kyma/kyma.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Notification about OAuth2Clients deprecation
  extensions/configuration/oauth2.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

fix links for log parsers and log pipelines
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

trying to fix
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix oauth2
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

typo
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

adjust script
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix script
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix links for log parsers and log pipelines (#228)
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

add telemetry tracepipeline config, remove logparser
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

test fix
  tests/tests/cluster/test-check-extensions.spec.js
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

In progress
  extensions/configuration/oauth2.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

add telemetry tracepipeline config, remove logparser (#229)
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
  tests/tests/cluster/test-check-extensions.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Tests
  extensions/configuration/oauth2.yaml
  tests/tests/namespace/test-oauth2.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Update description
  extensions/configuration/oauth2.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Update extensions/configuration/oauth2.yaml
  extensions/configuration/oauth2.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Exclude kyma-system
  extensions/configuration/oauth2.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Post-review changes
  extensions/configuration/oauth2.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Notification about OAuth2Clients deprecation (#227)
  extensions/configuration/oauth2.yaml
  tests/tests/namespace/test-oauth2.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bump
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bump (#230)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Change API Rule version in services to v1beta1
  extensions/discovery-and-network/services.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

update functions
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Path conditions:
  pre-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^/tests/cypress-smoke.json|^/tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  post-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  pull-kyma-dashboard-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-kyma-dashboard-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-kyma-dashboard-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-kyma-dashboard-vpathguard: any of: ^(vpath/pjtester.yaml)
