Repository kyma-project/kyma-dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-checkconfig, pull-kyma-dashboard-pjconfigtest, pull-kyma-dashboard-pjtester, pull-kyma-dashboard-vpathguard

pre-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

pre-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-kyma-dashboard-smoke-test-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-smoke-test-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

post-kyma-dashboard-smoke-test-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-smoke-test-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'false'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-kyma-dashboard-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-kyma-dashboard-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-kyma-dashboard-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-test
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

stabilize cypress tests (#245)
  tests/support/helpers.js
  tests/support/views/functions-view.js
  tests/tests/namespace/a-run-before.spec.js
  tests/tests/namespace/test-authorization-policies.spec.js
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
  tests/tests/namespace/test-gateways.spec.js
  tests/tests/namespace/test-hpa.spec.js
  tests/tests/namespace/test-issuers.spec.js
  tests/tests/namespace/test-oauth2.spec.js
  tests/tests/namespace/test-virtual-services.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Bump images
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Revert backend
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Bump images to older image
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bump with latest images
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

fix subscriptions link
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

fix backend hash
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

workaround for deploying kyma cluster
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

apply istio module
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

apply eventing module
  tests/fixtures/eventing-module-template.yaml
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

idk what I'm doing
  tests/fixtures/eventing-module-template.yaml
  tests/scripts/kyma-dashboard-integration.sh
  tests/tests/cluster/test-check-extensions.spec.js
  tests/tests/namespace/test-check-extensions.spec.js
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

idk what I'm doing
  tests/scripts/kyma-dashboard-integration.sh
  tests/tests/cluster/test-check-extensions.spec.js
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

idk what I'm doing
  tests/scripts/kyma-dashboard-integration.sh
  tests/tests/namespace/test-check-extensions.spec.js
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

comment application test for now
  tests/cypress.config.js
  tests/tests/cluster/test-check-extensions.spec.js
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

remove target port from tests
  tests/tests/namespace/test-gateways.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

bump to latest images
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Bump images (#248)
  environments/dev/env.sh
  environments/dev/extensions.json
  environments/prod/env.sh
  environments/prod/extensions.json
  environments/stage/env.sh
  environments/stage/extensions.json
  tests/cypress.config.js
  tests/scripts/kyma-dashboard-integration.sh
  tests/tests/cluster/test-check-extensions.spec.js
  tests/tests/namespace/test-check-extensions.spec.js
  tests/tests/namespace/test-gateways.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

removed observability
  environments/dev/config.yaml
  environments/dev/extensions.json
  environments/prod/config.yaml
  environments/prod/extensions.json
  environments/stage/config.yaml
  environments/stage/extensions.json
  tests/tests/cluster/test-check-extensions.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

reverted deletion of trace and logpipelines
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

reverted deletion of trace and logpipelines tests
  tests/tests/cluster/test-check-extensions.spec.js
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

changed telemetry mmoodul installation
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

remove observability (#249)
  environments/dev/config.yaml
  environments/prod/config.yaml
  environments/stage/config.yaml
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bumps
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bumps (#250)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bumps node 20 and prometheus removal
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

update cypress
  tests/package.json
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

npm i for tests
  tests/package-lock.json
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

bumps node 20 and prometheus removal (#251)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
  tests/package-lock.json
  tests/package.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

add chriskari as a codeowner
  CODEOWNERS
  OWNERS_ALIASES
Due: none

bumps (#252)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

use snow version
  .gitignore
  environments/dev/config.yaml
  environments/dev/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test

fix new line
  environments/dev/config.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test

add chriskari as a codeowner (#253)
  CODEOWNERS
  OWNERS_ALIASES
Due: none

bump stage
  environments/stage/config.yaml
  environments/stage/env.sh
Due: pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage

Bump busola on dev with snow (#254)
  .gitignore
  environments/dev/config.yaml
  environments/dev/env.sh
  environments/stage/config.yaml
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bump
  environments/dev/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bump (#255)
  environments/dev/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bumps and remove snow from config
  environments/dev/config.yaml
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/config.yaml
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Path conditions:
  pre-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^/tests/cypress-smoke.json|^/tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  post-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  pull-kyma-dashboard-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-kyma-dashboard-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-kyma-dashboard-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-kyma-dashboard-vpathguard: any of: ^(vpath/pjtester.yaml)
