Repository kyma-project/kyma-dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-validate-inrepo-prow-configs, pull-kyma-dashboard-pjtester, pull-kyma-dashboard-vpathguard

pre-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

pre-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

post-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

pre-kyma-dashboard-validate-inrepo-prow-configs:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-validate-inrepo-prow-configs
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
  ...

pull-kyma-dashboard-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-kyma-dashboard-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/prow-tools:v20221208-45f25edc
  ...

pull-kyma-dashboard-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-kyma-dashboard-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
  ...

Update Dockerfile.local
  Dockerfile.local
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

Update Dockerfile.local (#48)
  Dockerfile.local
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

update extensions
  extensions/gateway/apirules.yaml
  extensions/istio/authorization-policies.yaml
  extensions/istio/gateways.yaml
  extensions/istio/service-entries.yaml
  extensions/istio/sidecars.yaml
  extensions/istio/virtual-services.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

bump dev/stage/prod and fix configs
  environments/dev/env.sh
  environments/prod/config.yaml
  environments/prod/env.sh
  environments/stage/config.yaml
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

revert prod
  environments/prod/env.sh
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod

revert prod
  environments/prod/config.yaml
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod

gardener login
  environments/dev/config.yaml
  environments/dev/env.sh
  environments/prod/config.yaml
  environments/stage/config.yaml
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

bump
  environments/dev/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev

flags-in-children, refreshing-oidc and gardener login (#50)
  environments/dev/config.yaml
  environments/dev/env.sh
  environments/prod/config.yaml
  environments/stage/config.yaml
  environments/stage/env.sh
  extensions/gateway/apirules.yaml
  extensions/istio/authorization-policies.yaml
  extensions/istio/gateways.yaml
  extensions/istio/service-entries.yaml
  extensions/istio/sidecars.yaml
  extensions/istio/virtual-services.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

lint
  .prettierignore
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
  extensions/istio/destination-rules.yaml
  package.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

bump dev/stage/prod, fix lint (#52)
  .prettierignore
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
  extensions/istio/destination-rules.yaml
  package.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

add dns prov
  extensions/configuration/dns-providers.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

first setup of cypress
  .gitignore
  tests/config.js
  tests/cypress.json
  tests/fixtures/in-cluster-eventing-publisher-dependencies.json
  tests/fixtures/in-cluster-eventing-publisher.js
  tests/fixtures/in-cluster-eventing-receiver-dependencies.json
  tests/fixtures/in-cluster-eventing-receiver.js
  tests/fixtures/orders-function-dependencies.json
  tests/package-lock.json
  tests/package.json
  tests/plugins/index.js
  tests/support/commands.js
  tests/support/createNamespace.js
  tests/support/exceptions.js
  tests/support/helpers.js
  tests/support/index.js
  tests/support/inspect-list.js
  tests/support/loadFile.js
  tests/support/login-commands.js
  tests/support/mockConfig.js
  tests/support/navigate-to.js
  tests/support/paste-to-monaco.js
  tests/support/views/api-rules-view.js
  tests/support/views/functions-view.js
  tests/tests/cluster/run-after.spec.js
  tests/tests/cluster/run-before.spec.js
  tests/tests/namespace/run-after.spec.js
  tests/tests/namespace/run-before.spec.js
Due: none

add gitignore to prettierignore
  .prettierignore
Due: none

run test on docker localhost and remove mocking
  tests/config.js
  tests/tests/cluster/run-after.spec.js
  tests/tests/cluster/run-before.spec.js
Due: none

move tests for extension views from busola
  tests/tests/cluster/test-applications.spec.js
  tests/tests/namespace/run-prepare-functions.spec.js
  tests/tests/namespace/test-api-rules.spec.js
  tests/tests/namespace/test-authorization-policies.spec.js
  tests/tests/namespace/test-destination-rules.spec.js
  tests/tests/namespace/test-gateways.spec.js
  tests/tests/namespace/test-in-cluster-eventing.spec.js
  tests/tests/namespace/test-service-entries.spec.js
  tests/tests/namespace/test-sidecars.spec.js
  tests/tests/namespace/test-virtual-services.spec.js
Due: none

adjust cypress.json
  tests/cypress.json
Due: none

add readme for tests and remove some unnecesary functions
  tests/README.md
  tests/support/createNamespace.js
  tests/support/index.js
  tests/support/mockConfig.js
Due: none

configmap for dnsproviders
  extensions/configuration/dns-providers.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

added dns Entries as an Extention
  extensions/configuration/dns-entries.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

remove unnecesary commends in package.json and add readme for tests
  tests/README.md
  tests/package.json
Due: none

EOF
  .gitignore
Due: none

remove unnecesary function
  tests/support/commands.js
Due: none

fix readme
  tests/README.md
Due: none

configmap for issuers
  extensions/configuration/issuers.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

remove Daria and Piotr as CODEOWNERS :sadcat:
  .prettierignore
  CODEOWNERS
Due: none

fix f***in prettier
  CODEOWNERS
Due: none

adjust tests
  tests/README.md
  tests/config.js
  tests/package.json
Due: none

remove Daria and Piotr as CODEOWNERS :sadcat: (#61)
  .prettierignore
  CODEOWNERS
Due: none

Tests (#56)
  .gitignore
  .prettierignore
  tests/README.md
  tests/config.js
  tests/cypress.json
  tests/fixtures/in-cluster-eventing-publisher-dependencies.json
  tests/fixtures/in-cluster-eventing-publisher.js
  tests/fixtures/in-cluster-eventing-receiver-dependencies.json
  tests/fixtures/in-cluster-eventing-receiver.js
  tests/fixtures/orders-function-dependencies.json
  tests/package-lock.json
  tests/package.json
  tests/plugins/index.js
  tests/support/commands.js
  tests/support/exceptions.js
  tests/support/helpers.js
  tests/support/index.js
  tests/support/inspect-list.js
  tests/support/loadFile.js
  tests/support/login-commands.js
  tests/support/mockConfig.js
  tests/support/navigate-to.js
  tests/support/paste-to-monaco.js
  tests/support/views/api-rules-view.js
  tests/support/views/functions-view.js
  tests/tests/cluster/run-after.spec.js
  tests/tests/cluster/run-before.spec.js
  tests/tests/cluster/test-applications.spec.js
  tests/tests/namespace/run-after.spec.js
  tests/tests/namespace/run-before.spec.js
  tests/tests/namespace/run-prepare-functions.spec.js
  tests/tests/namespace/test-api-rules.spec.js
  tests/tests/namespace/test-authorization-policies.spec.js
  tests/tests/namespace/test-destination-rules.spec.js
  tests/tests/namespace/test-gateways.spec.js
  tests/tests/namespace/test-in-cluster-eventing.spec.js
  tests/tests/namespace/test-service-entries.spec.js
  tests/tests/namespace/test-sidecars.spec.js
  tests/tests/namespace/test-virtual-services.spec.js
Due: none

remove unnecesary external nodes
  environments/dev/config.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev

bumps
  environments/dev/config.yaml
  environments/dev/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev

bumps
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod

Dev push (#63)
  environments/dev/config.yaml
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

add missing description to apps
  extensions/applicationconnector/applications.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

add missing description to apps (#64)
  extensions/applicationconnector/applications.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

Fix configuration of accessStrategies
  extensions/gateway/apirules.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

no message
  environments/dev/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev

Bump dev image
  environments/dev/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev

Bump dev with proper image
  environments/dev/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev

Path conditions:
  pre-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-kyma-dashboard-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-kyma-dashboard-vpathguard: any of: ^(vpath/pjtester.yaml)
