Repository kyma-project/kyma-dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pre-kyma-dashboard-validate-inrepo-prow-configs, pull-kyma-dashboard-pjconfigtest, pull-kyma-dashboard-pjtester, pull-kyma-dashboard-vpathguard

Path conditions:
  pre-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^/tests/cypress-smoke.json|^/tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  post-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  pre-kyma-dashboard-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-kyma-dashboard-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-kyma-dashboard-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-kyma-dashboard-vpathguard: any of: ^(vpath/pjtester.yaml)

Add docs link on edit and in wizard (#179)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
  extensions/kyma/kyma.yaml
  extensions/wizards/module-wizard.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

adjust enum function to allow only to choose option once
  extensions/kyma/kyma.yaml
  extensions/wizards/module-wizard.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Add version to module template details and list, add to edit and wizard
  extensions/kyma/kyma.yaml
  extensions/kyma/moduleTemplate.yaml
  extensions/wizards/module-wizard.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

adjust enum function to allow only to choose option once (#182)
  extensions/kyma/kyma.yaml
  extensions/wizards/module-wizard.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Merge with latest changes to not display selected modules
  extensions/kyma/kyma.yaml
  extensions/wizards/module-wizard.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Bump images
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Add version to module template details and list, add to edit and wizard (#183)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
  extensions/kyma/kyma.yaml
  extensions/kyma/moduleTemplate.yaml
  extensions/wizards/module-wizard.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bumps
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

bumps (#184)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Show version in channel not name
  extensions/kyma/kyma.yaml
  extensions/wizards/module-wizard.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

move serverless to link and remove unnecesary files
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
  extensions/serverless/functions.yaml
  tests/tests/namespace/test-in-cluster-eventing.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Show version in channel not name (#185)
  extensions/kyma/kyma.yaml
  extensions/wizards/module-wizard.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

move serverless to link and remove unnecesary files (#186)
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
  extensions/serverless/functions.yaml
  tests/tests/namespace/test-in-cluster-eventing.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Add link for documentation on the cluster details injection for kyma
  extensions/kyma/kyma.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Add link for documentation on the cluster details injection for kyma (#187)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
  extensions/kyma/kyma.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

add link do subs from module
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

remove subscription extension
  extensions/configuration/subscriptions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

fix link to subs
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

move subscription extension to link (#188)
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
  extensions/configuration/subscriptions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

move kyma version test
  tests/cypress.json
  tests/tests/cluster/test-kyma-version.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Enable extensibility wizard and injections on. prod
  environments/prod/config.yaml
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod

Remove duplications
  extensions/configuration/oauth2.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Enable extensibility wizard and injections on prod (#190)
  environments/prod/config.yaml
  extensions/configuration/oauth2.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

trying to fix gardener changes
  tests/support/login-commands.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

trying to fix tests:
  tests/tests/namespace/test-certificates.spec.js
  tests/tests/namespace/test-oauth2.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix docker image and remote kyma-version test from cypress json
  README.md
  tests/cypress.json
  tests/package.json
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

add waits in case of random failing out of DOM
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

remove unsupported stuff from configs
  environments/dev/config.yaml
  environments/prod/config.yaml
  environments/stage/config.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

test fix for gardener
  tests/support/login-commands.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

move kyma version test (#189)
  README.md
  tests/package.json
  tests/support/login-commands.js
  tests/tests/cluster/test-kyma-version.spec.js
  tests/tests/namespace/test-certificates.spec.js
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
  tests/tests/namespace/test-oauth2.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix tests
  tests/support/login-commands.js
  tests/support/navigate-to.js
  tests/tests/namespace/test-authorization-policies.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

remove
  tests/tests/namespace/test-certificates.spec.js
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
  tests/tests/namespace/test-oauth2.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

bump cypress, adjust configs and tests
  tests/cypress.config.js
  tests/cypress.json
  tests/package-lock.json
  tests/package.json
  tests/tests/cluster/run-after.spec.js
  tests/tests/cluster/run-before.spec.js
  tests/tests/cluster/test-applications.spec.js
  tests/tests/namespace/a-run-before.spec.js
  tests/tests/namespace/z-run-after.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

add clearing storage and storage
  tests/support/login-commands.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

add kyma-dashboard-integration script
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix path
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

chmod
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test
