Repository kyma-project/kyma-dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-validate-inrepo-prow-configs, pull-kyma-dashboard-pjtester, pull-kyma-dashboard-vpathguard

Path conditions:
  pre-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-kyma-dashboard-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-kyma-dashboard-vpathguard: any of: ^(vpath/pjtester.yaml)

prettified code
  extensions/configuration/issuers.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

bump dev/stage/prod with cluster auth fix
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

bump images
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

improve lint hook
  package.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

tried to fix test issue
  tests/tests/namespace/test-certificates.spec.js
Due: none

re-bump build version
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

fixed issue with tests
  tests/tests/namespace/test-certificates.spec.js
Due: none

bump images (#76)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
  package.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

adding tests and yaml file
  extensions/configuration/oauth2.yaml
  tests/cypress.json
  tests/tests/namespace/test-oauth2.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

fixes
  extensions/configuration/issuers.yaml
  tests/tests/namespace/test-issuers.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

bump dev
  environments/dev/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev

a little bit more fixes
  extensions/configuration/issuers.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

and some more fixes
  tests/tests/namespace/test-issuers.spec.js
Due: none

how the hell I still need to add it
  tests/support/navigate-to.js
Due: none

Issuers (#79)
  environments/dev/env.sh
  extensions/configuration/issuers.yaml
  tests/cypress.json
  tests/support/navigate-to.js
  tests/tests/namespace/test-api-rules.spec.js
  tests/tests/namespace/test-issuers.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

fix everything and bump hash
  environments/prod/env.sh
  environments/prod/extensions.json
  environments/stage/env.sh
  environments/stage/extensions.json
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod

fix everything and bump hash (#80)
  environments/prod/env.sh
  environments/prod/extensions.json
  environments/stage/env.sh
  environments/stage/extensions.json
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod

bump images (#81)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

removed old encoded-switch
  extensions/configuration/certificates.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

configmap for servicebindings
  extensions/configuration/servicebindings.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

vasil cm:
  extensions/kamaratospolicies.yaml
  extensions/kamarotosclusterreports.yaml
  extensions/trivyreports.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

enagle istio
  environments/dev/config.yaml
  environments/prod/config.yaml
  environments/stage/config.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

enagle istio (#84)
  environments/dev/config.yaml
  environments/prod/config.yaml
  environments/stage/config.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

added translations
  extensions/configuration/certificates.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

translation for decodable placeholder
  extensions/configuration/certificates.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

added translations
  extensions/configuration/servicebindings.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

updated configmap and added tests
  extensions/configuration/servicebindings.yaml
  tests/cypress.json
  tests/tests/namespace/test-service-bindings.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

updated configmap and tests
  extensions/configuration/certificates.yaml
  tests/tests/namespace/test-certificates.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

adjusted configmap to requested changes
  extensions/configuration/certificates.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

removed tests again since we don't necessarily need them
  tests/tests/namespace/test-service-bindings.spec.js
Due: none

configmap for serviceinstances
  extensions/configuration/serviceinstances.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

bump envs
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

bump envs (#86)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

added multicheckbox
  extensions/configuration/oauth2.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

adjusted ResourceLink for Secrets
  extensions/configuration/certificates.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod

removed tests from cypress.json
  tests/cypress.json
Due: none

Update kyma.yaml
  extensions/kyma/kyma.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod
