Repository kyma-project/kyma-dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-validate-inrepo-prow-configs, pull-kyma-dashboard-pjconfigtest, pull-kyma-dashboard-pjtester, pull-kyma-dashboard-vpathguard

pre-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

pre-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

post-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

pre-kyma-dashboard-smoke-test-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-smoke-test-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

post-kyma-dashboard-smoke-test-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-smoke-test-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'false'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-kyma-dashboard-validate-inrepo-prow-configs:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-validate-inrepo-prow-configs
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
  ...

pull-kyma-dashboard-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-kyma-dashboard-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/dev/test-infra/ginkgo:PR-6825
      imagePullPolicy: Always
  ...

pull-kyma-dashboard-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-kyma-dashboard-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
  ...

bumps
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

bumps (#120)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

service yaml file
  extensions/Discovery and Network/services.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

added Translation
  extensions/Discovery and Network/services.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

adopted to requested changes and improvements
  extensions/configuration/subscriptions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

bumps (#122)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

little changes
  extensions/Discovery and Network/services.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

added Tests
  extensions/configuration/subscriptions.yaml
  tests/cypress.json
  tests/tests/namespace/test-subscriptions.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

fix related gateways
  extensions/gateway/apirules.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

adjusted tests
  tests/tests/namespace/test-check-extensions.spec.js
  tests/tests/namespace/test-subscriptions.spec.js
Due: pre-kyma-dashboard-smoke-test-stage

deleted a ; by mistake :(
  tests/tests/namespace/test-check-extensions.spec.js
Due: pre-kyma-dashboard-smoke-test-stage

further test adjustments
  tests/tests/namespace/test-subscriptions.spec.js
Due: none

implementation for create view
  extensions/discovery-and-network/horizontal-pod-autoscalers.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

added translations
  extensions/discovery-and-network/horizontal-pod-autoscalers.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

correct URL & added tests
  extensions/discovery-and-network/horizontal-pod-autoscalers.yaml
  tests/cypress.json
  tests/tests/namespace/test-hpa.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

adjusted tests & configmap
  extensions/discovery-and-network/horizontal-pod-autoscalers.yaml
  tests/tests/namespace/test-hpa.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

added to extensions.json
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

fix related gateways (#123)
  extensions/gateway/apirules.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

adjusted the tests at the right spot and removed tests file
  tests/tests/namespace/test-in-cluster-eventing.spec.js
  tests/tests/namespace/test-subscriptions.spec.js
Due: none

Disable EXTENSIBILITY_WIDGETS on dev, stage and pod
  environments/dev/config.yaml
  environments/prod/config.yaml
  environments/stage/config.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

Deprecate nodejs14, introduce nodejs18 runtime
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

Use Subscription v1alpha2 from the Function page.
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

forgot extensions.json
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

cleanup translations, add template preset and readOnly atributes
  environments/dev/extensions.json
  environments/prod/extensions.json
  environments/stage/extensions.json
  extensions/configuration/subscriptions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

adjust advanced view to look as previously and added placeholder with input info
  extensions/configuration/subscriptions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

fix controlledBy
  extensions/configuration/subscriptions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

change general to proper destination
  extensions/configuration/subscriptions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

adjust tests
  tests/tests/namespace/test-in-cluster-eventing.spec.js
Due: none

add one more trigger
  extensions/configuration/subscriptions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

remove unnecesay clicking
  tests/tests/namespace/test-in-cluster-eventing.spec.js
Due: none

fix tests
  extensions/subsciptions2.yaml
  tests/tests/namespace/test-in-cluster-eventing.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

remove subs2
  extensions/subsciptions2.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

bumps (#128)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

change namespace for sink
  extensions/configuration/subscriptions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

Ext Subscriptions (#100)
  extensions/configuration/subscriptions.yaml
  tests/cypress.json
  tests/tests/namespace/test-check-extensions.spec.js
  tests/tests/namespace/test-in-cluster-eventing.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

remove Lyczeq and add valentin and cleanup mess
  CODEOWNERS
  OWNERS_ALIASES
Due: none

remove Lyczeq and add valentin and cleanup mess (#129)
  CODEOWNERS
  OWNERS_ALIASES
Due: none

Path conditions:
  pre-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^/tests/cypress-smoke.json|^/tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-kyma-dashboard-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-kyma-dashboard-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-kyma-dashboard-vpathguard: any of: ^(vpath/pjtester.yaml)
