Repository kyma-project/kyma-dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod, pull-kyma-dashboard-checkconfig, pull-kyma-dashboard-pjconfigtest, pull-kyma-dashboard-pjtester, pull-kyma-dashboard-vpathguard

Path conditions:
  pre-kyma-dashboard-dev: (any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile) or (any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/)
  post-kyma-dashboard-dev: (any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile) or (any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/)
  pre-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^/tests/cypress-smoke.json|^/tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  post-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  pull-kyma-dashboard-integration: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  pull-kyma-dashboard-smoke-test-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js|^tests/scripts/
  pull-kyma-dashboard-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-kyma-dashboard-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-kyma-dashboard-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-kyma-dashboard-vpathguard: any of: ^(vpath/pjtester.yaml)

test
  .github/workflows/check-extensibility.yml
Due: none

test
  environments/dev/extensions.json
  environments/stage/extensions.json
  extensions/kyma/kyma.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

feat: finall version of the script and workflow
  environments/dev/extensions.json
  environments/stage/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

feat: finall version of the script and workflow
  .github/scripts/check-extensibility.sh
  .github/workflows/check-extensibility.yml
Due: none

feat: finall version of the script and workflow
  .github/workflows/check-extensibility.yml
Due: none

feat: final version of the script and workflow for checking extensibility (#336)
  .github/scripts/check-extensibility.sh
  .github/workflows/check-extensibility.yml
Due: none

fix: move env in dockerfiles and fix outputs (#328)
  .github/workflows/kyma-dashboard-dev-build.yml
  Dockerfile.backend
  Dockerfile.local.builder
  Dockerfile.web.builder
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

fix: OSS Rules
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Due: none

fix: OSS Rules (#337)
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Due: none

feat: add action for cypress tests
  .github/scripts/setup-kyma.sh
  .github/workflows/pull-intergation-tests.yml
Due: none

feat: idk what I'm doing
  .github/scripts/setup-kyma.sh
Due: none

Add resource graph and status information
  extensions/discovery-and-network/horizontal-pod-autoscalers.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

feat: idk what I'm doing
  .github/scripts/setup-kyma.sh
  .github/workflows/pull-intergation-tests.yml
Due: none

feat: idk what I'm doing
  .github/workflows/pull-intergation-tests.yml
Due: none

feat: idk what I'm doing
  environments/dev/dist/extensions.yaml
  environments/dev/extensions.json
  environments/prod/dist/extensions.yaml
  environments/prod/extensions.json
  environments/stage/dist/extensions.yaml
  environments/stage/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

feat: idk what I'm doing
  .github/scripts/setup-busola.sh
  .github/workflows/pull-intergation-tests.yml
Due: none

feat: add action for cypress tests (#340)
  .github/scripts/setup-busola.sh
  .github/scripts/setup-kyma.sh
  .github/workflows/pull-intergation-tests.yml
  environments/dev/dist/extensions.yaml
  environments/dev/extensions.json
  environments/prod/dist/extensions.yaml
  environments/prod/extensions.json
  environments/stage/dist/extensions.yaml
  environments/stage/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

Generate extensions
  environments/dev/dist/extensions.yaml
  environments/prod/dist/extensions.yaml
  environments/stage/dist/extensions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

feat: busola bumps
  environments/dev/dist/extensions.yaml
  environments/dev/env.sh
  environments/prod/dist/extensions.yaml
  environments/prod/env.sh
  environments/stage/dist/extensions.yaml
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

fix: tests
  tests/support/create-edit-support.js
  tests/tests/cluster/test-applications.spec.js
  tests/tests/namespace/a-run-before.spec.js
  tests/tests/namespace/test-kyma.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration

feat: busola bumps (#342)
  environments/dev/dist/extensions.yaml
  environments/dev/env.sh
  environments/prod/dist/extensions.yaml
  environments/prod/env.sh
  environments/stage/dist/extensions.yaml
  environments/stage/env.sh
  tests/support/create-edit-support.js
  tests/tests/cluster/test-applications.spec.js
  tests/tests/namespace/a-run-before.spec.js
  tests/tests/namespace/test-kyma.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

Bump images
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

feat: Add resource graph and status information to HPA (#341)
  environments/dev/dist/extensions.yaml
  environments/dev/env.sh
  environments/prod/dist/extensions.yaml
  environments/prod/env.sh
  environments/stage/dist/extensions.yaml
  environments/stage/env.sh
  extensions/discovery-and-network/horizontal-pod-autoscalers.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

bumps
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

fix: path to config
  Dockerfile.local
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod

fix: path to config
  Dockerfile.local
  Dockerfile.local.builder
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-integration, pull-kyma-dashboard-smoke-test-prod
