Repository kyma-project/kyma-dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-validate-inrepo-prow-configs, pull-kyma-dashboard-pjtester, pull-kyma-dashboard-vpathguard

pre-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

post-kyma-dashboard-dev:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-dev
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

pre-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

post-kyma-dashboard-prod:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-prod
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

pre-kyma-dashboard-smoke-test-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-smoke-test-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

post-kyma-dashboard-smoke-test-stage:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-kyma-dashboard-smoke-test-stage
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'false'
    preset-gardener-azure-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  ...

pre-kyma-dashboard-validate-inrepo-prow-configs:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-kyma-dashboard-validate-inrepo-prow-configs
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
  ...

pull-kyma-dashboard-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-kyma-dashboard-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/prow-tools:v20221208-45f25edc
  ...

pull-kyma-dashboard-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-kyma-dashboard-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
  ...

fix tests
  tests/support/views/functions-view.js
Due: none

bump
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

bring back oauth2 extension
  extensions/configuration/oauth2.yaml
  tests/cypress.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

I hope final fix for tests
  tests/support/views/functions-view.js
Due: none

why I'm dump
  tests/support/views/functions-view.js
Due: none

fix functions (#109)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
  extensions/configuration/oauth2.yaml
  extensions/serverless/functions.yaml
  tests/cypress.json
  tests/support/views/functions-view.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

feat: add profile option
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

feat: add subscriber to limits and memories but not really work?
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

Add translations for enums for destination rules and new multi-checkbox to api rules
  extensions/gateway/apirules.yaml
  extensions/istio/destination-rules.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

Fix tests
  tests/support/views/api-rules-view.js
  tests/tests/namespace/test-api-rules.spec.js
Due: none

feat: add default preset that sets profile as 'XS'
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

feat: move function profile to simple view
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

fix: bring back old general
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

Add translations for enums for destination rules and new multi-checkb… (#112)
  extensions/gateway/apirules.yaml
  extensions/istio/destination-rules.yaml
  tests/support/views/api-rules-view.js
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

feat: expand Git Repository section when visible
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

feat: add limits and requests to the preset
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

fix: remove subscribe on requests and limits
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

feat: add displaying alert when limits or requests has been changed
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

add trigger for sourceType
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

feat: improve translations and visibility of the alerts
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

feat: mark language as required
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

fix: bring back old general section
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

feat: modify Functions extension to the requirements (#104)
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

add trigger for sourceType (#113)
  extensions/serverless/functions.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

bump envs
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

bump envs (#114)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

Debugging
  environments/dev/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev

Debugging
  environments/dev/config.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev

Prepare simple readme file with contribution rules
  README.md
Due: none

remove workaround after kyma-cli release
  Dockerfile.local
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

remove workaround after kyma-cli release (#117)
  Dockerfile.local
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

Apply suggestions from code review
  README.md
Due: none

Move contributting guide to contributing.mg
  CONTRIBUTING.md
  README.md
Due: none

Prepare simple readme file with contribution rules (#116)
  CONTRIBUTING.md
  README.md
Due: none

bumps
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

bumps (#118)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

bumps (#119)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage

Path conditions:
  pre-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^/tests/cypress-smoke.json|^/tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-kyma-dashboard-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-kyma-dashboard-vpathguard: any of: ^(vpath/pjtester.yaml)
