Repository kyma-project/kyma-dashboard: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test, pull-kyma-dashboard-checkconfig, pull-kyma-dashboard-pjconfigtest, pull-kyma-dashboard-pjtester, pull-kyma-dashboard-vpathguard

Path conditions:
  pre-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  post-kyma-dashboard-dev: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile
  pre-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-prod: any of: ^Dockerfile.*|^package.json|^environments/prod/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-smoke-test-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^/tests/cypress-smoke.json|^/tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  post-kyma-dashboard-stage: any of: ^Dockerfile.*|^package.json|^environments/stage/|^extensions|^gulpfile.js|^Makefile|^tests/cypress-smoke.json|^tests/tests/.*/test-check-extensions.spec.js
  pre-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  post-kyma-dashboard-test: any of: ^Dockerfile.*|^package.json|^environments/dev/|^extensions|^gulpfile.js|^Makefile|^tests/
  pull-kyma-dashboard-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-kyma-dashboard-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-kyma-dashboard-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-kyma-dashboard-vpathguard: any of: ^(vpath/pjtester.yaml)

scroll is my pain
  tests/tests/namespace/test-check-extensions.spec.js
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Try to remove second wait
  tests/support/helpers.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

replace the link
  extensions/gateway/apirules.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Another try with timeout
  tests/support/helpers.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

scroll is my pain
  tests/support/helpers.js
  tests/tests/namespace/test-check-extensions.spec.js
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Fix destination rules
  tests/tests/namespace/test-destination-rules.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Fix for functions
  tests/support/views/functions-view.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

scroll is my pain, but here it is fixed
  tests/tests/namespace/test-check-extensions.spec.js
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

fix service menegment smoke
  tests/tests/namespace/test-smoke-service-management.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

stupid problem, still is a problem
  tests/support/paste-to-monaco.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

oauth
  tests/tests/namespace/test-oauth2.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

revert
  extensions/gateway/apirules.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

change dev to prod in dockerfiles and bump
  Dockerfile.backend
  Dockerfile.local
  Dockerfile.web
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Fix tests
  tests/support/commands.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Fix navigation
  tests/support/commands.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix dr
  tests/tests/namespace/test-destination-rules.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

add , { force: true }
  tests/support/views/functions-view.js
  tests/tests/namespace/a-run-before.spec.js
  tests/tests/namespace/test-authorization-policies.spec.js
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
  tests/tests/namespace/test-gateways.spec.js
  tests/tests/namespace/test-hpa.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

disable grafana integration (#241)
  environments/dev/config.yaml
  environments/prod/config.yaml
  environments/stage/config.yaml
  extensions/configuration/monitoring.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

fix
  tests/tests/namespace/test-hpa.spec.js
  tests/tests/namespace/test-virtual-services.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Remove API Gateway extension from kyma-dashboard
  extensions/gateway/apirules.yaml
  tests/cypress.config.js
  tests/tests/namespace/test-api-rules.spec.js
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Remove API Gateway extensions from docker
  environments/dev/config.yaml
  environments/dev/extensions.json
  environments/prod/config.yaml
  environments/prod/extensions.json
  environments/stage/config.yaml
  environments/stage/extensions.json
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Update extension test
  tests/tests/namespace/test-check-extensions.spec.js
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

fix dns entries and providers
  tests/tests/namespace/test-dns-entries.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Readd api-gateway
  environments/dev/config.yaml
  environments/prod/config.yaml
  environments/stage/config.yaml
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

fix providers
  tests/tests/namespace/test-dns-providers.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix enabling serverless
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix keda
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Try to fix tests
  tests/tests/namespace/test-dns-providers.spec.js
  tests/tests/namespace/test-hpa.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

bump
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

comment kyma tests for now
  tests/cypress.config.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

fix enabling serverless and bump images (#247)
  environments/dev/env.sh
  environments/prod/env.sh
  environments/stage/env.sh
  tests/cypress.config.js
  tests/scripts/kyma-dashboard-integration.sh
Due: pre-kyma-dashboard-dev, post-kyma-dashboard-dev, pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, post-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Update test-check-extensions.spec.js
  tests/tests/namespace/test-check-extensions.spec.js
Due: pre-kyma-dashboard-prod, post-kyma-dashboard-prod, pre-kyma-dashboard-smoke-test-stage, pre-kyma-dashboard-stage, post-kyma-dashboard-stage, pre-kyma-dashboard-test, post-kyma-dashboard-test

Remove leftover test
  tests/cypress.config.js
  tests/tests/namespace/run-prepare-functions.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Add wait if checking combobox is the first thing in test
  tests/tests/namespace/test-authorization-policies.spec.js
  tests/tests/namespace/test-dns-providers.spec.js
  tests/tests/namespace/test-issuers.spec.js
  tests/tests/namespace/test-oauth2.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Oauth2 fixes
  tests/tests/namespace/test-oauth2.spec.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Will it work?
  tests/support/helpers.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Maybe this?
  tests/support/helpers.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test

Add wait
  tests/support/helpers.js
Due: pre-kyma-dashboard-test, post-kyma-dashboard-test
