Repository kyma-project/third-party-images: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-etcd, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-jaeger-operator, pre-main-tpi-k8s-tools, pre-main-tpi-kiali, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-minio, pre-main-tpi-minio-mc, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kaniko-executer, post-main-tpi-cloudsql-proxy, post-main-tpi-etcd, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-jaeger-operator, post-main-tpi-k8s-tools, post-main-tpi-kiali, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-minio, post-main-tpi-minio-mc, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kaniko-executer

pre-main-third-party-images-protecode-guard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-third-party-images-protecode-guard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-gc-compute-envs: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-tpi-cloudsql-proxy:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-cloudsql-proxy
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-etcd:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-etcd
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-docker-registry:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-docker-registry
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-fluent-bit:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-fluent-bit
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-jaeger-operator:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-jaeger-operator
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-k8s-tools:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-k8s-tools
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-kiali:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-kiali
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-loki:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-loki
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

bump Alpine as well
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

update fluentbit to 1.8.14
  fluent-bit/Dockerfile
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

fix
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update to fluentbit 1.8.15
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Remove CODEOWNERS
  .github/stale.yml
  CODEOWNERS
Due: pre-main-third-party-images-protecode-guard

Bump Alpine in k8s-tools image
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

fix
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp.c
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

upgrade base alpine and debian images
  fluent-bit/Dockerfile
  grafana/Dockerfile
  kiali/Dockerfile
  kiwigrid-sidecar/Dockerfile
  kiwigrid-sidecar/Makefile
  loki/Dockerfile
  oauth2-proxy/Dockerfile
  prometheus-node-exporter/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-kiali, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, post-main-tpi-fluent-bit, post-main-tpi-kiali, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana

fix
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Autobump Alpine in k8s-tools image
  .github/dependabot-config.yaml
  .github/dependabot.tmpl
  .github/dependabot.yml
Due: pre-main-third-party-images-protecode-guard

Improve the fluentbit http plugin to try for all the messages and then return a final return value
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp.c
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Bump fluent bit
  fluent-bit/Dockerfile
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Force protocode job
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Set loki plugin go version back to 1.17
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

bump alpine
  docker-registry/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, post-main-tpi-docker-registry

Prepare for Github workflow
  CODEOWNERS
Due: none

Bump k8s-tools image
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

use group
  CODEOWNERS
Due: none

order
  CODEOWNERS
Due: none

remove users
  CODEOWNERS
Due: none

Fix documentation CODEOWNERS
  CODEOWNERS
Due: none

Remove OWNERS files. Not needed anymore.
  .github/ISSUE_TEMPLATE/OWNERS
  .github/OWNERS
  OWNERS
  OWNERS_ALIASES
  cloudsql-proxy/OWNERS
  common/OWNERS
  docker-registry/OWNERS
  etcd/OWNERS
  fluent-bit/OWNERS
  grafana/OWNERS
  jaeger-operator/OWNERS
  k8s-tools/OWNERS
  kaniko-executer/OWNERS
  kiali/OWNERS
  kiwigrid-sidecar/OWNERS
  loki/OWNERS
  minio/OWNERS
  oauth2-proxy/OWNERS
  prometheus-node-exporter/OWNERS
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-etcd, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-jaeger-operator, pre-main-tpi-k8s-tools, pre-main-tpi-kiali, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-minio, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kaniko-executer, post-main-tpi-cloudsql-proxy, post-main-tpi-etcd, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-jaeger-operator, post-main-tpi-k8s-tools, post-main-tpi-kiali, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-minio, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kaniko-executer

update kiali to 1.49
  kiali/Dockerfile
  kiali/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiali, post-main-tpi-kiali

fix
  kiali/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiali, post-main-tpi-kiali

update to fluent-bit 1.9.3
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

bumpo golang
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kaniko-executer, post-main-tpi-kaniko-executer

use golang 1.18.1
  docker-registry/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, post-main-tpi-docker-registry

replace alpine
  docker-registry/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, post-main-tpi-docker-registry

Update k8s-tools image
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

better visibility
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

updated debian and alpine base images
  fluent-bit/Dockerfile
  grafana/Dockerfile
  loki/Dockerfile
  oauth2-proxy/Dockerfile
  prometheus-node-exporter/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-node-exporter, pre-main-tpi-grafana, post-main-tpi-fluent-bit, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-node-exporter, post-main-tpi-grafana

fix
  prometheus-node-exporter/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

use fluent-bit binary from upstream instead of building it
  fluent-bit/Dockerfile
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

switch to stable release for fluent bit plugins
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update to grafana 7.5.16
  grafana/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

Path conditions:
  pre-main-third-party-images-protecode-guard: any of: ^((.*)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  pre-main-tpi-etcd: any of: ^etcd/
  pre-main-tpi-docker-registry: any of: ^docker-registry/
  pre-main-tpi-fluent-bit: any of: ^fluent-bit/
  pre-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  pre-main-tpi-k8s-tools: any of: ^k8s-tools/
  pre-main-tpi-kiali: any of: ^kiali/
  pre-main-tpi-loki: any of: ^loki/
  pre-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  pre-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  pre-main-tpi-minio: any of: ^minio/
  pre-main-tpi-minio-mc: any of: ^minio-mc/
  pre-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  pre-main-tpi-grafana: any of: ^grafana/
  pre-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  post-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  post-main-tpi-etcd: any of: ^etcd/
  post-main-tpi-docker-registry: any of: ^docker-registry/
  post-main-tpi-fluent-bit: any of: ^fluent-bit/
  post-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  post-main-tpi-k8s-tools: any of: ^k8s-tools/
  post-main-tpi-kiali: any of: ^kiali/
  post-main-tpi-loki: any of: ^loki/
  post-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  post-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  post-main-tpi-minio: any of: ^minio/
  post-main-tpi-minio-mc: any of: ^minio-mc/
  post-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  post-main-tpi-grafana: any of: ^grafana/
  post-main-tpi-kaniko-executer: any of: ^kaniko-executer/
