Repository kyma-project/third-party-images: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-etcd, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-jaeger-operator, pre-main-tpi-k8s-tools, pre-main-tpi-kiali, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-minio, pre-main-tpi-minio-mc, pre-main-tpi-node-exporter, pre-main-tpi-grafana, post-main-tpi-cloudsql-proxy, post-main-tpi-etcd, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-jaeger-operator, post-main-tpi-k8s-tools, post-main-tpi-kiali, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-minio, post-main-tpi-minio-mc, post-main-tpi-node-exporter, post-main-tpi-grafana

Path conditions:
  pre-main-third-party-images-protecode-guard: any of: ^((.*)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  pre-main-tpi-etcd: any of: ^etcd/
  pre-main-tpi-docker-registry: any of: ^docker-registry/
  pre-main-tpi-fluent-bit: any of: ^fluent-bit/
  pre-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  pre-main-tpi-k8s-tools: any of: ^k8s-tools/
  pre-main-tpi-kiali: any of: ^kiali/
  pre-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  pre-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  pre-main-tpi-minio: any of: ^minio/
  pre-main-tpi-minio-mc: any of: ^minio-mc/
  pre-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  pre-main-tpi-grafana: any of: ^grafana/
  post-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  post-main-tpi-etcd: any of: ^etcd/
  post-main-tpi-docker-registry: any of: ^docker-registry/
  post-main-tpi-fluent-bit: any of: ^fluent-bit/
  post-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  post-main-tpi-k8s-tools: any of: ^k8s-tools/
  post-main-tpi-kiali: any of: ^kiali/
  post-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  post-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  post-main-tpi-minio: any of: ^minio/
  post-main-tpi-minio-mc: any of: ^minio-mc/
  post-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  post-main-tpi-grafana: any of: ^grafana/

Update minio
  minio/Dockerfile
  minio/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-minio, post-main-tpi-minio

upgrade of loki fluent-bit plugin to 2.2.1
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

fix
  fluent-bit/README.md
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

upgrade grafana to 7.5.x
  fluent-bit/Dockerfile
  grafana/Makefile
  grafana/README.md
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-grafana, post-main-tpi-fluent-bit, post-main-tpi-grafana

upgraded kiwigrid sidecar
  kiwigrid-sidecar/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

fix
  kiwigrid-sidecar/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

fix
  grafana/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

update node exporter image
  prometheus-node-exporter/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

update in makefile
  prometheus-node-exporter/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

Test
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Add cosign step in ci-main and ci-release steps
  common/generic_makefile.mk
  k8s-tools/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Fix IMG variable in generic_makefile.mk
  common/generic_makefile.mk
Due: pre-main-third-party-images-protecode-guard

K8S tools: update dependencies
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Upgrade Fluent Bit
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Remove comment
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Remove blank line
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update to fluent-bit 1.8.x
  fluent-bit/Dockerfile
  fluent-bit/Makefile
  fluent-bit/README.md
  fluent-bit/patch/REAMDE.md
  fluent-bit/patch/non-blocking-write/flb_engine.c
  fluent-bit/patch/non-blocking-write/flb_output.h
  fluent-bit/patch/non-blocking-write/flb_pipe.c
  fluent-bit/patch/non-blocking-write/flb_pipe.h
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update to fluent-bit 1.8.x
  fluent-bit/Dockerfile
  fluent-bit/Makefile
  fluent-bit/README.md
  fluent-bit/plugins/CMakeLists.txt
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp.c
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp.h
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp_conf.c
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp_conf.h
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update to fluent-bit 1.8.x
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update to fluent-bit 1.8.5
  fluent-bit/Dockerfile
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

added dep
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

re-scan
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

bump alpine version
  minio/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-minio, post-main-tpi-minio

update to alpine 3.14.2
  grafana/Dockerfile
  kiali/Dockerfile
  kiwigrid-sidecar/Dockerfile
  oauth2-proxy/Dockerfile
  prometheus-node-exporter/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiali, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, post-main-tpi-kiali, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana

bla
  grafana/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

added loki as new image
  loki/Dockerfile
  loki/Makefile
  loki/README.md
Due: pre-main-third-party-images-protecode-guard

bla
  fluent-bit/Dockerfile
  fluent-bit/Makefile
  grafana/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-grafana, post-main-tpi-fluent-bit, post-main-tpi-grafana

bla
  fluent-bit/README.md
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

bla
  loki/README.md
Due: none

update of kiali to 1.38.1
  kiali/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiali, post-main-tpi-kiali

add readme and Makefile
  kaniko-executer/Makefile
  kaniko-executer/README.md
Due: pre-main-third-party-images-protecode-guard

add original docker file
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard

update Dockerfile
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard

Bump alpine to 3.14.2 in etcd image
  etcd/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-etcd, post-main-tpi-etcd

update to fluent-bit 1.8.7
  fluent-bit/Dockerfile
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

re-scan
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit
