Repository kyma-project/third-party-images: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-etcd, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-jaeger-operator, pre-main-tpi-k8s-tools, pre-main-tpi-kiali, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-minio, pre-main-tpi-minio-mc, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kaniko-executer, post-main-tpi-cloudsql-proxy, post-main-tpi-etcd, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-jaeger-operator, post-main-tpi-k8s-tools, post-main-tpi-kiali, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-minio, post-main-tpi-minio-mc, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kaniko-executer

pre-main-third-party-images-protecode-guard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-third-party-images-protecode-guard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-gc-compute-envs: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-tpi-cloudsql-proxy:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-cloudsql-proxy
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-etcd:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-etcd
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-docker-registry:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-docker-registry
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-fluent-bit:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-fluent-bit
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-jaeger-operator:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-jaeger-operator
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-k8s-tools:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-k8s-tools
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-kiali:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-kiali
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-loki:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-loki
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

Clean bump of k8s-tools image
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

update to oauth2-proxy 7.3.0
  oauth2-proxy/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-oauth2-proxy, post-main-tpi-oauth2-proxy

Update fluent-bit to 1.9.4
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Simplify Dependabot config
  .github/dependabot-config.yaml
  .github/dependabot.tmpl
  .github/dependabot.yml
Due: pre-main-third-party-images-protecode-guard

Fix finding monkey headers for seqhttp Fluent Bit plugin build
  fluent-bit/plugins/CMakeLists.txt
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Update README
  fluent-bit/README.md
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update to fluent 1.9.5
  fluent-bit/Makefile
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp.c
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp.c
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp.h
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp_conf.c
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp_conf.h
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp.c
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Corrected Incidental Removal of Slash
  cloudsql-proxy/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

update to fluentbit 1.9.6
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

fixed sequential plugin
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp.c
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp.h
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp_conf.c
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

fixed sequential plugin
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp.c
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Bump kubectl version to 1.23.9 in k8s-tools
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Update Dockerfile
  cloudsql-proxy/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

Update Makefile
  cloudsql-proxy/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

Update Fluent Bit to 1.9.7
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update of several base images
  grafana/Dockerfile
  kiali/Dockerfile
  kiwigrid-sidecar/Dockerfile
  loki/Dockerfile
  oauth2-proxy/Dockerfile
  prometheus-node-exporter/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiali, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, post-main-tpi-kiali, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana

remove unused minio image
  minio/Dockerfile
  minio/Makefile
  minio/README.md
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-minio, post-main-tpi-minio

update images used by docker-registry
  docker-registry/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, post-main-tpi-docker-registry

update image used by k8s-tools
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Bump kubectl version to 1.23.10 in k8s-tools
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

update golang runtime to 1.19.0
  docker-registry/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, post-main-tpi-docker-registry

Update Dockerfile
  docker-registry/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, post-main-tpi-docker-registry

update golang version for fluentbit loki plugin
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Update Dockerfile
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kaniko-executer, post-main-tpi-kaniko-executer

update images used by kaniko-executor
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kaniko-executer, post-main-tpi-kaniko-executer

update golang runtime to 1.19.0
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kaniko-executer, post-main-tpi-kaniko-executer

update certs container comment
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kaniko-executer, post-main-tpi-kaniko-executer

bump kaniko to version 1.9.0
  kaniko-executer/Dockerfile
  kaniko-executer/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kaniko-executer, post-main-tpi-kaniko-executer

update to jaeger 1.37.0
  jaeger-operator/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-jaeger-operator, post-main-tpi-jaeger-operator

update to fluent 1.9.8
  fluent-bit/Dockerfile
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

fix
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Path conditions:
  pre-main-third-party-images-protecode-guard: any of: ^((.*)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  pre-main-tpi-etcd: any of: ^etcd/
  pre-main-tpi-docker-registry: any of: ^docker-registry/
  pre-main-tpi-fluent-bit: any of: ^fluent-bit/
  pre-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  pre-main-tpi-k8s-tools: any of: ^k8s-tools/
  pre-main-tpi-kiali: any of: ^kiali/
  pre-main-tpi-loki: any of: ^loki/
  pre-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  pre-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  pre-main-tpi-minio: any of: ^minio/
  pre-main-tpi-minio-mc: any of: ^minio-mc/
  pre-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  pre-main-tpi-grafana: any of: ^grafana/
  pre-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  post-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  post-main-tpi-etcd: any of: ^etcd/
  post-main-tpi-docker-registry: any of: ^docker-registry/
  post-main-tpi-fluent-bit: any of: ^fluent-bit/
  post-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  post-main-tpi-k8s-tools: any of: ^k8s-tools/
  post-main-tpi-kiali: any of: ^kiali/
  post-main-tpi-loki: any of: ^loki/
  post-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  post-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  post-main-tpi-minio: any of: ^minio/
  post-main-tpi-minio-mc: any of: ^minio-mc/
  post-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  post-main-tpi-grafana: any of: ^grafana/
  post-main-tpi-kaniko-executer: any of: ^kaniko-executer/
