Repository kyma-project/third-party-images: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-third-party-images-protecode-guard, pre-third-party-images-validate-inrepo-prow-configs, pull-third-party-images-pjconfigtest, pull-third-party-images-pjtester, pull-third-party-images-vpathguard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-jaeger-operator, pre-main-tpi-k8s-tools, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kaniko-executer, pre-main-tpi-kube-state-metrics, pre-main-tpi-otel-collector, post-main-tpi-cloudsql-proxy, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-jaeger-operator, post-main-tpi-k8s-tools, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kaniko-executer, post-main-tpi-kube-state-metrics, post-main-tpi-otel-collector

pre-main-third-party-images-protecode-guard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-third-party-images-protecode-guard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-gc-compute-envs: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-third-party-images-validate-inrepo-prow-configs:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-third-party-images-validate-inrepo-prow-configs
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
  ...

pull-third-party-images-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-third-party-images-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/dev/test-infra/ginkgo:PR-6825
      imagePullPolicy: Always
  ...

pull-third-party-images-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-third-party-images-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-third-party-images-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-third-party-images-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-cloudsql-proxy:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-cloudsql-proxy
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-main-tpi-docker-registry:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-docker-registry
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-main-tpi-fluent-bit:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-fluent-bit
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-main-tpi-k8s-tools:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-k8s-tools
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

update to fluentbit 2.0.11
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

bump-golang
  docker-registry/Dockerfile
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, pre-main-tpi-kaniko-executer, post-main-tpi-docker-registry, post-main-tpi-kaniko-executer

update to golang 1.20.3 for observability images update to otel-collector 0.75.0
  fluent-bit/envs
  grafana/envs
  kube-state-metrics/envs
  loki/envs
  oauth2-proxy/envs
  otel-collector/envs
  prometheus-node-exporter/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kube-state-metrics, pre-main-tpi-otel-collector, post-main-tpi-fluent-bit, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kube-state-metrics, post-main-tpi-otel-collector

Jaeger image removed
  jaeger-operator/Dockerfile
  jaeger-operator/Makefile
  jaeger-operator/README.md
  jaeger-operator/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-jaeger-operator, post-main-tpi-jaeger-operator

CODEOWNER file updated
  CODEOWNERS
Due: none

Bump kubectl in k8s-tools
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Bump gce-proxy to 1.33.6
  cloudsql-proxy/Dockerfile
  cloudsql-proxy/Makefile
  cloudsql-proxy/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

update golang to 1.20.3
  docker-registry/Dockerfile
  kaniko-executer/Dockerfile
  kaniko-executer/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, pre-main-tpi-kaniko-executer, post-main-tpi-docker-registry, post-main-tpi-kaniko-executer

Add alertmanager image
  CODEOWNERS
  alertmanager/Dockerfile
  alertmanager/Makefile
  alertmanager/envs
Due: pre-main-third-party-images-protecode-guard

Make node exporter use latest golang version
  prometheus-node-exporter/Dockerfile
  prometheus-node-exporter/Makefile
  prometheus-node-exporter/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

Add busybox envvar
  prometheus-node-exporter/Makefile
  prometheus-node-exporter/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

Rearrange the arg declarations
  prometheus-node-exporter/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

Add env
  prometheus-node-exporter/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

Try setting version in makefile
  prometheus-node-exporter/Dockerfile
  prometheus-node-exporter/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

Fix stuff
  prometheus-node-exporter/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

Fix stuff
  prometheus-node-exporter/Dockerfile
  prometheus-node-exporter/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

Debug curl
  prometheus-node-exporter/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

Debug tar
  prometheus-node-exporter/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

Remove invalid codeowners
  CODEOWNERS
Due: none

Bump Golang to 1.20.4
  alertmanager/Makefile
  alertmanager/envs
Due: pre-main-third-party-images-protecode-guard

Cleanup env
  alertmanager/envs
Due: pre-main-third-party-images-protecode-guard

Updated fluentbit version
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Add configmap-reload image
  CODEOWNERS
  configmap-reload/Dockerfile
  configmap-reload/Makefile
  configmap-reload/envs
Due: pre-main-third-party-images-protecode-guard

Use from scratch
  prometheus-node-exporter/Dockerfile
  prometheus-node-exporter/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

Update prometheus-node-exporter/Dockerfile
  prometheus-node-exporter/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

Bump otel collector to 0.76.0
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Bump otel collector to 0.76.1
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Didn't work. Try 0.76.0
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Trigger image build
  alertmanager/Dockerfile
  configmap-reload/Dockerfile
Due: pre-main-third-party-images-protecode-guard

Bump Golang to 1.20.4 for oauth2-proxy
  oauth2-proxy/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-oauth2-proxy, post-main-tpi-oauth2-proxy

Bump to latest 1.20.4 to resolve security vulnerabilities
  grafana/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

switch codeowners to teams
  CODEOWNERS
Due: none

Bump Golang version for Loki
  loki/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-loki, post-main-tpi-loki

Path conditions:
  pre-main-third-party-images-protecode-guard: any of: ^((.*)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-third-party-images-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-third-party-images-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-third-party-images-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-third-party-images-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  pre-main-tpi-docker-registry: any of: ^docker-registry/
  pre-main-tpi-fluent-bit: any of: ^fluent-bit/
  pre-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  pre-main-tpi-k8s-tools: any of: ^k8s-tools/
  pre-main-tpi-loki: any of: ^loki/
  pre-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  pre-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  pre-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  pre-main-tpi-grafana: any of: ^grafana/
  pre-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  pre-main-tpi-kube-state-metrics: any of: ^kube-state-metrics/
  pre-main-tpi-otel-collector: any of: ^otel-collector/
  post-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  post-main-tpi-docker-registry: any of: ^docker-registry/
  post-main-tpi-fluent-bit: any of: ^fluent-bit/
  post-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  post-main-tpi-k8s-tools: any of: ^k8s-tools/
  post-main-tpi-loki: any of: ^loki/
  post-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  post-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  post-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  post-main-tpi-grafana: any of: ^grafana/
  post-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  post-main-tpi-kube-state-metrics: any of: ^kube-state-metrics/
  post-main-tpi-otel-collector: any of: ^otel-collector/
