Repository kyma-project/third-party-images: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-third-party-images-protecode-guard, pre-third-party-images-validate-inrepo-prow-configs, pull-third-party-images-pjconfigtest, pull-third-party-images-pjtester, pull-third-party-images-vpathguard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-jaeger-operator, pre-main-tpi-k8s-tools, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kaniko-executer, pre-main-tpi-kube-state-metrics, pre-main-tpi-otel-collector, post-main-tpi-cloudsql-proxy, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-jaeger-operator, post-main-tpi-k8s-tools, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kaniko-executer, post-main-tpi-kube-state-metrics, post-main-tpi-otel-collector

pre-main-third-party-images-protecode-guard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-third-party-images-protecode-guard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-gc-compute-envs: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-third-party-images-validate-inrepo-prow-configs:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-third-party-images-validate-inrepo-prow-configs
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
  ...

pull-third-party-images-pjconfigtest:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-third-party-images-pjconfigtest
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/dev/test-infra/ginkgo:PR-6825
      imagePullPolicy: Always
  ...

pull-third-party-images-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-third-party-images-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-third-party-images-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-third-party-images-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-cloudsql-proxy:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-cloudsql-proxy
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-main-tpi-docker-registry:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-docker-registry
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-main-tpi-fluent-bit:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-fluent-bit
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-main-tpi-k8s-tools:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-k8s-tools
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

update otel-collector to 0.77.0
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

update to fluenbit 2.1.2
  fluent-bit/envs
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp.c
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

add loki plugin sources
  fluent-bit/Dockerfile
  fluent-bit/Makefile
  fluent-bit/envs
  fluent-bit/plugins/out_grafana_loki/buffer.go
  fluent-bit/plugins/out_grafana_loki/client.go
  fluent-bit/plugins/out_grafana_loki/config.go
  fluent-bit/plugins/out_grafana_loki/config_test.go
  fluent-bit/plugins/out_grafana_loki/dque.go
  fluent-bit/plugins/out_grafana_loki/go.mod
  fluent-bit/plugins/out_grafana_loki/go.sum
  fluent-bit/plugins/out_grafana_loki/loki.go
  fluent-bit/plugins/out_grafana_loki/loki_test.go
  fluent-bit/plugins/out_grafana_loki/out_grafana_loki.go
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

fix
  fluent-bit/plugins/out_grafana_loki/out_grafana_loki.go
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

fix
  fluent-bit/Dockerfile
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

fix
  fluent-bit/README.md
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Apply suggestions from code review
  fluent-bit/README.md
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Bump kubectl in k8s-tools image
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Change Alertmanager image to Alpine base
  alertmanager/Dockerfile
  alertmanager/Makefile
  alertmanager/envs
Due: pre-main-third-party-images-protecode-guard

updated golang, alpine, otel-collector
  alertmanager/Makefile
  alertmanager/README.md
  alertmanager/envs
  configmap-reload/Makefile
  configmap-reload/README.md
  configmap-reload/envs
  fluent-bit/envs
  grafana/Makefile
  grafana/README.md
  grafana/envs
  kiwigrid-sidecar/Makefile
  kiwigrid-sidecar/README.md
  kiwigrid-sidecar/envs
  kube-state-metrics/Makefile
  kube-state-metrics/README.md
  kube-state-metrics/envs
  loki/Makefile
  loki/README.md
  loki/envs
  oauth2-proxy/Makefile
  oauth2-proxy/README.md
  oauth2-proxy/envs
  otel-collector/Makefile
  otel-collector/README.md
  otel-collector/envs
  prometheus-node-exporter/Dockerfile
  prometheus-node-exporter/Makefile
  prometheus-node-exporter/README.md
  prometheus-node-exporter/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kube-state-metrics, pre-main-tpi-otel-collector, post-main-tpi-fluent-bit, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kube-state-metrics, post-main-tpi-otel-collector

fix
  grafana/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

fix
  alertmanager/README.md
Due: none

add pprof extension to otel-collector image
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

update to fluentbit 2.1.4
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update kube-state-metrics to 2.9.2
  kube-state-metrics/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kube-state-metrics, post-main-tpi-kube-state-metrics

update to node-exporter 1.6.0
  prometheus-node-exporter/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

use newest golang
  docker-registry/Dockerfile
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, pre-main-tpi-kaniko-executer, post-main-tpi-docker-registry, post-main-tpi-kaniko-executer

downgrade golang version for fluent-bit
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Added cumulativetodelta processor into otel distro
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

use newest alpine
  docker-registry/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, post-main-tpi-docker-registry

revert changes to test
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Include cumulativetodelta
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Bump gce-proxy to 1.33.8
  cloudsql-proxy/Dockerfile
  cloudsql-proxy/Makefile
  cloudsql-proxy/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

Changed golang image, added processor
  otel-collector/builder-config.yaml
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Bump k8s-tools image
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Add missing Otel Collector plugins
  otel-collector/README.md
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

remove loki folder
  loki/Dockerfile
  loki/README.md
  loki/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-loki, post-main-tpi-loki

remove loki entry from codeowners
  CODEOWNERS
Due: none

Update Python to 3.11.4 for k8s-sidecar
  kiwigrid-sidecar/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

Update OpenTelemetry Collector to 0.81.0
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

update k8s-sidecar version to 1.24.6
  kiwigrid-sidecar/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

Update Fluent Bit to 2.1.7
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update of golang and alpine for observability components
  alertmanager/envs
  grafana/envs
  kube-state-metrics/envs
  oauth2-proxy/envs
  prometheus-node-exporter/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-oauth2-proxy, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kube-state-metrics, post-main-tpi-oauth2-proxy, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kube-state-metrics

fix
  oauth2-proxy/Dockerfile
  oauth2-proxy/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-oauth2-proxy, post-main-tpi-oauth2-proxy

fix
  grafana/Dockerfile
  grafana/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

remove configmap-reload
  CODEOWNERS
  configmap-reload/Dockerfile
  configmap-reload/README.md
  configmap-reload/envs
Due: pre-main-third-party-images-protecode-guard

Path conditions:
  pre-main-third-party-images-protecode-guard: any of: ^((.*)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-third-party-images-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-third-party-images-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-third-party-images-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-third-party-images-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  pre-main-tpi-docker-registry: any of: ^docker-registry/
  pre-main-tpi-fluent-bit: any of: ^fluent-bit/
  pre-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  pre-main-tpi-k8s-tools: any of: ^k8s-tools/
  pre-main-tpi-loki: any of: ^loki/
  pre-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  pre-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  pre-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  pre-main-tpi-grafana: any of: ^grafana/
  pre-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  pre-main-tpi-kube-state-metrics: any of: ^kube-state-metrics/
  pre-main-tpi-otel-collector: any of: ^otel-collector/
  post-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  post-main-tpi-docker-registry: any of: ^docker-registry/
  post-main-tpi-fluent-bit: any of: ^fluent-bit/
  post-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  post-main-tpi-k8s-tools: any of: ^k8s-tools/
  post-main-tpi-loki: any of: ^loki/
  post-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  post-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  post-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  post-main-tpi-grafana: any of: ^grafana/
  post-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  post-main-tpi-kube-state-metrics: any of: ^kube-state-metrics/
  post-main-tpi-otel-collector: any of: ^otel-collector/
