Repository kyma-project/third-party-images: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-etcd, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-jaeger-operator, pre-main-tpi-k8s-tools, pre-main-tpi-kiali, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-minio, pre-main-tpi-minio-mc, pre-main-tpi-node-exporter, pre-main-tpi-grafana, post-main-tpi-cloudsql-proxy, post-main-tpi-etcd, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-jaeger-operator, post-main-tpi-k8s-tools, post-main-tpi-kiali, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-minio, post-main-tpi-minio-mc, post-main-tpi-node-exporter, post-main-tpi-grafana

pre-main-third-party-images-protecode-guard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-third-party-images-protecode-guard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-gc-compute-envs: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-tpi-cloudsql-proxy:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-cloudsql-proxy
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-etcd:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-etcd
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-docker-registry:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-docker-registry
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-fluent-bit:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-fluent-bit
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-jaeger-operator:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-jaeger-operator
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-k8s-tools:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-k8s-tools
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-kiali:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-kiali
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-oauth2-proxy:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-oauth2-proxy
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

update to fluent-bit 1.8.12
  fluent-bit/Dockerfile
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Add coreutils to serverless-bench
  serverless-bench/Dockerfile
Due: pre-main-third-party-images-protecode-guard

updated codeowners
  CODEOWNERS
Due: none

Add codeowners
  CODEOWNERS
Due: none

initial version
  busola-e2e-cleaner/.gitignore
  busola-e2e-cleaner/Dockerfile
  busola-e2e-cleaner/Makefile
  busola-e2e-cleaner/README.md
  busola-e2e-cleaner/index.js
  busola-e2e-cleaner/package-lock.json
  busola-e2e-cleaner/package.json
Due: pre-main-third-party-images-protecode-guard

update jaeger operator image to 1.30.0
  jaeger-operator/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-jaeger-operator, post-main-tpi-jaeger-operator

update version
  jaeger-operator/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-jaeger-operator, post-main-tpi-jaeger-operator

Bump CloudSQL image to v1.28.1
  cloudsql-proxy/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

Bump etcd alpine base to 3.15.0
  etcd/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-etcd, post-main-tpi-etcd

Bump CloudSQL image version to v1.28.1-alpine in Makefile
  cloudsql-proxy/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

patch loki issue in fluent-bit
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

fix
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Install OpenSSL dev from edge
  cloudsql-proxy/Dockerfile
  etcd/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-etcd, post-main-tpi-cloudsql-proxy, post-main-tpi-etcd

Use HTTPS for alpine repos
  cloudsql-proxy/Dockerfile
  etcd/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-etcd, post-main-tpi-cloudsql-proxy, post-main-tpi-etcd

update to grafana 7.5.15
  grafana/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

fix
  grafana/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

Bump gitea dependency
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard

Code cleanup
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard

Bump kiwigrid/k8s-sidecar
  kiwigrid-sidecar/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

Fix fetching requirements.txt
  kiwigrid-sidecar/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

Bump Python
  kiwigrid-sidecar/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

K8s-tools: bump k8s version to 1.21.10
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Fix CVE-2022-23806
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard

update to goland 1.17.7
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard

Bump cloudsql-gce-proxy ver to 1.29.0
  cloudsql-proxy/Dockerfile
  cloudsql-proxy/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

update to fluent-bit 1.8.13
  fluent-bit/Dockerfile
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

fix
  loki/Dockerfile
Due: pre-main-third-party-images-protecode-guard

update to kiwigrid 1.15.7
  kiwigrid-sidecar/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

migrate from CODEOWNERS to OWNERS
  OWNERS
  OWNERS_ALIASES
  cloudsql-proxy/OWNERS
  docker-registry/OWNERS
  etcd/OWNERS
  fluent-bit/OWNERS
  grafana/OWNERS
  jaeger-operator/OWNERS
  kaniko-executer/OWNERS
  kiali/OWNERS
  kiwigrid-sidecar/OWNERS
  loki/OWNERS
  minio-mc/OWNERS
  minio/OWNERS
  oauth2-proxy/OWNERS
  prometheus-node-exporter/OWNERS
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-etcd, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-jaeger-operator, pre-main-tpi-kiali, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-minio, pre-main-tpi-minio-mc, pre-main-tpi-node-exporter, pre-main-tpi-grafana, post-main-tpi-cloudsql-proxy, post-main-tpi-etcd, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-jaeger-operator, post-main-tpi-kiali, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-minio, post-main-tpi-minio-mc, post-main-tpi-node-exporter, post-main-tpi-grafana

update ci and general owners
  .github/OWNERS
  OWNERS
  k8s-tools/OWNERS
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

add owners to common
  common/OWNERS
Due: pre-main-third-party-images-protecode-guard

add documentation owners
  .github/ISSUE_TEMPLATE/OWNERS
  OWNERS_ALIASES
Due: pre-main-third-party-images-protecode-guard

remove voigt
  OWNERS_ALIASES
Due: none

Update OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

update owners
  OWNERS_ALIASES
Due: none

fix typo
  OWNERS_ALIASES
Due: none

Bump kubectl in k8s-tools
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

purposefully add older version
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

revert
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Path conditions:
  pre-main-third-party-images-protecode-guard: any of: ^((.*)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  pre-main-tpi-etcd: any of: ^etcd/
  pre-main-tpi-docker-registry: any of: ^docker-registry/
  pre-main-tpi-fluent-bit: any of: ^fluent-bit/
  pre-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  pre-main-tpi-k8s-tools: any of: ^k8s-tools/
  pre-main-tpi-kiali: any of: ^kiali/
  pre-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  pre-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  pre-main-tpi-minio: any of: ^minio/
  pre-main-tpi-minio-mc: any of: ^minio-mc/
  pre-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  pre-main-tpi-grafana: any of: ^grafana/
  post-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  post-main-tpi-etcd: any of: ^etcd/
  post-main-tpi-docker-registry: any of: ^docker-registry/
  post-main-tpi-fluent-bit: any of: ^fluent-bit/
  post-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  post-main-tpi-k8s-tools: any of: ^k8s-tools/
  post-main-tpi-kiali: any of: ^kiali/
  post-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  post-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  post-main-tpi-minio: any of: ^minio/
  post-main-tpi-minio-mc: any of: ^minio-mc/
  post-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  post-main-tpi-grafana: any of: ^grafana/
