Repository kyma-project/third-party-images: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-third-party-images-protecode-guard, pre-third-party-images-validate-inrepo-prow-configs, pre-main-tpi-cloudsql-proxy, pre-main-tpi-etcd, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-jaeger-operator, pre-main-tpi-k8s-tools, pre-main-tpi-kiali, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kaniko-executer, post-main-tpi-cloudsql-proxy, post-main-tpi-etcd, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-jaeger-operator, post-main-tpi-k8s-tools, post-main-tpi-kiali, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kaniko-executer

pre-main-third-party-images-protecode-guard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-third-party-images-protecode-guard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-gc-compute-envs: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-third-party-images-validate-inrepo-prow-configs:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-third-party-images-validate-inrepo-prow-configs
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20220720-a455f84b28
      command:
      - checkconfig
  ...

pre-main-tpi-cloudsql-proxy:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-cloudsql-proxy
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-etcd:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-etcd
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-docker-registry:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-docker-registry
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-fluent-bit:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-fluent-bit
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-jaeger-operator:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-jaeger-operator
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-k8s-tools:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-k8s-tools
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

Fix code owners (missing handle)
  CODEOWNERS
Due: none

Fix CODEOWNERS
  CODEOWNERS
Due: none

Update kube-state-metrics/README.md
  kube-state-metrics/README.md
Due: none

Get newest restful dependency
  kube-state-metrics/Dockerfile
Due: pre-main-third-party-images-protecode-guard

update python version for k8s-sidecar
  kiwigrid-sidecar/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

updated golang version to 1.19.2
  fluent-bit/Dockerfile
  grafana/Dockerfile
  kiali/Dockerfile
  kiwigrid-sidecar/Dockerfile
  kube-state-metrics/Dockerfile
  loki/Dockerfile
  oauth2-proxy/Dockerfile
  prometheus-node-exporter/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-kiali, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, post-main-tpi-fluent-bit, post-main-tpi-kiali, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana

use golang 1.19.2
  docker-registry/Dockerfile
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, pre-main-tpi-kaniko-executer, post-main-tpi-docker-registry, post-main-tpi-kaniko-executer

fix dockerfile
  docker-registry/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, post-main-tpi-docker-registry

update to oauth2-proxy 7.4.0
  oauth2-proxy/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-oauth2-proxy, post-main-tpi-oauth2-proxy

Update Dockerfile
  cloudsql-proxy/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

Update Makefile
  cloudsql-proxy/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

Update CODEOWNERS
  CODEOWNERS
Due: none

Bump kubectl version to 1.24
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

bump curl
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Add envs file for image-builder migration
  cloudsql-proxy/envs
  docker-registry/envs
  etcd/envs
  fluent-bit/envs
  grafana/envs
  jaeger-operator/envs
  kaniko-executer/envs
  kiali/envs
  kiwigrid-sidecar/envs
  kube-state-metrics/envs
  loki/envs
  oauth2-proxy/envs
  prometheus-node-exporter/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-etcd, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-jaeger-operator, pre-main-tpi-kiali, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kaniko-executer, post-main-tpi-cloudsql-proxy, post-main-tpi-etcd, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-jaeger-operator, post-main-tpi-kiali, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kaniko-executer

remove Maja from codeowners
  CODEOWNERS
Due: none

build otel collector image
  otel-collector/Dockerfile
  otel-collector/Makefile
  otel-collector/config.yaml
  otel-collector/go.mod
  otel-collector/go.sum
  otel-collector/main.go
Due: pre-main-third-party-images-protecode-guard

fixes
  otel-collector/Dockerfile
  otel-collector/Makefile
  otel-collector/config.yaml
Due: pre-main-third-party-images-protecode-guard

fix
  otel-collector/Dockerfile
Due: pre-main-third-party-images-protecode-guard

revert to using upstream binary to build images
  otel-collector/Dockerfile
  otel-collector/builder-config.yaml
  otel-collector/go.mod
  otel-collector/go.sum
  otel-collector/main.go
Due: pre-main-third-party-images-protecode-guard

add envs
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard

fix
  otel-collector/Dockerfile
  otel-collector/Makefile
Due: pre-main-third-party-images-protecode-guard

fixes
  CODEOWNERS
  otel-collector/Dockerfile
  otel-collector/builder-config.yaml
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard

fix
  CODEOWNERS
Due: none

fix
  otel-collector/Makefile
Due: pre-main-third-party-images-protecode-guard

Add readme to otel-collector
  otel-collector/README.md
Due: none

fix
  otel-collector/README.md
Due: none

Apply suggestions from code review
  otel-collector/README.md
Due: none

set specific user in the built image
  otel-collector/Dockerfile
Due: pre-main-third-party-images-protecode-guard

update node-exporter to latest patch version
  prometheus-node-exporter/Dockerfile
  prometheus-node-exporter/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

fix
  prometheus-node-exporter/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

updated kiwigrid sidecar to newest python
  kiwigrid-sidecar/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

Add health_check extension
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard

update node exporter to latest 1.5.0
  prometheus-node-exporter/Makefile
  prometheus-node-exporter/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

Bump Docker-Registry
  docker-registry/Dockerfile
  docker-registry/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, post-main-tpi-docker-registry

Update kubectl to 1.24.9
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Add k8s attribute processor to enrich the spans
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard

add attribute processor as well
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard

use resource processor
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard

Path conditions:
  pre-main-third-party-images-protecode-guard: any of: ^((.*)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-third-party-images-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pre-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  pre-main-tpi-etcd: any of: ^etcd/
  pre-main-tpi-docker-registry: any of: ^docker-registry/
  pre-main-tpi-fluent-bit: any of: ^fluent-bit/
  pre-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  pre-main-tpi-k8s-tools: any of: ^k8s-tools/
  pre-main-tpi-kiali: any of: ^kiali/
  pre-main-tpi-loki: any of: ^loki/
  pre-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  pre-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  pre-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  pre-main-tpi-grafana: any of: ^grafana/
  pre-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  post-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  post-main-tpi-etcd: any of: ^etcd/
  post-main-tpi-docker-registry: any of: ^docker-registry/
  post-main-tpi-fluent-bit: any of: ^fluent-bit/
  post-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  post-main-tpi-k8s-tools: any of: ^k8s-tools/
  post-main-tpi-kiali: any of: ^kiali/
  post-main-tpi-loki: any of: ^loki/
  post-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  post-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  post-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  post-main-tpi-grafana: any of: ^grafana/
  post-main-tpi-kaniko-executer: any of: ^kaniko-executer/
