Repository kyma-project/third-party-images: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-third-party-images-protecode-guard, pre-third-party-images-validate-inrepo-prow-configs, pull-third-party-images-pjtester, pull-third-party-images-vpathguard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-jaeger-operator, pre-main-tpi-k8s-tools, pre-main-tpi-kiali, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kaniko-executer, pre-main-tpi-kube-state-metrics, pre-main-tpi-otel-collector, post-main-tpi-cloudsql-proxy, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-jaeger-operator, post-main-tpi-k8s-tools, post-main-tpi-kiali, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kaniko-executer, post-main-tpi-kube-state-metrics, post-main-tpi-otel-collector

pre-main-third-party-images-protecode-guard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-third-party-images-protecode-guard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-gc-compute-envs: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-third-party-images-validate-inrepo-prow-configs:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-third-party-images-validate-inrepo-prow-configs
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
  ...

pull-third-party-images-pjtester:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-third-party-images-pjtester
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/prow-tools:v20221208-45f25edc
  ...

pull-third-party-images-vpathguard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-third-party-images-vpathguard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-pjtester-kubeconfig: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-cloudsql-proxy:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-cloudsql-proxy
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20221109-d1ac84d4b
  ...

pre-main-tpi-docker-registry:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-docker-registry
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20221109-d1ac84d4b
  ...

pre-main-tpi-fluent-bit:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-fluent-bit
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20221109-d1ac84d4b
  ...

pre-main-tpi-jaeger-operator:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-jaeger-operator
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20221109-d1ac84d4b
  ...

empty commit
  docker-registry/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, post-main-tpi-docker-registry

bump (synchronize) tpi version
  docker-registry/Dockerfile
  docker-registry/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, post-main-tpi-docker-registry

bump (synchronise) tpi version
  docker-registry/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, post-main-tpi-docker-registry

Add nataliasitko to codeowners
  CODEOWNERS
Due: none

Bump python to latest version
  kiwigrid-sidecar/Dockerfile
  kiwigrid-sidecar/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

Bump curl in k8s-tools image
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Bump golang runtime to 1.19.4
  loki/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-loki, post-main-tpi-loki

filter processor added to the image
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Remove Kiali image
  CODEOWNERS
  kiali/Dockerfile
  kiali/Makefile
  kiali/README.md
  kiali/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiali, post-main-tpi-kiali

Upgrade fluent bit
  fluent-bit/Dockerfile
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Upgrade golang
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Adjust envs version
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

updated alpine, golang and otel-collector version
  fluent-bit/Dockerfile
  fluent-bit/envs
  grafana/Dockerfile
  grafana/envs
  kube-state-metrics/Dockerfile
  kube-state-metrics/envs
  loki/Dockerfile
  loki/envs
  oauth2-proxy/Dockerfile
  oauth2-proxy/envs
  otel-collector/envs
  prometheus-node-exporter/Dockerfile
  prometheus-node-exporter/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kube-state-metrics, pre-main-tpi-otel-collector, post-main-tpi-fluent-bit, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kube-state-metrics, post-main-tpi-otel-collector

downgrade alpine for loki
  loki/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-loki, post-main-tpi-loki

Update loki/envs
  loki/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-loki, post-main-tpi-loki

switch owners of observability components to github team approach
  CODEOWNERS
Due: none

update fluentbit to 2.0.9
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Bump kubectl to 1.24.10
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

update to alpine 1.17.2
  grafana/Makefile
  kiwigrid-sidecar/Makefile
  loki/envs
  oauth2-proxy/envs
  prometheus-node-exporter/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana

removed nsswitch conf from loki as it is bundled with alpine now
  loki/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-loki, post-main-tpi-loki

update otel-collector to 0.71.0
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

update python and alpine version for kiwigrid sidecar
  kiwigrid-sidecar/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

update registry docker image
  docker-registry/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, post-main-tpi-docker-registry

update otel-collector version
  otel-collector/Dockerfile
  otel-collector/builder-config.yaml
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

fix
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Bump kubectl to 1.24.11
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Update Dockerfile
  cloudsql-proxy/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

Update Makefile
  cloudsql-proxy/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

Update envs
  cloudsql-proxy/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

update of golang, kube-state-metrics, otel-collector
  fluent-bit/envs
  grafana/envs
  kube-state-metrics/envs
  loki/envs
  oauth2-proxy/envs
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-grafana, pre-main-tpi-kube-state-metrics, pre-main-tpi-otel-collector, post-main-tpi-fluent-bit, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-grafana, post-main-tpi-kube-state-metrics, post-main-tpi-otel-collector

update golang builder version to 1.20.2
  docker-registry/Dockerfile
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, pre-main-tpi-kaniko-executer, post-main-tpi-docker-registry, post-main-tpi-kaniko-executer

update to fluentbit 2.0.10
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

add file exporter to opentelemetry image
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

use contrib repo
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

add filelogreceiver
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

bump version of otel collector
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Bump kubectl to 1.25.8
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Bump Alpine base images to 3.17.3
  kiwigrid-sidecar/envs
  loki/envs
  oauth2-proxy/envs
  prometheus-node-exporter/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-loki, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, post-main-tpi-loki, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter

Build Grafana with new Alpine base image
  grafana/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

Path conditions:
  pre-main-third-party-images-protecode-guard: any of: ^((.*)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-third-party-images-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-third-party-images-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-third-party-images-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  pre-main-tpi-docker-registry: any of: ^docker-registry/
  pre-main-tpi-fluent-bit: any of: ^fluent-bit/
  pre-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  pre-main-tpi-k8s-tools: any of: ^k8s-tools/
  pre-main-tpi-kiali: any of: ^kiali/
  pre-main-tpi-loki: any of: ^loki/
  pre-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  pre-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  pre-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  pre-main-tpi-grafana: any of: ^grafana/
  pre-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  pre-main-tpi-kube-state-metrics: any of: ^kube-state-metrics/
  pre-main-tpi-otel-collector: any of: ^otel-collector/
  post-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  post-main-tpi-docker-registry: any of: ^docker-registry/
  post-main-tpi-fluent-bit: any of: ^fluent-bit/
  post-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  post-main-tpi-k8s-tools: any of: ^k8s-tools/
  post-main-tpi-kiali: any of: ^kiali/
  post-main-tpi-loki: any of: ^loki/
  post-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  post-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  post-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  post-main-tpi-grafana: any of: ^grafana/
  post-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  post-main-tpi-kube-state-metrics: any of: ^kube-state-metrics/
  post-main-tpi-otel-collector: any of: ^otel-collector/
