Repository kyma-project/third-party-images: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-third-party-images-protecode-guard, pull-third-party-images-checkconfig, pull-third-party-images-pjconfigtest, pull-third-party-images-pjtester, pull-third-party-images-vpathguard, pre-main-tpi-alertmanager, pre-main-tpi-cloudsql-proxy, pre-main-tpi-configmap-reload, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-k8s-tools, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kaniko-executer, pre-main-tpi-kube-state-metrics, pre-main-tpi-otel-collector, post-main-tpi-alertmanager, post-main-tpi-cloudsql-proxy, post-main-tpi-configmap-reload, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-k8s-tools, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kaniko-executer, post-main-tpi-kube-state-metrics, post-main-tpi-otel-collector

Path conditions:
  pre-main-third-party-images-protecode-guard: any of: ^((.*)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-third-party-images-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-third-party-images-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-third-party-images-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-third-party-images-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-main-tpi-alertmanager: any of: ^alertmanager/
  pre-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  pre-main-tpi-configmap-reload: any of: ^configmap-reload/
  pre-main-tpi-docker-registry: any of: ^docker-registry/
  pre-main-tpi-fluent-bit: any of: ^fluent-bit/
  pre-main-tpi-k8s-tools: any of: ^k8s-tools/
  pre-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  pre-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  pre-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  pre-main-tpi-grafana: any of: ^grafana/
  pre-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  pre-main-tpi-kube-state-metrics: any of: ^kube-state-metrics/
  pre-main-tpi-otel-collector: any of: ^otel-collector/
  post-main-tpi-alertmanager: any of: ^alertmanager/
  post-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  post-main-tpi-configmap-reload: any of: ^configmap-reload/
  post-main-tpi-docker-registry: any of: ^docker-registry/
  post-main-tpi-fluent-bit: any of: ^fluent-bit/
  post-main-tpi-k8s-tools: any of: ^k8s-tools/
  post-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  post-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  post-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  post-main-tpi-grafana: any of: ^grafana/
  post-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  post-main-tpi-kube-state-metrics: any of: ^kube-state-metrics/
  post-main-tpi-otel-collector: any of: ^otel-collector/

bump otel image version to 0.95
  otel-collector/builder-config.yaml
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

chror: Bump otel collector version to 0.96
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Make selfmon dockerfile
  self-monitor/Dockerfile
  self-monitor/plugins.yml
Due: pre-main-third-party-images-protecode-guard

fixes
  CODEOWNERS
  self-monitor/Dockerfile
  self-monitor/plugins.yml
  telemetry-self-monitor/Dockerfile
  telemetry-self-monitor/README.md
  telemetry-self-monitor/envs
  telemetry-self-monitor/plugins.yml
Due: pre-main-third-party-images-protecode-guard

try
  telemetry-self-monitor/env-vars
Due: pre-main-third-party-images-protecode-guard

add feature gate to otel-collector to use LocalHost As DefaultHost
  otel-collector/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

fix
  telemetry-self-monitor/Dockerfile
  telemetry-self-monitor/envs
Due: pre-main-third-party-images-protecode-guard

fix
  telemetry-self-monitor/envs
Due: pre-main-third-party-images-protecode-guard

fix
  telemetry-self-monitor/Dockerfile
Due: pre-main-third-party-images-protecode-guard

Apply suggestions from code review
  telemetry-self-monitor/README.md
Due: none

update resty version in otel-collector
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

update to otel-collector 0.97.0
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

fix
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Remove env files approach as it is not supported anymore with ADO
  cloudsql-proxy/envs
  docker-registry/envs
  etcd/envs
  fluent-bit/Dockerfile
  fluent-bit/envs
  kaniko-executer/Dockerfile
  kaniko-executer/envs
  otel-collector/Dockerfile
  telemetry-self-monitor/Dockerfile
  telemetry-self-monitor/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-kaniko-executer, pre-main-tpi-otel-collector, post-main-tpi-cloudsql-proxy, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-kaniko-executer, post-main-tpi-otel-collector

fix kaniko build
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kaniko-executer, post-main-tpi-kaniko-executer

re-introduce envs files
  cloudsql-proxy/Dockerfile
  cloudsql-proxy/envs
  docker-registry/Dockerfile
  docker-registry/envs
  fluent-bit/Dockerfile
  fluent-bit/envs
  kaniko-executer/Dockerfile
  kaniko-executer/envs
  otel-collector/Dockerfile
  telemetry-self-monitor/Dockerfile
  telemetry-self-monitor/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-kaniko-executer, pre-main-tpi-otel-collector, post-main-tpi-cloudsql-proxy, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-kaniko-executer, post-main-tpi-otel-collector

update otel image to 0.99.0
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

update fluent-bit image version to 3.0.2
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update fluent-bit image version to 3.0.3
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update and retrigger PR jobs
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

update and retrigger PR jobs
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Update OTEL image version to 0.99.0 (#427)
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Update fluent-bit image version to 3.0.3 (#428)
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Add prometheus exporter to otel collector image
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Add prometheus exporter to otel collector image (#430)
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

update to prometheus 2.45.5
  telemetry-self-monitor/envs
Due: pre-main-third-party-images-protecode-guard

update to prometheus 2.45.5 (#431)
  telemetry-self-monitor/envs
Due: pre-main-third-party-images-protecode-guard

Remove opencensus receiver from otel-collector
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Remove opencensus receiver from otel-collector (#432)
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Update OTEL image version to 0.100.0
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Update OTEL image version to 0.100.0 (#433)
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Bump Fluent-Bit to 3.0.4
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Bump Fluent-Bit to 3.0.4 (#434)
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Update envs file for cloudsql-proxy
  cloudsql-proxy/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

Update envs file for cloudsql-proxy (#435)
  cloudsql-proxy/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy
