Repository kyma-project/third-party-images: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-third-party-images-protecode-guard, pull-third-party-images-checkconfig, pull-third-party-images-pjconfigtest, pull-third-party-images-pjtester, pull-third-party-images-vpathguard, pre-main-tpi-alertmanager, pre-main-tpi-cloudsql-proxy, pre-main-tpi-configmap-reload, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-k8s-tools, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kaniko-executer, pre-main-tpi-kube-state-metrics, pre-main-tpi-otel-collector, post-main-tpi-alertmanager, post-main-tpi-cloudsql-proxy, post-main-tpi-configmap-reload, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-k8s-tools, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kaniko-executer, post-main-tpi-kube-state-metrics, post-main-tpi-otel-collector

Path conditions:
  pre-main-third-party-images-protecode-guard: any of: ^((.*)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pull-third-party-images-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-third-party-images-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-third-party-images-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-third-party-images-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-main-tpi-alertmanager: any of: ^alertmanager/
  pre-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  pre-main-tpi-configmap-reload: any of: ^configmap-reload/
  pre-main-tpi-docker-registry: any of: ^docker-registry/
  pre-main-tpi-fluent-bit: any of: ^fluent-bit/
  pre-main-tpi-k8s-tools: any of: ^k8s-tools/
  pre-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  pre-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  pre-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  pre-main-tpi-grafana: any of: ^grafana/
  pre-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  pre-main-tpi-kube-state-metrics: any of: ^kube-state-metrics/
  pre-main-tpi-otel-collector: any of: ^otel-collector/
  post-main-tpi-alertmanager: any of: ^alertmanager/
  post-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  post-main-tpi-configmap-reload: any of: ^configmap-reload/
  post-main-tpi-docker-registry: any of: ^docker-registry/
  post-main-tpi-fluent-bit: any of: ^fluent-bit/
  post-main-tpi-k8s-tools: any of: ^k8s-tools/
  post-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  post-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  post-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  post-main-tpi-grafana: any of: ^grafana/
  post-main-tpi-kaniko-executer: any of: ^kaniko-executer/
  post-main-tpi-kube-state-metrics: any of: ^kube-state-metrics/
  post-main-tpi-otel-collector: any of: ^otel-collector/

Bump k8s-tools image
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

reuse compliance
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Due: pre-main-third-party-images-protecode-guard

update to alpine 1.18.3 and golang 1.20.7
  alertmanager/envs
  grafana/envs
  kiwigrid-sidecar/envs
  kube-state-metrics/envs
  oauth2-proxy/envs
  prometheus-node-exporter/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-alertmanager, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kube-state-metrics, post-main-tpi-alertmanager, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kube-state-metrics

update
  kiwigrid-sidecar/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

update otel-collector 0.83.0 and fluentbit 2.1.8
  fluent-bit/envs
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-otel-collector, post-main-tpi-fluent-bit, post-main-tpi-otel-collector

update to ksm 2.10.0
  kube-state-metrics/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kube-state-metrics, post-main-tpi-kube-state-metrics

Bump kubectl in k8s-tools image
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

update to fluentbit 2.1.9 and otel-collector 0.85.0
  fluent-bit/envs
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-otel-collector, post-main-tpi-fluent-bit, post-main-tpi-otel-collector

Update oauth2-proxy to 7.5.1
  oauth2-proxy/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-oauth2-proxy, post-main-tpi-oauth2-proxy

Remove curl from k8s-tools image
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Update OpenTelemetry Collector to 0.86.0
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

replaced deprecated loggingexporter with debugexporter
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

update to otel-collector 0.87.0 and fluentbit 2.1.10
  fluent-bit/envs
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-otel-collector, post-main-tpi-fluent-bit, post-main-tpi-otel-collector

fix
  fluent-bit/envs
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-otel-collector, post-main-tpi-fluent-bit, post-main-tpi-otel-collector

remove loki plugin from fluent-bit image
  fluent-bit/Dockerfile
  fluent-bit/README.md
  fluent-bit/plugins/out_grafana_loki/buffer.go
  fluent-bit/plugins/out_grafana_loki/client.go
  fluent-bit/plugins/out_grafana_loki/config.go
  fluent-bit/plugins/out_grafana_loki/config_test.go
  fluent-bit/plugins/out_grafana_loki/dque.go
  fluent-bit/plugins/out_grafana_loki/go.mod
  fluent-bit/plugins/out_grafana_loki/go.sum
  fluent-bit/plugins/out_grafana_loki/loki.go
  fluent-bit/plugins/out_grafana_loki/loki_test.go
  fluent-bit/plugins/out_grafana_loki/out_grafana_loki.go
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update README
  fluent-bit/README.md
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

remove GOLANG_VERSION env
  fluent-bit/Dockerfile
  fluent-bit/README.md
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

FEAT: Remove cumulativeToDelta
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

update to otel-collector 0.88.0
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

add httpcheck receiver to otel-collector bundle
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

fix
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

removal of monitoring components
  CODEOWNERS
  alertmanager/Dockerfile
  alertmanager/README.md
  alertmanager/envs
  grafana/Dockerfile
  grafana/README.md
  grafana/envs
  grafana/go.mod
  grafana/go.sum
  grafana/main.go
  grafana/main_test.go
  kiwigrid-sidecar/Dockerfile
  kiwigrid-sidecar/README.md
  kiwigrid-sidecar/envs
  kube-state-metrics/Dockerfile
  kube-state-metrics/README.md
  kube-state-metrics/envs
  oauth2-proxy/Dockerfile
  oauth2-proxy/README.md
  oauth2-proxy/envs
  prometheus-node-exporter/Dockerfile
  prometheus-node-exporter/README.md
  prometheus-node-exporter/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-alertmanager, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-node-exporter, pre-main-tpi-grafana, pre-main-tpi-kube-state-metrics, post-main-tpi-alertmanager, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-node-exporter, post-main-tpi-grafana, post-main-tpi-kube-state-metrics

add file storage extension
  otel-collector/builder-config.yaml
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

update to otel-collector 0.89.0
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

update to fluentbit 2.2.0
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

use scratch image as base for otel-collector
  otel-collector/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

fix
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Bump gce-proxy to 1.33.15
  cloudsql-proxy/Dockerfile
  cloudsql-proxy/Makefile
  cloudsql-proxy/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

update to otel-collector 0.91.0
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Bump Fluent Bit to 2.2.1
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Delete sequential_http
  fluent-bit/Dockerfile
  fluent-bit/plugins/CMakeLists.txt
  fluent-bit/plugins/out_sequentialhttp/CMakeLists.txt
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp.c
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp.h
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp_conf.c
  fluent-bit/plugins/out_sequentialhttp/sequentialhttp_conf.h
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Use kaniko executor 1.9.2 and latest golang runtime
  kaniko-executer/Dockerfile
  kaniko-executer/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kaniko-executer, post-main-tpi-kaniko-executer

update to otel-collector 0.92.0
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

update to golang 1.21.6
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

Bump cloudsql-proxy to v1.33.16
  CODEOWNERS
  cloudsql-proxy/Dockerfile
  cloudsql-proxy/Makefile
  cloudsql-proxy/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

update fluentbit image to 2.2.2
  fluent-bit/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update otel image version to 0.93
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector

update OTEL image version to 0.94.0 and update golang version to 1.22
  otel-collector/envs
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-otel-collector, post-main-tpi-otel-collector
