Repository kyma-project/third-party-images: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-etcd, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-jaeger-operator, pre-main-tpi-k8s-tools, pre-main-tpi-kiali, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-minio, pre-main-tpi-minio-mc, pre-main-tpi-node-exporter, pre-main-tpi-grafana, post-main-tpi-cloudsql-proxy, post-main-tpi-etcd, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-jaeger-operator, post-main-tpi-k8s-tools, post-main-tpi-kiali, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-minio, post-main-tpi-minio-mc, post-main-tpi-node-exporter, post-main-tpi-grafana

pre-main-third-party-images-protecode-guard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-third-party-images-protecode-guard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-gc-compute-envs: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-tpi-cloudsql-proxy:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-cloudsql-proxy
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-etcd:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-etcd
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-docker-registry:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-docker-registry
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-fluent-bit:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-fluent-bit
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-jaeger-operator:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-jaeger-operator
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-k8s-tools:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-k8s-tools
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-kiali:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-kiali
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-oauth2-proxy:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-oauth2-proxy
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

go back to debian to avoid alpine faccessat requirement
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard

Bump cloudsql img
  cloudsql-proxy/Dockerfile
  cloudsql-proxy/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

Update kaniko-executer/README.md
  kaniko-executer/README.md
Due: none

Update kaniko-executer/Dockerfile
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard

update codeowners
  CODEOWNERS
Due: none

K8s-tools: bump Alpine
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

update docker registry base image
  docker-registry/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, post-main-tpi-docker-registry

update docker-registry image
  docker-registry/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, post-main-tpi-docker-registry

update kaniko executor image
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard

update to fluent-bit 1.8.8
  fluent-bit/Dockerfile
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

fix
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

added missing lib for fluent-bit
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

fix
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Use alpine-based Dockerfile for kaniko-executer
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard

Update alpine packages
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Update k8s-tools codeowners
  CODEOWNERS
Due: none

updated debian version
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Bump base etcd image
  etcd/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-etcd, post-main-tpi-etcd

Update codeowners
  CODEOWNERS
Due: none

update fluent-bit to 1.8.9
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Base new grafana setup
  grafana/Dockerfile
  grafana/Makefile
  grafana/go.mod
  grafana/go.sum
  grafana/main.go
  grafana/main_test.go
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

Adapt makefile dockefile
  grafana/Dockerfile
  grafana/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

add -
  grafana/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

Change test order
  grafana/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

new docker
  grafana/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

Fix used port
  grafana/Dockerfile
  grafana/main.go
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

Upgrade Kiwi
  kiwigrid-sidecar/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

update to kiwigrid sidecar 1.14
  kiwigrid-sidecar/Dockerfile
  kiwigrid-sidecar/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

Moved log statement
  grafana/main.go
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

Add file modified
  grafana/main.go
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

Modified now Write
  grafana/main.go
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

Bump version to 1.27.0
  cloudsql-proxy/Dockerfile
  cloudsql-proxy/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

update fluent-bit to 1.8.10
  fluent-bit/Dockerfile
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

trigger scan
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

update oauth2-proxy to 7.2
  oauth2-proxy/Dockerfile
  oauth2-proxy/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-oauth2-proxy, post-main-tpi-oauth2-proxy

Path conditions:
  pre-main-third-party-images-protecode-guard: any of: ^((.*)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  pre-main-tpi-etcd: any of: ^etcd/
  pre-main-tpi-docker-registry: any of: ^docker-registry/
  pre-main-tpi-fluent-bit: any of: ^fluent-bit/
  pre-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  pre-main-tpi-k8s-tools: any of: ^k8s-tools/
  pre-main-tpi-kiali: any of: ^kiali/
  pre-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  pre-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  pre-main-tpi-minio: any of: ^minio/
  pre-main-tpi-minio-mc: any of: ^minio-mc/
  pre-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  pre-main-tpi-grafana: any of: ^grafana/
  post-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  post-main-tpi-etcd: any of: ^etcd/
  post-main-tpi-docker-registry: any of: ^docker-registry/
  post-main-tpi-fluent-bit: any of: ^fluent-bit/
  post-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  post-main-tpi-k8s-tools: any of: ^k8s-tools/
  post-main-tpi-kiali: any of: ^kiali/
  post-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  post-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  post-main-tpi-minio: any of: ^minio/
  post-main-tpi-minio-mc: any of: ^minio-mc/
  post-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  post-main-tpi-grafana: any of: ^grafana/
