Repository kyma-project/third-party-images: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, pre-main-tpi-etcd, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-jaeger-operator, pre-main-tpi-k8s-tools, pre-main-tpi-kiali, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, pre-main-tpi-minio, pre-main-tpi-minio-mc, pre-main-tpi-node-exporter, pre-main-tpi-grafana, post-main-tpi-cloudsql-proxy, post-main-tpi-etcd, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-jaeger-operator, post-main-tpi-k8s-tools, post-main-tpi-kiali, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar, post-main-tpi-minio, post-main-tpi-minio-mc, post-main-tpi-node-exporter, post-main-tpi-grafana

pre-main-third-party-images-protecode-guard:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-third-party-images-protecode-guard
    prow.k8s.io/pubsub.topic: prowjobs
    preset-gc-compute-envs: 'true'
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

pre-main-tpi-cloudsql-proxy:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-cloudsql-proxy
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-etcd:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-etcd
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-docker-registry:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-docker-registry
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-fluent-bit:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-fluent-bit
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-jaeger-operator:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-jaeger-operator
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-k8s-tools:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-k8s-tools
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-kiali:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-kiali
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-tpi-oauth2-proxy:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-tpi-oauth2-proxy
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-tpi: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

improvement
  oauth2-proxy/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-oauth2-proxy, post-main-tpi-oauth2-proxy

fix
  oauth2-proxy/README.md
Due: pre-main-tpi-oauth2-proxy, post-main-tpi-oauth2-proxy

update fluent bit to 1.8.11
  fluent-bit/Dockerfile
  fluent-bit/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

fix
  fluent-bit/README.md
Due: pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

Bump kiali
  kiali/Dockerfile
  kiali/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiali, post-main-tpi-kiali

Update tracing to latest version
  jaeger-operator/Dockerfile
  jaeger-operator/README.md
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-jaeger-operator, post-main-tpi-jaeger-operator

remove newline
  jaeger-operator/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-jaeger-operator, post-main-tpi-jaeger-operator

update grafana to 7.5.12
  grafana/Dockerfile
  grafana/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

docu
  grafana/README.md
Due: pre-main-tpi-grafana, post-main-tpi-grafana

update jaeger operator image to latest 1.29.1
  jaeger-operator/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-jaeger-operator, post-main-tpi-jaeger-operator

Fix version in makefile
  jaeger-operator/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-jaeger-operator, post-main-tpi-jaeger-operator

Add program skeleton
  prow/cmd/fluent-bit-bumper/go.mod
  prow/cmd/fluent-bit-bumper/go.sum
  prow/cmd/fluent-bit-bumper/main.go
Due: pre-main-third-party-images-protecode-guard

WIP: bump debian image
  prow/cmd/fluent-bit-bumper/main.go
Due: pre-main-third-party-images-protecode-guard

Add config
  prow/cmd/fluent-bit-bumper/config/config.yaml
  prow/cmd/fluent-bit-bumper/main.go
Due: pre-main-third-party-images-protecode-guard

Remove fluent bit change
  prow/cmd/fluent-bit-bumper/main.go
Due: pre-main-third-party-images-protecode-guard

Set root path
  prow/cmd/fluent-bit-bumper/main.go
Due: pre-main-third-party-images-protecode-guard

Fix
  prow/cmd/fluent-bit-bumper/main.go
Due: pre-main-third-party-images-protecode-guard

Update CODEOWNERS
  CODEOWNERS
Due: none

update prometheus node exporter
  prometheus-node-exporter/Dockerfile
  prometheus-node-exporter/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

Update prometheus-node-exporter/Dockerfile
  prometheus-node-exporter/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-node-exporter, post-main-tpi-node-exporter

update of base image for several images
  fluent-bit/Dockerfile
  kiwigrid-sidecar/Dockerfile
  kiwigrid-sidecar/Makefile
  loki/Dockerfile
  oauth2-proxy/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-oauth2-proxy, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-fluent-bit, post-main-tpi-oauth2-proxy, post-main-tpi-kiwigrid-sidecar

fix
  kiwigrid-sidecar/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-kiwigrid-sidecar, post-main-tpi-kiwigrid-sidecar

fixes
  grafana/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

fixes
  docker-registry/Dockerfile
  fluent-bit/Dockerfile
  grafana/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-grafana, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-grafana

fixes
  fluent-bit/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, post-main-tpi-fluent-bit

revert unowned changes
  fluent-bit/Dockerfile
  grafana/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-grafana, post-main-tpi-fluent-bit, post-main-tpi-grafana

bump golang to golang:1.17.6-alpine3.15
  docker-registry/Dockerfile
  fluent-bit/Dockerfile
  grafana/Dockerfile
  kaniko-executer/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-docker-registry, pre-main-tpi-fluent-bit, pre-main-tpi-grafana, post-main-tpi-docker-registry, post-main-tpi-fluent-bit, post-main-tpi-grafana

fixes
  fluent-bit/Dockerfile
  grafana/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-fluent-bit, pre-main-tpi-grafana, post-main-tpi-fluent-bit, post-main-tpi-grafana

Bump gce-proxy to 1.28.0
  cloudsql-proxy/Dockerfile
  cloudsql-proxy/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-cloudsql-proxy, post-main-tpi-cloudsql-proxy

update to grafana 7.5.13
  grafana/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

fix
  grafana/Makefile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-grafana, post-main-tpi-grafana

wip
  serverless-bench/run-benchmarks.sh
Due: pre-main-third-party-images-protecode-guard

Add serverless-bench image
  CODEOWNERS
  serverless-bench/Dockerfile
  serverless-bench/Makefile
  serverless-bench/README.md
  serverless-bench/locust.py
  serverless-bench/run-benchmarks.sh
Due: pre-main-third-party-images-protecode-guard

add config, remove python39-xs
  serverless-bench/run-benchmarks.sh
Due: pre-main-third-party-images-protecode-guard

replace Dockerfile
  serverless-bench/Dockerfile
Due: pre-main-third-party-images-protecode-guard

Upgrade oauth2 proxy to 7.2.1
  oauth2-proxy/Makefile
  oauth2-proxy/README.md
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-oauth2-proxy, post-main-tpi-oauth2-proxy

Bump kubectl to 1.21.9 in k8s-tools
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Bump Alpine
  k8s-tools/Dockerfile
Due: pre-main-third-party-images-protecode-guard, pre-main-tpi-k8s-tools, post-main-tpi-k8s-tools

Update serverless-bench/README.md
  serverless-bench/README.md
Due: none

Path conditions:
  pre-main-third-party-images-protecode-guard: any of: ^((.*)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  pre-main-tpi-etcd: any of: ^etcd/
  pre-main-tpi-docker-registry: any of: ^docker-registry/
  pre-main-tpi-fluent-bit: any of: ^fluent-bit/
  pre-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  pre-main-tpi-k8s-tools: any of: ^k8s-tools/
  pre-main-tpi-kiali: any of: ^kiali/
  pre-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  pre-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  pre-main-tpi-minio: any of: ^minio/
  pre-main-tpi-minio-mc: any of: ^minio-mc/
  pre-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  pre-main-tpi-grafana: any of: ^grafana/
  post-main-tpi-cloudsql-proxy: any of: ^cloudsql-proxy/
  post-main-tpi-etcd: any of: ^etcd/
  post-main-tpi-docker-registry: any of: ^docker-registry/
  post-main-tpi-fluent-bit: any of: ^fluent-bit/
  post-main-tpi-jaeger-operator: any of: ^jaeger-operator/
  post-main-tpi-k8s-tools: any of: ^k8s-tools/
  post-main-tpi-kiali: any of: ^kiali/
  post-main-tpi-oauth2-proxy: any of: ^oauth2-proxy/
  post-main-tpi-kiwigrid-sidecar: any of: ^kiwigrid-sidecar/
  post-main-tpi-minio: any of: ^minio/
  post-main-tpi-minio-mc: any of: ^minio-mc/
  post-main-tpi-node-exporter: any of: ^prometheus-node-exporter/
  post-main-tpi-grafana: any of: ^grafana/
