Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Update docs/user/tutorials/01-55-send-requests-using-egress-and-mtls.md
  docs/user/tutorials/01-55-send-requests-using-egress-and-mtls.md
Due: none

Add tutorial for egress with mTLS (#1286)
  docs/user/tutorials/01-50-send-requests-using-egress.md
  docs/user/tutorials/01-55-send-requests-using-egress-and-mtls.md
  pkg/lib/gatherer/gatherer.go
  tests/integration/steps/deployment.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

ADR for Processing status handling of Istio module
  docs/contributor/adr/0010-module-status.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1304)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

restart only when pod annotations are not right
  internal/restarter/predicates/prometheus_merge.go
  internal/restarter/predicates/prometheus_merge_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix lint errors
  pkg/lib/gatherer/gatherer.go
  tests/integration/steps/deployment.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

feat: egress e2e test (#1289)
  .github/workflows/call-integration-tests.yaml
  .github/workflows/post-main-workflow.yaml
  Makefile
  tests/e2e/README.md
  tests/e2e/egress/egress_test.go
  tests/integration/steps/deployment.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

bug: increase backoff on e2e test
  Makefile
  tests/e2e/egress/egress_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

add docs to sidebar
  docs/user/_sidebar.md
Due: none

bug: increase backoff on e2e test (#1305)
  Makefile
  tests/e2e/egress/egress_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

add docs to sidebar (#1308)
  docs/user/_sidebar.md
Due: none

bug: remove test-e2e from GCP integration tests
  .github/workflows/call-integration-tests.yaml
Due: none

Fix broken sidebar links
  docs/user/_sidebar.md
Due: none

Fix broken sidebar links (#1311)
  docs/user/_sidebar.md
Due: none

ADR for Processing status handling of Istio module (#1303)
  docs/contributor/adr/0010-module-status.md
Due: none

bug: remove test-e2e from GCP integration tests (#1310)
  .github/workflows/call-integration-tests.yaml
Due: none

bug: remove test-e2e from GCP integration tests 2
  .github/workflows/post-main-workflow.yaml
Due: none

bug: remove test-e2e from GCP integration tests 2 (#1312)
  .github/workflows/post-main-workflow.yaml
Due: none

Create GH workflow.
  .github/actions/get-latest-sha/action.yaml
  .github/actions/k8s-compatibility-test-aws/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/perf-test-gardener/action.yaml
  .github/workflows/schedule-main-integration.yaml
  hack/ci/scripts-v2/performance-test-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Change cron hour and get-sha.
  .github/actions/get-latest-sha/action.yaml
  .github/workflows/schedule-main-integration.yaml
Due: none

docs: Explain access logs filtering
  docs/user/tutorials/01-45-enable-istio-access-logs.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1316)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Change mod to script.
  hack/ci/scripts-v2/performance-test-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Change schedule hour.
  .github/workflows/schedule-main-integration.yaml
Due: none

Update 01-45-enable-istio-access-logs.md
  docs/user/tutorials/01-45-enable-istio-access-logs.md
Due: none

Delete if condition.
  .github/workflows/schedule-main-integration.yaml
  hack/ci/scripts-v2/performance-test-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

feat: Conditional switch to NLB load balancer
  controllers/elb_config_map_predicate.go
  controllers/istio_controller.go
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  docs/user/tutorials/01-45-enable-istio-access-logs.md
Due: none

adjust bug
  controllers/elb_config_map_predicate.go
  internal/clusterconfig/clusterconfig.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

docs: Explain access logs filtering (#1315)
  docs/user/tutorials/01-45-enable-istio-access-logs.md
Due: none

Remove redundant return statement
  controllers/elb_config_map_predicate.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Change SHA for performance tests.
  .github/workflows/schedule-main-integration.yaml
Due: none

Remove else after return
  internal/clusterconfig/clusterconfig.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

get configuration from istio-system istio configmap
  internal/restarter/predicates/prometheus_merge.go
  internal/restarter/predicates/prometheus_merge_test.go
  pkg/lib/sidecars/proxy.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

add test for port
  internal/restarter/predicates/prometheus_merge_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

dont return error
  internal/restarter/predicates/prometheus_merge.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Change kubeconfig for deploy-helm.
  .github/workflows/schedule-main-integration.yaml
  tests/performance/Makefile
Due: none

Remove else after return
  docs/user/tutorials/01-60-enable-nlb-load-balancer.md
Due: none

Change deploy-helm.
  .github/workflows/schedule-main-integration.yaml
  tests/performance/Makefile
Due: none

Change Ingress Gateway IP.
  .github/workflows/schedule-main-integration.yaml
  tests/performance/Makefile
Due: none
