Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

State
  api/v1alpha1/istio_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  internal/described_errors/described_errors.go
  internal/reconciliations/istio/installation.go
  internal/reconciliations/proxy/sidecars.go
  internal/reconciliations/proxy/sidecars_test.go
  internal/status/status.go
  internal/status/status_test.go
  tests/integration/features/istio/evaluation/istio_installation_demo.feature
  tests/integration/features/istio/production/main-suite/istio_installation.feature
  tests/integration/scenario.go
  tests/integration/steps/istio_cr.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

State
  controllers/istio_controller_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update virtualservice expand
  tests/ui/tests/tests/istio/test-virtual-services.spec.js
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Apply suggestions from code review
  tests/ui/tests/README.md
Due: none

State
  internal/reconciliations/proxy/sidecars.go
  internal/reconciliations/proxy/sidecars_test.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/restart/warning_action.go
  pkg/lib/sidecars/test/cases.go
  tests/integration/features/istio/production/main-suite/istio_installation.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Final touches
  internal/reconciliations/proxy/sidecars.go
  internal/reconciliations/proxy/sidecars_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Fix sidecars proxy resetter init
  controllers/istio_controller.go
  internal/reconciliations/proxy/sidecars.go
  internal/reconciliations/proxy/sidecars_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update
  api/v1alpha1/istio_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  docs/user/00-10-overview-istio-controller.md
  internal/described_errors/described_errors.go
  internal/reconciliations/istio/installation.go
  internal/status/status.go
  internal/status/status_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Add release notes
  docs/release-notes/1.3.0.md
Due: none

Post review adjustment
  .github/workflows/ui-tests.yaml
  Makefile
  tests/ui/README.md
  tests/ui/config.js
  tests/ui/cypress.config.js
  tests/ui/fixtures/.gitignore
  tests/ui/package-lock.json
  tests/ui/package.json
  tests/ui/plugins/index.js
  tests/ui/scripts/k3d-ci-kyma-dashboard-integration.sh
  tests/ui/scripts/k3d-local-dev.sh
  tests/ui/support/combobox.js
  tests/ui/support/exceptions.js
  tests/ui/support/filter.js
  tests/ui/support/index.js
  tests/ui/support/loadFile.js
  tests/ui/support/login.js
  tests/ui/support/navigation.js
  tests/ui/support/random.js
  tests/ui/support/views/index.js
  tests/ui/support/views/namespace.js
  tests/ui/support/views/service.js
  tests/ui/tests/authorization-policies/test-authorization-policies.spec.js
  tests/ui/tests/destination-rules/test-destination-rules.spec.js
  tests/ui/tests/gateway/test-gateways.spec.js
  tests/ui/tests/istio/test-virtual-services.spec.js
  tests/ui/tests/service-entries/test-service-entries.spec.js
  tests/ui/tests/sidecars/test-sidecars.spec.js
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Remove unneeded command
  tests/ui/support/views/namespace.js
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Adjust post-review
  tests/ui/tests/authorization-policies/test-authorization-policies.spec.js
  tests/ui/tests/destination-rules/test-destination-rules.spec.js
  tests/ui/tests/gateway/test-gateways.spec.js
  tests/ui/tests/service-entries/test-service-entries.spec.js
  tests/ui/tests/sidecars/test-sidecars.spec.js
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

chore: bump istio to 1.20.1
  VERSION
  controllers/istio_controller.go
  docs/release-notes/1.2.1.md
  go.mod
  go.sum
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

chore: bump istio to 1.20.1 (#544)
  VERSION
  controllers/istio_controller.go
  docs/release-notes/1.2.1.md
  go.mod
  go.sum
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

add missing repo files
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  NOTICE.md
  README.md
  SECURITY.md
Due: none

Remove module template and LM testing leftovers (#524)
  .env
  .github/workflows/create-release.yaml
  Makefile
  hack/ci/Makefile
  hack/local/Makefile
  hack/local/busola/Makefile
  hack/local/busola/k3d-patches/busola-extensibility.yaml
  hack/local/busola/k3d-patches/busola-kyma-extension.yaml
  hack/local/istio/Makefile
  hack/local/istio/k3d-patches/patch-k3d-lifecycle-manager-clusterrole.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

add missing repo files (#545)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  NOTICE.md
  README.md
  SECURITY.md
Due: none

Separate status and condition update funcs
  api/v1alpha1/istio_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  internal/described_errors/described_errors.go
  internal/reconciliations/istio/configuration.go
  internal/reconciliations/istio/configuration_test.go
  internal/reconciliations/istio/installation.go
  internal/reconciliations/istio/installation_test.go
  internal/status/status.go
  internal/status/status_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update docs/user/04-00-istio-custom-resource.md
  docs/user/04-00-istio-custom-resource.md
Due: none

Fix lint
  controllers/istio_controller_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update main.go
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Fix add/remove finalizers
  internal/reconciliations/istio/installation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Refactor finalizers handling
  api/v1alpha1/istio_types.go
  controllers/istio_controller.go
  internal/reconciliations/istio/installation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Omit code dup
  controllers/istio_controller.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Fix conditions on istio reconcile path
  controllers/istio_controller.go
  internal/described_errors/described_errors.go
  internal/reconciliations/istio/installation.go
  internal/reconciliations/istio/installation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Istio Status Conditions (#520)
  Makefile
  api/v1alpha1/istio_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  controllers/istio_types.go
  controllers/status.go
  controllers/status_test.go
  docs/release-notes/1.3.0.md
  docs/user/00-10-overview-istio-controller.md
  docs/user/04-00-istio-custom-resource.md
  docs/user/troubleshooting/03-10-503-no-access.md
  internal/described_errors/described_errors.go
  internal/reconciliations/istio/configuration.go
  internal/reconciliations/istio/configuration_test.go
  internal/reconciliations/istio/installation.go
  internal/reconciliations/istio/installation_test.go
  internal/reconciliations/istio_resources/reconciliation.go
  internal/reconciliations/proxy/sidecars.go
  internal/reconciliations/proxy/sidecars_test.go
  internal/status/status.go
  internal/status/status_test.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/restart/warning_action.go
  pkg/lib/sidecars/test/cases.go
  tests/integration/features/istio/evaluation/istio_installation_demo.feature
  tests/integration/features/istio/production/main-suite/istio_installation.feature
  tests/integration/scenario.go
  tests/integration/steps/istio_cr.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update istio-operator-template.yaml
  manifests/istio-operator-template.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update istio-operator-template-light.yaml
  manifests/istio-operator-template-light.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update security scanner config
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update security scanner config (#554)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Make k6 logs quiet
  tests/performance/Makefile
Due: none

Make k6 logs quiet (#555)
  tests/performance/Makefile
Due: none

Add Istio operator metrics service
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manager/metrics_service.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

No need
  config/manager/manager.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Dummy
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Add sleep
  tests/performance/Makefile
Due: none

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration-aws-specific: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
