Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

Link slack thread about redis
  docs/contributor/draft/rate-limiting-poc/06-sum-up-rate-limiting.md
Due: none

Apply suggestions from code review
  docs/contributor/draft/rate-limiting-poc/04-global-rate-limiting-memcached.md
  docs/contributor/draft/rate-limiting-poc/05-global-rate-limiting-valkey.md
  docs/contributor/draft/rate-limiting-poc/06-sum-up-rate-limiting.md
Due: none

CR
  docs/contributor/draft/rate-limiting-poc/05-global-rate-limiting-valkey.md
Due: none

Apply suggestions from code review
  docs/contributor/draft/rate-limiting-poc/06-sum-up-rate-limiting.md
Due: none

Apply suggestions from code review
  docs/contributor/draft/rate-limiting-poc/05-global-rate-limiting-valkey.md
Due: none

Apply suggestions from code review
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

More info added
  docs/contributor/draft/rate-limiting-poc/06-sum-up-rate-limiting.md
Due: none

Post review changes
  Makefile
  tests/performance-grpc/README.md
  tests/performance-grpc/load-testing/templates/httpbin.yaml
  tests/performance-grpc/steps/job.yaml
  tests/performance-grpc/steps/steps.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  internal/compatibility/proxy_restart_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  tests/performance-grpc/README.md
Due: none

Grpc loadtest (#896)
  Makefile
  tests/integration/hooks.go
  tests/integration/main_test.go
  tests/integration/steps/container_resources.go
  tests/integration/steps/deployment.go
  tests/integration/steps/destination_rule.go
  tests/integration/steps/istio.go
  tests/integration/steps/istio_cr.go
  tests/integration/steps/logs.go
  tests/integration/steps/nginx.go
  tests/integration/steps/observability.go
  tests/integration/steps/operator.go
  tests/integration/steps/resource.go
  tests/integration/steps/validation_requests.go
  tests/integration/testsupport/http_client.go
  tests/performance-grpc/.gitignore
  tests/performance-grpc/Makefile
  tests/performance-grpc/README.md
  tests/performance-grpc/features/duration.feature
  tests/performance-grpc/features/requests.feature
  tests/performance-grpc/features/rps.feature
  tests/performance-grpc/load-testing/.helmignore
  tests/performance-grpc/load-testing/Chart.yaml
  tests/performance-grpc/load-testing/templates/_helpers.tpl
  tests/performance-grpc/load-testing/templates/dns-entry.yaml
  tests/performance-grpc/load-testing/templates/httpbin.yaml
  tests/performance-grpc/load-testing/templates/kyma-gateway-cert.yaml
  tests/performance-grpc/load-testing/templates/kyma-gateway.yaml
  tests/performance-grpc/load-testing/templates/results-storage.yaml
  tests/performance-grpc/load-testing/templates/vs-allow.yaml
  tests/performance-grpc/load-testing/values.yaml
  tests/performance-grpc/main_test.go
  tests/performance-grpc/scenario.go
  tests/performance-grpc/steps/job.yaml
  tests/performance-grpc/steps/steps.go
  tests/testcontext/config.go
  tests/testcontext/context.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add usage examples
  docs/contributor/draft/rate-limiting-poc/06-sum-up-rate-limiting.md
Due: none

Add envoy Memcached rate limiting (#876)
  docs/contributor/draft/rate-limiting-poc/04-global-rate-limiting-memcached.md
  docs/contributor/draft/rate-limiting-poc/05-global-rate-limiting-valkey.md
  docs/contributor/draft/rate-limiting-poc/06-sum-up-rate-limiting.md
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/memcached-gateway/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/memcached-gateway/summary-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/memcached-sidecar/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/memcached-sidecar/summary-sidecar.html
  tests/performance/load-testing/templates/rate-limit-memcached.yaml
  tests/performance/load-testing/values.yaml
Due: none

Update rollout-module.yaml
  .github/workflows/rollout-module.yaml
Due: none

Fix experimental rollout (#897)
  .github/workflows/rollout-module.yaml
Due: none

Update rollout-module.yaml (#898)
  .github/workflows/rollout-module.yaml
Due: none

Update security scanner config
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update security scanner config (#899)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update security scanners config and VERSION file
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update security scanners config and VERSION file (#900)
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update release branch in Dependabot config
  .github/dependabot.yml
Due: none

Update release branch in Dependabot config (#904)
  .github/dependabot.yml
Due: none

Rollback version to 44.5.2
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-gardener.yaml
  .github/workflows/pull-request.yaml
Due: none

Change the Pull Request label to a selection
  .github/workflows/rollout-module.yaml
Due: none

Remove dependency to Prow in the Pull Request workflow and add new job to build an image and push it to GCP
  .github/actions/build-manager-image/action.yaml
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/load-manager-image/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/pull-integration.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/ui-tests.yaml
  tests/ui/scripts/k3d-ci-kyma-dashboard-integration.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Use matrix to build the platforms
  .github/actions/build-manager-image/action.yaml
  .github/workflows/pull-request.yaml
Due: none

Remove matrix from image building
  .github/workflows/pull-request.yaml
Due: none

Move GCP image build to gardener PR integration workflow
  .github/workflows/pull-integration-gardener.yaml
  .github/workflows/pull-request.yaml
Due: none

Add information about Istio Ingressgateway scaling
  tests/performance/Readme.md
Due: none

Change the Pull Request label to a selection (#905)
  .github/workflows/rollout-module.yaml
Due: none

Add pre merge requirements list
  .github/pull-request-template.md
Due: none

Update .github/pull-request-template.md
  .github/pull-request-template.md
Due: none

Send error signal if performance tests failed to run
  hack/ci/gardener-perf-test.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
