Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

fix number of steps
  docs/user/tutorials/01-50-send-requests-using-egress.md
Due: none

Remove tj-actions/changed-files
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/call-release-pr-integration-gardener.yaml
  .github/workflows/call-release-pr-integration.yaml
  .github/workflows/call-ui-tests.yaml
  .github/workflows/call-unit-lint-head-ref.yaml
  .github/workflows/call-unit-lint.yaml
  .github/workflows/call-verify-commit-pins.yaml
Due: none

Remove tj-actions/changed-files (#1351)
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/call-release-pr-integration-gardener.yaml
  .github/workflows/call-release-pr-integration.yaml
  .github/workflows/call-ui-tests.yaml
  .github/workflows/call-unit-lint-head-ref.yaml
  .github/workflows/call-unit-lint.yaml
  .github/workflows/call-verify-commit-pins.yaml
Due: none

EF proxy-protocol for openstack cluster
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/reconciliations/istio_resources/reconciliation.go
  internal/reconciliations/istio_resources/reconciliation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

add a note
  docs/user/tutorials/01-20-expose-httbin-gateway-api.md
  docs/user/tutorials/01-55-send-requests-using-egress-and-mtls.md
Due: none

Prepare Istio tutorials for moving to Tutorial Navigator (#1349)
  docs/user/tutorials/01-10-external-authorization-provider.md
  docs/user/tutorials/01-20-expose-httbin-gateway-api.md
  docs/user/tutorials/01-50-send-requests-using-egress.md
  docs/user/tutorials/01-55-send-requests-using-egress-and-mtls.md
Due: none

fix gateway api tutorial
  docs/user/tutorials/01-20-expose-httbin-gateway-api.md
Due: none

fix gateway api tutorial (#1361)
  docs/user/tutorials/01-20-expose-httbin-gateway-api.md
Due: none

Apply suggestions from code review
  docs/user/tutorials/01-60-enable-nlb-load-balancer.md
Due: none

Update version info
  docs/user/tutorials/01-60-enable-nlb-load-balancer.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1354)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

feat: Conditional switch to NLB load balancer (#1317)
  controllers/elb_config_map_predicate.go
  controllers/istio_controller.go
  docs/user/tutorials/01-60-enable-nlb-load-balancer.md
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/reconciliations/istio_resources/proxy_protocol_envoy_filter.go
  internal/reconciliations/istio_resources/proxy_protocol_envoy_filter_test.go
  internal/reconciliations/istio_resources/reconciliation.go
  internal/reconciliations/istio_resources/reconciliation_test.go
  internal/resources/resources.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add annotation for istio-ingressgateway.
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/reconciliations/istio/install.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

NLB release notes
  docs/release-notes/1.16.0.md
Due: none

NLB release notes (#1362)
  docs/release-notes/1.16.0.md
Due: none

go mod tidy
  go.mod
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Run schedule main job one hour before to not clash with Api Gateway
  .github/workflows/schedule-main-integration.yaml
Due: none

Run schedule main job one hour before to not clash with Api Gateway (#1363)
  .github/workflows/schedule-main-integration.yaml
Due: none

Update Istio version to 1.25.1
  go.mod
  go.sum
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add Istio 1.25.1 to external images
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Dummy change
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add Istio 1.25.1 to external images (#1364)
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update Istio version to 1.25.1
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove tj-changed action from workflows
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/call-release-pr-integration-gardener.yaml
  .github/workflows/call-release-pr-integration.yaml
  .github/workflows/call-ui-tests.yaml
  .github/workflows/call-unit-lint-head-ref.yaml
  .github/workflows/call-unit-lint.yaml
  .github/workflows/call-verify-commit-pins.yaml
Due: none

Remove tj-changed action from workflows (#1366)
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/call-release-pr-integration-gardener.yaml
  .github/workflows/call-release-pr-integration.yaml
  .github/workflows/call-ui-tests.yaml
  .github/workflows/call-unit-lint-head-ref.yaml
  .github/workflows/call-unit-lint.yaml
  .github/workflows/call-verify-commit-pins.yaml
Due: none

feat: Enable Istio access logs via OTLP to Telemetry Log Gateway
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: automatic update sec-scanners-config.yaml (#1367)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Use operator_image_name instead of operator-image-name
  .github/actions/build-manager-image/action.yaml
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/integration-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/call-release-pr-integration.yaml
  .github/workflows/post-main-workflow.yaml
  .github/workflows/pull-build-push.yaml
  .github/workflows/pull-request.yaml
Due: none

Adapt AWS suite
  tests/integration/features/aws-suite/xff_header.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adapt tests to work on release (#1368)
  .github/actions/build-manager-image/action.yaml
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/integration-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/call-release-pr-integration.yaml
  .github/workflows/post-main-workflow.yaml
  .github/workflows/pull-build-push.yaml
  .github/workflows/pull-request.yaml
  tests/integration/features/aws-suite/xff_header.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update sec-scanners-config.yaml (#1369)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

consolidate release PR and PR workflows
  .github/workflows/call-release-pr-integration.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-pr.yaml
Due: none

nlb doc
  docs/user/_sidebar.md
Due: none

nlb doc (#1370)
  docs/user/_sidebar.md
Due: none

Update docs and compatibility_mode.go
  api/v1alpha2/compatibility_mode.go
  docs/release-notes/1.17.0.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add more info to RN
  api/v1alpha2/compatibility_mode.go
  docs/release-notes/1.17.0.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove version table
  docs/release-notes/1.17.0.md
Due: none

Apply suggestions from code review
  docs/release-notes/1.17.0.md
Due: none

Table
  docs/release-notes/1.17.0.md
Due: none
