Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Cleanup release notes
  docs/release-notes/1.20.1.md
  docs/release-notes/1.20.2.md
Due: none

backport: bug: Fix labels reconciliation in resource manager (#1527) (#1537)
  .github/actions/build-manager-image/action.yaml
  .github/actions/e2e-test-gardener/action.yaml
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test-aws/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/post-main-workflow.yaml
  .github/workflows/pull-build-push.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-istio-2.yaml
  Dockerfile
  docs/release-notes/1.20.2.md
  internal/reconciliations/istioresources/peer_authentication_mtls_test.go
  internal/reconciliations/istioresources/proxy_protocol_envoy_filter_test.go
  internal/resources/disclaimer_annotation_test.go
  internal/resources/resources.go
  internal/resources/resources_test.go
  internal/resources/test_files/resource_after_labels.yaml
  internal/resources/test_files/resource_before_labels.yaml
  tests/integration/features/installation-suite/install.feature
  tests/integration/scenario.go
  tests/integration/steps/resource.go
  tests/integration/testsupport/environments.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

release: update sec-scanners-config.yaml (#1538)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Review suggestions
  .github/pull-request-template.md
Due: none

bug: Fix labels reconciliation in resource manager (#1527)
  .github/actions/build-manager-image/action.yaml
  .github/actions/e2e-test-gardener/action.yaml
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test-aws/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/post-main-workflow.yaml
  .github/workflows/pull-build-push.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-istio-2.yaml
  Dockerfile
  docs/release-notes/1.19.3.md
  internal/reconciliations/istioresources/peer_authentication_mtls_test.go
  internal/reconciliations/istioresources/proxy_protocol_envoy_filter_test.go
  internal/resources/disclaimer_annotation_test.go
  internal/resources/resources.go
  internal/resources/resources_test.go
  internal/resources/test_files/resource_after_labels.yaml
  internal/resources/test_files/resource_before_labels.yaml
  tests/integration/features/installation-suite/install.feature
  tests/integration/scenario.go
  tests/integration/steps/resource.go
  tests/integration/testsupport/environments.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  .github/pull-request-template.md
Due: none

Fix schedule workflow missing env
  .github/workflows/schedule-main-integration.yaml
Due: none

Fix schedule workflow missing env (#1540)
  .github/workflows/schedule-main-integration.yaml
Due: none

Refactor release: allow multiple releases at a time (#1532)
  .github/workflows/release-istio-1.yaml
  .github/workflows/release-istio-2.yaml
Due: none

bug: Fix labels reconciliation in resource manager (#1527) (#1539)
  .github/actions/build-manager-image/action.yaml
  .github/actions/e2e-test-gardener/action.yaml
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test-aws/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/post-main-workflow.yaml
  .github/workflows/pull-build-push.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-istio-2.yaml
  Dockerfile
  docs/release-notes/1.19.3.md
  internal/reconciliations/istioresources/peer_authentication_mtls_test.go
  internal/reconciliations/istioresources/proxy_protocol_envoy_filter_test.go
  internal/resources/disclaimer_annotation_test.go
  internal/resources/resources.go
  internal/resources/resources_test.go
  internal/resources/test_files/resource_after_labels.yaml
  internal/resources/test_files/resource_before_labels.yaml
  tests/integration/features/installation-suite/install.feature
  tests/integration/scenario.go
  tests/integration/steps/resource.go
  tests/integration/testsupport/environments.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update release-istio-1.yaml
  .github/workflows/release-istio-1.yaml
Due: none

Improve pre-merge checklist (#1526)
  .github/pull-request-template.md
Due: none

Update release-istio-1.yaml (#1541)
  .github/workflows/release-istio-1.yaml
Due: none

release: update sec-scanners-config.yaml (#1543)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Add not on PDPs on sidecar restarts
  docs/user/00-00-istio-sidecar-proxies.md
Due: none

Update docs/user/00-00-istio-sidecar-proxies.md
  docs/user/00-00-istio-sidecar-proxies.md
Due: none

Note on kubenativeness and probes
  docs/user/00-00-istio-sidecar-proxies.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1545)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

feat: pass istio images hub from deployment environments to installer
  Makefile
  config/manager/env-images.yaml
  controllers/istio_controller.go
  go.mod
  go.sum
  hack/generate_sec_scanners_images_env.sh
  internal/images/env.go
  internal/images/env_test.go
  internal/images/merge.go
  internal/istiooperator/istiooperator.go
  internal/istiooperator/istiooperator_test.go
  internal/istiooperator/merge.go
  internal/istiooperator/merge_experimental.go
  internal/istiooperator/merge_experimental_test.go
  main.go
  tests/testcontext/config.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: correct envDefault syntax in config.go for timeout settings
  tests/testcontext/config.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove deprecated build-engine: buildx
  .github/workflows/post-main-workflow.yaml
  .github/workflows/release-create-release.yaml
  .github/workflows/release-istio-2.yaml
Due: none

Remove deprecated build-engine: buildx (#1548)
  .github/workflows/post-main-workflow.yaml
  .github/workflows/release-create-release.yaml
  .github/workflows/release-istio-2.yaml
Due: none

fix: update test description for merged istio hub
  internal/istiooperator/istiooperator_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add not on PDBs on sidecar restarts (#1544)
  docs/user/00-00-istio-sidecar-proxies.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1550)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

feat: change from main initialization to controller initialization with fail save to istio CR
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  controllers/validate_test.go
  internal/istiooperator/istiooperator.go
  internal/istiooperator/istiooperator_test.go
  internal/istiooperator/merge.go
  internal/reconciliations/istio/install.go
  internal/reconciliations/istio/reconciliation.go
  internal/reconciliations/istio/reconciliation_test.go
  internal/restarter/sidecars_test.go
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix:experimental tag
  internal/istiooperator/merge_experimental.go
  internal/istiooperator/merge_experimental_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

docs: release notes
  docs/release-notes/1.21.0.md
Due: none

tests: clear side effect by having environment variable set by previous test
  controllers/istio_controller_test.go
  controllers/validate_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update docs/release-notes/1.21.0.md
  docs/release-notes/1.21.0.md
Due: none

feat: pass istio images hub from deployment environments to installer (#1547)
  Makefile
  config/manager/env-images.yaml
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  controllers/validate_test.go
  docs/release-notes/1.21.0.md
  go.mod
  go.sum
  hack/generate_sec_scanners_images_env.sh
  internal/images/env.go
  internal/images/env_test.go
  internal/images/merge.go
  internal/istiooperator/istiooperator.go
  internal/istiooperator/istiooperator_test.go
  internal/istiooperator/merge.go
  internal/istiooperator/merge_experimental.go
  internal/istiooperator/merge_experimental_test.go
  internal/reconciliations/istio/install.go
  internal/reconciliations/istio/reconciliation.go
  internal/reconciliations/istio/reconciliation_test.go
  internal/restarter/sidecars_test.go
  tests/testcontext/config.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: automatic update sec-scanners-config.yaml (#1556)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Fix bug where initContainers proxies were not removed
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/test/helpers/helpers.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply review suggestions regarding containSidecar detection
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/test/helpers/helpers.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add e2e test covering initContainer sidecar removal
  tests/integration/features/installation-suite/uninstall.feature
  tests/integration/features/upgrade-suite/istio_upgrade.feature
  tests/integration/scenario.go
  tests/integration/steps/deployment.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add release notes
  docs/release-notes/1.21.0.md
Due: none

bug: Fix bug where initContainers proxies were not removed (#1557)
  docs/release-notes/1.21.0.md
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/test/helpers/helpers.go
  tests/integration/features/installation-suite/uninstall.feature
  tests/integration/features/upgrade-suite/istio_upgrade.feature
  tests/integration/scenario.go
  tests/integration/steps/deployment.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: automatic update sec-scanners-config.yaml (#1564)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build
