Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

chore: automatic update sec-scanners-config.yaml (#961)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

bug: use proper secret in a workflow (#960)
  .github/workflows/update-sec-scanner.yaml
Due: none

Apply suggestions from code review
  docs/user/tutorials/01-20-expose-httbin-gateway-api.md
  docs/user/tutorials/01-30-expose-tcp-gateway-api.md
Due: none

review fix
  docs/user/tutorials/01-30-expose-tcp-gateway-api.md
Due: none

review fix
  docs/user/_sidebar.md
Due: none

tutorials for exposing workloads with gateway API (#931)
  docs/user/_sidebar.md
  docs/user/tutorials/01-20-expose-httbin-gateway-api.md
  docs/user/tutorials/01-30-expose-tcp-gateway-api.md
Due: none

Update security scanner config
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update security scanner config (#962)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update status of Rate Limit ADR to Accepted
  docs/contributor/adr/0008-rate-limit.md
Due: none

Apply suggestions from code review
  docs/contributor/adr/0008-rate-limit.md
Due: none

Rate limit ADR update (#951)
  docs/contributor/adr/0008-rate-limit.md
Due: none

feat: update provision-gardener.sh with retry logic
  hack/ci/provision-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

feat: update provision-gardener.sh with retry logic (#967)
  hack/ci/provision-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix Docker warning
  Dockerfile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix Docker warning (#973)
  Dockerfile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bump k8s version int tests
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-gardener.yaml
Due: none

Update security scanner config (#974)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Migration guide for Service ExternalName Istio changed behavior
  docs/user/migration/external-name-alias.md
Due: none

Unserve v1alpha1 in CRD
  api/v1alpha1/istio_types.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  docs/user/migration/external-name-alias.md
Due: none

Remove links
  docs/user/migration/external-name-alias.md
Due: none

fix code blocks
  docs/user/tutorials/01-20-expose-httbin-gateway-api.md
  docs/user/tutorials/01-30-expose-tcp-gateway-api.md
Due: none

fix code blocks (#977)
  docs/user/tutorials/01-20-expose-httbin-gateway-api.md
  docs/user/tutorials/01-30-expose-tcp-gateway-api.md
Due: none

Adjust part
  docs/user/migration/external-name-alias.md
Due: none

Update docs/user/migration/external-name-alias.md
  docs/user/migration/external-name-alias.md
Due: none

Introduce custom k3d provisioning gh action
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/provision-k3d-cluster/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
Due: none

Remove github dir from ignore in dispatch check
  .github/workflows/pull-request.yaml
Due: none

wip
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
Due: none

wip
  .github/actions/integration-test/action.yaml
  .github/actions/provision-k3d-cluster/action.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration.yaml
Due: none

wip
  .github/actions/provision-k3d-cluster/action.yaml
Due: none

Unserve v1alpha1 in CRD (#976)
  api/v1alpha1/istio_types.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Migration guide for Service ExternalName Istio changed behavior (#975)
  docs/user/migration/external-name-alias.md
Due: none

wip
  .github/actions/k8s-compatibility-test/action.yaml
Due: none
