Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

feat: enable FIPS 140 compliance in Dockerfile builds
  Dockerfile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update Istio native sidecar documentation
  docs/user/00-20-istio-proxy-as-native-sidecar.md
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
Due: none

Update Istio native sidecar documentation
  docs/user/00-20-istio-proxy-as-native-sidecar.md
Due: none

language fixes
  docs/user/00-20-istio-proxy-as-native-sidecar.md
Due: none

language update
  docs/user/00-20-istio-proxy-as-native-sidecar.md
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1633)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Make initContainers as default, support transition in restarter
  api/v1alpha2/compatibility_mode.go
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  internal/istiooperator/merge_experimental_test.go
  internal/restarter/predicates/native_sidecar.go
  internal/restarter/predicates/native_sidecar_test.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix bug, where initContainer proxies were not restarted after resources change
  internal/restarter/predicates/image_resources.go
  internal/restarter/predicates/image_resources_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add comment to the tests to explain confusing thing about them
  pkg/lib/sidecars/proxy_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

e2e tests
  tests/integration/features/configuration-suite/configuration.feature
  tests/integration/features/installation-suite/uninstall.feature
  tests/integration/features/upgrade-suite/istio_upgrade.feature
  tests/integration/scenario.go
  tests/integration/steps/container_resources.go
  tests/integration/steps/deployment.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Cleanup redundant helper function in favor of library
  internal/restarter/predicates/image_resources_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

feat: configure GODEBUG for FIPS 140 compliance in environment variables
  internal/reconciliations/istio/client.go
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

feat: configure GODEBUG for FIPS 140 compliance in environment variables
  Dockerfile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add release notes
  docs/release-notes/1.22.0.md
Due: none

feat: configure GODEBUG for FIPS 140 compliance in environment variables
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update docs/release-notes/1.22.0.md
  docs/release-notes/1.22.0.md
Due: none

Update 00-20-istio-proxy-as-native-sidecar.md
  docs/user/00-20-istio-proxy-as-native-sidecar.md
Due: none

Apply suggestions from code review
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
Due: none

Update internal/restarter/predicates/native_sidecar.go
  internal/restarter/predicates/native_sidecar.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

feat: remove GODEBUG environment variable configuration from client and main files
  internal/reconciliations/istio/client.go
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add restarter predicate to restart proxies after native sidecar becomes a default (#1627)
  api/v1alpha2/compatibility_mode.go
  docs/release-notes/1.22.0.md
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  internal/istiooperator/merge_experimental_test.go
  internal/restarter/predicates/image_resources.go
  internal/restarter/predicates/image_resources_test.go
  internal/restarter/predicates/native_sidecar.go
  internal/restarter/predicates/native_sidecar_test.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
  tests/integration/features/configuration-suite/configuration.feature
  tests/integration/features/installation-suite/uninstall.feature
  tests/integration/features/upgrade-suite/istio_upgrade.feature
  tests/integration/scenario.go
  tests/integration/steps/container_resources.go
  tests/integration/steps/deployment.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Release Istio Module 1.22.0 (#1636)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

update dependabot.yml (#1637)
  .github/dependabot.yml
Due: none

Update 03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
Due: none

apply feedback
  docs/user/00-20-istio-proxy-as-native-sidecar.md
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
Due: none

review fixes
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
Due: none

Release adjustment
  .github/workflows/release-istio-2.yaml
Due: none

Change commit message
  .github/workflows/release-istio-1.yaml
Due: none

review comments
  docs/user/00-20-istio-proxy-as-native-sidecar.md
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
Due: none

language fix
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
Due: none

Apply suggestions from code review
  docs/user/00-20-istio-proxy-as-native-sidecar.md
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
Due: none

adjust indentation
  docs/user/00-20-istio-proxy-as-native-sidecar.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1642)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Release adjustment (#1640)
  .github/workflows/release-istio-1.yaml
  .github/workflows/release-istio-2.yaml
Due: none

Bump go to 1.25 in go.mod
  go.mod
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Native sidecars documentation update (#1632)
  docs/user/00-20-istio-proxy-as-native-sidecar.md
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
Due: none

Cancel outdated workflows
  .github/workflows/pull-build-push.yaml
  .github/workflows/pull-request.yaml
Due: none

fix: Setting proxy resources via label causes persistent restarts
  internal/restarter/predicates/image_resources.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/test/helpers/helpers.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add docs
  docs/release-notes/1.23.0.md
Due: none
