Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

formatting fixes
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

rewrite for clarity
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

fix tables
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

add links to service mesh
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

tests: add readinessProbe and proper wait for available httpbin
  tests/performance/Makefile
  tests/performance/load-testing/templates/httpbin.yaml
Due: none

poc: handling test resources with testdata and helpers
  go.mod
  go.sum
  tests/e2e/egress/egress_test.go
  tests/e2e/egress/testdata/curl_pod.yaml
  tests/e2e/egress/testdata/egress_config.yaml
  tests/e2e/egress/testdata/istio_customresource.yaml
  tests/e2e/egress/testdata/networkpolicy.yaml
  tests/e2e/pkg/helpers/ns/namespace.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

release: update sec-scanners-config.yaml (#1513)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

performance tests: add readinessProbe and proper wait for available httpbin (#1505)
  tests/performance/Makefile
  tests/performance/load-testing/templates/httpbin.yaml
Due: none

Setup for support of arm64 image building (#1497)
  .github/workflows/post-main-workflow.yaml
  .github/workflows/release-create-release.yaml
  .github/workflows/release-istio-2.yaml
  Dockerfile
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Setup for support of arm64 image building (#1497) (#1514)
  .github/workflows/post-main-workflow.yaml
  .github/workflows/release-create-release.yaml
  .github/workflows/release-istio-2.yaml
  Dockerfile
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Setup for support of arm64 image building (#1497) (#1515)
  .github/workflows/post-main-workflow.yaml
  .github/workflows/release-create-release.yaml
  .github/workflows/release-istio-2.yaml
  Dockerfile
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

release: update sec-scanners-config.yaml (#1516)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Apply Marek's review comments
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

fix description
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

hack: Put images from sec-scanners-config to the deployment env (#1492)
  Makefile
  config/manager/env-images.yaml
  config/manager/kustomization.yaml
  hack/generate_sec_scanners_images_env.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Potential fix for code scanning alert no. 25: Workflow does not contain permissions
  .github/workflows/schedule-main-integration.yaml
Due: none

Adjust workflow permissions
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/call-unit-lint.yaml
  .github/workflows/call-verify-commit-pins.yaml
  .github/workflows/main-cache.yaml
  .github/workflows/pull-add-bot-prs-to-project.yaml
  .github/workflows/pull-build-push.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-istio-1.yaml
  .github/workflows/release-rollout-module.yaml
  .github/workflows/schedule-main-integration.yaml
  .github/workflows/update-sec-scanner.yaml
Due: none

hack: Put images from sec-scanners-config to the deployment env (#1492) (#1520)
  Makefile
  config/manager/env-images.yaml
  config/manager/kustomization.yaml
  hack/generate_sec_scanners_images_env.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix indentation
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

language fix
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

Adjust workflow permissions (#1522)
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/call-unit-lint.yaml
  .github/workflows/call-verify-commit-pins.yaml
  .github/workflows/main-cache.yaml
  .github/workflows/pull-add-bot-prs-to-project.yaml
  .github/workflows/pull-build-push.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-istio-1.yaml
  .github/workflows/release-rollout-module.yaml
  .github/workflows/schedule-main-integration.yaml
  .github/workflows/update-sec-scanner.yaml
Due: none

fix code bloack
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

fix: Configure RBAC via Kubebuilder annotations
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/istio_editor_role.yaml
  config/rbac/istio_viewer_role.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  controllers/istio_controller.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

reorganize test helper packages
  Makefile
  tests/e2e/e2e/.gitignore
  tests/e2e/e2e/helpers/http/http.go
  tests/e2e/e2e/helpers/infrastructure/pod/pod.go
  tests/e2e/e2e/helpers/infrastructure/unstructured/unstructured.go
  tests/e2e/e2e/helpers/infrastructure/yamlfile/yamlfile.go
  tests/e2e/e2e/helpers/kubectl/namespace/namespace.go
  tests/e2e/e2e/helpers/shell/shell.go
  tests/e2e/e2e/setup/client.go
  tests/e2e/e2e/setup/identifier.go
  tests/e2e/e2e/setup/namespace.go
  tests/e2e/e2e/tests/createnamespacewithkubectl/create_ns_test.go
  tests/e2e/e2e/tests/createpod/create_pod_test.go
  tests/e2e/e2e/tests/resource/resource_test.go
  tests/e2e/egress/egress_test.go
  tests/e2e/pkg/helpers/client.go
  tests/e2e/pkg/helpers/curl.go
  tests/e2e/pkg/helpers/http.go
  tests/e2e/pkg/helpers/istio.go
  tests/e2e/pkg/helpers/ns/namespace.go
  tests/e2e/pkg/setup/cleanup.go
  tests/e2e/tests/Makefile
  tests/e2e/tests/createpod/create_pod_test.go
  tests/e2e/tests/httprequest/http_request_test.go
  tests/e2e/tests/resource/resource_test.go
  tests/e2e/tests/resource/testdata/pod.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update kustomization.yaml
  config/rbac/kustomization.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

Update 01-65-expose-workload-vs.md
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

oauth2 example
  tests/e2e/pkg/setup/oauth2/manifest.yaml
  tests/e2e/pkg/setup/oauth2/oauth2mock.go
  tests/e2e/tests/oauth2mock/oauth2_test.go
  tests/e2e/tests/oauth2mock/testdata/istio_customresource.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

e2e example test
  go.mod
  tests/e2e/pkg/assess/curl.go
  tests/e2e/pkg/assess/istio.go
  tests/e2e/tests/oauth2mock/e2eframework_example/example_test.go
  tests/e2e/tests/oauth2mock/e2eframework_example/main_test.go
  tests/e2e/tests/oauth2mock/e2eframework_example/testdata/istio_customresource.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Improve pre-merge checklist
  .github/pull-request-template.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1525)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

fix: Configure RBAC via Kubebuilder annotations (#1524)
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/istio_editor_role.yaml
  config/rbac/istio_viewer_role.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  controllers/istio_controller.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix labels reconciliation in resource manager
  internal/reconciliations/istioresources/peer_authentication_mtls_test.go
  internal/reconciliations/istioresources/proxy_protocol_envoy_filter_test.go
  internal/resources/disclaimer_annotation_test.go
  internal/resources/resources.go
  internal/resources/resources_test.go
  internal/resources/test_files/resource_after_labels.yaml
  internal/resources/test_files/resource_before_labels.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adapt according to Barchw review
  tests/e2e/egress/egress_test.go
  tests/e2e/pkg/assess/curl.go
  tests/e2e/pkg/assess/istio.go
  tests/e2e/pkg/helpers/client.go
  tests/e2e/pkg/helpers/curl/curl.go
  tests/e2e/pkg/helpers/http/http.go
  tests/e2e/pkg/helpers/infrastructure/client.go
  tests/e2e/pkg/helpers/infrastructure/namespace.go
  tests/e2e/pkg/helpers/istio.go
  tests/e2e/pkg/helpers/modules/istio.go
  tests/e2e/pkg/helpers/modules/operator_v1alpha2_istio.yaml
  tests/e2e/pkg/helpers/oauth2mock/manifest.yaml
  tests/e2e/pkg/helpers/oauth2mock/oauth2mock.go
  tests/e2e/pkg/setup/oauth2/oauth2mock.go
  tests/e2e/tests/createpod/create_pod_test.go
  tests/e2e/tests/httprequest/http_request_test.go
  tests/e2e/tests/oauth2mock/e2eframework_example/example_test.go
  tests/e2e/tests/oauth2mock/e2eframework_example/main_test.go
  tests/e2e/tests/oauth2mock/e2eframework_example/testdata/istio_customresource.yaml
  tests/e2e/tests/oauth2mock/oauth2_test.go
  tests/e2e/tests/resource/resource_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust labels to be appended instead of replaced
  internal/resources/resources.go
  internal/resources/resources_test.go
  internal/resources/test_files/resource_before_labels.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build
