Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Update docs/user/00-30-dns-proxying.md
  docs/user/00-30-dns-proxying.md
Due: none

Apply suggestions from code review
  docs/user/00-30-dns-proxying.md
Due: none

docs: update DNS proxying documentation and add dashboard instructions
  docs/user/00-35-dns-proxying.md
  docs/user/_sidebar.ts
Due: none

Dns proxying implementation (#1877)
  .github/actions/e2e-test-gardener/action.yaml
  .github/actions/e2e-test-k3d/action.yaml
  .github/workflows/post-main-release-workflow.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-istio-2.yaml
  .github/workflows/schedule-main-integration.yaml
  Makefile
  api/v1alpha2/istio_merge.go
  api/v1alpha2/istio_structs.go
  api/v1alpha2/merge_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  config/ui-extensions/istios/details
  config/ui-extensions/istios/form
  config/ui-extensions/istios/translations
  docs/contributor/04-50-istio-metrics.md
  docs/release-notes/1.26.0.md
  docs/user/04-00-istio-custom-resource.md
  internal/metrics/metrics.go
  internal/restarter/predicates/dns_proxying.go
  internal/restarter/predicates/dns_proxying_test.go
  internal/restarter/predicates/ingressgateway.go
  internal/restarter/predicates/ingressgateway_test.go
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
  tests/e2e/pkg/asserts/istio/proxyconfig_assertion.go
  tests/e2e/pkg/helpers/modules/istio_builder.go
  tests/e2e/pkg/helpers/proxy_config/proxy_config.go
  tests/e2e/pkg/helpers/service_entry/service_entry.go
  tests/e2e/tests/dnsproxying/dnsproxying_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Create calico k3d job and introduce create k3d script
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/provision-k3d-cluster/action.yaml
  .github/workflows/post-main-release-workflow.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-istio-2.yaml
  .github/workflows/schedule-main-integration.yaml
  hack/ci/provision-k3d.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  api/v1alpha2/istio_types.go
  docs/contributor/04-50-istio-metrics.md
  docs/user/technical-reference/05-20-support-for-network-policies.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove backslashes added by documentation generator.
  Makefile
  docs/user/04-00-istio-custom-resource.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Revoke backslash before pipe sign for proper parsing.
  Makefile
  docs/user/04-00-istio-custom-resource.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust NetworkPolicies diagram
  docs/assets/network-policies-istio.svg
Due: none

remove network policy list
  docs/user/technical-reference/05-20-support-for-network-policies.md
Due: none

fix table description
  docs/user/technical-reference/05-20-support-for-network-policies.md
Due: none

remove repeated sentence
  docs/user/technical-reference/05-20-support-for-network-policies.md
Due: none

revert removed labels
  docs/user/technical-reference/05-20-support-for-network-policies.md
Due: none

Regenerate manifests
  config/crd/bases/operator.kyma-project.io_istios.yaml
  docs/user/04-00-istio-custom-resource.md
  internal/metrics/metrics.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Install k3d according to docu
  hack/ci/provision-k3d.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Use context of kyma cluster
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
Due: none

Revert "Use context of kyma cluster"
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
Due: none

Remove cluster name
  hack/ci/provision-k3d.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Format tests
  tests/e2e/pkg/asserts/http/assertions.go
  tests/e2e/pkg/asserts/istio/pod_assertions.go
  tests/e2e/pkg/helpers/egressgateway/setup.go
  tests/e2e/pkg/helpers/modules/istio_builder.go
  tests/e2e/pkg/helpers/virtual_service/virtual_service.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust according to ResetKK review
  controllers/istio_controller.go
  internal/reconciliations/istioresources/networkpolicies.go
  internal/reconciliations/istioresources/networkpolicies_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove backslashes added by documentation generator. (#1896)
  Makefile
  docs/user/04-00-istio-custom-resource.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Make k3d cli installation conditional
  hack/ci/provision-k3d.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Ack limitation of k3d with calico with agents > 0
  .github/workflows/pull-request.yaml
  hack/ci/provision-k3d.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Reduce AGENTS in the calico jobs
  .github/workflows/post-main-release-workflow.yaml
  .github/workflows/release-istio-2.yaml
  .github/workflows/schedule-main-integration.yaml
Due: none

Apply suggestions from code review
  docs/user/00-35-dns-proxying.md
Due: none

docs: add concept for DNS proxying in Istio (#1886)
  docs/user/00-35-dns-proxying.md
  docs/user/_sidebar.ts
Due: none

New version of upload-release-report
  .github/workflows/release-istio-2.yaml
Due: none

Update pull request template with new checklist item
  .github/pull-request-template.md
Due: none

Update .github/pull-request-template.md
  .github/pull-request-template.md
Due: none

Add Source/Destination column
  docs/contributor/adr/0015-networkpolicies-istio-kyma-system.md
Due: none

Fix link for DNS Proxying in sidebar
  docs/user/_sidebar.ts
Due: none

Fix link for DNS Proxying in sidebar (#1900)
  docs/user/_sidebar.ts
Due: none

Make sure that Istio PDBs are deployed
  internal/istiooperator/istio-operator.yaml
  tests/e2e/pkg/asserts/istio/resource_readiness_assertions.go
  tests/e2e/tests/installation/installation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Restore old pdb setting, update test
  internal/istiooperator/istio-operator.yaml
  tests/e2e/pkg/asserts/istio/resource_readiness_assertions.go
  tests/e2e/tests/installation/installation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

feat: enable optional profiling endpoint
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update lastappliedconfig annotation after proxy restart for enableDNSProxying.
  internal/reconciliations/istio/configuration/configuration.go
  internal/reconciliations/istio/configuration/configuration_test.go
  internal/restarter/sidecars.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update documentation.
  docs/contributor/04-10-technical-design.md
Due: none

Remove predicate for ingressgateway for enablDNProxying.
  internal/restarter/predicates/ingressgateway.go
  internal/restarter/predicates/ingressgateway_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update ADR after review
  docs/contributor/adr/0015-networkpolicies-istio-kyma-system.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1903)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build
