Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

Update 00-20-istio-proxy-as-native-sidecar.md
  docs/user/00-20-istio-proxy-as-native-sidecar.md
Due: none

Fix a heading (#1589)
  docs/user/00-20-istio-proxy-as-native-sidecar.md
Due: none

Release Istio 1.21.0 (#1590)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

update dependabot.yml (#1592)
  .github/dependabot.yml
Due: none

FIx link to the init containers troubleshooting guide in the sidebar
  docs/user/_sidebar.md
Due: none

FIx link to the init containers troubleshooting guide in the sidebar (#1599)
  docs/user/_sidebar.md
Due: none

fixed bad formatted md not valid in Vitepress (markdown-it) (#1593)
  docs/user/tutorials/01-10-external-authorization-provider.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1600)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

fix broken links in troubleshooting guides
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
Due: none

Fix links to troubleshooting guides
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
Due: none

Fix links to troubleshooting guides (#1604)
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
Due: none

Remove old release pipelines
  .github/workflows/release-create-release.yaml
  .github/workflows/release-rollout-module.yaml
Due: none

Remove old release pipelines (#1606)
  .github/workflows/release-create-release.yaml
  .github/workflows/release-rollout-module.yaml
Due: none

Bump Kubernetes to 1.33 in pipelines
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test-aws/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-release-pr-integration-gardener.yaml
  hack/ci/scripts-v2/set-aws-gardener.sh
  hack/ci/scripts-v2/set-gcp-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bump Kubernetes to 1.33 in pipelines (#1611)
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test-aws/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-release-pr-integration-gardener.yaml
  hack/ci/scripts-v2/set-aws-gardener.sh
  hack/ci/scripts-v2/set-gcp-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

ADR for pathPrefix and timeout in external authorizers IstioCR
  docs/contributor/adr/0011-extend-external-authorizer-path-timeout.md
Due: none

Update Regular and Native Sidecar Containers after TW review
  docs/user/00-20-istio-proxy-as-native-sidecar.md
Due: none

fix a table
  docs/user/00-20-istio-proxy-as-native-sidecar.md
Due: none

Apply suggestions from code review
  docs/user/00-20-istio-proxy-as-native-sidecar.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1613)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Remove consequences according to the team agreement
  docs/contributor/adr/0011-extend-external-authorizer-path-timeout.md
Due: none

Change ADR status to accepted
  docs/contributor/adr/0011-extend-external-authorizer-path-timeout.md
Due: none

Apply suggestions from code review
  docs/contributor/adr/0011-extend-external-authorizer-path-timeout.md
Due: none

ADR: extend IstioCR authorizers with pathPrefix and timeout options (#1610)
  docs/contributor/adr/0011-extend-external-authorizer-path-timeout.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1615)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Make post main tests to run on push to release branch 1.21
  .github/workflows/post-main-workflow.yaml
Due: none

Update Regular and Native Sidecar Containers after TW review (#1612)
  docs/user/00-20-istio-proxy-as-native-sidecar.md
Due: none

Make post main tests to run on push to release branch 1.21 (#1618)
  .github/workflows/post-main-workflow.yaml
Due: none

Make post main tests to run on push to release branch
  .github/workflows/post-main-workflow.yaml
Due: none

Make post main tests to run on push to release branch (#1619)
  .github/workflows/post-main-workflow.yaml
Due: none

Update gardener config yaml
  hack/ci/scripts-v2/shoot_aws.yaml
  hack/ci/scripts-v2/shoot_gcp.yaml
  hack/ci/shoot_aws.yaml
  hack/ci/shoot_gcp.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: automatic update sec-scanners-config.yaml (#1622)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Set different k8s version for compatibility test
  .github/actions/k8s-compatibility-test-aws/action.yaml
  hack/ci/scripts-v2/provision-gardener.sh
  hack/ci/scripts-v2/set-aws-compatibility-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add cloudProfile kind field
  hack/ci/scripts-v2/shoot_aws.yaml
  hack/ci/scripts-v2/shoot_gcp.yaml
  hack/ci/shoot_aws.yaml
  hack/ci/shoot_gcp.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update gardener config yaml (#1620)
  hack/ci/scripts-v2/shoot_aws.yaml
  hack/ci/scripts-v2/shoot_gcp.yaml
  hack/ci/shoot_aws.yaml
  hack/ci/shoot_gcp.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Set different k8s version for compatibility test (#1623)
  .github/actions/k8s-compatibility-test-aws/action.yaml
  hack/ci/scripts-v2/provision-gardener.sh
  hack/ci/scripts-v2/set-aws-compatibility-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update call-verify-commit-pins.yaml
  .github/workflows/call-verify-commit-pins.yaml
Due: none

Update action.yaml
  .github/actions/build-manager-image/action.yaml
Due: none

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
