Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

fix: Warning should not happen when ReplicaSet is not ready (#1447) (#1448)
  pkg/lib/sidecars/restart/log_action.go
  pkg/lib/sidecars/restart/replica_set_action.go
  pkg/lib/sidecars/restart/restart_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

more lint changes
  api/v1alpha2/conditions.go
  api/v1alpha2/istio_types.go
  api/v1alpha2/resources_test.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  controllers/validate_experimental.go
  internal/clusterconfig/clusterconfig.go
  internal/istiooperator/istiooperator.go
  internal/istiooperator/merge_experimental.go
  internal/istiooperator/merge_experimental_test.go
  internal/resources/istio_resources_finder.go
  internal/resources/user_resources_finder.go
  internal/restarter/predicates/ingressgateway_test.go
  internal/status/status_test.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/restart/replica_set_action.go
  pkg/lib/sidecars/restart/restart_test.go
  tests/integration/steps/istio.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

more lint changes
  pkg/lib/sidecars/restart/log_action.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Move RNs to 1.19
  docs/release-notes/1.19.0.md
Due: none

Move RNs to 1.19 (#1450)
  docs/release-notes/1.19.0.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1451)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

fix: Warning should not happen when ReplicaSet is not ready (#1447)
  pkg/lib/sidecars/restart/log_action.go
  pkg/lib/sidecars/restart/replica_set_action.go
  pkg/lib/sidecars/restart/restart_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add RN 1.18.0.
  docs/release-notes/1.18.0.md
Due: none

Adjust name of dashboard.
  docs/release-notes/1.18.0.md
Due: none

Add RN 1.18.0. (#1452)
  docs/release-notes/1.18.0.md
Due: none

Create 1.18.0.md
  docs/release-notes/1.18.0.md
Due: none

Add new feautres.
  docs/release-notes/1.18.0.md
Due: none

Create 1.18.0.md (#1453)
  docs/release-notes/1.18.0.md
Due: none

error handling
  api/v1alpha2/istio_merge.go
  cmd/istio-install/main.go
  internal/reconciliations/istio/client.go
  internal/reconciliations/istio/install.go
  internal/reconciliations/istio/metadata.go
  internal/reconciliations/istio/uninstall.go
  internal/reconciliations/istioresources/reconciliation.go
  internal/resources/istio_resources_finder.go
  internal/resources/resources.go
  internal/restarter/predicates/customer_workload.go
  internal/restarter/predicates/kyma_workload.go
  internal/status/status.go
  internal/webhooks/webhooks.go
  main.go
  pkg/lib/gatherer/gatherer.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/restart/restart.go
  pkg/lib/sidecars/restart/rollout_action.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

disabling problematic linters with appropriate TODOs and explanations
  api/v1alpha2/compatibility_mode.go
  api/v1alpha2/conditions.go
  api/v1alpha2/groupversion_info.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/istio_types.go
  api/v1alpha2/resources.go
  controllers/istio_controller.go
  internal/clusterconfig/clusterconfig.go
  internal/istiooperator/istiooperator.go
  internal/reconciliations/istio/install.go
  internal/resources/istio_resources_finder.go
  internal/webhooks/webhooks.go
  internal/webhooks/webhooks_test.go
  main.go
  pkg/lib/gatherer/gatherer.go
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/restart/rollout_action.go
  pkg/lib/sidecars/retry/retry.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix docs: state of IstioCR for user resource detection
  docs/user/04-00-istio-custom-resource.md
Due: none

missing comment
  .golangci.yml
Due: none

New istio release process
  .github/workflows/release-istio-1.yaml
  .github/workflows/release-istio-2.yaml
Due: none

Fix docs: state of IstioCR for user resource detection (#1455)
  docs/user/04-00-istio-custom-resource.md
Due: none

update egress tutorials (#1443)
  docs/user/tutorials/01-50-send-requests-using-egress.md
  docs/user/tutorials/01-55-send-requests-using-egress-and-mtls.md
Due: none

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

spaces
  .github/workflows/release-istio-2.yaml
Due: none

Dependabot adjustments
  .github/dependabot.yml
Due: none

Dependabot adjustments (#1457)
  .github/dependabot.yml
Due: none

Adjust dependabot
  .github/workflows/release-istio-2.yaml
Due: none

chore: automatic update sec-scanners-config.yaml (#1461)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update post review
  .github/workflows/release-istio-1.yaml
  .github/workflows/release-istio-2.yaml
Due: none

New istio release process (#1456)
  .github/workflows/release-istio-1.yaml
  .github/workflows/release-istio-2.yaml
Due: none

chore: add new istio images to external-images.yaml
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: add new istio images to external-images.yaml (#1462)
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: bump istio version to 1.26.1
  api/v1alpha2/compatibility_mode.go
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: bump istio version to 1.26.1 (#1463)
  api/v1alpha2/compatibility_mode.go
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

docs: update 1.19.0.md release notes with istio bump
  docs/release-notes/1.19.0.md
  scripts/get_module_envoy_version.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update docs/release-notes/1.19.0.md
  docs/release-notes/1.19.0.md
Due: none

docs: update 1.19.0.md release notes with istio bump (#1465)
  docs/release-notes/1.19.0.md
  scripts/get_module_envoy_version.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix parse
  api/v1alpha2/compatibility_mode.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

release: update sec-scanners-config.yaml (#1466)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build
