Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Add AWS testsuite with XFF integration test
  Makefile
  tests/integration/features/istio/production/aws-suite/xff_header.feature
  tests/integration/main_test.go
  tests/integration/pkg/ip/loadbalancer.go
  tests/integration/pkg/ip/public_ip.go
  tests/integration/scenario.go
  tests/integration/steps/validation_requests.go
  tests/integration/steps/x_forwarded_for_validation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

update sec scanner
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

update sec scanner (#447)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Don't create kyma gateway
  controllers/istio_controller.go
  internal/reconciliations/istio_resources/gateway_kyma.go
  internal/reconciliations/istio_resources/gateway_kyma.yaml
  internal/reconciliations/istio_resources/gateway_kyma_test.go
  internal/reconciliations/istio_resources/istio_resources_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Remove kyma gateway from integration tests
  tests/integration/features/istio/production/main-suite/istio_installation.feature
  tests/integration/features/istio/production/main-suite/istio_resources.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Remove healthz virtual service
  controllers/istio_controller.go
  internal/reconciliations/istio_resources/istio_resources_test.go
  internal/reconciliations/istio_resources/virtual_service_healthz.go
  internal/reconciliations/istio_resources/virtual_service_healthz.yaml
  internal/reconciliations/istio_resources/virtual_service_healthz_test.go
  tests/integration/features/istio/production/main-suite/istio_installation.feature
  tests/integration/features/istio/production/main-suite/istio_resources.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

move from awsClient to hyperscalerClient
  controllers/istio_controller.go
  controllers/suite_test.go
  internal/clusterconfig/aws_client.go
  internal/clusterconfig/hyperscaler.go
  internal/clusterconfig/hyperscaler_test.go
  internal/reconciliations/istio_resources/reconciliation.go
  internal/reconciliations/istio_resources/reconciliation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update docs
  docs/contributor/04-10-technical-design.md
  docs/contributor/04-40-istio-resources.md
Due: none

Refactor
  controllers/istio_controller.go
  internal/clusterconfig/hyperscaler.go
  internal/clusterconfig/hyperscaler_test.go
  internal/reconciliations/istio_resources/reconciliation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Add docs
  docs/user/00-overview/00-10-overview-istio-controller.md
Due: none

Don't create kyma gateway (#449)
  controllers/istio_controller.go
  docs/contributor/04-10-technical-design.md
  docs/contributor/04-40-istio-resources.md
  internal/reconciliations/istio_resources/gateway_kyma.go
  internal/reconciliations/istio_resources/gateway_kyma.yaml
  internal/reconciliations/istio_resources/gateway_kyma_test.go
  internal/reconciliations/istio_resources/istio_resources_test.go
  internal/reconciliations/istio_resources/virtual_service_healthz.go
  internal/reconciliations/istio_resources/virtual_service_healthz.yaml
  internal/reconciliations/istio_resources/virtual_service_healthz_test.go
  tests/integration/features/istio/production/main-suite/istio_installation.feature
  tests/integration/features/istio/production/main-suite/istio_resources.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update version file and add release notes
  VERSION
  docs/release-notes/1.1.2.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update docs/release-notes/1.1.2.md
  docs/release-notes/1.1.2.md
Due: none

Apply suggestions from code review
  docs/user/00-overview/00-10-overview-istio-controller.md
Due: none

Revert config
  config/manager/kustomization.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Don't create kyma gateway (#451)
  VERSION
  controllers/istio_controller.go
  docs/contributor/04-10-technical-design.md
  docs/contributor/04-40-istio-resources.md
  docs/release-notes/1.1.2.md
  internal/reconciliations/istio_resources/gateway_kyma.go
  internal/reconciliations/istio_resources/gateway_kyma.yaml
  internal/reconciliations/istio_resources/gateway_kyma_test.go
  internal/reconciliations/istio_resources/istio_resources_test.go
  internal/reconciliations/istio_resources/virtual_service_healthz.go
  internal/reconciliations/istio_resources/virtual_service_healthz.yaml
  internal/reconciliations/istio_resources/virtual_service_healthz_test.go
  tests/integration/features/istio/production/main-suite/istio_installation.feature
  tests/integration/features/istio/production/main-suite/istio_resources.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

wip
  tests/integration/scripts/integration-test-aws-specific.sh
  tests/integration/scripts/integration-test.sh
  tests/integration/scripts/jobguard.sh
  tests/integration/scripts/provison-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Review suggestions
  internal/clusterconfig/hyperscaler_test.go
  internal/resources/apply.go
  internal/resources/apply_test.go
  internal/resources/disclaimer_annotation.go
  internal/resources/disclaimer_annotation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

trigger gh jobs
  internal/resources/apply_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

wip 2
  tests/integration/scripts/integration-test-aws-specific.sh
  tests/integration/scripts/integration-test.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

wip 3
  tests/integration/scripts/integration-test.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

make scripts executable
  tests/integration/scripts/integration-test-aws-specific.sh
  tests/integration/scripts/integration-test.sh
  tests/integration/scripts/jobguard.sh
  tests/integration/scripts/provison-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

fix typo
  tests/integration/scripts/integration-test.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

wip
  tests/integration/scripts/jobguard.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

add-ui
  docs/user/02-operation-guides/operations/02-20-enable-sidecar-injection.md
  docs/user/02-operation-guides/security/02-10-ingress-egress-traffic.md
  docs/user/02-operation-guides/troubleshooting/03-30-istio-no-sidecar.md
  docs/user/02-operation-guides/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
Due: none

small fixes
  docs/user/02-operation-guides/troubleshooting/03-10-503-no-access.md
  docs/user/02-operation-guides/troubleshooting/03-30-istio-no-sidecar.md
Due: none

add validation, change script name
  tests/integration/scripts/integration-test-aws-specific.sh
  tests/integration/scripts/integration-test-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

update istio images
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Integration tests gardener (#454)
  tests/integration/scripts/integration-test-aws-specific.sh
  tests/integration/scripts/integration-test-gardener.sh
  tests/integration/scripts/jobguard.sh
  tests/integration/scripts/provison-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

OS DoD
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

update sec scanner (#456)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

restructure sidecar injection tutorials
  docs/assets/namespace-with-enabled-istio-sidecar.png
  docs/assets/search-for-deployment-with-enabled-injection.png
  docs/user/02-operation-guides/operations/02-10-check-if-sidecar-injection-is-enabled.md
  docs/user/02-operation-guides/operations/02-20-enable-sidecar-injection.md
  docs/user/02-operation-guides/troubleshooting/03-10-503-no-access.md
  docs/user/02-operation-guides/troubleshooting/03-30-istio-no-sidecar.md
Due: none

wip
  hack/managed-kyma-migration/migrate.sh
  hack/managed-kyma-migration/readme.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

wip
  hack/managed-kyma-migration/migrate.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

wip
  hack/managed-kyma-migration/readme.md
Due: none
