Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Fix rel notes 1.27.2 (#2035)
  docs/release-notes/1.27.1.md
  docs/release-notes/1.27.2.md
Due: none

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update sec-scanners-config.yaml (#2038)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Add scheduled pre-release job:
  .github/workflows/release-main-prerelease.yaml
Due: none

test: add comprehensive tests for clusterconfig current behavior
  internal/clusterconfig/refactoring_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Migrate all tests from Ginkgo to standard Go and organize by purpose
  internal/clusterconfig/clusterconfig_experimental_test.go
  internal/clusterconfig/clusterconfig_suite_test.go
  internal/clusterconfig/clusterconfig_test.go
  internal/clusterconfig/clustersize_test.go
  internal/clusterconfig/configuration_test.go
  internal/clusterconfig/dualstack_test.go
  internal/clusterconfig/helpers_test.go
  internal/clusterconfig/loadbalancer_test.go
  internal/clusterconfig/provider_test.go
  internal/clusterconfig/refactoring_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

sync with Hp + update diagram
  docs/assets/network-policies-istio.svg
  docs/user/00-50-network-policies.md
Due: none

update title
  docs/user/00-50-network-policies.md
Due: none

update network policies documentation (#2029)
  docs/assets/network-policies-istio.svg
  docs/user/00-50-network-policies.md
  docs/user/_sidebar.ts
  docs/user/technical-reference/05-20-support-for-network-policies.md
Due: none

Fix broken links
  docs/release-notes/1.26.0.md
  docs/user/00-50-network-policies.md
Due: none

Fix broken links (#2044)
  docs/release-notes/1.26.0.md
  docs/user/00-50-network-policies.md
Due: none

Add scheduled pre-release job: (#2041)
  .github/workflows/release-main-prerelease.yaml
Due: none

Update release-main-prerelease.yaml
  .github/workflows/release-main-prerelease.yaml
Due: none

Update release-main-prerelease.yaml (#2048)
  .github/workflows/release-main-prerelease.yaml
Due: none

Remove obsolete pull-build-push workflow
  .github/workflows/pull-build-push.yaml
Due: none

Remove obsolete pull-build-push workflow (#2050)
  .github/workflows/pull-build-push.yaml
Due: none

migrate to kubebuilder v4 (#1992)
  .gitignore
  Dockerfile
  Makefile
  PROJECT
  api/v1alpha2/groupversion_info.go
  api/v1alpha2/istio_types.go
  api/v1alpha2/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/kustomization.yaml
  config/manager/manager.yaml
  config/prometheus/monitor.yaml
  hack/boilerplate.go.txt
  internal/controller/elb_config_map_predicate.go
  internal/controller/istio_controller.go
  internal/controller/istio_controller_test.go
  internal/controller/istio_features_config_map_predicate.go
  internal/controller/istio_types.go
  internal/controller/suite_test.go
  internal/controller/validate.go
  internal/controller/validate_experimental.go
  internal/controller/validate_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix # only change display name when our intention was to rename an artifact name.
  .github/workflows/release-main-prerelease.yaml
Due: none

Potential fix for pull request finding
  .github/workflows/release-main-prerelease.yaml
Due: none

fix upload artifact to pre-release (#2051)
  .github/workflows/release-main-prerelease.yaml
Due: none

Create component-config.yaml
  component-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adapted Gardener detection logic, so it doesn't depend on a versioning scheme
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/reconciliations/istio/install.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Added bugfix info to release notes 1.28
  docs/release-notes/1.28.0.md
Due: none

Apply suggestion from @nataliasitko
  docs/release-notes/1.28.0.md
Due: none

Gardener detection fix (#2055)
  docs/release-notes/1.28.0.md
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/reconciliations/istio/install.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Gardener detection fix in release notes 1.27.3
  docs/release-notes/1.27.3.md
Due: none

Gardener detection fix in release notes 1.26.8
  docs/release-notes/1.26.8.md
Due: none

Gardener detection fix 1.27 (#2056)
  docs/release-notes/1.27.3.md
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/reconciliations/istio/install.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Gardener detection fix 1.26 (#2057)
  docs/release-notes/1.26.8.md
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/reconciliations/istio/install.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fixing the upgrade test in PR flow
  .github/workflows/pull-request.yaml
Due: none

release: update sec-scanners-config.yaml (#2058)
  .github/workflows/pull-request.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Fixing the upgrade test in PR flow (#2059)
  .github/workflows/pull-request.yaml
Due: none

Fixing the upgrade test in PR flow (#2060)
  .github/workflows/pull-request.yaml
Due: none

Bump Istio to 1.28.7
  external-images.yaml
  fips-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Typo
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Sync external images from release branch
  .github/workflows/sync-external-images.yaml
Due: none
