Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

Add unit tests
  api/v1alpha2/merge_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update experimental test
  internal/istiooperator/merge_experimental_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove unneded docs
  docs/release-notes/1.5.3.md
  docs/release-notes/1.6.1.md
Due: none

Remove unneded docs
  docs/release-notes/1.6.1.md
Due: none

Remove unneded docs
  docs/release-notes/1.5.3.md
Due: none

Delete docs/release-notes/1.7.0.md
  docs/release-notes/1.7.0.md
Due: none

Apply suggestions from code review
  docs/release-notes/1.7.0.md
  docs/user/04-00-istio-custom-resource.md
Due: none

Update 04-00-istio-custom-resource.md
  docs/user/04-00-istio-custom-resource.md
Due: none

CP natalia review
  docs/release-notes/1.6.1.md
  docs/user/04-00-istio-custom-resource.md
Due: none

CP natalia review
  docs/release-notes/1.5.3.md
  docs/user/04-00-istio-custom-resource.md
Due: none

workflows: add experimental tagging (#766)
  .github/workflows/create-release.yaml
Due: none

Update deploy-latest-release-to-cluster.sh
  tests/integration/scripts/deploy-latest-release-to-cluster.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

workflows: add experimental tagging (#766) (#791)
  .github/workflows/create-release.yaml
Due: none

Sec scanner config and version for 1.5.3
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update create-release.yaml
  .github/workflows/create-release.yaml
Due: none

Sec scanner config and version for 1.6.1
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

hotfix: Disable new behaviour for ENABLE_EXTERNAL_NAME_ALIAS (#788)
  api/v1alpha2/istio_merge.go
  api/v1alpha2/merge_test.go
  controllers/istio_controller.go
  docs/release-notes/1.7.0.md
  docs/user/04-00-istio-custom-resource.md
  internal/istiooperator/merge_experimental_test.go
  pkg/lib/annotations/annotations.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

[release-1.5] hotfix: Disable new behaviour for ENABLE_EXTERNAL_NAME_ALIAS (#789)
  api/v1alpha2/istio_merge.go
  api/v1alpha2/merge_test.go
  controllers/istio_controller.go
  docs/release-notes/1.5.3.md
  docs/user/04-00-istio-custom-resource.md
  internal/istiooperator/merge_experimental_test.go
  pkg/lib/annotations/annotations.go
  tests/integration/scripts/deploy-latest-release-to-cluster.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

[release-1.6] hotfix: Disable new behaviour for ENABLE_EXTERNAL_NAME_ALIAS (#790)
  api/v1alpha2/istio_merge.go
  api/v1alpha2/merge_test.go
  controllers/istio_controller.go
  docs/release-notes/1.6.1.md
  docs/user/04-00-istio-custom-resource.md
  internal/istiooperator/merge_experimental_test.go
  pkg/lib/annotations/annotations.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Sec scanner config and version for 1.6.1 (#793)
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Sec scanners and version for 1.5.3 (#792)
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update sec-scanners-config.yaml (#794)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Deprecate kyma provision k3d command
  docs/contributor/01-00-installation.md
  tests/ui/scripts/k3d-local-dev.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add first rate limit poc docs
  docs/contributor/draft/rate-limiting-poc/01-rate-limiting.md
  docs/contributor/draft/rate-limiting-poc/02-local-rate-limiting.md
  docs/contributor/draft/rate-limiting-poc/03-global-rate-limiting.md
  docs/contributor/draft/rate-limiting-poc/global/scenario-1-limit-by-dynamic-header-values.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-1-limit-by-static-header-values.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-2-limit-by-header-existence.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-3-limit-by-client-ip.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-5-limit-by-multiple-criteria.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-6-limit-for-all-requests.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-7-limit-on-service-sidecar.yaml
  docs/contributor/draft/rate-limiting-poc/local/scenario-1-limit-by-static-header-values.yaml
  docs/contributor/draft/rate-limiting-poc/local/scenario-2-limit-by-header-existence.yaml
  docs/contributor/draft/rate-limiting-poc/local/scenario-3-limit-by-client-ip.yaml
  docs/contributor/draft/rate-limiting-poc/local/scenario-5-limit-by-multiple-criteria.yaml
  docs/contributor/draft/rate-limiting-poc/local/scenario-7-limit-on-gateway.yaml
Due: none

Set up priority class for istio manager
  config/manager/manager.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add client cert examples
  docs/contributor/draft/rate-limiting-poc/01-rate-limiting.md
  docs/contributor/draft/rate-limiting-poc/02-local-rate-limiting.md
  docs/contributor/draft/rate-limiting-poc/03-global-rate-limiting.md
  docs/contributor/draft/rate-limiting-poc/global/scenario-1-limit-by-dynamic-header-values.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-1-limit-by-static-header-values.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-2-limit-by-header-existence.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-3-limit-by-client-ip.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-4-limit-by-client-cert.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-5-limit-by-multiple-criteria.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-6-limit-for-all-requests.yaml
  docs/contributor/draft/rate-limiting-poc/local/scenario-4-limit-by-static-client-cert.yaml
Due: none

Set up priority class for istio manager (#796)
  config/manager/manager.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bump Istio 1.21.2
  Makefile
  docs/release-notes/1.6.2.md
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Switch to the default cni pair pods configuration to repair
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Extend performance tests with rate limiting and add performance test results.
  docs/contributor/draft/rate-limiting-poc/01-rate-limiting.md
  docs/contributor/draft/rate-limiting-poc/03-global-rate-limiting.md
  docs/contributor/draft/rate-limiting-poc/perf_tests/global-local/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global-local/summary-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/rate-limit-on-gateway/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/rate-limit-on-gateway/summary-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/rate-limit-on-sidecar/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/rate-limit-on-sidecar/summary-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/local/rate-limit-on-gateway/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/local/rate-limit-on-gateway/summary-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/local/rate-limit-on-sidecar/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/local/rate-limit-on-sidecar/summary-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/no-rate-limit/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/no-rate-limit/summary-sidecar.html
  tests/performance/load-testing/templates/rate-limit.yaml
  tests/performance/load-testing/values.yaml
  tests/performance/scripts/common.js
Due: none

Rate limit PoC (#804)
  docs/contributor/draft/rate-limiting-poc/01-rate-limiting.md
  docs/contributor/draft/rate-limiting-poc/02-local-rate-limiting.md
  docs/contributor/draft/rate-limiting-poc/03-global-rate-limiting.md
  docs/contributor/draft/rate-limiting-poc/global/scenario-1-limit-by-dynamic-header-values.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-1-limit-by-static-header-values.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-2-limit-by-header-existence.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-3-limit-by-client-ip.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-4-limit-by-client-cert.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-5-limit-by-multiple-criteria.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-6-limit-for-all-requests.yaml
  docs/contributor/draft/rate-limiting-poc/global/scenario-7-limit-on-service-sidecar.yaml
  docs/contributor/draft/rate-limiting-poc/local/scenario-1-limit-by-static-header-values.yaml
  docs/contributor/draft/rate-limiting-poc/local/scenario-2-limit-by-header-existence.yaml
  docs/contributor/draft/rate-limiting-poc/local/scenario-3-limit-by-client-ip.yaml
  docs/contributor/draft/rate-limiting-poc/local/scenario-4-limit-by-static-client-cert.yaml
  docs/contributor/draft/rate-limiting-poc/local/scenario-5-limit-by-multiple-criteria.yaml
  docs/contributor/draft/rate-limiting-poc/local/scenario-7-limit-on-gateway.yaml
  docs/contributor/draft/rate-limiting-poc/perf_tests/global-local/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global-local/summary-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/rate-limit-on-gateway/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/rate-limit-on-gateway/summary-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/rate-limit-on-sidecar/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/rate-limit-on-sidecar/summary-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/local/rate-limit-on-gateway/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/local/rate-limit-on-gateway/summary-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/local/rate-limit-on-sidecar/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/local/rate-limit-on-sidecar/summary-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/no-rate-limit/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/no-rate-limit/summary-sidecar.html
  tests/performance/load-testing/templates/rate-limit.yaml
  tests/performance/load-testing/values.yaml
  tests/performance/scripts/common.js
Due: none

Update action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
Due: none

Switch to the default cni pair pods configuration to repair (#803)
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update action.yaml (#805)
  .github/actions/k8s-compatibility-test/action.yaml
Due: none

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
