Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration-aws-specific: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Fix unit test
  controllers/istio_controller_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

move tutorials in the sidebar
  docs/user/_sidebar.md
Due: none

remove duplicated tutorials from sidebar
  docs/user/_sidebar.md
Due: none

Update sec scanner
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update sec scanner (#521)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Add basic integration test for checking conditions
  Makefile
  tests/integration/features/istio/production/main-suite/istio_installation.feature
  tests/integration/scenario.go
  tests/integration/steps/istio_cr.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Adjust Istio documentation to the new content guidelines (#519)
  README.md
  docs/contributor/01-00-installation.md
  docs/contributor/04-10-technical-design.md
  docs/contributor/04-30-ci-cd.md
  docs/release-notes/template.md
  docs/user/00-10-overview-istio-controller.md
  docs/user/00-20-overview-service-mesh.md
  docs/user/00-30-overview-istio-sidecars.md
  docs/user/00-40-overview-istio-setup.md
  docs/user/00-50-resource-configuration.md
  docs/user/04-00-istio-custom-resource.md
  docs/user/README.md
  docs/user/_sidebar.md
  docs/user/operation-guides/02-10-check-if-sidecar-injection-is-enabled.md
  docs/user/operation-guides/02-20-enable-sidecar-injection.md
  docs/user/operation-guides/02-30-enable-istio-access-logs.md
  docs/user/operation-guides/README.md
  docs/user/technical-reference/05-00-istio-controller-parameters.md
  docs/user/technical-reference/README.md
  docs/user/troubleshooting/03-10-503-no-access.md
  docs/user/troubleshooting/03-20-connection-refused.md
  docs/user/troubleshooting/03-30-istio-no-sidecar.md
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  docs/user/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
  docs/user/troubleshooting/03-60-404-on-istio-gateway.md
  docs/user/troubleshooting/README.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
  hack/managed-kyma-migration/readme.md
  tests/performance/Readme.md
Due: none

Bump go version to 1.21.5 and use newer alpine image
  Dockerfile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

State push
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  controllers/istio_types.go
  internal/reconciliations/istio/installation.go
  internal/reconciliations/istio/installation_test.go
  internal/status/status.go
  internal/status/status_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Bump go version to 1.21.5 and use newer alpine image (#523)
  Dockerfile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Remove module template and LM testing leftovers
  .env
  .github/workflows/create-release.yaml
  Makefile
  hack/ci/Makefile
  hack/local/Makefile
  hack/local/busola/Makefile
  hack/local/busola/k3d-patches/busola-extensibility.yaml
  hack/local/busola/k3d-patches/busola-kyma-extension.yaml
  hack/local/istio/Makefile
  hack/local/istio/k3d-patches/patch-k3d-lifecycle-manager-clusterrole.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

State push
  api/v1alpha1/istio_types.go
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  internal/reconciliations/istio/installation.go
  internal/reconciliations/istio/installation_test.go
  internal/status/status.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Remove module template and LM testing leftovers (#524)
  .env
  .github/workflows/create-release.yaml
  Makefile
  hack/ci/Makefile
  hack/local/Makefile
  hack/local/busola/Makefile
  hack/local/busola/k3d-patches/busola-extensibility.yaml
  hack/local/busola/k3d-patches/busola-kyma-extension.yaml
  hack/local/istio/Makefile
  hack/local/istio/k3d-patches/patch-k3d-lifecycle-manager-clusterrole.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Remove module template related docs
  docs/contributor/01-00-installation.md
  docs/contributor/04-30-ci-cd.md
Due: none

State
  api/v1alpha1/istio_types.go
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  internal/described_errors/described_errors.go
  internal/reconciliations/istio/installation.go
  internal/reconciliations/istio/installation_test.go
  internal/reconciliations/istio_resources/reconciliation.go
  internal/reconciliations/proxy/sidecars.go
  internal/status/status.go
  internal/status/status_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Status unit tests
  internal/status/status_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update 01-00-installation.md
  docs/contributor/01-00-installation.md
Due: none

State
  api/v1alpha1/istio_types.go
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  internal/reconciliations/istio/installation.go
  internal/status/status.go
  internal/status/status_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  internal/reconciliations/istio/configuration.go
  internal/reconciliations/istio/configuration_test.go
  internal/reconciliations/istio/installation.go
  internal/reconciliations/istio/installation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Fix lint
  internal/reconciliations/istio/installation.go
  internal/reconciliations/istio/installation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

State
  controllers/istio_controller_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update 2
  docs/user/00-10-overview-istio-controller.md
  tests/integration/features/istio/production/main-suite/istio_installation.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Add more details to the XFF header documentation
  docs/user/00-10-overview-istio-controller.md
Due: none

State
  api/v1alpha1/istio_types.go
  controllers/istio_controller_test.go
  internal/status/status.go
  internal/status/status_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

todo
  controllers/istio_controller_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Add TLS termination documentation
  docs/user/00-10-overview-istio-controller.md
Due: none

State
  controllers/istio_controller_test.go
  internal/reconciliations/istio/installation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Remove module template related docs (#525)
  docs/contributor/01-00-installation.md
  docs/contributor/04-30-ci-cd.md
Due: none

Apply suggestions from code review
  docs/user/00-10-overview-istio-controller.md
Due: none

Update XFF header documentation (#533)
  docs/user/00-10-overview-istio-controller.md
Due: none

Fix dependabot release target branch
  .github/dependabot.yml
Due: none

Fix dependabot release target branch (#535)
  .github/dependabot.yml
Due: none

Fix
  internal/status/status.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

installation unit tests
  internal/reconciliations/istio/installation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Int test check
  tests/integration/features/istio/evaluation/istio_installation_demo.feature
  tests/integration/scenario.go
  tests/integration/steps/istio_cr.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Add workflow
  .github/workflows/ui-tests.yaml
  config/ui-extensions/sidecars/form
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

create-ns
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Create ns
  .github/workflows/ui-tests.yaml
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Adjust script
  tests/ui/tests/scripts/k3d-ci-kyma-dashboard-integration.sh
  tests/ui/tests/scripts/k3d-local-dev.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific
