Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Optimize memory usage
  controllers/istio_controller.go
  internal/restarter/ingress_gateway.go
  internal/restarter/networkpolicies.go
  internal/restarter/restart.go
  internal/restarter/sidecars.go
  main.go
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/proxy.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

adjust tests
  controllers/istio_controller_test.go
  internal/restarter/ingress_gateway_test.go
  internal/restarter/restart_test.go
  internal/restarter/sidecars_test.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/proxy_test.go
  pkg/lib/sidecars/test/cases.go
  pkg/lib/sidecars/test/test_client.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Review suggestions
  main.go
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

turn off comp mode on istiod
  api/v1alpha2/compatibility_mode.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Release notes
  docs/release-notes/1.27.0.md
Due: none

Update docs/release-notes/1.27.0.md
  docs/release-notes/1.27.0.md
Due: none

Revert dev change
  api/v1alpha2/compatibility_mode.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Optimize memory consumption of the restarter (#1937)
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  docs/release-notes/1.27.0.md
  internal/restarter/ingress_gateway.go
  internal/restarter/ingress_gateway_test.go
  internal/restarter/networkpolicies.go
  internal/restarter/restart.go
  internal/restarter/restart_test.go
  internal/restarter/sidecars.go
  internal/restarter/sidecars_test.go
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
  pkg/lib/sidecars/test/cases.go
  pkg/lib/sidecars/test/test_client.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove compatibility mode check from NativeSidecar predicate
  internal/restarter/predicates/native_sidecar.go
  internal/restarter/predicates/native_sidecar_test.go
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/proxy.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Switch test to table driven
  internal/restarter/predicates/native_sidecar_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove gingko from this test
  internal/restarter/predicates/native_sidecar_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove predicate entirely
  internal/restarter/predicates/native_sidecar.go
  internal/restarter/predicates/native_sidecar_test.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: automatic update sec-scanners-config.yaml (#1940)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Set gomemlimit based on cgroup without dependencies
  go.mod
  go.sum
  internal/memlimit/memlimit.go
  internal/memlimit/memlimit_test.go
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

drop in-controller reconciliation and use static manifest
  .github/workflows/post-main-release-workflow.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-istio-2.yaml
  .github/workflows/schedule-main-integration.yaml
  Makefile
  config/rbac/istio_resources_edit.yaml
  config/rbac/istio_resources_view.yaml
  config/rbac/kustomization.yaml
  internal/reconciliations/istioresources/experimental_reconciliation_test.go
  internal/reconciliations/istioresources/istio_clusterrole.go
  internal/reconciliations/istioresources/istio_clusterrole_test.go
  internal/reconciliations/istioresources/reconciliation.go
  internal/reconciliations/istioresources/reconciliation_test.go
  tests/e2e/pkg/helpers/client/client.go
  tests/e2e/tests/clusterrole/clusterrole_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Always log number of pods per page
  pkg/lib/sidecars/pods/get.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add RN
  docs/release-notes/1.27.0.md
Due: none

Remove NativeSidecar predicate (#1939)
  docs/release-notes/1.27.0.md
  internal/restarter/predicates/native_sidecar.go
  internal/restarter/predicates/native_sidecar_test.go
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Set gomemlimit based on cgroup without dependencies (#1941)
  go.mod
  go.sum
  internal/memlimit/memlimit.go
  internal/memlimit/memlimit_test.go
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix context deadline exceeded in NetPol test
  tests/e2e/pkg/asserts/http/assertions.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

New version of upload-release-report (#1898)
  .github/workflows/release-istio-2.yaml
Due: none

Fix context deadline exceeded in NetPol test (#1942)
  tests/e2e/pkg/asserts/http/assertions.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add memory benchmarks for sidecar
  pkg/lib/sidecars/pods/get_benchmark_test.go
  pkg/lib/sidecars/restart/restart_benchmark_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

update docs
  docs/user/technical-reference/05-30-cluster-roles.md
Due: none

Apply suggestions from code review
  docs/user/technical-reference/05-30-cluster-roles.md
Due: none

Update Istio troubleshooting
  docs/user/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
Due: none

feat: implement RBAC aggregation for istio (#1919)
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/istio_editor_role.yaml
  config/rbac/istio_resources_edit.yaml
  config/rbac/istio_resources_view.yaml
  config/rbac/istio_viewer_role.yaml
  config/rbac/kustomization.yaml
  controllers/istio_controller.go
  docs/release-notes/1.27.0.md
  docs/user/_sidebar.ts
  docs/user/technical-reference/05-30-cluster-roles.md
  internal/reconciliations/istio/finalizer.go
  internal/reconciliations/istio/uninstall.go
  internal/reconciliations/istioresources/reconciliation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update Istio image versions to 1.28.5
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update FIPS images to version 1.28.5
  fips-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add k3d test with fips images
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/provision-k3d-cluster/action.yaml
  .github/workflows/release-istio-2.yaml
  hack/ci/provision-k3d.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update Istio troubleshooting (#1943)
  docs/user/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
Due: none

Sync Istio 1.28.5 (#1944)
  external-images.yaml
  fips-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update istio issue template.
  .github/ISSUE_TEMPLATE/istio_update.md
Due: none

Update istio issue template. (#1951)
  .github/ISSUE_TEMPLATE/istio_update.md
Due: none

Use native k8s regcert mechanism
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/provision-k3d-cluster/action.yaml
  .github/workflows/release-istio-2.yaml
  hack/ci/provision-k3d.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Optimize memory consumption of the restarter (#1937)
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  docs/release-notes/1.26.1.md
  internal/restarter/ingress_gateway.go
  internal/restarter/ingress_gateway_test.go
  internal/restarter/networkpolicies.go
  internal/restarter/restart.go
  internal/restarter/restart_test.go
  internal/restarter/sidecars.go
  internal/restarter/sidecars_test.go
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
  pkg/lib/sidecars/test/cases.go
  pkg/lib/sidecars/test/test_client.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Restore image import
  .github/actions/e2e-test-k3d/action.yaml
Due: none

Adjust release notes
  docs/release-notes/1.26.1.md
  docs/release-notes/1.26.2.md
Due: none

Don't ask
  .github/actions/e2e-test-k3d/action.yaml
Due: none

Optimize memory consumption of the restarter (#1952)
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  docs/release-notes/1.26.2.md
  internal/restarter/ingress_gateway.go
  internal/restarter/ingress_gateway_test.go
  internal/restarter/networkpolicies.go
  internal/restarter/restart.go
  internal/restarter/restart_test.go
  internal/restarter/sidecars.go
  internal/restarter/sidecars_test.go
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
  pkg/lib/sidecars/test/cases.go
  pkg/lib/sidecars/test/test_client.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build
