Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Apply suggestions from code review
  docs/contributor/adr/0015-networkpolicies-istio-kyma-system.md
Due: none

Add Release Notes
  docs/release-notes/1.26.0.md
Due: none

Update docs/release-notes/1.26.0.md
  docs/release-notes/1.26.0.md
Due: none

Add ```
  docs/contributor/adr/0015-networkpolicies-istio-kyma-system.md
Due: none

Add release note.
  docs/release-notes/1.25.5.md
Due: none

Update docs/release-notes/1.25.5.md
  docs/release-notes/1.25.5.md
Due: none

Set GOMEMLIMIT env for manager deployment (#1820) (#1879)
  config/manager/manager.yaml
  docs/release-notes/1.25.5.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add labels and other ports
  docs/contributor/adr/0015-networkpolicies-istio-kyma-system.md
Due: none

Add namespaceSelector note
  docs/contributor/adr/0015-networkpolicies-istio-kyma-system.md
Due: none

release: update sec-scanners-config.yaml (#1880)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Add support for NetworkPolicy enablement in Istio module
  api/v1alpha2/istio_types.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  docs/user/04-00-istio-custom-resource.md
  docs/user/technical-reference/05-20-support-for-network-policies.md
  internal/reconciliations/istioresources/networkpolicies.go
  internal/reconciliations/istioresources/networkpolicies/allow-cni.yaml
  internal/reconciliations/istioresources/networkpolicies/allow-egress-to-customer.yaml
  internal/reconciliations/istioresources/networkpolicies/allow-ingressgateway.yaml
  internal/reconciliations/istioresources/networkpolicies/allow-istio-controller-manager.yaml
  internal/reconciliations/istioresources/networkpolicies/allow-istiod.yaml
  internal/reconciliations/istioresources/networkpolicies/allow-jwks.yaml
  internal/reconciliations/istioresources/networkpolicies_test.go
  internal/reconciliations/istioresources/reconciliation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: simplify event filter in Istio controller to only track generation changes, this will deduplicate reconciliation when we apply `lastAppliedConfig`
  controllers/istio_controller.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

docs: update release notes for 1.26.0 - fix for double reconciliation in Istio CR
  docs/release-notes/1.26.0.md
Due: none

Review suggestion and RN notes
  docs/release-notes/1.26.0.md
  internal/restarter/ingress_gateway.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add to reconciliation
  internal/reconciliations/istioresources/networkpolicies.go
  internal/reconciliations/istioresources/networkpolicies_test.go
  internal/reconciliations/istioresources/peer_authentication_mtls.go
  internal/reconciliations/istioresources/peer_authentication_mtls_test.go
  internal/reconciliations/istioresources/proxy_protocol_envoy_filter.go
  internal/reconciliations/istioresources/proxy_protocol_envoy_filter_test.go
  internal/reconciliations/istioresources/reconciliation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: refactor reconciliation trigger (remove hack) and clean up code formatting
  tests/e2e/pkg/config/config.go
  tests/e2e/pkg/helpers/client/client.go
  tests/e2e/pkg/helpers/modules/istio_builder.go
  tests/e2e/pkg/helpers/namespace/label_istio_injection.go
  tests/e2e/tests/installation/installation_test.go
  tests/e2e/tests/installation/uninstallation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add rbac role
  config/rbac/role.yaml
  controllers/istio_controller.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  docs/contributor/04-10-technical-design.md
  docs/release-notes/1.26.0.md
Due: none

Update docs/contributor/adr/0015-networkpolicies-istio-kyma-system.md
  docs/contributor/adr/0015-networkpolicies-istio-kyma-system.md
Due: none

Add restart
  controllers/istio_controller.go
  internal/restarter/networkpolicies.go
  internal/restarter/restart.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Switch requeue boolean
  internal/restarter/networkpolicies.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Make update of lastAppliedConfig annotation more granular (#1876)
  docs/contributor/04-10-technical-design.md
  docs/release-notes/1.26.0.md
  internal/reconciliations/istio/configuration/configuration.go
  internal/reconciliations/istio/configuration/configuration_test.go
  internal/restarter/ingress_gateway.go
  internal/restarter/ingress_gateway_test.go
  internal/restarter/sidecars.go
  internal/restarter/sidecars_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: automatic update sec-scanners-config.yaml (#1885)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Cluster state based DualStack (#1871)
  api/v1alpha2/experimental.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/merge_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  docs/release-notes/1.26.0.md
  docs/user/04-00-istio-custom-resource.md
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_experimental_test.go
  internal/clusterconfig/clusterconfig_test.go
  internal/clusterconfig/experimental.go
  internal/clusterconfig/regular.go
  internal/istiooperator/experimental.go
  internal/istiooperator/istiooperator.go
  internal/istiooperator/merge.go
  internal/istiooperator/merge_experimental.go
  internal/istiooperator/merge_test.go
  internal/istiooperator/regular.go
  internal/reconciliations/istio/install.go
  internal/reconciliations/istio/reconciliation_test.go
  internal/reconciliations/istioresources/experimental_reconciliation_test.go
  internal/reconciliations/istioresources/reconciliation.go
  internal/reconciliations/istioresources/reconciliation_test.go
  internal/restarter/sidecars_test.go
  tests/e2e/pkg/config/config.go
  tests/e2e/pkg/helpers/client/client.go
  tests/e2e/pkg/helpers/namespace/label_istio_injection.go
  tests/e2e/tests/installation/uninstallation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix doubled reconciliation when configuration of Istio CR was changed (#1884)
  controllers/istio_controller.go
  docs/release-notes/1.26.0.md
  tests/e2e/pkg/helpers/modules/istio_builder.go
  tests/e2e/tests/installation/installation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add proper type conversion of values when applying in IstioOperator.
  api/v1alpha2/istio_merge.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add command for running dns proxying test in makefile. Add helpers for dns proxy test.
  Makefile
  tests/e2e/pkg/helpers/modules/istio_builder.go
  tests/e2e/pkg/helpers/proxy_config/proxy_config.go
  tests/e2e/pkg/helpers/service_entry/service_entry.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add test and assertion implementation for dns proxy e2e test.
  tests/e2e/pkg/asserts/istio/proxyconfig_assertion.go
  tests/e2e/tests/dnsproxying/dnsproxying_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add dns proxy metric
  internal/metrics/metrics.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add dns-proxying-e2e-test to github workflows runs.
  .github/workflows/post-main-release-workflow.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-istio-2.yaml
  .github/workflows/schedule-main-integration.yaml
Due: none

docs: add concept for DNS proxying in Istio
  docs/user/00-30-dns-proxying.md
Due: none

Add diagram
  docs/assets/network-policies-istio.svg
  docs/user/technical-reference/05-20-support-for-network-policies.md
Due: none

Add metric docs
  docs/contributor/04-50-istio-metrics.md
Due: none

Add documentation about trustDomain
  docs/user/technical-reference/05-30-trust-domain.md
Due: none

Add egressgateway netpol
  docs/user/technical-reference/05-20-support-for-network-policies.md
  internal/reconciliations/istioresources/networkpolicies.go
  internal/reconciliations/istioresources/networkpolicies/allow-customer-to-egress.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Switch field name
  api/v1alpha2/istio_types.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  docs/user/04-00-istio-custom-resource.md
  docs/user/technical-reference/05-20-support-for-network-policies.md
  internal/reconciliations/istioresources/networkpolicies/allow-customer-to-egress.yaml
  internal/reconciliations/istioresources/reconciliation.go
  internal/restarter/networkpolicies.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build
