Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Setup for support of arm64 image building
  .github/workflows/post-main-workflow.yaml
  Dockerfile
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

hack: Put images from sec-scanners-config to the deployment env (#1492)
  Makefile
  config/manager/env-images.yaml
  config/manager/kustomization.yaml
  hack/generate_sec_scanners_images_env.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Alternative version of tests without executor
  tests/e2e/e2e/executor/executor.go
  tests/e2e/e2e/helpers/http/http.go
  tests/e2e/e2e/helpers/infrastructure/pod/pod.go
  tests/e2e/e2e/helpers/infrastructure/unstructured/unstructured.go
  tests/e2e/e2e/helpers/infrastructure/yamlfile/yamlfile.go
  tests/e2e/e2e/helpers/kubectl/namespace/namespace.go
  tests/e2e/e2e/helpers/shell/shell.go
  tests/e2e/e2e/logging/logging.go
  tests/e2e/e2e/setup/cleanup.go
  tests/e2e/e2e/setup/client.go
  tests/e2e/e2e/setup/identifier.go
  tests/e2e/e2e/setup/namespace.go
  tests/e2e/e2e/steps/exec/bash.go
  tests/e2e/e2e/steps/http/noauth/noauth.go
  tests/e2e/e2e/steps/infrastructure/pod/create.go
  tests/e2e/e2e/steps/infrastructure/pod/get.go
  tests/e2e/e2e/steps/infrastructure/unstructured/get.go
  tests/e2e/e2e/steps/infrastructure/yamlfile/create.go
  tests/e2e/e2e/steps/infrastructure/yamlfile/get.go
  tests/e2e/e2e/steps/installistio/install_istio.go
  tests/e2e/e2e/tests/createnamespacewithkubectl/create_ns_test.go
  tests/e2e/e2e/tests/createpod/create_pod_test.go
  tests/e2e/e2e/tests/httprequest/http_request_test.go
  tests/e2e/e2e/tests/installistio/install_istio_test.go
  tests/e2e/e2e/tests/resource/resource_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

bug: fix Warning status caused by module's proxy-protocol EF (#1495)
  internal/resources/user_resources_finder.go
  internal/resources/user_resources_finder_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Init release notes for 1.21
  docs/release-notes/1.21.0.md
Due: none

Apply suggestions from code review
  docs/release-notes/1.21.0.md
Due: none

docs: Init release notes for 1.21 (#1498)
  docs/release-notes/1.21.0.md
Due: none

Review changes
  .github/workflows/post-main-workflow.yaml
  .github/workflows/release-create-release.yaml
  .github/workflows/release-istio-2.yaml
  Dockerfile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Setup for support of arm64 image building (#1497)
  .github/workflows/post-main-workflow.yaml
  .github/workflows/release-create-release.yaml
  .github/workflows/release-istio-2.yaml
  Dockerfile
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fixed typo
  tests/e2e/e2e/helpers/infrastructure/pod/pod.go
  tests/e2e/e2e/setup/namespace.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

E2e framework (#1473)
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/post-main-workflow.yaml
  Makefile
  go.mod
  tests/e2e/README.md
  tests/e2e/e2e/.gitignore
  tests/e2e/e2e/helpers/http/http.go
  tests/e2e/e2e/helpers/infrastructure/pod/pod.go
  tests/e2e/e2e/helpers/infrastructure/unstructured/unstructured.go
  tests/e2e/e2e/helpers/infrastructure/yamlfile/yamlfile.go
  tests/e2e/e2e/helpers/kubectl/namespace/namespace.go
  tests/e2e/e2e/helpers/shell/shell.go
  tests/e2e/e2e/setup/cleanup.go
  tests/e2e/e2e/setup/client.go
  tests/e2e/e2e/setup/identifier.go
  tests/e2e/e2e/setup/namespace.go
  tests/e2e/e2e/tests/Makefile
  tests/e2e/e2e/tests/createnamespacewithkubectl/create_ns_test.go
  tests/e2e/e2e/tests/createpod/create_pod_test.go
  tests/e2e/e2e/tests/httprequest/http_request_test.go
  tests/e2e/e2e/tests/resource/pod.yaml
  tests/e2e/e2e/tests/resource/resource_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add release notes 1.19.2
  docs/release-notes/1.19.2.md
Due: none

Add release notes 1.20.1
  docs/release-notes/1.20.1.md
Due: none

cherry-pick #1495 (#1501)
  docs/release-notes/1.20.1.md
  internal/resources/user_resources_finder.go
  internal/resources/user_resources_finder_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

cherry-pick #1495 (#1500)
  docs/release-notes/1.19.2.md
  internal/resources/user_resources_finder.go
  internal/resources/user_resources_finder_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Sync istio 1.26.2 with internal registry
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Sync istio 1.26.2 with internal registry (#1502)
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bump istio to 1.26.2
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add release notes
  docs/release-notes/1.21.0.md
Due: none

Bump k8s dependencies
  go.mod
  go.sum
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

go mod tidy
  go.mod
  go.sum
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

revert dependabot update to get in sync with Istio
  go.mod
  go.sum
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix rel notes typo
  docs/release-notes/1.21.0.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1504)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

sec: Move the auth basic creds to an env
  tests/performance/hack/puppeteer/export.js
Due: none

Downgrade k8s lib to match Istio
  go.mod
  go.sum
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bump Istio to 1.26.2 (#1503)
  docs/release-notes/1.21.0.md
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

add initial tutorial
  docs/user/tutorials/01-60-enable-nlb-load-balancer copy.md
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

Bump Istio to 1.26.2 (#1503)
  docs/release-notes/1.19.2.md
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bump Istio to 1.26.2 (#1503)
  docs/release-notes/1.20.1.md
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bump Istio to 1.26.2 (#1503) (#1508)
  docs/release-notes/1.19.2.md
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bump Istio to 1.26.2 (#1503) (#1509)
  docs/release-notes/1.20.1.md
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

sec: Move the auth basic creds to an env (#1506)
  tests/performance/hack/puppeteer/export.js
Due: none

Add the tutorial
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

fix file name
  docs/user/tutorials/01-60-enable-nlb-load-balancer.md
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

fix context
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none
