Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

Remove one of the compatibility envs and move docs (#881)
  README.md
  api/v1alpha2/compatibility_mode.go
  docs/user/00-10-overview-istio-controller.md
  docs/user/04-00-istio-custom-resource.md
  docs/user/README.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update memcached docs, add valkey alternative
  docs/contributor/draft/rate-limiting-poc/04-global-rate-limiting-memcached.md
  docs/contributor/draft/rate-limiting-poc/05-global-rate-limiting-valkey.md
Due: none

Fix readme
  README.md
  docs/user/README.md
Due: none

Fix readme (#888)
  README.md
  docs/user/README.md
Due: none

Update VERSION and sec scanner
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update VERSION and sec scanner (#889)
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update Istio and Envoy version in README
  README.md
  docs/user/README.md
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Add release notes
  docs/release-notes/1.8.0.md
Due: none

Update versions of Istio resources to v1
  docs/user/tutorials/01-10-external-authorization-provider.md
  internal/reconciliations/istio_resources/peer_authentication_mtls.yaml
  tests/integration/steps/destination_rule.go
  tests/performance/load-testing/templates/kyma-gateway.yaml
  tests/performance/load-testing/templates/vs-allow.yaml
  tests/performance/load-testing/templates/vs-grafana.yaml
  tests/ui/fixtures/authorizationPolicy.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update Istio to 1.22.1 and adapt code to changes
  cmd/istio-install/main.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  controllers/istio_controller.go
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  internal/reconciliations/istio/client.go
  internal/reconciliations/istio/install.go
  internal/reconciliations/istio/reconciliation.go
  internal/reconciliations/istio/uninstall.go
  main.go
  pkg/lib/sidecars/test/pod_states.go
  tests/integration/steps/istio.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove oneNamespace, since it was removed from Istio as it does nothing
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Revert changes due to logging update
  cmd/istio-install/main.go
  tests/integration/steps/istio.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix Istio logging to not override all global log configs
  cmd/istio-install/main.go
  controllers/istio_controller.go
  internal/reconciliations/istio/client.go
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update compatibility mode to support 1.22.1
  api/v1alpha2/compatibility_mode.go
  api/v1alpha2/compatibility_mode_test.go
  api/v1alpha2/istio_merge.go
  internal/reconciliations/istio_resources/peer_authentication_mtls_test.go
  internal/reconciliations/istio_resources/reconciliation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update rollout-module.yaml
  .github/workflows/rollout-module.yaml
Due: none

Update rollout-module.yaml (#890)
  .github/workflows/rollout-module.yaml
Due: none

Update istio apis to v1
  api/v1alpha2/compatibility_mode.go
  controllers/suite_test.go
  internal/reconciliations/istio/reconciliation_test.go
  internal/resources/controlled_resources_list.yaml
  internal/resources/disclaimer_annotation_test.go
  internal/resources/resources_test.go
  internal/resources/test_files/resource_with_spec.yaml
  internal/restarter/sidecars_test.go
  internal/status/status_test.go
  internal/webhooks/webhooks_test.go
  main.go
  tests/integration/main_test.go
  tests/integration/steps/destination_rule.go
  tests/integration/steps/istio.go
  tests/integration/steps/observability.go
  tests/integration/steps/resource.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  .github/ISSUE_TEMPLATE/istio_update.md
Due: none

Exclude k8s.io dependencies from Dependabot bumps (#879)
  .github/ISSUE_TEMPLATE/istio_update.md
  .github/dependabot.yml
Due: none

Update security scanner image
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update security scanner image (#891)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Restart sidecar pods when compatibility mode configuration changed
  api/v1alpha2/compatibility_mode.go
  controllers/istio_controller.go
  internal/compatibility/proxy_restart.go
  internal/compatibility/proxy_restart_test.go
  internal/compatibility/suite_test.go
  internal/reconciliations/istio/configuration.go
  internal/reconciliations/istio/configuration_test.go
  internal/reconciliations/istio/install.go
  internal/reconciliations/istio/reconciliation_test.go
  internal/resources/controlled_resources_list.yaml
  internal/restarter/sidecars.go
  internal/restarter/sidecars_test.go
  pkg/lib/ingressgateway/ingressgateway.go
  pkg/lib/sidecars/pods/filter.go
  pkg/lib/sidecars/pods/get.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update troubleshooting sidebar and README
  docs/user/_sidebar.md
  docs/user/troubleshooting/03-80-cannot-connect-to-hana-db.md
  docs/user/troubleshooting/README.md
Due: none

group error docs together
  docs/user/_sidebar.md
  docs/user/troubleshooting/README.md
Due: none

Add test to verify that multiple matching predicates will not add the same pod multiple times
  pkg/lib/sidecars/pods/filter.go
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/pods/get_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix links
  docs/user/_sidebar.md
Due: none

shorten the title
  docs/user/troubleshooting/03-70-reconciliation-fails-on-istio-install.md
Due: none

title update
  docs/user/troubleshooting/03-70-reconciliation-fails-on-istio-install.md
Due: none

Add a sum up document
  docs/contributor/draft/rate-limiting-poc/06-sum-up-rate-limiting.md
Due: none

Update troubleshooting sidebar and README (#892)
  docs/user/_sidebar.md
  docs/user/troubleshooting/03-70-reconciliation-fails-on-istio-install.md
  docs/user/troubleshooting/03-80-cannot-connect-to-hana-db.md
  docs/user/troubleshooting/README.md
Due: none

Use uppercase
  docs/user/troubleshooting/03-70-reconciliation-fails-on-istio-install.md
Due: none

Fix int test import
  main.go
  pkg/lib/sidecars/pods/get.go
  tests/integration/steps/resource.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update documentation
  docs/user/00-10-overview-istio-controller.md
  go.mod
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Use uppercase (#893)
  docs/user/troubleshooting/03-70-reconciliation-fails-on-istio-install.md
Due: none

Fix typos
  docs/contributor/draft/rate-limiting-poc/06-sum-up-rate-limiting.md
Due: none

Add missing klog logging config
  internal/reconciliations/istio/client.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

gRPC load testing tools
  tests/integration/hooks.go
  tests/integration/main_test.go
  tests/integration/steps/container_resources.go
  tests/integration/steps/deployment.go
  tests/integration/steps/destination_rule.go
  tests/integration/steps/istio.go
  tests/integration/steps/istio_cr.go
  tests/integration/steps/logs.go
  tests/integration/steps/nginx.go
  tests/integration/steps/observability.go
  tests/integration/steps/operator.go
  tests/integration/steps/resource.go
  tests/integration/steps/validation_requests.go
  tests/integration/testsupport/http_client.go
  tests/performance-grpc/Makefile
  tests/performance-grpc/features/duration.feature
  tests/performance-grpc/features/requests.feature
  tests/performance-grpc/features/rps.feature
  tests/performance-grpc/load-testing/.helmignore
  tests/performance-grpc/load-testing/Chart.yaml
  tests/performance-grpc/load-testing/templates/_helpers.tpl
  tests/performance-grpc/load-testing/templates/dns-entry.yaml
  tests/performance-grpc/load-testing/templates/httpbin.yaml
  tests/performance-grpc/load-testing/templates/kyma-gateway-cert.yaml
  tests/performance-grpc/load-testing/templates/kyma-gateway.yaml
  tests/performance-grpc/load-testing/templates/results-storage.yaml
  tests/performance-grpc/load-testing/templates/vs-allow.yaml
  tests/performance-grpc/load-testing/values.yaml
  tests/performance-grpc/main_test.go
  tests/performance-grpc/scenario.go
  tests/performance-grpc/steps/job.yaml
  tests/performance-grpc/steps/steps.go
  tests/testcontext/config.go
  tests/testcontext/context.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Create grpc loadtests
  Makefile
  tests/performance-grpc/.gitignore
  tests/performance-grpc/Makefile
  tests/performance-grpc/README.md
  tests/performance-grpc/features/duration.feature
  tests/performance-grpc/features/rps.feature
  tests/performance-grpc/load-testing/templates/results-storage.yaml
  tests/performance-grpc/load-testing/templates/vs-allow.yaml
  tests/performance-grpc/steps/job.yaml
  tests/performance-grpc/steps/steps.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove unneded alias
  tests/integration/hooks.go
  tests/integration/steps/container_resources.go
  tests/integration/steps/deployment.go
  tests/integration/steps/destination_rule.go
  tests/integration/steps/istio.go
  tests/integration/steps/istio_cr.go
  tests/integration/steps/logs.go
  tests/integration/steps/nginx.go
  tests/integration/steps/observability.go
  tests/integration/steps/operator.go
  tests/integration/steps/resource.go
  tests/integration/steps/validation_requests.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Switch sum up to pros and cons
  docs/contributor/draft/rate-limiting-poc/06-sum-up-rate-limiting.md
Due: none

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
