Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Fix ref in workflow (#1038)
  .github/workflows/pull-integration-release.yaml
Due: none

Test workflow
  VERSION
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix ref in workflow (#1038) (#1042)
  .github/workflows/pull-integration-release.yaml
Due: none

test 2
  VERSION
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update cicd docs (#1033)
  docs/contributor/04-30-ci-cd.md
Due: none

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update sec-scanners-config.yaml (#1044)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Add waits during Istio performance tests to reduce flakiness. Replace old script to get SHA relying on Prow jobs with new GitHub Action.
  .github/actions/get-latest-sha/action.yaml
  .github/workflows/performance-test.yaml
  .github/workflows/ui-tests-periodic.yaml
  hack/ci/gardener-perf-test.sh
  hack/ci/provision-gardener.sh
  scripts/get_latest_build_sha.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Include breaking chenges in release notes
  docs/release-notes/1.9.0.md
  docs/user/00-10-overview-istio-controller.md
Due: none

Update CI/CD docs
  docs/contributor/04-30-ci-cd.md
Due: none

rephrase
  docs/release-notes/1.9.0.md
Due: none

Update docs/release-notes/1.9.0.md
  docs/release-notes/1.9.0.md
Due: none

format tables
  docs/user/00-10-overview-istio-controller.md
Due: none

Add possibility to trigger performance test and periodic UI tests on push to a specific branch
  .github/workflows/performance-test.yaml
  .github/workflows/ui-tests-periodic.yaml
Due: none

Add another wait for Gardener cluster to see if it helps with reliability
  hack/ci/gardener-perf-test.sh
  tests/performance/Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Increase certificate key size for mesh-to-mesh communication
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  docs/user/00-10-overview-istio-controller.md
Due: none

Reduce Performance test flakiness (#1047)
  .github/actions/get-latest-sha/action.yaml
  .github/workflows/performance-test.yaml
  .github/workflows/ui-tests-periodic.yaml
  docs/contributor/04-30-ci-cd.md
  hack/ci/gardener-perf-test.sh
  hack/ci/provision-gardener.sh
  scripts/get_latest_build_sha.sh
  tests/performance/Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

feat: Add proper categories for CRDs
  api/v1alpha1/istio_types.go
  api/v1alpha2/istio_types.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update CI/CD docs with links and remove test trigger from GitHub workflows
  .github/workflows/performance-test.yaml
  .github/workflows/ui-tests-periodic.yaml
  docs/contributor/04-30-ci-cd.md
Due: none

Update CI/CD docs with links and remove test trigger from GitHub workflows (#1051)
  .github/workflows/performance-test.yaml
  .github/workflows/ui-tests-periodic.yaml
  docs/contributor/04-30-ci-cd.md
Due: none

adjust rns
  docs/release-notes/1.9.0.md
Due: none

add titles
  docs/release-notes/1.9.0.md
Due: none

Lowering istio-proxy certificate key size to 3072 due to performance impact
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix
  api/v1alpha1/istio_types.go
  api/v1alpha2/istio_types.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

update breaking change rns
  docs/release-notes/1.9.0.md
  docs/user/00-10-overview-istio-controller.md
Due: none

remove description from the table
  docs/user/00-10-overview-istio-controller.md
Due: none

fix the table
  docs/user/00-10-overview-istio-controller.md
Due: none

lang fixes
  docs/release-notes/1.9.0.md
Due: none

lang fix
  docs/release-notes/1.9.0.md
Due: none

Apply suggestions from code review
  docs/release-notes/1.9.0.md
Due: none

Include breaking changes in release notes (#1048)
  docs/release-notes/1.9.0.md
Due: none

Remove sec scanner config from ignored files on rel pr pipeline
  .github/workflows/pull-request-release.yaml
Due: none

feat: Add proper categories for CRDs (#1050)
  api/v1alpha1/istio_types.go
  api/v1alpha2/istio_types.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update Istio bump template
  .github/ISSUE_TEMPLATE/istio_update.md
Due: none

Update Istio bump template (#1053)
  .github/ISSUE_TEMPLATE/istio_update.md
Due: none

Remove sec scanner config from ignored files on rel pr pipeline (#1052)
  .github/workflows/pull-request-release.yaml
Due: none
