Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

Apply review suggestions
  .github/actions/e2e-test-gardener/action.yaml
  hack/ci/scripts-v2/provision-gardener.sh
  hack/ci/scripts-v2/shoot_aws.yaml
  hack/ci/scripts-v2/shoot_gcp.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  internal/restarter/sidecars.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update 03-40-incompatible-istio-sidecar-version.md
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
Due: none

Apply review suggestions
  hack/ci/scripts-v2/provision-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Do not return error on warnings also do not log it
  controllers/istio_controller.go
  controllers/istio_controller_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix tabs
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
Due: none

update the message
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  internal/restarter/sidecars.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

adjust messages
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  internal/restarter/sidecars.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

add kubectl rollout restart
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
Due: none

small fix
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
Due: none

remove the rollout restart command
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
Due: none

Update docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
Due: none

remove typo
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
Due: none

Fix shoot templates
  hack/ci/scripts-v2/shoot_aws.yaml
  hack/ci/scripts-v2/shoot_gcp.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update the Incompatible Istio Sidecars troubleshooting guide (#1268)
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  internal/restarter/sidecars.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust post workflow to the new test strategy (#1267)
  .github/actions/e2e-test-gardener/action.yaml
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/post-main-workflow.yaml
  hack/ci/scripts-v2/deprovision-gardener.sh
  hack/ci/scripts-v2/gardener_kubeconfig.sh
  hack/ci/scripts-v2/integration-test-gardener.sh
  hack/ci/scripts-v2/provision-gardener.sh
  hack/ci/scripts-v2/set-aws-gardener.sh
  hack/ci/scripts-v2/set-gcp-gardener.sh
  hack/ci/scripts-v2/shoot_aws.yaml
  hack/ci/scripts-v2/shoot_gcp.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update internal/restarter/predicates/image_resources_test.go
  internal/restarter/predicates/image_resources_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Review adjustments
  controllers/istio_controller.go
  internal/reconciliations/istio/configuration/configuration_test.go
  internal/reconciliations/istio/configuration/suite_test.go
  internal/restarter/predicates/image_resources.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
  pkg/lib/sidecars/remove/remove.go
  pkg/lib/sidecars/restart/replica_set_action.go
  pkg/lib/sidecars/restart/restart.go
  pkg/lib/sidecars/restart/restart_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix mustMatch and optional predicate case
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/pods/get_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Improve logs on controller reconcile terminating for different cases
  controllers/istio_controller.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Improve logs and requeue in a minuate for the customer sidecar restart error case (warning)
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  docs/contributor/04-10-technical-design.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update docs/contributor/04-10-technical-design.md
  docs/contributor/04-10-technical-design.md
Due: none

Update docs/release-notes/1.14.0.md
  docs/release-notes/1.14.0.md
Due: none

update ADR status
  docs/contributor/adr/0010-support-for-enable-prometheusMerge-configuration.md
Due: none

Refactor proxy reset (#1253)
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  docs/contributor/04-10-technical-design.md
  docs/release-notes/1.14.0.md
  internal/reconciliations/istio/configuration/configuration.go
  internal/reconciliations/istio/configuration/configuration_test.go
  internal/reconciliations/istio/configuration_test.go
  internal/reconciliations/istio/install.go
  internal/reconciliations/istio/uninstall.go
  internal/restarter/ingress_gateway.go
  internal/restarter/ingress_gateway_test.go
  internal/restarter/predicates/compatibility.go
  internal/restarter/predicates/compatibility_test.go
  internal/restarter/predicates/customer_workload.go
  internal/restarter/predicates/customer_workload_test.go
  internal/restarter/predicates/image_resources.go
  internal/restarter/predicates/image_resources_test.go
  internal/restarter/predicates/ingressgateway.go
  internal/restarter/predicates/ingressgateway_test.go
  internal/restarter/predicates/kyma_workload.go
  internal/restarter/predicates/kyma_workload_test.go
  internal/restarter/predicates/predicate.go
  internal/restarter/predicates/suite_test.go
  internal/restarter/sidecars.go
  internal/restarter/sidecars_test.go
  pkg/lib/sidecars/pods/filter_test.go
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
  pkg/lib/sidecars/remove/remove.go
  pkg/lib/sidecars/remove/remove_test.go
  pkg/lib/sidecars/restart/replica_set_action.go
  pkg/lib/sidecars/restart/restart.go
  pkg/lib/sidecars/restart/restart_factory.go
  pkg/lib/sidecars/restart/restart_test.go
  pkg/lib/sidecars/restart/rollout_action.go
  pkg/lib/sidecars/test/cases.go
  pkg/lib/sidecars/test/helpers/helpers.go
  pkg/lib/sidecars/test/pod_states.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

account for refactor proxy reset
  internal/prometheusmerge/proxy_restart.go
  internal/prometheusmerge/suite_test.go
  internal/reconciliations/istio/configuration/configuration_test.go
  internal/reconciliations/istio/configuration_test.go
  internal/restarter/predicates/prometheus_merge.go
  internal/restarter/predicates/prometheus_merge_test.go
  internal/restarter/sidecars.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

add missing error handling
  pkg/lib/sidecars/proxy.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: automatic update sec-scanners-config.yaml (#1271)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

move release-notes to 1.15.0
  docs/release-notes/1.14.0.md
  docs/release-notes/1.15.0.md
Due: none

add newline
  docs/release-notes/1.14.0.md
Due: none

Update security scanner config and version file
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update security scanner config and version file (#1273)
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix yq in the create release workflow
  .github/workflows/release-create-release.yaml
Due: none

Add nice log
  .github/workflows/release-create-release.yaml
Due: none

Fix release workflow yq (#1274)
  .github/workflows/release-create-release.yaml
Due: none

Fix release workflow yq (#1274) (#1275)
  .github/workflows/release-create-release.yaml
Due: none

Update dependabot to release-1.14 branch
  .github/dependabot.yml
Due: none

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
