Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

Define ingress gateway ip based on hyperscaler.
  .github/workflows/schedule-main-integration.yaml
  tests/performance/Makefile
Due: none

Delete previous gh schedule workflows.
  .github/workflows/schedule-main-integration.yaml
  .github/workflows/schedule-performance-test.yaml
  .github/workflows/schedule-ui-tests-periodic.yaml
  Makefile
  hack/ci/gardener-perf-test.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Change scheduled cron hour.
  .github/workflows/schedule-main-integration.yaml
Due: none

chore: automatic update sec-scanners-config.yaml (#1318)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

add more details to ADR
  docs/contributor/adr/0010-support-for-enable-prometheusMerge-configuration.md
Due: none

Switch the annotation
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/reconciliations/istio_resources/proxy_protocol_envoy_filter.go
  internal/reconciliations/istio_resources/proxy_protocol_envoy_filter_test.go
  internal/reconciliations/istio_resources/reconciliation.go
  internal/reconciliations/istio_resources/reconciliation_test.go
  internal/resources/resources.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

apply some suggestions from code review
  docs/contributor/adr/0010-support-for-enable-prometheusMerge-configuration.md
Due: none

more fixes
  docs/contributor/adr/0010-support-for-enable-prometheusMerge-configuration.md
  docs/user/04-00-istio-custom-resource.md
Due: none

chore: update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

fix adr
  docs/contributor/adr/0010-support-for-enable-prometheusMerge-configuration.md
Due: none

chore: update sec-scanners-config.yaml (#1321)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

add link to release notes
  docs/release-notes/1.11.0.md
Due: none

add link to release notes (#1325)
  docs/release-notes/1.11.0.md
Due: none

Fix missing permissions for image-builder
  .github/workflows/release-create-release.yaml
  .github/workflows/release-pr.yaml
  .github/workflows/schedule-performance-test.yaml
  .github/workflows/schedule-ui-tests-periodic.yaml
Due: none

ignore last applied configuration
  internal/restarter/predicates/prometheus_merge.go
  internal/restarter/predicates/prometheus_merge_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

add link to istio docs
  docs/user/04-00-istio-custom-resource.md
Due: none

Fix missing permissions for image-builder (#1326)
  .github/workflows/release-create-release.yaml
  .github/workflows/release-pr.yaml
  .github/workflows/schedule-performance-test.yaml
  .github/workflows/schedule-ui-tests-periodic.yaml
Due: none

Switch external to nlb
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix missing permissions for image-builder (#1326) (#1327)
  .github/workflows/release-create-release.yaml
  .github/workflows/release-pr.yaml
  .github/workflows/schedule-performance-test.yaml
  .github/workflows/schedule-ui-tests-periodic.yaml
Due: none

Add another missing permission
  .github/workflows/post-main-workflow.yaml
  .github/workflows/release-create-release.yaml
  .github/workflows/release-pr.yaml
  .github/workflows/schedule-performance-test.yaml
  .github/workflows/schedule-ui-tests-periodic.yaml
Due: none

Change create rel workflow token permissions to write
  .github/workflows/release-create-release.yaml
Due: none

Add missing permission for image-builder (#1328)
  .github/workflows/post-main-workflow.yaml
  .github/workflows/release-create-release.yaml
  .github/workflows/release-pr.yaml
  .github/workflows/schedule-performance-test.yaml
  .github/workflows/schedule-ui-tests-periodic.yaml
Due: none

Add missing permission for image-builder (#1328) (#1330)
  .github/workflows/post-main-workflow.yaml
  .github/workflows/release-create-release.yaml
  .github/workflows/release-pr.yaml
  .github/workflows/schedule-performance-test.yaml
  .github/workflows/schedule-ui-tests-periodic.yaml
Due: none

Ensure linter version to mitigate breaking changes on rel branch
  .github/workflows/call-unit-lint.yaml
Due: none

Ensure linter version to mitigate breaking changes on rel branch (#1332)
  .github/workflows/call-unit-lint.yaml
Due: none

Ensure lint version to avoid breaking changes
  .github/workflows/call-unit-lint-head-ref.yaml
Due: none

Ensure lint version to avoid breaking changes (#1333)
  .github/workflows/call-unit-lint-head-ref.yaml
Due: none

Add checks for failure.
  .github/actions/perf-test-gardener/action.yaml
  .github/workflows/schedule-main-integration.yaml
  .github/workflows/schedule-performance-test.yaml
  .github/workflows/schedule-ui-tests-periodic.yaml
Due: none

feat: Enable prometheus merge as a configuration in the Kyma Istio CR (#1232)
  api/v1alpha2/istio_merge.go
  api/v1alpha2/istio_structs.go
  api/v1alpha2/merge_test.go
  api/v1alpha2/telemetry.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  config/ui-extensions/istios/details
  config/ui-extensions/istios/form
  config/ui-extensions/istios/translations
  controllers/istio_controller_test.go
  docs/contributor/adr/0010-support-for-enable-prometheusMerge-configuration.md
  docs/release-notes/1.15.0.md
  docs/user/04-00-istio-custom-resource.md
  internal/reconciliations/istio/configuration/configuration_test.go
  internal/restarter/predicates/prometheus_merge.go
  internal/restarter/predicates/prometheus_merge_test.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Testing if condition with echo.
  .github/actions/perf-test-gardener/action.yaml
  .github/workflows/schedule-main-integration.yaml
Due: none

Istio release 1.15 security config
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Istio release 1.15.0 (#1335)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Testing if condition with echo part 2.
  .github/actions/perf-test-gardener/action.yaml
  .github/workflows/schedule-main-integration.yaml
Due: none

revert 1fcc5e6b01da28a4dd1d9e73358a25838eb0ee38
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

revert 1fcc5e6b01da28a4dd1d9e73358a25838eb0ee38 (#1337)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Istio release 1.15 security config (#1336)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Testing if condition with echo part 3.
  .github/actions/perf-test-gardener/action.yaml
  .github/workflows/schedule-main-integration.yaml
Due: none

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
