Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Extend zero downtime tests so that it also runs on Gardener clusters
  tests/integration/features/upgrade-suite/istio_upgrade.feature
  tests/integration/scripts/test-zero-downtime-upgrade.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update CI/CD documentation
  docs/contributor/04-30-ci-cd.md
  tests/integration/scripts/test-zero-downtime-upgrade.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update Dockerfile golang version
  Dockerfile
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

add diagram
  docs/assets/istio-controller-overview-user.svg
  docs/user/README.md
Due: none

readme update
  docs/user/README.md
Due: none

add docu
  docs/user/00-10-overview-istio-controller.md
  docs/user/00-15-overview-istio-setup.md
  docs/user/00-20-overview-service-mesh.md
  docs/user/00-30-overview-istio-sidecars.md
  docs/user/00-40-overview-istio-setup.md
  docs/user/00-50-resource-configuration.md
  docs/user/04-00-istio-custom-resource.md
  docs/user/README.md
  docs/user/technical-reference/05-00-istio-controller-parameters.md
  docs/user/troubleshooting/03-00-istio-basic-diagnostics.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
Due: none

update docu
  docs/assets/istio-controller-overview-user.svg
  docs/assets/istio-module-architecture.svg
  docs/user/00-10-overview-istio-controller.md
  docs/user/00-15-overview-istio-setup.md
  docs/user/00-18-istio-version.md
  docs/user/00-20-istio-sidecar-proxies.md
  docs/user/04-00-istio-custom-resource.md
  docs/user/README.md
  docs/user/operation-guides/README.md
  docs/user/troubleshooting/03-00-istio-basic-diagnostics.md
  docs/user/troubleshooting/03-10-503-no-access.md
  docs/user/troubleshooting/03-20-connection-refused.md
  docs/user/troubleshooting/03-30-istio-no-sidecar.md
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  docs/user/troubleshooting/03-60-404-on-istio-gateway.md
  docs/user/troubleshooting/03-70-reconciliation-fails-on-istio-install.md
  docs/user/troubleshooting/README.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
  docs/user/tutorials/01-10-external-authorization-provider.md
  docs/user/tutorials/01-30-expose-tcp-gateway-api.md
  docs/user/tutorials/01-35-check-if-sidecar-injection-is-enabled.md
  docs/user/tutorials/01-40-enable-sidecar-injection.md
  docs/user/tutorials/01-45-enable-istio-access-logs.md
Due: none

update docs
  docs/user/00-15-overview-istio-setup.md
  docs/user/00-20-istio-sidecar-proxies.md
  docs/user/tutorials/01-35-check-if-sidecar-injection-is-enabled.md
  docs/user/tutorials/01-40-enable-sidecar-injection.md
  docs/user/tutorials/01-45-enable-istio-access-logs.md
Due: none

adjust to HP structure
  docs/assets/sidecar-analysis.sh
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  docs/user/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
  docs/user/troubleshooting/03-80-cannot-connect-to-hana-db.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
Due: none

update sidear analysis scrypt
  docs/assets/sidecar-analysis.sh
Due: none

update dita changes
  docs/assets/istio-controller-overview-user.svg
  docs/user/00-10-istio-version.md
  docs/user/00-10-overview-istio-controller.md
  docs/user/00-15-overview-istio-setup.md
  docs/user/00-18-istio-version.md
  docs/user/00-20-istio-sidecar-proxies.md
  docs/user/README.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
  docs/user/tutorials/01-10-external-authorization-provider.md
  docs/user/tutorials/01-45-enable-istio-access-logs.md
Due: none

update sidebar
  docs/user/00-10-istio-version.md
  docs/user/_sidebar.md
  docs/user/tutorials/01-40-enable-sidecar-injection.md
Due: none

update the sidebar
  docs/user/_sidebar.md
Due: none

add hp changes
  docs/user/troubleshooting/03-00-istio-basic-diagnostics.md
  docs/user/troubleshooting/03-00-network-connectivity.md
  docs/user/troubleshooting/03-10-503-no-access.md
  docs/user/troubleshooting/03-20-connection-refused.md
  docs/user/troubleshooting/03-30-istio-no-sidecar.md
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  docs/user/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
  docs/user/troubleshooting/03-80-cannot-connect-to-hana-db.md
  docs/user/tutorials/01-20-expose-httbin-gateway-api.md
  docs/user/tutorials/01-30-expose-tcp-gateway-api.md
Due: none

update sidecar proxies doc
  docs/user/00-00-istio-sidecar-proxies.md
  docs/user/00-10-istio-version.md
  docs/user/_sidebar.md
  docs/user/tutorials/01-35-check-if-sidecar-injection-is-enabled.md
  docs/user/tutorials/01-40-enable-sidecar-injection.md
Due: none

fix links
  docs/user/04-00-istio-custom-resource.md
  docs/user/technical-reference/05-00-istio-controller-parameters.md
Due: none

remove a duplicated diagram
  docs/assets/istio-module-architecture.svg
Due: none

Apply suggestions from code review
  docs/user/troubleshooting/03-90-istio-cert-unknown.md
Due: none

Run upgrade test on Gardener instead of k3d on main and release branches
  .github/workflows/main-integration.yaml
  docs/contributor/04-30-ci-cd.md
  hack/ci/gardener-integration.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add a zero downtime upgrade test (#1086)
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/main-integration.yaml
  Makefile
  docs/contributor/04-30-ci-cd.md
  hack/ci/gardener-integration.sh
  tests/integration/features/upgrade-suite/istio_upgrade.feature
  tests/integration/main_test.go
  tests/integration/scenario.go
  tests/integration/scripts/test-zero-downtime-upgrade.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

remove assets
  docs/assets/istio-cr-delete-finalizers.svg
  docs/assets/istio-cr-warning-state.svg
  docs/assets/sidecar-injection-toggle-deployment.svg
  docs/assets/sidecar-injection-toggle-namespace.svg
  docs/user/technical-reference/README.md
  docs/user/tutorials/README.md
Due: none

Update config/namespace/istio_system_namespace.yaml
  config/namespace/istio_system_namespace.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add `istio-system` namespace to module manifest (#1076)
  Makefile
  README.md
  config/namespace/istio_system_namespace.yaml
  docs/release-notes/1.10.0.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove make target
  tests/performance/Makefile
Due: none

Add CA certs plug-in guide (#1083)
  docs/user/troubleshooting/03-90-istio-cert-unknown.md
Due: none

Use k6 web report
  hack/ci/gardener-perf-test.sh
  tests/performance/Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add information about syncing external Istio images to the Kyma registry and remove AC about zero downtime test as it's now part of automated testing.
  .github/ISSUE_TEMPLATE/istio_update.md
Due: none

Create ADR for Istio egress-gateway component
  docs/contributor/adr/0009-egress-gateway.md
Due: none

Apply suggestions from code review
  docs/user/00-00-istio-sidecar-proxies.md
  docs/user/00-10-istio-version.md
  docs/user/README.md
  docs/user/troubleshooting/03-20-connection-refused.md
  docs/user/troubleshooting/03-30-istio-no-sidecar.md
  docs/user/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
  docs/user/troubleshooting/03-80-cannot-connect-to-hana-db.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
  docs/user/tutorials/01-10-external-authorization-provider.md
  docs/user/tutorials/01-20-expose-httbin-gateway-api.md
  docs/user/tutorials/01-40-enable-sidecar-injection.md
  docs/user/tutorials/01-45-enable-istio-access-logs.md
Due: none

Update VERSION and sec-scanners
  VERSION
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Remove puppeteer
  tests/performance/Makefile
Due: none

Fix envs
  tests/performance/Makefile
Due: none

Update .github/ISSUE_TEMPLATE/istio_update.md
  .github/ISSUE_TEMPLATE/istio_update.md
Due: none

Update Istio upgrade issue template (#1090)
  .github/ISSUE_TEMPLATE/istio_update.md
Due: none

Update VERSION and sec-scanners (#1092)
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Obsolete comment
  tests/performance/Makefile
Due: none

Remove plutono from performance tests (#1089)
  hack/ci/gardener-perf-test.sh
  tests/performance/Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update 0009-egress-gateway.md
  docs/contributor/adr/0009-egress-gateway.md
Due: none
