Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration-aws-specific: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Update main.go
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update links
  docs/contributor/01-00-installation.md
  docs/user/00-30-overview-istio-sidecars.md
Due: none

Update links (#586)
  docs/contributor/01-00-installation.md
  docs/user/00-30-overview-istio-sidecars.md
Due: none

Adapt
  .github/workflows/main-integration.yaml
  Makefile
  hack/ci/gardener-integration.sh
  hack/ci/jobguard.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Apply suggestions from code review
  config/manager/manager.yaml
  pkg/version/version.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Add logging and tracing service interaction tests
  tests/integration/features/istio/production/main-suite/istio_observability.feature
  tests/integration/scenario.go
  tests/integration/steps/deployment.go
  tests/integration/steps/observability.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Istio gha a (#17)
  .github/workflows/main-integration.yaml
  tests/integration/scripts/gardener-kubeconfig.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update main-integration.yaml
  .github/workflows/main-integration.yaml
Due: none

update docs
  .github/workflows/main-integration.yaml
  .github/workflows/performance-test.yaml
  docs/contributor/04-30-ci-cd.md
Due: none

Make sure security scanner configuration is updated before release
  .github/workflows/create-release.yaml
Due: none

Update create-release.yaml
  .github/workflows/create-release.yaml
Due: none

feat: consistent labels in istio module and its resources
  Makefile
  config/default/kustomization.yaml
  config/manager/manager.yaml
  config/prometheus/monitor.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/istio_editor_role.yaml
  config/rbac/istio_viewer_role.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  config/scheduling/priority_class.yaml
  config/ui-extensions/authorizationpolicies/kustomization.yaml
  config/ui-extensions/destinationrules/kustomization.yaml
  config/ui-extensions/gateways/kustomization.yaml
  config/ui-extensions/istios/kustomization.yaml
  config/ui-extensions/serviceentries/kustomization.yaml
  config/ui-extensions/sidecars/kustomization.yaml
  config/ui-extensions/virtualservices/kustomization.yaml
  controllers/istio_controller.go
  internal/reconciliations/istio/installation_test.go
  internal/reconciliations/istio/metadata.go
  internal/reconciliations/istio/metadata_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

feat: consistent labels in istio module and its resources
  Makefile
  config/manager/manager.yaml
  config/prometheus/monitor.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/istio_editor_role.yaml
  config/rbac/istio_viewer_role.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  config/scheduling/priority_class.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

fix ui tests
  config/ui-extensions/authorizationpolicies/kustomization.yaml
  config/ui-extensions/destinationrules/kustomization.yaml
  config/ui-extensions/gateways/kustomization.yaml
  config/ui-extensions/istios/kustomization.yaml
  config/ui-extensions/serviceentries/kustomization.yaml
  config/ui-extensions/sidecars/kustomization.yaml
  config/ui-extensions/virtualservices/kustomization.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

labels crd
  config/crd/bases/operator.kyma-project.io_istios.yaml
  config/default/kustomization.yaml
  scripts/publish_assets.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

docs
  docs/user/00-10-overview-istio-controller.md
Due: none

AWS specific job
  .github/workflows/main-integration.yaml
  Makefile
  hack/ci/gardener-integration-aws-specific.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

AWS specific job
  .github/workflows/main-integration.yaml
Due: none

Run on rel branch
  .github/workflows/main-integration.yaml
Due: none

Refactor otel collector mock creation
  tests/integration/features/istio/production/main-suite/istio_observability.feature
  tests/integration/scenario.go
  tests/integration/steps/deployment.go
  tests/integration/steps/observability.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Fix md links
  README.md
  hack/managed-kyma-migration/readme.md
Due: none

Fix md links (#589)
  README.md
  hack/managed-kyma-migration/readme.md
Due: none

Add jobs to rel branch
  .github/workflows/pull-integration-rel.yaml
Due: none

fetch depth
  .github/workflows/pull-integration-rel.yaml
Due: none

Update integration tests to use tcp-echo for trace verification
  tests/integration/features/istio/production/main-suite/istio_observability.feature
  tests/integration/scenario.go
  tests/integration/steps/deployment.go
  tests/integration/steps/logs.go
  tests/integration/steps/observability.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Observability integration tests (#576)
  tests/integration/features/istio/production/main-suite/istio_observability.feature
  tests/integration/main_test.go
  tests/integration/scenario.go
  tests/integration/steps/deployment.go
  tests/integration/steps/logs.go
  tests/integration/steps/observability.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Bump version
  VERSION
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update gardener-integration-aws-specific.sh
  hack/ci/gardener-integration-aws-specific.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update pull-integration-rel.yaml
  .github/workflows/pull-integration-rel.yaml
Due: none

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Istio Release 1.3 (#590)
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Add main
  .github/workflows/pull-integration-gardener.yaml
Due: none

bump cypress to latest version
  tests/ui/package-lock.json
  tests/ui/package.json
  tests/ui/support/login.js
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Add rel
  .github/workflows/main-integration.yaml
Due: none

remove name label from ui-extensions
  config/ui-extensions/authorizationpolicies/kustomization.yaml
  config/ui-extensions/destinationrules/kustomization.yaml
  config/ui-extensions/gateways/kustomization.yaml
  config/ui-extensions/istios/kustomization.yaml
  config/ui-extensions/serviceentries/kustomization.yaml
  config/ui-extensions/sidecars/kustomization.yaml
  config/ui-extensions/virtualservices/kustomization.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Fix dependabot config
  .github/dependabot.yml
Due: none

Fix dependabot config (#591)
  .github/dependabot.yml
Due: none

Make sure security scanner configuration is updated before release (#587)
  .github/workflows/create-release.yaml
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific
