Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

add workflow for release build with image-builder
  .github/workflows/build-release.yaml
Due: none

docs: Fix access logs for entire mesh instructions
  docs/user/operation-guides/02-30-enable-istio-access-logs.md
Due: none

add migration blog post to the sidebar
  docs/user/_sidebar.md
  docs/user/migration/external-name-alias.md
Due: none

docs: Fix access logs for entire mesh instructions (#1013)
  docs/user/operation-guides/02-30-enable-istio-access-logs.md
Due: none

update intor
  docs/user/migration/external-name-alias.md
Due: none

Update docs/user/migration/external-name-alias.md
  docs/user/migration/external-name-alias.md
Due: none

add Gosia's suggestions
  docs/user/migration/external-name-alias.md
Due: none

apply Gosia's suggestions 2
  docs/user/migration/external-name-alias.md
Due: none

move image building to create release workflow
  .github/workflows/create-release.yaml
Due: none

remove separate release image build workflow
  .github/workflows/build-release.yaml
Due: none

aff if
  docs/user/migration/external-name-alias.md
Due: none

replace the with a
  docs/user/migration/external-name-alias.md
Due: none

ExternalName
  docs/user/_sidebar.md
  docs/user/migration/external-name-alias.md
Due: none

add a
  docs/user/migration/external-name-alias.md
Due: none

Add ExternalName migration blog post to the sidebar (#1014)
  docs/user/_sidebar.md
  docs/user/migration/external-name-alias.md
Due: none

Apply suggestions from code review
  .github/workflows/create-release.yaml
Due: none

add workflow for release build with image-builder (#1012)
  .github/workflows/create-release.yaml
Due: none

Update security scanner config
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update security scanner config (#1015)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

add diagram
  docs/assets/istio-controller-overview-user.svg
  docs/user/README.md
Due: none

add docu
  docs/user/00-10-overview-istio-controller.md
  docs/user/00-15-overview-istio-setup.md
  docs/user/00-20-overview-service-mesh.md
  docs/user/00-30-overview-istio-sidecars.md
  docs/user/00-40-overview-istio-setup.md
  docs/user/00-50-resource-configuration.md
  docs/user/04-00-istio-custom-resource.md
  docs/user/README.md
  docs/user/technical-reference/05-00-istio-controller-parameters.md
  docs/user/troubleshooting/03-00-istio-basic-diagnostics.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
Due: none

readme update
  docs/user/README.md
Due: none

update docu
  docs/assets/istio-controller-overview-user.svg
  docs/assets/istio-module-architecture.svg
  docs/user/00-10-overview-istio-controller.md
  docs/user/00-15-overview-istio-setup.md
  docs/user/00-18-istio-version.md
  docs/user/00-20-istio-sidecar-proxies.md
  docs/user/04-00-istio-custom-resource.md
  docs/user/README.md
  docs/user/operation-guides/README.md
  docs/user/troubleshooting/03-00-istio-basic-diagnostics.md
  docs/user/troubleshooting/03-10-503-no-access.md
  docs/user/troubleshooting/03-20-connection-refused.md
  docs/user/troubleshooting/03-30-istio-no-sidecar.md
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  docs/user/troubleshooting/03-60-404-on-istio-gateway.md
  docs/user/troubleshooting/03-70-reconciliation-fails-on-istio-install.md
  docs/user/troubleshooting/README.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
  docs/user/tutorials/01-10-external-authorization-provider.md
  docs/user/tutorials/01-30-expose-tcp-gateway-api.md
  docs/user/tutorials/01-35-check-if-sidecar-injection-is-enabled.md
  docs/user/tutorials/01-40-enable-sidecar-injection.md
  docs/user/tutorials/01-45-enable-istio-access-logs.md
Due: none

update docs
  docs/user/00-15-overview-istio-setup.md
  docs/user/00-20-istio-sidecar-proxies.md
  docs/user/tutorials/01-35-check-if-sidecar-injection-is-enabled.md
  docs/user/tutorials/01-40-enable-sidecar-injection.md
  docs/user/tutorials/01-45-enable-istio-access-logs.md
Due: none

Move image build from steps to jobs
  .github/workflows/create-release.yaml
Due: none

Move image build from steps to jobs (#1018)
  .github/workflows/create-release.yaml
Due: none

Add image builder to verify commit pins allowList
  .github/workflows/verify-commit-pins.yaml
Due: none

adjust dockerfile to new image-builder (#1011)
  Dockerfile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fips image
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Separate pull-integration-gardener between regular and release PRs
  .github/workflows/pull-integration-gardener-release.yaml
Due: none

Separate pull-integration-gardener between regular and release PRs (#1021)
  .github/workflows/pull-integration-gardener-release.yaml
Due: none

test gh workflows
  tests/integration/main_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Cherry pick image builder (#1019)
  .github/workflows/create-release.yaml
  .github/workflows/pull-integration-gardener-release.yaml
  .github/workflows/verify-commit-pins.yaml
  Dockerfile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Test cherrypicked workflows
  VERSION
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bump Istio to 1.23.2
  README.md
  docs/user/README.md
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add missing deps
  go.sum
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add pipeline workflow for the release branch
  .github/workflows/pull-integration-gardener-release.yaml
  .github/workflows/pull-request-release.yaml
Due: none
