Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Add egress restarter test
  internal/restarter/egress_gateway_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add rationale
  docs/contributor/02-10-testing-strategy.md
Due: none

Add post-review stuff
  docs/contributor/02-10-testing-strategy.md
Due: none

Add RN, remove restarter
  controllers/istio_controller.go
  docs/release-notes/1.12.0.md
  internal/restarter/egress_gateway.go
  internal/restarter/egress_gateway_test.go
  pkg/lib/egressgateway/egressgateway.go
  pkg/lib/egressgateway/egressgateway_test.go
  pkg/lib/egressgateway/suite_test.go
  pkg/lib/sidecars/pods/get.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Code review
  api/v1alpha2/merge_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Code review
  internal/filter/predicate.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Extend Istio CR with Egress Gateway (#1178)
  api/v1alpha2/conditions.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/istio_structs.go
  api/v1alpha2/istio_types.go
  api/v1alpha2/merge_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  docs/release-notes/1.12.0.md
  docs/user/04-00-istio-custom-resource.md
  internal/restarter/ingress_gateway.go
  pkg/lib/sidecars/pods/get.go
  tests/integration/features/configuration-suite/configuration.feature
  tests/integration/features/installation-suite/install.feature
  tests/integration/scenario.go
  tests/integration/steps/istio.go
  tests/integration/steps/istio_cr_template.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Split rationale
  docs/contributor/02-10-testing-strategy.md
Due: none

Apply suggestions from code review
  docs/contributor/02-10-testing-strategy.md
Due: none

Adapt to egress changes
  api/v1alpha2/istio_merge.go
  api/v1alpha2/merge_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add necessary fields to egress-gateway
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Testing strategy for Istio module (#1176)
  docs/contributor/02-10-testing-strategy.md
Due: none

Switch IOP to new structure (#1192)
  Makefile
  api/v1alpha2/compatibility_mode.go
  api/v1alpha2/compatibility_mode_test.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/istio_structs.go
  api/v1alpha2/merge_test.go
  api/v1alpha2/resources.go
  api/v1alpha2/resources_test.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  config/rbac/role.yaml
  controllers/istio_controller.go
  go.mod
  go.sum
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  internal/istiooperator/istiooperator.go
  internal/istiooperator/istiooperator_test.go
  internal/istiooperator/merge_experimental.go
  internal/istiooperator/merge_experimental_test.go
  internal/reconciliations/istio/client.go
  internal/reconciliations/istio/reconciliation_test.go
  internal/restarter/sidecars.go
  internal/restarter/sidecars_test.go
  internal/webhooks/webhooks_test.go
  tests/integration/main_test.go
  tests/integration/steps/resource.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add egress-gateway affinity
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix egress resources
  config/samples/operator_v1alpha2_istio.yaml
  docs/user/00-15-overview-istio-setup.md
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add egress-gateway affinity (#1196)
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix manager
  config/samples/operator_v1alpha2_istio.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix egress resources (#1197)
  docs/user/00-15-overview-istio-setup.md
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

blank
  docs/release-notes/1.11.0.md
Due: none

Set the same resources for egress and ingress
  docs/user/00-15-overview-istio-setup.md
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix broken values
  docs/user/00-15-overview-istio-setup.md
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Set the same resources for egress and ingress (#1198)
  docs/user/00-15-overview-istio-setup.md
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Create 1.13.0.md
  docs/release-notes/1.13.0.md
Due: none

Bump slack action in the failed workflow notification
  .github/actions/slack-notification-failed-workflow/action.yaml
Due: none

Drop .github from pathignore on main push workflow and fix secret ref
  .github/actions/slack-notification-failed-workflow/action.yaml
  .github/workflows/main-integration.yaml
Due: none

Bump slack action in the failed workflow notification (#1202)
  .github/actions/slack-notification-failed-workflow/action.yaml
  .github/workflows/main-integration.yaml
Due: none

Bump k8s int tests
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-release-pr-integration-gardener.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-gardener.yaml
Due: none

Add owner to the slack failed tests notification
  .github/actions/slack-notification-failed-workflow/action.yaml
Due: none

Add owner to the slack failed tests notification (#1205)
  .github/actions/slack-notification-failed-workflow/action.yaml
Due: none

Bump k8s int tests (#1203)
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-release-pr-integration-gardener.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-gardener.yaml
Due: none

Update call-ui-tests.yaml
  .github/workflows/call-ui-tests.yaml
Due: none

Update call-ui-tests.yaml (#1206)
  .github/workflows/call-ui-tests.yaml
Due: none

Adapt HPA and resources of egress gateway (#1204)
  docs/user/00-15-overview-istio-setup.md
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update VERSION and sec-scanners-config
  VERSION
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build
