Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

chore: automatic update sec-scanners-config.yaml (#1772)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Use new credential bindings for gardener (#1773)
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-release-pr-integration-gardener.yaml
  hack/ci/scripts-v2/set-aws-compatibility-gardener.sh
  hack/ci/scripts-v2/set-aws-gardener.sh
  hack/ci/scripts-v2/set-gcp-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix gardener field credentialsBindingName
  hack/ci/scripts-v2/shoot_aws.yaml
  hack/ci/scripts-v2/shoot_gcp.yaml
  hack/ci/shoot_aws.yaml
  hack/ci/shoot_gcp.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix gardener field credentialsBindingName (#1774)
  hack/ci/scripts-v2/shoot_aws.yaml
  hack/ci/scripts-v2/shoot_gcp.yaml
  hack/ci/shoot_aws.yaml
  hack/ci/shoot_gcp.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

release: update sec-scanners-config.yaml (#1775)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

feat: add forwardClientCertDetailsSetting metric to track selected setting in Istio CR
  internal/metrics/metrics.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update sec-scanners
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

fix: remove unused forwardClientCertDetailsConfigured metric from configMetrics
  internal/metrics/metrics.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Release 1.24.2 (#1776)
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-release-pr-integration-gardener.yaml
  hack/ci/scripts-v2/set-aws-compatibility-gardener.sh
  hack/ci/scripts-v2/set-aws-gardener.sh
  hack/ci/scripts-v2/set-gcp-gardener.sh
  hack/ci/scripts-v2/shoot_aws.yaml
  hack/ci/scripts-v2/shoot_gcp.yaml
  hack/ci/shoot_aws.yaml
  hack/ci/shoot_gcp.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: update docs
  docs/contributor/04-50-istio-metrics.md
Due: none

ci: bump k8s version to 1.34.3 for compatibility test
  .github/actions/k8s-compatibility-test/action.yaml
  hack/ci/scripts-v2/set-aws-compatibility-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Sync Istio 1.28.2 with internal registry
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

ci: bump k8s version to 1.34.3 for compatibility test (#1777)
  .github/actions/k8s-compatibility-test/action.yaml
  hack/ci/scripts-v2/set-aws-compatibility-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Sync Istio 1.28.2 with internal registry (#1778)
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update section title from 'Cluster Details' to 'Cluster Overview' (#1771)
  docs/user/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
Due: none

Update docs/contributor/04-50-istio-metrics.md
  docs/contributor/04-50-istio-metrics.md
Due: none

Update docs/release-notes/1.25.0.md
  docs/release-notes/1.25.0.md
Due: none

fix: update default handling of forwardClientCertDetails in Istio CR (#1769)
  api/v1alpha2/istio_structs.go
  api/v1alpha2/merge_test.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  docs/contributor/04-50-istio-metrics.md
  docs/release-notes/1.25.0.md
  internal/metrics/metrics.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: update default handling of forwardClientCertDetails in Istio CR (#1769)
  api/v1alpha2/istio_structs.go
  api/v1alpha2/merge_test.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  docs/contributor/04-50-istio-metrics.md
  docs/release-notes/1.24.1.md
  internal/metrics/metrics.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: update default handling of forwardClientCertDetails in Istio CR (#1769)
  docs/release-notes/1.24.1.md
  docs/release-notes/1.24.3.md
Due: none

fix: update default handling of forwardClientCertDetails in Istio CR (#1779)
  api/v1alpha2/istio_structs.go
  api/v1alpha2/merge_test.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  docs/contributor/04-50-istio-metrics.md
  docs/release-notes/1.24.1.md
  docs/release-notes/1.24.3.md
  internal/metrics/metrics.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bump Istio to 1.28.2
  api/v1alpha2/compatibility_mode.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  config/manager/env-images.yaml
  config/rbac/role.yaml
  controllers/istio_controller.go
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust tests
  api/v1alpha2/compatibility_mode.go
  api/v1alpha2/telemetry.go
  internal/istiooperator/merge_experimental_test.go
  pkg/lib/sidecars/test/cases.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add release notes
  docs/release-notes/1.25.0.md
Due: none

release: update sec-scanners-config.yaml (#1782)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Apply suggestions from code review
  docs/user/00-25-plug-in-istio-ca.md
Due: none

Add the documentation on configuring Istio CA cert (#1733)
  docs/user/00-25-plug-in-istio-ca.md
  docs/user/_sidebar.md
  docs/user/_sidebar.ts
Due: none

Revert "ci: bump k8s version to 1.34.3 for compatibility test (#1777)"
  .github/actions/k8s-compatibility-test/action.yaml
  hack/ci/scripts-v2/set-aws-compatibility-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix syntax error in _sidebar.ts
  docs/user/_sidebar.ts
Due: none

Fix syntax error in _sidebar.ts (#1787)
  docs/user/_sidebar.ts
Due: none

Revert "ci: bump k8s version to 1.34.3 for compatibility test (#1777)" (#1786)
  .github/actions/k8s-compatibility-test/action.yaml
  hack/ci/scripts-v2/set-aws-compatibility-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix Istio sidebar
  docs/user/_sidebar.ts
Due: none

Fix broken links
  docs/user/tutorials/01-10-external-authorization-provider.md
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

Fix Istio sidebar (#1788)
  docs/user/_sidebar.ts
Due: none

Update
  docs/user/tutorials/01-10-external-authorization-provider.md
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

docs: fix broken links (#1789)
  docs/user/tutorials/01-10-external-authorization-provider.md
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1790)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Review suggestions
  config/rbac/role.yaml
  controllers/istio_controller.go
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build
