Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration-aws-specific: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Fix image
  docs/user/tutorials/01-00-x-forwarded-for-header.md
  docs/user/tutorials/assets/01-00-num-trusted-proxies-ui.svg
Due: none

Make response json valid
  docs/user/tutorials/01-00-x-forwarded-for-header.md
Due: none

Rollback accidental change of svg
  docs/assets/search-for-istio-ingress-gateway.svg
Due: none

Apply suggestions from code review
  docs/user/_sidebar.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
  docs/user/tutorials/README.md
Due: none

feat: Switch to opentelemetry tracer and harmonize service naming
  manifests/istio-operator-template-light.yaml
  manifests/istio-operator-template.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Remove separate istio-install cmd, since the memory leak shouldn't happen anymore
  Dockerfile
  Makefile
  cmd/istio-install/main.go
  internal/reconciliations/istio/client.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Remove api-gateway module from Prerequisites and remove kyma-gateway reference
  docs/user/tutorials/01-00-x-forwarded-for-header.md
Due: none

Fix markdown issues
  docs/user/_sidebar.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
Due: none

Update docs/user/tutorials/01-00-x-forwarded-for-header.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
Due: none

Remove separate istio-install cmd, since the memory leak shouldn't happen anymore (#509)
  Dockerfile
  Makefile
  cmd/istio-install/main.go
  internal/reconciliations/istio/client.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Review remarks
  docs/user/tutorials/01-00-x-forwarded-for-header.md
Due: none

XFF tutorial (#507)
  docs/user/_sidebar.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
  docs/user/tutorials/README.md
  docs/user/tutorials/assets/01-00-num-trusted-proxies-ui.svg
Due: none

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update sec-scanners-config.yaml (#511)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Include istio-injection label when creating kyma-system ns
  Makefile
  README.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Include istio-injection label when creating kyma-system ns (#512)
  Makefile
  README.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update security scanner images
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update security scanner images (#515)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Set VERSION file to 1.1.3
  VERSION
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Add release notes
  docs/release-notes/1.1.3.md
Due: none

Delete .github/workflows/vulnerabilities-check.yaml
  .github/workflows/vulnerabilities-check.yaml
Due: none

Delete .github/workflows/vulnerabilities-check.yaml (#517)
  .github/workflows/vulnerabilities-check.yaml
Due: none

Set VERSION file to 1.1.3 (#516)
  VERSION
  docs/release-notes/1.1.3.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

add information about Istio CR
  docs/user/04-00-istio-custom-resource.md
Due: none

language fixes
  docs/user/04-00-istio-custom-resource.md
Due: none

Add additional Istio CR info (#518)
  docs/user/04-00-istio-custom-resource.md
Due: none

Back to Kyma Home
  docs/user/_sidebar.md
Due: none

revert the test changes
  docs/user/_sidebar.md
Due: none

test
  docs/user/_sidebar.md
Due: none

use title case
  docs/contributor/01-00-installation.md
  docs/contributor/04-10-technical-design.md
  docs/contributor/04-30-ci-cd.md
  docs/release-notes/template.md
  docs/user/00-10-overview-istio-controller.md
  docs/user/00-20-overview-service-mesh.md
  docs/user/00-30-overview-istio-sidecars.md
  docs/user/00-40-overview-istio-setup.md
  docs/user/00-50-resource-configuration.md
  docs/user/_sidebar.md
  docs/user/operation-guides/02-10-check-if-sidecar-injection-is-enabled.md
  docs/user/operation-guides/02-20-enable-sidecar-injection.md
  docs/user/operation-guides/02-30-enable-istio-access-logs.md
  docs/user/troubleshooting/03-10-503-no-access.md
  docs/user/troubleshooting/03-30-istio-no-sidecar.md
  docs/user/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
Due: none

use title case
  docs/user/04-00-istio-custom-resource.md
  docs/user/README.md
  docs/user/operation-guides/02-10-check-if-sidecar-injection-is-enabled.md
  docs/user/operation-guides/02-20-enable-sidecar-injection.md
  docs/user/operation-guides/02-30-enable-istio-access-logs.md
  docs/user/operation-guides/README.md
  docs/user/technical-reference/05-00-istio-controller-parameters.md
  docs/user/technical-reference/README.md
  docs/user/troubleshooting/03-10-503-no-access.md
  docs/user/troubleshooting/03-20-connection-refused.md
  docs/user/troubleshooting/03-30-istio-no-sidecar.md
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  docs/user/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
  docs/user/troubleshooting/03-60-404-on-istio-gateway.md
  docs/user/troubleshooting/README.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
Due: none

use title case
  hack/managed-kyma-migration/readme.md
  tests/performance/Readme.md
Due: none

enhance readme
  docs/user/README.md
Due: none

fix a link
  docs/user/README.md
Due: none

Istio Status conditions
  api/v1alpha2/istio_types.go
  controllers/status.go
  docs/user/00-10-overview-istio-controller.md
  docs/user/04-00-istio-custom-resource.md
  docs/user/troubleshooting/03-10-503-no-access.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

correct the capitalization
  docs/user/README.md
  docs/user/_sidebar.md
Due: none

lowercase for service mesh
  docs/user/00-10-overview-istio-controller.md
  docs/user/00-20-overview-service-mesh.md
  docs/user/00-30-overview-istio-sidecars.md
  docs/user/operation-guides/02-20-enable-sidecar-injection.md
  docs/user/troubleshooting/03-20-connection-refused.md
Due: none

correct servis mesh
  README.md
Due: none

State commit
  api/v1alpha1/istio_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha2/istio_types.go
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  controllers/status.go
  controllers/status_test.go
  internal/described_errors/described_errors.go
  internal/reconciliations/istio_resources/reconciliation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific
