Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

Bump k8s in e2e tests
  .github/actions/integration-test/action.yaml
  .github/workflows/call-integration-tests.yaml
  hack/ci/scripts-v2/set-aws-gardener.sh
  hack/ci/scripts-v2/set-gcp-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

2nd part of bumps
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
Due: none

Bump k8s in e2e tests (#1566)
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/call-integration-tests.yaml
  hack/ci/scripts-v2/set-aws-gardener.sh
  hack/ci/scripts-v2/set-gcp-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Make deprecation report to be uploaded on failure
  .github/actions/k8s-compatibility-test/action.yaml
Due: none

Same for gardener
  .github/actions/k8s-compatibility-test-aws/action.yaml
Due: none

Make deprecation report to be uploaded on failure (#1569)
  .github/actions/k8s-compatibility-test-aws/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
Due: none

Fix compatibility actions
  .github/actions/k8s-compatibility-test-aws/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
Due: none

Fix compatibility actions (#1570)
  .github/actions/k8s-compatibility-test-aws/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
Due: none

Ignore endpoints in k3d compatibility test
  .github/actions/k8s-compatibility-test/action.yaml
Due: none

Ignore endpoints in k3d compatibility test (#1571)
  .github/actions/k8s-compatibility-test/action.yaml
Due: none

chore: automatic update sec-scanners-config.yaml (#1572)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Sync Istio 1.27.0 with registry
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Sync Istio 1.27.0 with registry (#1577)
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bump Istio to 1.27.0
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust test to one more env variable on istiod
  internal/istiooperator/merge_experimental_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add rel notes and tutorial
  docs/release-notes/1.21.0.md
  docs/user/tutorials/01-70-sidecar-regular-container.md
Due: none

Update sec scanner config
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Enhance Restart of Workloads in the Istio Servie Mesh
  docs/user/00-00-istio-sidecar-proxies.md
  docs/user/00-05-restart-of-workloads-in-service-mesh.md
  docs/user/_sidebar.md
Due: none

fix sidebar
  docs/user/_sidebar.md
  docs/user/tutorials/01-10-external-authorization-provider.md
  docs/user/tutorials/01-20-expose-httbin-gateway-api.md
  docs/user/tutorials/01-30-expose-tcp-gateway-api.md
  docs/user/tutorials/01-40-enable-sidecar-injection.md
  docs/user/tutorials/01-45-enable-istio-access-logs.md
  docs/user/tutorials/01-50-send-requests-using-egress.md
  docs/user/tutorials/01-55-send-requests-using-egress-and-mtls.md
  docs/user/tutorials/01-60-enable-nlb-load-balancer.md
Due: none

fix typos
  docs/user/_sidebar.md
Due: none

Update the document "Restart of Workloads in the Istio Servie Mesh" (#1581)
  docs/user/00-00-istio-sidecar-proxies.md
  docs/user/00-05-restart-of-workloads-in-service-mesh.md
  docs/user/_sidebar.md
  docs/user/tutorials/01-10-external-authorization-provider.md
  docs/user/tutorials/01-20-expose-httbin-gateway-api.md
  docs/user/tutorials/01-30-expose-tcp-gateway-api.md
  docs/user/tutorials/01-40-enable-sidecar-injection.md
  docs/user/tutorials/01-45-enable-istio-access-logs.md
  docs/user/tutorials/01-50-send-requests-using-egress.md
  docs/user/tutorials/01-55-send-requests-using-egress-and-mtls.md
  docs/user/tutorials/01-60-enable-nlb-load-balancer.md
Due: none

go mod tidy
  go.mod
  go.sum
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bump Istio version envs
  config/manager/env-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: automatic update sec-scanners-config.yaml (#1583)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Apply suggestions from code review
  docs/release-notes/1.21.0.md
Due: none

Bump Istio to 1.27.0 (#1578)
  config/manager/env-images.yaml
  docs/release-notes/1.21.0.md
  docs/user/tutorials/01-70-sidecar-regular-container.md
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  internal/istiooperator/merge_experimental_test.go
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Docs for Istio Proxy Native Sidecar
  docs/user/00-20-istio-proxy-as-native-sidecar.md
  docs/user/_sidebar.md
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/tutorials/01-70-sidecar-regular-container.md
Due: none

Istio Proxy Native Sidecar docs - added section about known hacks
  docs/user/00-20-istio-proxy-as-native-sidecar.md
Due: none

Add 1.27.1 images to image syncer
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add 1.27.1 images to image syncer (#1587)
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  docs/user/00-20-istio-proxy-as-native-sidecar.md
  docs/user/_sidebar.md
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
Due: none

Bump Istio to version 1.27.1
  config/manager/env-images.yaml
  docs/release-notes/1.21.0.md
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Istio Proxy as Native Sidecar - changes after review
  docs/user/00-20-istio-proxy-as-native-sidecar.md
  docs/user/_sidebar.md
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
Due: none

Istio Proxy as Native Sidecar - removed obsolete Istio 1.23 or any later
  docs/user/00-20-istio-proxy-as-native-sidecar.md
Due: none

Apply suggestions from code review
  docs/user/00-20-istio-proxy-as-native-sidecar.md
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
Due: none

Apply suggestions from code review
  docs/user/_sidebar.md
Due: none

Bump Istio to version 1.27.1 (#1588)
  config/manager/env-images.yaml
  docs/release-notes/1.21.0.md
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Docs for Istio Proxy Native Sidecar (#1585)
  docs/user/00-20-istio-proxy-as-native-sidecar.md
  docs/user/_sidebar.md
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
  docs/user/tutorials/01-70-sidecar-regular-container.md
Due: none

Update 00-20-istio-proxy-as-native-sidecar.md
  docs/user/00-20-istio-proxy-as-native-sidecar.md
Due: none

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
