Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Release 1.9 version bump
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Release 1.9 version bump (#1054)
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Replace unreliable job to get SHA with building image
  .github/actions/get-latest-sha/action.yaml
  .github/workflows/performance-test.yaml
  .github/workflows/ui-tests-periodic.yaml
  docs/contributor/04-30-ci-cd.md
Due: none

Fix permissions for create release workflow
  .github/workflows/create-release.yaml
Due: none

Update docs
  docs/contributor/04-30-ci-cd.md
Due: none

Update security scanner config
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Fix permissions for create release workflow (#1057)
  .github/workflows/create-release.yaml
Due: none

Fix broken main scheduled tests (#1056)
  .github/actions/get-latest-sha/action.yaml
  .github/workflows/performance-test.yaml
  .github/workflows/ui-tests-periodic.yaml
  docs/contributor/04-30-ci-cd.md
Due: none

Fix permissions for create release workflow (#1057) (#1059)
  .github/workflows/create-release.yaml
Due: none

Fix image ref
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update CI/CD docs with latest links
  docs/contributor/04-30-ci-cd.md
Due: none

Update security scanner config (#1058)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update CI/CD docs with latest links (#1060)
  docs/contributor/04-30-ci-cd.md
Due: none

Ignore GitHub Actions patches and update release branch to latest branch
  .github/dependabot.yml
Due: none

Increase certificate key size for mesh-to-mesh communication (#1049)
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update release branch to latest branch in Dependabot config
  .github/dependabot.yml
Due: none

Remove Istio version v1alpha1
  PROJECT
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/istio_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  internal/clusterconfig/clusterconfig_test.go
  internal/resources/disclaimer_annotation_test.go
  internal/webhooks/webhooks_test.go
  main.go
  pkg/lib/gatherer/gatherer.go
  pkg/lib/gatherer/gatherer_test.go
  pkg/lib/sidecars/pods/get_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update Dependabot configuration (#1061)
  .github/dependabot.yml
Due: none

Updat tutorials
  docs/user/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
  docs/user/tutorials/01-10-external-authorization-provider.md
Due: none

Create 1.10.0.md
  docs/release-notes/1.10.0.md
Due: none

Update docs/release-notes/1.10.0.md
  docs/release-notes/1.10.0.md
Due: none

Remove Istio version v1alpha1 (#1062)
  PROJECT
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/istio_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  docs/release-notes/1.10.0.md
  docs/user/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
  docs/user/tutorials/01-10-external-authorization-provider.md
  internal/clusterconfig/clusterconfig_test.go
  internal/resources/disclaimer_annotation_test.go
  internal/webhooks/webhooks_test.go
  main.go
  pkg/lib/gatherer/gatherer.go
  pkg/lib/gatherer/gatherer_test.go
  pkg/lib/sidecars/pods/get_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update security scanner config (#1073)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Add new workflow for image syncer
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-gardener.yaml
  .github/workflows/pull-request-release.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/sync-external-images.yaml
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add CI/CD docs
  .github/workflows/sync-external-images.yaml
  docs/contributor/04-30-ci-cd.md
Due: none

Apply suggestions from code review
  docs/contributor/04-30-ci-cd.md
Due: none

Add new workflow for image syncer (#1074)
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-gardener.yaml
  .github/workflows/pull-request-release.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/sync-external-images.yaml
  docs/contributor/04-30-ci-cd.md
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add link for sync-external-images to CI/CD docs
  docs/contributor/04-30-ci-cd.md
Due: none

Add link for sync-external-images to CI/CD docs (#1075)
  docs/contributor/04-30-ci-cd.md
Due: none

Add istio-system namespace to module manifest
  Makefile
  config/namespace/istio_system_namespace.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add istio-system namespace to module manifest
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove code which reacts to the annotation and applies the env
  api/v1alpha2/compatibility_mode_test.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/merge_test.go
  internal/istiooperator/merge_experimental_test.go
  pkg/lib/annotations/annotations.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

VERSION to 1.10
  VERSION
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

RNs
  README.md
  docs/release-notes/1.10.0.md
Due: none

Docs adjustment and RN
  docs/release-notes/1.10.0.md
  docs/user/04-00-istio-custom-resource.md
Due: none

readme update
  docs/user/README.md
Due: none

add diagram
  docs/assets/istio-controller-overview-user.svg
  docs/user/README.md
Due: none
