Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

Remove redundant assertions. Add more descriptive comment to test.
  tests/e2e/pkg/asserts/istio/proxyconfig_assertion.go
  tests/e2e/tests/dnsproxying/dnsproxying_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add enableDNSPRoxying predicate to sidecar restarter function. Adjust comment for better clarity.
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/proxy.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add predicates for ingress gateway proxy.
  internal/restarter/predicates/ingressgateway.go
  internal/restarter/predicates/ingressgateway_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add predicates for sidecar proxies.
  internal/restarter/predicates/dns_proxying.go
  internal/restarter/predicates/dns_proxying_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust assertions in tests of ingressgateway restart predicates.
  internal/restarter/predicates/ingressgateway_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add release notes and adjust description in CRD file and docs.
  api/v1alpha2/istio_structs.go
  docs/release-notes/1.26.0.md
  docs/user/04-00-istio-custom-resource.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update docu
  docs/user/technical-reference/05-20-support-for-network-policies.md
  internal/reconciliations/istioresources/networkpolicies/allow-istiod.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add enableDNSProxyingRestartPredicate to restart proxies unit tests. Make manifest.
  config/crd/bases/operator.kyma-project.io_istios.yaml
  pkg/lib/sidecars/proxy_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Make generate.
  api/v1alpha2/zz_generated.deepcopy.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add the egress netpol to unit test
  internal/reconciliations/istioresources/networkpolicies_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust description in Busola for new field. Remove redundant comments.
  config/ui-extensions/istios/translations
  internal/restarter/predicates/dns_proxying_test.go
  tests/e2e/pkg/helpers/proxy_config/proxy_config.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add uploading artifactory with obtained proxy_config_dumps for github actions.
  .github/actions/e2e-test-gardener/action.yaml
  .github/actions/e2e-test-k3d/action.yaml
  tests/e2e/pkg/helpers/proxy_config/proxy_config.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply code review comments from technical writer.
  api/v1alpha2/istio_structs.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  docs/release-notes/1.26.0.md
  docs/user/04-00-istio-custom-resource.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add sidebar and move to user dir
  docs/user/00-30-trust-domain.md
  docs/user/_sidebar.ts
Due: none

Add review suggestions
  docs/user/00-30-trust-domain.md
Due: none

Adjust description of dns proxying. Get rid of cluster-wide with global for service mesh.
  api/v1alpha2/istio_structs.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  config/ui-extensions/istios/translations
  docs/user/04-00-istio-custom-resource.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add metrics
  docs/contributor/04-50-istio-metrics.md
  internal/metrics/metrics.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

e2e tests
  .github/workflows/post-main-release-workflow.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-istio-2.yaml
  .github/workflows/schedule-main-integration.yaml
  Makefile
  tests/e2e/pkg/asserts/http/assertions.go
  tests/e2e/pkg/asserts/istio/pod_assertions.go
  tests/e2e/pkg/asserts/networkpolicy/networkpolicy_assertions.go
  tests/e2e/pkg/helpers/client/client.go
  tests/e2e/pkg/helpers/egressgateway/setup.go
  tests/e2e/pkg/helpers/http/http.go
  tests/e2e/pkg/helpers/httpincluster/curl.go
  tests/e2e/pkg/helpers/modules/istio_builder.go
  tests/e2e/pkg/helpers/networkpolicy/networkpolicy_builder.go
  tests/e2e/pkg/helpers/virtual_service/virtual_service.go
  tests/e2e/tests/networkpolicy/networkpolicy_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix missing deny all in DNS resolve test
  tests/e2e/tests/networkpolicy/networkpolicy_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Revise title and description for trust domain section
  docs/user/00-30-trust-domain.md
Due: none

Update definition of trust domain in documentation
  docs/user/00-30-trust-domain.md
Due: none

Update trust domain configuration description
  docs/user/00-30-trust-domain.md
Due: none

Add dns-proxying e2e test to new tests e2e job.
  .github/workflows/pull-request.yaml
Due: none

Apply suggestions from code review
  tests/e2e/pkg/helpers/proxy_config/proxy_config.go
  tests/e2e/tests/dnsproxying/dnsproxying_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add documentation about trustDomain (#1889)
  docs/user/00-30-trust-domain.md
  docs/user/_sidebar.ts
Due: none

Adjust upload artifact.
  .github/actions/e2e-test-k3d/action.yaml
  tests/e2e/pkg/helpers/proxy_config/proxy_config.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Change Istio CR field description.
  api/v1alpha2/istio_structs.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  docs/user/04-00-istio-custom-resource.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust uplad artifact in gardener e2e test.
  .github/actions/e2e-test-gardener/action.yaml
Due: none

Set API server port dynamically to support other clusters
  internal/clusterconfig/clusterconfig.go
  internal/reconciliations/istioresources/networkpolicies.go
  internal/reconciliations/istioresources/networkpolicies/allow-cni.yaml
  internal/reconciliations/istioresources/networkpolicies/allow-istio-controller-manager.yaml
  internal/reconciliations/istioresources/networkpolicies/allow-istiod.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add unit test for apiserver port and remove it from e2e-test
  internal/reconciliations/istioresources/networkpolicies_test.go
  tests/e2e/pkg/asserts/networkpolicy/networkpolicy_assertions.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add networking to scheme
  internal/reconciliations/istioresources/experimental_reconciliation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

update link
  docs/user/00-30-trust-domain.md
Due: none

update link (#1894)
  docs/user/00-30-trust-domain.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1893)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Apply suggestions from code review
  docs/user/00-30-dns-proxying.md
Due: none

docs: address PR review feedback for DNS proxying concept
  docs/user/00-30-dns-proxying.md
Due: none

Remove typo: aplha -> alpha.
  docs/user/_sidebar.ts
Due: none

docs: update DNS proxying documentation and add dashboard instructions
  docs/user/00-30-dns-proxying.md
  docs/user/_sidebar.ts
Due: none

Remove typo: aplha -> alpha. (#1895)
  docs/user/_sidebar.ts
Due: none

Add ui extension
  config/ui-extensions/istios/form
  config/ui-extensions/istios/translations
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
