Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

Add release notes
  docs/release-notes/1.24.0.md
Due: none

Rename struct field
  internal/images/env.go
  internal/images/env_test.go
  internal/images/merge.go
  internal/images/merge_test.go
  internal/istiooperator/istiooperator_test.go
  internal/istiooperator/merge_experimental_test.go
  internal/reconciliations/istio/reconciliation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update docs/release-notes/1.24.0.md
  docs/release-notes/1.24.0.md
Due: none

Add support for KYMA_FIPS_MODE_ENABLED environment variable (#1721)
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  docs/release-notes/1.24.0.md
  internal/images/env.go
  internal/images/env_test.go
  internal/images/merge.go
  internal/images/merge_test.go
  internal/istiooperator/istiooperator.go
  internal/istiooperator/istiooperator_test.go
  internal/istiooperator/merge.go
  internal/istiooperator/merge_experimental.go
  internal/istiooperator/merge_experimental_test.go
  internal/reconciliations/istio/install.go
  internal/reconciliations/istio/reconciliation.go
  internal/reconciliations/istio/reconciliation_test.go
  internal/restarter/sidecars_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: correct metric name for trust domain configuration in Istio
  docs/contributor/04-50-istio-metrics.md
  internal/metrics/metrics.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

feat: expose trustDomain in Istio CR (#1727)
  api/v1alpha2/istio_merge.go
  api/v1alpha2/istio_structs.go
  api/v1alpha2/merge_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  config/ui-extensions/istios/details
  config/ui-extensions/istios/form
  config/ui-extensions/istios/translations
  docs/contributor/04-50-istio-metrics.md
  docs/contributor/adr/0012-support-for-trust-domain-configuration.md
  docs/release-notes/1.24.0.md
  docs/user/04-00-istio-custom-resource.md
  internal/metrics/metrics.go
  internal/restarter/predicates/ingressgateway.go
  internal/restarter/predicates/ingressgateway_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add reminder about updating Busola (#1717)
  .github/pull-request-template.md
Due: none

Use different external host for httpbin tests
  tests/e2e/egress/egress_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Wait for namespace to be deleted
  tests/e2e/pkg/helpers/infrastructure/namespace.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Use different external host for httpbin tests (#1742)
  tests/e2e/egress/egress_test.go
  tests/e2e/pkg/helpers/infrastructure/namespace.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Ignore error when namespace is not found
  tests/e2e/pkg/helpers/infrastructure/namespace.go
  tests/e2e/pkg/helpers/testsetup/testsetup.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix egress config for a new host
  tests/e2e/egress/egress_config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Ignore error when namespace is not found (#1744)
  tests/e2e/egress/egress_config.yaml
  tests/e2e/pkg/helpers/infrastructure/namespace.go
  tests/e2e/pkg/helpers/testsetup/testsetup.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update 00-25-plug-in-istio-ca.md
  docs/user/00-25-plug-in-istio-ca.md
Due: none

Update docs/user/00-25-plug-in-istio-ca.md
  docs/user/00-25-plug-in-istio-ca.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1746)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Adapt manager role
  config/rbac/role.yaml
  controllers/istio_controller.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust to failures
  config/rbac/role.yaml
  controllers/istio_controller.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove *
  config/rbac/role.yaml
  controllers/istio_controller.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Keep the *
  config/rbac/role.yaml
  controllers/istio_controller.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add RBAC docu
  docs/user/technical-reference/05-10-istio-controller-rbac.md
Due: none

release: update sec-scanners-config.yaml (#1752)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

update dependabot.yml (#1753)
  .github/dependabot.yml
Due: none

chore: automatic update sec-scanners-config.yaml (#1755)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Apply suggestions from code review
  docs/user/technical-reference/05-10-istio-controller-rbac.md
Due: none

feat: update Istio image handling to support configurable component images
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  internal/images/env.go
  internal/images/merge.go
  internal/images/merge_test.go
  internal/istiooperator/istiooperator.go
  internal/istiooperator/istiooperator_test.go
  internal/istiooperator/merge.go
  internal/istiooperator/merge_experimental.go
  internal/reconciliations/istio/install.go
  internal/reconciliations/istio/reconciliation.go
  internal/reconciliations/istio/reconciliation_test.go
  internal/restarter/sidecars_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove ztunnel image from experimental release yaml
  Makefile
  config/experimental/kustomization.yaml
  config/experimental/remove-ztunnel.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

feat: refactor Istio image merging for experimental to use updated image handling
  api/v1alpha2/experimental.go
  internal/istiooperator/merge_experimental.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add Istio 1.27.4 to image syncer
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

feat: refactor Istio image merging for experimental to use updated image handling
  internal/images/merge.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add Istio 1.27.4 to image syncer (#1757)
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update istio to 1.27.4
  config/manager/env-images.yaml
  docs/release-notes/1.25.0.md
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update go.mod
  go.sum
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

feat: update tests to remove ztunnel image handling and use configurable images
  internal/images/merge_test.go
  internal/istiooperator/merge_experimental_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Set default CRD value for XFCC to SANITIZE_SET
  api/v1alpha2/istio_structs.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Regenerate docs and add release notes
  docs/release-notes/1.25.0.md
  docs/user/04-00-istio-custom-resource.md
Due: none

Update CRD
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Set default CRD value for XFCC to SANITIZE_SET (#1760)
  api/v1alpha2/istio_structs.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  docs/release-notes/1.25.0.md
  docs/user/04-00-istio-custom-resource.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
