Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

Update docs/release-notes/1.23.0.md
  docs/release-notes/1.23.0.md
Due: none

Adapt the logic to how Istio handles that
  internal/restarter/predicates/image_resources.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/test/helpers/helpers.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add logs
  internal/restarter/predicates/compatibility.go
  internal/restarter/predicates/customer_workload.go
  internal/restarter/predicates/image_resources.go
  internal/restarter/predicates/kyma_workload.go
  internal/restarter/predicates/native_sidecar.go
  internal/restarter/predicates/predicate.go
  internal/restarter/predicates/prometheus_merge.go
  pkg/lib/sidecars/pods/get.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: Setting proxy resources via annotation causes persistent restarts (#1649)
  docs/release-notes/1.23.0.md
  internal/restarter/predicates/compatibility.go
  internal/restarter/predicates/customer_workload.go
  internal/restarter/predicates/image_resources.go
  internal/restarter/predicates/kyma_workload.go
  internal/restarter/predicates/native_sidecar.go
  internal/restarter/predicates/predicate.go
  internal/restarter/predicates/prometheus_merge.go
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/test/helpers/helpers.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update docs/user/_sidebar.ts
  docs/user/_sidebar.ts
Due: none

provide _sidebar.ts for vitepress (#1631)
  docs/user/_sidebar.ts
Due: none

Add RN for 1.22.1
  docs/release-notes/1.22.1.md
Due: none

fix: Setting proxy resources via annotation causes persistent restarts (#1653)
  docs/release-notes/1.22.1.md
  internal/restarter/predicates/compatibility.go
  internal/restarter/predicates/customer_workload.go
  internal/restarter/predicates/image_resources.go
  internal/restarter/predicates/kyma_workload.go
  internal/restarter/predicates/native_sidecar.go
  internal/restarter/predicates/predicate.go
  internal/restarter/predicates/prometheus_merge.go
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/test/helpers/helpers.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: Setting proxy resources via annotation causes persistent restarts (#1649)
  docs/release-notes/1.21.1.md
  internal/restarter/predicates/compatibility.go
  internal/restarter/predicates/customer_workload.go
  internal/restarter/predicates/image_resources.go
  internal/restarter/predicates/kyma_workload.go
  internal/restarter/predicates/predicate.go
  internal/restarter/predicates/prometheus_merge.go
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/test/helpers/helpers.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: update Istio tag in annotations right after istio install, to avoid blocked upgrade of istio (caused by not updated istioTag version)
  controllers/istio_controller.go
  internal/reconciliations/istio/configuration/configuration.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

added tests for configuration, fix logic of update configuration
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  internal/reconciliations/istio/configuration/configuration.go
  internal/reconciliations/istio/configuration/configuration_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: update LastAppliedConfiguration with istioTag version during reconciliation and tests for reconciliation that prove fix
  controllers/istio_controller.go
  controllers/istio_controller_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

added RN
  docs/release-notes/1.23.0.md
Due: none

Release Istio module 1.22.1
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

fix: Setting proxy resources via annotation causes persistent restarts (#1649) (#1655)
  docs/release-notes/1.21.1.md
  internal/restarter/predicates/compatibility.go
  internal/restarter/predicates/customer_workload.go
  internal/restarter/predicates/image_resources.go
  internal/restarter/predicates/kyma_workload.go
  internal/restarter/predicates/predicate.go
  internal/restarter/predicates/prometheus_merge.go
  pkg/lib/sidecars/pods/get.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/test/helpers/helpers.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Release Istio 1.21.1
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

chore: automatic update sec-scanners-config.yaml (#1652)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

fix: blocked istio upgrade #1644 (#1651)
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  docs/release-notes/1.23.0.md
  internal/reconciliations/istio/configuration/configuration.go
  internal/reconciliations/istio/configuration/configuration_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Cancel outdated workflows (#1648)
  .github/workflows/pull-build-push.yaml
  .github/workflows/pull-request.yaml
Due: none

Update egress test
  tests/e2e/egress/egress_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Cancel Postsubmit job
  .github/actions/e2e-test-gardener/action.yaml
  .github/actions/k8s-compatibility-test-aws/action.yaml
  .github/actions/perf-test-gardener/action.yaml
  .github/workflows/post-main-workflow.yaml
Due: none

Rename file
  .github/workflows/post-main-release-workflow.yaml
Due: none

Postsubmit job concurrency (#1659)
  .github/actions/e2e-test-gardener/action.yaml
  .github/actions/k8s-compatibility-test-aws/action.yaml
  .github/actions/perf-test-gardener/action.yaml
  .github/workflows/post-main-release-workflow.yaml
Due: none

Docs
  api/v1alpha2/authorizers.go
  docs/release-notes/1.23.0.md
  docs/user/04-00-istio-custom-resource.md
  out.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: automatic update sec-scanners-config.yaml (#1663)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

fix troubleshooting guides
  docs/assets/check-istio-proxy-ports.svg
  docs/assets/delete-istio-ingressgateway-pods.svg
  docs/assets/search-for-istio-ingress-gateway.svg
  docs/assets/view-istio-proxy-logs.svg
  docs/user/troubleshooting/03-10-503-no-access.md
  docs/user/troubleshooting/03-30-istio-no-sidecar.md
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
  docs/user/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
  docs/user/troubleshooting/03-70-reconciliation-fails-on-istio-install.md
Due: none

Disable cache in k8s client for envoy so after uninstall theres no error
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Change pipeline name and adjust cicd docs
  .github/workflows/post-main-release-workflow.yaml
  docs/contributor/02-10-testing-strategy.md
Due: none

fix troubleshooting guides (#1665)
  docs/assets/check-istio-proxy-ports.svg
  docs/assets/delete-istio-ingressgateway-pods.svg
  docs/assets/search-for-istio-ingress-gateway.svg
  docs/assets/view-istio-proxy-logs.svg
  docs/user/troubleshooting/03-10-503-no-access.md
  docs/user/troubleshooting/03-30-istio-no-sidecar.md
  docs/user/troubleshooting/03-45-jobs-cant-finish.md
  docs/user/troubleshooting/03-46-init-containers-cant-access-network.md
  docs/user/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
  docs/user/troubleshooting/03-70-reconciliation-fails-on-istio-install.md
Due: none

Update workflow ID in get-latest-sha action
  .github/actions/get-latest-sha/action.yaml
Due: none

Update workflow ID in get-latest-sha action (#1669)
  .github/actions/get-latest-sha/action.yaml
Due: none

Disable cache in k8s client for envoy so after uninstall theres no error (#1667)
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix formatting of troubleshooting links in sidebar
  docs/user/_sidebar.ts
Due: none

Fix formatting of troubleshooting links in sidebar (#1670)
  docs/user/_sidebar.ts
Due: none

Apply suggestions from code review
  docs/release-notes/1.23.0.md
  docs/user/04-00-istio-custom-resource.md
Due: none

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
