Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration-aws-specific: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Keep previous thresholds for readiness
  manifests/istio-operator-template-light.yaml
  manifests/istio-operator-template.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update docs/release-notes/1.2.0.md
  docs/release-notes/1.2.0.md
Due: none

Bump Istio to 1.20 (#483)
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/main-cache.yaml
  .github/workflows/pull-request.yaml
  cmd/istio-install/main.go
  controllers/istio_controller.go
  docs/release-notes/1.2.0.md
  go.mod
  go.sum
  internal/reconciliations/istio/client.go
  internal/reconciliations/istio/installation_test.go
  manifests/istio-operator-template-light.yaml
  manifests/istio-operator-template.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

add screenshots
  docs/assets/enable-sidecar-toggle.svg
  docs/assets/search-for-deployment-with-enabled-injection.png
  docs/assets/sidecar-injection-toggle-deployment.svg
  docs/assets/sidecar-injection-toggle-namespace.svg
  docs/user/02-operation-guides/operations/02-10-check-if-sidecar-injection-is-enabled.md
Due: none

update sidebars
  docs/user/00-overview/_sidebar.md
  docs/user/02-operation-guides/operations/_sidebar.md
  docs/user/02-operation-guides/security/_sidebar.md
  docs/user/03-technical-reference/configuration-parameters/_sidebar.md
  docs/user/03-technical-reference/istio-custom-resource/_sidebar.md
Due: none

fix sidebars
  docs/user/00-overview/_sidebar.md
  docs/user/02-operation-guides/operations/_sidebar.md
  docs/user/02-operation-guides/security/_sidebar.md
  docs/user/03-technical-reference/configuration-parameters/_sidebar.md
  docs/user/03-technical-reference/istio-custom-resource/_sidebar.md
Due: none

fix
  docs/user/00-overview/_sidebar.md
Due: none

Fix sidebars after removals (#488)
  docs/user/00-overview/_sidebar.md
  docs/user/02-operation-guides/operations/_sidebar.md
  docs/user/02-operation-guides/security/_sidebar.md
  docs/user/03-technical-reference/configuration-parameters/_sidebar.md
  docs/user/03-technical-reference/istio-custom-resource/_sidebar.md
Due: none

Update VERSION
  VERSION
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Use latest if minor doesn't match the branch
  tests/integration/scripts/deploy-latest-release-to-cluster.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Fix upgrade test tags
  tests/integration/scripts/deploy-latest-release-to-cluster.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update sec-scanners-config.yaml (#491)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Fix upgrade test tags (#492)
  tests/integration/scripts/deploy-latest-release-to-cluster.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Add fetch depth for tags
  .github/workflows/main-integration.yaml
Due: none

Exclude main (#493)
  .github/workflows/main-integration.yaml
Due: none

style chenges
  docs/user/02-operation-guides/operations/02-10-check-if-sidecar-injection-is-enabled.md
  docs/user/02-operation-guides/operations/02-20-enable-sidecar-injection.md
  docs/user/02-operation-guides/troubleshooting/03-10-503-no-access.md
  docs/user/02-operation-guides/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
Due: none

clean up not used screenshots
  docs/assets/check-istio-version.svg
  docs/assets/namespace-with-enabled-istio-sidecar.png
  docs/assets/namespace-with-enabled-istio-sidecar.svg
  docs/user/02-operation-guides/operations/02-10-check-if-sidecar-injection-is-enabled.md
  docs/user/02-operation-guides/troubleshooting/03-40-incompatible-istio-sidecar-version.md
Due: none

fix typo
  docs/user/02-operation-guides/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
Due: none

add screeshot
  docs/assets/delete-istio-ingressgateway-pods.svg
  docs/user/02-operation-guides/troubleshooting/03-10-503-no-access.md
Due: none

style fixes
  docs/user/02-operation-guides/operations/02-10-check-if-sidecar-injection-is-enabled.md
  docs/user/02-operation-guides/operations/02-20-enable-sidecar-injection.md
  docs/user/02-operation-guides/troubleshooting/03-10-503-no-access.md
Due: none

update sec scanner
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

update sec scanner (#494)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

[Release 1.2.0] Update VERSION and security scanner config (#490)
  VERSION
  sec-scanners-config.yaml
  tests/integration/scripts/deploy-latest-release-to-cluster.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update technical design. Remove xff-proposal, since it's long outdated and already implemented.
  docs/contributor/04-10-technical-design.md
  docs/contributor/04-20-xff-proposal.md
Due: none

Update reconciliation loop diagram and remove outdated diagram
  docs/assets/controller-component-diagram.svg
  docs/assets/istio-controller-reconciliation-loop.svg
  docs/contributor/04-10-technical-design.md
Due: none

Remove diagram for Istio installation with Canary upgrade, since we don't support it, yet.
  docs/assets/istio-installation-reconciliation.svg
  docs/contributor/04-10-technical-design.md
Due: none

Update Istio operator overview
  docs/assets/istio-operator-overview.svg
  docs/contributor/04-10-technical-design.md
Due: none

Add info about Istio CR
  docs/assets/istio-operator-overview.svg
  docs/contributor/04-10-technical-design.md
Due: none

Change format
  docs/contributor/04-10-technical-design.md
Due: none

Update docs/contributor/04-10-technical-design.md
  docs/contributor/04-10-technical-design.md
Due: none

Apply suggestions from code review
  docs/user/02-operation-guides/operations/02-10-check-if-sidecar-injection-is-enabled.md
  docs/user/02-operation-guides/operations/02-20-enable-sidecar-injection.md
  docs/user/02-operation-guides/troubleshooting/03-10-503-no-access.md
  docs/user/02-operation-guides/troubleshooting/03-30-istio-no-sidecar.md
  docs/user/02-operation-guides/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
Due: none

Apply suggestions from code review
  docs/user/02-operation-guides/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
Due: none

apply Nina's suggestions
  docs/user/02-operation-guides/operations/02-20-enable-sidecar-injection.md
  docs/user/02-operation-guides/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
Due: none

add sui
  docs/assets/istio-cr-warning-state.svg
Due: none

add sui
  docs/assets/delete-istio-ingressgateway-pods.svg
  docs/assets/namespace-with-enabled-istio-sidecar.svg
  docs/assets/sidecar-injection-toggle-deployment.svg
  docs/assets/sidecar-injection-toggle-namespace.svg
  docs/assets/view-istio-proxy-logs.svg
Due: none
