Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration-aws-specific: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

sed vs gsed
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

use native BSD sed in Makefile, add PDB to label
  Makefile
  internal/reconciliations/istio/metadata.go
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer.yaml
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer_test.go
  internal/reconciliations/istio_resources/peer_authentication_mtls.yaml
  internal/reconciliations/istio_resources/peer_authentication_mtls_test.go
  internal/reconciliations/istio_resources/proxy_protocol_envoy_filter.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

.gitignore for config/default/kustomization.yaml-e
  .gitignore
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Broke impl, unit test still green
  internal/reconciliations/istio/metadata.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Revert "Broke impl, unit test still green"
  internal/reconciliations/istio/metadata.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Move Prow to GHA (#584)
  .github/actions/integration-test/action.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/performance-test.yaml
  .github/workflows/pull-integration-gardener.yaml
  .github/workflows/pull-integration.yaml
  Makefile
  docs/contributor/04-30-ci-cd.md
  hack/ci/gardener-integration-aws-specific.sh
  hack/ci/gardener-perf-test.sh
  hack/ci/jobguard.sh
  hack/ci/provision-gardener.sh
  tests/integration/scripts/gardener-kubeconfig.sh
  tests/integration/scripts/integration-test-gardener.sh
  tests/integration/scripts/provison-gardener.sh
  tests/integration/test_report.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update main.go
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Move Prow to GHA (#584) (#597)
  .github/actions/integration-test/action.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/performance-test.yaml
  .github/workflows/pull-integration-gardener.yaml
  .github/workflows/pull-integration.yaml
  Makefile
  docs/contributor/04-30-ci-cd.md
  hack/ci/gardener-integration-aws-specific.sh
  hack/ci/gardener-perf-test.sh
  hack/ci/jobguard.sh
  hack/ci/provision-gardener.sh
  tests/integration/scripts/gardener-kubeconfig.sh
  tests/integration/scripts/integration-test-gardener.sh
  tests/integration/scripts/provison-gardener.sh
  tests/integration/test_report.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update pull-integration-gardener.yaml
  .github/workflows/pull-integration-gardener.yaml
Due: none

Test pipelines
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

crd missing component label
  config/crd/kustomization.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update action.yaml
  .github/actions/wait-for-job-succeed-or-fail/action.yaml
Due: none

Update action.yaml (#600)
  .github/actions/wait-for-job-succeed-or-fail/action.yaml
Due: none

Fix pr number
  .github/workflows/pull-integration-gardener.yaml
Due: none

Fix PR number env (#599)
  .github/workflows/pull-integration-gardener.yaml
Due: none

Cherrypick a0ad780b83c3c713012331ba7e2924573b9f44f7 (#601)
  .github/actions/wait-for-job-succeed-or-fail/action.yaml
  .github/workflows/pull-integration-gardener.yaml
Due: none

update the notes
  docs/user/00-10-overview-istio-controller.md
  docs/user/00-20-overview-service-mesh.md
  docs/user/operation-guides/02-20-enable-sidecar-injection.md
  docs/user/operation-guides/02-30-enable-istio-access-logs.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
Due: none

change caution to warning
  docs/user/operation-guides/02-30-enable-istio-access-logs.md
Due: none

Update the notes' style (#605)
  docs/user/00-10-overview-istio-controller.md
  docs/user/00-20-overview-service-mesh.md
  docs/user/operation-guides/02-20-enable-sidecar-injection.md
  docs/user/operation-guides/02-30-enable-istio-access-logs.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
Due: none

Update istio-manager version for security scanners
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Ignore sec-scanners-config.yaml for PR Integration Gardener workflow
  .github/workflows/pull-integration-gardener.yaml
Due: none

Ignore sec-scanners-config.yaml for PR Integration Gardener workflow (#607)
  .github/workflows/pull-integration-gardener.yaml
Due: none

Update istio-manager version for security scanners (#606)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

review suggestions
  config/crd/kustomization.yaml
  config/ui-extensions/kustomization.yaml
  internal/manifest/manifest.go
  internal/manifest/manifest_test.go
  internal/manifest/test/template-operator.yaml
  internal/reconciliations/istio/installation.go
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer.go
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer.yaml
  internal/reconciliations/istio_resources/peer_authentication_mtls.yaml
  internal/reconciliations/istio_resources/proxy_protocol_envoy_filter.yaml
  internal/resources/apply.go
  internal/resources/apply_test.go
  manifests/istio-operator-template-light.yaml
  manifests/istio-operator-template.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Less duplicates more tests
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer.go
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer_test.go
  internal/reconciliations/istio_resources/peer_authentication_mtls_test.go
  internal/reconciliations/istio_resources/proxy_protocol_envoy_filter.go
  internal/resources/apply.go
  internal/resources/apply_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Add proxy_protocol_envoy_filter_test
  internal/reconciliations/istio_resources/proxy_protocol_envoy_filter_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Apply suggestions from code review
  docs/user/00-10-overview-istio-controller.md
Due: none
