Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

wip
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/provision-k3d-cluster/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
Due: none

wip
  .github/actions/provision-k3d-cluster/action.yaml
Due: none

Fix lint
  pkg/lib/sidecars/test/restart_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

dummy
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Unserve v1alpha1 in CRD (#980)
  Makefile
  api/v1alpha1/istio_types.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  pkg/lib/sidecars/test/restart_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

cicd: bump k8s version in the int tests (#978)
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/provision-k3d-cluster/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-gardener.yaml
  .github/workflows/pull-integration.yaml
  .github/workflows/pull-request.yaml
  pkg/lib/sidecars/test/restart_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update security scanner config
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update security scanner config (#981)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

formatting fixes
  docs/user/tutorials/01-20-expose-httbin-gateway-api.md
  docs/user/tutorials/01-30-expose-tcp-gateway-api.md
Due: none

fox code block
  docs/user/tutorials/01-20-expose-httbin-gateway-api.md
Due: none

Fix formatting in the Gateway API tutorial (#983)
  docs/user/tutorials/01-20-expose-httbin-gateway-api.md
  docs/user/tutorials/01-30-expose-tcp-gateway-api.md
Due: none

Change certificate key size to 4096 bits
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  internal/istiooperator/istiooperator.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add docs
  docs/user/00-40-overview-istio-setup.md
Due: none

Fix gardener provision bash scripts
  hack/ci/provision-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix gardener provision bash scripts (#985)
  hack/ci/provision-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add RN
  docs/release-notes/1.8.3.md
Due: none

Update docs/release-notes/1.8.3.md
  docs/release-notes/1.8.3.md
Due: none

Change certificate key size to 4096 bits (#984)
  docs/release-notes/1.8.3.md
  docs/user/00-40-overview-istio-setup.md
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  internal/istiooperator/istiooperator.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Change certificate key size to 4096 bits (#984) (#987)
  docs/release-notes/1.8.3.md
  docs/user/00-40-overview-istio-setup.md
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  internal/istiooperator/istiooperator.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bump VERSION and sec-scanners-config.yaml
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Dummy
  VERSION
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Release 1.8.3 (#988)
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Draft ADR
  docs/contributor/adr/0009-geoblocking-draft.md
Due: none

Geoblocking adr update
  docs/assets/ip-auth-modes.drawio
  docs/assets/ip-auth-modes.svg
  docs/assets/ip-auth.drawio
  docs/assets/ip-auth.svg
  docs/contributor/adr/0009-geoblocking-draft.md
Due: none

Update security scanner config (#990)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update sec-scanners-config.yaml (#1001)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Geoblocking adr update
  docs/assets/geoblocking-SAP-service.drawio
  docs/assets/geoblocking-SAP-service.svg
  docs/assets/geoblocking-cr-controller.drawio
  docs/assets/geoblocking-cr-controller.svg
  docs/assets/geoblocking-custom-list.drawio
  docs/assets/geoblocking-custom-list.svg
  docs/assets/geoblocking.drawio
  docs/assets/geoblocking.svg
  docs/assets/ip-auth-modes.drawio
  docs/assets/ip-auth-modes.svg
  docs/contributor/adr/0009-geoblocking-draft.md
Due: none

Geoblocking adr update
  docs/contributor/adr/0009-geoblocking-draft.md
Due: none

Geoblocking ADR update
  docs/assets/geoblocking-cr-controller.drawio
  docs/assets/geoblocking-cr-controller.svg
  docs/contributor/adr/0009-geoblocking-draft.md
Due: none

build manager with image builder on main
  .github/workflows/main-integration.yaml
Due: none

exclude image-builder from pinned actions
  .github/workflows/verify-commit-pins.yaml
Due: none

small fix
  .github/workflows/main-integration.yaml
Due: none

cicd: build manager with image builder on main (#1010)
  .github/workflows/main-integration.yaml
  .github/workflows/verify-commit-pins.yaml
Due: none

adjust dockerfile to new image-builder
  Dockerfile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

adjust dockerfile to new image-builder (#1011)
  Dockerfile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
