Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

fix readme
  docs/user/03-troubleshooting/_sidebar.md
Due: none

Update img for sec scanner
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update img for sec scanner (#344)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

docsify testing
  docs/user/02-operations/README.md
  docs/user/02-operations/_sidebar.md
  docs/user/03-troubleshooting/README.md
Due: none

docs-test
  docs/user/02-operations/_sidebar.md
Due: none

Update Makefile
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

test docs
  docs/user/00-overview/00-50-resource-configuration.md
  docs/user/00-overview/_sidebar.md
  docs/user/01-configuration/01-30-istio-custom-resource.md
  docs/user/01-configuration/_sidebar.md
  docs/user/02-operations/_sidebar.md
Due: none

test docsify
  docs/user/02-operations/_sidebar.md
Due: none

test docu
  docs/user/02-operations/_sidebar.md
Due: none

replace istio operator with kyma istio operator
  README.md
  docs/contributor/01-00-installation.md
  docs/contributor/04-10-technical-design.md
  docs/contributor/04-30-ci-cd.md
  docs/user/00-overview/00-10-overview-istio-controller.md
  docs/user/00-overview/00-20-overview-service-mesh.md
  docs/user/00-overview/00-30-overview-istio-sidecars.md
  docs/user/00-overview/00-40-overview-istio-setup.md
  docs/user/00-overview/00-50-resource-configuration.md
  docs/user/00-overview/README.md
  docs/user/00-overview/_sidebar.md
  docs/user/02-operation-guides/operations/02-20-enable-sidecar-injection.md
  docs/user/02-operation-guides/operations/_sidebar.md
  docs/user/02-operation-guides/security/02-10-ingress-egress-traffic.md
  docs/user/02-operation-guides/troubleshooting/03-10-503-no-access.md
  docs/user/02-operation-guides/troubleshooting/03-20-connection-refused.md
  docs/user/02-operation-guides/troubleshooting/03-30-istio-no-sidecar.md
  docs/user/02-operation-guides/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  docs/user/02-operation-guides/troubleshooting/03-50-recovering-from-unintentional-istio-module-removal.md
  docs/user/02-operation-guides/troubleshooting/README.md
  docs/user/02-operation-guides/troubleshooting/_sidebar.md
  docs/user/02-operations/README.md
  docs/user/03-technical-reference/configuration-parameters/01-10-istio-controller-parameters.md
  docs/user/03-technical-reference/configuration-parameters/_sidebar.md
  docs/user/03-technical-reference/istio-custom-resource/01-30-istio-custom-resource.md
  docs/user/03-technical-reference/istio-custom-resource/_sidebar.md
  docs/user/README.md
Due: none

docsify test
  docs/user/02-operation-guides/operations/_sidebar.md
Due: none

update sidebar
  docs/user/02-operation-guides/operations/_sidebar.md
Due: none

docsify test
  docs/user/00-overview/00-40-overview-istio-setup.md
  docs/user/02-operation-guides/security/_sidebar.md
  docs/user/03-technical-reference/configuration-parameters/_sidebar.md
Due: none

add sidebar
  docs/user/03-technical-reference/configuration-parameters/01-10-istio-controller-parameters.md
  docs/user/03-technical-reference/istio-custom-resource/_sidebar.md
Due: none

sidebars
  docs/user/03-technical-reference/configuration-parameters/_sidebar.md
  docs/user/03-technical-reference/istio-custom-resource/_sidebar.md
Due: none

docsify test
  docs/user/00-overview/00-10-overview-istio-controller.md
  docs/user/02-operation-guides/troubleshooting/03-50-recovering-from-unintentional-istio-module-removal.md
Due: none

fix code rendering
  docs/user/02-operation-guides/troubleshooting/03-50-recovering-from-unintentional-istio-module-removal.md
Due: none

fix links
  docs/user/00-overview/00-30-overview-istio-sidecars.md
  docs/user/00-overview/00-40-overview-istio-setup.md
  docs/user/02-operation-guides/operations/02-20-enable-sidecar-injection.md
Due: none

Initial
  controllers/istio_controller.go
  internal/reconciliations/istio/installation_test.go
  internal/reconciliations/istio/namespace.go
  internal/reconciliations/istio_resources/configmap_control_plane.yaml
  internal/reconciliations/istio_resources/configmap_mesh.yaml
  internal/reconciliations/istio_resources/configmap_performance.yaml
  internal/reconciliations/istio_resources/configmap_service.yaml
  internal/reconciliations/istio_resources/configmap_workload.yaml
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer.go
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer_test.go
  internal/reconciliations/istio_resources/gateway_kyma.yaml
  internal/reconciliations/istio_resources/peer_authentication_mtls.yaml
  internal/reconciliations/istio_resources/reconciliation.go
  internal/reconciliations/istio_resources/virtual_service_healthz.go
  internal/reconciliations/istio_resources/virtual_service_healthz.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

fix links
  docs/user/00-overview/00-10-overview-istio-controller.md
  docs/user/00-overview/_sidebar.md
  docs/user/02-operation-guides/operations/_sidebar.md
Due: none

Second
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer.go
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer_test.go
  internal/reconciliations/istio_resources/gateway_kyma.yaml
  internal/reconciliations/istio_resources/reconciliation.go
  internal/reconciliations/istio_resources/virtual_service_healthz.go
  internal/reconciliations/istio_resources/virtual_service_healthz.yaml
  tests/integration/steps/istio.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update release branch in dependabot config and add k8s dependency group
  .github/dependabot.yml
Due: none

Update release branch in dependabot config and add k8s dependency group (#351)
  .github/dependabot.yml
Due: none

remove blank spaces
  docs/user/02-operation-guides/troubleshooting/_sidebar.md
Due: none

Remove Kyma-system label test
  tests/integration/features/istio/production/main-suite/istio_sidecars.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Ignore controller runtime updates in dependabot. We need to keep this version in sync with the version used by the Istio lib, that's why we need to ignore it in Dependabot.
  .github/dependabot.yml
Due: none

Apply suggestions from code review
  docs/user/04-60-404-on-istio-gateway.md
Due: none

Ignore controller runtime updates in dependabot. (#355)
  .github/dependabot.yml
Due: none

Exclude test files from sec scans
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Add istio sidecar injection test (#326)
  config/manager/kustomization.yaml
  tests/integration/features/istio/production/main-suite/istio_configuration.feature
  tests/integration/features/istio/production/main-suite/istio_installation.feature
  tests/integration/features/istio/production/main-suite/istio_resources.feature
  tests/integration/features/istio/production/main-suite/istio_sidecars.feature
  tests/integration/features/istio/production/upgrade-suite/istio_upgrade.feature
  tests/integration/scenario.go
  tests/integration/steps/istio.go
  tests/integration/steps/resource.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Exclude test files from sec scans (#357)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Fix module build issue
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Third
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  controllers/istio_types.go
  internal/reconciliations/ingress_gateway/reconciliation.go
  internal/reconciliations/istio_resources/gateway_kyma.go
  internal/reconciliations/istio_resources/peer_authentication_mtls.go
  internal/reconciliations/istio_resources/reconciliation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Fix module build issue
  hack/ci/Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Create 04-60-404-on-istio-gateway.md (#333)
  docs/user/04-60-404-on-istio-gateway.md
Due: none

add relative link
  docs/user/03-technical-reference/configuration-parameters/_sidebar.md
Due: none

WIP
  controllers/istio_controller.go
  docs/contributor/04-40-istio-resources.md
  internal/reconciliations/istio_resources/configmap_control_plane.go
  internal/reconciliations/istio_resources/configmap_mesh.go
  internal/reconciliations/istio_resources/configmap_performance.go
  internal/reconciliations/istio_resources/configmap_service.go
  internal/reconciliations/istio_resources/configmap_workload.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test
