Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Update docs/user/README.md
  docs/user/README.md
Due: none

Multi platform build for PR operator
  .github/actions/build-manager-image/action.yaml
Due: none

change main to trigger pipelienes
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: automatic update sec-scanners-config.yaml (#1155)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

bug: change schedule of update-sec-scanner.yaml
  .github/workflows/update-sec-scanner.yaml
Due: none

Remove Rate Limit ADR, because it was moved to API Gateway module
  docs/assets/istio-operator-overview-ratelimit.svg
  docs/contributor/adr/0008-rate-limit.md
Due: none

bug: change schedule of update-sec-scanner.yaml (#1156)
  .github/workflows/update-sec-scanner.yaml
Due: none

Remove Rate Limit ADR, because it was moved to API Gateway module (#1157)
  docs/assets/istio-operator-overview-ratelimit.svg
  docs/contributor/adr/0008-rate-limit.md
Due: none

Apply suggestions from code review
  docs/release-notes/1.12.0.md
Due: none

feat: add kyma-goat-bot user to autoadd PRs to board
  .github/workflows/pull-add-bot-prs-to-project.yaml
Due: none

Update docs/release-notes/1.12.0.md
  docs/release-notes/1.12.0.md
Due: none

Bump Istio to 1.24 (#1149)
  README.md
  api/v1alpha2/compatibility_mode.go
  api/v1alpha2/compatibility_mode_test.go
  docs/release-notes/1.12.0.md
  docs/user/README.md
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
  tests/integration/features/observability-suite/observability.feature
  tests/integration/steps/logs.go
  tests/integration/steps/observability.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: remove main tests run from release
  .github/workflows/main-integration.yaml
Due: none

feat: add kyma-goat-bot user to autoadd PRs to board (#1158)
  .github/workflows/pull-add-bot-prs-to-project.yaml
Due: none

Update 01-30-expose-tcp-gateway-api.md
  docs/user/tutorials/01-30-expose-tcp-gateway-api.md
Due: none

Update 01-30-expose-tcp-gateway-api.md (#1160)
  docs/user/tutorials/01-30-expose-tcp-gateway-api.md
Due: none

feat: add testing to create-release.yaml
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-unit-lint.yaml
  .github/workflows/create-release.yaml
  .github/workflows/pull-request-release.yaml
  .github/workflows/pull-request.yaml
Due: none

Feat/release workflow adjustment (#1161)
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-unit-lint.yaml
  .github/workflows/create-release.yaml
  .github/workflows/pull-request-release.yaml
  .github/workflows/pull-request.yaml
Due: none

bug: upload image from image-builder
  .github/workflows/pull-request-release.yaml
Due: none

bug: upload image from image-builder (#1166)
  .github/workflows/pull-request-release.yaml
Due: none

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Revert "Update ui-tests.yaml"
  .github/workflows/ui-tests.yaml
Due: none

Update ui-tests.yaml
  .github/workflows/ui-tests.yaml
Due: none

Update VERSION
  VERSION
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update VERSION (#1164)
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update release branch in Dependabot
  .github/dependabot.yml
Due: none

Update release branch in Dependabot (#1169)
  .github/dependabot.yml
Due: none

Update usage of slack-github-action to match new API
  .github/actions/slack-notification-failed-workflow/action.yaml
  .github/workflows/create-release.yaml
Due: none

Testing strategy for Istio module
  docs/contributor/adr/0010-testing-strategy.md
Due: none

chore: automatic update sec-scanners-config.yaml (#1177)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Extend Istio CR with Egress Gateway
  api/v1alpha2/istio_merge.go
  api/v1alpha2/istio_structs.go
  api/v1alpha2/merge_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Rename Release workflows
  .github/workflows/pull-add-bot-prs-to-project.yaml
  .github/workflows/release-create-new-release.yaml
  .github/workflows/release-pr-integration-gardener.yaml
  .github/workflows/release-pr-integration.yaml
  .github/workflows/release-pr.yaml
Due: none

Update
  .github/workflows/call-release-pr-integration-gardener.yaml
  .github/workflows/call-release-pr-integration.yaml
  .github/workflows/release-create-release.yaml
  .github/workflows/release-pr.yaml
  .github/workflows/update-sec-scanner.yaml
Due: none

Update
  .github/workflows/call-ui-tests.yaml
  .github/workflows/call-verify-commit-pins.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-pr.yaml
  .github/workflows/release-rollout-module.yaml
  docs/contributor/04-30-ci-cd.md
Due: none

Update
  .github/workflows/schedule-ui-tests-periodic.yaml
  docs/contributor/04-30-ci-cd.md
Due: none

Update
  .github/workflows/schedule-performance-test.yaml
  docs/contributor/04-30-ci-cd.md
Due: none

Update
  docs/contributor/04-30-ci-cd.md
Due: none
