Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Update CODEOWNERS for /docs/ directory
  CODEOWNERS
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

Fix sidebar
  docs/user/_sidebar.ts
Due: none

Update CODEOWNERS for /docs/ directory (#1693)
  CODEOWNERS
Due: none

chore: automatic update sec-scanners-config.yaml (#1695)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update istio-manager image version in sec-scanner-config
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update istio-manager image version in sec-scanner-config (#1696)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

docs: Fix broken links
  docs/release-notes/1.0.0.md
Due: none

Fix link to Gardener troubleshooting guide
  docs/user/troubleshooting/03-10-503-no-access.md
Due: none

Update 03-10-503-no-access.md
  docs/user/troubleshooting/03-10-503-no-access.md
Due: none

Update docs/release-notes/1.0.0.md
  docs/release-notes/1.0.0.md
Due: none

docs: Fix broken links (#1698)
  docs/release-notes/1.0.0.md
  docs/user/troubleshooting/03-10-503-no-access.md
Due: none

Fix link to Gardener certificates troubleshooting guide
  docs/user/troubleshooting/03-10-503-no-access.md
Due: none

Fix sidebar (#1694)
  docs/user/_sidebar.ts
Due: none

Fix link to Gardener certificates troubleshooting guide (#1699)
  docs/user/troubleshooting/03-10-503-no-access.md
Due: none

Experimental support for IPv6
  api/v1alpha2/experimental.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  docs/user/04-00-istio-custom-resource.md
  internal/clusterconfig/clusterconfig.go
  internal/reconciliations/istioresources/reconciliation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add ztunnel image to external-images.yaml
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add ztunnel image to external-images.yaml (#1701)
  external-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fixed dual stack -> single stack migration
  api/v1alpha2/istio_merge.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Revert "Fixed dual stack -> single stack migration"
  api/v1alpha2/istio_merge.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Custom private registry example with pull secrets
  config/manager/env-images.yaml
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fixed validation of experimental features in Istio CR - moved to the beginning of reconciliation
  controllers/istio_controller.go
  controllers/validate.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fixed tests
  controllers/validate_test.go
  docs/contributor/adr/0005-support-for-experimental-configuration-parameters-in-istio-cr.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Log level set to error
  controllers/validate.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Tests
  internal/clusterconfig/clusterconfig_test.go
  internal/reconciliations/istioresources/reconciliation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

More tests
  api/v1alpha2/merge_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fixed test, added readme
  docs/release-notes/1.24.0.md
  internal/reconciliations/istioresources/reconciliation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  docs/release-notes/1.24.0.md
  docs/user/04-00-istio-custom-resource.md
Due: none

Experimental support for IPv6 (#1700)
  api/v1alpha2/experimental.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/merge_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  controllers/istio_controller.go
  controllers/validate.go
  controllers/validate_test.go
  docs/contributor/adr/0005-support-for-experimental-configuration-parameters-in-istio-cr.md
  docs/release-notes/1.24.0.md
  docs/user/04-00-istio-custom-resource.md
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/reconciliations/istioresources/reconciliation.go
  internal/reconciliations/istioresources/reconciliation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Implementation
  config/manager/env-images.yaml
  internal/images/merge.go
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  internal/istiooperator/merge.go
  internal/istiooperator/merge_experimental.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Experimental support for IPv6 (cherry pick of PR #1700)
  api/v1alpha2/experimental.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/merge_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  controllers/istio_controller.go
  controllers/validate.go
  controllers/validate_test.go
  docs/contributor/adr/0005-support-for-experimental-configuration-parameters-in-istio-cr.md
  docs/release-notes/1.23.1.md
  docs/user/04-00-istio-custom-resource.md
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/reconciliations/istioresources/reconciliation.go
  internal/reconciliations/istioresources/reconciliation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Removed obsolete line from release notes 1.24.0
  docs/release-notes/1.24.0.md
Due: none

Experimental support for IPv6 (cherry pick of PR #1700) (#1706)
  api/v1alpha2/experimental.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/merge_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  controllers/istio_controller.go
  controllers/validate.go
  controllers/validate_test.go
  docs/contributor/adr/0005-support-for-experimental-configuration-parameters-in-istio-cr.md
  docs/release-notes/1.23.1.md
  docs/user/04-00-istio-custom-resource.md
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/reconciliations/istioresources/reconciliation.go
  internal/reconciliations/istioresources/reconciliation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Istio Release 1.23.1 (#1708)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Regenerate + add check
  Makefile
  docs/user/04-00-istio-custom-resource.md
  hack/check_manifests_generate.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Enable ambient for experimental
  api/v1alpha2/experimental.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/merge_test.go
  api/v1alpha2/zz_generated.deepcopy.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: automatic update sec-scanners-config.yaml (#1711)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Add unit tests
  internal/images/merge_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Generate manifests
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update call-verify-commit-pins.yaml with dependabot/fetch-metadata
  .github/workflows/call-verify-commit-pins.yaml
Due: none
