Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

Update Makefile
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix indentation in Makefile for docs generation
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add documentation and env var.
  api/v1alpha2/experimental.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  config/manager/env-images.yaml
  controllers/istio_controller_test.go
  docs/user/04-00-istio-custom-resource.md
  internal/images/env.go
  internal/images/env_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add release notes
  docs/release-notes/1.24.0.md
Due: none

Apply suggestions from code review
  crd-ref-docs/templates/gv_details.tpl
  crd-ref-docs/templates/gv_list.tpl
  crd-ref-docs/templates/type_members.tpl
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update docs/release-notes/1.24.0.md
  docs/release-notes/1.24.0.md
Due: none

Removed obsolete line from release notes 1.24.0 (#1707)
  docs/release-notes/1.24.0.md
Due: none

Adapt to review
  Makefile
  crd-ref-docs/templates/type.tpl
  docs/user/04-00-istio-custom-resource.md
  hack/check_manifests_generate.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add istio CR sample
  crd-ref-docs/templates/gv_list.tpl
  docs/user/04-00-istio-custom-resource.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Custom private registry based on env (#1702)
  docs/release-notes/1.24.0.md
  internal/images/merge.go
  internal/images/merge_test.go
  internal/istiooperator/merge.go
  internal/istiooperator/merge_experimental.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Auto generate Istio CRD docs (#1676)
  Makefile
  crd-ref-docs/config.yaml
  crd-ref-docs/templates/gv_details.tpl
  crd-ref-docs/templates/gv_list.tpl
  crd-ref-docs/templates/type.tpl
  crd-ref-docs/templates/type_members.tpl
  docs/user/04-00-istio-custom-resource.md
  hack/check_manifests_generate.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update ADR for Uppercase
  docs/contributor/adr/0011-support-for-forward-client-cert-details.md
Due: none

Allow configuration for forwardClientCertDetails
  api/v1alpha2/istio_merge.go
  api/v1alpha2/istio_structs.go
  api/v1alpha2/merge_test.go
  docs/contributor/adr/0011-support-for-forward-client-cert-details.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update CRD
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Generate docs
  docs/user/04-00-istio-custom-resource.md
Due: none

Add restart predicate for XFCC
  internal/restarter/predicates/ingressgateway.go
  internal/restarter/predicates/ingressgateway_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Generate
  api/v1alpha2/zz_generated.deepcopy.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add release notes.
  docs/release-notes/1.24.0.md
Due: none

Update unit tests
  internal/restarter/predicates/ingressgateway_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add smoke test
  internal/restarter/predicates/ingressgateway_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add reminder about updating Busola
  .github/pull-request-template.md
Due: none

Update pull-request-template.md
  .github/pull-request-template.md
Due: none

Regenerate CRD docs
  docs/user/04-00-istio-custom-resource.md
Due: none

Review catch fixed
  api/v1alpha2/merge_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

update crd descriptions
  api/v1alpha2/authorizers.go
  api/v1alpha2/istio_structs.go
  api/v1alpha2/istio_types.go
  api/v1alpha2/telemetry.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  crd-ref-docs/templates/gv_list.tpl
  docs/user/04-00-istio-custom-resource.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove comment
  internal/metrics/metrics.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Skip CR metrics if not initialised
  controllers/istio_controller.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add Istio adoption metrics
  controllers/istio_controller.go
  controllers/istio_types.go
  internal/metrics/metrics.go
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add comment about more metrics
  internal/metrics/metrics.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add check for registered
  internal/metrics/metrics.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  api/v1alpha2/experimental.go
  docs/release-notes/1.24.0.md
  docs/user/04-00-istio-custom-resource.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Generate manifests
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Regenerate docs
  docs/user/04-00-istio-custom-resource.md
Due: none

Fix links in istio custom resource
  docs/user/04-00-istio-custom-resource.md
Due: none

feat: Allow users to enable ambient for experimental (#1710)
  api/v1alpha2/experimental.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/merge_test.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  config/manager/env-images.yaml
  controllers/istio_controller_test.go
  docs/release-notes/1.24.0.md
  docs/user/04-00-istio-custom-resource.md
  internal/images/env.go
  internal/images/env_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add support for KYMA_FIPS_MODE_ENABLED env
  internal/images/env.go
  internal/images/env_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add ztunnel to fips images
  internal/images/env.go
  internal/images/env_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix error message
  internal/images/env.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: automatic update sec-scanners-config.yaml (#1719)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

feat: add support for customizable trust domain in Istio configuration
  api/v1alpha2/istio_merge.go
  api/v1alpha2/istio_structs.go
  api/v1alpha2/zz_generated.deepcopy.go
  docs/contributor/adr/0012-support-for-trust-domain-configuration.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
