Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

update dependabot.yml (#1467)
  .github/dependabot.yml
Due: none

Fix observability suite
  tests/integration/features/observability-suite/observability.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix linter issue
  internal/restarter/predicates/image_resources.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

wip: adjust zero downtime test
  tests/integration/scripts/test-zero-downtime-upgrade.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Zero downtime test logic moved from bash to go
  Makefile
  tests/integration/features/upgrade-suite/istio_upgrade.feature
  tests/integration/scenario.go
  tests/integration/scripts/test-zero-downtime-upgrade.sh
  tests/integration/steps/validation_requests.go
  tests/integration/steps/zero_downtime.go
  tests/integration/testsupport/http_client.go
  tests/integration/testsupport/parallel_tester.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix configuration suite
  tests/integration/features/configuration-suite/configuration.feature
  tests/integration/scenario.go
  tests/integration/steps/validation_requests.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Part of e2e tests
  tests/integration/features/mesh-communication-suite/mesh_communication.feature
  tests/integration/features/upgrade-suite/istio_upgrade.feature
  tests/integration/scenario.go
  tests/integration/steps/deployment.go
  tests/integration/steps/istio.go
  tests/integration/steps/observability.go
  tests/integration/steps/validation_requests.go
  tests/integration/testsupport/http_client.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add restart support for istio proxy as a k8s init container
  internal/restarter/predicates/image_resources.go
  internal/restarter/predicates/image_resources_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Added upgrade test to PR workflow
  .github/workflows/pull-request.yaml
Due: none

Added upgrade test to PR workflow - docs
  docs/contributor/02-10-testing-strategy.md
Due: none

Fixed lint issue
  internal/restarter/predicates/image_resources.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Using alternative httpbin
  tests/integration/steps/deployment.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Reverted alternative httpbin, extended time interval between zero downtime requests
  tests/integration/steps/deployment.go
  tests/integration/steps/zero_downtime.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adding upgrade test under dispatch job
  .github/workflows/pull-request.yaml
Due: none

chore: automatic update sec-scanners-config.yaml (#1470)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Make implementation more test friendly
  go.mod
  tests/e2e/e2e/.gitignore
  tests/e2e/e2e/executor.go
  tests/e2e/e2e/executor/executor.go
  tests/e2e/e2e/executor/step.go
  tests/e2e/e2e/executor_test.go
  tests/e2e/e2e/infrastructure/pod/create.go
  tests/e2e/e2e/infrastructure/pod/get.go
  tests/e2e/e2e/infrastructure/pod/get_test.go
  tests/e2e/e2e/setup/client.go
  tests/e2e/e2e/step.go
  tests/e2e/e2e/steps/http/no_auth/no_auth.go
  tests/e2e/e2e/steps/infrastructure/pod/create.go
  tests/e2e/e2e/steps/infrastructure/pod/get.go
  tests/e2e/e2e/steps/infrastructure/yaml_resource/create.go
  tests/e2e/e2e/steps/infrastructure/yaml_resource/get.go
  tests/e2e/e2e/tests/create_pod/create_pod_test.go
  tests/e2e/e2e/tests/http_request/http_request_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

e2e-framework
  tests/e2e/e2e/executor.go
  tests/e2e/e2e/executor_test.go
  tests/e2e/e2e/infrastructure/pod/create.go
  tests/e2e/e2e/infrastructure/pod/get.go
  tests/e2e/e2e/infrastructure/pod/get_test.go
  tests/e2e/e2e/step.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add more samples
  tests/e2e/e2e/executor/executor.go
  tests/e2e/e2e/executor/step.go
  tests/e2e/e2e/steps/infrastructure/pod/get.go
  tests/e2e/e2e/steps/infrastructure/yaml_file/create.go
  tests/e2e/e2e/steps/infrastructure/yaml_file/get.go
  tests/e2e/e2e/steps/infrastructure/yaml_file/get_with_assert.go
  tests/e2e/e2e/tests/create_pod/create_pod_test.go
  tests/e2e/e2e/tests/http_request/http_request_test.go
  tests/e2e/e2e/tests/resource/pod.yaml
  tests/e2e/e2e/tests/resource/resource_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add restart support for istio proxy as a k8s init container (#1460)
  .github/workflows/pull-request.yaml
  Makefile
  docs/contributor/02-10-testing-strategy.md
  internal/restarter/predicates/image_resources.go
  internal/restarter/predicates/image_resources_test.go
  tests/integration/features/configuration-suite/configuration.feature
  tests/integration/features/mesh-communication-suite/mesh_communication.feature
  tests/integration/features/observability-suite/observability.feature
  tests/integration/features/upgrade-suite/istio_upgrade.feature
  tests/integration/scenario.go
  tests/integration/scripts/test-zero-downtime-upgrade.sh
  tests/integration/steps/deployment.go
  tests/integration/steps/istio.go
  tests/integration/steps/observability.go
  tests/integration/steps/validation_requests.go
  tests/integration/steps/zero_downtime.go
  tests/integration/testsupport/http_client.go
  tests/integration/testsupport/parallel_tester.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Use t.Logf
  .github/workflows/call-integration-tests.yaml
  .github/workflows/post-main-workflow.yaml
  Makefile
  tests/e2e/README.md
  tests/e2e/e2e/.gitignore
  tests/e2e/e2e/Makefile
  tests/e2e/e2e/executor/executor.go
  tests/e2e/e2e/setup/client.go
  tests/e2e/e2e/steps/http/no_auth/no_auth.go
  tests/e2e/e2e/steps/infrastructure/pod/create.go
  tests/e2e/e2e/steps/infrastructure/pod/get.go
  tests/e2e/e2e/steps/infrastructure/yaml_file/create.go
  tests/e2e/e2e/steps/infrastructure/yaml_file/get.go
  tests/e2e/e2e/steps/infrastructure/yaml_file/get_with_assert.go
  tests/e2e/e2e/tests/create_pod/create_pod_test.go
  tests/e2e/e2e/tests/http_request/http_request_test.go
  tests/e2e/e2e/tests/resource/resource_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Run in pipe
  .github/workflows/call-pull-e2e.yaml
Due: none

Update descriptions
  tests/e2e/e2e/steps/http/no_auth/no_auth.go
  tests/e2e/e2e/steps/infrastructure/pod/create.go
  tests/e2e/e2e/steps/infrastructure/pod/get.go
  tests/e2e/e2e/steps/infrastructure/yaml_file/create.go
  tests/e2e/e2e/steps/infrastructure/yaml_file/get.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add step for working with bash commands
  tests/e2e/e2e/executor/executor.go
  tests/e2e/e2e/steps/exec/bash.go
  tests/e2e/e2e/steps/http/no_auth/no_auth.go
  tests/e2e/e2e/steps/infrastructure/pod/create.go
  tests/e2e/e2e/steps/infrastructure/pod/get.go
  tests/e2e/e2e/steps/infrastructure/yaml_file/create.go
  tests/e2e/e2e/steps/infrastructure/yaml_file/get.go
  tests/e2e/e2e/tests/create_namespace_with_kubectl/create_ns_test.go
  tests/e2e/e2e/tests/create_pod/create_pod_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add cleanup mode
  tests/e2e/e2e/executor/executor.go
  tests/e2e/e2e/steps/exec/bash.go
  tests/e2e/e2e/tests/create_namespace_with_kubectl/create_ns_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Install Istio test
  tests/e2e/e2e/executor/executor.go
  tests/e2e/e2e/steps/install_istio/install_istio.go
  tests/e2e/e2e/tests/install_istio/install_istio_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update error
  tests/e2e/e2e/executor/executor.go
  tests/e2e/e2e/steps/exec/bash.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Create ns step
  tests/e2e/e2e/steps/install_istio/install_istio.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update cleanup traces
  tests/e2e/e2e/executor/executor.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Move output to a method
  tests/e2e/e2e/steps/exec/bash.go
  tests/e2e/e2e/steps/infrastructure/pod/get.go
  tests/e2e/e2e/steps/infrastructure/yaml_file/get.go
  tests/e2e/e2e/tests/create_namespace_with_kubectl/create_ns_test.go
  tests/e2e/e2e/tests/resource/resource_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix xff tests
  tests/integration/features/gcp-suite/xff_header.feature
  tests/integration/scenario.go
  tests/integration/steps/x_forwarded_for_validation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust AWS
  tests/integration/features/aws-suite/xff_header.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add 1.20 release notes
  docs/release-notes/1.20.0.md
Due: none

Fix lint errors
  tests/e2e/e2e/executor/executor.go
  tests/e2e/e2e/setup/client.go
  tests/e2e/e2e/steps/exec/bash.go
  tests/e2e/e2e/steps/http/noauth/noauth.go
  tests/e2e/e2e/steps/infrastructure/pod/create.go
  tests/e2e/e2e/steps/infrastructure/pod/get.go
  tests/e2e/e2e/steps/infrastructure/yaml_file/create.go
  tests/e2e/e2e/steps/infrastructure/yamlfile/create.go
  tests/e2e/e2e/steps/infrastructure/yamlfile/get.go
  tests/e2e/e2e/steps/installistio/install_istio.go
  tests/e2e/e2e/tests/createnamespacewithkubectl/create_ns_test.go
  tests/e2e/e2e/tests/createpod/create_pod_test.go
  tests/e2e/e2e/tests/httprequest/http_request_test.go
  tests/e2e/e2e/tests/installistio/install_istio_test.go
  tests/e2e/e2e/tests/resource/resource_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix http error
  tests/e2e/e2e/tests/httprequest/http_request_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix xff tests (#1474)
  tests/integration/features/aws-suite/xff_header.feature
  tests/integration/features/gcp-suite/xff_header.feature
  tests/integration/scenario.go
  tests/integration/steps/x_forwarded_for_validation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update docs/release-notes/1.20.0.md
  docs/release-notes/1.20.0.md
Due: none

Add 1.20 release notes (#1475)
  docs/release-notes/1.20.0.md
Due: none

Update tests
  api/v1alpha2/compatibility_mode.go
  api/v1alpha2/compatibility_mode_test.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/merge_test.go
  api/v1alpha2/resources_test.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  tests/integration/features/configuration-suite/configuration.feature
  tests/integration/steps/istio_cr_ext_authz_template.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update tests
  tests/integration/features/configuration-suite/configuration.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build
