Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Review suggestions
  .github/ISSUE_TEMPLATE/istio_update.md
  docs/user/00-10-overview-istio-controller.md
  docs/user/04-00-istio-custom-resource.md
Due: none

Replace context.TODO() with context.Background()
  internal/reconciliations/istio/reconciliation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  docs/release-notes/1.7.0.md
  docs/user/00-10-overview-istio-controller.md
Due: none

Add warning
  docs/user/00-10-overview-istio-controller.md
Due: none

Apply suggestions from code review
  .github/ISSUE_TEMPLATE/istio_update.md
  docs/contributor/adr/0007-compatibilityMode.md
  docs/user/04-00-istio-custom-resource.md
Due: none

Set Istio CR to warning on version update that is not allowed (#855)
  README.md
  api/v1alpha2/conditions.go
  api/v1alpha2/istio_types.go
  docs/release-notes/1.7.0.md
  docs/user/00-10-overview-istio-controller.md
  docs/user/README.md
  internal/reconciliations/istio/configuration.go
  internal/reconciliations/istio/finalizer.go
  internal/reconciliations/istio/install.go
  internal/reconciliations/istio/installation.go
  internal/reconciliations/istio/reconciliation.go
  internal/reconciliations/istio/reconciliation_test.go
  internal/reconciliations/istio/uninstall.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Disable verifyIfControllerHasBeenRestarted hook because of flakiness
  tests/integration/hooks.go
  tests/integration/scenario.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Disable verifyIfControllerHasBeenRestarted hook because of flakiness
  tests/integration/scenario.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Disable test controller restart verification hook (#875)
  tests/integration/hooks.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add envoy memcached rate limiting
  docs/contributor/draft/rate-limiting-poc/04-global-rate-limiting-memcached.md
  tests/performance/load-testing/templates/rate-limit-memcached.yaml
Due: none

Remove redis from perf test scenario
  tests/performance/load-testing/templates/rate-limit-memcached.yaml
Due: none

Update docs/user/00-10-overview-istio-controller.md
  docs/user/00-10-overview-istio-controller.md
Due: none

feat: compatibility mode (#849)
  .github/ISSUE_TEMPLATE/istio_update.md
  .github/workflows/main-integration.yaml
  Makefile
  api/v1alpha2/compatibility_mode.go
  api/v1alpha2/compatibility_mode_test.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/istio_types.go
  api/v1alpha2/merge_test.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  config/ui-extensions/istios/details
  config/ui-extensions/istios/form
  config/ui-extensions/istios/translations
  docs/contributor/adr/0006-support-for-externalTrafficPolicy-configuration.md
  docs/contributor/adr/0007-compatibilityMode.md
  docs/release-notes/1.7.0.md
  docs/user/00-10-overview-istio-controller.md
  docs/user/04-00-istio-custom-resource.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bump Istio to 1.21.3
  README.md
  docs/release-notes/1.7.0.md
  docs/user/README.md
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

rns
  docs/release-notes/1.6.4.md
  docs/release-notes/1.7.0.md
Due: none

Exclude k8s.io
  .github/dependabot.yml
Due: none

Add documentation
  .github/ISSUE_TEMPLATE/istio_update.md
Due: none

Remove verifyIfControllerHasBeenRestarted hook since it became unreliable on Gardener and made the tests flaky
  tests/integration/hooks.go
  tests/integration/scenario.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update envoy version in docs
  README.md
  docs/user/README.md
  internal/reconciliations/istio/client.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add perf tests results, update values
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/memcached-gateway/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/memcached-gateway/summary-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/memcached-sidecar/summary-no-sidecar.html
  docs/contributor/draft/rate-limiting-poc/perf_tests/global/memcached-sidecar/summary-sidecar.html
  tests/performance/load-testing/templates/rate-limit-memcached.yaml
  tests/performance/load-testing/values.yaml
Due: none

Remove verifyIfControllerHasBeenRestarted hook since it became unreliable on Gardener and made the tests flaky (#880)
  tests/integration/hooks.go
  tests/integration/scenario.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update 1.7.0 RNs
  docs/release-notes/1.7.0.md
Due: none

Update 1.6.4 RNs
  docs/release-notes/1.6.4.md
Due: none

Add 1.21.3 RNs for 1.7.0
  docs/release-notes/1.7.0.md
Due: none

Do not include patch release RNs on main
  docs/release-notes/1.6.4.md
Due: none

Bump Istio to 1.21.3 (#877)
  README.md
  docs/release-notes/1.7.0.md
  docs/user/README.md
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  internal/reconciliations/istio/client.go
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bump Istio to 1.21.3 (#877)
  README.md
  docs/user/README.md
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add 1.6.4 release notes
  docs/release-notes/1.6.4.md
Due: none

Remove one of the compatibility envs and move docs
  README.md
  api/v1alpha2/compatibility_mode.go
  docs/user/04-00-istio-custom-resource.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  docs/contributor/draft/rate-limiting-poc/04-global-rate-limiting-memcached.md
Due: none

Update security scanner config
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update security scanner config (#885)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Bump Istio to 1.21.3 (#882)
  README.md
  docs/release-notes/1.6.4.md
  docs/user/README.md
  go.mod
  go.sum
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update sec-scanners-config
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Release 1.6.4 (#886)
  VERSION
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  README.md
Due: none

Review suggestions
  README.md
  docs/user/00-10-overview-istio-controller.md
  docs/user/README.md
Due: none

Format table
  docs/user/00-10-overview-istio-controller.md
Due: none

Apply suggestions from code review
  README.md
  docs/user/00-10-overview-istio-controller.md
  docs/user/README.md
Due: none
