Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Update internal/reconciliations/istio_resources/configmap_control_plane.go
  internal/reconciliations/istio_resources/configmap_control_plane.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update internal/reconciliations/istio_resources/configmap_mesh.go
  internal/reconciliations/istio_resources/configmap_mesh.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update internal/reconciliations/istio_resources/configmap_service.go
  internal/reconciliations/istio_resources/configmap_service.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update internal/reconciliations/istio_resources/configmap_workload.go
  internal/reconciliations/istio_resources/configmap_workload.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer.go
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update internal/reconciliations/istio_resources/peer_authentication_mtls.go
  internal/reconciliations/istio_resources/peer_authentication_mtls.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

dummy
  tests/integration/hooks.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

update sidebars
  docs/user/00-overview/_sidebar.md
  docs/user/03-technical-reference/configuration-parameters/_sidebar.md
  docs/user/03-technical-reference/istio-custom-resource/_sidebar.md
Due: none

Refactor applies
  internal/reconciliations/istio_resources/configmap_control_plane.go
  internal/reconciliations/istio_resources/configmap_mesh.go
  internal/reconciliations/istio_resources/configmap_performance.go
  internal/reconciliations/istio_resources/configmap_service.go
  internal/reconciliations/istio_resources/configmap_workload.go
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer.go
  internal/reconciliations/istio_resources/istio_resources.go
  internal/reconciliations/istio_resources/peer_authentication_mtls.go
  internal/reconciliations/istio_resources/reconciliation.go
  internal/reconciliations/istio_resources/virtual_service_healthz.go
  tests/integration/features/istio/production/main-suite/istio_resources.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update istio_resources.feature
  tests/integration/features/istio/production/main-suite/istio_resources.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Log istio CR description
  tests/integration/steps/istio_cr.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

replace module's mention
  docs/contributor/04-10-technical-design.md
Due: none

Wait for istio system do be deleted
  tests/integration/features/istio/production/main-suite/istio_configuration.feature
  tests/integration/features/istio/production/main-suite/istio_installation.feature
  tests/integration/features/istio/production/main-suite/istio_resources.feature
  tests/integration/features/istio/production/main-suite/istio_sidecars.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update 04-40-istio-resources.md
  docs/contributor/04-40-istio-resources.md
Due: none

add folders, remove module mentions (#342)
  README.md
  docs/contributor/01-00-installation.md
  docs/contributor/04-10-technical-design.md
  docs/contributor/04-30-ci-cd.md
  docs/user/00-20-overview-service-mesh.md
  docs/user/00-overview/00-10-overview-istio-controller.md
  docs/user/00-overview/00-20-overview-service-mesh.md
  docs/user/00-overview/00-30-overview-istio-sidecars.md
  docs/user/00-overview/00-40-overview-istio-setup.md
  docs/user/00-overview/00-50-resource-configuration.md
  docs/user/00-overview/README.md
  docs/user/00-overview/_sidebar.md
  docs/user/02-operation-guides/operations/02-20-enable-sidecar-injection.md
  docs/user/02-operation-guides/operations/_sidebar.md
  docs/user/02-operation-guides/security/02-10-ingress-egress-traffic.md
  docs/user/02-operation-guides/security/_sidebar.md
  docs/user/02-operation-guides/troubleshooting/03-10-503-no-access.md
  docs/user/02-operation-guides/troubleshooting/03-20-connection-refused.md
  docs/user/02-operation-guides/troubleshooting/03-30-istio-no-sidecar.md
  docs/user/02-operation-guides/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  docs/user/02-operation-guides/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
  docs/user/02-operation-guides/troubleshooting/README.md
  docs/user/02-operation-guides/troubleshooting/_sidebar.md
  docs/user/03-technical-reference/configuration-parameters/01-10-istio-controller-parameters.md
  docs/user/03-technical-reference/configuration-parameters/_sidebar.md
  docs/user/03-technical-reference/istio-custom-resource/01-30-istio-custom-resource.md
  docs/user/03-technical-reference/istio-custom-resource/_sidebar.md
  docs/user/04-50-recovering-from-unintentional-istio-module-removal.md
  docs/user/README.md
  docs/user/_sidebar.md
Due: none

Update installation.go
  internal/reconciliations/istio/installation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update UI making all configuration parts not required (#315)
  config/ui-extensions/istios/form
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update warnings and descriptions of Istio CR (#359)
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  internal/reconciliations/istio/installation.go
  internal/reconciliations/istio/installation_test.go
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer.go
  internal/reconciliations/proxy/sidecars.go
  internal/reconciliations/proxy/sidecars_test.go
  tests/integration/features/istio/production/main-suite/istio_installation.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update sec scan img
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update local module install docs and remove unused configuration
  Makefile
  config.yaml
  docs/contributor/01-00-installation.md
  hack/get_kyma_file_name.sh
  hack/local/istio/Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update sec scan img (#362)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Add explicit information to Istio CR documentation that resources configuration is for requests and limits.
  docs/user/03-technical-reference/istio-custom-resource/01-30-istio-custom-resource.md
Due: none

Fix typos
  docs/contributor/01-00-installation.md
  docs/contributor/04-10-technical-design.md
Due: none

Update docs/contributor/01-00-installation.md
  docs/contributor/01-00-installation.md
Due: none

Fix typo
  docs/user/README.md
Due: none

Delete tests/performance/load-testing/templates/gateway.yaml
  tests/performance/load-testing/templates/gateway.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration

Delete tests/performance/load-testing/templates/gateway.yaml (#367)
  tests/performance/load-testing/templates/gateway.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration

Update local module install docs and remove unused configuration (#363)
  Makefile
  config.yaml
  docs/contributor/01-00-installation.md
  docs/contributor/04-10-technical-design.md
  docs/user/03-technical-reference/istio-custom-resource/01-30-istio-custom-resource.md
  docs/user/README.md
  hack/get_kyma_file_name.sh
  hack/local/istio/Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Add regexes for CR validation
  api/v1alpha1/istio_structs.go
  api/v1alpha2/istio_structs.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Enable HPA for light module installation
  manifests/istio-operator-template-light.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Create 1.1.0.md
  docs/release-notes/1.1.0.md
Due: none

move troubleshooting guide
  docs/contributor/04-10-technical-design.md
  docs/user/02-operation-guides/troubleshooting/03-60-404-on-istio-gateway.md
  docs/user/02-operation-guides/troubleshooting/_sidebar.md
Due: none

fix a link
  docs/contributor/04-10-technical-design.md
Due: none

Move a troubleshooting guide (#372)
  docs/contributor/04-10-technical-design.md
  docs/user/02-operation-guides/troubleshooting/03-60-404-on-istio-gateway.md
  docs/user/02-operation-guides/troubleshooting/_sidebar.md
Due: none

Istio 1.19
  cmd/istio-install/main.go
  controllers/istio_controller.go
  go.mod
  go.sum
  internal/clusterconfig/clusterconfig.go
  internal/reconciliations/istio/client.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Add additional validation
  api/v1alpha1/istio_structs.go
  api/v1alpha2/istio_structs.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Add max limit validation for intorstring
  api/v1alpha1/istio_structs.go
  api/v1alpha2/istio_structs.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Uninstallation of istio resources test
  tests/integration/features/istio/production/main-suite/istio_resources.feature
  tests/integration/scenario.go
  tests/integration/steps/resource.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Uninstallation of istio resources test
  tests/integration/features/istio/production/main-suite/istio_resources.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test
