Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

fix: update Istio image names and tags for consistency and proper handling
  internal/images/env_test.go
  internal/images/merge_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Improve logging in the e2e tests (#1822)
  tests/e2e/pkg/helpers/authorization_policy/authorization_policy.go
  tests/e2e/pkg/helpers/destination_rule/destination_rule.go
  tests/e2e/pkg/helpers/gateway/gateway.go
  tests/e2e/pkg/helpers/httpincluster/curl.go
  tests/e2e/pkg/helpers/modules/istio_builder.go
  tests/e2e/pkg/helpers/nginx/nginx.go
  tests/e2e/pkg/helpers/telemetry/logs.go
  tests/e2e/pkg/helpers/telemetry/otel_mock.go
  tests/e2e/pkg/helpers/telemetry/traces.go
  tests/e2e/pkg/helpers/virtual_service/virtual_service.go
  tests/e2e/tests/configuration/configuration_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add xff header tests for gcp and aws using new e2e test framework.
  .github/workflows/post-main-release-workflow.yaml
  .github/workflows/release-istio-2.yaml
  Makefile
  tests/e2e/pkg/asserts/httpbin/httpbin.go
  tests/e2e/pkg/helpers/public_ip/public_ip.go
  tests/e2e/tests/xff_header/xff_header_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust makefile target.
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: refactor image handling to use structured image types and improve image matching logic
  controllers/istio_controller.go
  internal/images/env.go
  internal/images/env_test.go
  internal/images/image.go
  internal/images/match.go
  internal/images/merge.go
  internal/images/merge_test.go
  internal/istiooperator/istiooperator.go
  internal/istiooperator/istiooperator_test.go
  internal/istiooperator/merge_experimental_test.go
  internal/reconciliations/istio/reconciliation_test.go
  internal/restarter/predicates/image_resources.go
  internal/restarter/predicates/image_resources_test.go
  internal/restarter/sidecars.go
  internal/restarter/sidecars_test.go
  main.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
  pkg/lib/sidecars/test/cases.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: automatic update sec-scanners-config.yaml (#1824)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Add upload release artifact job in the release pipeline
  .github/workflows/release-istio-2.yaml
Due: none

Ignore new kyma-project repository in the pinned action check
  .github/workflows/call-verify-commit-pins.yaml
Due: none

Add upload release artifact job in the release pipeline (#1828)
  .github/workflows/call-verify-commit-pins.yaml
  .github/workflows/release-istio-2.yaml
Due: none

Update .github/workflows/release-istio-2.yaml
  .github/workflows/release-istio-2.yaml
Due: none

Revert "Update .github/workflows/release-istio-2.yaml"
  .github/workflows/release-istio-2.yaml
Due: none

Add name to the upload release job
  .github/workflows/release-istio-2.yaml
Due: none

fix: refactor Istio controller to use injected istioImages for reconciliation
  controllers/istio_controller.go
  controllers/istio_types.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: remove GetProxyImageName method from IstioMerger and MergerMock
  internal/istiooperator/istiooperator.go
  internal/reconciliations/istio/reconciliation_test.go
  internal/restarter/sidecars_test.go
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add upload release artifact job in the release pipeline (#1828) (#1829)
  .github/workflows/call-verify-commit-pins.yaml
  .github/workflows/release-istio-2.yaml
Due: none

fix: remove GetProxyImageName method from IstioMerger and MergerMock
  internal/images/match.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: env images parsing for digest suffix and registry with port (#1819)
  controllers/istio_controller.go
  controllers/istio_types.go
  internal/images/env.go
  internal/images/env_test.go
  internal/images/image.go
  internal/images/merge.go
  internal/images/merge_test.go
  internal/istiooperator/istiooperator_test.go
  internal/istiooperator/merge_experimental_test.go
  internal/reconciliations/istio/reconciliation_test.go
  internal/restarter/predicates/image_resources.go
  internal/restarter/predicates/image_resources_test.go
  internal/restarter/sidecars.go
  internal/restarter/sidecars_test.go
  main.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
  pkg/lib/sidecars/test/cases.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

docs: add release notes for 1.26.0 highlighting bug fixes in image reconciliation
  docs/release-notes/1.26.0.md
Due: none

docs: add release notes for 1.25.1 highlighting bug fixes in image reconciliation
  docs/release-notes/1.25.1.md
Due: none

Update docs/release-notes/1.26.0.md
  docs/release-notes/1.26.0.md
Due: none

Update docs/release-notes/1.26.0.md
  docs/release-notes/1.25.1.md
Due: none

docs: add release notes for 1.26.0 highlighting bug fixes in image reconciliation (#1832)
  docs/release-notes/1.26.0.md
Due: none

fix: env images parsing for digest suffix and registry with port cherry-pick (#1819) (#1834)
  controllers/istio_controller.go
  controllers/istio_types.go
  docs/release-notes/1.25.1.md
  internal/images/env.go
  internal/images/env_test.go
  internal/images/image.go
  internal/images/merge.go
  internal/images/merge_test.go
  internal/istiooperator/istiooperator_test.go
  internal/istiooperator/merge_experimental_test.go
  internal/reconciliations/istio/reconciliation_test.go
  internal/restarter/predicates/image_resources.go
  internal/restarter/predicates/image_resources_test.go
  internal/restarter/sidecars.go
  internal/restarter/sidecars_test.go
  main.go
  pkg/lib/sidecars/pods/get_test.go
  pkg/lib/sidecars/proxy.go
  pkg/lib/sidecars/proxy_test.go
  pkg/lib/sidecars/test/cases.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update docs of XFCC field. (#1818)
  api/v1alpha2/istio_structs.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  docs/contributor/adr/0012-support-for-forward-client-cert-details.md
  docs/user/04-00-istio-custom-resource.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update docs of XFCC field. (#1818) (#1835)
  api/v1alpha2/istio_structs.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  docs/contributor/adr/0012-support-for-forward-client-cert-details.md
  docs/user/04-00-istio-custom-resource.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

release: update sec-scanners-config.yaml (#1836)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Fix missing name in the release report job
  .github/workflows/release-istio-2.yaml
Due: none

Add actions permission for upload release job
  .github/workflows/release-istio-2.yaml
Due: none

Add actions permission for upload release job (#1838)
  .github/workflows/release-istio-2.yaml
Due: none

Adjust test naming and endpoint in assertion of headers.
  .github/workflows/post-main-release-workflow.yaml
  .github/workflows/release-istio-2.yaml
  Makefile
  tests/e2e/pkg/asserts/httpbin/httpbin.go
  tests/e2e/pkg/helpers/public_ip/public_ip.go
  tests/e2e/tests/xff_header/xff_header_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix missing name in the release report job (#1837)
  .github/workflows/release-istio-2.yaml
Due: none

Add missing permission for release artifact upload job
  .github/workflows/release-istio-2.yaml
Due: none

Add missing permission for release artifact upload job (#1839)
  .github/workflows/release-istio-2.yaml
Due: none

ci: bump k8s version to 1.34.3 for compatibility test (#1777)
  .github/actions/k8s-compatibility-test/action.yaml
  hack/ci/set-aws-compatibility-gardener.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add xff header tests for gcp and aws using new e2e test framework. (#1823)
  .github/workflows/post-main-release-workflow.yaml
  .github/workflows/release-istio-2.yaml
  Makefile
  tests/e2e/pkg/helpers/public_ip/public_ip.go
  tests/e2e/tests/xff_header/xff_header_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add fips images to env.
  .github/ISSUE_TEMPLATE/istio_update.md
  config/manager/env-images.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust timeout fo assertion.
  tests/e2e/tests/xff_header/xff_header_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add clusterrole for ambient istio.
  config/rbac/role.yaml
  controllers/istio_controller.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
