Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Apply suggestions from code review
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

fix notes
  docs/user/tutorials/01-10-external-authorization-provider.md
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

Add helpers for the other cleaned up things
  tests/e2e/pkg/helpers/infrastructure/resource.go
  tests/e2e/pkg/helpers/modules/istio.go
  tests/e2e/pkg/helpers/oauth2mock/oauth2mock.go
  tests/e2e/tests/createpod/create_pod_test.go
  tests/e2e/tests/createpod/pod.yaml
  tests/e2e/tests/resource/resource_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add option for different oauth2mock namespace
  tests/e2e/pkg/helpers/oauth2mock/manifest.yaml
  tests/e2e/pkg/helpers/oauth2mock/oauth2mock.go
  tests/e2e/tests/oauth2mock/oauth2_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adapt egress test to use helpers
  tests/e2e/egress/egress_config.yaml
  tests/e2e/egress/egress_test.go
  tests/e2e/egress/istio_cr_with_egress.yaml
  tests/e2e/egress/networkpolicy.yaml
  tests/e2e/egress/testdata/curl_pod.yaml
  tests/e2e/pkg/helpers/modules/istio.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Make deploy as pre-req
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adapt to mluk@sap review + add docu
  tests/e2e/README.md
  tests/e2e/egress/egress_test.go
  tests/e2e/pkg/helpers/curl/curl.go
  tests/e2e/pkg/helpers/httpincluster/curl.go
  tests/e2e/pkg/helpers/infrastructure/client.go
  tests/e2e/pkg/helpers/infrastructure/namespace.go
  tests/e2e/pkg/helpers/infrastructure/resource.go
  tests/e2e/pkg/helpers/modules/istio.go
  tests/e2e/pkg/helpers/oauth2mock/oauth2mock.go
  tests/e2e/pkg/helpers/testid/testid.go
  tests/e2e/tests/createpod/create_pod_test.go
  tests/e2e/tests/httprequest/http_request_test.go
  tests/e2e/tests/oauth2mock/oauth2_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Use functional options
  tests/e2e/README.md
  tests/e2e/egress/egress_test.go
  tests/e2e/pkg/helpers/httpincluster/curl.go
  tests/e2e/pkg/helpers/infrastructure/namespace.go
  tests/e2e/pkg/helpers/modules/istio.go
  tests/e2e/pkg/helpers/oauth2mock/oauth2mock.go
  tests/e2e/pkg/helpers/testid/testid.go
  tests/e2e/tests/createpod/create_pod_test.go
  tests/e2e/tests/oauth2mock/oauth2_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Set default options
  tests/e2e/pkg/helpers/httpincluster/curl.go
  tests/e2e/pkg/helpers/modules/istio.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update sidebar
  docs/user/_sidebar.md
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

Fix build arg in Dockerfile
  Dockerfile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add description and overview of performance tests.
  docs/contributor/02-20-performance-test-overview-and-results.md
Due: none

Apply suggestions from code review
  docs/contributor/02-20-performance-test-overview-and-results.md
Due: none

Add description and overview of performance tests. (#1528)
  docs/contributor/02-20-performance-test-overview-and-results.md
Due: none

remove the last bullet point from context
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

docs: Fix broken link to istio release page
  docs/release-notes/1.11.0.md
Due: none

docs: Fix broken link to istio release page (#1529)
  docs/release-notes/1.11.0.md
Due: none

Apply suggestions from code review
  tests/e2e/README.md
Due: none

poc: handling test resources with testdata and helpers (#1510)
  Makefile
  go.mod
  go.sum
  tests/e2e/README.md
  tests/e2e/e2e/.gitignore
  tests/e2e/e2e/helpers/http/http.go
  tests/e2e/e2e/helpers/infrastructure/pod/pod.go
  tests/e2e/e2e/helpers/infrastructure/unstructured/unstructured.go
  tests/e2e/e2e/helpers/infrastructure/yamlfile/yamlfile.go
  tests/e2e/e2e/helpers/kubectl/namespace/namespace.go
  tests/e2e/e2e/helpers/shell/shell.go
  tests/e2e/e2e/setup/client.go
  tests/e2e/e2e/setup/identifier.go
  tests/e2e/e2e/setup/namespace.go
  tests/e2e/e2e/tests/createnamespacewithkubectl/create_ns_test.go
  tests/e2e/e2e/tests/createpod/create_pod_test.go
  tests/e2e/e2e/tests/httprequest/http_request_test.go
  tests/e2e/e2e/tests/resource/resource_test.go
  tests/e2e/egress/egress_config.yaml
  tests/e2e/egress/egress_test.go
  tests/e2e/egress/istio_cr_with_egress.yaml
  tests/e2e/egress/networkpolicy.yaml
  tests/e2e/pkg/helpers/http/http.go
  tests/e2e/pkg/helpers/httpincluster/curl.go
  tests/e2e/pkg/helpers/infrastructure/client.go
  tests/e2e/pkg/helpers/infrastructure/namespace.go
  tests/e2e/pkg/helpers/infrastructure/resource.go
  tests/e2e/pkg/helpers/modules/istio.go
  tests/e2e/pkg/helpers/modules/operator_v1alpha2_istio.yaml
  tests/e2e/pkg/helpers/oauth2mock/manifest.yaml
  tests/e2e/pkg/helpers/oauth2mock/oauth2mock.go
  tests/e2e/pkg/helpers/testid/testid.go
  tests/e2e/pkg/setup/cleanup.go
  tests/e2e/tests/Makefile
  tests/e2e/tests/createpod/create_pod_test.go
  tests/e2e/tests/createpod/pod.yaml
  tests/e2e/tests/httprequest/http_request_test.go
  tests/e2e/tests/oauth2mock/oauth2_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix version in app.kubernetes.io/version label
  .github/actions/e2e-test-gardener/action.yaml
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test-aws/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/post-main-workflow.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-istio-2.yaml
  Dockerfile
  tests/integration/features/installation-suite/install.feature
  tests/integration/scenario.go
  tests/integration/steps/resource.go
  tests/integration/testsupport/environments.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: Egress test fail after e2e tests refactor
  tests/e2e/egress/egress_test.go
  tests/e2e/egress/istio_cr_with_egress.yaml
  tests/e2e/pkg/helpers/httpincluster/curl.go
  tests/e2e/pkg/helpers/infrastructure/namespace.go
  tests/e2e/pkg/helpers/testid/testid.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

linter fix
  tests/integration/testsupport/environments.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: Egress test fail after e2e tests refactor (#1530)
  tests/e2e/egress/egress_test.go
  tests/e2e/egress/istio_cr_with_egress.yaml
  tests/e2e/pkg/helpers/httpincluster/curl.go
  tests/e2e/pkg/helpers/infrastructure/namespace.go
  tests/e2e/pkg/helpers/testid/testid.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Refactor release: allow multiple releases at a time
  .github/workflows/release-istio-1.yaml
  .github/workflows/release-istio-2.yaml
Due: none

Create a tutorial for exposing workloads with VS (#1511)
  docs/user/_sidebar.md
  docs/user/tutorials/01-10-external-authorization-provider.md
  docs/user/tutorials/01-65-expose-workload-vs.md
Due: none

Refactor release: add new module-manifests release
  .github/workflows/release-istio-2.yaml
Due: none

Bind default envs setting to proper env in cicd
  tests/integration/testsupport/environments.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust pr build job to burn version var to the PR number
  .github/actions/build-manager-image/action.yaml
  .github/workflows/pull-build-push.yaml
  .github/workflows/pull-request.yaml
Due: none

Adjust workflow and actions on the PR to get operator version
  .github/actions/integration-test/action.yaml
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/pull-request.yaml
Due: none

Adjust additional build step to contain VERSION arg
  .github/actions/build-manager-image/action.yaml
Due: none

chore: automatic update sec-scanners-config.yaml (#1531)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Apply review suggestion, func name improvement
  tests/integration/scenario.go
  tests/integration/testsupport/environments.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add log to make visible when default envs are set in e2e tests
  tests/integration/testsupport/environments.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add release notes
  docs/release-notes/1.21.0.md
Due: none

Fix env so it's passed through input not envs field
  .github/workflows/call-integration-tests.yaml
Due: none

Update docs/release-notes/1.21.0.md
  docs/release-notes/1.21.0.md
Due: none

bug: Fix labels reconciliation in resource manager (#1527)
  .github/actions/build-manager-image/action.yaml
  .github/actions/e2e-test-gardener/action.yaml
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test-aws/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/post-main-workflow.yaml
  .github/workflows/pull-build-push.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-istio-2.yaml
  Dockerfile
  docs/release-notes/1.21.0.md
  internal/reconciliations/istioresources/peer_authentication_mtls_test.go
  internal/reconciliations/istioresources/proxy_protocol_envoy_filter_test.go
  internal/resources/disclaimer_annotation_test.go
  internal/resources/resources.go
  internal/resources/resources_test.go
  internal/resources/test_files/resource_after_labels.yaml
  internal/resources/test_files/resource_before_labels.yaml
  tests/integration/features/installation-suite/install.feature
  tests/integration/scenario.go
  tests/integration/steps/resource.go
  tests/integration/testsupport/environments.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Delete branch during second release step
  .github/workflows/release-istio-1.yaml
  .github/workflows/release-istio-2.yaml
Due: none

bug: Fix labels reconciliation in resource manager (#1527)
  .github/actions/build-manager-image/action.yaml
  .github/actions/e2e-test-gardener/action.yaml
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test-aws/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-pull-e2e.yaml
  .github/workflows/post-main-workflow.yaml
  .github/workflows/pull-build-push.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-istio-2.yaml
  Dockerfile
  docs/release-notes/1.20.1.md
  internal/reconciliations/istioresources/peer_authentication_mtls_test.go
  internal/reconciliations/istioresources/proxy_protocol_envoy_filter_test.go
  internal/resources/disclaimer_annotation_test.go
  internal/resources/resources.go
  internal/resources/resources_test.go
  internal/resources/test_files/resource_after_labels.yaml
  internal/resources/test_files/resource_before_labels.yaml
  tests/integration/features/installation-suite/install.feature
  tests/integration/scenario.go
  tests/integration/steps/resource.go
  tests/integration/testsupport/environments.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build
