Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

chore: automatic update sec-scanners-config.yaml (#1996)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Apply suggestions from code review
  docs/contributor/adr/0017-support-for-gateway-api.md
Due: none

Revise Gateway API support documentation in Istio CR
  docs/contributor/adr/0017-support-for-gateway-api.md
Due: none

Adjust struct name.
  docs/contributor/adr/0017-support-for-gateway-api.md
Due: none

Update release notes for Istio 1.27.0
  docs/release-notes/1.27.0.md
Due: none

Add extended description for struct gatewayAPI.
  docs/contributor/adr/0017-support-for-gateway-api.md
Due: none

Delete todo list.
  docs/contributor/adr/0017-support-for-gateway-api.md
Due: none

Update release notes for Istio 1.27.0 (#1997)
  docs/release-notes/1.27.0.md
Due: none

Refine trade-offs in ADR for Gateway API support
  docs/contributor/adr/0017-support-for-gateway-api.md
Due: none

Update config/ui-extensions/istios/form
  config/ui-extensions/istios/form
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Upgrade rel notes for Istio 1.29 update
  docs/release-notes/1.27.0.md
Due: none

Potential fix for the units
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

e2e
  tests/e2e/pkg/helpers/client/client.go
  tests/e2e/pkg/helpers/crds/asserter.go
  tests/e2e/pkg/helpers/crds/gateway_api_crd_list.yaml
  tests/e2e/pkg/helpers/gateway_api/gateway_api.go
  tests/e2e/pkg/helpers/modules/istio_builder.go
  tests/e2e/tests/gateway_api/gateway_api_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update ui-extension for Istio CR (#1990)
  config/ui-extensions/istios/details
  config/ui-extensions/istios/form
  config/ui-extensions/istios/translations
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix
  tests/ui/tsconfig.json
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix (#2002)
  tests/ui/tsconfig.json
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update with TODO experimental.go
  api/v1alpha2/experimental.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add TODO in implementation where needed.
  internal/reconciliations/istio/gateway_api_crds.go
  internal/reconciliations/istio/gateway_api_crds_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  docs/release-notes/1.27.0.md
Due: none

Upgrade rel notes for Istio 1.29 update (#1999)
  docs/release-notes/1.27.0.md
Due: none

increase number of max replicas for production profile
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

increase number of max replicas for production profile (#2006)
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update 1.27.0.md
  docs/release-notes/1.27.0.md
Due: none

chore: actions: consolidate release workflows
  .github/workflows/release-istio-1.yaml
  .github/workflows/release-istio.yaml
  .github/workflows/update-sec-scanner.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

chore: actions: consolidate release workflows (#2007)
  .github/workflows/release-istio-1.yaml
  .github/workflows/release-istio.yaml
  .github/workflows/update-sec-scanner.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update 1.27.0.md (#2009)
  docs/release-notes/1.27.0.md
Due: none

update dependabot.yml (#2010)
  .github/dependabot.yml
Due: none

chore: bump: new revision of fips images
  config/manager/env-images.yaml
  fips-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: bump: new revision of fips images (#2015)
  config/manager/env-images.yaml
  fips-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add conditional support for VPAs
  api/v1alpha2/compatibility_mode.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/merge_test.go
  config/manager/kustomization.yaml
  docs/contributor/adr/0017-vpa-control-plane.md
  docs/user/00-45-istio-features-configmap.md
  internal/istiofeatures/features.go
  internal/istiofeatures/features_test.go
  internal/reconciliations/istioresources/control_plane_vpa.go
  internal/reconciliations/istioresources/control_plane_vpa_test.go
  internal/reconciliations/istioresources/control_plane_vpas/cni.yaml
  internal/reconciliations/istioresources/control_plane_vpas/egress-gateway.yaml
  internal/reconciliations/istioresources/control_plane_vpas/ingress-gateway.yaml
  internal/reconciliations/istioresources/control_plane_vpas/istiod.yaml
  internal/reconciliations/istioresources/reconciliation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add Relase notes
  docs/release-notes/1.28.0.md
Due: none

chore: bump: new revision of fips images (#2015) (#2016)
  config/manager/env-images.yaml
  fips-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  docs/contributor/adr/0017-vpa-control-plane.md
  docs/user/00-45-istio-features-configmap.md
Due: none

Add conditional support for VPAs (#2017)
  api/v1alpha2/compatibility_mode.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/merge_test.go
  config/manager/kustomization.yaml
  docs/contributor/adr/0017-vpa-control-plane.md
  docs/release-notes/1.28.0.md
  docs/user/00-45-istio-features-configmap.md
  internal/istiofeatures/features.go
  internal/istiofeatures/features_test.go
  internal/reconciliations/istioresources/control_plane_vpa.go
  internal/reconciliations/istioresources/control_plane_vpa_test.go
  internal/reconciliations/istioresources/control_plane_vpas/cni.yaml
  internal/reconciliations/istioresources/control_plane_vpas/egress-gateway.yaml
  internal/reconciliations/istioresources/control_plane_vpas/ingress-gateway.yaml
  internal/reconciliations/istioresources/control_plane_vpas/istiod.yaml
  internal/reconciliations/istioresources/reconciliation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update RN
  docs/release-notes/1.26.6.md
Due: none

Update RN
  docs/release-notes/1.27.1.md
Due: none
