Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

update dependabot.yml (#1917)
  .github/dependabot.yml
Due: none

Make sure that Istio PDBs are deployed (#1901)
  internal/istiooperator/istio-operator.yaml
  tests/e2e/pkg/asserts/istio/resource_readiness_assertions.go
  tests/e2e/tests/installation/installation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from code review
  fips-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add only one dockerfile template.
  .github/workflows/fips-images-syncer.yaml
  docker/cni-fips.Dockerfile
  docker/fips.Dockerfile
  docker/istiod-fips.Dockerfile
  docker/proxy-fips.Dockerfile
  docker/ztunnel-fips.Dockerfile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

FIPS image syncer part1
  .github/workflows/fips-images-syncer.yaml
  docker/cni-fips.Dockerfile
  docker/istiod-fips.Dockerfile
  docker/proxy-fips.Dockerfile
  docker/ztunnel-fips.Dockerfile
  fips-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Make sure that Istio PDBs are deployed (#1901) (#1924)
  internal/istiooperator/istio-operator.yaml
  tests/e2e/pkg/asserts/istio/resource_readiness_assertions.go
  tests/e2e/tests/installation/installation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix broken output parameters
  .github/workflows/fips-images-syncer.yaml
  fips-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

feat: implement RBAC aggregation for istio
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/istio_editor_role.yaml
  config/rbac/istio_viewer_role.yaml
  config/rbac/kustomization.yaml
  internal/reconciliations/istioresources/experimental_reconciliation_test.go
  internal/reconciliations/istioresources/istio_clusterrole.go
  internal/reconciliations/istioresources/istio_clusterrole_test.go
  internal/reconciliations/istioresources/istio_edit_clusterrole.yaml
  internal/reconciliations/istioresources/istio_view_clusterrole.yaml
  internal/reconciliations/istioresources/reconciliation.go
  internal/reconciliations/istioresources/reconciliation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

test: basic e2e/integration test
  .github/workflows/post-main-release-workflow.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-istio-2.yaml
  .github/workflows/schedule-main-integration.yaml
  Makefile
  tests/e2e/pkg/helpers/client/client.go
  tests/e2e/tests/clusterrole/clusterrole_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update .github/workflows/fips-images-syncer.yaml
  .github/workflows/fips-images-syncer.yaml
Due: none

docs: document rbac aggregation
  docs/release-notes/1.27.0.md
  docs/user/_sidebar.ts
  docs/user/technical-reference/05-30-cluster-roles.md
Due: none

big: move finalizer removal after subresources deletion
  controllers/istio_controller.go
  docs/release-notes/1.27.0.md
  internal/reconciliations/istio/finalizer.go
  internal/reconciliations/istio/uninstall.go
  internal/reconciliations/istioresources/reconciliation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix fips image syncer with broken output parameters (#1926)
  .github/workflows/fips-images-syncer.yaml
  fips-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Extend module controller resources and add VPA
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manager/virtual_pod_autoscaler.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

update observability docs
  docs/user/00-40-enable-istio-access-logs.md
  docs/user/_sidebar.ts
  docs/user/tutorials/01-45-enable-istio-access-logs.md
Due: none

Adjust VPA and add CRD
  .gitignore
  config/manager/kustomization.yaml
  docs/contributor/adr/0015-networkpolicies-istio-kyma-system.md
  docs/contributor/adr/0016-vpa.md
  internal/reconciliations/istioresources/reconciliation.go
  internal/reconciliations/istioresources/vpa.go
  internal/reconciliations/istioresources/vpa.yaml
  internal/reconciliations/istioresources/vpa_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Use automemlimit
  config/manager/manager.yaml
  docs/contributor/adr/0016-vpa.md
  go.mod
  go.sum
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Revert kustomization
  config/manager/kustomization.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add RBAC
  config/rbac/role.yaml
  controllers/istio_controller.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add release notes
  docs/release-notes/1.27.0.md
Due: none

Adjust fips images to new builds.
  config/manager/env-images.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add standard labels
  internal/reconciliations/istioresources/vpa.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update security scanner config.
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

update observability docs (#1927)
  docs/user/00-40-enable-istio-access-logs.md
  docs/user/_sidebar.ts
  docs/user/tutorials/01-45-enable-istio-access-logs.md
Due: none

Update VPA unit test
  internal/reconciliations/istioresources/vpa_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add automemlimit comment
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Apply suggestions from @nataliasitko review
  docs/contributor/adr/0016-vpa.md
  docs/release-notes/1.27.0.md
Due: none

Vpa istio module (#1928)
  .gitignore
  config/manager/manager.yaml
  config/rbac/role.yaml
  controllers/istio_controller.go
  docs/contributor/adr/0015-networkpolicies-istio-kyma-system.md
  docs/contributor/adr/0016-vpa.md
  docs/release-notes/1.27.0.md
  go.mod
  go.sum
  internal/reconciliations/istioresources/reconciliation.go
  internal/reconciliations/istioresources/vpa.go
  internal/reconciliations/istioresources/vpa.yaml
  internal/reconciliations/istioresources/vpa_test.go
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update RN
  docs/release-notes/1.26.1.md
Due: none

Vpa istio module (#1928)
  .gitignore
  config/manager/manager.yaml
  config/rbac/role.yaml
  controllers/istio_controller.go
  docs/contributor/adr/0015-networkpolicies-istio-kyma-system.md
  docs/contributor/adr/0016-vpa.md
  docs/release-notes/1.25.6.md
  go.mod
  go.sum
  internal/reconciliations/istioresources/reconciliation.go
  internal/reconciliations/istioresources/vpa.go
  internal/reconciliations/istioresources/vpa.yaml
  internal/reconciliations/istioresources/vpa_test.go
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove ADR for netpols
  docs/contributor/adr/0015-networkpolicies-istio-kyma-system.md
Due: none

Make sure that Istio PDBs are deployed (#1901)
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Make sure that Istio PDBs are deployed (#1901) (#1933)
  internal/istiooperator/istio-operator.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

[release 1.25] Vpa istio module (#1928) (#1931)
  .gitignore
  config/manager/manager.yaml
  config/rbac/role.yaml
  controllers/istio_controller.go
  docs/contributor/adr/0016-vpa.md
  docs/release-notes/1.25.6.md
  go.mod
  go.sum
  internal/reconciliations/istioresources/reconciliation.go
  internal/reconciliations/istioresources/vpa.go
  internal/reconciliations/istioresources/vpa.yaml
  internal/reconciliations/istioresources/vpa_test.go
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

[release 1.26] Vpa istio module (#1928) (#1930)
  .gitignore
  config/manager/manager.yaml
  config/rbac/role.yaml
  controllers/istio_controller.go
  docs/contributor/adr/0015-networkpolicies-istio-kyma-system.md
  docs/contributor/adr/0016-vpa.md
  docs/release-notes/1.26.1.md
  go.mod
  go.sum
  internal/reconciliations/istioresources/reconciliation.go
  internal/reconciliations/istioresources/vpa.go
  internal/reconciliations/istioresources/vpa.yaml
  internal/reconciliations/istioresources/vpa_test.go
  main.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust fips images to new builds. (#1929)
  config/manager/env-images.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

release: update sec-scanners-config.yaml (#1934)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

release: update sec-scanners-config.yaml (#1935)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
