Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

update troubleshooting guides
  docs/assets/istio-cr-delete-finalizers.svg
  docs/assets/istio-cr-warning-state.svg
  docs/user/02-operation-guides/operations/02-10-check-if-sidecar-injection-is-enabled.md
  docs/user/02-operation-guides/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  docs/user/02-operation-guides/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
Due: none

apply suggestion
  hack/managed-kyma-migration/readme.md
Due: none

Update hack/managed-kyma-migration/readme.md
  hack/managed-kyma-migration/readme.md
Due: none

Add rename script
  hack/managed-kyma-migration/rename-to-default.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Remove vulnerability check from PRs
  .github/workflows/vulnerabilities-check.yaml
Due: none

Remove vulnerability check from PRs (#463)
  .github/workflows/vulnerabilities-check.yaml
Due: none

update sec scanner
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Apply review suggestions
  hack/managed-kyma-migration/readme.md
Due: none

Fail fast on processing
  hack/managed-kyma-migration/rename-to-default.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Add logic to handle custom Istio CR plus adjust docs
  hack/managed-kyma-migration/migrate.sh
  hack/managed-kyma-migration/readme.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Add new step
  hack/managed-kyma-migration/readme.md
Due: none

update sec scanner (#465)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Add new steps for stage
  hack/managed-kyma-migration/readme.md
Due: none

Update go version
  .github/workflows/vulnerabilities-check.yaml
  go.mod
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update go version (#473)
  .github/workflows/vulnerabilities-check.yaml
  go.mod
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Ignore istio dependencies in dependabot config
  .github/dependabot.yml
Due: none

Ignore istio dependencies in dependabot config (#474)
  .github/dependabot.yml
Due: none

Fix description
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Finalized
  hack/managed-kyma-migration/readme.md
Due: none

Add missing step
  hack/managed-kyma-migration/readme.md
Due: none

Update feature_request.md (#457)
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

dev refactor
  hack/managed-kyma-migration/readme.md
Due: none

Apply suggestions from code review
  hack/managed-kyma-migration/readme.md
Due: none

draft stage refactor
  hack/managed-kyma-migration/migrate.sh
  hack/managed-kyma-migration/readme.md
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

503
  docs/assets/check-istio-proxy-ports.svg
  docs/assets/check-istio-version.svg
  docs/assets/search-for-istio-ingress-gateway.svg
  docs/assets/view-istio-proxy-logs.svg
  docs/user/02-operation-guides/security/02-10-ingress-egress-traffic.md
  docs/user/02-operation-guides/troubleshooting/03-10-503-no-access.md
Due: none

Update stage and prod docs
  hack/managed-kyma-migration/readme.md
Due: none

Add module templates for fast and regular channel
  hack/managed-kyma-migration/moduletemplate-istio-fast-channel.yaml
  hack/managed-kyma-migration/moduletemplate-istio-regular-channel.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

move tutorial from kyma
  docs/user/00-overview/_sidebar.md
  docs/user/02-operation-guides/operations/02-30-enable-istio-access-logs.md
  docs/user/02-operation-guides/operations/_sidebar.md
  docs/user/02-operation-guides/security/_sidebar.md
  docs/user/03-technical-reference/configuration-parameters/_sidebar.md
Due: none

language updates
  docs/user/02-operation-guides/operations/02-30-enable-istio-access-logs.md
Due: none

language update
  docs/user/02-operation-guides/operations/02-30-enable-istio-access-logs.md
Due: none

Add global account target to script execution
  hack/managed-kyma-migration/readme.md
Due: none

Move the Istio logs tutorial from Kyma (#478)
  docs/user/00-overview/_sidebar.md
  docs/user/02-operation-guides/operations/02-30-enable-istio-access-logs.md
  docs/user/02-operation-guides/operations/_sidebar.md
  docs/user/02-operation-guides/security/_sidebar.md
  docs/user/03-technical-reference/configuration-parameters/_sidebar.md
Due: none

Add test migration script for stage with fast local ModuleTemplate
  hack/managed-kyma-migration/migration-testing/migrate-local-moduletemplate.sh
  hack/managed-kyma-migration/migration-testing/module-template-migration-test-fast.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Add condition to check istio replicas
  hack/managed-kyma-migration/migration-testing/migrate-local-moduletemplate.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Add missing migration test script name and add script to check Istio CR status on SKR
  hack/managed-kyma-migration/readme.md
Due: none

Add verification scripts
  hack/managed-kyma-migration/readme.md
Due: none

Add revert test migration script
  hack/managed-kyma-migration/migration-testing/revert-local-moduletemplate.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

change container's name
  docs/user/02-operation-guides/troubleshooting/03-10-503-no-access.md
Due: none
