Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration-aws-specific: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Add release notes for consistent labeling
  docs/release-notes/1.4.0.md
Due: none

Add release notes for consistent labeling (#612)
  docs/release-notes/1.4.0.md
Due: none

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update sec-scanners-config.yaml (#614)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Add conditions to UI
  .gitignore
  config/ui-extensions/istios/details
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Make reconciliation the first tab
  config/ui-extensions/istios/details
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Always display numTrustedProxies to avoid confusion in the UI
  config/ui-extensions/istios/details
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Remove DNS handling from istio
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/clusterconfig/gardener_shoot_info.go
  internal/reconciliations/istio_resources/reconciliation.go
  internal/reconciliations/istio_resources/reconciliation_test.go
  tests/integration/steps/istio.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Remove not needed test
  internal/clusterconfig/clusterconfig_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Display panels conditionally if values are configured in CR
  config/ui-extensions/istios/details
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Restructure Istio CR UI
  config/ui-extensions/istios/details
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Remove kyma-gateway from controlled resources list
  manifests/controlled_resources_list.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Remove not needed configmaps they did remove old configmaps across all landscapes in past releases
  internal/reconciliations/istio_resources/configmap_control_plane.go
  internal/reconciliations/istio_resources/configmap_control_plane_test.go
  internal/reconciliations/istio_resources/configmap_mesh.go
  internal/reconciliations/istio_resources/configmap_mesh_test.go
  internal/reconciliations/istio_resources/configmap_performance.go
  internal/reconciliations/istio_resources/configmap_performance_test.go
  internal/reconciliations/istio_resources/configmap_service.go
  internal/reconciliations/istio_resources/configmap_service_test.go
  internal/reconciliations/istio_resources/configmap_workload.go
  internal/reconciliations/istio_resources/configmap_workload_test.go
  internal/reconciliations/istio_resources/reconciliation.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Adapt int test
  tests/integration/features/istio/production/main-suite/istio_resources.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Remove kyma-gateway from controlled resources list (#617)
  manifests/controlled_resources_list.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Remove not needed configmaps reconciliation leftovers (#618)
  internal/reconciliations/istio_resources/configmap_control_plane.go
  internal/reconciliations/istio_resources/configmap_control_plane_test.go
  internal/reconciliations/istio_resources/configmap_mesh.go
  internal/reconciliations/istio_resources/configmap_mesh_test.go
  internal/reconciliations/istio_resources/configmap_performance.go
  internal/reconciliations/istio_resources/configmap_performance_test.go
  internal/reconciliations/istio_resources/configmap_service.go
  internal/reconciliations/istio_resources/configmap_service_test.go
  internal/reconciliations/istio_resources/configmap_workload.go
  internal/reconciliations/istio_resources/configmap_workload_test.go
  internal/reconciliations/istio_resources/reconciliation.go
  tests/integration/features/istio/production/main-suite/istio_resources.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Istio 1.20.3
  controllers/istio_controller.go
  go.mod
  go.sum
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Release notes
  docs/release-notes/1.3.1.md
Due: none

Remove gardener annotation test
  tests/integration/features/istio/production/main-suite/istio_installation.feature
  tests/integration/scenario.go
  tests/integration/steps/istio.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

remove unneeded import
  tests/integration/steps/istio.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Remove garden annotation
  manifests/istio-operator-template-light.yaml
  manifests/istio-operator-template.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Add conditions to Istio CR UI (#616)
  .gitignore
  config/ui-extensions/istios/details
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Cherry-pick changes from istio 1.20.3
  controllers/istio_controller.go
  go.mod
  go.sum
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update action version and simplify istio CR details UI
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/performance-test.yaml
  .github/workflows/pull-integration-gardener.yaml
  .github/workflows/ui-tests.yaml
  config/ui-extensions/istios/details
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update action version and simplify istio CR details UI (#622)
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/performance-test.yaml
  .github/workflows/pull-integration-gardener.yaml
  .github/workflows/ui-tests.yaml
  config/ui-extensions/istios/details
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update DoD to include new item about Istio operator changes
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update DoD to include new item about Istio operator changes (#625)
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update VERSION
  VERSION
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update docs/release-notes/1.3.1.md
  docs/release-notes/1.3.1.md
Due: none

Create 1.3.1.md
  docs/release-notes/1.3.1.md
Due: none

Cherry-pick Istio 1.20.3 (#621)
  VERSION
  controllers/istio_controller.go
  docs/release-notes/1.3.1.md
  go.mod
  go.sum
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Istio 1.20.3 (#620)
  controllers/istio_controller.go
  docs/release-notes/1.3.1.md
  go.mod
  go.sum
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Change upgrade test to not merge manifest with old one
  tests/integration/features/istio/production/upgrade-suite/istio_upgrade.feature
  tests/integration/manifests/fail-operator-manifest.yaml
  tests/integration/scenario.go
  tests/integration/steps/operator.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Set resource version before update
  tests/integration/steps/operator.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

State
  tests/integration/features/istio/evaluation/istio_installation_demo.feature
  tests/integration/features/istio/production/aws-suite/xff_header.feature
  tests/integration/features/istio/production/main-suite/istio_configuration.feature
  tests/integration/features/istio/production/main-suite/istio_connection.feature
  tests/integration/features/istio/production/main-suite/istio_installation.feature
  tests/integration/features/istio/production/main-suite/istio_observability.feature
  tests/integration/features/istio/production/main-suite/istio_sidecars.feature
  tests/integration/features/istio/production/upgrade-suite/istio_upgrade.feature
  tests/integration/manifests/istio_cr_ext_authz_template.yaml
  tests/integration/manifests/istio_cr_template.yaml
  tests/integration/scenario.go
  tests/integration/steps/istio_cr.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Change upgrade test to not merge manifest with old one (#627)
  tests/integration/features/istio/production/upgrade-suite/istio_upgrade.feature
  tests/integration/manifests/fail-operator-manifest.yaml
  tests/integration/scenario.go
  tests/integration/steps/operator.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Remove verbs * from istio-manager-role ClusterRole. Add timeout to Istio install. Add documentation about controller RBAC.
  config/rbac/role.yaml
  docs/user/technical-reference/05-10-istio-controller-rbac.md
  docs/user/technical-reference/README.md
  internal/reconciliations/istio/client.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Set state to warning when more than one Istio CR is defined
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  tests/integration/features/istio/production/main-suite/istio_installation.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific
