Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

pull-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-integration-evaluation:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-integration-evaluation
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

post-istio-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-kind-volume-mounts: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    hostAliases:
    - ip: 127.0.0.1
      hostnames:
  ...

pull-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-operator-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-operator-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-cluster-version: 'true'
    preset-gardener-gcp-kyma-integration: 'true'
    preset-kyma-guard-bot-github-token: 'true'
  ...

post-istio-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-istio-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-istio-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-istio-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-istio-test
    prow.k8s.io/pubsub.topic: prowjobs
  optional: false
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

Apply suggestions from code review
  docs/user/tutorials/01-55-send-requests-using-egress-and-mtls.md
Due: none

Adjusted scaler_min parameter for AWS to ensure that every availability zone has at least one machine
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-release-pr-integration-gardener.yaml
Due: none

Add unit test
  pkg/lib/sidecars/restart/restart_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjusted scaler_min parameter for AWS to ensure that every availability zone has at least one machine (#1440)
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-release-pr-integration-gardener.yaml
Due: none

Adjusted scaler_min parameter for AWS to ensure that every availability zone has at least one machine (#1440) (#1441)
  .github/workflows/call-integration-tests.yaml
  .github/workflows/call-release-pr-integration-gardener.yaml
Due: none

docs: add misssing networkpolicy docs
  docs/user/tutorials/01-50-send-requests-using-egress.md
  docs/user/tutorials/01-55-send-requests-using-egress-and-mtls.md
Due: none

Apply suggestions from code review
  docs/user/tutorials/01-50-send-requests-using-egress.md
Due: none

Apply suggestions from code review
  docs/user/tutorials/01-50-send-requests-using-egress.md
  docs/user/tutorials/01-55-send-requests-using-egress-and-mtls.md
Due: none

Add user EF on IG detection and a new condition for that
  api/v1alpha2/conditions.go
  api/v1alpha2/istio_types.go
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  controllers/istio_types.go
  controllers/suite_test.go
  controllers/validate_test.go
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/resources/istio_resources_finder.go
  internal/resources/istio_resources_finder_test.go
  internal/resources/user_resources_finder.go
  internal/resources/user_resources_finder_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add docs and RN
  docs/release-notes/1.18.0.md
  docs/user/04-00-istio-custom-resource.md
Due: none

Adjust one line to the liner request
  internal/resources/user_resources_finder.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update 01-50-send-requests-using-egress.md
  docs/user/tutorials/01-50-send-requests-using-egress.md
Due: none

Update 01-55-send-requests-using-egress-and-mtls.md
  docs/user/tutorials/01-55-send-requests-using-egress-and-mtls.md
Due: none

docs: add misssing networkpolicy docs (#1434)
  docs/user/tutorials/01-50-send-requests-using-egress.md
  docs/user/tutorials/01-55-send-requests-using-egress-and-mtls.md
Due: none

Limit check for EnvoyFilters on IG only to istio-system
  internal/resources/user_resources_finder.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Make new condition transition to false if there is no EF on IG detected
  api/v1alpha2/conditions.go
  api/v1alpha2/istio_types.go
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  internal/resources/user_resources_finder.go
  internal/resources/user_resources_finder_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Adjust docs to the last commit
  docs/user/04-00-istio-custom-resource.md
Due: none

Update message
  pkg/lib/sidecars/restart/restart.go
  pkg/lib/sidecars/restart/restart_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

update egress tutorials
  docs/user/tutorials/01-50-send-requests-using-egress.md
  docs/user/tutorials/01-55-send-requests-using-egress-and-mtls.md
Due: none

fix: Sidecar restart spawning ReplicaSet every time when ReplicaSet did not finish progressing (#1437)
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  internal/status/status.go
  internal/status/status_test.go
  pkg/lib/sidecars/restart/replica_set_action.go
  pkg/lib/sidecars/restart/restart.go
  pkg/lib/sidecars/restart/restart_factory.go
  pkg/lib/sidecars/restart/restart_test.go
  tests/integration/features/installation-suite/install.feature
  tests/integration/features/installation-suite/uninstall.feature
  tests/integration/scenario.go
  tests/integration/steps/istio_cr.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Release notes
  docs/release-notes/1.17.3.md
Due: none

Update sec-scanners-config
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update docs/release-notes/1.17.3.md
  docs/release-notes/1.17.3.md
Due: none

fix: Sidecar restart spawning ReplicaSet every time when ReplicaSet did not finish progressing (#1444)
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  docs/release-notes/1.17.3.md
  internal/status/status.go
  internal/status/status_test.go
  pkg/lib/sidecars/restart/replica_set_action.go
  pkg/lib/sidecars/restart/restart.go
  pkg/lib/sidecars/restart/restart_factory.go
  pkg/lib/sidecars/restart/restart_test.go
  sec-scanners-config.yaml
  tests/integration/features/installation-suite/install.feature
  tests/integration/features/installation-suite/uninstall.feature
  tests/integration/scenario.go
  tests/integration/steps/istio_cr.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Review suggestions
  docs/release-notes/1.18.0.md
  docs/user/04-00-istio-custom-resource.md
  internal/resources/user_resources_finder.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove leftover interface
  internal/clusterconfig/clusterconfig.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Missing adjustment after resolving conflicts
  controllers/istio_controller.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update docs/release-notes/1.18.0.md
  docs/release-notes/1.18.0.md
Due: none

IstioCR in warning state with new condition when user-created EF targeting istio-ingressgateway found (#1442)
  api/v1alpha2/conditions.go
  api/v1alpha2/istio_types.go
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  controllers/istio_types.go
  controllers/suite_test.go
  controllers/validate_test.go
  docs/release-notes/1.18.0.md
  docs/user/04-00-istio-custom-resource.md
  internal/clusterconfig/clusterconfig_test.go
  internal/resources/istio_resources_finder.go
  internal/resources/istio_resources_finder_test.go
  internal/resources/user_resources_finder.go
  internal/resources/user_resources_finder_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix attempt param in the slack notification
  .github/actions/slack-notification-failed-workflow/action.yaml
Due: none

chore: add golden config for golangci
  .golangci.yml
  internal/describederrors/described_errors.go
  internal/describederrors/described_errors_test.go
  internal/describederrors/suite_test.go
  internal/reconciliations/istioresources/istio_resources_suite_test.go
  internal/reconciliations/istioresources/peer_authentication_mtls.go
  internal/reconciliations/istioresources/peer_authentication_mtls.yaml
  internal/reconciliations/istioresources/peer_authentication_mtls_test.go
  internal/reconciliations/istioresources/proxy_protocol_envoy_filter.go
  internal/reconciliations/istioresources/proxy_protocol_envoy_filter.yaml
  internal/reconciliations/istioresources/proxy_protocol_envoy_filter_test.go
  internal/reconciliations/istioresources/reconciliation.go
  internal/reconciliations/istioresources/reconciliation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix attempt param in the slack notification (#1445)
  .github/actions/slack-notification-failed-workflow/action.yaml
Due: none

fix: Warning should not happen when ReplicaSet is not ready
  pkg/lib/sidecars/restart/log_action.go
  pkg/lib/sidecars/restart/replica_set_action.go
  pkg/lib/sidecars/restart/restart_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Make channel unbuffered
  pkg/lib/sidecars/restart/restart_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

fix: Warning should not happen when ReplicaSet is not ready (#1447)
  pkg/lib/sidecars/restart/log_action.go
  pkg/lib/sidecars/restart/replica_set_action.go
  pkg/lib/sidecars/restart/restart_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)
