Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-operator-experimental-build: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

add docu
  docs/user/00-10-overview-istio-controller.md
  docs/user/00-15-overview-istio-setup.md
  docs/user/00-20-overview-service-mesh.md
  docs/user/00-30-overview-istio-sidecars.md
  docs/user/00-40-overview-istio-setup.md
  docs/user/00-50-resource-configuration.md
  docs/user/04-00-istio-custom-resource.md
  docs/user/README.md
  docs/user/technical-reference/05-00-istio-controller-parameters.md
  docs/user/troubleshooting/03-00-istio-basic-diagnostics.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
Due: none

update docu
  docs/assets/istio-controller-overview-user.svg
  docs/assets/istio-module-architecture.svg
  docs/user/00-10-overview-istio-controller.md
  docs/user/00-15-overview-istio-setup.md
  docs/user/00-18-istio-version.md
  docs/user/00-20-istio-sidecar-proxies.md
  docs/user/04-00-istio-custom-resource.md
  docs/user/README.md
  docs/user/operation-guides/README.md
  docs/user/troubleshooting/03-00-istio-basic-diagnostics.md
  docs/user/troubleshooting/03-10-503-no-access.md
  docs/user/troubleshooting/03-20-connection-refused.md
  docs/user/troubleshooting/03-30-istio-no-sidecar.md
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  docs/user/troubleshooting/03-60-404-on-istio-gateway.md
  docs/user/troubleshooting/03-70-reconciliation-fails-on-istio-install.md
  docs/user/troubleshooting/README.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
  docs/user/tutorials/01-10-external-authorization-provider.md
  docs/user/tutorials/01-30-expose-tcp-gateway-api.md
  docs/user/tutorials/01-35-check-if-sidecar-injection-is-enabled.md
  docs/user/tutorials/01-40-enable-sidecar-injection.md
  docs/user/tutorials/01-45-enable-istio-access-logs.md
Due: none

update docs
  docs/user/00-15-overview-istio-setup.md
  docs/user/00-20-istio-sidecar-proxies.md
  docs/user/tutorials/01-35-check-if-sidecar-injection-is-enabled.md
  docs/user/tutorials/01-40-enable-sidecar-injection.md
  docs/user/tutorials/01-45-enable-istio-access-logs.md
Due: none

adjust to HP structure
  docs/assets/sidecar-analysis.sh
  docs/user/troubleshooting/03-40-incompatible-istio-sidecar-version.md
  docs/user/troubleshooting/03-50-recovering-from-unintentional-istio-removal.md
  docs/user/troubleshooting/03-80-cannot-connect-to-hana-db.md
  docs/user/tutorials/01-00-x-forwarded-for-header.md
Due: none

update sidear analysis scrypt
  docs/assets/sidecar-analysis.sh
Due: none

chore: merge gitleaks job into pull-request.yaml
  .github/workflows/pull-gitleaks.yaml
  .github/workflows/pull-request.yaml
Due: none

Remove support for disable external name alias annotation (#1071)
  api/v1alpha2/compatibility_mode_test.go
  api/v1alpha2/istio_merge.go
  api/v1alpha2/merge_test.go
  docs/release-notes/1.10.0.md
  docs/user/04-00-istio-custom-resource.md
  internal/istiooperator/merge_experimental_test.go
  pkg/lib/annotations/annotations.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

chore: merge gitleaks job into pull-request.yaml (#1078)
  .github/workflows/pull-gitleaks.yaml
  .github/workflows/pull-request.yaml
Due: none

docs: update ci/cd docs
  docs/contributor/04-30-ci-cd.md
Due: none

docs: update ci/cd docs (#1079)
  docs/contributor/04-30-ci-cd.md
Due: none

Refactor main test suite into more granular ones
  Makefile
  tests/integration/features/aws-suite/xff_header.feature
  tests/integration/features/configuration-suite/configuration.feature
  tests/integration/features/evaluation-suite/install.feature
  tests/integration/features/gcp-suite/xff_header.feature
  tests/integration/features/installation-suite/install.feature
  tests/integration/features/installation-suite/uninstall.feature
  tests/integration/features/istio/production/main-suite/istio_resources.feature
  tests/integration/features/istio/production/main-suite/istio_sidecars.feature
  tests/integration/features/mesh-communication-suite/mesh_communication.feature
  tests/integration/features/observability-suite/observability.feature
  tests/integration/features/upgrade-suite/istio_upgrade.feature
  tests/integration/main_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix bug
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add new matrix executions to main, PR and Release PR workflows
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-release.yaml
  .github/workflows/pull-integration.yaml
Due: none

Add matrix executions to Gardener integration test jobs
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-gardener-release.yaml
  .github/workflows/pull-integration-gardener.yaml
  hack/ci/gardener-integration.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add HA controlplane for Gardener integration test clusters
  hack/ci/shoot_aws.yaml
  hack/ci/shoot_gcp.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update sec-scanners-config.yaml (#1081)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update docs/release-notes/1.10.0.md
  docs/release-notes/1.10.0.md
Due: none

Revert name change of old integration test make target
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Bring back removed AWS test make target
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Refactor main test suite into more granular ones (#1080)
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-gardener-release.yaml
  .github/workflows/pull-integration-gardener.yaml
  .github/workflows/pull-integration-release.yaml
  .github/workflows/pull-integration.yaml
  Makefile
  hack/ci/gardener-integration.sh
  hack/ci/shoot_aws.yaml
  hack/ci/shoot_gcp.yaml
  tests/integration/features/aws-suite/xff_header.feature
  tests/integration/features/configuration-suite/configuration.feature
  tests/integration/features/evaluation-suite/install.feature
  tests/integration/features/gcp-suite/xff_header.feature
  tests/integration/features/installation-suite/install.feature
  tests/integration/features/installation-suite/uninstall.feature
  tests/integration/features/istio/production/main-suite/istio_resources.feature
  tests/integration/features/istio/production/main-suite/istio_sidecars.feature
  tests/integration/features/mesh-communication-suite/mesh_communication.feature
  tests/integration/features/observability-suite/observability.feature
  tests/integration/features/upgrade-suite/istio_upgrade.feature
  tests/integration/main_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Remove test because it was added just for sane-keeping. Already existing upgrade test should catch errors if manifest can not be applied
  tests/integration/features/upgrade-suite/istio_upgrade.feature
  tests/integration/scenario.go
  tests/integration/steps/operator.go
  tests/integration/steps/operator_failing_manifest.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add CA certs plug-in guide
  docs/user/operation-guides/02-40-plug-in-root-ca.md
  docs/user/troubleshooting/03-90-istio-cert-unknown.md
Due: none

Remove test because it was added just for sane-keeping. Already existing upgrade test should catch errors if manifest can not be applied (#1082)
  tests/integration/features/upgrade-suite/istio_upgrade.feature
  tests/integration/scenario.go
  tests/integration/steps/operator.go
  tests/integration/steps/operator_failing_manifest.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update CI/CD docs links and description for integration tests
  docs/contributor/04-30-ci-cd.md
Due: none

Update 03-90-istio-cert-unknown.md
  docs/user/troubleshooting/03-90-istio-cert-unknown.md
Due: none

Delete docs/user/operation-guides/02-40-plug-in-root-ca.md
  docs/user/operation-guides/02-40-plug-in-root-ca.md
Due: none

Update CI/CD docs links and description for integration tests (#1084)
  docs/contributor/04-30-ci-cd.md
Due: none

Add a zero downtime upgrade test
  Makefile
  tests/integration/features/upgrade-suite/istio_upgrade.feature
  tests/integration/main_test.go
  tests/integration/scenario.go
  tests/integration/scripts/test-zero-downtime.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Make it executable
  tests/integration/scripts/test-zero-downtime.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update version, exec
  .github/actions/upgrade-integration-test/action.yaml
Due: none

Remove script
  tests/integration/scripts/test-zero-downtime.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add test script
  Makefile
  tests/integration/scripts/test-zero-downtime-upgrade.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix path to script
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Increase wait time for host to be available
  tests/integration/scripts/test-zero-downtime-upgrade.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Update script to wait for virtual service
  tests/integration/scripts/test-zero-downtime-upgrade.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Run zero downtime always against local host
  tests/integration/scripts/test-zero-downtime-upgrade.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Fix failing zero downtime test
  tests/integration/features/upgrade-suite/istio_upgrade.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build

Add fail fast on Gardener clusters
  tests/integration/scripts/test-zero-downtime-upgrade.sh
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-operator-experimental-build
