Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration-aws-specific: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

Adjust resource tests
  tests/integration/steps/istio.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Do not overwrite package var value in tests
  docs/user/tutorials/01-10-external-authorization-provider.md
  internal/reconciliations/istio/installation.go
  internal/resources/istio_resources_finder.go
  internal/resources/istio_resources_finder_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Adjust resource tests
  tests/integration/features/istio/evaluation/istio_installation_demo.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

reduce code duplication when parsing istio version
  internal/restarter/sidecars.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Adjust resource tests
  tests/integration/features/istio/production/main-suite/istio_installation.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Change guide to topic oriented
  docs/user/troubleshooting/first-troubleshooting-guide.md
Due: none

Update docs/user/troubleshooting/first-troubleshooting-guide.md
  docs/user/troubleshooting/first-troubleshooting-guide.md
Due: none

- Update controller-tools version - Use go-version from go.mod in workflows and actions
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/main-cache.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/performance-test.yaml
  .github/workflows/pull-integration-gardener.yaml
  .github/workflows/pull-request.yaml
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Run UI tests on electron to fix test issues
  tests/ui/package.json
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update controller-tools (#683)
  .github/actions/integration-test/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-integration-test/action.yaml
  .github/workflows/main-cache.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/performance-test.yaml
  .github/workflows/pull-integration-gardener.yaml
  .github/workflows/pull-request.yaml
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_istios.yaml
  tests/ui/package.json
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update to go 1.22
  .github/workflows/ui-tests.yaml
  go.mod
  pkg/lib/sidecars/test/helpers/helpers.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Apply review suggestions
  docs/user/troubleshooting/first-troubleshooting-guide.md
Due: none

Bind manager metrics to address :8080
  config/manager/manager.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update managers metrics address
  config/manager/manager.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Bind manager metrics to address :8080 (#684)
  config/manager/manager.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update to go 1.22 (#682)
  .github/workflows/ui-tests.yaml
  go.mod
  pkg/lib/sidecars/test/helpers/helpers.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

release notes
  docs/release-notes/1.4.1.md
Due: none

release notes
  docs/release-notes/1.3.3.md
Due: none

Update managers metrics address (#686)
  config/manager/manager.yaml
  docs/release-notes/1.4.1.md
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update managers metrics address (#685)
  config/manager/manager.yaml
  docs/release-notes/1.3.3.md
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Apply review suggestions
  docs/user/troubleshooting/03-00-istio-basic-diagnostics.md
Due: none

load-testing-update
  tests/performance/load-testing/Chart.lock
  tests/performance/load-testing/Chart.yaml
  tests/performance/load-testing/templates/httpbin.yaml
  tests/performance/load-testing/templates/vs-grafana.yaml
Due: none

Remove referer
  controllers/istio_controller.go
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer.go
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer.yaml
  internal/reconciliations/istio_resources/envoy_filter_allow_partial_referer_test.go
  internal/reconciliations/istio_resources/reconciliation.go
  internal/reconciliations/istio_resources/reconciliation_test.go
  internal/restarter/ingress_gateway_test.go
  tests/integration/features/istio/production/main-suite/istio_installation.feature
  tests/integration/features/istio/production/main-suite/istio_resources.feature
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Fix links to sections in Technical Design
  docs/contributor/04-10-technical-design.md
Due: none

Fix links to sections in Technical Design (#687)
  docs/contributor/04-10-technical-design.md
Due: none

Refactor / state
  Dockerfile
  api/v1alpha2/resources_test.go
  controllers/istio_controller.go
  controllers/istio_controller_test.go
  docs/user/operation-guides/02-30-enable-istio-access-logs.md
  internal/istiooperator/istio-operator-light.yaml
  internal/istiooperator/istio-operator.yaml
  internal/istiooperator/istiooperator.go
  internal/manifest/manifest.go
  internal/manifest/manifest_test.go
  internal/manifest/test/test-operator.yaml
  internal/manifest/test/wrong-operator.yaml
  internal/manifest/version.go
  internal/manifest/version_test.go
  internal/reconciliations/istio/configuration.go
  internal/reconciliations/istio/installation.go
  internal/reconciliations/istio/installation_test.go
  internal/resources/apply.go
  internal/resources/istio_resources_finder_test.go
  internal/restarter/sidecars.go
  internal/restarter/sidecars_test.go
  tests/integration/steps/deployment.go
  tests/integration/steps/resource.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Update docs/user/troubleshooting/03-00-istio-basic-diagnostics.md
  docs/user/troubleshooting/03-00-istio-basic-diagnostics.md
Due: none

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update sec-scanners-config.yaml (#689)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Retry metadata label
  internal/reconciliations/istio/metadata.go
  internal/reconciliations/istio_resources/reconciliation.go
  internal/restarter/ingress_gateway.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Bump Go and controlle-gen
  controllers/istio_controller_test.go
  internal/manifest/manifest.go
  internal/manifest/manifest_test.go
  internal/reconciliations/istio/installation.go
  internal/reconciliations/istio/installation_test.go
  internal/restarter/sidecars.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Use merge instead of strategic merge
  internal/reconciliations/istio/metadata.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Comment
  internal/reconciliations/istio/metadata.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Override patch method
  internal/reconciliations/istio/installation_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

More refactor
  internal/reconciliations/istio/installation.go
  internal/reconciliations/istio/installation_test.go
  internal/resources/istio_resources_finder.go
  internal/resources/istio_resources_finder_test.go
  internal/resources/test_files/test_resources_list.yaml
  internal/resources/test_files/test_wrong_resources_list.yaml
  internal/restarter/sidecars.go
  internal/restarter/sidecars_test.go
  pkg/lib/gatherer/gatherer.go
  pkg/lib/gatherer/gatherer_test.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, post-istio-integration-aws-specific

Apply suggestions from code review
  docs/user/troubleshooting/03-00-istio-basic-diagnostics.md
Due: none
