Repository kyma-project/istio: changes, and which Prow jobs are due for each by the changed paths.
All: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test, pull-istio-checkconfig, pull-istio-pjconfigtest, pull-istio-pjtester, pull-istio-vpathguard

Path conditions:
  pull-istio-integration: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-integration-evaluation: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-istio-integration: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-operator-integration-gcp: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-module-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  post-istio-operator-build: (unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.) or (unless all of: ^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.)
  pull-istio-test: unless all of: sec-scanners-config\.yaml$|^docs/|^tests/performance/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-istio-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-istio-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-istio-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-istio-vpathguard: any of: ^(vpath/pjtester.yaml)

madify default istio setup doc
  docs/user/00-30-istio-sidecars.md
  docs/user/01-50-default-istio-setup.md
  docs/user/04-40-incompatible-istio-sidecar-version.md
Due: none

fix the list in 503
  docs/user/04-10-troubleshooting-503-no-access.md
  docs/user/04-40-troubleshooting-istio-sidecar-version.md
Due: none

change files' names
  docs/user/01-60-enable-sidecar-injection.md
  docs/user/04-10-503-no-access.md
  docs/user/04-20-connection-refused.md
  docs/user/04-30-istio-no-sidecar.md
  docs/user/04-40-istio-sidecar-version.md
Due: none

remove duplicated doc and unnecessary comment
  docs/user/04-10-503-no-access.md
  docs/user/04-40-istio-sidecar-version.md
Due: none

change a variable's name
  docs/user/04-40-incompatible-istio-sidecar-version.md
Due: none

improve observability
  docs/user/00-30-istio-sidecars.md
Due: none

make links relative, update the sidebar
  docs/contributor/04-10-technical-design.md
  docs/user/00-10-overview-istio-controller.md
  docs/user/00-20-overview-service-mesh.md
  docs/user/00-30-overview-istio-sidecars.md
  docs/user/00-40-overview-istio-setup.md
  docs/user/01-50-enable-sidecar-injection.md
  docs/user/04-30-istio-no-sidecar.md
  docs/user/04-40-incompatible-istio-sidecar-version.md
  docs/user/README.md
  docs/user/_sidebar.md
Due: none

small fixes
  docs/user/00-30-overview-istio-sidecars.md
  docs/user/00-40-overview-istio-setup.md
  docs/user/01-50-enable-sidecar-injection.md
  docs/user/04-10-503-no-access.md
  docs/user/04-30-istio-no-sidecar.md
  docs/user/04-40-incompatible-istio-sidecar-version.md
Due: none

Add cicd docs (#313)
  docs/contributor/04-30-ci-cd.md
Due: none

Apply suggestions from code review
  docs/contributor/04-10-technical-design.md
  docs/user/00-10-overview-istio-controller.md
  docs/user/00-20-overview-service-mesh.md
  docs/user/04-10-503-no-access.md
  docs/user/04-30-istio-no-sidecar.md
  docs/user/04-40-incompatible-istio-sidecar-version.md
Due: none

Bump img for security scans
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Apply Iwona's suggestions
  docs/user/00-20-overview-service-mesh.md
  docs/user/00-30-overview-istio-sidecars.md
  docs/user/00-40-overview-istio-setup.md
  docs/user/01-40-ingress-egress-traffic.md
  docs/user/01-50-enable-sidecar-injection.md
  docs/user/04-10-503-no-access.md
  docs/user/04-20-connection-refused.md
  docs/user/04-30-istio-no-sidecar.md
  docs/user/04-40-incompatible-istio-sidecar-version.md
Due: none

fix a link
  docs/user/01-40-ingress-egress-traffic.md
Due: none

improve diagram
  docs/assets/istio-installation-reconciliation.svg
Due: none

Update docs/user/01-40-ingress-egress-traffic.md
  docs/user/01-40-ingress-egress-traffic.md
Due: none

Copy documentation from Kyma to the module's repo (#301)
  docs/assets/istio-installation-reconciliation.svg
  docs/assets/sidecar-analysis.sh
  docs/contributor/04-10-technical-design.md
  docs/user/00-10-overview-istio-controller.md
  docs/user/00-20-overview-service-mesh.md
  docs/user/00-30-overview-istio-sidecars.md
  docs/user/00-40-overview-istio-setup.md
  docs/user/01-20-istio-custom-resource.md
  docs/user/01-40-ingress-egress-traffic.md
  docs/user/01-50-enable-sidecar-injection.md
  docs/user/04-10-503-no-access.md
  docs/user/04-20-connection-refused.md
  docs/user/04-30-istio-no-sidecar.md
  docs/user/04-40-incompatible-istio-sidecar-version.md
  docs/user/04-50-recovering-from-unintentional-istio-module-removal.md
  docs/user/README.md
  docs/user/_sidebar.md
Due: none

Add istio sidecar injection test
  config/manager/kustomization.yaml
  tests/integration/features/istio/production/main-suite/istio_configuration.feature
  tests/integration/features/istio/production/main-suite/istio_installation.feature
  tests/integration/features/istio/production/main-suite/istio_resources.feature
  tests/integration/features/istio/production/main-suite/istio_sidecars.feature
  tests/integration/features/istio/production/upgrade-suite/istio_upgrade.feature
  tests/integration/scenario.go
  tests/integration/steps/istio.go
  tests/integration/steps/resource.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Bump img for security scans (#324)
  sec-scanners-config.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build

Update kustomization.yaml
  config/manager/kustomization.yaml
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update go mod with k8s 0.28.0
  go.mod
  go.sum
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update step
  tests/integration/scenario.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Update deprecated
  api/v1alpha1/resources_test.go
  controllers/istio_controller_test.go
  tests/integration/steps/deployment.go
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Fix error badge
  config/ui-extensions/istios/details
  config/ui-extensions/istios/list
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Badge colors
  config/ui-extensions/istios/details
  config/ui-extensions/istios/list
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

Create 04-60-404-on-istio-gateway.md
  docs/user/04-60-404-on-istio-gateway.md
Due: none

--kubebuilder-project
  Makefile
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

add folders, remove module mentions
  README.md
  docs/user/00-20-overview-service-mesh.md
  docs/user/00-overview/00-10-overview-istio-controller.md
  docs/user/00-overview/00-20-overview-service-mesh.md
  docs/user/00-overview/00-30-overview-istio-sidecars.md
  docs/user/00-overview/00-40-overview-istio-setup.md
  docs/user/00-overview/_sidebar.md
  docs/user/01-configuration/01-10-istio-controller-parameters.md
  docs/user/01-configuration/01-30-resource-configuration.md
  docs/user/01-configuration/_sidebar.md
  docs/user/02-operations/01-40-ingress-egress-traffic.md
  docs/user/02-operations/01-50-enable-sidecar-injection.md
  docs/user/02-operations/_sidebar.md
  docs/user/03-troubleshooting/04-10-503-no-access.md
  docs/user/03-troubleshooting/04-20-connection-refused.md
  docs/user/03-troubleshooting/04-30-istio-no-sidecar.md
  docs/user/03-troubleshooting/04-40-incompatible-istio-sidecar-version.md
  docs/user/03-troubleshooting/04-50-recovering-from-unintentional-istio-module-removal.md
  docs/user/03-troubleshooting/_sidebar.md
  docs/user/04-technical-reference/01-20-istio-custom-resource.md
  docs/user/README.md
  docs/user/_sidebar.md
Due: none

correct tha main readme
  README.md
Due: none

fix links
  README.md
  docs/user/00-overview/00-10-overview-istio-controller.md
  docs/user/00-overview/00-30-overview-istio-sidecars.md
  docs/user/00-overview/00-40-overview-istio-setup.md
  docs/user/00-overview/README.md
  docs/user/01-configuration/01-20-resource-configuration.md
  docs/user/01-configuration/_sidebar.md
  docs/user/02-operations/02-10-ingress-egress-traffic.md
  docs/user/02-operations/02-20-enable-sidecar-injection.md
  docs/user/02-operations/_sidebar.md
  docs/user/03-troubleshooting/03-10-503-no-access.md
  docs/user/03-troubleshooting/03-20-connection-refused.md
  docs/user/03-troubleshooting/03-30-istio-no-sidecar.md
  docs/user/03-troubleshooting/03-40-incompatible-istio-sidecar-version.md
  docs/user/03-troubleshooting/03-50-recovering-from-unintentional-istio-module-removal.md
  docs/user/03-troubleshooting/README.md
  docs/user/03-troubleshooting/_sidebar.md
  docs/user/04-technical-reference/04-10-istio-custom-resource.md
  docs/user/README.md
Due: none

Fix error badge (#332)
  Makefile
  config/ui-extensions/istios/details
  config/ui-extensions/istios/list
Due: pull-istio-integration, pull-istio-integration-evaluation, post-istio-integration, pull-istio-module-build, pull-istio-operator-build, pull-istio-operator-integration-gcp, post-istio-module-build, post-istio-operator-build, pull-istio-test

test docsify
  docs/user/00-overview/_sidebar.md
Due: none

docsify test
  docs/user/00-overview/_sidebar.md
Due: none

test docsify
  docs/user/03-troubleshooting/_sidebar.md
Due: none

docsify test
  docs/user/03-troubleshooting/_sidebar.md
Due: none

fix sidebar
  docs/user/03-troubleshooting/_sidebar.md
Due: none
