Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

prow/test-infra/bootstrap:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-golang:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-node:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/cleaner:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

test-infra-bootstrap:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-bootstrap-helm:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-golang:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-node:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-development-tools:
  labels:
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      command:
      - make
      args:
      - -C
      - development/tools
      - validate

Add tests
  development/tools/jobs/kyma/kyma_integration_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Ip dns removal tool (#572)
  development/tools/Gopkg.lock
  development/tools/cmd/dnscollector/README.md
  development/tools/cmd/dnscollector/main.go
  development/tools/pkg/dnscollector/automock/compute_api.go
  development/tools/pkg/dnscollector/automock/dnsapi.go
  development/tools/pkg/dnscollector/collector.go
  development/tools/pkg/dnscollector/collector_test.go
  development/tools/pkg/dnscollector/wrappers.go
Due: test-infra-development-tools, test-infra-governance

Implement suggestions
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Create prowjob for dnscollector (#586)
  development/dns-cleanup.sh
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Apply suggestions from code review
  development/custom-image/README.md
Due: test-infra-governance

console app log-ui CI job, initial commit (#587)
  development/tools/jobs/console/log-ui_test.go
  prow/jobs/console/log-ui/log-ui.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Update provision-vm-and-start-kyma.sh
  prow/scripts/provision-vm-and-start-kyma.sh
Due: prow/test-infra/validate-scripts

Add test_infra_ref anchor
  prow/jobs/kyma/tools/docsbuilder/docsbuilder.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add test_infra_ref anchor
  prow/jobs/kyma/tools/failery/failery.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add job_labels_template anchor
  prow/jobs/kyma/tools/failery/failery.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add test_infra_ref anchor
  prow/jobs/kyma/tools/gcp-broker-provider/gcp-broker-provider.yaml
  prow/jobs/kyma/tools/load-test/load-test.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Remove always_run
  prow/jobs/kyma/tools/failery/failery.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Remove always_run
  prow/jobs/kyma/tools/gcp-broker-provider/gcp-broker-provider.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Remove always_run
  prow/jobs/kyma/tools/load-test/load-test.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Fix some tests
  development/tools/jobs/kyma/docsbuilder_test.go
  development/tools/jobs/kyma/failery_test.go
  development/tools/jobs/kyma/load_test_test.go
  development/tools/jobs/kyma/tools/gcp_broker_provider_test.go
  development/tools/jobs/testinfra/branchprotector_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Fix some tests
  development/tools/jobs/kyma/failery_test.go
  development/tools/jobs/kyma/load_test_test.go
  development/tools/jobs/kyma/tools/gcp_broker_provider_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Fix some tests
  development/tools/jobs/kyma/kyma_github-release_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Fix some tests
  development/tools/jobs/tester/tester.go
  prow/jobs/kyma/kyma-github-release.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Fix some tests
  development/tools/jobs/testinfra/branchprotector_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Fix some tests
  development/tools/jobs/tester/tester.go
  development/tools/jobs/testinfra/branchprotector_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Provide first controller implemenation
  development/prow-addons-ctrl-manager/.gitignore
  development/prow-addons-ctrl-manager/Dockerfile
  development/prow-addons-ctrl-manager/Gopkg.lock
  development/prow-addons-ctrl-manager/Gopkg.toml
  development/prow-addons-ctrl-manager/Makefile
  development/prow-addons-ctrl-manager/PROJECT
  development/prow-addons-ctrl-manager/cmd/manager/main.go
  development/prow-addons-ctrl-manager/config/default/kustomization.yaml
  development/prow-addons-ctrl-manager/config/default/manager_auth_proxy_patch.yaml
  development/prow-addons-ctrl-manager/config/default/manager_image_patch.yaml
  development/prow-addons-ctrl-manager/config/default/manager_prometheus_metrics_patch.yaml
  development/prow-addons-ctrl-manager/config/manager/manager.yaml
  development/prow-addons-ctrl-manager/config/rbac/auth_proxy_role.yaml
  development/prow-addons-ctrl-manager/config/rbac/auth_proxy_role_binding.yaml
  development/prow-addons-ctrl-manager/config/rbac/auth_proxy_service.yaml
  development/prow-addons-ctrl-manager/config/rbac/rbac_role.yaml
  development/prow-addons-ctrl-manager/config/rbac/rbac_role_binding.yaml
  development/prow-addons-ctrl-manager/hack/boilerplate.go.txt
  development/prow-addons-ctrl-manager/pkg/apis/addtoscheme_prowjobs_v1.go
  development/prow-addons-ctrl-manager/pkg/apis/apis.go
  development/prow-addons-ctrl-manager/pkg/controller/add_notifier.go
  development/prow-addons-ctrl-manager/pkg/controller/controller.go
  development/prow-addons-ctrl-manager/pkg/controller/notifier/notifier_controller.go
  development/prow-addons-ctrl-manager/pkg/controller/notifier/notifier_controller_test.go
  development/prow-addons-ctrl-manager/pkg/controller/notifier/prowjob_controller_suite_test.go
  development/prow-addons-ctrl-manager/pkg/slack/reporter.go
  development/prow-addons-ctrl-manager/pkg/slack/reporter_test.go
  development/prow-addons-ctrl-manager/test.log
  development/tools/jobs/tester/tester.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Finialize slack reporter implementation
  development/prow-addons-ctrl-manager/Dockerfile
  development/prow-addons-ctrl-manager/Gopkg.toml
  development/prow-addons-ctrl-manager/Makefile
  development/prow-addons-ctrl-manager/config/default/kustomization.yaml
  development/prow-addons-ctrl-manager/config/default/manager_env_patch.yaml
  development/prow-addons-ctrl-manager/config/default/manager_image_patch.yaml
  development/prow-addons-ctrl-manager/config/default/rbac_role_binding.yaml
  development/prow-addons-ctrl-manager/config/deploy/deploy.yaml
  development/prow-addons-ctrl-manager/config/manager/manager.yaml
  development/prow-addons-ctrl-manager/config/rbac/rbac_role.yaml
  development/prow-addons-ctrl-manager/pkg/controller/notifier/notifier_controller.go
  development/prow-addons-ctrl-manager/pkg/slack/reporter.go
  development/prow-addons-ctrl-manager/pkg/slack/reporter_test.go
  development/prow-addons-ctrl-manager/test.log
Due: none

Fixing deploy resources
  development/prow-addons-ctrl-manager/Gopkg.lock
  development/prow-addons-ctrl-manager/Gopkg.toml
  development/prow-addons-ctrl-manager/Makefile
  development/prow-addons-ctrl-manager/config/deploy/deploy.yaml
  development/prow-addons-ctrl-manager/config/manager/manager.yaml
  development/prow-addons-ctrl-manager/config/rbac/rbac_role.yaml
  development/tools/jobs/tester/tester.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Fix rbac
  development/prow-addons-ctrl-manager/config/deploy/deploy.yaml
  development/prow-addons-ctrl-manager/config/rbac/rbac_role.yaml
  development/prow-addons-ctrl-manager/pkg/controller/notifier/notifier_controller.go
Due: none

Fix rbac
  development/prow-addons-ctrl-manager/pkg/controller/notifier/notifier_controller_test.go
  development/prow-addons-ctrl-manager/pkg/controller/notifier/prowjob_controller_suite_test.go
Due: none

Add missing presets
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Temporary increase frequency
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Fix typo
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add missing presets (#593)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

WIP for test suite
  development/prow-addons-ctrl-manager/Dockerfile
  development/prow-addons-ctrl-manager/Gopkg.lock
  development/prow-addons-ctrl-manager/Gopkg.toml
  development/prow-addons-ctrl-manager/config/crds/prowjob.yaml
  development/prow-addons-ctrl-manager/pkg/controller/notifier/prowjob_controller_suite_test.go
Due: none

Disable dry-run'
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Revert to previous cron
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Disable dry-run for dnscollector (#594)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Code review fixes
  development/tools/jobs/tester/tester.go
  prow/RELEASE_VERSION
  prow/config.yaml
  prow/jobs/kyma/components/application-operator/application-operator.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Fix tests
  development/tools/jobs/testinfra/branchprotector_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Add prow-addons-ctrl job and slack token secret information and checks
  development/tools/jobs/testinfra/prow_addons_ctrl_manager_test.go
  docs/prow/presets.md
  docs/prow/prow-installation-on-forks.md
  prow/cluster/required-secrets.yaml
  prow/config.yaml
  prow/jobs/test-infra/prow-addons-ctrl-manager.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Fix tests
  development/tools/jobs/kyma/kyma_github-release_test.go
  development/tools/jobs/tester/tester.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  test-infra-governance: any of: milv.config.yaml|.md$
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: (any of: prow/(plugins|config).yaml) or (any of: ^prow/((plugins|config).yaml|jobs/))
