Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow, cert-job

prow/test-infra/bootstrap:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-golang:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-node:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/cleaner:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

test-infra-bootstrap:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-bootstrap-helm:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-golang:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-node:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-development-tools:
  labels:
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      command:
      - make
      args:
      - -C
      - development/tools
      - validate

fixing more bash syntax error
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

fixing bash linting errors
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

fixing bash lint issues
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

in process of solving recursive issue
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

wrong cleaner "
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

cron change
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

...
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Temp disable fw cleaner (#875)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

update triggered jobs when there are changes in components/react
  prow/jobs/console/brokers/brokers.yaml
  prow/jobs/console/catalog/catalog.yaml
  prow/jobs/console/content/content.yaml
  prow/jobs/console/instances/instances.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

update tests
  development/tools/jobs/console/brokers_test.go
  development/tools/jobs/console/catalog_test.go
  development/tools/jobs/console/content_test.go
  development/tools/jobs/console/instances_test.go
  prow/jobs/console/brokers/brokers.yaml
  prow/jobs/console/catalog/catalog.yaml
  prow/jobs/console/content/content.yaml
  prow/jobs/console/instances/instances.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

fix tests
  development/tools/jobs/console/brokers_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Update triggered jobs when there are changes in console/components/react (#876)
  development/tools/jobs/console/brokers_test.go
  development/tools/jobs/console/catalog_test.go
  development/tools/jobs/console/content_test.go
  development/tools/jobs/console/instances_test.go
  prow/jobs/console/brokers/brokers.yaml
  prow/jobs/console/catalog/catalog.yaml
  prow/jobs/console/content/content.yaml
  prow/jobs/console/instances/instances.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

rename knative-serving-acceptance to knative-serving
  development/tools/jobs/kyma/knative_serving_acceptance_test.go
  prow/jobs/kyma/tests/knative-serving/knative-serving.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

fix typo
  prow/jobs/kyma/tests/knative-serving/knative-serving.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

rename knative-serving-acceptance to knative-serving (#878)
  development/tools/jobs/kyma/knative_serving_acceptance_test.go
  prow/jobs/kyma/tests/knative-serving/knative-serving.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

added test code to master
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

fixing linting issues
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

adding aks-long-lasting and fixing linting issues
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

fixing linting issues
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Change base image for application broker job
  development/tools/jobs/kyma/application_broker_test.go
  prow/jobs/kyma/components/application-broker/application-broker.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Add ghproxy
  prow/cluster/04-branchprotector_cronjob.yaml
  prow/cluster/09-gce-ssd-retain_storageclass.yaml
  prow/cluster/10-ghproxy.yaml
  prow/cluster/README.md
  prow/cluster/starter.yaml
  prow/install-prow.sh
Due: test-infra-governance, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Remove lines
  prow/cluster/10-ghproxy.yaml
Due: pre-master-test-infra-validate-prow

Unify the way how release tests are executed
  development/tools/jobs/kyma/apiserver_proxy_test_test.go
  development/tools/jobs/kyma/application_broker_test.go
  development/tools/jobs/kyma/application_gateway_test.go
  development/tools/jobs/kyma/application_gateway_tests_test.go
  development/tools/jobs/kyma/application_proxy_test.go
  development/tools/jobs/kyma/asset_metadata_service_test.go
  development/tools/jobs/kyma/asset_store_controller_manager_test.go
  development/tools/jobs/kyma/asset_store_test_test.go
  development/tools/jobs/kyma/asset_upload_service_test.go
  development/tools/jobs/kyma/cluster_users_test.go
  development/tools/jobs/kyma/cms_controller_manager_test.go
  development/tools/jobs/kyma/connection_token_handler_test_test.go
  development/tools/jobs/kyma/connectivity_certs_controller_test.go
  development/tools/jobs/kyma/console_backend_service_test.go
  development/tools/jobs/kyma/console_backend_service_test_test.go
  development/tools/jobs/kyma/end_to_end_backup_restore_test_test.go
  development/tools/jobs/kyma/end_to_end_kubeless_integration_tests_test.go
  development/tools/jobs/kyma/end_to_end_upgrade_test.go
  development/tools/jobs/kyma/knative_serving_acceptance_test.go
  development/tools/jobs/kyma/monitoring_test.go
  development/tools/jobs/kyma/stability_checker_test.go
  development/tools/jobs/kyma/tools/gcp_broker_provider_test.go
  development/tools/jobs/kyma/watch_pods_test.go
  development/tools/jobs/tester/tester.go
  development/tools/jobs/testinfra/branchprotector_test.go
  development/tools/jobs/testinfra/stability_checker_test.go
  development/tools/jobs/testinfra/watch_pods_test.go
  prow/jobs/kyma/tests/knative-serving/knative-serving.yaml
  prow/jobs/test-infra/stability-checker.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Change base image for application broker job, unify tests (#880)
  development/tools/jobs/kyma/apiserver_proxy_test_test.go
  development/tools/jobs/kyma/application_broker_test.go
  development/tools/jobs/kyma/application_gateway_test.go
  development/tools/jobs/kyma/application_gateway_tests_test.go
  development/tools/jobs/kyma/application_proxy_test.go
  development/tools/jobs/kyma/asset_metadata_service_test.go
  development/tools/jobs/kyma/asset_store_controller_manager_test.go
  development/tools/jobs/kyma/asset_store_test_test.go
  development/tools/jobs/kyma/asset_upload_service_test.go
  development/tools/jobs/kyma/cluster_users_test.go
  development/tools/jobs/kyma/cms_controller_manager_test.go
  development/tools/jobs/kyma/connection_token_handler_test_test.go
  development/tools/jobs/kyma/connectivity_certs_controller_test.go
  development/tools/jobs/kyma/console_backend_service_test.go
  development/tools/jobs/kyma/console_backend_service_test_test.go
  development/tools/jobs/kyma/end_to_end_backup_restore_test_test.go
  development/tools/jobs/kyma/end_to_end_kubeless_integration_tests_test.go
  development/tools/jobs/kyma/end_to_end_upgrade_test.go
  development/tools/jobs/kyma/knative_serving_acceptance_test.go
  development/tools/jobs/kyma/monitoring_test.go
  development/tools/jobs/kyma/stability_checker_test.go
  development/tools/jobs/kyma/tools/gcp_broker_provider_test.go
  development/tools/jobs/kyma/watch_pods_test.go
  development/tools/jobs/tester/tester.go
  development/tools/jobs/testinfra/branchprotector_test.go
  development/tools/jobs/testinfra/stability_checker_test.go
  development/tools/jobs/testinfra/watch_pods_test.go
  prow/jobs/kyma/components/application-broker/application-broker.yaml
  prow/jobs/kyma/tests/knative-serving/knative-serving.yaml
  prow/jobs/test-infra/stability-checker.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

add new test for weekly/nightly
  development/tools/pkg/firewallcleaner/cleaner.go
  development/tools/pkg/firewallcleaner/cleaner_test.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

enable cleaner
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

switch out bash scripts for golang deletions
  development/tools/cmd/longlastingdnscleaner/main.go
  prow/scripts/cluster-integration/helpers/delete-dns-record.sh
  prow/scripts/cluster-integration/helpers/release-ip-address.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: test-infra-development-tools, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

shell lint
  prow/scripts/cluster-integration/helpers/delete-dns-record.sh
  prow/scripts/cluster-integration/helpers/release-ip-address.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

warnings from before
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

fixes
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Add missing flag
  prow/scripts/cluster-integration/kyma-gke-load-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Fix indents
  prow/scripts/cluster-integration/kyma-gke-load-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Apply suggestions from code review
  prow/cluster/README.md
Due: test-infra-governance, pre-master-test-infra-validate-prow

fix kyma-gke-upgrade.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

fix
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

fix do fixa
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Fix kyma-gke-upgrade.sh (#888)
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Add ghproxy (#881)
  prow/cluster/04-branchprotector_cronjob.yaml
  prow/cluster/09-gce-ssd-retain_storageclass.yaml
  prow/cluster/10-ghproxy.yaml
  prow/cluster/README.md
  prow/cluster/starter.yaml
  prow/install-prow.sh
Due: test-infra-governance, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Add missing tls flag (#886)
  prow/scripts/cluster-integration/kyma-gke-load-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  cert-job: any of: ^(development/.*.sh$|prow/.*.sh$)
