Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-bootstrap-helm, pre-test-infra-kyma-cluster-infra, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-golang-toolbox, pre-test-infra-buildpack-golang-kubebuilder, pre-test-infra-buildpack-golang-kubebuilder2, pre-test-infra-buildpack-node, pre-test-infra-buildpack-node-chromium, pre-test-infra-buildpack-java, pre-test-infra-buildpack-java-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-kubectl, pre-test-infra-prow-clonerefs, pre-test-infra-kyma-tools, post-test-infra-bootstrap, post-test-infra-bootstrap-helm, post-test-infra-kyma-cluster-infra, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-golang-toolbox, post-test-infra-buildpack-golang-kubebuilder, post-test-infra-buildpack-golang-kubebuilder2, post-test-infra-buildpack-node, post-test-infra-buildpack-node-chromium, post-test-infra-buildpack-java, post-test-infra-buildpack-java-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-kubectl, post-test-infra-prow-clonerefs, post-test-infra-kyma-tools, prow/test-infra/check_config, test-infra-development-tools, pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, pre-master-test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-tools, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files, pre-master-test-infra-validate-prow-installer-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  pre-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  pre-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  pre-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  pre-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  pre-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  pre-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  pre-test-infra-kyma-tools: any of: ^development/tools/
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  post-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  post-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  post-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  post-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  post-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  post-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  post-test-infra-kyma-tools: any of: ^development/tools/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-test-infra-image-syncer-validate: any of: ^(development/image-syncer)
  pre-master-test-infra-image-syncer-dry-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-test-infra-image-syncer-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  pre-master-test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  pre-test-infra-validate-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  post-test-infra-upload-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow-tools: any of: ^development/tools/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-master-test-infra-validate-prow-jobs: any of: ^(development/tools/jobs|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/

Corrected typo
  development/tools/pkg/pjtester/pjtester.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-validate-prow-tools

executed goimports
  development/tools/cmd/pjtester/main.go
  development/tools/cmd/secretspopulator/automock/decryptor.go
  development/tools/cmd/secretspopulator/automock/storage_reader.go
  development/tools/pkg/clusterscollector/automock/cluster_api.go
  development/tools/pkg/diskscollector/automock/disk_api.go
  development/tools/pkg/dnscleaner/automock/dnsapi.go
  development/tools/pkg/dnscollector/automock/compute_api.go
  development/tools/pkg/dnscollector/automock/dnsapi.go
  development/tools/pkg/firewallcleaner/automock/compute_api.go
  development/tools/pkg/gcscleaner/storage/automock/bucket_handle.go
  development/tools/pkg/gcscleaner/storage/automock/bucket_iterator.go
  development/tools/pkg/gcscleaner/storage/automock/client.go
  development/tools/pkg/gcscleaner/storage/automock/object_handle.go
  development/tools/pkg/gcscleaner/storage/automock/object_iterator.go
  development/tools/pkg/ipcleaner/automock/compute_api.go
  development/tools/pkg/orphanremover/automock/compute_api.go
  development/tools/pkg/pjtester/pjtester.go
  development/tools/pkg/vmscollector/automock/instances_api.go
  prow/images/prow-tools/Dockerfile
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-validate-prow-tools, pre-master-test-infra-validate-prow-jobs

Corrected prow-tools_image def name.
  prow/jobs/test-infra/pjtester.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

build.sh fix
  prow/scripts/build.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

First version of prowjob tester. (#2576)
  development/tools/Makefile
  development/tools/cmd/pjtester/main.go
  development/tools/cmd/secretspopulator/automock/decryptor.go
  development/tools/cmd/secretspopulator/automock/storage_reader.go
  development/tools/go.mod
  development/tools/go.sum
  development/tools/pkg/clusterscollector/automock/cluster_api.go
  development/tools/pkg/diskscollector/automock/disk_api.go
  development/tools/pkg/dnscleaner/automock/dnsapi.go
  development/tools/pkg/dnscollector/automock/compute_api.go
  development/tools/pkg/dnscollector/automock/dnsapi.go
  development/tools/pkg/firewallcleaner/automock/compute_api.go
  development/tools/pkg/gcscleaner/storage/automock/bucket_handle.go
  development/tools/pkg/gcscleaner/storage/automock/bucket_iterator.go
  development/tools/pkg/gcscleaner/storage/automock/client.go
  development/tools/pkg/gcscleaner/storage/automock/object_handle.go
  development/tools/pkg/gcscleaner/storage/automock/object_iterator.go
  development/tools/pkg/ipcleaner/automock/compute_api.go
  development/tools/pkg/orphanremover/automock/compute_api.go
  development/tools/pkg/pjtester/pjtester.go
  development/tools/pkg/vmscollector/automock/instances_api.go
  prow/config.yaml
  prow/images/prow-tools/Dockerfile
  prow/images/prow-tools/Makefile
  prow/jobs/test-infra/buildpack.yaml
  prow/jobs/test-infra/pjtester.yaml
  templates/templates/prow-config.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, prow/test-infra/check_config, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-tools, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

fix build arg key
  prow/images/prow-tools/Makefile
Due: pre-master-test-infra-validate-prow-jobs

Revert "Add prow-tools to buildpack-node image (#2573)"
  prow/images/buildpack-node/Dockerfile
Due: prow/test-infra/buildpack-node, pre-test-infra-buildpack-node, post-test-infra-buildpack-node, pre-master-test-infra-validate-prow-jobs

Revert "Bump buildpack-node image with prow-tools (#2577)"
  development/tools/jobs/tester/tester.go
  prow/jobs/console/components/react/react-components.yaml
  prow/jobs/examples/event-email-service/event-email-service.yaml
  prow/jobs/incubator/varkes/varkes.yaml
  prow/jobs/incubator/vstudio-extension/vstudio-extension.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

fix run if changed path
  prow/jobs/test-infra/pjtester.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Set job as optional.
  prow/jobs/test-infra/pjtester.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

build.sh fix (#2580)
  prow/scripts/build.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Revert buildpack node changes (#2583)
  development/tools/jobs/tester/tester.go
  prow/images/buildpack-node/Dockerfile
  prow/jobs/console/components/react/react-components.yaml
  prow/jobs/examples/event-email-service/event-email-service.yaml
  prow/jobs/incubator/varkes/varkes.yaml
  prow/jobs/incubator/vstudio-extension/vstudio-extension.yaml
Due: prow/test-infra/buildpack-node, pre-test-infra-buildpack-node, pre-test-infra-kyma-tools, post-test-infra-buildpack-node, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Fixed wrong image tag.
  prow/jobs/test-infra/buildpack.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Setup logging in pjtester. Moved checking of env vars presence to call it earlier.
  development/tools/pkg/pjtester/pjtester.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-validate-prow-tools

Fixed wrong image tag. (#2585)
  prow/jobs/test-infra/buildpack.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

edits to config
  prow/jobs/test-infra/testgrid-automation.yaml
  prow/testgrid-default.yaml
  templates/templates/testgrid-default.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Setup logging in pjtester. (#2588)
  development/tools/pkg/pjtester/pjtester.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-validate-prow-tools

fix build arg key (#2587)
  prow/images/prow-tools/Makefile
Due: pre-master-test-infra-validate-prow-jobs

Changed cluster.
  prow/jobs/test-infra/pjtester.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Added default pjpath and configpath. Added configPath to pjtester.yaml to support override prow config if needed.
  development/tools/pkg/pjtester/pjtester.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-validate-prow-tools

Changed cluster. (#2589)
  prow/jobs/test-infra/pjtester.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Added default pjpath and configpath. (#2591)
  development/tools/pkg/pjtester/pjtester.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-validate-prow-tools

Added missing env var.
  prow/jobs/test-infra/pjtester.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Added missing env var. (#2592)
  prow/jobs/test-infra/pjtester.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add whitesource scan for control-plane
  templates/config.yaml
Due: pre-master-test-infra-validate-generated-files

TestGrid dashboard renames (#2574)
  prow/jobs/control-plane/control-plane-gke-integration.yaml
  prow/jobs/control-plane/control-plane-gke-provisioner-integration.yaml
  prow/jobs/control-plane/control-plane-integration.yaml
  prow/jobs/incubator/compass/compass-gke-integration.yaml
  prow/jobs/incubator/compass/compass-integration.yaml
  prow/jobs/kyma/kyma-github-release.yaml
  prow/jobs/kyma/kyma-gke-compass-integration.yaml
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/jobs/kyma/kyma-release-candidate.yaml
  prow/jobs/test-infra/testgrid-automation.yaml
  prow/testgrid-default.yaml
  templates/templates/compass-gke-integration.yaml
  templates/templates/compass-integration.yaml
  templates/templates/kyma-github-release.yaml
  templates/templates/kyma-gke-compass-integration.yaml
  templates/templates/kyma-integration-gardener.yaml
  templates/templates/kyma-integration.yaml
  templates/templates/kyma-release-candidate.yaml
  templates/templates/testgrid-default.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add init containers to list
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Update images list artifact (#2594)
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Revert changes
  prow/scripts/build-kyma-artifacts.sh
  prow/scripts/build.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-external-registry.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Revert changes (#2595)
  prow/scripts/build-kyma-artifacts.sh
  prow/scripts/build.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-external-registry.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

release fixes cherry pick #2595
  prow/scripts/build-kyma-artifacts.sh
  prow/scripts/build.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-external-registry.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Increase upgrade timeout
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener-azure.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

release fixes cherry pick #2595 (#2596)
  prow/scripts/build-kyma-artifacts.sh
  prow/scripts/build.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-external-registry.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Increase upgrade timeout (#2597)
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener-azure.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

preset fix
  prow/jobs/kyma/kyma-artifacts.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

template
  templates/templates/kyma-artifacts.yaml
Due: pre-master-test-infra-validate-generated-files

Missing Preset (#2598)
  prow/jobs/kyma/kyma-artifacts.yaml
  templates/templates/kyma-artifacts.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Missing Preset (#2598) (#2600)
  prow/jobs/kyma/kyma-artifacts.yaml
  templates/templates/kyma-artifacts.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Initial documentation
  docs/prow/prow-k8s-testgrid.md
Due: pre-master-test-infra-governance
