Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

prow/test-infra/bootstrap:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-golang:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-node:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/cleaner:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

test-infra-bootstrap:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-bootstrap-helm:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-golang:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-node:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-development-tools:
  labels:
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      command:
      - make
      args:
      - -C
      - development/tools
      - validate

added pre-master-test-infra-validate-prow-installer-files job
  prow/jobs/test-infra/validation.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

fix before-commit.sh lint errors
  development/prow-installer/before-commit.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts

fix errors
  prow/jobs/test-infra/validation.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

integrated kubectl wrapper into installer
  development/prow-installer/cmd/installer/main.go
  development/prow-installer/cmd/k8s/main.go
  development/prow-installer/config/prow-installer-config.yaml
  development/prow-installer/pkg/cluster/cluster.go
  development/prow-installer/pkg/k8s/client.go
  development/prow-installer/pkg/kubectl/wrapper.go
Due: none

Revert config
  development/prow-installer/config/prow-installer-config.yaml
Due: none

removed privileged mode
  prow/jobs/test-infra/validation.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Validation job for prow installer (#2090)
  development/prow-installer/before-commit.sh
  development/prow-installer/pkg/secrets/secrets_test.go
  prow/jobs/test-infra/validation.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

resolve deps before scan
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

npm install
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

ws image
  prow/jobs/scans/whitesource-periodics.yaml
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

quotes
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

quotes
  prow/jobs/scans/whitesource-periodics.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

tmpl
  prow/jobs/scans/whitesource-periodics.yaml
  templates/templates/whitesource-periodics.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

removed wrapper_test.go
  development/prow-installer/pkg/kubectl/wrapper_test.go
Due: none

Console-Whitesource job
  prow/jobs/console/tests/console-tests.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Speedup gardener jobs by not waiting for deletion
  prow/scripts/cluster-integration/helpers/deprovision-gardener-cluster.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Speedup gardener jobs by not waiting for deletion (#2097)
  prow/scripts/cluster-integration/helpers/deprovision-gardener-cluster.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

fix
  development/tools/jobs/console/console_tests_test.go
  prow/jobs/console/tests/console-tests.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

specify exact version of client-go
  development/prow-installer/go.mod
  development/prow-installer/go.sum
Due: none

gnostic in version v0.4.0
  development/prow-installer/before-commit.sh
  development/prow-installer/go.mod
  development/prow-installer/go.sum
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts

golint fetch
  development/prow-installer/before-commit.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts

ensure that GOPATH/bin is in PATH
  development/prow-installer/before-commit.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts

remove not needed quote
  development/prow-installer/before-commit.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts

Console-whitesource scan (#2095)
  prow/jobs/scans/whitesource-periodics.yaml
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
  templates/templates/whitesource-periodics.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

job
  prow/jobs/console/tests/console-tests.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

vars
  prow/jobs/console/tests/console-tests.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

tests
  development/tools/jobs/console/console_tests_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Console-Whitesource job (#2096)
  development/tools/jobs/console/console_tests_test.go
  prow/jobs/console/tests/console-tests.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

sa
  prow/jobs/console/tests/console-tests.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

tests
  development/tools/jobs/console/console_tests_test.go
  prow/images/bootstrap/Dockerfile
  prow/images/kyma-cluster-infra/Dockerfile
Due: prow/test-infra/bootstrap, test-infra-bootstrap, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

rm
  prow/images/bootstrap/Dockerfile
  prow/images/kyma-cluster-infra/Dockerfile
Due: prow/test-infra/bootstrap, test-infra-bootstrap, pre-master-test-infra-validate-prow

Fix presets
  development/tools/jobs/console/console_tests_test.go
  prow/jobs/console/tests/console-tests.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Fix Whitesource npresets (#2100)
  development/tools/jobs/console/console_tests_test.go
  prow/jobs/console/tests/console-tests.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

optional job
  prow/jobs/console/tests/console-tests.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

optional job
  development/tools/jobs/console/console_tests_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Add new scans
  prow/jobs/scans/whitesource-periodics.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

optional job (#2101)
  development/tools/jobs/console/console_tests_test.go
  prow/jobs/console/tests/console-tests.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/
