Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-bootstrap-helm, pre-test-infra-kyma-cluster-infra, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-golang-toolbox, pre-test-infra-buildpack-golang-kubebuilder, pre-test-infra-buildpack-golang-kubebuilder2, pre-test-infra-buildpack-node, pre-test-infra-buildpack-node-chromium, pre-test-infra-buildpack-java, pre-test-infra-buildpack-java-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-kubectl, pre-test-infra-probot-stale, pre-test-infra-prow-tools, pre-test-infra-prow-clonerefs, post-test-infra-bootstrap, post-test-infra-bootstrap-helm, post-test-infra-kyma-cluster-infra, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-golang-toolbox, post-test-infra-buildpack-golang-kubebuilder, post-test-infra-buildpack-golang-kubebuilder2, post-test-infra-buildpack-node, post-test-infra-buildpack-node-chromium, post-test-infra-buildpack-java, post-test-infra-buildpack-java-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-kubectl, post-test-infra-probot-stale, post-test-infra-prow-tools, post-test-infra-prow-clonerefs, prow/test-infra/check_config, test-infra-development-tools, pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, pre-master-test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, pre-master-test-log-collector, post-master-test-log-collector, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-tools, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files, pre-master-test-infra-validate-prow-installer-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  pre-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  pre-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  pre-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  pre-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  pre-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  pre-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  pre-test-infra-prow-tools: any of: ^development/tools/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  pre-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  post-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  post-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  post-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  post-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  post-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  post-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  post-test-infra-prow-tools: any of: ^development/tools/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  post-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-test-infra-image-syncer-validate: any of: ^(development/image-syncer)
  pre-master-test-infra-image-syncer-dry-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-test-infra-image-syncer-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-pjtester: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  pre-master-test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  pre-master-test-log-collector: any of: ^development/test-log-collector/
  post-master-test-log-collector: any of: ^development/test-log-collector/
  pre-test-infra-validate-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  post-test-infra-upload-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow-tools: any of: ^development/tools/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-master-test-infra-validate-prow-jobs: any of: ^(development/tools/jobs|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/

Increase timeout for the function
  prow/scripts/cluster-integration/kyma-gke-integration-cli.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Skip errors
  prow/scripts/cluster-integration/kyma-gke-integration-cli.sh
  prow/scripts/provision-vm-cli.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Increase timeout for the function creation (#2959)
  prow/scripts/cluster-integration/kyma-gke-integration-cli.sh
  prow/scripts/provision-vm-cli.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Remove testing comment and pjtester.yaml file
  prow/scripts/cluster-integration/compass-gke-integration.sh
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Adapt sed command as now the production profile has 4Gi for prometheus-istio
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Adapt sed command as now the production profile has 4Gi for prometheus-istio (#2960)
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add handling of special releases in compatibility job
  prow/scripts/compatibility-cli.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add handling of special releases in compatibility job (#2961)
  prow/scripts/compatibility-cli.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Update release version to 1.17.0-rc3
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow-jobs

Bump release 1.17.0-rc3
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow-jobs

Update release version to 1.17.0-rc3 (#2964)
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow-jobs

Update release version to 1.17.0-rc3 (#2963)
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow-jobs

Correct target version
  prow/scripts/cluster-integration/kyma-upgrade-gardener-azure.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add azure.sh library script for Azure-related jobs.
  prow/scripts/lib/azure.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

change tlsCert and tlsKey to tls-cert and tls-key
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-integration-cli.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Change tlsCert and tlsKey to tls-cert and tls-key (#2966)
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-integration-cli.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add azure.sh library script for Azure-related jobs. (#2965)
  prow/scripts/lib/azure.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add patched kaniko image to external-images.yaml
  development/image-syncer/external-images.yaml
Due: pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run

Remove content-ui
  development/tools/jobs/console/console_test.go
  prow/jobs/console/content/content.yaml
  templates/config.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add patched kaniko image to external-images.yaml (#2967)
  development/image-syncer/external-images.yaml
Due: pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run

Edit create-azure-event-hubs-secret.sh to use azure.sh lib
  prow/scripts/cluster-integration/helpers/create-azure-event-hubs-secret.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-azure.sh
  prow/scripts/lib/azure.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Edit create-azure-event-hubs-secret.sh to use azure.sh lib
  prow/scripts/lib/azure.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

squash
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/serverless-integration-k3s.sh
  prow/scripts/provision-vm-and-start-serverless-k3s.sh
  templates/templates/kyma-integration.yaml
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

fix nasty bug v2
  prow/scripts/cluster-integration/serverless-integration-k3s.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

fix nasty bug
  prow/scripts/cluster-integration/serverless-integration-k3s.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

update upgrade
  prow/scripts/cluster-integration/serverless-integration-k3s.sh
  prow/scripts/provision-vm-and-start-serverless-k3s.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

update...
  prow/scripts/cluster-integration/serverless-integration-k3s.sh
  prow/scripts/provision-vm-and-start-serverless-k3s.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

update pjtester config
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

update kaniko image to patched one
  prow/scripts/cluster-integration/serverless-integration-k3s.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

update prowjobs
  prow/config.yaml
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/scripts/lib/azure.sh
  templates/templates/kyma-integration-gardener.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

add titles to version
  prow/scripts/lib/azure.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Remove compass gateway overrides
  prow/scripts/cluster-integration/compass-gke-integration.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

add pjtester
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

Remove content-ui (#2969)
  development/tools/jobs/console/console_test.go
  prow/jobs/console/content/content.yaml
  templates/config.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Change file to edit in istio-ingressgateway patch
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Edit create-azure-event-hubs-secret.sh to use azure.sh lib (#2968)
  prow/config.yaml
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/scripts/cluster-integration/helpers/create-azure-event-hubs-secret.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-azure.sh
  prow/scripts/lib/azure.sh
  templates/templates/kyma-integration-gardener.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Change file to edit in istio-ingressgateway patch (#2970)
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Edited scripts to use azure credentials file instead of env vars
  prow/scripts/cluster-integration/helpers/cleanup-azure-event-hubs-namespaces.sh
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/minio/azure-cleaner.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

remove preset
  prow/config.yaml
  prow/jobs/kyma/kyma-azure-event-hubs-namespaces-cleanup.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/jobs/kyma/kyma-upgrade-gardener.yaml
  prow/jobs/rafter/rafter.yaml
  prow/scripts/cluster-integration/kyma-upgrade-gardener-azure.sh
  templates/templates/kyma-azure-event-hubs-namespaces-cleanup.yaml
  templates/templates/kyma-integration.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

move aks-library.sh to lib directory. And deprecate it.
  prow/scripts/lib/aks-library.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files
