Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow, cert-job

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  cert-job: any of: ^(development/.*.sh$|prow/.*.sh$)

Add roles for stability-checker
  prow/scripts/cluster-integration/helpers/install-stability-checker.sh
  stability-checker/deploy/chart/stability-checker/templates/role.yaml
Due: pre-master-stability-checker, post-master-stability-checker, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Add roles for stability-checker (#1000)
  prow/scripts/cluster-integration/helpers/install-stability-checker.sh
  stability-checker/deploy/chart/stability-checker/templates/role.yaml
Due: pre-master-stability-checker, post-master-stability-checker, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Remove luigi and add website to branch-protection
  prow/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

Fix conflicts with master
  performance-tools/docs/performance-test-execution.md
  performance-tools/performance-cluster/cluster.sh
  prow/scripts/cluster-integration/helpers/install-kyma.sh
Due: test-infra-governance, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Preparing the scripts for the periodic job
  performance-tools/performance-cluster/Dockerfile
  performance-tools/performance-cluster/runner.sh
  performance-tools/performance-cluster/scripts/k6-runner.sh
Due: prow/test-infra/validate-scripts

Add retries to RC provisioning job
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Lint fix
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Fix error code SC2153 and SC1090 in script install-kyma.sh
  prow/scripts/cluster-integration/helpers/install-kyma.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Add retries to RC provisioning job (#1005)
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Revert luigi
  prow/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

Prepare RC 3
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Fix Makefile
  performance-tools/docs/performance-test-execution.md
  performance-tools/performance-cluster/Makefile
Due: test-infra-governance

Update test of branchprotector
  development/tools/jobs/testinfra/branchprotector_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Release 1.1 rc3 (#1007)
  prow/RELEASE_VERSION
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Trigger watch pods
  prow/scripts/cluster-integration/helpers/provision-gke-cluster.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

add compass repository to config.yaml file
  prow/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

Add compass prowjobs
  development/tools/jobs/incubator/compass/director_test.go
  development/tools/jobs/incubator/compass/gateway_test.go
  development/tools/jobs/incubator/compass/healthcheck_test.go
  development/tools/jobs/incubator/compass/registry_test.go
  prow/jobs/incubator/compass/components/director/director.yaml
  prow/jobs/incubator/compass/components/gateway/gateway.yaml
  prow/jobs/incubator/compass/components/healthcheck/healthcheck.yaml
  prow/jobs/incubator/compass/components/registry/registry.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Improving scripts
  performance-tools/docs/performance-test-execution.md
  performance-tools/performance-cluster/Dockerfile
  performance-tools/performance-cluster/scripts/k6-runner.sh
Due: test-infra-governance, prow/test-infra/validate-scripts

Prepare Release 1.1.0
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Rename healthcheck component to healthchecker
  development/tools/jobs/incubator/compass/healthchecker_test.go
  prow/jobs/incubator/compass/components/healthchecker/healthchecker.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Update k6-runner.sh
  performance-tools/performance-cluster/runner.sh
  performance-tools/performance-cluster/scripts/k6-runner.sh
Due: prow/test-infra/validate-scripts

add compass repository to config.yaml file (#1009)
  prow/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

Update k6-runner.sh
  performance-tools/performance-cluster/cluster.sh
  prow/scripts/cluster-integration/helpers/install-kyma.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Fix docs after reviwed
  performance-tools/docs/performance-test-cluster-setup.md
Due: test-infra-governance

Update cluster.sh
  performance-tools/performance-cluster/cluster.sh
Due: prow/test-infra/validate-scripts

Update runner.sh
  performance-tools/performance-cluster/runner.sh
Due: prow/test-infra/validate-scripts

Update performance-tools/docs/performance-test-cluster-setup.md
  performance-tools/docs/performance-test-cluster-setup.md
Due: test-infra-governance

Apply suggestions from code review
  performance-tools/README.md
  performance-tools/docs/performance-test-cluster-setup.md
Due: test-infra-governance

Update performance-test-cluster-setup.md
  performance-tools/docs/performance-test-cluster-setup.md
Due: test-infra-governance

Add compass prowjobs (#1011)
  development/tools/jobs/incubator/compass/director_test.go
  development/tools/jobs/incubator/compass/gateway_test.go
  development/tools/jobs/incubator/compass/healthchecker_test.go
  development/tools/jobs/incubator/compass/registry_test.go
  prow/jobs/incubator/compass/components/director/director.yaml
  prow/jobs/incubator/compass/components/gateway/gateway.yaml
  prow/jobs/incubator/compass/components/healthchecker/healthchecker.yaml
  prow/jobs/incubator/compass/components/registry/registry.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Add netlify jobs in website branch-protection (#1006)
  development/tools/jobs/testinfra/branchprotector_test.go
  prow/config.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

Apply suggestions from code review
  performance-tools/docs/performance-test-execution.md
Due: test-infra-governance

Update performance-test-execution.md
  performance-tools/docs/performance-test-execution.md
Due: test-infra-governance
