Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-bootstrap-helm, pre-test-infra-kyma-cluster-infra, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-golang-toolbox, pre-test-infra-buildpack-golang-kubebuilder, pre-test-infra-buildpack-golang-kubebuilder2, pre-test-infra-buildpack-node, pre-test-infra-buildpack-node-chromium, pre-test-infra-buildpack-java, pre-test-infra-buildpack-java-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-kubectl, pre-test-infra-probot-stale, pre-test-infra-prow-tools, pre-test-infra-prow-clonerefs, post-test-infra-bootstrap, post-test-infra-bootstrap-helm, post-test-infra-kyma-cluster-infra, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-golang-toolbox, post-test-infra-buildpack-golang-kubebuilder, post-test-infra-buildpack-golang-kubebuilder2, post-test-infra-buildpack-node, post-test-infra-buildpack-node-chromium, post-test-infra-buildpack-java, post-test-infra-buildpack-java-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-kubectl, post-test-infra-probot-stale, post-test-infra-prow-tools, post-test-infra-prow-clonerefs, prow/test-infra/check_config, test-infra-development-tools, pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, pre-master-test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, pre-master-test-log-collector, post-master-test-log-collector, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-tools, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files, pre-master-test-infra-validate-prow-installer-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  pre-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  pre-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  pre-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  pre-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  pre-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  pre-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  pre-test-infra-prow-tools: any of: ^development/tools/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  pre-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  post-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  post-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  post-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  post-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  post-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  post-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  post-test-infra-prow-tools: any of: ^development/tools/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  post-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-test-infra-image-syncer-validate: any of: ^(development/image-syncer)
  pre-master-test-infra-image-syncer-dry-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-test-infra-image-syncer-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-pjtester: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  pre-master-test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  pre-master-test-log-collector: any of: ^development/test-log-collector/
  post-master-test-log-collector: any of: ^development/test-log-collector/
  pre-test-infra-validate-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  post-test-infra-upload-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow-tools: any of: ^development/tools/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-master-test-infra-validate-prow-jobs: any of: ^(development/tools/jobs|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/

Enable holdApplicationUntilProxyStarts
  prow/scripts/cluster-integration/compass-gke-integration.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Fix kyma-integration-gardener-gcp-parallel job and align alpha-deploy cmd calls (#3238)
  prow/scripts/cli-tests/testsuite-alpha.sh
  prow/scripts/cluster-integration/kyma-cli-alpha-uninstall.sh
  prow/scripts/lib/cli-alpha.sh
  prow/scripts/lib/gardener/gcp.sh
  prow/scripts/provision-vm-cli.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

cleaning-up in the component templates
  prow/jobs/kyma/common/common.yaml
  prow/jobs/test-infra/stability-checker.yaml
  prow/jobs/test-infra/test-log-collector.yaml
  prow/jobs/test-infra/watch-pods/watch-pods.yaml
  templates/README.md
  templates/config.yaml
  templates/data/stability-checker-data.yaml
  templates/data/test-log-collector-data.yaml
  templates/data/watch-pods-data.yaml
  templates/templates/component.yaml
  templates/templates/kyma-installer.yaml
Due: pre-master-test-infra-governance, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

k8s: use new version in Gardener and Azure jobs
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-cli-alpha-uninstall.sh
  prow/scripts/cluster-integration/kyma-cli-alpha-upgrade.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener-azure.sh
  templates/templates/kyma-integration.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Fix volumes section in generic.tmpl (#3248)
  prow/jobs/test-infra/testgrid-automation.yaml
  templates/data/testgrid-automation-data.yaml
  templates/templates/generic.tmpl
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

make shellcheck happy
  prow/scripts/cluster-integration/kyma-upgrade-gardener-azure.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

tests???
  development/tools/jobs/tester/tester.go
  development/tools/jobs/testinfra/stability_checker_test.go
  prow/jobs/test-infra/watch-pods/watch-pods.yaml
  templates/data/watch-pods-data.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add Async Operations component prow jobs
  development/tools/jobs/incubator/components_test.go
  development/tools/jobs/incubator/tests_test.go
  prow/jobs/incubator/compass/components/async-operations/async-operations-generic.yaml
  prow/jobs/incubator/compass/tests/async-operations-tests/async-operations-tests-generic.yaml
  templates/config.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add vpath file
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

Add vpath
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

k8s: use new version in Gardener and Azure jobs (#3250)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-cli-alpha-uninstall.sh
  prow/scripts/cluster-integration/kyma-cli-alpha-upgrade.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener-azure.sh
  templates/templates/kyma-integration.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Delete vpath file
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

fix path
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

move cluster_version to yaml
  development/tools/jobs/cli/cli_integration_test.go
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/jobs/kyma/kyma_release_candidate_test.go
  development/tools/jobs/kyma/kyma_release_upgrade_test.go
  prow/jobs/cli/cli-integration.yaml
  prow/jobs/kyma/kyma-gke-external-registry.yaml
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-external-registry.sh
  prow/scripts/cluster-integration/kyma-gke-integration-cli.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-rel2rel-upgrade.sh
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
  templates/templates/kyma-gke-external-registry.yaml
  templates/templates/kyma-release-candidate.yaml
  templates/templates/kyma-release-upgrade.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Revert "Add vpath"
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

regenerate yamls
  prow/jobs/kyma/kyma-release-candidate.yaml
  prow/jobs/kyma/kyma-release-upgrade.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

update gcloud lib
  prow/scripts/lib/gcloud.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

vpath
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

fix indent
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

k8s: use new version in GKE jobs (#3253)
  development/tools/jobs/cli/cli_integration_test.go
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/jobs/kyma/kyma_release_candidate_test.go
  development/tools/jobs/kyma/kyma_release_upgrade_test.go
  prow/jobs/cli/cli-integration.yaml
  prow/jobs/kyma/kyma-gke-external-registry.yaml
  prow/jobs/kyma/kyma-release-candidate.yaml
  prow/jobs/kyma/kyma-release-upgrade.yaml
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-external-registry.sh
  prow/scripts/cluster-integration/kyma-gke-integration-cli.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-rel2rel-upgrade.sh
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
  prow/scripts/lib/gcloud.sh
  templates/templates/kyma-gke-external-registry.yaml
  templates/templates/kyma-release-candidate.yaml
  templates/templates/kyma-release-upgrade.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Enable holdApplicationUntilProxyStarts on compass-gke-integration (#3249)
  prow/scripts/cluster-integration/compass-gke-integration.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

gke: simplify channel k8s versioning
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/lib/gcloud.sh
  templates/config.yaml
  templates/templates/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

update cluster version dynamically
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/lib/gcloud.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

apply suggestions
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/lib/gcloud.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

gke: simplify channel k8s versioning (#3254)
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/lib/gcloud.sh
  templates/config.yaml
  templates/templates/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Rewrite third-party-images prowjobs to new templating solution
  prow/jobs/incubator/third-party-images/cloudsql-proxy/cloudsql-proxy.yaml
  prow/jobs/incubator/third-party-images/docker-registry/registry.yaml
  prow/jobs/incubator/third-party-images/fluent-bit/fluent-bit.yaml
  prow/jobs/incubator/third-party-images/jaeger-operator/jaeger-operator.yaml
  prow/jobs/incubator/third-party-images/k8s-tools/k8s-tools.yaml
  prow/jobs/incubator/third-party-images/kiali/kiali.yaml
  prow/jobs/incubator/third-party-images/kiwigrid-sidecar/kiwigrid-sidecar.yaml
  prow/jobs/incubator/third-party-images/minio-mc/minio-mc.yaml
  prow/jobs/incubator/third-party-images/minio/minio.yaml
  prow/jobs/incubator/third-party-images/prometheus-node-exporter/prometheus-node-exporter.yaml
  prow/jobs/incubator/third-party-images/third-party-images.yaml
  templates/data/incubator-third-party-images-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

slightly rewrite the tests
  development/tools/jobs/incubator/third-party-images/cloudsql_proxy_test.go
  development/tools/jobs/incubator/third-party-images/docker_registry_test.go
  development/tools/jobs/incubator/third-party-images/fluent-bit/fluent_bit_test.go
  development/tools/jobs/incubator/third-party-images/fluent_bit_test.go
  development/tools/jobs/incubator/third-party-images/jaeger-operator/jaeger_operator_test.go
  development/tools/jobs/incubator/third-party-images/jaeger_operator_test.go
  development/tools/jobs/incubator/third-party-images/kiali/kiali_test.go
  development/tools/jobs/incubator/third-party-images/kiali_test.go
  development/tools/jobs/incubator/third-party-images/kiwigrid-sidecar/kiwigrid_sidecar_test.go
  development/tools/jobs/incubator/third-party-images/kiwigrid_sidecar_test.go
  development/tools/jobs/incubator/third-party-images/minio-mc/minio_mc_test.go
  development/tools/jobs/incubator/third-party-images/minio/minio_test.go
  development/tools/jobs/incubator/third-party-images/minio_mc_test.go
  development/tools/jobs/incubator/third-party-images/minio_test.go
  development/tools/jobs/incubator/third-party-images/prometheus-node-exporter/prometheus_node_exporter_test.go
  development/tools/jobs/incubator/third-party-images/prometheus_node_exporter_test.go
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow-jobs

fix compass and control-plane jobs
  prow/jobs/control-plane/control-plane-gke-integration.yaml
  prow/jobs/incubator/compass/compass-gke-integration.yaml
  prow/jobs/kyma/kyma-gke-compass-integration.yaml
  templates/templates/compass-gke-integration.yaml
  templates/templates/kyma-gke-compass-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

fix compass and control-plane jobs (#3256)
  prow/jobs/control-plane/control-plane-gke-integration.yaml
  prow/jobs/incubator/compass/compass-gke-integration.yaml
  prow/jobs/kyma/kyma-gke-compass-integration.yaml
  templates/templates/compass-gke-integration.yaml
  templates/templates/kyma-gke-compass-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

fix kyma-gke-compass-provisioner-tests jobs
  prow/jobs/kyma/kyma-compass-provisioner-tests.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Cleaned debug print statements. Logging headers and body on http error.
  development/github-slack-connector/githubWebhookGateway/pkg/events/sender.go
  development/github-slack-connector/issueLabeledFunction/handler.py
Due: none

fix kyma-gke-compass-provisioner-tests jobs (#3257)
  prow/jobs/kyma/kyma-compass-provisioner-tests.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Prowjob for github connector.
  development/github-slack-connector/cmd/main.go
  development/github-slack-connector/githubConnector/templates/05-ghConnectorWebhookSecret.yaml
  development/github-slack-connector/issueLabeledFunction/handler.py
  prow/jobs/test-infra/buildpack.yaml
  templates/data/buildpack-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Added github-connector chart.
  development/github-slack-connector/githubConnector/.helmignore
  development/github-slack-connector/githubConnector/Chart.yaml
  development/github-slack-connector/githubConnector/ghConnectorEvent.json
  development/github-slack-connector/githubConnector/ghConnectorSlackAPI.json
  development/github-slack-connector/githubConnector/templates/01-ghConnectorApplicationMapping.yaml
  development/github-slack-connector/githubConnector/templates/02-ghConnectorSlackApplicationMapping.yaml
  development/github-slack-connector/githubConnector/templates/03-ghConnectorGatewayApiRule.yaml
  development/github-slack-connector/githubConnector/templates/04-ghConnectorGatewayService.yaml
  development/github-slack-connector/githubConnector/templates/06-ghConnectorGatewayConfigMap.yaml
  development/github-slack-connector/githubConnector/templates/07-ghConnectorGatewayDeployment.yaml
  development/github-slack-connector/githubConnector/templates/08-ghConnectorSlackClientFunctionGitRepo.yaml
  development/github-slack-connector/githubConnector/templates/09-ghConnectorWebhookGatewayServiceInstance.yaml
  development/github-slack-connector/githubConnector/templates/10-ghConnectorSlackServiceInstance.yaml
  development/github-slack-connector/githubConnector/templates/11-ghConnectorServiceBinding.yaml
  development/github-slack-connector/githubConnector/templates/12-ghConnectorSlackClientBindingUsage.yaml
  development/github-slack-connector/githubConnector/templates/13-ghConnectorSlackClientTrigger.yaml
  development/github-slack-connector/githubConnector/templates/14-ghConnectorSlackClientFunction.yaml
  development/github-slack-connector/githubConnector/values.yaml
  development/github-slack-connector/githubWebhookGateway/cmd/main.go
  development/github-slack-connector/githubWebhookGateway/go.mod
  development/github-slack-connector/githubWebhookGateway/go.sum
  development/github-slack-connector/go.mod
  development/github-slack-connector/overview.md
Due: pre-master-test-infra-governance

modify yamls
  prow/jobs/control-plane/control-plane-gke-integration.yaml
  prow/jobs/control-plane/control-plane-gke-provisioner-integration.yaml
  prow/jobs/incubator/compass/compass-gke-integration.yaml
  prow/jobs/kyma/kyma-compass-provisioner-tests.yaml
  prow/jobs/kyma/kyma-gke-compass-integration.yaml
  templates/templates/compass-gke-integration.yaml
  templates/templates/kyma-gke-compass-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

update tests
  development/tools/jobs/control-plane/control_plane_gke_integration_test.go
  development/tools/jobs/control-plane/control_plane_gke_provisioner_integration_test.go
  development/tools/jobs/incubator/compass/compass_gke_integration_test.go
  development/tools/jobs/kyma/kyma_compass_provisioner_tests_test.go
  development/tools/jobs/kyma/kyma_gke_compass_integration_test.go
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow-jobs

Bump release version to 1.19.0 (#3228)
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow-jobs
