Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow, cert-job

prow/test-infra/bootstrap:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-golang:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-node:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/cleaner:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

test-infra-bootstrap:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-bootstrap-helm:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-golang:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-node:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-development-tools:
  labels:
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      command:
      - make
      args:
      - -C
      - development/tools
      - validate

Make velero plugins job optional
  prow/jobs/kyma/tools/velero-plugins/velero-plugins.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Make velero plugins job optional (#1032)
  prow/jobs/kyma/tools/velero-plugins/velero-plugins.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Adding multiple GCP zones
  prow/config.yaml
  prow/jobs/kyma/kyma-integration.yaml
Due: prow/test-infra/check_config, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

fix formatting
  development/tools/cmd/gcscleaner/main_test.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

performance cluster var
  performance-tools/performance-cluster/cluster.sh
Due: prow/test-infra/validate-scripts

performance cluster var fix
  performance-tools/performance-cluster/cluster.sh
Due: prow/test-infra/validate-scripts

Added jobs for Application Connectivity Validator (#1029)
  development/tools/jobs/kyma/application_connectivity_validator_test.go
  prow/jobs/kyma/components/application-connectivity-validator/application-connectivity-validator.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

kyma-gke-integration-xip.sh modified
  prow/scripts/cluster-integration/helpers/create-config-map.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Revert "GKE integration test job added - no sed(#1022)"
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

resolve todo
  prow/scripts/cluster-integration/kyma-gke-integration.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Simplify installation: kyma-gke-integration.sh (#1027)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/helpers/create-config-map.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

GKE central connector test job added
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

fix
  prow/scripts/cluster-integration/kyma-gke-central.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

GKE central connector test job added (#1037)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

fix2
  prow/scripts/cluster-integration/kyma-gke-central.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Dont run kyma integration builds if only docs were changed
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Dont run kyma integration builds if only docs were changed (#1033)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Adapt kyma-gke-central.sh script
  prow/scripts/cluster-integration/kyma-gke-central.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Prepare to merge
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-central.sh
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

adding wssagent job
  prow/config.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Due: prow/test-infra/check_config, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow, cert-job

removing duplicate env variable
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

removing whitesource file
  .whitesource
Due: none

modifying kyma integration test
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Simplify installation: kyma-gke-central script (#1036)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-central.sh
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Use latest gcloud sdk version
  performance-tools/performance-cluster/Dockerfile
Due: none

Add comment
  prow/jobs/kyma/components/etcd-backup-job/etcd-backup-job.yaml
  prow/jobs/kyma/components/etcd-tls-setup-job/etcd-tls-setup-job.yaml
  prow/jobs/kyma/components/helm-broker/helm-broker.yaml
  prow/jobs/kyma/components/service-binding-usage-controller/service-binding-usage-controller.yaml
  prow/jobs/kyma/tools/gcp-broker-provider/gcp-broker-provider.yaml
  prow/jobs/test-infra/stability-checker.yaml
  prow/jobs/test-infra/watch-pods.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Use newest buildpack for gophers components (#1017)
  development/tools/jobs/kyma/etcd_backup_job_test.go
  development/tools/jobs/kyma/etcd_tls_setup_job_test.go
  development/tools/jobs/kyma/helm_broker_test.go
  development/tools/jobs/kyma/service_binding_usage_controller_test.go
  development/tools/jobs/kyma/tools/gcp_broker_provider_test.go
  development/tools/jobs/testinfra/stability_checker_test.go
  development/tools/jobs/testinfra/watch_pods_test.go
  prow/jobs/kyma/components/etcd-backup-job/etcd-backup-job.yaml
  prow/jobs/kyma/components/etcd-tls-setup-job/etcd-tls-setup-job.yaml
  prow/jobs/kyma/components/helm-broker/helm-broker.yaml
  prow/jobs/kyma/components/service-binding-usage-controller/service-binding-usage-controller.yaml
  prow/jobs/kyma/tools/gcp-broker-provider/gcp-broker-provider.yaml
  prow/jobs/test-infra/stability-checker.yaml
  prow/jobs/test-infra/watch-pods.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Add kyma-gke-upgrade presubmit test job
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Add kyma-gke-upgrade presubmit test job (#1042)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

One dep version for gophers components (#1018)
  stability-checker/Gopkg.lock
  watch-pods/Gopkg.lock
Due: pre-master-stability-checker, post-master-stability-checker

merge install-kyma.sh with master
  prow/scripts/cluster-integration/helpers/install-kyma.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

refactor install-kyma.sh
  prow/scripts/cluster-integration/helpers/install-kyma.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Fix gke upgrade test job optional
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix cm access
  stability-checker/deploy/chart/stability-checker/templates/role.yaml
Due: pre-master-stability-checker, post-master-stability-checker

Fix gke upgrade test job optional (#1043)
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix cm access (#1044)
  stability-checker/deploy/chart/stability-checker/templates/role.yaml
Due: pre-master-stability-checker, post-master-stability-checker

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  cert-job: any of: ^(development/.*.sh$|prow/.*.sh$)
