Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-bootstrap-helm, pre-test-infra-kyma-cluster-infra, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-golang-toolbox, pre-test-infra-buildpack-golang-kubebuilder, pre-test-infra-buildpack-golang-kubebuilder2, pre-test-infra-buildpack-node, pre-test-infra-buildpack-node-chromium, pre-test-infra-buildpack-java, pre-test-infra-buildpack-java-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-kubectl, pre-test-infra-probot-stale, pre-test-infra-prow-tools, pre-test-infra-prow-clonerefs, post-test-infra-bootstrap, post-test-infra-bootstrap-helm, post-test-infra-kyma-cluster-infra, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-golang-toolbox, post-test-infra-buildpack-golang-kubebuilder, post-test-infra-buildpack-golang-kubebuilder2, post-test-infra-buildpack-node, post-test-infra-buildpack-node-chromium, post-test-infra-buildpack-java, post-test-infra-buildpack-java-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-kubectl, post-test-infra-probot-stale, post-test-infra-prow-tools, post-test-infra-prow-clonerefs, prow/test-infra/check_config, test-infra-development-tools, pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, pre-master-test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, pre-master-test-log-collector, post-master-test-log-collector, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-tools, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files, pre-master-test-infra-validate-prow-installer-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  pre-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  pre-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  pre-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  pre-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  pre-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  pre-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  pre-test-infra-prow-tools: any of: ^development/tools/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  pre-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  post-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  post-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  post-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  post-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  post-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  post-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  post-test-infra-prow-tools: any of: ^development/tools/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  post-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-test-infra-image-syncer-validate: any of: ^(development/image-syncer)
  pre-master-test-infra-image-syncer-dry-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-test-infra-image-syncer-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-pjtester: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  pre-master-test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  pre-master-test-log-collector: any of: ^development/test-log-collector/
  post-master-test-log-collector: any of: ^development/test-log-collector/
  pre-test-infra-validate-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  post-test-infra-upload-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow-tools: any of: ^development/tools/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-master-test-infra-validate-prow-jobs: any of: ^(development/tools/jobs|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/

Add alpine 3123 version to the GCR (#3081)
  development/image-syncer/external-images.yaml
Due: pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run

Make shellcheck happy
  prow/scripts/cluster-integration/kyma-upgrade-cli-alpha.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add main branch to protecode-guard config (#3078)
  prow/jobs/scans/protecode-guard.yaml
  templates/templates/protecode-guard.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Make shellcheck happy2
  prow/scripts/cluster-integration/kyma-upgrade-cli-alpha.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Init version
  prow/scripts/cluster-integration/kyma-upgrade-cli-alpha.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Removed dns-debug.sh
  prow/scripts/dns-debug.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

add vpath
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

Add new version of service catalog
  development/image-syncer/external-images.yaml
Due: pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run

Remove dns debug (#3085)
  development/dns-debug-role.yaml
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/incubator/compass/compass-gke-integration.yaml
  prow/jobs/kyma/kyma-gke-compass-integration.yaml
  prow/jobs/kyma/kyma-gke-external-registry.yaml
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/helpers/create-dns-record.sh
  prow/scripts/dns-debug.sh
  prow/scripts/lib/gcloud.sh
  templates/templates/compass-gke-integration.yaml
  templates/templates/kyma-gke-compass-integration.yaml
  templates/templates/kyma-gke-external-registry.yaml
  templates/templates/kyma-integration-gardener.yaml
  templates/templates/kyma-integration.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

remove vpath
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

Recreate branch
  development/tools/jobs/cli/cli_integration_test.go
  prow/jobs/cli/cli-integration.yaml
  prow/scripts/cluster-integration/kyma-cli-alpha-upgrade.sh
  vpath/pjtester.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Remove old service catalog
  development/image-syncer/external-images.yaml
Due: pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run

Add new version of service catalog to GCR(#3087)
  development/image-syncer/external-images.yaml
Due: pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run

Pin release to 1.18
  prow/scripts/cluster-integration/kyma-cli-alpha-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Pin release to 1.18 2
  prow/scripts/cluster-integration/kyma-cli-alpha-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Pin release to 1.18 3
  prow/scripts/cluster-integration/kyma-cli-alpha-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add testing
  prow/scripts/cluster-integration/kyma-cli-alpha-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

revert library.sh
  prow/scripts/library.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add ORD Service component + E2E image build jobs (#3077)
  development/tools/jobs/incubator/components_test.go
  development/tools/jobs/incubator/tests_test.go
  development/tools/jobs/tester/jobsuite/options.go
  prow/jobs/incubator/compass/tests/ord-service/ord-service-tests-generic.yaml
  prow/jobs/incubator/ord-service/components/ord-service/ord-service-generic.yaml
  templates/config.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

add pjtester.yaml
  prow/scripts/build-kyma-artifacts.sh
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

switch to build-generic.sh
  prow/jobs/kyma/kyma-artifacts.yaml
  prow/scripts/build-generic.sh
  prow/scripts/build-kyma-artifacts.sh
  templates/templates/kyma-artifacts.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

typo
  prow/scripts/build-kyma-artifacts.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

typo
  prow/jobs/kyma/kyma-artifacts.yaml
  templates/templates/kyma-artifacts.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

remove kyma-installer job and create on kyma-artifacts job based on kyma-development-artifacts jobs
  development/tools/jobs/kyma/development_artifacts_test.go
  development/tools/jobs/kyma/kyma_installer_test.go
  prow/jobs/kyma/kyma-artifacts.yaml
  prow/jobs/kyma/kyma-development-artifacts.yaml
  prow/jobs/kyma/kyma-installer.yaml
  prow/scripts/build-kyma-artifacts.sh
  prow/scripts/build-kyma-development-artifacts.sh
  prow/scripts/build.sh
  templates/config.yaml
  templates/templates/kyma-artifacts.yaml
  templates/templates/kyma-release-candidate.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

add pjtester.yaml
  prow/jobs/kyma/kyma-artifacts.yaml
  prow/scripts/build-kyma-artifacts.sh
  templates/templates/kyma-artifacts.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

remove pjtester.yaml
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

remove kyma-installer from required context
  development/tools/jobs/testinfra/branchprotector_test.go
  prow/branchprotector-config.yaml
  templates/config.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

allow jobs running on release branches `release-x.x`
  development/tools/jobs/tester/generic_component_suite.go
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow-jobs

add missing comments
  development/tools/jobs/tester/generic_component_suite.go
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow-jobs

kyma-github-release.yaml use PULL_BASE_REF instead of preset
  development/tools/jobs/kyma/kyma_github-release_test.go
  prow/jobs/kyma/kyma-github-release.yaml
  templates/templates/kyma-github-release.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

rebase with upstream/master
  prow/jobs/incubator/compass/tests/ord-service/ord-service-tests-generic.yaml
  prow/jobs/incubator/ord-service/components/ord-service/ord-service-generic.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

scripts: fix gcloud::cleanup
  prow/scripts/lib/gcloud.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

scripts: fix gcloud::cleanup (#3089)
  prow/scripts/lib/gcloud.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files
