Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-bootstrap-helm, pre-test-infra-kyma-cluster-infra, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-golang-toolbox, pre-test-infra-buildpack-golang-kubebuilder, pre-test-infra-buildpack-golang-kubebuilder2, pre-test-infra-buildpack-node, pre-test-infra-buildpack-node-chromium, pre-test-infra-buildpack-java, pre-test-infra-buildpack-java-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-kubectl, pre-test-infra-probot-stale, pre-test-infra-prow-tools, pre-test-infra-prow-clonerefs, post-test-infra-bootstrap, post-test-infra-bootstrap-helm, post-test-infra-kyma-cluster-infra, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-golang-toolbox, post-test-infra-buildpack-golang-kubebuilder, post-test-infra-buildpack-golang-kubebuilder2, post-test-infra-buildpack-node, post-test-infra-buildpack-node-chromium, post-test-infra-buildpack-java, post-test-infra-buildpack-java-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-kubectl, post-test-infra-probot-stale, post-test-infra-prow-tools, post-test-infra-prow-clonerefs, prow/test-infra/check_config, test-infra-development-tools, pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, pre-master-test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, pre-master-test-log-collector, post-master-test-log-collector, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-tools, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files, pre-master-test-infra-validate-prow-installer-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  pre-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  pre-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  pre-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  pre-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  pre-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  pre-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  pre-test-infra-prow-tools: any of: ^development/tools/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  pre-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  post-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  post-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  post-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  post-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  post-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  post-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  post-test-infra-prow-tools: any of: ^development/tools/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  post-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-test-infra-image-syncer-validate: any of: ^(development/image-syncer)
  pre-master-test-infra-image-syncer-dry-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-test-infra-image-syncer-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-pjtester: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  pre-master-test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  pre-master-test-log-collector: any of: ^development/test-log-collector/
  post-master-test-log-collector: any of: ^development/test-log-collector/
  pre-test-infra-validate-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  post-test-infra-upload-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow-tools: any of: ^development/tools/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-master-test-infra-validate-prow-jobs: any of: ^(development/tools/jobs|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/

scripts: add check to kyma::install_cli
  prow/scripts/kyma-testing.sh
  prow/scripts/lib/kyma.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

pjtester-template.yaml
  templates/templates/pjtester-template.yaml
Due: pre-master-test-infra-validate-generated-files

Fix run-if-changed for p-guard (#3064)
  prow/jobs/scans/protecode-guard.yaml
  templates/templates/protecode-guard.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

moved to functions from lib dir.
  prow/scripts/dns-debug.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Updated dns debug commands in lib.
  prow/scripts/lib/gcloud.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

pjtesting dns-debug.sh (#3071)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/helpers/create-dns-record.sh
  prow/scripts/dns-debug.sh
  prow/scripts/lib/gcloud.sh
  templates/templates/kyma-integration.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Run job only on weekdays.
  prow/jobs/kyma/kyma-integration.yaml
  templates/templates/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

scripts: lib/gardener: move test results
  prow/scripts/lib/gardener/aws.sh
  prow/scripts/lib/gardener/azure.sh
  prow/scripts/lib/gardener/gcp.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

scripts: retest gardener integration after changes
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

Add Maven to Java Buildpack
  prow/images/buildpack-java/Dockerfile
  prow/images/buildpack-java/README.md
Due: pre-test-infra-buildpack-java, post-test-infra-buildpack-java, pre-master-test-infra-governance, pre-master-test-infra-validate-prow-jobs

Add ORD Service component + E2E image build jobs
  development/tools/jobs/incubator/components_test.go
  development/tools/jobs/incubator/tests_test.go
  development/tools/jobs/tester/jobsuite/options.go
  prow/jobs/incubator/compass/tests/ord-service/ord-service-tests-generic.yaml
  prow/jobs/incubator/ord-service/components/ord-service/ord-service-generic.yaml
  templates/config.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add vpath
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

Delete vpath
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

Empty commit
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

Update vpath with ord-service tests
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

Add main branch to protecode guard config
  prow/jobs/scans/protecode-guard.yaml
  templates/templates/protecode-guard.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

scripts: remove vpath
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

scripts: consolidate kyma-integration-gardener (#3070)
  development/tools/jobs/kyma/kyma_gardener_integration_test.go
  prow/config.yaml
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/scripts/cluster-integration/helpers/fluent-bit-stackdriver-logging.sh
  prow/scripts/cluster-integration/helpers/kyma-cli.sh
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-aws.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-azure.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-gcp.sh
  prow/scripts/cluster-integration/kyma-integration-gardener.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener-azure.sh
  prow/scripts/kyma-testing.sh
  prow/scripts/lib/gardener/aws.sh
  prow/scripts/lib/gardener/azure.sh
  prow/scripts/lib/gardener/gcp.sh
  prow/scripts/lib/kyma-cli.sh
  prow/scripts/lib/kyma.sh
  prow/scripts/lib/testing-helpers.sh
  prow/scripts/unstale-gardener-project.sh
  templates/templates/kyma-integration-gardener.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Update pamela repo from kyma-incubator to kyma-project
  prow/branchprotector-config.yaml
  prow/jobs/pamela/pamela.yaml
  prow/jobs/scans/protecode-guard.yaml
  templates/config.yaml
  templates/templates/branchprotector-config.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

scripts: partially deprecate library.sh
  prow/scripts/build-compass-development-artifacts.sh
  prow/scripts/build-kcp-cli.sh
  prow/scripts/build-kcp-development-artifacts.sh
  prow/scripts/cluster-integration/helpers/delete-image.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/library.sh
  prow/scripts/minikube-test.sh
  prow/scripts/provision-vm-and-start-serverless-k3s.sh
  prow/scripts/provision-vm-cli.sh
  prow/scripts/provision-vm-compass.sh
  prow/scripts/provision-vm-control-plane.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

scripts: library.sh: remove references to applyDexGithub...
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/library.sh
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

remove vpath
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

Update pamela repo from kyma-incubator to kyma-project (#3079)
  prow/branchprotector-config.yaml
  prow/jobs/pamela/pamela.yaml
  prow/jobs/scans/protecode-guard.yaml
  templates/config.yaml
  templates/templates/branchprotector-config.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Update Buildpack description as suggested in review
  prow/images/buildpack-java/README.md
Due: pre-test-infra-buildpack-java, post-test-infra-buildpack-java, pre-master-test-infra-governance, pre-master-test-infra-validate-prow-jobs

Add Maven to Java Buildpack (#3076)
  prow/images/buildpack-java/Dockerfile
  prow/images/buildpack-java/README.md
Due: pre-test-infra-buildpack-java, post-test-infra-buildpack-java, pre-master-test-infra-governance, pre-master-test-infra-validate-prow-jobs

Add alpine 3123 version
  development/image-syncer/external-images.yaml
Due: pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run

Add alpine 3123 version to the GCR (#3081)
  development/image-syncer/external-images.yaml
Due: pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run

Add Golang new version
  development/image-syncer/external-images.yaml
Due: pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run

Add Golang new version to the GCR (#3082)
  development/image-syncer/external-images.yaml
Due: pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run

scripts: fix delete-image for now
  prow/scripts/cluster-integration/helpers/cleanup-cluster.sh
  prow/scripts/cluster-integration/helpers/delete-image.sh
  prow/scripts/lib/gcloud.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

scripts: library.sh: refactor gkeCleanup
  prow/scripts/cluster-integration/compass-gke-integration.sh
  prow/scripts/cluster-integration/control-plane-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-compass-integration.sh
  prow/scripts/cluster-integration/kyma-gke-external-registry.sh
  prow/scripts/cluster-integration/kyma-gke-integration-cli.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-rel2rel-upgrade.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
  prow/scripts/library.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

add vpath
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

Update vpath
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

retrigger prow
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard
