Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow, cert-job

prow/test-infra/bootstrap:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-golang:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-node:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/cleaner:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

test-infra-bootstrap:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-bootstrap-helm:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-golang:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-node:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-development-tools:
  labels:
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      command:
      - make
      args:
      - -C
      - development/tools
      - validate

adding whitesource periodic job
  prow/config.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Due: prow/test-infra/check_config, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow, cert-job

modify install-kyma.sh
  prow/scripts/cluster-integration/helpers/install-kyma.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

zone randomization
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

add one more env
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Revert "Added test job for kyma-load-tests-weekly (install-kyma.sh) (#1048)"
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

k8s cron job for performance tests (#1030)
  performance-tools/docs/performance-test-execution.md
  performance-tools/performance-cluster/job/performance-tests-k6-runner-cronjob.yaml
  performance-tools/performance-cluster/runner.sh
Due: test-infra-governance, prow/test-infra/validate-scripts

updating tests
  development/tools/jobs/kyma/kyma_integration_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

revert periodics num in tests
  development/tools/jobs/kyma/kyma_integration_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

fix
  prow/scripts/cluster-integration/helpers/install-kyma.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Simplify installation: install-kyma script (#1046)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/helpers/install-kyma.sh
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Bump perfomace cluster image
  performance-tools/performance-cluster/job/performance-tests-k6-runner-cronjob.yaml
Due: none

add test nightly aks job
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Update tag image
  performance-tools/performance-cluster/job/performance-tests-k6-runner-cronjob.yaml
Due: none

change cron
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Simplify installation: kyma-aks-long-lasting job (#1058)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Simplify installation: add test kyma-gke-end-to-end-test job:
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

fix
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

fix cron
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Simplify installation: add test kyma-gke-end-to-end-test job (#1059)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix test aks-nightly
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix test aks-nightly (#1060)
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

fix
  prow/scripts/cluster-integration/kyma-gke-end-to-end-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Simplify installation: kyma-gke-end-to-end-test
  prow/scripts/cluster-integration/kyma-gke-end-to-end-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Revert "Simplify installation: add test kyma-gke-end-to-end-test job (#1059)"
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Simplify installation: kyma-gke-end-to-end-test (#1052)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-end-to-end-test.sh
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

remove usage of kyma-config-cluster.yaml in xip jobs
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-central-xip.sh
  prow/scripts/cluster-integration/kyma-gke-integration-xip.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Simplify installation: xip scripts (#1061)
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-central-xip.sh
  prow/scripts/cluster-integration/kyma-gke-integration-xip.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

use scripts from test-infra repository for xip jobs
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Simplify installation: use proper scripts for xip jobs (#1062)
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Bump performace cluster image (#1056)
  performance-tools/performance-cluster/job/performance-tests-k6-runner-cronjob.yaml
Due: none

fix backward compatibility issue
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Simplify installation: fix backward compatibility issue (#1063)
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

code refactor
  development/tools/cmd/gcscleaner/main.go
  development/tools/cmd/gcscleaner/main_test.go
  development/tools/pkg/gcscleaner/automock/bucket_attrs.go
  development/tools/pkg/gcscleaner/automock/bucket_handle.go
  development/tools/pkg/gcscleaner/automock/bucket_iterator.go
  development/tools/pkg/gcscleaner/automock/client.go
  development/tools/pkg/gcscleaner/automock/object_attrs.go
  development/tools/pkg/gcscleaner/automock/object_handle.go
  development/tools/pkg/gcscleaner/automock/object_iterator.go
  development/tools/pkg/gcscleaner/automock/query.go
  development/tools/pkg/gcscleaner/cleaner.go
  development/tools/pkg/gcscleaner/cleaner2.go
  development/tools/pkg/gcscleaner/cleaner2_test.go
  development/tools/pkg/gcscleaner/cleaner_test.go
  development/tools/pkg/gcscleaner/client2.go
  development/tools/pkg/gcscleaner/export_test.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

more code refactor
  development/tools/cmd/gcscleaner/main.go
  development/tools/pkg/gcscleaner/cleaner.go
  development/tools/pkg/gcscleaner/cleaner2.go
  development/tools/pkg/gcscleaner/cleaner2_test.go
  development/tools/pkg/gcscleaner/cleaner_test.go
  development/tools/pkg/gcscleaner/client/automock/bucket_attrs.go
  development/tools/pkg/gcscleaner/client/automock/bucket_handle.go
  development/tools/pkg/gcscleaner/client/automock/bucket_iterator.go
  development/tools/pkg/gcscleaner/client/automock/bucket_object.go
  development/tools/pkg/gcscleaner/client/automock/client.go
  development/tools/pkg/gcscleaner/client/automock/object_attrs.go
  development/tools/pkg/gcscleaner/client/automock/object_handle.go
  development/tools/pkg/gcscleaner/client/automock/object_iterator.go
  development/tools/pkg/gcscleaner/client/automock/query.go
  development/tools/pkg/gcscleaner/client/client.go
  development/tools/pkg/gcscleaner/client2.go
  development/tools/pkg/gcscleaner/export_test.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

code refactor
  development/tools/cmd/gcscleaner/main.go
  development/tools/pkg/gcscleaner/cleaner.go
  development/tools/pkg/gcscleaner/cleaner_test.go
  development/tools/pkg/gcscleaner/client/client.go
  development/tools/pkg/gcscleaner/storage/automock/bucket_attrs.go
  development/tools/pkg/gcscleaner/storage/automock/bucket_handle.go
  development/tools/pkg/gcscleaner/storage/automock/bucket_iterator.go
  development/tools/pkg/gcscleaner/storage/automock/bucket_object.go
  development/tools/pkg/gcscleaner/storage/automock/client.go
  development/tools/pkg/gcscleaner/storage/automock/object_attrs.go
  development/tools/pkg/gcscleaner/storage/automock/object_handle.go
  development/tools/pkg/gcscleaner/storage/automock/object_iterator.go
  development/tools/pkg/gcscleaner/storage/automock/query.go
  development/tools/pkg/gcscleaner/storage/bucket.go
  development/tools/pkg/gcscleaner/storage/storage.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

code cleanup
  development/tools/Gopkg.lock
  development/tools/cmd/gcscleaner/main.go
  development/tools/pkg/gcscleaner/cleaner.go
  development/tools/pkg/gcscleaner/cleaner_test.go
  development/tools/pkg/gcscleaner/storage/bucket.go
  development/tools/pkg/gcscleaner/storage/storage.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

code refactor
  development/tools/pkg/gcscleaner/storage/bucket.go
  development/tools/pkg/gcscleaner/storage/storage.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

add test err on bucket iteration
  development/tools/pkg/gcscleaner/cleaner_test.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

add test err on bucket object delete
  development/tools/pkg/gcscleaner/cleaner_test.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  cert-job: any of: ^(development/.*.sh$|prow/.*.sh$)
