Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow, cert-job

prow/test-infra/bootstrap:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-golang:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-node:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/cleaner:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

test-infra-bootstrap:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-bootstrap-helm:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-golang:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-node:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-development-tools:
  labels:
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      command:
      - make
      args:
      - -C
      - development/tools
      - validate

Fix more stuff
  development/tools/jobs/tester/tester.go
  prow/jobs/kyma/components/compass-runtime-agent/compass-runtime-agent.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix duplicate env variables
  prow/jobs/kyma/components/cms-services/cms-services.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix pre-rel14-kyma-components-compass-runtime-agent
  prow/jobs/kyma/components/compass-runtime-agent/compass-runtime-agent.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Update podpreset-crd.yaml
  development/tools/jobs/incubator/podpreset-crd/podpreset_crd_test.go
  prow/jobs/incubator/podpreset-crd/podpreset-crd.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Update podpreset-crd.yaml (#1320)
  development/tools/jobs/incubator/podpreset-crd/podpreset_crd_test.go
  prow/jobs/incubator/podpreset-crd/podpreset-crd.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix podpreset job
  development/tools/jobs/incubator/podpreset-crd/podpreset_crd_test.go
  prow/jobs/incubator/podpreset-crd/podpreset-crd.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix podpreset job (#1321)
  development/tools/jobs/incubator/podpreset-crd/podpreset_crd_test.go
  prow/jobs/incubator/podpreset-crd/podpreset-crd.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix pre-rel14-kyma-tests-compass-runtime-agent
  prow/jobs/kyma/tests/compass-runtime-agent/compass-runtime-agent-test.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix pre-rel14-kyma-tests-end-to-end-external-solution-integration
  prow/jobs/kyma/tests/end-to-end/external-solution-integration/external-solution-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

More fixes
  prow/jobs/kyma/components/cms-services/cms-services.yaml
  prow/jobs/kyma/components/compass-runtime-agent/compass-runtime-agent.yaml
  prow/jobs/kyma/tests/compass-runtime-agent/compass-runtime-agent-test.yaml
  prow/jobs/kyma/tests/end-to-end/external-solution-integration/external-solution-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Remove odata job
  development/tools/jobs/console/react-odata_test.go
  prow/jobs/console/components/react-odata/react-odata.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Remove kyma 1.1 release constant
  development/tools/jobs/incubator/compass/compass_end_to_end_test.go
  development/tools/jobs/incubator/compass/compass_integration_test.go
  development/tools/jobs/incubator/compass/connector_test.go
  development/tools/jobs/incubator/compass/director_test.go
  development/tools/jobs/incubator/compass/gateway_test.go
  development/tools/jobs/incubator/compass/healthchecker_test.go
  development/tools/jobs/incubator/compass/schema-migrator_test.go
  development/tools/jobs/kyma/application_connectivity_certs_setup_job_test.go
  development/tools/jobs/kyma/application_connectivity_validator_test.go
  development/tools/jobs/kyma/application_connector_tests_test.go
  development/tools/jobs/kyma/cms_services_test.go
  development/tools/jobs/kyma/compass_runtime_agent_test.go
  development/tools/jobs/kyma/compass_runtime_agent_test_test.go
  development/tools/jobs/kyma/end_to_end_external_solution_integration_test.go
  development/tools/jobs/kyma/etcd_tls_setup_job_test.go
  development/tools/jobs/kyma/helm_broker_test.go
  development/tools/jobs/kyma/knative_build_acceptance_test.go
  development/tools/jobs/kyma/knative_function_controller_test.go
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/jobs/kyma/service_binding_usage_controller_test.go
  development/tools/jobs/kyma/test_integration_event_service_test.go
  development/tools/jobs/tester/tester.go
  development/tools/jobs/testinfra/branchprotector_test.go
  development/tools/jobs/testinfra/watch_pods_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Trigger watch-pods job
  README.md
Due: test-infra-governance

Prepare RELEASE_VERSION for next kyma version 1.5
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Mark jobs as required
  development/tools/jobs/kyma/asset_metadata_service_test.go
  development/tools/jobs/kyma/cms_services_test.go
  prow/jobs/kyma/components/asset-metadata-service/asset-metadata-service.yaml
  prow/jobs/kyma/components/cms-services/cms-services.yaml
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Mark jobs as required (#1325)
  development/tools/jobs/kyma/asset_metadata_service_test.go
  development/tools/jobs/kyma/cms_services_test.go
  prow/jobs/kyma/components/asset-metadata-service/asset-metadata-service.yaml
  prow/jobs/kyma/components/cms-services/cms-services.yaml
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

rename knative-function-controller to function-controller
  development/tools/jobs/kyma/function_controller_test.go
  prow/jobs/kyma/components/function-controller/function-controller.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

rename KnativeFunctionControllerTests
  development/tools/jobs/kyma/function_controller_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix integration-gateway tests
  prow/jobs/kyma/tests/integration/gateway/gateway-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix integration-gateway tests
  development/tools/jobs/kyma/integration_gateway_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix integration-gateway tests release job (#1326)
  development/tools/jobs/kyma/integration_gateway_test.go
  prow/jobs/kyma/tests/integration/gateway/gateway-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix backup test
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Fix backup test (#1327)
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Fix backup test (#1327) (#1328)
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Fix link
  .github/pull-request-template.md
Due: test-infra-governance

Fix link (#1329)
  .github/pull-request-template.md
Due: test-infra-governance

Fix backup release job
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Improve
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Prepare RELEASE_VERSION for next kyma version 1.5 (#1324)
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Run central connector plan on changes in e2e tests (#1305)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix backup release job (#1331)
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Run CLI postsubmit only on master
  development/tools/jobs/cli/cli_integration_test.go
  prow/jobs/cli/cli-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Run CLI postsubmit only on master (#1333)
  development/tools/jobs/cli/cli_integration_test.go
  prow/jobs/cli/cli-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Add missing compass prow jobs
  prow/jobs/console/compass/compass.yaml
  prow/jobs/incubator/compass/compass-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Change test_infra_ref to franpog859 fork
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Add new ref for test infra
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  cert-job: any of: ^(development/.*.sh$|prow/.*.sh$)
