Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/

Migrate Kyma GKE pipeline to kind
  prow/jobs/kyma/kyma-kind-integration.yaml
  prow/scripts/README.md
  prow/scripts/kind-install-kyma.sh
  prow/scripts/kyma-testing.sh
  prow/scripts/lib/docker.sh
  prow/scripts/lib/host.sh
  prow/scripts/lib/junit.sh
  prow/scripts/lib/kind.sh
  prow/scripts/lib/kubernetes.sh
  prow/scripts/lib/kyma.sh
  prow/scripts/lib/log.sh
  prow/scripts/lib/testing-helpers.sh
Due: test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Use 1.13 buildpack for Hydroform (#1729)
  development/tools/jobs/incubator/hydroform/hydroform_test.go
  development/tools/jobs/tester/tester.go
  prow/jobs/incubator/hydroform/hydroform.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Configure stub domains for GKE clusters (#1699)
  prow/scripts/cluster-integration/helpers/provision-gke-cluster.sh
  prow/scripts/resources/kube-dns-stub-domains-patch.yaml
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Added custom VM def for weekly cluster.
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Removed unused variable assignment.
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Added missing + sign to append value to array.
  prow/scripts/cluster-integration/helpers/provision-gke-cluster.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Corrected memory size value as it's represented in MB not GB.
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Added custom VM size for nightly cluster. Updated tests.
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Updated kyma-intergration template file.
  templates/templates/kyma-integration.yaml
Due: pre-master-test-infra-validate-generated-files

Increase number of cpu cores for nightly and weekly clusters. #1735 (#1736)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/helpers/provision-gke-cluster.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  templates/templates/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Add cli master - kyma master integration job
  development/tools/jobs/cli/cli_integration_test.go
  prow/jobs/cli/cli-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-integration-cli.sh
  prow/scripts/provision-vm-cli.sh
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

PATH update
  prow/images/kyma-cluster-infra/Dockerfile
Due: pre-master-test-infra-validate-prow

Apply suggestions from code review
  prow/scripts/README.md
  prow/scripts/kind-install-kyma.sh
  prow/scripts/lib/host.sh
  prow/scripts/lib/junit.sh
  prow/scripts/lib/kind.sh
  prow/scripts/lib/kyma.sh
  prow/scripts/lib/log.sh
  prow/scripts/lib/testing-helpers.sh
Due: test-infra-governance, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Migrate Kyma GKE pipeline to kind (#1732)
  prow/jobs/kyma/kyma-kind-integration.yaml
  prow/scripts/README.md
  prow/scripts/kind-install-kyma.sh
  prow/scripts/kyma-testing.sh
  prow/scripts/lib/docker.sh
  prow/scripts/lib/host.sh
  prow/scripts/lib/junit.sh
  prow/scripts/lib/kind.sh
  prow/scripts/lib/kubernetes.sh
  prow/scripts/lib/kyma.sh
  prow/scripts/lib/log.sh
  prow/scripts/lib/testing-helpers.sh
Due: test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

fix
  development/vulnerabilities-scanner.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts

Fix JUnit report generation
  prow/scripts/lib/junit.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Fix JUnit report generation (#1739)
  prow/scripts/lib/junit.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Bump cloud SDK to 272.0.0
  prow/images/bootstrap/Dockerfile
Due: prow/test-infra/bootstrap, test-infra-bootstrap, pre-master-test-infra-validate-prow

Bump cloud SDK to 272.0.0 (#1740)
  prow/images/bootstrap/Dockerfile
Due: prow/test-infra/bootstrap, test-infra-bootstrap, pre-master-test-infra-validate-prow

Fix rel2rel pipeline
  prow/jobs/kyma/kyma-release-upgrade.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Bump cloud SDK to 272.0.0
  prow/images/buildpack-golang/Dockerfile
Due: prow/test-infra/buildpack-golang, test-infra-buildpack-golang, pre-master-test-infra-validate-prow

Fix rel2rel pipeline (#1743)
  prow/jobs/kyma/kyma-release-upgrade.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Bump cloud SDK to 272.0.0 (#1741)
  prow/images/buildpack-golang/Dockerfile
Due: prow/test-infra/buildpack-golang, test-infra-buildpack-golang, pre-master-test-infra-validate-prow

Change release version to 1.7.1
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Bump cloud SDK to 272.0.0
  prow/images/kyma-cluster-infra/Dockerfile
Due: pre-master-test-infra-validate-prow

Add Prow jobs for event-sources component
  prow/jobs/kyma/components/event-sources/event-sources.yaml
  templates/config.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Use generic-component.yaml template instead of prow-config.yaml
  prow/jobs/kyma/components/event-sources/event-sources-generic.yaml
  prow/jobs/kyma/components/event-sources/event-sources.yaml
  templates/config.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Change release version to 1.7.1 (#1744)
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Add Prow jobs for event-sources component (#1745)
  prow/jobs/kyma/components/event-sources/event-sources-generic.yaml
  templates/config.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Add JUnit reports to GKE jobs
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-compass-integration.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-rel2rel-upgrade.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
  templates/templates/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Bump cloud SDK to 272.0.0 (#1742)
  prow/images/kyma-cluster-infra/Dockerfile
Due: pre-master-test-infra-validate-prow

Remove pre-submit job from TestGrid
  prow/jobs/kyma/kyma-integration.yaml
  templates/templates/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Add preset-kind-volume-mounts for Rafter
  prow/jobs/rafter/rafter.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

fix formatting
  prow/jobs/rafter/rafter.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Enable testgrid for compass integration job
  prow/jobs/kyma/kyma-compass-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Add preset-kind-volume-mounts for Rafter (#1747)
  prow/jobs/rafter/rafter.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Update aks-nightly
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  templates/templates/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Update image for aks-nightly (#1748)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  templates/templates/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Fix upgrade tests
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files
