Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow, cert-job

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  cert-job: any of: ^(development/.*.sh$|prow/.*.sh$)

Remove old kubeless images
  prow/jobs/kyma/components/kubeless-images/kubeless-images-nodejs.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Remove old evet-service tests
  prow/jobs/kyma/tests/integration/event-service/test-event-service.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Remove additional logging
  prow/jobs/kyma/tests/logging/logging-deprected.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

whitesource script dir fix
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

prow aks-library, kyma-aks-cluster for performance tests
  performance-tools/performance-cluster/Dockerfile
  performance-tools/performance-cluster/scripts/kyma-aks-cluster.sh
  prow/scripts/cluster-integration/helpers/aks-library.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

add aks cronjob, rename original cronjob
  performance-tools/performance-cluster/cluster.sh
  performance-tools/performance-cluster/job/performance-tests-k6-runner-cronjob.yaml
  performance-tools/performance-cluster/runner.sh
Due: prow/test-infra/validate-scripts

renaming
  performance-tools/performance-cluster/job/performance-tests-k6-runner-cronjob.yaml
Due: none

Change release ver
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Ingrore the job in slack report
  prow/jobs/kyma/kyma-compass-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Updated readme file.
  docs/prow/prow-monitoring.md
Due: test-infra-governance

Require kyma-gke-compass-integration jobs after stabilization (#1357)
  prow/jobs/kyma/kyma-compass-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix metadata governance job
  prow/jobs/cli/cli-integration.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/metadata-governance.sh
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Imp
  prow/scripts/metadata-governance.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Fix metadata governance job (#1391)
  prow/jobs/cli/cli-integration.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/metadata-governance.sh
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Add extra check governance job
  prow/scripts/metadata-governance.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Add an extra check to governance job (#1392)
  prow/scripts/metadata-governance.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Update license-puller.sh to pull licenses from multiple folders
  prow/scripts/license-puller.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Make temp folder go pulling go licenses
  prow/scripts/license-puller.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Added mandatory arguments for delete-dns-record.sh script execution.
  prow/scripts/cluster-integration/helpers/cleanup-cluster.sh
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-compass-integration.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway-migration.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway.sh
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

.
  prow/scripts/license-puller.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

whitesource script dir fix (#1386)
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Corrected variables setup to make them visible for script execution.
  prow/scripts/cluster-integration/helpers/cleanup-cluster.sh
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-compass-integration.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway-migration.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway.sh
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Update Kubebuilder
  prow/images/buildpack-golang-kubebuilder2/Dockerfile
  prow/images/buildpack-golang-kubebuilder2/README.md
Due: test-infra-governance, pre-master-test-infra-validate-prow

Update Kubebuilder version (#1395)
  prow/images/buildpack-golang-kubebuilder2/Dockerfile
  prow/images/buildpack-golang-kubebuilder2/README.md
Due: test-infra-governance, pre-master-test-infra-validate-prow

Change kubebuilder version
  development/tools/jobs/kyma/asset_store_controller_manager_test.go
  development/tools/jobs/kyma/cms_controller_manager_test.go
  development/tools/jobs/tester/tester.go
  prow/jobs/kyma/components/asset-store-controller-manager/asset-store-controller-manager.yaml
  prow/jobs/kyma/components/cms-controller-manager/cms-controller-manager.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Update API Gateway
  prow/jobs/incubator/api-gateway/api-gateway.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Connector tests added
  development/tools/jobs/incubator/compass/connector_tests_test.go
  prow/jobs/incubator/compass/tests/end-to-end/connector-tests.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Removed unnecessary variables assignment. Added required arguments for release-ip-address.sh execution.
  prow/scripts/cluster-integration/helpers/cleanup-cluster.sh
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-compass-integration.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway-migration.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway.sh
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Corrected typos.
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway-migration.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Updated readme.
  docs/prow/prow-monitoring.md
Due: test-infra-governance

plain text and cyphertext variables were switched
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Fix the name conflicts mentioned in the cr
  development/tools/jobs/incubator/hack-showcase/github_connector_test.go
  development/tools/jobs/incubator/hack-showcase/slack_connector_test.go
  prow/jobs/incubator/hack-showcase/github-connector/github-connector.yaml
  prow/jobs/incubator/hack-showcase/slack-connector/slack-connector.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix the version of buildpack in tests
  development/tools/jobs/incubator/hack-showcase/github_connector_test.go
  development/tools/jobs/incubator/hack-showcase/slack_connector_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Added mandatory arguments for delete-dns-record.sh script execution. (#1394)
  prow/scripts/cluster-integration/helpers/cleanup-cluster.sh
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-compass-integration.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway-migration.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway.sh
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Connector tests yaml moved to Connector directory
  development/tools/jobs/incubator/compass/connector_tests_test.go
  prow/jobs/incubator/compass/tests/connector/connector-tests.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Test fix
  development/tools/jobs/incubator/compass/connector_tests_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix the buildpack version
  development/tools/jobs/incubator/hack-showcase/github_connector_test.go
  development/tools/jobs/incubator/hack-showcase/slack_connector_test.go
  prow/jobs/incubator/hack-showcase/github-connector/github-connector.yaml
  prow/jobs/incubator/hack-showcase/slack-connector/slack-connector.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Change the inline string into a const
  development/tools/jobs/incubator/hack-showcase/github_connector_test.go
  development/tools/jobs/incubator/hack-showcase/slack_connector_test.go
  prow/jobs/incubator/hack-showcase/slack-connector/slack-connector.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Add slack connector jobs to prow (#1376)
  development/tools/jobs/incubator/hack-showcase/github_connector_test.go
  development/tools/jobs/incubator/hack-showcase/slack_connector_test.go
  prow/jobs/incubator/hack-showcase/github-connector/github-connector.yaml
  prow/jobs/incubator/hack-showcase/slack-connector/slack-connector.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow
