Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow, cert-job

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  cert-job: any of: ^(development/.*.sh$|prow/.*.sh$)

fix test
  development/tools/jobs/kyma/kyma_integration_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Cleaned
  development/tools/cmd/release-job-creator/main.go
  development/tools/cmd/release-job-creator/main_test.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

Update golang
  prow/images/buildpack-golang/Dockerfile
  prow/images/buildpack-golang/README.md
Due: prow/test-infra/buildpack-golang, test-infra-buildpack-golang, test-infra-governance, pre-master-test-infra-validate-prow

Release pipeline
  prow/images/buildpack-golang/Makefile
Due: prow/test-infra/buildpack-golang, test-infra-buildpack-golang, pre-master-test-infra-validate-prow

Bump Golang and Dep in golang buildpack (#1307)
  prow/images/buildpack-golang/Dockerfile
  prow/images/buildpack-golang/Makefile
  prow/images/buildpack-golang/README.md
Due: prow/test-infra/buildpack-golang, test-infra-buildpack-golang, test-infra-governance, pre-master-test-infra-validate-prow

Fix additional pipe
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Change go version in cms-services
  prow/jobs/kyma/components/cms-services/cms-services.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Moved job labels for kyma-installer down
  prow/jobs/kyma/kyma-installer.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix tests
  development/tools/jobs/kyma/cms_services_test.go
  development/tools/jobs/tester/tester.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Change go version in cms-services (#1308)
  development/tools/jobs/kyma/cms_services_test.go
  development/tools/jobs/tester/tester.go
  prow/jobs/kyma/components/cms-services/cms-services.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

fixing cluster creation issue
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/config.yaml
  prow/images/whitesource-scanner/README.md
  prow/jobs/kyma/kyma-integration.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

apply workaround
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

apply workaround (#1310)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

adjust VM settings
  prow/scripts/provision-vm-compass.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Cleanup dupliacted test
  development/tools/jobs/kyma/kyma_integration_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

adjust VM settings (#1311)
  prow/scripts/provision-vm-compass.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Change readme
  development/tools/cmd/release-job-creator/README.md
  development/tools/cmd/release-job-creator/main.go
Due: test-infra-development-tools, test-infra-governance, pre-master-test-infra-validate-prow

Add job for podpreset
  development/tools/jobs/incubator/podpreset-crd/podpreset_crd_test.go
  development/tools/jobs/testinfra/branchprotector_test.go
  prow/config.yaml
  prow/jobs/incubator/podpreset-crd/podpreset-crd.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

Adjust compass integration vm settings
  prow/scripts/provision-vm-compass.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

reduce memory of whitesource job
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Adjust compass integration vm settings (#1314)
  prow/scripts/provision-vm-compass.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Added post submit jobs
  development/tools/cmd/release-job-creator/main.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

Fix tool
  prow/jobs/kyma/kyma-release-candidate.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Trigger pre-release job for watch-pods
  README.md
Due: test-infra-governance

starter.yaml rewrite (#1154)
  development/tools/cmd/yamlmerge/README.md
  development/tools/cmd/yamlmerge/main.go
  development/tools/pkg/yamlmerge/merge.go
  development/tools/pkg/yamlmerge/merge_test.go
  prow/cluster/12-deck-patch-workload.yaml
  prow/cluster/13-sinker-patch-workload.yaml
  prow/cluster/14-plank-patch-workload.yaml
  prow/cluster/components/cluster_config-maps.yaml
  prow/cluster/components/deck_deployment.yaml
  prow/cluster/components/deck_rbac.yaml
  prow/cluster/components/deck_service.yaml
  prow/cluster/components/hook-deck_ingress.yaml
  prow/cluster/components/hook_deployment.yaml
  prow/cluster/components/hook_rbac.yaml
  prow/cluster/components/hook_service.yaml
  prow/cluster/components/plank_deployment.yaml
  prow/cluster/components/plank_rbac.yaml
  prow/cluster/components/prowjob_customresourcedefinition.yaml
  prow/cluster/components/sinker_deployment.yaml
  prow/cluster/components/sinker_rbac.yaml
  prow/cluster/components/tide_deployment.yaml
  prow/cluster/components/tide_rbac.yaml
  prow/cluster/components/tide_service.yaml
  prow/cluster/starter.yaml
  prow/install-prow.sh
Due: test-infra-development-tools, test-infra-governance, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Change backup namespace (#1303)
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Add job for podpreset (#1312)
  development/tools/jobs/incubator/podpreset-crd/podpreset_crd_test.go
  development/tools/jobs/testinfra/branchprotector_test.go
  prow/config.yaml
  prow/jobs/incubator/podpreset-crd/podpreset-crd.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

Whitesource memory reduce (#1313)
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Revert "adjust VM settings (#1311)"
  prow/scripts/provision-vm-compass.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Revert "adjust VM settings (#1311)" (#1316)
  prow/scripts/provision-vm-compass.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

changing GCP zone
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/jobs/kyma/kyma_release_candidate_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/jobs/kyma/kyma-release-candidate.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix tool
  development/tools/cmd/release-job-creator/main.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

Yaml is back in origin form
  prow/jobs/kyma/kyma-release-candidate.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Yaml is back in origin form
  prow/jobs/kyma/kyma-installer.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Update remaining files manually
  development/tools/jobs/tester/tester.go
  prow/config.yaml
  prow/jobs/test-infra/watch-pods.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

Change presets array too
  prow/jobs/kyma/kyma-github-release.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix tests
  development/tools/jobs/kyma/logging_tests_test.go
  development/tools/jobs/kyma/monitoring_test.go
  prow/jobs/kyma/components/cms-services/cms-services.yaml
  prow/jobs/kyma/components/compass-runtime-agent/compass-runtime-agent.yaml
  prow/jobs/kyma/tests/compass-runtime-agent/compass-runtime-agent-test.yaml
  prow/jobs/kyma/tests/end-to-end/external-solution-integration/external-solution-integration.yaml
  prow/jobs/kyma/tests/integration/logging/logging-integration.yaml
  prow/jobs/kyma/tests/integration/monitoring/monitoring-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow
