Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  test-infra-governance: any of: milv.config.yaml|.md$
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: (any of: prow/(plugins|config).yaml) or (any of: ^prow/((plugins|config).yaml|jobs/))

Update development/tools/cmd/dnscollector/README.md
  development/tools/cmd/dnscollector/README.md
Due: test-infra-development-tools, test-infra-governance

Fix README.md
  development/tools/cmd/dnscollector/README.md
Due: test-infra-development-tools, test-infra-governance

Final configuration for nightly and weekly cluster (#571)
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/jobs/tester/tester.go
  docs/prow/presets.md
  prow/cluster/required-secrets.yaml
  prow/config.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/helpers/generate-self-signed-cert.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Add job with flunetd testing cluster
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-fluentd.sh
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Add a minor formatting fix
  docs/prow/component-jobs.md
Due: test-infra-governance

Add a minor formatting fix (#577)
  docs/prow/component-jobs.md
Due: test-infra-governance

Verify that release was not published before creating release images (#570)
  development/github-release.sh
  prow/scripts/build.sh
Due: prow/test-infra/validate-scripts

Add unit tests
  development/tools/pkg/dnscollector/automock/compute_api.go
  development/tools/pkg/dnscollector/automock/dnsapi.go
  development/tools/pkg/dnscollector/collector.go
  development/tools/pkg/dnscollector/collector_test.go
  development/tools/pkg/dnscollector/wrappers.go
Due: test-infra-development-tools

Add job with flunetd testing cluster (#578)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-fluentd.sh
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Add unit tests
  development/tools/pkg/dnscollector/automock/dnsapi.go
  development/tools/pkg/dnscollector/collector.go
  development/tools/pkg/dnscollector/wrappers.go
Due: test-infra-development-tools

Grand sig-core team access to clusters
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Update tests
  development/tools/jobs/kyma/kyma_integration_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Update development/README.md
  development/README.md
Due: test-infra-governance

Fix after CR#1
  development/checker/unique-jobs-name/main.go
  development/validate-config.sh
Due: prow/test-infra/validate-scripts

Exiting if no default custom images found
  prow/scripts/provision-vm-and-start-kyma.sh
Due: prow/test-infra/validate-scripts

Add unit tests
  development/tools/pkg/dnscollector/collector.go
  development/tools/pkg/dnscollector/collector_test.go
Due: test-infra-development-tools

update README
  development/custom-image/README.md
Due: test-infra-governance

Fix after CR#2
  development/checker/unique-jobs-name/main.go
Due: none

Update README
  development/custom-image/README.md
Due: test-infra-governance

Update READ ME
  development/custom-image/README.md
Due: test-infra-governance

Update kyma-integration.yaml
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Update kyma_integration_test.go
  development/tools/jobs/kyma/kyma_integration_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Update Default Images limit to 1
  prow/scripts/provision-vm-and-start-kyma.sh
Due: prow/test-infra/validate-scripts

Trigger CLA check...
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Grant the cluster-access team access to the clusters (#579)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add permissions to README.md
  development/tools/cmd/dnscollector/README.md
Due: test-infra-development-tools, test-infra-governance

Update wrappers.go
  development/tools/pkg/dnscollector/wrappers.go
Due: test-infra-development-tools

Remove developers teams from clusters
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Fix tests
  development/tools/jobs/kyma/kyma_integration_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Create prowjob for dnscollector
  development/dns-cleanup.sh
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Remove developers teams from accessing clusters (#585)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

console app log-ui CI job, initial commit
  development/tools/jobs/console/log-ui_test.go
  prow/jobs/console/log-ui/log-ui.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs
