Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-bootstrap-helm, pre-test-infra-kyma-cluster-infra, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-golang-toolbox, pre-test-infra-buildpack-golang-kubebuilder, pre-test-infra-buildpack-golang-kubebuilder2, pre-test-infra-buildpack-node, pre-test-infra-buildpack-node-chromium, pre-test-infra-buildpack-java, pre-test-infra-buildpack-java-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-kubectl, pre-test-infra-prow-clonerefs, pre-test-infra-kyma-tools, post-test-infra-bootstrap, post-test-infra-bootstrap-helm, post-test-infra-kyma-cluster-infra, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-golang-toolbox, post-test-infra-buildpack-golang-kubebuilder, post-test-infra-buildpack-golang-kubebuilder2, post-test-infra-buildpack-node, post-test-infra-buildpack-node-chromium, post-test-infra-buildpack-java, post-test-infra-buildpack-java-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-kubectl, post-test-infra-prow-clonerefs, post-test-infra-kyma-tools, prow/test-infra/check_config, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files, pre-master-test-infra-validate-prow-installer-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

prow/test-infra/bootstrap:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-golang:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-node:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/cleaner:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

pre-test-infra-bootstrap:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

pre-test-infra-bootstrap-helm:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

pre-test-infra-kyma-cluster-infra:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

pre-test-infra-kyma-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-test-jobs-yaml-definitions:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      command:
      - make
      args:
      - -C
      - development/tools
      - jobs-tests

Change VM type
  prow/scripts/cluster-integration/kyma-integration-gardener-azure.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Change VM type on integration-gardener-azure (#2294)
  prow/scripts/cluster-integration/kyma-integration-gardener-azure.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Apply suggestions from code review
  development/tools/cmd/secretspopulator/README.md
  docs/prow/README.md
  docs/prow/obligatory-security-measures.md
  docs/prow/prow-secrets.md
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-governance, pre-master-test-infra-validate-prow

config render
  development/tools/jobs/releases/releases.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

updated before-commit.sh for mods
  stability-checker/before-commit.sh
  stability-checker/go.mod
  stability-checker/go.sum
Due: pre-master-stability-checker, post-master-stability-checker, prow/test-infra/validate-scripts

core-ui
  templates/config.yaml
Due: pre-master-test-infra-validate-generated-files

core-ui
  prow/jobs/console/core-ui/core-ui.yaml
  templates/config.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

update Go version in README.md
  stability-checker/README.md
Due: pre-master-stability-checker, post-master-stability-checker, test-infra-governance

update scripts for mods
  stability-checker/local_minikube_build.sh
Due: pre-master-stability-checker, post-master-stability-checker, prow/test-infra/validate-scripts

updated tests to use go 1.14
  development/tools/jobs/tester/tester.go
  development/tools/jobs/testinfra/stability_checker_test.go
  prow/jobs/test-infra/stability-checker.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Secrets cleanup (#2259)
  development/prow-installer/config/prow-installer-config.yaml
  development/tools/cmd/secretspopulator/README.md
  docs/prow/README.md
  docs/prow/obligatory-security-measures.md
  docs/prow/presets.md
  docs/prow/prow-secrets.md
  prow/cluster/required-secrets.yaml
  prow/config.yaml
  prow/workload-cluster/required-secrets.yaml
  templates/templates/prow-config.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, prow/test-infra/check_config, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-governance, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

run binaries from GOPATH
  stability-checker/before-commit.sh
  stability-checker/internal/log/logfetcher.go
  stability-checker/internal/notifier/dep.go
  stability-checker/internal/notifier/notifier.go
  stability-checker/internal/runner/dep.go
  stability-checker/internal/runner/runner.go
  stability-checker/internal/summary/automock/log_fetcher.go
  stability-checker/internal/summary/automock/log_processor.go
Due: pre-master-stability-checker, post-master-stability-checker, prow/test-infra/validate-scripts

Remove prod profile from aws & gcp gardener jobs
  prow/scripts/cluster-integration/kyma-integration-gardener-aws.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-gcp.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Remove backup resources
  development/tools/jobs/kyma/components_test.go
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/jobs/kyma/tests_test.go
  prow/config.yaml
  prow/jobs/kyma/components/backup-plugins/backup-plugins-generic.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/jobs/kyma/tests/end-to-end/backup/backup-generic.yaml
  prow/scripts/cluster-integration/helpers/generate-cluster-backup-config.sh
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
  templates/config.yaml
  templates/templates/kyma-integration.yaml
  templates/templates/prow-config.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, prow/test-infra/check_config, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

bump next release version to 1.12.0
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Remove prod profile from aws & gcp gardener jobs (#2297)
  prow/scripts/cluster-integration/kyma-integration-gardener-aws.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-gcp.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Add temporary job for Compass with Auditlog mock integration (#2291)
  development/tools/jobs/incubator/compass/compass_integration_auditlog_temp_test.go
  prow/jobs/incubator/compass/compass-integration-auditlog-temp.yaml
  prow/scripts/provision-vm-compass-auditlog-temp.sh
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

corrected next release version
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

removed newline char.
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Remove backup resources (#2298)
  development/tools/jobs/kyma/components_test.go
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/jobs/kyma/tests_test.go
  prow/config.yaml
  prow/jobs/kyma/components/backup-plugins/backup-plugins-generic.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/jobs/kyma/tests/end-to-end/backup/backup-generic.yaml
  prow/scripts/cluster-integration/helpers/generate-cluster-backup-config.sh
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
  templates/config.yaml
  templates/templates/kyma-integration.yaml
  templates/templates/prow-config.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, prow/test-infra/check_config, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

update scripts
  stability-checker/before-commit.sh
  stability-checker/local_minikube_build.sh
Due: pre-master-stability-checker, post-master-stability-checker, prow/test-infra/validate-scripts

core-ui-test
  development/tools/jobs/console/console_test.go
  development/tools/jobs/console/core_ui_test.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

updated branchprotector config
  prow/branchprotector-config.yaml
Due: pre-master-test-infra-validate-prow

updated branchprotector config (#2301)
  prow/branchprotector-config.yaml
Due: pre-master-test-infra-validate-prow

bump next release version to 1.12.0 (#2299)
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Switch stability-checker to go modules. (#2296)
  development/tools/jobs/tester/tester.go
  development/tools/jobs/testinfra/stability_checker_test.go
  prow/jobs/test-infra/stability-checker.yaml
  stability-checker/Gopkg.lock
  stability-checker/Gopkg.toml
  stability-checker/README.md
  stability-checker/before-commit.sh
  stability-checker/go.mod
  stability-checker/go.sum
  stability-checker/internal/log/logfetcher.go
  stability-checker/internal/notifier/dep.go
  stability-checker/internal/notifier/notifier.go
  stability-checker/internal/runner/dep.go
  stability-checker/internal/runner/runner.go
  stability-checker/internal/summary/automock/log_fetcher.go
  stability-checker/internal/summary/automock/log_processor.go
  stability-checker/local_minikube_build.sh
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

watch-pods to go mod
  watch-pods/Gopkg.lock
  watch-pods/Gopkg.toml
  watch-pods/before-commit.sh
  watch-pods/go.mod
  watch-pods/go.sum
Due: prow/test-infra/validate-scripts, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

updated tests
  development/tools/jobs/testinfra/watch_pods_test.go
  prow/jobs/test-infra/watch-pods/watch-pods.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Update core-ui file
  prow/jobs/console/core-ui/core-ui.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

bumped image in templates
  templates/config.yaml
Due: pre-master-test-infra-validate-generated-files

bumped image in templates
  prow/jobs/test-infra/watch-pods/watch-pods.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

core-ui-tmp
  development/tools/jobs/console/console_test.go
  prow/jobs/console/core-ui/core-ui-tmp.yaml
  prow/jobs/console/core-ui/core-ui.yaml
  templates/config.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

updated Go version in README.md
  watch-pods/README.md
Due: test-infra-governance, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

Migrate core-ui jobs to generic component templates (#2300)
  development/tools/jobs/console/console_test.go
  development/tools/jobs/console/core_ui_test.go
  prow/jobs/console/core-ui/core-ui-tmp.yaml
  prow/jobs/console/core-ui/core-ui.yaml
  templates/config.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Switch watch-pods to go.mod (#2302)
  development/tools/jobs/testinfra/watch_pods_test.go
  prow/jobs/test-infra/watch-pods/watch-pods.yaml
  templates/config.yaml
  watch-pods/Gopkg.lock
  watch-pods/Gopkg.toml
  watch-pods/README.md
  watch-pods/before-commit.sh
  watch-pods/go.mod
  watch-pods/go.sum
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

Adapt to kyma provision command changes
  prow/scripts/cluster-integration/kyma-integration-gardener-aws.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-azure.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-gcp.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

add license puller to node buildpack
  prow/images/buildpack-node/Dockerfile
  prow/images/buildpack-node/license-puller.sh
Due: prow/test-infra/buildpack-node, pre-test-infra-buildpack-node, post-test-infra-buildpack-node, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow

add license puller to node buildpack (#2304)
  prow/images/buildpack-node/Dockerfile
  prow/images/buildpack-node/license-puller.sh
Due: prow/test-infra/buildpack-node, pre-test-infra-buildpack-node, post-test-infra-buildpack-node, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  pre-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  pre-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  pre-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  pre-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  pre-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  pre-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  pre-test-infra-kyma-tools: any of: ^development/tools/
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  post-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  post-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  post-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  post-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  post-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  post-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  post-test-infra-kyma-tools: any of: ^development/tools/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/
