Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/

Make Rafter job required
  prow/jobs/kyma/tests/rafter/rafter-tests-generic.yaml
  templates/config.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

prepare release jobs for release 1.9 - rerender
  development/tools/jobs/releases/releases.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Remove not existing jobs from Branch Protector configuration
  prow/config.yaml
  templates/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Cleanup template
  templates/config.yaml
Due: pre-master-test-infra-validate-generated-files

tests
  development/tools/jobs/testinfra/branchprotector_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

tt
  development/tools/jobs/testinfra/branchprotector_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Remove not existing jobs from Branch Protector configuration (#1870)
  development/tools/jobs/testinfra/branchprotector_test.go
  prow/config.yaml
  templates/config.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Make Rafter job required (#1866)
  prow/jobs/kyma/tests/rafter/rafter-tests-generic.yaml
  templates/config.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

bump kyma version to 1.9.0-rc2
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

remove newline
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Revert "Remove strategy flag (#1857)"
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  templates/templates/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Revert "Change project for Release Candidate clusters (#1839)"
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/jobs/kyma/kyma_release_candidate_test.go
  prow/config.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/jobs/kyma/kyma-release-candidate.yaml
  prow/scripts/cluster-integration/helpers/provision-gke-cluster.sh
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
  templates/templates/kyma-integration.yaml
  templates/templates/kyma-release-candidate.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Revert the project name for the rc cluster (#1873)
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/jobs/kyma/kyma_release_candidate_test.go
  prow/config.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/jobs/kyma/kyma-release-candidate.yaml
  prow/scripts/cluster-integration/helpers/provision-gke-cluster.sh
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
  templates/templates/kyma-integration.yaml
  templates/templates/kyma-release-candidate.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

use image with updated kubectl
  prow/images/bootstrap-helm/Dockerfile
Due: test-infra-bootstrap-helm, pre-master-test-infra-validate-prow

use image with updated kubectl (#1874)
  prow/images/bootstrap-helm/Dockerfile
Due: test-infra-bootstrap-helm, pre-master-test-infra-validate-prow

updated image
  templates/templates/kyma-release-candidate.yaml
Due: pre-master-test-infra-validate-generated-files

template
  prow/jobs/kyma/kyma-release-candidate.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

tests
  development/tools/jobs/kyma/kyma_release_candidate_test.go
  development/tools/jobs/tester/tester.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Bump release image (#1875)
  development/tools/jobs/kyma/kyma_release_candidate_test.go
  development/tools/jobs/tester/tester.go
  prow/jobs/kyma/kyma-release-candidate.yaml
  templates/templates/kyma-release-candidate.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Add monitoring lists to the white list
  milv.config.yaml
Due: test-infra-governance

Add monitoring lists to the white list (#1876)
  milv.config.yaml
Due: test-infra-governance

Clean up test addons before final e2e tests for remaining kyma upgrade jobs
  prow/scripts/cluster-integration/kyma-gke-rel2rel-upgrade.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Clean up test addons before final e2e tests for remaining kyma upgrade jobs (#1877)
  prow/scripts/cluster-integration/kyma-gke-rel2rel-upgrade.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Bump kyma version to 1.9.0-rc2 (#1871)
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Separate out whitesource and create more scans (#1849)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/config.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/jobs/scans/whitesource-periodics.yaml
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
  templates/config.yaml
  templates/templates/kyma-integration.yaml
  templates/templates/prow-config.yaml
  templates/templates/whitesource-periodics.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

bump kyma version to 1.9.0-rc3
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Upgrade Velero to 1.2.0 (#1864)
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

ifndef
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Bump kyma version to 1.9.0-rc3 (#1878)
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

debug
  prow/scripts/cluster-integration/helpers/reserve-ip-address.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

rc
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

if statement
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Adjust jobs definition after refactoring compass test directors
  prow/jobs/incubator/compass/tests/director-tests/director-tests-generic.yaml
  templates/config.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Adjust jobs definition after refactoring compass test directors
  development/tools/jobs/incubator/tests_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

rel
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

remove debug
  prow/scripts/cluster-integration/helpers/reserve-ip-address.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Release pipeline (#1881)
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files
