Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-bootstrap-helm, pre-test-infra-kyma-cluster-infra, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-golang-toolbox, pre-test-infra-buildpack-golang-kubebuilder, pre-test-infra-buildpack-golang-kubebuilder2, pre-test-infra-buildpack-node, pre-test-infra-buildpack-node-chromium, pre-test-infra-buildpack-java, pre-test-infra-buildpack-java-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-kubectl, pre-test-infra-prow-clonerefs, pre-test-infra-kyma-tools, post-test-infra-bootstrap, post-test-infra-bootstrap-helm, post-test-infra-kyma-cluster-infra, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-golang-toolbox, post-test-infra-buildpack-golang-kubebuilder, post-test-infra-buildpack-golang-kubebuilder2, post-test-infra-buildpack-node, post-test-infra-buildpack-node-chromium, post-test-infra-buildpack-java, post-test-infra-buildpack-java-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-kubectl, post-test-infra-prow-clonerefs, post-test-infra-kyma-tools, prow/test-infra/check_config, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files, pre-master-test-infra-validate-prow-installer-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  pre-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  pre-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  pre-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  pre-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  pre-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  pre-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  pre-test-infra-kyma-tools: any of: ^development/tools/
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  post-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  post-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  post-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  post-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  post-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  post-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  post-test-infra-kyma-tools: any of: ^development/tools/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/

still errors
  stability-checker/before-commit.sh
  stability-checker/go.mod
  stability-checker/go.sum
Due: pre-master-stability-checker, post-master-stability-checker, prow/test-infra/validate-scripts

remove update of linter
  development/tools/before-commit.sh
  development/tools/go.sum
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow

remove -u from linter check
  development/prow-installer/before-commit.sh
  development/prow-installer/go.sum
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts

remove -u from linter
  stability-checker/before-commit.sh
  stability-checker/go.mod
  stability-checker/go.sum
Due: pre-master-stability-checker, post-master-stability-checker, prow/test-infra/validate-scripts

update linter again, have direct dependency
  stability-checker/before-commit.sh
  stability-checker/go.mod
  stability-checker/pkg/tools/tools.go
Due: pre-master-stability-checker, post-master-stability-checker, prow/test-infra/validate-scripts

update linter again, have direct dependency
  development/prow-installer/before-commit.sh
  development/prow-installer/go.mod
  development/prow-installer/pkg/tools/tools.go
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-installer-files

update linter again, have direct dependency
  development/tools/before-commit.sh
  development/tools/go.mod
  development/tools/pkg/tools/tools.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Increase min. autoscaler value for gardener jobs (#2261)
  prow/scripts/cluster-integration/kyma-integration-gardener-aws.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-azure.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-gcp.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Added tools package to build dependency
  development/prow-addons-ctrl-manager/cmd/manager/main.go
  development/prow-addons-ctrl-manager/go.mod
  development/prow-addons-ctrl-manager/pkg/controller/notifier/automock/report_client.go
  development/prow-addons-ctrl-manager/tools/tools.go
Due: pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager

Clean up old lambda UI view - test-infra part (#2181)
  development/tools/jobs/console/lambda_test.go
  prow/jobs/console/lambda/lambda.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Whitelist hook link
  milv.config.yaml
Due: test-infra-governance

Whitelist hook link (#2263)
  milv.config.yaml
Due: test-infra-governance

Moved prow-tools Dockerfile to prow/images for consistency
  prow/images/prow-tools/Dockerfile
  prow/images/prow-tools/Makefile
  prow/images/prow-tools/README.md
  prow/jobs/test-infra/buildpack.yaml
Due: test-infra-governance, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

add back Makefile
  development/tools/Makefile
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-validate-prow

Added crier deployment files and configs.
  prow/cluster/components/33-crier_deployment.yaml
  prow/cluster/components/34-crier_rbac.yaml
  prow/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Added crier config
  templates/templates/prow-config.yaml
Due: pre-master-test-infra-validate-generated-files

Crier deployment (#2266)
  prow/cluster/components/33-crier_deployment.yaml
  prow/cluster/components/34-crier_rbac.yaml
  prow/config.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Add always_run true
  prow/jobs/incubator/knative-kafka/knative-kafka.yaml
  templates/templates/knative-kafka-component.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Add always_run true
  prow/jobs/incubator/knative-kafka/knative-kafka.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Add always_run true (#2267)
  prow/jobs/incubator/knative-kafka/knative-kafka.yaml
  templates/templates/knative-kafka-component.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Updated README.md
  prow/images/prow-tools/README.md
Due: test-infra-governance, pre-master-test-infra-validate-prow

Move prow-tools Dockerfile to prow/images (#2264)
  development/tools/Makefile
  prow/images/prow-tools/Dockerfile
  prow/images/prow-tools/Makefile
  prow/images/prow-tools/README.md
  prow/jobs/test-infra/buildpack.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-governance, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

docs
  development/tools/cmd/secretspopulator/README.md
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-governance, pre-master-test-infra-validate-prow

docs
  docs/prow/prow-secrets.md
Due: test-infra-governance

fix branchprotector
  prow/branchprotector-config.yaml
  prow/scripts/branchprotector-job.yaml
Due: pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

removed sa-gcs-credentials arg and mount from deck deployment.
  prow/cluster/components/15-deck_deployment.yaml
Due: pre-master-test-infra-validate-prow

switched branchprotector cronjob to separate config.
  prow/cluster/components/23-branchprotector_cronjob.yaml
Due: pre-master-test-infra-validate-prow

Removed leading sapce from markdown link
  docs/prow/production-cluster-configuration.md
Due: test-infra-governance

Use latest published master on periodic clusters
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-aws.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-azure.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-gcp.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Wait for tiller rollout status
  prow/scripts/cluster-integration/kyma-gke-rel2rel-upgrade.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

fix branchprotector (#2269)
  prow/branchprotector-config.yaml
  prow/cluster/components/23-branchprotector_cronjob.yaml
  prow/scripts/branchprotector-job.yaml
Due: pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

removed sa-gcs-credentials arg and mount from deck deployment. (#2270)
  prow/cluster/components/15-deck_deployment.yaml
Due: pre-master-test-infra-validate-prow

Update docs/prow/production-cluster-configuration.md
  docs/prow/production-cluster-configuration.md
Due: test-infra-governance

Fixed jobguard import path. (#2251)
  development/jobguard/cmd/jobguard/main.go
  development/jobguard/pkg/jobguard/filter.go
  development/jobguard/pkg/jobguard/httpclient.go
  development/jobguard/pkg/jobguard/status.go
  development/jobguard/pkg/jobguard/waiter.go
  development/jobguard/scripts/run.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts

laymans go vanity import path support
  prow/images/buildpack-golang-toolbox/Dockerfile
  prow/images/buildpack-golang-toolbox/license-puller.sh
Due: pre-test-infra-buildpack-golang-toolbox, post-test-infra-buildpack-golang-toolbox, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow

fix shellcheck errors
  prow/images/buildpack-golang-toolbox/license-puller.sh
Due: pre-test-infra-buildpack-golang-toolbox, post-test-infra-buildpack-golang-toolbox, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow

split on ','
  prow/images/buildpack-golang-toolbox/license-puller.sh
Due: pre-test-infra-buildpack-golang-toolbox, post-test-infra-buildpack-golang-toolbox, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow
