Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, pre-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

prow/test-infra/bootstrap:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-golang:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-node:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/cleaner:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

test-infra-bootstrap:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-bootstrap-helm:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-golang:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-node:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-development-tools:
  labels:
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      command:
      - make
      args:
      - -C
      - development/tools
      - validate

Add tools/jobs for other components
  development/tools/jobs/kyma/components_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix typo in tests
  development/tools/jobs/kyma/tests_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Delete e2e kubeless tests
  prow/jobs/kyma/tests/end-to-end/kubeless-integration/kubeless-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

remove kubeless-integration tests
  development/tools/jobs/kyma/tests_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Move console backend and e2e to keep aplhpabetic order
  templates/config.yaml
Due: none

Add connection-token-handler-tests and connector-service-tests to tests_test
  development/tools/jobs/kyma/tests_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Regenerate jobs
  prow/jobs/kyma/components/application-connectivity-certs-setup-job/application-connectivity-certs-setup-job-generic.yaml
  prow/jobs/kyma/components/application-connectivity-validator/application-connectivity-validator-generic.yaml
  prow/jobs/kyma/components/application-gateway/application-gateway-generic.yaml
  prow/jobs/kyma/components/application-operator/application-operator-generic.yaml
  prow/jobs/kyma/components/application-registry/application-registry-generic.yaml
  prow/jobs/kyma/components/compass-runtime-agent/compass-runtime-agent-generic.yaml
  prow/jobs/kyma/components/connection-token-handler/connection-token-handler-generic.yaml
  prow/jobs/kyma/components/connectivity-certs-controller/connectivity-certs-controller-generic.yaml
  prow/jobs/kyma/components/connector-service/connector-service-generic.yaml
  prow/jobs/kyma/tests/application-connector-tests/application-connector-tests-generic.yaml
  prow/jobs/kyma/tests/application-gateway-tests/application-gateway-tests-generic.yaml
  prow/jobs/kyma/tests/application-operator-tests/application-operator-tests-generic.yaml
  prow/jobs/kyma/tests/application-registry-tests/application-registry-tests-generic.yaml
  prow/jobs/kyma/tests/compass-runtime-agent/compass-runtime-agent-tests-generic.yaml
  prow/jobs/kyma/tests/connection-token-handler-tests/connection-token-handler-tests-generic.yaml
  prow/jobs/kyma/tests/connector-service-tests/connector-service-tests-generic.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Update tip
  kind/README.md
Due: test-infra-governance, pre-master-kind-kubernetes-image

Fix owners
  CODEOWNERS
Due: none

Add jobs for Kind environment (#1609)
  CODEOWNERS
  prow/jobs/test-infra/test-infra-kind.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

asdas
  kind/README.md
Due: test-infra-governance, pre-master-kind-kubernetes-image

Fix cluster creation when image build
  kind/scripts/build-kubernetes-image.sh
Due: pre-master-kind-kubernetes-image, prow/test-infra/validate-scripts

git ignore...
  .gitignore
Due: none

Add Kind cluster setup (#1538)
  kind/KIND_KUBERNETES_VERSION
  kind/README.md
  kind/cluster/cluster.yaml
  kind/cluster/resources/01-metrics-server.yaml
  kind/cluster/resources/02-local-path-provisioner.yaml
  kind/config/overrides.yaml
  kind/scripts/build-kubernetes-image.sh
  kind/scripts/common.sh
  kind/scripts/install-kyma.sh
Due: test-infra-governance, pre-master-kind-kubernetes-image, prow/test-infra/validate-scripts

Add security context
  prow/jobs/test-infra/test-infra-kind.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Add missing preset
  prow/jobs/test-infra/test-infra-kind.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Fix kind periodic job (#1611)
  prow/jobs/test-infra/test-infra-kind.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Add backup plugin jobs
  development/tools/jobs/kyma/tools_test.go
  prow/jobs/kyma/tools/backup-plugins/backup-plugins.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Add backup plugin jobs (#1612)
  development/tools/jobs/kyma/tools_test.go
  prow/jobs/kyma/tools/backup-plugins/backup-plugins.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Move backup plugin jobs
  development/tools/jobs/kyma/components_test.go
  development/tools/jobs/kyma/tools_test.go
  prow/jobs/kyma/components/backup-plugins/backup-plugins.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Move backup plugin jobs (#1614)
  development/tools/jobs/kyma/components_test.go
  development/tools/jobs/kyma/tools_test.go
  prow/jobs/kyma/components/backup-plugins/backup-plugins.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Change Service Catalog acceptance tests' directory name in configuration.
  prow/jobs/kyma/tests/service-catalog/service-catalog-tests-generic.yaml
  prow/jobs/kyma/tests/service-catalog/service-catalog.yaml
  templates/config.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Change job test after refactoring svc acceptance tests.
  development/tools/jobs/kyma/tests_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

apiserver-proxy integration tests: switch to generic
  development/tools/jobs/kyma/tests_test.go
  prow/jobs/kyma/tests/integration/apiserver-proxy/apiserver-proxy-tests-generic.yaml
  prow/jobs/kyma/tests/integration/apiserver-proxy/apiserver-proxy-tests.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Revert image buildpack in svc job test.
  development/tools/jobs/kyma/tests_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

apiserver-proxy integration tests: switch to generic (#1616)
  development/tools/jobs/kyma/tests_test.go
  prow/jobs/kyma/tests/integration/apiserver-proxy/apiserver-proxy-tests-generic.yaml
  prow/jobs/kyma/tests/integration/apiserver-proxy/apiserver-proxy-tests.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Change value in ConfigMap after renaming.
  prow/scripts/cluster-integration/kyma-gke-compass-integration.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Revert 'acceptance' test job deletion and set it unil release 1.6.
  development/tools/jobs/kyma/tests_test.go
  prow/jobs/kyma/tests/acceptance/acceptance.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Make plugin jobs generic
  development/tools/jobs/kyma/components_test.go
  prow/jobs/kyma/components/backup-plugins/backup-plugins-generic.yaml
  prow/jobs/kyma/components/backup-plugins/backup-plugins.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Change 'acceptance' testjob's test to until release 1.5.
  development/tools/jobs/kyma/tests_test.go
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix version in 'acceptace' test job.
  templates/config.yaml
Due: none

Make plugin jobs generic (#1617)
  development/tools/jobs/kyma/components_test.go
  prow/jobs/kyma/components/backup-plugins/backup-plugins-generic.yaml
  prow/jobs/kyma/components/backup-plugins/backup-plugins.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

cluster-users test: add generic job
  development/tools/jobs/kyma/tests_test.go
  prow/jobs/kyma/tests/integration/cluster-users/cluster-users-generic.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

unify
  prow/jobs/kyma/tests/integration/cluster-users/cluster-users-tests-generic.yaml
  prow/jobs/kyma/tests/integration/cluster-users/cluster-users-tests.yaml
  templates/config.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

fix
  development/tools/jobs/kyma/tests_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

fix
  prow/jobs/kyma/tests/integration/cluster-users/cluster-users-tests-generic.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

cluster-users test: add generic job (#1618)
  development/tools/jobs/kyma/tests_test.go
  prow/jobs/kyma/tests/integration/cluster-users/cluster-users-tests-generic.yaml
  prow/jobs/kyma/tests/integration/cluster-users/cluster-users-tests.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

tests-dex generic switch
  development/tools/jobs/kyma/tests_test.go
  prow/jobs/kyma/tests/integration/dex/dex-tests-generic.yaml
  prow/jobs/kyma/tests/integration/dex/dex.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Update backup plugin image in use
  development/tools/jobs/kyma/components_test.go
  prow/jobs/kyma/components/backup-plugins/backup-plugins-generic.yaml
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

tests-dex generic switch
  development/tools/jobs/kyma/tests_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-master-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-master-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/
