Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow, cert-job

prow/test-infra/bootstrap:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-golang:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-node:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/cleaner:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

test-infra-bootstrap:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-bootstrap-helm:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-golang:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-node:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-development-tools:
  labels:
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      command:
      - make
      args:
      - -C
      - development/tools
      - validate

Remove test shell script
  prow/scripts/cluster-integration/kyma-gke-long-lasting-aw-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Service Catalog nightly job - fix (#960)
  prow/config.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-long-lasting-aw-test.sh
Due: prow/test-infra/check_config, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow, cert-job

Create kyma-gke-long-lasting-aw-test.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting-aw-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Add override
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-long-lasting-aw-test.sh
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

removed obsolete pipeline
  development/tools/jobs/examples/call_ec_test.go
  prow/jobs/examples/call-ec/call-ec.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

removed obsolete pipeline (#961)
  development/tools/jobs/examples/call_ec_test.go
  prow/jobs/examples/call-ec/call-ec.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

after code review
  development/tools/pkg/jobguard/status.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

Improve the provisioning script
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-long-lasting-aw-test.sh
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Add Job Guard utility (#904)
  development/tools/cmd/jobguard/README.md
  development/tools/cmd/jobguard/main.go
  development/tools/cmd/jobguard/run.sh
  development/tools/pkg/jobguard/filter.go
  development/tools/pkg/jobguard/httpclient.go
  development/tools/pkg/jobguard/status.go
  development/tools/pkg/jobguard/waiter.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Update kyma-integration.yaml
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Update channel name
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Service Catalog nightly job - update (#962)
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix stability checker
  prow/jobs/kyma/kyma-integration.yaml
  stability-checker/deploy/chart/stability-checker/templates/deploy.yaml
Due: pre-master-stability-checker, post-master-stability-checker, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

make incubator less strcit
  prow/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

Add temporary periodic job for website
  development/tools/jobs/website/website_test.go
  prow/jobs/website/website.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix comment
  prow/jobs/website/website.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

add documentation for manual job trigger (#939)
  docs/prow/prow-jobs.md
Due: test-infra-governance

update auth rules to current status in GCP iam setup, add preset added by cert fix
  docs/prow/authorization.md
  docs/prow/presets.md
Due: test-infra-governance

Fix stability checker deployment yaml
  stability-checker/deploy/chart/stability-checker/templates/deploy.yaml
Due: pre-master-stability-checker, post-master-stability-checker

Cleanup in upgrade script (#892)
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Make incubator branch protection less strict (#963)
  prow/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

Fix stability checker deployment yaml (#967)
  stability-checker/deploy/chart/stability-checker/templates/deploy.yaml
Due: pre-master-stability-checker, post-master-stability-checker

Fixes for
  performance-tools/performance-cluster/runner.sh
  performance-tools/performance-cluster/scripts/cluster.sh
  performance-tools/performance-cluster/scripts/helpers/create-image.sh
  performance-tools/performance-cluster/scripts/helpers/install-kyma.sh
  performance-tools/performance-cluster/scripts/helpers/k6-runner.sh
  performance-tools/performance-cluster/scripts/kyma-gke-cluster.sh
Due: prow/test-infra/validate-scripts

Dont delete kyma installer images used for performance tests
  performance-tools/performance-cluster/scripts/helpers/cleanup-cluster.sh
Due: prow/test-infra/validate-scripts

Fixes
  performance-tools/performance-cluster/scripts/cluster.sh
Due: prow/test-infra/validate-scripts

Update docs/prow/authorization.md
  docs/prow/authorization.md
Due: test-infra-governance

Update docs/prow/presets.md
  docs/prow/presets.md
Due: test-infra-governance

Update docs/prow/prow-jobs.md
  docs/prow/prow-jobs.md
Due: test-infra-governance

update scripts directories and runner.sh script
  performance-tools/performance-cluster/runner.sh
Due: prow/test-infra/validate-scripts

Applying patch: - Update REAMDE - Update scripts
  performance-tools/performance-cluster/README.md
  performance-tools/performance-cluster/runner.sh
  performance-tools/performance-cluster/scripts/cluster.sh
  performance-tools/performance-cluster/scripts/helpers/cleanup-cluster.sh
  performance-tools/performance-cluster/scripts/kyma-gke-cluster.sh
Due: test-infra-governance, prow/test-infra/validate-scripts

Add Dockerfile
  performance-tools/performance-cluster/Dockerfile
Due: none

Update preset and authz documentation (#966)
  docs/prow/authorization.md
  docs/prow/presets.md
Due: test-infra-governance

add documentation for manual job trigger (#939) (#965)
  docs/prow/prow-jobs.md
Due: test-infra-governance

add assetstore bucket cleaner application for automated tests
  development/tools/Gopkg.lock
  development/tools/cmd/gcscleaner/main.go
  development/tools/cmd/gcscleaner/main_test.go
  development/tools/pkg/gcscleaner/cleaner.go
  development/tools/pkg/gcscleaner/cleaner_test.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

refactor, add tests for gcscleaner
  development/tools/pkg/gcscleaner/cleaner.go
  development/tools/pkg/gcscleaner/cleaner_test.go
  development/tools/pkg/gcscleaner/export_test.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

code cleanup in gcscleaner
  development/tools/Gopkg.lock
  development/tools/cmd/gcscleaner/main.go
  development/tools/cmd/gcscleaner/main_test.go
  development/tools/pkg/gcscleaner/cleaner.go
  development/tools/pkg/gcscleaner/cleaner_test.go
  development/tools/pkg/gcscleaner/export_test.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  cert-job: any of: ^(development/.*.sh$|prow/.*.sh$)
