Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/

Bumped kubectl to 1.17 (#2139)
  prow/images/alpine-kubectl/Dockerfile
Due: pre-master-test-infra-validate-prow

Add job for minio and minio-mc in third-party-images repo
  development/tools/jobs/incubator/third-party-images/docker-registry/docker_registry_test.go
  development/tools/jobs/incubator/third-party-images/minio-mc/minio_mc_test.go
  development/tools/jobs/incubator/third-party-images/minio/minio_test.go
  prow/jobs/incubator/third-party-images/minio-mc/minio-mc.yaml
  prow/jobs/incubator/third-party-images/minio/minio.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

fix
  development/tools/jobs/incubator/third-party-images/minio-mc/minio_mc_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Add job for MinIO and MinIO mc in third-party-images repo (#2140)
  development/tools/jobs/incubator/third-party-images/docker-registry/docker_registry_test.go
  development/tools/jobs/incubator/third-party-images/minio-mc/minio_mc_test.go
  development/tools/jobs/incubator/third-party-images/minio/minio_test.go
  prow/jobs/incubator/third-party-images/minio-mc/minio-mc.yaml
  prow/jobs/incubator/third-party-images/minio/minio.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Add branch protection for third-party-images
  prow/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Update template
  templates/templates/prow-config.yaml
Due: pre-master-test-infra-validate-generated-files

Add branch protection for third-party-images (#2141)
  prow/config.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Kyma installer integration jobs
  prow/jobs/kyma/kyma-integration.yaml
  templates/templates/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Revert "Enable Packages for kyma-gke-compass-integration (#2138)"
  prow/scripts/cluster-integration/kyma-gke-compass-integration.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

fix
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  templates/templates/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

fix
  development/tools/jobs/kyma/kyma_integration_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Revert "Enable Packages for kyma-gke-compass-integration (#2138)" (#2143)
  prow/scripts/cluster-integration/kyma-gke-compass-integration.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Revert "Revert "Enable Packages for kyma-gke-compass-integration (#2138)" (#2143)"
  prow/scripts/cluster-integration/kyma-gke-compass-integration.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Kyma installer integration jobs (#2142)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  templates/templates/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

testsw
  prow/images/whitesource-scanner/wss-unified-agent.config
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

testsw
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Ignore source files=false (#2135)
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Display "Copying..." message only if VERBOSE flag is set to true
  prow/scripts/license-puller.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

add --verbose arg
  prow/scripts/license-puller.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

GCP resources naming
  docs/prow/prow-naming-convention.md
Due: test-infra-governance

Display "Copying license..." message only if --verbose flag is set (#2145)
  prow/scripts/license-puller.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Enable Packages for kyma-gke-compass-integration (#2144)
  prow/scripts/cluster-integration/kyma-gke-compass-integration.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Update mem settings
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Create new job for kubeless images for third-party-images repo
  prow/jobs/incubator/third-party-images/kubeless-function-controller/kubeless-function-controller.yaml
  prow/jobs/incubator/third-party-images/kubeless-function-image-builder/kubeless-function-controller.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

rename file
  prow/jobs/incubator/third-party-images/kubeless-function-image-builder/kubeless-function-image-builder.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Create new job for kubeless images for third-party-images repo (#2150)
  prow/jobs/incubator/third-party-images/kubeless-function-controller/kubeless-function-controller.yaml
  prow/jobs/incubator/third-party-images/kubeless-function-image-builder/kubeless-function-image-builder.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Fix tests
  development/tools/jobs/incubator/components_test.go
  development/tools/jobs/incubator/tests_test.go
  development/tools/jobs/kyma/components_test.go
  development/tools/jobs/kyma/tests_test.go
  development/tools/jobs/kyma/tools_test.go
  development/tools/jobs/tester/jobsuite/options.go
  development/tools/jobs/testinfra/branchprotector_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

replac e
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

More test fixes
  development/tools/jobs/incubator/tests_test.go
  development/tools/jobs/kyma/components_test.go
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/jobs/kyma/tests_test.go
  development/tools/jobs/tester/tester.go
  development/tools/jobs/testinfra/branchprotector_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Remove image version test
  development/tools/jobs/kyma/kyma_integration_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

no longer needed
  prow/jobs/incubator/third-party-images/kubeless-function-controller/kubeless-function-controller.yaml
  prow/jobs/incubator/third-party-images/kubeless-function-image-builder/kubeless-function-image-builder.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Fix a broken link
  docs/prow/prow-installation-on-forks.md
Due: test-infra-governance

Fix a broken link (#2153)
  docs/prow/prow-installation-on-forks.md
Due: test-infra-governance

memory changes
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files
