Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow, cert-job

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  cert-job: any of: ^(development/.*.sh$|prow/.*.sh$)

double quotes on variable
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Update minikube and helm version
  development/custom-image/install-deps-debian.sh
Due: prow/test-infra/validate-scripts, cert-job

add gcsweb deployment for artifacts tab in spyglass
  prow/cluster/resources/gcsweb/README.md
  prow/cluster/resources/gcsweb/certificate.yaml
  prow/cluster/resources/gcsweb/deployment.yaml
  prow/cluster/resources/gcsweb/ingress.yaml
  prow/cluster/resources/gcsweb/service.yaml
  prow/config.yaml
Due: prow/test-infra/check_config, test-infra-governance, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

logs bucket only
  prow/cluster/resources/gcsweb/deployment.yaml
Due: pre-master-test-infra-validate-prow

move out of resource directory
  prow/cluster/gcsweb/README.md
  prow/cluster/gcsweb/certificate.yaml
  prow/cluster/gcsweb/deployment.yaml
  prow/cluster/gcsweb/ingress.yaml
  prow/cluster/gcsweb/service.yaml
Due: test-infra-governance, pre-master-test-infra-validate-prow

add some explanation for updating
  prow/cluster/gcsweb/README.md
Due: test-infra-governance, pre-master-test-infra-validate-prow

incorporate deployments into existing yaml files
  prow/cluster/03-tls-ing_ingress.yaml
  prow/cluster/11-gcsweb.yaml
  prow/cluster/README.md
  prow/cluster/gcsweb/README.md
  prow/cluster/gcsweb/certificate.yaml
  prow/cluster/gcsweb/ingress.yaml
  prow/cluster/gcsweb/service.yaml
Due: test-infra-governance, pre-master-test-infra-validate-prow

Create an automated test for migrating Minio from persistence to gateway mode #4374 (draft)
  prow/scripts/cluster-integration/kyma-gke-minio-gateway-migration.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Update minikube and helm version (#1133)
  development/custom-image/install-deps-debian.sh
Due: prow/test-infra/validate-scripts, cert-job

Bump RELEASE_VERSION file - 1.2.0
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

fix ingress
  prow/cluster/03-tls-ing_ingress.yaml
  prow/cluster/11-gcsweb.yaml
Due: pre-master-test-infra-validate-prow

Bump RELEASE_VERSION file - 1.2.0 (#1135)
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Update prow/config.yaml
  prow/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

update and retest xip jobs
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-integration-xip.sh
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

DNs update
  prow/scripts/cluster-integration/kyma-gke-integration-xip.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

update pipelines
  prow/scripts/cluster-integration/kyma-gke-central-xip.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

DNS fix
  prow/scripts/cluster-integration/kyma-gke-central-xip.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Add governance job and update repository for Marketplaces
  development/tools/jobs/incubator/marketplaces/marketplaces_test.go
  development/tools/jobs/tester/tester.go
  prow/config.yaml
  prow/jobs/incubator/marketplaces/marketplaces.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

update and retest xip jobs (#1137)
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-central-xip.sh
  prow/scripts/cluster-integration/kyma-gke-integration-xip.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

FMT...
  development/tools/jobs/incubator/marketplaces/marketplaces_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Add governance job and update repository for Marketplaces (#1138)
  development/tools/jobs/incubator/marketplaces/marketplaces_test.go
  development/tools/jobs/tester/tester.go
  prow/config.yaml
  prow/jobs/incubator/marketplaces/marketplaces.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

Fix bootstrap image
  prow/jobs/incubator/marketplaces/marketplaces.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix bootstrap image (#1139)
  prow/jobs/incubator/marketplaces/marketplaces.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Change organization
  prow/jobs/incubator/marketplaces/marketplaces.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix tests
  development/tools/jobs/incubator/marketplaces/marketplaces_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix docker authentication
  prow/scripts/library.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Fix governance job for Marketplaces repository (#1140)
  development/tools/jobs/incubator/marketplaces/marketplaces_test.go
  prow/jobs/incubator/marketplaces/marketplaces.yaml
  prow/scripts/library.sh
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Fix docker in docker
  prow/scripts/library.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Fix docker in docker (#1141)
  prow/scripts/library.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Remove etcd-backup-job
  development/tools/jobs/kyma/etcd_backup_job_test.go
  prow/jobs/kyma/components/etcd-backup-job/etcd-backup-job.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

update minio gcs gateway mode migration script
  prow/scripts/cluster-integration/kyma-gke-minio-gateway-migration.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

1.2.0: Upgrade RELEASE_VERSION file
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

1.2.0: Upgrade RELEASE_VERSION file (#1142)
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

add job and tests for kyma-gke-minio-gateway-migration
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-minio-gateway-migration.sh
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

remove pre-rel12-kyma-gke-minio-gateway-migration
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

code review comments addressed
  prow/scripts/cluster-integration/kyma-gke-minio-gateway-migration.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Create test for migrating Minio from persistence to gateway mode (#1134)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-minio-gateway-migration.sh
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

fix invalid base64 flag
  prow/scripts/cluster-integration/kyma-gke-minio-gateway-migration.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

fix invalid base64 flag (#1143)
  prow/scripts/cluster-integration/kyma-gke-minio-gateway-migration.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

change COMMIN_NAME for kyma-gke-minio-gateway-migration
  prow/scripts/cluster-integration/kyma-gke-minio-gateway-migration.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job
