Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

prow/test-infra/bootstrap:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-golang:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-node:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/cleaner:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

test-infra-bootstrap:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-bootstrap-helm:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-golang:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-node:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-development-tools:
  labels:
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      command:
      - make
      args:
      - -C
      - development/tools
      - validate

Migrate compass-runtime-agent tests
  development/tools/jobs/kyma/tests_test.go
  prow/jobs/kyma/tests/compass-runtime-agent/compass-runtime-agent-tests-generic.yaml
  prow/jobs/kyma/tests/compass-runtime-agent/compass-runtime-agent-tests.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Migrate connection-token-handler tests
  development/tools/jobs/kyma/tests_test.go
  prow/jobs/kyma/tests/connection-token-handler-tests/connection-token-handler-tests-generic.yaml
  prow/jobs/kyma/tests/connection-token-handler-tests/connection-token-handler-tests.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Migrate connection-service tests
  development/tools/jobs/kyma/tests_test.go
  prow/jobs/kyma/tests/connector-service-tests/connector-service-tests-generic.yaml
  prow/jobs/kyma/tests/connector-service-tests/connector-service-tests.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Restore previous checks
  development/tools/jobs/kyma/components_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix for compass-runtime-agent
  development/tools/jobs/kyma/components_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Restore for tests
  development/tools/jobs/kyma/tests_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Migrate to generic jobs for Framefrog's components (#1672)
  development/tools/jobs/kyma/components_test.go
  development/tools/jobs/kyma/tests_test.go
  prow/jobs/kyma/components/application-connectivity-certs-setup-job/application-connectivity-certs-setup-job-generic.yaml
  prow/jobs/kyma/components/application-connectivity-certs-setup-job/application-connectivity-certs-setup-job.yaml
  prow/jobs/kyma/components/application-connectivity-validator/application-connectivity-validator-generic.yaml
  prow/jobs/kyma/components/application-connectivity-validator/application-connectivity-validator.yaml
  prow/jobs/kyma/components/application-gateway/application-gateway-generic.yaml
  prow/jobs/kyma/components/application-gateway/application-gateway.yaml
  prow/jobs/kyma/components/application-operator/application-operator-generic.yaml
  prow/jobs/kyma/components/application-operator/application-operator.yaml
  prow/jobs/kyma/components/application-registry/application-registry-generic.yaml
  prow/jobs/kyma/components/application-registry/application-registry.yaml
  prow/jobs/kyma/components/compass-runtime-agent/compass-runtime-agent-generic.yaml
  prow/jobs/kyma/components/compass-runtime-agent/compass-runtime-agent.yaml
  prow/jobs/kyma/components/connection-token-handler/connection-token-handler-generic.yaml
  prow/jobs/kyma/components/connection-token-handler/connection-token-handler.yaml
  prow/jobs/kyma/components/connectivity-certs-controller/connectivity-certs-controller-generic.yaml
  prow/jobs/kyma/components/connectivity-certs-controller/connectivity-certs-controller.yaml
  prow/jobs/kyma/components/connector-service/connector-service-generic.yaml
  prow/jobs/kyma/components/connector-service/connector-service.yaml
  prow/jobs/kyma/tests/application-connector-tests/application-connector-tests-generic.yaml
  prow/jobs/kyma/tests/application-connector-tests/application-connector-tests.yaml
  prow/jobs/kyma/tests/application-gateway-tests/application-gateway-tests-generic.yaml
  prow/jobs/kyma/tests/application-gateway-tests/application-gateway-tests.yaml
  prow/jobs/kyma/tests/application-operator-tests/application-operator-tests-generic.yaml
  prow/jobs/kyma/tests/application-operator-tests/application-operator-tests.yaml
  prow/jobs/kyma/tests/application-registry-tests/application-registry-tests-generic.yaml
  prow/jobs/kyma/tests/application-registry-tests/application-registry-tests.yaml
  prow/jobs/kyma/tests/compass-runtime-agent/compass-runtime-agent-tests-generic.yaml
  prow/jobs/kyma/tests/compass-runtime-agent/compass-runtime-agent-tests.yaml
  prow/jobs/kyma/tests/connection-token-handler-tests/connection-token-handler-tests-generic.yaml
  prow/jobs/kyma/tests/connection-token-handler-tests/connection-token-handler-tests.yaml
  prow/jobs/kyma/tests/connector-service-tests/connector-service-tests-generic.yaml
  prow/jobs/kyma/tests/connector-service-tests/connector-service-tests.yaml
  templates/config.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Remove provisioner integration, update disc collector regex
  prow/jobs/kyma/kyma-compass-integration.yaml
  prow/jobs/kyma/kyma-integration.yaml
  templates/templates/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Fix tests
  development/tools/jobs/kyma/kyma_integration_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix shellcheck warnings
  prow/scripts/cluster-integration/kyma-gke-compass-integration.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Add Kyma Lite installation on kind
  .gitignore
  kind/scripts/install-kyma.sh
  prow/scripts/kind-install-kyma.sh
  prow/scripts/kind/cluster.yaml
  prow/scripts/kind/resources/01-metrics-server.yaml
  prow/scripts/kind/resources/02-local-path-provisioner.yaml
  prow/scripts/lib/docker.sh
  prow/scripts/lib/junit.sh
  prow/scripts/lib/kind.sh
  prow/scripts/lib/kubernetes.sh
  prow/scripts/lib/kyma.sh
  prow/scripts/lib/log.sh
  prow/scripts/library.sh
Due: pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Enable Stackdriver Kubernetes Monitoring on long running clusters. Install Prometheus Stackdriver collector.
  prow/scripts/cluster-integration/helpers/provision-gke-cluster.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/resources/prometheus-operator-stackdriver-patch.yaml
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Add Kyma Lite job
  prow/jobs/kyma/kyma-kind-integration.yaml
  prow/scripts/kind-install-kyma.sh
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Update job
  prow/jobs/kyma/kyma-kind-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Revert change in old kind script
  kind/scripts/install-kyma.sh
Due: pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, prow/test-infra/validate-scripts

Added beta argument to gcloud.
  prow/scripts/cluster-integration/helpers/provision-gke-cluster.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Fix flags reading
  prow/scripts/kind-install-kyma.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Kubectl version
  prow/scripts/lib/kubernetes.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Fix trap
  prow/scripts/kind-install-kyma.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Fix ensure
  prow/scripts/kind-install-kyma.sh
  prow/scripts/lib/kubernetes.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Replace tags with values in patch yaml file. Added env variable with stackdriver sidecar image tag.
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/resources/prometheus-operator-stackdriver-patch.yaml
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Corrected volumeMount name.
  prow/scripts/resources/prometheus-operator-stackdriver-patch.yaml
Due: pre-master-test-infra-validate-prow

Removed double quotes and escape backslashes.
  prow/scripts/resources/prometheus-operator-stackdriver-patch.yaml
Due: pre-master-test-infra-validate-prow

docu review
  docs/prow/prow-k8s-testgrid.md
Due: test-infra-governance

Update docs/prow/README.md
  docs/prow/README.md
Due: test-infra-governance

Revert "Velero plugin to fix-backup-restore-event-bus (#1656)"
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Revert "Velero plugin to fix-backup-restore-event-bus (#1656)" (#1677)
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Revert "Velero plugin to fix-backup-restore-event-bus (#1656)" (#1677) (#1678)
  prow/scripts/cluster-integration/kyma-gke-backup-test.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

add secret storage, with a simple usage tool
  development/prow-installer/cmd/secrets/main.go
  development/prow-installer/go.mod
  development/prow-installer/pkg/secrets/secrets.go
Due: none

add comment
  development/prow-installer/cmd/secrets/main.go
Due: none

bump RELEASE_VERION to 1.7.0-rc2
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Removed debug flag for stackdriver collector. Added support for enabling cluster ssd disks. Aggregated multiple sed commands in to one with multiple expressions.
  prow/scripts/cluster-integration/helpers/provision-gke-cluster.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/resources/prometheus-operator-stackdriver-patch.yaml
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

bump RELEASE_VERION to 1.7.0-rc2 (#1679)
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Add 'restore' cluster to disk clieaner
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  templates/templates/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Add 'restore' cluster to disk clieaner (#1680)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  templates/templates/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-configs, pre-master-test-infra-validate-prow

Switched to use lowercase CLUSTER_USE_SSD variable values.
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Removed quotes around optional arguments for gcloud container clusters create.
  prow/scripts/cluster-integration/helpers/provision-gke-cluster.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-scripts, pre-master-test-infra-validate-prow

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-master-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-master-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/
