Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-bootstrap-helm, pre-test-infra-kyma-cluster-infra, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-golang-toolbox, pre-test-infra-buildpack-golang-kubebuilder, pre-test-infra-buildpack-golang-kubebuilder2, pre-test-infra-buildpack-node, pre-test-infra-buildpack-node-chromium, pre-test-infra-buildpack-java, pre-test-infra-buildpack-java-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-kubectl, pre-test-infra-probot-stale, pre-test-infra-prow-tools, pre-test-infra-prow-clonerefs, post-test-infra-bootstrap, post-test-infra-bootstrap-helm, post-test-infra-kyma-cluster-infra, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-golang-toolbox, post-test-infra-buildpack-golang-kubebuilder, post-test-infra-buildpack-golang-kubebuilder2, post-test-infra-buildpack-node, post-test-infra-buildpack-node-chromium, post-test-infra-buildpack-java, post-test-infra-buildpack-java-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-kubectl, post-test-infra-probot-stale, post-test-infra-prow-tools, post-test-infra-prow-clonerefs, prow/test-infra/check_config, test-infra-development-tools, pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, pre-master-test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, pre-master-test-log-collector, post-master-test-log-collector, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-tools, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files, pre-master-test-infra-validate-prow-installer-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

prow/test-infra/bootstrap:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-golang:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-node:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/cleaner:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

pre-test-infra-bootstrap:
  labels:
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
  ...

pre-test-infra-bootstrap-helm:
  labels:
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
  ...

pre-test-infra-kyma-cluster-infra:
  labels:
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
  ...

pre-test-infra-kyma-integration:
  labels:
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:v20201009-ec3cc352
      securityContext:
        privileged: true
  ...

Add pjtester
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

copy files
  prow/images/debug-commando/Dockerfile
  prow/images/debug-commando/Makefile
  prow/images/debug-commando/README.md
  prow/images/debug-commando/license-puller.sh
Due: pre-master-test-infra-governance, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs

Change boot disk size to 200GB
  development/custom-image/create-custom-image.sh
  prow/scripts/minikube-test.sh
  prow/scripts/provision-vm-and-start-kyma-k3s.sh
  prow/scripts/provision-vm-and-start-kyma-minikube.sh
  prow/scripts/provision-vm-and-start-serverless-k3s.sh
  prow/scripts/provision-vm-cli.sh
  prow/scripts/provision-vm-compass.sh
  prow/scripts/provision-vm-control-plane.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Gh connector documentation (#3393)
  development/github-slack-connector/README.md
  development/github-slack-connector/githubConnector/README.md
  development/github-slack-connector/githubConnector/values.yaml
  development/github-slack-connector/githubWebhookGateway/README.md
  development/github-slack-connector/issueLabeledFunction/README.md
Due: pre-master-test-infra-governance

Remove pjtester
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

Fix gke-external-registry job (#3420)
  prow/scripts/cluster-integration/kyma-gke-external-registry.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Change boot disk size to 200GB (#3421)
  development/custom-image/create-custom-image.sh
  prow/scripts/minikube-test.sh
  prow/scripts/provision-vm-and-start-kyma-k3s.sh
  prow/scripts/provision-vm-and-start-kyma-minikube.sh
  prow/scripts/provision-vm-and-start-serverless-k3s.sh
  prow/scripts/provision-vm-cli.sh
  prow/scripts/provision-vm-compass.sh
  prow/scripts/provision-vm-control-plane.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

remove vpath
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

get logs instead files
  prow/scripts/lib/utils.sh
  prow/scripts/resources/debug-container.yaml
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

first version
  prow/images/debug-commando/Dockerfile
  prow/images/debug-commando/Makefile
  prow/jobs/test-infra/buildpack.yaml
  templates/data/buildpack-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

remove repo branch protection (#72)
  prow/staging/config.yaml
Due: pre-master-test-infra-validate-prow-jobs

size plugin (#73)
  prow/staging/plugins.yaml
Due: pre-master-test-infra-validate-prow-jobs

Docs on another PR.
  prow/images/debug-commando/README.md
Due: pre-master-test-infra-governance, pre-master-test-infra-validate-prow-jobs

invalidcommitmsg plugin (#74)
  prow/staging/config.yaml
  prow/staging/plugins.yaml
Due: pre-master-test-infra-validate-prow-jobs

Bump kaniko image (#3417)
  prow/scripts/cluster-integration/serverless-integration-k3s.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

mem limit 350 :O
  prow/scripts/resources/debug-container.yaml
Due: pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

disable deprecated builds
  prow/jobs/kyma/components/event-service/event-service-generic.yaml
  prow/jobs/kyma/components/event-sources/event-sources-generic.yaml
  prow/jobs/kyma/components/nats-init/nats-init-generic.yaml
  prow/jobs/kyma/tests/integration/event-service/event-service-tests-generic.yaml
  templates/config.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

wip
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

Bump prow from v20210305-64a6d4d83a to v20210318-ffb8032f91 (#53)
  prow/staging/cluster/crier_deployment.yaml
  prow/staging/cluster/deck_deployment.yaml
  prow/staging/cluster/ghproxy.yaml
  prow/staging/cluster/hook_deployment.yaml
  prow/staging/cluster/horologium_deployment.yaml
  prow/staging/cluster/prow_controller_manager_deployment.yaml
  prow/staging/cluster/sinker_deployment.yaml
  prow/staging/cluster/statusreconciler_deployment.yaml
  prow/staging/cluster/tide_deployment.yaml
  prow/staging/config.yaml
  prow/staging/jobs/test-infra-jobs.yaml
Due: pre-master-test-infra-validate-prow-jobs

Staging cluster configuration
  prow/staging/cluster/crier_deployment.yaml
  prow/staging/cluster/crier_rbac.yaml
  prow/staging/cluster/crier_service.yaml
  prow/staging/cluster/deck_deployment.yaml
  prow/staging/cluster/deck_rbac.yaml
  prow/staging/cluster/deck_service.yaml
  prow/staging/cluster/gce-ssd-retain_storageclass.yaml
  prow/staging/cluster/ghproxy.yaml
  prow/staging/cluster/hook_deployment.yaml
  prow/staging/cluster/hook_rbac.yaml
  prow/staging/cluster/hook_service.yaml
  prow/staging/cluster/horologium_deployment.yaml
  prow/staging/cluster/horologium_rbac.yaml
  prow/staging/cluster/horologium_service.yaml
  prow/staging/cluster/ing_ingress.yaml
  prow/staging/cluster/kyma-prow_managedcertificate.yaml
  prow/staging/cluster/prow_controller_manager_deployment.yaml
  prow/staging/cluster/prow_controller_manager_rbac.yaml
  prow/staging/cluster/prow_controller_manager_service.yaml
  prow/staging/cluster/prowjob_customresourcedefinition.yaml
  prow/staging/cluster/pushgateway_deployment.yaml
  prow/staging/cluster/sinker_deployment.yaml
  prow/staging/cluster/sinker_rbac.yaml
  prow/staging/cluster/sinker_service.yaml
  prow/staging/cluster/statusreconciler_deployment.yaml
  prow/staging/cluster/statusreconciler_rbac.yaml
  prow/staging/cluster/test-pods_namespace.yaml
  prow/staging/cluster/tide_deployment.yaml
  prow/staging/cluster/tide_rbac.yaml
  prow/staging/cluster/tide_service.yaml
  prow/staging/cluster/tls-ing_ingress.yaml
  prow/staging/config.yaml
  prow/staging/jobs/autobump.yaml
  prow/staging/jobs/config.yaml
  prow/staging/jobs/postsubmit.yaml
  prow/staging/jobs/presubmit.yaml
  prow/staging/jobs/test-infra-jobs.yaml
  prow/staging/plugins.yaml
Due: pre-master-test-infra-validate-prow-jobs

ssh: better debug
  prow/scripts/lib/utils.sh
  prow/scripts/provision-vm-and-start-kyma-minikube.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

ssh: better debug (#3427)
  prow/scripts/lib/utils.sh
  prow/scripts/provision-vm-and-start-kyma-minikube.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

trigger by preset
  prow/config.yaml
  prow/scripts/cluster-integration/kyma-integration-gardener.sh
  prow/scripts/lib/gardener/aws.sh
  prow/scripts/lib/gardener/azure.sh
  prow/scripts/lib/gardener/gcp.sh
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

enable pubsub reporter
  prow/cluster/components/30-crier_deployment.yaml
Due: pre-master-test-infra-validate-prow-jobs

SKR azure plan integration pipeline (#3386)
  prow/config.yaml
  prow/jobs/kyma/skr-integration.yaml
  prow/scripts/skr-integration.sh
  templates/config.yaml
  templates/templates/prow-config.yaml
  templates/templates/skr-integration.yaml
Due: prow/test-infra/check_config, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Staging cluster configuration (#3426)
  prow/staging/cluster/crier_deployment.yaml
  prow/staging/cluster/crier_rbac.yaml
  prow/staging/cluster/crier_service.yaml
  prow/staging/cluster/deck_deployment.yaml
  prow/staging/cluster/deck_rbac.yaml
  prow/staging/cluster/deck_service.yaml
  prow/staging/cluster/gce-ssd-retain_storageclass.yaml
  prow/staging/cluster/ghproxy.yaml
  prow/staging/cluster/hook_deployment.yaml
  prow/staging/cluster/hook_rbac.yaml
  prow/staging/cluster/hook_service.yaml
  prow/staging/cluster/horologium_deployment.yaml
  prow/staging/cluster/horologium_rbac.yaml
  prow/staging/cluster/horologium_service.yaml
  prow/staging/cluster/ing_ingress.yaml
  prow/staging/cluster/kyma-prow_managedcertificate.yaml
  prow/staging/cluster/prow_controller_manager_deployment.yaml
  prow/staging/cluster/prow_controller_manager_rbac.yaml
  prow/staging/cluster/prow_controller_manager_service.yaml
  prow/staging/cluster/prowjob_customresourcedefinition.yaml
  prow/staging/cluster/pushgateway_deployment.yaml
  prow/staging/cluster/sinker_deployment.yaml
  prow/staging/cluster/sinker_rbac.yaml
  prow/staging/cluster/sinker_service.yaml
  prow/staging/cluster/statusreconciler_deployment.yaml
  prow/staging/cluster/statusreconciler_rbac.yaml
  prow/staging/cluster/test-pods_namespace.yaml
  prow/staging/cluster/tide_deployment.yaml
  prow/staging/cluster/tide_rbac.yaml
  prow/staging/cluster/tide_service.yaml
  prow/staging/cluster/tls-ing_ingress.yaml
  prow/staging/config.yaml
  prow/staging/jobs/autobump.yaml
  prow/staging/jobs/config.yaml
  prow/staging/jobs/postsubmit.yaml
  prow/staging/jobs/presubmit.yaml
  prow/staging/jobs/test-infra-jobs.yaml
  prow/staging/plugins.yaml
Due: pre-master-test-infra-validate-prow-jobs

report to pubsub call debug commando
  prow/jobs/kyma/kyma-integration-gardener.yaml
  templates/templates/kyma-integration-gardener.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

SKR integration pipeline
  prow/jobs/kyma/skr-integration.yaml
  templates/templates/skr-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

SKR integration for aws, trial and azure-lite plans (#3419)
  prow/jobs/kyma/skr-integration.yaml
  templates/templates/skr-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

fix pubsub topic label value
  prow/jobs/kyma/kyma-integration-gardener.yaml
  templates/templates/kyma-integration-gardener.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add nats-operator build job
  development/tools/jobs/kyma/components_test.go
  prow/jobs/kyma/components/nats-operator/nats-operator-generic.yaml
  templates/config.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add PJTester
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

Debug container image (#3422)
  prow/images/debug-commando/Dockerfile
  prow/images/debug-commando/Makefile
  prow/images/debug-commando/license-puller.sh
  prow/jobs/test-infra/buildpack.yaml
  templates/data/buildpack-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Revert "Add PJTester"
  vpath/pjtester.yaml
Due: pre-master-test-infra-pjtester, pre-master-test-infra-vpathguard

Add nats-operator build job (#3431)
  development/tools/jobs/kyma/components_test.go
  prow/jobs/kyma/components/nats-operator/nats-operator-generic.yaml
  templates/config.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

jobguard - names
  development/jobguard/scripts/run.sh
  prow/jobs/scans/protecode-guard.yaml
  templates/data/protecode-guard-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

update tests
  development/tools/jobs/addons/addons_test.go
  development/tools/jobs/addons/governance_test.go
  development/tools/jobs/common/common_test.go
  development/tools/jobs/community/governance_test.go
  development/tools/jobs/console/governance_test.go
  development/tools/jobs/console/react_components_test.go
  development/tools/jobs/control-plane/control_plane_integration_test.go
  development/tools/jobs/examples/event_email_service_test.go
  development/tools/jobs/examples/governance_test.go
  development/tools/jobs/examples/http_db_service_test.go
  development/tools/jobs/examples/monitoring_custom_metrics_test.go
  development/tools/jobs/examples/orders_service_test.go
  development/tools/jobs/examples/tests/http_db_service_acceptance_tests_test.go
  development/tools/jobs/examples/tracing_test.go
  development/tools/jobs/helm-broker/helm_broker_test.go
  development/tools/jobs/incubator/compass/compass_integration_test.go
  development/tools/jobs/incubator/gcp-service-broker/gcp_service_broker_test.go
  development/tools/jobs/incubator/github-slack-connectors/github_connector_test.go
  development/tools/jobs/incubator/github-slack-connectors/slack_connector_test.go
  development/tools/jobs/incubator/hydroform/hydroform_test.go
  development/tools/jobs/incubator/podpreset-crd/podpreset_crd_test.go
  development/tools/jobs/incubator/service-catalog-tester/service_catalog_tester_test.go
  development/tools/jobs/incubator/terraform-provider-gardener/terraform_provider_gardener_test.go
  development/tools/jobs/incubator/varkes/varkes_test.go
  development/tools/jobs/incubator/vstudio-extension/vstudio_extension_test.go
  development/tools/jobs/kyma/failery_test.go
  development/tools/jobs/kyma/governance_test.go
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/jobs/kyma/metadata_governance_test.go
  development/tools/jobs/rafter/rafter_test.go
  development/tools/jobs/tester/componentsuite.go
  development/tools/jobs/testinfra/buildpack_test.go
  development/tools/jobs/testinfra/governance_test.go
  development/tools/jobs/testinfra/stability_checker_test.go
  development/tools/jobs/testinfra/validate_test.go
  development/tools/jobs/website/governance_test.go
  prow/jobs/kyma/kyma-metadata-governance.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

compass script main
  prow/scripts/build-compass-development-artifacts.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

rebase
  prow/jobs/test-infra/buildpack.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  pre-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  pre-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  pre-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  pre-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  pre-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  pre-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  pre-test-infra-prow-tools: any of: ^development/tools/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  pre-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  post-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  post-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  post-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  post-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  post-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  post-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  post-test-infra-prow-tools: any of: ^development/tools/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  post-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-test-infra-image-syncer-validate: any of: ^(development/image-syncer)
  pre-master-test-infra-image-syncer-dry-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-test-infra-image-syncer-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-pjtester: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  pre-master-test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  pre-master-test-log-collector: any of: ^development/test-log-collector/
  post-master-test-log-collector: any of: ^development/test-log-collector/
  pre-test-infra-validate-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  post-test-infra-upload-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow-tools: any of: ^development/tools/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-master-test-infra-validate-prow-jobs: any of: ^(development/tools/jobs|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/
