Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, prow/test-infra/bootstrap-helm, prow/test-infra/check_config, test-infra-development-tools, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  prow/test-infra/bootstrap-helm: any of: images/bootstrap-helm/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  test-infra-governance: any of: milv.config.yaml|.md$
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: (any of: prow/(plugins|config).yaml) or (any of: ^prow/((plugins|config).yaml|jobs/))

Implement suggestions
  prow/cluster/README.md
Due: test-infra-governance

Enable http redirection on deck (#185)
  development/install-prow.sh
  prow/cluster/00-deck-patch.yaml
  prow/cluster/03-tls-ing_ingress.yaml
  prow/cluster/README.md
  prow/cluster/starter.yaml
  prow/install-prow.sh
Due: test-infra-governance, prow/test-infra/validate-scripts

Trigger bundles release job on tagged commit
  development/tools/jobs/bundles/bundles_test.go
  prow/jobs/bundles/bundles.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Review fixes
  development/tools/jobs/kyma/apiserver_proxy_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Trigger bundles release job on tagged commit (#330)
  development/tools/jobs/bundles/bundles_test.go
  prow/jobs/bundles/bundles.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add prow configuration for apiserver-proxy (#319)
  development/tools/jobs/kyma/apiserver_proxy_test.go
  prow/jobs/kyma/components/apiserver-proxy/apiserver-proxy.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Create change object creation, delete bash prototype
  development/tools/cmd/dnscleaner/dnscleaner.sh
  development/tools/pkg/dnscleaner/cleaner.go
  development/tools/pkg/dnscleaner/wrappers.go
Due: test-infra-development-tools, prow/test-infra/validate-scripts

Fix bundles releasing process on prow
  prow/jobs/bundles/bundles.yaml
  prow/scripts/build-bundles.sh
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Add application-proxy component
  prow/jobs/kyma/components/application-proxy/proxy-service.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

tests
  development/tools/jobs/kyma/application_proxy_test.go
  prow/jobs/kyma/components/application-proxy/application-proxy.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Fix bundles releasing process on prow
  development/tools/jobs/bundles/bundles_test.go
  prow/jobs/bundles/bundles.yaml
  prow/scripts/build-bundles.sh
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Add application-proxy component (#333)
  development/tools/jobs/kyma/application_proxy_test.go
  prow/jobs/kyma/components/application-proxy/application-proxy.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add application-registry component
  development/tools/jobs/kyma/application_registry_test.go
  development/tools/jobs/kyma/application_registry_tests_test.go
  prow/jobs/kyma/components/application-registry/application-registry.yaml
  prow/jobs/kyma/tests/application-registry-tests/application-registry-tests.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Tests name fix
  development/tools/jobs/kyma/application_registry_test.go
  development/tools/jobs/kyma/application_registry_tests_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Add application-registry component (#335)
  development/tools/jobs/kyma/application_registry_test.go
  development/tools/jobs/kyma/application_registry_tests_test.go
  prow/jobs/kyma/components/application-registry/application-registry.yaml
  prow/jobs/kyma/tests/application-registry-tests/application-registry-tests.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Disable ok-to-test
  prow/plugins.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs

Add cluster removal tool
  development/tools/Gopkg.lock
  development/tools/cmd/clusterscollector/README.md
  development/tools/cmd/clusterscollector/main.go
  development/tools/pkg/clusterscollector/automock/cluster_api.go
  development/tools/pkg/clusterscollector/collector.go
  development/tools/pkg/clusterscollector/collector_test.go
  development/tools/pkg/clusterscollector/wrappers.go
  development/tools/pkg/common/shout.go
  milv.config.yaml
Due: test-infra-development-tools, test-infra-governance

Add tools/load-test build plan
  development/tools/Gopkg.lock
  development/tools/jobs/kyma/load_test_test.go
  prow/jobs/kyma/tools/load-test/load-test.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add tools/load-test build plan
  development/tools/jobs/kyma/load_test_test.go
  prow/jobs/kyma/tools/load-test/load-test.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Review fixes
  development/tools/cmd/clusterscollector/README.md
  development/tools/cmd/clusterscollector/main.go
Due: test-infra-development-tools, test-infra-governance

Fixed as per PR review comments
  development/tools/jobs/kyma/load_test_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Fixed as per PR review
  development/tools/jobs/kyma/load_test_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Fixed as per PR review comments (#341)
  development/tools/jobs/kyma/load_test_test.go
  prow/jobs/kyma/tools/load-test/load-test.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Disable ok-to-test (#338)
  prow/plugins.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs

Migration guide
  docs/prow/kyma-release-process.md
  docs/prow/migration-guide-release.md
  prow/jobs/kyma/components/binding-usage-controller/binding-usage-controller.yaml
Due: test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Redefine release process
  docs/prow/kyma-release-process.md
Due: test-infra-governance

shellcheck fix
  prow/scripts/build.sh
Due: prow/test-infra/validate-scripts

Release process revisited
  docs/prow/kyma-release-process.md
Due: test-infra-governance

fixes
  prow/RELEASE_VERSION
  prow/scripts/build.sh
Due: prow/test-infra/validate-scripts

changed method description
  development/tools/jobs/tester/tester.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

define release process
  docs/prow/kyma-release-process.md
  docs/prow/migration-guide-release.md
  prow/config.yaml
  prow/jobs/kyma/components/binding-usage-controller/binding-usage-controller.yaml
Due: prow/test-infra/check_config, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs
