Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

prow/test-infra/bootstrap:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-golang:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-node:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/cleaner:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

test-infra-bootstrap:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-bootstrap-helm:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-golang:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-buildpack-node:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      args:
  ...

test-infra-development-tools:
  labels:
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      command:
      - make
      args:
      - -C
      - development/tools
      - validate

add new buildpack to use as baseimage for whitesource
  prow/images/buildpack-java-node/Dockerfile
  prow/images/buildpack-java-node/Makefile
  prow/images/buildpack-java-node/README.md
Due: test-infra-governance, pre-master-test-infra-validate-prow

add buildpack test
  prow/jobs/test-infra/buildpack.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

spacing
  prow/jobs/test-infra/buildpack.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Correct gke client get method signature.
  development/prow-installer/cmd/installer/main.go
  development/prow-installer/go.mod
  development/prow-installer/go.sum
  development/prow-installer/pkg/cluster/cluster.go
  development/prow-installer/pkg/cluster/wrapped.go
  development/prow-installer/pkg/k8s/client.go
  development/prow-installer/pkg/k8s/populator.go
  development/prow-installer/pkg/secrets/populator.go
  development/prow-installer/pkg/serviceaccount/serviceaccount.go
Due: none

Fix deck-patch
  prow/cluster/00-deck-patch.yaml
Due: pre-master-test-infra-validate-prow

Fix deck-patch (#2065)
  prow/cluster/00-deck-patch.yaml
Due: pre-master-test-infra-validate-prow

Apply suggestions from code review
  prow/images/buildpack-java-node/README.md
Due: test-infra-governance, pre-master-test-infra-validate-prow

renaming
  development/prow-installer/pkg/kubectl/wrapper.go
Due: none

Finalized secret populator.
  development/prow-installer/cmd/installer/main.go
  development/prow-installer/go.mod
  development/prow-installer/pkg/cluster/cluster.go
  development/prow-installer/pkg/config/config.go
  development/prow-installer/pkg/k8s/populator.go
Due: none

used filepath package for defining os-dependent paths
  development/prow-installer/pkg/kubectl/wrapper.go
Due: none

add new buildpack to use as baseimage for whitesource (#2064)
  prow/images/buildpack-java-node/Dockerfile
  prow/images/buildpack-java-node/Makefile
  prow/images/buildpack-java-node/README.md
  prow/jobs/test-infra/buildpack.yaml
Due: test-infra-governance, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Update README.md
  prow/images/buildpack-java-node/README.md
Due: test-infra-governance, pre-master-test-infra-validate-prow

Update Dockerfile
  prow/images/buildpack-java-node/Dockerfile
Due: pre-master-test-infra-validate-prow

buildpack java-node fix
  prow/jobs/test-infra/buildpack.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Corrected err check in populator. Moved serviceaccount and generics types declaration to serviceaccount and k8s packages to solve import cycle errors.
  development/prow-installer/cmd/installer/main.go
  development/prow-installer/pkg/cluster/cluster.go
  development/prow-installer/pkg/cluster/wrapped.go
  development/prow-installer/pkg/config/config.go
  development/prow-installer/pkg/k8s/client.go
  development/prow-installer/pkg/k8s/populator.go
  development/prow-installer/pkg/serviceaccount/serviceaccount.go
Due: none

formatting
  prow/jobs/test-infra/buildpack.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

buildpack java-node fix (#2071)
  prow/jobs/test-infra/buildpack.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

postsubmit job
  prow/jobs/test-infra/buildpack.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

postsubmit job (#2075)
  prow/jobs/test-infra/buildpack.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Install kyma from local dir
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Set image version to a correct one
  prow/cluster/04-branchprotector_cronjob.yaml
Due: pre-master-test-infra-validate-prow

Update README.md (#2076)
  prow/images/buildpack-java-node/README.md
Due: test-infra-governance, pre-master-test-infra-validate-prow

comments
  development/prow-installer/pkg/kubectl/wrapper.go
Due: none

initial kubeconfig generation
  development/prow-installer/pkg/kubectl/wrapper.go
Due: none

added error handling and written tests for a kubeconfig generation
  development/prow-installer/pkg/kubectl/wrapper.go
  development/prow-installer/pkg/kubectl/wrapper_test.go
Due: none

Removed unused commented function.
  development/prow-installer/pkg/k8s/client.go
Due: none

Implemented delete feature for serviceaccount. Made MakeSAfqdn a exported method.
  development/prow-installer/pkg/roles/roles.go
  development/prow-installer/pkg/serviceaccount/serviceaccount.go
  development/prow-installer/pkg/serviceaccount/wrapped_iamservice.go
Due: none

Added remove flag to installer.
  development/prow-installer/cmd/installer/main.go
Due: none

Run go fmt on changed files.
  development/prow-installer/cmd/installer/main.go
  development/prow-installer/cmd/k8s/main.go
  development/prow-installer/pkg/cluster/cluster.go
  development/prow-installer/pkg/cluster/wrapped.go
  development/prow-installer/pkg/config/config.go
  development/prow-installer/pkg/k8s/client.go
  development/prow-installer/pkg/k8s/populator.go
  development/prow-installer/pkg/serviceaccount/serviceaccount.go
Due: none

Integrate secret populator 1644 (#2066)
  development/prow-installer/cmd/installer/main.go
  development/prow-installer/cmd/k8s/main.go
  development/prow-installer/cmd/serviceaccount/main.go
  development/prow-installer/config/prow-installer-config.yaml
  development/prow-installer/go.mod
  development/prow-installer/go.sum
  development/prow-installer/pkg/cluster/cluster.go
  development/prow-installer/pkg/cluster/wrapped.go
  development/prow-installer/pkg/config/config.go
  development/prow-installer/pkg/k8s/client.go
  development/prow-installer/pkg/k8s/populator.go
  development/prow-installer/pkg/serviceaccount/serviceaccount.go
  development/prow-installer/pkg/serviceaccount/serviceaccount_test.go
Due: none

Created Cleaner type. Created installer package.
  development/prow-installer/cmd/installer/main.go
  development/prow-installer/pkg/config/config.go
  development/prow-installer/pkg/installer/cleaner.go
Due: none

renamed struct to Wrapper
  development/prow-installer/pkg/kubectl/wrapper.go
Due: none

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/
