Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, prow/test-infra/bootstrap-helm, prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

prow/test-infra/bootstrap:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-golang:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-node:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/cleaner:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/bootstrap-helm:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/publish-buildpack.sh
      env:
      - name: SOURCES_DIR
  ...

prow/test-infra/check_config:
  decorate: true
  optional: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/development/check.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/plugins.yaml
  ...

test-infra-development-tools:
  labels:
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      command:
      - make
      args:
      - -C
      - development/tools
      - validate

test-infra-test-jobs-yaml-definitions:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      command:
      - make
      args:
      - -C
      - development/tools
      - jobs-tests

prow/test-infra/validate-scripts:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/develop/bootstrap:v20181115-af8fb73
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/development/validate-scripts.sh

Updating secrets
  development/install-prow.sh
Due: prow/test-infra/validate-scripts

Enable execution flag
  prow/scripts/cluster-integration/kyma-gke-integration.sh
Due: prow/test-infra/validate-scripts

Remove the tests
  prow/gubernator/Makefile
  prow/gubernator/OWNERS
  prow/gubernator/README.md
  prow/gubernator/filters_test.py
  prow/gubernator/gcs_async_test.py
  prow/gubernator/github_auth_test.py
  prow/gubernator/kubelet_parser_test.py
  prow/gubernator/log_parser_test.py
  prow/gubernator/main_test.py
  prow/gubernator/pb_glance_test.py
  prow/gubernator/pull_request_test.py
  prow/gubernator/regex_test.py
  prow/gubernator/test-gubernator.sh
  prow/gubernator/test.sh
  prow/gubernator/test_requirements.txt
  prow/gubernator/update_config.sh
  prow/gubernator/verify_config.sh
  prow/gubernator/view_base_test.py
  prow/gubernator/view_build_test.py
  prow/gubernator/view_pr_test.py
Due: prow/test-infra/validate-scripts

improvements
  prow/README.md
  prow/cluster/05-gcsweb.yaml
  prow/cluster/README.md
  prow/install-prow.sh
Due: prow/test-infra/validate-scripts

Improvements
  prow/cluster/03-tls-ing_ingress.yaml
  prow/gubernator/filters.py
Due: none

Fix config
  prow/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs

extended the landscape docu
  docs/landscape.md
Due: none

landscape documentation
  docs/assets/landscape.svg
  docs/landscape.md
Due: none

simple improvements
  docs/landscape.md
Due: none

updated diagram
  docs/assets/landscape.svg
Due: none

Improvements
  docs/assets/landscape.svg
  docs/landscape.md
  docs/prow/assets/prow-architecture.svg
  docs/prow/prow-architecture.md
Due: none

landscape documentation (#108)
  docs/prow/assets/prow-architecture.svg
  docs/prow/prow-architecture.md
Due: none

Add react-components.yaml configuration and tests
  development/tools/jobs/console/react_components_test.go
  prow/jobs/console/react-components/react-components.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add react-components.yaml configuration and tests (#210)
  development/tools/jobs/console/react_components_test.go
  prow/jobs/console/react-components/react-components.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add jobs for etcd backup tool
  development/tools/jobs/kyma/tools/etcd_backup_test.go
  prow/jobs/kyma/tools/etcd-backup/etcd-backup.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Fix style coding
  development/tools/jobs/kyma/tools/etcd_backup_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Increase hmac token to 32 bytes
  development/install-prow.sh
Due: prow/test-infra/validate-scripts

Increase hmac token to 32 bytes (#214)
  development/install-prow.sh
Due: prow/test-infra/validate-scripts

Remove capitalization from headers
  docs/prow/prow-architecture.md
Due: none

Remove capitalization from headers (#217)
  docs/prow/prow-architecture.md
Due: none

Add jobs for etcd backup tool (#212)
  development/tools/jobs/kyma/tools/etcd_backup_test.go
  prow/jobs/kyma/tools/etcd-backup/etcd-backup.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Fix after CR
  development/tools/jobs/service-catalog-tester/service_catalog_tester_test.go
  prow/jobs/service-catalog-tester/service-catalog-tester.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Fix if changed test #3
  development/tools/jobs/service-catalog-tester/service_catalog_tester_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Fix if changed test
  development/tools/jobs/service-catalog-tester/service_catalog_tester_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Fix if changed test #2
  development/tools/jobs/service-catalog-tester/service_catalog_tester_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Fix after CR #2
  prow/jobs/service-catalog-tester/service-catalog-tester.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add jobs for service catalog tester
  development/tools/jobs/service_catalog_tester_test.go
  prow/jobs/service-catalog-tester/service-catalog-tester.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add new image register catalog
  development/tools/jobs/service-catalog-tester/service_catalog_tester_test.go
  development/tools/jobs/tester/tester.go
  prow/config.yaml
  prow/jobs/service-catalog-tester/service-catalog-tester.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add job for Watch Pods
  development/tools/jobs/kyma/watch_pods_test.go
  development/tools/jobs/tester/tester.go
  prow/jobs/kyma/tools/watch-pods/watch-pods.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add job for Watch Pods (#211)
  development/tools/jobs/kyma/watch_pods_test.go
  development/tools/jobs/tester/tester.go
  prow/jobs/kyma/tools/watch-pods/watch-pods.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add job for Stability Checker
  development/tools/jobs/kyma/stability_checker_test.go
  prow/jobs/kyma/tools/stability-checker/stability-checker.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Change files catalog
  development/tools/jobs/incubator/service-catalog-tester/service_catalog_tester_test.go
  prow/jobs/incubator/service-catalog-tester/service-catalog-tester.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add job for Stability Checker (#205)
  development/tools/jobs/kyma/stability_checker_test.go
  prow/jobs/kyma/tools/stability-checker/stability-checker.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  prow/test-infra/bootstrap-helm: any of: images/bootstrap-helm/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: (any of: prow/(plugins|config).yaml) or (any of: ^prow/((plugins|config).yaml|jobs/))
