Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, prow/test-infra/check_config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: (any of: prow/(plugins|config).yaml) or (any of: ^prow/((plugins|config).yaml|jobs/))

Update prow/scripts/cluster-integration/README.md
  prow/scripts/cluster-integration/README.md
Due: none

Update docu
  prow/scripts/cluster-integration/README.md
  prow/scripts/cluster-integration/pr-gke-integration.sh
Due: prow/test-infra/validate-scripts

Use "shout" instead of "echo"
  prow/scripts/cluster-integration/pr-gke-integration.sh
Due: prow/test-infra/validate-scripts

Remove PULL_NUMBER
  prow/scripts/cluster-integration/kyma-integration-master-gke.sh
Due: prow/test-infra/validate-scripts

Fix CODEOWNERS
  CODEOWNERS
Due: none

Fix CODEOWNERS (#172)
  CODEOWNERS
Due: none

Integrate Kyma-Installer Docker image (#122)
  docs/prow/prow-installation-on-forks.md
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/README.md
  prow/scripts/cluster-integration/README.md
  prow/scripts/cluster-integration/create-dns-record.sh
  prow/scripts/cluster-integration/create-image.sh
  prow/scripts/cluster-integration/delete-image.sh
  prow/scripts/cluster-integration/pr-gke-integration.sh
  prow/scripts/cluster-integration/validate-image-name.sh
  prow/scripts/library.sh
Due: prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Enable shellcheck, move date to shout
  prow/scripts/cluster-integration/kyma-integration-master-gke.sh
  prow/scripts/library.sh
Due: prow/test-infra/validate-scripts

Create bootstrap-helm image (#146)
  prow/images/bootstrap-helm/Dockerfile
  prow/images/bootstrap-helm/Makefile
  prow/images/bootstrap-helm/README.md
  prow/jobs/test-infra/buildpack.yaml
Due: prow/test-infra/validate-configs

Update base script with PR
  prow/scripts/cluster-integration/kyma-integration-master-gke.sh
Due: prow/test-infra/validate-scripts

plug testing in
  prow/scripts/cluster-integration/pr-gke-integration.sh
Due: prow/test-infra/validate-scripts

Change name convention from PR to Commit
  prow/scripts/cluster-integration/kyma-integration-master-gke.sh
Due: prow/test-infra/validate-scripts

Enforce lowercase image names
  prow/scripts/cluster-integration/kyma-integration-master-gke.sh
Due: prow/test-infra/validate-scripts

Add job for Remote Environment Broker
  development/tools/jobs/remote_environment_broker_test.go
  docs/prow/migration-guide.md
  prow/jobs/kyma/components/remote-environment-broker/remote-environment-broker.yaml
Due: prow/test-infra/validate-configs

Enforce lowercase on repo name and owner
  prow/scripts/cluster-integration/kyma-integration-master-gke.sh
Due: prow/test-infra/validate-scripts

Add documentation
  prow/README.md
Due: none

Small readme fixes
  prow/README.md
Due: none

Add buildpack-helm as required
  prow/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs

Add branch protection (#138)
  prow/README.md
  prow/cluster/04-branchprotector_cronjob.yaml
  prow/cluster/README.md
  prow/config.yaml
  prow/install-prow.sh
  prow/plugins.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Shellcheck
  prow/scripts/cluster-integration/kyma-integration-master-gke.sh
Due: prow/test-infra/validate-scripts

change bootstrap image
  prow/jobs/kyma/kyma-integration.yaml
Due: prow/test-infra/validate-configs

Add job for Remote Environment Broker (#170)
  development/tools/jobs/remote_environment_broker_test.go
  docs/prow/migration-guide.md
  prow/jobs/kyma/components/remote-environment-broker/remote-environment-broker.yaml
Due: prow/test-infra/validate-configs

Addint job definition
  prow/jobs/kyma/kyma-integration.yaml
Due: prow/test-infra/validate-configs

Add postsubmit configuration for components
  development/tools/Gopkg.lock
  development/tools/jobs/console/brokers_test.go
  development/tools/jobs/console/catalog_test.go
  development/tools/jobs/console/content_test.go
  development/tools/jobs/console/instances_test.go
  development/tools/jobs/kyma/binding_usage_controller_test.go
  development/tools/jobs/kyma/remote_environment_broker_test.go
  development/tools/jobs/kyma/ui_api_layer_test.go
  development/tools/jobs/tester/tester.go
  development/tools/jobs/testinfra/buildpack_test.go
  development/tools/jobs/testinfra/test_job_definitions_test.go
  development/tools/jobs/testinfra/tools_test.go
  development/tools/jobs/ui_api_layer_test.go
  docs/prow/kyma-release-process.md
  docs/prow/migration-guide.md
  prow/jobs/console/catalog/catalog.yaml
  prow/jobs/console/content/content.yaml
  prow/jobs/console/instances/instances.jobs.yaml
  prow/jobs/console/instances/instances.yaml
  prow/jobs/kyma/components/binding-usage-controller/binding-usage-controller.yaml
  prow/jobs/kyma/components/remote-environment-broker/remote-environment-broker.yaml
  prow/jobs/kyma/components/ui-api-layer/ui-api-layer.yaml
  prow/jobs/test-infra/buildpack.yaml
  prow/scripts/README.md
  prow/scripts/build.sh
  prow/scripts/publish-buildpack.sh
Due: prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Rename func
  development/tools/jobs/console/brokers_test.go
  development/tools/jobs/console/catalog_test.go
  development/tools/jobs/console/content_test.go
  development/tools/jobs/console/instances_test.go
  development/tools/jobs/kyma/ui_api_layer_test.go
  development/tools/jobs/tester/tester.go
  development/tools/jobs/testinfra/buildpack_test.go
Due: none

fix
  prow/scripts/cluster-integration/provision-gke-cluster.sh
Due: prow/test-infra/validate-scripts

shellcheck fix
  prow/scripts/cluster-integration/pr-gke-integration.sh
Due: prow/test-infra/validate-scripts

add provision and deprovision gke cluster scripts
  prow/scripts/cluster-integration/deprovision-gke-cluster.sh
  prow/scripts/cluster-integration/pr-gke-integration.sh
  prow/scripts/cluster-integration/provision-gke-cluster.sh
Due: prow/test-infra/validate-scripts

fix
  prow/scripts/cluster-integration/pr-gke-integration.sh
Due: prow/test-infra/validate-scripts

add default values for params
  prow/scripts/cluster-integration/provision-gke-cluster.sh
Due: prow/test-infra/validate-scripts

echo replaced by shout
  prow/scripts/cluster-integration/pr-gke-integration.sh
Due: prow/test-infra/validate-scripts
