Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-bootstrap-helm, pre-test-infra-kyma-cluster-infra, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-golang-toolbox, pre-test-infra-buildpack-golang-kubebuilder, pre-test-infra-buildpack-golang-kubebuilder2, pre-test-infra-buildpack-node, pre-test-infra-buildpack-node-chromium, pre-test-infra-buildpack-java, pre-test-infra-buildpack-java-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-kubectl, pre-test-infra-prow-clonerefs, pre-test-infra-kyma-tools, post-test-infra-bootstrap, post-test-infra-bootstrap-helm, post-test-infra-kyma-cluster-infra, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-golang-toolbox, post-test-infra-buildpack-golang-kubebuilder, post-test-infra-buildpack-golang-kubebuilder2, post-test-infra-buildpack-node, post-test-infra-buildpack-node-chromium, post-test-infra-buildpack-java, post-test-infra-buildpack-java-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-kubectl, post-test-infra-prow-clonerefs, post-test-infra-kyma-tools, prow/test-infra/check_config, test-infra-development-tools, pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, pre-master-test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-tools, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files, pre-master-test-infra-validate-prow-installer-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  pre-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  pre-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  pre-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  pre-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  pre-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  pre-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  pre-test-infra-kyma-tools: any of: ^development/tools/
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  post-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  post-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  post-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  post-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  post-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  post-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  post-test-infra-kyma-tools: any of: ^development/tools/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-test-infra-image-syncer-validate: any of: ^(development/image-syncer)
  pre-master-test-infra-image-syncer-dry-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-test-infra-image-syncer-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  pre-master-test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  pre-test-infra-validate-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  post-test-infra-upload-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow-tools: any of: ^development/tools/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-master-test-infra-validate-prow-jobs: any of: ^(development/tools/jobs|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/

Update prow/images/probot-stale/README.md
  prow/images/probot-stale/README.md
Due: pre-master-test-infra-governance, pre-master-test-infra-validate-prow-jobs

Image
  prow/cluster/resources/probot-stale/README.md
  prow/cluster/resources/probot-stale/values.yaml
Due: pre-master-test-infra-governance, pre-master-test-infra-validate-prow-jobs

Chart.yaml
  prow/cluster/resources/probot-stale/Chart.yaml
Due: pre-master-test-infra-validate-prow-jobs

Fix
  prow/images/probot-stale/package.json
Due: pre-master-test-infra-validate-prow-jobs

remove perf-tests (#2566)
  development/tools/jobs/testinfra/performance-test-image-test.go
  prow/jobs/test-infra/performance-test.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Delete performance Cluster
  CODEOWNERS
  performance-tools/README.md
  performance-tools/docs/performance-test-cluster-setup.md
  performance-tools/docs/performance-test-execution.md
  performance-tools/performance-cluster/Dockerfile
  performance-tools/performance-cluster/Makefile
  performance-tools/performance-cluster/cluster.sh
  performance-tools/performance-cluster/job/performance-tests-k6-runner-cronjob.yaml
  performance-tools/performance-cluster/runner.sh
  performance-tools/performance-cluster/scripts/k6-runner.sh
  performance-tools/performance-cluster/scripts/kyma-aks-cluster.sh
  performance-tools/performance-cluster/scripts/kyma-gke-cluster.sh
Due: pre-master-perf-test, post-master-perf-test, pre-master-test-infra-governance, prow/test-infra/validate-scripts

Revert "Decrease minimum node count on Gardener jobs (#2561)"
  prow/scripts/cluster-integration/kyma-integration-gardener-aws.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-azure.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-gcp.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener-azure.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Add Probot Stale Image definition (#2570)
  .gitignore
  prow/images/probot-stale/Dockerfile
  prow/images/probot-stale/Makefile
  prow/images/probot-stale/README.md
  prow/images/probot-stale/package.json
Due: pre-master-test-infra-governance, pre-master-test-infra-validate-prow-jobs

Chart
  prow/cluster/resources/probot-stale/templates/ingress.yaml
  prow/cluster/resources/probot-stale/values.yaml
Due: pre-master-test-infra-validate-prow-jobs

revert
  prow/scripts/cluster-integration/kyma-integration-gardener-aws.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-azure.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-gcp.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener-azure.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

ddd
  prow/cluster/resources/probot-stale/values.yaml
Due: pre-master-test-infra-validate-prow-jobs

Port
  prow/cluster/resources/probot-stale/templates/ingress.yaml
  prow/cluster/resources/probot-stale/templates/service..yaml
Due: pre-master-test-infra-validate-prow-jobs

Updates to have serparate kyma installer yaml files
  development/tools/cmd/githubrelease/README.md
  development/tools/cmd/githubrelease/main.go
  prow/scripts/build-kyma-artifacts.sh
  prow/scripts/build-kyma-development-artifacts.sh
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-governance, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-tools, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

dddd
  prow/cluster/resources/probot-stale/templates/deployment.yaml
  prow/cluster/resources/probot-stale/values.yaml
Due: pre-master-test-infra-validate-prow-jobs

sdasdad
  prow/cluster/resources/probot-stale/templates/deployment.yaml
Due: pre-master-test-infra-validate-prow-jobs

Add Probot Stale chart (#2568)
  prow/cluster/resources/probot-stale/Chart.yaml
  prow/cluster/resources/probot-stale/README.md
  prow/cluster/resources/probot-stale/templates/_helpers.tpl
  prow/cluster/resources/probot-stale/templates/deployment.yaml
  prow/cluster/resources/probot-stale/templates/ingress.yaml
  prow/cluster/resources/probot-stale/templates/service..yaml
  prow/cluster/resources/probot-stale/values.yaml
Due: pre-master-test-infra-governance, pre-master-test-infra-validate-prow-jobs

Delete performance Cluster (#2565)
  CODEOWNERS
  performance-tools/README.md
  performance-tools/docs/performance-test-cluster-setup.md
  performance-tools/docs/performance-test-execution.md
  performance-tools/performance-cluster/Dockerfile
  performance-tools/performance-cluster/Makefile
  performance-tools/performance-cluster/cluster.sh
  performance-tools/performance-cluster/job/performance-tests-k6-runner-cronjob.yaml
  performance-tools/performance-cluster/runner.sh
  performance-tools/performance-cluster/scripts/k6-runner.sh
  performance-tools/performance-cluster/scripts/kyma-aks-cluster.sh
  performance-tools/performance-cluster/scripts/kyma-gke-cluster.sh
Due: pre-master-perf-test, post-master-perf-test, pre-master-test-infra-governance, prow/test-infra/validate-scripts

remove installer yamls for compass
  prow/scripts/build-kyma-artifacts.sh
  prow/scripts/build-kyma-development-artifacts.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Make pre-test-infra-validate-testgrid-config optional
  prow/jobs/test-infra/testgrid-automation.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Make pre-test-infra-validate-testgrid-config optional (#2571)
  prow/jobs/test-infra/testgrid-automation.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

update grafana to latest patch version
  development/image-syncer/external-images.yaml
Due: pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run

First version of prowjob tester.
  development/tools/cmd/pjtester/main.go
  development/tools/go.mod
  development/tools/go.sum
  development/tools/pkg/pjtester/pjtester.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-validate-prow-tools

Update grafana to latest patch version (#2572)
  development/image-syncer/external-images.yaml
Due: pre-master-test-infra-image-syncer-validate, pre-master-test-infra-image-syncer-dry-run, post-master-test-infra-image-syncer-run

Add prow-tools to buildpack-node image
  prow/images/buildpack-node/Dockerfile
Due: prow/test-infra/buildpack-node, pre-test-infra-buildpack-node, post-test-infra-buildpack-node, pre-master-test-infra-validate-prow-jobs

Fix dashboards names
  prow/jobs/control-plane/control-plane-gke-integration.yaml
  prow/jobs/control-plane/control-plane-gke-provisioner-integration.yaml
  prow/jobs/control-plane/control-plane-integration.yaml
  prow/jobs/incubator/compass/compass-gke-integration.yaml
  prow/jobs/incubator/compass/compass-integration.yaml
  prow/jobs/kyma/kyma-github-release.yaml
  prow/jobs/kyma/kyma-gke-compass-integration.yaml
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/jobs/kyma/kyma-release-candidate.yaml
  prow/jobs/test-infra/testgrid-automation.yaml
  prow/testgrid-default.yaml
  templates/templates/compass-gke-integration.yaml
  templates/templates/compass-integration.yaml
  templates/templates/kyma-github-release.yaml
  templates/templates/kyma-gke-compass-integration.yaml
  templates/templates/kyma-integration-gardener.yaml
  templates/templates/kyma-integration.yaml
  templates/templates/kyma-release-candidate.yaml
  templates/templates/testgrid-default.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Move COPY statements to the top of Dockerfile
  prow/images/buildpack-node/Dockerfile
Due: prow/test-infra/buildpack-node, pre-test-infra-buildpack-node, post-test-infra-buildpack-node, pre-master-test-infra-validate-prow-jobs

typo
  templates/templates/testgrid-default.yaml
Due: pre-master-test-infra-validate-generated-files

typo
  prow/testgrid-default.yaml
Due: pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-master-test-infra-validate-prow-jobs

Add prow-tools to buildpack-node image (#2573)
  prow/images/buildpack-node/Dockerfile
Due: prow/test-infra/buildpack-node, pre-test-infra-buildpack-node, post-test-infra-buildpack-node, pre-master-test-infra-validate-prow-jobs

Bump buildpack-node image
  prow/jobs/incubator/varkes/varkes.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Bump buildpack-node images and fix tests
  development/tools/jobs/tester/tester.go
  prow/jobs/console/components/react/react-components.yaml
  prow/jobs/examples/event-email-service/event-email-service.yaml
  prow/jobs/incubator/vstudio-extension/vstudio-extension.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Bump buildpack-node image with prow-tools (#2577)
  development/tools/jobs/tester/tester.go
  prow/jobs/console/components/react/react-components.yaml
  prow/jobs/examples/event-email-service/event-email-service.yaml
  prow/jobs/incubator/varkes/varkes.yaml
  prow/jobs/incubator/vstudio-extension/vstudio-extension.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Upgrade Minikube version
  development/custom-image/install-deps-debian.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts

replaced underscore with dash
  prow/jobs/control-plane/control-plane-gke-integration.yaml
  prow/jobs/control-plane/control-plane-gke-provisioner-integration.yaml
  prow/jobs/control-plane/control-plane-integration.yaml
  prow/jobs/incubator/compass/compass-gke-integration.yaml
  prow/jobs/incubator/compass/compass-integration.yaml
  prow/jobs/kyma/kyma-github-release.yaml
  prow/jobs/kyma/kyma-gke-compass-integration.yaml
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/jobs/kyma/kyma-release-candidate.yaml
  prow/jobs/test-infra/testgrid-automation.yaml
  prow/testgrid-default.yaml
  templates/templates/compass-gke-integration.yaml
  templates/templates/compass-integration.yaml
  templates/templates/kyma-github-release.yaml
  templates/templates/kyma-gke-compass-integration.yaml
  templates/templates/kyma-integration-gardener.yaml
  templates/templates/kyma-integration.yaml
  templates/templates/kyma-release-candidate.yaml
  templates/templates/testgrid-default.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Revert "replaced underscore with dash"
  prow/jobs/control-plane/control-plane-gke-integration.yaml
  prow/jobs/control-plane/control-plane-gke-provisioner-integration.yaml
  prow/jobs/control-plane/control-plane-integration.yaml
  prow/jobs/incubator/compass/compass-gke-integration.yaml
  prow/jobs/incubator/compass/compass-integration.yaml
  prow/jobs/kyma/kyma-github-release.yaml
  prow/jobs/kyma/kyma-gke-compass-integration.yaml
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/jobs/kyma/kyma-release-candidate.yaml
  prow/jobs/test-infra/testgrid-automation.yaml
  prow/testgrid-default.yaml
  templates/templates/compass-gke-integration.yaml
  templates/templates/compass-integration.yaml
  templates/templates/kyma-github-release.yaml
  templates/templates/kyma-gke-compass-integration.yaml
  templates/templates/kyma-integration-gardener.yaml
  templates/templates/kyma-integration.yaml
  templates/templates/kyma-release-candidate.yaml
  templates/templates/testgrid-default.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Fix typo in buildpack-node
  development/tools/jobs/tester/tester.go
  prow/jobs/console/components/react/react-components.yaml
  prow/jobs/examples/event-email-service/event-email-service.yaml
  prow/jobs/incubator/varkes/varkes.yaml
  prow/jobs/incubator/vstudio-extension/vstudio-extension.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Fix typo in buildpack-node (#2579)
  development/tools/jobs/tester/tester.go
  prow/jobs/console/components/react/react-components.yaml
  prow/jobs/examples/event-email-service/event-email-service.yaml
  prow/jobs/incubator/varkes/varkes.yaml
  prow/jobs/incubator/vstudio-extension/vstudio-extension.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Added prowjob for pjtester. Added preset. Updated makefiles.
  development/tools/Makefile
  development/tools/pkg/pjtester/pjtester.go
  prow/config.yaml
  prow/images/prow-tools/Makefile
  prow/jobs/test-infra/buildpack.yaml
  prow/jobs/test-infra/pjtester.yaml
  templates/templates/prow-config.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, prow/test-infra/check_config, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow-tools, pre-master-test-infra-validate-prow-jobs, pre-master-test-infra-validate-generated-files

Added commit SHA as image env.
  development/tools/cmd/pjtester/main.go
  prow/images/prow-tools/Dockerfile
  prow/images/prow-tools/Makefile
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-validate-prow-tools, pre-master-test-infra-validate-prow-jobs
