Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow, cert-job

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  cert-job: any of: ^(development/.*.sh$|prow/.*.sh$)

All stability checker container logs as JSON (#943)
  stability-checker/deploy/chart/stability-checker/templates/deploy.yaml
  stability-checker/deploy/stability-checker/Dockerfile
  stability-checker/internal/printer/export_test.go
  stability-checker/internal/printer/printer.go
  stability-checker/internal/printer/printer_test.go
Due: pre-master-stability-checker, post-master-stability-checker

Bump stability checker version - all logs must be JSON
  stability-checker/deploy/chart/stability-checker/values.yaml
Due: pre-master-stability-checker, post-master-stability-checker

Fix property
  prow/scripts/cluster-integration/kyma-gke-minio-gateway.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Bump stability checker version - all logs must be JSON (#956)
  stability-checker/deploy/chart/stability-checker/values.yaml
Due: pre-master-stability-checker, post-master-stability-checker

Add license scan report and status (#561)
  README.md
Due: test-infra-governance

Fix readme
  README.md
Due: test-infra-governance

Fix readme (#957)
  README.md
Due: test-infra-governance

Add support for minio gateway in tests (#902)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/helpers/delete-buckets.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway.sh
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Fix backup-restore cron
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix backup-restore cron (#934)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

incease initial waiting period to 1m
  development/tools/cmd/jobguard/run.sh
Due: test-infra-development-tools, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

accept github token
  development/tools/cmd/jobguard/main.go
  development/tools/cmd/jobguard/run.sh
Due: test-infra-development-tools, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Add RBAC rules for Job Waiter
  prow/workload-cluster/03-job-waiter-rbac.yaml
Due: pre-master-test-infra-validate-prow

introduce rootpath
  development/tools/cmd/jobguard/run.sh
Due: test-infra-development-tools, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Add script for running Job Guard
  development/tools/cmd/jobguard/main.go
  development/tools/pkg/jobguard/status.go
  prow/scripts/job-guard.sh
  prow/scripts/job-waiter.sh
Due: test-infra-development-tools, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Rename BOT_GITHUB_TOKEN to GITHUB_TOKEN
  development/tools/cmd/jobguard/README.md
  development/tools/cmd/jobguard/main.go
Due: test-infra-development-tools, test-infra-governance, pre-master-test-infra-validate-prow

Rename Job Waiter to Job Guard
  development/tools/cmd/jobguard/README.md
  development/tools/cmd/jobguard/main.go
  development/tools/pkg/jobguard/filter.go
  development/tools/pkg/jobguard/httpclient.go
  development/tools/pkg/jobguard/status.go
  development/tools/pkg/jobguard/waiter.go
Due: test-infra-development-tools, test-infra-governance, pre-master-test-infra-validate-prow

Add script that waits for jobs with special label
  prow/images/alpine-kubectl/Dockerfile
  prow/scripts/job-waiter.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Paginate and gather all statuses
  development/tools/cmd/jobwaiter/README.md
  development/tools/cmd/jobwaiter/main.go
  development/tools/pkg/jobwaiter/filter.go
  development/tools/pkg/jobwaiter/status.go
  development/tools/pkg/jobwaiter/waiter.go
Due: test-infra-development-tools, test-infra-governance, pre-master-test-infra-validate-prow

Filter statuses by name and status
  development/tools/cmd/jobwaiter/README.md
  development/tools/cmd/jobwaiter/main.go
  development/tools/pkg/jobwaiter/filter.go
  development/tools/pkg/jobwaiter/httpclient.go
  development/tools/pkg/jobwaiter/status.go
  development/tools/pkg/jobwaiter/waiter.go
  prow/images/alpine-kubectl/Dockerfile
  prow/workload-cluster/03-job-waiter-rbac.yaml
Due: test-infra-development-tools, test-infra-governance, pre-master-test-infra-validate-prow

get number of required jobs from prow configuration
  development/tools/cmd/jobguard/main.go
  development/tools/cmd/jobguard/run.sh
Due: test-infra-development-tools, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

introduce changes after code review
  development/tools/cmd/jobguard/main.go
  development/tools/pkg/jobguard/filter.go
  development/tools/pkg/jobguard/status.go
  development/tools/pkg/jobguard/waiter.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

Add JobWaiter that uses Github API
  development/tools/cmd/jobwaiter/main.go
  development/tools/pkg/jobwaiter/status.go
  development/tools/pkg/jobwaiter/waiter.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

pull request number is not necessary
  development/tools/cmd/jobguard/main.go
  development/tools/pkg/jobguard/status.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

Wait for pods instead of ProwJobs
  prow/scripts/job-waiter.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Improve logging for Job Waiter
  development/tools/cmd/jobwaiter/main.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

run.sh executable
  development/tools/cmd/jobguard/run.sh
Due: test-infra-development-tools, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Add missing comments
  development/tools/cmd/jobwaiter/main.go
  development/tools/pkg/jobwaiter/filter.go
  development/tools/pkg/jobwaiter/httpclient.go
  development/tools/pkg/jobwaiter/status.go
  development/tools/pkg/jobwaiter/waiter.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

revert
  development/tools/cmd/githubrelease/main.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

fix to satisfy validators
  development/tools/cmd/jobguard/run.sh
  development/tools/pkg/jobguard/filter.go
  development/tools/pkg/jobguard/status.go
Due: test-infra-development-tools, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

fix
  development/tools/cmd/jobguard/run.sh
Due: test-infra-development-tools, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

make jobs happy
  development/tools/cmd/jobguard/run.sh
  development/tools/pkg/jobguard/filter.go
  development/tools/pkg/jobguard/status.go
Due: test-infra-development-tools, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

add test-infra branch protection for release branches, same as kyma repo (#922)
  prow/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

Update README.md
  README.md
Due: test-infra-governance

fix docu
  development/tools/cmd/jobguard/README.md
Due: test-infra-development-tools, test-infra-governance, pre-master-test-infra-validate-prow

Fix github integration
  prow/config.yaml
  prow/jobs/kyma/kyma-integration.yaml
Due: prow/test-infra/check_config, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow
