Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow, cert-job

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  cert-job: any of: ^(development/.*.sh$|prow/.*.sh$)

Add new github bot account for the job guard integration
  prow/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

Extract the JOB_NAME_PATTERN param to enviroment variable
  development/tools/cmd/jobguard/run.sh
Due: test-infra-development-tools, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Simplify installation: cleanup (#1085)
  prow/scripts/cluster-integration/helpers/install-kyma.sh
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-central-xip.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-end-to-end-test.sh
  prow/scripts/cluster-integration/kyma-gke-integration-xip.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway.sh
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

rename fixes
  development/tools/jobs/incubator/compass/compass_end_to_end_test.go
  prow/jobs/incubator/compass/tests/end-to-end/end-to-end.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Extract the JOB_NAME_PATTERN param to environment variable (#1089)
  development/tools/cmd/jobguard/run.sh
Due: test-infra-development-tools, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Add new github bot account for the job guard integration (#1088)
  prow/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

Add compass e2e test job (#1084)
  development/tools/jobs/incubator/compass/compass_end_to_end_test.go
  prow/jobs/incubator/compass/tests/end-to-end/end-to-end.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

refactor code indentation
  development/tools/pkg/gcscleaner/cleaner.go
  development/tools/pkg/gcscleaner/cleaner_test.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

Add Job Guard to each integration job script
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-central-xip.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-integration-xip.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
  prow/scripts/provision-vm-and-start-kyma.sh
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Fix GCS cleaner #1026 (#1031)
  development/assetstore-gcp-bucket-cleaner.sh
  development/tools/Gopkg.lock
  development/tools/cmd/gcscleaner/main.go
  development/tools/cmd/gcscleaner/main_test.go
  development/tools/pkg/gcscleaner/cleaner.go
  development/tools/pkg/gcscleaner/cleaner_test.go
  development/tools/pkg/gcscleaner/export_test.go
  development/tools/pkg/gcscleaner/storage/automock/bucket_attrs.go
  development/tools/pkg/gcscleaner/storage/automock/bucket_handle.go
  development/tools/pkg/gcscleaner/storage/automock/bucket_iterator.go
  development/tools/pkg/gcscleaner/storage/automock/bucket_object.go
  development/tools/pkg/gcscleaner/storage/automock/client.go
  development/tools/pkg/gcscleaner/storage/automock/object_attrs.go
  development/tools/pkg/gcscleaner/storage/automock/object_handle.go
  development/tools/pkg/gcscleaner/storage/automock/object_iterator.go
  development/tools/pkg/gcscleaner/storage/automock/query.go
  development/tools/pkg/gcscleaner/storage/bucket.go
  development/tools/pkg/gcscleaner/storage/storage.go
Due: test-infra-development-tools, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Ensure backward compatibility in upgrade jobs: restore cr labelling
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Ensure backward compatibility in upgrade jobs: restore cr labelling (#1092)
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

fix assetstore-gcp-bucket-cleaner
  development/assetstore-gcp-bucket-cleaner.sh
Due: prow/test-infra/validate-scripts, cert-job

Fix assetstore-gcp-bucket-cleaner (#1093)
  development/assetstore-gcp-bucket-cleaner.sh
Due: prow/test-infra/validate-scripts, cert-job

Execute Job Guard only on pull request jobs
  development/tools/cmd/jobguard/run.sh
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-central-xip.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-integration-xip.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
  prow/scripts/provision-vm-and-start-kyma.sh
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Refactor assetstore-gcp-bucket-cleaner
  development/assetstore-gcp-bucket-cleaner.sh
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Remove dep ensure
  development/tools/cmd/jobguard/run.sh
Due: test-infra-development-tools, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

WIP
  development/tools/cmd/jobguard/run.sh
Due: test-infra-development-tools, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

istio benchmark test, initial commit
  performance-tools/istio-benchmark/Chart.yaml
  performance-tools/istio-benchmark/README.md
  performance-tools/istio-benchmark/runner/fortio.py
  performance-tools/istio-benchmark/runner/prom.py
  performance-tools/istio-benchmark/runner/runner.py
  performance-tools/istio-benchmark/setup.sh
  performance-tools/istio-benchmark/templates/fortio.yaml
  performance-tools/istio-benchmark/values-istio-auth.yaml
  performance-tools/istio-benchmark/values.yaml
  performance-tools/performance-cluster/Dockerfile
  performance-tools/performance-cluster/runner.sh
Due: test-infra-governance, prow/test-infra/validate-scripts

Refactor jobguard
  development/tools/cmd/jobguard/main.go
  development/tools/pkg/jobguard/filter.go
  development/tools/pkg/jobguard/status.go
Due: test-infra-development-tools, pre-master-test-infra-validate-prow

Minor fixes
  development/tools/pkg/jobguard/filter.go
  development/tools/pkg/jobguard/status.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix tests
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/jobs/tester/tester.go
  development/tools/pkg/jobguard/filter.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

fix assetstore-gcp-bucket-cleaner (#1094)
  development/assetstore-gcp-bucket-cleaner.sh
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

initial
  prow/scripts/build-kyma-development-artifacts.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

remove further references
  development/tools/cmd/githubrelease/README.md
  development/tools/cmd/githubrelease/main.go
  development/tools/pkg/release/release_test.go
  docs/prow/prow-architecture.md
  prow/scripts/build-kyma-artifacts.sh
  prow/scripts/build-kyma-development-artifacts.sh
Due: test-infra-development-tools, test-infra-governance, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

fix
  prow/scripts/build-kyma-development-artifacts.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

Remove cluster config template in test-infra (#1097)
  development/tools/cmd/githubrelease/README.md
  development/tools/cmd/githubrelease/main.go
  development/tools/pkg/release/release_test.go
  docs/prow/prow-architecture.md
  prow/scripts/build-kyma-artifacts.sh
  prow/scripts/build-kyma-development-artifacts.sh
Due: test-infra-development-tools, test-infra-governance, prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

undo fluentd installation
  development/custom-image/install-deps-debian.sh
Due: prow/test-infra/validate-scripts, cert-job

undo fluentd installation (#1098)
  development/custom-image/install-deps-debian.sh
Due: prow/test-infra/validate-scripts, cert-job

Fix trap function
  prow/scripts/cluster-integration/kyma-gke-central-xip.sh
  prow/scripts/cluster-integration/kyma-gke-central.sh
  prow/scripts/cluster-integration/kyma-gke-integration-xip.sh
  prow/scripts/cluster-integration/kyma-gke-integration.sh
  prow/scripts/cluster-integration/kyma-gke-minio-gateway.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade-xip.sh
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Due: prow/test-infra/validate-scripts, pre-master-test-infra-validate-prow, cert-job

enable pre-master-kyma-gke-minio-gateway job
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

update tests
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

zone randomization
  development/tools/jobs/kyma/kyma_integration_test.go
  performance-tools/performance-cluster/cluster.sh
  performance-tools/performance-cluster/runner.sh
  prow/config.yaml
  prow/jobs/kyma/kyma-integration.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-master-test-infra-validate-prow

add envs for pre-master-kyma-gke-upgrade-migration-test
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix roles for stability checker
  stability-checker/deploy/chart/stability-checker/templates/role.yaml
  stability-checker/local_helm_install.sh
  stability-checker/local_minikube_build.sh
Due: pre-master-stability-checker, post-master-stability-checker, prow/test-infra/validate-scripts

Update performance-tools/istio-benchmark/README.md
  performance-tools/istio-benchmark/README.md
Due: test-infra-governance

Apply changes after review
  development/tools/cmd/jobguard/main.go
  docs/prow/presets.md
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/README.md
Due: test-infra-development-tools, test-infra-governance, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Fix roles for stability checker (#1101)
  stability-checker/deploy/chart/stability-checker/templates/role.yaml
  stability-checker/local_helm_install.sh
  stability-checker/local_minikube_build.sh
Due: pre-master-stability-checker, post-master-stability-checker, prow/test-infra/validate-scripts
