Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, test-infra-governance, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  test-infra-governance: any of: milv.config.yaml|.md$
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: (any of: prow/(plugins|config).yaml) or (any of: ^prow/((plugins|config).yaml|jobs/))

sourcing TLS cert and key
  prow/scripts/cluster-integration/helpers/install-kyma.sh
Due: prow/test-infra/validate-scripts

add vulnerability scanner job tests
  development/tools/jobs/testinfra/buildpack_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

don't install node and snyk in the script
  development/vulnerabilites-scanner.sh
Due: prow/test-infra/validate-scripts

small fix
  development/tools/jobs/testinfra/buildpack_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

fix formatting issue
  development/tools/jobs/testinfra/buildpack_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

split the script into multiple functions
  development/vulnerabilites-scanner.sh
Due: prow/test-infra/validate-scripts

fix envs in job
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

fix label in job
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

add vulnerability scanner tests
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add vulnerability scanner job (#652)
  development/tools/jobs/testinfra/buildpack_test.go
  prow/jobs/test-infra/buildpack.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Add prow job for kyma-incubator/octopus
  development/tools/jobs/incubator/octopus/octopus_test.go
  prow/jobs/incubator/octopus/octopus.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

fix creation of end to end cluster
  prow/scripts/cluster-integration/kyma-gke-end-to-end-test.sh
Due: prow/test-infra/validate-scripts

fix ark configuration
  prow/config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs

fix creation of end to end cluster (#656)
  prow/config.yaml
  prow/scripts/cluster-integration/kyma-gke-end-to-end-test.sh
Due: prow/test-infra/check_config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Added comments on usage of the helper scripts
  prow/scripts/cluster-integration/helpers/cleanup-cluster.sh
  prow/scripts/cluster-integration/helpers/create-cluster.sh
  prow/scripts/cluster-integration/helpers/generate-and-export-letsencrypt-TLS-cert.sh
  prow/scripts/cluster-integration/helpers/install-kyma.sh
Due: prow/test-infra/validate-scripts

apply suggestions after code review
  development/vulnerabilites-scanner.sh
  prow/images/README.md
Due: test-infra-governance, prow/test-infra/validate-scripts

small fix
  prow/images/README.md
Due: test-infra-governance

Review fixes
  development/vulnerabilites-scanner.sh
Due: prow/test-infra/validate-scripts

Apply suggestions from technical review
  prow/images/vulnerability-scanner/README.md
Due: test-infra-governance

fix
  prow/images/README.md
Due: test-infra-governance

Add vulnerability scanner image (#654)
  prow/images/README.md
  prow/images/vulnerability-scanner/Dockerfile
  prow/images/vulnerability-scanner/Makefile
  prow/images/vulnerability-scanner/README.md
Due: test-infra-governance

bump
  prow/config.yaml
  prow/jobs/kyma/kyma-integration.yaml
Due: prow/test-infra/check_config, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Always trigger jobs for SC tester
  prow/jobs/incubator/service-catalog-tester/service-catalog-tester.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

extract vul scanner to separate file
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/jobs/kyma/vulnerability_scanner_test.go
  prow/jobs/kyma/kyma-integration.yaml
  prow/jobs/kyma/kyma-vulnerability-scanner.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Fix tests
  development/tools/jobs/incubator/service-catalog-tester/service_catalog_tester_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

fix
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Fix tests
  development/tools/jobs/incubator/service-catalog-tester/service_catalog_tester_test.go
  prow/jobs/incubator/service-catalog-tester/service-catalog-tester.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Fix tests
  prow/jobs/incubator/service-catalog-tester/service-catalog-tester.yaml
Due: test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

dep ensure --vendor-only
  development/vulnerabilites-scanner.sh
Due: prow/test-infra/validate-scripts

Migrate periodic load-test to Prow (#633)
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/cluster/required-secrets.yaml
  prow/config.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/helpers/cleanup-cluster.sh
  prow/scripts/cluster-integration/helpers/create-cluster.sh
  prow/scripts/cluster-integration/helpers/generate-and-export-letsencrypt-TLS-cert.sh
  prow/scripts/cluster-integration/helpers/install-kyma.sh
  prow/scripts/cluster-integration/kyma-gke-load-test.sh
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Always trigger jobs for SC tester (#658)
  development/tools/jobs/incubator/service-catalog-tester/service_catalog_tester_test.go
  prow/jobs/incubator/service-catalog-tester/service-catalog-tester.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

gofmted
  development/tools/jobs/kyma/vulnerability_scanner_test.go
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions

Add open source vulnerabilities scanner job (#650)
  development/tools/jobs/kyma/vulnerability_scanner_test.go
  development/vulnerabilites-scanner.sh
  prow/cluster/required-secrets.yaml
  prow/config.yaml
  prow/jobs/kyma/kyma-vulnerability-scanner.yaml
Due: prow/test-infra/check_config, test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Vulnerabilities scanner job updated schedule
  development/tools/jobs/kyma/vulnerability_scanner_test.go
  prow/jobs/kyma/kyma-vulnerability-scanner.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-configs

Vulnerabilities scanner fix
  development/tools/jobs/kyma/vulnerability_scanner_test.go
  development/vulnerabilities-scanner.sh
  prow/jobs/kyma/kyma-vulnerability-scanner.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs

Vulnerabilities scanner fix (#661)
  development/tools/jobs/kyma/vulnerability_scanner_test.go
  development/vulnerabilities-scanner.sh
  prow/jobs/kyma/kyma-vulnerability-scanner.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs
