Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-bootstrap-helm, pre-test-infra-kyma-cluster-infra, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-golang-toolbox, pre-test-infra-buildpack-golang-kubebuilder, pre-test-infra-buildpack-golang-kubebuilder2, pre-test-infra-buildpack-node, pre-test-infra-buildpack-node-chromium, pre-test-infra-buildpack-java, pre-test-infra-buildpack-java-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-kubectl, pre-test-infra-prow-clonerefs, pre-test-infra-kyma-tools, post-test-infra-bootstrap, post-test-infra-bootstrap-helm, post-test-infra-kyma-cluster-infra, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-golang-toolbox, post-test-infra-buildpack-golang-kubebuilder, post-test-infra-buildpack-golang-kubebuilder2, post-test-infra-buildpack-node, post-test-infra-buildpack-node-chromium, post-test-infra-buildpack-java, post-test-infra-buildpack-java-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-kubectl, post-test-infra-prow-clonerefs, post-test-infra-kyma-tools, prow/test-infra/check_config, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files, pre-master-test-infra-validate-prow-installer-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  pre-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  pre-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  pre-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  pre-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  pre-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  pre-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  pre-test-infra-kyma-tools: any of: ^development/tools/
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  post-test-infra-kyma-cluster-infra: any of: ^prow/images/kyma-cluster-infra/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  post-test-infra-buildpack-golang-kubebuilder: any of: ^prow/images/buildpack-golang-kubebuilder/
  post-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  post-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  post-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  post-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  post-test-infra-kyma-tools: any of: ^development/tools/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/

fix optional flag
  prow/jobs/console/tests/tests.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

switch to new jobs for console tests image (#2319)
  development/tools/jobs/console/console_test.go
  prow/jobs/console/tests/console-tests.yaml
  prow/jobs/console/tests/tests.yaml
  templates/config.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

move all gardener tests into one template, add presubmit job for azure
  development/tools/jobs/kyma/kyma_gardener_integration_test.go
  prow/jobs/kyma/kyma-integration-gardener-aws.yaml
  prow/jobs/kyma/kyma-integration-gardener-azure.yaml
  prow/jobs/kyma/kyma-integration-gardener-gcp.yaml
  prow/jobs/kyma/kyma-integration-gardener.yaml
  templates/config.yaml
  templates/templates/kyma-integration-gardener.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Use new Makefile system for logging & catalog
  development/tools/jobs/console/console_test.go
  prow/jobs/console/logging/logging-ui.yaml
  prow/jobs/console/logging/logging.yaml
  prow/jobs/console/service-catalog-ui/service-catalog-ui-tmp.yaml
  prow/jobs/console/service-catalog-ui/service-catalog-ui.yaml
  templates/config.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Fix tests
  prow/jobs/console/logging/logging.yaml
  prow/jobs/console/service-catalog-ui/service-catalog-ui.yaml
  templates/config.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

remove new line from release verion
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Change logging to log-ui
  development/tools/jobs/console/console_test.go
  prow/jobs/console/log-ui/log-ui.yaml
  templates/config.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

remove new line from release verion (#2322)
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

It gonna fail
  development/tools/jobs/console/console_test.go
  prow/jobs/console/logging/logging.yaml
  templates/config.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Added client files.
  development/gcp/cmd/dnsclient/main.go
  development/gcp/go.mod
  development/gcp/go.sum
  development/gcp/pkg/dnsclient/api_wrapper.go
  development/gcp/pkg/dnsclient/client.go
Due: none

Change logging name
  prow/jobs/console/console-logging/console-logging.yaml
  templates/config.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Use console-logging
  development/tools/jobs/console/console_test.go
  prow/jobs/console/logging/console-logging.yaml
  templates/config.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

added missing imports
  development/gcp/pkg/dnsclient/api_wrapper.go
  development/gcp/pkg/dnsclient/client.go
Due: none

WIP
  development/tools/jobs/console/console_test.go
  development/tools/jobs/console/core_test.go
  development/tools/jobs/tester/generic_component_suite.go
  development/tools/jobs/tester/jobsuite/config.go
  development/tools/jobs/tester/jobsuite/options.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

ttl flag fix
  development/gcp/cmd/dnsclient/main.go
Due: none

Add Jaeger operator custom image jobs
  development/tools/jobs/incubator/third-party-images/jaeger-operator/jaeger_operator_test.go
  prow/jobs/incubator/third-party-images/jaeger-operator/jaeger-operator.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

bumpe patch version
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Move YamlName logic to filename dependent function
  development/tools/jobs/console/console_test.go
  development/tools/jobs/tester/generic_component_suite.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

rename loggingYamlName
  development/tools/jobs/console/console_test.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

corrected patch version
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow

Add Jaeger operator custom image jobs (#2324)
  development/tools/jobs/incubator/third-party-images/jaeger-operator/jaeger_operator_test.go
  prow/jobs/incubator/third-party-images/jaeger-operator/jaeger-operator.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Fix TestWatchPods test
  development/tools/jobs/testinfra/watch_pods_test.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

Remove debug
  development/tools/jobs/tester/generic_component_suite.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

reintroduce periodic job for azure
  development/tools/jobs/kyma/kyma_gardener_integration_test.go
  prow/jobs/kyma/kyma-integration-gardener.yaml
  templates/templates/kyma-integration-gardener.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Corrected flags description.
  development/gcp/cmd/dnsclient/main.go
Due: none

Use newer toolbox with Go 1.14 in Kubebuilder image
  prow/images/buildpack-golang-kubebuilder2/Dockerfile
Due: pre-test-infra-buildpack-golang-kubebuilder2, post-test-infra-buildpack-golang-kubebuilder2, pre-master-test-infra-validate-prow

Update buildpack README.md
  prow/images/buildpack-golang-kubebuilder2/README.md
Due: pre-test-infra-buildpack-golang-kubebuilder2, post-test-infra-buildpack-golang-kubebuilder2, test-infra-governance, pre-master-test-infra-validate-prow

Created new functions that determine job execution. Rewrote tests
  development/tools/jobs/addons/governance_test.go
  development/tools/jobs/common/common_test.go
  development/tools/jobs/community/governance_test.go
  development/tools/jobs/console/compass_test.go
  development/tools/jobs/console/console_tests_test.go
  development/tools/jobs/console/content_test.go
  development/tools/jobs/console/governance_test.go
  development/tools/jobs/console/react_components_test.go
  development/tools/jobs/examples/governance_test.go
  development/tools/jobs/incubator/compass/compass_integration_auditlog_temp_test.go
  development/tools/jobs/incubator/compass/compass_integration_test.go
  development/tools/jobs/incubator/documentation-component/documentation-component_test.go
  development/tools/jobs/incubator/marketplaces/marketplaces_test.go
  development/tools/jobs/incubator/service-catalog-tester/service_catalog_tester_test.go
  development/tools/jobs/kyma/development_artifacts_test.go
  development/tools/jobs/kyma/failery_test.go
  development/tools/jobs/kyma/governance_test.go
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/jobs/kyma/metadata_governance_test.go
  development/tools/jobs/tester/tester.go
  development/tools/jobs/testinfra/buildpack_test.go
  development/tools/jobs/testinfra/governance_test.go
  development/tools/jobs/testinfra/performance-test-image-test.go
  development/tools/jobs/testinfra/stability_checker_test.go
  development/tools/jobs/testinfra/validate_test.go
  development/tools/jobs/website/governance_test.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

update Makefile
  development/tools/Makefile
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-validate-prow

Added client files. (#2323)
  development/gcp/cmd/dnsclient/main.go
  development/gcp/go.mod
  development/gcp/go.sum
  development/gcp/pkg/dnsclient/api_wrapper.go
  development/gcp/pkg/dnsclient/client.go
Due: none

update Gopkg.lock
  development/tools/Gopkg.lock
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-validate-prow

Use newer toolbox with Go 1.14 in Kubebuilder image (#2326)
  prow/images/buildpack-golang-kubebuilder2/Dockerfile
  prow/images/buildpack-golang-kubebuilder2/README.md
Due: pre-test-infra-buildpack-golang-kubebuilder2, post-test-infra-buildpack-golang-kubebuilder2, test-infra-governance, pre-master-test-infra-validate-prow

update buildpack-golang version to go1.14 in validate jobs (#2310)
  development/tools/Gopkg.lock
  development/tools/jobs/testinfra/validate_test.go
  prow/jobs/test-infra/validation.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

update jaeger_operator_test.go for new structs
  development/tools/jobs/incubator/third-party-images/jaeger-operator/jaeger_operator_test.go
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow

update Makefile in prow/images/prow-tools
  prow/images/prow-tools/Makefile
Due: pre-master-test-infra-validate-prow

updated Makefile in prow/images/prow-tools
  prow/images/prow-tools/Makefile
Due: pre-master-test-infra-validate-prow

Add Kiali operator custom image jobs
  development/tools/jobs/incubator/third-party-images/kiali-operator/kiali_operator_test.go
  prow/jobs/incubator/third-party-images/kiali-operator/kiali-operator.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

apply review comments
  development/tools/jobs/kyma/kyma_gardener_integration_test.go
  templates/config.yaml
Due: pre-test-infra-kyma-tools, post-test-infra-kyma-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

RC3
  prow/RELEASE_VERSION
Due: pre-master-test-infra-validate-prow
