Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-buildpack-golang, test-infra-buildpack-node, test-infra-buildpack-node-chromium, test-infra-cleaner, prow/test-infra/check_config, test-infra-development-tools, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

Path conditions:
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  test-infra-bootstrap: any of: ^prow/images/bootstrap/
  test-infra-bootstrap-helm: any of: ^prow/images/bootstrap-helm/
  test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  test-infra-cleaner: any of: ^prow/images/cleaner/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-master-test-infra-validate-prow: any of: ^(development/tools|prow)
  pre-master-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/

dex overrides
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

fix cmd/k8s/main.go
  development/prow-installer/cmd/k8s/main.go
Due: none

renaming
  development/prow-installer/pkg/kubectl/wrapper.go
Due: none

initial kubeconfig generation
  development/prow-installer/pkg/kubectl/wrapper.go
Due: none

comments
  development/prow-installer/pkg/kubectl/wrapper.go
Due: none

added error handling and written tests for a kubeconfig generation
  development/prow-installer/pkg/kubectl/wrapper.go
  development/prow-installer/pkg/kubectl/wrapper_test.go
Due: none

used filepath package for defining os-dependent paths
  development/prow-installer/pkg/kubectl/wrapper.go
Due: none

renamed struct to Wrapper
  development/prow-installer/pkg/kubectl/wrapper.go
Due: none

cleanup wrapper.go and wrapper_test.go
  development/prow-installer/pkg/kubectl/wrapper.go
  development/prow-installer/pkg/kubectl/wrapper_test.go
Due: none

formatting
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Update whitesource image
  prow/images/whitesource-scanner/Dockerfile
Due: pre-master-test-infra-validate-prow

Update whitesource base image (#2080)
  prow/images/whitesource-scanner/Dockerfile
Due: pre-master-test-infra-validate-prow

yaml
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Implemented cleaning clusters along with disks and IPs, serviceaccounts and buckets.
  development/prow-installer/cmd/installer/main.go
  development/prow-installer/cmd/serviceaccount/main.go
  development/prow-installer/pkg/cluster/cluster.go
  development/prow-installer/pkg/cluster/wrapped.go
  development/prow-installer/pkg/installer/cleaner.go
  development/prow-installer/pkg/k8s/client.go
  development/prow-installer/pkg/roles/roles.go
  development/prow-installer/pkg/roles/roles_test.go
  development/prow-installer/pkg/serviceaccount/serviceaccount.go
Due: none

Implemented removing serviceaccounts from roles.
  development/prow-installer/pkg/installer/cleaner.go
  development/prow-installer/pkg/k8s/client.go
  development/prow-installer/pkg/roles/roles.go
Due: none

overides
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

overridex 2
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

fix
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Create resources cleaner 2078 (#2082)
  development/prow-installer/cmd/installer/main.go
  development/prow-installer/cmd/serviceaccount/main.go
  development/prow-installer/pkg/cluster/cluster.go
  development/prow-installer/pkg/cluster/wrapped.go
  development/prow-installer/pkg/installer/cleaner.go
  development/prow-installer/pkg/k8s/client.go
  development/prow-installer/pkg/roles/roles.go
  development/prow-installer/pkg/roles/roles_test.go
  development/prow-installer/pkg/serviceaccount/serviceaccount.go
  development/prow-installer/pkg/serviceaccount/wrapped_iamservice.go
Due: none

Set image version to a correct one (#2077)
  prow/cluster/04-branchprotector_cronjob.yaml
Due: pre-master-test-infra-validate-prow

Fixed failing tests.
  development/prow-installer/cmd/k8s/main.go
  development/prow-installer/pkg/roles/roles_test.go
  development/prow-installer/pkg/serviceaccount/mocks/IAM.go
  development/prow-installer/pkg/serviceaccount/serviceaccount_test.go
Due: none

Added Rooted current directory, added check if path does not exist in Do() function
  development/prow-installer/pkg/kubectl/wrapper.go
Due: none

Fixed failing tests. (#2085)
  development/prow-installer/cmd/k8s/main.go
  development/prow-installer/pkg/roles/roles_test.go
  development/prow-installer/pkg/serviceaccount/mocks/IAM.go
  development/prow-installer/pkg/serviceaccount/serviceaccount_test.go
Due: none

Error handling for os.Getwd() command
  development/prow-installer/pkg/kubectl/wrapper.go
Due: none

add kubectl wrapper for applying YAMLs (#2079)
  development/prow-installer/cmd/k8s/main.go
  development/prow-installer/pkg/kubectl/wrapper.go
  development/prow-installer/pkg/kubectl/wrapper_test.go
Due: none

Add zones to azure
  prow/scripts/cluster-integration/kyma-gardener-integration.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Add zones to azure (#2087)
  prow/scripts/cluster-integration/kyma-gardener-integration.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

aks averride
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

cleanup
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

vars
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

vars
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Dex overrides (#2088)
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Make pre-master-gke-compass-integration job optional
  development/tools/jobs/kyma/kyma_compass_integration_test.go
  prow/jobs/kyma/kyma-compass-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Make pre-master-gke-compass-integration job optional (#2089)
  development/tools/jobs/kyma/kyma_compass_integration_test.go
  prow/jobs/kyma/kyma-compass-integration.yaml
Due: test-infra-development-tools, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-configs, pre-master-test-infra-validate-prow, pre-master-test-infra-validate-generated-files

Added before-commit.sh for validation
  development/prow-installer/Makefile
  development/prow-installer/before-commit.sh
  development/prow-installer/pkg/secrets/secrets_test.go
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts

revert Makefile
  development/prow-installer/Makefile
Due: none
