Repository kyma-incubator/varkes: changes, and which Prow jobs are due for each by the changed paths.
All: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Path conditions:
  varkes-app-connector-client: any of: ^app-connector-client/
  varkes-odata-mock: any of: ^odata-mock/
  varkes-openapi-mock: any of: ^openapi-mock/

fifth
  app-connector-client/server/services.js
  app-connector-client/test/varkes_config.json
  app-connector-client/tools/cli.js
  examples/combined-openapi-mock/varkes_config.json
  examples/kyma-mock/varkes_config.json
  examples/openapi-mock/varkes_config.json
  examples/stress-mock/app.js
  openapi-mock/src/server/config.ts
  openapi-mock/src/server/mock.ts
  openapi-mock/src/test/varkes_config.json
Due: varkes-app-connector-client, varkes-openapi-mock

fixes
  app-connector-client/server/routes/connector.js
  examples/combined-odata-mock/Dockerfile
Due: varkes-app-connector-client

first
  odata-mock/package.json
  odata-mock/src/server/app.ts
  odata-mock/src/server/config.ts
  odata-mock/src/server/parser.ts
  odata-mock/src/server/resources/boot_config_template.json
  odata-mock/src/server/resources/model_template.json
  odata-mock/src/server/resources/varkes_config_default.json
  odata-mock/src/server/server.ts
  odata-mock/src/server/types.ts
  odata-mock/src/test/northwind.xml
  odata-mock/src/test/varkes_config.json
Due: varkes-odata-mock

second
  odata-mock/src/server/app.ts
  odata-mock/src/server/config.ts
  odata-mock/src/test/test.ts
  odata-mock/src/test/varkes_config.json
Due: varkes-odata-mock

fourth
  examples/stress-mock/test.js
  openapi-mock/src/server/app.ts
  openapi-mock/src/server/mock.ts
Due: varkes-openapi-mock

fix
  app-connector-client/server/routes/connector.js
  app-connector-client/server/services.js
Due: varkes-app-connector-client

fixes
  app-connector-client/server/config.js
  app-connector-client/server/resources/varkes_config_default.json
  examples/combined-odata-mock/Dockerfile
  examples/combined-odata-mock/app.js
  examples/combined-openapi-mock/app.js
  examples/kyma-mock/app.js
  examples/odata-mock/app.js
  examples/openapi-mock/app.js
  odata-mock/src/server/app.ts
  openapi-mock/package.json
  openapi-mock/src/server/config.ts
  openapi-mock/src/server/resources/varkes_config_default.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Support multiple odata services (#173)
  app-connector-client/server/config.js
  app-connector-client/server/resources/varkes_config_default.json
  app-connector-client/server/routes/connector.js
  app-connector-client/server/services.js
  app-connector-client/test/varkes_config.json
  app-connector-client/tools/cli.js
  examples/combined-odata-mock/apis/northwind.xml
  examples/combined-odata-mock/apis/products.xml
  examples/combined-odata-mock/app.js
  examples/combined-odata-mock/test.js
  examples/combined-odata-mock/varkes_config.json
  examples/combined-openapi-mock/app.js
  examples/combined-openapi-mock/varkes_config.json
  examples/kyma-mock/app.js
  examples/kyma-mock/varkes_config.json
  examples/odata-mock/app.js
  examples/odata-mock/varkes_config.json
  examples/openapi-mock/app.js
  examples/openapi-mock/varkes_config.json
  examples/stress-mock/app.js
  examples/stress-mock/test.js
  odata-mock/package.json
  odata-mock/src/server/app.ts
  odata-mock/src/server/config.ts
  odata-mock/src/server/parser.ts
  odata-mock/src/server/resources/boot_config_template.json
  odata-mock/src/server/resources/model_template.json
  odata-mock/src/server/resources/varkes_config_default.json
  odata-mock/src/server/server.ts
  odata-mock/src/server/types.ts
  odata-mock/src/test/northwind.xml
  odata-mock/src/test/test.ts
  odata-mock/src/test/varkes_config.json
  openapi-mock/package.json
  openapi-mock/src/server/app.ts
  openapi-mock/src/server/config.ts
  openapi-mock/src/server/mock.ts
  openapi-mock/src/server/resources/varkes_config_default.json
  openapi-mock/src/test/varkes_config.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

v0.3.0
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

bump version to 0.2.1
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  odata-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock

0.3.0 (#175)
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
  openapi-mock/src/test/courses.yaml~0.3.0 (#175)
  openapi-mock/src/test/courses.yaml~HEAD
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

bump version to 0.3.0
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Replace 'lerna bootstrap' by 'make resolve'
  README.md
Due: none

Replace 'lerna bootstrap' by 'make resolve' (#180)
  README.md
Due: none

fixing old UI for to adapt to new routes
  app-connector-client/server/views/index.ejs
Due: varkes-app-connector-client

seperating registeration and connection logic
  app-connector-client/server/app.js
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/routes/mockapis.js
  app-connector-client/server/services.js
Due: varkes-app-connector-client

fix tests
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/server.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

fixing issue
  app-connector-client/server/routes/localApis.js
Due: varkes-app-connector-client

adding hostname to body params
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

applying comments
  app-connector-client/server/app.js
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/routes/remoteApis.js
  app-connector-client/server/services.js
Due: varkes-app-connector-client

fixing issues
  app-connector-client/server/app.js
  app-connector-client/server/services.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/test_integration.js
  examples/kyma-mock/app.js
Due: varkes-app-connector-client

Added hint to make resolve
  app-connector-client/README.md
  odata-mock/README.md
  openapi-mock/README.md
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Added hint to make resolve (#177)
  app-connector-client/README.md
  odata-mock/README.md
  openapi-mock/README.md
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Create new routes (#174)
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/routes/mockapis.js
  app-connector-client/server/routes/remoteApis.js
  app-connector-client/server/server.js
  app-connector-client/server/services.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/test_integration.js
  examples/kyma-mock/app.js
Due: varkes-app-connector-client

fix tests
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

adding hostname to body params
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

add connection to kyma to UI
  app-connector-client/server/app.js
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/services.js
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app.component.html
  cockpit/src/app/app.component.ts
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/server/server.ts
Due: varkes-app-connector-client

adding api view
  app-connector-client/server/app.js
  cockpit/angular.json
  cockpit/package-lock.json
  cockpit/package.json
  cockpit/src/angular.html
  cockpit/src/app/apiOverview/api.overview.ts
  cockpit/src/app/apiView/api.view.ts
  cockpit/src/app/apiView/app.apiView.html
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app-routing.module.ts
  cockpit/src/app/app.module.ts
  cockpit/src/app/specView/app.specview.html
  cockpit/src/app/specView/spec.view.ts
  cockpit/src/assets/luigiconfig.js
  cockpit/src/luigi-config/basic/basicConfiguration.js
Due: varkes-app-connector-client

adding apiView
  app-connector-client/package.json
  app-connector-client/server/routes/localApis.js
  cockpit/angular.json
  cockpit/package-lock.json
  cockpit/package.json
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/apiView/api.view.ts
  cockpit/src/app/apiView/app.apiView.html
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app.module.ts
  cockpit/src/app/specView/app.specview.html
  cockpit/src/app/specView/spec.view.ts
  package-lock.json
Due: varkes-app-connector-client

finishing up UI
  app-connector-client/server/app.js
  app-connector-client/server/routes/localApis.js
  cockpit/angular.json
  cockpit/package-lock.json
  cockpit/package.json
  cockpit/src/app/apiOverview/api.overview.ts
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/apiView/api.view.ts
  cockpit/src/app/apiView/app.apiView.html
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app-routing.module.ts
  cockpit/src/app/app.module.ts
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/app/sendEventView/app.send.eventview.html
  cockpit/src/app/sendEventView/send.eventview.ts
  cockpit/src/app/specView/app.specview.html
  cockpit/src/app/specView/spec.view.ts
Due: varkes-app-connector-client

finishing UI
  app-connector-client/server/app.js
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/services.js
  cockpit/src/app/apiOverview/api.overview.ts
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/apiView/api.view.ts
  cockpit/src/app/apiView/app.apiView.html
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app-routing.module.ts
  cockpit/src/app/app.module.ts
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/app/createApi/app.createapiview.html
  cockpit/src/app/createApi/create.api.view.ts
  cockpit/src/app/sendEventView/app.send.eventview.html
  cockpit/src/app/sendEventView/send.eventview.ts
Due: varkes-app-connector-client

fixed problem when booting up multiple server added persistence for mocks
  .gitignore
  odata-mock/src/server/app.ts
  odata-mock/src/server/odata-server.ts
  odata-mock/src/server/parser.ts
  odata-mock/src/server/resources/boot_config_template.json
  odata-mock/src/server/resources/favicon.ico
  odata-mock/src/test/test.ts
  openapi-mock/src/server/mock.ts
Due: varkes-odata-mock, varkes-openapi-mock

fixing app-connector tests
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

fix
  examples/combined-odata-mock/varkes_config.json
  examples/combined-openapi-mock/varkes_config.json
  odata-mock/src/server/app.ts
  openapi-mock/src/server/mock.ts
Due: varkes-odata-mock, varkes-openapi-mock

fix
  app-connector-client/test/test_integration.js
  odata-mock/src/server/boot/routes.ts
Due: varkes-app-connector-client, varkes-odata-mock

Run multiple odata services in parallel, enable persistence for mocks (#183)
  .gitignore
  app-connector-client/test/test_integration.js
  examples/combined-odata-mock/varkes_config.json
  examples/combined-openapi-mock/varkes_config.json
  odata-mock/src/server/app.ts
  odata-mock/src/server/boot/routes.ts
  odata-mock/src/server/odata-server.ts
  odata-mock/src/server/parser.ts
  odata-mock/src/server/resources/boot_config_template.json
  odata-mock/src/server/resources/favicon.ico
  odata-mock/src/test/test.ts
  openapi-mock/src/server/mock.ts
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

enabled boot scripts and discarded useless scripts
  odata-mock/src/server/app.ts
  odata-mock/src/server/boot/authentication.ts
  odata-mock/src/server/boot/root.ts
  odata-mock/src/server/routes.ts
Due: varkes-odata-mock

enabled boot scripts and discarded useless scripts (#184)
  odata-mock/src/server/app.ts
  odata-mock/src/server/boot/authentication.ts
  odata-mock/src/server/boot/root.ts
  odata-mock/src/server/routes.ts
Due: varkes-odata-mock
