Repository kyma-incubator/varkes: changes, and which Prow jobs are due for each by the changed paths.
All: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

varkes-app-connector-client:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-odata-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-openapi-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

fix local and remote api problem
  cockpit/src/app/apitable/apitable.ts
Due: none

change spinner markup for api overview page
  cockpit/src/app/apiOverview/api.overview.ts
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/apiView/app.apiView.html
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/sendEventView/app.send.eventview.html
  cockpit/src/app/sendEventView/send.eventview.ts
  cockpit/src/app/specView/app.specview.html
  cockpit/src/app/specView/spec.view.ts
  cockpit/src/styles/fiori-fundamentals-overrides.scss
Due: none

improvements for api overview, batch registration button
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/styles/fiori-fundamentals-overrides.scss
Due: none

autocomplete for input, changes for registration buttons
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app.module.ts
  cockpit/src/app/sendEventView/app.send.eventview.html
  cockpit/src/app/sendEventView/send.eventview.ts
  cockpit/src/styles/fiori-fundamentals-overrides.scss
Due: none

remove old markup
  cockpit/src/app/sendEventView/app.send.eventview.html
Due: none

fix choosing event
  cockpit/src/app/sendEventView/send.eventview.ts
Due: none

decrease button size
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/styles/fiori-fundamentals-overrides.scss
Due: none

squash commits with right user
  app-connector-client/server/services.js
  cockpit/src/angular.html
  cockpit/src/app/apiOverview/api.overview.ts
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/apiView/api.view.ts
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app.component.ts
  cockpit/src/app/app.module.ts
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/app/createApi/app.createapiview.html
  cockpit/src/app/createApi/create.api.view.ts
  cockpit/src/app/service-instances/service-instances.service.ts
  cockpit/src/assets/luigiconfig.js
  cockpit/src/luigi-config/basic/basicConfiguration.js
  cockpit/src/main.ts
  cockpit/src/server/app.ts
Due: varkes-app-connector-client

squash commits with right user (#195)
  app-connector-client/server/services.js
  cockpit/src/angular.html
  cockpit/src/app/apiOverview/api.overview.ts
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/apiView/api.view.ts
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app.component.ts
  cockpit/src/app/app.module.ts
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/app/createApi/app.createapiview.html
  cockpit/src/app/createApi/create.api.view.ts
  cockpit/src/app/service-instances/service-instances.service.ts
  cockpit/src/assets/luigiconfig.js
  cockpit/src/luigi-config/basic/basicConfiguration.js
  cockpit/src/main.ts
  cockpit/src/server/app.ts
Due: varkes-app-connector-client

fix logo issue
  cockpit/src/app/apiView/api.view.ts
  cockpit/src/assets/luigiconfig.js
  cockpit/src/luigi-config/basic/basicConfiguration.js
  cockpit/src/main.ts
Due: none

v0.5.1
  app-connector-client/package.json
  cockpit/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

V0.5.1 (#196)
  app-connector-client/package.json
  cockpit/package.json
  cockpit/src/app/apiView/api.view.ts
  cockpit/src/assets/luigiconfig.js
  cockpit/src/luigi-config/basic/basicConfiguration.js
  cockpit/src/main.ts
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fixing old UI for to adapt to new routes
  app-connector-client/server/views/index.ejs
Due: varkes-app-connector-client

adding api view
  app-connector-client/server/app.js
  cockpit/angular.json
  cockpit/package-lock.json
  cockpit/package.json
  cockpit/src/assets/luigiconfig.js
Due: varkes-app-connector-client

adding apiView
  cockpit/angular.json
  cockpit/src/app/specView/spec.view.ts
  package-lock.json
Due: none

finishing up UI
  app-connector-client/server/app.js
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/app/specView/spec.view.ts
Due: varkes-app-connector-client

finishing UI
  app-connector-client/server/app.js
Due: varkes-app-connector-client

fixing app-connector tests
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

fixing connection refresh problem
  cockpit/src/app/connectionOverview/connection.overview.ts
Due: none

add connection to kyma to UI
  app-connector-client/server/routes/localApis.js
Due: varkes-app-connector-client

adding api view
  cockpit/angular.json
Due: none

adding apiView
  cockpit/angular.json
  cockpit/src/app/specView/spec.view.ts
Due: none

finishing up UI
  cockpit/package-lock.json
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/app/specView/spec.view.ts
Due: none

improved tests
  app-connector-client/test/expect/events1.json
  app-connector-client/test/test_integration.js
  app-connector-client/test/varkes_config.json
Due: varkes-app-connector-client

changing batch registeration to one method
  app-connector-client/server/routes/localApis.js
  app-connector-client/test/varkes_config.json
  cockpit/src/app/connectionOverview/connection.overview.ts
Due: varkes-app-connector-client

v0.4.0
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Enhance ui (#194)
  cockpit/angular.json
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/apiView/app.apiView.html
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app.module.ts
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/app/createApi/app.createapiview.html
  cockpit/src/app/sendEventView/app.send.eventview.html
  cockpit/src/app/sendEventView/send.eventview.ts
  cockpit/src/app/specView/app.specview.html
  cockpit/src/app/specView/spec.view.ts
  cockpit/src/styles.css
  cockpit/src/styles.scss
  cockpit/src/styles/fiori-fundamentals-overrides.scss
Due: none

fixing merging problems
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/sendEventView/send.eventview.ts
  cockpit/src/app/specView/app.specview.html
  cockpit/src/app/specView/spec.view.ts
  cockpit/src/assets/luigiconfig.js
Due: none

removing errors and bugs
  app-connector-client/server/routes/connector.js
  cockpit/angular.json
  cockpit/src/angular.html
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/sendEventView/send.eventview.ts
  cockpit/src/app/specView/spec.view.ts
  cockpit/src/main.ts
Due: varkes-app-connector-client

changing failure status for connection from to 404
  examples/combined-odata-mock/test.js
  examples/combined-openapi-mock/test.js
  examples/stress-mock/test.js
Due: none

remove console.err from connection
  cockpit/src/app/connectionOverview/connection.overview.ts
Due: none

fixing errors
  app-connector-client/server/app.js
  app-connector-client/server/routes/connector.js
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
Due: varkes-app-connector-client

Enhancing UI (#200)
  app-connector-client/package.json
  app-connector-client/server/routes/connector.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/expect/events1.json
  app-connector-client/test/varkes_config.json
  cockpit/angular.json
  cockpit/package.json
  cockpit/src/angular.html
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/apiView/app.apiView.html
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app.module.ts
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/app/createApi/app.createapiview.html
  cockpit/src/app/sendEventView/app.send.eventview.html
  cockpit/src/app/sendEventView/send.eventview.ts
  cockpit/src/app/specView/app.specview.html
  cockpit/src/app/specView/spec.view.ts
  cockpit/src/main.ts
  cockpit/src/styles.css
  cockpit/src/styles.scss
  cockpit/src/styles/fiori-fundamentals-overrides.scss
  examples/combined-odata-mock/package.json
  examples/combined-odata-mock/test.js
  examples/combined-openapi-mock/package.json
  examples/combined-openapi-mock/test.js
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  examples/stress-mock/test.js
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
  package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fixing styles
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/styles/fiori-fundamentals-overrides.scss
Due: none

fixing styles (#201)
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/styles/fiori-fundamentals-overrides.scss
Due: none

removed istio annotations as they are not required anymore
  app-connector-client/deployment/deployment.yaml
  examples/combined-odata-mock/deployment/deployment.yaml
  examples/combined-openapi-mock/deployment/deployment.yaml
  examples/kyma-mock/deployment/deployment.yaml
  examples/odata-mock/deployment/deployment.yaml
  examples/openapi-mock/deployment/deployment.yaml
  examples/stress-mock/deployment/deployment.yaml
  odata-mock/deployment/deployment.yaml
  openapi-mock/deployment/deployment.yaml
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

api.yaml adjustments
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/connector.js
Due: varkes-app-connector-client

api.yaml adjustments (#203)
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/connector.js
Due: varkes-app-connector-client

Path conditions:
  varkes-app-connector-client: any of: ^app-connector-client/
  varkes-odata-mock: any of: ^odata-mock/
  varkes-openapi-mock: any of: ^openapi-mock/
