Repository kyma-incubator/varkes: changes, and which Prow jobs are due for each by the changed paths.
All: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

varkes-app-connector-client:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-odata-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-openapi-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

added csrf setting, added flag to disable basepath regsitration
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/services.js
  app-connector-client/test/test_integration.js
  app-connector-client/test/varkes_config.json
Due: varkes-app-connector-client

fix
  app-connector-client/server/services.js
Due: varkes-app-connector-client

fixing connection refresh problem
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/assets/luigiconfig.js
  cockpit/src/luigi-config/basic/basicConfiguration.js
Due: none

added csrf setting, added flag to disable basepath regsitration (#185)
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/services.js
  app-connector-client/test/test_integration.js
  app-connector-client/test/varkes_config.json
Due: varkes-app-connector-client

adding hostname to body params
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

fixing old UI for to adapt to new routes
  app-connector-client/server/views/index.ejs
Due: varkes-app-connector-client

fix tests
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

finishing up UI
  app-connector-client/server/app.js
  app-connector-client/server/routes/localApis.js
  cockpit/angular.json
  cockpit/package-lock.json
  cockpit/package.json
  cockpit/src/app/apiOverview/api.overview.ts
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/apiView/api.view.ts
  cockpit/src/app/apiView/app.apiView.html
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app-routing.module.ts
  cockpit/src/app/app.module.ts
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/app/sendEventView/app.send.eventview.html
  cockpit/src/app/sendEventView/send.eventview.ts
  cockpit/src/app/specView/app.specview.html
  cockpit/src/app/specView/spec.view.ts
Due: varkes-app-connector-client

adding api view
  app-connector-client/server/app.js
  cockpit/angular.json
  cockpit/package-lock.json
  cockpit/package.json
  cockpit/src/angular.html
  cockpit/src/app/apiOverview/api.overview.ts
  cockpit/src/app/apiView/api.view.ts
  cockpit/src/app/apiView/app.apiView.html
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app-routing.module.ts
  cockpit/src/app/app.module.ts
  cockpit/src/app/specView/app.specview.html
  cockpit/src/app/specView/spec.view.ts
  cockpit/src/assets/luigiconfig.js
  cockpit/src/luigi-config/basic/basicConfiguration.js
Due: varkes-app-connector-client

adding apiView
  app-connector-client/package.json
  app-connector-client/server/routes/localApis.js
  cockpit/angular.json
  cockpit/package-lock.json
  cockpit/package.json
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/apiView/api.view.ts
  cockpit/src/app/apiView/app.apiView.html
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app.module.ts
  cockpit/src/app/specView/app.specview.html
  cockpit/src/app/specView/spec.view.ts
  package-lock.json
Due: varkes-app-connector-client

add connection to kyma to UI
  app-connector-client/server/app.js
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/services.js
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app.component.html
  cockpit/src/app/app.component.ts
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/server/server.ts
Due: varkes-app-connector-client

finishing UI
  app-connector-client/server/app.js
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/services.js
  cockpit/src/app/apiOverview/api.overview.ts
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/apiView/api.view.ts
  cockpit/src/app/apiView/app.apiView.html
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app-routing.module.ts
  cockpit/src/app/app.module.ts
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/app/createApi/app.createapiview.html
  cockpit/src/app/createApi/create.api.view.ts
  cockpit/src/app/sendEventView/app.send.eventview.html
  cockpit/src/app/sendEventView/send.eventview.ts
Due: varkes-app-connector-client

fixing app-connector tests
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

test fix
  app-connector-client/test/expect/courses.json
  app-connector-client/test/expect/events1.json
  app-connector-client/test/expect/events2.json
  app-connector-client/test/expect/northwind.json
  app-connector-client/test/expect/schools.json
Due: varkes-app-connector-client

improved tests
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/routes/remoteApis.js
  app-connector-client/server/services.js
  app-connector-client/test/events1.json
  app-connector-client/test/events2.yaml
  app-connector-client/test/expect/courses.json
  app-connector-client/test/expect/events1.json
  app-connector-client/test/expect/events2.json
  app-connector-client/test/expect/northwind.json
  app-connector-client/test/expect/schools.json
  app-connector-client/test/northwind.xml
  app-connector-client/test/test_integration.js
  app-connector-client/test/varkes_config.json
  examples/kyma-mock/app.js
Due: varkes-app-connector-client

added clean up script and updated to newest versions
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

using absolute logo urls for npm packages
  app-connector-client/README.md
  odata-mock/README.md
  openapi-mock/README.md
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

dummy push
  Release.md
Due: none

v0.4.0
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

V0.4.0 (#187)
  .gitignore
  README.md
  app-connector-client/README.md
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/routes/mockapis.js
  app-connector-client/server/routes/remoteApis.js
  app-connector-client/server/server.js
  app-connector-client/server/services.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/test_integration.js
  app-connector-client/test/varkes_config.json
  examples/combined-odata-mock/package.json
  examples/combined-odata-mock/varkes_config.json
  examples/combined-openapi-mock/package.json
  examples/combined-openapi-mock/varkes_config.json
  examples/kyma-mock/app.js
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/README.md
  odata-mock/package.json
  odata-mock/src/server/app.ts
  odata-mock/src/server/boot/authentication.ts
  odata-mock/src/server/boot/root.ts
  odata-mock/src/server/odata-server.ts
  odata-mock/src/server/parser.ts
  odata-mock/src/server/resources/boot_config_template.json
  odata-mock/src/server/resources/favicon.ico
  odata-mock/src/server/routes.ts
  odata-mock/src/test/test.ts
  openapi-mock/README.md
  openapi-mock/package.json
  openapi-mock/src/server/mock.ts
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

add course.yaml
  openapi-mock/src/test/courses.yaml
  openapi-mock/src/test/courses.yaml~HEAD
Due: varkes-openapi-mock

Release (#188)
  Release.md
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

changing batch registeration to one method
  app-connector-client/server/app.js
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/services.js
  app-connector-client/test/varkes_config.json
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
Due: varkes-app-connector-client

updating api.yaml
  app-connector-client/server/resources/api.yaml
Due: varkes-app-connector-client

fix single register for events
  app-connector-client/server/routes/localApis.js
Due: varkes-app-connector-client

restyling according to fiori fundamentals
  cockpit/angular.json
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/apiView/app.apiView.html
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/app/createApi/app.createapiview.html
  cockpit/src/app/sendEventView/app.send.eventview.html
  cockpit/src/app/specView/app.specview.html
  cockpit/src/styles.css
  cockpit/src/styles.scss
  cockpit/src/styles/fiori-fundamentals-overrides.scss
Due: none

add connection to kyma to UI
  app-connector-client/server/app.js
  app-connector-client/server/services.js
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app.component.html
  cockpit/src/app/app.component.ts
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/server/server.ts
Due: varkes-app-connector-client

Path conditions:
  varkes-app-connector-client: any of: ^app-connector-client/
  varkes-odata-mock: any of: ^odata-mock/
  varkes-openapi-mock: any of: ^openapi-mock/
