Repository kyma-incubator/varkes: changes, and which Prow jobs are due for each by the changed paths.
All: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

varkes-app-connector-client:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-odata-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-openapi-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

minor improvement v4
  README.md
Due: none

improvements in examples
  README.md
Due: none

typo fix
  README.md
Due: none

Improvements after review
  app-connector-client/README.md
  odata-mock/README.md
  openapi-mock/README.md
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

improvements after review
  app-connector-client/README.md
  odata-mock/README.md
  openapi-mock/README.md
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Documentation update for varkes (#113)
  README.md
  app-connector-client/README.md
  assets/mocks-architecture.svg
  odata-mock/README.md
  openapi-mock/README.md
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

make project vendor neutral
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/events1.json
  app-connector-client/test/events2.yaml
  examples/combined-odata-mock/apis/events.json
  examples/combined-openapi-mock/apis/events.json
  examples/stress-mock/apis/events.json
Due: varkes-app-connector-client

bla
  app-connector-client/server/routes/services.js
  app-connector-client/test/varkes_config.json
Due: varkes-app-connector-client

bla
  app-connector-client/server/routes/services.js
  examples/combined-openapi-mock/apis/events.json
  examples/combined-openapi-mock/varkes_config.json
Due: varkes-app-connector-client

bla
  app-connector-client/server/routes/events.js
  examples/combined-openapi-mock/apis/events.json
  examples/combined-openapi-mock/apis/schools.yaml
  examples/combined-openapi-mock/varkes_config.json
Due: varkes-app-connector-client

Configurable API provider (#158)
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/events1.json
  app-connector-client/test/events2.yaml
  app-connector-client/test/varkes_config.json
  examples/combined-odata-mock/apis/events.json
  examples/combined-openapi-mock/apis/events.json
  examples/combined-openapi-mock/apis/schools.yaml
  examples/combined-openapi-mock/varkes_config.json
  examples/stress-mock/apis/events.json
Due: varkes-app-connector-client

fixed docker images in readmes of examples
  examples/combined-odata-mock/README.md
  examples/combined-odata-mock/deployment/deployment.yaml
  examples/combined-openapi-mock/README.md
  examples/combined-openapi-mock/deployment/deployment.yaml
  examples/kyma-mock/README.md
  examples/kyma-mock/deployment/deployment.yaml
  examples/odata-mock/README.md
  examples/odata-mock/deployment/deployment.yaml
  examples/openapi-mock/README.md
  examples/openapi-mock/deployment/deployment.yaml
  examples/stress-mock/README.md
  examples/stress-mock/deployment/deployment.yaml
Due: none

update makefiles
  Makefile
  app-connector-client/Makefile
  examples/combined-odata-mock/Makefile
  examples/combined-openapi-mock/Makefile
  examples/kyma-mock/Makefile
  examples/openapi-mock/Makefile
  openapi-mock/Makefile
Due: varkes-app-connector-client, varkes-openapi-mock

v0.1.1
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

unified makefiles
  examples/combined-odata-mock/Makefile
  examples/combined-openapi-mock/Makefile
  examples/kyma-mock/Makefile
  examples/odata-mock/Makefile
  examples/openapi-mock/Makefile
  examples/stress-mock/Makefile
  odata-mock/Makefile
  openapi-mock/Makefile
Due: varkes-odata-mock, varkes-openapi-mock

updated docker image references to latest version
  examples/combined-odata-mock/README.md
  examples/combined-odata-mock/deployment/deployment.yaml
  examples/combined-openapi-mock/README.md
  examples/combined-openapi-mock/deployment/deployment.yaml
  examples/kyma-mock/README.md
  examples/kyma-mock/deployment/deployment.yaml
  examples/odata-mock/README.md
  examples/odata-mock/deployment/deployment.yaml
  examples/openapi-mock/README.md
  examples/openapi-mock/deployment/deployment.yaml
  examples/stress-mock/README.md
  examples/stress-mock/deployment/deployment.yaml
Due: none

fixing tests
  odata-mock/src/test/varkes_config.json
  openapi-mock/test/varkes_config.json
Due: varkes-odata-mock, varkes-openapi-mock

adding basic and none authentication types to the apis
  app-connector-client/server/routes/services.js
  app-connector-client/test/varkes_config.json
  examples/combined-odata-mock/varkes_config.json
  examples/combined-openapi-mock/varkes_config.json
  examples/kyma-mock/varkes_config.json
  examples/odata-mock/varkes_config.json
  examples/openapi-mock/varkes_config.json
  examples/stress-mock/app.js
  odata-mock/src/test/varkes_config.json
  openapi-mock/test/varkes_config.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

adding validation for api authtype
  app-connector-client/server/config.js
Due: varkes-app-connector-client

change authtype to auth
  app-connector-client/server/config.js
  app-connector-client/server/routes/services.js
  app-connector-client/test/varkes_config.json
Due: varkes-app-connector-client

fix filepaths
  app-connector-client/server/app.js
  app-connector-client/server/config.js
  app-connector-client/test/varkes_config.json
  examples/stress-mock/app.js
  odata-mock/package.json
  odata-mock/src/server/app.ts
  odata-mock/src/server/config.ts
  openapi-mock/server/app.js
  openapi-mock/server/config.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

removing all authtype
  app-connector-client/server/config.js
  examples/combined-odata-mock/varkes_config.json
  examples/combined-openapi-mock/varkes_config.json
  examples/kyma-mock/varkes_config.json
  examples/odata-mock/varkes_config.json
  examples/openapi-mock/varkes_config.json
  examples/stress-mock/app.js
  odata-mock/src/test/varkes_config.json
  openapi-mock/test/varkes_config.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

remove unwanted spaces
  app-connector-client/server/config.js
Due: varkes-app-connector-client

adding basic and none authentication types to the apis (#157)
  app-connector-client/server/config.js
  app-connector-client/server/routes/services.js
  app-connector-client/test/varkes_config.json
  examples/combined-odata-mock/varkes_config.json
  examples/combined-openapi-mock/varkes_config.json
  examples/kyma-mock/varkes_config.json
  examples/odata-mock/varkes_config.json
  examples/openapi-mock/varkes_config.json
  examples/stress-mock/app.js
  odata-mock/src/test/varkes_config.json
  openapi-mock/test/varkes_config.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fixed npm badges and logo size fix
  README.md
  app-connector-client/README.md
  examples/combined-odata-mock/README.md
  examples/combined-openapi-mock/README.md
  examples/kyma-mock/README.md
  examples/odata-mock/README.md
  examples/openapi-mock/README.md
  examples/stress-mock/README.md
  odata-mock/README.md
  openapi-mock/README.md
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fixed npm badges and logo size fix (#165)
  README.md
  app-connector-client/README.md
  examples/combined-odata-mock/README.md
  examples/combined-openapi-mock/README.md
  examples/kyma-mock/README.md
  examples/odata-mock/README.md
  examples/openapi-mock/README.md
  examples/stress-mock/README.md
  odata-mock/README.md
  openapi-mock/README.md
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

add init functions
  Makefile
  app-connector-client/server/app.js
  app-connector-client/test/test_integration.js
  examples/combined-odata-mock/app.js
  examples/combined-openapi-mock/app.js
  examples/kyma-mock/app.js
  examples/openapi-mock/app.js
  examples/stress-mock/app.js
  odata-mock/package.json
  openapi-mock/server/app.js
  openapi-mock/server/config.js
  openapi-mock/test/test.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fix filepaths (#160)
  Makefile
  app-connector-client/server/app.js
  app-connector-client/server/config.js
  app-connector-client/test/test_integration.js
  app-connector-client/test/varkes_config.json
  examples/combined-odata-mock/app.js
  examples/combined-openapi-mock/app.js
  examples/kyma-mock/app.js
  examples/openapi-mock/app.js
  examples/stress-mock/app.js
  odata-mock/package.json
  odata-mock/src/server/app.ts
  odata-mock/src/server/config.ts
  openapi-mock/server/app.js
  openapi-mock/server/config.js
  openapi-mock/test/test.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Fix server files and add dockerignores
  app-connector-client/package.json
  app-connector-client/server/server.js
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/.dockerignore
  examples/kyma-mock/package.json
  examples/odata-mock/.dockerignore
  examples/odata-mock/package.json
  examples/openapi-mock/.dockerignore
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  odata-mock/package.json
  openapi-mock/server/server.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

bump version to 0.2.1
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

file path fixes
  app-connector-client/package.json
  app-connector-client/server/config.js
  app-connector-client/server/routes/services.js
  app-connector-client/server/server.js
  odata-mock/src/server/config.ts
  openapi-mock/server/config.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fixes
  app-connector-client/server/app.js
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

Fixes file pathes for config file (#167)
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/config.js
  app-connector-client/server/routes/services.js
  app-connector-client/server/server.js
  app-connector-client/test/test_integration.js
  odata-mock/src/server/config.ts
  openapi-mock/server/config.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

feedback
  app-connector-client/server/connection.js
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

introduced central connection management and removed redundant config.json
  app-connector-client/server/app.js
  app-connector-client/server/config.json
  app-connector-client/server/connection.js
  app-connector-client/server/keys.js
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/test_integration.js
  app-connector-client/tools/cli.js
Due: varkes-app-connector-client

blub
  app-connector-client/server/app.js
  app-connector-client/server/config.js
  app-connector-client/server/connection.js
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
  app-connector-client/server/server.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/test-api.json
  app-connector-client/test/test_integration.js
  app-connector-client/test/varkes_config.json
Due: varkes-app-connector-client

bump version to 0.2.2
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Refactor localKyma param and refactor connection handling (#168)
  app-connector-client/server/app.js
  app-connector-client/server/config.js
  app-connector-client/server/config.json
  app-connector-client/server/connection.js
  app-connector-client/server/keys.js
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
  app-connector-client/server/server.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/test-api.json
  app-connector-client/test/test_integration.js
  app-connector-client/test/varkes_config.json
  app-connector-client/tools/cli.js
Due: varkes-app-connector-client

adjusted connector to new pairing flow
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/views/index.ejs
Due: varkes-app-connector-client

formatting
  app-connector-client/server/app.js
  app-connector-client/server/connection.js
  app-connector-client/server/routes/apis.js
Due: varkes-app-connector-client

Path conditions:
  varkes-app-connector-client: any of: ^app-connector-client/
  varkes-odata-mock: any of: ^odata-mock/
  varkes-openapi-mock: any of: ^openapi-mock/
