Repository kyma-incubator/varkes: changes, and which Prow jobs are due for each by the changed paths.
All: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Path conditions:
  varkes-app-connector-client: any of: ^app-connector-client/
  varkes-odata-mock: any of: ^odata-mock/
  varkes-openapi-mock: any of: ^openapi-mock/

enable tests
  app-connector-client/server/server.js
Due: varkes-app-connector-client

fixing metadata endpoint
  app-connector-client/package.json
  app-connector-client/server/routes/services.js
  odata-mock/package.json
  odata-mock/server/server.js
  openapi-mock/package.json
  openapi-mock/server/mock_controller.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

test fix
  openapi-mock/test/test.js
Due: varkes-openapi-mock

adjusted examples to latest version
  examples/combined-odata-mock/apis/events.json
  examples/combined-odata-mock/package.json
  examples/combined-odata-mock/test.js
  examples/combined-openapi-mock/apis/events.json
  examples/combined-openapi-mock/package.json
  examples/combined-openapi-mock/test.js
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
Due: none

adjusted examples
  examples/combined-odata-mock/test.js
  examples/combined-openapi-mock/package.json
Due: none

fixing the openapi spec upload
  app-connector-client/package.json
  app-connector-client/server/routes/services.js
Due: varkes-app-connector-client

removed persistence for odata, fixed metadata exposure
  odata-mock/package-lock.json
  odata-mock/package.json
  odata-mock/server/app.js
  odata-mock/server/parser.js
  odata-mock/test/data.json
  odata-mock/test/test.js
  odata-mock/test/varkes_config.json
  openapi-mock/package-lock.json
  openapi-mock/package.json
  openapi-mock/server/app.js
  openapi-mock/server/mock_controller.js
  openapi-mock/server/resources/console_template.html
  openapi-mock/test/test.js
Due: varkes-odata-mock, varkes-openapi-mock

updating token and package versions
  app-connector-client/.npmrc
  app-connector-client/package.json
  odata-mock/.npmrc
  odata-mock/package.json
  openapi-mock/.npmrc
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

update package versions
  app-connector-client/.npmrc
  odata-mock/.npmrc
  openapi-mock/.npmrc
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

updated to newest version
  examples/combined-odata-mock/data.json
  examples/combined-odata-mock/package-lock.json
  examples/combined-odata-mock/package.json
  examples/combined-odata-mock/test.js
  examples/combined-odata-mock/varkes_config.json
  examples/combined-openapi-mock/package-lock.json
  examples/combined-openapi-mock/package.json
  examples/combined-openapi-mock/test.js
  examples/odata-mock/data.json
  examples/odata-mock/package.json
  examples/odata-mock/varkes_config.json
  examples/openapi-mock/package-lock.json
  examples/openapi-mock/package.json
Due: none

fixed tests for odata-mock
  examples/odata-mock/package-lock.json
  examples/odata-mock/test.js
Due: none

introduced openapi3 support by transformation to swagger2 always
  openapi-mock/package-lock.json
  openapi-mock/package.json
  openapi-mock/server/app.js
  openapi-mock/server/mock.js
  openapi-mock/server/mock_controller.js
  openapi-mock/server/utility.js
  openapi-mock/test/courses.yaml
  openapi-mock/test/pets_openapi.json
  openapi-mock/test/pets_openapi.yaml
  openapi-mock/test/pets_swagger.json
  openapi-mock/test/pets_swagger.yaml
  openapi-mock/test/test.js
  openapi-mock/test/varkes_config.json
Due: varkes-openapi-mock

cleanup dependencies and tests
  app-connector-client/package-lock.json
  app-connector-client/test/test.js
  examples/combined-odata-mock/test.js
  examples/combined-openapi-mock/apis/courses.yaml
  examples/combined-openapi-mock/apis/schools.yaml
  examples/combined-openapi-mock/package-lock.json
  examples/combined-openapi-mock/package.json
  examples/combined-openapi-mock/test.js
  examples/odata-mock/package.json
  examples/odata-mock/test.js
  examples/openapi-mock/apis/courses.yaml
  examples/openapi-mock/package-lock.json
  examples/openapi-mock/package.json
  examples/openapi-mock/test.js
  odata-mock/package-lock.json
  odata-mock/package.json
  openapi-mock/package-lock.json
  openapi-mock/package.json
  openapi-mock/test/courses.yaml
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Update README.md
  app-connector-client/README.md
Due: varkes-app-connector-client

unified docker files with only prod packages
  app-connector-client/Dockerfile
  examples/combined-odata-mock/Dockerfile
  examples/combined-openapi-mock/Dockerfile
  examples/odata-mock/Dockerfile
  examples/openapi-mock/Dockerfile
  odata-mock/Dockerfile
  openapi-mock/Dockerfile
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

delete all
  examples/openapi-mock/varkes_config.json
  odata-mock/server/server.js
Due: varkes-odata-mock

updating odata module version
  examples/combined-odata-mock/package.json
  examples/odata-mock/package.json
  odata-mock/package.json
Due: varkes-odata-mock

fix issue with $metadata endpoint
  odata-mock/server/boot_config.json
Due: varkes-odata-mock

adding a generalized edmx file
  examples/combined-odata-mock/apis/courses.xml
  examples/combined-odata-mock/apis/services.xml
  examples/combined-odata-mock/varkes_config.json
  examples/odata-mock/apis/courses.xml
  examples/odata-mock/apis/services.xml
  examples/odata-mock/varkes_config.json
  odata-mock/test/courses.xml
  odata-mock/test/services.xml
  odata-mock/test/varkes_config.json
Due: varkes-odata-mock

fixing tests for odata
  examples/combined-odata-mock/package.json
  examples/combined-odata-mock/test.js
  examples/odata-mock/README.md
  examples/odata-mock/package.json
  examples/odata-mock/test.js
  odata-mock/README.md
  odata-mock/test/test.js
Due: varkes-odata-mock

improved edm type conversion
  examples/combined-odata-mock/apis/services.xml
  examples/odata-mock/apis/services.xml
  odata-mock/package-lock.json
  odata-mock/package.json
  odata-mock/server/parser.js
  odata-mock/server/resources/modelTemplate.json
  odata-mock/test/services.xml
Due: varkes-odata-mock

updated dependencies
  odata-mock/package-lock.json
  odata-mock/package.json
Due: varkes-odata-mock

Fixing Odata issues (#118)
  examples/combined-odata-mock/apis/courses.xml
  examples/combined-odata-mock/apis/services.xml
  examples/combined-odata-mock/package.json
  examples/combined-odata-mock/test.js
  examples/combined-odata-mock/varkes_config.json
  examples/odata-mock/README.md
  examples/odata-mock/apis/courses.xml
  examples/odata-mock/apis/services.xml
  examples/odata-mock/package.json
  examples/odata-mock/test.js
  examples/odata-mock/varkes_config.json
  odata-mock/README.md
  odata-mock/package-lock.json
  odata-mock/package.json
  odata-mock/server/boot_config.json
  odata-mock/server/parser.js
  odata-mock/server/resources/modelTemplate.json
  odata-mock/test/courses.xml
  odata-mock/test/services.xml
  odata-mock/test/test.js
  odata-mock/test/varkes_config.json
Due: varkes-odata-mock

updated versions
  examples/combined-odata-mock/package-lock.json
  examples/combined-odata-mock/package.json
  examples/odata-mock/package-lock.json
  examples/odata-mock/package.json
Due: none

updated dependencies
  app-connector-client/package-lock.json
  odata-mock/package-lock.json
  openapi-mock/package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fixing the event auto example
  app-connector-client/package.json
  app-connector-client/server/views/index.ejs
  app-connector-client/test/events1.json
  app-connector-client/test/events2.yaml
  examples/combined-odata-mock/apis/events.json
  examples/combined-openapi-mock/apis/events.json
  examples/combined-openapi-mock/package-lock.json
  examples/combined-openapi-mock/package.json
Due: varkes-app-connector-client

fixing the event auto example (#122)
  app-connector-client/package.json
  app-connector-client/server/views/index.ejs
  app-connector-client/test/events1.json
  app-connector-client/test/events2.yaml
  examples/combined-odata-mock/apis/events.json
  examples/combined-openapi-mock/apis/events.json
  examples/combined-openapi-mock/package-lock.json
  examples/combined-openapi-mock/package.json
Due: varkes-app-connector-client

rework test & update package-lock.json
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/test/test.js
Due: varkes-app-connector-client

pin all base images to v11 (#103)
  app-connector-client/Dockerfile
  examples/combined-odata-mock/Dockerfile
  examples/combined-openapi-mock/Dockerfile
  examples/odata-mock/Dockerfile
  examples/openapi-mock/Dockerfile
  odata-mock/Dockerfile
  openapi-mock/Dockerfile
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

replace finally with then
  app-connector-client/test/test.js
  examples/combined-odata-mock/package-lock.json
  examples/combined-odata-mock/test.js
  examples/combined-openapi-mock/test.js
  examples/odata-mock/package-lock.json
  examples/odata-mock/package.json
  examples/odata-mock/test.js
  examples/openapi-mock/test.js
  odata-mock/package-lock.json
  odata-mock/test/test.js
  openapi-mock/package-lock.json
  openapi-mock/test/test.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

remove wildcards
  odata-mock/package-lock.json
  odata-mock/package.json
Due: varkes-odata-mock

make version 1.0
  app-connector-client/server/resources/api.yaml
Due: varkes-app-connector-client

add missing endpoints to openapi spec
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/connector.js
Due: varkes-app-connector-client

remove prow
  prow/.dockerignore
  prow/Dockerfile
  prow/config.yaml
  prow/test.sh
Due: none

add badges to all
  odata-mock/README.md
  openapi-mock/README.md
Due: varkes-odata-mock, varkes-openapi-mock

No prow dir (#125)
  odata-mock/README.md
  openapi-mock/README.md
  prow/.dockerignore
  prow/Dockerfile
  prow/config.yaml
  prow/test.sh
Due: varkes-odata-mock, varkes-openapi-mock

change config to a json file
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/app-connector-config.json
  app-connector-client/server/app.js
  app-connector-client/server/config.js
  app-connector-client/server/keys.js
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
Due: varkes-app-connector-client

creaate examples on the server side
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/routes/events.js
  app-connector-client/server/views/index.ejs
  odata-mock/package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock

update versions
  examples/combined-odata-mock/package-lock.json
  examples/combined-odata-mock/package.json
  examples/odata-mock/package-lock.json
  examples/odata-mock/package.json
  odata-mock/package-lock.json
  odata-mock/package.json
Due: varkes-odata-mock
