Repository kyma-incubator/varkes: changes, and which Prow jobs are due for each by the changed paths.
All: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

varkes-app-connector-client:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-odata-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-openapi-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

update make files to delete the generated folder when cleaning
  examples/combined-openapi-mock/Makefile
  examples/openapi-mock/Makefile
  openapi-mock/Makefile
Due: varkes-openapi-mock

keeping the format check for the metadata and oauth endpoints
  openapi-mock/server/app.js
Due: varkes-openapi-mock

and the "generated" folder to the gitignore
  .gitignore
Due: none

adding all the logic of creating an endpoint in createEndpoints
  openapi-mock/server/mock_controller.js
Due: varkes-openapi-mock

rebase master
  app-connector-client/server/app.js
  app-connector-client/server/connector.js
  app-connector-client/server/events.js
  app-connector-client/server/services.js
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

move subroutes to dedicated routes folder
  app-connector-client/server/app.js
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
Due: varkes-app-connector-client

update description and title of openapi files
  app-connector-client/test/courses.yaml
  app-connector-client/test/schools.yaml
  examples/combined-openapi-mock/apis/courses.yaml
  examples/combined-openapi-mock/apis/schools.yaml
  openapi-mock/test/courses.yaml
Due: varkes-app-connector-client, varkes-openapi-mock

add comment
  app-connector-client/server/app.js
Due: varkes-app-connector-client

solve merge conflict with master
  app-connector-client/server/app.js
Due: varkes-app-connector-client

Overwrite file issue (#100)
  .gitignore
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/test/courses.yaml
  app-connector-client/test/schools.yaml
  examples/combined-openapi-mock/Makefile
  examples/combined-openapi-mock/apis/courses.yaml
  examples/combined-openapi-mock/apis/schools.yaml
  examples/combined-openapi-mock/package-lock.json
  examples/combined-openapi-mock/package.json
  examples/combined-openapi-mock/varkes_config.js
  examples/openapi-mock/Makefile
  examples/openapi-mock/apis/courses.yaml
  openapi-mock/Makefile
  openapi-mock/package.json
  openapi-mock/server/app.js
  openapi-mock/server/mock_controller.js
  openapi-mock/server/resources/OAuth_template.yaml
  openapi-mock/test/courses.yaml
  openapi-mock/test/pets.yaml
Due: varkes-app-connector-client, varkes-openapi-mock

move static files to static folder
  app-connector-client/server/app.js
  app-connector-client/server/views/static/css/img/jsoneditor-icons.svg
  app-connector-client/server/views/static/css/jsoneditor.min.css
  app-connector-client/server/views/static/js/json.editor.min.js
Due: varkes-app-connector-client

fixing new app-connector-client dependencies
  app-connector-client/server/app.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
  app-connector-client/test/varkes_config.js
Due: varkes-app-connector-client

Issue #97: creating smart auto-register
  app-connector-client/server/app.js
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
Due: varkes-app-connector-client

add ejs to deps
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/views/index.ejs
Due: varkes-app-connector-client

render app name in title and navbar
  app-connector-client/server/app.js
  app-connector-client/server/views/index.ejs
Due: varkes-app-connector-client

Render app title in homepage
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/views/index.ejs
  app-connector-client/server/views/static/css/img/jsoneditor-icons.svg
  app-connector-client/server/views/static/css/jsoneditor.min.css
  app-connector-client/server/views/static/js/json.editor.min.js
Due: varkes-app-connector-client

intro to typescript
  app-connector-client/.gitignore
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/app.ts
  app-connector-client/server/config.js
  app-connector-client/server/config.ts
  app-connector-client/server/keys.js
  app-connector-client/server/keys.ts
  app-connector-client/server/logger.js
  app-connector-client/server/logger.ts
  app-connector-client/server/routes/apis.ts
  app-connector-client/server/routes/connector.ts
  app-connector-client/server/routes/events.ts
  app-connector-client/server/routes/services.ts
  app-connector-client/server/server.js
  app-connector-client/server/server.ts
  app-connector-client/test/test.ts
  app-connector-client/test/test_integration.ts
  app-connector-client/test/varkes_config.js
  app-connector-client/test/varkes_config.json
  app-connector-client/tsconfig.json
Due: varkes-app-connector-client

add istanbul to code coverage
  app-connector-client/.gitignore
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/app.ts
Due: varkes-app-connector-client

base all image to alpine-11
  app-connector-client/Dockerfile
  examples/combined-odata-mock/Dockerfile
  examples/combined-openapi-mock/Dockerfile
  examples/odata-mock/Dockerfile
  examples/openapi-mock/Dockerfile
  odata-mock/Dockerfile
  openapi-mock/Dockerfile
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fixed validation rules
  app-connector-client/server/app.js
  odata-mock/server/app.js
  odata-mock/server/boot/routes.js
  odata-mock/server/server.js
  odata-mock/test/varkes_config.js
  openapi-mock/package-lock.json
  openapi-mock/package.json
  openapi-mock/server/app.js
  openapi-mock/test/varkes_config.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fixed validation rules (#108)
  app-connector-client/server/app.js
  odata-mock/server/app.js
  odata-mock/server/boot/routes.js
  odata-mock/server/server.js
  odata-mock/test/varkes_config.js
  openapi-mock/package-lock.json
  openapi-mock/package.json
  openapi-mock/server/app.js
  openapi-mock/test/varkes_config.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

add the requirement of the connector module with all the above
  app-connector-client/server/app.js
Due: varkes-app-connector-client

call the getAllAPI from the connector
  app-connector-client/server/routes/connector.js
Due: varkes-app-connector-client

remove unnecessary try and catch
  app-connector-client/server/routes/events.js
Due: varkes-app-connector-client

-export getAllAPI - remove global registeredApis
  app-connector-client/server/routes/services.js
Due: varkes-app-connector-client

Issue #107: making the varkes_config regular json file
  app-connector-client/server/server.js
  app-connector-client/test/test.js
  app-connector-client/test/test_integration.js
  app-connector-client/test/varkes_config.js
  app-connector-client/test/varkes_config.json
  examples/combined-odata-mock/app.js
  examples/combined-odata-mock/varkes_config.js
  examples/combined-odata-mock/varkes_config.json
  examples/combined-openapi-mock/app.js
  examples/combined-openapi-mock/varkes_config.js
  examples/combined-openapi-mock/varkes_config.json
  examples/odata-mock/app.js
  examples/odata-mock/varkes_config.js
  examples/odata-mock/varkes_config.json
  examples/openapi-mock/app.js
  examples/openapi-mock/varkes_config.js
  examples/openapi-mock/varkes_config.json
  odata-mock/package-lock.json
  odata-mock/server/server.js
  odata-mock/test/test.js
  odata-mock/test/varkes_config.js
  odata-mock/test/varkes_config.json
  openapi-mock/server/server.js
  openapi-mock/test/test.js
  openapi-mock/test/varkes_config.js
  openapi-mock/test/varkes_config.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fix regex issue with config file
  app-connector-client/test/varkes_config.json
Due: varkes-app-connector-client

fixing new app-connector-client dependencies (#104)
  app-connector-client/server/app.js
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
  app-connector-client/server/server.js
  app-connector-client/test/test.js
  app-connector-client/test/test_integration.js
  app-connector-client/test/varkes_config.js
  app-connector-client/test/varkes_config.json
  examples/combined-odata-mock/app.js
  examples/combined-odata-mock/varkes_config.js
  examples/combined-odata-mock/varkes_config.json
  examples/combined-openapi-mock/app.js
  examples/combined-openapi-mock/varkes_config.js
  examples/combined-openapi-mock/varkes_config.json
  examples/odata-mock/app.js
  examples/odata-mock/varkes_config.js
  examples/odata-mock/varkes_config.json
  examples/openapi-mock/app.js
  examples/openapi-mock/varkes_config.js
  examples/openapi-mock/varkes_config.json
  odata-mock/package-lock.json
  odata-mock/server/server.js
  odata-mock/test/test.js
  odata-mock/test/varkes_config.js
  odata-mock/test/varkes_config.json
  openapi-mock/server/server.js
  openapi-mock/test/test.js
  openapi-mock/test/varkes_config.js
  openapi-mock/test/varkes_config.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

-creating kyma-mock examle - overwriting baseurl when specified
  examples/kyma-mock/Dockerfile
  examples/kyma-mock/Makefile
  examples/kyma-mock/README.md
  examples/kyma-mock/apis/kyma.yaml
  examples/kyma-mock/app.js
  examples/kyma-mock/deployment/deployment.yaml
  examples/kyma-mock/package-lock.json
  examples/kyma-mock/package.json
  examples/kyma-mock/test.js
  examples/kyma-mock/varkes_config.json
  odata-mock/test/courses_test.xml
  openapi-mock/server/mock_controller.js
Due: varkes-odata-mock, varkes-openapi-mock

updating package versions and npm token
  app-connector-client/.npmrc
  app-connector-client/package.json
  odata-mock/.npmrc
  odata-mock/package.json
  openapi-mock/.npmrc
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Update package.json
  app-connector-client/package.json
Due: varkes-app-connector-client

Update package.json
  odata-mock/package.json
Due: varkes-odata-mock

Update package.json
  openapi-mock/package.json
Due: varkes-openapi-mock

updating package versions and npm token (#111)
  app-connector-client/.npmrc
  app-connector-client/package.json
  odata-mock/.npmrc
  odata-mock/package.json
  openapi-mock/.npmrc
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

renamed "specification_file", made oauth endpoint optional, support more characters for name
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
  app-connector-client/test/varkes_config.json
  odata-mock/README.md
  odata-mock/package.json
  odata-mock/server/app.js
  odata-mock/server/boot/routes.js
  odata-mock/test/varkes_config.json
  openapi-mock/README.md
  openapi-mock/package.json
  openapi-mock/server/app.js
  openapi-mock/server/mock_controller.js
  openapi-mock/test/test.js
  openapi-mock/test/varkes_config.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

renamed "specification_file", made oauth endpoint optional, support more characters for name (#112)
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
  app-connector-client/test/varkes_config.json
  odata-mock/README.md
  odata-mock/package.json
  odata-mock/server/app.js
  odata-mock/server/boot/routes.js
  odata-mock/test/varkes_config.json
  openapi-mock/README.md
  openapi-mock/package.json
  openapi-mock/server/app.js
  openapi-mock/server/mock_controller.js
  openapi-mock/test/test.js
  openapi-mock/test/varkes_config.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fixing log message
  openapi-mock/package.json
  openapi-mock/server/mock_controller.js
Due: varkes-openapi-mock

updated examples to new config style
  examples/combined-odata-mock/package-lock.json
  examples/combined-odata-mock/package.json
  examples/combined-odata-mock/varkes_config.json
  examples/combined-openapi-mock/package-lock.json
  examples/combined-openapi-mock/package.json
  examples/combined-openapi-mock/varkes_config.json
  examples/odata-mock/package-lock.json
  examples/odata-mock/package.json
  examples/odata-mock/varkes_config.json
  examples/openapi-mock/package-lock.json
  examples/openapi-mock/package.json
  examples/openapi-mock/varkes_config.json
Due: none

support for events as yaml
  app-connector-client/package-lock.json
  app-connector-client/server/app.js
  app-connector-client/server/resources/defaultConfig.json
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
  app-connector-client/test/events.json
  app-connector-client/test/events1.json
  app-connector-client/test/events2.yaml
  app-connector-client/test/schools.json
  app-connector-client/test/schools.yaml
  app-connector-client/test/varkes_config.json
  examples/combined-openapi-mock/varkes_config.json
  odata-mock/server/app.js
  openapi-mock/server/app.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

cleanup
  app-connector-client/server/app.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
Due: varkes-app-connector-client

Path conditions:
  varkes-app-connector-client: any of: ^app-connector-client/
  varkes-odata-mock: any of: ^odata-mock/
  varkes-openapi-mock: any of: ^openapi-mock/
