Repository kyma-incubator/varkes: changes, and which Prow jobs are due for each by the changed paths.
All: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Path conditions:
  varkes-app-connector-client: any of: ^app-connector-client/
  varkes-odata-mock: any of: ^odata-mock/
  varkes-openapi-mock: any of: ^openapi-mock/

fix
  odata-mock/common/models/Course.js
  odata-mock/common/models/Course.json
  odata-mock/datasources.json
  odata-mock/package-lock.json
  odata-mock/package.json
  odata-mock/server/app.js
  odata-mock/server/config.local.js
  odata-mock/server/logger.js
  odata-mock/server/model-config.json
  odata-mock/server/parser.js
  odata-mock/server/resources/component-config.json
  odata-mock/server/resources/config.json
  odata-mock/server/resources/datasource.json
  odata-mock/server/resources/defaultConfig.json
  odata-mock/server/resources/jsModel.txt
  odata-mock/server/resources/middleware.json
  odata-mock/server/resources/model-config.json
  odata-mock/server/resources/modelTemplate.json
  odata-mock/server/server.js
  odata-mock/server/utility.js
  odata-mock/serverdatasources.json
  odata-mock/test/data.json
  odata-mock/test/test_odata.js
  odata-mock/test/varkes_config.js
Due: varkes-odata-mock

bla
  examples/combined-openapi-mock/apis/events.json
  examples/combined-openapi-mock/varkes_config.js
Due: none

bla
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/openapi-mock-app/package.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Update README.md
  README.md
Due: none

aligned examples
  examples/combined-odata-mock/package.json
  examples/combined-odata-mock/varkes_config.js
  examples/combined-openapi-mock/Dockerfile
  examples/combined-openapi-mock/package.json
  examples/combined-openapi-mock/varkes_config.js
  examples/odata-mock/Dockerfile
  examples/odata-mock/Makefile
  examples/odata-mock/README.md
  examples/odata-mock/apis/courses.xml
  examples/odata-mock/app.js
  examples/odata-mock/data.json
  examples/odata-mock/package-lock.json
  examples/odata-mock/package.json
  examples/odata-mock/varkes_config.js
  examples/openapi-mock/Dockerfile
  examples/openapi-mock/Makefile
  examples/openapi-mock/README.md
  examples/openapi-mock/apis/courses.yaml
  examples/openapi-mock/app.js
  examples/openapi-mock/package-lock.json
  examples/openapi-mock/package.json
  examples/openapi-mock/varkes_config.js
Due: none

aligned examples
  examples/combined-odata-mock/Makefile
  examples/combined-openapi-mock/Makefile
  examples/openapi-mock/Makefile
Due: none

fix
  examples/combined-odata-mock/test_odata.js
Due: none

tests for examples
  examples/combined-odata-mock/package-lock.json
  examples/combined-odata-mock/package.json
  examples/combined-odata-mock/test.js
  examples/combined-openapi-mock/package-lock.json
  examples/combined-openapi-mock/package.json
  examples/combined-openapi-mock/test.js
  examples/odata-mock/package-lock.json
  examples/odata-mock/package.json
  examples/odata-mock/test.js
  examples/openapi-mock/package-lock.json
  examples/openapi-mock/package.json
  examples/openapi-mock/test.js
  odata-mock/package-lock.json
Due: varkes-odata-mock

making openapi-mock async as well
  examples/combined-openapi-mock/package.json
  examples/openapi-mock/package.json
  openapi-mock/package.json
  openapi-mock/server/app.js
  openapi-mock/test/test_openapi.js
Due: varkes-openapi-mock

enabled tests for connector
  app-connector-client/package.json
  app-connector-client/server/apis.js
  app-connector-client/server/app.js
  app-connector-client/server/connector.js
  app-connector-client/server/middleware.js
  app-connector-client/test/get_token.js
  app-connector-client/test/integration/create_service.js
  app-connector-client/test/integration/delete-all-services.js
  app-connector-client/test/integration/kyma-lambda.js
  app-connector-client/test/integration/openapi.json
  app-connector-client/test/service-metadata.json
  app-connector-client/test/test.js
  app-connector-client/test/test_connector.js
  app-connector-client/test/test_integration.js
  app-connector-client/tools/cli.js
  odata-mock/test/test.js
  openapi-mock/test/test.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

updated dependencies
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
Due: none

fixed test
  examples/openapi-mock/package-lock.json
  examples/openapi-mock/test.js
Due: none

fixed test
  examples/combined-odata-mock/package-lock.json
  examples/combined-openapi-mock/package-lock.json
  examples/combined-openapi-mock/test.js
  openapi-mock/README.md
  openapi-mock/test/pets.yaml
Due: varkes-openapi-mock

docker push fix
  examples/combined-odata-mock/Makefile
  examples/combined-openapi-mock/Makefile
  examples/odata-mock/Makefile
  examples/openapi-mock/Makefile
Due: none

fixed test
  examples/combined-odata-mock/test.js
Due: none

docker push fix
  examples/combined-odata-mock/Makefile
Due: none

added deployment details
  README.md
  app-connector-client/Dockerfile
  app-connector-client/Makefile
  app-connector-client/README.md
  app-connector-client/deployment/deployment.yaml
  examples/combined-odata-mock/Makefile
  examples/combined-odata-mock/README.md
  examples/combined-odata-mock/deployment/deployment.yaml
  examples/combined-openapi-mock/Makefile
  examples/combined-openapi-mock/README.md
  examples/combined-openapi-mock/deployment/deployment.yaml
  examples/odata-mock/Makefile
  examples/odata-mock/README.md
  examples/odata-mock/deployment/deployment.yaml
  examples/openapi-mock/Makefile
  examples/openapi-mock/README.md
  examples/openapi-mock/deployment/deployment.yaml
  odata-mock/Dockerfile
  odata-mock/Makefile
  odata-mock/README.md
  odata-mock/deployment/deployment.yaml
  openapi-mock/Makefile
  openapi-mock/README.md
  openapi-mock/deployment/deployment.yaml
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fixed odata-mock
  odata-mock/package.json
  odata-mock/server/app.js
  odata-mock/server/parser.js
  odata-mock/server/server.js
Due: varkes-odata-mock

updated examples dependencies
  examples/combined-odata-mock/package.json
  examples/odata-mock/package.json
Due: none

improved tests
  examples/combined-odata-mock/app.js
  examples/combined-odata-mock/package.json
  examples/combined-odata-mock/test.js
  examples/combined-openapi-mock/app.js
  examples/combined-openapi-mock/package.json
  examples/combined-openapi-mock/test.js
  examples/odata-mock/app.js
  examples/odata-mock/package.json
  examples/odata-mock/test.js
  examples/openapi-mock/app.js
  examples/openapi-mock/package.json
  examples/openapi-mock/test.js
  odata-mock/server/server.js
Due: varkes-odata-mock

fix auto register
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/apis.js
  app-connector-client/server/app.js
  app-connector-client/server/views/index.html
  examples/combined-odata-mock/package-lock.json
Due: varkes-app-connector-client

added codeowners file
  CODEOWNERS
Due: none

fixing autoReg for odata
  app-connector-client/package.json
  app-connector-client/server/apis.js
  app-connector-client/server/app.js
  examples/combined-odata-mock/varkes_config.js
Due: varkes-app-connector-client

-changing odata flag in config to string element apiType -fix httpresponse check for all scenarios
  app-connector-client/server/apis.js
  app-connector-client/server/app.js
Due: varkes-app-connector-client

changing the odata flag in the combined examples config files
  app-connector-client/server/app.js
  examples/combined-odata-mock/varkes_config.js
  examples/combined-openapi-mock/varkes_config.js
Due: varkes-app-connector-client

updating send events
  app-connector-client/server/apis.js
  app-connector-client/server/app.js
Due: varkes-app-connector-client

change element name from apiType to type in config file
  app-connector-client/package.json
  app-connector-client/server/app.js
  examples/combined-odata-mock/varkes_config.js
Due: varkes-app-connector-client

fixing auto-register problem for odata APIs (#98)
  app-connector-client/package.json
  app-connector-client/server/apis.js
  app-connector-client/server/app.js
  examples/combined-odata-mock/varkes_config.js
  examples/combined-openapi-mock/varkes_config.js
Due: varkes-app-connector-client

updating openapi specs to openapi 3
  app-connector-client/test/courses.yaml
  app-connector-client/test/schools.yaml
  examples/combined-openapi-mock/apis/courses.yaml
  examples/combined-openapi-mock/apis/schools.yaml
  examples/openapi-mock/apis/courses.yaml
  openapi-mock/test/courses.yaml
  openapi-mock/test/pets.yaml
Due: varkes-app-connector-client, varkes-openapi-mock

fixing Issue #96: Update all openapi files to openapi 3
  app-connector-client/test/courses.yaml
  app-connector-client/test/schools.yaml
  examples/combined-openapi-mock/apis/courses.yaml
  examples/combined-openapi-mock/apis/schools.yaml
  examples/openapi-mock/apis/courses.yaml
  openapi-mock/test/courses.yaml
  openapi-mock/test/pets.yaml
Due: varkes-app-connector-client, varkes-openapi-mock

fixing the insert post endpoint
  examples/combined-openapi-mock/apis/courses.yaml
  examples/combined-openapi-mock/apis/schools.yaml
Due: none

Fixing Issue #95: oauth end point is added programatically
  app-connector-client/server/app.js
  examples/combined-openapi-mock/varkes_config.js
  openapi-mock/server/app.js
  openapi-mock/server/mock_controller.js
  openapi-mock/server/resources/OAuth_template.yaml
Due: varkes-app-connector-client, varkes-openapi-mock

updating package versions
  app-connector-client/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-openapi-mock

making metadata and oauth optional
  openapi-mock/server/app.js
Due: varkes-openapi-mock

pdate package version
  openapi-mock/package.json
Due: varkes-openapi-mock

using the latest varkes-openapi-mock
  examples/combined-openapi-mock/package-lock.json
  examples/combined-openapi-mock/package.json
Due: none

-add api name to the file name - update the specification file path in the config object
  openapi-mock/server/mock_controller.js
Due: varkes-openapi-mock

remove unwanted log
  openapi-mock/package.json
  openapi-mock/server/mock_controller.js
Due: varkes-openapi-mock
