Repository kyma-incubator/varkes: changes, and which Prow jobs are due for each by the changed paths.
All: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

varkes-app-connector-client:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-odata-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-openapi-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

fixing old UI for to adapt to new routes
  app-connector-client/server/views/index.ejs
Due: varkes-app-connector-client

add connection to kyma to UI
  app-connector-client/server/routes/localApis.js
Due: varkes-app-connector-client

adding api view
  cockpit/angular.json
  cockpit/package-lock.json
  cockpit/package.json
  cockpit/src/assets/luigiconfig.js
Due: none

adding apiView
  cockpit/angular.json
Due: none

finishing up UI
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/connectionOverview/connection.overview.ts
Due: none

finishing UI
  cockpit/src/app/apitable/apitable.ts
Due: none

fixing connection refresh problem
  cockpit/src/app/connectionOverview/connection.overview.ts
Due: none

test fix
  app-connector-client/test/expect/courses.json
  app-connector-client/test/expect/events1.json
  app-connector-client/test/expect/events2.json
  app-connector-client/test/expect/northwind.json
  app-connector-client/test/expect/schools.json
Due: varkes-app-connector-client

improved tests
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/routes/remoteApis.js
  app-connector-client/server/services.js
  app-connector-client/test/events1.json
  app-connector-client/test/events2.yaml
  app-connector-client/test/expect/courses.json
  app-connector-client/test/expect/events1.json
  app-connector-client/test/expect/events2.json
  app-connector-client/test/expect/northwind.json
  app-connector-client/test/expect/schools.json
  app-connector-client/test/northwind.xml
  app-connector-client/test/test_integration.js
  app-connector-client/test/varkes_config.json
  examples/kyma-mock/app.js
Due: varkes-app-connector-client

changing batch registeration to one method
  app-connector-client/server/app.js
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/services.js
  app-connector-client/test/varkes_config.json
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
Due: varkes-app-connector-client

updating api.yaml
  app-connector-client/server/resources/api.yaml
Due: varkes-app-connector-client

v0.4.0
  app-connector-client/package.json
Due: varkes-app-connector-client

applying comments
  app-connector-client/server/app.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/services.js
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/app/specView/app.specview.html
Due: varkes-app-connector-client

fixing issues
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/services.js
  cockpit/src/app/apitable/app.apitable.html
Due: varkes-app-connector-client

fix single register for events
  app-connector-client/server/routes/localApis.js
Due: varkes-app-connector-client

fix hostname problem
  app-connector-client/server/routes/localApis.js
  app-connector-client/server/services.js
  app-connector-client/test/test_integration.js
  cockpit/src/app/apiOverview/api.overview.ts
  cockpit/src/app/apiView/api.view.ts
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/app.component.ts
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/app/createApi/create.api.view.ts
Due: varkes-app-connector-client

finish rebase
  cockpit/src/assets/luigiconfig.js
Due: none

update test
  app-connector-client/package-lock.json
  app-connector-client/test/test_integration.js
  examples/combined-odata-mock/package-lock.json
  examples/combined-openapi-mock/package-lock.json
  examples/kyma-mock/package-lock.json
  examples/odata-mock/package-lock.json
  examples/openapi-mock/package-lock.json
  examples/stress-mock/package-lock.json
  odata-mock/package-lock.json
  openapi-mock/package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

adding northwind api
  app-connector-client/test/varkes_config.json
  package-lock.json
Due: varkes-app-connector-client

fix tests
  app-connector-client/test/test_integration.js
  app-connector-client/test/varkes_config.json
Due: varkes-app-connector-client

fix test
  app-connector-client/test/varkes_config.json
Due: varkes-app-connector-client

fix the condition
  cockpit/src/app/apitable/app.apitable.html
Due: none

removed unneeded OWNERS file
  OWNERS
Due: none

remove old UI
  app-connector-client/package-lock.json
  app-connector-client/server/app.js
  app-connector-client/test/expect/trial.json
  cockpit/.dockerignore
  cockpit/.npmignore
  cockpit/Dockerfile
  cockpit/Makefile
  cockpit/package-lock.json
  cockpit/package.json
  cockpit/src/app/apiView/api.view.ts
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/assets/luigiconfig.js
  cockpit/src/luigi-config/basic/basicConfiguration.js
  cockpit/src/server/app.ts
  examples/combined-odata-mock/app.js
  examples/combined-odata-mock/package-lock.json
  examples/combined-odata-mock/package.json
  examples/combined-odata-mock/varkes_config.json
  examples/combined-openapi-mock/app.js
  examples/combined-openapi-mock/package-lock.json
  examples/combined-openapi-mock/package.json
  examples/combined-openapi-mock/varkes_config.json
  examples/kyma-mock/package-lock.json
  examples/odata-mock/package-lock.json
  examples/openapi-mock/package-lock.json
  examples/stress-mock/package-lock.json
  lerna.json
  odata-mock/package-lock.json
  odata-mock/package.json
  openapi-mock/package-lock.json
  openapi-mock/package.json
  package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

remove test commands
  cockpit/package-lock.json
  cockpit/package.json
  examples/combined-odata-mock/app.js
  examples/combined-odata-mock/varkes_config.json
  examples/stress-mock/app.js
  examples/stress-mock/package.json
Due: none

removing hoist
  Makefile
  cockpit/Makefile
Due: none

basic route should return 404
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

restyling according to fiori fundamentals - part 2
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/styles/fiori-fundamentals-overrides.scss
Due: none

applying comments
  app-connector-client/package.json
  app-connector-client/test/expect/trial.json
  examples/combined-odata-mock/app.js
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/app.js
Due: varkes-app-connector-client

applying comments
  app-connector-client/server/services.js
  app-connector-client/test/varkes_config.json
  cockpit/src/assets/luigiconfig.js
  cockpit/src/luigi-config/basic/basicConfiguration.js
  examples/combined-openapi-mock/varkes_config.json
Due: varkes-app-connector-client

applying comments
  app-connector-client/test/courses.yaml
  app-connector-client/test/expect/courses.json
  app-connector-client/test/expect/schools.json
  app-connector-client/test/schools.json
  app-connector-client/test/test_integration.js
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/connectionOverview/connection.overview.html
Due: varkes-app-connector-client

v0.5.0
  app-connector-client/package.json
  cockpit/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

v0.5.0 (#190)
  app-connector-client/package.json
  cockpit/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

restyling according to fiori fundamentals - part 3
  cockpit/src/app/apiOverview/app.apioverview.html
  cockpit/src/app/apiView/app.apiView.html
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/createApi/app.createapiview.html
  cockpit/src/styles/fiori-fundamentals-overrides.scss
Due: none

fix pkg
  cockpit/package.json
Due: none

fix pkg (#192)
  cockpit/package.json
Due: none

change spinner markup
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
Due: none

remove unnecessary code
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/connectionOverview/connection.overview.ts
Due: none

Path conditions:
  varkes-app-connector-client: any of: ^app-connector-client/
  varkes-odata-mock: any of: ^odata-mock/
  varkes-openapi-mock: any of: ^openapi-mock/
