Repository kyma-incubator/varkes: changes, and which Prow jobs are due for each by the changed paths.
All: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Path conditions:
  varkes-app-connector-client: any of: ^app-connector-client/
  varkes-odata-mock: any of: ^odata-mock/
  varkes-openapi-mock: any of: ^openapi-mock/

update versions (#128)
  examples/combined-odata-mock/package-lock.json
  examples/combined-odata-mock/package.json
  examples/odata-mock/package-lock.json
  examples/odata-mock/package.json
  odata-mock/package-lock.json
  odata-mock/package.json
Due: varkes-odata-mock

change config to a json file (#126)
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/app-connector-config.json
  app-connector-client/server/app.js
  app-connector-client/server/config.js
  app-connector-client/server/keys.js
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
Due: varkes-app-connector-client

creaate examples on the server side
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/routes/events.js
  app-connector-client/server/views/index.ejs
  odata-mock/package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock

adding event validator
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/routes/events.js
  app-connector-client/server/views/index.ejs
Due: varkes-app-connector-client

fixes
  examples/combined-openapi-mock/app.js
  examples/odata-mock/app.js
  examples/openapi-mock/app.js
  examples/openapi-mock/package.json
Due: none

updated all versions
  app-connector-client/package-lock.json
  app-connector-client/package.json
  examples/combined-odata-mock/package-lock.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package-lock.json
  examples/combined-openapi-mock/package.json
  examples/odata-mock/package-lock.json
  examples/odata-mock/package.json
  examples/openapi-mock/package-lock.json
  examples/openapi-mock/package.json
  odata-mock/package-lock.json
  odata-mock/package.json
  openapi-mock/package-lock.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

updated versions
  examples/combined-odata-mock/package-lock.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package-lock.json
  examples/combined-openapi-mock/package.json
  examples/odata-mock/package-lock.json
  examples/odata-mock/package.json
  examples/openapi-mock/package-lock.json
  examples/openapi-mock/package.json
Due: none

new release proposal
  Release.md
Due: none

fixed port parsing
  examples/combined-odata-mock/app.js
  examples/combined-openapi-mock/app.js
  examples/odata-mock/app.js
  examples/openapi-mock/app.js
Due: none

fixed app startup
  examples/combined-odata-mock/app.js
  examples/combined-openapi-mock/app.js
  examples/odata-mock/app.js
  examples/openapi-mock/app.js
Due: none

fixed server setup
  app-connector-client/server/server.js
  odata-mock/server/server.js
  openapi-mock/server/server.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

align dockerfile with #103
  examples/kyma-mock/Dockerfile
Due: none

Writing README for kyma mock
  examples/kyma-mock/README.md
Due: none

Adding kyma tests
  examples/kyma-mock/test.js
Due: none

creating Kyma example
  examples/kyma-mock/Dockerfile
  examples/kyma-mock/Makefile
  examples/kyma-mock/README.md
  examples/kyma-mock/apis/kyma.yaml
  examples/kyma-mock/app.js
  examples/kyma-mock/deployment/deployment.yaml
  examples/kyma-mock/package-lock.json
  examples/kyma-mock/package.json
  examples/kyma-mock/test.js
  examples/kyma-mock/varkes_config.json
Due: none

addec custom endpoints
  examples/kyma-mock/app.js
  examples/kyma-mock/test.js
  examples/kyma-mock/varkes_config.json
Due: none

fixed test
  examples/kyma-mock/app.js
  examples/kyma-mock/test.js
Due: none

adding all kyma api specifications
  examples/kyma-mock/apis/connectorapi.yaml
  examples/kyma-mock/apis/eventsapi.yaml
  examples/kyma-mock/apis/kyma.yaml
  examples/kyma-mock/apis/metadataapi.yaml
  examples/kyma-mock/test.js
  examples/kyma-mock/varkes_config.json
Due: none

remove the api postfix for the apis
  examples/kyma-mock/apis/connector.yaml
  examples/kyma-mock/apis/events.yaml
  examples/kyma-mock/apis/metadata.yaml
  examples/kyma-mock/test.js
  examples/kyma-mock/varkes_config.json
Due: none

adjusted app-connector to kyma mock
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/routes/connector.js
  examples/kyma-mock/app.js
  examples/kyma-mock/package-lock.json
  examples/kyma-mock/package.json
Due: varkes-app-connector-client

updated versions
  examples/kyma-mock/package-lock.json
  examples/kyma-mock/package.json
Due: none

adding custom override
  examples/kyma-mock/app.js
  examples/kyma-mock/package.json
  examples/kyma-mock/test.js
Due: none

fixed setup
  examples/kyma-mock/app.js
Due: none

create examples while getting service by ServiceID
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/views/index.ejs
Due: varkes-app-connector-client

adjusted mock
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/views/index.ejs
  examples/kyma-mock/app.js
  examples/kyma-mock/package.json
  examples/kyma-mock/test.js
Due: varkes-app-connector-client

fix
  examples/kyma-mock/README.md
Due: none

creating Kyma example (#119)
  app-connector-client/package.json
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/views/index.ejs
  examples/kyma-mock/Dockerfile
  examples/kyma-mock/Makefile
  examples/kyma-mock/README.md
  examples/kyma-mock/apis/connector.yaml
  examples/kyma-mock/apis/events.yaml
  examples/kyma-mock/apis/metadata.yaml
  examples/kyma-mock/app.js
  examples/kyma-mock/deployment/deployment.yaml
  examples/kyma-mock/package-lock.json
  examples/kyma-mock/package.json
  examples/kyma-mock/test.js
  examples/kyma-mock/varkes_config.json
Due: varkes-app-connector-client

Fixing Issue #121: validating event apis schema
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/routes/events.js
  app-connector-client/test/events1.json
  app-connector-client/test/events2.yaml
  examples/combined-odata-mock/apis/events.json
  examples/combined-openapi-mock/apis/events.json
Due: varkes-app-connector-client

creaate examples on the server side
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/config.js
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/events1.json
  app-connector-client/test/events2.yaml
  examples/combined-odata-mock/apis/events.json
  examples/combined-openapi-mock/apis/events.json
  odata-mock/package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock

adding event validator
  app-connector-client/server/routes/events.js
  app-connector-client/server/views/index.ejs
Due: varkes-app-connector-client

Fixing Issue #121: validating event apis schema
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/routes/events.js
Due: varkes-app-connector-client

adding validation of event file after validation of the file name
  app-connector-client/package-lock.json
  app-connector-client/server/config.js
  app-connector-client/server/routes/apis.js
  odata-mock/package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock

cleaning up unwanted code
  app-connector-client/server/app.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
Due: varkes-app-connector-client

fixed dependency problem with loopback connector
  odata-mock/package-lock.json
  odata-mock/package.json
Due: varkes-odata-mock

intro to lerna
  README.md
  lerna.json
  package-lock.json
  package.json
Due: none
