Repository kyma-incubator/varkes: changes, and which Prow jobs are due for each by the changed paths.
All: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

varkes-app-connector-client:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-odata-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-openapi-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

update test timeouts for odata
  examples/combined-openapi-mock/package-lock.json
  examples/odata-mock/package-lock.json
  odata-mock/test/test.js
Due: varkes-odata-mock

bump all version to 1.0.0
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  lerna.json
  odata-mock/package-lock.json
  odata-mock/package.json
  openapi-mock/package-lock.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Combining error messages for auto register
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
Due: varkes-app-connector-client

Rename varkes to @varkes
  Makefile
  app-connector-client/package-lock.json
  app-connector-client/package.json
  examples/combined-odata-mock/app.js
  examples/combined-odata-mock/package-lock.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/app.js
  examples/combined-openapi-mock/package-lock.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/app.js
  examples/kyma-mock/package-lock.json
  examples/kyma-mock/package.json
  examples/odata-mock/app.js
  examples/odata-mock/package-lock.json
  examples/odata-mock/package.json
  examples/openapi-mock/app.js
  examples/openapi-mock/package-lock.json
  examples/openapi-mock/package.json
  lerna.json
  odata-mock/package-lock.json
  odata-mock/package.json
  odata-mock/test/test.js
  openapi-mock/package-lock.json
  openapi-mock/package.json
  package-lock.json
  package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

creaate examples on the server side
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/routes/events.js
  app-connector-client/server/views/index.ejs
  odata-mock/package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock

creaate examples on the server side
  odata-mock/package-lock.json
Due: varkes-odata-mock

adding event validator
  app-connector-client/package-lock.json
  app-connector-client/server/routes/events.js
  app-connector-client/server/views/index.ejs
Due: varkes-app-connector-client

create examples while getting service by ServiceID
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/views/index.ejs
Due: varkes-app-connector-client

Fixing Issue #121: validating event apis schema
  app-connector-client/package-lock.json
  app-connector-client/server/routes/events.js
  app-connector-client/test/events1.json
  app-connector-client/test/events2.yaml
  examples/combined-odata-mock/apis/events.json
  examples/combined-openapi-mock/apis/events.json
Due: varkes-app-connector-client

creaate examples on the server side
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/config.js
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/events2.yaml
  odata-mock/package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock

make scoped packages public
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

adding event validator
  app-connector-client/server/routes/events.js
  app-connector-client/server/views/index.ejs
Due: varkes-app-connector-client

Fixing Issue #121: validating event apis schema
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/routes/events.js
Due: varkes-app-connector-client

adding validation of event file after validation of the file name
  app-connector-client/package-lock.json
  app-connector-client/server/config.js
  app-connector-client/server/routes/apis.js
  odata-mock/package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock

cleaning up unwanted code
  app-connector-client/server/app.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
Due: varkes-app-connector-client

update readme
  README.md
Due: none

cleanining up
  app-connector-client/server/config.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
Due: varkes-app-connector-client

create examples on server side (#127)
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/config.js
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/events1.json
  app-connector-client/test/events2.yaml
  examples/combined-odata-mock/apis/events.json
  examples/combined-openapi-mock/apis/events.json
  odata-mock/package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock

updated package dependencies
  app-connector-client/package-lock.json
  app-connector-client/package.json
Due: varkes-app-connector-client

better validation messages update version numbers
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/config.js
  odata-mock/package.json
  openapi-mock/package-lock.json
  openapi-mock/package.json
  openapi-mock/server/mock.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

updated dependencies
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
Due: none

v2
  Release.md
Due: none

fixes to spec.
  app-connector-client/server/resources/api.yaml
Due: varkes-app-connector-client

make version 1.0
  app-connector-client/server/resources/api.yaml
Due: varkes-app-connector-client

add missing endpoints to openapi spec
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/connector.js
Due: varkes-app-connector-client

example for docs
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/connector.js
Due: varkes-app-connector-client

return id also in get
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/apis.js
Due: varkes-app-connector-client

git should had this change
  app-connector-client/package-lock.json
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
Due: varkes-app-connector-client

v0.1.0
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

update readme
  Makefile
  README.md
  package.json
Due: none

ı have it right this time
  Release.md
Due: none

Update Release.md
  Release.md
Due: none

Release proposal (#130)
  Release.md
Due: none

some fixes
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
Due: varkes-app-connector-client

return 500 in io error
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/connector.js
Due: varkes-app-connector-client

Path conditions:
  varkes-app-connector-client: any of: ^app-connector-client/
  varkes-odata-mock: any of: ^odata-mock/
  varkes-openapi-mock: any of: ^openapi-mock/
