Repository kyma-incubator/varkes: changes, and which Prow jobs are due for each by the changed paths.
All: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

varkes-app-connector-client:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-odata-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-openapi-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

updating readme
  examples/stress-mock/README.md
Due: none

creating config programatically
  examples/stress-mock/app.js
  examples/stress-mock/varkes_config.json
Due: none

making baseurl non mandatory
  openapi-mock/server/config.js
  openapi-mock/server/mock.js
Due: varkes-openapi-mock

check if the generated dir exists
  examples/stress-mock/app.js
Due: none

adding odata tests and removing courses apis
  examples/stress-mock/test.js
Due: none

making baseurl mandatory again for openapi
  examples/stress-mock/app.js
  openapi-mock/server/config.js
Due: varkes-openapi-mock

seperating loops for generating apis
  examples/stress-mock/app.js
Due: none

Stress branch (#144)
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/views/index.ejs
  examples/combined-openapi-mock/test.js
  examples/odata-mock/varkes_config.json
  examples/stress-mock/.dockerignore
  examples/stress-mock/Dockerfile
  examples/stress-mock/Makefile
  examples/stress-mock/README.md
  examples/stress-mock/apis/courses.yaml
  examples/stress-mock/apis/events.json
  examples/stress-mock/apis/schools.yaml
  examples/stress-mock/apis/services.xml
  examples/stress-mock/app.js
  examples/stress-mock/deployment/deployment.yaml
  examples/stress-mock/package.json
  examples/stress-mock/test.js
  odata-mock/server/app.js
  odata-mock/test/varkes_config.json
  openapi-mock/server/config.js
  openapi-mock/server/mock.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

adding logo to title
  app-connector-client/server/app.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/varkes_config.json
Due: varkes-app-connector-client

fixing issue
  app-connector-client/server/app.js
Due: varkes-app-connector-client

back to chaining
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

set kyma bot token
  .npmrc
  app-connector-client/.npmrc
  odata-mock/.npmrc
  openapi-mock/.npmrc
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

bump versions to alpha.0
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fix npmrc
  .npmrc
  Makefile
Due: none

Kyma mock tests (#142)
  .gitignore
  app-connector-client/.npmignore
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/test/test.js
  app-connector-client/test/test_integration.js
  examples/combined-odata-mock/test.js
  examples/kyma-mock/app.js
  examples/odata-mock/test.js
  odata-mock/server/app.js
  odata-mock/test/test.js
  odata-mock/test/varkes_config.json
  openapi-mock/server/app.js
  openapi-mock/server/config.js
  openapi-mock/test/test.js
  openapi-mock/test/varkes_config.json
  package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Release demo (#150)
  Makefile
  app-connector-client/.npmrc
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/.npmrc
  odata-mock/package.json
  openapi-mock/.npmrc
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fix makefile
  Makefile
Due: none

bump version
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

remove npm tokens
  Makefile
  app-connector-client/.npmrc
  odata-mock/.npmrc
  openapi-mock/.npmrc
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Only allow for svg images to be logos
  app-connector-client/server/app.js
  app-connector-client/test/varkes_config.json
Due: varkes-app-connector-client

checking if image passed in the config is of svg format
  app-connector-client/server/config.js
Due: varkes-app-connector-client

migrate odata-mock to typescript
  .gitignore
  odata-mock/package-lock.json
  odata-mock/package.json
  odata-mock/server/app.ts
  odata-mock/server/boot/authentication.js
  odata-mock/server/boot/authentication.ts
  odata-mock/server/boot/root.ts
  odata-mock/server/boot/routes.ts
  odata-mock/server/config.ts
  odata-mock/server/logger.ts
  odata-mock/server/parser.ts
  odata-mock/server/resources/boot_config.json
  odata-mock/server/resources/config.json
  odata-mock/server/server.ts
  odata-mock/test/test.ts
  odata-mock/tsconfig.json
  package-lock.json
Due: varkes-odata-mock

adding logo to title (#149)
  app-connector-client/server/app.js
  app-connector-client/server/config.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/varkes_config.json
Due: varkes-app-connector-client

Docu initial draft
  README.md
  assets/mocks-architecture.svg
Due: none

Rework OpenAPI Readme
  openapi-mock/README.md
Due: varkes-openapi-mock

More updates to the readme file
  README.md
Due: none

v0.1.0
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Release v0.1 (#155)
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/config.js
  app-connector-client/server/views/index.ejs
  app-connector-client/test/varkes_config.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

move code to src, fix exports
  examples/combined-odata-mock/app.js
  examples/odata-mock/app.js
  examples/stress-mock/app.js
  odata-mock/.npmignore
  odata-mock/package.json
  odata-mock/src/server/app.ts
  odata-mock/src/server/boot/authentication.ts
  odata-mock/src/server/boot/root.ts
  odata-mock/src/server/boot/routes.ts
  odata-mock/src/server/config.ts
  odata-mock/src/server/logger.ts
  odata-mock/src/server/parser.ts
  odata-mock/src/server/resources/boot_config.json
  odata-mock/src/server/resources/config.json
  odata-mock/src/server/resources/defaultConfig.json
  odata-mock/src/server/resources/modelTemplate.json
  odata-mock/src/server/server.ts
  odata-mock/src/server/types.ts
  odata-mock/src/test/services.xml
  odata-mock/src/test/test.ts
  odata-mock/src/test/varkes_config.json
  odata-mock/tsconfig.json
Due: varkes-odata-mock

add compile command
  Makefile
  odata-mock/package.json
Due: varkes-odata-mock

handling promises better
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/services.js
  openapi-mock/server/mock.js
Due: varkes-app-connector-client, varkes-openapi-mock

multistage docker file
  odata-mock/Dockerfile
  odata-mock/Makefile
  odata-mock/package-lock.json
  odata-mock/package.json
Due: varkes-odata-mock

multistage docker file
  odata-mock/.dockerignore
  odata-mock/Dockerfile
  odata-mock/Makefile
  odata-mock/package-lock.json
  odata-mock/package.json
Due: varkes-odata-mock

showing error message instead whole error
  app-connector-client/server/routes/services.js
  openapi-mock/server/mock.js
Due: varkes-app-connector-client, varkes-openapi-mock

fix
  odata-mock/src/server/server.ts
  odata-mock/src/server/types.ts
Due: varkes-odata-mock

Handling promises (#156)
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/services.js
  openapi-mock/server/mock.js
Due: varkes-app-connector-client, varkes-openapi-mock

define event type
  odata-mock/src/server/types.ts
Due: varkes-odata-mock

migrate odata-mock to typescript (#154)
  .gitignore
  Makefile
  examples/combined-odata-mock/app.js
  examples/odata-mock/app.js
  examples/stress-mock/app.js
  odata-mock/.dockerignore
  odata-mock/.npmignore
  odata-mock/Dockerfile
  odata-mock/Makefile
  odata-mock/package-lock.json
  odata-mock/package.json
  odata-mock/server/boot/authentication.js
  odata-mock/src/server/app.ts
  odata-mock/src/server/boot/authentication.ts
  odata-mock/src/server/boot/root.ts
  odata-mock/src/server/boot/routes.ts
  odata-mock/src/server/config.ts
  odata-mock/src/server/logger.ts
  odata-mock/src/server/parser.ts
  odata-mock/src/server/resources/boot_config.json
  odata-mock/src/server/resources/config.json
  odata-mock/src/server/resources/defaultConfig.json
  odata-mock/src/server/resources/modelTemplate.json
  odata-mock/src/server/server.ts
  odata-mock/src/server/types.ts
  odata-mock/src/test/services.xml
  odata-mock/src/test/test.ts
  odata-mock/src/test/varkes_config.json
  odata-mock/tsconfig.json
  package-lock.json
Due: varkes-odata-mock

improvements v2
  README.md
  app-connector-client/README.md
  odata-mock/README.md
  openapi-mock/README.md
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

improvements v3
  app-connector-client/README.md
  odata-mock/README.md
  openapi-mock/README.md
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Path conditions:
  varkes-app-connector-client: any of: ^app-connector-client/
  varkes-odata-mock: any of: ^odata-mock/
  varkes-openapi-mock: any of: ^openapi-mock/
