Repository kyma-incubator/varkes: changes, and which Prow jobs are due for each by the changed paths.
All: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Path conditions:
  varkes-app-connector-client: any of: ^app-connector-client/
  varkes-odata-mock: any of: ^odata-mock/
  varkes-openapi-mock: any of: ^openapi-mock/

Finalize openapi (#102)
  app-connector-client/package-lock.json
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
Due: varkes-app-connector-client

blob
  app-connector-client/package.json
  package-lock.json
Due: varkes-app-connector-client

sss
  Makefile
Due: none

add release job
  Makefile
Due: none

v0.0.0
  app-connector-client/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Lerna for managing multirepos (#131)
  Makefile
  README.md
  app-connector-client/package-lock.json
  app-connector-client/package.json
  examples/combined-odata-mock/app.js
  examples/combined-odata-mock/package-lock.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/app.js
  examples/combined-openapi-mock/package-lock.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/app.js
  examples/kyma-mock/package-lock.json
  examples/kyma-mock/package.json
  examples/odata-mock/app.js
  examples/odata-mock/package-lock.json
  examples/odata-mock/package.json
  examples/openapi-mock/app.js
  examples/openapi-mock/package-lock.json
  examples/openapi-mock/package.json
  lerna.json
  odata-mock/package-lock.json
  odata-mock/package.json
  odata-mock/test/test.js
  openapi-mock/package-lock.json
  openapi-mock/package.json
  package-lock.json
  package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

add post master build badge
  README.md
Due: none

exclude examples from publishing
  Makefile
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
Due: none

update deps
  app-connector-client/package-lock.json
  odata-mock/package-lock.json
  openapi-mock/package-lock.json
  package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

update redoc to next
  app-connector-client/server/resources/console.html
  openapi-mock/server/resources/console_template.html
Due: varkes-app-connector-client, varkes-openapi-mock

introduce istanbul for code coverage
  .gitignore
  app-connector-client/.npmignore
  app-connector-client/package-lock.json
  app-connector-client/package.json
Due: varkes-app-connector-client

improved the console link returned by the connection info
  app-connector-client/server/routes/connector.js
Due: varkes-app-connector-client

update redoc to next (#140)
  app-connector-client/package-lock.json
  app-connector-client/server/resources/console.html
  odata-mock/package-lock.json
  openapi-mock/package-lock.json
  openapi-mock/server/resources/console_template.html
  package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

app connector tests use kyma
  Makefile
  app-connector-client/package.json
  app-connector-client/test/test.js
  app-connector-client/test/test_integration.js
  package-lock.json
Due: varkes-app-connector-client

make prow happy
  Makefile
Due: none

added new npm script for development
  README.md
  app-connector-client/package.json
  app-connector-client/server/server.js
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  odata-mock/package.json
  odata-mock/server/server.js
  openapi-mock/package.json
  openapi-mock/server/server.js
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fixing error handling issues
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/services.js
  app-connector-client/server/views/index.ejs
Due: varkes-app-connector-client

creating stress-mock
  examples/stress-mock/.dockerignore
  examples/stress-mock/Dockerfile
  examples/stress-mock/Makefile
  examples/stress-mock/README.md
  examples/stress-mock/apis/courses.yaml
  examples/stress-mock/apis/events.json
  examples/stress-mock/apis/schools.yaml
  examples/stress-mock/apis/services.xml
  examples/stress-mock/app.js
  examples/stress-mock/deployment/deployment.yaml
  examples/stress-mock/package.json
  examples/stress-mock/test.js
  examples/stress-mock/varkes_config.json
  package-lock.json
Due: none

fix test problems
  examples/stress-mock/app.js
  examples/stress-mock/test.js
Due: none

docker-build only for release
  Makefile
  README.md
  app-connector-client/Makefile
  examples/combined-odata-mock/Makefile
  examples/combined-openapi-mock/Makefile
  examples/kyma-mock/Makefile
  examples/openapi-mock/Makefile
  odata-mock/Makefile
  openapi-mock/Makefile
  package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

writing the baseurl in config inside generated files
  openapi-mock/server/mock.js
Due: varkes-openapi-mock

app connector should be initialized first
  examples/stress-mock/app.js
Due: none

fixing timeout issue in test
  examples/stress-mock/test.js
Due: none

added new icon
  README.md
  app-connector-client/README.md
  app-connector-client/server/resources/console.html
  app-connector-client/server/views/index.ejs
  app-connector-client/server/views/static/icon.svg
  examples/combined-odata-mock/README.md
  examples/combined-openapi-mock/README.md
  examples/kyma-mock/README.md
  examples/odata-mock/README.md
  examples/openapi-mock/README.md
  logo.svg
  odata-mock/README.md
  openapi-mock/README.md
  openapi-mock/server/resources/console_template.html
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

added favicon
  app-connector-client/server/resources/console.html
  app-connector-client/server/views/index.ejs
  app-connector-client/server/views/static/favicon.ico
  openapi-mock/server/resources/console_template.html
Due: varkes-app-connector-client, varkes-openapi-mock

fix connector.js
  app-connector-client/server/routes/connector.js
  odata-mock/test/test.js
Due: varkes-app-connector-client, varkes-odata-mock

no more timeout error on windows
  examples/combined-odata-mock/test.js
  examples/odata-mock/test.js
  openapi-mock/test/test.js
Due: varkes-openapi-mock

docker-build only for release (#145)
  Makefile
  README.md
  app-connector-client/Makefile
  examples/combined-odata-mock/Makefile
  examples/combined-openapi-mock/Makefile
  examples/kyma-mock/Makefile
  examples/openapi-mock/Makefile
  odata-mock/Makefile
  openapi-mock/Makefile
  package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

added logos in all sizes
  README.md
  app-connector-client/README.md
  app-connector-client/server/resources/console.html
  app-connector-client/server/views/index.ejs
  app-connector-client/server/views/static/logo.svg
  examples/combined-odata-mock/README.md
  examples/combined-openapi-mock/README.md
  examples/kyma-mock/README.md
  examples/odata-mock/README.md
  examples/openapi-mock/README.md
  logos/favicon.ico
  logos/logo.svg
  logos/logo_big.png
  logos/logo_medium.png
  logos/logo_small.png
  odata-mock/README.md
  openapi-mock/README.md
  openapi-mock/server/resources/console_template.html
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fixing problem with openapi specs
  openapi-mock/server/mock.js
Due: varkes-openapi-mock

adding odata-mock to the stress test
  examples/stress-mock/app.js
  examples/stress-mock/varkes_config.json
  odata-mock/server/app.js
Due: varkes-odata-mock

fixing odata tests
  examples/combined-odata-mock/test.js
  examples/combined-openapi-mock/test.js
  examples/odata-mock/varkes_config.json
  odata-mock/test/varkes_config.json
Due: varkes-odata-mock

updating README and deployment.yaml
  examples/stress-mock/README.md
  examples/stress-mock/deployment/deployment.yaml
Due: none

relative paths for specs
  Makefile
  app-connector-client/package.json
  app-connector-client/test/test.js
  app-connector-client/test/test_integration.js
  examples/kyma-mock/app.js
  openapi-mock/server/app.js
  openapi-mock/server/config.js
  openapi-mock/test/test.js
  openapi-mock/test/varkes_config.json
Due: varkes-app-connector-client, varkes-openapi-mock

readable tests
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/routes/apis.js
  app-connector-client/test/test_integration.js
  openapi-mock/server/config.js
Due: varkes-app-connector-client, varkes-openapi-mock

make sure connected to kyma before testing
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

consistency
  Makefile
  odata-mock/server/app.js
  odata-mock/test/test.js
  odata-mock/test/varkes_config.json
Due: varkes-odata-mock

delete keys file before testing
  app-connector-client/test/test_integration.js
Due: varkes-app-connector-client

Update README.md
  README.md
Due: none

removing unwanted code
  app-connector-client/server/routes/services.js
Due: varkes-app-connector-client
