Repository kyma-incubator/varkes: changes, and which Prow jobs are due for each by the changed paths.
All: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

varkes-app-connector-client:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-odata-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

varkes-openapi-mock:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

removed istio annotations as they are not required anymore (#202)
  app-connector-client/deployment/deployment.yaml
  examples/combined-odata-mock/deployment/deployment.yaml
  examples/combined-openapi-mock/deployment/deployment.yaml
  examples/kyma-mock/deployment/deployment.yaml
  examples/odata-mock/deployment/deployment.yaml
  examples/openapi-mock/deployment/deployment.yaml
  examples/stress-mock/deployment/deployment.yaml
  odata-mock/deployment/deployment.yaml
  openapi-mock/deployment/deployment.yaml
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

v0.5.2
  app-connector-client/package.json
  cockpit/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

v0.5.2 (#204)
  app-connector-client/package.json
  cockpit/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Sort the list of events in the dropdown
  cockpit/src/app/sendEventView/send.eventview.ts
Due: none

Sort the list of events in the dropdown (#212)
  cockpit/src/app/sendEventView/send.eventview.ts
Due: none

parse event-data to json object
  cockpit/src/app/sendEventView/send.eventview.ts
Due: none

handle error in JSON format
  cockpit/src/app/sendEventView/send.eventview.ts
Due: none

parse event-data to json object (#215)
  cockpit/src/app/sendEventView/send.eventview.ts
Due: none

v0.5.3
  app-connector-client/package.json
  cockpit/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

v0.5.3 (#216)
  app-connector-client/package.json
  cockpit/package.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/package.json
  examples/kyma-mock/package.json
  examples/odata-mock/package.json
  examples/openapi-mock/package.json
  examples/stress-mock/package.json
  lerna.json
  odata-mock/package.json
  openapi-mock/package.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

use swagger ui instead of redoc in openapi
  app-connector-client/package-lock.json
  cockpit/package-lock.json
  examples/combined-odata-mock/package-lock.json
  examples/combined-openapi-mock/package-lock.json
  examples/kyma-mock/package-lock.json
  examples/odata-mock/package-lock.json
  examples/openapi-mock/package-lock.json
  examples/stress-mock/package-lock.json
  odata-mock/package-lock.json
  openapi-mock/package-lock.json
  openapi-mock/package.json
  openapi-mock/src/server/app.ts
  openapi-mock/src/server/resources/console_template.html
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

use swagger ui in app connector
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/resources/console.html
Due: varkes-app-connector-client

change double to single quotes so tests pass
  openapi-mock/src/server/mock.ts
  openapi-mock/src/server/resources/console_template.html
Due: varkes-openapi-mock

Swagger ui (#218)
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/resources/console.html
  cockpit/package-lock.json
  examples/combined-odata-mock/package-lock.json
  examples/combined-openapi-mock/package-lock.json
  examples/kyma-mock/package-lock.json
  examples/odata-mock/package-lock.json
  examples/openapi-mock/package-lock.json
  examples/stress-mock/package-lock.json
  odata-mock/package-lock.json
  openapi-mock/package-lock.json
  openapi-mock/package.json
  openapi-mock/src/server/app.ts
  openapi-mock/src/server/mock.ts
  openapi-mock/src/server/resources/console_template.html
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

creating tests for app-connector
  app-connector/package-lock.json
  app-connector/package.json
  app-connector/src/server/connection.ts
  app-connector/src/test/expect/connection.json
  app-connector/src/test/expect/schools.json
  app-connector/src/test/schools.json
  app-connector/src/test/test.ts
Due: none

creating new app-connector module
  app-connector/.dockerignore
  app-connector/.npmignore
  app-connector/Dockerfile
  app-connector/Makefile
  app-connector/package-lock.json
  app-connector/package.json
  app-connector/src/server/api.ts
  app-connector/src/server/app.ts
  app-connector/src/server/connection.ts
  app-connector/src/server/event.ts
  app-connector/src/server/logger.ts
  app-connector/src/test/test.ts
  app-connector/tsconfig.json
  lerna.json
Due: none

fixing test for app-connector
  app-connector/package.json
  app-connector/src/server/api.ts
  app-connector/src/server/app.ts
  app-connector/src/server/connection.ts
  app-connector/src/test/test.ts
Due: none

adding retrieveApis to tests
  app-connector/src/test/test.ts
Due: none

removed unneeded dependencies
  app-connector/package-lock.json
  app-connector/package.json
  app-connector/src/server/api.ts
  app-connector/src/server/connection.ts
  app-connector/src/test/test.ts
Due: none

remove docker images
  app-connector/.dockerignore
  app-connector/Dockerfile
  app-connector/Makefile
Due: none

fix issues
  app-connector/src/server/api.ts
  app-connector/src/server/app.ts
  app-connector/src/server/event.ts
Due: none

remove app-connector-client
  app-connector-client/deployment/deployment.yaml
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/connector.js
Due: varkes-app-connector-client

fix test issues
  app-connector/src/server/api.ts
  app-connector/src/server/app.ts
  app-connector/src/test/expect/updatedSchools.json
  app-connector/src/test/test.ts
  cockpit/src/app/connectionOverview/connection.overview.ts
  examples/kyma-mock/apis/metadata.yaml
  examples/kyma-mock/app.js
Due: none

add app-connector to api-server
  api-server/package.json
Due: none

add tests to all public functions
  api-server/deployment/deployment.yaml
  app-connector/src/server/api.ts
  app-connector/src/server/app.ts
  app-connector/src/server/connection.ts
  app-connector/src/test/expect/updatedSchools.json
  app-connector/src/test/test.ts
  app-connector/src/test/updatedSchools.json
  lerna.json
Due: none

adding send events to tests
  app-connector/src/test/event.json
  app-connector/src/test/eventPublish.json
  app-connector/src/test/expect/event.json
  app-connector/src/test/test.ts
Due: none

integrating api-server with app-connector
  api-server/package.json
  api-server/server/app.js
  api-server/server/routes/connector.js
  api-server/server/routes/localApis.js
  api-server/server/routes/remoteApis.js
  api-server/server/services.js
  app-connector/package.json
  app-connector/src/server/api.ts
  app-connector/src/server/connection.ts
  examples/combined-odata-mock/app.js
  examples/combined-odata-mock/package-lock.json
  examples/combined-odata-mock/package.json
  examples/combined-openapi-mock/app.js
  examples/combined-openapi-mock/package.json
  examples/stress-mock/app.js
  examples/stress-mock/package.json
Due: none

fix batch registration
  api-server/server/routes/localApis.js
  api-server/server/services.js
Due: none

fix interval not terminating issue
  cockpit/src/app/apitable/apitable.ts
Due: none

integrating app-connector with api-server
  api-server/server/routes/connector.js
  api-server/server/routes/localApis.js
  api-server/server/routes/remoteApis.js
  api-server/server/services.js
  app-connector/src/server/api.ts
  app-connector/src/server/app.ts
  app-connector/src/test/test.ts
Due: none

applying comments
  api-server/README.md
  api-server/package.json
  api-server/server/app.js
  api-server/server/connection.js
  api-server/server/routes/connector.js
  api-server/server/routes/events.js
  api-server/server/routes/localApis.js
  api-server/server/routes/remoteApis.js
  app-connector/package.json
Due: none

add types/request-promise to app-connector
  api-server/package-lock.json
  api-server/package.json
  app-connector/package.json
  openapi-mock/package-lock.json
Due: varkes-openapi-mock

remove view from api-server
  api-server/server/views/index.ejs
  api-server/server/views/static/css/img/jsoneditor-icons.svg
  api-server/server/views/static/css/jsoneditor.min.css
  api-server/server/views/static/favicon.ico
  api-server/server/views/static/js/json.editor.min.js
  api-server/server/views/static/logo.svg
Due: none

error handling for app-connector functions
  README.md
  api-server/server/logger.js
  api-server/server/routes/connector.js
  api-server/server/routes/events.js
  api-server/server/routes/localApis.js
  api-server/server/routes/remoteApis.js
  api-server/server/services.js
  app-connector/package-lock.json
  app-connector/src/server/api.ts
  app-connector/src/server/event.ts
  cockpit/package-lock.json
  examples/combined-odata-mock/README.md
  examples/combined-odata-mock/package-lock.json
  examples/combined-openapi-mock/README.md
  examples/stress-mock/README.md
Due: none

applying comments
  api-server/server/routes/localApis.js
  api-server/server/routes/remoteApis.js
  api-server/server/services.js
  app-connector/package.json
  app-connector/src/server/connection.ts
  app-connector/src/server/logger.ts
Due: none

fix tests
  api-server/test/test_integration.js
Due: none

seperate errors for kyma connection
  api-server/server/routes/connector.js
  app-connector/src/server/connection.ts
  cockpit/src/app/connectionOverview/connection.overview.ts
Due: none

change batch registration to registerall
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
Due: none

Path conditions:
  varkes-app-connector-client: any of: ^app-connector-client/
  varkes-odata-mock: any of: ^odata-mock/
  varkes-openapi-mock: any of: ^openapi-mock/
