Repository kyma-incubator/varkes: changes, and which Prow jobs are due for each by the changed paths.
All: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

Path conditions:
  varkes-app-connector-client: any of: ^app-connector-client/
  varkes-odata-mock: any of: ^odata-mock/
  varkes-openapi-mock: any of: ^openapi-mock/

add missing endpoint to kyma mock
  examples/kyma-mock/app.js
Due: none

Adapted new pairing flow (#169)
  app-connector-client/server/app.js
  app-connector-client/server/connection.js
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/views/index.ejs
  examples/kyma-mock/app.js
Due: varkes-app-connector-client

fixed docker image name of stress mock
  examples/stress-mock/Makefile
Due: none

migrate openapi to typescript
  app-connector-client/package-lock.json
  openapi-mock/.dockerignore
  openapi-mock/.npmignore
  openapi-mock/Dockerfile
  openapi-mock/package-lock.json
  openapi-mock/package.json
  openapi-mock/server/app.js
  openapi-mock/server/logger.js
  openapi-mock/src/server/app.ts
  openapi-mock/src/server/config.ts
  openapi-mock/src/server/logger.ts
  openapi-mock/src/server/mock.ts
  openapi-mock/src/server/resources/console_template.html
  openapi-mock/src/server/resources/defaultConfig.json
  openapi-mock/src/server/server.ts
  openapi-mock/src/test/Endpoint_template.yaml
  openapi-mock/src/test/courses.yaml
  openapi-mock/src/test/pets_openapi.json
  openapi-mock/src/test/pets_openapi.yaml
  openapi-mock/src/test/pets_swagger.json
  openapi-mock/src/test/pets_swagger.yaml
  openapi-mock/src/test/test.ts
  openapi-mock/src/test/varkes_config.json
  openapi-mock/tsconfig.json
  package-lock.json
Due: varkes-app-connector-client, varkes-openapi-mock

dockerfile fixes
  odata-mock/Dockerfile
  openapi-mock/Dockerfile
Due: varkes-odata-mock, varkes-openapi-mock

migrate openapi to typescript (#170)
  app-connector-client/package-lock.json
  odata-mock/Dockerfile
  openapi-mock/.dockerignore
  openapi-mock/.npmignore
  openapi-mock/Dockerfile
  openapi-mock/package-lock.json
  openapi-mock/package.json
  openapi-mock/server/app.js
  openapi-mock/server/logger.js
  openapi-mock/src/server/app.ts
  openapi-mock/src/server/config.ts
  openapi-mock/src/server/logger.ts
  openapi-mock/src/server/mock.ts
  openapi-mock/src/server/resources/console_template.html
  openapi-mock/src/server/resources/defaultConfig.json
  openapi-mock/src/server/server.ts
  openapi-mock/src/test/Endpoint_template.yaml
  openapi-mock/src/test/courses.yaml
  openapi-mock/src/test/pets_openapi.json
  openapi-mock/src/test/pets_openapi.yaml
  openapi-mock/src/test/pets_swagger.json
  openapi-mock/src/test/pets_swagger.yaml
  openapi-mock/src/test/test.ts
  openapi-mock/src/test/varkes_config.json
  openapi-mock/tsconfig.json
  package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fixes for stress mock
  examples/stress-mock/README.md
  examples/stress-mock/app.js
  examples/stress-mock/deployment/deployment.yaml
  openapi-mock/package-lock.json
  openapi-mock/src/server/app.ts
  openapi-mock/src/server/mock.ts
Due: varkes-openapi-mock

fixes error handling
  openapi-mock/src/server/app.ts
Due: varkes-openapi-mock

fixes error handling
  examples/stress-mock/test.js
Due: none

adding some views
  varkes-ui/package-lock.json
  varkes-ui/package.json
  varkes-ui/src/angular.html
  varkes-ui/src/app/apiOverview/api.overview.ts
  varkes-ui/src/app/apiOverview/app.apioverview.html
  varkes-ui/src/app/apiView/api.view.ts
  varkes-ui/src/app/apiView/apiview.ts
  varkes-ui/src/app/apiView/app.apiview.html
  varkes-ui/src/app/apitable/apitable.module.ts
  varkes-ui/src/app/apitable/apitable.ts
  varkes-ui/src/app/apitable/app.apitable.html
  varkes-ui/src/app/app-routing.module.ts
  varkes-ui/src/app/app.component.html
  varkes-ui/src/app/app.component.ts
  varkes-ui/src/app/app.module.ts
  varkes-ui/src/app/connectionOverview/connection-routing.module.ts
  varkes-ui/src/app/connectionOverview/connection.overview.html
  varkes-ui/src/app/connectionOverview/connection.overview.module.ts
  varkes-ui/src/app/connectionOverview/connection.overview.ts
  varkes-ui/src/app/specView/.gitkeep
  varkes-ui/src/app/specView/app.specview.html
  varkes-ui/src/app/specView/specview.ts
  varkes-ui/src/json.editor.min.js
  varkes-ui/src/jsoneditor.min.css
Due: none

adding action context menu
  varkes-ui/src/angular.html
  varkes-ui/src/app/apitable/apitable.ts
  varkes-ui/src/app/apitable/app.apitable.html
  varkes-ui/src/app/connectionOverview/connection.overview.html
Due: none

adding features
  cockpit/src/angular.html
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app-routing.module.ts
  cockpit/src/app/connectionOverview/connection-routing.module.ts
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
Due: none

adding ajax call
  cockpit/package-lock.json
  cockpit/package.json
  cockpit/src/app/connectionOverview/connection.overview.html
  cockpit/src/app/connectionOverview/connection.overview.ts
Due: none

adding some views
  varkes-ui/package-lock.json
  varkes-ui/package.json
  varkes-ui/src/angular.html
  varkes-ui/src/app/apiOverview/api.overview.ts
  varkes-ui/src/app/apiOverview/app.apioverview.html
  varkes-ui/src/app/apiView/api.view.ts
  varkes-ui/src/app/apiView/apiview.ts
  varkes-ui/src/app/apiView/app.apiview.html
  varkes-ui/src/app/apitable/apitable.module.ts
  varkes-ui/src/app/apitable/apitable.ts
  varkes-ui/src/app/apitable/app.apitable.html
  varkes-ui/src/app/app-routing.module.ts
  varkes-ui/src/app/app.component.html
  varkes-ui/src/app/app.component.ts
  varkes-ui/src/app/app.module.ts
  varkes-ui/src/app/connectionOverview/connection-routing.module.ts
  varkes-ui/src/app/connectionOverview/connection.overview.html
  varkes-ui/src/app/connectionOverview/connection.overview.module.ts
  varkes-ui/src/app/connectionOverview/connection.overview.ts
  varkes-ui/src/app/specView/.gitkeep
  varkes-ui/src/app/specView/app.specview.html
  varkes-ui/src/app/specView/specview.ts
  varkes-ui/src/img/jsoneditor-icons.svg
  varkes-ui/src/json.editor.min.js
  varkes-ui/src/jsoneditor.min.css
Due: none

begin integration
  app-connector-client/server/app.js
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/mockapis.js
  app-connector-client/server/routes/services.js
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/main.ts
Due: varkes-app-connector-client

fetching mock apis
  app-connector-client/package-lock.json
  app-connector-client/server/routes/mockapis.js
  cockpit/package-lock.json
  cockpit/package.json
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/apitable/app.apitable.html
  cockpit/src/app/app.module.ts
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/main.ts
  cockpit/src/server/varkes_config.json
  examples/combined-odata-mock/package-lock.json
  examples/combined-openapi-mock/package-lock.json
  examples/kyma-mock/package-lock.json
  examples/odata-mock/package-lock.json
  examples/openapi-mock/package-lock.json
  examples/stress-mock/package-lock.json
  lerna.json
  odata-mock/package-lock.json
  openapi-mock/package-lock.json
  package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

fixing build issue
  cockpit/package-lock.json
  cockpit/package.json
  cockpit/src/server/tscconfig.app.json
  cockpit/test/courses.yaml
  cockpit/test/events1.json
  cockpit/test/events2.yaml
  cockpit/test/schools.json
  cockpit/test/varkes_config.json
  odata-mock/package.json
  package-lock.json
Due: varkes-odata-mock

removing service from routes
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/connector.js
  app-connector-client/server/routes/events.js
  app-connector-client/server/routes/mockapis.js
  app-connector-client/server/services.js
Due: varkes-app-connector-client

removing unwanted comments
  app-connector-client/server/resources/api.yaml
  app-connector-client/server/routes/mockapis.js
  cockpit/src/app/connectionOverview/connection.overview.ts
Due: varkes-app-connector-client

applying comments
  cockpit/.gitignore
  cockpit/package.json
  cockpit/src/app/apiOverview/api.overview.ts
  cockpit/src/app/apiView/api.view.ts
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/app/specView/.gitkeep
  cockpit/src/app/specView/app.specview.html
  cockpit/src/app/specView/specview.ts
  cockpit/src/assets/luigiconfig.js
  cockpit/src/index.html
Due: none

applying comments
  app-connector-client/package-lock.json
  app-connector-client/package.json
  app-connector-client/server/app.js
  app-connector-client/server/resources/api.yaml
  cockpit/angular.json
  cockpit/package-lock.json
  cockpit/package.json
  cockpit/src/angular.html
  cockpit/src/app/apitable/apitable.ts
  cockpit/src/app/connectionOverview/connection.overview.ts
  cockpit/src/app/window.provider.ts
  cockpit/src/server/app.ts
  cockpit/src/server/server.ts
  cockpit/src/server/tscconfig.app.json
  cockpit/src/server/varkes_config.json
  cockpit/test/courses.yaml
  cockpit/test/events1.json
  cockpit/test/events2.yaml
  cockpit/test/schools.json
  cockpit/test/varkes_config.json
Due: varkes-app-connector-client

removing exported functions from routers
  app-connector-client/server/routes/apis.js
  app-connector-client/server/routes/mockapis.js
  app-connector-client/server/services.js
  cockpit/src/app/window.provider.ts
Due: varkes-app-connector-client

remove head file
  cockpit/src/angular.html~HEAD
Due: none

remove head files
  cockpit/package-lock.json~HEAD
  cockpit/package.json~HEAD
Due: none

remove express from main
  cockpit/src/main.ts
Due: none

removing unwanted files
  app-connector-client/package-lock.json
  app-connector-client/server/app.js
  cockpit/.gitignore
  cockpit/README.md
  cockpit/angular.json
  cockpit/e2e/protractor.conf.js
  cockpit/e2e/src/app.e2e-spec.ts
  cockpit/e2e/src/app.po.ts
  cockpit/e2e/tsconfig.e2e.json
  cockpit/src/app/apitable/.gitkeep
  cockpit/src/app/apitable/apitable.ts~HEAD
  cockpit/src/app/apitable/app.apitable.html~HEAD
  cockpit/src/app/app-routing.module.ts~HEAD
  cockpit/src/app/connectionOverview/connection-routing.module.ts~HEAD
  cockpit/src/app/connectionOverview/connection.overview.html~HEAD
  cockpit/src/app/connectionOverview/connection.overview.ts~HEAD
  cockpit/src/karma.conf.js
  cockpit/src/server/app.ts
  cockpit/src/test.ts
  cockpit/tsconfig.json
Due: varkes-app-connector-client

fixes for stress mock (#172)
  examples/stress-mock/README.md
  examples/stress-mock/app.js
  examples/stress-mock/deployment/deployment.yaml
  examples/stress-mock/test.js
  openapi-mock/package-lock.json
  openapi-mock/src/server/app.ts
  openapi-mock/src/server/mock.ts
Due: varkes-openapi-mock

downgrade typescript to 3.2.2
  app-connector-client/package-lock.json
  cockpit/package-lock.json
  cockpit/package.json
  odata-mock/package-lock.json
  odata-mock/package.json
  openapi-mock/package-lock.json
  openapi-mock/package.json
  package-lock.json
Due: varkes-app-connector-client, varkes-odata-mock, varkes-openapi-mock

remove cockpit from lerna
  lerna.json
Due: none

fixing test issues
  app-connector-client/package-lock.json
  app-connector-client/server/services.js
  openapi-mock/package-lock.json
  package-lock.json
Due: varkes-app-connector-client, varkes-openapi-mock

added accidentally deleted css files
  app-connector-client/server/views/static/css/img/jsoneditor-icons.svg
  app-connector-client/server/views/static/css/jsoneditor.min.css
Due: varkes-app-connector-client

third
  examples/combined-odata-mock/apis/northwind.xml
  examples/combined-odata-mock/apis/products.xml
  examples/combined-odata-mock/test.js
  examples/combined-odata-mock/varkes_config.json
  examples/odata-mock/varkes_config.json
  examples/stress-mock/app.js
  examples/stress-mock/test.js
  odata-mock/src/server/app.ts
  odata-mock/src/server/config.ts
  odata-mock/src/server/server.ts
Due: varkes-odata-mock
