Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)

Disable stack trace, add test
  controllers/gateway/reconcile_result.go
  controllers/gateway/reconcile_result_test.go
  controllers/gateway/types.go
  controllers/rate_limiter.go
  main.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: allow metrics scraping only for labeled workloads (#2532)
  controllers/operator/apigateway_controller_integration_test.go
  docs/user/custom-resources/apigateway/04-30-networkpolicies.md
  internal/networkpolicy/operator_networkpolicy.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Enable control panel and disable auto features
  .hyperspace/pull_request_bot.json
Due: none

Restore kustomization
  config/manager/kustomization.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add exponential backoff (#2540)
  controllers/gateway/reconcile_result.go
  controllers/gateway/reconcile_result_test.go
  controllers/rate_limiter.go
  main.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update docs/release-notes/3.4.3.md
  docs/release-notes/3.4.3.md
Due: none

Set GOMEMLIMIT env for manager deployment (#2488) (#2536)
  config/manager/manager.yaml
  docs/release-notes/3.4.3.md
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

release: update sec-scanners-config.yaml (#2545)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: adjust netpol selector
  internal/networkpolicy/operator_networkpolicy.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Enable control panel and disable auto features (#2543)
  .hyperspace/pull_request_bot.json
Due: none

fix: adjust netpol selector (#2547)
  internal/networkpolicy/operator_networkpolicy.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

docs: update sidebar wit netpols
  docs/user/_sidebar.ts
Due: none

docs: update sidebar wit netpols (#2548)
  docs/user/_sidebar.ts
Due: none

sidebar fix
  docs/user/_sidebar.ts
Due: none

fix sidebar
  docs/user/_sidebar.ts
  docs/user/tutorials/01-20-exposing-workloads/04-15-api-rule-access-strategies.md
  docs/user/tutorials/01-30-apirule-configuration-options/README.md
Due: none

Update APIRule docs
  docs/user/_sidebar.ts
  docs/user/custom-resources/ratelimit/04-00-ratelimit.md
  docs/user/os-quick-start.md
  docs/user/tutorials/01-10-istio-gateways/01-20-set-up-tls-gateway.md
  docs/user/tutorials/01-10-istio-gateways/01-30-configure-mtls-Gardener-certs.md
  docs/user/tutorials/01-10-istio-gateways/01-40-configure-mtls-k3d.md
  docs/user/tutorials/01-10-istio-gateways/01-50-mtls-context.md
  docs/user/tutorials/01-10-istio-gateways/README.md
  docs/user/tutorials/01-20-exposing-workloads/01-35-expose-workload-noauth-gardener.md
  docs/user/tutorials/01-20-exposing-workloads/01-36-expose-workload-noauth-k3d.md
  docs/user/tutorials/01-20-exposing-workloads/01-40-expose-workload-jwt.md
  docs/user/tutorials/01-20-exposing-workloads/01-53-expose-workload-extauth-client-credentials.md
  docs/user/tutorials/01-20-exposing-workloads/01-54-expose-workload-extauth-authorization-code.md
  docs/user/tutorials/01-20-exposing-workloads/01-55-ip-based-access-with-xff.md
  docs/user/tutorials/01-30-apirule-configuration-options/01-30-significance-of-rule-path-and-method-order.md
  docs/user/tutorials/01-30-apirule-configuration-options/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-30-apirule-configuration-options/01-43-expose-workload-short-host-name.md
  docs/user/tutorials/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-43-expose-workload-short-host-name.md
Due: none

Apply suggestion from @hyperspace-insights[bot]
  docs/user/tutorials/01-30-apirule-configuration-options/01-41-expose-multiple-workloads.md
Due: none

sidebar updates
  docs/user/04-local-rate-limit.md
  docs/user/_sidebar.ts
  docs/user/apirule/01-35-expose-workload-noauth-gardener.md
  docs/user/apirule/01-36-expose-workload-noauth-k3d.md
  docs/user/apirule/01-40-expose-workload-jwt.md
  docs/user/apirule/01-41-expose-multiple-workloads.md
  docs/user/apirule/01-53-expose-workload-extauth-client-credentials.md
  docs/user/apirule/01-54-expose-workload-extauth-authorization-code.md
  docs/user/apirule/01-55-ip-based-access-with-xff.md
  docs/user/apirule/01-70-significance-of-rule-path-and-method-order.md
  docs/user/apirule/04-15-api-rule-access-strategies.md
  docs/user/apirule/README.md
  docs/user/istio-gateways/01-20-set-up-tls-gateway.md
  docs/user/istio-gateways/01-30-configure-mtls-Gardener-certs.md
  docs/user/istio-gateways/01-40-configure-mtls-k3d.md
  docs/user/istio-gateways/01-50-mtls-context.md
  docs/user/istio-gateways/README.md
  docs/user/security/01-62-set-up-idp.md
  docs/user/tutorials/README.md
Due: none

update structure
  docs/user/_sidebar.ts
  docs/user/apirule/04-15-api-rule-access-strategies.md
  docs/user/apirule/README.md
  docs/user/apirule/expose-multiple-workloads.md
  docs/user/apirule/extAuth/README.md
  docs/user/apirule/extAuth/expose-workload-extauth-authorization-code.md
  docs/user/apirule/extAuth/expose-workload-extauth-client-credentials.md
  docs/user/apirule/ip-based-access-with-xff.md
  docs/user/apirule/jwt/README.md
  docs/user/apirule/jwt/expose-workload-jwt.md
  docs/user/apirule/noAuth/README.md
  docs/user/apirule/noAuth/expose-workload-noauth-gardener.md
  docs/user/apirule/noAuth/expose-workload-noauth-k3d.md
  docs/user/apirule/significance-of-rule-path-and-method-order.md
  docs/user/custom-resources/apirule/README.md
  docs/user/istio-gateways/configure-mtls-Gardener-certs.md
  docs/user/istio-gateways/configure-mtls-k3d.md
  docs/user/istio-gateways/mtls-context.md
  docs/user/istio-gateways/set-up-tls-gateway.md
  docs/user/local-rate-limit.md
Due: none

update noauth
  docs/assets/apirule-noauth.drawio.svg
  docs/user/expose-workloads/jwt/README.md
  docs/user/expose-workloads/noAuth/README.md
  docs/user/istio-gateways/README.md
  docs/user2/apirule/jwt/README.md
Due: none

revert changes
  docs/user2/apirule/jwt/README.md
Due: none

update jwt
  docs/assets/jwt.drawio.png
  docs/user/expose-workloads/jwt/README.md
  docs/user/expose-workloads/noAuth/README.md
Due: none

update concepts
  docs/user/_sidebar.ts
  docs/user/apirule/extAuth/README.md
  docs/user/apirule/jwt/README.md
  docs/user/apirule/noAuth/README.md
  docs/user/expose-workloads/README.md
  docs/user/expose-workloads/expose-multiple-workloads.md
  docs/user/expose-workloads/extAuth/README.md
  docs/user/expose-workloads/extAuth/expose-workload-extauth-authorization-code.md
  docs/user/expose-workloads/extAuth/expose-workload-extauth-client-credentials.md
  docs/user/expose-workloads/ip-based-access-with-xff.md
  docs/user/expose-workloads/jwt/README.md
  docs/user/expose-workloads/jwt/expose-workload-jwt.md
  docs/user/expose-workloads/noAuth/README.md
  docs/user/expose-workloads/noAuth/expose-workload-noauth-gardener.md
  docs/user/expose-workloads/noAuth/expose-workload-noauth-k3d.md
  docs/user/expose-workloads/significance-of-rule-path-and-method-order.md
Due: none

Apply suggestion from @barchw
  docs/user/expose-workloads/jwt/README.md
Due: none

Apply suggestions from code review
  docs/user/expose-workloads/expose-multiple-workloads.md
  docs/user/expose-workloads/noAuth/README.md
  docs/user/istio-gateways/mtls-context.md
Due: none

update jwt readme
  docs/user/expose-workloads/jwt/README.md
Due: none

Apply suggestion from @barchw
  docs/user/expose-workloads/expose-multiple-workloads.md
Due: none

extauth
  docs/assets/APIRules-extauth.drawio.png
  docs/user/expose-workloads/extAuth/README.md
  docs/user/expose-workloads/jwt/README.md
  docs/user/expose-workloads/noAuth/README.md
Due: none

update diagrams
  docs/assets/APIRules-extauth.drawio.png
  docs/assets/APIRules-extauth.drawio.svg
  docs/assets/APIRules-jwt.drawio.svg
  docs/assets/APIRules-noAuth.drawio.svg
  docs/assets/apirule-noauth.drawio.svg
  docs/assets/jwt.drawio.png
  docs/user/expose-workloads/extAuth/README.md
  docs/user/expose-workloads/jwt/README.md
  docs/user/expose-workloads/noAuth/README.md
Due: none

update extauth readme
  docs/user/expose-workloads/extAuth/README.md
Due: none

apply review suggestions
  docs/assets/APIRules-extauth.drawio.svg
  docs/assets/APIRules-jwt.drawio.svg
  docs/assets/APIRules-noAuth.drawio.svg
  docs/user/expose-workloads/extAuth/README.md
  docs/user/expose-workloads/jwt/README.md
  docs/user/expose-workloads/noAuth/README.md
Due: none

diagram fixes
  docs/assets/APIRules-extauth.drawio.svg
  docs/assets/APIRules-jwt.drawio.svg
  docs/assets/APIRules-noAuth.drawio.svg
Due: none

make arrows even
  docs/assets/APIRules-extauth.drawio.svg
  docs/assets/APIRules-jwt.drawio.svg
  docs/assets/APIRules-noAuth.drawio.svg
Due: none

Apply suggestion from @nataliasitko
  docs/user/expose-workloads/jwt/README.md
Due: none

apply tw suggestions
  docs/user/expose-workloads/README.md
  docs/user/expose-workloads/expose-multiple-workloads.md
  docs/user/expose-workloads/extAuth/README.md
  docs/user/expose-workloads/jwt/README.md
  docs/user/expose-workloads/noAuth/README.md
Due: none

Apply suggestions from code review
  docs/user/expose-workloads/README.md
  docs/user/expose-workloads/extAuth/README.md
Due: none

tw review
  docs/user/expose-workloads/README.md
  docs/user/expose-workloads/expose-multiple-workloads.md
  docs/user/expose-workloads/extAuth/README.md
  docs/user/expose-workloads/jwt/README.md
  docs/user/expose-workloads/noAuth/README.md
Due: none

merge conflicts
  docs/user/expose-workloads/short-host-name.md
  docs/user/tutorials/01-30-apirule-configuration-options/01-30-significance-of-rule-path-and-method-order.md
  docs/user/tutorials/01-30-apirule-configuration-options/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-30-apirule-configuration-options/01-43-expose-workload-short-host-name.md
  docs/user/tutorials/01-30-apirule-configuration-options/README.md
Due: none

fix sidebar
  docs/user/_sidebar.ts
Due: none

Update APIRule configuration documentation (#2501)
  docs/assets/APIRules-extauth.drawio.svg
  docs/assets/APIRules-jwt.drawio.svg
  docs/assets/APIRules-noAuth.drawio.svg
  docs/user/_sidebar.ts
  docs/user/custom-resources/apirule/04-15-api-rule-access-strategies.md
  docs/user/custom-resources/apirule/README.md
  docs/user/custom-resources/ratelimit/04-00-ratelimit.md
  docs/user/expose-workloads/README.md
  docs/user/expose-workloads/expose-multiple-workloads.md
  docs/user/expose-workloads/extAuth/README.md
  docs/user/expose-workloads/extAuth/expose-workload-extauth-authorization-code.md
  docs/user/expose-workloads/extAuth/expose-workload-extauth-client-credentials.md
  docs/user/expose-workloads/ip-based-access-with-xff.md
  docs/user/expose-workloads/jwt/README.md
  docs/user/expose-workloads/jwt/expose-workload-jwt.md
  docs/user/expose-workloads/noAuth/README.md
  docs/user/expose-workloads/noAuth/expose-workload-noauth-gardener.md
  docs/user/expose-workloads/noAuth/expose-workload-noauth-k3d.md
  docs/user/expose-workloads/short-host-name.md
  docs/user/expose-workloads/significance-of-rule-path-and-method-order.md
  docs/user/istio-gateways/README.md
  docs/user/istio-gateways/configure-mtls-Gardener-certs.md
  docs/user/istio-gateways/configure-mtls-k3d.md
  docs/user/istio-gateways/mtls-context.md
  docs/user/istio-gateways/set-up-tls-gateway.md
  docs/user/local-rate-limit.md
  docs/user/os-quick-start.md
  docs/user/security/01-62-set-up-idp.md
  docs/user/tutorials/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-43-expose-workload-short-host-name.md
  docs/user/tutorials/README.md
Due: none
