Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

pull-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

pull-api-gateway-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-lint
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
  ...

Update docs/release-notes/3.5.0.md
  docs/release-notes/3.5.0.md
Due: none

Add required labels to resources created by api-gateway (#2307)
  docs/release-notes/3.5.0.md
  internal/processing/label.go
  internal/processing/processors/access_rule_processor.go
  internal/processing/processors/access_rule_processor_test.go
  internal/processing/processors/istio/access_rule_processor_test.go
  internal/processing/processors/istio/audience_test.go
  internal/processing/processors/istio/authorization_policy_processor.go
  internal/processing/processors/istio/authorization_policy_processor_test.go
  internal/processing/processors/istio/request_authentication_processor.go
  internal/processing/processors/istio/request_authentication_processor_test.go
  internal/processing/processors/istio/virtual_service_processor.go
  internal/processing/processors/istio/virtual_service_processor_test.go
  internal/processing/processors/ory/access_rule_processor_test.go
  internal/processing/processors/ory/virtual_service_processor.go
  internal/processing/processors/ory/virtual_service_processor_test.go
  internal/processing/processors/request_authentication_processor.go
  internal/processing/processors/v2alpha1/authorizationpolicy/audience_test.go
  internal/processing/processors/v2alpha1/authorizationpolicy/creator.go
  internal/processing/processors/v2alpha1/authorizationpolicy/ext_auth_test.go
  internal/processing/processors/v2alpha1/authorizationpolicy/jwt_rules_test.go
  internal/processing/processors/v2alpha1/authorizationpolicy/no_auth_rules_test.go
  internal/processing/processors/v2alpha1/authorizationpolicy/processor_test.go
  internal/processing/processors/v2alpha1/requestauthentication/creator.go
  internal/processing/processors/v2alpha1/requestauthentication/processing_existing_ra_test.go
  internal/processing/processors/v2alpha1/requestauthentication/processing_new_ra_test.go
  internal/processing/processors/v2alpha1/requestauthentication/processor.go
  internal/processing/processors/v2alpha1/virtualservice/virtual_service_processor.go
  internal/processing/processors/v2alpha1/virtualservice/virtual_service_processor_test.go
  internal/processing/processors/virtual_service_processor.go
  internal/processing/processors/virtual_service_processor_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Apply suggestions from code review
  docs/user/tutorials/01-10-mtls-authentication/configure-mtls-k3d.md
Due: none

Update testing strategy docs to reflect main workflow changes (#2332)
  docs/contributor/02-10-testing-strategy.md
Due: none

chore: automatic update sec-scanners-config.yaml (#2335)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

add a jwt tutorial
  docs/user/tutorials/01-05-expose-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-51-get-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-52-expose-and-secure-workload-jwt.md
Due: none

short desc
  docs/user/tutorials/01-05-expose-workload-jwt.md
Due: none

fix get access token
  docs/user/tutorials/01-05-expose-workload-jwt.md
Due: none

fix spaces
  docs/user/tutorials/01-05-expose-workload-jwt.md
Due: none

Add tutorial for zero downtime migration when mixed apirules target one workload.
  docs/user/apirule-migration/01-90-rbac-access-denied.md
Due: none

Adjust links and add info to readme.
  docs/user/apirule-migration/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/apirule-migration/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/apirule-migration/01-84-migrate-oauth2-v1beta1-to-v2.md
  docs/user/apirule-migration/01-85-apirule-migration-faq.md
  docs/user/apirule-migration/01-90-migrate-multiple-apirules-targeting-same-workload.md
  docs/user/apirule-migration/README.md
Due: none

Adjust the tutorial, make one AP.
  docs/user/apirule-migration/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/apirule-migration/01-90-rbac-access-denied.md
Due: none

Apply suggestions from code review
  docs/user/apirule-migration/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/apirule-migration/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/apirule-migration/01-84-migrate-oauth2-v1beta1-to-v2.md
  docs/user/apirule-migration/01-85-apirule-migration-faq.md
  docs/user/apirule-migration/01-90-migrate-multiple-apirules-targeting-same-workload.md
Due: none

Add information to migration tutorials and FAQ.
  docs/user/apirule-migration/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/apirule-migration/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/apirule-migration/01-84-migrate-oauth2-v1beta1-to-v2.md
  docs/user/apirule-migration/01-85-apirule-migration-faq.md
  docs/user/apirule-migration/01-90-migrate-multiple-apirules-targeting-same-workload.md
  docs/user/apirule-migration/01-90-rbac-access-denied.md
Due: none

Add sidebars.
  docs/user/_sidebar.md
  docs/user/_sidebar.ts
Due: none

Adjust to universal title of new doc.
  docs/user/_sidebar.md
  docs/user/_sidebar.ts
  docs/user/apirule-migration/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/apirule-migration/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/apirule-migration/01-84-migrate-oauth2-v1beta1-to-v2.md
  docs/user/apirule-migration/01-85-apirule-migration-faq.md
  docs/user/apirule-migration/01-90-migrate-multiple-apirules-targeting-same-workload.md
  docs/user/apirule-migration/README.md
Due: none

Add tutorial for multiple apirules target dame workload migration guideline. (#2337)
  docs/user/_sidebar.md
  docs/user/_sidebar.ts
  docs/user/apirule-migration/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/apirule-migration/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/apirule-migration/01-84-migrate-oauth2-v1beta1-to-v2.md
  docs/user/apirule-migration/01-85-apirule-migration-faq.md
  docs/user/apirule-migration/01-90-migrate-multiple-apirules-targeting-same-workload.md
  docs/user/apirule-migration/README.md
Due: none

Add tutorial for multiple apirules target dame workload migration guideline. (#2337)
  docs/user/_sidebar.md
  docs/user/apirule-migration/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/apirule-migration/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/apirule-migration/01-84-migrate-oauth2-v1beta1-to-v2.md
  docs/user/apirule-migration/01-85-apirule-migration-faq.md
  docs/user/apirule-migration/01-90-migrate-multiple-apirules-targeting-same-workload.md
  docs/user/apirule-migration/README.md
Due: none

Add tutorial for multiple apirules target dame workload migration guideline. (#2337) (#2344)
  docs/user/_sidebar.md
  docs/user/apirule-migration/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/apirule-migration/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/apirule-migration/01-84-migrate-oauth2-v1beta1-to-v2.md
  docs/user/apirule-migration/01-85-apirule-migration-faq.md
  docs/user/apirule-migration/01-90-migrate-multiple-apirules-targeting-same-workload.md
  docs/user/apirule-migration/README.md
Due: none

Cryptographic standards adjustments: Change key size
  internal/reconciliations/oathkeeper/jwks_secret.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update 01-05-expose-workload-jwt.md
  docs/user/tutorials/01-05-expose-workload-jwt.md
Due: none

chore: update base image to commonly used distroless version
  Dockerfile
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

chore: update base image to commonly used distroless version (#2354)
  Dockerfile
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix linter issues
  tests/e2e/pkg/asserts/endpoint/endpoint.go
  tests/e2e/pkg/helpers/httpbin/httpbin.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

v2 e2e tests added to the new e2e framework
  .gitignore
  tests/e2e/pkg/asserts/apirule/apirule.go
  tests/e2e/pkg/asserts/endpoint/endpoint.go
  tests/e2e/pkg/helpers/httpbin/httpbin.go
  tests/e2e/pkg/helpers/httpbin/manifest_second.yaml
  tests/e2e/pkg/helpers/infrastructure/resource.go
  tests/e2e/pkg/helpers/modules/apigateway.go
  tests/e2e/pkg/helpers/oauth2/oauth2.go
  tests/e2e/pkg/helpers/testsetup/testsetup.go
  tests/e2e/tests/Makefile
  tests/e2e/tests/asterisk/asterisk_paths.yaml
  tests/e2e/tests/asterisk/asterisk_test.go
  tests/e2e/tests/cors/cors_custom.yaml
  tests/e2e/tests/cors/cors_default.yaml
  tests/e2e/tests/cors/cors_test.go
  tests/e2e/tests/expose_methods_on_paths/expose_methods_on_paths_test.go
  tests/e2e/tests/expose_methods_on_paths/paths_and_methods_jwt.yaml
  tests/e2e/tests/expose_methods_on_paths/paths_and_methods_noauth.yaml
  tests/e2e/tests/no_auth/no_auth_test.go
  tests/e2e/tests/no_auth/no_auth_wildcard.yaml
  tests/e2e/tests/no_auth/no_auth_wildcard_updated.yaml
  tests/e2e/tests/request/jwt_request_cookie.yaml
  tests/e2e/tests/request/jwt_request_header.yaml
  tests/e2e/tests/request/request_test.go
  tests/e2e/tests/service/service_custom_label_selector.yaml
  tests/e2e/tests/service/service_diff_same_methods.yaml
  tests/e2e/tests/service/service_fallback.yaml
  tests/e2e/tests/service/service_test.go
  tests/e2e/tests/service/service_two_namespaces.yaml
  tests/e2e/tests/short_host/short_host.yaml
  tests/e2e/tests/short_host/short_host_test.go
  tests/e2e/tests/validation/validation_error.yaml
  tests/e2e/tests/validation/validation_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

chore: automatic update sec-scanners-config.yaml (#2348)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove concurrency from update pull-build-push.yaml
  .github/workflows/pull-build-push.yaml
Due: none

Remove concurrency from update pull-build-push.yaml (#2355)
  .github/workflows/pull-build-push.yaml
Due: none

Update Vitepress sidebar
  docs/user/_sidebar.ts
Due: none

update crd
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Apply suggestions from code review
  docs/user/_sidebar.ts
Due: none

Update Vitepress sidebar (#2358)
  docs/user/_sidebar.ts
Due: none

review
  docs/user/_sidebar.ts
  docs/user/tutorials/01-10-mtls-authentication/README.md
  docs/user/tutorials/01-10-mtls-authentication/configure-mtls-Gardener-certs.md
  docs/user/tutorials/01-10-mtls-authentication/configure-mtls-k3d.md
Due: none

review fixes
  docs/user/tutorials/01-10-mtls-authentication/configure-mtls-Gardener-certs.md
  docs/user/tutorials/01-10-mtls-authentication/configure-mtls-k3d.md
Due: none

Update Vitepress sidebar (#2358) (#2359)
  docs/user/_sidebar.ts
Due: none

Apply suggestions from code review
  docs/user/tutorials/01-05-expose-workload-jwt.md
Due: none

update domain names
  docs/user/tutorials/01-05-expose-workload-jwt.md
Due: none

addverification steps
  docs/user/tutorials/01-05-expose-workload-jwt.md
Due: none

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)
