Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

pull-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

pull-api-gateway-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-lint
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
  ...

fix: correct typo in RateLimit targeting Istio ingress gateway step definition
  tests/integration/testsuites/rate-limit/scenario_initializers.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Checkout repo
  .github/workflows/cve-add-to-project.yaml
Due: none

bug: fix assignment of LastProcessedTime field in apirule_controller.go
  controllers/gateway/apirule_controller.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update and rename release-rollout-module.yaml (#2068)
  .github/workflows/release-module-config.yaml
Due: none

Update docs/user/README.md
  docs/user/README.md
Due: none

Add more info about gateway.
  docs/user/README.md
Due: none

Remove v1 docs
  docs/user/_sidebar.md
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/04-70-changes-in-apirule-v2.md
  docs/user/custom-resources/apirule/v1beta1-deprecated/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/v1beta1-deprecated/04-20-apirule-istio-jwt-access-strategy.md
  docs/user/custom-resources/apirule/v1beta1-deprecated/04-30-apirule-jwt-ory-and-istio-comparison.md
  docs/user/custom-resources/apirule/v1beta1-deprecated/04-40-apirule-mutators.md
  docs/user/custom-resources/apirule/v1beta1-deprecated/04-50-apirule-authorizations.md
  docs/user/custom-resources/apirule/v2alpha1/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/v2alpha1/04-15-api-rule-access-strategies.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/README.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v1beta1-deprecated/03-00-basic-diagnostics.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v1beta1-deprecated/03-01-401-unauthorized-403-forbidden.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v1beta1-deprecated/03-02-404-not-found.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v1beta1-deprecated/03-03-500-server-error.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v1beta1-deprecated/03-40-api-rule-troubleshooting.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v2alpha1/03-00-basic-diagnostics.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v2alpha1/03-01-401-unauthorized-403-forbidden.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v2alpha1/03-40-api-rule-troubleshooting.md
  docs/user/tutorials/01-40-expose-workload/README.md
  docs/user/tutorials/01-40-expose-workload/v1beta1-deprecated/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/v1beta1-deprecated/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/v1beta1-deprecated/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host-name.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/README.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta1-deprecated/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta1-deprecated/01-51-get-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta1-deprecated/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta1-deprecated/01-53-expose-and-secure-workload-istio.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v2alpha1/01-51-get-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v2alpha1/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v2alpha1/01-53-expose-and-secure-workload-ext-auth.md
Due: none

Update env-images.yaml
  config/manager/env-images.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add description of gateway functionality.
  docs/user/README.md
Due: none

Apply suggestions from code review
  docs/user/README.md
Due: none

Remove information about ory from README of APIGateway (#2065)
  docs/assets/operator-overview.svg
  docs/user/README.md
Due: none

Apply ignore statements only for gomod package ecosystem
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

jwt-test-new
  go.mod
  go.sum
  tests/e2e/README.md
  tests/e2e/pkg/asserts/apirule/apirule.go
  tests/e2e/pkg/helpers/http/http.go
  tests/e2e/pkg/helpers/httpbin/httpbin.go
  tests/e2e/pkg/helpers/httpbin/manifest.yaml
  tests/e2e/pkg/helpers/httpincluster/curl.go
  tests/e2e/pkg/helpers/infrastructure/client.go
  tests/e2e/pkg/helpers/infrastructure/namespace.go
  tests/e2e/pkg/helpers/infrastructure/resource.go
  tests/e2e/pkg/helpers/log/log.go
  tests/e2e/pkg/helpers/modules/apigateway.go
  tests/e2e/pkg/helpers/modules/operator_v1alpha1_apigateway.yaml
  tests/e2e/pkg/helpers/oauth2mock/manifest.yaml
  tests/e2e/pkg/helpers/oauth2mock/oauth2mock.go
  tests/e2e/pkg/helpers/testid/testid.go
  tests/e2e/pkg/setup/cleanup.go
  tests/e2e/tests/Makefile
  tests/e2e/tests/jwt/jwt_apirule.yaml
  tests/e2e/tests/jwt/jwt_apirule_with_scope.yaml
  tests/e2e/tests/jwt/jwt_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

workflow for running
  .github/workflows/call-pull-integration.yaml
  Makefile
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add readiness checks and deploy api-gateway CR
  tests/e2e/pkg/helpers/httpbin/manifest.yaml
  tests/e2e/pkg/helpers/oauth2mock/manifest.yaml
  tests/e2e/tests/jwt/jwt_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

notes and link fixes
  docs/contributor/adr/0007-apirule-v2alpha1-api-proposal.md
  docs/contributor/adr/0009-request-modifiers.md
  docs/release-notes/2.4.0.md
  docs/user/_sidebar.md
  docs/user/custom-resources/apigateway/04-10-kyma-gateway.md
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/04-70-changes-in-apirule-v2.md
  docs/user/custom-resources/apirule/README.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/03-00-basic-diagnostics.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/README.md
  docs/user/troubleshooting-guides/03-01-401-unauthorized-403-forbidden.md
  docs/user/troubleshooting-guides/03-10-dns-mgt-connection-refused.md
  docs/user/troubleshooting-guides/03-10-dns-mgt/README.md
  docs/user/troubleshooting-guides/03-11-dns-mgt-could-not-resolve-host.md
  docs/user/troubleshooting-guides/03-12-dns-mgt-resource-ignored.md
  docs/user/troubleshooting-guides/03-40-api-rule-troubleshooting.md
  docs/user/tutorials/01-40-expose-workload/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/README.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/README.md
Due: none

fix a link
  docs/user/troubleshooting-guides/03-01-401-unauthorized-403-forbidden.md
Due: none

remove httpbin guide
  docs/user/tutorials/01-00-create-workload.md
Due: none

update sidebar
  docs/user/_sidebar.md
Due: none

fix sidebar
  docs/user/_sidebar.md
Due: none

remove folders from troubleshooting guides
  docs/user/_sidebar.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/README.md
  docs/user/troubleshooting-guides/03-80-blocked-in-cluster-communication.md
  docs/user/troubleshooting-guides/03-81-missing-rules-apirule-v2.md
  docs/user/troubleshooting-guides/03-82-changed-status-schema-apirule-v2.md
  docs/user/troubleshooting-guides/03-84-missing-rules-apirule-v2alpha1.md
Due: none

Apply suggestions from code review
  docs/user/custom-resources/apirule/04-70-changes-in-apirule-v2.md
Due: none

Fix linting
  Makefile
  tests/e2e/pkg/helpers/infrastructure/namespace.go
  tests/e2e/tests/jwt/jwt_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Change testid pkg name, discover gateway
  tests/e2e/pkg/helpers/domain/domain.go
  tests/e2e/pkg/helpers/infrastructure/client.go
  tests/e2e/pkg/helpers/testsetup/testid.go
  tests/e2e/tests/jwt/jwt_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add another test, use unstructured for creation of resource, wait for Istio resoures
  tests/e2e/pkg/asserts/istio/istio.go
  tests/e2e/pkg/helpers/infrastructure/client.go
  tests/e2e/pkg/helpers/infrastructure/resource.go
  tests/e2e/tests/jwt/jwt_apirule_with_scope.yaml
  tests/e2e/tests/jwt/jwt_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Print CRs status after fail
  tests/e2e/pkg/asserts/apirule/apirule.go
  tests/e2e/pkg/helpers/modules/apigateway.go
  tests/e2e/pkg/helpers/testsetup/testsetup.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

chore: automatic update sec-scanners-config.yaml (#2080)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

docs: Update links
  docs/user/custom-resources/apigateway/04-10-kyma-gateway.md
Due: none

go mod tidy
  go.sum
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix lint
  internal/types/ory/oathkeeper-maester/api/v1alpha1/rule_types.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Adapt to mluk@sap.com review
  tests/e2e/pkg/helpers/httpbin/httpbin.go
  tests/e2e/pkg/helpers/oauth2/mock/manifest.yaml
  tests/e2e/pkg/helpers/oauth2/mock/oauth2mock.go
  tests/e2e/pkg/helpers/oauth2/oauth2.go
  tests/e2e/pkg/helpers/testsetup/testsetup.go
  tests/e2e/pkg/setup/cleanup.go
  tests/e2e/tests/jwt/jwt_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Go mod tidy
  go.mod
  go.sum
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)
