Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)

Change allowed path in wildcard from * to /*
  apis/gateway/v2alpha1/apirule_types.go
  apis/gateway/v2alpha1/rule.go
  apis/gateway/v2alpha1/rule_test.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  controllers/gateway/api_controller_integration_test.go
  docs/contributor/adr/0007-apirule-v2alpha1-api-proposal.md
  docs/user/custom-resources/apirule/v2alpha1/04-10-apirule-custom-resource.md
  internal/processing/processors/v2alpha1/authorizationpolicy/processor_test.go
  internal/processing/processors/v2alpha1/virtualservice/virtual_service_processor_test.go
  tests/integration/testsuites/v2alpha1/features/jwt.feature
  tests/integration/testsuites/v2alpha1/manifests/cors-custom.yaml
  tests/integration/testsuites/v2alpha1/manifests/cors-default.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add tests
  docs/contributor/adr/0007-apirule-v2alpha1-api-proposal.md
  docs/user/custom-resources/apirule/v2alpha1/04-10-apirule-custom-resource.md
  internal/processing/processors/v2alpha1/virtualservice/virtual_service_processor_test.go
  tests/integration/testsuites/v2alpha1/features/no_auth.feature
  tests/integration/testsuites/v2alpha1/manifests/no-auth-wildcard.yaml
  tests/integration/testsuites/v2alpha1/scenario_no_auth.go
  tests/integration/testsuites/v2alpha1/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add release notes
  docs/release-notes/2.7.0.md
  tests/integration/testsuites/v2alpha1/scenario_no_auth.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add Ory Oathkeeper passthrough during migration from beta to alpha
  internal/processing/processors/migration/processors.go
  internal/processing/processors/v2alpha1/authorizationpolicy/audience_test.go
  internal/processing/processors/v2alpha1/authorizationpolicy/creator.go
  internal/processing/processors/v2alpha1/authorizationpolicy/ext_auth_test.go
  internal/processing/processors/v2alpha1/authorizationpolicy/jwt_rules_test.go
  internal/processing/processors/v2alpha1/authorizationpolicy/no_auth_rules_test.go
  internal/processing/processors/v2alpha1/authorizationpolicy/processor.go
  internal/processing/processors/v2alpha1/authorizationpolicy/processor_test.go
  internal/processing/processors/v2alpha1/reconciliation.go
  internal/processing/processors/v2alpha1/reconciliation_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update integration test step selector
  tests/integration/testsuites/v2alpha1/features/jwt.feature
  tests/integration/testsuites/v2alpha1/features/no_auth.feature
  tests/integration/testsuites/v2alpha1/scenario_jwt_common.go
  tests/integration/testsuites/v2alpha1/scenario_no_auth.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update integration test step selector
  tests/integration/testsuites/v2alpha1/scenario_no_auth.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Release API Gateway 2.6.0 (#1298)
  VERSION
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Bump dependabot config for 2.6.0 release
  .github/dependabot.yml
Due: none

Bump dependabot config for 2.6.0 release (#1302)
  .github/dependabot.yml
Due: none

Update v2alpha1 APIRule rule path validation (#1285)
  apis/gateway/v2alpha1/apirule_types.go
  apis/gateway/v2alpha1/rule.go
  apis/gateway/v2alpha1/rule_test.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  controllers/gateway/api_controller_integration_test.go
  docs/contributor/adr/0007-apirule-v2alpha1-api-proposal.md
  docs/release-notes/2.7.0.md
  docs/user/custom-resources/apirule/v2alpha1/04-10-apirule-custom-resource.md
  internal/processing/processors/v2alpha1/authorizationpolicy/creator.go
  internal/processing/processors/v2alpha1/authorizationpolicy/processor_test.go
  internal/processing/processors/v2alpha1/virtualservice/virtual_service_processor.go
  internal/processing/processors/v2alpha1/virtualservice/virtual_service_processor_test.go
  tests/integration/testsuites/v2alpha1/features/jwt.feature
  tests/integration/testsuites/v2alpha1/features/no_auth.feature
  tests/integration/testsuites/v2alpha1/manifests/cors-custom.yaml
  tests/integration/testsuites/v2alpha1/manifests/no-auth-wildcard.yaml
  tests/integration/testsuites/v2alpha1/scenario_jwt_common.go
  tests/integration/testsuites/v2alpha1/scenario_no_auth.go
  tests/integration/testsuites/v2alpha1/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update manager tag in sec-scanners-config
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update manager tag in sec-scanners-config (#1305)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

bug: explicitly define that gateway runs on gardener
  apis/operator/v1alpha1/apigateway_types.go
  config/crd/bases/operator.kyma-project.io_apigateways.yaml
  config/samples/operator_v1alpha1_apigateway.yaml
  config/ui-extensions/apigateways/details
  config/ui-extensions/apigateways/form
  config/ui-extensions/apigateways/translations
  controllers/operator/apigateway_controller.go
  internal/reconciliations/gardener.go
  internal/reconciliations/gardener_test.go
  internal/reconciliations/gateway/certificate_test.go
  internal/reconciliations/gateway/gateway.go
  internal/reconciliations/gateway/gateway_test.go
  internal/reconciliations/oathkeeper/configmap_config.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Refactor according to review
  internal/processing/processors/migration/processors.go
  internal/processing/processors/v2alpha1/authorizationpolicy/audience_test.go
  internal/processing/processors/v2alpha1/authorizationpolicy/ext_auth_test.go
  internal/processing/processors/v2alpha1/authorizationpolicy/jwt_rules_test.go
  internal/processing/processors/v2alpha1/authorizationpolicy/no_auth_rules_test.go
  internal/processing/processors/v2alpha1/authorizationpolicy/processor.go
  internal/processing/processors/v2alpha1/authorizationpolicy/processor_test.go
  internal/processing/processors/v2alpha1/reconciliation.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update internal/processing/processors/v2alpha1/authorizationpolicy/creator.go
  internal/processing/processors/v2alpha1/authorizationpolicy/creator.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add Ory Oathkeeper passthrough during migration from beta to alpha (#1300)
  internal/processing/processors/migration/processors.go
  internal/processing/processors/v2alpha1/authorizationpolicy/creator.go
  internal/processing/processors/v2alpha1/authorizationpolicy/processor.go
  internal/processing/processors/v2alpha1/reconciliation_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add first simple version of zero downtime test script
  tests/integration/scripts/test-zero-downtime.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Geoblocking ADR draft
  docs/assets/geoblocking-SAP-service.drawio
  docs/assets/geoblocking-SAP-service.svg
  docs/assets/geoblocking-cr-controller.drawio
  docs/assets/geoblocking-cr-controller.svg
  docs/assets/geoblocking-custom-list.drawio
  docs/assets/geoblocking-custom-list.svg
  docs/assets/geoblocking-namespaces.drawio
  docs/assets/geoblocking-namespaces.svg
  docs/assets/geoblocking.drawio
  docs/assets/geoblocking.svg
  docs/contributor/adr/0010-geoblocking-draft.md
Due: none

Adjust migration notes
  docs/user/custom-resources/README.md
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/README.md
Due: none

remove migrate note
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/README.md
  docs/user/tutorials/01-40-expose-workload/README.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/README.md
Due: none

Adjust migration notes (#1310)
  docs/user/custom-resources/README.md
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/README.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/README.md
  docs/user/tutorials/01-40-expose-workload/README.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/README.md
Due: none

Short host validation
  apis/gateway/v2alpha1/apirule_types.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  controllers/gateway/api_controller_integration_test.go
  docs/user/custom-resources/apirule/v2alpha1/04-10-apirule-custom-resource.md
  internal/processing/processors/v2alpha1/authorizationpolicy/creator.go
  internal/validation/v2alpha1/hosts.go
  internal/validation/v2alpha1/hosts_test.go
  internal/validation/v2alpha1/v2alpha1.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

More validation
  controllers/gateway/api_controller_integration_test.go
  internal/validation/v2alpha1/hosts.go
  internal/validation/v2alpha1/hosts_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Default domain from non-kyma gateway
  controllers/gateway/apirule_controller.go
  docs/user/custom-resources/apirule/v2alpha1/04-10-apirule-custom-resource.md
  internal/processing/default_domain/default_domain.go
  internal/processing/default_domain/default_domain_test.go
  internal/processing/processors/v2alpha1/virtualservice/virtual_service_processor.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Extend script to send multiple requests in parallel and work with one hard-coded scenario execution
  Makefile
  internal/processing/processors/v2alpha1/authorizationpolicy/creator.go
  tests/integration/scripts/test-zero-downtime.sh
  tests/integration/testsuites/ory/features/v2alpha1_conversion.feature
  tests/integration/testsuites/ory/manifests/migration-allow-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-allow-v2alpha1.yaml
  tests/integration/testsuites/ory/manifests/migration-jwt-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-jwt-v2alpha1.yaml
  tests/integration/testsuites/ory/manifests/migration-noauth-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-noauth-v2alpha1.yaml
  tests/integration/testsuites/ory/manifests/migration-noop-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-noop-v2alpha1.yaml
  tests/integration/testsuites/ory/scenario.go
  tests/integration/testsuites/ory/scenario_migration_allow_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_jwt_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_noauth_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_noop_v1beta1.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Extend script to execute different scenarios sequentially
  tests/integration/scripts/test-zero-downtime.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

State
  apis/gateway/v2alpha1/apirule_types.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  controllers/gateway/api_controller_integration_test.go
  internal/helpers/hosts.go
  internal/helpers/hosts_test.go
  internal/processing/default_domain/default_domain.go
  internal/processing/default_domain/default_domain_test.go
  internal/processing/processors/v2alpha1/virtualservice/virtual_service_processor.go
  internal/processing/reconciliation.go
  internal/validation/v2alpha1/hosts.go
  internal/validation/v2alpha1/hosts_test.go
  internal/validation/validate.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add JWT handler and remove junit-report to avoid failing tests when running a single scenario
  tests/integration/main_test.go
  tests/integration/scripts/test-zero-downtime.sh
  tests/integration/testsuites/ory/manifests/migration-jwt-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-jwt-v2alpha1.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Improve zero downtime script and fix issue with integration test step
  Makefile
  tests/integration/scripts/test-zero-downtime.sh
  tests/integration/testsuites/ory/features/v2alpha1_conversion.feature
  tests/integration/testsuites/ory/scenario_migration_jwt_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_noop_v1beta1.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add docs for migration steps
  tests/integration/testsuites/ory/features/v2alpha1_conversion.feature
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add temporary GitHub Action job on PR to run downtime migration test
  .github/workflows/pull-integration.yaml
Due: none

Use TEST_DOMAIN set by env_vars.sh to get the host of the cluster
  tests/integration/scripts/test-zero-downtime.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Allow insecure requests to get the bearer token
  tests/integration/scripts/test-zero-downtime.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Change endpoint that is used for migration tests to avoid confusion
  tests/integration/scripts/test-zero-downtime.sh
  tests/integration/testsuites/ory/manifests/migration-allow-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-allow-v2alpha1.yaml
  tests/integration/testsuites/ory/manifests/migration-jwt-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-jwt-v2alpha1.yaml
  tests/integration/testsuites/ory/manifests/migration-noauth-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-noauth-v2alpha1.yaml
  tests/integration/testsuites/ory/manifests/migration-noop-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-noop-v2alpha1.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

State
  controllers/gateway/api_controller_integration_test.go
  controllers/gateway/apirule_controller.go
  internal/processing/processors/migration/processors.go
  internal/processing/processors/v2alpha1/reconciliation.go
  internal/processing/processors/v2alpha1/reconciliation_test.go
  internal/processing/processors/v2alpha1/status_test.go
  internal/processing/processors/v2alpha1/virtualservice/cors_test.go
  internal/processing/processors/v2alpha1/virtualservice/hosts_test.go
  internal/processing/processors/v2alpha1/virtualservice/http_matching_test.go
  internal/processing/processors/v2alpha1/virtualservice/request_test.go
  internal/processing/processors/v2alpha1/virtualservice/virtual_service_processor.go
  internal/processing/processors/v2alpha1/virtualservice/virtual_service_processor_test.go
  internal/validation/v2alpha1/hosts.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add zero downtime test job to main integration workflow
  .github/workflows/main-integration.yaml
  docs/contributor/04-30-ci-cd.md
Due: none

integration test
  controllers/gateway/api_controller_integration_test.go
  tests/integration/testsuites/v2alpha1/features/short_host.feature
  tests/integration/testsuites/v2alpha1/manifests/short-host.yaml
  tests/integration/testsuites/v2alpha1/scenario_short_host.go
  tests/integration/testsuites/v2alpha1/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Renamings and docs update
  apis/gateway/v2alpha1/apirule_types.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  controllers/gateway/api_controller_integration_test.go
  docs/contributor/adr/0007-apirule-v2alpha1-api-proposal.md
  docs/release-notes/2.7.0.md
  docs/user/custom-resources/apirule/v2alpha1/04-10-apirule-custom-resource.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-40-expose-workload/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-53-expose-and-secure-workload-istio.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v2alpha1/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-60-security/01-62-set-up-idp.md
  internal/helpers/hosts.go
  internal/helpers/hosts_test.go
  internal/processing/processors/v2alpha1/virtualservice/virtual_service_processor.go
  internal/validation/v2alpha1/hosts.go
  internal/validation/v2alpha1/hosts_test.go
  tests/integration/testsuites/v2alpha1/features/short_host.feature
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update internal/validation/v2alpha1/hosts.go
  internal/validation/v2alpha1/hosts.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update error message
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  controllers/gateway/api_controller_integration_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws
