Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

pull-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

pull-api-gateway-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-lint
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
  ...

fix: not needed scope
  tests/integration/testsuites/ory/manifests/migration-oauth2-intro-short-host-v1beta1.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: rename migration scenario file and update scenario initialization for short host, to long name of apirule
  tests/integration/testsuites/ory/manifests/migration-oauth2-intro-short-host-v1beta1.yaml
  tests/integration/testsuites/ory/scenario_migration_oauth2_introspection_short_host_v1beta1.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: e2e too long name for virtual service
  tests/integration/testsuites/ory/scenario_migration_oauth2_introspection_short_host_v1beta1.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update a tutorial of exposeing a workload with a certifiacte
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
Due: none

Fix formatting
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
Due: none

fix: reconciliation error in second step migration Ory to Istio of APIRule with short host (#1978)
  internal/processing/processors/migration/processors.go
  tests/integration/testsuites/ory/features/v2alpha1_conversion.feature
  tests/integration/testsuites/ory/manifests/migration-oauth2-intro-short-host-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-oauth2-introspection-v2alpha1-with-annotations-with-short-host.yaml
  tests/integration/testsuites/ory/scenario_migration_oauth2_introspection_short_host_v1beta1.go
  tests/integration/testsuites/ory/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

add missing json annotations
  apis/gateway/v1beta1/apirule_types.go
  apis/gateway/v2/apirule_types.go
  apis/gateway/v2alpha1/apirule_types.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add allow, noop, no_auth tutorial.
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-81-retrieve-v1beta1-spec.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
Due: none

gateway test manifest update
  tests/integration/testsuites/gateway/manifests/apirule.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Get staging configuration in a separate runnable
  controllers/gateway/apirule_controller.go
  controllers/gateway/types.go
  internal/environment/environment.go
  main.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Adapt tests
  controllers/gateway/suite_test.go
  internal/environment/environment.go
  main.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

istio-jwt manifest updates
  tests/integration/testsuites/custom-domain/manifests/no-access-strategy.yaml
  tests/integration/testsuites/custom-domain/manifests/oauth-strategy.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-default-cors.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-common.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-custom-label-selector.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-issuer-jwks-not-match.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-two-namespaces.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-unavailable-issuer.yaml
  tests/integration/testsuites/istio-jwt/manifests/paths-and-methods-allow-handler.yaml
  tests/integration/testsuites/istio-jwt/manifests/paths-and-methods-jwt-handler.yaml
  tests/integration/testsuites/istio-jwt/manifests/paths-and-methods-no-auth-handler.yaml
  tests/integration/testsuites/istio-jwt/manifests/paths-and-methods-noop-handler.yaml
  tests/integration/testsuites/istio-jwt/manifests/paths-and-methods-oauth2-handler.yaml
  tests/integration/testsuites/upgrade/manifests/istio-jwt-common.yaml
  tests/integration/testsuites/upgrade/manifests/istio-jwt-upgrade.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove vet from makefile
  Makefile
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix lint
  controllers/gateway/apirule_controller.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove vet from makefile (#1991)
  Makefile
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add unit test
  internal/environment/environment_suite_test.go
  internal/environment/environment_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: inconvenience in status conversions
  apis/gateway/v1beta1/apirule_conversion.go
  apis/gateway/v1beta1/apirule_types.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: inconvenience in status conversions (#1986)
  apis/gateway/v1beta1/apirule_conversion.go
  apis/gateway/v1beta1/apirule_types.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

idk
  apis/gateway/v1beta1/apirule_conversion.go
  apis/gateway/v2/apirule_conversion.go
  apis/gateway/v2alpha1/apirule_mutation.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

update
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
Due: none

remove httpbin reference
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
Due: none

Add jwt, oauth2 tutorials.
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-84-migrate-oauth2-v1beta1-to-v2.md
Due: none

Adjust tutorials.
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-81-retrieve-v1beta1-spec.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
Due: none

Adjust tutorial jwt.
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-83-migrate-jwt-v1beta1-to-v2.md
Due: none

istio-jwt manifests
  tests/integration/testsuites/istio-jwt/features/Istio_jwt_two_strategies.feature
  tests/integration/testsuites/istio-jwt/features/cors.feature
  tests/integration/testsuites/istio-jwt/features/istio_jwt.feature
  tests/integration/testsuites/istio-jwt/features/istio_jwt_mutators.feature
  tests/integration/testsuites/istio-jwt/manifests/istio-custom-cors.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-and-no-auth.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-and-oauth.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-and-unrestricted.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-audiences.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-diff-svc-same-methods.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-multiple-mutators.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-mutator-cookie.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-mutator-header.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-mutators-overwrite.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-scopes.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-service-fallback.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-token-from-headers.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-token-from-params.yaml
  tests/integration/testsuites/istio-jwt/scenario_audience.go
  tests/integration/testsuites/istio-jwt/scenario_custom_cors.go
  tests/integration/testsuites/istio-jwt/scenario_diff_svc_same_methods.go
  tests/integration/testsuites/istio-jwt/scenario_jwt_and_unrestricted.go
  tests/integration/testsuites/istio-jwt/scenario_jwt_multiple_mutators.go
  tests/integration/testsuites/istio-jwt/scenario_jwt_mutator_cookie.go
  tests/integration/testsuites/istio-jwt/scenario_jwt_mutator_header.go
  tests/integration/testsuites/istio-jwt/scenario_jwt_token_from.go
  tests/integration/testsuites/istio-jwt/scenario_noauth_and_jwt.go
  tests/integration/testsuites/istio-jwt/scenario_oauth_and_jwt.go
  tests/integration/testsuites/istio-jwt/scenario_scopes.go
  tests/integration/testsuites/istio-jwt/scenario_service_fallback.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Adjust tutorial extauth.
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-84-migrate-oauth2-v1beta1-to-v2.md
Due: none

ory manifests
  tests/integration/testsuites/ory/features/cors.feature
  tests/integration/testsuites/ory/features/v2alpha1_conversion.feature
  tests/integration/testsuites/ory/manifests/custom-cors.yaml
  tests/integration/testsuites/ory/manifests/default-cors.yaml
  tests/integration/testsuites/ory/manifests/delete-allow-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/delete-noauth-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/jwt-oauth-one-path-strategy.yaml
  tests/integration/testsuites/ory/manifests/jwt-oauth-strategy.yaml
  tests/integration/testsuites/ory/manifests/migration-allow-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-jwt-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-noauth-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-noop-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-oauth2-intro-short-host-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-oauth2-introspection-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/oauth-strategy.yaml
  tests/integration/testsuites/ory/manifests/paths-and-methods-allow-handler.yaml
  tests/integration/testsuites/ory/manifests/paths-and-methods-jwt-handler.yaml
  tests/integration/testsuites/ory/manifests/paths-and-methods-no-auth-handler.yaml
  tests/integration/testsuites/ory/manifests/paths-and-methods-noop-handler.yaml
  tests/integration/testsuites/ory/manifests/paths-and-methods-oauth2-handler.yaml
  tests/integration/testsuites/ory/manifests/secured-to-unsecured-2.yaml
  tests/integration/testsuites/ory/manifests/secured-to-unsecured.yaml
  tests/integration/testsuites/ory/manifests/service-per-path.yaml
  tests/integration/testsuites/ory/manifests/unsecured-to-secured-2.yaml
  tests/integration/testsuites/ory/manifests/unsecured-to-secured.yaml
  tests/integration/testsuites/ory/manifests/unsecured.yaml
  tests/integration/testsuites/ory/manifests/v1beta1-noop-updated.yaml
  tests/integration/testsuites/ory/manifests/v1beta1-noop.yaml
  tests/integration/testsuites/ory/scenario_custom_cors.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update busola highlights
  config/ui-extensions/apirules-v1beta1/details
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

chore: automatic update sec-scanners-config.yaml (#1998)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix typo.
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-81-retrieve-v1beta1-spec.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-84-migrate-oauth2-v1beta1-to-v2.md
Due: none

Add README.
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-84-migrate-oauth2-v1beta1-to-v2.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/README.md
Due: none

ory manifests
  tests/integration/pkg/helpers/api_rule.go
  tests/integration/testsuites/ory/features/apply_update.feature
  tests/integration/testsuites/ory/features/cors.feature
  tests/integration/testsuites/ory/features/v2alpha1_conversion.feature
  tests/integration/testsuites/ory/manifests/custom-cors.yaml
  tests/integration/testsuites/ory/manifests/default-cors.yaml
  tests/integration/testsuites/ory/manifests/delete-allow-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/delete-noauth-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/jwt-oauth-one-path-strategy.yaml
  tests/integration/testsuites/ory/manifests/jwt-oauth-strategy.yaml
  tests/integration/testsuites/ory/manifests/migration-allow-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-jwt-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-noauth-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-noop-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-oauth2-intro-short-host-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-oauth2-introspection-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/oauth-strategy.yaml
  tests/integration/testsuites/ory/manifests/paths-and-methods-allow-handler.yaml
  tests/integration/testsuites/ory/manifests/paths-and-methods-jwt-handler.yaml
  tests/integration/testsuites/ory/manifests/paths-and-methods-no-auth-handler.yaml
  tests/integration/testsuites/ory/manifests/paths-and-methods-noop-handler.yaml
  tests/integration/testsuites/ory/manifests/paths-and-methods-oauth2-handler.yaml
  tests/integration/testsuites/ory/manifests/service-per-path.yaml
  tests/integration/testsuites/ory/manifests/unsecured.yaml
  tests/integration/testsuites/ory/manifests/v1beta1-noop-updated.yaml
  tests/integration/testsuites/ory/manifests/v1beta1-noop.yaml
  tests/integration/testsuites/ory/scenario.go
  tests/integration/testsuites/ory/scenario_apply_update_noAuth_v1beta1.go
  tests/integration/testsuites/ory/scenario_custom_cors.go
  tests/integration/testsuites/ory/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

refactor helpers
  tests/integration/pkg/helpers/api_rule.go
  tests/integration/testsuites/ory/scenario.go
  tests/integration/testsuites/ory/scenario_migration_jwt_v1beta1.go
  tests/integration/testsuites/v2/scenario.go
  tests/integration/testsuites/v2alpha1/scenario.go
  tests/integration/testsuites/v2alpha1/scenario_initializers.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

remove empty steps
  tests/integration/testsuites/istio-jwt/features/istio_jwt.feature
  tests/integration/testsuites/istio-jwt/scenario.go
  tests/integration/testsuites/istio-jwt/scenario_jwt_issuer_jwks_not_match.go
  tests/integration/testsuites/istio-jwt/scenario_jwt_unavailable_issuer.go
  tests/integration/testsuites/v2/features/jwt.feature
  tests/integration/testsuites/v2/scenario.go
  tests/integration/testsuites/v2/scenario_initializers.go
  tests/integration/testsuites/v2alpha1/features/jwt.feature
  tests/integration/testsuites/v2alpha1/scenario.go
  tests/integration/testsuites/v2alpha1/scenario_initializers.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

remove illegal characters
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-and-no-auth.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-and-oauth.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-and-unrestricted.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-audiences.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-common.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-custom-label-selector.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-diff-svc-same-methods.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-issuer-jwks-not-match.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-multiple-mutators.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-mutator-cookie.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-mutator-header.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-mutators-overwrite.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-scopes.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-service-fallback.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-token-from-headers.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-token-from-params.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-two-namespaces.yaml
  tests/integration/testsuites/istio-jwt/manifests/paths-and-methods-jwt-handler.yaml
  tests/integration/testsuites/istio-jwt/manifests/paths-and-methods-oauth2-handler.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

unsecured content
  tests/integration/testsuites/ory/manifests/secured-to-unsecured-2.yaml
  tests/integration/testsuites/ory/manifests/secured-to-unsecured.yaml
  tests/integration/testsuites/ory/manifests/unsecured-to-secured-2.yaml
  tests/integration/testsuites/ory/manifests/unsecured-to-secured.yaml
  tests/integration/testsuites/ory/scenario_unsecured_to_secured_oauth_jwt.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

reconcile on annotation change
  controllers/gateway/apirule_controller.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update post review
  config/ui-extensions/apirules-v1beta1/list
  controllers/gateway/apirule_controller.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update warning
  controllers/gateway/apirule_controller.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)
