Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

pull-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

pull-api-gateway-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-lint
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
  ...

Add diagram
  docs/assets/jwt-netpols.svg
  docs/contributor/04-50-network-policy-scenarios.md
Due: none

add chapters
  docs/contributor/04-50-network-policy-scenarios.md
Due: none

Set GOMEMLIMIT env for manager deployment
  config/manager/manager.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Set GOMEMLIMIT env for manager deployment (#2488)
  config/manager/manager.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Replace gopkg.in/yaml.v2 with gopkg.in/yaml.v3
  go.mod
  go.sum
  internal/helpers/config.go
  tests/integration/testsuites/gateway/scenario.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

chore: automatic update sec-scanners-config.yaml (#2492)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add release report upload job to the release workflow
  .github/workflows/release-api-gateway-2.yaml
Due: none

Add kyma internal repository to ignored in the verify pins workflow
  .github/workflows/call-verify-commit-pins.yaml
Due: none

Add missing dependency to the slack notification
  .github/workflows/release-api-gateway-2.yaml
Due: none

Add missing permission for release artifact upload job
  .github/workflows/release-api-gateway-2.yaml
Due: none

cicd: cherry pick upload report (#2496)
  .github/workflows/call-verify-commit-pins.yaml
  .github/workflows/release-api-gateway-2.yaml
Due: none

chore: bump Kubernetes version to 1.34.3 for compatibility tests
  .github/actions/k8s-compatibility-test/action.yaml
  hack/ci/set-aws-compatibility-gardener.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

docker(deps): bump golang version to 1.25.7
  go.mod
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

chore: bump Kubernetes version to 1.34.3 for compatibility tests (#2497)
  .github/actions/k8s-compatibility-test/action.yaml
  hack/ci/set-aws-compatibility-gardener.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update APIRule docs
  docs/user/_sidebar.ts
  docs/user/custom-resources/ratelimit/04-00-ratelimit.md
  docs/user/os-quick-start.md
  docs/user/tutorials/01-10-istio-gateways/01-20-set-up-tls-gateway.md
  docs/user/tutorials/01-10-istio-gateways/01-30-configure-mtls-Gardener-certs.md
  docs/user/tutorials/01-10-istio-gateways/01-40-configure-mtls-k3d.md
  docs/user/tutorials/01-10-istio-gateways/01-50-mtls-context.md
  docs/user/tutorials/01-10-istio-gateways/README.md
  docs/user/tutorials/01-20-exposing-workloads/01-35-expose-workload-noauth-gardener.md
  docs/user/tutorials/01-20-exposing-workloads/01-36-expose-workload-noauth-k3d.md
  docs/user/tutorials/01-20-exposing-workloads/01-40-expose-workload-jwt.md
  docs/user/tutorials/01-20-exposing-workloads/01-53-expose-workload-extauth-client-credentials.md
  docs/user/tutorials/01-20-exposing-workloads/01-54-expose-workload-extauth-authorization-code.md
  docs/user/tutorials/01-20-exposing-workloads/01-55-ip-based-access-with-xff.md
  docs/user/tutorials/01-30-apirule-configuration-options/01-30-significance-of-rule-path-and-method-order.md
  docs/user/tutorials/01-30-apirule-configuration-options/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-30-apirule-configuration-options/01-43-expose-workload-short-host-name.md
  docs/user/tutorials/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-43-expose-workload-short-host-name.md
Due: none

fix sidebar
  docs/user/_sidebar.ts
  docs/user/tutorials/01-20-exposing-workloads/04-15-api-rule-access-strategies.md
  docs/user/tutorials/01-30-apirule-configuration-options/README.md
Due: none

chore: automatic update sec-scanners-config.yaml (#2500)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add description to deploy-pages workflow
  .github/workflows/deploy-pages.yaml
Due: none

Apply suggestion from @hyperspace-insights[bot]
  docs/user/tutorials/01-30-apirule-configuration-options/01-41-expose-multiple-workloads.md
Due: none

sidebar fix
  docs/user/_sidebar.ts
Due: none

docker(deps): update golang version from 1.25.0 to 1.25
  go.mod
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add GitHub Actions workflow for VitePress deployment (#2453)
  .github/workflows/call-verify-commit-pins.yaml
  .github/workflows/deploy-pages.yaml
Due: none

bump go version in go.mod
  go.mod
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix link for Gardener certificate management documentation
  docs/user/tutorials/01-10-mtls-authentication/configure-mtls-Gardener-certs.md
Due: none

Fix link for Gardener certificate management
  docs/user/tutorials/01-10-mtls-authentication/configure-mtls-Gardener-certs.md
Due: none

Fix links in TLS gateway setup tutorial
  docs/user/tutorials/01-20-set-up-tls-gateway.md
Due: none

Fix link for managing certificates with Gardener
  docs/user/tutorials/01-40-expose-workload-jwt.md
Due: none

chore: automatic update sec-scanners-config.yaml (#2511)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

sidebar updates
  docs/user/04-local-rate-limit.md
  docs/user/_sidebar.ts
  docs/user/apirule/01-35-expose-workload-noauth-gardener.md
  docs/user/apirule/01-36-expose-workload-noauth-k3d.md
  docs/user/apirule/01-40-expose-workload-jwt.md
  docs/user/apirule/01-41-expose-multiple-workloads.md
  docs/user/apirule/01-43-expose-workload-short-host-name.md
  docs/user/apirule/01-53-expose-workload-extauth-client-credentials.md
  docs/user/apirule/01-54-expose-workload-extauth-authorization-code.md
  docs/user/apirule/01-55-ip-based-access-with-xff.md
  docs/user/apirule/01-70-significance-of-rule-path-and-method-order.md
  docs/user/apirule/04-15-api-rule-access-strategies.md
  docs/user/apirule/README.md
  docs/user/istio-gateways/01-20-set-up-tls-gateway.md
  docs/user/istio-gateways/01-30-configure-mtls-Gardener-certs.md
  docs/user/istio-gateways/01-40-configure-mtls-k3d.md
  docs/user/istio-gateways/01-50-mtls-context.md
  docs/user/istio-gateways/README.md
  docs/user/security/01-62-set-up-idp.md
  docs/user/tutorials/README.md
Due: none

chore: automatic update sec-scanners-config.yaml (#2515)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

update structure
  docs/user/_sidebar.ts
  docs/user/apirule/04-15-api-rule-access-strategies.md
  docs/user/apirule/README.md
  docs/user/apirule/expose-multiple-workloads.md
  docs/user/apirule/expose-workload-short-host-name.md
  docs/user/apirule/extAuth/README.md
  docs/user/apirule/extAuth/expose-workload-extauth-authorization-code.md
  docs/user/apirule/extAuth/expose-workload-extauth-client-credentials.md
  docs/user/apirule/ip-based-access-with-xff.md
  docs/user/apirule/jwt/README.md
  docs/user/apirule/jwt/expose-workload-jwt.md
  docs/user/apirule/noAuth/README.md
  docs/user/apirule/noAuth/expose-workload-noauth-gardener.md
  docs/user/apirule/noAuth/expose-workload-noauth-k3d.md
  docs/user/apirule/significance-of-rule-path-and-method-order.md
  docs/user/custom-resources/apirule/README.md
  docs/user/istio-gateways/configure-mtls-Gardener-certs.md
  docs/user/istio-gateways/configure-mtls-k3d.md
  docs/user/istio-gateways/mtls-context.md
  docs/user/istio-gateways/set-up-tls-gateway.md
  docs/user/local-rate-limit.md
Due: none

update concepts
  docs/user/_sidebar.ts
  docs/user/apirule/extAuth/README.md
  docs/user/apirule/jwt/README.md
  docs/user/apirule/noAuth/README.md
  docs/user/expose-workloads/README.md
  docs/user/expose-workloads/expose-multiple-workloads.md
  docs/user/expose-workloads/expose-workload-short-host-name.md
  docs/user/expose-workloads/extAuth/README.md
  docs/user/expose-workloads/extAuth/expose-workload-extauth-authorization-code.md
  docs/user/expose-workloads/extAuth/expose-workload-extauth-client-credentials.md
  docs/user/expose-workloads/ip-based-access-with-xff.md
  docs/user/expose-workloads/jwt/README.md
  docs/user/expose-workloads/jwt/expose-workload-jwt.md
  docs/user/expose-workloads/noAuth/README.md
  docs/user/expose-workloads/noAuth/expose-workload-noauth-gardener.md
  docs/user/expose-workloads/noAuth/expose-workload-noauth-k3d.md
  docs/user/expose-workloads/significance-of-rule-path-and-method-order.md
Due: none

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)
