Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

pull-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

pull-api-gateway-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-lint
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
  ...

Reconcile deletion of configmaps
  internal/reconciliations/gateway/deletions.go
  internal/reconciliations/gateway/deletions_test.go
  internal/reconciliations/gateway/gateway.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

bump(gomod): cleanup gomod and use stable dependencies
  go.mod
  go.sum
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove deprecated build-engine: buildx
  .github/workflows/post-main-integration.yaml
  .github/workflows/release-api-gateway-2.yaml
  .github/workflows/release-create-release.yaml
Due: none

Fix link
  docs/contributor/01-20-api-gateway-dependencies.md
Due: none

Fix link (#2106)
  docs/contributor/01-20-api-gateway-dependencies.md
Due: none

Remove deprecated build-engine: buildx (#2105)
  .github/workflows/post-main-integration.yaml
  .github/workflows/release-api-gateway-2.yaml
  .github/workflows/release-create-release.yaml
Due: none

remove dashboard instructions for APIRules v1beta1 and v2alpha1
  docs/user/tutorials/01-40-expose-workload/v1beta1-deprecated/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/v1beta1-deprecated/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/v1beta1-deprecated/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta1-deprecated/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta1-deprecated/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta1-deprecated/01-53-expose-and-secure-workload-istio.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v2alpha1/01-52-expose-and-secure-workload-jwt.md
Due: none

go mod tidy + remove empty go file
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  go.mod
  internal/environment/environment_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove Kyma dashboard instructions
  docs/user/apirule-migration/01-81-retrieve-v1beta1-spec.md
  docs/user/tutorials/01-40-expose-workload/v1beta1-deprecated/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host-name.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta1-deprecated/01-53-expose-and-secure-workload-istio.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v2alpha1/01-52-expose-and-secure-workload-jwt.md
Due: none

revert
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta1-deprecated/01-53-expose-and-secure-workload-istio.md
Due: none

Remove unused code
  internal/types/ory/oathkeeper-maester/api/v1alpha1/defaults.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add variables
  .github/workflows/release-module-config.yaml
Due: none

Add variables
  .github/workflows/release-api-gateway-2.yaml
Due: none

Add variables
  .github/workflows/release-api-gateway-2.yaml
  .github/workflows/release-module-config.yaml
Due: none

Remove dashboard instructions for APIRules v1beta1 and v2alpha1 (#2107)
  docs/user/apirule-migration/01-81-retrieve-v1beta1-spec.md
  docs/user/tutorials/01-40-expose-workload/v1beta1-deprecated/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/v1beta1-deprecated/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/v1beta1-deprecated/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host-name.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta1-deprecated/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta1-deprecated/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v2alpha1/01-52-expose-and-secure-workload-jwt.md
Due: none

chore: automatic update sec-scanners-config.yaml (#2110)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Refactored ory zero downtime migration tests
  Makefile
  tests/integration/main_test.go
  tests/integration/pkg/tester/parallel_tester.go
  tests/integration/scripts/test-zero-downtime.sh
  tests/integration/testsuites/ory/features-zero-downtime-migration/zero-downtime-migration.feature
  tests/integration/testsuites/ory/scenario.go
  tests/integration/testsuites/ory/scenario_migration_allow_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_jwt_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_noauth_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_noop_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_oauth2_introspection_v1beta1.go
  tests/integration/testsuites/ory/testsuite.go
  tests/integration/testsuites/ory/zero_downtime.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Refactored ory zero downtime migration tests (#2113)
  Makefile
  tests/integration/main_test.go
  tests/integration/pkg/tester/parallel_tester.go
  tests/integration/scripts/test-zero-downtime.sh
  tests/integration/testsuites/ory/features-zero-downtime-migration/zero-downtime-migration.feature
  tests/integration/testsuites/ory/scenario.go
  tests/integration/testsuites/ory/scenario_migration_allow_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_jwt_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_noauth_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_noop_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_oauth2_introspection_v1beta1.go
  tests/integration/testsuites/ory/testsuite.go
  tests/integration/testsuites/ory/zero_downtime.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

chore: adjust views for apirules
  config/ui-extensions/apirules-v1beta1/dataSources
  config/ui-extensions/apirules-v1beta1/details
  config/ui-extensions/apirules-v1beta1/form
  config/ui-extensions/apirules-v1beta1/general
  config/ui-extensions/apirules-v1beta1/injections
  config/ui-extensions/apirules-v1beta1/kustomization.yaml
  config/ui-extensions/apirules-v1beta1/list
  config/ui-extensions/apirules-v1beta1/presets
  config/ui-extensions/apirules-v1beta1/translations
  config/ui-extensions/apirules-v2alpha1/dataSources
  config/ui-extensions/apirules-v2alpha1/details
  config/ui-extensions/apirules-v2alpha1/form
  config/ui-extensions/apirules-v2alpha1/general
  config/ui-extensions/apirules-v2alpha1/kustomization.yaml
  config/ui-extensions/apirules-v2alpha1/list
  config/ui-extensions/apirules-v2alpha1/presets
  config/ui-extensions/apirules-v2alpha1/translations
  config/ui-extensions/apirules/details
  config/ui-extensions/apirules/general
  config/ui-extensions/apirules/injections
  config/ui-extensions/apirules/kustomization.yaml
  config/ui-extensions/apirules/list
  config/ui-extensions/apirules/translations
  config/ui-extensions/kustomization.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

chore: remove UI tests
  .github/workflows/call-ui-tests.yaml
  .github/workflows/schedule-ui-tests.yaml
  hack/run-ui-tests-locally-k3d.sh
  tests/ui/.gitignore
  tests/ui/tests/README.md
  tests/ui/tests/cypress.config.ts
  tests/ui/tests/fixtures/.gitignore
  tests/ui/tests/fixtures/apiRule.yaml
  tests/ui/tests/fixtures/apiRuleV2alpha1.yaml
  tests/ui/tests/fixtures/namespace.yaml
  tests/ui/tests/fixtures/service.yaml
  tests/ui/tests/plugins/index.ts
  tests/ui/tests/scripts/k3d-ci-kyma-dashboard-integration.sh
  tests/ui/tests/scripts/k3d-local-dev.sh
  tests/ui/tests/support/apirule.ts
  tests/ui/tests/support/buttons.ts
  tests/ui/tests/support/combobox.ts
  tests/ui/tests/support/commands.ts
  tests/ui/tests/support/dashboard/config.ts
  tests/ui/tests/support/dashboard/index.ts
  tests/ui/tests/support/exceptions.ts
  tests/ui/tests/support/index.ts
  tests/ui/tests/support/input.ts
  tests/ui/tests/support/k8sclient/apiRule.ts
  tests/ui/tests/support/k8sclient/commands.ts
  tests/ui/tests/support/k8sclient/httpClient.ts
  tests/ui/tests/support/k8sclient/index.ts
  tests/ui/tests/support/k8sclient/kubeconfig.ts
  tests/ui/tests/support/k8sclient/loadFile.ts
  tests/ui/tests/support/k8sclient/namespace.ts
  tests/ui/tests/support/k8sclient/service.ts
  tests/ui/tests/support/list.ts
  tests/ui/tests/support/login.ts
  tests/ui/tests/support/navigation.ts
  tests/ui/tests/support/random.ts
  tests/ui/tests/support/status.ts
  tests/ui/tests/tests/api-rule-v2alpha1.spec.ts
  tests/ui/tests/tests/api-rule.spec.ts
  tests/ui/tests/tsconfig.json
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove v1beta1 from APIRule v2 view
  config/ui-extensions/apirules/general
  config/ui-extensions/apirules/list
  config/ui-extensions/apirules/translations
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-83-apirules-are-missing-from-kyma-dashboard.md
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add annotation info
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-83-apirules-are-missing-from-kyma-dashboard.md
Due: none

change negative to critical in status column
  config/ui-extensions/apirules/details
  config/ui-extensions/apirules/list
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Move maintain to solution
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-83-apirules-are-missing-from-kyma-dashboard.md
Due: none

Apply suggestions from code review
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-83-apirules-are-missing-from-kyma-dashboard.md
Due: none

Remove alert and translation
  config/ui-extensions/apirules/details
  config/ui-extensions/apirules/translations
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Adapt to review
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-83-apirules-are-missing-from-kyma-dashboard.md
Due: none

fix: APIRule conversion to support legacy gateway name format
  apis/gateway/v1beta1/apirule_conversion.go
  apis/gateway/v1beta1/apirule_conversion_test.go
  apis/gateway/v2/apirule_conversion.go
  apis/gateway/v2alpha1/apirule_types.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  controllers/gateway/apirule_controller.go
  internal/gatewaytranslator/gatewaytranslator.go
  internal/gatewaytranslator/gatewaytranslator_suite_test.go
  internal/gatewaytranslator/gatewaytranslator_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Combine OS release and module-manifest release (#2099)
  .github/workflows/release-api-gateway-2.yaml
  .github/workflows/release-module-config.yaml
Due: none

chore: automatic update sec-scanners-config.yaml (#2121)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Move APIRule CRD to be managed by reconciliation
  Makefile
  config/apirule_crd/bases/gateway.kyma-project.io_apirules.yaml
  config/apirule_crd/kustomization.yaml
  config/apirule_crd/kustomizeconfig.yaml
  config/apirule_crd/patches/cainjection_in_apirules.yaml
  config/apirule_crd/patches/cainjection_in_operator_apigateways.yaml
  config/apirule_crd/patches/webhook_in_apirules.yaml
  config/apirule_crd/patches/webhook_in_operator_apigateways.yaml
  internal/reconciliations/gateway/.gitignore
  internal/reconciliations/gateway/apirule_crd.go
  internal/reconciliations/gateway/gateway.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

release: update sec-scanners-config.yaml (#2124)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Generate crd in generate
  Makefile
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Upload the crd and add action to check generation
  .github/workflows/call-unit-lint.yaml
  Makefile
  hack/check_manifests_generate.sh
  internal/reconciliations/gateway/.gitignore
  internal/reconciliations/gateway/apirule_crd.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Checkout code
  .github/workflows/call-unit-lint.yaml
Due: none

Check if workflow works and adapt with --no-pager
  hack/check_manifests_generate.sh
  internal/reconciliations/gateway/apirule_crd.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Revert to correct
  internal/reconciliations/gateway/apirule_crd.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)
