Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

pull-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

pull-api-gateway-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-lint
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
  ...

Update call-verify-commit-pins.yaml
  .github/workflows/call-verify-commit-pins.yaml
Due: none

chore: automatic update sec-scanners-config.yaml (#2458)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Apply suggestions from code review
  docs/user/tutorials/01-35-expose-workload-noauth-gardener.md
  docs/user/tutorials/01-36-expose-workload-noauth-k3d.md
  docs/user/tutorials/01-41-expose-multiple-workloads.md
Due: none

Update 01-35-expose-workload-noauth-gardener.md
  docs/user/tutorials/01-35-expose-workload-noauth-gardener.md
Due: none

Release pipeline refactor
  .github/workflows/release-api-gateway.yaml
  scripts/create_changelog.sh
  scripts/create_draft_release.sh
  scripts/publish_assets.sh
  scripts/publish_release.sh
  scripts/update_release_in_dependabot.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Changes after review
  .github/workflows/release-api-gateway.yaml
Due: none

Remove bdba from sec scanners config
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Use new credential bindings for gardener
  hack/ci/set-aws-compatibility-gardener.sh
  hack/ci/set-aws-gardener.sh
  hack/ci/set-gcp-gardener.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix credentialsBindingName
  hack/ci/shoot_aws.yaml
  hack/ci/shoot_gcp.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Removing obsolete workflows
  .github/workflows/call-integration-release.yaml
  .github/workflows/release-api-gateway-1.yaml
  .github/workflows/release-api-gateway-2.yaml
Due: none

Release pipeline refactor - syntax fix
  scripts/publish_assets.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix(docker): update GODEBUG environment variable for FIPS mode (#2457)
  Dockerfile
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix issues blocking APIRule CRD deletion (#2422)
  controllers/gateway/api_controller_integration_test.go
  controllers/gateway/apirule_controller.go
  internal/processing/cleaner/cleaner.go
  internal/processing/cleaner/cleaner_test.go
  internal/processing/processing_test/test_utils.go
  internal/processing/processors/v2alpha1/requestauthentication/suite_test.go
  internal/subresources/repository.go
  internal/subresources/repository_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix deprecated functions
  apis/gateway/ratelimit/v1alpha1/ratelimit_types.go
  apis/gateway/v1beta1/apirule_webhook.go
  apis/gateway/v2/apirule_types.go
  apis/gateway/v2alpha1/apirule_mutation.go
  apis/gateway/v2alpha1/apirule_webhook.go
  apis/gateway/v2alpha1/zz_generated.deepcopy.go
  apis/operator/v1alpha1/apigateway_types.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add RN
  docs/release-notes/3.4.2.md
Due: none

Update docs/release-notes/3.4.2.md
  docs/release-notes/3.4.2.md
Due: none

Cherry-pick fixes for milestone 3.4.2 (#2471)
  Dockerfile
  controllers/gateway/api_controller_integration_test.go
  controllers/gateway/apirule_controller.go
  docs/release-notes/3.4.2.md
  internal/processing/cleaner/cleaner.go
  internal/processing/cleaner/cleaner_test.go
  internal/processing/processing_test/test_utils.go
  internal/processing/processors/v2alpha1/requestauthentication/suite_test.go
  internal/subresources/repository.go
  internal/subresources/repository_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Adding both release steps again
  .github/workflows/post-main-release-integration.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release-api-gateway-1.yaml
  .github/workflows/release-api-gateway-2.yaml
  .github/workflows/schedule-main-integration.yaml
Due: none

Adding back bdba into sec-scanners-config
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Removing paths ignore as the PR always expects some status
  .github/workflows/pull-request.yaml
Due: none

Fixed bdba check
  .github/workflows/release-api-gateway-2.yaml
Due: none

Update noauth tutorials (#2436)
  docs/user/00-05-domains-and-gateways.md
  docs/user/_sidebar.ts
  docs/user/tutorials/01-35-expose-workload-noauth-gardener.md
  docs/user/tutorials/01-36-expose-workload-noauth-k3d.md
  docs/user/tutorials/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-60-security/01-61-mtls-selfsign-client-certicate.md
Due: none

sidebar fix
  docs/user/_sidebar.ts
  docs/user/tutorials/01-40-expose-workload-noauth.md
Due: none

sidebar fix (#2481)
  docs/user/_sidebar.ts
  docs/user/tutorials/01-40-expose-workload-noauth.md
Due: none

Add tutorial for netpols
  docs/contributor/04-50-network-policy-scenarios.md
Due: none

Add diagrams
  docs/assets/expose-netpol.svg
  docs/assets/sidecar-netpol.svg
  docs/assets/sidecar-to-sidecar.svg
  docs/contributor/04-50-network-policy-scenarios.md
Due: none

Update docs/contributor/04-50-network-policy-scenarios.md
  docs/contributor/04-50-network-policy-scenarios.md
Due: none

Get last commiter for notifications
  .github/actions/slack-notification-failed-workflow/action.yaml
Due: none

PR pipeline simplification
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/wait-for-job-succeed-or-fail/action.yaml
  .github/workflows/call-pull-integration.yaml
  .github/workflows/pull-request.yaml
Due: none

Added missing new e2e tests
  .github/workflows/pull-request.yaml
Due: none

fix broken links
  docs/user/_sidebar.ts
  docs/user/tutorials/01-35-expose-workload-noauth-gardener.md
  docs/user/tutorials/01-60-security/README.md
  docs/user/tutorials/README.md
Due: none

fix duplicated link
  docs/user/tutorials/01-35-expose-workload-noauth-gardener.md
Due: none

chore: automatic update sec-scanners-config.yaml (#2483)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix broken links (#2486)
  docs/user/_sidebar.ts
  docs/user/tutorials/01-35-expose-workload-noauth-gardener.md
  docs/user/tutorials/01-60-security/README.md
  docs/user/tutorials/README.md
Due: none

Add JWT scenario
  docs/contributor/04-50-network-policy-scenarios.md
Due: none

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)
