Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-module-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)

test
  docs/user/tutorials/01-10-setup-custom-domain-for-workload.md
  docs/user/tutorials/01-20-set-up-tls-gateway.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
Due: none

test tabs
  docs/user/tutorials/01-10-setup-custom-domain-for-workload.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
Due: none

add cert tut
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
Due: none

Add extAuth and jwt tables
  docs/user/custom-resources/apigateway/apigateway-v1beta2-adr.md
Due: none

Remove restrictions from example
  docs/user/custom-resources/apigateway/apigateway-v1beta2-adr.md
Due: none

Apply suggestions from code review
  docs/user/custom-resources/apigateway/apigateway-v1beta2-adr.md
Due: none

Reformat tables
  docs/user/custom-resources/apigateway/apigateway-v1beta2-adr.md
Due: none

Update security scanner config
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update security scanner config (#978)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

small style fixes
  docs/user/tutorials/01-10-setup-custom-domain-for-workload.md
  docs/user/tutorials/01-40-expose-workload/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
Due: none

Fix wrong host in busola UI
  config/ui-extensions/apirules/details
  config/ui-extensions/apirules/list
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

POC v1beta1<->v1beta2
  apis/gateway/v1beta2/apirule_conversion.go
  apis/gateway/v1beta2/apirule_types.go
  apis/gateway/v1beta2/authorization.go
  apis/gateway/v1beta2/authorization_test.go
  apis/gateway/v1beta2/gateway_suite_test.go
  apis/gateway/v1beta2/groupversion_info.go
  apis/gateway/v1beta2/mutators.go
  apis/gateway/v1beta2/mutators_test.go
  apis/gateway/v1beta2/rule.go
  apis/gateway/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  config/crd/patches/webhook_in_apirules.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Adapt tests to latest Busola changes Add tests for APIRule host link
  tests/ui/tests/fixtures/apiRule.yaml
  tests/ui/tests/support/apirule.ts
  tests/ui/tests/support/buttons.ts
  tests/ui/tests/support/commands.ts
  tests/ui/tests/support/list.ts
  tests/ui/tests/tests/api-rule.spec.ts
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Apply suggestions from code review
  docs/user/tutorials/01-00-create-workload.md
  docs/user/tutorials/01-10-setup-custom-domain-for-workload.md
  docs/user/tutorials/01-20-set-up-tls-gateway.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-40-expose-workload/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-53-expose-and-secure-workload-istio.md
Due: none

Add host link from virtual service only if APIRule is in OK state, otherwise use a dummy link.
  config/ui-extensions/apirules/details
  config/ui-extensions/apirules/list
  tests/ui/tests/tests/api-rule.spec.ts
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Bump golang in tests
  .github/actions/integration-test-gardener/action.yaml
  .github/actions/integration-tests/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-test/action.yaml
Due: none

Transition to go-version-file
  .github/actions/integration-test-gardener/action.yaml
  .github/actions/integration-tests/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-test/action.yaml
Due: none

Bump golang in cicd test jobs (#983)
  .github/actions/integration-test-gardener/action.yaml
  .github/actions/integration-tests/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-test/action.yaml
Due: none

Use preferred format of gateways in APIRule preset and form
  config/ui-extensions/apirules/form
  config/ui-extensions/apirules/presets
  config/ui-extensions/apirules/translations
  tests/ui/tests/tests/api-rule.spec.ts
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update docs/user/tutorials/01-50-expose-and-secure-a-workload/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-50-expose-and-secure-workload-oauth2.md
Due: none

Simplify tests and try running them on chromium again
  tests/ui/tests/package.json
  tests/ui/tests/tests/api-rule.spec.ts
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update
  apis/gateway/v1beta2/apirule_types.go
  apis/gateway/v1beta2/rule.go
  apis/gateway/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update istio_jwt.feature
  tests/integration/testsuites/istio-jwt/features/istio_jwt.feature
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update istio_jwt.feature (#987)
  tests/integration/testsuites/istio-jwt/features/istio_jwt.feature
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

add Tim's suggestions
  docs/user/tutorials/01-10-setup-custom-domain-for-workload.md
  docs/user/tutorials/01-20-set-up-tls-gateway.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-40-expose-workload/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-52-expose-and-secure-workload-jwt.md
Due: none

change preset wording
  docs/user/tutorials/01-00-create-workload.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
Due: none

tabs not working
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
Due: none

test tabs
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
Due: none

fix tabs
  docs/user/tutorials/01-10-setup-custom-domain-for-workload.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-40-expose-workload/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-53-expose-and-secure-workload-istio.md
Due: none

small fixes
  docs/user/tutorials/01-10-setup-custom-domain-for-workload.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-40-expose-workload/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-51-get-jwt.md
Due: none

Fix wrong host in busola UI (#981)
  config/ui-extensions/apirules/details
  config/ui-extensions/apirules/form
  config/ui-extensions/apirules/list
  config/ui-extensions/apirules/presets
  config/ui-extensions/apirules/translations
  tests/ui/tests/fixtures/apiRule.yaml
  tests/ui/tests/package.json
  tests/ui/tests/support/apirule.ts
  tests/ui/tests/support/buttons.ts
  tests/ui/tests/support/commands.ts
  tests/ui/tests/support/list.ts
  tests/ui/tests/tests/api-rule.spec.ts
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Apply suggestions from code review
  docs/user/tutorials/01-10-setup-custom-domain-for-workload.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-40-expose-workload/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-53-expose-and-secure-workload-istio.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
Due: none

apply Iwona's suggestions
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-40-expose-workload/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-51-get-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-53-expose-and-secure-workload-istio.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
Due: none

Add UI instructions to API Gateway tutorials (#969)
  docs/user/tutorials/01-00-create-workload.md
  docs/user/tutorials/01-10-setup-custom-domain-for-workload.md
  docs/user/tutorials/01-20-set-up-tls-gateway.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-40-expose-workload/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-51-get-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-53-expose-and-secure-workload-istio.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
  docs/user/tutorials/01-60-security/01-61-mtls-selfsign-client-certicate.md
  docs/user/tutorials/01-60-security/01-62-set-up-idp.md
Due: none

Update security scanner config (#991)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

chore: add gitleaks to repo
  .github/workflows/pull-gitleaks.yaml
  .gitleaks.toml
Due: none
