Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)

Create FAQ for APIRule migration (#2220)
  docs/user/_sidebar.md
  docs/user/apirule-migration/01-85-apirule-migration-faq.md
Due: none

fix: stop using app label key to calculate desired state of RequestAuthentication (#2239)
  docs/release-notes/3.2.1.md
  docs/release-notes/3.2.3.md
  internal/processing/processors/request_authentication_processor.go
  internal/processing/processors/v2alpha1/requestauthentication/processor.go
  internal/processing/processors/v2alpha1/requestauthentication/service_selector_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: stop using app label key to calculate desired state of RequestAuthentication (#2239) (#2241)
  docs/release-notes/3.2.1.md
  docs/release-notes/3.2.3.md
  internal/processing/processors/request_authentication_processor.go
  internal/processing/processors/v2alpha1/requestauthentication/processor.go
  internal/processing/processors/v2alpha1/requestauthentication/service_selector_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Release Api Gateway 3.2.3 (#2242)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add more samples.
  docs/user/custom-resources/apirule/04-20-significance-of-rule-path-and-method-order.md
Due: none

add rns for apirule deletion part 2
  docs/release-notes/3.3.0.md
Due: none

fix title
  docs/release-notes/3.3.0.md
Due: none

Adjust other places with operators description.
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/04-20-significance-of-rule-path-and-method-order.md
  docs/user/custom-resources/apirule/04-70-changes-in-apirule-v2.md
Due: none

fix version
  docs/release-notes/3.3.0.md
Due: none

Delete bold lines and add operators part to the list.
  docs/user/custom-resources/apirule/04-20-significance-of-rule-path-and-method-order.md
Due: none

Set different k8s version for compatibility test
  .github/actions/k8s-compatibility-test-aws/action.yaml
  hack/ci/provision-gardener.sh
  hack/ci/set-aws-compatibility-gardener.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix a link
  docs/release-notes/3.3.0.md
Due: none

Make post main tests to run on push to release branches
  .github/workflows/post-main-integration.yaml
Due: none

Update 04-20-significance-of-rule-path-and-method-order.md
  docs/user/custom-resources/apirule/04-20-significance-of-rule-path-and-method-order.md
Due: none

Make post main tests to run on push to release branches (#2246)
  .github/workflows/post-main-integration.yaml
Due: none

Update after review
  .github/actions/k8s-compatibility-test-aws/action.yaml
  hack/ci/provision-gardener.sh
  hack/ci/set-aws-compatibility-gardener.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add RNs for step 2 of APIRule deletion (#2244)
  docs/release-notes/3.3.0.md
Due: none

Adapt domain to k3d
  tests/integration/pkg/hooks/api-gateway.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update deprecated CM
  tests/integration/pkg/hooks/api-gateway.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update oathkeeper wait
  tests/integration/pkg/hooks/api-gateway.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Disable v1beta1 APIRule for all clusters
  apis/gateway/v1beta1/apirule_webhook.go
  go.mod
  go.sum
  internal/access/access.go
  internal/access/access_cm.yaml
  internal/access/access_cm_wrong_domain.yaml
  internal/access/access_test.go
  internal/access/shoot_info_cm.yaml
  internal/reconciliations/oathkeeper/oathkeeper.go
  internal/signature/correctly_signed.sig
  internal/signature/pub_key.pgp
  internal/signature/signature.go
  internal/signature/signature_test.go
  internal/signature/signed_by_impersonated_key.sig
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix tests
  internal/reconciliations/oathkeeper/oathkeeper.go
  internal/reconciliations/oathkeeper/oathkeeper_test.go
  tests/e2e/pkg/helpers/modules/v1configmap.go
  tests/e2e/tests/jwt/jwt_test.go
  tests/integration/pkg/hooks/api-gateway.go
  tests/integration/testsuites/gateway/features/kyma_gateway.feature
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add docs
  docs/release-notes/3.4.0.md
Due: none

Update error msg
  apis/gateway/v1beta1/apirule_webhook.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove lint issue
  tests/e2e/tests/extauth/extauth_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add RNs for step 2 of APIRule deletion (#2244) (#2247)
  docs/release-notes/3.3.0.md
Due: none

Set different k8s version for compatibility test (#2245)
  .github/actions/k8s-compatibility-test-aws/action.yaml
  hack/ci/provision-gardener.sh
  hack/ci/set-aws-compatibility-gardener.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix bash if statement order in compatibility test
  hack/ci/provision-gardener.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Make post main tests to run on push to release branch
  .github/workflows/post-main-integration.yaml
Due: none

Make post main tests to run on push to release branch (#2249)
  .github/workflows/post-main-integration.yaml
Due: none

Apply suggestions from code review
  docs/user/custom-resources/apirule/04-20-significance-of-rule-path-and-method-order.md
  docs/user/custom-resources/apirule/04-70-changes-in-apirule-v2.md
Due: none

Update 04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
Due: none

fix: improve test logic for RequestAuthentication service selectors
  internal/processing/processors/v2alpha1/requestauthentication/service_selector_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Apply suggestions from code review
  docs/user/custom-resources/apirule/04-20-significance-of-rule-path-and-method-order.md
Due: none

Update list 04-20-significance-of-rule-path-and-method-order.md
  docs/user/custom-resources/apirule/04-20-significance-of-rule-path-and-method-order.md
Due: none

Apply suggestions from code review
  docs/release-notes/3.4.0.md
Due: none

release: update sec-scanners-config.yaml (#2253)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add curls.
  docs/user/custom-resources/apirule/04-20-significance-of-rule-path-and-method-order.md
Due: none
