Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)

[stage] Warning on v1beta1 (#1990)
  config/ui-extensions/apirules-v1beta1/details
  config/ui-extensions/apirules-v1beta1/list
  controllers/gateway/apirule_controller.go
  controllers/gateway/suite_test.go
  controllers/gateway/types.go
  internal/environment/environment.go
  internal/environment/environment_suite_test.go
  internal/environment/environment_test.go
  main.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

custom domain small adjustment
  tests/integration/testsuites/custom-domain/features/custom_domain.feature
  tests/integration/testsuites/custom-domain/manifests/no-access-strategy.yaml
  tests/integration/testsuites/custom-domain/manifests/oauth-strategy.yaml
  tests/integration/testsuites/custom-domain/scenario.go
  tests/integration/testsuites/istio-jwt/scenario_jwt_mutator_cookie.go
  tests/integration/testsuites/istio-jwt/scenario_jwt_mutator_header.go
  tests/integration/testsuites/istio-jwt/scenario_jwt_mutators_overwrite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

replace v2alpha1 to v2 in istio-jwt
  tests/integration/testsuites/istio-jwt/features/v2.feature
  tests/integration/testsuites/istio-jwt/features/v2alpha1.feature
  tests/integration/testsuites/istio-jwt/manifests/v2-istio-jwt.yaml
  tests/integration/testsuites/istio-jwt/manifests/v2-no-auth-handler.yaml
  tests/integration/testsuites/istio-jwt/scenario_v2.go
  tests/integration/testsuites/istio-jwt/scenario_v2alpha1.go
  tests/integration/testsuites/istio-jwt/testsuite.go
  tests/integration/testsuites/rate-limit/manifests/testing-app.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update 01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
Due: none

fix: APIRule helm upgrade scenario from v1beta1 to v2
  apis/gateway/v1beta1/apirule_conversion.go
  apis/gateway/v1beta1/apirule_conversion_test.go
  apis/gateway/v2/apirule_conversion.go
  apis/gateway/v2alpha1/apirule_mutation.go
  controllers/gateway/api_controller_integration_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update apis/gateway/v1beta1/apirule_conversion.go
  apis/gateway/v1beta1/apirule_conversion.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-81-missing-rules-apirule-v2.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-81-missing-rules-apirule-v2.md
Due: none

Apply suggestions from code review
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-84-missing-rules-apirule-v2alpha1.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/README.md
Due: none

update documentation
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-81-missing-rules-apirule-v2.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-83-missing-hosts-in-apirules-list.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-84-empty-apirule-v2alpha1-spec.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-84-missing-rules-apirule-v2alpha1.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/README.md
Due: none

fix: missing error check
  apis/gateway/v2/apirule_conversion.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add release notes for v3.2.0: fix conversion from v1beta1 to v2 APIRule
  docs/release-notes/3.2.0.md
Due: none

Add info about missing rules.
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-81-retrieve-v1beta1-spec.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-84-migrate-oauth2-v1beta1-to-v2.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/README.md
Due: none

Adjust NOTE.
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/tutorials/01-80-migrate-v1beta1-to-v2/01-84-migrate-oauth2-v1beta1-to-v2.md
Due: none

Delete previous migration procedure.
  docs/user/custom-resources/apirule/04-60-apirule-migration.md
Due: none

Update docs/release-notes/3.2.0.md
  docs/release-notes/3.2.0.md
Due: none

fix: APIRule helm upgrade scenario from v1beta1 to v2 (#2001)
  apis/gateway/v1beta1/apirule_conversion.go
  apis/gateway/v1beta1/apirule_conversion_test.go
  apis/gateway/v2/apirule_conversion.go
  apis/gateway/v2alpha1/apirule_mutation.go
  controllers/gateway/api_controller_integration_test.go
  docs/release-notes/3.2.0.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-81-missing-rules-apirule-v2.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-83-missing-hosts-in-apirules-list.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-84-empty-apirule-v2alpha1-spec.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-84-missing-rules-apirule-v2alpha1.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/README.md
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: introduce service informer for v2alpha1 (#1957)
  apis/gateway/v2/apirule_conversion.go
  controllers/gateway/apirule_controller.go
  controllers/gateway/informers.go
  controllers/gateway/suite_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: Zero downtime migration regression by annotation predicate (#1981)
  controllers/gateway/apirule_controller.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: reconciliation error in second step migration Ory to Istio of APIRule with short host (#1978)
  internal/processing/processors/migration/processors.go
  tests/integration/testsuites/ory/features/v2alpha1_conversion.feature
  tests/integration/testsuites/ory/manifests/migration-oauth2-intro-short-host-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-oauth2-introspection-v2alpha1-with-annotations-with-short-host.yaml
  tests/integration/testsuites/ory/scenario_migration_oauth2_introspection_short_host_v1beta1.go
  tests/integration/testsuites/ory/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: APIRule helm upgrade scenario from v1beta1 to v2 (#2001)
  apis/gateway/v1beta1/apirule_conversion.go
  apis/gateway/v1beta1/apirule_conversion_test.go
  apis/gateway/v2/apirule_conversion.go
  apis/gateway/v2alpha1/apirule_mutation.go
  controllers/gateway/api_controller_integration_test.go
  controllers/gateway/suite_test.go
  docs/release-notes/3.2.0.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-81-missing-rules-apirule-v2.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-83-missing-hosts-in-apirules-list.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-84-empty-apirule-v2alpha1-spec.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-84-missing-rules-apirule-v2alpha1.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/README.md
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

RN 3.1.1
  docs/release-notes/3.1.1.md
Due: none

release: update sec-scanners-config.yaml (#2003)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

review changes
  apis/gateway/v2/apirule_conversion.go
  apis/gateway/v2alpha1/apirule_mutation.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix tabs
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
Due: none

Fix broken links
  docs/user/_sidebar.md
Due: none

Fix broken links (#2004)
  docs/user/_sidebar.md
Due: none

Fix broken links (#2004) (#2005)
  docs/user/_sidebar.md
Due: none

fix upgrade tests and resolve typo in custom-domain tests
  tests/integration/testsuites/custom-domain/manifests/oauth-strategy.yaml
  tests/integration/testsuites/upgrade/manifests/istio-jwt-common.yaml
  tests/integration/testsuites/upgrade/manifests/istio-jwt-upgrade.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix upgrade tests and resolve typo in custom-domain tests (#2006)
  tests/integration/testsuites/custom-domain/manifests/oauth-strategy.yaml
  tests/integration/testsuites/upgrade/manifests/istio-jwt-common.yaml
  tests/integration/testsuites/upgrade/manifests/istio-jwt-upgrade.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

upgrade: use annotation check from ory tests
  tests/integration/testsuites/upgrade/scenario.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

upgrade: use annotation check from ory tests (#2007)
  tests/integration/testsuites/upgrade/scenario.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

chore: automatic update sec-scanners-config.yaml (#2008)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

small fixes
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
Due: none

fixes
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
Due: none

Remove obsolete entry from sidebar
  docs/user/_sidebar.md
Due: none

bug: fix assignment of LastProcessedTime field in apirule_controller.go
  controllers/gateway/apirule_controller.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

bug: rollback curlimages/curl to 8.13.0
  tests/integration/pkg/helpers/curl.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws
