Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)

add ignore all
  docs/user/custom-resources/apirule/v1beta2/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/v1beta2/04-40-apirule-mutators.md
Due: none

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update sec-scanners-config.yaml (#1086)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Run tests on gardener live
  hack/ci/gardener_kubeconfig.sh
  tests/integration/scripts/custom-domain-gardener-aws-gh.sh
  tests/integration/scripts/custom-domain-gardener-gcp-gh.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Temporarily run gardener tests on PR
  .github/workflows/pull-integration.yaml
Due: none

Fix wrong token
  hack/ci/gardener_kubeconfig.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Use gardener live env
  .github/actions/integration-test-gardener/action.yaml
Due: none

Revert
  .github/actions/integration-test-gardener/action.yaml
Due: none

Revert obsolete changes
  .github/workflows/pull-integration.yaml
Due: none

Run tests on gardener live (#1087)
  hack/ci/gardener_kubeconfig.sh
  tests/integration/scripts/custom-domain-gardener-aws-gh.sh
  tests/integration/scripts/custom-domain-gardener-gcp-gh.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix gardener token name [skip ci]
  .github/actions/integration-test-gardener/action.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-release.yaml
Due: none

Fix gardener token name [skip ci] (#1089)
  .github/actions/integration-test-gardener/action.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-release.yaml
Due: none

Revert separate variable for Gardener live
  .github/actions/integration-test-gardener/action.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-release.yaml
  hack/ci/gardener_kubeconfig.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix typo
  hack/ci/gardener_kubeconfig.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix typo (#1091)
  hack/ci/gardener_kubeconfig.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Apply suggestions from code review
  docs/user/_sidebar.md
  docs/user/custom-resources/README.md
  docs/user/custom-resources/apirule/README.md
  docs/user/custom-resources/apirule/v1beta2/04-15-api-rule-access-strategies.md
Due: none

apply Tim's suggestions
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/v1beta2/04-15-api-rule-access-strategies.md
  docs/user/custom-resources/apirule/v1beta2/04-40-apirule-mutators.md
Due: none

Revert separate variable for Gardener live (#1090)
  .github/actions/integration-test-gardener/action.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-release.yaml
  hack/ci/gardener_kubeconfig.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

troubleshooting fixes
  docs/user/custom-resources/apirule/v1beta2/04-10-apirule-custom-resource.md
  docs/user/troubleshooting-guides/03-40-api-rule-troubleshooting.md
Due: none

Add integration tests for deletion of v1beta1 rules
  tests/integration/pkg/resource/manager.go
  tests/integration/testsuites/ory/features/v1beta2_conversion.feature
  tests/integration/testsuites/ory/manifests/v1beta1-allow-delete.yaml
  tests/integration/testsuites/ory/manifests/v1beta1-noauth-delete.yaml
  tests/integration/testsuites/ory/scenario.go
  tests/integration/testsuites/ory/scenario_v1beta1_allow_delete.go
  tests/integration/testsuites/ory/scenario_v1beta1_noAuth_delete.go
  tests/integration/testsuites/ory/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add integration tests for migration of v1beta1 rules
  tests/integration/pkg/helpers/api_rule.go
  tests/integration/testsuites/ory/features/v1beta2_conversion.feature
  tests/integration/testsuites/ory/manifests/delete-allow-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/delete-noauth-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-allow-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-allow-v1beta2.yaml
  tests/integration/testsuites/ory/manifests/migration-jwt-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-jwt-v1beta2.yaml
  tests/integration/testsuites/ory/manifests/migration-noauth-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-noauth-v1beta2.yaml
  tests/integration/testsuites/ory/manifests/migration-noop-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-noop-v1beta2.yaml
  tests/integration/testsuites/ory/scenario.go
  tests/integration/testsuites/ory/scenario_delete_allow_v1beta1.go
  tests/integration/testsuites/ory/scenario_delete_noAuth_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_allow_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_jwt_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_noauth_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_noop_v1beta1.go
  tests/integration/testsuites/ory/scenario_v1beta1_allow_delete.go
  tests/integration/testsuites/ory/scenario_v1beta1_noAuth_delete.go
  tests/integration/testsuites/ory/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Retrigger prow
  Makefile
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

update mtls and add beta2 troubleshooting
  docs/user/00-20-overview-api-rule-controller.md
  docs/user/troubleshooting-guides/03-40-api-rule-v1beta2-troubleshooting.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
Due: none

Update security scanner config
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update security scanner config (#1094)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

remove last paragraph
  docs/user/_sidebar.md
  docs/user/troubleshooting-guides/03-40-api-rule-v1beta2-troubleshooting.md
Due: none

mtls fix
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
Due: none

sidebar n links
  docs/user/_sidebar.md
  docs/user/custom-resources/README.md
  docs/user/custom-resources/apigateway/README.md
  docs/user/custom-resources/apirule/README.md
  docs/user/troubleshooting-guides/03-40-api-rule-troubleshooting.md
Due: none

remove handler usage in b2 docs
  docs/user/custom-resources/apirule/v1beta2/04-15-api-rule-access-strategies.md
Due: none

[skip ci] Fix linting issues
  tests/integration/testsuites/ory/scenario.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

revert troubleshooting changes
  docs/user/_sidebar.md
  docs/user/troubleshooting-guides/03-40-api-rule-v1beta2-troubleshooting.md
Due: none

revert troubleshooting changes
  docs/user/troubleshooting-guides/03-40-api-rule-troubleshooting.md
Due: none

revert
  docs/user/_sidebar.md
Due: none

Adjust docu to v1beta2 APIRule (#1082)
  docs/user/00-20-overview-api-rule-controller.md
  docs/user/_sidebar.md
  docs/user/custom-resources/README.md
  docs/user/custom-resources/apigateway/README.md
  docs/user/custom-resources/apirule/04-40-apirule-mutators.md
  docs/user/custom-resources/apirule/04-60-apirule-v1beta2-custom-resource.md
  docs/user/custom-resources/apirule/README.md
  docs/user/custom-resources/apirule/v1beta2/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/v1beta2/04-15-api-rule-access-strategies.md
  docs/user/troubleshooting-guides/03-40-api-rule-troubleshooting.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-40-expose-workload/README.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/README.md
Due: none

Update v1beta1 to v1beta2 conversion by removing error and returning empty spec for unsupported conversions
  apis/gateway/v1beta2/apirule_conversion.go
  apis/gateway/v1beta2/apirule_conversion_test.go
  apis/gateway/v1beta2/apirule_types.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Move jwt_conversion code to separate file
  apis/gateway/v1beta2/apirule_conversion.go
  apis/gateway/v1beta2/jwt_conversion.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

adjust troubleshooting section to the new version of ApiRule
  docs/user/_sidebar.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/03-00-basic-diagnostics.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/03-40-api-rule-troubleshooting.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/README.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v1beta2/03-00-basic-diagnostics.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v1beta2/03-01-401-unauthorized-403-forbidden.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v1beta2/03-40-api-rule-troubleshooting.md
Due: none

add readme
  docs/user/_sidebar.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/03-00-basic-diagnostics.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/README.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v1beta2/03-00-basic-diagnostics.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v1beta2/03-40-api-rule-troubleshooting.md
  docs/user/tutorials/README.md
Due: none

small fixes
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/03-00-basic-diagnostics.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v1beta2/03-00-basic-diagnostics.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v1beta2/03-01-401-unauthorized-403-forbidden.md
Due: none

small fixes
  docs/user/_sidebar.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/03-00-basic-diagnostics.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/v1beta2/03-00-basic-diagnostics.md
Due: none
