Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)

fix: update RateLimit resource handling in After and improve test scenarios for Istio ingress gateway
  tests/integration/pkg/client/client.go
  tests/integration/testsuites/rate-limit/scenario.go
  tests/integration/testsuites/rate-limit/scenario_initializers.go
  tests/integration/testsuites/rate-limit/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: correct typo in RateLimit targeting Istio ingress gateway step definition
  tests/integration/testsuites/rate-limit/scenario_initializers.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: implement deletion of RateLimit resources in api-gateway
  tests/integration/pkg/hooks/api-gateway.go
  tests/integration/testsuites/rate-limit/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

documentation: update RateLimit CRD configuration description
  docs/user/custom-resources/ratelimit/04-00-ratelimit.md
Due: none

fix: improve rate limit configuration for Istio ingress gateway
  internal/ratelimit/ratelimit.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: local rate limiting targeting Istio ingress gateway
  internal/ratelimit/ratelimit.go
  internal/ratelimit/ratelimit_test.go
  tests/integration/testsuites/rate-limit/features/local_rate_limit_targeting_ingress_gateway.feature
  tests/integration/testsuites/rate-limit/manifests/ratelimit-ingressgateway-header-based.yaml
  tests/integration/testsuites/rate-limit/manifests/ratelimit-ingressgateway-path-and-header-based.yaml
  tests/integration/testsuites/rate-limit/manifests/ratelimit-ingressgateway-path-based.yaml
  tests/integration/testsuites/rate-limit/scenario.go
  tests/integration/testsuites/rate-limit/scenario_initializers.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: update RateLimit ingressgateway test resources namespace to istio-system
  tests/integration/testsuites/rate-limit/manifests/ratelimit-ingressgateway-header-based.yaml
  tests/integration/testsuites/rate-limit/manifests/ratelimit-ingressgateway-path-and-header-based.yaml
  tests/integration/testsuites/rate-limit/manifests/ratelimit-ingressgateway-path-based.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: enhance validation logic for RateLimit custom resource
  internal/ratelimit/validate.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

refactor: return error when get list of resource fail
  tests/integration/pkg/hooks/api-gateway.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: local rate limiting targeting Istio ingress gateway
  tests/integration/testsuites/rate-limit/features/local_rate_limit_targeting_ingress_gateway.feature
  tests/integration/testsuites/rate-limit/manifests/ratelimit-ingressgateway-header-based.yaml
  tests/integration/testsuites/rate-limit/manifests/ratelimit-ingressgateway-path-and-header-based.yaml
  tests/integration/testsuites/rate-limit/manifests/ratelimit-ingressgateway-path-based.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove old comment
  tests/e2e/pkg/helpers/httpbin/httpbin.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: improve RateLimit resource handling and deletion logic in api-gateway e2e
  tests/integration/pkg/hooks/api-gateway.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update docs/user/custom-resources/ratelimit/04-00-ratelimit.md
  docs/user/custom-resources/ratelimit/04-00-ratelimit.md
Due: none

fix: local rate limiting targeting Istio ingress gateway (#2064)
  docs/user/custom-resources/ratelimit/04-00-ratelimit.md
  internal/ratelimit/ratelimit.go
  internal/ratelimit/ratelimit_test.go
  internal/ratelimit/validate.go
  tests/integration/pkg/client/client.go
  tests/integration/pkg/hooks/api-gateway.go
  tests/integration/testsuites/rate-limit/features/local_rate_limit.feature
  tests/integration/testsuites/rate-limit/features/local_rate_limit_targeting_ingress_gateway.feature
  tests/integration/testsuites/rate-limit/manifests/ratelimit-ingressgateway-header-based.yaml
  tests/integration/testsuites/rate-limit/manifests/ratelimit-ingressgateway-path-and-header-based.yaml
  tests/integration/testsuites/rate-limit/manifests/ratelimit-ingressgateway-path-based.yaml
  tests/integration/testsuites/rate-limit/scenario.go
  tests/integration/testsuites/rate-limit/scenario_initializers.go
  tests/integration/testsuites/rate-limit/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

JWT test using the new approach (#2082)
  .github/workflows/call-pull-integration.yaml
  Makefile
  go.mod
  go.sum
  tests/e2e/README.md
  tests/e2e/pkg/asserts/apirule/apirule.go
  tests/e2e/pkg/asserts/istio/istio.go
  tests/e2e/pkg/helpers/domain/domain.go
  tests/e2e/pkg/helpers/http/http.go
  tests/e2e/pkg/helpers/httpbin/httpbin.go
  tests/e2e/pkg/helpers/httpbin/manifest.yaml
  tests/e2e/pkg/helpers/httpincluster/curl.go
  tests/e2e/pkg/helpers/infrastructure/client.go
  tests/e2e/pkg/helpers/infrastructure/namespace.go
  tests/e2e/pkg/helpers/infrastructure/resource.go
  tests/e2e/pkg/helpers/log/log.go
  tests/e2e/pkg/helpers/modules/apigateway.go
  tests/e2e/pkg/helpers/modules/operator_v1alpha1_apigateway.yaml
  tests/e2e/pkg/helpers/oauth2/mock/manifest.yaml
  tests/e2e/pkg/helpers/oauth2/mock/oauth2mock.go
  tests/e2e/pkg/helpers/oauth2/oauth2.go
  tests/e2e/pkg/helpers/testsetup/testsetup.go
  tests/e2e/pkg/setup/cleanup.go
  tests/e2e/tests/Makefile
  tests/e2e/tests/jwt/jwt_apirule.yaml
  tests/e2e/tests/jwt/jwt_apirule_with_scope.yaml
  tests/e2e/tests/jwt/jwt_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove stage discovery and set warning for v1beta1 for all environments
  controllers/gateway/apirule_controller.go
  controllers/gateway/suite_test.go
  controllers/gateway/types.go
  internal/environment/environment.go
  internal/environment/environment_suite_test.go
  internal/environment/environment_test.go
  main.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

feat: Put deployed images in environment variables
  Makefile
  config/manager/env-images.yaml
  hack/generate_sec_scanners_images_env.sh
  internal/reconciliations/oathkeeper/deployment.go
  internal/reconciliations/oathkeeper/deployment.yaml
  internal/reconciliations/oathkeeper/deployment_light.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Set oathkeeper images in environment variables
  controllers/operator/apigateway_controller_integration_test.go
  controllers/operator/apigateway_controller_test.go
  internal/environment/environment_test.go
  internal/reconciliations/oathkeeper/deployment_test.go
  internal/reconciliations/oathkeeper/hpa_test.go
  internal/reconciliations/oathkeeper/oathkeeper_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

bump(gomod): cleanup gomod and use stable dependencies
  go.mod
  go.sum
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update release-api-gateway-1.yaml
  .github/workflows/release-api-gateway-1.yaml
Due: none

Update release-api-gateway-2.yaml
  .github/workflows/release-api-gateway-2.yaml
Due: none

feat: Put deployed images in environment variables (#2088)
  Makefile
  config/manager/env-images.yaml
  controllers/operator/apigateway_controller_integration_test.go
  controllers/operator/apigateway_controller_test.go
  hack/generate_sec_scanners_images_env.sh
  internal/environment/environment_test.go
  internal/reconciliations/oathkeeper/deployment.go
  internal/reconciliations/oathkeeper/deployment.yaml
  internal/reconciliations/oathkeeper/deployment_light.yaml
  internal/reconciliations/oathkeeper/deployment_test.go
  internal/reconciliations/oathkeeper/hpa_test.go
  internal/reconciliations/oathkeeper/oathkeeper_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Adapt tests
  controllers/gateway/api_controller_integration_test.go
  controllers/gateway/apirule_controller.go
  controllers/gateway/apirule_controller_status_integration_test.go
  controllers/gateway/apirule_controller_validation_integration_test.go
  controllers/gateway/apirule_timeout_integration_test.go
  tests/e2e/pkg/asserts/istio/istio.go
  tests/e2e/pkg/helpers/http/http.go
  tests/integration/pkg/helpers/api_rule.go
  tests/integration/testsuites/ory/features/v2alpha1_conversion.feature
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Refactor release: allow multiple releases at a time (#2095)
  .github/workflows/release-api-gateway-1.yaml
  .github/workflows/release-api-gateway-2.yaml
Due: none

chore: automatic update sec-scanners-config.yaml (#2098)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

feat: Put deployed images in environment variables (#2088) (#2097)
  Makefile
  config/manager/env-images.yaml
  controllers/operator/apigateway_controller_integration_test.go
  controllers/operator/apigateway_controller_test.go
  hack/generate_sec_scanners_images_env.sh
  internal/environment/environment_test.go
  internal/reconciliations/oathkeeper/deployment.go
  internal/reconciliations/oathkeeper/deployment.yaml
  internal/reconciliations/oathkeeper/deployment_light.yaml
  internal/reconciliations/oathkeeper/deployment_test.go
  internal/reconciliations/oathkeeper/hpa_test.go
  internal/reconciliations/oathkeeper/oathkeeper_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Combine OS and module-manifest release
  .github/workflows/release-api-gateway-2.yaml
Due: none

chore: adjust views for apirules
  config/ui-extensions/apirules-v1beta1/dataSources
  config/ui-extensions/apirules-v1beta1/details
  config/ui-extensions/apirules-v1beta1/form
  config/ui-extensions/apirules-v1beta1/general
  config/ui-extensions/apirules-v1beta1/injections
  config/ui-extensions/apirules-v1beta1/kustomization.yaml
  config/ui-extensions/apirules-v1beta1/list
  config/ui-extensions/apirules-v1beta1/presets
  config/ui-extensions/apirules-v1beta1/translations
  config/ui-extensions/apirules-v2alpha1/dataSources
  config/ui-extensions/apirules-v2alpha1/details
  config/ui-extensions/apirules-v2alpha1/form
  config/ui-extensions/apirules-v2alpha1/general
  config/ui-extensions/apirules-v2alpha1/kustomization.yaml
  config/ui-extensions/apirules-v2alpha1/list
  config/ui-extensions/apirules-v2alpha1/presets
  config/ui-extensions/apirules-v2alpha1/translations
  config/ui-extensions/apirules/details
  config/ui-extensions/apirules/general
  config/ui-extensions/apirules/injections
  config/ui-extensions/apirules/kustomization.yaml
  config/ui-extensions/apirules/list
  config/ui-extensions/apirules/translations
  config/ui-extensions/kustomization.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

change negative to critical in status column
  config/ui-extensions/apirules/details
  config/ui-extensions/apirules/list
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove stage discovery and set warning for v1beta1 for all environments (#2094)
  controllers/gateway/api_controller_integration_test.go
  controllers/gateway/apirule_controller.go
  controllers/gateway/apirule_controller_status_integration_test.go
  controllers/gateway/apirule_controller_validation_integration_test.go
  controllers/gateway/apirule_timeout_integration_test.go
  controllers/gateway/suite_test.go
  controllers/gateway/types.go
  internal/environment/environment.go
  internal/environment/environment_suite_test.go
  internal/environment/environment_test.go
  main.go
  tests/e2e/pkg/asserts/istio/istio.go
  tests/e2e/pkg/helpers/http/http.go
  tests/integration/pkg/helpers/api_rule.go
  tests/integration/testsuites/ory/features/v2alpha1_conversion.feature
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Generate only v2 apirule crds
  Makefile
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove stage discovery and set warning for v1beta1 for all environments (#2094)
  controllers/gateway/api_controller_integration_test.go
  controllers/gateway/apirule_controller.go
  controllers/gateway/apirule_controller_status_integration_test.go
  controllers/gateway/apirule_controller_validation_integration_test.go
  controllers/gateway/apirule_timeout_integration_test.go
  controllers/gateway/suite_test.go
  controllers/gateway/types.go
  internal/environment/environment.go
  internal/environment/environment_suite_test.go
  internal/environment/environment_test.go
  main.go
  tests/integration/pkg/helpers/api_rule.go
  tests/integration/testsuites/ory/features/v2alpha1_conversion.feature
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add RN
  docs/release-notes/3.1.3.md
Due: none

Apply suggestions from code review
  docs/release-notes/3.1.3.md
Due: none

Remove stage discovery and set warning for v1beta1 for all environments (#2102)
  controllers/gateway/api_controller_integration_test.go
  controllers/gateway/apirule_controller.go
  controllers/gateway/apirule_controller_status_integration_test.go
  controllers/gateway/apirule_controller_validation_integration_test.go
  controllers/gateway/apirule_timeout_integration_test.go
  controllers/gateway/suite_test.go
  controllers/gateway/types.go
  docs/release-notes/3.1.3.md
  internal/environment/environment.go
  internal/environment/environment_suite_test.go
  internal/environment/environment_test.go
  main.go
  tests/integration/pkg/helpers/api_rule.go
  tests/integration/testsuites/ory/features/v2alpha1_conversion.feature
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove v1beta1 from APIRule v2 view
  config/ui-extensions/apirules/general
  config/ui-extensions/apirules/list
  config/ui-extensions/apirules/translations
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-83-apirules-are-missing-from-kyma-dashboard.md
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws
