Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-module-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)

Add tests
  controllers/gateway/api_controller_integration_test.go
  internal/processing/ory/virtual_service_processor_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Test pipelines
  main.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add integration tests for ory
  tests/integration/testsuites/ory/features/expose_methods_on_paths.feature
  tests/integration/testsuites/ory/manifests/paths-and-methods-allow-handler.yaml
  tests/integration/testsuites/ory/manifests/paths-and-methods-allow-methods-handler.yaml
  tests/integration/testsuites/ory/manifests/paths-and-methods-jwt-handler.yaml
  tests/integration/testsuites/ory/manifests/paths-and-methods-noop-handler.yaml
  tests/integration/testsuites/ory/manifests/paths-and-methods-oauth2-handler.yaml
  tests/integration/testsuites/ory/scenario.go
  tests/integration/testsuites/ory/scenario_default_cors.go
  tests/integration/testsuites/ory/scenario_paths_and_methods_allow.go
  tests/integration/testsuites/ory/scenario_paths_and_methods_allow_methods.go
  tests/integration/testsuites/ory/scenario_paths_and_methods_jwt.go
  tests/integration/testsuites/ory/scenario_paths_and_methods_noop.go
  tests/integration/testsuites/ory/scenario_paths_and_methods_oauth2.go
  tests/integration/testsuites/ory/scenario_service_per_path.go
  tests/integration/testsuites/ory/scenario_unsecured.go
  tests/integration/testsuites/ory/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Adjust and upgrade test
  tests/integration/pkg/auth/oauth2-server-mock.go
  tests/integration/testsuites/istio-jwt/testsuite.go
  tests/integration/testsuites/ory/testsuite.go
  tests/integration/testsuites/upgrade/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Use oidc well known and adapt tests
  .github/actions/integration-test-gardener/action.yaml
  .github/actions/integration-tests/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/upgrade-test/action.yaml
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-release.yaml
  .github/workflows/pull-integration.yaml
  tests/integration/README.md
  tests/integration/env_vars.sh
  tests/integration/env_vars_custom_domain.sh
  tests/integration/pkg/helpers/http_client.go
  tests/integration/pkg/testcontext/config.go
  tests/integration/testsuites/custom-domain/testsuite.go
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-and-oauth.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-audiences.yaml
  tests/integration/testsuites/istio-jwt/scenario.go
  tests/integration/testsuites/istio-jwt/testsuite.go
  tests/integration/testsuites/ory/manifests/jwt-oauth-one-path-strategy.yaml
  tests/integration/testsuites/ory/manifests/jwt-oauth-strategy.yaml
  tests/integration/testsuites/ory/manifests/oauth-strategy.yaml
  tests/integration/testsuites/ory/manifests/secured-to-unsecured.yaml
  tests/integration/testsuites/ory/manifests/unsecured-to-secured-2.yaml
  tests/integration/testsuites/ory/testsuite.go
  tests/integration/testsuites/upgrade/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add read scope to ory tests
  tests/integration/testsuites/ory/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update ci-cd docs
  docs/contributor/04-30-ci-cd.md
Due: none

Add allow_methods as the new default in the UI
  config/ui-extensions/apirules/form
  config/ui-extensions/apirules/presets
  tests/ui/tests/support/login.js
  tests/ui/tests/tests/api-rule/test-api-rules.spec.js
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add documentation for new handler
  docs/contributor/01-30-api-rule-dependencies.md
  docs/release-notes/2.1.0.md
  docs/release-notes/2.2.0.md
  docs/release-notes/2.3.0.md
  docs/user/custom-resources/apigateway/04-20-oathkeeper.md
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/04-15-api-rule-access-strategies.md
  docs/user/custom-resources/apirule/04-40-apirule-mutators.md
  docs/user/troubleshooting-guides/03-40-api-rule-troubleshooting.md
Due: none

Apply suggestions from code review
  docs/contributor/04-30-ci-cd.md
Due: none

Update Busola test image
  tests/ui/tests/scripts/k3d-ci-kyma-dashboard-integration.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix formatting
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
Due: none

Remove duplicate access strategy validation code
  internal/processing/istio/as_validator.go
  internal/processing/istio/as_validator_test.go
  internal/processing/ory/as_validator.go
  internal/processing/ory/as_validator_test.go
  internal/validation/access_strategy.go
  internal/validation/access_strategy_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Apply suggestions from code review
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/04-15-api-rule-access-strategies.md
  docs/user/troubleshooting-guides/03-40-api-rule-troubleshooting.md
Due: none

Update pull-integration.yaml
  .github/workflows/pull-integration.yaml
Due: none

Rename function and add comments
  internal/processing/helpers.go
  internal/processing/istio/access_rule_processor.go
  internal/processing/istio/authorization_policy_processor.go
  internal/processing/istio/virtual_service_processor.go
  internal/processing/ory/access_rule_processor.go
  internal/processing/ory/virtual_service_processor.go
  internal/validation/access_strategy.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix annotations from templates
  internal/reconciliations/gateway/dns_entry_test.go
  internal/reconciliations/resource.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove embed
  tests/integration/pkg/auth/auth.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update security scanner config
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update security scanner config (#865)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove unneeded file
  tests/integration/pkg/hooks/api-gateway.go
  tests/integration/pkg/hooks/manifests/api-gateway.yaml
  tests/integration/pkg/hooks/manifests/apigateway.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add mTLS guide for istio and api-gateway
  docs/user/tutorials/01-00-create-workload.md
  docs/user/tutorials/01-20-set-up-tls-gateway.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
Due: none

Fix API-Rule details UI when listing related VSs
  config/ui-extensions/apirules/dataSources
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove oathkeeper cronjob deletion reconcile leftovers
  config/rbac/role.yaml
  controllers/operator/apigateway_controller.go
  internal/reconciliations/oathkeeper/cronjob/cronjob.go
  internal/reconciliations/oathkeeper/cronjob/role.go
  internal/reconciliations/oathkeeper/cronjob/role_binding.go
  internal/reconciliations/oathkeeper/cronjob/service_account.go
  internal/reconciliations/oathkeeper/oathkeeper.go
  internal/reconciliations/oathkeeper/oathkeeper_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix merge issues
  tests/integration/testsuites/istio-jwt/scenario.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Rename handler allow_methods to no_auth
  apis/gateway/v1beta1/rule.go
  apis/gateway/v1beta1/rule_test.go
  config/ui-extensions/apirules/form
  config/ui-extensions/apirules/presets
  controllers/gateway/api_controller_integration_test.go
  docs/contributor/01-30-api-rule-dependencies.md
  docs/release-notes/2.2.0.md
  docs/user/custom-resources/apigateway/04-20-oathkeeper.md
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/04-15-api-rule-access-strategies.md
  docs/user/custom-resources/apirule/04-40-apirule-mutators.md
  docs/user/troubleshooting-guides/03-40-api-rule-troubleshooting.md
  internal/processing/helpers.go
  internal/processing/istio/access_rule_processor_test.go
  internal/processing/istio/as_validator.go
  internal/processing/istio/as_validator_test.go
  internal/processing/istio/authorization_policy_processor_test.go
  internal/processing/istio/reconciliation_test.go
  internal/processing/istio/request_authentication_processor_test.go
  internal/processing/istio/virtual_service_processor_test.go
  internal/processing/ory/access_rule_processor_test.go
  internal/processing/ory/as_validator.go
  internal/processing/ory/as_validator_test.go
  internal/processing/ory/virtual_service_processor.go
  internal/processing/ory/virtual_service_processor_test.go
  internal/processing/processors/virtual_service_processor_test.go
  internal/validation/access_strategy_test.go
  internal/validation/validate.go
  tests/integration/testsuites/istio-jwt/features/expose_methods_on_paths.feature
  tests/integration/testsuites/istio-jwt/manifests/paths-and-methods-no-auth-handler.yaml
  tests/integration/testsuites/istio-jwt/scenario_paths_and_methods_allow_methods.go
  tests/integration/testsuites/istio-jwt/scenario_paths_and_methods_no_auth.go
  tests/integration/testsuites/istio-jwt/testsuite.go
  tests/integration/testsuites/ory/features/expose_methods_on_paths.feature
  tests/integration/testsuites/ory/manifests/paths-and-methods-no-auth-handler.yaml
  tests/integration/testsuites/ory/scenario_paths_and_methods_allow_methods.go
  tests/integration/testsuites/ory/scenario_paths_and_methods_no_auth.go
  tests/integration/testsuites/ory/testsuite.go
  tests/ui/tests/tests/api-rule/test-api-rules.spec.js
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix oauth2 JWT int tests
  tests/integration/testsuites/istio-jwt/manifests/paths-and-methods-oauth2-handler.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Change scenario description to no_auth
  tests/integration/testsuites/istio-jwt/features/expose_methods_on_paths.feature
  tests/integration/testsuites/ory/features/expose_methods_on_paths.feature
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add mTLS guide for istio and api-gateway
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
Due: none

Remove oathkeeper cronjob deletion reconcile leftovers (#869)
  config/rbac/role.yaml
  controllers/operator/apigateway_controller.go
  internal/reconciliations/oathkeeper/cronjob/cronjob.go
  internal/reconciliations/oathkeeper/cronjob/role.go
  internal/reconciliations/oathkeeper/cronjob/role_binding.go
  internal/reconciliations/oathkeeper/cronjob/service_account.go
  internal/reconciliations/oathkeeper/oathkeeper.go
  internal/reconciliations/oathkeeper/oathkeeper_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix API-Rule details UI when listing related VSs (#868)
  config/ui-extensions/apirules/dataSources
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove outdated handler name and add no_auth instead
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
Due: none

Remove outdated handler name and add no_auth instead (#871)
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
Due: none

Do not merge manifest when upgrading
  tests/integration/pkg/resource/manager.go
  tests/integration/testsuites/upgrade/features/upgrade.feature
  tests/integration/testsuites/upgrade/manifests/upgrade-test-operator-fail.yaml
  tests/integration/testsuites/upgrade/scenario.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix normal test with generated manifest
  tests/integration/testsuites/upgrade/features/upgrade.feature
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Attach custom domain aws job to the slack notification on main workflow
  .github/workflows/main-integration.yaml
Due: none

Attach custom domain aws job to the slack notification on main workflow (#878)
  .github/workflows/main-integration.yaml
Due: none

Apply suggestions from code review
  docs/user/tutorials/01-20-set-up-tls-gateway.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
Due: none
