Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)

Update README.md
  docs/user/README.md
Due: none

unify the prerequisites
  docs/user/apirule-migration/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/apirule-migration/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/apirule-migration/01-84-migrate-oauth2-v1beta1-to-v2.md
Due: none

Apply suggestions from code review
  docs/user/README.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host-name.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-53-expose-and-secure-workload-ext-auth.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v2alpha1/01-52-expose-and-secure-workload-jwt.md
Due: none

update prereqisites for migration guides
  docs/user/apirule-migration/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/apirule-migration/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/apirule-migration/01-84-migrate-oauth2-v1beta1-to-v2.md
Due: none

update readme
  docs/user/README.md
Due: none

Update prerequisites in APIGateway tutorials + Add RateLimit to README (#2018)
  docs/assets/operator-overview-with-rate-limit.svg
  docs/assets/operator-overview.svg
  docs/user/README.md
  docs/user/apirule-migration/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/apirule-migration/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/apirule-migration/01-84-migrate-oauth2-v1beta1-to-v2.md
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/04-70-changes-in-apirule-v2.md
  docs/user/custom-resources/apirule/README.md
  docs/user/custom-resources/apirule/v1beta1-deprecated/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/v2alpha1/04-10-apirule-custom-resource.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/README.md
  docs/user/tutorials/01-40-expose-workload/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-40-expose-workload/01-43-expose-workload-short-host-name.md
  docs/user/tutorials/01-40-expose-workload/README.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host-name.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-53-expose-and-secure-workload-ext-auth.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/README.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v2alpha1/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v2alpha1/01-53-expose-and-secure-workload-ext-auth.md
  docs/user/tutorials/README.md
Due: none

Update the tutorial: Expose and Secure a Workload with a Certificate (#1984)
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
Due: none

Fix kubectl get gateway commands in API Gateway tutorials (#1946)
  docs/user/tutorials/01-40-expose-workload/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-40-expose-workload/01-43-expose-workload-short-host-name.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host-name.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-53-expose-and-secure-workload-ext-auth.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-55-ip-based-access-with-xff.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta1-deprecated/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta1-deprecated/01-53-expose-and-secure-workload-istio.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v2alpha1/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v2alpha1/01-53-expose-and-secure-workload-ext-auth.md
  docs/user/tutorials/01-70-local-rate-limit.md
Due: none

tests: hack: add patch logic to gardener integration script
  hack/ci/integration-test-gardener.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Cherrypicking recent updates to API Gateway tutorials (#2021)
  docs/assets/operator-overview-with-rate-limit.svg
  docs/assets/operator-overview.svg
  docs/user/README.md
  docs/user/apirule-migration/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/apirule-migration/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/apirule-migration/01-84-migrate-oauth2-v1beta1-to-v2.md
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/04-70-changes-in-apirule-v2.md
  docs/user/custom-resources/apirule/README.md
  docs/user/custom-resources/apirule/v1beta1-deprecated/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/v2alpha1/04-10-apirule-custom-resource.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/README.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-40-expose-workload/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-40-expose-workload/01-43-expose-workload-short-host-name.md
  docs/user/tutorials/01-40-expose-workload/README.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host-name.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-53-expose-and-secure-workload-ext-auth.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-55-ip-based-access-with-xff.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/README.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta1-deprecated/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta1-deprecated/01-53-expose-and-secure-workload-istio.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v2alpha1/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v2alpha1/01-53-expose-and-secure-workload-ext-auth.md
  docs/user/tutorials/01-70-local-rate-limit.md
  docs/user/tutorials/README.md
Due: none

tests: hack: align patch apply logic to be the same between k3d and gardener
  .github/actions/e2e-test-k3d/action.yaml
Due: none

chore: automatic update sec-scanners-config.yaml (#2023)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix links
  docs/user/custom-resources/apirule/v1beta1-deprecated/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/v2alpha1/04-10-apirule-custom-resource.md
Due: none

tests: hack: apply git patch in compatibility tests k3d
  .github/actions/k8s-compatibility-test/action.yaml
Due: none

fix links (#2024)
  docs/user/custom-resources/apirule/v1beta1-deprecated/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/v2alpha1/04-10-apirule-custom-resource.md
Due: none

Update controller test
  controllers/operator/apigateway_controller_integration_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

chore: enable CI on branches prefixed with feat/
  .github/workflows/post-main-integration.yaml
  .github/workflows/pull-build-push.yaml
  .github/workflows/pull-request.yaml
Due: none

Almost fix api_controller_integration_test.go and apigateway_controller_integration_test.go
  controllers/gateway/api_controller_integration_test.go
  controllers/operator/apigateway_controller_integration_test.go
  internal/environment/environment_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

hack: Put images from sec-scanners-config to the deployement env
  Makefile
  config/manager/env-images.yaml
  config/manager/kustomization.yaml
  hack/generate_sec_scanners_images_env.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Make v1beta1 served in some tests
  controllers/gateway/api_controller_integration_test.go
  controllers/gateway/apirule_controller_status_integration_test.go
  controllers/gateway/apirule_controller_validation_integration_test.go
  controllers/gateway/apirule_timeout_integration_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix lint
  controllers/gateway/api_controller_integration_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Gateway fix
  controllers/gateway/api_controller_integration_test.go
  controllers/operator/apigateway_controller.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

chore: adjust views for apirules
  config/ui-extensions/apirules-v1beta1/dataSources
  config/ui-extensions/apirules-v1beta1/details
  config/ui-extensions/apirules-v1beta1/form
  config/ui-extensions/apirules-v1beta1/general
  config/ui-extensions/apirules-v1beta1/kustomization.yaml
  config/ui-extensions/apirules-v1beta1/list
  config/ui-extensions/apirules-v1beta1/presets
  config/ui-extensions/apirules-v1beta1/translations
  config/ui-extensions/apirules-v2alpha1/dataSources
  config/ui-extensions/apirules-v2alpha1/details
  config/ui-extensions/apirules-v2alpha1/form
  config/ui-extensions/apirules-v2alpha1/general
  config/ui-extensions/apirules-v2alpha1/kustomization.yaml
  config/ui-extensions/apirules-v2alpha1/list
  config/ui-extensions/apirules-v2alpha1/presets
  config/ui-extensions/apirules-v2alpha1/translations
  config/ui-extensions/apirules/details
  config/ui-extensions/apirules/general
  config/ui-extensions/apirules/injections
  config/ui-extensions/apirules/kustomization.yaml
  config/ui-extensions/apirules/list
  config/ui-extensions/apirules/translations
  config/ui-extensions/kustomization.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

chore: remove UI tests
  .github/workflows/call-ui-tests.yaml
  .github/workflows/schedule-ui-tests.yaml
  tests/ui/.gitignore
  tests/ui/tests/README.md
  tests/ui/tests/cypress.config.ts
  tests/ui/tests/fixtures/.gitignore
  tests/ui/tests/fixtures/apiRule.yaml
  tests/ui/tests/fixtures/apiRuleV2alpha1.yaml
  tests/ui/tests/fixtures/namespace.yaml
  tests/ui/tests/fixtures/service.yaml
  tests/ui/tests/package-lock.json
  tests/ui/tests/package.json
  tests/ui/tests/plugins/index.ts
  tests/ui/tests/scripts/k3d-ci-kyma-dashboard-integration.sh
  tests/ui/tests/scripts/k3d-local-dev.sh
  tests/ui/tests/support/apirule.ts
  tests/ui/tests/support/buttons.ts
  tests/ui/tests/support/combobox.ts
  tests/ui/tests/support/commands.ts
  tests/ui/tests/support/dashboard/config.ts
  tests/ui/tests/support/dashboard/index.ts
  tests/ui/tests/support/exceptions.ts
  tests/ui/tests/support/index.ts
  tests/ui/tests/support/input.ts
  tests/ui/tests/support/k8sclient/apiRule.ts
  tests/ui/tests/support/k8sclient/commands.ts
  tests/ui/tests/support/k8sclient/httpClient.ts
  tests/ui/tests/support/k8sclient/index.ts
  tests/ui/tests/support/k8sclient/kubeconfig.ts
  tests/ui/tests/support/k8sclient/loadFile.ts
  tests/ui/tests/support/k8sclient/namespace.ts
  tests/ui/tests/support/k8sclient/service.ts
  tests/ui/tests/support/list.ts
  tests/ui/tests/support/login.ts
  tests/ui/tests/support/navigation.ts
  tests/ui/tests/support/random.ts
  tests/ui/tests/support/status.ts
  tests/ui/tests/tests/api-rule-v2alpha1.spec.ts
  tests/ui/tests/tests/api-rule.spec.ts
  tests/ui/tests/tsconfig.json
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: APIRule delete operation, fix: tests and adapt to v2alpha1
  controllers/gateway/api_controller_integration_test.go
  controllers/gateway/apirule_controller.go
  controllers/gateway/apirule_deletion.go
  controllers/operator/apigateway_controller.go
  controllers/operator/apigateway_controller_integration_test.go
  controllers/operator/apigateway_controller_test.go
  controllers/operator/suite_test.go
  internal/processing/cleaner.go
  internal/processing/cleaner_test.go
  internal/reconciliations/gateway/gateway_test.go
  internal/reconciliations/gateway/suite_test.go
  manifests/controlled_resources_list.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

lint
  controllers/gateway/apirule_deletion.go
  controllers/operator/apigateway_controller_integration_test.go
  internal/processing/cleaner_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

chore: automatic update sec-scanners-config.yaml (#2034)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

lint
  controllers/operator/apigateway_controller_integration_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

apply feedback to incluster communication
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-80-blocked-in-cluster-communication.md
Due: none

fix namespace
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-80-blocked-in-cluster-communication.md
Due: none

Apply suggestions from code review
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-80-blocked-in-cluster-communication.md
Due: none

Add error message to the symptom section
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-80-blocked-in-cluster-communication.md
Due: none

add tables to migration guides
  docs/user/apirule-migration/01-82-migrate-allow-noop-no_auth-v1beta1-to-v2.md
  docs/user/apirule-migration/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/apirule-migration/01-84-migrate-oauth2-v1beta1-to-v2.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-80-blocked-in-cluster-communication.md
Due: none

typos
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-80-blocked-in-cluster-communication.md
Due: none

unify notes
  docs/user/apirule-migration/01-83-migrate-jwt-v1beta1-to-v2.md
  docs/user/apirule-migration/01-84-migrate-oauth2-v1beta1-to-v2.md
  docs/user/troubleshooting-guides/03-80-apirule-v2-introduction/03-80-blocked-in-cluster-communication.md
Due: none

hack: Put images from sec-scanners-config to the deployement env (#2029)
  Makefile
  config/manager/env-images.yaml
  config/manager/kustomization.yaml
  hack/generate_sec_scanners_images_env.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Setup for support of arm64 image building
  .github/workflows/post-main-integration.yaml
  Dockerfile
  Makefile
  internal/reconciliations/oathkeeper/deployment.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws
