Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

pull-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

pull-api-gateway-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-lint
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
  ...

feat: Add proper categories for CRDs (#1337)
  apis/gateway/v1beta1/apirule_types.go
  apis/gateway/v2alpha1/apirule_types.go
  apis/operator/v1alpha1/apigateway_types.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  config/crd/bases/operator.kyma-project.io_apigateways.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

feat: change logic of handling Gardener cluster
  controllers/gateway/suite_test.go
  controllers/operator/apigateway_controller.go
  controllers/operator/suite_test.go
  hack/crds/gardener/cert.gardener.cloud_certificate.yaml
  hack/crds/gardener/dns.gardener.cloud_dnsentry.yaml
  hack/crds/networking.istio.io_gateways.yaml
  hack/crds/networking.istio.io_virtualservice.yaml
  hack/crds/oathkeeper.ory.sh_rules.yaml
  hack/crds/security.istio.io_authorizationpolicy.yaml
  hack/crds/security.istio.io_peerauthentication.yaml
  hack/crds/security.istio.io_requestauthentication.yaml
  internal/dependencies/dependencies.go
  internal/dependencies/dependencies_test.go
  internal/reconciliations/gardener.go
  internal/reconciliations/gardener_test.go
  internal/reconciliations/gateway/gateway.go
  internal/reconciliations/gateway/gateway_test.go
  internal/reconciliations/gateway/suite_test.go
  internal/reconciliations/oathkeeper/configmap_config.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update security scanner config
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update security scanner config (#1351)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Ignore GitHub Actions patches
  .github/dependabot.yml
Due: none

Ignore GitHub Actions patches (#1352)
  .github/dependabot.yml
Due: none

Edit APIRule migration notes
  docs/user/custom-resources/README.md
  docs/user/custom-resources/apirule/README.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/README.md
  docs/user/tutorials/01-40-expose-workload/README.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/README.md
Due: none

add a specific date
  docs/user/tutorials/01-50-expose-and-secure-a-workload/README.md
Due: none

Extend certificate key size of kyma gateway to 4096
  internal/reconciliations/gateway/certificate.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

chore: add .golangci.yaml
  .golangci.yaml
Due: none

adjust code to conform linting
  apis/gateway/v2alpha1/apirule_conversion.go
  apis/gateway/v2alpha1/apirule_conversion_test.go
  apis/operator/v1alpha1/apigateway_types.go
  controllers/certificate/certificate_controller_test.go
  internal/helpers/service.go
  internal/reconciliations/gateway/certificate.go
  internal/reconciliations/resource.go
  internal/validation/injection.go
  internal/validation/labels.go
  internal/validation/v2alpha1/jwt.go
  tests/integration/pkg/hooks/api-gateway.go
  tests/integration/pkg/hooks/istio.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

remove in version
  docs/user/custom-resources/README.md
  docs/user/custom-resources/apirule/README.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/README.md
  docs/user/tutorials/01-40-expose-workload/README.md
Due: none

two more notes
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/v2alpha1/04-10-apirule-custom-resource.md
Due: none

OAuth2 introspection to extAuth migration tests
  .github/workflows/main-integration.yaml
  .github/workflows/pull-integration-release.yaml
  Makefile
  tests/integration/scripts/test-zero-downtime.sh
  tests/integration/testsuites/ory/features/v2alpha1_conversion.feature
  tests/integration/testsuites/ory/manifests/migration-oauth2-introspection-v1beta1.yaml
  tests/integration/testsuites/ory/manifests/migration-oauth2-introspection-v2alpha1.yaml
  tests/integration/testsuites/ory/scenario_migration_oauth2_introspection_v1beta1.go
  tests/integration/testsuites/ory/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Edit APIRule migration notes (#1356)
  docs/user/custom-resources/README.md
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/README.md
  docs/user/custom-resources/apirule/v2alpha1/04-10-apirule-custom-resource.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/README.md
  docs/user/tutorials/01-40-expose-workload/README.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/README.md
Due: none

Hook that applies authorizer
  tests/integration/testsuites/ory/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add tests verifying setup reported by user
  internal/reconciliations/gateway/gateway_test.go
  internal/reconciliations/oathkeeper/oathkeeper_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Create 2.8.0.md
  docs/release-notes/2.8.0.md
Due: none

Enabling temporarily zero downtime tests
  .github/workflows/pull-integration.yaml
Due: none

fix code based on the tests
  internal/reconciliations/gardener.go
  internal/reconciliations/gardener_test.go
  internal/reconciliations/gateway/gateway_test.go
  internal/reconciliations/oathkeeper/oathkeeper_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

feat: change logic of handling Gardener cluster (#1341)
  controllers/gateway/suite_test.go
  controllers/operator/apigateway_controller.go
  controllers/operator/suite_test.go
  hack/crds/gardener/cert.gardener.cloud_certificate.yaml
  hack/crds/gardener/dns.gardener.cloud_dnsentry.yaml
  hack/crds/networking.istio.io_gateways.yaml
  hack/crds/networking.istio.io_virtualservice.yaml
  hack/crds/oathkeeper.ory.sh_rules.yaml
  hack/crds/security.istio.io_authorizationpolicy.yaml
  hack/crds/security.istio.io_peerauthentication.yaml
  hack/crds/security.istio.io_requestauthentication.yaml
  internal/dependencies/dependencies.go
  internal/dependencies/dependencies_test.go
  internal/reconciliations/gardener.go
  internal/reconciliations/gardener_test.go
  internal/reconciliations/gateway/gateway.go
  internal/reconciliations/gateway/gateway_test.go
  internal/reconciliations/gateway/suite_test.go
  internal/reconciliations/oathkeeper/configmap_config.go
  internal/reconciliations/oathkeeper/oathkeeper_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Extend certificate key size of kyma-gateway to 4096 (#1357)
  docs/release-notes/2.8.0.md
  internal/reconciliations/gateway/certificate.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

docs: release notes for Remove hard dependency to Gardener DNSEntry and Certificate resources
  docs/release-notes/2.8.0.md
Due: none

bug: enable HA control plane nodes
  hack/ci/shoot_aws.yaml
  hack/ci/shoot_gcp.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

bug: enable HA control plane nodes (#1361)
  hack/ci/shoot_aws.yaml
  hack/ci/shoot_gcp.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

docs: release notes for Remove hard dependency to Gardener DNSEntry and Certificate resources (#1360)
  docs/release-notes/2.8.0.md
Due: none

Tutorial for short-host
  docs/user/tutorials/01-00-create-workload.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host.md
Due: none

Update
  docs/user/tutorials/01-20-set-up-tls-gateway.md
  docs/user/tutorials/01-30-set-up-mtls-gateway.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host-name.md
Due: none

Moved authorizer deployment to the hook
  Makefile
  tests/integration/pkg/hooks/ext-auth.go
  tests/integration/pkg/hooks/manifests/ext-auth.yaml
  tests/integration/testsuites/ory/testsuite.go
  tests/integration/testsuites/v2alpha1/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host-name.md
Due: none

Title
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host-name.md
Due: none

feat: show logs as json
  main.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Better hooks - patch Istio programmatically to be able to clean it up after the test
  tests/integration/pkg/hooks/ext-auth.go
  tests/integration/pkg/hooks/istio.go
  tests/integration/pkg/hooks/manifests/istio-cr.yaml
  tests/integration/testsuites/ory/testsuite.go
  tests/integration/testsuites/v2alpha1/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Revert "Better hooks - patch Istio programmatically to be able to clean it up after the test"
  tests/integration/pkg/hooks/ext-auth.go
  tests/integration/pkg/hooks/istio.go
  tests/integration/pkg/hooks/manifests/istio-cr.yaml
  tests/integration/testsuites/ory/testsuite.go
  tests/integration/testsuites/v2alpha1/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Adapt
  docs/user/tutorials/01-10-setup-custom-domain-for-workload.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host-name.md
Due: none

Bring back https for requesting workload
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host-name.md
Due: none

More descriptive on the tutorial and benefits of using short host name for the customer
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host-name.md
Due: none

Hooks simplified, Ext Authorizer teardown
  tests/integration/pkg/hooks/ext-auth.go
  tests/integration/pkg/hooks/istio.go
  tests/integration/testsuites/ory/testsuite.go
  tests/integration/testsuites/v2alpha1/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host-name.md
  docs/user/tutorials/01-40-expose-workload/v2alpha1/01-43-expose-workload-short-host-name.md
Due: none

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)
