Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)

Move k3d provisioning to separate action
  .github/actions/integration-tests/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/provision-k3d-cluster/action.yaml
  .github/actions/upgrade-test/action.yaml
Due: none

Missing dollar sign
  .github/actions/provision-k3d-cluster/action.yaml
Due: none

Update security scanner configuration
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update security scanner configuration (#1243)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

cicd: bump k8s versions for int tests (#1242)
  .github/actions/integration-tests/action.yaml
  .github/actions/k8s-compatibility-test/action.yaml
  .github/actions/provision-k3d-cluster/action.yaml
  .github/actions/upgrade-test/action.yaml
  hack/ci/custom-domain-gardener-aws.sh
  hack/ci/custom-domain-gardener-gcp.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Gateway validation error message
  apis/gateway/v2alpha1/apirule_types.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  controllers/gateway/api_controller_integration_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

CR fix
  controllers/gateway/api_controller_integration_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

CR fix
  apis/gateway/v2alpha1/apirule_types.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Apply suggestions from code review
  apis/gateway/v2alpha1/apirule_types.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  controllers/gateway/api_controller_integration_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Gateway validation error message (#1244)
  apis/gateway/v2alpha1/apirule_types.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  controllers/gateway/api_controller_integration_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Split integration tests suite execution on release PRs
  .github/workflows/pull-integration-release.yaml
  Makefile
  docs/contributor/04-30-ci-cd.md
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix lint
  apis/gateway/v1beta1/authorization.go
  apis/gateway/v2alpha1/authorization.go
  tests/integration/test_report.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Gardener tests splitted
  .github/actions/integration-test-gardener/action.yaml
  .github/workflows/pull-integration-release.yaml
  hack/ci/custom-domain-gardener-aws.sh
  hack/ci/custom-domain-gardener-gcp.sh
  hack/ci/custom-domain-gardener.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

docs update
  docs/contributor/04-30-ci-cd.md
Due: none

Remove leftover cicd
  .github/actions/upgrade-test/action.yaml
Due: none

Fix a broken link
  docs/contributor/adr/0001-istio-jwt-proposal.md
Due: none

Fix a broken link (#1255)
  docs/contributor/adr/0001-istio-jwt-proposal.md
Due: none

Remove leftover cicd (#1253)
  .github/actions/upgrade-test/action.yaml
Due: none

Dummy
  internal/clusterconfig/clusterconfig.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update security scanner config
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update security scanner config (#1256)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update docs/contributor/04-30-ci-cd.md
  docs/contributor/04-30-ci-cd.md
Due: none

AuthorizationPolicy processor for ExtAuth
  apis/gateway/v2alpha1/apirule_conversion.go
  apis/gateway/v2alpha1/apirule_types.go
  apis/gateway/v2alpha1/extauth_conversion_test.go
  apis/gateway/v2alpha1/zz_generated.deepcopy.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  controllers/gateway/api_controller_integration_test.go
  internal/builders/builders_test/v1beta1_test/test_builders.go
  internal/builders/builders_test/v2alpha1_test/test_builders.go
  internal/builders/istio.go
  internal/processing/processors/v2alpha1/authorizationpolicy/creator.go
  internal/processing/processors/v2alpha1/reconciliation.go
  internal/processing/processors/v2alpha1/virtualservice/cors_test.go
  internal/processing/processors/v2alpha1/virtualservice/hosts_test.go
  internal/processing/processors/v2alpha1/virtualservice/http_matching_test.go
  internal/processing/processors/v2alpha1/virtualservice/request_test.go
  internal/processing/processors/v2alpha1/virtualservice/virtual_service_processor_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Revert "Dummy"
  internal/clusterconfig/clusterconfig.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix conversion and validation for when v2alpha1 APIRule specifies JWT configuration with authorizations only
  apis/gateway/v2alpha1/apirule_conversion_test.go
  apis/gateway/v2alpha1/jwt_conversion.go
  internal/validation/v2alpha1/gateway.go
  internal/validation/v2alpha1/gateway_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

lint fixes
  apis/gateway/v1beta1/authorization.go
  apis/gateway/v2alpha1/authorization.go
  tests/integration/test_report.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Workaround upgrade test for APIRule
  .github/workflows/pull-integration.yaml
  tests/integration/testsuites/upgrade/features/upgrade.feature
  tests/integration/testsuites/upgrade/scenario.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

consolidate pkg
  apis/gateway/shared/authorization.go
  apis/gateway/shared/shared.go
  apis/gateway/shared/zz_generated.deepcopy.go
  apis/gateway/v1beta1/apirule_types.go
  apis/gateway/v1beta1/authorization_test.go
  apis/gateway/v1beta1/rule.go
  apis/gateway/v1beta1/zz_generated.deepcopy.go
  apis/gateway/v2alpha1/apirule_conversion_test.go
  apis/gateway/v2alpha1/apirule_types.go
  apis/gateway/v2alpha1/authorization.go
  apis/gateway/v2alpha1/authorization_test.go
  apis/gateway/v2alpha1/extauth_conversion_test.go
  apis/gateway/v2alpha1/jwt_conversion.go
  apis/gateway/v2alpha1/rule_test.go
  apis/gateway/v2alpha1/zz_generated.deepcopy.go
  config/manager/kustomization.yaml
  controllers/gateway/api_controller_integration_test.go
  controllers/gateway/apirule_controller_validation_integration_test.go
  internal/builders/builders_test/v2alpha1_test/test_builders.go
  internal/builders/istio.go
  internal/builders/istio_test.go
  internal/processing/processors/istio/authorization_policy_processor.go
  internal/processing/processors/v2alpha1/authorizationpolicy/creator.go
  internal/processing/processors/v2alpha1/authorizationpolicy/test_builders_test.go
  internal/processing/processors/v2alpha1/reconciliation_test.go
  internal/processing/processors/v2alpha1/requestauthentication/creator.go
  internal/processing/processors/v2alpha1/requestauthentication/test_builders_test.go
  internal/validation/v1beta1/istio/jwt_validator.go
  internal/validation/v1beta1/istio/jwt_validator_test.go
  internal/validation/v1beta1/ory/jwt_validator.go
  internal/validation/v1beta1/ory/jwt_validator_test.go
  internal/validation/v2alpha1/gateway.go
  internal/validation/v2alpha1/jwt.go
  internal/validation/v2alpha1/jwt_authentications_test.go
  internal/validation/v2alpha1/jwt_authorizations_test.go
  internal/validation/v2alpha1/jwt_test.go
  internal/validation/v2alpha1/rules_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Revert "consolidate pkg"
  apis/gateway/shared/shared.go
  apis/gateway/shared/zz_generated.deepcopy.go
  apis/gateway/v1beta1/apirule_types.go
  apis/gateway/v1beta1/authorization.go
  apis/gateway/v1beta1/authorization_test.go
  apis/gateway/v1beta1/rule.go
  apis/gateway/v1beta1/zz_generated.deepcopy.go
  apis/gateway/v2alpha1/apirule_conversion_test.go
  apis/gateway/v2alpha1/apirule_types.go
  apis/gateway/v2alpha1/authorization.go
  apis/gateway/v2alpha1/authorization_test.go
  apis/gateway/v2alpha1/extauth_conversion_test.go
  apis/gateway/v2alpha1/jwt_conversion.go
  apis/gateway/v2alpha1/rule_test.go
  apis/gateway/v2alpha1/zz_generated.deepcopy.go
  config/manager/kustomization.yaml
  controllers/gateway/api_controller_integration_test.go
  controllers/gateway/apirule_controller_validation_integration_test.go
  internal/builders/builders_test/v2alpha1_test/test_builders.go
  internal/builders/istio.go
  internal/builders/istio_test.go
  internal/processing/processors/istio/authorization_policy_processor.go
  internal/processing/processors/v2alpha1/authorizationpolicy/creator.go
  internal/processing/processors/v2alpha1/authorizationpolicy/test_builders_test.go
  internal/processing/processors/v2alpha1/reconciliation_test.go
  internal/processing/processors/v2alpha1/requestauthentication/creator.go
  internal/processing/processors/v2alpha1/requestauthentication/test_builders_test.go
  internal/validation/v1beta1/istio/jwt_validator.go
  internal/validation/v1beta1/istio/jwt_validator_test.go
  internal/validation/v1beta1/ory/jwt_validator.go
  internal/validation/v1beta1/ory/jwt_validator_test.go
  internal/validation/v2alpha1/gateway.go
  internal/validation/v2alpha1/jwt.go
  internal/validation/v2alpha1/jwt_authentications_test.go
  internal/validation/v2alpha1/jwt_authorizations_test.go
  internal/validation/v2alpha1/jwt_test.go
  internal/validation/v2alpha1/rules_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Revert commented out
  .github/workflows/pull-integration.yaml
Due: none

Split integration tests suite execution on release PRs (#1252)
  .github/actions/integration-test-gardener/action.yaml
  .github/workflows/pull-integration-release.yaml
  Makefile
  apis/gateway/v1beta1/authorization.go
  apis/gateway/v2alpha1/authorization.go
  docs/contributor/04-30-ci-cd.md
  hack/ci/custom-domain-gardener-aws.sh
  hack/ci/custom-domain-gardener-gcp.sh
  hack/ci/custom-domain-gardener.sh
  tests/integration/test_report.go
  tests/integration/testsuites/upgrade/features/upgrade.feature
  tests/integration/testsuites/upgrade/scenario.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Dummy
  internal/reconciliations/gardener.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Revert "Dummy"
  internal/reconciliations/gardener.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

More validation on empty spec
  internal/validation/v2alpha1/gateway.go
  internal/validation/v2alpha1/gateway_test.go
  internal/validation/v2alpha1/v2alpha1.go
  internal/validation/v2alpha1/v2alpha1_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Dummy
  internal/builders/access_rule.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

wip: feat: handling v2alpha1 APIRule version status
  apis/gateway/v1beta1/authorization.go
  apis/gateway/v2alpha1/authorization.go
  controllers/gateway/reconcile_result.go
  internal/processing/reconciliation.go
  internal/processing/status/status.go
  internal/processing/status/status_test.go
  internal/processing/status/v1beta1.go
  internal/processing/status/v2alpha1.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix upload logs/artefacts on test-gardener action when using matrix in workflow
  .github/actions/integration-test-gardener/action.yaml
Due: none

Fix conversion for v2alpha1 APIRule with JWT authorizations only (#1259)
  apis/gateway/v2alpha1/apirule_conversion_test.go
  apis/gateway/v2alpha1/jwt_conversion.go
  internal/validation/v2alpha1/gateway.go
  internal/validation/v2alpha1/gateway_test.go
  internal/validation/v2alpha1/v2alpha1.go
  internal/validation/v2alpha1/v2alpha1_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws
