Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

pull-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

pull-api-gateway-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-lint
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
  ...

feat: introduce v2 APIRule API with conversion
  PROJECT
  apis/gateway/v2/apirule_conversion.go
  apis/gateway/v2/apirule_types.go
  apis/gateway/v2/groupversion_info.go
  apis/gateway/v2/jwt_conversion.go
  apis/gateway/v2/zz_generated.deepcopy.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  main.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

moving...
  apis/gateway/v2/gateway_suite_test.go
  apis/gateway/v2/service.go
  apis/gateway/v2/service_test.go
  apis/gateway/v2/test_builders_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Change url path.
  config/ui-extensions/apirules-v1beta1/general
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add view for apirule v2
  config/ui-extensions/apirules-v1beta1/dataSources
  config/ui-extensions/apirules-v1beta1/details
  config/ui-extensions/apirules-v1beta1/form
  config/ui-extensions/apirules-v1beta1/general
  config/ui-extensions/apirules-v1beta1/injections
  config/ui-extensions/apirules-v1beta1/kustomization.yaml
  config/ui-extensions/apirules-v1beta1/list
  config/ui-extensions/apirules-v1beta1/presets
  config/ui-extensions/apirules-v1beta1/translations
  config/ui-extensions/apirules/details
  config/ui-extensions/apirules/form
  config/ui-extensions/apirules/general
  config/ui-extensions/apirules/presets
  config/ui-extensions/apirules/translations
  config/ui-extensions/kustomization.yaml
  tests/ui/tests/support/navigation.ts
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

feat: update APIRule references in zero-downtime migration test
  tests/integration/scripts/test-zero-downtime.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Change version for v2.
  config/ui-extensions/apirules/general
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

feat: update APIRule references in zero-downtime migration test (#1729)
  tests/integration/scripts/test-zero-downtime.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Change depracation description location.
  config/ui-extensions/apirules-v1beta1/injections
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

add list of changes in v2
  docs/user/custom-resources/apirule/v2alpha1/v2alpha1-changes.md
Due: none

language fix
  docs/user/custom-resources/apirule/v2alpha1/v2alpha1-changes.md
Due: none

fix a broken link
  docs/user/tutorials/README.md
Due: none

Add view for apirule v2 (#1680)
  config/ui-extensions/apirules-v1beta1/dataSources
  config/ui-extensions/apirules-v1beta1/details
  config/ui-extensions/apirules-v1beta1/form
  config/ui-extensions/apirules-v1beta1/general
  config/ui-extensions/apirules-v1beta1/injections
  config/ui-extensions/apirules-v1beta1/kustomization.yaml
  config/ui-extensions/apirules-v1beta1/list
  config/ui-extensions/apirules-v1beta1/presets
  config/ui-extensions/apirules-v1beta1/translations
  config/ui-extensions/apirules/details
  config/ui-extensions/apirules/form
  config/ui-extensions/apirules/general
  config/ui-extensions/apirules/presets
  config/ui-extensions/apirules/translations
  config/ui-extensions/kustomization.yaml
  tests/ui/tests/support/navigation.ts
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

write about both versions
  docs/user/custom-resources/apirule/v2alpha1/04-70-changes-in-apirule-v2.md
Due: none

apply Magda's comments
  docs/user/custom-resources/apirule/v2alpha1/04-70-changes-in-apirule-v2.md
Due: none

remove required action which willbe added later
  docs/user/custom-resources/apirule/v2alpha1/04-70-changes-in-apirule-v2.md
Due: none

fix a broken link (#1731)
  docs/user/tutorials/README.md
Due: none

apply Magda's suggestions
  docs/user/custom-resources/apirule/v2alpha1/04-70-changes-in-apirule-v2.md
Due: none

add information about othkeeper mutators
  docs/user/custom-resources/apirule/v2alpha1/04-70-changes-in-apirule-v2.md
Due: none

lang fix
  docs/user/custom-resources/apirule/v2alpha1/04-70-changes-in-apirule-v2.md
Due: none

Update docs/user/custom-resources/apirule/v2alpha1/04-70-changes-in-apirule-v2.md
  docs/user/custom-resources/apirule/v2alpha1/04-70-changes-in-apirule-v2.md
Due: none

typos
  docs/user/custom-resources/apirule/v2alpha1/04-70-changes-in-apirule-v2.md
Due: none

Fix release workflow adjustment (#1722)
  .github/workflows/call-integration-release.yaml
  .github/workflows/post-main-integration.yaml
  .github/workflows/pull-request-release.yaml
Due: none

Fix missing checkout ref in changes filter in call-pull-int workflow
  .github/workflows/call-pull-integration.yaml
Due: none

Apply suggestions from code review
  docs/user/custom-resources/apirule/v2alpha1/04-70-changes-in-apirule-v2.md
Due: none

add to sidebar
  docs/user/_sidebar.md
  docs/user/custom-resources/apirule/04-60-apirule-migration.md
  docs/user/custom-resources/apirule/04-70-changes-in-apirule-v2.md
Due: none

oathkeeper removal -> removed support
  docs/user/custom-resources/apirule/04-70-changes-in-apirule-v2.md
Due: none

Fix missing checkout ref in changes filter in call-pull-int workflow (#1732)
  .github/workflows/call-pull-integration.yaml
Due: none

Add missing deep clone for upgrade test, fix indentation for one jobs
  .github/workflows/call-integration-release.yaml
  .github/workflows/post-main-integration.yaml
Due: none

Add the list of changes in APIRule v2 (#1730)
  docs/user/_sidebar.md
  docs/user/custom-resources/apirule/04-60-apirule-migration.md
  docs/user/custom-resources/apirule/04-70-changes-in-apirule-v2.md
Due: none

Add missing deep clone for upgrade test, fix indentation for one jobs (#1733)
  .github/workflows/call-integration-release.yaml
  .github/workflows/post-main-integration.yaml
Due: none

fix link in the sidebar
  docs/user/_sidebar.md
Due: none

fix link in the sidebar (#1736)
  docs/user/_sidebar.md
Due: none

Remove redundant ref in upgrade test in call-int-rel
  .github/workflows/call-integration-release.yaml
Due: none

Remove redundant ref in upgrade test in call-int-rel (#1737)
  .github/workflows/call-integration-release.yaml
Due: none

Release 3.0.0 security config
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Release 3.0.0 security config (#1738)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

add rns 3.0
  docs/release-notes/3.0.0.md
Due: none

Update 3.0.0.md
  docs/release-notes/3.0.0.md
Due: none

Apply suggestions from code review
  docs/release-notes/3.0.0.md
Due: none

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)
