Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)

Refactored ory zero downtime migration tests (cherry pick of PR 2113)
  Makefile
  tests/integration/main_test.go
  tests/integration/pkg/tester/parallel_tester.go
  tests/integration/scripts/test-zero-downtime.sh
  tests/integration/testsuites/ory/features-zero-downtime-migration/zero-downtime-migration.feature
  tests/integration/testsuites/ory/scenario.go
  tests/integration/testsuites/ory/scenario_migration_allow_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_jwt_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_noauth_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_noop_v1beta1.go
  tests/integration/testsuites/ory/scenario_migration_oauth2_introspection_v1beta1.go
  tests/integration/testsuites/ory/testsuite.go
  tests/integration/testsuites/ory/zero_downtime.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Adapt banner
  config/ui-extensions/apirules/injections
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Apply suggestions from code review
  config/ui-extensions/apirules/injections
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Zero downtime tests fix - synchronized zero-downtime-migration.feature with v2alpha1_conversion.feature proper for release/3.1 branch
  tests/integration/testsuites/ory/features-zero-downtime-migration/zero-downtime-migration.feature
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove obsolete make target
  Makefile
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Separate make target for apirule in version v2 only
  Makefile
  config/apirule_crd/overlays/v1/kustomization.yaml
  config/apirule_crd/overlays/v2/kustomization.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Generate both apirules crds at the same time
  Makefile
  config/apirule_crd/bases/v1/gateway.kyma-project.io_apirules.yaml
  config/apirule_crd/bases/v2/gateway.kyma-project.io_apirules.yaml
  config/apirule_crd/overlays/v1/kustomization.yaml
  config/apirule_crd/overlays/v2/kustomization.yaml
  internal/reconciliations/gateway/apirule_v2_crd.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add deletion note for version 3.2.0
  docs/release-notes/3.2.0.md
Due: none

update rns
  docs/release-notes/3.2.0.md
Due: none

update release notes
  docs/release-notes/3.2.0.md
Due: none

APIRule migration timeline fix
  docs/release-notes/3.2.0.md
Due: none

Apply suggestions from code review
  docs/release-notes/3.2.0.md
Due: none

sync HP and OS APIRule migration docs
  docs/user/_sidebar.md
  docs/user/apirule-migration/README.md
Due: none

Add deletion note for version 3.2.0 (#2135)
  docs/release-notes/3.2.0.md
Due: none

release 3.2.0 preparation (#2137)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

update dependabot.yml (#2138)
  .github/dependabot.yml
Due: none

remove the heading
  docs/user/apirule-migration/README.md
Due: none

font fix
  docs/user/apirule-migration/README.md
Due: none

chore: automatic update sec-scanners-config.yaml (#2144)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Try to run a seperate manager
  config/manager/manager.yaml
  controllers/gateway/dynamic.go
  controllers/operator/apigateway_controller.go
  controllers/operator/apigateway_types.go
  internal/reconciliations/gateway/apirule_crd.go
  internal/reconciliations/gateway/gateway.go
  main.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Use dynamic subprocess
  Dockerfile
  cmd/apirulemgr/main.go
  config/manager/manager.yaml
  controllers/certificate/certificate.go
  controllers/certificate/certificate_controller.go
  controllers/gateway/dynamic.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Adapt tests to wait for APIRule CRD
  tests/integration/pkg/helpers/api_rule.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Adapt after-suite hook
  tests/integration/pkg/hooks/api-gateway.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Dump all api resources
  .github/actions/e2e-test-k3d/action.yaml
Due: none

- Check if CRD exists as before hook - Reset RESTMapper if it fails to create a mapping
  tests/integration/main_test.go
  tests/integration/pkg/hooks/api-gateway.go
  tests/integration/pkg/resource/manager.go
  tests/integration/testsuites/custom-domain/testsuite.go
  tests/integration/testsuites/gateway/testsuite.go
  tests/integration/testsuites/istio-jwt/testsuite.go
  tests/integration/testsuites/ory/testsuite.go
  tests/integration/testsuites/rate-limit/testsuite.go
  tests/integration/testsuites/upgrade/testsuite.go
  tests/integration/testsuites/v2/testsuite.go
  tests/integration/testsuites/v2alpha1/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add retry to restmapping
  .github/actions/e2e-test-k3d/action.yaml
  tests/e2e/pkg/helpers/modules/apigateway.go
  tests/integration/main_test.go
  tests/integration/pkg/hooks/api-gateway.go
  tests/integration/pkg/resource/manager.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove beta api from gateway test
  .github/actions/e2e-test-k3d/action.yaml
  .github/actions/provision-k3d-cluster/action.yaml
  tests/integration/testsuites/gateway/manifests/apirule.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add name label
  config/apirule_crd/overlays/v1/kustomization.yaml
  config/apirule_crd/overlays/v2/kustomization.yaml
  config/crd/kustomization.yaml
  internal/reconciliations/gateway/apirule_crd.yaml
  internal/reconciliations/gateway/apirule_v2_crd.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update required labels
  config/apirule_crd/overlays/v1/kustomization.yaml
  config/apirule_crd/overlays/v2/kustomization.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Patch to remove required
  tests/integration/pkg/hooks/api-gateway.go
  tests/integration/pkg/patch/patch.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add apiextenstions to scheme
  tests/integration/pkg/client/client.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Patch to remove required field from v2
  tests/integration/pkg/patch/patch.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Generate labels
  internal/reconciliations/gateway/apirule_crd.yaml
  internal/reconciliations/gateway/apirule_v2_crd.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Added zero-downtime migration tests to the PR flow
  .github/workflows/pull-request.yaml
  docs/contributor/02-10-testing-strategy.md
Due: none

Move new pre-merge checklist from Istio repository
  .github/pull-request-template.md
Due: none
