Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)

feat: add ratelimit UI
  config/ui-extensions/kustomization.yaml
  config/ui-extensions/ratelimits/dataSources
  config/ui-extensions/ratelimits/details
  config/ui-extensions/ratelimits/form
  config/ui-extensions/ratelimits/general
  config/ui-extensions/ratelimits/kustomization.yaml
  config/ui-extensions/ratelimits/list
  config/ui-extensions/ratelimits/presets
  config/ui-extensions/ratelimits/translations
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add review feedback to rate limit documentation (#2883)
  docs/user/ratelimit/README.md
Due: none

Removed workflow dispatch trigger from credentials check job
  .github/workflows/schedule-credentials-check.yaml
Due: none

Removed workflow dispatch trigger from credentials check job (#2886)
  .github/workflows/schedule-credentials-check.yaml
Due: none

fix(release): remove quotes from build-args VERSION to pass allowlist validation
  .github/workflows/release-api-gateway.yaml
Due: none

feat: add ratelimit UI
  config/ui-extensions/ratelimits/form
  config/ui-extensions/ratelimits/presets
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

docs: add release notes
  docs/release-notes/3.12.0.md
Due: none

Update docs/release-notes/3.12.0.md
  docs/release-notes/3.12.0.md
Due: none

fix(release): remove quotes from build-args VERSION to pass allowlist validation (#2887)
  .github/workflows/release-api-gateway.yaml
Due: none

feat: add ratelimit UI (#2885)
  config/ui-extensions/kustomization.yaml
  config/ui-extensions/ratelimits/dataSources
  config/ui-extensions/ratelimits/details
  config/ui-extensions/ratelimits/form
  config/ui-extensions/ratelimits/general
  config/ui-extensions/ratelimits/kustomization.yaml
  config/ui-extensions/ratelimits/list
  config/ui-extensions/ratelimits/presets
  config/ui-extensions/ratelimits/translations
  docs/release-notes/3.12.0.md
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update link to blocked deletion troubleshooting in _sidebar.ts
  docs/user/_sidebar.ts
Due: none

Update link to blocked deletion troubleshooting in _sidebar.ts (#2888)
  docs/user/_sidebar.ts
Due: none

Delete sec-scanners-config.yaml (because of migration to GHAS)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Delete sec-scanners-config.yaml (because of migration to GHAS) (#2891)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

feat: add new condition types
  apis/operator/v1alpha1/apigateway_types.go
  apis/operator/v1alpha1/conditions.go
  internal/conditions/conditions.go
  internal/conditions/conditions_test.go
  internal/conditions/suite_test.go
  internal/controller/operator/apigateway_controller.go
  internal/controller/operator/apigateway_controller_integration_test.go
  internal/controller/operator/apigateway_controller_test.go
  internal/controller/operator/apigateway_types.go
  internal/controller/operator/suite_test.go
  internal/controller/status.go
  internal/controller/status_test.go
  internal/reconciliations/gateway/gateway.go
  internal/reconciliations/gateway/gateway_test.go
  internal/reconciliations/oathkeeper/deployment_test.go
  internal/reconciliations/oathkeeper/hpa_test.go
  internal/reconciliations/oathkeeper/oathkeeper.go
  internal/reconciliations/oathkeeper/oathkeeper_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: fix broken oathkeeper conditions, normalize status constructors and add new condtions for dns cert
  apis/operator/v1alpha1/conditions.go
  apis/operator/v1alpha1/conditions_test.go
  internal/controller/operator/apigateway_controller.go
  internal/controller/operator/apigateway_types.go
  internal/controller/operator/suite_test.go
  internal/controller/status.go
  internal/controller/status_test.go
  internal/reconciliations/gateway/gateway.go
  internal/reconciliations/gateway/gateway_test.go
  internal/reconciliations/oathkeeper/deployment_test.go
  internal/reconciliations/oathkeeper/hpa_test.go
  internal/reconciliations/oathkeeper/oathkeeper.go
  internal/reconciliations/oathkeeper/oathkeeper_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: use pointers for conditions, update status interface to accept pointer slice, change network policy condition handling
  apis/operator/v1alpha1/conditions.go
  internal/controller/gateway/apirule_controller.go
  internal/controller/operator/apigateway_controller.go
  internal/controller/operator/apigateway_controller_integration_test.go
  internal/controller/operator/apigateway_controller_test.go
  internal/controller/operator/suite_test.go
  internal/controller/status.go
  internal/controller/status_test.go
  internal/reconciliations/gateway/gateway.go
  internal/reconciliations/gateway/gateway_test.go
  internal/reconciliations/oathkeeper/oathkeeper.go
  internal/reconciliations/oathkeeper/oathkeeper_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: use pointers for conditions, update status interface to accept pointer slice, change network policy condition handling
  config/crd/bases/operator.kyma-project.io_apigateways.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: remove implicit condition propagation, set Ready-type condition explicitly
  internal/controller/status.go
  internal/controller/status_test.go
  internal/reconciliations/gateway/gateway.go
  internal/reconciliations/gateway/gateway_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

feat: pass conditions as values
  apis/operator/v1alpha1/conditions.go
  internal/controller/operator/apigateway_controller.go
  internal/controller/operator/apigateway_controller_test.go
  internal/controller/status.go
  internal/controller/status_test.go
  internal/reconciliations/gateway/gateway.go
  internal/reconciliations/gateway/gateway_test.go
  internal/reconciliations/oathkeeper/oathkeeper_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: adjust returned conditions
  apis/operator/v1alpha1/conditions.go
  internal/controller/operator/apigateway_controller.go
  internal/reconciliations/oathkeeper/oathkeeper.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

docs: create ADR
  docs/contributor/adr/0013-apigateway-cr-conditions.md
Due: none

docs: slight adjustment
  docs/contributor/adr/0013-apigateway-cr-conditions.md
Due: none

docs: drop setting all to unknown
  docs/contributor/adr/0013-apigateway-cr-conditions.md
Due: none

feat: collect conditions alongside
  internal/controller/operator/apigateway_controller.go
  internal/controller/status.go
  internal/controller/status_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

docs: create ADR for ApiRule and RateLimit
  docs/contributor/adr/0014-apirule-conditions.md
  docs/contributor/adr/0015-ratelimit-conditions.md
Due: none
