Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-module-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)

update script
  .github/workflows/create-release.yaml
Due: none

Remaining prow jobs migration (#806)
  .github/workflows/pull-integration-release.yaml
  .github/workflows/pull-integration.yaml
  docs/contributor/04-30-ci-cd.md
  tests/integration/scripts/custom-domain-gardener-aws-gh.sh
  tests/integration/scripts/custom-domain-gardener-gcp-gh.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remaining prow jobs migration (#806) (#848)
  .github/workflows/pull-integration-release.yaml
  .github/workflows/pull-integration.yaml
  docs/contributor/04-30-ci-cd.md
  tests/integration/scripts/custom-domain-gardener-aws-gh.sh
  tests/integration/scripts/custom-domain-gardener-gcp-gh.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Test
  tests/integration/main_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix links
  docs/release-notes/2.1.1.md
Due: none

Update 04-15-api-rule-access-strategies.md
  docs/user/custom-resources/apirule/04-15-api-rule-access-strategies.md
Due: none

Fix links (#850)
  docs/release-notes/2.1.1.md
  docs/user/custom-resources/apirule/04-15-api-rule-access-strategies.md
Due: none

Automated check for security scanner config (#846)
  .github/workflows/create-release.yaml
Due: none

Add PodDisruptionBudget for Oathkeeper
  config/rbac/role.yaml
  controllers/operator/apigateway_controller.go
  controllers/operator/suite_test.go
  internal/reconciliations/oathkeeper/oathkeeper.go
  internal/reconciliations/oathkeeper/oathkeeper_test.go
  internal/reconciliations/oathkeeper/pod_disruption_budget.go
  internal/reconciliations/oathkeeper/pod_disruption_budget.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Use includeTemplates: true when templating default kustomization.yaml
  .gitignore
  Makefile
  config/default/kustomization.template.yaml
  config/manager/manager.yaml
  config/manager/metrics_service.yaml
  config/rbac/apirule_editor_role.yaml
  config/rbac/apirule_viewer_role.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/operator_apigateway_editor_role.yaml
  config/rbac/operator_apigateway_viewer_role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  config/scheduling/priority_class.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add app.kubernetes.io/component: operator to crds
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  config/crd/bases/operator.kyma-project.io_apigateways.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Simplify applying label app.kubernetes.io/component and add missing label for CRDs, ui-extension and manager-role. Simplify integration test validation and make message more expressive.
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  config/crd/bases/operator.kyma-project.io_apigateways.yaml
  config/crd/kustomization.yaml
  config/default/kustomization.template.yaml
  config/manager/kustomization.yaml
  config/rbac/apirule_editor_role.yaml
  config/rbac/apirule_viewer_role.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/operator_apigateway_editor_role.yaml
  config/rbac/operator_apigateway_viewer_role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  config/scheduling/kustomization.yaml
  config/scheduling/priority_class.yaml
  config/ui-extensions/apigateways/kustomization.yaml
  config/ui-extensions/apirules/kustomization.yaml
  tests/integration/testsuites/gateway/metadata.go
  tests/integration/testsuites/gateway/scenario.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Rollback accidental commit
  config/manager/kustomization.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Use includeTemplates: true when templating default kustomization.yaml (#852)
  .gitignore
  Makefile
  config/crd/kustomization.yaml
  config/default/kustomization.template.yaml
  config/manager/manager.yaml
  config/manager/metrics_service.yaml
  config/rbac/kustomization.yaml
  config/scheduling/kustomization.yaml
  config/ui-extensions/apigateways/kustomization.yaml
  config/ui-extensions/apirules/kustomization.yaml
  tests/integration/testsuites/gateway/metadata.go
  tests/integration/testsuites/gateway/scenario.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add integration test step and release notes
  config/rbac/role.yaml
  docs/release-notes/2.2.0.md
  tests/integration/pkg/resource/manager.go
  tests/integration/testsuites/gateway/features/kyma_gateway.feature
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add PodDisruptionBudget for Oathkeeper (#853)
  config/rbac/role.yaml
  controllers/operator/apigateway_controller.go
  controllers/operator/suite_test.go
  docs/release-notes/2.2.0.md
  internal/reconciliations/oathkeeper/oathkeeper.go
  internal/reconciliations/oathkeeper/oathkeeper_test.go
  internal/reconciliations/oathkeeper/pod_disruption_budget.go
  internal/reconciliations/oathkeeper/pod_disruption_budget.yaml
  tests/integration/pkg/resource/manager.go
  tests/integration/testsuites/gateway/features/kyma_gateway.feature
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Added release notes for consistent labeling
  docs/release-notes/2.3.0.md
Due: none

Update docs/release-notes/2.3.0.md
  docs/release-notes/2.3.0.md
Due: none

Added release notes for consistent labeling (#854)
  docs/release-notes/2.3.0.md
Due: none

add new notes
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/04-20-apirule-istio-jwt-access-strategy.md
  docs/user/custom-resources/apirule/04-30-apirule-jwt-ory-and-istio-comparison.md
  docs/user/custom-resources/apirule/04-50-apirule-authorizations.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/03-02-404-not-found.md
  docs/user/troubleshooting-guides/03-10-dns-mgt/03-10-dns-mgt-connection-refused.md
  docs/user/tutorials/01-10-setup-custom-domain-for-workload.md
  docs/user/tutorials/01-40-expose-workload/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
  docs/user/tutorials/01-60-security/01-61-mtls-selfsign-client-certicate.md
  docs/user/tutorials/01-60-security/01-62-set-up-idp.md
Due: none

update notes
  docs/user/custom-resources/apirule/04-20-apirule-istio-jwt-access-strategy.md
  docs/user/custom-resources/apirule/04-30-apirule-jwt-ory-and-istio-comparison.md
Due: none

Update the notes' style (#855)
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  docs/user/custom-resources/apirule/04-20-apirule-istio-jwt-access-strategy.md
  docs/user/custom-resources/apirule/04-30-apirule-jwt-ory-and-istio-comparison.md
  docs/user/custom-resources/apirule/04-50-apirule-authorizations.md
  docs/user/troubleshooting-guides/03-00-cannot-connect-to-service/03-02-404-not-found.md
  docs/user/troubleshooting-guides/03-10-dns-mgt/03-10-dns-mgt-connection-refused.md
  docs/user/tutorials/01-10-setup-custom-domain-for-workload.md
  docs/user/tutorials/01-40-expose-workload/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-50-expose-and-secure-workload-oauth2.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/01-54-expose-and-secure-workload-with-certificate.md
  docs/user/tutorials/01-60-security/01-61-mtls-selfsign-client-certicate.md
  docs/user/tutorials/01-60-security/01-62-set-up-idp.md
Due: none

Add OAuth2 mock for istio-jwt and ory test suites
  tests/integration/env_vars.sh
  tests/integration/pkg/auth/auth.go
  tests/integration/pkg/auth/oauth2-server-mock.yaml
  tests/integration/pkg/manifestprocessor/processor.go
  tests/integration/pkg/testcontext/config.go
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-and-oauth.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-and-unrestricted.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-audiences.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-common.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-custom-label-selector.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-diff-svc-same-methods.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-multiple-mutators.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-mutator-cookie.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-mutator-header.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-mutators-overwrite.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-scopes.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-service-fallback.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-token-from-headers.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-token-from-params.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-two-namespaces.yaml
  tests/integration/testsuites/istio-jwt/testsuite.go
  tests/integration/testsuites/ory/manifests/jwt-oauth-one-path-strategy.yaml
  tests/integration/testsuites/ory/manifests/jwt-oauth-strategy.yaml
  tests/integration/testsuites/ory/manifests/oauth-strategy.yaml
  tests/integration/testsuites/ory/manifests/secured-to-unsecured.yaml
  tests/integration/testsuites/ory/manifests/unsecured-to-secured-2.yaml
  tests/integration/testsuites/ory/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add function to remove envs after tests, remove obsolete log
  tests/integration/pkg/auth/auth.go
  tests/integration/testsuites/istio-jwt/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add deployment patching function
  tests/integration/pkg/auth/auth.go
  tests/integration/pkg/testcontext/config.go
  tests/integration/testsuites/istio-jwt/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix import
  tests/integration/pkg/testcontext/config.go
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-common.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update api-gateway-manager version for security scanners
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update api-gateway-manager version for security scanners (#856)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add coreDns patch to istio-jwt testsuite to be able to use kyma.local.dev URL in APIRule issuer URL.
  tests/integration/jwt_handler.go
  tests/integration/pkg/hooks/api-gateway.go
  tests/integration/pkg/hooks/dns.go
  tests/integration/pkg/manifestprocessor/processor.go
  tests/integration/pkg/network/coredns-custom.yml
  tests/integration/pkg/network/dns.go
  tests/integration/pkg/testcontext/config.go
  tests/integration/testsuites/gateway/testsuite.go
  tests/integration/testsuites/istio-jwt/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Move istiod patch into hook
  tests/integration/pkg/auth/auth.go
  tests/integration/pkg/auth/oauth2-server-mock.go
  tests/integration/pkg/hooks/istio.go
  tests/integration/pkg/istio/istiod.go
  tests/integration/testsuites/istio-jwt/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add validation for rule methods in APIRule
  apis/gateway/v1beta1/apirule_types.go
  apis/gateway/v1beta1/rule.go
  apis/gateway/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  controllers/gateway/api_controller_integration_test.go
  controllers/gateway/apirule_timeout_integration_test.go
  controllers/gateway/suite_test.go
  controllers/operator/apigateway_controller_integration_test.go
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  internal/builders/access_rule.go
  internal/builders/access_rule_test.go
  internal/builders/istio.go
  internal/builders/istio_test.go
  internal/processing/internal/test/test_utils.go
  internal/processing/istio/access_rule_processor_test.go
  internal/processing/istio/authorization_policy_processor_test.go
  internal/processing/istio/istio_suite_test.go
  internal/processing/istio/request_authentication_processor_test.go
  internal/processing/istio/virtual_service_processor_test.go
  internal/processing/ory/access_rule_processor_test.go
  internal/processing/ory/ory_suite_test.go
  internal/processing/ory/virtual_service_processor_test.go
  internal/validation/validate.go
  internal/validation/validate_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add generated manager manifest to gitignore
  .gitignore
Due: none

Add allowMethods handler to istio-jwt
  apis/gateway/v1beta1/gateway_suite_test.go
  apis/gateway/v1beta1/rule.go
  apis/gateway/v1beta1/rule_test.go
  controllers/gateway/api_controller_integration_test.go
  internal/builders/virtual_service.go
  internal/builders/virtual_service_test.go
  internal/processing/helpers.go
  internal/processing/istio/access_rule_processor.go
  internal/processing/istio/access_rule_processor_test.go
  internal/processing/istio/as_validator.go
  internal/processing/istio/as_validator_test.go
  internal/processing/istio/authorization_policy_processor_test.go
  internal/processing/istio/reconciliation_test.go
  internal/processing/istio/request_authentication_processor_test.go
  internal/processing/istio/virtual_service_processor.go
  internal/processing/istio/virtual_service_processor_test.go
  internal/processing/processors/virtual_service_processor_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add integration tests for istio-jwt allowMethods
  apis/gateway/v1beta1/rule.go
  controllers/gateway/api_controller_integration_test.go
  internal/processing/istio/as_validator_test.go
  internal/processing/istio/reconciliation_test.go
  internal/validation/validate.go
  tests/integration/pkg/helpers/http_client.go
  tests/integration/testsuites/istio-jwt/features/expose_methods_on_paths.feature
  tests/integration/testsuites/istio-jwt/manifests/paths-and-methods-allow-handler.yaml
  tests/integration/testsuites/istio-jwt/manifests/paths-and-methods-allow-methods-handler.yaml
  tests/integration/testsuites/istio-jwt/manifests/paths-and-methods-jwt-handler.yaml
  tests/integration/testsuites/istio-jwt/manifests/paths-and-methods-noop-handler.yaml
  tests/integration/testsuites/istio-jwt/manifests/paths-and-methods-oauth2-handler.yaml
  tests/integration/testsuites/istio-jwt/scenario.go
  tests/integration/testsuites/istio-jwt/scenario_jwt_multiple_mutators.go
  tests/integration/testsuites/istio-jwt/scenario_jwt_mutators_overwrite.go
  tests/integration/testsuites/istio-jwt/scenario_paths_and_methods_allow.go
  tests/integration/testsuites/istio-jwt/scenario_paths_and_methods_allow_methods.go
  tests/integration/testsuites/istio-jwt/scenario_paths_and_methods_jwt.go
  tests/integration/testsuites/istio-jwt/scenario_paths_and_methods_noop.go
  tests/integration/testsuites/istio-jwt/scenario_paths_and_methods_oauth2.go
  tests/integration/testsuites/istio-jwt/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add tests
  apis/gateway/v1beta1/authorization_test.go
  apis/gateway/v1beta1/mutators_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix handler name
  internal/processing/istio/virtual_service_processor_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Use our own implementation of mock
  docs/contributor/01-10-API-Gateway-CRD-proposal.md
  tests/integration/pkg/auth/auth.go
  tests/integration/pkg/auth/oauth2-server-mock.go
  tests/integration/pkg/auth/oauth2-server-mock.yaml
  tests/integration/pkg/helpers/http_client.go
  tests/integration/pkg/hooks/api-gateway.go
  tests/integration/pkg/hooks/manifests/apigateway_cr_template.yaml
  tests/integration/pkg/network/dns.go
  tests/integration/testsuites/gateway/features/deletion.feature
  tests/integration/testsuites/gateway/features/kyma_gateway.feature
  tests/integration/testsuites/istio-jwt/features/Istio_jwt_two_strategies.feature
  tests/integration/testsuites/istio-jwt/features/istio_jwt.feature
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-and-oauth.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-and-unrestricted.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-audiences.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-common.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-custom-label-selector.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-diff-svc-same-methods.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-multiple-mutators.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-mutator-cookie.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-mutator-header.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-mutators-overwrite.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-scopes.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-service-fallback.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-token-from-headers.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-token-from-params.yaml
  tests/integration/testsuites/istio-jwt/manifests/istio-jwt-two-namespaces.yaml
  tests/integration/testsuites/istio-jwt/scenario.go
  tests/integration/testsuites/istio-jwt/scenario_audience.go
  tests/integration/testsuites/istio-jwt/scenario_oauth_and_jwt.go
  tests/integration/testsuites/istio-jwt/scenario_scopes.go
  tests/integration/testsuites/istio-jwt/testsuite.go
  tests/integration/testsuites/ory/manifests/jwt-oauth-one-path-strategy.yaml
  tests/integration/testsuites/ory/manifests/jwt-oauth-strategy.yaml
  tests/integration/testsuites/ory/manifests/unsecured-to-secured-2.yaml
  tests/integration/testsuites/ory/scenario.go
  tests/integration/testsuites/ory/testsuite.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

update typo
  tests/integration/testsuites/istio-jwt/features/Istio_jwt_two_strategies.feature
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add allowMethods handler to ory
  apis/gateway/v1beta1/mutators_test.go
  apis/gateway/v1beta1/rule.go
  apis/gateway/v1beta1/rule_test.go
  controllers/gateway/api_controller_integration_test.go
  internal/processing/istio/access_rule_processor_test.go
  internal/processing/istio/as_validator.go
  internal/processing/istio/virtual_service_processor.go
  internal/processing/istio/virtual_service_processor_test.go
  internal/processing/ory/access_rule_processor_test.go
  internal/processing/ory/as_validator.go
  internal/processing/ory/as_validator_test.go
  internal/processing/ory/virtual_service_processor.go
  internal/processing/ory/virtual_service_processor_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, pull-api-gateway-module-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws
