Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

pull-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

pull-api-gateway-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-lint
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
  ...

release: update sec-scanners-config.yaml (#2575)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update configure-mtls-k3d.md
  docs/user/istio-gateways/configure-mtls-k3d.md
Due: none

Update client certificate EKU requirements note
  docs/user/istio-gateways/configure-mtls-Gardener-certs.md
Due: none

Add information on client certificate EKU in the mTLS tutorials (#2559)
  docs/user/istio-gateways/configure-mtls-Gardener-certs.md
  docs/user/istio-gateways/configure-mtls-k3d.md
Due: none

chore: automatic update sec-scanners-config.yaml (#2578)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

New version of upload-release-report (#2531)
  .github/workflows/release-api-gateway-2.yaml
Due: none

update sidebar
  docs/user/_sidebar.ts
Due: none

Add troubleshooting guide for Busola
  docs/user/troubleshooting-guides/03-84-missing-rules-apirule-v2alpha1.md
  docs/user/troubleshooting-guides/03-84-unintentional-api-gateway-removal.md
Due: none

remove busola instructions
  docs/user/troubleshooting-guides/03-84-unintentional-api-gateway-removal.md
Due: none

revert troubleshootin removal
  docs/user/_sidebar.ts
  docs/user/troubleshooting-guides/03-84-missing-rules-apirule-v2alpha1.md
  docs/user/troubleshooting-guides/03-85-unintentional-api-gateway-removal.md
Due: none

reapply review comments
  docs/user/troubleshooting-guides/03-85-unintentional-api-gateway-removal.md
Due: none

Reverting the Istio module's deletion - troubleshooting guide (#2577)
  docs/user/_sidebar.ts
  docs/user/troubleshooting-guides/03-84-missing-rules-apirule-v2alpha1.md
  docs/user/troubleshooting-guides/03-85-unintentional-api-gateway-removal.md
Due: none

Update troubleshooting guide for restoring API Gateway module
  docs/user/troubleshooting-guides/03-85-unintentional-api-gateway-removal.md
Due: none

Update 03-85-unintentional-api-gateway-removal.md
  docs/user/troubleshooting-guides/03-85-unintentional-api-gateway-removal.md
Due: none

Apply suggestion from @NHingerl
  docs/user/troubleshooting-guides/03-85-unintentional-api-gateway-removal.md
Due: none

Apply suggestions from code review
  controllers/gateway/external/internal_domain.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: update CA secret naming convention to include 'tls' suffix for consistency
  apis/gateway/external/v1alpha1/external_gateway_types.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: refactor naming conventions for ExternalGateway resources and improve name generation logic
  apis/gateway/external/v1alpha1/external_gateway_types.go
  controllers/gateway/discover_externalgateway_test.go
  controllers/gateway/external/controller.go
  controllers/gateway/external/externalgateway_integration_test.go
  internal/reconciliations/externalgateway/ca_secret_copier.go
  internal/reconciliations/externalgateway/ca_secret_copier_test.go
  internal/reconciliations/externalgateway/cert_validation_filter.go
  internal/reconciliations/externalgateway/certificate.go
  internal/reconciliations/externalgateway/dnsentry.go
  internal/reconciliations/externalgateway/gateway.go
  internal/reconciliations/externalgateway/xfcc_sanitization_filter.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: update btpregion to btpRegion in ExternalGateway spec and reverse OU order for Envoy compatibility, add logic to EF to strictly validate certificateSubject
  apis/gateway/external/v1alpha1/external_gateway_types.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: update btpregion to btpRegion in ExternalGateway spec and reverse OU order for Envoy compatibility, add logic to EF to strictly validate certificateSubject
  config/crd/bases/gateway.kyma-project.io_externalgateways.yaml
  controllers/gateway/external/controller.go
  docs/release-notes/3.6.0.md
  internal/reconciliations/externalgateway/cert_validation_filter.go
  internal/reconciliations/externalgateway/region_cert_subjects.go
  internal/reconciliations/externalgateway/region_cert_subjects_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

feat: enhance Lua script for X509 validation with expected CNs and OUs
  internal/reconciliations/externalgateway/cert_validation_filter.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

feat: add RegionsConfigMap field for UGW region metadata
  apis/gateway/external/v1alpha1/gateway_types.go
  config/crd/bases/gateway.kyma-project.io_externalgateways.yaml
  controllers/gateway/external/externalgateway_integration_test.go
  internal/reconciliations/externalgateway/region_cert_subjects.go
  internal/reconciliations/externalgateway/region_cert_subjects_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

feat: update ExternalGateway to process only the first specified region
  controllers/gateway/external/controller.go
  internal/reconciliations/externalgateway/region_cert_subjects.go
  internal/reconciliations/externalgateway/region_cert_subjects_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: update logging to use internal domain instead of (wrong) wildcard domain
  internal/reconciliations/externalgateway/certificate.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: update image name and tag for API gateway manager in kustomization
  apis/gateway/external/v1alpha1/external_gateway_types.go
  apis/gateway/external/v1alpha1/external_gateway_types_test.go
  internal/reconciliations/externalgateway/ca_secret_copier_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: remove helper functions
  controllers/gateway/external/externalgateway_integration_test.go
  internal/reconciliations/externalgateway/ca_secret_copier_test.go
  internal/reconciliations/externalgateway/region_cert_subjects_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: update CA secret naming convention to include 'tls' suffix for consistency
  apis/gateway/external/v1alpha1/external_gateway_types.go
  apis/gateway/external/v1alpha1/external_gateway_types_test.go
  controllers/gateway/discover_externalgateway_test.go
  controllers/gateway/external/controller.go
  controllers/gateway/external/externalgateway_integration_test.go
  internal/reconciliations/externalgateway/region_cert_subjects.go
  internal/reconciliations/externalgateway/region_cert_subjects_string_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: update logging to use the correct logger instance in Gardener shoot-info handling
  controllers/gateway/external/internal_domain.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fixed: predicate for reconciliation
  controllers/gateway/external/controller.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: refactor certificate validation logic to use string subjects and reverse order for Envoy compatibility
  internal/reconciliations/externalgateway/cert_validation_filter.go
  internal/reconciliations/externalgateway/region_cert_subjects.go
  internal/reconciliations/externalgateway/region_cert_subjects_string_test.go
  internal/reconciliations/externalgateway/region_cert_subjects_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: update validation rule for gateway and externalGateway specification
  apis/gateway/v2/apirule_types.go
  apis/gateway/v2alpha1/apirule_types.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

linter: fix linter issues
  apis/gateway/external/v1alpha1/gateway_types.go
  controllers/gateway/external/externalgateway_integration_test.go
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
  internal/reconciliations/externalgateway/cert_validation_filter.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

feat: refactor ExternalGateway to use a single region identifier instead of a list
  apis/gateway/external/v1alpha1/gateway_types.go
  apis/gateway/external/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/gateway.kyma-project.io_externalgateways.yaml
  controllers/gateway/discover_externalgateway_test.go
  controllers/gateway/external/controller.go
  controllers/gateway/external/externalgateway_integration_test.go
  internal/reconciliations/externalgateway/certificate.yaml
  internal/reconciliations/externalgateway/dnsentry.yaml
  internal/reconciliations/externalgateway/region_cert_subjects.go
  internal/reconciliations/externalgateway/region_cert_subjects_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: improve logging messages and remove unnecessary label
  controllers/gateway/external/internal_domain.go
  internal/reconciliations/externalgateway/labels.go
  internal/reconciliations/externalgateway/region_cert_subjects.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: adjustments after CR (joanbod)
  apis/gateway/external/v1alpha1/external_gateway_types.go
  apis/gateway/v2/apirule_types.go
  apis/gateway/v2alpha1/apirule_types.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  config/crd/bases/gateway.kyma-project.io_externalgateways.yaml
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

feat: enhance reconciliation logic for Certificate and DNSEntry resources
  internal/reconciliations/externalgateway/certificate.go
  internal/reconciliations/externalgateway/certificate.yaml
  internal/reconciliations/externalgateway/dnsentry.go
  internal/reconciliations/externalgateway/dnsentry.yaml
  internal/reconciliations/externalgateway/gateway.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: increase reconciliation period for conflict resolution in ExternalGateway reconciler
  controllers/gateway/external/controller.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

feat: update CA secret key references from 'cacert' to 'ca.crt' for consistency
  controllers/gateway/external/externalgateway_integration_test.go
  internal/reconciliations/externalgateway/ca_secret_copier_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

fix: enhance gateway discovery logic and remove redundant validation for ExternalGateway
  controllers/gateway/apirule_controller.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

feat: update ExternalGateway labels for consistency and add managed-by label
  controllers/gateway/external/externalgateway_integration_test.go
  internal/reconciliations/externalgateway/labels.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)
