Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

pull-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

post-api-gateway-webhook-certificates-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-webhook-certificates-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

pull-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-gcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-gcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

post-api-gateway-custom-domain-integration-aws:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-api-gateway-custom-domain-integration-aws
    prow.k8s.io/pubsub.topic: prowjobs
    preset-api-gateway-int-test-client-creds: 'true'
    preset-cluster-version: 'true'
    preset-debug-commando-oom: 'true'
  ...

pull-api-gateway-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-api-gateway-lint
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
  ...

Update security scanner config
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Unify CR description in Kyma dashboard
  config/ui-extensions/apigateways/general
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Unify CR description in Kyma dashboard (#1066)
  config/ui-extensions/apigateways/general
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fail certificate expire test one month before actual cert expiration
  internal/reconciliations/gateway/certificate_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fail certificate expire test one month before actual cert expiration (#1067)
  internal/reconciliations/gateway/certificate_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add validation to allow only one host to be configured in v1beta2
  apis/gateway/v1beta2/apirule_types.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  controllers/gateway/api_controller_integration_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add setup of Ory handler to tests
  controllers/gateway/api_controller_integration_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update security scanner config (#1065)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix host link when multiple APIRules exist
  config/ui-extensions/apirules/dataSources
  config/ui-extensions/apirules/list
  tests/ui/tests/support/commands.ts
  tests/ui/tests/support/list.ts
  tests/ui/tests/tests/api-rule.spec.ts
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add release notes
  docs/release-notes/2.5.0.md
Due: none

Allow only one hosts for APIRule v1beta2 (#1068)
  apis/gateway/v1beta2/apirule_types.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
  controllers/gateway/api_controller_integration_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update release notes
  docs/release-notes/2.4.0.md
  docs/release-notes/2.5.0.md
Due: none

Fix existing no_auth documentations
  docs/user/tutorials/01-40-expose-workload/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/01-42-expose-workloads-multiple-namespaces.md
Due: none

Add v1beta2 noAuth tutorials
  docs/user/tutorials/01-41-expose-workload-v1beta2/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-41-expose-workload-v1beta2/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-41-expose-workload-v1beta2/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-41-expose-workload-v1beta2/README.md
Due: none

Remove apirule v1beta2 subresource statuses
  apis/gateway/v1beta2/apirule_types.go
  apis/gateway/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add v1beta2 JWT example
  docs/user/tutorials/01-51-expose-and-secure-a-workload-v1beta2/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-51-expose-and-secure-a-workload-v1beta2/README.md
Due: none

ory jwt conversion
  apis/gateway/v1beta2/apirule_conversion.go
  internal/types/ory/jwt.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Move v1beta2 tutorials to separate folder
  docs/user/tutorials/01-40-expose-workload/v1beta2/01-40-expose-workload-apigateway.md
  docs/user/tutorials/01-40-expose-workload/v1beta2/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/v1beta2/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-41-expose-workload-v1beta2/README.md
  docs/user/tutorials/01-50-expose-and-secure-a-workload/v1beta2/01-52-expose-and-secure-workload-jwt.md
  docs/user/tutorials/01-51-expose-and-secure-a-workload-v1beta2/README.md
Due: none

Have same WARNING formatting
  docs/user/tutorials/01-40-expose-workload/v1beta2/01-41-expose-multiple-workloads.md
Due: none

Fix incorrect URL for existing tutorial
  docs/user/tutorials/01-40-expose-workload/01-42-expose-workloads-multiple-namespaces.md
Due: none

Fix Postman URLs in tutorials
  docs/user/tutorials/01-40-expose-workload/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/01-42-expose-workloads-multiple-namespaces.md
  docs/user/tutorials/01-40-expose-workload/v1beta2/01-41-expose-multiple-workloads.md
  docs/user/tutorials/01-40-expose-workload/v1beta2/01-42-expose-workloads-multiple-namespaces.md
Due: none

Error on v1beta2 conversion for ory oauth2 v1beta1
  apis/gateway/v1beta2/apirule_conversion.go
  apis/gateway/v1beta2/apirule_conversion_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Use seconds as an integer value instead of metav1.Duration
  apis/gateway/v1beta2/apirule_conversion.go
  apis/gateway/v1beta2/apirule_types.go
  apis/gateway/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add troubleshooting guide for conversion webhook certificate secret
  docs/user/troubleshooting-guides/03-60-apirule-conversion-webhook-cert-issue.md
Due: none

Add retries to reduce flakiness of tests
  tests/ui/tests/cypress.config.ts
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Make tests more reliable by using scrollIntoView
  tests/ui/tests/support/input.ts
  tests/ui/tests/tests/api-rule.spec.ts
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Use seconds as an integer value instead of metav1.Duration
  apis/gateway/v1beta2/apirule_conversion.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add unit test
  apis/gateway/v1beta2/apirule_conversion_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

lint
  apis/gateway/v1beta2/apirule_conversion.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix scrolling issue with APIRule name
  tests/ui/tests/support/apirule.ts
  tests/ui/tests/support/input.ts
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix an issue in the UI tests with scrolling to APIRule Name
  tests/ui/tests/cypress.config.ts
  tests/ui/tests/support/input.ts
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Adapt ory jwt conversion and error message
  apis/gateway/v1beta2/apirule_conversion.go
  apis/gateway/v1beta2/apirule_conversion_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Enable experimentalMemoryManagement to improve stability for chromium-based test executions
  tests/ui/tests/cypress.config.ts
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Run tests with electron to see if this improves stability
  tests/ui/tests/cypress.config.ts
  tests/ui/tests/package.json
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Revert back to chromium
  tests/ui/tests/package.json
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Adapt status
  apis/gateway/v1beta2/apirule_conversion.go
  apis/gateway/v1beta2/apirule_conversion_test.go
  apis/gateway/v1beta2/apirule_types.go
  apis/gateway/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/gateway.kyma-project.io_apirules.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Use older version of Busola to check if it's more reliable
  tests/ui/tests/scripts/k3d-ci-kyma-dashboard-integration.sh
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Update apis/gateway/v1beta2/apirule_conversion_test.go
  apis/gateway/v1beta2/apirule_conversion_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Fix an issue in the UI tests (#1076)
  tests/ui/tests/cypress.config.ts
  tests/ui/tests/scripts/k3d-ci-kyma-dashboard-integration.sh
  tests/ui/tests/support/input.ts
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Deprecation error message adapted with feedback from team
  apis/gateway/v1beta2/apirule_conversion.go
  apis/gateway/v1beta2/apirule_conversion_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)
