Repository kyma-project/api-gateway: changes, and which Prow jobs are due for each by the changed paths.
All: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws, pull-api-gateway-checkconfig, pull-api-gateway-pjconfigtest, pull-api-gateway-pjtester, pull-api-gateway-vpathguard

Path conditions:
  pull-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-webhook-certificates-build: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  post-api-gateway-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-lint: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-test: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.
  pull-api-gateway-manager-build: unless all of: sec-scanners-config\.yaml$|^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-gcp: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  post-api-gateway-manager-custom-domain-integration-aws: unless all of: ^docs/|^performance_tests/|\.md$|^(OWNERS|CODEOWNERS)$|^\.|^LICENSES/
  pull-api-gateway-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-api-gateway-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-api-gateway-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-api-gateway-vpathguard: any of: ^(vpath/pjtester.yaml)

Adjust image version.
  docs/user/tutorials/01-36-expose-workload-noauth-k3d.md
Due: none

Adjust image version. (#2521)
  docs/user/tutorials/01-36-expose-workload-noauth-k3d.md
Due: none

update noauth
  docs/assets/apirule-noauth.drawio.svg
  docs/user/expose-workloads/jwt/README.md
  docs/user/expose-workloads/noAuth/README.md
  docs/user/istio-gateways/README.md
  docs/user2/apirule/jwt/README.md
Due: none

revert changes
  docs/user2/apirule/jwt/README.md
Due: none

feat: handle operator networkpolicies in api-gateway
  apis/operator/v1alpha1/apigateway_types.go
  apis/operator/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_apigateways.yaml
  config/rbac/role.yaml
  controllers/operator/apigateway_controller.go
  controllers/operator/apigateway_controller_integration_test.go
  controllers/operator/suite_test.go
  internal/networkpolicy/operator.go
  internal/networkpolicy/operator_networkpolicy.yaml
  internal/networkpolicy/operator_test.go
  main.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

bug: fix throwing error when shoot-info is not present
  internal/reconciliations/oathkeeper/oathkeeper.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

docs: document feature and release notes
  docs/release-notes/3.5.0.md
  docs/user/custom-resources/apigateway/04-00-apigateway-custom-resource.md
  docs/user/custom-resources/apigateway/04-30-networkpolicies.md
  docs/user/custom-resources/apigateway/README.md
Due: none

chore: automatic update sec-scanners-config.yaml (#2525)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Apply suggestion from @barchw
  docs/user/expose-workloads/jwt/README.md
Due: none

Apply suggestions from code review
  docs/user/expose-workloads/expose-multiple-workloads.md
  docs/user/expose-workloads/noAuth/README.md
  docs/user/istio-gateways/mtls-context.md
Due: none

Apply suggestion from @barchw
  docs/user/expose-workloads/expose-multiple-workloads.md
Due: none

update jwt
  docs/assets/jwt.drawio.png
  docs/user/expose-workloads/jwt/README.md
  docs/user/expose-workloads/noAuth/README.md
Due: none

update jwt readme
  docs/user/expose-workloads/jwt/README.md
Due: none

extauth
  docs/assets/APIRules-extauth.drawio.png
  docs/user/expose-workloads/extAuth/README.md
  docs/user/expose-workloads/jwt/README.md
  docs/user/expose-workloads/noAuth/README.md
Due: none

update extauth readme
  docs/user/expose-workloads/extAuth/README.md
Due: none

update diagrams
  docs/assets/APIRules-extauth.drawio.png
  docs/assets/APIRules-extauth.drawio.svg
  docs/assets/APIRules-jwt.drawio.svg
  docs/assets/APIRules-noAuth.drawio.svg
  docs/assets/apirule-noauth.drawio.svg
  docs/assets/jwt.drawio.png
  docs/user/expose-workloads/extAuth/README.md
  docs/user/expose-workloads/jwt/README.md
  docs/user/expose-workloads/noAuth/README.md
Due: none

Remove backslashes added before brackets in backsticks during documentation generating process.
  Makefile
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove backslash before pipe sign.
  Makefile
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Revoke backslash before pipe sign for proper parsing.
  Makefile
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

ui: extend UI for network policies enablement
  config/ui-extensions/apigateways/form
  config/ui-extensions/apigateways/translations
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Remove backslashes added before brackets in documentation generator (#2528)
  Makefile
  docs/user/custom-resources/apirule/04-10-apirule-custom-resource.md
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Apply suggestions from code review
  docs/user/expose-workloads/extAuth/README.md
  docs/user/expose-workloads/jwt/README.md
Due: none

New version of upload-release-report
  .github/workflows/release-api-gateway-2.yaml
Due: none

apply review suggestions
  docs/assets/APIRules-extauth.drawio.svg
  docs/assets/APIRules-jwt.drawio.svg
  docs/assets/APIRules-noAuth.drawio.svg
  docs/user/expose-workloads/extAuth/README.md
  docs/user/expose-workloads/jwt/README.md
  docs/user/expose-workloads/noAuth/README.md
Due: none

diagram fixes
  docs/assets/APIRules-extauth.drawio.svg
  docs/assets/APIRules-jwt.drawio.svg
  docs/assets/APIRules-noAuth.drawio.svg
Due: none

make arrows even
  docs/assets/APIRules-extauth.drawio.svg
  docs/assets/APIRules-jwt.drawio.svg
  docs/assets/APIRules-noAuth.drawio.svg
Due: none

fix: allow metrics scraping only for labeled workloads
  docs/user/custom-resources/apigateway/04-30-networkpolicies.md
  internal/networkpolicy/operator_networkpolicy.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

try to fix tests
  controllers/operator/apigateway_controller_integration_test.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Set GOMEMLIMIT env for manager deployment (#2488)
  config/manager/manager.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

docs: release notes
  docs/release-notes/3.4.3.md
Due: none

Apply suggestion from @nataliasitko
  docs/user/expose-workloads/jwt/README.md
Due: none

chore: automatic update sec-scanners-config.yaml (#2537)
  sec-scanners-config.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Add exponential backoff
  controllers/gateway/reconcile_result.go
  controllers/gateway/types.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Limit max retries
  config/manager/kustomization.yaml
  controllers/gateway/reconcile_result.go
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws

Aggregate RBAC roles
  config/rbac/apigateway_admin_role.yaml
  config/rbac/apigateway_editor_role.yaml
  config/rbac/apigateway_viewer_role.yaml
  config/rbac/apirule_editor_role.yaml
  config/rbac/apirule_viewer_role.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/kustomization.yaml
  config/rbac/operator_apigateway_editor_role.yaml
  config/rbac/operator_apigateway_viewer_role.yaml
Due: pull-api-gateway-build, pull-api-gateway-webhook-certificates-build, post-api-gateway-build, post-api-gateway-webhook-certificates-build, pull-api-gateway-integration-aws, post-api-gateway-integration-aws, post-api-gateway-custom-domain-integration-gcp, post-api-gateway-custom-domain-integration-aws, pull-api-gateway-lint, pull-api-gateway-test, pull-api-gateway-manager-build, post-api-gateway-manager-custom-domain-integration-gcp, post-api-gateway-manager-custom-domain-integration-aws
