Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-gitserver-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, post-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-controller-python39-build, post-gitserver-build

pre-serverless-controller-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-controller-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-serverless-webhook-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-webhook-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-serverless-jobinit-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-jobinit-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-serverless-registry-gc-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-registry-gc-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: true
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-java17-jvm-alpha-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-java17-jvm-alpha-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v16-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v16-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-nodejs-v18-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-nodejs-v18-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-serverless-runtimes-python39-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-serverless-runtimes-python39-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-gitserver-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-gitserver-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  optional: true
  decorate: true
  spec:
    containers:
  ...

remove -local scanners-config
  sec-scanners-config-local.yaml
Due: none

use sec-scanners-config in release flow
  .github/scripts/release.sh
Due: none

Fix links found by Link Checker (#415)
  CODE_OF_CONDUCT.md
  README.md
  components/serverless/design/glossary_proposal.md
  config/serverless/charts/webhook/README.md
  docs/user/technical-reference/07-20-function-processing-stages.md
  docs/user/technical-reference/07-70-function-specification.md
  docs/user/tutorials/01-50-sync-function-with-gitops.md
  docs/user/tutorials/_sidebar.md
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Use sec-scanners-config during the release (#416)
  .github/scripts/release.sh
  sec-scanners-config-local.yaml
Due: none

refactor namespace reconciler
  components/serverless/internal/controllers/kubernetes/namespace_controller.go
  components/serverless/internal/controllers/kubernetes/secret_service.go
  components/serverless/internal/controllers/kubernetes/shared.go
  config/serverless/templates/deployment.yaml
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

refactor secret reconciler
  components/serverless/internal/controllers/kubernetes/secret_service.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

add tests
  components/serverless/internal/controllers/kubernetes/secret_service_test.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

bump images
  config/serverless/values.yaml
Due: none

fix namespace_controller tests
  components/serverless/internal/controllers/kubernetes/namespace_controller_test.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Cleanup dashboard definitions (#413)
  config/serverless/templates/function-dashboard.yaml
  config/serverless/templates/function-metrics-dashboard.yaml
  config/serverless/values.yaml
Due: none

Fix path to Makefile in release.sh
  .github/scripts/release.sh
Due: none

Adjust path to Makefile in release.sh (#421)
  .github/scripts/release.sh
Due: none

add configuration for golangci-lint
  components/operator/.golangci.yaml
  components/serverless/.golangci.yaml
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Only `serverless-registry-config-default` secret should be copied across namespaces (#420)
  components/serverless/internal/controllers/kubernetes/namespace_controller.go
  components/serverless/internal/controllers/kubernetes/namespace_controller_test.go
  components/serverless/internal/controllers/kubernetes/secret_service.go
  components/serverless/internal/controllers/kubernetes/secret_service_test.go
  components/serverless/internal/controllers/kubernetes/shared.go
  config/serverless/templates/deployment.yaml
  config/serverless/values.yaml
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

remove temporary dir module-chart-test and use tests/serverless instead
  components/operator/hack/ci/Makefile
Due: none

add configuration for golangci-lint (#422)
  components/operator/.golangci.yaml
  components/serverless/.golangci.yaml
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

remove temporary dir module-chart-test and use tests/serverless instead (#424)
  components/operator/hack/ci/Makefile
Due: none

draft
  components/operator/internal/gitrepository/cleanup.go
  components/operator/internal/gitrepository/cleanup_test.go
  components/operator/internal/state/initialize.go
Due: none

fix errors from operator showed by linters
  components/operator/.golangci.yaml
  components/operator/internal/chart/chart_test.go
  components/operator/internal/chart/check_test.go
  components/operator/internal/chart/install_test.go
  components/operator/internal/chart/uninstall_test.go
  components/operator/internal/chart/verify_test.go
  components/operator/internal/state/state_test.go
  components/operator/internal/state/verify_test.go
Due: none

fix errors from operator showed by linters (#427)
  components/operator/.golangci.yaml
  components/operator/internal/chart/chart_test.go
  components/operator/internal/chart/check_test.go
  components/operator/internal/chart/install_test.go
  components/operator/internal/chart/uninstall_test.go
  components/operator/internal/chart/verify_test.go
  components/operator/internal/state/state_test.go
  components/operator/internal/state/verify_test.go
Due: none

Bump golang to 1.21.4-alpine3.18
  components/operator/Dockerfile
  components/serverless/deploy/jobinit/Dockerfile
  components/serverless/deploy/manager/Dockerfile
  components/serverless/deploy/registry-gc/Dockerfile
  components/serverless/deploy/webhook/Dockerfile
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Bump golang to 1.21.4-alpine3.18
  config/serverless/values.yaml
Due: none

fix runtime images
  config/serverless/values.yaml
Due: none

Bump golang to 1.21.4-alpine3.18 (#428)
  components/operator/Dockerfile
  components/serverless/deploy/jobinit/Dockerfile
  components/serverless/deploy/manager/Dockerfile
  components/serverless/deploy/registry-gc/Dockerfile
  components/serverless/deploy/webhook/Dockerfile
  config/serverless/values.yaml
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

add initial implementaion with tests
  components/serverless/internal/controllers/serverless/function_reconcile.go
  components/serverless/internal/controllers/serverless/validation.go
  components/serverless/internal/controllers/serverless/validation_test.go
  components/serverless/pkg/apis/serverless/v1alpha2/function_types.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

bump image
  config/serverless/values.yaml
Due: none

fix manifest target
  components/serverless/Makefile
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

remove validation from webhook
  components/serverless/pkg/apis/serverless/v1alpha2/function_validation.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

add more test cases and fix bug
  components/serverless/internal/controllers/serverless/validation.go
  components/serverless/internal/controllers/serverless/validation_test.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

improve error message
  components/serverless/internal/controllers/serverless/validation.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

simplify repo org list build
  components/operator/girepo.yaml
Due: none

dynamic_exclude
  components/operator/internal/chart/flags.go
  components/operator/internal/state/registry.go
  components/serverless/internal/controllers/kubernetes/shared.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

tests
  components/operator/internal/chart/flags_test.go
Due: none

cleanup at the start of the program
  components/operator/internal/state/initialize.go
  components/operator/main.go
Due: none

Change tabs in limitations
  docs/user/00-50-limitations.md
Due: none

units
  components/operator/internal/state/registry.go
  components/operator/internal/state/registry_test.go
Due: none

accept_multiple_namespaces
  components/operator/internal/chart/flags.go
  components/operator/internal/chart/flags_test.go
  components/operator/internal/state/registry.go
  components/operator/internal/state/registry_test.go
Due: none

typo
  components/operator/internal/state/registry.go
Due: none

remove test file
  components/operator/girepo.yaml
Due: none

Path conditions:
  pre-serverless-controller-build: any of: ^components/serverless/
  pre-serverless-webhook-build: any of: ^components/serverless/
  pre-serverless-jobinit-build: any of: ^components/serverless/
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-runtimes-java17-jvm-alpha-build: any of: ^components/runtimes/java17
  pre-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  pre-serverless-runtimes-nodejs-v18-build: any of: ^components/runtimes/nodejs
  pre-serverless-runtimes-python39-build: any of: ^components/runtimes/python39
  pre-gitserver-build: any of: ^tests/gitserver
  pre-serverless-controller-unit-test: any of: ^components/serverless/.*\.go$
  pre-serverless-controller-lint: any of: ^components/serverless/(.*\.go$|.golangcilint.yaml)
  post-serverless-controller-build: any of: ^components/serverless/
  post-serverless-webhook-build: any of: ^components/serverless/
  post-serverless-jobinit-build: any of: ^components/serverless/
  post-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-runtimes-java17-jvm-alpha-build: any of: ^components/runtimes/java17
  post-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  post-serverless-runtimes-nodejs-v18-build: any of: ^components/runtimes/nodejs
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
  post-gitserver-build: any of: ^tests/gitserver/
