Repository kyma-project/serverless: changes, and which Prow jobs are due for each by the changed paths.
All: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-runtimes-java17-jvm-alpha-build, pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, pre-gitserver-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build, post-serverless-runtimes-java17-jvm-alpha-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-controller-python39-build, post-gitserver-build

Path conditions:
  pre-serverless-controller-build: any of: ^components/serverless/
  pre-serverless-webhook-build: any of: ^components/serverless/
  pre-serverless-jobinit-build: any of: ^components/serverless/
  pre-serverless-registry-gc-build: any of: ^components/serverless/
  pre-serverless-runtimes-java17-jvm-alpha-build: any of: ^components/runtimes/java17
  pre-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  pre-serverless-runtimes-nodejs-v18-build: any of: ^components/runtimes/nodejs
  pre-serverless-runtimes-python39-build: any of: ^components/runtimes/python39
  pre-gitserver-build: any of: ^tests/gitserver
  pre-serverless-controller-unit-test: any of: ^components/serverless/.*\.go$
  pre-serverless-controller-lint: any of: ^components/serverless/(.*\.go$|.golangcilint.yaml)
  post-serverless-controller-build: any of: ^components/serverless/
  post-serverless-webhook-build: any of: ^components/serverless/
  post-serverless-jobinit-build: any of: ^components/serverless/
  post-serverless-registry-gc-build: any of: ^components/serverless/
  post-serverless-runtimes-java17-jvm-alpha-build: any of: ^components/runtimes/java17
  post-serverless-runtimes-nodejs-v16-build: any of: ^components/runtimes/nodejs
  post-serverless-runtimes-nodejs-v18-build: any of: ^components/runtimes/nodejs
  post-serverless-controller-python39-build: any of: ^components/runtimes/python39
  post-gitserver-build: any of: ^tests/gitserver/

Provide sample python function (#377)
  .gitignore
  examples/python-text2img/Makefile
  examples/python-text2img/README.md
  examples/python-text2img/config.yaml
  examples/python-text2img/handler.py
  examples/python-text2img/requirements.txt
  examples/python-text2img/resources/function.yaml
  examples/python-text2img/resources/kustomization.yaml
  examples/python-text2img/resources/secrets/deepai-template.env
  examples/python-text2img/resources/secrets/kustomization.yaml
Due: none

remove webhook from code
  components/serverless/cmd/webhook/main.go
  components/serverless/config/webhook/manifests.yaml
  components/serverless/internal/webhook/remote_registry_cfg_webhook.go
  components/serverless/internal/webhook/remote_registry_cfg_webhook_test.go
  components/serverless/internal/webhook/resources/webhook_config.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

remove webhook from resources
  config/serverless/charts/webhook/templates/webhooks.yaml
Due: none

vet
  components/serverless/internal/controllers/serverless/fsm_test.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

bump images
  config/serverless/values.yaml
Due: none

new_changelog
  .github/scripts/create_changelog.sh
  .github/workflows/create-release.yaml
Due: none

add deprecated note comment
  components/serverless/internal/controllers/serverless/function_reconcile.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Copy hack to componets/operator
  components/operator/hack/boilerplate.go.txt
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
  components/operator/hack/common/k3d-patches/patch-k3d-lifecycle-manager-clusterrole.yaml
  components/operator/hack/common/verify_kyma_status.sh
  components/operator/hack/common/verify_serverless_status.sh
  components/operator/hack/get_kyma_file_name.sh
  components/operator/hack/local/Makefile
  components/operator/hack/makefile-strategy.md
  components/operator/hack/makefile-strategy.png
Due: none

Adjust paths to root dir
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
Due: none

noauthors
  .github/workflows/create-release.yaml
Due: none

apply suggestions
  components/serverless/internal/controllers/serverless/function_reconcile.go
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Copy hack folder to components/operator (#399)
  components/operator/hack/boilerplate.go.txt
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
  components/operator/hack/common/k3d-patches/patch-k3d-lifecycle-manager-clusterrole.yaml
  components/operator/hack/common/verify_kyma_status.sh
  components/operator/hack/common/verify_serverless_status.sh
  components/operator/hack/get_kyma_file_name.sh
  components/operator/hack/local/Makefile
  components/operator/hack/makefile-strategy.md
  components/operator/hack/makefile-strategy.png
Due: none

Rich Changelog generation (#398)
  .github/scripts/create_changelog.sh
  .github/workflows/create-release.yaml
Due: none

Prepare patch 1.0.4 with fixed scanner config
  .version
  config/operator/kustomization.yaml
  scripts/check_release_tag.sh
  sec-scanners-config.yaml
Due: none

Delete secret mutation webhook (#397)
  components/serverless/cmd/webhook/main.go
  components/serverless/config/webhook/manifests.yaml
  components/serverless/internal/controllers/serverless/fsm_test.go
  components/serverless/internal/controllers/serverless/function_reconcile.go
  components/serverless/internal/webhook/remote_registry_cfg_webhook.go
  components/serverless/internal/webhook/remote_registry_cfg_webhook_test.go
  components/serverless/internal/webhook/resources/webhook_config.go
  config/serverless/charts/webhook/templates/webhooks.yaml
  config/serverless/values.yaml
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, pre-serverless-controller-unit-test, pre-serverless-controller-lint, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Copy Makefile to components/operator
  components/operator/Makefile
Due: none

Adjust paths in Makefile
  components/operator/Makefile
Due: none

Copy Makefile to components/operator (#402)
  components/operator/Makefile
Due: none

Cleanup Makefiles
  Makefile
  components/operator/Makefile
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
  hack/ci/Makefile
  hack/common/Makefile
  hack/common/k3d-patches/patch-k3d-lifecycle-manager-clusterrole.yaml
  hack/common/verify_kyma_status.sh
  hack/common/verify_serverless_status.sh
  hack/local/Makefile
  hack/makefile-strategy.md
  hack/makefile-strategy.png
Due: none

Enable Markdown Link Check in the Serverless repo
  .github/workflows/daily-markdown-link-check.yaml
  .github/workflows/pr-markdown-link-check.yaml
  .mlc.config.json
Due: none

Update Makefile
  components/operator/hack/ci/Makefile
Due: none

Cleanup Makefiles (#403)
  Makefile
  components/operator/Makefile
  components/operator/hack/ci/Makefile
  components/operator/hack/common/Makefile
  hack/ci/Makefile
  hack/common/Makefile
  hack/common/k3d-patches/patch-k3d-lifecycle-manager-clusterrole.yaml
  hack/common/verify_kyma_status.sh
  hack/common/verify_serverless_status.sh
  hack/local/Makefile
  hack/makefile-strategy.md
  hack/makefile-strategy.png
Due: none

kick runtimes builds
  components/runtimes/nodejs/nodejs16/Dockerfile
  components/runtimes/nodejs/nodejs18/Dockerfile
  components/runtimes/python39/Dockerfile
Due: pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-controller-python39-build

fix output path for rendered manifest
  components/operator/Makefile
Due: none

fix output path for rendered manifest (#407)
  components/operator/Makefile
Due: none

Run runtimes builds (#406)
  components/runtimes/nodejs/nodejs16/Dockerfile
  components/runtimes/nodejs/nodejs18/Dockerfile
  components/runtimes/python39/Dockerfile
Due: pre-serverless-runtimes-nodejs-v16-build, pre-serverless-runtimes-nodejs-v18-build, pre-serverless-runtimes-python39-build, post-serverless-runtimes-nodejs-v16-build, post-serverless-runtimes-nodejs-v18-build, post-serverless-controller-python39-build

fix test gardener-integration
  .github/workflows/gardener-integration.yaml
Due: none

use latest tags in sec-scanners-config on main
  sec-scanners-config.yaml
Due: none

Use latest tags in sec-scanners-config on main (#405)
  sec-scanners-config.yaml
Due: none

empty commit
  README.md
Due: none

apply suggestion from ameteiko review
  .github/workflows/pr-markdown-link-check.yaml
Due: none

Enable Markdown Link Check in the Serverless repo (#404)
  .github/workflows/daily-markdown-link-check.yaml
  .github/workflows/pr-markdown-link-check.yaml
  .mlc.config.json
Due: none

fix test gardener-integration (#409)
  .github/workflows/gardener-integration.yaml
Due: none

Remove values.grafanaDashboard
  config/serverless/values.yaml
Due: none

Remove function-dashboard.yaml
  config/serverless/templates/function-dashboard.yaml
Due: none

Delete function-metrics-dashboard.yaml
  config/serverless/templates/function-metrics-dashboard.yaml
Due: none

make sec-scanners-config optional in moduletemplate
  components/operator/Makefile
  module-config-template.yaml
Due: none

Fix links found by Link Checker
  CODE_OF_CONDUCT.md
  README.md
  components/serverless/design/glossary_proposal.md
  config/serverless/charts/webhook/README.md
  docs/user/technical-reference/07-20-function-processing-stages.md
  docs/user/technical-reference/07-70-function-specification.md
  docs/user/tutorials/01-50-sync-function-with-gitops.md
  docs/user/tutorials/_sidebar.md
Due: pre-serverless-controller-build, pre-serverless-webhook-build, pre-serverless-jobinit-build, pre-serverless-registry-gc-build, post-serverless-controller-build, post-serverless-webhook-build, post-serverless-jobinit-build, post-serverless-registry-gc-build

Don't use sec-scanners-config to build moduletemplate on pre/post submit (#414)
  components/operator/Makefile
  module-config-template.yaml
Due: none

Update docs/user/tutorials/01-50-sync-function-with-gitops.md
  docs/user/tutorials/01-50-sync-function-with-gitops.md
Due: none
