Repository kyma-project/warden: changes, and which Prow jobs are due for each by the changed paths.
All: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

pull-warden-integration-test:
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    preset-k3d-enabled: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-warden-integration-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-admission-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-admission-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pull-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
      command:
  ...

pull-warden-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-warden-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:v20221215-c20ffd65
      command:
      - /bin/sh
      args:
  ...

post-admission-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-admission-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

post-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

Bump golang (#120)
  charts/warden/values.yaml
  docker/admission/Dockerfile
  docker/operator/Dockerfile
  go.mod
  go.sum
  tests/go.mod
  tests/go.sum
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, post-admission-build, post-operator-build

use cherry-pick image
  charts/warden/values.yaml
Due: pull-warden-integration-test

use post warden
  charts/warden/values.yaml
Due: pull-warden-integration-test

use post warden (#122)
  charts/warden/values.yaml
Due: pull-warden-integration-test

add running module locally
  .gitignore
  hack/run-module-locally.sh
  module-config-template.yaml
Due: none

add script description
  hack/run-module-locally.sh
Due: none

bump images
  charts/warden/values.yaml
  sec-scanners-config.yaml
Due: pull-warden-integration-test

bump images (#124)
  charts/warden/values.yaml
  sec-scanners-config.yaml
Due: pull-warden-integration-test

add running module locally (#123)
  .gitignore
  hack/run-module-locally.sh
  module-config-template.yaml
Due: none

reuse create-module script in run-module-locally
  hack/run-module-locally.sh
Due: none

add makefile targets for installing kyma and helm
  Makefile
  hack/get_helm_file_name.sh
  hack/get_kyma_file_name.sh
Due: none

detect operating system for helm target
  Makefile
Due: none

add make targets
  Makefile
  hack/create-module.sh
  hack/run-module-locally.sh
Due: none

add universal module create script
  hack/create-module.sh
Due: none

rename ci target
  Makefile
Due: none

rename module registry address env
  hack/create-module.sh
  hack/run-module-locally.sh
Due: none

implement MODULE_SHA env
  hack/create-module.sh
Due: none

fix origin remote
  Makefile
Due: none

fix if
  hack/create-module.sh
Due: none

add MODULE_SHA to makefile
  Makefile
  hack/create-module.sh
Due: none

improve script envs
  Makefile
  hack/create-module.sh
Due: none

Warden module generate (#125)
  Makefile
  hack/create-module.sh
  hack/get_helm_file_name.sh
  hack/get_kyma_file_name.sh
  hack/run-module-locally.sh
Due: none

fix read only dir
  charts/warden/charts/admission/templates/deployment.yaml
  charts/warden/values.yaml
Due: pull-warden-integration-test

add another tmp dir
  charts/warden/charts/admission/templates/deployment.yaml
Due: pull-warden-integration-test

use different dif
  charts/warden/charts/admission/templates/deployment.yaml
Due: pull-warden-integration-test

add operator tmp dir
  charts/warden/charts/operator/templates/deployment.yaml
Due: pull-warden-integration-test

Fix read only dir (#128)
  charts/warden/charts/admission/templates/deployment.yaml
  charts/warden/charts/operator/templates/deployment.yaml
  charts/warden/values.yaml
Due: pull-warden-integration-test

Fix read only dir (#129)
  charts/warden/charts/admission/templates/deployment.yaml
  charts/warden/charts/operator/templates/deployment.yaml
  charts/warden/values.yaml
Due: pull-warden-integration-test

add enter
  cmd/admission/main.go
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

add enter (#130)
  cmd/admission/main.go
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

makefile_update
  Makefile
  hack/verify_warden_status.sh
Due: none

get-kyma
  Makefile
  hack/run-module-locally.sh
Due: none

mkdir
  Makefile
Due: none

simplify
  Makefile
  hack/run-module-locally.sh
Due: none

add_flag
  hack/create-module.sh
Due: none

Test LM Integration (#132)
  Makefile
  hack/create-module.sh
  hack/run-module-locally.sh
  hack/verify_warden_status.sh
Due: none

Path conditions:
  pull-warden-integration-test: any of: .*\.go$|charts/
  pull-admission-build: any of: .*\.go|docker/admission/
  pull-operator-build: any of: .*\.go|docker/operator/
  pull-warden-unit-test: any of: .*\.go$
  post-admission-build: any of: .*\.go|docker/admission/
  post-operator-build: any of: .*\.go|docker/operator/
