Repository kyma-project/warden: changes, and which Prow jobs are due for each by the changed paths.
All: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Path conditions:
  pre-warden-integration-test: unless all of: ^docs/|\.md$
  pre-warden-unit-test: (unless all of: ^docs/|\.md$) or (any of: .*\.go$)
  post-warden-verify: unless all of: ^docs/|\.md$
  pre-warden-admission-build: any of: .*\.go|docker/admission/
  pre-warden-operator-build: any of: .*\.go|docker/operator/
  pre-warden-module-build: any of: ^\.env$|^(go\.mod|go\.sum)$|^(.*/)?(.*\.go|Makefile|.*\.sh|.*\.yaml|Dockerfile)$|^PROJECT$
  post-warden-admission-build: any of: .*\.go|docker/admission/
  post-warden-operator-build: any of: .*\.go|docker/operator/
  post-warden-module-build: any of: ^\.env$|^(go\.mod|go\.sum)$|^(.*/)?(.*\.go|Makefile|.*\.sh|.*\.yaml|Dockerfile)$|^PROJECT$

upgrade dependencies
  charts/warden/Chart.yaml
  charts/warden/values.yaml
  sec-scanners-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

move
  README.md
Due: none

ignore md files in verify workflows
  .github/workflows/warden-verify.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Move status badge to status subcategory (#176)
  .github/workflows/warden-verify.yaml
  README.md
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Warden promotion workflow
  .github/workflows/promote-to-release-channel-with-config.yaml
  Makefile
  module-config-template.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

fetch skr-config via gh cli
  .github/workflows/promote-to-release-channel-with-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Tag warden repo when promoting warden module to release channel
  .github/scripts/upgrade-sec-scanners-config.sh
  .github/workflows/promote-to-release-channel-with-config.yaml
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

separator
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

code review
  .github/workflows/promote-to-release-channel-with-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Warden promotion workflow (#178)
  .github/scripts/upgrade-sec-scanners-config.sh
  .github/workflows/promote-to-release-channel-with-config.yaml
  Makefile
  module-config-template.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Cleanup workflows
  .github/workflows/create-release.yaml
  module-config-template.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Cleanup workflows (#179)
  .github/workflows/create-release.yaml
  module-config-template.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

bump-rc-tag
  sec-scanners-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

bump-rc-tag (#181)
  sec-scanners-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Upgrade test
  .github/workflows/upgrade-test.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Upgrade test (#182)
  .github/workflows/upgrade-test.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

dummy PR
  dummy
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify

add readyz to admission
  Makefile
  charts/warden/charts/warden-admission/templates/deployment.yaml
  charts/warden/values.yaml
  cmd/admission/main.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

revert changes in Makefile
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

revert local changes
  charts/warden/values.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Add readyz to admission (#186)
  charts/warden/charts/warden-admission/templates/deployment.yaml
  cmd/admission/main.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Bump k8s to 1.27
  Makefile
  cmd/admission/main.go
  go.mod
  go.sum
  internal/admission/defaulting_test.go
  internal/admission/validation_test.go
  internal/webhook/controller.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

fix linter
  .github/workflows/warden-verify.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

linting
  internal/webhook/webhook.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

tests
  internal/admission/validation.go
  internal/admission/validation_test.go
  tests/go.mod
  tests/go.sum
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

register webhook with the manager
  cmd/admission/main.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Install warden from release not from tag
  .github/workflows/upgrade-test.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Add debug
  .github/workflows/upgrade-test.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

enable cache only for 1 object
  cmd/admission/main.go
  internal/webhook/controller.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

enable cache only for 1 object (#188)
  cmd/admission/main.go
  internal/webhook/controller.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Install Warden from release not from tag for upgrade-test (#187)
  .github/workflows/upgrade-test.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

use correct make target
  .github/workflows/upgrade-test.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

use correct make target (#189)
  .github/workflows/upgrade-test.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

improve msg
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

cleanup makefile
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

improve name
  .github/workflows/warden-verify.yaml
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build
