Repository kyma-project/warden: changes, and which Prow jobs are due for each by the changed paths.
All: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

pre-warden-integration-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-warden-integration-test
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-k3d-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-warden-admission-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-warden-admission-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-warden-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-warden-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-warden-admission-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-warden-admission-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-warden-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-warden-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-image-builder-ado-token: 'true'
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-warden-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-warden-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20231215-751c5f92
      securityContext:
  ...

post-warden-verify:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-warden-verify
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
  ...

pre-warden-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-warden-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-warden-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-warden-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

add TODO for namespace controller
  internal/controllers/namespace/predicate.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

remove not important calls of validation service factory in tests
  internal/admission/defaulting_test.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

shorten test notation
  internal/admission/defaulting_test.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

add support for changing namespace validation label value in controller
  internal/controllers/namespace/controller.go
  internal/controllers/namespace/predicate.go
  internal/controllers/namespace/predicate_test.go
  internal/validate/namespace.go
  internal/validate/namespace_test.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

fiv linter errors
  internal/admission/defaulting_test.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

shorten test notation
  internal/controllers/pod_controller_test.go
  internal/validate/namespace_test.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

shorten test notation
  internal/controllers/namespace/predicate_test.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

cleanup - rename variables
  internal/admission/defaulting.go
  internal/admission/defaulting_test.go
  internal/controllers/pod_controller_test.go
  internal/validate/pod.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

add support for changing namespace user validation annotations value in controller
  internal/controllers/namespace/predicate.go
  internal/controllers/namespace/predicate_test.go
  internal/controllers/pod_controller.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

improve namespace controller logging
  internal/controllers/namespace/controller.go
  internal/controllers/namespace/predicate.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

cleanup - remove unimportant waits in tests
  internal/admission/defaulting_test.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

fix app version in charts
  .github/scripts/upgrade-chart-version.sh
  charts/warden/Chart.yaml
  charts/warden/charts/warden-admission/Chart.yaml
  charts/warden/charts/warden-operator/Chart.yaml
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

fix app version in charts (#285)
  .github/scripts/upgrade-chart-version.sh
  charts/warden/Chart.yaml
  charts/warden/charts/warden-admission/Chart.yaml
  charts/warden/charts/warden-operator/Chart.yaml
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Add support for image digest validation (#283)
  internal/validate/image.go
  internal/validate/image_test.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

customer verification (#281)
  .golangci.yaml
  cmd/admission/main.go
  cmd/operator/main.go
  internal/admission/defaulting.go
  internal/admission/defaulting_test.go
  internal/controllers/namespace/controller.go
  internal/controllers/namespace/predicate.go
  internal/controllers/namespace/predicate_test.go
  internal/controllers/pod_controller.go
  internal/controllers/pod_controller_test.go
  internal/helpers/user_notary_cfg.go
  internal/validate/mocks/ImageValidatorService.go
  internal/validate/mocks/NotaryRepoClient.go
  internal/validate/mocks/PodValidator.go
  internal/validate/mocks/RepoFactory.go
  internal/validate/mocks/ValidatorSvcFactory.go
  internal/validate/namespace.go
  internal/validate/namespace_test.go
  internal/validate/pod.go
  internal/validate/pod_test.go
  internal/webhook/webhook.go
  pkg/labels.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Simplify release id for assets
  .github/scripts/release-assets.sh
  .github/workflows/create-release.yaml
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Simplify release id for assets (#289)
  .github/scripts/release-assets.sh
  .github/workflows/create-release.yaml
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

add basic test case
  internal/validate/image_test.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

use nil instead of empy byte slice
  internal/validate/image.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

add image index support
  internal/validate/image.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

add test case for index signed with image hash
  internal/validate/image_test.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

add image index support (#286)
  internal/validate/image.go
  internal/validate/image_test.go
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Describe user flow
  docs/assets/user_operations.svg
  docs/assets/user_reconcile.svg
  docs/user/00-01-overview-flow.md
Due: none

formatting
  docs/user/tutorial/01-20-tutorial.md
Due: none

reorde files
  docs/user/_sidebar.md
  docs/user/overview/01-10-configure-user.md
  docs/user/overview/01-20-tutorial.md
  docs/user/overview/README.md
Due: none

add diagrams
  .gitignore
  docs/assets/user_flow.svg
  docs/assets/user_update.svg
Due: pre-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, post-warden-admission-build, post-warden-operator-build, pre-warden-unit-test, post-warden-verify

parametrize tutorial
  docs/user/tutorial/01-20-tutorial.md
Due: none

Add warden documentation
  docs/README.md
  docs/user/00-00-overview-warden.md
  docs/user/README.md
  docs/user/_sidebar.md
  docs/user/tutorial/01-10-configure-user.md
  docs/user/tutorial/01-20-tutorial.md
  docs/user/tutorial/README.md
  serverless-manager/user/tutorials/README.md
Due: none

remove unneeded file
  serverless-manager/user/tutorials/README.md
Due: none

reorder
  docs/user/overview/00-00-overview-warden.md
  docs/user/overview/00-01-overview-flow.md
  docs/user/tutorial/01-10-configure-user.md
  docs/user/tutorial/01-20-tutorial.md
  docs/user/tutorial/README.md
Due: none

better waring wording
  docs/user/tutorial/01-20-tutorial.md
Due: none

trtim spaces
  docs/user/tutorial/01-20-tutorial.md
Due: none

add user architecture doc
  docs/assets/user_architecture.svg
  docs/user/overview/00-01-overview-flow.md
  docs/user/overview/00-02-architecture.md
Due: none

add system configuration doc
  docs/contributor/overview/00-01-overview-flow.md
  docs/contributor/tutorial/01-10-configure.md
Due: none

add internal architecture doc
  docs/contributor/overview/00-01-overview-flow.md
  docs/contributor/overview/00-02-architecture.md
Due: none

add contributor overview doc
  docs/contributor/overview/00-01-overview-flow.md
  docs/contributor/overview/00-02-architecture.md
  docs/user/overview/00-01-overview-flow.md
Due: none

add image/index information
  docs/contributor/overview/00-02-architecture.md
Due: none

reorganize files, update sidebar
  docs/user/_sidebar.md
  docs/user/overview/README.md
Due: none

typo
  docs/user/tutorial/01-20-tutorial.md
Due: none

Rework the documentation layout
  docs/README.md
  docs/contributor/00-01-overview-flow.md
  docs/contributor/00-02-architecture.md
  docs/contributor/01-10-configure_system.md
  docs/contributor/overview/00-01-overview-flow.md
  docs/contributor/overview/00-02-architecture.md
  docs/user/00-01-overview-flow.md
  docs/user/01-10-configure-user.md
  docs/user/README.md
  docs/user/_sidebar.md
  docs/user/overview/00-00-overview-warden.md
  docs/user/overview/00-01-overview-flow.md
  docs/user/overview/00-02-architecture.md
  docs/user/overview/README.md
  docs/user/tutorials/01-20-use-warden-on-namespace.md
  docs/user/tutorials/README.md
Due: none

Path conditions:
  pre-warden-integration-test: unless all of: ^docs/|\.md$
  pre-warden-admission-build: (unless all of: ^docs/|\.md$) or (any of: .*\.go|docker/admission/)
  pre-warden-operator-build: (unless all of: ^docs/|\.md$) or (any of: .*\.go|docker/operator/)
  post-warden-admission-build: (unless all of: ^docs/|\.md$) or (any of: .*\.go|docker/admission/)
  post-warden-operator-build: (unless all of: ^docs/|\.md$) or (any of: .*\.go|docker/operator/)
  pre-warden-unit-test: (unless all of: ^docs/|\.md$) or (any of: .*\.go$)
  post-warden-verify: unless all of: ^docs/|\.md$
  pre-warden-module-build: any of: ^\.env$|^(go\.mod|go\.sum)$|^(.*/)?(.*\.go|Makefile|.*\.sh|.*\.yaml|Dockerfile)$|^PROJECT$
  post-warden-module-build: any of: ^\.env$|^(go\.mod|go\.sum)$|^(.*/)?(.*\.go|Makefile|.*\.sh|.*\.yaml|Dockerfile)$|^PROJECT$
