Repository kyma-project/warden: changes, and which Prow jobs are due for each by the changed paths.
All: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

pre-warden-integration-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-warden-integration-test
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-k3d-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-warden-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-warden-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20231215-751c5f92
      securityContext:
  ...

post-warden-verify:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-warden-verify
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
  ...

pre-warden-admission-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-warden-admission-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-warden-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-warden-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-warden-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-warden-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-warden-admission-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-warden-admission-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

post-warden-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-warden-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

post-warden-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-warden-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

fix install-local
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

fix gettin correct tag
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Cleanup makefile (#190)
  .github/workflows/warden-verify.yaml
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

revert ptr changes
  internal/webhook/webhook.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

wip
  cmd/admission/main.go
  cmd/operator/main.go
  internal/admission/defaulting.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

fix linter
  .github/workflows/warden-verify.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

migrate cache
  cmd/operator/main.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Bump k8s to 1.27
  Makefile
  go.mod
  go.sum
  internal/admission/defaulting_test.go
  internal/admission/validation_test.go
  internal/webhook/controller.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

remove decoder injection
  internal/admission/defaulting.go
  internal/admission/defaulting_test.go
  internal/admission/validation.go
  internal/admission/validation_test.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

webhook works
  cmd/admission/main.go
  internal/admission/defaulting.go
  internal/admission/validation.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

linting
  internal/webhook/webhook.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

tests
  internal/admission/validation.go
  internal/admission/validation_test.go
  tests/go.mod
  tests/go.sum
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

revert not known change
  .github/workflows/warden-verify.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

disable caching for job
  .github/workflows/warden-verify.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

remove deprecated methods
  internal/webhook/webhook.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Bump k8s (#191)
  .github/workflows/warden-verify.yaml
  Makefile
  cmd/admission/main.go
  cmd/operator/main.go
  go.mod
  go.sum
  internal/admission/defaulting.go
  internal/admission/defaulting_test.go
  internal/admission/validation.go
  internal/admission/validation_test.go
  internal/webhook/controller.go
  internal/webhook/webhook.go
  tests/go.mod
  tests/go.sum
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Warden admission should act only in labelled namespaces as per webhook configuration
  charts/warden/charts/warden-admission/templates/webhook.yaml
  internal/webhook/webhook.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

give time to k8s in integration test
  tests/helpers/test_context.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Warden admission control for labelled namespaces only as per webhook configuration (#192)
  charts/warden/charts/warden-admission/templates/webhook.yaml
  internal/webhook/webhook.go
  tests/helpers/test_context.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Fix warden webhooks-patch-0.5
  charts/warden/charts/admission/templates/webhook.yaml
  internal/webhook/certs/webhook.go
  tests/helpers/test_context.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Fix warden webhooks-patch-0.5 (#193)
  charts/warden/charts/admission/templates/webhook.yaml
  internal/webhook/certs/webhook.go
  tests/helpers/test_context.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Fix warden webhooks-patch-0.5 bump
  charts/warden/values.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Fix warden webhooks-patch-0.5 bump (#194)
  charts/warden/values.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Fix warden validation webhook name for reconciler tracker
  charts/warden/charts/admission/templates/webhook.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Fix warden validation webhook name for reconciler tracker (#195)
  charts/warden/charts/admission/templates/webhook.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

upgrade dependencies
  charts/warden/Chart.yaml
  charts/warden/values.yaml
  sec-scanners-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Test warden on k8s 1.28.6
  .github/workflows/upgrade-test.yaml
  .github/workflows/warden-verify.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Test warden on k8s 1.28.6 (#196)
  .github/workflows/upgrade-test.yaml
  .github/workflows/warden-verify.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Bump sec scanner rc tag
  sec-scanners-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Bump sec scanner rc tag (#197)
  sec-scanners-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Cleanup readme
  README.md
Due: none

Stop using /common/logging from kyma monorepo
  go.mod
  go.sum
  internal/logging/logger/format.go
  internal/logging/logger/format_test.go
  internal/logging/logger/level.go
  internal/logging/logger/level_test.go
  internal/logging/logger/logger.go
  internal/logging/logger/logger_test.go
  internal/logging/setup.go
  internal/logging/tracing/helper.go
  internal/logging/tracing/helper_test.go
  internal/logging/tracing/middleware.go
  internal/logging/tracing/middleware_test.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Tmp fix: flaky integration test
  tests/helpers/test_context.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Update README.md
  README.md
Due: none

code review fixes
  README.md
Due: none

Apply suggestions from code review
  README.md
Due: none

Path conditions:
  pre-warden-integration-test: unless all of: ^docs/|\.md$
  pre-warden-unit-test: (unless all of: ^docs/|\.md$) or (any of: .*\.go$)
  post-warden-verify: unless all of: ^docs/|\.md$
  pre-warden-admission-build: any of: .*\.go|docker/admission/
  pre-warden-operator-build: any of: .*\.go|docker/operator/
  pre-warden-module-build: any of: ^\.env$|^(go\.mod|go\.sum)$|^(.*/)?(.*\.go|Makefile|.*\.sh|.*\.yaml|Dockerfile)$|^PROJECT$
  post-warden-admission-build: any of: .*\.go|docker/admission/
  post-warden-operator-build: any of: .*\.go|docker/operator/
  post-warden-module-build: any of: ^\.env$|^(go\.mod|go\.sum)$|^(.*/)?(.*\.go|Makefile|.*\.sh|.*\.yaml|Dockerfile)$|^PROJECT$
