Repository kyma-project/warden: changes, and which Prow jobs are due for each by the changed paths.
All: pull-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, pre-warden-unit-test, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Path conditions:
  pull-warden-integration-test: any of: .*\.go$|charts/
  pre-warden-admission-build: any of: .*\.go|docker/admission/
  pre-warden-operator-build: any of: .*\.go|docker/operator/
  pre-warden-module-build: any of: ^\.env$|^(go\.mod|go\.sum)$|^(.*/)?(.*\.go|Makefile|.*\.sh|.*\.yaml|Dockerfile)$|^PROJECT$
  pre-warden-unit-test: any of: .*\.go$
  post-warden-admission-build: any of: .*\.go|docker/admission/
  post-warden-operator-build: any of: .*\.go|docker/operator/
  post-warden-module-build: any of: ^\.env$|^(go\.mod|go\.sum)$|^(.*/)?(.*\.go|Makefile|.*\.sh|.*\.yaml|Dockerfile)$|^PROJECT$

dummy
  hack/run-module-locally.sh
Due: pre-warden-module-build, post-warden-module-build

jobupdate
  Makefile
  hack/run-module-locally.sh
Due: pre-warden-module-build, post-warden-module-build

jobupdate (#134)
  Makefile
  hack/run-module-locally.sh
Due: pre-warden-module-build, post-warden-module-build

fix_script
  Makefile
  hack/verify_warden_status.sh
Due: pre-warden-module-build, post-warden-module-build

fix_script (#135)
  Makefile
  hack/verify_warden_status.sh
Due: pre-warden-module-build, post-warden-module-build

add latest tags for post warden images
  sec-scanners-config.yaml
Due: pre-warden-module-build, post-warden-module-build

trigger re-build job
  docker/admission/Dockerfile
  docker/operator/Dockerfile
Due: pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

disable sec-scanners-config for all MT
  hack/create-module.sh
  module-config-template.yaml
Due: pre-warden-module-build, post-warden-module-build

Sec scanners config latest tags (#136)
  docker/admission/Dockerfile
  docker/operator/Dockerfile
  hack/create-module.sh
  module-config-template.yaml
  sec-scanners-config.yaml
Due: pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

add configuration for golangci-lint
  .golangci.yaml
Due: pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

add configuration for golangci-lint (#137)
  .golangci.yaml
Due: pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

fix errors showed by linters
  internal/webhook/certs/cert.go
Due: pull-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, pre-warden-unit-test, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

fix errors showed by linters (#138)
  internal/webhook/certs/cert.go
Due: pull-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, pre-warden-unit-test, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

issues_templates
  .github/issue-template.md
  .github/pull-request-template.md
  .github/stale.yml
  .github/workflows/ISSUE_TEMPLATE/bug-report.md
  .github/workflows/ISSUE_TEMPLATE/decision-record.md
  .github/workflows/ISSUE_TEMPLATE/documentation-improvement.md
  .github/workflows/ISSUE_TEMPLATE/feature-request.md
  .github/workflows/ISSUE_TEMPLATE/new-sig-or-wg-proposal.md
  .github/workflows/ISSUE_TEMPLATE/security-vulnerability.md
Due: none

issues_templates (#139)
  .github/issue-template.md
  .github/pull-request-template.md
  .github/stale.yml
  .github/workflows/ISSUE_TEMPLATE/bug-report.md
  .github/workflows/ISSUE_TEMPLATE/decision-record.md
  .github/workflows/ISSUE_TEMPLATE/documentation-improvement.md
  .github/workflows/ISSUE_TEMPLATE/feature-request.md
  .github/workflows/ISSUE_TEMPLATE/new-sig-or-wg-proposal.md
  .github/workflows/ISSUE_TEMPLATE/security-vulnerability.md
Due: none

remove_workflows_dir
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/decision-record.md
  .github/ISSUE_TEMPLATE/documentation-improvement.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/new-sig-or-wg-proposal.md
  .github/ISSUE_TEMPLATE/security-vulnerability.md
Due: none

remove_stale
  .github/stale.yml
Due: none

Remove workflows directory and stale.yaml (#140)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/decision-record.md
  .github/ISSUE_TEMPLATE/documentation-improvement.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/new-sig-or-wg-proposal.md
  .github/ISSUE_TEMPLATE/security-vulnerability.md
  .github/stale.yml
Due: none

use branch name instead of latest word
  sec-scanners-config.yaml
Due: pre-warden-module-build, post-warden-module-build

use branch name instead of latest word (#141)
  sec-scanners-config.yaml
Due: pre-warden-module-build, post-warden-module-build

server helm chart
  charts/warden/Chart.yaml
  index.yaml
  robots.txt
Due: pull-warden-integration-test, pre-warden-module-build, post-warden-module-build

Remove sec-scanners-config due to moving it to the warden-skr-config repo
  sec-scanners-config.yaml
Due: pre-warden-module-build, post-warden-module-build

Remove images from protocode
  sec-scanners-config.yaml
Due: pre-warden-module-build, post-warden-module-build

Change images to empty list
  sec-scanners-config.yaml
Due: pre-warden-module-build, post-warden-module-build

Change images to empty list in protocode (#144)
  sec-scanners-config.yaml
Due: pre-warden-module-build, post-warden-module-build

Add images for protocode
  sec-scanners-config.yaml
Due: pre-warden-module-build, post-warden-module-build

Add images for protocode (#147)
  sec-scanners-config.yaml
Due: pre-warden-module-build, post-warden-module-build

add license file
  LICENSE
Due: none

add license file (#148)
  LICENSE
Due: none

Possibility to add sible whitelist entries via dedicated override
  charts/warden/charts/admission/templates/deployment.yaml
  charts/warden/charts/admission/templates/rbac.yaml
  charts/warden/charts/admission/templates/service.yaml
  charts/warden/charts/admission/templates/webhook.yaml
  charts/warden/templates/configmap.yaml
  charts/warden/templates/priorityclass.yaml
  charts/warden/values.yaml
Due: pull-warden-integration-test, pre-warden-module-build, post-warden-module-build

refactor conditional sub-charts
  charts/warden/Chart.yaml
  charts/warden/charts/admission/templates/deployment.yaml
  charts/warden/charts/admission/templates/rbac.yaml
  charts/warden/charts/admission/templates/service.yaml
  charts/warden/charts/admission/templates/webhook.yaml
  charts/warden/values.yaml
Due: pull-warden-integration-test, pre-warden-module-build, post-warden-module-build

Possibility to configure single whitelist entries via dedicated override (#150)
  charts/warden/Chart.yaml
  charts/warden/charts/admission/templates/deployment.yaml
  charts/warden/charts/admission/templates/webhook.yaml
  charts/warden/templates/configmap.yaml
  charts/warden/templates/priorityclass.yaml
  charts/warden/values.yaml
Due: pull-warden-integration-test, pre-warden-module-build, post-warden-module-build

Including failed images in the textual error message
  internal/admission/defaulting.go
  internal/admission/defaulting_test.go
  internal/admission/validation.go
  internal/admission/validation_test.go
  internal/annotations/annotations.go
  internal/controllers/pod_controller.go
  internal/validate/mocks/ImageValidatorService.go
  internal/validate/mocks/NotaryRepoClient.go
  internal/validate/mocks/PodValidator.go
  internal/validate/mocks/RepoFactory.go
  internal/validate/pod.go
  internal/validate/pod_test.go
  tests/warden_test.go
Due: pull-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, pre-warden-unit-test, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Bump images
  charts/warden/values.yaml
Due: pull-warden-integration-test, pre-warden-module-build, post-warden-module-build

Including failed images in the textual error message (#149)
  charts/warden/values.yaml
  internal/admission/defaulting.go
  internal/admission/defaulting_test.go
  internal/admission/validation.go
  internal/admission/validation_test.go
  internal/annotations/annotations.go
  internal/controllers/pod_controller.go
  internal/validate/mocks/ImageValidatorService.go
  internal/validate/mocks/NotaryRepoClient.go
  internal/validate/mocks/PodValidator.go
  internal/validate/mocks/RepoFactory.go
  internal/validate/pod.go
  internal/validate/pod_test.go
  tests/warden_test.go
Due: pull-warden-integration-test, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, pre-warden-unit-test, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Add to codeowners
  CODEOWNERS
Due: none

Add to codeowners (#153)
  CODEOWNERS
Due: none

Rename subchart folders
  charts/warden/Chart.yaml
  charts/warden/charts/warden-admission/Chart.yaml
  charts/warden/charts/warden-admission/templates/deployment.yaml
  charts/warden/charts/warden-admission/templates/rbac.yaml
  charts/warden/charts/warden-admission/templates/service.yaml
  charts/warden/charts/warden-admission/templates/webhook.yaml
  charts/warden/charts/warden-admission/values.yaml
  charts/warden/charts/warden-operator/Chart.yaml
  charts/warden/charts/warden-operator/templates/NOTES.txt
  charts/warden/charts/warden-operator/templates/deployment.yaml
  charts/warden/charts/warden-operator/templates/leader-election.yaml
  charts/warden/charts/warden-operator/templates/rbac.yaml
  charts/warden/charts/warden-operator/templates/service.yaml
  charts/warden/charts/warden-operator/templates/serviceaccount.yaml
  charts/warden/charts/warden-operator/values.yaml
  charts/warden/values.yaml
Due: pull-warden-integration-test, pre-warden-module-build, post-warden-module-build

Rename subchart folders (#152)
  charts/warden/Chart.yaml
  charts/warden/charts/warden-admission/Chart.yaml
  charts/warden/charts/warden-admission/templates/deployment.yaml
  charts/warden/charts/warden-admission/templates/rbac.yaml
  charts/warden/charts/warden-admission/templates/service.yaml
  charts/warden/charts/warden-admission/templates/webhook.yaml
  charts/warden/charts/warden-admission/values.yaml
  charts/warden/charts/warden-operator/Chart.yaml
  charts/warden/charts/warden-operator/templates/NOTES.txt
  charts/warden/charts/warden-operator/templates/deployment.yaml
  charts/warden/charts/warden-operator/templates/leader-election.yaml
  charts/warden/charts/warden-operator/templates/rbac.yaml
  charts/warden/charts/warden-operator/templates/service.yaml
  charts/warden/charts/warden-operator/templates/serviceaccount.yaml
  charts/warden/charts/warden-operator/values.yaml
  charts/warden/values.yaml
Due: pull-warden-integration-test, pre-warden-module-build, post-warden-module-build
