Repository kyma-project/warden: changes, and which Prow jobs are due for each by the changed paths.
All: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

Path conditions:
  pull-warden-integration-test: any of: .*\.go$|charts/
  pull-admission-build: any of: .*\.go|docker/admission/
  pull-operator-build: any of: .*\.go|docker/operator/
  pull-warden-unit-test: any of: .*\.go$
  post-admission-build: any of: .*\.go|docker/admission/
  post-operator-build: any of: .*\.go|docker/operator/

reuse compliance
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Due: none

Introduce dedicated priority class
  charts/warden/templates/priorityclass.yaml
  charts/warden/values.yaml
Due: pull-warden-integration-test

bump images
  charts/warden/values.yaml
Due: pull-warden-integration-test

use own priority class
  charts/warden/charts/admission/templates/deployment.yaml
  charts/warden/charts/operator/templates/deployment.yaml
Due: pull-warden-integration-test

Introduce dedicated priority class (#110)
  charts/warden/charts/admission/templates/deployment.yaml
  charts/warden/charts/operator/templates/deployment.yaml
  charts/warden/templates/priorityclass.yaml
  charts/warden/values.yaml
Due: pull-warden-integration-test

Ensure unique priority class helm values
  charts/warden/charts/admission/templates/deployment.yaml
  charts/warden/charts/operator/templates/deployment.yaml
  charts/warden/templates/priorityclass.yaml
  charts/warden/values.yaml
Due: pull-warden-integration-test

Ensure unique priority class helm values (#111)
  charts/warden/charts/admission/templates/deployment.yaml
  charts/warden/charts/operator/templates/deployment.yaml
  charts/warden/templates/priorityclass.yaml
  charts/warden/values.yaml
Due: pull-warden-integration-test

Ensure unique priority class helm values (#111) (#112)
  charts/warden/charts/admission/templates/deployment.yaml
  charts/warden/charts/operator/templates/deployment.yaml
  charts/warden/templates/priorityclass.yaml
  charts/warden/values.yaml
Due: pull-warden-integration-test

implelemt sec-scanners-config.yaml file
  sec-scanners-config.yaml
Due: none

add separator to the sec-scanners-config.yaml file
  sec-scanners-config.yaml
Due: none

Sec scanners config (#113)
  sec-scanners-config.yaml
Due: none

init
  .gitignore
  hack/run-module-locally.sh
  module-config-template.yaml
  module-config.yaml
Due: none

init v2
  .gitignore
  hack/run-module-locally.sh
  module-config.yaml
Due: none

create and deploy warden module v1
  .gitignore
  hack/run-module-locally.sh
  module-config-template.yaml
Due: none

run warden module with LM locally
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/warden_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/warden/templates/crd.yaml
  config/crd/bases/operator.kyma-project.io_wardens.yaml
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/samples/default_warden_cr.yaml
  hack/run-module-locally.sh
  module-config-template.yaml
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

patch_module_template
  config/samples/default_warden_cr.yaml
  hack/moduletemplate_patch.yaml
  hack/run-module-locally.sh
Due: none

fix cert secrets
  charts/warden/charts/admission/templates/job.yaml
  charts/warden/charts/admission/templates/secret.yaml
Due: pull-warden-integration-test

improve customStateCheck definition
  config/samples/default_warden_cr.yaml
  hack/moduletemplate_patch.yaml
Due: none

reuse compliance (#107)
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Due: none

merge_operator_admission
  charts/warden/charts/admission/Chart.yaml
  charts/warden/charts/admission/templates/deployment.yaml
  charts/warden/charts/admission/templates/rbac.yaml
  charts/warden/charts/admission/templates/service.yaml
  charts/warden/charts/admission/values.yaml
  charts/warden/charts/operator/templates/deployment.yaml
  charts/warden/charts/operator/templates/job.yaml
  charts/warden/charts/operator/templates/rbac.yaml
  charts/warden/charts/operator/templates/secret.yaml
  charts/warden/charts/operator/templates/service.yaml
  charts/warden/charts/operator/templates/webhook.yaml
  charts/warden/values.yaml
Due: pull-warden-integration-test

failed_poc
  .gitignore
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/warden_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  charts/warden/charts/operator/templates/deployment.yaml
  charts/warden/values.yaml
  hack/run-module-locally.sh
  module-config-template.yaml
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

add possibility to export cover out file
  Makefile
Due: none

rename
  Makefile
Due: none

Add possibility to export cover out file (#118)
  Makefile
Due: none

remove secret from chart
  .gitignore
  charts/warden/charts/admission/templates/deployment.yaml
  charts/warden/charts/admission/templates/rbac.yaml
  charts/warden/charts/admission/templates/secret.yaml
  charts/warden/values.yaml
  cmd/admission/main.go
  internal/webhook/certs/cert.go
  internal/webhook/certs/file.go
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

improve adding of ownerRef
  charts/warden/charts/admission/templates/deployment.yaml
  internal/webhook/certs/cert.go
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

reorder funcs in main
  cmd/admission/main.go
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

apply suggestions
  cmd/admission/main.go
  internal/webhook/certs/cert.go
  internal/webhook/certs/controller.go
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

apply suggestions
  cmd/admission/main.go
  internal/webhook/certs/controller.go
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

apply suggestion
  cmd/admission/main.go
  internal/env/env.go
  internal/env/env_test.go
  internal/webhook/certs/cert.go
  internal/webhook/certs/controller.go
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

Refactor webhook secret strategy (#117)
  .gitignore
  charts/warden/charts/admission/templates/deployment.yaml
  charts/warden/charts/admission/templates/rbac.yaml
  charts/warden/charts/admission/templates/secret.yaml
  charts/warden/values.yaml
  cmd/admission/main.go
  internal/env/env.go
  internal/env/env_test.go
  internal/webhook/certs/cert.go
  internal/webhook/certs/controller.go
  internal/webhook/certs/file.go
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

add tests
  charts/warden/values.yaml
  cmd/admission/main.go
  internal/webhook/certs/cert_test.go
  internal/webhook/certs/file_test.go
  internal/webhook/config.go
  internal/webhook/controller.go
  internal/webhook/webhook.go
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

apply suggestions
  internal/webhook/certs/file_test.go
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

apply suggestions
  internal/webhook/certs/cert_test.go
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

Add unit tests for the `certs` package (#119)
  charts/warden/values.yaml
  cmd/admission/main.go
  internal/webhook/certs/cert_test.go
  internal/webhook/certs/file_test.go
  internal/webhook/config.go
  internal/webhook/controller.go
  internal/webhook/webhook.go
Due: pull-warden-integration-test, pull-admission-build, pull-operator-build, pull-warden-unit-test, post-admission-build, post-operator-build

bump golang
  docker/admission/Dockerfile
  docker/operator/Dockerfile
  go.mod
Due: pull-admission-build, pull-operator-build, post-admission-build, post-operator-build

go mod tidy
  go.mod
  go.sum
Due: none

go mod tidy tests
  tests/go.mod
  tests/go.sum
Due: none
