Repository kyma-project/warden: changes, and which Prow jobs are due for each by the changed paths.
All: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Path conditions:
  pre-warden-integration-test: unless all of: ^docs/|\.md$
  pre-warden-unit-test: (unless all of: ^docs/|\.md$) or (any of: .*\.go$)
  post-warden-verify: unless all of: ^docs/|\.md$
  pre-warden-admission-build: any of: .*\.go|docker/admission/
  pre-warden-operator-build: any of: .*\.go|docker/operator/
  pre-warden-module-build: any of: ^\.env$|^(go\.mod|go\.sum)$|^(.*/)?(.*\.go|Makefile|.*\.sh|.*\.yaml|Dockerfile)$|^PROJECT$
  post-warden-admission-build: any of: .*\.go|docker/admission/
  post-warden-operator-build: any of: .*\.go|docker/operator/
  post-warden-module-build: any of: ^\.env$|^(go\.mod|go\.sum)$|^(.*/)?(.*\.go|Makefile|.*\.sh|.*\.yaml|Dockerfile)$|^PROJECT$

Bump golang runtime 1.21.5
  docker/admission/Dockerfile
  docker/operator/Dockerfile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Disable admission by default
  Makefile
  charts/warden/values.yaml
  hack/create-module.sh
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Bump golang runtime 1.21.5 (#155)
  docker/admission/Dockerfile
  docker/operator/Dockerfile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Disable admission by default
  hack/create-module.sh
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

bump warden images
  charts/warden/values.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Disable admission by default (#156)
  Makefile
  charts/warden/values.yaml
  hack/create-module.sh
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

bump warden images
  sec-scanners-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

bump warden images (#158)
  sec-scanners-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Rename post verify target for warden
  .gitignore
  Makefile
  hack/create-module.sh
  hack/run-module-locally.sh
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Rename post verify target for warden
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Rename post verify target for warden (#160)
  .gitignore
  Makefile
  hack/create-module.sh
  hack/run-module-locally.sh
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Run integration test on gh action
  .github/workflows/k3d-verify-warden-manifest.yaml
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

setup go 1.21
  .github/workflows/k3d-verify-warden-manifest.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Run integration test on gh action (#162)
  .github/workflows/k3d-verify-warden-manifest.yaml
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Migrate CI tests to GH actions
  .github/workflows/warden-verify.yaml
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

linting job
  .github/workflows/warden-verify.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

fix unit test
  Makefile
  internal/validate/pod_test.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Migrate CI tests to GH actions (#163)
  .github/workflows/warden-verify.yaml
  internal/validate/pod_test.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

GH action release workflow
  .github/scripts/create_draft_release.sh
  .github/scripts/verify-actions-status.sh
  .github/workflows/create-release.yaml
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

test
  cmd/operator/main.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

GH action release workflow
  .github/scripts/publish_release.sh
  .github/scripts/release-assets.sh
  .github/scripts/release-draft.sh
  .github/scripts/verify-release-builds.sh
  .github/workflows/create-release.yaml
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

GH action release workflow - permissions
  .github/scripts/verify-actions-status.sh
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

GH action release workflow (#166)
  .github/scripts/publish_release.sh
  .github/scripts/release-assets.sh
  .github/scripts/release-draft.sh
  .github/scripts/verify-actions-status.sh
  .github/scripts/verify-release-builds.sh
  .github/workflows/create-release.yaml
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Fix release asset uploading
  .github/scripts/release-assets.sh
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Fix release asset uploading (#168)
  .github/scripts/release-assets.sh
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Remove project file
  PROJECT
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Remove secrets and configmaps from the cache
  cmd/admission/main.go
  cmd/operator/main.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Bump images
  charts/warden/values.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Remove secrets and configmaps from the cache (#170)
  charts/warden/values.yaml
  cmd/admission/main.go
  cmd/operator/main.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Remove project file (#169)
  PROJECT
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Auto image bumps for warden verify jobs
  .github/workflows/warden-verify.yaml
  Makefile
  charts/warden/values.yaml
  tests/namespace_test.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Auto image bumps for warden verify jobs (#173)
  .github/workflows/warden-verify.yaml
  Makefile
  charts/warden/values.yaml
  tests/namespace_test.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Auto update image tags upon release
  .github/scripts/upgrade-sec-scanners-config.sh
  .github/workflows/create-release.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Auto update chart version upon release
  .github/scripts/upgrade-chart-version.sh
  .github/workflows/create-release.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Auto update image tags upon release (#174)
  .github/scripts/upgrade-chart-version.sh
  .github/scripts/upgrade-sec-scanners-config.sh
  .github/workflows/create-release.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Upgate release intructions
  README.md
  sec-scanners-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Fix flaky test
  CODEOWNERS
  tests/warden_test.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

fix codeowners
  CODEOWNERS
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify

Update release instructions (#175)
  CODEOWNERS
  README.md
  sec-scanners-config.yaml
  tests/warden_test.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build
