Repository kyma-project/warden: changes, and which Prow jobs are due for each by the changed paths.
All: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

pre-warden-integration-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-warden-integration-test
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-k3d-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-warden-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-warden-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20231215-751c5f92
      securityContext:
  ...

post-warden-verify:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-warden-verify
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: true
  decorate: true
  spec:
    containers:
  ...

pre-warden-admission-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-warden-admission-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-warden-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-warden-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pre-warden-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-warden-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

post-warden-admission-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-warden-admission-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

post-warden-operator-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-warden-operator-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

post-warden-module-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-warden-module-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
  ...

Apply suggestions from code review
  README.md
Due: none

Cleanup readme (#199)
  README.md
Due: none

Tmp fix: flaky integration test (#201)
  tests/helpers/test_context.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

code review fixes
  go.mod
  go.sum
  internal/logging/logger/logger.go
  internal/logging/tracing/helper_test.go
  internal/logging/tracing/middleware_test.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Stop using /common/logging from kyma monorepo (#200)
  go.mod
  go.sum
  internal/logging/logger/format.go
  internal/logging/logger/format_test.go
  internal/logging/logger/level.go
  internal/logging/logger/level_test.go
  internal/logging/logger/logger.go
  internal/logging/logger/logger_test.go
  internal/logging/setup.go
  internal/logging/tracing/helper.go
  internal/logging/tracing/helper_test.go
  internal/logging/tracing/middleware.go
  internal/logging/tracing/middleware_test.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

upgrade dependencies
  charts/warden/Chart.yaml
  charts/warden/values.yaml
  sec-scanners-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Fix link to promotion action run
  .github/workflows/promote-to-release-channel-with-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Fix link to promotion action run (#202)
  .github/workflows/promote-to-release-channel-with-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

cleanup
  .github/workflows/promote-to-release-channel-with-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

cleanup (#203)
  .github/workflows/promote-to-release-channel-with-config.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Enable gitleaks check
  .github/workflows/pull-gitleaks.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Use single go.mod file
  tests/go.mod
  tests/go.sum
  tests/namespace_test.go
  tests/warden_test.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

enable Dependabot
  .github/dependabot.yml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify

enable Dependabot (#206)
  .github/dependabot.yml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify

Use single go.mod file (#205)
  tests/go.mod
  tests/go.sum
  tests/namespace_test.go
  tests/warden_test.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

remove differences between warden and serverless repos
  .github/scripts/release-draft.sh
  .github/workflows/create-release.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Add Halamix2 to codeowners
  CODEOWNERS
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify

remove differences between warden and serverless repos (#214)
  .github/scripts/release-draft.sh
  .github/workflows/create-release.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Add Halamix2 to codeowners (#215)
  CODEOWNERS
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify

add missing space
  .github/scripts/release-assets.sh
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

add missing space (#216)
  .github/scripts/release-assets.sh
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Enable gitleaks check (#204)
  .github/workflows/pull-gitleaks.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Update deprecated Port fields
  cmd/operator/main.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Update deprecated Port fields (#217)
  cmd/operator/main.go
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

bump docker
  go.mod
  go.sum
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

bump docker (#218)
  go.mod
  go.sum
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Test with k8s v1.29.3
  .github/workflows/upgrade-test.yaml
  .github/workflows/warden-verify.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Bump k8s to 0.29
  cmd/admission/main.go
  cmd/operator/main.go
  go.mod
  go.sum
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Test with k8s v1.29.3 (#224)
  .github/workflows/upgrade-test.yaml
  .github/workflows/warden-verify.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

fix image building under ADO
  docker/admission/Dockerfile
  docker/operator/Dockerfile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

fix image building under ADO (#226)
  docker/admission/Dockerfile
  docker/operator/Dockerfile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Bump k8s to 0.29 (#225)
  cmd/admission/main.go
  cmd/operator/main.go
  go.mod
  go.sum
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-admission-build, pre-warden-operator-build, pre-warden-module-build, post-warden-admission-build, post-warden-operator-build, post-warden-module-build

Check controller-gen version during install
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Check controller-gen version during install (#227)
  Makefile
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

add rebase action
  .github/actions/rebase/action.yaml
  .github/workflows/pull-gitleaks.yaml
  .github/workflows/warden-verify.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

add action descriptions
  .github/actions/rebase/action.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

add action descriptions 2
  .github/actions/rebase/action.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

add action descriptions 3
  .github/actions/rebase/action.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Create the `rebase` action (#229)
  .github/actions/rebase/action.yaml
  .github/workflows/pull-gitleaks.yaml
  .github/workflows/warden-verify.yaml
Due: pre-warden-integration-test, pre-warden-unit-test, post-warden-verify, pre-warden-module-build, post-warden-module-build

Path conditions:
  pre-warden-integration-test: unless all of: ^docs/|\.md$
  pre-warden-unit-test: (unless all of: ^docs/|\.md$) or (any of: .*\.go$)
  post-warden-verify: unless all of: ^docs/|\.md$
  pre-warden-admission-build: any of: .*\.go|docker/admission/
  pre-warden-operator-build: any of: .*\.go|docker/operator/
  pre-warden-module-build: any of: ^\.env$|^(go\.mod|go\.sum)$|^(.*/)?(.*\.go|Makefile|.*\.sh|.*\.yaml|Dockerfile)$|^PROJECT$
  post-warden-admission-build: any of: .*\.go|docker/admission/
  post-warden-operator-build: any of: .*\.go|docker/operator/
  post-warden-module-build: any of: ^\.env$|^(go\.mod|go\.sum)$|^(.*/)?(.*\.go|Makefile|.*\.sh|.*\.yaml|Dockerfile)$|^PROJECT$
