Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

feat: update to fluent-bit 4.2.0
  .env
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

ignore not found errors in automatic cleanup
  test/e2e/logs/shared/multi_pipeline_max_pipeline_test.go
  test/testkit/k8s/objects.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

no cleanup in max-pipelines
  test/e2e/logs/shared/multi_pipeline_max_pipeline_test.go
  test/e2e/metrics/shared/multi_pipeline_max_pipeline_test.go
  test/e2e/traces/multi_pipeline_max_pipeline_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

less cleanup
  test/e2e/logs/misc/endpoint_invalid_test.go
  test/e2e/logs/shared/extract_labels_test.go
  test/e2e/logs/shared/multi_pipeline_max_pipeline_test.go
  test/e2e/logs/shared/resources_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove testing.T
  test/e2e/traces/extract_labels_test.go
  test/testkit/k8s/objects_test.go
  test/testkit/testing.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: update alpine image to 3.22.2 (#2732)
  .env
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

feat: add OTTL usage metrics (#2724)
  Makefile
  docs/contributor/telemetry-internal-metrics.md
  go.mod
  internal/metrics/metrics.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/logpipeline/otel/reconciler_test.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/selfmonitor/prober/prom_client.go
  main.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fail if deletion fails
  test/e2e/logs/misc/filter_invalid_test.go
  test/e2e/logs/misc/reject_creation_test.go
  test/e2e/logs/misc/transform_invalid_test.go
  test/e2e/metrics/misc/filter_invalid_test.go
  test/e2e/metrics/misc/mtls_missing_key_test.go
  test/e2e/metrics/misc/transform_invalid_test.go
  test/e2e/misc/telemetry_test.go
  test/e2e/traces/filter_invalid_test.go
  test/e2e/traces/reject_creation_test.go
  test/e2e/traces/transform_invalid_test.go
  test/testkit/k8s/objects.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

even fewer Cleanup
  test/integration/istio/access_logs_otlp_test.go
  test/integration/istio/access_logs_test.go
  test/integration/istio/metrics_envoy_multi_pipeline_test.go
  test/integration/istio/metrics_istio_input_envoy_test.go
  test/integration/istio/metrics_istio_same_port_test.go
  test/integration/istio/metrics_prometheus_input_test.go
  test/testkit/k8s/objects.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

PreserveAndScheduleRestoreOfTelemetryResource
  test/e2e/logs/fluentbit/custom_cluster_name_test.go
  test/e2e/logs/shared/extract_labels_test.go
  test/e2e/metrics/shared/custom_cluster_name_test.go
  test/e2e/metrics/shared/extract_labels_test.go
  test/e2e/traces/extract_labels_test.go
  test/integration/istio/metrics_istio_same_port_test.go
  test/integration/istio/metrics_otlp_input_test.go
  test/testkit/k8s/objects.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

cannot use t.context after official end of test
  test/testkit/k8s/objects.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Refactor processor: insert-cluster-attributes
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/common/processor_builders.go
  internal/otelcollector/config/common/processor_builders_test.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/loggateway/config_builder.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/tracegateway/config_builder.go
  internal/otelcollector/config/tracegateway/testdata/http-protocol-with-custom-path.yaml
  internal/otelcollector/config/tracegateway/testdata/http-protocol-without-custom-path.yaml
  internal/otelcollector/config/tracegateway/testdata/single-pipeline.yaml
  internal/otelcollector/config/tracegateway/testdata/user-defined-filters.yaml
  internal/otelcollector/config/tracegateway/testdata/user-defined-transform-filter.yaml
  internal/otelcollector/config/tracegateway/testdata/user-defined-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

initialize the setuplogger as early as possible
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove note about jaeger-operator
  docs/user/integration/jaeger/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: run perf tests without fips
  hack/deploy-telemetry.sh
Due: none

update .env
  .env
Due: none

fix gardener tests as well
  .github/workflows/gardener-integration.yml
Due: none

make generate
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: remove note in jaeger integration guide
  docs/user/integration/jaeger/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

lint-fix
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: remove note in jaeger integration guide (#2738)
  docs/user/integration/jaeger/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

return generic errors for user but log more detail in manager
  webhook/utils/transformfilter.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update go.mod and run go mod tidy
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: run perf tests without fips (#2737)
  .github/workflows/gardener-integration.yml
  hack/deploy-telemetry.sh
Due: none

try first PR image from OCC
  .env
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: initialize the setuplogger as early as possible (#2736)
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Refactor porcessor: drop-skip-enrichment-attribute
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricagent/testdata/http-with-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/http-without-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/istio-envoy.yaml
  internal/otelcollector/config/metricagent/testdata/istio-installed-and-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-installed-and-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/istio-not-installed-and-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-not-installed-and-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-only.yaml
  internal/otelcollector/config/metricagent/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/setup-comprehensive.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-filters.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-transform-filter.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

FU: Change processor name
  internal/otelcollector/config/common/constants.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Refactor porcessors: set-kyma-input-name-x
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/common/processor_builders.go
  internal/otelcollector/config/common/processor_builders_test.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricagent/testdata/http-with-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/http-without-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/istio-envoy.yaml
  internal/otelcollector/config/metricagent/testdata/istio-installed-and-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-installed-and-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/istio-not-installed-and-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-not-installed-and-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-only.yaml
  internal/otelcollector/config/metricagent/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/setup-comprehensive.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-filters.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-transform-filter.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-transforms.yaml
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/testdata/http-protocol-with-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/http-protocol-without-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-only.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-comprehensive.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-simple.yaml
  internal/otelcollector/config/metricgateway/testdata/user-defined-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/user-defined-transform-filter.yaml
  internal/otelcollector/config/metricgateway/testdata/user-defined-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix formatting in filter-logs.md
  docs/user/filter-and-process/filter-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: update self-monitor image to prom 3.8.0
  dependencies/telemetry-self-monitor/envs
Due: pull-telemetry-manager-verify-module

added perf results
  docs/contributor/benchmarks/results/logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: update self-monitor image to prom 3.8.0 (#2742)
  dependencies/telemetry-self-monitor/envs
Due: pull-telemetry-manager-verify-module

chore: update self-monitor to prometheus 3.8.0
  .env
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module
