Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)

add default pipeline config
  internal/resources/fluentbit/resources.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Refactor tests (#342)
  .gitignore
  Makefile
  test/integration/istio/const.go
  test/integration/istio/istio_access_logs_test.go
  test/integration/istio/suite_test.go
  test/testkit/k8s/apiserver/proxy_client.go
  test/testkit/k8s/label_opts.go
  test/testkit/k8s/label_opts_test.go
  test/testkit/k8s/namespace.go
  test/testkit/k8s/objects.go
  test/testkit/k8s/secret.go
  test/testkit/k8s/secret_opts.go
  test/testkit/k8s/service.go
  test/testkit/k8s/telemetry.go
  test/testkit/k8s/verifiers/deployment.go
  test/testkit/kyma/istio/istio.go
  test/testkit/kyma/pipelinelist.go
  test/testkit/kyma/telemetry/log/parser.go
  test/testkit/kyma/telemetry/log/pipeline.go
  test/testkit/kyma/telemetry/metric/pipeline.go
  test/testkit/kyma/telemetry/trace/pipeline.go
  test/testkit/matchers/log_matchers_test.go
  test/testkit/matchers/metric_matchers.go
  test/testkit/matchers/metric_matchers_test.go
  test/testkit/matchers/prometheus_matcher_test.go
  test/testkit/matchers/suite_test.go
  test/testkit/matchers/trace_matchers.go
  test/testkit/matchers/trace_matchers_test.go
  test/testkit/mocks/backend.go
  test/testkit/mocks/backend_config_map.go
  test/testkit/mocks/backend_deployment.go
  test/testkit/mocks/external_backend_service.go
  test/testkit/mocks/log_spammer.go
  test/testkit/mocks/logbackend_config_map.go
  test/testkit/mocks/urlprovider.go
  test/testkit/opts.go
  test/testkit/otlp/metrics/exporter.go
  test/testkit/otlp/metrics/metrics.go
  test/testkit/otlp/traces/traces.go
  test/testkit/port_registry.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Make file changes reverted
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

unit tests
  internal/reconciler/telemetry/log_components.go
  internal/reconciler/telemetry/metric_collector_conditions.go
  internal/reconciler/telemetry/mocks/conditions_prober.go
  internal/reconciler/telemetry/reconciler.go
  internal/reconciler/telemetry/status.go
  internal/reconciler/telemetry/status_test.go
  internal/reconciler/telemetry/trace_collector_conditions.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

revert webhook folder changes
  webhook/dryrun/mocks/command_runner.go
  webhook/dryrun/mocks/file_writer.go
  webhook/logparser/mocks/dryrun.go
  webhook/logpipeline/mocks/dryrun.go
  webhook/logpipeline/validation/mocks/files_validator.go
  webhook/logpipeline/validation/mocks/max_pipeliens_validator.go
  webhook/logpipeline/validation/mocks/variables_validator.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

get back overrides.go file
  internal/overrides/mocks/configmap_prober.go
  internal/reconciler/logparser/mocks/daemon_set_annotator.go
  internal/reconciler/logparser/mocks/daemon_set_prober.go
  internal/reconciler/logpipeline/mocks/daemon_set_annotator.go
  internal/reconciler/logpipeline/mocks/daemon_set_prober.go
  internal/reconciler/metricpipeline/mocks/deployment_prober.go
  internal/reconciler/tracepipeline/mocks/deployment_prober.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Amends the releasing process document.
  docs/contributor/releasing.md
Due: pull-telemetry-manager-governance

added docs and some fixes
  docs/user/06-conditions.md
  internal/reconciler/telemetry/metric_collector_conditions.go
  internal/reconciler/telemetry/mocks/component_health_checker.go
  internal/reconciler/telemetry/status.go
  internal/reconciler/telemetry/trace_collector_conditions.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

revert test changes for operator env test
  controllers/operator/telemetry_controller_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Adds grouping for the changelog items.
  .goreleaser.yaml
Due: none

improve unit test
  internal/reconciler/telemetry/log_components_test.go
  internal/reconciler/telemetry/metric_components.go
  internal/reconciler/telemetry/metric_components_test.go
  internal/reconciler/telemetry/status_test.go
  internal/reconciler/telemetry/trace_components.go
  internal/reconciler/telemetry/trace_components_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  internal/reconciler/telemetry/status_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  internal/reconciler/telemetry/log_components_test.go
  internal/reconciler/telemetry/metric_components_test.go
  internal/reconciler/telemetry/status_test.go
  internal/reconciler/telemetry/trace_components_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add duplicate exceptions
  .golangci.yaml
Due: none

Rename field
  apis/operator/v1alpha1/telemetry_types.go
  apis/operator/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_telemetries.yaml
  docs/user/resources/01-telemetry.md
  internal/reconciler/telemetry/status.go
  internal/reconciler/telemetry/status_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix slice initialization
  apis/operator/v1alpha1/telemetry_types.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Refactor controller bootstrapping
  controllers/operator/suite_test.go
  controllers/operator/telemetry_controller.go
  internal/reconciler/telemetry/reconciler.go
  internal/reconciler/telemetry/status.go
  internal/reconciler/telemetry/status_test.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Improve some names
  controllers/operator/suite_test.go
  controllers/operator/telemetry_controller.go
  internal/reconciler/telemetry/reconciler.go
  internal/reconciler/telemetry/status.go
  internal/reconciler/telemetry/status_test.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Refactor the checkers
  internal/reconciler/telemetry/log_components.go
  internal/reconciler/telemetry/log_components_checker.go
  internal/reconciler/telemetry/log_components_checker_test.go
  internal/reconciler/telemetry/metric_components_checker.go
  internal/reconciler/telemetry/metric_components_checker_test.go
  internal/reconciler/telemetry/reconciler.go
  internal/reconciler/telemetry/status.go
  internal/reconciler/telemetry/trace_components_checker.go
  internal/reconciler/telemetry/trace_components_checker_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix the tests
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/metricpipeline/status_test.go
  internal/reconciler/status.go
  internal/reconciler/telemetry/log_components_checker.go
  internal/reconciler/telemetry/log_components_checker_test.go
  internal/reconciler/telemetry/metric_components_checker.go
  internal/reconciler/telemetry/metric_components_checker_test.go
  internal/reconciler/telemetry/status.go
  internal/reconciler/telemetry/status_test.go
  internal/reconciler/telemetry/trace_components_checker.go
  internal/reconciler/telemetry/trace_components_checker_test.go
  internal/reconciler/tracepipeline/status.go
  internal/reconciler/tracepipeline/status_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert
  controllers/operator/suite_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Do not expose conditions map directly
  internal/reconciler/status.go
  internal/reconciler/telemetry/log_components_checker.go
  internal/reconciler/telemetry/metric_components_checker.go
  internal/reconciler/telemetry/trace_components_checker.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert
  internal/reconciler/telemetry/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Remove some unneeded code
  internal/reconciler/telemetry/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix tests
  internal/reconciler/telemetry/status_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert fluent-bit metric exposure (#340)
  internal/resources/fluentbit/resources.go
  internal/resources/fluentbit/resources_test.go
  test/e2e/logging_fluentbit_metrics_test.go
  test/e2e/logging_parser_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Enhances the grouping for the changelog items with a Bugfix section.
  .goreleaser.yaml
Due: none

change default scrape interval to 30 sec
  internal/otelcollector/config/metric/agent/receivers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

unit test agent config builder updated
  internal/otelcollector/config/metric/agent/config_builder_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Increase default metric scrape interval to 30 sec (#345)
  internal/otelcollector/config/metric/agent/config_builder_test.go
  internal/otelcollector/config/metric/agent/receivers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

WIP: remove old dummy status update code
  apis/operator/v1alpha1/telemetry_types.go
  internal/reconciler/telemetry/reconciler.go
  internal/reconciler/telemetry/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Applies documentation code-review comments.
  docs/contributor/releasing.md
Due: pull-telemetry-manager-governance

add mTLS support for TracePipeline OTLP outout
  apis/telemetry/v1alpha1/shared_types.go
  apis/telemetry/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/telemetry.kyma-project.io_tracepipelines.yaml
  config/development/telemetry.kyma-project.io_metricpipelines.yaml
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
  internal/otelcollector/config/exporters.go
  internal/otelcollector/config/otlpexporter/config_builder.go
  internal/otelcollector/config/otlpexporter/config_builder_test.go
  internal/otelcollector/config/otlpexporter/env_vars.go
  internal/otelcollector/config/trace/gateway/config_builder_test.go
  internal/testutils/trace_pipeline_builder.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add secret ref handling, improve code
  apis/telemetry/v1alpha1/secret_refs.go
  apis/telemetry/v1alpha1/shared_types.go
  apis/telemetry/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/telemetry.kyma-project.io_tracepipelines.yaml
  config/development/telemetry.kyma-project.io_metricpipelines.yaml
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
  internal/otelcollector/config/exporters.go
  internal/otelcollector/config/metric/gateway/config_builder_test.go
  internal/otelcollector/config/otlpexporter/config_builder.go
  internal/otelcollector/config/otlpexporter/config_builder_test.go
  internal/otelcollector/config/otlpexporter/env_vars.go
  internal/testutils/trace_pipeline_builder.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update tls.insecure handling
  apis/telemetry/v1alpha1/shared_types.go
  config/crd/bases/telemetry.kyma-project.io_tracepipelines.yaml
  config/development/telemetry.kyma-project.io_metricpipelines.yaml
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
  internal/otelcollector/config/exporters.go
  internal/otelcollector/config/metric/gateway/config_builder_test.go
  internal/otelcollector/config/otlpexporter/config_builder.go
  internal/otelcollector/config/trace/gateway/config_builder_test.go
  internal/testutils/trace_pipeline_builder.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Added context to map function
  controllers/operator/telemetry_controller.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Release amendments and GitHub Release changelog improvements (#344)
  .goreleaser.yaml
  docs/contributor/releasing.md
Due: pull-telemetry-manager-governance

bump module version and images
  Makefile
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

bump module version and images (#350)
  Makefile
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test
