Repository kyma-project/directory-size-exporter: changes, and which Prow jobs are due for each by the changed paths.
All: pull-directory-size-exporter-governance, pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

pull-directory-size-exporter-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-directory-size-exporter-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-directory-size-exporter-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-directory-size-exporter-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/test-infra/golangci-lint:v20230821-fdb47ca7
  ...

pull-directory-size-exporter-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-directory-size-exporter-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20231121-05130964
  ...

change from bookworm to alpine
  Dockerfile
Due: none

Replace legacy logging lib with slog
  go.mod
  go.sum
  internal/exporter/exporter.go
  internal/exporter/exporter_test.go
  main.go
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

Add flag validation
  main.go
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

chore: Replace legacy logging lib with slog (#66)
  go.mod
  go.sum
  internal/exporter/exporter.go
  internal/exporter/exporter_test.go
  main.go
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

Remove path filter
  .github/workflows/pr-code-checks.yml
Due: none

Rename workflow
  .github/workflows/pr-code-checks.yml
Due: none

chore: Remove path filter (#67)
  .github/workflows/pr-code-checks.yml
Due: none

review changes
  Dockerfile
Due: none

chore: Change Dockerfile base image from bookworm to alpine (#61)
  Dockerfile
Due: none

docs: Add mandatory sections to README.md
  README.md
Due: pull-directory-size-exporter-governance

docs: Add mandatory sections to README.md (#70)
  README.md
Due: pull-directory-size-exporter-governance

Bump go to 1.23.1
  Dockerfile
  go.mod
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

Bump go to 1.23.1 (#72)
  Dockerfile
  go.mod
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

chore: Introduce all checks passed workflow
  .github/workflows/build-image.yml
  .github/workflows/pr-all-checks-passed.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
Due: none

fix
  .github/pull-request-template.md
Due: pull-directory-size-exporter-governance

chore: Introduce all checks passed workflow (#74)
  .github/pull-request-template.md
  .github/workflows/build-image.yml
  .github/workflows/pr-all-checks-passed.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
Due: pull-directory-size-exporter-governance

chore: Fix label check
  .github/workflows/pr-github-checks.yml
Due: none

fix
  .github/workflows/pr-github-checks.yml
Due: none

chore: Fix label check (#75)
  .github/workflows/pr-github-checks.yml
Due: none

chore: Fix failing gh actions
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
Due: none

chore: Fix failing gh actions (#76)
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
Due: none

fix: Implement graceful shutdown
  Dockerfile
  main.go
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

fix: Implement graceful shutdown (#79)
  Dockerfile
  main.go
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

chore: Unify linting with the rest of repositories
  .golangci.yaml
  Makefile
  internal/exporter/exporter.go
  internal/exporter/exporter_test.go
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
  main.go
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

Fix lint
  internal/exporter/exporter.go
  internal/exporter/exporter_test.go
  main.go
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

Update gha
  .github/workflows/pr-code-checks.yml
Due: none

chore: Unify linter settings with telemetry-manager (#80)
  .github/workflows/pr-code-checks.yml
  .golangci.yaml
  Makefile
  internal/exporter/exporter.go
  internal/exporter/exporter_test.go
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
  main.go
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

chore: Harmonize dependabot config with telemetry-manager
  .github/dependabot.yml
Due: none

chore: Harmonize dependabot config with telemetry-manager (#81)
  .github/dependabot.yml
Due: none

test changes
  README.md
Due: pull-directory-size-exporter-governance

use merge group trigger
  .github/workflows/build-image.yml
  .github/workflows/pr-all-checks-passed.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
Due: none

remove unneeded files
  OWNERS
  OWNERS_ALIASES
  README.md
Due: pull-directory-size-exporter-governance

chore: Use merge group trigger for merge queue CI (#88)
  .github/workflows/build-image.yml
  .github/workflows/pr-all-checks-passed.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
Due: none

remove merge_group trigger
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
Due: none

add tag for merge_group and pr
  .github/workflows/build-image.yml
Due: none

chore: Remove merge_group trigger for some workflows (#89)
  .github/workflows/build-image.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
Due: none

chore: Remove outdated OWNERS file (#87)
  OWNERS
  OWNERS_ALIASES
Due: none

chore: Update golang to 1.23.4 and alpine to 3.21
  Dockerfile
  go.mod
  internal/tools/go.mod
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

remove delay on allcheckspassed action
  .github/workflows/pr-all-checks-passed.yml
Due: none

chore: Remove delay on allcheckspassed action (#92)
  .github/workflows/pr-all-checks-passed.yml
Due: none

Path conditions:
  pull-directory-size-exporter-governance: any of: milv.config.yaml|.md$
  pull-directory-size-exporter-lint: any of: ^(go.mod|go.sum)$|^(.*\.go$|.golangcilint.yaml)
  pull-directory-size-exporter-unit-test: any of: ^(go.mod|go.sum)$|^.*\.go$
