Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-test-infra-governance, prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-node, pre-test-infra-buildpack-node-chromium, pre-test-infra-buildpack-java, pre-test-infra-buildpack-java-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-probot-stale, pre-test-infra-prow-tools, pre-test-infra-prow-clonerefs, pre-test-infra-image-guard, pre-test-infra-github-connector-webhook-gateway, pre-test-infra-pubsub-connector-gateway, pre-test-infra-ci-force-bot, post-test-infra-bootstrap, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-node, post-test-infra-buildpack-node-chromium, post-test-infra-buildpack-java, post-test-infra-buildpack-java-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-probot-stale, post-test-infra-prow-tools, post-test-infra-prow-clonerefs, post-test-infra-image-guard, post-test-infra-github-connector-webhook-gateway, post-test-infra-pubsub-connector-gateway, post-test-infra-ci-force-bot, prow/test-infra/check_config, test-infra-development-tools, pre-test-infra-build-testimages, pre-main-test-infra-image-syncer-validate, pre-main-test-infra-image-syncer-dry-run, post-main-test-infra-image-syncer-run, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-main-stability-checker, post-main-stability-checker, pre-master-test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, pre-master-test-log-collector, post-master-test-log-collector, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-tools, pre-main-test-infra-validate-image-url-helper, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files, pre-main-test-infra-validate-prow-installer-files, pre-test-infra-validate-dockerfiles, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods, pre-main-test-infra-watch-pods, post-main-test-infra-watch-pods

Path conditions:
  pre-main-test-infra-governance: any of: milv.config.yaml|.md$
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  pre-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  pre-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  pre-test-infra-prow-tools: any of: ^development/(tools|jobguard)/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  pre-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  pre-test-infra-image-guard: any of: ^development/image-guard/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-github-connector-webhook-gateway: any of: ^development/kyma-github-connector/githubWebhookGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-pubsub-connector-gateway: any of: ^development/kyma-pubsub-connector/pubSubGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-ci-force-bot: any of: ^development/kyma-ci-force-bot/ciforcebot/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  post-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  post-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  post-test-infra-prow-tools: any of: ^development/(tools|jobguard)/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  post-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  post-test-infra-image-guard: any of: ^development/image-guard/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-github-connector-webhook-gateway: any of: ^development/kyma-github-connector/githubWebhookGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-pubsub-connector-gateway: any of: ^development/kyma-pubsub-connector/pubSubGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-ci-force-bot: any of: ^development/kyma-ci-force-bot/ciforcebot/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-test-infra-build-testimages: any of: ^prow/images/
  pre-main-test-infra-image-syncer-validate: any of: ^(development/image-syncer)
  pre-main-test-infra-image-syncer-dry-run: any of: ^(development/image-syncer/external-images.yaml)
  post-main-test-infra-image-syncer-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-main-test-infra-pjtester: any of: ^(vpath/pjtester.yaml)
  pre-main-test-infra-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-main-stability-checker: any of: ^stability-checker/
  post-main-stability-checker: any of: ^stability-checker/
  pre-master-test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  pre-master-test-log-collector: any of: ^development/test-log-collector/
  post-master-test-log-collector: any of: ^development/test-log-collector/
  pre-test-infra-validate-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  post-test-infra-upload-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-main-test-infra-validate-prow-tools: any of: ^development/tools/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-main-test-infra-validate-image-url-helper: any of: ^development/image-url-helper/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-main-test-infra-validate-prow-jobs: any of: ^(development/tools/jobs|prow)
  pre-main-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|pkg/rendertemplates/|jobs/releases/releases.go)|^prow/branchprotector-config.yaml
  pre-main-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-test-infra-validate-dockerfiles: any of: .*Dockerfile$
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/
  pre-main-test-infra-watch-pods: any of: ^watch-pods/
  post-main-test-infra-watch-pods: any of: ^watch-pods/

hmm
  prow/jobs/busola/busola.yaml
  prow/jobs/busola/docker.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

pj
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

Remove job guard
  prow/scripts/provision-vm-and-start-busola-docker.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

add unstable cli pipeline
  templates/data/cli-data.yaml
Due: pre-main-test-infra-validate-generated-files

add unstable cli pipeline
  prow/jobs/cli/cli.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

debug
  prow/scripts/provision-vm-and-start-busola-docker.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

fix spelling of prow jobs
  development/kyma-slack-connector/issueLabeledFunction/README.md
  development/prowjobparser/README.md
  development/tools/cmd/pjtester/README.md
  development/tools/cmd/rendertemplates/README.md
  docs/prow/README.md
  docs/prow/authorization.md
  docs/prow/crier.md
  docs/prow/presets.md
  docs/prow/production-cluster-configuration.md
  docs/prow/prow-architecture.md
  docs/prow/prow-installation-on-forks.md
  docs/prow/prow-jobs.md
  docs/prow/prow-k8s-testgrid.md
  docs/prow/prow-monitoring.md
  docs/prow/prow-naming-convention.md
  docs/prow/prow-secrets.md
  docs/prow/test-clusters.md
  prow/cluster/README.md
  prow/images/kyma-integration/README.md
  prow/scripts/resources/README.md
  stability-checker/README.md
Due: pre-main-test-infra-governance, pre-test-infra-kyma-integration, post-test-infra-kyma-integration, test-infra-development-tools, pre-test-infra-build-testimages, post-master-kyma-cleaners-update-binaries, pre-main-stability-checker, post-main-stability-checker, pre-master-test-infra-governance, pre-main-test-infra-validate-prow-tools, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

add pjtester
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

run_if_changed for busola build-and-test
  templates/data/busola-build-and-test-docker-data.yaml
Due: pre-main-test-infra-validate-generated-files

regenerate templates
  prow/jobs/busola/build-and-test-docker.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

apply suggestions from code review
  development/tools/cmd/rendertemplates/README.md
  docs/prow/presets.md
Due: pre-main-test-infra-governance, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-governance, pre-main-test-infra-validate-prow-tools, pre-main-test-infra-validate-generated-files

What about args?
  prow/jobs/busola/build-and-test-docker.yaml
  templates/data/busola-build-and-test-docker-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Update pj
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

Remove application-broker job (#5162)
  development/tools/jobs/kyma/components_test.go
  prow/jobs/kyma/components/application-broker/OWNERS
  prow/jobs/kyma/components/application-broker/application-broker-generic.yaml
  templates/data/generic_component_data.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Try using inherited configs to fix Docker I guess
  prow/jobs/busola/build-and-test-docker.yaml
  prow/scripts/provision-vm-and-start-busola-docker.sh
  templates/data/busola-build-and-test-docker-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Revert
  prow/jobs/busola/build-and-test-docker.yaml
  templates/data/busola-build-and-test-docker-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Use presets
  prow/jobs/busola/build-and-test-docker.yaml
  prow/scripts/provision-vm-and-start-busola-docker.sh
  templates/data/busola-build-and-test-docker-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Disable gcr-push preset
  prow/jobs/busola/build-and-test-docker.yaml
  templates/data/busola-build-and-test-docker-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

sed exmaple domain
  prow/scripts/cluster-integration/helpers/reconciler.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

sed exmaple domain (#5189)
  prow/scripts/cluster-integration/helpers/reconciler.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

switch
  prow/jobs/busola/build-and-test-docker.yaml
  templates/data/busola-build-and-test-docker-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Enable respository push
  prow/jobs/busola/build-and-test-docker.yaml
  templates/data/busola-build-and-test-docker-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Dedupe
  prow/scripts/provision-vm-and-start-busola-docker.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Dedupe more
  prow/scripts/provision-vm-and-start-busola-docker.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

remove test from pjtester
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

test file upload
  development/kyma-slack-connector/releaseClusterCreatedFunction/handler.py
  development/kyma-slack-connector/slackConnectorChart/global-stage-values.yaml
  development/kyma-slack-connector/slackConnectorChart/values/releasecluster.created/stage-values.yaml
Due: none

Preapre staging data
  development/kyma-github-connector/githubConnectorChart/Chart.yaml
  development/kyma-pubsub-connector/pubsubConnectorChart/Chart.yaml
  development/kyma-slack-connector/releaseClusterCreatedFunction/handler.py
  development/kyma-slack-connector/slackConnectorChart/global-stage-values.yaml
  development/kyma-slack-connector/slackConnectorChart/values/issuesevent.labeled/stage-values.yaml
  development/kyma-slack-connector/slackConnectorChart/values/oomevent.found/stage-values.yaml
  development/kyma-slack-connector/slackConnectorChart/values/prowjob.failed/stage-values.yaml
  development/kyma-slack-connector/slackConnectorChart/values/releasecluster.created/stage-values.yaml
Due: none

Enable approve for kyma-project/third-party-images and kyma-project/cli
  prow/config.yaml
  prow/plugins.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

swap order
  development/kyma-slack-connector/releaseClusterCreatedFunction/handler.py
Due: none

Enable approve for kyma-project/third-party-images and kyma-project/cli (#5191)
  prow/config.yaml
  prow/plugins.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

regenerate templates
  prow/jobs/incubator/compass/components/hydrator/hydrator-generic.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

fix pjtester
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

cleanup
  development/kyma-github-connector/githubConnectorChart/Chart.yaml
  development/kyma-pubsub-connector/pubsubConnectorChart/Chart.yaml
  development/kyma-slack-connector/slackConnectorChart/global-stage-values.yaml
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

fix
  prow/scripts/provision-vm-and-test-reconciler-with-cli-k3d.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

try pjtester
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

Whitesource: add manual excludes
  prow/jobs/scans/whitesource-periodics.yaml
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
  templates/data/whitesource-periodics-data.yaml
  templates/templates/whitesource-periodics.tmpl
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

test
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

live test
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files
