Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

docs: adjust CLS integration guide (#3011)
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

field key is renamed in torstens issue
  docs/contributor/arch/028-network-policy-hardening.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

split selfmonitor as it was previously
  .github/workflows/pr-integration.yml
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/healthy_test.go
  test/selfmonitor/outage_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix labels
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/healthy_test.go
  test/selfmonitor/main_test.go
  test/selfmonitor/outage_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

prepare gardener tests
  .github/workflows/gardener-integration.yml
  test/e2e/logs/shared/multi_pipeline_max_pipeline_test.go
  test/e2e/metrics/shared/multi_pipeline_max_pipeline_test.go
  test/e2e/traces/multi_pipeline_max_pipeline_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

lint-fix
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/healthy_test.go
  test/selfmonitor/outage_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

decompose labels
  test/e2e/metrics/agent/prometheus_input_diagnostic_metric_test.go
  test/e2e/metrics/agent/prometheus_input_test.go
  test/e2e/metrics/agent/runtime_node_namespace_test.go
  test/e2e/metrics/agent/service_enrichment_test.go
  test/e2e/metrics/agent/service_name_test.go
  test/e2e/metrics/gateway/enrichment_values_empty_test.go
  test/e2e/metrics/gateway/enrichment_values_predefined_test.go
  test/e2e/metrics/gateway/kyma_input_test.go
  test/e2e/metrics/shared/cloud_provider_attributes_test.go
  test/e2e/metrics/shared/custom_cluster_name_test.go
  test/e2e/metrics/shared/endpoint_with_path_validation_test.go
  test/e2e/metrics/shared/extract_labels_test.go
  test/e2e/metrics/shared/filter_test.go
  test/e2e/metrics/shared/mtls_about_to_expire_cert_test.go
  test/e2e/metrics/shared/mtls_test.go
  test/e2e/metrics/shared/multi_pipeline_broken_test.go
  test/e2e/metrics/shared/multi_pipeline_fanout_test.go
  test/e2e/metrics/shared/namespace_selector_test.go
  test/e2e/metrics/shared/oauth2_test.go
  test/e2e/metrics/shared/resources_test.go
  test/e2e/metrics/shared/secret_missing_test.go
  test/e2e/metrics/shared/secret_rotation_test.go
  test/e2e/metrics/shared/single_pipeline_test.go
  test/e2e/metrics/shared/single_pipeline_v1alpha1_test.go
  test/e2e/metrics/shared/transform_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

run storage migrator before manager starts
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: implement ConfigMap coordination module with optimistic locking
  internal/resources/otelcollector/otlp_gateway_config.go
  internal/resources/otelcollector/otlp_gateway_config_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: implement OTLP Gateway Controller and reconciler
  controllers/telemetry/otlpgateway_controller.go
  internal/reconciler/otlpgateway/interfaces.go
  internal/reconciler/otlpgateway/reconciler.go
  internal/reconciler/otlpgateway/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

refactor: simplify TracePipeline controller for new architecture
  controllers/telemetry/tracepipeline_controller.go
  internal/reconciler/tracepipeline/interfaces.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/reconciler/tracepipeline/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

refactor: apply Go style guidelines to Phase 1-3 code
  controllers/telemetry/otlpgateway_controller.go
  internal/reconciler/otlpgateway/interfaces.go
  internal/reconciler/otlpgateway/reconciler.go
  internal/reconciler/otlpgateway/status.go
  internal/resources/otelcollector/otlp_gateway_config.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: wire OTLP Gateway Controller in main.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

test: add comprehensive unit tests for OTLP Gateway reconciler
  internal/reconciler/otlpgateway/reconciler_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

WIP: refactor TracePipeline tests to remove gateway mocks
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/reconciler/tracepipeline/test_helpers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix tests
  internal/storagemigration/migrator.go
  internal/storagemigration/migrator_test.go
  internal/utils/test/v1alpha1/log_pipeline_builder.go
  internal/utils/test/v1alpha1/metric_pipeline_builder.go
  internal/utils/test/v1alpha1/pipeline_opts.go
  internal/utils/test/v1alpha1/trace_pipeline_builder.go
  test/e2e/misc/storage_migration_test.go
  test/testkit/kubeprep/config.go
  test/testkit/kubeprep/reconfigure.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "fix: revert avoid reconciliations every 1 minutes (#2869) (#2966)"
  controllers/operator/telemetry_controller.go
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/tracepipeline_controller.go
  internal/reconciler/logpipeline/fluentbit/reconciler.go
  internal/reconciler/logpipeline/fluentbit/reconciler_test.go
  internal/reconciler/logpipeline/fluentbit/status.go
  internal/reconciler/logpipeline/fluentbit/test_helpers_test.go
  internal/reconciler/logpipeline/interfaces.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/logpipeline/otel/reconciler_test.go
  internal/reconciler/logpipeline/otel/status.go
  internal/reconciler/logpipeline/otel/test_helpers_test.go
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/logpipeline/stubs/reconciler.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/telemetry/reconciler.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/reconciler/tracepipeline/status.go
  internal/resources/names/names.go
  internal/utils/test/tls_gen.go
  internal/validators/secretref/secret_ref.go
  internal/validators/secretref/secret_ref_test.go
  internal/webhookcert/resources.go
  main.go
  test/e2e/logs/misc/mtls_expired_cert_test.go
  test/e2e/logs/shared/resources_test.go
  test/e2e/metrics/misc/mtls_expired_cert_test.go
  test/e2e/metrics/shared/resources_test.go
  test/e2e/misc/overrides_test.go
  test/e2e/misc/telemetry_resources_test.go
  test/e2e/traces/mtls_expired_cert_test.go
  test/integration/istio/logs_resources_test.go
  test/integration/istio/metrics_resources_test.go
  test/integration/istio/traces_resources_test.go
  test/testkit/assert/resources_generic.go
  test/testkit/kyma/common_names.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove secret transformation
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove watching secret changes in controller-runtime way
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/tracepipeline_controller.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

implement e2e test
  .k3d-kyma.yaml
  helm/templates/manager-rbac.yaml
  internal/storagemigration/migrator.go
  main.go
  test/e2e/upgrade/storage_migration_test.go
  test/testkit/kubeprep/manager.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

implement metrics
  internal/metrics/metrics.go
  internal/storagemigration/migrator.go
  internal/storagemigration/migrator_test.go
  internal/utils/test/v1alpha1/log_pipeline_builder.go
  internal/utils/test/v1alpha1/metric_pipeline_builder.go
  internal/utils/test/v1alpha1/pipeline_opts.go
  internal/utils/test/v1alpha1/trace_pipeline_builder.go
  main.go
  test/e2e/metrics/shared/single_pipeline_v1alpha1_test.go
  test/e2e/upgrade/storage_migration_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add deprecationWarning
  apis/operator/v1alpha1/telemetry_types.go
  apis/telemetry/v1alpha1/logpipeline_types.go
  apis/telemetry/v1alpha1/metricpipeline_types.go
  apis/telemetry/v1alpha1/tracepipeline_types.go
  helm/charts/default/templates/operator.kyma-project.io_telemetries.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_tracepipelines.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update
  docs/contributor/arch/032-auditable-release-automation.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix: correct OTLP Gateway architecture - unified config builder
  .clinerules/cline.githubactions.instructions.md
  .clinerules/cline.golang.instructions.md
  controllers/telemetry/otlpgateway_controller.go
  internal/otelcollector/config/otlpgateway/config_builder.go
  internal/otelcollector/config/otlpgateway/config_builder_test.go
  internal/otelcollector/config/otlpgateway/testdata/empty-pipelines.yaml
  internal/otelcollector/config/otlpgateway/testdata/multiple-trace-pipelines.yaml
  internal/otelcollector/config/otlpgateway/testdata/single-trace-pipeline.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-filter.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-http-protocol.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-oauth2.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-transform.yaml
  internal/reconciler/otlpgateway/interfaces.go
  internal/reconciler/otlpgateway/reconciler.go
  internal/reconciler/otlpgateway/reconciler_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update conclusion and diagrams
  docs/contributor/arch/032-auditable-release-automation.md
  docs/contributor/assets/auditable-release-final.drawio.svg
  docs/contributor/assets/auditable-release-module-release.drawio.svg
  docs/contributor/assets/auditable-release-mpc-release.drawio.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix typos
  docs/contributor/arch/032-auditable-release-automation.md
  docs/contributor/assets/auditable-release-final.drawio.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: add VPA ADR
  docs/contributor/arch/032-VPA-architecture.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

lint-fix
  test/e2e/metrics/shared/single_pipeline_v1alpha1_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update diagram
  docs/contributor/arch/032-VPA-architecture.md
  docs/contributor/assets/032-vpa-reconciler.svg
  docs/contributor/assets/032-vpa-updater.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add risks and mitigations
  docs/contributor/arch/032-VPA-architecture.md
  docs/contributor/arch/032-vertical-pod-autoscaler-VPA-architecture.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

remove diagrams
  docs/contributor/assets/032-vpa-reconciler.svg
  docs/contributor/assets/032-vpa-updater.svg
Due: none

fix formatting
  docs/contributor/arch/032-vertical-pod-autoscaler-VPA-architecture.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

exclude exporter metrics
  internal/resources/selfmonitor/resources.go
  internal/resources/selfmonitor/testdata/self-monitor.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

select agents one by one to exclude fluentbit
  internal/resources/selfmonitor/resources.go
  internal/resources/selfmonitor/testdata/self-monitor.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

restrict storage of CRDs, ValidatingWebhook and MutatingWebhook in cache
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove unused referencesSecret functions
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/tracepipeline_controller.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix linting
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use slice
  internal/resources/common/networkpolicy.go
  internal/resources/fluentbit/resources.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/core.go
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/otlp_gateway.go
  internal/resources/selfmonitor/resources.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adjust e2e tests after latest refactor
  test/integration/istio/logs_resources_test.go
  test/integration/istio/metrics_resources_test.go
  test/integration/istio/traces_resources_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test
