Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

Update docs/contributor/arch/003-integrate-prometheus-with-telemetry-manager-using-alerting.md
  docs/contributor/arch/003-integrate-prometheus-with-telemetry-manager-using-alerting.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: Add Integrate Prometheus with Telemetry Manager using Alerting ADR (#703)
  docs/contributor/arch/002-fluent-bit-without-file-system-buffer.md
  docs/contributor/arch/003-integrate-prometheus-with-telemetry-manager-using-alerting.md
  docs/contributor/pocs/integrate-prometheus-with-telemetry-manager-using-alerting.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Simplify Consistently checks
  test/e2e/metrics_secret_rotation_test.go
  test/e2e/traces_secret_rotation_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Use Eventually
  test/e2e/metrics_secret_rotation_test.go
  test/e2e/traces_secret_rotation_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix lint
  test/e2e/metrics_secret_rotation_test.go
  test/e2e/traces_secret_rotation_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

test: Fix flaky E2E metrics tests (missing Secret) (#709)
  test/e2e/metrics_secret_rotation_test.go
  test/e2e/traces_secret_rotation_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: Add cloud logging alerts
  docs/user/integration/sap-cloud-logging/README.md
  docs/user/integration/sap-cloud-logging/alert-access-log-ingestion.json
  docs/user/integration/sap-cloud-logging/alert-app-log-ingestion.json
  docs/user/integration/sap-cloud-logging/alert-health.json
  docs/user/integration/sap-cloud-logging/alert-metric-ingestion.json
  docs/user/integration/sap-cloud-logging/alert-trace-ingestion.json
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix
  .mlc.config.json
Due: none

Apply suggestions from code review
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add HTML tabs to collapse code blocks
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix formatting
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

specify which dashboards
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

"Script" instead of "Code"
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: Add alert setup for SAP Cloud Logging (#710)
  .mlc.config.json
  docs/user/integration/sap-cloud-logging/README.md
  docs/user/integration/sap-cloud-logging/alert-access-log-ingestion.json
  docs/user/integration/sap-cloud-logging/alert-app-log-ingestion.json
  docs/user/integration/sap-cloud-logging/alert-health.json
  docs/user/integration/sap-cloud-logging/alert-metric-ingestion.json
  docs/user/integration/sap-cloud-logging/alert-trace-ingestion.json
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Apply suggestions from code review
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

initial commit
  docs/contributor/performance-tests/traces/traces.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

changes based on review comments
  docs/user/integration/dynatrace/README.md
  docs/user/integration/dynatrace/secret-example.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

apply Iwona's suggestion
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: Adjust CLS instructions (#707)
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Apply suggestions from code review
  docs/user/integration/dynatrace/README.md
  docs/user/integration/dynatrace/secret-example.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Update Makefile
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

docs: Fix broken values.yaml links
  docs/user/integration/jaeger/README.md
  docs/user/integration/loki/README.md
  docs/user/integration/opentelemetry-demo/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

bump telemetry-manage image for releasing 1.7.0
  Makefile
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

Apply suggestions from code review
  docs/user/integration/jaeger/README.md
  docs/user/integration/loki/README.md
  docs/user/integration/opentelemetry-demo/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix
  docs/user/integration/opentelemetry-demo/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: Bump telemetry-manage image for releasing 1.7.0 (#717)
  Makefile
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

docs: Fix broken values.yaml links (#715)
  docs/user/integration/jaeger/README.md
  docs/user/integration/loki/README.md
  docs/user/integration/opentelemetry-demo/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: use non headless servie for loki example
  docs/user/integration/loki/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: Use non headless service for loki example (#718)
  docs/user/integration/loki/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add deny all network policy for all e2e tests
  test/e2e/metrics_basic_test.go
  test/e2e/suite_test.go
  test/e2e/telemetry_test.go
  test/e2e/traces_basic_test.go
  test/integration/istio/metrics_otlp_input_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix shadowing of k8sObjects declaration
  test/e2e/suite_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
