Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

test: Add missing self-monitor E2E tests (#1139)
  test/integration/istio/logs_self_monitor_backpressure_test.go
  test/integration/istio/logs_self_monitor_outage_test.go
  test/integration/istio/metrics_self_monitor_backpressure_test.go
  test/integration/istio/metrics_self_monitor_outage_test.go
  test/integration/istio/traces_self_monitor_backpressure_test.go
  test/integration/istio/traces_self_monitor_outage_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: Set module version in instrumentation scope
  internal/otelcollector/config/metric/agent/processors_test.go
  internal/otelcollector/config/metric/agent/set_instrumentation_scope_test.go
  internal/otelcollector/config/metric/agent/set_instrumention_scope.go
  internal/otelcollector/config/metric/agent/testdata/config_istio_enabled.yaml
  internal/otelcollector/config/metric/agent/testdata/config_istio_not_enabled.yaml
  internal/version/version.go
  main.go
  test/e2e/metrics_multi_pipeline_test.go
  test/testkit/matchers/metric/metric_matchers.go
  test/testkit/matchers/metric/metric_matchers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Implement CA refactoring proposal, tests WIP
  internal/conditions/tls_cert_conditions.go
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/logpipeline/status.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/reconciler/tracepipeline/status.go
  internal/tlscert/tls_cert_validator.go
  internal/tlscert/tls_cert_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update releasing docs
  docs/contributor/releasing.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix: Change UI path for telemetry CR back
  config/busola/telemetry_busola_extension_cm.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

feat: Set module version in instrumentation scope (#1134)
  docs/contributor/releasing.md
  internal/otelcollector/config/metric/agent/processors_test.go
  internal/otelcollector/config/metric/agent/set_instrumentation_scope_test.go
  internal/otelcollector/config/metric/agent/set_instrumention_scope.go
  internal/otelcollector/config/metric/agent/testdata/config_istio_enabled.yaml
  internal/otelcollector/config/metric/agent/testdata/config_istio_not_enabled.yaml
  internal/version/version.go
  main.go
  test/e2e/metrics_multi_pipeline_test.go
  test/testkit/matchers/metric/metric_matchers.go
  test/testkit/matchers/metric/metric_matchers_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Eliminate unnecessary check in transform processor
  internal/otelcollector/config/metric/agent/processors_test.go
  internal/otelcollector/config/metric/agent/set_instrumentation_scope_test.go
  internal/otelcollector/config/metric/agent/set_instrumention_scope.go
  internal/otelcollector/config/metric/agent/testdata/config_istio_enabled.yaml
  internal/otelcollector/config/metric/agent/testdata/config_istio_not_enabled.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Eliminate unnecessary check in transform processor (#1141)
  internal/otelcollector/config/metric/agent/processors_test.go
  internal/otelcollector/config/metric/agent/set_instrumentation_scope_test.go
  internal/otelcollector/config/metric/agent/set_instrumention_scope.go
  internal/otelcollector/config/metric/agent/testdata/config_istio_enabled.yaml
  internal/otelcollector/config/metric/agent/testdata/config_istio_not_enabled.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add logs e2e tests
  test/e2e/logs_mtls_cert_key_pair_dont_match_test.go
  test/e2e/logs_mtls_expired_cert_test.go
  test/e2e/logs_mtls_invalid_cert_test.go
  test/e2e/logs_secret_rotation_test.go
  test/e2e/logs_unsupported_loki_output_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add metrics e2e tests
  test/e2e/metrics_mtls_cert_key_pair_dont_match_test.go
  test/e2e/metrics_mtls_expired_cert_test.go
  test/e2e/metrics_mtls_invalid_cert_test.go
  test/e2e/metrics_multi_pipeline_max_pipeline_test.go
  test/e2e/metrics_secret_rotation_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Improve tracing troubleshooting guide
  docs/user/03-traces.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Improve metrics troubleshooting guide
  docs/user/03-traces.md
  docs/user/04-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Improve logs troubleshooting guide
  docs/user/02-logs.md
  docs/user/03-traces.md
  docs/user/04-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Fix docs
  docs/user/02-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add traces e2e tests
  test/e2e/traces_mtls_cert_key_pair_dont_match_test.go
  test/e2e/traces_mtls_expired_cert_test.go
  test/e2e/traces_mtls_invalid_cert_test.go
  test/e2e/traces_multi_pipeline_max_pipeline_test.go
  test/e2e/traces_secret_rotation_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update documentation
  docs/user/resources/02-logpipeline.md
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix linting
  test/e2e/traces_mtls_expired_cert_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: Set TelemetryFlowHealthy condition to False if the pipeline is non-reconcilable (#1144)
  docs/user/resources/02-logpipeline.md
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
  internal/conditions/conditions.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/logpipeline/status.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/telemetry/metric_components_checker_test.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/reconciler/tracepipeline/status.go
  test/e2e/logs_mtls_cert_key_pair_dont_match_test.go
  test/e2e/logs_mtls_expired_cert_test.go
  test/e2e/logs_mtls_invalid_cert_test.go
  test/e2e/logs_secret_rotation_test.go
  test/e2e/logs_unsupported_loki_output_test.go
  test/e2e/metrics_mtls_cert_key_pair_dont_match_test.go
  test/e2e/metrics_mtls_expired_cert_test.go
  test/e2e/metrics_mtls_invalid_cert_test.go
  test/e2e/metrics_multi_pipeline_max_pipeline_test.go
  test/e2e/metrics_secret_rotation_test.go
  test/e2e/traces_mtls_cert_key_pair_dont_match_test.go
  test/e2e/traces_mtls_expired_cert_test.go
  test/e2e/traces_mtls_invalid_cert_test.go
  test/e2e/traces_multi_pipeline_max_pipeline_test.go
  test/e2e/traces_secret_rotation_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update status messages
  internal/conditions/conditions.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/telemetry/log_components_checker_test.go
  internal/reconciler/telemetry/metric_components_checker_test.go
  internal/reconciler/telemetry/trace_components_checker_test.go
  internal/reconciler/tracepipeline/reconciler_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update docs/user/04-metrics.md
  docs/user/04-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Update docs/user/02-logs.md
  docs/user/02-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Update docs/user/03-traces.md
  docs/user/03-traces.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Improve tribleshooting guides
  docs/user/02-logs.md
  docs/user/03-traces.md
  docs/user/04-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Add by
  docs/user/02-logs.md
  docs/user/03-traces.md
  docs/user/04-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Update telemetry.md
  docs/user/resources/01-telemetry.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Update pipeline mds
  docs/user/resources/01-telemetry.md
  docs/user/resources/02-logpipeline.md
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

apply suggestions from tw review
  docs/user/02-logs.md
  docs/user/03-traces.md
  docs/user/04-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

improve remedy when not all telemetry arrive at the backend
  docs/user/02-logs.md
  docs/user/03-traces.md
  docs/user/04-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Fix and supplement UTs
  internal/tlscert/tls_cert_validator.go
  internal/tlscert/tls_cert_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix additional UTs
  internal/reconciler/logpipeline/mocks/tls_cert_validator.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/mocks/tls_cert_validator.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/tracepipeline/mocks/tls_cert_validator.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/tlscert/tls_cert_validator.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: Improve self-monitor troubleshooting guides (#1142)
  docs/user/02-logs.md
  docs/user/03-traces.md
  docs/user/04-metrics.md
  docs/user/resources/01-telemetry.md
  docs/user/resources/02-logpipeline.md
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
  internal/conditions/conditions.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/telemetry/log_components_checker_test.go
  internal/reconciler/telemetry/metric_components_checker_test.go
  internal/reconciler/telemetry/trace_components_checker_test.go
  internal/reconciler/tracepipeline/reconciler_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Remove hardcoded values in UTs
  internal/tlscert/tls_cert_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

FIx gitleaks error
  internal/tlscert/tls_cert_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Extend flow health ADR
  docs/contributor/arch/010-logging-flow-healthiness-status-api.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

gitleaks 2.0
  .gitleaks.toml
Due: none

bad idea
  .gitleaks.toml
Due: none

bad idea 2.0
  internal/tlscert/tls_cert_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

hopefully good idea (v1.0?)
  .gitleaksignore
Due: none

good idea 2.0
  .gitleaksignore
Due: none

REFACTOR: Rename TLSConfig to TLSBundle
  internal/reconciler/logpipeline/mocks/tls_cert_validator.go
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/logpipeline/status.go
  internal/reconciler/logpipeline/stubs/tls_cert_validator.go
  internal/reconciler/metricpipeline/mocks/tls_cert_validator.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/tracepipeline/mocks/tls_cert_validator.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/reconciler/tracepipeline/status.go
  internal/tlscert/tls_cert_validator.go
  internal/tlscert/tls_cert_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test
