Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-telemetry-manager-governance, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module, pre-telemetry-manager-validate-inrepo-prow-configs, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard

Path conditions:
  pre-main-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$) or (any of: ^.*\.go$)
  pull-telemetry-manager-verify-module: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml
  pre-telemetry-manager-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)

Introduce a contant
  internal/otelcollector/config/builder/metric/agent/processors.go
  internal/otelcollector/config/builder/metric/gateway/processors.go
  internal/otelcollector/config/builder/metric/shared_attributes.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Leftovers
  config/manager/kustomization.yaml
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

bump images and module version
  Makefile
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

Fix lint
  .golangci.yaml
  internal/otelcollector/config/builder/metric/gateway/processors.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

bump images and module version (#278)
  Makefile
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

Filter by input source in metric gateway (#277)
  .golangci.yaml
  internal/otelcollector/config/builder/metric/agent/processors.go
  internal/otelcollector/config/builder/metric/gateway/config.go
  internal/otelcollector/config/builder/metric/gateway/config_builder.go
  internal/otelcollector/config/builder/metric/gateway/config_builder_test.go
  internal/otelcollector/config/builder/metric/gateway/exporters.go
  internal/otelcollector/config/builder/metric/gateway/processors.go
  internal/otelcollector/config/builder/metric/gateway/processors_test.go
  internal/otelcollector/config/builder/metric/shared_attributes.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Move package
  internal/otelcollector/config/builder/common/otlpexporter/config_builder.go
  internal/otelcollector/config/builder/common/otlpexporter/config_builder_test.go
  internal/otelcollector/config/builder/common/otlpexporter/env_vars.go
  internal/otelcollector/config/builder/metric/gateway/config_builder.go
  internal/otelcollector/config/builder/trace/gateway/config_builder.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Refactor the metric gateway
  internal/otelcollector/config/builder/common/config_base_exporters.go
  internal/otelcollector/config/builder/common/otlpexporter/config_builder.go
  internal/otelcollector/config/builder/common/otlpexporter/config_builder_test.go
  internal/otelcollector/config/builder/metric/gateway/config.go
  internal/otelcollector/config/builder/metric/gateway/config_builder.go
  internal/otelcollector/config/builder/metric/gateway/config_builder_test.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Refactor the trace gateway
  internal/otelcollector/config/builder/common/otlpexporter/config_builder.go
  internal/otelcollector/config/builder/common/otlpexporter/config_builder_test.go
  internal/otelcollector/config/builder/metric/gateway/config_builder.go
  internal/otelcollector/config/builder/trace/gateway/config.go
  internal/otelcollector/config/builder/trace/gateway/config_builder.go
  internal/otelcollector/config/builder/trace/gateway/config_builder_test.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Remove code duplication
  internal/otelcollector/config/builder/common/config_base_exporters.go
  internal/otelcollector/config/builder/metric/gateway/config_builder.go
  internal/otelcollector/config/builder/trace/gateway/config_builder.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Rename test methods
  internal/otelcollector/config/builder/common/otlpexporter/config_builder_test.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Fix lint
  internal/otelcollector/config/builder/common/otlpexporter/config_builder.go
  internal/otelcollector/config/builder/trace/gateway/config_builder.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

some comments updated
  test/e2e/metrics_kubeletstats_test.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Refine otlpexporter package API (#279)
  internal/otelcollector/config/builder/common/config_base_exporters.go
  internal/otelcollector/config/builder/common/otlpexporter/config_builder.go
  internal/otelcollector/config/builder/common/otlpexporter/config_builder_test.go
  internal/otelcollector/config/builder/common/otlpexporter/env_vars.go
  internal/otelcollector/config/builder/metric/gateway/config.go
  internal/otelcollector/config/builder/metric/gateway/config_builder.go
  internal/otelcollector/config/builder/metric/gateway/config_builder_test.go
  internal/otelcollector/config/builder/trace/gateway/config.go
  internal/otelcollector/config/builder/trace/gateway/config_builder.go
  internal/otelcollector/config/builder/trace/gateway/config_builder_test.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

code review changes
  test/e2e/metrics_kubeletstats_test.go
  test/e2e/testkit/k8s/verifiers/deamonset.go
  test/e2e/testkit/matchers/metric_matchers.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

pipeline creation extended
  test/e2e/metrics_kubeletstats_test.go
  test/e2e/testkit/kyma/telemetry/metric/pipeline.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

lint rules updated
  .golangci.yaml
  test/e2e/testkit/k8s/verifiers/daemonset.go
  test/e2e/testkit/kyma/telemetry/metric/pipeline.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

verifiers updated
  .golangci.yaml
  test/e2e/testkit/k8s/verifiers/daemonset.go
  test/e2e/testkit/k8s/verifiers/deployment.go
  test/e2e/testkit/k8s/verifiers/pod.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Add e2e test for metric agent kubelet metric and attributes (#276)
  .golangci.yaml
  test/e2e/metrics_kubeletstats_test.go
  test/e2e/testkit/k8s/verifiers/daemonset.go
  test/e2e/testkit/k8s/verifiers/pod.go
  test/e2e/testkit/kyma/telemetry/metric/pipeline.go
  test/e2e/testkit/matchers/metric_matchers.go
  test/e2e/testkit/matchers/metric_matchers_test.go
  test/e2e/testkit/matchers/testdata/kubelet_metrics/kubelet_metrics.jsonl
  test/e2e/testkit/otlp/metrics/metrics.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Simplify the otelcollector config pkg structure
  internal/otelcollector/config/config_base.go
  internal/otelcollector/config/config_base_exporters.go
  internal/otelcollector/config/config_base_processors.go
  internal/otelcollector/config/config_base_receivers.go
  internal/otelcollector/config/env.go
  internal/otelcollector/config/metric/agent/config.go
  internal/otelcollector/config/metric/agent/config_builder.go
  internal/otelcollector/config/metric/agent/config_builder_test.go
  internal/otelcollector/config/metric/agent/processors.go
  internal/otelcollector/config/metric/agent/processors_test.go
  internal/otelcollector/config/metric/agent/receivers.go
  internal/otelcollector/config/metric/agent/receivers_test.go
  internal/otelcollector/config/metric/gateway/config.go
  internal/otelcollector/config/metric/gateway/config_builder.go
  internal/otelcollector/config/metric/gateway/config_builder_test.go
  internal/otelcollector/config/metric/gateway/processors.go
  internal/otelcollector/config/metric/gateway/processors_test.go
  internal/otelcollector/config/metric/shared_attributes.go
  internal/otelcollector/config/otlpexporter/config_builder.go
  internal/otelcollector/config/otlpexporter/config_builder_test.go
  internal/otelcollector/config/otlpexporter/env_vars.go
  internal/otelcollector/config/trace/gateway/config.go
  internal/otelcollector/config/trace/gateway/config_builder.go
  internal/otelcollector/config/trace/gateway/config_builder_test.go
  internal/otelcollector/config/trace/gateway/processors.go
  internal/otelcollector/config/trace/gateway/processors_test.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Update linter rules
  .golangci.yaml
Due: none

Drop Config from type names
  internal/otelcollector/config/config_base.go
  internal/otelcollector/config/config_base_exporters.go
  internal/otelcollector/config/config_base_processors.go
  internal/otelcollector/config/config_base_receivers.go
  internal/otelcollector/config/metric/agent/config.go
  internal/otelcollector/config/metric/agent/config_builder.go
  internal/otelcollector/config/metric/agent/processors.go
  internal/otelcollector/config/metric/agent/receivers.go
  internal/otelcollector/config/metric/gateway/config.go
  internal/otelcollector/config/metric/gateway/config_builder.go
  internal/otelcollector/config/metric/gateway/processors.go
  internal/otelcollector/config/otlpexporter/config_builder.go
  internal/otelcollector/config/trace/gateway/config.go
  internal/otelcollector/config/trace/gateway/config_builder.go
  internal/otelcollector/config/trace/gateway/processors.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Update Fluent Bit to 2.1.7
  Dockerfile
  config/samples/http-mockserver.yaml
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Update Golang to 1.20.6
  Dockerfile
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

Simplify file names
  internal/otelcollector/config/config.go
  internal/otelcollector/config/exporters.go
  internal/otelcollector/config/processors.go
  internal/otelcollector/config/receivers.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Do not add pipleine to fluent bit configmap if secret ref is missing
  controllers/telemetry/logpipeline_controller_test.go
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/logpipeline/sync.go
  internal/reconciler/metricpipeline/reconciler.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Update Fluent Bit to 2.1.7 & golang to 1.20.6 (#269)
  Dockerfile
  config/samples/http-mockserver.yaml
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Simplify otelcollector config pkg structure (#282)
  .golangci.yaml
  internal/otelcollector/config/builder/common/config_base.go
  internal/otelcollector/config/builder/common/config_base_exporters.go
  internal/otelcollector/config/builder/common/config_base_processors.go
  internal/otelcollector/config/builder/common/config_otlp_receiver.go
  internal/otelcollector/config/builder/metric/agent/config.go
  internal/otelcollector/config/builder/metric/agent/processors.go
  internal/otelcollector/config/builder/metric/gateway/config.go
  internal/otelcollector/config/builder/metric/gateway/processors.go
  internal/otelcollector/config/builder/trace/gateway/config.go
  internal/otelcollector/config/builder/trace/gateway/config_builder.go
  internal/otelcollector/config/config.go
  internal/otelcollector/config/env.go
  internal/otelcollector/config/exporters.go
  internal/otelcollector/config/metric/agent/config.go
  internal/otelcollector/config/metric/agent/config_builder.go
  internal/otelcollector/config/metric/agent/config_builder_test.go
  internal/otelcollector/config/metric/agent/processors.go
  internal/otelcollector/config/metric/agent/processors_test.go
  internal/otelcollector/config/metric/agent/receivers.go
  internal/otelcollector/config/metric/agent/receivers_test.go
  internal/otelcollector/config/metric/gateway/config.go
  internal/otelcollector/config/metric/gateway/config_builder.go
  internal/otelcollector/config/metric/gateway/config_builder_test.go
  internal/otelcollector/config/metric/gateway/processors.go
  internal/otelcollector/config/metric/gateway/processors_test.go
  internal/otelcollector/config/metric/shared_attributes.go
  internal/otelcollector/config/otlpexporter/config_builder.go
  internal/otelcollector/config/otlpexporter/config_builder_test.go
  internal/otelcollector/config/otlpexporter/env_vars.go
  internal/otelcollector/config/processors.go
  internal/otelcollector/config/receivers.go
  internal/otelcollector/config/trace/gateway/config.go
  internal/otelcollector/config/trace/gateway/config_builder.go
  internal/otelcollector/config/trace/gateway/config_builder_test.go
  internal/otelcollector/config/trace/gateway/processors.go
  internal/otelcollector/config/trace/gateway/processors_test.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix
  controllers/telemetry/logpipeline_controller_test.go
  internal/reconciler/logpipeline/sync.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/logpipeline/sync.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix rendering issues
  docs/user/03-traces.md
Due: pre-main-telemetry-manager-governance

fix rendering issues (#284)
  docs/user/03-traces.md
Due: pre-main-telemetry-manager-governance

fix
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/logpipeline_controller_test.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/tracepipeline_controller.go
  internal/setup/predicates.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Fixed unit tests
  internal/otelcollector/config/metric/gateway/config_builder_test.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Adds a link to the code style guideline.
  .github/pull-request-template.md
Due: pre-main-telemetry-manager-governance

Fixed e2e test
  test/e2e/metrics_test.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Disables the dupl linter verifications for the "_test.go" files.
  .golangci.yaml
Due: none

adjust deploy and undeploy targets
  Makefile
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

new logging e2e tests
  test/e2e/logging_exclude_container_test.go
  test/e2e/logging_label_annotation_test.go
  test/e2e/logging_parser_test.go
  test/e2e/testkit/kyma/telemetry/log/parser.go
  test/e2e/testkit/kyma/telemetry/log/pipeline.go
  test/e2e/testkit/matchers/log_matchers.go
  test/e2e/testkit/matchers/log_matchers_test.go
  test/e2e/testkit/matchers/testdata/have_logs/logs.jsonl
  test/e2e/testkit/mocks/log_spammer.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

test names updated
  test/e2e/logging_label_annotation_test.go
Due: pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module
