Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-test-infra-governance, prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-probot-stale, pre-test-infra-prow-tools, pre-test-infra-github-connector-webhook-gateway, pre-test-infra-pubsub-connector-gateway, pre-test-infra-ci-force-bot, pre-test-infra-golangci-lint, post-test-infra-bootstrap, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-probot-stale, post-test-infra-prow-tools, post-test-infra-github-connector-webhook-gateway, post-test-infra-pubsub-connector-gateway, post-test-infra-ci-force-bot, post-test-infra-golangci-lint, prow/test-infra/check_config, pre-test-infra-validate-inrepo-prow-configs, test-infra-development-tools, pre-main-test-infra-lint, pre-test-infra-build-testimages, pre-main-test-infra-image-syncer-validate, pre-main-test-infra-image-syncer-dry-run, post-main-test-infra-image-syncer-run, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-main-test-infra-pjtester, pre-main-test-infra-pjtester-v2, pre-main-test-infra-vpathguard, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-test-infra-build-vm-image, post-test-infra-deploy-prow, post-test-infra-build-vm-image, pre-main-stability-checker, post-main-stability-checker, pre-master-test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, pre-master-test-log-collector, post-master-test-log-collector, pull-gcbuild-validate, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-tools, pre-main-test-infra-validate-image-url-helper, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files, pre-main-test-infra-validate-prow-installer-files, pre-test-infra-validate-dockerfiles, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods, pre-main-test-infra-watch-pods, post-main-test-infra-watch-pods

Path conditions:
  pre-main-test-infra-governance: any of: milv.config.yaml|.md$
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  pre-test-infra-prow-tools: any of: ^(go\.mod|go\.sum)$|^development/(tools|jobguard|image-url-helper)/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  pre-test-infra-github-connector-webhook-gateway: any of: ^development/kyma-github-connector/githubWebhookGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-pubsub-connector-gateway: any of: ^development/kyma-pubsub-connector/pubSubGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-ci-force-bot: any of: ^development/kyma-ci-force-bot/ciforcebot/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-golangci-lint: any of: ^prow/images/golangci-lint/
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  post-test-infra-prow-tools: any of: ^(go\.mod|go\.sum)$|^development/(tools|jobguard|image-url-helper)/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  post-test-infra-github-connector-webhook-gateway: any of: ^development/kyma-github-connector/githubWebhookGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-pubsub-connector-gateway: any of: ^development/kyma-pubsub-connector/pubSubGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-ci-force-bot: any of: ^development/kyma-ci-force-bot/ciforcebot/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-golangci-lint: any of: ^prow/images/golangci-lint/
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  pre-test-infra-validate-inrepo-prow-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  test-infra-development-tools: any of: ^development/tools
  pre-main-test-infra-lint: any of: .*\.go$
  pre-test-infra-build-testimages: any of: ^prow/images/
  pre-main-test-infra-image-syncer-validate: any of: ^(development/image-syncer)
  pre-main-test-infra-image-syncer-dry-run: any of: ^(development/image-syncer/external-images.yaml)
  post-main-test-infra-image-syncer-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-main-test-infra-pjtester: any of: ^(vpath/pjtester.yaml)
  pre-main-test-infra-pjtester-v2: any of: ^(vpath/pjtesterv2.yaml)
  pre-main-test-infra-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-test-infra-build-vm-image: any of: development/custom-image/
  post-test-infra-deploy-prow: any of: prow/cluster/components/
  post-test-infra-build-vm-image: any of: development/custom-image/
  pre-main-stability-checker: any of: ^stability-checker/
  post-main-stability-checker: any of: ^stability-checker/
  pre-master-test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  pre-master-test-log-collector: any of: ^development/test-log-collector/
  post-master-test-log-collector: any of: ^development/test-log-collector/
  pull-gcbuild-validate: any of: .*/cloudbuild.yaml$
  pre-test-infra-validate-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  post-test-infra-upload-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-main-test-infra-validate-prow-tools: any of: ^development/tools/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-main-test-infra-validate-image-url-helper: any of: ^development/image-url-helper/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-main-test-infra-validate-prow-jobs: any of: ^(development/tools/jobs|prow)
  pre-main-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|pkg/rendertemplates/|jobs/releases/releases.go)|^prow/branchprotector-config.yaml
  pre-main-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-test-infra-validate-dockerfiles: any of: .*Dockerfile$
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/
  pre-main-test-infra-watch-pods: any of: ^watch-pods/
  post-main-test-infra-watch-pods: any of: ^watch-pods/

overwiev
  development/gcp/cloud-functions/rotateserviceaccount/README.md
Due: pre-main-test-infra-governance, pre-master-test-infra-governance

numration, small fixes
  development/gcp/cloud-functions/rotateserviceaccount/README.md
Due: pre-main-test-infra-governance, pre-master-test-infra-governance

change golang runtime version
  development/gcp/cloud-functions/rotateserviceaccount/README.md
Due: pre-main-test-infra-governance, pre-master-test-infra-governance

Update SA rotation cloudfunc go.mod (#5876)
  development/gcp/cloud-functions/rotateserviceaccount/go.mod
  development/gcp/cloud-functions/rotateserviceaccount/go.sum
Due: none

update tests
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

typos
  development/gcp/cloud-functions/rotateserviceaccount/README.md
Due: pre-main-test-infra-governance, pre-master-test-infra-governance

formstting
  development/gcp/cloud-functions/rotateserviceaccount/README.md
Due: pre-main-test-infra-governance, pre-master-test-infra-governance

Kyma watcher IMG build (#5872)
  prow/jobs/kyma-watcher/kyma-watcher.yaml
  templates/data/kyma-watcher-data.yaml
Due: pre-test-infra-validate-inrepo-prow-configs, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Update pjtester.yaml
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

Removed vpath
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

Update SA rotation cloudfunc go.mod
  development/gcp/cloud-functions/rotateserviceaccount/go.mod
  development/gcp/cloud-functions/rotateserviceaccount/go.sum
Due: none

Update SA rotation cloudfunc go.mod (#5879)
  development/gcp/cloud-functions/rotateserviceaccount/go.mod
  development/gcp/cloud-functions/rotateserviceaccount/go.sum
Due: none

Update SA rotation cloudfunc go.mod (#5880)
  development/gcp/cloud-functions/rotateserviceaccount/go.mod
  development/gcp/cloud-functions/rotateserviceaccount/go.sum
Due: none

Removed release 25
  prow/jobs/kyma/components/directory-size-exporter/directory-size-exporter-generic.yaml
Due: pre-test-infra-validate-inrepo-prow-configs, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Changed release version
  prow/jobs/kyma/components/directory-size-exporter/directory-size-exporter-generic.yaml
  templates/data/generic_component_data.yaml
Due: pre-test-infra-validate-inrepo-prow-configs, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Added vpath to test test-infra
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

Removed vpath to merge
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

New prow job for directory-size-exporter component (#5865)
  CODEOWNERS
  development/tools/jobs/kyma/components_test.go
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/components/directory-size-exporter/directory-size-exporter-generic.yaml
  templates/data/generic_component_data.yaml
Due: pre-test-infra-validate-inrepo-prow-configs, test-infra-development-tools, pre-main-test-infra-lint, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

add config variables
  prow/scripts/cluster-integration/compass-gke-benchmark.sh
  prow/scripts/resources/compass-gke-kyma-overrides.tpl.yaml
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Make pre-main-kyma-integration-k3d-central-app-connectivity-compass job optional
  prow/jobs/kyma/kyma-integration.yaml
  templates/data/kyma-integration-data.yaml
Due: pre-test-infra-validate-inrepo-prow-configs, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

make jwks_urls array
  prow/scripts/resources/compass-gke-kyma-overrides.tpl.yaml
Due: pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

disabling set-e option
  prow/scripts/cluster-integration/reconciler-e2e-gardener.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Make pre-main-kyma-integration-k3d-central-app-connectivity-compass job optional (#5881)
  prow/jobs/kyma/kyma-integration.yaml
  templates/data/kyma-integration-data.yaml
Due: pre-test-infra-validate-inrepo-prow-configs, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

disabling set-e option (#5882)
  prow/scripts/cluster-integration/reconciler-e2e-gardener.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Add Timeout to Compass component jobs
  templates/data/generic_component_compass_data.yaml
Due: pre-main-test-infra-validate-generated-files

Regenerate jobs
  prow/jobs/incubator/compass-console/compass/compass-ui.yaml
  prow/jobs/incubator/compass/components/connectivity-adapter/connectivity-adapter-generic.yaml
  prow/jobs/incubator/compass/components/connector/connector-generic.yaml
  prow/jobs/incubator/compass/components/director/director-generic.yaml
  prow/jobs/incubator/compass/components/external-services-mock/external-services-mock-generic.yaml
  prow/jobs/incubator/compass/components/gateway/gateway-generic.yaml
  prow/jobs/incubator/compass/components/hydrator/hydrator-generic.yaml
  prow/jobs/incubator/compass/components/operations-controller/operations-controller-generic.yaml
  prow/jobs/incubator/compass/components/pairing-adapter/pairing-adapter-generic.yaml
  prow/jobs/incubator/compass/components/schema-migrator/schema-migrator-generic.yaml
  prow/jobs/incubator/compass/components/system-broker/system-broker-generic.yaml
  prow/jobs/incubator/compass/tests/compass-e2e-tests/compass-e2e-tests.yaml
  prow/jobs/incubator/ord-service/components/ord-service/ord-service-generic.yaml
Due: pre-test-infra-validate-inrepo-prow-configs, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Apply suggestions from code review
  development/gcp/cloud-functions/rotateserviceaccount/README.md
Due: pre-main-test-infra-governance, pre-master-test-infra-governance

Add Timeout to Compass component jobs (#5885)
  prow/jobs/incubator/compass-console/compass/compass-ui.yaml
  prow/jobs/incubator/compass/components/connectivity-adapter/connectivity-adapter-generic.yaml
  prow/jobs/incubator/compass/components/connector/connector-generic.yaml
  prow/jobs/incubator/compass/components/director/director-generic.yaml
  prow/jobs/incubator/compass/components/external-services-mock/external-services-mock-generic.yaml
  prow/jobs/incubator/compass/components/gateway/gateway-generic.yaml
  prow/jobs/incubator/compass/components/hydrator/hydrator-generic.yaml
  prow/jobs/incubator/compass/components/operations-controller/operations-controller-generic.yaml
  prow/jobs/incubator/compass/components/pairing-adapter/pairing-adapter-generic.yaml
  prow/jobs/incubator/compass/components/schema-migrator/schema-migrator-generic.yaml
  prow/jobs/incubator/compass/components/system-broker/system-broker-generic.yaml
  prow/jobs/incubator/compass/tests/compass-e2e-tests/compass-e2e-tests.yaml
  prow/jobs/incubator/ord-service/components/ord-service/ord-service-generic.yaml
  templates/data/generic_component_compass_data.yaml
Due: pre-test-infra-validate-inrepo-prow-configs, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Increase Compass component job timeout
  prow/jobs/incubator/compass-console/compass/compass-ui.yaml
  prow/jobs/incubator/compass/components/connectivity-adapter/connectivity-adapter-generic.yaml
  prow/jobs/incubator/compass/components/connector/connector-generic.yaml
  prow/jobs/incubator/compass/components/director/director-generic.yaml
  prow/jobs/incubator/compass/components/external-services-mock/external-services-mock-generic.yaml
  prow/jobs/incubator/compass/components/gateway/gateway-generic.yaml
  prow/jobs/incubator/compass/components/hydrator/hydrator-generic.yaml
  prow/jobs/incubator/compass/components/operations-controller/operations-controller-generic.yaml
  prow/jobs/incubator/compass/components/pairing-adapter/pairing-adapter-generic.yaml
  prow/jobs/incubator/compass/components/schema-migrator/schema-migrator-generic.yaml
  prow/jobs/incubator/compass/components/system-broker/system-broker-generic.yaml
  prow/jobs/incubator/compass/tests/compass-e2e-tests/compass-e2e-tests.yaml
  prow/jobs/incubator/ord-service/components/ord-service/ord-service-generic.yaml
  templates/data/generic_component_compass_data.yaml
Due: pre-test-infra-validate-inrepo-prow-configs, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

apply suggestions
  development/gardener-rotate/README.md
Due: pre-main-test-infra-governance, pre-master-test-infra-governance

Update development/gcp/cloud-functions/rotateserviceaccount/README.md
  development/gcp/cloud-functions/rotateserviceaccount/README.md
Due: pre-main-test-infra-governance, pre-master-test-infra-governance

Add service account rotation function documentation (#5875)
  development/gcp/cloud-functions/rotateserviceaccount/README.md
Due: pre-main-test-infra-governance, pre-master-test-infra-governance

Increase Compass component job timeout (#5886)
  prow/jobs/incubator/compass-console/compass/compass-ui.yaml
  prow/jobs/incubator/compass/components/connectivity-adapter/connectivity-adapter-generic.yaml
  prow/jobs/incubator/compass/components/connector/connector-generic.yaml
  prow/jobs/incubator/compass/components/director/director-generic.yaml
  prow/jobs/incubator/compass/components/external-services-mock/external-services-mock-generic.yaml
  prow/jobs/incubator/compass/components/gateway/gateway-generic.yaml
  prow/jobs/incubator/compass/components/hydrator/hydrator-generic.yaml
  prow/jobs/incubator/compass/components/operations-controller/operations-controller-generic.yaml
  prow/jobs/incubator/compass/components/pairing-adapter/pairing-adapter-generic.yaml
  prow/jobs/incubator/compass/components/schema-migrator/schema-migrator-generic.yaml
  prow/jobs/incubator/compass/components/system-broker/system-broker-generic.yaml
  prow/jobs/incubator/compass/tests/compass-e2e-tests/compass-e2e-tests.yaml
  prow/jobs/incubator/ord-service/components/ord-service/ord-service-generic.yaml
  templates/data/generic_component_compass_data.yaml
Due: pre-test-infra-validate-inrepo-prow-configs, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Add Gardener token rotation tool (#5725)
  development/gardener-rotate/README.md
  development/gardener-rotate/gardener-neighbors-config.yaml
  development/gardener-rotate/main.go
  prow/images/gardener-rotate/Dockerfile
  prow/images/gardener-rotate/Makefile
  prow/images/gardener-rotate/README.md
  prow/jobs/test-infra/buildpack.yaml
  templates/data/buildpack-data.yaml
Due: pre-main-test-infra-governance, pre-test-infra-validate-inrepo-prow-configs, pre-main-test-infra-lint, pre-test-infra-build-testimages, pre-master-test-infra-governance, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files, pre-test-infra-validate-dockerfiles

Synchronize production kyma secrets with GCP secrets manager
  prow/cluster/resources/external-secrets/SecretStores_tooling_kyma_prod.yaml
  prow/cluster/resources/external-secrets/external_secrets_tooling_kyma_prod.yaml
Due: pre-main-test-infra-validate-prow-jobs

Add [ERROR] to log highlights list
  prow/config.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, pre-test-infra-validate-inrepo-prow-configs, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

patch cronjob
  prow/scripts/cluster-integration/compass-gke-benchmark.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

escape
  prow/config.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, pre-test-infra-validate-inrepo-prow-configs, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files
