Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

fix action version
  .github/workflows/build-manager-image.yml
  .github/workflows/build-sample-app-image.yml
  .github/workflows/build-self-monitor-image.yml
  .github/workflows/build-stdout-log-generator-image.yaml
Due: none

fix action version
  .github/workflows/build-self-monitor-image.yml
Due: none

fix: add log OTLP push endpoint to telemetry status (#2372)
  apis/operator/v1alpha1/telemetry_types.go
  apis/operator/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_telemetries.yaml
  config/development/crd/bases/operator.kyma-project.io_telemetries.yaml
  docs/user/gateways.md
  docs/user/resources/01-telemetry.md
  internal/reconciler/telemetry/reconciler.go
  internal/reconciler/telemetry/status.go
  internal/reconciler/telemetry/status_test.go
  internal/utils/test/service_builder.go
  main.go
  test/e2e/misc/telemetry_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

test message
  .github/workflows/build-stdout-log-generator-image.yaml
Due: none

improved API
  apis/operator/v1alpha1/telemetry_types.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

improved API
  apis/operator/v1alpha1/telemetry_types.go
  apis/operator/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_telemetries.yaml
  config/development/crd/bases/operator.kyma-project.io_telemetries.yaml
  docs/user/resources/01-telemetry.md
  internal/reconciler/telemetry/status.go
  test/e2e/misc/telemetry_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

improved API
  apis/telemetry/v1alpha1/logpipeline_types.go
  apis/telemetry/v1alpha1/shared_types.go
  apis/telemetry/v1beta1/logpipeline_types.go
  apis/telemetry/v1beta1/shared_types.go
  config/crd/bases/telemetry.kyma-project.io_logpipelines.yaml
  config/crd/bases/telemetry.kyma-project.io_metricpipelines.yaml
  config/crd/bases/telemetry.kyma-project.io_tracepipelines.yaml
  config/development/crd/bases/telemetry.kyma-project.io_logpipelines.yaml
  config/development/crd/bases/telemetry.kyma-project.io_metricpipelines.yaml
  config/development/crd/bases/telemetry.kyma-project.io_tracepipelines.yaml
  docs/user/resources/02-logpipeline.md
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

switch to PR mode to see changes directly
  .github/workflows/build-stdout-log-generator-image.yaml
Due: none

create subdirectory in "/tmp" for storage of the log agent
  internal/otelcollector/config/log/agent/extension.go
  internal/otelcollector/config/log/agent/extension_test.go
  internal/otelcollector/config/log/agent/testdata/config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adjust the link in the ADR 21
  docs/contributor/arch/021-refactor-performance-tests.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: adjust the link in the ADR 21 (#2386)
  docs/contributor/arch/021-refactor-performance-tests.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix linting
  apis/telemetry/v1alpha1/logpipeline_types.go
  apis/telemetry/v1beta1/logpipeline_types.go
  internal/reconciler/telemetry/status_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adjust log agent golden test file (two-pipelines-with-transform.yaml)
  internal/otelcollector/config/log/agent/testdata/two-pipelines-with-transforms.yaml
Due: none

Fix slack message
  .github/workflows/build-stdout-log-generator-image.yaml
Due: none

try and error
  .github/workflows/build-stdout-log-generator-image.yaml
Due: none

test
  .github/workflows/build-stdout-log-generator-image.yaml
Due: none

try
  .github/workflows/build-stdout-log-generator-image.yaml
Due: none

final version
  .github/workflows/build-manager-image.yml
  .github/workflows/build-sample-app-image.yml
  .github/workflows/build-self-monitor-image.yml
  .github/workflows/build-stdout-log-generator-image.yaml
Due: none

fix: harden OTel log agent securityContext (#2384)
  internal/otelcollector/config/log/agent/config.go
  internal/otelcollector/config/log/agent/extension.go
  internal/otelcollector/config/log/agent/extension_test.go
  internal/otelcollector/config/log/agent/testdata/single-pipeline.yaml
  internal/otelcollector/config/log/agent/testdata/two-pipelines-with-transforms.yaml
  internal/resources/common/pod_spec.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/core_pod_spec.go
  internal/resources/otelcollector/testdata/log-agent.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Start consolidating common files
  internal/otelcollector/config/common/config.go
  internal/otelcollector/config/common/config_builders.go
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/common/env.go
  internal/otelcollector/config/common/exporters.go
  internal/otelcollector/config/common/k8s_attribute_proc.go
  internal/otelcollector/config/common/otlpexporter_config_builders.go
  internal/otelcollector/config/common/processor_builders.go
  internal/otelcollector/config/common/processors.go
  internal/otelcollector/config/common/receivers.go
  internal/otelcollector/config/common/resource_procs.go
  internal/otelcollector/config/common/set_instrumention_scope.go
  internal/otelcollector/config/common/types.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Merge smaller files
  internal/otelcollector/config/common/config_builders.go
  internal/otelcollector/config/common/config_types.go
  internal/otelcollector/config/common/k8s_attribute_proc_test.go
  internal/otelcollector/config/common/otlpexporter_config_builder_test.go
  internal/otelcollector/config/common/otlpexporter_config_builders.go
  internal/otelcollector/config/common/processor_builders.go
  internal/otelcollector/config/common/processor_builders_test.go
  internal/otelcollector/config/common/resource_procs_test.go
  internal/otelcollector/config/common/set_instrumentation_scope_test.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/logagent/extension.go
  internal/otelcollector/config/logagent/processors.go
  internal/otelcollector/config/loggateway/config_builder.go
  internal/otelcollector/config/loggateway/processors.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricagent/processors.go
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/tracegateway/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix lint
  internal/otelcollector/config/common/processor_builders_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

run fluentbit as user 1001 in root group
  internal/resources/common/pod_spec.go
  internal/resources/fluentbit/resources.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/core_pod_spec.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use "/tmp" for volume source instead of "var/telemetry-fluent-bit"
  internal/resources/fluentbit/resources.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adjust unit tests
  internal/resources/fluentbit/testdata/fluentbit.yaml
Due: none

initial commit
  docs/contributor/arch/024-dynatrace-cummulative-to-delta-support.md
  docs/contributor/arch/025-istio-outgoing-communication.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

rename ADR file name
  docs/contributor/arch/025-istio-outgoing-communication.md
  docs/contributor/arch/026-istio-outgoing-communication.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: improved slack notification on image builds (#2385)
  .github/workflows/build-manager-image.yml
  .github/workflows/build-sample-app-image.yml
  .github/workflows/build-self-monitor-image.yml
  .github/workflows/build-stdout-log-generator-image.yaml
Due: none

update
  docs/contributor/arch/026-istio-outgoing-communication.md
  docs/contributor/pocs/metric-agent-istio-outbound-support/cluster_service_discovery.go
  docs/contributor/pocs/metric-agent-istio-outbound-support/metric-agent-istio-outbound-support.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: improve testing
  .github/workflows/gardener-integration.yml
  docs/user/integration/opentelemetry-demo/values.yaml
  hack/deploy-istio.sh
Due: none

Use Eventually instead of Consistently
  test/e2e/logs/shared/keep_original_body_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: improve several aspects in integration tests (#2391)
  .github/workflows/gardener-integration.yml
  docs/user/integration/opentelemetry-demo/values.yaml
  hack/deploy-istio.sh
Due: none

updated
  docs/contributor/arch/026-istio-outgoing-communication.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint
