Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-test-infra-governance, prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-node, pre-test-infra-buildpack-node-chromium, pre-test-infra-buildpack-java, pre-test-infra-buildpack-java-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-probot-stale, pre-test-infra-prow-tools, pre-test-infra-prow-clonerefs, pre-test-infra-image-guard, pre-test-infra-github-connector-webhook-gateway, pre-test-infra-pubsub-connector-gateway, pre-test-infra-ci-force-bot, post-test-infra-bootstrap, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-node, post-test-infra-buildpack-node-chromium, post-test-infra-buildpack-java, post-test-infra-buildpack-java-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-probot-stale, post-test-infra-prow-tools, post-test-infra-prow-clonerefs, post-test-infra-image-guard, post-test-infra-github-connector-webhook-gateway, post-test-infra-pubsub-connector-gateway, post-test-infra-ci-force-bot, prow/test-infra/check_config, test-infra-development-tools, pre-test-infra-build-testimages, pre-main-test-infra-image-syncer-validate, pre-main-test-infra-image-syncer-dry-run, post-main-test-infra-image-syncer-run, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-main-stability-checker, post-main-stability-checker, pre-master-test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, pre-master-test-log-collector, post-master-test-log-collector, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-tools, pre-main-test-infra-validate-image-url-helper, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files, pre-main-test-infra-validate-prow-installer-files, pre-test-infra-validate-dockerfiles, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods, pre-main-test-infra-watch-pods, post-main-test-infra-watch-pods

Path conditions:
  pre-main-test-infra-governance: any of: milv.config.yaml|.md$
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  pre-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  pre-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  pre-test-infra-prow-tools: any of: ^development/(tools|jobguard)/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  pre-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  pre-test-infra-image-guard: any of: ^development/image-guard/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-github-connector-webhook-gateway: any of: ^development/kyma-github-connector/githubWebhookGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-pubsub-connector-gateway: any of: ^development/kyma-pubsub-connector/pubSubGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-ci-force-bot: any of: ^development/kyma-ci-force-bot/ciforcebot/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  post-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  post-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  post-test-infra-prow-tools: any of: ^development/(tools|jobguard)/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  post-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  post-test-infra-image-guard: any of: ^development/image-guard/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-github-connector-webhook-gateway: any of: ^development/kyma-github-connector/githubWebhookGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-pubsub-connector-gateway: any of: ^development/kyma-pubsub-connector/pubSubGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-ci-force-bot: any of: ^development/kyma-ci-force-bot/ciforcebot/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-test-infra-build-testimages: any of: ^prow/images/
  pre-main-test-infra-image-syncer-validate: any of: ^(development/image-syncer)
  pre-main-test-infra-image-syncer-dry-run: any of: ^(development/image-syncer/external-images.yaml)
  post-main-test-infra-image-syncer-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-main-test-infra-pjtester: any of: ^(vpath/pjtester.yaml)
  pre-main-test-infra-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-main-stability-checker: any of: ^stability-checker/
  post-main-stability-checker: any of: ^stability-checker/
  pre-master-test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  pre-master-test-log-collector: any of: ^development/test-log-collector/
  post-master-test-log-collector: any of: ^development/test-log-collector/
  pre-test-infra-validate-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  post-test-infra-upload-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-main-test-infra-validate-prow-tools: any of: ^development/tools/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-main-test-infra-validate-image-url-helper: any of: ^development/image-url-helper/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-main-test-infra-validate-prow-jobs: any of: ^(development/tools/jobs|prow)
  pre-main-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|pkg/rendertemplates/|jobs/releases/releases.go)|^prow/branchprotector-config.yaml
  pre-main-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-test-infra-validate-dockerfiles: any of: .*Dockerfile$
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/
  pre-main-test-infra-watch-pods: any of: ^watch-pods/
  post-main-test-infra-watch-pods: any of: ^watch-pods/

remove pjtester.yaml
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

Bumping Prow
  prow/cluster/components/crier_deployment.yaml
  prow/cluster/components/deck_deployment.yaml
  prow/cluster/components/ghproxy.yaml
  prow/cluster/components/halogen.yaml
  prow/cluster/components/hook_deployment.yaml
  prow/cluster/components/horologium_deployment.yaml
  prow/cluster/components/prow_controller_manager_deployment.yaml
  prow/cluster/components/sinker_deployment.yaml
  prow/cluster/components/statusreconciler_deployment.yaml
  prow/cluster/components/tide_deployment.yaml
  prow/config.yaml
  prow/jobs/test-infra/branchprotector.yaml
  prow/jobs/test-infra/checkconfig.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  prow/scripts/branchprotector-job.yaml
  prow/workload-cluster/ghproxy.yaml
  templates/data/checkconfig.yaml
  templates/data/prow-periodics-data.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Bumping Prow (#5662)
  prow/cluster/components/crier_deployment.yaml
  prow/cluster/components/deck_deployment.yaml
  prow/cluster/components/ghproxy.yaml
  prow/cluster/components/halogen.yaml
  prow/cluster/components/hook_deployment.yaml
  prow/cluster/components/horologium_deployment.yaml
  prow/cluster/components/prow_controller_manager_deployment.yaml
  prow/cluster/components/sinker_deployment.yaml
  prow/cluster/components/statusreconciler_deployment.yaml
  prow/cluster/components/tide_deployment.yaml
  prow/config.yaml
  prow/jobs/test-infra/branchprotector.yaml
  prow/jobs/test-infra/checkconfig.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  prow/scripts/branchprotector-job.yaml
  prow/workload-cluster/ghproxy.yaml
  templates/data/checkconfig.yaml
  templates/data/prow-periodics-data.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Increase golangci-lint timeout
  prow/images/golangci-lint/golangci-lint.sh
Due: pre-test-infra-build-testimages, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs

remove one job
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

add some params
  templates/data/kyma-operator-data.yaml
Due: pre-main-test-infra-validate-generated-files

Remove pjtester
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

Remove broken link
  development/kyma-slack-connector/issueLabeledFunction/README.md
Due: pre-main-test-infra-governance, pre-master-test-infra-governance

skip dir
  development/gcp/cloud-functions/getslackuserforgithubuser/.golangci.yaml
Due: none

skip linting
  development/gcp/pkg/logging/client.go
Due: none

deprecated functions
  development/gcp/cloud-functions/getslackuserforgithubuser/go.mod
  development/tools/cmd/clusterscollector/main.go
  development/tools/cmd/diskscollector/main.go
  development/tools/cmd/dnscleaner/main.go
  development/tools/cmd/dnscollector/main.go
  development/tools/cmd/firewallcleaner/main.go
  development/tools/cmd/ipcleaner/main.go
  development/tools/cmd/orphanremover/main.go
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-main-test-infra-validate-prow-tools

increase timeout
  .golangci.yaml
Due: none

use non-deprecated package
  development/test-log-collector/pkg/resources/clustertestsuite/types/register.go
Due: pre-master-test-log-collector, post-master-test-log-collector

Skip prow-instaler
  development/prow-installer/.golangci.yaml
Due: none

Don't leak the underlying timer
  development/jobguard/pkg/jobguard/waiter.go
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools

fix flags
  development/external-plugins/cla-assistant/main.go
  development/gcp/cloud-functions/getslackuserforgithubuser/.golangci.yaml
Due: none

revert go.sum
  development/gcp/cloud-functions/getslackuserforgithubuser/go.sum
Due: none

changes
  development/gcp/cloud-functions/getGithubIssue/getgithubissue.go
  development/kyma-ci-force-bot/ciforcebot/cmd/main.go
Due: pre-test-infra-ci-force-bot, post-test-infra-ci-force-bot

more fixes
  development/external-plugins/automerge-notification/main.go
  development/gcp/cloud-functions/getGithubIssue/getgithubissue.go
  development/jobguard/pkg/jobguard/v2/jobguard.go
  development/kyma-github-connector/githubWebhookGateway/pkg/httperrors/httperrors.go
  development/tools/cmd/gcscleaner/main.go
  development/tools/cmd/rendertemplates/main.go
  development/tools/jobs/testinfra/branchprotector_test.go
  prow/images/golangci-lint/golangci-lint.sh
Due: pre-test-infra-prow-tools, pre-test-infra-github-connector-webhook-gateway, post-test-infra-prow-tools, post-test-infra-github-connector-webhook-gateway, test-infra-development-tools, pre-test-infra-build-testimages, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-tools, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

deprecated function
  development/tools/cmd/vmscollector/main.go
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-main-test-infra-validate-prow-tools

channel
  development/prow/externalplugin/externalplugin.go
Due: none

change image in another PR
  prow/images/golangci-lint/golangci-lint.sh
Due: pre-test-infra-build-testimages, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs

try to skip file from linting
  development/gcp/cloud-functions/getslackuserforgithubuser/go.mod
Due: none

remove useless checks
  development/tools/pkg/pjtester/pjtester.go
  development/tools/pkg/pjtester/pjtester_test.go
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-main-test-infra-validate-prow-tools

try to lint clound functions
  development/gcp/cloud-functions/getslackuserforgithubuser/go.sum
Due: none

Make linter happy
  development/external-plugins/needs-tws/plugin.go
  development/gcp/cloud-functions/getGithubIssue/getgithubissue.go
  development/github/pkg/client/client.go
  development/github/pkg/git/client.go
  development/github/pkg/repoowners/owners.go
  development/image-url-helper/cmd/image_url_helper.go
  development/image-url-helper/cmd/missing.go
  development/jobguard/pkg/jobguard/status.go
  development/prowjobparser/main.go
  development/tools/cmd/externalsecretschecker/main.go
  development/tools/cmd/gcrcleaner/main.go
  development/tools/cmd/githubissues/main.go
  development/tools/cmd/oomfinder/README.md
  development/tools/cmd/prtagbuilder/main.go
  development/tools/jobs/busola/busola_test.go
  development/tools/jobs/console/console_test.go
  development/tools/jobs/tester/tester.go
  development/tools/pkg/diskscollector/wrappers.go
  development/tools/pkg/dnscleaner/remover_test.go
  development/tools/pkg/dnscollector/collector.go
  development/tools/pkg/dnscollector/wrappers.go
  development/tools/pkg/firewallcleaner/wrappers.go
  development/tools/pkg/metadata/jsonmetadatavalidator.go
  development/tools/pkg/orphanremover/remover.go
  development/tools/pkg/orphanremover/wrappers.go
  development/tools/pkg/release/version.go
  development/tools/pkg/vmscollector/wrappers.go
  development/tools/pkg/yamlmerge/merge_test.go
  development/types/types.go
Due: pre-main-test-infra-governance, pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-governance, test-infra-test-jobs-yaml-definitions, pre-main-test-infra-validate-prow-tools, pre-main-test-infra-validate-image-url-helper, pre-main-test-infra-validate-prow-jobs

channel
  development/gcp/pkg/logging/client.go
  development/tools/pkg/gcscleaner/cleaner.go
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-main-test-infra-validate-prow-tools

sort
  .golangci.yaml
Due: none

Remove broken link (#5664)
  development/kyma-slack-connector/issueLabeledFunction/README.md
Due: pre-main-test-infra-governance, pre-master-test-infra-governance

tests
  .golangci.yaml
Due: none

add env variables DOCKER_PUSH_REPOSITORY DOCKER_PUSH_DIRECTORY
  prow/scripts/provision-vm-and-start-kyma-k3d.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

remove DOCKER_PUSH_REPOSITORY from kyma integration jobs
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/provision-vm-and-start-kyma-k3d.sh
  templates/data/kyma-integration-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

testing two jobs at once
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

Fix eventing upgrade job (#5647)
  prow/scripts/cluster-integration/helpers/eventing.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Bumping Prow (#5667)
  prow/cluster/components/crier_deployment.yaml
  prow/cluster/components/deck_deployment.yaml
  prow/cluster/components/ghproxy.yaml
  prow/cluster/components/halogen.yaml
  prow/cluster/components/hook_deployment.yaml
  prow/cluster/components/horologium_deployment.yaml
  prow/cluster/components/prow_controller_manager_deployment.yaml
  prow/cluster/components/sinker_deployment.yaml
  prow/cluster/components/statusreconciler_deployment.yaml
  prow/cluster/components/tide_deployment.yaml
  prow/config.yaml
  prow/jobs/test-infra/branchprotector.yaml
  prow/jobs/test-infra/checkconfig.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  prow/scripts/branchprotector-job.yaml
  prow/workload-cluster/ghproxy.yaml
  templates/data/checkconfig.yaml
  templates/data/prow-periodics-data.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Using body template for Kyma2.4.x
  prow/scripts/cluster-integration/helpers/reconciler.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Using body template for Kyma2.4.x (#5669)
  prow/scripts/cluster-integration/helpers/reconciler.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Test HTML lenses
  prow/jobs/test-infra/validation.yaml
  prow/scripts/test-html-lens.sh
  templates/data/validation-data.yaml
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files
