Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

add sidebar entry for migration
  docs/user/_sidebar.ts
Due: none

move the tip section
  docs/user/migration-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add migration guide files
  docs/user/assets/migration-guide.svg
  docs/user/migration-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add more exampels
  docs/user/migration-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

unify the way to include namespaces
  docs/user/migration-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

complete migration guide and remove some outdated diagrams
  docs/user/assets/logpipeline-migration.png
  docs/user/assets/metricpipeline-migration.png
  docs/user/assets/migration-guide.svg
  docs/user/migration-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

adjust sidebar title
  docs/user/_sidebar.ts
Due: none

reword from resources to manifest
  docs/user/migration-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

remove system namespaces section
  docs/user/migration-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

remove duplicated content
  docs/user/migration-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Apply suggestions from code review
  docs/user/migration-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

adjust the migration to only emphasize affected users
  docs/user/_sidebar.ts
  docs/user/migration-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update deps
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix linting
  .golangci.yaml
  dependencies/sample-app/prometheus_metrics_test.go
  dependencies/sample-app/setup.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add daemonset gateway deployment target
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

docs: migration guide for v1beta1 (#2859)
  docs/user/_sidebar.ts
  docs/user/assets/logpipeline-migration.png
  docs/user/assets/metricpipeline-migration.png
  docs/user/migration-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add log gateway experimental e2e test
  .github/workflows/pr-integration.yml
  Makefile
  test/e2e/logs/gateway/enrichment_values_predefined_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Implement configurable enrichment strategy behavior trough custom annotation
  controllers/telemetry/tracepipeline_controller.go
  internal/otelcollector/config/common/component_builder.go
  internal/otelcollector/config/common/component_builder_test.go
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/common/processor_builders.go
  internal/otelcollector/config/common/processor_builders_test.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/loggateway/config_builder.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/tracegateway/config_builder.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/reconciler/tracepipeline/status.go
  internal/reconciler/tracepipeline/test_helpers_test.go
  internal/resources/common/annotations.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

generate manifests
  hack/make/e2e-convenience.mk
  internal/featureflags/featureflag_string.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

configure e2e tests
  .github/workflows/pr-integration.yml
Due: none

update deploy targets
  Makefile
  test/e2e/logs/gateway/enrichment_values_empty_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Implement golden file tests
  Makefile
  internal/otelcollector/config/logagent/config_builder_test.go
  internal/otelcollector/config/logagent/testdata/service-enrichment-otel.yaml
  internal/otelcollector/config/loggateway/config_builder_test.go
  internal/otelcollector/config/loggateway/testdata/service-enrichment-otel.yaml
  internal/otelcollector/config/metricagent/config_builder_test.go
  internal/otelcollector/config/metricagent/testdata/service-enrichment-otel.yaml
  internal/otelcollector/config/metricgateway/config_builder_test.go
  internal/otelcollector/config/metricgateway/testdata/service-enrichment-otel.yaml
  internal/otelcollector/config/tracegateway/config_builder_test.go
  internal/otelcollector/config/tracegateway/testdata/service-enrichment-otel.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add warning in user docs
  docs/user/filter-and-process/automatic-data-enrichment.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Small fix
  docs/user/filter-and-process/automatic-data-enrichment.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add e2e tests
  test/e2e/logs/gateway/enrichment_values_empty_test.go
  test/e2e/logs/gateway/enrichment_values_predefined_test.go
  test/e2e/logs/shared/service_name_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add missing features
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/gateway_test.go
  internal/resources/otelcollector/testdata/log-gateway-daemonset-istio.yaml
  internal/resources/otelcollector/testdata/log-gateway-daemonset.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: add more details to the OTel bump guide (#2875)
  docs/contributor/otel-bump-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add daemonset prober
  controllers/telemetry/logpipeline_controller.go
  test/e2e/logs/shared/service_name_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix linter
  controllers/telemetry/logpipeline_controller.go
  test/e2e/logs/shared/service_name_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

watch PeerAuthentication in pipelines controllers
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/tracepipeline_controller.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add e2e tests
  test/e2e/logs/shared/check_metrics_endpoint_test.go
  test/e2e/logs/shared/service_name_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Apply suggestions from code review
  dependencies/sample-app/prometheus_metrics_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove finalizer opt
  internal/utils/test/log_pipeline_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: remove http output from cloud logging integration guide (#2891)
  docs/user/integration/sap-cloud-logging/README.md
  docs/user/integration/sap-cloud-logging/alert-access-log-ingestion.json
  docs/user/integration/sap-cloud-logging/alert-app-log-ingestion.json
  docs/user/integration/sap-cloud-logging/kyma-dashboard-configmap-otlp.yaml
  docs/user/integration/sap-cloud-logging/kyma-dashboard-configmap.yaml
  docs/user/integration/sap-cloud-logging/secret-example-otlp.yaml
  docs/user/integration/sap-cloud-logging/secret-example.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

remove finalizers from tests
  internal/reconciler/logpipeline/fluentbit/reconciler_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove outdated comment
  internal/resources/fluentbit/resources.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

leave cleanup code
  internal/reconciler/logpipeline/fluentbit/finalizer.go
  internal/reconciler/logpipeline/fluentbit/finalizer_test.go
  internal/reconciler/logpipeline/fluentbit/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add e2e tests
  test/e2e/logs/shared/extract_labels_test.go
  test/e2e/logs/shared/filter_test.go
  test/e2e/logs/shared/mtls_about_to_expire_cert_test.go
  test/e2e/logs/shared/mtls_test.go
  test/e2e/logs/shared/multi_pipeline_broken_test.go
  test/e2e/logs/shared/multi_pipeline_fanout_test.go
  test/e2e/logs/shared/namespace_selector_test.go
  test/e2e/logs/shared/oauth2_test.go
  test/e2e/logs/shared/observed_time_test.go
  test/e2e/logs/shared/resources_test.go
  test/e2e/logs/shared/secret_missing_test.go
  test/e2e/logs/shared/secret_rotation_test.go
  test/e2e/logs/shared/single_pipeline_test.go
  test/e2e/logs/shared/single_pipeline_v1alpha1_test.go
  test/e2e/logs/shared/transform_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test
