Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-manager-upgrade-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-upgrade-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230221-85b2d35f
      command:
      - /bin/sh
      args:
  ...

pull-telemetry-manager-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:v20221215-c20ffd65
      command:
      - /bin/sh
  ...

pull-telemetry-manager-verify-module:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-verify-module
    prow.k8s.io/pubsub.topic: prowjobs
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  decorate: true
  spec:
  ...

unused code removed
  test/e2e/testkit/matchers/log_matchers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/logpipeline/sync.go
  internal/resources/fluentbit/resources.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Rename input.application.workloads to input.application.prometheus (#297)
  apis/telemetry/v1alpha1/metricpipeline_types.go
  apis/telemetry/v1alpha1/zz_generated.deepcopy.go
  config/development/telemetry.kyma-project.io_metricpipelines.yaml
  config/samples/telemetry_v1alpha1_metricpipeline.yaml
  docs/user/resources/05-metricpipeline.md
  internal/otelcollector/config/metric/agent/config.go
  internal/otelcollector/config/metric/agent/config_builder.go
  internal/otelcollector/config/metric/agent/config_builder_test.go
  internal/otelcollector/config/metric/agent/processors.go
  internal/otelcollector/config/metric/agent/processors_test.go
  internal/otelcollector/config/metric/agent/receivers.go
  internal/otelcollector/config/metric/agent/receivers_test.go
  internal/otelcollector/config/metric/gateway/config.go
  internal/otelcollector/config/metric/gateway/config_builder.go
  internal/otelcollector/config/metric/gateway/config_builder_test.go
  internal/otelcollector/config/metric/gateway/processors.go
  internal/otelcollector/config/metric/gateway/processors_test.go
  internal/otelcollector/config/metric/shared_attributes.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/testutils/metric_pipeline_builder.go
  test/e2e/metrics_prometheus_input_test.go
  test/e2e/testkit/kyma/telemetry/metric/pipeline.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/logpipeline/sync_test.go
  internal/resources/fluentbit/resources.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix lint
  internal/reconciler/logpipeline/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix
  internal/reconciler/logpipeline/sync.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix
  internal/reconciler/logpipeline/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Added diagram
  docs/user/assets/dynatrace-integration-diagram.svg
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance

Adapted unit test to the new changes
  internal/otelcollector/config/metric/gateway/config_builder_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Run e2e-tests for release (default) variant (#295)
  Makefile
  config/dashboards/kustomization.yaml
  config/development/configmap_opentelemetry_metric_gateway_dashboard.yaml
  config/development/kustomization.yaml
  config/development/manager_deployment_patch.yaml
  docs/contributor/development.md
  docs/contributor/installation.md
  hack/provision-test-env.sh
  hack/upgrade-test.sh
  test/e2e/manager_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Apply suggestions from code review
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance

CumulativeToDelta conversion support for metricpipelines (#224)
  apis/telemetry/v1alpha1/metricpipeline_types.go
  config/development/telemetry.kyma-project.io_metricpipelines.yaml
  docs/user/resources/05-metricpipeline.md
  internal/otelcollector/config/metric/gateway/config.go
  internal/otelcollector/config/metric/gateway/config_builder.go
  internal/otelcollector/config/metric/gateway/config_builder_test.go
  internal/otelcollector/config/metric/gateway/processors.go
  internal/testutils/metric_pipeline_builder.go
  test/e2e/metrics_test.go
  test/e2e/testkit/kyma/telemetry/metric/pipeline.go
  test/e2e/testkit/matchers/metric_matchers.go
  test/e2e/testkit/matchers/metric_matchers_test.go
  test/e2e/testkit/matchers/testdata/have_metrics_sum/full_match.jsonl
  test/e2e/testkit/matchers/testdata/have_metrics_sum/no_match.jsonl
  test/e2e/testkit/matchers/testdata/have_metrics_sum/partial_match.jsonl
  test/e2e/testkit/otlp/metrics/exporter.go
  test/e2e/testkit/otlp/metrics/metrics.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/logpipeline/sync.go
  internal/resources/fluentbit/resources.go
  internal/resources/fluentbit/resources_test.go
  webhook/dryrun/file_writer.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Fix webhook deletion
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Fix linting errors
  controllers/operator/telemetry_controller.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Fixed webhook deletion
  internal/reconciler/telemetry/reconciler.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Add test for webhook deletion
  test/e2e/telemetry_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Add test for CRD scope
  test/e2e/manager_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Fix webhook reconciliation
  controllers/operator/telemetry_controller.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Make Telemetry CRD namspace scoped
  apis/operator/v1alpha1/telemetry_types.go
  config/crd/bases/operator.kyma-project.io_telemetries.yaml
  config/rbac/role.yaml
  controllers/operator/telemetry_controller.go
  controllers/operator/telemetry_controller_test.go
  internal/reconciler/telemetry/reconciler.go
  main.go
  test/e2e/suite_test.go
  test/e2e/telemetry_test.go
  test/e2e/testkit/k8s/telemetry.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

code review changes
  controllers/telemetry/tracepipeline_controller.go
  test/e2e/logging_annotation_test.go
  test/e2e/logging_label_test.go
  test/e2e/logging_log_delivery_test.go
  test/e2e/logging_parser_test.go
  test/e2e/logging_test.go
  test/e2e/testkit/kyma/telemetry/log/pipeline.go
  test/e2e/testkit/matchers/log_matchers.go
  test/e2e/testkit/matchers/log_matchers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

linter fixes
  .golangci.yaml
  controllers/telemetry/tracepipeline_controller.go
  test/e2e/logging_exclude_container_test.go
  test/e2e/logging_label_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Adds a GitHub Action for the Markdown Link checker.
  .github/workflows/markdown-link-check.yml
  .mlc.config.json
Due: none

Fix CRD scope in Busola extension
  config/busola/telemetry_busola_extension_cm.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

Update telemetry namespace in docs
  docs/user/resources/01-telemetry.md
Due: pull-telemetry-manager-governance

Adds a GitHub Action for the Markdown Link checker.
  .mlc.config.json
Due: none

Add new image
  config/samples/telemetry_v1alpha1_metricpipeline.yaml
  test/e2e/testkit/mocks/custom_metric_provider.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix
  controllers/telemetry/logpipeline_controller_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Rename a matcher
  test/e2e/metrics_runtime_input_test.go
  test/e2e/testkit/matchers/metric_matchers.go
  test/e2e/testkit/matchers/metric_matchers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

istio proxy prometheus metric scrape support
  apis/telemetry/v1alpha1/metricpipeline_types.go
  apis/telemetry/v1alpha1/zz_generated.deepcopy.go
  config/development/telemetry.kyma-project.io_metricpipelines.yaml
  docs/user/resources/05-metricpipeline.md
  go.mod
  go.sum
  internal/otelcollector/config/metric/agent/config.go
  internal/otelcollector/config/metric/agent/config_builder.go
  internal/otelcollector/config/metric/agent/processors.go
  internal/otelcollector/config/metric/agent/receivers.go
  internal/otelcollector/config/metric/gateway/config.go
  internal/otelcollector/config/metric/gateway/config_builder.go
  internal/otelcollector/config/metric/gateway/processors.go
  internal/otelcollector/config/metric/shared_attributes.go
  internal/reconciler/metricpipeline/reconciler.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Improve names
  test/e2e/metrics_prometheus_input_test.go
  test/e2e/metrics_runtime_input_test.go
  test/e2e/testkit/matchers/metric_matchers.go
  test/e2e/testkit/matchers/metric_matchers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

test file renamed
  test/e2e/logging_fluentbit_metrics_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix linting issues
  internal/otelcollector/config/metric/gateway/config.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix linting issues
  controllers/telemetry/tracepipeline_controller.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

unit test for istio proxy scrape configuration
  internal/otelcollector/config/metric/gateway/config_builder_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Fix the resource attribute matcher
  test/e2e/testkit/matchers/metric_matchers.go
  test/e2e/testkit/matchers/metric_matchers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Make Telemetry CRD namspace scoped (#289)
  apis/operator/v1alpha1/telemetry_types.go
  config/busola/telemetry_busola_extension_cm.yaml
  config/crd/bases/operator.kyma-project.io_telemetries.yaml
  config/rbac/role.yaml
  controllers/operator/telemetry_controller.go
  controllers/operator/telemetry_controller_test.go
  docs/user/resources/01-telemetry.md
  internal/reconciler/telemetry/reconciler.go
  main.go
  test/e2e/manager_test.go
  test/e2e/suite_test.go
  test/e2e/telemetry_test.go
  test/e2e/testkit/k8s/telemetry.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Fixes dead documentation links.
  README.md
  docs/contributor/governance.md
Due: pull-telemetry-manager-governance

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$) or (any of: ^.*\.go$)
  pull-telemetry-manager-verify-module: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
