Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

move generator to the tool package
  go.mod
  go.sum
  internal/tools/generate.go
  internal/tools/go.mod
  internal/tools/go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update
  .env
  internal/tools/generate.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Update golang to 1.23.4 and alpine to 3.21
  Dockerfile
  go.mod
  internal/tools/go.mod
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: Consider the existence of Istio when applying and deleting resources for Log Gateway (#1668)
  controllers/telemetry/logpipeline_controller.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/logpipeline/otel/reconciler_test.go
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/testdata/log-gateway.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update to latest directory-size-exporter
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Remove OTel LogPipeline-related data from docs and Telemetry CRD (#1654)
  Makefile
  config/crd/bases/operator.kyma-project.io_telemetries.yaml
  docs/user/resources/01-telemetry.md
  docs/user/resources/02-logpipeline.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add golden file for fluentbit
  internal/reconciler/logpipeline/fluentbit/reconciler_test.go
  internal/reconciler/logpipeline/fluentbit/testdata/fluent-bit.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

refactor docker image names used in the tests
  .env
  .golangci.yaml
  internal/constant/images.go
  internal/reconciler/logpipeline/fluentbit/reconciler_test.go
  internal/resources/otelcollector/agent_test.go
  internal/resources/otelcollector/gateway_test.go
  internal/resources/otelcollector/testdata/log-gateway.yaml
  internal/resources/otelcollector/testdata/metric-agent.yaml
  internal/resources/otelcollector/testdata/metric-gateway-istio.yaml
  internal/resources/otelcollector/testdata/metric-gateway.yaml
  internal/resources/otelcollector/testdata/trace-gateway.yaml
  internal/tools/generate.go
  main.go
  test/testkit/const.go
  test/testkit/images.go
  test/testkit/mocks/backend/deployment.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update release docs with new steps
  .env
  Makefile
  docs/contributor/releasing.md
  hack/load-tests/run-load-test.sh
  internal/constant/images.go
  internal/tools/generate.go
  test/testkit/images.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Add merge_group trigger for workflows (#1658)
  .github/template/prepare-test/action.yaml
  .github/workflows/branch-integration.yml
  .github/workflows/build-image.yml
  .github/workflows/pr-all-checks-passed.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-lifecycle.yml
Due: none

update release docs
  .github/workflows/pr-docu-checks.yml
  Makefile
  docs/contributor/releasing.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update Makefile
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

generate source code and configuration files
  internal/constant/images.go
  internal/tools/generate.go
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix build-image job
  .github/workflows/build-image.yml
Due: none

fix ci after introducing merge queue
  .github/workflows/build-image.yml
  hack/await_image.sh
Due: none

revert changes
  .github/workflows/build-image.yml
Due: none

chore: Fix build-image after introducing merge queue (#1676)
  .github/workflows/build-image.yml
  hack/await_image.sh
Due: none

remove CPU Limits from all resources
  config/manager/manager.yaml
  internal/resources/fluentbit/resources.go
  internal/resources/fluentbit/resources_test.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/testdata/log-gateway.yaml
  internal/resources/otelcollector/testdata/metric-agent.yaml
  internal/resources/otelcollector/testdata/metric-gateway-istio.yaml
  internal/resources/otelcollector/testdata/metric-gateway.yaml
  internal/resources/otelcollector/testdata/trace-gateway.yaml
  internal/resources/selfmonitor/resources.go
  internal/resources/selfmonitor/resources_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove CPU limit for FluntBit
  controllers/telemetry/logpipeline_controller.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

change image tag based on event
  .github/workflows/pr-integration.yml
Due: none

chore: Change image based on event (#1678)
  .github/workflows/pr-integration.yml
Due: none

fix lifecycle tests
  .github/workflows/pr-lifecycle.yml
Due: none

chore: Fix lifecyle tests with merge_group trigger (#1679)
  .github/workflows/pr-lifecycle.yml
Due: none

fix flaky tests
  test/e2e/overrides_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Update golang to 1.23.4 and alpine to 3.21 (#1673)
  Dockerfile
  go.mod
  internal/tools/go.mod
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

rename telemetrygen image env variable
  .env
  hack/load-tests/run-load-test.sh
  internal/tools/generate.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

apply suggestions from https://docs.github.com/en/actions/security-for-github-actions/security-guides/security-hardening-for-github-actions
  .github/workflows/pr-github-checks.yml
Due: none

chore: Rename -dev to -experimental
  .github/template/prepare-test/action.yaml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-lifecycle.yml
  .github/workflows/tag-release.yml
  .gitignore
  .goreleaser.yaml
  Makefile
  docs/contributor/development.md
  docs/contributor/installation.md
  docs/contributor/pocs/performance-tests/metrics/metrics.md
  docs/contributor/releasing.md
  hack/release.sh
  hack/upgrade-test.sh
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix upgrade test
  hack/upgrade-test.sh
Due: none

build generate-const in makefile and store in bin dir
  Makefile
  internal/tools/generate.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove generate-env target
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

remove documentation for removed make target
  docs/contributor/releasing.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

remove unused CPu Limit configurartion
  internal/resources/otelcollector/gateway.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove orphaned scripts
  .github/workflows/pr-lifecycle.yml
  hack/get-kyma-filename.sh
  hack/upgrade-test.sh
Due: none

fix: Remove CPU Limits from all resources (#1677)
  config/manager/manager.yaml
  controllers/telemetry/logpipeline_controller.go
  internal/resources/fluentbit/resources.go
  internal/resources/fluentbit/resources_test.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/testdata/log-gateway.yaml
  internal/resources/otelcollector/testdata/metric-agent.yaml
  internal/resources/otelcollector/testdata/metric-gateway-istio.yaml
  internal/resources/otelcollector/testdata/metric-gateway.yaml
  internal/resources/otelcollector/testdata/trace-gateway.yaml
  internal/resources/selfmonitor/resources.go
  internal/resources/selfmonitor/resources_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

run all code/manifest generation prior to check-clean
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

no need to run generate before manifest generation
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

chore: Rename dev release to experimental release (#1682)
  .github/template/prepare-test/action.yaml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-lifecycle.yml
  .github/workflows/tag-release.yml
  .gitignore
  .goreleaser.yaml
  Makefile
  docs/contributor/development.md
  docs/contributor/installation.md
  docs/contributor/pocs/performance-tests/metrics/metrics.md
  docs/contributor/releasing.md
  hack/get-kyma-filename.sh
  hack/release.sh
  hack/upgrade-test.sh
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix wron Make target name manifest-dev to manifests-experimental
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
