Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

fix
  hack/deploy-istio.sh
Due: none

fix
  hack/wait-for-namespaces.sh
Due: none

chore: Fix gardener integration job (#1378)
  .github/workflows/branch-integration.yml
  hack/deploy-istio.sh
  hack/wait-for-namespaces.sh
Due: none

chore: Update istio dependency to 1.8.3
  .env
Due: none

docs: Add styleguide and document error handling (#1338)
  docs/contributor/styleguide/README.md
  docs/contributor/styleguide/error_handling.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: Update LogPipeline OTLP output ADR (#1372)
  docs/contributor/arch/007-log-pipeline-otlp-output.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: Update istio dependency to 1.8.3 (#1379)
  .env
Due: none

fix
  internal/otelcollector/config/metric/gateway/processors.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Group tlscert, secretref, and endpoint validators under the same folder
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/tracepipeline_controller.go
  internal/conditions/tls_cert_conditions.go
  internal/conditions/tls_cert_conditions_test.go
  internal/otelcollector/config/otlpexporter/env_vars.go
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/logpipeline/status.go
  internal/reconciler/logpipeline/stubs/secret_ref_validator.go
  internal/reconciler/logpipeline/stubs/tls_cert_validator.go
  internal/reconciler/logpipeline/validator.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/metricpipeline/stubs/secret_ref_validator.go
  internal/reconciler/metricpipeline/stubs/tls_cert_validator.go
  internal/reconciler/metricpipeline/validator.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/reconciler/tracepipeline/status.go
  internal/reconciler/tracepipeline/stubs/secret_ref_validator.go
  internal/reconciler/tracepipeline/stubs/tls_cert_validator.go
  internal/reconciler/tracepipeline/validator.go
  internal/validators/endpoint/endpoint_validator.go
  internal/validators/endpoint/endpoint_validator_test.go
  internal/validators/secretref/secret_ref.go
  internal/validators/secretref/secret_ref_test.go
  internal/validators/tlscert/tls_cert_validator.go
  internal/validators/tlscert/tls_cert_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Delete non-working GHA workflow
  .github/workflows/pr-skip-on-docu-paths.yml
Due: none

fix unit test
  internal/otelcollector/config/metric/gateway/processors_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Delete non-working GHA workflow (#1381)
  .github/workflows/pr-skip-on-docu-paths.yml
Due: none

chore: Replace workflow path filter with changed-files
  .github/workflows/pr-code-checks.yml
Due: none

Test
  .github/workflows/pr-code-checks.yml
Due: none

chore: Replace workflow path filter with changed-files (#1382)
  .github/workflows/pr-code-checks.yml
Due: none

chore: Replace workflow path filter with changed-files (pt. 2)
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-lifecycle.yml
Due: none

Remove path filter
  .github/workflows/pr-lifecycle.yml
Due: none

chore: Replace workflow path filter with changed-files (pt. 2) (#1383)
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-lifecycle.yml
Due: none

fix e2e
  test/e2e/metrics_multi_pipeline_test.go
  test/testkit/otel/k8scluster/metrics.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

refactor self monitor rule config builder
  internal/selfmonitor/config/expr_builder.go
  internal/selfmonitor/config/otelcol_rule_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: Self Monitor storage volume fill-up despite retention rules (#1373)
  internal/resources/selfmonitor/resources.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Change await sha instead of pr tag (#1360)
  .github/template/prepare-test/action.yaml
  .github/workflows/pr-lifecycle.yml
  hack/await_workflow.sh
Due: none

fixes based on review comments
  internal/otelcollector/config/metric/gateway/config.go
  internal/otelcollector/config/metric/gateway/config_builder.go
  internal/otelcollector/config/metric/gateway/processors.go
  internal/otelcollector/config/metric/gateway/processors_test.go
  internal/otelcollector/config/metric/gateway/receivers.go
  internal/otelcollector/config/metric/gateway/receivers_test.go
  internal/otelcollector/config/metric/set_instrumentation_scope_test.go
  test/e2e/metrics_multi_pipeline_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Apply suggestions from code review
  docs/user/integration/dynatrace/README.md
  docs/user/integration/jaeger/README.md
  docs/user/integration/loki/README.md
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: Update self-monitor prometheus to 2.53.2 (#1363)
  docs/contributor/benchmarks/README.md
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Remove Kyma from user README title
  docs/user/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

test: Add additional tests for logs/metrics/traces if pods are up and running (#1355)
  test/e2e/logs_basic_v1alpha1_test.go
  test/e2e/logs_basic_v1beta1_test.go
  test/e2e/logs_custom_output_test.go
  test/e2e/logs_dedot_test.go
  test/e2e/logs_drop_labels_test.go
  test/e2e/logs_exclude_container_test.go
  test/e2e/logs_keep_annotation_test.go
  test/e2e/logs_keep_original_body_test.go
  test/e2e/logs_mtls_about_to_expire_cert_test.go
  test/e2e/logs_mtls_test.go
  test/e2e/logs_multi_pipeline_broken_pipeline_test.go
  test/e2e/logs_multi_pipeline_namespace_filter_test.go
  test/e2e/logs_multi_pipeline_test.go
  test/e2e/logs_parser_test.go
  test/e2e/logs_resources_test.go
  test/e2e/logs_self_monitor_healthy_test.go
  test/e2e/metrics_mtls_about_to_expire_cert_test.go
  test/e2e/metrics_mtls_test.go
  test/e2e/metrics_multi_pipeline_namespace_selector_test.go
  test/e2e/metrics_multi_pipeline_test.go
  test/e2e/metrics_prometheus_input_test.go
  test/e2e/metrics_runtime_input_resources_test.go
  test/e2e/metrics_runtime_input_test.go
  test/e2e/metrics_self_monitor_healthy_test.go
  test/e2e/metrics_service_name_test.go
  test/e2e/telemetry_logs_analysis_test.go
  test/e2e/traces_mtls_about_to_expire_cert_test.go
  test/e2e/traces_multi_pipeline_test.go
  test/e2e/traces_noisy_span_filter_test.go
  test/e2e/traces_self_monitor_healthy_test.go
  test/integration/istio/access_logs_test.go
  test/integration/istio/logs_self_monitor_backpressure_test.go
  test/integration/istio/logs_self_monitor_outage_test.go
  test/integration/istio/metrics_istio_input_test.go
  test/integration/istio/metrics_prometheus_input_test.go
  test/integration/istio/metrics_self_monitor_backpressure_test.go
  test/integration/istio/metrics_self_monitor_outage_test.go
  test/integration/istio/traces_self_monitor_backpressure_test.go
  test/integration/istio/traces_self_monitor_outage_test.go
  test/testkit/kyma/common_names.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: Bump OTel image version to 0.107.0 (#1362)
  config/samples/telemetry_v1alpha1_tracepipeline.yaml
  docs/contributor/benchmarks/README.md
  hack/load-tests/metric-load-test-setup.yaml
  hack/load-tests/otel-logs/base/log-gateway.yaml
  hack/load-tests/otel-logs/base/log-generator.yaml
  hack/load-tests/otel-logs/big/log-generator.yaml
  hack/load-tests/run-load-test.sh
  hack/load-tests/self-monitor-test-setup.yaml
  hack/load-tests/trace-load-test-setup.yaml
  internal/otelcollector/config/metric/agent/processors_test.go
  internal/otelcollector/config/metric/agent/testdata/config_istio_enabled.yaml
  internal/otelcollector/config/metric/agent/testdata/config_istio_not_enabled.yaml
  internal/otelcollector/config/metric/gateway/processors_test.go
  internal/otelcollector/config/metric/set_instrumentation_scope_test.go
  internal/otelcollector/config/metric/set_instrumention_scope.go
  internal/resources/otelcollector/core_pod_spec.go
  internal/selfmonitor/config/expr_builder.go
  internal/selfmonitor/config/otelcol_rule_builder.go
  internal/selfmonitor/config/rules_test.go
  main.go
  sec-scanners-config.yaml
  test/testkit/mocks/backend/deployment.go
  test/testkit/mocks/telemetrygen/telemetrygen.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: Remove Kyma from user README title (#1386)
  docs/user/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: Only run upgrade test if a source file is changed
  .github/workflows/pr-lifecycle.yml
Due: none

chore: Only run upgrade tests if a source file is changed (#1387)
  .github/workflows/pr-lifecycle.yml
Due: none

fix metric runtime input test
  test/e2e/metrics_runtime_input_test.go
  test/e2e/metrics_service_name_test.go
  test/testkit/matchers/metric/metric_matchers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use promemtricgen and move to consistsof
  test/e2e/metrics_runtime_input_resources_test.go
  test/testkit/matchers/metric/metric_matchers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fixes
  test/e2e/metrics_runtime_input_resources_test.go
  test/testkit/mocks/backend/deployment.go
  test/testkit/mocks/prommetricgen/metric_producer.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

merge master
  internal/otelcollector/config/metric/gateway/processors_test.go
  internal/otelcollector/config/metric/set_instrumentation_scope_test.go
  internal/otelcollector/config/metric/set_instrumention_scope.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Group tlscert, secretref, and endpoint validators under the same folder (#1380)
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/tracepipeline_controller.go
  internal/conditions/tls_cert_conditions.go
  internal/conditions/tls_cert_conditions_test.go
  internal/otelcollector/config/otlpexporter/env_vars.go
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/logpipeline/status.go
  internal/reconciler/logpipeline/stubs/secret_ref_validator.go
  internal/reconciler/logpipeline/stubs/tls_cert_validator.go
  internal/reconciler/logpipeline/validator.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/metricpipeline/stubs/secret_ref_validator.go
  internal/reconciler/metricpipeline/stubs/tls_cert_validator.go
  internal/reconciler/metricpipeline/validator.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/reconciler/tracepipeline/status.go
  internal/reconciler/tracepipeline/stubs/secret_ref_validator.go
  internal/reconciler/tracepipeline/stubs/tls_cert_validator.go
  internal/reconciler/tracepipeline/validator.go
  internal/validators/endpoint/endpoint_validator.go
  internal/validators/endpoint/endpoint_validator_test.go
  internal/validators/secretref/secret_ref.go
  internal/validators/secretref/secret_ref_test.go
  internal/validators/tlscert/tls_cert_validator.go
  internal/validators/tlscert/tls_cert_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  test/e2e/metrics_multi_pipeline_namespace_selector_test.go
  test/e2e/metrics_prometheus_input_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix lint
  test/e2e/metrics_multi_pipeline_namespace_selector_test.go
  test/e2e/metrics_prometheus_input_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
