Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)

Apply suggestions from code review
  docs/contributor/pocs/otlp-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Update otlp-logs.md
  docs/contributor/pocs/otlp-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: Add OTLP Logs PoC documentation (#762)
  docs/contributor/assets/otel-logs-values.yaml
  docs/contributor/pocs/otlp-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: ADR: Telemetry v1beta1 API (#763)
  docs/contributor/arch/006-telemetry-api-v1beta1.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Add ADR skeleton
  docs/contributor/arch/007-log-pipeline-otlp-output.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

improve title
  docs/user/integration/aws-cloudwatch/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Write an ADR
  docs/contributor/arch/007-log-pipeline-otlp-output.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Small fix
  docs/contributor/arch/007-log-pipeline-otlp-output.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

improve overview section
  docs/user/integration/aws-cloudwatch/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Add alternative solutions
  docs/contributor/arch/007-log-pipeline-otlp-output.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Update docs/contributor/arch/007-log-pipeline-otlp-output.md
  docs/contributor/arch/007-log-pipeline-otlp-output.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

remove the incorrect NOTE
  docs/user/integration/aws-cloudwatch/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: ADR LogPipeline OTLP Output (#764)
  docs/contributor/arch/007-log-pipeline-otlp-output.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

use direct link to CloudWatch
  docs/user/integration/aws-cloudwatch/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: ADR: Do not make prometheus part of the Istio service mesh (#758)
  docs/contributor/arch/005-do-not-make-prometheus-part of-the-istio-service-mesh.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

use 2 replicas for aws distro deployment
  docs/user/integration/aws-cloudwatch/aws-otel.yaml
Due: none

chore: Update to next k8s version 1.28
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

fix
  .github/workflows/branch-integration.yml
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

mention the retention times in docs
  docs/user/integration/aws-cloudwatch/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

grammatical fixes
  docs/user/integration/aws-cloudwatch/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

follow guidelines for diagrams
  docs/user/integration/assets/cloudwatch.drawio.svg
Due: none

remove click-level docs and unecessary policy for CloudWatch service
  docs/user/integration/aws-cloudwatch/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

improve the aws collector setup
  docs/user/integration/aws-cloudwatch/aws-otel.yaml
Due: none

docs: Fix minor errors
  docs/user/01-manager.md
  docs/user/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Simplify pprof setup
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Remove unused var
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: Fix minor errors (#766)
  docs/user/01-manager.md
  docs/user/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: Simplify pprof server set up (#768)
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

reference integration guide in sidebar
  docs/user/_sidebar.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Update docs/user/integration/aws-cloudwatch/README.md
  docs/user/integration/aws-cloudwatch/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint
