Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

No need to add kubeconfig flag
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add optional descriptions to backend assertion
  test/testkit/assert/backend.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Set ns to kube-system
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Apply suggestions from code review
  docs/contributor/otel-bump-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Revert ns changes
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add toc
  docs/contributor/otel-bump-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

missed one
  docs/contributor/otel-bump-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add benchmark results
  .env
  docs/contributor/benchmarks/results/metrics.md
  docs/contributor/benchmarks/results/traces.md
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix modified kyma-input-test
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/testdata/otlp-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-comprehensive.yaml
  test/testkit/assert/backend.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Adapt sidebar + splitting and DITA mirroring WIP
  docs/user/_sidebar.md
  docs/user/_sidebar.ts
  docs/user/filter-and-process/README.md
  docs/user/filter-and-process/custom-pipeline-processing-ottl.md
  docs/user/filter-and-process/ottl-transform-and-filter/README.md
  docs/user/filter-and-process/ottl-transform-and-filter/ottl-filter.md
  docs/user/filter-and-process/ottl-transform-and-filter/ottl-transform.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add runAsNonRoot flag to telemetry-manager container security context
  helm/values.yaml
Due: none

DITA mirroring WIP
  docs/user/README.md
  docs/user/filter-and-process/automatic-data-enrichment.md
  docs/user/filter-and-process/filter-logs.md
  docs/user/filter-and-process/filter-metrics.md
  docs/user/filter-and-process/filter-traces.md
  docs/user/filter-and-process/ottl-transform-and-filter/README.md
  docs/user/filter-and-process/ottl-transform-and-filter/ottl-filter.md
  docs/user/filter-and-process/ottl-transform-and-filter/ottl-transform.md
  docs/user/pipelines.md
  docs/user/troubleshooting.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

turn them into list
  docs/contributor/otel-bump-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

remove some unnecessary checks
  docs/contributor/otel-bump-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: add runAsNonRoot flag to telemetry-manager container security context (#2667)
  helm/values.yaml
Due: none

Improve pipelines samples
  docs/user/resources/02-logpipeline.md
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: bump prometheus image to 3.7.3 (#2663)
  dependencies/telemetry-self-monitor/envs
Due: pull-telemetry-manager-verify-module

fix
  docs/user/_sidebar.md
  docs/user/_sidebar.ts
  docs/user/integration/README.md
  docs/user/integration/prometheus/README.md
  docs/user/integration/prometheus/kiali-values.yaml
  docs/user/integration/prometheus/prometheus-values.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Review sync changes
  docs/user/README.md
  docs/user/filter-and-process/README.md
  docs/user/filter-and-process/ottl-transform-and-filter/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Small fix
  docs/user/integrate-otlp-backend/migration-to-otlp-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix links
  docs/user/integration/prometheus/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: update self-monitor to prometheus 3.7.3
  .env
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

Fix examples and restructure context inference section
  docs/user/filter-and-process/ottl-transform-and-filter/README.md
  docs/user/filter-and-process/ottl-transform-and-filter/ottl-filter.md
  docs/user/resources/02-logpipeline.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Move predefined context to filter section
  docs/user/filter-and-process/ottl-transform-and-filter/README.md
  docs/user/filter-and-process/ottl-transform-and-filter/ottl-filter.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Update docs/contributor/otel-bump-guide.md
  docs/contributor/otel-bump-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Rename "attributes" to "fields"
  docs/user/filter-and-process/README.md
  docs/user/filter-and-process/ottl-transform-and-filter/README.md
  docs/user/troubleshooting.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix toc
  docs/user/integration/prometheus/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Apply suggestions from code review
  docs/user/integration/prometheus/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

rename metric/input to metric/enrichment
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/testdata/http-protocol-with-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/http-protocol-without-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-only.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-comprehensive.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-simple.yaml
  internal/otelcollector/config/metricgateway/testdata/user-defined-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/user-defined-transform-filter.yaml
  internal/otelcollector/config/metricgateway/testdata/user-defined-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Apply suggestions from code review
  docs/user/filter-and-process/filter-logs.md
  docs/user/filter-and-process/filter-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: unified approach for environment parsing (#2659)
  go.mod
  go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add OTel transform and filter processor docs references
  docs/user/filter-and-process/ottl-transform-and-filter/README.md
  docs/user/filter-and-process/ottl-transform-and-filter/ottl-filter.md
  docs/user/filter-and-process/ottl-transform-and-filter/ottl-transform.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

feat: bump OTel image to version 0.139.0 (#2662)
  .env
  docs/contributor/benchmarks/results/metrics.md
  docs/contributor/benchmarks/results/traces.md
  go.mod
  go.sum
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Small fix in troubleshooting
  docs/user/troubleshooting.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Implement review adjustments
  docs/user/filter-and-process/ottl-transform-and-filter/README.md
  docs/user/troubleshooting.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Update docs/user/filter-and-process/ottl-transform-and-filter/README.md
  docs/user/filter-and-process/ottl-transform-and-filter/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint
