Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

fixes
  docs/contributor/telemetry-load-test/assets/run-load-test.sh
Due: none

Revert prober renaming
  internal/reconciler/tracepipeline/reconciler.go
  internal/reconciler/tracepipeline/status.go
  internal/reconciler/tracepipeline/status_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert kustomize changes
  config/manager/kustomization.yaml
  config/manager/manager.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

Revert kustomize change
  config/manager/manager.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

Update tracepipeline reconciler
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/tracepipeline/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

create manifests-dev target
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

auto-generate CRDs for development variant
  config/development/crd/bases/operator.kyma-project.io_telemetries.yaml
  config/development/crd/bases/telemetry.kyma-project.io_logparsers.yaml
  config/development/crd/bases/telemetry.kyma-project.io_logpipelines.yaml
  config/development/crd/bases/telemetry.kyma-project.io_metricpipelines.yaml
  config/development/crd/bases/telemetry.kyma-project.io_tracepipelines.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

improve test/cluster names
  .github/workflows/pr-loadtest.yml
Due: none

Update test-wrokflow.yml
  .github/workflows/test-wrokflow.yml
Due: none

fix
  .github/workflows/pr-loadtest.yml
Due: none

Add basic prober test
  internal/selfmonitor/flowhealth/prober.go
  internal/selfmonitor/flowhealth/prober_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add basic rule test
  internal/selfmonitor/flowhealth/mocks/alert_getter.go
  internal/selfmonitor/flowhealth/rules_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

setup kustomization files in development variant
  config/development/crd/kustomization.yaml
  config/development/crd/kustomizeconfig.yaml
  config/development/kustomization.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

some fixes
  .github/workflows/branch-integration.yml
  .github/workflows/pr-loadtest.yml
Due: none

Add expr builder
  internal/selfmonitor/flowhealth/expr_builder.go
  internal/selfmonitor/flowhealth/rules.go
  internal/selfmonitor/flowhealth/rules_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fixes based on review comments
  .github/workflows/pr-loadtest.yml
  docs/contributor/telemetry-load-test/README.md
  hack/load-tests/log-fluentbit-backpressure-config.yaml
  hack/load-tests/log-fluentbit-max-pipeline.yaml
  hack/load-tests/log-fluentbit-test-setup.yaml
  hack/load-tests/metric-agent-backpressure-config.yaml
  hack/load-tests/metric-agent-test-setup.yaml
  hack/load-tests/metric-backpressure-config.yaml
  hack/load-tests/metric-load-test-setup.yaml
  hack/load-tests/metric-max-pipeline.yaml
  hack/load-tests/run-load-test.sh
  hack/load-tests/trace-backpressure-config.yaml
  hack/load-tests/trace-load-test-setup.yaml
  hack/load-tests/trace-max-pipeline.yaml
  hack/load-tests/values.yaml
  hack/setup_cluster_name.sh
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

use manifests-dev target as dependency in deploy-dev target
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

Improve rule building
  internal/selfmonitor/flowhealth/prober.go
  internal/selfmonitor/flowhealth/prober_test.go
  internal/selfmonitor/flowhealth/rules.go
  internal/selfmonitor/flowhealth/rules_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add support for SomeDataDropped
  internal/selfmonitor/flowhealth/prober.go
  internal/selfmonitor/flowhealth/prober_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add support for QueueAlmostFull
  config/manager/kustomization.yaml
  internal/selfmonitor/flowhealth/expr_builder.go
  internal/selfmonitor/flowhealth/prober.go
  internal/selfmonitor/flowhealth/prober_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Unordered lists are appropriate for items that have no sequential order
  docs/user/gateways.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fixes
  .github/workflows/branch-integration.yml
  .github/workflows/pr-loadtest.yml
Due: none

fix
  .github/workflows/branch-integration.yml
Due: none

remove LogParser type from v1beta1 version
  apis/telemetry/v1beta1/logparser_types.go
  apis/telemetry/v1beta1/logparser_validation.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

auto-generate CRD for LogParser without v1beta1 version for development variant
  config/development/crd/bases/telemetry.kyma-project.io_logparsers.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

execute make generate target after removal of LogParser from v1beta1 version
  apis/telemetry/v1beta1/zz_generated.deepcopy.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: Add configuration for alert rules
  internal/resources/selfmonitor/config.go
  internal/resources/selfmonitor/resources.go
  internal/selfmonitor/config/config.go
  internal/selfmonitor/config/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add support for ReceiverRefused
  internal/selfmonitor/flowhealth/prober.go
  internal/selfmonitor/flowhealth/prober_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fixes
  .github/workflows/pr-loadtest.yml
  hack/deploy-telemetry.sh
Due: none

Add support for Healthy
  internal/selfmonitor/flowhealth/prober.go
  internal/selfmonitor/flowhealth/prober_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
