Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

bump fluentbit cache to 4.0.9
  external-images.yaml
Due: none

update
  docs/contributor/arch/022-switch-metric-pipeline-gateway-to-agent.md
  docs/contributor/assets/metric-agent-pipelines.png
  docs/contributor/assets/sample-metric-agent-config.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update
  docs/contributor/governance.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: add node network io and error metrics in cls (#2407)
  CODEOWNERS
  docs/user/integration/sap-cloud-logging/dashboard-nodes.ndjson
Due: none

Fix routing connector context
  internal/otelcollector/config/common/types.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: fix broken doc links after repo restructuring (#2475)
  docs/user/resources/01-telemetry.md
  docs/user/resources/02-logpipeline.md
  docs/user/resources/03-logparser.md
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Review migration guide
  docs/user/logs/migration-to-otlp-logs.md
  docs/user/migration-to-otlp-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: update fluent bit image in cache to 4.0.9 (#2500)
  external-images.yaml
Due: none

Fix routing output pipelines empty if input type not defined
  internal/otelcollector/config/metricagent/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix linting
  internal/otelcollector/config/metricagent/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update docs/contributor/arch/022-switch-metric-pipeline-gateway-to-agent.md
  docs/contributor/arch/022-switch-metric-pipeline-gateway-to-agent.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add create_dir back and change to tmp
  internal/otelcollector/config/common/types.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/logagent/testdata/http-protocol-with-custom-path.yaml
  internal/otelcollector/config/logagent/testdata/http-protocol-without-custom-path.yaml
  internal/otelcollector/config/logagent/testdata/single-pipeline-namespace-excluded.yaml
  internal/otelcollector/config/logagent/testdata/single-pipeline-namespace-included.yaml
  internal/otelcollector/config/logagent/testdata/single-pipeline.yaml
  internal/otelcollector/config/logagent/testdata/two-pipelines-with-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove initcontainers from logagent
  controllers/telemetry/logpipeline_controller.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/agent_test.go
  internal/resources/otelcollector/testdata/log-agent.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: update ADR with new Metric Agent config architecture (#2491)
  docs/contributor/arch/022-switch-metric-pipeline-gateway-to-agent.md
  docs/contributor/assets/metric-agent-pipelines.png
  docs/contributor/assets/sample-metric-agent-config.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add correct log checkpoint subdir
  internal/otelcollector/config/logagent/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add perf test results for 4.0.9
  docs/contributor/benchmarks/results/logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Fix enrichment-output connector to use same prometheus inconsistency attribute check
  internal/otelcollector/config/common/types.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

send load test results to github summary
  .github/workflows/pr-loadtest.yml
  hack/load-tests/convert-results.py
Due: none

temporarily change checkout ref to test script
  .github/workflows/pr-loadtest.yml
Due: none

Move drop-kyma-attributes processor to output pipeline
  internal/otelcollector/config/metricagent/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

move ClusterAttributesProcessor from enrichment pipeline to output pipeline
  internal/otelcollector/config/metricagent/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add drop envoy metrics istio processor + reorder processors in output pipeline
  internal/otelcollector/config/metricagent/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: fix LogPipeline view in Busola for OTLP output (#2499)
  helm/files/logpipelines-busola-config.yaml
Due: none

chore: bump fluent bit to 4.0.9 (#2498)
  .env
  docs/contributor/benchmarks/results/logs.md
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint

revert ref
  .github/workflows/pr-loadtest.yml
Due: none

fix: remove initContainer for Log Agent and revert to tmp folder (#2504)
  controllers/telemetry/logpipeline_controller.go
  internal/otelcollector/config/common/types.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/logagent/testdata/http-protocol-with-custom-path.yaml
  internal/otelcollector/config/logagent/testdata/http-protocol-without-custom-path.yaml
  internal/otelcollector/config/logagent/testdata/single-pipeline-namespace-excluded.yaml
  internal/otelcollector/config/logagent/testdata/single-pipeline-namespace-included.yaml
  internal/otelcollector/config/logagent/testdata/single-pipeline.yaml
  internal/otelcollector/config/logagent/testdata/two-pipelines-with-transforms.yaml
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/agent_test.go
  internal/resources/otelcollector/testdata/log-agent.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: send load test results to GitHub Actions summary (#2507)
  .github/workflows/pr-loadtest.yml
  hack/load-tests/convert-results.py
Due: none

Fix and extend UTs
  internal/otelcollector/config/metricagent/config_builder_test.go
  internal/otelcollector/config/metricagent/testdata/http-with-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/http-without-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/istio-ops-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/setup-comprehensive.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-transforms.yaml
  internal/reconciler/metricpipeline/reconciler_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Move skip enrichment connector builder out of common
  internal/otelcollector/config/common/connector_builders.go
  internal/otelcollector/config/common/connector_builders_test.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_enrichment.go
  internal/otelcollector/config/metricgateway/config_builder_input.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Move runtime processor builders out of common
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/common/processor_builders.go
  internal/otelcollector/config/common/types.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricagent/types.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

bump OTel version to 0.135.0
  .env
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use IstioEnabled flag in AgentApplyOptions struct
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/resources/common/resources.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/core.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update unit tests
  internal/resources/otelcollector/agent_test.go
  internal/resources/otelcollector/testdata/log-agent-istio.yaml
  internal/resources/otelcollector/testdata/log-agent.yaml
  internal/resources/otelcollector/testdata/metric-agent-istio.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove AllowedPorts and IstioExcludePorts from GatewayApplyOptions struct
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/gateway.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update gateway unit tests
  internal/resources/otelcollector/gateway_test.go
  internal/resources/otelcollector/testdata/log-gateway-istio.yaml
  internal/resources/otelcollector/testdata/log-gateway.yaml
  internal/resources/otelcollector/testdata/metric-gateway.yaml
  internal/resources/otelcollector/testdata/trace-gateway-istio.yaml
  internal/resources/otelcollector/testdata/trace-gateway.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update tracepipeline reconciler
  internal/reconciler/tracepipeline/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add ADR
  docs/contributor/arch/016b-filter-support-for-telemetry-pipelines.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add benchmark results for OTel version 0.135.0
  docs/contributor/benchmarks/results/metrics.md
  docs/contributor/benchmarks/results/traces.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add ADR for filter support
  docs/contributor/arch/016b-filter-support-for-telemetry-pipelines.md
  docs/contributor/arch/016b-filter-support-without-context-inference-for-telemetry-pipelines.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
