Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

regenerate docs
  docs/user/resources/01-telemetry.md
  docs/user/resources/02-logpipeline.md
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
  helm/charts/experimental/templates/operator.kyma-project.io_telemetries.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_tracepipelines.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add metric test
  .testcoverage.yml
  internal/storagemigration/migrator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

testcoverage increased
  internal/storagemigration/migrator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use golden file and table test
  internal/resources/common/networkpolicy_test.go
  internal/resources/common/testdata/networkpolicy-basic.yaml
  internal/resources/common/testdata/networkpolicy-egress.yaml
  internal/resources/common/testdata/networkpolicy-ingress.yaml
  internal/resources/common/testdata/networkpolicy-with-name-suffix.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update diagrams
  docs/contributor/assets/auditable-release-final.drawio.svg
  docs/contributor/assets/auditable-release-module-release.drawio.svg
  docs/contributor/assets/auditable-release-mpc-release.drawio.svg
Due: none

lint-fix
  internal/storagemigration/migrator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add unit tests
  internal/secretwatch/client.go
  internal/secretwatch/client_test.go
  internal/secretwatch/doc.go
  internal/secretwatch/watcher.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add unit tests for multiple SyncWatchedSecrets calls
  internal/secretwatch/client_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update diagrams
  docs/contributor/assets/auditable-release-mpc-release.drawio.svg
Due: none

add missing gcloud authentication for fips tests
  .github/workflows/pr-integration.yml
Due: none

Remove secretwatch integration from TracePipeline controller
  controllers/telemetry/tracepipeline_controller.go
  internal/reconciler/tracepipeline/interfaces.go
  internal/reconciler/tracepipeline/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Minor changes
  internal/secretwatch/client.go
  internal/secretwatch/client_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix lint issues in secretwatch package
  internal/secretwatch/client_test.go
  internal/secretwatch/watcher.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

revert change in controller
  controllers/telemetry/tracepipeline_controller.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert a few more files
  main.go
  samples/telemetry_v1beta1_tracepipeline.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Return error from SyncWatchedSecrets after Stop is called
  internal/secretwatch/client.go
  internal/secretwatch/client_test.go
  internal/secretwatch/doc.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Document why mutex is unlocked before waiting in Stop
  internal/secretwatch/client.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Remove unnesessary comments
  internal/secretwatch/client.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Refactor newStartedWatcher into newWatcher and startWatcher
  internal/secretwatch/client.go
  internal/secretwatch/watcher.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Replace newTestPipeline with LogPipelineBuilder in tests
  internal/secretwatch/client_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "WIP: refactor TracePipeline tests to remove gateway mocks"
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/reconciler/tracepipeline/test_helpers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "fix: correct OTLP Gateway architecture - unified config builder"
  .clinerules/cline.githubactions.instructions.md
  .clinerules/cline.golang.instructions.md
  controllers/telemetry/otlpgateway_controller.go
  internal/otelcollector/config/otlpgateway/config_builder.go
  internal/otelcollector/config/otlpgateway/config_builder_test.go
  internal/otelcollector/config/otlpgateway/testdata/empty-pipelines.yaml
  internal/otelcollector/config/otlpgateway/testdata/multiple-trace-pipelines.yaml
  internal/otelcollector/config/otlpgateway/testdata/single-trace-pipeline.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-filter.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-http-protocol.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-oauth2.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-transform.yaml
  internal/reconciler/otlpgateway/interfaces.go
  internal/reconciler/otlpgateway/reconciler.go
  internal/reconciler/otlpgateway/reconciler_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Extract timeout constants in secretwatch tests
  internal/secretwatch/client_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Extract secret name/namespace constants in tests
  internal/secretwatch/client_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use suite.SetupTest instead of suite.RegisterTestCase in TestTelemetryResources
  test/e2e/misc/telemetry_resources_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Refactor event collection in tests using collectEvents helper
  internal/secretwatch/client_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Use pipeline variables instead of hardcoded names in test assertions
  internal/secretwatch/client_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

improve istio detection and removal
  test/testkit/kubeprep/detect.go
  test/testkit/kubeprep/reconfigure.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert main.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix lint issues in secretwatch package
  .golangci.yaml
  internal/secretwatch/client.go
  internal/secretwatch/client_test.go
  internal/secretwatch/watcher.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert unneeded changes
  internal/validators/secretref/secret_ref.go
  internal/validators/secretref/secret_ref_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

lint-fix
  test/testkit/kubeprep/detect.go
  test/testkit/kubeprep/reconfigure.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: Add otlpgateway config builder + chore: Fix tests and linting
  .mockery.yml
  controllers/telemetry/otlpgateway_controller.go
  internal/otelcollector/config/otlpgateway/config_builder.go
  internal/otelcollector/config/otlpgateway/config_builder_test.go
  internal/otelcollector/config/otlpgateway/testdata/empty-pipelines.yaml
  internal/otelcollector/config/otlpgateway/testdata/multiple-trace-pipelines.yaml
  internal/otelcollector/config/otlpgateway/testdata/single-trace-pipeline.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-filter.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-http-protocol.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-oauth2.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-transform.yaml
  internal/reconciler/otlpgateway/interfaces.go
  internal/reconciler/otlpgateway/mocks/error_to_message_converter.go
  internal/reconciler/otlpgateway/mocks/gateway_applier_deleter.go
  internal/reconciler/otlpgateway/mocks/istio_status_checker.go
  internal/reconciler/otlpgateway/mocks/otlp_gateway_config_builder.go
  internal/reconciler/otlpgateway/mocks/prober.go
  internal/reconciler/otlpgateway/reconciler.go
  internal/reconciler/otlpgateway/reconciler_test.go
  internal/reconciler/otlpgateway/status.go
  internal/reconciler/tracepipeline/mocks/gateway_config_builder.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/reconciler/tracepipeline/test_helpers_test.go
  internal/resources/otelcollector/otlp_gateway_config.go
  internal/resources/otelcollector/otlp_gateway_config_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add tests to improve secretwatch coverage to >90%
  internal/secretwatch/client_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use patch instead of update to remove the previous crd stored versions
  helm/templates/manager-rbac.yaml
  internal/storagemigration/migrator.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Entirely remove TraceGateway logic and adapt tests and codebase accordingly
  internal/otelcollector/config/otlpgateway/config_builder_test.go
  internal/otelcollector/config/otlpgateway/testdata/empty-pipelines.yaml
  internal/otelcollector/config/otlpgateway/testdata/single-trace-pipeline.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-filter.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-http-protocol-with-custom-path.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-http-protocol-without-custom-path.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-http-protocol.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-multiple-pipelines.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-oauth2-authentication.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-oauth2.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-service-enrichment-otel.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-single-pipeline.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-transform.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-user-defined-filters.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-user-defined-transform-filter.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-user-defined-transforms.yaml
  internal/otelcollector/config/tracegateway/config_builder.go
  internal/otelcollector/config/tracegateway/config_builder_test.go
  internal/reconciler/otlpgateway/reconciler.go
  internal/reconciler/otlpgateway/reconciler_test.go
  internal/resources/names/names.go
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/gateway_test.go
  internal/resources/otelcollector/otlp_gateway.go
  internal/resources/otelcollector/rbac.go
  internal/resources/otelcollector/testdata/trace-gateway-fips-enabled.yaml
  internal/resources/otelcollector/testdata/trace-gateway-istio.yaml
  internal/resources/otelcollector/testdata/trace-gateway.yaml
  internal/selfmonitor/config/rules.go
  internal/selfmonitor/config/testdata/rules.yaml
  test/testkit/kyma/common_names.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Remove unused variable in watcher.go
  internal/secretwatch/watcher.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

removed image summary
  .github/template/test-summary/action.yaml
Due: none

removed image summary
  hack/summarize-images.sh
Due: none

chore: update fluent-bit and alpine in registry cache
  external-images.yaml
Due: none
