Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

chore: Add log records columns to the load tests
  .github/workflows/pr-loadtest.yml
  hack/load-tests/convert-results.py
  hack/load-tests/run-load-test.sh
Due: none

add TODOs for migration of metricpipeline from version v1alpha1 to v1beta1
  webhook/metricpipeline/v1beta1/defaulter.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: Revert removed Telemetry override e2e test (#1703)"
  test/e2e/overrides_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: Update to prometheus 3.1.0 (#1739)"
  Dockerfile
  dependencies/telemetry-self-monitor/Dockerfile
  dependencies/telemetry-self-monitor/envs
  docs/contributor/benchmarks/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint

Revert "fix: Flaky self-monitoring conditions (#1735)"
  internal/selfmonitor/config/config_builder.go
  internal/selfmonitor/config/config_builder_test.go
  internal/selfmonitor/config/expr_builder.go
  internal/selfmonitor/config/fluent_bit_rule_builder.go
  internal/selfmonitor/config/otelcol_rule_builder.go
  internal/selfmonitor/config/rules.go
  internal/selfmonitor/config/rules_test.go
  internal/selfmonitor/config/testdata/rules.yaml
  internal/selfmonitor/prober/log_pipeline_prober.go
  internal/selfmonitor/prober/log_pipeline_prober_test.go
  internal/selfmonitor/prober/otel_pipeline_prober.go
  internal/selfmonitor/prober/otel_pipeline_prober_test.go
  test/e2e/logs_self_monitor_healthy_test.go
  test/e2e/metrics_self_monitor_healthy_test.go
  test/e2e/traces_self_monitor_healthy_test.go
  test/integration/istio/logs_self_monitor_backpressure_test.go
  test/integration/istio/logs_self_monitor_outage_test.go
  test/integration/istio/metrics_self_monitor_backpressure_test.go
  test/integration/istio/metrics_self_monitor_outage_test.go
  test/integration/istio/traces_self_monitor_backpressure_test.go
  test/integration/istio/traces_self_monitor_outage_test.go
  test/testkit/assert/logs.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump sigs.k8s.io/controller-tools from 0.16.5 to 0.17.0 in /internal/tools (#1715)"
  config/crd/bases/operator.kyma-project.io_telemetries.yaml
  config/crd/bases/telemetry.kyma-project.io_logparsers.yaml
  config/crd/bases/telemetry.kyma-project.io_logpipelines.yaml
  config/crd/bases/telemetry.kyma-project.io_metricpipelines.yaml
  config/crd/bases/telemetry.kyma-project.io_tracepipelines.yaml
  config/development/crd/bases/operator.kyma-project.io_telemetries.yaml
  config/development/crd/bases/telemetry.kyma-project.io_logparsers.yaml
  config/development/crd/bases/telemetry.kyma-project.io_logpipelines.yaml
  config/development/crd/bases/telemetry.kyma-project.io_metricpipelines.yaml
  config/development/crd/bases/telemetry.kyma-project.io_tracepipelines.yaml
  internal/tools/go.mod
  internal/tools/go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

Revert "chore: bump github.com/golangci/golangci-lint from 1.62.2 to 1.63.4 in /internal/tools (#1720)"
  internal/tools/go.mod
  internal/tools/go.sum
  internal/webhookcert/webhook_cert_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump go.opentelemetry.io/collector/pdata from 1.22.0 to 1.23.0 (#1732)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump the istio group with 2 updates (#1704)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: Update istio to 1.13.0 (#1722)"
  .env
Due: none

Revert "chore: bump sigs.k8s.io/controller-runtime from 0.19.3 to 0.19.4 (#1730)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump github.com/onsi/ginkgo/v2 from 2.22.0 to 2.22.2 in /internal/tools (#1731)"
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

Revert "chore: bump golang.org/x/tools from 0.28.0 to 0.29.0 in /internal/tools (#1729)"
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

Revert "feat: Bump OTel image version to 0.116.0 (#1701)"
  .env
  docs/contributor/benchmarks/README.md
  internal/images/images.go
  internal/otelcollector/config/metric/gateway/config.go
  internal/otelcollector/config/metric/gateway/connectors.go
  internal/otelcollector/config/metric/gateway/connectors_test.go
  internal/otelcollector/config/metric/gateway/testdata/config.yaml
  internal/otelcollector/config/metric/gateway/testdata/config_otlp_disabled.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump github.com/onsi/ginkgo/v2 from 2.22.1 to 2.22.2 (#1724)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump google.golang.org/protobuf from 1.36.1 to 1.36.2 (#1723)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "fix: MetricPipeline should not apply input default when the input not enabled explicitly (#1712)"
  webhook/logpipeline/v1alpha1/defaulter.go
  webhook/logpipeline/v1alpha1/defaulter_test.go
  webhook/logpipeline/v1beta1/defaulter.go
  webhook/logpipeline/v1beta1/defaulter_test.go
  webhook/metricpipeline/v1alpha1/defaulter.go
  webhook/metricpipeline/v1alpha1/defaulter_test.go
  webhook/metricpipeline/v1beta1/defaulter.go
  webhook/metricpipeline/v1beta1/defaulter_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump github.com/onsi/gomega from 1.36.1 to 1.36.2 (#1710)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump github.com/vektra/mockery/v2 from 2.50.0 to 2.50.4 in /internal/tools (#1721)"
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

Revert "chore: bump github.com/bombsimon/wsl/v4 from 4.4.1 to 4.5.0 in /internal/tools (#1714)"
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

Revert "test: Fix flaky telemetry test (#1702)"
  test/e2e/telemetry_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "docs: Update OTTL ADR with multi tranform/filter processor API (#1697)"
  docs/contributor/arch/016-transform-filter-support-for-telemetry-pipelines.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Revert "docs: Update release process doc with new docker image bump steps (#1698)"
  docs/contributor/releasing.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Revert "chore: bump go.opentelemetry.io/collector/pdata from 1.21.0 to 1.22.0 (#1696)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "test: Fix flaky tests by really waiting for manager readiness (#1699)"
  .github/template/prepare-test/action.yaml
Due: none

Revert "chore: Refactor unit-tests to use golden files (#1670)"
  internal/resources/otelcollector/agent_test.go
  internal/resources/selfmonitor/resources_test.go
  internal/resources/selfmonitor/testdata/self-monitor.yaml
  internal/utils/test/marshal.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: Revert running branch integration only on merge group (#1693)"
  .github/workflows/branch-integration.yml
Due: none

Revert "chore: Prevent references to images from main on release-branch (#1692)"
  .github/workflows/pr-release.yml
Due: none

Revert "chore: Fix wrong sec-scanner-config.yaml file path (#1689)"
  internal/tools/populateimages/main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: Adjust upgrade test to new make targets (#1694)"
  .github/workflows/pr-lifecycle.yml
Due: none

Revert "chore: Remove flaky telemetry override e2e test (#1690)"
  test/e2e/overrides_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: Generate global constant and sec scan config for docker images (#1671)"
  .env
  .github/workflows/pr-code-checks.yml
  .golangci.yaml
  Makefile
  docs/contributor/releasing.md
  hack/load-tests/run-load-test.sh
  internal/images/images.go
  internal/reconciler/logpipeline/fluentbit/reconciler_test.go
  internal/resources/otelcollector/agent_test.go
  internal/resources/otelcollector/gateway_test.go
  internal/resources/otelcollector/testdata/log-gateway.yaml
  internal/resources/otelcollector/testdata/metric-agent.yaml
  internal/resources/otelcollector/testdata/metric-gateway-istio.yaml
  internal/resources/otelcollector/testdata/metric-gateway.yaml
  internal/resources/otelcollector/testdata/trace-gateway.yaml
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/populateimages/main.go
  main.go
  sec-scanners-config.yaml
  test/e2e/overrides_test.go
  test/testkit/images.go
  test/testkit/mocks/backend/deployment.go
  test/testkit/mocks/telemetrygen/telemetrygen.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump google.golang.org/protobuf from 1.35.2 to 1.36.0 (#1686)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: Remove validating webhook deletion logic (#1684)"
  internal/reconciler/telemetry/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump golang.org/x/crypto from 0.30.0 to 0.31.0 in /internal/tools (#1675)"
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

Revert "chore: bump github.com/vladopajic/go-test-coverage/v2 from 2.11.0 to 2.11.1 in /internal/tools (#1680)"
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

Revert "chore: Apply security suggestions for gha (#1681)"
  .github/workflows/pr-github-checks.yml
Due: none

Revert "chore: Rename dev release to experimental release (#1682)"
  .github/template/prepare-test/action.yaml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-lifecycle.yml
  .github/workflows/tag-release.yml
  .gitignore
  .goreleaser.yaml
  Makefile
  docs/contributor/development.md
  docs/contributor/installation.md
  docs/contributor/pocs/performance-tests/metrics/metrics.md
  docs/contributor/releasing.md
  hack/get-kyma-filename.sh
  hack/release.sh
  hack/upgrade-test.sh
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump the k8s group across 1 directory with 4 updates (#1674)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "fix: Remove CPU Limits from all resources (#1677)"
  config/manager/manager.yaml
  controllers/telemetry/logpipeline_controller.go
  internal/resources/fluentbit/resources.go
  internal/resources/fluentbit/resources_test.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/testdata/log-gateway.yaml
  internal/resources/otelcollector/testdata/metric-agent.yaml
  internal/resources/otelcollector/testdata/metric-gateway-istio.yaml
  internal/resources/otelcollector/testdata/metric-gateway.yaml
  internal/resources/otelcollector/testdata/trace-gateway.yaml
  internal/resources/selfmonitor/resources.go
  internal/resources/selfmonitor/resources_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
