Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

add unit test for setting kyma instrumentation scope
  internal/otelcollector/config/metric/gateway/processors_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix linting
  internal/otelcollector/config/metric/gateway/receivers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

rename kyma input annotation and refactor it into a const
  internal/otelcollector/config/metric/gateway/config_builder.go
  internal/otelcollector/config/metric/gateway/config_builder_test.go
  internal/otelcollector/config/metric/gateway/processors_test.go
  internal/otelcollector/config/metric/gateway/receivers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: Add a new reason for the pipelines
  docs/user/resources/02-logpipeline.md
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
  internal/conditions/conditions.go
  internal/reconciler/commonstatus/checker.go
  internal/reconciler/commonstatus/checker_test.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/tracepipeline/reconciler_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix send batch size
  hack/load-tests/log-load-test-setup.yaml
Due: none

rename v1beta1 test label to experimental
  .github/workflows/pr-integration.yml
  test/e2e/logs_basic_v1beta1_test.go
  test/e2e/metrics_basic_v1beta1_test.go
  test/e2e/traces_basic_v1beta1_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

switch log load test to kustomize
  hack/load-tests/log-load-test-setup.yaml
  hack/load-tests/otel-logs/base/base.env
  hack/load-tests/otel-logs/base/config/receiver.yaml
  hack/load-tests/otel-logs/base/config/relay.yaml
  hack/load-tests/otel-logs/base/kustomization.yaml
  hack/load-tests/otel-logs/base/log-gateway.yaml
  hack/load-tests/otel-logs/base/log-generator.yaml
  hack/load-tests/otel-logs/base/log-receiver.yaml
  hack/load-tests/otel-logs/batch/config/receiver.yaml
  hack/load-tests/otel-logs/batch/config/relay.yaml
  hack/load-tests/otel-logs/batch/kustomization.yaml
  hack/load-tests/otel-logs/big/kustomization.yaml
  hack/load-tests/otel-logs/big/log-generator.yaml
  hack/load-tests/run-load-test.sh
Due: none

convert vars to replace in kustomize
  hack/load-tests/otel-logs/base/config/relay.yaml
  hack/load-tests/otel-logs/base/kustomization.yaml
  hack/load-tests/otel-logs/base/log-generator.yaml
  hack/load-tests/otel-logs/base/namespace.yaml
  hack/load-tests/otel-logs/batch/config/relay.yaml
  hack/load-tests/otel-logs/batch/kustomization.yaml
  hack/load-tests/otel-logs/big/kustomization.yaml
Due: none

fix namespace
  hack/load-tests/otel-logs/base/namespace.yaml
Due: none

Implement TW Review
  docs/user/02-logs.md
  docs/user/03-traces.md
  docs/user/04-metrics.md
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add overlay flag
  .github/workflows/pr-loadtest.yml
  hack/load-tests/matrix_includes.json
  hack/load-tests/otel-logs/batch/kustomization.yaml
  hack/load-tests/run-load-test.sh
Due: none

move from mocks to stubs
  .mockery.yaml
  internal/reconciler/commonstatus/checker_test.go
  internal/reconciler/commonstatus/stubs/daemon_set_prober.go
  internal/reconciler/commonstatus/stubs/deployment_set_prober.go
  internal/reconciler/logparser/mocks/daemon_set_prober.go
  internal/reconciler/logparser/status_test.go
  internal/reconciler/logpipeline/mocks/daemon_set_prober.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/mocks/daemon_set_prober.go
  internal/reconciler/metricpipeline/mocks/deployment_prober.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/tracepipeline/mocks/deployment_prober.go
  internal/reconciler/tracepipeline/reconciler_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

change output
  hack/load-tests/convert-results.py
Due: none

add tag workflow
  .github/workflows/build-image.yml
Due: none

test slack webhook failure
  .github/workflows/pr-lifecycle.yml
Due: none

fix changed input prepare-test
  .github/template/prepare-test/action.yaml
Due: none

add slack webhook notification on failure
  .github/workflows/build-image.yml
Due: none

test slack webhook
  .github/workflows/pr-lifecycle.yml
Due: none

add checkout for slack step
  .github/workflows/build-image.yml
Due: none

fix notify-on-failure
  .github/template/prepare-test/action.yaml
  .github/workflows/build-image.yml
Due: none

test-image-workflow
  .github/workflows/build-image.yml
Due: none

rm chmod from integration
  .github/workflows/branch-integration.yml
Due: none

move slack test to mgr-upgrade job
  .github/workflows/pr-lifecycle.yml
Due: none

add shell, cleanup cmd
  .github/template/prepare-test/action.yaml
  .github/workflows/tag-release.yml
Due: none

revert tests
  .github/workflows/pr-lifecycle.yml
Due: none

add timeout for await_image
  hack/await_image.sh
Due: none

wait image builder gha instead of prow
  .github/template/prepare-test/action.yaml
  .github/workflows/branch-integration.yml
  .github/workflows/pr-lifecycle.yml
  .github/workflows/tag-release.yml
  hack/await_image.sh
Due: none

fix pr lifecycle workflow
  .github/workflows/pr-lifecycle.yml
Due: none

change timeout to 15 mins
  hack/await_image.sh
Due: none

test slack wh
  .github/workflows/pr-lifecycle.yml
Due: none

Apply suggestions from code review
  docs/user/resources/02-logpipeline.md
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: Update self-monitor to prometheus 2.53.1 (#1299)
  docs/contributor/benchmarks/README.md
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fixes based on review comments
  internal/conditions/conditions.go
  internal/conditions/error_to_message_test.go
  internal/reconciler/commonstatus/checker_test.go
  internal/reconciler/logparser/status_test.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/tracepipeline/reconciler_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

test: Add KeepOriginalBody E2E tests (#1320)
  apis/telemetry/v1alpha1/logpipeline_types.go
  apis/telemetry/v1alpha1/zz_generated.deepcopy.go
  apis/telemetry/v1beta1/logpipeline_types.go
  apis/telemetry/v1beta1/zz_generated.deepcopy.go
  internal/fluentbit/config/builder/config_builder_test.go
  internal/fluentbit/config/builder/kubernetes_filter.go
  internal/fluentbit/config/builder/kubernetes_filter_test.go
  internal/testutils/log_pipeline_builder.go
  test/e2e/logs_drop_labels_test.go
  test/e2e/logs_keep_annotation_test.go
  test/e2e/logs_keep_original_body_test.go
  test/testkit/matchers/log/log_matchers.go
  test/testkit/mocks/backend/fluentd/config_map.go
  test/testkit/mocks/loggen/log_producer.go
  webhook/dryrun/testdata/expected/pipelines/dynamic/logpipeline-1.conf
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

lint fix
  .golangci.yaml
  internal/reconciler/commonstatus/checker_test.go
  internal/reconciler/commonstatus/stubs/daemon_set_prober.go
  internal/reconciler/commonstatus/stubs/deployment_set_prober.go
  internal/reconciler/logparser/status_test.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/tracepipeline/reconciler_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: Add a new reason for the pipelines (#1322)
  docs/user/resources/02-logpipeline.md
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
  internal/conditions/conditions.go
  internal/conditions/error_to_message_test.go
  internal/reconciler/commonstatus/checker.go
  internal/reconciler/commonstatus/checker_test.go
  internal/reconciler/logparser/status_test.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/tracepipeline/reconciler_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

rm checkout n improve arithmetic
  .github/workflows/build-image.yml
  hack/await_image.sh
Due: none

chore: Move from mocks to stubs (#1324)
  .golangci.yaml
  .mockery.yaml
  internal/reconciler/commonstatus/checker_test.go
  internal/reconciler/commonstatus/stubs/daemon_set_prober.go
  internal/reconciler/commonstatus/stubs/deployment_set_prober.go
  internal/reconciler/logparser/mocks/daemon_set_prober.go
  internal/reconciler/logparser/status_test.go
  internal/reconciler/logpipeline/mocks/daemon_set_prober.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/mocks/daemon_set_prober.go
  internal/reconciler/metricpipeline/mocks/deployment_prober.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/tracepipeline/mocks/deployment_prober.go
  internal/reconciler/tracepipeline/reconciler_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: Implement TW Review (#1323)
  docs/user/02-logs.md
  docs/user/03-traces.md
  docs/user/04-metrics.md
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: Migrate image builder workflow from prow to GH action (#1303)
  .github/template/prepare-test/action.yaml
  .github/workflows/branch-integration.yml
  .github/workflows/build-image.yml
  .github/workflows/pr-lifecycle.yml
  .github/workflows/tag-release.yml
  hack/await_image.sh
Due: none

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
