Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

chore: standardize naming conventions in GitHub Actions workflows and templates
  .github/template/setup-golang/action.yaml
  .github/template/test-cleanup/action.yaml
  .github/template/test-execute/action.yaml
  .github/template/test-setup/action.yaml
  .github/template/test-summary/action.yaml
  .github/workflows/build-directory-size-reporter-image.yml
  .github/workflows/build-manager-image.yml
  .github/workflows/build-sample-app-image.yml
  .github/workflows/build-self-monitor-image.yml
  .github/workflows/build-stdout-log-generator-image.yaml
  .github/workflows/gardener-integration.yml
  .github/workflows/periodic-github-checks.yml
  .github/workflows/pr-all-checks-passed.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-loadtest.yml
  .github/workflows/pr-release.yml
  .github/workflows/pr-upgrade.yml
  .github/workflows/sync-external-images.yml
  .github/workflows/tag-release.yml
Due: none

lint
  webhook/utils/transformfilter.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: standardize naming conventions in GitHub Actions workflows and templates (#2749)
  .github/template/setup-golang/action.yaml
  .github/template/test-cleanup/action.yaml
  .github/template/test-execute/action.yaml
  .github/template/test-setup/action.yaml
  .github/template/test-summary/action.yaml
  .github/workflows/build-directory-size-reporter-image.yml
  .github/workflows/build-manager-image.yml
  .github/workflows/build-sample-app-image.yml
  .github/workflows/build-self-monitor-image.yml
  .github/workflows/build-stdout-log-generator-image.yaml
  .github/workflows/gardener-integration.yml
  .github/workflows/periodic-github-checks.yml
  .github/workflows/pr-all-checks-passed.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-loadtest.yml
  .github/workflows/pr-release.yml
  .github/workflows/pr-upgrade.yml
  .github/workflows/sync-external-images.yml
  .github/workflows/tag-release.yml
Due: none

lower coverage because there are untestable code
  .testcoverage.yml
Due: none

Use WithResourceAttribute instead of hidden WithEmptyAttributes option
  test/e2e/logs/gateway/empty_enrichment_values_test.go
  test/e2e/metrics/gateway/empty_enrichment_values_test.go
  test/e2e/traces/empty_enrichment_values_test.go
  test/testkit/mocks/telemetrygen/telemetrygen.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

bump images for 1.54.0 release
  .env
  helm/Chart.yaml
  helm/charts/default/Chart.yaml
  helm/charts/experimental/Chart.yaml
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adr
  docs/contributor/arch/029-batch-processor-migration-to-exporterhelper.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update
  docs/contributor/arch/029-batch-processor-migration-to-exporterhelper.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update again
  docs/contributor/arch/029-batch-processor-migration-to-exporterhelper.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix typos
  docs/contributor/arch/029-batch-processor-migration-to-exporterhelper.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: bump images for 1.54.0 release (#2750)
  .env
  helm/Chart.yaml
  helm/charts/default/Chart.yaml
  helm/charts/experimental/Chart.yaml
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update Helm chart metadata for 1.54.0
  index.yaml
Due: none

Fix typo in workflow name and update branches-ignore
  .github/workflows/pr-all-checks-passed.yml
Due: none

fix: typo in workflow name and update branches-ignore (#2752)
  .github/workflows/pr-all-checks-passed.yml
Due: none

waiting must happen after applying all objects (except pipelines)
  test/testkit/k8s/objects.go
  test/testkit/k8s/objects_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

allow gardener tests to be triggered using test-on-gardener label
  .github/workflows/gardener-integration.yml
Due: none

use dev image during pull_request_target
  .github/workflows/gardener-integration.yml
Due: none

chore: update base images to golang 1.25.5 and alpine 3.23
  .env
  Dockerfile
  dependencies/directory-size-exporter/Dockerfile
  dependencies/sample-app/Dockerfile
  dependencies/stdout-log-generator/Dockerfile
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

fix
  .env
  external-images.yaml
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

fix
  dependencies/telemetry-self-monitor/envs
Due: pull-telemetry-manager-verify-module

fix
  .env
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

chore: Update images for golang to 1.25.5 and alpine to 3.23.0 (#2755)
  Dockerfile
  dependencies/directory-size-exporter/Dockerfile
  dependencies/sample-app/Dockerfile
  dependencies/stdout-log-generator/Dockerfile
  dependencies/telemetry-self-monitor/envs
  external-images.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

chore: update to golang 1.25.5 and alpine 3.23
  .env
  dependencies/directory-size-exporter/go.mod
  dependencies/populateimages/go.mod
  dependencies/sample-app/go.mod
  dependencies/stdout-log-generator/go.mod
  go.mod
  helm/values.yaml
  internal/tools/go.mod
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

apply suggestions
  webhook/logpipeline/v1alpha1/validator.go
  webhook/logpipeline/v1beta1/validator.go
  webhook/metricpipeline/v1alpha1/validator.go
  webhook/metricpipeline/v1beta1/validator.go
  webhook/tracepipeline/v1alpha1/validator.go
  webhook/tracepipeline/v1beta1/validator.go
  webhook/utils/transformfilter.go
  webhook/utils/transformfilter_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

apply some suggestions from code review
  docs/contributor/arch/029-batch-processor-migration-to-exporterhelper.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

apply more suggestions
  docs/contributor/arch/029-batch-processor-migration-to-exporterhelper.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

apply final suggestions
  docs/contributor/arch/029-batch-processor-migration-to-exporterhelper.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

line breaks
  docs/contributor/arch/029-batch-processor-migration-to-exporterhelper.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

remove file backend (not relevant)
  docs/contributor/arch/029-batch-processor-migration-to-exporterhelper.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

move alternatives to end
  docs/contributor/arch/029-batch-processor-migration-to-exporterhelper.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix
  docs/contributor/arch/029-batch-processor-migration-to-exporterhelper.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: allow gardener tests to be triggered using test-on-gardener label (#2754)
  .github/workflows/gardener-integration.yml
Due: none

fix again
  docs/contributor/arch/029-batch-processor-migration-to-exporterhelper.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix setup description
  docs/contributor/arch/029-batch-processor-migration-to-exporterhelper.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

trigger pull request on labelling
  .github/workflows/gardener-integration.yml
Due: none

Apply suggestions from code review
  docs/contributor/arch/029-batch-processor-migration-to-exporterhelper.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

cleanup is a bad idea for upgrade tests
  test/e2e/upgrade/logs_fluentbit_upgrade_test.go
  test/e2e/upgrade/logs_upgrade_test.go
  test/e2e/upgrade/metrics_upgrade_test.go
  test/e2e/upgrade/traces_upgrade_test.go
  test/testkit/k8s/objects.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix workflow
  .github/workflows/pr-upgrade.yml
Due: none

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
