Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

remove unit tests
  internal/otelcollector/config/otlpgateway/config_builder_test.go
  internal/otelcollector/config/otlpgateway/testdata/vpa-active-logs.yaml
  internal/otelcollector/config/otlpgateway/testdata/vpa-active-metrics.yaml
  internal/otelcollector/config/otlpgateway/testdata/vpa-active-traces.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove unit tests
  internal/reconciler/otlpgateway/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: adjust diagrams according to new OTLP Gateway architecture
  docs/user/assets/manager-arch.drawio.svg
  docs/user/assets/manager-resources.drawio.svg
  docs/user/assets/metrics-resources.drawio.svg
  docs/user/assets/telemetry-arch.drawio.svg
Due: none

revert back to version 5
  .env
  docs/contributor/benchmarks/results/logs.md
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint

add perf results with prev version
  docs/contributor/benchmarks/results/self-monitor.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Fix wrong comment
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/outage_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: add VPA support for OTLP gateway (#3387)
  controllers/telemetry/otlpgateway_controller.go
  docs/user/_sidebar.ts
  docs/user/manage-pipeline-resources.md
  docs/user/troubleshooting.md
  internal/otelcollector/config/otlpgateway/config_builder.go
  internal/otelcollector/config/otlpgateway/config_builder_test.go
  internal/otelcollector/config/otlpgateway/testdata/vpa-active-all-signals.yaml
  internal/reconciler/otlpgateway/interfaces.go
  internal/reconciler/otlpgateway/mocks/gateway_applier_deleter.go
  internal/reconciler/otlpgateway/reconciler.go
  internal/reconciler/otlpgateway/reconciler_test.go
  internal/reconciler/otlpgateway/stubs/node_size_tracker.go
  internal/reconciler/otlpgateway/stubs/vpa_status_checker.go
  internal/resources/common/annotations.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/core.go
  internal/resources/otelcollector/core_test.go
  internal/resources/otelcollector/legacy_gateway_cleanup_test.go
  internal/resources/otelcollector/otlp_gateway.go
  internal/resources/otelcollector/otlp_gateway_test.go
  internal/resources/otelcollector/testdata/otlp-gateway-vpa-zero-max-memory.yaml
  internal/resources/otelcollector/testdata/otlp-gateway-vpa.yaml
  internal/resources/otelcollector/testdata/otlp-multi-instance-gateway-vpa.yaml
  internal/utils/telemetry/utils.go
  internal/utils/telemetry/utils_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix test coverage
  internal/pipelines/pipelines_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: set body_size_limit in all prometheus receiver scrape loops
  internal/otelcollector/config/metricagent/prometheus_receiver.go
  internal/otelcollector/config/metricagent/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/istio-envoy.yaml
  internal/otelcollector/config/metricagent/testdata/istio-installed-and-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-installed-and-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/istio-namespace-no-filters.yaml
  internal/otelcollector/config/metricagent/testdata/istio-not-installed-and-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-not-installed-and-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-only.yaml
  internal/otelcollector/config/metricagent/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-only.yaml
  internal/otelcollector/config/metricagent/testdata/setup-comprehensive.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

correct some misleading sentences
  docs/contributor/pocs/consistent-batching-across-components/01-stanza-filelog-batching.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

remove another misleading statement
  docs/contributor/pocs/consistent-batching-across-components/01-stanza-filelog-batching.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

combine tables
  docs/contributor/pocs/consistent-batching-across-components/01-stanza-filelog-batching.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

bump OTel version to 0.150.0
  .env
  dependencies/sample-app/main.go
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: update self-monitor to prometheus 3.11.1 (#3382)
  .env
  dependencies/telemetry-self-monitor/envs
  docs/contributor/benchmarks/results/self-monitor.md
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update busola warning
  helm/files/telemetries-busola-config.yaml
Due: none

add deprecation warning in docu
  docs/user/filter-and-process/automatic-data-enrichment.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

track service attributes enrichment strategy
  internal/metrics/metrics.go
  internal/reconciler/telemetry/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix linting
  internal/reconciler/telemetry/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add unit tests for the new metric
  internal/reconciler/telemetry/reconciler_test.go
  internal/reconciler/telemetry/test_helpers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

disable VPA for load tests
  hack/load-tests/log-agent-test-setup.yaml
  hack/load-tests/metric-load-test-setup.yaml
  hack/load-tests/trace-load-test-setup.yaml
Due: none

Remove old env vars from docs
  docs/user/otlp-input.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Implement review comments
  docs/user/assets/manager-arch.drawio.svg
  docs/user/assets/telemetry-arch.drawio.svg
Due: none

fix load test script for gateway changes
  hack/load-tests/run-load-test.sh
Due: none

Apply suggestions from code review
  docs/contributor/pocs/consistent-batching-across-components/01-stanza-filelog-batching.md
  docs/contributor/pocs/consistent-batching-across-components/02-log-agent-batching.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

reword and remove the flush mechanism explanation
  docs/contributor/pocs/consistent-batching-across-components/01-stanza-filelog-batching.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: adjust diagrams according to new OTLP Gateway architecture (#3423)
  docs/user/assets/manager-arch.drawio.svg
  docs/user/assets/manager-resources.drawio.svg
  docs/user/assets/metrics-resources.drawio.svg
  docs/user/assets/telemetry-arch.drawio.svg
Due: none

fix static memory values
  internal/resources/otelcollector/core_test.go
  internal/resources/otelcollector/otlp_gateway.go
  internal/resources/otelcollector/testdata/otlp-gateway-fips-enabled.yaml
  internal/resources/otelcollector/testdata/otlp-gateway-istio.yaml
  internal/resources/otelcollector/testdata/otlp-gateway-vpa-zero-max-memory.yaml
  internal/resources/otelcollector/testdata/otlp-gateway-vpa.yaml
  internal/resources/otelcollector/testdata/otlp-gateway.yaml
  internal/resources/otelcollector/testdata/otlp-multi-instance-gateway-vpa.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix load test scripts
  hack/load-tests/run-load-test.sh
Due: none

fix linter issues
  internal/resources/otelcollector/core_test.go
  internal/resources/otelcollector/otlp_gateway.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update busola warning and docu warning
  docs/user/filter-and-process/automatic-data-enrichment.md
  helm/files/telemetries-busola-config.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

bring back the full warning in busola
  helm/files/telemetries-busola-config.yaml
Due: none

docs: align ADR structure with MADR template and sibling conventions
  docs/contributor/arch/035-optional-runtime-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix: allow empty ValueType for optional fields in v1beta1 CRDs
  apis/telemetry/v1beta1/logpipeline_types.go
  apis/telemetry/v1beta1/shared_types.go
  helm/charts/default/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_tracepipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_tracepipelines.yaml
  test/e2e/logs/misc/reject_creation_test.go
  test/e2e/metrics/misc/reject_creation_test.go
  test/e2e/traces/reject_creation_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: use dedicated larger runners for pr-integration workflow
  .github/workflows/pr-integration.yml
Due: none

feat: new clusters will use new strategy for enriching service attributes (#3428)
  docs/user/filter-and-process/automatic-data-enrichment.md
  helm/files/telemetries-busola-config.yaml
  internal/metrics/metrics.go
  internal/reconciler/telemetry/reconciler.go
  internal/reconciler/telemetry/reconciler_test.go
  internal/reconciler/telemetry/test_helpers_test.go
  telemetry-default-cr.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update load test scripts
  docs/contributor/benchmarks/results/metrics.md
  docs/contributor/benchmarks/results/traces.md
  hack/load-tests/run-load-test.sh
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update max allowed memory value from 30% to 15%
  docs/contributor/arch/033-vertical-pod-autoscaler-VPA-architecture.md
  docs/user/manage-pipeline-resources.md
  docs/user/troubleshooting.md
  internal/nodesize/tracker.go
  internal/nodesize/tracker_test.go
  internal/reconciler/logpipeline/otel/interfaces.go
  internal/reconciler/metricpipeline/interfaces.go
  internal/reconciler/otlpgateway/interfaces.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "update max allowed memory value from 30% to 15%"
  docs/contributor/arch/033-vertical-pod-autoscaler-VPA-architecture.md
  docs/user/manage-pipeline-resources.md
  docs/user/troubleshooting.md
  internal/nodesize/tracker.go
  internal/nodesize/tracker_test.go
  internal/reconciler/logpipeline/otel/interfaces.go
  internal/reconciler/metricpipeline/interfaces.go
  internal/reconciler/otlpgateway/interfaces.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
