Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

refactor: use pointer for smallestMemory instead of initialized flag
  internal/nodewatch/node_memory_tracker.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: add check if load metrics are produced after test execution (#3048)
  hack/load-tests/run-load-test.sh
Due: none

Apply suggestions from code review
  CLAUDE.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Apply suggestions from code review
  docs/contributor/arch/032-vertical-pod-autoscaler-VPA-architecture.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Externalize docs/CLAUDE.md
  CLAUDE.md
  docs/CLAUDE.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Add comment
  internal/nodewatch/node_memory_tracker.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Implement review comments
  internal/otelcollector/config/metricagent/kubeletstats_receivers.go
  internal/otelcollector/config/metricagent/kubeletstats_receivers_test.go
  internal/otelcollector/config/metricagent/types.go
  test/e2e/misc/telemetry_log_analysis_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

refactor: rename nodewatch to nodesize and replace singleton with injected Tracker
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/tracepipeline_controller.go
  internal/metrics/metrics.go
  internal/nodesize/tracker.go
  internal/nodesize/tracker_test.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add rbac permissions
  .github/workflows/pr-integration.yml
  helm/templates/aggregation-roles.yaml
Due: none

fix
  test/e2e/misc/rbac_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: suppress gosec G118 false positive for deferred context cancellation
  internal/secretwatch/client.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  helm/charts/default/templates/operator.kyma-project.io_telemetries.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_tracepipelines.yaml
  helm/charts/experimental/templates/operator.kyma-project.io_telemetries.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_tracepipelines.yaml
Due: none

make lint-fix
  test/e2e/misc/rbac_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

set vpaEnabled dynamically based on existence of annotation and VPA CRD
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  internal/reconciler/logpipeline/otel/interfaces.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/metricpipeline/interfaces.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/resources/names/names.go
  internal/resources/otelcollector/agent.go
  internal/utils/telemetry/utils.go
  internal/vpastatus/vpa_status_checker.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

run go mod tidy
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

increase fault injection to 95%
  test/selfmonitor/backpressure_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix workflows
  .github/workflows/pr-integration.yml
Due: none

chore: update Claude instructions with Kyma documentation guidelines (#3104)
  CLAUDE.md
  docs/CLAUDE.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix linting
  internal/vpastatus/vpa_status_checker.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: update self-monitor to prometheus 3.10.0
  .env
  dependencies/telemetry-self-monitor/Dockerfile
  dependencies/telemetry-self-monitor/envs
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: rename otelcollector config types for consistency reasons
  internal/otelcollector/config/common/component_builder.go
  internal/otelcollector/config/common/component_builder_test.go
  internal/otelcollector/config/common/config_builder.go
  internal/otelcollector/config/common/config_builder_test.go
  internal/otelcollector/config/common/oauth2extension_config_builder.go
  internal/otelcollector/config/common/oauth2extension_config_builder_test.go
  internal/otelcollector/config/common/otlpexporter_config_builder.go
  internal/otelcollector/config/common/otlpexporter_config_builder_test.go
  internal/otelcollector/config/common/processor_builders.go
  internal/otelcollector/config/common/processor_builders_test.go
  internal/otelcollector/config/common/types.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/logagent/filelog_receiver.go
  internal/otelcollector/config/logagent/filelog_reciever_test.go
  internal/otelcollector/config/logagent/types.go
  internal/otelcollector/config/loggateway/config_builder.go
  internal/otelcollector/config/loggateway/types.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricagent/kubeletstats_receivers.go
  internal/otelcollector/config/metricagent/kubeletstats_receivers_test.go
  internal/otelcollector/config/metricagent/prometheus_receiver.go
  internal/otelcollector/config/metricagent/prometheus_receiver_test.go
  internal/otelcollector/config/metricagent/types.go
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/types.go
  internal/otelcollector/config/tracegateway/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix error swallowing
  internal/vpastatus/vpa_status_checker.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

clean up VPA if it is disabled
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/resources/otelcollector/agent.go
  internal/vpastatus/vpa_status_checker.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

rename IsVpaActive func to VpaCRDExists
  internal/reconciler/logpipeline/otel/interfaces.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/metricpipeline/interfaces.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/vpastatus/vpa_status_checker.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

delete VPA when deleting agent resources
  internal/reconciler/logpipeline/otel/interfaces.go
  internal/reconciler/logpipeline/otel/mocks/agent_applier_deleter.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/metricpipeline/interfaces.go
  internal/reconciler/metricpipeline/mocks/agent_applier_deleter.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/agent_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update test/selfmonitor/backpressure_test.go
  test/selfmonitor/backpressure_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: add k3d proxy to external-images (#3118)
  external-images.yaml
Due: none

use k3d load balancer from mirror registry
  .env
  hack/make/provision.mk
Due: none

Rename types for additional consistency + remove unused types
  internal/otelcollector/config/common/component_builder.go
  internal/otelcollector/config/common/component_builder_test.go
  internal/otelcollector/config/common/config_builder.go
  internal/otelcollector/config/common/types.go
  internal/otelcollector/config/metricagent/types.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Rename ComponentBuilder Collector field back to Config
  internal/otelcollector/config/common/component_builder.go
  internal/otelcollector/config/common/component_builder_test.go
  internal/otelcollector/config/common/types.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/loggateway/config_builder.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/tracegateway/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Consistency re-namings + review comments
  internal/otelcollector/config/common/component_builder.go
  internal/otelcollector/config/common/config_builder.go
  internal/otelcollector/config/common/config_builder_test.go
  internal/otelcollector/config/common/oauth2extension_config_builder.go
  internal/otelcollector/config/common/otlpexporter_config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Consistency re-namings + review comments
  internal/otelcollector/config/common/component_builder.go
  internal/otelcollector/config/common/component_builder_test.go
  internal/otelcollector/config/common/config_builder.go
  internal/otelcollector/config/common/config_builder_test.go
  internal/otelcollector/config/common/otlpexporter_config_builder.go
  internal/otelcollector/config/common/types.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

perf results
  docs/contributor/benchmarks/results/self-monitor.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

test: increase fault injection to 95% (#3119)
  test/selfmonitor/backpressure_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Apply suggestions from code review
  docs/contributor/otel-bump-guide.md
  docs/user/filter-and-process/ottl-transform-and-filter/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

feat: optimize informer cache with label selectors and scoped resource types
  internal/k8sclients/labeler.go
  internal/k8sclients/labeler_test.go
  internal/k8sclients/managed_resource_client.go
  internal/k8sclients/noop_watch_client.go
  internal/k8sclients/owner_reference_setter.go
  internal/k8sclients/owner_reference_setter_test.go
  internal/reconciler/logpipeline/fluentbit/reconciler.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/telemetry/reconciler.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/resourcelock/lock.go
  internal/resources/common/labels.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

refactor: use testify require instead of assert in labeler tests
  internal/k8sclients/labeler_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

refactor: add labels parameter to MakeServiceAccount and MakeClusterRoleBinding
  internal/resources/common/resources.go
  internal/resources/common/resources_test.go
  internal/resources/fluentbit/resources.go
  internal/resources/fluentbit/testdata/fluentbit.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
