Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

feat: update to fluent-bit 4.0.5
  .env
  internal/images/images.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

merge conflicts
  .env
  config/manager/manager.yaml
  internal/images/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix images
  .env
  dependencies/populateimages/main.go
  docs/contributor/releasing.md
  hack/load-tests/run-load-test.sh
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

First selfmonitoring migration successful
  test/selfmonitor/healthy_test.go
  test/selfmonitor/main_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix misspelled variables
  test/integration-migrated/istio/metrics_prometheus_input_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Migrate healthy selfmon test
  test/selfmonitor/healthy_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

perf results
  docs/contributor/benchmarks/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Update docs/contributor/releasing.md
  docs/contributor/releasing.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Apply suggestions from code review
  docs/contributor/arch/016a-strategy-for-supported-ottl-functions.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

forgot to change copied text
  test/e2e-migrated/metrics/runtime_input_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update test/integration-migrated/istio/access_logs_test.go
  test/integration-migrated/istio/access_logs_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add sampels
  docs/user/resources/01-telemetry.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

check network interfaces in server node
  .github/workflows/pr-integration.yml
Due: none

Update gateways.md
  docs/user/gateways.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

test with docker exec
  .github/workflows/pr-integration.yml
Due: none

updated
  docs/contributor/arch/022-dynatrace-cummulative-to-delta-support.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

feat: update to fluent-bit 4.0.5 (#2327)
  .env
  config/manager/manager.yaml
  dependencies/populateimages/main.go
  docs/contributor/benchmarks/README.md
  docs/contributor/releasing.md
  hack/load-tests/run-load-test.sh
  sec-scanners-config.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

outage test WIP
  test/selfmonitor/outage_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Use BackendEventually matches assert function
  test/integration-migrated/istio/metrics_istio_envoy_multi_pipeline_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update docs/contributor/arch/022-dynatrace-cummulative-to-delta-support.md
  docs/contributor/arch/022-dynatrace-cummulative-to-delta-support.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Apply suggestions from code review
  docs/user/gateways.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

undo filter
  internal/otelcollector/config/metric/agent/config.go
  internal/otelcollector/config/metric/agent/config_builder.go
  internal/otelcollector/config/metric/agent/processors.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: document cluster name enrichment (#2324)
  docs/user/gateways.md
  docs/user/resources/01-telemetry.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Improve metrics_istio_input_test
  test/integration-migrated/istio/metrics_istio_input_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "undo filter"
  internal/otelcollector/config/metric/agent/config.go
  internal/otelcollector/config/metric/agent/config_builder.go
  internal/otelcollector/config/metric/agent/processors.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

test change agent no
  .k3d-kyma.yaml
Due: none

Introduce functional options for the BackendDataEventually/ConsistentlyMatches helper functions and refactor affected tests accordingly
  test/e2e-migrated/logs/agent/severity_parser_test.go
  test/e2e-migrated/logs/agent/trace_parser_test.go
  test/e2e-migrated/logs/fluentbit/base_payload_with_http_test.go
  test/e2e-migrated/logs/shared/keep_original_body_test.go
  test/e2e-migrated/metrics/cloud_provider_attributes_test.go
  test/e2e-migrated/metrics/prometheus_input_test.go
  test/e2e-migrated/metrics/runtime_input_test.go
  test/e2e-migrated/metrics/service_name_test.go
  test/e2e-migrated/traces/service_name_test.go
  test/integration-migrated/istio/access_logs_otlp_test.go
  test/integration-migrated/istio/access_logs_test.go
  test/integration-migrated/istio/metrics_prometheus_input_test.go
  test/integration-migrated/istio/traces_istio_routing_test.go
  test/testkit/assert/backend.go
  test/testkit/assert/logs.go
  test/testkit/assert/metrics.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: revamp
  docs/user/01-manager.md
  docs/user/02-logs.md
  docs/user/03-traces.md
  docs/user/04-metrics copy.md
  docs/user/04-metrics.md
  docs/user/README.md
  docs/user/_sidebar.md
  docs/user/architecture.md
  docs/user/assets/manager-arch.drawio.svg
  docs/user/assets/manager-resources.drawio.svg
  docs/user/gateways.md
  docs/user/pipelines/README.md
  docs/user/pipelines/input.md
  docs/user/pipelines/output.md
  docs/user/traces.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix
  docs/user/02-logs.md
  docs/user/README.md
  docs/user/pipelines/README.md
  docs/user/pipelines/enrichment.md
  docs/user/pipelines/input.md
  docs/user/pipelines/otlp-input.md
  docs/user/pipelines/otlp-output.md
  docs/user/pipelines/output.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

use pr image instead of ENV_IMAGE
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

remove debug line
  .github/workflows/pr-integration.yml
Due: none

fix make syntax
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

revert k3d config
  .k3d-kyma.yaml
Due: none

use manager_image and ENV_MANAGER_IMAGE
  .env
  .github/workflows/gardener-integration.yml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-loadtest.yml
  .github/workflows/pr-upgrade.yml
  Makefile
  dependencies/populateimages/main.go
  docs/contributor/development.md
  docs/contributor/installation.md
  docs/contributor/pocs/integrate-prometheus-with-telemetry-manager-using-alerting.md
  docs/contributor/releasing.md
  hack/build-image.sh
  hack/release.sh
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

generate random string instead of repeatead "a"
  dependencies/stdout-log-generator/main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Remove deprecated build-engine: buildx
  .github/workflows/build-image.yml
  .github/workflows/build-sample-app-image.yml
  .github/workflows/build-stdout-log-generator-image.yaml
  .github/workflows/build-telemetry-self-monitor-image.yml
Due: none

docs: unstructured log parsing ADR
  docs/contributor/arch/022-switch-metric-pipeline-gateway-to-agent.md
  docs/contributor/arch/023-unstructured-log-parsing.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: document ottl function support plan (#2322)
  docs/contributor/arch/016-transform-filter-support-for-telemetry-pipelines.md
  docs/contributor/arch/016a-strategy-for-supported-ottl-functions.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: remove build-engine buildx (#2333)
  .github/workflows/build-image.yml
  .github/workflows/build-sample-app-image.yml
  .github/workflows/build-stdout-log-generator-image.yaml
  .github/workflows/build-telemetry-self-monitor-image.yml
Due: none

apply suggestions
  hack/release.sh
Due: none
