Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

re-add nodes to cache
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

small renaming
  internal/reconciler/logpipeline/otel/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fixes after merge
  controllers/telemetry/tracepipeline_controller.go
  internal/otelcollector/config/otlpgateway/config_builder_metrics.go
  internal/otelcollector/config/otlpgateway/config_builder_traces.go
  internal/otelcollector/config/otlpgateway/testdata/http-protocol-with-custom-path.yaml
  internal/otelcollector/config/otlpgateway/testdata/http-protocol-without-custom-path.yaml
  internal/otelcollector/config/otlpgateway/testdata/log-namespace-excluded.yaml
  internal/otelcollector/config/otlpgateway/testdata/log-namespace-included.yaml
  internal/otelcollector/config/otlpgateway/testdata/log-otlp-input-disabled.yaml
  internal/otelcollector/config/otlpgateway/testdata/log-single-pipeline.yaml
  internal/otelcollector/config/otlpgateway/testdata/metric-comprehensive.yaml
  internal/otelcollector/config/otlpgateway/testdata/metric-namespace-filters.yaml
  internal/otelcollector/config/otlpgateway/testdata/metric-otlp-disabled.yaml
  internal/otelcollector/config/otlpgateway/testdata/metric-otlp-only.yaml
  internal/otelcollector/config/otlpgateway/testdata/metric-single-pipeline.yaml
  internal/otelcollector/config/otlpgateway/testdata/mixed-pipelines.yaml
  internal/otelcollector/config/otlpgateway/testdata/oauth2-authentication.yaml
  internal/otelcollector/config/otlpgateway/testdata/service-enrichment-otel.yaml
  internal/otelcollector/config/otlpgateway/testdata/single-pipeline.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-single-pipeline.yaml
  internal/otelcollector/config/otlpgateway/testdata/user-defined-filters.yaml
  internal/otelcollector/config/otlpgateway/testdata/user-defined-transform-filter.yaml
  internal/otelcollector/config/otlpgateway/testdata/user-defined-transforms.yaml
  internal/reconciler/otlpgateway/mocks/istio_status_checker.go
  internal/reconciler/otlpgateway/reconciler_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix labeler dependencies
  internal/resources/otelcollector/otlp_gateway.go
  internal/resources/otelcollector/testdata/otlp-gateway-fips-enabled.yaml
  internal/resources/otelcollector/testdata/otlp-gateway-istio.yaml
  internal/resources/otelcollector/testdata/otlp-gateway.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix milestone query
  .github/workflows/release.yml
Due: none

chore: fix milestone query for release workflow (#3149)
  .github/workflows/release.yml
Due: none

feat: use nodesize.Tracker for VPA max allowed memory calculation
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  internal/nodesize/tracker.go
  internal/reconciler/logpipeline/otel/interfaces.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/logpipeline/otel/test_helpers_test.go
  internal/reconciler/logpipeline/stubs/node_size_tracker.go
  internal/reconciler/metricpipeline/interfaces.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/metricpipeline/stubs/node_size_tracker.go
  internal/reconciler/metricpipeline/test_helpers_test.go
  internal/utils/k8s/vpa_max_allowed_memory_calculator.go
  internal/utils/k8s/vpa_max_allowed_memory_calculator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

test: add VpaMaxAllowedMemory test to nodesize package
  internal/nodesize/tracker_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix rel workflow
  .github/workflows/release.yml
Due: none

improve force mode
  .github/workflows/release.yml
Due: none

fix
  .gitignore
  test/e2e/traces/reject_creation_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix build image
  .github/workflows/release.yml
Due: none

remove build image trigger tag
  .github/workflows/build-manager-image.yml
Due: none

minor renaming
  internal/nodesize/tracker.go
  internal/nodesize/tracker_test.go
  internal/reconciler/logpipeline/otel/interfaces.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/logpipeline/stubs/node_size_tracker.go
  internal/reconciler/metricpipeline/interfaces.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/metricpipeline/stubs/node_size_tracker.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/agent_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add some fixes
  .github/workflows/build-manager-image.yml
  .github/workflows/release.yml
Due: none

chore: fix rel workflow (#3151)
  .github/workflows/release.yml
Due: none

add cleanup functionality to wait for the manager to remove its created resources
  test/testkit/kubeprep/cleanup.go
  test/testkit/kubeprep/config.go
  test/testkit/kubeprep/manager_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix tag push upstream
  .github/workflows/release.yml
Due: none

feat: allow additional annotationa and labels for manager
  helm/templates/deployment.yaml
  helm/values.yaml
Due: none

fix cehckout wrong code base
  .github/workflows/gardener-integration.yml
  .github/workflows/pr-integration.yml
Due: none

Potential fix for pull request finding
  test/testkit/kubeprep/cleanup.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: fix tag push upstream (#3155)
  .github/workflows/gardener-integration.yml
  .github/workflows/pr-integration.yml
  .github/workflows/release.yml
Due: none

docs: add ADR 034 for configurable metric pipeline collection interval
  docs/contributor/arch/034-metric-pipeline-collection-interval.md
  docs/contributor/assets/034-collection-interval-pipeline.svg
  docs/contributor/assets/034-collection-interval-shared.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Revert "chore: release preparation: Bump version to 1.60.1 (#3154)"
  .env
  helm/Chart.yaml
  helm/charts/default/Chart.yaml
  helm/charts/experimental/Chart.yaml
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

chore: revert "chore: release preparation: Bump version to 1.60.1 (#3154)" (#3158)
  .env
  helm/Chart.yaml
  helm/charts/default/Chart.yaml
  helm/charts/experimental/Chart.yaml
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

fix create tag
  .github/workflows/release.yml
Due: none

docs: add copilot docs instructions
  .github/instructions/docs.instructions.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Revert "chore: release preparation: Bump version to 1.60.1 (#3159)"
  .env
  helm/Chart.yaml
  helm/charts/default/Chart.yaml
  helm/charts/experimental/Chart.yaml
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

chore: fix create tag (#3160)
  .github/workflows/release.yml
Due: none

improve tests for istio
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/outage_test.go
  test/testkit/k8s/objects/virtual_service.go
  test/testkit/mocks/backend/backend.go
  test/testkit/mocks/backend/options.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: revert "chore: release preparation: Bump version to 1.60.1 (#3159)" (#3161)
  .env
  helm/Chart.yaml
  helm/charts/default/Chart.yaml
  helm/charts/experimental/Chart.yaml
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

Add release MPC chart workflow
  .github/workflows/mpc-release.yml
Due: none

chore: add renovate updates for indirect dependencies having vulnerabilities
  renovate.json
Due: none

in progress
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/outage_test.go
  test/testkit/k8s/objects/virtual_service.go
  test/testkit/mocks/backend/backend.go
  test/testkit/mocks/backend/options.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: add renovate updates for indirect dependencies having vulnerabilities (#3169)
  renovate.json
Due: none

chore: fix renovate config
  renovate.json
Due: none

simplify the selfmonitor tests
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/healthy_test.go
  test/selfmonitor/outage_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: restructure Telemetry CR collection interval API in ADR 034
  docs/contributor/arch/034-metric-pipeline-collection-interval.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: increase FluentBit memory limit to 1.5Gi
  internal/resources/fluentbit/resources.go
  internal/resources/fluentbit/testdata/fluentbit.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test
