Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

Change telemetry_types for v1alpha1 too
  apis/operator/v1alpha1/telemetry_types.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Adapt busola config
  helm/files/telemetries-busola-config.yaml
Due: none

Fix linting and generation
  apis/operator/v1alpha1/telemetry_types.go
  apis/operator/v1beta1/telemetry_types.go
  docs/user/resources/01-telemetry.md
  helm/charts/default/templates/operator.kyma-project.io_telemetries.yaml
  helm/charts/experimental/templates/operator.kyma-project.io_telemetries.yaml
  test/e2e/misc/telemetry_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: update dynatrace and CLS dashboards with kyma pipeline metric attribute changes (#3331)
  docs/user/integration/dynatrace/README.md
  docs/user/integration/dynatrace/telemetry-resource-metrics.json
  docs/user/integration/sap-cloud-logging/dashboard-status.ndjson
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add an adr
  docs/contributor/arch/035-optional-runtime-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: refine optional runtime metrics ADR
  docs/contributor/arch/035-optional-runtime-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

implement suggestions
  docs/contributor/pocs/consistent-batching-across-components/01-stanza-filelog-batching.md
  docs/contributor/pocs/consistent-batching-across-components/02-log-agent-batching.md
  docs/contributor/pocs/consistent-batching-across-components/assets/pipeline_batching_emitter.svg
  docs/contributor/pocs/consistent-batching-across-components/assets/pipeline_sync_emitter.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Improve Telemetry CR API deprecation messages
  apis/operator/v1alpha1/telemetry_types.go
  apis/operator/v1beta1/telemetry_types.go
  docs/user/resources/01-telemetry.md
  helm/charts/default/templates/operator.kyma-project.io_telemetries.yaml
  helm/charts/experimental/templates/operator.kyma-project.io_telemetries.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

improve description
  docs/contributor/arch/035-optional-runtime-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: clarify receiver vs metric stability guarantees in ADR
  docs/contributor/arch/035-optional-runtime-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Apply suggestions from code review
  docs/user/manage-pipeline-resources.md
  docs/user/troubleshooting.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

apply review change requests
  docs/user/manage-pipeline-resources.md
  docs/user/troubleshooting.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Ensure consistent capitalization for OTLP Gateway
  apis/operator/v1alpha1/telemetry_types.go
  apis/operator/v1beta1/telemetry_types.go
  controllers/telemetry/otlpgateway_controller.go
  docs/user/resources/01-telemetry.md
  docs/user/resources/02-logpipeline.md
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
  helm/charts/default/templates/operator.kyma-project.io_telemetries.yaml
  helm/charts/experimental/templates/operator.kyma-project.io_telemetries.yaml
  internal/conditions/conditions.go
  internal/reconciler/logpipeline/otel/interfaces.go
  internal/reconciler/logpipeline/otel/reconciler_test.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/otlpgateway/reconciler.go
  internal/reconciler/otlpgateway/reconciler_test.go
  internal/reconciler/telemetry/metric_components_checker_test.go
  internal/reconciler/telemetry/trace_components_checker_test.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/resources/coordinationconfig/otlp_gateway.go
  internal/resources/coordinationconfig/otlp_gateway_test.go
  internal/resources/otelcollector/otlp_gateway.go
  internal/resources/otelcollector/otlp_gateway_test.go
  main.go
  test/e2e/metrics/shared/namespace_selector_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Ensure consistent capitalization for Log Agent
  docs/user/02-logs.md
  docs/user/collecting-logs/README.md
  docs/user/collecting-logs/runtime-input.md
  docs/user/filter-and-process/transformation-to-otlp-logs.md
  docs/user/troubleshooting.md
  external-images.yaml
  internal/reconciler/logpipeline/fluentbit/reconciler_test.go
  internal/reconciler/logpipeline/otel/interfaces.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/logpipeline/otel/reconciler_test.go
  internal/resources/otelcollector/agent_test.go
  internal/resources/selfmonitor/resources.go
  main.go
  test/e2e/logs/shared/disabled_input_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove legacy cleanup VPA
  internal/reconciler/otlpgateway/reconciler.go
  internal/resources/otelcollector/legacy_gateway_cleanup.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

simplify the adr
  docs/contributor/arch/035-optional-runtime-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Ensure consistent capitalization for Metric Agent
  docs/user/collecting-metrics/README.md
  docs/user/collecting-metrics/istio-input.md
  docs/user/collecting-metrics/prometheus-input.md
  docs/user/collecting-metrics/runtime-input.md
  docs/user/troubleshooting.md
  hack/load-tests/run-load-test.sh
  internal/otelcollector/config/common/processor_builders.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/reconciler/metricpipeline/interfaces.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/telemetry/metric_components_checker_test.go
  internal/reconciler/telemetry/status_test.go
  internal/resources/common/labels.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/agent_test.go
  internal/resources/selfmonitor/resources.go
  internal/utils/metricpipeline/metricpipeline.go
  main.go
  test/e2e/metrics/agent/service_enrichment_test.go
  test/e2e/metrics/misc/disabled_input_test.go
  test/selfmonitor/faultenabler.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Ensure consistent capitalization for Metric Agent and Log Agent (leftovers)
  docs/user/resources/01-telemetry.md
  docs/user/resources/02-logpipeline.md
  docs/user/resources/05-metricpipeline.md
  internal/conditions/conditions.go
  internal/reconciler/logpipeline/fluentbit/reconciler_test.go
  internal/reconciler/logpipeline/otel/reconciler_test.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/telemetry/log_components_checker_test.go
  internal/reconciler/telemetry/metric_components_checker_test.go
  test/e2e/logs/shared/disabled_input_test.go
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/outage_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: refactor mocks and stubs for OTLP Gateway reconciler UTs
  internal/reconciler/otlpgateway/reconciler_test.go
  internal/reconciler/otlpgateway/stubs/error_client.go
  internal/reconciler/otlpgateway/stubs/istio_status_checker.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Apply suggestions from code review
  docs/contributor/arch/030-service-attributes-enrichment.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Implement review comments
  docs/contributor/arch/030-service-attributes-enrichment.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Increase backpressure_traces eventually timeout
  test/testkit/assert/traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix linting
  test/testkit/assert/traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add review change requests
  internal/reconciler/otlpgateway/reconciler_test.go
  internal/reconciler/otlpgateway/stubs/node_size_tracker.go
  internal/reconciler/otlpgateway/stubs/vpa_status_checker.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/core.go
  internal/resources/otelcollector/legacy_gateway_cleanup_test.go
  internal/resources/otelcollector/otlp_gateway.go
  internal/resources/otelcollector/otlp_gateway_test.go
  internal/resources/otelcollector/testdata/otlp-gateway-vpa-zero-max-memory.yaml
  internal/resources/otelcollector/testdata/otlp-gateway-vpa.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update docs/contributor/arch/030-service-attributes-enrichment.md
  docs/contributor/arch/030-service-attributes-enrichment.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: update service enrichment ADR (#3419)
  docs/contributor/arch/030-service-attributes-enrichment.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix: ensure GatewayHealthy condition consistency (#3411)
  internal/conditions/conditions.go
  internal/reconciler/commonstatus/checker.go
  internal/reconciler/commonstatus/checker_test.go
  internal/reconciler/logpipeline/otel/status.go
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/tracepipeline/status.go
  test/testkit/assert/traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add unit test for gateway config builder with VPA
  internal/otelcollector/config/otlpgateway/config_builder.go
  internal/otelcollector/config/otlpgateway/config_builder_test.go
  internal/otelcollector/config/otlpgateway/testdata/vpa-active-all-signals.yaml
  internal/otelcollector/config/otlpgateway/testdata/vpa-active-logs.yaml
  internal/otelcollector/config/otlpgateway/testdata/vpa-active-metrics.yaml
  internal/otelcollector/config/otlpgateway/testdata/vpa-active-traces.yaml
  internal/resources/otelcollector/core_test.go
  internal/resources/otelcollector/otlp_gateway.go
  internal/resources/otelcollector/otlp_gateway_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add unit test for gateway config builder with VPA
  internal/resources/otelcollector/core_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

revert to old version for perf tests
  .env
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

fix linter issues
  internal/resources/otelcollector/core_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix memory request wrong for multi pipeline scenarios
  internal/resources/otelcollector/otlp_gateway.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add more unit test
  internal/resources/otelcollector/otlp_gateway_test.go
  internal/resources/otelcollector/testdata/otlp-multi-instance-gateway-vpa.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

restructure document
  docs/contributor/pocs/consistent-batching-across-components/02-log-agent-batching.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: note deferred glob support and usage metric in ADR
  docs/contributor/arch/035-optional-runtime-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

remove paragraph
  docs/contributor/arch/035-optional-runtime-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix vpaenabled not sets
  internal/reconciler/otlpgateway/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test
