Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

Add a decision
  apis/telemetry/v1alpha1/secret_refs_test.go
  docs/contributor/arch/008-telemetry-flow-healthiness-status-api.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Leftovers
  apis/telemetry/v1alpha1/secret_refs_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Makefile structure: iteration 2
  Makefile
  hack/make/common.mk
  hack/make/dependencies.mk
  hack/make/provision.mk
  hack/make/test.mk
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

CHORE: small renaming
  docs/contributor/development.md
  hack/make/provision.mk
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix logs and traces verifiers
  test/testkit/verifiers/logs.go
  test/testkit/verifiers/traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Consequences
  docs/contributor/arch/008-telemetry-flow-healthiness-status-api.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix istio integration test
  test/integration/istio/access_logs_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

CHORE: Move release to shell script
  .github/workflows/tag-release.yml
  Makefile
  hack/make/dependencies.mk
  hack/release.sh
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

updated
  docs/contributor/pocs/gomemlimit-telemetry-memory.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Agent
  docs/contributor/arch/008-telemetry-flow-healthiness-status-api.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update docs
  docs/contributor/pocs/gomemlimit-telemetry-memory.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update conlusion section
  docs/contributor/pocs/gomemlimit-telemetry-memory.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add some corrections
  docs/contributor/pocs/gomemlimit-telemetry-memory.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

feat: Update OTEL image version to 0.94.0 (#796)
  docs/contributor/telemetry-load-test/README.md
  docs/contributor/telemetry-load-test/assets/log-fluentbit-test-setup.yaml
  docs/contributor/telemetry-load-test/assets/metric-agent-test-setup.yaml
  docs/contributor/telemetry-load-test/assets/metric-load-test-setup.yaml
  docs/contributor/telemetry-load-test/assets/trace-load-test-setup.yaml
  main.go
  sec-scanners-config.yaml
  test/testkit/mocks/backend/deployment.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add the OOM problem description with Telemetry components
  docs/contributor/pocs/gomemlimit-telemetry-memory.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

refactor the setting of running and pending conditions
  internal/conditions/conditions.go
  internal/reconciler/logparser/status.go
  internal/reconciler/logpipeline/status.go
  internal/reconciler/tracepipeline/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix linting
  internal/conditions/conditions.go
  internal/reconciler/logparser/status.go
  internal/reconciler/logpipeline/status.go
  internal/reconciler/tracepipeline/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: Align existing status API of TracePipeline, LogPipeline and LogParser with syntactical Kubernetes conventions (#803)
  apis/telemetry/v1alpha1/logparser_types.go
  apis/telemetry/v1alpha1/logparsers_types_test.go
  apis/telemetry/v1alpha1/logpipeline_types.go
  apis/telemetry/v1alpha1/logpipeline_types_test.go
  apis/telemetry/v1alpha1/tracepipeline_types.go
  apis/telemetry/v1alpha1/tracepipeline_types_test.go
  apis/telemetry/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/telemetry.kyma-project.io_logparsers.yaml
  config/crd/bases/telemetry.kyma-project.io_logpipelines.yaml
  config/crd/bases/telemetry.kyma-project.io_tracepipelines.yaml
  controllers/operator/telemetry_controller_test.go
  controllers/telemetry/logpipeline_controller_test.go
  docs/user/resources/02-logpipeline.md
  docs/user/resources/03-logparser.md
  docs/user/resources/04-tracepipeline.md
  internal/conditions/conditions.go
  internal/reconciler/logparser/status.go
  internal/reconciler/logparser/status_test.go
  internal/reconciler/logpipeline/status.go
  internal/reconciler/logpipeline/status_test.go
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/telemetry/log_components_checker.go
  internal/reconciler/telemetry/trace_components_checker.go
  internal/reconciler/tracepipeline/status.go
  internal/reconciler/tracepipeline/status_test.go
  internal/testutils/log_pipeline_builder.go
  internal/testutils/trace_pipeline_builder.go
  test/integration/istio/access_logs_test.go
  test/testkit/verifiers/logs.go
  test/testkit/verifiers/traces.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update docs/contributor/pocs/gomemlimit-telemetry-memory.md
  docs/contributor/pocs/gomemlimit-telemetry-memory.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: Say IN a cluster not ON a cluster
  docs/contributor/pocs/performance-tests/metrics/metrics.md
  docs/user/integration/dynatrace/README.md
  docs/user/integration/opentelemetry-demo/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: Say IN a cluster not ON a cluster (#810)
  docs/contributor/pocs/performance-tests/metrics/metrics.md
  docs/user/integration/dynatrace/README.md
  docs/user/integration/opentelemetry-demo/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

rename telemety operator to telemetry manager
  .github/template/finalize-test/action.yaml
  .github/template/prepare-test/action.yaml
  .github/workflows/pr-lifecycle.yml
  Makefile
  README.md
  config/default/kustomization.yaml
  config/development/kustomization.yaml
  config/manager/manager.yaml
  config/manager/metrics_service.yaml
  config/networking/networkpolicy.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  config/samples/operator_v1alpha1_telemetry.yaml
  config/samples/telemetry_v1alpha1_metricpipeline.yaml
  config/webhook/manifests.yaml
  config/webhook/service.yaml
  docs/contributor/arch/005-do-not-make-prometheus-part of-the-istio-service-mesh.md
  docs/contributor/pocs/integrate-prometheus-with-telemetry-manager-using-alerting.md
  docs/contributor/pocs/performance-tests/metrics/metrics.md
  docs/contributor/troubleshooting.md
  docs/user/assets/logs-resources.drawio.svg
  docs/user/assets/manager-lifecycle.drawio.svg
  docs/user/assets/metrics-resources.drawio.svg
  docs/user/assets/traces-resources.drawio.svg
  internal/reconciler/telemetry/reconciler.go
  internal/webhookcert/webhook_cert.go
  internal/webhookcert/webhook_cert_test.go
  main.go
  test/e2e/assets/tracing-tests.svg
  test/e2e/manager_test.go
  test/e2e/overrides_test.go
  test/e2e/telemetry_test.go
  test/testkit/kyma/common_names.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: Document GOMEMLIMIT with telemetry components (#793)
  docs/contributor/pocs/assets/with-gomemlimit-oom.jpg
  docs/contributor/pocs/assets/with-gomemlimit.jpg
  docs/contributor/pocs/assets/without-gomemlimit.jpg
  docs/contributor/pocs/gomemlimit-telemetry-memory.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

rename operator to manager
  .github/template/prepare-test/action.yaml
  .github/workflows/pr-lifecycle.yml
Due: none

update upgrade test
  .github/workflows/pr-lifecycle.yml
Due: none

update upgrade job
  .github/workflows/pr-lifecycle.yml
Due: none

fix upgrade job
  .github/workflows/pr-lifecycle.yml
Due: none

rename rolebinding and clusterrolebinding
  Makefile
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

docs: Highlight the need for Istio configuration to get access logs
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Deploy prometheus via code.
  internal/configchecksum/checksum.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/selfmonitor/config.go
  internal/selfmonitor/deployment.go
  internal/selfmonitor/prometheus_config.go
  internal/selfmonitor/pronetheus_config_builder.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update docs/contributor/arch/005-do-not-make-prometheus-part of-the-istio-service-mesh.md
  docs/contributor/arch/005-do-not-make-prometheus-part of-the-istio-service-mesh.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

feat: Rename telemetry-operator to telemetry-manager (#811)
  .github/template/finalize-test/action.yaml
  .github/template/prepare-test/action.yaml
  .github/workflows/pr-lifecycle.yml
  Makefile
  README.md
  config/default/kustomization.yaml
  config/development/kustomization.yaml
  config/manager/manager.yaml
  config/manager/metrics_service.yaml
  config/networking/networkpolicy.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  config/samples/operator_v1alpha1_telemetry.yaml
  config/samples/telemetry_v1alpha1_metricpipeline.yaml
  config/webhook/manifests.yaml
  config/webhook/service.yaml
  docs/contributor/arch/005-do-not-make-prometheus-part of-the-istio-service-mesh.md
  docs/contributor/pocs/integrate-prometheus-with-telemetry-manager-using-alerting.md
  docs/contributor/pocs/performance-tests/metrics/metrics.md
  docs/contributor/troubleshooting.md
  docs/user/assets/logs-resources.drawio.svg
  docs/user/assets/manager-lifecycle.drawio.svg
  docs/user/assets/metrics-resources.drawio.svg
  docs/user/assets/traces-resources.drawio.svg
  internal/reconciler/telemetry/reconciler.go
  internal/webhookcert/webhook_cert.go
  internal/webhookcert/webhook_cert_test.go
  main.go
  test/e2e/assets/tracing-tests.svg
  test/e2e/manager_test.go
  test/e2e/overrides_test.go
  test/e2e/telemetry_test.go
  test/testkit/kyma/common_names.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix network-policy
  internal/selfmonitor/deployment.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
