Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

fix shadowing of telemetryK8sObject declaration
  test/e2e/suite_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: Add missing space and separate links to integration guides
  docs/user/README.md
  docs/user/integration/opentelemetry-demo/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix
  docs/user/integration/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Apply suggestions from code review
  docs/user/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: Add missing space and separate links to integration guides (#721)
  docs/user/README.md
  docs/user/integration/README.md
  docs/user/integration/opentelemetry-demo/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add deny all network policy for all inegration istio tests
  test/integration/istio/suite_test.go
  test/integration/istio/traces_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: Update to Otel Collector 0.91.0 (#666)
  main.go
  sec-scanners-config.yaml
  test/testkit/mocks/backend/deployment.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add egress traffic in the network policy used in tests
  test/testkit/k8s/network_policy.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Apply suggestions from code review
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

feat: Upgrade otel image to 0.92.0
  main.go
  sec-scanners-config.yaml
  test/testkit/mocks/backend/deployment.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add egress traffic in network policy for operator
  config/networking/networkpolicy.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

add egress traffic in network policy for gateways and agent
  internal/resources/otelcollector/core.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

create network policy for fluentbit
  internal/fluentbit/ports/ports.go
  internal/reconciler/logpipeline/reconciler.go
  internal/resources/common/resources.go
  internal/resources/fluentbit/resources.go
  internal/resources/otelcollector/core.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Manual performance test for tracing
  docs/contributor/performance-tests/traces/traces.md
  docs/contributor/upgrade-otel-image-tests/traces/README.md
  docs/contributor/upgrade-otel-image-tests/traces/assets/results/otel-0.89.0_maxpipeline_traces_load_test.csv
  docs/contributor/upgrade-otel-image-tests/traces/assets/results/otel-0.89.0_traces_backpressure_test.csv
  docs/contributor/upgrade-otel-image-tests/traces/assets/results/otel-0.89.0_traces_load_test.csv
  docs/contributor/upgrade-otel-image-tests/traces/assets/results/otel-0.91.0_traces_backpressure_test.csv
  docs/contributor/upgrade-otel-image-tests/traces/assets/run-backpressure-test.sh
  docs/contributor/upgrade-otel-image-tests/traces/assets/run-load-test.sh
  docs/contributor/upgrade-otel-image-tests/traces/assets/run-maxpipeline-backpressure-test.sh
  docs/contributor/upgrade-otel-image-tests/traces/assets/run-maxpipeline-load-test.sh
  docs/contributor/upgrade-otel-image-tests/traces/assets/trace-backpressure-test-setup.yaml
  docs/contributor/upgrade-otel-image-tests/traces/assets/trace-load-test-setup.yaml
  docs/contributor/upgrade-otel-image-tests/traces/assets/trace-maxpipeline-backpressure-test-setup.yaml
  docs/contributor/upgrade-otel-image-tests/traces/assets/trace-maxpipeline-load-test-setup.yaml
  docs/contributor/upgrade-otel-image-tests/traces/assets/trace_perf_test_setup.jpeg
  docs/contributor/upgrade-otel-image-tests/traces/assets/values.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix order of jobs in upgrade test workflow
  .github/workflows/pull-lifecycle.yml
Due: none

use the new Labels() func in fluentbit resources test
  internal/resources/fluentbit/resources_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adjust unit tests for agent and gateway
  internal/resources/otelcollector/agent_test.go
  internal/resources/otelcollector/gateway_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs directory changed
  docs/contributor/performance-tests/traces/README.md
  docs/contributor/performance-tests/traces/assets/run-load-test.sh
  docs/contributor/performance-tests/traces/assets/trace-backpressure-config.yaml
  docs/contributor/performance-tests/traces/assets/trace-load-test-setup.yaml
  docs/contributor/performance-tests/traces/assets/trace-max-pipeline.yaml
  docs/contributor/performance-tests/traces/assets/trace_perf_test_setup.jpeg
  docs/contributor/performance-tests/traces/assets/values.yaml
  docs/contributor/upgrade-otel-image-tests/traces/README.md
  docs/contributor/upgrade-otel-image-tests/traces/assets/results/otel-0.89.0_maxpipeline_traces_load_test.csv
  docs/contributor/upgrade-otel-image-tests/traces/assets/results/otel-0.89.0_traces_backpressure_test.csv
  docs/contributor/upgrade-otel-image-tests/traces/assets/results/otel-0.89.0_traces_load_test.csv
  docs/contributor/upgrade-otel-image-tests/traces/assets/results/otel-0.91.0_traces_backpressure_test.csv
  docs/contributor/upgrade-otel-image-tests/traces/assets/run-backpressure-test.sh
  docs/contributor/upgrade-otel-image-tests/traces/assets/run-load-test.sh
  docs/contributor/upgrade-otel-image-tests/traces/assets/run-maxpipeline-backpressure-test.sh
  docs/contributor/upgrade-otel-image-tests/traces/assets/run-maxpipeline-load-test.sh
  docs/contributor/upgrade-otel-image-tests/traces/assets/trace-backpressure-test-setup.yaml
  docs/contributor/upgrade-otel-image-tests/traces/assets/trace-load-test-setup.yaml
  docs/contributor/upgrade-otel-image-tests/traces/assets/trace-maxpipeline-load-test-setup.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add table column text aligments
  docs/contributor/performance-tests/traces/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Apply suggestions from code review
  docs/contributor/performance-tests/traces/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add OTEL image version 0.91.0 thorughput test result
  docs/contributor/performance-tests/traces/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

use constants for fluentbit ports
  internal/resources/fluentbit/resources.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix wrong execution command examples
  docs/contributor/performance-tests/traces/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fixes
  docs/user/integration/dynatrace/README.md
  docs/user/integration/dynatrace/secret-example.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add base backpresure test results for OTEL image version 0.91.0
  docs/contributor/performance-tests/traces/README.md
  docs/contributor/performance-tests/traces/assets/run-load-test.sh
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: Improve dynatrace documentation (#708)
  docs/user/integration/dynatrace/README.md
  docs/user/integration/dynatrace/secret-example.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: Manual performance test for tracing (#726)
  docs/contributor/performance-tests/traces/README.md
  docs/contributor/performance-tests/traces/assets/run-load-test.sh
  docs/contributor/performance-tests/traces/assets/trace-backpressure-config.yaml
  docs/contributor/performance-tests/traces/assets/trace-load-test-setup.yaml
  docs/contributor/performance-tests/traces/assets/trace-max-pipeline.yaml
  docs/contributor/performance-tests/traces/assets/trace_perf_test_setup.jpeg
  docs/contributor/performance-tests/traces/assets/values.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

increase test coverage for "internal/resources/otelcollector" pkg
  .testcoverage.yml
  internal/resources/otelcollector/config_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix linting
  internal/resources/fluentbit/resources.go
  internal/resources/otelcollector/config_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

test: Increase test coverage for "internal/resources/otelcollector" pkg (#727)
  .testcoverage.yml
  internal/resources/otelcollector/config_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add multi pipeline test results, install components from remote repository
  docs/contributor/performance-tests/traces/README.md
  docs/contributor/performance-tests/traces/assets/run-load-test.sh
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add document diagram SVG source
  docs/contributor/performance-tests/traces/assets/trace_perf_test_setup.svg
Due: none

get container memory unit as MBytes
  docs/contributor/performance-tests/traces/README.md
  docs/contributor/performance-tests/traces/assets/run-load-test.sh
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

change diagram image to svg format
  docs/contributor/performance-tests/traces/README.md
  docs/contributor/performance-tests/traces/assets/trace_perf_test_setup.jpeg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
