Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)

update log generator config
  docs/contributor/telemetry-load-test/assets/log-fluentbit-test-setup.yaml
Due: none

remove custom helper functions for conditions in TracePipeline
  apis/telemetry/v1alpha1/tracepipeline_types.go
  internal/reconciler/tracepipeline/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

bump operator image for 1.9.0 release
  Makefile
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

docs: Fix link to Dynatrace docs about aggregation temporality
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: Fix link to Dynatrace docs about aggregation temporality (#790)
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: Bump operator image for 1.9.0 release (#791)
  Makefile
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

docs: Add docsify Flexible Alerts plugin for Telemetry
  docs/user/02-logs.md
  docs/user/03-traces.md
  docs/user/04-metrics.md
  docs/user/README.md
  docs/user/integration/aws-cloudwatch/README.md
  docs/user/integration/jaeger/README.md
  docs/user/integration/loki/README.md
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add fluentbit 2.2.1 and 2.2.2 test results
  docs/contributor/telemetry-load-test/README.md
  docs/contributor/telemetry-load-test/assets/log-fluentbit-backpressure-config.yaml
  docs/contributor/telemetry-load-test/assets/log-fluentbit-max-pipeline.yaml
  docs/contributor/telemetry-load-test/assets/log-fluentbit-test-setup.yaml
  docs/contributor/telemetry-load-test/assets/run-load-test.sh
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add poc result for GOMEMLIMIT
  docs/contributor/pocs/gomemlimit-telemetry-memory.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update fluent-bit image to version 2.2.2
  config/samples/http-mockserver.yaml
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

revert fluent-bit image update
  config/samples/http-mockserver.yaml
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update Fluent-Bit image vesion to 2.2.2
  config/samples/http-mockserver.yaml
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Apply suggestions from code review
  docs/contributor/telemetry-load-test/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

adjust the indented notes as well
  docs/user/02-logs.md
  docs/user/integration/aws-cloudwatch/README.md
  docs/user/integration/dynatrace/README.md
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: Add docsify Flexible Alerts plugin for Telemetry (#792)
  docs/user/02-logs.md
  docs/user/03-traces.md
  docs/user/04-metrics.md
  docs/user/README.md
  docs/user/integration/aws-cloudwatch/README.md
  docs/user/integration/dynatrace/README.md
  docs/user/integration/jaeger/README.md
  docs/user/integration/loki/README.md
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

feat: Update Fluent-Bit image version to 2.2.2 (#794)
  config/samples/http-mockserver.yaml
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Split Iteration 1
  Makefile
  hack/make/common.mk
  hack/make/dependencies.mk
  hack/make/provision.mk
  hack/make/test.mk
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

update fluentbit test results, rename test target fluentbit to logs-fluentbit
  docs/contributor/telemetry-load-test/README.md
  docs/contributor/telemetry-load-test/assets/log-fluentbit-max-pipeline.yaml
  docs/contributor/telemetry-load-test/assets/log-fluentbit-test-setup.yaml
  docs/contributor/telemetry-load-test/assets/run-load-test.sh
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add GOMEMLIMIT PoC docs
  docs/contributor/pocs/gomemlimit-telemetry-memory.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update docs
  docs/contributor/pocs/gomemlimit-telemetry-memory.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

updated
  docs/contributor/pocs/assets/with-gomemlimit-oom.jpg
  docs/contributor/pocs/assets/with-gomemlimit.jpg
  docs/contributor/pocs/assets/without-gomemlimit.jpg
  docs/contributor/pocs/gomemlimit-telemetry-memory.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: Bump Istio module to 1.3.1 for integration tests
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

chore: Bump Istio module to 1.3.1 for integration tests (#795)
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

move newCondition func to conditions pkg
  internal/conditions/conditions.go
  internal/reconciler/metricpipeline/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove unnnecessary populateMissingConditionFields func in TracePipeline
  internal/reconciler/tracepipeline/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use metav1 helper functions and remove unnnecessary populateMissingConditionFields func in LogPipeline
  apis/telemetry/v1alpha1/logpipeline_types.go
  internal/reconciler/logpipeline/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use metav1 helper functions and remove unnnecessary populateMissingConditionFields func in LogParser
  apis/telemetry/v1alpha1/logparser_types.go
  internal/reconciler/logparser/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: Manual performance test for logs (#788)
  docs/contributor/pocs/performance-tests/metrics/assets/agent-multi-receiver-accepted.jpg
  docs/contributor/pocs/performance-tests/metrics/assets/agent-multi-receiver-cpu.jpg
  docs/contributor/pocs/performance-tests/metrics/assets/agent-multi-receiver-memory.jpg
  docs/contributor/pocs/performance-tests/metrics/assets/agent-multi-receiver-refused.jpg
  docs/contributor/pocs/performance-tests/metrics/assets/max-pod-agent-accepted-metrics.jpg
  docs/contributor/pocs/performance-tests/metrics/assets/max-pod-agent-cpu.jpg
  docs/contributor/pocs/performance-tests/metrics/assets/max-pod-agent-memory.jpg
  docs/contributor/pocs/performance-tests/metrics/assets/max-pod-gateway-accepted-metrics.jpg
  docs/contributor/pocs/performance-tests/metrics/assets/max-pod-gateway-sent-metrics.jpg
  docs/contributor/pocs/performance-tests/metrics/assets/max-pod-k8s-api.jpg
  docs/contributor/pocs/performance-tests/metrics/assets/overall-peak-cpu.jpg
  docs/contributor/pocs/performance-tests/metrics/assets/overall-peak-memory.jpg
  docs/contributor/pocs/performance-tests/metrics/assets/overall-peak-metric-point-refused.jpg
  docs/contributor/pocs/performance-tests/metrics/assets/overall-peak-metric-point.jpg
  docs/contributor/pocs/performance-tests/metrics/assets/single-target-peak-metric-point.jpg
  docs/contributor/pocs/performance-tests/metrics/metrics.md
  docs/contributor/telemetry-load-test/README.md
  docs/contributor/telemetry-load-test/assets/log-fluentbit-backpressure-config.yaml
  docs/contributor/telemetry-load-test/assets/log-fluentbit-max-pipeline.yaml
  docs/contributor/telemetry-load-test/assets/log-fluentbit-test-setup.yaml
  docs/contributor/telemetry-load-test/assets/log_perf_test_setup.drawio.svg
  docs/contributor/telemetry-load-test/assets/run-load-test.sh
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Add ADR skeleton
  docs/contributor/arch/008-telemetry-flow-healthiness-status-api.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Add some explanation
  docs/contributor/arch/008-telemetry-flow-healthiness-status-api.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

bump OTEL image version to 0.94, update Trace and MetricPipeline load test for version 0.94
  docs/contributor/telemetry-load-test/README.md
  docs/contributor/telemetry-load-test/assets/log-fluentbit-test-setup.yaml
  main.go
  sec-scanners-config.yaml
  test/testkit/mocks/backend/deployment.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adjust unit tests and env tests
  apis/telemetry/v1alpha1/logparsers_types_test.go
  apis/telemetry/v1alpha1/logpipeline_types_test.go
  apis/telemetry/v1alpha1/tracepipeline_types_test.go
  controllers/operator/telemetry_controller_test.go
  controllers/telemetry/logpipeline_controller_test.go
  internal/reconciler/logparser/status_test.go
  internal/reconciler/logpipeline/status_test.go
  internal/reconciler/tracepipeline/status_test.go
  internal/testutils/log_pipeline_builder.go
  internal/testutils/trace_pipeline_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adjust testkit verifiers
  test/testkit/verifiers/logs.go
  test/testkit/verifiers/traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adjust istio integration test
  test/integration/istio/access_logs_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix linting
  apis/telemetry/v1alpha1/logpipeline_types_test.go
  controllers/operator/telemetry_controller_test.go
  controllers/telemetry/logpipeline_controller_test.go
  internal/reconciler/logparser/status.go
  internal/reconciler/logpipeline/status.go
  internal/reconciler/tracepipeline/status.go
  test/testkit/verifiers/logs.go
  test/testkit/verifiers/traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add diag
  docs/contributor/arch/008-telemetry-flow-healthiness-status-api.md
  docs/contributor/assets/otel-collector-data-flow.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Minor improvement
  docs/contributor/arch/008-telemetry-flow-healthiness-status-api.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Minor improvements
  docs/contributor/arch/008-telemetry-flow-healthiness-status-api.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update mock bakend otel images
  docs/contributor/telemetry-load-test/assets/log-fluentbit-test-setup.yaml
  docs/contributor/telemetry-load-test/assets/metric-agent-test-setup.yaml
  docs/contributor/telemetry-load-test/assets/metric-load-test-setup.yaml
  docs/contributor/telemetry-load-test/assets/trace-load-test-setup.yaml
Due: none
