Repository kyma-project/directory-size-exporter: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-directory-size-exporter-governance, pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

Path conditions:
  pre-main-directory-size-exporter-governance: any of: milv.config.yaml|.md$
  pull-directory-size-exporter-lint: any of: ^(go.mod|go.sum)$|^(.*\.go$|.golangcilint.yaml)
  pull-directory-size-exporter-unit-test: any of: ^(go.mod|go.sum)$|^.*\.go$

removed unneeded reference to a specific buildpack
  Makefile
Due: none

removed unneeded reference to a specific buildpack (#8)
  Makefile
Due: none

reuse compliance
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Due: pre-main-directory-size-exporter-governance

reuse compliance (#23)
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Due: pre-main-directory-size-exporter-governance

update golang to 1.20.7 update prometheus lib + kyma logging
  Dockerfile
  go.mod
  go.sum
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

tidy up
  go.mod
  go.sum
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

update golang to 1.20.7 + update prometheus lib (#25)
  Dockerfile
  go.mod
  go.sum
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

removed governance config
  milv.config.yaml
Due: pre-main-directory-size-exporter-governance

removed governance config (#27)
  milv.config.yaml
Due: pre-main-directory-size-exporter-governance

chore: Adds governance Github actions
  .github/workflows/conventional-pr.yml
  .github/workflows/markdown-link-check.yml
Due: none

chore: Adds governance Github actions (#28)
  .github/workflows/conventional-pr.yml
  .github/workflows/markdown-link-check.yml
Due: none

Dummy commit
  go.mod
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

chore: Update to golang 1.21.3, fix links
  CODE_OF_CONDUCT.md
  Dockerfile
  go.mod
Due: pre-main-directory-size-exporter-governance, pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

fix
  go.sum
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

chore: Update to golang 1.21.3, fix links (#32)
  CODE_OF_CONDUCT.md
  Dockerfile
  go.mod
  go.sum
Due: pre-main-directory-size-exporter-governance, pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

add sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: none

add sec-scanners-config.yaml (#35)
  sec-scanners-config.yaml
Due: none

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: none

Update sec-scanners-config.yaml (#36)
  sec-scanners-config.yaml
Due: none

chore: Migrate jobs to gh action
  .github/template/prepare-checks/action.yaml
  .github/workflows/markdown-link-check.yml
  .github/workflows/pull-code-checks.yml
  .github/workflows/pull-governance.yml
Due: none

fix config file naming
  .golangci.yaml
Due: none

fix
  .github/template/prepare-checks/action.yaml
Due: none

chore: Migrate jobs to gh action (#38)
  .github/template/prepare-checks/action.yaml
  .github/workflows/markdown-link-check.yml
  .github/workflows/pull-code-checks.yml
  .github/workflows/pull-governance.yml
  .golangci.yaml
Due: none

chore: Run docu checks on docu changes
  .github/template/setup-golang/action.yaml
  .github/workflows/pull-code-checks.yml
  .github/workflows/pull-docu-checks.yml
  .github/workflows/pull-github-checks.yml
Due: none

chore: Run docu checks on docu changes (#39)
  .github/template/setup-golang/action.yaml
  .github/workflows/pull-code-checks.yml
  .github/workflows/pull-docu-checks.yml
  .github/workflows/pull-github-checks.yml
Due: none

chore: Switch to stale bot
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/decision-record.md
  .github/ISSUE_TEMPLATE/documentation-improvement.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/new-sig-or-wg-proposal.md
  .github/ISSUE_TEMPLATE/security-vulnerability.md
  .github/OWNERS
  .github/issue-template.md
  .github/stale.yml
  .github/workflows/periodic-github-checks.yaml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
Due: pre-main-directory-size-exporter-governance

chore: Switch to stale bot (#45)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/decision-record.md
  .github/ISSUE_TEMPLATE/documentation-improvement.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/new-sig-or-wg-proposal.md
  .github/ISSUE_TEMPLATE/security-vulnerability.md
  .github/OWNERS
  .github/issue-template.md
  .github/stale.yml
  .github/workflows/periodic-github-checks.yaml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
Due: pre-main-directory-size-exporter-governance

test: Add Gitleaks workflow
  .github/workflows/pr-code-checks.yml
  .gitleaks.toml
Due: none

test: Add Gitleaks workflow (#50)
  .github/workflows/pr-code-checks.yml
  .gitleaks.toml
Due: none

add image builder workflow
  .github/workflows/build-image.yml
Due: none

change golang to bookworm
  Dockerfile
Due: none

revert golang base image
  Dockerfile
Due: none

revert revert Dockerfile
  Dockerfile
Due: none

chore: Add image builder workflow (#57)
  .github/workflows/build-image.yml
  Dockerfile
Due: none

add step to use as check in repository rules
  .github/workflows/build-image.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
Due: none

add step to use as check in repository rules (#60)
  .github/workflows/build-image.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
Due: none

add needs for PR-Docu-Checks-Success
  .github/workflows/pr-docu-checks.yml
Due: none

exclude milestone check
  .github/workflows/pr-github-checks.yml
Due: none

remove milestone check as it is confusing
  .github/workflows/pr-github-checks.yml
Due: none

chore: Add needs for PR-Docu-Checks (#62)
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
Due: none
