Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

Improve test cases
  internal/validators/ottl/filter_spec_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: add namespace validation in namespace selectors (#2613)
  apis/telemetry/v1alpha1/logpipeline_types.go
  apis/telemetry/v1alpha1/metricpipeline_types.go
  apis/telemetry/v1alpha1/shared_types.go
  apis/telemetry/v1beta1/logpipeline_types.go
  apis/telemetry/v1beta1/metricpipeline_types.go
  apis/telemetry/v1beta1/shared_types.go
  docs/user/resources/02-logpipeline.md
  docs/user/resources/05-metricpipeline.md
  helm/charts/default/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_tracepipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_tracepipelines.yaml
  test/e2e/logs/misc/reject_creation_test.go
  test/e2e/metrics/misc/reject_creation_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix after merge
  apis/telemetry/v1beta1/shared_types.go
  helm/charts/experimental/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_metricpipelines.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  webhook/logpipeline/v1beta1/defaulter.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: update fluentbit to 4.1.1 and prometheus to 3.7.1 in cache
  dependencies/telemetry-self-monitor/envs
  external-images.yaml
Due: pull-telemetry-manager-verify-module

fix
  webhook/logpipeline/v1beta1/defaulter_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: export securityContext attributes to values.yaml (#2610)
  helm/templates/deployment.yaml
  helm/values.yaml
Due: none

Add mixed contexts
  internal/validators/ottl/filter_spec_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add one more test
  internal/validators/ottl/filter_spec_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use the OTel collector image from main
  .env
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Slight improvement
  internal/validators/ottl/filter_spec_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Unify tests
  internal/validators/ottl/transform_spec_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix
  internal/validators/ottl/transform_spec_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Integrate into reconciler
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/tracepipeline_controller.go
  internal/reconciler/logpipeline/otel/reconciler_test.go
  internal/reconciler/logpipeline/otel/validator.go
  internal/reconciler/logpipeline/stubs/filter_spec_validator.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/stubs/filter_spec_validator.go
  internal/reconciler/metricpipeline/validator.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/reconciler/tracepipeline/stubs/filter_spec_validator.go
  internal/reconciler/tracepipeline/validator.go
  internal/validators/ottl/filter_spec_validator_test.go
  internal/validators/ottl/transform_spec_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

consistent namespace selector for otlp input
  test/e2e/logs/shared/single_pipeline_v1beta1_test.go
  webhook/logpipeline/v1alpha1/defaulter.go
  webhook/logpipeline/v1alpha1/defaulter_test.go
  webhook/logpipeline/v1beta1/defaulter.go
  webhook/logpipeline/v1beta1/defaulter_test.go
  webhook/metricpipeline/v1alpha1/defaulter.go
  webhook/metricpipeline/v1alpha1/defaulter_test.go
  webhook/metricpipeline/v1beta1/defaulter.go
  webhook/metricpipeline/v1beta1/defaulter_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Invalid test
  internal/conditions/conditions.go
  internal/reconciler/logpipeline/otel/reconciler_test.go
  internal/reconciler/logpipeline/otel/status.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/reconciler/tracepipeline/status.go
  test/e2e/logs/shared/transform_invalid_test.go
  test/e2e/metrics/shared/transform_invalid_test.go
  test/e2e/traces/filter_invalid_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use more constants
  apis/telemetry/v1alpha1/logpipeline_conversion.go
  apis/telemetry/v1alpha1/logpipeline_conversion_test.go
  webhook/logpipeline/v1beta1/defaulter_test.go
  webhook/logpipeline/v1beta1/setup.go
  webhook/metricpipeline/v1alpha1/defaulter_test.go
  webhook/metricpipeline/v1alpha1/setup.go
  webhook/metricpipeline/v1beta1/defaulter_test.go
  webhook/metricpipeline/v1beta1/setup.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add more e2e tests
  test/e2e/logs/shared/filter_invalid_test.go
  test/e2e/metrics/shared/filter_invalid_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Improve coverage
  internal/validators/ottl/filter_spec_validator.go
  internal/validators/ottl/filter_spec_validator_test.go
  internal/validators/ottl/transform_spec_validator.go
  internal/validators/ottl/transform_spec_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix lint
  internal/validators/ottl/filter_spec_validator.go
  internal/validators/ottl/transform_spec_validator.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: update fluentbit to 4.1.1 and prometheus to 3.7.1 in cache (#2621)
  dependencies/telemetry-self-monitor/envs
  external-images.yaml
Due: pull-telemetry-manager-verify-module

Improve tests
  internal/validators/ottl/common.go
  internal/validators/ottl/transform_spec_validator.go
  test/e2e/logs/shared/filter_invalid_test.go
  test/e2e/metrics/shared/filter_invalid_test.go
  test/e2e/traces/filter_invalid_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: update filters in the transform-filter adr (#2615)
  docs/contributor/arch/016-transform-filter-support-for-telemetry-pipelines.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Improve code comments
  internal/validators/ottl/common.go
  internal/validators/ottl/filter_spec_validator.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use connectors
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_input.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: update fluent-bit to 4.1.1
  .env
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

Refine UTs
  internal/validators/ottl/transform_spec_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix unit tests
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/testdata/http-protocol-with-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/http-protocol-without-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-only.yaml
  internal/otelcollector/config/metricgateway/testdata/pipeline-with-transform-filter.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-comprehensive.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-simple.yaml
  internal/otelcollector/config/metricgateway/testdata/two-pipelines-with-filter.yaml
  internal/otelcollector/config/metricgateway/testdata/user-defined-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: update to prometheus 3.7.1
  .env
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

Fix broken links to Dynatrace docu
  docs/contributor/arch/024-dynatrace-cummulative-to-delta-support.md
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_input.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

revert unnecessary fixes
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: fix broken links to Dynatrace docu (#2626)
  docs/contributor/arch/024-dynatrace-cummulative-to-delta-support.md
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

do the changes for ordering of components and some refactoring
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/loggateway/config_builder.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_input.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
  internal/otelcollector/config/metricgateway/config_builder_test.go
  internal/otelcollector/config/metricgateway/testdata/http-protocol-with-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/http-protocol-without-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-only.yaml
  internal/otelcollector/config/metricgateway/testdata/pipeline-with-transform-filter.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-comprehensive.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-simple.yaml
  internal/otelcollector/config/metricgateway/testdata/two-pipelines-with-filter.yaml
  internal/otelcollector/config/metricgateway/testdata/user-defined-transforms.yaml
  internal/otelcollector/config/tracegateway/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update unit tests
  internal/otelcollector/config/metricgateway/config_builder_test.go
  internal/otelcollector/config/metricgateway/testdata/http-protocol-with-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/http-protocol-without-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-only.yaml
  internal/otelcollector/config/metricgateway/testdata/pipeline-with-transform-filter.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-comprehensive.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-simple.yaml
  internal/otelcollector/config/metricgateway/testdata/two-pipelines-with-filter.yaml
  internal/otelcollector/config/metricgateway/testdata/user-defined-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix lint
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

move "app logs from system namespaces" to Filter topic, add link
  docs/user/collecting-logs/application-input.md
  docs/user/filter-and-process/filter-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update adr
  docs/contributor/assets/metric-gateway-pipelines.png
Due: none

add perf results
  docs/contributor/benchmarks/results/logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint
