Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

Revert "chore: Update golang to 1.23.4 and alpine to 3.21 (#1673)"
  Dockerfile
  go.mod
  internal/tools/go.mod
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: Fix lifecyle tests with merge_group trigger (#1679)"
  .github/workflows/pr-lifecycle.yml
Due: none

Revert "chore: Change image based on event (#1678)"
  .github/workflows/pr-integration.yml
Due: none

Revert "chore: Fix build-image after introducing merge queue (#1676)"
  .github/workflows/build-image.yml
  hack/await_image.sh
Due: none

Revert "chore: Add merge_group trigger for workflows (#1658)"
  .github/template/prepare-test/action.yaml
  .github/workflows/branch-integration.yml
  .github/workflows/build-image.yml
  .github/workflows/pr-all-checks-passed.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-lifecycle.yml
Due: none

Revert "chore: Remove OTel LogPipeline-related data from docs and Telemetry CRD (#1654)"
  Makefile
  config/crd/bases/operator.kyma-project.io_telemetries.yaml
  docs/user/resources/01-telemetry.md
  docs/user/resources/02-logpipeline.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "fix: Consider the existence of Istio when applying and deleting resources for Log Gateway (#1668)"
  controllers/telemetry/logpipeline_controller.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/logpipeline/otel/reconciler_test.go
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/testdata/log-gateway.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump sigs.k8s.io/controller-runtime from 0.19.2 to 0.19.3 (#1649)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump github.com/mikefarah/yq/v4 from 4.44.5 to 4.44.6 in /internal/tools (#1664)"
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

Revert "chore: bump github.com/vektra/mockery/v2 from 2.49.2 to 2.50.0 in /internal/tools (#1665)"
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

Revert "chore: bump github.com/onsi/gomega from 1.36.0 to 1.36.1 (#1667)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "feat: Bump OTel image version to 0.115.0 (#1666)"
  docs/contributor/benchmarks/README.md
  hack/load-tests/run-load-test.sh
  main.go
  sec-scanners-config.yaml
  test/testkit/mocks/backend/deployment.go
  test/testkit/mocks/telemetrygen/telemetrygen.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "fix: Optimize Prometheus scrape target discovery (#1663)"
  hack/load-tests/metric-agent-test-setup.yaml
  internal/otelcollector/config/metric/agent/config.go
  internal/otelcollector/config/metric/agent/prometheus_receiver.go
  internal/otelcollector/config/metric/agent/testdata/config_istio_enabled.yaml
  internal/otelcollector/config/metric/agent/testdata/config_istio_not_enabled.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump github.com/vektra/mockery/v2 from 2.49.1 to 2.49.2 in /internal/tools (#1652)"
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

Revert "chore: Refactor OTel resources (#1659)"
  .testcoverage.yml
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/tracepipeline_controller.go
  internal/labels/labels.go
  internal/labels/labels_test.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/logpipeline/otel/reconciler_test.go
  internal/reconciler/logpipeline/otel/status.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/telemetry/reconciler.go
  internal/reconciler/telemetry/status.go
  internal/reconciler/telemetry/status_test.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/reconciler/tracepipeline/status.go
  internal/resources/common/labels.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/agent_test.go
  internal/resources/otelcollector/config.go
  internal/resources/otelcollector/core.go
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/gateway_test.go
  internal/resources/otelcollector/rbac.go
  internal/resources/otelcollector/rbac_test.go
  internal/resources/otelcollector/testdata/log-gateway.yaml
  internal/resources/otelcollector/testdata/metric-agent.yaml
  internal/resources/otelcollector/testdata/metric-gateway-istio.yaml
  internal/resources/otelcollector/testdata/metric-gateway.yaml
  internal/resources/otelcollector/testdata/trace-gateway.yaml
  internal/resources/selfmonitor/resources.go
  internal/utils/test/marshal.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump go.opentelemetry.io/collector/pdata from 1.20.0 to 1.21.0 (#1655)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump github.com/prometheus/common from 0.60.1 to 0.61.0 (#1661)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump golang.org/x/tools from 0.27.0 to 0.28.0 in /internal/tools (#1660)"
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

Revert "chore: Update to istio module 1.11.0 (#1657)"
  .env
Due: none

Revert "chore: Switch integration testing to k8s 1.31 (#1653)"
  .github/workflows/branch-integration.yml
Due: none

Revert "chore: Fix perf test problems (#1650)"
  hack/load-tests/log-fluentbit-test-setup.yaml
  hack/load-tests/metric-load-test-setup.yaml
  hack/load-tests/self-monitor-test-setup.yaml
  hack/load-tests/trace-load-test-setup.yaml
Due: none

Revert "feat: Update to fluentbit 3.2.2 (#1646)"
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump github.com/vektra/mockery/v2 from 2.49.0 to 2.49.1 in /internal/tools (#1641)"
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

Revert "chore: Migrate from kubebuilder RBAC annotations to commented kustomize (#1622)"
  config/rbac/logpipeline_editor_role.yaml
  config/rbac/logpipeline_viewer_role.yaml
  config/rbac/operator_telemetry_editor_role.yaml
  config/rbac/operator_telemetry_viewer_role.yaml
  config/rbac/role.yaml
  config/rbac/telemetry_logparser_editor_role.yaml
  config/rbac/telemetry_logparser_viewer_role.yaml
  config/rbac/telemetry_metricpipeline_editor_role.yaml
  config/rbac/telemetry_metricpipeline_viewer_role.yaml
  config/rbac/telemetry_tracepipeline_editor_role.yaml
  config/rbac/telemetry_tracepipeline_viewer_role.yaml
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: Update fluentbit image to 3.2.2 (#1645)"
  external-images.yaml
Due: none

Revert "chore: Update prometheus to 3.0.1 (#1642)"
  dependencies/telemetry-self-monitor/envs
Due: pull-telemetry-manager-verify-module

Revert "chore: Update self-monitor to prometheus 3.0.1 (#1643)"
  docs/contributor/benchmarks/README.md
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "feat: Bump OTel image version to 0.114.0 (#1632)"
  config/samples/telemetry_v1alpha1_tracepipeline.yaml
  docs/contributor/benchmarks/README.md
  hack/deploy-istio.sh
  hack/load-tests/log-fluentbit-test-setup.yaml
  hack/load-tests/metric-agent-test-setup.yaml
  hack/load-tests/metric-load-test-setup.yaml
  hack/load-tests/otel-logs/base/log-generator.yaml
  hack/load-tests/otel-logs/big/log-generator.yaml
  hack/load-tests/prometheus-setup.yaml
  hack/load-tests/run-load-test.sh
  hack/load-tests/self-monitor-test-setup.yaml
  hack/load-tests/trace-load-test-setup.yaml
  hack/load-tests/values.yaml
  main.go
  sec-scanners-config.yaml
  test/testkit/mocks/backend/deployment.go
  test/testkit/mocks/telemetrygen/telemetrygen.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: Make all-checks-passed run on re-requesting jobs (#1639)"
  .github/workflows/pr-all-checks-passed.yml
Due: none

Revert "chore: bump github.com/k3d-io/k3d/v5 from 5.7.4 to 5.7.5 in /internal/tools (#1640)"
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

Revert "chore: Simplify admission webhook setup (#1633)"
  .testcoverage.yml
  main.go
  webhook/logparser/v1alpha1/setup.go
  webhook/logparser/v1alpha1/webhook.go
  webhook/logpipeline/v1alpha1/defaulter.go
  webhook/logpipeline/v1alpha1/defaulter_test.go
  webhook/logpipeline/v1alpha1/files_validator_test.go
  webhook/logpipeline/v1alpha1/handler.go
  webhook/logpipeline/v1alpha1/handler_test.go
  webhook/logpipeline/v1alpha1/max_pipelines_validator_test.go
  webhook/logpipeline/v1alpha1/setup.go
  webhook/logpipeline/v1alpha1/spec_validator_test.go
  webhook/logpipeline/v1alpha1/variable_validator_test.go
  webhook/logpipeline/v1beta1/defaulter.go
  webhook/logpipeline/v1beta1/defaulter_test.go
  webhook/logpipeline/v1beta1/setup.go
  webhook/metricpipeline/v1alpha1/defaulter.go
  webhook/metricpipeline/v1alpha1/defaulter_test.go
  webhook/metricpipeline/v1alpha1/setup.go
  webhook/metricpipeline/v1beta1/defaulter.go
  webhook/metricpipeline/v1beta1/defaulter_test.go
  webhook/metricpipeline/v1beta1/setup.go
  webhook/tracepipeline/v1alpha1/defaulter.go
  webhook/tracepipeline/v1alpha1/defaulter_test.go
  webhook/tracepipeline/v1alpha1/setup.go
  webhook/tracepipeline/v1beta1/defaulter.go
  webhook/tracepipeline/v1beta1/defaulter_test.go
  webhook/tracepipeline/v1beta1/setup.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump the istio group with 2 updates (#1635)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump github.com/golangci/golangci-lint from 1.62.0 to 1.62.2 in /internal/tools (#1638)"
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

Revert "chore: bump github.com/onsi/gomega from 1.35.1 to 1.36.0 (#1637)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "chore: bump github.com/stretchr/testify from 1.9.0 to 1.10.0 (#1636)"
  go.mod
  go.sum
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "docs: Fix dead Jaeger link (#1634)"
  docs/user/integration/jaeger/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Revert "chore: bump github.com/vektra/mockery/v2 from 2.48.0 to 2.49.0 in /internal/tools (#1628)"
  internal/tools/go.mod
  internal/tools/go.sum
Due: none
