Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-manager-upgrade-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-upgrade-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20230327-2887f8b7
      securityContext:
  ...

pull-telemetry-manager-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

pull-telemetry-manager-verify-module:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-verify-module
    prow.k8s.io/pubsub.topic: prowjobs
    preset-gc-project-env: 'true'
    preset-kyma-guard-bot-github-token: 'true'
    preset-sa-vm-kyma-integration: 'true'
  decorate: true
  spec:
  ...

Adjust the names after the review
  test/e2e/logging_annotation_test.go
  test/e2e/logging_fluentbit_metrics_test.go
  test/e2e/logging_label_test.go
  test/e2e/logging_parser_test.go
  test/testkit/matchers/log_matchers.go
  test/testkit/matchers/log_matchers_test.go
  test/testkit/matchers/metric_matchers.go
  test/testkit/matchers/prometheus_matcher.go
  test/testkit/matchers/prometheus_matcher_test.go
  test/testkit/matchers/trace_matchers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

adjust logging arch diagram
  docs/user/assets/logging-arch.drawio.svg
Due: none

Fix typo
  test/testkit/matchers/log_matchers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Improve custom gomega matchers (#311)
  test/e2e/logging_annotation_test.go
  test/e2e/logging_exclude_container_test.go
  test/e2e/logging_fluentbit_metrics_test.go
  test/e2e/logging_label_test.go
  test/e2e/logging_parser_test.go
  test/e2e/metrics_prometheus_input_test.go
  test/e2e/metrics_runtime_input_test.go
  test/e2e/metrics_test.go
  test/e2e/tracing_test.go
  test/testkit/matchers/log_matchers.go
  test/testkit/matchers/log_matchers_test.go
  test/testkit/matchers/metric_matchers.go
  test/testkit/matchers/metric_matchers_test.go
  test/testkit/matchers/prometheus_matcher.go
  test/testkit/matchers/prometheus_matcher_test.go
  test/testkit/matchers/testdata/consist_of_spans_with_attributes/full_match.jsonl
  test/testkit/matchers/testdata/consist_of_spans_with_attributes/no_match.jsonl
  test/testkit/matchers/testdata/consist_of_spans_with_attributes/partial_match.jsonl
  test/testkit/matchers/testdata/consist_of_spans_with_ids/full_match.jsonl
  test/testkit/matchers/testdata/consist_of_spans_with_ids/no_match.jsonl
  test/testkit/matchers/testdata/consist_of_spans_with_ids/partial_match.jsonl
  test/testkit/matchers/testdata/consist_of_spans_with_trace_id/full_match.jsonl
  test/testkit/matchers/testdata/consist_of_spans_with_trace_id/no_match.jsonl
  test/testkit/matchers/testdata/consist_of_spans_with_trace_id/partial_match.jsonl
  test/testkit/matchers/testdata/have_logs/logs.jsonl
  test/testkit/matchers/testdata/have_metrics/full_match.jsonl
  test/testkit/matchers/testdata/have_metrics/no_match.jsonl
  test/testkit/matchers/testdata/have_metrics/partial_match.jsonl
  test/testkit/matchers/testdata/have_metrics_sum/full_match.jsonl
  test/testkit/matchers/testdata/have_metrics_sum/no_match.jsonl
  test/testkit/matchers/testdata/have_metrics_sum/partial_match.jsonl
  test/testkit/matchers/testdata/kubelet_metrics/kubelet_metrics.jsonl
  test/testkit/matchers/testdata/prometheus/metrics.txt
  test/testkit/matchers/trace_matchers.go
  test/testkit/matchers/trace_matchers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

further twwaks to diagrams
  docs/user/assets/logging-arch.drawio.svg
  docs/user/assets/telemetry-components.drawio.svg
  docs/user/assets/tracing-arch.drawio.svg
Due: none

less confusion for Telemetry Manager vs operator
  README.md
  docs/contributor/development.md
  docs/contributor/governance.md
  docs/contributor/troubleshooting.md
  docs/user/01-manager.md
  docs/user/02-logs.md
  docs/user/03-traces.md
  docs/user/README.md
Due: pull-telemetry-manager-governance

Telemetry Manager also in logging architecture
  docs/user/assets/logging-arch.drawio.svg
Due: none

sends logs (plural)
  docs/user/assets/logging-arch.drawio.svg
Due: none

add istio acess logs test
  hack/deploy-istio.sh
  test/integration/const.go
  test/integration/istio_access_logs_test.go
  test/integration/resources/istio-access-logs.yaml
  test/testkit/kyma/istio/istio.go
  test/testkit/kyma/istio/telemetry.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fixes
  Makefile
  hack/deploy-istio.sh
  test/integration/const.go
  test/integration/istio_access_logs_test.go
  test/integration/resources/istio-access-logs.yaml
  test/integration/suite_test.go
  test/testkit/kyma/telemetry/log/parser.go
  test/testkit/mocks/custom_metric_provider.go
  test/testkit/mocks/urlprovider.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix broken link
  README.md
Due: pull-telemetry-manager-governance

fix
  test/testkit/mocks/logbackend_config_map.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix
  test/integration/istio_access_logs_test.go
  test/testkit/kyma/istio/istio.go
  test/testkit/kyma/istio/telemetry.go
  test/testkit/kyma/telemetry/log/pipeline.go
  test/testkit/mocks/urlprovider.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix makefile
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Retry istio telemetry creation
  hack/deploy-istio.sh
Due: none

Fix bug
  config/manager/kustomization.yaml
  test/integration/resources/istio-access-logs.yaml
  test/testkit/kyma/telemetry/log/pipeline.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Fix test
  test/integration/istio_access_logs_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Start refactoring log matchers
  test/e2e/logging_exclude_container_test.go
  test/testkit/matchers/log_matchers.go
  test/testkit/matchers/log_matchers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Refactor attr keyvalue matcher
  test/e2e/logging_parser_test.go
  test/testkit/matchers/log_matchers.go
  test/testkit/matchers/log_matchers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Refactor the rest of ContainLogsWith
  test/e2e/logging_annotation_test.go
  test/e2e/logging_label_test.go
  test/testkit/matchers/log_matchers.go
  test/testkit/matchers/log_matchers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Clean up unit tests
  test/testkit/matchers/log_matchers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Simplify log filters
  test/testkit/matchers/log_matchers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Refactor getting k8s attrs
  test/testkit/matchers/log_matchers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Rewrite the filters to not use raw maps
  test/testkit/matchers/log_matchers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

some more improvements and matchers
  test/integration/istio_access_logs_test.go
  test/testkit/kyma/telemetry/log/pipeline.go
  test/testkit/matchers/log_matchers.go
  test/testkit/matchers/log_matchers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix
  test/integration/istio_access_logs_test.go
  test/integration/suite_test.go
  test/testkit/kyma/istio/istio.go
  test/testkit/matchers/log_matchers.go
  test/testkit/mocks/urlprovider.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix
  test/integration/istio_access_logs_test.go
  test/testkit/kyma/istio/istio.go
  test/testkit/matchers/log_matchers.go
  test/testkit/matchers/log_matchers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fixes
  test/integration/istio_access_logs_test.go
  test/testkit/kyma/istio/istio.go
  test/testkit/matchers/log_matchers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix
  test/integration/istio_access_logs_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

fix
  config/manager/kustomization.yaml
  test/integration/istio_access_logs_test.go
  test/testkit/kyma/istio/istio.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Fixed mock and resource watchers
  controllers/operator/telemetry_controller.go
  controllers/telemetry/logparser_controller.go
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/metricpipeline_controller_test.go
  controllers/telemetry/tracepipeline_controller.go
  controllers/telemetry/tracepipeline_controller_test.go
  internal/kubernetes/mocks/Client.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Refactor the tests
  test/testkit/matchers/log_matchers.go
  test/testkit/matchers/log_matchers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Remove variadic filters
  test/e2e/logging_exclude_container_test.go
  test/e2e/logging_log_delivery_test.go
  test/testkit/matchers/log_matchers.go
  test/testkit/matchers/log_matchers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Improve logs
  test/testkit/matchers/log_matchers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Fix lint
  .golangci.yaml
  test/integration/istio_access_logs_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

change target name
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Attempt to fix long line issue
  test/testkit/matchers/log_matchers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Fix lint
  test/testkit/matchers/log_matchers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-verify-module

Update docs/user/integration/dynatrace/README.md
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
  pull-telemetry-manager-verify-module: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
