Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

lint
  internal/utils/metricpipeline/metricpipeline.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add unit test
  internal/utils/metricpipeline/metricpipeline_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

replace getbackendport in metricpipeline reconciler
  internal/reconciler/metricpipeline/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: add missing view in dashboard form for enrichment configurations (#2600)
  helm/files/telemetries-busola-config.yaml
Due: none

update OTLP Input and Telemetry Stages
  docs/user/assets/otlp-input.drawio.svg
  docs/user/assets/telemetry-stages.drawio.svg
  docs/user/otlp-input.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Finalize renaming. Simplify transform validator creation
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/tracepipeline_controller.go
  internal/reconciler/logpipeline/otel/status.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/reconciler/tracepipeline/status.go
  internal/validators/ottl/transform_spec_validator.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

enable FIPS mode for telemetry-manager
  Dockerfile
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

enable FIPS mode for self-monitor
  dependencies/telemetry-self-monitor/Dockerfile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

fix: relax validation rule for ValueType API elements (#2597)
  apis/telemetry/v1alpha1/logpipeline_conversion.go
  apis/telemetry/v1alpha1/shared_types.go
  helm/charts/default/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_tracepipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_tracepipelines.yaml
  test/e2e/logs/misc/reject_creation_test.go
  test/e2e/metrics/misc/reject_creation_test.go
  test/e2e/traces/reject_creation_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

review otlp output
  docs/user/assets/otlp-output.drawio.svg
Due: none

use otel collector image with FIPS mode enabled
  .env
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: relax validation rule for ValueType API elements (#2597) (#2602)
  apis/telemetry/v1alpha1/logpipeline_conversion.go
  apis/telemetry/v1alpha1/shared_types.go
  helm/charts/default/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_tracepipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_tracepipelines.yaml
  test/e2e/logs/misc/reject_creation_test.go
  test/e2e/metrics/misc/reject_creation_test.go
  test/e2e/traces/reject_creation_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

revert to use slice of conditions
  apis/telemetry/v1alpha1/logpipeline_conversion.go
  apis/telemetry/v1alpha1/logpipeline_conversion_test.go
  apis/telemetry/v1alpha1/logpipeline_types.go
  apis/telemetry/v1alpha1/metricpipeline_types.go
  apis/telemetry/v1alpha1/tracepipeline_types.go
  apis/telemetry/v1alpha1/zz_generated.deepcopy.go
  apis/telemetry/v1beta1/logpipeline_types.go
  apis/telemetry/v1beta1/metricpipeline_types.go
  apis/telemetry/v1beta1/tracepipeline_types.go
  apis/telemetry/v1beta1/zz_generated.deepcopy.go
  helm/charts/experimental/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_tracepipelines.yaml
  internal/otelcollector/config/common/processor_builders.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/loggateway/config_builder.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
  internal/otelcollector/config/tracegateway/config_builder.go
  internal/utils/test/log_pipeline_builder.go
  internal/utils/test/metric_pipeline_builder.go
  internal/utils/test/trace_pipeline_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix linting
  internal/build/info.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix lint
  apis/telemetry/v1alpha1/logpipeline_conversion_test.go
  internal/otelcollector/config/common/processor_builders.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update CLS diagram
  docs/user/integration/assets/sap-cloud-logging.drawio.svg
Due: none

update telemetry architecture diagrams
  docs/user/assets/manager-resources.drawio.svg
  docs/user/assets/telemetry-arch.drawio.svg
Due: none

Simplify
  internal/validators/ottl/parser_collection.go
  internal/validators/ottl/transform_spec_validator.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: remove invalid CRD validation for inline element
  apis/telemetry/v1alpha1/shared_types.go
  apis/telemetry/v1beta1/shared_types.go
  helm/charts/experimental/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_tracepipelines.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Move common func to parser_collection
  internal/validators/ottl/parser_collection.go
  internal/validators/ottl/transform_spec_validator.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Minor renaming
  internal/validators/ottl/parser_collection.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add a comment
  internal/validators/ottl/parser_collection.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  helm/charts/default/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_tracepipelines.yaml
Due: none

Fix coverage
  .testcoverage.yml
Due: none

re-add the removed test TestReturnsCorrectGitTag
  internal/build/info_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update architecture diagrams
  docs/user/assets/istio-input.drawio.svg
  docs/user/assets/istio-output.drawio.svg
  docs/user/assets/logs-arch.drawio.svg
  docs/user/assets/metrics-arch.drawio.svg
  docs/user/assets/traces-arch.drawio.svg
Due: none

fix: remove invalid CRD validation for inline element (#2604)
  apis/telemetry/v1alpha1/shared_types.go
  apis/telemetry/v1beta1/shared_types.go
  helm/charts/default/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_tracepipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_tracepipelines.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix aws diagram
  docs/user/integration/assets/cloudwatch.drawio.svg
Due: none

Apply suggestions from code review
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix: remove invalid CRD validation for inline element (#2606)
  apis/telemetry/v1alpha1/shared_types.go
  apis/telemetry/v1beta1/shared_types.go
  helm/charts/default/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_tracepipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_tracepipelines.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adjust unit tests and include sorting compacting
  internal/utils/metricpipeline/metricpipeline.go
  internal/utils/metricpipeline/metricpipeline_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

simplify
  internal/reconciler/metricpipeline/reconciler.go
  internal/utils/metricpipeline/metricpipeline.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

lint
  internal/utils/metricpipeline/metricpipeline.go
  internal/utils/metricpipeline/metricpipeline_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove extractbackendport test
  internal/utils/metricpipeline/metricpipeline_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

clarify plhd dummy scheme
  internal/utils/metricpipeline/metricpipeline.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add sort test
  internal/utils/metricpipeline/metricpipeline_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: add URL parsing logic for metric agent backend port annotation (#2601)
  internal/reconciler/metricpipeline/reconciler.go
  internal/utils/metricpipeline/metricpipeline.go
  internal/utils/metricpipeline/metricpipeline_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
