Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

Fix test buildrs
  internal/utils/test/log_pipeline_builder.go
  internal/utils/test/pipeline_opts.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add table-driven test
  test/e2e/logs/otel/namespace_selector_test.go
  test/e2e/logs/otel/suite_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add suggestions
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

apply more suggestions
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

minor fix
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

adjust dashboards
  docs/user/integration/sap-cloud-logging/dashboard-nodes.ndjson
  docs/user/integration/sap-cloud-logging/dashboard-workloads.ndjson
Due: none

restore kyma cluster and reduce line jumps
  docs/user/assets/logs-arch.drawio.svg
Due: none

update diagram
  docs/user/assets/logs-arch.drawio.svg
Due: none

bring frame forward
  docs/user/assets/logs-arch.drawio.svg
Due: none

bump OTel version to 0.124.0
  .env
  internal/images/images.go
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: restore kyma cluster and reduce line jumps (#2063)
  docs/user/assets/logs-arch.drawio.svg
Due: none

review feedback
  internal/selfmonitor/config/rules.go
  test/e2e/logs/otel/otlp/multi_pipeline_namespace_selector_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: switch bufferInUse alert to a different metric to contain the pipeline name (#2060)
  internal/resources/fluentbit/resources.go
  internal/resources/fluentbit/testdata/fluentbit.yaml
  internal/selfmonitor/config/config_builder.go
  internal/selfmonitor/config/fluent_bit_rule_builder.go
  internal/selfmonitor/config/rules.go
  internal/selfmonitor/config/rules_test.go
  internal/selfmonitor/config/testdata/config.yaml
  internal/selfmonitor/config/testdata/rules.yaml
  internal/selfmonitor/config/testdata/rules_compatibility.yaml
  internal/selfmonitor/prober/log_pipeline_prober.go
  internal/selfmonitor/prober/log_pipeline_prober_test.go
  internal/selfmonitor/prober/otel_pipeline_prober_test.go
  internal/selfmonitor/webhook/handler_test.go
  test/e2e/logs/otel/application/basic_test.go
  test/e2e/logs/otel/application/multi_pipeline_namespace_selector_test.go
  test/e2e/logs/otel/application/multi_pipeline_test.go
  test/e2e/logs/otel/application/service_name_test.go
  test/e2e/logs/otel/application/trace_attributes_parser_test.go
  test/e2e/logs/otel/otlp/basic_test.go
  test/e2e/logs/otel/otlp/extract_labels_test.go
  test/e2e/logs/otel/otlp/multi_pipeline_namespace_selector_test.go
  test/e2e/logs/otel/otlp/service_name_test.go
  test/e2e/selfmonitor/logs_fluentbit_healthy_test.go
  test/e2e/selfmonitor/logs_otel_healthy_test.go
  test/testkit/assert/logs.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add benchmark test results for OTel version 0.124.0
  docs/contributor/benchmarks/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

use active voice
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix indentation
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

bump fluent-bit image in cache to version 4.0.0
  external-images.yaml
Due: none

chore: update Fluent Bit image in cache to version 4.0.0 (#2066)
  external-images.yaml
Due: none

docs: add docs for dynatrace dashboard integration (#2037)
  docs/user/integration/dynatrace/README.md
  docs/user/integration/dynatrace/telemetry-resource-metrics.json
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Rewrite the e2e test in vanialla go test
  .gitignore
  internal/utils/test/log_pipeline_builder.go
  test/e2e/logs/otel/namespace_selector_test.go
  test/e2e/logs/otel/service_name_test.go
  test/e2e/logs/otel/suite_test.go
  test/testkit/mocks/loggen/log_producer.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: add support for include/exlcude containers
  internal/otelcollector/config/log/agent/config_builder_test.go
  internal/otelcollector/config/log/agent/receivers.go
  internal/otelcollector/config/log/agent/receivers_test.go
  internal/otelcollector/config/log/agent/testdata/config.yaml
  internal/otelcollector/config/log/agent/testdata/config_compatibility_enabled.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add a PoC
  docs/contributor/pocs/ginkgo-to-go-testing/ginkgo-to-go-testing.md
  docs/contributor/pocs/ginkgo-to-go-testing/service_name_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Reverted changed code
  internal/tools/go.mod
  internal/tools/go.sum
  internal/utils/test/log_pipeline_builder.go
  internal/utils/test/pipeline_opts.go
  test/e2e/logs/otel/service_name_test.go
  test/testkit/mocks/loggen/log_producer.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert more changes
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

fixes
  internal/otelcollector/config/log/agent/config_builder.go
  internal/otelcollector/config/log/agent/receivers.go
  internal/otelcollector/config/log/agent/receivers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

bump fluent-bit image version to 4.0.0
  .env
  internal/images/images.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: add container restarts metric as part of runtime input (#2058)
  docs/user/04-metrics.md
  docs/user/integration/sap-cloud-logging/dashboard-nodes.ndjson
  docs/user/integration/sap-cloud-logging/dashboard-workloads.ndjson
  internal/otelcollector/config/metric/agent/config.go
  internal/otelcollector/config/metric/agent/receivers.go
  internal/otelcollector/config/metric/agent/receivers_test.go
  internal/otelcollector/config/metric/agent/testdata/config_compatibility_enabled.yaml
  internal/otelcollector/config/metric/agent/testdata/config_istio_enabled.yaml
  internal/otelcollector/config/metric/agent/testdata/config_istio_not_enabled.yaml
  test/testkit/metrics/runtime/container.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add an ADR
  docs/contributor/arch/020-redesign-e2e-log-test-structure.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Simplify a paragraph
  docs/contributor/pocs/ginkgo-to-go-testing/_service_name_enrichment_test.go
  docs/contributor/pocs/ginkgo-to-go-testing/ginkgo-to-go-testing.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Apply suggestions from code review
  docs/contributor/pocs/ginkgo-to-go-testing/ginkgo-to-go-testing.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: add k3s to image sync (#2056)
  external-images.yaml
Due: none

Fix path
  docs/contributor/arch/020-redesign-e2e-log-test-structure.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix
  config/busola/logpipeline_busola_extension_cm.yaml
  config/busola/metricpipeline_busola_extension_cm.yaml
  config/busola/tracepipeline_busola_extension_cm.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

Describe TestMain approach
  docs/contributor/pocs/ginkgo-to-go-testing/ginkgo-to-go-testing.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

ran make manifests
  config/busola/logpipeline_busola_extension_cm.yaml
  config/busola/metricpipeline_busola_extension_cm.yaml
  config/busola/tracepipeline_busola_extension_cm.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

dont run e2e tests on busola crd changes
  .github/workflows/pr-integration.yml
Due: none
