Repository kyma-project/directory-size-exporter: changes, and which Prow jobs are due for each by the changed paths.
All: pull-directory-size-exporter-governance, pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

Path conditions:
  pull-directory-size-exporter-governance: any of: milv.config.yaml|.md$
  pull-directory-size-exporter-lint: any of: ^(go.mod|go.sum)$|^(.*\.go$|.golangcilint.yaml)
  pull-directory-size-exporter-unit-test: any of: ^(go.mod|go.sum)$|^.*\.go$

fix order
  .golangci.yaml
Due: none

fix mod file
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

fix mod file
  internal/tools/go.mod
  internal/tools/tools.go
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

fix linter order
  .golangci.yaml
Due: none

Update Dockerfile
  Dockerfile
Due: none

fix linting
  internal/exporter/exporter.go
  main.go
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

fix linting
  internal/exporter/exporter.go
  internal/exporter/exporter_test.go
  main.go
Due: pull-directory-size-exporter-lint, pull-directory-size-exporter-unit-test

Remove deprecated build-engine: buildx
  .github/workflows/build-image.yml
Due: none

chore: remove build-engine buildx (#163)
  .github/workflows/build-image.yml
Due: none

Update README.md
  README.md
Due: pull-directory-size-exporter-governance

Add deprecation note (#175)
  README.md
Due: pull-directory-size-exporter-governance
