Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

use latest commit on release branch for upgrade tests
  .github/workflows/pr-upgrade.yml
  test/testkit/k8s/objects.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use release version instead of data-sha as tag
  .github/workflows/pr-upgrade.yml
Due: none

fix: upgrade tests fail due to automatic resource cleanup (#2757)
  .github/workflows/pr-upgrade.yml
  test/e2e/upgrade/logs_fluentbit_upgrade_test.go
  test/e2e/upgrade/logs_upgrade_test.go
  test/e2e/upgrade/metrics_upgrade_test.go
  test/e2e/upgrade/traces_upgrade_test.go
  test/testkit/k8s/objects.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: upgrade tests fail due to automatic resource cleanup (#2758)
  .github/workflows/pr-upgrade.yml
  test/e2e/upgrade/logs_fluentbit_upgrade_test.go
  test/e2e/upgrade/logs_upgrade_test.go
  test/e2e/upgrade/metrics_upgrade_test.go
  test/e2e/upgrade/traces_upgrade_test.go
  test/testkit/k8s/objects.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: return generic error for user when validating webhook fails unexpectedly (#2739)
  .testcoverage.yml
  webhook/logpipeline/v1alpha1/validator.go
  webhook/logpipeline/v1beta1/validator.go
  webhook/metricpipeline/v1alpha1/validator.go
  webhook/metricpipeline/v1beta1/validator.go
  webhook/tracepipeline/v1alpha1/validator.go
  webhook/tracepipeline/v1beta1/validator.go
  webhook/utils/transformfilter.go
  webhook/utils/transformfilter_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: update to golang 1.25.5 and alpine 3.23 (#2756)
  .env
  .github/workflows/pr-upgrade.yml
  dependencies/directory-size-exporter/go.mod
  dependencies/populateimages/go.mod
  dependencies/sample-app/go.mod
  dependencies/stdout-log-generator/go.mod
  go.mod
  helm/values.yaml
  internal/tools/go.mod
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

test multiple labels
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix dependency mismatch
  test/e2e/logs/gateway/empty_enrichment_values_test.go
  test/e2e/metrics/gateway/empty_enrichment_values_test.go
  test/e2e/traces/empty_enrichment_values_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix e2e tests
  test/e2e/logs/gateway/empty_enrichment_values_test.go
  test/e2e/metrics/gateway/empty_enrichment_values_test.go
  test/e2e/traces/empty_enrichment_values_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Implement review comments
  internal/otelcollector/config/common/config_builder.go
  internal/otelcollector/config/common/processor_builders.go
  internal/otelcollector/config/common/processor_builders_test.go
  internal/otelcollector/config/common/types.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/logagent/config_builder_test.go
  internal/otelcollector/config/loggateway/config_builder.go
  internal/otelcollector/config/loggateway/config_builder_test.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_test.go
  internal/otelcollector/config/tracegateway/config_builder.go
  internal/otelcollector/config/tracegateway/config_builder_test.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Move ClusterOptions
  internal/otelcollector/config/common/config_builder.go
  internal/otelcollector/config/common/processor_builders.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: adr for migration of batch processor to exporter helper batching (#2751)
  docs/contributor/arch/029-batch-processor-migration-to-exporterhelper.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add initial template
  helm/templates/deployment.yaml
  helm/templates/pod-template-cm.yaml
  helm/values.yaml
Due: none

Clarify tests and implement review comments
  internal/otelcollector/config/common/processor_builders.go
  internal/otelcollector/config/common/processor_builders_test.go
  internal/otelcollector/config/logagent/config_builder_test.go
  internal/otelcollector/config/loggateway/config_builder_test.go
  internal/otelcollector/config/metricgateway/config_builder_test.go
  internal/otelcollector/config/tracegateway/config_builder_test.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler.go
  test/e2e/logs/gateway/empty_enrichment_values_test.go
  test/e2e/metrics/gateway/empty_enrichment_values_test.go
  test/e2e/traces/empty_enrichment_values_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: add support for custom annotations and labels on telemetry gateways
  apis/operator/v1alpha1/telemetry_types.go
  apis/operator/v1alpha1/zz_generated.deepcopy.go
  apis/operator/v1beta1/telemetry_types.go
  apis/operator/v1beta1/zz_generated.deepcopy.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/resources/otelcollector/gateway.go
  samples/operator_v1alpha1_telemetry_with_annotations.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: add support for imagePullSecrets and custom CA bundle
  apis/operator/v1alpha1/telemetry_types.go
  apis/operator/v1alpha1/zz_generated.deepcopy.go
  apis/operator/v1beta1/telemetry_types.go
  apis/operator/v1beta1/zz_generated.deepcopy.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/resources/common/pod_spec.go
  internal/resources/otelcollector/core.go
  internal/resources/otelcollector/gateway.go
  samples/operator_v1alpha1_telemetry_with_pullsecrets_cabundle.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

some debug kubectl
  .github/workflows/pr-upgrade.yml
Due: none

fix k
  .github/workflows/pr-upgrade.yml
Due: none

dont wait
  .github/workflows/pr-upgrade.yml
Due: none

debug
  test/testkit/assert/resources_workload.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

debug
  .github/workflows/pr-upgrade.yml
Due: none

upgrade keep no fips mode
  .github/workflows/pr-upgrade.yml
Due: none

undo debug lines
  .github/workflows/pr-upgrade.yml
Due: none

Fix e2e tests k8s.namespace.name problem
  test/e2e/logs/gateway/enrichment_values_predefined_test.go
  test/e2e/metrics/gateway/enrichment_values_predefined_test.go
  test/e2e/traces/enrichment_values_predefined_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: gardener tests failed due to waiting for not existing resource (#2753)
  .github/workflows/gardener-integration.yml
  .github/workflows/pr-upgrade.yml
  test/testkit/assert/resources_workload.go
  test/testkit/k8s/objects.go
  test/testkit/k8s/objects_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

test: Implement update-golden-files Make target
  Makefile
  internal/otelcollector/config/logagent/config_builder_test.go
  internal/otelcollector/config/loggateway/config_builder_test.go
  internal/otelcollector/config/metricagent/config_builder_test.go
  internal/otelcollector/config/metricgateway/config_builder_test.go
  internal/otelcollector/config/tracegateway/config_builder_test.go
  internal/resources/fluentbit/resources_test.go
  internal/resources/otelcollector/agent_test.go
  internal/resources/otelcollector/gateway_test.go
  internal/resources/selfmonitor/resources_test.go
  internal/selfmonitor/config/config_builder_test.go
  internal/selfmonitor/config/rules_test.go
  internal/utils/test/golden_default.go
  internal/utils/test/golden_update.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix linting
  internal/selfmonitor/config/config_builder_test.go
  internal/selfmonitor/config/rules_test.go
  internal/utils/test/golden_default.go
  internal/utils/test/golden_update.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: Add disclaimer for OAuth2 with gRPC
  docs/user/integrate-otlp-backend/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add helm template for custom lable and annotation for workloads
  helm/templates/deployment.yaml
  helm/templates/pod-template-cm.yaml
  helm/values.yaml
  main.go
  template.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove unused files
  template.yaml
Due: none

add conversion gen
  Makefile
  apis/telemetry/v1alpha1/doc.go
  apis/telemetry/v1alpha1/groupversion_info.go
  apis/telemetry/v1alpha1/logpipeline_conversion.go
  apis/telemetry/v1alpha1/logpipeline_conversion_test.go
  apis/telemetry/v1alpha1/metricpipeline_conversion.go
  apis/telemetry/v1alpha1/shared_types_conversion.go
  apis/telemetry/v1alpha1/zz_generated.conversion.go
  apis/telemetry/v1beta1/doc.go
  apis/telemetry/v1beta1/metricpipeline_conversion.go
  internal/tools/tools.go
  internal/utils/slices/slices.go
  webhook/logpipeline/v1alpha1/validator.go
  webhook/logpipeline/v1beta1/setup.go
  webhook/metricpipeline/v1alpha1/validator.go
  webhook/tracepipeline/v1alpha1/validator.go
  webhook/utils/transformfilter.go
  webhook/utils/transformfilter_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

generate manifessts
  helm/values.yaml
Due: none

use sanitization
  apis/telemetry/v1alpha1/logpipeline_conversion.go
  apis/telemetry/v1alpha1/logpipeline_conversion_test.go
  apis/telemetry/v1alpha1/metricpipeline_conversion.go
  apis/telemetry/v1alpha1/shared_types_conversion.go
  apis/telemetry/v1alpha1/zz_generated.conversion.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

lint
  apis/telemetry/v1alpha1/metricpipeline_conversion.go
  apis/telemetry/v1alpha1/shared_types_conversion.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test
