Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-test-infra-governance, prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-node, pre-test-infra-buildpack-node-chromium, pre-test-infra-buildpack-java, pre-test-infra-buildpack-java-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-probot-stale, pre-test-infra-prow-tools, pre-test-infra-prow-clonerefs, pre-test-infra-image-guard, pre-test-infra-github-connector-webhook-gateway, pre-test-infra-pubsub-connector-gateway, pre-test-infra-ci-force-bot, post-test-infra-bootstrap, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-node, post-test-infra-buildpack-node-chromium, post-test-infra-buildpack-java, post-test-infra-buildpack-java-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-probot-stale, post-test-infra-prow-tools, post-test-infra-prow-clonerefs, post-test-infra-image-guard, post-test-infra-github-connector-webhook-gateway, post-test-infra-pubsub-connector-gateway, post-test-infra-ci-force-bot, prow/test-infra/check_config, test-infra-development-tools, pre-test-infra-build-testimages, pre-main-test-infra-image-syncer-validate, pre-main-test-infra-image-syncer-dry-run, post-main-test-infra-image-syncer-run, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-main-stability-checker, post-main-stability-checker, pre-master-test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, pre-master-test-log-collector, post-master-test-log-collector, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-tools, pre-main-test-infra-validate-image-url-helper, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files, pre-main-test-infra-validate-prow-installer-files, pre-test-infra-validate-dockerfiles, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods, pre-main-test-infra-watch-pods, post-main-test-infra-watch-pods

pre-main-test-infra-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-test-infra-governance
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

prow/test-infra/bootstrap:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-golang:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-node:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/cleaner:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

pre-test-infra-bootstrap:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-test-infra-bootstrap
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-test-infra-kyma-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-test-infra-kyma-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

pre-test-infra-buildpack-golang:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-test-infra-buildpack-golang
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

i have trust issues now
  prow/jobs/kyma/components/telemetry-operator/telemetry-test.yaml
  templates/data/kyma-telemetry-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Revert "add kyma telemetry integration tests (#4706)"
  development/tools/jobs/kyma/telemetry_test.go
  prow/jobs/kyma/components/telemetry-operator/telemetry-test.yaml
  prow/scripts/kyma-telemetry-test.sh
  templates/data/kyma-telemetry-data.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Revert "add kyma telemetry integration tests (#4706)" (#4716)
  development/tools/jobs/kyma/telemetry_test.go
  prow/jobs/kyma/components/telemetry-operator/telemetry-test.yaml
  prow/scripts/kyma-telemetry-test.sh
  templates/data/kyma-telemetry-data.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

VMcollector: change regexp to exclude
  development/tools/cmd/vmscollector/main.go
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/pkg/vmscollector/collector.go
  development/tools/pkg/vmscollector/collector_test.go
  prow/jobs/kyma/kyma-integration.yaml
  templates/data/kyma-integration-data.yaml
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-tools, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Add `approve` related plugin configuration for kyma-project/test-infra repo
  prow/plugins.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs

VMcollector: update documentation
  development/tools/cmd/vmscollector/README.md
Due: pre-main-test-infra-governance, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-governance, pre-main-test-infra-validate-prow-tools

try fix formatting
  development/tools/cmd/vmscollector/README.md
Due: pre-main-test-infra-governance, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-governance, pre-main-test-infra-validate-prow-tools

Add initial area labels to `label_sync`.
  OWNERS
  prow/labels.yaml
Due: pre-main-test-infra-validate-prow-jobs

typo
  development/tools/cmd/vmscollector/README.md
Due: pre-main-test-infra-governance, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-governance, pre-main-test-infra-validate-prow-tools

typo
  development/tools/cmd/vmscollector/main.go
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  templates/data/kyma-integration-data.yaml
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-tools, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

add approved label respect to tide for test-infra
  prow/config.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

slight changes
  development/tools/cmd/vmscollector/README.md
Due: pre-main-test-infra-governance, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-governance, pre-main-test-infra-validate-prow-tools

Ory component integration test in the reconciler
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/scripts/cluster-integration/reconciler-component-integration.sh
  prow/scripts/provision-vm-and-start-reconciler-component-integration-k3d.sh
  templates/data/incubator-buildpack-data.yaml
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

add approved label respect to tide for test-infra
  prow/plugins.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs

Fix permissions
  prow/scripts/cluster-integration/reconciler-component-integration.sh
  prow/scripts/provision-vm-and-start-reconciler-component-integration-k3d.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Add initial area labels to `label_sync`. (#4721)
  OWNERS
  prow/labels.yaml
Due: pre-main-test-infra-validate-prow-jobs

Add env var
  prow/scripts/cluster-integration/reconciler-component-integration.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Kyma install fix
  prow/scripts/cluster-integration/reconciler-component-integration.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Add minimal component list
  prow/scripts/cluster-integration/reconciler-component-integration.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Load env in the job
  prow/scripts/cluster-integration/reconciler-component-integration.sh
  prow/scripts/provision-vm-and-start-reconciler-component-integration-k3d.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Add proper instance name
  prow/scripts/provision-vm-and-start-reconciler-component-integration-k3d.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Make test running
  prow/scripts/cluster-integration/reconciler-component-integration.sh
  prow/scripts/cluster-integration/reconciler-ory-integration-components.yaml
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Add missing components file
  prow/scripts/provision-vm-and-start-reconciler-component-integration-k3d.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Revert "clonerefs(deps): bump k8s-prow/clonerefs in /prow/images/clonerefs (#4700)"
  prow/images/clonerefs/Dockerfile
Due: pre-test-infra-prow-clonerefs, post-test-infra-prow-clonerefs, pre-test-infra-build-testimages, pre-main-test-infra-validate-prow-jobs, pre-test-infra-validate-dockerfiles

Revert "clonerefs(deps): bump k8s-prow/clonerefs in /prow/images/clonerefs (#4700)" (#4723)
  prow/images/clonerefs/Dockerfile
Due: pre-test-infra-prow-clonerefs, post-test-infra-prow-clonerefs, pre-test-infra-build-testimages, pre-main-test-infra-validate-prow-jobs, pre-test-infra-validate-dockerfiles

remove script and job from rel21 onward
  prow/jobs/kyma/releases/kyma-release-21.yaml
  prow/scripts/cluster-integration/kyma-gke-rel2rel-upgrade.sh
  templates/data/kyma-release-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

disable building the unused upgrade tests
  prow/jobs/kyma/tests/end-to-end/upgrade/upgrade-tests-generic.yaml
  templates/data/generic_component_data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

remove `dex` for in Kyma 2
  development/tools/jobs/kyma/components_test.go
  development/tools/jobs/kyma/tests_test.go
  prow/jobs/kyma/components/dex-static-user-configurer/dex-static-user-configurer-generic.yaml
  prow/jobs/kyma/tests/integration/dex/dex-tests-generic.yaml
  templates/data/generic_component_data.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

fix spelling
  development/tools/cmd/yamlmerge/main.go
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-main-test-infra-validate-prow-tools

remove `xip-patch` for in Kyma 2 (#4711)
  development/tools/jobs/kyma/components_test.go
  prow/jobs/kyma/components/xip-patch/xip-patch-generic.yaml
  templates/data/generic_component_data.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

remove `dex` for in Kyma 2 (#4712)
  development/tools/jobs/kyma/components_test.go
  development/tools/jobs/kyma/tests_test.go
  prow/jobs/kyma/components/dex-static-user-configurer/dex-static-user-configurer-generic.yaml
  prow/jobs/kyma/tests/integration/dex/dex-tests-generic.yaml
  templates/data/generic_component_data.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

provision vm
  development/tools/jobs/kyma/telemetry_test.go
  prow/jobs/kyma/components/telemetry-operator/telemetry-test.yaml
  prow/scripts/cluster-integration/kyma-integration-telemetry-test.sh
  prow/scripts/provision-vm-and-start-kyma-k3d-telemetry.sh
  templates/data/kyma-telemetry-data.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

add pjtester config
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

use provision-vm-and-start-kyma-k3d
  development/tools/jobs/kyma/telemetry_test.go
  prow/jobs/kyma/components/telemetry-operator/telemetry-test.yaml
  templates/data/kyma-telemetry-data.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Small refactor
  prow/scripts/cluster-integration/reconciler-component-integration.sh
  prow/scripts/cluster-integration/reconciler-ory-integration-components.yaml
  prow/scripts/provision-vm-and-start-reconciler-component-integration-k3d.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

add extra refs
  prow/jobs/kyma/components/telemetry-operator/telemetry-test.yaml
  templates/data/kyma-telemetry-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Remove vpath
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

switch back to telemetry script
  development/tools/jobs/kyma/telemetry_test.go
  prow/jobs/kyma/components/telemetry-operator/telemetry-test.yaml
  templates/data/kyma-telemetry-data.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

change pjtester config
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

Add golang:1.17.6-alpine3.15 to external images
  development/image-syncer/external-images.yaml
Due: pre-main-test-infra-image-syncer-validate, pre-main-test-infra-image-syncer-dry-run, post-main-test-infra-image-syncer-run

Path conditions:
  pre-main-test-infra-governance: any of: milv.config.yaml|.md$
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  pre-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  pre-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  pre-test-infra-prow-tools: any of: ^development/(tools|jobguard)/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  pre-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  pre-test-infra-image-guard: any of: ^development/image-guard/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-github-connector-webhook-gateway: any of: ^development/kyma-github-connector/githubWebhookGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-pubsub-connector-gateway: any of: ^development/kyma-pubsub-connector/pubSubGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-ci-force-bot: any of: ^development/kyma-ci-force-bot/ciforcebot/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  post-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  post-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  post-test-infra-prow-tools: any of: ^development/(tools|jobguard)/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  post-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  post-test-infra-image-guard: any of: ^development/image-guard/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-github-connector-webhook-gateway: any of: ^development/kyma-github-connector/githubWebhookGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-pubsub-connector-gateway: any of: ^development/kyma-pubsub-connector/pubSubGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-ci-force-bot: any of: ^development/kyma-ci-force-bot/ciforcebot/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-test-infra-build-testimages: any of: ^prow/images/
  pre-main-test-infra-image-syncer-validate: any of: ^(development/image-syncer)
  pre-main-test-infra-image-syncer-dry-run: any of: ^(development/image-syncer/external-images.yaml)
  post-main-test-infra-image-syncer-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-main-test-infra-pjtester: any of: ^(vpath/pjtester.yaml)
  pre-main-test-infra-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-main-stability-checker: any of: ^stability-checker/
  post-main-stability-checker: any of: ^stability-checker/
  pre-master-test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  pre-master-test-log-collector: any of: ^development/test-log-collector/
  post-master-test-log-collector: any of: ^development/test-log-collector/
  pre-test-infra-validate-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  post-test-infra-upload-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-main-test-infra-validate-prow-tools: any of: ^development/tools/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-main-test-infra-validate-image-url-helper: any of: ^development/image-url-helper/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-main-test-infra-validate-prow-jobs: any of: ^(development/tools/jobs|prow)
  pre-main-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|pkg/rendertemplates/|jobs/releases/releases.go)|^prow/branchprotector-config.yaml
  pre-main-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-test-infra-validate-dockerfiles: any of: .*Dockerfile$
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/
  pre-main-test-infra-watch-pods: any of: ^watch-pods/
  post-main-test-infra-watch-pods: any of: ^watch-pods/
