Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

switch spec sample to resource file
  docs/user/01-manager.md
  docs/user/resources/01-telemetry.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

minor fixes
  docs/user/02-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix link
  docs/user/02-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

sync CLS integration guide
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

feat: Allow disabling pod and/or container metrics for runtime input (#1241)
  apis/telemetry/v1alpha1/metricpipeline_types.go
  apis/telemetry/v1alpha1/zz_generated.deepcopy.go
  apis/telemetry/v1beta1/metricpipeline_types.go
  apis/telemetry/v1beta1/zz_generated.deepcopy.go
  config/busola/metricpipeline_busola_extension_cm.yaml
  config/crd/bases/telemetry.kyma-project.io_metricpipelines.yaml
  config/development/crd/bases/telemetry.kyma-project.io_metricpipelines.yaml
  docs/user/04-metrics.md
  docs/user/resources/05-metricpipeline.md
  internal/otelcollector/config/metric/agent/config.go
  internal/otelcollector/config/metric/gateway/config.go
  internal/otelcollector/config/metric/gateway/config_builder.go
  internal/otelcollector/config/metric/gateway/config_builder_test.go
  internal/otelcollector/config/metric/gateway/processors.go
  internal/otelcollector/config/metric/gateway/processors_test.go
  internal/testutils/metric_pipeline_builder.go
  test/e2e/metrics_multi_pipeline_namespace_selector_test.go
  test/e2e/metrics_multi_pipeline_test.go
  test/e2e/metrics_prometheus_input_test.go
  test/e2e/metrics_runtime_input_resources_test.go
  test/e2e/metrics_runtime_input_test.go
  test/testkit/otel/kubeletstats/metrics.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Remove leftover of telemetry-trace-collector-internal noise fi… (#1252)
  internal/otelcollector/config/trace/gateway/drop_noisy_spans.go
  internal/otelcollector/config/trace/gateway/processors_test.go
  internal/otelcollector/config/trace/gateway/testdata/config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update label -> prefix mapping
  .github/workflows/pr-github-checks.yml
Due: none

fix indentation
  .github/workflows/pr-github-checks.yml
Due: none

docs: Fix missing link in dynatrace integration guide
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

deps: Update to golang 1.22.5
  Dockerfile
  go.mod
  internal/tools/go.mod
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add quotes
  .github/workflows/pr-github-checks.yml
Due: none

debug
  .github/workflows/pr-github-checks.yml
Due: none

revert trigger change
  .github/workflows/pr-github-checks.yml
Due: none

docs: Fix missing link in dynatrace integration guide (#1257)
  docs/user/integration/dynatrace/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Apply suggestions from code review
  test/e2e/telemetry_logs_analysis_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

re-add the Operations table
  docs/user/02-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: Check for warnings/errors in telemetry-self-monitor (#1251)
  test/e2e/telemetry_logs_analysis_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove link to audit logs topic
  docs/user/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update logs + traces Operations
  docs/user/02-logs.md
  docs/user/03-traces.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix typo
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

sync CLS guide with DITA
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update otel image to 0.104.0-1.20.0-rc1
  hack/load-tests/run-load-test.sh
  main.go
  sec-scanners-config.yaml
  test/testkit/mocks/backend/deployment.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update after Gosia's review
  docs/user/01-manager.md
  docs/user/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: Sync Markdown to DITA (#1247)
  docs/user/01-manager.md
  docs/user/02-logs.md
  docs/user/README.md
  docs/user/gateways.md
  docs/user/resources/01-telemetry.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

enable custom multiline filter
  internal/fluentbit/config/builder/config_builder.go
  internal/fluentbit/config/builder/config_builder_test.go
  internal/fluentbit/config/builder/custom_filter.go
  internal/fluentbit/config/builder/input.go
  internal/fluentbit/config/builder/input_test.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix unit tests
  webhook/dryrun/testdata/expected/pipelines/dynamic/logpipeline-1.conf
  webhook/dryrun/testdata/expected/pipelines/fluent-bit.conf
  webhook/dryrun/testdata/given/fluent-bit-configmap.yaml
Due: none

update unsupported fluentbit plugin lists, remove multiline filters from the list
  docs/user/02-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

sync with DITA, implement A.Thaler feedback
  docs/user/02-logs.md
  docs/user/03-traces.md
  docs/user/04-metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: Remove legacy pipeline cleanup
  internal/reconciler/logparser/reconciler.go
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Fix dependabot config
  .github/dependabot.yml
Due: none

chore: Update to golang 1.22.5 (#1258)
  Dockerfile
  go.mod
  internal/tools/go.mod
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Update label prefix mapping (#1256)
  .github/workflows/pr-github-checks.yml
Due: none

remove unnecessary checkbox as this check is automated
  .github/pull-request-template.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: Remove legacy pipeline cleanup (#1260)
  internal/reconciler/logparser/reconciler.go
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

check for milestone
  .github/workflows/pr-github-checks.yml
Due: none

chore: Update pr template (#1263)
  .github/pull-request-template.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

refactor custom filter config builder functions
  internal/fluentbit/config/builder/config_builder.go
  internal/fluentbit/config/builder/custom_filter.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix linebreak
  docs/contributor/benchmarks/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

refactor custom filter config builder
  internal/fluentbit/config/builder/config_builder.go
  internal/fluentbit/config/builder/custom_filter.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

custom filter builder updated
  internal/fluentbit/config/builder/config_builder.go
  internal/fluentbit/config/builder/custom_filter.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test
