Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-test-infra-governance, prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-golang-toolbox, pre-test-infra-buildpack-golang-kubebuilder2, pre-test-infra-buildpack-node, pre-test-infra-buildpack-node-chromium, pre-test-infra-buildpack-java, pre-test-infra-buildpack-java-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-kubectl, pre-test-infra-probot-stale, pre-test-infra-prow-tools, pre-test-infra-prow-clonerefs, pre-test-infra-image-guard, pre-test-infra-github-connector-webhook-gateway, pre-test-infra-pubsub-connector-gateway, post-test-infra-bootstrap, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-golang-toolbox, post-test-infra-buildpack-golang-kubebuilder2, post-test-infra-buildpack-node, post-test-infra-buildpack-node-chromium, post-test-infra-buildpack-java, post-test-infra-buildpack-java-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-kubectl, post-test-infra-probot-stale, post-test-infra-prow-tools, post-test-infra-prow-clonerefs, post-test-infra-image-guard, post-test-infra-github-connector-webhook-gateway, post-test-infra-pubsub-connector-gateway, prow/test-infra/check_config, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-master-stability-checker, post-master-stability-checker, pre-master-test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, pre-master-test-log-collector, post-master-test-log-collector, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-tools, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files, pre-main-test-infra-validate-prow-installer-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods

pre-main-test-infra-governance:
  labels:
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/bootstrap:PR-2951
      securityContext:
        privileged: true
      command:
  ...

prow/test-infra/bootstrap:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-golang:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/buildpack-node:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

prow/test-infra/cleaner:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-build-master: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      securityContext:
        privileged: true
  ...

pre-test-infra-bootstrap:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-test-infra-bootstrap
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pre-test-infra-kyma-integration:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-test-infra-kyma-integration
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

pre-test-infra-buildpack-golang:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-test-infra-buildpack-golang
    prow.k8s.io/pubsub.topic: prowjobs
    preset-build-pr: 'true'
    preset-dind-enabled: 'true'
    preset-docker-push-repository-test-infra: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  ...

copy screenshots and videos separately
  prow/scripts/provision-vm-and-start-busola-k3s.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Revert "Revert "add pjtester""
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

escape the home variable
  prow/scripts/provision-vm-and-start-busola-k3s.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

So, maybe I should use tilde
  prow/scripts/provision-vm-and-start-busola-k3s.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Remove alpine-kubectl image
  prow/images/alpine-kubectl/Dockerfile
  prow/images/alpine-kubectl/Makefile
  prow/images/alpine-kubectl/README.md
Due: pre-main-test-infra-governance, pre-test-infra-kubectl, post-test-infra-kubectl, pre-master-test-infra-governance, pre-main-test-infra-validate-prow-jobs

let it be outside of the quote
  prow/scripts/provision-vm-and-start-busola-k3s.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

review comments
  templates/data/kyma-integration-data.yaml
Due: pre-main-test-infra-validate-generated-files

Remove alpine-kubectl image (#3687)
  prow/images/alpine-kubectl/Dockerfile
  prow/images/alpine-kubectl/Makefile
  prow/images/alpine-kubectl/README.md
Due: pre-main-test-infra-governance, pre-test-infra-kubectl, post-test-infra-kubectl, pre-master-test-infra-governance, pre-main-test-infra-validate-prow-jobs

align helm chart
  development/kyma-github-connector/githubConnector/Chart.yaml
  development/kyma-github-connector/githubConnector/templates/01-ghConnectorSlackBotTokenSecret.yaml
  development/kyma-github-connector/githubConnector/templates/10-ghConnectorSlackServiceInstance.yaml
  development/kyma-github-connector/githubConnector/templates/12-ghConnectorSlackClientBindingUsage.yaml
  development/kyma-github-connector/githubConnector/templates/13-ghConnectorSlackClientFnSubscription.yaml
  development/kyma-github-connector/githubConnector/templates/13-ghConnectorSlackClientTrigger.yaml
  development/kyma-github-connector/githubConnector/values.yaml
  development/kyma-github-connector/githubWebhookGateway/go.mod
  development/kyma-github-connector/githubWebhookGateway/go.sum
  development/kyma-github-connector/issueLabeledFunction/handler.py
Due: none

shellcheck disable=SC2088
  prow/scripts/provision-vm-and-start-busola-k3s.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Delete pjtester.yaml
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

Busola tests artifacts fix (#3686)
  prow/scripts/provision-vm-and-start-busola-k3s.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Add dump db flag to provision-vm-compass script
  prow/scripts/provision-vm-compass.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

bump golang alpine
  development/image-syncer/external-images.yaml
Due: none

bump golang alpine (#3689)
  development/image-syncer/external-images.yaml
Due: none

fixes ...
  development/kyma-github-connector/githubConnector/templates/06-ghConnectorGatewayConfigMap.yaml
  development/kyma-github-connector/githubConnector/templates/07-ghConnectorGatewayDeployment.yaml
  development/kyma-github-connector/githubConnector/templates/14-ghConnectorSlackClientFunction.yaml
  development/kyma-github-connector/githubConnector/values.yaml
  development/kyma-github-connector/issueLabeledFunction/requirements.txt
Due: none

more fixes ...
  development/kyma-github-connector/githubConnector/templates/07-ghConnectorGatewayDeployment.yaml
  development/kyma-github-connector/githubConnector/templates/13-ghConnectorSlackClientFnSubscription.yaml
  development/kyma-github-connector/githubConnector/values.yaml
  development/kyma-github-connector/githubWebhookGateway/pkg/events/validator.go
  development/kyma-github-connector/issueLabeledFunction/handler.py
Due: none

Add additional Schema Migrator dump job
  development/tools/jobs/incubator/components_test.go
  prow/jobs/incubator/compass/components/schema-migrator/schema-migrator-dump-generic.yaml
  prow/scripts/cluster-integration/compass-gke-integration.sh
  templates/config.yaml
  templates/templates/generic-compass-dump-component.yaml
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

more fixes ...
  development/kyma-github-connector/githubConnector/templates/01-ghConnectorSlackBotTokenSecret.yaml
  development/kyma-github-connector/githubConnector/templates/02-ghConnectorSlackApplicationMapping.yaml
  development/kyma-github-connector/githubConnector/templates/03-ghConnectorGatewayApiRule.yaml
  development/kyma-github-connector/githubConnector/templates/04-ghConnectorGatewayService.yaml
  development/kyma-github-connector/githubConnector/templates/05-ghConnectorWebhookSecret.yaml
  development/kyma-github-connector/githubConnector/templates/06-ghConnectorGatewayConfigMap.yaml
  development/kyma-github-connector/githubConnector/templates/07-ghConnectorGatewayDeployment.yaml
  development/kyma-github-connector/githubConnector/templates/08-ghConnectorSlackClientFunctionGitRepo.yaml
  development/kyma-github-connector/githubConnector/templates/10-ghConnectorSlackServiceInstance.yaml
  development/kyma-github-connector/githubConnector/templates/11-ghConnectorServiceBinding.yaml
  development/kyma-github-connector/githubConnector/templates/12-ghConnectorSlackClientBindingUsage.yaml
  development/kyma-github-connector/githubConnector/templates/13-ghConnectorSlackClientFnSubscription.yaml
  development/kyma-github-connector/githubConnector/templates/14-ghConnectorSlackClientFunction.yaml
  development/kyma-github-connector/githubConnector/values.yaml
  development/kyma-github-connector/githubWebhookGateway/pkg/events/sender.go
  development/kyma-github-connector/issueLabeledFunction/handler.py
Due: none

function testing
  development/kyma-github-connector/issueLabeledFunction/handler.py
Due: none

function fixes
  development/kyma-github-connector/issueLabeledFunction/handler.py
Due: none

fix confirmation message
  development/kyma-github-connector/githubConnector/values.yaml
  development/kyma-github-connector/issueLabeledFunction/handler.py
Due: none

Tweak dump template & job
  prow/jobs/incubator/compass/components/schema-migrator/schema-migrator-dump-generic.yaml
  templates/templates/generic-compass-dump-component.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Move job to seperate folder
  prow/jobs/incubator/compass/components/schema-migrator-dump/schema-migrator-dump-generic.yaml
  templates/config.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Ensure Compass VM job uses data dump
  prow/scripts/provision-vm-compass.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

align pubsub-connector to new names
  development/kyma-pubsub-connector/pubsubConnector/templates/01-pubsubConnectorSlackBotTokenSecret.yaml
  development/kyma-pubsub-connector/pubsubConnector/templates/02-pubsubConnectorSlackApplicationMapping.yaml
  development/kyma-pubsub-connector/pubsubConnector/templates/06-pubsubConnectorGatewayConfigMap.yaml
  development/kyma-pubsub-connector/pubsubConnector/templates/07-pubsubConnectorGatewayDeployment.yaml
  development/kyma-pubsub-connector/pubsubConnector/templates/08-pubsubConnectorSlackClientFunctionGitRepo.yaml
  development/kyma-pubsub-connector/pubsubConnector/templates/10-pubsubConnectorSlackServiceInstance.yaml
  development/kyma-pubsub-connector/pubsubConnector/templates/11-pubsubConnectorServiceBinding.yaml
  development/kyma-pubsub-connector/pubsubConnector/templates/12-pubsubConnectorSlackClientSvcBindingUsage.yaml
  development/kyma-pubsub-connector/pubsubConnector/templates/13-pubsubConnectorSlackClientFnSubscription.yaml
  development/kyma-pubsub-connector/pubsubConnector/templates/14-pubsubConnectorSlackClientFunction.yaml
  development/kyma-pubsub-connector/pubsubConnector/values.yaml
Due: none

Make k3s compass dev pipeline mandatory
  prow/jobs/kyma/kyma-integration.yaml
  templates/data/kyma-integration-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

wip
  prow/jobs/kyma/kyma-integration.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

KEB Resolve user (email) of the runtime creator
  prow/config.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

wip
  templates/data/kyma-integration-data.yaml
Due: pre-main-test-infra-validate-generated-files

Make k3s-compass job mandatory (#3692)
  prow/jobs/kyma/kyma-integration.yaml
  templates/data/kyma-integration-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Add pjtester
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

tweak
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

Increase timeout
  prow/scripts/cluster-integration/protecode-guard.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Increase timeout (#3696)
  prow/scripts/cluster-integration/protecode-guard.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

KEB Resolve user (email) of the runtime creator (#3694)
  prow/config.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

add pjtest
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

Update pjtester.yaml
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

add report
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

Fix compass performance tests script
  prow/scripts/cluster-integration/compass-gke-benchmark.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Path conditions:
  pre-main-test-infra-governance: any of: milv.config.yaml|.md$
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  pre-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  pre-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  pre-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  pre-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  pre-test-infra-prow-tools: any of: ^development/(tools|jobguard)/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  pre-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  pre-test-infra-image-guard: any of: ^development/image-guard/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-github-connector-webhook-gateway: any of: ^development/github-slack-connector/githubWebhookGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-pubsub-connector-gateway: any of: ^development/pubsub-connector/pubSubGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  post-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  post-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  post-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  post-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  post-test-infra-prow-tools: any of: ^development/(tools|jobguard)/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  post-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  post-test-infra-image-guard: any of: ^development/image-guard/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-github-connector-webhook-gateway: any of: ^development/github-slack-connector/githubWebhookGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-pubsub-connector-gateway: any of: ^development/pubsub-connector/pubSubGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-main-test-infra-pjtester: any of: ^(vpath/pjtester.yaml)
  pre-main-test-infra-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-master-stability-checker: any of: ^stability-checker/
  post-master-stability-checker: any of: ^stability-checker/
  pre-master-test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  pre-master-test-log-collector: any of: ^development/test-log-collector/
  post-master-test-log-collector: any of: ^development/test-log-collector/
  pre-test-infra-validate-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  post-test-infra-upload-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-main-test-infra-validate-prow-tools: any of: ^development/tools/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-main-test-infra-validate-prow-jobs: any of: ^(development/tools/jobs|prow)
  pre-main-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|jobs/releases/releases.go)|^prow/branchprotector-config.yaml
  pre-main-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/
