Repository kyma-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-main-test-infra-governance, prow/test-infra/bootstrap, prow/test-infra/buildpack-golang, prow/test-infra/buildpack-node, prow/test-infra/cleaner, pre-test-infra-bootstrap, pre-test-infra-kyma-integration, pre-test-infra-buildpack-golang, pre-test-infra-buildpack-golang-toolbox, pre-test-infra-buildpack-golang-kubebuilder2, pre-test-infra-buildpack-node, pre-test-infra-buildpack-node-chromium, pre-test-infra-buildpack-java, pre-test-infra-buildpack-java-node, pre-test-infra-cleaner, pre-test-infra-vulnerability-scanner, pre-test-infra-whitesource-scanner, pre-test-infra-kubectl, pre-test-infra-probot-stale, pre-test-infra-prow-tools, pre-test-infra-prow-clonerefs, pre-test-infra-image-guard, pre-test-infra-github-connector-webhook-gateway, pre-test-infra-pubsub-connector-gateway, post-test-infra-bootstrap, post-test-infra-kyma-integration, post-test-infra-buildpack-golang, post-test-infra-buildpack-golang-toolbox, post-test-infra-buildpack-golang-kubebuilder2, post-test-infra-buildpack-node, post-test-infra-buildpack-node-chromium, post-test-infra-buildpack-java, post-test-infra-buildpack-java-node, post-test-infra-cleaner, post-test-infra-vulnerability-scanner, post-test-infra-whitesource-scanner, post-test-infra-kubectl, post-test-infra-probot-stale, post-test-infra-prow-tools, post-test-infra-prow-clonerefs, post-test-infra-image-guard, post-test-infra-github-connector-webhook-gateway, post-test-infra-pubsub-connector-gateway, prow/test-infra/check_config, test-infra-development-tools, pre-main-test-infra-image-syncer-validate, pre-main-test-infra-image-syncer-dry-run, post-main-test-infra-image-syncer-run, post-master-kyma-cleaners-update-binaries, pre-master-perf-test-image, post-master-perf-test-image, pre-master-perf-test, post-master-perf-test, pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard, pre-master-test-infra-development-prow-addons-ctrl-manager, post-master-test-infra-development-prow-addons-ctrl-manager, pre-main-stability-checker, post-main-stability-checker, pre-master-test-infra-governance, pre-master-kind-kubernetes-image, post-master-kind-kubernetes-image, test-infra-test-jobs-yaml-definitions, pre-master-test-log-collector, post-master-test-log-collector, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, prow/test-infra/validate-scripts, prow/test-infra/validate-configs, pre-test-infra-validate-scripts, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-tools, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files, pre-main-test-infra-validate-prow-installer-files, pre-master-test-infra-watch-pods, post-master-test-infra-watch-pods, pre-main-test-infra-watch-pods, post-main-test-infra-watch-pods

Path conditions:
  pre-main-test-infra-governance: any of: milv.config.yaml|.md$
  prow/test-infra/bootstrap: any of: images/bootstrap/
  prow/test-infra/buildpack-golang: any of: images/buildpack-golang/
  prow/test-infra/buildpack-node: any of: images/buildpack-node/
  prow/test-infra/cleaner: any of: images/cleaner/
  pre-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  pre-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  pre-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  pre-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  pre-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  pre-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  pre-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  pre-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  pre-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  pre-test-infra-cleaner: any of: ^prow/images/cleaner/
  pre-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  pre-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  pre-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  pre-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  pre-test-infra-prow-tools: any of: ^development/(tools|jobguard)/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  pre-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  pre-test-infra-image-guard: any of: ^development/image-guard/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-github-connector-webhook-gateway: any of: ^development/github-slack-connector/githubWebhookGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  pre-test-infra-pubsub-connector-gateway: any of: ^development/pubsub-connector/pubSubGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-bootstrap: any of: ^prow/images/bootstrap/
  post-test-infra-kyma-integration: any of: ^prow/images/kyma-integration/
  post-test-infra-buildpack-golang: any of: ^prow/images/buildpack-golang/
  post-test-infra-buildpack-golang-toolbox: any of: ^prow/images/buildpack-golang-toolbox/
  post-test-infra-buildpack-golang-kubebuilder2: any of: ^prow/images/buildpack-golang-kubebuilder2/
  post-test-infra-buildpack-node: any of: ^prow/images/buildpack-node/
  post-test-infra-buildpack-node-chromium: any of: ^prow/images/buildpack-node-chromium/
  post-test-infra-buildpack-java: any of: ^prow/images/buildpack-java/
  post-test-infra-buildpack-java-node: any of: ^prow/images/buildpack-java-node/
  post-test-infra-cleaner: any of: ^prow/images/cleaner/
  post-test-infra-vulnerability-scanner: any of: ^prow/images/vulnerability-scanner/
  post-test-infra-whitesource-scanner: any of: ^prow/images/whitesource-scanner/
  post-test-infra-kubectl: any of: ^prow/images/alpine-kubectl/
  post-test-infra-probot-stale: any of: ^prow/images/probot-stale/
  post-test-infra-prow-tools: any of: ^development/(tools|jobguard)/((cmd|pkg)/.*\.go|.*\.toml|go\.mod)$|^prow/images/prow-tools/(Dockerfile|Makefile)$
  post-test-infra-prow-clonerefs: any of: ^prow/images/clonerefs/
  post-test-infra-image-guard: any of: ^development/image-guard/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-github-connector-webhook-gateway: any of: ^development/github-slack-connector/githubWebhookGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  post-test-infra-pubsub-connector-gateway: any of: ^development/pubsub-connector/pubSubGateway/(.*\.go|go\.mod|go\.sum|Dockerfile|Makefile)$
  prow/test-infra/check_config: (any of: prow/*.yaml) or (any of: prow/(plugins|config).yaml)
  test-infra-development-tools: any of: ^development/tools
  pre-main-test-infra-image-syncer-validate: any of: ^(development/image-syncer)
  pre-main-test-infra-image-syncer-dry-run: any of: ^(development/image-syncer/external-images.yaml)
  post-main-test-infra-image-syncer-run: any of: ^(development/image-syncer/external-images.yaml)
  post-master-kyma-cleaners-update-binaries: any of: ^development/tools/
  pre-master-perf-test-image: any of: ^perf-test-image/
  post-master-perf-test-image: any of: ^perf-test-image/
  pre-master-perf-test: any of: ^performance-tools/performance-cluster/
  post-master-perf-test: any of: ^performance-tools/performance-cluster/
  pre-main-test-infra-pjtester: any of: ^(vpath/pjtester.yaml)
  pre-main-test-infra-vpathguard: any of: ^(vpath/pjtester.yaml)
  pre-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  post-master-test-infra-development-prow-addons-ctrl-manager: any of: ^development/prow-addons-ctrl-manager/
  pre-main-stability-checker: any of: ^stability-checker/
  post-main-stability-checker: any of: ^stability-checker/
  pre-master-test-infra-governance: any of: milv.config.yaml|.md$
  pre-master-kind-kubernetes-image: any of: ^kind/
  post-master-kind-kubernetes-image: any of: ^kind/
  test-infra-test-jobs-yaml-definitions: any of: (prow/jobs)|(development/tools/jobs)
  pre-master-test-log-collector: any of: ^development/test-log-collector/
  post-master-test-log-collector: any of: ^development/test-log-collector/
  pre-test-infra-validate-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  post-test-infra-upload-testgrid-config: any of: ^(prow/jobs/.*\.yaml)|(prow/testgrid-default\.yaml)$
  prow/test-infra/validate-scripts: any of: /*.sh$
  prow/test-infra/validate-configs: any of: prow/(plugins|config).yaml
  pre-test-infra-validate-scripts: any of: ^(development/.*.sh$|prow/.*.sh$)
  pre-test-infra-validate-configs: any of: ^prow/((plugins|config).yaml|jobs/)
  pre-main-test-infra-validate-prow-tools: any of: ^development/tools/(cmd/.*|pkg/.*|Makefile|.*.sh)
  pre-main-test-infra-validate-prow-jobs: any of: ^(development/tools/jobs|prow)
  pre-main-test-infra-validate-generated-files: any of: ^templates/|^prow/jobs/|^prow/config.yaml|^prow/scripts/|^development/tools/(cmd/rendertemplates/|pkg/rendertemplates/|jobs/releases/releases.go)|^prow/branchprotector-config.yaml
  pre-main-test-infra-validate-prow-installer-files: any of: ^development/prow-installer/cmd/|^development/prow-installer/pkg/
  pre-master-test-infra-watch-pods: any of: ^watch-pods/
  post-master-test-infra-watch-pods: any of: ^watch-pods/
  pre-main-test-infra-watch-pods: any of: ^watch-pods/
  post-main-test-infra-watch-pods: any of: ^watch-pods/

Add hydra-login-consent squash method to tide
  prow/config.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Add hydra-login-consent squash method to tide (#4056)
  prow/config.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

add fluent-bit image
  development/image-syncer/external-images.yaml
Due: pre-main-test-infra-image-syncer-validate, pre-main-test-infra-image-syncer-dry-run, post-main-test-infra-image-syncer-run

Updated code comments.
  development/gcp/cloud-functions/getslackuserforgithubuser/main.go
Due: none

adding new prow job for project kyma-incubator/hydra-login-consent
  templates/data/incubator-buildpack-data.yaml
Due: pre-main-test-infra-validate-generated-files

add fluent-bit image (#4057)
  development/image-syncer/external-images.yaml
Due: pre-main-test-infra-image-syncer-validate, pre-main-test-infra-image-syncer-dry-run, post-main-test-infra-image-syncer-run

renaming master to main in hydra login consent
  prow/jobs/incubator/hydra-login-consent/hydra-login-consent.yaml
  templates/data/incubator-buildpack-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Add GCR cleaner
  development/tools/cmd/gcrcleaner/main.go
  development/tools/pkg/gcrcleaner/cleaner.go
  development/tools/pkg/gcrcleaner/cleaner_test.go
  development/tools/pkg/gcrcleaner/wrappers.go
  prow/scripts/assetstore-gcp-bucket-cleaner.sh
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-tools, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Disable AWS gardener job
  prow/jobs/kyma/kyma-integration-gardener.yaml
  templates/data/kyma-integration-gardener-data.yaml
  test-inventory-integration.md
Due: pre-main-test-infra-governance, pre-master-test-infra-governance, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

tests
  development/tools/jobs/kyma/kyma_gardener_integration_test.go
Due: test-infra-development-tools, post-master-kyma-cleaners-update-binaries, test-infra-test-jobs-yaml-definitions, pre-main-test-infra-validate-prow-jobs

wnother one
  prow/jobs/kyma/skr-integration.yaml
  templates/data/skr-integration-data.yaml
  test-inventory-integration.md
Due: pre-main-test-infra-governance, pre-master-test-infra-governance, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

comment
  templates/data/kyma-integration-gardener-data.yaml
  templates/data/skr-integration-data.yaml
Due: pre-main-test-infra-validate-generated-files

Disable AWS gardener job (#4059)
  development/tools/jobs/kyma/kyma_gardener_integration_test.go
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/jobs/kyma/skr-integration.yaml
  templates/data/kyma-integration-gardener-data.yaml
  templates/data/skr-integration-data.yaml
  test-inventory-integration.md
Due: pre-main-test-infra-governance, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-governance, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

change default psp test
  prow/scripts/resources/connaisseur.values.tpl.yaml
Due: pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

add libgit2 image
  prow/images/README.md
  prow/images/buildpack-golang-gitlib2/Dockerfile
  prow/images/buildpack-golang-gitlib2/README.md
  prow/images/buildpack-golang-gitlib2/sources.list
Due: pre-main-test-infra-governance, pre-master-test-infra-governance, pre-main-test-infra-validate-prow-jobs

it theoretically should work
  development/tools/pkg/gcrcleaner/automock/image_api.go
  development/tools/pkg/gcrcleaner/automock/repo_api.go
  development/tools/pkg/gcrcleaner/cleaner.go
  development/tools/pkg/gcrcleaner/wrappers.go
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-main-test-infra-validate-prow-tools

add new job
  prow/images/buildpack-golang-libgit2/Dockerfile
  prow/images/buildpack-golang-libgit2/README.md
  prow/images/buildpack-golang-libgit2/sources.list
  templates/data/buildpack-data.yaml
Due: pre-main-test-infra-governance, pre-master-test-infra-governance, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

reenable AWS jobs
  development/tools/jobs/kyma/kyma_gardener_integration_test.go
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/jobs/kyma/skr-integration.yaml
  templates/data/kyma-integration-gardener-data.yaml
  templates/data/skr-integration-data.yaml
  test-inventory-integration.md
Due: pre-main-test-infra-governance, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-governance, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

reenable AWS jobs (#4062)
  development/tools/jobs/kyma/kyma_gardener_integration_test.go
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/jobs/kyma/skr-integration.yaml
  templates/data/kyma-integration-gardener-data.yaml
  templates/data/skr-integration-data.yaml
  test-inventory-integration.md
Due: pre-main-test-infra-governance, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-master-test-infra-governance, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Disable rapid jobs
  prow/jobs/kyma/kyma-integration.yaml
  templates/data/kyma-integration-data.yaml
  test-inventory-integration.md
Due: pre-main-test-infra-governance, pre-master-test-infra-governance, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

add build image job
  prow/jobs/test-infra/buildpack.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

re-add atomic
  prow/scripts/cluster-integration/kyma-integration-gardener.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

simplify
  development/tools/cmd/gcrcleaner/main.go
  development/tools/pkg/gcrcleaner/cleaner.go
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-main-test-infra-validate-prow-tools

and tests
  development/tools/pkg/gcrcleaner/cleaner_test.go
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-main-test-infra-validate-prow-tools

comments
  development/tools/pkg/gcrcleaner/cleaner.go
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-main-test-infra-validate-prow-tools

bump debian
  prow/images/README.md
  prow/images/bootstrap/Dockerfile
  prow/images/buildpack-golang-libgit2/Dockerfile
  prow/images/buildpack-golang-libgit2/README.md
  prow/images/buildpack-golang-libgit2/sources.list
  prow/jobs/test-infra/buildpack.yaml
  templates/data/buildpack-data.yaml
Due: pre-main-test-infra-governance, prow/test-infra/bootstrap, pre-test-infra-bootstrap, post-test-infra-bootstrap, pre-master-test-infra-governance, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

uncomment gcloud sdk
  prow/images/bootstrap/Dockerfile
Due: prow/test-infra/bootstrap, pre-test-infra-bootstrap, post-test-infra-bootstrap, pre-main-test-infra-validate-prow-jobs

simplify filters
  development/tools/pkg/gcrcleaner/cleaner.go
  development/tools/pkg/gcrcleaner/cleaner_test.go
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-main-test-infra-validate-prow-tools

fix
  prow/images/bootstrap/Dockerfile
Due: prow/test-infra/bootstrap, pre-test-infra-bootstrap, post-test-infra-bootstrap, pre-main-test-infra-validate-prow-jobs

trigger golang
  prow/images/buildpack-golang/Dockerfile
Due: prow/test-infra/buildpack-golang, pre-test-infra-buildpack-golang, post-test-infra-buildpack-golang, pre-main-test-infra-validate-prow-jobs

Remove usage of central-app-conn env var
  prow/scripts/cluster-integration/kyma-integration-k3d.sh
  prow/scripts/provision-vm-and-start-kyma-k3d.sh
Due: prow/test-infra/validate-scripts, pre-test-infra-validate-scripts, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Add pjtester
  vpath/pjtester.yaml
Due: pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard

Remove jobs for central-app-connectivity
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
  templates/data/kyma-integration-data.yaml
  test-inventory-integration.md
  vpath/pjtester.yaml
Due: pre-main-test-infra-governance, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-main-test-infra-pjtester, pre-main-test-infra-vpathguard, pre-master-test-infra-governance, test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

Remove env var
  prow/config.yaml
  templates/templates/prow-config.yaml
Due: prow/test-infra/check_config, prow/test-infra/validate-configs, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

detter removal
  development/tools/pkg/gcrcleaner/wrappers.go
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-main-test-infra-validate-prow-tools

fix deletion
  development/tools/pkg/gcrcleaner/cleaner.go
  development/tools/pkg/gcrcleaner/wrappers.go
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-main-test-infra-validate-prow-tools

fix
  development/tools/pkg/gcrcleaner/cleaner.go
  development/tools/pkg/gcrcleaner/cleaner_test.go
Due: pre-test-infra-prow-tools, post-test-infra-prow-tools, test-infra-development-tools, post-master-kyma-cleaners-update-binaries, pre-main-test-infra-validate-prow-tools

fix dockerfile
  prow/images/buildpack-golang/Dockerfile
Due: prow/test-infra/buildpack-golang, pre-test-infra-buildpack-golang, post-test-infra-buildpack-golang, pre-main-test-infra-validate-prow-jobs

use different buildpack
  prow/jobs/kyma/components/function-controller/function-controller-generic.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files

adding job for kyma-incubator/hydra-login-consent (#4058)
  prow/jobs/incubator/hydra-login-consent/hydra-login-consent.yaml
  templates/data/incubator-buildpack-data.yaml
Due: test-infra-test-jobs-yaml-definitions, pre-test-infra-validate-testgrid-config, post-test-infra-upload-testgrid-config, pre-test-infra-validate-configs, pre-main-test-infra-validate-prow-jobs, pre-main-test-infra-validate-generated-files
