Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

revert metric producer image after updating sample app
  test/testkit/mocks/prommetricgen/metric_producer.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fixed linting
  internal/fluentbit/config/builder/sections_config_builder_test.go
  internal/utils/k8s/owner_reference_setter.go
  test/e2e/logs/shared/disabled_input_test.go
  test/e2e/logs/shared/namespace_selector_test.go
  test/e2e/metrics/kyma_input_test.go
  test/e2e/metrics/multi_pipeline_fanout_test.go
  test/e2e/metrics/prometheus_input_test.go
  test/e2e/misc/manager_test.go
  test/e2e/misc/telemetry_test.go
  test/integration/istio/access_logs_otlp_test.go
  test/integration/istio/traces_routing_test.go
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/healthy_test.go
  test/selfmonitor/outage_test.go
  test/testkit/assert/backend.go
  test/testkit/assert/logs.go
  test/testkit/assert/metrics.go
  test/testkit/assert/traces.go
  test/testkit/k8s/virtual_service.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: revert metric producer image after updating sample app (#2523)
  test/testkit/mocks/prommetricgen/metric_producer.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Rename DropEnvoyMetricsIfDisabled to DropEnvoyMetrics everywhere
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricagent/testdata/http-with-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/http-without-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/istio-only.yaml
  internal/otelcollector/config/metricagent/testdata/istio-ops-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-transforms.yaml
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
  internal/otelcollector/config/metricgateway/testdata/http-protocol-with-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/http-protocol-without-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-only.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-simple.yaml
  internal/otelcollector/config/metricgateway/testdata/user-defined-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "Rename DropEnvoyMetricsIfDisabled to DropEnvoyMetrics everywhere"
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricagent/testdata/http-with-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/http-without-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/istio-only.yaml
  internal/otelcollector/config/metricagent/testdata/istio-ops-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-transforms.yaml
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
  internal/otelcollector/config/metricgateway/testdata/http-protocol-with-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/http-protocol-without-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-only.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-simple.yaml
  internal/otelcollector/config/metricgateway/testdata/user-defined-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Rename EnrichmentOutputConnector to EnrichmentConnector
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricagent/testdata/http-with-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/http-without-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/istio-envoy.yaml
  internal/otelcollector/config/metricagent/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/istio-only.yaml
  internal/otelcollector/config/metricagent/testdata/istio-ops-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-ops-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/setup-comprehensive.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Refactor connector functions and add comments
  internal/otelcollector/config/metricagent/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add 3-pipeline complex mixed inputs UT
  internal/otelcollector/config/metricagent/config_builder_test.go
  internal/otelcollector/config/metricagent/testdata/multiple-inputs-mixed.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix hardcoded value
  internal/otelcollector/config/metricagent/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Bump telemetry-manager to 1.48.0
  .env
  helm/Chart.yaml
  helm/charts/default/Chart.yaml
  helm/charts/experimental/Chart.yaml
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix wrong image
  helm/values.yaml
Due: none

chore: bump telemetry-manager to 1.48.0 (#2524)
  .env
  helm/Chart.yaml
  helm/charts/default/Chart.yaml
  helm/charts/experimental/Chart.yaml
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update Helm chart metadata for 1.48.0
  index.yaml
Due: none

Reapply "Rename DropEnvoyMetricsIfDisabled to DropEnvoyMetrics everywhere"
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricagent/testdata/http-with-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/http-without-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/istio-only.yaml
  internal/otelcollector/config/metricagent/testdata/istio-ops-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-transforms.yaml
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
  internal/otelcollector/config/metricgateway/testdata/http-protocol-with-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/http-protocol-without-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-only.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-simple.yaml
  internal/otelcollector/config/metricgateway/testdata/user-defined-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "Reapply "Rename DropEnvoyMetricsIfDisabled to DropEnvoyMetrics everywhere""
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricagent/testdata/http-with-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/http-without-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/istio-only.yaml
  internal/otelcollector/config/metricagent/testdata/istio-ops-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-transforms.yaml
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
  internal/otelcollector/config/metricgateway/testdata/http-protocol-with-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/http-protocol-without-custom-path.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-only.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-simple.yaml
  internal/otelcollector/config/metricgateway/testdata/user-defined-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: improved cloud logging dashboard for node network metrics
  docs/user/integration/sap-cloud-logging/dashboard-nodes.ndjson
Due: none

add support for status
  controllers/telemetry/metricpipeline_controller.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Rename enrichment to enrichment-conditional and add DropServiceNameProcessor TODO comment
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricagent/testdata/http-with-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/http-without-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/istio-envoy.yaml
  internal/otelcollector/config/metricagent/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/istio-only.yaml
  internal/otelcollector/config/metricagent/testdata/istio-ops-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-ops-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/setup-comprehensive.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix linting
  docs/contributor/assets/sample-metric-agent-config.yaml
  internal/otelcollector/config/metricagent/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Implement review comments
  internal/otelcollector/config/metricagent/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add support for flow status in agent
  .mockery.yml
  internal/conditions/conditions.go
  internal/reconciler/metricpipeline/mocks/agent_flow_health_prober.go
  internal/reconciler/metricpipeline/mocks/gateway_flow_health_prober.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add alert rules
  internal/selfmonitor/config/rules.go
  internal/selfmonitor/config/testdata/rules.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: improved cloud logging dashboard for node network metrics (#2525)
  docs/user/integration/sap-cloud-logging/dashboard-nodes.ndjson
Due: none

chore: misc metric agent processors config (#2527)
  docs/contributor/assets/sample-metric-agent-config.yaml
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricagent/testdata/http-with-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/http-without-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/istio-envoy.yaml
  internal/otelcollector/config/metricagent/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/istio-only.yaml
  internal/otelcollector/config/metricagent/testdata/istio-ops-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-ops-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/setup-comprehensive.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add adr skeleton
  docs/contributor/arch/028-network-policy-hardening.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Add a table with net policies
  docs/contributor/arch/028-network-policy-hardening.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Simplify table
  docs/contributor/arch/028-network-policy-hardening.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Describe problems
  docs/contributor/arch/028-network-policy-hardening.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Describe communication flow
  docs/contributor/arch/028-network-policy-hardening.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Fix
  docs/contributor/arch/028-network-policy-hardening.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Add envoy port
  docs/contributor/arch/028-network-policy-hardening.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Revert "Add envoy port"
  docs/contributor/arch/028-network-policy-hardening.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Add question
  docs/contributor/arch/028-network-policy-hardening.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

test
  internal/reconciler/metricpipeline/status.go
  internal/selfmonitor/prober/otel_agent_prober.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fixes
  controllers/telemetry/metricpipeline_controller.go
  internal/reconciler/metricpipeline/status.go
  internal/selfmonitor/prober/otel_agent_prober.go
  internal/selfmonitor/prober/otel_gateway_prober.go
  internal/selfmonitor/prober/prom_client.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

temporarily move the guide to root for review
  docs/user/migration-to-otlp-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

adjust title
  docs/user/migration-to-otlp-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

language review
  docs/user/migration-to-otlp-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
