Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

Assert bufferFillingUp and stop generator for metrics and traces only (as in the original tests)
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/outage_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

updated
  docs/contributor/arch/022-dynatrace-cummulative-to-delta-support.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

updated
  docs/contributor/arch/024-dynatrace-cummulative-to-delta-support.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

remove status
  docs/contributor/arch/024-dynatrace-cummulative-to-delta-support.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update adr status
  docs/contributor/arch/016a-strategy-for-supported-ottl-functions.md
  docs/contributor/arch/020-redesign-e2e-log-test-structure.md
  docs/contributor/arch/021-refactor-performance-tests.md
  docs/contributor/arch/021-switch-metric-pipeline-gateway-to-agent.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add frontmatter
  docs/contributor/arch/001-otel-collector-metric-based-pipeline-status.md
  docs/contributor/arch/002-fluent-bit-without-file-system-buffer.md
  docs/contributor/arch/003-integrate-prometheus-with-telemetry-manager-using-alerting.md
  docs/contributor/arch/004-consolidate-pipeline-statuses.md
  docs/contributor/arch/005-do-not-make-prometheus-part of-the-istio-service-mesh.md
  docs/contributor/arch/006-telemetry-api-v1beta1.md
  docs/contributor/arch/007-log-pipeline-otlp-output.md
  docs/contributor/arch/008-telemetry-flow-healthiness-status-api.md
  docs/contributor/arch/009-makefile-architecture.md
  docs/contributor/arch/010-logging-flow-healthiness-status-api.md
  docs/contributor/arch/011-kymastatsmetrics.md
  docs/contributor/arch/012a-leader-receiver-creator.md
  docs/contributor/arch/012b-leader-receiver-creator-as-extension.md
  docs/contributor/arch/013-resource-attributes-enrichment-for-non-workload-metrics.md
  docs/contributor/arch/014-telemetry-self-monitor-storage.md
  docs/contributor/arch/015-impact-of-istio-prometheus-merge-on-metric-pipelines.md
  docs/contributor/arch/016-transform-filter-support-for-telemetry-pipelines.md
  docs/contributor/arch/016a-strategy-for-supported-ottl-functions.md
  docs/contributor/arch/017-fault-tolerant-otel-logging-setup.md
  docs/contributor/arch/018-otel-logging-agent-configuration.md
  docs/contributor/arch/019-switch-from-gateways-to-a-central-agent.md
  docs/contributor/arch/020-redesign-e2e-log-test-structure.md
  docs/contributor/arch/021-refactor-performance-tests.md
  docs/contributor/arch/021-switch-metric-pipeline-gateway-to-agent.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: document api changes to add cumulative to delta support in metric pipeline (#2301)
  docs/contributor/arch/024-dynatrace-cummulative-to-delta-support.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

bump OTel version to 0.131.0
  .env
  config/manager/manager.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

test: migragte misc tests
  test/e2e-migrated/misc/overrides_test.go
  test/e2e-migrated/misc/telemetry_log_analysis_test.go
  test/e2e-migrated/misc/telemetry_test.go
  test/testkit/assert/logs.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update github action
  .github/workflows/pr-integration.yml
Due: none

fixes after merge to main
  test/e2e-migrated/misc/overrides_test.go
  test/e2e-migrated/misc/telemetry_log_analysis_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  test/e2e-migrated/misc/manager_test.go
  test/e2e-migrated/misc/overrides_test.go
  test/e2e-migrated/misc/telemetry_log_analysis_test.go
  test/e2e-migrated/misc/telemetry_test.go
  test/testkit/assert/logs.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  test/e2e-migrated/misc/overrides_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove old tests
  test/e2e/misc/manager_test.go
  test/e2e/misc/overrides_test.go
  test/e2e/misc/suite_test.go
  test/e2e/misc/telemetry_logs_analysis_test.go
  test/e2e/misc/telemetry_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

disable otel internal metric unit suffix
  internal/otelcollector/config/config.go
  internal/otelcollector/config/log/agent/config_builder_test.go
  internal/otelcollector/config/log/agent/testdata/config.yaml
  internal/otelcollector/config/log/gateway/config_builder_test.go
  internal/otelcollector/config/log/gateway/testdata/config.yaml
  internal/otelcollector/config/metric/agent/config_builder_test.go
  internal/otelcollector/config/metric/agent/testdata/config_istio_enabled.yaml
  internal/otelcollector/config/metric/agent/testdata/config_istio_not_enabled.yaml
  internal/otelcollector/config/metric/gateway/config_builder_test.go
  internal/otelcollector/config/metric/gateway/testdata/config.yaml
  internal/otelcollector/config/metric/gateway/testdata/config_otlp_disabled.yaml
  internal/otelcollector/config/trace/gateway/config_builder_test.go
  internal/otelcollector/config/trace/gateway/testdata/config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix linter issues
  internal/otelcollector/config/config.go
  internal/otelcollector/config/log/agent/config_builder_test.go
  internal/otelcollector/config/log/gateway/config_builder_test.go
  internal/otelcollector/config/metric/agent/config_builder_test.go
  internal/otelcollector/config/metric/gateway/config_builder_test.go
  internal/otelcollector/config/trace/gateway/config_builder_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

modify backpressure tests
  test/selfmonitor/backpressure_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

refactor healthy tests
  test/selfmonitor/healthy_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: unstructured log parsing ADR (#2335)
  docs/contributor/arch/022-switch-metric-pipeline-gateway-to-agent.md
  docs/contributor/arch/023-unstructured-log-parsing.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

changes based on review comments
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/outage_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/main_test.go
  test/selfmonitor/outage_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use stdoutloggen in TestKeepOriginalBody_OTel and TestKeepOriginalBody_FluentBit
  test/e2e-migrated/logs/shared/keep_original_body_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

replace stdloggen with stdoutloggen in all the remaining tests
  test/e2e-migrated/logs/agent/instrumentation_scope_test.go
  test/e2e-migrated/logs/fluentbit/app_name_test.go
  test/e2e-migrated/logs/fluentbit/base_payload_with_http_test.go
  test/e2e-migrated/logs/fluentbit/custom_filter_test.go
  test/e2e-migrated/logs/fluentbit/custom_output_test.go
  test/e2e-migrated/logs/fluentbit/custom_parser_test.go
  test/e2e-migrated/logs/fluentbit/dedot_test.go
  test/e2e-migrated/logs/fluentbit/keep_annotation_test.go
  test/e2e-migrated/logs/shared/check_metrics_endpoint_test.go
  test/e2e-migrated/logs/shared/container_selector_test.go
  test/e2e-migrated/logs/shared/extract_labels_test.go
  test/e2e-migrated/logs/shared/mtls_about_to_expire_cert_test.go
  test/e2e-migrated/logs/shared/mtls_test.go
  test/e2e-migrated/logs/shared/multi_pipeline_broken_test.go
  test/e2e-migrated/logs/shared/multi_pipeline_fanout_test.go
  test/e2e-migrated/logs/shared/multi_pipeline_max_pipeline_test.go
  test/e2e-migrated/logs/shared/namespace_selector_test.go
  test/e2e-migrated/logs/shared/observed_time_test.go
  test/e2e-migrated/logs/shared/secret_rotation_test.go
  test/e2e-migrated/logs/shared/self_monitor_healthy_test.go
  test/e2e-migrated/logs/shared/service_name_test.go
  test/e2e-migrated/logs/shared/single_pipeline_test.go
  test/e2e-migrated/logs/shared/single_pipeline_v1beta1_test.go
  test/e2e-migrated/upgrade/logs_upgrade_test.go
  test/testkit/mocks/stdloggen/stdloggen.go
  test/testkit/mocks/stdloggen/stdloggen_test.go
  test/testkit/mocks/stdoutloggen/stdoutloggen.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

revert test image for stdoutloggen image
  test/testkit/mocks/stdoutloggen/stdoutloggen.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix and remove unused stuff
  .github/template/finalize-test/action.yaml
  test/selfmonitor/outage_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove old e2e tests githb actions
  .github/workflows/pr-integration.yml
Due: none

use stdoutloggen image built in the PR
  test/testkit/mocks/stdoutloggen/stdoutloggen.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

few fixes
  .github/workflows/pr-integration.yml
  test/e2e-migrated/misc/telemetry_log_analysis_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add in cluster service detection PoC
  docs/contributor/pocs/metric-agent-istio-outbound-support/cluster_service_discovery.go
  docs/contributor/pocs/metric-agent-istio-outbound-support/metric-agent-istio-outbound-support.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: migrate selfmonitor e2e tests (#2334)
  .github/template/finalize-test/action.yaml
  .github/workflows/pr-integration.yml
  test/e2e-migrated/logs/shared/self_monitor_healthy_test.go
  test/e2e-migrated/metrics/self_monitor_healthy_test.go
  test/e2e-migrated/traces/self_monitor_healthy_test.go
  test/integration-migrated/README.md
  test/integration/README.md
  test/integration/istio/access_logs_otlp_test.go
  test/integration/istio/access_logs_test.go
  test/integration/istio/logs_agent_self_monitor_backpressure_test.go
  test/integration/istio/logs_agent_self_monitor_outage_test.go
  test/integration/istio/logs_fluentbit_self_monitor_backpressure_test.go
  test/integration/istio/logs_fluentbit_self_monitor_outage_test.go
  test/integration/istio/logs_gateway_self_monitor_backpressure_test.go
  test/integration/istio/logs_gateway_self_monitor_outage_test.go
  test/integration/istio/main_test.go
  test/integration/istio/metrics_istio_envoy_multi_pipeline_test.go
  test/integration/istio/metrics_istio_input_envoy_metrics_test.go
  test/integration/istio/metrics_istio_input_test.go
  test/integration/istio/metrics_otlp_input_test.go
  test/integration/istio/metrics_prometheus_input_test.go
  test/integration/istio/metrics_self_monitor_backpressure_test.go
  test/integration/istio/metrics_self_monitor_outage_test.go
  test/integration/istio/suite_test.go
  test/integration/istio/traces_istio_routing_test.go
  test/integration/istio/traces_self_monitor_backpressure_test.go
  test/integration/istio/traces_self_monitor_outage_test.go
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/healthy_test.go
  test/selfmonitor/main_test.go
  test/selfmonitor/outage_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix TestLogParser
  test/e2e-migrated/logs/fluentbit/custom_parser_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove "app.kubernetes.io/name" label from stdoutloggenerator
  test/testkit/mocks/stdoutloggen/stdoutloggen.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use stdoutloggen in selfmonitor healthy test
  test/selfmonitor/healthy_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  test/e2e-migrated/metrics/runtime_input_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add proposal for privilege changes to log-agent
  docs/contributor/arch/025-minimal-privileges-for-log-agent.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add decision for access to log files
  docs/contributor/arch/025-minimal-privileges-for-log-agent.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add missing frontmatter
  docs/contributor/arch/023-unstructured-log-parsing.md
  docs/contributor/arch/024-dynatrace-cummulative-to-delta-support.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: update adr status (#2338)
  docs/contributor/arch/001-otel-collector-metric-based-pipeline-status.md
  docs/contributor/arch/002-fluent-bit-without-file-system-buffer.md
  docs/contributor/arch/003-integrate-prometheus-with-telemetry-manager-using-alerting.md
  docs/contributor/arch/004-consolidate-pipeline-statuses.md
  docs/contributor/arch/005-do-not-make-prometheus-part of-the-istio-service-mesh.md
  docs/contributor/arch/006-telemetry-api-v1beta1.md
  docs/contributor/arch/007-log-pipeline-otlp-output.md
  docs/contributor/arch/008-telemetry-flow-healthiness-status-api.md
  docs/contributor/arch/009-makefile-architecture.md
  docs/contributor/arch/010-logging-flow-healthiness-status-api.md
  docs/contributor/arch/011-kymastatsmetrics.md
  docs/contributor/arch/012a-leader-receiver-creator.md
  docs/contributor/arch/012b-leader-receiver-creator-as-extension.md
  docs/contributor/arch/013-resource-attributes-enrichment-for-non-workload-metrics.md
  docs/contributor/arch/014-telemetry-self-monitor-storage.md
  docs/contributor/arch/015-impact-of-istio-prometheus-merge-on-metric-pipelines.md
  docs/contributor/arch/016-transform-filter-support-for-telemetry-pipelines.md
  docs/contributor/arch/016a-strategy-for-supported-ottl-functions.md
  docs/contributor/arch/017-fault-tolerant-otel-logging-setup.md
  docs/contributor/arch/018-otel-logging-agent-configuration.md
  docs/contributor/arch/019-switch-from-gateways-to-a-central-agent.md
  docs/contributor/arch/020-redesign-e2e-log-test-structure.md
  docs/contributor/arch/021-refactor-performance-tests.md
  docs/contributor/arch/022-switch-metric-pipeline-gateway-to-agent.md
  docs/contributor/arch/023-unstructured-log-parsing.md
  docs/contributor/arch/024-dynatrace-cummulative-to-delta-support.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

use proper image for experimental
  test/e2e-migrated/logs/misc/version_conversion_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
