Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

chore: add avalanche image (#2536)
  external-images.yaml
Due: none

multi_pipeline_* remaining tests
  test/e2e/metrics/shared/multi_pipeline_fanout_test.go
  test/e2e/metrics/shared/multi_pipeline_max_pipeline_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

resources_test + uniformization
  test/e2e/metrics/shared/custom_cluster_name_test.go
  test/e2e/metrics/shared/extract_labels_test.go
  test/e2e/metrics/shared/resources_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

secret_* tests
  internal/utils/test/metric_pipeline_builder.go
  test/e2e/metrics/shared/secret_missing_test.go
  test/e2e/metrics/shared/secret_rotation_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

bump image
  test/testkit/mocks/prommetricgen/metric_producer.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Finish migrating e2e tests
  test/e2e/metrics/shared/mtls_about_to_expire_cert_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix docs
  docs/user/04-metrics.md
  internal/conditions/conditions.go
  internal/reconciler/metricpipeline/reconciler_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix linting + uniformization
  internal/utils/test/metric_pipeline_builder.go
  test/e2e/metrics/shared/cloud_provider_attributes_test.go
  test/e2e/metrics/shared/mtls_about_to_expire_cert_test.go
  test/e2e/metrics/shared/multi_pipeline_broken_test.go
  test/e2e/metrics/shared/namespace_selector_test.go
  test/e2e/metrics/shared/secret_rotation_test.go
  test/e2e/metrics/shared/single_pipeline_test.go
  test/e2e/metrics/shared/single_pipeline_v1beta1_test.go
  test/e2e/metrics/shared/transform_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  internal/reconciler/telemetry/metric_components_checker_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Delete old test files
  test/e2e/metrics/cloud_provider_attributes_test.go
  test/e2e/metrics/custom_cluster_name_test.go
  test/e2e/metrics/disabled_input_test.go
  test/e2e/metrics/endpoint_invalid_test.go
  test/e2e/metrics/endpoint_with_path_validation_test.go
  test/e2e/metrics/extract_labels_test.go
  test/e2e/metrics/kyma_input_test.go
  test/e2e/metrics/main_test.go
  test/e2e/metrics/mtls_about_to_expire_cert_test.go
  test/e2e/metrics/mtls_cert_key_pair_dont_match_test.go
  test/e2e/metrics/mtls_expired_cert_test.go
  test/e2e/metrics/mtls_invalid_ca_test.go
  test/e2e/metrics/mtls_invalid_cert_test.go
  test/e2e/metrics/mtls_missing_key_test.go
  test/e2e/metrics/mtls_test.go
  test/e2e/metrics/multi_pipeline_broken_test.go
  test/e2e/metrics/multi_pipeline_fanout_test.go
  test/e2e/metrics/multi_pipeline_max_pipeline_test.go
  test/e2e/metrics/namespace_selector_test.go
  test/e2e/metrics/prometheus_input_diagnostic_metric_test.go
  test/e2e/metrics/prometheus_input_test.go
  test/e2e/metrics/reject_creation_test.go
  test/e2e/metrics/resources_test.go
  test/e2e/metrics/runtime_input_test.go
  test/e2e/metrics/runtime_node_namespace_test.go
  test/e2e/metrics/secret_missing_test.go
  test/e2e/metrics/secret_rotation_test.go
  test/e2e/metrics/service_name_test.go
  test/e2e/metrics/single_pipeline_test.go
  test/e2e/metrics/single_pipeline_v1beta1_test.go
  test/e2e/metrics/transform_invalid_test.go
  test/e2e/metrics/transform_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Refactor GHAs accordingly
  .github/workflows/pr-integration.yml
Due: none

add comment
  test/selfmonitor/backpressure_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

More findings
  docs/contributor/arch/028-network-policy-hardening.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Refactor labels
  .github/workflows/pr-integration.yml
  test/e2e/metrics/agent/prometheus_input_diagnostic_metric_test.go
  test/e2e/metrics/agent/prometheus_input_test.go
  test/e2e/metrics/agent/runtime_input_test.go
  test/e2e/metrics/agent/runtime_node_namespace_test.go
  test/e2e/metrics/agent/service_name_test.go
  test/e2e/metrics/gateway/kyma_input_test.go
  test/e2e/metrics/misc/disabled_input_test.go
  test/e2e/metrics/misc/reject_creation_test.go
  test/e2e/metrics/shared/multi_pipeline_fanout_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Apply suggestions from code review
  docs/contributor/arch/016b-filter-support-without-context-inference-for-telemetry-pipelines.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

feat: lightweight logpipeline validation webhook
  apis/telemetry/v1alpha1/logpipeline_types.go
  apis/telemetry/v1alpha1/metricpipeline_types.go
  apis/telemetry/v1alpha1/tracepipeline_types.go
  apis/telemetry/v1beta1/logpipeline_types.go
  apis/telemetry/v1beta1/metricpipeline_types.go
  apis/telemetry/v1beta1/tracepipeline_types.go
  docs/user/resources/04-tracepipeline.md
  helm/charts/default/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_tracepipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_tracepipelines.yaml
  internal/reconciler/logpipeline/fluentbit/spec_validator_test.go
  internal/reconciler/logpipeline/fluentbit/validator.go
  internal/reconciler/logpipeline/fluentbit/validator_test.go
  webhook/logpipeline/v1alpha1/files_validator.go
  webhook/logpipeline/v1alpha1/files_validator_test.go
  webhook/logpipeline/v1alpha1/spec_validator.go
  webhook/logpipeline/v1alpha1/validate_handler.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Some more changes
  docs/contributor/arch/028-network-policy-hardening.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

further refactoring
  apis/telemetry/v1alpha1/logpipeline_types.go
  apis/telemetry/v1alpha1/shared_types.go
  apis/telemetry/v1beta1/logpipeline_types.go
  apis/telemetry/v1beta1/shared_types.go
  internal/fluentbit/config/builder/sections_config_builder.go
  internal/reconciler/logpipeline/fluentbit/spec_validator_test.go
  internal/reconciler/logpipeline/fluentbit/validator.go
  internal/reconciler/logpipeline/fluentbit/validator_test.go
  internal/utils/logpipeline/logpipeline.go
  internal/utils/logpipeline/logpipeline_test.go
  webhook/logpipeline/v1alpha1/spec_validator.go
  webhook/logpipeline/v1alpha1/validate_handler.go
  webhook/logpipeline/v1alpha1/validate_handler_test.go
  webhook/logpipeline/v1alpha1/variable_validator.go
  webhook/logpipeline/v1alpha1/variable_validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adjust tests
  internal/reconciler/logpipeline/fluentbit/validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

bump OTel image version to 0.136.0
  .env
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

bump OTel image version to 0.136.0
  .env
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

cleanup deprecated metrics *.cpu.utilization
  internal/otelcollector/config/metricagent/types.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

cleanup deprecated metrics *.cpu.utilization
  internal/otelcollector/config/metricagent/kubeletstats_receivers.go
  internal/otelcollector/config/metricagent/kubeletstats_receivers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: add ADR Filter support without OTTL context inference (#2510)
  docs/contributor/arch/016b-filter-support-without-context-inference-for-telemetry-pipelines.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

cleanup deprecated metrics *.cpu.utilization
  docs/contributor/assets/sample-metric-agent-config.yaml
  internal/otelcollector/config/metricagent/testdata/istio-ops-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-ops-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/setup-comprehensive.yaml
Due: none

More changes
  docs/contributor/arch/028-network-policy-hardening.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Remove header
  docs/contributor/arch/028-network-policy-hardening.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Improve decision text
  docs/contributor/arch/028-network-policy-hardening.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Add if: always() to summary GHA job
  .github/workflows/pr-integration.yml
Due: none

Split metric agent tests into 2 sets
  .github/workflows/pr-integration.yml
  test/e2e/metrics/agent/prometheus_input_diagnostic_metric_test.go
  test/e2e/metrics/agent/prometheus_input_test.go
  test/e2e/metrics/agent/runtime_input_test.go
  test/e2e/metrics/agent/runtime_node_namespace_test.go
  test/e2e/metrics/agent/service_name_test.go
  test/e2e/metrics/shared/cloud_provider_attributes_test.go
  test/e2e/metrics/shared/custom_cluster_name_test.go
  test/e2e/metrics/shared/endpoint_invalid_test.go
  test/e2e/metrics/shared/endpoint_with_path_validation_test.go
  test/e2e/metrics/shared/extract_labels_test.go
  test/e2e/metrics/shared/mtls_about_to_expire_cert_test.go
  test/e2e/metrics/shared/mtls_cert_key_pair_dont_match_test.go
  test/e2e/metrics/shared/mtls_expired_cert_test.go
  test/e2e/metrics/shared/mtls_invalid_ca_test.go
  test/e2e/metrics/shared/mtls_invalid_cert_test.go
  test/e2e/metrics/shared/mtls_missing_key_test.go
  test/e2e/metrics/shared/multi_pipeline_broken_test.go
  test/e2e/metrics/shared/multi_pipeline_fanout_test.go
  test/e2e/metrics/shared/namespace_selector_test.go
  test/e2e/metrics/shared/resources_test.go
  test/e2e/metrics/shared/secret_missing_test.go
  test/e2e/metrics/shared/secret_rotation_test.go
  test/e2e/metrics/shared/single_pipeline_test.go
  test/e2e/metrics/shared/single_pipeline_v1beta1_test.go
  test/e2e/metrics/shared/transform_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add benchmark test result for OTel version 0.136.0
  docs/contributor/benchmarks/results/metrics.md
  docs/contributor/benchmarks/results/traces.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

base for CEL testing
  apis/telemetry/v1alpha1/logpipeline_types.go
  helm/charts/default/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_tracepipelines.yaml
  internal/reconciler/logpipeline/fluentbit/validator_test.go
  test/e2e/logs/misc/mtls_missing_key_test.go
  test/e2e/logs/shared/mtls_missing_key_test.go
  test/e2e/logs/shared/secretref_misconfigured_test.go
  test/e2e/metrics/mtls_missing_key_test.go
  test/e2e/metrics/reject_creation_test.go
  test/e2e/traces/validation_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix based on review comments
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/outage_test.go
  test/testkit/k8s/virtual_service.go
  test/testkit/mocks/backend/backend.go
  test/testkit/mocks/backend/options.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

runtime_input_test filter genNs
  test/e2e/metrics/agent/runtime_input_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Simplify cloud_provider_attributes test
  test/e2e/metrics/shared/cloud_provider_attributes_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add podNs to runtime_input test
  test/e2e/metrics/agent/runtime_input_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix reconciliation loop and multi_pipeline_broken test
  internal/reconciler/metricpipeline/reconciler.go
  test/e2e/metrics/shared/multi_pipeline_broken_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Remove podNs from runtime_input test
  test/e2e/metrics/agent/runtime_input_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix namespace_selector test collision problem
  test/e2e/metrics/shared/namespace_selector_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
