Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

Adjust E2E tests to check for OTLPGateway DaemonSet instead of TraceGateway Deployment
  test/e2e/traces/enrichment_values_empty_test.go
  test/e2e/traces/enrichment_values_predefined_test.go
  test/e2e/traces/extract_labels_test.go
  test/e2e/traces/filter_test.go
  test/e2e/traces/mtls_about_to_expire_cert_test.go
  test/e2e/traces/mtls_test.go
  test/e2e/traces/multi_pipeline_broken_test.go
  test/e2e/traces/multi_pipeline_fanout_test.go
  test/e2e/traces/multi_pipeline_max_pipeline_test.go
  test/e2e/traces/noisy_span_filter_test.go
  test/e2e/traces/oauth2_test.go
  test/e2e/traces/secret_rotation_test.go
  test/e2e/traces/service_enrichment_test.go
  test/e2e/traces/service_name_test.go
  test/e2e/traces/single_pipeline_test.go
  test/e2e/traces/single_pipeline_v1alpha1_test.go
  test/e2e/traces/transform_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  external-images.yaml
Due: none

extract single function for istio handling
  test/testkit/kubeprep/config.go
  test/testkit/kubeprep/detect.go
  test/testkit/kubeprep/reconfigure.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

lint-fix
  test/testkit/kubeprep/reconfigure.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: update to fluent-bit 4.2.3
  .env
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

update golang for prometheus
  dependencies/telemetry-self-monitor/envs
Due: pull-telemetry-manager-verify-module

lint-fix
  internal/storagemigration/migrator.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Add feature branch to GHAs
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-integration.yml
Due: none

test: Fix resources_test
  test/e2e/traces/resources_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

base the fips installation on environment configuration
  .github/workflows/pr-integration.yml
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/healthy_test.go
  test/selfmonitor/main_test.go
  test/selfmonitor/outage_test.go
  test/testkit/kubeprep/config.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

test: Fix UTs
  internal/reconciler/otlpgateway/reconciler.go
  internal/reconciler/otlpgateway/reconciler_test.go
  internal/resources/names/names.go
  internal/resources/otelcollector/testdata/otlp-gateway-istio.yaml
  internal/resources/otelcollector/testdata/otlp-gateway.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: add CLAUDE.md for Claude Code guidance
  .gitignore
  CLAUDE.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

test: Improve coverage
  .testcoverage.yml
  internal/reconciler/otlpgateway/reconciler_test.go
  internal/resources/otelcollector/otlp_gateway_config_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use fips functional option
  test/e2e/logs/fluentbit/app_name_test.go
  test/e2e/logs/fluentbit/base_payload_with_http_test.go
  test/e2e/logs/fluentbit/custom_cluster_name_test.go
  test/e2e/logs/fluentbit/custom_filter_test.go
  test/e2e/logs/fluentbit/custom_output_test.go
  test/e2e/logs/fluentbit/dedot_test.go
  test/e2e/logs/fluentbit/keep_annotation_test.go
  test/e2e/logs/misc/endpoint_invalid_test.go
  test/e2e/logs/misc/mtls_cert_key_pair_dont_match_test.go
  test/e2e/logs/misc/mtls_expired_cert_test.go
  test/e2e/logs/misc/mtls_invalid_ca_test.go
  test/e2e/logs/misc/mtls_invalid_cert_test.go
  test/e2e/logs/shared/check_metrics_endpoint_test.go
  test/e2e/logs/shared/container_selector_test.go
  test/e2e/logs/shared/disabled_input_test.go
  test/e2e/logs/shared/extract_labels_test.go
  test/e2e/logs/shared/keep_original_body_test.go
  test/e2e/logs/shared/mtls_about_to_expire_cert_test.go
  test/e2e/logs/shared/mtls_test.go
  test/e2e/logs/shared/multi_pipeline_broken_test.go
  test/e2e/logs/shared/multi_pipeline_fanout_test.go
  test/e2e/logs/shared/multi_pipeline_max_pipeline_test.go
  test/e2e/logs/shared/namespace_selector_test.go
  test/e2e/logs/shared/resources_test.go
  test/e2e/logs/shared/secret_missing_test.go
  test/e2e/logs/shared/secret_rotation_test.go
  test/e2e/logs/shared/single_pipeline_test.go
  test/e2e/logs/shared/single_pipeline_v1alpha1_test.go
  test/e2e/misc/custom_label_annotation_test.go
  test/e2e/misc/overrides_test.go
  test/e2e/misc/telemetry_log_analysis_test.go
  test/e2e/upgrade/logs_fluentbit_upgrade_test.go
  test/integration/istio/access_logs_test.go
  test/testkit/kubeprep/config.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Augment the key pattern
  CLAUDE.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

test: Fix tracepipeline reconciler tests and increase coverage
  .testcoverage.yml
  internal/reconciler/otlpgateway/reconciler_test.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/reconciler/tracepipeline/stubs/overrides_handler.go
  internal/reconciler/tracepipeline/stubs/pipeline_lock.go
  internal/reconciler/tracepipeline/stubs/pipeline_sync.go
  internal/reconciler/tracepipeline/test_helpers_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Fix linting
  internal/reconciler/otlpgateway/reconciler_test.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/reconciler/tracepipeline/test_helpers_test.go
  internal/resources/otelcollector/otlp_gateway_config.go
  test/testkit/kyma/common_names.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add push trigger
  .github/workflows/pr-integration.yml
Due: none

invert logic for SetupTest
  test/e2e/logs/gateway/enrichment_values_empty_test.go
  test/integration/istio/access_logs_otlp_test.go
  test/integration/istio/access_logs_test.go
  test/integration/istio/metrics_envoy_multi_pipeline_test.go
  test/integration/istio/metrics_istio_input_envoy_test.go
  test/integration/istio/metrics_istio_input_test.go
  test/integration/istio/metrics_istio_same_port_test.go
  test/integration/istio/metrics_otlp_input_test.go
  test/integration/istio/metrics_prometheus_input_test.go
  test/integration/istio/traces_routing_test.go
  test/selfmonitor/backpressure_test.go
  test/selfmonitor/healthy_test.go
  test/selfmonitor/main_test.go
  test/selfmonitor/outage_test.go
  test/testkit/kubeprep/config.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update .github/workflows/pr-integration.yml
  .github/workflows/pr-integration.yml
Due: none

chore: Fix deprecated use of results.Requeue
  internal/reconciler/tracepipeline/reconciler_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

automatically apply set-labels
  test/e2e/metrics/agent/prometheus_input_diagnostic_metric_test.go
  test/e2e/metrics/agent/prometheus_input_test.go
  test/e2e/metrics/agent/runtime_input_test.go
  test/e2e/metrics/agent/runtime_node_namespace_test.go
  test/e2e/metrics/agent/service_enrichment_test.go
  test/e2e/metrics/agent/service_name_test.go
  test/e2e/metrics/gateway/enrichment_values_empty_test.go
  test/e2e/metrics/gateway/enrichment_values_predefined_test.go
  test/e2e/metrics/gateway/kyma_input_test.go
  test/e2e/metrics/shared/cloud_provider_attributes_test.go
  test/e2e/metrics/shared/custom_cluster_name_test.go
  test/e2e/metrics/shared/endpoint_with_path_validation_test.go
  test/e2e/metrics/shared/extract_labels_test.go
  test/e2e/metrics/shared/filter_test.go
  test/e2e/metrics/shared/mtls_about_to_expire_cert_test.go
  test/e2e/metrics/shared/mtls_test.go
  test/e2e/metrics/shared/multi_pipeline_broken_test.go
  test/e2e/metrics/shared/multi_pipeline_fanout_test.go
  test/e2e/metrics/shared/namespace_selector_test.go
  test/e2e/metrics/shared/oauth2_test.go
  test/e2e/metrics/shared/resources_test.go
  test/e2e/metrics/shared/secret_missing_test.go
  test/e2e/metrics/shared/secret_rotation_test.go
  test/e2e/metrics/shared/single_pipeline_test.go
  test/e2e/metrics/shared/single_pipeline_v1alpha1_test.go
  test/e2e/metrics/shared/transform_test.go
  test/testkit/suite/prerequisites_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: integrate secret watcher into pipeline controllers
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/tracepipeline_controller.go
  internal/reconciler/logpipeline/interfaces.go
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/metricpipeline/interfaces.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/tracepipeline/interfaces.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/secretwatch/client.go
  internal/secretwatch/client_test.go
  internal/secretwatch/watcher.go
  internal/validators/secretref/secret_ref.go
  internal/validators/secretref/secret_ref_test.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: update pipeline samples to use secret refs for endpoints
  samples/telemetry_v1beta1_logpipeline_fluentbit.yaml
  samples/telemetry_v1beta1_logpipeline_otel_input_otlp.yaml
  samples/telemetry_v1beta1_logpipeline_otel_input_runtime.yaml
  samples/telemetry_v1beta1_metricpipeline.yaml
  samples/telemetry_v1beta1_tracepipeline.yaml
Due: none

add logs
  internal/secretwatch/client.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update docs/contributor/arch/032-auditable-release-automation.md
  docs/contributor/arch/032-auditable-release-automation.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update doc format
  docs/contributor/arch/032-auditable-release-automation.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix missing experimental handling
  test/e2e/logs/gateway/enrichment_values_predefined_test.go
  test/e2e/logs/shared/check_metrics_endpoint_test.go
  test/e2e/logs/shared/extract_labels_test.go
  test/e2e/logs/shared/filter_test.go
  test/e2e/logs/shared/mtls_about_to_expire_cert_test.go
  test/e2e/logs/shared/mtls_test.go
  test/e2e/logs/shared/multi_pipeline_broken_test.go
  test/e2e/logs/shared/multi_pipeline_fanout_test.go
  test/e2e/logs/shared/multi_pipeline_max_pipeline_test.go
  test/e2e/logs/shared/namespace_selector_test.go
  test/e2e/logs/shared/oauth2_test.go
  test/e2e/logs/shared/observed_time_test.go
  test/e2e/logs/shared/secret_missing_test.go
  test/e2e/logs/shared/secret_rotation_test.go
  test/e2e/logs/shared/service_name_test.go
  test/e2e/logs/shared/single_pipeline_test.go
  test/e2e/logs/shared/single_pipeline_v1alpha1_test.go
  test/e2e/logs/shared/transform_test.go
  test/e2e/metrics/shared/multi_pipeline_max_pipeline_test.go
  test/e2e/traces/multi_pipeline_max_pipeline_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Add this feature branch to GHA workflows
  .github/workflows/build-directory-size-reporter-image.yml
  .github/workflows/build-manager-image.yml
  .github/workflows/build-sample-app-image.yml
  .github/workflows/build-self-monitor-image.yml
  .github/workflows/build-stdout-log-generator-image.yaml
  .github/workflows/gardener-integration.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
  .github/workflows/pr-integration.yml
  .github/workflows/sync-external-images.yml
Due: none

implement missing gcloud authentication for other pr integration workflows
  .github/workflows/pr-integration.yml
Due: none

remove dead code
  test/testkit/suite/prerequisites.go
  test/testkit/suite/prerequisites_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: Start with LogGateway refactoring
  .mockery.yml
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/otlpgateway_controller.go
  internal/otelcollector/config/otlpgateway/config_builder.go
  internal/otelcollector/config/otlpgateway/config_builder_logs.go
  internal/otelcollector/config/otlpgateway/config_builder_test.go
  internal/otelcollector/config/otlpgateway/config_builder_traces.go
  internal/otelcollector/config/otlpgateway/testdata/log-single-pipeline.yaml
  internal/otelcollector/config/otlpgateway/testdata/trace-and-log-pipelines.yaml
  internal/otelcollector/config/otlpgateway/types.go
  internal/reconciler/logpipeline/otel/interfaces.go
  internal/reconciler/logpipeline/otel/mocks/gateway_applier_deleter.go
  internal/reconciler/logpipeline/otel/mocks/gateway_config_builder.go
  internal/reconciler/logpipeline/otel/mocks/gateway_flow_health_prober.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/logpipeline/otel/reconciler_test.go
  internal/reconciler/logpipeline/otel/status.go
  internal/reconciler/logpipeline/otel/test_helpers_test.go
  internal/reconciler/otlpgateway/interfaces.go
  internal/reconciler/otlpgateway/mocks/otlp_gateway_config_builder.go
  internal/reconciler/otlpgateway/reconciler.go
  internal/reconciler/otlpgateway/reconciler_test.go
  internal/reconciler/otlpgateway/status.go
  internal/resources/otelcollector/otlp_gateway_config.go
  internal/resources/otelcollector/otlp_gateway_config_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove require-fips-images :sadcat
  .github/workflows/pr-integration.yml
  test/testkit/kubeprep/config.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix linting
  internal/otelcollector/config/otlpgateway/config_builder_logs.go
  internal/otelcollector/config/otlpgateway/config_builder_traces.go
  internal/reconciler/otlpgateway/reconciler.go
  internal/reconciler/otlpgateway/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Add missing reference to build-manager-image GHA workflow
  .github/workflows/build-manager-image.yml
Due: none

chore: Correct wrong feature branch name in GHAs
  .github/workflows/build-directory-size-reporter-image.yml
  .github/workflows/build-manager-image.yml
  .github/workflows/build-sample-app-image.yml
  .github/workflows/build-self-monitor-image.yml
  .github/workflows/build-stdout-log-generator-image.yaml
  .github/workflows/gardener-integration.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
  .github/workflows/pr-integration.yml
  .github/workflows/sync-external-images.yml
Due: none

update workflow
  .github/workflows/pr-integration.yml
Due: none
