Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

Add user-defined transforms
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
  internal/otelcollector/config/metricgateway/testdata/two-pipelines-with-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add more tests
  internal/otelcollector/config/metricgateway/config_builder_test.go
  internal/otelcollector/config/metricgateway/testdata/comprehensive-config.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-envoy-diagnostic.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-only.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-diagnostic-metrics.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-namespace-exclude.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-namespace-include.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-specific-resources.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix otlp input filter
  internal/otelcollector/config/metricgateway/config_builder_output.go
  internal/otelcollector/config/metricgateway/testdata/single-pipeline-otlp-disabled.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add few more tests
  test/e2e/logs/shared/transform_test_infer_context_test.go
  test/e2e/logs/shared/transform_test_transform_cond_test.go
  test/e2e/metrics/transform_test_cond_statement_test.go
  test/e2e/metrics/transform_test_infer_context_test.go
  test/e2e/traces/transform_test_cond_statement_test.go
  test/e2e/traces/transform_test_infer_context_test.go
  test/testkit/matchers/metric/metric_matchers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix lint
  test/e2e/logs/shared/transform_test_infer_context_test.go
  test/e2e/logs/shared/transform_test_transform_cond_test.go
  test/e2e/metrics/transform_test_infer_context_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  test/e2e/logs/shared/transform_test_transform_cond_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Invert ifs
  internal/otelcollector/config/metricgateway/config_builder_output.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Unify golden files
  internal/otelcollector/config/metricgateway/config_builder_output.go
  internal/otelcollector/config/metricgateway/config_builder_test.go
  internal/otelcollector/config/metricgateway/testdata/comprehensive-config.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-envoy-diagnostic.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-only.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-diagnostic-metrics.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-namespace-exclude.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-namespace-include.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-specific-resources.yaml
  internal/otelcollector/config/metricgateway/testdata/simple.yaml
  internal/otelcollector/config/metricgateway/testdata/user-defined-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

A few more fixes
  internal/otelcollector/config/metricgateway/config_builder_test.go
  internal/otelcollector/config/metricgateway/testdata/istio-envoy-diagnostic.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-diagnostic-metrics.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Extract constants
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
  internal/otelcollector/config/metricgateway/config_builder_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Simplify constants
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Improve method name
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Improve method name
  internal/otelcollector/config/metricgateway/config_builder_output.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update
  Makefile
  docs/contributor/releasing.md
  hack/release.sh
  helm/telemetry-module/Chart.yaml
  helm/telemetry-module/charts/experimental/templates/operator.kyma-project.io_telemetries.yaml
  helm/telemetry-module/charts/experimental/templates/telemetry.kyma-project.io_logparsers.yaml
  helm/telemetry-module/charts/experimental/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/telemetry-module/charts/experimental/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/telemetry-module/charts/experimental/templates/telemetry.kyma-project.io_tracepipelines.yaml
  helm/telemetry-module/charts/experimental/values.yaml
  helm/telemetry-module/charts/regular/templates/operator.kyma-project.io_telemetries.yaml
  helm/telemetry-module/charts/regular/templates/telemetry.kyma-project.io_logparsers.yaml
  helm/telemetry-module/charts/regular/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/telemetry-module/charts/regular/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/telemetry-module/charts/regular/templates/telemetry.kyma-project.io_tracepipelines.yaml
  helm/telemetry-module/charts/regular/values.yaml
  helm/telemetry-module/templates/busola-logpipelines.yaml
  helm/telemetry-module/templates/busola-metricpipelines.yaml
  helm/telemetry-module/templates/busola-telemetry.yaml
  helm/telemetry-module/templates/busola-tracepipelines.yaml
  helm/telemetry-module/templates/deployment.yaml
  helm/telemetry-module/templates/manager-metrics-service.yaml
  helm/telemetry-module/templates/manager-webhook-service.yaml
  helm/telemetry-module/templates/mutating-webhook.kyma-project.io.yaml
  helm/telemetry-module/templates/networkpolicy.yaml
  helm/telemetry-module/templates/serviceaccount.yaml
  helm/telemetry-module/values.yaml
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Apply suggestions from code review
  docs/contributor/arch/027-switch-helm-packaging-from-kustomize.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Change Dockerfile
  Dockerfile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

Update gomod
  go.mod
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Introduce changes from https://github.com/kyma-project/telemetry-manager/pull/2120
  internal/webhookcert/ca_cert_generator.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix ca_cert generation SHA-1 problem (Hisar)
  internal/webhookcert/ca_cert_generator.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix linting
  internal/webhookcert/ca_cert_generator.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Remove commented types
  internal/otelcollector/config/metricgateway/types.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use consistently
  test/e2e/logs/shared/transform_test.go
  test/e2e/logs/shared/transform_test_infer_context_test.go
  test/e2e/logs/shared/transform_test_transform_cond_test.go
  test/e2e/metrics/transform_test.go
  test/e2e/metrics/transform_test_cond_statement_test.go
  test/e2e/metrics/transform_test_infer_context_test.go
  test/e2e/traces/transform_test.go
  test/e2e/traces/transform_test_cond_statement_test.go
  test/e2e/traces/transform_test_infer_context_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix broken rbacs
  helm/telemetry-module/Chart.yaml
  helm/telemetry-module/charts/experimental/templates/operator.kyma-project.io_telemetries.yaml
  helm/telemetry-module/charts/experimental/templates/telemetry.kyma-project.io_logparsers.yaml
  helm/telemetry-module/charts/experimental/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/telemetry-module/charts/experimental/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/telemetry-module/charts/experimental/templates/telemetry.kyma-project.io_tracepipelines.yaml
  helm/telemetry-module/templates/manager-rbac.yaml
  helm/telemetry-module/templates/serviceaccount.yaml
  helm/telemetry-module/values.yaml
Due: none

fix brokenmake target deploy
  Makefile
  helm/telemetry-module/charts/regular/templates/operator.kyma-project.io_telemetries.yaml
  helm/telemetry-module/charts/regular/templates/telemetry.kyma-project.io_logparsers.yaml
  helm/telemetry-module/charts/regular/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/telemetry-module/charts/regular/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/telemetry-module/charts/regular/templates/telemetry.kyma-project.io_tracepipelines.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

generate values.yaml
  helm/telemetry-module/values.yaml
Due: none

Adjust golden file tests
  internal/otelcollector/config/metricgateway/config_builder_test.go
  internal/otelcollector/config/metricgateway/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-envoy.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-comprehensive.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-simple.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: refactor Metric Gateway config builder (#2438)
  internal/otelcollector/config/common/component_builder.go
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/common/types.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricgateway/config.go
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_enrichment.go
  internal/otelcollector/config/metricgateway/config_builder_input.go
  internal/otelcollector/config/metricgateway/config_builder_output.go
  internal/otelcollector/config/metricgateway/config_builder_test.go
  internal/otelcollector/config/metricgateway/connectors.go
  internal/otelcollector/config/metricgateway/connectors_test.go
  internal/otelcollector/config/metricgateway/processor_drop_filter.go
  internal/otelcollector/config/metricgateway/processor_drop_filter_test.go
  internal/otelcollector/config/metricgateway/processors.go
  internal/otelcollector/config/metricgateway/processors_test.go
  internal/otelcollector/config/metricgateway/receivers.go
  internal/otelcollector/config/metricgateway/receivers_test.go
  internal/otelcollector/config/metricgateway/service.go
  internal/otelcollector/config/metricgateway/service_test.go
  internal/otelcollector/config/metricgateway/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-envoy.yaml
  internal/otelcollector/config/metricgateway/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/otlp-only.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricgateway/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-comprehensive.yaml
  internal/otelcollector/config/metricgateway/testdata/setup-simple.yaml
  internal/otelcollector/config/metricgateway/testdata/user-defined-transforms.yaml
  internal/otelcollector/config/metricgateway/types.go
  internal/reconciler/metricpipeline/mocks/gateway_config_builder.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/metricpipeline/reconciler_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix busola installed on default namespace
  helm/telemetry-module/templates/busola-logpipelines.yaml
  helm/telemetry-module/templates/busola-metricpipelines.yaml
  helm/telemetry-module/templates/busola-telemetry.yaml
  helm/telemetry-module/templates/busola-tracepipelines.yaml
Due: none

move busola configs to the dedicated files
  helm/telemetry-module/files/logpipelines-busola-config.yaml
  helm/telemetry-module/files/metricpipelines-busola-config.yaml
  helm/telemetry-module/files/telemetries-busola-config.yaml
  helm/telemetry-module/files/tracepipelines-busola-config.yaml
  helm/telemetry-module/templates/busola-logpipelines.yaml
  helm/telemetry-module/templates/busola-metricpipelines.yaml
  helm/telemetry-module/templates/busola-tracepipelines.yaml
  helm/telemetry-module/templates/deployment.yaml
  helm/telemetry-module/templates/logpipeline-busola-config-cm.yaml
  helm/telemetry-module/templates/metricpipeline-busola-config-cm.yaml
  helm/telemetry-module/templates/telemetry-busola-config-cm.yaml
  helm/telemetry-module/templates/tracepipeline-busola-config-cm.yaml
  helm/telemetry-module/values.yaml
  test.yaml
Due: none

initial version for using log parser collection
  internal/validators/ottllog/common_contexts.go
  internal/validators/ottllog/config.go
  internal/validators/ottllog/filter.go
  internal/validators/ottllog/filter_expr_matcher.go
  internal/validators/ottllog/log_parser_collection.go
  internal/validators/ottllog/ottl_log_validator.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove unnecessary logic for parsing
  internal/validators/ottllog/common_contexts.go
  internal/validators/ottllog/config.go
  internal/validators/ottllog/filter.go
  internal/validators/ottllog/filter_expr_matcher.go
  internal/validators/ottllog/log_parser_collection.go
  internal/validators/ottllog/ottl_log_validator.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

move test networkpolicy manifest to samples directory
  .github/template/deploy-test-prerequisites/action.yaml
  .github/workflows/gardener-integration.yml
  config/samples/networkpolicy-deny-all.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module

remove test file
  test.yaml
Due: none

add helm chart meta data
  helm/telemetry-module/Chart.yaml
Due: none

fix
  test/e2e/metrics/transform_test_cond_statement_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: add e2e tests for transform processor (#2432)
  test/e2e/logs/shared/transform_test.go
  test/e2e/logs/shared/transform_test_infer_context_test.go
  test/e2e/logs/shared/transform_test_transform_cond_test.go
  test/e2e/metrics/transform_test.go
  test/e2e/metrics/transform_test_cond_statement_test.go
  test/e2e/metrics/transform_test_infer_context_test.go
  test/e2e/traces/transform_test.go
  test/e2e/traces/transform_test_cond_statement_test.go
  test/e2e/traces/transform_test_infer_context_test.go
  test/testkit/matchers/metric/metric_matchers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: introduce gotestsum, JUnit reports, and refactor GHAs accordingly (#2418)
  .github/template/deploy-test-k8s-prerequisites/action.yaml
  .github/template/test-cleanup/action.yaml
  .github/template/test-execute/action.yaml
  .github/template/test-setup/action.yaml
  .github/template/test-summary/action.yaml
  .github/workflows/gardener-integration.yml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-upgrade.yml
  Makefile
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add versioning proposal in the ADR
  docs/contributor/arch/027-switch-helm-packaging-from-kustomize.md
  helm/telemetry-module/Chart.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint
