Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

change misleading step name
  .github/workflows/pr-upgrade.yml
Due: none

chore: fix upgrade test (#2680)
  .github/workflows/pr-upgrade.yml
Due: none

Improve OTTL Spec condition message
  docs/user/resources/01-telemetry.md
  docs/user/resources/02-logpipeline.md
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
  internal/conditions/conditions.go
  internal/reconciler/logpipeline/otel/status.go
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/tracepipeline/status.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix auto-generated CRDs markdown
  docs/user/resources/01-telemetry.md
  docs/user/resources/02-logpipeline.md
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add crds folder for Helm chart
  Makefile
  apis/operator/v1alpha1/telemetry_types.go
  apis/operator/v1beta1/telemetry_types.go
  apis/telemetry/v1alpha1/logparser_types.go
  apis/telemetry/v1alpha1/logpipeline_types.go
  apis/telemetry/v1alpha1/metricpipeline_types.go
  apis/telemetry/v1alpha1/tracepipeline_types.go
  apis/telemetry/v1beta1/logpipeline_types.go
  apis/telemetry/v1beta1/metricpipeline_types.go
  apis/telemetry/v1beta1/tracepipeline_types.go
  helm/charts/experimental/templates/operator.kyma-project.io_telemetries.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_logparsers.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_tracepipelines.yaml
  helm/crds/operator.kyma-project.io_telemetries.yaml
  helm/crds/telemetry.kyma-project.io_logparsers.yaml
  helm/crds/telemetry.kyma-project.io_logpipelines.yaml
  helm/crds/telemetry.kyma-project.io_metricpipelines.yaml
  helm/crds/telemetry.kyma-project.io_tracepipelines.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: add example for custom log parser
  docs/user/filter-and-process/ottl-transform-and-filter/README.md
  docs/user/filter-and-process/ottl-transform-and-filter/ottl-filter.md
  docs/user/filter-and-process/ottl-transform-and-filter/ottl-transform.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

save golden file
  internal/resources/selfmonitor/resources_test.go
  internal/resources/selfmonitor/testdata/self-monitor-img-pull-secret.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add for fluent bit
  internal/resources/fluentbit/resources.go
  internal/resources/fluentbit/resources_test.go
  internal/resources/fluentbit/testdata/fluentbit-img-pull-secret.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add for self monitor
  internal/resources/fluentbit/resources_test.go
  internal/resources/selfmonitor/resources.go
  internal/resources/selfmonitor/resources_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  docs/user/filter-and-process/ottl-transform-and-filter/ottl-transform.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add configmap removal logic
  internal/resources/fluentbit/resources.go
  internal/resources/fluentbit/testdata/fluentbit.yaml
  test/e2e/logs/shared/resources_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

test fix
  internal/resources/fluentbit/resources.go
  internal/resources/fluentbit/testdata/fluentbit.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update sidebar links
  docs/user/_sidebar.ts
Due: none

Delete docs/user/_sidebar.md
  docs/user/_sidebar.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: update sidebar links (#2685)
  docs/user/_sidebar.md
  docs/user/_sidebar.ts
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Introduce global config
  internal/config/global.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: remove logparser API (#2674)
  .golangci.yaml
  .testcoverage.yml
  Makefile
  PROJECT
  apis/telemetry/v1alpha1/logparser_types.go
  apis/telemetry/v1alpha1/zz_generated.deepcopy.go
  controllers/telemetry/logparser_controller.go
  docs/contributor/governance.md
  helm/charts/default/templates/telemetry.kyma-project.io_logparsers.yaml
  helm/charts/experimental/templates/telemetry.kyma-project.io_logparsers.yaml
  helm/templates/manager-rbac.yaml
  helm/templates/validating-webhook.kyma-project.io.yaml
  internal/fluentbit/config/builder/parser_config_builder.go
  internal/reconciler/logparser/finalizer.go
  internal/reconciler/logparser/finalizer_test.go
  internal/reconciler/logparser/reconciler.go
  internal/reconciler/logparser/status.go
  internal/reconciler/logparser/status_test.go
  internal/reconciler/logparser/sync.go
  internal/reconciler/logparser/sync_test.go
  internal/reconciler/telemetry/log_components_checker.go
  internal/reconciler/telemetry/log_components_checker_test.go
  internal/reconciler/telemetry/reconciler.go
  internal/reconciler/telemetry/status.go
  internal/resources/fluentbit/resources.go
  internal/resources/fluentbit/testdata/fluentbit.yaml
  internal/utils/test/log_parser_builder.go
  internal/webhookcert/webhook_cert_test.go
  main.go
  samples/telemetry_v1alpha1_logparser_fluentbit.yaml
  test/e2e/logs/fluentbit/custom_parser_test.go
  test/e2e/logs/shared/resources_test.go
  test/e2e/misc/manager_test.go
  test/e2e/misc/telemetry_test.go
  test/testkit/k8s/log_parser.go
  webhook/logparser/v1alpha1/setup.go
  webhook/logparser/v1alpha1/spec_validator.go
  webhook/logparser/v1alpha1/validate_handler.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: fix link in sidebar
  docs/user/_sidebar.ts
Due: none

further logparser cleanup
  docs/user/resources/01-telemetry.md
  docs/user/resources/03-logparser.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: fix link in sidebar (#2686)
  docs/user/_sidebar.ts
  docs/user/resources/01-telemetry.md
  docs/user/resources/03-logparser.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

WIP: introduce global config
  controllers/telemetry/tracepipeline_controller.go
  internal/config/global.go
  internal/overrides/handler.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/reconciler/tracepipeline/status.go
  internal/resources/common/pod_spec.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/gateway.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add validatingwebhook for metric and trace
  webhook/metricpipeline/v1alpha1/setup.go
  webhook/metricpipeline/v1alpha1/validator.go
  webhook/tracepipeline/v1alpha1/setup.go
  webhook/tracepipeline/v1alpha1/validator.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

migrate existing webhook to new approach and add new ottl validation
  webhook/logpipeline/v1alpha1/setup.go
  webhook/logpipeline/v1alpha1/validate_handler.go
  webhook/logpipeline/v1alpha1/validate_handler_test.go
  webhook/logpipeline/v1alpha1/validator.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adjust e2e tests
  test/e2e/logs/misc/filter_invalid_test.go
  test/e2e/logs/misc/transform_invalid_test.go
  test/e2e/metrics/misc/filter_invalid_test.go
  test/e2e/metrics/misc/transform_invalid_test.go
  test/e2e/traces/filter_invalid_test.go
  test/e2e/traces/transform_invalid_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adjust validating webhook config manifest
  helm/templates/validating-webhook.kyma-project.io.yaml
Due: none

capitalize Node only if it's a k8s resource
  docs/user/architecture/README.md
  docs/user/architecture/logs-architecture.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

capitalize Node only if k8s resource
  docs/user/architecture/logs-architecture.md
  docs/user/collecting-logs/README.md
  docs/user/collecting-logs/application-input.md
  docs/user/collecting-metrics/README.md
  docs/user/collecting-metrics/runtime-input.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: apply consistent capitalization of "Node" (#2654)
  docs/user/architecture/README.md
  docs/user/architecture/logs-architecture.md
  docs/user/filter-and-process/automatic-data-enrichment.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Finish refactoring
  .golangci.yaml
  controllers/operator/telemetry_controller.go
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/tracepipeline_controller.go
  internal/config/global.go
  internal/overrides/handler.go
  internal/overrides/handler_test.go
  internal/reconciler/logpipeline/fluentbit/reconciler.go
  internal/reconciler/logpipeline/fluentbit/reconciler_test.go
  internal/reconciler/logpipeline/fluentbit/status.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/logpipeline/otel/reconciler_test.go
  internal/reconciler/logpipeline/otel/status.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/metricpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/telemetry/reconciler.go
  internal/reconciler/telemetry/status.go
  internal/reconciler/telemetry/status_test.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/agent_test.go
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/gateway_test.go
  internal/resources/selfmonitor/config.go
  internal/resources/selfmonitor/resources.go
  internal/resources/selfmonitor/resources_test.go
  internal/selfmonitor/config/config_builder.go
  internal/selfmonitor/config/config_builder_test.go
  internal/selfmonitor/prober/fluentbit_prober.go
  internal/selfmonitor/prober/otel_agent_prober.go
  internal/selfmonitor/prober/otel_gateway_prober.go
  internal/selfmonitor/webhook/handler.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Lint fix
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: add integration guide for k8s events
  docs/user/assets/manager-arch.drawio.svg
  docs/user/integration/aws-cloudwatch/README.md
  docs/user/integration/dynatrace/README.md
  docs/user/integration/prometheus/README.md
  docs/user/integration/sample-app/README.md
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: add integration guide for k8s events
  docs/user/integration/assets/k8s-events.svg
  docs/user/integration/k8s-events/README.md
  docs/user/integration/k8s-events/cloud-logging-dashboard.ndjson
  docs/user/integration/k8s-events/values.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix
  docs/user/integration/k8s-events/values.yaml
Due: none

fix
  docs/user/integration/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Fix tests
  internal/resources/selfmonitor/testdata/self-monitor.yaml
  internal/selfmonitor/config/testdata/config.yaml
Due: none

Add docs
  internal/config/global.go
  internal/config/global_test.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/agent_test.go
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/gateway_test.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix inconsistency
  controllers/operator/telemetry_controller.go
  internal/reconciler/telemetry/reconciler.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix build
  controllers/operator/telemetry_controller.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Small improvements
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/tracepipeline_controller.go
  internal/resources/selfmonitor/resources.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test
