Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

Revert "use Workload Identity Federation"
  .github/workflows/pr-integration.yml
Due: none

use pull_request_target
  .github/workflows/pr-integration.yml
Due: none

use specific sha for google github action
  .github/workflows/pr-integration.yml
Due: none

Add docs
  docs/user/collecting-metrics/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update diagram
  docs/contributor/assets/auditable-release-final.drawio.svg
Due: none

feat: set body_size_limit to prevent OOM in metric agent (#2983)
  docs/user/collecting-metrics/README.md
  internal/otelcollector/config/metricagent/prometheus_receiver.go
  internal/otelcollector/config/metricagent/testdata/istio-installed-and-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-installed-and-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-not-installed-and-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-not-installed-and-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-only.yaml
  internal/otelcollector/config/metricagent/testdata/setup-comprehensive.yaml
  internal/otelcollector/config/metricagent/types.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adjust github event in PR integration
  .github/workflows/pr-integration.yml
Due: none

add ref for actions/checkout
  .github/workflows/pr-integration.yml
Due: none

add e2e-custom-labels-annotations-no-fips to the summary needs
  .github/workflows/pr-integration.yml
Due: none

feat: use a Prometheus FIPS-compliant image when running in FIPS mode (#2957)
  .env
  .github/workflows/pr-integration.yml
  Makefile
  dependencies/populateimages/main.go
  helm/templates/deployment.yaml
  helm/values.yaml
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

build manager image for the branch prometheus_fips_image
  .github/workflows/build-manager-image.yml
Due: none

run all needed workflows on the branch prometheus_fips_image
  .github/workflows/build-directory-size-reporter-image.yml
  .github/workflows/build-sample-app-image.yml
  .github/workflows/build-self-monitor-image.yml
  .github/workflows/build-stdout-log-generator-image.yaml
  .github/workflows/gardener-integration.yml
  .github/workflows/pr-all-checks-passed.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-upgrade.yml
Due: none

chore: run all the needed workflows for the branch prometheus_fips_image (#2984)
  .github/workflows/build-directory-size-reporter-image.yml
  .github/workflows/build-manager-image.yml
  .github/workflows/build-sample-app-image.yml
  .github/workflows/build-self-monitor-image.yml
  .github/workflows/build-stdout-log-generator-image.yaml
  .github/workflows/gardener-integration.yml
  .github/workflows/pr-all-checks-passed.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-github-checks.yml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-upgrade.yml
Due: none

Add github summary of images
  .github/template/test-summary/action.yaml
  hack/summarize-images.sh
Due: none

add a step to Login to Google Artifact Registry
  .github/workflows/pr-integration.yml
Due: none

fix
  docs/contributor/releasing.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add step for Setup Google Cloud SDK
  .github/workflows/pr-integration.yml
Due: none

update release steps
  docs/contributor/arch/031-auditable-release-automation.md
  docs/contributor/assets/auditable-release-final.drawio.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update doc
  docs/contributor/arch/031-auditable-release-automation.md
  docs/contributor/assets/auditable-release-alternative.drawio.svg
  docs/contributor/assets/auditable-release-final.drawio.svg
  docs/contributor/assets/auditable-release.drawio.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

add new arch design
  docs/contributor/arch/031-central-otlp-gateway-controller-architecture.md
  docs/contributor/assets/031-arch-option5.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

changes
  docs/contributor/arch/031-central-otlp-gateway-controller-architecture.md
  docs/contributor/assets/031-arch-option2.svg
  docs/contributor/assets/031-arch-option3.svg
  docs/contributor/assets/031-arch-option4.svg
  docs/contributor/assets/031-arch-option5.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

include docker-pull-self-monitor-fips-image and k3d-import-self-monitor-fips-image in deploy targets
  .github/workflows/pr-integration.yml
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

run new steps only if fips mode should be enabled
  .github/workflows/pr-integration.yml
Due: none

adjust e2e job
  .github/workflows/pr-integration.yml
Due: none

adjust order of steps in jobs
  .github/workflows/pr-integration.yml
Due: none

add comments to to PR integration workflow
  .github/workflows/pr-integration.yml
Due: none

add documentation for development commands
  docs/contributor/development.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

few changes
  docs/contributor/arch/031-central-otlp-gateway-controller-architecture.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

intetionally fail one of the metrics tests
  test/e2e/metrics/shared/single_pipeline_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add a dummy change
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove branches filter
  .github/workflows/build-manager-image.yml
  .github/workflows/pr-integration.yml
Due: none

Revert "remove branches filter"
  .github/workflows/build-manager-image.yml
  .github/workflows/pr-integration.yml
Due: none

remove paths filter from PR integration
  .github/workflows/pr-integration.yml
Due: none

add dummy changes
  main.go
  test/e2e/metrics/shared/single_pipeline_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add types filter
  .github/workflows/pr-integration.yml
Due: none

adjust types filter
  .github/workflows/pr-integration.yml
Due: none

remove manager image env variable in workflows
  .github/template/test-setup/action.yaml
  .github/workflows/pr-upgrade.yml
Due: none

remove parsers cm
  internal/resources/fluentbit/resources.go
  test/e2e/logs/shared/resources_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove branches filter
  .github/workflows/pr-integration.yml
Due: none

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
