Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard

pull-telemetry-manager-governance:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-governance
    prow.k8s.io/pubsub.topic: prowjobs
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/incubator/milv:8649c2fb
      securityContext:
  ...

pull-telemetry-manager-e2e-test-metrics:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-metrics
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing-release:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing-release
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test-tracing:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test-tracing
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-e2e-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-e2e-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test-istio:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-manager-integration-test-istio
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

pull-telemetry-manager-integration-test:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/kyma-integration:v20230119-993f0759
      command:
      - /bin/bash
      args:
      - -c
      - 'service docker start
  
  ...

pull-telemetry-test-matchers:
  optional: false
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-telemetry-test-matchers
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
  ...

fix step name in github action
  .github/workflows/push-release.yml
Due: none

metric pipeline status check refactoring
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/telemetry/metric_components_checker.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

capitalize github action name
  .github/workflows/push-release.yml
Due: none

Apply suggestions from code review
  docs/contributor/releasing.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

capitalize all occurences of "GitHub"
  docs/contributor/releasing.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix failing unit tests
  internal/reconciler/metricpipeline/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Update directory-size-exporter to use Go 1.21.5
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Remove ModuleTemplate from releases (#599)
  .github/template/prepare-test/action.yaml
  .github/workflows/pull-module.yml
  .github/workflows/push-release.yml
  .gitignore
  .goreleaser.yaml
  docs/contributor/installation.md
  docs/contributor/releasing.md
  hack/release.sh
  module-config-dev.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update prerequisites, minor language editing
  docs/user/integration/sap-cloud-logging/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: Update directory-size-exporter to use Go 1.21.5 (#605)
  main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adjust sidebar files
  docs/user/_sidebar.md
  docs/user/integration/_sidebar.md
  docs/user/resources/_sidebar.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

rename Back link
  docs/user/_sidebar.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

FEAT: Overrides WIP
  test/e2e/overrides_test.go
  test/testkit/kyma/overrides/overrides.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

check nil pointer for agent status
  internal/reconciler/metricpipeline/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update metric pipeline status unit tests
  internal/reconciler/metricpipeline/status_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: Reflect metric agent status in metric pipeline (#598)
  controllers/telemetry/suite_test.go
  docs/user/resources/01-telemetry.md
  internal/conditions/conditions.go
  internal/reconciler/metricpipeline/mocks/daemonset_prober.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/metricpipeline/status_test.go
  internal/reconciler/telemetry/metric_components_checker.go
  internal/reconciler/telemetry/metric_components_checker_test.go
  internal/reconciler/telemetry/status_test.go
  main.go
  test/e2e/metrics_multi_pipeline_test.go
  test/e2e/metrics_secret_rotation_test.go
  test/testkit/verifiers/metrics.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: Describe multi-tail plugin Fluent Bit setup
  docs/user/02-logs.md
  docs/user/assets/logs-flow.drawio.svg
  docs/user/assets/logs-pipelines.drawio.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Fix indentation
  docs/user/02-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: Describe multi-tail plugin Fluent Bit setup (#608)
  docs/user/02-logs.md
  docs/user/assets/logs-flow.drawio.svg
  docs/user/assets/logs-pipelines.drawio.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

adjusting the sidebar
  docs/user/_sidebar.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix value of github token
  .github/workflows/push-release.yml
Due: none

use lightweight tags instead of annotated tags
  docs/contributor/releasing.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: Add minimal resource usage
  docs/user/README.md
  docs/user/gateways.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix
  docs/user/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Autofix
  .golangci.yaml
  Makefile
  controllers/operator/suite_test.go
  controllers/operator/telemetry_controller_test.go
  controllers/telemetry/logparser_controller_test.go
  controllers/telemetry/logpipeline_controller_test.go
  controllers/telemetry/metricpipeline_controller_test.go
  controllers/telemetry/suite_test.go
  controllers/telemetry/tracepipeline_controller_test.go
  test/e2e/manager_test.go
  test/e2e/suite_test.go
  test/e2e/telemetry_test.go
  test/testkit/matchers/log/log_matcher_test.go
  test/testkit/matchers/metric/metric_matchers_test.go
  test/testkit/matchers/trace/trace_matchers_test.go
  webhook/logpipeline/webhook_suite_test.go
  webhook/logpipeline/webhook_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Remove exclude
  .golangci.yaml
  test/e2e/logs_annotation_test.go
  test/e2e/logs_basic_test.go
  test/e2e/logs_custom_output_test.go
  test/e2e/logs_dedot_test.go
  test/e2e/logs_exclude_container_test.go
  test/e2e/logs_label_test.go
  test/e2e/logs_mtls_test.go
  test/e2e/logs_parser_test.go
  test/e2e/logs_webhook_test.go
  test/e2e/metrics_basic_test.go
  test/e2e/metrics_secret_rotation_test.go
  test/e2e/metrics_service_name_test.go
  test/e2e/traces_basic_test.go
  test/e2e/traces_mtls_test.go
  test/e2e/traces_multi_pipeline_test.go
  test/e2e/traces_noisy_span_filter_test.go
  test/e2e/traces_secret_rotation_test.go
  test/e2e/traces_service_name_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Remove dupl excludes
  .golangci.yaml
Due: none

Rearrange exclude rules
  .golangci.yaml
Due: none

Add stylecheck whitelist
  .golangci.yaml
Due: none

Add a comment
  .golangci.yaml
Due: none

chore: Fix GitHub Release workflow (#610)
  .github/workflows/push-release.yml
  docs/contributor/releasing.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: Improve import linting (#612)
  .golangci.yaml
  Makefile
  controllers/operator/suite_test.go
  controllers/operator/telemetry_controller_test.go
  controllers/telemetry/logparser_controller_test.go
  controllers/telemetry/logpipeline_controller_test.go
  controllers/telemetry/metricpipeline_controller_test.go
  controllers/telemetry/suite_test.go
  controllers/telemetry/tracepipeline_controller_test.go
  test/e2e/logs_annotation_test.go
  test/e2e/logs_basic_test.go
  test/e2e/logs_custom_output_test.go
  test/e2e/logs_dedot_test.go
  test/e2e/logs_exclude_container_test.go
  test/e2e/logs_label_test.go
  test/e2e/logs_mtls_test.go
  test/e2e/logs_parser_test.go
  test/e2e/logs_webhook_test.go
  test/e2e/manager_test.go
  test/e2e/metrics_basic_test.go
  test/e2e/metrics_secret_rotation_test.go
  test/e2e/metrics_service_name_test.go
  test/e2e/suite_test.go
  test/e2e/telemetry_test.go
  test/e2e/traces_basic_test.go
  test/e2e/traces_mtls_test.go
  test/e2e/traces_multi_pipeline_test.go
  test/e2e/traces_noisy_span_filter_test.go
  test/e2e/traces_secret_rotation_test.go
  test/e2e/traces_service_name_test.go
  test/testkit/matchers/log/log_matcher_test.go
  test/testkit/matchers/metric/metric_matchers_test.go
  test/testkit/matchers/trace/trace_matchers_test.go
  webhook/logpipeline/webhook_suite_test.go
  webhook/logpipeline/webhook_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Use dot import for gomega matchers
  test/testkit/verifiers/daemonset.go
  test/testkit/verifiers/deployment.go
  test/testkit/verifiers/logs.go
  test/testkit/verifiers/metrics.go
  test/testkit/verifiers/monitoring.go
  test/testkit/verifiers/objects.go
  test/testkit/verifiers/telemetry.go
  test/testkit/verifiers/traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

TEST: E2E tests for overrides WIP
  test/e2e/overrides_test.go
  test/testkit/kyma/overrides/overrides.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: Use dot import for gomega matchers in testkit (#613)
  test/testkit/verifiers/daemonset.go
  test/testkit/verifiers/deployment.go
  test/testkit/verifiers/logs.go
  test/testkit/verifiers/metrics.go
  test/testkit/verifiers/monitoring.go
  test/testkit/verifiers/objects.go
  test/testkit/verifiers/telemetry.go
  test/testkit/verifiers/traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

avoid adding remote origin in release script
  hack/release.sh
Due: none

remove kyma cli dependency for release target
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

fix for flaky upgrade test
  hack/wait-for-namespaces.sh
Due: none

TEST: e2e tests for overrides WIP
  test/e2e/overrides_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
