Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

docs: add ADR metric pipeline config refactoring (#2286)
  docs/contributor/arch/021-switch-metric-pipeline-gateway-to-agent.md
  docs/contributor/assets/metric-agent-pipelines.png
  docs/contributor/assets/metric-enrichment.png
  docs/contributor/assets/metric-gateway-pipelines.png
  docs/contributor/assets/sample-metric-agent-config.yaml
  docs/contributor/assets/sample-metric-gateway-config.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update workflow for building sample-app image
  .github/workflows/build-sample-app-image.yml
Due: none

fix typo in go.mod
  dependencies/sample-app/go.mod
Due: none

remove deployment yaml files from dependencies dir
  dependencies/sample-app/deployment/deployment-prometheus.yaml
  dependencies/sample-app/deployment/deployment.yaml
Due: none

keep the existing sample-app
  docs/user/integration/sample-app/Dockerfile
  docs/user/integration/sample-app/Gopkg.lock
  docs/user/integration/sample-app/Gopkg.toml
  docs/user/integration/sample-app/Makefile
  docs/user/integration/sample-app/README.md
  docs/user/integration/sample-app/deployment/deployment-prometheus.yaml
  docs/user/integration/sample-app/deployment/deployment.yaml
  docs/user/integration/sample-app/go.mod
  docs/user/integration/sample-app/go.sum
  docs/user/integration/sample-app/main.go
  docs/user/integration/sample-app/setup.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: copy over sample-app to dependencies dir (#2297)
  .github/workflows/build-sample-app-image.yml
  dependencies/sample-app/Dockerfile
  dependencies/sample-app/Gopkg.lock
  dependencies/sample-app/Gopkg.toml
  dependencies/sample-app/Makefile
  dependencies/sample-app/go.mod
  dependencies/sample-app/go.sum
  dependencies/sample-app/main.go
  dependencies/sample-app/setup.go
  docs/user/integration/sample-app/README.md
  renovate.json
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

delete sample-app from docs dir
  docs/user/integration/sample-app/Dockerfile
  docs/user/integration/sample-app/Gopkg.lock
  docs/user/integration/sample-app/Gopkg.toml
  docs/user/integration/sample-app/Makefile
  docs/user/integration/sample-app/go.mod
  docs/user/integration/sample-app/go.sum
  docs/user/integration/sample-app/main.go
  docs/user/integration/sample-app/setup.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update links in integration guide
  docs/user/integration/sample-app/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

docs: provide new deep links for CloudLogging integration
  docs/user/integration/sap-cloud-logging/README.md
  docs/user/integration/sap-cloud-logging/kyma-dashboard-configmap.yaml
  docs/user/integration/sap-cloud-logging/kyma-dashboard-http-configmap.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Fix "Expect(t," error
  test/e2e-migrated/logs/shared/check_metrics_endpoint_test.go
  test/e2e-migrated/logs/shared/endpoint_invalid_test.go
  test/e2e-migrated/logs/shared/extract_labels_test.go
  test/e2e-migrated/logs/shared/multi_pipeline_broken_test.go
  test/e2e-migrated/logs/shared/multi_pipeline_fanout_test.go
  test/e2e-migrated/logs/shared/multi_pipeline_max_pipeline_test.go
  test/e2e-migrated/logs/shared/resources_test.go
  test/e2e-migrated/logs/shared/secret_rotation_test.go
  test/e2e-migrated/logs/shared/single_pipeline_test.go
  test/e2e-migrated/logs/shared/single_pipeline_v1beta1_test.go
  test/e2e-migrated/metrics/extract_labels_test.go
  test/e2e-migrated/metrics/multi_pipeline_max_pipeline_test.go
  test/e2e-migrated/metrics/resources_test.go
  test/e2e-migrated/metrics/secret_rotation_test.go
  test/e2e-migrated/traces/extract_labels_test.go
  test/e2e-migrated/traces/multi_pipeline_max_pipeline_test.go
  test/e2e-migrated/traces/resources_test.go
  test/e2e-migrated/traces/secret_rotation_test.go
  test/e2e-migrated/upgrade/logs_upgrade_test.go
  test/e2e-migrated/upgrade/metrics_upgrade_test.go
  test/e2e-migrated/upgrade/traces_upgrade_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: delete sample-app from docs dir (#2299)
  docs/user/integration/sample-app/Dockerfile
  docs/user/integration/sample-app/Gopkg.lock
  docs/user/integration/sample-app/Gopkg.toml
  docs/user/integration/sample-app/Makefile
  docs/user/integration/sample-app/README.md
  docs/user/integration/sample-app/go.mod
  docs/user/integration/sample-app/go.sum
  docs/user/integration/sample-app/main.go
  docs/user/integration/sample-app/setup.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Ensure BackendReachable helper function is used everywhere for checking backend reachability
  test/e2e-migrated/metrics/kyma_input_test.go
  test/e2e/misc/overrides_test.go
  test/e2e/misc/telemetry_logs_analysis_test.go
  test/integration/istio/access_logs_otlp_test.go
  test/integration/istio/access_logs_test.go
  test/integration/istio/logs_agent_self_monitor_backpressure_test.go
  test/integration/istio/logs_agent_self_monitor_outage_test.go
  test/integration/istio/logs_fluentbit_self_monitor_backpressure_test.go
  test/integration/istio/logs_fluentbit_self_monitor_outage_test.go
  test/integration/istio/logs_gateway_self_monitor_backpressure_test.go
  test/integration/istio/logs_gateway_self_monitor_outage_test.go
  test/integration/istio/metrics_istio_envoy_multi_pipeline_test.go
  test/integration/istio/metrics_istio_input_envoy_metrics_test.go
  test/integration/istio/metrics_istio_input_test.go
  test/integration/istio/metrics_otlp_input_test.go
  test/integration/istio/metrics_prometheus_input_test.go
  test/integration/istio/metrics_self_monitor_backpressure_test.go
  test/integration/istio/metrics_self_monitor_outage_test.go
  test/integration/istio/traces_self_monitor_backpressure_test.go
  test/integration/istio/traces_self_monitor_outage_test.go
  test/integration/istio/traces_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add e2e test
  test/e2e-migrated/metrics/runtime_input_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

apply tw suggestions
  apis/operator/v1alpha1/telemetry_types.go
  config/crd/bases/operator.kyma-project.io_telemetries.yaml
  config/development/crd/bases/operator.kyma-project.io_telemetries.yaml
  docs/user/resources/01-telemetry.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: document api changes to add cumulative to delta support in metric pipeline
  docs/contributor/arch/022-dynatrace-cummulative-to-delta-support.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Move log agent and gateway selfmon tests out of the experimental GHA job and delete it
  .github/workflows/pr-integration.yml
Due: none

use eventually to avoid object has been modified errors
  test/e2e-migrated/metrics/custom_cluster_name_test.go
  test/e2e-migrated/metrics/extract_labels_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Don't check for backend readiness/reachability in selfmon outage scenarios
  test/integration/istio/logs_agent_self_monitor_outage_test.go
  test/integration/istio/logs_fluentbit_self_monitor_outage_test.go
  test/integration/istio/logs_gateway_self_monitor_outage_test.go
  test/integration/istio/metrics_self_monitor_outage_test.go
  test/integration/istio/traces_self_monitor_outage_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update 022-dynatrace-cummulative-to-delta-support.md
  docs/contributor/arch/022-dynatrace-cummulative-to-delta-support.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Ensure consistency between self_monitor_healthy test cases
  test/e2e-migrated/logs/shared/self_monitor_healthy_test.go
  test/e2e-migrated/metrics/self_monitor_healthy_test.go
  test/e2e-migrated/traces/self_monitor_healthy_test.go
  test/testkit/assert/logs.go
  test/testkit/assert/metrics.go
  test/testkit/assert/telemetry.go
  test/testkit/assert/traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix: assert backend reachability using helper function everywhere (#2300)
  .github/workflows/pr-integration.yml
  test/e2e-migrated/logs/shared/self_monitor_healthy_test.go
  test/e2e-migrated/metrics/kyma_input_test.go
  test/e2e-migrated/metrics/self_monitor_healthy_test.go
  test/e2e-migrated/traces/self_monitor_healthy_test.go
  test/e2e/misc/overrides_test.go
  test/e2e/misc/telemetry_logs_analysis_test.go
  test/integration/istio/access_logs_otlp_test.go
  test/integration/istio/access_logs_test.go
  test/integration/istio/logs_agent_self_monitor_backpressure_test.go
  test/integration/istio/logs_agent_self_monitor_outage_test.go
  test/integration/istio/logs_fluentbit_self_monitor_backpressure_test.go
  test/integration/istio/logs_fluentbit_self_monitor_outage_test.go
  test/integration/istio/logs_gateway_self_monitor_backpressure_test.go
  test/integration/istio/logs_gateway_self_monitor_outage_test.go
  test/integration/istio/metrics_istio_envoy_multi_pipeline_test.go
  test/integration/istio/metrics_istio_input_envoy_metrics_test.go
  test/integration/istio/metrics_istio_input_test.go
  test/integration/istio/metrics_otlp_input_test.go
  test/integration/istio/metrics_prometheus_input_test.go
  test/integration/istio/metrics_self_monitor_backpressure_test.go
  test/integration/istio/metrics_self_monitor_outage_test.go
  test/integration/istio/traces_self_monitor_backpressure_test.go
  test/integration/istio/traces_self_monitor_outage_test.go
  test/integration/istio/traces_test.go
  test/testkit/assert/logs.go
  test/testkit/assert/metrics.go
  test/testkit/assert/telemetry.go
  test/testkit/assert/traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

lint-fix
  test/e2e-migrated/metrics/custom_cluster_name_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: Bump OTel Collector to 0.130.0
  .env
  internal/images/images.go
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add eventually to update telemetry resource
  test/e2e-migrated/metrics/custom_cluster_name_test.go
  test/e2e-migrated/metrics/extract_labels_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

make lint
  test/e2e-migrated/metrics/custom_cluster_name_test.go
  test/e2e-migrated/metrics/extract_labels_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add stdoutloggen in testkit
  test/testkit/mocks/stdoutloggen/stdoutloggen.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use stdoutloggen in TestSeverityParser
  test/e2e-migrated/logs/agent/severity_parser_test.go
  test/testkit/mocks/stdoutloggen/stdoutloggen.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use stdoutloggen in TestTraceParser
  test/e2e-migrated/logs/agent/severity_parser_test.go
  test/e2e-migrated/logs/agent/trace_parser_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove NewDeploymentWithName from stdoutloggen
  test/e2e-migrated/logs/agent/severity_parser_test.go
  test/e2e-migrated/logs/agent/trace_parser_test.go
  test/testkit/mocks/stdoutloggen/stdoutloggen.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Migrate experimental e2e tests under the same label and GHA job
  .github/workflows/pr-integration.yml
  test/e2e-migrated/logs/shared/single_pipeline_v1beta1_test.go
  test/e2e-migrated/metrics/single_pipeline_v1beta1_test.go
  test/e2e-migrated/traces/single_pipeline_v1beta1_test.go
  test/e2e/selfmonitor/suite_test.go
  test/e2e/selfmonitor/traces_healthy_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Solve resource names conflicts in experimental e2e tests
  test/e2e-migrated/logs/shared/single_pipeline_v1beta1_test.go
  test/e2e-migrated/metrics/single_pipeline_v1beta1_test.go
  test/e2e-migrated/traces/single_pipeline_v1beta1_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Solve resource names conflicts in experimental e2e tests
  test/e2e-migrated/logs/shared/single_pipeline_v1beta1_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Apply suggestions from code review
  apis/operator/v1alpha1/telemetry_types.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

make generate
  config/crd/bases/operator.kyma-project.io_telemetries.yaml
  config/development/crd/bases/operator.kyma-project.io_telemetries.yaml
  docs/user/resources/01-telemetry.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint

docs: update README
  docs/user/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update Features section
  docs/user/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update diagram
  docs/user/assets/telemetry-arch.drawio.svg
Due: none

docs: update README to reflect OTLP as common standard (#2305)
  docs/user/README.md
  docs/user/assets/telemetry-arch.drawio.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint
