Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

Fix formatting in filter-logs.md (#2741)
  docs/user/filter-and-process/filter-logs.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

feat: update to fluent-bit 4.2.0 (#2743)
  .env
  docs/contributor/benchmarks/results/logs.md
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint

Refactor porcessor: drop-service-name
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricagent/testdata/http-with-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/http-without-custom-path.yaml
  internal/otelcollector/config/metricagent/testdata/istio-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/istio-envoy.yaml
  internal/otelcollector/config/metricagent/testdata/istio-installed-and-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-installed-and-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/istio-not-installed-and-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-not-installed-and-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/istio-only.yaml
  internal/otelcollector/config/metricagent/testdata/multiple-inputs-mixed.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-diagnostic.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/prometheus-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-namespace-filters.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-only.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-all-enabled.yaml
  internal/otelcollector/config/metricagent/testdata/runtime-resources-some-disabled.yaml
  internal/otelcollector/config/metricagent/testdata/setup-comprehensive.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-filters.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-transform-filter.yaml
  internal/otelcollector/config/metricagent/testdata/user-defined-transforms.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Redo values.yaml
  helm/values.yaml
Due: none

Remove resource processor definitions and mentions
  docs/contributor/otel-bump-guide.md
  internal/otelcollector/config/common/types.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update .env with 0.141.0-main otel image
  .env
Due: none

make generate
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add load tests results
  docs/contributor/benchmarks/results/metrics.md
  docs/contributor/benchmarks/results/traces.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

feat: bump OTel image to version 0.141.0 (#2740)
  .env
  docs/contributor/benchmarks/results/metrics.md
  docs/contributor/benchmarks/results/traces.md
  go.mod
  go.sum
  helm/values.yaml
  sec-scanners-config.yaml
  test/testkit/images.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

remove debug logs
  test/e2e/metrics/agent/runtime_input_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

adjust test and lint
  webhook/utils/transformfilter.go
  webhook/utils/transformfilter_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

change validation rules
  apis/telemetry/v1alpha1/shared_types.go
  apis/telemetry/v1beta1/shared_types.go
  helm/charts/default/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_tracepipelines.yaml
  internal/utils/test/pipeline_opts.go
  test/e2e/logs/misc/reject_creation_test.go
  test/e2e/metrics/misc/reject_creation_test.go
  test/e2e/metrics/shared/oauth2_test.go
  test/e2e/traces/reject_creation_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update excludes
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

Update excludes list in the config generator.
  dependencies/populateimages/main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

regenerated files
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

Implement e2e tests for the empty value attributes edge-case
  test/e2e/logs/gateway/empty_enrichment_values_test.go
  test/e2e/logs/gateway/main_test.go
  test/e2e/metrics/gateway/empty_enrichment_values_test.go
  test/e2e/traces/empty_enrichment_values_test.go
  test/testkit/mocks/telemetrygen/telemetrygen.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: update excludes for internal/tools and dependencies/sample-app (#2745)
  dependencies/populateimages/main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

added perf results
  docs/contributor/benchmarks/results/self-monitor.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

more validation for oauth
  apis/telemetry/v1alpha1/shared_types.go
  helm/charts/default/templates/telemetry.kyma-project.io_logpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_metricpipelines.yaml
  helm/charts/default/templates/telemetry.kyma-project.io_tracepipelines.yaml
  test/e2e/logs/misc/reject_creation_test.go
  test/e2e/metrics/misc/reject_creation_test.go
  test/e2e/traces/reject_creation_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

lint-fix
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

apply review comments
  docs/contributor/pocs/ginkgo-to-go-testing/_service_name_enrichment_test.go
  test/testkit/k8s/objects.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

review comments applied
  test/testkit/assert/resources_workload.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Adjust e2e tests
  test/e2e/logs/gateway/empty_enrichment_values_test.go
  test/e2e/metrics/gateway/empty_enrichment_values_test.go
  test/e2e/traces/empty_enrichment_values_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fixed table
  docs/contributor/benchmarks/results/self-monitor.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

WIP
  .github/workflows/pr-integration.yml
Due: none

chore: run scheduled e2e tests
  .github/template/test-setup/action.yaml
  .github/workflows/pr-integration.yml
Due: none

Attempt to fix test
  .github/workflows/pr-integration.yml
Due: none

Inject manager input as input
  .github/template/test-setup/action.yaml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-upgrade.yml
Due: none

chore: update self-monitor to prometheus 3.8.0 (#2744)
  .env
  docs/contributor/benchmarks/results/self-monitor.md
  helm/values.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint

Add print statement
  .github/workflows/pr-integration.yml
Due: none

Fix
  .github/workflows/pr-integration.yml
Due: none

Fix upgrade test
  .github/template/test-setup/action.yaml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-upgrade.yml
Due: none

Fix upgrade test
  .github/template/test-setup/action.yaml
Due: none

Fix
  .github/template/test-setup/action.yaml
Due: none

e2e tests fix WIP
  test/e2e/logs/gateway/empty_enrichment_values_test.go
  test/e2e/metrics/gateway/empty_enrichment_values_test.go
  test/e2e/traces/empty_enrichment_values_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

e2e tests fix
  test/e2e/logs/gateway/empty_enrichment_values_test.go
  test/e2e/metrics/gateway/empty_enrichment_values_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Remove debug
  .github/workflows/pr-integration.yml
Due: none

chore: run scheduled e2e tests (#2746)
  .github/template/test-setup/action.yaml
  .github/workflows/pr-integration.yml
  .github/workflows/pr-upgrade.yml
Due: none

e2e tests fix
  test/e2e/metrics/gateway/empty_enrichment_values_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test
