Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

fix: increase memory limit for selfmonitor (#3338)
  internal/resources/selfmonitor/resources.go
  internal/resources/selfmonitor/testdata/self-monitor.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Add pipeline_type "logpipeline" to fluentbit matching relabel rule
  internal/selfmonitor/config/config_builder.go
  internal/selfmonitor/config/rules.go
  internal/selfmonitor/config/rules_test.go
  internal/selfmonitor/config/testdata/config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Improve PipelineRef
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/common/env_vars.go
  internal/otelcollector/config/common/oauth2extension_config_builder_test.go
  internal/otelcollector/config/common/otlpexporter_config_builder.go
  internal/otelcollector/config/common/otlpexporter_config_builder_test.go
  internal/otelcollector/config/common/pipeline_ref.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/otlpgateway/config_builder_logs.go
  internal/otelcollector/config/otlpgateway/config_builder_metrics.go
  internal/otelcollector/config/otlpgateway/config_builder_traces.go
  internal/selfmonitor/config/testdata/config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Remove UserDefined helper functions from otlpexporter config builder file
  internal/otelcollector/config/common/env_vars.go
  internal/otelcollector/config/common/otlpexporter_config_builder.go
  internal/otelcollector/config/common/pipeline_ref.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/otlpgateway/config_builder_logs.go
  internal/otelcollector/config/otlpgateway/config_builder_metrics.go
  internal/otelcollector/config/otlpgateway/config_builder_traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Rename ExporterID to OTLPExporterID
  internal/otelcollector/config/common/otlpexporter_config_builder.go
  internal/otelcollector/config/common/otlpexporter_config_builder_test.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/otlpgateway/config_builder_logs.go
  internal/otelcollector/config/otlpgateway/config_builder_metrics.go
  internal/otelcollector/config/otlpgateway/config_builder_traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: ignore fault-backend in sec scanners (#3321)
  dependencies/populateimages/main.go
  sec-scanners-config.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Clean-up namespace filter component ID naming logic
  internal/otelcollector/config/common/component_ids.go
  internal/otelcollector/config/common/constants.go
  internal/otelcollector/config/otlpgateway/config_builder_logs.go
  internal/otelcollector/config/otlpgateway/config_builder_metrics.go
  internal/otelcollector/config/otlpgateway/testdata/log-namespace-excluded.yaml
  internal/otelcollector/config/otlpgateway/testdata/log-namespace-included.yaml
  internal/otelcollector/config/otlpgateway/testdata/metric-comprehensive.yaml
  internal/otelcollector/config/otlpgateway/testdata/metric-namespace-filters.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Further clarify component IDs
  internal/otelcollector/config/common/component_ids.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update diagram
  docs/user/assets/networkpolicies.drawio.svg
Due: none

Improve component IDs code structure
  internal/otelcollector/config/common/component_ids.go
  internal/otelcollector/config/common/oauth2extension_config_builder.go
  internal/otelcollector/config/common/otlpexporter_config_builder.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/otlpgateway/config_builder_logs.go
  internal/otelcollector/config/otlpgateway/config_builder_metrics.go
  internal/otelcollector/config/otlpgateway/config_builder_traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Improve ComponentID comments
  internal/otelcollector/config/common/component_ids.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Refactor ComponentIDOTLPExporter
  internal/otelcollector/config/common/component_ids.go
  internal/otelcollector/config/common/otlpexporter_config_builder.go
  internal/otelcollector/config/common/otlpexporter_config_builder_test.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/otlpgateway/config_builder_logs.go
  internal/otelcollector/config/otlpgateway/config_builder_metrics.go
  internal/otelcollector/config/otlpgateway/config_builder_traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Refactor ComponentIDOAuth2Extension
  internal/otelcollector/config/common/component_ids.go
  internal/otelcollector/config/common/oauth2extension_config_builder.go
  internal/otelcollector/config/common/oauth2extension_config_builder_test.go
  internal/otelcollector/config/common/otlpexporter_config_builder.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/otlpgateway/config_builder_logs.go
  internal/otelcollector/config/otlpgateway/config_builder_metrics.go
  internal/otelcollector/config/otlpgateway/config_builder_traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

numbering and white bg
  docs/user/architecture/network-policy.md
  docs/user/assets/networkpolicies.drawio.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Refactor ComponentID functions for user-defined transforms and filters
  internal/otelcollector/config/common/component_ids.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/otlpgateway/config_builder_logs.go
  internal/otelcollector/config/otlpgateway/config_builder_metrics.go
  internal/otelcollector/config/otlpgateway/config_builder_traces.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix, release workflow does not trigger release image build
  .github/workflows/build-manager-image.yml
  .github/workflows/pr-all-checks-passed.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-helm-checks.yml
  .github/workflows/pr-integration.yml
  .github/workflows/release.yml
Due: none

feat: update pipeline health docs with new metric attributes (#3330)
  docs/user/monitor-pipeline-health.md
  test/e2e/metrics/gateway/kyma_input_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Small single_pipeline_test fix after merge
  test/e2e/logs/shared/single_pipeline_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix .testcoverage after merge
  .testcoverage.yml
Due: none

Rename telemetry-otlp-gateway service to telemetry-otlp
  docs/user/architecture/README.md
  internal/resources/names/names.go
  internal/resources/otelcollector/testdata/otlp-gateway-fips-enabled.yaml
  internal/resources/otelcollector/testdata/otlp-gateway-istio.yaml
  internal/resources/otelcollector/testdata/otlp-gateway.yaml
  test/testkit/mocks/telemetrygen/telemetrygen.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix selfmonitor helpers after merge
  test/selfmonitor/helpers.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

revert pull_request_target changes
  .github/workflows/pr-all-checks-passed.yml
  .github/workflows/pr-code-checks.yml
  .github/workflows/pr-docu-checks.yml
  .github/workflows/pr-helm-checks.yml
  .github/workflows/pr-integration.yml
Due: none

Move OTLPGateway pipeline coordination config logic to dedicated package
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/otlpgateway/reconciler.go
  internal/reconciler/otlpgateway/reconciler_test.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/resources/coordinationconfig/otlp_gateway.go
  internal/resources/coordinationconfig/otlp_gateway_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Ensure "coordination ConfigMap" name consistency + rename AddPipelineReference function
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/resources/coordinationconfig/otlp_gateway.go
  internal/resources/coordinationconfig/otlp_gateway_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix UT coverage
  .testcoverage.yml
  internal/resources/coordinationconfig/otlp_gateway_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Rename OTLPGatewayPipelinesSyncConfigMap to OTLPGatewayCoordinationConfigMap
  controllers/telemetry/otlpgateway_controller.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/otlpgateway/reconciler.go
  internal/reconciler/otlpgateway/reconciler_test.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/resources/coordinationconfig/otlp_gateway.go
  internal/resources/coordinationconfig/otlp_gateway_test.go
  internal/resources/names/names.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Adjust architecture docs
  docs/user/architecture/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: rename OTLPGateway service + move otlp_gateway_config.go + misc (#3348)
  .testcoverage.yml
  controllers/telemetry/otlpgateway_controller.go
  docs/user/architecture/README.md
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/logpipeline/reconciler.go
  internal/reconciler/logpipeline/reconciler_test.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/otlpgateway/reconciler.go
  internal/reconciler/otlpgateway/reconciler_test.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler_test.go
  internal/resources/coordinationconfig/otlp_gateway.go
  internal/resources/coordinationconfig/otlp_gateway_test.go
  internal/resources/names/names.go
  internal/resources/otelcollector/testdata/otlp-gateway-fips-enabled.yaml
  internal/resources/otelcollector/testdata/otlp-gateway-istio.yaml
  internal/resources/otelcollector/testdata/otlp-gateway.yaml
  test/testkit/mocks/telemetrygen/telemetrygen.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

switch from GITHUB_TOKEN to WORKFLOW_PAT
  .github/workflows/build-manager-image.yml
  .github/workflows/release.yml
Due: none

adjust for otlp gateway
  docs/user/architecture/network-policy.md
  docs/user/assets/networkpolicies.drawio.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Apply docs suggestions from code review
  docs/user/architecture/README.md
  docs/user/architecture/logs-architecture.md
  docs/user/architecture/metrics-architecture.md
  docs/user/architecture/traces-architecture.md
  docs/user/collecting-logs/README.md
  docs/user/collecting-metrics/README.md
  docs/user/collecting-traces/README.md
  docs/user/integration/dynatrace/README.md
  docs/user/integration/jaeger/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Implement docs review comments
  docs/user/architecture/README.md
  docs/user/architecture/logs-architecture.md
  docs/user/architecture/traces-architecture.md
  docs/user/collecting-logs/README.md
  docs/user/collecting-traces/README.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Implement docs review comments
  docs/user/architecture/README.md
  docs/user/architecture/logs-architecture.md
  docs/user/architecture/metrics-architecture.md
  docs/user/architecture/traces-architecture.md
  docs/user/collecting-logs/README.md
  docs/user/collecting-metrics/README.md
  docs/user/collecting-traces/README.md
  docs/user/troubleshooting.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

chore: fix release workflow does not trigger release image build (#3347)
  .github/workflows/release.yml
Due: none

fix: skip dependabot scanning docs folder
  .github/dependabot.yml
Due: none

Apply suggestions from code review
  docs/user/architecture/istio-integration.md
  docs/user/architecture/logs-architecture.md
  docs/user/architecture/metrics-architecture.md
  docs/user/architecture/traces-architecture.md
  docs/user/collecting-logs/README.md
  docs/user/collecting-metrics/README.md
  docs/user/collecting-traces/README.md
  docs/user/troubleshooting.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

Implement docs review comments
  docs/user/troubleshooting.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint
