Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing-release: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test-tracing: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test-istio: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.*\.md$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)

Revert weird LLM code
  internal/resources/selfmonitor/resources.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

move traces resources test to istio pkg
  test/integration/istio/traces_resources_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

refactoring
  helm/templates/manager-rbac.yaml
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/gateway_test.go
  internal/resources/otelcollector/testdata/log-gateway-daemonset-istio.yaml
  internal/resources/otelcollector/testdata/log-gateway-daemonset.yaml
  internal/resources/otelcollector/workload.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Implement review comments
  internal/otelcollector/config/common/component_builder.go
  internal/otelcollector/config/common/component_builder_test.go
  internal/otelcollector/config/common/processor_builders.go
  internal/otelcollector/config/common/types.go
  internal/otelcollector/config/logagent/config_builder.go
  internal/otelcollector/config/logagent/config_builder_test.go
  internal/otelcollector/config/logagent/testdata/service-enrichment-otel.yaml
  internal/otelcollector/config/loggateway/config_builder.go
  internal/otelcollector/config/loggateway/config_builder_test.go
  internal/otelcollector/config/loggateway/testdata/service-enrichment-otel.yaml
  internal/otelcollector/config/metricagent/config_builder.go
  internal/otelcollector/config/metricagent/config_builder_test.go
  internal/otelcollector/config/metricagent/testdata/service-enrichment-otel.yaml
  internal/otelcollector/config/metricgateway/config_builder.go
  internal/otelcollector/config/metricgateway/config_builder_test.go
  internal/otelcollector/config/metricgateway/testdata/service-enrichment-otel.yaml
  internal/otelcollector/config/tracegateway/config_builder.go
  internal/otelcollector/config/tracegateway/config_builder_test.go
  internal/otelcollector/config/tracegateway/testdata/service-enrichment-otel.yaml
  test/e2e/logs/shared/service_enrichment_test.go
  test/testkit/suite/suite.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Update test/testkit/matchers/log/plog_utils.go
  test/testkit/matchers/log/plog_utils.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Remove unnecessary assertions
  internal/otelcollector/config/logagent/config_builder_test.go
  internal/otelcollector/config/loggateway/config_builder_test.go
  internal/otelcollector/config/metricagent/config_builder_test.go
  internal/otelcollector/config/metricgateway/config_builder_test.go
  internal/otelcollector/config/tracegateway/config_builder_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Simplify telemetryutils.Options
  internal/reconciler/logpipeline/fluentbit/reconciler.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/reconciler/tracepipeline/reconciler.go
  internal/utils/telemetry/utils.go
  internal/utils/telemetry/utils_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

test with 0.143.0 telemetrygen
  .env
Due: none

Fix bug
  internal/reconciler/logpipeline/fluentbit/status.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert test change
  internal/reconciler/logpipeline/fluentbit/validator_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add resources reconciliation test for metrics
  test/e2e/metrics/shared/resources_test.go
  test/integration/istio/metrics_resources_test.go
  test/integration/istio/traces_resources_test.go
  test/testkit/kyma/common_names.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add benchmark results
  docs/contributor/benchmarks/results/metrics.md
  docs/contributor/benchmarks/results/traces.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

telemetrygen batching enabled by default
  docs/contributor/benchmarks/results/metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update diagrams
  docs/contributor/arch/031-auditable-release-automation.md
  docs/contributor/assets/auditable-release-alternative.drawio.svg
  docs/contributor/assets/auditable-release.drawio.svg
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update diagrams
  docs/contributor/assets/auditable-release-alternative.drawio.svg
  docs/contributor/assets/auditable-release.drawio.svg
Due: none

Fix fluentbit reconciler problem
  internal/reconciler/logpipeline/fluentbit/reconciler.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert "test with 0.143.0 telemetrygen"
  .env
Due: none

disable batching metric
  hack/load-tests/metric-load-test-setup.yaml
Due: none

chore: harmonize dependent resource names (#2917)
  controllers/telemetry/logpipeline_controller.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/tracepipeline_controller.go
  internal/fluentbit/config/builder/input.go
  internal/otelcollector/config/logagent/filelog_receiver.go
  internal/overrides/handler.go
  internal/overrides/handler_test.go
  internal/reconciler/logpipeline/fluentbit/status.go
  internal/reconciler/logpipeline/otel/status.go
  internal/reconciler/metricpipeline/status.go
  internal/reconciler/telemetry/status.go
  internal/reconciler/telemetry/status_test.go
  internal/reconciler/tracepipeline/status.go
  internal/resources/fluentbit/resources.go
  internal/resources/names/names.go
  internal/resources/otelcollector/agent.go
  internal/resources/otelcollector/core.go
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/rbac.go
  internal/resources/selfmonitor/resources.go
  internal/selfmonitor/config/fluent_bit_rule_builder.go
  internal/selfmonitor/config/rules.go
  internal/utils/telemetry/utils.go
  main.go
  test/e2e/metrics/agent/service_name_test.go
  test/e2e/metrics/gateway/kyma_input_test.go
  test/e2e/metrics/shared/namespace_selector_test.go
  test/e2e/misc/overrides_test.go
  test/e2e/misc/telemetry_test.go
  test/testkit/k8s/objects/overrides.go
  test/testkit/kyma/common_names.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

docs: align API migration guide with Help Portal
  docs/user/migration-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

update
  docs/contributor/arch/031-auditable-release-automation.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

refactor 2
  controllers/telemetry/logpipeline_controller.go
  helm/values.yaml
  internal/reconciler/logpipeline/otel/interfaces.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/resources/otelcollector/core.go
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/otlp_gateway.go
  internal/resources/otelcollector/otlp_gateway_test.go
  internal/resources/otelcollector/testdata/otlp-gateway-istio.yaml
  internal/resources/otelcollector/testdata/otlp-gateway.yaml
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Use PreserveAndScheduleRestoreOfTelemetryResource in e2e tests
  test/e2e/logs/shared/service_enrichment_test.go
  test/e2e/metrics/agent/service_enrichment_test.go
  test/e2e/traces/service_enrichment_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

make lint
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/otlp_gateway.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update diagrams
  docs/user/assets/API_Promotion_Logs.png
  docs/user/assets/API_Promotion_Metrics.png
  docs/user/assets/logpipeline-migration.png
  docs/user/assets/metricpipeline-migration.png
  docs/user/migration-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

switch image order
  docs/user/migration-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

change the flag name
  Makefile
  controllers/telemetry/logpipeline_controller.go
  internal/config/global.go
  internal/featureflags/featureflag_string.go
  internal/featureflags/featureflags.go
  internal/reconciler/logpipeline/otel/reconciler.go
  internal/reconciler/logpipeline/otel/status.go
  internal/resources/otelcollector/gateway.go
  internal/resources/otelcollector/gateway_test.go
  internal/resources/otelcollector/otlp_gateway_test.go
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  internal/featureflags/featureflag_string.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix link
  docs/user/migration-guide.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

fix conflicts
  internal/reconciler/logpipeline/otel/status.go
  internal/resources/names/names.go
  internal/resources/otelcollector/otlp_gateway.go
  internal/resources/otelcollector/rbac.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

fix
  main.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

hmm try this
  hack/load-tests/metric-load-test-setup.yaml
Due: none

generate manifests
  helm/values.yaml
Due: none

Document otel strategy edge cases + fix e2e test
  docs/user/filter-and-process/automatic-data-enrichment.md
  test/e2e/metrics/agent/service_enrichment_test.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

chore: update k3d version in image cache
  external-images.yaml
Due: none

add info without telemetrygen batching
  docs/contributor/benchmarks/results/metrics.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-lint

enable batching
  hack/load-tests/metric-load-test-setup.yaml
Due: none

fixes
  internal/resources/common/resources.go
  internal/resources/otelcollector/workload.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add resources reconciliation test for logs
  controllers/telemetry/logpipeline_controller.go
  test/e2e/logs/shared/resources_test.go
  test/integration/istio/logs_resources_test.go
  test/integration/istio/metrics_resources_test.go
  test/integration/istio/traces_resources_test.go
  test/testkit/kyma/common_names.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test-tracing-release, pull-telemetry-manager-e2e-test-tracing, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test-istio, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test
