Repository kyma-project/telemetry-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test, pull-telemetry-manager-checkconfig, pull-telemetry-manager-pjconfigtest, pull-telemetry-manager-pjtester, pull-telemetry-manager-vpathguard

Path conditions:
  pull-telemetry-manager-governance: any of: milv.config.yaml|.md$
  pull-telemetry-manager-e2e-test-metrics: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-e2e-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-integration-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-test-matchers: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-upgrade-test: any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/
  pull-telemetry-manager-verify-module: (unless all of: ^docs/|\.md$|CODEOWNERS|\..*) or (any of: ^(go.mod|go.sum)$|.*\.go$|Dockerfile|Makefile|^config/|sec-scanners-config.yaml)
  pull-telemetry-manager-lint: (any of: ^(go.mod|go.sum)$|^(.*\.go$|.golangcilint.yaml)) or (any of: ^(.*\.go$|.golangcilint.yaml))
  pull-telemetry-manager-unit-test: (any of: ^(go.mod|go.sum)$|^.*\.go$|Makefile) or (any of: ^.*\.go$)
  pull-telemetry-manager-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-telemetry-manager-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-telemetry-manager-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-telemetry-manager-vpathguard: any of: ^(vpath/pjtester.yaml)

Update docs/user/04-metrics.md
  docs/user/04-metrics.md
Due: pull-telemetry-manager-governance

fix module-name in sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

fix module-name in sec-scanners-config.yaml (#391)
  sec-scanners-config.yaml
Due: pull-telemetry-manager-verify-module

test: Add missing log tests (#376)
  Makefile
  test/e2e/logging_annotation_test.go
  test/e2e/logging_dedot_test.go
  test/e2e/logging_exclude_container_test.go
  test/e2e/logging_fluentbit_metrics_test.go
  test/e2e/logging_label_test.go
  test/e2e/logging_log_delivery_test.go
  test/e2e/logging_parser_test.go
  test/e2e/logging_webhook_test.go
  test/e2e/metrics_prometheus_input_test.go
  test/e2e/metrics_runtime_input_test.go
  test/e2e/metrics_test.go
  test/e2e/telemetry_test.go
  test/e2e/tracing_test.go
  test/integration/istio/istio_tracing_test.go
  test/testkit/kyma/telemetry/log/pipeline.go
  test/testkit/matchers/log_matchers.go
  test/testkit/matchers/log_matchers_test.go
  test/testkit/mocks/backend.go
  test/testkit/mocks/backend/backend.go
  test/testkit/mocks/backend/config_map.go
  test/testkit/mocks/backend/deployment.go
  test/testkit/mocks/backend/external_service.go
  test/testkit/mocks/backend/fluentd/config_map.go
  test/testkit/mocks/backend_deployment.go
  test/testkit/mocks/logbackend_config_map.go
  test/testkit/mocks/logproducer/log_producer.go
  test/testkit/mocks/urlprovider/urlprovider.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

WIP: cleanup the new tests
  Makefile
  test/integration/istio/const.go
  test/integration/istio/istio_access_logs_test.go
  test/integration/istio/istio_metric_test.go
  test/integration/istio/istio_tracing_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Cleanup the tests
  test/integration/istio/istio_metric_test.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add watcher for CRD types
  controllers/telemetry/errors.go
  controllers/telemetry/metricpipeline_controller.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert the changes made for tests
  test/e2e/metrics_prometheus_input_test.go
  test/integration/istio/const.go
  test/integration/istio/istio_access_logs_test.go
  test/integration/istio/istio_tracing_test.go
  test/testkit/kyma/istio/istio.go
  test/testkit/matchers/metric_matchers.go
  test/testkit/matchers/metric_matchers_test.go
  test/testkit/mocks/metricproducer/metric_producer.go
  test/testkit/otlp/metrics/metrics.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Apply the docs changes after review
  docs/user/04-metrics.md
Due: pull-telemetry-manager-governance

Revert Makefile changes
  Makefile
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

Revert Istio deploy script
  hack/deploy-istio.sh
Due: none

Rename func
  controllers/telemetry/metricpipeline_controller.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Revert test leftovers
  test/integration/istio/istio_metric_test.go
  test/testkit/k8s/verifiers/job.go
  test/testkit/mocks/curljob/curl_job.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

add CRD watcher event handler function configuration
  controllers/telemetry/metricpipeline_controller.go
  internal/setup/predicates.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix indent
  docs/user/04-metrics.md
Due: pull-telemetry-manager-governance

feat: extend the descriptions of manifests
  apis/telemetry/v1alpha1/logpipeline_types.go
  apis/telemetry/v1alpha1/metricpipeline_types.go
  apis/telemetry/v1alpha1/shared_types.go
  apis/telemetry/v1alpha1/tracepipeline_types.go
  config/crd/bases/telemetry.kyma-project.io_logpipelines.yaml
  config/crd/bases/telemetry.kyma-project.io_tracepipelines.yaml
  config/development/telemetry.kyma-project.io_metricpipelines.yaml
  docs/user/resources/01-telemetry.md
  docs/user/resources/02-logpipeline.md
  docs/user/resources/04-tracepipeline.md
  docs/user/resources/05-metricpipeline.md
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

feat: Add support for scraping istiofied workloads (#364)
  config/rbac/role.yaml
  controllers/telemetry/errors.go
  controllers/telemetry/metricpipeline_controller.go
  controllers/telemetry/metricpipeline_controller_test.go
  controllers/telemetry/otel_test_helpers.go
  controllers/telemetry/tracepipeline_controller_test.go
  docs/user/04-metrics.md
  go.mod
  go.sum
  internal/otelcollector/config/metric/agent/config.go
  internal/otelcollector/config/metric/agent/config_builder.go
  internal/otelcollector/config/metric/agent/config_builder_test.go
  internal/otelcollector/config/metric/agent/processors_test.go
  internal/otelcollector/config/metric/agent/receivers.go
  internal/otelcollector/config/metric/agent/receivers_test.go
  internal/otelcollector/config/metric/agent/relabel_configs.go
  internal/otelcollector/config/metric/agent/testdata/config_istio_active.yaml
  internal/otelcollector/config/metric/agent/testdata/config_istio_not_active.yaml
  internal/reconciler/metricpipeline/istio_status_checker.go
  internal/reconciler/metricpipeline/istio_status_checker_test.go
  internal/reconciler/metricpipeline/reconciler.go
  internal/resources/otelcollector/agent/resources.go
  internal/resources/otelcollector/agent/resources_test.go
  internal/resources/otelcollector/core/core.go
  internal/resources/otelcollector/gateway/resources.go
  internal/resources/otelcollector/gateway/resources_test.go
  internal/setup/predicates.go
  main.go
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Deploy mesh-wide peerauthentication
  hack/deploy-istio.sh
Due: none

metric producer docker image path updated
  test/testkit/mocks/metricproducer/metric_producer.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

use the new module-config-file flag when creating module
  .gitignore
  .goreleaser.yaml
  Makefile
  docs/contributor/installation.md
  hack/deploy-module.sh
  hack/release.sh
  module_config.yaml
Due: pull-telemetry-manager-governance, pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-unit-test

Fix drops if scheme is http/https
  internal/otelcollector/config/metric/agent/relabel_configs.go
  internal/otelcollector/config/metric/agent/testdata/config_istio_active.yaml
  internal/otelcollector/config/metric/agent/testdata/config_istio_not_active.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix lint
  internal/otelcollector/config/metric/agent/receivers.go
  internal/otelcollector/config/metric/agent/relabel_configs.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

update the release process
  docs/contributor/releasing.md
Due: pull-telemetry-manager-governance

amend metrics doc
  docs/user/04-metrics.md
Due: pull-telemetry-manager-governance

adjust diagrams to styleguide
  docs/user/assets/metrics-arch.drawio.svg
  docs/user/assets/traces-arch.drawio.svg
Due: none

Pimp metric producer
  test/e2e/metrics_prometheus_input_test.go
  test/testkit/mocks/metricproducer/metric_producer.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Rename the funcs
  internal/otelcollector/config/metric/agent/receivers.go
  internal/otelcollector/config/metric/agent/relabel_configs.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

link between step and troubleshooting
  docs/user/04-metrics.md
Due: pull-telemetry-manager-governance

debug with verbose
  hack/deploy-module.sh
Due: none

fix: Relabel configs that drop if scheme is HTTP/HTTPS (#395)
  internal/otelcollector/config/metric/agent/receivers.go
  internal/otelcollector/config/metric/agent/relabel_configs.go
  internal/otelcollector/config/metric/agent/testdata/config_istio_active.yaml
  internal/otelcollector/config/metric/agent/testdata/config_istio_not_active.yaml
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

Fix the old tests
  hack/deploy-istio.sh
  test/integration/istio/istio_access_logs_test.go
  test/integration/istio/istio_tracing_test.go
  test/testkit/mocks/metricproducer/metric_producer.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test

list folder
  hack/deploy-module.sh
Due: none

check remote v
  hack/deploy-module.sh
Due: none

add remote manually
  hack/deploy-module.sh
Due: none

test: Check for custom spans in Istio tracing test (#377)
  test/integration/istio/istio_tracing_test.go
  test/testkit/matchers/trace_matchers.go
  test/testkit/mocks/metricproducer/metric_producer.go
Due: pull-telemetry-manager-e2e-test-metrics, pull-telemetry-manager-e2e-test, pull-telemetry-manager-integration-test, pull-telemetry-test-matchers, pull-telemetry-manager-upgrade-test, pull-telemetry-manager-verify-module, pull-telemetry-manager-lint, pull-telemetry-manager-unit-test
