Repository kyma-project/examples: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-examples-event-email-service, post-master-examples-event-email-service, pre-main-examples-event-email-service, pre-main-examples-http-db-service, pre-main-examples-monitoring-custom-metrics, pre-main-examples-orders-service, pre-main-examples-tests-http-db-service, pre-main-examples-tracing, post-main-examples-event-email-service, post-main-examples-http-db-service, post-main-examples-monitoring-custom-metrics, post-main-examples-orders-service, post-main-examples-tests-http-db-service, post-main-examples-tracing, pre-master-examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-master-examples-orders-service, post-master-examples-orders-service, pre-master-examples-tracing, post-master-examples-tracing, pull-examples-governance, pull-examples-checkconfig, pull-examples-pjconfigtest, pull-examples-pjtester, pull-examples-vpathguard

pre-master-examples-event-email-service:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-examples-event-email-service:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-main-examples-event-email-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-event-email-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-http-db-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-http-db-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-monitoring-custom-metrics:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-monitoring-custom-metrics
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-orders-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-orders-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-tests-http-db-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-tests-http-db-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-tracing:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-tracing
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

Remove the Prometheus scaler example (#281)
  scale-to-zero-with-keda/README.md
  scale-to-zero-with-keda/assets/scaling-scenario.drawio
  scale-to-zero-with-keda/assets/scaling-scenario.png
  scale-to-zero-with-keda/k8s-resources/http-proxy-fn.yml
  scale-to-zero-with-keda/k8s-resources/peer-authentication.yaml
  scale-to-zero-with-keda/k8s-resources/scalable-worker-fn.yml
  scale-to-zero-with-keda/src/http-proxy-fn/handler.js
  scale-to-zero-with-keda/src/http-proxy-fn/package.json
  scale-to-zero-with-keda/src/scalable-worker-fn/handler.js
  scale-to-zero-with-keda/src/scalable-worker-fn/package.json
Due: pre-master-examples-governance, pull-examples-governance

fix: allow createSecret job to create secrets when istio is enabled
  prometheus/values.yaml
Due: none

fix: allow createSecret job to create secrets when istio is enabled (#282)
  prometheus/values.yaml
Due: none

Bump event-email-service dependencies
  event-email-service/package-lock.json
  event-email-service/package.json
Due: pre-master-examples-event-email-service, post-master-examples-event-email-service, pre-main-examples-event-email-service, post-main-examples-event-email-service

Bump dependencies
  custom-serverless-runtime-image/kubeless/requirements.txt
  orders-service/function/package.json
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-orders-service, post-master-examples-orders-service

BUmp monitoring dependencies
  prometheus/monitoring-custom-metrics/Gopkg.lock
  prometheus/monitoring-custom-metrics/Gopkg.toml
  prometheus/monitoring-custom-metrics/go.mod
  prometheus/monitoring-custom-metrics/go.sum
Due: none

Bump event-email-service dependencies (#283)
  event-email-service/package-lock.json
  event-email-service/package.json
Due: pre-master-examples-event-email-service, post-master-examples-event-email-service, pre-main-examples-event-email-service, post-main-examples-event-email-service

Bump dependencies (#284)
  custom-serverless-runtime-image/kubeless/requirements.txt
  orders-service/function/package.json
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-orders-service, post-master-examples-orders-service

Remove Serverless examples
  custom-serverless-runtime-image/Dockerfile
  custom-serverless-runtime-image/README.md
  custom-serverless-runtime-image/kubeless/ce.py
  custom-serverless-runtime-image/kubeless/kubeless.py
  custom-serverless-runtime-image/kubeless/requirements.txt
  custom-serverless-runtime-image/kubeless/tracing.py
  incluster_eventing/.github/workflows/deploy.yml
  incluster_eventing/Makefile
  incluster_eventing/README.md
  incluster_eventing/k8s-resources/emitter-fn.yaml
  incluster_eventing/k8s-resources/receiver-fn.yaml
  incluster_eventing/src/emitter-fn/config.yaml
  incluster_eventing/src/emitter-fn/handler.js
  incluster_eventing/src/emitter-fn/package.json
  incluster_eventing/src/receiver-fn/config.yaml
  incluster_eventing/src/receiver-fn/handler.js
  incluster_eventing/src/receiver-fn/package.json
  orders-service/function/handler.js
  orders-service/function/package.json
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-governance, pre-master-examples-orders-service, post-master-examples-orders-service, pull-examples-governance

Remove custom-serverless-runtime-image from README
  README.md
Due: pre-master-examples-governance, pull-examples-governance

Remove Serverless examples (#286)
  README.md
  custom-serverless-runtime-image/Dockerfile
  custom-serverless-runtime-image/README.md
  custom-serverless-runtime-image/kubeless/ce.py
  custom-serverless-runtime-image/kubeless/kubeless.py
  custom-serverless-runtime-image/kubeless/requirements.txt
  custom-serverless-runtime-image/kubeless/tracing.py
  incluster_eventing/.github/workflows/deploy.yml
  incluster_eventing/Makefile
  incluster_eventing/README.md
  incluster_eventing/k8s-resources/emitter-fn.yaml
  incluster_eventing/k8s-resources/receiver-fn.yaml
  incluster_eventing/src/emitter-fn/config.yaml
  incluster_eventing/src/emitter-fn/handler.js
  incluster_eventing/src/emitter-fn/package.json
  incluster_eventing/src/receiver-fn/config.yaml
  incluster_eventing/src/receiver-fn/handler.js
  incluster_eventing/src/receiver-fn/package.json
  orders-service/function/handler.js
  orders-service/function/package.json
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-governance, pre-master-examples-orders-service, post-master-examples-orders-service, pull-examples-governance

Add renovate.json
  renovate.json
Due: none

Add archive notes to the repo
  README.md
  prometheus/README-old.md
  prometheus/README.md
  prometheus/monitoring-alert-rules/README.md
  prometheus/monitoring-custom-metrics/README.md
  prometheus/monitoring-grafana-dashboard/README.md
Due: pre-master-examples-governance, pull-examples-governance

Apply suggestions from code review
  README.md
  prometheus/README-old.md
  prometheus/monitoring-alert-rules/README.md
  prometheus/monitoring-custom-metrics/README.md
  prometheus/monitoring-grafana-dashboard/README.md
Due: pre-master-examples-governance, pull-examples-governance

Apply suggestions from code review
  prometheus/README.md
Due: pre-master-examples-governance, pull-examples-governance

Add archive notes to the repo (#288)
  README.md
  prometheus/README-old.md
  prometheus/README.md
  prometheus/monitoring-alert-rules/README.md
  prometheus/monitoring-custom-metrics/README.md
  prometheus/monitoring-grafana-dashboard/README.md
Due: pre-master-examples-governance, pull-examples-governance

Update README.md
  kiali/README.md
Due: pre-master-examples-governance, pull-examples-governance

Path conditions:
  pre-master-examples-event-email-service: any of: ^event-email-service/
  post-master-examples-event-email-service: any of: ^event-email-service/
  pre-main-examples-event-email-service: any of: ^event-email-service/
  pre-main-examples-http-db-service: any of: ^http-db-service/
  pre-main-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  pre-main-examples-orders-service: any of: ^orders-service/
  pre-main-examples-tests-http-db-service: any of: ^tests/http-db-service/
  pre-main-examples-tracing: any of: ^tracing/
  post-main-examples-event-email-service: any of: ^event-email-service/
  post-main-examples-http-db-service: any of: ^http-db-service/
  post-main-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-main-examples-orders-service: any of: ^orders-service/
  post-main-examples-tests-http-db-service: any of: ^tests/http-db-service/
  post-main-examples-tracing: any of: ^tracing/
  pre-master-examples-governance: any of: milv.config.yaml|.md$
  pre-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  pre-master-examples-orders-service: any of: ^orders-service/
  post-master-examples-orders-service: any of: ^orders-service/
  pre-master-examples-tracing: any of: ^tracing/
  post-master-examples-tracing: any of: ^tracing/
  pull-examples-governance: any of: milv.config.yaml|.md$
  pull-examples-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-examples-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-examples-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-examples-vpathguard: any of: ^(vpath/pjtester.yaml)
