Repository kyma-project/examples: changes, and which Prow jobs are due for each by the changed paths.
All: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

examples-event-email-service:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

examples-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - examples

examples-monitoring-custom-metrics:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

updated all dependencies to newest versions (#117)
  .gitignore
  CODEOWNERS
  event-email-service/package-lock.json
  event-email-service/package.json
  http-db-service/Dockerfile
  http-db-service/Gopkg.lock
  http-db-service/Gopkg.toml
  monitoring-custom-metrics/Gopkg.lock
  monitoring-custom-metrics/Gopkg.toml
  resourceQuota.yaml
  tests/http-db-service/Dockerfile
  tests/http-db-service/Gopkg.lock
  tests/http-db-service/Gopkg.toml
  tracing/Dockerfile
  tracing/Gopkg.lock
Due: examples-event-email-service, examples-monitoring-custom-metrics

Polish build script in http-db-service
  http-db-service/build.sh
Due: none

Polish build script in http-db-service (#118)
  http-db-service/build.sh
Due: none

add oathkeeper example
  README.md
  milv.config.yaml
  ory-hydra/scenarios/client-credentials/README.md
  ory-hydra/scenarios/client-credentials/lambda.yaml
Due: examples-governance

Example for integration Hydra with Dex
  ory-hydra/scenarios/implicit/README.md
  ory-hydra/scenarios/implicit/chart/hydra-dex/.helmignore
  ory-hydra/scenarios/implicit/chart/hydra-dex/Chart.yaml
  ory-hydra/scenarios/implicit/chart/hydra-dex/README.md
  ory-hydra/scenarios/implicit/chart/hydra-dex/templates/.helmignore
  ory-hydra/scenarios/implicit/chart/hydra-dex/templates/hydra-policy.yaml
  ory-hydra/scenarios/implicit/chart/hydra-dex/templates/login-consent-service.yaml
  ory-hydra/scenarios/implicit/chart/hydra-dex/templates/login-consent-virtual-service.yaml
  ory-hydra/scenarios/implicit/chart/hydra-dex/templates/login-consent.yaml
  ory-hydra/scenarios/implicit/chart/hydra-dex/values.yaml
Due: examples-governance

Review fixes
  ory-hydra/scenarios/implicit/README.md
Due: examples-governance

Fix dead links
  README.md
  event-email-service/README.md
  event-subscription/lambda/README.md
  event-subscription/service/README.md
  examples-chart/README.md
  gateway/README.md
  http-db-service/README.md
  monitoring-custom-metrics/README.md
  service-binding/lambda/README.md
  service-binding/service/README.md
  tracing/README.md
Due: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

Fix dead links (#122)
  README.md
  event-email-service/README.md
  event-subscription/lambda/README.md
  event-subscription/service/README.md
  examples-chart/README.md
  gateway/README.md
  http-db-service/README.md
  monitoring-custom-metrics/README.md
  service-binding/lambda/README.md
  service-binding/service/README.md
  tracing/README.md
Due: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

Add an example API for events to http-db-service
  http-db-service/docs/api/api.yaml
  http-db-service/handler/events/order_created.go
  http-db-service/handler/events/order_created_test.go
  http-db-service/handler/order.go
  http-db-service/handler/order_test.go
  http-db-service/handler/utils/utils.go
  http-db-service/internal/repository/api.go
  http-db-service/main.go
Due: none

Apply review comments
  http-db-service/handler/events/order_created.go
  http-db-service/handler/order.go
  http-db-service/handler/order_test.go
  http-db-service/handler/response/response.go
Due: none

Add an example API for events to http-db-service (#124)
  http-db-service/docs/api/api.yaml
  http-db-service/handler/events/order_created.go
  http-db-service/handler/events/order_created_test.go
  http-db-service/handler/order.go
  http-db-service/handler/order_test.go
  http-db-service/handler/response/response.go
  http-db-service/internal/repository/api.go
  http-db-service/main.go
Due: none

Update the image version for http-db-service
  http-db-service/deployment/deployment.yaml
Due: none

Update the image version for http-db-service (#125)
  http-db-service/deployment/deployment.yaml
Due: none

added app labels where missing
  event-email-service/deployment/deployment.yaml
  event-subscription/lambda/README.md
  event-subscription/lambda/deployment/event-activation.yaml
  event-subscription/lambda/deployment/sample-publisher.yaml
  event-subscription/lambda/deployment/subscription.yaml
  event-subscription/service/README.md
  event-subscription/service/example-event-activation.yaml
  event-subscription/service/example-publisher.yaml
  event-subscription/service/example-subscriber.yaml
  event-subscription/service/example-subscription.yaml
  examples-chart/templates/deployments/event-email-service/Pod.yaml
  examples-chart/templates/deployments/event-subscription/lambda/Pod.yaml
  examples-chart/templates/deployments/http-db-service/Pod.yaml
  examples-chart/templates/deployments/service-binding/lambda/Pod.yaml
  examples-chart/templates/tests/event-email-service/Pod.yaml
  examples-chart/templates/tests/event-subscription/lambda/Pod.yaml
  examples-chart/templates/tests/http-db-service/Pod.yaml
  examples-chart/templates/tests/service-binding/lambda/Pod.yaml
  gateway/README.md
  gateway/lambda/api-with-auth.yaml
  gateway/lambda/api-with-default-auth.yaml
  gateway/lambda/api-without-auth.yaml
  gateway/lambda/deployment.yaml
  gateway/service/api-with-auth.yaml
  gateway/service/deployment.yaml
  http-db-service/deployment/deployment.yaml
  monitoring-alert-rules/deployment/alert-rule-configmap.yaml
  monitoring-custom-metrics/deployment/deployment.yaml
  service-binding/lambda/README.md
  service-binding/lambda/deployment/lambda-function.yaml
  service-binding/lambda/deployment/redis-instance.yaml
  service-binding/service/README.md
  service-binding/service/deployment/http-db-service.yaml
  service-binding/service/deployment/mssql-instance.yaml
  tests/http-db-service/deployment/pod.yaml
  tracing/deployment/deployment.yaml
Due: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

Fix dead links
  event-email-service/README.md
  event-subscription/lambda/README.md
  event-subscription/service/README.md
  examples-chart/README.md
  gateway/README.md
  http-db-service/README.md
  monitoring-custom-metrics/README.md
  service-binding/lambda/README.md
  service-binding/service/README.md
  tracing/README.md
Due: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

Fix dead links (#128)
  event-email-service/README.md
  event-subscription/lambda/README.md
  event-subscription/service/README.md
  examples-chart/README.md
  gateway/README.md
  http-db-service/README.md
  monitoring-custom-metrics/README.md
  service-binding/lambda/README.md
  service-binding/service/README.md
  tracing/README.md
Due: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

missing label
  event-subscription/lambda/README.md
  examples-chart/templates/deployments/event-subscription/lambda/Pod.yaml
Due: examples-governance

removed misleading section in readme
  http-db-service/README.md
Due: examples-governance

added app labels where missing (#127)
  event-email-service/deployment/deployment.yaml
  event-subscription/lambda/README.md
  event-subscription/lambda/deployment/event-activation.yaml
  event-subscription/lambda/deployment/sample-publisher.yaml
  event-subscription/lambda/deployment/subscription.yaml
  event-subscription/service/README.md
  event-subscription/service/example-event-activation.yaml
  event-subscription/service/example-publisher.yaml
  event-subscription/service/example-subscriber.yaml
  event-subscription/service/example-subscription.yaml
  examples-chart/templates/deployments/event-email-service/Pod.yaml
  examples-chart/templates/deployments/event-subscription/lambda/Pod.yaml
  examples-chart/templates/deployments/http-db-service/Pod.yaml
  examples-chart/templates/deployments/service-binding/lambda/Pod.yaml
  examples-chart/templates/tests/event-email-service/Pod.yaml
  examples-chart/templates/tests/event-subscription/lambda/Pod.yaml
  examples-chart/templates/tests/http-db-service/Pod.yaml
  examples-chart/templates/tests/service-binding/lambda/Pod.yaml
  gateway/README.md
  gateway/lambda/api-with-auth.yaml
  gateway/lambda/api-with-default-auth.yaml
  gateway/lambda/api-without-auth.yaml
  gateway/lambda/deployment.yaml
  gateway/service/api-with-auth.yaml
  gateway/service/deployment.yaml
  http-db-service/README.md
  http-db-service/deployment/deployment.yaml
  monitoring-alert-rules/deployment/alert-rule-configmap.yaml
  monitoring-custom-metrics/deployment/deployment.yaml
  service-binding/lambda/README.md
  service-binding/lambda/deployment/lambda-function.yaml
  service-binding/lambda/deployment/redis-instance.yaml
  service-binding/service/README.md
  service-binding/service/deployment/http-db-service.yaml
  service-binding/service/deployment/mssql-instance.yaml
  tests/http-db-service/deployment/pod.yaml
  tracing/deployment/deployment.yaml
Due: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

Making event-bus CE spec 3.0 compliant
  event-subscription/lambda/README.md
  event-subscription/lambda/js/hello-with-data.js
  event-subscription/service/README.md
Due: examples-governance

Making event-bus CE spec 3.0 compliant
  event-subscription/lambda/README.md
Due: examples-governance

Making event-bus CE spec 3.0 compliant
  event-subscription/lambda/README.md
  event-subscription/service/README.md
Due: examples-governance

Fixes as per the PR review
  event-subscription/lambda/README.md
  event-subscription/service/README.md
Due: examples-governance

Update event-subscription/service/README.md
  event-subscription/service/README.md
Due: examples-governance

Update event-subscription/lambda/README.md
  event-subscription/lambda/README.md
Due: examples-governance

Making event-bus examples CE spec 3.0 compliant (#130)
  event-subscription/lambda/README.md
  event-subscription/lambda/js/hello-with-data.js
  event-subscription/service/README.md
Due: examples-governance

Fix for #120
  service-binding/lambda/README.md
  service-binding/lambda/deployment/lambda-function.yaml
Due: examples-governance

Update the Kyma subscription
  event-subscription/lambda/deployment/subscription.yaml
  event-subscription/service/example-subscription.yaml
Due: none

Update the Kyma subscription (#132)
  event-subscription/lambda/deployment/subscription.yaml
  event-subscription/service/example-subscription.yaml
Due: none

Update service-binding/lambda/deployment/lambda-function.yaml
  service-binding/lambda/deployment/lambda-function.yaml
Due: none

Added EXAMPLE DOMAIN
  service-binding/lambda/README.md
Due: examples-governance

update CODEOWNERS
  CODEOWNERS
Due: none

Made Changes as per Review Comments
  CODEOWNERS
Due: none

Removing Redundant Names of the person resposible
  CODEOWNERS
Due: none

Adding Skydiving Tunas Lead Ahmed
  CODEOWNERS
Due: none

update CODEOWNERS (#133)
  CODEOWNERS
Due: none

Removed test in host name
  service-binding/lambda/deployment/lambda-function.yaml
Due: none

Fix for #120 (#131)
  service-binding/lambda/README.md
  service-binding/lambda/deployment/lambda-function.yaml
Due: examples-governance

Path conditions:
  examples-event-email-service: any of: ^event-email-service/
  examples-governance: any of: milv.config.yaml|.md$
  examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
