Repository kyma-project/examples: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-examples-event-email-service, post-master-examples-event-email-service, pre-main-examples-event-email-service, pre-main-examples-http-db-service, pre-main-examples-monitoring-custom-metrics, pre-main-examples-orders-service, pre-main-examples-tests-http-db-service, pre-main-examples-tracing, post-main-examples-event-email-service, post-main-examples-http-db-service, post-main-examples-monitoring-custom-metrics, post-main-examples-orders-service, post-main-examples-tests-http-db-service, post-main-examples-tracing, pre-master-examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-master-examples-orders-service, post-master-examples-orders-service, pre-master-examples-tracing, post-master-examples-tracing, pre-main-examples-governance, pre-examples-validate-inrepo-prow-configs, pull-examples-pjtester, pull-examples-vpathguard

pre-master-examples-event-email-service:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-examples-event-email-service:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-main-examples-event-email-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-event-email-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-http-db-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-http-db-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-monitoring-custom-metrics:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-monitoring-custom-metrics
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-orders-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-orders-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-tests-http-db-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-tests-http-db-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-tracing:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-tracing
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

added jaeger instructions adjusted trace-demo instructions
  jaeger/README.md
  jaeger/values.yaml
  kiali/README.md
  kiali/apirule.yaml
  loki/README.md
  prometheus/README.md
  trace-demo/README.md
  trace-demo/tracepipeline.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

improved setup
  jaeger/README.md
  jaeger/values.yaml
  kiali/README.md
  loki/README.md
  prometheus/README.md
  trace-demo/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

broken link fix
  orders-service/README.md
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-governance, pre-master-examples-orders-service, post-master-examples-orders-service, pre-main-examples-governance

broken link fix (#231)
  orders-service/README.md
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-governance, pre-master-examples-orders-service, post-master-examples-orders-service, pre-main-examples-governance

Apply suggestions from code review
  jaeger/README.md
  trace-demo/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

re-added apirule
  kiali/apirule.yaml
Due: none

Exclude system namespace from admission webhooks
  prometheus/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

added otel endpoint exposure
  jaeger/README.md
  trace-demo/README.md
  trace-demo/values.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

fix
  prometheus/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Apply suggestions from code review
  prometheus/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Exclude system namespace from admission webhooks in kube prometheus stack (#232)
  prometheus/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Disable admission webhooks in Prometheus example
  prometheus/README.md
  prometheus/values.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

fixed spaces
  trace-demo/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

removed orphaned file
  trace-demo/istio-values.yaml
Due: none

Disable admission webhooks in Prometheus example (#233)
  prometheus/README.md
  prometheus/values.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

fix
  milv.config.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

fix
  tracing/README.md
Due: pre-main-examples-tracing, post-main-examples-tracing, pre-master-examples-governance, pre-master-examples-tracing, post-master-examples-tracing, pre-main-examples-governance

fix
  event-email-service/src/tracing.js
  tracing/README.md
  tracing/deployment/deployment.yaml
  tracing/src/order-front.go
Due: pre-master-examples-event-email-service, post-master-examples-event-email-service, pre-main-examples-event-email-service, pre-main-examples-tracing, post-main-examples-event-email-service, post-main-examples-tracing, pre-master-examples-governance, pre-master-examples-tracing, post-master-examples-tracing, pre-main-examples-governance

Apply suggestions from code review
  jaeger/README.md
  kiali/README.md
  trace-demo/README.md
  tracing/README.md
Due: pre-main-examples-tracing, post-main-examples-tracing, pre-master-examples-governance, pre-master-examples-tracing, post-master-examples-tracing, pre-main-examples-governance

Added commented exemple for namespace exclusion
  prometheus/values.yaml
Due: none

fix link to browser instrumentation
  trace-demo/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

fix link to browser instrumentation (#235)
  trace-demo/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

added new tutorial for metrics ingestion based on otel-collector
  metrics-collector/README.md
  metrics-collector/assets/overview.drawio.svg
  metrics-collector/metrics-agent-values.yaml
  metrics-collector/metrics-gateway-values.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

update
  metrics-otlp/README.md
  metrics-otlp/assets/overview.drawio.svg
  metrics-otlp/metrics-agent-values.yaml
  metrics-otlp/metrics-gateway-values.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

Apply suggestions from code review
  metrics-otlp/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

fixed link
  metrics-otlp/README.md
  metrics-otlp/metrics-gateway-values.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

update
  metrics-otlp/README.md
  metrics-otlp/secret-values.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

adjusting codeowners
  CODEOWNERS
Due: none

update
  CODEOWNERS
Due: none

added an example
  metrics-otlp/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

update
  metrics-otlp/metrics-agent-values.yaml
Due: none

Path conditions:
  pre-master-examples-event-email-service: any of: ^event-email-service/
  post-master-examples-event-email-service: any of: ^event-email-service/
  pre-main-examples-event-email-service: any of: ^event-email-service/
  pre-main-examples-http-db-service: any of: ^http-db-service/
  pre-main-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  pre-main-examples-orders-service: any of: ^orders-service/
  pre-main-examples-tests-http-db-service: any of: ^tests/http-db-service/
  pre-main-examples-tracing: any of: ^tracing/
  post-main-examples-event-email-service: any of: ^event-email-service/
  post-main-examples-http-db-service: any of: ^http-db-service/
  post-main-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-main-examples-orders-service: any of: ^orders-service/
  post-main-examples-tests-http-db-service: any of: ^tests/http-db-service/
  post-main-examples-tracing: any of: ^tracing/
  pre-master-examples-governance: any of: milv.config.yaml|.md$
  pre-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  pre-master-examples-orders-service: any of: ^orders-service/
  post-master-examples-orders-service: any of: ^orders-service/
  pre-master-examples-tracing: any of: ^tracing/
  post-master-examples-tracing: any of: ^tracing/
  pre-main-examples-governance: any of: milv.config.yaml|.md$
  pre-examples-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-examples-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-examples-vpathguard: any of: ^(vpath/pjtester.yaml)
