Repository kyma-project/examples: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-examples-event-email-service, post-master-examples-event-email-service, pre-main-examples-event-email-service, pre-main-examples-http-db-service, pre-main-examples-monitoring-custom-metrics, pre-main-examples-orders-service, pre-main-examples-tests-http-db-service, pre-main-examples-tracing, post-main-examples-event-email-service, post-main-examples-http-db-service, post-main-examples-monitoring-custom-metrics, post-main-examples-orders-service, post-main-examples-tests-http-db-service, post-main-examples-tracing, pre-master-examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-master-examples-orders-service, post-master-examples-orders-service, pre-master-examples-tracing, post-master-examples-tracing, pre-main-examples-governance, pre-examples-validate-inrepo-prow-configs

pre-master-examples-event-email-service:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-examples-event-email-service:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-main-examples-event-email-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-event-email-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-http-db-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-http-db-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-monitoring-custom-metrics:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-monitoring-custom-metrics
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-orders-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-orders-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-tests-http-db-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-tests-http-db-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-tracing:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-tracing
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

Clean-up the clean-up
  trace-demo/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Apply suggestions from code review
  loki/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Added apirule file, edited readme to add grafana exposure part
  loki/README.md
  loki/apirule.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

Otel tracing demo (#214)
  trace-demo/README.md
  trace-demo/istio-values.yaml
  trace-demo/tracepipeline.yaml
  trace-demo/values.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

improvments to loki tutorial (#216)
  loki/README.md
  loki/logpipeline.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

added small tutorial on how to bring your custom kube-prometheus-stack
  prometheus/README.md
  prometheus/values.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

fixes
  CODEOWNERS
  monitoring-custom-metrics/README.md
  prometheus/README.md
Due: pre-main-examples-monitoring-custom-metrics, post-main-examples-monitoring-custom-metrics, pre-master-examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-main-examples-governance

fix
  prometheus/istio/configmap-istio-grafana-dashboards.yaml
  prometheus/istio/configmap-istio-services-grafana-dashboards.yaml
  prometheus/values.yaml
Due: none

fix
  monitoring-custom-metrics/deployment/deployment.yaml
  prometheus/README.md
  prometheus/values.yaml
Due: pre-main-examples-monitoring-custom-metrics, post-main-examples-monitoring-custom-metrics, pre-master-examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-main-examples-governance

Apply suggestions from code review
  monitoring-custom-metrics/README.md
  prometheus/README.md
  prometheus/values.yaml
Due: pre-main-examples-monitoring-custom-metrics, post-main-examples-monitoring-custom-metrics, pre-master-examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-main-examples-governance

fix
  prometheus/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

fix
  prometheus/README.md
  prometheus/values.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

added istio support
  prometheus/README.md
  prometheus/istio/configmap-istio-grafana-dashboards.yaml
  prometheus/istio/configmap-istio-services-grafana-dashboards.yaml
  prometheus/istio/podmonitor-istio-proxy.yaml
  prometheus/istio/servicemonitor-istiod.yaml
  prometheus/values.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

update
  prometheus/README.md
  prometheus/values.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

fix
  prometheus/values.yaml
Due: none

fix
  CODEOWNERS
Due: none

Update README.md
  prometheus/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Apply suggestions from code review
  prometheus/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

fix intendation
  prometheus/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

fix
  monitoring-custom-metrics/README.md
Due: pre-main-examples-monitoring-custom-metrics, post-main-examples-monitoring-custom-metrics, pre-master-examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-main-examples-governance

Update CODEOWNERS
  CODEOWNERS
Due: none

fix
  CODEOWNERS
  prometheus/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Update prometheus/README.md
  prometheus/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Update README.md
  monitoring-custom-metrics/README.md
Due: pre-main-examples-monitoring-custom-metrics, post-main-examples-monitoring-custom-metrics, pre-master-examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-main-examples-governance

update
  prometheus/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

update
  monitoring-custom-metrics/README.md
Due: pre-main-examples-monitoring-custom-metrics, post-main-examples-monitoring-custom-metrics, pre-master-examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-main-examples-governance

First version on how to bring your custom kube-prometheus-stack (#206)
  CODEOWNERS
  monitoring-custom-metrics/README.md
  monitoring-custom-metrics/deployment/deployment.yaml
  prometheus/README.md
  prometheus/istio/configmap-istio-grafana-dashboards.yaml
  prometheus/istio/configmap-istio-services-grafana-dashboards.yaml
  prometheus/istio/podmonitor-istio-proxy.yaml
  prometheus/istio/servicemonitor-istiod.yaml
  prometheus/values.yaml
Due: pre-main-examples-monitoring-custom-metrics, post-main-examples-monitoring-custom-metrics, pre-master-examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-main-examples-governance

Update loki/README.md
  loki/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Path conditions:
  pre-master-examples-event-email-service: any of: ^event-email-service/
  post-master-examples-event-email-service: any of: ^event-email-service/
  pre-main-examples-event-email-service: any of: ^event-email-service/
  pre-main-examples-http-db-service: any of: ^http-db-service/
  pre-main-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  pre-main-examples-orders-service: any of: ^orders-service/
  pre-main-examples-tests-http-db-service: any of: ^tests/http-db-service/
  pre-main-examples-tracing: any of: ^tracing/
  post-main-examples-event-email-service: any of: ^event-email-service/
  post-main-examples-http-db-service: any of: ^http-db-service/
  post-main-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-main-examples-orders-service: any of: ^orders-service/
  post-main-examples-tests-http-db-service: any of: ^tests/http-db-service/
  post-main-examples-tracing: any of: ^tracing/
  pre-master-examples-governance: any of: milv.config.yaml|.md$
  pre-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  pre-master-examples-orders-service: any of: ^orders-service/
  post-master-examples-orders-service: any of: ^orders-service/
  pre-master-examples-tracing: any of: ^tracing/
  post-master-examples-tracing: any of: ^tracing/
  pre-main-examples-governance: any of: milv.config.yaml|.md$
  pre-examples-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
