Repository kyma-project/examples: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-examples-event-email-service, post-master-examples-event-email-service, pre-main-examples-event-email-service, pre-main-examples-http-db-service, pre-main-examples-monitoring-custom-metrics, pre-main-examples-orders-service, pre-main-examples-tests-http-db-service, pre-main-examples-tracing, post-main-examples-event-email-service, post-main-examples-http-db-service, post-main-examples-monitoring-custom-metrics, post-main-examples-orders-service, post-main-examples-tests-http-db-service, post-main-examples-tracing, pre-master-examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-master-examples-orders-service, post-master-examples-orders-service, pre-master-examples-tracing, post-master-examples-tracing, pull-examples-governance, pull-examples-checkconfig, pull-examples-pjconfigtest, pull-examples-pjtester, pull-examples-vpathguard

pre-master-examples-event-email-service:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-examples-event-email-service:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-main-examples-event-email-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-event-email-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-http-db-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-http-db-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-monitoring-custom-metrics:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-monitoring-custom-metrics
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-orders-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-orders-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-tests-http-db-service:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-tests-http-db-service
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pre-main-examples-tracing:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pre-main-examples-tracing
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

Update links for the domain change
  README.md
  gateway/README.md
  orders-service/README.md
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-governance, pre-master-examples-orders-service, post-master-examples-orders-service, pull-examples-governance

reuse compliance
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Due: pre-master-examples-governance, pull-examples-governance

Update links for the domain change (#254)
  README.md
  gateway/README.md
  orders-service/README.md
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-governance, pre-master-examples-orders-service, post-master-examples-orders-service, pull-examples-governance

reuse compliance (#261)
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
Due: pre-master-examples-governance, pull-examples-governance

added security policy
  SECURITY.md
Due: pre-master-examples-governance, pull-examples-governance

added missing readme sections
  README.md
Due: pre-master-examples-governance, pull-examples-governance

Add Security policy and missing readme sections (#262)
  README.md
  SECURITY.md
Due: pre-master-examples-governance, pull-examples-governance

use custom prometheus for kiali example
  kiali/README.md
  kiali/values.yaml
  prometheus/values.yaml
Due: pre-master-examples-governance, pull-examples-governance

Apply suggestions from code review
  kiali/README.md
Due: pre-master-examples-governance, pull-examples-governance

Update kiali/README.md
  kiali/README.md
Due: pre-master-examples-governance, pull-examples-governance

Enhance metrics sample app with tracing
  prometheus/monitoring-custom-metrics/go.mod
  prometheus/monitoring-custom-metrics/go.sum
  prometheus/monitoring-custom-metrics/main.go
Due: none

use custom prometheus for kiali example (#263)
  kiali/README.md
  kiali/values.yaml
  prometheus/values.yaml
Due: pre-master-examples-governance, pull-examples-governance

test trigger build job
  prometheus/monitoring-custom-metrics/Dockerfile
Due: none

Dockerfile renamed
  prometheus/monitoring-custom-metrics/Dockerfile
  prometheus/monitoring-custom-metrics/Dockerfile.custom
Due: none

docker file name added
  .github/workflows/cutom-metrics-docker-image.yaml
Due: none

docker file name changed
  .github/workflows/cutom-metrics-docker-image.yaml
  prometheus/monitoring-custom-metrics/custom.Dockerfile
Due: none

build job test
  prometheus/monitoring-custom-metrics/custom.Dockerfile
Due: none

misspelled file name changed
  .github/workflows/custom-metrics-docker-image.yaml
Due: none

go version updated
  prometheus/monitoring-custom-metrics/custom.Dockerfile
Due: none

go version updated
  prometheus/monitoring-custom-metrics/go.mod
Due: none

Enhance metrics sample app with tracing (#265)
  .github/workflows/custom-metrics-docker-image.yaml
  prometheus/monitoring-custom-metrics/Dockerfile
  prometheus/monitoring-custom-metrics/custom.Dockerfile
  prometheus/monitoring-custom-metrics/go.mod
  prometheus/monitoring-custom-metrics/go.sum
  prometheus/monitoring-custom-metrics/main.go
Due: none

not used github action removed
  .github/workflows/custom-metrics-docker-image.yaml
Due: none

not used github action removed (#267)
  .github/workflows/custom-metrics-docker-image.yaml
Due: none

removed governance config
  milv.config.yaml
Due: pre-master-examples-governance, pull-examples-governance

fix
  CODEOWNERS
Due: none

adds GH for link checking
  .github/workflows/markdown-link-check.yml
Due: none

fix broken links
  custom-serverless-runtime-image/README.md
  jaeger/README.md
  kiali/README.md
  loki/README.md
  prometheus/monitoring-custom-metrics/README.md
  trace-demo/README.md
Due: pre-master-examples-governance, pull-examples-governance

switch link checking to GH action (#268)
  .github/workflows/markdown-link-check.yml
  CODEOWNERS
  custom-serverless-runtime-image/README.md
  jaeger/README.md
  kiali/README.md
  loki/README.md
  milv.config.yaml
  prometheus/monitoring-custom-metrics/README.md
  trace-demo/README.md
Due: pre-master-examples-governance, pull-examples-governance

Fix map parsing error in Kiali example values
  kiali/values.yaml
Due: none

Fix map parsing error in Kiali example values (#269)
  kiali/values.yaml
Due: none

update to otel-demo 0.24.0
  trace-demo/README.md
  trace-demo/values.yaml
Due: pre-master-examples-governance, pull-examples-governance

fix
  trace-demo/README.md
Due: pre-master-examples-governance, pull-examples-governance

fix
  trace-demo/values.yaml
Due: none

update to otel-demo 0.24.0 (#270)
  trace-demo/README.md
  trace-demo/values.yaml
Due: pre-master-examples-governance, pull-examples-governance

Path conditions:
  pre-master-examples-event-email-service: any of: ^event-email-service/
  post-master-examples-event-email-service: any of: ^event-email-service/
  pre-main-examples-event-email-service: any of: ^event-email-service/
  pre-main-examples-http-db-service: any of: ^http-db-service/
  pre-main-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  pre-main-examples-orders-service: any of: ^orders-service/
  pre-main-examples-tests-http-db-service: any of: ^tests/http-db-service/
  pre-main-examples-tracing: any of: ^tracing/
  post-main-examples-event-email-service: any of: ^event-email-service/
  post-main-examples-http-db-service: any of: ^http-db-service/
  post-main-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-main-examples-orders-service: any of: ^orders-service/
  post-main-examples-tests-http-db-service: any of: ^tests/http-db-service/
  post-main-examples-tracing: any of: ^tracing/
  pre-master-examples-governance: any of: milv.config.yaml|.md$
  pre-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  pre-master-examples-orders-service: any of: ^orders-service/
  post-master-examples-orders-service: any of: ^orders-service/
  pre-master-examples-tracing: any of: ^tracing/
  post-master-examples-tracing: any of: ^tracing/
  pull-examples-governance: any of: milv.config.yaml|.md$
  pull-examples-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-examples-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-examples-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-examples-vpathguard: any of: ^(vpath/pjtester.yaml)
