Repository kyma-project/examples: changes, and which Prow jobs are due for each by the changed paths.
All: examples-event-email-service, examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Path conditions:
  examples-event-email-service: any of: ^event-email-service/
  examples-governance: any of: milv.config.yaml|.md$
  pre-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/

Add suggestion that example yaml in installation instruction is only a part of whole file
  asset-store/README.md
Due: examples-governance

Improve installation guide in README.md; Update link to documentation of asset-store; Remove resources folder
  asset-store/README.md
  asset-store/resources/pages-bucket.yaml
  asset-store/resources/webpage-asset.yaml
Due: examples-governance

Apply suggestions from code review
  asset-store/README.md
Due: examples-governance

Update installation process described in asset-store/README.md
  asset-store/README.md
Due: examples-governance

Update asset-store/README.md
  asset-store/README.md
Due: examples-governance

Remove note about failure assets state from asset-store/README.md
  asset-store/README.md
Due: examples-governance

Change Exporting method in the asset-store/README.md file
  asset-store/README.md
Due: examples-governance

Add example of storing static pages via asset-store (#148)
  README.md
  asset-store/README.md
  asset-store/webpage/index.html
  asset-store/webpage/jquery.js
  asset-store/webpage/myscript.js
  asset-store/webpage/style.css
Due: examples-governance

Rename Asset Store to Rafter
  rafter/README.md
  rafter/webpage/index.html
  rafter/webpage/jquery.js
  rafter/webpage/myscript.js
  rafter/webpage/style.css
Due: examples-governance

Apply review suggestions
  rafter/README.md
Due: examples-governance

Update main example README
  README.md
Due: examples-governance

Change content-management to rafter
  rafter/README.md
Due: examples-governance

wip
  rafter/README.md
Due: examples-governance

Update API versions
  event-email-service/deployment/deployment.yaml
  event-subscription/lambda/deployment/sample-publisher.yaml
  event-subscription/service/example-publisher.yaml
  event-subscription/service/example-subscriber.yaml
  gateway/service/deployment.yaml
  http-db-service/deployment/deployment.yaml
  monitoring-custom-metrics/deployment/deployment.yaml
  service-binding/service/deployment/http-db-service.yaml
  tracing/deployment/deployment.yaml
Due: examples-event-email-service, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Fix golint dependency
  monitoring-custom-metrics/Gopkg.lock
  monitoring-custom-metrics/Gopkg.toml
  monitoring-custom-metrics/Makefile
  tests/http-db-service/Gopkg.lock
  tests/http-db-service/Gopkg.toml
  tests/http-db-service/Makefile
  tracing/Gopkg.lock
  tracing/Gopkg.toml
  tracing/Makefile
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Regenerate locks
  monitoring-custom-metrics/Gopkg.lock
  tests/http-db-service/Gopkg.lock
  tracing/Gopkg.lock
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Update API versions (#150)
  event-email-service/deployment/deployment.yaml
  event-subscription/lambda/deployment/sample-publisher.yaml
  event-subscription/service/example-publisher.yaml
  event-subscription/service/example-subscriber.yaml
  gateway/service/deployment.yaml
  http-db-service/deployment/deployment.yaml
  monitoring-custom-metrics/Gopkg.lock
  monitoring-custom-metrics/Gopkg.toml
  monitoring-custom-metrics/Makefile
  monitoring-custom-metrics/deployment/deployment.yaml
  service-binding/service/deployment/http-db-service.yaml
  tests/http-db-service/Gopkg.lock
  tests/http-db-service/Gopkg.toml
  tests/http-db-service/Makefile
  tracing/Gopkg.lock
  tracing/Gopkg.toml
  tracing/Makefile
  tracing/deployment/deployment.yaml
Due: examples-event-email-service, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Fix deployment validation
  monitoring-custom-metrics/deployment/deployment.yaml
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Fix deployment validation (#151)
  monitoring-custom-metrics/deployment/deployment.yaml
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Update monitoring examples
  monitoring-alert-rules/README.md
  monitoring-alert-rules/deployment/alert-rule.yaml
  monitoring-custom-metrics/README.md
Due: examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Update monitoring examples (#152)
  monitoring-alert-rules/README.md
  monitoring-alert-rules/deployment/alert-rule.yaml
  monitoring-custom-metrics/README.md
Due: examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Fix link
  rafter/README.md
Due: examples-governance

Rename Asset Store to Rafter - example (#149)
  README.md
  rafter/README.md
  rafter/webpage/index.html
  rafter/webpage/jquery.js
  rafter/webpage/myscript.js
  rafter/webpage/style.css
Due: examples-governance

Enable stale bot for epics
  .github/stale.yml
Due: none

Enable stale bot for epics (#153)
  .github/stale.yml
Due: none

Add a note to the example
  CODEOWNERS
  tracing/README.md
Due: examples-governance

v2
  tracing/README.md
Due: examples-governance

v3
  CODEOWNERS
Due: none

Add a note to the example (#154)
  CODEOWNERS
  tracing/README.md
Due: examples-governance

Deployment used wrong selector expression
  service-binding/service/deployment/http-db-service.yaml
Due: none

Deployment used wrong selector expression (#155)
  service-binding/service/deployment/http-db-service.yaml
Due: none

Fix broken link
  tracing/README.md
Due: examples-governance

Fix broken link (#156)
  tracing/README.md
Due: examples-governance

Remove Event Bus examples
  CODEOWNERS
  README.md
  event-subscription/lambda/README.md
  event-subscription/lambda/deployment/event-activation.yaml
  event-subscription/lambda/deployment/sample-publisher.yaml
  event-subscription/lambda/deployment/subscription.yaml
  event-subscription/lambda/js/hello-with-data.js
  event-subscription/service/README.md
  event-subscription/service/example-event-activation.yaml
  event-subscription/service/example-publisher.yaml
  event-subscription/service/example-subscriber.yaml
  event-subscription/service/example-subscription.yaml
  examples-chart/README.md
  examples-chart/templates/deployments/event-subscription/lambda/Pod.yaml
  examples-chart/templates/deployments/pre-install-rbac.yaml
  examples-chart/templates/tests/event-subscription/lambda/Pod.yaml
  examples-chart/values.yaml
  tests/README.md
Due: examples-governance

Remove not needed rule for the EventActivation CR
  examples-chart/templates/deployments/pre-install-rbac.yaml
Due: none

Remove Event Bus examples (#157)
  CODEOWNERS
  README.md
  event-subscription/lambda/README.md
  event-subscription/lambda/deployment/event-activation.yaml
  event-subscription/lambda/deployment/sample-publisher.yaml
  event-subscription/lambda/deployment/subscription.yaml
  event-subscription/lambda/js/hello-with-data.js
  event-subscription/service/README.md
  event-subscription/service/example-event-activation.yaml
  event-subscription/service/example-publisher.yaml
  event-subscription/service/example-subscriber.yaml
  event-subscription/service/example-subscription.yaml
  examples-chart/README.md
  examples-chart/templates/deployments/event-subscription/lambda/Pod.yaml
  examples-chart/templates/deployments/pre-install-rbac.yaml
  examples-chart/templates/tests/event-subscription/lambda/Pod.yaml
  examples-chart/values.yaml
  tests/README.md
Due: examples-governance

Refactor gateway example to use APIRule instead of Api
  gateway/README.md
  gateway/service/api-with-auth.yaml
  gateway/service/api-with-default-auth.yaml
  gateway/service/api-with-jwt.yaml
  gateway/service/api-with-oauth2.yaml
  gateway/service/oauth2client.yaml
Due: examples-governance

Logic fixes; Remove lambda
  gateway/README.md
  gateway/lambda/api-with-auth.yaml
  gateway/lambda/api-with-default-auth.yaml
  gateway/lambda/api-without-auth.yaml
  gateway/lambda/deployment.yaml
  gateway/service/api-with-jwt.yaml
  gateway/service/api-with-oauth2.yaml
  gateway/service/api-without-auth-allow.yaml
  gateway/service/deployment.yaml
  gateway/service/oauth2client.yaml
Due: examples-governance

Troubleshooting
  gateway/README.md
Due: examples-governance
