Repository kyma-project/examples: changes, and which Prow jobs are due for each by the changed paths.
All: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

Path conditions:
  examples-event-email-service: any of: ^event-email-service/
  examples-governance: any of: milv.config.yaml|.md$
  examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/

Update alert-rule-configmap.yaml
  monitoring-alert-rules/deployment/alert-rule-configmap.yaml
Due: none

Fixed url for publishing events (#100)
  event-subscription/lambda/README.md
  event-subscription/service/README.md
  examples-chart/templates/tests/event-subscription/lambda/Pod.yaml
Due: examples-governance

Fix service monitor
  monitoring-custom-metrics/deployment/service-monitor.yaml
Due: examples-monitoring-custom-metrics

Fix service monitor (#102)
  monitoring-custom-metrics/deployment/service-monitor.yaml
Due: examples-monitoring-custom-metrics

Change the codeowners file
  CODEOWNERS
Due: none

Change the codeowners file (#103)
  CODEOWNERS
Due: none

Knative httpdb example init
  knative-httpdb-service/README.md
  knative-httpdb-service/http-db-service.yaml
  knative-httpdb-service/registry-credentials.yaml
Due: examples-governance

Fix typo in README.md
  knative-httpdb-service/README.md
Due: examples-governance

Remove curly brackets from URL schema
  knative-httpdb-service/README.md
Due: examples-governance

Remove link
  knative-httpdb-service/README.md
Due: examples-governance

Update CODEOWNERS
  CODEOWNERS
Due: none

Update CODEOWNERS (#105)
  CODEOWNERS
Due: none

Updated Readme file for HTTP-DB-SERVICE example
  http-db-service/Gopkg.lock
  http-db-service/README.md
Due: examples-governance

Fixed readme files
  event-subscription/lambda/README.md
  http-db-service/README.md
Due: examples-governance

Fixed service-binding example readme file
  service-binding/lambda/README.md
Due: examples-governance

Fix the event-subscription service example
  event-subscription/service/README.md
Due: examples-governance

Fix the event-subscription service example (#110)
  event-subscription/service/README.md
Due: examples-governance

Removed unnecessary instruction
  http-db-service/README.md
Due: examples-governance

Fix monitoring examples
  monitoring-alert-rules/README.md
  monitoring-custom-metrics/README.md
Due: examples-governance, examples-monitoring-custom-metrics

Apply suggestions from code review
  service-binding/lambda/README.md
Due: examples-governance

Fixed monitoring-custom-metrics example
  monitoring-alert-rules/README.md
Due: examples-governance

Fixed monitoring alert rules example
  monitoring-custom-metrics/README.md
Due: examples-governance, examples-monitoring-custom-metrics

add note
  gateway/README.md
Due: examples-governance

Various fixes for kyma-examples (#106)
  event-subscription/lambda/README.md
  http-db-service/Gopkg.lock
  http-db-service/README.md
  monitoring-alert-rules/README.md
  monitoring-custom-metrics/README.md
  service-binding/lambda/README.md
Due: examples-governance, examples-monitoring-custom-metrics

fix
  gateway/README.md
Due: examples-governance

removed annotations for side-car injection as it will be applied by neamespace setting
  event-email-service/deployment/deployment.yaml
  event-subscription/lambda/deployment/sample-publisher.yaml
  event-subscription/service/example-publisher.yaml
  event-subscription/service/example-subscriber.yaml
  gateway/service/deployment.yaml
  http-db-service/deployment/deployment.yaml
  monitoring-custom-metrics/deployment/deployment.yaml
  service-binding/service/deployment/http-db-service.yaml
  tracing/deployment/deployment.yaml
Due: examples-event-email-service, examples-monitoring-custom-metrics

add information on how to delete an API; remove obsolete note; fix minor formatting issues
  gateway/README.md
Due: examples-governance

Fix monitoring examples (#111)
  monitoring-alert-rules/README.md
  monitoring-custom-metrics/README.md
Due: examples-governance, examples-monitoring-custom-metrics

fix links to headers
  gateway/README.md
Due: examples-governance

remove links to headers; remove redundant Cleanup section
  gateway/README.md
Due: examples-governance

apply suggestions from language review
  gateway/README.md
Due: examples-governance

Fix gateway example (#112)
  gateway/README.md
Due: examples-governance

removed annotations for side-car injection as it will be applied by neamespace setting (#113)
  event-email-service/deployment/deployment.yaml
  event-subscription/lambda/deployment/sample-publisher.yaml
  event-subscription/service/example-publisher.yaml
  event-subscription/service/example-subscriber.yaml
  gateway/service/deployment.yaml
  http-db-service/deployment/deployment.yaml
  monitoring-custom-metrics/deployment/deployment.yaml
  service-binding/service/deployment/http-db-service.yaml
  tracing/deployment/deployment.yaml
Due: examples-event-email-service, examples-monitoring-custom-metrics

first version of rewritten ec-call example
  auth-token-relay/README.md
  http-db-service/README.md
Due: examples-governance

first version of rewritten ec-call example
  auth-token-relay/deployment/binding.yaml
  auth-token-relay/deployment/setup.yaml
Due: none

updated all dependencies to newest versions
  .gitignore
  event-email-service/package-lock.json
  event-email-service/package.json
  http-db-service/Dockerfile
  http-db-service/Gopkg.lock
  http-db-service/Gopkg.toml
  monitoring-custom-metrics/Gopkg.lock
  monitoring-custom-metrics/Gopkg.toml
  tests/http-db-service/Dockerfile
  tests/http-db-service/Gopkg.lock
  tests/http-db-service/Gopkg.toml
  tracing/Dockerfile
  tracing/Gopkg.lock
Due: examples-event-email-service, examples-monitoring-custom-metrics

cleanup
  CODEOWNERS
  resourceQuota.yaml
Due: none

Fix
  http-db-service/Gopkg.lock
Due: none
