Repository kyma-project/examples: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-examples-event-email-service, post-master-examples-event-email-service, pre-main-examples-event-email-service, pre-main-examples-http-db-service, pre-main-examples-monitoring-custom-metrics, pre-main-examples-orders-service, pre-main-examples-tests-http-db-service, pre-main-examples-tracing, post-main-examples-event-email-service, post-main-examples-http-db-service, post-main-examples-monitoring-custom-metrics, post-main-examples-orders-service, post-main-examples-tests-http-db-service, post-main-examples-tracing, pre-master-examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-master-examples-orders-service, post-master-examples-orders-service, pre-master-examples-tracing, post-master-examples-tracing, pre-main-examples-governance

Path conditions:
  pre-master-examples-event-email-service: any of: ^event-email-service/
  post-master-examples-event-email-service: any of: ^event-email-service/
  pre-main-examples-event-email-service: any of: ^event-email-service/
  pre-main-examples-http-db-service: any of: ^http-db-service/
  pre-main-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  pre-main-examples-orders-service: any of: ^orders-service/
  pre-main-examples-tests-http-db-service: any of: ^tests/http-db-service/
  pre-main-examples-tracing: any of: ^tracing/
  post-main-examples-event-email-service: any of: ^event-email-service/
  post-main-examples-http-db-service: any of: ^http-db-service/
  post-main-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-main-examples-orders-service: any of: ^orders-service/
  post-main-examples-tests-http-db-service: any of: ^tests/http-db-service/
  post-main-examples-tracing: any of: ^tracing/
  pre-master-examples-governance: any of: milv.config.yaml|.md$
  pre-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  pre-master-examples-orders-service: any of: ^orders-service/
  post-master-examples-orders-service: any of: ^orders-service/
  pre-master-examples-tracing: any of: ^tracing/
  post-master-examples-tracing: any of: ^tracing/
  pre-main-examples-governance: any of: milv.config.yaml|.md$

rework to match cicd recommendations
  incluster_eventing/.github/workflows/deploy.yml
Due: none

rework to match cicd recommendations
  incluster_eventing/README.md
  incluster_eventing/k8s-resources/emitter-fn.yaml
  incluster_eventing/k8s-resources/receiver-fn.yaml
  incluster_eventing/src/emitter-fn/config.yaml
  incluster_eventing/src/receiver-fn/config.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

Fix the broken link (#197)
  CONTRIBUTING.md
Due: pre-master-examples-governance, pre-main-examples-governance

Apply suggestions from code review
  incluster_eventing/.github/workflows/deploy.yml
  incluster_eventing/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

code review changes
  incluster_eventing/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Apply suggestions from code review
  incluster_eventing/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Apply code review improvements
  incluster_eventing/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Rework function example to match deployment recommendations (#196)
  incluster_eventing/.github/workflows/deploy.yml
  incluster_eventing/Makefile
  incluster_eventing/README.md
  incluster_eventing/k8s-resources/emitter-fn.yaml
  incluster_eventing/k8s-resources/receiver-fn.yaml
  incluster_eventing/src/emitter-fn/config.yaml
  incluster_eventing/src/emitter-fn/handler.js
  incluster_eventing/src/emitter-fn/package.json
  incluster_eventing/src/receiver-fn/config.yaml
  incluster_eventing/src/receiver-fn/handler.js
  incluster_eventing/src/receiver-fn/package.json
  incluster_eventing/src/render-manifests.sh
Due: pre-master-examples-governance, pre-main-examples-governance

add example
  README.md
  custom-runtime/Dockerfile
  custom-runtime/README.md
  custom-runtime/kubeless/kubeless.py
  custom-runtime/kubeless/requirements.txt
Due: pre-master-examples-governance, pre-main-examples-governance

fix link
  README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Apply suggestions from code review
  README.md
  custom-runtime/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Use alpine to exec sh in e2e tests
  orders-service/Dockerfile
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-orders-service, post-master-examples-orders-service

rename example; add note
  README.md
  custom-serverless-runtime-image/Dockerfile
  custom-serverless-runtime-image/README.md
  custom-serverless-runtime-image/kubeless/kubeless.py
  custom-serverless-runtime-image/kubeless/requirements.txt
Due: pre-master-examples-governance, pre-main-examples-governance

Use alpine to exec sh in e2e tests (#199)
  orders-service/Dockerfile
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-orders-service, post-master-examples-orders-service

Apply suggestions from code review
  custom-serverless-runtime-image/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Readible storeage type for additional test assertions
  orders-service/internal/handler/order_handler.go
  orders-service/internal/service/order_service.go
  orders-service/internal/store/memory_store.go
  orders-service/internal/store/redis_store.go
  orders-service/internal/store/store.go
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-orders-service, post-master-examples-orders-service

change routaing
  orders-service/internal/handler/order_handler.go
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-orders-service, post-master-examples-orders-service

fix route
  orders-service/internal/handler/order_handler.go
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-orders-service, post-master-examples-orders-service

fix link
  custom-serverless-runtime-image/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Readible storeage type for additional test assertions (#200)
  orders-service/internal/handler/order_handler.go
  orders-service/internal/service/order_service.go
  orders-service/internal/store/memory_store.go
  orders-service/internal/store/redis_store.go
  orders-service/internal/store/store.go
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-orders-service, post-master-examples-orders-service

Add `custom-runtime` example (#198)
  README.md
  custom-serverless-runtime-image/Dockerfile
  custom-serverless-runtime-image/README.md
  custom-serverless-runtime-image/kubeless/kubeless.py
  custom-serverless-runtime-image/kubeless/requirements.txt
Due: pre-master-examples-governance, pre-main-examples-governance

Drop Rafter related example
  .github/ISSUE_TEMPLATE/documentation-improvement.md
  README.md
  rafter/README.md
  rafter/webpage/index.html
  rafter/webpage/jquery.js
  rafter/webpage/myscript.js
  rafter/webpage/style.css
Due: pre-master-examples-governance, pre-main-examples-governance

Drop Rafter related example (#201)
  .github/ISSUE_TEMPLATE/documentation-improvement.md
  README.md
  rafter/README.md
  rafter/webpage/index.html
  rafter/webpage/jquery.js
  rafter/webpage/myscript.js
  rafter/webpage/style.css
Due: pre-master-examples-governance, pre-main-examples-governance

Fix Git reference in in-cluster eventing example
  CODEOWNERS
  incluster_eventing/src/emitter-fn/config.yaml
Due: none

Fix Git reference in in-cluster eventing example (#202)
  CODEOWNERS
  incluster_eventing/src/emitter-fn/config.yaml
Due: none

fix link in Gateway README
  gateway/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

fix link in Gateway README (#203)
  gateway/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

wrap eventing call with custom span
  incluster_eventing/src/emitter-fn/handler.js
  incluster_eventing/src/emitter-fn/package.json
Due: none

change to nodejs16
  incluster_eventing/src/emitter-fn/config.yaml
  incluster_eventing/src/receiver-fn/config.yaml
Due: none

Show how to scale to zero with Keda in async scenario
  CODEOWNERS
  scale-to-zero-with-keda/README.md
  scale-to-zero-with-keda/assets/scaling-scenario.drawio
  scale-to-zero-with-keda/assets/scaling-scenario.png
  scale-to-zero-with-keda/k8s-resources/http-proxy-fn.yml
  scale-to-zero-with-keda/k8s-resources/scalable-worker-fn.yml
  scale-to-zero-with-keda/src/http-proxy-fn/handler.js
  scale-to-zero-with-keda/src/http-proxy-fn/package.json
  scale-to-zero-with-keda/src/scalable-worker-fn/handler.js
  scale-to-zero-with-keda/src/scalable-worker-fn/package.json
Due: pre-master-examples-governance, pre-main-examples-governance

Changes after code review
  incluster_eventing/README.md
  incluster_eventing/k8s-resources/emitter-fn.yaml
  incluster_eventing/k8s-resources/receiver-fn.yaml
  incluster_eventing/src/emitter-fn/config.yaml
  incluster_eventing/src/receiver-fn/config.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

Improve eventing example (#204)
  incluster_eventing/README.md
  incluster_eventing/k8s-resources/emitter-fn.yaml
  incluster_eventing/k8s-resources/receiver-fn.yaml
  incluster_eventing/src/emitter-fn/config.yaml
  incluster_eventing/src/emitter-fn/handler.js
  incluster_eventing/src/emitter-fn/package.json
  incluster_eventing/src/receiver-fn/config.yaml
Due: pre-master-examples-governance, pre-main-examples-governance

Make sure istio sidecar injection is enabled
  scale-to-zero-with-keda/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Elaborate on components and their roles
  scale-to-zero-with-keda/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

typo
  scale-to-zero-with-keda/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Apply suggestions from code review
  scale-to-zero-with-keda/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

remove default namespace from manifests
  scale-to-zero-with-keda/k8s-resources/http-proxy-fn.yml
  scale-to-zero-with-keda/k8s-resources/scalable-worker-fn.yml
Due: none

elaborate on the example purpose
  scale-to-zero-with-keda/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Update README.md
  scale-to-zero-with-keda/README.md
Due: pre-master-examples-governance, pre-main-examples-governance
