Repository kyma-project/examples: changes, and which Prow jobs are due for each by the changed paths.
All: examples-event-email-service, examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-master-examples-tracing, post-master-examples-tracing

Path conditions:
  examples-event-email-service: any of: ^event-email-service/
  examples-governance: any of: milv.config.yaml|.md$
  pre-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  pre-master-examples-tracing: any of: ^tracing/
  post-master-examples-tracing: any of: ^tracing/

Update OpenAPI spec in the orders-service example (#166)
  orders-service/docs/openapi.yaml
Due: none

Update the orders-service Readme (#165)
  orders-service/README.md
  orders-service/chart/values.yaml
  orders-service/deployment/orders-function.js
  orders-service/deployment/orders-service-deployment.yaml
  orders-service/docs/openapi.yaml
Due: examples-governance

Fix a dead link
  README.md
Due: examples-governance

Fix a dead link (#168)
  README.md
Due: examples-governance

Fix the TW alias in **Assignees**
  .github/ISSUE_TEMPLATE/documentation-improvement.md
Due: examples-governance

Fix the TW alias in the documentation issue template (#171)
  .github/ISSUE_TEMPLATE/documentation-improvement.md
Due: examples-governance

Update documentation CODEOWNERS
  CODEOWNERS
Due: none

Update documentation CODEOWNERS (#172)
  CODEOWNERS
Due: none

Add renamed fields to MILV config
  milv.config.yaml
Due: examples-governance

Add renamed fields to MILV config (#173)
  milv.config.yaml
Due: examples-governance

Remove deprecated fields from MILV config
  milv.config.yaml
Due: examples-governance

Remove deprecated fields from MILV config (#174)
  milv.config.yaml
Due: examples-governance

Change excluding terms into inclusive alternatives
  .github/pull-request-template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  http-db-service/config/service.go
  http-db-service/internal/repository/db.go
  orders-service/Dockerfile
  rafter/README.md
Due: examples-governance

Change excluding terms into inclusive alternatives (#175)
  .github/pull-request-template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  http-db-service/config/service.go
  http-db-service/internal/repository/db.go
  orders-service/Dockerfile
  rafter/README.md
Due: examples-governance

replace master with main
  event-email-service/Makefile
  http-db-service/Makefile
  http-db-service/README.md
  monitoring-custom-metrics/Makefile
  orders-service/Makefile
  orders-service/chart/Chart.yaml
  tests/http-db-service/Makefile
  tracing/Makefile
  tracing/README.md
Due: examples-event-email-service, examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-master-examples-tracing, post-master-examples-tracing

replace master with main (#176)
  event-email-service/Makefile
  http-db-service/Makefile
  http-db-service/README.md
  monitoring-custom-metrics/Makefile
  orders-service/Makefile
  orders-service/chart/Chart.yaml
  tests/http-db-service/Makefile
  tracing/Makefile
  tracing/README.md
Due: examples-event-email-service, examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-master-examples-tracing, post-master-examples-tracing

Fix the broken link
  orders-service/README.md
  rafter/README.md
Due: examples-governance

Fix the broken link (#177)
  orders-service/README.md
  rafter/README.md
Due: examples-governance

Rename master to main (leftover)
  tracing/README.md
Due: examples-governance, pre-master-examples-tracing, post-master-examples-tracing

Rename master to main (leftover) (#178)
  tracing/README.md
Due: examples-governance, pre-master-examples-tracing, post-master-examples-tracing

Add OAuth2 Proxy service exposure example
  README.md
  secure-service-exposure/README.md
  secure-service-exposure/oauth2_proxy.yaml
Due: examples-governance

Add note to examples README.md file about the state of the repository
  README.md
Due: examples-governance

Update README.md
  README.md
Due: examples-governance

Add note to examples README.md file about the state of the repository (#180)
  README.md
Due: examples-governance

Remove kazydek, superojla, and bszwarc from CODEOWNERS
  CODEOWNERS
Due: none

Remove kazydek, superojla, and bszwarc from CODEOWNERS (#181)
  CODEOWNERS
Due: none

Added tls configuration for Prometheus mTls
  monitoring-custom-metrics/deployment/service-monitor.yaml
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Added ploicy
  monitoring-custom-metrics/deployment/policy.yaml
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Fixxed namespace
  monitoring-custom-metrics/deployment/service-monitor.yaml
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Apply suggestions from code review
  monitoring-custom-metrics/deployment/service-monitor.yaml
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Should fix setup
  monitoring-custom-metrics/Dockerfile
  monitoring-custom-metrics/deployment/deployment.yaml
  monitoring-custom-metrics/deployment/policy.yaml
  monitoring-custom-metrics/main.go
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Bug Fix
  monitoring-custom-metrics/deployment/deployment.yaml
  monitoring-custom-metrics/deployment/service-monitor.yaml
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Made changes due to review
  monitoring-custom-metrics/deployment/service-monitor.yaml
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Changed service name
  monitoring-custom-metrics/README.md
  monitoring-custom-metrics/deployment/deployment.yaml
Due: examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Added go mod and go sum, due to prow job
  monitoring-custom-metrics/go.mod
  monitoring-custom-metrics/go.sum
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Reset
  monitoring-custom-metrics/go.mod
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Remove go.mod
  monitoring-custom-metrics/go.sum
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Init new module
  monitoring-custom-metrics/go.mod
  monitoring-custom-metrics/go.sum
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Adapt makefile
  monitoring-custom-metrics/Makefile
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics
