Repository kyma-project/examples: changes, and which Prow jobs are due for each by the changed paths.
All: examples-event-email-service, examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

examples-event-email-service:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

examples-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - examples

pre-master-examples-monitoring-custom-metrics:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-examples-monitoring-custom-metrics:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Change eventing publish urls to the new ones
  event-subscription/lambda/README.md
  event-subscription/service/README.md
  examples-chart/templates/tests/event-subscription/lambda/Pod.yaml
Due: examples-governance

Update stale.yml
  .github/stale.yml
Due: none

Update stale bot settings to exclude epics (#140)
  .github/stale.yml
Due: none

Generate random temperature
  monitoring-custom-metrics/main.go
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Update comment
  monitoring-custom-metrics/main.go
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Ah te angielskie teksty
  monitoring-custom-metrics/main.go
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Generate random temperature (#141)
  monitoring-custom-metrics/main.go
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Change eventing publish urls to the new ones (#139)
  event-subscription/lambda/README.md
  event-subscription/service/README.md
  examples-chart/templates/tests/event-subscription/lambda/Pod.yaml
Due: examples-governance

Bump Custom Metrics example
  monitoring-custom-metrics/deployment/deployment.yaml
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Bump Custom Metrics example (#142)
  monitoring-custom-metrics/deployment/deployment.yaml
Due: pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Fix links
  .github/pull-request-template.md
  CONTRIBUTING.md
Due: examples-governance

Fix links (#143)
  .github/pull-request-template.md
  CONTRIBUTING.md
Due: examples-governance

Add missing TW codeowners
  CODEOWNERS
Due: none

Add missing TW codeowners (#144)
  CODEOWNERS
Due: none

Improve the obsolete alerting rules example
  monitoring-alert-rules/README.md
  monitoring-alert-rules/deployment/alert-rule-configmap.yaml
  monitoring-alert-rules/deployment/alert-rule.yaml
Due: examples-governance

Improvements
  monitoring-alert-rules/README.md
Due: examples-governance

Fix
  monitoring-alert-rules/README.md
Due: examples-governance

improvement
  monitoring-alert-rules/README.md
Due: examples-governance

some fixes
  monitoring-alert-rules/README.md
Due: examples-governance

review fix
  monitoring-alert-rules/README.md
Due: examples-governance

Improve the obsolete alerting rules example (#145)
  monitoring-alert-rules/README.md
  monitoring-alert-rules/deployment/alert-rule-configmap.yaml
  monitoring-alert-rules/deployment/alert-rule.yaml
Due: examples-governance

Add asset-store example
  asset-store/README.md
  asset-store/page/index.html
  asset-store/page/jquery.js
  asset-store/page/myscript.js
  asset-store/page/style.css
  asset-store/resources/pages-bucket.yaml
  asset-store/resources/webside-asset.yaml
Due: examples-governance

Update README.md
  README.md
Due: examples-governance

Update Installation guide described in README.md
  asset-store/README.md
Due: examples-governance

Add testing tutorial to README.md
  asset-store/README.md
Due: examples-governance

Update README.md
  README.md
  asset-store/README.md
  asset-store/resources/webpage-asset.yaml
Due: examples-governance

Rename page folder to webpage
  asset-store/webpage/index.html
  asset-store/webpage/jquery.js
  asset-store/webpage/myscript.js
  asset-store/webpage/style.css
Due: none

Rename eport variable in README.md
  asset-store/README.md
Due: examples-governance

Specify types of whole blocks of code
  asset-store/README.md
Due: examples-governance

Update asset-store/README.md
  asset-store/README.md
Due: examples-governance

Update asset-store/resources/pages-bucket.yaml
  asset-store/resources/pages-bucket.yaml
Due: none

Implement suggestion about deleting prerequisites section; Merge Testing section with Installation
  asset-store/README.md
Due: examples-governance

Apply suggestions from code review
  asset-store/README.md
Due: examples-governance

Implement suggestion about example url in installation section
  asset-store/README.md
Due: examples-governance

Path conditions:
  examples-event-email-service: any of: ^event-email-service/
  examples-governance: any of: milv.config.yaml|.md$
  pre-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
