Repository kyma-project/examples: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-examples-event-email-service, post-master-examples-event-email-service, pre-main-examples-event-email-service, pre-main-examples-http-db-service, pre-main-examples-monitoring-custom-metrics, pre-main-examples-orders-service, pre-main-examples-tests-http-db-service, pre-main-examples-tracing, post-main-examples-event-email-service, post-main-examples-http-db-service, post-main-examples-monitoring-custom-metrics, post-main-examples-orders-service, post-main-examples-tests-http-db-service, post-main-examples-tracing, pre-master-examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-master-examples-orders-service, post-master-examples-orders-service, pre-master-examples-tracing, post-master-examples-tracing, pull-examples-governance, pull-examples-checkconfig, pull-examples-pjconfigtest, pull-examples-pjtester, pull-examples-vpathguard

Path conditions:
  pre-master-examples-event-email-service: any of: ^event-email-service/
  post-master-examples-event-email-service: any of: ^event-email-service/
  pre-main-examples-event-email-service: any of: ^event-email-service/
  pre-main-examples-http-db-service: any of: ^http-db-service/
  pre-main-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  pre-main-examples-orders-service: any of: ^orders-service/
  pre-main-examples-tests-http-db-service: any of: ^tests/http-db-service/
  pre-main-examples-tracing: any of: ^tracing/
  post-main-examples-event-email-service: any of: ^event-email-service/
  post-main-examples-http-db-service: any of: ^http-db-service/
  post-main-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-main-examples-orders-service: any of: ^orders-service/
  post-main-examples-tests-http-db-service: any of: ^tests/http-db-service/
  post-main-examples-tracing: any of: ^tracing/
  pre-master-examples-governance: any of: milv.config.yaml|.md$
  pre-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  pre-master-examples-orders-service: any of: ^orders-service/
  post-master-examples-orders-service: any of: ^orders-service/
  pre-master-examples-tracing: any of: ^tracing/
  post-master-examples-tracing: any of: ^tracing/
  pull-examples-governance: any of: milv.config.yaml|.md$
  pull-examples-checkconfig: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-examples-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-examples-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-examples-vpathguard: any of: ^(vpath/pjtester.yaml)

add Telemetry module as a prerequisite
  jaeger/README.md
  loki/README.md
  trace-demo/README.md
Due: pre-master-examples-governance, pull-examples-governance

Update module installation url
  jaeger/README.md
  loki/README.md
  trace-demo/README.md
Due: pre-master-examples-governance, pull-examples-governance

Apply suggestions from code review
  jaeger/README.md
  loki/README.md
  trace-demo/README.md
Due: pre-master-examples-governance, pull-examples-governance

Add Telemetry module as a prerequisite for observability examples (#271)
  jaeger/README.md
  loki/README.md
  trace-demo/README.md
Due: pre-master-examples-governance, pull-examples-governance

Add minimalistic persistence settings to prometheus example
  prometheus/README.md
  prometheus/values.yaml
Due: pre-master-examples-governance, pull-examples-governance

fix
  kiali/README.md
Due: pre-master-examples-governance, pull-examples-governance

fix
  prometheus/values.yaml
Due: none

Add default persistence settings to prometheus example (#272)
  kiali/README.md
  prometheus/README.md
  prometheus/values.yaml
Due: pre-master-examples-governance, pull-examples-governance

update custom-metrics to newest image version
  prometheus/monitoring-custom-metrics/deployment/deployment.yaml
Due: none

update custom-metrics to newest image version (#273)
  prometheus/monitoring-custom-metrics/deployment/deployment.yaml
Due: none

Fix scale to zero example
  scale-to-zero-with-keda/k8s-resources/http-proxy-fn.yml
  scale-to-zero-with-keda/k8s-resources/scalable-worker-fn.yml
  scale-to-zero-with-keda/src/http-proxy-fn/handler.js
  scale-to-zero-with-keda/src/http-proxy-fn/package.json
Due: none

content-type header should match the content
  scale-to-zero-with-keda/README.md
Due: pre-master-examples-governance, pull-examples-governance

change functions git reference to kyma-project's main branch
  scale-to-zero-with-keda/k8s-resources/http-proxy-fn.yml
  scale-to-zero-with-keda/k8s-resources/scalable-worker-fn.yml
Due: none

improve prerequisites
  scale-to-zero-with-keda/README.md
Due: pre-master-examples-governance, pull-examples-governance

unified namespace variable naming
  event-email-service/README.md
  gateway/README.md
  http-db-service/README.md
  jaeger/README.md
  kiali/README.md
  loki/README.md
  metrics-otlp/README.md
  prometheus/README.md
  prometheus/monitoring-alert-rules/README.md
  prometheus/monitoring-custom-metrics/README.md
  prometheus/monitoring-grafana-dashboard/README.md
  service-binding/lambda/README.md
  service-binding/service/README.md
  trace-demo/README.md
  tracing/README.md
Due: pre-master-examples-event-email-service, post-master-examples-event-email-service, pre-main-examples-event-email-service, pre-main-examples-http-db-service, pre-main-examples-tracing, post-main-examples-event-email-service, post-main-examples-http-db-service, post-main-examples-tracing, pre-master-examples-governance, pre-master-examples-tracing, post-master-examples-tracing, pull-examples-governance

fix
  metrics-otlp/metrics-agent-values.yaml
Due: none

Apply suggestions from code review
  scale-to-zero-with-keda/README.md
Due: pre-master-examples-governance, pull-examples-governance

Fix scale to zero example (#274)
  scale-to-zero-with-keda/README.md
  scale-to-zero-with-keda/k8s-resources/http-proxy-fn.yml
  scale-to-zero-with-keda/k8s-resources/scalable-worker-fn.yml
  scale-to-zero-with-keda/src/http-proxy-fn/handler.js
  scale-to-zero-with-keda/src/http-proxy-fn/package.json
Due: pre-master-examples-governance, pull-examples-governance

Configure connectivity between keda & custom prometheus stack
  scale-to-zero-with-keda/README.md
  scale-to-zero-with-keda/k8s-resources/peer-authentication.yaml
  scale-to-zero-with-keda/k8s-resources/scalable-worker-fn.yml
Due: pre-master-examples-governance, pull-examples-governance

unified namespace variable naming (#275)
  event-email-service/README.md
  gateway/README.md
  http-db-service/README.md
  jaeger/README.md
  kiali/README.md
  loki/README.md
  metrics-otlp/README.md
  metrics-otlp/metrics-agent-values.yaml
  prometheus/README.md
  prometheus/monitoring-alert-rules/README.md
  prometheus/monitoring-custom-metrics/README.md
  prometheus/monitoring-grafana-dashboard/README.md
  service-binding/lambda/README.md
  service-binding/service/README.md
  trace-demo/README.md
  tracing/README.md
Due: pre-master-examples-event-email-service, post-master-examples-event-email-service, pre-main-examples-event-email-service, pre-main-examples-http-db-service, pre-main-examples-tracing, post-main-examples-event-email-service, post-main-examples-http-db-service, post-main-examples-tracing, pre-master-examples-governance, pre-master-examples-tracing, post-master-examples-tracing, pull-examples-governance

Update scale-to-zero-with-keda/README.md
  scale-to-zero-with-keda/README.md
Due: pre-master-examples-governance, pull-examples-governance

Configure connectivity between keda & custom prometheus stack (#276)
  scale-to-zero-with-keda/README.md
  scale-to-zero-with-keda/k8s-resources/peer-authentication.yaml
  scale-to-zero-with-keda/k8s-resources/scalable-worker-fn.yml
Due: pre-master-examples-governance, pull-examples-governance

remove kyma-specifics from the prometheus example
  prometheus/values.yaml
Due: none

move kyma tutorial into the example
  prometheus/README.md
  prometheus/assets/monitoring-tutorials.svg
  prometheus/prometheus.md
Due: pre-master-examples-governance, pull-examples-governance

Apply suggestions from code review
  prometheus/README.md
  prometheus/values.yaml
Due: pre-master-examples-governance, pull-examples-governance

remove kyma-specifics from the prometheus example (#277)
  prometheus/README.md
  prometheus/assets/monitoring-tutorials.svg
  prometheus/prometheus.md
  prometheus/values.yaml
Due: pre-master-examples-governance, pull-examples-governance

docs: Remove 3 telemetry examples
  jaeger/README.md
  jaeger/values.yaml
  loki/README.md
  loki/apirule.yaml
  loki/dashboard-configmap.yaml
  loki/grafana-values.yaml
  loki/loki-values.yaml
  loki/promtail-values.yaml
  trace-demo/README.md
  trace-demo/values.yaml
Due: pre-master-examples-governance, pull-examples-governance

remove broken links
  README.md
  tracing/README.md
Due: pre-main-examples-tracing, post-main-examples-tracing, pre-master-examples-governance, pre-master-examples-tracing, post-master-examples-tracing, pull-examples-governance

temporarily keep README files for redirect
  jaeger/README.md
  loki/README.md
  trace-demo/README.md
Due: pre-master-examples-governance, pull-examples-governance

update link to website
  jaeger/README.md
  loki/README.md
  trace-demo/README.md
Due: pre-master-examples-governance, pull-examples-governance

docs: Remove 3 telemetry examples (#278)
  README.md
  jaeger/README.md
  jaeger/values.yaml
  loki/README.md
  loki/apirule.yaml
  loki/dashboard-configmap.yaml
  loki/grafana-values.yaml
  loki/loki-values.yaml
  loki/promtail-values.yaml
  trace-demo/README.md
  trace-demo/values.yaml
  tracing/README.md
Due: pre-main-examples-tracing, post-main-examples-tracing, pre-master-examples-governance, pre-master-examples-tracing, post-master-examples-tracing, pull-examples-governance

Dockerfile not used anywhere
  Dockerfile
Due: none

fix docu
  README.md
Due: pre-master-examples-governance, pull-examples-governance

docu fix
  CONTRIBUTING.md
Due: pre-master-examples-governance, pull-examples-governance

Add preriquisite to have Istio enabled in Prometheus example
  prometheus/prometheus.md
Due: pre-master-examples-governance, pull-examples-governance

Add preriquisite to have Istio enabled in Prometheus example (#280)
  prometheus/prometheus.md
Due: pre-master-examples-governance, pull-examples-governance

Remove the Prometheus scaler example
  scale-to-zero-with-keda/README.md
  scale-to-zero-with-keda/assets/scaling-scenario.drawio
  scale-to-zero-with-keda/assets/scaling-scenario.png
  scale-to-zero-with-keda/k8s-resources/http-proxy-fn.yml
  scale-to-zero-with-keda/k8s-resources/peer-authentication.yaml
  scale-to-zero-with-keda/k8s-resources/scalable-worker-fn.yml
  scale-to-zero-with-keda/src/http-proxy-fn/handler.js
  scale-to-zero-with-keda/src/http-proxy-fn/package.json
  scale-to-zero-with-keda/src/scalable-worker-fn/handler.js
  scale-to-zero-with-keda/src/scalable-worker-fn/package.json
Due: pre-master-examples-governance, pull-examples-governance
