Repository kyma-project/examples: changes, and which Prow jobs are due for each by the changed paths.
All: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

examples-event-email-service:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

examples-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181121-f3ea5ce
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - examples

examples-monitoring-custom-metrics:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

removed istio annotations
  event-email-service/deployment/deployment.yaml
  event-subscription/lambda/deployment/sample-publisher.yaml
  event-subscription/service/example-publisher.yaml
  event-subscription/service/example-subscriber.yaml
  gateway/README.md
  gateway/lambda/api-with-auth.yaml
  gateway/lambda/api-with-default-auth.yaml
  gateway/lambda/api-without-auth.yaml
  gateway/lambda/deployment.yaml
  gateway/service/api-with-auth.yaml
  gateway/service/api-with-default-auth.yaml
  gateway/service/api-without-auth.yaml
  gateway/service/deployment.yaml
  http-db-service/deployment/deployment.yaml
  monitoring-custom-metrics/README.md
  monitoring-custom-metrics/deployment/deployment.yaml
  monitoring-custom-metrics/deployment/service-8080.yaml
  monitoring-custom-metrics/deployment/service-8081.yaml
  monitoring-custom-metrics/deployment/service-monitor.yaml
  service-binding/service/deployment/http-db-service.yaml
  tracing/deployment/deployment.yaml
Due: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

removed istio annotations
  event-email-service/README.md
  event-subscription/lambda/deployment/sample-publisher.yaml
  event-subscription/service/README.md
  event-subscription/service/example-event-activation.yaml
  event-subscription/service/example-publisher.yaml
  event-subscription/service/example-subscriber.yaml
  event-subscription/service/example-subscription.yaml
  monitoring-alert-rules/README.md
  monitoring-alert-rules/deployment/alert-rule-configmap.yaml
  service-binding/lambda/README.md
  service-binding/lambda/deployment/lambda-function.yaml
  service-binding/lambda/deployment/redis-instance-binding.yaml
  service-binding/lambda/deployment/redis-instance.yaml
  service-binding/lambda/deployment/service-binding-usage.yaml
  service-binding/service/README.md
  service-binding/service/deployment/http-db-service.yaml
  service-binding/service/deployment/mssql-binding-usage.yaml
  service-binding/service/deployment/mssql-binding.yaml
  service-binding/service/deployment/mssql-instance.yaml
  tracing/README.md
Due: examples-event-email-service, examples-governance

Disable test for service-binding lambda example
  Jenkinsfile
Due: none

Disable test for service-binding lambda example (#83)
  Jenkinsfile
Due: none

Update the link
  README.md
Due: examples-governance

Apply suggestions from code review
  gateway/README.md
  monitoring-alert-rules/README.md
  monitoring-custom-metrics/README.md
Due: examples-governance, examples-monitoring-custom-metrics

Update the link (#84)
  README.md
Due: examples-governance

Fix Subscription domain (#79)
  event-subscription/lambda/deployment/subscription.yaml
  event-subscription/service/example-subscription.yaml
  examples-chart/templates/deployments/pre-install-rbac.yaml
Due: none

fixed deployment order
  service-binding/lambda/README.md
  service-binding/lambda/deployment/lambda-function.yaml
  service-binding/lambda/deployment/redis-instance.yaml
  service-binding/service/README.md
  service-binding/service/deployment/http-db-service.yaml
  service-binding/service/deployment/mssql-instance.yaml
Due: examples-governance

reverted injection removal
  event-email-service/deployment/deployment.yaml
  event-subscription/lambda/deployment/sample-publisher.yaml
  event-subscription/service/example-publisher.yaml
  event-subscription/service/example-subscriber.yaml
  gateway/service/deployment.yaml
  http-db-service/deployment/deployment.yaml
  monitoring-custom-metrics/deployment/deployment.yaml
  service-binding/service/deployment/http-db-service.yaml
  tracing/deployment/deployment.yaml
Due: examples-event-email-service, examples-monitoring-custom-metrics

adjusted the sourceID to not contain "commerce"
  event-subscription/lambda/README.md
  event-subscription/lambda/deployment/event-activation.yaml
  event-subscription/lambda/deployment/subscription.yaml
  event-subscription/service/README.md
  event-subscription/service/example-event-activation.yaml
  event-subscription/service/example-subscription.yaml
  examples-chart/templates/tests/event-subscription/lambda/Pod.yaml
Due: examples-governance

Remove istio AUTH specific annotations from deployments (#82)
  event-email-service/README.md
  event-email-service/deployment/deployment.yaml
  event-subscription/lambda/README.md
  event-subscription/lambda/deployment/event-activation.yaml
  event-subscription/lambda/deployment/sample-publisher.yaml
  event-subscription/lambda/deployment/subscription.yaml
  event-subscription/service/README.md
  event-subscription/service/example-event-activation.yaml
  event-subscription/service/example-publisher.yaml
  event-subscription/service/example-subscriber.yaml
  event-subscription/service/example-subscription.yaml
  examples-chart/templates/tests/event-subscription/lambda/Pod.yaml
  gateway/README.md
  gateway/lambda/api-with-auth.yaml
  gateway/lambda/api-with-default-auth.yaml
  gateway/lambda/api-without-auth.yaml
  gateway/lambda/deployment.yaml
  gateway/service/api-with-auth.yaml
  gateway/service/api-with-default-auth.yaml
  gateway/service/api-without-auth.yaml
  gateway/service/deployment.yaml
  http-db-service/deployment/deployment.yaml
  monitoring-alert-rules/README.md
  monitoring-alert-rules/deployment/alert-rule-configmap.yaml
  monitoring-custom-metrics/README.md
  monitoring-custom-metrics/deployment/deployment.yaml
  monitoring-custom-metrics/deployment/service-8080.yaml
  monitoring-custom-metrics/deployment/service-8081.yaml
  monitoring-custom-metrics/deployment/service-monitor.yaml
  service-binding/lambda/README.md
  service-binding/lambda/deployment/lambda-function.yaml
  service-binding/lambda/deployment/redis-instance-binding.yaml
  service-binding/lambda/deployment/redis-instance.yaml
  service-binding/lambda/deployment/service-binding-usage.yaml
  service-binding/service/README.md
  service-binding/service/deployment/http-db-service.yaml
  service-binding/service/deployment/mssql-binding-usage.yaml
  service-binding/service/deployment/mssql-binding.yaml
  service-binding/service/deployment/mssql-instance.yaml
  tracing/README.md
Due: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

Adjust servicecatalog CRDs domain to kyma-project.io
  examples-chart/templates/deployments/pre-install-rbac.yaml
  service-binding/lambda/deployment/lambda-function.yaml
  service-binding/service/deployment/http-db-service.yaml
Due: none

Remove Jenkins configurations
  CODEOWNERS
  Jenkinsfile
  call-ec/Jenkinsfile
  event-email-service/Jenkinsfile
  governance.Jenkinsfile
  http-db-service/Jenkinsfile
  monitoring-custom-metrics/Jenkinsfile
  orchestrator.Jenkinsfile
  tests/http-db-service/Jenkinsfile
  tracing/Jenkinsfile
Due: examples-event-email-service, examples-monitoring-custom-metrics

Adjust servicecatalog CRDs domain to kyma-project.io (#85)
  examples-chart/templates/deployments/pre-install-rbac.yaml
  service-binding/lambda/deployment/lambda-function.yaml
  service-binding/service/deployment/http-db-service.yaml
Due: none

Remove Jenkins configurations (#86)
  CODEOWNERS
  Jenkinsfile
  call-ec/Jenkinsfile
  event-email-service/Jenkinsfile
  governance.Jenkinsfile
  http-db-service/Jenkinsfile
  monitoring-custom-metrics/Jenkinsfile
  orchestrator.Jenkinsfile
  tests/http-db-service/Jenkinsfile
  tracing/Jenkinsfile
Due: examples-event-email-service, examples-monitoring-custom-metrics

Remove the invalid CI information
  CONTRIBUTING.md
Due: examples-governance

Remove references to Prow
  CONTRIBUTING.md
Due: examples-governance

Remove the invalid CI information (#88)
  CONTRIBUTING.md
Due: examples-governance

Added deployment template section to examples. This will make the function work in lambda UI.
  gateway/lambda/deployment.yaml
  service-binding/lambda/deployment/lambda-function.yaml
Due: none

Rename Environment to Namespace
  call-ec/README.md
  event-email-service/README.md
  event-subscription/lambda/README.md
  event-subscription/lambda/deployment/subscription.yaml
  event-subscription/service/README.md
  event-subscription/service/example-subscription.yaml
  examples-chart/README.md
  examples-chart/templates/deployments/event-subscription/lambda/Pod.yaml
  gateway/README.md
  http-db-service/README.md
  monitoring-alert-rules/README.md
  monitoring-custom-metrics/README.md
  service-binding/lambda/README.md
  service-binding/service/README.md
  tracing/README.md
Due: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

Added deployment template section to examples. This will make the function work in lambda UI. (#89)
  gateway/lambda/deployment.yaml
  service-binding/lambda/deployment/lambda-function.yaml
Due: none

Rename Environment to Namespace (#90)
  call-ec/README.md
  event-email-service/README.md
  event-subscription/lambda/README.md
  event-subscription/lambda/deployment/subscription.yaml
  event-subscription/service/README.md
  event-subscription/service/example-subscription.yaml
  examples-chart/README.md
  examples-chart/templates/deployments/event-subscription/lambda/Pod.yaml
  gateway/README.md
  http-db-service/README.md
  monitoring-alert-rules/README.md
  monitoring-custom-metrics/README.md
  service-binding/lambda/README.md
  service-binding/service/README.md
  tracing/README.md
Due: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

Fix broken link
  event-subscription/service/README.md
Due: examples-governance

Fix broken link (#93)
  event-subscription/service/README.md
Due: examples-governance

Add env:true label info to namespace
  call-ec/README.md
  event-email-service/README.md
  event-subscription/lambda/README.md
  event-subscription/service/README.md
  examples-chart/README.md
  gateway/README.md
  http-db-service/README.md
  monitoring-custom-metrics/README.md
  service-binding/lambda/README.md
  service-binding/service/README.md
  tracing/README.md
Due: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

Add env:true label info to namespace (#94)
  call-ec/README.md
  event-email-service/README.md
  event-subscription/lambda/README.md
  event-subscription/service/README.md
  examples-chart/README.md
  gateway/README.md
  http-db-service/README.md
  monitoring-custom-metrics/README.md
  service-binding/lambda/README.md
  service-binding/service/README.md
  tracing/README.md
Due: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

Add suleymanakbas91 to Codeowners
  CODEOWNERS
Due: none

Add suleymanakbas91 to Codeowners (#95)
  CODEOWNERS
Due: none

Add app label for tracing
  event-email-service/deployment/deployment.yaml
  gateway/service/deployment.yaml
  http-db-service/deployment/deployment.yaml
  tests/http-db-service/deployment/pod.yaml
Due: examples-event-email-service

Fix gometalinter issue
  http-db-service/Makefile
Due: none

Add app label for tracing (#96)
  event-email-service/deployment/deployment.yaml
  gateway/service/deployment.yaml
  http-db-service/Makefile
  http-db-service/deployment/deployment.yaml
  tests/http-db-service/deployment/pod.yaml
Due: examples-event-email-service

Fix broken links
  README.md
  call-ec/README.md
  event-email-service/README.md
  event-subscription/lambda/README.md
  event-subscription/service/README.md
  examples-chart/README.md
  gateway/README.md
  http-db-service/README.md
  monitoring-custom-metrics/README.md
  service-binding/lambda/README.md
  service-binding/service/README.md
  tracing/README.md
Due: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

Fix alert rule
  monitoring-alert-rules/deployment/alert-rule-configmap.yaml
Due: none

Fix alert rule (#98)
  monitoring-alert-rules/deployment/alert-rule-configmap.yaml
Due: none

Fix http-db-services
  http-db-service/Makefile
Due: none

Fix broken links (#97)
  README.md
  call-ec/README.md
  event-email-service/README.md
  event-subscription/lambda/README.md
  event-subscription/service/README.md
  examples-chart/README.md
  gateway/README.md
  http-db-service/Makefile
  http-db-service/README.md
  monitoring-custom-metrics/README.md
  service-binding/lambda/README.md
  service-binding/service/README.md
  tracing/README.md
Due: examples-event-email-service, examples-governance, examples-monitoring-custom-metrics

add example rule
  monitoring-alert-rules/deployment/alert-rule-configmap.yaml
Due: none

Fixed url for publishing events
  event-subscription/lambda/README.md
  event-subscription/service/README.md
  examples-chart/templates/tests/event-subscription/lambda/Pod.yaml
Due: examples-governance

Path conditions:
  examples-event-email-service: any of: ^event-email-service/
  examples-governance: any of: milv.config.yaml|.md$
  examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
