Repository kyma-project/examples: changes, and which Prow jobs are due for each by the changed paths.
All: pre-master-examples-event-email-service, post-master-examples-event-email-service, pre-main-examples-event-email-service, pre-main-examples-http-db-service, pre-main-examples-monitoring-custom-metrics, pre-main-examples-orders-service, pre-main-examples-tests-http-db-service, pre-main-examples-tracing, post-main-examples-event-email-service, post-main-examples-http-db-service, post-main-examples-monitoring-custom-metrics, post-main-examples-orders-service, post-main-examples-tests-http-db-service, post-main-examples-tracing, pre-master-examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-master-examples-orders-service, post-master-examples-orders-service, pre-master-examples-tracing, post-master-examples-tracing, pre-main-examples-governance

Path conditions:
  pre-master-examples-event-email-service: any of: ^event-email-service/
  post-master-examples-event-email-service: any of: ^event-email-service/
  pre-main-examples-event-email-service: any of: ^event-email-service/
  pre-main-examples-http-db-service: any of: ^http-db-service/
  pre-main-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  pre-main-examples-orders-service: any of: ^orders-service/
  pre-main-examples-tests-http-db-service: any of: ^tests/http-db-service/
  pre-main-examples-tracing: any of: ^tracing/
  post-main-examples-event-email-service: any of: ^event-email-service/
  post-main-examples-http-db-service: any of: ^http-db-service/
  post-main-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-main-examples-orders-service: any of: ^orders-service/
  post-main-examples-tests-http-db-service: any of: ^tests/http-db-service/
  post-main-examples-tracing: any of: ^tracing/
  pre-master-examples-governance: any of: milv.config.yaml|.md$
  pre-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  post-master-examples-monitoring-custom-metrics: any of: ^monitoring-custom-metrics/
  pre-master-examples-orders-service: any of: ^orders-service/
  post-master-examples-orders-service: any of: ^orders-service/
  pre-master-examples-tracing: any of: ^tracing/
  post-master-examples-tracing: any of: ^tracing/
  pre-main-examples-governance: any of: milv.config.yaml|.md$

Adapt makefile
  monitoring-custom-metrics/Makefile
Due: pre-main-examples-monitoring-custom-metrics, post-main-examples-monitoring-custom-metrics, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Use mTLS for ServiceMonitor (#182)
  monitoring-custom-metrics/Dockerfile
  monitoring-custom-metrics/Makefile
  monitoring-custom-metrics/README.md
  monitoring-custom-metrics/deployment/deployment.yaml
  monitoring-custom-metrics/deployment/service-monitor.yaml
  monitoring-custom-metrics/go.mod
  monitoring-custom-metrics/go.sum
  monitoring-custom-metrics/main.go
Due: pre-main-examples-monitoring-custom-metrics, post-main-examples-monitoring-custom-metrics, pre-master-examples-governance, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics, pre-main-examples-governance

Fixed dead links
  .github/pull-request-template.md
  CONTRIBUTING.md
Due: pre-master-examples-governance, pre-main-examples-governance

Fixed dead links (#183)
  .github/pull-request-template.md
  CONTRIBUTING.md
Due: pre-master-examples-governance, pre-main-examples-governance

Fixed broken links
  gateway/README.md
  monitoring-alert-rules/README.md
  orders-service/README.md
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-governance, pre-master-examples-orders-service, post-master-examples-orders-service, pre-main-examples-governance

Fixed al link
  orders-service/README.md
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-governance, pre-master-examples-orders-service, post-master-examples-orders-service, pre-main-examples-governance

Fixed broken links (#184)
  gateway/README.md
  monitoring-alert-rules/README.md
  orders-service/README.md
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-governance, pre-master-examples-orders-service, post-master-examples-orders-service, pre-main-examples-governance

remove link
  README.md
Due: pre-master-examples-governance, pre-main-examples-governance

remove link (#185)
  README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Fix readme
  README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Pusht to different docker dirs
  monitoring-custom-metrics-kyma1/Makefile
  monitoring-custom-metrics-kyma1/deployment/deployment.yaml
  monitoring-custom-metrics-kyma2/Makefile
  monitoring-custom-metrics-kyma2/deployment/deployment.yaml
  monitoring-custom-metrics-kyma2/go.mod
Due: none

Fix a broken link to the README template
  CONTRIBUTING.md
Due: pre-master-examples-governance, pre-main-examples-governance

Fix a broken link to the README template (#187)
  CONTRIBUTING.md
Due: pre-master-examples-governance, pre-main-examples-governance

first commit
  incluster_eventing/README.md
  incluster_eventing/emitter/config.yaml
  incluster_eventing/emitter/handler.js
  incluster_eventing/emitter/package.json
  incluster_eventing/receiver/config.yaml
  incluster_eventing/receiver/handler.js
  incluster_eventing/receiver/package.json
Due: pre-master-examples-governance, pre-main-examples-governance

examplary code
  incluster_eventing/receiver/config.yaml
  incluster_eventing/receiver/handler.js
Due: none

code refactor
  incluster_eventing/emitter/handler.js
  incluster_eventing/emitter/package.json
Due: none

Apply suggestions from code review
  incluster_eventing/emitter/config.yaml
  incluster_eventing/emitter/package.json
  incluster_eventing/receiver/package.json
Due: none

small lg fix
  incluster_eventing/emitter/config.yaml
Due: none

add README.md content
  incluster_eventing/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Add Grzegorz as a documentation CODEOWNER
  CODEOWNERS
Due: none

Add Grzegorz as a documentation CODEOWNER (#189)
  CODEOWNERS
Due: none

fix kubeless link
  service-binding/lambda/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

fix broken kubeless link
  service-binding/lambda/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Apply suggestions from code review
  incluster_eventing/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

fix broken kubeless link (#191)
  service-binding/lambda/README.md
Due: pre-master-examples-governance, pre-main-examples-governance

Incluster eventing (#188)
  incluster_eventing/README.md
  incluster_eventing/emitter/config.yaml
  incluster_eventing/emitter/handler.js
  incluster_eventing/emitter/package.json
  incluster_eventing/receiver/config.yaml
  incluster_eventing/receiver/handler.js
  incluster_eventing/receiver/package.json
Due: pre-master-examples-governance, pre-main-examples-governance

removed unneeded namespace and label
  monitoring-custom-metrics/deployment/service-monitor.yaml
Due: pre-main-examples-monitoring-custom-metrics, post-main-examples-monitoring-custom-metrics, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

removed unneeded namespace and label (#192)
  monitoring-custom-metrics/deployment/service-monitor.yaml
Due: pre-main-examples-monitoring-custom-metrics, post-main-examples-monitoring-custom-metrics, pre-master-examples-monitoring-custom-metrics, post-master-examples-monitoring-custom-metrics

Update stale.yml
  .github/stale.yml
Due: none

Update stale.yml (#193)
  .github/stale.yml
Due: none

add axios import
  incluster_eventing/emitter/handler.js
  incluster_eventing/emitter/package.json
Due: none

Change Website links to GitHub ones
  orders-service/README.md
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-governance, pre-master-examples-orders-service, post-master-examples-orders-service, pre-main-examples-governance

Change Website links to GitHub ones (#195)
  orders-service/README.md
Due: pre-main-examples-orders-service, post-main-examples-orders-service, pre-master-examples-governance, pre-master-examples-orders-service, post-master-examples-orders-service, pre-main-examples-governance

add axios import (#194)
  incluster_eventing/emitter/handler.js
  incluster_eventing/emitter/package.json
Due: none

rework to match cicd recommendations
  incluster_eventing/Makefile
  incluster_eventing/k8s-resources/emitter-fn.yaml
  incluster_eventing/k8s-resources/receiver-fn.yaml
  incluster_eventing/src/emitter-fn/config.yaml
  incluster_eventing/src/emitter-fn/handler.js
  incluster_eventing/src/emitter-fn/package.json
  incluster_eventing/src/receiver-fn/config.yaml
  incluster_eventing/src/receiver-fn/handler.js
  incluster_eventing/src/receiver-fn/package.json
  incluster_eventing/src/render-manifests.sh
Due: none

Fix the broken link
  CONTRIBUTING.md
Due: pre-master-examples-governance, pre-main-examples-governance
