Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/

Tiny code refactor
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
Due: pre-master-console-compass, post-master-console-compass

Change Helm broker url validation to regex
  add-ons/src/constants.ts
  add-ons/src/helpers/helm-broker-development-mode.ts
  add-ons/src/helpers/index.ts
  add-ons/src/services/Urls.service.ts
Due: none

Fix BindApplicationModal state
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
Due: none

Extract PanelEntry to a separate component
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/ApiDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/shared/components/PanelEntry/PanelEntry.component.js
Due: pre-master-console-compass, post-master-console-compass

Add "type" to header
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/ApiDetailsHeader.js
Due: pre-master-console-compass, post-master-console-compass

Revert "Preload Microfrontends using Luigi (#1188)"
  add-ons/package-lock.json
  add-ons/package.json
  add-ons/src/core/AddonsViewContent.tsx
  add-ons/src/index.tsx
  content/package-lock.json
  core/package-lock.json
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.ts
  core/src/app/shared/directives/filter-all-on-selected/filter-all-on-selected.directive.ts
  core/src/luigi-config/luigi-config.js
  lambda/package-lock.json
  lambda/package.json
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.ts
  lambda/src/app/lambdas/list/lambdas-header-renderer/lambdas-header-renderer.component.spec.ts
  lambda/src/app/lambdas/list/lambdas-header-renderer/lambdas-header-renderer.component.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
  lambda/src/app/shared/services/luigi-client.service.ts
  logging/src/app/search-form/data/search-form-data.ts
  logging/src/app/search-form/search-form.component.ts
  service-catalog-ui/brokers/package-lock.json
  service-catalog-ui/brokers/package.json
  service-catalog-ui/brokers/src/commons/helpers.js
  service-catalog-ui/brokers/src/components/App/BrokersViewContent.component.js
  service-catalog-ui/brokers/src/index.js
  service-catalog-ui/catalog/package-lock.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/catalog/src/commons/helpers.js
  service-catalog-ui/catalog/src/components/App/CatalogViewContent.component.js
  service-catalog-ui/catalog/src/index.js
  service-catalog-ui/instances/package-lock.json
  service-catalog-ui/instances/package.json
  service-catalog-ui/instances/src/commons/helpers.js
  service-catalog-ui/instances/src/components/App/InstancesViewContent.component.js
  service-catalog-ui/instances/src/index.js
Due: prow/console/brokers, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Add and use InProgressMessage component
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
  compass/src/shared/components/InProgressMessage/InProgressMessage.component.js
  compass/src/shared/components/InProgressMessage/InProgressMessage.scss
Due: pre-master-console-compass, post-master-console-compass

sdagasdg
  compass/src/shared/components/InProgressMessage/InProgressMessage.scss
Due: pre-master-console-compass, post-master-console-compass

Disable preloading in console
  core/src/luigi-config/microfrontend-converter.js
Due: pre-master-console-core, post-master-console-core

Simplify skipAction function
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.component.js
  compass/src/shared/components/GenericList/GenericList.js
  components/react/src/components/TableWithActions/TableWithActionsList/index.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Bring back React 16.9.0
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Add PanelEntry unit test
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/ApiDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/shared/components/PanelEntry/PanelEntry.component.js
  compass/src/shared/components/PanelEntry/test/PanelEntry.test.js
  compass/src/shared/components/PanelEntry/test/__snapshots__/PanelEntry.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Fix UI-tests
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
Due: none

Fix prettier
  compass/src/shared/components/GenericList/GenericList.js
Due: pre-master-console-compass, post-master-console-compass

Introduce wait before reload - to make tests passing locally for devs
  tests/ui-tests/tests/catalog-ui-test.js
Due: pre-master-console-tests, post-master-console-tests

Add unit tests
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/test/ApiDetailsHeader.test.js
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/test/__snapshots__/ApiDetailsHeader.test.js.snap
  compass/src/components/Api/ApiDetails/test/ApiDetails.test.js
  compass/src/shared/components/PanelEntry/PanelEntry.component.js
  compass/src/shared/typechecking/CustomPropTypes.js
Due: pre-master-console-compass, post-master-console-compass

Fix missing links
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.component.js
Due: pre-master-console-compass, post-master-console-compass

Update Fundamental-react
  compass/package-lock.json
  compass/package.json
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Overview/Overview.js
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetailsHeader/RuntimeDetailsHeader.component.js
  compass/src/components/Shared/StatusBadge/StatusBadge.js
  compass/src/shared/components/GenericList/GenericList.js
  compass/src/shared/components/GenericList/internalRenderers.js
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
Due: pre-master-console-compass, post-master-console-compass

Fix linter
  compass/src/components/Shared/ResourceNotFound.component.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Add customPropTypes.oneOfProps unit tests
  compass/src/shared/typechecking/CustomPropTypes.test.js
  compass/src/shared/typechecking/__snapshots__/CustomPropTypes.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

fix error after deleting
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/ApiDetailsHeader.js
Due: pre-master-console-compass, post-master-console-compass

dgasg
  compass/package-lock.json
  compass/src/App.component.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Fix problems after merge
  compass/src/App.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.component.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Add "edit" button on api details page
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/ApiDetailsHeader.js
Due: pre-master-console-compass, post-master-console-compass

Extract some logic to a separate fn
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/test/__snapshots__/ApiDetailsHeader.test.js.snap
  compass/src/components/Api/ApiDetails/test/ApiDetails.test.js
Due: pre-master-console-compass, post-master-console-compass

use simpleDelete
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/ApiDetailsHeader.js
Due: pre-master-console-compass, post-master-console-compass

Remove cypress-related things
  compass/.eslintignore
  compass/cypress.json
  compass/cypress/fixtures/example.json
  compass/cypress/plugins/index.js
  compass/cypress/support/commands.js
  compass/cypress/support/index.js
  compass/gql_mock/index.js
  compass/gql_mock/metadataDefinitions.mock.js
  compass/gql_mock/schema.graphql
  compass/package-lock.json
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Remove other leftovers
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/MetadataDefinitionDetails.cypress.js
  compass/src/components/MetadataDefinitions/test/MetadataDefinitions.cypress.js
  compass/src/shared/components/GenericList/GenericList.js
  compass/src/store/index.js
Due: pre-master-console-compass, post-master-console-compass

update snapshot s
  compass/src/shared/components/GenericList/test/__snapshots__/GenericList.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

fix linter
  compass/.eslinterrc
Due: pre-master-console-compass, post-master-console-compass

Make application description optional
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.html
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.ts
  service-catalog-ui/catalog/package-lock.json
  service-catalog-ui/instances/package-lock.json
Due: pre-master-console-core, post-master-console-core

Bring back old makefile
  compass/Makefile
Due: pre-master-console-compass, post-master-console-compass

Bump odata-react component
  Makefile
  components/generic-documentation/kyma-project-docs-component-0.1.0.tgz
  components/generic-documentation/kyma-project-generic-documentation-0.1.0.tgz
  components/generic-documentation/package.json
  components/generic-documentation/src/custom.d.ts
  components/generic-documentation/src/renderers/styled.ts
  components/react/package-lock.json
  package-lock.json
  package.json
  scripts/pre-build-docker-image.sh
  service-catalog-ui/Dockerfile
  service-catalog-ui/Makefile
  service-catalog-ui/brokers/package-lock.json
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package-lock.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package-lock.json
  service-catalog-ui/instances/package.json
  service-catalog-ui/package-lock.json
Due: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Update Makefile
  service-catalog-ui/Makefile
Due: none

Update Dockerfile
  service-catalog-ui/Dockerfile
Due: none

.
  service-catalog-ui/Dockerfile
Due: none

Fix package-locks.json
  core/package-lock.json
Due: pre-master-console-core, post-master-console-core

Update add-ons/src/constants.ts
  add-ons/src/constants.ts
Due: none

Fix lint errors
  service-catalog-ui/instances/src/commons/helpers.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
  service-catalog-ui/instances/src/store/ServiceInstances/events.js
Due: none
