Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Fix websockets in console core lists views (#824)
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Due: console-core

Fix linting error
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

Update vulnerable dependencies (#823)
  components/angular/generic-list/package-lock.json
  lambda/package-lock.json
Due: none

Fetch cluster microfrontends via graphql
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/microfrontend-converter.js
Due: console-core

Fetch cluster microfrontends via graphql
  core/src/luigi-config/luigi-config.js
Due: console-core

Remove content domain from catalog-ui and instances-ui
  catalog/src/commons/helpers.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassDetails/queries.js
  components/react/src/components/Markdown/Readme.md
  components/react/src/components/Markdown/index.js
  components/react/src/components/index.js
  instances/src/components/DataProvider/fragments.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: console-governance

Prettier
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

Fetch all init data with one gql request (#827)
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/microfrontend-converter.js
Due: console-core

Fix catalog-ui filter position
  catalog/src/components/ServiceClassList/FilterList/FilterList.component.js
Due: none

Fix catalog-ui filter position (#841)
  catalog/src/components/ServiceClassList/FilterList/FilterList.component.js
Due: none

Fix RegExp for Firefox
  catalog/src/commons/helpers.js
  components/react/src/components/ReactMarkdown/helpers.js
  content/src/components/DocsContent/DocsProcessor.js
  instances/src/commons/helpers.js
Due: none

remove console.log
  instances/src/commons/helpers.js
Due: none

remove comment
  components/react/src/components/ReactMarkdown/helpers.js
Due: none

Fix RegExp for Firefox (#844)
  catalog/src/commons/helpers.js
  components/react/src/components/ReactMarkdown/helpers.js
  content/src/components/DocsContent/DocsProcessor.js
  instances/src/commons/helpers.js
Due: none

Modify CODEOWNERS - follow up on team changes
  CODEOWNERS
Due: none

Fix bullet points in note/tip/caution
  components/react/src/components/NotePanel/styled.js
  components/react/src/components/ReactMarkdown/components/Blockquote.js
Due: none

commit example tip
  catalog/src/commons/helpers.js
  content/src/components/DocsContent/DocsProcessor.js
  instances/src/commons/helpers.js
Due: none

update css
  components/react/src/components/NotePanel/styled.js
Due: none

Stabilize Lambdas UI test (#826)
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

Update CODEOWNERS
  CODEOWNERS
Due: none

add @m00g3n
  CODEOWNERS
Due: none

Update CODEOWNERS (#853)
  CODEOWNERS
Due: none

Increase timouts
  tests/ui-tests/tests/console-basic-test.js
Due: console-tests

Prettier changes
  tests/ui-tests/tests/console-basic-test.js
Due: console-tests

Make sure "Overview" tab comes first
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

Make sure "Overview" tab comes first (#857)
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

Use view group caching in the console (#829)
  core/package-lock.json
  core/package.json
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.ts
  core/src/app/navigation/app-routing.module.ts
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/microfrontend-converter.js
  lambda/package-lock.json
  lambda/package.json
  lambda/src/app/app.module.ts
  lambda/src/app/shared/components/empty/empty.component.html
  lambda/src/app/shared/components/empty/empty.component.ts
  package-lock.json
Due: console-core

Add UI test for exposing API (#842)
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.html
  package.json
  tests/ui-tests/commands/console.js
  tests/ui-tests/setup/k8s-api/index.js
  tests/ui-tests/setup/k8s-api/k8s-api-deployment.js
  tests/ui-tests/setup/k8s-api/k8s-api-namespace.js
  tests/ui-tests/setup/k8s-api/k8s-api-service.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/utils/address.js
  tests/ui-tests/utils/retry.js
Due: console-core, console-tests

Consume externallink and requiredPermissions
  core/src/luigi-config/luigi-config.js
Due: console-core

Move local domains
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/microfrontend-converter.js
Due: console-core

filter lambda logs by container name
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  logging/src/app/search-form/search-form.component.ts
Due: none

revert changes to doc.source
  catalog/src/commons/helpers.js
  components/react/src/components/ReactMarkdown/components/Blockquote.js
  content/src/components/DocsContent/DocsProcessor.js
  instances/src/commons/helpers.js
Due: none

add missing {Fragment}
  components/react/src/components/ReactMarkdown/components/Blockquote.js
Due: none

Update react to satisfy peerDeps
  components/react/package-lock.json
  components/react/package.json
Due: none

Fix bullet points in note/catution/tip (#852)
  components/react/package-lock.json
  components/react/package.json
  components/react/src/components/NotePanel/styled.js
  components/react/src/components/ReactMarkdown/components/Blockquote.js
Due: none

Unify camelcase microfrontend->microFrontend
  core/src/luigi-config/luigi-config.js
Due: console-core

Remove content domain from catalog-ui and instances-ui (#828)
  catalog/src/commons/helpers.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassDetails/queries.js
  components/react/src/components/Markdown/Readme.md
  components/react/src/components/Markdown/index.js
  components/react/src/components/index.js
  instances/src/components/DataProvider/fragments.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: console-governance

Consume external link and requiredPermissions (#862)
  core/src/luigi-config/luigi-config.js
Due: console-core

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/
