Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/

Review fixes
  compass/src/App.scss
  compass/src/components/Api/Forms/CredentialForms/CredentialsForm.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.scss
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/style.scss
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Applications/CreateApplicationModal/styles.scss
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.component.js
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.scss
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.scss
  compass/src/components/Runtimes/Runtimes.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.scss
  compass/src/components/Scenarios/ScenarioDetails/shared/AssignEntityToScenarioModal/AssignEntityToScenarioModal.component.js
  compass/src/components/Scenarios/ScenarioDetails/shared/AssignEntityToScenarioModal/AssignEntityToScenarioModal.scss
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.component.js
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.scss
  compass/src/shared/components/Modal/Modal.js
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
  compass/src/shared/components/ModalWithForm/test/__snapshots__/ModalWithForm.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Add tests to generic list
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/ListActions/ListActions.js
  shared/components/GenericList/SearchInput.js
  shared/components/GenericList/test/GenericList.test.js
  shared/components/GenericList/test/__snapshots__/GenericList.test.js.snap
  shared/components/GenericList/test/__snapshots__/internalRenderers.test.js.snap
Due: none

Update fd-react version
  compass/package-lock.json
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Finish tests of GenericList
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/test/GenericList.test.js
  shared/components/GenericList/test/mock.js
Due: none

Move ListActions outside & add PropTypes
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/GenericList.scss
  shared/components/GenericList/SearchInput.js
  shared/components/ListActions/ListActions.js
  shared/components/ListActions/ListActions.scss
  shared/components/ListActions/test/ListActions.test.js
Due: none

add test for skipping actions
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/test/GenericList.test.js
Due: none

Change metadata to parameters
  common/src/types/rafter.ts
  content/src/services/queries.service.ts
  service-catalog-ui/catalog/src/components/ServiceClassDetails/queries.js
  service-catalog-ui/catalog/src/testing/serviceClassesMocks.js
  service-catalog-ui/instances/src/queries/fragments.js
  service-catalog-ui/instances/src/testing/instanceMocks.js
  tests/ui-tests/tests/docs-ui-test.js
Due: pre-master-console-content, post-master-console-content, pre-master-console-tests, post-master-console-tests

Fix field
  components/generic-documentation/src/loader/loader.ts
Due: none

Create Event API form
  compass/src/components/Api/Forms/EventApiForm.js
  compass/src/components/Apis/ApiHelpers.js
  compass/src/components/Apis/CreateApiForm/CreateApiForm.component.js
  compass/src/components/Apis/CreateApiForm/CreateApiForm.container.js
  compass/src/components/Apis/CreateEventApiForm/CreateEventApiForm.component.js
  compass/src/components/Apis/CreateEventApiForm/CreateEventApiForm.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.component.js
  compass/src/components/Shared/FileInput/FileInput.js
  compass/src/components/Shared/TextFormItem.js
Due: pre-master-console-compass, post-master-console-compass

add jsconfig file to support jest matchers suggestion
  jsconfig.json
Due: none

Add testing-library/react
  package-lock.json
  package.json
  shared/jestSetup.js
  shared/package.json
Due: none

add ListActions tests
  shared/components/ListActions/ListActions.js
  shared/components/ListActions/test/ListActions.test.js
  shared/components/ListActions/test/__snapshots__/ListActions.test.js.snap
  shared/components/__mocks__/popper.js.js
Due: none

Review fix
  compass/src/components/Api/Forms/ApiDataForm.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Due: pre-master-console-compass, post-master-console-compass

Create API form
  compass/src/components/Api/Forms/ApiForm.js
  compass/src/components/Api/Forms/CredentialForms/CredentialsForm.js
  compass/src/components/Api/Forms/CredentialForms/OAuthCredentialsForm.js
  compass/src/components/Apis/ApiHelpers.js
  compass/src/components/Apis/CreateApiForm/CreateApiForm.component.js
  compass/src/components/Apis/CreateEventApiForm/CreateEventApiForm.component.js
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
  components/react/package-lock.json
  package-lock.json
  shared/forms/getRefsValues.js
  shared/forms/index.js
  shared/index.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content

Remove unused tests and lines
  shared/components/GenericList/test/GenericList.test.js
Due: none

Render empty column in header only when needed
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/test/GenericList.test.js
Due: none

Finish basic creating
  compass/src/components/Api/Forms/CredentialForms/CredentialsForm.js
  compass/src/components/Apis/ApiHelpers.js
  compass/src/components/Apis/CreateApiForm/CreateApiForm.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.scss
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.scss
  compass/src/shared/components/Modal/Modal.js
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
Due: pre-master-console-compass, post-master-console-compass

Add [e]api file validation
  compass/src/components/Apis/ApiHelpers.js
  compass/src/components/Apis/CreateApiForm/CreateApiForm.component.js
  compass/src/components/Apis/CreateEventApiForm/CreateEventApiForm.component.js
Due: pre-master-console-compass, post-master-console-compass

Fix warning
  shared/forms/getRefsValues.js
Due: none

Fix ModalWithForm Modal
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.component.js
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.scss
  compass/src/components/Runtimes/CreateRuntimeForm/test/__snapshots__/CreateRuntimeForm.test.js.snap
  compass/src/shared/components/Modal/ControlledModal.js
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
  compass/src/shared/components/ModalWithForm/test/__snapshots__/ModalWithForm.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Fix ModalWithForm Modal behaviour
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
Due: pre-master-console-compass, post-master-console-compass

Stabilize tests and remove errors
  compass/src/components/Application/ApplicationDetails/UpdateApplicationForm/UpdateApplicationForm.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/test/ScenarioApplications.test.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/test/__snapshots__/ScenarioApplications.test.js.snap
  compass/src/components/Scenarios/ScenarioDetails/ScenarioRuntimes/test/ScenarioRuntimes.test.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioRuntimes/test/__snapshots__/ScenarioRuntimes.test.js.snap
  compass/src/setupTests.js
Due: pre-master-console-compass, post-master-console-compass

Remove 'no-cache' policy for watchQuery
  service-catalog-ui/instances/src/store/index.js
Due: none

Change FileInput, remove unnecessary files
  compass/src/App.component.js
  compass/src/components/Api/EditEventApi/EditEventApi.container.js
  compass/src/components/Api/Forms/ApiDataForm.js
  compass/src/components/Api/Forms/ApiForm.js
  compass/src/components/Apis/ApiHelpers.js
  compass/src/components/Apis/CreateApiForm/CreateApiForm.component.js
  compass/src/components/Apis/CreateEventApiForm/CreateEventApiForm.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.container.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/style.scss
  compass/src/components/Shared/FileInput/FileInput.1.js
  compass/src/components/Shared/FileInput/style.scss
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
Due: pre-master-console-compass, post-master-console-compass

Fix ModalWithForm Modal behaviour
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.component.js
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.scss
  compass/src/components/Runtimes/CreateRuntimeForm/test/__snapshots__/CreateRuntimeForm.test.js.snap
  compass/src/shared/components/Modal/ControlledModal.js
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
  compass/src/shared/components/ModalWithForm/test/__snapshots__/ModalWithForm.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Prevent popover from opening upwards
  components/angular/generic-list/src/app/modules/list/list-filter/list-filter.component.html
  core/src/styles.scss
Due: pre-master-console-core, post-master-console-core

Adjust GraphQL queries
  compass/src/components/Api/APICreationHelper.js
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
  compass/src/components/Api/ApiDetails/ApiDetails.container.js
  compass/src/components/Api/EditApi/APIViewModel.js
  compass/src/components/Api/EditApi/EditApi.component.js
  compass/src/components/Api/EditApi/EditApi.container.js
  compass/src/components/Api/EditApi/gql.js
  compass/src/components/Api/gql.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.container.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.component.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/mock.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.container.js
  compass/src/components/Application/gql.js
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Applications/Applications.container.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.container.js
  compass/src/components/Applications/gql.js
  compass/src/components/Runtimes/RegisterRuntimeForm/RegisterRuntimeForm.component.js
  compass/src/components/Runtimes/RegisterRuntimeForm/RegisterRuntimeForm.container.js
  compass/src/components/Runtimes/RegisterRuntimeForm/RegisterRuntimeForm.scss
  compass/src/components/Runtimes/RegisterRuntimeForm/test/RegisterRuntimeForm.test.js
  compass/src/components/Runtimes/RegisterRuntimeForm/test/__snapshots__/RegisterRuntimeForm.test.js.snap
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.container.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetailsHeader/RuntimeDetailsHeader.component.js
  compass/src/components/Runtimes/Runtimes.component.js
  compass/src/components/Runtimes/Runtimes.container.js
  compass/src/components/Runtimes/gql.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/ScenarioApplications.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/test/__snapshots__/ScenarioApplications.test.js.snap
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/test/mock.js
  compass/src/components/Scenarios/gql.js
Due: pre-master-console-compass, post-master-console-compass

prettier
  compass/src/components/Runtimes/RegisterRuntimeForm/RegisterRuntimeForm.component.js
Due: pre-master-console-compass, post-master-console-compass

fix test
  compass/src/components/Runtimes/RegisterRuntimeForm/test/__snapshots__/RegisterRuntimeForm.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

add apirules list view
  core-ui/src/components/ApiRules/ApiRules.js
  core-ui/src/components/App/App.js
  core-ui/src/gql/queries.js
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Move Spinner to react-shared
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsWrapper.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetailsWrapper.ui.test.js
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/components/Lambdas/test/Lambdas.test.js
  core-ui/src/components/NamespaceList/NamespaceList.js
  shared/components/Spinner/Spinner.js
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add actions and details link
  core-ui/src/components/ApiRules/ApiRules.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Generate package-locks with fresh installation
  components/react/package-lock.json
  core/package-lock.json
  lambda/package-lock.json
  logging/package-lock.json
  package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Change search to case-insensitive in GenericList
  shared/components/GenericList/SearchInput.js
  shared/components/GenericList/helpers.js
  shared/components/GenericList/test/GenericList.test.js
Due: none

Change toLocaleLowerCase to toLowerCase
  shared/components/GenericList/helpers.js
Due: none

Update the main README.md doc
  components/generic-documentation/README.md
Due: console-governance

Create api rule
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.js
  core-ui/src/components/ApiRules/CreateApiRule/AccessStrategy.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.scss
  core-ui/src/components/App/App.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
  core/src/app/app.config.ts
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.service.ts
  core/src/luigi-config/luigi-config.js
  shared/components/K8sNameInput/K8sNameInput.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Host instead of gateway
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  shared/components/K8sNameInput/K8sNameInput.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Code cleanup before MERGE
  compass/src/components/Api/EditApi/EditApi.component.js
  compass/src/components/Api/EditApi/EditApi.scss
  compass/src/components/Api/EditEventApi/EditEventApi.component.js
  compass/src/components/Api/EditEventApi/EditEventApi.scss
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
Due: pre-master-console-compass, post-master-console-compass
