Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

add retry to the failing test
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Fix CopiableText tests
  shared/components/CopiableText/CopiableText.js
  shared/components/CopiableText/test/CopiableText.test.js
Due: none

support allow access strategy in API Rules UI
  core-ui/src/components/ApiRules/AccessStrategy/AccessStrategy.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Unify findActiveFrame function
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Make genericList rows more compact
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/GenericList.scss
  shared/components/GenericList/components.js
  shared/components/ListActions/ListActions.js
Due: none

support allow access strategy in API Rules UI
  core-ui/src/components/ApiRules/AccessStrategy/AccessStrategy.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

remove retries
  tests/config.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

addd .testcaferc.json
  tests/.testcaferc.json
Due: pre-master-console-tests, post-master-console-tests

add extra visibilityCheck
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

experiment 1
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Revert "experiment 1"
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

decrease iframe selector timeout
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

increase navLinkTimeout
  tests/config.js
Due: pre-master-console-tests, post-master-console-tests

Fix ownerRef for Event Triggers and some texts
  core-ui/src/components/Lambdas/LambdasList/LambdasList.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/eventTriggers/createOwnerRef.js
  core-ui/src/components/Lambdas/helpers/eventTriggers/test/createOwnerRef.test.js
  shared/components/K8sNameInput/K8sNameInput.js
Due: pre-master-console-core-ui, post-master-console-core-ui

improve iframe loading
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

increase nav link timeout even more
  tests/config.js
Due: pre-master-console-tests, post-master-console-tests

expermiental 2
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

code review
  core-ui/src/components/ApiRules/AccessStrategy/AccessStrategy.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/accessStrategyTypes.js
  core-ui/src/index.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Add applications labels
  compass/src/App.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.scss
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.test.js
  compass/src/components/Application/ApplicationDetails/test/ApplicationDetails.test.js
Due: pre-master-console-compass, post-master-console-compass

experimental 3
  tests/config.js
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Update compass/src/components/Application/ApplicationDetails/test/ApplicationDetails.test.js
  compass/src/components/Application/ApplicationDetails/test/ApplicationDetails.test.js
Due: pre-master-console-compass, post-master-console-compass

Add -q for testing
  tests/package.json
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Review changes
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.test.js
  compass/src/components/Application/ApplicationDetails/test/ApplicationDetails.test.js
Due: pre-master-console-compass, post-master-console-compass

code review
  core-ui/src/components/ApiRules/accessStrategyTypes.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix scenarios
  compass/src/components/Applications/Applications.component.js
Due: pre-master-console-compass, post-master-console-compass

experimental 5
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Adjust brokers test
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Fix bugs connected with resource management section in Function UI view
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaReplicas.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaResources.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/test/ResourceManagement.test.js
  core-ui/src/components/Lambdas/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

experimental 6
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

experimental 7
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

enable firefox test on cluster
  tests/package.json
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

increase navLink retry
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Use alpha release
  tests/package-lock.json
  tests/package.json
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

change chrome to chromium on cluster
  tests/package.json
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

update usage kind, and make UI resilient to "n" suffix in cpu values
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/test/ResourceManagement.test.js
  core-ui/src/components/Lambdas/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

remove redundant ".?" in errors
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaReplicas.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaResources.js
Due: pre-master-console-core-ui, post-master-console-core-ui

remove console.log
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove old query
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
