Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/

Fix code after rebase
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/ApiRules/test/ApiRules.test.js
  core-ui/src/components/Applications/ApplicationList/test/ApplicationList.test.js
  core-ui/src/components/Applications/BoundNamespacesList/test/BoundNamespacesList.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindings.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindingsWrapper.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-whitesource-scan

Fix tests
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/test/EventTriggersWrapper.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Reduce pupeteer tests to one smoke test
  tests/package-lock.json
  tests/package.json
  tests/ui-tests/tests/smoke.js
  tests/ui-tests/utils/address.js
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Fix message
  shared/components/GenericList/SearchInput.js
Due: none

Remove bound namespaces on applicatons list view
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Display API tab with dropdown
  components/generic-documentation/src/layouts/CatalogUI.tsx
  components/generic-documentation/src/renderers/Group.renderer.tsx
  components/generic-documentation/src/renderers/styledOther.ts
Due: none

Improve selecting of active iframe and navigation links
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Merge ns tests, click on applications in nav
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Introduce apiDefinition type to keep things in one place
  components/generic-documentation/src/constants.ts
  components/generic-documentation/src/loader/loader.ts
  components/generic-documentation/src/renderers/Group.renderer.tsx
  components/generic-documentation/src/renderers/SingleAPIcontent.tsx
Due: none

Filter out markdown from api list
  components/generic-documentation/src/renderers/Group.renderer.tsx
Due: none

Improve selecting of left navigation links
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Use ModalWithForm in application template modal (core-ui)
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/CreateApplicationFromTemplateForm/CreateApplicationFromTemplateForm.js
  core-ui/src/components/Applications/CreateApplicationFromTemplateForm/CreateApplicationFromTemplateForm.scss
  core-ui/src/components/Applications/CreateApplicationFromTemplateForm/test/CreateApplicationFromTemplateForm.test.js
  core-ui/src/components/Applications/CreateApplicationFromTemplateForm/test/mocks.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Clean up code & improve dropdown click behaviour
  components/generic-documentation/src/renderers/Group.renderer.tsx
Due: none

add empty changes to catalog & instances
  service-catalog-ui/catalog/src/index.js
  service-catalog-ui/instances/src/index.js
Due: none

fix linter errors
  components/generic-documentation/src/constants.ts
  components/generic-documentation/src/renderers/Group.renderer.tsx
Due: none

Replace link with mocks in ConnectApplicationModal tests
  core-ui/src/components/Applications/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Split ConnectApplicationModal into modal and content
  core-ui/src/components/Applications/ConnectApplicationModal/ConnectApplication.js
  core-ui/src/components/Applications/ConnectApplicationModal/ConnectApplication.scss
  core-ui/src/components/Applications/ConnectApplicationModal/ConnectApplicationModal.js
  core-ui/src/components/Applications/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix ConnectApplicationModal in Compass
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplication.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplication.scss
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.container.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Due: pre-master-console-compass, post-master-console-compass

ui tests stabilisation
  tests/config.js
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

fix awaits
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Remove @y-kkamil from maintainers
  CODEOWNERS
Due: none

Cleanup OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

add pathParam placeholders
  components/generic-documentation/src/layouts/CatalogUI.tsx
  components/generic-documentation/src/renderers/Group.renderer.tsx
Due: none

Move ApiSelector to a separate file
  components/generic-documentation/src/layouts/CatalogUI.tsx
  components/generic-documentation/src/renderers/Group.renderer.tsx
  components/generic-documentation/src/renderers/helpers/ApiSelector.tsx
  components/generic-documentation/src/renderers/helpers/styled.ts
  components/react/package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-master-console-whitesource-scan

Remove unused code
  components/generic-documentation/src/renderers/helpers/styled.ts
Due: none

Add curl to docker image as first operation
  tests/Dockerfile
Due: pre-master-console-tests, post-master-console-tests

Test commit with displayName
  service-catalog-ui/catalog/src/components/ServiceClassDetails/queries.js
Due: none

add logs view to new lambdas view
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/useLogsView.js
  logging/src/components/LogsContainer.js
  logging/src/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-logging, post-master-console-logging

Add basic pagination support to generic list
  shared/components/GenericList/GenericList.js
Due: none

make cmf-logs a constant
  core-ui/src/components/Lambdas/LambdaDetails/useLogsView.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add readme
  tests/README.md
Due: console-governance, pre-master-console-tests, post-master-console-tests

make those tests pass
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetails.ui.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

commit tests for useLogsView
  core-ui/src/components/Lambdas/LambdaDetails/test/useLogsView.test.js
  core-ui/src/components/Lambdas/LambdaDetails/useLogsView.js
Due: pre-master-console-core-ui, post-master-console-core-ui

test interesting paths all paths
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetails.ui.test.js
  core-ui/src/components/Lambdas/LambdaDetails/test/useLogsView.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update README.md
  tests/README.md
Due: console-governance, pre-master-console-tests, post-master-console-tests

fix links
  CONTRIBUTING.md
Due: console-governance

Make runtimes functional component and cleanup unused queries
  compass/src/App.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.container.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetailsHeader/RuntimeDetailsHeader.component.js
  compass/src/components/Runtimes/Runtimes.component.js
  compass/src/components/Runtimes/Runtimes.container.js
  compass/src/components/Runtimes/Runtimes.js
  compass/src/components/Runtimes/gql.js
Due: pre-master-console-compass, post-master-console-compass

Fix sync problem
  compass/src/components/Scenarios/EnititesForScenarioCount.js
  compass/src/components/Scenarios/EntitiesForScenarioCounter/EnititesForScenarioCounter.js
  compass/src/components/Scenarios/EntitiesForScenarioCounter/test/EntitiesForScenarioCounter.test.js
  compass/src/components/Scenarios/EntitiesForScenarioCounter/test/mocks.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/ScenarioApplications.js
  compass/src/components/Scenarios/Scenarios.component.js
Due: pre-master-console-compass, post-master-console-compass

Update tests/README.md
  tests/README.md
Due: console-governance, pre-master-console-tests, post-master-console-tests
