Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/

Fix incorrect required BM for logging UI
  logging/src/index.js
Due: pre-master-console-logging, post-master-console-logging

Fix no tenant bug
  compass/public-luigi/config/config.js
  compass/src/ApolloClientProvider.js
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Add charset to Console Core
  core/src/index.html
Due: pre-master-console-core, post-master-console-core

Remove unnecessary libraries
  compass/package-lock.json
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Change SearchInput
  shared/components/GenericList/SearchInput.js
  shared/components/GenericList/style.scss
  shared/components/GenericList/test/__snapshots__/GenericList.test.js.snap
Due: none

Hide node from navigation
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation-helpers.js
Due: pre-master-console-core, post-master-console-core

Select Auth method if login form is not available
  tests/ui-tests/commands/console.js
Due: pre-master-console-tests, post-master-console-tests

Fix typo
  tests/ui-tests/commands/console.js
Due: pre-master-console-tests, post-master-console-tests

Fix selector
  tests/ui-tests/commands/console.js
Due: pre-master-console-tests, post-master-console-tests

Fix and improve tests
  compass/src/components/Api/Forms/CredentialForms/CredentialsForm.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.component.test.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.container.test.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/__snapshots__/ConnectApplicationModal.container.test.js.snap
  compass/src/components/Shared/MultiChoiceList/MultiChoiceList.component.js
  compass/src/components/Shared/MultiChoiceList/test/MultiChoiceList.test.js
  compass/src/components/Shared/MultiChoiceList/test/__snapshots__/MultiChoiceList.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Update missed lists
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarios.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/ScenarioApplications.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/test/__snapshots__/ScenarioApplications.test.js.snap
  compass/src/components/Scenarios/ScenarioDetails/ScenarioDetails.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioDetails.scss
  compass/src/components/Scenarios/ScenarioDetails/ScenarioRuntimes/ScenarioRuntimes.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioRuntimes/test/__snapshots__/ScenarioRuntimes.test.js.snap
  compass/src/components/Scenarios/ScenarioDetails/test/__snapshots__/ScenarioDetails.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Switch from asset-store to rafter resources in docs
  common/src/index.ts
  common/src/services/global/global.types.ts
  common/src/types/index.ts
  common/src/types/rafter.ts
  common/src/types/service-catalog.ts
  compass/src/shared/components/DocumentationComponent/DocumentationComponent.js
  components/generic-documentation/src/index.tsx
  components/generic-documentation/src/loader/index.ts
  components/generic-documentation/src/loader/loader.ts
  content/src/components/Content.tsx
  content/src/index.tsx
  content/src/services/clusterAssetGroups.service.ts
  content/src/services/docsTopics.service.ts
  content/src/services/index.ts
  content/src/services/navigation.service.ts
  content/src/services/queries.service.ts
  content/src/services/types.ts
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/queries.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
  service-catalog-ui/instances/src/queries/fragments.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-content, post-master-console-content

Update mocks in service-catalog tests
  service-catalog-ui/catalog/src/components/ServiceClassDetails/queries.js
  service-catalog-ui/catalog/src/testing/serviceClassesMocks.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/test/mocks.js
  service-catalog-ui/instances/src/testing/instanceMocks.js
Due: none

fadgfd
  tests/ui-tests/commands/console.js
Due: pre-master-console-tests, post-master-console-tests

dfgafdg
  tests/ui-tests/commands/console.js
Due: pre-master-console-tests, post-master-console-tests

adfgadfg
  tests/ui-tests/commands/console.js
Due: pre-master-console-tests, post-master-console-tests

adfgadfsg
  tests/ui-tests/commands/console.js
Due: pre-master-console-tests, post-master-console-tests

fdhds
  tests/ui-tests/commands/console.js
Due: pre-master-console-tests, post-master-console-tests

Works
  tests/ui-tests/commands/console.js
Due: pre-master-console-tests, post-master-console-tests

Rename ConnectApplicationModal test
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.test.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/__snapshots__/ConnectApplicationModal.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Force https in access strategy input
  core-ui/src/components/ApiRuleCreationDraft/AccessStrategy.js
Due: pre-master-console-core-ui, post-master-console-core-ui

make GenericList functional component part 1
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/ListActions/ListActions.js
Due: none

Prevent expanded search from increasing header height
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/style.scss
Due: none

Update MultiChoiceList & tests
  compass/src/components/Shared/MultiChoiceList/MultiChoiceList.component.js
  compass/src/components/Shared/MultiChoiceList/style.scss
  compass/src/components/Shared/MultiChoiceList/test/MultiChoiceList.test.js
  compass/src/components/Shared/MultiChoiceList/test/__snapshots__/MultiChoiceList.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

sdfa
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/SearchInput.js
  shared/components/GenericList/helpers.js
Due: none

dfag
  shared/components/GenericList/GenericList.js
Due: none

Works
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/SearchInput.js
Due: none

Update GenericList snapshots
  shared/components/GenericList/test/__snapshots__/GenericList.test.js.snap
Due: none

Remove unused variable
  logging/src/index.js
Due: pre-master-console-logging, post-master-console-logging

Add support for open API, fix proptypes error
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
  components/generic-documentation/src/render-engines/open-api/plugins.tsx
Due: pre-master-console-compass, post-master-console-compass

Render actions as buttons
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/ListActions/ListActions.js
  shared/components/GenericList/style.scss
Due: none

add items in list
  shared/components/GenericList/ListActions/ListActions.js
Due: none

Fix cache policy
  service-catalog-ui/instances/src/store/index.js
Due: none

Remove unused dependencies
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/internalRenderers.js
  shared/components/GenericList/test/internalRenderers.test.js
Due: none

Fix a typo
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Fix types and remove unused packages
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
Due: pre-master-console-compass, post-master-console-compass

Review fixes, introduce (hopefully) temporary solution for modal width
  compass/src/components/Api/Forms/CredentialForms/style.scss
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.scss
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/style.scss
  compass/src/components/Application/ApplicationDetails/UpdateApplicationForm/UpdateApplicationForm.component.js
  compass/src/components/Application/ApplicationDetails/UpdateApplicationForm/test/__snapshots__/UpdateApplicationForm.test.js.snap
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Applications/CreateApplicationModal/styles.scss
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.component.js
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.scss
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.component.js
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.scss
  compass/src/components/Runtimes/CreateRuntimeForm/test/__snapshots__/CreateRuntimeForm.test.js.snap
  compass/src/components/Runtimes/Runtimes.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.scss
  compass/src/components/Scenarios/ScenarioDetails/shared/AssignEntityToScenarioModal/AssignEntityToScenarioModal.component.js
  compass/src/components/Scenarios/ScenarioDetails/shared/AssignEntityToScenarioModal/AssignEntityToScenarioModal.scss
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.component.js
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.scss
  compass/src/components/Shared/MultiChoiceList/MultiChoiceList.component.js
  compass/src/shared/components/Modal/Modal.js
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
Due: pre-master-console-compass, post-master-console-compass

Fix button styling
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/style.scss
Due: none

Remove react-components dependency in GL
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/ListActions/ListActions.js
Due: none

Add NotFoundMessage
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/style.scss
Due: none
