Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/

Add label definitions list view
  catalog/package-lock.json
  compass/src/App.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitions.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitions.container.js
  compass/src/components/MetadataDefinitions/gql.js
  compass/src/config/luigi-config/navigation.js
  content/package-lock.json
  instances/package-lock.json
Due: pre-master-console-compass, post-master-console-compass

Remove debugger statement
  compass/src/components/MetadataDefinitions/MetadataDefinitions.component.js
Due: pre-master-console-compass, post-master-console-compass

Add --entry-file param to live-server command
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Add directive tests
  core/src/app/app.module.ts
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.ts
  core/src/app/shared/directives/filter-all-on-selected/filter-all-on-selected.directive.spec.ts
  core/src/app/shared/directives/filter-all-on-selected/filter-all-on-selected.directive.ts
Due: pre-master-console-core, post-master-console-core

Run prettier
  compass/src/App.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitions.component.js
  compass/src/components/MetadataDefinitions/gql.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Add metadatadefinition details view
  compass/src/App.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.container.js
  compass/src/components/MetadataDefinitions/MetadataDefinitions.component.js
  compass/src/components/MetadataDefinitions/gql.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Revert "Run prettier"
  compass/src/App.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitions.component.js
  compass/src/components/MetadataDefinitions/gql.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Revert "Revert "Run prettier""
  compass/src/App.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitions.component.js
  compass/src/components/MetadataDefinitions/gql.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Make FileInput component more generic
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/ApiDataForm.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/style.scss
  compass/src/components/Shared/FileInput/FileInput.js
  compass/src/components/Shared/FileInput/style.scss
  core/src/app/app.module.ts
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.spec.ts
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/api-definition-header-renderer/api-definition-header-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-header-renderer/filtered-apis-header-renderer.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.ts
  core/src/app/shared/components/url-link/url-link.component.html
  core/src/app/shared/components/url-link/url-link.component.ts
  core/src/app/shared/services/generic-helpers.service.spec.ts
  core/src/app/shared/services/generic-helpers.service.ts
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core, post-master-console-core

Add create label modal
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.component.js
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.container.js
  compass/src/components/Labels/CreateLabelModal/LabelSpecificationUploadHelper.js
  compass/src/components/Labels/gql.js
Due: pre-master-console-compass, post-master-console-compass

Show all content only if combobox is reopened
  core/src/app/shared/directives/filter-all-on-selected/filter-all-on-selected.directive.spec.ts
  core/src/app/shared/directives/filter-all-on-selected/filter-all-on-selected.directive.ts
Due: pre-master-console-core, post-master-console-core

change path to metadata definitions page
  compass/src/App.component.js
Due: pre-master-console-compass, post-master-console-compass

Code review fixes
  compass/src/components/MetadataDefinitions/MetadataDefinitions.component.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Improve filtering behaviour
  core/src/app/shared/directives/filter-all-on-selected/filter-all-on-selected.directive.ts
Due: pre-master-console-core, post-master-console-core

Introduce JSONeditor
  compass/package-lock.json
  compass/package.json
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
Due: pre-master-console-compass, post-master-console-compass

Add JSON validation
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
Due: pre-master-console-compass, post-master-console-compass

Clear dropdown on invalid value
  core/src/app/shared/directives/filter-all-on-selected/filter-all-on-selected.directive.ts
Due: pre-master-console-core, post-master-console-core

Make it work!
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.container.js
  compass/src/components/MetadataDefinitions/gql.js
Due: pre-master-console-compass, post-master-console-compass

Fix list error
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarios.component.js
  compass/src/shared/components/GenericList/GenericList.js
  compass/src/shared/components/GenericList/SearchInput.js
  compass/src/shared/components/GenericList/helpers.js
  compass/src/shared/components/GenericList/style.scss
Due: pre-master-console-compass, post-master-console-compass

Adjust AddonsConfiguration mutations
  add-ons/src/services/Mutations.service.ts
  add-ons/src/services/Queries.service.ts
  add-ons/src/services/Subscriptions.service.ts
Due: none

Fix dropdown showing for a moment issue
  core/src/app/shared/directives/filter-all-on-selected/filter-all-on-selected.directive.ts
Due: pre-master-console-core, post-master-console-core

Functionality done
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.container.js
Due: pre-master-console-compass, post-master-console-compass

Fix GenericList tests
  compass/package-lock.json
  compass/package.json
  compass/src/shared/components/GenericList/SearchInput.js
  compass/src/shared/components/GenericList/test/GenericList.test.js
  compass/src/shared/components/GenericList/test/__snapshots__/GenericList.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Fix compass r4load bug
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Apply name refactoring
  compass/src/shared/components/GenericList/GenericList.js
  compass/src/shared/components/GenericList/SearchInput.js
Due: pre-master-console-compass, post-master-console-compass

Install Ajv library
  compass/package-lock.json
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Remove odata from gitignore
  catalog/.gitignore
  instances/.gitignore
Due: none

Improve schema validation
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
Due: pre-master-console-compass, post-master-console-compass

Update package.json
  package.json
Due: none

Changes after review
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.component.js
  compass/src/components/Shared/AssignScenario/AssignScenarioForm.component.js
Due: pre-master-console-compass, post-master-console-compass

Add create label modal
  compass/src/components/MetadataDefinitions/MetadataDefinitions.component.js
Due: pre-master-console-compass, post-master-console-compass

Add form to add scenarios while creating application
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.container.js
  compass/src/components/Applications/gql.js
Due: pre-master-console-compass, post-master-console-compass

Minor changes
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Fix csses
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Shared/AssignScenario/AssignScenarioForm.component.js
Due: pre-master-console-compass, post-master-console-compass

Make linter happy, refactor test
  core/src/app/shared/directives/filter-all-on-selected/filter-all-on-selected.directive.spec.ts
Due: pre-master-console-core, post-master-console-core

Clear modal form after closing it
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.ts
Due: pre-master-console-core, post-master-console-core

Fix permissiond with resolve stage
  service-catalog-ui/Makefile
Due: none

Fix permissiond with resolve stage
  service-catalog-ui/Makefile
  service-catalog-ui/package.json
Due: none
