Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

remove leftover types
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
Due: none

Add few fixes
  content/src/components/MainPage/MainPage.component.js
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Due: none

strip resource rules
  core/src/luigi-config/luigi-config.js
Due: console-core

Add few fixes
  content/src/components/MainPage/MainPage.component.js
Due: none

Remove not needed providers from tests, simplify code
  core/src/app/app.module.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.spec.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.spec.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.spec.ts
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/content/namespaces/services/namespaces.service.spec.ts
  core/src/app/content/settings/idp-presets/idp-presets.service.spec.ts
  core/src/app/shared/services/graphql-client-service.ts
Due: console-core

update query
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
Due: none

Fix MainPage.container
  content/src/components/MainPage/MainPage.container.js
Due: none

fix html warning
  content/public/index.html
Due: none

Update LeftNavigation to handle more groupNames
  content/src/commons/helpers.js
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/MainPage/MainPage.component.js
  content/src/components/MainPage/queries.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Due: none

remove unnecesary import
  content/src/components/MainPage/MainPage.component.js
Due: none

fix nasty typo and make content fetching easier
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/MainPage/MainPage.container.js
Due: none

remove unused import
  content/src/components/MainPage/MainPage.container.js
Due: none

remove comments
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Due: none

add temporary console.logs
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Due: none

show "Components" tab as first one after "Kyma" in left nav
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Due: none

remove unneded console,logs and handle array of files
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationSections.js
Due: none

Fix scrollspy issue
  content/src/components/MainPage/MainPage.component.js
Due: none

Update docs nav sections to be collapsible
  content/package-lock.json
  content/package.json
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/styled.js
Due: none

Add dropdown icon and fix scrollspy
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/styled.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
Due: none

Add few fixes
  content/src/components/MainPage/MainPage.container.js
Due: none

Small refactorings
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/shared/services/graphql-client-service.ts
Due: console-core

Add few fixes
  content/src/App.js
Due: none

Add few fixes
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/styled.js
Due: none

Add few fixes
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/Navigation/RightNavigation/RightNavigation.js
Due: none

Make Content-UI more versatile (#797)
  content/package-lock.json
  content/package.json
  content/public/index.html
  content/src/App.js
  content/src/commons/helpers.js
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/MainPage/MainPage.component.js
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationSections.js
  content/src/components/Navigation/LeftNavigation/NavigationList/styled.js
  content/src/components/Navigation/RightNavigation/RightNavigation.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
Due: none

Don't send request on page nuber and filters changed
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Due: console-core

Unsubscribe from the previous subscription before creating a new one, small bug fix
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/apis.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.ts
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/secrets/secret-detail/secret-detail.component.ts
  core/src/app/content/namespaces/operation/secrets/secrets.component.ts
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.ts
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.ts
  core/src/app/content/namespaces/operation/services/services.component.ts
  core/src/app/content/settings/applications/applications-entry-renderer/applications-entry-renderer.component.ts
  core/src/app/shared/components/resource-uploader/services/resource-upload.service.ts
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.ts
Due: console-core

Update add-ons module url in config
  core/src/app/app.config.ts
Due: console-core

Update local domain bindings mechanizm
  core/src/luigi-config/luigi-config.js
Due: console-core

add label to system namespaces
  core/src/app/content/workspace-overview/namespace-card/namespace-card.component.html
Due: console-core

Fix
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Due: console-core

define keys for labels
  core/src/app/shared/datamodel/k8s/generic/meta-data.ts
Due: console-core

Update local dev domain binding mechanizm
  core/src/luigi-config/luigi-config.js
Due: console-core

refactor getData function together with Daria
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Due: console-core

Remove 'unsubscribe' method
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Due: console-core

Fix ui tests for service catalog
  tests/README.md
  tests/ui-tests/tests/catalog-ui-test.js
Due: console-governance, console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/
