Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Work on valitation
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.container.js
  compass/src/components/Applications/gql.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
Due: none

Work on valitation
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
Due: none

Create application modal
  compass/package-lock.json
  compass/package.json
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.js
  compass/src/components/Applications/CreateApplicationModal/labelsSchema.js
  compass/src/components/Applications/CreateApplicationModal/styles.scss
  compass/src/components/Applications/gql.js
  compass/src/components/Runtimes/RuntimeList/RuntimeList.js
  compass/src/components/Shared/JSONEditor.js
Due: none

Work on valitation
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.container.js
  compass/src/components/Applications/gql.js
Due: none

Validate labels
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.js
  compass/src/components/Shared/JSONEditor.js
Due: none

Finish integration with GQL
  compass/src/components/Application/ApplicationDetails/AddAPIModal/APIUploadHelper.js
  compass/src/components/Application/ApplicationDetails/AddAPIModal/AddAPIModal.js
  compass/src/components/Application/ApplicationDetails/AddAPIModal/FileInput.js
  compass/src/components/addapitest.js
Due: none

Prattier
  compass/src/App.component.js
  compass/src/App.container.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.container.js
  compass/src/components/Applications/CreateApplicationModal/labelsSchema.js
  compass/src/components/Applications/gql.js
  compass/src/components/Runtimes/RuntimeList/RuntimeList.js
  compass/src/components/Shared/JSONEditor.js
  compass/src/gql.js
  compass/src/index.js
  compass/src/store/Notification/defaults.js
  compass/src/store/Notification/resolvers.js
  compass/src/store/defaults.js
  compass/src/store/index.js
  compass/src/store/resolvers.js
Due: none

Review changes
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
Due: none

Make search component based on onChange event
  compass/src/components/Applications/Applications.js
  compass/src/shared/components/GenericList/GenericList.js
  compass/src/shared/components/GenericList/internalRenderers.js
  components/react/src/components/Filter/index.js
Due: pre-master-console-react-components, post-master-console-react-components

Minor improvements
  compass/src/shared/components/GenericList/GenericList.js
Due: none

Move "Create application" button to Applications header
  compass/src/App.component.js
  compass/src/App.js
  compass/src/App.scss
  compass/src/components/Applications/Applications.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Runtimes/RuntimeList/RuntimeList.js
  compass/src/config/luigi-config/navigation.js
  compass/src/shared/components/GenericList/GenericList.js
Due: none

Add real glyph to Create application button
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
Due: none

Fix UI tests
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

Add and test cache update
  compass/src/components/Application/ApplicationDetails/AddAPIModal/AddAPIModal.js
  compass/src/components/Application/ApplicationDetails/AddAPIModal/FileInput.js
  compass/src/components/Application/ApplicationDetails/AddAPIModal/TextFormItem.js
  compass/src/components/Application/gql.js
  compass/src/components/addapitest.js
Due: none

Remove search input placeholder
  compass/src/shared/components/GenericList/GenericList.js
Due: none

Minor improvements
  compass/src/components/Applications/Applications.js
  compass/src/shared/components/GenericList/GenericList.js
Due: none

Bring back dragging
  compass/src/components/Application/ApplicationDetails/AddAPIModal/AddAPIModal.js
  compass/src/components/Application/ApplicationDetails/AddAPIModal/FileInput.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
Due: none

Fix prettier
  tests/ui-tests/commands/console.js
Due: console-tests

Fix linter
  core/src/app/content/settings/organisation/organisation.component.ts
Due: pre-master-console-core, post-master-console-core

Fix prettier
  core/src/app/content/workspace-overview/namespace-card/namespace-card.component.ts
Due: pre-master-console-core, post-master-console-core

Run prettier
  compass/src/components/Applications/test/Applications.test.js
  compass/src/components/Applications/test/mock.js
  compass/src/setupTests.js
  compass/src/shared/components/GenericList/helpers.js
  compass/src/shared/components/GenericList/internalRenderers.js
  compass/src/shared/components/GenericList/test/GenericList.test.js
  compass/src/shared/components/GenericList/test/internalRenderers.test.js
  compass/src/shared/components/GenericList/test/mock.js
Due: none

Revert one change
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

Fix UI tests
  tests/ui-tests/tests/console-basic-test.js
Due: console-tests

Fix merge changes
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.js
  compass/src/config/luigi-config/navigation.js
Due: none

Bring back 'install' command
  compass/package-lock.json
  compass/package.json
Due: none

Fix small bug
  compass/src/shared/components/GenericList/GenericList.js
Due: none

Update snapshots
  compass/src/shared/components/GenericList/test/__snapshots__/GenericList.test.js.snap
Due: none

Integrated new list
  compass/src/App.scss
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
Due: none

Apply layout changes
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.js
  compass/src/components/Shared/LabelDisplay.js
Due: none

Add unsafe-perm to install command
  compass/package.json
Due: none

Remove postinstall
  compass/package.json
Due: none

Work on deleting apis
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/EventApiDeleteModal.js
  compass/src/shared/components/GenericList/GenericList.js
Due: none

Move logic to k8s data provider
  core/package-lock.json
  core/src/app/content/namespaces/operation/kubernetes-data-provider.ts
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.ts
Due: pre-master-console-core, post-master-console-core

Improve refreshing, apply lint
  compass/src/components/Application/ApplicationDetails/AddAPIModal/APIUploadHelper.js
  compass/src/components/Application/ApplicationDetails/AddAPIModal/AddAPIModal.js
  compass/src/components/Application/ApplicationDetails/AddAPIModal/FileInput.js
  compass/src/components/Application/ApplicationDetails/AddAPIModal/TextFormItem.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApiDeleteModal.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/EventApiDeleteModal.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/addapitest.js
  compass/src/shared/components/GenericList/GenericList.js
Due: none

Install missing peerDependency
  compass/package-lock.json
  compass/package.json
Due: none

Remove unused files, add user-friendly notifications
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApiDeleteModal.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.container.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/APIUploadHelper.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.container.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/FileInput.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/TextFormItem.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/style.scss
  compass/src/components/addapitest.js
  compass/src/store/Notification/resolvers.js
Due: none

Fix testsssss
  core/package-lock.json
  lambda/package-lock.json
  tests/ui-tests/tests/lambda-ui-test.js
Due: pre-master-console-core, post-master-console-core, console-tests

Allow "no items found" message to be configurable
  compass/src/components/Applications/Applications.js
  compass/src/shared/components/GenericList/GenericList.js
  components/react/src/components/TableWithActions/TableWithActionsList/index.js
Due: pre-master-console-react-components, post-master-console-react-components

Move GQL logic to container files
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/EventApiDeleteModal.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.container.js
  compass/src/components/Application/gql.js
  compass/src/shared/components/GenericList/GenericList.js
Due: none

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/
