Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/

revert config.js files
  add-ons/public/config/config.js
  content/public/config/config.js
  service-catalog-ui/brokers/public/config/config.js
  service-catalog-ui/catalog/public/config/config.js
  service-catalog-ui/instances/public/config/config.js
Due: prow/console/brokers

revert config.js files in logging
  logging/.gitignore
  logging/public/config/config.js
Due: pre-master-console-logging, post-master-console-logging

add QueryInput component
  logging/src/components/Logs/Logs.js
  logging/src/components/Logs/SearchParams.reducer.js
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
  logging/src/components/Shared/QueryInput/QueryInput.component.js
Due: pre-master-console-logging, post-master-console-logging

Lambda Logs in Split View
  lambda/package-lock.json
  lambda/package.json
  lambda/src/app/lambdas/lambda-details/lambda-details.component.html
  lambda/src/app/lambdas/lambda-details/lambda-details.component.scss
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  logging/src/components/CompactHeader/CompactHeader.js
  logging/src/components/CompactHeader/CompactHeader.scss
  logging/src/components/Logs/Logs.js
  logging/src/components/LogsContainer.js
  logging/src/services/httpService.js
  package.json
Due: pre-master-console-logging, post-master-console-logging

Fix CompactHeader test
  logging/src/components/CompactHeader/test/CompactHeader.test.js
  logging/src/components/CompactHeader/test/__snapshots__/CompactHeader.test.js.snap
Due: pre-master-console-logging, post-master-console-logging

Disable websocket releted ui tests until they are stable
  tests/ui-tests/tests/catalog-ui-test.js
Due: pre-master-console-tests, post-master-console-tests

Move actions to reducer
  logging/src/components/Logs/Logs.js
  logging/src/components/Logs/SearchParams.reducer.js
  logging/src/components/Shared/QueryInput/QueryInput.component.js
Due: pre-master-console-logging, post-master-console-logging

Increase SlwMo
  tests/ui-tests/config.js
  tests/ui-tests/tests/catalog-ui-test.js
Due: pre-master-console-tests, post-master-console-tests

Add enzyme-to-json
  logging/package-lock.json
  logging/package.json
  logging/src/setupTests.js
Due: pre-master-console-logging, post-master-console-logging

add useSearchParams hook
  logging/src/components/Header/Header.js
  logging/src/components/Logs/Logs.js
  logging/src/components/Logs/SearchParams.reducer.js
Due: pre-master-console-logging, post-master-console-logging

Rename QueryInput
  logging/src/components/Shared/QueryInput/QueryInput.js
Due: pre-master-console-logging, post-master-console-logging

Add some tests
  logging/src/components/Header/test/Header.test.js
  logging/src/components/Header/test/Header.ui.test.js
  logging/src/components/Header/test/__snapshots__/Header.test.js.snap
  logging/src/components/Header/test/__snapshots__/Header.ui.test.js.snap
  logging/src/components/Logs/test/Logs.test.js
  logging/src/components/Logs/test/__snapshots__/Logs.test.js.snap
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
  logging/src/components/Shared/AdvancedSettings/test/AdvancedSettings.test.js
  logging/src/components/Shared/AdvancedSettings/test/AdvancedSettings.ui.test.js
  logging/src/components/Shared/AdvancedSettings/test/__snapshots__/AdvancedSettings.test.js.snap
  logging/src/components/Shared/QueryInput/test/QueryInput.test.js
Due: pre-master-console-logging, post-master-console-logging

Fix compilation errors
  logging/src/components/Header/Header.js
  logging/src/components/Logs/Logs.js
  logging/src/components/Logs/SearchParams.reducer.js
  logging/src/components/LogsContainer.js
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
Due: pre-master-console-logging, post-master-console-logging

Temp ignore react hooks linter error
  logging/src/components/Logs/Logs.js
Due: pre-master-console-logging, post-master-console-logging

Fix header toolbar styling
  logging/src/components/Header/Header.js
  logging/src/components/Header/Header.scss
Due: pre-master-console-logging, post-master-console-logging

fix paddings in Header
  logging/src/components/Header/Header.js
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
Due: pre-master-console-logging, post-master-console-logging

Fix styles in Compact Header
  logging/src/components/CompactHeader/CompactHeader.js
Due: pre-master-console-logging, post-master-console-logging

Style no filter message
  logging/src/components/Logs/Logs.js
  logging/src/components/Logs/Logs.scss
Due: pre-master-console-logging, post-master-console-logging

Change sort dir labels
  logging/src/components/CompactHeader/CompactHeader.js
  logging/src/components/Header/Header.js
  logging/src/components/Shared/SelectDropdown/SelectDropdown.js
  logging/src/constants.js
Due: pre-master-console-logging, post-master-console-logging

Fix miliseconds sorting
  logging/src/components/Logs/Logs.js
Due: pre-master-console-logging, post-master-console-logging

Unique values in label filter
  logging/src/components/Logs/SearchParams.reducer.js
Due: pre-master-console-logging, post-master-console-logging

Improve health check detection
  logging/src/components/Logs/Logs.js
Due: pre-master-console-logging, post-master-console-logging

Review fixes
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/queries/mutations.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/queries/queries.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/test/ServiceInstanceDetails.test.js
  service-catalog-ui/instances/src/queries/mutations.js
  service-catalog-ui/instances/src/queries/queries.js
Due: none

Fix log container closing upon
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Move some of the instances dependencies to the outer package.json
  package.json
  service-catalog-ui/instances/package.json
Due: none

Update notification msg for sending test events
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Fix AutoRefreshbutton tests
  logging/src/components/Shared/AutoRefreshButton/test/AutoRefreshButton.test.js
  logging/src/components/Shared/AutoRefreshButton/test/AutoRefreshButton.ui.test.js
Due: pre-master-console-logging, post-master-console-logging

Remove old tests for queryTransformService
  logging/src/services/test/queryTransformService.test.js
Due: pre-master-console-logging, post-master-console-logging

Reorganize and fix test of DropdownRenderer
  logging/src/components/Shared/LabelsInput/DropdownRenderer/DropdownRenderer.js
  logging/src/components/Shared/LabelsInput/DropdownRenderer/test/DropdownRenderer.test.js
  logging/src/components/Shared/LabelsInput/DropdownRenderer/test/__snapshots__/DropdownRenderer.test.js.snap
Due: pre-master-console-logging, post-master-console-logging

Update available labels list
  logging/src/constants.js
Due: pre-master-console-logging, post-master-console-logging

Fix tests AdvancedSettings, LabelsDisplay, SearchInput
  logging/src/components/Shared/AdvancedSettings/test/__snapshots__/AdvancedSettings.test.js.snap
  logging/src/components/Shared/LabelsDisplay/test/LabelsDisplay.test.js
  logging/src/components/Shared/LabelsDisplay/test/LabelsDisplay.ui.test.js
  logging/src/components/Shared/SearchInput/test/SearchInput.test.js
  logging/src/components/Shared/SearchInput/test/SearchInput.ui.test.js
  logging/src/components/Shared/SearchInput/test/__snapshots__/SearchInput.test.js.snap
Due: pre-master-console-logging, post-master-console-logging

Update tests
  logging/src/components/CompactHeader/test/__snapshots__/CompactHeader.test.js.snap
  logging/src/components/Header/test/__snapshots__/Header.test.js.snap
  logging/src/components/LogTable/test/LogTable.test.js
  logging/src/components/LogTable/test/__snapshots__/LogTable.test.js.snap
  logging/src/components/Logs/test/__snapshots__/Logs.test.js.snap
  logging/src/components/Shared/LabelsInput/DropdownRenderer/DropdownRenderer.js
  logging/src/components/Shared/LabelsInput/DropdownRenderer/test/DropdownRenderer.test.js
  logging/src/components/Shared/LabelsInput/DropdownRenderer/test/DropdownRenderer.ui.test.js
  logging/src/components/Shared/LabelsInput/DropdownRenderer/test/__snapshots__/DropdownRenderer.ui.test.js.snap
  logging/src/components/Shared/ResultsOptionsDropdown/test/ResultOptionsDropdown.test.js
Due: pre-master-console-logging, post-master-console-logging

Small fixes
  logging/src/components/CompactHeader/CompactHeader.js
  logging/src/components/Header/Header.js
  logging/src/components/Header/test/__snapshots__/Header.test.js.snap
  logging/src/components/Shared/SelectDropdown/SelectDropdown.js
  logging/src/components/Shared/SelectDropdown/test/SelectDropdown.test.js
Due: pre-master-console-logging, post-master-console-logging

Change massage in log ui on empty filter
  logging/src/components/Logs/Logs.js
Due: pre-master-console-logging, post-master-console-logging

add core-ui config to ignored from git index
  package.json
Due: none

Remove React dev tools connector
  core-ui/public/index.html
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix react-components
  core-ui/Makefile
  core-ui/package.json
Due: pre-master-console-core-ui, post-master-console-core-ui

Add missing code owners
  CODEOWNERS
Due: none

buggy subscriptions
  core-ui/src/components/NamespaceList/NamespaceList.js
  core-ui/src/queries/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix pods for logs
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
Due: pre-master-console-core, post-master-console-core
