Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/

Update readme to match guidelines
  compass/README.md
Due: console-governance

Update compass/README.md
  compass/README.md
Due: console-governance

Fix render labels in table of add-ons-ui
  add-ons/src/components/Table/TableContent.component.tsx
  add-ons/src/components/Table/styled.ts
  add-ons/src/constants.ts
  add-ons/src/services/Labels.service.ts
  add-ons/src/types.ts
Due: none

Disable "update" button when there is no applications bound
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.html
Due: console-core

Fix filter icon
  add-ons/src/components/Table/FilterPopover/FilterPopover.component.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopover.container.tsx
Due: none

Add mock test
  compass/src/App.test.js
  compass/src/Mock.test.js
Due: none

Draft
  compass/src/commons/builder.js
  compass/src/components/Runtimes/RuntimeList/RuntimeList.js
  compass/src/config/luigi-config/navitagion.js
  compass/src/index.js
Due: none

Customize OpenAPI component styling
  catalog/src/components/ServiceClassDetails/SwaggerApi/CustomSwaggerStyles.js
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerConsole.component.js
  catalog/src/components/ServiceClassDetails/SwaggerApi/plugins.js
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerConsole.component.js
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerCustomStyles.jsx
Due: none

update styles
  catalog/src/components/ServiceClassDetails/SwaggerApi/CustomSwaggerStyles.js
  catalog/src/components/ServiceClassDetails/SwaggerApi/assets/content-type-select-background-image.png
  catalog/src/components/ServiceClassDetails/SwaggerApi/assets/responsesSelect.png
  catalog/src/components/ServiceClassDetails/SwaggerApi/assets/schemes-background-image.png
  catalog/src/components/ServiceClassDetails/SwaggerApi/plugins.js
Due: none

Update styling
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassDetails/SwaggerApi/CustomSwaggerStyles.js
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerConsole.component.js
  catalog/src/components/ServiceClassDetails/SwaggerApi/plugins.js
  components/react/package-lock.json
Due: none

style Model section
  catalog/src/components/ServiceClassDetails/SwaggerApi/CustomSwaggerStyles.js
  catalog/src/components/ServiceClassDetails/SwaggerApi/ModelCollapse.jsx
  catalog/src/components/ServiceClassDetails/SwaggerApi/Models.jsx
  catalog/src/components/ServiceClassDetails/SwaggerApi/plugins.js
Due: none

add even more styles
  catalog/src/components/ServiceClassDetails/SwaggerApi/CustomSwaggerStyles.js
Due: none

Update Models css
  catalog/package-lock.json
  catalog/package.json
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerConsole.component.js
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/CustomSwaggerStyles.js
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/ModelCollapse.jsx
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/Models.jsx
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/OperationTag.jsx
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/SchemesWrapper.jsx
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/assets/content-type-select-background-image.png
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/assets/responsesSelect.png
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/assets/schemes-background-image.png
  catalog/src/components/ServiceClassDetails/SwaggerApi/plugins.js
Due: none

small fixes for bugged models
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/CustomSwaggerStyles.js
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/ModelCollapse.jsx
Due: none

remove unnecesary lines and rebase
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
Due: none

make css more specific
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/CustomSwaggerStyles.js
Due: none

small css changes and delete unnecesary console.log
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/CustomSwaggerStyles.js
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/OperationTag.jsx
Due: none

update styling with some small changes
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/CustomSwaggerStyles.js
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerCustomComponents/CustomSwaggerStyles.js
Due: none

copy work done in catalog into instances-ui
  instances/package-lock.json
  instances/package.json
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerConsole.component.js
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerCustomComponents/CustomSwaggerStyles.js
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerCustomComponents/ModelCollapse.jsx
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerCustomComponents/Models.jsx
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerCustomComponents/OperationTag.jsx
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerCustomComponents/SchemesWrapper.jsx
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerCustomComponents/assets/content-type-select-background-image.png
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerCustomComponents/assets/responsesSelect.png
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerCustomComponents/assets/schemes-background-image.png
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerCustomStyles.jsx
  instances/src/components/ServiceInstanceDetails/SwaggerApi/plugins.js
Due: none

review changes
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/SchemesWrapper.jsx
  catalog/src/components/ServiceClassDetails/SwaggerApi/plugins.js
  instances/src/components/ServiceInstanceDetails/SwaggerApi/plugins.js
Due: none

delete unnecesary files
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerApiConsole.component.js
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerApiReference.component.js
Due: none

final touches
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/CustomSwaggerStyles.js
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerCustomComponents/CustomSwaggerStyles.js
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerCustomComponents/SchemesWrapper.jsx
Due: none

Delete "expand all" button
  catalog/src/components/ServiceClassDetails/SwaggerApi/SwaggerCustomComponents/SchemesWrapper.jsx
  instances/src/components/ServiceInstanceDetails/SwaggerApi/SwaggerCustomComponents/SchemesWrapper.jsx
Due: none

Set proper tenant header
  compass/package-lock.json
  compass/package.json
  compass/src/index.js
  compass/src/store/index.js
Due: none

Lock version of fiori-fundamentals and fundamental-react
  components/react/package-lock.json
  components/react/package.json
Due: none

Update Luigi to 0.5.0, improve context switching
  core/package-lock.json
  core/package.json
  core/src/luigi-config/luigi-config.js
Due: console-core

Small improvements
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  compass/src/config/luigi-config/navitagion.js
Due: none

Fix typo, fix context switcher label
  compass/src/config/luigi-config/main.js
  compass/src/config/luigi-config/navigation.js
Due: none

Update codeowners for compass
  CODEOWNERS
Due: none

Removing errors after F-ngx update
  components/angular/generic-list/src/app/modules/list/empty-list/empty-list.component.html
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.html
  components/angular/generic-list/src/app/modules/list/generic-table/generic-table.component.html
  core/package-lock.json
  core/package.json
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
  core/src/app/content/namespaces/namespace-details/namespace-details.component.html
  core/src/app/content/namespaces/operation/kubernetes-element-list-compact.component.html
  core/src/app/content/namespaces/operation/secrets/secret-detail/secret-detail.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/application-details/bindings-details-modal/bindings-details-modal.component.ts
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.ts
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.ts
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.ts
  core/src/app/content/settings/applications/edit-application-modal/edit-application-modal.component.ts
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.ts
  core/src/app/content/settings/organisation/organisation.component.html
  core/src/app/shared/components/confirmation-modal/confirmation-modal.component.html
  core/src/app/shared/components/confirmation-modal/confirmation-modal.component.ts
  core/src/app/shared/components/copy2clipboard-modal/copy2clipboard-modal.component.ts
  core/src/app/shared/components/information-modal/information-modal.component.ts
  core/src/app/shared/components/json-editor-modal/json-editor-modal.component.ts
  core/src/app/shared/components/permissions/bindings/bindings.component.html
  core/src/app/shared/components/permissions/role-details/role-details.component.html
  core/src/app/shared/components/resource-uploader/resource-uploader-modal/resource-uploader-modal.component.ts
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.ts
  core/src/tsconfig.app.json
  core/tsconfig.json
Due: console-core

Part 2
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.html
  components/angular/generic-list/src/app/modules/list/generic-table/generic-table.component.html
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.html
  components/angular/generic-list/src/app/modules/list/list-filter/list-filter.component.html
  components/angular/generic-list/src/app/modules/list/paging/paging.component.html
  core/src/app/content/namespaces/configuration/apis/apis.component.html
  core/src/app/content/namespaces/configuration/resources/resources.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-details/namespace-details.component.html
  core/src/app/content/namespaces/operation/kubernetes-element-list.component.html
  core/src/app/content/namespaces/operation/secrets/secret-detail/secret-detail.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/application-details/bindings-details-modal/bindings-details-modal.component.html
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.html
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.html
  core/src/app/content/settings/applications/applications.component.html
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.html
  core/src/app/content/settings/applications/edit-application-modal/edit-application-modal.component.html
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.html
  core/src/app/content/settings/idp-presets/idp-presets.component.html
  core/src/app/content/settings/organisation/organisation.component.html
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.html
  core/src/app/shared/components/confirmation-modal/confirmation-modal.component.html
  core/src/app/shared/components/copy2clipboard-modal/copy2clipboard-modal.component.html
  core/src/app/shared/components/information-modal/information-modal.component.html
  core/src/app/shared/components/json-editor-modal/json-editor-modal.component.html
  core/src/app/shared/components/permissions/permissions.component.html
  core/src/app/shared/components/permissions/role-details/role-details.component.html
  core/src/app/shared/components/resource-uploader/resource-uploader-modal/resource-uploader-modal.component.html
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.html
Due: console-core

Add edit namespace modal
  core/src/app/app.module.ts
  core/src/app/content/namespaces/namespace-details/namespace-details.component.html
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
  core/src/app/content/namespaces/namespace-edit/namespace-edit.component.html
  core/src/app/content/namespaces/namespace-edit/namespace-edit.component.scss
  core/src/app/content/namespaces/namespace-edit/namespace-edit.component.spec.ts
  core/src/app/content/namespaces/namespace-edit/namespace-edit.component.ts
  core/src/app/content/namespaces/services/namespaces.service.ts
Due: console-core

Formatting code
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
  core/src/app/content/namespaces/namespace-edit/namespace-edit.component.html
  core/src/app/content/namespaces/namespace-edit/namespace-edit.component.ts
Due: console-core

Review changes
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
  core/src/app/content/namespaces/namespace-edit/namespace-edit.component.scss
  core/src/app/content/namespaces/namespace-edit/namespace-edit.component.ts
Due: console-core

Fix
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
Due: console-core

Part 3
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.html
  core/src/app/content/namespaces/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.html
  core/src/app/content/settings/applications/application-details/bindings-details-modal/bindings-details-modal.component.html
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.html
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.html
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.html
  core/src/app/content/settings/applications/edit-application-modal/edit-application-modal.component.html
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.html
  core/src/app/shared/components/confirmation-modal/confirmation-modal.component.html
  core/src/app/shared/components/copy2clipboard-modal/copy2clipboard-modal.component.html
  core/src/app/shared/components/information-modal/information-modal.component.html
  core/src/app/shared/components/json-editor-modal/json-editor-modal.component.html
  core/src/app/shared/components/resource-uploader/resource-uploader-modal/resource-uploader-modal.component.html
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.html
Due: console-core
