Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Revert "(TO BE REMOVED) - set showSystemNamespaces to false"
  core-ui/src/components/NamespaceList/storage.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Merge master
  compass/package-lock.json
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
  core-ui/Dockerfile
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  core-ui/src/components/CreateNamespaceForm/K8sNameField.js
  core-ui/src/components/CreateNamespaceForm/test/CreateNamespaceForm.test.js
  core-ui/src/components/CreateNamespaceForm/test/gqlMocks.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.scss
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/NamespaceDetailsCard.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/__snapshots__/NamespaceDetailsCard.test.js.snap
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespacesGrid.scss
  core-ui/src/components/typechecking/CustomPropTypes.js
  core-ui/src/gql/mutations.js
  core-ui/src/shared/graphqlErrorExtractor.js
  logging/package-lock.json
  package-lock.json
  tests/package-lock.json
  tests/package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Add package-lock
  tests/package-lock.json
Due: pre-master-console-tests, post-master-console-tests

Add additional check when focusing Name input
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use K8sNameField for lambda name
  core-ui/src/components/Lambdas/CreateLambdaForm/CreateLambdaForm.js
  core-ui/src/components/Lambdas/CreateLambdaForm/test/CreateLambdaForm.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Review changes
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/shared/components/Labels/Labels.js
  core-ui/src/shared/components/Labels/test/Labels.test.js
  core-ui/src/shared/components/Labels/test/__snapshots__/Labels.test.js.snap
  core-ui/src/shared/components/LambdaStatusBadge/LambdaStatusBadge.js
  core-ui/src/shared/components/LambdaStatusBadge/test/LambdaStatusBadge.test.js
  core-ui/src/shared/components/LambdaStatusBadge/test/__snapshots__/LambdaStatusBadge.test.js.snap
  core-ui/src/shared/components/StatusBadge/StatusBadge.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add Scenario Details
  compass/src/App.component.js
  compass/src/App.scss
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.container.js
  compass/src/components/Scenarios/ScenarioDetails/AssignToScenarioModal/AssignToScenarioModal.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/ScenarioApplications.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/ScenarioApplications.container.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/test/ScenarioApplications.test.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioDetails.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioDetails.scss
  compass/src/components/Scenarios/ScenarioDetails/ScenarioDetailsHeader/ScenarioDetailsHeader.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioDetailsHeader/ScenarioDetailsHeader.container.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioDetailsHeader/test/ScenarioDetailsHeader.test.js
  compass/src/components/Scenarios/ScenarioDetails/UnassignScenario/UnassignScenario.js
  compass/src/components/Scenarios/ScenarioDetails/test/ScenarioApplications.js
  compass/src/components/Scenarios/Scenarios.component.js
  compass/src/components/Scenarios/gql.js
  compass/src/config/luigi-config/navigation.js
  compass/src/shared/components/GenericList/GenericList.js
  compass/src/shared/constants.js
  compass/src/store/index.js
Due: pre-master-console-compass, post-master-console-compass

Review changes
  core-ui/src/components/CreateNamespaceForm/K8sNameField.js
  core-ui/src/components/CreateNamespaceForm/test/CreateNamespaceForm.test.js
  core-ui/src/components/Lambdas/test/Lambdas.test.js
  core-ui/src/components/typechecking/CustomPropTypes.js
  core-ui/src/components/typechecking/test/CustomPropTypes.test.js
  package-lock.json
Due: pre-master-console-core-ui, post-master-console-core-ui

Update codeowners
  CODEOWNERS
Due: none

Fixes after review
  core-ui/src/commons/builder.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/__snapshots__/NamespaceDetailsCard.test.js.snap
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/__snapshots__/NamespaceListHeader.test.js.snap
  core-ui/src/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add validity checking to LabelSelectorInput
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.js
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix linter error
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Disable namespace test as they are tested with enzyme
  tests/ui-tests/tests/console-basic-test.js
Due: pre-master-console-tests, post-master-console-tests

Update README.md
  README.md
Due: console-governance

Stabilize expose API test
  tests/package-lock.json
  tests/package.json
  tests/ui-tests/tests/console-basic-test.js
Due: pre-master-console-tests, post-master-console-tests

Add Scenario Details
  compass/src/App.scss
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/ScenarioApplications.component.js
  compass/src/components/Scenarios/ScenarioDetails/UnassignScenario/UnassignScenario.js
  compass/src/components/Scenarios/ScenarioDetails/shared/unassignScenarioHandler.js
Due: pre-master-console-compass, post-master-console-compass

Fix blank space problem
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/__snapshots__/NamespaceListHeader.test.js.snap
Due: pre-master-console-core-ui, post-master-console-core-ui

another one
  core-ui/src/apollo.js
  core-ui/src/components/CreateNamespaceForm/test/CreateNamespaceForm.test.js
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/components/Lambdas/test/Lambdas.test.js
  core-ui/src/components/NamespaceList/NamespaceList.js
  core-ui/src/index.scss
  core-ui/src/shared/components/Labels/Labels.js
  core-ui/src/shared/components/Spinner/Spinner.js
  core-ui/src/testing/apollo.js
Due: pre-master-console-core-ui, post-master-console-core-ui

disable catalog ui tests
  tests/package.json
Due: pre-master-console-tests, post-master-console-tests

Test for deletion of lambda
  core-ui/src/components/Lambdas/test/Lambdas.test.js
  core-ui/src/setupTests.js
  core-ui/src/testing/lambdaMocks.js
  core-ui/src/testing/queriesMocks.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Ignore instanceCreateParameterSchema errors if it's null
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
Due: none

Fix labels
  core-ui/src/index.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Set LabelSelectorInput as valid if current value is empty
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.js
Due: pre-master-console-core-ui, post-master-console-core-ui

fix css hierarchy issue
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Move scripts to 'scripts' folder
  .gitignore
  scripts/checkClusterAvailability.sh
  scripts/setClusterConfig.sh
Due: none

Prepare clusterConfig.default file
  .clusterConfig.default
Due: none

Update clusterConfig.default
  .clusterConfig.default
Due: none

Lint fixes
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add button to show create lambda modal
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/index.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Load clusterConfig to luigiConfig in Core
  core/package.json
  core/src/index.html
  core/webpack-generateConfig.config.js
Due: pre-master-console-core, post-master-console-core

Add script that sets config env variables
  .clusterConfig.default
  scripts/load-cluster-config.sh
Due: none

Add support to env variables for CoreUI
  common/src/utils/getApiUrl.ts
  common/src/utils/index.ts
  core-ui/package.json
  core-ui/public/index.html
  core-ui/src/commons/api-url.js
  core/package.json
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Create Add application to scenario modal
  compass/src/components/Scenarios/ScenarioDetails/AssignToScenarioModal/AssignToScenarioModal.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/AssignApplicationsToScenarioModal/AssignApplicationsToScenarioModal.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/AssignApplicationsToScenarioModal/AssignApplicationsToScenarioModal.container.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/ScenarioApplications.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/ScenarioApplications.container.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioDetails.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioDetails.scss
  compass/src/components/Scenarios/ScenarioDetails/ScenarioDetailsHeader/ScenarioDetailsHeader.component.js
  compass/src/components/Scenarios/ScenarioDetails/shared/getActualChanges.js
  compass/src/components/Scenarios/ScenarioDetails/shared/unassignScenarioHandler.js
  compass/src/components/Scenarios/ScenarioDetails/test/ScenarioApplications.js
  compass/src/components/Scenarios/gql.js
  compass/src/store/index.js
Due: pre-master-console-compass, post-master-console-compass

Prettify routings
  core-ui/src/components/App/App.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Read gql api url from Utils in Bootstraper
  common/src/gql/apollo-client.ts
Due: none

Remove config.js in addons
  add-ons/package.json
  add-ons/public/index.html
  add-ons/src/constants.ts
Due: none

Add link to details
  core-ui/src/components/Lambdas/Lambdas.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Introduce env config variables to Core MF
  core/src/app/app.config.ts
  core/src/consoleapp.html
  core/webpack-extra.config.js
Due: pre-master-console-core, post-master-console-core

extract defaultPrefix to a separate variable
  common/src/utils/getApiUrl.ts
  core/package.json
Due: pre-master-console-core, post-master-console-core

Revert changes with labels in create namespace modal
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
