Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

post-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Add Prerequisites section to root Readme
  README.md
Due: console-governance

Add node to Prerequisites section
  README.md
Due: console-governance

Change import style
  components/react/src/commons/index.js
  components/react/src/commons/preload-handling.js
  service-catalog-ui/brokers/src/index.js
  service-catalog-ui/catalog/src/index.js
  service-catalog-ui/instances/src/index.js
Due: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Fix linter errors
  package.json
  tests/ui-tests/utils/catalogConfig.js
Due: pre-master-console-tests, post-master-console-tests

After review
  tests/README.md
Due: console-governance, pre-master-console-tests, post-master-console-tests

Use preloading strategy from commons
  common/src/constants.ts
  common/src/utils/preloadingStrategy.ts
  components/react/src/commons/index.js
  components/react/src/commons/preload-handling.js
  service-catalog-ui/brokers/src/index.js
  service-catalog-ui/catalog/src/index.js
  service-catalog-ui/instances/src/index.js
Due: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Remove todo
  core/src/luigi-config/microfrontend-converter.js
Due: pre-master-console-core, post-master-console-core

Remove package-locks
  add-ons/package-lock.json
  common/package-lock.json
  compass/package-lock.json
  components/angular/generic-list/package-lock.json
  components/generic-documentation/package-lock.json
  components/react/package-lock.json
  components/shared/package-lock.json
  content/package-lock.json
  core/package-lock.json
  lambda/package-lock.json
  logging/package-lock.json
  logging_ANGULAR/package-lock.json
  package-lock.json
  service-catalog-ui/brokers/package-lock.json
  service-catalog-ui/catalog/package-lock.json
  service-catalog-ui/instances/package-lock.json
  tests/package-lock.json
Due: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Add package-locks
  add-ons/package-lock.json
  common/package-lock.json
  compass/package-lock.json
  components/generic-documentation/package-lock.json
  components/react/package-lock.json
  components/shared/package-lock.json
  content/package-lock.json
  core/package-lock.json
  lambda/package-lock.json
  logging/package-lock.json
  logging/package.json
  logging/public/config/config.js
  logging/src/components/LogTable/LogTable.js
  logging/src/components/Logs.js
  logging/src/index.js
  package-lock.json
  service-catalog-ui/brokers/package-lock.json
  service-catalog-ui/catalog/package-lock.json
  service-catalog-ui/instances/package-lock.json
Due: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Switch on catalog tests
  tests/package.json
Due: pre-master-console-tests, post-master-console-tests

Update index.js
  service-catalog-ui/brokers/src/index.js
Due: prow/console/brokers

Update index.js
  service-catalog-ui/catalog/src/index.js
Due: none

Update index.js
  service-catalog-ui/instances/src/index.js
Due: none

Progress on UI
  logging/src/App.js
  logging/src/App.scss
  logging/src/components/Header/AdvancedSettings/AdvancedSettings.js
  logging/src/components/Header/AdvancedSettings/AdvancedSettings.scss
  logging/src/components/Header/Header.js
  logging/src/components/Header/Header.scss
  logging/src/components/Header/LabelsDisplay/LabelsDisplay.js
  logging/src/components/Header/LabelsDisplay/LabelsDisplay.scss
  logging/src/components/Header/LabelsInput/LabelsInput.js
  logging/src/components/Header/SearchInput/SearchInput.js
  logging/src/components/Header/SearchInput/SearchInput.scss
  logging/src/components/LogTable/LogTable.js
  logging/src/components/LogTable/LogTable.scss
  logging/src/components/Logs.js
  logging/src/index.js
  logging/src/store/index.js
  logging_ANGULAR/.editorconfig
  logging_ANGULAR/.gitignore
  logging_ANGULAR/src/app/app-routing.module.ts
  logging_ANGULAR/src/app/app.component.html
  logging_ANGULAR/src/app/app.component.spec.ts
  logging_ANGULAR/src/app/app.component.ts
  logging_ANGULAR/src/app/auth/token.interceptor.spec.ts
  logging_ANGULAR/src/app/auth/token.interceptor.ts
  logging_ANGULAR/src/assets/.gitkeep
  logging_ANGULAR/src/assets/config/config.js
  logging_ANGULAR/src/browserslist
  logging_ANGULAR/src/environments/environment.prod.ts
  logging_ANGULAR/src/environments/environment.ts
  logging_ANGULAR/src/index.html
  logging_ANGULAR/src/main.ts
  logging_ANGULAR/src/polyfills.ts
  logging_ANGULAR/src/styles.scss
  logging_ANGULAR/src/test.ts
  logging_ANGULAR/src/tsconfig.app.json
  logging_ANGULAR/src/tsconfig.spec.json
  logging_ANGULAR/src/tslint.json
Due: pre-master-console-logging, post-master-console-logging

Fix tests for local execution
  tests/ui-tests/commands/catalog.js
  tests/ui-tests/config.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/lambda-ui-test.js
  tests/ui-tests/utils/address.js
Due: pre-master-console-tests, post-master-console-tests

Wait until network almost iddle
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/docs-ui-test.js
  tests/ui-tests/tests/logging-test.js
Due: pre-master-console-tests, post-master-console-tests

Changes after code review + temp. reverting change in docs-ui
  content/src/constants.ts
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/docs-ui-test.js
  tests/ui-tests/utils/testContext.js
Due: pre-master-console-tests, post-master-console-tests

Wait until fully lodaed
  tests/ui-tests/commands/catalog.js
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/docs-ui-test.js
  tests/ui-tests/tests/lambda-ui-test.js
  tests/ui-tests/tests/logging-test.js
  tests/ui-tests/utils/testContext.js
Due: pre-master-console-tests, post-master-console-tests

Fix click timeout
  tests/ui-tests/tests/catalog-ui-test.js
Due: pre-master-console-tests, post-master-console-tests

display FQDN instead of hostname; remove errors related to authentication
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Update UI
  logging/Dockerfile
  logging/Makefile
  logging/nginx.conf
  logging/src/App.scss
  logging/src/components/Header/AdvancedSettings/AdvancedSettings.js
  logging/src/components/Header/AdvancedSettings/AdvancedSettings.scss
  logging/src/components/Header/BottomToolbar/BottomToolbar.js
  logging/src/components/Header/Header.js
  logging/src/components/Header/Header.scss
  logging/src/components/Header/LabelsDisplay/LabelsDisplay.js
  logging/src/components/Header/LabelsInput/DropdownRenderer/DropdownRenderer.js
  logging/src/components/Header/LabelsInput/DropdownRenderer/DropdownRenderer.scss
  logging/src/components/Header/LabelsInput/LabelsInput.js
  logging/src/components/Header/SearchInput/SearchInput.js
  logging/src/components/Logs.js
  logging/src/store/httpConfig.js
  logging_ANGULAR/Dockerfile
  logging_ANGULAR/README.md
  logging_ANGULAR/angular.json
  logging_ANGULAR/karma.conf.js
  logging_ANGULAR/package.json
  logging_ANGULAR/tsconfig.json
  logging_ANGULAR/tslint.json
Due: console-governance, pre-master-console-logging, post-master-console-logging

Update UI
  logging/Dockerfile
  logging/Makefile
  logging/src/App.scss
  logging/src/components/Header/AdvancedSettings/AdvancedSettings.js
  logging/src/components/Header/LabelsDisplay/LabelsDisplay.js
  logging/src/components/Header/LabelsInput/LabelsInput.js
  logging_ANGULAR/src/app/app.config.ts
  logging_ANGULAR/src/app/app.module.ts
  logging_ANGULAR/src/app/search-form/data/index.ts
  logging_ANGULAR/src/app/search-form/data/log-stream.ts
  logging_ANGULAR/src/app/search-form/data/plain-log-query.ts
  logging_ANGULAR/src/app/search-form/data/pod-query.ts
  logging_ANGULAR/src/app/search-form/data/search-form-data.ts
  logging_ANGULAR/src/app/search-form/data/search-result.ts
  logging_ANGULAR/src/app/search-form/search-form.component.html
  logging_ANGULAR/src/app/search-form/search-form.component.scss
  logging_ANGULAR/src/app/search-form/search-form.component.spec.ts
  logging_ANGULAR/src/app/search-form/search-form.component.ts
  logging_ANGULAR/src/app/search-form/service/custom-http-parameter-codec.ts
  logging_ANGULAR/src/app/search-form/service/graphql-client-service.ts
  logging_ANGULAR/src/app/search-form/service/luigi-context.service.ts
  logging_ANGULAR/src/app/search-form/service/pods-subscription/pods-subscription.service.ts
  logging_ANGULAR/src/app/search-form/service/search-service.ts
  logging_ANGULAR/src/app/search-form/shared/appAriaDisabled.directive.ts
  logging_ANGULAR/src/app/search-form/shared/constants.ts
  logging_ANGULAR/src/app/ws.ts
Due: pre-master-console-logging, post-master-console-logging

Bubble Compass dependencies
  compass/package-lock.json
  compass/package.json
  compass/src/App.component.js
  compass/src/components/Shared/FileInput/style.scss
  package-lock.json
  package.json
Due: pre-master-console-compass, post-master-console-compass

Fix paging in generic list
  components/angular/generic-list/package-lock.json
  components/angular/generic-list/src/app/modules/list/paging/paging.component.html
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.ts
Due: pre-master-console-core, post-master-console-core

Update package.json, add simple test, prettify
  logging/package-lock.json
  logging/package.json
  logging/src/components/Header/AdvancedSettings/AdvancedSettings.js
  logging/src/components/Header/BottomToolbar/BottomToolbar.js
  logging/src/components/Header/BottomToolbar/test/BottomToolbar.test.js
  logging/src/components/Header/BottomToolbar/test/__snapshots__/BottomToolbar.test.js.snap
  logging/src/components/Header/LabelsInput/DropdownRenderer/DropdownRenderer.js
  logging/src/components/Header/LabelsInput/LabelsInput.js
  logging/src/components/Header/SearchInput/SearchInput.js
  logging/src/setupTests.js
Due: pre-master-console-logging, post-master-console-logging

Fix wrong placement of Toggle
  compass/src/App.scss
Due: pre-master-console-compass, post-master-console-compass

Bubble dev dependencies from Compass
  compass/package-lock.json
  compass/package.json
  compass/src/setupTests.js
  package-lock.json
  package.json
Due: pre-master-console-compass, post-master-console-compass

Core dependency bubbling part 1
  config.js
  core/angular.json
  core/package-lock.json
  core/package.json
  core/src/styles.scss
  package-lock.json
  package.json
Due: pre-master-console-core, post-master-console-core

Add tests, update CI
  .prettierignore
  logging/Dockerfile
  logging/Makefile
  logging/package-lock.json
  logging/package.json
  logging/public/config/config.js
  logging/public/index.html
  logging/public/reset.css
  logging/src/App.test.js
  logging/src/components/Header/AdvancedSettings/AdvancedSettings.js
  logging/src/components/Header/AdvancedSettings/AdvancedSettings.scss
  logging/src/components/Header/AdvancedSettings/test/AdvancedSettings.test.js
  logging/src/components/Header/AdvancedSettings/test/__snapshots__/AdvancedSettings.test.js.snap
  logging/src/components/Header/BottomToolbar/BottomToolbar.js
  logging/src/components/Header/BottomToolbar/test/__snapshots__/BottomToolbar.test.js.snap
  logging/src/components/Header/Header.js
  logging/src/components/Header/LabelsDisplay/LabelsDisplay.js
  logging/src/components/Header/LabelsDisplay/test/LabelsDisplay.test.js
  logging/src/components/Header/LabelsDisplay/test/LabelsDisplay.ui.test.js
  logging/src/components/Header/LabelsDisplay/test/__snapshots__/LabelsDisplay.test.js.snap
  logging/src/components/Header/LabelsInput/DropdownRenderer/DropdownRenderer.js
  logging/src/components/Header/LabelsInput/DropdownRenderer/test/DropdownRenderer.test.js
  logging/src/components/Header/LabelsInput/DropdownRenderer/test/__snapshots__/DropdownRenderer.test.js.snap
  logging/src/components/Header/LabelsInput/LabelsInput.js
  logging/src/components/Header/SearchInput/test/SearchInput.test.js
  logging/src/components/Header/SearchInput/test/SearchInput.ui.test.js
  logging/src/components/Header/SearchInput/test/__snapshots__/SearchInput.test.js.snap
  logging/src/components/Header/test/Header.test.js
  logging/src/components/Header/test/__snapshots__/Header.test.js.snap
  logging/src/components/LogTable/LogTable.js
  logging/src/components/LogTable/LogTable.scss
  logging/src/components/LogTable/test/LogTable.test.js
  logging/src/components/LogTable/test/__snapshots__/LogTable.test.js.snap
  logging/src/components/Logs.js
  logging/src/index.js
Due: pre-master-console-logging, post-master-console-logging

bubbling dependencies in Core part 2
  core/package-lock.json
  core/package.json
  package.json
Due: pre-master-console-core, post-master-console-core

remove problematic test
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.spec.ts
Due: pre-master-console-core, post-master-console-core

Bubble Lambda dependencies
  lambda/package-lock.json
  lambda/package.json
Due: none

reset config.js
  config.js
Due: none

Fix linter errors in Core
  core/tslint.json
Due: pre-master-console-core, post-master-console-core

Make Lambda lint run only once
  lambda/package.json
Due: none

Add more tests, hopefully finish Makefile
  logging/Makefile
  logging/package-lock.json
  logging/package.json
  logging/src/components/Header/AdvancedSettings/test/AdvancedSettings.test.js
  logging/src/components/Header/AdvancedSettings/test/AdvancedSettings.ui.test.js
  logging/src/components/Header/Header.js
  logging/src/components/Header/LabelsDisplay/test/LabelsDisplay.test.js
  logging/src/components/Header/LabelsDisplay/test/LabelsDisplay.ui.test.js
  logging/src/components/Header/LabelsInput/DropdownRenderer/DropdownRenderer.js
  logging/src/components/Header/LabelsInput/DropdownRenderer/test/DropdownRenderer.test.js
  logging/src/components/Header/LabelsInput/DropdownRenderer/test/DropdownRenderer.ui.test.js
  logging/src/components/Header/LabelsInput/DropdownRenderer/test/__snapshots__/DropdownRenderer.ui.test.js.snap
  logging/src/components/Header/SearchInput/test/SearchInput.ui.test.js
  logging/src/components/Header/test/Header.ui.test.js
  logging/src/components/Header/test/__snapshots__/Header.test.js.snap
  logging/src/components/Header/test/__snapshots__/Header.ui.test.js.snap
  logging/src/components/LogTable/LogTable.js
  logging/src/components/LogTable/test/LogTable.test.js
  logging/src/components/LogTable/test/__snapshots__/LogTable.test.js.snap
Due: pre-master-console-logging, post-master-console-logging

Fix linter in Lambda
  lambda/tslint.json
Due: none

Fix CI issues, improve styles
  logging/Dockerfile
  logging/Makefile
  logging/package.json
  logging/src/components/Header/AdvancedSettings/AdvancedSettings.scss
  logging/src/components/Header/LabelsInput/DropdownRenderer/test/__snapshots__/DropdownRenderer.ui.test.js.snap
  logging/src/components/Header/LabelsInput/LabelsInput.js
  tests/Makefile
  tests/package-lock.json
Due: pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Install root dependencies for Lambda
  lambda/Makefile
Due: none

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
