Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/

Move App to catalog domain
  service-catalog-ui/catalog/src/components/catalog/App/App.js
  service-catalog-ui/catalog/src/index.js
Due: none

Add more tests
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Fix imports
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.container.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassInstancesTable/ServiceClassInstancesTable.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/catalog/src/testing/queriesMocks.js
Due: none

Bring back old notifications, pass proper function to update/delete scenarios
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationScenarioModal.container.js
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Extract global app logic to the top
  service-catalog-ui/catalog/src/components/App/App.jsx
  service-catalog-ui/catalog/src/components/catalog/App/App.js
Due: none

Remove console.log
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.js
Due: pre-master-console-compass, post-master-console-compass

Add a comment
  compass/src/config/luigi-config/helpers/navigation-helpers.js
Due: pre-master-console-compass, post-master-console-compass

Add docs test
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

commit those updates
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaReplicas.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaResources.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.scss
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/TableElements/Input.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/shared.js
  core-ui/src/components/Lambdas/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

move that tab back on first place
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

fix css and resetting values
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Test prow jobs
  Makefile
  compass/src/App.component.js
Due: pre-master-console-compass, post-master-console-compass

Add deployments test
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

change back button text
  content/src/constants.ts
Due: pre-master-console-content, post-master-console-content

Add Lambdas/constants.js to responsibilities of technical writers
  CODEOWNERS
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

Update content/src/constants.ts
  content/src/constants.ts
Due: pre-master-console-content, post-master-console-content

improve waiting for Luigi load
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Do look for "create button" in old applications view
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Fix tests
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/test/LambdaStatusCard.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/test/ConfigurationTab.test.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetails.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Create Environment Variables Panel in new lambdas view
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeTab.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesModal.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/LambdaEnvs.scss
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/LambdaVariables.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/SingleVariableInput.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/test/LambdaVariables.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/test/validation.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/validation.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/constants.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/index.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/newVariableModel.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/serializeVariables.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/test/serializeVariables.test.js
  core-ui/src/components/Lambdas/helpers/misc/useLogsView.js
  core-ui/src/components/Lambdas/helpers/testing/mockData.js
  shared/components/GenericList/components.js
  shared/components/ListActions/ListActions.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update texts
  core-ui/src/components/Lambdas/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix test
  core-ui/src/components/Lambdas/helpers/misc/test/useLogsView.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix css, add default resources and replicas values
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/CodeAndDependencies.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.scss
  core-ui/src/components/Lambdas/components/LabelsInput/LabelsInput.scss
  core-ui/src/components/Lambdas/components/LambdaNameInput/LambdaNameInput.scss
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateLambda.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Change UsageKind name
  core-ui/src/components/Lambdas/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix beautifySchema function
  core-ui/src/components/Lambdas/helpers/eventTriggers/beautifyEventSchema.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Enable instances in root App
  service-catalog-ui/catalog/src/components/App/App.jsx
  service-catalog-ui/catalog/src/components/instances/components/App/App.js
  service-catalog-ui/catalog/src/components/instances/index.css
  service-catalog-ui/catalog/src/components/instances/index.js
  service-catalog-ui/catalog/src/components/instances/logo.svg
  service-catalog-ui/catalog/src/components/instances/setupTests.js
Due: none

Move testing specific to catalog to catalog domain
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/Cards/test/Cards.test.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/test/ServiceClassList.test.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassPlansList/test/ServiceClassPlansList.test.js
  service-catalog-ui/catalog/src/domains/catalog/testing/queriesMocks.js
  service-catalog-ui/catalog/src/domains/catalog/testing/serviceClassesMocks.js
Due: none

Move variables to catalog to catalog domain
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassDetails/ServiceClassInstancesTable/ServiceClassInstancesTable.component.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/ServiceClassToolbar/ServiceClassToolbar.component.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/searchUtils.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassPlansList/ServiceClassPlansList.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassPlansList/test/ServiceClassPlansList.test.js
  service-catalog-ui/catalog/src/domains/catalog/testing/queriesMocks.js
  service-catalog-ui/catalog/src/domains/catalog/variables.js
Due: none

Merge catalog constants with shared/constants
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassDetails/ServiceClassInstancesTable/ServiceClassInstancesTable.component.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/Cards/Card.component.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/Cards/Cards.component.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/Cards/test/Card.test.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/Cards/test/Cards.test.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/ServiceClassToolbar/ServiceClassToolbar.component.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/searchUtils.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassPlansList/ServiceClassPlansList.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassPlansList/test/ServiceClassPlansList.test.js
  service-catalog-ui/catalog/src/domains/catalog/constants.js
  service-catalog-ui/catalog/src/domains/catalog/testing/queriesMocks.js
  service-catalog-ui/catalog/src/shared/constants.js
Due: none

Share DOCUMENTATION_PER_PLAN_LABEL among domains
  service-catalog-ui/catalog/src/commons/constants.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/Cards/Card.component.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/Cards/Cards.component.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/Cards/test/Card.test.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/Cards/test/Cards.test.js
  service-catalog-ui/catalog/src/domains/catalog/constants.js
  service-catalog-ui/catalog/src/domains/catalog/testing/queriesMocks.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstancesList/ServiceInstancesTable/ServiceInstancesTable.component.js
  service-catalog-ui/catalog/src/domains/instances/variables.js
Due: none

Add tests for new functionality in GenericList
  shared/components/GenericList/test/GenericList.test.js
Due: none

Unify Service Brokers list view
  package-lock.json
  service-catalog-ui/brokers/src/components/ServiceBrokers/ServiceBrokers.component.js
  service-catalog-ui/brokers/src/components/ServiceBrokers/ServiceBrokersTable/ServiceBrokersTable.component.js
  service-catalog-ui/brokers/src/components/ServiceBrokers/ServiceBrokersToolbar/FilterDropdown.component.js
  service-catalog-ui/brokers/src/components/ServiceBrokers/ServiceBrokersToolbar/SearchDropdown.component.js
  service-catalog-ui/brokers/src/components/ServiceBrokers/ServiceBrokersToolbar/ServiceBrokersToolbar.component.js
  service-catalog-ui/brokers/src/components/ServiceBrokers/ServiceBrokersToolbar/styled.js
Due: prow/console/brokers, pre-master-console-whitesource-scan

Change UsageKind type
  core-ui/src/components/Lambdas/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

add test:firefox
  tests/package.json
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests
