Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/

update anything in compass ui so that we have updated image
  compass/src/shared/components/DocumentationComponent/DocumentationComponent.js
Due: pre-master-console-compass, post-master-console-compass

update styles
  components/generic-documentation/src/render-engines/open-api/styles/index.ts
Due: none

Fix runtime details header
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetailsHeader/RuntimeDetailsHeader.component.js
Due: pre-master-console-compass, post-master-console-compass

Remove changes
  logging/src/services/httpService.js
Due: pre-master-console-logging, post-master-console-logging

Display compass apps in the console
  .clusterConfig.default
  core-ui/src/apollo.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/gql/queries.js
  core-ui/src/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add tests
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Applications/Applications.scss
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.js
  compass/src/components/Applications/CreateApplicationFromTemplateModal/test/CreateApplicationFromTemplateModal.test.js
  compass/src/components/Applications/CreateApplicationFromTemplateModal/test/mocks.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.scss
Due: pre-master-console-compass, post-master-console-compass

Add Strict-Transport-Security to request with max-age set to 18 weeks
  logging/src/services/httpService.js
Due: pre-master-console-logging, post-master-console-logging

Use "wait" instead of "waitForDomChange"
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  core-ui/src/components/ApiRules/EditApiRule/test/EditApiRule.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use proper timeout
  compass/src/components/Applications/CreateApplicationFromTemplateModal/test/CreateApplicationFromTemplateModal.test.js
Due: pre-master-console-compass, post-master-console-compass

Allow deleting apps
  core-ui/src/apollo.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/gql/mutations.js
  shared/components/GenericList/GenericList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

add some tests
  core-ui/src/components/Applications/ApplicationList/test/ApplicationList.test.js
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add Content-Type header to request
  logging/src/services/httpService.js
Due: pre-master-console-logging, post-master-console-logging

Finish tests
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/ApplicationList/test/ApplicationList.test.js
  core-ui/src/gql/mutations.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix linter errors
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Review fixes
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.js
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.scss
Due: pre-master-console-compass, post-master-console-compass

Review fixes 2
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.js
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.scss
Due: pre-master-console-compass, post-master-console-compass

Fix tests, simplify state
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.js
  compass/src/components/Applications/CreateApplicationFromTemplateModal/test/CreateApplicationFromTemplateModal.test.js
Due: pre-master-console-compass, post-master-console-compass

Jwt WIP
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.scss
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/JwtDetails.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/JwtDetails.scss
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Set fetch-policy
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Display data from kyma and Compass
  core-ui/src/apollo.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/gql/queries.js
  core-ui/src/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add subscriptions
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/ApplicationList/wsHandler.js
  core-ui/src/gql/subscriptions.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix crashing app
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.js
Due: pre-master-console-compass, post-master-console-compass

Add multiple presets
  core-ui/src/components/ApiRules/AccessStrategy/AccessStrategy.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/JwtDetails.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/JwtDetails.scss
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add multiple presets
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/JwtDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use internal notification on error
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.js
Due: pre-master-console-compass, post-master-console-compass

Clean config on changinf strategy type
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/JwtDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix deleting
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  shared/components/GenericList/actionHandlers/simpleDelete.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove obsolete code
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add applications details header
  core-ui/src/components/App/App.js
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/gql/queries.js
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Fix tests
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/ApplicationList/test/ApplicationList.test.js
  shared/index.js
  shared/testing/apollo.js
  shared/typechecking/IsSubscriptionOperation.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add bound nmspcs list
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/BoundNamespacesList/BoundNamespacesList.js
  core-ui/src/gql/queries.js
  shared/components/GenericList/GenericList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use apollo utils from react-shared in Instances
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/test/ServiceInstanceDetails.test.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/test/ServiceInstancesList.test.js
  service-catalog-ui/instances/src/store/index.js
  service-catalog-ui/instances/src/testing/apollo.js
  shared/index.js
  shared/utils/apollo.js
Due: none

Introduce common style
  compass/src/App.scss
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Applications/Applications.scss
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.js
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.scss
  compass/src/components/Shared/MultiChoiceList/MultiChoiceList.component.js
  compass/src/components/Shared/MultiChoiceList/style.scss
Due: pre-master-console-compass, post-master-console-compass

Neddle -> Needle
  compass/src/components/Overview/Overview.js
  compass/src/components/Overview/Overview.scss
Due: pre-master-console-compass, post-master-console-compass

extract compass url and tenant to configuration
  .clusterConfig.default
  core-ui/src/apollo.js
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

move NotificationContext to Shared
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/EditApiRule/EditApiRule.js
  core-ui/src/components/ApiRules/useDeleteApiRule.js
  core-ui/src/components/App/App.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/ApplicationList/test/ApplicationList.test.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  shared/contexts/notifications/index.js
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use new easyHandleDelete in ApplicationList
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  shared/components/GenericList/actionHandlers/simpleDelete.js
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix tests, add comment
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/JwtDetails.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/JwtDetails.scss
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/ApiRuleForm.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/mocks.js
  core-ui/src/components/ApiRules/EditApiRule/test/EditApiRule.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Enrich NotificationContext with dedicated Error and Success methods
  shared/components/GenericList/actionHandlers/simpleDelete.js
  shared/contexts/NotificationContext.js
  shared/contexts/notifications/index.js
  shared/index.js
Due: none
