Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Enable service catalog tests
  tests/package.json
Due: pre-master-console-tests, post-master-console-tests

Update gql type for create application mutation
  compass/src/components/Applications/gql.js
Due: pre-master-console-compass, post-master-console-compass

Update LabelSelectorInput.test.js
  core-ui/src/components/LabelSelectorInput/test/LabelSelectorInput.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Rework modal
  compass/src/App.component.js
  compass/src/App.scss
  compass/src/components/Scenarios/CreateScenario/CreateScenarioForm/CreateScenarioForm.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.container.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/AssignApplicationsToScenarioModal/AssignApplicationsToScenarioModal.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/AssignApplicationsToScenarioModal/AssignApplicationsToScenarioModal.container.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/ScenarioApplications.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/test/ScenarioApplications.test.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioDetails.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioDetails.scss
  compass/src/components/Scenarios/ScenarioDetails/ScenarioDetailsHeader/ScenarioDetailsHeader.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioNameContext.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioRuntimes/ScenarioRuntimes.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioRuntimes/ScenarioRuntimes.container.js
  compass/src/components/Scenarios/ScenarioDetails/shared/AssignEntityToScenarioModal/AssignApplicationsToScenarioModal.container.js
  compass/src/components/Scenarios/ScenarioDetails/shared/AssignEntityToScenarioModal/AssignEntityToScenarioModal.component.js
  compass/src/components/Scenarios/ScenarioDetails/shared/AssignEntityToScenarioModal/AssignRuntimesToScenarioModal.container.js
  compass/src/components/Scenarios/ScenarioDetails/shared/unassignScenarioHandler.js
  compass/src/components/Scenarios/gql.js
Due: pre-master-console-compass, post-master-console-compass

Add tests
  compass/src/components/Scenarios/ScenarioDetails/ScenarioDetailsHeader/test/ScenarioDetailsHeader.test.js
  compass/src/components/Scenarios/ScenarioDetails/shared/test/getActualChanges.test.js
  compass/src/components/Scenarios/ScenarioDetails/test/ScenarioDetails.test.js
  compass/src/components/Scenarios/ScenarioDetails/test/__snapshots__/ScenarioDetails.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Add label
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

prettier
  core-ui/src/components/LabelSelectorInput/test/LabelSelectorInput.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Introduce env variables to Lambdas
  lambda/angular.json
  lambda/package-lock.json
  lambda/package.json
  lambda/src/app/app.config.ts
  lambda/src/index.html
  lambda/src/styles.scss
  lambda/webpack-extra.config.js
Due: none

Introduce env variables to Catalog and Instances
  service-catalog-ui/catalog/package.json
  service-catalog-ui/catalog/public/index.html
  service-catalog-ui/catalog/src/commons/api-url.js
  service-catalog-ui/catalog/src/store/index.js
  service-catalog-ui/instances/package.json
  service-catalog-ui/instances/public/index.html
  service-catalog-ui/instances/src/commons/api-url.js
  service-catalog-ui/instances/src/store/index.js
Due: none

update load-cluster-config.sh to use path relative to itself
  scripts/load-cluster-config.sh
Due: none

Introduce env variables to Brokers
  service-catalog-ui/brokers/package.json
  service-catalog-ui/brokers/public/index.html
  service-catalog-ui/brokers/src/commons/api-url.js
  service-catalog-ui/brokers/src/store/index.js
Due: prow/console/brokers

introduce env variables to Logging
  logging/package.json
  logging/src/store/httpConfig.js
Due: pre-master-console-logging, post-master-console-logging

Remove generated config.js files from git
  .gitignore
  add-ons/public/config/config.js
  content/public/config/config.js
  core-ui/public/config/config.js
  core/src/assets/config/config.js
  lambda/src/assets/config/config.js
  logging/public/config/config.js
  logging/src/assets/config/config.js
  service-catalog-ui/brokers/public/config/config.js
  service-catalog-ui/catalog/public/config/config.js
  service-catalog-ui/instances/public/config/config.js
Due: prow/console/brokers, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

run load-cluster-config.sh in 'build' and 'start' npm scripts
  add-ons/package.json
  core-ui/package.json
  core/package.json
  lambda/package.json
  logging/package.json
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Move label to LabelSelectorInput component
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix linter errror
  common/src/utils/getApiUrl.ts
Due: none

use componentUpdate function in tests
  core-ui/src/components/CreateNamespaceForm/test/CreateNamespaceForm.test.js
  core-ui/src/components/Lambdas/CreateLambdaForm/test/CreateLambdaForm.test.js
  core-ui/src/testing/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Revert "run load-cluster-config.sh in 'build' and 'start' npm scripts"
  add-ons/package.json
  core-ui/package.json
  core/package.json
  lambda/package.json
  logging/package.json
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Bring back config.js inclusion in html files
  add-ons/public/index.html
  core-ui/public/index.html
  core/src/index.html
  lambda/src/index.html
  service-catalog-ui/brokers/public/index.html
  service-catalog-ui/catalog/public/index.html
  service-catalog-ui/instances/public/index.html
Due: prow/console/brokers, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Add config.js to Core
  core/src/assets/config/config.js
Due: pre-master-console-core, post-master-console-core

add config.js to Lambda
  lambda/src/assets/config/config.js
Due: none

remove git-ignore-config command
  package.json
Due: none

Fix tests in Core
  core/angular.json
  core/package.json
  core/src/app/app.config.ts
  core/src/consoleapp.html
Due: pre-master-console-core, post-master-console-core

Fix lambda tests
  lambda/src/app/app.config.ts
Due: none

fix '<>' assertion error
  core/src/app/app.config.ts
Due: pre-master-console-core, post-master-console-core

Move converting labels into LabelSelectorInput
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  core-ui/src/components/CreateNamespaceForm/test/CreateNamespaceForm.test.js
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.js
  core-ui/src/components/LabelSelectorInput/test/LabelSelectorInput.test.js
  core-ui/src/components/LabelSelectorInput/test/__snapshots__/LabelSelectorInput.test.js.snap
  core-ui/src/components/Lambdas/CreateLambdaForm/CreateLambdaForm.js
  core-ui/src/components/Lambdas/CreateLambdaForm/test/CreateLambdaForm.test.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Refactor LabelSelectorInput
  core-ui/src/components/CreateNamespaceForm/K8sNameField.js
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.js
  core-ui/src/components/Lambdas/CreateLambdaForm/CreateLambdaForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Move and rename K8sNameField component
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  core-ui/src/components/K8sNameInput/K8sNameInput.js
  core-ui/src/components/Lambdas/CreateLambdaForm/CreateLambdaForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

rework checkClusterAvailability.sh script
  scripts/checkClusterAvailability.sh
Due: none

rework setClusterConfig.sh script
  scripts/setClusterConfig.sh
Due: none

add .clusterConfig.gen file to gitignore
  .gitignore
Due: none

Update load-cluster-config.sh file
  scripts/load-cluster-config.sh
Due: none

remove copy-config from Content
  content/package.json
Due: pre-master-console-content, post-master-console-content

Basic lambda details header
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
Due: pre-master-console-core-ui, post-master-console-core-ui

bring back empty config.js files
  add-ons/public/config/config.js
  core-ui/public/config/config.js
  logging/public/config/config.js
  service-catalog-ui/brokers/public/config/config.js
  service-catalog-ui/catalog/public/config/config.js
  service-catalog-ui/instances/public/config/config.js
Due: prow/console/brokers, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-logging, post-master-console-logging

Remove main config.js file
  config.js
Due: none

fix small bug in setClusterConfig
  core/webpack-extra.config.js
  scripts/setClusterConfig.sh
Due: pre-master-console-core, post-master-console-core

Use window.clusterConfig as a fallback if process.env is empty
  common/src/utils/getApiUrl.ts
Due: none

remove 1
  common/src/utils/getApiUrl.ts
Due: none

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
