Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/

Add provisioned instances to catalog view (#838)
  catalog/src/components/ServiceClassDetails/ServiceClassInstancesTable/ServiceClassInstancesTable.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInstancesTable/styled.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/styled.js
  catalog/src/components/ServiceClassDetails/queries.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  catalog/src/components/ServiceClassList/styled.js
  catalog/src/variables.js
  components/react/src/commons/index.js
  components/react/src/commons/instance-status-color.js
  components/react/src/components/InstanceStatus/README.md
  components/react/src/components/InstanceStatus/index.js
  components/react/src/components/InstanceStatus/styled.js
  components/react/src/components/NotificationMessage/components.js
  components/react/src/components/NotificationMessage/index.js
  components/react/src/components/Status/README.md
  components/react/src/components/Status/StatusWrapper/index.js
  components/react/src/components/Status/index.js
  components/react/src/components/index.js
  core/src/app/content/namespaces/configuration/resources/resources.component.html
  instances/src/commons/helpers.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
  instances/src/components/ServiceInstances/styled.js
Due: console-governance, console-core

filter lambda logs by container name (#864)
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  logging/src/app/search-form/search-form.component.ts
Due: none

Fix regexp error in FF
  logging/src/app/search-form/search-form.component.ts
Due: none

Fix error on label click
  logging/src/app/search-form/search-form.component.html
Due: none

Fix log ui in Firefox (#872)
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
Due: none

Draft modal
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
Due: console-core

Add icons to hostname column
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-header-renderer/api-definition-header-renderer.component.html
  core/src/styles.scss
Due: console-core

Make 'hostname' cell fully functional
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/api-definition-header-renderer/api-definition-header-renderer.component.html
  core/src/styles.scss
Due: console-core

Add help tooltip to 'port' column
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/shared/constants/constants.ts
  core/src/styles.scss
Due: console-core

Add inline help for 'port' in API details page
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.ts
Due: console-core

Change order and add tooltip to Exposed APIs table
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-header-renderer/filtered-apis-header-renderer.component.html
Due: console-core

Remove adding testing bundle
  tests/README.md
  tests/ui-tests/setup/helm-broker/config.js
  tests/ui-tests/setup/helm-broker/configurer.js
  tests/ui-tests/setup/namespace-manager.js
  tests/ui-tests/setup/test-bundle-installer.js
  tests/ui-tests/tests/catalog-ui-test.js
Due: console-governance, console-tests

Fix missing content-type header when authorization is off
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Add inputs for limits
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.scss
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
Due: console-core

Update tests/README.md
  tests/README.md
Due: console-governance, console-tests

Clean form on cancel
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
Due: console-core

Small cleanup
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
Due: console-core

Use gql to create namespace
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
  core/src/app/content/namespaces/services/namespaces.service.ts
Due: console-core

Fix error handling
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
  core/src/app/shared/services/graphql-client-service.ts
Due: console-core

Remove adding testing bundle (#880)
  tests/README.md
  tests/ui-tests/setup/helm-broker/config.js
  tests/ui-tests/setup/helm-broker/configurer.js
  tests/ui-tests/setup/namespace-manager.js
  tests/ui-tests/setup/test-bundle-installer.js
  tests/ui-tests/tests/catalog-ui-test.js
Due: console-governance, console-tests

Create resource quotas for namespace, small fixes
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
  core/src/app/content/namespaces/services/namespaces.service.ts
Due: console-core

Improve auto-hiding of JSON parse error notification
  lambda/package-lock.json
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Lambda "Test" tab (#867)
  lambda/package-lock.json
  lambda/package.json
  lambda/src/app/app.module.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.html
  lambda/src/app/lambdas/lambda-details/lambda-details.component.scss
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
  lambda/src/app/shared/components/notification/notification.component.html
  lambda/src/app/shared/components/notification/notification.component.scss
  lambda/src/app/shared/components/notification/notification.component.ts
  lambda/src/tsconfig.app.json
  lambda/tsconfig.json
Due: none

Create limit ranges for the namespace
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
  core/src/app/content/namespaces/services/namespaces.service.ts
Due: console-core

Adjust config files to work with 'console-dev.{cluster}...' domain (#715)
  config.js
  core/src/app/app.config.ts
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/microfrontend-converter.js
Due: console-core

Use one mutation for creating rq and lr
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
  core/src/app/content/namespaces/services/namespaces.service.ts
  core/src/app/shared/services/graphql-client-service.ts
Due: console-core

Disable click button if form is not properly filled
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
  core/src/app/content/namespaces/services/namespaces.service.ts
Due: console-core

Fix regex message
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
Due: console-core

Fix regex
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
Due: console-core

Change tooltips texts
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
Due: console-core

Change tooltips texts 2
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
Due: console-core

Remove old dependencies
  content/package-lock.json
  lambda/package-lock.json
  tests/package-lock.json
  tests/package.json
Due: console-tests

Revert one change
  tests/package.json
Due: console-tests

Make modal extra large
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/styles/fiori-fundamentals-overrides.scss
Due: console-core

Improve modal visuals
  core/src/app/content/namespaces/namespace-create/namespace-create.component.scss
Due: console-core

Remove service port confusion
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/api-definition-header-renderer/api-definition-header-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-header-renderer/filtered-apis-header-renderer.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.ts
  core/src/app/shared/constants/constants.ts
Due: console-core

Remove remaining css class
  core/src/styles.scss
Due: console-core

Fix linter error
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.html
Due: console-core

Add link and copy button to hostname column in exposed APIs
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.ts
  lambda/package-lock.json
Due: console-core

Small fixes
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
  core/src/styles/fiori-fundamentals-overrides.scss
Due: console-core
