Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  console-tests: any of: ^tests/

add mocks to ./ODataFiles/index.ts
  components/react-odata/public/index.html
  components/react-odata/src/ODataFiles/index.ts
  components/react-odata/src/ODataReact.tsx
Due: none

rename main interface
  components/react-odata/package-lock.json
  components/react-odata/package.json
  components/react-odata/src/ODataReact.tsx
  components/react-odata/src/components/ErrorComponent/ErrorComponent.tsx
  components/react-odata/src/components/Table/MainDataTable/CollapsibleRow.tsx
  components/react-odata/src/components/Table/MainDataTable/HideableSubTable.tsx
  components/react-odata/src/components/Table/MainDataTable/Table.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/CollapsibleAnnotation.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/CollapsibleTable.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/ServiceDocumentationTable.tsx
  components/react-odata/src/components/Table/TableContainer.tsx
  components/react-odata/src/globalStyle.ts
  components/react-odata/src/index.tsx
  components/react-odata/src/theme/styled-components.ts
  components/react-odata/src/types.ts
Due: none

- finished setup for local development - applied fiori fundamentals, removed bootstrap dependency
  core/src/app/app.config.ts
  core/src/luigi-config/luigi-config.js
  log-ui/angular.json
  log-ui/package-lock.json
  log-ui/package.json
  log-ui/src/app/search-form/search-form.component.css
  log-ui/src/app/search-form/search-form.component.html
  log-ui/src/app/search-form/search-form.component.scss
  log-ui/src/app/search-form/search-form.component.ts
  log-ui/src/styles.css
  log-ui/src/styles.scss
Due: console-core

Add provision only once information
  catalog/src/components/Main/queries.js
  catalog/src/components/ServiceClassDetails/ProvisionOnlyOnceInfo/ProvisionOnlyOnceInfo.component.js
  catalog/src/components/ServiceClassDetails/ProvisionOnlyOnceInfo/styled.js
  catalog/src/components/ServiceClassDetails/ServiceClassDescription/ServiceClassDescription.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  catalog/src/components/ServiceClassDetails/queries.js
  catalog/src/components/ServiceClassDetails/styled.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/Cards/Cards.component.js
  catalog/src/components/ServiceClassList/Cards/styled.js
  tests/ui-tests/commands/catalog.js
  tests/ui-tests/tests/catalog-ui-test.js
Due: console-tests

ui tests & styling
  log-ui/src/app/search-form/search-form.component.html
  log-ui/src/styles.scss
  tests/ui-tests/commands/log-ui.js
  tests/ui-tests/tests/log-ui-test.js
Due: console-tests

fix
  log-ui/src/app/search-form/search-form.component.html
Due: none

Add namespace parameter for instances
  catalog/src/components/Main/queries.js
Due: none

make changes due to review
  components/react-odata/package-lock.json
  components/react-odata/package.json
  components/react-odata/src/ODataReact.tsx
  components/react-odata/src/components/ErrorComponent/ErrorComponent.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/CollapsibleAnnotation.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/CollapsibleTable.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/ServiceDocumentationTable.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/SimpleTable.tsx
  components/react-odata/src/components/Table/TableContainer.tsx
  components/react-odata/src/tools/Parser.ts
  components/react-odata/tslint.json
  components/react-odata/yarn.lock
Due: none

Update luigi version
  core/package-lock.json
  core/package.json
  lambda/package-lock.json
  lambda/package.json
Due: console-core

test
  core/nginx/nginx.conf
Due: console-core

Review changes
  catalog/src/components/Main/queries.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/queries.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/Cards/styled.js
  catalog/src/store/Filter/resolvers.js
Due: none

Fix replicaSetEntryRenderer test
  core/src/app/content/environments/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.spec.ts
Due: console-core

minor ui improvements
  log-ui/src/app/search-form/search-form.component.html
Due: none

tets
  core/nginx/nginx.conf
Due: console-core

Solution draft
  core/package-lock.json
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.html
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
  core/src/app/content/settings/remote-environments/remote-environments.component.html
  core/src/app/content/settings/remote-environments/remote-environments.component.ts
  core/src/luigi-config/luigi-config.js
Due: console-core

Move adding listner to constructor to avoid onInit conflicts
  core/src/app/content/settings/remote-environments/remote-environments.component.ts
Due: console-core

Fix unit tests
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
Due: console-core

Update package-lock in Core
  core/package-lock.json
Due: console-core

Make 'isReadOnly' public
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
  core/src/app/content/settings/remote-environments/remote-environments.component.ts
Due: console-core

Remove console.warn leftovers
  core/src/luigi-config/luigi-config.js
Due: console-core

fig error when "Select Log Label" is clicked by preventing API call
  log-ui/src/app/search-form/search-form.component.ts
Due: none

Remove unused k8sApiServerUrl_apps property from app.config
  core/src/app/app.config.ts
Due: console-core

Merge branch 'log-ui' of https://github.com/hisarbalik/console into log-ui
  logging/src/app/search-form/search-form.component.ts
Due: none

Update catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
Due: none

Update catalog/src/components/ServiceClassDetails/ProvisionOnlyOnceInfo/ProvisionOnlyOnceInfo.component.js
  catalog/src/components/ServiceClassDetails/ProvisionOnlyOnceInfo/ProvisionOnlyOnceInfo.component.js
Due: none

Update catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
Due: none
