Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Prettier fixes
  catalog/src/components/ServiceClassDetails/ProvisionOnlyOnceInfo/styled.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
Due: none

Add Parostatkiem to CODEOWNERS
  CODEOWNERS
Due: none

Apply review changes
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation-helpers.js
Due: console-core

Fix the unsubscribe bug
  logging/src/app/search-form/search-form.component.ts
Due: none

Resolve conflicts in search form
  logging/src/app/search-form/search-form.component.ts
Due: none

Simplify storing the filters
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.ts
  components/angular/generic-list/src/app/modules/list/list-filter/list-filter.component.ts
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.html
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.ts
Due: console-core

Whitespace changes
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.ts
Due: none

Fix linting issue
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.ts
Due: none

Remove unwanted 'fdescribe'
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.spec.ts
Due: console-core

fix header paddings
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/styled.js
Due: none

prettier fix
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/styled.js
Due: none

Fix disabledNavigationNodes
  core/src/luigi-config/luigi-config.js
Due: console-core

Create React app that uses Luigi
  compass/.env
  compass/.gitignore
  compass/README.md
  compass/package-lock.json
  compass/package.json
  compass/public/favicon.ico
  compass/public/index.html
  compass/public/manifest.json
  compass/src/App.css
  compass/src/App.js
  compass/src/App.test.js
  compass/src/config/luigi-config/main.js
  compass/src/index.css
  compass/src/index.html
  compass/src/index.js
  compass/src/logo.svg
  compass/src/serviceWorker.js
  compass/webpack-generateConfig.config.js
Due: console-governance

Fix ui test
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
Due: console-core

Add working "Runtimes" view
  compass/package-lock.json
  compass/package.json
  compass/src/App.js
  compass/src/components/Runtimes/Runtimes.js
  compass/src/config/luigi-config/main.js
  compass/src/index.js
Due: none

Introduce Fundamental
  compass/package-lock.json
  compass/package.json
  compass/src/App.js
  compass/src/App.scss
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.js
  compass/src/components/Runtimes/Runtimes.js
  compass/src/index.js
Due: none

Improve NewRuntime form
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.js
  compass/src/components/Runtimes/queries.js
Due: none

Implement simple list of runtimes
  compass/src/components/Runtimes/RuntimeList/RuntimeList.js
  compass/src/components/Runtimes/Runtimes.js
  compass/src/components/Runtimes/queries.js
Due: none

Finished upper bar
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceToolbar/ServiceInstanceToolbar.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceUpperBar/ServiceInstanceUpperBar.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceUpperBar/styled.js
Due: none

Moved title
  instances/src/components/ServiceInstanceDetails/ServiceInstanceToolbar/ServiceInstanceToolbar.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceUpperBar/styled.js
Due: none

Moved desc to toolbar
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceToolbar/ServiceInstanceToolbar.component.js
Due: none

Update Kyma subscription
  lambda/src/app/app.config.ts
  lambda/src/app/shared/datamodel/k8s/subscription.ts
  lambda/src/app/subscriptions/subscriptions.service.ts
Due: none

Finish header
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceToolbar/ServiceInstanceToolbar.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceToolbar/styled.js
Due: none

Improve logs auto refresh
  logging/src/app/search-form/search-form.component.html
Due: none

Fix subscription query to match the initial query
  core/src/app/content/settings/applications/applications.component.ts
Due: console-core

Fix private property visibility
  logging/src/app/search-form/search-form.component.ts
Due: none

Final touches 1
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceToolbar/ServiceInstanceToolbar.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceToolbar/styled.js
Due: none

Finishing touches 2
  config.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceToolbar/ServiceInstanceToolbar.component.js
Due: none

Improve Runtimes view
  compass/package-lock.json
  compass/package.json
  compass/src/App.js
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.js
  compass/src/components/Runtimes/RuntimeList/RuntimeList.js
  compass/src/components/Runtimes/gql.js
  compass/src/config/config.js
  compass/src/index.js
  components/react/package-lock.json
  lerna.json
  package-lock.json
Due: none

Improve the way of launching the bundle
  compass/package-lock.json
  compass/package.json
  compass/src/index.js
Due: none

Add logo and title
  compass/public/compass-logo.png
  compass/src/index.html
Due: none

Reworked component structure
  config.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceHeader/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceToolbar/ServiceInstanceToolbar.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceToolbar/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceUpperBar/ServiceInstanceUpperBar.component.js
Due: none

Improve luigi-config
  compass/src/config/luigi-config/main.js
  compass/src/config/luigi-config/navitagion.js
  compass/src/config/luigi-config/settings.js
  compass/src/index.html
Due: none

Removed !important directive, reworked styles
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceHeader/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/styled.js
Due: none

Add rotating compass icon
  compass/src/App.js
  compass/src/components/Overview/Overview.js
  compass/src/components/Overview/Overview.scss
  compass/src/config/luigi-config/navitagion.js
Due: none

Improve the overview
  compass/src/components/Overview/Overview.js
Due: none

Update failing catalog ui tests
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  tests/ui-tests/tests/catalog-ui-test.js
Due: console-tests

Run prettier
  tests/ui-tests/tests/catalog-ui-test.js
Due: console-tests

Run prettier for catalog ui
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
Due: none

fix for instances view
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
Due: none

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/
