Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

post-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

.
  components/generic-documentation/package-lock.json
  components/react/package-lock.json
  components/react/package.json
  package-lock.json
  service-catalog-ui/catalog/package-lock.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/src/store/index.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

use EMPTY_TEXT const
  core/src/app/content/settings/applications/application-details/application-details.component.html
Due: pre-master-console-core, post-master-console-core

Fix failing test
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.spec.ts
Due: pre-master-console-core, post-master-console-core

Add waits for test stability
  tests/ui-tests/tests/catalog-ui-test.js
Due: pre-master-console-tests, post-master-console-tests

Add preloading for service catalog views
  service-catalog-ui/brokers/src/index.js
  service-catalog-ui/catalog/src/index.js
  service-catalog-ui/instances/src/index.js
Due: prow/console/brokers

Run prettier
  service-catalog-ui/brokers/src/index.js
  service-catalog-ui/catalog/src/index.js
  service-catalog-ui/instances/src/index.js
Due: prow/console/brokers

Enable preload in console core
  core/src/luigi-config/microfrontend-converter.js
Due: pre-master-console-core, post-master-console-core

Adjust luigi config to fetch preloadUrl
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/microfrontend-converter.js
Due: pre-master-console-core, post-master-console-core

Remove "test-ui' script and optionalDependencies section
  compass/package-lock.json
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Uncomment missing 'warning' check in tests
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/MetadataDefinitionDetails.ui.test.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/__snapshots__/MetadataDefinitionDetails.ui.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Use data-test-id instead of fundamental class
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/MetadataDefinitionDetails.ui.test.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/__snapshots__/MetadataDefinitionDetails.unit.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Switch off catalog ui tests - temporarily
  tests/package.json
Due: pre-master-console-tests, post-master-console-tests

Add missing constant in config for local development
  config.js
Due: none

Stabilise ui tests
  tests/Dockerfile
  tests/package.json
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/utils/testContext.js
Due: pre-master-console-tests, post-master-console-tests

Fix default urls for helm-broker in addons
  add-ons/src/constants.ts
Due: none

Remove condition for docstopic in generic-documentation-component
  components/generic-documentation/src/index.tsx
Due: none

Install tests packages
  CODEOWNERS
  Makefile
  compass/package-lock.json
  components/generic-documentation/package-lock.json
  components/react/package-lock.json
  package-lock.json
  service-catalog-ui/brokers/package-lock.json
  service-catalog-ui/catalog/package-lock.json
  service-catalog-ui/instances/package-lock.json
  tests/package-lock.json
Due: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-tests, post-master-console-tests

Run linters
  add-ons/src/constants.ts
Due: none

Remove unnecessary stage from root Makefile
  Makefile
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

Revert Codeowners
  CODEOWNERS
Due: none

Add OWNERS files
  OWNERS
  OWNERS_ALIASES
  components/angular/OWNERS
  components/generic-documentation/OWNERS
  components/react/OWNERS
  content/OWNERS
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Update dependencies on compass
  compass/package-lock.json
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Fix Iframe logic and speed up the tests
  tests/Dockerfile
  tests/package.json
  tests/ui-tests/commands/catalog.js
  tests/ui-tests/commands/console.js
  tests/ui-tests/setup/k8s-api/k8s-api-deployment.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/lambda-ui-test.js
  tests/ui-tests/utils/catalogConfig.js
  tests/ui-tests/utils/testContext.js
Due: pre-master-console-tests, post-master-console-tests

Fix linter errors
  tests/ui-tests/commands/catalog.js
  tests/ui-tests/commands/console.js
  tests/ui-tests/setup/k8s-api/k8s-api-deployment.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/lambda-ui-test.js
Due: pre-master-console-tests, post-master-console-tests

Fix linter errors
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/docs-ui-test.js
  tests/ui-tests/tests/lambda-ui-test.js
  tests/ui-tests/tests/logging-test.js
Due: pre-master-console-tests, post-master-console-tests

Fix linter errors
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/logging-test.js
Due: pre-master-console-tests, post-master-console-tests

Fix linter errors
  tests/ui-tests/tests/console-basic-test.js
Due: pre-master-console-tests, post-master-console-tests

Add missing dependencies, regenerate snapshots for compass
  compass/package-lock.json
  compass/package.json
  compass/src/shared/components/GenericList/test/__snapshots__/GenericList.test.js.snap
  components/react/package-lock.json
  core/package-lock.json
  lambda/package-lock.json
  logging/package-lock.json
  package-lock.json
  package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Update webpack
  compass/package-lock.json
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Revert "Update webpack"
  compass/package-lock.json
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Update packages in compass
  compass/Dockerfile
  compass/package-lock.json
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Update deps
  components/react/package-lock.json
  package-lock.json
  package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

.
  compass/package-lock.json
  compass/package.json
  components/react/package-lock.json
  package-lock.json
  package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

.
  compass/src/components/Api/APIUploadHelper.js
  compass/src/components/Applications/Applications.component.js
Due: pre-master-console-compass, post-master-console-compass

Add generic component for preloading
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/microfrontend-converter.js
  service-catalog-ui/brokers/src/index.js
  service-catalog-ui/catalog/src/index.js
  service-catalog-ui/instances/src/index.js
  service-catalog-ui/preloadHandling.js
Due: prow/console/brokers, pre-master-console-core, post-master-console-core

Fix root Readme and Readme in tests dir
  README.md
  tests/README.md
Due: console-governance, pre-master-console-tests, post-master-console-tests

After review
  tests/README.md
Due: console-governance, pre-master-console-tests, post-master-console-tests

Review changes
  OWNERS
  OWNERS_ALIASES
  components/angular/OWNERS
  components/generic-documentation/OWNERS
  components/react/OWNERS
  content/OWNERS
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
