Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/

Fix spinner imports
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsWrapper.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetailsWrapper.ui.test.js
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/components/Lambdas/test/Lambdas.test.js
  core-ui/src/components/NamespaceList/NamespaceList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix header actions margin
  core-ui/src/gql/queries.js
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/GenericList.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Improve row vertical alignment
  shared/components/GenericList/GenericList.scss
Due: none

Adjust routing
  core-ui/src/components/App/App.js
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Add breadcrumb to Create view
  core-ui/src/components/ApiRules/ApiRules.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  shared/components/PageHeader/PageHeader.js
  shared/components/PageHeader/PageHeader.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix GenericList header
  shared/components/GenericList/GenericList.js
Due: none

Add details view
  core-ui/src/components/App/App.js
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Minor changes, renaming
  core-ui/src/components/ApiRules/ApiRules.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Display details data
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.scss
  core-ui/src/gql/queries.js
  shared/components/PageHeader/PageHeader.js
  shared/components/PageHeader/PageHeader.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Add copiable host
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  shared/components/PageHeader/PageHeader.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Migrate CreateApiRuleHeader to a separate component
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRuleHeader/CreateApiRuleHeader.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRuleHeader/CreateApiRuleHeader.scss
  shared/components/PageHeader/PageHeader.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix dead links
  README.md
Due: console-governance

Fix colors on namespaces search
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Update test
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/__snapshots__/NamespaceListHeader.test.js.snap
Due: pre-master-console-core-ui, post-master-console-core-ui

Delete from details
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRuleHeader/CreateApiRuleHeader.js
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Fix bug
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRuleHeader/CreateApiRuleHeader.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix console.err error
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
Due: none

Use closest context based navigation; hide port in API host
  core-ui/src/components/ApiRules/ApiRules.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRuleHeader/CreateApiRuleHeader.js
  core-ui/src/components/App/App.js
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Make testing-library dependency a dev one
  package-lock.json
  package.json
  shared/package.json
Due: none

Rewrite PageHeader test
  shared/components/PageHeader/test/PageHeader.test.js
  shared/components/PageHeader/test/__snapshots__/PageHeader.test.js.snap
  shared/jestSetup.js
Due: none

Add UX DoD requirements document
  UX_DOD_REQUIREMENTS.md
Due: console-governance

Fix notifications
  core-ui/src/components/ApiRules/ApiRules.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix api rules fetch policy
  core-ui/src/components/ApiRules/ApiRules.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Refetch api rules when one is created
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Extract API rule details to separate component
  core-ui/src/components/ApiRules/AccessStrategy/AccessStrategy.js
  core-ui/src/components/ApiRules/AccessStrategy/test/AccessStrategy.test.js
  core-ui/src/components/ApiRules/ApiRuleDetails/ApiRuleDetails.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRuleHeader/CreateApiRuleHeader.js
  core-ui/src/components/App/App.js
  core-ui/src/gql/queries.js
  shared/components/CopiableText/CopiableText.js
  shared/components/CopiableText/CopiableText.scss
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Clean up create api rule
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRuleHeader/CreateApiRuleHeader.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use Apollo completion hooks
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRuleHeader/CreateApiRuleHeader.js
Due: pre-master-console-core-ui, post-master-console-core-ui

add PageHeader test
  shared/components/GenericList/test/GenericList.test.js
  shared/components/PageHeader/PageHeader.js
  shared/components/PageHeader/test/PageHeader.test.js
  shared/components/PageHeader/test/__snapshots__/PageHeader.test.js.snap
  shared/jestSetup.js
Due: none

Add CopiableText tests
  shared/components/CopiableText/test/CopiableText.test.js
Due: none

Add copy-to-clipboard as root dependency
  package.json
Due: none

Fix PageHeader tests
  shared/components/PageHeader/test/PageHeader.test.js
  shared/components/PageHeader/test/__snapshots__/PageHeader.test.js.snap
Due: none

Add testsApiruleDetails
  core-ui/src/components/ApiRules/ApiRuleDetails/ApiRuleDetails.js
  core-ui/src/components/ApiRules/ApiRuleDetails/test/ApiRuleDetails.test.js
  core-ui/src/components/ApiRules/ApiRuleDetails/test/__snapshots__/ApiRuleDetails.test.js.snap
  core/package-lock.json
  lambda/package-lock.json
  logging/package-lock.json
  package-lock.json
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Remove commented import
  shared/components/PageHeader/test/PageHeader.test.js
Due: none

Add ApiRules tests
  core-ui/src/components/ApiRules/ApiRules.js
  core-ui/src/components/ApiRules/test/ApiRules.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove isCheck warnings
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

update tests
  core-ui/src/components/ApiRules/ApiRuleDetails/test/__snapshots__/ApiRuleDetails.test.js.snap
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  core-ui/src/testing/queriesMocks.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix a dead link
  README.md
Due: console-governance

Fix regexes
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  core-ui/src/testing/queriesMocks.js
Due: pre-master-console-core-ui, post-master-console-core-ui

ISmplify refetching
  core-ui/src/components/ApiRules/ApiRules.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/useDeleteApiRule.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove duplicated dependencies, change default import
  compass/package-lock.json
  compass/package.json
  core-ui/package-lock.json
  core-ui/package.json
  package-lock.json
  shared/components/CopiableText/CopiableText.js
  shared/index.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui
