Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Navigation
  core-ui/src/components/Apis/ApiDetails/ApiDetails.js
  core-ui/src/components/Apis/EditApi/EditApi.js
  core-ui/src/components/Apis/EditApiHeader/EditApiHeader.js
  core-ui/src/components/Apis/EditEventApi/EditEventApi.js
  shared/components/ResourceNotFound/ResourceNotFound.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add ResourceNotFound tests
  shared/components/ResourceNotFound/test/ResourceNotFound.test.js
Due: none

Remove unnecessary package
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Apis/CreateApiForm/CreateApiForm.js
  core-ui/src/components/Apis/EditApi/EditApi.js
  core-ui/src/components/Apis/EditEventApi/EditEventApi.js
  core/package-lock.json
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Make GQL naming consistent
  core-ui/src/components/Apis/CreateApiForm/CreateApiForm.js
  core-ui/src/components/Apis/CreateEventForm/CreateEventForm.js
  core-ui/src/gql/mutations.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Cleanup Ace imports
  core-ui/src/components/Apis/Forms/ApiEditorForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Refetch application queries
  core-ui/src/components/Apis/ApiList/ApiList.js
  core-ui/src/components/Apis/CreateApiForm/CreateApiForm.js
  core-ui/src/components/Apis/CreateEventForm/CreateEventForm.js
  core-ui/src/components/Apis/EventApiList/EventApiList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Refetch apis
  core-ui/src/components/Apis/EditApi/EditApi.js
  core-ui/src/components/Apis/EditEventApi/EditEventApi.js
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add subscription on details
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationDetails/wsHandler.js
  core/package-lock.json
  logging/package-lock.json
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Add styles for documentation
  core-ui/src/components/Apis/ApiDetails/ApiDetails.js
  core-ui/src/components/Apis/ApiDetails/ApiDetails.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix storing default credentials on API def add
  compass/src/components/Api/CreateApiForm/CreateApiForm.component.js
Due: pre-master-console-compass, post-master-console-compass

Formating
  core-ui/src/components/Apis/ApiDetails/ApiDetails.js
  core-ui/src/components/Apis/ApiDetails/ApiDetails.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Update fundamental
  compass/package-lock.json
  compass/package.json
  core-ui/package-lock.json
  core-ui/package.json
  core/package-lock.json
  logging/package-lock.json
  package-lock.json
  package.json
  shared/package.json
  shared/webpack.config.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Fix test pt 1
  shared/components/ListActions/test/ListActions.test.js
Due: none

Rename Compass to Management Plane in the UI
  compass/public-luigi/index.html
  compass/src/components/Overview/Overview.js
  compass/src/config/luigi-config/settings.js
Due: pre-master-console-compass, post-master-console-compass

Rename Compass to Management Plane in the UI
  compass/public/compass-background.png
Due: pre-master-console-compass, post-master-console-compass

Remove obsolete snapshot
  shared/components/ListActions/test/__snapshots__/ListActions.test.js.snap
Due: none

Try to stabilize connectappmodal test
  core-ui/src/components/Applications/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix storing default credentials on API def add
  core-ui/src/components/Apis/CreateApiForm/CreateApiForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Extend timeout
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.test.js
  core-ui/src/components/Applications/BindNamespaceModal/test/BindNamespaceModal.test.js
  core-ui/src/components/Applications/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui

Change timeout
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.test.js
  core-ui/src/components/Applications/BindNamespaceModal/test/BindNamespaceModal.test.js
  core-ui/src/components/Applications/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui

Fixes"
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.test.js
  core-ui/src/components/Applications/BindNamespaceModal/test/BindNamespaceModal.test.js
  core-ui/src/components/Applications/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui

Fixes
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.test.js
  core-ui/src/components/Applications/BindNamespaceModal/test/BindNamespaceModal.test.js
  core-ui/src/components/Applications/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui

Last chance :)
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.test.js
  core-ui/src/components/Applications/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui

Last last chance
  core-ui/src/components/Applications/BindNamespaceModal/test/BindNamespaceModal.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Pass tenantId to compass views
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core

Rename container_name log label after loki migration
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  logging/src/components/Logs/Logs.js
  logging/src/constants.js
Due: pre-master-console-logging, post-master-console-logging

change contetxs
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
  compass/src/components/Api/EditApi/EditApi.component.js
  compass/src/components/Api/EditEventApi/EditEventApi.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetailsHeader/RuntimeDetailsHeader.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioDetailsHeader/ScenarioDetailsHeader.js
  compass/src/components/Shared/ResourceNotFound.component.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Use tenant from config
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core

Lasssssssst try
  core-ui/src/components/Applications/BindNamespaceModal/test/BindNamespaceModal.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix runtimes unassign from scenarios view
  compass/src/components/Scenarios/ScenarioDetails/ScenarioRuntimes/ScenarioRuntimes.container.js
Due: pre-master-console-compass, post-master-console-compass

Redo the solution
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationDetails/wsHandler.js
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

handle delete event
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use common AppStatus component
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/ApplicationStatus/ApplicationStatus.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Improve status management
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/ApplicationStatus/ApplicationStatus.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix tests & tune up Status
  core-ui/src/components/Applications/ApplicationDetails/test/ApplicationDetails.test.js
  core-ui/src/components/Applications/ApplicationDetails/test/mocks.js
  core-ui/src/components/Applications/ApplicationStatus/ApplicationStatus.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix after merge
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationStatus/ApplicationStatus.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove duplicated code
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix namespace binding table visibility
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove deleting and adding runtime, small cleanup
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetailsHeader/RuntimeDetailsHeader.component.js
  compass/src/components/Runtimes/Runtimes.component.js
  shared/components/StatusBadge/StatusBadge.js
  shared/components/StatusBadge/test/StatusBadge.test.js
  shared/components/StatusBadge/test/__snapshots__/StatusBadge.test.js.snap
  shared/index.js
Due: pre-master-console-compass, post-master-console-compass

Remove unused actions from app list
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
