Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Use gql-client-service insead of apollo in gql data provider
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/namespaces/operation/configmaps/configmaps.component.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.ts
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  core/src/app/content/namespaces/operation/replica-sets/replica-sets.component.ts
  core/src/app/content/settings/applications/applications.component.ts
  core/src/app/content/settings/idp-presets/idp-presets.component.ts
  core/src/app/content/settings/service-brokers/service-brokers.component.ts
  core/src/app/shared/services/graphql-client-service.ts
Due: prow/console/brokers, console-core

768 fiorification phase 3 (#777)
  components/angular/generic-list/angular.json
  components/angular/generic-list/package-lock.json
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.html
  components/angular/generic-list/src/app/modules/list/generic-table/generic-table.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/apis.component.html
  core/src/app/content/namespaces/configuration/resources/resources.component.html
  core/src/app/content/namespaces/configuration/resources/resources.component.spec.ts
  core/src/app/content/namespaces/configuration/resources/resources.component.ts
  core/src/app/content/namespaces/namespace-details/namespace-details.component.html
  core/src/app/content/namespaces/operation/kubernetes-element-list.component.html
  core/src/app/content/namespaces/operation/secrets/secret-detail/secret-detail.component.html
  core/src/app/content/namespaces/operation/secrets/secrets-entry-renderer/secrets-entry-renderer.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.html
  core/src/app/content/namespaces/operation/services/services-entry-renderer/services-entry-renderer.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/applications.component.html
  core/src/app/content/settings/idp-presets/idp-presets.component.html
  core/src/app/content/settings/organisation/organisation.component.html
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.html
  core/src/app/shared/components/edit-resource/edit-resource.component.html
  core/src/app/shared/components/permissions/permissions.component.html
  core/src/app/shared/components/permissions/role-details/role-details.component.html
  core/src/styles/fiori-fundamentals-overrides.scss
  lambda/src/app/lambdas/lambda-details/lambda-details.component.html
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.html
  lambda/src/app/lambdas/list/lambdas.component.html
  lambda/src/styles/fiori-fundamentals-overrides.scss
Due: console-core

Minor changes
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/settings/applications/applications.component.ts
Due: console-core

Update react-fundamental library to 0.5.0 (#765)
  components/react/package-lock.json
  components/react/package.json
  components/react/src/components/Panel/index.js
  components/react/src/components/Table/styled.js
  components/react/src/components/Tile/index.js
  components/react/src/components/Toolbar/styled.js
  components/react/src/components/index.js
  tests/ui-tests/tests/catalog-ui-test.js
Due: console-tests

Fix
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.ts
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
  core/src/app/shared/services/graphql-client-service.ts
Due: console-core

Add tabs and integration with luigi
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
Due: none

Add tabs for service instances view, add missing default clause
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
Due: none

Run prettier for changed files
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
Due: none

Comment code that is not going to work with current Luigi version
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
Due: none

Prettier fix
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
Due: none

Add support for addons and services
  catalog/src/components/ServiceClassList/ActiveFiltersList/styled.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/FilterList/styled.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  catalog/src/components/ServiceClassList/ServiceClassList.container.js
  catalog/src/components/ServiceClassList/queries.js
  catalog/src/components/ServiceClassList/styled.js
  catalog/src/components/ServiceClassList/variables.js
  catalog/src/store/Filter/defaults.js
  catalog/src/store/Filter/resolvers.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  components/react/src/components/Toolbar/index.js
  components/react/src/components/Toolbar/styled.js
  instances/src/components/ServiceInstances/ServiceInstances.container.js
Due: none

Add support for addons and services
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  catalog/src/components/ServiceClassList/variables.js
  catalog/src/store/Filter/resolvers.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  core/src/luigi-config/luigi-config.js
  instances/src/components/DataProvider/fragments.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
  instances/src/components/ServiceInstances/ServiceInstances.container.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/SearchDropdown.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/ServiceInstancesToolbar.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/styled.js
  instances/src/components/ServiceInstances/queries.js
  instances/src/components/ServiceInstances/styled.js
  instances/src/components/ServiceInstances/variables.js
  instances/src/store/Filter/defaults.js
  instances/src/store/Filter/resolvers.js
Due: console-core

fetch impersonated selfsubjectrules in console
  core/src/luigi-config/luigi-config.js
Due: console-core

Review changes
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  catalog/src/store/Filter/resolvers.js
  catalog/src/variables.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/ServiceInstancesToolbar.component.js
  instances/src/store/Filter/resolvers.js
  instances/src/variables.js
Due: none

prettier
  catalog/src/store/Filter/resolvers.js
  instances/src/store/Filter/resolvers.js
Due: none

Review changes
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
Due: none

Review changes
  catalog/src/store/Filter/resolvers.js
  instances/src/store/Filter/resolvers.js
Due: none

Update catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
Due: none

Fix tests
  tests/ui-tests/tests/catalog-ui-test.js
Due: console-tests

prettier
  tests/ui-tests/tests/catalog-ui-test.js
Due: console-tests

Disable add-ons tests
  add-ons/Makefile
Due: none

Support addons (#782)
  add-ons/Makefile
  catalog/src/components/ServiceClassList/ActiveFiltersList/styled.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/FilterList/styled.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  catalog/src/components/ServiceClassList/ServiceClassList.container.js
  catalog/src/components/ServiceClassList/queries.js
  catalog/src/components/ServiceClassList/styled.js
  catalog/src/store/Filter/defaults.js
  catalog/src/store/Filter/resolvers.js
  catalog/src/variables.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  components/react/src/components/Toolbar/index.js
  components/react/src/components/Toolbar/styled.js
  core/src/luigi-config/luigi-config.js
  instances/src/components/DataProvider/fragments.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
  instances/src/components/ServiceInstances/ServiceInstances.container.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/SearchDropdown.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/ServiceInstancesToolbar.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/styled.js
  instances/src/components/ServiceInstances/queries.js
  instances/src/components/ServiceInstances/styled.js
  instances/src/store/Filter/defaults.js
  instances/src/store/Filter/resolvers.js
  instances/src/variables.js
  tests/ui-tests/tests/catalog-ui-test.js
Due: console-core, console-tests

Fix unit tests
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.spec.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.spec.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.spec.ts
  core/src/app/content/namespaces/services/namespaces.service.spec.ts
  core/src/app/content/settings/applications/services/applications.service.spec.ts
  core/src/app/content/settings/idp-presets/idp-presets.service.spec.ts
  core/src/app/ws.ts
Due: console-core

Run lint-fix in components/react
  components/react/src/components/Modal/index.js
  components/react/src/components/Notification/components.js
  components/react/src/components/Notification/index.js
Due: none

Add ts-ignore for one of useReducer parameter
  add-ons/package-lock.json
  add-ons/src/services/Filters.service.ts
Due: none

Run prettier again...
  add-ons/src/components/Table/Table.container.tsx
  add-ons/src/services/Filters.service.ts
Due: none

Remove yarn.lock from Dockerfile
  add-ons/Dockerfile
Due: none

Again improve Dockerfile
  add-ons/Dockerfile
Due: none

After tslint
  add-ons/package-lock.json
  add-ons/package.json
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.component.tsx
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.container.tsx
  add-ons/src/components/Modals/AddUrlModal/AddUrlModal.component.tsx
  add-ons/src/components/Modals/AddUrlModal/AddUrlModal.container.tsx
  add-ons/src/components/Modals/DeleteConfigurationModal/DeleteConfigurationModal.component.tsx
  add-ons/src/components/Modals/DeleteConfigurationModal/DeleteConfigurationModal.container.tsx
  add-ons/src/components/Modals/DeleteUrlModal/DeleteUrlModal.component.tsx
  add-ons/src/components/Modals/DeleteUrlModal/DeleteUrlModal.container.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopover.container.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopoverBody.component.tsx
  add-ons/src/components/Table/Table.container.tsx
  add-ons/src/constants.ts
  add-ons/src/core/apollo-client.ts
  add-ons/src/helpers/helm-broker-development-mode.ts
  add-ons/src/helpers/index.ts
  add-ons/src/index.tsx
  add-ons/src/services/Configurations.service.ts
  add-ons/src/services/Forms.tsx
  add-ons/src/services/Labels.service.ts
  add-ons/src/services/Mutations.service.ts
  add-ons/src/services/Notifications.service.ts
  add-ons/src/services/Queries.service.ts
  add-ons/src/services/Urls.service.ts
  add-ons/src/services/index.ts
  add-ons/tslint.json
  components/react/src/components/Modal/index.js
  components/react/src/components/Modal/styled.js
Due: none

Remove dupa.yaml :P
  add-ons/dupa.yaml
  add-ons/package.json
Due: none

Improve some components
  add-ons/.eslinterrc
  add-ons/src/helpers/helm-broker-development-mode.ts
  add-ons/src/helpers/random-names-generator.ts
  add-ons/src/index.tsx
  catalog/src/commons/helpers.js
  components/react/src/commons/index.js
  components/react/src/commons/random-names-data.js
  components/react/src/commons/random-names-generator.js
Due: none

Update package-lock from add-ons
  add-ons/package-lock.json
Due: none

Remove random-names-data from catalog
  add-ons/src/helpers/random-names-generator.ts
  catalog/src/commons/random-names-data.js
Due: none

Run lint-fix
  components/react/src/commons/random-names-generator.js
Due: none

Update constants for add-ons view
  add-ons/src/constants.ts
Due: none

Fix dependencies
  core/package-lock.json
  core/package.json
Due: console-core

Update constants
  add-ons/src/constants.ts
Due: none

Fix reload issue and small refactor
  core/package-lock.json
  core/package.json
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
Due: console-core

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/
