Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/

Disable red border when an input has no value
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.scss
Due: pre-master-console-compass, post-master-console-compass

Review changes
  compass/src/components/Runtimes/Runtimes.component.js
  compass/src/components/Shared/ResourceNotFound.component.js
  compass/src/shared/constants.js
Due: pre-master-console-compass, post-master-console-compass

Update codeowners
  CODEOWNERS
Due: none

Check validity on field change
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
Due: pre-master-console-compass, post-master-console-compass

Remove checking if name is unique
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.component.js
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.container.js
  compass/src/components/Runtimes/CreateRuntimeForm/test/CreateRuntimeForm.test.js
  compass/src/components/Runtimes/CreateRuntimeForm/test/__snapshots__/CreateRuntimeForm.test.js.snap
  compass/src/components/Runtimes/CreateRuntimeForm/test/mock.js
  compass/src/components/Runtimes/gql.js
Due: pre-master-console-compass, post-master-console-compass

Minor changes
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.component.js
  compass/src/components/Runtimes/CreateRuntimeForm/test/CreateRuntimeForm.test.js
Due: pre-master-console-compass, post-master-console-compass

Remove unused label param
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.component.js
Due: pre-master-console-compass, post-master-console-compass

Unify modal buttons with the rest of the app
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
Due: pre-master-console-compass, post-master-console-compass

Make description field not required
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.component.js
Due: pre-master-console-compass, post-master-console-compass

Remove contet changes
  content/package-lock.json
Due: none

Fix merge problems
  compass/src/components/Runtimes/Runtimes.component.js
  compass/src/components/Runtimes/Runtimes.js
Due: pre-master-console-compass, post-master-console-compass

Update snapshots
  compass/src/components/Runtimes/CreateRuntimeForm/test/__snapshots__/CreateRuntimeForm.test.js.snap
  compass/src/components/Runtimes/RuntimeList/RuntimeList.js
Due: pre-master-console-compass, post-master-console-compass

Finish modal, add remove functionality to list
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioDisplay.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioDisplay.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioModal/ApplicationScenarioModal.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioModal/style.scss
  compass/src/components/Application/gql.js
Due: pre-master-console-compass, post-master-console-compass

Fix broken tests
  core/src/app/content/namespaces/namespace-edit/namespace-edit.component.spec.ts
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.spec.ts
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.spec.ts
  core/src/app/content/settings/applications/edit-application-modal/edit-application-modal.component.spec.ts
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.spec.ts
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.spec.ts
Due: pre-master-console-core, post-master-console-core

Linter won't allow focused tests
  core/package-lock.json
  core/package.json
  core/tslint.json
Due: pre-master-console-core, post-master-console-core

Pretty
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.spec.ts
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.spec.ts
  core/src/app/content/settings/applications/edit-application-modal/edit-application-modal.component.spec.ts
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.spec.ts
Due: pre-master-console-core, post-master-console-core

Allow Api hostname without domain
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/shared/services/generic-helpers.service.spec.ts
  core/src/app/shared/services/generic-helpers.service.ts
Due: pre-master-console-core, post-master-console-core

Move addDomainIfMissing to entry renderer
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.spec.ts
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/shared/services/generic-helpers.service.spec.ts
  core/src/app/shared/services/generic-helpers.service.ts
Due: pre-master-console-core, post-master-console-core

Remove old codeowners
  CODEOWNERS
Due: none

Fix not hiding backdrop issue
  lambda/src/app/lambdas/lambda-details/event-trigger-chooser/event-trigger-chooser.component.ts
  lambda/src/app/lambdas/lambda-details/http-trigger/http-trigger.component.ts
Due: none

Update after merge
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioDisplay.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioModal/ApplicationScenarioModal.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioModal/style.scss
  compass/src/shared/components/GenericList/GenericList.js
Due: pre-master-console-compass, post-master-console-compass

Fix runtimeDetailsHeader
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetailsHeader/RuntimeDetailsHeader.component.js
Due: pre-master-console-compass, post-master-console-compass

Extract modal for next tasks
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioDisplay.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioModal.container.js
  compass/src/components/Application/gql.js
  compass/src/components/Shared/AssignScenarioModal/AssignScenarioModal.component.js
  compass/src/components/Shared/AssignScenarioModal/style.scss
  compass/src/components/Shared/gql.js
Due: pre-master-console-compass, post-master-console-compass

compass-ui serve mutliple react apps
  compass/Dockerfile
  compass/nginx.conf
Due: pre-master-console-compass, post-master-console-compass

Change router to hashrouter
  compass/src/App.component.js
Due: pre-master-console-compass, post-master-console-compass

byle co
  compass/nginx.conf
  compass/package-lock.json
  compass/package.json
  compass/public/config/config.js
  compass/public/index.html
  compass/public/luigi-core/0072d92bfeaf57f02de04342d06a3463.woff2
  compass/public/luigi-core/15d69c7c6c46af899033b881f0786328.woff2
  compass/public/luigi-core/1abad19983bc369ee086769a8d503050.ttf
  compass/public/luigi-core/1e678655fe64a8a126dd51619f22edde.woff
  compass/public/luigi-core/1f13fc6d938b5cda6bde9229f722ea8c.woff
  compass/public/luigi-core/2bf8d215e6d4ac1b622728c4d2f06d4a.ttf
  compass/public/luigi-core/317cde33cde273c643e2f4bfe788eefe.ttf
  compass/public/luigi-core/3ab665b6d2fbcc13822abf07520f3972.ttf
  compass/public/luigi-core/48cb3e07e7e509d6c81c420507d7916b.woff
  compass/public/luigi-core/56af1d33fbd8bf1d80afd53f3f1d01ca.woff2
  compass/public/luigi-core/7f6c7cb94c0d8088b023553d46a64e07.woff2
  compass/public/luigi-core/85e09d643e5d4b5f98c3aaf365bd1c02.woff2
  compass/public/luigi-core/909707d4c2808b374157094c2950925e.woff
  compass/public/luigi-core/9b4487708ef140ace9dbc396a39bbf44.woff
  compass/public/luigi-core/README.md
  compass/public/luigi-core/a055c920fa3948666fc4412d72aa94f3.ttf
  compass/public/luigi-core/ab363ac31002ac1293658c71a84eef29.woff
  compass/public/luigi-core/auth/oauth2/callback.html
  compass/public/luigi-core/auth/oidc/oidc-client.min.js
  compass/public/luigi-core/auth/oidc/silent-callback.html
  compass/public/luigi-core/c1ba0da78d7f6586cf5b00d5ef5eb806.woff
  compass/public/luigi-core/c58be3ff685e0c820c8438bbf1579351.ttf
  compass/public/luigi-core/c5f39800983eb3eb97ed2ba72a5be4b7.woff
  compass/public/luigi-core/e2f76695560366054ce11dc7efc046fd.ttf
  compass/public/luigi-core/luigi.css
  compass/public/luigi-core/luigi.js
  compass/public/luigi-core/package.json
  compass/public/luigi-index.html
  compass/src/config/luigi-config/navigation.js
  compass/webpack-generateConfig.config.js
  components/react/package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance

Update fundamentls, fix app binding dropdown
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.scss
  core/package-lock.json
  core/package.json
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.html
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.scss
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.ts
Due: pre-master-console-core, post-master-console-core

Add compass-system to the list of system namespaces
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core

Apply renaming, fix css issues
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationScenarioModal.container.js
  compass/src/components/Shared/AssignScenarioModal/AssignScenarioModal.component.js
  compass/src/components/Shared/AssignScenarioModal/style.scss
Due: pre-master-console-compass, post-master-console-compass

Refactor after review
  compass/package-lock.json
  compass/package.json
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/APICreationHelper.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/APIUploadHelper.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/ApiDataForm.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/CredentialsForm.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/FileInput.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/TextFormItem.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/style.scss
Due: pre-master-console-compass, post-master-console-compass

Fix roles binding dropdown
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.html
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.ts
Due: pre-master-console-core, post-master-console-core

compass-ui configurable
  compass/nginx.conf
  compass/public/config/config.js
  compass/public/luigi-index.html
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  compass/src/config/luigi-config/navigation.js
  compass/src/config/luigi-config/settings.js
Due: pre-master-console-compass, post-master-console-compass

Update after review
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/APICreationHelper.js
Due: pre-master-console-compass, post-master-console-compass

Add comment for future generations
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/style.scss
Due: pre-master-console-compass, post-master-console-compass

Change after review
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
Due: pre-master-console-compass, post-master-console-compass

compass-ui configurable
  compass/src/config/config.js
  compass/src/store/index.js
Due: pre-master-console-compass, post-master-console-compass

compass-ui mf
  compass/src/config/config.js
  compass/src/config/luigi-config/helpers/navigation-helpers.js
Due: pre-master-console-compass, post-master-console-compass

revert react components package.lock
  components/react/package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

revert README.md
  compass/public/luigi-core/README.md
Due: pre-master-console-compass, post-master-console-compass, console-governance

Remove Kwiatek and Sjanota from codeowners
  CODEOWNERS
Due: none
