Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Create apirule form
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  shared/components/InputWithSuffix/InputWithSuffix.js
  shared/components/InputWithSuffix/InputWithSuffix.scss
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Clean up
  core-ui/src/components/ApiRules/CreateApiRule/AccessStrategy.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix lambda test, add ServicesDropdown
  core-ui/src/components/ApiRules/CreateApiRule/ServicesDropdown/ServicesDropdown.js
  core-ui/src/components/Lambdas/test/Lambdas.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add further structural changes
  components/generic-documentation/README.md
Due: console-governance

Revert changes in compass
  compass/src/shared/components/DocumentationComponent/DocumentationComponent.js
  components/generic-documentation/src/index.tsx
Due: pre-master-console-compass, post-master-console-compass

Add final comments
  components/generic-documentation/README.md
Due: console-governance

Add further fixes
  components/generic-documentation/README.md
Due: console-governance

Naming fixes
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
  compass/src/components/Api/CreateApiForm/CreateApiForm.component.js
  compass/src/components/Api/CreateEventApiForm/CreateEventApiForm.component.js
  compass/src/components/Api/EditApi/EditApi.component.js
  compass/src/components/Api/EditApi/EditApi.scss
  compass/src/components/Api/EditEventApi/EditEventApi.component.js
  compass/src/components/Api/EditEventApi/EditEventApi.scss
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.component.js
  compass/src/components/Shared/FileInput/FileInputWithRef.js
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
  shared/hooks/useMutationObserver.js
Due: pre-master-console-compass, post-master-console-compass

Early review fixes
  compass/src/App.scss
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/ApiDetailsHeader.js
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/test/__snapshots__/ApiDetailsHeader.test.js.snap
  compass/src/components/Api/ApiHelpers.js
  compass/src/components/Api/CreateApiForm/CreateApiForm.component.js
  compass/src/components/Api/CreateEventApiForm/CreateEventApiForm.component.js
  compass/src/components/Api/EditApi/EditApi.component.js
  compass/src/components/Api/EditApiHeader/EditApiHeader.component.js
  compass/src/components/Api/EditEventApi/EditEventApi.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.container.js
Due: pre-master-console-compass, post-master-console-compass

Show an error message if an error occured while getting bindable resources
  components/react/package-lock.json
  core/package-lock.json
  lambda/package-lock.json
  logging/package-lock.json
  package-lock.json
  package.json
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Remove https:// prefix if is already there
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.html
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.ts
Due: pre-master-console-core, post-master-console-core

Generic List improvements
  compass/src/App.scss
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.component.js
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/GenericList.scss
Due: pre-master-console-compass, post-master-console-compass

Update ApiForm.js
  compass/src/components/Api/Forms/ApiForm.js
Due: pre-master-console-compass, post-master-console-compass

Tests for InputWithSuffix, CreateApiRule
  core-ui/src/components/ApiRules/CreateApiRule/AccessStrategy.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/ServicesDropdown/ServicesDropdown.js
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  core-ui/src/components/ApiRules/CreateApiRule/test/__snapshots__/CreateApiRule.test.js.snap
  core-ui/src/testing/queriesMocks.js
  core-ui/src/testing/servicesMocks.js
  shared/components/InputWithSuffix/InputWithSuffix.js
  shared/components/InputWithSuffix/test/InputWithSuffix.test.js
  shared/components/K8sNameInput/K8sNameInput.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update RegisterRuntimeForm.scss
  compass/src/components/Runtimes/RegisterRuntimeForm/RegisterRuntimeForm.scss
Due: pre-master-console-compass, post-master-console-compass

change subscriptions policy to network-only
  service-catalog-ui/instances/src/store/ServiceInstances/events.js
  service-catalog-ui/instances/src/store/index.js
Due: none

Layout fixes
  compass/src/components/Api/APICreationHelper.js
  compass/src/components/Api/CreateApiForm/CreateApiForm.component.js
  compass/src/components/Api/CreateEventApiForm/CreateEventApiForm.component.js
  compass/src/components/Api/EditApi/APIViewModel.js
  compass/src/components/Api/EditApi/EditApi.scss
  compass/src/components/Api/EditEventApi/EditEventApi.component.js
  compass/src/components/Api/Forms/CredentialForms/CredentialsForm.js
  compass/src/components/Api/Forms/CredentialForms/CredentialsForm.scss
  compass/src/components/Api/shared/TextDropdown/TextDropdown.scss
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.scss
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.component.js
  compass/src/components/Shared/FileInput/FileInput.js
  compass/src/components/Shared/FileInput/FileInput.scss
  compass/src/components/Shared/FileInput/FileInputWithRef.js
  compass/src/components/Shared/FileInput/style.scss
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
  compass/src/shared/components/PanelEntry/PanelEntry.component.js
  shared/hooks/useMutationObserver.js
Due: pre-master-console-compass, post-master-console-compass

Review changes & fixes
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/ApiDetailsHeader.js
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/test/__snapshots__/ApiDetailsHeader.test.js.snap
  compass/src/components/Api/ApiHelpers.js
  compass/src/components/Api/EditApi/EditApi.component.js
  compass/src/components/Api/EditApiHeader/EditApiHeader.component.js
  compass/src/components/Api/EditEventApi/EditEventApi.component.js
  compass/src/components/Api/Forms/ApiEditorForm.js
  compass/src/components/Api/Forms/CredentialForms/CredentialsForm.js
  compass/src/components/Api/Forms/CredentialForms/CredentialsForm.scss
  compass/src/components/Api/Forms/CredentialForms/OAuthCredentialsForm.js
  compass/src/components/Api/shared/TextDropdown/TextDropdown.js
  compass/src/components/Api/shared/TextDropdown/TextDropdown.scss
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetailsHeader/RuntimeDetailsHeader.component.js
  compass/src/components/Shared/Dropdown/Dropdown.js
  compass/src/components/Shared/Dropdown/Dropdown.scss
  compass/src/config/luigi-config/navigation.js
  compass/src/shared/components/PanelEntry/test/PanelEntry.test.js
  compass/src/shared/components/PanelEntry/test/__snapshots__/PanelEntry.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Tests
  core-ui/src/components/ApiRules/CreateApiRule/AccessStrategy/AccessStrategy.js
  core-ui/src/components/ApiRules/CreateApiRule/AccessStrategy/test/AccessStrategy.test.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/ServicesDropdown/ServicesDropdown.js
  core-ui/src/components/ApiRules/CreateApiRule/ServicesDropdown/test/ServicesDropdown.test.js
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  core-ui/src/components/ApiRules/CreateApiRule/test/__snapshots__/CreateApiRule.test.js.snap
  core-ui/src/gql/mutations.js
  core-ui/src/testing/queriesMocks.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Finish FileInput
  compass/src/components/Api/CreateApiForm/CreateApiForm.component.js
  compass/src/components/Api/CreateEventApiForm/CreateEventApiForm.component.js
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.component.js
  compass/src/components/Shared/FileInput/FileInput.js
  compass/src/components/Shared/FileInput/FileInputWithRef.js
Due: pre-master-console-compass, post-master-console-compass

Cleanup edit api components
  compass/src/components/Api/EditApi/EditApi.component.js
  compass/src/components/Api/EditEventApi/EditEventApi.component.js
Due: pre-master-console-compass, post-master-console-compass

Fixing compilation warnings
  core-ui/src/components/ApiRules/CreateApiRule/AccessStrategy/AccessStrategy.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/ServicesDropdown/ServicesDropdown.js
  core-ui/src/components/ApiRules/CreateApiRule/ServicesDropdown/test/ServicesDropdown.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Hide from nav
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.service.ts
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

change role to aria-label
  core-ui/src/components/ApiRules/CreateApiRule/AccessStrategy/test/AccessStrategy.test.js
  core-ui/src/components/ApiRules/CreateApiRule/ServicesDropdown/ServicesDropdown.js
  core-ui/src/components/ApiRules/CreateApiRule/ServicesDropdown/test/ServicesDropdown.test.js
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  shared/components/InputWithSuffix/test/InputWithSuffix.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use view groups in compass
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

review changes
  core-ui/src/components/ApiRules/CreateApiRule/AccessStrategy/AccessStrategy.js
  core-ui/src/components/ApiRules/CreateApiRule/AccessStrategy/test/AccessStrategy.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

further improvements
  core-ui/src/components/ApiRules/CreateApiRule/AccessStrategy/test/AccessStrategy.test.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  core-ui/src/setupTests.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix spinner imports
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsWrapper.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetailsWrapper.ui.test.js
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/components/Lambdas/test/Lambdas.test.js
  core-ui/src/components/NamespaceList/NamespaceList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix configuration issue, fix IDP preset being overwritten
  core/src/app/app.config.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: pre-master-console-core, post-master-console-core

Fix config
  core/src/app/app.config.ts
Due: pre-master-console-core, post-master-console-core

fix test
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  core-ui/src/testing/queriesMocks.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Unify config name across dev and non-dev console
  .clusterConfig.default
  core/src/app/app.config.ts
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.service.ts
  lambda/src/app/app.config.ts
Due: pre-master-console-core, post-master-console-core

Add delete action to apis list
  core-ui/src/components/ApiRules/ApiRules.js
  core-ui/src/gql/mutations.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Improve hostname regexp
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Improve serviceDropdown test
  core-ui/src/components/ApiRules/CreateApiRule/ServicesDropdown/test/ServicesDropdown.test.js
  core-ui/src/components/ApiRules/CreateApiRule/ServicesDropdown/test/__snapshots__/ServicesDropdown.test.js.snap
Due: pre-master-console-core-ui, post-master-console-core-ui

Improve test
  shared/components/InputWithSuffix/test/InputWithSuffix.test.js
  shared/components/K8sNameInput/K8sNameInput.js
Due: none

Remove unused vars
  core-ui/src/components/ApiRules/CreateApiRule/AccessStrategy/AccessStrategy.js
Due: pre-master-console-core-ui, post-master-console-core-ui

rebase
  core-ui/src/components/ApiRules/ApiRules.js
  core-ui/src/components/App/App.js
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Move Spinner to react-shared
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsWrapper.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetailsWrapper.ui.test.js
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/components/Lambdas/test/Lambdas.test.js
  core-ui/src/components/NamespaceList/NamespaceList.js
  shared/components/Spinner/Spinner.js
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add actions and details link
  core-ui/src/components/ApiRules/ApiRules.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
