Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Add test for error while creating instance
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/catalog/src/testing/queriesMocks.js
Due: none

Clean up
  service-catalog-ui/catalog/src/components/App/App.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.container.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/catalog/src/components/ServiceClassList/test/ServiceClassList.test.js
  service-catalog-ui/catalog/src/shared/ModalWithForm/ModalWithForm.js
Due: none

final fixes
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/catalog/src/testing/serviceClassesMocks.js
Due: none

remove console.log
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update README.md
  README.md
Due: console-governance

Set constant modal width
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.component.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.scss
Due: pre-master-console-compass, post-master-console-compass

Remove store
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/catalog/src/components/ServiceClassList/test/ServiceClassList.test.js
  service-catalog-ui/catalog/src/store/ServiceClassDetails/defaults.js
  service-catalog-ui/catalog/src/store/ServiceClassDetails/resolvers.js
  service-catalog-ui/catalog/src/store/defaults.js
  service-catalog-ui/catalog/src/store/index.js
  service-catalog-ui/catalog/src/store/resolvers.js
  service-catalog-ui/catalog/src/store/transformers.js
Due: none

Fix broken logic for building navigation structure
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/microfrontend-converter.js
  core/src/luigi-config/queries.js
Due: pre-master-console-core, post-master-console-core

Clean up mocks
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/catalog/src/testing/queriesMocks.js
  service-catalog-ui/catalog/src/testing/serviceClassesMocks.js
Due: none

Add tooltip to copy button
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.component.js
  shared/components/Tooltip/Tooltip.js
  shared/index.js
  shared/package-lock.json
  shared/package.json
  shared/webpack.config.js
Due: pre-master-console-compass, post-master-console-compass

Review changes
  components/react/src/components/Forms/JSONSchema/index.js
  service-catalog-ui/catalog/src/apollo.js
  service-catalog-ui/catalog/src/components/App/App.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.scss
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/test/gqlMocks.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/WithNotificationContext/WithNotificationContext.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/queries.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassToolbar/FilterDropdown.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassToolbar/ServiceClassToolbar.component.js
  service-catalog-ui/catalog/src/contexts/NotificationContext/NotificationContext.js
  service-catalog-ui/catalog/src/index.js
  service-catalog-ui/catalog/src/shared/ModalWithForm/ModalWithForm.js
  service-catalog-ui/catalog/src/shared/contexts/NotificationContext/index.js
  service-catalog-ui/catalog/src/store/defaults.js
  service-catalog-ui/catalog/src/store/resolvers.js
  service-catalog-ui/catalog/src/variables.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content

Remove unused files
  add-ons/src/components/Table/ActiveFilters.component.tsx
  add-ons/src/components/Table/ActiveFilters.container.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopover.component.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopover.container.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopoverBody.component.tsx
  add-ons/src/components/Table/FilterPopover/styled.ts
  add-ons/src/components/Table/Search/Search.component.tsx
  add-ons/src/components/Table/Search/Search.container.tsx
  add-ons/src/components/Table/Search/styled.ts
  add-ons/src/components/Table/Table.component.tsx
  add-ons/src/components/Table/Table.container.tsx
  add-ons/src/components/Table/TableContent.component.tsx
  add-ons/src/components/Table/styled.ts
Due: none

Add token data reset
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Move LabelSelectorInput to shared
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.js
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  core-ui/src/components/Lambdas/CreateLambdaForm/CreateLambdaForm.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  shared/components/LabelSelectorInput/LabelSelectorInput.js
  shared/components/LabelSelectorInput/LabelSelectorInput.scss
  shared/components/LabelSelectorInput/test/LabelSelectorInput.test.js
  shared/components/LabelSelectorInput/test/__snapshots__/LabelSelectorInput.test.js.snap
  shared/components/LabelSelectorInput/test/labelRegexp.test.js
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

minor improvements
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.js
  shared/components/FloatingControls/FloatingControls.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Revert "Move LabelSelectorInput to shared"
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.js
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.js
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.scss
  core-ui/src/components/LabelSelectorInput/test/LabelSelectorInput.test.js
  core-ui/src/components/LabelSelectorInput/test/__snapshots__/LabelSelectorInput.test.js.snap
  core-ui/src/components/LabelSelectorInput/test/labelRegexp.test.js
  core-ui/src/components/Lambdas/CreateLambdaForm/CreateLambdaForm.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove mutators
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Create and delete knative triggers
  lambda/src/app/app.config.ts
  lambda/src/app/app.module.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/triggers/triggers.service.spec.ts
  lambda/src/app/triggers/triggers.service.ts
Due: none

Separate AccessStrategy component & add StringInput
  core-ui/src/components/ApiRuleCreationDraft/AccessStrategy.js
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.js
  shared/components/StringInput/StringInput.js
  shared/components/StringInput/StringInput.scss
  shared/components/StringInput/test/LabelSelectorInput.test.js
  shared/components/StringInput/test/__snapshots__/LabelSelectorInput.test.js.snap
  shared/components/StringInput/test/labelRegexp.test.js
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update solution
  core-ui/src/components/ApiRuleCreationDraft/AccessStrategy.js
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.js
  core-ui/src/index.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Move service data to header
  core-ui/src/components/ApiRuleCreationDraft/AccessStrategy.js
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.js
  core-ui/src/index.scss
  shared/components/HostWithPortInput/HostWithPortInput.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Disable UI tests
  tests/package.json
Due: pre-master-console-tests, post-master-console-tests

Add tests
  add-ons/package-lock.json
  add-ons/package.json
  add-ons/setupTests.ts
  add-ons/src/components/AddonConfigurationBadge/AddonConfigurationBadge.tsx
  add-ons/src/components/AddonConfigurationBadge/test/AddonConfigurationBadge.test.tsx
  add-ons/src/components/AddonConfigurationBadge/test/__snapshots__/AddonConfigurationBadge.test.tsx.snap
  add-ons/src/components/AddonList/AddonList.scss
  add-ons/src/components/AddonList/AddonList.tsx
  add-ons/src/components/AddonList/test/AddonList.test.tsx
  add-ons/src/components/AddonList/test/__snapshots__/AddonList.test.tsx.snap
  add-ons/src/components/AddonPanel/AddonPanel.scss
  add-ons/src/components/AddonPanel/AddonPanel.tsx
  add-ons/src/components/AddonPanel/AddonTable/test/AddonTable.test.tsx
  add-ons/src/components/AddonPanel/AddonTable/test/__snapshots__/AddonTable.test.tsx.snap
  add-ons/src/components/AddonPanel/RepositoryTableSegment/test/RepositoryTableSegment.test.tsx
  add-ons/src/components/AddonPanel/RepositoryTableSegment/test/__snapshots__/RepositoryTableSegment.test.tsx.snap
  add-ons/src/components/AddonPanel/test/AddonPanel.test.tsx
  add-ons/src/components/AddonPanel/test/__snapshots__/AddonPanel.test.tsx.snap
  add-ons/src/components/Atoms/test/InlineHelp.test.tsx
  add-ons/src/components/Atoms/test/__snapshots__/InlineHelp.test.tsx.snap
  add-ons/src/components/CollapsiblePanel/CollapsiblePanel.tsx
  add-ons/src/components/CollapsiblePanel/test/CollapsiblePanel.test.tsx
  add-ons/src/components/CollapsiblePanel/test/__snapshots__/CollapsiblePanel.test.tsx.snap
  add-ons/src/components/LabelDisplay/test/LabelDisplay.test.tsx
  add-ons/src/components/LabelDisplay/test/__snapshots__/LabelDisplay.test.tsx.snap
  add-ons/src/components/Toolbar/Toolbar.component.tsx
  add-ons/src/components/Toolbar/test/Toolbar.test.tsx
  add-ons/src/components/Toolbar/test/__snapshots__/Toolbar.test.tsx.snap
  add-ons/src/core/App.tsx
  add-ons/src/types.ts
Due: none

Add tests
  lambda/src/app/lambdas/lambda-details/lambda-details.component.spec.ts
  lambda/src/app/triggers/triggers.service.spec.ts
  lambda/src/app/triggers/triggers.service.ts
Due: none

Fix Makefile
  add-ons/Makefile
Due: none

Move general settings to a separate panel
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
