Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/

Use backend module to determine if apps are enabled
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespacesGrid.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update snapshots
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/test/__snapshots__/StatusPanel.test.js.snap
  service-catalog-ui/src/components/ServiceInstanceList/test/__snapshots__/ServiceInstanceList.test.js.snap
Due: none

rename metadata definitions to metadata
  compass/src/components/Shared/MetadataDefinitionTable/MetadataDefinitionTable.js
Due: pre-master-console-compass, post-master-console-compass

WIP
  service-catalog-ui/src/components/ServiceClassDetails/ProvisionOnlyOnceInfo/ProvisionOnlyOnceInfo.component.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/StatusPanel.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/styled.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/test/ServiceInstanceInfo.test.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/test/__snapshots__/StatusPanel.test.js.snap
  service-catalog-ui/src/components/ServiceInstanceDetails/test/ServiceInstanceDetails.test.js
Due: none

Use react-shared spinner
  service-catalog-ui/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/src/components/ServiceClassList/test/ServiceClassList.test.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/Resources.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/src/components/ServiceInstanceDetails/test/ServiceInstanceDetails.test.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceList.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceTable.component.js
  service-catalog-ui/src/components/ServiceInstanceList/test/ServiceInstanceList.test.js
Due: none

Increase default max memory per container
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  core-ui/src/components/CreateNamespaceForm/test/gqlMocks.js
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Fix ServiceInstanceTable test
  service-catalog-ui/src/components/ServiceClassList/test/__snapshots__/ServiceClassList.test.js.snap
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceTable.component.js
  service-catalog-ui/src/components/ServiceInstanceList/test/ServiceInstanceList.test.js
  service-catalog-ui/src/components/ServiceInstanceList/test/__snapshots__/ServiceInstanceList.test.js.snap
Due: none

Uncomment test
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/src/components/ServiceInstanceList/test/ServiceInstanceList.test.js
  service-catalog-ui/src/components/ServiceInstanceList/test/__snapshots__/ServiceInstanceList.test.js.snap
Due: none

Fix ServiceInstanceHeader layout
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/styled.js
Due: none

Review comments
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/NamespaceDetailsCard.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespacesGrid.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use fd-react instead of react-components
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/styled.js
  service-catalog-ui/src/components/ServiceClassList/FilterList/Filter.component.js
  service-catalog-ui/src/components/ServiceClassList/FilterList/styled.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/DeleteBindingModal/DeleteBindingModal.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceInfo/test/ServiceInstanceInfo.test.js
Due: none

Keep Application capitalized
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/NamespaceDetailsCard.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix test warnings
  service-catalog-ui/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/DeleteBindingModal/DeleteBindingModal.component.js
Due: none

Fix FilterDropdown display
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceToolbar/FilterDropdown.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceToolbar/FilterDropdown.scss
Due: none

Moving tabs into react-shared in progress
  service-catalog-ui/src/components/ServiceInstanceList/styled.js
  shared/components/Tabs/Tab.js
  shared/components/Tabs/Tab.scss
  shared/components/Tabs/Tabs.js
  shared/components/Tabs/Tabs.scss
  shared/index.js
Due: none

Add missing test cases
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/test/CodeAndDependencies.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/test/ResourceManagement.test.js
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useEventActivationsQuery.test.js
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useEventTriggersQuery.test.js
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useLambdaQuery.test.js
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useLambdasQuery.test.js
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useServiceBindingUsagesQuery.test.js
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useServiceInstancesQuery.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use and simplify new Tabs
  service-catalog-ui/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/src/components/ServiceClassList/styled.js
  service-catalog-ui/src/components/ServiceClassList/test/ServiceClassList.test.js
  service-catalog-ui/src/components/ServiceClassList/test/__snapshots__/ServiceClassList.test.js.snap
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceList.js
  service-catalog-ui/src/components/ServiceInstanceList/test/ServiceInstanceList.test.js
  service-catalog-ui/src/components/ServiceInstanceList/test/__snapshots__/ServiceInstanceList.test.js.snap
  shared/components/Tabs/Tab.js
  shared/components/Tabs/Tabs.js
Due: none

Suppress Luigi warning in ModalWithForm test
  shared/components/ModalWithForm/test/ModalWithForm.test.js
Due: none

Add tab tests
  shared/components/Tabs/Tabs.js
  shared/components/Tabs/test/Tabs.test.js
Due: none

Bump odata-react
  components/generic-documentation/package-lock.json
  components/generic-documentation/package.json
  components/react/package-lock.json
  package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-master-console-whitesource-scan

Fix styles
  service-catalog-ui/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceList.js
  service-catalog-ui/src/components/ServiceInstanceList/styled.js
  shared/components/Tabs/Tabs.js
  shared/components/Tabs/Tabs.scss
Due: none

Use test.each
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/test/ResourceManagement.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

fix unwanted dot
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.scss
Due: none

fix instances breadcrumb margin
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/styled.js
Due: none

rename some functions
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
Due: none

remove local SchemaData form data state
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
Due: none

Cleanup Tabs
  shared/components/Tabs/Tab.js
  shared/components/Tabs/Tabs.js
  shared/components/Tabs/Tabs.scss
Due: none

Cleanup Tabs usages
  service-catalog-ui/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceList.js
Due: none

Use react-shared modals
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/InfoButton/styled.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ParametersDataModal/ParametersDataModal.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/SecretDataModal/SecretDataModal.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
Due: none

Fix Application BM lookup
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespacesGrid.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Hide validation until any input is detected
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
Due: none

Use shared tooltips
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  service-catalog-ui/src/components/ServiceClassList/Cards/Labels.js
  service-catalog-ui/src/components/ServiceClassList/Cards/test/__snapshots__/Labels.test.js.snap
  service-catalog-ui/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/src/components/ServiceClassList/test/__snapshots__/ServiceClassList.test.js.snap
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/InfoButton/InfoButton.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/InfoButton/styled.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceList.js
  service-catalog-ui/src/components/ServiceInstanceList/test/__snapshots__/ServiceInstanceList.test.js.snap
Due: none

Use GenericList instead of Table
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInstancesTable/ServiceClassInstancesTable.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceRowRenderer.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceTable.component.js
  service-catalog-ui/src/components/ServiceInstanceList/test/ServiceInstanceList.test.js
  service-catalog-ui/src/components/ServiceInstanceList/test/__snapshots__/ServiceInstanceList.test.js.snap
  shared/components/GenericList/GenericList.js
Due: none

Fix catalog tests
  service-catalog-ui/src/components/ServiceInstanceList/test/ServiceInstanceList.test.js
  service-catalog-ui/src/components/ServiceInstanceList/test/__snapshots__/ServiceInstanceList.test.js.snap
Due: none

Fix instances list additional header column and bindings list row height
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceTable.component.js
Due: none

Add tests for simpleDelete
  shared/components/GenericList/actionHandlers/simpleDelete.js
  shared/components/GenericList/actionHandlers/test/handleDelete.test.js
Due: none

Unify className prop name
  service-catalog-ui/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceList.js
  shared/components/Tabs/Tabs.js
Due: none

manage validation visibility inside SchemaData
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
Due: none

use ref to store the initialFormData
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
Due: none

use useLayoutEffect to save (hopefully) some pricey milliseconds
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
Due: none
