Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

update readme
  tests/README.md
Due: console-governance, console-tests

Update tests/README.md
  tests/README.md
Due: console-governance, console-tests

Apply suggestions from code review
  tests/README.md
Due: console-governance, console-tests

Fix ui tests for service catalog (#802)
  tests/README.md
  tests/ui-tests/tests/catalog-ui-test.js
Due: console-governance, console-tests

change var for let in for loops
  core/src/luigi-config/rbac-rules-matcher.js
Due: console-core

remove space
  core/src/app/content/workspace-overview/namespace-card/namespace-card.component.html
Due: console-core

Upgrade to luigi 0.4.12-rc.1
  core/package-lock.json
  core/package.json
Due: console-core

remove space at the beginning of namespace
  core/src/app/content/workspace-overview/namespace-card/namespace-card.component.html
Due: console-core

add 'system' labels to system namespaces (#800)
  core/src/app/content/workspace-overview/namespace-card/namespace-card.component.html
  core/src/app/shared/datamodel/k8s/generic/meta-data.ts
Due: console-core

Fix styles of filter dropdown
  components/react/src/components/Dropdown/index.js
  components/react/src/components/Dropdown/styled.js
Due: none

Prettier
  components/react/src/components/Dropdown/styled.js
Due: none

Update CSP in nginx conf file by adding web sockets address to connect-src directive
  core/nginx/nginx.conf
Due: console-core

Fix TSLint for add-ons view
  add-ons/Makefile
  add-ons/package-lock.json
  add-ons/package.json
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.component.tsx
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.container.tsx
  add-ons/src/components/Modals/AddUrlModal/AddUrlModal.component.tsx
  add-ons/src/components/Modals/DeleteConfigurationModal/DeleteConfigurationModal.component.tsx
  add-ons/src/components/Modals/DeleteUrlModal/DeleteUrlModal.component.tsx
  add-ons/src/components/Notification/Notification.component.tsx
  add-ons/src/components/Table/ActiveFilters.component.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopover.component.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopoverBody.component.tsx
  add-ons/src/components/Table/Search/Search.component.tsx
  add-ons/src/components/Table/Table.component.tsx
  add-ons/src/components/Table/TableContent.component.tsx
  add-ons/src/components/Toolbar/Toolbar.component.tsx
  add-ons/src/constants.ts
  add-ons/src/core/apollo-client-ws.ts
  add-ons/src/core/apollo-client.ts
  add-ons/src/core/app-initializer.ts
  add-ons/src/services/Configurations.service.ts
  add-ons/src/services/Filters.service.ts
  add-ons/src/services/Forms.tsx
  add-ons/src/services/Labels.service.ts
  add-ons/src/services/Notifications.service.ts
  add-ons/src/services/types.ts
  add-ons/src/types.ts
  add-ons/tslint.json
Due: none

Fix TSLint for add-ons view (#810)
  add-ons/Makefile
  add-ons/package-lock.json
  add-ons/package.json
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.component.tsx
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.container.tsx
  add-ons/src/components/Modals/AddUrlModal/AddUrlModal.component.tsx
  add-ons/src/components/Modals/DeleteConfigurationModal/DeleteConfigurationModal.component.tsx
  add-ons/src/components/Modals/DeleteUrlModal/DeleteUrlModal.component.tsx
  add-ons/src/components/Notification/Notification.component.tsx
  add-ons/src/components/Table/ActiveFilters.component.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopover.component.tsx
  add-ons/src/components/Table/FilterPopover/FilterPopoverBody.component.tsx
  add-ons/src/components/Table/Search/Search.component.tsx
  add-ons/src/components/Table/Table.component.tsx
  add-ons/src/components/Table/TableContent.component.tsx
  add-ons/src/components/Toolbar/Toolbar.component.tsx
  add-ons/src/constants.ts
  add-ons/src/core/apollo-client-ws.ts
  add-ons/src/core/apollo-client.ts
  add-ons/src/core/app-initializer.ts
  add-ons/src/services/Configurations.service.ts
  add-ons/src/services/Filters.service.ts
  add-ons/src/services/Forms.tsx
  add-ons/src/services/Labels.service.ts
  add-ons/src/services/Notifications.service.ts
  add-ons/src/services/types.ts
  add-ons/src/types.ts
  add-ons/tslint.json
Due: none

Review changes
  components/react/src/components/Dropdown/index.js
Due: none

Fix unnecessary requests for services and applications (#799)
  core/src/app/content/namespaces/configuration/apis/apis.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-ranges.component.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quotas.component.ts
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/namespaces/operation/abstract-kubernetes-element-list.component.ts
  core/src/app/content/namespaces/operation/configmaps/configmaps.component.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  core/src/app/content/namespaces/operation/replica-sets/replica-sets.component.ts
  core/src/app/content/namespaces/operation/secrets/secrets.component.ts
  core/src/app/content/namespaces/operation/services/services.component.ts
  core/src/app/content/settings/applications/applications.component.ts
  core/src/app/content/settings/idp-presets/idp-presets.component.ts
  core/src/app/content/settings/service-brokers/service-brokers.component.ts
  core/src/app/shared/components/permissions/bindings/bindings.component.ts
  core/src/app/shared/components/permissions/roles/roles.component.ts
Due: prow/console/brokers, console-core

Fix disabled button for creating config is list is empty
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.component.tsx
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.container.tsx
Due: none

fix package-lock.json
  core/package-lock.json
Due: console-core

Stabilize Lambdas UI test
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

Evaluating self subject rules (#771)
  core/package-lock.json
  core/package.json
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/rbac-rules-matcher.js
  core/src/luigi-config/rbac-rules-matcher.test.js
Due: console-core

Fix styles for filter dropdown (#808)
  components/react/src/components/Dropdown/index.js
  components/react/src/components/Dropdown/styled.js
Due: none

Fix disabled button for creating config is list is empty (#813)
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.component.tsx
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.container.tsx
Due: none

fix problem with svg not showing
  catalog/src/commons/helpers.js
Due: none

fix issue with inlined list and badly formated code with backticks
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  components/react/package.json
  components/react/src/components/ReactMarkdown/helpers.js
  components/react/src/components/ReactMarkdown/index.js
  components/react/src/components/ReactMarkdown/styled.js
Due: none

fix images in instances
  instances/src/commons/helpers.js
Due: none

Fix Note panel not looking bolded enough
  components/react/src/components/ReactMarkdown/components/Strong.js
  components/react/src/components/ReactMarkdown/index.js
Due: none

fix list once again, further this time
  components/react/src/components/ReactMarkdown/helpers.js
Due: none

Add <Link/> component to <ReactMarkdown/> to link to new tab
  components/react/src/components/ReactMarkdown/components/Link.js
  components/react/src/components/ReactMarkdown/index.js
Due: none

improve regex for list
  components/react/src/components/ReactMarkdown/helpers.js
Due: none

Alter package-lock to remove vulnerable dependency (#807)
  components/angular/generic-list/package-lock.json
  core/package-lock.json
  lambda/package-lock.json
Due: console-core

add `rel="noopener noreferrer"`
  components/react/src/components/ReactMarkdown/components/Link.js
Due: none

Update regex so so that it works in tabs in content-ui
  components/react/src/components/ReactMarkdown/helpers.js
  components/react/src/components/ReactMarkdown/index.js
Due: none

Fix websockets in console core lists
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Due: console-core

Update regex for assets
  catalog/src/commons/helpers.js
  content/src/components/DocsContent/DocsProcessor.js
  instances/src/commons/helpers.js
Due: none

Make regex for assets easier to read
  catalog/src/commons/helpers.js
  content/src/components/DocsContent/DocsProcessor.js
  instances/src/commons/helpers.js
Due: none

Return new object instead of mutating the old one
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Due: console-core

Fix
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Due: console-core

Fix Markdown rendering of lists and images in Catalog and Instances (#820)
  catalog/src/commons/helpers.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  components/react/package.json
  components/react/src/components/ReactMarkdown/components/Link.js
  components/react/src/components/ReactMarkdown/components/Strong.js
  components/react/src/components/ReactMarkdown/helpers.js
  components/react/src/components/ReactMarkdown/index.js
  components/react/src/components/ReactMarkdown/styled.js
  content/src/components/DocsContent/DocsProcessor.js
  instances/src/commons/helpers.js
Due: none

Small improvement
  core/src/app/content/namespaces/operation/graphql-data-provider.ts
Due: console-core

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/
