Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/

Review changes
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
Due: none

tets
  core/nginx/nginx.conf
Due: console-core

Review changes
  catalog/src/components/ServiceClassDetails/ProvisionOnlyOnceInfo/ProvisionOnlyOnceInfo.component.js
  catalog/src/components/ServiceClassDetails/ProvisionOnlyOnceInfo/styled.js
  tests/ui-tests/tests/catalog-ui-test.js
Due: console-tests

test
  core/nginx/nginx.conf
Due: console-core

Review changes
  catalog/src/components/ServiceClassDetails/ProvisionOnlyOnceInfo/ProvisionOnlyOnceInfo.component.js
Due: none

Extract generic code to AbstractGraphqlElementList
  core/src/app/app.module.ts
  core/src/app/content/environments/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/environments/operation/replica-sets/replica-sets.component.ts
Due: console-core

Update catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
Due: none

Add provision only once information (#591)
  catalog/src/components/Main/queries.js
  catalog/src/components/ServiceClassDetails/ProvisionOnlyOnceInfo/ProvisionOnlyOnceInfo.component.js
  catalog/src/components/ServiceClassDetails/ProvisionOnlyOnceInfo/styled.js
  catalog/src/components/ServiceClassDetails/ServiceClassDescription/ServiceClassDescription.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  catalog/src/components/ServiceClassDetails/queries.js
  catalog/src/components/ServiceClassDetails/styled.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/Cards/Cards.component.js
  catalog/src/components/ServiceClassList/Cards/styled.js
  catalog/src/store/Filter/resolvers.js
  tests/ui-tests/commands/catalog.js
  tests/ui-tests/tests/catalog-ui-test.js
Due: console-tests

Inject testing bundle by configmap
  tests/ui-tests/setup/helm-broker/configurer.js
  tests/ui-tests/setup/test-bundle-installer.js
Due: console-tests

Move readOnly property to context.settings
  core/package-lock.json
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
  core/src/app/content/settings/remote-environments/remote-environments.component.ts
  core/src/luigi-config/luigi-config.js
Due: console-core

Add property check
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
  core/src/app/content/settings/remote-environments/remote-environments.component.ts
Due: console-core

Add nosniff setting for MIME types on all console components (#586)
  brokers/nginx.conf
  catalog/nginx.conf
  content/nginx.conf
  core/nginx/nginx.conf
  instances/nginx.conf
  lambda/nginx/nginx.conf
Due: prow/console/brokers, console-core

generic alerts for console (#568)
  brokers/package-lock.json
  catalog/package-lock.json
  components/react/package-lock.json
  content/package-lock.json
  core/package-lock.json
  core/package.json
  core/src/app/content/environments/environments-container/environments-container.component.html
  core/src/app/content/environments/environments-container/environments-container.component.scss
  core/src/app/content/environments/environments-container/environments-container.component.ts
  core/src/luigi-config/luigi-config.js
  instances/package-lock.json
  lambda/package-lock.json
  lambda/package.json
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  tests/package-lock.json
Due: prow/console/brokers, console-core, console-tests

Fix invalid string argument compilation error
  core/src/app/content/environments/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/environments/operation/replica-sets/replica-sets.component.ts
Due: console-core

Fix invalid formatting
  components/react-odata/src/components/Table/TableContainer.tsx
  components/react-odata/src/react-app-env.d.ts
  components/react-odata/src/serviceWorker.ts
  core/package-lock.json
Due: console-core

Fix invalid formatting
  components/react-odata/src/components/Table/MainDataTable/Table.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/CollapsibleTable.tsx
  components/react-odata/src/serviceWorker.ts
Due: none

Fix invalid formatting
  components/react-odata/src/components/Table/MainDataTable/Table.tsx
Due: none

Change function name
  core/src/app/content/environments/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/environments/operation/replica-sets/replica-sets.component.ts
Due: console-core

Read replicasets from ui-api-layer (#583)
  core/src/app/app.config.ts
  core/src/app/app.module.ts
  core/src/app/content/environments/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/environments/operation/abstract-kubernetes-element-list.component.ts
  core/src/app/content/environments/operation/kubernetes-element-list.component.html
  core/src/app/content/environments/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.html
  core/src/app/content/environments/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.spec.ts
  core/src/app/content/environments/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.ts
  core/src/app/content/environments/operation/replica-sets/replica-sets-header-renderer/replica-sets-header-renderer.component.html
  core/src/app/content/environments/operation/replica-sets/replica-sets.component.ts
  core/src/app/shared/components/json-editor-modal/graphql-mutator-modal.component.ts
  core/src/app/shared/components/json-editor-modal/json-editor-modal.component.ts
  core/src/app/shared/components/json-editor-modal/json-editor/json-editor.component.ts
  core/src/app/shared/datamodel/k8s/replica-set.ts
Due: console-core

Conditional app management (#593)
  core/package-lock.json
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.html
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
  core/src/app/content/settings/remote-environments/remote-environments.component.html
  core/src/app/content/settings/remote-environments/remote-environments.component.ts
  core/src/luigi-config/luigi-config.js
Due: console-core

Fix icons in catalog, instances and react-components
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/styled.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/styled.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/Cards/styled.js
  components/react/src/components/Icon/Readme.md
  components/react/src/components/Notification/index.js
  components/react/src/components/NotificationMessage/index.js
  components/react/src/components/Search/components.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/SchemaData.component.js
Due: console-governance
