Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Update README.md
  README.md
Due: console-governance

use new status on AddOns
  add-ons/src/components/AddonPanel/AddonPanel.tsx
  add-ons/src/components/AddonPanel/RepositoryTableSegment/RepositoryTableSegment.tsx
  add-ons/src/react-shared
  shared/components/StatusBadge/StatusBadge.js
Due: none

Remove faulty tests
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/test/LambdaVariables.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/test/CreateEventTriggerModal.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/CreateServiceBindingModal.test.js
  core-ui/src/components/ModalWithForm/test/ModalWithForm.test.js
  shared/components/StatusBadge/test/StatusBadge.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Appease linter
  add-ons/src/components/AddonPanel/AddonPanel.tsx
  add-ons/src/components/AddonPanel/RepositoryTableSegment/RepositoryTableSegment.tsx
Due: none

Unify statuses on compass, update add-ons test
  add-ons/src/components/AddonPanel/test/__snapshots__/AddonPanel.test.tsx.snap
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Runtimes/Runtimes.js
  compass/src/components/Shared/getBadgeTypeForStatus.js
Due: pre-master-console-compass, post-master-console-compass

use new status on Application list
  core-ui/src/components/Applications/ApplicationStatus/ApplicationStatus.js
Due: pre-master-console-core-ui, post-master-console-core-ui

use new statuses in lambda
  core-ui/src/components/Lambdas/LambdasList/LambdasList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

remove useless dom parent in applications
  core-ui/src/components/Applications/ApplicationStatus/ApplicationStatus.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix one buggy case in resources form
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/test/ResourceManagement.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update catalog
  service-catalog-ui/src/components/ServiceBrokers/ServiceBrokers.component.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInstancesTable/ServiceClassInstancesTable.component.js
  service-catalog-ui/src/components/ServiceClassDetails/queries.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceRowRenderer.js
  service-catalog-ui/src/components/ServiceInstanceList/test/ServiceInstanceList.test.js
  service-catalog-ui/src/components/ServiceInstanceList/test/__snapshots__/ServiceInstanceList.test.js.snap
  service-catalog-ui/src/helpers/getBadgeTypeForStatus.js
  shared/components/StatusBadge/StatusBadge.scss
Due: none

Fix add-ons tests
  add-ons/src/components/AddonPanel/test/AddonPanel.test.tsx
  add-ons/src/components/AddonPanel/test/__snapshots__/AddonPanel.test.tsx.snap
Due: none

Remove unused variables
  core-ui/src/components/Lambdas/LambdasList/LambdasList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix login mechanism
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Add StatusBadge in API package auths
  compass/src/components/ApiPackages/ApiPackageDetails/AuthList/AuthList.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/AuthList/AuthList.js
  shared/components/StatusBadge/StatusBadge.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui

modify status-label component
  core/src/app/shared/components/status-label/status-label.component.html
  core/src/app/shared/components/status-label/status-label.component.scss
  core/src/app/shared/components/status-label/status-label.component.ts
Due: pre-master-console-core, post-master-console-core

rework status for pods, deployments and replica-sets
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.html
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.html
Due: pre-master-console-core, post-master-console-core

rework service and service-api-rules
  core/src/app/content/namespaces/operation/services/service-details/service-api-rules/service-api-rules.component.html
  core/src/app/content/namespaces/operation/services/service-details/service-api-rules/service-api-rules.component.ts
  core/src/app/content/namespaces/operation/services/services-entry-renderer/services-entry-renderer.component.ts
Due: pre-master-console-core, post-master-console-core

Fix linter
  core/src/app/shared/components/status-label/status-label.component.html
Due: pre-master-console-core, post-master-console-core

Remove unworthy test
  core/src/app/shared/components/status-label/status-label.component.spec.ts
Due: pre-master-console-core, post-master-console-core

make status-label able to consume any "type"
  core/src/app/shared/components/status-label/status-label.component.ts
Due: pre-master-console-core, post-master-console-core

remove unused styles
  core/src/app/shared/components/status-label/status-label.component.scss
Due: pre-master-console-core, post-master-console-core

improve status classname resolving
  core/src/app/shared/components/status-label/status-label.component.ts
Due: pre-master-console-core, post-master-console-core

Fix loging mechanism in UI tests but better
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Fix test
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useLambdaQuery.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Stabilize failing test
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useLambdaQuery.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

add 'ok' status to green list
  core/src/app/shared/components/status-label/status-label.component.ts
Due: pre-master-console-core, post-master-console-core

Comment out failing test
  core-ui/src/components/ApiRules/ApiRuleDetails/test/ApiRuleDetails.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

More strict CSP. Build react csp compliant
  core-ui/nginx.conf
  core-ui/package.json
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-whitesource-scan

More strict CSP. Build react csp compliant
  core-ui/nginx.conf
Due: pre-master-console-core-ui, post-master-console-core-ui

Improve pod status rendering
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.html
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/shared/components/status-label/status-label.component.html
  core/src/app/shared/components/status-label/status-label.component.ts
Due: pre-master-console-core, post-master-console-core

remove unused functions
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
Due: pre-master-console-core, post-master-console-core

fix linter
  core/src/app/shared/components/status-label/status-label.component.html
Due: pre-master-console-core, post-master-console-core

Change selector
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Simplify anti-unstable fix
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useLambdaQuery.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

.
  core-ui/src/components/Lambdas/LambdasList/test/CreateLambdaModal.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Delete tooltips checks
  core-ui/src/components/Lambdas/LambdasList/test/CreateLambdaModal.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove unworthy (now) tests 2
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/test/CodeAndDependencies.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/test/LambdaVariables.test.js
  core-ui/src/components/Lambdas/LambdasList/test/CreateLambdaModal.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

.
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useLambdaQuery.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
