Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Use Dex internal jwks uri when exposing dex-secured APIs
  core/src/app/app.config.ts
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.ts
Due: console-core

Log UI fails to auto-load logs for lambdas/pods the first time (#736)
  logging/src/app/search-form/search-form.component.ts
  logging/src/main.ts
Due: none

Update GQL mutations for creating service instances and service instance binding usages
  catalog/src/components/ServiceClassDetails/mutations.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateBindingModal/CreateBindingModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.container.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/mutations.js
Due: none

Use Dex internal jwks uri when exposing dex-secured APIs (#737)
  core/src/app/app.config.ts
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.ts
Due: console-core

remove obsolete code
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.spec.ts
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.ts
Due: console-core

remove obsolete code from html
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.html
Due: console-core

Improve login error behavior (#720)
  core/package.json
  core/src/logout.html
  core/src/luigi-config/luigi-config.js
Due: console-core

Enable Log-UI tests
  tests/package.json
Due: console-tests

Update index.html
  core/src/index.html
Due: console-core

Update luigi-config.js
  core/src/luigi-config/luigi-config.js
Due: console-core

add prefix to IDP Presets issuer by default (#732)
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.html
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.spec.ts
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.ts
Due: console-core

673 make all console views more consistent (#728)
  components/angular/generic-list/src/app/modules/list/list-filter/list-filter.component.html
  components/angular/generic-list/src/app/modules/list/list-filter/list-filter.component.scss
  components/angular/generic-list/src/app/modules/list/list-search/list-search.component.html
  core/src/app/content/namespaces/configuration/apis/apis.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-range-entry-renderer/limit-range-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-range-entry-renderer/limit-range-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quota-entry-renderer/resource-quota-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quota-entry-renderer/resource-quota-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/configmaps/configmaps-entry-renderer/configmaps-entry-renderer.component.html
  core/src/app/content/namespaces/operation/configmaps/configmaps-entry-renderer/configmaps-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.html
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.html
  core/src/app/content/namespaces/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/secrets/secrets-entry-renderer/secrets-entry-renderer.component.html
  core/src/app/content/namespaces/operation/secrets/secrets-entry-renderer/secrets-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.html
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.ts
  core/src/app/content/namespaces/operation/services/services-entry-renderer/services-entry-renderer.component.html
  core/src/app/content/namespaces/operation/services/services-entry-renderer/services-entry-renderer.component.ts
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.ts
  core/src/app/content/settings/applications/applications-entry-renderer/applications-entry-renderer.component.html
  core/src/app/content/settings/applications/applications-entry-renderer/applications-entry-renderer.component.ts
  core/src/app/shared/components/permissions/role-details/role-details.component.html
  core/src/app/shared/components/permissions/role-details/role-details.component.ts
  core/src/app/shared/constants/constants.ts
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.html
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.ts
  lambda/src/app/shared/constants/constants.ts
  logging/src/app/search-form/search-form.component.html
Due: console-core

Fix internal jwks uri
  core/src/app/app.config.ts
Due: console-core

load jwksUri from api
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Fix internal jwks uri (#746)
  core/src/app/app.config.ts
Due: console-core

console with luigi 0.4.11 rc (#744)
  core/package-lock.json
  core/package.json
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  core/src/luigi-config/luigi-config.js
  lambda/package-lock.json
  lambda/package.json
  lambda/src/app/lambdas/lambda-details/lambda-details.component.html
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
  lambda/src/main.ts
Due: console-core

Show docs-ui from mocked headless cms
  content/Dockerfile
  content/README.md
  content/package.json
  content/src/commons/helpers.js
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/DocsContent/DocsProcessor.js
  content/src/components/DocsContent/mutations.js
  content/src/components/DocsContent/queries.js
  content/src/components/MainPage/MainPage.component.js
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationSections.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.container.js
  content/src/store/DocsContent/defaults.js
  content/src/store/DocsContent/resolvers.js
  content/src/store/resolvers.js
Due: console-governance

Show docs-ui from mocked headless cms
  content/src/commons/helpers.js
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/DocsContent/DocsProcessor.js
  content/src/components/MainPage/MainPage.component.js
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationSections.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
  content/src/store/DocsContent/resolvers.js
Due: none

Show docs-ui from mocked headless cms
  components/react/package-lock.json
  components/react/package.json
  components/react/src/components/ReactMarkdown/components/Code.js
  components/react/src/components/ReactMarkdown/components/Theme.js
  components/react/src/components/ReactMarkdown/index.js
  components/react/src/components/ReactMarkdown/styled.js
  components/react/src/components/index.js
  content/package.json
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/MainPage/MainPage.component.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationSections.js
Due: none

Show docs-ui from mocked headless cms
  components/react/src/components/ReactMarkdown/helpers.js
  components/react/src/components/ReactMarkdown/index.js
  components/react/src/components/ReactMarkdown/parseHTML/Tabs.js
  components/react/src/components/ReactMarkdown/parseHTML/index.js
  components/react/src/components/ReactMarkdown/styled.js
  components/react/src/components/Tabs/Tab/components.js
  components/react/src/components/Tabs/Tab/index.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  content/src/store/DocsContent/resolvers.js
Due: none

Remove comments
  components/react/src/components/ReactMarkdown/helpers.js
  components/react/src/components/ReactMarkdown/parseHTML/index.js
Due: none

Prettier
  components/react/src/components/ReactMarkdown/parseHTML/index.js
Due: none

Add notes and code copy button
  components/react/src/commons/style-utils.js
  components/react/src/components/NotePanel/index.js
  components/react/src/components/NotePanel/styled.js
  components/react/src/components/ReactMarkdown/components/Blockquote.js
  components/react/src/components/ReactMarkdown/components/Code.js
  components/react/src/components/ReactMarkdown/components/Code/CopyButton.js
  components/react/src/components/ReactMarkdown/components/Code/index.js
  components/react/src/components/ReactMarkdown/index.js
  components/react/src/components/ReactMarkdown/styled.js
  content/src/components/MainPage/queries.js
Due: none

Add notes and code copy button
  components/react/package.json
Due: none

Add notes and code copy button
  components/react/src/components/ReactMarkdown/components/Code/CopyButton.js
Due: none

Switch to queries
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
  content/src/store/DocsContent/resolvers.js
Due: none

Run prettier
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
Due: none

Keep existing API in lambda configuration (#747)
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Review changes
  catalog/package.json
  catalog/src/commons/helpers.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/BasicData.component.js
  components/react/src/components/ReactMarkdown/components/Code/index.js
  components/react/src/components/ReactMarkdown/index.js
  components/react/src/components/ReactMarkdown/parseHTML/Tabs.js
  components/react/src/components/Tabs/components.js
  content/package.json
  content/src/commons/helpers.js
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/MainPage/MainPage.component.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
  instances/package.json
  instances/src/commons/helpers.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindingsStep.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/Resources.component.js
Due: none

Review changes
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/BasicData.component.js
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/MainPage/MainPage.component.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Due: none

Review changes
  components/react/src/components/ReactMarkdown/components/Code/index.js
  components/react/src/components/ReactMarkdown/index.js
  components/react/src/components/ReactMarkdown/parseHTML/Tabs.js
Due: none

Update GQL mutations for creating service instances and service instance binding usages (#740)
  catalog/src/components/ServiceClassDetails/mutations.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateBindingModal/CreateBindingModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.container.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/mutations.js
Due: none

Change green color to blue
  components/react/src/components/ReactMarkdown/components/Theme.js
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

Update CODEOWNERS (#752)
  CODEOWNERS
Due: none

add needed fields to query
  catalog/src/components/ServiceClassDetails/queries.js
Due: none

add prism-react-renderer and react-markdown packages
  components/react/package-lock.json
  components/react/package.json
Due: none

add new documentation for docs in catalog only
  catalog/src/commons/helpers.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/DeprecatedDocs.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/DocumentationTabs.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassDetails/mock.js
  catalog/src/components/ServiceClassDetails/queries.js
  components/react/src/components/ReactMarkdown/DocsProcessor.js
  components/react/src/components/ReactMarkdown/helpers.js
  components/react/src/components/ReactMarkdown/index.js
  components/react/src/components/ReactMarkdown/parseHTML/Tabs.js
  components/react/src/components/ReactMarkdown/parseHTML/index.js
Due: none

add changes from PR-726 concerning components/react
  components/react/src/components/ReactMarkdown/components/Code.js
  components/react/src/components/ReactMarkdown/components/Theme.js
  components/react/src/components/ReactMarkdown/helpers.js
  components/react/src/components/ReactMarkdown/index.js
  components/react/src/components/ReactMarkdown/parseHTML/index.js
  components/react/src/components/ReactMarkdown/styled.js
  components/react/src/components/Tabs/Tab/components.js
  components/react/src/components/Tabs/Tab/index.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  components/react/src/components/index.js
Due: none

add new docs component for instances tabs
  instances/src/commons/helpers.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
  instances/src/components/ServiceInstanceDetails/mock.js
Due: none

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/
