Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Update Content UI manifest (#557)
  content/src/commons/manifest.yaml
Due: none

Fix a dead link
  README.md
Due: console-governance

Fix a dead link (#559)
  README.md
Due: console-governance

add line to etc hosts only once
  package.json
Due: none

log-ui e2e tests
  tests/ui-tests/commands/log-ui.js
  tests/ui-tests/tests/log-ui-test.js
Due: console-tests

log-ui e2e tests
  log-ui/src/assets/config/config.js
Due: none

log-ui e2e test updated
  tests/ui-tests/tests/log-ui-test.js
Due: console-tests

log-ui added to lerna config
  lerna.json
  package.json
Due: none

add line to etc hosts only once (#560)
  package.json
Due: none

initial commit with CRA template
  react-odata/.gitignore
  react-odata/README.md
  react-odata/package-lock.json
  react-odata/package.json
  react-odata/public/favicon.ico
  react-odata/public/index.html
  react-odata/public/manifest.json
  react-odata/src/App.css
  react-odata/src/App.test.tsx
  react-odata/src/App.tsx
  react-odata/src/index.css
  react-odata/src/index.tsx
  react-odata/src/logo.svg
  react-odata/src/react-app-env.d.ts
  react-odata/src/serviceWorker.ts
  react-odata/tsconfig.json
Due: console-governance

review comments
  tests/ui-tests/config.js
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

Fix lambda-ui test
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

Enable lambda-ui tests
  tests/package.json
  tests/ui-tests/config.js
  tests/ui-tests/tests/lambda-ui-test.js
  tests/ui-tests/utils/logging.js
Due: console-tests

Fix regEx pattern
  tests/package.json
Due: console-tests

review
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

Remove global config
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

bug fixes
  log-ui/src/app/search-form/search-form.component.spec.ts
Due: none

failed karma tests fixed
  log-ui/package.json
  log-ui/src/app/app.module.ts
  log-ui/src/app/search-form/search-form.component.spec.ts
  log-ui/src/app/search-form/search-form.component.ts
Due: none

failed karma tests fixed
  log-ui/src/app/app.component.spec.ts
  log-ui/src/app/search-form/search-form.component.ts
Due: none

failed karma tests fixed
  log-ui/src/app/app.component.spec.ts
Due: none

karma chrome headless launcher added
  log-ui/karma.conf.js
Due: none

karma chrome headless launcher added
  log-ui/angular.json
Due: none

dependency puppeteer added
  log-ui/karma.conf.js
  log-ui/package-lock.json
  log-ui/package.json
Due: none

dependency puppeteer added
  log-ui/karma.conf.js
Due: none

make initial working version
  react-odata/package-lock.json
  react-odata/package.json
  react-odata/src/App.css
  react-odata/src/App.tsx
  react-odata/src/ODataFile.ts
  react-odata/src/ODataFile2.ts
  react-odata/src/ODataGorn.ts
  react-odata/src/data.xml
  react-odata/src/react-app-env.d.ts
  react-odata/src/v2tov4.ts
Due: none

Review comments
  tests/ui-tests/config.js
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

generic alert for quotas
  brokers/package-lock.json
  catalog/package-lock.json
  components/react/package-lock.json
  content/package-lock.json
  core/package-lock.json
  core/src/app/content/environments/environments-container/environments-container.component.html
  core/src/app/content/environments/environments-container/environments-container.component.ts
  instances/package-lock.json
  lambda/package-lock.json
  tests/package-lock.json
Due: prow/console/brokers, console-core, console-tests

const instead let
  core/src/app/content/environments/environments-container/environments-container.component.ts
Due: console-core

fix bug by replacing 'environment' with 'namespace'
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
Due: console-core

add more OData files
  react-odata/package-lock.json
  react-odata/package.json
  react-odata/src/App.css
  react-odata/src/App.tsx
  react-odata/src/ODataFile.ts
  react-odata/src/ODataNext.ts
  react-odata/src/ODataProductV2.ts
  react-odata/src/ODataTripV4.ts
  react-odata/src/SAPodata.ts
Due: none

updated
  log-ui/karma.conf.js
Due: none

Fix view refresh for namespace unbinding in application details view (#570)
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
Due: console-core

improvements
  core/src/app/content/environments/environments-container/environments-container.component.scss
  core/src/app/content/environments/environments-container/environments-container.component.ts
Due: console-core

Add retry
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

fix prow job stuck after running tests
  log-ui/Makefile
  log-ui/package.json
  log-ui/src/app/app.module.ts
Due: none

restructure codebase a little
  react-odata/package-lock.json
  react-odata/package.json
  react-odata/src/App.tsx
  react-odata/src/ODataFiles/ODataFav5.ts
  react-odata/src/ODataFiles/ODataFavourite3.ts
  react-odata/src/ODataFiles/ODataFile.ts
  react-odata/src/ODataFiles/ODataFile2.ts
  react-odata/src/ODataFiles/ODataNext.ts
  react-odata/src/ODataFiles/ODataProductV2.ts
  react-odata/src/ODataFiles/ODataTripV4.ts
  react-odata/src/ODataFiles/SAPodata.ts
  react-odata/src/ODataFiles/v2tov4.ts
  react-odata/src/react-app-env.d.ts
Due: none

Docker image version changed
  log-ui/Dockerfile
Due: none

favicon removed
  log-ui/src/favicon.ico
  log-ui/src/index.html
Due: none

tests for log-ui disabled
  tests/package.json
Due: console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  console-tests: any of: ^tests/
