Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Export plan sorting function to shared
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/shared/sorting.js
  service-catalog-ui/catalog/src/variables.js
Due: none

Update package-lock
  package-lock.json
Due: none

Display doc types on plan list
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/ServiceClassPlansList.js
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/queries.js
Due: none

Add modal
  compass/src/components/ApiPackages/CreateApiPackageForm/CreateApiPackageForm.js
  compass/src/components/ApiPackages/gql.js
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
Due: pre-master-console-compass, post-master-console-compass

Add test
  compass/src/components/ApiPackages/CreateApiPackageForm/test/CreateApiPackageForm.test.js
  compass/src/components/ApiPackages/CreateApiPackageForm/test/mocks.js
Due: pre-master-console-compass, post-master-console-compass

fix js-yaml
  components/react/package-lock.json
  components/react/package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content

add genericList test
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/test/GenericList.test.js
Due: none

Add api types to plan list
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/ServiceClassPlansList.js
  service-catalog-ui/catalog/src/index.scss
Due: none

fix tests
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/test/ServiceClassPlansList.test.js
Due: none

Fix tree-kill, handlebars
  components/angular/generic-list/package-lock.json
  components/angular/generic-list/package.json
  components/react/package-lock.json
  components/react/package.json
  core/package-lock.json
  core/package.json
  lambda/package-lock.json
  lambda/package.json
  package-lock.json
  package.json
  service-catalog-ui/package-lock.json
  service-catalog-ui/package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-master-console-core, post-master-console-core

Fiz swagger-ui-dist
  components/generic-documentation/package-lock.json
  components/generic-documentation/package.json
  package-lock.json
  package.json
Due: none

Change variant to plan
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/ServiceClassPlansList.js
Due: none

After review
  core-ui/src/components/Lambdas/CreateServiceBindingForm/CreateServiceBindingForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ConfigurationForm/test/ConfigurationForm.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ConfigurationForm/test/__snapshots__/ConfigurationForm.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.scss
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindingsService.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindings.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindingsService.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindingsWrapper.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/__snapshots__/ServiceBindings.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/__snapshots__/ServiceBindingsService.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/__snapshots__/ServiceBindingsWrapper.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/gqlMocks.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/test/Configuration.ui.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/test/__snapshots__/Configuration.ui.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/test/mocks.js
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix build warnings
  core-ui/src/components/Lambdas/CreateServiceBindingForm/CreateServiceBindingForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindings.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add proptypes
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/ServiceClassPlansList.js
Due: none

Add DocTypesList tests
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/ServiceClassPlansList.js
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/test/ServiceClassPlansList.test.js
  service-catalog-ui/catalog/src/testing/serviceClassesMocks.js
Due: none

add PlanSelector tests
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/test/ServiceClassPlansList.test.js
Due: none

Update js-base64 to fix some jquery problem, update braces, jest and mem package
  components/angular/generic-list/package-lock.json
  components/angular/generic-list/package.json
  components/react/package-lock.json
  components/react/package.json
  core/package-lock.json
  core/package.json
  lambda/package-lock.json
  lambda/package.json
  package-lock.json
  package.json
  tests/package-lock.json
  tests/package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-master-console-core, post-master-console-core, pre-master-console-tests, post-master-console-tests

Review changes
  service-catalog-ui/catalog/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
Due: none

Update components
  core-ui/src/components/Lambdas/Checkbox/Checkbox.js
  core-ui/src/components/Lambdas/CreateServiceBindingForm/CreateServiceBindingForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/helpers.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindings.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindingsWrapper.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

refactor luigi config
  .clusterConfig.default
  core/src/luigi-config/config.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/local-development-node-converter.js
  core/src/luigi-config/navigation/microfrontend-converter.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/navigation-helpers.js
  core/src/luigi-config/navigation/permissions.js
  core/src/luigi-config/navigation/queries.js
  core/src/luigi-config/navigation/rbac-rules-matcher.js
  core/src/luigi-config/navigation/rbac-rules-matcher.test.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Use Tooltip to explain API type badges
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/ServiceClassPlansList.js
Due: none

Packeges update
  components/angular/generic-list/package-lock.json
  components/angular/generic-list/package.json
  components/generic-documentation/package-lock.json
  components/react/package-lock.json
  components/react/package.json
  core/package-lock.json
  core/package.json
  lambda/package-lock.json
  lambda/package.json
  logging/package-lock.json
  package-lock.json
  package.json
  shared/package-lock.json
  tests/package-lock.json
  tests/package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

refactor luigi config
  .clusterConfig.default
  core/package-lock.json
  core/src/luigi-config/config.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

Review change
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
Due: none

Beautify fetchFromGraphQL fn
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-master-console-core, post-master-console-core

remove js-base64
  components/angular/generic-list/package-lock.json
  components/angular/generic-list/package.json
  package-lock.json
  package.json
Due: none

Use kind-of 6.0.3
  components/angular/generic-list/package-lock.json
  components/angular/generic-list/package.json
  components/generic-documentation/package-lock.json
  components/react/package-lock.json
  core/package-lock.json
  lambda/package-lock.json
  logging/package-lock.json
  package-lock.json
  package.json
  shared/package-lock.json
  tests/package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Fix current namespace caching issue
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/static-navigation-model.js
  package-lock.json
  package.json
Due: pre-master-console-core, post-master-console-core

Fix after code review
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/luigi-listeners.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/navigation-helpers.js
Due: pre-master-console-core, post-master-console-core

Clear refreshContextSwitcher postmessage as its no longer needed. Context switcher populated live from gql cache
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
  core/src/app/content/settings/organisation/organisation.component.ts
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.ts
  core/src/luigi-config/communication.js
  core/src/luigi-config/luigi-listeners.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

fix mock for namespace card test
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/NamespaceDetailsCard.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

WIP
  compass/src/App.component.js
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
  compass/src/components/Api/ApiDetails/ApiDetails.container.js
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/ApiDetailsHeader.js
  compass/src/components/Api/CreateApiForm/CreateApiForm.component.js
  compass/src/components/Api/CreateApiForm/CreateApiForm.container.js
  compass/src/components/Api/CreateEventApiForm/CreateEventApiForm.component.js
  compass/src/components/Api/CreateEventApiForm/CreateEventApiForm.container.js
  compass/src/components/Api/EditApi/EditApi.component.js
  compass/src/components/Api/EditApi/EditApi.container.js
  compass/src/components/Api/EditEventApi/EditEventApi.component.js
  compass/src/components/Api/EditEventApi/EditEventApi.container.js
  compass/src/components/Api/gql.js
  compass/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  compass/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.scss
  compass/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
  compass/src/components/ApiPackages/ApiPackageDetails/RequestInputSchemaModal/RequestInputSchemaModal.js
  compass/src/components/ApiPackages/gql.js
  compass/src/components/Application/ApplicationDetails/ApplicationApiPackages/ApplicationApiPackages.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/gql.js
  compass/src/components/Shared/JSONEditor.js
  compass/src/config/luigi-config/navigation.js
  shared/components/PageHeader/PageHeader.js
Due: pre-master-console-compass, post-master-console-compass

Finish API changes
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/ApiDetailsHeader.js
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/test/ApiDetailsHeader.test.js
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/test/__snapshots__/ApiDetailsHeader.test.js.snap
  compass/src/components/Api/EditApi/EditApi.component.js
  compass/src/components/Api/EditApiHeader/EditApiHeader.component.js
  compass/src/components/Api/EditEventApi/EditEventApi.component.js
  compass/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
  compass/src/components/ApiPackages/ApiPackageDetails/RequestInputSchemaModal/RequestInputSchemaModal.js
  compass/src/components/Application/ApplicationDetails/ApplicationApiPackages/ApplicationApiPackages.js
  compass/src/config/luigi-config/navigation.js
  shared/components/PageHeader/PageHeader.js
Due: pre-master-console-compass, post-master-console-compass

Fix breadcrumbs on class details view, fix search input on list
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassToolbar/styled.js
Due: none

Add separate .scss file for event type badges
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/ServiceClassPlansList.js
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/ServiceClassPlansList.scss
Due: none

Fix after merge
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
Due: none

Fix missing PlanSelector
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
Due: none

update spec type badge tooltip
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/ServiceClassPlansList.js
Due: none

fix after merge
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
Due: none

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
