Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Move APIs and Events to api packages directory
  compass/src/components/ApiPackages/ApiList/ApiList.component.js
  compass/src/components/ApiPackages/ApiList/ApiList.container.js
  compass/src/components/ApiPackages/ApiList/ApiList.scss
  compass/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  compass/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
  compass/src/components/ApiPackages/CreateApiPackageForm/CreateApiPackageForm.js
  compass/src/components/ApiPackages/EventList/EventList.component.js
  compass/src/components/ApiPackages/EventList/EventList.container.js
  compass/src/components/ApiPackages/EventList/EventList.scss
  compass/src/components/Application/ApplicationDetails/ApplicationApiPackages/ApplicationApiPackages.js
Due: pre-master-console-compass, post-master-console-compass

luigi event listeners
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/luigi-event-handlers.js
Due: pre-master-console-core, post-master-console-core

luigi event listeners
  core/src/luigi-config/luigi-event-handlers.js
Due: pre-master-console-core, post-master-console-core

Reload path when plan is changed
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
Due: none

Set tags area colspan value conditionaly
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
Due: none

Move APIs and Events to api packages directory
  compass/src/components/Api/CreateApiForm/CreateApiForm.container.js
  compass/src/components/Api/CreateApiForm/CreateApiForm.js
  compass/src/components/Api/CreateEventApiForm/CreateEventApiForm.container.js
  compass/src/components/Api/CreateEventApiForm/CreateEventApiForm.js
  compass/src/components/ApiPackages/ApiList/ApiList.js
  compass/src/components/ApiPackages/ApiList/ApiList.scss
  compass/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  compass/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
  compass/src/components/ApiPackages/CreateApiPackageForm/CreateApiPackageForm.js
  compass/src/components/ApiPackages/EventList/EventList.js
  compass/src/components/ApiPackages/EventList/EventList.scss
  compass/src/components/Application/ApplicationDetails/ApplicationApiPackages/ApplicationApiPackages.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/gql.js
  shared/components/PageHeader/PageHeader.js
Due: pre-master-console-compass, post-master-console-compass

Add sample auths
  compass/src/components/Api/CreateApiForm/CreateApiForm.js
  compass/src/components/Api/CreateEventApiForm/CreateEventApiForm.js
  compass/src/components/Api/gql.js
  compass/src/components/ApiPackages/ApiPackageDetails/ApiList/ApiList.js
  compass/src/components/ApiPackages/ApiPackageDetails/ApiList/ApiList.scss
  compass/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  compass/src/components/ApiPackages/ApiPackageDetails/AuthList/AuthList.js
  compass/src/components/ApiPackages/ApiPackageDetails/EventList/EventList.js
  compass/src/components/ApiPackages/ApiPackageDetails/EventList/EventList.scss
  compass/src/components/ApiPackages/gql.js
  compass/src/components/Application/gql.js
Due: pre-master-console-compass, post-master-console-compass

fix error
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
Due: none

Fix test after adding refetch
  compass/src/components/ApiPackages/CreateApiPackageForm/test/CreateApiPackageForm.test.js
  compass/src/components/ApiPackages/CreateApiPackageForm/test/mocks.js
Due: pre-master-console-compass, post-master-console-compass

resolve nav nodes
  core/src/luigi-config/communication.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/luigi-event-handlers.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/navigation-helpers.js
Due: pre-master-console-core, post-master-console-core

Update ModalWIthForm
  compass/src/components/ApiPackages/ApiPackageDetails/ApiList/ApiList.js
  compass/src/components/ApiPackages/ApiPackageDetails/AuthList/AuthList.js
  compass/src/components/ApiPackages/ApiPackageDetails/EventList/EventList.js
  compass/src/components/Application/ApplicationDetails/ApplicationApiPackages/ApplicationApiPackages.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
  compass/src/shared/components/ModalWithForm/test/ModalWithForm.test.js
Due: pre-master-console-compass, post-master-console-compass

Fix tests
  compass/src/components/ApiPackages/ApiPackageDetails/ApiList/ApiList.js
  compass/src/components/ApiPackages/ApiPackageDetails/EventList/EventList.js
  compass/src/components/Application/ApplicationDetails/ApplicationApiPackages/ApplicationApiPackages.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
  compass/src/shared/components/ModalWithForm/test/__snapshots__/ModalWithForm.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Review improvements
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/ApiDetailsHeader.js
  compass/src/components/ApiPackages/ApiPackageDetails/ApiList/ApiList.js
  compass/src/components/ApiPackages/ApiPackageDetails/EventList/EventList.js
  compass/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationApiPackages/ApplicationApiPackages.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
Due: pre-master-console-compass, post-master-console-compass

show username in profile menu
  core/src/index.html
  core/src/luigi-config/communication.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-helpers.js
Due: pre-master-console-core, post-master-console-core

Render multiple APIs of one type
  components/generic-documentation/src/loader/loader.ts
Due: none

Remove unnecessary path
  compass/src/App.component.js
Due: pre-master-console-compass, post-master-console-compass

add error handling for userInfoFn. Enrich context with deprecated envId
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-helpers.js
  core/src/luigi-config/navigation/static-navigation-model.js
Due: pre-master-console-core, post-master-console-core

fix broken import
  core/src/luigi-config/navigation/permissions.js
Due: pre-master-console-core, post-master-console-core

Render docs in separate tabs
  components/generic-documentation/src/loader/loader.ts
  components/generic-documentation/src/renderers/Group.renderer.tsx
  components/generic-documentation/src/renderers/SingleAPIcontent.tsx
Due: none

improve the sorting method
  components/generic-documentation/src/loader/loader.ts
Due: none

Finish auth view
  compass/src/components/ApiPackages/ApiPackageDetails/ApiList/ApiList.js
  compass/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  compass/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.scss
  compass/src/components/ApiPackages/ApiPackageDetails/AuthDetailsModal/AuthDetailsModal.js
  compass/src/components/ApiPackages/ApiPackageDetails/AuthList/AuthList.js
  compass/src/components/ApiPackages/ApiPackageDetails/EventList/EventList.js
  compass/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationApiPackages/ApplicationApiPackages.js
Due: pre-master-console-compass, post-master-console-compass

Display plan docs on instances
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
  service-catalog-ui/instances/src/queries/fragments.js
Due: none

Review changes
  compass/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  compass/src/components/ApiPackages/ApiPackageDetails/AuthDetailsModal/AuthDetailsModal.js
  compass/src/components/ApiPackages/ApiPackageDetails/RequestInputSchemaModal/RequestInputSchemaModal.js
  compass/src/components/ApiPackages/gql.js
  compass/src/components/Shared/JSONEditor.js
Due: pre-master-console-compass, post-master-console-compass

Rename API Packages to Packages
  compass/src/components/ApiPackages/ApiPackageDetails/ApiList/ApiList.js
  compass/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  compass/src/components/ApiPackages/ApiPackageDetails/AuthList/AuthList.js
  compass/src/components/ApiPackages/ApiPackageDetails/EventList/EventList.js
  compass/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
  compass/src/components/ApiPackages/CreateApiPackageForm/CreateApiPackageForm.js
  compass/src/components/Application/ApplicationDetails/ApplicationApiPackages/ApplicationApiPackages.js
Due: pre-master-console-compass, post-master-console-compass

Fix tests
  service-catalog-ui/instances/src/testing/instanceMocks.js
Due: none

Fix error in GenericDocumentation
  components/generic-documentation/src/renderers/Group.renderer.tsx
Due: none

add proptypes
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

Fix PropType
  compass/src/components/Shared/JSONEditor.js
Due: pre-master-console-compass, post-master-console-compass

Fix test
  compass/src/components/ApiPackages/CreateApiPackageForm/test/mocks.js
Due: pre-master-console-compass, post-master-console-compass

Add edit api package modal
  compass/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/EditApiPackageForm.js
  compass/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/test/EditApiPackageForm.test.js
  compass/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/test/mocks.js
  compass/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
  compass/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.scss
  compass/src/components/ApiPackages/CreateApiPackageForm/test/mocks.js
  compass/src/components/ApiPackages/gql.js
  compass/src/components/Shared/JSONEditor.js
Due: pre-master-console-compass, post-master-console-compass

Display packages number on the list
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Applications/gql.js
Due: pre-master-console-compass, post-master-console-compass

Do not store profile information in web storage
  .clusterConfig.default
  core/package-lock.json
  core/package.json
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/microfrontend-converter.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/permissions.js
Due: pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

Display api&events number on packages list
  compass/src/components/Application/ApplicationDetails/ApplicationApiPackages/ApplicationApiPackages.js
  compass/src/components/Application/gql.js
Due: pre-master-console-compass, post-master-console-compass

Add package list test
  compass/src/components/Application/ApplicationDetails/ApplicationApiPackages/ApplicationApiPackages.test.js
Due: pre-master-console-compass, post-master-console-compass

Add Applications test
  compass/src/components/Application/ApplicationDetails/ApplicationApiPackages/ApplicationApiPackages.test.js
  compass/src/components/Applications/Applications.test.js
Due: pre-master-console-compass, post-master-console-compass

Show admin nodes also for runtimeAdmins
  .clusterConfig.default
  core/src/luigi-config/navigation/permissions.js
Due: pre-master-console-core, post-master-console-core

Correct typo
  compass/src/components/Application/ApplicationDetails/ApplicationApiPackages/ApplicationApiPackages.test.js
Due: pre-master-console-compass, post-master-console-compass

Workaround for luigi navigation model caching issue
  core/src/luigi-config/navigation/navigation-helpers.js
Due: pre-master-console-core, post-master-console-core

Remove unuseful breadcrumbs
  compass/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
Due: pre-master-console-compass, post-master-console-compass

Remove unuseful breadcrumbs 2
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/ApiDetailsHeader.js
Due: pre-master-console-compass, post-master-console-compass

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
