Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

post-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Rename splitiewMode to compact in lambda view
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
  logging/src/components/LogsContainer.js
Due: pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Changes after code review
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
  logging/src/components/Shared/ResultsOptionsDropdown/ResultsOptionsDropdown.js
Due: pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Fix multiple occurences of namespace on the list
  core-ui/src/components/NamespaceList/NamespaceList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Changes after code review
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
Due: pre-master-console-core, post-master-console-core

Changes after code review
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  logging/src/components/LogsContainer.js
  logging/src/constants.js
Due: pre-master-console-logging, post-master-console-logging

Changes after code review
  core/src/app/content/namespaces/operation/pods/pods.component.ts
Due: pre-master-console-core, post-master-console-core

test commit
  core-ui/src/components/NamespaceList/NamespaceList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update builder.js
  service-catalog-ui/instances/src/commons/builder.js
Due: none

fix linter
  core-ui/src/components/NamespaceList/NamespaceList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Disable flaky cbs test
  core-ui/src/queries/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Disable flaky catalog-ui tests
  tests/package.json
Due: pre-master-console-tests, post-master-console-tests

Remove duplicated dependencies
  package-lock.json
  package.json
  service-catalog-ui/instances/package-lock.json
  service-catalog-ui/instances/package.json
Due: none

Add namespaces list and cards
  core-ui/src/components/NamespaceList/NamespaceList.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.scss
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/NamespaceDetailsCard.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespacesGrid.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespacesGrid.scss
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespaceFilters/NamespaceFilters.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.scss
  core-ui/src/components/NamespaceList/storage.js
  core-ui/src/components/NamespaceList/test/NamespaceList.test.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
  core-ui/src/gql/subscriptions.js
  core-ui/src/shared/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add tests
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/NamespaceList/NamespaceList.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/NamespaceDetailsCard.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/__snapshots__/NamespaceDetailsCard.test.js.snap
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/getPodsRatioColor.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespacesGrid.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespacesGrid.scss
  core-ui/src/components/NamespaceList/NamespacesGrid/test/NamespaceGrid.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/test/__snapshots__/NamespaceGrid.test.js.snap
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespaceFilters/test/NamespaceFilters.test.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespaceFilters/test/__snapshots__/NamespaceFilters.test.js.snap
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/NamespaceListHeader.test.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/NamespaceListHeader.ui.test.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/__snapshots__/NamespaceListHeader.test.js.snap
  core-ui/src/components/NamespaceList/storage.js
  core-ui/src/components/NamespaceList/test/NamespaceList.test.js
  core-ui/src/setupTests.js
  package-lock.json
  package.json
Due: pre-master-console-core-ui, post-master-console-core-ui

Change criteria for pod ratio colors
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/getPodsRatioColor.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove id search todo #1
  core-ui/src/components/NamespaceList/NamespaceList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove id search todo 2
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update snapshots
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/__snapshots__/NamespaceDetailsCard.test.js.snap
  core-ui/src/components/NamespaceList/NamespacesGrid/test/__snapshots__/NamespaceGrid.test.js.snap
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix split mode when loki not installed
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Split mocks
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/test/ServiceInstanceDetails.test.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesList.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/test/ServiceInstancesList.test.js
  service-catalog-ui/instances/src/testing/instanceMocks.js
  service-catalog-ui/instances/src/testing/queriesMocks.js
Due: none

Move sample event selector and send button inline
  lambda/src/app/lambdas/lambda-details/lambda-details.component.html
Due: none

Fix undefined refrence errors
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Extract filtering logic, remove debugger statements
  service-catalog-ui/instances/src/commons/builder.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesList.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/searchUtils.js
  service-catalog-ui/instances/src/store/index.js
Due: none

Fixes after review
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.scss
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/NamespaceDetailsCard.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/__snapshots__/NamespaceDetailsCard.test.js.snap
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespaceFilters/NamespaceFilters.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add WithContext component
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/WithContext/WithContext.js
Due: none

Change withContext name
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/WithNotificationContext/WithNotificationContext.js
Due: none

Change starting domain for Compass UI
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Update luigi-config, remove unused entry from core-ui config
  core-ui/src/commons/api-url.js
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Add Core UI viewGroup
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/microfrontend-converter.js
Due: pre-master-console-core, post-master-console-core

Add caption for namespace card
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.scss
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/NamespaceDetailsCard.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/__snapshots__/NamespaceDetailsCard.test.js.snap
Due: pre-master-console-core-ui, post-master-console-core-ui

Deduplicate random names generating
  components/react/src/commons/random-names-generator.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Create draft labels component
  core-ui/src/components/App/App.js
  core-ui/src/components/Labels/Labels.js
  core-ui/src/components/Lambdas/Lambdas.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Create draft labels component pt 2
  core-ui/src/components/Labels/Labels.js
  core-ui/src/components/Lambdas/Lambdas.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Allow empty label value
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.js
  core-ui/src/components/LabelSelectorInput/test/labelRegexp.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Move form to modal
  core-ui/src/components/Lambdas/CreateLambdaModal/CreateLambdaModal.js
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/components/Shared/Labels.js
  core-ui/src/components/Shared/ModalWithForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Change grid settings
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespacesGrid.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Reuse labels and modalwithform components
  core-ui/src/components/App/App.js
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.js
  core-ui/src/components/Lambdas/CreateLambdaModal/CreateLambdaModal.js
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  core-ui/src/components/Shared/Labels.js
  core-ui/src/components/Shared/ModalWithForm.js
  package-lock.json
Due: pre-master-console-core-ui, post-master-console-core-ui

Adjust create ns form for new labels structure
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Minor improvements
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  core-ui/src/components/Lambdas/CreateLambdaForm/CreateLambdaForm.js
  core-ui/src/components/Lambdas/Lambdas.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix CustomPropTypes import
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
Due: pre-master-console-compass, post-master-console-compass

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
