Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/

Fix permissiond with resolve stage
  service-catalog-ui/Makefile
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers

Optimize build pipeline
  service-catalog-ui/Dockerfile
  service-catalog-ui/Makefile
Due: none

Update solution
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
Due: pre-master-console-compass, post-master-console-compass

Fix tiny import error
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
Due: pre-master-console-compass, post-master-console-compass

Remove obsolete query
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.container.js
Due: pre-master-console-compass, post-master-console-compass

Apply renaming
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarios.component.js
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Fix Prettier
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Fixes after code review
  lerna.json
  service-catalog-ui/.dockerignore
  service-catalog-ui/Dockerfile
  service-catalog-ui/catalog/src/commons/commons.spec.js
  service-catalog-ui/nginx.conf
  service-catalog-ui/package.json
Due: none

Make prepare-react-components script able to replace the bundled file also in subfolders
  scripts/prepare-react-components.sh
  service-catalog-ui/Makefile
  service-catalog-ui/package.json
Due: none

Apply name refactoring 2
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Add prompt dot, use lambdas instead of bind
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/CredentialsForm.js
  compass/src/components/Shared/AssignScenarioModal/style.scss
Due: pre-master-console-compass, post-master-console-compass

Add unit test
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.container.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/MetadataDefinitionDetails.test.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/__snapshots__/MetadataDefinitionDetails.test.js.snap
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/mock.js
Due: pre-master-console-compass, post-master-console-compass

Tune up "add definition" button
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Fix readme after TW review
  service-catalog-ui/Dockerfile
  service-catalog-ui/README.md
  service-catalog-ui/nginx.conf
Due: console-governance

Fix readme after TW review
  service-catalog-ui/README.md
Due: console-governance

Improve unsaved changes behaviour
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/MetadataDefinitionDetails.test.js
Due: pre-master-console-compass, post-master-console-compass

Update snapshot
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/__snapshots__/MetadataDefinitionDetails.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Re-use clustermicrofrontends nodes that need to be placed for a namespace
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core

Update after review
  compass/src/shared/components/GenericList/SearchInput.js
  compass/src/shared/components/GenericList/helpers.js
Due: pre-master-console-compass, post-master-console-compass

Fix ignore-config script
  package.json
Due: none

Handle special case for runtimes
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarioDecorator.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarioModal.container.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarios.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarios.container.js
  compass/src/components/Runtimes/gql.js
Due: pre-master-console-compass, post-master-console-compass

Update after review
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/APICreationHelper.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Clean up config.js files after merge into one service-catalog-ui folder
  brokers/public/config/config.js
  catalog/public/config/config.js
  instances/public/config/config.js
  service-catalog-ui/brokers/public/config/config.js
  service-catalog-ui/catalog/public/config/config.js
  service-catalog-ui/instances/public/config/config.js
Due: prow/console/brokers

Fix props bug with credentials form
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/CredentialsForm.js
Due: pre-master-console-compass, post-master-console-compass

Fix remaining npm audit vulnerabilities
  content/package-lock.json
  package-lock.json
  service-catalog-ui/brokers/package-lock.json
  service-catalog-ui/catalog/package-lock.json
  service-catalog-ui/instances/package-lock.json
Due: prow/console/brokers

Remaining fixes
  add-ons/package-lock.json
  components/react/package-lock.json
  service-catalog-ui/catalog/package-lock.json
  service-catalog-ui/instances/package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Reuse GQL query
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.container.js
  compass/src/components/Labels/gql.js
Due: pre-master-console-compass, post-master-console-compass

Update after review
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarios.component.js
Due: pre-master-console-compass, post-master-console-compass

Fetch microfrontends using graphql
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core

Fixes after code review
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core

Fix labels in applications
  compass/src/components/Applications/Applications.component.js
Due: pre-master-console-compass, post-master-console-compass

Change the approach to label creation
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationScenarioModal.container.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.container.js
Due: pre-master-console-compass, post-master-console-compass

Remove unused vadiable
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Revert some changes
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationScenarioModal.container.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Revert some changes pt 2
  compass/src/components/Applications/gql.js
Due: pre-master-console-compass, post-master-console-compass

Fix linter
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationScenarioModal.container.js
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Fix link and formatting
  README.md
Due: console-governance
