Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

checkbox fixes for techne vs fiori
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.component.ts
  core/src/assets/vendor/techne.min-2.0.0-alpha-4-modified-fiorified.css
  core/src/consoleapp.html
  core/src/styles.scss
  core/src/styles/wtf-overrides.scss
Due: console-core

fix for dropdown
  core/src/styles/wtf-overrides.scss
Due: console-core

binding modal fixes
  core/src/styles/wtf-overrides.scss
Due: console-core

lamda fixes
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.component.ts
  lambda/src/assets/vendor/techne.min-2.0.0-alpha-4-modified-fiorified.css
  lambda/src/index.html
  lambda/src/styles.scss
  lambda/src/styles/_wtf-overrides.scss
Due: console-core

removed modal button margin, it is inconsistent anyway
  core/src/styles.scss
  core/src/styles/techne-fiorification-overrides.scss
  lambda/src/styles.scss
  lambda/src/styles/techne-fiorification-overrides.scss
Due: console-core

Checkbox and text input fixes (#575)
  core/src/assets/vendor/techne.min-2.0.0-alpha-4-modified-fiorified.css
  core/src/consoleapp.html
  core/src/styles.scss
  core/src/styles/techne-fiorification-overrides.scss
  lambda/src/assets/vendor/techne.min-2.0.0-alpha-4-modified-fiorified.css
  lambda/src/index.html
  lambda/src/styles.scss
  lambda/src/styles/_wtf-overrides.scss
  lambda/src/styles/techne-fiorification-overrides.scss
Due: console-core

Enable lambda-ui tests (#532)
  tests/package.json
  tests/ui-tests/tests/lambda-ui-test.js
  tests/ui-tests/utils/logging.js
Due: console-tests

restructure
  core/src/app/content/environments/environments-container/environments-container.component.ts
  core/src/luigi-config/luigi-config.js
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: console-core

fix some withespace
  core/src/luigi-config/luigi-config.js
Due: console-core

fix schoenheitsfehler
  core/src/app/content/environments/environments-container/environments-container.component.ts
Due: console-core

restructure file tree
  react-odata/package-lock.json
  react-odata/package.json
  react-odata/src/App.css
  react-odata/src/App.test.tsx
  react-odata/src/App.tsx
  react-odata/src/ODataFiles/ODataFav1.ts
  react-odata/src/ODataFiles/ODataProductV2.ts
  react-odata/src/ODataFiles/ODataProductV4.ts
  react-odata/src/Table/AnnotationsModal.tsx
  react-odata/src/Table/AnnotationsRow.tsx
  react-odata/src/Table/AnnotationsTable.tsx
  react-odata/src/Table/Container.tsx
  react-odata/src/Table/Table.tsx
  react-odata/src/Table/TableContainer.tsx
  react-odata/src/Table/TableHeader.tsx
  react-odata/src/Table/utils/utils.ts
  react-odata/src/data.xml
Due: none

add more fields to annotation table
  react-odata/src/App.tsx
  react-odata/src/Table/AnnotationsModal.tsx
  react-odata/src/Table/AnnotationsRow.tsx
  react-odata/src/Table/AnnotationsTable.tsx
  react-odata/src/Table/Table.tsx
Due: none

Read replicasets from ui-api-layer
  core/src/app/content/environments/operation/abstract-kubernetes-element-list.component.ts
  core/src/app/content/environments/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.html
  core/src/app/content/environments/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.ts
  core/src/app/content/environments/operation/replica-sets/replica-sets-header-renderer/replica-sets-header-renderer.component.html
  core/src/app/content/environments/operation/replica-sets/replica-sets.component.ts
  core/src/app/shared/datamodel/k8s/replica-set.ts
Due: console-core

fix
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

no message
  core/src/app/content/environments/environments-container/environments-container.component.ts
  core/src/luigi-config/luigi-config.js
Due: console-core

allow all
  core/nginx/nginx.conf
Due: console-core

csp
  core/nginx/nginx.conf
Due: console-core

tets
  core/nginx/nginx.conf
Due: console-core

Add nosniff setting for MIME types on all console components
  brokers/nginx.conf
  catalog/nginx.conf
  content/nginx.conf
  core/nginx/nginx.conf
  instances/nginx.conf
  lambda/nginx/nginx.conf
Due: prow/console/brokers, console-core

Add Annotations component in ServiceDocumentation
  react-odata/package-lock.json
  react-odata/package.json
  react-odata/src/App.tsx
  react-odata/src/Interfaces.ts
  react-odata/src/ODataFiles/ODataFav11.ts
  react-odata/src/ODataFiles/ODataProductsV3.ts
  react-odata/src/Table/AnnotationsModal.tsx
  react-odata/src/Table/AnnotationsRow.tsx
  react-odata/src/Table/CollapsedAnnotation.tsx
  react-odata/src/Table/CollapsedTable.tsx
  react-odata/src/Table/Container.tsx
  react-odata/src/Table/ServiceDocumentationTable.tsx
  react-odata/src/Table/SimpleTable.tsx
  react-odata/src/Table/Table.tsx
  react-odata/src/Table/utils/utils.ts
Due: none

Hardcode angular-builders version (#585)
  core/package-lock.json
  core/package.json
Due: console-core

add working version of annotations in every component
  react-odata/src/App.tsx
  react-odata/src/Table/CollapsedAnnotation.tsx
  react-odata/src/Table/CollapsedTable.tsx
  react-odata/src/Table/Container.tsx
  react-odata/src/Table/MainDataTable/CollapsibleRow.tsx
  react-odata/src/Table/MainDataTable/Table.tsx
  react-odata/src/Table/Table.tsx
  react-odata/src/Table/TableContainer.tsx
Due: none

Restructure codebase
  react-odata/src/App.tsx
  react-odata/src/ODataFiles/ODataChanged.xml
  react-odata/src/ODataFiles/ODataFav3.ts
  react-odata/src/ODataFiles/ODataNorthWindV2.ts
  react-odata/src/Table/MainDataTable/CollapsibleRow.tsx
  react-odata/src/Table/MainDataTable/HideableSubTable.tsx
  react-odata/src/Table/MainDataTable/Table.tsx
  react-odata/src/Table/ServiceDocumentationTable/CollapsedAnnotation.tsx
  react-odata/src/Table/ServiceDocumentationTable/CollapsedTable.tsx
  react-odata/src/Table/ServiceDocumentationTable/ServiceDocumentationTable.tsx
  react-odata/src/Table/ServiceDocumentationTable/SimpleTable.tsx
  react-odata/src/Table/TableContainer.tsx
  react-odata/src/Table/styled/TableHeader.tsx
  react-odata/src/Table/styled/index.tsx
  react-odata/src/Table/utils.ts
Due: none

Update and delete operations realized via graghql
  core/src/app/app.module.ts
  core/src/app/content/environments/operation/abstract-kubernetes-element-list.component.ts
  core/src/app/content/environments/operation/kubernetes-element-list.component.html
  core/src/app/content/environments/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.html
  core/src/app/content/environments/operation/replica-sets/replica-sets.component.ts
  core/src/app/shared/components/json-editor-modal/graphql-mutator-modal.component.ts
  core/src/app/shared/components/json-editor-modal/json-editor-modal.component.ts
  core/src/app/shared/components/json-editor-modal/json-editor/json-editor.component.ts
Due: console-core

add prettier and tslint
  react-odata/.prettierrc
  react-odata/package-lock.json
  react-odata/package.json
  react-odata/src/App.tsx
  react-odata/src/Table/ServiceDocumentationTable/CollapsedAnnotation.tsx
  react-odata/tslint.json
Due: none

Fix update mutation parameters
  core/src/app/shared/components/json-editor-modal/graphql-mutator-modal.component.ts
Due: console-core

Restructure codebase even further
  react-odata/package-lock.json
  react-odata/src/App.tsx
  react-odata/src/ODataFiles/ODataChanged.xml
  react-odata/src/Table/TableContainer.tsx
  react-odata/src/tools/V2V3toV4.ts
  react-odata/tslint.json
Due: none

remove unnecesary comment and remove styled header for now
  react-odata/src/Table/MainDataTable/Table.tsx
  react-odata/src/Table/ServiceDocumentationTable/ServiceDocumentationTable.tsx
  react-odata/src/Table/styled/TableHeader.tsx
  react-odata/src/Table/styled/index.tsx
Due: none

remove conflicting rule and move it to .prettierrc
  react-odata/.prettierrc
  react-odata/package.json
  react-odata/tslint.json
Due: none

Add small change to css for it to be more readable
  react-odata/src/App.css
Due: none

hide errors from visible tables
  react-odata/src/App.tsx
Due: none

Fix nginx syntax
  brokers/nginx.conf
  catalog/nginx.conf
  content/nginx.conf
  core/nginx/nginx.conf
  instances/nginx.conf
  lambda/nginx/nginx.conf
Due: prow/console/brokers, console-core

change styling rules and add globalStyle.tsx
  react-odata/.prettierrc
  react-odata/package.json
  react-odata/src/globalStyle.tsx
  react-odata/src/index.tsx
  react-odata/tslint.json
Due: none

move css rules to globalStyles.ts and add small fixes
  react-odata/src/App.css
  react-odata/src/App.tsx
  react-odata/src/ODataFiles/ODataFav21.ts
  react-odata/src/Table/MainDataTable/Table.tsx
  react-odata/src/Table/ServiceDocumentationTable/SimpleTable.tsx
  react-odata/src/globalStyle.ts
  react-odata/tslint.json
Due: none

rename two files and add fallback for text in CollapsibleAnnotation
  react-odata/src/App.tsx
  react-odata/src/Table/ServiceDocumentationTable/CollapsibleAnnotation.tsx
  react-odata/src/Table/ServiceDocumentationTable/CollapsibleTable.tsx
  react-odata/src/Table/ServiceDocumentationTable/ServiceDocumentationTable.tsx
Due: none

fix unnecesary render of tr and td before collapsedTable, rename components
  react-odata/src/Table/ServiceDocumentationTable/CollapsibleAnnotation.tsx
  react-odata/src/Table/ServiceDocumentationTable/CollapsibleTable.tsx
  react-odata/src/Table/ServiceDocumentationTable/ServiceDocumentationTable.tsx
Due: none

make changes due to magicmatatjahu
  components/react-odata/README.md
  components/react-odata/package-lock.json
  components/react-odata/package.json
  components/react-odata/public/index.html
  components/react-odata/public/manifest.json
  components/react-odata/src/ODataFiles/temp.xml
  components/react-odata/src/ODataReact.tsx
  components/react-odata/src/Table/MainDataTable/CollapsibleRow.tsx
  components/react-odata/src/Table/MainDataTable/HideableSubTable.tsx
  components/react-odata/src/Table/MainDataTable/Table.tsx
  components/react-odata/src/Table/ServiceDocumentationTable/CollapsibleAnnotation.tsx
  components/react-odata/src/Table/ServiceDocumentationTable/CollapsibleTable.tsx
  components/react-odata/src/Table/ServiceDocumentationTable/ServiceDocumentationTable.tsx
  components/react-odata/src/Table/ServiceDocumentationTable/SimpleTable.tsx
  components/react-odata/src/Table/TableContainer.tsx
  components/react-odata/src/Table/styled/styled.ts
  components/react-odata/src/components/ErrorComponent.tsx
  components/react-odata/src/index.tsx
  components/react-odata/src/logo.svg
  components/react-odata/src/theme/styled-components.ts
  components/react-odata/src/theme/theme.ts
  components/react-odata/src/theme/types.ts
  components/react-odata/src/tools/Parser.ts
  components/react-odata/src/tools/Transformer.ts
  components/react-odata/src/types.ts
  components/react-odata/tsconfig.json
  components/react-odata/tslint.json
Due: console-governance

move ./Table to ./components/Table
  components/react-odata/src/ODataReact.tsx
  components/react-odata/src/components/ErrorComponent/ErrorComponent.tsx
  components/react-odata/src/components/Table/MainDataTable/CollapsibleRow.tsx
  components/react-odata/src/components/Table/MainDataTable/HideableSubTable.tsx
  components/react-odata/src/components/Table/MainDataTable/Table.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/CollapsibleAnnotation.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/CollapsibleTable.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/ServiceDocumentationTable.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/SimpleTable.tsx
  components/react-odata/src/components/Table/TableContainer.tsx
  components/react-odata/src/components/Table/styled/styled.ts
  components/react-odata/src/components/Table/utils.ts
Due: none

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  console-tests: any of: ^tests/
