Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  console-tests: any of: ^tests/

Fix bindable resources (#546)
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/Resources.component.js
Due: none

Close popover after action clicked
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.ts
Due: none

Close popover using its own button
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.ts
Due: none

fix linter errors
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.ts
Due: none

Update components/angular/generic-list/README.md
  components/angular/generic-list/README.md
Due: console-governance

Secure API rework
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.component.ts
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.service.ts
Due: console-core

Remove unused function
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.service.ts
Due: console-core

Fix lambdas double-click bug
  lambda/src/main.ts
Due: none

Check for service selector
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.component.ts
Due: console-core

Fix label selector bug
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.component.ts
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.service.ts
Due: console-core

Add test for secure api button visibility
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.component.spec.ts
Due: console-core

Remove unnecessary lines
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.component.spec.ts
Due: console-core

generic-list done
  components/angular/generic-list/src/app/app.component.html
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.html
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.scss
Due: none

generic-table done
  components/angular/generic-list/src/app/modules/list/generic-table/generic-table.component.html
  components/angular/generic-list/src/app/modules/list/generic-table/generic-table.component.scss
Due: none

Makefile for building docker images added
  log-ui/Makefile
Due: none

Secure API rework (#549)
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.component.spec.ts
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.component.ts
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.service.ts
Due: console-core

Make "filter" button enabled
  components/angular/generic-list/src/app/modules/list/list-filter/list-filter.component.html
Due: none

Adjust service catalog and instances tests, add binding tests
  catalog/src/components/App/App.component.js
  catalog/src/components/App/queries.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/mutations.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  components/react/src/components/Label/index.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindingsStep.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/Resources.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/DeleteBindingModal/DeleteBindingModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ParametersDataModal/ParametersDataModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/SecretDataModal/SecretDataModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/FilterDropdown.component.js
  tests/ui-tests/commands/catalog.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/utils/catalogConfig.js
  tests/ui-tests/utils/serviceClassConfig.js
Due: console-tests

Adjust service catalog and instances tests, add binding tests (#545)
  catalog/src/components/App/App.component.js
  catalog/src/components/App/queries.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/mutations.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  components/react/src/components/Label/index.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindingsStep.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/Resources.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/DeleteBindingModal/DeleteBindingModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ParametersDataModal/ParametersDataModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/SecretDataModal/SecretDataModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/FilterDropdown.component.js
  tests/ui-tests/commands/catalog.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/utils/catalogConfig.js
  tests/ui-tests/utils/serviceClassConfig.js
Due: console-tests

Show connected namespaces fix
  core/src/app/content/settings/remote-environments/remote-environments-entry-renderer/remote-environments-entry-renderer.component.ts
Due: console-core

Show connected namespaces fix pt2
  core/src/app/content/settings/remote-environments/remote-environment-details/edit-bindings-modal/edit-binding-modal.component.ts
Due: console-core

Get rid of remaining sf-* classes
  components/angular/generic-list/src/app/modules/list/plain-list/plain-list.component.html
  components/angular/generic-list/src/app/modules/list/plain-list/plain-list.component.scss
  components/angular/generic-list/src/app/modules/list/plain-table/plain-table.component.html
  components/angular/generic-list/src/app/modules/list/plain-table/plain-table.component.scss
Due: none

luigi version update (#552)
  core/package-lock.json
  core/package.json
Due: console-core

Show connected namespaces fix (#550)
  core/src/app/content/settings/remote-environments/remote-environment-details/edit-bindings-modal/edit-binding-modal.component.ts
  core/src/app/content/settings/remote-environments/remote-environments-entry-renderer/remote-environments-entry-renderer.component.ts
Due: console-core

test4
  brokers/src/commons/helpers.js
Due: prow/console/brokers

Undo unwanted changes
  brokers/src/commons/builder.js
  brokers/src/components/App/App.component.js
  brokers/src/store/index.js
  brokers/src/store/transformers.js
  catalog/package-lock.json
  catalog/src/commons/asyncapi.js
  catalog/src/commons/helpers.js
  catalog/src/components/App/App.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  catalog/src/store/defaults.js
  catalog/src/store/index.js
  catalog/src/store/resolvers.js
  catalog/src/store/transformers.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/DocsContent/styled.js
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/styled.js
  content/src/store/index.js
  content/src/store/transformers.js
  core/src/luigi-config/luigi-config.js
  instances/package-lock.json
  instances/src/commons/asyncapi.js
  instances/src/commons/helpers.js
  instances/src/components/App/App.component.js
  instances/src/components/DataProvider/DataProvider.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/DeleteBindingModal/DeleteBindingModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
  instances/src/store/ServiceInstances/events.js
  instances/src/store/index.js
Due: prow/console/brokers, console-core

Remove unwanted changes part2
  brokers/src/commons/builder.js
  brokers/src/components/App/App.component.js
  catalog/package-lock.json
  catalog/src/commons/helpers.js
  catalog/src/components/App/App.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  components/react/src/components/BackendModuleDisabled/index.js
  components/react/src/components/BackendModuleDisabled/styled.js
  content/src/App.js
  content/src/commons/helpers.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/DocsContent/styled.js
  content/src/components/MainPage/MainPage.container.js
  instances/package-lock.json
  instances/src/commons/helpers.js
  instances/src/components/App/App.component.js
  instances/src/components/DataProvider/DataProvider.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/DeleteBindingModal/DeleteBindingModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
  instances/src/store/ServiceInstances/events.js
  instances/src/store/index.js
Due: prow/console/brokers

Remove unwanted changes part 3
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
Due: none

luigi version update
  core/package-lock.json
  core/package.json
Due: console-core

luigi version update (#555)
  core/package-lock.json
  core/package.json
Due: console-core

Fix application names
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/DeleteBindingModal/DeleteBindingModal.component.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
Due: none

Fix application names (#547)
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/DeleteBindingModal/DeleteBindingModal.component.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
Due: none

Update Content UI manifest
  content/src/commons/manifest.yaml
Due: none
