Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/

Use global builder in instances
  service-catalog-ui/catalog/src/domains/instances/commons/builder.js
  service-catalog-ui/catalog/src/domains/instances/commons/helpers.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.container.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.container.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstancesList/ServiceInstancesList.js
  service-catalog-ui/catalog/src/domains/instances/store/index.js
  service-catalog-ui/catalog/src/domains/instances/store/ws.js
  service-catalog-ui/catalog/src/domains/instances/testing/queriesMocks.js
Due: none

Merge commons/helpers
  service-catalog-ui/catalog/src/commons/helpers.js
  service-catalog-ui/catalog/src/domains/instances/commons/helpers.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstancesList/ServiceInstancesTable/ServiceInstancesTable.component.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstancesList/searchUtils.js
Due: none

Use Notifications from react-shared
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceBindings/WithNotificationContext/WithNotificationContext.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/test/ServiceInstanceDetails.test.js
  service-catalog-ui/catalog/src/domains/instances/contexts/NotificationContext/NotificationContext.js
  service-catalog-ui/catalog/src/shared/ModalWithForm/ModalWithForm.js
  service-catalog-ui/catalog/src/shared/contexts/NotificationContext/index.js
  shared/contexts/NotificationContext.js
Due: none

Move instances events couple levels up
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstancesList/ServiceInstancesList.js
  service-catalog-ui/catalog/src/domains/instances/store/events.js
Due: none

Fix deployments test
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Merge apollo clients
  service-catalog-ui/catalog/src/apollo.js
  service-catalog-ui/catalog/src/domains/instances/store/index.js
  service-catalog-ui/catalog/src/domains/instances/store/ws.js
Due: none

Move events to instances root
  service-catalog-ui/catalog/src/domains/instances/events.js
Due: none

Rename isntances variables to constants
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceInfo/StatusPanel.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/test/ServiceInstanceDetails.test.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstancesList/ServiceInstancesList.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstancesList/ServiceInstancesToolbar/ServiceInstancesToolbar.component.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstancesList/searchUtils.js
  service-catalog-ui/catalog/src/domains/instances/constants.js
  service-catalog-ui/catalog/src/domains/instances/events.js
Due: none

Merge soritng to common/helpers
  service-catalog-ui/catalog/src/commons/helpers.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassPlansList/ServiceClassPlansList.js
  service-catalog-ui/catalog/src/shared/sorting.js
Due: none

Use badge for status
  service-catalog-ui/brokers/src/commons/helpers.js
  service-catalog-ui/brokers/src/components/ServiceBrokers/ServiceBrokers.component.js
Due: prow/console/brokers

Fix badges
  service-catalog-ui/brokers/src/components/ServiceBrokers/ServiceBrokers.component.js
  service-catalog-ui/brokers/src/components/ServiceBrokers/ServiceBrokers.component.scss
Due: prow/console/brokers

Remove search
  service-catalog-ui/brokers/src/components/ServiceBrokers/ServiceBrokers.component.js
Due: prow/console/brokers

Test functions not lambdas
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Hopefully stabilize Luigi navigation test
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Do not show depercated category
  core/src/app/content/settings/organisation/organisation.component.html
  core/src/app/content/settings/organisation/organisation.component.ts
  core/src/luigi-config/navigation/microfrontend-converter.js
  core/src/luigi-config/navigation/navigation-helpers.js
Due: pre-master-console-core, post-master-console-core

Fix a typo
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Make it run
  package-lock.json
  package.json
  service-catalog-ui/catalog/src/apollo.js
  service-catalog-ui/catalog/src/components/App/App.jsx
  service-catalog-ui/catalog/src/domains/catalog/components/App/App.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassList/Cards/Card.component.js
  service-catalog-ui/catalog/src/domains/catalog/components/ServiceClassPlansList/ServiceClassPlansList.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/test/ServiceInstanceDetails.test.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstancesList/test/ServiceInstancesList.test.js
  service-catalog-ui/catalog/src/index.js
  service-catalog-ui/catalog/src/shared/ModalWithForm/ModalWithForm.js
Due: pre-master-console-whitesource-scan

Fix text in lambda UI in resources & replicas section
  core-ui/src/components/Lambdas/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

update texts
  core-ui/src/components/Lambdas/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add test for instances render
  service-catalog-ui/catalog/src/components/App/App.jsx
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Remove import of not existing file
  core-ui/public/index.html
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix docker file
  service-catalog-ui/Dockerfile
Due: none

Cleanup other files
  service-catalog-ui/Makefile
  service-catalog-ui/nginx.conf
Due: none

Add LabelsTable
  compass/src/App.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.container.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.scss
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarios.component.js
  compass/src/components/Shared/LabelsTable/LabelsTable.js
  compass/src/components/Shared/LabelsTable/test/LabelsTable.test.js
  shared/components/GenericList/GenericList.scss
Due: pre-master-console-compass, post-master-console-compass

Fix test name
  compass/src/components/Shared/LabelsTable/test/LabelsTable.test.js
Due: pre-master-console-compass, post-master-console-compass

Fix tenant search
  compass/src/components/TenantSearch/TenantSearch.js
Due: pre-master-console-compass, post-master-console-compass

Fix labels table search
  compass/src/components/Shared/LabelsTable/LabelsTable.js
  compass/src/components/Shared/LabelsTable/test/LabelsTable.test.js
Due: pre-master-console-compass, post-master-console-compass

Use simple css selectors
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.scss
Due: pre-master-console-compass, post-master-console-compass

Rename flag
  tests/config.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Test logs & functions conditionally
  tests/config.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Use beforeEach for log in
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

After review
  .prettierignore
  tslint.json
Due: none

GenericList improvements
  shared/components/GenericList/GenericList.scss
Due: none

Extract copiable links to shared
  compass/src/components/Shared/LabelsTable/LabelsTable.js
  core-ui/src/components/ApiRules/ApiRuleDetails/ApiRuleDetails.js
  core-ui/src/components/Applications/ConnectApplicationModal/ConnectApplication.js
  shared/components/CopiableText/CopiableText.js
  shared/components/CopiableText/CopiableText.scss
  shared/components/Link/CopiableLink.js
  shared/components/Link/Link.js
  shared/index.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui

Remove old CSS rules
  shared/components/CopiableText/CopiableText.scss
Due: none
