Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Add functionality to toggle system namespaces visibility
  content/package-lock.json
  core/package-lock.json
  core/src/app/content/namespaces/operation/kubernetes-data-provider.ts
  core/src/app/content/namespaces/services/namespaces.service.ts
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.ts
  core/src/app/content/settings/organisation/organisation.component.html
  core/src/app/content/settings/organisation/organisation.component.ts
  core/src/app/content/workspace-overview/namespace-card/namespace-card.component.html
  core/src/app/content/workspace-overview/namespace-card/namespace-card.component.ts
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.ts
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation-helpers.js
Due: pre-master-console-core, post-master-console-core

Parse default schema params if their type is integer
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
Due: none

Work on update application
  compass/package-lock.json
  compass/package.json
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationUpdateModal/ApplicationUpdateModal.js
  compass/src/components/Application/ApplicationDetails/ApplicationUpdateModal/ApplicationUpdateModal2.js
  compass/src/components/Application/gql.js
  compass/src/components/Shared/JSONEditor.js
  compass/src/components/Shared/labelSchema.js
Due: none

Polish layout
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/styles.scss
Due: none

Add mutation for update
  compass/src/components/Application/ApplicationDetails/ApplicationUpdateModal/ApplicationUpdateModal2.js
Due: none

Fix resource uploader modal paddings
  core/src/app/shared/components/resource-uploader/uploader/uploader.component.html
  core/src/app/shared/components/resource-uploader/uploader/uploader.component.scss
  core/src/app/shared/components/resource-uploader/uploader/uploader.component.ts
Due: pre-master-console-core, post-master-console-core

Fix hiding the info modal
  core/src/app/shared/components/information-modal/information-modal.component.ts
Due: pre-master-console-core, post-master-console-core

Fix Create namespace modal
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
Due: pre-master-console-core, post-master-console-core

Widen EditApplicationModal
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
  core/src/app/content/settings/applications/edit-application-modal/edit-application-modal.component.ts
Due: pre-master-console-core, post-master-console-core

get rid of initial scrollbar made by popover in modal
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.ts
  core/src/styles/fiori-fundamentals-overrides.scss
Due: pre-master-console-core, post-master-console-core

Add modals for apis and eventApis
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApiDeleteModal.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/EventApiDeleteModal.js
  compass/src/components/Application/gql.js
Due: none

Add prop types
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationNotFoundMessage/ApplicationNotFoundMessage.js
Due: none

Add prop types
  compass/src/components/Application/ApplicationDetails/ApplicationUpdateModal/ApplicationUpdateModal2.js
Due: none

Fix linter errors
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
Due: pre-master-console-core, post-master-console-core

Fix compilation warning, modify style selector
  compass/src/App.scss
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/styles.scss
  compass/src/index.js
Due: none

test
  compass/.prettierignore
  compass/package-lock.json
  compass/src/config/luigi-config/main.js
  content/package-lock.json
  core/package-lock.json
Due: pre-master-console-core, post-master-console-core

Remove not needed parts
  compass/.prettierignore
  compass/src/config/luigi-config/main.js
  compass/src/index.js
Due: none

Cleanup
  compass/.eslintignore
  compass/.prettierrc
  compass/Makefile
  compass/package.json
Due: none

fix "workspace doesn't exist" bug
  core/src/app/content/namespaces/namespaces-container/namespaces-container.component.ts
  core/src/app/shared/components/information-modal/information-modal.component.ts
Due: pre-master-console-core, post-master-console-core

Fix some tests
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  tests/ui-tests/commands/console.js
Due: pre-master-console-core, post-master-console-core, console-tests

Merge
  compass/src/App.scss
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/styles.scss
  compass/src/components/Application/ApplicationDetails/ApplicationUpdateModal/ApplicationUpdateModal2.js
  compass/src/index.js
Due: none

Fix token gaps
  compass/src/App.scss
Due: none

Add search option
  compass/src/shared/components/GenericList/GenericList.js
  compass/src/shared/components/GenericList/helpers.js
  compass/src/shared/components/GenericList/internalRenderers.js
Due: none

Perform 'npm run bootstrap' after every install operation
  compass/package.json
Due: none

Minor changes
  compass/src/App.scss
  compass/src/components/Applications/Applications.js
  compass/src/shared/components/GenericList/GenericList.js
Due: none

Fix errors discovered by tests
  compass/src/shared/components/GenericList/GenericList.js
Due: none

Add GenericList snapshot tests
  compass/src/shared/components/GenericList/GenericList.test.js
  compass/src/shared/components/GenericList/__snapshots__/GenericList.test.js.snap
Due: none

Add test for Applications component
  catalog/src/setupTests.js
  compass/package-lock.json
  compass/package.json
  compass/src/components/Applications/Applications.js
  compass/src/components/Applications/test/Applications.test.js
  compass/src/components/Applications/test/__snapshots__/Applications.test.js.snap
  compass/src/components/Applications/test/mock.js
  compass/src/setupTests.js
  compass/src/shared/components/GenericList/test/GenericList.test.js
  compass/src/shared/components/GenericList/test/__snapshots__/GenericList.test.js.snap
Due: none

Add modal
  compass/src/components/Application/ApplicationDetails/AddAPIModal/APIUploadHelper.js
  compass/src/components/Application/ApplicationDetails/AddAPIModal/AddAPIModal.js
  compass/src/components/Application/ApplicationDetails/AddAPIModal/FileInput.js
  compass/src/components/Application/ApplicationDetails/AddAPIModal/style.scss
  compass/src/components/Application/gql.js
  compass/src/components/Runtimes/RuntimeList/RuntimeList.js
  compass/src/components/addapitest.js
Due: none

Add more tests
  compass/src/shared/components/GenericList/GenericList.js
  compass/src/shared/components/GenericList/internalRenderers.js
  compass/src/shared/components/GenericList/test/GenericList.test.js
  compass/src/shared/components/GenericList/test/__snapshots__/internalRenderers.test.js.snap
  compass/src/shared/components/GenericList/test/internalRenderers.test.js
  compass/src/shared/components/GenericList/test/mock.js
Due: none

Fix linter for react-components
  components/react/src/components/Filter/index.js
  components/react/src/components/TableWithActions/TableWithActionsList/index.js
  components/react/src/components/TableWithActions/TableWithActionsToolbar/index.js
Due: pre-master-console-react-components, post-master-console-react-components

Fix linter errors
  catalog/src/setupTests.js
Due: none

Fix another error
  catalog/src/setupTests.js
Due: none

Start polishing
  compass/src/components/Application/ApplicationDetails/AddAPIModal/APIUploadHelper.js
  compass/src/components/Application/ApplicationDetails/AddAPIModal/AddAPIModal.js
  compass/src/components/Application/ApplicationDetails/AddAPIModal/FileInput.js
  compass/src/components/Application/ApplicationDetails/AddAPIModal/TextFormItem.js
  compass/src/components/Application/ApplicationDetails/AddAPIModal/style.scss
  compass/src/components/addapitest.js
Due: none

Fix linter errors
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ApplicationNotFoundMessage/ApplicationNotFoundMessage.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.js
  compass/src/components/Shared/LabelDisplay.js
  compass/src/config/luigi-config/navigation.js
Due: none

Implement notifications, rework mutations
  compass/package.json
  compass/src/App.component.js
  compass/src/App.container.js
  compass/src/App.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.container.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.js
  compass/src/components/Runtimes/RuntimeList/RuntimeList.js
  compass/src/components/Runtimes/gql.js
  compass/src/gql.js
  compass/src/index.js
  compass/src/store/Notification/defaults.js
  compass/src/store/Notification/resolvers.js
  compass/src/store/defaults.js
  compass/src/store/index.js
  compass/src/store/resolvers.js
Due: none

Fixes
  compass/src/App.component.js
Due: none

Review changes
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.container.js
Due: none

Review changes
  compass/src/components/Applications/CreateApplicationModal/labelsSchema.js
  compass/src/components/Shared/JSONEditor.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
Due: none

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/
