Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/

Add copying luigi-core to build folder
  compass/package-lock.json
  compass/package.json
  compass/public/luigi-core/0072d92bfeaf57f02de04342d06a3463.woff2
  compass/public/luigi-core/15d69c7c6c46af899033b881f0786328.woff2
  compass/public/luigi-core/1abad19983bc369ee086769a8d503050.ttf
  compass/public/luigi-core/1e678655fe64a8a126dd51619f22edde.woff
  compass/public/luigi-core/1f13fc6d938b5cda6bde9229f722ea8c.woff
  compass/public/luigi-core/2bf8d215e6d4ac1b622728c4d2f06d4a.ttf
  compass/public/luigi-core/317cde33cde273c643e2f4bfe788eefe.ttf
  compass/public/luigi-core/3ab665b6d2fbcc13822abf07520f3972.ttf
  compass/public/luigi-core/48cb3e07e7e509d6c81c420507d7916b.woff
  compass/public/luigi-core/56af1d33fbd8bf1d80afd53f3f1d01ca.woff2
  compass/public/luigi-core/7f6c7cb94c0d8088b023553d46a64e07.woff2
  compass/public/luigi-core/85e09d643e5d4b5f98c3aaf365bd1c02.woff2
  compass/public/luigi-core/909707d4c2808b374157094c2950925e.woff
  compass/public/luigi-core/9b4487708ef140ace9dbc396a39bbf44.woff
  compass/public/luigi-core/README.md
  compass/public/luigi-core/a055c920fa3948666fc4412d72aa94f3.ttf
  compass/public/luigi-core/ab363ac31002ac1293658c71a84eef29.woff
  compass/public/luigi-core/auth/oauth2/callback.html
  compass/public/luigi-core/auth/oidc/oidc-client.min.js
  compass/public/luigi-core/auth/oidc/silent-callback.html
  compass/public/luigi-core/c1ba0da78d7f6586cf5b00d5ef5eb806.woff
  compass/public/luigi-core/c58be3ff685e0c820c8438bbf1579351.ttf
  compass/public/luigi-core/c5f39800983eb3eb97ed2ba72a5be4b7.woff
  compass/public/luigi-core/e2f76695560366054ce11dc7efc046fd.ttf
  compass/public/luigi-core/luigi.css
  compass/public/luigi-core/luigi.js
  compass/public/luigi-core/package.json
Due: pre-master-console-compass, post-master-console-compass, console-governance

Modify docker image to include webpack configuration
  compass/Dockerfile
Due: pre-master-console-compass, post-master-console-compass

handle default tenant
  compass/src/config/config.js
  compass/src/config/luigi-config/helpers/navigation-helpers.js
Due: pre-master-console-compass, post-master-console-compass

Changes after review, add notifications
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationScenarioModal.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationScenarioDisplay/ApplicationScenarioDisplay.js
  compass/src/components/Application/gql.js
  compass/src/components/Shared/AssignScenarioModal/AssignScenarioModal.component.js
  compass/src/components/Shared/AssignScenarioModal/style.scss
Due: pre-master-console-compass, post-master-console-compass

Adjust nginx conf to support reloading
  compass/nginx.conf
Due: pre-master-console-compass, post-master-console-compass

Modify URLs for luigi resources
  compass/public/luigi-index.html
Due: pre-master-console-compass, post-master-console-compass

Add confirmation
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.component.js
Due: pre-master-console-compass, post-master-console-compass

do not generate uuid if tenant is already a uuid
  compass/package-lock.json
  compass/package.json
  compass/src/commons/builder.js
Due: pre-master-console-compass, post-master-console-compass

fix linter
  compass/src/commons/builder.js
Due: pre-master-console-compass, post-master-console-compass

Update styled-components
  catalog/package-lock.json
  catalog/package.json
  components/react-odata/package.json
  components/react/config/buildGlobalStyles.js
  components/react/package-lock.json
  components/react/package.json
  components/react/src/components/ThemeWrapper/index.js
  instances/package-lock.json
  instances/package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

update instances
  instances/package-lock.json
  instances/package.json
Due: none

update package versions
  add-ons/package-lock.json
  add-ons/package.json
  brokers/package-lock.json
  brokers/package.json
  catalog/package-lock.json
  compass/package-lock.json
  compass/package.json
  components/react-odata/package-lock.json
  components/react-odata/package.json
  components/react/package.json
  components/react/src/components/ThemeWrapper/index.js
  content/package-lock.json
  content/package.json
  instances/package-lock.json
Due: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Two publics
  compass/.gitignore
  compass/Dockerfile
  compass/nginx.conf
  compass/package.json
  compass/public-luigi/compass-logo.png
  compass/public-luigi/config.js
  compass/public-luigi/favicon.ico
  compass/public-luigi/index.html
  compass/public/config.js
  compass/public/config/config.js
  compass/public/index.html
  compass/src/store/index.js
  compass/webpack-generateConfig.config.js
  components/react/package-lock.json
  content/package-lock.json
  scripts/prepare-react-components.sh
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

config/config
  compass/public-luigi/config/config.js
  compass/public-luigi/index.html
  compass/public/config/config.js
  compass/public/index.html
Due: pre-master-console-compass, post-master-console-compass

revert package-locks
  components/react/package-lock.json
  content/package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

remove config
  compass/src/config/config.js
  compass/src/store/index.js
Due: pre-master-console-compass, post-master-console-compass

Fix links
  .github/pull-request-template.md
  tests/README.md
Due: console-governance, pre-master-console-tests, post-master-console-tests

Fix some tests
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.spec.ts
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.spec.ts
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.ts
Due: pre-master-console-core, post-master-console-core

Display API URL instead of URL
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-header-renderer/api-definition-header-renderer.component.html
Due: pre-master-console-core, post-master-console-core

Update package-lock
  core/package-lock.json
Due: pre-master-console-core, post-master-console-core

Fix audit vulnerabilities
  compass/package-lock.json
  components/angular/generic-list/package-lock.json
  components/react/package-lock.json
  content/package-lock.json
  core/package-lock.json
  core/package.json
  lambda/package-lock.json
  lambda/package.json
  logging/package-lock.json
  logging/package.json
  tests/package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Extract api link to new component and use in missing places
  core/src/app/app.module.ts
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.spec.ts
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-header-renderer/filtered-apis-header-renderer.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.ts
  core/src/app/shared/components/url-link/url-link.component.html
  core/src/app/shared/components/url-link/url-link.component.ts
  core/src/app/shared/services/generic-helpers.service.spec.ts
  core/src/app/shared/services/generic-helpers.service.ts
Due: pre-master-console-core, post-master-console-core

Prettier
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.ts
  core/src/app/shared/components/url-link/url-link.component.ts
  core/src/app/shared/services/generic-helpers.service.spec.ts
  core/src/app/shared/services/generic-helpers.service.ts
Due: pre-master-console-core, post-master-console-core

unfocus test
  core/src/app/shared/services/generic-helpers.service.spec.ts
Due: pre-master-console-core, post-master-console-core

schema -> scheme
  core/src/app/shared/services/generic-helpers.service.spec.ts
  core/src/app/shared/services/generic-helpers.service.ts
Due: pre-master-console-core, post-master-console-core

Adjust AddonsConfiguration mutations
  add-ons/src/services/Mutations.service.ts
Due: none

Show all values in dropdown when proper values is selected
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.html
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.ts
Due: pre-master-console-core, post-master-console-core

Simplify filter dependencies
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.ts
Due: pre-master-console-core, post-master-console-core

change angular devkit dev dependency version
  catalog/package-lock.json
  components/react-odata/package-lock.json
  content/package-lock.json
  core/package-lock.json
  instances/package-lock.json
  lambda/package-lock.json
  logging/package-lock.json
  logging/package.json
Due: pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Add runtime scenario modal
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarioModal.container.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarios.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarios.container.js
  compass/src/components/Runtimes/gql.js
  compass/src/components/Shared/AssignScenarioModal/AssignScenarioModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Create filterAllOnSelected directive
  core/src/app/app.module.ts
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.html
  core/src/app/shared/directives/filter-all-on-selected/filter-all-on-selected.directive.ts
Due: pre-master-console-core, post-master-console-core

Use new directive in bind application modal
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.html
Due: pre-master-console-core, post-master-console-core

Explain why it's so ugly
  core/src/app/shared/directives/filter-all-on-selected/filter-all-on-selected.directive.ts
Due: pre-master-console-core, post-master-console-core

Separate assign scenario to modal and form
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationScenarioModal.container.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/CredentialsForm.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarioModal.container.js
  compass/src/components/Shared/AssignScenario/AssignScenarioForm.component.js
  compass/src/components/Shared/AssignScenario/AssignScenarioForm.container.js
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.component.js
  compass/src/components/Shared/AssignScenario/style.scss
  compass/src/components/Shared/AssignScenarioModal/AssignScenarioModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Remove governance.Jenkinsfile entry
  CODEOWNERS
Due: none

Refactor credentials form
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/APICreationHelper.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/CredentialForms/OAuthCredentialsForm.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/CredentialsForm.js
Due: pre-master-console-compass, post-master-console-compass

Revert credentials form change
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/Forms/CredentialsForm.js
Due: pre-master-console-compass, post-master-console-compass

Add error handling
  core/src/app/shared/directives/filter-all-on-selected/filter-all-on-selected.directive.ts
Due: pre-master-console-core, post-master-console-core

Fix
  core/src/app/shared/directives/filter-all-on-selected/filter-all-on-selected.directive.ts
Due: pre-master-console-core, post-master-console-core
