Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Cleanup, move modal and EMPTY_TEXT_PLACEHOLDER const to shared folder, fix compass needle name
  compass/public/compass-needle.png
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.component.js
  compass/src/components/Scenarios/ScenarioDetails/shared/AssignEntityToScenarioModal/AssignEntityToScenarioModal.component.js
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.component.js
  compass/src/shared/components/Modal/Modal.js
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/shared/constants.js
  shared/components/Labels/Labels.js
  shared/constants/constants.js
  shared/index.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui

Review changes
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update README.md
  components/angular/generic-list/README.md
Due: console-governance

Update README.md
  service-catalog-ui/README.md
Due: console-governance

Fix bugs
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.js
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui

display installed/notinstalled status
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Change notifications
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
  core-ui/src/components/Applications/BoundNamespacesList/BoundNamespacesList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix create app from template modal with broken onclick
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.js
  compass/src/shared/components/Modal/Modal.js
Due: pre-master-console-compass, post-master-console-compass

fetch tenants via compass api
  compass/package-lock.json
  compass/package.json
  compass/public-luigi/config/config.js
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

fetch tenants via compass api
  compass/src/ApolloClientProvider.js
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Add tests
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
  core-ui/src/components/Applications/BindNamespaceModal/test/BindNamespaceModal.test.js
  core-ui/src/components/Applications/BindNamespaceModal/test/mocks.js
  core-ui/src/components/Applications/BoundNamespacesList/test/BoundNamespacesList.test.js
  core-ui/src/components/Applications/BoundNamespacesList/test/mocks.js
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Sort app statuses
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.scss
  core-ui/src/components/Applications/ApplicationList/test/ApplicationList.test.js
  core-ui/src/components/Applications/RegisterApplication/RegisterApplicationForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Redirect to details on create, fix breadcrumbs
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/RegisterApplication/RegisterApplicationForm.js
  shared/components/DetailsError/DetailsError.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Additional tests, small fix
  core-ui/src/components/Applications/BoundNamespacesList/test/BoundNamespacesList.test.js
  core-ui/src/components/Applications/RegisterApplication/RegisterApplicationForm.js
  shared/components/DetailsError/test/DetailsError.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

fetch tenants via compass api
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Add list and create views
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Apis/ApiHelpers.js
  core-ui/src/components/Apis/ApiList/ApiList.js
  core-ui/src/components/Apis/CreateApiForm/CreateApiForm.js
  core-ui/src/components/Apis/CreateEventForm/CreateEventForm.js
  core-ui/src/components/Apis/EventApiList/EventApiList.js
  core-ui/src/components/Apis/Forms/ApiEditorForm.js
  core-ui/src/components/Apis/Forms/ApiForm.js
  core-ui/src/components/Apis/Forms/CredentialForms/CredentialsForm.js
  core-ui/src/components/Apis/Forms/CredentialForms/OAuthCredentialsForm.js
  core-ui/src/components/Apis/Forms/EventApiForm.js
  core-ui/src/components/Apis/Forms/TextFormItem.js
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationDetails/test/ApplicationDetails.test.js
  core-ui/src/components/Applications/ApplicationDetails/test/mocks.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
  shared/components/Dropdown/Dropdown.js
  shared/components/Dropdown/Dropdown.scss
  shared/components/FileInput/FileInput.js
  shared/components/FileInput/FileInput.scss
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

wip
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.component.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.test.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/mock.js
  compass/src/components/Application/gql.js
  components/react/package-lock.json
  core/package-lock.json
  lambda/package-lock.json
  logging/package-lock.json
  package-lock.json
  shared/package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

wip
  components/react/package-lock.json
  core/package-lock.json
  lambda/package-lock.json
  logging/package-lock.json
  package-lock.json
  shared/package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

wip
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Due: pre-master-console-compass, post-master-console-compass

wip
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Fix namespaces list
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update BindNamespaceModal.test.js
  core-ui/src/components/Applications/BindNamespaceModal/test/BindNamespaceModal.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix compass tests
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Due: pre-master-console-compass, post-master-console-compass

Fix kyma ststauses
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/ApplicationList/test/ApplicationList.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix merge
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Support for legacy connecot URL
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.component.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.test.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/mock.js
  compass/src/components/Application/gql.js
Due: pre-master-console-compass, post-master-console-compass

Add Api details
  core-ui/src/components/Apis/ApiDetails/ApiDetails.js
  core-ui/src/components/App/App.js
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix imports
  core-ui/src/components/Apis/ApiDetails/ApiDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add connect button to app details
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/ConnectApplicationModal/ConnectApplicationModal.js
  core-ui/src/components/Applications/ConnectApplicationModal/test/ConnectApplicationModal.test.js
  core-ui/src/components/Applications/ConnectApplicationModal/test/mock.js
  core-ui/src/gql/mutations.js
Due: pre-master-console-core-ui, post-master-console-core-ui

code review
  compass/src/ApolloClientProvider.js
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Rename tokenInput to rawEncodedInput in tests
  core-ui/src/components/Applications/ConnectApplicationModal/test/ConnectApplicationModal.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

code review
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Unify status badges
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Apply filter by labels in api rules view in core-ui
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix mocks
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/mocks.js
  core-ui/src/components/ApiRules/CreateApiRule/test/mocks.js
  core-ui/src/components/ApiRules/EditApiRule/test/mocks.js
  core-ui/src/components/ApiRules/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add edit
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Apis/ApiDetails/ApiDetails.js
  core-ui/src/components/Apis/CreateApiForm/CreateApiForm.js
  core-ui/src/components/Apis/EditApi/EditApi.js
  core-ui/src/components/Apis/EditApi/EditApi.scss
  core-ui/src/components/Apis/EditApiHeader/EditApiHeader.js
  core-ui/src/components/Apis/EditEventApi/EditEventApi.js
  core-ui/src/components/Apis/EditEventApi/EditEventApi.scss
  core-ui/src/components/Apis/Forms/ApiEditorForm.js
  core-ui/src/components/App/App.js
  core-ui/src/gql/mutations.js
  core/package-lock.json
  shared/components/ResourceNotFound/ResourceNotFound.js
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
