Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/

Revert changes in common makefile
  scripts/makefile-node-common.mk
Due: none

fix build image target
  tests/Makefile
Due: pre-master-console-tests, post-master-console-tests

Use unsafe-perm in catalog install
  service-catalog-ui/package.json
Due: pre-master-console-whitesource-scan

Use unsafe-perm in catalog Dockerfile
  service-catalog-ui/Dockerfile
Due: none

Add ARG to catalog, cleanup
  service-catalog-ui/Dockerfile
Due: none

Readd tests
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Bring back local install script
  service-catalog-ui/package.json
Due: pre-master-console-whitesource-scan

Exit on login failure
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Fix deployments test, add const for default namespace
  tests/config.js
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Use "services" as default tab
  components/react/src/commons/instances-tab-utils.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content

Allow custom properties when creating service instance
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  shared/components/Link/Link.js
Due: none

Improve modal
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/catalog/src/shared/ModalWithForm/ModalWithForm.js
Due: none

Persist instance parameters modal
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
Due: none

Show no permissions page in case user get 401 unauthorized response
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/navigation-helpers.js
  core/src/nopermissions.html
Due: pre-master-console-core, post-master-console-core

Review fixes
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.scss
Due: none

remove unnecessary comment
  logging/Dockerfile
Due: pre-master-console-logging, post-master-console-logging

Swap services with add-ons
  components/react/src/commons/instances-tab-utils.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/catalog/src/variables.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesList.js
  service-catalog-ui/instances/src/variables.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content

Fix tests
  components/react/src/components/Tabs/index.js
  service-catalog-ui/catalog/src/components/ServiceClassList/test/ServiceClassList.test.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/test/ServiceInstancesList.test.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content

rename applications to applications/systems
  core/src/app/content/settings/applications/applications.component.ts
Due: pre-master-console-core, post-master-console-core

Make test pass
  logging/src/components/CompactHeader/test/CompactHeader.test.js
  logging/src/components/CompactHeader/test/__snapshots__/CompactHeader.test.js.snap
  logging/src/components/Header/test/Header.test.js
  logging/src/components/Header/test/__snapshots__/Header.test.js.snap
  logging/src/components/Logs/test/Logs.test.js
  logging/src/components/Logs/test/__snapshots__/Logs.test.js.snap
  logging/src/components/Shared/AdvancedSettings/test/AdvancedSettings.test.js
  logging/src/components/Shared/AdvancedSettings/test/__snapshots__/AdvancedSettings.test.js.snap
  logging/src/components/Shared/ResultsOptionsDropdown/ResultsOptionsDropdown.js
  logging/src/components/Shared/ResultsOptionsDropdown/test/ResultOptionsDropdown.test.js
  logging/src/components/Shared/ResultsOptionsDropdown/test/__snapshots__/ResultOptionsDropdown.test.js.snap
  logging/src/components/Shared/SelectDropdown/test/SelectDropdown.test.js
  logging/src/components/Shared/SelectDropdown/test/__snapshots__/SelectDropdown.test.js.snap
  logging/src/setupTests.js
Due: pre-master-console-logging, post-master-console-logging

Reenable tests in Dockerfile
  logging/Dockerfile
Due: pre-master-console-logging, post-master-console-logging

add new CRA
  package-lock.json
  package.json
  service-catalog-ui/public/favicon.ico
  service-catalog-ui/public/index.html
  service-catalog-ui/public/logo192.png
  service-catalog-ui/public/logo512.png
  service-catalog-ui/public/manifest.json
  service-catalog-ui/public/robots.txt
  service-catalog-ui/src/App.css
  service-catalog-ui/src/App.js
  service-catalog-ui/src/App.test.js
  service-catalog-ui/src/index.css
  service-catalog-ui/src/index.js
  service-catalog-ui/src/logo.svg
  service-catalog-ui/src/serviceWorker.js
  service-catalog-ui/src/setupTests.js
Due: pre-master-console-whitesource-scan

add proper "start" command
  service-catalog-ui/package.json
Due: pre-master-console-whitesource-scan

remove dirty stuff & add react-shared link
  service-catalog-ui/public/config/config.js
  service-catalog-ui/public/favicon.ico
  service-catalog-ui/public/index.html
  service-catalog-ui/public/logo192.png
  service-catalog-ui/public/logo512.png
  service-catalog-ui/public/robots.txt
  service-catalog-ui/src/react-shared
Due: none

update setClusterConfig.sh
  scripts/setClusterConfig.sh
Due: none

update app list in lerna.json and gulpfile
  gulpfile.js
  lerna.json
Due: none

add HOST env when starting SC
  service-catalog-ui/package.json
Due: pre-master-console-whitesource-scan

set react-related stuff versions to fixed
  package-lock.json
  package.json
Due: pre-master-console-whitesource-scan

serviceClassList works
  service-catalog-ui/src/components/App/App.js
Due: none

Check if handleServiceBindingUsageEvent and handleServiceBindingEvent match instance name
  service-catalog-ui/instances/src/store/ServiceInstances/events.js
Due: none

Disable tests
  service-catalog-ui/package.json
Due: pre-master-console-whitesource-scan

service details almost work
  service-catalog-ui/src/components/App/App.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.container.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.scss
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/mutations.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/queries.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/styled.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/test/gqlMocks.js
  service-catalog-ui/src/components/ServiceClassDetails/ProvisionOnlyOnceInfo/ProvisionOnlyOnceInfo.component.js
  service-catalog-ui/src/components/ServiceClassDetails/ProvisionOnlyOnceInfo/styled.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDescription/ServiceClassDescription.component.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDescription/styled.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetails.scss
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetailsHeader/styled.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInfo/styled.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInstancesTable/ServiceClassInstancesTable.component.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInstancesTable/styled.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassTabs/styled.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassToolbar/ServiceClassToolbar.component.js
  service-catalog-ui/src/components/ServiceClassDetails/queries.js
  service-catalog-ui/src/components/ServiceClassDetails/styled.js
  service-catalog-ui/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  shared/components/ModalWithForm/ModalWithForm.js
  shared/components/ModalWithForm/test/ModalWithForm.test.js
  shared/components/ModalWithForm/test/__snapshots__/ModalWithForm.test.js.snap
  shared/index.js
Due: none

fix ModalWithForm export
  shared/components/ModalWithForm/ModalWithForm.js
Due: none

add index.scss with common rules
  service-catalog-ui/src/index.js
  service-catalog-ui/src/index.scss
Due: none

add ServicePlanList
  service-catalog-ui/src/components/App/App.js
  service-catalog-ui/src/components/ServiceClassPlansList/ServiceClassPlansList.js
  service-catalog-ui/src/components/ServiceClassPlansList/ServiceClassPlansList.scss
  service-catalog-ui/src/components/ServiceClassPlansList/queries.js
  service-catalog-ui/src/components/ServiceClassPlansList/test/ServiceClassPlansList.test.js
Due: none

Bump https-proxy-agent from 2.2.2 to 2.2.4
  core/package-lock.json
Due: pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

Bump https-proxy-agent in /components/angular/generic-list
  components/angular/generic-list/package-lock.json
Due: pre-master-console-whitesource-scan

Bump acorn
  components/angular/generic-list/package-lock.json
  core/package-lock.json
  package-lock.json
  shared/package-lock.json
Due: pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan
