Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  console-tests: any of: ^tests/

Remove luigi client dependency from react components lib (#43)
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  components/react/package-lock.json
  components/react/package.json
  components/react/src/components/Modal/Confirmation/index.js
  components/react/src/components/Modal/Information/index.js
  components/react/src/components/Modal/index.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/DeleteBindingModal/DeleteBindingModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/SecretDataModal/SecretDataModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceToolbar/ServiceInstanceToolbar.component.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
Due: none

Adjust labels to be more usable
  core/src/app/content/environments/operation/abstract-kubernetes-entry-renderer.component.ts
  core/src/app/content/environments/operation/graphql-data-provider.ts
  core/src/app/content/environments/operation/services/service-details/service-details.component.html
  core/src/app/content/settings/remote-environments/create-remote-environment-modal/create-remote-environment-modal.component.ts
  core/src/app/content/settings/remote-environments/edit-remote-environment-modal/edit-remote-environment-modal.component.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
  core/src/app/shared/components/labels-input/labels-input.component.spec.ts
  core/src/app/shared/components/labels-input/labels-input.component.ts
  core/src/app/shared/datamodel/k8s/generic/dashboard-meta-data-owner.ts
  core/src/app/shared/datamodel/k8s/generic/meta-data-owner.ts
  core/src/styles/overrides.scss
  lambda/package-lock.json
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/shared/datamodel/k8s/generic/meta-data-owner.ts
  lambda/src/styles/overrides.scss
Due: console-core

Fix tests after changes
  core/src/app/content/settings/remote-environments/create-remote-environment-modal/create-remote-environment-modal.component.spec.ts
  core/src/app/content/settings/remote-environments/edit-remote-environment-modal/edit-remote-environment-modal.component.spec.ts
Due: console-core

fixed service details edit backdrop issue (#44)
  core/src/app/content/environments/operation/services/service-details/service-details.component.html
  core/src/app/content/environments/operation/services/service-details/service-details.component.scss
Due: console-core

Stablilize ui tests (#45)
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/docs-ui-test.js
  tests/ui-tests/utils/address.js
  tests/ui-tests/utils/testContext.js
Due: console-tests

can not -> cannot
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.html
  core/src/app/content/settings/remote-environments/create-remote-environment-modal/create-remote-environment-modal.component.html
Due: console-core

can not -> cannot (#46)
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.html
  core/src/app/content/settings/remote-environments/create-remote-environment-modal/create-remote-environment-modal.component.html
Due: console-core

use second parameter of this.create in CreateCredentialsModal
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
Due: none

Make Credentials Form dissapear after succesful submit
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
Due: none

Upgrade to Luigi 0.4.3 and reduce waiting times in ui test (#47)
  core/package-lock.json
  core/package.json
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/console-basic-test.js
Due: console-core, console-tests

Pull from master (#48)
  brokers/Jenkinsfile
  catalog/Jenkinsfile
  content/Jenkinsfile
  core/Jenkinsfile
  governance.Jenkinsfile
  instances/Jenkinsfile
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  lambda/Jenkinsfile
  lambda/src/app/app.config.ts
  lambda/src/app/service-binding-usages/service-binding-usages.service.spec.ts
  lambda/src/app/service-binding-usages/service-binding-usages.service.ts
  lambda/src/app/service-bindings/service-bindings.service.spec.ts
  orchestrator.Jenkinsfile
  tests/Jenkinsfile
Due: prow/console/brokers, console-core, console-tests

waitFor to stabilize tests (#49)
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/docs-ui-test.js
Due: console-tests

fix tests for slow network conditions
  tests/ui-tests/commands/common.js
  tests/ui-tests/commands/console.js
  tests/ui-tests/config.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/docs-ui-test.js
  tests/ui-tests/tests/lambda-ui-test.js
  tests/ui-tests/utils/testContext.js
  tests/ui-tests/utils/waitForNavigationAndContext.js
Due: console-tests

remove unnecessary dex availibility check
  tests/ui-tests/commands/common.js
  tests/ui-tests/config.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/docs-ui-test.js
  tests/ui-tests/tests/lambda-ui-test.js
  tests/ui-tests/utils/testContext.js
  tests/ui-tests/utils/testIfWebResourceAvailable.js
Due: console-tests

remove unnecessary dependency
  tests/package.json
Due: console-tests

dont open devtools
  tests/ui-tests/utils/testContext.js
Due: console-tests

Adjust labels to be more usable (#446)
  core/src/app/content/environments/operation/abstract-kubernetes-entry-renderer.component.ts
  core/src/app/content/environments/operation/graphql-data-provider.ts
  core/src/app/content/environments/operation/services/service-details/service-details.component.html
  core/src/app/content/settings/remote-environments/create-remote-environment-modal/create-remote-environment-modal.component.spec.ts
  core/src/app/content/settings/remote-environments/create-remote-environment-modal/create-remote-environment-modal.component.ts
  core/src/app/content/settings/remote-environments/edit-remote-environment-modal/edit-remote-environment-modal.component.spec.ts
  core/src/app/content/settings/remote-environments/edit-remote-environment-modal/edit-remote-environment-modal.component.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
  core/src/app/shared/components/labels-input/labels-input.component.spec.ts
  core/src/app/shared/components/labels-input/labels-input.component.ts
  core/src/app/shared/datamodel/k8s/generic/dashboard-meta-data-owner.ts
  core/src/app/shared/datamodel/k8s/generic/meta-data-owner.ts
  core/src/styles/overrides.scss
  lambda/package-lock.json
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/shared/datamodel/k8s/generic/meta-data-owner.ts
  lambda/src/styles/overrides.scss
Due: console-core

Add link to grafana lambda dashboard
  lambda/src/app/app.config.ts
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.html
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.ts
  lambda/src/app/lambdas/list/lambdas-header-renderer/lambdas-header-renderer.component.html
  lambda/src/assets/external.svg
Due: none

Fix really long events list
  lambda/src/app/lambdas/lambda-details/event-trigger-chooser/event-trigger-chooser.component.html
  lambda/src/app/lambdas/lambda-details/event-trigger-chooser/event-trigger-chooser.component.scss
  lambda/src/app/lambdas/lambda-details/event-trigger-chooser/event-trigger-chooser.component.ts
Due: none

Changes after code review
  tests/ui-tests/commands/common.js
  tests/ui-tests/tests/console-basic-test.js
Due: console-tests

Add icons for nodes and categories
  core/src/assets/luigi-config.js
Due: console-core

Stabilize ui tests for variable network conditions (#461)
  tests/package.json
  tests/ui-tests/commands/common.js
  tests/ui-tests/commands/console.js
  tests/ui-tests/config.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/docs-ui-test.js
  tests/ui-tests/tests/lambda-ui-test.js
  tests/ui-tests/utils/testContext.js
  tests/ui-tests/utils/testIfWebResourceAvailable.js
  tests/ui-tests/utils/waitForNavigationAndContext.js
Due: console-tests

Fix really long events list (#464)
  lambda/src/app/lambdas/lambda-details/event-trigger-chooser/event-trigger-chooser.component.html
  lambda/src/app/lambdas/lambda-details/event-trigger-chooser/event-trigger-chooser.component.scss
  lambda/src/app/lambdas/lambda-details/event-trigger-chooser/event-trigger-chooser.component.ts
Due: none

Add link to grafana lambda dashboard (#454)
  lambda/src/app/app.config.ts
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.html
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.ts
  lambda/src/app/lambdas/list/lambdas-header-renderer/lambdas-header-renderer.component.html
  lambda/src/assets/external.svg
Due: none

disable cache in ui tests
  tests/ui-tests/commands/common.js
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/docs-ui-test.js
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

disable cache in ui tests (#466)
  tests/ui-tests/commands/common.js
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/docs-ui-test.js
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

Fix UI tests after changing labels
  tests/ui-tests/commands/console.js
Due: console-tests

Fix UI tests after changing labels (#468)
  tests/ui-tests/commands/console.js
Due: console-tests

Start of refactor
  content/src/App.css
  content/src/App.js
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/DocsContent/DocsProcessor.js
  content/src/components/DocsContent/queries.js
  content/src/components/DocsContent/styled.js
  content/src/components/Main/MainPage.component.js
  content/src/components/Main/MainPage.container.js
  content/src/components/Main/queries.js
  content/src/components/Main/styled.js
  content/src/components/Nav/LeftNavigation/LeftNavigation.js
  content/src/components/Nav/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Nav/LeftNavigation/NavigationList/NavigationList.js
  content/src/components/Nav/LeftNavigation/NavigationList/NavigationSections.js
  content/src/components/Nav/LeftNavigation/NavigationList/styled.js
  content/src/components/Nav/LeftNavigation/styled.js
  content/src/components/Nav/RightNavigation/RightNavigation.js
  content/src/components/Nav/ScrollSpy/ScrollSpy.js
  content/src/index.js
Due: none

Add scrollSpy
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/DocsContent/mutations.js
  content/src/components/Main/MainPage.component.js
  content/src/components/Main/MainPage.container.js
  content/src/components/Main/queries.js
  content/src/components/Nav/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Nav/LeftNavigation/NavigationList/NavigationList.js
  content/src/components/Nav/LeftNavigation/NavigationList/NavigationSections.js
  content/src/components/Nav/ScrollSpy/ScrollSpy.component.js
  content/src/components/Nav/ScrollSpy/ScrollSpy.container.js
  content/src/components/Nav/ScrollSpy/queries.js
  content/src/store/ContentWrapper/defaults.js
  content/src/store/ContentWrapper/resolvers.js
  content/src/store/DocsContent/defaults.js
  content/src/store/DocsContent/resolvers.js
  content/src/store/defaults.js
  content/src/store/index.js
  content/src/store/resolvers.js
Due: none

Add scrollSpy functionality to navigation
  content/src/App.js
  content/src/commons/helpers.js
  content/src/commons/variables.js
  content/src/components/ColumnsWrapper/ColumnsWrapper.component.js
  content/src/components/ContentWrapper/ContentWrapper.component.js
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/DocsContent/styled.js
  content/src/components/Main/MainPage.component.js
  content/src/components/Main/MainPage.container.js
  content/src/components/Main/styled.js
  content/src/components/MainPage/MainPage.component.js
  content/src/components/Nav/LeftNavigation/LeftNavigation.js
  content/src/components/Nav/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Nav/LeftNavigation/NavigationList/NavigationList.js
  content/src/components/Nav/LeftNavigation/NavigationList/NavigationSections.js
  content/src/components/Nav/LeftNavigation/NavigationList/styled.js
  content/src/components/Nav/ScrollSpy/ScrollSpy.js
Due: none

Add scrollSpy functionality
  brokers/package-lock.json
  catalog/package-lock.json
  content/package-lock.json
  content/src/App.js
  content/src/components/ContentWrapper/ContentWrapper.component.js
  content/src/components/ContentWrapper/ContentWrapper.container.js
  content/src/components/ContentWrapper/queries.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/DocsContent/DocsProcessor.js
  content/src/components/DocsContent/styled.js
  content/src/components/Main/MainPage.component.js
  content/src/components/Main/MainPage.container.js
  content/src/components/Main/queries.js
  content/src/components/MainPage/MainPage.component.js
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
  content/src/components/MainPage/styled.js
  content/src/components/Navigation/LeftNavigation/LeftNavigation.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationSections.js
  content/src/components/Navigation/LeftNavigation/NavigationList/styled.js
  content/src/components/Navigation/LeftNavigation/styled.js
  content/src/components/Navigation/NavigationList.component.js
  content/src/components/Navigation/RightNavigation/RightNavigation.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.container.js
  content/src/components/Navigation/ScrollSpy/queries.js
  core/src/assets/luigi-config.js
  instances/package-lock.json
Due: prow/console/brokers, console-core

Improve activeNav and activeContent logic
  content/src/components/MainPage/MainPage.component.js
Due: none

Improve few things
  content/src/components/DocsContent/DocsProcessor.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationSections.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
Due: none

Fix linking between different topics
  content/src/components/MainPage/MainPage.component.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
Due: none

Change headers id in documentation
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/DocsContent/DocsProcessor.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
Due: none

Add ids for tests
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationSections.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
Due: none

Set scrollSpy to 350 seconds
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
Due: none
