Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

take some space from status column to bound services column
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
  core/src/app/content/environments/operation/deployments/deployment-header-renderer/deployment-header-renderer.component.html
Due: console-core

Search done
  components/angular/generic-list/src/app/modules/list/list-search/list-search.component.html
  components/angular/generic-list/src/app/modules/list/list-search/list-search.component.scss
  components/angular/generic-list/src/app/modules/list/list-search/list-search.component.ts
Due: none

Fix Paging bug
  components/angular/generic-list/src/app/modules/list/paging/paging.component.html
Due: none

Update Search
  components/angular/generic-list/src/app/modules/list/list-search/list-search.component.ts
Due: none

added y-generic-list as local dependency, added to makefile #482
  components/angular/generic-list/package-lock.json
  components/angular/generic-list/publish.sh
  core/Makefile
  core/package-lock.json
  core/package.json
  lambda/Makefile
  lambda/package.json
  lerna.json
  package.json
Due: console-core

Link bound services in deployments table to its details page
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.ts
Due: console-core

Add also 'environments' to tsconfig paths
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.ts
  core/src/tsconfig.app.json
  core/src/tsconfig.spec.json
  core/tsconfig.json
  core/tslint.json
Due: console-core

readme updates, keep dist folder of generic-list to allow lerna linking before bundling
  components/angular/generic-list/README.md
  components/angular/generic-list/dist/.gitkeep
  components/angular/generic-list/ng-package.json
  components/angular/generic-list/package-lock.json
  components/angular/generic-list/package.json
  package.json
Due: console-governance

Rename "bound services" to "bound service instances"
  core/src/app/content/environments/operation/deployments/deployment-header-renderer/deployment-header-renderer.component.html
Due: console-core

Add cursor pointer to link to bound service instances
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.scss
Due: console-core

updated gitignore and set package to private
  components/angular/generic-list/.gitignore
  components/angular/generic-list/package.json
Due: none

Connect GenericList with Console
  components/angular/generic-list/package.json
  components/angular/generic-list/tsconfig.json
  lerna.json
Due: none

Disable paging if there's only one page
  components/angular/generic-list/src/app/modules/list/paging/paging.component.html
Due: none

Use typeScript for subscription
  lambda/src/app/app.config.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/shared/datamodel/k8s/subscription.ts
  lambda/src/app/subscriptions/subscriptions.service.ts
Due: none

Apply backend modules data to deployments view (#503)
  core/src/app/app.module.ts
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.scss
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.spec.ts
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.ts
  core/src/app/content/environments/operation/deployments/deployment-header-renderer/deployment-header-renderer.component.html
  core/src/app/content/environments/operation/deployments/deployment-header-renderer/deployment-header-renderer.component.spec.ts
  core/src/app/content/environments/operation/deployments/deployment-header-renderer/deployment-header-renderer.component.ts
  core/src/app/shared/services/luigi-client.service.spec.ts
  core/src/app/shared/services/luigi-client.service.ts
  core/src/tsconfig.app.json
  core/src/tsconfig.spec.json
  core/tsconfig.json
  core/tslint.json
Due: console-core

Rename environments to namespaces in ui-api-layer under application domain
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-binding-service.ts
  lambda/src/app/event-activations/event-activations.service.ts
Due: console-core

Rename it also in the tests
  lambda/src/app/event-activations/event-activations.service.spec.ts
Due: none

add johannesdoberer to codeowners list (#494)
  CODEOWNERS
Due: none

Mitigate err::NETWORK_CHANGED error + additinal timeout fixes
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/docs-ui-test.js
Due: console-tests

Mitigate err::NETWORK_CHANGED error + additinal timeout fixes (#507)
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/docs-ui-test.js
Due: console-tests

setting fixed version to prevent dependency issues
  core/package-lock.json
  core/package.json
Due: console-core

added generic-list install steps to core + lambda makefile
  components/angular/generic-list/package-lock.json
  core/Makefile
  lambda/Makefile
Due: console-core

Solve Core + GenericList error in other way
  components/angular/generic-list/tsconfig.json
  core/package.json
Due: console-core

Filter component part 1
  components/angular/generic-list/src/app/modules/list/list-filter/list-filter.component.html
  components/angular/generic-list/src/app/modules/list/list-filter/list-filter.component.scss
Due: none

Actions dropdown
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.html
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.scss
Due: none

Filter part 2
  components/angular/generic-list/src/app/modules/list/list-filter/list-filter.component.html
  components/angular/generic-list/src/app/modules/list/list-filter/list-filter.component.scss
Due: none

Fix the info displayed in html
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
Due: none

Fix the info displayed in html (#509)
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
Due: none

adjusted start:kyma command and updated package lock for lambda
  lambda/package-lock.json
  package.json
Due: none

Pass the subscription config option in lambdaUI config (#496)
  lambda/src/app/app.config.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/shared/datamodel/k8s/subscription.ts
  lambda/src/app/subscriptions/subscriptions.service.ts
Due: none

Change more names in queries
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-binding-service.ts
Due: console-core

Rename environments to namespaces in ui-api-layer under application domain (#506)
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-binding-service.ts
  lambda/src/app/event-activations/event-activations.service.spec.ts
  lambda/src/app/event-activations/event-activations.service.ts
Due: console-core

removed ng-packagr, updated readme
  components/angular/generic-list/.gitignore
  components/angular/generic-list/README.md
  components/angular/generic-list/dist/.gitkeep
  components/angular/generic-list/ng-package.json
  components/angular/generic-list/package.json
  lambda/angular.json
Due: console-governance

cleanup
  components/angular/generic-list/package.json
  core/Makefile
  core/package-lock.json
  core/package.json
  lambda/Makefile
  lambda/package-lock.json
  lerna.json
  package.json
Due: console-core

minor list-filter update
  components/angular/generic-list/src/app/modules/list/list-filter/list-filter.component.html
Due: none

Fiori ngx for details views (#498)
  core/src/app/content/environments/environment-details/environment-details.component.html
  core/src/app/content/environments/environment-details/environment-details.component.scss
  core/src/app/content/environments/environment-details/environment-details.component.ts
  core/src/app/content/settings/organisation/organisation.component.html
  core/src/app/content/settings/organisation/organisation.component.scss
Due: console-core

fix runtime errors
  core/src/assets/luigi-config.js
Due: console-core

fix runtime errors (#514)
  core/src/assets/luigi-config.js
Due: console-core

Environment details
  core/package-lock.json
  core/src/app/content/environments/environment-details/environment-details.component.html
  core/src/app/content/environments/environment-details/environment-details.component.scss
  core/src/app/content/environments/environment-details/environment-details.component.ts
Due: console-core

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  console-tests: any of: ^tests/
