Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Use classList::toggle
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Comment out randomly failing tests
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  core-ui/src/components/ApiRules/EditApiRule/test/EditApiRule.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix styles
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix typo
  UX_DOD_REQUIREMENTS.md
Due: console-governance

Improve host column
  core-ui/src/components/ApiRules/ApiRuleDetails/ApiRuleDetails.js
  shared/components/CopiableText/CopiableText.js
  shared/components/CopiableText/test/CopiableText.test.js
  shared/components/PageHeader/PageHeader.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove autopolling from catalog-ui
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/catalog/src/variables.js
Due: none

Remove autopolling from lambdas-ui
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsWrapper.js
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/shared/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Review fix
  UX_DOD_REQUIREMENTS.md
Due: console-governance

Move dod requirements to contributing document
  CONTRIBUTING.md
  UX_DOD_REQUIREMENTS.md
Due: console-governance

fix prompt command
  scripts/setClusterConfig.sh
Due: none

generate trigger names
  lambda/package-lock.json
  lambda/package.json
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

clean up triggers upon lambda deletion
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
  lambda/src/app/triggers/triggers.service.ts
Due: none

fix injector in lambda component test
  lambda/src/app/lambdas/list/lambdas.component.spec.ts
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: console-governance

Remove old code
  tests/ui-tests/tests/console-basic-test.js
Due: pre-master-console-tests, post-master-console-tests

Introduce experimental category on cluster level
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core

set provider name as optional
  compass/src/components/Application/ApplicationDetails/UpdateApplicationForm/UpdateApplicationForm.component.js
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
Due: pre-master-console-compass, post-master-console-compass

fix
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Add CreateApplicationFromTemplateModal
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Applications/Applications.scss
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.js
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.scss
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.scss
  compass/src/components/Applications/CreateApplicationModal/styles.scss
  compass/src/components/Applications/gql.js
  shared/components/GenericList/SearchInput.js
Due: pre-master-console-compass, post-master-console-compass

Change allow all to noop auth
  core-ui/src/components/ApiRules/AccessStrategy/AccessStrategy.js
  core-ui/src/components/ApiRules/AccessStrategy/test/AccessStrategy.test.js
  core-ui/src/components/ApiRules/ApiRuleDetails/test/ApiRuleDetails.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/ApiRuleForm.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/mocks.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/test/mocks.js
  core-ui/src/components/ApiRules/EditApiRule/test/mocks.js
  core-ui/src/testing/queriesMocks.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove old methods from an array
  core-ui/src/components/ApiRules/AccessStrategy/AccessStrategy.js
Due: pre-master-console-core-ui, post-master-console-core-ui

add header to ngnix
  logging/nginx.conf
Due: pre-master-console-logging, post-master-console-logging

Add view in CoreUI
  core-ui/src/components/App/App.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Add Strict-Transport-Security to fetch
  logging/src/services/httpService.js
Due: pre-master-console-logging, post-master-console-logging

no message
  logging/nginx.conf
Due: pre-master-console-logging, post-master-console-logging

remove header from ngnix
  logging/nginx.conf
Due: pre-master-console-logging, post-master-console-logging

Update docs-component styles
  components/generic-documentation/src/render-engines/open-api/styles/index.ts
Due: none

update those damn styles
  components/generic-documentation/src/render-engines/open-api/styles/index.ts
Due: none

comment
  service-catalog-ui/catalog/src/components/App/App.js
Due: none

uncomment
  components/generic-documentation/src/render-engines/open-api/styles/index.ts
Due: none

update to have new image
  components/generic-documentation/src/render-engines/open-api/styles/index.ts
Due: none

update some file to trigger creating image
  service-catalog-ui/catalog/src/apollo.js
  service-catalog-ui/catalog/src/components/App/App.js
Due: none

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
