Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/

Accessibilty for buttons
  add-ons/src/components/AddonPanel/AddonPanel.tsx
  add-ons/src/components/AddonPanel/RepositoryTableSegment/RepositoryTableSegment.tsx
  add-ons/src/components/CollapsiblePanel/CollapsiblePanel.tsx
  add-ons/src/components/Modals/DeleteConfigurationModal/DeleteConfigurationModal.component.tsx
  add-ons/src/components/Modals/DeleteUrlModal/DeleteUrlModal.component.tsx
  compass/src/components/ApiPackages/ApiPackageDetails/ApiList/ApiList.js
  compass/src/components/ApiPackages/ApiPackageDetails/EventList/EventList.js
  compass/src/components/Application/ApplicationDetails/ApplicationApiPackages/ApplicationApiPackages.js
  components/angular/generic-list/src/app/modules/list/list-search/list-search.component.html
  content/src/components/NavigationGroup.tsx
  content/src/components/styled.ts
  core-ui/src/components/ApiPackages/ApiPackageDetails/ApiList/ApiList.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/EventList/EventList.js
  core-ui/src/components/ApiRules/ApiRuleDetails/ApiRuleDetails.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleFormHeader/ApiRuleFormHeader.js
  core-ui/src/components/ApiRules/ApiRules.js
  core-ui/src/components/Apis/ApiList/ApiList.js
  core-ui/src/components/Apis/ApplicationApiPackages/ApplicationApiPackages.js
  core-ui/src/components/Apis/EventApiList/EventApiList.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaStatusCard.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.js
  core-ui/src/components/Lambdas/LambdasList/LambdasList.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
  logging/src/components/Shared/LabelsDisplay/LabelsDisplay.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/src/components/ServiceClassList/Cards/Card.component.js
  service-catalog-ui/src/components/ServiceClassPlansList/ServiceClassPlansList.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/styled.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/styled.js
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/SearchInput.js
  shared/components/GenericList/test/GenericList.test.js
  shared/components/ModalWithForm/ModalWithForm.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-content, post-master-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-logging, post-master-console-logging

Upgrade logging snapshots
  logging/src/components/Shared/AdvancedSettings/test/__snapshots__/AdvancedSettings.test.js.snap
  logging/src/components/Shared/LabelsDisplay/test/__snapshots__/LabelsDisplay.test.js.snap
Due: pre-master-console-logging, post-master-console-logging

Upgrade addons snapshots
  add-ons/src/components/CollapsiblePanel/test/__snapshots__/CollapsiblePanel.test.tsx.snap
  shared/components/GenericList/test/GenericList.test.js
Due: pre-console-core-ui, post-console-core-ui

Update base image for core-ui
  core-ui/Dockerfile
Due: pre-console-core-ui, post-console-core-ui

Rewrite service details to React
  core-ui/src/components/App/App.js
  core-ui/src/components/Services/ServiceDetails/ServiceApiRules/ApiRuleStatus.js
  core-ui/src/components/Services/ServiceDetails/ServiceApiRules/ServiceApiRules.js
  core-ui/src/components/Services/ServiceDetails/ServiceApiRules/test/ApiRuleStatus.test.js
  core-ui/src/components/Services/ServiceDetails/ServiceApiRules/test/ServiceApiRules.test.js
  core-ui/src/components/Services/ServiceDetails/ServiceApiRules/test/mocks.js
  core-ui/src/components/Services/ServiceDetails/ServiceDetails.js
  core-ui/src/components/Services/ServiceDetails/ServiceDetailsHeader/ServiceDetailsHeader.js
  core-ui/src/components/Services/ServiceDetails/ServiceDetailsHeader/test/ServiceDetailsHeader.test.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
  core-ui/src/shared/components/ResourceSpecModal/ResourceSpecModal.js
  core-ui/src/shared/components/ResourceSpecModal/test/ResourceSpecModal.test.js
  core/src/app/app.module.ts
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.scss
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.spec.ts
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.ts
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.service.ts
  core/src/app/content/namespaces/operation/services/service-details/service-api-rules/gql.ts
  core/src/app/content/namespaces/operation/services/service-details/service-api-rules/service-api-rules.component.html
  core/src/app/content/namespaces/operation/services/service-details/service-api-rules/service-api-rules.component.ts
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.html
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.scss
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.ts
  core/src/app/navigation/app-routing.module.ts
  core/src/luigi-config/navigation/static-navigation-model.js
  shared/components/JSONEditor/JSONEditor.js
  shared/components/Labels/Labels.js
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

Update ServiceDetailsHeader.js
  core-ui/src/components/Services/ServiceDetails/ServiceDetailsHeader/ServiceDetailsHeader.js
Due: pre-console-core-ui, post-console-core-ui

Add JSON validation to ResourceSpecModal
  core-ui/src/shared/components/ResourceSpecModal/ResourceSpecModal.js
Due: pre-console-core-ui, post-console-core-ui

Remove api-related components from core
  core/src/app/app.module.ts
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/api-definition-header-renderer/api-definition-header-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-header-renderer/api-definition-header-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/apis.component.html
  core/src/app/content/namespaces/configuration/apis/apis.component.ts
  core/src/app/navigation/app-routing.module.ts
Due: pre-master-console-core, post-master-console-core

Use new Luigi version
  core-ui/src/components/Services/ServiceDetails/ServiceApiRules/ServiceApiRules.js
  core-ui/src/components/Services/ServiceDetails/ServiceApiRules/test/ServiceApiRules.test.js
Due: pre-console-core-ui, post-console-core-ui

Disable caching on API_RULES_FOR_SERVICE, fix a typo
  core-ui/src/components/Services/ServiceDetails/ServiceApiRules/ServiceApiRules.js
Due: pre-console-core-ui, post-console-core-ui

DAMMIT
  core-ui/src/components/Services/ServiceDetails/ServiceApiRules/ServiceApiRules.js
Due: pre-console-core-ui, post-console-core-ui

review changes
  shared/components/GenericList/test/GenericList.test.js
  shared/components/ModalWithForm/ModalWithForm.js
Due: pre-console-core-ui, post-console-core-ui

Fix tests
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

WIP
  core-ui/src/gql/queries.js
Due: pre-console-core-ui, post-console-core-ui

WIP
  core-ui/src/components/ApiRules/AccessStrategy/test/AccessStrategy.test.js
  core-ui/src/components/ApiRules/ApiRuleDetails/ApiRuleDetails.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/ApiRuleForm.test.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/test/mocks.js
  core-ui/src/components/ApiRules/EditApiRule/test/mocks.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
  core-ui/src/testing/queriesMocks.js
Due: pre-console-core-ui, post-console-core-ui

Tests fix WIP
  core-ui/src/components/ApiRules/ApiRuleDetails/test/ApiRuleDetails.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/test/JwtDetails.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/ApiRuleForm.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/mocks.js
  core-ui/src/components/ApiRules/EditApiRule/test/EditApiRule.test.js
  core-ui/src/components/ApiRules/EditApiRule/test/mocks.js
  core-ui/src/gql/queries.js
Due: pre-console-core-ui, post-console-core-ui

Fix UI
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/EditApiRule/EditApiRule.js
Due: pre-console-core-ui, post-console-core-ui

Align backdrop color with luigi
  add-ons/src/index.scss
  add-ons/src/index.tsx
  core-ui/src/index.scss
  core/src/styles.scss
  service-catalog-ui/src/index.scss
Due: pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core

Fix missing logout label in profile dropdown
  compass/src/config/luigi-config/navigation.js
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core, post-master-console-core

Fix APIRule tests
  core-ui/src/components/ApiRules/ApiRuleDetails/test/ApiRuleDetails.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/ApiRuleForm.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/mocks.js
  core-ui/src/components/ApiRules/CreateApiRule/test/mocks.js
  core-ui/src/components/ApiRules/EditApiRule/test/mocks.js
Due: pre-console-core-ui, post-console-core-ui

Align backdrop color with luigi - compass
  compass/src/App.scss
Due: pre-master-console-compass, post-master-console-compass

fix tenant list styles
  compass/src/config/luigi-config/helpers/navigation-helpers.js
Due: pre-master-console-compass, post-master-console-compass

update Luigi to 1.2.3
  compass/package.json
  core/package.json
  package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

update package-locks
  compass/package-lock.json
  core/package-lock.json
  package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

move EventTriggers component to core-ui/shared
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/EventTriggersWrapper.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/misc/index.js
  core-ui/src/shared/components/EventTriggers/CreateEventTriggerForm.js
  core-ui/src/shared/components/EventTriggers/CreateEventTriggerForm.scss
  core-ui/src/shared/components/EventTriggers/CreateEventTriggerModal.js
  core-ui/src/shared/components/EventTriggers/EventTriggers.js
  core-ui/src/shared/components/EventTriggers/Schema/Atomics.js
  core-ui/src/shared/components/EventTriggers/Schema/CodeComponent.js
  core-ui/src/shared/components/EventTriggers/Schema/Schema.js
  core-ui/src/shared/components/EventTriggers/Schema/Schema.scss
  core-ui/src/shared/components/EventTriggers/Schema/SchemaExample.js
  core-ui/src/shared/components/EventTriggers/Schema/SchemaProperties.js
  core-ui/src/shared/components/EventTriggers/Schema/Table.js
  core-ui/src/shared/components/EventTriggers/test/CreateEventTriggerModal.test.js
  core-ui/src/shared/constants.js
  core-ui/src/shared/helpers/bemClasses.js
  core-ui/src/shared/helpers/index.js
  core-ui/src/shared/helpers/searchForObject.js
Due: pre-console-core-ui, post-console-core-ui

fix some tests
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/test/EventTriggersWrapper.test.js
  core-ui/src/shared/components/EventTriggers/test/CreateEventTriggerModal.test.js
Due: pre-console-core-ui, post-console-core-ui

disable initial validity check in ModalWithForm (RISKY!!!)
  shared/components/ModalWithForm/ModalWithForm.js
Due: pre-console-core-ui, post-console-core-ui

add new functionality to ModalWithForm
  shared/components/ModalWithForm/ModalWithForm.js
Due: pre-console-core-ui, post-console-core-ui

extract the non-generic functionality out of EventTriggers component
  core-ui/src/shared/components/EventTriggers/CreateEventTriggerForm.js
  core-ui/src/shared/components/EventTriggers/EventTriggers.js
Due: pre-console-core-ui, post-console-core-ui

fix tests
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/test/ConfigurationTab.test.js
  core-ui/src/shared/components/EventTriggers/test/CreateEventTriggerModal.test.js
  core-ui/src/shared/helpers/tests/bemClasses.test.js
  core-ui/src/shared/helpers/tests/searchForObject.test.js
Due: pre-console-core-ui, post-console-core-ui

remove duplicate tests
  core-ui/src/components/Lambdas/helpers/misc/test/bemClasses.test.js
  core-ui/src/components/Lambdas/helpers/misc/test/searchForObject.test.js
Due: pre-console-core-ui, post-console-core-ui

Add resource generation check, adjust api rules in service view
  core-ui/src/components/ApiRules/ApiRuleDetails/ApiRuleDetails.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/Services/ServiceDetails/ServiceApiRules/ApiRuleStatus.js
  core-ui/src/components/Services/ServiceDetails/ServiceApiRules/ServiceApiRules.js
  core-ui/src/components/Services/ServiceDetails/ServiceApiRules/test/mocks.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
Due: pre-console-core-ui, post-console-core-ui

add eventTriggersWrapper for service
  core-ui/src/components/Services/ServiceDetails/EventTriggers/EventTriggersWrapper.js
  core-ui/src/components/Services/ServiceDetails/EventTriggers/test/EventTriggersWrapper.test.js
  core-ui/src/components/Services/ServiceDetails/ServiceDetails.js
Due: pre-console-core-ui, post-console-core-ui

add event triggers query (not working)
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateManyEventTriggers.js
  core-ui/src/components/Services/ServiceDetails/EventTriggers/EventTriggersWrapper.js
Due: pre-console-core-ui, post-console-core-ui

Fix double underlines
  compass/src/App.scss
  components/react/package-lock.json
  core-ui/src/index.scss
  package-lock.json
  service-catalog-ui/src/index.scss
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-whitesource-scan

support adding triggers
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateManyEventTriggers.js
  core-ui/src/components/Lambdas/helpers/eventTriggers/createOwnerRef.js
  core-ui/src/components/Services/ServiceDetails/EventTriggers/EventTriggersWrapper.js
  core-ui/src/gql/queries.js
Due: pre-console-core-ui, post-console-core-ui

add support for 'delete' mutation. Refetch query after both mutations.
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateManyEventTriggers.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useDeleteEventTrigger.js
  core-ui/src/components/Lambdas/helpers/eventTriggers/createOwnerRef.js
  core-ui/src/components/Services/ServiceDetails/EventTriggers/EventTriggersWrapper.js
  core-ui/src/components/Services/constants.js
  core-ui/src/shared/components/EventTriggers/EventTriggers.js
Due: pre-console-core-ui, post-console-core-ui

repair Lambda-specific code after changes
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/EventTriggersWrapper.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/eventTriggers/createOwnerRef.js
  core-ui/src/components/Lambdas/helpers/eventTriggers/index.js
  core-ui/src/components/Lambdas/helpers/eventTriggers/test/createOwnerRef.test.js
  core-ui/src/components/Services/ServiceDetails/EventTriggers/EventTriggersWrapper.js
  core-ui/src/shared/constants.js
Due: pre-console-core-ui, post-console-core-ui

fix delete hook test
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/EventTriggers/EventTriggersWrapper.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useDeleteEventTrigger.test.js
  core-ui/src/components/Lambdas/helpers/testing/mockData.js
Due: pre-console-core-ui, post-console-core-ui
