Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

post-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Remove instance tests
  tests/ui-tests/commands/catalog.js
  tests/ui-tests/tests/catalog-ui-test.js
Due: pre-master-console-tests, post-master-console-tests

Create real function
  core-ui/src/components/Lambdas/CreateLambdaForm/CreateLambdaForm.js
  core-ui/src/gql/mutations.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix
  core-ui/src/components/Lambdas/CreateLambdaForm/CreateLambdaForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add lambas list view
  core-ui/package.json
  core-ui/src/components/App/App.js
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
  core-ui/src/index.css
  core-ui/src/shared/components/GenericList/GenericList.js
  core-ui/src/shared/components/GenericList/SearchInput.js
  core-ui/src/shared/components/GenericList/actionHandlers/simpleDelete.js
  core-ui/src/shared/components/GenericList/helpers.js
  core-ui/src/shared/components/GenericList/internalRenderers.js
  core-ui/src/shared/components/GenericList/style.scss
  core-ui/src/shared/components/GenericList/test/GenericList.test.js
  core-ui/src/shared/components/GenericList/test/__snapshots__/GenericList.test.js.snap
  core-ui/src/shared/components/GenericList/test/__snapshots__/internalRenderers.test.js.snap
  core-ui/src/shared/components/GenericList/test/internalRenderers.test.js
  core-ui/src/shared/components/GenericList/test/mock.js
  core-ui/src/shared/components/StatusBadge/LambdaStatusBadge.js
  core-ui/src/shared/components/StatusBadge/StatusBadge.js
  core-ui/src/shared/components/StatusBadge/test/StatusBadge.test.js
  core-ui/src/shared/components/StatusBadge/test/__snapshots__/StatusBadge.test.js.snap
  core-ui/src/shared/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add lambas list view
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/index.css
  core-ui/src/index.js
  core-ui/src/index.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Add lambas list view
  core-ui/src/index.css
  core-ui/src/index.js
  core-ui/src/index.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix proptypes and add tests
  core-ui/src/components/LabelSelectorInput/test/LabelSelectorInput.test.js
  core-ui/src/components/LabelSelectorInput/test/__snapshots__/LabelSelectorInput.test.js.snap
  core-ui/src/components/Lambdas/CreateLambdaForm/CreateLambdaForm.js
  core-ui/src/components/Lambdas/CreateLambdaForm/test/CreateLambdaForm.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix path to fundamental-styles
  core-ui/src/index.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Change tests
  core-ui/src/components/Lambdas/CreateLambdaForm/test/CreateLambdaForm.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use showSystemNamespaces
  core-ui/src/components/NamespaceList/storage.js
  core-ui/src/index.js
  core/src/app/content/settings/organisation/organisation.component.html
  core/src/app/content/settings/organisation/organisation.component.ts
  core/src/app/shared/constants/constants.ts
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Fix Panel ::after issue
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.scss
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/__snapshots__/NamespaceListHeader.test.js.snap
Due: pre-master-console-core-ui, post-master-console-core-ui

Add gql test (draft)
  core-ui/src/components/LabelSelectorInput/test/LabelSelectorInput.test.js
  core-ui/src/components/Lambdas/CreateLambdaForm/test/CreateLambdaForm.test.js
  core-ui/src/components/Lambdas/CreateLambdaForm/test/gqlMocks.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  core-ui/src/contexts/notifications/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix status indicator for jobs
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespacesGrid.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove magic numbers
  core-ui/src/index.js
  core-ui/src/shared/constants.js
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Update package-locks
  components/react/package-lock.json
  core/package-lock.json
  lambda/package-lock.json
  logging/package-lock.json
  package-lock.json
  package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Add tests for gql
  core-ui/src/components/Lambdas/CreateLambdaForm/test/CreateLambdaForm.test.js
  core-ui/src/components/Lambdas/CreateLambdaForm/test/gqlMocks.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/__snapshots__/NamespaceDetailsCard.test.js.snap
Due: pre-master-console-core-ui, post-master-console-core-ui

Re-enable catalog tests
  tests/package.json
Due: pre-master-console-tests, post-master-console-tests

fix padding & styles hierarchy
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Change label field placeholder
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add preload to Core UI
  core-ui/src/commons/builder.js
  core-ui/src/components/App/App.js
  core-ui/src/index.js
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Add temporary details view
  core-ui/src/components/App/App.js
  core-ui/src/components/Lambdas/CreateLambdaForm/CreateLambdaForm.js
  core-ui/src/components/Lambdas/CreateLambdaForm/test/CreateLambdaForm.test.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix CustomPropTypes error
  core-ui/src/components/typechecking/CustomPropTypes.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Minor change
  core-ui/src/components/Lambdas/CreateLambdaForm/test/CreateLambdaForm.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Disable core and lambdas tests
  tests/package.json
Due: pre-master-console-tests, post-master-console-tests

Submit form on Enter press in Name field
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  core-ui/src/components/CreateNamespaceForm/K8sNameField.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add label on 'comma' press
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add red highlight to invalid form elements
  core-ui/src/components/ModalWithForm/ModalWithForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fixes and tests
  compass/src/App.scss
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/apollo.js
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/components/Lambdas/test/Lambdas.test.js
  core-ui/src/components/Lambdas/test/__snapshots__/Lambdas.test.js.snap
  core-ui/src/index.scss
  core-ui/src/shared/components/GenericList/GenericList.js
  core-ui/src/shared/components/StatusBadge/LambdaStatusBadge.js
  core-ui/src/shared/components/StatusBadge/test/StatusBadge.test.js
  core-ui/src/shared/components/StatusBadge/test/__snapshots__/StatusBadge.test.js.snap
  core-ui/src/testing/apollo.js
  core-ui/src/testing/index.js
  core-ui/src/testing/lambdaMocks.js
  core-ui/src/testing/queriesMocks.js
  logging/src/App.scss
  package-lock.json
  package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-logging, post-master-console-logging

Update CustomPropTypes.ref type
  core-ui/src/components/CreateNamespaceForm/K8sNameField.js
  core-ui/src/components/typechecking/CustomPropTypes.js
  core-ui/src/components/typechecking/test/CustomPropTypes.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Make memory fields aligned by input size
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Highlight invalid form elements
  core-ui/src/components/LabelSelectorInput/LabelSelectorInput.js
  core-ui/src/components/LabelSelectorInput/test/LabelSelectorInput.test.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

(TO BE REMOVED) - set showSystemNamespaces to false
  core-ui/src/components/NamespaceList/storage.js
Due: pre-master-console-core-ui, post-master-console-core-ui

fix problem after merge
  core-ui/src/components/ModalWithForm/ModalWithForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix
  core-ui/src/components/ModalWithForm/ModalWithForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Force remove ::after in header
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Fixes for Namespaces tests
  core-ui/src/components/CreateNamespaceForm/test/CreateNamespaceForm.test.js
  core-ui/src/components/typechecking/CustomPropTypes.js
  core-ui/src/components/typechecking/test/CustomPropTypes.test.js
  core-ui/src/shared/components/StatusBadge/StatusBadge.js
  package-lock.json
Due: pre-master-console-core-ui, post-master-console-core-ui

Changes in packages
  core-ui/package-lock.json
  core-ui/package.json
Due: pre-master-console-core-ui, post-master-console-core-ui

Update core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/components/Lambdas/Lambdas.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Improve the way of waiting for gql calls to be done in test
  core-ui/src/components/CreateNamespaceForm/test/CreateNamespaceForm.test.js
  core-ui/src/setupTests.js
Due: pre-master-console-core-ui, post-master-console-core-ui

set focus to Name field initially
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
