Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/

sadgasdgdfh
  scripts/load-cluster-config.sh
Due: none

Use updated mutation name
  compass/src/components/Applications/gql.js
Due: pre-master-console-compass, post-master-console-compass

asdgasdg
  scripts/load-cluster-config.sh
Due: none

adsgdga
  scripts/load-cluster-config.sh
Due: none

gfjdfkghk
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers

Revert "Remove obsolete lines from logging"
  logging/Dockerfile
  logging/Makefile
Due: pre-master-console-logging, post-master-console-logging

fddfsh
  service-catalog-ui/catalog/package.json
Due: none

dfgdsg
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers

Create UpdateApplicationModal
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/UpdateApplication/UpdateApplicationModal.component.js
  compass/src/components/Application/ApplicationDetails/UpdateApplication/UpdateApplicationModal.container.js
  compass/src/components/Application/ApplicationDetails/UpdateApplication/test/UpdateApplicationModal.test.js_
  compass/src/components/Application/gql.js
  compass/src/shared/utility/areArraysEqual.js
  compass/src/shared/utility/getActualChanges.js
  compass/src/shared/utility/index.js
Due: pre-master-console-compass, post-master-console-compass

Temporary get rid of filter
  service-catalog-ui/catalog/src/components/Main/Main.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassList.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassList.container.js
  service-catalog-ui/catalog/src/variables.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesList.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/searchUtils.js
Due: none

Copy scripts to service-catalog docker image
  service-catalog-ui/Dockerfile
Due: none

jgkkhj
  service-catalog-ui/Makefile
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers

gfhdfj
  service-catalog-ui/Makefile
Due: none

Make license-pulling sillent in service-catalog-ui
  service-catalog-ui/Makefile
Due: none

yrtiyt
  service-catalog-ui/Dockerfile
Due: none

dsfgdsfg
  service-catalog-ui/Makefile
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers

test editor
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/webpack.config.js
Due: pre-master-console-core-ui, post-master-console-core-ui

fdhdsfh
  service-catalog-ui/Makefile
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers

Import LuigiClient directly
  core-ui/src/components/Lambdas/CreateLambdaForm/CreateLambdaForm.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
Due: pre-master-console-core-ui, post-master-console-core-ui

add generated config.js files to priettierignore
  .prettierignore
Due: none

hgfjdgj
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers

Add fallback if scenarios are not defined
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Use different editor
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use real data to update the code
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix pre-selected tab
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix remembered pre-selected tab, fix cleaned pre-filled lambda code if empty
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add hooks
  service-catalog-ui/catalog/package-lock.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/catalog/src/components/App/App.component.js
  service-catalog-ui/catalog/src/components/App/App.container.js
  service-catalog-ui/catalog/src/components/Main/Main.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.container.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.container.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Cards.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassList.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassToolbar/FilterDropdown.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassToolbar/SearchDropdown.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassToolbar/ServiceClassToolbar.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassToolbar/styled.js
  service-catalog-ui/catalog/src/components/ServiceClassList/queries.js
  service-catalog-ui/catalog/src/components/ServiceClassList/styled.js
  service-catalog-ui/catalog/src/index.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/searchUtils.js
Due: none

adfsgadsg
  service-catalog-ui/Dockerfile
  service-catalog-ui/Makefile
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers

ghfjgfhj
  service-catalog-ui/Makefile
Due: none

ghjghj
  service-catalog-ui/Makefile
Due: none

dfsghfgj
  service-catalog-ui/catalog/package.json
Due: none

dsfgsdfg
  service-catalog-ui/Makefile
Due: none

Add bash
  service-catalog-ui/Dockerfile
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers

fhgjdfgfdh
  scripts/load-cluster-config.sh
  service-catalog-ui/Dockerfile
  service-catalog-ui/catalog/package.json
Due: none

add load-cluster-config to pre-build-docker image
  scripts/pre-build-docker-image.sh
  service-catalog-ui/Dockerfile
  service-catalog-ui/Makefile
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers

Bring back bash
  service-catalog-ui/Dockerfile
  service-catalog-ui/Makefile
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers

fix links
  add-ons/README.md
  content/README.md
  core-ui/README.md
  service-catalog-ui/brokers/README.md
  service-catalog-ui/catalog/README.md
  service-catalog-ui/instances/README.md
Due: prow/console/brokers, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui

Use bash in other microfrontends
  add-ons/Dockerfile
  add-ons/Makefile
  add-ons/package.json
  logging/Dockerfile
  logging/Makefile
  logging/package.json
  scripts/load-cluster-config.sh
Due: pre-master-console-logging, post-master-console-logging

fhgfgdhfd
  add-ons/package.json
  core/package.json
  lambda/package.json
  logging/package.json
  scripts/load-cluster-config.sh
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Add bash to Core and Lambda
  core/Dockerfile
  lambda/Dockerfile
Due: pre-master-console-core, post-master-console-core
