Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/

Change apiVersion and kind for trigger's subscriber in functions view
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/eventTriggers/createSubscriberRef.js
  core-ui/src/components/Lambdas/helpers/eventTriggers/test/createSubscriberRef.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Move triggerSubcriber const to config file
  core-ui/src/components/Lambdas/config.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useCreateManyEventTriggers.test.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateManyEventTriggers.js
  core-ui/src/components/Lambdas/helpers/eventTriggers/test/createSubscriberRef.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix types
  core-ui/src/components/Lambdas/helpers/eventTriggers/createSubscriberRef.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Move containers names for logging to config
  core-ui/src/components/Lambdas/config.js
  core-ui/src/components/Lambdas/helpers/misc/useLogsView.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Revert deploymentContainer name
  core-ui/src/components/Lambdas/config.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Support logql expressions
  logging/src/components/Shared/QueryInput/QueryInput.js
Due: pre-master-console-logging, post-master-console-logging

Fix bug with disabled dowload in iframe
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core

change StatusBadge API
  shared/components/StatusBadge/StatusBadge.js
  shared/components/StatusBadge/StatusBadge.scss
Due: none

fix Angular StatusLabel error
  core/src/app/shared/components/status-label/status-label.component.ts
Due: pre-master-console-core, post-master-console-core

change StatusBadge usage on addons
  add-ons/src/components/AddonPanel/AddonPanel.tsx
  add-ons/src/components/AddonPanel/RepositoryTableSegment/RepositoryTableSegment.tsx
Due: none

Update StatusBadge usages in core-ui
  core-ui/src/components/ApiPackages/ApiPackageDetails/AuthList/AuthList.js
  core-ui/src/components/Applications/ApplicationStatus/ApplicationStatus.js
  core-ui/src/components/Lambdas/LambdasList/LambdasList.js
  shared/components/StatusBadge/StatusBadge.js
Due: pre-master-console-core-ui, post-master-console-core-ui

change api usage in Compass
  compass/src/components/ApiPackages/ApiPackageDetails/AuthList/AuthList.js
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetailsHeader/RuntimeDetailsHeader.component.js
  compass/src/components/Runtimes/Runtimes.js
Due: pre-master-console-compass, post-master-console-compass

change api usage in service-catalog
  service-catalog-ui/src/components/ServiceBrokers/ServiceBrokers.component.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInstancesTable/ServiceClassInstancesTable.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceRowRenderer.js
Due: none

Readd tests for StatusBadge
  shared/components/StatusBadge/StatusBadge.js
  shared/components/StatusBadge/test/StatusBadge.test.js
  shared/components/StatusBadge/test/__snapshots__/StatusBadge.test.js.snap
Due: none

Fix warning message
  shared/components/StatusBadge/StatusBadge.js
  shared/components/StatusBadge/test/__snapshots__/StatusBadge.test.js.snap
Due: none

rename Tooltip prop in lambada
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Improve dataIdFromObject in core-ui gql clients
  core-ui/src/apollo.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Min replicas set to 1
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/shared.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/test/ResourceManagement.test.js
  core-ui/src/components/Lambdas/config.js
  core-ui/src/components/Lambdas/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

update the regex
  logging/src/components/Shared/QueryInput/QueryInput.js
Due: pre-master-console-logging, post-master-console-logging

fix linter error
  logging/src/components/Shared/QueryInput/QueryInput.js
Due: pre-master-console-logging, post-master-console-logging

remove tons of namespace-list related code from Core
  core/src/app/app.module.ts
  core/src/app/content/namespaces/namespace-create/namespace-create.component.html
  core/src/app/content/namespaces/namespace-create/namespace-create.component.scss
  core/src/app/content/namespaces/namespace-create/namespace-create.component.spec.ts
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
  core/src/app/content/workspace-overview/namespace-card/namespace-card.component.html
  core/src/app/content/workspace-overview/namespace-card/namespace-card.component.ts
  core/src/app/content/workspace-overview/workspace-overview/namespace-data-converter.ts
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.html
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.ts
  core/src/app/navigation/app-routing.module.ts
Due: pre-master-console-core, post-master-console-core

Fix regexp to match k8s naming conversion for create application
  core-ui/src/components/Applications/RegisterApplication/RegisterApplicationForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add proper handling for k8s label schema
  core/src/app/shared/components/labels-input/labels-input.component.spec.ts
  core/src/app/shared/components/labels-input/labels-input.component.ts
Due: pre-master-console-core, post-master-console-core

Review fixes
  core/src/app/shared/components/labels-input/labels-input.component.spec.ts
  core/src/app/shared/components/labels-input/labels-input.component.ts
Due: pre-master-console-core, post-master-console-core

Fix test
  core/src/app/shared/components/labels-input/labels-input.component.spec.ts
  core/src/app/shared/components/labels-input/labels-input.component.ts
Due: pre-master-console-core, post-master-console-core

add rotating progress bar
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
  core-ui/src/shared/components/CircleProgress/CircleProgress.js
  core-ui/src/shared/components/CircleProgress/CircleProgress.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

add inner part
  core-ui/src/shared/components/CircleProgress/CircleProgress.js
  core-ui/src/shared/components/CircleProgress/CircleProgress.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

add multiple colors
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
  core-ui/src/shared/components/CircleProgress/CircleProgress.js
  core-ui/src/shared/components/CircleProgress/CircleProgress.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

add propTypes
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
  core-ui/src/shared/components/CircleProgress/CircleProgress.js
  core-ui/src/shared/components/CircleProgress/CircleProgress.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove dropdown, fix jwks uri field
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/JwtDetails.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/JwtDetails.scss
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/test/JwtDetails.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

cleanup
  core-ui/src/shared/components/CircleProgress/CircleProgress.js
  core-ui/src/shared/components/CircleProgress/CircleProgress.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove unwanted border
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
  core-ui/src/shared/components/CircleProgress/CircleProgress.scss
  core-ui/src/shared/components/CircleProgress/test/CircleProgress.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

tweak some values
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
  core-ui/src/shared/components/CircleProgress/CircleProgress.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Update caniuse-lite and browserslist package
  components/generic-documentation/package-lock.json
  components/react/package-lock.json
  core/package-lock.json
  core/package.json
  package-lock.json
  shared/package-lock.json
  shared/package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

update
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/SingleVariableInput.js
  core-ui/src/components/Lambdas/config.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Rewrite namespace details view
  core-ui/src/components/App/App.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/DeployResourceModal.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/deployResourceHelpers.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/test/DeployResourceModal.test.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/test/deployResourceHelpers.test.js
  core-ui/src/components/NamespaceDetails/NamespaceApplications/NamespaceApplications.js
  core-ui/src/components/NamespaceDetails/NamespaceApplications/test/NamespaceApplications.test.js
  core-ui/src/components/NamespaceDetails/NamespaceApplications/test/mocks.js
  core-ui/src/components/NamespaceDetails/NamespaceDetails.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/EditNamespaceLabelsModal/EditNamespaceLabelsModal.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/EditNamespaceLabelsModal/test/EditNamespaceLabelsModal.test.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/EditNamespaceLabelsModal/test/mocks.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceDetailsHeader.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/test/NamespaceDetailsHeader.test.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/test/mocks.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
  core-ui/src/index.scss
  core/src/app/app.module.ts
  core/src/app/content/namespaces/namespace-details/namespace-details.component.html
  core/src/app/content/namespaces/namespace-details/namespace-details.component.scss
  core/src/app/content/namespaces/namespace-details/namespace-details.component.spec.ts
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
  core/src/app/content/namespaces/namespace-edit/namespace-edit.component.html
  core/src/app/content/namespaces/namespace-edit/namespace-edit.component.scss
  core/src/app/content/namespaces/namespace-edit/namespace-edit.component.spec.ts
  core/src/app/content/namespaces/namespace-edit/namespace-edit.component.ts
  core/src/app/navigation/app-routing.module.ts
  core/src/luigi-config/navigation/static-navigation-model.js
  shared/components/Modal/Modal.js
  shared/components/ModalWithForm/ModalWithForm.js
  shared/components/ModalWithForm/test/ModalWithForm.test.js
  shared/components/ModalWithForm/test/__snapshots__/ModalWithForm.test.js.snap
  shared/components/PageHeader/PageHeader.js
  shared/components/ResourceNotFound/ResourceNotFound.js
  shared/components/ResourceNotFound/test/ResourceNotFound.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

update tests
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/test/LambdaVariables.test.js
  core-ui/src/components/Lambdas/gql/hooks/queries/testMocks/useLambdasQuery.js
  core-ui/src/components/Lambdas/helpers/testing/mockData.js
Due: pre-master-console-core-ui, post-master-console-core-ui

add missing unit to grid template
  core-ui/src/shared/components/CircleProgress/CircleProgress.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove forgotten testing assignment
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceRowRenderer.js
Due: none
