Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Test
  content/Dockerfile
  content/nginx.conf
Due: pre-master-console-content, post-master-console-content

Test
  content/Dockerfile
Due: pre-master-console-content, post-master-console-content

Support preselected plan in CreateInstanceModal
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
Due: none

Test
  add-ons/Dockerfile
  compass/Dockerfile
  content/Dockerfile
  content/nginx.conf
  core-ui/Dockerfile
  logging/Dockerfile
  service-catalog-ui/Dockerfile
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-logging, post-master-console-logging

Update nginx conf
  add-ons/nginx.conf
  compass/nginx.conf
  content/nginx.conf
  core-ui/nginx.conf
  logging/nginx.conf
  service-catalog-ui/Dockerfile
  service-catalog-ui/nginx.conf
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-logging, post-master-console-logging

Test
  add-ons/Dockerfile
  add-ons/nginx.conf
Due: none

Test
  add-ons/Dockerfile
Due: none

Add error in case provided plan name is wrong
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
Due: none

Fix tests
  service-catalog-ui/catalog/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
Due: none

Add modal tests
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
Due: none

Test
  compass/Dockerfile
  compass/nginx.conf
  content/Dockerfile
  content/nginx.conf
  core-ui/Dockerfile
  core-ui/nginx.conf
  logging/Dockerfile
  logging/nginx.conf
  service-catalog-ui/Dockerfile
  service-catalog-ui/nginx.conf
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-logging, post-master-console-logging

Fix
  compass/Dockerfile
  content/Dockerfile
  core-ui/Dockerfile
  logging/Dockerfile
  service-catalog-ui/Dockerfile
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-logging, post-master-console-logging

Fix
  compass/nginx.conf
  content/nginx.conf
  core-ui/nginx.conf
  logging/nginx.conf
  service-catalog-ui/nginx.conf
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-logging, post-master-console-logging

Fix
  compass/Dockerfile
Due: pre-master-console-compass, post-master-console-compass

Add details page tests
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/catalog/src/testing/queriesMocks.js
  service-catalog-ui/catalog/src/testing/serviceClassesMocks.js
Due: none

Update configs
  add-ons/nginx.conf
  service-catalog-ui/nginx.conf
Due: none

Test
  compass/Dockerfile
Due: pre-master-console-compass, post-master-console-compass

Review changes
  service-catalog-ui/catalog/src/components/App/App.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Cards.component.js
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/ServiceClassPlansList.js
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/queries.js
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/test/ServiceClassPlansList.test.js
Due: none

Move nginx configs to console
  add-ons/Dockerfile
  add-ons/nginx.conf
  content/Dockerfile
  core-ui/Dockerfile
  logging/Dockerfile
  service-catalog-ui/Dockerfile
  service-catalog-ui/nginx.conf
Due: pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-logging, post-master-console-logging

Fix search on cluster
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassToolbar/styled.js
Due: none

review changes
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
Due: none

Changes after code review
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

debugger
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Allow listing instances if no documentation is provided
  components/generic-documentation/src/index.tsx
Due: none

Fix links
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesTable/ServiceInstancesTable.component.js
Due: none

Update functions view
  core-ui/src/components/Lambdas/CreateServiceBindingForm/CreateServiceBindingForm.js
  core-ui/src/components/Lambdas/CreateServiceBindingForm/test/CreateServiceBindingForm.test.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsWrapper.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/Configuration.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindingsService.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindingsWrapper.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/helpers.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindings.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindingsWrapper.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/__snapshots__/ServiceBindingsWrapper.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/gqlMocks.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/helpers.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/test/Configuration.ui.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/test/__snapshots__/Configuration.ui.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetails.ui.test.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetailsWrapper.ui.test.js
  core-ui/src/components/Lambdas/LambdaDetails/test/__snapshots__/LambdaDetailsWrapper.ui.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/test/gqlMocks.js
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/components/Lambdas/test/__snapshots__/Lambdas.test.js.snap
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix lint bugs
  core-ui/src/components/Lambdas/CreateServiceBindingForm/CreateServiceBindingForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindingsWrapper.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add icon to modal button
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesTable/ServiceInstancesTable.component.js
Due: none

Fix test
  service-catalog-ui/instances/src/components/ServiceInstancesList/test/ServiceInstancesList.test.js
Due: none

Add breadcrumbs to variants list, make instances tab to show specific plan instances
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/queries.js
Due: none

Update ServiceClassDetails tests
  service-catalog-ui/catalog/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
Due: none

Do not store auth data in webstorage
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core

sessionStorage
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core

Use documentation per plan
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/queries.js
Due: none

Add plan selector dropdown
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  service-catalog-ui/catalog/src/variables.js
Due: none

Dummy change
  package.json
Due: none

Sort plans by name in the dropdown
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
Due: none

set default cursor for GenericList table row
  shared/components/GenericList/GenericList.scss
Due: none

Sort plans on plan list; remove "name" header
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/ServiceClassPlansList.js
  shared/components/GenericList/GenericList.js
Due: none

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
