Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/

Fix test
  shared/components/StatusBadge/test/StatusBadge.test.js
Due: none

Fix the 'ReadOnly' flag handling in old Apllications view
  core/src/app/content/settings/applications/application-details/application-details.component.html
Due: pre-master-console-core, post-master-console-core

Let this long package float
  tests/jest-setup.js
  tests/ui-tests/config.js
Due: pre-master-console-tests, post-master-console-tests

Fix refetching query after namespace is bound
  core-ui/src/components/Apis/CreateApiForm/CreateApiForm.js
  core-ui/src/components/Apis/CreateEventForm/CreateEventForm.js
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
  core-ui/src/components/Applications/BoundNamespacesList/BoundNamespacesList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use value passed in microfrontend
  tests/ui-tests/config.js
  tests/ui-tests/tests/console-basic-test.js
Due: pre-master-console-tests, post-master-console-tests

remove unused import
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove unnecessary imports
  tests/ui-tests/tests/console-basic-test.js
Due: pre-master-console-tests, post-master-console-tests

Remove unncessary imports
  tests/ui-tests/tests/console-basic-test.js
Due: pre-master-console-tests, post-master-console-tests

Update console-basic-test.js
  tests/ui-tests/tests/console-basic-test.js
Due: pre-master-console-tests, post-master-console-tests

Add missing code piece
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add mock test
  tests/jest-setup.js
  tests/ui-tests/tests/console-basic-test.js
Due: pre-master-console-tests, post-master-console-tests

Small refactor to fix styles
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetailsHeader/RuntimeDetailsHeader.component.js
Due: pre-master-console-compass, post-master-console-compass

Remove mocked connected status from applications
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use describeIf
  tests/jest-setup.js
  tests/ui-tests/config.js
  tests/ui-tests/tests/console-basic-test.js
Due: pre-master-console-tests, post-master-console-tests

Filter MF visibility by adminsGroupName
  .clusterConfig.default
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/permissions.js
Due: pre-master-console-core, post-master-console-core

Beautify solution
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/permissions.js
Due: pre-master-console-core, post-master-console-core

fix backendModules assignment
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core

Update LuigiCore and use it to read auth data
  core/package-lock.json
  core/package.json
  core/src/luigi-config/permissions.js
Due: pre-master-console-core, post-master-console-core

Change casing of const
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/mocks.js
  core-ui/src/components/ApiRules/CreateApiRule/test/mocks.js
  core-ui/src/components/ApiRules/EditApiRule/test/mocks.js
  core-ui/src/components/ApiRules/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Import create application from template modal
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.js
  core-ui/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.scss
  core-ui/src/components/Applications/CreateApplicationFromTemplateModal/test/CreateApplicationFromTemplateModal.test.js
  core-ui/src/components/Applications/CreateApplicationFromTemplateModal/test/mocks.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  core-ui/src/components/ModalWithForm/test/__snapshots__/ModalWithForm.test.js.snap
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/__snapshots__/NamespaceListHeader.test.js.snap
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
  core-ui/src/index.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Display Kyma version in the footer
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/queries.js
Due: pre-master-console-core, post-master-console-core

Fix tests
  core-ui/src/components/Applications/CreateApplicationFromTemplateModal/test/CreateApplicationFromTemplateModal.test.js
  core-ui/src/components/Applications/CreateApplicationFromTemplateModal/test/mocks.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Store users data in session storage instead of local storage
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core

Update fd-react to newest non-breaking version
  core/package-lock.json
  lambda/package-lock.json
  logging/package-lock.json
  package-lock.json
  package.json
  shared/components/Dropdown/Dropdown.js
  shared/package.json
Due: pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Update snapshots
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/__snapshots__/NamespaceDetailsCard.test.js.snap
  core-ui/src/components/NamespaceList/NamespacesGrid/test/__snapshots__/NamespaceGrid.test.js.snap
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespaceFilters/test/__snapshots__/NamespaceFilters.test.js.snap
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/__snapshots__/NamespaceListHeader.test.js.snap
Due: pre-master-console-core-ui, post-master-console-core-ui

Add random string to test namespace name
  tests/ui-tests/config.js
  tests/ui-tests/setup/k8s-api/index.js
  tests/ui-tests/setup/k8s-api/k8s-api-namespace.js
  tests/ui-tests/tests/console-basic-test.js
Due: pre-master-console-tests, post-master-console-tests

Store users data in session storage instead of local storage in compass
  compass/public-luigi/index.html
  compass/src/config/luigi-config/auth.js
  compass/src/config/luigi-config/helpers/navigation-helpers.js
Due: pre-master-console-compass, post-master-console-compass

Remove failing snapshot tests, add TODOs
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/NamespaceDetailsCard.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/__snapshots__/NamespaceDetailsCard.test.js.snap
  core-ui/src/components/NamespaceList/NamespacesGrid/test/NamespaceGrid.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/test/__snapshots__/NamespaceGrid.test.js.snap
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespaceFilters/test/NamespaceFilters.test.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespaceFilters/test/__snapshots__/NamespaceFilters.test.js.snap
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/NamespaceListHeader.test.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/NamespaceListHeader.ui.test.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/__snapshots__/NamespaceListHeader.test.js.snap
Due: pre-master-console-core-ui, post-master-console-core-ui

Update node in compass docker image
  compass/Dockerfile
Due: pre-master-console-compass, post-master-console-compass

Update nginx in compass docker image
  compass/Dockerfile
Due: pre-master-console-compass, post-master-console-compass

Rewrite namespace tests
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/NamespaceDetailsCard.test.js
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/test/mocks.js
  core-ui/src/components/NamespaceList/NamespacesGrid/test/NamespaceGrid.test.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespaceFilters/NamespaceFilters.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespaceFilters/test/NamespaceFilters.test.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.scss
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/NamespaceListHeader.test.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/NamespaceListHeader.ui.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update node and nginx in all packages
  add-ons/Dockerfile
  content/Dockerfile
  core-ui/Dockerfile
  core/Dockerfile
  lambda/Dockerfile
  logging/Dockerfile
  service-catalog-ui/Dockerfile
Due: pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Unsmall namespace names
  core-ui/src/components/NamespaceList/NamespacesGrid/NamespaceDetailsCard/NamespaceDetailsCard.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update query
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/queries.js
Due: pre-master-console-core, post-master-console-core

Set random namespace name in a different place
  tests/ui-tests/commands/common.js
  tests/ui-tests/config.js
  tests/ui-tests/tests/console-basic-test.js
Due: pre-master-console-tests, post-master-console-tests

Unify compass API URL config key across core and compass charts
  compass/public-luigi/config/config.js
  compass/public/config/config.js
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  compass/src/store/index.js
Due: pre-master-console-compass, post-master-console-compass

change port to 81
  compass/Dockerfile
  compass/nginx.conf
Due: pre-master-console-compass, post-master-console-compass

Deprecate APIs nav node in favor of API Rules nav node
  core/src/app/content/settings/organisation/organisation.component.html
  core/src/app/content/settings/organisation/organisation.component.ts
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/microfrontend-converter.js
  core/src/luigi-config/navigation-helpers.js
Due: pre-master-console-core, post-master-console-core
