Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/

Upgrade to luigi 0.4.9 in console views
  content/package.json
  core/package.json
  lambda/package.json
Due: console-core

Hide kyma related view parts non env namespaces (#634)
  core/src/app/content/environments/environment-details/environment-details.component.html
  core/src/app/content/environments/environment-details/environment-details.component.spec.ts
  core/src/app/content/environments/environment-details/environment-details.component.ts
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.spec.ts
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.ts
  core/src/app/content/environments/operation/deployments/deployment-header-renderer/deployment-header-renderer.component.html
  core/src/app/content/environments/operation/deployments/deployment-header-renderer/deployment-header-renderer.component.spec.ts
  core/src/app/content/environments/operation/deployments/deployment-header-renderer/deployment-header-renderer.component.ts
  core/src/app/content/environments/operation/services/service-details/service-details.component.html
  core/src/app/content/environments/operation/services/service-details/service-details.component.ts
  core/src/luigi-config/luigi-config.js
Due: console-core

tets
  core/src/app/content/environments/environment-create/environment-create.component.ts
Due: console-core

563 apply fiori fundamentals phase 2 (part 2) (#66)
  core/src/app/app.component.html
  core/src/app/app.component.scss
  core/src/app/content/environments/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/environments/environment-details/environment-details.component.html
  core/src/app/content/environments/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/environments/operation/kubernetes-element-list-compact.component.html
  core/src/app/content/environments/operation/secrets/secret-detail/secret-detail.component.html
  core/src/app/content/environments/operation/secrets/secrets-entry-renderer/secrets-entry-renderer.component.html
  core/src/app/content/environments/operation/services/services-entry-renderer/services-entry-renderer.component.html
  core/src/app/content/environments/operation/services/services-header-renderer/services-header-renderer.component.html
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.html
  core/src/app/content/settings/remote-environments/create-remote-environment-modal/create-remote-environment-modal.component.html
  core/src/app/shared/components/permissions/bindings/bindings.component.html
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.html
  core/src/styles/fiori-fundamentals-overrides.scss
  core/src/styles/overrides.scss
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.html
  lambda/src/styles/fiori-fundamentals-overrides.scss
Due: console-core

Upgrade luigi 0.4.9 (#655)
  brokers/package-lock.json
  brokers/package.json
  catalog/package-lock.json
  catalog/package.json
  content/package-lock.json
  content/package.json
  core/package-lock.json
  core/package.json
  instances/package-lock.json
  instances/package.json
  lambda/package-lock.json
  lambda/package.json
Due: prow/console/brokers, console-core

remove default export/imports within project, delete yarn.lock
  components/react-odata/.gitignore
  components/react-odata/package.json
  components/react-odata/src/ODataReact.tsx
  components/react-odata/src/components/Table/MainDataTable/CollapsibleRow.tsx
  components/react-odata/src/components/Table/MainDataTable/HideableSubTable.tsx
  components/react-odata/src/components/Table/MainDataTable/Table.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/CollapsibleAnnotation.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/CollapsibleTable.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/ServiceDocumentationTable.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/SimpleTable.tsx
  components/react-odata/src/components/Table/TableContainer.tsx
  components/react-odata/src/index.tsx
  components/react-odata/src/tools/Transformer.ts
  components/react-odata/src/tools/V2V3toV4.ts
  components/react-odata/tslint.json
Due: none

add more tslint rules
  components/react-odata/tslint.json
Due: none

add concept of css handling
  components/react-odata/src/components/ErrorComponent/ErrorComponent.tsx
  components/react-odata/src/components/Table/MainDataTable/HideableSubTable.tsx
  components/react-odata/src/components/Table/MainDataTable/Table.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/CollapsibleTable.tsx
  components/react-odata/src/components/styled/styled.ts
  components/react-odata/src/index.tsx
  components/react-odata/src/theme/default.ts
  components/react-odata/src/theme/globalStyle.ts
  components/react-odata/src/theme/index.ts
  components/react-odata/src/theme/styled-components.ts
  components/react-odata/src/theme/types.ts
Due: none

move hooks to root of component, as react docs advice
  components/react-odata/src/components/Table/MainDataTable/Table.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/ServiceDocumentationTable.tsx
  components/react-odata/src/components/styled/styled.ts
  components/react-odata/src/theme/theme.ts
  components/react-odata/src/theme/types.ts
  components/react-odata/tslint.json
Due: none

change tslint rule and remove comment from globalStyle file
  components/react-odata/src/theme/globalStyle.ts
  components/react-odata/tslint.json
Due: none

introduce fiori fundamentals and fund-react, change "open button" to fiori icon
  components/react-odata/package.json
  components/react-odata/src/ODataReact.tsx
  components/react-odata/src/components/Table/MainDataTable/CollapsibleRow.tsx
  components/react-odata/src/components/Table/MainDataTable/Table.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/CollapsibleAnnotation.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/CollapsibleTable.tsx
  components/react-odata/src/components/Table/ServiceDocumentationTable/ServiceDocumentationTable.tsx
  components/react-odata/src/components/styled/styled.ts
  components/react-odata/src/index.tsx
  components/react-odata/src/react-app-env.d.ts
Due: none

Styling odata
  components/react-odata/package.json
  scripts/prepare-react-odata.sh
Due: none

Fixes
  catalog/package.json
  instances/package.json
Due: none

Update fixed versions for fundamental-ngx and fiori fundamentals (#67)
  core/package-lock.json
  core/package.json
  core/src/app/shared/components/json-editor-modal/json-editor-modal.component.html
  core/src/styles/fiori-fundamentals-overrides.scss
  lambda/package-lock.json
  lambda/package.json
  lambda/src/app/lambdas/lambda-details/event-trigger-chooser/event-trigger-chooser.component.html
  lambda/src/app/lambdas/lambda-details/http-trigger/http-trigger.component.html
  lambda/src/app/lambdas/lambda-details/lambda-details.component.html
  lambda/src/styles/fiori-fundamentals-overrides.scss
Due: console-core

fix ui tests (#69)
  tests/ui-tests/tests/console-basic-test.js
Due: console-tests

fix ui tests (#70)
  tests/ui-tests/tests/console-basic-test.js
Due: console-tests

Code review fix
  core/src/app/content/environments/environment-create/environment-create.component.ts
Due: console-core

Information modal with an error message is not shown on creating new namespace (#656)
  core/src/app/content/environments/environment-create/environment-create.component.ts
Due: console-core

Use luigi 0.4.10 (#71)
  core/package-lock.json
  core/package.json
Due: console-core

remove unwanted changes - package.json
  brokers/package.json
  catalog/package.json
  content/package.json
Due: prow/console/brokers

remove unwanted changes - package-lock.json
  brokers/package-lock.json
  catalog/package-lock.json
  content/package-lock.json
Due: prow/console/brokers

remove unwanted changes - package-lock.json
  instances/package-lock.json
Due: none

remove unwanted changes - react components
  components/react-odata/src/serviceWorker.ts
  components/react/package-lock.json
Due: none

remove unwanted changes - package.json
  package-lock.json
Due: none

confirmation modal in lambdas (#72)
  lambda/src/app/confirmation-modal/confirmation-modal.component.html
  lambda/src/app/confirmation-modal/confirmation-modal.component.spec.ts
  lambda/src/app/confirmation-modal/confirmation-modal.component.ts
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

fix ui test
  tests/ui-tests/tests/console-basic-test.js
Due: console-tests

Update css
  components/react/src/components/Forms/JSONSchema/index.js
  content/src/commons/manifest.yaml
Due: none

update RJSF
  catalog/package-lock.json
  catalog/package.json
  components/react/package-lock.json
  components/react/package.json
Due: none

revert changes made by `npm run bootstrap`
  content/src/commons/manifest.yaml
Due: none

Update react-jsonschema-form in catalog and instances and enable regex validation (#658)
  catalog/package-lock.json
  catalog/package.json
  components/react/package-lock.json
  components/react/package.json
  components/react/src/components/Forms/JSONSchema/index.js
Due: none

fix rebasing errors and fix npm run lint-* scripts in react-odata component
  components/react-odata/package.json
  components/react-odata/src/components/styled/styled.ts
Due: none
