Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Remove creds for single api
  compass/src/components/Api/ApiHelpers.js
  compass/src/components/Api/CreateApiForm/CreateApiForm.js
  compass/src/components/Api/EditApi/EditApi.component.js
  compass/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  compass/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
Due: pre-master-console-compass, post-master-console-compass

Fix vulnerabilities in generic-documentation component
  components/generic-documentation/package-lock.json
  components/generic-documentation/package.json
Due: pre-master-console-whitesource-scan

Run jobs for views
  content/src/constants.ts
  service-catalog-ui/catalog/src/testing/queriesMocks.js
Due: pre-master-console-content, post-master-console-content

Run compass job
  compass/src/setupTests.js
Due: pre-master-console-compass, post-master-console-compass

Add creds tab to create package modal
  compass/src/components/ApiPackages/CreateApiPackageForm/CreateApiPackageForm.js
Due: pre-master-console-compass, post-master-console-compass

.
  components/generic-documentation/src/renderers/styled.ts
Due: none

Modify ApplicationContextProvider
  shared/contexts/ApplicationContext.js
Due: none

In progress
  core-ui/src/components/ApiPackages/ApiPackageDetails/ApiList/ApiList.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/ApiList/ApiList.scss
  core-ui/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/AuthDetailsModal/AuthDetailsModal.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/AuthList/AuthList.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/EditApiPackageForm.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/test/EditApiPackageForm.test.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/test/mocks.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/EventList/EventList.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/EventList/EventList.scss
  core-ui/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.scss
  core-ui/src/components/ApiPackages/ApiPackageDetails/RequestInputSchemaModal/RequestInputSchemaModal.js
  core-ui/src/components/ApiPackages/CreateApiPackageForm/CreateApiPackageForm.js
  core-ui/src/components/ApiPackages/CreateApiPackageForm/test/CreateApiPackageForm.test.js
  core-ui/src/components/ApiPackages/CreateApiPackageForm/test/mocks.js
  core-ui/src/components/ApiPackages/gql.js
  core-ui/src/components/Apis/ApplicationApiPackages/ApplicationApiPackages.js
  core-ui/src/components/Apis/ApplicationApiPackages/ApplicationApiPackages.test.js
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/ApplicationList/test/ApplicationList.test.js
  core-ui/src/components/Applications/ApplicationList/test/mocks.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove console.log
  compass/src/components/ApiPackages/CreateApiPackageForm/CreateApiPackageForm.js
Due: pre-master-console-compass, post-master-console-compass

Add creds tab to edit package modal
  compass/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/EditApiPackageForm.js
  compass/src/components/ApiPackages/gql.js
Due: pre-master-console-compass, post-master-console-compass

Show error message
  compass/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/EditApiPackageForm.js
  compass/src/shared/components/ModalWithForm/ModalWithForm.component.js
Due: pre-master-console-compass, post-master-console-compass

Working createApiPackage mutation
  core-ui/src/components/ApiPackages/CreateApiPackageForm/CreateApiPackageForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove ApiList EventApiList
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Improve securitu in log-ui nginx conf
  logging/nginx.conf
Due: pre-master-console-logging, post-master-console-logging

Add support for basic
  compass/src/components/Api/EditApi/gql.js
  compass/src/components/Api/Forms/CredentialForms/BasicCredentialsForm.js
  compass/src/components/Api/Forms/CredentialForms/CredentialsForm.js
  compass/src/components/Api/gql.js
  compass/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  compass/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/EditApiPackageForm.js
  compass/src/components/ApiPackages/CreateApiPackageForm/CreateApiPackageForm.js
  compass/src/components/ApiPackages/gql.js
  compass/src/store/index.js
Due: pre-master-console-compass, post-master-console-compass

tweak frame-ancestors csp
  logging/nginx.conf
Due: pre-master-console-logging, post-master-console-logging

Add JSONEditor to shared
  shared/components/JSONEditor/JSONEditor.js
  shared/index.js
  shared/package-lock.json
  shared/package.json
Due: pre-master-console-whitesource-scan

Modify router
  core-ui/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  core-ui/src/components/App/App.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use JsonEditor, Use compass context
  core-ui/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  core-ui/src/components/ApiPackages/CreateApiPackageForm/CreateApiPackageForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Move creds forms to shared
  compass/src/components/Api/Forms/ApiForm.js
  compass/src/components/Api/Forms/EventApiForm.js
  compass/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/EditApiPackageForm.js
  compass/src/components/ApiPackages/CreateApiPackageForm/CreateApiPackageForm.js
  shared/components/CredentialForms/BasicCredentialsForm.js
  shared/components/CredentialForms/CredentialsForm.js
  shared/components/CredentialForms/OAuthCredentialsForm.js
  shared/components/CredentialForms/index.js
  shared/components/TextFormItem/TextFormItem.js
  shared/index.js
Due: pre-master-console-compass, post-master-console-compass

get rid of unsafe-evals and unsafe-inline in csp
  logging/nginx.conf
Due: pre-master-console-logging, post-master-console-logging

Cleanup intex js
  shared/index.js
Due: none

relax csp for script source as unsafe-inline is required by angular
  logging/nginx.conf
Due: pre-master-console-logging, post-master-console-logging

Fix tests
  compass/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/test/mocks.js
  compass/src/components/ApiPackages/CreateApiPackageForm/test/mocks.js
Due: pre-master-console-compass, post-master-console-compass

relax csp for style source as unsafe-inline is required by angular
  logging/nginx.conf
Due: pre-master-console-logging, post-master-console-logging

remove user agent info from nginx access logs
  logging/nginx.conf
Due: pre-master-console-logging, post-master-console-logging

Add a test for creating api package iwth different auth
  compass/src/components/ApiPackages/CreateApiPackageForm/test/CreateApiPackageForm.test.js
  compass/src/components/ApiPackages/CreateApiPackageForm/test/mocks.js
Due: pre-master-console-compass, post-master-console-compass

Fix header
  core-ui/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/EditApiPackageForm.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/RequestInputSchemaModal/RequestInputSchemaModal.js
  core-ui/src/components/Apis/ApplicationApiPackages/ApplicationApiPackages.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add ResourceNotFound & api lists
  core-ui/src/components/ApiPackages/ApiPackageDetails/ApiList/ApiList.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/EventList/EventList.js
  core-ui/src/components/Apis/ApiDetails/ApiDetails.js
  core-ui/src/components/Apis/CreateApiForm/CreateApiForm.js
  core-ui/src/components/Apis/CreateEventForm/CreateEventForm.js
  core-ui/src/components/Apis/EditApi/EditApi.js
  core-ui/src/components/Apis/EditApiHeader/EditApiHeader.js
  core-ui/src/components/Apis/EditEventApi/EditEventApi.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix AuthList
  core-ui/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/AuthDetailsModal/AuthDetailsModal.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix ApplicationDetails test
  core-ui/src/components/Applications/ApplicationDetails/test/mocks.js
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add missing field in test
  core-ui/src/components/Applications/CreateApplicationFromTemplateModal/test/mocks.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix AplicationApiPackages test
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  core-ui/src/components/Apis/ApplicationApiPackages/ApplicationApiPackages.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix JSONEditor tests
  core-ui/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/test/EditApiPackageForm.test.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/test/mocks.js
  core-ui/src/components/ApiPackages/CreateApiPackageForm/test/CreateApiPackageForm.test.js
  core-ui/src/components/ApiPackages/CreateApiPackageForm/test/mocks.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add test for edit api package
  compass/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/test/EditApiPackageForm.test.js
  compass/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/test/mocks.js
Due: pre-master-console-compass, post-master-console-compass

Use resourcenotfound component
  compass/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
Due: pre-master-console-compass, post-master-console-compass

Fix CreateApiRuleTest
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add fixes after CR
  compass/src/ApolloClientProvider.js
  compass/src/store/index.js
  core-ui/src/apollo.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui

Add scalars link
  compass/src/ApolloClientProvider.js
  compass/src/store/index.js
  core-ui/src/apollo.js
  core-ui/src/commons/builder.js
  core-ui/src/index.js
  package-lock.json
  package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-whitesource-scan

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
