Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

post-master-console-core:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Remove pointing cursor from table
  logging/src/App.scss
Due: pre-master-console-logging, post-master-console-logging

Update documentation-component to 0.2.0 with asyncapi-react 0.3.0
  common/package.json
  components/generic-documentation/package-lock.json
  components/generic-documentation/package.json
  components/generic-documentation/src/index.tsx
  components/generic-documentation/src/layouts/styled.ts
  components/generic-documentation/src/loader/loader.ts
  components/generic-documentation/src/render-engines/async-api/index.tsx
  components/generic-documentation/src/render-engines/async-api/theme.ts
  components/generic-documentation/src/render-engines/markdown/headers-toc/HeadersComponent.tsx
  components/generic-documentation/src/render-engines/markdown/headers-toc/styled.ts
  components/generic-documentation/src/render-engines/open-api/styles/index.ts
  components/generic-documentation/src/renderers/Group.renderer.tsx
  components/generic-documentation/src/renderers/styled.ts
  components/react/package-lock.json
  components/shared/package.json
  package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

.
  components/generic-documentation/src/render-engines/markdown/headers-toc/HeadersComponent.tsx
  components/generic-documentation/src/render-engines/markdown/headers-toc/styled.ts
  components/react/package-lock.json
  package-lock.json
  service-catalog-ui/catalog/package-lock.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/catalog/postinstall.js
  service-catalog-ui/instances/package-lock.json
  service-catalog-ui/instances/package.json
  service-catalog-ui/instances/postinstall.js
  service-catalog-ui/postinstall.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Update Dockerfiles
  service-catalog-ui/Dockerfile
Due: none

Update packages
  components/generic-documentation/package-lock.json
  components/generic-documentation/src/index.tsx
  components/generic-documentation/src/render-engines/open-api/styles/index.ts
  components/generic-documentation/src/renderers/Group.renderer.tsx
  components/generic-documentation/src/renderers/styled.ts
  components/react/package-lock.json
  package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Update versions of dc-*
  components/generic-documentation/package-lock.json
  components/generic-documentation/package.json
  package-lock.json
Due: none

Rework AdvancedSettings to use components
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
Due: pre-master-console-logging, post-master-console-logging

use Context to store isLambda info
  logging/src/components/Logs.js
  logging/src/components/LogsContainer.js
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
Due: pre-master-console-logging, post-master-console-logging

Reload page as websockets sometimes fail
  tests/ui-tests/tests/catalog-ui-test.js
Due: pre-master-console-tests, post-master-console-tests

Sort logs properly
  logging/src/components/Logs.js
  logging/src/services/httpService.js
Due: pre-master-console-logging, post-master-console-logging

store recent labels in localStorage
  logging/src/components/Shared/LabelsInput/LabelsInput.js
Due: pre-master-console-logging, post-master-console-logging

Fix retry error in lambda ui
  tests/ui-tests/tests/lambda-ui-test.js
Due: pre-master-console-tests, post-master-console-tests

Add functional "showIstioLogs" checkbox
  logging/src/components/Logs.js
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
  logging/src/components/Shared/LabelsInput/LabelsInput.js
  logging/src/services/httpService.js
Due: pre-master-console-logging, post-master-console-logging

Make recently selected labels dimmed
  logging/src/components/LogsContainer.js
  logging/src/components/Shared/LabelsInput/DropdownRenderer/DropdownRenderer.js
  logging/src/components/Shared/LabelsInput/DropdownRenderer/DropdownRenderer.scss
Due: pre-master-console-logging, post-master-console-logging

Add dark border to submenu
  logging/src/components/Shared/LabelsInput/DropdownRenderer/DropdownRenderer.scss
Due: pre-master-console-logging, post-master-console-logging

Distinguish selected labels in megamenu
  logging/src/components/Header/Header.js
  logging/src/components/Shared/LabelsInput/DropdownRenderer/DropdownRenderer.js
  logging/src/components/Shared/LabelsInput/DropdownRenderer/DropdownRenderer.scss
  logging/src/components/Shared/LabelsInput/LabelsInput.js
Due: pre-master-console-logging, post-master-console-logging

Make inlineHelp larger
  logging/src/App.scss
Due: pre-master-console-logging, post-master-console-logging

Add generated config.js files to gitignore
  .gitignore
  add-ons/public/config/config.js
  content/public/config/config.js
  core/src/assets/config/config.js
  lambda/src/assets/config/config.js
  service-catalog-ui/brokers/public/config/config.js
  service-catalog-ui/catalog/public/config/config.js
  service-catalog-ui/instances/public/config/config.js
Due: prow/console/brokers, pre-master-console-core, post-master-console-core

Reducer scaffolding
  logging/package-lock.json
  logging/src/components/Logs/Logs.js
  logging/src/components/Logs/Logs.reducer.js
  logging/src/components/LogsContainer.js
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
Due: pre-master-console-logging, post-master-console-logging

Imports
  logging/src/components/Logs/Logs.js
  logging/src/components/Logs/Logs.reducer.js
Due: pre-master-console-logging, post-master-console-logging

remove empty line
  logging/src/components/Logs.js
Due: pre-master-console-logging, post-master-console-logging

Remove dead code, add tests
  service-catalog-ui/instances/src/components/App/App.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.container.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.container.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/mutations.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/test/ServiceInstanceDetails.test.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/test/networkMock.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesList.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesToolbar/FilterDropdown.component.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/test/ServiceInstancesList.test.js
  service-catalog-ui/instances/src/store/index.js
Due: none

Rework SearchInput to use context
  logging/src/components/Shared/SearchInput/SearchInput.js
Due: pre-master-console-logging, post-master-console-logging

rework LabelsInput to use context
  logging/src/components/Shared/LabelsInput/LabelsInput.js
Due: pre-master-console-logging, post-master-console-logging

Notification fixes, remove magic numbers, remove not used component
  service-catalog-ui/instances/src/components/App/App.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesList.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/styled.js
  service-catalog-ui/instances/src/variables.js
Due: none

rework AdvancedSettings to use context
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
  logging/src/components/Shared/SearchInput/SearchInput.js
Due: pre-master-console-logging, post-master-console-logging

Reorganize queries
  service-catalog-ui/instances/package-lock.json
  service-catalog-ui/instances/public/index.html
  service-catalog-ui/instances/src/components/DataProvider/DataProvider.js
  service-catalog-ui/instances/src/components/DataProvider/queries.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/queries.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/test/ServiceInstanceDetails.test.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesList.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/mutations.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/queries.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/test/ServiceInstancesList.test.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/test/networkMock.js
  service-catalog-ui/instances/src/queries/fragments.js
  service-catalog-ui/instances/src/queries/queries.js
  service-catalog-ui/instances/src/queries/subscriptions.js
  service-catalog-ui/instances/src/testing/networkMock.js
Due: none

Update App.js
  service-catalog-ui/instances/src/components/App/App.js
Due: none

Remove magic numbers from instance list file
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesList.js
Due: none

Rework all components to use context
  logging/src/components/Header/Header.js
  logging/src/components/Logs/Logs.js
  logging/src/components/Logs/Logs.reducer.js
  logging/src/components/Logs/SearchParams.reducer.js
  logging/src/components/LogsContainer.js
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
  logging/src/components/Shared/AutoRefreshButton/AutoRefreshButton.js
  logging/src/components/Shared/LabelsDisplay/LabelsDisplay.js
  logging/src/components/Shared/LabelsInput/LabelsInput.js
  logging/src/components/Shared/SearchInput/SearchInput.js
  logging/src/components/Shared/SelectDropdown/SelectDropdown.js
Due: pre-master-console-logging, post-master-console-logging

Fix index
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesList.js
  service-catalog-ui/instances/src/index.js
Due: none

Fix checkboxes
  logging/src/components/Logs/Logs.js
  logging/src/components/Logs/SearchParams.reducer.js
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
Due: pre-master-console-logging, post-master-console-logging

Fix openapi in compass
  compass/config-overrides.js
  compass/package.json
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
  compass/src/shared/components/AsyncAPI/AsyncAPI.js
  compass/src/shared/components/AsyncAPI/AsyncAPI.scss
  compass/src/shared/components/DocumentationComponent/DocumentationComponent.js
  compass/src/shared/components/OpenAPI/OpenAPI.js
  compass/src/shared/components/OpenAPI/OpenAPI.scss
  compass/src/shared/components/OpenAPI/assets/content-type-select-background-image.png
  compass/src/shared/components/OpenAPI/assets/responsesSelect.png
  compass/src/shared/components/OpenAPI/assets/schemes-background-image.png
  compass/src/shared/constants.js
Due: pre-master-console-compass, post-master-console-compass

Fix CompactHeader
  logging/src/components/CompactHeader/CompactHeader.js
  logging/src/components/Logs/Logs.js
  logging/src/components/LogsContainer.js
  logging/src/components/Shared/ResultsOptionsDropdown/ResultsOptionsDropdown.js
Due: pre-master-console-logging, post-master-console-logging

Clean up code
  logging/src/components/CompactHeader/CompactHeader.js
  logging/src/components/Header/Header.js
  logging/src/components/LogTable/LogTable.js
  logging/src/components/Logs/Logs.js
  logging/src/components/LogsContainer.js
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
  logging/src/components/Shared/AutoRefreshButton/AutoRefreshButton.js
  logging/src/components/Shared/LabelsDisplay/LabelsDisplay.js
  logging/src/components/Shared/ResultsOptionsDropdown/ResultsOptionsDropdown.js
Due: pre-master-console-logging, post-master-console-logging

Fix bug with query input loosing focus
  logging/src/components/Header/Header.js
  logging/src/components/Logs/Logs.js
  logging/src/components/LogsContainer.js
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
Due: pre-master-console-logging, post-master-console-logging

Fix context switcher/preloading issues
  service-catalog-ui/catalog/src/commons/builder.js
  service-catalog-ui/catalog/src/index.js
  service-catalog-ui/instances/src/commons/builder.js
  service-catalog-ui/instances/src/index.js
Due: none

Not ignore generated config files
  .gitignore
Due: none

revert config.js file from core assets
  core/src/assets/config/config.js
Due: pre-master-console-core, post-master-console-core

revert config.js file from lambda assets
  lambda/src/assets/config/config.js
Due: none

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
