Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/

Fix crashing lambda ui (#900)
  lambda/src/app/lambdas/lambda-details/lambda-details.component.html
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.service.ts
  lambda/src/app/lambdas/lambda-details/lambda-env/lambda-env.component.ts
Due: none

Remove unused things
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
Due: console-core

request authenticationPolicy.issuer in gql queries
  core/src/app/content/namespaces/configuration/apis/apis.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
Due: console-core

Fix istio label (#923)
  core/src/app/content/namespaces/namespace-create/namespace-create.component.ts
Due: console-core

add mutationResourceKind to abstract-graphql class
  core/src/app/content/namespaces/configuration/apis/apis.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
Due: console-core

Minor improvements
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.ts
Due: console-core

make isSecured() a boolean
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.ts
Due: console-core

Fix subscription for apis
  core/src/app/content/namespaces/configuration/apis/apis.component.ts
Due: console-core

Fix subscription for apis 2
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
Due: console-core

Adjust tabs rendering in catalog and instances views to fetching errors (#888)
  catalog/src/commons/helpers.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/variables.js
  components/react/package-lock.json
  components/react/package.json
  components/react/src/components/ReactMarkdown/parseHTML/Image.js
  components/react/src/components/ReactMarkdown/parseHTML/Link.js
  components/react/src/components/ReactMarkdown/parseHTML/index.js
  components/react/src/components/Tabs/index.js
  instances/src/commons/helpers.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/styled.js
  instances/src/variables.js
Due: none

Disable namespace creation ui test
  tests/ui-tests/tests/console-basic-test.js
Due: console-tests

Disable namespace creation ui test (#935)
  tests/ui-tests/tests/console-basic-test.js
Due: console-tests

Fix tabs in content-ui
  components/react/src/components/ReactMarkdown/helpers.js
Due: none

Fix tabs in content-ui (#938)
  components/react/src/components/ReactMarkdown/helpers.js
Due: none

Fix bound apps details on namespace view (#940)
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
Due: console-core

Disable create instance button in case not all fields are required (#830)
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
  tests/ui-tests/commands/catalog.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/utils/catalogConfig.js
Due: console-tests

Enable namespace creation ui test
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/console-basic-test.js
Due: console-tests

Add and use ContainerInstances service
  lambda/src/app/app.module.ts
  lambda/src/app/container-instances/container-instances.service.ts
  lambda/src/app/container-instances/event-activations.service.spec.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Improve subscription; filter pods by function name
  lambda/src/app/container-instances/container-instances.service.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

use CurrentPodName in LogUI popup params
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Add special LogUI title when function and instance params are set
  logging/src/app/search-form/search-form.component.ts
Due: none

Add and fix unit tests
  lambda/src/app/container-instances/container-instances.service.spec.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Properly align labels in LogUI
  logging/src/app/search-form/search-form.component.scss
Due: none

Fix bound apps count on nmsp details
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
Due: console-core

Fix bound apps count on nmsp details (#945)
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
Due: console-core

Change namespace create modal size
  core/src/styles/fiori-fundamentals-overrides.scss
Due: console-core

Add switchable outdated pod instances
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
Due: none

Update received event type in an event handler
  logging/src/app/search-form/search-form.component.ts
Due: none

Change namespace create modal size (#946)
  core/src/styles/fiori-fundamentals-overrides.scss
Due: console-core

Enable namespace creation ui test (#943)
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/console-basic-test.js
Due: console-tests

temporary solution using graphql-client service
  lambda/src/app/container-instances/container-instances.service.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  logging/package-lock.json
  logging/package.json
  logging/src/app/app.config.ts
  logging/src/app/app.module.ts
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
Due: none

Stay on lambda details after creation (#937)
  lambda/package-lock.json
  lambda/src/app/lambdas/lambda-details/lambda-details.component.html
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

WebSocket subscription prototype
  logging/package-lock.json
  logging/package.json
  logging/src/app/app.config.ts
  logging/src/app/app.module.ts
  logging/src/app/auth/token.interceptor.spec.ts
  logging/src/app/auth/token.interceptor.ts
  logging/src/app/search-form/search-form.component.ts
  logging/src/app/search-form/service/graphql-client-service.ts
  logging/src/app/search-form/service/pods-subscription/pods-subscription.service.ts
  logging/src/app/ws.ts
  logging/src/tsconfig.app.json
Due: none

A prototype that works
  logging/src/app/search-form/search-form.component.ts
  logging/src/app/search-form/service/pods-subscription/pods-subscription.service.ts
Due: none

Update namespace details header
  core/src/app/content/namespaces/namespace-details/namespace-details.component.html
  core/src/app/content/namespaces/namespace-details/namespace-details.component.scss
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
  core/src/app/content/namespaces/services/namespaces.service.ts
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.ts
Due: console-core

Modify CODEOWNERS - follow up on team changes (#848)
  CODEOWNERS
Due: none

Move filtering logic from adding labels to filtering streams
  logging/src/app/app.config.ts
  logging/src/app/search-form/data/search-form-data.ts
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
Due: none

Fix lambda exposure FQDN
  lambda/src/app/lambdas/lambda-details/http-trigger/http-trigger.component.ts
Due: none
