Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Fix CreateScenario form bug
  compass/src/components/Scenarios/CreateScenario/CreateScenarioForm/CreateScenarioForm.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Review changes
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/test/Cards.test.js
  service-catalog-ui/catalog/src/components/ServiceClassList/test/ServiceClassList.test.js
  service-catalog-ui/catalog/src/testing/queriesMocks.js
  service-catalog-ui/catalog/src/variables.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/test/ServiceInstanceInfo.test.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/test/ServiceInstanceDetails.test.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/test/ServiceInstancesList.test.js
Due: none

Move expand button to the right
  core-ui/src/components/ApiRuleCreationDraft/AccessStrategy.js
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Add MultiChoiceList tests
  compass/src/components/Shared/MultiChoiceList/MultiChoiceList.component.js
  compass/src/components/Shared/MultiChoiceList/test/MultiChoiceList.test.js
  compass/src/components/Shared/MultiChoiceList/test/__snapshots__/MultiChoiceList.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Test plan spec modal on ervice instances list
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesTable/ServiceInstancesTable.component.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/test/ServiceInstancesList.test.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/test/__snapshots__/ServiceInstancesList.test.js.snap
Due: none

Fix key warnings
  components/react/src/components/Tabs/index.js
  service-catalog-ui/catalog/src/testing/serviceClassesMocks.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content

Change test-renderer to enzyme render
  service-catalog-ui/catalog/package.json
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/test/InstancesIndicator.test.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/test/Labels.test.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/test/__snapshots__/InstancesIndicator.test.js.snap
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/test/__snapshots__/Labels.test.js.snap
  service-catalog-ui/instances/package.json
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/test/StatusPanel.test.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/test/__snapshots__/StatusPanel.test.js.snap
Due: none

rename loki bm
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
Due: pre-master-console-core, post-master-console-core

Edit mode toggle
  core-ui/src/components/ApiRuleCreationDraft/AccessStrategy.js
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Make field labels inline
  core-ui/src/components/ApiRuleCreationDraft/AccessStrategy.js
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.scss
  shared/components/StringInput/StringInput.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Custom input placeholder
  core-ui/src/components/ApiRuleCreationDraft/AccessStrategy.js
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.scss
  shared/components/StringInput/StringInput.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove catalog tests
  tests/ui-tests/commands/catalog.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/utils/catalogConfig.js
Due: pre-master-console-tests, post-master-console-tests

Remove names from data-test-id
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/test/__snapshots__/ScenarioApplications.test.js.snap
  compass/src/components/Scenarios/ScenarioDetails/ScenarioRuntimes/test/__snapshots__/ScenarioRuntimes.test.js.snap
  compass/src/components/Shared/MultiChoiceList/MultiChoiceList.component.js
  compass/src/components/Shared/MultiChoiceList/test/MultiChoiceList.test.js
  compass/src/components/Shared/MultiChoiceList/test/__snapshots__/MultiChoiceList.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Remove changes in ScenarioApplications and ScenarioRuntimes snapshots
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/test/__snapshots__/ScenarioApplications.test.js.snap
  compass/src/components/Scenarios/ScenarioDetails/ScenarioRuntimes/test/__snapshots__/ScenarioRuntimes.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Add padding to collapse button
  add-ons/src/components/CollapsiblePanel/CollapsiblePanel.tsx
Due: none

Cleanup unnecessary functions
  add-ons/src/components/AddonPanel/AddonPanel.tsx
Due: none

Remove unnecessary css
  add-ons/src/components/CollapsiblePanel/CollapsiblePanel.scss
  add-ons/src/components/CollapsiblePanel/CollapsiblePanel.tsx
Due: none

Namespace List - introduce WebSockets
  core-ui/src/components/NamespaceList/NamespaceList.js
  core-ui/src/components/NamespaceList/test/wsHandler.test.js
  core-ui/src/components/NamespaceList/wsHandler.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix fetch policy
  core-ui/src/components/NamespaceList/NamespaceList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix StringInput regexp
  shared/components/StringInput/StringInput.js
Due: none

Remove PanelEntry component
  core-ui/src/shared/components/PanelEntry/PanelEntry.component.js
  core-ui/src/shared/components/PanelEntry/test/PanelEntry.test.js
  core-ui/src/shared/components/PanelEntry/test/__snapshots__/PanelEntry.test.js.snap
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove FloatingControls
  shared/components/FloatingControls/FloatingControls.js
  shared/components/FloatingControls/FloatingControls.scss
  shared/index.js
Due: none

remove HostWithPort input
  shared/components/HostWithPortInput/HostWithPortInput.js
  shared/components/HostWithPortInput/HostWithPortInput.scss
  shared/index.js
Due: none

Name components, update tests
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/test/__snapshots__/ScenarioApplications.test.js.snap
  compass/src/components/Scenarios/ScenarioDetails/ScenarioRuntimes/test/__snapshots__/ScenarioRuntimes.test.js.snap
  shared/components/CollapsiblePanel/CollapsiblePanel.js
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/SearchInput.js
  shared/components/K8sNameInput/K8sNameInput.js
  shared/components/Tooltip/Tooltip.js
Due: pre-master-console-compass, post-master-console-compass

Fix className attrib
  core-ui/src/components/ApiRuleCreationDraft/AccessStrategy.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update tenant chooser behaviour
  compass/src/ApolloClientProvider.js
  compass/src/commons/builder.js
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  compass/src/config/luigi-config/navigation.js
  compass/src/index.js
  compass/src/store/index.js
  shared/contexts/ApplicationContext.js
  shared/index.js
Due: pre-master-console-compass, post-master-console-compass

add curl to ui-tests Docker image
  tests/Dockerfile
Due: pre-master-console-tests, post-master-console-tests

harmonize ws protocol
  .clusterConfig.default
  core-ui/public/config/config.js
  core/nginx/nginx.conf
  core/src/app/app.config.ts
  logging/public/config/config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Update react-fundamental
  compass/package-lock.json
  compass/package.json
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.component.test.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.container.test.js
  compass/src/components/Application/ApplicationDetails/UpdateApplicationForm/test/UpdateApplicationForm.test.js
  compass/src/components/Application/ApplicationDetails/UpdateApplicationForm/test/__snapshots__/UpdateApplicationForm.test.js.snap
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/MetadataDefinitionDetails.ui.test.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/MetadataDefinitionDetails.unit.test.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/__snapshots__/MetadataDefinitionDetails.ui.test.js.snap
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/__snapshots__/MetadataDefinitionDetails.unit.test.js.snap
  compass/src/components/MetadataDefinitions/test/MetadataDefinitions.ui.test.js
  compass/src/components/Runtimes/CreateRuntimeForm/test/CreateRuntimeForm.test.js
  compass/src/components/Runtimes/CreateRuntimeForm/test/__snapshots__/CreateRuntimeForm.test.js.snap
  compass/src/components/Shared/ScenariosDisplay/test/ScenarioDisplay.test.js
  compass/src/setupTests.js
Due: pre-master-console-compass, post-master-console-compass

Update react-fundamental
  compass/package-lock.json
  compass/package.json
  compass/src/components/Api/Forms/CredentialForms/CredentialsForm.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.component.test.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.container.test.js
  compass/src/components/Application/ApplicationDetails/UpdateApplicationForm/UpdateApplicationForm.component.js
  compass/src/components/Application/ApplicationDetails/UpdateApplicationForm/test/UpdateApplicationForm.test.js
  compass/src/components/Application/ApplicationDetails/UpdateApplicationForm/test/__snapshots__/UpdateApplicationForm.test.js.snap
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/MetadataDefinitionDetails.ui.test.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/MetadataDefinitionDetails.unit.test.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/__snapshots__/MetadataDefinitionDetails.ui.test.js.snap
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/__snapshots__/MetadataDefinitionDetails.unit.test.js.snap
  compass/src/components/MetadataDefinitions/test/MetadataDefinitions.ui.test.js
  compass/src/components/Runtimes/CreateRuntimeForm/test/CreateRuntimeForm.test.js
  compass/src/components/Runtimes/CreateRuntimeForm/test/__snapshots__/CreateRuntimeForm.test.js.snap
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarios.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/ScenarioApplications.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioRuntimes/ScenarioRuntimes.component.js
  compass/src/components/Shared/MultiChoiceList/MultiChoiceList.component.js
  compass/src/components/Shared/MultiChoiceList/test/MultiChoiceList.test.js
  compass/src/components/Shared/MultiChoiceList/test/__snapshots__/MultiChoiceList.test.js.snap
  compass/src/components/Shared/ScenariosDisplay/test/ScenarioDisplay.test.js
  compass/src/setupTests.js
Due: pre-master-console-compass, post-master-console-compass

Review changes: hide warnings in tests
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/test/Card.test.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/test/Cards.test.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/test/InstancesIndicator.test.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/test/Labels.test.js
  service-catalog-ui/catalog/src/components/ServiceClassList/test/ServiceClassList.test.js
  service-catalog-ui/catalog/src/components/ServiceClassList/test/__snapshots__/ServiceClassList.test.js.snap
  service-catalog-ui/catalog/src/testing/index.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/test/ServiceInstanceInfo.test.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/test/StatusPanel.test.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/test/ServiceInstanceDetails.test.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/test/ServiceInstancesList.test.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/test/__snapshots__/ServiceInstancesList.test.js.snap
Due: none

Fix caching problem
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesList.js
Due: none

Disable preload for Core and Core-UI
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core

Fix breadcrumbs
  core/package-lock.json
  service-catalog-ui/catalog/src/commons/helpers.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/searchUtils.js
  service-catalog-ui/instances/src/commons/helpers.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/searchUtils.js
Due: pre-master-console-core, post-master-console-core

Clean config.js files
  core-ui/public/config/config.js
  logging/public/config/config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-logging, post-master-console-logging

Initialize apollo only when idToken available
  core/src/app/app.module.ts
Due: pre-master-console-core, post-master-console-core

Update Modals
  compass/package-lock.json
  compass/package.json
  compass/src/components/Api/Forms/CredentialForms/CredentialsForm.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.component.js
  compass/src/components/Scenarios/ScenarioDetails/shared/AssignEntityToScenarioModal/AssignEntityToScenarioModal.component.js
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.component.js
  compass/src/components/Shared/MultiChoiceList/MultiChoiceList.component.js
  compass/src/components/Shared/MultiChoiceList/style.scss
  compass/src/shared/components/Modal/Modal.js
Due: pre-master-console-compass, post-master-console-compass

Update tests, remove Luigi backdrop control from components using Modal
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.component.js
  compass/src/components/Scenarios/ScenarioDetails/shared/AssignEntityToScenarioModal/AssignEntityToScenarioModal.component.js
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.component.js
  compass/src/components/Shared/MultiChoiceList/test/__snapshots__/MultiChoiceList.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Fix credentials type dropdown
  compass/src/components/Api/Forms/CredentialForms/CredentialsForm.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Add UTF-8 charset to Luigi
  compass/public-luigi/index.html
Due: pre-master-console-compass, post-master-console-compass

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
