Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  console-tests: any of: ^tests/

Fix lambdas modal (#32)
  lambda/src/styles.scss
Due: none

fixes after code review
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
Due: console-core

Path routing support in console (#31)
  core/angular.json
  core/package-lock.json
  core/package.json
  core/webpack-extra.config.js
Due: console-core

Add support for new cluster microfrontend crd
  core/src/app/navigation/navigation.component.ts
Due: console-core

check lib license
  core/Jenkinsfile
  core/package-lock.json
  core/package.json
Due: console-core

Add support for new cluster microfrontend crd 2
  core/src/app/extensibility/external-view/external-view.component.ts
  core/src/app/navigation/app-routing.module.ts
Due: console-core

Fixing issue with long hostnames in http-trigger
  lambda/src/app/lambdas/lambda-details/http-trigger/http-trigger.component.html
  lambda/src/app/lambdas/lambda-details/http-trigger/http-trigger.component.scss
Due: none

Rename Remote Environments in Console UI (#414)
  core/src/app/app.config.ts
  core/src/app/content/environments/environment-details/environment-details.component.html
  core/src/app/content/environments/environment-details/environment-details.component.ts
  core/src/app/content/settings/remote-environments/create-remote-environment-modal/create-remote-environment-modal.component.html
  core/src/app/content/settings/remote-environments/edit-remote-environment-modal/edit-remote-environment-modal.component.html
  core/src/app/content/settings/remote-environments/remote-environment-details/edit-bindings-modal/edit-binding-modal.component.spec.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/edit-bindings-modal/edit-binding-modal.component.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-binding-service.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.html
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
  core/src/app/content/settings/remote-environments/remote-environments-entry-renderer/remote-environments-entry-renderer.component.ts
  core/src/app/content/settings/remote-environments/remote-environments.component.html
  core/src/app/content/settings/remote-environments/remote-environments.component.ts
  core/src/app/content/settings/remote-environments/services/remote-environments.service.spec.ts
  core/src/app/content/settings/remote-environments/services/remote-environments.service.ts
  core/src/app/content/workspace-overview/environment-card/environment-card.component.html
  core/src/app/content/workspace-overview/workspace-overview/environment-data-converter.ts
  core/src/app/navigation/app-routing.module.ts
  core/src/app/navigation/app.navigation.data.ts
  core/src/app/shared/components/labels-input/labels-input.component.html
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/utils/address.js
Due: console-core, console-tests

Rename Remote Environment Related text to Application (#417)
  lambda/src/app/lambdas/lambda-details/event-trigger-chooser/event-trigger-chooser.component.html
Due: none

change regex for function name validation
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

change alert text
  lambda/src/app/lambdas/lambda-details/lambda-details.component.html
Due: none

fix word break for alert text
  lambda/src/app/lambdas/lambda-details/lambda-details.component.scss
Due: none

rename variables
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

fix comment
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Fixing issue with long hostnames in http-trigger (#430)
  lambda/src/app/lambdas/lambda-details/http-trigger/http-trigger.component.html
  lambda/src/app/lambdas/lambda-details/http-trigger/http-trigger.component.scss
Due: none

Rename environments to namespaces (#423)
  core/package-lock.json
  core/src/app/content/environments/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/environments/configuration/apis/apis.component.html
  core/src/app/content/environments/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/environments/configuration/resources/resources.component.html
  core/src/app/content/environments/development/lambdas/lambdas.component.ts
  core/src/app/content/environments/environment-create/environment-create.component.html
  core/src/app/content/environments/environment-create/environment-create.component.ts
  core/src/app/content/environments/environment-details/environment-details.component.html
  core/src/app/content/environments/environment-details/environment-details.component.ts
  core/src/app/content/environments/environments-container/environments-container.component.ts
  core/src/app/content/environments/instances-container/instances-container.component.ts
  core/src/app/content/environments/operation/secrets/secret-detail/secret-detail.component.ts
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.component.ts
  core/src/app/content/environments/operation/services/service-details/service-details.component.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/edit-bindings-modal/edit-binding-modal.component.html
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.html
  core/src/app/content/settings/remote-environments/remote-environments-header-renderer/remote-environments-header-renderer.component.html
  core/src/app/content/workspace-overview/environment-card/environment-card.component.html
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.html
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.ts
  core/src/app/extensibility/directives/ext-app-listener.directive.ts
  core/src/app/extensibility/external-view/external-view.component.ts
  core/src/app/navigation/app-routing.module.ts
  core/src/app/navigation/header/header.component.html
  core/src/app/navigation/header/header.component.ts
  core/src/app/navigation/navigation.component.html
  core/src/app/navigation/navigation.component.ts
Due: console-core

Fix lambda name validation (#433)
  lambda/src/app/lambdas/lambda-details/lambda-details.component.html
  lambda/src/app/lambdas/lambda-details/lambda-details.component.scss
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Luigify after remote envs renaming (#35)
  core/src/app/content/environments/environment-details/environment-details.component.html
  core/src/app/content/environments/environment-details/environment-details.component.ts
  core/src/app/content/settings/remote-environments/edit-remote-environment-modal/edit-remote-environment-modal.component.html
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.html
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
  core/src/app/content/settings/remote-environments/remote-environments-entry-renderer/remote-environments-entry-renderer.component.ts
  core/src/assets/luigi-config.js
Due: console-core

Fix e2e ui tests after luigifications (#33)
  tests/ui-tests/commands/common.js
  tests/ui-tests/commands/console.js
  tests/ui-tests/config.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/utils/address.js
Due: console-tests

Fix UI tests
  tests/ui-tests/utils/address.js
Due: console-tests

Rename environments in remaining views
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/Resources.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/InfoButton/variables.js
  lambda/src/app/lambdas/lambda-details/lambda-env/lambda-env.component.html
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-bindings.component.html
Due: none

Improve content styles on content-ui, catalog-ui and instances-ui (#427)
  components/react/src/components/Markdown/index.js
  content/src/components/ContentWrapper/ContentWrapper.component.js
  content/src/components/MainPage/MainPage.component.js
Due: none

Add new navigation structure (without icons) (#34)
  core/src/app/content/environments/environment-create/environment-create.component.ts
  core/src/app/content/environments/environment-details/environment-details.component.ts
  core/src/app/content/workspace-overview/environment-card/environment-card.component.ts
  core/src/app/shared/components/permissions/role-details/role-details.component.ts
  core/src/app/shared/components/permissions/roles/roles-entry-renderer/roles-entry-renderer.component.ts
  core/src/app/shared/components/permissions/roles/roles.component.ts
  core/src/assets/luigi-config.js
Due: console-core

Rename back to envs in lambdas
  lambda/src/app/lambdas/lambda-details/lambda-env/lambda-env.component.html
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-bindings.component.html
Due: none

Fix UI tests and rename envs to namespaces in remaining views (#435)
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/Resources.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/InfoButton/variables.js
  tests/ui-tests/utils/address.js
Due: console-tests

Rename on match for home/environments with home/namespaces
  core/src/app/content/workspace-overview/environment-card/environment-card.component.ts
Due: console-core

Replace .fromContext('environments') with .fromContext('namespaces') after renaming merge
  catalog/src/components/App/App.component.js
  core/src/app/content/environments/environment-details/environment-details.component.ts
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceToolbar/ServiceInstanceToolbar.component.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
Due: console-core

fix paths for ui tests after new nav structure was applied (#36)
  tests/ui-tests/utils/address.js
Due: console-tests

added config for mfs and cmfs based on the old branch (#37)
  core/src/assets/luigi-config.js
Due: console-core

Update NOTICE.md
  NOTICE.md
Due: console-governance

use latest luigi 0.4.1 version (#38)
  brokers/package-lock.json
  brokers/package.json
  catalog/package-lock.json
  catalog/package.json
  components/react/package-lock.json
  components/react/package.json
  content/package.json
  core/package.json
  instances/package-lock.json
  instances/package.json
  lambda/package.json
Due: prow/console/brokers, console-core

Rename BUC CRs domain
  lambda/src/app/app.config.ts
  lambda/src/app/service-binding-usages/service-binding-usages.service.spec.ts
  lambda/src/app/service-binding-usages/service-binding-usages.service.ts
  lambda/src/app/service-bindings/service-bindings.service.spec.ts
Due: none

Rename BUC CRs domain (#437)
  lambda/src/app/app.config.ts
  lambda/src/app/service-binding-usages/service-binding-usages.service.spec.ts
  lambda/src/app/service-binding-usages/service-binding-usages.service.ts
  lambda/src/app/service-bindings/service-bindings.service.spec.ts
Due: none

Add 'Create new environment' option to ContextSwitcher (#26)
  brokers/package.json
  catalog/package.json
  components/react/package.json
  content/package.json
  core/package.json
  core/src/app/content/environments/environment-create/environment-create.component.ts
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.html
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.ts
  core/src/app/navigation/app-routing.module.ts
  core/src/app/shared/directives/luigi-client-communication/luigi-client-communication.directive.ts
  core/src/assets/luigi-config.js
  instances/package.json
  lambda/package.json
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  tests/ui-tests/commands/console.js
Due: prow/console/brokers, console-core, console-tests

fix linter error (#39)
  core/src/app/content/environments/environment-create/environment-create.component.ts
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.html
Due: console-core

Update config.js (#40)
  brokers/public/config/config.js
Due: prow/console/brokers

Rollback unintentional formatting changes (#41)
  catalog/config-overrides.js
  catalog/src/commons/asyncapi.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  components/react/src/components/ErrorBoundary/index.js
  components/react/src/components/ErrorBoundary/styled.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  instances/src/commons/asyncapi.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/SchemaData.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
  lambda/src/app/app.component.scss
  lambda/src/app/app.component.ts
  tests/ui-tests/config.js
Due: console-tests

Remove Jenkins configuration
  brokers/Jenkinsfile
  catalog/Jenkinsfile
  content/Jenkinsfile
  core/Jenkinsfile
  governance.Jenkinsfile
  instances/Jenkinsfile
  lambda/Jenkinsfile
  orchestrator.Jenkinsfile
  tests/Jenkinsfile
Due: prow/console/brokers, console-core, console-tests

fix npm install error (#42)
  core/package-lock.json
Due: console-core

Remove Jenkins configuration (#440)
  brokers/Jenkinsfile
  catalog/Jenkinsfile
  content/Jenkinsfile
  core/Jenkinsfile
  governance.Jenkinsfile
  instances/Jenkinsfile
  lambda/Jenkinsfile
  orchestrator.Jenkinsfile
  tests/Jenkinsfile
Due: prow/console/brokers, console-core, console-tests
