Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Improve e2e tests
  logging/e2e/src/app.e2e-spec.ts
  logging/e2e/src/app.po.ts
  logging/src/app/search-form/search-form.component.html
  tests/ui-tests/tests/log-ui-test.js
Due: console-tests

Implement graphql for cluster service brokers (#711)
  core/src/app/content/namespaces/namespaces-container/namespaces-container.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  core/src/app/content/namespaces/operation/replica-sets/replica-sets.component.ts
  core/src/app/content/settings/service-brokers/service-brokers.component.ts
  core/src/app/content/settings/service-brokers/services-entry-renderer/service-broker-entry-renderer.component.html
  core/src/app/content/settings/service-brokers/services-entry-renderer/service-broker-entry-renderer.component.ts
Due: prow/console/brokers, console-core

Log UI breaks regex expressions in search query
  logging/src/app/search-form/data/search-form-data.ts
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
  logging/src/app/search-form/service/custom-http-parameter-codec.ts
  logging/src/app/search-form/service/search-service.ts
Due: none

Cleanup and refactorings
  logging/src/app/search-form/data/index.ts
  logging/src/app/search-form/data/plain-log-query.ts
  logging/src/app/search-form/data/search-form-data.ts
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
  logging/src/app/search-form/service/search-service.ts
Due: none

Add log ui tests to ui tests regex
  tests/package.json
Due: console-tests

Fix
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/namespaces/operation/configmaps/configmaps.component.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  core/src/app/content/namespaces/operation/replica-sets/replica-sets.component.ts
  logging/src/assets/config/config.js
Due: console-core

Fix json editor size and ignore logging config (#717)
  core/src/app/shared/components/json-editor-modal/json-editor-modal.component.scss
  logging/src/assets/config/config.js
  package.json
Due: console-core

Deployment deletion does not delete related replica set and pods (#712)
  core/src/app/app.config.ts
  core/src/app/content/namespaces/operation/deployments/deployments.component.ts
Due: console-core

Log UI breaks regex expressions in search query (#719)
  logging/src/app/search-form/data/search-form-data.ts
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
  logging/src/app/search-form/service/custom-http-parameter-codec.ts
  logging/src/app/search-form/service/search-service.ts
Due: none

added fresh-fetching of keys upon load, added loginError state to logout.html
  core/src/logout.html
  core/src/luigi-config/luigi-config.js
Due: console-core

slight refactoring of logout.html logic
  core/src/logout.html
Due: console-core

Update testing dependencies
  logging/package-lock.json
  logging/package.json
Due: none

Unit tests + refactorings for search form component
  logging/src/app/search-form/search-form.component.spec.ts
  logging/src/app/search-form/search-form.component.ts
Due: none

Add word-break rule for all cells in tables (#716)
  core/src/styles/fiori-fundamentals-overrides.scss
  lambda/src/styles/fiori-fundamentals-overrides.scss
Due: console-core

Replace log-ui with logging where possible
  logging/angular.json
  logging/package-lock.json
  logging/package.json
  tests/package.json
  tests/ui-tests/tests/log-ui-test.js
Due: console-tests

redirection and alert message when namespace doesn't exist
  core/src/luigi-config/luigi-config.js
Due: console-core

Add graphql for configmaps (#707)
  core/src/app/content/namespaces/operation/configmaps/configmaps-entry-renderer/configmaps-entry-renderer.component.html
  core/src/app/content/namespaces/operation/configmaps/configmaps.component.ts
  core/src/app/content/namespaces/operation/pods/pods.component.ts
  logging/src/assets/config/config.js
Due: console-core

added dev flag to watch mode, catch methods to promises, graceful graphql query
  core/package.json
  core/src/luigi-config/luigi-config.js
Due: console-core

Use same linting as in console core for consistency and simplicity
  logging/angular.json
  logging/e2e/protractor.conf.js
  logging/e2e/src/app.e2e-spec.ts
  logging/e2e/src/app.po.ts
  logging/e2e/tsconfig.e2e.json
  logging/package-lock.json
  logging/package.json
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.spec.ts
  logging/src/assets/config/config.js
  logging/src/polyfills.ts
  logging/src/test.ts
  logging/src/tsconfig.app.json
  logging/src/tsconfig.spec.json
  logging/tsconfig.json
  logging/tslint.json
Due: none

enabled relogin for 4xx kyma calls
  core/src/luigi-config/luigi-config.js
Due: console-core

Fix texts after merging from master
  logging/src/app/search-form/search-form.component.spec.ts
Due: none

change styles for filter and search button
  components/angular/generic-list/src/app/modules/list/list-filter/list-filter.component.html
  components/angular/generic-list/src/app/modules/list/list-search/list-search.component.html
Due: none

dash when empty state, remove unnecessary styles
  components/angular/generic-list/src/app/modules/list/list-filter/list-filter.component.scss
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/shared/components/permissions/role-details/role-details.component.html
Due: console-core

text change for login error
  core/src/logout.html
Due: console-core

redirection and alert message when namespace doesn't exist (#721)
  core/src/luigi-config/luigi-config.js
Due: console-core

constant for empty text
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.html
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.ts
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.ts
  core/src/app/shared/components/permissions/role-details/role-details.component.html
  core/src/app/shared/components/permissions/role-details/role-details.component.ts
  core/src/app/shared/constants/constants.ts
Due: console-core

change the order of buttons
  core/src/app/content/namespaces/configuration/apis/apis.component.html
Due: console-core

Rename ui tests files from log-ui to logging for consistency
  tests/ui-tests/commands/logging.js
  tests/ui-tests/tests/logging-test.js
Due: console-tests

Remove logging tests execution in tests/package.json until its activation in Kyma
  tests/package.json
Due: console-tests

Refactor Logging UI (#723)
  logging/angular.json
  logging/e2e/protractor.conf.js
  logging/e2e/src/app.e2e-spec.ts
  logging/e2e/src/app.po.ts
  logging/e2e/tsconfig.e2e.json
  logging/package-lock.json
  logging/package.json
  logging/src/app/search-form/data/index.ts
  logging/src/app/search-form/data/plain-log-query.ts
  logging/src/app/search-form/data/search-form-data.ts
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.spec.ts
  logging/src/app/search-form/search-form.component.ts
  logging/src/app/search-form/service/search-service.ts
  logging/src/polyfills.ts
  logging/src/test.ts
  logging/src/tsconfig.app.json
  logging/src/tsconfig.spec.json
  logging/tsconfig.json
  logging/tslint.json
  tests/ui-tests/commands/logging.js
  tests/ui-tests/tests/logging-test.js
Due: console-tests

empty text string for labels in all views, remove "Search" in search button in Logs view, change private on public
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quota-entry-renderer/resource-quota-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quota-entry-renderer/resource-quota-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/configmaps/configmaps-entry-renderer/configmaps-entry-renderer.component.html
  core/src/app/content/namespaces/operation/configmaps/configmaps-entry-renderer/configmaps-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.html
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.html
  core/src/app/content/namespaces/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/secrets/secrets-entry-renderer/secrets-entry-renderer.component.html
  core/src/app/content/namespaces/operation/secrets/secrets-entry-renderer/secrets-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.html
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.ts
  core/src/app/content/namespaces/operation/services/services-entry-renderer/services-entry-renderer.component.html
  core/src/app/content/namespaces/operation/services/services-entry-renderer/services-entry-renderer.component.ts
  core/src/app/content/settings/applications/application-details/application-details.component.ts
  core/src/app/content/settings/applications/applications-entry-renderer/applications-entry-renderer.component.html
  core/src/app/content/settings/applications/applications-entry-renderer/applications-entry-renderer.component.ts
  core/src/app/shared/components/permissions/role-details/role-details.component.html
  core/src/app/shared/components/permissions/role-details/role-details.component.ts
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.html
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.ts
  lambda/src/app/shared/constants/constants.ts
  logging/src/app/search-form/search-form.component.html
Due: console-core

missing whitespace
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quota-entry-renderer/resource-quota-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/configmaps/configmaps-entry-renderer/configmaps-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/secrets/secrets-entry-renderer/secrets-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.ts
  core/src/app/content/namespaces/operation/services/services-entry-renderer/services-entry-renderer.component.ts
  core/src/app/content/settings/applications/application-details/application-details.component.ts
  core/src/app/content/settings/applications/applications-entry-renderer/applications-entry-renderer.component.ts
  core/src/app/shared/components/permissions/role-details/role-details.component.ts
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.ts
Due: console-core

missing whitespace
  core/src/app/content/namespaces/configuration/resources/resource-quotas/resource-quota-entry-renderer/resource-quota-entry-renderer.component.html
Due: console-core

missing emptyText variable
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-range-entry-renderer/limit-range-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/resources/limit-ranges/limit-range-entry-renderer/limit-range-entry-renderer.component.ts
  core/src/app/content/namespaces/operation/services/services-entry-renderer/services-entry-renderer.component.html
Due: console-core

Fix namespaceName reference error
  core/src/luigi-config/luigi-config.js
Due: console-core

Fix namespaceName reference error (#730)
  core/src/luigi-config/luigi-config.js
Due: console-core

add prefix to IDP Presets issuer by default
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.html
  core/src/app/content/settings/idp-presets/create-preset-modal/create-preset-modal.component.ts
Due: console-core

Fix a dead link
  README.md
Due: console-governance

Fix a dead link (#733)
  README.md
Due: console-governance

Log UI fails to auto-load logs for lambdas/pods the first time
  logging/src/app/search-form/search-form.component.ts
  logging/src/main.ts
Due: none

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/
