Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  console-tests: any of: ^tests/

Disable removing labels
  catalog/src/store/Filter/resolvers.js
  components/react/package-lock.json
Due: none

Change the code so the list of backend modules is fetched only once
  core/src/app/app.component.ts
  core/src/app/content/environments/operation/deployments/deployments.component.ts
  core/src/assets/luigi-config.js
  core/src/main.ts
Due: console-core

Fix packages (#469)
  brokers/package-lock.json
  brokers/package.json
  catalog/package-lock.json
  catalog/package.json
  catalog/src/store/Filter/resolvers.js
  components/react/docs/build/0.86e7073b.js
  components/react/docs/build/1.3ae25e80.js
  components/react/docs/build/bundle.2b16510c.js
  components/react/docs/build/bundle.b9aefa65.js
  components/react/docs/index.html
  components/react/package-lock.json
  components/react/package.json
  components/react/src/components/Markdown/Readme.md
  components/react/src/components/Modal/Confirmation/Readme.md
  components/react/src/components/Modal/Confirmation/index.js
  components/react/src/components/Modal/Information/Readme.md
  components/react/src/components/Modal/Information/index.js
  components/react/src/components/Modal/Readme.md
  components/react/src/components/Modal/Steps/Readme.md
  components/react/src/components/Modal/Steps/index.js
  components/react/styleguide.config.js
  components/react/webpack.config.dev.js
  components/react/webpack.config.js
  content/package-lock.json
  content/package.json
  content/src/components/MainPage/MainPage.component.js
  core/package-lock.json
  instances/package-lock.json
  instances/package.json
  instances/src/store/ServiceInstances/events.js
  tests/package-lock.json
Due: prow/console/brokers, console-governance, console-core, console-tests

part 1
  core/src/app/content/environments/environment-details/environment-details.component.html
Due: console-core

Pass the subscription config option in lambdaUI config
  lambda/src/app/app.config.ts
  lambda/src/app/subscriptions/subscriptions.service.ts
Due: none

Include fiori fundamentals and fundamental ngx in console (#493)
  core/angular.json
  core/package-lock.json
  core/package.json
  core/src/app/app.module.ts
Due: console-core

Render the navigation even if backendmodules call thows an error
  core/src/assets/luigi-config.js
Due: console-core

Enable media cache
  tests/ui-tests/utils/testContext.js
Due: console-tests

Pass backend modules as a list od strings
  core/src/assets/luigi-config.js
Due: console-core

Wrap bottom part into section
  core/src/app/content/environments/environment-details/environment-details.component.html
Due: console-core

Fix section tags
  core/src/app/content/environments/environment-details/environment-details.component.html
Due: console-core

Do not wait for DOMContentLoaded event
  tests/ui-tests/commands/common.js
Due: console-tests

Changes for first page.goto command
  tests/ui-tests/commands/common.js
  tests/ui-tests/utils/testContext.js
Due: console-tests

Environment details done
  core/src/app/content/environments/environment-details/environment-details.component.html
  core/src/app/content/environments/environment-details/environment-details.component.scss
Due: console-core

Aesthetic code update
  core/src/app/content/environments/environment-details/environment-details.component.html
Due: console-core

part 2
  core/src/app/content/settings/organisation/organisation.component.html
Due: console-core

debug
  lambda/src/app/app.config.ts
Due: none

Fix the push request time out to 2s
  lambda/src/app/app.config.ts
Due: none

Fix the camelcase
  lambda/src/app/app.config.ts
  lambda/src/app/subscriptions/subscriptions.service.ts
Due: none

Remove old change
  core/src/app/content/environments/operation/deployments/deployments.component.ts
Due: console-core

Part 3
  core/src/app/content/environments/environment-details/environment-details.component.html
  core/src/app/content/settings/organisation/organisation.component.html
  core/src/app/content/settings/organisation/organisation.component.scss
Due: console-core

Stabilise UI tests in variable network conditions (#484)
  core/package-lock.json
  core/package.json
  tests/ui-tests/commands/common.js
  tests/ui-tests/utils/testContext.js
Due: console-core, console-tests

Minor improvements
  core/src/app/content/settings/organisation/organisation.component.html
  core/src/app/content/settings/organisation/organisation.component.scss
Due: console-core

Fix promise synchronisation in ui test login
  tests/ui-tests/commands/console.js
Due: console-tests

retry ERR_NETWORK_CHANGED operation
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/utils/testContext.js
Due: console-tests

retry ERR_NETWORK_CHANGED operation
  tests/ui-tests/tests/console-basic-test.js
Due: console-tests

Fix promise synchronisation in ui tests (#499)
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/utils/testContext.js
Due: console-tests

Fix linter errors
  core/src/app/content/environments/environment-details/environment-details.component.html
Due: console-core

Fix `ng build --prod` error
  core/src/app/content/environments/environment-details/environment-details.component.ts
Due: console-core

Fix promise synchronisation in catalog-ui test
  tests/ui-tests/tests/catalog-ui-test.js
Due: console-tests

disable relogin for backend modules query to avoid infinite loop for logged out users
  core/src/assets/luigi-config.js
Due: console-core

Revert "Stabilise UI tests in variable network conditions (#484)"
  core/package-lock.json
  core/package.json
  tests/ui-tests/commands/common.js
  tests/ui-tests/utils/testContext.js
Due: console-core, console-tests

Add list of backend modules to the context (#497)
  core/src/app/app.component.ts
  core/src/assets/luigi-config.js
Due: console-core

Show bound services in deployments view conditionally based on backendModules data
  core/src/app/app.module.ts
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.ts
  core/src/app/content/environments/operation/deployments/deployment-header-renderer/deployment-header-renderer.component.html
  core/src/app/content/environments/operation/deployments/deployment-header-renderer/deployment-header-renderer.component.ts
  core/src/app/shared/services/luigi-client.service.ts
Due: console-core

Introduce ts config paths for simpler and shorter imports
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.ts
  core/src/app/content/environments/operation/deployments/deployment-header-renderer/deployment-header-renderer.component.ts
  core/src/tsconfig.app.json
  core/tsconfig.json
  core/tslint.json
Due: console-core

Give extra space to labels column when bound apps column is hidden
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
  core/src/app/content/environments/operation/deployments/deployment-header-renderer/deployment-header-renderer.component.html
Due: console-core

fix existing unit tests and add tests for new code
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.spec.ts
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.ts
  core/src/app/content/environments/operation/deployments/deployment-header-renderer/deployment-header-renderer.component.spec.ts
  core/src/app/shared/services/luigi-client.service.spec.ts
  core/src/app/shared/services/luigi-client.service.ts
  core/src/tsconfig.spec.json
Due: console-core

Add fundamental-ngx
  components/angular/generic-list/angular.json
  components/angular/generic-list/package.json
  components/angular/generic-list/src/app/modules/list/list.module.ts
Due: none

Use f-ngx in PagingComponent
  components/angular/generic-list/package-lock.json
  components/angular/generic-list/src/app/modules/list/paging/paging.component.html
  components/angular/generic-list/src/app/modules/list/paging/paging.component.scss
  components/angular/generic-list/src/app/modules/list/paging/paging.component.ts
Due: none
