Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-console-core-ui: any of: ^core-ui/|^components/|^shared/
  post-console-core-ui: any of: ^core-ui/|^components/|^shared/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/

fix a nasty bug with incorrect validation
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariablesForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/validation.js
Due: pre-console-core-ui, post-console-core-ui

make eslint happy
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/validation.js
Due: pre-console-core-ui, post-console-core-ui

Migrate Modal and ResourceNotFound
  shared/components/Modal/Modal.js
  shared/components/ResourceNotFound/ResourceNotFound.js
Due: pre-console-core-ui, post-console-core-ui

Move namespace details label editor inline
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  core-ui/src/components/LabelSelectorInput/test/LabelSelectorInput.test.js
  core-ui/src/components/LabelSelectorInput/test/__snapshots__/LabelSelectorInput.test.js.snap
  core-ui/src/components/Lambdas/components/LabelsInput/LabelsInput.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/EditNamespaceLabelsModal/EditNamespaceLabelsModal.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceDetailsHeader.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceLabels/NamespaceLabels.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceLabels/test/NamespaceLabels.test.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceLabels/test/mocks.js
  shared/components/HeaderLabelsEditor/HeaderLabelsEditor.js
  shared/components/HeaderLabelsEditor/HeaderLabelsEditor.scss
  shared/components/HeaderLabelsEditor/test/HeaderLabelsEditor.test.js
  shared/components/K8sNameInput/K8sNameInput.js
  shared/components/LabelSelectorInput/LabelSelectorInput.js
  shared/components/LabelSelectorInput/LabelSelectorInput.scss
  shared/components/LabelSelectorInput/test/LabelSelectorInput.test.js
  shared/components/LabelSelectorInput/test/labelRegexp.test.js
  shared/index.js
Due: pre-console-core-ui, post-console-core-ui

Use inline label editor in lambdas, pump up editor actions font size
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/EditLambdaLabelsModal.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaLabels.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/test/EditLambdaLabelsModal.test.js
  shared/components/HeaderLabelsEditor/HeaderLabelsEditor.js
Due: pre-console-core-ui, post-console-core-ui

Cleanup Notifications
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/EditApiRule/EditApiRule.js
  core-ui/src/components/ApiRules/useDeleteApiRule.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  shared/components/ModalWithForm/ModalWithForm.js
  shared/components/Notification/Notification.js
  shared/components/Notification/Notification.scss
  shared/contexts/NotificationContext.js
Due: pre-console-core-ui, post-console-core-ui

Show only initialized tenants
  compass/src/components/TenantSearch/fetchTenants.js
  compass/src/config/luigi-config/helpers/navigation-helpers.js
Due: pre-master-console-compass, post-master-console-compass

Send Bearer not bearer
  core-ui/src/apollo.js
Due: pre-console-core-ui, post-console-core-ui

Add workloads
  core-ui/src/components/NamespaceDetails/NamespaceDetails.js
  core-ui/src/components/NamespaceDetails/NamespaceWorkloads/NamespaceWorkloads.js
  core-ui/src/components/NamespaceDetails/NamespaceWorkloads/NamespaceWorkloads.scss
  core-ui/src/components/NamespaceDetails/NamespaceWorkloads/test/NamespaceWorkloads.test.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
  core-ui/src/gql/queries.js
  core-ui/src/shared/components/CircleProgress/CircleProgress.js
Due: pre-console-core-ui, post-console-core-ui

Address review comments
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  shared/contexts/NotificationContext.js
Due: pre-console-core-ui, post-console-core-ui

Adjust inline label editor layout
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceLabels/test/NamespaceLabels.test.js
  shared/components/HeaderLabelsEditor/HeaderLabelsEditor.js
  shared/components/HeaderLabelsEditor/HeaderLabelsEditor.scss
  shared/components/HeaderLabelsEditor/test/HeaderLabelsEditor.test.js
Due: pre-console-core-ui, post-console-core-ui

Adjust mocks
  core-ui/src/components/NamespaceDetails/NamespaceApplications/test/mocks.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceLabels/test/mocks.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/test/mocks.js
Due: pre-console-core-ui, post-console-core-ui

Use notification context
  core-ui/src/components/NamespaceDetails/DeployResourceModal/DeployResourceModal.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/test/DeployResourceModal.test.js
  core-ui/src/components/NamespaceDetails/NamespaceApplications/NamespaceApplications.js
  core-ui/src/components/NamespaceDetails/NamespaceDetailsHeader/NamespaceLabels/NamespaceLabels.js
Due: pre-console-core-ui, post-console-core-ui

Update serverless domain to use config from configmap
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsWrapper.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/shared.js
  core-ui/src/components/Lambdas/LambdasList/LambdasListWrapper.js
  core-ui/src/components/Lambdas/config.js
  core-ui/src/components/Lambdas/gql/hooks/queries/index.js
  core-ui/src/components/Lambdas/gql/hooks/queries/useConfigMapQuery.js
  core-ui/src/components/Lambdas/gql/queries.js
  core-ui/src/components/Lambdas/helpers/misc/index.js
  core-ui/src/components/Lambdas/helpers/misc/useConfigData.js
Due: pre-console-core-ui, post-console-core-ui

Show not initialized tenants in search
  compass/src/components/TenantSearch/TenantSearch.js
  compass/src/components/TenantSearch/fetchTenants.js
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

Fix tests
  core-ui/src/components/App/App.js
  core-ui/src/components/Lambdas/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsWrapper.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/test/LambdaVariables.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/shared.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/test/ResourceManagement.test.js
  core-ui/src/components/Lambdas/Lambdas.js
  core-ui/src/components/Lambdas/LambdasList/LambdasListWrapper.js
  core-ui/src/components/Lambdas/helpers/misc/useConfigData.js
Due: pre-console-core-ui, post-console-core-ui

Fix tests
  compass/src/components/TenantSearch/test/TenantSearch.test.js
Due: pre-master-console-compass, post-master-console-compass

Fix tests...
  core-ui/src/components/App/App.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/CodeAndDependencies.js
Due: pre-console-core-ui, post-console-core-ui

Add tests
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/CodeAndDependencies.js
  core-ui/src/components/Lambdas/config.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useConfigMapQuery.test.js
  core-ui/src/components/Lambdas/gql/hooks/queries/testMocks/index.js
  core-ui/src/components/Lambdas/gql/hooks/queries/testMocks/useConfigMapQuery.js
  core-ui/src/components/Lambdas/gql/hooks/queries/testMocks/useEventActivationsQuery.js
  core-ui/src/components/Lambdas/gql/hooks/queries/useConfigMapQuery.js
  core-ui/src/components/Lambdas/helpers/testing/mockData.js
Due: pre-console-core-ui, post-console-core-ui

Update values
  core-ui/src/components/Lambdas/config.js
Due: pre-console-core-ui, post-console-core-ui

Add timeout for error notifications
  shared/contexts/NotificationContext.js
Due: pre-console-core-ui, post-console-core-ui

Fix imports..............
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/CodeAndDependencies.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/gql/hooks/queries/useConfigMapQuery.js
Due: pre-console-core-ui, post-console-core-ui

Allow multiple resource upload
  core-ui/src/components/NamespaceDetails/DeployResourceModal/DeployResourceModal.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/deployResourceHelpers.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/test/DeployResourceModal.test.js
  core-ui/src/components/NamespaceDetails/DeployResourceModal/test/deployResourceHelpers.test.js
Due: pre-console-core-ui, post-console-core-ui

Allow multiple resource upload
  core-ui/src/components/NamespaceDetails/DeployResourceModal/test/DeployResourceModal.test.js
Due: pre-console-core-ui, post-console-core-ui

Fix changed button prop name in modal
  shared/components/Modal/Modal.js
Due: pre-console-core-ui, post-console-core-ui

Fix lambdas test
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaLabels.js
Due: pre-console-core-ui, post-console-core-ui

Review fixes - use non-compact button
  shared/components/HeaderLabelsEditor/HeaderLabelsEditor.js
  shared/components/HeaderLabelsEditor/HeaderLabelsEditor.scss
Due: pre-console-core-ui, post-console-core-ui

set cache-and-network fetch policy globally
  service-catalog-ui/src/apollo.js
Due: none

Enable tests for SC
  service-catalog-ui/Dockerfile
Due: none

Fix legacy applications
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.ts
Due: pre-master-console-core, post-master-console-core

Fix margin in multirow Labels
  shared/components/Labels/Labels.js
  shared/components/Labels/test/Labels.test.js
  shared/components/Labels/test/__snapshots__/Labels.test.js.snap
Due: pre-console-core-ui, post-console-core-ui

simplify the modal code
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
Due: pre-console-core-ui, post-console-core-ui

Fix margin in multirow Labels
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaLabels.js
  shared/components/Labels/test/Labels.test.js
  shared/components/Labels/test/__snapshots__/Labels.test.js.snap
Due: pre-console-core-ui, post-console-core-ui

Fix namespaces title
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/NamespaceListHeader.test.js
Due: pre-console-core-ui, post-console-core-ui

adjust other tests
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
  core-ui/src/components/Applications/BindNamespaceModal/test/BindNamespaceModal.test.js
  core-ui/src/components/Applications/BindNamespaceModal/test/mocks.js
Due: pre-console-core-ui, post-console-core-ui

Unify padding on infinite list
  compass/src/components/Runtimes/InfiniteList.js
Due: pre-master-console-compass, post-master-console-compass

Unify infinite list paddings
  compass/src/components/Runtimes/InfiniteList.js
Due: pre-master-console-compass, post-master-console-compass

remove redundant params passed
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
Due: pre-console-core-ui, post-console-core-ui

Update alpine to fix protecode vulns
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Bump alpine in other imaes
  add-ons/Dockerfile
  compass/Dockerfile
  content/Dockerfile
  core-ui/Dockerfile
  logging/Dockerfile
  service-catalog-ui/Dockerfile
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-content, post-master-console-content, pre-console-core-ui, post-console-core-ui, pre-master-console-logging, post-master-console-logging
