Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Add Service Bindings Panel in Function view in core-ui
  core-ui/src/components/Lambdas/Checkbox/Checkbox.js
  core-ui/src/components/Lambdas/Checkbox/test/Checkbox.test.js
  core-ui/src/components/Lambdas/CreateServiceBindingForm/CreateServiceBindingForm.js
  core-ui/src/components/Lambdas/CreateServiceBindingForm/test/CreateServiceBindingForm.test.js
  core-ui/src/components/Lambdas/CreateServiceBindingForm/test/gqlMocks.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/Configuration.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ConfigurationForm/ConfigurationForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ConfigurationForm/test/ConfigurationForm.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ConfigurationForm/test/__snapshots__/ConfigurationForm.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ConfigurationForm/test/mocks.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.scss
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindingsService.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindingsWrapper.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/helpers.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindings.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindingsService.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindingsWrapper.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/__snapshots__/ServiceBindings.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/__snapshots__/ServiceBindingsService.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/__snapshots__/ServiceBindingsWrapper.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/gqlMocks.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/helpers.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/test/Configuration.ui.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/test/__snapshots__/Configuration.ui.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetails.ui.test.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix eslint errors
  core-ui/src/components/Lambdas/CreateServiceBindingForm/CreateServiceBindingForm.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/Configuration.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Use <Badge> instead of buggy <Counter>
  core/package-lock.json
  lambda/package-lock.json
  logging/package-lock.json
  package-lock.json
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/catalog/src/components/ServiceClassList/styled.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesList.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/styled.js
Due: pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Downgrade nginx version to use alpine 3.9
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Add icon
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.scss
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/InstancesIndicator.js
Due: none

Display the icon only if appropriate label is set
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.component.js
Due: none

Adjust icon appearance
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.scss
Due: none

Ignore the per-plan label on label list
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Labels.js
Due: none

Update styles
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.scss
Due: none

Small readme changes
  README.md
Due: console-governance

Update tooltip text
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.component.js
Due: none

Fix tests
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/test/Card.test.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/test/__snapshots__/InstancesIndicator.test.js.snap
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/catalog/src/components/ServiceClassList/test/ServiceClassList.test.js
Due: none

Fixes after review
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.scss
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Labels.js
Due: none

Move the icon to card_actions
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.scss
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/InstancesIndicator.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/test/__snapshots__/InstancesIndicator.test.js.snap
Due: none

Add new tests and aria-label attrib
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/test/Card.test.js
  service-catalog-ui/catalog/src/setupTests.js
Due: none

Fix key prop warning
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassList.js
Due: none

Fix non-existing Counter element & key-prop error
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesList.js
Due: none

fix another key-prop warning
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesList.js
Due: none

fix tests
  service-catalog-ui/catalog/src/components/ServiceClassList/test/ServiceClassList.test.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/test/ServiceInstancesList.test.js
Due: none

Fix counter in statusIndicator component
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
Due: none

Use alpine image
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Unify API Rules naming
  core-ui/src/components/ApiRules/ApiRules.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add Service Plans list
  service-catalog-ui/catalog/src/components/App/App.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Cards.component.js
  service-catalog-ui/catalog/src/components/ServicePlansList/ServicePlansList.js
  service-catalog-ui/catalog/src/components/ServicePlansList/queries.js
  service-catalog-ui/catalog/src/index.js
  service-catalog-ui/catalog/src/index.scss
  shared/components/PageHeader/PageHeader.js
Due: none

Fix log lines in log UI
  logging/src/components/LogTable/LogTable.js
Due: pre-master-console-logging, post-master-console-logging

Update Dockerfile
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Change user
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

Clean query from unnecessary fields
  service-catalog-ui/catalog/src/components/ServicePlansList/queries.js
Due: none

Change nginx to alpine in all dockerfiles
  add-ons/Dockerfile
  compass/Dockerfile
  content/Dockerfile
  core-ui/Dockerfile
  lambda/Dockerfile
  logging/Dockerfile
  service-catalog-ui/Dockerfile
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-logging, post-master-console-logging

Change the tests
  core-ui/src/components/ApiRules/test/ApiRules.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Lambda triggers purely based on knative triggers
  lambda/src/app/app.module.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.spec.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/lambdas/list/lambdas.component.spec.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
  lambda/src/app/subscriptions/subscriptions.service.spec.ts
  lambda/src/app/subscriptions/subscriptions.service.ts
Due: none

Fix
  content/Dockerfile
  core/Dockerfile
Due: pre-master-console-content, post-master-console-content, pre-master-console-core, post-master-console-core

Fix
  content/nginx.conf
Due: pre-master-console-content, post-master-console-content

Add ServiceClassPlansList tests
  service-catalog-ui/catalog/src/components/App/App.js
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/ServiceClassPlansList.js
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/queries.js
  service-catalog-ui/catalog/src/components/ServiceClassPlansList/test/ServiceClassPlansList.test.js
  service-catalog-ui/catalog/src/setupTests.js
  service-catalog-ui/catalog/src/testing/queriesMocks.js
  service-catalog-ui/catalog/src/testing/serviceClassesMocks.js
  service-catalog-ui/catalog/src/variables.js
Due: none

Support plan in navigation; extract api-package constants to shared folder
  service-catalog-ui/catalog/src/components/App/App.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.component.js
  service-catalog-ui/catalog/src/shared/constants.js
Due: none

change Header 'children' prop type to node
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
Due: none

Test
  content/Dockerfile
Due: pre-master-console-content, post-master-console-content

Add icon to inform that service is an API package
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.scss
Due: none

Revert "Test"
  content/Dockerfile
Due: pre-master-console-content, post-master-console-content

Remove the policies that relax the default CSP around javascript evaluation
  core/nginx/nginx.conf
Due: pre-master-console-core, post-master-console-core

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
