Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/

Fix test race
  tests/ui-tests/setup/helm-broker/config.js
  tests/ui-tests/setup/helm-broker/configurer.js
  tests/ui-tests/setup/test-bundle-installer.js
Due: console-tests

improvement
  core/nginx/nginx.conf
Due: console-core

tets
  core/nginx/nginx.conf
Due: console-core

set default domain to kyma.local
  core/nginx/nginx.conf
Due: console-core

Use configmap to create testing bundle (#601)
  tests/ui-tests/setup/helm-broker/config.js
  tests/ui-tests/setup/helm-broker/configurer.js
  tests/ui-tests/setup/test-bundle-installer.js
Due: console-tests

csp for console (#584)
  core/nginx/nginx.conf
Due: console-core

removed changes to unrelated modules
  catalog/package-lock.json
  instances/package-lock.json
Due: none

removed changes to unrelated modules
  brokers/src/commons/builder.js
  brokers/src/commons/helpers.js
  brokers/src/components/App/App.component.js
  brokers/src/store/index.js
  brokers/src/store/transformers.js
  catalog/package-lock.json
  catalog/src/commons/asyncapi.js
  catalog/src/commons/helpers.js
  catalog/src/components/App/App.component.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  catalog/src/store/defaults.js
  catalog/src/store/index.js
  catalog/src/store/resolvers.js
  catalog/src/store/transformers.js
  content/src/App.js
  content/src/commons/helpers.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/DocsContent/styled.js
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/styled.js
  content/src/store/index.js
  content/src/store/transformers.js
  instances/package-lock.json
  instances/src/commons/asyncapi.js
  instances/src/commons/helpers.js
  instances/src/components/App/App.component.js
  instances/src/components/DataProvider/DataProvider.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/DeleteBindingModal/DeleteBindingModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
  instances/src/store/ServiceInstances/events.js
  instances/src/store/index.js
Due: prow/console/brokers

Update index.js
  components/react/src/components/BackendModuleDisabled/index.js
Due: none

Update styled.js
  components/react/src/components/BackendModuleDisabled/styled.js
Due: none

user
  core/src/app/shared/components/permissions/bindings/binding-header-renderer/binding-header-renderer.component.html
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.html
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.spec.ts
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.ts
  core/src/app/shared/services/rbac.service.ts
Due: console-core

tets
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.spec.ts
Due: console-core

fix
  package.json
Due: none

fix (#614)
  package.json
Due: none

improvment
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.ts
  core/src/app/shared/services/rbac.service.ts
Due: console-core

improvment
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.ts
Due: console-core

data
  core/nginx/nginx.conf
Due: console-core

test
  core/nginx/nginx.conf
Due: console-core

Add default namespace filtering to workspace-overview page (#611)
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.ts
  core/src/luigi-config/luigi-config.js
Due: console-core

Add action to the context switcher (#616)
  core/src/luigi-config/luigi-config.js
Due: console-core

Fix icons in catalog, instances and react-components (#600)
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/styled.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/styled.js
  catalog/src/components/ServiceClassList/Cards/Card.component.js
  catalog/src/components/ServiceClassList/Cards/styled.js
  components/react/src/components/Icon/Readme.md
  components/react/src/components/Notification/index.js
  components/react/src/components/NotificationMessage/index.js
  components/react/src/components/Search/components.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/SchemaData.component.js
Due: console-governance

whitespace
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.html
Due: console-core

Avoid fetching microfrontends for internal k8s namespaces (#605)
  core/src/luigi-config/luigi-config.js
Due: console-core

Message done
  package.json
  scripts/pre-start-warning.sh
Due: none

Add color support
  scripts/pre-start-warning.sh
Due: none

Add comments & improve formatting
  scripts/pre-start-warning.sh
Due: none

Add Makefile for react-odata and fix errors left after initial PR
  components/react-odata/Makefile
  components/react-odata/package-lock.json
  components/react-odata/package.json
  components/react-odata/src/components/Table/ServiceDocumentationTable/ServiceDocumentationTable.tsx
  components/react-odata/tslint.json
  components/react-odata/yarn.lock
Due: none

improvement
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.ts
  core/src/app/shared/services/rbac.service.ts
Due: console-core

naming
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.html
  core/src/app/shared/components/role-binding-modal/role-binding-modal.component.ts
  core/src/app/shared/services/rbac.service.ts
Due: console-core

Remove old Jenkinsfile and references to whitesource
  brokers/Makefile
  catalog/Makefile
  components/react-odata/Makefile
  components/react/Jenkinsfile
  components/react/Makefile
  content/Makefile
  core/Makefile
  instances/Makefile
  lambda/Makefile
  logging/Makefile
  tests/Makefile
Due: prow/console/brokers, console-core, console-tests

Add linting to Makefile
  components/react-odata/Makefile
  components/react-odata/package.json
  components/react-odata/src/react-app-env.d.ts
  components/react-odata/src/serviceWorker.ts
Due: none
