Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Refactor create instance modal
  service-catalog-ui/catalog/package-lock.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/catalog/src/components/App/App.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.container.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/styled.js
  service-catalog-ui/catalog/src/shared/K8sNameInput/K8sNameInput.js
  service-catalog-ui/catalog/src/shared/ModalWithForm/ModalWithForm.js
Due: none

Add tests for Collapsible Panel
  core-ui/src/components/Lambdas/LambdaDetails/CollapsiblePanel/CollapsiblePanel.js
  core-ui/src/components/Lambdas/LambdaDetails/CollapsiblePanel/CollapsiblePanel.scss
  core-ui/src/components/Lambdas/LambdaDetails/CollapsiblePanel/test/CollapsiblePanel.ui.test.js
  core-ui/src/components/Lambdas/LambdaDetails/CollapsiblePanel/test/__snapshots__/CollapsiblePanel.ui.test.js.snap
Due: pre-master-console-core-ui, post-master-console-core-ui

add access strategy section
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.js
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

fix visuals
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.scss
  shared/components/HostWithPortInput/HostWithPortInput.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

add Delete button
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Move CollapsiblePanel to shared place, remove unused files
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaDependencies.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/test/__snapshots__/Configuration.ui.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/test/Code.ui.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/test/Configuration.ui.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/test/__snapshots__/Code.ui.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/test/__snapshots__/Configuration.ui.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/test/mocks.js
  shared/components/CollapsiblePanel/CollapsiblePanel.js
  shared/components/CollapsiblePanel/CollapsiblePanel.scss
  shared/components/CollapsiblePanel/test/CollapsiblePanel.ui.test.js
  shared/components/CollapsiblePanel/test/__snapshots__/CollapsiblePanel.ui.test.js.snap
  shared/index.js
  shared/jestSetup.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Display mutators as a table
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.js
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Add another strategy
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.js
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.scss
  core-ui/src/index.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

removed non-static-user check
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/docs-ui-test.js
  tests/ui-tests/tests/lambda-ui-test.js
  tests/ui-tests/tests/logging-test.js
  tests/ui-tests/utils/dex.js
Due: pre-master-console-tests, post-master-console-tests

fix
  tests/ui-tests/config.js
Due: pre-master-console-tests, post-master-console-tests

test
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Refactor create instance modal
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.scss
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/mutations.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/test/gqlMocks.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/catalog/src/shared/ModalWithForm/ModalWithForm.js
  service-catalog-ui/catalog/src/testing/queriesMocks.js
Due: none

Add floating buttons
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.js
  core-ui/src/components/ApiRuleCreationDraft/ApiRuleCreationDraft.scss
  core-ui/src/index.scss
  package.json
  shared/components/FloatingControls/FloatingControls.js
  shared/components/FloatingControls/FloatingControls.scss
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Connect Application [Compass]
  compass/package-lock.json
  compass/package.json
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.component.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.container.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.scss
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.component.test.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/ConnectApplicationModal.container.test.js
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/test/mock.js
  compass/src/components/Application/gql.js
Due: pre-master-console-compass, post-master-console-compass

Document setClusterConfig.sh
  README.md
Due: console-governance

Add checkClusterAvailability.sh instruction
  README.md
Due: console-governance

Open modal by clicking on header
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/test/__snapshots__/LambdaDependencies.ui.test.js.snap
  shared/components/CollapsiblePanel/CollapsiblePanel.js
  shared/components/CollapsiblePanel/CollapsiblePanel.scss
  shared/components/CollapsiblePanel/test/CollapsiblePanel.ui.test.js
  shared/components/CollapsiblePanel/test/__snapshots__/CollapsiblePanel.ui.test.js.snap
Due: pre-master-console-core-ui, post-master-console-core-ui

Refactor create instance modal
  components/react/src/components/Forms/JSONSchema/index.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/queries.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  service-catalog-ui/catalog/src/shared/ModalWithForm/ModalWithForm.js
  service-catalog-ui/catalog/src/shared/typechecking/CustomPropTypes.js
  service-catalog-ui/catalog/src/shared/typechecking/test/CustomPropTypes.test.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content

Working
  service-catalog-ui/catalog/src/shared/ModalWithForm/ModalWithForm.js
Due: none

Cleaning
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  service-catalog-ui/catalog/src/shared/ModalWithForm/ModalWithForm.js
Due: none

Submitting forms
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.js
  service-catalog-ui/catalog/src/shared/ModalWithForm/ModalWithForm.js
Due: none

Fix missing serviceClass in header
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.component.js
Due: none

Fix create instance button
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.container.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  service-catalog-ui/catalog/src/shared/ModalWithForm/ModalWithForm.js
Due: none

Clean up code & rename formElementRefAdditional
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/BasicData.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.container.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/styled.js
  service-catalog-ui/catalog/src/components/ServiceClassList/searchUtils.js
  service-catalog-ui/catalog/src/shared/ModalWithForm/ModalWithForm.js
Due: none

Fix ServiceClassDetails test
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/catalog/src/setupTests.js
  service-catalog-ui/catalog/src/shared/ModalWithForm/test/__snapshots__/ModalWithForm.test.js.snap
Due: none

Code review
  compass/src/components/Application/ApplicationDetails/ConnectApplicationModal/ConnectApplicationModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Fix create modal test
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/catalog/src/testing/queriesMocks.js
Due: none

Fix a typo
  shared/components/CollapsiblePanel/CollapsiblePanel.js
Due: none

Create new cluster addons layout
  add-ons/package-lock.json
  add-ons/package.json
  add-ons/src/components/AddonConfigurationBadge/AddonConfigurationBadge.tsx
  add-ons/src/components/AddonList/AddonList.scss
  add-ons/src/components/AddonList/AddonList.tsx
  add-ons/src/components/AddonPanel/AddonPanel.scss
  add-ons/src/components/AddonPanel/AddonPanel.tsx
  add-ons/src/components/AddonPanel/AddonTable/AddonTable.tsx
  add-ons/src/components/AddonPanel/RepositoryTableSegment/RepositoryTableSegment.scss
  add-ons/src/components/AddonPanel/RepositoryTableSegment/RepositoryTableSegment.tsx
  add-ons/src/components/CollapsiblePanel/CollapsiblePanel.scss
  add-ons/src/components/CollapsiblePanel/CollapsiblePanel.tsx
  add-ons/src/components/LabelDisplay/LabelDisplay.scss
  add-ons/src/components/LabelDisplay/LabelDisplay.tsx
  add-ons/src/components/Modals/DeleteConfigurationModal/DeleteConfigurationModal.component.tsx
  add-ons/src/components/Modals/DeleteUrlModal/DeleteUrlModal.component.tsx
  add-ons/src/components/Modals/DeleteUrlModal/styled.ts
  add-ons/src/core/App.scss
  add-ons/src/core/App.tsx
  add-ons/src/services/Queries.service.ts
  add-ons/src/types.ts
Due: none

Fix compilation warning
  add-ons/src/components/AddonList/AddonList.tsx
Due: none

Wire resync button
  add-ons/src/components/AddonPanel/AddonPanel.tsx
  add-ons/src/services/Queries.service.ts
  add-ons/src/services/Subscriptions.service.ts
  common/src/services/notifications/notifications.service.ts
Due: none

Small improvements
  add-ons/src/components/AddonPanel/AddonPanel.tsx
  add-ons/src/components/AddonPanel/RepositoryTableSegment/RepositoryTableSegment.scss
  add-ons/src/components/AddonPanel/RepositoryTableSegment/RepositoryTableSegment.tsx
Due: none

Dont show empty url table
  add-ons/src/components/AddonPanel/AddonPanel.tsx
  add-ons/src/components/AddonPanel/RepositoryTableSegment/RepositoryTableSegment.tsx
  add-ons/src/components/CollapsiblePanel/CollapsiblePanel.tsx
  add-ons/src/services/Mutations.service.ts
  add-ons/src/types.ts
Due: none

Cleanup unnecesary null checks, rename css class
  add-ons/src/components/AddonList/AddonList.scss
  add-ons/src/components/AddonList/AddonList.tsx
  add-ons/src/components/AddonPanel/AddonPanel.tsx
  add-ons/src/components/AddonPanel/AddonTable/AddonTable.tsx
Due: none

Unify usage of React.FunctionComponent
  add-ons/src/components/AddonConfigurationBadge/AddonConfigurationBadge.tsx
  add-ons/src/components/AddonPanel/AddonPanel.tsx
  add-ons/src/components/AddonPanel/AddonTable/AddonTable.tsx
  add-ons/src/components/AddonPanel/RepositoryTableSegment/RepositoryTableSegment.tsx
  add-ons/src/components/CollapsiblePanel/CollapsiblePanel.tsx
  add-ons/src/components/LabelDisplay/LabelDisplay.tsx
Due: none

Fix typenames error
  add-ons/package-lock.json
  add-ons/package.json
  package-lock.json
  package.json
Due: none

Change environment id mock to Luigi
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassList.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/test/ServiceClassList.test.js
  service-catalog-ui/catalog/src/shared/ModalWithForm/ModalWithForm.js
  service-catalog-ui/catalog/src/testing/queriesMocks.js
  service-catalog-ui/catalog/src/testing/serviceClassesMocks.js
Due: none

Click on panel title to expand/collapse panel
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/test/__snapshots__/LambdaDependencies.ui.test.js.snap
  shared/components/CollapsiblePanel/CollapsiblePanel.js
  shared/components/CollapsiblePanel/test/__snapshots__/CollapsiblePanel.ui.test.js.snap
Due: pre-master-console-core-ui, post-master-console-core-ui

Add test for creating instance
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
Due: none

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
