Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/

Install root dependencies for Core
  core/Makefile
Due: pre-master-console-core, post-master-console-core

Recognize url params in try_files directive
  core/nginx/nginx.conf
Due: pre-master-console-core, post-master-console-core

Optimize Compass Makefile and Dockerfile
  compass/Dockerfile
  compass/Makefile
  lambda/Makefile
  package.json
Due: pre-master-console-compass, post-master-console-compass

Fix detached frame error, inclrease slowMo, increase test service creation timeout
  tests/ui-tests/setup/k8s-api/k8s-api-deployment.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/utils/testContext.js
Due: pre-master-console-tests, post-master-console-tests

Fix context switcher bug in Instances
  service-catalog-ui/instances/src/commons/builder.js
Due: none

Add httpService & labels loading
  common/src/index.ts
  logging/src/App.js
  logging/src/components/Shared/LabelsInput/DropdownRenderer/DropdownRenderer.js
  logging/src/components/Shared/LabelsInput/LabelsInput.js
  logging/src/constants.js
  logging/src/services/httpService.js
  logging/src/store/httpConfig.js
  logging/src/store/index.js
Due: pre-master-console-logging, post-master-console-logging

Cleanup renderActionElement
  compass/src/shared/components/GenericList/internalRenderers.js
Due: pre-master-console-compass, post-master-console-compass

Update snapshot
  compass/src/shared/components/GenericList/test/__snapshots__/internalRenderers.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Implement log fetching
  logging/src/components/Header/Header.js
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
  logging/src/services/httpService.js
  logging/src/services/queryService.js
  logging/src/store/httpConfig.js
Due: pre-master-console-logging, post-master-console-logging

Add missing classname to Docu component
  components/generic-documentation/src/layouts/CompassUI.tsx
Due: none

Update compass/package.json
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Update 'concurrently' usage
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Continue implementing log fetching
  logging/public/config/config.js
  logging/src/App.js
  logging/src/components/CompactHeader/test/__snapshots__/CompactHeader.test.js.snap
  logging/src/components/Header/Header.js
  logging/src/components/Header/test/__snapshots__/Header.test.js.snap
  logging/src/components/Logs.js
  logging/src/components/Shared/AdvancedSettings/AdvancedSettings.js
  logging/src/components/Shared/AdvancedSettings/test/__snapshots__/AdvancedSettings.test.js.snap
  logging/src/components/Shared/LabelsInput/DropdownRenderer/DropdownRenderer.js
  logging/src/components/Shared/LabelsInput/LabelsInput.js
  logging/src/components/Shared/SearchInput/SearchInput.js
  logging/src/components/Shared/SearchInput/SearchInput.scss
  logging/src/components/Shared/SearchInput/test/SearchInput.ui.test.js
  logging/src/components/Shared/SearchInput/test/__snapshots__/SearchInput.test.js.snap
  logging/src/index.js
  logging/src/services/httpService.js
  logging/src/services/queryService.js
  logging/src/services/queryTransformService.js
Due: pre-master-console-logging, post-master-console-logging

Fix nginx app root
  logging/nginx.conf
Due: pre-master-console-logging, post-master-console-logging

Turn off testing on precommits tempoarliy
  logging/Dockerfile
  logging/Makefile
Due: pre-master-console-logging, post-master-console-logging

Prepare presentable version
  logging/Dockerfile
  logging/Makefile
  logging/package-lock.json
  logging/package.json
  logging/src/components/CompactHeader/test/__snapshots__/CompactHeader.test.js.snap
  logging/src/components/Header/test/__snapshots__/Header.test.js.snap
  logging/src/components/Logs.js
  logging/src/constants.js
  logging/src/services/httpService.js
  logging/src/services/queryTransformService.js
Due: pre-master-console-logging, post-master-console-logging

Fix tests
  logging/src/App.js
  logging/src/components/CompactHeader/test/CompactHeader.test.js
  logging/src/components/Header/test/Header.test.js
  logging/src/components/LogTable/LogTable.js
  logging/src/components/LogTable/test/LogTable.test.js
  logging/src/components/LogTable/test/__snapshots__/LogTable.test.js.snap
  logging/src/components/Logs.js
  logging/src/components/LogsContainer.js
  logging/src/components/Shared/AdvancedSettings/test/AdvancedSettings.test.js
  logging/src/components/Shared/LabelsDisplay/test/LabelsDisplay.test.js
  logging/src/components/Shared/LabelsDisplay/test/LabelsDisplay.ui.test.js
  logging/src/components/Shared/LabelsInput/DropdownRenderer/DropdownRenderer.js
  logging/src/components/Shared/LabelsInput/DropdownRenderer/test/DropdownRenderer.test.js
  logging/src/components/Shared/LabelsInput/DropdownRenderer/test/DropdownRenderer.ui.test.js
  logging/src/components/Shared/LabelsInput/DropdownRenderer/test/__snapshots__/DropdownRenderer.test.js.snap
  logging/src/components/Shared/LabelsInput/LabelsInput.js
  logging/src/components/Shared/ResultsOptionsDropdown/test/ResultOptionsDropdown.test.js
  logging/src/components/Shared/SearchInput/test/SearchInput.test.js
  logging/src/components/Shared/SearchInput/test/__snapshots__/SearchInput.test.js.snap
  logging/src/components/Shared/SelectDropdown/test/SelectDropdown.test.js
  logging/src/components/Shared/SelectDropdown/test/__snapshots__/SelectDropdown.test.js.snap
  logging/src/components/test/Logs.test.js
  logging/src/components/test/__snapshots__/Logs.test.js.snap
  logging/src/constants.js
  logging/src/services/httpService.js
  logging/src/services/queryTransformService.js
Due: pre-master-console-logging, post-master-console-logging

Create presentable version with live logs
  logging/Dockerfile
  logging/Makefile
  logging/src/components/Logs.js
  logging/src/components/Shared/LabelsInput/DropdownRenderer/test/DropdownRenderer.ui.test.js
  logging/src/components/test/__snapshots__/Logs.test.js.snap
  logging/src/services/httpService.js
  logging/src/services/queryTransformService.js
  logging/src/services/test/queryTransformService.test.js
Due: pre-master-console-logging, post-master-console-logging

Add auto refresh button
  logging/src/components/CompactHeader/CompactHeader.js
  logging/src/components/CompactHeader/test/CompactHeader.test.js
  logging/src/components/CompactHeader/test/__snapshots__/CompactHeader.test.js.snap
  logging/src/components/Header/Header.js
  logging/src/components/Header/test/Header.test.js
  logging/src/components/Header/test/Header.ui.test.js
  logging/src/components/Header/test/__snapshots__/Header.test.js.snap
  logging/src/components/Header/test/__snapshots__/Header.ui.test.js.snap
  logging/src/components/Logs.js
  logging/src/components/Shared/AutoRefreshButton/AutoRefreshButton.js
  logging/src/components/Shared/AutoRefreshButton/test/AutoRefreshButton.test.js
  logging/src/components/Shared/AutoRefreshButton/test/AutoRefreshButton.ui.test.js
  logging/src/components/Shared/AutoRefreshButton/test/__snapshots__/AutoRefreshButton.test.js.snap
  logging/src/components/test/__snapshots__/Logs.test.js.snap
  logging/src/services/podSubscriptionService.js
  logging/src/services/queryTransformService.js
  logging/src/services/test/queryTransformService.test.js
Due: pre-master-console-logging, post-master-console-logging

Stringify schema
  compass/package-lock.json
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.component.js
  compass/src/components/Labels/CreateLabelModal/LabelSpecificationUploadHelper.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
  package-lock.json
Due: pre-master-console-compass, post-master-console-compass

WIP - refactor ServiceClassInfo
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
Due: none

Start adding pods subscription
  config.js
  logging/src/components/CompactHeader/test/__snapshots__/CompactHeader.test.js.snap
  logging/src/components/Header/test/__snapshots__/Header.test.js.snap
  logging/src/components/Logs.js
  logging/src/components/LogsContainer.js
  logging/src/components/Shared/AutoRefreshButton/AutoRefreshButton.js
  logging/src/components/Shared/AutoRefreshButton/test/__snapshots__/AutoRefreshButton.test.js.snap
  logging/src/components/test/__snapshots__/Logs.test.js.snap
  logging/src/index.js
  logging/src/services/podSubscriptionService.js
  logging/src/store/builder.js
  logging/src/store/httpConfig.js
  logging/src/store/index.js
Due: pre-master-console-logging, post-master-console-logging

Stringify schema
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.container.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.container.js
Due: pre-master-console-compass, post-master-console-compass

Fix tests
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.container.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.container.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/mock.js
Due: pre-master-console-compass, post-master-console-compass

Configure slowMoFactor per test
  tests/ui-tests/commands/common.js
  tests/ui-tests/config.js
  tests/ui-tests/setup/k8s-api/k8s-api-deployment.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/tests/lambda-ui-test.js
  tests/ui-tests/utils/testContext.js
Due: pre-master-console-tests, post-master-console-tests

fix "Cannot update during an existing state transition" error
  service-catalog-ui/instances/src/components/ServiceInstances/ServiceInstances.component.js
Due: none

Import fonts and icons from Fundamental in Core
  core/src/styles.scss
Due: pre-master-console-core, post-master-console-core

Wait for full instance to appear before evaluating instances count
  tests/ui-tests/config.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/lambda-ui-test.js
Due: pre-master-console-tests, post-master-console-tests

Remove duplicating dependencies from GenericList
  components/angular/generic-list/package-lock.json
  components/angular/generic-list/package.json
  package.json
Due: none

Fix label definitions in other queries
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.container.js
  compass/src/components/Scenarios/Scenarios.component.js
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Save window location after relogin
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation-helpers.js
Due: pre-master-console-core, post-master-console-core

dont use luigi-core on root level
  compass/package-lock.json
  compass/package.json
  core/angular.json
  core/package-lock.json
  core/package.json
  package-lock.json
  package.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core, post-master-console-core

changes after code review
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
Due: pre-master-console-compass, post-master-console-compass

Fix local tests - crypto polyfill
  compass/src/setupTests.js
Due: pre-master-console-compass, post-master-console-compass

ignore generated config.js
  logging/.gitignore
Due: pre-master-console-logging, post-master-console-logging

Migrate some packages upwards
  logging/package-lock.json
  logging/package.json
  package-lock.json
Due: pre-master-console-logging, post-master-console-logging

remove config.js from index
  logging/public/config/config.js
Due: pre-master-console-logging, post-master-console-logging

Remove enitityName param
  logging/src/components/LogTable/LogTable.js
  logging/src/components/Logs.js
Due: pre-master-console-logging, post-master-console-logging

Fix search input
  logging/src/components/Logs.js
  logging/src/components/Shared/SearchInput/SearchInput.js
  logging/src/services/httpService.js
  logging/src/services/queryTransformService.js
Due: pre-master-console-logging, post-master-console-logging
