Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Move dex metadata fetch to auth file
  compass/src/config/luigi-config/auth.js
  compass/src/config/luigi-config/main.js
Due: pre-master-console-compass, post-master-console-compass

Cleanup pt2
  tests/helpers.js
  tests/package.json
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Multiple login methods
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Use async setInterval in waitForAuth
  tests/asyncInterval.js
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Add curl to the image
  tests/Dockerfile
Due: pre-master-console-tests, post-master-console-tests

Remove initialIsValid
  compass/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
  compass/src/shared/components/ModalWithForm/ModalWithForm.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui

Use timeout instead of waitforauth
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Revalidate form on setting custom validity
  compass/src/shared/components/ModalWithForm/ModalWithForm.js
  core-ui/src/components/ModalWithForm/ModalWithForm.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui

Adjust formatting
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/SecretDataModal/SecretDataModal.component.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/SecretDataModal/styled.js
Due: none

Fix login method
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Improve multiple methods login
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Simplify choosing login role
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Add skipIfBackendModuleExists
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Cleanup
  tests/asyncInterval.js
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Simplify roles
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

.
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Simplify even more
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Fix 'false' to false convertion
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Update codeowners
  CODEOWNERS
Due: none

Update Luigi to 1.0.0
  core/package-lock.json
  core/package.json
  core/src/luigi-config/auth.js
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

Update Luigi to 1.0.0
  compass/package-lock.json
  compass/package.json
  core/src/luigi-config/auth.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core, post-master-console-core, pre-master-console-whitesource-scan

Disable CSP
  service-catalog-ui/nginx.conf
Due: none

Disable sts & xss
  service-catalog-ui/nginx.conf
Due: none

Align secret details modal
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/SecretDataModal/SecretDataModal.component.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/SecretDataModal/styled.js
Due: none

Fix title of CreateCredentialsModal
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
Due: none

Restrict code modals width
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ParametersDataModal/styled.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/styled.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesTable/styled.js
Due: none

Use cluster config in fetchDexMetadata
  core/src/luigi-config/auth.js
Due: pre-master-console-core, post-master-console-core

Remove pijany
  compass/src/config/luigi-config/auth.js
Due: pre-master-console-compass, post-master-console-compass

Allow 'unsafe-eval' of scripts as it is required by generic documentation component
  service-catalog-ui/nginx.conf
Due: none

Add retries to iframes
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Simplyfy
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Small change
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Fix monaco-editor in new lambda view - change CSP
  core-ui/nginx.conf
Due: pre-master-console-core-ui, post-master-console-core-ui

Assign codeownership of the new lambd view to new team
  CODEOWNERS
Due: none

Extend GenericList with collapsing content and extend ModalWithForm with popup message
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  core-ui/src/components/ModalWithForm/test/ModalWithForm.test.js
  core-ui/src/components/ModalWithForm/test/__snapshots__/ModalWithForm.test.js.snap
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/GenericList.scss
  shared/components/GenericList/SearchInput.js
  shared/components/GenericList/components.js
  shared/components/GenericList/constants.js
  shared/components/GenericList/helpers.js
  shared/components/GenericList/test/GenericList.test.js
  shared/components/PageHeader/PageHeader.js
  shared/components/Spinner/Spinner.js
  shared/contexts/NotificationContext.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Propagate env variables to compass
  .clusterConfig.default
  compass/package.json
  compass/public-luigi/config/config.js
  compass/public/config/config.js
  compass/src/components/TenantSearch/TenantSearch.js
  compass/src/config/luigi-config/auth.js
  compass/src/config/luigi-config/clusterConfig.js
  compass/src/config/luigi-config/helpers/getAlternativePath.js
  compass/src/config/luigi-config/helpers/getAlternativePath.test.js
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  compass/src/config/luigi-config/navigation.js
  compass/src/setupTests.js
  compass/src/store/getConfigValue.js
  compass/src/store/index.js
  compass/webpack-generateConfig.config.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-whitesource-scan

After review
  shared/components/GenericList/GenericList.js
  shared/components/GenericList/constants.js
  shared/components/GenericList/test/GenericList.test.js
  shared/components/Spinner/Spinner.js
Due: none

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
