Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Add generic delete action for Applications
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Applications/Applications.component.js
Due: pre-master-console-compass, post-master-console-compass

Update snapshots
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/__snapshots__/MetadataDefinitionDetails.test.js.snap
  compass/src/shared/components/GenericList/test/__snapshots__/GenericList.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Improve navigation
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.component.js
Due: pre-master-console-compass, post-master-console-compass

Improve breadcrumb navigation, fix dropdown button style
  compass/src/components/Api/EditApi/APIViewModel.js
  compass/src/components/Api/EditApi/EditApiTabs.component.js
  compass/src/components/Api/EditApi/Header/EditApiHeader.component.js
  compass/src/components/Api/Forms/CredentialForms/CredentialsForm.js
  compass/src/components/Api/Forms/CredentialForms/style.scss
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Configure logoutUrl to break infinite redirection loop
  core/package.json
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core

Fix package-lock.json
  core/package-lock.json
Due: pre-master-console-core, post-master-console-core

Add Cypress tests
  compass/cypress.json
  compass/cypress/support/commands.js
  compass/gql_mock/index.js
  compass/gql_mock/metadataDefinitions.mock.js
  compass/package-lock.json
  compass/package.json
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/MetadataDefinitionDetails.cypress.js
  compass/src/components/MetadataDefinitions/test/MetadataDefinitions.cypress.js
  compass/src/shared/components/GenericList/GenericList.js
  compass/src/store/index.js
Due: pre-master-console-compass, post-master-console-compass

Enable Enzyme UI tests on CI
  compass/Makefile
Due: pre-master-console-compass, post-master-console-compass

Fix linter
  compass/.eslintignore
  compass/src/shared/components/ModalWithForm/test/ModalWithForm.test.js
Due: pre-master-console-compass, post-master-console-compass

update snapshots
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/__snapshots__/MetadataDefinitionDetails.unit.test.js.snap
  compass/src/shared/components/GenericList/test/__snapshots__/GenericList.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Fix mock problem
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/MetadataDefinitionDetails.ui.test.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/mock.js
Due: pre-master-console-compass, post-master-console-compass

Disable running Enzyme tests separately
  compass/Makefile
Due: pre-master-console-compass, post-master-console-compass

Fix package-lock.json
  service-catalog-ui/catalog/package-lock.json
  service-catalog-ui/instances/package-lock.json
Due: none

Fix title ellipsis issue
  compass/src/App.scss
Due: pre-master-console-compass, post-master-console-compass

Clean up commands
  compass/package.json
  components/react/package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Experimental Makefile to test Cypress
  compass/Makefile
Due: pre-master-console-compass, post-master-console-compass

Revert "Clean up commands"
  compass/package.json
  components/react/package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Clean up commands
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Update package.json
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Update MetadataDefinitionDetails.container.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.container.js
Due: pre-master-console-compass, post-master-console-compass

Update MetadataDefinitions.container.js
  compass/src/components/MetadataDefinitions/MetadataDefinitions.container.js
Due: pre-master-console-compass, post-master-console-compass

fix makefile error
  compass/Makefile
Due: pre-master-console-compass, post-master-console-compass

Change Chrome to Electron
  compass/package.json
Due: pre-master-console-compass, post-master-console-compass

Add generic delete operation for events
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsApis/ApplicationDetailsApis.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsEventApis/ApplicationDetailsEventApis.component.js
Due: pre-master-console-compass, post-master-console-compass

Remove duplicates in merged query results
  service-catalog-ui/catalog/src/store/Filter/resolvers.js
Due: none

Add layout for Compass UI in generic-documentation
  components/generic-documentation/kyma-project-generic-documentation-0.1.0.tgz
  components/generic-documentation/package-lock.json
  components/generic-documentation/src/index.tsx
  components/generic-documentation/src/layouts/CompassUI.tsx
  components/generic-documentation/src/layouts/index.ts
  components/generic-documentation/src/layouts/styled.ts
Due: none

.
  components/generic-documentation/src/index.tsx
  components/generic-documentation/src/layouts/CompassUI.tsx
Due: none

Fix build of package
  components/generic-documentation/kyma-project-generic-documentation-0.1.0.tgz
Due: none

Install and configure generic-documentation
  compass/package-lock.json
  compass/package.json
  compass/src/shared/components/DocumentationComponent/DocumentationComponent.js
Due: pre-master-console-compass, post-master-console-compass

Fix class(Name) issues
  compass/src/components/Api/Forms/CredentialForms/CredentialsForm.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioForm/CreateScenarioForm.component.js
Due: pre-master-console-compass, post-master-console-compass

.
  components/generic-documentation/kyma-project-generic-documentation-0.1.0.tgz
  components/generic-documentation/src/index.tsx
  components/generic-documentation/src/layouts/CompassUI.tsx
Due: none

Unify Api and EventAPI details into one component
  compass/package-lock.json
  compass/src/App.component.js
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
  compass/src/components/Api/ApiDetails/ApiDetails.container.js
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/ApiDetailsHeader.js
  compass/src/components/Api/EventApiDetails/EventApiDetails.component.js
  compass/src/components/Api/EventApiDetails/EventApiDetailsHeader/EventApiDetailsHeader.js
  compass/src/shared/components/DocumentationComponent/DocumentationComponent.js
Due: pre-master-console-compass, post-master-console-compass

Code review fixes
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetailsHeader/RuntimeDetailsHeader.component.js
Due: pre-master-console-compass, post-master-console-compass

Update styles
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
  compass/src/components/Api/ApiDetails/ApiDetails.scss
Due: pre-master-console-compass, post-master-console-compass

remove EventApiDetails component
  compass/src/components/Api/EventApiDetails/EventApiDetails.component.js
  compass/src/components/Api/EventApiDetails/EventApiDetails.container.js
  compass/src/components/Api/EventApiDetails/EventApiDetailsHeader/EventApiDetailsHeader.js
Due: pre-master-console-compass, post-master-console-compass

Remove EventAPidetails component import
  compass/src/App.component.js
Due: pre-master-console-compass, post-master-console-compass

Code review fixes
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.component.js
  compass/src/shared/components/GenericList/GenericList.js
  components/react/src/components/TableWithActions/TableWithActionsList/index.js
  lambda/package-lock.json
  service-catalog-ui/catalog/package-lock.json
  service-catalog-ui/instances/package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Revert package-lock changes
  lambda/package-lock.json
  service-catalog-ui/catalog/package-lock.json
  service-catalog-ui/instances/package-lock.json
Due: none

Add fallback value for bindableResources
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
Due: none

Fix deleting api
  compass/src/components/Api/ApiDetails/ApiDetailsHeader/ApiDetailsHeader.js
  compass/src/components/Api/gql.js
Due: pre-master-console-compass, post-master-console-compass

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
