Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Minor improvements
  compass/package.json
  compass/public/manifest.json
  compass/src/App.scss
  compass/src/components/Overview/Overview.js
  compass/src/components/Overview/Overview.scss
  compass/src/components/Runtimes/CreateRuntimeForm/CreateRuntimeForm.js
  compass/src/config/luigi-config/main.js
  compass/src/logo.svg
Due: none

Amend empty state handling in bound services and events modal
  core/src/app/content/settings/applications/application-details/bindings-details-modal/bindings-details-modal.component.html
  core/src/app/content/settings/applications/application-details/bindings-details-modal/bindings-details-modal.component.ts
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.html
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.ts
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.html
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.ts
Due: console-core

Fix after review
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
Due: none

Move strings to variables
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
  instances/src/variables.js
Due: none

Properly handle empty state when none of the available services is selected for a binding
  core/src/app/content/settings/applications/application-details/bindings-details-modal/bindings-details-modal.component.html
  core/src/app/content/settings/applications/application-details/bindings-details-modal/bindings-details-modal.component.ts
Due: console-core

Add RuntimeDetails
  compass/src/App.js
  compass/src/App.scss
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.js
  compass/src/components/Runtimes/RuntimeList/RuntimeList.js
  compass/src/components/Runtimes/gql.js
  compass/src/config/luigi-config/navitagion.js
Due: none

Improve rotating compass
  compass/public/compass-background.png
  compass/public/compass-neddle.png
  compass/src/App.scss
  compass/src/components/Overview/Overview.js
  compass/src/components/Overview/Overview.scss
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.js
  compass/src/components/Runtimes/RuntimeList/RuntimeList.js
  compass/src/components/Runtimes/Runtimes.js
  compass/src/components/Runtimes/gql.js
Due: none

Add .prettierrc
  compass/.prettierrc
Due: none

Improve compass animation
  compass/src/components/Overview/Overview.js
Due: none

Configure disabled nav nodes as string
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation-helpers.js
Due: console-core

Rework the header
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.scss
  core/src/app/content/settings/applications/application-details/application-details.component.ts
  core/src/app/content/settings/applications/services/applications.service.ts
Due: console-core

Add appAriaDisabled directive
  logging/src/app/app.module.ts
  logging/src/app/search-form/shared/appAriaDisabled.directive.ts
Due: none

Add functional "Auto refresh" button
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
  logging/src/app/search-form/shared/constants.ts
Due: none

Add message when CompassUI is started together with Console
  compass/package.json
Due: none

Add license pulling
  add-ons/Dockerfile
  add-ons/Makefile
  brokers/Dockerfile
  brokers/Makefile
  catalog/Dockerfile
  catalog/Makefile
  content/Dockerfile
  content/Makefile
  core/Dockerfile
  core/Makefile
  instances/Dockerfile
  instances/Makefile
  lambda/Dockerfile
  lambda/Makefile
  logging/Dockerfile
  logging/Makefile
  tests/Dockerfile
  tests/Makefile
Due: prow/console/brokers, console-core, console-tests

Display "Outdated logs" checkbox only for lambda
  logging/src/app/search-form/search-form.component.html
Due: none

Fix linter errrors
  logging/src/app/search-form/shared/appAriaDisabled.directive.ts
Due: none

Apply layout adjustments
  catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceHeader/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/styled.js
Due: none

fix unit tests
  logging/src/app/app.component.spec.ts
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.spec.ts
Due: none

Update start:kyma command
  compass/package.json
Due: none

Add description
  instances/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.component.js
Due: none

Fix AOT compiler errors
  logging/src/app/app.component.spec.ts
  logging/src/app/app.module.ts
  logging/src/app/search-form/search-form.component.spec.ts
  logging/src/app/search-form/search-form.component.ts
  logging/src/app/search-form/shared/appAriaDisabled.directive.ts
Due: none

Install live-server locally
  compass/package-lock.json
  compass/package.json
  compass/src/components/Overview/Overview.js
Due: none

Remove constant from /shared
  logging/src/app/search-form/search-form.component.ts
  logging/src/app/search-form/shared/constants.ts
Due: none

Fix wrapping issue
  components/react/src/components/Toolbar/index.js
  components/react/src/components/Toolbar/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.component.js
Due: none

Add Show>HealthChecks option
  logging/src/app/search-form/data/search-form-data.ts
  logging/src/app/search-form/data/search-result.ts
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
  logging/src/styles.scss
Due: none

Rename variable
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
Due: none

Fix uppercase prop issue
  components/react/src/components/Toolbar/index.js
  components/react/src/components/Toolbar/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.component.js
Due: none

Fix unit test
  logging/src/app/search-form/search-form.component.spec.ts
Due: none

Revert "Fix uppercase prop issue"
  components/react/src/components/Toolbar/index.js
  components/react/src/components/Toolbar/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.component.js
Due: none

Add "no logs found" message
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
Due: none

Update paths
  compass/src/config/luigi-config/settings.js
  compass/src/index.html
Due: none

Update function to be semantically correct
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
Due: none

Improve alignments, fixed prop issues, changed a button appearance
  components/react/src/components/Toolbar/index.js
  components/react/src/components/Toolbar/styled.js
  core/src/app/content/settings/applications/application-details/application-details.component.html
  instances/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceHeader/styled.js
Due: console-core

Fix tabs in instances and content
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  components/react/src/components/ReactMarkdown/parseHTML/Tabs.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
Due: none

Prettier
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  components/react/src/components/ReactMarkdown/parseHTML/Tabs.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
Due: none

Fix the message bug
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.html
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.html
Due: console-core

Update readme
  compass/README.md
Due: console-governance

Fix left navigation
  core/src/luigi-config/navigation-helpers.js
Due: console-core

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/
