Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Bring back SH fallback
  core/Dockerfile
  lambda/Dockerfile
  scripts/load-cluster-config.sh
Due: pre-master-console-core, post-master-console-core

fdhsdfh
  scripts/load-cluster-config.sh
Due: none

fdhfdsh
  service-catalog-ui/Makefile
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers

Add more console.logs
  common/src/utils/getApiUrl.ts
Due: none

sdfghdfash
  common/src/utils/getApiUrl.ts
Due: none

sfhgfhfdg
  common/src/utils/getApiUrl.ts
Due: none

asdgasdg
  package-lock.json
Due: none

ghrsfdghgfd
  add-ons/src/index.tsx
  add-ons/src/services/index.ts
Due: none

dfgsdfg
  add-ons/Dockerfile
Due: none

Do not ever read .clusterConfig.default; generate .clusterConfig.gen if needed
  README.md
  core/src/app/app.config.ts
  lambda/src/app/app.config.ts
  package.json
  scripts/load-cluster-config.sh
Due: console-governance, pre-master-console-core, post-master-console-core

dfgadfg
  core/src/app/app.config.ts
  core/webpack-extra.config.js
  core/webpack-generateConfig.config.js
  lambda/src/app/app.config.ts
  lambda/webpack-extra.config.js
Due: pre-master-console-core, post-master-console-core

Add basic UI test
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/test/LambdaDetailsHeader.ui.test.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/test/__snapshots__/LambdaDetailsHeader.ui.test.js.snap
  package-lock.json
Due: pre-master-console-core-ui, post-master-console-core-ui

remove alert
  lambda/src/app/app.config.ts
Due: none

fixes
  common/src/utils/getApiUrl.ts
  package.json
  scripts/load-cluster-config.sh
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers

fix docs
  content/package.json
Due: pre-master-console-content, post-master-console-content

Unify Applications & Runtimes views
  compass/public-luigi/config/config.js
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Runtimes/Runtimes.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.container.js
Due: pre-master-console-compass, post-master-console-compass

Improve label display
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Shared/LabelDisplay.js
Due: pre-master-console-compass, post-master-console-compass

Fix url injection in Core
  core/src/app/app.config.ts
Due: pre-master-console-core, post-master-console-core

Fix broken Istio Injection checkbox in Create Namespace Modal
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
  core-ui/src/components/CreateNamespaceForm/test/CreateNamespaceForm.test.js
  core-ui/src/components/CreateNamespaceForm/test/gqlMocks.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Minor syntax change
  core-ui/src/components/CreateNamespaceForm/CreateNamespaceForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

refactor catalog list, details and create instance
  components/react/package-lock.json
  package-lock.json
  service-catalog-ui/catalog/src/components/App/App.component.js
  service-catalog-ui/catalog/src/components/App/App.container.js
  service-catalog-ui/catalog/src/components/App/App.js
  service-catalog-ui/catalog/src/components/App/mutations.js
  service-catalog-ui/catalog/src/components/App/queries.js
  service-catalog-ui/catalog/src/components/App/styled.js
  service-catalog-ui/catalog/src/components/Main/Main.component.js
  service-catalog-ui/catalog/src/components/Main/Main.container.js
  service-catalog-ui/catalog/src/components/Main/mutations.js
  service-catalog-ui/catalog/src/components/Main/queries.js
  service-catalog-ui/catalog/src/components/Main/styled.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.container.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/CreateInstanceModal/mutations.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.container.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/WithNotificationContext/WithNotificationContext.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassList.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/ServiceClassList.container.js
  service-catalog-ui/catalog/src/components/ServiceClassList/searchUtils.js
  service-catalog-ui/catalog/src/components/ServiceClassList/styled.js
  service-catalog-ui/catalog/src/contexts/NotificationContext/NotificationContext.js
  service-catalog-ui/catalog/src/index.js
  service-catalog-ui/catalog/src/store/Filter/defaults.js
  service-catalog-ui/catalog/src/store/Filter/resolvers.js
  service-catalog-ui/catalog/src/store/MainPage/defaults.js
  service-catalog-ui/catalog/src/store/Notification/defaults.js
  service-catalog-ui/catalog/src/store/Notification/resolvers.js
  service-catalog-ui/catalog/src/store/defaults.js
  service-catalog-ui/catalog/src/store/resolvers.js
  service-catalog-ui/catalog/src/variables.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content

Add some test for lambda details
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetails.test.js
  core-ui/src/components/Lambdas/LambdaDetails/test/__snapshots__/LambdaDetails.test.js.snap
  core-ui/src/components/Lambdas/LambdaDetails/test/gqlMocks.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Rename
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetails.ui.test.js
  core-ui/src/components/Lambdas/LambdaDetails/test/__snapshots__/LambdaDetails.ui.test.js.snap
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix css and add missinglabels
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/index.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Update scripts
  scripts/checkClusterAvailability.sh
  scripts/setClusterConfig.sh
Due: none

Remove console.logs and unwanted changes
  common/src/utils/getApiUrl.ts
  content/public/config/config.js
  core-ui/src/apollo.js
  core/Dockerfile
  core/package-lock.json
  core/src/app/app.config.ts
  lambda/angular.json
  lambda/src/app/app.config.ts
  lambda/src/styles.scss
  logging/src/assets/config/config.js
  package-lock.json
  service-catalog-ui/Makefile
  service-catalog-ui/instances/package.json
Due: pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Unify bash scripts headers
  scripts/checkClusterAvailability.sh
  scripts/setClusterConfig.sh
Due: none

Bring back necssary style imports in Lambda
  lambda/src/styles.scss
Due: none

Display runtimes and applications count in scenario list
  compass/src/components/Runtimes/Runtimes.component.js
  compass/src/components/Scenarios/EnititesForScenarioCount.js
  compass/src/components/Scenarios/Scenarios.component.js
  compass/src/components/Scenarios/gql.js
Due: pre-master-console-compass, post-master-console-compass

Change default lambda code
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix tests, apply small reivew fixes
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetails.ui.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove unused wrapper
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Return to catalog with saved tab
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
Due: none

Fix context switcher
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix tests
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/NamespaceListHeader.test.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/NamespaceListHeader.ui.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix scripts' colors for bash
  scripts/checkClusterAvailability.sh
  scripts/load-cluster-config.sh
  scripts/setClusterConfig.sh
Due: none

Make linter happy
  core-ui/src/components/ModalWithForm/ModalWithForm.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add empty entry component, fix lambda-not-yet-created bug
  core-ui/src/components/EntryNotFound/EntryNotFound.js
  core-ui/src/components/Lambdas/CreateLambdaForm/CreateLambdaForm.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Minor changes
  core-ui/src/components/EntryNotFound/EntryNotFound.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix cache bug
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
