Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/

Add nginx in Dockerfile
  service-catalog-ui/Dockerfile
Due: none

Add nginx back to catalog
  service-catalog-ui/Dockerfile
Due: none

Fix path
  service-catalog-ui/Dockerfile
Due: none

Add config file for functions view
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/test/ServiceBindingsWrapper.test.js
  core-ui/src/components/Lambdas/config.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateServiceBindingUsage.js
  core-ui/src/components/Lambdas/gql/hooks/queries/test/useServiceBindingUsagesQuery.test.js
  core-ui/src/components/Lambdas/gql/hooks/queries/useServiceBindingUsagesQuery.js
Due: pre-master-console-core-ui, post-master-console-core-ui

.
  core-ui/src/components/Lambdas/config.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Support HEAD and PATCH methods in API Rule UI
  core-ui/src/components/ApiRules/AccessStrategy/test/AccessStrategy.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/ApiRuleForm.test.js
  core-ui/src/components/ApiRules/CreateApiRule/CreateApiRule.js
  core-ui/src/components/ApiRules/CreateApiRule/test/mocks.js
  core-ui/src/components/ApiRules/accessStrategyTypes.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Catalog works
  service-catalog-ui/src/components/App/App.js
Due: none

Instance list works
  service-catalog-ui-OLD/instances/src/store/index.js
  service-catalog-ui-OLD/instances/src/store/ws.js
  service-catalog-ui/src/components/App/App.js
  service-catalog-ui/src/components/ServiceInstancesList/ServiceInstancesList.js
  service-catalog-ui/src/components/ServiceInstancesList/ServiceInstancesTable/ServiceInstancesTable.component.js
  service-catalog-ui/src/components/ServiceInstancesList/ServiceInstancesTable/styled.js
  service-catalog-ui/src/components/ServiceInstancesList/ServiceInstancesToolbar/FilterDropdown.component.js
  service-catalog-ui/src/components/ServiceInstancesList/ServiceInstancesToolbar/SearchDropdown.component.js
  service-catalog-ui/src/components/ServiceInstancesList/ServiceInstancesToolbar/ServiceInstancesToolbar.component.js
  service-catalog-ui/src/components/ServiceInstancesList/ServiceInstancesToolbar/styled.js
  service-catalog-ui/src/components/ServiceInstancesList/searchUtils.js
  service-catalog-ui/src/components/ServiceInstancesList/styled.js
  service-catalog-ui/src/components/ServiceInstancesList/test/ServiceInstancesList.test.js
  service-catalog-ui/src/components/ServiceInstancesList/test/__snapshots__/ServiceInstancesList.test.js.snap
  service-catalog-ui/src/helpers/constants.js
  service-catalog-ui/src/helpers/instancesGQL/events.js
  service-catalog-ui/src/helpers/instancesGQL/fragments.js
  service-catalog-ui/src/helpers/instancesGQL/mutations.js
  service-catalog-ui/src/helpers/instancesGQL/queries.js
  service-catalog-ui/src/helpers/instancesGQL/subscriptions.js
Due: none

Fetch API rules per service
  core/src/app/content/namespaces/operation/services/service-details/service-api-rules/gql.ts
  core/src/app/content/namespaces/operation/services/service-details/service-api-rules/service-api-rules.component.ts
Due: pre-master-console-core, post-master-console-core

place 'helpers' in a dedicated index.js file
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  service-catalog-ui/src/components/ServiceClassList/Cards/Cards.component.js
  service-catalog-ui/src/components/ServiceClassList/Cards/InstancesIndicator.js
  service-catalog-ui/src/components/ServiceClassList/Cards/Labels.js
  service-catalog-ui/src/components/ServiceClassList/searchUtils.js
  service-catalog-ui/src/components/ServiceClassPlansList/ServiceClassPlansList.js
  service-catalog-ui/src/components/ServiceInstancesList/ServiceInstancesTable/ServiceInstancesTable.component.js
  service-catalog-ui/src/components/ServiceInstancesList/searchUtils.js
  service-catalog-ui/src/helpers/index.js
Due: none

use common searchUtils
  service-catalog-ui/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/src/components/ServiceClassList/searchUtils.js
  service-catalog-ui/src/components/ServiceInstancesList/ServiceInstancesList.js
  service-catalog-ui/src/helpers/search.js
Due: none

fix API Rules query
  core/src/app/content/namespaces/operation/services/service-details/service-api-rules/gql.ts
Due: pre-master-console-core, post-master-console-core

Rename 'instances' to 'instance' on list
  service-catalog-ui/src/components/App/App.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceList.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/ServiceInstanceTable.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceTable/styled.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceToolbar/FilterDropdown.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceToolbar/SearchDropdown.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceToolbar/ServiceInstanceToolbar.component.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceToolbar/styled.js
  service-catalog-ui/src/components/ServiceInstanceList/styled.js
  service-catalog-ui/src/components/ServiceInstanceList/test/ServiceInstanceList.test.js
  service-catalog-ui/src/components/ServiceInstanceList/test/__snapshots__/ServiceInstancesList.test.js.snap
Due: none

use LuigiClient to obtain namespaceId
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.container.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.container.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.container.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceDetails.js
  service-catalog-ui/src/components/ServiceInstanceDetails/ServiceInstanceHeader/ServiceInstanceHeader.js
  service-catalog-ui/src/components/ServiceInstanceList/ServiceInstanceList.js
  service-catalog-ui/src/helpers/index.js
Due: none

add Brokers view
  service-catalog-ui/src/components/App/App.js
  service-catalog-ui/src/components/ServiceBrokers/ServiceBrokers.component.js
  service-catalog-ui/src/components/ServiceBrokers/ServiceBrokers.component.scss
  service-catalog-ui/src/components/ServiceBrokers/ServiceBrokers.container.js
  service-catalog-ui/src/components/ServiceBrokers/queries.js
  service-catalog-ui/src/components/ServiceBrokers/styled.js
Due: none

Fix key, add & fix tests
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/ServicesDropdown/test/ServicesDropdown.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/ApiRuleForm.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/mocks.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix regex, adjust error message
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Comment out failing test
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

try to fix tests
  service-catalog-ui/__mocks__/luigi-client.js
  service-catalog-ui/package.json
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/src/components/ServiceClassList/Cards/test/Card.test.js
  service-catalog-ui/src/components/ServiceClassList/Cards/test/Cards.test.js
  service-catalog-ui/src/components/ServiceClassList/test/ServiceClassList.test.js
  service-catalog-ui/src/components/ServiceClassPlansList/test/ServiceClassPlansList.test.js
  service-catalog-ui/src/components/ServiceInstanceDetails/test/ServiceInstanceDetails.test.js
  service-catalog-ui/src/components/ServiceInstanceList/test/ServiceInstanceList.test.js
  service-catalog-ui/src/components/ServiceInstanceList/test/__snapshots__/ServiceInstanceList.test.js.snap
  service-catalog-ui/src/components/ServiceInstanceList/test/__snapshots__/ServiceInstancesList.test.js.snap
  service-catalog-ui/src/helpers/index.js
  service-catalog-ui/src/helpers/search.js
  service-catalog-ui/src/setupTests.js
  service-catalog-ui/src/testing/catalog/queriesMocks.js
  service-catalog-ui/src/testing/catalog/serviceClassesMocks.js
  service-catalog-ui/src/testing/index.js
  service-catalog-ui/src/testing/instances/instanceMocks.js
  service-catalog-ui/src/testing/instances/queriesMocks.js
Due: pre-master-console-whitesource-scan

fixes after code review
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/ApiRuleForm.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Change fundamental versions
  components/react/package-lock.json
  components/react/package.json
  components/react/src/components/Toolbar/styled.js
  package-lock.json
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassInfo/styled.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-master-console-whitesource-scan

Fix imports
  components/react/src/components/Dropdown/index.js
  components/react/src/components/Panel/index.js
  components/react/src/components/Tile/index.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content

fix tests
  service-catalog-ui/__mocks__/luigi-client.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/src/components/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/src/components/ServiceClassDetails/test/ServiceClassDetails.test.js
  service-catalog-ui/src/components/ServiceClassList/ServiceClassList.js
  service-catalog-ui/src/components/ServiceClassList/test/ServiceClassList.test.js
  service-catalog-ui/src/components/ServiceClassList/test/__snapshots__/ServiceClassList.test.js.snap
  service-catalog-ui/src/components/ServiceClassPlansList/ServiceClassPlansList.js
  service-catalog-ui/src/components/ServiceClassPlansList/test/ServiceClassPlansList.test.js
  service-catalog-ui/src/components/ServiceInstanceList/test/ServiceInstanceList.test.js
  service-catalog-ui/src/components/ServiceInstanceList/test/__snapshots__/ServiceInstanceList.test.js.snap
  service-catalog-ui/src/helpers/search.js
  service-catalog-ui/src/testing/instances/instanceMocks.js
Due: none

make build possible
  service-catalog-ui/.dockerignore
  service-catalog-ui/Dockerfile
  service-catalog-ui/Makefile
  service-catalog-ui/nginx.conf
  service-catalog-ui/package.json
Due: pre-master-console-whitesource-scan

run lint fix
  shared/components/ListActions/ListActions.js
Due: none

Dumb commit
  core/Makefile
Due: pre-master-console-core, post-master-console-core

fix prettier even more
  add-ons/src/components/AddonConfigurationBadge/AddonConfigurationBadge.tsx
  add-ons/src/components/AddonPanel/RepositoryTableSegment/RepositoryTableSegment.tsx
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  components/generic-documentation/src/index.tsx
  components/generic-documentation/src/layouts/InstancesUI.tsx
  components/generic-documentation/src/loader/loader.ts
  components/generic-documentation/src/render-engines/markdown/headers-toc/HeadersComponent.tsx
  components/generic-documentation/src/render-engines/markdown/index.ts
  components/generic-documentation/src/render-engines/open-api/components/Models.tsx
  components/react/src/commons/instances-tab-utils.js
  components/shared/src/Notification/Notification.container.tsx
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content

Testing commit
  content/README.md
Due: console-governance, pre-master-console-content, post-master-console-content

Fix Shared tests
  shared/components/ModalWithForm/test/ModalWithForm.test.js
Due: none

Change nginx path
  core/Dockerfile
Due: pre-master-console-core, post-master-console-core

fix build command
  service-catalog-ui/package.json
Due: pre-master-console-whitesource-scan

update dockerfile
  service-catalog-ui/Dockerfile
Due: none

Check if old build works
  content/package.json
Due: pre-master-console-content, post-master-console-content, pre-master-console-whitesource-scan

Create dockerfile and makefile for new job
  content/Dockerfile
  content/Makefile
Due: pre-master-console-content, post-master-console-content

use 8080 port in nginx
  service-catalog-ui/nginx.conf
Due: none

remove obsolete entries in .clusterConfig
  .clusterConfig.default
Due: none
