Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Remove obsolete lines
  config.js
  logging/src/app/search-form/search-form.component.ts
Due: none

Reset unwanted changes
  config.js
Due: none

Remove containerInstancesService leftovers
  lambda/src/app/app.module.ts
  lambda/src/app/container-instances/container-instances.service.spec.ts
  lambda/src/app/container-instances/container-instances.service.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Minor changes
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  logging/package-lock.json
  logging/package.json
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
Due: none

Add configuration for XS lambda
  lambda/src/app/app.config.ts
Due: none

Fix linter errors
  logging/src/app/search-form/search-form.component.ts
  logging/src/app/search-form/service/pods-subscription/pods-subscription.service.ts
Due: none

Fix tests; Minor improvements
  logging/src/app/app.component.spec.ts
  logging/src/app/app.module.ts
  logging/src/app/search-form/search-form.component.spec.ts
  logging/src/app/search-form/search-form.component.ts
  logging/src/app/search-form/service/pods-subscription/pods-subscription.service.ts
Due: none

Rework service class details header
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/styled.js
  catalog/src/components/ServiceClassDetails/ServiceClassToolbar/ServiceClassToolbar.component.js
  components/react/src/components/Tile/index.js
  components/react/src/components/Toolbar/index.js
  components/react/src/components/index.js
Due: none

Apply prettier
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/styled.js
Due: none

Fix prettier errors
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
Due: none

Minor fixes
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/styled.js
  catalog/src/components/ServiceClassDetails/ServiceClassToolbar/ServiceClassToolbar.component.js
Due: none

Fix ui-tests for lambda creation and deletion (#950)
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

Modify create Namespace binding
  core/src/app/app.module.ts
  core/src/app/content/settings/applications/application-details/application-binding-service.ts
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.ts
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.html
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.scss
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.spec.ts
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.ts
  core/src/app/content/settings/applications/applications-entry-renderer/applications-entry-renderer.component.ts
  core/src/app/content/settings/applications/applications.component.ts
  core/src/app/content/settings/applications/services/applications.service.spec.ts
  core/src/app/content/settings/applications/services/applications.service.ts
Due: console-core

Add configuration for XS lambda (#953)
  lambda/src/app/app.config.ts
Due: none

Fix lambda exposure FQDN (#952)
  lambda/src/app/lambdas/lambda-details/http-trigger/http-trigger.component.ts
Due: none

Modify create Namespace binding
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.html
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.scss
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.html
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.scss
  core/src/styles/fiori-fundamentals-overrides.scss
Due: console-core

Remove console.logs
  core/src/app/content/settings/applications/application-details/application-binding-service.ts
  core/src/app/content/settings/applications/application-details/application-details.component.ts
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.ts
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.ts
Due: console-core

.
  brokers/package-lock.json
  lambda/package-lock.json
  tests/package-lock.json
Due: prow/console/brokers, console-tests

Move service and application count to the page content
  core/src/app/content/namespaces/configuration/resources/resources.component.html
  core/src/app/content/namespaces/namespace-details/namespace-details.component.html
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
Due: console-core

Fix private ptoperties visibility issue
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
Due: console-core

Display details of binding
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.ts
  core/src/app/content/settings/applications/application-details/bindings-details-modal/bindings-details-modal.component.html
  core/src/app/content/settings/applications/application-details/bindings-details-modal/bindings-details-modal.component.scss
  core/src/app/content/settings/applications/application-details/bindings-details-modal/bindings-details-modal.component.spec.ts
  core/src/app/content/settings/applications/application-details/bindings-details-modal/bindings-details-modal.component.ts
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.html
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.ts
Due: console-core

Display details of binding
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.html
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.ts
  core/src/app/content/settings/applications/applications-entry-renderer/applications-entry-renderer.component.ts
Due: console-core

Display details of binding
  core/src/app/app.module.ts
Due: console-core

Fix optional argument issue
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
Due: console-core

Display details of binding
  core/src/app/content/settings/applications/application-details/bindings-details-modal/bindings-details-modal.component.html
  core/src/app/content/settings/applications/application-details/bindings-details-modal/bindings-details-modal.component.spec.ts
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.spec.ts
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.ts
Due: console-core

Fix tests
  core/src/app/content/settings/applications/applications.component.ts
  core/src/app/content/settings/applications/services/applications.service.spec.ts
  core/src/app/content/settings/applications/services/applications.service.ts
Due: console-core

Filter APIs by serviceName for subscriptions
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
Due: console-core

Update logging/src/app/search-form/search-form.component.ts
  logging/src/app/search-form/search-form.component.ts
Due: none

Fix layout - add read-only labels
  core/src/app/content/namespaces/namespace-details/namespace-details.component.html
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
  core/src/app/content/namespaces/namespace-info.ts
  core/src/app/content/namespaces/services/namespaces.service.ts
  core/src/luigi-config/luigi-config.js
Due: console-core

Show - when no lambdas
  core/src/app/content/namespaces/namespace-details/namespace-details.component.html
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
Due: console-core

Extract interfaces ot separate files
  logging/src/app/search-form/data/log-stream.ts
  logging/src/app/search-form/data/pod-query.ts
  logging/src/app/search-form/search-form.component.ts
  logging/src/app/search-form/service/pods-subscription/pods-subscription.service.ts
Due: none

Fix tests
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.spec.ts
  core/src/app/content/settings/applications/application-details/create-bindings-modal/create-binding-modal.component.ts
Due: console-core

Move namespace subscription to ngOnInit
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
Due: console-core

Rename mutationResourceKind
  core/src/app/content/namespaces/configuration/apis/apis.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
Due: console-core

Fix linter errors
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
Due: console-core

Fix tests
  core/src/app/content/settings/applications/application-details/bindings-details-modal/bindings-details-modal.component.ts
Due: console-core

Remove obsolete things
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
  core/src/app/content/namespaces/operation/abstract-graphql-element-list.component.ts
Due: console-core

Fix styling for lables
  core/src/app/content/namespaces/namespace-details/namespace-details.component.html
Due: console-core

return false if there's something unexpected in filterStreamByInstance
  logging/src/app/search-form/search-form.component.ts
Due: none

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/
