Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

remove 2
  common/src/utils/getApiUrl.ts
  core/src/app/app.config.ts
  core/src/app/app.module.ts
  core/src/app/ws.ts
Due: pre-master-console-core, post-master-console-core

Use getApiUrl from Commons in Core-ui
  core-ui/src/apollo.js
Due: pre-master-console-core-ui, post-master-console-core-ui

update load-cluster-config.sh to get real current directory
  scripts/load-cluster-config.sh
Due: none

Bring back loading clusterConfig.default to all 'build' scripts (+1 squashed commit) Squashed commits: [9b525781] dfhfgh
  core-ui/package.json
  core/package.json
  lambda/package.json
  logging/package.json
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Revert "remove 2"
  common/src/utils/getApiUrl.ts
  core/src/app/app.config.ts
  core/src/app/app.module.ts
  core/src/app/ws.ts
Due: pre-master-console-core, post-master-console-core

Revert "remove 1"
  common/src/utils/getApiUrl.ts
Due: none

Update paths in service-catalog-ui
  service-catalog-ui/brokers/package.json
  service-catalog-ui/catalog/package.json
  service-catalog-ui/instances/package.json
Due: prow/console/brokers

Add and use Luigi Context Service
  add-ons/src/components/Toolbar/Toolbar.component.tsx
  add-ons/src/index.tsx
  add-ons/src/services/LuigiContext.service.ts
  add-ons/src/services/Mutations.service.ts
  add-ons/src/services/Queries.service.ts
  add-ons/src/services/Subscriptions.service.ts
Due: none

Fix clusterConfig injection in logging
  logging/Makefile
  logging/package.json
Due: pre-master-console-logging, post-master-console-logging

fhdh
  logging/Dockerfile
  logging/package.json
Due: pre-master-console-logging, post-master-console-logging

dfhdsh
  logging/Dockerfile
  logging/package.json
Due: pre-master-console-logging, post-master-console-logging

fgfhjgh
  scripts/load-cluster-config.sh
Due: none

Fix script incompatibility with SH on LinuxAlpine
  scripts/load-cluster-config.sh
Due: none

sfsa
  scripts/load-cluster-config.sh
Due: none

Add debug console-logs
  common/src/utils/getApiUrl.ts
  core-ui/src/apollo.js
  core/src/app/app.config.ts
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Read query params to open create namespace modal
  core-ui/src/components/ModalWithForm/ModalWithForm.js
  core-ui/src/components/NamespaceList/NamespaceList.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespacesListHeader.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Check if clusterConfig is not an empty object in Core
  core/src/app/app.config.ts
Due: pre-master-console-core, post-master-console-core

Fix building of service-catalog-ui
  service-catalog-ui/Dockerfile
  service-catalog-ui/Makefile
Due: none

Fix injecting clusterConfig in Core
  core/webpack-extra.config.js
  core/webpack-generateConfig.config.js
Due: pre-master-console-core, post-master-console-core

Fix webpack configs
  core/webpack-extra.config.js
  core/webpack-generateConfig.config.js
Due: pre-master-console-core, post-master-console-core

Fix tests
  core-ui/src/components/Lambdas/test/Lambdas.test.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/NamespaceListHeader.test.js
  core-ui/src/components/NamespaceList/NamespacesListHeader/test/NamespaceListHeader.ui.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Hardcode service-catalog-ui paths in lerna
  lerna.json
Due: none

Fix injecting clusterConfig with webpack
  core/webpack-extra.config.js
  scripts/setClusterConfig.sh
Due: pre-master-console-core, post-master-console-core

Fix webpack configs again
  core/webpack-extra.config.js
  core/webpack-generateConfig.config.js
Due: pre-master-console-core, post-master-console-core

Fix lambdas
  lambda/package.json
  lambda/src/app/app.config.ts
  lambda/webpack-extra.config.js
Due: none

Use real data to display
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix core and luigi-config
  core/src/app/app.config.ts
  core/src/luigi-config/luigi-config.js
  core/webpack-extra.config.js
  core/webpack-generateConfig.config.js
Due: pre-master-console-core, post-master-console-core

Fix path in setClusterConfig.sh
  scripts/setClusterConfig.sh
Due: none

another fix to Core
  core/src/app/app.config.ts
Due: pre-master-console-core, post-master-console-core

sadfghasdg
  core/src/app/app.config.ts
Due: pre-master-console-core, post-master-console-core

Apply renaming, review fixes
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.component.js
  compass/src/components/Scenarios/ScenarioDetails/shared/AssignEntityToScenarioModal/AssignEntityToScenarioModal.component.js
  compass/src/components/Scenarios/ScenarioDetails/shared/AssignEntityToScenarioModal/AssignRuntimesToScenarioModal.container.js
  compass/src/components/Scenarios/ScenarioDetails/shared/getActualChanges.js
  compass/src/shared/utility/getActualChanges.js
  compass/src/shared/utility/test/getActualChanges.test.js
Due: pre-master-console-compass, post-master-console-compass

Update load-cluster-config.sh to use sh's dot operator
  scripts/load-cluster-config.sh
Due: none

Fix lambdas
  lambda/package.json
  lambda/src/app/app.config.ts
  lambda/src/app/event-activations/event-activations.service.spec.ts
  lambda/src/app/service-instances/service-instances.service.exclude.spec.ts
  lambda/src/test.ts
  lambda/webpack-extra.config.js
Due: none

Remove obsolete lines from service-catalog-ui dockerfile and makefile
  service-catalog-ui/Dockerfile
  service-catalog-ui/Makefile
Due: none

Remove obsolete lines from logging
  logging/Dockerfile
  logging/Makefile
Due: pre-master-console-logging, post-master-console-logging

add debug info to load-cluster-config
  scripts/load-cluster-config.sh
Due: none

Fix lambda test warning
  lambda/tslint.json
Due: none

Fix PropTypes and runtime deassign problems
  compass/src/components/Scenarios/ScenarioDetails/ScenarioRuntimes/ScenarioRuntimes.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioRuntimes/ScenarioRuntimes.container.js
  compass/src/components/Scenarios/ScenarioDetails/shared/AssignEntityToScenarioModal/AssignEntityToScenarioModal.component.js
  compass/src/components/Scenarios/ScenarioDetails/shared/unassignScenarioHandler.js
  compass/src/components/Scenarios/ScenarioDetails/test/__snapshots__/ScenarioDetails.test.js.snap
  compass/src/components/Scenarios/gql.js
Due: pre-master-console-compass, post-master-console-compass

Make getChangesBy more generic
  compass/src/components/Scenarios/ScenarioDetails/shared/AssignEntityToScenarioModal/AssignEntityToScenarioModal.component.js
  compass/src/shared/utility/getActualChanges.js
  compass/src/shared/utility/getActualChangesBy.js
  compass/src/shared/utility/test/getActualChanges.test.js
  compass/src/shared/utility/test/getActualChangesBy.test.js
Due: pre-master-console-compass, post-master-console-compass

Update basic data
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetailsHeader/LambdaDetailsHeader.js
  core-ui/src/gql/mutations.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
