Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

updated readme, removed generic-list from lerna, added fiori-fundamentals to lambda for usage in generic-list
  components/angular/generic-list/README.md
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.scss
  components/angular/generic-list/src/app/modules/list/plain-list/plain-list.component.scss
  components/angular/generic-list/src/app/modules/list/plain-table/plain-table.component.scss
  lambda/Makefile
  lambda/package-lock.json
  lambda/package.json
  lerna.json
  package.json
Due: console-governance

Convert instances UI modal components to Fiori
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ParametersDataModal/ParametersDataModal.component.js
Due: none

Convert Instances and Catalog components to Fiori
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/BasicData.component.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  components/react/src/components/Dropdown/components.js
  components/react/src/components/Dropdown/index.js
  components/react/src/components/Dropdown/styled.js
  components/react/src/components/Forms/Input/index.js
  components/react/src/components/Forms/JSONSchema/index.js
  components/react/src/components/Forms/Select/index.js
  components/react/src/components/Search/index.js
  components/react/src/components/index.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/DeleteBindingModal/DeleteBindingModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/SecretDataModal/SecretDataModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/SecretDataModal/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/styled.js
  instances/src/components/ServiceInstanceDetails/styled.js
  instances/src/components/ServiceInstances/ServiceInstances.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/FilterDropdown.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/SearchDropdown.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/ServiceInstancesToolbar.component.js
  instances/src/components/ServiceInstances/ServiceInstancesToolbar/styled.js
  instances/src/components/ServiceInstances/styled.js
Due: none

Apply suggestions from code review
  components/angular/generic-list/README.md
Due: console-governance

readme updates
  components/angular/generic-list/README.md
Due: console-governance

readme code styling
  components/angular/generic-list/README.md
Due: console-governance

Add namespace manager with test bundle installer
  tests/ui-tests/setup/kubeconfig.js
  tests/ui-tests/setup/namespace-manager.js
  tests/ui-tests/setup/test-bundle-installer.js
Due: console-tests

Improve styles for service-catalog views
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/styled.js
  catalog/src/components/ServiceClassList/Cards/styled.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  components/react/src/components/Label/index.js
  components/react/src/components/Label/styled.js
  components/react/src/components/Modal/index.js
  components/react/src/components/Spinner/index.js
  components/react/src/components/Table/index.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Token/styled.js
  components/react/src/components/index.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
  instances/src/components/App/RouteWrapper.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/Resources.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.container.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
Due: none

Some additional fixes
  components/react/src/components/Label/index.js
  components/react/src/components/Tabs/components.js
Due: none

Improve styles for service-catalog views (#526)
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/styled.js
  catalog/src/components/ServiceClassList/Cards/styled.js
  catalog/src/components/ServiceClassList/ServiceClassList.component.js
  components/react/src/components/Label/styled.js
  components/react/src/components/Modal/index.js
  components/react/src/components/Spinner/index.js
  components/react/src/components/Table/index.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Token/styled.js
  components/react/src/components/index.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
  instances/src/components/App/RouteWrapper.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/Resources.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.container.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.component.js
Due: none

Wait for helm broker ready
  tests/ui-tests/setup/helm-broker/config.js
  tests/ui-tests/setup/helm-broker/configurer.js
  tests/ui-tests/setup/namespace-manager.js
  tests/ui-tests/setup/test-bundle-installer.js
Due: console-tests

fix for lambda create-redirect
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Wait for test bundle
  tests/ui-tests/setup/helm-broker/config.js
  tests/ui-tests/setup/helm-broker/configurer.js
  tests/ui-tests/setup/test-bundle-installer.js
Due: console-tests

Update old error message
  core/src/luigi-config/luigi-config.js
Due: console-core

Changed environments to ns
  lambda/src/app/event-activations/event-activations.service.spec.ts
  lambda/src/app/event-activations/event-activations.service.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/shared/datamodel/k8s/subscription.ts
  lambda/src/app/subscriptions/subscriptions.service.ts
Due: none

Update css of input in lambdas
  lambda/src/styles.scss
Due: none

Install Fundamental-ngx in Lambdas
  components/angular/generic-list/package-lock.json
  lambda/angular.json
  lambda/package.json
Due: none

Update GenericList readme
  components/angular/generic-list/README.md
  components/angular/generic-list/src/app/modules/list/list-search/list-search.component.html
Due: console-governance

Rename environment to namespace
  brokers/src/components/ServiceBrokers/ServiceBrokers.container.js
  brokers/src/components/ServiceBrokers/queries.js
  catalog/src/components/Main/Main.container.js
  catalog/src/components/Main/mutations.js
  catalog/src/components/Main/queries.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.container.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/queries.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.container.js
  catalog/src/components/ServiceClassDetails/mutations.js
  catalog/src/components/ServiceClassDetails/queries.js
  catalog/src/components/ServiceClassList/ServiceClassList.container.js
  catalog/src/store/Filter/resolvers.js
  core/src/app/content/environments/configuration/apis/filtered-apis/filtered-apis.component.ts
  core/src/app/content/environments/configuration/resources/limit-ranges/limit-ranges.component.ts
  core/src/app/content/environments/configuration/resources/resource-quotas/resource-quotas.component.ts
  core/src/app/content/environments/operation/deployments/deployments.component.ts
  core/src/app/content/environments/services/environments.service.spec.ts
  core/src/app/content/environments/services/environments.service.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-binding-service.ts
  instances/src/components/DataProvider/DataProvider.js
  instances/src/components/DataProvider/fragments.js
  instances/src/components/DataProvider/queries.js
  instances/src/components/DataProvider/subscriptions.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.container.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/queries.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateBindingModal/CreateBindingModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.container.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/mutations.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.container.js
  instances/src/components/ServiceInstanceDetails/queries.js
  instances/src/components/ServiceInstances/ServiceInstances.container.js
  instances/src/components/ServiceInstances/mutations.js
  instances/src/components/ServiceInstances/queries.js
  instances/src/store/Filter/resolvers.js
  lambda/src/app/lambdas/lambda-details/lambda-details.service.ts
  lambda/src/app/service-instances/service-instances.service.spec.ts
  lambda/src/app/service-instances/service-instances.service.ts
Due: prow/console/brokers, console-core

Remove unnecessary div
  components/angular/generic-list/src/app/modules/list/list-search/list-search.component.html
Due: none

Include and exclude test bundle repository in helm bundle deployment env config
  tests/jest-setup.js
  tests/ui-tests/setup/helm-broker/config.js
  tests/ui-tests/setup/helm-broker/configurer.js
  tests/ui-tests/setup/namespace-manager.js
  tests/ui-tests/setup/test-bundle-installer.js
Due: console-tests

Eliminate popover click propagation bug
  components/angular/generic-list/src/app/dummy-element-renderer/dummy-element-renderer.component.html
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.html
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.ts
Due: none

Run all tests from tests directory
  tests/package-lock.json
  tests/package.json
  tests/ui-tests/config.js
  tests/ui-tests/tests/catalog-ui-test.js
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

Fix test bundle installer
  tests/package.json
  tests/ui-tests/setup/helm-broker/configurer.js
  tests/ui-tests/setup/test-bundle-installer.js
  tests/ui-tests/tests/lambda-ui-test.js
Due: console-tests

Connect Remote Environment button can provide invalid token due to expiration time
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.html
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
  core/src/app/content/settings/remote-environments/remote-environments.component.html
Due: console-core

Fix aborting watch while resolving promise
  tests/Dockerfile
  tests/ui-tests/setup/helm-broker/configurer.js
Due: console-tests

Changed environments to ns (#527)
  lambda/src/app/event-activations/event-activations.service.spec.ts
  lambda/src/app/event-activations/event-activations.service.ts
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
  lambda/src/app/shared/datamodel/k8s/subscription.ts
  lambda/src/app/subscriptions/subscriptions.service.ts
Due: none

Remove unnecessary code
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.scss
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.ts
Due: none

Create fallback warning
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.ts
Due: none

Fix tests part 1
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.html
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.ts
  tests/ui-tests/commands/console.js
Due: console-tests

fix bug in entryAsString() function
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.ts
Due: none

Remove unnecessary double namespace creation
  tests/ui-tests/tests/catalog-ui-test.js
Due: console-tests

Fix exposed apis list view
  core/src/app/content/environments/configuration/apis/filtered-apis/filtered-apis.component.ts
Due: console-core

Renaming fixes
  core/src/app/content/settings/remote-environments/remote-environment-details/edit-bindings-modal/edit-binding-modal.component.spec.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/edit-bindings-modal/edit-binding-modal.component.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
  core/src/app/content/settings/remote-environments/remote-environments.component.ts
  core/src/app/content/settings/remote-environments/services/remote-environments.service.spec.ts
  core/src/app/content/settings/remote-environments/services/remote-environments.service.ts
Due: console-core

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  console-tests: any of: ^tests/
