Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Update tests/README.md
  tests/README.md
Due: console-governance, pre-master-console-tests, post-master-console-tests

fix MD api loading at first
  components/generic-documentation/src/renderers/Group.renderer.tsx
Due: none

Hide system namespaces toggle for non runtime admin
  core/src/app/content/settings/organisation/organisation.component.html
  core/src/app/content/settings/organisation/organisation.component.ts
Due: pre-master-console-core, post-master-console-core

Update nging.conf
  compass/nginx.conf
  compass/src/config/luigi-config/auth.js
Due: pre-master-console-compass, post-master-console-compass

Remove log
  core/src/app/content/settings/organisation/organisation.component.ts
Due: pre-master-console-core, post-master-console-core

first version of InfiniteScroll si working
  compass/src/components/Runtimes/InfiniteScroll.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.container.js
  compass/src/components/Runtimes/Runtimes.js
  compass/src/components/Runtimes/gql.js
Due: pre-master-console-compass, post-master-console-compass

SearchInput and footer
  compass/src/components/Runtimes/InfiniteScroll.js
  compass/src/components/Runtimes/Runtimes.js
  compass/src/components/Runtimes/SearchInput.js
Due: pre-master-console-compass, post-master-console-compass

Simplify setCanScrollMore
  compass/src/components/Runtimes/InfiniteScroll.js
Due: pre-master-console-compass, post-master-console-compass

Optimize state usage
  compass/src/components/Runtimes/InfiniteScroll.js
Due: pre-master-console-compass, post-master-console-compass

Update nginx.conf
  compass/nginx.conf
Due: pre-master-console-compass, post-master-console-compass

Add guard at the end of scrolling
  compass/src/components/Runtimes/InfiniteScroll.js
Due: pre-master-console-compass, post-master-console-compass

go back ~~~
  core-ui/src/components/Lambdas/LambdaDetails/useLogsView.js
  logging/src/components/LogsContainer.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-logging, post-master-console-logging

Update nginx.conf dammit
  compass/nginx.conf
Due: pre-master-console-compass, post-master-console-compass

update
  core-ui/src/components/Lambdas/LambdaDetails/useLogsView.js
  logging/src/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-logging, post-master-console-logging

remove changes
  logging/src/components/LogsContainer.js
Due: pre-master-console-logging, post-master-console-logging

Remove logs
  compass/nginx.conf
  compass/src/config/luigi-config/auth.js
Due: pre-master-console-compass, post-master-console-compass

change location of those scripts
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/helpers/misc/test/useLogsView.test.js
  core-ui/src/components/Lambdas/helpers/misc/useLogsView.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove RegisterRuntimeForm
  compass/src/components/Runtimes/RegisterRuntimeForm/RegisterRuntimeForm.component.js
  compass/src/components/Runtimes/RegisterRuntimeForm/RegisterRuntimeForm.container.js
  compass/src/components/Runtimes/RegisterRuntimeForm/RegisterRuntimeForm.scss
  compass/src/components/Runtimes/RegisterRuntimeForm/test/RegisterRuntimeForm.test.js
  compass/src/components/Runtimes/RegisterRuntimeForm/test/__snapshots__/RegisterRuntimeForm.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

remove unused code
  compass/src/components/Runtimes/Runtimes.js
Due: pre-master-console-compass, post-master-console-compass

Add tests for Runtimes
  compass/src/components/Runtimes/InfiniteScroll.js
  compass/src/components/Runtimes/gql.js
  compass/src/components/Runtimes/test/Runtime.test.js
Due: pre-master-console-compass, post-master-console-compass

Add last test for runtimes
  compass/src/components/Runtimes/test/Runtime.test.js
Due: pre-master-console-compass, post-master-console-compass

generic documentation component
  common/src/types/rafter.ts
  components/generic-documentation/src/loader/loader.ts
  components/generic-documentation/src/renderers/helpers/ApiSelector.tsx
Due: none

Further cleanup ofRuntime tests
  compass/src/components/Runtimes/test/Runtime.test.js
Due: pre-master-console-compass, post-master-console-compass

Extend InfiniteScroll API with renderers
  compass/src/components/Runtimes/InfiniteScroll.js
  compass/src/components/Runtimes/Runtimes.js
Due: pre-master-console-compass, post-master-console-compass

Add rest of the columns
  compass/src/components/Runtimes/Runtimes.js
  compass/src/components/Runtimes/test/Runtime.test.js
Due: pre-master-console-compass, post-master-console-compass

Update scenario badge
  compass/src/components/Shared/ScenariosDisplay/ScenariosDisplay.js
Due: pre-master-console-compass, post-master-console-compass

Make InfiniteList more generic
  compass/src/components/Runtimes/InfiniteList.js
  compass/src/components/Runtimes/Runtimes.js
Due: pre-master-console-compass, post-master-console-compass

Change scenario text color, rename no more msg, fix snapshots
  compass/src/components/Runtimes/InfiniteList.js
  compass/src/components/Runtimes/Runtimes.js
  compass/src/components/Shared/ScenariosDisplay/ScenariosDisplay.js
  compass/src/components/Shared/ScenariosDisplay/test/__snapshots__/ScenarioDisplay.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Update message in tests
  compass/src/components/Runtimes/test/Runtime.test.js
Due: pre-master-console-compass, post-master-console-compass

revert to function label
  logging/src/constants.js
Due: pre-master-console-logging, post-master-console-logging

revert to function label
  core-ui/src/components/Lambdas/helpers/misc/useLogsView.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Link service details to APIRules
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleFormHeader/ApiRuleFormHeader.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleFormHeader/test/ApiRuleFormHeader.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/ApiRuleForm.test.js
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  core-ui/src/components/ApiRules/EditApiRule/test/EditApiRule.test.js
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.ts
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis-header-renderer/filtered-apis-header-renderer.component.html
  core/src/app/content/namespaces/configuration/apis/filtered-apis/filtered-apis.component.ts
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.html
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.ts
  core/src/app/content/namespaces/operation/services/services.component.ts
  core/src/app/content/settings/organisation/organisation.component.ts
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

fix documentation layout on Instances
  components/generic-documentation/src/layouts/InstancesUI.tsx
Due: none

Add loose compile option for generic-documentation development
  components/generic-documentation/package.json
  components/generic-documentation/tsconfig.dev.json
Due: pre-master-console-whitesource-scan

add compass-dev domain to hosts when using setClusterConfig
  scripts/setClusterConfig.sh
Due: none

Add link to runtime details
  compass/src/components/Runtimes/Runtimes.js
Due: pre-master-console-compass, post-master-console-compass

convert async api v1 in applications view[core-ui]
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Apis/ApiDetails/ApiDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-whitesource-scan

convert async api v1 in compass-ui
  compass/package-lock.json
  compass/package.json
  compass/src/components/Api/ApiDetails/ApiDetails.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-whitesource-scan

Do not cache runtimes so they refresh when tenant is changed
  compass/src/components/Runtimes/InfiniteList.js
Due: pre-master-console-compass, post-master-console-compass

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
