Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Add Markdown component to instances
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
  instances/src/index.css
Due: none

Unvailable console-config.js asset issue (#24)
  core/src/assets/luigi-config.js
  core/src/index.html
Due: console-core

Allow console content to be rendered in Luigi iframe (#25)
  core/nginx/nginx.conf
Due: console-core

Filter not bindable services from list in service binding component (kyma-project/kyma#1596)
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-binding-creator/lambda-instance-binding-creator.component.html
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-binding-creator/lambda-instance-binding-creator.component.ts
  lambda/src/app/service-instances/service-instances.service.spec.ts
  lambda/src/app/service-instances/service-instances.service.ts
  lambda/src/app/shared/datamodel/k8s/service-instance-list.ts
  lambda/src/app/shared/datamodel/k8s/service-instance-response.ts
  lambda/src/app/shared/datamodel/k8s/service-instance.ts
  lambda/src/app/shared/datamodel/k8s/service-instances-response.ts
Due: none

Fix styling in service class documentation (#397)
  catalog/src/components/ServiceClassDetails/ServiceClassInfo/styled.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/index.css
  components/react/src/components/Markdown/Readme.md
  components/react/src/components/Markdown/index.js
  components/react/src/components/index.js
  content/src/components/ContentWrapper/ContentWrapper.component.js
  content/src/index.css
  instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
  instances/src/index.css
Due: console-governance

Add StatusesList component
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/styled.js
Due: none

Improve statusIndicator and check bindingCreateParameterSchema exists
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/styled.js
Due: none

Remove unit tests for validation asyncApi
  catalog/src/commons/commons.spec.js
  instances/src/commons/common.spec.js
Due: none

Update asyncapi-react to 0.1.1
  catalog/package-lock.json
  catalog/package.json
  instances/package-lock.json
  instances/package.json
Due: none

Add AsyncApi component in catalog and instances ui
  brokers/package-lock.json
  brokers/package.json
  catalog/config-overrides.js
  catalog/package-lock.json
  catalog/package.json
  catalog/src/commons/asyncapi.js
  catalog/src/commons/helpers.js
  catalog/src/components/ServiceClassDetails/Events/Events.component.js
  catalog/src/components/ServiceClassDetails/Events/styled.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/styled.js
  components/react/package-lock.json
  components/react/src/components/Tabs/Tab/index.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  content/package-lock.json
  content/package.json
  instances/config-overrides.js
  instances/package-lock.json
  instances/package.json
  instances/src/commons/asyncapi.js
  instances/src/commons/helpers.js
  instances/src/components/ServiceInstanceDetails/Events/Events.component.js
  instances/src/components/ServiceInstanceDetails/Events/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/styled.js
Due: prow/console/brokers

Improve styles for asyncApi component
  catalog/src/commons/asyncapi.js
  instances/src/commons/asyncapi.js
Due: none

Add AsyncApi component in catalog and instances ui (#391)
  brokers/package-lock.json
  brokers/package.json
  catalog/config-overrides.js
  catalog/package-lock.json
  catalog/package.json
  catalog/src/commons/asyncapi.js
  catalog/src/commons/commons.spec.js
  catalog/src/commons/helpers.js
  catalog/src/components/ServiceClassDetails/Events/Events.component.js
  catalog/src/components/ServiceClassDetails/Events/styled.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/styled.js
  components/react/package-lock.json
  components/react/src/components/Tabs/Tab/index.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  content/package-lock.json
  content/package.json
  instances/config-overrides.js
  instances/package-lock.json
  instances/package.json
  instances/src/commons/asyncapi.js
  instances/src/commons/common.spec.js
  instances/src/commons/helpers.js
  instances/src/components/ServiceInstanceDetails/Events/Events.component.js
  instances/src/components/ServiceInstanceDetails/Events/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/styled.js
Due: prow/console/brokers

Check exists of bindingCreateParameterSchema field (#396)
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/CreateCredentialsModal/CreateCredentialsModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/styled.js
Due: none

Fix Instances and Catalog build
  catalog/package-lock.json
  catalog/package.json
  instances/package-lock.json
  instances/package.json
Due: none

Fix Instances and Catalog build (#413)
  catalog/package-lock.json
  catalog/package.json
  instances/package-lock.json
  instances/package.json
Due: none

Comment publishing in jenkins
  components/react/Jenkinsfile
Due: none

Comment publishing in jenkins (#411)
  components/react/Jenkinsfile
Due: none

Renaming REnvs to Applications (ui + ui-tests only)
  core/src/app/content/environments/environment-details/environment-details.component.html
  core/src/app/content/settings/remote-environments/create-remote-environment-modal/create-remote-environment-modal.component.html
  core/src/app/content/settings/remote-environments/edit-remote-environment-modal/edit-remote-environment-modal.component.html
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.html
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
  core/src/app/content/settings/remote-environments/remote-environments.component.html
  core/src/app/content/settings/remote-environments/remote-environments.component.ts
  core/src/app/content/workspace-overview/environment-card/environment-card.component.html
  core/src/app/navigation/app.navigation.data.ts
  core/src/app/shared/components/labels-input/labels-input.component.html
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/console-basic-test.js
Due: console-core, console-tests

change path segment /remoteEnvs to /apps
  core/src/app/content/environments/environment-details/environment-details.component.html
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
  core/src/app/content/settings/remote-environments/remote-environments-entry-renderer/remote-environments-entry-renderer.component.ts
  core/src/app/navigation/app-routing.module.ts
  core/src/app/navigation/app.navigation.data.ts
  tests/ui-tests/utils/address.js
Due: console-core, console-tests

Rename Remote Environment Related text to Application
  lambda/src/app/lambdas/lambda-details/event-trigger-chooser/event-trigger-chooser.component.html
Due: none

Comment some stuff (#28)
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Delete only ServiceBiningUsage from lambda-ui (#395)
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Fix bugs
  catalog/package-lock.json
  catalog/src/components/App/styled.js
  instances/package-lock.json
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
Due: none

Improve status indicator
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
Due: none

Rename environments to namespaces
  core/package-lock.json
  core/src/app/content/environments/configuration/resources/resources.component.html
  core/src/app/content/environments/environment-create/environment-create.component.html
  core/src/app/content/environments/environment-details/environment-details.component.html
  core/src/app/content/settings/remote-environments/remote-environment-details/edit-bindings-modal/edit-binding-modal.component.html
  core/src/app/content/settings/remote-environments/remote-environments-header-renderer/remote-environments-header-renderer.component.html
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.html
  core/src/app/navigation/navigation.component.html
Due: console-core

Fix bugs with global styles, status indicator of bindings and filtering in catalog (#419)
  catalog/package-lock.json
  catalog/src/components/App/styled.js
  instances/package-lock.json
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/styled.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
Due: none

fix linter error (#30)
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Rename environments to namespaces in routing
  core/src/app/content/environments/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/environments/configuration/apis/apis.component.html
  core/src/app/content/environments/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/environments/development/lambdas/lambdas.component.ts
  core/src/app/content/environments/environment-create/environment-create.component.ts
  core/src/app/content/environments/environments-container/environments-container.component.ts
  core/src/app/content/environments/instances-container/instances-container.component.ts
  core/src/app/content/environments/operation/secrets/secret-detail/secret-detail.component.ts
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.component.ts
  core/src/app/content/environments/operation/services/service-details/service-details.component.ts
  core/src/app/content/workspace-overview/environment-card/environment-card.component.html
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.ts
  core/src/app/extensibility/directives/ext-app-listener.directive.ts
  core/src/app/navigation/app-routing.module.ts
  core/src/app/navigation/header/header.component.html
  core/src/app/navigation/navigation.component.html
  core/src/app/navigation/navigation.component.ts
Due: console-core

Rename environments to namespaces
  core/src/app/content/environments/environment-details/environment-details.component.ts
  core/src/app/content/environments/environments-container/environments-container.component.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.html
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.ts
  core/src/app/navigation/header/header.component.ts
  core/src/app/navigation/navigation.component.html
Due: console-core

Rename environments to namespaces
  core/src/app/content/settings/remote-environments/remote-environment-details/edit-bindings-modal/edit-binding-modal.component.html
Due: console-core

Changed string to const
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-binding-creator/lambda-instance-binding-creator.component.ts
Due: none

Hide service instances if Service Plan has bindable attribute set to false (#407)
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-binding-creator/lambda-instance-binding-creator.component.html
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-binding-creator/lambda-instance-binding-creator.component.ts
  lambda/src/app/service-instances/service-instances.service.spec.ts
  lambda/src/app/service-instances/service-instances.service.ts
  lambda/src/app/shared/datamodel/k8s/service-instance-list.ts
  lambda/src/app/shared/datamodel/k8s/service-instance-response.ts
  lambda/src/app/shared/datamodel/k8s/service-instance.ts
  lambda/src/app/shared/datamodel/k8s/service-instances-response.ts
Due: none

Fixed bug #422
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

migrate to new graphql querries
  core/src/app/app.config.ts
  core/src/app/content/environments/environment-details/environment-details.component.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/edit-bindings-modal/edit-binding-modal.component.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-binding-service.ts
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.ts
  core/src/app/content/settings/remote-environments/remote-environments.component.ts
  core/src/app/content/settings/remote-environments/services/remote-environments.service.ts
  core/src/app/content/workspace-overview/workspace-overview/environment-data-converter.ts
Due: console-core

Do not delete service binding usage of other functions using the same credentials (#426)
  lambda/src/app/lambdas/lambda-details/lambda-details.component.ts
Due: none

Improve content styles on content-ui, catalog-ui and instances-ui
  components/react/src/components/Markdown/index.js
  content/src/components/ContentWrapper/ContentWrapper.component.js
  content/src/components/MainPage/MainPage.component.js
Due: none

update unit tests
  core/src/app/content/settings/remote-environments/remote-environment-details/edit-bindings-modal/edit-binding-modal.component.spec.ts
  core/src/app/content/settings/remote-environments/services/remote-environments.service.spec.ts
Due: console-core

fixes after code review
  core/src/app/content/settings/remote-environments/remote-environment-details/remote-environment-details.component.html
  core/src/app/content/settings/remote-environments/remote-environments.component.ts
Due: console-core

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  console-tests: any of: ^tests/
