Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/

Add test for integrating two data sources
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Applications/ApplicationList/test/ApplicationList.test.js
  core-ui/src/components/Applications/ApplicationList/test/mocks.js
  core-ui/src/setupTests.js
  shared/components/GenericList/actionHandlers/simpleDelete.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove obsolete lines
  core-ui/src/components/Applications/ApplicationList/test/ApplicationList.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Combine kyma and compass data, add list of bound nmspcs, add emptydetails component
  core-ui/src/components/App/App.js
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
  core-ui/src/components/Applications/BoundNamespacesList/BoundNamespacesList.js
  core-ui/src/gql/queries.js
  shared/components/DetailsError/DetailsError.js
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add tests, simplify JwtDetails
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/JwtDetails.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/test/JwtDetails.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  shared/components/InputWithPrefix/InputWithPrefix.js
  shared/components/InputWithPrefix/InputWithPrefix.scss
  shared/components/InputWithPrefix/test/InputWithPrefix.js
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Merge styles
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.scss
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/JwtDetails.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Small fixes
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/JwtDetails.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/test/JwtDetails.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/mocks.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add providerName field in header
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Improve generic list so it also filters stirngs
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
  shared/components/GenericList/helpers.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fixes after review
  shared/components/GenericList/actionHandlers/simpleDelete.js
Due: none

Add unbind to bound namespaces list
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/BoundNamespacesList/BoundNamespacesList.js
  core-ui/src/gql/mutations.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove unused file
  shared/typechecking/IsSubscriptionOperation.js
Due: none

Fix imports
  service-catalog-ui/instances/src/store/index.js
Due: none

Show notification on kyma error
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Improve generic search so it also searches for strings
  shared/components/GenericList/SearchInput.js
Due: none

Use modal instead of modal with form
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.scss
  core-ui/src/index.scss
  shared/components/Modal/Modal.js
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

experimental mf for compass apps
  .clusterConfig.default
  core-ui/src/apollo.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Review fixes
  compass/src/App.scss
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.js
  compass/src/components/Applications/CreateApplicationFromTemplateModal/CreateApplicationFromTemplateModal.scss
  compass/src/components/Applications/CreateApplicationFromTemplateModal/test/CreateApplicationFromTemplateModal.test.js
  compass/src/components/Shared/MultiChoiceList/MultiChoiceList.component.js
  compass/src/components/Shared/MultiChoiceList/style.scss
Due: pre-master-console-compass, post-master-console-compass

Remove fundamental popover, bind namespace to app
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
  core-ui/src/components/Applications/BoundNamespacesList/BoundNamespacesList.js
  core-ui/src/gql/mutations.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix problems after merge
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
  core-ui/src/components/Applications/BoundNamespacesList/BoundNamespacesList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add connect application modal
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/ApplicationList/test/mocks.js
  core-ui/src/components/Applications/ConnectApplicationModal/ConnectApplicationModal.js
  core-ui/src/components/Applications/ConnectApplicationModal/ConnectApplicationModal.scss
  core-ui/src/components/Applications/ConnectApplicationModal/test/ConnectApplicationModal.test.js
  core-ui/src/components/Applications/ConnectApplicationModal/test/mock.js
  core-ui/src/gql/mutations.js
  shared/components/Modal/Modal.js
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

load default DEX idp preset
  .clusterConfig.default
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/JwtDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

fix unit tests
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/JwtDetails/test/JwtDetails.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix dropdown if no namespaces aviable
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix select value not changing
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix tags and select errors
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
  shared/components/Modal/Modal.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add NOT_INSTALLED status
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Improve modal sizing
  core-ui/src/components/Applications/ConnectApplicationModal/ConnectApplicationModal.js
  core-ui/src/components/Applications/ConnectApplicationModal/ConnectApplicationModal.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Make modal a bit wider
  shared/components/Modal/Modal.js
  shared/components/Modal/Modal.scss
Due: none

Unify backend and frontend naming in docs
  README.md
  components/angular/generic-list/README.md
  service-catalog-ui/README.md
Due: console-governance

Enable stale bot for epics
  .github/stale.yml
Due: none

Move labels to shared and add proptypes
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
  core-ui/src/components/Applications/BoundNamespacesList/BoundNamespacesList.js
  core-ui/src/components/Lambdas/Lambdas.js
  shared/components/Labels/Labels.js
  shared/components/Labels/test/Labels.test.js
  shared/components/Labels/test/__snapshots__/Labels.test.js.snap
  shared/index.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Small improvement
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Get showsystemnamespaces from luigi
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Register application modal
  core-ui/src/components/Applications/ApplicationList/ApplicationList.js
  core-ui/src/components/Applications/ApplicationList/test/ApplicationList.test.js
  core-ui/src/components/Applications/RegisterApplication/RegisterApplicationForm.js
  core-ui/src/components/Applications/RegisterApplication/test/RegisterApplicationForm.test.js
  core-ui/src/components/Applications/RegisterApplication/test/gqlMocks.js
  core-ui/src/gql/mutations.js
  core-ui/src/gql/queries.js
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

remove from hardcoded luigi-config
  core/src/luigi-config/luigi-config.js
Due: pre-master-console-core, post-master-console-core

Add test for app details
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
  core-ui/src/components/Applications/ApplicationDetails/test/ApplicationDetails.test.js
  core-ui/src/components/Applications/ApplicationDetails/test/mocks.js
  core-ui/src/components/Applications/BoundNamespacesList/BoundNamespacesList.js
  shared/components/GenericList/GenericList.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Update core-ui/src/components/Applications/RegisterApplication/test/RegisterApplicationForm.test.js
  core-ui/src/components/Applications/RegisterApplication/test/RegisterApplicationForm.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Review changes
  core-ui/src/components/Applications/RegisterApplication/RegisterApplicationForm.js
  core-ui/src/components/Applications/RegisterApplication/test/RegisterApplicationForm.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove double await componentUpdate(component);
  core-ui/src/components/Applications/RegisterApplication/test/RegisterApplicationForm.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add simple test to bindnamespace modal
  core-ui/src/components/Applications/BindNamespaceModal/BindNamespaceModal.js
  core-ui/src/components/Applications/BindNamespaceModal/test/BindNamespaceModal.test.js
  core-ui/src/components/Applications/BindNamespaceModal/test/mocks.js
Due: pre-master-console-core-ui, post-master-console-core-ui
