Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-content:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-node:v20191009-19b4b28
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-core-ui:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2Gi
          cpu: 1.5
  ...

Read groups info from luigi context
  core/src/app/content/settings/organisation/organisation.component.ts
Due: pre-master-console-core, post-master-console-core

Add missed namespace arg for functions/triggers mutations.
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useCreateManyEventTriggers.test.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useDeleteEventTrigger.test.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useDeleteLambda.test.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateManyEventTriggers.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useDeleteEventTrigger.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useDeleteLambda.js
  core-ui/src/components/Lambdas/gql/mutations.js
Due: pre-master-console-core-ui, post-master-console-core-ui

rename "label" to "metadata definition"
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitions.component.js
  compass/src/config/luigi-config/navigation.js
Due: pre-master-console-compass, post-master-console-compass

CreateLabelModal -> CreateMDmodal
  compass/src/components/Labels/gql.js
  compass/src/components/MetadataDefinitions/CreateLabelModal/CreateLabelModal.container.js
  compass/src/components/MetadataDefinitions/CreateMDmodal/CreateMDmodal.component.js
  compass/src/components/MetadataDefinitions/CreateMDmodal/CreateMDmodal.container.js
  compass/src/components/MetadataDefinitions/CreateMDmodal/LabelSpecificationUploadHelper.js
  compass/src/components/MetadataDefinitions/MetadataDefinitions.component.js
  compass/src/components/MetadataDefinitions/gql.js
Due: pre-master-console-compass, post-master-console-compass

LabelsTable -> MetadataDefinitionsTable
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeDetails.js
  compass/src/components/Shared/MetadataDefinitionTable/MetadataDefinitionTable.js
  compass/src/components/Shared/MetadataDefinitionTable/test/LabelsTable.test.js
Due: pre-master-console-compass, post-master-console-compass

fix test
  compass/src/components/Shared/MetadataDefinitionTable/test/MetadataDefinitionTable.test.js
Due: pre-master-console-compass, post-master-console-compass

Change column widths in secrets, services nad replica sets to more readable
  core/src/app/content/namespaces/operation/replica-sets/replica-sets-entry-renderer/replica-sets-entry-renderer.component.html
  core/src/app/content/namespaces/operation/replica-sets/replica-sets-header-renderer/replica-sets-header-renderer.component.html
  core/src/app/content/namespaces/operation/secrets/secrets-header-renderer/secrets-header-renderer.component.html
  core/src/app/content/namespaces/operation/services/services-entry-renderer/services-entry-renderer.component.html
  core/src/app/content/namespaces/operation/services/services-header-renderer/services-header-renderer.component.html
  core/src/styles/fiori-fundamentals-overrides.scss
Due: pre-master-console-core, post-master-console-core

Remove space in tag
  core/src/app/content/namespaces/operation/services/services-header-renderer/services-header-renderer.component.html
Due: pre-master-console-core, post-master-console-core

review changes
  compass/src/components/MetadataDefinitions/CreateMDmodal/CreateMDmodal.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitions.component.js
Due: pre-master-console-compass, post-master-console-compass

remove obsolete file
  compass/src/components/MetadataDefinitions/CreateLabelModal/CreateLabelModal.container.js
Due: pre-master-console-compass, post-master-console-compass

adjust deployments also
  core/src/app/content/namespaces/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
Due: pre-master-console-core, post-master-console-core

Missing adjustments in deployments
  core/src/app/content/namespaces/operation/deployments/deployment-header-renderer/deployment-header-renderer.component.html
Due: pre-master-console-core, post-master-console-core

Show no permissions page
  components/generic-documentation/package-lock.json
  core/angular.json
  core/package-lock.json
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/nopermissions.html
  logging/package-lock.json
Due: pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging, pre-master-console-whitesource-scan

Set color
  core/src/nopermissions.html
Due: pre-master-console-core, post-master-console-core

add some awaits
  tests/helpers.js
  tests/tests/tests.js
Due: pre-master-console-tests, post-master-console-tests

Remove relogin button
  core/src/nopermissions.html
Due: pre-master-console-core, post-master-console-core

fix many things
  tests/helpers.js
  tests/package.json
  tests/tests/tests.js
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

switch back to chromium
  tests/package.json
Due: pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

beautify code
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

Remove instances start from service-catalog-ui/package.json
  service-catalog-ui/package.json
Due: pre-master-console-whitesource-scan

add artificial wait()
  tests/helpers.js
Due: pre-master-console-tests, post-master-console-tests

core-ui makefile
  Makefile
  core-ui/Makefile
  scripts/makefile-node-common.mk
Due: pre-master-console-core-ui, post-master-console-core-ui

Modify path to react-shared
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstanceDetails/test/ServiceInstanceDetails.test.js
  service-catalog-ui/catalog/src/domains/instances/components/ServiceInstancesList/test/ServiceInstancesList.test.js
Due: none

Don't use react-components in logging
  logging/src/components/Shared/AutoRefreshButton/AutoRefreshButton.js
Due: pre-master-console-logging, post-master-console-logging

fic build-image in core-ui makefile
  scripts/makefile-node-common.mk
Due: none

change make targets (local)
  scripts/makefile-node-common.mk
Due: none

Fix instances
  service-catalog-ui/catalog/src/components/App/App.jsx
Due: none

use license puller from buildpack
  core-ui/Makefile
  scripts/makefile-node-common.mk
Due: pre-master-console-core-ui, post-master-console-core-ui

Testing commit
  service-catalog-ui/catalog/src/index.js
Due: none

split resolve target
  scripts/makefile-node-common.mk
Due: none

resolve target
  scripts/makefile-node-common.mk
Due: none

fix licenses puller target
  scripts/makefile-node-common.mk
Due: none

AAAAAAAA
  scripts/makefile-node-common.mk
Due: none

fix resolve and push image
  scripts/makefile-node-common.mk
Due: none

fix ...
  Makefile
  scripts/makefile-node-common.mk
Due: none

Show navigation if only Kyma version query fails
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/navigation/queries.js
Due: pre-master-console-core, post-master-console-core

Remove unused export
  core/src/luigi-config/navigation/navigation-data-init.js
Due: pre-master-console-core, post-master-console-core

resolve once
  core-ui/Dockerfile
  scripts/makefile-node-common.mk
Due: pre-master-console-core-ui, post-master-console-core-ui

intentional test brake
  core-ui/src/components/ApiRules/test/ApiRules.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/
