Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/

do not store profile data in session storage
  compass/package-lock.json
  compass/package.json
  compass/src/config/luigi-config/auth.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-whitesource-scan

Update kind-of package
  components/generic-documentation/package-lock.json
  components/generic-documentation/package.json
Due: pre-master-console-whitesource-scan

Remove old container, move common funcs to helper file
  compass/src/components/ApiPackages/ApiPackageDetails/ApiList/ApiList.js
  compass/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/EditApiPackageForm.js
  compass/src/components/ApiPackages/ApiPackageDetails/EventList/EventList.js
  compass/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
  compass/src/components/ApiPackages/ApiPackagesHelpers.js
  compass/src/components/ApiPackages/CreateApiPackageForm/CreateApiPackageForm.js
  compass/src/components/ApiPackages/gql.js
  compass/src/components/Application/ApplicationDetails/ApplicationApiPackages/ApplicationApiPackages.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsHeader/ApplicationDetailsHeader.js
  compass/src/shared/components/ModalWithForm/ModalWithForm.container.js
  compass/src/shared/components/ModalWithForm/ModalWithForm.js
  compass/src/shared/components/ModalWithForm/test/ModalWithForm.test.js
Due: pre-master-console-compass, post-master-console-compass

Reduce refetch count
  compass/src/components/Scenarios/ScenarioDetails/shared/AssignEntityToScenarioModal/AssignEntityToScenarioModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Fix subscriptions in app details
  core-ui/src/components/Applications/ApplicationDetails/ApplicationDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add missing __typename to test mocks
  compass/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/test/mocks.js
Due: pre-master-console-compass, post-master-console-compass

Remove unnecessary breadcrumbs
  core-ui/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
  core-ui/src/components/Apis/ApiDetails/ApiDetails.js
  core-ui/src/components/Apis/EditApiHeader/EditApiHeader.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add null check on api package details
  core-ui/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix navigation
  core-ui/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Bring back necessary breadcrumb
  core-ui/src/components/Apis/EditApiHeader/EditApiHeader.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix links to applications from namespace details
  .clusterConfig.default
  core/src/app/content/namespaces/namespace-details/namespace-details.component.html
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
  core/src/app/content/settings/applications/application-details/application-binding-service.ts
Due: pre-master-console-core, post-master-console-core

Resolve route to applications based on navigation nodes and application instance type
  .clusterConfig.default
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
Due: pre-master-console-core, post-master-console-core

Remove auth for a specific api
  core-ui/src/components/Apis/ApiHelpers.js
  core-ui/src/components/Apis/CreateApiForm/CreateApiForm.js
  core-ui/src/components/Apis/EditApi/EditApi.js
  core-ui/src/components/Apis/Forms/CredentialForms/CredentialsForm.js
  core-ui/src/components/Apis/Forms/CredentialForms/OAuthCredentialsForm.js
  package-lock.json
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-whitesource-scan

Add credentials to Create and Edit
  core-ui/src/apollo.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/ApiPackageDetails.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/EditApiPackageForm.js
  core-ui/src/components/ApiPackages/ApiPackageHelpers.js
  core-ui/src/components/ApiPackages/CreateApiPackageForm/CreateApiPackageForm.js
  core-ui/src/gql/queries.js
Due: pre-master-console-core-ui, post-master-console-core-ui

code review
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
Due: pre-master-console-core, post-master-console-core

Add tests
  core-ui/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/EditApiPackageForm.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/test/EditApiPackageForm.test.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/test/mocks.js
  core-ui/src/components/ApiPackages/CreateApiPackageForm/test/CreateApiPackageForm.test.js
  core-ui/src/components/ApiPackages/CreateApiPackageForm/test/mocks.js
Due: pre-master-console-core-ui, post-master-console-core-ui

cosmethic changes
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
Due: pre-master-console-core, post-master-console-core

excuse me mr linter, but I tend to disagree
  core/src/app/content/namespaces/namespace-details/namespace-details.component.ts
Due: pre-master-console-core, post-master-console-core

Display application packages count on scenario details
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/ScenarioApplications.js
  compass/src/components/Scenarios/gql.js
Due: pre-master-console-compass, post-master-console-compass

Make filled badges colors rules more specific
  core-ui/src/index.scss
Due: pre-master-console-core-ui, post-master-console-core-ui

Run application test only if apiPackages ff is disabled
  tests/README.md
  tests/package.json
  tests/ui-tests/config.js
  tests/ui-tests/tests/applications-test.js
  tests/ui-tests/tests/expose-api-test.js
  tests/ui-tests/utils/skip.js
Due: console-governance, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Unify gql storage
  core-ui/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/EditApiPackageForm.js
  core-ui/src/components/ApiPackages/ApiPackageDetails/EditApiPackageForm/test/mocks.js
  core-ui/src/components/ApiPackages/CreateApiPackageForm/test/mocks.js
  core-ui/src/components/ApiPackages/gql.js
Due: pre-master-console-core-ui, post-master-console-core-ui

back to console-basic-test name
  tests/README.md
  tests/package.json
  tests/ui-tests/tests/console-basic-test.js
Due: console-governance, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

test
  logging/Makefile
  scripts/setClusterConfig.sh
Due: pre-master-console-logging, post-master-console-logging

Remove unused mutation
  compass/src/components/Api/EditApi/gql.js
Due: pre-master-console-compass, post-master-console-compass

Fix docs per plan of null error, use global variable for label name
  components/react/package-lock.json
  package-lock.json
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Cards.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/test/Card.test.js
  service-catalog-ui/catalog/src/testing/serviceClassesMocks.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceInfo/ServiceInstanceInfo.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
  service-catalog-ui/instances/src/components/ServiceInstancesList/ServiceInstancesTable/ServiceInstancesTable.component.js
  service-catalog-ui/instances/src/variables.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, pre-master-console-content, post-master-console-content, pre-master-console-whitesource-scan

Unify gql 2
  core-ui/src/components/ApiPackages/ApiPackageDetails/Header/ApiPackageDetailsHeader.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove unused check
  service-catalog-ui/catalog/src/components/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Card.component.js
  service-catalog-ui/catalog/src/components/ServiceClassList/Cards/Cards.component.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

Don't fetch both API & Event on details view
  compass/src/App.component.js
  compass/src/components/Api/ApiDetails/ApiDetails.component.js
  compass/src/components/Api/ApiDetails/ApiDetails.container.js
  compass/src/components/Api/ApiDetails/ApiDetails.js
  compass/src/components/Api/ApiDetails/ApiDetails.scss
Due: pre-master-console-compass, post-master-console-compass

missing import
  tests/ui-tests/tests/applications-test.js
Due: pre-master-console-tests, post-master-console-tests

Remove console.log
  compass/src/components/Api/ApiDetails/ApiDetails.js
Due: pre-master-console-compass, post-master-console-compass

reset makefile
  logging/Makefile
Due: pre-master-console-logging, post-master-console-logging

Fix filter dropdown width
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespaceFilters/NamespaceFilters.js
Due: pre-master-console-core-ui, post-master-console-core-ui

code review
  tests/ui-tests/tests/applications-test.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/utils/skip.js
Due: pre-master-console-tests, post-master-console-tests

Fix app update
  compass/src/components/Application/ApplicationDetails/UpdateApplicationForm/UpdateApplicationForm.component.js
  compass/src/components/Application/ApplicationDetails/UpdateApplicationForm/UpdateApplicationForm.container.js
  compass/src/components/Application/ApplicationDetails/UpdateApplicationForm/test/UpdateApplicationForm.test.js
  compass/src/components/Application/ApplicationDetails/UpdateApplicationForm/test/mock.js
  compass/src/components/Application/gql.js
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Remove noArrow flag
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespaceFilters/NamespaceFilters.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Fix prettier
  core-ui/src/components/NamespaceList/NamespacesListHeader/NamespaceFilters/NamespaceFilters.js
Due: pre-master-console-core-ui, post-master-console-core-ui
