Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

remove unnecesary import
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/DocumentationTabs.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

Handle openApi, asyncApi and .md files in instances and catalog
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassDetails/mock.js
  catalog/src/components/ServiceClassDetails/queries.js
  components/react-odata/src/ODataFiles/SAPodata.ts
  components/react-odata/src/ODataFiles/index.ts
  components/react-odata/src/ODataFiles/temp.xml
  components/react-odata/src/index.tsx
  instances/src/components/DataProvider/fragments.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceDetails.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
  instances/src/components/ServiceInstanceDetails/mock.js
Due: none

Remove unneeded files and comments
  catalog/src/commons/helpers.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/DeprecatedDocs.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/DocumentationTabs.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  components/react/src/components/Tabs/index.js
  instances/src/commons/helpers.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

update error handling
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
Due: none

add more fields to query
  catalog/src/components/ServiceClassDetails/queries.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

Add odata component handling
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
Due: none

update instances-ui with previous changes
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  components/react/src/components/ReactMarkdown/DocsProcessor.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

update docs config
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.container.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassDetails/queries.js
  components/react/src/components/ReactMarkdown/DocsProcessor.js
  components/react/src/components/ReactMarkdown/index.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

Revert changes to docsprocessor and update after review
  catalog/package-lock.json
  catalog/package.json
  catalog/src/commons/helpers.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/BasicData.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  components/react/package-lock.json
  components/react/package.json
  components/react/src/commons/style-utils.js
  components/react/src/components/NotePanel/index.js
  components/react/src/components/NotePanel/styled.js
  components/react/src/components/ReactMarkdown/components/Blockquote.js
  components/react/src/components/ReactMarkdown/components/Code.js
  components/react/src/components/ReactMarkdown/components/Code/CopyButton.js
  components/react/src/components/ReactMarkdown/components/Code/index.js
  components/react/src/components/ReactMarkdown/components/Theme.js
  components/react/src/components/ReactMarkdown/helpers.js
  components/react/src/components/ReactMarkdown/index.js
  components/react/src/components/ReactMarkdown/parseHTML/Tabs.js
  components/react/src/components/ReactMarkdown/styled.js
  instances/package-lock.json
  instances/package.json
  instances/src/commons/helpers.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindingsStep.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/Resources.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

remove unnecesary console.log
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

update accepted extensions with yaml in catalog query
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.container.js
Due: none

update asyncapi component files list
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
Due: none

update instanes ui to now show error
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

add fallback for clusterdocstopic
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  instances/src/components/DataProvider/fragments.js
Due: none

fix error
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassDetails/queries.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

fix bad case in boolean comparison in catalog and instances tabs
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

Fix React-OData component
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  components/react-odata/src/ODataReact.tsx
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

update stepsfilled in callback
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/BasicData.component.js
Due: none

delete leftover file
  components/react/src/components/ReactMarkdown/DocsProcessor.js
Due: none

Catalog and Instance UI to support Headless CMS (#745)
  catalog/package-lock.json
  catalog/package.json
  catalog/src/commons/helpers.js
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/BasicData.component.js
  catalog/src/components/ServiceClassDetails/ServiceClassDetails.container.js
  catalog/src/components/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.component.js
  catalog/src/components/ServiceClassDetails/queries.js
  components/react-odata/src/ODataFiles/SAPodata.ts
  components/react-odata/src/ODataFiles/index.ts
  components/react-odata/src/ODataFiles/temp.xml
  components/react-odata/src/ODataReact.tsx
  components/react-odata/src/index.tsx
  components/react/package-lock.json
  components/react/package.json
  components/react/src/commons/style-utils.js
  components/react/src/components/NotePanel/index.js
  components/react/src/components/NotePanel/styled.js
  components/react/src/components/ReactMarkdown/components/Blockquote.js
  components/react/src/components/ReactMarkdown/components/Code/CopyButton.js
  components/react/src/components/ReactMarkdown/components/Code/index.js
  components/react/src/components/ReactMarkdown/components/Theme.js
  components/react/src/components/ReactMarkdown/helpers.js
  components/react/src/components/ReactMarkdown/index.js
  components/react/src/components/ReactMarkdown/parseHTML/Tabs.js
  components/react/src/components/ReactMarkdown/parseHTML/index.js
  components/react/src/components/ReactMarkdown/styled.js
  components/react/src/components/Tabs/Tab/components.js
  components/react/src/components/Tabs/Tab/index.js
  components/react/src/components/Tabs/components.js
  components/react/src/components/Tabs/index.js
  components/react/src/components/index.js
  instances/package-lock.json
  instances/package.json
  instances/src/commons/helpers.js
  instances/src/components/DataProvider/fragments.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindingsStep.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/Resources.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceTabs/ServiceInstanceTabs.component.js
Due: none

Remove equal dependency
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindingsStep.component.js
  instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/Resources.component.js
Due: none

Show docs-ui from headless cms (#726)
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/BasicData.component.js
  components/react/package-lock.json
  components/react/package.json
  components/react/src/components/ReactMarkdown/components/Code/CopyButton.js
  components/react/src/components/ReactMarkdown/components/Code/index.js
  components/react/src/components/ReactMarkdown/styled.js
  content/Dockerfile
  content/README.md
  content/package.json
  content/src/components/DocsContent/DocsContent.component.js
  content/src/components/DocsContent/DocsContent.container.js
  content/src/components/DocsContent/DocsProcessor.js
  content/src/components/DocsContent/mutations.js
  content/src/components/DocsContent/queries.js
  content/src/components/MainPage/MainPage.component.js
  content/src/components/MainPage/MainPage.container.js
  content/src/components/MainPage/queries.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationGroup.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationList.js
  content/src/components/Navigation/LeftNavigation/NavigationList/NavigationSections.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.component.js
  content/src/components/Navigation/ScrollSpy/ScrollSpy.container.js
  content/src/store/DocsContent/defaults.js
  content/src/store/DocsContent/resolvers.js
  content/src/store/resolvers.js
Due: console-governance

add retry for one selector to make tests more stable
  tests/ui-tests/tests/docs-ui-test.js
Due: console-tests

Increase timeout and reload page
  tests/ui-tests/tests/docs-ui-test.js
Due: console-tests

Make Docs-ui tests more stable (#755)
  tests/ui-tests/tests/docs-ui-test.js
Due: console-tests

Conditionally enable logging test
  tests/ui-tests/config.js
  tests/ui-tests/tests/logging-test.js
Due: console-tests

Enable Log-UI tests (#741)
  tests/package.json
  tests/ui-tests/config.js
  tests/ui-tests/tests/logging-test.js
Due: console-tests

Fix instance creation
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/BasicData.component.js
Due: none

Fix instance creation (#763)
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/BasicData.component.js
Due: none

Define license for React OData component
  components/react-odata/package.json
Due: none

Bump react-odata component
  catalog/package.json
  components/react-odata/package.json
  instances/package.json
Due: none

mobile improvements for responsiveness
  core/src/index.html
  core/src/styles/fiori-fundamentals-overrides.scss
  lambda/src/styles/fiori-fundamentals-overrides.scss
Due: console-core

Fix React OData component license (#764)
  catalog/package.json
  components/react-odata/package.json
  instances/package.json
Due: none

install newest fundamental react and fiori fundamentals
  components/react/package-lock.json
  components/react/package.json
Due: none

Update components in components/react
  components/react/src/components/Panel/index.js
  components/react/src/components/Table/styled.js
  components/react/src/components/Tile/index.js
  components/react/src/components/Toolbar/styled.js
  components/react/src/components/index.js
Due: none

update test file to check something
  tests/ui-tests/utils/testContext.js
Due: console-tests

responsive improvements
  core/src/styles/fiori-fundamentals-overrides.scss
  lambda/src/styles/fiori-fundamentals-overrides.scss
Due: console-core

update two files to trigger tests
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/BasicData.component.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
Due: none

revert chenges to few files
  catalog/src/components/ServiceClassDetails/CreateInstanceModal/BasicData.component.js
  instances/src/components/ServiceInstances/ServiceInstancesTable/ServiceInstancesTable.component.js
  tests/ui-tests/utils/testContext.js
Due: console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/
