Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, post-master-console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-compass:
  optional: true
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

post-master-console-react-components:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
      - /home/prow/go/src/github.com/kyma-project/console/components/react
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

pre-master-console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Remove check for "properties" key
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
Due: pre-master-console-compass, post-master-console-compass

Update dirty status after saving changes
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
Due: pre-master-console-compass, post-master-console-compass

Add Luigi error instead of sendNotification
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
Due: pre-master-console-compass, post-master-console-compass

Update caching console.error in tests
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/MetadataDefinitionDetails.test.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/__snapshots__/MetadataDefinitionDetails.test.js.snap
Due: pre-master-console-compass, post-master-console-compass

Add namespaced addons-ui
  add-ons/src/components/Modals/AddNewConfigurationModal/AddNewConfigurationModal.container.tsx
  add-ons/src/components/Toolbar/Toolbar.component.tsx
  add-ons/src/constants.ts
  add-ons/src/core/app-initializer.ts
  add-ons/src/services/Configurations.service.ts
  add-ons/src/services/Mutations.service.ts
  add-ons/src/services/Queries.service.ts
  add-ons/src/services/Subscriptions.service.ts
Due: none

Change add-ons to addons
  add-ons/README.md
  add-ons/package-lock.json
  add-ons/package.json
  add-ons/public/index.html
  add-ons/src/components/Table/TableContent.component.tsx
  add-ons/src/components/Table/styled.ts
  add-ons/src/constants.ts
  core/src/app/app.config.ts
  core/src/luigi-config/local-development-node-converter.js
  core/src/luigi-config/luigi-config.js
  lerna.json
Due: console-governance, pre-master-console-core, post-master-console-core

Run linters
  add-ons/src/components/Toolbar/Toolbar.component.tsx
  add-ons/src/core/app-initializer.ts
  add-ons/src/services/Configurations.service.ts
  add-ons/src/services/Mutations.service.ts
  add-ons/src/services/Queries.service.ts
  add-ons/src/services/Subscriptions.service.ts
Due: none

Rename addons to add-ons in lerna config file
  lerna.json
Due: none

Add missing fd-panel-title directive
  components/angular/generic-list/src/app/modules/list/generic-list/generic-list.component.html
  components/angular/generic-list/src/app/modules/list/generic-table/generic-table.component.html
  core/src/app/content/namespaces/namespace-details/namespace-details.component.html
  core/src/app/content/namespaces/operation/kubernetes-element-list-compact.component.html
  core/src/app/content/namespaces/operation/secrets/secret-detail/secret-detail.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/namespaces/operation/services/service-details/service-details.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/shared/components/permissions/bindings/bindings.component.html
  core/src/app/shared/components/permissions/role-details/role-details.component.html
Due: pre-master-console-core, post-master-console-core

Review changes
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Make linter happy
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
Due: pre-master-console-compass, post-master-console-compass

Unbold all table links
  compass/src/components/Applications/Applications.component.js
  compass/src/components/Runtimes/Runtimes.component.js
  compass/src/components/Scenarios/Scenarios.component.js
Due: pre-master-console-compass, post-master-console-compass

fix linter
  compass/src/components/Applications/Applications.component.js
Due: pre-master-console-compass, post-master-console-compass

Minor changes
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.component.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/MetadataDefinitionDetails.container.js
  compass/src/components/MetadataDefinitions/MetadataDefinitionDetails/test/MetadataDefinitionDetails.test.js
Due: pre-master-console-compass, post-master-console-compass

Fix dropdowns behaviour on outsideclick event
  core/src/app/shared/directives/filter-all-on-selected/filter-all-on-selected.directive.ts
Due: pre-master-console-core, post-master-console-core

Fire filter function only when it's needed
  core/src/app/shared/directives/filter-all-on-selected/filter-all-on-selected.directive.ts
Due: pre-master-console-core, post-master-console-core

Fix three dots issue
  core/src/app/content/settings/applications/application-details/application-details.component.scss
Due: pre-master-console-core, post-master-console-core

add Build folders to gitignore
  .gitignore
Due: none

Use fundamental's built-in counter
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/StatusIndicator.component.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/StatusIndicator/styled.js
Due: none

Make tab statuses persist for active tab
  components/react/src/components/Tabs/Tab/index.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/ServiceInstanceBindings.component.js
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Disable metrics button if there is no grafana backendmodule
  lambda/src/app/app.module.ts
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.html
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.ts
  lambda/src/app/lambdas/list/lambdas-header-renderer/lambdas-header-renderer.component.html
  lambda/src/app/lambdas/list/lambdas-header-renderer/lambdas-header-renderer.component.ts
  lambda/src/app/shared/services/luigi-client.service.ts
Due: none

Disable no-unused-vars rule in one place
  service-catalog-ui/catalog/src/commons/helpers.js
Due: none

Fix tests
  lambda/package-lock.json
  lambda/package.json
  lambda/src/app/lambdas/list/lambdas-header-renderer/lambdas-header-renderer.component.spec.ts
Due: none

Sort logs, first draft
  logging/src/app/search-form/search-form.component.ts
Due: pre-master-console-logging, post-master-console-logging

Display "show" category whenever "function" label is present
  logging/src/app/search-form/search-form.component.ts
Due: pre-master-console-logging, post-master-console-logging

Add Scenario
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationScenarioModal.container.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/CreateAPIModal.component.js
  compass/src/components/Application/ApplicationDetails/CreateAPIModal/style.scss
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.container.js
  compass/src/components/Labels/CreateLabelModal/CreateLabelModal.component.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarioModal.container.js
  compass/src/components/Runtimes/RuntimeDetails/RuntimeScenarios/RuntimeScenarios.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioForm/CreateScenarioForm.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioForm/CreateScenarioForm.container.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioForm/style.scss
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.container.js
  compass/src/components/Scenarios/Scenarios.component.js
  compass/src/components/Scenarios/gql.js
  compass/src/components/Shared/AssignScenario/AssignScenarioForm.component.js
  compass/src/components/Shared/AssignScenario/AssignScenarioForm.container.js
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.component.js
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.container.js
  compass/src/components/Shared/MultiChoiceList/MultiChoiceList.component.js
  compass/src/components/Shared/MultiChoiceList/style.scss
Due: pre-master-console-compass, post-master-console-compass

Add tests
  compass/src/components/Shared/MultiChoiceList/MultiChoiceList.component.js
  compass/src/components/Shared/MultiChoiceList/test/MultiChoiceList.test.js
  compass/src/components/Shared/MultiChoiceList/test/__snapshots__/MultiChoiceList.test.js.snap
  compass/src/components/Shared/MultiChoiceList/test/mockData.js
Due: pre-master-console-compass, post-master-console-compass

Update tests
  compass/src/components/Shared/MultiChoiceList/test/MultiChoiceList.test.js
  compass/src/components/Shared/MultiChoiceList/test/__snapshots__/MultiChoiceList.test.js.snap
  components/react/package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components

Fix filter for empty logs
  logging/src/app/search-form/search-form.component.ts
Due: pre-master-console-logging, post-master-console-logging

Rename one variable
  logging/src/app/search-form/search-form.component.ts
Due: pre-master-console-logging, post-master-console-logging

Add possibility to delete API from API details view
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/namespaces/operation/services/service-details/expose-api/expose-api.component.ts
Due: pre-master-console-core, post-master-console-core

Permanently display "show istio proxy logs" toggle
  logging/src/app/search-form/data/search-form-data.ts
  logging/src/app/search-form/search-form.component.html
  logging/src/app/search-form/search-form.component.ts
Due: pre-master-console-logging, post-master-console-logging

Fix test
  logging/src/app/search-form/search-form.component.spec.ts
Due: pre-master-console-logging, post-master-console-logging

Change "no-entries" display on multi choice list
  compass/src/components/Scenarios/CreateScenario/CreateScenarioForm/CreateScenarioForm.component.js
  compass/src/components/Shared/MultiChoiceList/MultiChoiceList.component.js
Due: pre-master-console-compass, post-master-console-compass

Bump lodash.template to 4.5.0
  compass/package-lock.json
  package-lock.json
  service-catalog-ui/brokers/package-lock.json
Due: prow/console/brokers, pre-master-console-compass, post-master-console-compass

Disable bind app button when there are no applications
  service-catalog-ui/instances/package-lock.json
  service-catalog-ui/instances/package.json
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/BindApplicationModal.component.js
  service-catalog-ui/instances/src/components/ServiceInstanceDetails/ServiceInstanceBindings/BindApplicationModal/Resources.component.js
Due: none

Update checking if function label is present
  logging/src/app/search-form/search-form.component.ts
Due: pre-master-console-logging, post-master-console-logging

Update after review
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Scenarios/CreateScenario/CreateScenarioModal/CreateScenarioModal.component.js
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.component.js
  compass/src/components/Shared/MultiChoiceList/MultiChoiceList.component.js
Due: pre-master-console-compass, post-master-console-compass

Rename MultiChoiceList functions
  compass/src/components/Shared/MultiChoiceList/MultiChoiceList.component.js
Due: pre-master-console-compass, post-master-console-compass

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  post-master-console-tests: any of: ^tests/
