Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, console-governance, console-core, pre-master-console-log-ui, post-master-console-log-ui, console-tests

prow/console/brokers:
  optional: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-node:0.0.1
      securityContext:
        privileged: true
      command:
  ...

console-governance:
  decorate: true
  labels:
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/governance.sh
      args:
      - console

console-core:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-console-log-ui:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node-chromium:v20181207-d46c013
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

console-tests:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

fixed linting errors, and added check for active modal
  lambda/src/app/lambdas/lambda-details/event-trigger-chooser/event-trigger-chooser.component.ts
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-binding-creator/lambda-instance-binding-creator.component.ts
Due: none

missing commit part
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-binding-creator/lambda-instance-binding-creator.component.ts
Due: none

added esc host listeners to other lambda modals aswell
  lambda/src/app/fetch-token-modal/fetch-token-modal.component.ts
  lambda/src/app/lambdas/lambda-details/http-trigger/http-trigger.component.ts
Due: none

fixed lambda build error
  lambda/src/app/fetch-token-modal/fetch-token-modal.component.ts
Due: none

if style changes based on review comments
  lambda/src/app/fetch-token-modal/fetch-token-modal.component.ts
  lambda/src/app/lambdas/lambda-details/event-trigger-chooser/event-trigger-chooser.component.ts
  lambda/src/app/lambdas/lambda-details/lambda-instance-bindings/lambda-instance-binding-creator/lambda-instance-binding-creator.component.ts
Due: none

removed obsolete isActive
  lambda/src/app/lambdas/lambda-details/event-trigger-chooser/event-trigger-chooser.component.ts
Due: none

Cleanup after remote environments renaming
  core/src/app/app.config.ts
  core/src/app/app.module.ts
  core/src/app/content/environments/environment-details/environment-details.component.html
  core/src/app/content/environments/environment-details/environment-details.component.ts
  core/src/app/content/settings/applications/application-details/application-binding-service.ts
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.spec.ts
  core/src/app/content/settings/applications/application-details/application-details.component.ts
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.html
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.scss
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.spec.ts
  core/src/app/content/settings/applications/application-details/edit-bindings-modal/edit-binding-modal.component.ts
  core/src/app/content/settings/applications/application-details/services/event.service.ts
  core/src/app/content/settings/applications/applications-entry-renderer/applications-entry-renderer.component.html
  core/src/app/content/settings/applications/applications-entry-renderer/applications-entry-renderer.component.ts
  core/src/app/content/settings/applications/applications-header-renderer/applications-header-renderer.component.html
  core/src/app/content/settings/applications/applications-header-renderer/applications-header-renderer.component.ts
  core/src/app/content/settings/applications/applications.component.html
  core/src/app/content/settings/applications/applications.component.ts
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.html
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.scss
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.spec.ts
  core/src/app/content/settings/applications/create-application-modal/create-application-modal.component.ts
  core/src/app/content/settings/applications/edit-application-modal/edit-application-modal.component.html
  core/src/app/content/settings/applications/edit-application-modal/edit-application-modal.component.scss
  core/src/app/content/settings/applications/edit-application-modal/edit-application-modal.component.spec.ts
  core/src/app/content/settings/applications/edit-application-modal/edit-application-modal.component.ts
  core/src/app/content/settings/applications/services/applications.service.spec.ts
  core/src/app/content/settings/applications/services/applications.service.ts
  core/src/app/content/settings/remote-environments/remote-environments-header-renderer/remote-environments-header-renderer.component.ts
  core/src/app/content/workspace-overview/environment-card/environment-card.component.html
  core/src/app/content/workspace-overview/workspace-overview/environment-data-converter.ts
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.ts
  core/src/app/navigation/app-routing.module.ts
  core/src/app/shared/datamodel/k8s/environment.ts
  core/src/app/shared/datamodel/k8s/kyma-api/application.ts
  core/src/app/shared/datamodel/k8s/kyma-api/remote-environment.ts
Due: console-core

Change the codeowners file
  CODEOWNERS
Due: none

Change the codeowners file (#687)
  CODEOWNERS
Due: none

Use graphql for pods pt 1
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.html
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/content/environments/operation/pods/pods.component.ts
Due: console-core

Rename renvs in tests
  tests/ui-tests/commands/console.js
  tests/ui-tests/config.js
  tests/ui-tests/tests/console-basic-test.js
  tests/ui-tests/utils/address.js
Due: console-tests

Make prettier happy
  tests/ui-tests/commands/console.js
  tests/ui-tests/tests/console-basic-test.js
Due: console-tests

Use graphql for pods pt 2
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.html
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
Due: console-core

set href="javascript:void(null)" for links where no redirection takes place, remove unnecessary styles, tiny fix for table
  components/angular/generic-list/src/app/modules/list/list-element-actions/list-element-actions.component.html
  components/angular/generic-list/src/app/modules/list/list-filter/list-filter.component.html
  components/angular/generic-list/src/app/modules/list/plain-table/plain-table.component.scss
  core/src/app/content/environments/configuration/apis/api-definition-entry-renderer/api-definition-entry-renderer.component.html
  core/src/app/content/environments/configuration/apis/filtered-apis/filtered-apis-entry-renderer/filtered-apis-entry-renderer.component.html
  core/src/app/content/environments/environment-details/environment-details.component.html
  core/src/app/content/environments/operation/deployments/deployment-entry-renderer/deployment-entry-renderer.component.html
  core/src/app/content/environments/operation/secrets/secret-detail/secret-detail.component.html
  core/src/app/content/environments/operation/secrets/secrets-entry-renderer/secrets-entry-renderer.component.html
  core/src/app/content/environments/operation/services/service-details/expose-api/expose-api.component.html
  core/src/app/content/environments/operation/services/service-details/service-details.component.html
  core/src/app/content/environments/operation/services/services-entry-renderer/services-entry-renderer.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/applications-entry-renderer/applications-entry-renderer.component.html
  core/src/app/shared/components/permissions/permissions.component.html
  core/src/app/shared/components/permissions/role-details/role-details.component.html
  core/src/app/shared/components/permissions/roles/roles-entry-renderer/roles-entry-renderer.component.html
  core/src/styles/fiori-fundamentals-overrides.scss
  lambda/src/app/lambdas/lambda-details/http-trigger/http-trigger.component.html
  lambda/src/app/lambdas/lambda-details/http-trigger/http-trigger.component.scss
  lambda/src/app/lambdas/lambda-details/lambda-details.component.html
  lambda/src/app/lambdas/lambda-details/lambda-details.component.scss
  lambda/src/app/lambdas/list/lambdas-entry-renderer/lambdas-entry-renderer.component.html
  lambda/src/styles/fiori-fundamentals-overrides.scss
Due: console-core

Apply to lambda component
  lambda/src/app/lambdas/list/lambdas.component.html
  lambda/src/app/lambdas/list/lambdas.component.ts
Due: none

Apply to apis component
  core/src/app/content/environments/configuration/apis/apis.component.html
  core/src/app/content/environments/configuration/apis/apis.component.ts
Due: console-core

use generic var name for empty list data
  core/src/app/content/environments/configuration/apis/apis.component.html
  core/src/app/content/environments/configuration/apis/apis.component.ts
  lambda/src/app/lambdas/list/lambdas.component.html
  lambda/src/app/lambdas/list/lambdas.component.ts
Due: console-core

Apply to filtered apis
  core/src/app/content/environments/configuration/apis/filtered-apis/filtered-apis.component.html
  core/src/app/content/environments/configuration/apis/filtered-apis/filtered-apis.component.ts
Due: console-core

Minor errors improvement
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
Due: console-core

Use graphql for editing and deleting
  core/src/app/content/environments/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/environments/operation/pods/pods-header-renderer/pods-header-renderer.component.html
  core/src/app/content/environments/operation/pods/pods.component.ts
Due: console-core

Minor changes
  core/src/app/app.component.ts
  core/src/luigi-config/luigi-config.js
Due: console-core

Fix tests for pods entry renderer
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.spec.ts
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
Due: console-core

Review improvements
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/content/environments/operation/pods/pods.component.ts
Due: console-core

Simplify tests
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.spec.ts
Due: console-core

Apply to applications component
  core/src/app/content/settings/applications/applications.component.html
  core/src/app/content/settings/applications/applications.component.ts
Due: console-core

Apply to limit ranges
  core/src/app/content/environments/configuration/resources/limit-ranges/limit-ranges.component.html
  core/src/app/content/environments/configuration/resources/limit-ranges/limit-ranges.component.ts
Due: console-core

Apply to resource quotas
  core/src/app/content/environments/configuration/resources/resource-quotas/resource-quotas.component.html
  core/src/app/content/environments/configuration/resources/resource-quotas/resource-quotas.component.ts
Due: console-core

remove empty list from namespaces overview since it is empty
  core/src/app/content/workspace-overview/workspace-overview/workspace-overview.component.html
Due: console-core

Use graphql for pods (#689)
  core/src/app/content/environments/operation/abstract-graphql-element-list.component.ts
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.html
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.spec.ts
  core/src/app/content/environments/operation/pods/pods-entry-renderer/pods-entry-renderer.component.ts
  core/src/app/content/environments/operation/pods/pods-header-renderer/pods-header-renderer.component.html
  core/src/app/content/environments/operation/pods/pods.component.ts
Due: console-core

Apply to IDP presets
  core/src/app/content/environments/configuration/apis/apis.component.ts
  core/src/app/content/environments/configuration/resources/limit-ranges/limit-ranges.component.html
  core/src/app/content/environments/configuration/resources/limit-ranges/limit-ranges.component.ts
  core/src/app/content/environments/configuration/resources/resource-quotas/resource-quotas.component.html
  core/src/app/content/settings/idp-presets/idp-presets.component.html
  core/src/app/content/settings/idp-presets/idp-presets.component.ts
  lambda/src/app/lambdas/list/lambdas.component.ts
Due: console-core

Apply to bindings (permissions)
  core/src/app/shared/components/permissions/bindings/bindings.component.html
  core/src/app/shared/components/permissions/bindings/bindings.component.ts
Due: console-core

Remove old file and fix env labels bug
  core/src/app/content/workspace-overview/environment-card/namespace-card.component.ts
  core/src/luigi-config/luigi-config.js
Due: console-core

Apply to all components using kubernetes element list (compact) components
  core/src/app/content/environments/operation/abstract-kubernetes-element-list.component.ts
  core/src/app/content/environments/operation/configmaps/configmaps.component.ts
  core/src/app/content/environments/operation/deployments/deployments.component.ts
  core/src/app/content/environments/operation/kubernetes-element-list-compact.component.html
  core/src/app/content/environments/operation/kubernetes-element-list.component.html
  core/src/app/content/environments/operation/pods/pods.component.ts
  core/src/app/content/environments/operation/replica-sets/replica-sets.component.ts
  core/src/app/content/environments/operation/secrets/secrets.component.ts
  core/src/app/content/environments/operation/services/services.component.ts
  core/src/app/content/settings/service-brokers/service-brokers.component.ts
  core/src/app/shared/components/permissions/roles/roles.component.ts
Due: prow/console/brokers, console-core

Add empty list data interface and apply it
  core/src/app/content/environments/configuration/apis/apis.component.ts
  core/src/app/content/environments/configuration/apis/filtered-apis/filtered-apis.component.ts
  core/src/app/content/environments/configuration/resources/limit-ranges/limit-ranges.component.ts
  core/src/app/content/environments/configuration/resources/resource-quotas/resource-quotas.component.ts
  core/src/app/content/environments/operation/configmaps/configmaps.component.ts
  core/src/app/content/environments/operation/deployments/deployments.component.ts
  core/src/app/content/environments/operation/pods/pods.component.ts
  core/src/app/content/environments/operation/replica-sets/replica-sets.component.ts
  core/src/app/content/environments/operation/secrets/secrets.component.ts
  core/src/app/content/environments/operation/services/services.component.ts
  core/src/app/content/settings/applications/applications.component.ts
  core/src/app/content/settings/idp-presets/idp-presets.component.ts
  core/src/app/content/settings/service-brokers/service-brokers.component.ts
  core/src/app/shared/components/permissions/bindings/bindings.component.ts
  core/src/app/shared/components/permissions/roles/roles.component.ts
  core/src/app/shared/datamodel/empty-list-data.ts
  core/src/app/shared/datamodel/index.ts
Due: prow/console/brokers, console-core

Fix error originated for source data in kubernetes element list component
  core/src/app/content/environments/operation/kubernetes-element-list.component.html
Due: console-core

In empty list component, in panel body make top and bottom margin independent of its content
  components/angular/generic-list/src/app/modules/list/empty-list/empty-list.component.html
Due: none

Change UI API URL to Console Backend Service
  README.md
  config.js
  core/src/app/app.config.ts
  core/src/luigi-config/luigi-config.js
  lambda/src/app/app.config.ts
Due: console-governance, console-core

Path conditions:
  prow/console/brokers: any of: brokers/
  console-governance: any of: milv.config.yaml|.md$
  console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  console-tests: any of: ^tests/
