Repository kyma-project/console: changes, and which Prow jobs are due for each by the changed paths.
All: prow/console/brokers, pre-master-console-compass, post-master-console-compass, pre-master-console-react-components, post-master-console-react-components, console-governance, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-log-ui, post-master-console-log-ui, pre-master-console-logging, post-master-console-logging, pre-master-console-tests, pre-master-console-whitesource-scan, post-master-console-tests

Path conditions:
  prow/console/brokers: any of: brokers/
  pre-master-console-compass: any of: (^compass/)|(^components/react/)
  post-master-console-compass: any of: (^compass/)|(^components/react/)
  pre-master-console-react-components: any of: ^components/react/
  post-master-console-react-components: any of: ^components/react/
  console-governance: any of: milv.config.yaml|.md$
  pre-master-console-content: any of: (^content/)|(^components/react/)
  post-master-console-content: any of: (^content/)|(^components/react/)
  pre-master-console-core-ui: any of: ^core-ui/
  post-master-console-core-ui: any of: ^core-ui/
  pre-master-console-core: any of: ^core/
  post-master-console-core: any of: ^core/
  pre-master-console-log-ui: any of: ^log-ui/
  post-master-console-log-ui: any of: ^log-ui/
  pre-master-console-logging: any of: ^logging/
  post-master-console-logging: any of: ^logging/
  pre-master-console-tests: any of: ^tests/
  pre-master-console-whitesource-scan: any of: package.json|package-lock.json
  post-master-console-tests: any of: ^tests/

change name to uid here
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/helpers/misc/test/useLogsView.test.js
  core-ui/src/components/Lambdas/helpers/misc/useLogsView.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Remove http2 directive from compass
  compass/nginx.conf
Due: pre-master-console-compass, post-master-console-compass

Remove http2 directive from nginx configs
  add-ons/nginx.conf
  compass/nginx.conf
  content/nginx.conf
  core-ui/nginx.conf
  core/nginx/nginx.conf
  lambda/nginx/nginx.conf
  logging/nginx.conf
  service-catalog-ui/nginx.conf
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-content, post-master-console-content, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

Calculate ApiSelector width depending on the list content
  components/generic-documentation/src/renderers/helpers/ApiSelector.tsx
  components/generic-documentation/src/renderers/helpers/styled.ts
Due: none

fix error when there's no filtered apis
  components/generic-documentation/src/renderers/helpers/ApiSelector.tsx
Due: none

After review
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeAndDependencies/Editor.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useDeleteEventTrigger.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useDeleteLambda.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useUpdateLambda.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Run linter
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
Due: pre-master-console-core-ui, post-master-console-core-ui

csp: allow connection to remote compass-gatewa APIs
  compass/nginx.conf
  core-ui/nginx.conf
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui

Remove unnecessary test
  core-ui/src/components/Lambdas/LambdaDetails/test/LambdaDetails.ui.test.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Add placeholder with source and dependencies
  core-ui/src/components/Lambdas/gql/hooks/mutations/useCreateLambda.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Change package dest
  core-ui/package-lock.json
  core-ui/package.json
  package-lock.json
  package.json
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-whitesource-scan

Allow to remove scenario from applications. Don't add scenario when flag global.enableCompassDefaultScenarioAssignment is false
  .clusterConfig.default
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationScenarioDecorator.js
  compass/src/components/Application/gql.js
  compass/src/components/Applications/CreateApplicationModal/CreateApplicationModal.component.js
  compass/src/components/Scenarios/ScenarioDetails/ScenarioApplications/ScenarioApplications.js
  compass/src/components/Scenarios/gql.js
  compass/src/setupTests.js
Due: pre-master-console-compass, post-master-console-compass

Fix async assets loading duplication
  components/generic-documentation/src/index.tsx
  components/generic-documentation/src/loader/loader.ts
Due: none

Rename a source if another one has the same displayName
  components/generic-documentation/src/loader/loader.ts
Due: none

Make list keys more unique
  components/generic-documentation/src/renderers/helpers/ApiSelector.tsx
Due: none

make search case insensitive
  components/generic-documentation/src/renderers/helpers/ApiSelector.tsx
Due: none

Remake into hooks
  compass/src/components/Application/ApplicationDetails/ApplicationDetails.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.container.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationScenarioDecorator.js
Due: pre-master-console-compass, post-master-console-compass

Remove comments
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.js
Due: pre-master-console-compass, post-master-console-compass

Add /healthz endpoint to compass
  compass/nginx.conf
Due: pre-master-console-compass, post-master-console-compass

Disable http2 on status port
  compass/nginx.conf
Due: pre-master-console-compass, post-master-console-compass

Add status port to all nginx confs
  core-ui/nginx.conf
  core/nginx/nginx.conf
  lambda/nginx/nginx.conf
  logging/nginx.conf
  service-catalog-ui/nginx.conf
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core, pre-master-console-logging, post-master-console-logging

trigger service-catalog-ui-build
  service-catalog-ui/catalog/src/index.js
Due: none

fix linter
  components/generic-documentation/src/renderers/helpers/ApiSelector.tsx
Due: none

Add /healthz to addons
  add-ons/nginx.conf
Due: none

Review changes
  compass/src/App.component.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.js
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationScenarioModal.container.js
  compass/src/components/Shared/AssignScenario/AssignScenarioModal.component.js
  compass/src/setupTests.js
Due: pre-master-console-compass, post-master-console-compass

Update tests
  compass/src/components/Application/ApplicationDetails/ApplicationDetailsScenarios/ApplicationDetailsScenarios.test.js
  compass/src/components/Applications/Applications.test.js
Due: pre-master-console-compass, post-master-console-compass

First scaffold
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/Configuration.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaReplicas.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaResources.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.scss
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/TableElements/Input.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/TableElements/Row.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/validateResources.js
  core-ui/src/components/Lambdas/constants.js
Due: pre-master-console-core-ui, post-master-console-core-ui

update validation, add userCallabck to useLambdaUpdate
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaReplicas.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/validateResources.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/test/useUpdateLambda.test.js
  core-ui/src/components/Lambdas/gql/hooks/mutations/useUpdateLambda.js
  core-ui/src/components/Lambdas/helpers/testing/MutationComponent.js
Due: pre-master-console-core-ui, post-master-console-core-ui

Save location after 401s
  compass/src/config/luigi-config/auth.js
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  package-lock.json
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-whitesource-scan

display number of Apis and events
  core/src/app/content/settings/applications/application-details/application-details.component.html
  core/src/app/content/settings/applications/application-details/application-details.component.ts
Due: pre-master-console-core, post-master-console-core

make "service class name" more generic
  core/src/app/content/settings/applications/application-details/application-details.component.html
Due: pre-master-console-core, post-master-console-core

use react-hook-form
  core-ui/package-lock.json
  core-ui/package.json
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaReplicas.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/LambdaResources.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/ResourceManagement.scss
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/TableElements/Input.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ResourceManagement/validateResources.js
Due: pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-whitesource-scan

Use unique status ports
  compass/nginx.conf
  core-ui/nginx.conf
  core/nginx/nginx.conf
Due: pre-master-console-compass, post-master-console-compass, pre-master-console-core-ui, post-master-console-core-ui, pre-master-console-core, post-master-console-core

Add tests
  compass/src/config/luigi-config/helpers/navigation-helpers.js
  compass/src/config/luigi-config/helpers/navigation-helpers.test.js
Due: pre-master-console-compass, post-master-console-compass

Move ServiceClassList to domain catalog
  service-catalog-ui/catalog/src/components/App/App.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/ActiveFiltersList/ActiveFiltersList.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/ActiveFiltersList/styled.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/Cards/Card.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/Cards/Card.scss
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/Cards/Cards.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/Cards/InstancesIndicator.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/Cards/InstancesIndicator.scss
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/Cards/Labels.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/Cards/Labels.scss
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/Cards/styled.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/Cards/test/Card.test.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/Cards/test/Cards.test.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/Cards/test/InstancesIndicator.test.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/Cards/test/Labels.test.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/Cards/test/__snapshots__/InstancesIndicator.test.js.snap
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/Cards/test/__snapshots__/Labels.test.js.snap
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/FilterList/Filter.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/FilterList/FilterList.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/FilterList/styled.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/ServiceClassList.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/ServiceClassToolbar/SearchDropdown.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/ServiceClassToolbar/ServiceClassToolbar.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/ServiceClassToolbar/styled.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/queries.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/searchUtils.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/styled.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/test/ServiceClassList.test.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassList/test/__snapshots__/ServiceClassList.test.js.snap
  service-catalog-ui/catalog/src/testing/queriesMocks.js
Due: none

Move ServiceClassDetails to catalog domain
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.container.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/CreateInstanceModal/CreateInstanceModal.scss
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/CreateInstanceModal/SchemaData.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/CreateInstanceModal/mutations.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/CreateInstanceModal/queries.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/CreateInstanceModal/styled.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/CreateInstanceModal/test/CreateInstanceModal.test.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/CreateInstanceModal/test/gqlMocks.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ProvisionOnlyOnceInfo/ProvisionOnlyOnceInfo.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ProvisionOnlyOnceInfo/styled.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassDescription/ServiceClassDescription.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassDescription/styled.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassDetails.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassDetails.scss
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassDetailsHeader/ServiceClassDetailsHeader.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassDetailsHeader/styled.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassInfo/ServiceClassInfo.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassInfo/styled.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassInstancesTable/ServiceClassInstancesTable.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassInstancesTable/styled.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassTabs/ServiceClassTabs.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassTabs/styled.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/ServiceClassToolbar/ServiceClassToolbar.component.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/queries.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/styled.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassDetails/test/ServiceClassDetails.test.js
Due: none

change "API" to plural
  core/src/app/content/settings/applications/application-details/application-details.component.html
Due: pre-master-console-core, post-master-console-core

Move ServiceClassPlansList to catalog domain
  service-catalog-ui/catalog/src/components/App/App.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassPlansList/ServiceClassPlansList.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassPlansList/ServiceClassPlansList.scss
  service-catalog-ui/catalog/src/components/catalog/ServiceClassPlansList/queries.js
  service-catalog-ui/catalog/src/components/catalog/ServiceClassPlansList/test/ServiceClassPlansList.test.js
  service-catalog-ui/catalog/src/testing/queriesMocks.js
Due: none
