Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

pull-eventing-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pull-eventing-manager-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-manager-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

post-eventing-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-eventing-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

e2e-backend-switching-reuseable env var E2E_LOG_LEVEL: debug
  .github/workflows/e2e-backend-switching-reuseable.yml
Due: pull-eventing-manager-build

e2e-backend-switching-reuseable env var E2E_LOG_LEVEL: debug (#824)
  .github/workflows/e2e-backend-switching-reuseable.yml
Due: pull-eventing-manager-build

update event names and metrics
  docs/user/evnt-event-names.md
  docs/user/evnt-eventing-metrics.md
Due: none

bumped go to 1.25
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bumped version to 1.25.1
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

added noctx to disabled linter
  .golangci.yaml
Due: pull-eventing-manager-build

bumped controller_tools_version to 0.19.0
  Makefile
Due: pull-eventing-manager-build

disabled embeddedstructfieldcheck, noinlineerr, wsl_v5 linter
  .golangci.yaml
Due: pull-eventing-manager-build

bumped golangci-lint version to 2.4
  .github/workflows/lint-go.yml
  Makefile
Due: pull-eventing-manager-build

upped ENVTEST_K8S_VERSION to 1.33.0
  Makefile
Due: pull-eventing-manager-build

bump go version to 1.24.4
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bumped go to 1.24.7
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Fix the label for AuthPolicy workload matcher
  hack/e2e/scripts/expose_epp_and_sink.sh
Due: pull-eventing-manager-build

Fix the label for AuthPolicy workload matcher (#828)
  hack/e2e/scripts/expose_epp_and_sink.sh
Due: pull-eventing-manager-build

add links
  docs/user/README.md
  docs/user/evnt-eventing-metrics.md
Due: none

update tutorials
  docs/user/_sidebar.md
  docs/user/evnt-event-names.md
  docs/user/tutorials/README.md
  docs/user/tutorials/evnt-01-choose-backend.md
  docs/user/tutorials/evnt-01-configure-event-mesh.md
  docs/user/tutorials/evnt-01-prerequisites.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

switch order of paragraphs
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

bump go version to 1.24.4 (#826)
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bumped kustomization and sec-scanners-config to 1.4.0
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Update create-release.yml
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2025-09-26-04-47-40
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

bumped go to 1.24.7 (#827)
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

language review
  docs/user/evnt-event-names.md
  docs/user/evnt-eventing-metrics.md
  docs/user/resources/subscription-cr.md
  docs/user/troubleshooting/README.md
  docs/user/tutorials/evnt-01-configure-event-mesh.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
Due: none

auto-bump sec-scanners-config: 2025-09-29-17-14-44
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2025-09-29-17-14-44
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2025-09-29-17-22-22
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2025-09-29-17-22-22
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2025-09-29-17-29-26
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2025-09-29-17-29-26
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

Bump sec-scanners-config and kustomization on release-1.4 (#836)
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Update create-release.yml (#837)
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

review troubleshooting
  docs/user/_sidebar.md
  docs/user/evnt-event-names.md
  docs/user/troubleshooting/README.md
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
  docs/user/troubleshooting/evnt-02-jetstream-troubleshooting.md
  docs/user/troubleshooting/evnt-02-subscriber-irrelevant-events.md
  docs/user/troubleshooting/evnt-03-free-jetstream-storage.md
  docs/user/troubleshooting/evnt-03-type-collision.md
  docs/user/troubleshooting/evnt-04-free-jetstream-storage.md
  docs/user/troubleshooting/nats-01-module-troubleshooting.md
  docs/user/troubleshooting/nats-02-fix-pending-messages.md
Due: none

update makefile for crd doc generation
  Makefile
Due: pull-eventing-manager-build

apply Gosia's review
  docs/user/README.md
Due: none

implement Ivan's feedback
  docs/user/README.md
  docs/user/resources/subscription-cr.md
Due: none

fix headline formatting
  docs/user/troubleshooting/nats-01-module-troubleshooting.md
Due: none

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
