Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

Restrict delete job and cronjobs only to the target resources
  config/rbac/role.yaml
  internal/controller/operator/eventing/controller.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Update defaulting expr
  api/eventing/v1alpha2/subscription_types.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Remove webhook cleanup logic
  api/operator/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/operator/eventing/controller.go
  internal/webhook/cleanup.go
  internal/webhook/cleanup_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix: Eventing APIs docs
  api/operator/v1alpha1/eventing_types.go
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  docs/user/02-configuration.md
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Fix links
  docs/user/02-configuration.md
Due: none

Fix text
  docs/user/02-configuration.md
Due: none

Update api/operator/v1alpha1/eventing_types.go
  api/operator/v1alpha1/eventing_types.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Update config/crd/bases/operator.kyma-project.io_eventings.yaml
  config/crd/bases/operator.kyma-project.io_eventings.yaml
Due: pull-eventing-manager-build

fix: the Eventing API docs (#539)
  api/operator/v1alpha1/eventing_types.go
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  docs/user/02-configuration.md
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

auto-bump kustomization file: 2024-04-23-08-36-24
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-04-23-08-36-24
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2024-04-23-08-54-53
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-04-23-08-54-53
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2024-04-23-09-23-30
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-04-23-09-23-30
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

chore: bump sec-scanners-config and kustomization on release-1.2 (#560)
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-04-23-11-38-05
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2024-04-23-11-38-05
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-04-23-11-55-04
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-04-23-11-55-04 (#562)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

docs: Improve the trouble shooting guide
  docs/user/troubleshooting/evnt-05-fix-pending-messages.md
Due: none

Apply suggestions from code review
  docs/user/troubleshooting/evnt-05-fix-pending-messages.md
Due: none

docs: improve the troubleshooting guide for Eventing (#569)
  docs/user/troubleshooting/evnt-05-fix-pending-messages.md
Due: none

Deprecate kyma provision gardener
  hack/ci/Makefile
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

Unify CR description in Kyma dashboard
  config/ui-extensions/eventing/general
Due: pull-eventing-manager-build

remove unused env
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

chore: deprecate kyma provision gardener (#572)
  hack/ci/Makefile
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

Fix typo in Gardener provisioning
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

Fix typo in Gardener provisioning (#574)
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

fix: Gardener kubeconfig merging flags
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

fix: Gardener kubeconfig merging flags (#575)
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

fix: change NATS CR wait for Warning status
  .github/workflows/e2e-backend-switching-reuseable.yml
  hack/ci/Makefile
Due: pull-eventing-manager-build

fix: change NATS CR wait for Warning status (#576)
  .github/workflows/e2e-backend-switching-reuseable.yml
  hack/ci/Makefile
Due: pull-eventing-manager-build

fix: unify CR description in Kyma dashboard
  config/ui-extensions/eventing/general
Due: pull-eventing-manager-build

fix: unify CR description in Kyma dashboard (#578)
  config/ui-extensions/eventing/general
Due: pull-eventing-manager-build
