Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: none

Update image version for release
  sec-scanners-config.yaml
Due: none

Update image version for release (#165)
  sec-scanners-config.yaml
Due: none

Add files for eventing UI
  config/default/kustomization.yaml
  config/ui-extensions/eventing/details
  config/ui-extensions/eventing/form
  config/ui-extensions/eventing/general
  config/ui-extensions/eventing/kustomization.yaml
  config/ui-extensions/eventing/list
  config/ui-extensions/kustomization.yaml
Due: none

Rename verify status script
  scripts/verify-status.sh
  sec-scanners-config.yaml
Due: none

code
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  internal/controller/eventing/controller.go
  internal/controller/eventing/eventmesh.go
  internal/controller/eventing/mocks/controller.go
  internal/controller/eventing/mocks/manager.go
  internal/controller/eventing/mocks/nats_config_handler.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/client.go
  pkg/k8s/client_test.go
  pkg/k8s/mocks/client.go
  pkg/k8s/types.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  test/utils/utils.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Rename verify status script (#167)
  scripts/verify-status.sh
  sec-scanners-config.yaml
Due: none

Use 0.0.2 version to test
  .version
  sec-scanners-config.yaml
Due: none

Use 0.0.2 version to test (#168)
  .version
  sec-scanners-config.yaml
Due: none

Test release manifest creation
  .version
  sec-scanners-config.yaml
Due: none

Fix lint issues
  pkg/subscriptionmanager/eventmesh/eventmesh_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Simplify code
  internal/controller/eventing/domain_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Fix tests after rebase
  internal/controller/eventing/integrationtests/controller/integration_test.go
  test/utils/utils.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Read the cluster domain from the Eventing CR or from the ConfigMap
  api/v1alpha1/eventing_types.go
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  config/manager/manager.yaml
  internal/controller/eventing/domain.go
  internal/controller/eventing/domain_test.go
  internal/controller/eventing/eventmesh.go
  internal/controller/eventing/eventmesh_test.go
  internal/controller/eventing/integrationtests/controller/integration_test.go
  internal/controller/eventing/integrationtests/controller_switching/integration_test.go
  internal/controller/eventing/integrationtests/validation/integration_test.go
  internal/controller/eventing/utils.go
  internal/controller/eventing/utils_test.go
  internal/controller/subscription/eventmesh/reconciler.go
  internal/controller/subscription/eventmesh/reconciler_internal_integration_test.go
  internal/controller/subscription/eventmesh/test/utils.go
  internal/controller/subscription/eventmesh/testwebhookauth/utils.go
  internal/controller/subscription/eventmesh/testwithory/utils.go
  pkg/backend/eventmesh/eventmesh_integration_test.go
  pkg/env/config.go
  pkg/env/config_test.go
  pkg/k8s/client.go
  pkg/k8s/client_test.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/eventmesh/eventmesh.go
  pkg/subscriptionmanager/eventmesh/eventmesh_test.go
  pkg/subscriptionmanager/factory.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/utils/utils.go
  pkg/utils/utils_unit_test.go
  test/utils/integration/integration.go
  test/utils/options.go
  test/utils/utils.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Fix lint issues
  internal/controller/eventing/domain.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Format imports
  internal/controller/eventing/domain_test.go
  internal/controller/eventing/eventmesh.go
  internal/controller/eventing/utils_test.go
  pkg/utils/utils_unit_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Test release manifest creation (#172)
  .version
  sec-scanners-config.yaml
Due: none

Fix tests
  internal/controller/eventing/integrationtests/controller/integration_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Read the cluster domain from the Eventing CR or from the ConfigMap (#152)
  api/v1alpha1/eventing_types.go
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  config/manager/manager.yaml
  internal/controller/eventing/domain.go
  internal/controller/eventing/domain_test.go
  internal/controller/eventing/eventmesh.go
  internal/controller/eventing/eventmesh_test.go
  internal/controller/eventing/integrationtests/controller/integration_test.go
  internal/controller/eventing/integrationtests/controller_switching/integration_test.go
  internal/controller/eventing/integrationtests/validation/integration_test.go
  internal/controller/eventing/utils.go
  internal/controller/eventing/utils_test.go
  internal/controller/subscription/eventmesh/reconciler.go
  internal/controller/subscription/eventmesh/reconciler_internal_integration_test.go
  internal/controller/subscription/eventmesh/test/utils.go
  internal/controller/subscription/eventmesh/testwebhookauth/utils.go
  internal/controller/subscription/eventmesh/testwithory/utils.go
  pkg/backend/eventmesh/eventmesh_integration_test.go
  pkg/env/config.go
  pkg/env/config_test.go
  pkg/k8s/client.go
  pkg/k8s/client_test.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/eventmesh/eventmesh.go
  pkg/subscriptionmanager/eventmesh/eventmesh_test.go
  pkg/subscriptionmanager/factory.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/utils/utils.go
  pkg/utils/utils_unit_test.go
  test/utils/integration/integration.go
  test/utils/options.go
  test/utils/utils.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump all dependencies
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

remove deprecated funcs from controller-runtime
  cmd/main.go
  internal/controller/subscription/eventmesh/test/utils.go
  internal/controller/subscription/eventmesh/testwebhookauth/utils.go
  internal/controller/subscription/eventmesh/testwithory/utils.go
  internal/controller/subscription/jetstream/test_utils_test.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

replace depretaced pointer with ptr
  hack/e2e/common/testenvironment/test_environment.go
  pkg/eventing/manager_test.go
  pkg/k8s/client.go
  pkg/object/equality_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Bump dependencies (#173)
  cmd/main.go
  go.mod
  go.sum
  hack/e2e/common/testenvironment/test_environment.go
  internal/controller/subscription/eventmesh/test/utils.go
  internal/controller/subscription/eventmesh/testwebhookauth/utils.go
  internal/controller/subscription/eventmesh/testwithory/utils.go
  internal/controller/subscription/jetstream/test_utils_test.go
  pkg/eventing/manager_test.go
  pkg/k8s/client.go
  pkg/object/equality_test.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Add eventing form UI
  config/ui-extensions/eventing/form
Due: none

Fix UI to select eventmesh secret
  config/ui-extensions/eventing/form
Due: none

Change default expanded to false
  config/ui-extensions/eventing/form
Due: none

change visibility of the eventMeshSecret
  config/ui-extensions/eventing/form
Due: none

Made webhook secret part of kustomize
  config/webhook/kustomization.yaml
  config/webhook/secret.yaml
  go.mod
  go.sum
  hack/e2e/cleanup/cleanup_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Made webhook secret part of kustomize (#175)
  config/webhook/kustomization.yaml
  config/webhook/secret.yaml
  go.mod
  go.sum
  hack/e2e/cleanup/cleanup_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Bump the golang image in the Dockerfile
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

change to new repo
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

Bump the golang image in the Dockerfile (#176)
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

Fix name Consolidate UI to one folder
  config/busola/kustomization.yaml
  config/ui-extensions/eventing/kustomization.yaml
  config/ui-extensions/kustomization.yaml
  config/ui-extensions/subscriptions.yaml
Due: none

Update sec-scanners-config to latest build.
  sec-scanners-config.yaml
Due: none

Increase memory limits
  config/manager/manager.yaml
Due: none

Increase memory limits (#180)
  config/manager/manager.yaml
Due: none

For tests Ignore changes to the sec-scanner-config.
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/sink.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
Due: none

Update kustomization.yaml according to folder cleanup
  config/default/kustomization.yaml
Due: none

Update sec-scanners-config to latest build. (#178)
  sec-scanners-config.yaml
Due: none
