Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

pull-eventing-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pull-eventing-manager-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-manager-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

post-eventing-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-eventing-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

add error handling to scripts
  hack/ci/bump-kustomize-file.sh
  hack/ci/get-version-from-branch.sh
  hack/ci/render-sec-scanners-config.sh
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-02-09-12-28-05
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2024-02-09-12-28-05
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

Bump mockery image
  api/operator/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/operator/eventing/mocks/controller.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

refactor step names and add commments
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

move scripts
  .github/workflows/create-release.yml
  hack/ci/create_changelog.sh
  hack/ci/create_draft_release.sh
  hack/ci/publish_release.sh
  hack/ci/render_and_upload_manifests.sh
  hack/ci/wait-for-release-build-job.sh
Due: pull-eventing-manager-build

remove check_sec-scanners-config
  scripts/check_sec-scanners-config.sh
Due: pull-eventing-manager-build

move more scripts
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

clean up scripts
  hack/ci/bump-kustomize-file.sh
  hack/ci/create_changelog.sh
  hack/ci/get-version-from-branch.sh
  hack/ci/publish_release.sh
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-02-09-13-36-27
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2024-02-09-13-36-27
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

remove download of script
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

rename step
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2024-02-09-14-16-52
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-02-09-14-16-52
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

fix typo
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2024-02-12-10-16-37
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-02-12-10-16-37
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

remove release step and dry run
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-02-12-13-35-17
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2024-02-12-13-35-17
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

add rules for PRs
  .github/dependabot.yml
  .github/workflows/lint-conventional-prs.yml
Due: pull-eventing-manager-build

Update mockery to 2.4.3
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/operator/eventing/mocks/controller.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

require title to start lower case
  .github/workflows/lint-conventional-prs.yml
Due: pull-eventing-manager-build

Bump mockery image to 2.40.3 (#475)
  api/operator/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/operator/eventing/mocks/controller.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

docs: Apply the flexible alerts plugin to Eventing docs
  README.md
  docs/user/resources/evnt-cr-subscription.md
  docs/user/troubleshooting/evnt-04-free-jetstream-storage.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

docs: Apply the flexible alerts plugin to Eventing docs (#485)
  README.md
  docs/user/resources/evnt-cr-subscription.md
  docs/user/troubleshooting/evnt-04-free-jetstream-storage.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

Bump sec-scanners-config and kustomize file in create release workflow (#472)
  .github/workflows/create-release.yml
  hack/ci/bump-kustomize-file.sh
  hack/ci/create_changelog.sh
  hack/ci/create_draft_release.sh
  hack/ci/get-version-from-branch.sh
  hack/ci/publish_release.sh
  hack/ci/render-sec-scanners-config.sh
  hack/ci/render_and_upload_manifests.sh
  hack/ci/wait-for-release-build-job.sh
  scripts/check_sec-scanners-config.sh
  scripts/create_changelog.sh
Due: pull-eventing-manager-build

fix regex link
  .github/workflows/lint-conventional-prs.yml
Due: pull-eventing-manager-build

feat: add rules for PRs (#482)
  .github/dependabot.yml
  .github/workflows/lint-conventional-prs.yml
Due: pull-eventing-manager-build

Document Eventing States More Detailed
  api/operator/v1alpha1/eventing_types.go
  docs/user/02-configuration.md
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Improve for Code Review Comments
  docs/user/02-configuration.md
Due: none

Improve for Code Review Comments
  api/operator/v1alpha1/eventing_types.go
  docs/user/02-configuration.md
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Add more examples and sort the cases
  docs/user/02-configuration.md
Due: none

Apply the suggested order
  docs/user/02-configuration.md
Due: none

Document Eventing States More Detailed (#328)
  api/operator/v1alpha1/eventing_types.go
  docs/user/02-configuration.md
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: fix github workflows
  .github/workflows/create-release.yml
  .github/workflows/lint-go.yml
  .github/workflows/sink.yml
Due: pull-eventing-manager-build

chore: Update golang version to 1.22
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: update controller-tools to v0.14.0
  Makefile
Due: pull-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
