Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

remove a broken link (#671)
  README.md
Due: none

bump dependencies (#676)
  Dockerfile
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/eventing/subscription/validator/mocks/SubscriptionValidator.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

update broken links
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

update broken links (#677)
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

docs: Replace Remedy with Solution
  docs/contributor/troubleshooting.md
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
  docs/user/troubleshooting/evnt-02-jetstream-troubleshooting.md
  docs/user/troubleshooting/evnt-03-type-collision.md
  docs/user/troubleshooting/evnt-04-free-jetstream-storage.md
  docs/user/troubleshooting/evnt-05-fix-pending-messages.md
Due: none

docs: Replace Remedy with Solution (#686)
  docs/contributor/troubleshooting.md
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
  docs/user/troubleshooting/evnt-02-jetstream-troubleshooting.md
  docs/user/troubleshooting/evnt-03-type-collision.md
  docs/user/troubleshooting/evnt-04-free-jetstream-storage.md
  docs/user/troubleshooting/evnt-05-fix-pending-messages.md
Due: none

Upgrade dependencies
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump dependencies
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix test
  pkg/object/apirule_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: bump dependencies (#699)
  go.mod
  go.sum
  pkg/object/apirule_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Update libs for DependaBot
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Update libs for DependaBot (#712)
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump dependencies
  api/operator/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/eventing/subscription/validator/mocks/SubscriptionValidator.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump dependencies (#715)
  api/operator/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/eventing/subscription/validator/mocks/SubscriptionValidator.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump Golang dependencies
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump Golang version
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump mockery
  api/operator/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/eventing/subscription/validator/mocks/SubscriptionValidator.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump mockery (#724)
  api/operator/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/eventing/subscription/validator/mocks/SubscriptionValidator.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump image in dockerfile
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

bumping k8s deps
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump istio deps
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump misc deps
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

deps: bump go dependencies, go image and go version (#732)
  Dockerfile
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

add a copy of the unit test workflow with permissions
  .github/workflows/test-with-permissions.yml
Due: pull-eventing-manager-build

set permissions
  .github/workflows/test-with-permissions.yml
Due: pull-eventing-manager-build

add metadata
  .github/workflows/test-with-permissions.yml
Due: pull-eventing-manager-build

Revert "add metadata"
  .github/workflows/test-with-permissions.yml
Due: pull-eventing-manager-build

Revert "set permissions"
  .github/workflows/test-with-permissions.yml
Due: pull-eventing-manager-build

Revert "Revert "set permissions""
  .github/workflows/test-with-permissions.yml
Due: pull-eventing-manager-build

Revert "Revert "add metadata""
  .github/workflows/test-with-permissions.yml
Due: pull-eventing-manager-build

fix spelling
  .github/workflows/test-with-permissions.yml
Due: pull-eventing-manager-build

set contents to write
  .github/workflows/test-with-permissions.yml
Due: pull-eventing-manager-build

change permissions to "contents: read"
  .github/workflows/test-with-permissions.yml
Due: pull-eventing-manager-build

updated sec-scanners-config format
  hack/ci/render-sec-scanners-config.sh
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

updated
  hack/ci/render-sec-scanners-config.sh
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

fix: updated sec-scanners-config format (#738)
  hack/ci/render-sec-scanners-config.sh
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

bump golang image in Dockerfile
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

fix file exclusion
  .golangci.yaml
Due: pull-eventing-manager-build

fix empty array
  .golangci.yaml
Due: pull-eventing-manager-build

colsolidate issues section
  .golangci.yaml
Due: pull-eventing-manager-build
