Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

Remove `.version` file check in release
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

Improve doc for second review
  api/operator/v1alpha1/eventing_types.go
  docs/user/02-configuration.md
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Call retry function
  scripts/verify-status.sh
Due: pull-eventing-manager-build

Refactoring
  .github/workflows/create-release.yml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

No more title case for Kyma dashboard
  docs/user/tutorials/evnt-01-prerequisites.md
Due: none

Document Warning State (#317)
  api/operator/v1alpha1/eventing_types.go
  docs/user/02-configuration.md
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Verify status
  scripts/verify-status.sh
Due: pull-eventing-manager-build

Check tags in security-scan-config.yaml
  .github/workflows/create-release.yml
  scripts/check_image.sh
  scripts/check_tag_info.sh
  scripts/verify-status.sh
Due: pull-eventing-manager-build

Check on both place
  .github/workflows/create-release.yml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Collect latest run related data
  .github/workflows/create-release.yml
  scripts/check_tag_info.sh
  scripts/verify-status.sh
Due: pull-eventing-manager-build

Semantic versioning in security scan config (#319)
  .github/workflows/create-release.yml
  scripts/check_image.sh
  scripts/check_tag_info.sh
  scripts/release.sh
  scripts/verify-status.sh
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Checkout code
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

Checkout code (#323)
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

Release input variable for tag checking
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

Fix the call of the check-tag-info.sh
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

Release input variable for tag checking (#324)
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

Remove whitespace
  scripts/check_tag_info.sh
Due: pull-eventing-manager-build

Remove white space at rc-tag
  scripts/check_tag_info.sh
Due: pull-eventing-manager-build

Release input variable for tag checking (#326)
  scripts/check_tag_info.sh
Due: pull-eventing-manager-build

Initial Wait Time
  .github/workflows/create-release.yml
  scripts/verify-status.sh
Due: pull-eventing-manager-build

Parameters
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

Remove first check
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

Initial Wait Time (#327)
  .github/workflows/create-release.yml
  scripts/verify-status.sh
Due: pull-eventing-manager-build

Run github action workflows on release-branches.
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/sink.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
Due: pull-eventing-manager-build

Run github action workflows on release-branches. (#330)
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
  .github/workflows/sink.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
Due: pull-eventing-manager-build

Increase object pkg test coverage (#243)
  pkg/eventing/manager.go
  pkg/object/apirule.go
  pkg/object/apirule_test.go
  pkg/object/equality.go
  pkg/object/equality_test.go
  pkg/object/object.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Add the navigation file to the resources folder (#246)
  docs/user/resources/_sidebar.md
Due: none

Fix nats stream replica update (#248)
  internal/controller/eventing/nats.go
  internal/controller/eventing/nats_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Use common labels (#264)
  Dockerfile
  config/default/kustomization.yaml
  config/ui-extensions/eventing/kustomization.yaml
  config/ui-extensions/subscriptions/subscriptions.yaml
  internal/controller/operator.kyma-project.io/eventing/controller.go
  internal/controller/operator.kyma-project.io/eventing/eventmesh.go
  internal/controller/operator.kyma-project.io/eventing/eventmesh_test.go
  internal/label/label.go
  pkg/eventing/deployment.go
  pkg/eventing/deployment_test.go
  pkg/eventing/manager.go
  pkg/eventing/utils.go
  pkg/eventing/utils_test.go
  pkg/object/equality_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Regenerate generated files.
  internal/controller/operator/eventing/mocks/controller.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Bump version.
  .version
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Cache runtime objects only created by the EventingManager (#273)
  cmd/main.go
  internal/controller/cache/cache.go
  internal/controller/cache/cache_test.go
  internal/controller/client/client.go
  internal/controller/client/client_test.go
  internal/label/label.go
  internal/label/label_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Bump all dependencies.
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Fix linter.
  pkg/backend/jetstream/jetstream.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

enable goerr113
  .golangci.yaml
  hack/e2e/common/eventing/publisher.go
  hack/e2e/common/eventing/utils.go
  hack/e2e/common/testenvironment/test_environment.go
  internal/controller/errors/skip_unit_test.go
  internal/controller/eventing/subscription/eventmesh/utils.go
  internal/controller/eventing/subscription/jetstream/matchers_test.go
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/controller_test.go
  internal/controller/operator/eventing/domain.go
  internal/controller/operator/eventing/domain_test.go
  internal/controller/operator/eventing/eventmesh.go
  internal/controller/operator/eventing/eventmesh_test.go
  internal/controller/operator/eventing/nats.go
  internal/controller/operator/eventing/nats_test.go
  pkg/backend/eventmesh/eventmesh.go
  pkg/backend/eventtype/parse.go
  pkg/backend/jetstream/jetstream.go
  pkg/backend/metrics/collector.go
  pkg/ems/httpclient/error_unit_test.go
  pkg/env/config.go
  pkg/errors/errors.go
  pkg/errors/errors_unit_test.go
  pkg/eventing/manager.go
  pkg/eventing/manager_test.go
  pkg/k8s/client.go
  pkg/k8s/client_test.go
  pkg/signals/signals.go
  pkg/subscriptionmanager/eventmesh/eventmesh.go
  pkg/subscriptionmanager/manager/manager.go
  test/utils/utils.go
  testing/event/cehelper/converter.go
  testing/subscriber.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build
