Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

pull-eventing-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pull-eventing-manager-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-manager-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

post-eventing-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-eventing-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

Set warning state for empty backend
  api/operator/v1alpha1/eventing_types.go
  api/operator/v1alpha1/eventing_types_test.go
  api/operator/v1alpha1/status.go
  api/operator/v1alpha1/zz_generated.deepcopy.go
  hack/e2e/common/fixtures/fixtures.go
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
  internal/controller/operator/eventing/status.go
  pkg/env/nats_config_test.go
  test/matchers/matchers.go
  test/utils/options.go
  test/utils/utils.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Set Warning if NATS module is missing
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
  internal/controller/operator/eventing/status.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Set Warning state if EventMes secret missing * Set Warning state if EventMes secret missing * Fix failing tests
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/eventmesh.go
  internal/controller/operator/eventing/eventmesh_test.go
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
  internal/controller/operator/eventing/integrationtests/nats_disabled/integration_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Fix linting errors
  .golangci.yaml
  api/operator/v1alpha1/status.go
  api/operator/v1alpha1/zz_generated.deepcopy.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Clean up.
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

Move module release to ghaction workflow.
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

Clean up release.sh.
  scripts/release.sh
Due: pull-eventing-manager-build

Use Github_token
  scripts/release.sh
Due: pull-eventing-manager-build

Forbid deleting backend configuration It is not allowed to delete existing backend config, but evneting CR can be created with empty backend config.
  api/operator/v1alpha1/eventing_types.go
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  internal/controller/operator/eventing/eventmesh.go
  internal/controller/operator/eventing/status.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Add make target to clean the go test cache
  .gitignore
  Makefile
Due: pull-eventing-manager-build

Revert golangci-lint configuration
  .golangci.yaml
Due: pull-eventing-manager-build

Add make target to clean the go test cache (#284)
  .gitignore
  Makefile
Due: pull-eventing-manager-build

Implement int tests Create integration tests for backend config deletion validation
  internal/controller/operator/eventing/integrationtests/validation/integration_test.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Nats backend notification
  config/ui-extensions/eventing/form
  config/ui-extensions/eventing/kustomization.yaml
Due: pull-eventing-manager-build

First try: human-readable info
  config/ui-extensions/eventing/details
Due: pull-eventing-manager-build

Add publisher service in the Eventing CR status
  api/operator/v1alpha1/eventing_types.go
  api/operator/v1alpha1/status.go
  api/operator/v1alpha1/status_test.go
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  docs/user/02-configuration.md
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
  internal/controller/operator/eventing/status.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

enable containedctx
  .golangci.yaml
  hack/e2e/common/eventing/publisher.go
  hack/e2e/common/eventing/sinkclient.go
  hack/e2e/common/testenvironment/test_environment.go
  internal/controller/eventing/subscription/eventmesh/reconciler.go
  internal/controller/eventing/subscription/eventmesh/reconciler_internal_integration_test.go
  internal/controller/eventing/subscription/eventmesh/test/utils.go
  internal/controller/eventing/subscription/eventmesh/testwebhookauth/utils.go
  internal/controller/eventing/subscription/jetstream/reconciler.go
  internal/controller/eventing/subscription/jetstream/reconciler_integration_test.go
  internal/controller/eventing/subscription/jetstream/reconciler_internal_unit_test.go
  internal/controller/eventing/subscription/jetstream/test_utils_test.go
  internal/controller/operator/eventing/controller_test.go
  internal/controller/operator/eventing/nats_test.go
  internal/controller/operator/eventing/unit_test.go
  pkg/backend/sink/validator.go
  pkg/backend/sink/validator_test.go
  pkg/eventing/manager.go
  pkg/subscriptionmanager/eventmesh/eventmesh.go
  pkg/subscriptionmanager/jetstream/jetstream.go
  pkg/subscriptionmanager/jetstream/jetstream_test.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Revert the documentation
  docs/user/02-configuration.md
Due: none

Update tests
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

modify lint target to download golangci-lint
  Makefile
Due: pull-eventing-manager-build

enable testifylint
  .golangci.yaml
  api/eventing/v1alpha1/subscription_conversion_unit_test.go
  api/eventing/v1alpha2/subscription_webhook_unit_test.go
  api/operator/v1alpha1/status_test.go
  internal/controller/eventing/subscription/eventmesh/reconciler.go
  internal/controller/eventing/subscription/eventmesh/reconciler_internal_integration_test.go
  internal/controller/eventing/subscription/eventmesh/test/reconciler_integration_test.go
  internal/controller/eventing/subscription/eventmesh/testwebhookauth/reconciler_integration_test.go
  internal/controller/eventing/subscription/jetstream/reconciler_internal_unit_test.go
  internal/controller/operator/eventing/controller_test.go
  internal/controller/operator/eventing/domain_test.go
  internal/controller/operator/eventing/eventmesh_test.go
  internal/controller/operator/eventing/utils_test.go
  pkg/backend/eventmesh/eventmesh_integration_test.go
  pkg/backend/eventmesh/utils_unit_test.go
  pkg/backend/jetstream/config_internal_unit_test.go
  pkg/backend/jetstream/connection_integration_test.go
  pkg/backend/jetstream/jetstream_integration_test.go
  pkg/backend/jetstream/jetstream_internal_unit_test.go
  pkg/backend/jetstream/utils_internal_unit_test.go
  pkg/errors/errors_unit_test.go
  pkg/eventing/deployment_test.go
  pkg/eventing/manager_test.go
  pkg/k8s/client_test.go
  pkg/logger/logger_test.go
  pkg/subscriptionmanager/eventmesh/eventmesh_test.go
  pkg/utils/utils_unit_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Move Retrieving EventMesh Secret
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/eventmesh.go
  internal/controller/operator/eventing/eventmesh_test.go
  internal/controller/operator/eventing/status.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Add callout warning when NATS unavailable
  config/ui-extensions/eventing/details
Due: pull-eventing-manager-build

Improve for review comments
  .golangci.yaml
  internal/controller/operator/eventing/eventmesh.go
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Allow empty backend (#274)
  .golangci.yaml
  api/operator/v1alpha1/eventing_types.go
  api/operator/v1alpha1/eventing_types_test.go
  api/operator/v1alpha1/status.go
  api/operator/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  docs/user/02-configuration.md
  hack/e2e/common/fixtures/fixtures.go
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/eventmesh.go
  internal/controller/operator/eventing/eventmesh_test.go
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
  internal/controller/operator/eventing/integrationtests/nats_disabled/integration_test.go
  internal/controller/operator/eventing/integrationtests/validation/integration_test.go
  internal/controller/operator/eventing/status.go
  pkg/env/nats_config_test.go
  test/matchers/matchers.go
  test/utils/integration/integration.go
  test/utils/options.go
  test/utils/utils.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Add alert for empty backend
  config/ui-extensions/eventing/details
Due: pull-eventing-manager-build

Bump version
  .version
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Bump version (#289)
  .version
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

remove reference to old publisher proxy service
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

enable whitespace
  .golangci.yaml
Due: pull-eventing-manager-build

enable nonamedreturns
  .golangci.yaml
  internal/controller/eventing/subscription/eventmesh/reconciler.go
  pkg/signals/signals.go
  pkg/utils/utils.go
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump the eventing-manager version.
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

bump the eventing-manager version. (#292)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

increase the validation time.
  scripts/verify-status.sh
Due: pull-eventing-manager-build

Add empty backend sample Improve visibility of alerts
  config/samples/empty_backend.yaml
  config/ui-extensions/eventing/details
Due: pull-eventing-manager-build

Reorg: verify
  scripts/verify-status.sh
Due: pull-eventing-manager-build

enable perfsprint
  .golangci.yaml
  api/eventing/v1alpha1/fixtures_test.go
  api/eventing/v1alpha1/subscription_conversion.go
  pkg/backend/eventmesh/types.go
  pkg/backend/jetstream/jetstream_integration_test.go
  pkg/backend/utils/eventmesh_utils.go
  pkg/eventing/deployment_test.go
  testing/subscriber.go
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Reorg: verify (#295)
  scripts/verify-status.sh
Due: pull-eventing-manager-build

bump eventing-manager image.
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
