Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

chore: update go mod
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Bump mockery
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Bump Go version in Dockerfile
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

Add go setup step in e2e-upgrade flow
  .github/workflows/e2e-upgrade-test-reusable.yaml
Due: pull-eventing-manager-build

Add formatings
  .github/workflows/e2e-upgrade-test-reusable.yaml
Due: pull-eventing-manager-build

Add go setup step in e2e flow
  .github/workflows/e2e-upgrade-test-reusable.yaml
  .github/workflows/e2e.yml
Due: pull-eventing-manager-build

chore: change dependabot config to weekly schedule
  .github/dependabot.yml
Due: pull-eventing-manager-build

Bump controller-tools to v0.14.0
  Makefile
Due: pull-eventing-manager-build

Add go setup step in backend-switching
  .github/workflows/e2e-backend-switching-reuseable.yml
Due: pull-eventing-manager-build

Merge version instructions in mod file
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Print go version in e2e
  .github/workflows/e2e.yml
Due: pull-eventing-manager-build

update all dependencies weekly
  .github/dependabot.yml
Due: pull-eventing-manager-build

Add go version
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Add instruction to set go via mod file
  .github/workflows/e2e-backend-switching-reuseable.yml
  .github/workflows/e2e-upgrade-test-reusable.yaml
  .github/workflows/e2e.yml
Due: pull-eventing-manager-build

Chore: bump Golang version to 1.22.0 (#496)
  .github/workflows/e2e-backend-switching-reuseable.yml
  .github/workflows/e2e-upgrade-test-reusable.yaml
  .github/workflows/e2e.yml
  Makefile
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Bump nats packages
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Bump k8s utils
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

doc: Fix Eventing State doc formatting
  docs/user/02-configuration.md
Due: none

chore: change dependabot config to weekly schedule (#497)
  .github/dependabot.yml
Due: pull-eventing-manager-build

Simplify retry function
  hack/e2e/common/retry.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Simplify retry function (#503)
  hack/e2e/common/retry.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

docs: switch preposition, its IN a cluster not ON a cluster
  README.md
  docs/contributor/installation.md
  docs/user/tutorials/evnt-01-prerequisites.md
Due: none

docs: switch preposition, its IN a cluster not ON a cluster (#504)
  README.md
  docs/contributor/installation.md
  docs/user/tutorials/evnt-01-prerequisites.md
Due: none

chore: fix E2E tests
  hack/e2e/common/fixtures/fixtures.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Fix lint
  hack/e2e/common/fixtures/fixtures.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Chore: Bump dependencies (#498)
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix lint issue
  hack/e2e/common/fixtures/fixtures.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix lint issues for real
  hack/e2e/common/fixtures/fixtures.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

add config for lll (disabled for now)
  .golangci.yaml
  api/eventing/v1alpha1/condition.go
  api/eventing/v1alpha2/subscription_webhook.go
  internal/controller/eventing/subscription/jetstream/matchers_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Improve for code review comment
  docs/user/02-configuration.md
Due: none

Make as a part of the config section
  docs/user/02-configuration.md
Due: none

doc: Fix Eventing State doc formatting (#502)
  docs/user/02-configuration.md
Due: none

chore: bump dependencies
  api/eventing/v1alpha1/zz_generated.deepcopy.go
  api/eventing/v1alpha2/zz_generated.deepcopy.go
  api/operator/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/eventing.kyma-project.io_subscriptions.yaml
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/operator/eventing/mocks/controller.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bumped controller-runtime and fixed tests
  api/operator/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  pkg/k8s/client_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

removed tests to address review comments
  pkg/k8s/client_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: bump dependencies (#510)
  api/eventing/v1alpha1/zz_generated.deepcopy.go
  api/eventing/v1alpha2/zz_generated.deepcopy.go
  api/operator/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/eventing.kyma-project.io_subscriptions.yaml
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/operator/eventing/mocks/controller.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/client_test.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix: change machine type to fix provision gardener clusters
  .github/workflows/e2e-backend-switching-reuseable.yml
Due: pull-eventing-manager-build

fix: change machine type to fix provision gardener clusters (#515)
  .github/workflows/e2e-backend-switching-reuseable.yml
Due: pull-eventing-manager-build

adress review comments
  internal/controller/eventing/subscription/jetstream/matchers_test.go
  internal/controller/operator/eventing/integrationtests/natsconnection/integration_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix: provision gardener cluster
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build
