Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

Improve API Name and Makefile
  e2e/sink/Makefile
  e2e/sink/internal/handler/handler.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Test gh action workflow
  .github/workflows/sink.yml
Due: none

Dummy commit to test GH Action Workflow
  e2e/sink/Dockerfile
Due: none

Test 2
  .github/workflows/sink.yml
Due: none

Test 3
  .github/workflows/sink.yml
Due: none

Test 6
  e2e/sink/Dockerfile
Due: none

TEst 5
  .github/workflows/sink.yml
Due: none

Test 4
  e2e/sink/Dockerfile
Due: none

Test not relevant changes
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

Improve GH Action
  .github/workflows/sink.yml
Due: none

test 7
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

Test 8
  pkg/k8s/client.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Test 9
  .github/workflows/sink.yml
  pkg/k8s/client.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Move working-directory
  .github/workflows/sink.yml
Due: none

Test 10
  e2e/sink/internal/handler/handler.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Improve GH Action 3
  .github/workflows/sink.yml
Due: none

Test 11
  pkg/k8s/client.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

delete vs code files
  e2e/sink/.vscode/launch.json
Due: none

Test GH Action 4
  pkg/k8s/client.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Rename E2E Test Sink image
  .github/workflows/sink.yml
Due: none

Added e2e event delivery tests
  Makefile
  config/manager/kustomization.yaml
  hack/e2e/common/eventing/event_types.go
  hack/e2e/common/fixtures/fixtures.go
  hack/e2e/common/k8s.go
  hack/e2e/env/env.go
  hack/e2e/eventing/cleanup/cleanup_test.go
  hack/e2e/eventing/eventing_test.go
  hack/e2e/setup/setup_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Mockery update
  internal/controller/eventing/mocks/controller.go
  internal/controller/eventing/mocks/manager.go
  internal/controller/eventing/mocks/nats_config_handler.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/mocks/ec/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Add workflow path and improve path
  .github/workflows/sink.yml
Due: none

Change Image Name
  .github/workflows/sink.yml
Due: none

dummy change to test image push
  e2e/sink/internal/handler/handler.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Test outside files change
  pkg/k8s/client.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

set docker build working-directory
  .github/workflows/sink.yml
Due: none

Build only sink docker image
  .github/workflows/sink.yml
Due: none

test image push by making true
  .github/workflows/sink.yml
Due: none

Revert changes
  .github/workflows/sink.yml
Due: none

updated
  hack/e2e/common/eventing/event_types.go
  hack/e2e/common/eventing/utils.go
  hack/e2e/common/fixtures/fixtures.go
  hack/e2e/eventing/cleanup/cleanup_test.go
  hack/e2e/eventing/eventing_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

addressed review comments
  Makefile
  hack/e2e/cleanup/cleanup_test.go
  hack/e2e/env/env.go
  hack/e2e/setup/setup_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Update Makefile
  Makefile
Due: none

Added end-to-end setup tests (#83)
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  hack/e2e/cleanup/cleanup_test.go
  hack/e2e/common/fixtures/fixtures.go
  hack/e2e/common/k8s.go
  hack/e2e/common/logger.go
  hack/e2e/common/retry.go
  hack/e2e/env/env.go
  hack/e2e/setup/setup_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

updated
  hack/e2e/common/eventing/publisher.go
  hack/e2e/common/eventing/utils.go
  hack/e2e/env/env.go
  hack/e2e/eventing/eventing_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

updated
  Makefile
  hack/e2e/common/eventing/publisher.go
  hack/e2e/common/eventing/utils.go
  hack/e2e/common/fixtures/fixtures.go
  hack/e2e/common/http/http.go
  hack/e2e/env/env.go
  hack/e2e/eventing/eventing_test.go
  hack/e2e/scripts/event_delivery_tests.sh
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

updated
  hack/e2e/common/eventing/utils.go
  hack/e2e/eventing/eventing_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Make Webserver Port configurable
  e2e/sink/cmd/main.go
  e2e/sink/internal/handler/handler.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build
