Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

auto-bump sec-scanners-config: 2026-02-03-13-22-15
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2026-02-03-13-22-15 (#884)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

bump golang 1.25.3 to 1.26.0
  Dockerfile
  Makefile
  go.mod
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix lint issues
  .github/workflows/lint-go.yml
  .golangci.yaml
  Makefile
Due: pull-eventing-manager-build

reference eventing-proxy 1.2.0
  config/manager/manager.yaml
  pkg/env/backend_config.go
  sec-scanners-config.yaml
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: bump golang 1.25.3 to 1.26.0 (#887)
  .github/workflows/lint-go.yml
  .golangci.yaml
  Dockerfile
  Makefile
  config/manager/manager.yaml
  go.mod
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/env/backend_config.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/watcher/mocks/watcher.go
  sec-scanners-config.yaml
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: remove rc-tag
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

chore: remove rc-tag (#888)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

bump proxy version and nats server version
  config/manager/manager.yaml
  go.mod
  go.sum
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/env/backend_config.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/watcher/mocks/watcher.go
  sec-scanners-config.yaml
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump proxy version and nats server version (#889)
  config/manager/manager.yaml
  go.mod
  go.sum
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/env/backend_config.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/watcher/mocks/watcher.go
  sec-scanners-config.yaml
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

auto-bump kustomization file: 2026-03-12-16-34-28
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2026-03-12-16-34-28
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Bump sec-scanners-config and kustomization on release-1.5 (#890)
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2026-03-12-17-32-00
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2026-03-12-17-32-00 (#891)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

remove rc-tag
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

remove rc-tag (#892)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

add kyma-project.io/module: eventing label
  config/manager/manager.yaml
Due: pull-eventing-manager-build

add kyma-project.io/module: eventing label (#893)
  config/manager/manager.yaml
Due: pull-eventing-manager-build

user facing view and edit cluster roles
  .gitignore
  config/rbac/kustomization.yaml
  config/rbac/kyma_eventing_edit_role.yaml
  config/rbac/kyma_eventing_view_role.yaml
  config/rbac/rbac_test.go
  docs/user/README.md
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

lint fix
  config/rbac/rbac_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

add warm-up for event mesh e2e tests to prevent 404 on first few events
  copilot-context/rbac_agregate.md
  hack/e2e/common/testenvironment/test_environment.go
  hack/e2e/eventing/delivery/delivery_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

remove irelevant context file
  .gitignore
  copilot-context/rbac_agregate.md
Due: pull-eventing-manager-build

bump nats-server to 2.12.6
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump nats-server to 2.12.6 (#898)
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

add --platform= param to Docker builder
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

chore: event mesh e2e test warmup (#897)
  .gitignore
  hack/e2e/common/testenvironment/test_environment.go
  hack/e2e/eventing/delivery/delivery_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

dependabot minor/patch grouping config
  .github/dependabot.yml
Due: pull-eventing-manager-build

dependabot minor/patch grouping config (#910)
  .github/dependabot.yml
Due: pull-eventing-manager-build

remove secrets.GARDENER_KYMATUNAS_KC
  .github/workflows/debug-env-vars.yml
  .github/workflows/k8s-compatibility-test.yml
Due: pull-eventing-manager-build

bump go version to 1.26.2, nat-server to 2.12.7
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

remove secrets.GARDENER_KYMATUNAS_KC (#914)
  .github/workflows/debug-env-vars.yml
  .github/workflows/k8s-compatibility-test.yml
Due: pull-eventing-manager-build

add --platform= param to Docker builder (#899)
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

bump golang version in docker builder
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

chore: bump go version to 1.26.2, nat-server to 2.12.7 (#916)
  Dockerfile
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build
