Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

docs: Replace html tags with docsify toggles
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

switch headings to title case
  docs/user/01-manager.md
  docs/user/README.md
  docs/user/_sidebar.md
  docs/user/evnt-architecture.md
  docs/user/evnt-event-names.md
  docs/user/evnt-eventing-metrics.md
  docs/user/resources/evnt-cr-subscription.md
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
  docs/user/troubleshooting/evnt-02-jetstream-troubleshooting.md
  docs/user/troubleshooting/evnt-03-type-collision.md
  docs/user/tutorials/evnt-01-prerequisites.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

it's eventING publisher proxy
  docs/user/README.md
  docs/user/evnt-architecture.md
  docs/user/evnt-event-names.md
  docs/user/resources/evnt-cr-subscription.md
  docs/user/troubleshooting/evnt-04-free-jetstream-storage.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

Rename reusable workflow file name
  .github/workflows/e2e-upgrade-test-reusable.yaml
  .github/workflows/pull-e2e-upgrade-test.yaml
  .github/workflows/push-e2e-upgrade-test.yaml
Due: pull-eventing-manager-build

Add missing steps (#444)
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Update CODE_OF_CONDUCT.md (#449)
  CODE_OF_CONDUCT.md
Due: none

docs: Fix spelling, incl EventING Publisher Proxy
  docs/user/README.md
  docs/user/evnt-architecture.md
  docs/user/evnt-event-names.md
  docs/user/resources/evnt-cr-subscription.md
  docs/user/troubleshooting/evnt-04-free-jetstream-storage.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

minor fixes
  docs/user/troubleshooting/README.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

Remove module-template
  .gitignore
  Makefile
  module-config-template.yaml
  scripts/render_and_upload_manifests.sh
Due: pull-eventing-manager-build

docs: Fix spelling, incl EventING Publisher Proxy (#451)
  docs/user/README.md
  docs/user/evnt-architecture.md
  docs/user/evnt-event-names.md
  docs/user/resources/evnt-cr-subscription.md
  docs/user/troubleshooting/README.md
  docs/user/troubleshooting/evnt-04-free-jetstream-storage.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

Remove module-template (#452)
  .gitignore
  Makefile
  module-config-template.yaml
  scripts/render_and_upload_manifests.sh
Due: pull-eventing-manager-build

Fix link
  docs/user/evnt-event-names.md
Due: none

Update evnt-cr-subscription.md
  docs/user/resources/evnt-cr-subscription.md
Due: none

Fix md links (#453)
  docs/user/evnt-event-names.md
  docs/user/resources/evnt-cr-subscription.md
Due: none

Create Upgrade jobs for PR and main merge (#401)
  .github/workflows/e2e-upgrade-test-reusable.yaml
  .github/workflows/pull-e2e-upgrade-test.yaml
  .github/workflows/push-e2e-upgrade-test.yaml
  hack/ci/build-full-image-path.sh
Due: pull-eventing-manager-build

Changed image tag to main in sec-scanners-config (#445)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

add a reusable release workflow
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

add scripts
  hack/scripts/create_changelog.sh
  hack/scripts/render-sec-scanners-config.sh
  hack/scripts/render_crd.sh
Due: pull-eventing-manager-build

remove old script
  scripts/create_changelog.sh
Due: pull-eventing-manager-build

add new needs
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

remove obsolete scripts
  scripts/check_release_tag.sh
  scripts/check_sec-scanners-config.sh
  scripts/create_draft_release.sh
  scripts/publish_release.sh
  scripts/render_and_upload_manifests.sh
  scripts/verify-status.sh
Due: pull-eventing-manager-build

fix spelling
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

pin workflows to commit sha
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

fix typo
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

rename manifest files
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

Update hack/scripts/create_changelog.sh
  hack/scripts/create_changelog.sh
Due: pull-eventing-manager-build

fix typos in create-changelog
  hack/scripts/create_changelog.sh
Due: pull-eventing-manager-build

simplify variables
  hack/scripts/render-sec-scanners-config.sh
Due: pull-eventing-manager-build

Update hack/scripts/render-sec-scanners-config.sh
  hack/scripts/render-sec-scanners-config.sh
Due: pull-eventing-manager-build

new to authors
  hack/scripts/create_changelog.sh
Due: pull-eventing-manager-build

remove removal of temp files
  hack/scripts/create_changelog.sh
Due: pull-eventing-manager-build

Correct post-eventing-manager-build name
  .github/workflows/push-e2e-upgrade-test.yaml
Due: pull-eventing-manager-build

Change Eventing CR status to WARN if cannot connect to NATS
  internal/controller/operator/eventing/controller.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Fix tests
  internal/controller/operator/eventing/integrationtests/natsconnection/integration_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

add the rc-tag main to the sec scanners config
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Add a unit-test
  internal/controller/operator/eventing/integrationtests/natsconnection/integration_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Remove not existing functions from mocks
  internal/controller/operator/eventing/integrationtests/natsconnection/integration_test.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Correct post-eventing-manager-build name (#455)
  .github/workflows/push-e2e-upgrade-test.yaml
Due: pull-eventing-manager-build

Use checkout GH action branch setting
  .github/workflows/e2e-upgrade-test-reusable.yaml
Due: pull-eventing-manager-build
