Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

Improve Check image
  scripts/check_image.sh
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Sec config
  scripts/check_image.sh
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Improve Prow job verification script (#299)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

bump to an even newer version
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Bump em image
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Bump em image (#298)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Update CODEOWNERS
  CODEOWNERS
Due: pull-eventing-manager-build

Update UI with improved notifications (#286)
  config/samples/empty_backend.yaml
  config/ui-extensions/eventing/details
  config/ui-extensions/eventing/form
  config/ui-extensions/eventing/kustomization.yaml
Due: pull-eventing-manager-build

add codeowners
  CODEOWNERS
Due: pull-eventing-manager-build

Bump em image (#301)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

add codeowners (#308)
  CODEOWNERS
Due: pull-eventing-manager-build

trigger build job.
  cmd/main.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Add publisher service in the Eventing CR status (#283)
  api/operator/v1alpha1/eventing_types.go
  api/operator/v1alpha1/status.go
  api/operator/v1alpha1/status_test.go
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  docs/user/02-configuration.md
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
  internal/controller/operator/eventing/status.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

trigger build job. (#309)
  cmd/main.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

retrigger build job.
  cmd/main.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

retrigger build job. (#310)
  cmd/main.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump-image-in-secscannerconfig
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

bump image in secscannerconfig
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

bump again
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

format and relplace backticks
  scripts/verify-status.sh
Due: pull-eventing-manager-build

add retry
  scripts/verify-status.sh
Due: pull-eventing-manager-build

Wait 10 seconds
  scripts/verify-status.sh
Due: pull-eventing-manager-build

adjust Eventing to new content guidelines
  README.md
  docs/contributor/development.md
  docs/contributor/governance.md
  docs/contributor/installation.md
  docs/contributor/testing.md
  docs/contributor/troubleshooting.md
  docs/user/01-manager.md
  docs/user/README.md
  docs/user/_sidebar.md
  docs/user/evnt-architecture.md
  docs/user/evnt-event-names.md
  docs/user/evnt-eventing-metrics.md
  docs/user/resources/evnt-cr-subscription.md
  docs/user/troubleshooting/_sidebar.md
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
  docs/user/tutorials/_sidebar.md
  docs/user/tutorials/evnt-01-prerequisites.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

adjust sidebars
  docs/user/_sidebar.md
  docs/user/resources/_sidebar.md
  docs/user/resources/evnt-cr-subscription.md
  docs/user/troubleshooting/evnt-04-free-jetstream-storage.md
Due: none

fix capitalization
  docs/user/tutorials/evnt-01-prerequisites.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
Due: none

remove reference to old publisher proxy service (#291)
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

Apply Natalia's suggestions
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
  docs/user/tutorials/evnt-01-prerequisites.md
Due: none

remove "documentation overview", redundant with sidebar
  docs/user/README.md
Due: none

Document Warning State Write documentation in which cases Eventing CR state gets Warning state
  api/operator/v1alpha1/eventing_types.go
  docs/user/02-configuration.md
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Refactor verify script (#313)
  scripts/verify-status.sh
Due: pull-eventing-manager-build

prevent link check error
  docs/user/_sidebar.md
Due: none

adjust diagrams to styleguide
  docs/assets/evnt-architecture.svg
  docs/assets/evnt-pubsub.svg
Due: none

adjust reconcile diagram
  docs/assets/reconcileLoop.svg
Due: none

Improve for review comments
  docs/user/02-configuration.md
Due: none

check_image.sh
  scripts/check_image.sh
Due: pull-eventing-manager-build

release.sh
  scripts/release.sh
Due: pull-eventing-manager-build
