Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

regenerate eventing cr
  docs/user/resources/eventing-cr.md
Due: none

remove obsolete tutorials
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

remove troubleshooting docs that we moved to NATS
  docs/user/troubleshooting/nats-01-module-troubleshooting.md
  docs/user/troubleshooting/nats-02-fix-pending-messages.md
Due: none

fix eventing-cr doc generation
  api/operator/v1alpha1/eventing_types.go
  docs/user/resources/eventing-cr.md
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

update yaml and md based on go
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  docs/user/resources/eventing-cr.md
Due: pull-eventing-manager-build

update troubleshooting readme and sidebar
  docs/user/_sidebar.md
  docs/user/troubleshooting/README.md
Due: none

implement Ivan's suggestions
  docs/user/README.md
  docs/user/evnt-event-names.md
Due: none

fix links
  docs/user/troubleshooting/README.md
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
Due: none

Correct generated deepcopy imports
  api/operator/v1alpha1/eventing_types.go
  api/operator/v1alpha1/zz_generated.deepcopy.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

docs: provide _sidebar.ts for vitepress (#838)
  docs/user/_sidebar.ts
Due: none

add subscription-cr.md to makefile to generate tables
  Makefile
Due: pull-eventing-manager-build

update architecture
  docs/assets/evnt-architecture.svg
  docs/user/README.md
Due: none

adjust eventing status section
  docs/user/resources/eventing-cr.md
Due: none

add png diagram for DITA
  docs/assets/evnt-architecture.png
Due: none

remove inline comments
  docs/user/README.md
  docs/user/evnt-eventing-metrics.md
Due: none

language review
  docs/user/tutorials/evnt-01-choose-backend.md
  docs/user/tutorials/evnt-01-configure-event-mesh.md
Due: none

Fix broken CRD tables by updating table-gen tool
  Makefile
  docs/user/resources/eventing-cr.md
  docs/user/resources/subscription-cr.md
Due: pull-eventing-manager-build

fix broken link
  docs/user/resources/eventing-cr.md
Due: none

add specHash description
  api/operator/v1alpha1/eventing_types.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

generate docs
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  docs/user/resources/eventing-cr.md
Due: pull-eventing-manager-build

Update eventing_types.go identation
  api/operator/v1alpha1/eventing_types.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Apply suggestions from Gosia's review
  docs/user/README.md
  docs/user/resources/subscription-cr.md
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
Due: none

fix broken troubleshooting links
  docs/user/troubleshooting/README.md
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
  docs/user/troubleshooting/evnt-03-free-jetstream-storage.md
Due: none

fix formatting of notes, tips, and warnings
  docs/contributor/installation.md
  docs/user/evnt-eventing-metrics.md
  docs/user/resources/subscription-cr.md
  docs/user/tutorials/evnt-01-configure-event-mesh.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
Due: none

docs: update Eventing docs (#819)
  Makefile
  api/operator/v1alpha1/eventing_types.go
  api/operator/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  docs/assets/evnt-architecture.png
  docs/assets/evnt-architecture.svg
  docs/contributor/installation.md
  docs/user/01-manager.md
  docs/user/02-configuration.md
  docs/user/README.md
  docs/user/_sidebar.md
  docs/user/evnt-architecture.md
  docs/user/evnt-event-names.md
  docs/user/evnt-eventing-metrics.md
  docs/user/resources/README.md
  docs/user/resources/eventing-cr.md
  docs/user/resources/subscription-cr.md
  docs/user/troubleshooting/README.md
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
  docs/user/troubleshooting/evnt-02-jetstream-troubleshooting.md
  docs/user/troubleshooting/evnt-02-subscriber-irrelevant-events.md
  docs/user/troubleshooting/evnt-03-free-jetstream-storage.md
  docs/user/troubleshooting/evnt-03-type-collision.md
  docs/user/troubleshooting/evnt-04-free-jetstream-storage.md
  docs/user/troubleshooting/evnt-05-fix-pending-messages.md
  docs/user/tutorials/README.md
  docs/user/tutorials/evnt-01-choose-backend.md
  docs/user/tutorials/evnt-01-configure-event-mesh.md
  docs/user/tutorials/evnt-01-prerequisites.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Fix broken links
  docs/user/resources/subscription-cr.md
  docs/user/troubleshooting/README.md
Due: none

Fix a typo
  docs/user/troubleshooting/README.md
Due: none

Fix _sidebar.md
  docs/user/_sidebar.md
Due: none

make FIPS140 mandatory
  Dockerfile
  Makefile
Due: pull-eventing-manager-build, post-eventing-manager-build

docs: fix broken links (#846)
  docs/user/_sidebar.md
  docs/user/resources/subscription-cr.md
  docs/user/troubleshooting/README.md
Due: none

Update links in eventing troubleshooting document
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
Due: none

Update links in eventing troubleshooting document (#848)
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
Due: none

Fix the sidebar file
  docs/user/_sidebar.md
Due: none

Fix the sidebar file (#849)
  docs/user/_sidebar.md
Due: none

upgrade nats server version: v2.10.25 -> v.2.12.1
  .github/workflows/lint-go.yml
  .golangci.yaml
  Dockerfile
  Makefile
  config/crd/bases/eventing.kyma-project.io_subscriptions.yaml
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  docs/user/02-configuration.md
  go.mod
  go.sum
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

upgrade nats server to 1.12.1
  .github/workflows/lint-go.yml
  .golangci.yaml
  Dockerfile
  Makefile
  api/operator/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/eventing.kyma-project.io_subscriptions.yaml
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  go.mod
  go.sum
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

upgrade nats server to 1.12.1 (#851)
  .github/workflows/lint-go.yml
  .golangci.yaml
  Dockerfile
  Makefile
  api/operator/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/eventing.kyma-project.io_subscriptions.yaml
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  go.mod
  go.sum
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

upgrade controller-gen version
  Makefile
  config/crd/bases/eventing.kyma-project.io_subscriptions.yaml
  config/crd/bases/operator.kyma-project.io_eventings.yaml
Due: pull-eventing-manager-build

add tlsmlkem=0 as a workaround for the use of X25519 is not allowed in FIPS 140-only mode
  Dockerfile
  Makefile
Due: pull-eventing-manager-build, post-eventing-manager-build

e2e event-mesh only
  .github/workflows/e2e-event-mesh-only-backend.yml
  .github/workflows/pull-target-e2e.yml
Due: pull-eventing-manager-build
