Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

checkout source for is-pr-approved step
  .github/workflows/pull-target-e2e.yml
Due: pull-eventing-manager-build

Fix `is-pr-approved` job (#426)
  .github/workflows/pull-target-e2e.yml
Due: pull-eventing-manager-build

Test PR for backend switch github action
  .github/workflows/pull-target-e2e.yml
Due: pull-eventing-manager-build

updated
  .github/workflows/pull-target-e2e.yml
Due: pull-eventing-manager-build

Updated comment in pull-target-e2e workflow
  .github/workflows/pull-target-e2e.yml
Due: pull-eventing-manager-build

Updated comment in pull-target-e2e workflow (#429)
  .github/workflows/pull-target-e2e.yml
Due: pull-eventing-manager-build

Make default CR have empty backend (#419)
  config/samples/default.yaml
  config/samples/default_nats.yaml
Due: pull-eventing-manager-build

Update README.md
  README.md
Due: none

Update README.md (#433)
  README.md
Due: none

Make default CR have empty backend (#419) (#431)
  config/samples/default.yaml
  config/samples/default_nats.yaml
Due: pull-eventing-manager-build

Delete pull-nats-module-build usages
  scripts/extract_image_from_build_logs.sh
Due: pull-eventing-manager-build

Fix broken links
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

Fix broken links (#438)
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

Bumped dependencies
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Update a link
  docs/user/README.md
Due: none

Update Eventing CR used in backend-switching job
  .github/workflows/e2e-backend-switching-reuseable.yml
Due: pull-eventing-manager-build

Update a link (#440)
  docs/user/README.md
Due: none

Add missing steps
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

change default.yaml to default_nats.yaml
  .github/workflows/e2e-backend-switching-reuseable.yml
Due: pull-eventing-manager-build

Update Eventing CR used in backend-switching job (#441)
  .github/workflows/e2e-backend-switching-reuseable.yml
Due: pull-eventing-manager-build

Bumped dependencies (#439)
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Changed image tag to main in sec-scanners-config
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Address the review comments
  internal/connection/nats/connection.go
  internal/connection/nats/interface.go
  internal/connection/nats/mocks/connection.go
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/integrationtests/natsconnection/integration_test.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Rely on the NATS cluster connection status when reporting the Eventing CR status (#331)
  .golangci.yaml
  Dockerfile
  api/operator/v1alpha1/eventing_types.go
  api/operator/v1alpha1/eventing_types_test.go
  api/operator/v1alpha1/status.go
  api/operator/v1alpha1/status_test.go
  cmd/main.go
  cmd/main_test.go
  internal/connection/nats/builder.go
  internal/connection/nats/builder_test.go
  internal/connection/nats/connection.go
  internal/connection/nats/errors/errors.go
  internal/connection/nats/interface.go
  internal/connection/nats/mocks/builder.go
  internal/connection/nats/mocks/connection.go
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
  internal/controller/operator/eventing/integrationtests/controllersinglecr/integration_test.go
  internal/controller/operator/eventing/integrationtests/controllerswitching/integration_test.go
  internal/controller/operator/eventing/integrationtests/nats_disabled/integration_test.go
  internal/controller/operator/eventing/integrationtests/natsconnection/integration_test.go
  internal/controller/operator/eventing/integrationtests/validation/integration_test.go
  internal/controller/operator/eventing/integrationtests/without_apirule_crd/integration_test.go
  internal/controller/operator/eventing/status.go
  internal/controller/operator/eventing/unit_test.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Use different MANAGER images for PR and main branch tests
  .github/workflows/pull-e2e-upgrade-test.yaml
Due: pull-eventing-manager-build

Use reusable GH wokrflow
  .github/workflows/pull-e2e-upgrade-test.yaml
  .github/workflows/push-e2e-upgrade-test.yaml
  .github/workflows/run-upgrade-tests-reusable.yaml
Due: pull-eventing-manager-build

Create e2e test upgrade job
  .github/workflows/pull-e2e-upgrade-test.yaml
Due: pull-eventing-manager-build

Use current PR branch
  .github/workflows/push-e2e-upgrade-test.yaml
Due: pull-eventing-manager-build

Use curl directly
  .github/workflows/push-e2e-upgrade-test.yaml
Due: pull-eventing-manager-build

Test push job with push event
  .github/workflows/push-e2e-upgrade-test.yaml
Due: pull-eventing-manager-build

Debug Get release tag job
  .github/workflows/push-e2e-upgrade-test.yaml
Due: pull-eventing-manager-build

Use resulable wokflow for release push job
  .github/workflows/pull-e2e-upgrade-test.yaml
  .github/workflows/push-e2e-upgrade-test.yaml
  hack/ci/Makefile
Due: pull-eventing-manager-build

Use image if branch name is not set
  .github/workflows/pull-e2e-upgrade-test.yaml
  .github/workflows/run-upgrade-tests-reusable.yaml
Due: pull-eventing-manager-build

Rename reusable job and reconfigure push job
  .github/workflows/pull-e2e-upgrade-test.yaml
  .github/workflows/push-e2e-upgrade-test.yaml
  .github/workflows/upgrade-tests-reusable.yaml
Due: pull-eventing-manager-build

Improve reusable workflow
  .github/workflows/pull-e2e-upgrade-test.yaml
  .github/workflows/push-e2e-upgrade-test.yaml
  .github/workflows/run-upgrade-tests-reusable.yaml
  hack/ci/Makefile
  hack/ci/build-full-image-path.sh
Due: pull-eventing-manager-build

Use image tag as branches
  .github/workflows/run-upgrade-tests-reusable.yaml
Due: pull-eventing-manager-build

Don't checkout PR branh as it is already done
  .github/workflows/pull-e2e-upgrade-test.yaml
  .github/workflows/run-upgrade-tests-reusable.yaml
Due: pull-eventing-manager-build

Improve review comments
  .github/workflows/push-e2e-upgrade-test.yaml
  .github/workflows/upgrade-tests-reusable.yaml
Due: pull-eventing-manager-build
