Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

add backend matrix
  .github/workflows/e2e.yml
  hack/ci/check-k8s-resource-is-ready.sh
Due: none

rename job
  .github/workflows/e2e.yml
Due: none

rename
  .github/workflows/e2e.yml
Due: none

use matrix
  .github/workflows/e2e.yml
Due: none

remove matrix, again
  .github/workflows/e2e.yml
Due: none

Add tasks for module build in Makefile (#127)
  .gitignore
  .version
  Makefile
  hack/ci/Makefile
  module-config-template.yaml
  scripts/release.sh
  sec-scanners-config.yaml
Due: none

Migrate JetStream code from eventing-controller
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  go.mod
  go.sum
  internal/controller/eventing/controller.go
  internal/controller/eventing/eventmesh_test.go
  internal/controller/eventing/mocks/manager.go
  internal/controller/eventing/unit_test.go
  internal/controller/subscription/jetstream/errors.go
  internal/controller/subscription/jetstream/matchers_test.go
  internal/controller/subscription/jetstream/reconciler.go
  internal/controller/subscription/jetstream/reconciler_integration_test.go
  internal/controller/subscription/jetstream/reconciler_internal_unit_test.go
  internal/controller/subscription/jetstream/test_utils_test.go
  internal/controller/subscription/jetstream/utils.go
  internal/controller/subscription/jetstream/utils_unit_test.go
  pkg/eventing/manager_test.go
  pkg/eventing/mocks/interfaces.go
  pkg/subscriptionmanager/jetstream/jetstream.go
  pkg/subscriptionmanager/jetstream/jetstream_test.go
  pkg/subscriptionmanager/manager.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

finish for nats
  .github/workflows/e2e.yml
Due: none

remove from pull
  .github/workflows/e2e.yml
Due: none

add cleanup step
  .github/workflows/e2e.yml
Due: none

update subscription manager interface
  cmd/main.go
  internal/controller/eventing/controller.go
  internal/controller/eventing/controller_test.go
  internal/controller/eventing/nats.go
  internal/controller/eventing/nats_test.go
  pkg/subscriptionmanager/factory.go
  pkg/subscriptionmanager/jetstream/jetstream.go
  pkg/subscriptionmanager/manager/manager.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

lint fix
  internal/controller/subscription/jetstream/reconciler_internal_unit_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

rename var to MANAGER_IMAGE
  .github/workflows/e2e.yml
Due: none

change to e2e-cleanup
  .github/workflows/e2e.yml
Due: none

create ghithub action to run the end-to-end tests without lifecycle manager with nats as a backend (#132)
  .github/workflows/e2e.yml
  cmd/main.go
  hack/ci/Makefile
  hack/ci/check-k8s-resource-is-ready.sh
  hack/e2e/common/testenvironment/test_environment.go
  hack/e2e/setup/setup_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

added pkg_backend_jetstream
  go.mod
  internal/controller/subscription/jetstream/matchers_test.go
  internal/controller/subscription/jetstream/reconciler.go
  internal/controller/subscription/jetstream/reconciler_internal_unit_test.go
  internal/controller/subscription/jetstream/test_utils_test.go
  pkg/backend/jetstream/config.go
  pkg/backend/jetstream/config_internal_unit_test.go
  pkg/backend/jetstream/connection.go
  pkg/backend/jetstream/connection_integration_test.go
  pkg/backend/jetstream/errors.go
  pkg/backend/jetstream/jetstream.go
  pkg/backend/jetstream/jetstream_integration_test.go
  pkg/backend/jetstream/jetstream_internal_unit_test.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/backend/jetstream/stubs_test.go
  pkg/backend/jetstream/test_helpers.go
  pkg/backend/jetstream/types.go
  pkg/backend/jetstream/utils.go
  pkg/backend/jetstream/utils_internal_integration_test.go
  pkg/backend/jetstream/utils_internal_unit_test.go
  pkg/subscriptionmanager/jetstream/jetstream.go
  pkg/subscriptionmanager/jetstream/jetstream_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Use Dynamic Client to get NATS CRs
  cmd/main.go
  internal/controller/eventing/controller.go
  internal/controller/eventing/watcher.go
  pkg/k8s/client.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

updated dockerfile
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

updated imports
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  internal/controller/eventing/controller.go
  internal/controller/eventing/nats.go
  internal/controller/eventing/nats_test.go
  internal/controller/eventing/unit_test.go
  internal/controller/eventing/webhook.go
  internal/controller/subscription/jetstream/reconciler.go
  internal/controller/subscription/jetstream/reconciler_integration_test.go
  internal/controller/subscription/jetstream/test_utils_test.go
  internal/controller/subscription/jetstream/utils.go
  internal/controller/subscription/jetstream/utils_unit_test.go
  options/options.go
  pkg/backend/jetstream/jetstream.go
  pkg/backend/sink/validator.go
  pkg/backend/utils/eventmesh_utils_test.go
  pkg/errors/errors.go
  pkg/eventing/deployment.go
  pkg/object/equality_test.go
  pkg/utils/utils.go
  pkg/utils/utils_unit_test.go
  test/utils/integration/integration.go
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Add status change
  internal/controller/eventing/eventmesh.go
  internal/controller/eventing/mocks/controller.go
  internal/controller/eventing/mocks/manager.go
  internal/controller/eventing/mocks/nats_config_handler.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/mocks/ec/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Check NATS CRD Existence
  api/v1alpha1/eventing_types.go
  cmd/main.go
  internal/controller/eventing/controller.go
  internal/controller/eventing/watcher.go
  pkg/k8s/client.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Make watcher be reusable for other resources
  internal/controller/eventing/controller.go
  pkg/watcher/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

add a new job for eventmesh
  .github/workflows/e2e.yml
  hack/ci/Makefile
Due: none

Create Integration Tests for NATS Watcher
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  internal/controller/eventing/integrationtests/controller/integration_test.go
  internal/controller/eventing/integrationtests/controller_switching/integration_test.go
  test/matchers/matchers.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Fix flow in EventMesh and NATS Fix tests
  api/v1alpha1/eventing_types.go
  internal/controller/eventing/eventmesh.go
  internal/controller/eventing/eventmesh_test.go
  internal/controller/eventing/nats.go
  internal/controller/eventing/nats_test.go
  internal/controller/eventing/status.go
  internal/controller/eventing/utils.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Fix tests
  api/v1alpha1/zz_generated.deepcopy.go
  go.mod
  internal/controller/eventing/eventmesh.go
  internal/controller/eventing/eventmesh_test.go
  internal/controller/eventing/nats_test.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/subscriptionmanager/manager/mocks/manager.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

React to EventMesh backend config changes (#123)
  api/v1alpha1/eventing_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/external/apirules.gateway.crd.yaml
  go.mod
  internal/controller/eventing/eventmesh.go
  internal/controller/eventing/eventmesh_test.go
  internal/controller/eventing/integrationtests/controller_switching/integration_test.go
  internal/controller/eventing/mocks/controller.go
  internal/controller/eventing/mocks/manager.go
  internal/controller/eventing/mocks/nats_config_handler.go
  internal/controller/eventing/nats.go
  internal/controller/eventing/nats_test.go
  internal/controller/eventing/status.go
  internal/controller/eventing/utils.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/ec/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Implement Unit tests
  go.mod
  go.sum
  internal/controller/eventing/controller.go
  internal/controller/eventing/controller_test.go
  internal/controller/eventing/integrationtests/controller/integration_test.go
  internal/controller/eventing/mocks/manager.go
  internal/controller/eventing/unit_test.go
  pkg/eventing/mocks/interfaces.go
  pkg/k8s/client.go
  pkg/k8s/client_test.go
  pkg/k8s/mocks/client.go
  pkg/watcher/mocks/controller.go
  pkg/watcher/mocks/watcher.go
  pkg/watcher/watcher.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Allow multiple watchers per namespace
  cmd/main.go
  go.mod
  go.sum
  internal/controller/eventing/controller.go
  internal/controller/eventing/controller_test.go
  internal/controller/eventing/mocks/controller.go
  internal/controller/eventing/mocks/manager.go
  internal/controller/eventing/mocks/nats_config_handler.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/client.go
  pkg/k8s/client_test.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
  pkg/watcher/watcher.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Upgrade go version linting and validaiton
  .github/workflows/lint.yml
  .github/workflows/validate.yml
Due: none

Upgrade mockery and clean-up
  internal/controller/eventing/controller.go
  internal/controller/eventing/mocks/controller.go
  internal/controller/eventing/mocks/manager.go
  internal/controller/eventing/mocks/nats_config_handler.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Create Istio resources instead of APIRule
  cmd/main.go
  go.mod
  go.sum
  internal/controller/subscription/eventmesh/reconciler.go
  internal/controller/subscription/eventmesh/reconciler_internal_integration_test.go
  internal/controller/subscription/eventmesh/test/utils.go
  internal/controller/subscription/eventmesh/testwebhookauth/utils.go
  internal/controller/subscription/eventmesh/testwithory/utils.go
  pkg/apigateway/apigateway.go
  pkg/apigateway/authorizationpolicy/authorizationpolicy.go
  pkg/apigateway/mocks/api_gateway.go
  pkg/apigateway/requestauthentication/requestauthentication.go
  pkg/apigateway/utils.go
  pkg/apigateway/virtualservice/virtualservice.go
  pkg/backend/eventmesh/eventmesh.go
  pkg/backend/eventmesh/eventmesh_integration_test.go
  pkg/backend/eventmesh/mocks/Backend.go
  pkg/backend/eventmesh/mocks/backend.go
  pkg/backend/utils/eventmesh_utils.go
  pkg/backend/utils/eventmesh_utils_test.go
  pkg/backend/utils/utils.go
  pkg/k8s/client.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/eventmesh/eventmesh.go
  pkg/subscriptionmanager/eventmesh/eventmesh_test.go
  pkg/subscriptionmanager/factory.go
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

replace intstr.FromInt with instr.FromInt32
  pkg/eventing/deployment.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Add NATS CRD Check Int Tests Case
  internal/controller/eventing/controller.go
  internal/controller/eventing/integrationtests/controller/integration_test.go
  test/matchers/matchers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build
