Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

Added github action for K8s version compatibility check
  .github/workflows/k8s-compatibility-test.yml
  hack/ci/Makefile
Due: pull-eventing-manager-build

Added github action for K8s version compatibility check (#583)
  .github/workflows/k8s-compatibility-test.yml
  hack/ci/Makefile
Due: pull-eventing-manager-build

fixed k8s compatibility check job to use provided k8s version
  .github/workflows/k8s-compatibility-test.yml
Due: pull-eventing-manager-build

fixed k8s compatibility check job to use provided k8s version (#584)
  .github/workflows/k8s-compatibility-test.yml
Due: pull-eventing-manager-build

fixed gardener provisioning make target to use correct env
  hack/ci/Makefile
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

fixed gardener provisioning make target to use correct env (#585)
  hack/ci/Makefile
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

chore: bump dependencies
  api/operator/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/eventing/subscription/eventmesh/reconciler.go
  internal/controller/eventing/subscription/jetstream/reconciler.go
  internal/controller/eventing/subscription/validator/mocks/SubscriptionValidator.go
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/controller_test.go
  internal/controller/operator/eventing/mocks/controller.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: bump dependencies (#590)
  api/operator/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/eventing/subscription/eventmesh/reconciler.go
  internal/controller/eventing/subscription/jetstream/reconciler.go
  internal/controller/eventing/subscription/validator/mocks/SubscriptionValidator.go
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/controller_test.go
  internal/controller/operator/eventing/mocks/controller.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Upgrade modules for DependaBot PRs
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Upgrad all go modules necessary at once
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Upgrade modules for DependaBot PRs (#596)
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Upgrade api rules for k8s compatibility tests
  hack/e2e/scripts/expose_epp_and_sink.sh
Due: pull-eventing-manager-build

chore: fix k8s compatibility test
  .github/workflows/k8s-compatibility-test.yml
  hack/ci/Makefile
Due: pull-eventing-manager-build

Increase sleep
  .github/workflows/k8s-compatibility-test.yml
Due: pull-eventing-manager-build

Add DNS provider
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

Change enable and disable to add and delete in the eventing repo
  docs/user/01-manager.md
Due: none

Update aws route53 secret name
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

Change enable and disable to add and delete in the eventing repo (#601)
  docs/user/01-manager.md
Due: none

chore: fix k8s compatibility test
  .github/workflows/k8s-compatibility-test.yml
  hack/ci/Makefile
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

chore: fix k8s compatibility test (#599)
  .github/workflows/k8s-compatibility-test.yml
  hack/ci/Makefile
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

update some dependencies
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump docker image
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

fix docker registery address
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

use older image
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

deps: update build image (#606)
  Dockerfile
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump go version
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump go version (#608)
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: bump dependencies
  .gitignore
  .golangci.yaml
  Makefile
  config/crd/bases/eventing.kyma-project.io_subscriptions.yaml
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/eventing/subscription/validator/mocks/SubscriptionValidator.go
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/mocks/controller.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

updated
  internal/controller/operator/eventing/integrationtests/natsconnection/integration_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fixed test
  internal/connection/nats/mocks/builder.go
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/integrationtests/natsconnection/integration_test.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Update link to default CR for NATS
  docs/user/02-configuration.md
Due: none

Update link to default CR for NATS (#615)
  docs/user/02-configuration.md
Due: none

bump docker builder image
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

bump go version
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump k8s.io dependencies
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Fix backend switching
  internal/controller/eventing/subscription/eventmesh/reconciler.go
  internal/controller/eventing/subscription/jetstream/reconciler.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Fix script
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

Increase wait timeout for modules to be ready
  hack/ci/Makefile
Due: pull-eventing-manager-build

chore: bump dependencies (#614)
  .gitignore
  .golangci.yaml
  Makefile
  config/crd/bases/eventing.kyma-project.io_subscriptions.yaml
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/ci/Makefile
  internal/connection/nats/mocks/builder.go
  internal/connection/nats/mocks/connection.go
  internal/controller/eventing/subscription/eventmesh/reconciler.go
  internal/controller/eventing/subscription/jetstream/reconciler.go
  internal/controller/eventing/subscription/validator/mocks/SubscriptionValidator.go
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/integrationtests/natsconnection/integration_test.go
  internal/controller/operator/eventing/mocks/controller.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
  scripts/gardener/aws/provision.sh
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none
