Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

bump golang and nats-server refs
  Dockerfile
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump golang and nats-server refs (#937)
  Dockerfile
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

auto-bump sec-scanners-config: 2026-06-12-11-12-44
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2026-06-12-11-12-44
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

Bump sec-scanners-config and kustomization on release-1.6 (#938)
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2026-06-12-12-00-59
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2026-06-12-12-00-59 (#939)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

bump proxy to 1.3.1; remove sec-scan-config
  CODEOWNERS
  Makefile
  config/manager/manager.yaml
  hack/ci/render-sec-scanners-config.sh
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

bump proxy to 1.3.1; remove sec-scan-config (#941)
  CODEOWNERS
  Makefile
  config/manager/manager.yaml
  hack/ci/render-sec-scanners-config.sh
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

remove sec-scan refs
  .github/workflows/create-release.yml
  .github/workflows/e2e.yml
  .github/workflows/lint-go.yml
  .github/workflows/push-e2e-upgrade-test.yaml
  .github/workflows/test.yml
  CODEOWNERS
  Makefile
  hack/ci/render-sec-scanners-config.sh
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

remove sec-scan refs (#943)
  .github/workflows/create-release.yml
  .github/workflows/e2e.yml
  .github/workflows/lint-go.yml
  .github/workflows/push-e2e-upgrade-test.yaml
  .github/workflows/test.yml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2026-06-16-12-32-37
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2026-06-16-12-32-37 (#944)
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

Update _sidebar.ts
  docs/user/_sidebar.ts
Due: none

Update README.md
  docs/user/README.md
Due: none

component config for ocm build (#951)
  component-config.yaml
Due: pull-eventing-manager-build

chore: sbom upload (#952)
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

Update _sidebar.ts (#955)
  docs/user/_sidebar.ts
Due: none

Update README.md (#958)
  docs/user/README.md
Due: none

Update README.md (#959)
  docs/user/README.md
Due: none

chore: golang 1.26.5 + various libs bump (#960)
  Dockerfile
  Makefile
  component-config.yaml
  config/manager/manager.yaml
  go.mod
  go.sum
  pkg/env/backend_config.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

auto-bump kustomization file: 2026-08-14-10-24-35
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2026-08-14-10-24-35 (#962)
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

Update troubleshooting.md
  docs/contributor/troubleshooting.md
Due: none

chore: go lang 1.27 (#966)
  .github/workflows/lint-go.yml
  .golangci.yaml
  Dockerfile
  Makefile
  api/eventing/v1alpha2/condition_test.go
  cmd/main.go
  go.mod
  hack/e2e/common/fixtures/fixtures.go
  internal/controller/eventing/subscription/jetstream/matchers_test.go
  internal/controller/operator/eventing/eventmesh_test.go
  pkg/ems/httpclient/error_unit_test.go
  pkg/errors/errors_unit_test.go
  pkg/eventing/deployment.go
  pkg/eventing/manager.go
  pkg/eventing/utils.go
  pkg/istio/peerauthentication/peerauthentication.go
  pkg/object/equality.go
  test/utils/integration/integration.go
  test/utils/utils.go
  testing/eventmeshmock.go
  testing/matchers.go
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

golang version bump
  Dockerfile
  Makefile
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

golang version bump (#967)
  Dockerfile
  Makefile
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump publisher-proxy 1.3.2 -> 1.3.3
  component-config.yaml
  config/manager/manager.yaml
  pkg/env/backend_config.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump publisher-proxy 1.3.2 -> 1.3.3 (#968)
  component-config.yaml
  config/manager/manager.yaml
  pkg/env/backend_config.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

replace gh bot with gh app token; delete kustmize-bump action
  .github/workflows/create-release.yml
  hack/ci/bump-kustomize-file.sh
Due: pull-eventing-manager-build

replace gh bot with gh app token; delete kustmize-bump action (#969)
  .github/workflows/create-release.yml
  hack/ci/bump-kustomize-file.sh
Due: pull-eventing-manager-build

Update troubleshooting.md (#964)
  docs/contributor/troubleshooting.md
Due: none
