Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

debug-gh-vars (#813)
  .github/workflows/debug-env-vars.yml
Due: pull-eventing-manager-build

handle the case when secret is not base64 string
  .github/workflows/k8s-compatibility-test.yml
Due: pull-eventing-manager-build

handle the case when secret is not base64 string (#814)
  .github/workflows/k8s-compatibility-test.yml
Due: pull-eventing-manager-build

bumped version to 1.25.1
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

read new kymatunas garden config
  .github/workflows/debug-env-vars.yml
  .github/workflows/k8s-compatibility-test.yml
Due: pull-eventing-manager-build

read new kymatunas garden config (#815)
  .github/workflows/debug-env-vars.yml
  .github/workflows/k8s-compatibility-test.yml
Due: pull-eventing-manager-build

enable istio side car injection for tests
  hack/e2e/common/fixtures/fixtures.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

enable istio sidecar injection in test-namespace
  hack/e2e/common/fixtures/fixtures.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

enable istio sidecar injection in test-namespace (#817)
  hack/e2e/common/fixtures/fixtures.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Update k8s-compatibility-test.yml
  .github/workflows/k8s-compatibility-test.yml
Due: pull-eventing-manager-build

Update Makefile
  hack/ci/Makefile
Due: pull-eventing-manager-build

update Eventing readme
  docs/user/README.md
Due: none

add two more sections
  docs/user/README.md
Due: none

language editing
  docs/user/README.md
Due: none

discuss Glossary entries
  docs/user/README.md
Due: none

upped ENVTEST_K8S_VERSION to 1.33.0
  Makefile
Due: pull-eventing-manager-build

added workflow_dispatch to test workflow
  .github/workflows/test.yml
Due: pull-eventing-manager-build

chore: k8s comp test.1.33 (#821)
  .github/workflows/k8s-compatibility-test.yml
  hack/ci/Makefile
Due: pull-eventing-manager-build

add AuthorizationPolicy for sink test; fix test Istio race condition
  hack/ci/Makefile
  hack/e2e/scripts/expose_epp_and_sink.sh
Due: pull-eventing-manager-build

Adjust CR docs
  docs/user/README.md
  docs/user/_sidebar.md
  docs/user/resources/README.md
  docs/user/resources/eventing-cr.md
  docs/user/resources/subscription-cr.md
Due: none

adjust subscription cr
  docs/user/resources/subscription-cr.md
Due: none

Update docs/user/02-configuration.md
  docs/user/02-configuration.md
Due: none

fix e2e-backend-switch test - reorder the test instructions
  .github/workflows/e2e-backend-switching-reuseable.yml
Due: pull-eventing-manager-build

remove is-pr-approved from workflow
  .github/workflows/pull-target-e2e.yml
Due: pull-eventing-manager-build

Update e2e-backend-switching-reuseable.yml
  .github/workflows/e2e-backend-switching-reuseable.yml
Due: pull-eventing-manager-build

Update e2e-backend-switching-reuseable.yml (#822)
  .github/workflows/e2e-backend-switching-reuseable.yml
Due: pull-eventing-manager-build

fix links
  docs/user/README.md
Due: none

align EPP terminology
  docs/user/README.md
  docs/user/resources/eventing-cr.md
Due: none

adjust Eventing Manager documentation
  docs/user/README.md
Due: none

Eventing Manager tasks
  docs/user/README.md
Due: none

discard Eventing Manager doc
  docs/user/01-manager.md
  docs/user/README.md
  docs/user/_sidebar.md
Due: none

discard architecture doc
  docs/user/README.md
  docs/user/_sidebar.md
  docs/user/evnt-architecture.md
Due: none

update Event Names doc with glossary content
  docs/user/README.md
  docs/user/evnt-event-names.md
Due: none

fix link
  docs/user/evnt-event-names.md
Due: none

document title in sidebar
  docs/user/_sidebar.md
Due: none
