Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

pull-eventing-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pull-eventing-manager-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-manager-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

post-eventing-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-eventing-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

update crd
  config/crd/bases/eventing.kyma-project.io_subscriptions.yaml
Due: pull-eventing-manager-build

codegen
  api/operator/v1alpha1/zz_generated.deepcopy.go
  internal/connection/nats/mocks/connection.go
  pkg/eventing/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix tests
  hack/e2e/common/testenvironment/test_environment.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Add tests for exact type matching
  hack/e2e/common/eventing/testsubscriptioninfo.go
  hack/e2e/common/eventing/utils.go
  hack/e2e/common/fixtures/fixtures.go
  hack/e2e/common/testenvironment/test_environment.go
  hack/e2e/eventing/delivery/delivery_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix tests
  hack/e2e/common/eventing/utils.go
  hack/e2e/common/fixtures/fixtures.go
  hack/e2e/common/testenvironment/test_environment.go
  hack/e2e/eventing/delivery/delivery_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Undo doc changes
  docs/user/02-configuration.md
Due: none

feat: remove v1alpha1 subscription (#517)
  .golangci.yaml
  api/eventing/v1alpha1/condition.go
  api/eventing/v1alpha1/condition_unit_test.go
  api/eventing/v1alpha1/fixtures_test.go
  api/eventing/v1alpha1/groupversion_info.go
  api/eventing/v1alpha1/subscription_conversion.go
  api/eventing/v1alpha1/subscription_conversion_unit_test.go
  api/eventing/v1alpha1/subscription_types.go
  api/eventing/v1alpha1/subscription_types_unit_test.go
  api/eventing/v1alpha1/subscription_webhook.go
  api/eventing/v1alpha1/zz_generated.deepcopy.go
  api/operator/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/eventing.kyma-project.io_subscriptions.yaml
  config/samples/subscription_v1alpha1_js.yaml
  hack/e2e/common/eventing/testsubscriptioninfo.go
  hack/e2e/common/eventing/utils.go
  hack/e2e/common/fixtures/fixtures.go
  hack/e2e/common/testenvironment/test_environment.go
  hack/e2e/eventing/delivery/delivery_test.go
  internal/connection/nats/mocks/connection.go
  pkg/eventing/manager.go
  pkg/eventing/manager_test.go
  pkg/eventing/mocks/manager.go
  pkg/subscriptionmanager/eventmesh/eventmesh.go
  pkg/subscriptionmanager/jetstream/jetstream.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix lint issues and revert changes to lint gha
  .github/workflows/lint-go.yml
  .golangci.yaml
  hack/e2e/common/eventing/utils.go
  hack/e2e/common/k8s.go
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/controller_test.go
  internal/controller/operator/eventing/eventmesh.go
  internal/controller/operator/eventing/eventmesh_test.go
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

create epp secret in same namespace as epp deployment
  internal/controller/operator/eventing/eventmesh.go
  internal/controller/operator/eventing/eventmesh_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix codeowners
  CODEOWNERS
Due: pull-eventing-manager-build

remove explicit codeownership for the1bit
  CODEOWNERS
Due: pull-eventing-manager-build

ignore more files in gha
  .github/workflows/e2e.yml
  .github/workflows/lint-go.yml
  .github/workflows/pull-e2e-upgrade-test.yaml
  .github/workflows/pull-target-e2e.yml
  .github/workflows/push-e2e-upgrade-test.yaml
  .github/workflows/test.yml
Due: pull-eventing-manager-build

chore: fix codeowners file (#535)
  .github/workflows/e2e.yml
  .github/workflows/lint-go.yml
  .github/workflows/pull-e2e-upgrade-test.yaml
  .github/workflows/pull-target-e2e.yml
  .github/workflows/push-e2e-upgrade-test.yaml
  .github/workflows/test.yml
  CODEOWNERS
Due: pull-eventing-manager-build

use superlinter
  .github/workflows/lint-go.yml
Due: pull-eventing-manager-build

fix workflow
  .github/workflows/lint-go.yml
Due: pull-eventing-manager-build

include history in checkout
  .github/workflows/lint-go.yml
Due: pull-eventing-manager-build

Revert "include history in checkout"
  .github/workflows/lint-go.yml
Due: pull-eventing-manager-build

Revert "fix workflow"
  .github/workflows/lint-go.yml
Due: pull-eventing-manager-build

Revert "use superlinter"
  .github/workflows/lint-go.yml
Due: pull-eventing-manager-build

downgrade golangci-lint action
  .github/workflows/lint-go.yml
Due: pull-eventing-manager-build

another linter bump
  .github/workflows/lint-go.yml
Due: pull-eventing-manager-build

fix semantic-pr
  .github/workflows/lint-conventional-prs.yml
Due: pull-eventing-manager-build

fix: update the Eventing CR status accordingly after switching from an empty backend
  api/operator/v1alpha1/eventing_types.go
  api/operator/v1alpha1/eventing_types_test.go
  api/operator/v1alpha1/status.go
  api/operator/v1alpha1/status_test.go
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
  test/matchers/matchers.go
  test/utils/options.go
  test/utils/utils.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix: fix the Eventing APIs docs
  api/operator/v1alpha1/eventing_types.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Update the Eventing CRD docs
  config/crd/bases/operator.kyma-project.io_eventings.yaml
Due: pull-eventing-manager-build

Fix auto generated user docs
  docs/user/02-configuration.md
Due: none

Fix link to Kyma Slack channel
  docs/user/troubleshooting/README.md
Due: none

Fix link to Kyma Slack channel (#540)
  docs/user/troubleshooting/README.md
Due: none

Update the Eventing API docs
  api/operator/v1alpha1/eventing_types.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Generate Eventing CRD
  config/crd/bases/operator.kyma-project.io_eventings.yaml
Due: pull-eventing-manager-build

Generate user configuration docs
  docs/user/02-configuration.md
Due: none

Fix spacing
  api/operator/v1alpha1/eventing_types.go
  docs/user/02-configuration.md
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Apply markdowlint rules in the Eventing repository
  .markdownlint.yaml
  .markdownlintignore
  docs/contributor/installation.md
  docs/contributor/testing.md
  docs/user/02-configuration.md
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
  docs/user/troubleshooting/evnt-02-jetstream-troubleshooting.md
  docs/user/troubleshooting/evnt-03-type-collision.md
  docs/user/troubleshooting/evnt-05-fix-pending-messages.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  markdown_heading_capitalization.js
Due: pull-eventing-manager-build

fix: update the Eventing CR status accordingly after switching from an empty backend (#538)
  api/operator/v1alpha1/eventing_types.go
  api/operator/v1alpha1/eventing_types_test.go
  api/operator/v1alpha1/status.go
  api/operator/v1alpha1/status_test.go
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
  test/matchers/matchers.go
  test/utils/options.go
  test/utils/utils.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix typo
  docs/user/02-configuration.md
Due: none

Create release also bumps the rc-tag in the sec-scanners-config on main
  .github/workflows/create-release.yml
  hack/ci/await-pr-merge.sh
Due: pull-eventing-manager-build

test PR for sec-security bump job
  .github/workflows/bump-sec-scanners-config-test.yaml
  hack/ci/await-pr-merge.sh
Due: pull-eventing-manager-build

fixed script
  hack/ci/await-pr-merge.sh
Due: pull-eventing-manager-build

docs: Apply markdowlint rules in the Eventing repository (#541)
  .markdownlint.yaml
  .markdownlintignore
  docs/contributor/installation.md
  docs/contributor/testing.md
  docs/user/02-configuration.md
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
  docs/user/troubleshooting/evnt-02-jetstream-troubleshooting.md
  docs/user/troubleshooting/evnt-03-type-collision.md
  docs/user/troubleshooting/evnt-05-fix-pending-messages.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  markdown_heading_capitalization.js
Due: pull-eventing-manager-build

added timeout
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
