Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

added github action based build jobs (#637)
  .github/workflows/pull-build-image.yaml
  .github/workflows/push-build-image.yaml
  .github/workflows/tag-build-image.yaml
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

replace prow build job waiting with github action
  .github/workflows/e2e.yml
  .github/workflows/wait-build-reusable.yml
Due: pull-eventing-manager-build

updated
  .github/workflows/e2e.yml
Due: pull-eventing-manager-build

updated
  .github/workflows/e2e.yml
  .github/workflows/wait-build-reusable.yml
Due: pull-eventing-manager-build

updated
  .github/workflows/create-release.yml
  .github/workflows/e2e-upgrade-test-reusable.yaml
  .github/workflows/pull-e2e-upgrade-test.yaml
  .github/workflows/pull-target-e2e.yml
  .github/workflows/push-e2e-upgrade-test.yaml
Due: pull-eventing-manager-build

updated
  .github/workflows/create-release.yml
  .github/workflows/e2e.yml
  .github/workflows/pull-e2e-upgrade-test.yaml
  .github/workflows/push-e2e-upgrade-test.yaml
Due: pull-eventing-manager-build

chore: replace prow build job waiting with github action (#639)
  .github/workflows/create-release.yml
  .github/workflows/e2e-upgrade-test-reusable.yaml
  .github/workflows/e2e.yml
  .github/workflows/pull-e2e-upgrade-test.yaml
  .github/workflows/pull-target-e2e.yml
  .github/workflows/push-e2e-upgrade-test.yaml
Due: pull-eventing-manager-build

bump golang version to 1.23.1
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump golang version to 1.23.1 (#641)
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

auto-bump sec-scanners-config: 2024-09-19-07-31-39
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2024-09-19-07-31-39
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

chore: bump sec-scanners-config and kustomization on release-0.0 (#642)
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-09-19-07-43-13
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

remove prow reference
  docs/contributor/testing.md
Due: none

remove prow reference (#644)
  docs/contributor/testing.md
Due: none

migrate nats.go
  go.mod
  go.sum
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/backend/jetstream/stubs_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix formatting
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/backend/jetstream/stubs_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

execute `make generate`
  api/operator/v1alpha1/zz_generated.deepcopy.go
  internal/controller/operator/eventing/mocks/typed_controller.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump nats to 1.37.0
  go.mod
  go.sum
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/backend/jetstream/stubs_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix linting problem
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

add `nolint` comment
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

add nolint comment
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: bump nats to 1.37.0 (#646)
  api/operator/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/backend/jetstream/stubs_test.go
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

feat: Add proper categories for CRDs
  api/eventing/v1alpha2/subscription_types.go
  api/operator/v1alpha1/eventing_types.go
  config/crd/bases/eventing.kyma-project.io_subscriptions.yaml
  config/crd/bases/operator.kyma-project.io_eventings.yaml
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix
  api/eventing/v1alpha2/subscription_types.go
  api/operator/v1alpha1/eventing_types.go
  config/crd/bases/eventing.kyma-project.io_subscriptions.yaml
  config/crd/bases/operator.kyma-project.io_eventings.yaml
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

auto-bump kustomization file: 2024-10-07-11-58-28
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-10-07-11-58-28
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

feat: add proper categories for CRDs (#652)
  api/eventing/v1alpha2/subscription_types.go
  api/operator/v1alpha1/eventing_types.go
  config/crd/bases/eventing.kyma-project.io_subscriptions.yaml
  config/crd/bases/operator.kyma-project.io_eventings.yaml
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix: bump golint version to fix failing job (#638)
  .github/workflows/lint-go.yml
  .golangci.yaml
  Makefile
  hack/e2e/common/fixtures/fixtures.go
  internal/controller/eventing/subscription/jetstream/reconciler.go
  internal/controller/operator/eventing/integrationtests/validation/integration_test.go
  pkg/ems/api/events/client/client.go
  pkg/eventing/utils.go
  pkg/tracing/tracing.go
  pkg/tracing/tracing_test.go
  test/utils/utils.go
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: bump dependencies (#616)
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build
