Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

fix undefined err
  hack/e2e/eventing/delivery/delivery_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix: provision gardener cluster (#516)
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

bump k3d-version used in tests
  hack/ci/Makefile
Due: pull-eventing-manager-build

update version used on gardener
  hack/ci/Makefile
Due: pull-eventing-manager-build

use 1.28.7
  hack/ci/Makefile
Due: pull-eventing-manager-build

install latest k3d tools version
  hack/ci/Makefile
Due: pull-eventing-manager-build

chore: bump k8s version used in tests (#519)
  hack/ci/Makefile
Due: pull-eventing-manager-build

Refactor test
  internal/controller/operator/eventing/controller_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Wrap error for malformatted Secrets into detailed errors and set Eventing-Manager state to Warning
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/eventmesh.go
  internal/controller/operator/eventing/eventmesh_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Add test for IsMalformattedSecretErr
  internal/controller/operator/eventing/eventmesh_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Add integration test
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Clean up integration tests
  internal/controller/operator/eventing/eventmesh.go
  internal/controller/operator/eventing/eventmesh_test.go
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
  internal/controller/operator/eventing/integrationtests/controllerswitching/integration_test.go
  internal/controller/operator/eventing/integrationtests/without_apirule_crd/integration_test.go
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Fix Spelling
  internal/controller/operator/eventing/eventmesh.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Fix unit tests
  internal/controller/operator/eventing/eventmesh_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Add testcase
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
  test/utils/integration/integration.go
  test/utils/utils.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Wrap error for malformatted secrets
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/eventmesh.go
  internal/controller/operator/eventing/eventmesh_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

add test case 'missing namespace'
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

change linter
  .github/workflows/lint-go.yml
Due: pull-eventing-manager-build

add another test case
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

remove var
  internal/controller/operator/eventing/controller_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Clean up
  internal/controller/operator/eventing/eventmesh.go
  internal/controller/operator/eventing/eventmesh_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix: update supported kube-version for gardener and k3d
  hack/ci/Makefile
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

chore: removed v1alpha1 subscription specifications from doc
  docs/user/resources/evnt-cr-subscription.md
Due: none

Remove testcase variable
  internal/controller/operator/eventing/eventmesh_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix: update supported kube-version for gardener and k3d (#523)
  hack/ci/Makefile
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

add stale action
  .github/workflows/stale.yml
Due: pull-eventing-manager-build

fix: Malformatted EventMesh Secret causes warning status (#520)
  .github/workflows/lint-go.yml
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/controller_test.go
  internal/controller/operator/eventing/eventmesh.go
  internal/controller/operator/eventing/eventmesh_test.go
  internal/controller/operator/eventing/integrationtests/controller/integration_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: removed v1alpha1 subscription specifications from doc (#524)
  docs/user/resources/evnt-cr-subscription.md
Due: none

Fix the link to Kyma Slack channels
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
Due: none

Fix the link to Kyma Slack channels (#526)
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
Due: none

refactor: added event types in e2e tests
  hack/e2e/common/fixtures/fixtures.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

moved checkout step before running e2e tests in upgrade job
  .github/workflows/e2e-upgrade-test-reusable.yaml
Due: pull-eventing-manager-build

refactor: added event types in e2e tests (#529)
  .github/workflows/e2e-upgrade-test-reusable.yaml
  hack/e2e/common/fixtures/fixtures.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

add stale action (#525)
  .github/workflows/stale.yml
Due: pull-eventing-manager-build

chore: remove tests for subscription v1alpha1
  hack/e2e/common/eventing/testsubscriptioninfo.go
  hack/e2e/common/eventing/utils.go
  hack/e2e/common/fixtures/fixtures.go
  hack/e2e/common/k8s.go
  hack/e2e/common/testenvironment/test_environment.go
  hack/e2e/eventing/delivery/delivery_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: remove tests for subscription v1alpha1 (#530)
  hack/e2e/common/eventing/testsubscriptioninfo.go
  hack/e2e/common/eventing/utils.go
  hack/e2e/common/fixtures/fixtures.go
  hack/e2e/common/k8s.go
  hack/e2e/common/testenvironment/test_environment.go
  hack/e2e/eventing/delivery/delivery_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

feat: remove subscription v1alpha1
  .golangci.yaml
  api/eventing/v1alpha1/condition.go
  api/eventing/v1alpha1/condition_unit_test.go
  api/eventing/v1alpha1/fixtures_test.go
  api/eventing/v1alpha1/groupversion_info.go
  api/eventing/v1alpha1/subscription_conversion.go
  api/eventing/v1alpha1/subscription_conversion_unit_test.go
  api/eventing/v1alpha1/subscription_types.go
  api/eventing/v1alpha1/subscription_types_unit_test.go
  api/eventing/v1alpha1/subscription_webhook.go
  api/eventing/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/samples/subscription_v1alpha1_js.yaml
  hack/e2e/common/testenvironment/test_environment.go
  pkg/eventing/manager.go
  pkg/eventing/manager_test.go
  pkg/subscriptionmanager/eventmesh/eventmesh.go
  pkg/subscriptionmanager/jetstream/jetstream.go
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

update docs
  docs/user/02-configuration.md
Due: none
