Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

Enable goerr113 linting for EventMesh tests (#378)
  internal/controller/operator/eventing/eventmesh_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Use created-by label to cache runtime objects (#275)
  internal/controller/cache/cache.go
  internal/controller/cache/cache_test.go
  internal/label/label.go
  internal/label/label_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Test PR for github action
  .github/workflows/e2e.yml
  hack/ci/Makefile
  scripts/gardener/aws.sh
  scripts/provision-gardener-aws.sh
  scripts/utils/log.sh
  scripts/utils/utils.sh
Due: pull-eventing-manager-build

Init for backend switching action
  .github/workflows/e2e.yml
Due: pull-eventing-manager-build

add
  .github/workflows/e2e.yml
  hack/e2e/setup/setup_test.go
  pkg/k8s/client_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

revert
  .github/workflows/e2e-k8s.yml
  .github/workflows/e2e.yml
  hack/e2e/setup/setup_test.go
  pkg/k8s/client_test.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Init for backend switching action (#388)
  .github/workflows/e2e-k8s.yml
  .github/workflows/e2e.yml
Due: pull-eventing-manager-build

Add Gardener provisioning
  .github/workflows/e2e-k8s.yml
Due: pull-eventing-manager-build

updated
  .github/workflows/e2e-k8s.yml
Due: pull-eventing-manager-build

Add backend switching job for EventMesh - Test PR
  .github/workflows/e2e-k8s.yml
  .github/workflows/e2e.yml
Due: pull-eventing-manager-build

Fix backend switching initial trigger setup (#391)
  .github/workflows/e2e-k8s.yml
Due: pull-eventing-manager-build

updated
  .github/workflows/e2e.yml
  hack/ci/Makefile
  scripts/gardener/aws.sh
  scripts/provision-gardener-aws.sh
  scripts/utils/log.sh
  scripts/utils/utils.sh
Due: pull-eventing-manager-build

updated
  .github/workflows/e2e.yml
  .github/workflows/lint-markdown-links-pr.yml
  .github/workflows/lint.yml
  .github/workflows/sink.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
Due: pull-eventing-manager-build

updated
  hack/ci/Makefile
  scripts/gardener/aws.sh
Due: pull-eventing-manager-build

updated
  .github/workflows/e2e.yml
  scripts/gardener/aws.sh
Due: pull-eventing-manager-build

updated
  .github/workflows/e2e.yml
Due: pull-eventing-manager-build

updated
  scripts/gardener/aws.sh
Due: pull-eventing-manager-build

updated
  .github/workflows/e2e.yml
  hack/ci/Makefile
  scripts/gardener/aws/deprovision.sh
  scripts/gardener/aws/provision.sh
  scripts/provision-gardener-aws.sh
Due: pull-eventing-manager-build

updated
  .github/workflows/e2e.yml
  scripts/gardener/aws/deprovision.sh
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

updated
  .github/workflows/e2e.yml
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

updated
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

Use docsify tabs instead of html, add README files for nav
  docs/user/_sidebar.md
  docs/user/resources/README.md
  docs/user/tutorials/README.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none

Use upper case in sidebar
  docs/user/_sidebar.md
Due: none

Make Prerequisites the entry point to the tutorials
  docs/user/_sidebar.md
  docs/user/resources/README.md
  docs/user/tutorials/README.md
Due: none

updated
  .github/workflows/e2e.yml
  config/manager/kustomization.yaml
  docs/user/02-configuration.md
  hack/ci/Makefile
  scripts/ias/create-ias-app.sh
  scripts/ias/delete-ias-app.sh
Due: pull-eventing-manager-build

Apply review suggestions
  docs/user/resources/README.md
Due: none

Adapt tabs and add README files for nav (#394)
  docs/user/_sidebar.md
  docs/user/resources/README.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-03-type-cleanup.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
  docs/user/tutorials/evnt-05-send-legacy-events.md
Due: none
