Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)

fix: bump golint version to fix failing job (#638)
  .github/workflows/lint-go.yml
  .golangci.yaml
  Makefile
  hack/e2e/common/fixtures/fixtures.go
  internal/controller/eventing/subscription/jetstream/reconciler.go
  internal/controller/operator/eventing/integrationtests/validation/integration_test.go
  pkg/ems/api/events/client/client.go
  pkg/eventing/utils.go
  pkg/tracing/tracing.go
  pkg/tracing/tracing_test.go
  test/utils/utils.go
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

added github action based build jobs (#637)
  .github/workflows/pull-build-image.yaml
  .github/workflows/push-build-image.yaml
  .github/workflows/tag-build-image.yaml
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

chore: bump nats to 1.37.0 (#646)
  api/operator/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/backend/jetstream/stubs_test.go
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

feat: add proper categories for CRDs (#652)
  api/eventing/v1alpha2/subscription_types.go
  api/operator/v1alpha1/eventing_types.go
  config/crd/bases/eventing.kyma-project.io_subscriptions.yaml
  config/crd/bases/operator.kyma-project.io_eventings.yaml
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: replace prow build job waiting with github action (#639)
  .github/workflows/create-release.yml
  .github/workflows/e2e-upgrade-test-reusable.yaml
  .github/workflows/e2e.yml
  .github/workflows/pull-e2e-upgrade-test.yaml
  .github/workflows/pull-target-e2e.yml
  .github/workflows/push-e2e-upgrade-test.yaml
Due: pull-eventing-manager-build

chore: bump dependencies (#616)
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

remove prow reference (#644)
  docs/contributor/testing.md
Due: none

Bump EPP version to 1.1.1
  config/manager/manager.yaml
Due: pull-eventing-manager-build

Bump EPP version to 1.1.1 (#657)
  config/manager/manager.yaml
Due: pull-eventing-manager-build

Bump EPP version to 1.1.1 (#657) (#658)
  config/manager/manager.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-10-10-06-50-37
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2024-10-10-06-50-37
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

chore: bump sec-scanners-config and kustomization on release-1.2 (#659)
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2024-10-10-07-03-45
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-10-10-07-03-45
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-10-10-07-22-05
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-10-10-07-22-05 (#662)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2024-10-10-09-41-56
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-10-10-09-41-56
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Update kustomization.yaml
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

Update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-10-10-09-47-10
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2024-10-10-09-47-10
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

Revert kustomization.yaml
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

Revert sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-10-10-10-02-48
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2024-10-10-10-02-48
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

remove a broken link
  README.md
Due: none

bump dependencies
  Dockerfile
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/eventing/subscription/validator/mocks/SubscriptionValidator.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build
