Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

pull-eventing-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pull-eventing-manager-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-manager-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

post-eventing-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-eventing-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

bump base image
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

bump golang version
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump all deps and regenerate all files
  api/operator/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/eventing/subscription/eventmesh/reconciler.go
  internal/controller/eventing/subscription/jetstream/reconciler.go
  internal/controller/eventing/subscription/validator/mocks/SubscriptionValidator.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump sec-scanners-config.yaml to release 1.3.0
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Update create-release.yml
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2025-07-14-22-43-30
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2025-07-14-22-43-30
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

chore:Bump sec-scanners-config and kustomization on release-1.3 (#784)
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2025-07-14-22-52-26
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2025-07-14-22-52-26 (#785)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2025-07-17-18-13-48
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2025-07-17-18-13-48
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Bump sec-scanners-config and kustomization on release-1.3 (#787)
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2025-07-17-20-46-19
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2025-07-17-20-46-19 (#788)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2025-07-17-20-58-12
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2025-07-17-20-58-12
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

bump version to 1.3.2
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2025-07-17-21-54-25
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2025-07-17-21-54-25 (#790)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Update packages to fix sec issues
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump nats-server to v2.11.6
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump sec-scanners-config and kustomization file
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

ran go mod tidy and go mod vendor
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: nats server bump to v2.11.6 (#793)
  config/manager/kustomization.yaml
  go.mod
  go.sum
  sec-scanners-config.yaml
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

auto-bump sec-scanners-config: 2025-08-01-20-47-04
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2025-08-01-20-47-04 (#794)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

bump version to 1.3.4 to fix module-manifest typo
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2025-08-08-16-50-35
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2025-08-08-16-50-35 (#798)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

fix lint and mockery gen
  .golangci.yaml
  internal/controller/eventing/subscription/eventmesh/reconciler.go
  internal/controller/eventing/subscription/eventmesh/reconciler_internal_integration_test.go
  internal/controller/eventing/subscription/eventmesh/test/assertions.go
  internal/controller/eventing/subscription/eventmesh/test/reconciler_integration_test.go
  internal/controller/eventing/subscription/eventmesh/test/utils.go
  internal/controller/operator/eventing/controller.go
  pkg/backend/jetstream/types.go
  pkg/object/apirule.go
  pkg/object/authorization_policy.go
  pkg/object/object.go
  testing/matchers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump up docker image version for image build
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

bumped go to 1.25
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bumped golangci-lint version to 2.4
  .github/workflows/lint-go.yml
  Makefile
Due: pull-eventing-manager-build

disabled embeddedstructfieldcheck, noinlineerr, wsl_v5 linter
  .golangci.yaml
Due: pull-eventing-manager-build

added noctx to disabled linter
  .golangci.yaml
Due: pull-eventing-manager-build

bumped controller_tools_version to 0.19.0
  Makefile
Due: pull-eventing-manager-build

debug-gh-vars
  .github/workflows/debug-env-vars.yml
Due: pull-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
