Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

pull-eventing-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pull-eventing-manager-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-manager-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

post-eventing-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-eventing-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

fips140: event mesh backend only e2e wf
  .github/workflows/e2e-backend-event-mesh-only.yml
Due: pull-eventing-manager-build

pull target - invoke e2e event mesh only wf
  .github/workflows/pull-target-e2e-em-only.yml
Due: pull-eventing-manager-build

adjust ts sidebar
  docs/user/_sidebar.ts
Due: none

align with HP docs
  docs/user/README.md
  docs/user/evnt-event-names.md
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
  docs/user/troubleshooting/evnt-02-subscriber-irrelevant-events.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
Due: none

chore: fips140 - event mesh backend only e2e wf (#856)
  .github/workflows/e2e-backend-event-mesh-only.yml
  .github/workflows/pull-target-e2e-em-only.yml
Due: pull-eventing-manager-build

Update docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
Due: none

update diagram
  docs/assets/manager-arch.png
Due: none

docs: fix links in sidebar
  docs/user/_sidebar.ts
Due: none

Delete docs/user/_sidebar.md
  docs/user/_sidebar.md
Due: none

docs: fix links in sidebar (#859)
  docs/user/_sidebar.md
  docs/user/_sidebar.ts
Due: none

remove wrong architecture diagram
  docs/assets/manager-arch.png
Due: none

Update CODEOWNERS for the /docs/ directory
  CODEOWNERS
Due: pull-eventing-manager-build

docs: update CODEOWNERS and paths in the sidebar
  docs/user/_sidebar.ts
Due: none

Update CODEOWNERS for documentation and markdown files
  CODEOWNERS
Due: pull-eventing-manager-build

docs: update CODEOWNERS and paths in the sidebar (#861)
  CODEOWNERS
  docs/user/_sidebar.ts
Due: pull-eventing-manager-build

docs: fix link to inline Function tutorial
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
Due: none

Fix link to inline Function tutorial
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
Due: none

docs: fix link to inline Function tutorial (#862)
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
Due: none

disable fips by default. test event mesh with fips enabled
  .github/workflows/e2e-backend-event-mesh-only.yml
  .github/workflows/e2e-event-mesh-only-backend.yml
  .github/workflows/pull-target-e2e.yml
  Dockerfile
  Makefile
Due: pull-eventing-manager-build, post-eventing-manager-build

align with HP docs (#858)
  docs/user/README.md
  docs/user/evnt-event-names.md
  docs/user/troubleshooting/evnt-01-eventing-troubleshooting.md
  docs/user/troubleshooting/evnt-02-subscriber-irrelevant-events.md
  docs/user/tutorials/evnt-02-subs-with-multiple-filters.md
  docs/user/tutorials/evnt-04-change-max-in-flight-in-sub.md
Due: none

docs: replace a relative link with a full path
  docs/user/troubleshooting/evnt-02-subscriber-irrelevant-events.md
Due: none

bump sec scanner version (#876)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2026-01-28-14-26-41
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2026-01-28-14-26-41
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2026-01-28-15-33-26
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2026-01-28-15-33-26 (#878)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

ref publisher proxy 1.1.2
  config/manager/manager.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

ref publisher proxy 1.1.2 (#879)
  config/manager/manager.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

chore: update sec-scanners-config.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2026-02-02-14-46-50
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2026-02-02-14-46-50
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2026-02-02-14-53-46
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2026-02-02-14-53-46
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

chore: bump sec-scanners-config and kustomization on release-1.5 (#880)
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

pull new sha from branch to include sec-scan PR merge and have the new code when creating the git tag
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

pull new sha from branch to include sec-scan PR merge and have the new code when creating the git tag (#881)
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

pull new sha from branch to include sec-scan PR merge and have the new code when creating the git tag (#881) (#882)
  .github/workflows/create-release.yml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2026-02-03-12-27-20
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2026-02-03-12-27-20
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

Bump sec-scanners-config and kustomization on release-1.5 (#883)
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
