Repository kyma-project/eventing-manager: changes, and which Prow jobs are due for each by the changed paths.
All: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

pull-eventing-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/image-builder:v20230313-8dfce5f0b
  ...

pull-eventing-manager-unit-test:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-eventing-manager-unit-test
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: europe-docker.pkg.dev/kyma-project/prod/testimages/buildpack-go:v20230728-90a0fc69
      securityContext:
  ...

post-eventing-manager-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: post-eventing-manager-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-kyma-push-images: 'true'
    preset-signify-prod-secret: 'true'
  decorate: true
  spec:
    containers:
  ...

Update CONTRIBUTING.md (#626)
  CONTRIBUTING.md
Due: none

chore: deprecate kyma provision gardener (#572)
  hack/ci/Makefile
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

fixed gardener provisioning make target to use correct env (#585)
  hack/ci/Makefile
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

Added github action for K8s version compatibility check (#583)
  .github/workflows/k8s-compatibility-test.yml
  hack/ci/Makefile
Due: pull-eventing-manager-build

fixed k8s compatibility check job to use provided k8s version (#584)
  .github/workflows/k8s-compatibility-test.yml
Due: pull-eventing-manager-build

fix: unify CR description in Kyma dashboard (#578)
  config/ui-extensions/eventing/general
Due: pull-eventing-manager-build

Upgrade modules for DependaBot PRs (#596)
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: bump dependencies (#590)
  api/operator/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  internal/connection/nats/mocks/connection.go
  internal/controller/eventing/subscription/eventmesh/reconciler.go
  internal/controller/eventing/subscription/jetstream/reconciler.go
  internal/controller/eventing/subscription/validator/mocks/SubscriptionValidator.go
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/controller_test.go
  internal/controller/operator/eventing/mocks/controller.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

docs: improve the troubleshooting guide for Eventing (#569)
  docs/user/troubleshooting/evnt-05-fix-pending-messages.md
Due: none

fix: Gardener kubeconfig merging flags (#575)
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

fix: change NATS CR wait for Warning status (#576)
  .github/workflows/e2e-backend-switching-reuseable.yml
  hack/ci/Makefile
Due: pull-eventing-manager-build

Fix typo in Gardener provisioning (#574)
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

Change enable and disable to add and delete in the eventing repo (#601)
  docs/user/01-manager.md
Due: none

chore: fix k8s compatibility test (#599)
  .github/workflows/k8s-compatibility-test.yml
  hack/ci/Makefile
  scripts/gardener/aws/provision.sh
Due: pull-eventing-manager-build

Update link to default CR for NATS (#615)
  docs/user/02-configuration.md
Due: none

deps: update build image (#606)
  Dockerfile
  go.mod
  go.sum
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

bump go version (#608)
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

chore: bump dependencies (#614)
  .gitignore
  .golangci.yaml
  Makefile
  config/crd/bases/eventing.kyma-project.io_subscriptions.yaml
  config/crd/bases/operator.kyma-project.io_eventings.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/ci/Makefile
  internal/connection/nats/mocks/builder.go
  internal/connection/nats/mocks/connection.go
  internal/controller/eventing/subscription/eventmesh/reconciler.go
  internal/controller/eventing/subscription/jetstream/reconciler.go
  internal/controller/eventing/subscription/validator/mocks/SubscriptionValidator.go
  internal/controller/operator/eventing/controller.go
  internal/controller/operator/eventing/integrationtests/natsconnection/integration_test.go
  internal/controller/operator/eventing/mocks/controller.go
  internal/controller/operator/eventing/mocks/manager.go
  internal/controller/operator/eventing/mocks/nats_config_handler.go
  internal/controller/operator/eventing/mocks/typed_controller.go
  pkg/backend/jetstream/mocks/Backend.go
  pkg/backend/jetstream/mocks/JetStreamContext.go
  pkg/ems/api/events/client/mocks/PublisherManager.go
  pkg/eventing/mocks/manager.go
  pkg/k8s/mocks/client.go
  pkg/subscriptionmanager/manager/mocks/manager.go
  pkg/subscriptionmanager/mocks/manager_factory.go
  pkg/watcher/mocks/watcher.go
  scripts/gardener/aws/provision.sh
  test/utils/integration/integration.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Bump EPP new version
  config/manager/manager.yaml
Due: pull-eventing-manager-build

chore: update epp version to 1.1.0 in eventing-manager config
  config/manager/manager.yaml
Due: pull-eventing-manager-build

chore: update epp version to 1.1.0 in eventing-manager config (#627)
  config/manager/manager.yaml
Due: pull-eventing-manager-build

auto-bump kustomization file: 2024-09-05-07-36-14
  config/manager/kustomization.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-09-05-07-36-14
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

chore: bump sec-scanners-config and kustomization on release-1.2 (#629)
  config/manager/kustomization.yaml
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-09-05-08-11-49
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

auto-bump sec-scanners-config: 2024-09-05-08-11-49 (#630)
  sec-scanners-config.yaml
Due: pull-eventing-manager-build

chore: bump dependencies (#616)
  Dockerfile
  go.mod
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

upgrade golangci-lint version to v1.60.3
  .github/workflows/lint-go.yml
Due: pull-eventing-manager-build

added github action based build jobs
  .github/workflows/pull-build-image.yaml
  .github/workflows/push-build-image.yaml
  .github/workflows/tag-build-image.yaml
  Dockerfile
Due: pull-eventing-manager-build, post-eventing-manager-build

bump golint version
  Makefile
Due: pull-eventing-manager-build

bump golint version
  .github/workflows/lint-go.yml
Due: pull-eventing-manager-build

fix lint issues
  .golangci.yaml
Due: pull-eventing-manager-build

updated
  .golangci.yaml
  hack/e2e/common/fixtures/fixtures.go
  internal/controller/eventing/subscription/jetstream/reconciler.go
  test/utils/utils.go
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

updated
  .golangci.yaml
  internal/controller/eventing/subscription/jetstream/reconciler.go
  internal/controller/operator/eventing/integrationtests/validation/integration_test.go
  pkg/ems/api/events/client/client.go
  pkg/eventing/utils.go
  pkg/tracing/tracing.go
  pkg/tracing/tracing_test.go
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

updated
  internal/controller/eventing/subscription/jetstream/reconciler.go
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

updated
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

fix: bump golint version to fix failing job (#638)
  .github/workflows/lint-go.yml
  .golangci.yaml
  Makefile
  hack/e2e/common/fixtures/fixtures.go
  internal/controller/eventing/subscription/jetstream/reconciler.go
  internal/controller/operator/eventing/integrationtests/validation/integration_test.go
  pkg/ems/api/events/client/client.go
  pkg/eventing/utils.go
  pkg/tracing/tracing.go
  pkg/tracing/tracing_test.go
  test/utils/utils.go
  testing/test_helpers.go
Due: pull-eventing-manager-build, pull-eventing-manager-unit-test, post-eventing-manager-build

Path conditions:
  pull-eventing-manager-build: (any of: ^Dockerfile|\.go$|^go.(sum|mod)) or (unless all of: ^docs/|\.(md|adoc)$|^(README|LICENSE)$)
  pull-eventing-manager-unit-test: any of: \.go$|^go.(sum|mod)
  post-eventing-manager-build: any of: ^Dockerfile|\.go$|^go.(sum|mod)
