Repository kyma-project/runtime-watcher: changes, and which Prow jobs are due for each by the changed paths.
All: pull-lint-skr, pull-tests-skr, pull-lint-kcp, pull-tests-kcp, pull-lint-listener, pull-tests-listener, pull-build-kcp, pull-build-skr

pull-lint-skr:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-lint-skr
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20220830-7bf905118
      securityContext:
        privileged: true
  ...

pull-tests-skr:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-tests-skr
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-lint-kcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-lint-kcp
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20220830-7bf905118
      securityContext:
        privileged: true
  ...

pull-tests-kcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-tests-kcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-lint-listener:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-lint-listener
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20220830-7bf905118
      securityContext:
        privileged: true
  ...

pull-tests-listener:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-tests-listener
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-build-kcp:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-build-kcp
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220926-52bb5a7f0
      command:
  ...

pull-build-skr:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-build-skr
    prow.k8s.io/pubsub.topic: prowjobs
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/sap-kyma-neighbors-dev/kaniko-build:v20220926-52bb5a7f0
      command:
  ...

Enhacne HandleSKREvent by passing an already parsed Watcher event to verify
  listener/pkg/event/skr_events_listener.go
  listener/pkg/event/watcher_event.go
  listener/pkg/event/watcher_event_test.go
Due: pull-lint-listener, pull-tests-listener

Introduce request limit
  listener/pkg/event/watcher_event.go
Due: pull-lint-listener, pull-tests-listener

Fix bugs
  listener/example/main.go
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
  listener/pkg/event/watcher_event.go
Due: pull-lint-listener, pull-tests-listener

revise E2E documentation
  listener/Dockerfile
  listener/example-mtls/kcp/gardener/cert_config/ca-config.json
  listener/example-mtls/kcp/gardener/cert_config/ca-csr.json
  listener/example-mtls/kcp/gardener/certificate.yaml
  listener/example-mtls/kcp/gardener/root-ca.sh
  listener/example-mtls/kcp/istio/istio-installation.sh
  listener/example-mtls/kcp/istio/istio-resources.yaml
  listener/example-mtls/kcp/listener/example-listener.yaml
  listener/example-mtls/kcp/listener/httpbin.yaml
  listener/example-mtls/kcp/listener/main.go
  listener/example-mtls/setup.md
  listener/example-mtls/skr/crd.yaml
  listener/example-mtls/skr/main.go
  listener/example-mtls/skr/watched_resource.yaml
  listener/example/listener-mTLS-setup.md
  listener/example/resources/gardener/certificate.yaml
  listener/example/resources/gardener/istio-operator.sh
  listener/example/resources/kcp/k3d-secret-gen.sh
  listener/example/resources/kcp/watcher_kcp.yaml
Due: pull-lint-listener, pull-tests-listener

fix lint issues
  listener/example-mtls/skr/main.go
Due: pull-lint-listener, pull-tests-listener

minot docu changes
  listener/example-mtls/setup.md
Due: none

Watcher mTLS connection E2E setup example (#79)
  .gitignore
  listener/Dockerfile
  listener/Makefile
  listener/example-mtls/kcp/gardener/cert_config/ca-config.json
  listener/example-mtls/kcp/gardener/cert_config/ca-csr.json
  listener/example-mtls/kcp/gardener/certificate.yaml
  listener/example-mtls/kcp/gardener/root-ca.sh
  listener/example-mtls/kcp/istio/istio-installation.sh
  listener/example-mtls/kcp/istio/istio-resources.yaml
  listener/example-mtls/kcp/listener/example-listener.yaml
  listener/example-mtls/kcp/listener/httpbin.yaml
  listener/example-mtls/kcp/listener/main.go
  listener/example-mtls/setup.md
  listener/example-mtls/skr/crd.yaml
  listener/example-mtls/skr/main.go
  listener/example-mtls/skr/watched_resource.yaml
  listener/example/resources/kcp/watchable_resource_skr.yaml
  listener/example/resources/kcp/watcher_kcp.yaml
  listener/go.mod
  listener/go.sum
Due: pull-lint-listener, pull-tests-listener

Enhance handle SKR Event (#91)
  listener/example-mtls/kcp/listener/main.go
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
  listener/pkg/event/watcher_event.go
  listener/pkg/event/watcher_event_test.go
Due: pull-lint-listener, pull-tests-listener

Read Certs also if TLSCallback is true
  skr/main.go
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

Read Certs also if TLSCallback is true (#94)
  skr/main.go
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

Adapt to recent klm changes, use ownedby annotation instead of label
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
  skr/internal/handler_test.go
  skr/internal/handler_util_test.go
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

Fix linting
  skr/internal/handler_test.go
  skr/internal/handler_util_test.go
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

update dependencies to fxi linter
  skr/go.mod
  skr/go.sum
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

update dependencies to fix linter
  skr/go.mod
  skr/go.sum
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

Update go lint ci
  skr/Makefile
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

Disable musttag
  skr/.golangci.yaml
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

Adapt to recent KLM changes, use `ownedBy` annotation instead of label (#95)
  skr/.golangci.yaml
  skr/Makefile
  skr/go.mod
  skr/go.sum
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
  skr/internal/handler_test.go
  skr/internal/handler_util_test.go
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

Adapt to recent KLM changes, use `ownedBy` annotation instead of label (#95)
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
  listener/pkg/event/test_resources/large_size.json
  listener/pkg/event/test_resources/small_size.json
  skr/.golangci.yaml
  skr/Makefile
  skr/go.mod
  skr/go.sum
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
  skr/internal/handler_test.go
  skr/internal/handler_util_test.go
Due: pull-lint-skr, pull-tests-skr, pull-lint-listener, pull-tests-listener, pull-build-skr

skr-event-listener: Add Request Size Limiting Middleware
  listener/pkg/event/http_test.go
Due: pull-lint-listener, pull-tests-listener

skr-event-listener: Fix Linter Issues
  listener/.golangci.yaml
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
  listener/pkg/event/watcher_event_test.go
Due: pull-lint-listener, pull-tests-listener

skr-event-listener: Fix Linter Issues
  listener/pkg/event/watcher_event_test.go
Due: pull-lint-listener, pull-tests-listener

fix listener tests race conditions
  listener/.golangci.yaml
  listener/Makefile
  listener/example-mtls/kcp/listener/main.go
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
  listener/pkg/event/watcher_event_test.go
Due: pull-lint-listener, pull-tests-listener

skr-event-listener: Refactor Middleware
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
Due: pull-lint-listener, pull-tests-listener

implement review comments
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
Due: pull-lint-listener, pull-tests-listener

Fix listener tests race conditions (#98)
  listener/.golangci.yaml
  listener/Makefile
  listener/example-mtls/kcp/listener/main.go
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
  listener/pkg/event/watcher_event_test.go
Due: pull-lint-listener, pull-tests-listener

Adapt to recent KLM changes, use `ownedBy` annotation instead of label (#95)
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
Due: pull-lint-listener, pull-tests-listener

skr-event-listener: Fix Linter Issues
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
Due: pull-lint-listener, pull-tests-listener

skr-event-listener: Add Request Size Limiting Middleware (#97)
  listener/.golangci.yaml
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
  listener/pkg/event/test_resources/large_size.json
  listener/pkg/event/test_resources/small_size.json
Due: pull-lint-listener, pull-tests-listener

rm duplicate request size limiter
  listener/pkg/event/watcher_event.go
Due: pull-lint-listener, pull-tests-listener

rm duplicate const
  listener/pkg/event/watcher_event.go
Due: pull-lint-listener, pull-tests-listener

Remove duplicate request size limiter (#99)
  listener/pkg/event/watcher_event.go
Due: pull-lint-listener, pull-tests-listener

extend spec filtering to k8s resources without spec field
  skr/internal/handler.go
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

Enable musttag. Use config from lm. Sort imports.
  listener/.golangci.yaml
  listener/Makefile
  listener/example-mtls/kcp/listener/main.go
  listener/example-mtls/skr/main.go
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
  listener/pkg/event/watcher_event.go
  listener/pkg/event/watcher_event_test.go
  skr/.golangci.yaml
  skr/Makefile
Due: pull-lint-skr, pull-tests-skr, pull-lint-listener, pull-tests-listener, pull-build-skr

Sort imports skr
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
  skr/internal/handler_test.go
  skr/internal/handler_util_test.go
  skr/main.go
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

newline
  listener/Makefile
  skr/Makefile
Due: pull-lint-skr, pull-tests-skr, pull-lint-listener, pull-tests-listener, pull-build-skr

fix failing tests
  listener/pkg/event/watcher_event.go
  skr/internal/handler.go
  skr/internal/handler_test.go
  skr/internal/handler_util_test.go
Due: pull-lint-skr, pull-tests-skr, pull-lint-listener, pull-tests-listener, pull-build-skr

fix linting
  skr/internal/handler_util_test.go
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

Path conditions:
  pull-lint-skr: any of: ^skr/(go.mod|go.sum)$|^skr/*/(.*.go|Makefile|.*.sh)
  pull-tests-skr: any of: ^skr/(go.mod|go.sum)$|^skr/*/(.*.go|Makefile|.*.sh)
  pull-lint-kcp: any of: ^kcp/(go.mod|go.sum)$|^kcp/*/(.*.go|Makefile|.*.sh)
  pull-tests-kcp: any of: ^kcp/(go.mod|go.sum)$|^kcp/*/(.*.go|Makefile|.*.sh)
  pull-lint-listener: any of: ^listener/(go.mod|go.sum)$|^listener/*/(.*.go|Makefile|.*.sh)
  pull-tests-listener: any of: ^listener/(go.mod|go.sum)$|^listener/*/(.*.go|Makefile|.*.sh)
  pull-build-kcp: any of: ^kcp/
  pull-build-skr: any of: ^skr/
