Repository kyma-project/runtime-watcher: changes, and which Prow jobs are due for each by the changed paths.
All: pull-lint-skr, pull-tests-skr, pull-lint-listener, pull-tests-listener, pull-build-skr, pre-runtime-watcher-validate-inrepo-prow-configs, pull-runtime-watcher-pjconfigtest, pull-runtime-watcher-pjtester, pull-runtime-watcher-vpathguard

Path conditions:
  pull-lint-skr: any of: ^skr/(go.mod|go.sum)$|^skr/*/(.*.go|Makefile|.*.sh)
  pull-tests-skr: any of: ^skr/(go.mod|go.sum)$|^skr/*/(.*.go|Makefile|.*.sh)
  pull-lint-listener: any of: ^listener/(go.mod|go.sum)$|^listener/*/(.*.go|Makefile|.*.sh)
  pull-tests-listener: any of: ^listener/(go.mod|go.sum)$|^listener/*/(.*.go|Makefile|.*.sh)
  pull-build-skr: any of: ^skr/
  pre-runtime-watcher-validate-inrepo-prow-configs: any of: (^.prow/.*.yaml|^.prow.yaml)
  pull-runtime-watcher-pjconfigtest: any of: ^.prow/|^.prow.yaml
  pull-runtime-watcher-pjtester: any of: ^(vpath/pjtester.yaml)
  pull-runtime-watcher-vpathguard: any of: ^(vpath/pjtester.yaml)

Enable musttag linter (#102)
  listener/.golangci.yaml
  listener/Makefile
  listener/example-mtls/kcp/listener/main.go
  listener/example-mtls/skr/main.go
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
  listener/pkg/event/watcher_event.go
  listener/pkg/event/watcher_event_test.go
  skr/.golangci.yaml
  skr/Makefile
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
  skr/internal/handler_test.go
  skr/internal/handler_util_test.go
  skr/main.go
Due: pull-lint-skr, pull-tests-skr, pull-lint-listener, pull-tests-listener, pull-build-skr

Extend spec filtering to k8s resources without spec field (#101)
  listener/pkg/event/watcher_event.go
  skr/internal/handler.go
  skr/internal/handler_test.go
  skr/internal/handler_util_test.go
Due: pull-lint-skr, pull-tests-skr, pull-lint-listener, pull-tests-listener, pull-build-skr

fix owned-by bug
  listener/pkg/event/watcher_event.go
Due: pull-lint-listener, pull-tests-listener

Fix owned-by bug (#104)
  listener/pkg/event/watcher_event.go
Due: pull-lint-listener, pull-tests-listener

Update listener pkg in SKR watcher
  skr/go.mod
  skr/go.sum
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

Include Body in error msg
  listener/pkg/event/watcher_event.go
Due: pull-lint-listener, pull-tests-listener

Include Postbody in error msg
  skr/internal/handler.go
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

Update listener reference
  skr/go.mod
  skr/go.sum
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

Remove reading body for checking size
  listener/pkg/event/skr_events_listener.go
Due: pull-lint-listener, pull-tests-listener

include error log
  listener/pkg/event/skr_events_listener.go
Due: pull-lint-listener, pull-tests-listener

Fix MiddleWare Body Bug + Small improvements (#105)
  listener/pkg/event/skr_events_listener.go
  listener/pkg/event/watcher_event.go
  skr/go.mod
  skr/go.sum
  skr/internal/handler.go
Due: pull-lint-skr, pull-tests-skr, pull-lint-listener, pull-tests-listener, pull-build-skr

Include Postbody in log msg
  skr/internal/handler.go
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

Include Postbody in log msg (#107)
  skr/internal/handler.go
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

Remove kustomize, since not needed anymore
  skr/kustomize/base/deployment.yaml
  skr/kustomize/base/env/deploy-env-vars.env
  skr/kustomize/base/kustomization.yaml
  skr/kustomize/base/namespace.yaml
  skr/kustomize/base/rbac.yaml
  skr/kustomize/base/service.yaml
  skr/kustomize/base/webhook.yaml
  skr/kustomize/certs/Makefile
  skr/kustomize/certs/ca.json
  skr/kustomize/certs/cfssl-config.json
  skr/kustomize/certs/gen-webhook-secret.sh
  skr/kustomize/certs/skr-cluster.json
  skr/kustomize/overlays/test/deployment.yaml
  skr/kustomize/overlays/test/kustomization.yaml
  skr/kustomize/overlays/test/kustomizeconfig.yaml
  skr/kustomize/overlays/test/webhook.yaml
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

Remove SKR kustomize, since not needed anymore (#108)
  skr/kustomize/base/deployment.yaml
  skr/kustomize/base/env/deploy-env-vars.env
  skr/kustomize/base/kustomization.yaml
  skr/kustomize/base/namespace.yaml
  skr/kustomize/base/rbac.yaml
  skr/kustomize/base/service.yaml
  skr/kustomize/base/webhook.yaml
  skr/kustomize/certs/Makefile
  skr/kustomize/certs/ca.json
  skr/kustomize/certs/cfssl-config.json
  skr/kustomize/certs/gen-webhook-secret.sh
  skr/kustomize/certs/skr-cluster.json
  skr/kustomize/overlays/test/deployment.yaml
  skr/kustomize/overlays/test/kustomization.yaml
  skr/kustomize/overlays/test/kustomizeconfig.yaml
  skr/kustomize/overlays/test/webhook.yaml
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

add security scanner config file
  sec-scanners-config.yaml
Due: none

add new line to EOF
  sec-scanners-config.yaml
Due: none

Add Security Scanner Config File (#109)
  sec-scanners-config.yaml
Due: none

Update README.md, add architecture.md and a new diagram
  README.md
  docs/01-architecture.md
  docs/assets/runtime-watcher.svg
  docs/assets/runtime_watcher_architecture_simplified.svg
Due: none

WIP
  docs/01-architecture.md
Due: none

WIP
  README.md
Due: none

Add tws as codeowners
  CODEOWNERS
Due: none

Update codeowners
  CODEOWNERS
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

Add tws as codeowners (#111)
  CODEOWNERS
Due: none

Review handler code
  skr/Makefile
  skr/go.mod
  skr/go.sum
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
  skr/internal/handler_test.go
  skr/internal/handler_util_test.go
  skr/internal/serverconfig/config.go
  skr/internal/serverconfig/config_test.go
  skr/internal/validation.go
  skr/main.go
Due: pull-lint-skr, pull-tests-skr, pull-build-skr

WIP
  README.md
  docs/01-architecture.md
  docs/04-10-architecture.md
  docs/05-10-api.md
Due: none

WIP
  README.md
  docs/04-10-architecture.md
  docs/05-10-api.md
Due: none

WIP
  README.md
  docs/04-10-architecture.md
Due: none

Update README and architecture
  README.md
  docs/04-10-architecture.md
  docs/05-10-api.md
Due: none

Update api
  docs/05-10-api.md
Due: none

Apply Jeremy's review suggestions
  README.md
  docs/04-10-architecture.md
Due: none

Apply Jeremy's comments
  README.md
  docs/04-10-architecture.md
Due: none

Update architecture image, removed unneeded files, renamed runtime watcher repo, include more details in docs (not fully finished
  .gitignore
  README.md
  docs/04-10-architecture.md
  docs/assets/.$runtime_watcher_architecture_simplified.svg.bkp
  docs/assets/runtime_watcher_architecture_simplified.svg
  examples/connectivity-proxy-config-manifests.yaml
  listener/example-mtls/kcp/gardener/cert_config/ca-config.json
  listener/example-mtls/kcp/gardener/cert_config/ca-csr.json
  listener/example-mtls/kcp/gardener/certificate.yaml
  listener/example-mtls/kcp/gardener/root-ca.sh
  listener/example-mtls/kcp/istio/istio-installation.sh
  listener/example-mtls/kcp/istio/istio-resources.yaml
  listener/example-mtls/kcp/listener/example-listener.yaml
  listener/example-mtls/kcp/listener/httpbin.yaml
  listener/example-mtls/kcp/listener/main.go
  listener/example-mtls/setup.md
  listener/example-mtls/skr/crd.yaml
  listener/example-mtls/skr/main.go
  listener/example-mtls/skr/watched_resource.yaml
  runtime-watcher/.dockerignore
  runtime-watcher/.golangci.yaml
  runtime-watcher/Dockerfile
  runtime-watcher/Makefile
  runtime-watcher/admissionRequest/mock-request-reference-status.json
  runtime-watcher/admissionRequest/mock-request-reference.json
  runtime-watcher/go.mod
  runtime-watcher/go.sum
  runtime-watcher/internal/handler.go
  runtime-watcher/internal/handler_suite_test.go
  runtime-watcher/internal/handler_test.go
  runtime-watcher/internal/handler_util_test.go
  runtime-watcher/internal/request.go
  runtime-watcher/main.go
Due: pull-lint-listener, pull-tests-listener

Finished architecture doc
  docs/04-10-architecture.md
  docs/assets/.$runtime_watcher_architecture_simplified.svg.bkp
  docs/assets/runtime_watcher_architecture_simplified.svg
Due: none

small svg fix
  docs/assets/runtime_watcher_architecture_simplified.svg
Due: none

include reference to listener md
  docs/04-10-architecture.md
Due: none
