Repository kyma-project/runtime-watcher: changes, and which Prow jobs are due for each by the changed paths.
All: pull-skr-lint, pull-skr-tests, pull-kcp-lint, pull-kcp-tests, pull-listener-lint, pull-listener-tests, pull-kcp-build, pull-skr-build, main-kcp-build, main-skr-build

Path conditions:
  pull-skr-lint: any of: ^skr/(go.mod|go.sum)$|^skr/*/(.*.go|Makefile|.*.sh)
  pull-skr-tests: any of: ^skr/(go.mod|go.sum)$|^skr/*/(.*.go|Makefile|.*.sh)
  pull-kcp-lint: any of: ^kcp/(go.mod|go.sum)$|^kcp/*/(.*.go|Makefile|.*.sh)
  pull-kcp-tests: any of: ^kcp/(go.mod|go.sum)$|^kcp/*/(.*.go|Makefile|.*.sh)
  pull-listener-lint: any of: ^listener/(go.mod|go.sum)$|^listener/*/(.*.go|Makefile|.*.sh)
  pull-listener-tests: any of: ^listener/(go.mod|go.sum)$|^listener/*/(.*.go|Makefile|.*.sh)
  pull-kcp-build: any of: ^kcp/
  pull-skr-build: any of: ^skr/
  main-kcp-build: any of: ^kcp/
  main-skr-build: any of: ^skr/

add make target to write tls keys to secret generator config
  skr/kustomize/base/env/deploy-env-vars.env
  skr/kustomize/base/env/secret-keys.env
  skr/kustomize/certs/Makefile
  skr/kustomize/certs/skr-cluster.json
Due: pull-skr-build, main-skr-build

drop secret generator
  skr/kustomize/base/deployment.yaml
  skr/kustomize/base/env/deploy-env-vars.env
  skr/kustomize/base/env/secret-keys.env
  skr/kustomize/base/kustomization.yaml
  skr/kustomize/base/secret.yaml
  skr/kustomize/certs/Makefile
  skr/kustomize/certs/gen-webhook-secret.sh
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

remove generated secrets
  skr/kustomize/base/secret.yaml
Due: pull-skr-build, main-skr-build

ignore generated secret
  .gitignore
Due: none

refactor: skr-watcher helm chart - KCP IP address
  skr/Makefile
  skr/chart/skr-webhook/.helmignore
  skr/chart/skr-webhook/Chart.yaml
  skr/chart/skr-webhook/templates/deployment.yaml
  skr/chart/skr-webhook/templates/rbac.yaml
  skr/chart/skr-webhook/templates/secret.yaml
  skr/chart/skr-webhook/values.yaml
  skr/internal/handler.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

fix tests
  skr/internal/handler_suite_test.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

refactor: skr-watcher helm chart - KCP IP address (#81)
  skr/Makefile
  skr/chart/skr-webhook/.helmignore
  skr/chart/skr-webhook/Chart.yaml
  skr/chart/skr-webhook/templates/deployment.yaml
  skr/chart/skr-webhook/templates/rbac.yaml
  skr/chart/skr-webhook/templates/secret.yaml
  skr/chart/skr-webhook/values.yaml
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

add listener mTLS setup walkthrough docs
  listener/example/listener-mTLS-setup.md
Due: none

add docker build make target for sample listener
  kcp/Makefile
  kcp/go.mod
  kcp/go.sum
  listener/Makefile
  listener/example/listener-mTLS-setup.md
  listener/go.mod
  listener/go.sum
Due: pull-kcp-lint, pull-kcp-tests, pull-listener-lint, pull-listener-tests, pull-kcp-build, main-kcp-build

undo kcp changes
  kcp/Makefile
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

ran make lint
  listener/example/resources/skr/main.go
Due: pull-listener-lint, pull-listener-tests

fix test job
  listener/go.sum
Due: pull-listener-lint, pull-listener-tests

docs: improve watcher architecture diagram
  README.md
  docs/assets/runtime-watcher.svg
Due: none

docs: revise watcher architecture diagram (#83)
  README.md
  docs/assets/runtime-watcher.svg
Due: none

document sample-listener tests
  .gitignore
  listener/Dockerfile
  listener/Makefile
  listener/example/listener-mTLS-setup.md
Due: pull-listener-lint, pull-listener-tests

enhance error log
  skr/internal/handler.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

enhance error log (#84)
  skr/internal/handler.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

Enhance error log (#85)
  skr/internal/handler.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

Kustomize manifests for the SKR web-hook (#80)
  .gitignore
  skr/kustomize/base/deployment.yaml
  skr/kustomize/base/env/deploy-env-vars.env
  skr/kustomize/base/kustomization.yaml
  skr/kustomize/base/namespace.yaml
  skr/kustomize/base/rbac.yaml
  skr/kustomize/base/service.yaml
  skr/kustomize/base/webhook.yaml
  skr/kustomize/certs/Makefile
  skr/kustomize/certs/ca.json
  skr/kustomize/certs/cfssl-config.json
  skr/kustomize/certs/gen-webhook-secret.sh
  skr/kustomize/certs/skr-cluster.json
  skr/kustomize/overlays/test/deployment.yaml
  skr/kustomize/overlays/test/kustomization.yaml
  skr/kustomize/overlays/test/kustomizeconfig.yaml
  skr/kustomize/overlays/test/webhook.yaml
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

First very sketchy draft of Signing
  skr/internal/sign.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

Moved sign to own pkg
  skr/pkg/sign/sign.go
  skr/pkg/sign/verify.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

Refactored sign and verification
  skr/pkg/sign/rsa.go
  skr/pkg/sign/sign.go
  skr/pkg/sign/verify.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

Refactored sign and verification, plus include first unit tests
  skr/go.mod
  skr/go.sum
  skr/pkg/sign/digest.go
  skr/pkg/sign/digest_test.go
  skr/pkg/sign/rsa.go
  skr/pkg/sign/rsa_test.go
  skr/pkg/sign/sign.go
  skr/pkg/sign/verify.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

Fix sign rsa test
  skr/pkg/sign/rsa.go
  skr/pkg/sign/rsa_test.go
  skr/pkg/sign/sign.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

Rsa verify tests
  skr/pkg/sign/rsa.go
  skr/pkg/sign/rsa_test.go
  skr/pkg/sign/sign.go
  skr/pkg/sign/verify.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

Refactor: Sign a=incl. tests
  skr/go.mod
  skr/go.sum
  skr/pkg/signature/config.go
  skr/pkg/signature/digest.go
  skr/pkg/signature/digest_test.go
  skr/pkg/signature/keyManager.go
  skr/pkg/signature/rsa.go
  skr/pkg/signature/rsa_test.go
  skr/pkg/signature/sign.go
  skr/pkg/signature/sign_test.go
  skr/pkg/signature/verify.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

Adding verify tests incl. fix all found bugs
  skr/pkg/signature/config.go
  skr/pkg/signature/digest.go
  skr/pkg/signature/digest_test.go
  skr/pkg/signature/keyManager.go
  skr/pkg/signature/rsa_test.go
  skr/pkg/signature/sign_test.go
  skr/pkg/signature/verify_test.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

Fix linting
  skr/pkg/signature/config.go
  skr/pkg/signature/digest.go
  skr/pkg/signature/digest_test.go
  skr/pkg/signature/keyManager.go
  skr/pkg/signature/rsa.go
  skr/pkg/signature/rsa_test.go
  skr/pkg/signature/sign.go
  skr/pkg/signature/sign_test.go
  skr/pkg/signature/verify.go
  skr/pkg/signature/verify_test.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

added mssing change from last commit
  skr/pkg/signature/digest_test.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

Enhanced inline docu
  skr/pkg/signature/config.go
  skr/pkg/signature/digest.go
  skr/pkg/signature/keyManager.go
  skr/pkg/signature/rsa.go
  skr/pkg/signature/sign.go
  skr/pkg/signature/sign_test.go
  skr/pkg/signature/verify.go
  skr/pkg/signature/verify_test.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

Introduce verify function for listener
  listener/example/main.go
  listener/pkg/event/skr_events_listener.go
Due: pull-listener-lint, pull-listener-tests

Fix test
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
Due: pull-listener-lint, pull-listener-tests

INtroduce public verify func type
  listener/pkg/event/skr_events_listener.go
Due: pull-listener-lint, pull-listener-tests

Docs: Introduce public verify func type
  listener/pkg/event/skr_events_listener.go
Due: pull-listener-lint, pull-listener-tests

Introduce 'verify'-function for listener (#89)
  listener/example/main.go
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
Due: pull-listener-lint, pull-listener-tests

Change type of input parameter
  listener/pkg/event/skr_events_listener.go
Due: pull-listener-lint, pull-listener-tests
