Repository kyma-project/runtime-watcher: changes, and which Prow jobs are due for each by the changed paths.
All: pull-skr-lint, pull-skr-tests, pull-kcp-lint, pull-kcp-tests, pull-listener-lint, pull-listener-tests, pull-kcp-build, pull-skr-build, main-kcp-build, main-skr-build

pull-skr-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-skr-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20220804-607830f89
      securityContext:
        privileged: true
  ...

pull-skr-tests:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-skr-tests
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kcp-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-kcp-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20220804-607830f89
      securityContext:
        privileged: true
  ...

pull-kcp-tests:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-kcp-tests
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-listener-lint:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-listener-lint
    prow.k8s.io/pubsub.topic: prowjobs
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/golangci-lint:v20220804-607830f89
      securityContext:
        privileged: true
  ...

pull-listener-tests:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-listener-tests
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
    containers:
  ...

pull-kcp-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-kcp-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

pull-skr-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: pull-skr-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

main-kcp-build:
  labels:
    prow.k8s.io/pubsub.project: sap-kyma-prow
    prow.k8s.io/pubsub.runID: main-kcp-build
    prow.k8s.io/pubsub.topic: prowjobs
    preset-dind-enabled: 'true'
    preset-docker-push-repository-kyma: 'true'
    preset-kyma-kms-sign-key: 'true'
    preset-sa-gcr-push: 'true'
  decorate: true
  spec:
  ...

rm istio crds
  kcp/controllers/assets/istio.networking.crds.yaml
Due: pull-kcp-build, main-kcp-build

Implement new deploy concept for watcher control loop (#53)
  .gitignore
  kcp/Dockerfile
  kcp/Makefile
  kcp/api/v1alpha1/watcher_types.go
  kcp/api/v1alpha1/zz_generated.deepcopy.go
  kcp/config/crd/bases/operator.kyma-project.io_watchers.yaml
  kcp/config/manager/kustomization.yaml
  kcp/config/manager/manager.yaml
  kcp/config/rbac/role.yaml
  kcp/config/samples/component_v1alpha1_watcher_compass.yaml
  kcp/config/samples/component_v1alpha1_watcher_kyma.yaml
  kcp/controllers/suite_test.go
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_test.go
  kcp/go.mod
  kcp/go.sum
  kcp/pkg/deploy/assets/repositories.yaml
  kcp/pkg/deploy/assets/sample-chart/templates/secret.yaml
  kcp/pkg/deploy/assets/sample-chart/templates/webhook-config.yaml
  kcp/pkg/deploy/assets/sample-chart/templates/zz-variables.yaml
  kcp/pkg/deploy/assets/sample-chart/values.yaml
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
  kcp/pkg/util/watcher_util.go
  listener/go.mod
  listener/go.sum
  skr/chart/skr-webhook/templates/secret.yaml
  skr/chart/skr-webhook/values.yaml
Due: pull-kcp-lint, pull-kcp-tests, pull-listener-lint, pull-listener-tests, pull-kcp-build, pull-skr-build, main-kcp-build, main-skr-build

fix: kcp-watcher deploy fixes
  kcp/Dockerfile
  kcp/Makefile
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/util/watcher_util.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

fix: docker build
  kcp/Dockerfile
  kcp/Makefile
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

fix: kcp-watcher deploy fixes (#69)
  kcp/Dockerfile
  kcp/Makefile
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/util/watcher_util.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

refactor tests and implement chart removal
  kcp/controllers/assets/sample-chart/Chart.yaml
  kcp/controllers/assets/sample-chart/templates/secret.yaml
  kcp/controllers/assets/sample-chart/values.yaml
  kcp/controllers/suite_test.go
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_helper_test.go
  kcp/controllers/watcher_controller_test.go
  kcp/go.mod
  kcp/go.sum
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
  kcp/pkg/util/watcher_util.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

upgrade: dependencies and cleanup unused files
  examples/sample-Watcher-ConfigMap.yaml
  examples/sample-WatcherCR.yaml
  examples/sample-secret.yaml
  kcp/api/v1alpha1/watcher_types.go
  kcp/api/v1alpha1/zz_generated.deepcopy.go
  kcp/config/crd/bases/operator.kyma-project.io_watchers.yaml
  kcp/config/samples/component_v1alpha1_watcher_compass.yaml
  kcp/config/samples/component_v1alpha1_watcher_kyma.yaml
  kcp/controllers/watcher_controller_test.go
  kcp/go.mod
  kcp/go.sum
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/util/watcher_util.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

refactor deploy SKR webhook
  kcp/controllers/watcher_controller.go
  kcp/pkg/deploy/webhook_chart.go
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

upgrade: dependencies and cleanup unused files (#72)
  examples/sample-Watcher-ConfigMap.yaml
  examples/sample-WatcherCR.yaml
  examples/sample-secret.yaml
  kcp/api/v1alpha1/watcher_types.go
  kcp/api/v1alpha1/zz_generated.deepcopy.go
  kcp/config/crd/bases/operator.kyma-project.io_watchers.yaml
  kcp/config/samples/component_v1alpha1_watcher_compass.yaml
  kcp/config/samples/component_v1alpha1_watcher_kyma.yaml
  kcp/controllers/watcher_controller_test.go
  kcp/go.mod
  kcp/go.sum
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/util/watcher_util.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

adapt to new CR and new module library types
  kcp/controllers/watcher_controller_helper_test.go
  kcp/controllers/watcher_controller_test.go
  kcp/go.mod
  kcp/go.sum
  kcp/pkg/deploy/webhook_chart.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

E2E integration fixes - iteration 1
  kcp/pkg/util/watcher_util.go
  listener/example/Dockerfile
  listener/example/main.go
  listener/example/resources/deployment.yaml
  listener/example/resources/watchable_resource_skr.yaml
  listener/example/resources/watcher_kcp.yaml
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
  listener/pkg/event/watcher_event.go
  listener/pkg/event/watcher_event_test.go
  skr/chart/skr-webhook/templates/deployment.yaml
  skr/chart/skr-webhook/templates/secret.yaml
  skr/chart/skr-webhook/values.yaml
Due: pull-kcp-lint, pull-kcp-tests, pull-listener-lint, pull-listener-tests, pull-kcp-build, pull-skr-build, main-kcp-build, main-skr-build

fix lint issues and tests
  kcp/api/v1alpha1/watcher_types.go
  kcp/controllers/watcher_controller.go
  kcp/main.go
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
  listener/example/main.go
  listener/go.mod
  listener/go.sum
  listener/pkg/event/http_test.go
  listener/pkg/event/watcher_event_test.go
Due: pull-kcp-lint, pull-kcp-tests, pull-listener-lint, pull-listener-tests, pull-kcp-build, main-kcp-build

refactor istio resources reconciliation
  kcp/config/manager/istio-resources.yaml
  kcp/controllers/assets/istio-test-resources.yaml
  kcp/controllers/suite_test.go
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_helper_test.go
  kcp/controllers/watcher_controller_test.go
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
  kcp/pkg/resources/gateway.yaml
  kcp/pkg/util/watcher_util.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

feat: E2E integration fine tuning - iteration 1 (#73)
  kcp/api/v1alpha1/watcher_types.go
  kcp/config/default/manager_auth_proxy_patch.yaml
  kcp/config/manager/kustomization.yaml
  kcp/controllers/watcher_controller.go
  kcp/main.go
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
  kcp/pkg/util/watcher_util.go
  listener/Makefile
  listener/example/Dockerfile
  listener/example/main.go
  listener/example/resources/kcp/deployment.yaml
  listener/example/resources/kcp/watchable_resource_skr.yaml
  listener/example/resources/kcp/watcher_kcp.yaml
  listener/example/resources/skr/crd.yaml
  listener/example/resources/skr/watched_resource.yaml
  listener/go.mod
  listener/go.sum
  listener/pkg/event/http_test.go
  listener/pkg/event/skr_events_listener.go
  listener/pkg/event/watcher_event.go
  listener/pkg/event/watcher_event_test.go
  skr/chart/skr-webhook/templates/deployment.yaml
  skr/chart/skr-webhook/templates/secret.yaml
  skr/chart/skr-webhook/values.yaml
Due: pull-kcp-lint, pull-kcp-tests, pull-listener-lint, pull-listener-tests, pull-kcp-build, pull-skr-build, main-kcp-build, main-skr-build

fix failing tests and local cluster testing
  kcp/controllers/suite_test.go
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_helper_test.go
  kcp/controllers/watcher_controller_test.go
  kcp/main.go
  kcp/pkg/deploy/deploy_suite_test.go
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
  kcp/pkg/util/watcher_util.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

fix delete all test
  kcp/controllers/watcher_controller_helper_test.go
  kcp/controllers/watcher_controller_test.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

refactor config env vars to cmd flags
  kcp/controllers/suite_test.go
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_test.go
  kcp/main.go
  kcp/pkg/util/watcher_util.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

rm duplicate chart
  kcp/controllers/assets/sample-chart/Chart.yaml
  kcp/controllers/assets/sample-chart/templates/secret.yaml
  kcp/controllers/assets/sample-chart/values.yaml
  kcp/controllers/suite_test.go
  kcp/controllers/watcher_controller_helper_test.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

introduce custom istio client and remove util pkg
  kcp/api/v1alpha1/watcher_types.go
  kcp/controllers/suite_test.go
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_helper_test.go
  kcp/controllers/watcher_controller_test.go
  kcp/main.go
  kcp/pkg/custom/istio_client.go
  kcp/pkg/deploy/webhook_chart.go
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
  kcp/pkg/util/watcher_util.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

refactor deploy package
  kcp/controllers/watcher_controller_helper_test.go
  kcp/controllers/watcher_controller_test.go
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

fix lint issues
  kcp/controllers/suite_test.go
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_helper_test.go
  kcp/controllers/watcher_controller_test.go
  kcp/main.go
  kcp/pkg/custom/istio_client.go
  kcp/pkg/deploy/webhook_config.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

fix lint issue
  kcp/pkg/deploy/deploy_suite_test.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

refactor: README.md and other files
  CODEOWNERS
  NOTICE.md
  README.md
  skr/README.md
Due: pull-skr-build, main-skr-build

README image
  docs/README.md
  docs/assets/runtime-watcher.drawio.svg
  docs/assets/runtime-watcher.svg
Due: none

docs: README.md and other files (#77)
  CODEOWNERS
  NOTICE.md
  README.md
  docs/README.md
  docs/assets/runtime-watcher.drawio.svg
  docs/assets/runtime-watcher.svg
  skr/README.md
Due: pull-skr-build, main-skr-build

implement review comments I
  kcp/config/manager/istio-resources.yaml
  kcp/controllers/assets/istio-test-resources.yaml
  kcp/controllers/suite_test.go
  kcp/controllers/watcher_controller_test.go
  kcp/pkg/deploy/assets/sample-chart/Chart.yaml
  kcp/pkg/deploy/assets/sample-chart/templates/secret.yaml
  kcp/pkg/deploy/assets/sample-chart/values.yaml
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

make custom istio client more generic
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_test.go
  kcp/pkg/custom/istio_client.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

fix ready conditions management
  kcp/api/v1alpha1/watcher_types.go
  kcp/controllers/watcher_controller.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

fix error handling
  kcp/controllers/watcher_controller.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

fix lint issue
  kcp/pkg/deploy/webhook_config.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

move packages to internal pkg
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_test.go
  kcp/internal/custom/istio_client.go
  kcp/internal/deploy/deploy_suite_test.go
  kcp/internal/deploy/webhook_chart.go
  kcp/internal/deploy/webhook_config.go
  kcp/internal/deploy/webhook_config_test.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

fix error handling II
  kcp/controllers/watcher_controller.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

fix make build error
  kcp/Dockerfile
Due: pull-kcp-build, main-kcp-build

return previous non nil err when update status error is nil
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_helper_test.go
  kcp/controllers/watcher_controller_test.go
  kcp/internal/custom/istio_client.go
  kcp/internal/deploy/webhook_config_test.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

Refactor KCP watcher reconcile loop (#71)
  kcp/Dockerfile
  kcp/api/v1alpha1/watcher_types.go
  kcp/controllers/assets/istio-test-resources.yaml
  kcp/controllers/suite_test.go
  kcp/controllers/watcher_controller.go
  kcp/controllers/watcher_controller_helper_test.go
  kcp/controllers/watcher_controller_test.go
  kcp/go.mod
  kcp/go.sum
  kcp/internal/custom/istio_client.go
  kcp/internal/deploy/deploy_suite_test.go
  kcp/internal/deploy/webhook_chart.go
  kcp/internal/deploy/webhook_config.go
  kcp/internal/deploy/webhook_config_test.go
  kcp/main.go
  kcp/pkg/deploy/assets/sample-chart/Chart.yaml
  kcp/pkg/deploy/assets/sample-chart/templates/secret.yaml
  kcp/pkg/deploy/assets/sample-chart/values.yaml
  kcp/pkg/deploy/webhook_config.go
  kcp/pkg/deploy/webhook_config_test.go
  kcp/pkg/resources/gateway.yaml
  kcp/pkg/util/watcher_util.go
Due: pull-kcp-lint, pull-kcp-tests, pull-kcp-build, main-kcp-build

feat: enable tls enabled http client
  skr/cert_config/ca-config.json
  skr/cert_config/ca-csr.json
  skr/chart/skr-webhook/templates/deployment.yaml
  skr/chart/skr-webhook/values.yaml
  skr/internal/handler.go
  skr/internal/handler_test.go
  skr/internal/handler_util_test.go
  skr/main.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

fix secret cert generation
  skr/chart/skr-webhook/templates/deployment.yaml
  skr/chart/skr-webhook/templates/secret.yaml
  skr/chart/skr-webhook/values.yaml
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
  skr/internal/handler_util_test.go
  skr/main.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

feat: remove helm cert generator + https callback support (#78)
  skr/cert_config/ca-config.json
  skr/cert_config/ca-csr.json
  skr/chart/skr-webhook/templates/deployment.yaml
  skr/chart/skr-webhook/templates/secret.yaml
  skr/chart/skr-webhook/values.yaml
  skr/internal/handler.go
  skr/internal/handler_suite_test.go
  skr/internal/handler_test.go
  skr/internal/handler_util_test.go
  skr/main.go
Due: pull-skr-lint, pull-skr-tests, pull-skr-build, main-skr-build

feat: KCP <-> SKR TLS connection example resources
  listener/example/resources/gardener/cert_config/ca-config.json
  listener/example/resources/gardener/cert_config/ca-csr.json
  listener/example/resources/gardener/certificate.yaml
  listener/example/resources/gardener/istio-operator.sh
  listener/example/resources/gardener/istio-resources.yaml
  listener/example/resources/kcp/example-listener.yaml
  listener/example/resources/kcp/httpbin.yaml
  listener/example/resources/kcp/k3d-secret-gen.sh
  listener/example/resources/kcp/watchable_resource_skr.yaml
  listener/example/resources/skr/main.go
Due: pull-listener-lint, pull-listener-tests

create kustomize manifests for the skr webhook deployment and config
  .gitignore
  skr/kustomize/base/deployment.yaml
  skr/kustomize/base/env/deploy-env-vars.env
  skr/kustomize/base/env/secret-keys.env
  skr/kustomize/base/kustomization.yaml
  skr/kustomize/base/namespace.yaml
  skr/kustomize/base/rbac.yaml
  skr/kustomize/base/service.yaml
  skr/kustomize/base/webhook.yaml
  skr/kustomize/certs/Makefile
  skr/kustomize/certs/ca.json
  skr/kustomize/certs/cfssl-config.json
  skr/kustomize/certs/skr-cluster.json
  skr/kustomize/overlays/test/deployment.yaml
  skr/kustomize/overlays/test/kustomization.yaml
  skr/kustomize/overlays/test/kustomizeconfig.yaml
  skr/kustomize/overlays/test/webhook.yaml
Due: pull-skr-build, main-skr-build

Path conditions:
  pull-skr-lint: any of: ^skr/(go.mod|go.sum)$|^skr/*/(.*.go|Makefile|.*.sh)
  pull-skr-tests: any of: ^skr/(go.mod|go.sum)$|^skr/*/(.*.go|Makefile|.*.sh)
  pull-kcp-lint: any of: ^kcp/(go.mod|go.sum)$|^kcp/*/(.*.go|Makefile|.*.sh)
  pull-kcp-tests: any of: ^kcp/(go.mod|go.sum)$|^kcp/*/(.*.go|Makefile|.*.sh)
  pull-listener-lint: any of: ^listener/(go.mod|go.sum)$|^listener/*/(.*.go|Makefile|.*.sh)
  pull-listener-tests: any of: ^listener/(go.mod|go.sum)$|^listener/*/(.*.go|Makefile|.*.sh)
  pull-kcp-build: any of: ^kcp/
  pull-skr-build: any of: ^skr/
  main-kcp-build: any of: ^kcp/
  main-skr-build: any of: ^skr/
