Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Add a minor fix
  docs/monitoring/08-02-create-and-configure-grafana-dashboard.md
Due: post-master-kyma-docs-website, kyma-docs

Further changes due to assetstore
  components/compass-runtime-agent/Gopkg.lock
  components/compass-runtime-agent/cmd/init.go
  components/compass-runtime-agent/cmd/main.go
  components/compass-runtime-agent/cmd/options.go
  components/compass-runtime-agent/internal/certificates/mocks/Manager.go
  components/compass-runtime-agent/internal/compassconnection/mocks/CRManager.go
  components/compass-runtime-agent/internal/compassconnection/mocks/Supervisor.go
  components/compass-runtime-agent/internal/kyma/apiresources/assetstore/docstopic/model.go
  components/compass-runtime-agent/internal/kyma/apiresources/assetstore/docstopicrepository.go
  components/compass-runtime-agent/internal/kyma/apiresources/assetstore/docstopicrepository_test.go
  components/compass-runtime-agent/internal/kyma/apiresources/assetstore/mocks/Service.go
  components/compass-runtime-agent/internal/kyma/apiresources/assetstore/service.go
  components/compass-runtime-agent/internal/kyma/apiresources/assetstore/service_test.go
  components/compass-runtime-agent/internal/kyma/apiresources/mocks/Service.go
  components/compass-runtime-agent/internal/kyma/apiresources/service.go
  components/compass-runtime-agent/internal/kyma/apiresources/service_test.go
  components/compass-runtime-agent/internal/kyma/service.go
  components/compass-runtime-agent/internal/kyma/service_test.go
Due: console-integration

Add minor changes
  docs/monitoring/08-02-create-and-configure-grafana-dashboard.md
Due: post-master-kyma-docs-website, kyma-docs

Add even more fixes
  docs/monitoring/08-02-create-and-configure-grafana-dashboard.md
Due: post-master-kyma-docs-website, kyma-docs

Add a minor lg fix
  docs/monitoring/08-01-observe-application-metrics.md
Due: post-master-kyma-docs-website, kyma-docs

Fix test event handling for addonsconfigurations
  tests/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_test.go
Due: none

Add a tutorial on creating a simple Grafana dashboard (#5251)
  docs/monitoring/08-02-create-and-configure-grafana-dashboard.md
  docs/monitoring/assets/add-query.png
  docs/monitoring/assets/create-dashboard.png
  docs/monitoring/assets/edit-dashboard.png
  docs/monitoring/assets/gauge-dashboard-type.png
  docs/monitoring/assets/green-dashboard.png
  docs/monitoring/assets/instant.png
  docs/monitoring/assets/min-max-values.png
  docs/monitoring/assets/new-dashboard.png
  docs/monitoring/assets/panel-title.png
  docs/monitoring/assets/red-dashboard.png
  docs/monitoring/assets/save-dashboard.png
  docs/monitoring/assets/save-note.png
  docs/monitoring/assets/stats-and-metrics.png
  docs/monitoring/assets/temperature-celsius.png
  docs/monitoring/assets/threshold.png
  milv.config.yaml
Due: post-master-kyma-docs-website, kyma-docs

Add a minor lg fix (#5259)
  docs/monitoring/08-01-observe-application-metrics.md
Due: post-master-kyma-docs-website, kyma-docs

Merge catalog-ui, instances-ui, brokers-ui deployments
  resources/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/service-catalog-addons/charts/brokers-ui/templates/configmap.yaml
  resources/service-catalog-addons/charts/brokers-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/brokers-ui/templates/service.yaml
  resources/service-catalog-addons/charts/brokers-ui/values.yaml
  resources/service-catalog-addons/charts/catalog-ui/.helmignore
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/catalog-ui/templates/_helpers.tpl
  resources/service-catalog-addons/charts/catalog-ui/templates/configmap.yaml
  resources/service-catalog-addons/charts/catalog-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/catalog-ui/templates/destination-rule.yaml
  resources/service-catalog-addons/charts/catalog-ui/templates/service.yaml
  resources/service-catalog-addons/charts/catalog-ui/values.yaml
  resources/service-catalog-addons/charts/instances-ui/.helmignore
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/templates/_helpers.tpl
  resources/service-catalog-addons/charts/instances-ui/templates/destination-rule.yaml
  resources/service-catalog-addons/charts/instances-ui/templates/service.yaml
  resources/service-catalog-addons/charts/instances-ui/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/.helmignore
  resources/service-catalog-addons/charts/service-catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/_helpers.tpl
  resources/service-catalog-addons/charts/service-catalog-ui/templates/brokers-microfrontend.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/brokers-virtualservice.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/catalog-microfrontend.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/catalog-virtualservice.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/configmap.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/destination-rule.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/instances-microfrontend.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/instances-virtualservice.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/service.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix dropdowns
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix test event handling for addonsconfigurations (#5260)
  tests/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_test.go
Due: none

Prepare Kyma 1.4.0 release
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/compass-runtime-agent/values.yaml
  resources/compass/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/kiali/values.yaml
  resources/knative-build/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/xip-patch/values.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test

Change compass value
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add securityContext.runAsUser for installer certs job
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix remove repos api endpoint
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_service_test.go
Due: console-integration

Use pr image from prow
  resources/service-catalog-addons/charts/service-catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix remove repos api endpoint (#5265)
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_service_test.go
Due: console-integration

Fix problem in deployment.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump console backend service version
  resources/core/charts/console-backend-service/templates/cluster-role.yaml
  resources/core/charts/console-backend-service/templates/tests/rbac.yaml
  resources/core/values.yaml
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Minor fixes
  components/event-bus/Gopkg.lock
  components/event-bus/Gopkg.toml
  components/event-bus/poc/README.md
  components/event-bus/poc/event-bus-test.yaml
  components/event-bus/poc/event-bus.yaml
Due: console-integration

Test the EventBus publish and delivery before doing the upgrade
  tests/end-to-end/upgrade/pkg/tests/event-bus/event_bus.go
Due: none

Test the EventBus publish and delivery before doing the upgrade (#5267)
  tests/end-to-end/upgrade/pkg/tests/event-bus/event_bus.go
Due: none

refactor: Rename dependencies according to best practices
  tests/knative-serving/knative_serving_test.go
Due: none

refactor: Mark test helpers as helper functions
  tests/knative-serving/knative_serving_test.go
Due: none

refactor: Rephrase log messages
  tests/knative-serving/knative_serving_test.go
Due: none

Wait for cache invalidation
  tests/compass-runtime-agent/before-commit.sh
  tests/compass-runtime-agent/scripts/run_tests.sh
  tests/compass-runtime-agent/test/runtimeagent/suite.go
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_test.go
  tests/compass-runtime-agent/test/testkit/applications/api.go
  tests/compass-runtime-agent/test/testkit/applications/eventapi.go
  tests/compass-runtime-agent/test/testkit/assertions/k8s_resource_checker.go
  tests/compass-runtime-agent/test/testkit/compass/client.go
  tests/compass-runtime-agent/test/testkit/util/util.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

refactor: Document test variables
  tests/knative-serving/knative_serving_test.go
Due: none

refactor: Assign Service to variable for readability
  tests/knative-serving/knative_serving_test.go
Due: none

refactor: Pass object name only to delete func
  tests/knative-serving/knative_serving_test.go
Due: none

Import client-go GCP plugin
  tests/knative-serving/Gopkg.lock
  tests/knative-serving/knative_serving_test.go
Due: none

Update kubectl in Kyma components (#5226)
  components/dex-static-user-configurer/Dockerfile
  components/etcd-tls-setup-job/Dockerfile
  components/istio-kyma-patch/Dockerfile
  components/xip-patch/Dockerfile
  resources/application-connector-helper/values.yaml
  resources/backup-init/values.yaml
  resources/cluster-essentials/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/helm-broker/charts/etcd-stateful/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/service-catalog/charts/etcd-stateful/values.yaml
  resources/xip-patch/values.yaml
  tests/end-to-end/kubeless-integration/Dockerfile
  tests/integration/logging/Dockerfile
  tests/integration/monitoring/Dockerfile
  tests/kubeless/Dockerfile
  tests/test-namespace-controller/Dockerfile
  tools/load-test/Dockerfile
  tools/load-test/deploy/chart/load-test/templates/load-test.yaml
  tools/load-test/deploy/chart/load-test/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, kyma-tests-kubeless

Bump console backend service version (#5195)
  resources/core/charts/console-backend-service/templates/cluster-role.yaml
  resources/core/charts/console-backend-service/templates/tests/rbac.yaml
  resources/core/values.yaml
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Cleanup
  tests/compass-runtime-agent/test/testkit/compass/client.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Use PR image
  resources/compass-runtime-agent/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix name clash for virtualserviceses
  resources/service-catalog-addons/charts/service-catalog-ui/templates/brokers-virtualservice.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/catalog-virtualservice.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/instances-virtualservice.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix configmap reference
  resources/service-catalog-addons/charts/service-catalog-ui/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Deps updated
  components/compass-runtime-agent/Gopkg.lock
Due: console-integration

Bump Helm-Broker, introduce documentation enabled flag to the controller
  resources/helm-broker/templates/deploy.yaml
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade
