Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Commenting out helm broker tests
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

Add test for excluded paths (#4612)
  tests/api-controller-acceptance-tests/apicontroller/integration_test.go
Due: none

Test for excluded paths image bump
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Keeping the bundles as it is
  installation/scripts/e2e-testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Increased timeout for restore
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

Fixed
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

Add test for excluded paths image bump (#4613)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update codeowners
  CODEOWNERS
Due: none

Fix broken link
  components/application-broker/cmd/poc-finalizers/finalizers-findings.md
Due: console-integration

fix
  components/application-broker/cmd/poc-finalizers/finalizers-findings.md
Due: console-integration

Fix image path to match other
  resources/core/charts/console/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix: The prometheus-monitoring pod is restarting (#4633)
  docs/monitoring/05-03-prometheus.md
  resources/monitoring/charts/grafana/dashboards/application-registry-dashboard.json
  resources/monitoring/charts/grafana/dashboards/deployment-dashboard.json
  resources/monitoring/charts/grafana/dashboards/kubernetes-cluster-health-dashboard.json
  resources/monitoring/charts/grafana/dashboards/kubernetes-cluster-status-dashboard.json
  resources/monitoring/charts/grafana/dashboards/kubernetes-control-plane-status-dashboard.json
  resources/monitoring/charts/grafana/dashboards/kubernetes-resource-requests-dashboard.json
  resources/monitoring/charts/grafana/dashboards/logging.json
  resources/monitoring/charts/grafana/dashboards/pods-dashboard.json
  resources/monitoring/charts/grafana/dashboards/rest-service.json
  resources/monitoring/charts/grafana/dashboards/statefulset-dashboard.json
  resources/monitoring/charts/grafana/dashboards/velero.json
  resources/monitoring/charts/prometheus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix broken link (#4650)
  components/application-broker/cmd/poc-finalizers/finalizers-findings.md
Due: console-integration

Fix backup tests
  installation/scripts/e2e-testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Clean up
  tests/end-to-end/backup-restore-test/backupe2e/eventbus.go
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
Due: pre-master-kyma-backup-test

Remove unnecessary cleanup
  installation/scripts/e2e-testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Rename dex tests (#4615)
  CODEOWNERS
  resources/core/templates/tests/test-core-acceptance.yaml
  resources/core/values.yaml
  resources/dex/templates/tests/test-dex-connection.yaml
  resources/dex/templates/tests/test-dex-integration.yaml
  resources/dex/values.yaml
  tests/acceptance/Dockerfile
  tests/acceptance/entrypoint.sh
  tests/integration/dex/Dockerfile
  tests/integration/dex/Gopkg.lock
  tests/integration/dex/Gopkg.toml
  tests/integration/dex/Makefile
  tests/integration/dex/README.md
  tests/integration/dex/build.sh
  tests/integration/dex/dex/config.go
  tests/integration/dex/dex/dex_test.go
  tests/integration/dex/dex/idtokenprovider.go
  tests/integration/dex/entrypoint.sh
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex

Handled errors
  tests/end-to-end/backup-restore-test/backupe2e/eventbus.go
Due: none

Add config generator service as env
  resources/core/charts/cluster-users/templates/tests/test-cluster-users.yaml
  resources/core/values.yaml
  tests/cluster-users-test/sar-test.sh
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Remove version console bump
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix command order
  tests/cluster-users-test/sar-test.sh
Due: none

rename configurations-generator to iam-kubeconfig-service (#4600)
  CODEOWNERS
  docs/security/03-01-iam-kubeconfig-service.md
  installation/resources/installer-config-local.yaml.tpl
  milv.config.yaml
  resources/core/charts/apiserver-proxy/templates/tests/test-apiserver-proxy.yaml
  resources/core/charts/configurations-generator/Chart.yaml
  resources/core/charts/configurations-generator/values.yaml
  resources/core/charts/iam-kubeconfig-service/Chart.yaml
  resources/core/charts/iam-kubeconfig-service/README.md
  resources/core/charts/iam-kubeconfig-service/templates/deployment.yaml
  resources/core/charts/iam-kubeconfig-service/templates/service.yaml
  resources/core/charts/iam-kubeconfig-service/templates/virtual-service.yaml
  resources/core/charts/iam-kubeconfig-service/values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix backup tests
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/Chart.yaml
Due: pre-master-kyma-backup-test

Always perform namespace cleanup
  tests/api-controller-acceptance-tests/apicontroller/main_test.go
Due: none

Rebase
  resources/core/charts/cluster-users/templates/tests/test-cluster-users.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

remove configurations-generator
  components/configurations-generator/.gitignore
  components/configurations-generator/Dockerfile
  components/configurations-generator/Gopkg.lock
  components/configurations-generator/Gopkg.toml
  components/configurations-generator/Makefile
  components/configurations-generator/README.md
  components/configurations-generator/before-commit.sh
  components/configurations-generator/cmd/generator/main.go
  components/configurations-generator/doc.go
  components/configurations-generator/internal/authn/middleware.go
  components/configurations-generator/internal/authn/middleware_test.go
  components/configurations-generator/internal/authn/oidc.go
  components/configurations-generator/pkg/kube_config/endpoints.go
  components/configurations-generator/pkg/kube_config/endpoints_test.go
  components/configurations-generator/pkg/kube_config/kube_config.go
Due: console-integration

remove configurations-generator
  CODEOWNERS
Due: none

Change test to connect using ingress-gateway
  resources/core/charts/cluster-users/templates/tests/test-cluster-users.yaml
  tests/cluster-users-test/sar-test.sh
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Image bump
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Change test binding name
  tests/cluster-users-test/kyma-developer-binding.yaml
Due: none

Change test binding name
  tests/cluster-users-test/sar-test.sh
Due: none

Always perform namespace cleanup (#4656)
  resources/core/values.yaml
  tests/api-controller-acceptance-tests/apicontroller/main_test.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Enabled helm broker test
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/templates/test/test-backup.yaml
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: pre-master-kyma-backup-test

Increased the timeout for backup
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

Add compass to components list
  CODEOWNERS
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  installation/scripts/minikube.sh
  resources/compass/Chart.yaml
  resources/compass/charts/registry/.helmignore
  resources/compass/charts/registry/Chart.yaml
  resources/compass/charts/registry/templates/deployment.yaml
  resources/compass/charts/registry/templates/service.yaml
  resources/compass/charts/registry/values.yaml
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Move compass chart to Kyma
  resources/compass/.helmignore
  resources/compass/Chart.yaml
  resources/compass/charts/connector/.helmignore
  resources/compass/charts/connector/Chart.yaml
  resources/compass/charts/connector/templates/deployment.yaml
  resources/compass/charts/connector/templates/service.yaml
  resources/compass/charts/connector/values.yaml
  resources/compass/charts/director/.helmignore
  resources/compass/charts/director/Chart.yaml
  resources/compass/charts/director/templates/deployment.yaml
  resources/compass/charts/director/templates/service.yaml
  resources/compass/charts/director/values.yaml
  resources/compass/charts/gateway/.helmignore
  resources/compass/charts/gateway/Chart.yaml
  resources/compass/charts/gateway/templates/deployment.yaml
  resources/compass/charts/gateway/templates/gateway.yaml
  resources/compass/charts/gateway/templates/service.yaml
  resources/compass/charts/gateway/templates/virtualservice.yaml
  resources/compass/charts/gateway/values.yaml
  resources/compass/charts/healthchecker/.helmignore
  resources/compass/charts/healthchecker/Chart.yaml
  resources/compass/charts/healthchecker/templates/deployment.yaml
  resources/compass/charts/healthchecker/templates/service.yaml
  resources/compass/charts/healthchecker/values.yaml
  resources/compass/charts/registry/.helmignore
  resources/compass/charts/registry/Chart.yaml
  resources/compass/charts/registry/templates/deployment.yaml
  resources/compass/charts/registry/templates/service.yaml
  resources/compass/charts/registry/values.yaml
  resources/compass/templates/_helpers.tpl
  resources/compass/templates/test-compass-end-to-end.yaml
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Test with latest changes
  resources/logging/charts/log-ui/templates/deployment.yaml
  resources/logging/charts/log-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update kyma subscription
  components/event-bus/api/push/eventing.kyma-project.io/v1alpha1/types.go
  components/event-bus/test/util/crd.go
  components/event-service/internal/events/subscribed/events_test.go
  tests/gateway-tests/test/testkit/subscriptions_client.go
Due: console-integration

Add separate bindings
  tests/cluster-users-test/kyma-developer-binding.yaml
Due: none

Bump images (#4629)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
