Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-connector-service-tests, post-master-kyma-tests-connector-service-tests, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  post-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

review comments
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
  components/event-bus/internal/knative/util/kn-subscription-builder.go
Due: console-integration

Update reconcile_test.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
Due: console-integration

Delete Gopkg.lock
  tests/application-registry-tests/Gopkg.lock
Due: none

Reverted Gopkg.lock
  tests/application-registry-tests/Gopkg.lock
Due: none

Fix cbs
  components/console-backend-service/internal/domain/servicecatalogaddons/export_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/servicebinding_usage.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicebindingusage_converter.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicebindingusage_converter_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicebindingusage_resolver_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicebindingusage_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/usagekind_service.go
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Improve Event Bus docu
  docs/event-bus/02-01-event-bus.md
  docs/event-bus/assets/configure-consume-events.svg
Due: post-master-kyma-docs-website, kyma-docs

Disable Istio Gateway
  resources/compass/charts/gateway/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump image (#5610)
  resources/function-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Apply suggestions from code review
  resources/knative-serving/requirements.yaml
  tests/knative-serving/Gopkg.toml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Use official buildpack from master
  components/console-backend-service/Makefile
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Fix detached frame error, inclrease slowMo, increase test service creation timeout
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

example elastic search config with kyma logging and fluent-bit
  docs/logging/03-03-configure-logcollector.md
  docs/logging/05-01-logging.md
  resources/logging/templates/fluent-bit-plugin/fluent-bit-configmap.yaml
  resources/logging/templates/fluent-bit-plugin/fluent-bit-daemonset.yaml
  resources/logging/templates/fluent-bit-plugin/fluent-bit-role-binding.yaml
  resources/logging/templates/fluent-bit-plugin/fluent-bit-role.yaml
  resources/logging/templates/fluent-bit-plugin/fluent-bit-service-account.yaml
  resources/logging/templates/promtail/clusterrole.yaml
  resources/logging/templates/promtail/clusterrolebinding.yaml
  resources/logging/templates/promtail/configmap.yaml
  resources/logging/templates/promtail/daemonset.yaml
  resources/logging/templates/promtail/podsecuritypolicy.yaml
  resources/logging/templates/promtail/role.yaml
  resources/logging/templates/promtail/rolebinding.yaml
  resources/logging/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

changes based on review comments
  components/function-controller/pkg/webhook/default_server/webhook_suite_test.go
  resources/knative-serving/README.md
Due: kyma-integration, kyma-gke-integration, console-integration

Added logs
  components/event-bus/internal/knative/util/kn-eventing.go
Due: console-integration

Update chart
  resources/compass/charts/connector/templates/certs-setup-job.yaml
  resources/compass/charts/connector/templates/deployment.yaml
  resources/compass/charts/connector/templates/oathkeeper-rule.yaml
  resources/compass/charts/connector/templates/tests/test-connector.yaml
  resources/compass/charts/connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

switch compass to dbadura fix
  tests/compass-runtime-agent/Gopkg.lock
  tests/compass-runtime-agent/Gopkg.toml
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Update resources/knative-serving/README.md
  resources/knative-serving/README.md
Due: kyma-integration, kyma-gke-integration, console-integration

Bump console backend service version (#5588)
  components/console-backend-service/internal/domain/servicecatalogaddons/export_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/servicebinding_usage.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicebindingusage_converter.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicebindingusage_converter_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicebindingusage_resolver_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicebindingusage_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/usagekind_service.go
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update Application Broker Diagram
  docs/application-connector/assets/004-AB-architecture.svg
Due: post-master-kyma-docs-website, kyma-docs

improvements v2
  docs/event-bus/03-02-event-flow-requirements.md
Due: post-master-kyma-docs-website, kyma-docs

Improve Event Bus architecture (#5611)
  docs/event-bus/02-01-event-bus.md
  docs/event-bus/03-02-event-flow-requirements.md
  docs/event-bus/assets/configure-consume-events.svg
Due: post-master-kyma-docs-website, kyma-docs

Fix security context
  resources/compass/charts/connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add hostAliases
  resources/compass/charts/connector/templates/tests/test-connector.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

add missing yaml changes
  components/function-controller/config/default/manager_image_patch.yaml
  components/function-controller/config/manager/manager.yaml
Due: console-integration

update README
  components/function-controller/README.md
Due: console-integration

Update Application Broker Diagram (#5629)
  docs/application-connector/assets/004-AB-architecture.svg
Due: post-master-kyma-docs-website, kyma-docs

Fix protocol in tests urls
  resources/compass/charts/connector/templates/tests/test-connector.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

fix review comments
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
Due: console-integration

Add a section about Subscription updates to an existing document
  docs/event-bus/03-05-subscription-updates.md
  docs/event-bus/06-01-subscription.md
Due: post-master-kyma-docs-website, kyma-docs

hydra-maester-docu
  docs/security/03-06-oauth2-server.md
Due: post-master-kyma-docs-website, kyma-docs

Fix
  docs/event-bus/06-01-subscription.md
Due: post-master-kyma-docs-website, kyma-docs

Fix e2e upgrade tests
  tests/end-to-end/upgrade/main.go
Due: none

Fix detached frame error in UI acceptance tests (#5624)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix e2e upgrade tests (#5620)
  tests/end-to-end/upgrade/main.go
Due: none

Added logs
  components/event-bus/internal/knative/util/kn-eventing.go
  resources/event-bus/charts/subscription-controller/templates/deployment.yaml
  resources/event-bus/charts/subscription-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Improve the description of how to provide addons documentation
  docs/helm-broker/03-01-create-addons.md
  docs/helm-broker/03-07-addons-docs.md
Due: post-master-kyma-docs-website, kyma-docs

Shorten parameters names
  docs/helm-broker/03-07-addons-docs.md
Due: post-master-kyma-docs-website, kyma-docs

editorial
  docs/security/03-06-oauth2-server.md
Due: post-master-kyma-docs-website, kyma-docs

Update the requirements
  resources/knative-serving/requirements.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade
