Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Image bump
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

wiadomosc
  docs/backup/01-01-backup.md
Due: post-master-kyma-docs-website, kyma-docs

Review remarks applied.
  components/application-operator/README.md
  docs/application-connector/05-04-connector-service.md
Due: console-integration, kyma-components-application-operator, post-master-kyma-docs-website, kyma-docs

Update docs/backup/01-01-backup.md
  docs/backup/01-01-backup.md
Due: post-master-kyma-docs-website, kyma-docs

Do not change octopus image
  resources/testing/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix broken badge link for go report
  README.md
Due: none

Update README.md
  README.md
Due: none

code review cleanup
  resources/compass/charts/cockpit/templates/compass-microfrontend.yaml
  resources/compass/charts/cockpit/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

rename knative-function-controller to function-controller
  resources/function-controller/Chart.yaml
  resources/function-controller/README.md
  resources/function-controller/function-build-service-account.yaml
  resources/function-controller/templates/function_crd.yaml
  resources/function-controller/templates/manager.yaml
  resources/function-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix broken badge link for go report (#5181)
  README.md
Due: none

bump compass ui image
  resources/compass/charts/cockpit/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

remove unnecessary files
  components/function-controller/PROJECT
  components/function-controller/config/default/kustomized_config.yaml
  components/function-controller/config/default/manager_image_patch_local_dev.yaml-e
  components/function-controller/config/default/manager_image_patch_remote_dev.yaml-e
Due: console-integration

Fix cms values file
  resources/cms/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix kiali test image
  resources/kiali/templates/tests/test.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix ui-tests test image
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix kyma installer
  installation/resources/installer.yaml
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Change clusterDocsTopicsVersion
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Change image tags for release 1.4-rc1
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/compass-runtime-agent/values.yaml
  resources/compass/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/kiali/values.yaml
  resources/knative-build/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/testing/values.yaml
  resources/xip-patch/values.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tools/load-test/deploy/chart/load-test/templates/load-test.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test

change oathkeeper image
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Use ingress.domainName in compass gateway (#5157)
  resources/compass/charts/gateway/templates/virtualservice.yaml
  resources/compass/templates/test.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add retries to test to improve resilience (#5178)
  resources/core/values.yaml
  tests/integration/cluster-users/sar-test.sh
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

after review
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_converter.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

Create api for addonsconfigurations
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_converter.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_converter_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_resolver_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/addons_cfg_lister.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/addons_cfg_mutations.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/addons_cfg_updater.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/cluster_addons_cfg_lister.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/cluster_addons_cfg_mutations.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/cluster_addons_cfg_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/cluster_addons_cfg_updater.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/export.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_resolver_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/disabled/resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/export_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/addonsconfiguration.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/addonsconfiguration_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/automock/export.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/automock/gql_addons_configuration_converter.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/clusteraddonsconfiguration.go
  components/console-backend-service/internal/domain/servicecatalogaddons/pretty/kind.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

Add missing mutations
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_resolver_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/addons_cfg_updater.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/cluster_addons_cfg_updater.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_resolver_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_service_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/disabled/resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

after review
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_converter.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_service_test.go
Due: console-integration

Handle status
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_converter.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_converter_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_converter.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_converter_test.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

Create acceptance test for addons
  components/console-backend-service/internal/gqlschema/schema_gen.go
  tests/console-backend-service/Gopkg.lock
  tests/console-backend-service/internal/client/client.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_test.go
  tests/console-backend-service/internal/domain/shared/addonsconfiguration.go
  tests/console-backend-service/internal/domain/shared/fixture/addonsconfiguration.go
  tests/console-backend-service/internal/domain/shared/wait/addonsconfiguration.go
Due: console-integration

Update values.yaml
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

WIP
  tests/compass-runtime-agent/Gopkg.lock
  tests/compass-runtime-agent/test/runtimeagent/suite.go
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_test.go
  tests/compass-runtime-agent/test/testkit/assertions/k8s_resource_checker.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Compass communication scaffolding
  tests/compass-runtime-agent/Gopkg.lock
  tests/compass-runtime-agent/Gopkg.toml
  tests/compass-runtime-agent/test/apitests/main_test.go
  tests/compass-runtime-agent/test/runtimeagent/suite.go
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_suite_test.go
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_test.go
  tests/compass-runtime-agent/test/testkit/applications/api.go
  tests/compass-runtime-agent/test/testkit/applications/app.go
  tests/compass-runtime-agent/test/testkit/applications/eventapi.go
  tests/compass-runtime-agent/test/testkit/compass/client.go
  tests/compass-runtime-agent/test/testkit/compass/query.go
  tests/compass-runtime-agent/test/testkit/config.go
  tests/compass-runtime-agent/test/testkit/graphql/graphqlizer.go
  tests/compass-runtime-agent/test/testkit/wait.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Tests further scaffolding
  tests/compass-runtime-agent/Gopkg.lock
  tests/compass-runtime-agent/test/mock/applicationserver.go
  tests/compass-runtime-agent/test/mock/basicauthhandler.go
  tests/compass-runtime-agent/test/mock/csrfhandler.go
  tests/compass-runtime-agent/test/mock/errorhandler.go
  tests/compass-runtime-agent/test/mock/headershandler.go
  tests/compass-runtime-agent/test/mock/oauthhandler.go
  tests/compass-runtime-agent/test/mock/queryparamshandler.go
  tests/compass-runtime-agent/test/runtimeagent/suite.go
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_suite_test.go
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_test.go
  tests/compass-runtime-agent/test/testkit/compass/client.go
  tests/compass-runtime-agent/test/testkit/config.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

WIP
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_test.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

WIP
  tests/compass-runtime-agent/test/runtimeagent/suite.go
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_test.go
  tests/compass-runtime-agent/test/testkit/assertions/api_access_checker.go
  tests/compass-runtime-agent/test/testkit/assertions/k8s_resource_checker.go
  tests/compass-runtime-agent/test/testkit/compass/client.go
  tests/compass-runtime-agent/test/testkit/compass/query.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Add documentation about new AWS classes
  docs/service-catalog/13-04-aws-broker.md
Due: post-master-kyma-docs-website, kyma-docs

change oathkeeper image (#5188)
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
